{
  "openapi": "3.0.3",
  "info": {
    "title": "Deezer API",
    "description": "The Deezer API provides access to the Deezer music catalog. Search for tracks, albums, artists, playlists, and more. Some endpoints require OAuth authentication for user-specific data.",
    "version": "1.0.0",
    "contact": {
      "name": "Deezer",
      "url": "https://developers.deezer.com"
    },
    "termsOfService": "https://developers.deezer.com/termsofuse",
    "x-jentic-source-url": "https://developers.deezer.com/api"
  },
  "servers": [
    {
      "url": "https://api.deezer.com",
      "description": "Production API server"
    }
  ],
  "paths": {
    "/album/{id}": {
      "get": {
        "operationId": "getAlbum",
        "summary": "Get an album",
        "tags": [
          "albums"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Album object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Album"
                }
              }
            }
          }
        }
      }
    },
    "/album/{id}/tracks": {
      "get": {
        "operationId": "getAlbumTracks",
        "summary": "Get tracks of an album",
        "tags": [
          "albums"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "index",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 25
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of tracks",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrackList"
                }
              }
            }
          }
        }
      }
    },
    "/artist/{id}": {
      "get": {
        "operationId": "getArtist",
        "summary": "Get an artist",
        "tags": [
          "artists"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Artist object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Artist"
                }
              }
            }
          }
        }
      }
    },
    "/artist/{id}/top": {
      "get": {
        "operationId": "getArtistTopTracks",
        "summary": "Get top tracks of an artist",
        "tags": [
          "artists"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 25
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of tracks",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrackList"
                }
              }
            }
          }
        }
      }
    },
    "/artist/{id}/albums": {
      "get": {
        "operationId": "getArtistAlbums",
        "summary": "Get albums of an artist",
        "tags": [
          "artists"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "index",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 25
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of albums",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AlbumList"
                }
              }
            }
          }
        }
      }
    },
    "/artist/{id}/related": {
      "get": {
        "operationId": "getRelatedArtists",
        "summary": "Get related artists",
        "tags": [
          "artists"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "index",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 25
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of related artists",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArtistList"
                }
              }
            }
          }
        }
      }
    },
    "/artist/{id}/radio": {
      "get": {
        "operationId": "getArtistRadio",
        "summary": "Get artist radio tracks",
        "tags": [
          "artists"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of tracks",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrackList"
                }
              }
            }
          }
        }
      }
    },
    "/artist/{id}/playlists": {
      "get": {
        "operationId": "getArtistPlaylists",
        "summary": "Get playlists featuring an artist",
        "tags": [
          "artists"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "index",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 25
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of playlists",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlaylistList"
                }
              }
            }
          }
        }
      }
    },
    "/track/{id}": {
      "get": {
        "operationId": "getTrack",
        "summary": "Get a track",
        "tags": [
          "tracks"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Track object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Track"
                }
              }
            }
          }
        }
      }
    },
    "/playlist/{id}": {
      "get": {
        "operationId": "getPlaylist",
        "summary": "Get a playlist",
        "tags": [
          "playlists"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Playlist object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Playlist"
                }
              }
            }
          }
        }
      }
    },
    "/playlist/{id}/tracks": {
      "get": {
        "operationId": "getPlaylistTracks",
        "summary": "Get tracks of a playlist",
        "tags": [
          "playlists"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "index",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 25
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of tracks",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrackList"
                }
              }
            }
          }
        }
      }
    },
    "/search": {
      "get": {
        "operationId": "search",
        "summary": "Search tracks",
        "tags": [
          "search"
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "description": "Search query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "index",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 25
            }
          },
          {
            "name": "order",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "RANKING",
                "TRACK_ASC",
                "TRACK_DESC",
                "ARTIST_ASC",
                "ARTIST_DESC",
                "ALBUM_ASC",
                "ALBUM_DESC",
                "RATING_ASC",
                "RATING_DESC",
                "DURATION_ASC",
                "DURATION_DESC"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Search results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrackList"
                }
              }
            }
          }
        }
      }
    },
    "/search/album": {
      "get": {
        "operationId": "searchAlbums",
        "summary": "Search albums",
        "tags": [
          "search"
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "index",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 25
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Album search results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AlbumList"
                }
              }
            }
          }
        }
      }
    },
    "/search/artist": {
      "get": {
        "operationId": "searchArtists",
        "summary": "Search artists",
        "tags": [
          "search"
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "index",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 25
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Artist search results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArtistList"
                }
              }
            }
          }
        }
      }
    },
    "/search/playlist": {
      "get": {
        "operationId": "searchPlaylists",
        "summary": "Search playlists",
        "tags": [
          "search"
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "index",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 25
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Playlist search results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlaylistList"
                }
              }
            }
          }
        }
      }
    },
    "/genre": {
      "get": {
        "operationId": "listGenres",
        "summary": "List all genres",
        "tags": [
          "genres"
        ],
        "responses": {
          "200": {
            "description": "List of genres",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenreList"
                }
              }
            }
          }
        }
      }
    },
    "/genre/{id}": {
      "get": {
        "operationId": "getGenre",
        "summary": "Get a genre",
        "tags": [
          "genres"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Genre object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Genre"
                }
              }
            }
          }
        }
      }
    },
    "/genre/{id}/artists": {
      "get": {
        "operationId": "getGenreArtists",
        "summary": "Get artists of a genre",
        "tags": [
          "genres"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of artists",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArtistList"
                }
              }
            }
          }
        }
      }
    },
    "/chart": {
      "get": {
        "operationId": "getChart",
        "summary": "Get chart data",
        "tags": [
          "charts"
        ],
        "responses": {
          "200": {
            "description": "Chart data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/chart/0/tracks": {
      "get": {
        "operationId": "getChartTracks",
        "summary": "Get chart tracks",
        "tags": [
          "charts"
        ],
        "parameters": [
          {
            "name": "index",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 25
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Chart tracks",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrackList"
                }
              }
            }
          }
        }
      }
    },
    "/chart/0/albums": {
      "get": {
        "operationId": "getChartAlbums",
        "summary": "Get chart albums",
        "tags": [
          "charts"
        ],
        "parameters": [
          {
            "name": "index",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 25
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Chart albums",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AlbumList"
                }
              }
            }
          }
        }
      }
    },
    "/chart/0/artists": {
      "get": {
        "operationId": "getChartArtists",
        "summary": "Get chart artists",
        "tags": [
          "charts"
        ],
        "parameters": [
          {
            "name": "index",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 25
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Chart artists",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArtistList"
                }
              }
            }
          }
        }
      }
    },
    "/chart/0/playlists": {
      "get": {
        "operationId": "getChartPlaylists",
        "summary": "Get chart playlists",
        "tags": [
          "charts"
        ],
        "parameters": [
          {
            "name": "index",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 25
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Chart playlists",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlaylistList"
                }
              }
            }
          }
        }
      }
    },
    "/radio": {
      "get": {
        "operationId": "listRadio",
        "summary": "List radio stations",
        "tags": [
          "radio"
        ],
        "responses": {
          "200": {
            "description": "List of radio stations",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/radio/{id}/tracks": {
      "get": {
        "operationId": "getRadioTracks",
        "summary": "Get tracks of a radio station",
        "tags": [
          "radio"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Radio tracks",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrackList"
                }
              }
            }
          }
        }
      }
    },
    "/user/me": {
      "get": {
        "operationId": "getCurrentUser",
        "summary": "Get current user profile",
        "description": "Requires OAuth authentication.",
        "tags": [
          "users"
        ],
        "security": [
          {
            "OAuth2": [
              "basic_access"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "User object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          }
        }
      }
    },
    "/user/me/playlists": {
      "get": {
        "operationId": "getUserPlaylists",
        "summary": "Get current user's playlists",
        "tags": [
          "users"
        ],
        "security": [
          {
            "OAuth2": [
              "basic_access"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "User playlists",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlaylistList"
                }
              }
            }
          }
        }
      }
    },
    "/user/me/tracks": {
      "get": {
        "operationId": "getUserFavoriteTracks",
        "summary": "Get current user's favorite tracks",
        "tags": [
          "users"
        ],
        "security": [
          {
            "OAuth2": [
              "basic_access"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Favorite tracks",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrackList"
                }
              }
            }
          }
        }
      }
    },
    "/user/me/albums": {
      "get": {
        "operationId": "getUserFavoriteAlbums",
        "summary": "Get current user's favorite albums",
        "tags": [
          "users"
        ],
        "security": [
          {
            "OAuth2": [
              "basic_access"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Favorite albums",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AlbumList"
                }
              }
            }
          }
        }
      }
    },
    "/user/me/artists": {
      "get": {
        "operationId": "getUserFavoriteArtists",
        "summary": "Get current user's favorite artists",
        "tags": [
          "users"
        ],
        "security": [
          {
            "OAuth2": [
              "basic_access"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Favorite artists",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArtistList"
                }
              }
            }
          }
        }
      }
    },
    "/user/{id}": {
      "get": {
        "operationId": "getUser",
        "summary": "Get a user profile",
        "tags": [
          "users"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "OAuth2": {
        "type": "oauth2",
        "description": "Deezer OAuth2 authentication for user-specific endpoints",
        "flows": {
          "implicit": {
            "authorizationUrl": "https://connect.deezer.com/oauth/auth.php",
            "scopes": {
              "basic_access": "Access basic user information",
              "email": "Access user email",
              "offline_access": "Access user data offline",
              "manage_library": "Manage user library",
              "manage_community": "Manage user community",
              "delete_library": "Delete user library items",
              "listening_history": "Access listening history"
            }
          }
        }
      },
      "AccessToken": {
        "type": "apiKey",
        "in": "query",
        "name": "access_token",
        "description": "OAuth access token passed as query parameter"
      }
    },
    "schemas": {
      "Track": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "readable": {
            "type": "boolean"
          },
          "title": {
            "type": "string"
          },
          "title_short": {
            "type": "string"
          },
          "link": {
            "type": "string",
            "format": "uri"
          },
          "duration": {
            "type": "integer",
            "description": "Duration in seconds"
          },
          "rank": {
            "type": "integer"
          },
          "explicit_lyrics": {
            "type": "boolean"
          },
          "preview": {
            "type": "string",
            "format": "uri",
            "description": "URL of 30-second preview"
          },
          "artist": {
            "$ref": "#/components/schemas/ArtistSummary"
          },
          "album": {
            "$ref": "#/components/schemas/AlbumSummary"
          },
          "type": {
            "type": "string",
            "enum": [
              "track"
            ]
          }
        }
      },
      "Album": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "title": {
            "type": "string"
          },
          "link": {
            "type": "string",
            "format": "uri"
          },
          "cover": {
            "type": "string",
            "format": "uri"
          },
          "cover_small": {
            "type": "string",
            "format": "uri"
          },
          "cover_medium": {
            "type": "string",
            "format": "uri"
          },
          "cover_big": {
            "type": "string",
            "format": "uri"
          },
          "cover_xl": {
            "type": "string",
            "format": "uri"
          },
          "nb_tracks": {
            "type": "integer"
          },
          "duration": {
            "type": "integer"
          },
          "fans": {
            "type": "integer"
          },
          "release_date": {
            "type": "string",
            "format": "date"
          },
          "record_type": {
            "type": "string"
          },
          "tracklist": {
            "type": "string",
            "format": "uri"
          },
          "explicit_lyrics": {
            "type": "boolean"
          },
          "artist": {
            "$ref": "#/components/schemas/ArtistSummary"
          },
          "type": {
            "type": "string",
            "enum": [
              "album"
            ]
          }
        }
      },
      "AlbumSummary": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "title": {
            "type": "string"
          },
          "cover": {
            "type": "string",
            "format": "uri"
          },
          "tracklist": {
            "type": "string",
            "format": "uri"
          },
          "type": {
            "type": "string",
            "enum": [
              "album"
            ]
          }
        }
      },
      "Artist": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "link": {
            "type": "string",
            "format": "uri"
          },
          "picture": {
            "type": "string",
            "format": "uri"
          },
          "picture_small": {
            "type": "string",
            "format": "uri"
          },
          "picture_medium": {
            "type": "string",
            "format": "uri"
          },
          "picture_big": {
            "type": "string",
            "format": "uri"
          },
          "picture_xl": {
            "type": "string",
            "format": "uri"
          },
          "nb_album": {
            "type": "integer"
          },
          "nb_fan": {
            "type": "integer"
          },
          "tracklist": {
            "type": "string",
            "format": "uri"
          },
          "type": {
            "type": "string",
            "enum": [
              "artist"
            ]
          }
        }
      },
      "ArtistSummary": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "tracklist": {
            "type": "string",
            "format": "uri"
          },
          "type": {
            "type": "string",
            "enum": [
              "artist"
            ]
          }
        }
      },
      "Playlist": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "duration": {
            "type": "integer"
          },
          "public": {
            "type": "boolean"
          },
          "is_loved_track": {
            "type": "boolean"
          },
          "collaborative": {
            "type": "boolean"
          },
          "nb_tracks": {
            "type": "integer"
          },
          "fans": {
            "type": "integer"
          },
          "link": {
            "type": "string",
            "format": "uri"
          },
          "picture": {
            "type": "string",
            "format": "uri"
          },
          "creator": {
            "$ref": "#/components/schemas/UserSummary"
          },
          "type": {
            "type": "string",
            "enum": [
              "playlist"
            ]
          }
        }
      },
      "Genre": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "picture": {
            "type": "string",
            "format": "uri"
          },
          "type": {
            "type": "string",
            "enum": [
              "genre"
            ]
          }
        }
      },
      "User": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "link": {
            "type": "string",
            "format": "uri"
          },
          "picture": {
            "type": "string",
            "format": "uri"
          },
          "country": {
            "type": "string"
          },
          "tracklist": {
            "type": "string",
            "format": "uri"
          },
          "type": {
            "type": "string",
            "enum": [
              "user"
            ]
          }
        }
      },
      "UserSummary": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "user"
            ]
          }
        }
      },
      "TrackList": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Track"
            }
          },
          "total": {
            "type": "integer"
          },
          "next": {
            "type": "string",
            "format": "uri"
          }
        }
      },
      "AlbumList": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Album"
            }
          },
          "total": {
            "type": "integer"
          },
          "next": {
            "type": "string",
            "format": "uri"
          }
        }
      },
      "ArtistList": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Artist"
            }
          },
          "total": {
            "type": "integer"
          },
          "next": {
            "type": "string",
            "format": "uri"
          }
        }
      },
      "PlaylistList": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Playlist"
            }
          },
          "total": {
            "type": "integer"
          },
          "next": {
            "type": "string",
            "format": "uri"
          }
        }
      },
      "GenreList": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Genre"
            }
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "albums",
      "description": "Album resources"
    },
    {
      "name": "artists",
      "description": "Artist resources"
    },
    {
      "name": "tracks",
      "description": "Track resources"
    },
    {
      "name": "playlists",
      "description": "Playlist resources"
    },
    {
      "name": "search",
      "description": "Search across the catalog"
    },
    {
      "name": "genres",
      "description": "Genre resources"
    },
    {
      "name": "charts",
      "description": "Chart data"
    },
    {
      "name": "radio",
      "description": "Radio stations"
    },
    {
      "name": "users",
      "description": "User resources (some require OAuth)"
    }
  ]
}