{
  "openapi": "3.0.3",
  "info": {
    "title": "Swagger SDK Documento",
    "description": "API para o SDK de Documento",
    "version": "1.0.0",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/seras/swagger-sdk-documento/1.0.0"
  },
  "servers": [
    {
      "url": "https://document.brscan.com.br"
    }
  ],
  "components": {
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic",
        "bearerFormat": "JWT"
      }
    },
    "schemas": {
      "mobile_sdklicenca_body": {
        "required": [
          "api_level",
          "key",
          "model",
          "os",
          "version"
        ],
        "type": "object",
        "properties": {
          "key": {
            "type": "string"
          },
          "os": {
            "type": "string"
          },
          "version": {
            "type": "string"
          },
          "api_level": {
            "type": "string"
          },
          "model": {
            "type": "string"
          }
        }
      },
      "inline_response_200": {
        "type": "object",
        "properties": {
          "res": {
            "type": "object",
            "properties": {
              "template": {
                "type": "string"
              },
              "ind_kba": {
                "type": "string"
              },
              "ind_fraudnet": {
                "type": "boolean"
              },
              "licenca_kofax": {
                "type": "string"
              },
              "liveness_autentication": {
                "type": "string"
              },
              "liveness_license": {
                "type": "string"
              },
              "licenca_zoom": {
                "type": "string"
              },
              "user": {
                "type": "string"
              },
              "url": {
                "type": "string"
              },
              "idx": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "cod": {
                      "type": "string"
                    },
                    "desc": {
                      "type": "string"
                    },
                    "optional": {
                      "type": "string"
                    },
                    "tipo": {
                      "type": "string"
                    },
                    "doc": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "cod": {
                            "type": "string"
                          },
                          "tipo": {
                            "type": "string"
                          },
                          "desc": {
                            "type": "string"
                          },
                          "auth": {
                            "type": "string"
                          },
                          "parse": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "inline_response_200_1": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "token": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "timestamp": {
            "type": "number"
          }
        }
      },
      "compliance_licenca_body": {
        "required": [
          "accepted",
          "api_level",
          "document_file",
          "key",
          "licenca",
          "model",
          "os",
          "side",
          "type",
          "version"
        ],
        "type": "object",
        "properties": {
          "key": {
            "type": "string"
          },
          "model": {
            "type": "string"
          },
          "os": {
            "type": "string"
          },
          "metadados": {
            "type": "string"
          },
          "version": {
            "type": "string"
          },
          "api_level": {
            "type": "string"
          },
          "origin": {
            "type": "string"
          },
          "number_of_attempts": {
            "type": "integer"
          },
          "capture_time": {
            "type": "number"
          },
          "document_file": {
            "type": "string",
            "format": "binary"
          },
          "type": {
            "type": "string"
          },
          "side": {
            "type": "string"
          },
          "accepted": {
            "type": "boolean"
          }
        }
      },
      "inline_response_200_2": {
        "type": "object",
        "properties": {
          "tracking_id": {
            "type": "string"
          },
          "typification": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "num_detected_documents": {
                  "type": "integer"
                },
                "predominant_document_type": {
                  "type": "string"
                },
                "predominant_side": {
                  "type": "string"
                },
                "score": {
                  "type": "number"
                }
              }
            }
          },
          "spoof": {
            "type": "object",
            "properties": {
              "valid": {
                "type": "boolean"
              },
              "details": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "replay": {
                      "type": "boolean"
                    },
                    "fields": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          },
          "quality": {
            "type": "object",
            "properties": {
              "valid": {
                "type": "boolean"
              },
              "details": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "blurred": {
                      "type": "boolean"
                    },
                    "colored": {
                      "type": "boolean"
                    },
                    "prk_log_document": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "paths": {
    "/v1/mobile/sdk-licenca": {
      "post": {
        "summary": "Cria/valida licen\u00e7a do SDK (mobile)",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/mobile_sdklicenca_body"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Resposta bem-sucedida",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200"
                }
              }
            }
          }
        }
      }
    },
    "/v1/init/{licenca}": {
      "post": {
        "summary": "Inicializa sess\u00e3o com licen\u00e7a",
        "parameters": [
          {
            "name": "licenca",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "example": "Basic tesadkasdasdadad"
            }
          },
          {
            "name": "origin",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "https://preprod-gedoc.vivo.com.br"
            }
          },
          {
            "name": "referer",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "https://preprod-gedoc.vivo.com.br/"
            }
          }
        ],
        "security": [
          {
            "basicAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Resposta bem-sucedida",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200_1"
                }
              }
            }
          }
        }
      }
    },
    "/document/compliance/{licenca}": {
      "post": {
        "summary": "Envia documento para compliance",
        "parameters": [
          {
            "name": "licenca",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "example": "Bearer asdandedanfdosasda="
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/compliance_licenca_body"
              }
            }
          },
          "required": true
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Resposta bem-sucedida",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200_2"
                }
              }
            }
          }
        }
      }
    }
  }
}