{
  "openapi": "3.0.3",
  "info": {
    "title": "GoldRush Multichain Data APIs",
    "version": "1.0.0",
    "description": "Covalent's GoldRush Multichain Data APIs OpenAPI Schema.",
    "x-jentic-source-url": "https://covalenthq.com/docs/api-reference/openapi.json",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://api.covalenthq.com"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/allchains/transactions/": {
      "get": {
        "tags": [
          "get-allchains-transactions"
        ],
        "description": "Fetch paginated transactions for up to 10 EVM addresses and 10 EVM chains with one API call. Useful for building Activity Feeds. ",
        "operationId": "getTransactions",
        "parameters": [
          {
            "name": "chains",
            "in": "query",
            "description": "Comma separated list of chain names or IDs to retrieve transactions from. Defaults to all foundational chains.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "addresses",
            "in": "query",
            "description": "Comma separated list of addresses for which transactions are fetched.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of transactions to return per page, up to the default max of 100 items.",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "before",
            "in": "query",
            "description": "Pagination cursor pointing to fetch transactions before a certain point.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "after",
            "in": "query",
            "description": "Pagination cursor pointing to fetch transactions after a certain point.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "with-logs",
            "in": "query",
            "description": "Whether to include raw logs in the response.",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "with-decoded-logs",
            "in": "query",
            "description": "Whether to include decoded logs in the response.",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "with-internal",
            "in": "query",
            "description": "Whether to include internal transfers/transactions.",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "with-state",
            "in": "query",
            "description": "Whether to include all transaction state changes with before and after values.",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "with-input-data",
            "in": "query",
            "description": "Whether to include the transaction's input data such as the Method ID.",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "quote-currency",
            "in": "query",
            "description": "The currency to convert. Supports `USD`, `CAD`, `EUR`, `SGD`, `INR`, `JPY`, `VND`, `CNY`, `KRW`, `RUB`, `TRY`, `NGN`, `ARS`, `AUD`, `CHF`, `GBP`, `BTC` and `ETH`.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "updated_at": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Timestamp for when the data was last updated."
                    },
                    "cursor_before": {
                      "type": "string",
                      "description": "Pagination cursor pointing to the previous page."
                    },
                    "cursor_after": {
                      "type": "string",
                      "description": "Pagination cursor pointing to the next page."
                    },
                    "quote_currency": {
                      "type": "string",
                      "description": "The requested quote currency eg: `USD`."
                    },
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "block_height": {
                            "type": "integer",
                            "description": "The height of the block."
                          },
                          "block_signed_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "The signed block timestamp in UTC."
                          },
                          "block_hash": {
                            "type": "string",
                            "description": "The hash of the block. Use it to remove transactions from blocks that are reorged."
                          },
                          "tx_hash": {
                            "type": "string",
                            "description": "The transaction hash."
                          },
                          "tx_offset": {
                            "type": "integer",
                            "description": "The offset is the position of the tx in the block."
                          },
                          "miner_address": {
                            "type": "string",
                            "description": "The address of the miner who mined the block."
                          },
                          "from_address": {
                            "type": "string"
                          },
                          "to_address": {
                            "type": "string",
                            "description": "The recipient's wallet address."
                          },
                          "value": {
                            "type": "string",
                            "description": "b;The value of the transaction in wei."
                          },
                          "value_quote": {
                            "type": "number",
                            "format": "double",
                            "description": "The value attached in `quote-currency` to this tx."
                          },
                          "pretty_value_quote": {
                            "type": "string",
                            "description": "A prettier version of the quote for rendering purposes."
                          },
                          "gas_offered": {
                            "type": "integer",
                            "format": "int64",
                            "description": "The gas offered for the transaction."
                          },
                          "gas_spent": {
                            "type": "integer",
                            "format": "int64",
                            "description": "The gas actually spent by the transaction."
                          },
                          "gas_price": {
                            "type": "integer",
                            "format": "int64",
                            "description": "The gas price at the time of this tx in wei."
                          },
                          "gas_quote": {
                            "type": "number",
                            "format": "double",
                            "description": "The gas spent in `quote-currency` denomination."
                          },
                          "pretty_gas_quote": {
                            "type": "string",
                            "description": "A prettier version of the quote for rendering purposes."
                          },
                          "gas_quote_rate": {
                            "type": "number",
                            "format": "double",
                            "description": "The native gas exchange rate for the requested `quote-currency`."
                          },
                          "fees_paid": {
                            "type": "string",
                            "description": "b;The total transaction fees (`gas_price` * `gas_spent`) paid for this tx, denoted in wei."
                          },
                          "gas_metadata": {
                            "type": "object",
                            "properties": {
                              "contract_decimals": {
                                "type": "integer",
                                "description": "Use contract decimals to format the token balance for display purposes - divide the balance by `10^{contract_decimals}`."
                              },
                              "contract_name": {
                                "type": "string",
                                "description": "The string returned by the `name()` method."
                              },
                              "contract_ticker_symbol": {
                                "type": "string",
                                "description": "The ticker symbol for this contract. This field is set by a developer and non-unique across a network."
                              },
                              "contract_address": {
                                "type": "string",
                                "description": "Use the relevant `contract_address` to lookup prices, logos, token transfers, etc."
                              },
                              "supports_erc": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                },
                                "description": "A list of supported standard ERC interfaces, eg: `ERC20` and `ERC721`."
                              },
                              "logo_url": {
                                "type": "string",
                                "description": "The contract logo URL."
                              }
                            },
                            "description": "The requested chain native gas token metadata."
                          },
                          "successful": {
                            "type": "boolean",
                            "description": "Indicated whether the transaction was successful or failed."
                          },
                          "chain_id": {
                            "type": "string",
                            "description": "The chain ID of the blockchain where the transaction occurred."
                          },
                          "chain_name": {
                            "type": "string",
                            "description": "The chain name of the blockchain where the transaction occurred."
                          },
                          "explorers": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "label": {
                                  "type": "string",
                                  "description": "The name of the explorer."
                                },
                                "url": {
                                  "type": "string",
                                  "description": "The URL of the explorer."
                                }
                              }
                            },
                            "description": "The block explorer links for this transaction."
                          },
                          "log_events": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "block_signed_at": {
                                  "type": "string",
                                  "format": "date-time",
                                  "description": "The block signed timestamp in UTC."
                                },
                                "block_height": {
                                  "type": "integer",
                                  "format": "int64",
                                  "description": "The height of the block."
                                },
                                "tx_offset": {
                                  "type": "integer",
                                  "format": "int64",
                                  "description": "The offset is the position of the tx in the block."
                                },
                                "log_offset": {
                                  "type": "integer",
                                  "format": "int64",
                                  "description": "The offset is the position of the log entry within an event log."
                                },
                                "tx_hash": {
                                  "type": "string",
                                  "description": "The requested transaction hash."
                                },
                                "raw_log_topics": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  },
                                  "description": "The log topics in raw data."
                                },
                                "sender_contract_decimals": {
                                  "type": "integer",
                                  "description": "Use contract decimals to format the token balance for display purposes - divide the balance by `10^{contract_decimals}`."
                                },
                                "sender_name": {
                                  "type": "string",
                                  "description": "The name of the sender."
                                },
                                "sender_contract_ticker_symbol": {
                                  "type": "string"
                                },
                                "sender_address": {
                                  "type": "string",
                                  "description": "The address of the sender."
                                },
                                "sender_logo_url": {
                                  "type": "string",
                                  "description": "The contract logo URL."
                                },
                                "supports_erc": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  },
                                  "description": "A list of supported standard ERC interfaces, eg: `ERC20` and `ERC721`."
                                },
                                "sender_factory_address": {
                                  "type": "string",
                                  "description": "The address of the deployed UniswapV2 like factory contract for this DEX."
                                },
                                "raw_log_data": {
                                  "type": "string",
                                  "description": "The log events in raw."
                                },
                                "decoded": {
                                  "type": "object",
                                  "properties": {
                                    "name": {
                                      "type": "string"
                                    },
                                    "signature": {
                                      "type": "string"
                                    },
                                    "params": {
                                      "type": "array",
                                      "items": {
                                        "type": "object",
                                        "properties": {
                                          "name": {
                                            "type": "string"
                                          },
                                          "type": {
                                            "type": "string"
                                          },
                                          "indexed": {
                                            "type": "boolean"
                                          },
                                          "decoded": {
                                            "type": "boolean"
                                          },
                                          "value": {
                                            "type": "string"
                                          }
                                        }
                                      }
                                    }
                                  },
                                  "description": "The decoded item."
                                }
                              }
                            },
                            "description": "Event logs generated by the transaction."
                          },
                          "internal_transfers": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "from_address": {
                                  "type": "string",
                                  "description": "The contract address sending the native token."
                                },
                                "to_address": {
                                  "type": "string",
                                  "description": "The internal transfer recipient wallet address."
                                },
                                "value": {
                                  "type": "string",
                                  "description": "b;The value of the internal transfer in wei."
                                },
                                "gas_limit": {
                                  "type": "integer",
                                  "format": "int64",
                                  "description": "The gas available from the parent transaction or contract call."
                                }
                              }
                            },
                            "description": "List of internal transfers/transactions associated with the wallet address."
                          },
                          "state_changes": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "address": {
                                  "type": "string"
                                },
                                "balance_before": {
                                  "type": "string",
                                  "description": "b;The balance of the native token before the transaction in wei."
                                },
                                "balance_after": {
                                  "type": "string",
                                  "description": "b;The balance of the native token after the transaction in wei."
                                },
                                "storage_changes": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "storage_address": {
                                        "type": "string",
                                        "description": "The specific storage slot in the contract's storage space."
                                      },
                                      "value_before": {
                                        "type": "string",
                                        "description": "The hex value stored in the slot before the transaction."
                                      },
                                      "value_after": {
                                        "type": "string",
                                        "description": "The hex value stored in the slot after the transaction."
                                      }
                                    }
                                  },
                                  "description": "List of before and after values in the storage address."
                                },
                                "nonce_before": {
                                  "type": "integer",
                                  "description": "The transaction count for this address before the transaction."
                                },
                                "nonce_after": {
                                  "type": "integer",
                                  "description": "The transaction count for this address after the transaction."
                                }
                              }
                            },
                            "description": "List of state changes with before and after values and balances for involved contract and wallet addresses."
                          },
                          "input_data": {
                            "type": "object",
                            "properties": {
                              "method_id": {
                                "type": "string",
                                "description": "The first 4 bytes of the invoked smart contract function signature. Used to identify the function being called in the contract."
                              }
                            },
                            "description": "Object with a transaction's input data such as the Method ID."
                          }
                        }
                      },
                      "description": "List of transactions returned by the API."
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": []
      }
    },
    "/v1/allchains/address/{walletAddress}/balances/": {
      "get": {
        "tags": [
          "get-allchains-balances"
        ],
        "description": "Fetch paginated spot & historical native and token balances for a single address on up to 10 EVM chains with one API call.",
        "operationId": "getTokenBalances",
        "parameters": [
          {
            "name": "walletAddress",
            "in": "path",
            "description": "The requested address. Domain names (e.g. `demo.eth`) NOT supported.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "chains",
            "in": "query",
            "description": "Comma separated list of chain names or IDs to retrieve token balances from. Defaults to all foundational chains.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of token balances to return per page, up to the default max of 100 items.",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "before",
            "in": "query",
            "description": "Pagination cursor pointing to fetch token balances before a certain point.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cutoff-timestamp",
            "in": "query",
            "description": "UNIX timestamp to retrieve the balance snapshot from the nearest block before the specified cutoff time.",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "quote-currency",
            "in": "query",
            "description": "The currency to convert. Supports `USD`, `CAD`, `EUR`, `SGD`, `INR`, `JPY`, `VND`, `CNY`, `KRW`, `RUB`, `TRY`, `NGN`, `ARS`, `AUD`, `CHF`, `GBP`, `BTC` and `ETH`.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "updated_at": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Timestamp for when the data was last updated."
                    },
                    "cursor_before": {
                      "type": "string",
                      "description": "Pagination cursor pointing to the previous page."
                    },
                    "quote_currency": {
                      "type": "string",
                      "description": "The requested quote currency eg: `USD`."
                    },
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "contract_decimals": {
                            "type": "integer",
                            "description": "Use contract decimals to format the balance for display purposes - divide the balance by `10^{contract_decimals}`."
                          },
                          "contract_name": {
                            "type": "string",
                            "description": "The string returned by the `name()` method."
                          },
                          "contract_ticker_symbol": {
                            "type": "string",
                            "description": "The ticker symbol for this contract. This field is set by a developer and non-unique across a network."
                          },
                          "contract_address": {
                            "type": "string",
                            "description": "Use the relevant `contract_address` to lookup prices, logos, token transfers, etc."
                          },
                          "contract_display_name": {
                            "type": "string",
                            "description": "A display-friendly name for the contract."
                          },
                          "supports_erc": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "A list of supported standard ERC interfaces, eg: `ERC20` and `ERC721`."
                          },
                          "logo_urls": {
                            "type": "object",
                            "properties": {
                              "token_logo_url": {
                                "type": "string",
                                "description": "The token logo URL."
                              },
                              "protocol_logo_url": {
                                "type": "string",
                                "description": "The protocol logo URL."
                              },
                              "chain_logo_url": {
                                "type": "string",
                                "description": "The chain logo URL."
                              }
                            },
                            "description": "The contract logo URLs."
                          },
                          "last_transferred_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "The timestamp when the token was transferred."
                          },
                          "is_native_token": {
                            "type": "boolean",
                            "description": "Indicates if a token is the chain's native gas token, eg: ETH on Ethereum."
                          },
                          "type": {
                            "type": "string",
                            "description": "One of `cryptocurrency`, `stablecoin`, `nft` or `dust`."
                          },
                          "is_spam": {
                            "type": "boolean",
                            "description": "Denotes whether the token is suspected spam."
                          },
                          "balance": {
                            "type": "string",
                            "description": "b;The asset balance. Use `contract_decimals` to scale this balance for display purposes."
                          },
                          "balance_24h": {
                            "type": "string",
                            "description": "b;The 24h asset balance. Use `contract_decimals` to scale this balance for display purposes."
                          },
                          "quote_rate": {
                            "type": "number",
                            "format": "double",
                            "description": "The exchange rate for the requested quote currency."
                          },
                          "quote_rate_24h": {
                            "type": "number",
                            "format": "double",
                            "description": "The 24h exchange rate for the requested quote currency."
                          },
                          "quote": {
                            "type": "number",
                            "format": "double",
                            "description": "The current balance converted to fiat in `quote-currency`."
                          },
                          "quote_24h": {
                            "type": "number",
                            "format": "double",
                            "description": "The 24h balance converted to fiat in `quote-currency`."
                          },
                          "pretty_quote": {
                            "type": "string",
                            "description": "A prettier version of the quote for rendering purposes."
                          },
                          "pretty_quote_24h": {
                            "type": "string",
                            "description": "A prettier version of the 24h quote for rendering purposes."
                          },
                          "chain_id": {
                            "type": "integer",
                            "description": "The chain ID that this balance is on. eg: `1`."
                          },
                          "chain_name": {
                            "type": "string",
                            "description": "The chain name that this balance is on. eg: `eth-mainnet`."
                          },
                          "chain_display_name": {
                            "type": "string",
                            "description": "A display-friendly name for the chain."
                          }
                        }
                      },
                      "description": "List of token balances returned by the API."
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "TypeScript",
            "label": "GoldRush SDK",
            "source": "import { GoldRushClient } from \"@covalenthq/client-sdk\";\n\nconst ApiServices = async () => {\n    const client = new GoldRushClient(\"YOUR_API_KEY\");\n    const resp = await client.AllChainsService.getTokenBalances({chainName: \"chainName\", walletAddress: \"walletAddress\"});\n    console.log(resp.data);\n};\n\nApiServices();"
          }
        ]
      }
    },
    "/v1/{chainName}/approvals/{walletAddress}/": {
      "get": {
        "tags": [
          "get-token-approvals-for-address"
        ],
        "description": "Commonly used to get a list of approvals across all token contracts categorized by spenders for a wallet’s assets.",
        "operationId": "getApprovals",
        "parameters": [
          {
            "name": "chainName",
            "in": "path",
            "description": "The chain name eg: `eth-mainnet`.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "walletAddress",
            "in": "path",
            "description": "The requested address. Passing in an `ENS`, `RNS`, `Lens Handle`, or an `Unstoppable Domain` resolves automatically.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "address": {
                      "type": "string",
                      "description": "The requested address."
                    },
                    "updated_at": {
                      "type": "string",
                      "format": "date-time",
                      "description": "The timestamp when the response was generated. Useful to show data staleness to users."
                    },
                    "quote_currency": {
                      "type": "string",
                      "description": "The requested quote currency eg: `USD`."
                    },
                    "chain_id": {
                      "type": "integer",
                      "description": "The requested chain ID eg: `1`."
                    },
                    "chain_name": {
                      "type": "string",
                      "description": "The requested chain name eg: `eth-mainnet`."
                    },
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "token_address": {
                            "type": "string",
                            "description": "The address for the token that has approvals."
                          },
                          "token_address_label": {
                            "type": "string",
                            "description": "The name for the token that has approvals."
                          },
                          "ticker_symbol": {
                            "type": "string",
                            "description": "The ticker symbol for this contract. This field is set by a developer and non-unique across a network."
                          },
                          "contract_decimals": {
                            "type": "integer",
                            "description": "Use contract decimals to format the token balance for display purposes - divide the balance by `10^{contract_decimals}`."
                          },
                          "logo_url": {
                            "type": "string",
                            "description": "The contract logo URL."
                          },
                          "quote_rate": {
                            "type": "number",
                            "format": "double",
                            "description": "The exchange rate for the requested quote currency."
                          },
                          "balance": {
                            "type": "string",
                            "description": "b;Wallet balance of the token."
                          },
                          "balance_quote": {
                            "type": "number",
                            "format": "double",
                            "description": "Value of the wallet balance of the token."
                          },
                          "pretty_balance_quote": {
                            "type": "string",
                            "description": "A prettier version of the quote for rendering purposes."
                          },
                          "value_at_risk": {
                            "type": "string",
                            "description": "Total amount at risk across all spenders."
                          },
                          "value_at_risk_quote": {
                            "type": "number",
                            "format": "double",
                            "description": "Value of total amount at risk across all spenders."
                          },
                          "pretty_value_at_risk_quote": {
                            "type": "string",
                            "description": "A prettier version of the quote for rendering purposes."
                          },
                          "spenders": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "block_height": {
                                  "type": "integer",
                                  "format": "int64",
                                  "description": "The height of the block."
                                },
                                "tx_offset": {
                                  "type": "integer",
                                  "format": "int64",
                                  "description": "The offset is the position of the tx in the block."
                                },
                                "log_offset": {
                                  "type": "integer",
                                  "format": "int64",
                                  "description": "The offset is the position of the log entry within an event log.\""
                                },
                                "block_signed_at": {
                                  "type": "string",
                                  "format": "date-time",
                                  "description": "The block signed timestamp in UTC."
                                },
                                "tx_hash": {
                                  "type": "string",
                                  "description": "Most recent transaction that updated approval amounts for the token."
                                },
                                "spender_address": {
                                  "type": "string",
                                  "description": "Address of the contract with approval for the token."
                                },
                                "allowance": {
                                  "type": "string",
                                  "description": "Remaining number of tokens granted to the spender by the approval."
                                },
                                "allowance_quote": {
                                  "type": "number",
                                  "format": "double",
                                  "description": "Value of the remaining allowance specified by the approval."
                                },
                                "pretty_allowance_quote": {
                                  "type": "string",
                                  "description": "A prettier version of the quote for rendering purposes."
                                },
                                "value_at_risk": {
                                  "type": "string",
                                  "description": "Amount at risk for spender."
                                },
                                "value_at_risk_quote": {
                                  "type": "number",
                                  "format": "double",
                                  "description": "Value of amount at risk for spender."
                                },
                                "pretty_value_at_risk_quote": {
                                  "type": "string",
                                  "description": "A prettier version of the quote for rendering purposes."
                                },
                                "risk_factor": {
                                  "type": "string"
                                }
                              }
                            },
                            "description": "Contracts with non-zero approvals for this token."
                          }
                        }
                      },
                      "description": "List of response items."
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "TypeScript",
            "label": "GoldRush SDK",
            "source": "import { GoldRushClient } from \"@covalenthq/client-sdk\";\n\nconst ApiServices = async () => {\n    const client = new GoldRushClient(\"YOUR_API_KEY\");\n    const resp = await client.SecurityService.getApprovals({chainName: \"chainName\", walletAddress: \"walletAddress\"});\n    console.log(resp.data);\n};\n\nApiServices();"
          }
        ]
      }
    },
    "/v1/{chainName}/address/{walletAddress}/balances_v2/": {
      "get": {
        "tags": [
          "get-token-balances-for-address"
        ],
        "description": "Commonly used to fetch the native and fungible (ERC20) tokens held by an address. Response includes spot prices and other metadata.",
        "operationId": "getTokenBalancesForWalletAddress",
        "parameters": [
          {
            "name": "chainName",
            "in": "path",
            "description": "The chain name eg: `eth-mainnet`.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "walletAddress",
            "in": "path",
            "description": "The requested address. Passing in an `ENS`, `RNS`, `Lens Handle`, or an `Unstoppable Domain` resolves automatically.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "quote-currency",
            "in": "query",
            "description": "The currency to convert. Supports `USD`, `CAD`, `EUR`, `SGD`, `INR`, `JPY`, `VND`, `CNY`, `KRW`, `RUB`, `TRY`, `NGN`, `ARS`, `AUD`, `CHF`, and `GBP`.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "no-spam",
            "in": "query",
            "description": "If `true`, the suspected spam tokens are removed. Supported on all Foundational Chains.",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "address": {
                      "type": "string",
                      "description": "The requested address."
                    },
                    "chain_id": {
                      "type": "integer",
                      "description": "The requested chain ID eg: `1`."
                    },
                    "chain_name": {
                      "type": "string",
                      "description": "The requested chain name eg: `eth-mainnet`."
                    },
                    "chain_tip_height": {
                      "type": "integer",
                      "description": "The latest block height of the blockchain at the time this response was provided."
                    },
                    "chain_tip_signed_at": {
                      "type": "string",
                      "format": "date-time",
                      "description": "The timestamp of the latest signed block at the time this response was provided."
                    },
                    "quote_currency": {
                      "type": "string",
                      "description": "The requested quote currency eg: `USD`."
                    },
                    "updated_at": {
                      "type": "string",
                      "format": "date-time",
                      "description": "The timestamp when the response was generated. Useful to show data staleness to users."
                    },
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "contract_decimals": {
                            "type": "integer",
                            "description": "Use contract decimals to format the token balance for display purposes - divide the balance by `10^{contract_decimals}`."
                          },
                          "contract_name": {
                            "type": "string",
                            "description": "The string returned by the `name()` method."
                          },
                          "contract_ticker_symbol": {
                            "type": "string",
                            "description": "The ticker symbol for this contract. This field is set by a developer and non-unique across a network."
                          },
                          "contract_address": {
                            "type": "string",
                            "description": "Use the relevant `contract_address` to lookup prices, logos, token transfers, etc."
                          },
                          "contract_display_name": {
                            "type": "string",
                            "description": "A display-friendly name for the contract."
                          },
                          "supports_erc": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "A list of supported standard ERC interfaces, eg: `ERC20` and `ERC721`."
                          },
                          "logo_urls": {
                            "type": "object",
                            "properties": {
                              "token_logo_url": {
                                "type": "string",
                                "description": "The token logo URL."
                              },
                              "protocol_logo_url": {
                                "type": "string",
                                "description": "The protocol logo URL."
                              },
                              "chain_logo_url": {
                                "type": "string",
                                "description": "The chain logo URL."
                              }
                            },
                            "description": "The contract logo URLs."
                          },
                          "last_transferred_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "The timestamp when the token was transferred."
                          },
                          "block_height": {
                            "type": "integer",
                            "format": "int64",
                            "description": "The height of the block."
                          },
                          "is_native_token": {
                            "type": "boolean",
                            "description": "Indicates if a token is the chain's native gas token, eg: ETH on Ethereum."
                          },
                          "type": {
                            "type": "string",
                            "description": "One of `cryptocurrency`, `stablecoin`, `nft` or `dust`."
                          },
                          "is_spam": {
                            "type": "boolean",
                            "description": "Denotes whether the token is suspected spam."
                          },
                          "balance": {
                            "type": "string",
                            "description": "b;The asset balance. Use `contract_decimals` to scale this balance for display purposes."
                          },
                          "balance_24h": {
                            "type": "string",
                            "description": "b;The 24h asset balance. Use `contract_decimals` to scale this balance for display purposes."
                          },
                          "quote_rate": {
                            "type": "number",
                            "format": "double",
                            "description": "The exchange rate for the requested quote currency."
                          },
                          "quote_rate_24h": {
                            "type": "number",
                            "format": "double",
                            "description": "The 24h exchange rate for the requested quote currency."
                          },
                          "quote": {
                            "type": "number",
                            "format": "double",
                            "description": "The current balance converted to fiat in `quote-currency`."
                          },
                          "quote_24h": {
                            "type": "number",
                            "format": "double",
                            "description": "The 24h balance converted to fiat in `quote-currency`."
                          },
                          "pretty_quote": {
                            "type": "string",
                            "description": "A prettier version of the quote for rendering purposes."
                          },
                          "pretty_quote_24h": {
                            "type": "string",
                            "description": "A prettier version of the 24h quote for rendering purposes."
                          }
                        }
                      },
                      "description": "List of response items."
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "TypeScript",
            "label": "GoldRush SDK",
            "source": "import { GoldRushClient } from \"@covalenthq/client-sdk\";\n\nconst ApiServices = async () => {\n    const client = new GoldRushClient(\"YOUR_API_KEY\");\n    const resp = await client.BalanceService.getTokenBalancesForWalletAddress({chainName: \"chainName\", walletAddress: \"walletAddress\"});\n    console.log(resp.data);\n};\n\nApiServices();"
          }
        ]
      }
    },
    "/v1/{chainName}/address/{walletAddress}/portfolio_v2/": {
      "get": {
        "tags": [
          "get-historical-portfolio-value-over-time"
        ],
        "description": "Commonly used to render a daily portfolio balance for an address broken down by the token. The timeframe is user-configurable, defaults to 30 days.",
        "operationId": "getHistoricalPortfolioForWalletAddress",
        "parameters": [
          {
            "name": "chainName",
            "in": "path",
            "description": "The chain name eg: `eth-mainnet`.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "walletAddress",
            "in": "path",
            "description": "The requested address. Passing in an `ENS`, `RNS`, `Lens Handle`, or an `Unstoppable Domain` resolves automatically.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "quote-currency",
            "in": "query",
            "description": "The currency to convert. Supports `USD`, `CAD`, `EUR`, `SGD`, `INR`, `JPY`, `VND`, `CNY`, `KRW`, `RUB`, `TRY`, `NGN`, `ARS`, `AUD`, `CHF`, and `GBP`.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "days",
            "in": "query",
            "description": "The number of days to return data for. Defaults to 30 days.",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "address": {
                      "type": "string",
                      "description": "The requested address."
                    },
                    "updated_at": {
                      "type": "string",
                      "format": "date-time",
                      "description": "The timestamp when the response was generated. Useful to show data staleness to users."
                    },
                    "quote_currency": {
                      "type": "string",
                      "description": "The requested quote currency eg: `USD`."
                    },
                    "chain_id": {
                      "type": "integer",
                      "description": "The requested chain ID eg: `1`."
                    },
                    "chain_name": {
                      "type": "string",
                      "description": "The requested chain name eg: `eth-mainnet`."
                    },
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "contract_address": {
                            "type": "string",
                            "description": "Use the relevant `contract_address` to lookup prices, logos, token transfers, etc."
                          },
                          "contract_decimals": {
                            "type": "integer",
                            "description": "Use contract decimals to format the token balance for display purposes - divide the balance by `10^{contract_decimals}`."
                          },
                          "contract_name": {
                            "type": "string",
                            "description": "The string returned by the `name()` method."
                          },
                          "contract_ticker_symbol": {
                            "type": "string",
                            "description": "The ticker symbol for this contract. This field is set by a developer and non-unique across a network."
                          },
                          "logo_url": {
                            "type": "string",
                            "description": "The contract logo URL."
                          },
                          "holdings": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "quote_rate": {
                                  "type": "number",
                                  "format": "double",
                                  "description": "The exchange rate for the requested quote currency."
                                },
                                "timestamp": {
                                  "type": "string",
                                  "format": "date-time"
                                },
                                "close": {
                                  "type": "object",
                                  "properties": {
                                    "balance": {
                                      "type": "string",
                                      "description": "b;The asset balance. Use `contract_decimals` to scale this balance for display purposes."
                                    },
                                    "quote": {
                                      "type": "number",
                                      "format": "double",
                                      "description": "The current balance converted to fiat in `quote-currency`."
                                    },
                                    "pretty_quote": {
                                      "type": "string",
                                      "description": "A prettier version of the quote for rendering purposes."
                                    }
                                  }
                                },
                                "high": {
                                  "type": "object",
                                  "properties": {}
                                },
                                "low": {
                                  "type": "object",
                                  "properties": {}
                                },
                                "open": {
                                  "type": "object",
                                  "properties": {}
                                }
                              }
                            }
                          }
                        }
                      },
                      "description": "List of response items."
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "TypeScript",
            "label": "GoldRush SDK",
            "source": "import { GoldRushClient } from \"@covalenthq/client-sdk\";\n\nconst ApiServices = async () => {\n    const client = new GoldRushClient(\"YOUR_API_KEY\");\n    const resp = await client.BalanceService.getHistoricalPortfolioForWalletAddress({chainName: \"chainName\", walletAddress: \"walletAddress\"});\n    console.log(resp.data);\n};\n\nApiServices();"
          }
        ]
      }
    },
    "/v1/{chainName}/address/{walletAddress}/transfers_v2/": {
      "get": {
        "tags": [
          "get-erc20-token-transfers-for-address"
        ],
        "description": "Commonly used to render the transfer-in and transfer-out of a token along with historical prices from an address.",
        "operationId": "getErc20TransfersForWalletAddress",
        "parameters": [
          {
            "name": "chainName",
            "in": "path",
            "description": "The chain name eg: `eth-mainnet`.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "walletAddress",
            "in": "path",
            "description": "The requested address. Passing in an `ENS`, `RNS`, `Lens Handle`, or an `Unstoppable Domain` resolves automatically.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "quote-currency",
            "in": "query",
            "description": "The currency to convert. Supports `USD`, `CAD`, `EUR`, `SGD`, `INR`, `JPY`, `VND`, `CNY`, `KRW`, `RUB`, `TRY`, `NGN`, `ARS`, `AUD`, `CHF`, and `GBP`.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "contract-address",
            "in": "query",
            "description": "The requested contract address. Passing in an `ENS`, `RNS`, `Lens Handle`, or an `Unstoppable Domain` resolves automatically.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "starting-block",
            "in": "query",
            "description": "The block height to start from, defaults to `0`.",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "ending-block",
            "in": "query",
            "description": "The block height to end at, defaults to current block height.",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page-size",
            "in": "query",
            "description": "Number of items per page. Omitting this parameter defaults to 100.",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page-number",
            "in": "query",
            "description": "0-indexed page number to begin pagination.",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "address": {
                      "type": "string",
                      "description": "The requested address."
                    },
                    "updated_at": {
                      "type": "string",
                      "format": "date-time",
                      "description": "The timestamp when the response was generated. Useful to show data staleness to users."
                    },
                    "quote_currency": {
                      "type": "string",
                      "description": "The requested quote currency eg: `USD`."
                    },
                    "chain_id": {
                      "type": "integer",
                      "description": "The requested chain ID eg: `1`."
                    },
                    "chain_name": {
                      "type": "string",
                      "description": "The requested chain name eg: `eth-mainnet`."
                    },
                    "chain_tip_height": {
                      "type": "integer",
                      "description": "The latest block height of the blockchain at the time this response was provided."
                    },
                    "chain_tip_signed_at": {
                      "type": "string",
                      "format": "date-time",
                      "description": "The timestamp of the latest signed block at the time this response was provided."
                    },
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "block_signed_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "The block signed timestamp in UTC."
                          },
                          "block_height": {
                            "type": "integer",
                            "description": "The height of the block."
                          },
                          "block_hash": {
                            "type": "string",
                            "description": "The hash of the block. Use it to remove transactions from re-org-ed blocks."
                          },
                          "tx_hash": {
                            "type": "string",
                            "description": "The requested transaction hash."
                          },
                          "tx_offset": {
                            "type": "integer",
                            "description": "The offset is the position of the tx in the block."
                          },
                          "successful": {
                            "type": "boolean",
                            "description": "Whether or not transaction is successful."
                          },
                          "miner_address": {
                            "type": "string",
                            "description": "The address of the miner."
                          },
                          "from_address": {
                            "type": "string",
                            "description": "The sender's wallet address."
                          },
                          "to_address": {
                            "type": "string",
                            "description": "The receiver's wallet address."
                          },
                          "value": {
                            "type": "string",
                            "description": "b;The value attached to this tx."
                          },
                          "value_quote": {
                            "type": "number",
                            "format": "double",
                            "description": "The value attached in `quote-currency` to this tx."
                          },
                          "pretty_value_quote": {
                            "type": "string",
                            "description": "A prettier version of the quote for rendering purposes."
                          },
                          "gas_metadata": {
                            "type": "object",
                            "properties": {
                              "contract_decimals": {
                                "type": "integer",
                                "description": "Use contract decimals to format the token balance for display purposes - divide the balance by `10^{contract_decimals}`."
                              },
                              "contract_name": {
                                "type": "string",
                                "description": "The string returned by the `name()` method."
                              },
                              "contract_ticker_symbol": {
                                "type": "string",
                                "description": "The ticker symbol for this contract. This field is set by a developer and non-unique across a network."
                              },
                              "contract_address": {
                                "type": "string",
                                "description": "Use the relevant `contract_address` to lookup prices, logos, token transfers, etc."
                              },
                              "supports_erc": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                },
                                "description": "A list of supported standard ERC interfaces, eg: `ERC20` and `ERC721`."
                              },
                              "logo_url": {
                                "type": "string",
                                "description": "The contract logo URL."
                              }
                            },
                            "description": "The requested chain native gas token metadata."
                          },
                          "gas_offered": {
                            "type": "integer",
                            "format": "int64"
                          },
                          "gas_spent": {
                            "type": "integer",
                            "format": "int64",
                            "description": "The gas spent for this tx."
                          },
                          "gas_price": {
                            "type": "integer",
                            "format": "int64",
                            "description": "The gas price at the time of this tx."
                          },
                          "fees_paid": {
                            "type": "string",
                            "description": "b;The transaction's gas_price * gas_spent, denoted in wei."
                          },
                          "gas_quote": {
                            "type": "number",
                            "format": "double",
                            "description": "The gas spent in `quote-currency` denomination."
                          },
                          "pretty_gas_quote": {
                            "type": "string",
                            "description": "A prettier version of the quote for rendering purposes."
                          },
                          "gas_quote_rate": {
                            "type": "number",
                            "format": "double",
                            "description": "The native gas exchange rate for the requested `quote-currency`."
                          },
                          "transfers": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "block_signed_at": {
                                  "type": "string",
                                  "format": "date-time",
                                  "description": "The block signed timestamp in UTC."
                                },
                                "tx_hash": {
                                  "type": "string",
                                  "description": "The requested transaction hash."
                                },
                                "from_address": {
                                  "type": "string",
                                  "description": "The sender's wallet address."
                                },
                                "to_address": {
                                  "type": "string",
                                  "description": "The receiver's wallet address."
                                },
                                "contract_decimals": {
                                  "type": "integer",
                                  "description": "Use contract decimals to format the token balance for display purposes - divide the balance by `10^{contract_decimals}`."
                                },
                                "contract_name": {
                                  "type": "string",
                                  "description": "The string returned by the `name()` method."
                                },
                                "contract_ticker_symbol": {
                                  "type": "string",
                                  "description": "The ticker symbol for this contract. This field is set by a developer and non-unique across a network."
                                },
                                "contract_address": {
                                  "type": "string",
                                  "description": "Use the relevant `contract_address` to lookup prices, logos, token transfers, etc."
                                },
                                "logo_url": {
                                  "type": "string",
                                  "description": "The contract logo URL."
                                },
                                "transfer_type": {
                                  "type": "string",
                                  "description": "Categorizes token transactions as either `transfer-in` or `transfer-out`, indicating whether tokens are being received or sent from an account."
                                },
                                "delta": {
                                  "type": "string",
                                  "description": "b;The delta attached to this transfer."
                                },
                                "balance": {
                                  "type": "string",
                                  "description": "b;The asset balance. Use `contract_decimals` to scale this balance for display purposes."
                                },
                                "quote_rate": {
                                  "type": "number",
                                  "format": "double",
                                  "description": "The exchange rate for the requested quote currency."
                                },
                                "delta_quote": {
                                  "type": "number",
                                  "format": "double",
                                  "description": "The current delta converted to fiat in `quote-currency`."
                                },
                                "pretty_delta_quote": {
                                  "type": "string",
                                  "description": "A prettier version of the quote for rendering purposes."
                                },
                                "balance_quote": {
                                  "type": "number",
                                  "format": "double",
                                  "description": "The current balance converted to fiat in `quote-currency`."
                                },
                                "method_calls": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "sender_address": {
                                        "type": "string",
                                        "description": "The address of the sender."
                                      },
                                      "method": {
                                        "type": "string"
                                      }
                                    }
                                  },
                                  "description": "Additional details on which transfer events were invoked. Defaults to `true`."
                                },
                                "explorers": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "label": {
                                        "type": "string",
                                        "description": "The name of the explorer."
                                      },
                                      "url": {
                                        "type": "string",
                                        "description": "The URL of the explorer."
                                      }
                                    }
                                  },
                                  "description": "The explorer links for this transaction."
                                }
                              }
                            }
                          }
                        }
                      },
                      "description": "List of response items."
                    },
                    "pagination": {
                      "type": "object",
                      "properties": {
                        "has_more": {
                          "type": "boolean",
                          "description": "True if there is another page."
                        },
                        "page_number": {
                          "type": "integer",
                          "description": "The requested page number."
                        },
                        "page_size": {
                          "type": "integer",
                          "description": "The requested number of items on the current page."
                        },
                        "total_count": {
                          "type": "integer",
                          "description": "The total number of items across all pages for this request."
                        }
                      },
                      "description": "Pagination metadata."
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "TypeScript",
            "label": "GoldRush SDK",
            "source": "import { GoldRushClient } from \"@covalenthq/client-sdk\";\n\nconst ApiServices = async () => {\n    const client = new GoldRushClient(\"YOUR_API_KEY\");\n    const resp = await client.BalanceService.getErc20TransfersForWalletAddress({chainName: \"chainName\", walletAddress: \"walletAddress\"});\n    console.log(resp.data);\n};\n\nApiServices();"
          }
        ]
      }
    },
    "/v1/{chainName}/tokens/{tokenAddress}/token_holders_v2/": {
      "get": {
        "tags": [
          "get-token-holders-as-of-any-block-height-v2"
        ],
        "description": "Used to get a paginated list of current or historical token holders for a specified ERC20 or ERC721 token. ",
        "operationId": "getTokenHoldersV2ForTokenAddress",
        "parameters": [
          {
            "name": "chainName",
            "in": "path",
            "description": "The chain name eg: `eth-mainnet`.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tokenAddress",
            "in": "path",
            "description": "The requested address. Passing in an `ENS`, `RNS`, `Lens Handle`, or an `Unstoppable Domain` resolves automatically.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "no-snapshot",
            "in": "query",
            "description": "Defaults to `false`. Set to `true` to bypass last snapshot and get the latest token holders list.",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "block-height",
            "in": "query",
            "description": "Ending block to define a block range. Omitting this parameter defaults to the latest block height.",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "date",
            "in": "query",
            "description": "Ending date to define a block range (YYYY-MM-DD). Omitting this parameter defaults to the current date.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page-size",
            "in": "query",
            "description": "Number of items per page. Note: Currently, only values of `100` and `1000` are supported. Omitting this parameter defaults to 100.",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page-number",
            "in": "query",
            "description": "0-indexed page number to begin pagination.",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "updated_at": {
                      "type": "string",
                      "format": "date-time",
                      "description": "The timestamp when the response was generated. Useful to show data staleness to users."
                    },
                    "chain_id": {
                      "type": "integer",
                      "description": "The requested chain ID eg: `1`."
                    },
                    "chain_name": {
                      "type": "string",
                      "description": "The requested chain name eg: `eth-mainnet`."
                    },
                    "chain_tip_height": {
                      "type": "integer",
                      "description": "The latest block height of the blockchain at the time this response was provided."
                    },
                    "chain_tip_signed_at": {
                      "type": "string",
                      "format": "date-time",
                      "description": "The timestamp of the latest signed block at the time this response was provided."
                    },
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "contract_decimals": {
                            "type": "integer",
                            "description": "Use contract decimals to format the token balance for display purposes - divide the balance by `10^{contract_decimals}`."
                          },
                          "contract_name": {
                            "type": "string",
                            "description": "The string returned by the `name()` method."
                          },
                          "contract_ticker_symbol": {
                            "type": "string",
                            "description": "The ticker symbol for this contract. This field is set by a developer and non-unique across a network."
                          },
                          "contract_address": {
                            "type": "string",
                            "description": "Use the relevant `contract_address` to lookup prices, logos, token transfers, etc."
                          },
                          "supports_erc": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "A list of supported standard ERC interfaces, eg: `ERC20` and `ERC721`."
                          },
                          "logo_url": {
                            "type": "string",
                            "description": "The contract logo URL."
                          },
                          "address": {
                            "type": "string",
                            "description": "The requested address."
                          },
                          "balance": {
                            "type": "string",
                            "description": "b;The asset balance. Use `contract_decimals` to scale this balance for display purposes."
                          },
                          "total_supply": {
                            "type": "string",
                            "description": "b;Total supply of this token."
                          },
                          "block_height": {
                            "type": "integer",
                            "format": "int64",
                            "description": "The height of the block."
                          }
                        }
                      },
                      "description": "List of response items."
                    },
                    "pagination": {
                      "type": "object",
                      "properties": {
                        "has_more": {
                          "type": "boolean",
                          "description": "True if there is another page."
                        },
                        "page_number": {
                          "type": "integer",
                          "description": "The requested page number."
                        },
                        "page_size": {
                          "type": "integer",
                          "description": "The requested number of items on the current page."
                        },
                        "total_count": {
                          "type": "integer",
                          "description": "The total number of items across all pages for this request."
                        }
                      },
                      "description": "Pagination metadata."
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "TypeScript",
            "label": "GoldRush SDK",
            "source": "import { GoldRushClient } from \"@covalenthq/client-sdk\";\n\nconst ApiServices = async () => {\n    const client = new GoldRushClient(\"YOUR_API_KEY\");\n    const resp = await client.BalanceService.getTokenHoldersV2ForTokenAddress({chainName: \"chainName\", walletAddress: \"walletAddress\"});\n    console.log(resp.data);\n};\n\nApiServices();"
          }
        ]
      }
    },
    "/v1/{chainName}/address/{walletAddress}/historical_balances/": {
      "get": {
        "tags": [
          "get-historical-token-balances-for-address"
        ],
        "description": "Commonly used to fetch the historical native and fungible (ERC20) tokens held by an address at a given block height or date. Response includes daily prices and other metadata.",
        "operationId": "getHistoricalTokenBalancesForWalletAddress",
        "parameters": [
          {
            "name": "chainName",
            "in": "path",
            "description": "The chain name eg: `eth-mainnet`.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "walletAddress",
            "in": "path",
            "description": "The requested address. Passing in an `ENS`, `RNS`, `Lens Handle`, or an `Unstoppable Domain` resolves automatically.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "quote-currency",
            "in": "query",
            "description": "The currency to convert. Supports `USD`, `CAD`, `EUR`, `SGD`, `INR`, `JPY`, `VND`, `CNY`, `KRW`, `RUB`, `TRY`, `NGN`, `ARS`, `AUD`, `CHF`, and `GBP`.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "no-spam",
            "in": "query",
            "description": "If `true`, the suspected spam tokens are removed. Supported on all Foundational Chains.",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "block-height",
            "in": "query",
            "description": "Ending block to define a block range. Omitting this parameter defaults to the latest block height.",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "date",
            "in": "query",
            "description": "Ending date to define a block range (YYYY-MM-DD). Omitting this parameter defaults to the current date.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "address": {
                      "type": "string",
                      "description": "The requested address."
                    },
                    "updated_at": {
                      "type": "string",
                      "format": "date-time",
                      "description": "The timestamp when the response was generated. Useful to show data staleness to users."
                    },
                    "quote_currency": {
                      "type": "string",
                      "description": "The requested quote currency eg: `USD`."
                    },
                    "chain_id": {
                      "type": "integer",
                      "description": "The requested chain ID eg: `1`."
                    },
                    "chain_name": {
                      "type": "string",
                      "description": "The requested chain name eg: `eth-mainnet`."
                    },
                    "chain_tip_height": {
                      "type": "integer",
                      "description": "The latest block height of the blockchain at the time this response was provided."
                    },
                    "chain_tip_signed_at": {
                      "type": "string",
                      "format": "date-time",
                      "description": "The timestamp of the latest signed block at the time this response was provided."
                    },
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "contract_decimals": {
                            "type": "integer",
                            "description": "Use contract decimals to format the token balance for display purposes - divide the balance by `10^{contract_decimals}`."
                          },
                          "contract_name": {
                            "type": "string",
                            "description": "The string returned by the `name()` method."
                          },
                          "contract_ticker_symbol": {
                            "type": "string",
                            "description": "The ticker symbol for this contract. This field is set by a developer and non-unique across a network."
                          },
                          "contract_address": {
                            "type": "string",
                            "description": "Use the relevant `contract_address` to lookup prices, logos, token transfers, etc."
                          },
                          "supports_erc": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "A list of supported standard ERC interfaces, eg: `ERC20` and `ERC721`."
                          },
                          "logo_url": {
                            "type": "string",
                            "description": "The contract logo URL."
                          },
                          "block_height": {
                            "type": "integer",
                            "format": "int64",
                            "description": "The height of the block."
                          },
                          "last_transferred_block_height": {
                            "type": "integer",
                            "format": "int64",
                            "description": "The block height when the token was last transferred."
                          },
                          "contract_display_name": {
                            "type": "string"
                          },
                          "last_transferred_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "The timestamp when the token was transferred."
                          },
                          "is_native_token": {
                            "type": "boolean",
                            "description": "Indicates if a token is the chain's native gas token, eg: ETH on Ethereum."
                          },
                          "type": {
                            "type": "string",
                            "description": "One of `cryptocurrency`, `stablecoin`, `nft` or `dust`."
                          },
                          "is_spam": {
                            "type": "boolean",
                            "description": "Denotes whether the token is suspected spam."
                          },
                          "balance": {
                            "type": "string",
                            "description": "b;The asset balance. Use `contract_decimals` to scale this balance for display purposes."
                          },
                          "quote_rate": {
                            "type": "number",
                            "format": "double",
                            "description": "The exchange rate for the requested quote currency."
                          },
                          "quote": {
                            "type": "number",
                            "format": "double",
                            "description": "The current balance converted to fiat in `quote-currency`."
                          },
                          "pretty_quote": {
                            "type": "string",
                            "description": "A prettier version of the quote for rendering purposes."
                          }
                        }
                      },
                      "description": "List of response items."
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "TypeScript",
            "label": "GoldRush SDK",
            "source": "import { GoldRushClient } from \"@covalenthq/client-sdk\";\n\nconst ApiServices = async () => {\n    const client = new GoldRushClient(\"YOUR_API_KEY\");\n    const resp = await client.BalanceService.getHistoricalTokenBalancesForWalletAddress({chainName: \"chainName\", walletAddress: \"walletAddress\"});\n    console.log(resp.data);\n};\n\nApiServices();"
          }
        ]
      }
    },
    "/v1/{chainName}/address/{walletAddress}/balances_native/": {
      "get": {
        "tags": [
          "get-native-token-balance"
        ],
        "description": "Lightweight endpoint to just get the native token balance for an EVM address. ",
        "operationId": "getNativeTokenBalance",
        "parameters": [
          {
            "name": "chainName",
            "in": "path",
            "description": "The chain name eg: `eth-mainnet`.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "walletAddress",
            "in": "path",
            "description": "The requested address. Passing in an `ENS`, `RNS`, `Lens Handle`, or an `Unstoppable Domain` resolves automatically.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "quote-currency",
            "in": "query",
            "description": "The currency to convert. Supports `USD`, `CAD`, `EUR`, `SGD`, `INR`, `JPY`, `VND`, `CNY`, `KRW`, `RUB`, `TRY`, `NGN`, `ARS`, `AUD`, `CHF`, and `GBP`.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "block-height",
            "in": "query",
            "description": "Ending block to define a block range. Omitting this parameter defaults to the latest block height.",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "address": {
                      "type": "string",
                      "description": "The requested address."
                    },
                    "updated_at": {
                      "type": "string",
                      "format": "date-time",
                      "description": "The timestamp when the response was generated. Useful to show data staleness to users."
                    },
                    "quote_currency": {
                      "type": "string",
                      "description": "The requested quote currency eg: `USD`."
                    },
                    "chain_id": {
                      "type": "integer",
                      "description": "The requested chain ID eg: `1`."
                    },
                    "chain_name": {
                      "type": "string",
[...]
