{
  "openapi": "3.0.0",
  "info": {
    "version": "1.0.0",
    "title": "PCI ASV",
    "license": {
      "name": "Tenable PCI ASV"
    },
    "description": "Tenable's PCI ASV streamlines the quarterly external vulnerability scan submission and dispute process as required by PCI 11.2.2. With pre-configured scan templates and an efficient evidence/dispute resolution process, Tenable (an Approved Scanning Vendor) can quickly prepare a compliant scan report for merchants and service providers. You can use the PCI ASV API to retrieve a list of PCI ASV scans. \n\nFor more information about PCI ASV, see [Get Started with PCI ASV Scanning](https://docs.tenable.com/vulnerability-management/Content/pci-asv/GetStarted.htm) in the Tenable Vulnerability Management User Guide.",
    "x-jentic-source-url": "https://developer.tenable.com/openapi/pci-asv.json",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://cloud.tenable.com"
    }
  ],
  "security": [
    {
      "cloud": []
    }
  ],
  "tags": [
    {
      "name": "Attestations",
      "description": "After you submit a scan to Tenable for ASV review, you can use the Tenable PCI ASV API to retrieve a list of your attestations and see your current attestation request status. For more information, see [Create an Attestation](https://docs.tenable.com/vulnerability-management/Content/pci-asv/CreateAttestation.htm) in the Tenable Vulnerability Management User Guide."
    },
    {
      "name": "PCI Scans",
      "description": "Tenable's PCI ASV streamlines the quarterly external vulnerability scan submission and dispute process as required by PCI 11.2.2. With pre-configured scan templates and an efficient evidence/dispute resolution process, Tenable (an Approved Scanning Vendor) can quickly prepare a compliant scan report for merchants and service providers. You can use the PCI ASV API to retrieve a list of PCI ASV scans. \n\nFor more information about PCI ASV, see [Get Started with PCI ASV Scanning](https://docs.tenable.com/vulnerability-management/Content/pci-asv/GetStarted.htm) in the Tenable Vulnerability Management User Guide."
    },
    {
      "name": "Scans"
    }
  ],
  "paths": {
    "/pci-asv/attestations/list": {
      "get": {
        "tags": [
          "Attestations"
        ],
        "summary": "List attestations",
        "description": "Returns a list of PCI attestations in PCI ASV.\n\n**Note:** You need to request access to this endpoint through Tenable support even if you have a valid PCI ASV license. <div class=\"perms-callout\">Requires the Administrator [64] user role. See [Roles](doc:roles).</div>",
        "operationId": "pci-attestations-list",
        "parameters": [
          {
            "description": "Filters the list of PCI attestations by status.\n\nTo retrieve attestations that are currently in progress but have yet to be submitted for review, you can use the following status types:<ul><li>`IN_PROGRESS`—Attestations that are in progress.</li><li>`NEEDS_WORK`—Attestations that require additional work.</li></ul>\n\nTo retrieve attestations that are currently in review, you can use the following status types: <ul><li>`IN_REVIEW`—Attestations that are currently under review.</li><li>`INFO_REQUESTED`—Attestations that require additional information for one or more disputes.</li><li>`INFO_PROVIDED`—Attestations where you have provided additional information but the information is yet to be reviewed.</li></ul>\n\nTo retrieve attestations that have completed the review process, you can use the following status types: <ul><li>`FAILED`—Attestations that have failed review.</li><li>`PASSED`—Attestations that have passed review.</li><li>`CLOSED`—Attestations that are no longer active.</li></ul>",
            "name": "status_type",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "IN_PROGRESS",
                  "NEEDS_WORK",
                  "IN_REVIEW",
                  "INFO_REQUESTED",
                  "INFO_PROVIDED",
                  "FAILED",
                  "PASSED",
                  "CLOSED"
                ]
              }
            }
          },
          {
            "description": "The field you want to use to sort the results by along with the sort order. The field is specified first, followed by a colon, and the order is specified second (`asc` or `desc`). For example, `name:desc` would sort results by the `name` field in descending order.\n\nIf you specify multiple fields, the fields must be separated by commas. For example, `name:desc,started_at:asc` would first sort results by the `name` field in descending order and then by the `started_at` field in ascending order.",
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The number of records to retrieve.",
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "description": "The starting record to retrieve. If this parameter is omitted, Tenable PCI ASV uses the default value of `0`.",
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returned if Tenable PCI ASV successfully retrieved the list of PCI attestations.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "pagination",
                    "items"
                  ],
                  "properties": {
                    "pagination": {
                      "$ref": "#/components/schemas/Response-Pagination"
                    },
                    "attestations": {
                      "type": "array",
                      "description": "An array of PCI ASV attestation objects.",
                      "items": {
                        "$ref": "#/components/schemas/Response-AttestationList"
                      }
                    }
                  }
                },
                "examples": {
                  "response": {
                    "value": {
                      "pagination": {
                        "total": 2,
                        "offset": 0,
                        "limit": 200,
                        "sort": [
                          {
                            "name": "name",
                            "order": "asc"
                          }
                        ]
                      },
                      "attestations": [
                        {
                          "owner": "example@example.com",
                          "latest_comment": "None",
                          "submitted_at": "2021-02-12T10:27:21.988Z",
                          "dispute_count": 0,
                          "customer_uuid": "0010d632-4c24-4b71-9a4f-71416c375d47",
                          "scan_completion_date": "2021-01-28T12:42:21Z",
                          "created_at": "2021-02-12T10:25:48.267Z",
                          "failure_count": 15,
                          "created_by": "example@example.com",
                          "uuid": "a13b1497-5fec-41be-a9d6-ffef794c304c",
                          "asset_count": 1,
                          "passed_dispute_count": 0,
                          "undisputed_failure_count": 15,
                          "scan_expiration_date": "2021-04-28T12:42:21Z",
                          "updated_at": "2021-09-08T05:07:18.827Z",
                          "contact": {
                            "contact_name": "person",
                            "email": "person@example.com",
                            "title": "SW",
                            "phone_number": "123456789",
                            "company_name": "Example, Inc.",
                            "company_url": "example.com",
                            "city": "San Jose",
                            "state": "CA",
                            "zip_code": "95116",
                            "country": "",
                            "submitted_at": "2021-02-12T10:27:21.988Z",
                            "submitted_by_username": "pci.test.0@tenable.com",
                            "submitted_by_id": "9b0aae86-71f8-40f0-bfd7-c5b7f16602a8",
                            "address_1": "1234 Main St.",
                            "address_2": ""
                          },
                          "updated_by": "example@example.com",
                          "name": "PCI Attestation",
                          "failed_dispute_count": 0,
                          "cde.uuid": "4e533e20-bb69-d12d-9336-3ce52b679552",
                          "company": "company",
                          "undetermined_dispute_count": 0,
                          "excluded_asset_count": 0,
                          "status": "needs-work"
                        },
                        {
                          "owner": "example@example.com",
                          "latest_comment": "None",
                          "submitted_at": "2021-02-12T10:27:21.988Z",
                          "dispute_count": 0,
                          "customer_uuid": "0010d632-4c24-4b71-9a4f-71416c375d47",
                          "scan_completion_date": "2021-01-28T12:42:21Z",
                          "created_at": "2021-02-12T10:25:48.267Z",
                          "failure_count": 15,
                          "created_by": "example@example.com",
                          "uuid": "a13b1497-5fec-41be-a9d6-ffef794c304c",
                          "asset_count": 1,
                          "passed_dispute_count": 0,
                          "undisputed_failure_count": 15,
                          "scan_expiration_date": "2021-04-28T12:42:21Z",
                          "updated_at": "2021-09-08T05:07:18.827Z",
                          "contact": {
                            "contact_name": "person",
                            "email": "person@example.com",
                            "title": "SW",
                            "phone_number": "123456789",
                            "company_name": "Example, Inc.",
                            "company_url": "example.com",
                            "city": "San Jose",
                            "state": "CA",
                            "zip_code": "95116",
                            "country": "",
                            "submitted_at": "2021-02-12T10:27:21.988Z",
                            "submitted_by_username": "pci.test.0@tenable.com",
                            "submitted_by_id": "9b0aae86-71f8-40f0-bfd7-c5b7f16602a8",
                            "address_1": "1234 Main St.",
                            "address_2": ""
                          },
                          "updated_by": "example@example.com",
                          "name": "PCI Attestation",
                          "failed_dispute_count": 0,
                          "cde.uuid": "4e533e20-bb69-d12d-9336-3ce52b679552",
                          "company": "company",
                          "undetermined_dispute_count": 0,
                          "excluded_asset_count": 0,
                          "status": "needs-work"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Returned if you do not have a license to use Tenable PCI ASV.",
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "errors": [
                        {
                          "rule": "user.does_not_have_access_for_api",
                          "message": "Please contact Tenable support to enable API access for this endpoint in your container."
                        }
                      ],
                      "error": "Please contact Tenable support to enable API access for this endpoint in your container."
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Returned if you do not have the required permissions to view the list of attestations. For example, if you're an analyst user instead of an administrator."
          },
          "429": {
            "description": "Returned if you attempt to send too many requests in a specific period of time. For more information, see [Rate Limiting](doc:rate-limiting).",
            "content": {
              "text/html": {
                "examples": {
                  "response": {
                    "value": "<html>\n\n<head>\n    <title>429 Too Many Requests</title>\n</head>\n\n<body bgcolor=\"white\">\n    <center>\n        <h1>429 Too Many Requests</h1>\n    </center>\n    <hr>\n    <center>nginx</center>\n</body>\n\n</html>"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Returned if an internal error occurred in Tenable PCI ASV.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse-500"
                },
                "examples": {
                  "response": {
                    "value": {
                      "statusCode": 500,
                      "error": "Internal Server Error",
                      "message": "An internal server error occurred. Please wait a moment and try your request again."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/pci-asv/attestations/details/{attestation_uuid}": {
      "get": {
        "tags": [
          "Attestations"
        ],
        "summary": "Get attestation details",
        "description": "Returns the details for the specified PCI attestation.\n\n**Note:** You need to request access to this endpoint through Tenable support even if you have a valid PCI ASV license. <div class=\"perms-callout\">Requires the Administrator [64] user role. See [Roles](doc:roles).</div>",
        "operationId": "pci-attestations-details",
        "parameters": [
          {
            "description": "The UUID of the PCI attestation you want to retrieve details for.",
            "name": "attestation_uuid",
            "required": true,
            "in": "path",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returned if Tenable PCI ASV successfully retrieved the details for the specified PCI attestation.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "items"
                  ],
                  "properties": {
                    "items": {
                      "$ref": "#/components/schemas/Response-AttestationList"
                    }
                  }
                },
                "examples": {
                  "response": {
                    "value": {
                      "owner": "example@example.com",
                      "latest_comment": "None",
                      "submitted_at": "2021-02-12T10:27:21.988Z",
                      "dispute_count": 0,
                      "customer_uuid": "0010d632-4c24-4b71-9a4f-71416c375d47",
                      "scan_completion_date": "2021-01-28T12:42:21Z",
                      "created_at": "2021-02-12T10:25:48.267Z",
                      "failure_count": 15,
                      "created_by": "example@example.com",
                      "uuid": "a13b1497-5fec-41be-a9d6-ffef794c304c",
                      "asset_count": 1,
                      "passed_dispute_count": 0,
                      "undisputed_failure_count": 15,
                      "scan_expiration_date": "2021-04-28T12:42:21Z",
                      "updated_at": "2021-09-08T05:07:18.827Z",
                      "contact": {
                        "contact_name": "person",
                        "email": "person@example.com",
                        "title": "SW",
                        "phone_number": "123456789",
                        "company_name": "Example, Inc.",
                        "company_url": "example.com",
                        "city": "San Jose",
                        "state": "CA",
                        "zip_code": "95116",
                        "country": "",
                        "submitted_at": "2021-02-12T10:27:21.988Z",
                        "submitted_by_username": "pci.test.0@tenable.com",
                        "submitted_by_id": "9b0aae86-71f8-40f0-bfd7-c5b7f16602a8",
                        "address_1": "1234 Main St.",
                        "address_2": ""
                      },
                      "updated_by": "example@example.com",
                      "name": "PCI Attestation",
                      "failed_dispute_count": 0,
                      "cde.uuid": "4e533e20-bb69-d12d-9336-3ce52b679552",
                      "company": "company",
                      "undetermined_dispute_count": 0,
                      "excluded_asset_count": 0,
                      "status": "needs-work"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Returned if you do not have a license to use Tenable PCI ASV.",
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "errors": [
                        {
                          "rule": "user.does_not_have_access_for_api",
                          "message": "Please contact Tenable support to enable API access for this endpoint in your container."
                        }
                      ],
                      "error": "Please contact Tenable support to enable API access for this endpoint in your container."
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Returned if you do not have the required permissions to view the details of attestations. For example, if you're an analyst user instead of an administrator."
          },
          "429": {
            "description": "Returned if you attempt to send too many requests in a specific period of time. For more information, see [Rate Limiting](doc:rate-limiting).",
            "content": {
              "text/html": {
                "examples": {
                  "response": {
                    "value": "<html>\n\n<head>\n    <title>429 Too Many Requests</title>\n</head>\n\n<body bgcolor=\"white\">\n    <center>\n        <h1>429 Too Many Requests</h1>\n    </center>\n    <hr>\n    <center>nginx</center>\n</body>\n\n</html>"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Returned if an internal error occurred in Tenable PCI ASV.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse-500"
                },
                "examples": {
                  "response": {
                    "value": {
                      "statusCode": 500,
                      "error": "Internal Server Error",
                      "message": "An internal server error occurred. Please wait a moment and try your request again."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/pci-asv/attestations/details/{attestation_uuid}/disputes": {
      "get": {
        "tags": [
          "Attestations"
        ],
        "summary": "List attestation disputes",
        "description": "Returns a list of disputes for the specified PCI attestation.\n\n**Note:** You need to request access to this endpoint through Tenable support even if you have a valid PCI ASV license. <div class=\"perms-callout\">Requires the Administrator [64] user role. See [Roles](doc:roles).</div>",
        "operationId": "pci-attestations-disputes-list",
        "parameters": [
          {
            "description": "The UUID of the PCI attestation you want to retrieve disputes for.",
            "name": "attestation_uuid",
            "required": true,
            "in": "path",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "description": "The field you want to use to sort the results by along with the sort order. The field is specified first, followed by a colon, and the order is specified second (`asc` or `desc`). For example, `created_at:desc` would sort results by the `created_at` field in descending order.\n\nIf you specify multiple fields, the fields must be separated by commas. For example, `created_at:desc,severity:asc` would first sort results by the `created_at` field in descending order and then by the `severity` field in ascending order.",
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The number of records to retrieve.",
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "description": "The starting record to retrieve. If this parameter is omitted, Tenable PCI ASV uses the default value of `0`.",
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returned if Tenable PCI ASV successfully retrieved the disputes for the specified PCI attestation.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "items",
                    "pagination"
                  ],
                  "properties": {
                    "pagination": {
                      "$ref": "#/components/schemas/Response-Pagination"
                    },
                    "disputes": {
                      "type": "array",
                      "description": "An array of PCI ASV dispute objects.",
                      "items": {
                        "$ref": "#/components/schemas/Response-DisputeList"
                      }
                    }
                  }
                },
                "examples": {
                  "response": {
                    "value": {
                      "pagination": {
                        "total": 17,
                        "offset": 0,
                        "limit": 2,
                        "sort": [
                          {
                            "name": "created_at",
                            "order": "desc"
                          }
                        ]
                      },
                      "disputes": [
                        {
                          "severity": 2,
                          "owner": "pci-testing@example.com",
                          "reason": "false-positive",
                          "plugin_id": 106230,
                          "latest_comment": "None",
                          "customer_uuid": "196d99ba-7f93-4945-be6c-1a6089b36a7c",
                          "created_at": "2021-09-15T12:20:45.19Z",
                          "failure_count": 1,
                          "explanation": "FP3",
                          "plugin_name": "Apache Default Index Page",
                          "created_by": "pci-testing@example.com",
                          "determination_comment": "Pass",
                          "uuid": "a0aaf660-9308-422c-8545-daa764886cf9",
                          "cloned": true,
                          "updated_at": "2021-09-16T04:52:30.837Z",
                          "attestation_uuid": "47d04762-387d-44c0-aadc-b845d7227089",
                          "updated_by": "pci@example.com",
                          "name": "target3.pubtarg.tenablesecurity.com 106230",
                          "scan_date": "2021-09-15T05:04:21Z",
                          "status": "passed"
                        },
                        {
                          "severity": 2,
                          "owner": "pci-testing@example.com",
                          "reason": "false-positive",
                          "plugin_id": 17705,
                          "latest_comment": "None",
                          "customer_uuid": "196d99ba-7f93-4945-be6c-1a6089b36a7c",
                          "created_at": "2021-09-15T12:20:45.177Z",
                          "failure_count": 1,
                          "explanation": "FP4",
                          "plugin_name": "OPIE w/ OpenSSH Account Enumeration",
                          "created_by": "pci-testing@example.com",
                          "uuid": "dce82e5a-58ef-481e-a6ab-94ca0c0d1973",
                          "cloned": true,
                          "updated_at": "2021-09-15T12:20:45.177Z",
                          "attestation_uuid": "47d04762-387d-44c0-aadc-b845d7227089",
                          "updated_by": "pci-testing@example.com",
                          "name": "target3.pubtarg.tenablesecurity.com 17705",
                          "scan_date": "2021-09-15T05:04:21Z",
                          "status": "in-review"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Returned if you do not have a license to use Tenable PCI ASV.",
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "errors": [
                        {
                          "rule": "user.does_not_have_access_for_api",
                          "message": "Please contact Tenable support to enable API access for this endpoint in your container."
                        }
                      ],
                      "error": "Please contact Tenable support to enable API access for this endpoint in your container."
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Returned if you do not have the required permissions to view the list of disputes for the specified attestation."
          },
          "429": {
            "description": "Returned if you attempt to send too many requests in a specific period of time. For more information, see [Rate Limiting](doc:rate-limiting).",
            "content": {
              "text/html": {
                "examples": {
                  "response": {
                    "value": "<html>\n\n<head>\n    <title>429 Too Many Requests</title>\n</head>\n\n<body bgcolor=\"white\">\n    <center>\n        <h1>429 Too Many Requests</h1>\n    </center>\n    <hr>\n    <center>nginx</center>\n</body>\n\n</html>"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Returned if an internal error occurred in Tenable PCI ASV.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse-500"
                },
                "examples": {
                  "response": {
                    "value": {
                      "statusCode": 500,
                      "error": "Internal Server Error",
                      "message": "An internal server error occurred. Please wait a moment and try your request again."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/pci-asv/attestations/{attestation_uuid}/failures/undisputed/list": {
      "get": {
        "tags": [
          "Attestations"
        ],
        "summary": "List undisputed failures",
        "description": "Returns a list of undisputed failures of the specified PCI attestation.\n\n**Note:** You need to request access to this endpoint through Tenable support even if you have a valid PCI ASV license. <div class=\"perms-callout\">Requires the Administrator [64] user role. See [Roles](doc:roles).</div>",
        "operationId": "pci-attestations-failures-list",
        "parameters": [
          {
            "description": "The UUID of the PCI attestation you want to retrieve undisputed failures for.",
            "name": "attestation_uuid",
            "required": true,
            "in": "path",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "description": "The field you want to use to sort the results by along with the sort order. The field is specified first, followed by a colon, and the order is specified second (`asc` or `desc`). For example, `asset_name:desc` would sort results by the `asset_name` field in descending order.\n\nIf you specify multiple fields, the fields must be separated by commas. For example, `asset_name:desc,severity:asc` would first sort results by the `asset_name` field in descending order and then by the `severity` field in ascending order.",
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The number of records to retrieve.",
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "description": "The starting record to retrieve. If this parameter is omitted, Tenable PCI ASV uses the default value of `0`.",
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returned if Tenable PCI ASV successfully retrieved the list of undisputed failures for the PCI attestation.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "pagination",
                    "items"
                  ],
                  "properties": {
                    "pagination": {
                      "$ref": "#/components/schemas/Response-Pagination"
                    },
                    "failures": {
                      "type": "array",
                      "description": "An array of PCI ASV attestation failures objects.",
                      "items": {
                        "$ref": "#/components/schemas/Response-UndisputedFailuresList"
                      }
                    }
                  }
                },
                "examples": {
                  "response": {
                    "value": {
                      "pagination": {
                        "total": 1,
                        "offset": 0,
                        "limit": 200,
                        "sort": [
                          {
                            "name": "plugin_id",
                            "order": "desc"
                          }
                        ]
                      },
                      "failures": [
                        {
                          "severity": 3,
                          "plugin_id": 173384,
                          "cvss_score": 9.8,
                          "address": "127.0.0.1",
                          "scan_uuid": "2693c579-0ab0-40c9-8eef-d8f1e18167ef",
                          "duplicate": false,
                          "rerank_type": "not-reranked",
                          "plugin_name": "OpenSSH < 9.3 Multiple Vulnerabilities",
                          "uuid": "a3382dad-b0a8-4919-846d-1ec504d1e05f",
                          "protocol": "tcp",
                          "asset_name": "Asset Name",
                          "port": 22,
                          "attestation_uuid": "dd39c320-ee0f-4a8d-9a7b-4cd334425fd7",
                          "scan_name": "Scan Name",
                          "scan_date": "2023-06-08T17:05:04Z"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Returned if you do not have a license to use Tenable PCI ASV.",
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "errors": [
                        {
                          "rule": "user.does_not_have_access_for_api",
                          "message": "Please contact Tenable support to enable API access for this endpoint in your container."
                        }
                      ],
                      "error": "Please contact Tenable support to enable API access for this endpoint in your container."
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Returned if you do not have the required permissions to view the list of assets for the attestation. For example, if you're an analyst user instead of an administrator."
          },
          "429": {
            "description": "Returned if you attempt to send too many requests in a specific period of time. For more information, see [Rate Limiting](doc:rate-limiting).",
            "content": {
              "text/html": {
                "examples": {
                  "response": {
                    "value": "<html>\n\n<head>\n    <title>429 Too Many Requests</title>\n</head>\n\n<body bgcolor=\"white\">\n    <center>\n        <h1>429 Too Many Requests</h1>\n    </center>\n    <hr>\n    <center>nginx</center>\n</body>\n\n</html>"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Returned if an internal error occurred in Tenable PCI ASV.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse-500"
                },
                "examples": {
                  "response": {
                    "value": {
                      "statusCode": 500,
                      "error": "Internal Server Error",
                      "message": "An internal server error occurred. Please wait a moment and try your request again."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/pci-asv/attestations/{attestation_uuid}/assets/list": {
      "get": {
        "tags": [
          "Attestations"
        ],
        "summary": "List attestation assets",
        "description": "Returns a list of PCI assets attested in the specified attestation in PCI ASV.\n\n**Note:** You need to request access to this endpoint through Tenable support even if you have a valid PCI ASV license. <div class=\"perms-callout\">Requires the Administrator [64] user role. See [Roles](doc:roles).</div>",
        "operationId": "pci-attestations-assets-list",
        "parameters": [
          {
            "description": "The UUID of the PCI attestation you want to retrieve assets for.",
            "name": "attestation_uuid",
            "required": true,
            "in": "path",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "description": "The field you want to use to sort the results by along with the sort order. The field is specified first, followed by a colon, and the order is specified second (`asc` or `desc`). For example, `fqdn:desc` would sort results by the `fqdn` field in descending order.\n\nIf you specify multiple fields, the fields must be separated by commas. For example, `fqdn:desc,scan_name:asc` would first sort results by the `fqdn` field in descending order and then by the `scan_name` field in ascending order.",
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The number of records to retrieve.",
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "description": "The starting record to retrieve. If this parameter is omitted, Tenable PCI ASV uses the default value of `0`.",
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returned if Tenable PCI ASV successfully retrieved the list of assets for the PCI attestation.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "pagination",
                    "items"
                  ],
                  "properties": {
                    "pagination": {
                      "$ref": "#/components/schemas/Response-Pagination"
                    },
                    "assets": {
                      "type": "array",
                      "description": "An array of PCI ASV attestation assets objects.",
                      "items": {
                        "$ref": "#/components/schemas/Response-AttestationAssetList"
                      }
                    }
                  }
                },
                "examples": {
                  "response": {
                    "value": {
                      "pagination": {
                        "total": 1,
                        "offset": 0,
                        "limit": 200,
                        "sort": [
                          {
                            "name": "name",
                            "order": "asc"
                          }
                        ]
                      },
                      "assets": [
                        {
                          "excluded": false,
                          "undisputed_failure_count": 14,
                          "address": "127.0.0.1",
                          "fqdn": "target.example.com",
                          "attestation_uuid": "12ec4034-1fcb-11ee-be56-0242ac120002",
                          "scan_uuid": "6e384626-5937-476d-9f15-224df98e3fd6",
                          "name": "Asset Name",
                          "operating_system": "Linux Kernel 3.13 on Ubuntu 14.04 (trusty)",
                          "failure_count": 14,
                          "scan_name": "Scan Name",
                          "scan_date": "2023-07-06T15:57:26Z",
                          "uuid": "2faa4bfe-1fcb-11ee-be56-0242ac120002"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Returned if you do not have a license to use Tenable PCI ASV.",
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "errors": [
                        {
                          "rule": "user.does_not_have_access_for_api",
                          "message": "Please contact Tenable support to enable API access for this endpoint in your container."
                        }
                      ],
                      "error": "Please contact Tenable support to enable API access for this endpoint in your container."
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Returned if you do not have the required permissions to view the list of assets for the attestation. For example, if you're an analyst user instead of an administrator."
          },
          "429": {
            "description": "Returned if you attempt to send too many requests in a specific period of time. For more information, see [Rate Limiting](doc:rate-limiting).",
            "content": {
              "text/html": {
                "examples": {
                  "response": {
                    "value": "<html>\n\n<head>\n    <title>429 Too Many Requests</title>\n</head>\n\n<body bgcolor=\"white\">\n    <center>\n        <h1>429 Too Many Requests</h1>\n    </center>\n    <hr>\n    <center>nginx</center>\n</body>\n\n</html>"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Returned if an internal error occurred in Tenable PCI ASV.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse-500"
                },
                "examples": {
                  "response": {
                    "value": {
                      "statusCode": 500,
                      "error": "Internal Server Error",
                      "message": "An internal server error occurred. Please wait a moment and try your request again."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/pci-asv/scans/list": {
      "get": {
        "tags": [
          "Scans"
        ],
        "summary": "List PCI scans",
        "description": "Returns a list of PCI scans in PCI ASV.\n\n**Note:** You need to request access to this endpoint through Tenable support even if you have a valid PCI ASV license.. <div class=\"perms-callout\">Requires the Administrator [64] user role. See [Roles](doc:roles).</div>",
        "operationId": "pci-scans-list",
        "parameters": [
          {
            "description": "The field you want to use to sort the results by along with the sort order. The field is specified first, followed by a colon, and the order is specified second (`asc` or `desc`). For example, `name:desc` would sort results by the `name` field in descending order.\n\nIf you specify multiple fields, the fields must be separated by commas. For example, `name:desc,started_at:asc` would first sort results by the `name` field in descending order and then by the `started_at` field in ascending order.",
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The number of records to retrieve.",
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "description": "The starting record to retrieve. If this parameter is omitted, Tenable PCI ASV uses the default value of `0`.",
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returned if Tenable PCI ASV successfully retrieved the list of PCI scans.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "pagination",
                    "items"
                  ],
                  "properties": {
                    "pagination": {
                      "$ref": "#/components/schemas/Response-Pagination"
                    },
                    "scans": {
                      "type": "array",
                      "description": "An array of PCI ASV scan objects.",
                      "items": {
                        "$ref": "#/components/schemas/Response-ScansList"
                      }
                    }
                  }
                },
                "examples": {
                  "response": {
                    "value": {
                      "pagination": {
                        "total": 2,
                        "offset": 0,
                        "limit": 200,
                        "sort": [
                          {
                            "name": "name",
                            "order": "asc"
                          }
                        ]
                      },
                      "scans": [
                        {
                          "asset_count": 4,
                          "updated_at": "2023-01-13T08:30:03.219Z",
                          "name": "PCI Scan Example 1",
                          "cde.uuid": "2a26c398-d61f-4f0f-8aea-bce410a64818",
                          "started_at": "2023-01-13T05:30:12Z",
                          "scan_type": "nessus",
                          "failure_count": 68,
                          "import_status": "complete",
                          "vulnerability_count": 229,
                          "uuid": "1ud20a81-5dbf-4749-9173-62ba398c0646",
                          "ended_at": "2023-01-13T05:50:03Z",
                          "status": 100
                        },
                        {
                          "asset_count": 4,
                          "updated_at": "2023-01-13T08:30:03.219Z",
                          "name": "PCI Scan Example 2",
                          "cde.uuid": "1a26c398-d61f-4f0f-8aea-bce410a64818",
                          "started_at": "2023-01-13T05:30:12Z",
                          "scan_type": "nessus",
                          "failure_count": 68,
                          "import_status": "complete",
                          "vulnerability_count": 229,
                          "uuid": "bu7e71d6-25db-44a1-8869-f7b234480c11",
                          "ended_at": "2023-01-13T05:50:03Z",
                          "status": 100
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Returned if you do not have a license to use Tenable PCI ASV.",
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "errors": [
                        {
                          "rule": "user.does_not_have_access_for_api",
                          "message": "Please contact Tenable support to enable API access for this endpoint in your container."
                        }
                      ],
                      "error": "Please contact Tenable support to enable API access for this endpoint in your container."
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Returned if you do not have the required permissions to view the list of PCI scans. For example, if you're an analyst user instead of an administrator."
          },
          "429": {
            "description": "Returned if you attempt to send too many requests in a specific period of time. For more information, see [Rate Limiting](doc:rate-limiting).",
            "content": {
              "text/html": {
                "examples": {
                  "response": {
                    "value": "<html>\n\n<head>\n    <title>429 Too Many Requests</title>\n</head>\n\n<body bgcolor=\"white\">\n    <center>\n        <h1>429 Too Many Requests</h1>\n    </center>\n    <hr>\n    <center>nginx</center>\n</body>\n\n</html>"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Returned if an internal error occurred in Tenable PCI ASV.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse-500"
                },
                "examples": {
                  "response": {
                    "value": {
                      "statusCode": 500,
                      "error": "Internal Server Error",
                      "message": "An internal server error occurred. Please wait a moment and try your request again."
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "cloud": {
        "type": "apiKey",
        "in": "header",
        "name": "X-ApiKeys",
        "description": "Format - accessKey=ACCESS_KEY;secretKey=SECRET_KEY"
      }
    },
    "schemas": {
      "Response-ScansList": {
        "type": "object",
        "properties": {
          "asset_count": {
            "type": "integer",
            "format": "int64",
            "description": "The number of assets that were scanned."
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "example": "2018-07-21T17:32:28Z",
            "description": "An ISO timestamp indicating the date and time when the scan was last updated. For example, `2018-12-31T13:51:17.243Z`."
          },
          "name": {
            "type": "string",
            "example": "PCI Scan",
            "description": "The name of the PCI scan in PCI ASV."
          },
          "started_at": {
            "type": "string",
            "format": "date-time",
            "example": "2018-07-21T17:32:28Z",
            "description": "An ISO timestamp indicating the date and time when the scan was started. For example, `2018-12-31T13:51:17.243Z`"
          },
          "scan_type": {
            "type": "string",
            "example": "nessus",
            "description": "The type of scan."
          },
          "failure_count": {
            "type": "integer",
            "format": "int64",
            "description": "The number of PCI ASV failures."
          },
          "cde.uuid": {
            "type": "string",
            "format": "uuid",
            "example": "783f7000-734e-46d0-9fea-2a8ac2f8e9f4",
            "description": "The UUID of the CDE in the Tenable PCI ASV."
          },
          "import_status": {
            "type": "string",
            "example": "complete",
            "description": "The status of the scan in the PCI ASV workbench."
          },
          "vulnerability_count": {
            "type": "integer",
            "format": "int64",
            "description": "The total number of vulnerabilities detected in the PCI scan."
          },
          "uuid": {
            "type": "string",
            "format": "uuid",
            "example": "483f7000-734e-46d0-9fea-2a8ac2f8e9f6",
            "description": "The UUID of the PCI scan in the Tenable PCI ASV."
          },
          "ended_at": {
            "type": "string",
            "format": "date-time",
            "example": "2018-07-21T17:32:28Z",
            "description": "An ISO timestamp indicating the date and time when the scan ended. For example, `2018-12-31T13:51:17.243Z`"
          },
          "status": {
            "type": "number",
            "format": "float",
            "description": "The progress of the scan ranging from 0 to 100."
          }
        }
      },
      "Response-AttestationList": {
        "type": "object",
        "properties": {
          "owner": {
            "type": "string",
            "example": "example@example.com",
            "description": "The owner of the attestation."
          },
          "latest_comment": {
            "type": "string",
            "example": "None",
            "description": "The latest comment on the attestation."
          },
          "submitted_at": {
            "type": "string",
            "format": "date-time",
            "example": "2018-07-21T17:32:28Z",
            "description": "An ISO timestamp indicating the date and time when the scan was submitted for attestation. For example, `2018-12-31T13:51:17.243Z`."
          },
          "assessor": {
            "type": "string",
            "example": "assessor.analyst@tenable.com",
            "description": "The username or email address of the assessor of the attestation."
          },
          "dispute_count": {
            "type": "integer",
            "format": "int64",
            "description": "The number of disputes for the attestation."
          },
          "customer_uuid": {
            "format": "int64",
            "description": "The number of disputes for the attestation."
          },
          "attestation_internal_notes_count": {
            "type": "string",
            "example": "assessor.analyst@tenable.com",
            "description": "The number of internal notes for the attestation."
          },
          "scan_completion_date": {
            "type": "string",
            "format": "date-time",
            "example": "2018-07-21T17:32:28Z",
            "description": "An ISO timestamp indicating the date and time when the scan was completed. For example, `2018-12-31T13:51:17.243Z`."
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "example": "2018-07-21T17:32:28Z",
            "description": "An ISO timestamp indicating the date and time when the attestation was created. For example, `2018-12-31T13:51:17.243Z`."
          },
          "failure_count": {
            "type": "integer",
            "format": "int64",
            "description": "The number of failures in the attestation."
          },
          "created_by": {
            "type": "string",
            "example": "example@example.com",
            "description": "The username or email address of the creator of the attestation."
          },
          "uuid": {
            "type": "string",
            "format": "uuid",
            "example": "783f7000-734e-46d0-9fea-2a8ac2f8e9f4",
            "description": "The UUID of the attestation in Tenable PCI ASV."
          },
          "asset_count": {
            "type": "integer",
            "format": "int64",
            "description": "The number of assets in the attestation."
          },
          "passed_dispute_count": {
            "type": "integer",
            "format": "int64",
            "description": "The number of passed disputes in the attestation."
          },
          "undisputed_failure_count": {
            "type": "integer",
            "format": "int64",
            "description": "The number of undisputed failures in the attestation."
          },
          "scan_expiration_date": {
            "type": "string",
            "format": "date-time",
            "example": "2018-07-21T17:32:28Z",
            "description": "An ISO timestamp indicating the date and time when the scan will expire. For example, `2018-12-31T13:51:17.243Z`."
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "example": "2018-07-21T17:32:28Z",
            "description": "An ISO timestamp indicating the date and time when the attestation was last updated. For example, `2018-12-31T13:51:17.243Z`."
          },
          "contact": {
            "$ref": "#/components/schemas/Response-AttestationContact"
          },
          "updated_by": {
            "type": "string",
            "example": "example@example.com",
            "description": "The user that last updated the attestation."
          },
          "name": {
            "type": "string",
            "example": "PCI Attestation",
            "description": "The name of the PCI scan in PCI ASV."
          },
          "failed_dispute_count": {
            "type": "integer",
            "format": "int64",
            "description": "The number of failed disputes in the attestation."
          },
          "cde.uuid": {
            "type": "string",
            "format": "uuid",
            "example": "483f7000-734e-46d0-9fea-2a8ac2f8e9f6",
            "description": "The UUID of the PCI scan in Tenable PCI ASV."
          },
          "undetermined_dispute_count": {
            "type": "integer",
            "format": "int64",
            "description": "The number of undetermined disputes in the attestation."
          },
          "company": {
            "type": "string",
            "example": "company name",
            "description": "The name of the company."
          },
          "excluded_asset_count": {
            "type": "integer",
            "format": "int64",
            "description": "The number of excluded assets in the attestation."
          },
          "status": {
            "type": "string",
            "example": "needs-work",
            "description": "The status of the attestation."
          }
        }
      },
      "Response-DisputeList": {
        "type": "object",
        "properties": {
          "severity": {
            "type": "integer",
            "format": "int32",
            "description": "The severity of the plugin."
          },
          "owner": {
            "type": "string",
            "example": "example@example.com",
            "description": "The username or email address of the owner of the dispute."
          },
          "reason": {
            "type": "string",
            "description": "The reason for the dispute."
          },
          "plugin_id": {
            "type": "integer",
            "format": "int64",
            "description": "The plugin ID in the PCI ASV scan for the dispute."
          },
          "latest_comment": {
            "type": "string",
            "example": "None",
            "description": "The latest comment on the dispute."
          },
          "customer_uuid": {
            "type": "string",
            "format": "uuid",
            "example": "b810d632-4c24-4b71-9a4f-71416c375d47",
            "description": "The UUID of the customer in Tenable PCI ASV."
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "example": "2018-07-21T17:32:28Z",
            "description": "An ISO timestamp indicating the date and time when the dispute was created. For example, `2018-12-31T13:51:17.243Z`."
          },
          "failure_count": {
            "type": "integer",
            "format": "int32",
            "description": "The number of failures in the dispute."
          },
          "explanation": {
            "type": "string",
            "example": "example explanation",
            "description": "The explanation for the dispute."
          },
          "plugin_name": {
            "type": "string",
            "example": "PCI DSS Compliance : Remote Access Software Has Been Detected",
            "description": "The plugin name in the PCI ASV scan for the dispute."
          },
          "created_by": {
            "type": "string",
            "example": "example@example.com",
            "description": "The username or email address of the person that created the dispute."
          },
          "determination_comment": {
            "type": "string",
            "example": "PASS",
            "description": "A comment about the determination of the dispute."
          },
          "uuid": {
            "type": "string",
            "format": "uuid",
            "example": "783f7000-734e-46d0-9fea-2a8ac2f8e9f4",
            "description": "The UUID of the attestation in PCI ASV."
          },
          "cloned": {
            "type": "boolean",
            "example": false,
            "description": "Indicates whether the dispute is cloned or not."
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "example": "2018-07-21T17:32:28Z",
            "description": "An ISO timestamp indicating the date and time when the dispute was last updated. For example, `2018-12-31T13:51:17.243Z`."
          },
          "attestation_uuid": {
            "type": "string",
            "format": "uuid",
            "example": "753f7000-734e-06d0-9fea-2a8bc2f8e7f4",
            "description": "The UUID of the attestation."
          },
          "updated_by": {
            "type": "string",
            "example": "example@example.com",
            "description": "The username or email address of the user that last updated the dispute."
          },
          "name": {
            "type": "string",
            "example": "PCI Dispute",
            "description": "The name of the dispute."
          },
          "scan_date": {
            "type": "string",
            "format": "date-time",
            "example": "2018-07-21T17:32:28Z",
            "description": "An ISO timestamp indicating the date and time when the scan ended. For example, `2018-12-31T13:51:17.243Z`."
          },
          "status": {
            "type": "string",
            "example": "passed",
            "description": "The status of the dispute."
          }
        }
      },
      "Response-AttestationContact": {
        "description": "The contact information for the owner of the attestation.",
        "type": "object",
        "properties": {
          "contact_name": {
            "type": "string",
            "description": "The contact's' name."
          },
          "email": {
            "type": "string",
            "description": "The contact's email address."
          },
          "title": {
            "type": "string",
            "description": "The contact's title."
          },
          "phone_number": {
            "type": "string",
            "description": "The contact's phone number."
          },
          "company_name": {
            "type": "string",
            "description": "The contact's company name."
          },
          "company_url": {
            "type": "string",
            "description": "The contact's company URL."
          },
          "city": {
            "type": "string",
            "description": "The city where the contact resides."
          },
          "state": {
            "type": "string",
            "description": "The state where the contact resides."
          },
          "zip_code": {
            "type": "string",
            "description": "The zip code for the contact's address."
          },
          "country": {
            "type": "string",
            "description": "The country where the contact resides."
          },
          "submitted_at": {
            "type": "string",
            "format": "date-time",
            "example": "2018-07-21T17:32:28Z",
            "description": "An ISO timestamp indicating the date and time when the attestation was submitted. For example, `2018-12-31T13:51:17.243Z`."
          },
          "submitted_by_username": {
            "type": "string",
            "description": "The username of the person who submitted the attestation."
          },
          "submitted_by_id": {
            "type": "string",
            "format": "uuid",
            "description": "The UUID of the user that submitted the attestation."
          },
          "dispute_failure_reason": {
            "type": "string",
            "description": "The reason for the dispute failure."
          },
          "dispute_failure_comments": {
            "type": "string",
            "description": "Additional comments about the dispute failure."
          },
          "address_1": {
            "type": "string",
            "description": "The contact's primary address."
          },
          "address_2": {
            "type": "string",
            "description": "The contact's secondary address."
          }
        }
      },
      "Response-AttestationAssetList": {
        "type": "object",
        "properties": {
          "excluded": {
            "type": "boolean",
            "description": "The number of assets included or excluded"
          },
          "undisputed_failure_count": {
            "type": "integer",
            "format": "int64",
            "description": "The number of undisputed failures in the attestation."
          },
          "address": {
            "type": "string",
            "example": "127.0.0.1",
            "description": "The IP address of the asset."
          },
          "fqdn": {
            "type": "string",
            "format": "fqdn",
            "example": "target.asset.com",
            "description": "The fully qualified domain name for the asset."
          },
          "attestation_uuid": {
            "type": "string",
            "format": "uuid",
            "example": "783f7000-734e-46d0-9fea-2a8ac2f8e9f4",
            "description": "The UUID of the attestation."
          },
          "name": {
            "type": "string",
            "format": "Asset Name",
            "description": "The name of the asset."
          },
          "scan_uuid": {
            "type": "string",
            "format": "uuid",
            "example": "783f7000-734e-46d0-9fea-2a8ac2f8e9f4",
            "description": "The UUID of the scan associated with an asset."
          },
          "operating_system": {
            "type": "string",
            "example": "Windows",
            "description": "The operating system installed on the asset."
          },
          "failure_count": {
            "type": "integer",
            "format": "int64",
            "description": "The number of failures for the asset."
          },
          "scan_name": {
            "type": "string",
            "format": "Scan Name",
            "description": "The name of the scan associated with the asset."
          },
          "uuid": {
            "type": "string",
            "format": "uuid",
            "example": "483f7000-734e-46d0-9fea-2a8ac2f8e9f6",
            "description": "The UUID of the PCI asset in the Tenable PCI ASV."
          },
          "scan_date": {
            "type": "string",
            "format": "date-time",
            "example": "2018-07-21T17:32:28Z",
            "description": "An ISO timestamp indicating the date and time when the scan ended. For example, `2018-12-31T13:51:17.243Z`"
          }
        }
      },
      "Response-UndisputedFailuresList": {
        "type": "object",
        "properties": {
          "severity": {
            "type": "integer",
            "format": "int64",
            "description": "The severity of the plugin."
          },
          "plugin_id": {
            "type": "integer",
            "format": "int64",
            "description": "The plugin ID in the PCI ASV scan for the dispute."
          },
          "cvss_score": {
            "type": "integer",
            "example": "int64",
            "description": "The Common Vulnerability Scoring System (CVSS) base score (intrinsic and fundamental characteristics of a vulnerability that are constant over time and user environments)."
          },
          "address": {
            "type": "string",
            "example": "127.0.0.1",
            "description": "The IP address of the asset."
          },
          "scan_uuid": {
            "type": "string",
            "format": "uuid",
            "example": "783f7000-734e-46d0-9fea-2a8ac2f8e9f4",
            "description": "The UUID of the scan associated with an asset."
          },
          "duplicate": {
            "type": "boolean",
            "description": "Indicates whether or not the failure is duplicated."
          },
          "rerank_type": {
            "type": "string",
            "format": "not-reranked",
            "example": "not-reranked",
            "description": "The rank type value of the undisputed failure."
          },
          "plugin_name": {
            "type": "string",
            "example": "OpenSSH < 9.3 Multiple Vulnerabilities",
            "description": "The plugin name in the PCI ASV scan for the failure."
          },
          "uuid": {
            "type": "string",
            "format": "uuid",
            "example": "483f7000-734e-46d0-9fea-2a8ac2f8e9f6",
            "description": "The UUID of the undisputed failure in PCI ASV."
          },
          "protocol": {
            "type": "string",
            "format": "tcp",
            "example": "tcp",
            "description": "The protocol value of the failure."
          },
          "asset_name": {
            "type": "string",
            "format": "Asset name",
            "example": "783f7000-734e-46d0-9fea-2a8ac2f8e9f4",
            "description": "The name of the asset."
          },
          "port": {
            "type": "integer",
            "format": "int64",
            "description": "The port on which the plugin detected the failure."
          },
          "attestation_uuid": {
            "type": "string",
            "format": "uuid",
            "example": "783f7000-734e-46d0-9fea-2a8ac2f8e9f4",
            "description": "The UUID of the attestation."
          },
          "scan_name": {
            "type": "string",
            "format": "Scan Name",
            "description": "The name of the scan associated with the asset."
          },
          "scan_date": {
            "type": "string",
            "format": "date-time",
            "example": "2018-07-21T17:32:28Z",
            "description": "An ISO timestamp indicating the date and time when the scan ended. For example, `2018-12-31T13:51:17.243Z`"
          }
        }
      },
      "Response-Pagination": {
        "description": "An object containing pagination information for the current result set.",
        "type": "object",
        "properties": {
          "total": {
            "type": "integer",
            "format": "int32",
            "description": "The total number of records matching your search criteria."
          },
          "offset": {
            "type": "integer",
            "format": "int32",
            "description": "The starting record you requested (or zero if omitted)."
          },
          "limit": {
            "type": "integer",
            "format": "int32",
            "description": "The number of records requested (or the default value if omitted from the request)."
          },
          "sort": {
            "description": "An array of objects specifying how the current result set is sorted.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Response-PaginationSortObject"
            }
          }
        }
      },
      "Response-PaginationSortObject": {
        "description": "An object specifying how the current result set is sorted, including the property by which the results were sorted and the sort direction.",
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "The property used to sort the results."
          },
          "order": {
            "type": "string",
            "description": "The sort direction for the results. `asc` for ascending or `desc` for descending."
          }
        }
      },
      "ErrorResponse-500": {
        "type": "object",
        "properties": {
          "statusCode": {
            "type": "integer",
            "description": "The HTTP status code of the error."
          },
          "error": {
            "type": "string",
            "description": "The standard HTTP error name."
          },
          "message": {
            "type": "string",
            "description": "A brief message about the cause of the error."
          }
        }
      }
    }
  },
  "x-readme": {
    "proxy-enabled": false,
    "samples-languages": [
      "python",
      "curl",
      "node",
      "powershell",
      "ruby",
      "javascript",
      "objectivec",
      "java",
      "php",
      "csharp",
      "go",
      "swift",
      "kotlin"
    ]
  }
}
