{
  "openapi": "3.1.0",
  "info": {
    "title": "CRFEG - Application Portal API",
    "version": "1.0.0",
    "description": "Application Portal middleware API.\n\nThis API acts as a proxy layer between the frontend (WordPress)\nand Salesforce.\n\nAll business data is stored in Salesforce.\nThe frontend never creates applications.\n\nMultilanguage:\nLocalized responses are controlled via the `language` header.\nSupported languages: de, en.\nDefault language: de.\n\nAuthentication:\nUses JWT Bearer tokens.\nAccess tokens are short-lived.\nRefresh tokens are stored server-side and can be revoked.",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/civitta-ef8/CRFEG-DUP/1.0.0"
  },
  "servers": [
    {
      "url": "https://api.examples.com/v1",
      "description": "Production Server"
    }
  ],
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Authentication"
    },
    {
      "name": "User"
    },
    {
      "name": "Applications"
    },
    {
      "name": "Credit Recognition"
    }
  ],
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "parameters": {
      "Language": {
        "name": "language",
        "in": "header",
        "required": false,
        "schema": {
          "type": "string",
          "enum": [
            "de",
            "en"
          ],
          "default": "de"
        }
      },
      "University": {
        "name": "university",
        "in": "header",
        "required": true,
        "schema": {
          "type": "string",
          "enum": [
            "hsf",
            "fox",
            "ecosign",
            "amd ..."
          ]
        }
      },
      "ApplicationId": {
        "name": "id",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        }
      }
    },
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "required": [
          "error"
        ],
        "properties": {
          "error": {
            "type": "object",
            "required": [
              "code",
              "message"
            ],
            "properties": {
              "code": {
                "type": "string"
              },
              "message": {
                "type": "string"
              }
            }
          }
        }
      },
      "AuthResponse": {
        "type": "object",
        "required": [
          "accessToken",
          "refreshToken",
          "expiresIn",
          "userId",
          "email"
        ],
        "properties": {
          "accessToken": {
            "type": "string"
          },
          "refreshToken": {
            "type": "string"
          },
          "expiresIn": {
            "type": "integer"
          },
          "userId": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          }
        }
      },
      "ReviewStatus": {
        "type": "string",
        "enum": [
          "ACTION_REQUIRED",
          "UNDER_REVIEW",
          "APPROVED",
          "REJECTED"
        ]
      },
      "DocumentStatus": {
        "type": "string",
        "enum": [
          "LOCKED",
          "PENDING",
          "SENT",
          "UNDER_REVIEW",
          "ACCEPTED",
          "REJECTED"
        ]
      },
      "ApplicationSummary": {
        "type": "object",
        "description": "Flexible summary object defined by Salesforce",
        "additionalProperties": true
      },
      "ApplicationDocument": {
        "type": "object",
        "required": [
          "id",
          "type",
          "title",
          "status",
          "uploadAllowed"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "upload",
              "contract",
              "phone_interview",
              "admission_test"
            ]
          },
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "status": {
            "$ref": "#/components/schemas/DocumentStatus"
          },
          "uploadAllowed": {
            "type": "boolean"
          },
          "uploadConstraints": {
            "type": "object",
            "nullable": true,
            "description": "Upload restrictions defined by Salesforce",
            "properties": {
              "maxSize": {
                "type": "integer",
                "description": "Maximum file size in bytes",
                "example": 26214400
              },
              "allowedMimeTypes": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "example": [
                  "application/pdf",
                  "image/png",
                  "image/jpeg"
                ]
              }
            }
          },
          "rejectionReason": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "DocumentGroup": {
        "type": "object",
        "required": [
          "id",
          "label",
          "documents"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "label": {
            "type": "string"
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "documents": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ApplicationDocument"
            }
          }
        }
      },
      "ContractStatus": {
        "type": "object",
        "required": [
          "status"
        ],
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "NOT_STARTED",
              "SENT",
              "SIGNED"
            ]
          },
          "externalSigningUrl": {
            "type": "string",
            "format": "uri",
            "nullable": true
          }
        }
      },
      "CreditRecognitionOverallStatus": {
        "type": "string",
        "enum": [
          "NOT_STARTED",
          "IN_PROGRESS",
          "UNDER_REVIEW",
          "APPROVED",
          "DECLINED",
          "ACTION_REQUIRED"
        ]
      },
      "CreditRecognitionStatus": {
        "type": "object",
        "required": [
          "overallStatus",
          "documents"
        ],
        "properties": {
          "overallStatus": {
            "$ref": "#/components/schemas/CreditRecognitionOverallStatus"
          },
          "rejectionReason": {
            "type": "string",
            "nullable": true
          },
          "documents": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ApplicationDocument"
            }
          }
        }
      },
      "ApplicationListItem": {
        "type": "object",
        "required": [
          "id",
          "summary",
          "reviewStatus"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "summary": {
            "$ref": "#/components/schemas/ApplicationSummary"
          },
          "reviewStatus": {
            "$ref": "#/components/schemas/ReviewStatus"
          }
        }
      },
      "ApplicationDetail": {
        "type": "object",
        "required": [
          "id",
          "universityId",
          "programInfo",
          "reviewStatus",
          "documentGroups"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "universityId": {
            "type": "string"
          },
          "programInfo": {
            "type": "object",
            "properties": {
              "program": {
                "type": "string"
              },
              "university": {
                "type": "string"
              },
              "campus": {
                "type": "string"
              },
              "studyMode": {
                "type": "string"
              },
              "tuitionFee": {
                "type": "string"
              },
              "credits": {
                "type": "integer"
              },
              "startDate": {
                "type": "string",
                "format": "date"
              },
              "duration": {
                "type": "string"
              },
              "intake": {
                "type": "string"
              }
            }
          },
          "reviewStatus": {
            "$ref": "#/components/schemas/ReviewStatus"
          },
          "rejectionReason": {
            "type": "string",
            "nullable": true
          },
          "documentGroups": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DocumentGroup"
            }
          },
          "creditRecognition": {
            "$ref": "#/components/schemas/CreditRecognitionStatus"
          }
        }
      },
      "User": {
        "type": "object",
        "required": [
          "email",
          "name",
          "surname",
          "university",
          "applications"
        ],
        "properties": {
          "email": {
            "type": "string",
            "format": "email"
          },
          "name": {
            "type": "string"
          },
          "surname": {
            "type": "string"
          },
          "university": {
            "type": "string"
          },
          "applications": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ApplicationListItem"
            }
          }
        }
      }
    }
  },
  "paths": {
    "/auth/validate-token/{token}": {
      "get": {
        "tags": [
          "Authentication"
        ],
        "summary": "Verify activation token",
        "security": [],
        "parameters": [
          {
            "name": "token",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Token valid"
          },
          "404": {
            "description": "Token invalid or expired",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/auth/set-password": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Set password using token",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "token",
                  "password",
                  "passwordConfirm"
                ],
                "properties": {
                  "token": {
                    "type": "string"
                  },
                  "password": {
                    "type": "string",
                    "minLength": 8
                  },
                  "passwordConfirm": {
                    "type": "string",
                    "minLength": 8
                  }
                }
              },
              "examples": {
                "setPasswordExample": {
                  "summary": "Set password request",
                  "value": {
                    "token": "activation_token_abc123",
                    "password": "MySecurePassword123",
                    "passwordConfirm": "MySecurePassword123"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Password successfully set",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthResponse"
                },
                "examples": {
                  "loginAfterPasswordSet": {
                    "summary": "User authenticated after password setup",
                    "value": {
                      "accessToken": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...",
                      "refreshToken": "def50200b1b...",
                      "expiresIn": 3600,
                      "userId": "user_12345",
                      "email": "john.doe@example.com"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Token invalid or expired",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/auth/login": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Login user",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email",
                  "password"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email"
                  },
                  "password": {
                    "type": "string"
                  }
                }
              },
              "examples": {
                "loginExample": {
                  "summary": "Login request",
                  "value": {
                    "email": "john.doe@example.com",
                    "password": "MySecurePassword123"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Login successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthResponse"
                },
                "examples": {
                  "successfulLogin": {
                    "summary": "Successful authentication",
                    "value": {
                      "accessToken": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...",
                      "refreshToken": "def50200b1b...",
                      "expiresIn": 3600,
                      "userId": "user_12345",
                      "email": "john.doe@example.com"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request format",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "missingFields": {
                    "summary": "Missing required fields",
                    "value": {
                      "error": {
                        "code": "INVALID_REQUEST",
                        "message": "Email and password are required"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Invalid email or password",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "invalidCredentials": {
                    "summary": "Wrong credentials",
                    "value": {
                      "error": {
                        "code": "INVALID_CREDENTIALS",
                        "message": "Email or password is incorrect"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/auth/refresh": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Refresh access token",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "refreshToken"
                ],
                "properties": {
                  "refreshToken": {
                    "type": "string"
                  }
                }
              },
              "examples": {
                "refreshExample": {
                  "summary": "Refresh access token request",
                  "value": {
                    "refreshToken": "def50200b1b..."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Token refreshed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthResponse"
                },
                "examples": {
                  "refreshedTokens": {
                    "summary": "New access token issued",
                    "value": {
                      "accessToken": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...",
                      "refreshToken": "def50200b1b...",
                      "expiresIn": 3600,
                      "userId": "user_12345",
                      "email": "john.doe@example.com"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Invalid or expired refresh token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "invalidRefreshToken": {
                    "summary": "Refresh token expired or revoked",
                    "value": {
                      "error": {
                        "code": "INVALID_REFRESH_TOKEN",
                        "message": "Refresh token is invalid or expired"
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/auth/forgot-password": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Request password reset",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email"
                  }
                }
              },
              "examples": {
                "resetRequest": {
                  "summary": "Request password reset",
                  "value": {
                    "email": "john.doe@example.com"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "If the account exists, a password reset email has been sent",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "resetSent": {
                    "summary": "Reset email sent",
                    "value": {
                      "message": "If the account exists, a password reset email has been sent"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request format",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/user": {
      "get": {
        "tags": [
          "User"
        ],
        "summary": "Get authenticated user profile",
        "description": "Requires Authorization Bearer token.",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Language"
          },
          {
            "$ref": "#/components/parameters/University"
          }
        ],
        "responses": {
          "200": {
            "description": "User profile with applications",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                },
                "examples": {
                  "userWithApplications": {
                    "summary": "User with multiple applications",
                    "value": {
                      "email": "john.doe@example.com",
                      "name": "John",
                      "surname": "Doe",
                      "university": "hsf",
                      "applications": [
                        {
                          "id": "app_1001",
                          "summary": {
                            "program": "Computer Science MSc",
                            "campus": "Berlin Campus",
                            "intake": "Winter 2025"
                          },
                          "reviewStatus": "UNDER_REVIEW"
                        },
                        {
                          "id": "app_1002",
                          "summary": {
                            "program": "Business Administration MBA",
                            "campus": "Berlin Campus",
                            "intake": "Summer 2025"
                          },
                          "reviewStatus": "APPROVED"
                        },
                        {
                          "id": "app_1003",
                          "summary": {
                            "program": "Mechanical Engineering",
                            "campus": "Berlin Campus",
                            "intake": "Winter 2025"
                          },
                          "reviewStatus": "ACTION_REQUIRED"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized \u2013 missing or invalid JWT token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/applications/{id}": {
      "get": {
        "tags": [
          "Applications"
        ],
        "summary": "Get full application state",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ApplicationId"
          },
          {
            "$ref": "#/components/parameters/Language"
          }
        ],
        "responses": {
          "200": {
            "description": "Full application state",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationDetail"
                },
                "examples": {
                  "applicationPending": {
                    "summary": "Application under review",
                    "value": {
                      "id": "app_1001",
                      "universityId": "hsf",
                      "programInfo": {
                        "program": "Computer Science MSc",
                        "university": "Technical University of Berlin",
                        "campus": "Berlin Campus",
                        "studyMode": "On Campus (Full-time)",
                        "tuitionFee": "\u20ac7,500 per semester",
                        "credits": 120,
                        "startDate": "2025-09-01",
                        "duration": "4 semesters (2 years)",
                        "intake": "Winter 2025"
                      },
                      "reviewStatus": "UNDER_REVIEW",
                      "rejectionReason": null,
                      "documentGroups": [
                        {
                          "id": "admission_docs",
                          "label": "1. Upload admission documents",
                          "description": "Please upload the required documents so we can review your application.",
                          "documents": [
                            {
                              "id": "doc_prev_qual",
                              "type": "upload",
                              "title": "Proof of Previous Qualification",
                              "description": "Diploma or transcript from previous degree",
                              "status": "PENDING",
                              "uploadAllowed": false,
                              "rejectionReason": null
                            },
                            {
                              "id": "doc_cv",
                              "type": "upload",
                              "title": "Curriculum Vitae (CV)",
                              "description": "Latest CV including education and experience",
                              "status": "PENDING",
                              "uploadAllowed": true,
                              "uploadConstraints": {
                                "maxSize": 26214400,
                                "allowedMimeTypes": [
                                  "application/pdf",
                                  "image/png",
                                  "image/jpeg"
                                ]
                              },
                              "rejectionReason": null
                            },
                            {
                              "id": "doc_title",
                              "type": "upload",
                              "title": "Motivation Letter",
                              "description": "Personal motivation letter for the program",
                              "status": "PENDING",
                              "uploadAllowed": true,
                              "uploadConstraints": {
                                "maxSize": 26214400,
                                "allowedMimeTypes": [
                                  "application/pdf",
                                  "image/png",
                                  "image/jpeg"
                                ]
                              },
                              "rejectionReason": null
                            }
                          ]
                        },
                        {
                          "id": "contract_docs",
                          "label": "2. Sign your contract",
                          "documents": [
                            {
                              "id": "doc_contract",
                              "type": "contract",
                              "title": "Study Contract",
                              "status": "PENDING",
                              "uploadAllowed": false,
                              "rejectionReason": null
                            }
                          ]
                        },
                        {
                          "id": "sepa_docs",
                          "label": "3. Sign your SEPA Direct Debit Mandate",
                          "documents": [
                            {
                              "id": "doc_sepa",
                              "type": "contract",
                              "title": "SEPA Mandate",
                              "status": "PENDING",
                              "uploadAllowed": false,
                              "rejectionReason": null
                            }
                          ]
                        },
                        {
                          "id": "enrollment_docs",
                          "label": "4. Upload enrollment documents",
                          "description": "This step will unlock after you complete the previous steps.",
                          "documents": [
                            {
                              "id": "doc_enrol_1",
                              "type": "upload",
                              "title": "Enrollment Certificate",
                              "description": "Official confirmation of enrollment",
                              "status": "LOCKED",
                              "uploadAllowed": false,
                              "rejectionReason": null
                            }
                          ]
                        },
                        {
                          "id": "first_semester_docs",
                          "label": "5. Upload first semester documents",
                          "documents": [
                            {
                              "id": "doc_sem_1",
                              "type": "upload",
                              "title": "Semester Enrollment Confirmation",
                              "description": "Proof of enrollment for the first semester",
                              "status": "LOCKED",
                              "uploadAllowed": false,
                              "rejectionReason": null
                            }
                          ]
                        }
                      ],
                      "creditRecognition": {
                        "overallStatus": "IN_PROGRESS",
                        "rejectionReason": null,
                        "documents": []
                      }
                    }
                  },
                  "applicationApproved": {
                    "summary": "Application approved",
                    "value": {
                      "id": "app_1002",
                      "universityId": "hsf",
                      "programInfo": {
                        "program": "Business Administration MBA",
                        "university": "Munich Business School",
                        "campus": "Munich Campus",
                        "studyMode": "Full-time",
                        "tuitionFee": "\u20ac9,800 per semester",
                        "credits": 90,
                        "startDate": "2025-03-01",
                        "duration": "3 semesters (1.5 years)",
                        "intake": "Summer 2025"
                      },
                      "reviewStatus": "APPROVED",
                      "rejectionReason": null,
                      "documentGroups": [
                        {
                          "id": "admission_docs",
                          "label": "1. Upload admission documents",
                          "description": "Documents already reviewed.",
                          "documents": [
                            {
                              "id": "doc_prev_qual",
                              "type": "upload",
                              "title": "Proof of Previous Qualification",
                              "description": "Diploma or transcript from previous degree",
                              "status": "ACCEPTED",
                              "uploadAllowed": false,
                              "rejectionReason": null
                            },
                            {
                              "id": "doc_cv",
                              "type": "upload",
                              "title": "Curriculum Vitae (CV)",
                              "description": "Latest CV including education and experience",
                              "status": "ACCEPTED",
                              "uploadAllowed": false,
                              "rejectionReason": null
                            },
                            {
                              "id": "doc_title",
                              "type": "upload",
                              "title": "Motivation Letter",
                              "description": "Personal motivation letter for the program",
                              "status": "ACCEPTED",
                              "uploadAllowed": false,
                              "rejectionReason": null
                            }
                          ]
                        },
                        {
                          "id": "contract_docs",
                          "label": "2. Sign your contract",
                          "description": "Contract signing step.",
                          "documents": [
                            {
                              "id": "doc_contract",
                              "type": "contract",
                              "title": "Study Contract",
                              "status": "ACCEPTED",
                              "uploadAllowed": false,
                              "rejectionReason": null
                            }
                          ]
                        },
                        {
                          "id": "sepa_docs",
                          "label": "3. Sign your SEPA Direct Debit Mandate",
                          "description": "SEPA mandate authorization for tuition payments.",
                          "documents": [
                            {
                              "id": "doc_sepa",
                              "type": "contract",
                              "title": "SEPA Mandate",
                              "status": "SENT",
                              "uploadAllowed": false,
                              "rejectionReason": null
                            }
                          ]
                        },
                        {
                          "id": "enrollment_docs",
                          "label": "4. Upload enrollment documents",
                          "description": "Please upload documents required for enrollment.",
                          "documents": [
                            {
                              "id": "doc_enrol_1",
                              "type": "ENROLLMENT_CERTIFICATE",
                              "title": "Enrollment Certificate",
                              "status": "PENDING",
                              "uploadAllowed": true,
                              "uploadConstraints": {
                                "maxSize": 26214400,
                                "allowedMimeTypes": [
                                  "application/pdf",
                                  "image/png",
                                  "image/jpeg"
                                ]
                              },
                              "rejectionReason": null
                            }
                          ]
                        },
                        {
                          "id": "first_semester_docs",
                          "label": "5. Upload first semester documents",
                          "documents": [
                            {
                              "id": "doc_sem_1",
                              "type": "SEMESTER_CONFIRMATION",
                              "title": "Semester Enrollment Confirmation",
                              "status": "LOCKED",
                              "uploadAllowed": false,
                              "rejectionReason": null
                            }
                          ]
                        }
                      ],
                      "creditRecognition": {
                        "overallStatus": "APPROVED",
                        "rejectionReason": null,
                        "documents": []
                      }
                    }
                  },
                  "applicationRejected": {
                    "summary": "Application rejected",
                    "value": {
                      "id": "app_1003",
                      "universityId": "hsf",
                      "programInfo": {
                        "program": "Mechanical Engineering",
                        "university": "Hamburg University of Technology",
                        "campus": "Hamburg Campus",
                        "studyMode": "On Campus",
                        "tuitionFee": "\u20ac6,900 per semester",
                        "credits": 180,
                        "startDate": "2025-09-01",
                        "duration": "6 semesters (3 years)",
                        "intake": "Winter 2025"
                      },
                      "reviewStatus": "REJECTED",
                      "rejectionReason": "Missing required academic transcript",
                      "documentGroups": [
                        {
                          "id": "admission_docs",
                          "label": "1. Upload admission documents",
                          "description": "Some documents were rejected.",
                          "documents": [
                            {
                              "id": "doc_prev_qual",
                              "type": "upload",
                              "title": "Proof of Previous Qualification",
                              "description": "Diploma or transcript from previous degree",
                              "status": "REJECTED",
                              "uploadAllowed": true,
                              "uploadConstraints": {
                                "maxSize": 26214400,
                                "allowedMimeTypes": [
                                  "application/pdf",
                                  "image/png",
                                  "image/jpeg"
                                ]
                              },
                              "rejectionReason": "Document unreadable"
                            },
                            {
                              "id": "doc_cv",
                              "type": "upload",
                              "title": "Curriculum Vitae (CV)",
                              "status": "ACCEPTED",
                              "uploadAllowed": false,
                              "rejectionReason": null
                            },
                            {
                              "id": "doc_title",
                              "type": "upload",
                              "title": "Motivation Letter",
                              "status": "PENDING",
                              "uploadAllowed": true,
                              "uploadConstraints": {
                                "maxSize": 26214400,
                                "allowedMimeTypes": [
                                  "application/pdf",
                                  "image/png",
                                  "image/jpeg"
                                ]
                              },
                              "rejectionReason": null
                            }
                          ]
                        },
                        {
                          "id": "contract_docs",
                          "label": "2. Sign your contract",
                          "documents": [
                            {
                              "id": "doc_contract",
                              "type": "contract",
                              "title": "Study Contract",
                              "status": "LOCKED",
                              "uploadAllowed": false,
                              "rejectionReason": null
                            }
                          ]
                        },
                        {
                          "id": "sepa_docs",
                          "label": "3. Sign your SEPA Direct Debit Mandate",
                          "documents": [
                            {
                              "id": "doc_sepa",
                              "type": "contract",
                              "title": "SEPA Mandate",
                              "status": "LOCKED",
                              "uploadAllowed": false,
                              "rejectionReason": null
                            }
                          ]
                        },
                        {
                          "id": "enrollment_docs",
                          "label": "4. Upload enrollment documents",
                          "documents": [
                            {
                              "id": "doc_enrol_1",
                              "type": "ENROLLMENT_CERTIFICATE",
                              "title": "Enrollment Certificate",
                              "status": "LOCKED",
                              "uploadAllowed": false,
                              "rejectionReason": null
                            }
                          ]
                        },
                        {
                          "id": "first_semester_docs",
                          "label": "5. Upload first semester documents",
                          "documents": [
                            {
                              "id": "doc_sem_1",
                              "type": "SEMESTER_CONFIRMATION",
                              "title": "Semester Enrollment Confirmation",
                              "status": "LOCKED",
                              "uploadAllowed": false,
                              "rejectionReason": null
                            }
                          ]
                        }
                      ],
                      "creditRecognition": {
                        "overallStatus": "DECLINED",
                        "rejectionReason": "Credits could not be matched",
                        "documents": []
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/applications/{id}/documents": {
      "post": {
        "tags": [
          "Applications"
        ],
        "summary": "Upload application document",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ApplicationId"
          },
          {
            "$ref": "#/components/parameters/Language"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "file",
                  "documentId"
                ],
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "Upload document file.\nFile restrictions (allowed formats and maximum size) are defined by Salesforce and returned in the document metadata from the application endpoint.\n"
                  },
                  "documentId": {
                    "type": "string",
                    "description": "Document id identifier",
                    "example": "doc_123"
                  }
                }
              },
              "examples": {
                "admissionDocument": {
                  "summary": "Upload admission transcript",
                  "value": {
                    "documentId": "doc_123"
                  }
                },
                "enrollmentDocument": {
                  "summary": "Upload enrollment certificate",
                  "value": {
                    "documentId": "doc_123"
                  }
                },
                "firstSemesterDocument": {
                  "summary": "Upload first semester confirmation",
                  "value": {
                    "documentId": "doc_123"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Document uploaded successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationDocument"
                },
                "examples": {
                  "uploadedDocument": {
                    "summary": "Uploaded document response",
                    "value": {
                      "id": "doc_12345",
                      "type": "upload",
                      "title": "Bachelor Transcript",
                      "description": "Official transcript from previous university",
                      "status": "PENDING",
                      "uploadAllowed": false,
                      "rejectionReason": null
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request (missing file or invalid document type)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "invalidRequest": {
                    "summary": "Missing file",
                    "value": {
                      "error": {
                        "code": "INVALID_REQUEST",
                        "message": "File is required"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "unauthorized": {
                    "summary": "Missing or invalid token",
                    "value": {
                      "error": {
                        "code": "UNAUTHORIZED",
                        "message": "Authentication required"
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Application or document group not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "applicationNotFound": {
                    "summary": "Application does not exist",
                    "value": {
                      "error": {
                        "code": "APPLICATION_NOT_FOUND",
                        "message": "Application not found"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/applications/{id}/credit-recognition": {
      "get": {
        "tags": [
          "Credit Recognition"
        ],
        "summary": "Get credit recognition status",
        "description": "Returns the credit recognition evaluation status for the given application.",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ApplicationId"
          },
          {
            "$ref": "#/components/parameters/Language"
          }
        ],
        "responses": {
          "200": {
            "description": "Credit recognition status retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreditRecognitionStatus"
                },
                "examples": {
                  "creditRecognitionInProgress": {
                    "summary": "Credit recognition in progress",
                    "value": {
                      "overallStatus": "IN_PROGRESS",
                      "rejectionReason": null,
                      "documents": [
                        {
                          "id": "doc_2001",
                          "type": "upload",
                          "title": "Bachelor Transcript",
                          "description": "Transcript submitted for credit evaluation",
                          "status": "PENDING",
                          "uploadAllowed": false,
                          "rejectionReason": null
                        }
                      ]
                    }
                  },
                  "creditRecognitionApproved": {
                    "summary": "Credit recognition approved",
                    "value": {
                      "overallStatus": "APPROVED",
                      "rejectionReason": null,
                      "documents": [
                        {
                          "id": "doc_2001",
                          "type": "upload",
                          "title": "Bachelor Transcript",
                          "description": "Transcript submitted for credit evaluation",
                          "status": "ACCEPTED",
                          "uploadAllowed": false,
                          "rejectionReason": null
                        }
                      ]
                    }
                  },
                  "creditRecognitionDeclined": {
                    "summary": "Credit recognition declined",
                    "value": {
                      "overallStatus": "DECLINED",
                      "rejectionReason": "Credits could not be matched with program requirements",
                      "documents": []
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Application not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/applications/{id}/contract": {
      "post": {
        "tags": [
          "Applications"
        ],
        "summary": "Create contract signing session",
        "description": "Requests a new contract signing session from Salesforce and returns a signing URL.",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ApplicationId"
          },
          {
            "$ref": "#/components/parameters/Language"
          }
        ],
        "responses": {
          "200": {
            "description": "Signing session created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContractStatus"
                },
                "examples": {
                  "signingSessionCreated": {
                    "summary": "Signing link generated",
                    "value": {
                      "status": "SENT",
                      "externalSigningUrl": "https://sign.example.com/session/abc123"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Application not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Contract already signed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/applications/{id}/contract/resend": {
      "post": {
        "tags": [
          "Applications"
        ],
        "summary": "Regenerate contract signing link",
        "description": "Creates a new contract signing session if the previous signing link has expired.",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ApplicationId"
          },
          {
            "$ref": "#/components/parameters/Language"
          }
        ],
        "responses": {
          "200": {
            "description": "New signing session created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContractStatus"
                },
                "examples": {
                  "signingSessionRegenerated": {
                    "summary": "New signing link generated",
                    "value": {
                      "status": "SENT",
                      "externalSigningUrl": "https://sign.example.com/session/xyz789"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Application not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Contract already signed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  }
}