{
  "openapi": "3.0.3",
  "info": {
    "title": "Refiner API",
    "description": "Refiner REST API for managing surveys, collecting user feedback, and analyzing survey responses. Access survey data, track user events, manage contacts, and retrieve reporting metrics.",
    "version": "1.0.0",
    "contact": {
      "name": "Refiner Support",
      "email": "contact@refiner.io",
      "url": "https://refiner.io"
    }
  },
  "servers": [
    {
      "url": "https://api.refiner.io/v1",
      "description": "Refiner API Server"
    }
  ],
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "paths": {
    "/identify-user": {
      "post": {
        "summary": "Create or update user profile",
        "description": "Create or update a user profile with traits and account grouping",
        "tags": [
          "User Tracking"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "user_id"
                ],
                "properties": {
                  "user_id": {
                    "type": "string"
                  },
                  "email": {
                    "type": "string",
                    "format": "email"
                  },
                  "traits": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "account": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "name": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "User profile created or updated successfully"
          },
          "400": {
            "description": "Bad request"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "operationId": "post_identify_user"
      }
    },
    "/track-event": {
      "post": {
        "summary": "Track user event",
        "description": "Log a user event for analytics and triggering surveys",
        "tags": [
          "User Tracking"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "user_id",
                  "event"
                ],
                "properties": {
                  "user_id": {
                    "type": "string"
                  },
                  "event": {
                    "type": "string"
                  },
                  "properties": {
                    "type": "object",
                    "additionalProperties": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Event tracked successfully"
          }
        },
        "operationId": "post_track_event"
      }
    },
    "/responses": {
      "get": {
        "summary": "Retrieve survey responses",
        "description": "Get survey views and responses with filtering and pagination",
        "tags": [
          "Responses"
        ],
        "parameters": [
          {
            "name": "form_uuid",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of survey responses",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get_responses"
      },
      "post": {
        "summary": "Store survey response",
        "description": "Store historical survey data or custom responses",
        "tags": [
          "Responses"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Response created successfully"
          }
        },
        "operationId": "post_responses"
      }
    },
    "/responses/tags": {
      "post": {
        "summary": "Tag survey responses",
        "description": "Add tags to existing survey responses",
        "tags": [
          "Responses"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "response_ids": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "tags": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tags added successfully"
          }
        },
        "operationId": "post_responses_tags"
      }
    },
    "/reporting": {
      "get": {
        "summary": "Get aggregate metrics",
        "description": "Retrieve NPS, CSAT, ratings, distribution, and counts with filtering",
        "tags": [
          "Reporting"
        ],
        "parameters": [
          {
            "name": "form_uuid",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from_date",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "to_date",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Aggregate metrics",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "operationId": "get_reporting"
      }
    },
    "/contacts": {
      "get": {
        "summary": "List all contacts",
        "description": "Retrieve all contacts with attributes and segments",
        "tags": [
          "Contacts"
        ],
        "responses": {
          "200": {
            "description": "List of contacts",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get_contacts"
      }
    },
    "/contact": {
      "get": {
        "summary": "Get contact data",
        "description": "Fetch data for a specific contact",
        "tags": [
          "Contacts"
        ],
        "parameters": [
          {
            "name": "user_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Contact data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "operationId": "get_contact"
      },
      "delete": {
        "summary": "Delete contact",
        "description": "Remove a contact and associated responses",
        "tags": [
          "Contacts"
        ],
        "parameters": [
          {
            "name": "user_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Contact deleted successfully"
          }
        },
        "operationId": "delete_contact"
      }
    },
    "/forms": {
      "get": {
        "summary": "List surveys",
        "description": "Get all surveys with optional configuration and metadata",
        "tags": [
          "Forms"
        ],
        "responses": {
          "200": {
            "description": "List of surveys",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get_forms"
      },
      "delete": {
        "summary": "Archive survey",
        "description": "Archive a survey",
        "tags": [
          "Forms"
        ],
        "parameters": [
          {
            "name": "form_uuid",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Survey archived"
          }
        },
        "operationId": "delete_forms"
      }
    },
    "/forms/publish": {
      "post": {
        "summary": "Publish or unpublish survey",
        "description": "Change the publish status of a survey",
        "tags": [
          "Forms"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "form_uuid",
                  "published"
                ],
                "properties": {
                  "form_uuid": {
                    "type": "string"
                  },
                  "published": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Survey status updated"
          }
        },
        "operationId": "post_forms_publish"
      }
    },
    "/forms/duplicate": {
      "post": {
        "summary": "Duplicate survey",
        "description": "Create a copy of an existing survey",
        "tags": [
          "Forms"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "form_uuid"
                ],
                "properties": {
                  "form_uuid": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Survey duplicated successfully"
          }
        },
        "operationId": "post_forms_duplicate"
      }
    },
    "/segments": {
      "get": {
        "summary": "Retrieve all segments",
        "description": "Get all user segments",
        "tags": [
          "Segments"
        ],
        "responses": {
          "200": {
            "description": "List of segments",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get_segments"
      }
    },
    "/sync-segment": {
      "post": {
        "summary": "Add users to segment",
        "description": "Add users to a manual segment",
        "tags": [
          "Segments"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "segment_id",
                  "user_ids"
                ],
                "properties": {
                  "segment_id": {
                    "type": "string"
                  },
                  "user_ids": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Users added to segment"
          }
        },
        "operationId": "post_sync_segment"
      },
      "delete": {
        "summary": "Remove users from segment",
        "description": "Remove users from a manual segment",
        "tags": [
          "Segments"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "segment_id",
                  "user_ids"
                ],
                "properties": {
                  "segment_id": {
                    "type": "string"
                  },
                  "user_ids": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Users removed from segment"
          }
        },
        "operationId": "delete_sync_segment"
      }
    },
    "/account": {
      "get": {
        "summary": "Get account details",
        "description": "Retrieve subscription usage and environment details",
        "tags": [
          "Account"
        ],
        "responses": {
          "200": {
            "description": "Account details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "operationId": "get_account"
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Bearer token authentication using API key from Refiner dashboard"
      },
      "ApiKeyQuery": {
        "type": "apiKey",
        "in": "query",
        "name": "api_key",
        "description": "API key as query parameter (alternative authentication method)"
      }
    }
  },
  "tags": [
    {
      "name": "Account"
    },
    {
      "name": "Contacts"
    },
    {
      "name": "Forms"
    },
    {
      "name": "Reporting"
    },
    {
      "name": "Responses"
    },
    {
      "name": "Segments"
    },
    {
      "name": "User Tracking"
    }
  ]
}
