{
  "openapi": "3.0.3",
  "info": {
    "title": "Clicky Analytics API",
    "version": "4.0.0",
    "description": "Clicky web analytics API providing real-time analytics data including visitors, pageviews, actions, searches, links, and more. Uses a single endpoint with type parameter to select data type.",
    "x-jentic-source-url": "https://clicky.com/help/api",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://api.clicky.com/api/stats/4"
    }
  ],
  "paths": {
    "/": {
      "get": {
        "operationId": "getStats",
        "summary": "Get analytics statistics",
        "description": "Main analytics endpoint. Use the 'type' parameter to select the data type. Returns data for the specified site, date range, and filters.",
        "tags": [
          "Analytics"
        ],
        "parameters": [
          {
            "name": "site_id",
            "in": "query",
            "description": "Your Clicky site ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "Data type to retrieve",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "visitors",
                "visitors-list",
                "pages",
                "pages-not-found",
                "downloads",
                "links-outbound",
                "links-domains-outbound",
                "links-internal",
                "searches",
                "searches-engines",
                "traffic-sources",
                "traffic-sources-search",
                "traffic-sources-links",
                "goals",
                "campaigns",
                "video",
                "audio",
                "tweets",
                "referrers",
                "countries",
                "languages",
                "screen-resolutions",
                "os",
                "browsers",
                "organizations",
                "isp",
                "geolocation",
                "visitors-online",
                "visitors-most-active",
                "actions",
                "actions-average",
                "actions-median",
                "time-average",
                "time-total",
                "bounce-rate",
                "time-on-site",
                "energy",
                "segmentation",
                "funnels"
              ]
            }
          },
          {
            "name": "date",
            "in": "query",
            "description": "Date or date range (e.g. today, yesterday, last-7-days, 2024-01-01,2024-01-31)",
            "required": false,
            "schema": {
              "type": "string",
              "default": "today"
            }
          },
          {
            "name": "output",
            "in": "query",
            "description": "Output format",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "xml",
                "csv",
                "php"
              ],
              "default": "json"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results to return",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 10,
              "maximum": 1000
            }
          },
          {
            "name": "hourly",
            "in": "query",
            "description": "Return hourly breakdowns (1=yes)",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [
                0,
                1
              ]
            }
          },
          {
            "name": "daily",
            "in": "query",
            "description": "Return daily breakdowns (1=yes)",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [
                0,
                1
              ]
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "Filter results by search term",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "goal_id",
            "in": "query",
            "description": "Filter by goal ID",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "segment_id",
            "in": "query",
            "description": "Filter by segment ID",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "funnel_id",
            "in": "query",
            "description": "Filter by funnel ID",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "campaign_id",
            "in": "query",
            "description": "Filter by campaign ID",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "filter_pop",
            "in": "query",
            "description": "Filter population (e.g. country=US)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort order (asc or desc)",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ]
            }
          },
          {
            "name": "session_id",
            "in": "query",
            "description": "Get data for specific session",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "visitor_id",
            "in": "query",
            "description": "Get data for specific visitor",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ip_address",
            "in": "query",
            "description": "Get data for specific IP",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "custom",
            "in": "query",
            "description": "Custom data name",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/visitors": {
      "get": {
        "operationId": "getVisitors",
        "summary": "Get visitor statistics",
        "description": "Get visitors analytics data. Equivalent to calling the main endpoint with type=visitors.",
        "tags": [
          "Visitors"
        ],
        "parameters": [
          {
            "name": "site_id",
            "in": "query",
            "description": "Your Clicky site ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "date",
            "in": "query",
            "description": "Date or date range",
            "required": false,
            "schema": {
              "type": "string",
              "default": "today"
            }
          },
          {
            "name": "output",
            "in": "query",
            "description": "Output format",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "xml",
                "csv",
                "php"
              ],
              "default": "json"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get visitor statistics",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/visitors-list": {
      "get": {
        "operationId": "getVisitorsList",
        "summary": "Get detailed visitor list",
        "description": "Get visitors-list analytics data. Equivalent to calling the main endpoint with type=visitors-list.",
        "tags": [
          "Visitors"
        ],
        "parameters": [
          {
            "name": "site_id",
            "in": "query",
            "description": "Your Clicky site ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "date",
            "in": "query",
            "description": "Date or date range",
            "required": false,
            "schema": {
              "type": "string",
              "default": "today"
            }
          },
          {
            "name": "output",
            "in": "query",
            "description": "Output format",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "xml",
                "csv",
                "php"
              ],
              "default": "json"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get detailed visitor list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/visitors-online": {
      "get": {
        "operationId": "getVisitorsOnline",
        "summary": "Get currently online visitors",
        "description": "Get visitors-online analytics data. Equivalent to calling the main endpoint with type=visitors-online.",
        "tags": [
          "Visitors"
        ],
        "parameters": [
          {
            "name": "site_id",
            "in": "query",
            "description": "Your Clicky site ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "date",
            "in": "query",
            "description": "Date or date range",
            "required": false,
            "schema": {
              "type": "string",
              "default": "today"
            }
          },
          {
            "name": "output",
            "in": "query",
            "description": "Output format",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "xml",
                "csv",
                "php"
              ],
              "default": "json"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get currently online visitors",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/pages": {
      "get": {
        "operationId": "getPages",
        "summary": "Get page view statistics",
        "description": "Get pages analytics data. Equivalent to calling the main endpoint with type=pages.",
        "tags": [
          "Content"
        ],
        "parameters": [
          {
            "name": "site_id",
            "in": "query",
            "description": "Your Clicky site ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "date",
            "in": "query",
            "description": "Date or date range",
            "required": false,
            "schema": {
              "type": "string",
              "default": "today"
            }
          },
          {
            "name": "output",
            "in": "query",
            "description": "Output format",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "xml",
                "csv",
                "php"
              ],
              "default": "json"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get page view statistics",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/pages-not-found": {
      "get": {
        "operationId": "getPagesNotFound",
        "summary": "Get 404 page statistics",
        "description": "Get pages-not-found analytics data. Equivalent to calling the main endpoint with type=pages-not-found.",
        "tags": [
          "Content"
        ],
        "parameters": [
          {
            "name": "site_id",
            "in": "query",
            "description": "Your Clicky site ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "date",
            "in": "query",
            "description": "Date or date range",
            "required": false,
            "schema": {
              "type": "string",
              "default": "today"
            }
          },
          {
            "name": "output",
            "in": "query",
            "description": "Output format",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "xml",
                "csv",
                "php"
              ],
              "default": "json"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get 404 page statistics",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/downloads": {
      "get": {
        "operationId": "getDownloads",
        "summary": "Get download statistics",
        "description": "Get downloads analytics data. Equivalent to calling the main endpoint with type=downloads.",
        "tags": [
          "Content"
        ],
        "parameters": [
          {
            "name": "site_id",
            "in": "query",
            "description": "Your Clicky site ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "date",
            "in": "query",
            "description": "Date or date range",
            "required": false,
            "schema": {
              "type": "string",
              "default": "today"
            }
          },
          {
            "name": "output",
            "in": "query",
            "description": "Output format",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "xml",
                "csv",
                "php"
              ],
              "default": "json"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get download statistics",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/links-outbound": {
      "get": {
        "operationId": "getOutboundLinks",
        "summary": "Get outbound link click statistics",
        "description": "Get links-outbound analytics data. Equivalent to calling the main endpoint with type=links-outbound.",
        "tags": [
          "Links"
        ],
        "parameters": [
          {
            "name": "site_id",
            "in": "query",
            "description": "Your Clicky site ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "date",
            "in": "query",
            "description": "Date or date range",
            "required": false,
            "schema": {
              "type": "string",
              "default": "today"
            }
          },
          {
            "name": "output",
            "in": "query",
            "description": "Output format",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "xml",
                "csv",
                "php"
              ],
              "default": "json"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get outbound link click statistics",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/links-internal": {
      "get": {
        "operationId": "getInternalLinks",
        "summary": "Get internal link click statistics",
        "description": "Get links-internal analytics data. Equivalent to calling the main endpoint with type=links-internal.",
        "tags": [
          "Links"
        ],
        "parameters": [
          {
            "name": "site_id",
            "in": "query",
            "description": "Your Clicky site ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "date",
            "in": "query",
            "description": "Date or date range",
            "required": false,
            "schema": {
              "type": "string",
              "default": "today"
            }
          },
          {
            "name": "output",
            "in": "query",
            "description": "Output format",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "xml",
                "csv",
                "php"
              ],
              "default": "json"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get internal link click statistics",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/searches": {
      "get": {
        "operationId": "getSearches",
        "summary": "Get on-site search statistics",
        "description": "Get searches analytics data. Equivalent to calling the main endpoint with type=searches.",
        "tags": [
          "Search"
        ],
        "parameters": [
          {
            "name": "site_id",
            "in": "query",
            "description": "Your Clicky site ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "date",
            "in": "query",
            "description": "Date or date range",
            "required": false,
            "schema": {
              "type": "string",
              "default": "today"
            }
          },
          {
            "name": "output",
            "in": "query",
            "description": "Output format",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "xml",
                "csv",
                "php"
              ],
              "default": "json"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get on-site search statistics",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/searches-engines": {
      "get": {
        "operationId": "getSearchEngines",
        "summary": "Get search engine referrer statistics",
        "description": "Get searches-engines analytics data. Equivalent to calling the main endpoint with type=searches-engines.",
        "tags": [
          "Search"
        ],
        "parameters": [
          {
            "name": "site_id",
            "in": "query",
            "description": "Your Clicky site ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "date",
            "in": "query",
            "description": "Date or date range",
            "required": false,
            "schema": {
              "type": "string",
              "default": "today"
            }
          },
          {
            "name": "output",
            "in": "query",
            "description": "Output format",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "xml",
                "csv",
                "php"
              ],
              "default": "json"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get search engine referrer statistics",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/traffic-sources": {
      "get": {
        "operationId": "getTrafficSources",
        "summary": "Get traffic source statistics",
        "description": "Get traffic-sources analytics data. Equivalent to calling the main endpoint with type=traffic-sources.",
        "tags": [
          "Traffic"
        ],
        "parameters": [
          {
            "name": "site_id",
            "in": "query",
            "description": "Your Clicky site ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "date",
            "in": "query",
            "description": "Date or date range",
            "required": false,
            "schema": {
              "type": "string",
              "default": "today"
            }
          },
          {
            "name": "output",
            "in": "query",
            "description": "Output format",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "xml",
                "csv",
                "php"
              ],
              "default": "json"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get traffic source statistics",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/traffic-sources-search": {
      "get": {
        "operationId": "getSearchTrafficSources",
        "summary": "Get search traffic sources",
        "description": "Get traffic-sources-search analytics data. Equivalent to calling the main endpoint with type=traffic-sources-search.",
        "tags": [
          "Traffic"
        ],
        "parameters": [
          {
            "name": "site_id",
            "in": "query",
            "description": "Your Clicky site ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "date",
            "in": "query",
            "description": "Date or date range",
            "required": false,
            "schema": {
              "type": "string",
              "default": "today"
            }
          },
          {
            "name": "output",
            "in": "query",
            "description": "Output format",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "xml",
                "csv",
                "php"
              ],
              "default": "json"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get search traffic sources",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/traffic-sources-links": {
      "get": {
        "operationId": "getLinkTrafficSources",
        "summary": "Get link traffic sources",
        "description": "Get traffic-sources-links analytics data. Equivalent to calling the main endpoint with type=traffic-sources-links.",
        "tags": [
          "Traffic"
        ],
        "parameters": [
          {
            "name": "site_id",
            "in": "query",
            "description": "Your Clicky site ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "date",
            "in": "query",
            "description": "Date or date range",
            "required": false,
            "schema": {
              "type": "string",
              "default": "today"
            }
          },
          {
            "name": "output",
            "in": "query",
            "description": "Output format",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "xml",
                "csv",
                "php"
              ],
              "default": "json"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get link traffic sources",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/goals": {
      "get": {
        "operationId": "getGoals",
        "summary": "Get goal conversion statistics",
        "description": "Get goals analytics data. Equivalent to calling the main endpoint with type=goals.",
        "tags": [
          "Goals"
        ],
        "parameters": [
          {
            "name": "site_id",
            "in": "query",
            "description": "Your Clicky site ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "date",
            "in": "query",
            "description": "Date or date range",
            "required": false,
            "schema": {
              "type": "string",
              "default": "today"
            }
          },
          {
            "name": "output",
            "in": "query",
            "description": "Output format",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "xml",
                "csv",
                "php"
              ],
              "default": "json"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get goal conversion statistics",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/campaigns": {
      "get": {
        "operationId": "getCampaigns",
        "summary": "Get campaign statistics",
        "description": "Get campaigns analytics data. Equivalent to calling the main endpoint with type=campaigns.",
        "tags": [
          "Campaigns"
        ],
        "parameters": [
          {
            "name": "site_id",
            "in": "query",
            "description": "Your Clicky site ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "date",
            "in": "query",
            "description": "Date or date range",
            "required": false,
            "schema": {
              "type": "string",
              "default": "today"
            }
          },
          {
            "name": "output",
            "in": "query",
            "description": "Output format",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "xml",
                "csv",
                "php"
              ],
              "default": "json"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get campaign statistics",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/countries": {
      "get": {
        "operationId": "getCountries",
        "summary": "Get visitor country statistics",
        "description": "Get countries analytics data. Equivalent to calling the main endpoint with type=countries.",
        "tags": [
          "Demographics"
        ],
        "parameters": [
          {
            "name": "site_id",
            "in": "query",
            "description": "Your Clicky site ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "date",
            "in": "query",
            "description": "Date or date range",
            "required": false,
            "schema": {
              "type": "string",
              "default": "today"
            }
          },
          {
            "name": "output",
            "in": "query",
            "description": "Output format",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "xml",
                "csv",
                "php"
              ],
              "default": "json"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get visitor country statistics",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/languages": {
      "get": {
        "operationId": "getLanguages",
        "summary": "Get visitor language statistics",
        "description": "Get languages analytics data. Equivalent to calling the main endpoint with type=languages.",
        "tags": [
          "Demographics"
        ],
        "parameters": [
          {
            "name": "site_id",
            "in": "query",
            "description": "Your Clicky site ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "date",
            "in": "query",
            "description": "Date or date range",
            "required": false,
            "schema": {
              "type": "string",
              "default": "today"
            }
          },
          {
            "name": "output",
            "in": "query",
            "description": "Output format",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "xml",
                "csv",
                "php"
              ],
              "default": "json"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get visitor language statistics",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/os": {
      "get": {
        "operationId": "getOperatingSystems",
        "summary": "Get operating system statistics",
        "description": "Get os analytics data. Equivalent to calling the main endpoint with type=os.",
        "tags": [
          "Technology"
        ],
        "parameters": [
          {
            "name": "site_id",
            "in": "query",
            "description": "Your Clicky site ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "date",
            "in": "query",
            "description": "Date or date range",
            "required": false,
            "schema": {
              "type": "string",
              "default": "today"
            }
          },
          {
            "name": "output",
            "in": "query",
            "description": "Output format",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "xml",
                "csv",
                "php"
              ],
              "default": "json"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get operating system statistics",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/browsers": {
      "get": {
        "operationId": "getBrowsers",
        "summary": "Get browser statistics",
        "description": "Get browsers analytics data. Equivalent to calling the main endpoint with type=browsers.",
        "tags": [
          "Technology"
        ],
        "parameters": [
          {
            "name": "site_id",
            "in": "query",
            "description": "Your Clicky site ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "date",
            "in": "query",
            "description": "Date or date range",
            "required": false,
            "schema": {
              "type": "string",
              "default": "today"
            }
          },
          {
            "name": "output",
            "in": "query",
            "description": "Output format",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "xml",
                "csv",
                "php"
              ],
              "default": "json"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get browser statistics",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/screen-resolutions": {
      "get": {
        "operationId": "getScreenResolutions",
        "summary": "Get screen resolution statistics",
        "description": "Get screen-resolutions analytics data. Equivalent to calling the main endpoint with type=screen-resolutions.",
        "tags": [
          "Technology"
        ],
        "parameters": [
          {
            "name": "site_id",
            "in": "query",
            "description": "Your Clicky site ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "date",
            "in": "query",
            "description": "Date or date range",
            "required": false,
            "schema": {
              "type": "string",
              "default": "today"
            }
          },
          {
            "name": "output",
            "in": "query",
            "description": "Output format",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "xml",
                "csv",
                "php"
              ],
              "default": "json"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get screen resolution statistics",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/referrers": {
      "get": {
        "operationId": "getReferrers",
        "summary": "Get referrer statistics",
        "description": "Get referrers analytics data. Equivalent to calling the main endpoint with type=referrers.",
        "tags": [
          "Traffic"
        ],
        "parameters": [
          {
            "name": "site_id",
            "in": "query",
            "description": "Your Clicky site ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "date",
            "in": "query",
            "description": "Date or date range",
            "required": false,
            "schema": {
              "type": "string",
              "default": "today"
            }
          },
          {
            "name": "output",
            "in": "query",
            "description": "Output format",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "xml",
                "csv",
                "php"
              ],
              "default": "json"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get referrer statistics",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/bounce-rate": {
      "get": {
        "operationId": "getBounceRate",
        "summary": "Get bounce rate statistics",
        "description": "Get bounce-rate analytics data. Equivalent to calling the main endpoint with type=bounce-rate.",
        "tags": [
          "Engagement"
        ],
        "parameters": [
          {
            "name": "site_id",
            "in": "query",
            "description": "Your Clicky site ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "date",
            "in": "query",
            "description": "Date or date range",
            "required": false,
            "schema": {
              "type": "string",
              "default": "today"
            }
          },
          {
            "name": "output",
            "in": "query",
            "description": "Output format",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "xml",
                "csv",
                "php"
              ],
              "default": "json"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get bounce rate statistics",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/time-average": {
      "get": {
        "operationId": "getAverageTime",
        "summary": "Get average time on site",
        "description": "Get time-average analytics data. Equivalent to calling the main endpoint with type=time-average.",
        "tags": [
          "Engagement"
        ],
        "parameters": [
          {
            "name": "site_id",
            "in": "query",
            "description": "Your Clicky site ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "date",
            "in": "query",
            "description": "Date or date range",
            "required": false,
            "schema": {
              "type": "string",
              "default": "today"
            }
          },
          {
            "name": "output",
            "in": "query",
            "description": "Output format",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "xml",
                "csv",
                "php"
              ],
              "default": "json"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get average time on site",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/actions-average": {
      "get": {
        "operationId": "getAverageActions",
        "summary": "Get average actions per visit",
        "description": "Get actions-average analytics data. Equivalent to calling the main endpoint with type=actions-average.",
        "tags": [
          "Engagement"
        ],
        "parameters": [
          {
            "name": "site_id",
            "in": "query",
            "description": "Your Clicky site ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "date",
            "in": "query",
            "description": "Date or date range",
            "required": false,
            "schema": {
              "type": "string",
              "default": "today"
            }
          },
          {
            "name": "output",
            "in": "query",
            "description": "Output format",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "xml",
                "csv",
                "php"
              ],
              "default": "json"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get average actions per visit",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/video": {
      "get": {
        "operationId": "getVideoStats",
        "summary": "Get video analytics",
        "description": "Get video analytics data. Equivalent to calling the main endpoint with type=video.",
        "tags": [
          "Media"
        ],
        "parameters": [
          {
            "name": "site_id",
            "in": "query",
            "description": "Your Clicky site ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "date",
            "in": "query",
            "description": "Date or date range",
            "required": false,
            "schema": {
              "type": "string",
              "default": "today"
            }
          },
          {
            "name": "output",
            "in": "query",
            "description": "Output format",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "xml",
                "csv",
                "php"
              ],
              "default": "json"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get video analytics",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/audio": {
      "get": {
        "operationId": "getAudioStats",
        "summary": "Get audio analytics",
        "description": "Get audio analytics data. Equivalent to calling the main endpoint with type=audio.",
        "tags": [
          "Media"
        ],
        "parameters": [
          {
            "name": "site_id",
            "in": "query",
            "description": "Your Clicky site ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "date",
            "in": "query",
            "description": "Date or date range",
            "required": false,
            "schema": {
              "type": "string",
              "default": "today"
            }
          },
          {
            "name": "output",
            "in": "query",
            "description": "Output format",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "xml",
                "csv",
                "php"
              ],
              "default": "json"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get audio analytics",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/energy": {
      "get": {
        "operationId": "getEnergyStats",
        "summary": "Get energy/carbon statistics",
        "description": "Get energy analytics data. Equivalent to calling the main endpoint with type=energy.",
        "tags": [
          "Analytics"
        ],
        "parameters": [
          {
            "name": "site_id",
            "in": "query",
            "description": "Your Clicky site ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "date",
            "in": "query",
            "description": "Date or date range",
            "required": false,
            "schema": {
              "type": "string",
              "default": "today"
            }
          },
          {
            "name": "output",
            "in": "query",
            "description": "Output format",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "xml",
                "csv",
                "php"
              ],
              "default": "json"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get energy/carbon statistics",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/segmentation": {
      "get": {
        "operationId": "getSegmentation",
        "summary": "Get segmented analytics data",
        "description": "Get segmentation analytics data. Equivalent to calling the main endpoint with type=segmentation.",
        "tags": [
          "Analytics"
        ],
        "parameters": [
          {
            "name": "site_id",
            "in": "query",
            "description": "Your Clicky site ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "date",
            "in": "query",
            "description": "Date or date range",
            "required": false,
            "schema": {
              "type": "string",
              "default": "today"
            }
          },
          {
            "name": "output",
            "in": "query",
            "description": "Output format",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "xml",
                "csv",
                "php"
              ],
              "default": "json"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get segmented analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/funnels": {
      "get": {
        "operationId": "getFunnels",
        "summary": "Get funnel analytics",
        "description": "Get funnels analytics data. Equivalent to calling the main endpoint with type=funnels.",
        "tags": [
          "Analytics"
        ],
        "parameters": [
          {
            "name": "site_id",
            "in": "query",
            "description": "Your Clicky site ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "date",
            "in": "query",
            "description": "Date or date range",
            "required": false,
            "schema": {
              "type": "string",
              "default": "today"
            }
          },
          {
            "name": "output",
            "in": "query",
            "description": "Output format",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "xml",
                "csv",
                "php"
              ],
              "default": "json"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get funnel analytics",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "StatsResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/StatItem"
            }
          }
        }
      },
      "StatItem": {
        "type": "object",
        "properties": {
          "date": {
            "type": "string"
          },
          "items": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "string"
                },
                "count": {
                  "type": "integer"
                }
              }
            }
          }
        }
      }
    },
    "securitySchemes": {
      "siteKey": {
        "type": "apiKey",
        "in": "query",
        "name": "sitekey",
        "description": "Site key for API authentication"
      }
    }
  },
  "security": [
    {
      "siteKey": []
    }
  ],
  "tags": [
    {
      "name": "Analytics"
    },
    {
      "name": "Campaigns"
    },
    {
      "name": "Content"
    },
    {
      "name": "Demographics"
    },
    {
      "name": "Engagement"
    },
    {
      "name": "Goals"
    },
    {
      "name": "Links"
    },
    {
      "name": "Media"
    },
    {
      "name": "Search"
    },
    {
      "name": "Technology"
    },
    {
      "name": "Traffic"
    },
    {
      "name": "Visitors"
    }
  ]
}
