{
  "openapi": "3.0.3",
  "info": {
    "title": "DeviceDB API",
    "description": "DeviceDB API",
    "version": "v4",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/pradeep067/DeviceDB/v4",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "http://api.viki.io/v1"
    },
    {
      "url": "https://api.viki.io/v1"
    }
  ],
  "paths": {
    "/capability_tests": {
      "get": {
        "tags": [
          "Capability Tests"
        ],
        "summary": "Capability Test API",
        "description": "The Capability Tests API endpoint returns the list of capability tests.\n",
        "parameters": [
          {
            "name": "app",
            "in": "query",
            "description": "Application Id of the calling app",
            "required": true,
            "schema": {
              "type": "string",
              "format": "string"
            }
          },
          {
            "name": "uuid",
            "in": "query",
            "description": "UUID of the device",
            "required": true,
            "schema": {
              "type": "string",
              "format": "string"
            }
          },
          {
            "name": "device_model",
            "in": "query",
            "description": "Device Model",
            "required": true,
            "schema": {
              "type": "string",
              "format": "string"
            }
          },
          {
            "name": "manufacturer",
            "in": "query",
            "description": "Device Manufacturer",
            "required": true,
            "schema": {
              "type": "string",
              "format": "string"
            }
          },
          {
            "name": "brand",
            "in": "query",
            "description": "Device Brand",
            "required": true,
            "schema": {
              "type": "string",
              "format": "string"
            }
          },
          {
            "name": "token",
            "in": "query",
            "description": "User Token (Viki Specific)",
            "schema": {
              "type": "string",
              "format": "string"
            }
          },
          {
            "name": "android_version",
            "in": "query",
            "description": "Android Version",
            "schema": {
              "type": "string",
              "format": "string"
            }
          },
          {
            "name": "country",
            "in": "query",
            "description": "Country",
            "schema": {
              "type": "string",
              "format": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "An array of capability tests",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CapabilityTest"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "operationId": "get_capability_tests"
      }
    },
    "/capabilities": {
      "get": {
        "tags": [
          "Capabilities"
        ],
        "summary": "Capabilities API",
        "description": "The Capability Tests API endpoint returns the list of capability tests.\n",
        "parameters": [
          {
            "name": "app_id",
            "in": "query",
            "description": "Application Id of the calling app",
            "required": true,
            "schema": {
              "type": "string",
              "format": "string"
            }
          },
          {
            "name": "device_model",
            "in": "query",
            "description": "Device model",
            "required": true,
            "schema": {
              "type": "string",
              "format": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "An array of capabilities",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Capability"
                }
              }
            }
          }
        },
        "operationId": "get_capabilities"
      }
    },
    "/capability_results": {
      "post": {
        "tags": [
          "Capability Results"
        ],
        "summary": "Capability Results API",
        "description": "The Capability Results API endpoint allows to post the capability test results\n",
        "requestBody": {
          "description": "Result object",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CapabilityResult"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successfully added",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "result",
        "operationId": "post_capability_results"
      }
    }
  },
  "components": {
    "schemas": {
      "CapabilityTest": {
        "type": "object",
        "properties": {
          "test_id": {
            "type": "integer",
            "description": "Unique identifier representing a specific capability test"
          },
          "description": {
            "type": "string",
            "description": "Description of capability test."
          },
          "capability_groups": {
            "type": "array",
            "description": "List of capability groups",
            "items": {
              "$ref": "#/components/schemas/CapabilityGroup"
            }
          }
        }
      },
      "Capability": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Unique identifier representing a Capability"
          },
          "name": {
            "type": "string",
            "description": "Name of capability."
          },
          "description": {
            "type": "string",
            "description": "Capability description"
          }
        }
      },
      "CapabilityGroup": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Unique identifier representing a Capability group"
          },
          "type": {
            "type": "string",
            "description": "A group can be either closed or open. In case of an open group the capabilities array is empty"
          },
          "capabilities": {
            "type": "array",
            "description": "List of capabililites to be tested inside the group",
            "items": {
              "$ref": "#/components/schemas/Capability"
            }
          }
        }
      },
      "CapabilityResult": {
        "type": "object",
        "properties": {
          "uuid": {
            "type": "string",
            "description": "UUID of the device"
          },
          "device_id": {
            "type": "integer",
            "description": "Device ID"
          },
          "test_id": {
            "type": "integer",
            "description": "Test ID"
          },
          "country": {
            "type": "string",
            "description": "Country"
          },
          "language": {
            "type": "string",
            "description": "Language code"
          },
          "manufacturer": {
            "type": "string",
            "description": "Manufacturer"
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          },
          "fields": {
            "type": "string"
          }
        }
      }
    }
  },
  "x-original-swagger-version": "2.0",
  "tags": [
    {
      "name": "Capabilities"
    },
    {
      "name": "Capability Results"
    },
    {
      "name": "Capability Tests"
    }
  ]
}
