{
  "openapi": "3.0.3",
  "info": {
    "title": "Kickwin-Api-Doc",
    "description": "# &#x1f680; Get started here\n\nThis template guides you through CRUD operations (GET, POST, PUT, DELETE), variables, and tests.\n\n## &#x1f516; **How to use this template**\n\n#### **Step 1: Send requests**\n\nRESTful APIs allow you to perform CRUD operations using the POST, GET, PUT, and DELETE HTTP methods.\n\nThis collection contains each of these [request](https://learning.postman.com/docs/sending-requests/requests/) types. Open each request and click &#34;Send&#34; to see what happens.\n\n#### **Step 2: View responses**\n\nObserve the response tab for status code (200 OK), response time, and size.\n\n#### **Step 3: Send new Body data**\n\nUpdate or add new data in &#34;Body&#34; in the POST request. Typically, Body data is also used in PUT request.\n\n&#96;&#96;&#96;\n{\n    &#34;name&#34;: &#34;Add your name in the body&#34;\n}\n\n &#96;&#96;&#96;\n\n#### **Step 4: Update the variable**\n\nVariables enable you to store and reuse values in Postman. We have created a [variable](https://learning.postman.com/docs/sending-requests/variables/) called &#96;base_url&#96; with the sample request [https://postman-api-learner.glitch.me](https://postman-api-learner.glitch.me). Replace it with your API endpoint to customize this collection.\n\n#### **Step 5: Add tests in the &#34;Scripts&#34; tab**\n\nAdding tests to your requests can help you confirm that your API is working as expected. You can write test scripts in JavaScript and view the output in the &#34;Test Results&#34; tab.\n\n\n\n## &#x1f4aa; Pro tips\n\n- Use folders to group related requests and organize the collection.\n- Add more [scripts](https://learning.postman.com/docs/writing-scripts/intro-to-scripts/) to verify if the API works as expected and execute workflows.\n    \n\n## &#x1f4a1;Related templates\n\n[API testing basics](https://go.postman.co/redirect/workspace?type&#61;personal&amp;collectionTemplateId&#61;e9a37a28-055b-49cd-8c7e-97494a21eb54&amp;sourceTemplateId&#61;ddb19591-3097-41cf-82af-c84273e56719)  \n[API documentation](https://go.postman.co/redirect/workspace?type&#61;personal&amp;collectionTemplateId&#61;e9c28f47-1253-44af-a2f3-20dce4da1f18&amp;sourceTemplateId&#61;ddb19591-3097-41cf-82af-c84273e56719)  \n[Authorization methods](https://go.postman.co/redirect/workspace?type&#61;personal&amp;collectionTemplateId&#61;31a9a6ed-4cdf-4ced-984c-d12c9aec1c27&amp;sourceTemplateId&#61;ddb19591-3097-41cf-82af-c84273e56719)",
    "version": "1.0.0",
    "contact": {},
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/sarulathalwin23organ/kickwin-api-doc/1.0.0"
  },
  "servers": [
    {
      "url": "https://prodapikickwin.wearedev.team"
    }
  ],
  "paths": {
    "/api/game/getOperatorGameConfig": {
      "get": {
        "summary": "get-Operator-Games",
        "description": "This is a GET request and it is used to \"get\" data from an endpoint. There is no request body for a GET request, but you can use query parameters to help specify the resource you want data on (e.g., in this request, we have `id=1`).\n\nA successful GET response will have a `200 OK` status, and should include some kind of response body - for example, HTML web content or JSON data.",
        "operationId": "getOperatorGames",
        "parameters": [
          {
            "name": "apiKey",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "88a92e5a5b291d6cd89e2763eb367a2efee8c06c6fc3150262db99e095c8cfe2"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "examples": {
                "get-Operator-Games": {
                  "value": "{\n  \"name\": \"TestUser\",\n  \"email\": \"test24@yopmail.com\",\n  \"password\": \"Test@123\",\n  \"confirmpassword\": \"Test@123\",\n  \"type\": \"personal\", // business\n  \"termsPolicy\": true\n}\n"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/api/game/validateGameSession": {
      "post": {
        "summary": "validateGameSession",
        "description": "validateGameSession",
        "operationId": "validategamesession",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "apiKey": {
                    "type": "string",
                    "example": "88a92e5a5b291d6cd89e2763eb367a2efee8c06c6fc3150262db99e095c8cfe2"
                  },
                  "gameId": {
                    "type": "string",
                    "example": "soccer"
                  },
                  "playerToken": {
                    "type": "string",
                    "example": "GJNVEJRGHAIOG83467DFFHJGK"
                  }
                }
              },
              "examples": {
                "validateGameSession": {
                  "value": {
                    "apiKey": "88a92e5a5b291d6cd89e2763eb367a2efee8c06c6fc3150262db99e095c8cfe2",
                    "gameId": "Plinko",
                    "playerToken": "GJNVEJRGHAIOG83467DFFHJGK"
                  }
                },
                "validateGameSession-err": {
                  "value": {
                    "apiKey": "88a92e5a5b291d6cd89e2763eb367a2efee8c06c6fc3150262db99e095c8cfe2",
                    "gameId": "soccer",
                    "playerToken": "GJNVEJRGHAIOG83467DFFHJGK"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    }
  },
  "tags": []
}