{
  "openapi": "3.0.3",
  "info": {
    "title": "SN x Zendesk",
    "version": "1.0.0",
    "contact": {},
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/gcb-14c/sn-x-zendesk/1.0.0"
  },
  "servers": [
    {
      "url": "https://ibmqaviavarejo.service-now.com"
    },
    {
      "url": "https://viavarejo.service-now.com"
    }
  ],
  "paths": {
    "/api/now/attachment/file": {
      "post": {
        "summary": "sendAttach",
        "description": "sendAttach",
        "operationId": "sendattach",
        "parameters": [
          {
            "name": "table_name",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "sc_task"
            },
            "description": "Tabela de tarefas \"sc_task\" ou incidente \"incident\""
          },
          {
            "name": "table_sys_id",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "{table_sys_id}"
            },
            "description": "Sys id do registro"
          },
          {
            "name": "file_name",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "{file_name}"
            },
            "description": "Nome do arquivo com sua extensão"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "Authorization",
            "description": "Token disponibilizado na documentação enviada anteriormente"
          }
        ],
        "requestBody": {
          "content": {
            "application/octet-stream": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "x-stoplight": {
                      "id": "cphajyml0eta3"
                    }
                  }
                }
              }
            }
          },
          "description": ""
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "properties": {
                        "size_bytes": {
                          "type": "string"
                        },
                        "file_name": {
                          "type": "string"
                        },
                        "sys_mod_count": {
                          "type": "string"
                        },
                        "average_image_color": {
                          "type": "string"
                        },
                        "image_width": {
                          "type": "string"
                        },
                        "sys_updated_on": {
                          "type": "string"
                        },
                        "sys_tags": {
                          "type": "string"
                        },
                        "table_name": {
                          "type": "string"
                        },
                        "encryption_context": {
                          "type": "string"
                        },
                        "sys_id": {
                          "type": "string"
                        },
                        "image_height": {
                          "type": "string"
                        },
                        "sys_updated_by": {
                          "type": "string"
                        },
                        "download_link": {
                          "type": "string"
                        },
                        "content_type": {
                          "type": "string"
                        },
                        "sys_created_on": {
                          "type": "string"
                        },
                        "size_compressed": {
                          "type": "string"
                        },
                        "compressed": {
                          "type": "string"
                        },
                        "state": {
                          "type": "string"
                        },
                        "table_sys_id": {
                          "type": "string"
                        },
                        "chunk_size_bytes": {
                          "type": "string"
                        },
                        "hash": {
                          "type": "string"
                        },
                        "sys_created_by": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "x-examples": {
                    "Example 1": {
                      "result": {
                        "size_bytes": "5",
                        "file_name": "1teste.txt",
                        "sys_mod_count": "0",
                        "average_image_color": "",
                        "image_width": "",
                        "sys_updated_on": "2026-03-10 16:25:42",
                        "sys_tags": "",
                        "table_name": "sc_task",
                        "encryption_context": "",
                        "sys_id": "da7c21ed3be3f610784f2447f4e45a6d",
                        "image_height": "",
                        "sys_updated_by": "zendesk.integration",
                        "download_link": "https://ibmqaviavarejo.service-now.com/api/now/attachment/da7c21ed3be3f610784f2447f4e45a6d/file",
                        "content_type": "application/octet-stream",
                        "sys_created_on": "2026-03-10 16:25:42",
                        "size_compressed": "25",
                        "compressed": "true",
                        "state": "pending",
                        "table_sys_id": "46e49d6987e3f610431065790cbb35b2",
                        "chunk_size_bytes": "700000",
                        "hash": "46070d4bf934fb0d4b06d9e2c46e346944e322444900a435d7d9a95e6d7435f5",
                        "sys_created_by": "zendesk.integration"
                      }
                    }
                  }
                },
                "examples": {
                  "Example 1": {
                    "value": {
                      "result": {
                        "size_bytes": "5",
                        "file_name": "1teste.txt",
                        "sys_mod_count": "0",
                        "average_image_color": "",
                        "image_width": "",
                        "sys_updated_on": "2026-03-10 16:25:42",
                        "sys_tags": "",
                        "table_name": "sc_task",
                        "encryption_context": "",
                        "sys_id": "da7c21ed3be3f610784f2447f4e45a6d",
                        "image_height": "",
                        "sys_updated_by": "zendesk.integration",
                        "download_link": "https://ibmqaviavarejo.service-now.com/api/now/attachment/da7c21ed3be3f610784f2447f4e45a6d/file",
                        "content_type": "application/octet-stream",
                        "sys_created_on": "2026-03-10 16:25:42",
                        "size_compressed": "25",
                        "compressed": "true",
                        "state": "pending",
                        "table_sys_id": "46e49d6987e3f610431065790cbb35b2",
                        "chunk_size_bytes": "700000",
                        "hash": "46070d4bf934fb0d4b06d9e2c46e346944e322444900a435d7d9a95e6d7435f5",
                        "sys_created_by": "zendesk.integration"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/now/table/sc_task/{sys_id_tarefa}": {
      "patch": {
        "summary": "updateTask",
        "description": "updateTask",
        "operationId": "updateTask",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "x-examples": {
                  "Example 1": {
                    "state": "6",
                    "comments": "Comentário",
                    "work_notes": "Anotação de trabalho",
                    "u_close_code": "Solved (Permanently)",
                    "u_codigo_de_solucao": "Software - Install",
                    "close_notes": "Teste de encerramento"
                  }
                },
                "properties": {
                  "state": {
                    "type": "string",
                    "description": "Possuí algumas especificidades de acordo com os valores selecionados. Tabela de valores disponbilizados anteriormente"
                  },
                  "comments": {
                    "type": "string",
                    "description": "Comentário visíveis para o usuário"
                  },
                  "work_notes": {
                    "type": "string",
                    "description": "Anotações de trabalho visíveis para os solucionadores"
                  },
                  "u_close_code": {
                    "type": "string",
                    "description": "Valor normalmente utilizado \"Solved (Permanently)\""
                  },
                  "close_notes": {
                    "type": "string",
                    "description": "Notas de encerramento do chamado"
                  },
                  "u_hold_reason": {
                    "type": "string",
                    "x-stoplight": {
                      "id": "fel7wm4bi06f7"
                    },
                    "description": "Utilizado quando o “state” for “On hold”"
                  },
                  "u_codigo_de_solucao": {
                    "type": "string",
                    "x-stoplight": {
                      "id": "0obvp432ylytt"
                    },
                    "description": "Diversos valores de acordo com tabela de valores disponbilizados anteriormente"
                  }
                }
              },
              "examples": {
                "updateTask": {
                  "value": {
                    "close_notes": "Teste de encerramento",
                    "comments": "Comentário",
                    "state": "6",
                    "u_close_code": "Solved (Permanently)",
                    "u_codigo_de_solucao": "Software - Install",
                    "work_notes": "Anotação de trabalho"
                  }
                },
                "updateincident": {
                  "value": {
                    "close_code": "Permanently",
                    "close_notes": "Teste de encerramento",
                    "comments": "Comentário",
                    "state": "6",
                    "u_solution_classification": "application_software",
                    "u_solution_code": "parameterization",
                    "work_notes": "Anotação de trabalho"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "properties": {
                        "parent": {
                          "type": "object",
                          "properties": {
                            "link": {
                              "type": "string"
                            },
                            "value": {
                              "type": "string"
                            }
                          }
                        },
                        "watch_list": {
                          "type": "string"
                        },
                        "u_requested": {
                          "type": "string"
                        },
                        "sc_catalog": {
                          "type": "string"
                        },
                        "u_retorno_3_n_vel": {
                          "type": "string"
                        },
                        "upon_reject": {
                          "type": "string"
                        },
                        "sys_updated_on": {
                          "type": "string"
                        },
                        "u_resolved_by": {
                          "type": "object",
                          "properties": {
                            "link": {
                              "type": "string"
                            },
                            "value": {
                              "type": "string"
                            }
                          }
                        },
                        "approval_history": {
                          "type": "string"
                        },
                        "skills": {
                          "type": "string"
                        },
                        "number": {
                          "type": "string"
                        },
                        "u_classification": {
                          "type": "string"
                        },
                        "u_what_do_you_want": {
                          "type": "string"
                        },
                        "state": {
                          "type": "string"
                        },
                        "sys_created_by": {
                          "type": "string"
                        },
                        "knowledge": {
                          "type": "string"
                        },
                        "order": {
                          "type": "string"
                        },
                        "u_monitoring": {
                          "type": "string"
                        },
                        "cmdb_ci": {
                          "type": "string"
                        },
                        "contract": {
                          "type": "string"
                        },
                        "impact": {
                          "type": "string"
                        },
                        "u_requested_for": {
                          "type": "object",
                          "properties": {
                            "link": {
                              "type": "string"
                            },
                            "value": {
                              "type": "string"
                            }
                          }
                        },
                        "active": {
                          "type": "string"
                        },
                        "work_notes_list": {
                          "type": "string"
                        },
                        "u_resolved_at": {
                          "type": "string"
                        },
                        "priority": {
                          "type": "string"
                        },
                        "sys_domain_path": {
                          "type": "string"
                        },
                        "u_contact_tentatives_counter": {
                          "type": "string"
                        },
                        "u_record_producer": {
                          "type": "string"
                        },
                        "business_duration": {
                          "type": "string"
                        },
                        "group_list": {
                          "type": "string"
                        },
                        "u_template": {
                          "type": "string"
                        },
                        "approval_set": {
                          "type": "string"
                        },
                        "u_integracao_envio_de_anexos": {
                          "type": "string"
                        },
                        "u_assignment_group_counter": {
                          "type": "string"
                        },
                        "universal_request": {
                          "type": "string"
                        },
                        "short_description": {
                          "type": "string"
                        },
                        "correlation_display": {
                          "type": "string"
                        },
                        "work_start": {
                          "type": "string"
                        },
                        "u_asset": {
                          "type": "string"
                        },
                        "additional_assignee_list": {
                          "type": "string"
                        },
                        "u_codigo_resolucao": {
                          "type": "string"
                        },
                        "u_one_soluction": {
                          "type": "string"
                        },
                        "service_offering": {
                          "type": "string"
                        },
                        "sys_class_name": {
                          "type": "string"
                        },
                        "closed_by": {
                          "type": "object",
                          "properties": {
                            "link": {
                              "type": "string"
                            },
                            "value": {
                              "type": "string"
                            }
                          }
                        },
                        "follow_up": {
                          "type": "string"
                        },
                        "u_codigo_de_solucao": {
                          "type": "string"
                        },
                        "u_what_is_the_request": {
                          "type": "string"
                        },
                        "reassignment_count": {
                          "type": "string"
                        },
                        "assigned_to": {
                          "type": "string"
                        },
                        "u_integracao_status": {
                          "type": "string"
                        },
                        "sla_due": {
                          "type": "string"
                        },
                        "comments_and_work_notes": {
                          "type": "string"
                        },
                        "request_item": {
                          "type": "object",
                          "properties": {
                            "link": {
                              "type": "string"
                            },
                            "value": {
                              "type": "string"
                            }
                          }
                        },
                        "cat_item": {
                          "type": "object",
                          "properties": {
                            "link": {
                              "type": "string"
                            },
                            "value": {
                              "type": "string"
                            }
                          }
                        },
                        "escalation": {
                          "type": "string"
                        },
                        "upon_approval": {
                          "type": "string"
                        },
                        "correlation_id": {
                          "type": "string"
                        },
                        "u_integracao_sincronizada_em": {
                          "type": "string"
                        },
                        "made_sla": {
                          "type": "string"
                        },
                        "task_effective_number": {
                          "type": "string"
                        },
                        "sys_updated_by": {
                          "type": "string"
                        },
                        "u_phone": {
                          "type": "string"
                        },
                        "u_solu_o_2_n_vel": {
                          "type": "string"
                        },
                        "opened_by": {
                          "type": "object",
                          "properties": {
                            "link": {
                              "type": "string"
                            },
                            "value": {
                              "type": "string"
                            }
                          }
                        },
                        "user_input": {
                          "type": "string"
                        },
                        "sys_created_on": {
                          "type": "string"
                        },
                        "sys_domain": {
                          "type": "object",
                          "properties": {
                            "link": {
                              "type": "string"
                            },
                            "value": {
                              "type": "string"
                            }
                          }
                        },
                        "u_s4f_service": {
                          "type": "string"
                        },
                        "route_reason": {
                          "type": "string"
                        },
                        "calendar_stc": {
                          "type": "string"
                        },
                        "closed_at": {
                          "type": "string"
                        },
                        "u_pending_reason": {
                          "type": "string"
                        },
                        "business_service": {
                          "type": "string"
                        },
                        "u_retorno_2_n_vel": {
                          "type": "string"
                        },
                        "time_worked": {
                          "type": "string"
                        },
                        "u_second_soluction": {
                          "type": "string"
                        },
                        "expected_start": {
                          "type": "string"
                        },
                        "opened_at": {
                          "type": "string"
                        },
                        "u_integracao": {
                          "type": "string"
                        },
                        "work_end": {
                          "type": "string"
                        },
                        "work_notes": {
                          "type": "string"
                        },
                        "request": {
                          "type": "object",
                          "properties": {
                            "link": {
                              "type": "string"
                            },
                            "value": {
                              "type": "string"
                            }
                          }
                        },
                        "assignment_group": {
                          "type": "object",
                          "properties": {
                            "link": {
                              "type": "string"
                            },
                            "value": {
                              "type": "string"
                            }
                          }
                        },
                        "description": {
                          "type": "string"
                        },
                        "calendar_duration": {
                          "type": "string"
                        },
                        "close_notes": {
                          "type": "string"
                        },
                        "u_retorno_1_n_vel": {
                          "type": "string"
                        },
                        "sys_id": {
                          "type": "string"
                        },
                        "contact_type": {
                          "type": "string"
                        },
                        "urgency": {
                          "type": "string"
                        },
                        "company": {
                          "type": "string"
                        },
                        "u_s4f_transaction_number": {
                          "type": "string"
                        },
                        "activity_due": {
                          "type": "string"
                        },
                        "u_updated_by_maximo": {
                          "type": "string"
                        },
                        "u_hold_reason": {
                          "type": "string"
                        },
                        "comments": {
                          "type": "string"
                        },
                        "u_critical_incident": {
                          "type": "string"
                        },
                        "approval": {
                          "type": "string"
                        },
                        "u_integracao_detalhe_erro": {
                          "type": "string"
                        },
                        "u_floor": {
                          "type": "string"
                        },
                        "due_date": {
                          "type": "string"
                        },
                        "sys_mod_count": {
                          "type": "string"
                        },
                        "sys_tags": {
                          "type": "string"
                        },
                        "u_close_code": {
                          "type": "string"
                        },
                        "location": {
                          "type": "object",
                          "properties": {
                            "link": {
                              "type": "string"
                            },
                            "value": {
                              "type": "string"
                            }
                          }
                        },
                        "u_service_offering_helper": {
                          "type": "string"
                        },
                        "u_solu_o_1_n_vel": {
                          "type": "string"
                        },
                        "u_black_friday": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "x-examples": {
                    "Example 1": {
                      "result": {
                        "parent": {
                          "link": "https://ibmqaviavarejo.service-now.com/api/now/table/task/aa9a6c993b2f3610784f2447f4e45aac",
                          "value": "aa9a6c993b2f3610784f2447f4e45aac"
                        },
                        "watch_list": "",
                        "u_requested": "",
                        "sc_catalog": "",
                        "u_retorno_3_n_vel": "",
                        "upon_reject": "cancel",
                        "sys_updated_on": "2026-03-09 17:32:20",
                        "u_resolved_by": {
                          "link": "https://ibmqaviavarejo.service-now.com/api/now/table/sys_user/dddfa4b43b73aa10cf02e437f4e45a3e",
                          "value": "dddfa4b43b73aa10cf02e437f4e45a3e"
                        },
                        "approval_history": "",
                        "skills": "",
                        "number": "SCTASK5622090",
                        "u_classification": "",
                        "u_what_do_you_want": "",
                        "state": "6",
                        "sys_created_by": "7700614335",
                        "knowledge": "false",
                        "order": "",
                        "u_monitoring": "false",
                        "cmdb_ci": "",
                        "contract": "",
                        "impact": "3",
                        "u_requested_for": {
                          "link": "https://ibmqaviavarejo.service-now.com/api/now/table/sys_user/4faf87571bd324980ad86570f54bcbeb",
                          "value": "4faf87571bd324980ad86570f54bcbeb"
                        },
                        "active": "false",
                        "work_notes_list": "",
                        "u_resolved_at": "2026-03-09 17:32:20",
                        "priority": "2",
                        "sys_domain_path": "/",
                        "u_contact_tentatives_counter": "0",
                        "u_record_producer": "",
                        "business_duration": "1970-01-01 00:31:45",
                        "group_list": "",
                        "u_template": "",
                        "approval_set": "",
                        "u_integracao_envio_de_anexos": "",
                        "u_assignment_group_counter": "",
                        "universal_request": "",
                        "short_description": "ADMIN Corp - Alteração de Perfil",
                        "correlation_display": "",
                        "work_start": "2026-03-09 17:00:35",
                        "u_asset": "",
                        "additional_assignee_list": "",
                        "u_codigo_resolucao": "",
                        "u_one_soluction": "",
                        "service_offering": "",
                        "sys_class_name": "sc_task",
                        "closed_by": {
                          "link": "https://ibmqaviavarejo.service-now.com/api/now/table/sys_user/dddfa4b43b73aa10cf02e437f4e45a3e",
                          "value": "dddfa4b43b73aa10cf02e437f4e45a3e"
                        },
                        "follow_up": "",
                        "u_codigo_de_solucao": "Software - Install",
                        "u_what_is_the_request": "",
                        "reassignment_count": "1",
                        "assigned_to": "",
                        "u_integracao_status": "",
                        "sla_due": "",
                        "comments_and_work_notes": "",
                        "request_item": {
                          "link": "https://ibmqaviavarejo.service-now.com/api/now/table/sc_req_item/aa9a6c993b2f3610784f2447f4e45aac",
                          "value": "aa9a6c993b2f3610784f2447f4e45aac"
                        },
                        "cat_item": {
                          "link": "https://ibmqaviavarejo.service-now.com/api/now/table/sc_cat_item/d11a67ea6f2ecb00911ce4064b3ee456",
                          "value": "d11a67ea6f2ecb00911ce4064b3ee456"
                        },
                        "escalation": "0",
                        "upon_approval": "proceed",
                        "correlation_id": "",
                        "u_integracao_sincronizada_em": "",
                        "made_sla": "true",
                        "task_effective_number": "SCTASK5622090",
                        "sys_updated_by": "zendesk.integration",
                        "u_phone": "1",
                        "u_solu_o_2_n_vel": "",
                        "opened_by": {
                          "link": "https://ibmqaviavarejo.service-now.com/api/now/table/sys_user/4faf87571bd324980ad86570f54bcbeb",
                          "value": "4faf87571bd324980ad86570f54bcbeb"
                        },
                        "user_input": "",
                        "sys_created_on": "2026-03-09 17:00:35",
                        "sys_domain": {
                          "link": "https://ibmqaviavarejo.service-now.com/api/now/table/sys_user_group/global",
                          "value": "global"
                        },
                        "u_s4f_service": "",
                        "route_reason": "",
                        "calendar_stc": "",
                        "closed_at": "2026-03-09 17:32:20",
                        "u_pending_reason": "",
                        "business_service": "",
                        "u_retorno_2_n_vel": "",
                        "time_worked": "",
                        "u_second_soluction": "",
                        "expected_start": "2026-03-09 17:00:35",
                        "opened_at": "2026-03-09 17:00:35",
                        "u_integracao": "",
                        "work_end": "2026-03-09 17:32:20",
                        "work_notes": "",
                        "request": {
                          "link": "https://ibmqaviavarejo.service-now.com/api/now/table/sc_request/ee9a6c993b2f3610784f2447f4e45aab",
                          "value": "ee9a6c993b2f3610784f2447f4e45aab"
                        },
                        "assignment_group": {
                          "link": "https://ibmqaviavarejo.service-now.com/api/now/table/sys_user_group/3ce4fc7a6ffd43406f0ed7aabb3ee423",
                          "value": "3ce4fc7a6ffd43406f0ed7aabb3ee423"
                        },
                        "description": "Teste",
                        "calendar_duration": "",
                        "close_notes": "Teste de encerramento",
                        "u_retorno_1_n_vel": "",
                        "sys_id": "1fda641d3b2f3610784f2447f4e45a95",
                        "contact_type": "portal",
                        "urgency": "3",
                        "company": "",
                        "u_s4f_transaction_number": "",
                        "activity_due": "",
                        "u_updated_by_maximo": "false",
                        "u_hold_reason": "",
                        "comments": "",
                        "u_critical_incident": "false",
                        "approval": "not requested",
                        "u_integracao_detalhe_erro": "",
                        "u_floor": "1",
                        "due_date": "2026-03-12 13:00:35",
                        "sys_mod_count": "3",
                        "sys_tags": "",
                        "u_close_code": "Solved (Permanently)",
                        "location": {
                          "link": "https://ibmqaviavarejo.service-now.com/api/now/table/cmn_location/ea280de91b56c5142f03dcafe54bcb23",
                          "value": "ea280de91b56c5142f03dcafe54bcb23"
                        },
                        "u_service_offering_helper": "",
                        "u_solu_o_1_n_vel": "",
                        "u_black_friday": "false"
                      }
                    }
                  }
                },
                "examples": {
                  "Example 1": {
                    "value": {
                      "result": {
                        "parent": {
                          "link": "https://ibmqaviavarejo.service-now.com/api/now/table/task/aa9a6c993b2f3610784f2447f4e45aac",
                          "value": "aa9a6c993b2f3610784f2447f4e45aac"
                        },
                        "watch_list": "",
                        "u_requested": "",
                        "sc_catalog": "",
                        "u_retorno_3_n_vel": "",
                        "upon_reject": "cancel",
                        "sys_updated_on": "2026-03-09 17:32:20",
                        "u_resolved_by": {
                          "link": "https://ibmqaviavarejo.service-now.com/api/now/table/sys_user/dddfa4b43b73aa10cf02e437f4e45a3e",
                          "value": "dddfa4b43b73aa10cf02e437f4e45a3e"
                        },
                        "approval_history": "",
                        "skills": "",
                        "number": "SCTASK5622090",
                        "u_classification": "",
                        "u_what_do_you_want": "",
                        "state": "6",
                        "sys_created_by": "7700614335",
                        "knowledge": "false",
                        "order": "",
                        "u_monitoring": "false",
                        "cmdb_ci": "",
                        "contract": "",
                        "impact": "3",
                        "u_requested_for": {
                          "link": "https://ibmqaviavarejo.service-now.com/api/now/table/sys_user/4faf87571bd324980ad86570f54bcbeb",
                          "value": "4faf87571bd324980ad86570f54bcbeb"
                        },
                        "active": "false",
                        "work_notes_list": "",
                        "u_resolved_at": "2026-03-09 17:32:20",
                        "priority": "2",
                        "sys_domain_path": "/",
                        "u_contact_tentatives_counter": "0",
                        "u_record_producer": "",
                        "business_duration": "1970-01-01 00:31:45",
                        "group_list": "",
                        "u_template": "",
                        "approval_set": "",
                        "u_integracao_envio_de_anexos": "",
                        "u_assignment_group_counter": "",
                        "universal_request": "",
                        "short_description": "ADMIN Corp - Alteração de Perfil",
                        "correlation_display": "",
                        "work_start": "2026-03-09 17:00:35",
                        "u_asset": "",
                        "additional_assignee_list": "",
                        "u_codigo_resolucao": "",
                        "u_one_soluction": "",
                        "service_offering": "",
                        "sys_class_name": "sc_task",
                        "closed_by": {
                          "link": "https://ibmqaviavarejo.service-now.com/api/now/table/sys_user/dddfa4b43b73aa10cf02e437f4e45a3e",
                          "value": "dddfa4b43b73aa10cf02e437f4e45a3e"
                        },
                        "follow_up": "",
                        "u_codigo_de_solucao": "Software - Install",
                        "u_what_is_the_request": "",
                        "reassignment_count": "1",
                        "assigned_to": "",
                        "u_integracao_status": "",
                        "sla_due": "",
                        "comments_and_work_notes": "",
                        "request_item": {
                          "link": "https://ibmqaviavarejo.service-now.com/api/now/table/sc_req_item/aa9a6c993b2f3610784f2447f4e45aac",
                          "value": "aa9a6c993b2f3610784f2447f4e45aac"
                        },
                        "cat_item": {
                          "link": "https://ibmqaviavarejo.service-now.com/api/now/table/sc_cat_item/d11a67ea6f2ecb00911ce4064b3ee456",
                          "value": "d11a67ea6f2ecb00911ce4064b3ee456"
                        },
                        "escalation": "0",
                        "upon_approval": "proceed",
                        "correlation_id": "",
                        "u_integracao_sincronizada_em": "",
                        "made_sla": "true",
                        "task_effective_number": "SCTASK5622090",
                        "sys_updated_by": "zendesk.integration",
                        "u_phone": "1",
                        "u_solu_o_2_n_vel": "",
                        "opened_by": {
                          "link": "https://ibmqaviavarejo.service-now.com/api/now/table/sys_user/4faf87571bd324980ad86570f54bcbeb",
                          "value": "4faf87571bd324980ad86570f54bcbeb"
                        },
                        "user_input": "",
                        "sys_created_on": "2026-03-09 17:00:35",
                        "sys_domain": {
                          "link": "https://ibmqaviavarejo.service-now.com/api/now/table/sys_user_group/global",
                          "value": "global"
                        },
                        "u_s4f_service": "",
                        "route_reason": "",
                        "calendar_stc": "",
                        "closed_at": "2026-03-09 17:32:20",
                        "u_pending_reason": "",
                        "business_service": "",
                        "u_retorno_2_n_vel": "",
                        "time_worked": "",
                        "u_second_soluction": "",
                        "expected_start": "2026-03-09 17:00:35",
                        "opened_at": "2026-03-09 17:00:35",
                        "u_integracao": "",
                        "work_end": "2026-03-09 17:32:20",
                        "work_notes": "",
                        "request": {
                          "link": "https://ibmqaviavarejo.service-now.com/api/now/table/sc_request/ee9a6c993b2f3610784f2447f4e45aab",
                          "value": "ee9a6c993b2f3610784f2447f4e45aab"
                        },
                        "assignment_group": {
                          "link": "https://ibmqaviavarejo.service-now.com/api/now/table/sys_user_group/3ce4fc7a6ffd43406f0ed7aabb3ee423",
                          "value": "3ce4fc7a6ffd43406f0ed7aabb3ee423"
                        },
                        "description": "Teste",
                        "calendar_duration": "",
                        "close_notes": "Teste de encerramento",
                        "u_retorno_1_n_vel": "",
                        "sys_id": "1fda641d3b2f3610784f2447f4e45a95",
                        "contact_type": "portal",
                        "urgency": "3",
                        "company": "",
                        "u_s4f_transaction_number": "",
                        "activity_due": "",
                        "u_updated_by_maximo": "false",
                        "u_hold_reason": "",
                        "comments": "",
                        "u_critical_incident": "false",
                        "approval": "not requested",
                        "u_integracao_detalhe_erro": "",
                        "u_floor": "1",
                        "due_date": "2026-03-12 13:00:35",
                        "sys_mod_count": "3",
                        "sys_tags": "",
                        "u_close_code": "Solved (Permanently)",
                        "location": {
                          "link": "https://ibmqaviavarejo.service-now.com/api/now/table/cmn_location/ea280de91b56c5142f03dcafe54bcb23",
                          "value": "ea280de91b56c5142f03dcafe54bcb23"
                        },
                        "u_service_offering_helper": "",
                        "u_solu_o_1_n_vel": "",
                        "u_black_friday": "false"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "Authorization",
            "description": "Token disponibilizado na documentação enviada anteriormente"
          }
        ]
      },
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "sys_id_tarefa",
          "in": "path",
          "required": true
        }
      ]
    },
    "/api/now/table/incident/{sys_id_incidente}": {
      "patch": {
        "summary": "updateIncident",
        "description": "updateincident",
        "operationId": "updateincident",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "x-examples": {
                  "Example 1": {
                    "state": "6",
                    "comments": "Comentário",
                    "work_notes": "Anotação de trabalho",
                    "close_code": "Permanently",
                    "u_solution_classification": "application_software",
                    "u_solution_code": "parameterization",
                    "close_notes": "Teste de encerramento"
                  }
                },
                "properties": {
                  "state": {
                    "type": "string",
                    "description": "Possuí algumas especificidades de acordo com os valores selecionados."
                  },
                  "comments": {
                    "type": "string",
                    "description": "Comentário visíveis para o usuário"
                  },
                  "work_notes": {
                    "type": "string",
                    "description": "Anotações de trabalho visíveis para os solucionadores"
                  },
                  "close_code": {
                    "type": "string",
                    "description": "Valor normalmente utilizado \"Solved (Permanently)\""
                  },
                  "u_solution_classification": {
                    "type": "string",
                    "description": "Podemos definir um código padrão existente, e.g: Aplicação (Software)"
                  },
                  "u_solution_code": {
                    "type": "string",
                    "description": "Valores determinados através do “u_solution_classification”. Utilizando o exemplo de “Aplicação (Software)”"
                  },
                  "close_notes": {
                    "type": "string",
                    "description": "Utilizado para as notas de encerramento do chamado"
                  }
                }
              },
              "examples": {
                "updateTask": {
                  "value": {
                    "close_notes": "Teste de encerramento",
                    "comments": "Comentário",
                    "state": "6",
                    "u_close_code": "Solved (Permanently)",
                    "u_codigo_de_solucao": "Software - Install",
                    "work_notes": "Anotação de trabalho"
                  }
                },
                "updateincident": {
                  "value": {
                    "close_code": "Permanently",
                    "close_notes": "Teste de encerramento",
                    "comments": "Comentário",
                    "state": "6",
                    "u_solution_classification": "application_software",
                    "u_solution_code": "parameterization",
                    "work_notes": "Anotação de trabalho"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "properties": {
                        "promoted_by": {
                          "type": "string"
                        },
                        "parent": {
                          "type": "string"
                        },
                        "u_check_resolved": {
                          "type": "string"
                        },
                        "caused_by": {
                          "type": "string"
                        },
                        "watch_list": {
                          "type": "string"
                        },
                        "upon_reject": {
                          "type": "string"
                        },
                        "sys_updated_on": {
                          "type": "string"
                        },
                        "origin_table": {
                          "type": "string"
                        },
                        "approval_history": {
                          "type": "string"
                        },
                        "skills": {
                          "type": "string"
                        },
                        "number": {
                          "type": "string"
                        },
                        "proposed_by": {
                          "type": "string"
                        },
                        "u_classification": {
                          "type": "string"
                        },
                        "u_duty_manager": {
                          "type": "string"
                        },
                        "u_fcr": {
                          "type": "string"
                        },
                        "lessons_learned": {
                          "type": "string"
                        },
                        "u_closing_category": {
                          "type": "string"
                        },
                        "u_what_do_you_want": {
                          "type": "string"
                        },
                        "u_asset_not_found": {
                          "type": "string"
                        },
                        "state": {
                          "type": "string"
                        },
                        "u_previsao": {
                          "type": "string"
                        },
                        "sys_created_by": {
                          "type": "string"
                        },
                        "knowledge": {
                          "type": "string"
                        },
                        "order": {
                          "type": "string"
                        },
                        "u_andar": {
                          "type": "string"
                        },
                        "u_incidente_causado_por_mudanca": {
                          "type": "string"
                        },
                        "u_monitoring": {
                          "type": "string"
                        },
                        "u_validacao": {
                          "type": "string"
                        },
                        "cmdb_ci": {
                          "type": "string"
                        },
                        "contract": {
                          "type": "string"
                        },
                        "impact": {
                          "type": "string"
                        },
                        "active": {
                          "type": "string"
                        },
                        "work_notes_list": {
                          "type": "string"
                        },
                        "priority": {
                          "type": "string"
                        },
                        "sys_domain_path": {
                          "type": "string"
                        },
                        "u_contact_tentatives_counter": {
                          "type": "string"
                        },
                        "u_rea_respons_vel": {
                          "type": "string"
                        },
                        "u_record_producer": {
                          "type": "object",
                          "properties": {
                            "link": {
                              "type": "string"
                            },
                            "value": {
                              "type": "string"
                            }
                          }
                        },
                        "business_duration": {
                          "type": "string"
                        },
                        "group_list": {
                          "type": "string"
                        },
                        "u_email_counter": {
                          "type": "string"
                        },
                        "approval_set": {
                          "type": "string"
                        },
                        "u_integracao_envio_de_anexos": {
                          "type": "string"
                        },
                        "u_assignment_group_counter": {
                          "type": "string"
                        },
                        "u_monitoring_bp": {
                          "type": "string"
                        },
                        "major_incident_state": {
                          "type": "string"
                        },
                        "u_knowledge_base": {
                          "type": "string"
                        },
                        "universal_request": {
                          "type": "string"
                        },
                        "u_chamado_externo": {
                          "type": "string"
                        },
                        "short_description": {
                          "type": "string"
                        },
                        "correlation_display": {
                          "type": "string"
                        },
                        "work_start": {
                          "type": "string"
                        },
                        "u_grupo_ofensor": {
                          "type": "string"
                        },
                        "additional_assignee_list": {
                          "type": "string"
                        },
                        "notify": {
                          "type": "string"
                        },
                        "service_offering": {
                          "type": "string"
                        },
                        "sys_class_name": {
                          "type": "string"
                        },
                        "u_tracking_type": {
                          "type": "string"
                        },
                        "closed_by": {
                          "type": "string"
                        },
                        "follow_up": {
                          "type": "string"
                        },
                        "u_incident_classification": {
                          "type": "string"
                        },
                        "parent_incident": {
                          "type": "string"
                        },
                        "u_solicitado_para": {
                          "type": "object",
                          "properties": {
                            "link": {
                              "type": "string"
                            },
                            "value": {
                              "type": "string"
                            }
                          }
                        },
                        "reopened_by": {
                          "type": "string"
                        },
                        "u_loop_url": {
                          "type": "string"
                        },
                        "u_what_is_the_request": {
                          "type": "string"
                        },
                        "reassignment_count": {
                          "type": "string"
                        },
                        "u_solution_classification": {
                          "type": "string"
                        },
                        "u_servico_monitorado": {
                          "type": "string"
                        },
                        "assigned_to": {
                          "type": "object",
                          "properties": {
                            "link": {
                              "type": "string"
                            },
                            "value": {
                              "type": "string"
                            }
                          }
                        },
                        "u_integracao_status": {
                          "type": "string"
                        },
                        "sla_due": {
                          "type": "string"
                        },
                        "u_reclassification": {
                          "type": "string"
                        },
                        "comments_and_work_notes": {
                          "type": "string"
                        },
                        "u_type_of_deviation": {
                          "type": "string"
                        },
                        "u_contador_att": {
                          "type": "string"
                        },
                        "u_isglobal": {
                          "type": "string"
                        },
                        "u_service_offering_inc": {
                          "type": "string"
                        },
                        "escalation": {
                          "type": "string"
                        },
                        "upon_approval": {
                          "type": "string"
                        },
                        "u_departamento": {
                          "type": "object",
                          "properties": {
                            "link": {
                              "type": "string"
                            },
                            "value": {
                              "type": "string"
                            }
                          }
                        },
                        "correlation_id": {
                          "type": "string"
                        },
                        "timeline": {
                          "type": "string"
                        },
                        "u_business_service_inc": {
                          "type": "string"
                        },
                        "u_solution_code": {
                          "type": "string"
                        },
                        "u_integracao_sincronizada_em": {
                          "type": "string"
                        },
                        "u_major_incident_priority": {
                          "type": "string"
                        },
                        "u_event_detection_method": {
                          "type": "string"
                        },
                        "made_sla": {
                          "type": "string"
                        },
                        "u_crise_controlada": {
                          "type": "string"
                        },
                        "promoted_on": {
                          "type": "string"
                        },
                        "child_incidents": {
                          "type": "string"
                        },
                        "hold_reason": {
                          "type": "string"
                        },
                        "task_effective_number": {
                          "type": "string"
                        },
                        "u_link": {
                          "type": "string"
                        },
                        "resolved_by": {
                          "type": "object",
                          "properties": {
                            "link": {
                              "type": "string"
                            },
                            "value": {
                              "type": "string"
                            }
                          }
                        },
                        "sys_updated_by": {
                          "type": "string"
                        },
                        "u_ura_id": {
                          "type": "string"
                        },
                        "opened_by": {
                          "type": "object",
                          "properties": {
                            "link": {
                              "type": "string"
                            },
                            "value": {
                              "type": "string"
                            }
                          }
                        },
                        "user_input": {
                          "type": "string"
                        },
                        "sys_created_on": {
                          "type": "string"
                        },
                        "sys_domain": {
                          "type": "object",
                          "properties": {
                            "link": {
                              "type": "string"
                            },
                            "value": {
                              "type": "string"
                            }
                          }
                        },
                        "u_acionamento_de_fornecedor_externo": {
                          "type": "string"
                        },
                        "proposed_on": {
                          "type": "string"
                        },
                        "actions_taken": {
                          "type": "string"
                        },
                        "u_in_cio_do_impacto": {
                          "type": "string"
                        },
                        "u_major_bridge": {
                          "type": "string"
                        },
                        "u_normaliza_o_do_impacto": {
                          "type": "string"
                        },
                        "u_s4f_service": {
                          "type": "string"
                        },
                        "route_reason": {
                          "type": "string"
                        },
                        "calendar_stc": {
                          "type": "string"
                        },
                        "u_numero_da_mudanca": {
                          "type": "string"
                        },
                        "closed_at": {
                          "type": "string"
                        },
                        "u_descreva_o_impacto_da_falha": {
                          "type": "string"
                        },
                        "u_descricao_do_problema_encontrado": {
                          "type": "string"
                        },
                        "business_service": {
                          "type": "string"
                        },
                        "u_telefone": {
                          "type": "string"
                        },
                        "business_impact": {
                          "type": "string"
                        },
                        "rfc": {
                          "type": "string"
                        },
                        "time_worked": {
                          "type": "string"
                        },
                        "expected_start": {
                          "type": "string"
                        },
                        "opened_at": {
                          "type": "string"
                        },
                        "u_integracao": {
                          "type": "string"
                        },
                        "u_tipo_de_solucao": {
                          "type": "string"
                        },
                        "u_motivo_da_pend_ncia": {
                          "type": "string"
                        },
                        "work_end": {
                          "type": "string"
                        },
                        "caller_id": {
                          "type": "object",
                          "properties": {
                            "link": {
                              "type": "string"
                            },
                            "value": {
                              "type": "string"
                            }
                          }
                        },
                        "reopened_time": {
                          "type": "string"
                        },
                        "resolved_at": {
                          "type": "string"
                        },
                        "u_descreva_outros": {
                          "type": "string"
                        },
                        "u_descreva_a_causa": {
                          "type": "string"
                        },
                        "u_solu_o_aplicada": {
                          "type": "string"
                        },
                        "u_participantes_bridge": {
                          "type": "string"
                        },
                        "subcategory": {
                          "type": "string"
                        },
                        "work_notes": {
                          "type": "string"
                        },
                        "close_code": {
                          "type": "string"
                        },
                        "u_segmento": {
                          "type": "string"
                        },
                        "assignment_group": {
                          "type": "object",
                          "properties": {
                            "link": {
                              "type": "string"
                            },
                            "value": {
                              "type": "string"
                            }
                          }
                        },
                        "business_stc": {
                          "type": "string"
                        },
                        "u_impacto_disponibilidade": {
                          "type": "string"
                        },
                        "cause": {
                          "type": "string"
                        },
                        "description": {
                          "type": "string"
                        },
                        "u_dura_o_total_do_impacto": {
                          "type": "string"
                        },
                        "origin_id": {
                          "type": "string"
                        },
                        "calendar_duration": {
                          "type": "string"
                        },
                        "u_respons_vel_post_morten": {
                          "type": "string"
                        },
                        "close_notes": {
                          "type": "string"
                        },
                        "sys_id": {
                          "type": "string"
                        },
                        "contact_type": {
                          "type": "string"
                        },
                        "u_closing_incident_classification": {
                          "type": "string"
                        },
                        "incident_state": {
                          "type": "string"
                        },
                        "urgency": {
                          "type": "string"
                        },
                        "problem_id": {
                          "type": "string"
                        },
                        "company": {
                          "type": "object",
                          "properties": {
                            "link": {
                              "type": "string"
                            },
                            "value": {
                              "type": "string"
                            }
                          }
                        },
                        "u_bp_user": {
                          "type": "string"
                        },
                        "u_count_reclassification": {
                          "type": "string"
                        },
                        "u_s4f_transaction_number": {
                          "type": "string"
                        },
                        "u_status": {
                          "type": "string"
                        },
                        "activity_due": {
                          "type": "string"
                        },
                        "u_updated_by_maximo": {
                          "type": "string"
                        },
                        "severity": {
                          "type": "string"
                        },
                        "overview": {
                          "type": "string"
                        },
                        "comments": {
                          "type": "string"
                        },
                        "u_critical_incident": {
                          "type": "string"
                        },
                        "approval": {
                          "type": "string"
                        },
                        "u_integracao_detalhe_erro": {
                          "type": "string"
                        },
                        "u_flag": {
                          "type": "string"
                        },
                        "due_date": {
                          "type": "string"
                        },
                        "sys_mod_count": {
                          "type": "string"
                        },
                        "reopen_count": {
                          "type": "string"
                        },
                        "sys_tags": {
                          "type": "string"
                        },
                        "u_closing_subcategory": {
                          "type": "string"
                        },
                        "u_major_incidente_group": {
                          "type": "string"
                        },
                        "location": {
                          "type": "object",
                          "properties": {
                            "link": {
                              "type": "string"
                            },
                            "value": {
                              "type": "string"
                            }
                          }
                        },
                        "u_service_offering_helper": {
                          "type": "string"
                        },
                        "category": {
                          "type": "string"
                        },
                        "u_failure_type": {
                          "type": "string"
                        },
                        "u_post_mortem": {
                          "type": "string"
                        },
                        "u_black_friday": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "x-examples": {
                    "Example 1": {
                      "result": {
                        "promoted_by": "",
                        "parent": "",
                        "u_check_resolved": "true",
                        "caused_by": "",
                        "watch_list": "",
                        "upon_reject": "cancel",
                        "sys_updated_on": "2026-03-10 16:29:33",
                        "origin_table": "",
                        "approval_history": "",
                        "skills": "",
                        "number": "INC3770090",
                        "proposed_by": "",
                        "u_classification": "",
                        "u_duty_manager": "",
                        "u_fcr": "false",
                        "lessons_learned": "",
                        "u_closing_category": "",
                        "u_what_do_you_want": "",
                        "u_asset_not_found": "",
                        "state": "6",
                        "u_previsao": "",
                        "sys_created_by": "7700614335",
                        "knowledge": "false",
                        "order": "",
                        "u_andar": "1",
                        "u_incidente_causado_por_mudanca": "",
                        "u_monitoring": "false",
                        "u_validacao": "",
                        "cmdb_ci": "",
                        "contract": "",
                        "impact": "3",
                        "active": "true",
                        "work_notes_list": "",
                        "priority": "4",
                        "sys_domain_path": "/",
                        "u_contact_tentatives_counter": "0",
                        "u_rea_respons_vel": "",
                        "u_record_producer": {
                          "link": "https://ibmqaviavarejo.service-now.com/api/now/table/sc_cat_item_producer/2dceced787fe6910d576c9160cbb359b",
                          "value": "2dceced787fe6910d576c9160cbb359b"
                        },
                        "business_duration": "1970-01-01 00:00:00",
                        "group_list": "",
                        "u_email_counter": "0",
                        "approval_set": "",
                        "u_integracao_envio_de_anexos": "",
                        "u_assignment_group_counter": "",
                        "u_monitoring_bp": "false",
                        "major_incident_state": "",
                        "u_knowledge_base": "",
                        "universal_request": "",
                        "u_chamado_externo": "",
                        "short_description": "GUPY - Erro em relatórios",
                        "correlation_display": "",
                        "work_start": "",
                        "u_grupo_ofensor": "",
                        "additional_assignee_list": "",
                        "notify": "1",
                        "service_offering": "",
                        "sys_class_name": "incident",
                        "u_tracking_type": "",
                        "closed_by": "",
                        "follow_up": "",
                        "u_incident_classification": "gupy",
                        "parent_incident": "",
                        "u_solicitado_para": {
                          "link": "https://ibmqaviavarejo.service-now.com/api/now/table/sys_user/4faf87571bd324980ad86570f54bcbeb",
                          "value": "4faf87571bd324980ad86570f54bcbeb"
                        },
                        "reopened_by": "",
                        "u_loop_url": "",
                        "u_what_is_the_request": "",
                        "reassignment_count": "0",
                        "u_solution_classification": "",
                        "u_servico_monitorado": "",
                        "assigned_to": {
                          "link": "https://ibmqaviavarejo.service-now.com/api/now/table/sys_user/0268fb351bf3499017cefc4e4b4bcba9",
                          "value": "0268fb351bf3499017cefc4e4b4bcba9"
                        },
                        "u_integracao_status": "",
                        "sla_due": "",
                        "u_reclassification": "false",
                        "comments_and_work_notes": "",
                        "u_type_of_deviation": "",
                        "u_contador_att": "1",
                        "u_isglobal": "false",
                        "u_service_offering_inc": "",
                        "escalation": "0",
                        "upon_approval": "proceed",
                        "u_departamento": {
                          "link": "https://ibmqaviavarejo.service-now.com/api/now/table/cmn_department/556735c91bee09982f03dcafe54bcb18",
                          "value": "556735c91bee09982f03dcafe54bcb18"
                        },
                        "correlation_id": "",
                        "timeline": "",
                        "u_business_service_inc": "",
                        "u_solution_code": "",
                        "u_integracao_sincronizada_em": "",
                        "u_major_incident_priority": "",
                        "u_event_detection_method": "",
                        "made_sla": "true",
                        "u_crise_controlada": "false",
                        "promoted_on": "",
                        "child_incidents": "0",
                        "hold_reason": "",
                        "task_effective_number": "INC3770090",
                        "u_link": "",
                        "resolved_by": {
                          "link": "https://ibmqaviavarejo.service-now.com/api/now/table/sys_user/dddfa4b43b73aa10cf02e437f4e45a3e",
                          "value": "dddfa4b43b73aa10cf02e437f4e45a3e"
                        },
                        "sys_updated_by": "zendesk.integration",
                        "u_ura_id": "",
                        "opened_by": {
                          "link": "https://ibmqaviavarejo.service-now.com/api/now/table/sys_user/4faf87571bd324980ad86570f54bcbeb",
                          "value": "4faf87571bd324980ad86570f54bcbeb"
                        },
                        "user_input": "",
                        "sys_created_on": "2026-03-10 16:28:37",
                        "sys_domain": {
                          "link": "https://ibmqaviavarejo.service-now.com/api/now/table/sys_user_group/global",
                          "value": "global"
                        },
                        "u_acionamento_de_fornecedor_externo": "",
                        "proposed_on": "",
                        "actions_taken": "",
                        "u_in_cio_do_impacto": "",
                        "u_major_bridge": "",
                        "u_normaliza_o_do_impacto": "",
                        "u_s4f_service": "",
                        "route_reason": "",
                        "calendar_stc": "56",
                        "u_numero_da_mudanca": "",
                        "closed_at": "",
                        "u_descreva_o_impacto_da_falha": "",
                        "u_descricao_do_problema_encontrado": "",
                        "business_service": "",
                        "u_telefone": "1",
                        "business_impact": "",
                        "rfc": "",
                        "time_worked": "",
                        "expected_start": "",
                        "opened_at": "2026-03-10 16:28:37",
                        "u_integracao": "",
                        "u_tipo_de_solucao": "",
                        "u_motivo_da_pend_ncia": "",
                        "work_end": "",
                        "caller_id": {
                          "link": "https://ibmqaviavarejo.service-now.com/api/now/table/sys_user/4faf87571bd324980ad86570f54bcbeb",
                          "value": "4faf87571bd324980ad86570f54bcbeb"
                        },
                        "reopened_time": "",
                        "resolved_at": "2026-03-10 16:29:33",
                        "u_descreva_outros": "",
                        "u_descreva_a_causa": "",
                        "u_solu_o_aplicada": "",
                        "u_participantes_bridge": "",
                        "subcategory": "gupy",
                        "work_notes": "",
                        "close_code": "",
                        "u_segmento": "",
                        "assignment_group": {
                          "link": "https://ibmqaviavarejo.service-now.com/api/now/table/sys_user_group/0e486b7f1b45b450c9b5da8fe54bcbc3",
                          "value": "0e486b7f1b45b450c9b5da8fe54bcbc3"
                        },
                        "business_stc": "0",
                        "u_impacto_disponibilidade": "",
                        "cause": "",
                        "description": "Teste",
                        "u_dura_o_total_do_impacto": "",
                        "origin_id": "",
                        "calendar_duration": "1970-01-01 00:00:56",
                        "u_respons_vel_post_morten": "",
                        "close_notes": "Teste de encerramento",
                        "sys_id": "f71de5213b27f610784f2447f4e45a83",
                        "contact_type": "portal",
                        "u_closing_incident_classification": "",
                        "incident_state": "6",
                        "urgency": "3",
                        "problem_id": "",
                        "company": {
                          "link": "https://ibmqaviavarejo.service-now.com/api/now/table/core_company/2e280de91b56c5142f03dcafe54bcb21",
                          "value": "2e280de91b56c5142f03dcafe54bcb21"
                        },
                        "u_bp_user": "",
                        "u_count_reclassification": "0",
                        "u_s4f_transaction_number": "",
                        "u_status": "",
                        "activity_due": "",
                        "u_updated_by_maximo": "false",
                        "severity": "3",
                        "overview": "",
                        "comments": "",
                        "u_critical_incident": "false",
                        "approval": "not requested",
                        "u_integracao_detalhe_erro": "",
                        "u_flag": "",
                        "due_date": "2026-03-12 16:28:37",
                        "sys_mod_count": "4",
                        "reopen_count": "0",
                        "sys_tags": "",
                        "u_closing_subcategory": "",
                        "u_major_incidente_group": "",
                        "location": {
                          "link": "https://ibmqaviavarejo.service-now.com/api/now/table/cmn_location/ea280de91b56c5142f03dcafe54bcb23",
                          "value": "ea280de91b56c5142f03dcafe54bcb23"
                        },
                        "u_service_offering_helper": "",
                        "category": "colaborador",
                        "u_failure_type": "",
                        "u_post_mortem": "",
                        "u_black_friday": "false"
                      }
                    }
                  }
                },
                "examples": {
                  "Example 1": {
                    "value": {
                      "result": {
                        "promoted_by": "",
                        "parent": "",
                        "u_check_resolved": "true",
                        "caused_by": "",
                        "watch_list": "",
                        "upon_reject": "cancel",
                        "sys_updated_on": "2026-03-10 16:29:33",
                        "origin_table": "",
                        "approval_history": "",
                        "skills": "",
                        "number": "INC3770090",
                        "proposed_by": "",
                        "u_classification": "",
                        "u_duty_manager": "",
                        "u_fcr": "false",
                        "lessons_learned": "",
                        "u_closing_category": "",
                        "u_what_do_you_want": "",
                        "u_asset_not_found": "",
                        "state": "6",
                        "u_previsao": "",
                        "sys_created_by": "7700614335",
                        "knowledge": "false",
                        "order": "",
                        "u_andar": "1",
                        "u_incidente_causado_por_mudanca": "",
                        "u_monitoring": "false",
                        "u_validacao": "",
                        "cmdb_ci": "",
                        "contract": "",
                        "impact": "3",
                        "active": "true",
                        "work_notes_list": "",
                        "priority": "4",
                        "sys_domain_path": "/",
                        "u_contact_tentatives_counter": "0",
                        "u_rea_respons_vel": "",
                        "u_record_producer": {
                          "link": "https://ibmqaviavarejo.service-now.com/api/now/table/sc_cat_item_producer/2dceced787fe6910d576c9160cbb359b",
                          "value": "2dceced787fe6910d576c9160cbb359b"
                        },
                        "business_duration": "1970-01-01 00:00:00",
                        "group_list": "",
                        "u_email_counter": "0",
                        "approval_set": "",
                        "u_integracao_envio_de_anexos": "",
                        "u_assignment_group_counter": "",
                        "u_monitoring_bp": "false",
                        "major_incident_state": "",
                        "u_knowledge_base": "",
                        "universal_request": "",
                        "u_chamado_externo": "",
                        "short_description": "GUPY - Erro em relatórios",
                        "correlation_display": "",
                        "work_start": "",
                        "u_grupo_ofensor": "",
                        "additional_assignee_list": "",
                        "notify": "1",
                        "service_offering": "",
                        "sys_class_name": "incident",
                        "u_tracking_type": "",
                        "closed_by": "",
                        "follow_up": "",
                        "u_incident_classification": "gupy",
                        "parent_incident": "",
                        "u_solicitado_para": {
                          "link": "https://ibmqaviavarejo.service-now.com/api/now/table/sys_user/4faf87571bd324980ad86570f54bcbeb",
                          "value": "4faf87571bd324980ad86570f54bcbeb"
                        },
                        "reopened_by": "",
                        "u_loop_url": "",
                        "u_what_is_the_request": "",
                        "reassignment_count": "0",
                        "u_solution_classification": "",
                        "u_servico_monitorado": "",
                        "assigned_to": {
                          "link": "https://ibmqaviavarejo.service-now.com/api/now/table/sys_user/0268fb351bf3499017cefc4e4b4bcba9",
                          "value": "0268fb351bf3499017cefc4e4b4bcba9"
                        },
                        "u_integracao_status": "",
                        "sla_due": "",
                        "u_reclassification": "false",
                        "comments_and_work_notes": "",
                        "u_type_of_deviation": "",
                        "u_contador_att": "1",
                        "u_isglobal": "false",
                        "u_service_offering_inc": "",
                        "escalation": "0",
                        "upon_approval": "proceed",
                        "u_departamento": {
                          "link": "https://ibmqaviavarejo.service-now.com/api/now/table/cmn_department/556735c91bee09982f03dcafe54bcb18",
                          "value": "556735c91bee09982f03dcafe54bcb18"
                        },
                        "correlation_id": "",
                        "timeline": "",
                        "u_business_service_inc": "",
                        "u_solution_code": "",
                        "u_integracao_sincronizada_em": "",
                        "u_major_incident_priority": "",
                        "u_event_detection_method": "",
                        "made_sla": "true",
                        "u_crise_controlada": "false",
                        "promoted_on": "",
                        "child_incidents": "0",
                        "hold_reason": "",
                        "task_effective_number": "INC3770090",
                        "u_link": "",
                        "resolved_by": {
                          "link": "https://ibmqaviavarejo.service-now.com/api/now/table/sys_user/dddfa4b43b73aa10cf02e437f4e45a3e",
                          "value": "dddfa4b43b73aa10cf02e437f4e45a3e"
                        },
                        "sys_updated_by": "zendesk.integration",
                        "u_ura_id": "",
                        "opened_by": {
                          "link": "https://ibmqaviavarejo.service-now.com/api/now/table/sys_user/4faf87571bd324980ad86570f54bcbeb",
                          "value": "4faf87571bd324980ad86570f54bcbeb"
                        },
                        "user_input": "",
                        "sys_created_on": "2026-03-10 16:28:37",
                        "sys_domain": {
                          "link": "https://ibmqaviavarejo.service-now.com/api/now/table/sys_user_group/global",
                          "value": "global"
                        },
                        "u_acionamento_de_fornecedor_externo": "",
                        "proposed_on": "",
                        "actions_taken": "",
                        "u_in_cio_do_impacto": "",
                        "u_major_bridge": "",
                        "u_normaliza_o_do_impacto": "",
                        "u_s4f_service": "",
                        "route_reason": "",
                        "calendar_stc": "56",
                        "u_numero_da_mudanca": "",
                        "closed_at": "",
                        "u_descreva_o_impacto_da_falha": "",
                        "u_descricao_do_problema_encontrado": "",
                        "business_service": "",
                        "u_telefone": "1",
                        "business_impact": "",
                        "rfc": "",
                        "time_worked": "",
                        "expected_start": "",
                        "opened_at": "2026-03-10 16:28:37",
                        "u_integracao": "",
                        "u_tipo_de_solucao": "",
                        "u_motivo_da_pend_ncia": "",
                        "work_end": "",
                        "caller_id": {
                          "link": "https://ibmqaviavarejo.service-now.com/api/now/table/sys_user/4faf87571bd324980ad86570f54bcbeb",
                          "value": "4faf87571bd324980ad86570f54bcbeb"
                        },
                        "reopened_time": "",
                        "resolved_at": "2026-03-10 16:29:33",
                        "u_descreva_outros": "",
                        "u_descreva_a_causa": "",
                        "u_solu_o_aplicada": "",
                        "u_participantes_bridge": "",
                        "subcategory": "gupy",
                        "work_notes": "",
                        "close_code": "",
                        "u_segmento": "",
                        "assignment_group": {
                          "link": "https://ibmqaviavarejo.service-now.com/api/now/table/sys_user_group/0e486b7f1b45b450c9b5da8fe54bcbc3",
                          "value": "0e486b7f1b45b450c9b5da8fe54bcbc3"
                        },
                        "business_stc": "0",
                        "u_impacto_disponibilidade": "",
                        "cause": "",
                        "description": "Teste",
                        "u_dura_o_total_do_impacto": "",
                        "origin_id": "",
                        "calendar_duration": "1970-01-01 00:00:56",
                        "u_respons_vel_post_morten": "",
                        "close_notes": "Teste de encerramento",
                        "sys_id": "f71de5213b27f610784f2447f4e45a83",
                        "contact_type": "portal",
                        "u_closing_incident_classification": "",
                        "incident_state": "6",
                        "urgency": "3",
                        "problem_id": "",
                        "company": {
                          "link": "https://ibmqaviavarejo.service-now.com/api/now/table/core_company/2e280de91b56c5142f03dcafe54bcb21",
                          "value": "2e280de91b56c5142f03dcafe54bcb21"
                        },
                        "u_bp_user": "",
                        "u_count_reclassification": "0",
                        "u_s4f_transaction_number": "",
                        "u_status": "",
                        "activity_due": "",
                        "u_updated_by_maximo": "false",
                        "severity": "3",
                        "overview": "",
                        "comments": "",
                        "u_critical_incident": "false",
                        "approval": "not requested",
                        "u_integracao_detalhe_erro": "",
                        "u_flag": "",
                        "due_date": "2026-03-12 16:28:37",
                        "sys_mod_count": "4",
                        "reopen_count": "0",
                        "sys_tags": "",
                        "u_closing_subcategory": "",
                        "u_major_incidente_group": "",
                        "location": {
                          "link": "https://ibmqaviavarejo.service-now.com/api/now/table/cmn_location/ea280de91b56c5142f03dcafe54bcb23",
                          "value": "ea280de91b56c5142f03dcafe54bcb23"
                        },
                        "u_service_offering_helper": "",
                        "category": "colaborador",
                        "u_failure_type": "",
                        "u_post_mortem": "",
                        "u_black_friday": "false"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "Authorization",
            "description": "Token disponibilizado na documentação enviada anteriormente"
          }
        ]
      },
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "sys_id_incidente",
          "in": "path",
          "required": true
        }
      ]
    }
  },
  "tags": [],
  "components": {
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    },
    "schemas": {}
  },
  "security": [
    {}
  ]
}
