{
  "openapi": "3.0.3",
  "info": {
    "title": "Unsplash API",
    "description": "The official Unsplash JSON API providing access to free high-resolution photos. Supports searching, listing, and downloading photos, as well as managing user profiles and collections.",
    "version": "1.0",
    "contact": {
      "name": "Unsplash API Team",
      "email": "api@unsplash.com",
      "url": "https://unsplash.com/documentation"
    },
    "license": {
      "name": "Unsplash License",
      "url": "https://unsplash.com/license"
    }
  },
  "externalDocs": {
    "description": "Unsplash API Documentation",
    "url": "https://unsplash.com/documentation"
  },
  "servers": [
    {
      "url": "https://api.unsplash.com",
      "description": "Unsplash Production"
    }
  ],
  "security": [
    {
      "clientId": []
    },
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/me": {
      "get": {
        "operationId": "getCurrentUser",
        "summary": "Get current user profile",
        "description": "Get the current user's profile. Requires user authentication.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Current user profile",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "tags": [
          "me"
        ]
      },
      "put": {
        "operationId": "updateCurrentUser",
        "summary": "Update current user profile",
        "description": "Update the current user's profile. Requires write_user scope.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "username",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "first_name",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "last_name",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "email",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "url",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "location",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "bio",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "instagram_username",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updated user profile",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden – missing write_user scope"
          }
        },
        "tags": [
          "me"
        ]
      }
    },
    "/users/{username}": {
      "get": {
        "operationId": "getUser",
        "summary": "Get a user's public profile",
        "parameters": [
          {
            "name": "username",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User profile",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "404": {
            "description": "User not found"
          }
        },
        "tags": [
          "users"
        ],
        "description": "Get a user's public profile"
      }
    },
    "/users/{username}/portfolio": {
      "get": {
        "operationId": "getUserPortfolio",
        "summary": "Get a user's portfolio link",
        "parameters": [
          {
            "name": "username",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Portfolio URL",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "url": {
                      "type": "string",
                      "format": "uri"
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "users"
        ],
        "description": "Get a user's portfolio link"
      }
    },
    "/users/{username}/photos": {
      "get": {
        "operationId": "getUserPhotos",
        "summary": "List a user's photos",
        "parameters": [
          {
            "name": "username",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 10,
              "maximum": 30
            }
          },
          {
            "name": "order_by",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "latest",
                "oldest",
                "popular",
                "views",
                "downloads"
              ],
              "default": "latest"
            }
          },
          {
            "name": "stats",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "orientation",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "landscape",
                "portrait",
                "squarish"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of photos",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Photo"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "users"
        ],
        "description": "List a user's photos"
      }
    },
    "/users/{username}/likes": {
      "get": {
        "operationId": "getUserLikes",
        "summary": "List a user's liked photos",
        "parameters": [
          {
            "name": "username",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 10
            }
          },
          {
            "name": "order_by",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "latest",
                "oldest",
                "popular"
              ],
              "default": "latest"
            }
          },
          {
            "name": "orientation",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "landscape",
                "portrait",
                "squarish"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of liked photos",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Photo"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "users"
        ],
        "description": "List a user's liked photos"
      }
    },
    "/users/{username}/collections": {
      "get": {
        "operationId": "getUserCollections",
        "summary": "List a user's collections",
        "parameters": [
          {
            "name": "username",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of collections",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Collection"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "users"
        ],
        "description": "List a user's collections"
      }
    },
    "/photos": {
      "get": {
        "operationId": "listPhotos",
        "summary": "List editorial photos",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 10
            }
          },
          {
            "name": "order_by",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "latest",
                "oldest",
                "popular"
              ],
              "default": "latest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of photos",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Photo"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "photos"
        ],
        "description": "List editorial photos"
      }
    },
    "/photos/{id}": {
      "get": {
        "operationId": "getPhoto",
        "summary": "Get a photo by ID",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Photo details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Photo"
                }
              }
            }
          },
          "404": {
            "description": "Photo not found"
          }
        },
        "tags": [
          "photos"
        ],
        "description": "Get a photo by ID"
      }
    },
    "/photos/random": {
      "get": {
        "operationId": "getRandomPhoto",
        "summary": "Get a random photo",
        "parameters": [
          {
            "name": "collections",
            "in": "query",
            "description": "Comma-separated collection IDs to narrow selection",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "topics",
            "in": "query",
            "description": "Comma-separated topic IDs",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "username",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "query",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orientation",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "landscape",
                "portrait",
                "squarish"
              ]
            }
          },
          {
            "name": "content_filter",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "low",
                "high"
              ],
              "default": "low"
            }
          },
          {
            "name": "count",
            "in": "query",
            "description": "Number of photos to return (1-30)",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 30,
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Random photo(s)",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/Photo"
                    },
                    {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Photo"
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "photos"
        ],
        "description": "Get a random photo"
      }
    },
    "/photos/{id}/statistics": {
      "get": {
        "operationId": "getPhotoStatistics",
        "summary": "Get a photo's statistics",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "resolution",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "days"
            }
          },
          {
            "name": "quantity",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 30
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Photo statistics",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PhotoStatistics"
                }
              }
            }
          }
        },
        "tags": [
          "photos"
        ],
        "description": "Get a photo's statistics"
      }
    },
    "/photos/{id}/download": {
      "get": {
        "operationId": "trackPhotoDownload",
        "summary": "Track a photo download",
        "description": "Trigger a download event for a photo. This must be called when the photo is downloaded per the API guidelines.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Download tracked",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "url": {
                      "type": "string",
                      "format": "uri"
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "photos"
        ]
      }
    },
    "/search/photos": {
      "get": {
        "operationId": "searchPhotos",
        "summary": "Search photos",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 10
            }
          },
          {
            "name": "order_by",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "latest",
                "relevant"
              ],
              "default": "relevant"
            }
          },
          {
            "name": "collections",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "content_filter",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "low",
                "high"
              ],
              "default": "low"
            }
          },
          {
            "name": "color",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "black_and_white",
                "black",
                "white",
                "yellow",
                "orange",
                "red",
                "purple",
                "magenta",
                "green",
                "teal",
                "blue"
              ]
            }
          },
          {
            "name": "orientation",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "landscape",
                "portrait",
                "squarish"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Search results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchPhotosResult"
                }
              }
            }
          }
        },
        "tags": [
          "search"
        ],
        "description": "Search photos"
      }
    },
    "/search/collections": {
      "get": {
        "operationId": "searchCollections",
        "summary": "Search collections",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Search results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchCollectionsResult"
                }
              }
            }
          }
        },
        "tags": [
          "search"
        ],
        "description": "Search collections"
      }
    },
    "/search/users": {
      "get": {
        "operationId": "searchUsers",
        "summary": "Search users",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Search results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchUsersResult"
                }
              }
            }
          }
        },
        "tags": [
          "search"
        ],
        "description": "Search users"
      }
    },
    "/collections/{id}": {
      "get": {
        "operationId": "getCollection",
        "summary": "Get a collection by ID",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Collection details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Collection"
                }
              }
            }
          }
        },
        "tags": [
          "collections"
        ],
        "description": "Get a collection by ID"
      }
    },
    "/collections/{id}/photos": {
      "get": {
        "operationId": "getCollectionPhotos",
        "summary": "Get a collection's photos",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 10
            }
          },
          {
            "name": "orientation",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "landscape",
                "portrait",
                "squarish"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Collection photos",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Photo"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "collections"
        ],
        "description": "Get a collection's photos"
      }
    },
    "/topics": {
      "get": {
        "operationId": "listTopics",
        "summary": "List topics",
        "parameters": [
          {
            "name": "ids",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 10
            }
          },
          {
            "name": "order_by",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "featured",
                "latest",
                "oldest",
                "position"
              ],
              "default": "position"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of topics",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Topic"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "topics"
        ],
        "description": "List topics"
      }
    },
    "/topics/{id_or_slug}": {
      "get": {
        "operationId": "getTopic",
        "summary": "Get a topic",
        "parameters": [
          {
            "name": "id_or_slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Topic details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Topic"
                }
              }
            }
          }
        },
        "tags": [
          "topics"
        ],
        "description": "Get a topic"
      }
    },
    "/topics/{id_or_slug}/photos": {
      "get": {
        "operationId": "getTopicPhotos",
        "summary": "Get a topic's photos",
        "parameters": [
          {
            "name": "id_or_slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 10
            }
          },
          {
            "name": "orientation",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "landscape",
                "portrait",
                "squarish"
              ]
            }
          },
          {
            "name": "order_by",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "latest",
                "oldest",
                "popular"
              ],
              "default": "latest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Topic photos",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Photo"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "topics"
        ],
        "description": "Get a topic's photos"
      }
    }
  },
  "components": {
    "securitySchemes": {
      "clientId": {
        "type": "apiKey",
        "name": "Authorization",
        "in": "header",
        "description": "Public authentication: Client-ID YOUR_ACCESS_KEY"
      },
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "OAuth2 bearer token for user-authenticated requests"
      }
    },
    "schemas": {
      "Photo": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "width": {
            "type": "integer"
          },
          "height": {
            "type": "integer"
          },
          "color": {
            "type": "string"
          },
          "blur_hash": {
            "type": "string"
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "alt_description": {
            "type": "string",
            "nullable": true
          },
          "urls": {
            "$ref": "#/components/schemas/PhotoUrls"
          },
          "links": {
            "$ref": "#/components/schemas/PhotoLinks"
          },
          "likes": {
            "type": "integer"
          },
          "user": {
            "$ref": "#/components/schemas/User"
          }
        }
      },
      "PhotoUrls": {
        "type": "object",
        "properties": {
          "raw": {
            "type": "string",
            "format": "uri"
          },
          "full": {
            "type": "string",
            "format": "uri"
          },
          "regular": {
            "type": "string",
            "format": "uri"
          },
          "small": {
            "type": "string",
            "format": "uri"
          },
          "thumb": {
            "type": "string",
            "format": "uri"
          }
        }
      },
      "PhotoLinks": {
        "type": "object",
        "properties": {
          "self": {
            "type": "string",
            "format": "uri"
          },
          "html": {
            "type": "string",
            "format": "uri"
          },
          "download": {
            "type": "string",
            "format": "uri"
          },
          "download_location": {
            "type": "string",
            "format": "uri"
          }
        }
      },
      "PhotoStatistics": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "downloads": {
            "$ref": "#/components/schemas/StatEntry"
          },
          "views": {
            "$ref": "#/components/schemas/StatEntry"
          },
          "likes": {
            "$ref": "#/components/schemas/StatEntry"
          }
        }
      },
      "StatEntry": {
        "type": "object",
        "properties": {
          "total": {
            "type": "integer"
          },
          "historical": {
            "type": "object",
            "properties": {
              "change": {
                "type": "integer"
              },
              "resolution": {
                "type": "string"
              },
              "quantity": {
                "type": "integer"
              },
              "values": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "date": {
                      "type": "string",
                      "format": "date"
                    },
                    "value": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "User": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "username": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "first_name": {
            "type": "string"
          },
          "last_name": {
            "type": "string"
          },
          "twitter_username": {
            "type": "string",
            "nullable": true
          },
          "portfolio_url": {
            "type": "string",
            "nullable": true
          },
          "bio": {
            "type": "string",
            "nullable": true
          },
          "location": {
            "type": "string",
            "nullable": true
          },
          "total_likes": {
            "type": "integer"
          },
          "total_photos": {
            "type": "integer"
          },
          "total_collections": {
            "type": "integer"
          },
          "profile_image": {
            "type": "object",
            "properties": {
              "small": {
                "type": "string",
                "format": "uri"
              },
              "medium": {
                "type": "string",
                "format": "uri"
              },
              "large": {
                "type": "string",
                "format": "uri"
              }
            }
          },
          "links": {
            "type": "object",
            "properties": {
              "self": {
                "type": "string",
                "format": "uri"
              },
              "html": {
                "type": "string",
                "format": "uri"
              },
              "photos": {
                "type": "string",
                "format": "uri"
              },
              "portfolio": {
                "type": "string",
                "format": "uri"
              }
            }
          }
        }
      },
      "Collection": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "published_at": {
            "type": "string",
            "format": "date-time"
          },
          "last_collected_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "total_photos": {
            "type": "integer"
          },
          "private": {
            "type": "boolean"
          },
          "share_key": {
            "type": "string"
          },
          "cover_photo": {
            "$ref": "#/components/schemas/Photo"
          },
          "user": {
            "$ref": "#/components/schemas/User"
          },
          "links": {
            "type": "object",
            "properties": {
              "self": {
                "type": "string",
                "format": "uri"
              },
              "html": {
                "type": "string",
                "format": "uri"
              },
              "photos": {
                "type": "string",
                "format": "uri"
              }
            }
          }
        }
      },
      "Topic": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "slug": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "published_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "total_photos": {
            "type": "integer"
          },
          "cover_photo": {
            "$ref": "#/components/schemas/Photo"
          }
        }
      },
      "SearchPhotosResult": {
        "type": "object",
        "properties": {
          "total": {
            "type": "integer"
          },
          "total_pages": {
            "type": "integer"
          },
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Photo"
            }
          }
        }
      },
      "SearchCollectionsResult": {
        "type": "object",
        "properties": {
          "total": {
            "type": "integer"
          },
          "total_pages": {
            "type": "integer"
          },
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Collection"
            }
          }
        }
      },
      "SearchUsersResult": {
        "type": "object",
        "properties": {
          "total": {
            "type": "integer"
          },
          "total_pages": {
            "type": "integer"
          },
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/User"
            }
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "collections"
    },
    {
      "name": "me"
    },
    {
      "name": "photos"
    },
    {
      "name": "search"
    },
    {
      "name": "topics"
    },
    {
      "name": "users"
    }
  ]
}
