{
  "openapi": "3.1.0",
  "info": {
    "title": "Honeycomb API",
    "version": "1.0.0",
    "license": {
      "name": "Apache 2.0",
      "url": "https://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "contact": {
      "email": "support@honeycomb.io"
    },
    "description": "The API allows programmatic management of many resources within Honeycomb.\n\nPlease report any discrepancies with actual API behavior in <a href=\"https://docs.honeycomb.io/troubleshoot/community/\">Pollinators Slack</a> or to <a href=\"https://support.honeycomb.io/\">Honeycomb Support</a>.\n",
    "x-jentic-source-url": "https://docs.honeycomb.io/api/openapi-public.yaml"
  },
  "externalDocs": {
    "url": "https://docs.honeycomb.io"
  },
  "servers": [
    {
      "url": "https://api.honeycomb.io"
    },
    {
      "url": "https://api.eu1.honeycomb.io"
    }
  ],
  "tags": [
    {
      "name": "Auth",
      "description": "API Keys have various scopes permissions and belong to a specific Team or Environment.\n\nAny valid Honeycomb ingest or configuration API Key will work with this endpoint. Learn more about [API keys](https://docs.honeycomb.io/get-started/best-practices/api-keys).\n\nThese endpoints can be used to validate authentication for a key, to determine what authorizations have been granted\nto a key, and to determine the Team and Environment that a key belongs to.\n"
    },
    {
      "name": "Boards",
      "description": "Boards are a place to pin and save useful queries/graphs, SLO panels, text panels, and views you want to retain for later reuse and reference.\n\nBoards can contain multiple panel types:\n- **Query panels**: Display saved queries/graphs\n- **SLO panels**: Monitor Service Level Objectives\n- **Text panels**: Add markdown-formatted text and documentation\n- **Views**: Filtered perspectives of board data (limited to 50 views per board)\n\nBoards also support preset filters (limited to 5 per board) to apply consistent filtering across the board.\n\nThis API allows you to list, create, update, and delete boards, as well as manage board views.\n\n## Authorization\n\nThe API key must have the **Manage Public Boards** permission. Learn more about [API keys here](https://docs.honeycomb.io/configure/environments/manage-api-keys/).\n"
    },
    {
      "name": "Burn Alerts",
      "description": "This feature is available as part of the [Honeycomb Pro and Enterprise plans](https://www.honeycomb.io/pricing/).\n\nBurn Alerts notify you when issues impact your SLO budget. Learn more about [Burn Alerts here](https://docs.honeycomb.io/notify/alert/slos/monitor/).\n\nThis API allows you to list, create, update, and delete burn alerts.\n\n## Authorization\n\nThe API key must have the **Manage SLOs** permission. Learn more about [API keys here](https://docs.honeycomb.io/configure/environments/manage-api-keys/).\n"
    },
    {
      "name": "Calculated Fields",
      "description": "Calculated Fields (also called Derived Columns) allow you to run queries based on the value of an expression that is calculated from the fields in an event.\n\nThis API allows you to list, create, update, and delete Calculated Fields in a dataset or across a whole environment, paralleling the behavior of the Schema tab within a Dataset's or Environment's Settings UI.\n\n## Authorization\n\nThe API key must have the **Manage Queries and Columns** permission. Learn more about [API keys here](https://docs.honeycomb.io/configure/environments/manage-api-keys/).\n"
    },
    {
      "name": "Columns",
      "description": "Columns are fields in the events you send to Honeycomb.\n\nThis API allows you to list, create, update, and delete columns in a dataset.\n\n## Authorization\n\nThe API key must have the **Manage Queries and Columns** permission. Learn more about [API keys here](https://docs.honeycomb.io/configure/environments/manage-api-keys/).\n"
    },
    {
      "name": "Datasets",
      "description": "A Dataset represents a collection of related events that come from the same source, or are related to the same source.\n\nThis API allows you to list, create, and update datasets.\n\n## Authorization\n\nThe API key must have the **Create Datasets** permission. Learn more about [API keys here](https://docs.honeycomb.io/configure/environments/manage-api-keys/).\n"
    },
    {
      "name": "Dataset Definitions",
      "description": "Dataset definitions describe the fields with special meaning in the Dataset.\n\nRefer to the [Dataset Definitions](https://docs.honeycomb.io/configure/datasets/definitions/) documentation for more information.\n\n**Honeycomb automatically creates these Dataset definition fields when the Dataset is created.**\nManual creation of Dataset definitions is **not** needed.\n\n## Authorization\n\nThe API key must have the **Create Datasets** permission. Learn more about [API keys here](https://docs.honeycomb.io/configure/environments/manage-api-keys/).\n"
    },
    {
      "name": "Events",
      "description": "The Events API endpoints are the lowest-level way to send Events to Honeycomb. **This should be your last resort!**\n\n\n\nIf unsure where to start when instrumenting an application, read about how to [Send Data to Honeycomb](https://docs.honeycomb.io/send-data/).\n\n\nIf you are building a tracing or metrics library, we recommend using [OpenTelemetry](https://docs.honeycomb.io/send-data/opentelemetry/).\n\n## Authorization\n\nIt is recommended that an Ingest API key is used for sending events.\n\nA Configuration API key will work, and must have the **Send Events** permission.\nLearn more about [API keys here](https://docs.honeycomb.io/configure/environments/manage-api-keys/).\n"
    },
    {
      "name": "Environments",
      "description": "This API allows you to list, create, and update, and delete Environments.\n\n## Authorization\n\nThis API requires a Management Key passed via the HTTP Authorization header. Join the key ID and secret with a colon, like this: `Authorization: Bearer <key ID>:<secret>`.\n"
    },
    {
      "name": "Key Management",
      "description": "This API allows you to list, create, update, and delete API Keys for a Team.\n\n\nLearn more about [API keys here](https://docs.honeycomb.io/configure/environments/manage-api-keys/).\n\n## Authorization\n\n This API requires a Management Key passed via the HTTP Authorization header. Join the key ID and secret with a colon, like this: `Authorization: Bearer <key ID>:<secret>`.\n"
    },
    {
      "name": "Kinesis Events",
      "description": "The Kinesis Events API endpoints allow Honeycomb to process streaming events from Amazon Kinesis.\n\nRefer to the [Honeycomb AWS integrations](https://docs.honeycomb.io/integrations/aws/how-aws-integrations-work/) documentation for more information.\n\n## Authorization\n\nIt is recommended that an Ingest API key is used for sending events.\n\nA Configuration API key will work, and must have the **Send Events** permission.\nLearn more about [API keys here](https://docs.honeycomb.io/configure/environments/manage-api-keys/).\n"
    },
    {
      "name": "Markers",
      "description": "Markers indicate points in time on graphs where interesting things happen, such as deploys or outages.\n\nThis API allows you to list, create, update, and delete Markers.\n\n## Authorization\n\nThe API key must have the **Manage Markers** permission. Learn more about [API keys here](https://docs.honeycomb.io/configure/environments/manage-api-keys/).\n"
    },
    {
      "name": "Marker Settings",
      "description": "Marker Settings apply to groups of similar Markers.\nFor example, \"deploys\" markers appear with the same color on a graph.\n\nThis API allows you to list, create, update, and delete Marker Settings.\n\n## Authorization\n\nThe API key must have the **Manage Markers** permission. Learn more about [API keys here](https://docs.honeycomb.io/configure/environments/manage-api-keys/).\n"
    },
    {
      "name": "Queries",
      "description": "Queries in Honeycomb are specifications for queries, and are used to identify queries in other parts of the API - in particular: boards, triggers, and query annotations.\n\nThis API allows you to create and get query objects.\n\n## Authorization\n\nThe API key must have the **Manage Queries and Columns** permission. Learn more about [API keys here](https://docs.honeycomb.io/configure/environments/manage-api-keys/).\n"
    },
    {
      "name": "Query Annotations",
      "description": "Query Annotations in Honeycomb allow you to associate names and descriptions to queries to add additional information in collaboration features.\n\nThis API allows you to list, create, update, and delete Query Annotations.\n\n## Authorization\n\nThe API key must have the **Manage Queries and Columns** permission. Learn more about [API keys here](https://docs.honeycomb.io/configure/environments/manage-api-keys/).\n"
    },
    {
      "name": "Query Data",
      "description": "This feature is available as part of the [Honeycomb Enterprise plan](https://www.honeycomb.io/pricing/).\n\nQuery Results are the aggregated data from a Query, similar to what is displayed in graphs or heatmaps within the Honeycomb UI. Receiving results from a Query is a three-step process:\n\nCreate the Query (or Query Spec), which validates that the query parameters are valid. Creating a query does not actually run the query to get results.\nRun the query asynchronously by creating a Query Result referencing the Query’s ID. This returns a Query Result ID.\nPoll the query result endpoint (with the Query Result ID) until the data is ready.\n\nNote that many Query Results can be created from a single Query. This is particularly useful when using a relative time_range parameter in the Query.\nFor example, a Query with `time_range: 7200` and no explicit `start_time` or `end_time` can be re-run over and over, with each resulting Query Result containing the most recent 2 hours of data.\nThis is conceptually similar to clicking Run Query in the Honeycomb UI without changing any query parameters.\n\n**IMPORTANT API RESTRICTIONS:**\n\nTo ensure the stability of Honeycomb systems, we have enabled the following API restrictions. These restrictions may change over time.\n\n* Query Results can only be created for events with timestamps within the past 7 days.\n\n* When creating a Query Result, the time ranges from the Query are truncated according to the following rules. For queries with a time range of:\n\n    * less than or equal to 6 hours, results are truncated to the nearest 1 minute. For example, a start/end time of 2021-04-22T05:28:12Z will be truncated to 2021-04-22T05:28:00Z.\n\n    * greater than 6 hours and less than or equal to 2 days, results are truncated to the nearest 5 minutes. For example, a start/end time of 2021-04-22T05:28:12Z will be truncated to 2021-04-22T05:25:00Z.\n\n    * greater than 2 days and less than or equal to 7 days, results are truncated to the nearest 30 minutes. For example, a start/end time of 2021-04-22T05:28:12Z will be truncated to 2021-04-22T05:00:00Z.\n\n* Creating a Query Result is rate limited to 10 requests per minute. Status code 429 will be returned when rate limited.\n\n* Query Results cannot take longer than 10 seconds to run.\n\n* Creating a Query Result that contains Relational Fields is rate limited to 1 request per minute. Status code 429 will be returned when rate limited.\n\n  * Query Results with Relational Fields may be more likely to take longer to run.\n\n* Regardless of whether the `compare_time_offset_seconds` field is populated on a query, query run responses will not include comparison results.\n\n## Authorization\n\nThe API key must have the **Manage Queries and Columns** and **Run Queries** permission. Learn more about [API keys here](https://docs.honeycomb.io/configure/environments/manage-api-keys/).\n"
    },
    {
      "name": "Recipients",
      "description": "Honeycomb Recipients allow you to define and manage the Recipients that will get notified by a Trigger or Burn Alert.\n\nThe types of Recipients supported are: PagerDuty, Email, Webhook, Microsoft Teams, and Slack.\n\n## Authorization\n\nThe API key must have the **Manage Recipients** permission. Recipients are team-wide and NOT environment-specific.\nAPI Keys with the **Manage Recipients** permission can modify recipients used by ALL environments for a given team.\n\nLearn more about [API keys here](https://docs.honeycomb.io/configure/environments/manage-api-keys/).\n"
    },
    {
      "name": "Reporting",
      "description": "The Reporting API provides access to historical performance data.\n\n## Authorization\n\nThe API key must have the **Manage SLOs** permission. Learn more about [API keys here](https://docs.honeycomb.io/configure/environments/manage-api-keys/).\n"
    },
    {
      "name": "Service Maps",
      "description": "The Service Maps API endpoints allow you to visualize the relationships between your services in Honeycomb.\n\nThis API allows you to create and retrieve service Dependency Requests, which are used to generate maps of dependencies between services.\n\n## Authorization\n\nThe API key must have the **Read Service Maps** permission. Learn more about [API keys here](https://docs.honeycomb.io/configure/environments/manage-api-keys/).\n"
    },
    {
      "name": "SLOs",
      "description": "This feature is available as part of the [Honeycomb Pro and Enterprise plans](https://www.honeycomb.io/pricing).\n\nHoneycomb SLOs allow you to define and monitor Service Level Objectives (SLOs) for your organization.\n\nThis API allows you to list, create, update, and delete SLO objects.\n\nYou can also access historical reporting for your SLOs to analyze long-term performance trends. For more information, see [Get SLO History](https://api-docs.honeycomb.io/api/reporting/getslohistory)\n\n## Authorization\n\nThe API key must have the **Manage SLOs** permission. Learn more about [API keys here](https://docs.honeycomb.io/configure/environments/manage-api-keys/).\n"
    },
    {
      "name": "Triggers",
      "description": "Triggers let you receive notifications when your data in Honeycomb crosses the thresholds that you configure.\nThe graph on which to alert is as flexible as a Honeycomb query, which helps reduce false positives due to known errors.\n\nTriggers support both standard event-based datasets and metrics datasets. Metrics triggers have additional capabilities\nsuch as granularity control.\nLearn more in the [Triggers documentation](https://docs.honeycomb.io/notify/alert/triggers/).\n\nThis API allows you to list, create, update, and delete Triggers.\n\n## Authorization\n\nThe API key must have the **Manage Triggers** permission. Learn more about [API keys here](https://docs.honeycomb.io/configure/environments/manage-api-keys/).\n"
    }
  ],
  "paths": {
    "/1/auth": {
      "get": {
        "security": [
          {
            "configuration_key": []
          },
          {
            "ingest_key": []
          }
        ],
        "summary": "List Authorizations",
        "description": "Returns metadata about the API Key used to call the API.\nNote: a Honeycomb Classic API key will return an empty string for both of the `environment` values.\n",
        "tags": [
          "Auth"
        ],
        "operationId": "getAuth",
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "Ratelimit": {
                "$ref": "#/components/headers/RateLimit"
              },
              "RateLimitPolicy": {
                "$ref": "#/components/headers/RateLimitPolicy"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Auth"
                },
                "examples": {
                  "environment": {
                    "description": "Environment API Key",
                    "value": {
                      "id": "FL_xMM5LapLC",
                      "type": "configuration",
                      "api_key_access": {
                        "events": true,
                        "markers": true,
                        "triggers": false,
                        "boards": false,
                        "queries": false,
                        "columns": false,
                        "createDatasets": true,
                        "slos": false,
                        "recipients": false,
                        "privateBoards": false
                      },
                      "environment": {
                        "name": "Production",
                        "slug": "production"
                      },
                      "team": {
                        "name": "Honeycomb Docs",
                        "slug": "honeycomb-docs"
                      }
                    }
                  },
                  "classic": {
                    "description": "Classic Environment API Key",
                    "value": {
                      "id": "A3jatwoWSxA",
                      "type": "configuration",
                      "api_key_access": {
                        "events": true,
                        "markers": true,
                        "triggers": false,
                        "boards": false,
                        "queries": false,
                        "columns": false,
                        "createDatasets": false,
                        "slos": false,
                        "recipients": false,
                        "privateBoards": false
                      },
                      "environment": {
                        "name": "",
                        "slug": ""
                      },
                      "team": {
                        "name": "Honeycomb Docs",
                        "slug": "honeycomb-docs"
                      }
                    }
                  },
                  "ingest": {
                    "description": "Ingest API Key",
                    "value": {
                      "id": "hcxik_01j1824es7n4evcmv81cn392jb",
                      "type": "ingest",
                      "api_key_access": {
                        "createDatasets": true
                      },
                      "environment": {
                        "name": "Production",
                        "slug": "production"
                      },
                      "team": {
                        "name": "Honeycomb Docs",
                        "slug": "honeycomb-docs"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "default": {
            "$ref": "#/components/responses/GenericError"
          }
        }
      }
    },
    "/2/auth": {
      "get": {
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "List Authorizations V2",
        "description": "Returns metadata about the Management API Key used to call the API.\n",
        "tags": [
          "Auth"
        ],
        "operationId": "getV2Auth",
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "Ratelimit": {
                "$ref": "#/components/headers/RateLimit"
              },
              "RateLimitPolicy": {
                "$ref": "#/components/headers/RateLimitPolicy"
              }
            },
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthV2Response"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/1/boards": {
      "post": {
        "security": [
          {
            "configuration_key": []
          }
        ],
        "summary": "Create a Board",
        "description": "Create a Board comprised of one or more Panels (Query, SLO, or Text).\n**Note**: Each board is limited to a maximum of 5 preset filters.\n",
        "tags": [
          "Boards"
        ],
        "operationId": "createBoard",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Board"
              },
              "examples": {
                "Simple Flexible Board with Query and Text Panels": {
                  "value": {
                    "name": "My API Board",
                    "description": "A board created via the API with mixed panel types",
                    "type": "flexible",
                    "panels": [
                      {
                        "type": "query",
                        "query_panel": {
                          "query_id": "abc1234e",
                          "query_annotation_id": "e4c24a35"
                        },
                        "position": {
                          "x_coordinate": 0,
                          "y_coordinate": 0,
                          "height": 6,
                          "width": 8
                        }
                      },
                      {
                        "type": "text",
                        "text_panel": {
                          "content": "# Welcome to our API Dashboard\n\nThis board shows key metrics for our services."
                        },
                        "position": {
                          "x_coordinate": 8,
                          "y_coordinate": 0,
                          "height": 3,
                          "width": 4
                        }
                      }
                    ],
                    "layout_generation": "manual",
                    "tags": [
                      {
                        "key": "team",
                        "value": "backend"
                      },
                      {
                        "key": "environment",
                        "value": "production"
                      }
                    ]
                  }
                },
                "Auto-Layout Board with Multiple Panel Types": {
                  "value": {
                    "name": "Service Health Overview",
                    "description": "Comprehensive service monitoring dashboard",
                    "type": "flexible",
                    "panels": [
                      {
                        "type": "query",
                        "query_panel": {
                          "query_id": "def5678f",
                          "query_annotation_id": "a1b2c3d4",
                          "dataset": "frontend-logs"
                        }
                      },
                      {
                        "type": "slo",
                        "slo_panel": {
                          "slo_id": "BGfyxhFto"
                        }
                      },
                      {
                        "type": "text",
                        "text_panel": {
                          "content": "## Service Status\n\n⚠️ **Note**: All services are currently operational"
                        }
                      }
                    ],
                    "layout_generation": "auto",
                    "tags": [
                      {
                        "key": "service",
                        "value": "user-service"
                      }
                    ]
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "headers": {
              "Ratelimit": {
                "$ref": "#/components/headers/RateLimit"
              },
              "RateLimitPolicy": {
                "$ref": "#/components/headers/RateLimitPolicy"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Board"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "422": {
            "$ref": "#/components/responses/ValidationFailed"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "default": {
            "$ref": "#/components/responses/GenericError"
          }
        }
      },
      "get": {
        "security": [
          {
            "configuration_key": []
          }
        ],
        "summary": "List All Boards",
        "description": "Retrieves a list of all non-secret Boards within an environment. **Note**: For Honeycomb Classic users, all boards within Classic will be returned.\n",
        "tags": [
          "Boards"
        ],
        "operationId": "listBoards",
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "Ratelimit": {
                "$ref": "#/components/headers/RateLimit"
              },
              "RateLimitPolicy": {
                "$ref": "#/components/headers/RateLimitPolicy"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Board"
                  }
                },
                "examples": {
                  "Mixed Board Types": {
                    "value": [
                      {
                        "id": "abc123",
                        "name": "Production Monitoring",
                        "description": "Key metrics for production environment",
                        "type": "flexible",
                        "panels": [
                          {
                            "type": "query",
                            "query_panel": {
                              "query_id": "ghi9012a",
                              "query_annotation_id": "f5e6d7c8"
                            },
                            "position": {
                              "x_coordinate": 0,
                              "y_coordinate": 0,
                              "height": 6,
                              "width": 12
                            }
                          },
                          {
                            "type": "text",
                            "text_panel": {
                              "content": "# Production Status\n\nAll systems operational"
                            },
                            "position": {
                              "x_coordinate": 0,
                              "y_coordinate": 6,
                              "height": 2,
                              "width": 12
                            }
                          }
                        ],
                        "layout_generation": "manual",
                        "tags": [
                          {
                            "key": "environment",
                            "value": "production"
                          }
                        ]
                      },
                      {
                        "id": "def456",
                        "name": "Service Health Dashboard",
                        "description": "SLO monitoring for critical services",
                        "type": "flexible",
                        "panels": [
                          {
                            "type": "slo",
                            "slo_panel": {
                              "slo_id": "dF1URaPGL"
                            }
                          },
                          {
                            "type": "query",
                            "query_panel": {
                              "query_id": "jkl3456b",
                              "query_annotation_id": "b9c8d7e6",
                              "dataset": "api-logs"
                            }
                          }
                        ],
                        "layout_generation": "auto",
                        "tags": [
                          {
                            "key": "team",
                            "value": "platform"
                          }
                        ]
                      }
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "default": {
            "$ref": "#/components/responses/GenericError"
          }
        }
      }
    },
    "/1/boards/{boardId}": {
      "parameters": [
        {
          "name": "boardId",
          "description": "The unique identifier (ID) of a Board.",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "security": [
          {
            "configuration_key": []
          }
        ],
        "summary": "Get a Board",
        "description": "Get a single Board by ID.",
        "tags": [
          "Boards"
        ],
        "operationId": "getBoard",
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "Ratelimit": {
                "$ref": "#/components/headers/RateLimit"
              },
              "RateLimitPolicy": {
                "$ref": "#/components/headers/RateLimitPolicy"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Board"
                },
                "examples": {
                  "Flexible Board with All Panel Types": {
                    "value": {
                      "id": "board789",
                      "name": "Comprehensive Dashboard",
                      "description": "Complete monitoring setup with all panel types",
                      "type": "flexible",
                      "panels": [
                        {
                          "type": "query",
                          "query_panel": {
                            "query_id": "stu5678e",
                            "query_annotation_id": "e9f8g7h6",
                            "dataset": "application-logs"
                          },
                          "position": {
                            "x_coordinate": 0,
                            "y_coordinate": 0,
                            "height": 8,
                            "width": 8
                          }
                        },
                        {
                          "type": "slo",
                          "slo_panel": {
                            "slo_id": "BGfyxhFto"
                          },
                          "position": {
                            "x_coordinate": 8,
                            "y_coordinate": 0,
                            "height": 4,
                            "width": 4
                          }
                        },
                        {
                          "type": "text",
                          "text_panel": {
                            "content": "## Alert Status\n\n🟢 All systems normal\n\n**Last updated:** 2024-01-15 14:30 UTC"
                          },
                          "position": {
                            "x_coordinate": 8,
                            "y_coordinate": 4,
                            "height": 4,
                            "width": 4
                          }
                        }
                      ],
                      "layout_generation": "manual",
                      "tags": [
                        {
                          "key": "criticality",
                          "value": "high"
                        },
                        {
                          "key": "owner",
                          "value": "sre-team"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "default": {
            "$ref": "#/components/responses/GenericError"
          }
        }
      },
      "put": {
        "security": [
          {
            "configuration_key": []
          }
        ],
        "summary": "Update a Board",
        "description": "Update a Board by specifying its ID and full details.\n**Note**: Queries can be added to, removed from, and re-ordered by updating the board itself. It is not possible to reference individual queries via the API.\n**Note**: Each board is limited to a maximum of 5 preset filters. Attempting to update a board with more than 5 preset filters will result in an error.\n",
        "tags": [
          "Boards"
        ],
        "operationId": "updateBoard",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Board"
              },
              "examples": {
                "Add New Panel to Existing Board": {
                  "value": {
                    "id": "board456",
                    "name": "Updated Production Dashboard",
                    "description": "Production monitoring with additional SLO panel",
                    "type": "flexible",
                    "panels": [
                      {
                        "type": "query",
                        "query_panel": {
                          "query_id": "cdef7890",
                          "query_annotation_id": "h9i8j7k6"
                        },
                        "position": {
                          "x_coordinate": 0,
                          "y_coordinate": 0,
                          "height": 6,
                          "width": 6
                        }
                      },
                      {
                        "type": "slo",
                        "slo_panel": {
                          "slo_id": "BGfyxhFto"
                        },
                        "position": {
                          "x_coordinate": 6,
                          "y_coordinate": 0,
                          "height": 6,
                          "width": 6
                        }
                      },
                      {
                        "type": "text",
                        "text_panel": {
                          "content": "## Recent Changes\n\n- Added SLO monitoring\n- Updated query filters"
                        },
                        "position": {
                          "x_coordinate": 0,
                          "y_coordinate": 6,
                          "height": 3,
                          "width": 12
                        }
                      }
                    ],
                    "layout_generation": "manual",
                    "tags": [
                      {
                        "key": "environment",
                        "value": "production"
                      },
                      {
                        "key": "updated_by",
                        "value": "api"
                      }
                    ]
                  }
                },
                "Reorganize Panel Layout": {
                  "value": {
                    "id": "board789",
                    "name": "Service Metrics Reorganized",
                    "description": "Restructured layout for better visibility",
                    "type": "flexible",
                    "panels": [
                      {
                        "type": "query",
                        "query_panel": {
                          "query_id": "ghij1234",
                          "query_annotation_id": "i1j2k3l4",
                          "dataset": "service-metrics"
                        }
                      },
                      {
                        "type": "query",
                        "query_panel": {
                          "query_id": "klmn5678",
                          "query_annotation_id": "j5k6l7m8",
                          "dataset": "error-logs"
                        }
                      },
                      {
                        "type": "text",
                        "text_panel": {
                          "content": "# Service Health Overview\n\nMonitoring key performance indicators"
                        }
                      }
                    ],
                    "layout_generation": "auto",
                    "tags": [
                      {
                        "key": "team",
                        "value": "backend"
                      }
                    ]
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "Ratelimit": {
                "$ref": "#/components/headers/RateLimit"
              },
              "RateLimitPolicy": {
                "$ref": "#/components/headers/RateLimitPolicy"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Board"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/ValidationFailed"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "default": {
            "$ref": "#/components/responses/GenericError"
          }
        }
      },
      "delete": {
        "security": [
          {
            "configuration_key": []
          }
        ],
        "summary": "Delete a Board",
        "description": "Delete a public Board by specifying its ID.",
        "tags": [
          "Boards"
        ],
        "operationId": "deleteBoard",
        "responses": {
          "204": {
            "description": "Success - no Content",
            "headers": {
              "Ratelimit": {
                "$ref": "#/components/headers/RateLimit"
              },
              "RateLimitPolicy": {
                "$ref": "#/components/headers/RateLimitPolicy"
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "default": {
            "$ref": "#/components/responses/GenericError"
          }
        }
      }
    },
    "/1/boards/{boardId}/views": {
      "parameters": [
        {
          "name": "boardId",
          "description": "The unique identifier (ID) of a Board.",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "security": [
          {
            "configuration_key": []
          }
        ],
        "summary": "List Board Views",
        "description": "Retrieve a list of all views for a board.\n**Note**: Each board is limited to a maximum of 50 views.\n",
        "tags": [
          "Boards"
        ],
        "operationId": "listBoardViews",
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "Ratelimit": {
                "$ref": "#/components/headers/RateLimit"
              },
              "RateLimitPolicy": {
                "$ref": "#/components/headers/RateLimitPolicy"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "maxItems": 50,
                  "items": {
                    "$ref": "#/components/schemas/BoardViewResponse"
                  }
                },
                "examples": {
                  "Multiple Views": {
                    "value": [
                      {
                        "id": "eC_abc123",
                        "name": "Errors View",
                        "filters": [
                          {
                            "column": "status",
                            "operation": "=",
                            "value": "error"
                          }
                        ]
                      },
                      {
                        "id": "yc_def456",
                        "name": "Slow requests view",
                        "filters": [
                          {
                            "column": "duration_ms",
                            "operation": ">",
                            "value": 1000
                          }
                        ]
                      }
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "default": {
            "$ref": "#/components/responses/GenericError"
          }
        }
      },
      "post": {
        "security": [
          {
            "configuration_key": []
          }
        ],
        "summary": "Create a Board View",
        "description": "Create a new view for a board with the specified filters.\n**Note**: Each board is limited to a maximum of 50 views. Attempting to create more than 50 views will result in an error.\n",
        "tags": [
          "Boards"
        ],
        "operationId": "createBoardView",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBoardViewRequest"
              },
              "examples": {
                "Create board view for error statuses": {
                  "value": {
                    "name": "Errors View",
                    "filters": [
                      {
                        "column": "status",
                        "operation": "=",
                        "value": "error"
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "headers": {
              "Ratelimit": {
                "$ref": "#/components/headers/RateLimit"
              },
              "RateLimitPolicy": {
                "$ref": "#/components/headers/RateLimitPolicy"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BoardViewResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/ValidationFailed"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "default": {
            "$ref": "#/components/responses/GenericError"
          }
        }
      }
    },
    "/1/boards/{boardId}/views/{viewId}": {
      "parameters": [
        {
          "name": "boardId",
          "description": "The unique identifier (ID) of a Board.",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "viewId",
          "description": "The unique identifier (ID) of a Board View.",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "security": [
          {
            "configuration_key": []
          }
        ],
        "summary": "Get a Board View",
        "description": "Retrieve a single Board View by ID.",
        "tags": [
          "Boards"
        ],
        "operationId": "getBoardView",
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "Ratelimit": {
                "$ref": "#/components/headers/RateLimit"
              },
              "RateLimitPolicy": {
                "$ref": "#/components/headers/RateLimitPolicy"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BoardViewResponse"
                },
                "examples": {
                  "Single View with Multiple Filters": {
                    "value": {
                      "id": "eC_abc123",
                      "name": "Api and web slow requests errors",
                      "filters": [
                        {
                          "column": "status",
                          "operation": "=",
                          "value": "error"
                        },
                        {
                          "column": "duration_ms",
                          "operation": ">",
                          "value": 100
                        },
                        {
                          "column": "service",
                          "operation": "in",
                          "value": [
                            "api",
                            "web"
                          ]
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "default": {
            "$ref": "#/components/responses/GenericError"
          }
        }
      },
      "delete": {
        "security": [
          {
            "configuration_key": []
          }
        ],
        "summary": "Delete a Board View",
        "description": "Delete a Board View by specifying its ID.",
        "tags": [
          "Boards"
        ],
        "operationId": "deleteBoardView",
        "responses": {
          "204": {
            "description": "Success - no Content",
            "headers": {
              "Ratelimit": {
                "$ref": "#/components/headers/RateLimit"
              },
              "RateLimitPolicy": {
                "$ref": "#/components/headers/RateLimitPolicy"
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "default": {
            "$ref": "#/components/responses/GenericError"
          }
        }
      },
      "put": {
        "security": [
          {
            "configuration_key": []
          }
        ],
        "summary": "Update a Board View",
        "description": "Update a Board View by specifying its ID and full details.",
        "tags": [
          "Boards"
        ],
        "operationId": "updateBoardView",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateBoardViewRequest"
              },
              "examples": {
                "Update board view for error statuses": {
                  "value": {
                    "name": "Errors View",
                    "filters": [
                      {
                        "column": "status",
                        "operation": "=",
                        "value": "error"
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "Ratelimit": {
                "$ref": "#/components/headers/RateLimit"
              },
              "RateLimitPolicy": {
                "$ref": "#/components/headers/RateLimitPolicy"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BoardViewResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/ValidationFailed"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "default": {
            "$ref": "#/components/responses/GenericError"
          }
        }
      }
    },
    "/1/maps/dependencies/requests": {
      "post": {
        "security": [
          {
            "configuration_key": []
          }
        ],
        "summary": "Create a Map Dependency Request",
        "description": "Create a Map Dependency Request.\n",
        "tags": [
          "Service Maps"
        ],
        "operationId": "createMapDependencyRequest",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of dependencies to return. Default is 10000, maximum is 64000.\n",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 64000,
              "default": 10000
            },
            "example": 5000
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateMapDependenciesRequest"
              },
              "examples": {
                "Get all depenedencies for last 2 hours for the user-service": {
                  "value": {
                    "time_range": 7200,
                    "filters": [
                      {
                        "name": "user-service",
                        "type": "service"
                      }
                    ]
                  }
                },
                "Get dependencies for last 1 day starting from 2025-07-01": {
                  "value": {
                    "time_range": 86400,
                    "start_time": 1751328000
                  }
                }
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "Success - Results are ready or request has failed (see `status` field)",
            "headers": {
              "Ratelimit": {
                "$ref": "#/components/headers/RateLimit"
              },
              "RateLimitPolicy": {
                "$ref": "#/components/headers/RateLimitPolicy"
              },
              "Location": {
                "schema": {
                  "type": "string"
                },
                "description": "The Location header will contain the URL where the results can be fetched.",
                "example": "https://api.honeycomb.io/1/maps/dependencies/requests/HprJhV1fYyr"
              },
              "Last-Modified": {
                "schema": {
                  "type": "string"
                },
                "description": "The Last-Modified response HTTP header contains a date and time when the origin server believes the resource was last modified."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateMapDependenciesResponse"
                }
              }
            }
          },
          "201": {
            "description": "Created - Request is pending",
            "headers": {
              "Ratelimit": {
                "$ref": "#/components/headers/RateLimit"
              },
              "RateLimitPolicy": {
                "$ref": "#/components/headers/RateLimitPolicy"
              },
              "Location": {
                "schema": {
                  "type": "string"
                },
                "description": "The Location header will contain the URL where the results can be fetched.",
                "example": "https://api.honeycomb.io/1/maps/dependencies/requests/HprJhV1fYyr"
              },
              "Last-Modified": {
                "schema": {
                  "type": "string"
                },
                "description": "The Last-Modified response HTTP header contains a date and time when the origin server believes the resource was last modified."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateMapDependenciesResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/ValidationFailed"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "default": {
            "$ref": "#/components/responses/GenericError"
          }
        }
      }
    },
    "/1/maps/dependencies/requests/{requestId}": {
      "parameters": [
        {
          "name": "requestId",
          "description": "The unique identifier (ID) of a Map Dependencies Request.",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "security": [
          {
            "configuration_key": []
          }
        ],
        "summary": "Get Map Dependencies",
        "description": "Get the dependencies for a previously created Map Dependencies Request. Note: This endpoint returns a single page of results and uses pagination. Even if you specified a large limit in the initial POST request, you will receive up to the page size limit per request and must use the pagination links to retrieve additional results.\n",
        "tags": [
          "Service Maps"
        ],
        "operationId": "getMapDependencies",
        "parameters": [
          {
            "$ref": "#/components/parameters/PaginationCursor"
          },
          {
            "$ref": "#/components/parameters/PaginationSize"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "Ratelimit": {
                "$ref": "#/components/headers/RateLimit"
              },
              "RateLimitPolicy": {
                "$ref": "#/components/headers/RateLimitPolicy"
              },
              "Last-Modified": {
                "schema": {
                  "type": "string"
                },
                "description": "The Last-Modified response HTTP header contains a date and time when the origin server believes the resource was last modified."
              },
              "Cache-Control": {
                "schema": {
                  "type": "string"
                },
                "description": "Cache-Control header is set for ready responses."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetMapDependenciesResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/ValidationFailed"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "default": {
            "$ref": "#/components/responses/GenericError"
          }
        }
      }
    },
    "/1/burn_alerts/{datasetSlug}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/datasetSlugOrAll"
        }
      ],
      "post": {
        "security": [
          {
            "configuration_key": []
          }
        ],
        "summary": "Create a Burn Alert",
        "description": "Create a Burn Alert against a specified SLO.\n",
        "tags": [
          "Burn Alerts"
        ],
        "operationId": "createBurnAlert",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBurnAlertRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "headers": {
              "Ratelimit": {
                "$ref": "#/components/headers/RateLimit"
              },
              "RateLimitPolicy": {
                "$ref": "#/components/headers/RateLimitPolicy"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BurnAlertDetailResponse"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/ValidationFailed"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "default": {
            "$ref": "#/components/responses/GenericError"
          }
        },
        "parameters": [
          {
            "name": "datasetSlug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "get": {
        "security": [
          {
            "configuration_key": []
          }
        ],
        "summary": "List All Burn Alerts for an SLO",
        "description": "Get all burn alerts associated with the SLO specified in the `slo_id` query param. It is not currently possible to retrieve all burn alerts for a dataset, environment, or team.\n",
        "tags": [
          "Burn Alerts"
        ],
        "operationId": "listBurnAlertsBySlo",
        "parameters": [
          {
            "in": "query",
            "name": "slo_id",
            "schema": {
              "type": "string"
            },
            "description": "For use with the list endpoint to retrieve all burn alerts for a specified SLO.",
            "required": true
          },
          {
            "name": "datasetSlug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "Ratelimit": {
                "$ref": "#/components/headers/RateLimit"
              },
              "RateLimitPolicy": {
                "$ref": "#/components/headers/RateLimitPolicy"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BurnAlertListResponse"
                  },
                  "example": [
                    {
                      "id": "fS7vfB81Wcy",
                      "alert_type": "exhaustion_time",
                      "description": "Use this runbook (link) if this alert fires.",
                      "triggered": true,
                      "exhaustion_minutes": 120,
                      "slo": {
                        "id": "2LBq9LckbcA"
                      },
                      "created_at": "2022-09-22T17:32:11Z",
                      "updated_at": "2022-10-22T17:32:11Z"
                    },
                    {
                      "id": "gT7wgC82Xcz",
                      "alert_type": "budget_rate",
                      "description": "Use this runbook (link) if this alert fires.",
                      "triggered": true,
                      "budget_rate_window_minutes": 60,
                      "budget_rate_decrease_threshold_per_million": 1000,
                      "slo": {
                        "id": "2LBq9LckbcA"
                      },
                      "created_at": "2022-09-22T17:32:11Z",
                      "updated_at": "2022-10-22T17:32:11Z"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/ValidationFailed"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "default": {
            "$ref": "#/components/responses/GenericError"
          }
        }
      }
    },
    "/1/burn_alerts/{datasetSlug}/{burnAlertId}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/datasetSlugOrAll"
        },
        {
          "name": "burnAlertId",
          "description": "The unique identifier (ID) of a Burn Alert.",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "security": [
          {
            "configuration_key": []
          }
        ],
        "summary": "Get a Burn Alert",
        "description": "Get a single Burn Alert by ID.\n",
        "tags": [
          "Burn Alerts"
        ],
        "operationId": "getBurnAlert",
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "Ratelimit": {
                "$ref": "#/components/headers/RateLimit"
              },
              "RateLimitPolicy": {
                "$ref": "#/components/headers/RateLimitPolicy"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BurnAlertDetailResponse"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/ValidationFailed"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "default": {
            "$ref": "#/components/responses/GenericError"
          }
        },
        "parameters": [
          {
            "name": "datasetSlug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "put": {
        "security": [
          {
            "configuration_key": []
          }
        ],
        "summary": "Update a Burn Alert",
        "description": "Update a Burn Alert by specifying its ID and full details.\n",
        "tags": [
          "Burn Alerts"
        ],
        "operationId": "updateBurnAlert",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateBurnAlertRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "Ratelimit": {
                "$ref": "#/components/headers/RateLimit"
              },
              "RateLimitPolicy": {
                "$ref": "#/components/headers/RateLimitPolicy"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BurnAlertDetailResponse"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/ValidationFailed"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "default": {
            "$ref": "#/components/responses/GenericError"
          }
        },
        "parameters": [
          {
            "name": "datasetSlug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "delete": {
        "security": [
          {
            "configuration_key": []
          }
        ],
        "summary": "Delete a Burn Alert",
        "description": "Delete a Burn Alert by specifying its ID.",
        "tags": [
          "Burn Alerts"
        ],
        "operationId": "deleteBurnAlert",
        "responses": {
          "204": {
            "description": "Success - no content"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "default": {
            "$ref": "#/components/responses/GenericError"
          }
        },
        "parameters": [
          {
            "name": "datasetSlug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/1/datasets": {
      "post": {
        "security": [
          {
            "configuration_key": []
          }
        ],
        "summary": "Create a Dataset",
        "description": "Create a Dataset in the environment associated with your API key.\nIf a Dataset already exists by that name (or slug), then the existing dataset will be returned.\n",
        "tags": [
          "Datasets"
        ],
        "operationId": "createDataset",
        "requestBody": {
          "description": "The dataset will be created within the environment associated with your API key.\n",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DatasetCreationPayload"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK - Dataset already exists",
            "headers": {
              "Ratelimit": {
                "$ref": "#/components/headers/RateLimit"
              },
              "RateLimitPolicy": {
                "$ref": "#/components/headers/RateLimitPolicy"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Dataset"
                }
              }
            }
          },
          "201": {
            "description": "Created",
            "headers": {
              "Ratelimit": {
                "$ref": "#/components/headers/RateLimit"
              },
              "RateLimitPolicy": {
                "$ref": "#/components/headers/RateLimitPolicy"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Dataset"
                },
                "example": {
                  "name": "MyDataset!",
                  "slug": "mydataset-",
                  "description": "A nice description of my dataset",
                  "expand_json_depth": 3,
                  "created_at": "2022-07-21T18:39:23+00:00",
                  "last_written_at": null,
                  "regular_columns_count": 0
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "description": "Conflict",
            "headers": {
              "Ratelimit": {
                "$ref": "#/components/headers/RateLimit"
              },
              "RateLimitPolicy": {
                "$ref": "#/components/headers/RateLimitPolicy"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "we could not create a dataset with that name"
                }
              },
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/DetailedError"
                },
                "example": {
                  "status": 409,
                  "type": "https://api.honeycomb.io/problems/conflict",
                  "title": "Request could not be completed due to a conflict with the current state of the target resource.",
                  "detail": "environment has reached the maximum number of datasets allowed",
                  "error": "environment has reached the maximum number of datasets allowed"
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ValidationFailed"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "default": {
            "$ref": "#/components/responses/GenericError"
          }
        }
      },
      "get": {
        "security": [
          {
            "configuration_key": []
          }
        ],
        "summary": "List All Datasets",
        "description": "Lists all Datasets for an environment.\n**Note**: For Honeycomb Classic users, all datasets in Classic are returned.\n",
        "tags": [
          "Datasets"
        ],
        "operationId": "listDatasets",
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "Ratelimit": {
                "$ref": "#/components/headers/RateLimit"
              },
              "RateLimitPolicy": {
                "$ref": "#/components/headers/RateLimitPolicy"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Dataset"
                  }
                },
                "example": [
                  {
                    "name": "my dataset!",
                    "description": "my dataset described!",
                    "slug": "my-dataset-",
                    "expand_json_depth": 2,
                    "created_at": "2022-07-21T18:39:23Z",
                    "last_written_at": "2022-07-22T19:52:00Z",
                    "regular_columns_count": 12
                  },
                  {
                    "name": "another dataset",
                    "description": "",
                    "slug": "another-dataset",
                    "expand_json_depth": 0,
                    "created_at": "2022-07-21T18:39:23Z",
                    "last_written_at": "2022-07-22T19:52:00Z",
                    "regular_columns_count": 98
                  }
                ]
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "default": {
            "$ref": "#/components/responses/GenericError"
          }
        }
      }
    },
    "/1/datasets/{datasetSlug}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/datasetSlug"
        }
      ],
      "get": {
        "security": [
          {
            "configuration_key": []
          }
        ],
        "summary": "Get a Dataset",
        "description": "Get a single Dataset by slug.\n",
        "tags": [
          "Datasets"
        ],
        "operationId": "getDataset",
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "Ratelimit": {
                "$ref": "#/components/headers/RateLimit"
              },
              "RateLimitPolicy": {
                "$ref": "#/components/headers/RateLimitPolicy"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Dataset"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "default": {
            "$ref": "#/components/responses/GenericError"
          }
        },
        "parameters": [
          {
            "name": "datasetSlug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "delete": {
        "security": [
          {
            "configuration_key": []
          }
        ],
        "summary": "Delete a Dataset",
        "description": "Deletes the Dataset. This is an irreversible operation.\nIt may take several minutes for the deletion process to complete.\n\n\n**WARNING**: This endpoint will allow anyone with an API key that has the\nmanage dataset permission to delete any dataset in the environment (or\nany dataset in the whole team for Classic customers).\n\n\nDatasets with Deletion Protection enabled cannot be deleted.\n\nTo delete a Dataset with Deletion Protection enabled, first disable Deletion Protection by updating the Dataset with `settings.delete_protected = false`.\n",
        "tags": [
          "Datasets"
        ],
        "operationId": "deleteDataset",
        "responses": {
          "202": {
            "description": "Deleted",
            "headers": {
              "Ratelimit": {
                "$ref": "#/components/headers/RateLimit"
              },
              "RateLimitPolicy": {
                "$ref": "#/components/headers/RateLimitPolicy"
              }
            },
            "content": {
              "application/json": {}
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "default": {
            "$ref": "#/components/responses/GenericError"
          }
        },
        "parameters": [
          {
            "name": "datasetSlug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "put": {
        "security": [
          {
            "configuration_key": []
          }
        ],
        "summary": "Update a Dataset",
        "description": "Update a Dataset's settings.\n",
        "tags": [
          "Datasets"
        ],
        "operationId": "updateDataset",
        "requestBody": {
          "description": "Update a Dataset's settings.\nAll fields must be specified, as omitting one will have the effect of reverting the setting to the default.\n",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DatasetUpdatePayload"
              },
              "example": {
                "expand_json_depth": 3,
                "description": "my updated description",
                "settings": {
                  "delete_protected": false
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated",
            "headers": {
              "Ratelimit": {
                "$ref": "#/components/headers/RateLimit"
              },
              "RateLimitPolicy": {
                "$ref": "#/components/headers/RateLimitPolicy"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Dataset"
                },
                "example": {
                  "name": "My Dataset!",
                  "slug": "my-dataset-",
                  "description": "my updated description",
                  "settings": {
                    "delete_protected": false
                  },
                  "expand_json_depth": 3,
                  "created_at": "2022-07-21T18:39:23Z",
                  "last_written_at": "2022-09-22T17:32:03Z",
                  "regular_columns_count": 100
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "parameters": [
          {
            "name": "datasetSlug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/1/batch/{datasetSlug}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/datasetSlug"
        }
      ],
      "post": {
        "security": [
          {
            "configuration_key": []
          },
          {
            "ingest_key": []
          }
        ],
        "summary": "Create Events",
        "description": "Supports batch creation of events.\n\nDataset names are case insensitive. `POST` requests to \"MyDatasET\" will land in the same dataset as \"mydataset\". Names may contain URL-encoded spaces or other special characters, but not URL-encoded slashes. For example, \"My%20Dataset\" will show up in the UI as \"My Dataset\".\n\nThe first event received for a dataset determines the casing of the displayed name. All subsequent variations in casing will use the originally specified case.\n",
        "tags": [
          "Events"
        ],
        "operationId": "createEvents",
        "parameters": [
          {
            "in": "header",
            "name": "Content-Encoding",
            "description": "Included when sending events in a file. Size limitations may be addressed by compressing request bodies with gzip or zstd compression. Be sure to set the Content-Encoding to `gzip` or `zstd` when compressing the request body. If sending plaintext, omit this header; \"plaintext\" is included to simplify the example with curl.\n",
            "schema": {
              "type": "string",
              "enum": [
                "gzip",
                "zstd"
              ]
            },
            "example": "plaintext"
          },
          {
            "name": "datasetSlug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "description": "The array should contain one or more JSON objects representing Events. Each Event contains its payload under the `data` key. Values of `time` and/or `samplerate` can be included as well.\n\nThe JSON payload should have the structure:\n\n  `[{ \"data\": { \"key1\": \"value1\", \"key2\": 2.0 } }, ... ]`\n\nSize limitations may be addressed by compressing request bodies with `gzip` or `zstd` compression.\n\nAn empty `202` response indicates that the event has been queued for processing.\n",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/BatchEvent"
                }
              },
              "example": [
                {
                  "time": "2006-01-02T15:04:05.99Z",
                  "samplerate": 1,
                  "data": {
                    "method": "GET",
                    "endpoint": "/foo",
                    "shard": "users",
                    "duration_ms": 32
                  }
                },
                {
                  "time": "2006-01-02T15:04:05.99Z",
                  "data": {
                    "some_other_key": "value",
                    "duration_ms": 40
                  }
                }
              ]
            },
            "application/octet-stream": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Enqueued for processing",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "status": {
                        "type": "number"
                      },
                      "error": {
                        "type": "string"
                      }
                    }
                  }
                },
                "example": [
                  {
                    "status": 202
                  },
                  {
                    "status": 400,
                    "error": "Request body should not be empty."
                  },
                  {
                    "status": 400,
                    "error": "Event has too many columns."
                  },
                  {
                    "status": 400,
                    "error": "Request body is malformed and cannot be read."
                  }
                ]
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "not-empty": {
                    "description": "The body is empty, or blank.",
                    "value": {
                      "error": "Request body should not be empty."
                    }
                  },
                  "dataset-too-many-columns": {
                    "description": "The dataset has reached the maximum number of columns.",
                    "value": {
                      "error": "Dataset has too many columns."
                    }
                  },
                  "malformed-request": {
                    "description": "The API failed to decode the body as JSON.",
                    "value": {
                      "error": "Request body is malformed and cannot be read."
                    }
                  },
                  "too-large": {
                    "description": "The body is too large.",
                    "value": {
                      "error": "Request body is too large."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "Dropped due to administrative throttling",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "Event dropped due to administrative throttling"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "description": "Dropped due to rate limiting",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "rate-limiting": {
                    "value": {
                      "error": "Request dropped due to rate limiting."
                    }
                  },
                  "deny-list": {
                    "value": {
                      "error": "Event dropped due to administrative denylist"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/1/dataset_definitions/{datasetSlug}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/datasetSlug"
        }
      ],
      "patch": {
        "security": [
          {
            "configuration_key": []
          }
        ],
        "summary": "Set or Update Dataset Definitions",
        "description": "Set or update one or more definitions for a Dataset.\n**Note**: While the PATCH payload can include the `column_type`, Honeycomb does not use this field when updating Dataset Definitions.\n",
        "tags": [
          "Dataset Definitions"
        ],
        "operationId": "patchDatasetDefinitions",
        "requestBody": {
          "description": "The PATCH payload takes a map of Dataset definition type to Dataset definition. Fields not defined in the request are not modified on the server.\n**Note**: In order to **CLEAR** a column of a Dataset definition set the column’s name field to an empty string.\n",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DatasetDefinitions"
              },
              "examples": {
                "setting": {
                  "description": "Set the duration_ms definition.",
                  "value": {
                    "duration_ms": {
                      "name": "duration_we_send",
                      "column_type": "derived_column"
                    }
                  }
                },
                "clearing": {
                  "description": "Clear the definitions.",
                  "value": {
                    "error": {
                      "name": ""
                    },
                    "link_trace_id": {
                      "name": ""
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Dataset Definitions have been updated",
            "headers": {
              "Ratelimit": {
                "$ref": "#/components/headers/RateLimit"
              },
              "RateLimitPolicy": {
                "$ref": "#/components/headers/RateLimitPolicy"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DatasetDefinitions"
                },
                "example": {
                  "duration_ms": {
                    "name": "duration_ms",
                    "column_type": "column"
                  },
                  "error": null,
                  "name": null,
                  "parent_id": null,
                  "route": null,
                  "service_name": null,
                  "span_id": {
                    "name": "my_span_id",
                    "column_type": "column"
                  },
                  "span_kind": null,
                  "annotation_type": null,
                  "link_trace_id": null,
                  "link_span_id": null,
                  "status": null,
                  "trace_id": null,
                  "user": null,
                  "log_severity": null,
                  "log_message": null
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "headers": {
              "Ratelimit": {
                "$ref": "#/components/headers/RateLimit"
              },
              "RateLimitPolicy": {
                "$ref": "#/components/headers/RateLimitPolicy"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DetailedError"
                },
                "example": {
                  "status": 400,
                  "type": "https://api.honeycomb.io/problems/unparseable",
                  "title": "The request body could not be parsed.",
                  "detail": "could not parse request body",
                  "error": "could not parse request body"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "description": "422 Unprocessable Entity",
            "headers": {
              "Ratelimit": {
                "$ref": "#/components/headers/RateLimit"
              },
              "RateLimitPolicy": {
                "$ref": "#/components/headers/RateLimitPolicy"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "The following columns were not found: duration_we_send"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "datasetSlug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "get": {
        "security": [
          {
            "configuration_key": []
          }
        ],
        "summary": "Get all Dataset Definitions",
        "description": "Get all definitions for a Dataset.\nThe response returns an object with a Dataset Definition for each set Dataset Definition type.\n",
        "tags": [
          "Dataset Definitions"
        ],
        "operationId": "listDatasetDefinitions",
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "Ratelimit": {
                "$ref": "#/components/headers/RateLimit"
              },
              "RateLimitPolicy": {
                "$ref": "#/components/headers/RateLimitPolicy"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DatasetDefinitions"
                },
                "example": {
                  "duration_ms": {
                    "name": "duration_ms",
                    "column_type": "column"
                  },
                  "error": null,
                  "name": null,
                  "parent_id": null,
                  "route": null,
                  "service_name": null,
                  "span_id": {
                    "name": "my_span_id",
                    "column_type": "column"
                  },
                  "span_kind": null,
                  "annotation_type": null,
                  "link_trace_id": null,
                  "link_span_id": null,
                  "status": null,
                  "trace_id": null,
                  "user": null,
                  "log_severity": null,
                  "log_message": null
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "parameters": [
          {
            "name": "datasetSlug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/1/events/{datasetSlug}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/datasetSlug"
        }
      ],
      "post": {
        "security": [
          {
            "configuration_key": []
          },
          {
            "ingest_key": []
          }
        ],
        "summary": "Create an Event",
        "description": "Using this endpoint for anything more than testing is highly discouraged.\n\nSending events in batches will be much more efficient and should be preferred if at all possible.\n",
        "tags": [
          "Events"
        ],
        "operationId": "createEvent",
        "parameters": [
          {
            "in": "header",
            "name": "X-Honeycomb-Event-Time",
            "description": "The Event's timestamp. Optional. Defaults to server time.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "header",
            "name": "X-Honeycomb-Samplerate",
            "description": "Optional. Defaults to 1.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "datasetSlug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The request body is limited to raw (potentially compressed) size of 1MB.\n\nThe maximum number of distinct columns (fields) allowed in an event is `2000`.\n",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Event"
              },
              "example": {
                "method": "GET",
                "endpoint": "/foo",
                "shard": "users",
                "duration_ms": 32
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Enqueued for processing"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "not-empty": {
                    "description": "The body is empty, or blank.",
                    "value": {
                      "error": "Request body should not be empty."
                    }
                  },
                  "dataset-too-many-columns": {
                    "description": "The dataset has reached the maximum number of columns.",
                    "value": {
                      "error": "Dataset has too many columns."
                    }
                  },
                  "events-too-many-columns": {
                    "description": "The event has reached the maximum number of columns.",
                    "value": {
                      "error": "Event has too many columns."
                    }
                  },
                  "malformed-request": {
                    "description": "The API failed to decode the body as JSON.",
                    "value": {
                      "error": "Request body is malformed and cannot be read."
                    }
                  },
                  "too-large": {
                    "description": "The body is too large.",
                    "value": {
                      "error": "Request body is too large."
                    }
[...]
