{
  "openapi": "3.0.3",
  "info": {
    "title": "Fulcrum API",
    "description": "Fulcrum is a mobile data collection platform. The REST API allows you to programmatically manage records, forms, projects, and other objects.",
    "version": "2.0.0",
    "contact": {
      "name": "Fulcrum",
      "url": "https://docs.fulcrumapp.com"
    },
    "x-jentic-source-url": "http://developer.fulcrumapp.com/api/intro/"
  },
  "servers": [
    {
      "url": "https://api.fulcrumapp.com",
      "description": "Fulcrum API v2"
    }
  ],
  "security": [
    {
      "ApiToken": []
    }
  ],
  "paths": {
    "/records": {
      "get": {
        "summary": "List records",
        "operationId": "listRecords",
        "tags": [
          "Records"
        ],
        "parameters": [
          {
            "name": "form_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "updated_since",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "records": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Record"
                      }
                    },
                    "current_page": {
                      "type": "integer"
                    },
                    "total_pages": {
                      "type": "integer"
                    },
                    "total_count": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        },
        "description": "List records"
      },
      "post": {
        "summary": "Create record",
        "operationId": "createRecord",
        "tags": [
          "Records"
        ],
        "parameters": [
          {
            "name": "x-skipworkflows",
            "in": "header",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "x-skipwebhooks",
            "in": "header",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "record"
                ],
                "properties": {
                  "record": {
                    "$ref": "#/components/schemas/RecordInput"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created"
          }
        },
        "description": "Create record"
      }
    },
    "/records/{id}": {
      "get": {
        "summary": "Get record",
        "operationId": "getRecord",
        "tags": [
          "Records"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "description": "Get record"
      },
      "put": {
        "summary": "Update record",
        "operationId": "updateRecord",
        "tags": [
          "Records"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-skipworkflows",
            "in": "header",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "x-skipwebhooks",
            "in": "header",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "record"
                ],
                "properties": {
                  "record": {
                    "$ref": "#/components/schemas/RecordInput"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "description": "Update record"
      },
      "delete": {
        "summary": "Delete record",
        "operationId": "deleteRecord",
        "tags": [
          "Records"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted"
          }
        },
        "description": "Delete record"
      }
    },
    "/records/{id}/history": {
      "get": {
        "summary": "Get record history",
        "operationId": "getRecordHistory",
        "tags": [
          "Records"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "description": "Get record history"
      }
    },
    "/forms": {
      "get": {
        "summary": "List forms",
        "operationId": "listForms",
        "tags": [
          "Forms"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "description": "List forms"
      },
      "post": {
        "summary": "Create form",
        "operationId": "createForm",
        "tags": [
          "Forms"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "form"
                ],
                "properties": {
                  "form": {
                    "$ref": "#/components/schemas/FormInput"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created"
          }
        },
        "description": "Create form"
      }
    },
    "/forms/{id}": {
      "get": {
        "summary": "Get form",
        "operationId": "getForm",
        "tags": [
          "Forms"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "description": "Get form"
      },
      "put": {
        "summary": "Update form",
        "operationId": "updateForm",
        "tags": [
          "Forms"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "form"
                ],
                "properties": {
                  "form": {
                    "$ref": "#/components/schemas/FormInput"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "description": "Update form"
      },
      "delete": {
        "summary": "Delete form",
        "operationId": "deleteForm",
        "tags": [
          "Forms"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted"
          }
        },
        "description": "Delete form"
      }
    },
    "/forms/{id}/history": {
      "get": {
        "summary": "Get form history",
        "operationId": "getFormHistory",
        "tags": [
          "Forms"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "description": "Get form history"
      }
    },
    "/projects": {
      "get": {
        "summary": "List projects",
        "operationId": "listProjects",
        "tags": [
          "Projects"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "description": "List projects"
      },
      "post": {
        "summary": "Create",
        "operationId": "createProjects",
        "tags": [
          "Projects"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created"
          }
        },
        "description": "Create"
      }
    },
    "/projects/{id}": {
      "get": {
        "summary": "Get",
        "operationId": "getProjects",
        "tags": [
          "Projects"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "description": "Get"
      },
      "put": {
        "summary": "Update",
        "operationId": "updateProjects",
        "tags": [
          "Projects"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "description": "Update"
      },
      "delete": {
        "summary": "Delete",
        "operationId": "deleteProjects",
        "tags": [
          "Projects"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted"
          }
        },
        "description": "Delete"
      }
    },
    "/choice_lists": {
      "get": {
        "summary": "List choice lists",
        "operationId": "listChoiceLists",
        "tags": [
          "Choice Lists"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "description": "List choice lists"
      },
      "post": {
        "summary": "Create",
        "operationId": "createChoiceLists",
        "tags": [
          "Choice Lists"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created"
          }
        },
        "description": "Create"
      }
    },
    "/choice_lists/{id}": {
      "get": {
        "summary": "Get",
        "operationId": "getChoiceLists",
        "tags": [
          "Choice Lists"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "description": "Get"
      },
      "put": {
        "summary": "Update",
        "operationId": "updateChoiceLists",
        "tags": [
          "Choice Lists"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "description": "Update"
      },
      "delete": {
        "summary": "Delete",
        "operationId": "deleteChoiceLists",
        "tags": [
          "Choice Lists"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted"
          }
        },
        "description": "Delete"
      }
    },
    "/classification_sets": {
      "get": {
        "summary": "List classification sets",
        "operationId": "listClassificationSets",
        "tags": [
          "Classification Sets"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "description": "List classification sets"
      },
      "post": {
        "summary": "Create",
        "operationId": "createClassificationSets",
        "tags": [
          "Classification Sets"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created"
          }
        },
        "description": "Create"
      }
    },
    "/classification_sets/{id}": {
      "get": {
        "summary": "Get",
        "operationId": "getClassificationSets",
        "tags": [
          "Classification Sets"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "description": "Get"
      },
      "put": {
        "summary": "Update",
        "operationId": "updateClassificationSets",
        "tags": [
          "Classification Sets"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "description": "Update"
      },
      "delete": {
        "summary": "Delete",
        "operationId": "deleteClassificationSets",
        "tags": [
          "Classification Sets"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted"
          }
        },
        "description": "Delete"
      }
    },
    "/webhooks": {
      "get": {
        "summary": "List webhooks",
        "operationId": "listWebhooks",
        "tags": [
          "Webhooks"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "description": "List webhooks"
      },
      "post": {
        "summary": "Create",
        "operationId": "createWebhooks",
        "tags": [
          "Webhooks"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created"
          }
        },
        "description": "Create"
      }
    },
    "/webhooks/{id}": {
      "get": {
        "summary": "Get",
        "operationId": "getWebhooks",
        "tags": [
          "Webhooks"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "description": "Get"
      },
      "put": {
        "summary": "Update",
        "operationId": "updateWebhooks",
        "tags": [
          "Webhooks"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "description": "Update"
      },
      "delete": {
        "summary": "Delete",
        "operationId": "deleteWebhooks",
        "tags": [
          "Webhooks"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted"
          }
        },
        "description": "Delete"
      }
    },
    "/layers": {
      "get": {
        "summary": "List layers",
        "operationId": "listLayers",
        "tags": [
          "Layers"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "description": "List layers"
      },
      "post": {
        "summary": "Create",
        "operationId": "createLayers",
        "tags": [
          "Layers"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created"
          }
        },
        "description": "Create"
      }
    },
    "/layers/{id}": {
      "get": {
        "summary": "Get",
        "operationId": "getLayers",
        "tags": [
          "Layers"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "description": "Get"
      },
      "put": {
        "summary": "Update",
        "operationId": "updateLayers",
        "tags": [
          "Layers"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "description": "Update"
      },
      "delete": {
        "summary": "Delete",
        "operationId": "deleteLayers",
        "tags": [
          "Layers"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted"
          }
        },
        "description": "Delete"
      }
    },
    "/groups": {
      "get": {
        "summary": "List groups",
        "operationId": "listGroups",
        "tags": [
          "Groups"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "description": "List groups"
      },
      "post": {
        "summary": "Create",
        "operationId": "createGroups",
        "tags": [
          "Groups"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created"
          }
        },
        "description": "Create"
      }
    },
    "/groups/{id}": {
      "get": {
        "summary": "Get",
        "operationId": "getGroups",
        "tags": [
          "Groups"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "description": "Get"
      },
      "put": {
        "summary": "Update",
        "operationId": "updateGroups",
        "tags": [
          "Groups"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "description": "Update"
      },
      "delete": {
        "summary": "Delete",
        "operationId": "deleteGroups",
        "tags": [
          "Groups"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted"
          }
        },
        "description": "Delete"
      }
    },
    "/authorizations": {
      "get": {
        "summary": "List authorizations",
        "operationId": "listAuthorizations",
        "tags": [
          "Authorizations"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "description": "List authorizations"
      },
      "post": {
        "summary": "Create",
        "operationId": "createAuthorizations",
        "tags": [
          "Authorizations"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created"
          }
        },
        "description": "Create"
      }
    },
    "/authorizations/{id}": {
      "get": {
        "summary": "Get",
        "operationId": "getAuthorizations",
        "tags": [
          "Authorizations"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "description": "Get"
      },
      "put": {
        "summary": "Update",
        "operationId": "updateAuthorizations",
        "tags": [
          "Authorizations"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "description": "Update"
      },
      "delete": {
        "summary": "Delete",
        "operationId": "deleteAuthorizations",
        "tags": [
          "Authorizations"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted"
          }
        },
        "description": "Delete"
      }
    },
    "/memberships": {
      "get": {
        "summary": "List memberships",
        "operationId": "listMemberships",
        "tags": [
          "Memberships"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "description": "List memberships"
      }
    },
    "/memberships/{id}": {
      "get": {
        "summary": "Get",
        "operationId": "getMemberships",
        "tags": [
          "Memberships"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "description": "Get"
      }
    },
    "/roles": {
      "get": {
        "summary": "List roles",
        "operationId": "listRoles",
        "tags": [
          "Roles"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "description": "List roles"
      }
    },
    "/roles/{id}": {
      "get": {
        "summary": "Get",
        "operationId": "getRoles",
        "tags": [
          "Roles"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "description": "Get"
      }
    },
    "/audit_logs": {
      "get": {
        "summary": "List audit logs",
        "operationId": "listAuditLogs",
        "tags": [
          "Audit Logs"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "description": "List audit logs"
      }
    },
    "/photos": {
      "get": {
        "summary": "List photos",
        "operationId": "listPhotos",
        "tags": [
          "Photos"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "description": "List photos"
      },
      "post": {
        "summary": "Upload photo",
        "operationId": "uploadPhoto",
        "tags": [
          "Photos"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "photo[access_key]": {
                    "type": "string"
                  },
                  "photo[file]": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Uploaded"
          }
        },
        "description": "Upload photo"
      }
    },
    "/photos/{id}": {
      "get": {
        "summary": "Get photos",
        "operationId": "getPhotos",
        "tags": [
          "Photos"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "description": "Get photos"
      }
    },
    "/videos": {
      "get": {
        "summary": "List videos",
        "operationId": "listVideos",
        "tags": [
          "Videos"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "description": "List videos"
      }
    },
    "/videos/{id}": {
      "get": {
        "summary": "Get videos",
        "operationId": "getVideos",
        "tags": [
          "Videos"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "description": "Get videos"
      }
    },
    "/audio": {
      "get": {
        "summary": "List audio",
        "operationId": "listAudio",
        "tags": [
          "Audio"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "description": "List audio"
      }
    },
    "/audio/{id}": {
      "get": {
        "summary": "Get audio",
        "operationId": "getAudio",
        "tags": [
          "Audio"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "description": "Get audio"
      }
    },
    "/signatures": {
      "get": {
        "summary": "List signatures",
        "operationId": "listSignatures",
        "tags": [
          "Signatures"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "description": "List signatures"
      }
    },
    "/signatures/{id}": {
      "get": {
        "summary": "Get signatures",
        "operationId": "getSignatures",
        "tags": [
          "Signatures"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "description": "Get signatures"
      }
    },
    "/changesets": {
      "get": {
        "summary": "List changesets",
        "operationId": "listChangesets",
        "tags": [
          "Changesets"
        ],
        "parameters": [
          {
            "name": "form_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "description": "List changesets"
      }
    },
    "/changesets/{id}": {
      "get": {
        "summary": "Get changeset",
        "operationId": "getChangeset",
        "tags": [
          "Changesets"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "description": "Get changeset"
      },
      "put": {
        "summary": "Close changeset",
        "operationId": "closeChangeset",
        "tags": [
          "Changesets"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Closed"
          }
        },
        "description": "Close changeset"
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiToken": {
        "type": "apiKey",
        "in": "header",
        "name": "X-ApiToken",
        "description": "Fulcrum API token."
      }
    },
    "schemas": {
      "Record": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "form_id": {
            "type": "string"
          },
          "project_id": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "latitude": {
            "type": "number",
            "format": "double"
          },
          "longitude": {
            "type": "number",
            "format": "double"
          },
          "form_values": {
            "type": "object"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "created_by": {
            "type": "string"
          },
          "updated_by": {
            "type": "string"
          },
          "changeset_id": {
            "type": "string"
          },
          "version": {
            "type": "integer"
          }
        }
      },
      "RecordInput": {
        "type": "object",
        "required": [
          "form_id",
          "form_values"
        ],
        "properties": {
          "form_id": {
            "type": "string"
          },
          "project_id": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "latitude": {
            "type": "number",
            "format": "double"
          },
          "longitude": {
            "type": "number",
            "format": "double"
          },
          "form_values": {
            "type": "object"
          }
        }
      },
      "Form": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "elements": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "FormInput": {
        "type": "object",
        "required": [
          "name",
          "elements"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "elements": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Records"
    },
    {
      "name": "Forms"
    },
    {
      "name": "Projects"
    },
    {
      "name": "Choice Lists"
    },
    {
      "name": "Classification Sets"
    },
    {
      "name": "Webhooks"
    },
    {
      "name": "Photos"
    },
    {
      "name": "Signatures"
    },
    {
      "name": "Videos"
    },
    {
      "name": "Audio"
    },
    {
      "name": "Changesets"
    },
    {
      "name": "Layers"
    },
    {
      "name": "Memberships"
    },
    {
      "name": "Roles"
    },
    {
      "name": "Groups"
    },
    {
      "name": "Audit Logs"
    },
    {
      "name": "Authorizations"
    }
  ]
}
