{
  "openapi": "3.0.3",
  "info": {
    "title": "Airis Voice Campaigns \u2013 Leads API",
    "version": "1",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/airis-4c3/Airis-Voice-Campaigns-Leads-API/1"
  },
  "servers": [
    {
      "url": "https://dash.coldi.io/api/v2"
    }
  ],
  "paths": {
    "/voice-campaigns/{campaignId}/leads": {
      "post": {
        "summary": "Add a single lead",
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "required": true,
            "description": "Bearer token for authentication",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "header",
            "name": "Content-Type",
            "required": true,
            "schema": {
              "type": "string",
              "example": "application/json"
            }
          },
          {
            "in": "path",
            "name": "campaignId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "phone_number"
                ],
                "properties": {
                  "first_name": {
                    "type": "string"
                  },
                  "last_name": {
                    "type": "string"
                  },
                  "email": {
                    "type": "string",
                    "format": "email"
                  },
                  "custom_fields": {
                    "type": "object",
                    "description": "Free-form object. You can add any fields; examples below are just for reference.\n",
                    "additionalProperties": true,
                    "example": {
                      "company": "Acme Corp",
                      "position": "Manager"
                    }
                  },
                  "phone_number": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "first_name": "Jane",
                "last_name": "Doe",
                "email": "jane@example.com",
                "custom_fields": {
                  "company": "Acme Corp",
                  "position": "Manager"
                },
                "phone_number": "+1234567890"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully added"
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "example": {
                  "message": "Invalid data"
                }
              }
            }
          }
        }
      }
    },
    "/voice-campaigns/{campaignId}/leads/bulk": {
      "post": {
        "summary": "Add multiple leads (bulk)",
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "required": true,
            "description": "Bearer token for authentication",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "header",
            "name": "Content-Type",
            "required": true,
            "schema": {
              "type": "string",
              "example": "application/json"
            }
          },
          {
            "in": "path",
            "name": "campaignId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "object",
                  "required": [
                    "phone_number"
                  ],
                  "properties": {
                    "first_name": {
                      "type": "string"
                    },
                    "last_name": {
                      "type": "string"
                    },
                    "email": {
                      "type": "string",
                      "format": "email"
                    },
                    "custom_fields": {
                      "type": "object",
                      "description": "Free-form object. Any number of fields allowed.\n",
                      "additionalProperties": true,
                      "example": {
                        "company": "Acme Corp",
                        "position": "Manager"
                      }
                    },
                    "phone_number": {
                      "type": "string"
                    }
                  }
                }
              },
              "example": [
                {
                  "first_name": "Jane",
                  "last_name": "Doe",
                  "email": "jane@example.com",
                  "custom_fields": {
                    "company": "Acme Corp",
                    "position": "Manager"
                  },
                  "phone_number": "+1234567890"
                },
                {
                  "first_name": "John",
                  "last_name": "Smith",
                  "email": "john@example.com",
                  "custom_fields": {
                    "company": "Tech Corp",
                    "position": "Developer"
                  },
                  "phone_number": "+1987654321"
                }
              ]
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully added"
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "example": {
                  "message": "Invalid data"
                }
              }
            }
          }
        }
      }
    },
    "/voice-campaigns/{campaignId}/lead/update": {
      "patch": {
        "summary": "Update lead",
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "required": true,
            "description": "Bearer token for authentication",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "header",
            "name": "Content-Type",
            "required": true,
            "schema": {
              "type": "string",
              "example": "application/json"
            }
          },
          {
            "in": "path",
            "name": "campaignId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "phone_number"
                ],
                "properties": {
                  "first_name": {
                    "type": "string"
                  },
                  "last_name": {
                    "type": "string"
                  },
                  "email": {
                    "type": "string",
                    "format": "email"
                  },
                  "custom_fields": {
                    "type": "object",
                    "description": "Free-form object for any additional data.\n",
                    "additionalProperties": true,
                    "example": {
                      "company": "Acme Corp",
                      "position": "Manager"
                    }
                  },
                  "phone_number": {
                    "type": "string"
                  },
                  "do_not_call": {
                    "type": "boolean"
                  }
                }
              },
              "example": {
                "first_name": "Jane",
                "last_name": "Doe",
                "email": "jane@example.com",
                "custom_fields": {
                  "company": "Acme Corp",
                  "position": "Manager"
                },
                "phone_number": "+1234567890",
                "do_not_call": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully updated"
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "example": {
                  "message": "Invalid data"
                }
              }
            }
          },
          "404": {
            "description": "Lead not found"
          }
        }
      }
    },
    "/voice-campaigns/{campaignId}/lead/remove": {
      "delete": {
        "summary": "Remove lead",
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "required": true,
            "description": "Bearer token for authentication",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "header",
            "name": "Content-Type",
            "required": true,
            "schema": {
              "type": "string",
              "example": "application/json"
            }
          },
          {
            "in": "path",
            "name": "campaignId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "phone_number"
                ],
                "properties": {
                  "phone_number": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "phone_number": "+1234567890"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully removed"
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "example": {
                  "message": "Invalid data"
                }
              }
            }
          },
          "404": {
            "description": "Lead not found"
          }
        }
      }
    }
  }
}