{
  "openapi": "3.0.3",
  "info": {
    "title": "LSEG World-Check One API",
    "description": "The World-Check One API enables developers to integrate the next generation of LSEG screening capabilities into existing workflows and internal systems (such as CRMs) in order to help streamline the processes for on-boarding, KYC and third party due diligence.\nThe API provides, among other features:\n- The ability to screen entity names, with or without secondary fields such as date of birth for individuals. These names are called \u201ccases\u201d within the World-Check One system.\n- The ability to retrieve results of the screening process from the World-Check database.\n- The ability to flag cases for Ongoing Screening, and retrieve the World-Check results from the Ongoing Screening process.\n> \u00a9 2018 - 2025 LSEG. All rights reserved. Republication or redistribution of LSEG content, including by framing or similar means, is prohibited without the prior written consent of LSEG. 'LSEG' and the LSEG logo are registered trademarks and trademarks of LSEG and its affiliated companies.\n",
    "termsOfService": "https://www.lseg.com/en/risk-intelligence/screening-solutions/world-check-kyc-screening/one-kyc-verification",
    "contact": {
      "name": "LSEG World-Check One API Q&A",
      "url": "https://community.developers.refinitiv.com/index.html",
      "email": "c3r.api1@lseg.com"
    },
    "license": {
      "name": "Commercial",
      "url": "https://www.lseg.com/en/risk-intelligence/screening-solutions/world-check-kyc-screening/one-kyc-verification"
    },
    "version": "3.3.0",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/PetrSander/lseg-world-check-one-api/3.3.0"
  },
  "externalDocs": {
    "description": "Refer to the LSEG Developer Portal for additional documentation on the World-Check One API.",
    "url": "https://developers.lseg.com/en/api-catalog/customer-and-third-party-screening/world-check-one-api"
  },
  "tags": [
    {
      "name": "references",
      "description": "Operations for the reference domain. <br><br> <b>Note</b> - These endpoints should not be called frequently and the response must be cached. It is recommended to call this endpoint maximum once a day."
    },
    {
      "name": "groups",
      "description": "Operations for the group domain. <br><br> <b>Note</b> - These endpoints should not be called frequently and the response must be cached. It is recommended to call this endpoint maximum once a day or if there were any changes to the group settings."
    },
    {
      "name": "users",
      "description": "Operations for the user domain."
    },
    {
      "name": "cases",
      "description": "Operations for the case domain."
    },
    {
      "name": "bulk",
      "description": "Operations for the bulk cases."
    },
    {
      "name": "audit",
      "description": "Operations for the audit domain."
    },
    {
      "name": "media-check",
      "description": "Operations for the Media-Check domain."
    },
    {
      "name": "ubo-check",
      "description": "Operations for the UBO-Check domain. <br><br> <b>Note</b> - UBO Check related endpoints are only applicable for a case created with provider type as UBO_CHECK. The UBO report can be downloaded in PDF format using POST /reports endpoint with report type as UBO_REPORT."
    },
    {
      "name": "client-watchlist",
      "description": "Operations for the Watchlist domain."
    },
    {
      "name": "passport-check",
      "description": "Operations for the Passport-Check domain."
    },
    {
      "name": "zfs",
      "description": "Operations for the ZFS domain."
    },
    {
      "name": "reports",
      "description": "Operations for the report domain."
    },
    {
      "name": "notifications",
      "description": "Operations for push notifications subscriptions."
    },
    {
      "name": "oauth",
      "description": "Operations for generating and revoking OAuth token used for API authentication."
    },
    {
      "name": "ProviderSourceTypeCategoryDetail_Model",
      "description": "<SchemaDefinition schemaRef=\"#/components/schemas/ProviderSourceTypeCategoryDetail\" />",
      "x-displayName": "ProviderSourceTypeCategoryDetail"
    },
    {
      "name": "ProviderSource_Model",
      "description": "<SchemaDefinition schemaRef=\"#/components/schemas/ProviderSource\" />",
      "x-displayName": "ProviderSource"
    },
    {
      "name": "FieldDefinition_Model",
      "description": "<SchemaDefinition schemaRef=\"#/components/schemas/FieldDefinition\" />",
      "x-displayName": "FieldDefinition"
    },
    {
      "name": "FieldValueType_Model",
      "description": "<SchemaDefinition schemaRef=\"#/components/schemas/FieldValueType\" />",
      "x-displayName": "FieldValueType"
    }
  ],
  "x-tagGroups": [
    {
      "name": "Token Management",
      "tags": [
        "oauth"
      ]
    },
    {
      "name": "Zero Footprint Screening",
      "tags": [
        "zfs"
      ]
    },
    {
      "name": "Case Management and Audit",
      "tags": [
        "references",
        "groups",
        "users",
        "cases",
        "media-check",
        "ubo-check",
        "bulk",
        "audit",
        "client-watchlist",
        "passport-check",
        "reports",
        "notifications"
      ]
    },
    {
      "name": "Schemas",
      "tags": [
        "ProviderSourceTypeCategoryDetail_Model",
        "ProviderSource_Model",
        "FieldDefinition_Model",
        "FieldValueType_Model"
      ]
    }
  ],
  "servers": [
    {
      "url": "https://api.risk.lseg.com/screening/v3",
      "description": "Production API server"
    }
  ],
  "paths": {
    "/groups": {
      "get": {
        "operationId": "getGroups",
        "tags": [
          "groups",
          "zfs"
        ],
        "summary": "Get all the top-level groups and their descendants.",
        "description": "* If no query parameters are given, then by default the response will include only top-level group and its immediate descendants.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/Date"
          },
          {
            "name": "showAllChildGroups",
            "description": "If set to true, shows all the hierarchy including all the descendant groups along with the top-level group.",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "required": false
          },
          {
            "name": "showOnlyZfs",
            "description": "If set to true, shows only \"ZFS\" groups.",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "A list of all top-level Groups containing their immediate descendants.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/GroupSummary"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/CannotReturnResponse"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType"
          },
          "428": {
            "$ref": "#/components/responses/PreconditionRequired"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/UnexpectedError"
          }
        }
      }
    },
    "/groups/{groupId}": {
      "get": {
        "operationId": "getGroupById",
        "tags": [
          "groups",
          "zfs"
        ],
        "summary": "Get a specified group and its descendants.",
        "description": "Get a specified Group including its immediate descendants.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/Date"
          },
          {
            "$ref": "#/components/parameters/GroupId"
          }
        ],
        "responses": {
          "200": {
            "description": "A specified Group including its immediate descendants.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GroupSummary"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/CannotReturnResponse"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType"
          },
          "428": {
            "$ref": "#/components/responses/PreconditionRequired"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/UnexpectedError"
          }
        }
      }
    },
    "/groups/{groupId}/case-template": {
      "get": {
        "operationId": "getCaseTemplateForGroup",
        "tags": [
          "groups",
          "zfs"
        ],
        "summary": "Get the case template for a given 'groupId'.",
        "description": "Get the CaseTemplate for the given Group, used for constructing a Case.\n\n**Available secondary fields:**\n<details>\n  <summary>Click here to expand</summary>\n\n  | Type ID   | NAME                    | VALUE                     |\n  |-----------|-------------------------|---------------------------|\n  | SFCT_1    | GENDER                  | MALE, FEMALE, UNSPECIFIED |\n  | SFCT_2    | DATE OF BIRTH           | DATE                      |\n  | SFCT_3    | COUNTRY LOCATION        | COUNTRY CODE              |\n  | SFCT_4    | PLACE OF BIRTH          | COUNTRY CODE              |\n  | SFCT_5    | NATIONALITY             | COUNTRY CODE              |\n  | SFCT_6    | REGISTERED COUNTRY      | COUNTRY CODE              |\n  | SFCT_7    | IMO NUMBER              | TEXT                      |\n  | SFCT_8    | PASSPORT GIVEN NAMES    | TEXT                      |\n  | SFCT_9    | PASSPORT LAST NAME      | TEXT                      |\n  | SFCT_10   | PASSPORT GENDER         | MALE, FEMALE, UNSPECIFIED |\n  | SFCT_11   | PASSPORT ISSUING STATE  | STATE CODE                |\n  | SFCT_12   | PASSPORT NATIONALITY    | STATE CODE                |\n  | SFCT_13   | PASSPORT DATE OF BIRTH  | DATE                      |\n  | SFCT_14   | PASSPORT DOCUMENT TYPE  | PASSPORT, ID1, ID2        |\n  | SFCT_15   | PASSPORT ID NUMBER      | TEXT                      |\n  | SFCT_16   | PASSPORT DATE OF EXPIRY | DATE                      |\n  | SFCT_191  | DOCUMENT ID             | TEXT                      |\n  | SFCT_192  | DOCUMENT ID COUNTRY     | COUNTRY CODE              |\n  | SFCT_193  | DOCUMENT ID TYPE        | TEXT                      |\n\n</details>\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/Date"
          },
          {
            "$ref": "#/components/parameters/GroupId"
          }
        ],
        "responses": {
          "200": {
            "description": "A specified Group including its immediate descendants.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CaseTemplateResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/CannotReturnResponse"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType"
          },
          "428": {
            "$ref": "#/components/responses/PreconditionRequired"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/UnexpectedError"
          }
        }
      }
    },
    "/groups/{groupId}/resolution-toolkits": {
      "get": {
        "operationId": "getResolutionToolkitsForGroup",
        "tags": [
          "groups"
        ],
        "summary": "Get all the resolution toolkits for a given 'groupId'.",
        "description": "Get the 'ResolutionToolkits' for the given Group for all enabled provider types, used to construct a valid\nresolution request(s) on the results for a Case belonging to the given Group.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/Date"
          },
          {
            "$ref": "#/components/parameters/GroupId"
          }
        ],
        "responses": {
          "200": {
            "description": "Map of 'ResolutionToolkits' for the given Group keyed by provider type.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "$ref": "#/components/schemas/ResolutionToolkitResponse"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/CannotReturnResponse"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType"
          },
          "428": {
            "$ref": "#/components/responses/PreconditionRequired"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/UnexpectedError"
          }
        }
      }
    },
    "/references/cases/{*caseId}": {
      "head": {
        "operationId": "checkCaseIdentifierAvailability",
        "tags": [
          "cases"
        ],
        "summary": "Check if a given 'caseId' is available for use.",
        "description": "The 'caseIds' must be unique within each Client. If any Group under a Client has a Case with a particular 'caseId',\nthat 'caseId' cannot be reused on another Case within the same Client. This endpoint allows the User to check\nif a given 'caseId' is available to use when creating or updating a Case.\n\n**Note:** Ensure that endpoint URL is encoded if there are any special characters in caseId.\"*\" is a wildcard character that is automatically added to the given case id as this allows using special characters such as slash (/) within the case id - which is otherwise not allowed in the path parameters.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/Date"
          },
          {
            "$ref": "#/components/parameters/CaseId"
          }
        ],
        "responses": {
          "200": {
            "description": "The given 'caseId' is in use within the current user's Client, therefore is not available to use on a\ndifferent Case.\n"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "description": "The given 'caseId' is not found within the current user's Client, therefore is available to use as a 'caseId'\non any Case.\n"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType"
          },
          "428": {
            "$ref": "#/components/responses/PreconditionRequired"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/UnexpectedError"
          }
        }
      },
      "get": {
        "operationId": "getCaseReference",
        "tags": [
          "cases"
        ],
        "summary": "Returns the CaseReference containing the 'caseId' and 'caseSystemId' pair for an existing Case with the given 'caseId'.",
        "description": "Returns the CaseReference containing the 'caseId' and 'caseSystemId' pair for an existing Case with the given 'caseId'.\nThis is useful if only the 'caseId' is known but 'caseSystemId' is required by other endpoints such as\n`GET /cases/{caseSystemId}` endpoint.\n\n**Note:** \"*\" is a wildcard character that is automatically added to the given case id as this allows using special characters such as slash (/) within the case id - which is otherwise not allowed in the path parameters.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/Date"
          },
          {
            "$ref": "#/components/parameters/CaseId"
          }
        ],
        "responses": {
          "200": {
            "description": "CaseReference for the given 'caseId'.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CaseReference"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/CannotReturnResponse"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType"
          },
          "428": {
            "$ref": "#/components/responses/PreconditionRequired"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/UnexpectedError"
          }
        }
      }
    },
    "/references/records/{id}": {
      "get": {
        "operationId": "getRecord",
        "tags": [
          "references",
          "zfs"
        ],
        "summary": "Get a record by its ID",
        "description": "Get a record by its ID.\nThis service returns a specific subclass of 'Entity', depending on its particular 'RecordEntityType' discriminator field. Please note in the context of World-Check One, 'Record' and 'Entity' are synonymous concepts.\n\nThe 'Entity' subclasses corresponding to each type of entity are:\n\n    'COUNTRY' : 'CountryEntity'\n    'INDIVIDUAL' : 'IndividualEntity'\n    'ORGANISATION' : 'OrganisationEntity'\n    'VESSEL' : 'VesselEntity'\nThe response will contain translated details of the 'details' section when Accept-Language header is specified.\n\nThe example response body:\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/Date"
          },
          {
            "$ref": "#/components/parameters/Accept-Language"
          },
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "responses": {
          "200": {
            "description": "The details of the Entity.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Entity"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/CannotReturnResponse"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType"
          },
          "428": {
            "$ref": "#/components/responses/PreconditionRequired"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/UnexpectedError"
          }
        }
      }
    },
    "/references/providers/client-watchlist": {
      "post": {
        "operationId": "saveWatchlist",
        "tags": [
          "client-watchlist",
          "zfs"
        ],
        "summary": "Maintain client-watchlist data.",
        "description": "Maintain your Watchlist data using the following supported entity actions.\n\n* entityCreateOrUpdate - Add a new entity to your Watchlist or replace if it already exists.\n\n* entityDelete - Mark the given entity as deleted in your Watchlist.\n\n* entitySupersede - Supersede enables you to redirect matches against your superseded entity to a new entity. This\nis useful if you want to redirect users with existing matches against an old entity to a newer / more accurate\nversion of those entities.\n\n* entityPurge - Purge enables you to remove an entity as required by GDPR whereby the personally identifiable\ninformation is removed.\n\nDue to the large number of entries within a Watchlist it is not possible to update the entire Watchlist in a single request\nThe overall request must be split into blocks of up to 500 individual entity actions.\n\n\nThe response consists of a list of any entities which were not successfully processed and a reason for failure.\n\n**Note:** The client watchlist record may not be considered for re-screening if the 'modificationDate' field \n          has not been specified while modifying the record.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/ContentType"
          },
          {
            "$ref": "#/components/parameters/ContentLength"
          },
          {
            "$ref": "#/components/parameters/Date"
          }
        ],
        "requestBody": {
          "description": "A collection of maintenance actions to be performed on your Watchlist.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WatchlistDataSet"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Request to maintain Watchlist data has succeeded. Please review the contents of WatchlistResponse errors for details on any individual entity actions which were not successful.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WatchlistResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/CannotReturnResponse"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType"
          },
          "428": {
            "$ref": "#/components/responses/PreconditionRequired"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/UnexpectedError"
          }
        }
      }
    },
    "/cases": {
      "post": {
        "operationId": "saveAndScreenCase",
        "tags": [
          "cases",
          "zfs"
        ],
        "summary": "Save and Screen a Case",
        "description": "This endpoint creates and screens new cases. Cases can be screened by using two modes in query parameter ?screen=SYNC/ASYNC:\n\n* ASYNC: Case is created and automatically added to an asynchronous screening queue. The response includes only Case details. To check screening progress, use `POST /cases/screening-status` endpoint. To check match results, use POST `/cases/{caseSystemId}/results`.\n* SYNC:  Case is created and screened synchronously. The response includes case details as well as match results.\n\n**Note:**\n- Only SYNC option should be used for ZFS screening.\n- In names and secondary fields where free text is allowed, any symbol is allowed except control characters like '\\n' (new line) and '\\t' (tab). Additionally, using operator words even when combined with an apostrophe, for example the below combinations, may cause an error 403 to be returned.\n    - String \u2018AND (String)\n    - String \u2018OR (String)\n    - String \u2018AND NOT (String)\n    - String \u2018OR NOT (String)\n    - String \u2018AND AS (String)\n    - String \u2018OR AS (String)\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/ContentType"
          },
          {
            "$ref": "#/components/parameters/ContentLength"
          },
          {
            "$ref": "#/components/parameters/Date"
          },
          {
            "name": "screen",
            "description": "Screen mode.",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/CaseCreateScreenMode"
            },
            "required": false
          }
        ],
        "requestBody": {
          "description": "Create case payload.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ScreeningRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Case Created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScreeningResultCollection"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/CannotReturnResponse"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType"
          },
          "428": {
            "$ref": "#/components/responses/PreconditionRequired"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/UnexpectedError"
          }
        }
      }
    },
    "/cases/screening-status": {
      "post": {
        "operationId": "getScreeningStatus",
        "tags": [
          "cases"
        ],
        "summary": "Retrieve case screening status.",
        "description": "Case screening statuses can be returned using this endpoint. The status for multiple cases (up to 1000) can be requested in a single request.\nResults returned show a status and aggregated screening results for each Case.\n\n**Example HTTP response**\n\n```\n  Response example returned for request not containing 'providerTypes' field.\n  [\n      {\n          \"caseSystemId\": \"Case System ID 1\",\n          \"screeningStatus\": \"SCREENED\",\n          \"requestFromScreenedDate\": \"2020-10-24T11:40:21.517Z\",\n          \"lastScreenedDate\": \"2019-12-16T14:44:15.582Z\",\n          \"providerSummaries\": {\n              \"WATCHLIST\": {\n                  \"totalMatches\": 38,\n                  \"reviewRequired\": 0,\n                  \"unresolved\": 35\n              }\n          }\n      },\n      {\n          \"caseSystemId\": \"Case System ID 2\",\n          \"screeningStatus\": \"NOT_SCREENED\",\n          \"requestFromScreenedDate\": \"2020-10-24T11:40:21.517Z\",\n          \"providerSummaries\": {\n              \"WATCHLIST\": {\n                  \"totalMatches\": 0,\n                  \"reviewRequired\": 0,\n                  \"unresolved\": 0\n              },\n              \"PASSPORT_CHECK\": {\n                  \"isReviewRequired\": false\n              }\n          }\n      },\n      {\n          \"caseSystemId\": \"Case System ID 3\",\n          \"screeningStatus\": \"SCREENED\",\n          \"requestFromScreenedDate\": \"2019-10-24T11:40:21.517Z\",\n          \"lastScreenedDate\": \"2019-12-20T08:25:32.146Z\",\n          \"providerSummaries\": {\n              \"WATCHLIST\": {\n                  \"totalMatches\": 625,\n                  \"reviewRequired\": 0,\n                  \"unresolved\": 618\n              }\n          }\n      }\n  ]\n\n  Response example returned for request containing 'providerTypes' field.\n  [\n      {\n          \"caseSystemId\": \"Case System ID 1\",\n          \"requestFromScreenedDate\": \"2020-10-24T11:40:21.517Z\",\n          \"lastScreenedDate\": \"2019-12-16T14:44:15.582Z\",\n          \"providerSummaries\": {\n              \"WATCHLIST\": {\n                  \"status\": \"SCREENED\",\n                  \"totalMatches\": 38,\n                  \"reviewRequired\": 0,\n                  \"unresolved\": 35\n              }\n          }\n      },\n      {\n          \"caseSystemId\": \"Case System ID 2\",\n          \"requestFromScreenedDate\": \"2020-10-24T11:40:21.517Z\",\n          \"providerSummaries\": {\n              \"WATCHLIST\": {\n                  \"status\": \"SCREENED\",\n                  \"totalMatches\": 0,\n                  \"reviewRequired\": 0,\n                  \"unresolved\": 0\n              },\n              \"PASSPORT_CHECK\": {\n                  \"isReviewRequired\": false\n              }\n          }\n      },\n      {\n          \"caseSystemId\": \"Case System ID 3\",\n          \"requestFromScreenedDate\": \"2019-10-24T11:40:21.517Z\",\n          \"lastScreenedDate\": \"2019-12-20T08:25:32.146Z\",\n          \"providerSummaries\": {\n              \"WATCHLIST\": {\n                  \"status\": \"SCREENED\",\n                  \"totalMatches\": 625,\n                  \"reviewRequired\": 0,\n                  \"unresolved\": 618\n              },\n              \"MEDIA_CHECK\": {\n                  \"status\": \"SCREENED\",\n                  \"isReviewRequired\":\n              }\n          }\n      }\n  ]\n```\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/ContentType"
          },
          {
            "$ref": "#/components/parameters/ContentLength"
          },
          {
            "$ref": "#/components/parameters/Date"
          }
        ],
        "requestBody": {
          "description": "Allows to specify cases and their screening dates that are using to define the screening status.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ScreeningStatusRequestCollection"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Response with screening status and aggregated results for each Case in the payload.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ScreeningStatusResponse"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/CannotReturnResponse"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType"
          },
          "428": {
            "$ref": "#/components/responses/PreconditionRequired"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/UnexpectedError"
          }
        }
      }
    },
    "/cases/{caseSystemId}/media-check/results": {
      "post": {
        "operationId": "getMediaCheckDetails",
        "tags": [
          "media-check"
        ],
        "summary": "Get media-check results for a given case.",
        "description": "Retrieve MediaCheck headlines results by the case ID.\n\nThe retrieval of MediaCheck headlines results may require a number of steps depending on the size of the headline result set.\n\n1. Initially the API consumer does basic search of MediaCheck news articles by specifying initial filters and facets to return.\n2. Later the API consumer may invoke the endpoint several times in order to scroll the results page by page or\nto narrow down the results by selecting specific facet values.\n\nInitial search request usually contains:\n\n * `pagination` object with specified fields `itemsPerPage`, while the field `pageReference` is not specified.The maximum items per page allowed is 100. It is possible not to specify the `pagination` object at all, in this case WC1-API will use the default pagination values.\n * `sort` object supports sorting by `publicationDate`.The default sort is DESCENDING order.\n * `facets` object contains list of facet categories to return.\n * `drilldownKeys` is empty on initial search.\n\nAdditionally, you may also limit publication dates through `publicationDate` field within `baseFilter` object.\n\nThe sample initial search request below specifies search within Media Check news articles according to the *Archive limit* of the *Media Check* Group settings issued in 2017, and requests up to 10 `geography` facet values, and a default number of `topic` facet values:\n\n```\n    {\n      \"baseFilter\": {\n        \"smartFilter\": true\n        \"reviewRequiredArticles\": true,\n        \"publicationDate\": {\n          \"min\": \"2017-01-01T00:00:00.000Z\",\n          \"max\": \"2018-01-01T00:00:00.000Z\"\n        }\n      },\n      \"facets\": {\n        \"geographies\": {\n          \"limit\": 10\n        },\n        \"topics\": {}\n      },\n      \"sort\": {\n         \"columnName\": \"publicationDate\",\n         \"order\": \"DESCENDING\"\n      },\n      \"pagination\": {\n        \"itemsPerPage\": 100\n      }\n    }\n```\n\nFor example, consider the response returns a total result count of 100 articles, displaying 25 headlines per page. In order to retrieve the second page results, the one should include `pageReferences` field (the 26-50 news articles), or for the last page results (the 76-100 news articles).\n\nThere are also facet values for requested `geographies` and `topics` facets, as well as `matchingEntities` values because search request has `\"smartFilter\": true`.\n\n```\n    {\n      \"totalResultCount\": 100,\n      \"results\": [...100 items in the array...],\n      \"pageReferences\": {\n        \"last\": \"tokenLastPage\",\n        \"next\": \"tokenSecondPage\"\n      },\n      \"facets\": {\n        \"geographies\": [\n          {\n            \"drilldownKey\": \"drillDownKeyUK\",\n            \"facetLabel\": \"United Kingdom\",\n            \"articleCount\": \"56\"\n          }\n        ],\n        \"topics\": [\n          {\n            \"drilldownKey\": \"drillDownKeyFraud\",\n            \"facetLabel\": \"Fraud\",\n            \"articleCount\": \"43\"\n          }\n        ],\n        \"matchingEntities\": [\n          {\n            \"drilldownKey\": \"drillDownKeyDonald\",\n            \"facetLabel\": \"DONALD DUCK\",\n            \"articleCount\": \"20\",\n            \"matchStrength\": \"1\"\n          }\n        ]\n      }\n    }\n```\n\nThe second page results are only possible to be viewed after retrieving the first page of the headline result set. The next and subsequent pages results can be retrieved in a similar way, but additionally the request should include the `pageReference` field within the pagination object.\nFor better performance there's no need to provide `facets` object while requesting the second page.\n\n```\n    {\n      \"sort\":  {\n         \"columnName\": \"publicationDate\",\n         \"order\": \"DESCENDING\"\n      },\n      \"pagination\": {\n        \"pageReference\": \"tokenSecondPage\"\n      },\n      \"baseFilter\": {\n        \"reviewRequiredArticles\": true,\n        \"publicationDate\": {\n          \"max\": \"2017-01-01T00:00:00.000Z\",\n          \"min\": \"2017-12-31T23:59:59.999Z\"\n        }\n      }\n    }\n```\n\nAlternatively, it is possible to narrow down results to the \"United Kingdom\" and \"Fraud\" topics instead of scrolling over huge number of results.\nThe example request looks like the initial search with the list of `drilldownKeys`.\n\n```\n    {\n     \"sort\":  {\n       \"columnName\": \"publicationDate\",\n       \"order\": \"DESCENDING\",\n      },\n      \"pagination\": {\n        \"itemsPerPage\": 100\n      },\n      \"baseFilter\": {\n        \"reviewRequiredArticles\": true,\n        \"publicationDate\": {\n          \"max\": \"2017-01-01T00:00:00.000Z\",\n          \"min\": \"2017-12-31T23:59:59.999Z\"\n        }\n      },\n      \"facets\": {...},\n      \"drilldownKeys\": [\n        \"drillDownKeyFraud\",\n        \"drillDownKeyUK\"\n      ]\n    }\n```\n\n**Note on articles count display**: With deduplication on, the total articles count is returned, including duplicates, if any.\nThe duplicate articles are returned in the `duplicatesKey` field. The API user can use this field in the [Retrieve MediaCheck Article Duplicates](#_retrievemediacheckduplicates) endpoint to view the article duplicates.\n\n*For example*, consider the following request:\n\n```\n  {\n    \"baseFilter\": {\n      \"reviewRequiredArticles\": true\n    },\n    \"sort\":  {\n      \"columnName\": \"publicationDate\",\n      \"order\": \"DESCENDING\",\n    }, \n    \"pagination\": {\n      \"itemsPerPage\": 100,\n    }\n  }\n```\n\nIf the deduplication is on, the API user may receive a response containing the `duplicatesKey`:\n\n```\n  {\n    ...\n    \"results\": [\n      {\n        ...\n        \"articleSummary\": {\n          ...\n          \"duplicatesKey\": \"someDuplicatedKeyHash\",\n          ...\n        }\n      },\n      ...\n    ],\n    ...\n    \"totalResultCount\": 10550,\n    ...\n  }\n```\n\nThen the value of the received `duplicatesKey` may be used in [MediaCheckDuplicatesRequest](#MediaCheckDuplicatesRequest):\n\n```\n  {\n    \"deduplicationHash\": \"someDuplicatedKeyHash\"\n  }\n```\n\nAfterwards the API user will get the response containing duplicated articles:\n\n```\n  {\n    \"duplicates\": [\n      \"articleId\": \"someArticleId\",\n      ...\n    ]\n  }\n```\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/Date"
          },
          {
            "$ref": "#/components/parameters/ContentType"
          },
          {
            "$ref": "#/components/parameters/ContentLength"
          },
          {
            "$ref": "#/components/parameters/CaseSystemId"
          }
        ],
        "requestBody": {
          "description": "Request containing data to retrieve article duplicates.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MediaCheckResultsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "MediaCheck news articles content and summaries.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MediaCheckResultsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/CannotReturnResponse"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType"
          },
          "428": {
            "$ref": "#/components/responses/PreconditionRequired"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/UnexpectedError"
          }
        }
      }
    },
    "/references/providers": {
      "get": {
        "operationId": "getProviders",
        "tags": [
          "references"
        ],
        "summary": "Get a list of available providers and their sources.",
        "description": "Get a list of available providers and their sources.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/ContentType"
          },
          {
            "$ref": "#/components/parameters/ContentLength"
          },
          {
            "$ref": "#/components/parameters/Date"
          }
        ],
        "responses": {
          "200": {
            "description": "A list of available providers and their sources.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ProviderDetail"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/CannotReturnResponse"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType"
          },
          "428": {
            "$ref": "#/components/responses/PreconditionRequired"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/UnexpectedError"
          }
        }
      }
    },
    "/references/search-filters": {
      "get": {
        "operationId": "getSearchFilters",
        "tags": [
          "references"
        ],
        "summary": "Retrieves all case search filters that are accessible to the User.",
        "description": "Retrieves all case search filters that are accessible to the User.\n\nSearch filters can be type 'QUERY' or type 'FILTER'\n\n'FILTER' types only accept exact pre-defined values in a search e.g. lifecycleState==Archived\n\n'QUERY' types accept free text searches and also support wildcard searches for the DEFAULT search mode        \n",
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/Date"
          }
        ],
        "responses": {
          "200": {
            "description": "Collection of available search filters accessible to the User.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchParameterCollection"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/CannotReturnResponse"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType"
          },
          "428": {
            "$ref": "#/components/responses/PreconditionRequired"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/UnexpectedError"
          }
        }
      }
    },
    "/cases/search": {
      "post": {
        "operationId": "searchCases",
        "tags": [
          "cases"
        ],
        "summary": "Search for cases based on specified criteria.",
        "description": "Search for Cases based on specified criteria using filter or query parameters.\n\nThis endpoint allows you to find cases that match your search criteria. \nYou can provide these criteria in the request, which includes 'query' and 'filter' fields. \nThe 'query' field is associated with a search mode, see 'TextSearchMode' for more information.\n\n**Note:**\n1. 'FILTER' types only accept exact pre-defined values in a search e.g. lifecycleState==Archived.\n2. 'QUERY' types accept free text searches and also support wildcard searches for the DEFAULT search mode.\n\nExpressions in 'query' and 'filter' must adhere to the Atom Feed Item Query Language (FIQL), \nwhich is documented in [RFC 4288](https://tools.ietf.org/html/rfc4288) and the superset supported by the WC1 API, \nas documented in [WC1 API Query Language](https://github.com/jirutka/rsql-parser).\n\nTo learn about the available search fields and their usage, you can use the `GET /references/search-filters` .\n\nResponse details can be customized using the 'detailLevel' field:\n  - 'CASE': The search response will provide full Case details.\n  - 'CASE_AND_RESULTS': The search response will include \u0421ase details and Result summary related to this Case.\n  - 'CASE_AND_AGGREGATED_RESULTS': The search response will provide full Case details with an aggregated Result summary, summarizing data from primary and sub-cases.\n  - 'CASE_AND_RESULTS_AND_AGGREGATED_RESULTS': The search response will provide full Case details with a Result and aggregated(summarizing data from primary and sub-cases) summaries.\n\nNumber of results can be controlled through 'pagination' and 'sort' fields. The maximum items per page allowed as part of pagination is 100.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/Date"
          },
          {
            "$ref": "#/components/parameters/ContentType"
          },
          {
            "$ref": "#/components/parameters/ContentLength"
          }
        ],
        "requestBody": {
          "description": "The request containing search criteria.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CaseSearchRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A set of Cases that match the specified criteria.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CaseSearchResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/CannotReturnResponse"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType"
          },
          "428": {
            "$ref": "#/components/responses/PreconditionRequired"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/UnexpectedError"
          }
        }
      }
    },
    "/cases/{caseSystemId}": {
      "patch": {
        "operationId": "partialUpdateCase",
        "tags": [
          "cases"
        ],
        "summary": "Partial update an existing case by its caseSystemId.",
        "description": "Updates an existing Case identified by the given caseSystemId. When the Case needs to be updated, only necessary field(s) need to be sent. \nThere is a query parameter with the PATCH endpoint ?screen=NONE/ASYNC/SYNC/DELTA_SYNC, which allows different results to be shown:\n\n* NONE: Pure update; no screening by default.\n* ASYNC: Update; and a screening request is added automatically to a queue for asynchronous screening and\n         response contains only Case details and no results.You may use POST /cases/screening-status endpoint to check for the screening status and POST /cases/{caseSystemId}/results to retrieve the updated results. You may also use this option to just fully re-screen the case asynchronously without giving any request payload if you do not want to update the case.\n* SYNC: Update; and fully re-screen the case synchronously against full data with the match results in response. You may also use this option to just fully re-screen the case synchronously without giving any request payload if you do not want to update the case.\n* DELTA_SYNC: Update; and delta screen the case synchronously against new and updated data from the last screened date. Example: If case was last screened on 01-Feb-2025, using DELTA_SYNC will screen the case against new and updated data since 01-Feb-2025 until the current day.You may also use this option to just perform delta screening on the case without giving any request payload if you do not want to update the case.\n\n**Note:**\n  1. The maximum number of screenings (including full screens and re-screens) that a client can perform in an hour is limited.\n  2. When updating an existing Case with Passport-Check details via the API, to check the details in the UI, you must refresh the page to view all updated details.\n  3. Give \"null\" in the applicable fields if you want to remove the respective data from the case details.\n  4. *caseResultsSummary* object is returned in the response only for the query parameter with SYNC option.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/ContentType"
          },
          {
            "$ref": "#/components/parameters/ContentLength"
          },
          {
            "$ref": "#/components/parameters/Date"
          },
          {
            "$ref": "#/components/parameters/CaseSystemId"
          },
          {
            "name": "screen",
            "description": "Screen mode.",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/ScreenMode"
            },
            "required": false
          }
        ],
        "requestBody": {
          "description": "Update Case payload.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PartialUpdateCase"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Case updated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScreeningResultCollection"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/CannotReturnResponse"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType"
          },
          "428": {
            "$ref": "#/components/responses/PreconditionRequired"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/UnexpectedError"
          }
        }
      },
      "get": {
        "operationId": "getCase",
        "tags": [
          "cases"
        ],
        "summary": "Fetch full case details for a given case.",
        "description": "Returns full details of the case identified by the given 'caseSystemId'.\n\nThe information provided will include simple summaries of the single case or an aggregated summary (current case plus any linked cases).\nThe counts provided are :\n- split by resolution per source\n- split for Watchlist records by resolution by sub category\n\n**Note:** A delay of up to 40s after Case is screened is recommended while fetching full Case details with\n          aggregated summaries, although a delay of up to 5s would work in most of the cases. If aggregated\n          summaries return nil stats, a responsible retry mechanism with a maximum of five retries is\n          recommended for the Cases where stats are expected.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/Date"
          },
          {
            "$ref": "#/components/parameters/CaseSystemId"
          },
          {
            "name": "aggregatedSummary",
            "in": "query",
            "description": "Flag to enable aggregated summary for case.",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Case response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Case"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/CannotReturnResponse"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType"
          },
          "428": {
            "$ref": "#/components/responses/PreconditionRequired"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/UnexpectedError"
          }
        }
      },
      "delete": {
        "operationId": "deleteCase",
        "tags": [
          "cases"
        ],
        "summary": "Delete a case.",
        "description": "Delete a Case identified by the given 'caseSystemId'. The Case must be first archived in order to delete it.\nThe User must be active and have delete permissions. The Client must have delete functionality enabled.\n\n**Note:** After successful deletion, a corresponding audit with actionType 'DELETE_CASE' will be saved for the Case.\n          All other audits for this Case will be deleted within 15 minutes.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/Date"
          },
          {
            "$ref": "#/components/parameters/CaseSystemId"
          }
        ],
        "responses": {
          "204": {
            "description": "Case deleted."
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/CannotReturnResponse"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType"
          },
          "428": {
            "$ref": "#/components/responses/PreconditionRequired"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/UnexpectedError"
          }
        }
      }
    },
    "/cases/{caseSystemId}/assignee": {
      "put": {
        "operationId": "assignCase",
        "tags": [
          "cases"
        ],
        "summary": "Assign case to a user.",
        "description": "Assign the Case to a User. 'GET /users' endpoint provides the active users\nthat a Case can be assigned to.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/Date"
          },
          {
            "$ref": "#/components/parameters/ContentType"
          },
          {
            "$ref": "#/components/parameters/ContentLength"
          },
          {
            "$ref": "#/components/parameters/CaseSystemId"
          }
        ],
        "requestBody": {
          "description": "Assign Case payload.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Assignee"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "The case has been assigned successfully."
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/CannotReturnResponse"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType"
          },
          "428": {
            "$ref": "#/components/responses/PreconditionRequired"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/UnexpectedError"
          }
        }
      },
      "delete": {
        "operationId": "unassignCase",
        "tags": [
          "cases"
        ],
        "summary": "Unassign a case.",
        "description": "Once you have assigned the Case to the User, you can now unassign the same Case.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/Date"
          },
          {
            "$ref": "#/components/parameters/CaseSystemId"
          }
        ],
        "responses": {
          "204": {
            "description": "The Case has been unassigned successfully."
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/CannotReturnResponse"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType"
          },
          "428": {
            "$ref": "#/components/responses/PreconditionRequired"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/UnexpectedError"
          }
        }
      }
    },
    "/cases/{caseSystemId}/archive": {
      "put": {
        "operationId": "archiveCase",
        "tags": [
          "cases"
        ],
        "summary": "Archive a case.",
        "description": "Archive the Case identified by the given 'caseSystemId'. This will put the Case into a state from\nwhich it can be either unarchived or deleted.\nThe User must be active and have the archive permission.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/Date"
          },
          {
            "$ref": "#/components/parameters/CaseSystemId"
          }
        ],
        "responses": {
          "204": {
            "description": "Case archived."
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/CannotReturnResponse"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType"
          },
          "428": {
            "$ref": "#/components/responses/PreconditionRequired"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/UnexpectedError"
          }
        }
      },
      "delete": {
        "operationId": "unarchiveCase",
        "tags": [
          "cases"
        ],
        "summary": "Unarchive a case.",
        "description": "Unarchive the Case identified by the given 'caseSystemId'.\nThe User must be active and have the archive permission.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/Date"
          },
          {
            "$ref": "#/components/parameters/CaseSystemId"
          }
        ],
        "responses": {
          "204": {
            "description": "Case Unarchived."
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/CannotReturnResponse"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType"
          },
          "428": {
            "$ref": "#/components/responses/PreconditionRequired"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/UnexpectedError"
          }
        }
      }
    },
    "/cases/{caseSystemId}/results/review": {
      "put": {
        "operationId": "reviewResults",
        "tags": [
          "cases"
        ],
        "summary": "Add a review remark to the specified result IDs for the given case",
        "description": "Review Cases by adding specific result IDs and add a remark to the Review. There will only be a single review remark for the group of result IDs selected. To add a separate remark for each review then a result IDs and result remark must be processed individually.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/Date"
          },
          {
            "$ref": "#/components/parameters/CaseSystemId"
          }
        ],
        "requestBody": {
          "description": "Object representing the IDs to be reviewed, and the review remark.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResultsReview"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "All result IDs were successfully updated."
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/CannotReturnResponse"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType"
          },
          "428": {
            "$ref": "#/components/responses/PreconditionRequired"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/UnexpectedError"
          }
        }
      }
    },
    "/cases/{caseSystemId}/results/resolution": {
      "put": {
        "operationId": "resolveResults",
        "tags": [
          "cases"
        ],
        "summary": "Resolves a list of results for a given case.",
        "description": "Resolves a list of results for the Case identified by the given caseSystemId. The endpoint for the resolution toolkit '/groups/{groupId}/resolutionToolkit' provides the resolution rules to be applied when resolving results of any Case within a specific Group.\nAny resultIds which relate to records that have been removed from World-Check One can only be resolved as FALSE.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/Date"
          },
          {
            "$ref": "#/components/parameters/ContentType"
          },
          {
            "$ref": "#/components/parameters/ContentLength"
          },
          {
            "$ref": "#/components/parameters/CaseSystemId"
          }
        ],
        "requestBody": {
          "description": "Represents the request details required for resolving Results. **Note:** Fields 'reasonId' and 'resolutionRemark' are required **ONLY** if they are specified accordingly in the configuration settings.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResultsResolutionRequest"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Results resolved."
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/CannotReturnResponse"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType"
          },
          "428": {
            "$ref": "#/components/responses/PreconditionRequired"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/UnexpectedError"
          }
        }
      }
    },
    "/cases/{caseSystemId}/rating": {
      "get": {
        "operationId": "retrieveCaseRating",
        "tags": [
          "cases"
        ],
        "summary": "Get risk rating for a given case.",
        "description": "Retrieve the Case Rating of the specified Case using 'caseSystemId'.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/Date"
          },
          {
            "$ref": "#/components/parameters/CaseSystemId"
          }
        ],
        "responses": {
          "200": {
            "description": "Cases Rating has been successfully retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CaseRatingResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/CannotReturnResponse"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType"
          },
          "428": {
            "$ref": "#/components/responses/PreconditionRequired"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/UnexpectedError"
          }
        }
      }
    },
    "/cases/{caseSystemId}/results": {
      "post": {
        "operationId": "getResults",
        "tags": [
          "cases"
        ],
        "summary": "Get screening results for a given case.",
        "description": "Return a collection of Results for the Case identified by the given caseSystemId. Available Filters are given in the request body section.\nThe maximum items per page allowed as part of pagination is 1000.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/Date"
          },
          {
            "$ref": "#/components/parameters/ContentType"
          },
          {
            "$ref": "#/components/parameters/ContentLength"
          },
          {
            "$ref": "#/components/parameters/UserName"
          },
          {
            "$ref": "#/components/parameters/UniqueRequestId"
          },
          {
            "$ref": "#/components/parameters/CaseSystemId"
          },
          {
            "$ref": "#/components/parameters/OnlySummary"
          }
        ],
        "requestBody": {
          "description": "The filters we want to apply when fetching results for a case.",
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResultsFilterRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Collection of case screening results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/CannotReturnResponse"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType"
          },
          "428": {
            "$ref": "#/components/responses/PreconditionRequired"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/UnexpectedError"
          }
        }
      }
    },
    "/cases/{caseSystemId}/links/{linkType}": {
      "get": {
        "operationId": "getLinkIdentifiers",
        "tags": [
          "cases"
        ],
        "summary": "Get linked cases for a given case.",
        "description": "Retrieve the list of Cases linked to the specified Case.\n\nLink type examples:\n\n * `primary-to-subcase` : declares `caseSystemId` as a primary Case and lists Cases linked to it with\n                          `primary-to-subcase` link type.\n * `subcase-to-primary` : declares `caseSystemId` as a subcase and lists Cases linked to it with\n                          `subcase-to-primary` link type.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/Date"
          },
          {
            "$ref": "#/components/parameters/CaseSystemId"
          },
          {
            "name": "linkType",
            "in": "path",
            "description": "Link type between Cases. Multiple comma separated values allowed.",
            "required": true,
            "schema": {
              "type": "array",
              "uniqueItems": true,
              "items": {
                "type": "string",
                "enum": [
                  "primary-to-subcase",
                  "subcase-to-primary"
                ]
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response containing the list of relationships between cases",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CaseLinkResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/CannotReturnResponse"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType"
          },
          "428": {
            "$ref": "#/components/responses/PreconditionRequired"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/UnexpectedError"
          }
        }
      }
    },
    "/cases/{caseSystemId}/links": {
      "post": {
        "operationId": "linkUnlinkCases",
        "tags": [
          "cases"
        ],
        "summary": "Link cases to a given case.",
        "description": "Create or delete links between Cases based on link type strategy (`linkType`). You can link / unlink cases in two ways:\n\n * `primary-to-subcase` : declares `caseSystemId` as a primary case and cases listed in `linkedCasesRequest`\n                          as subcases which will be linked to / unlinked from a primary case.\n * `subcase-to-primary` : declares `caseSystemId` as a subcase and cases listed in `linkedCasesRequest`\n                          as primary cases which will be linked to / unlinked from a subcase.\n\n**Note:** There is a maximum number of World-Check One links between cases:\n* Maximum 500 primary cases are allowed per a subcase.\n* Maximum 50 subcases are allowed per a primary case.\n\n**Example HTTP request**\n\n```\n    {\n      \"linkedCases\":[\n        \"Case System ID 1\",\n        \"Case System ID 2\",\n      ]\n    }\n```\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/Date"
          },
          {
            "$ref": "#/components/parameters/ContentType"
          },
          {
            "$ref": "#/components/parameters/ContentLength"
          },
          {
            "$ref": "#/components/parameters/CaseSystemId"
          }
        ],
        "requestBody": {
          "description": "The payload for linked cases request.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LinkedCasesRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Links between cases have been created."
          },
          "204": {
            "description": "Links between cases have been deleted."
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/CannotReturnResponse"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType"
          },
          "428": {
            "$ref": "#/components/responses/PreconditionRequired"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/UnexpectedError"
          }
        }
      }
    },
    "/bulk/cases": {
      "post": {
        "operationId": "saveAndScreenLinkedCases",
        "tags": [
          "bulk"
        ],
        "summary": "Save and screen multiple cases.",
        "description": "Save and screen multiple cases for the given group Id. Caller may include multiple cases with up to 1000 entities in a single request (see *Example HTTP request* below).\nAlso it is possible to include audit note, start screening date and  parent case system id. If parent case system id is present then newly created case will be linked to specified parent.\nIn response, the caller receives a summary of the creation operation for each case.\n\n*Example HTTP response* below, shows the following summary:\n\n  1. The first case has been created successfully.\n  2. The second case has not been created successfully because it does not meet the validation criteria;\n   \"errors\" and \"cause\" fields contain detailed information.\n\n**Example HTTP response**\n\n```\n  [\n      {\n          \"name\": \"Name 1\",\n          \"caseId\": \"Case ID 1\",\n          \"caseSystemId\": \"Case System ID 1\",\n          \"nameTransposition\": true,\n          \"caseScreeningState\": {\n              \"WATCHLIST\": \"INITIAL\"\n          }\n      },\n      {\n          \"name\": \"Name 2\",\n          \"caseId\": \"Case ID 2\",\n          \"errors\": [\n              {\n                  \"error\": \"CASE_ID_EXISTS\",\n                  \"cause\": \"Case IDs must be unique within the same client and request.\"\n              }\n          ]\n      }\n  ]\n```\n\n**Note:** The maximum number of World-Check screenings (including initial, rescreening, and ZFP ones)\n          that a client can perform in an hour is limited.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/Date"
          },
          {
            "$ref": "#/components/parameters/ContentType"
          },
          {
            "$ref": "#/components/parameters/ContentLength"
          }
        ],
        "requestBody": {
          "description": "Container of cases that is used in scope of creation operation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CaseDetailsCollection"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "If the request passed general validation, the caller receives response with CaseReference list,\nwith summaries for each case located in payload.\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CaseReferenceDetails"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/CannotReturnResponse"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType"
          },
          "428": {
            "$ref": "#/components/responses/PreconditionRequired"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/UnexpectedError"
          }
        }
      }
    },
    "/bulk/cases/ongoing-screening": {
      "post": {
        "operationId": "toggleOngoingScreeningByProviderTypes",
        "tags": [
          "bulk"
        ],
        "summary": "Enable/Disable OGS for multiple cases.",
        "description": "Bulk Update Ongoing Screening (OGS) States of cases with provided `caseSystemIds` and `ProviderType`s specified in\n`caseScreeningState`. Ongoing screening can be performed for MEDIA_CHECK and WATCHLIST provider types. Case screening state\ncan be ONGOING or INITIAL.\n`\"ONGOING\"` means enable OGS for the specified systemCaseId's\n`\"INITIAL\"` means disable OGS for the specified systemCaseId's\nThe user must be active and have CASE_OGS permissions.\nA list of failed cases only will be displayed under the Summary Count.\n\n In response, the user receives a summary (`\"statuses\"`) of the World-Check/Media-Check Ongoing Screening operation for each case.\n\n *Example HTTP response below, shows the following summary:\n\n World-Check/Media-Check Ongoing Screening operation can not be performed for the case with `\"caseSystemId3\"` because it does not meet the validation criteria;\n `\"errors\"` field contain detailed information on the error.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/Date"
          },
          {
            "$ref": "#/components/parameters/ContentType"
          },
          {
            "$ref": "#/components/parameters/ContentLength"
          }
        ],
        "requestBody": {
          "description": "A request on Bulk Update Ongoing Screening States.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CaseBulkOngoingScreeningRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "A response on Bulk Update Ongoing Screening States.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CaseBulkResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/CannotReturnResponse"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType"
          },
          "428": {
            "$ref": "#/components/responses/PreconditionRequired"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/UnexpectedError"
          }
        }
      }
    },
    "/bulk/cases/move-cases": {
      "post": {
        "operationId": "updateCasesOwner",
        "tags": [
          "bulk"
        ],
        "summary": "Move cases to another group.",
        "description": "To Move Cases between Groups you can select Cases using the  \"caseSystemId\" field to move the specified Case to another Group.\n\nThe User must be active and have the move Cases between Groups Permission and must be a member of both the original group and the group the Cases are to be moved to.\nThe current Group and the destination Group should contain identical custom fields.\nCases can not be moved to ZFS Groups.\n\nIn the response, the user receives a summary of the action showing total count of cases processed and this count split between success and failed.\nA list of failed cases only will be displayed under the summary - showing the \"caseSytemId\" , \"caseId \" has not been moved because it does not meet the validation criteria \"error\" and \"cause\" fields contain detailed information on the error.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/Date"
          },
          {
            "$ref": "#/components/parameters/ContentType"
          },
          {
            "$ref": "#/components/parameters/ContentLength"
          }
        ],
        "requestBody": {
          "description": "A request on Bulk Move Cases.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CaseBulkMoveRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "A response on Bulk Move Cases.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CaseBulkResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/CannotReturnResponse"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType"
          },
          "428": {
            "$ref": "#/components/responses/PreconditionRequired"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/UnexpectedError"
          }
        }
      }
    },
    "/bulk/cases/delete": {
      "post": {
        "operationId": "deleteCases",
        "tags": [
          "bulk"
        ],
        "summary": "Delete multiple cases.",
        "description": "For each given \"caseSystemId\", the system will delete the Case from the database when this endpoint is run. \nThe Case must be archived before it can be deleted. The user must be active and have the delete permission, and the client \nmust have the delete function enabled.\nIn the response, the user receives a summary of the action showing total count of Cases processed and this count split between success and failed.\nA list of failed cases only will be displayed under the summary - showing the \"caseSytemId\" , \"caseId \" has not been deleted \nbecause it does not meet the validation criteria \"error\" and \"cause\" fields contain detailed information on the error.\n\n*Example HTTP response* below, shows the following summary:\n\n1. `\"caseSystemId1\"`, `\"caseId\"` has not been deleted because it does not meet the validation criteria; `\"error\"` and `\"cause\"` fields contain detailed information of the error.`\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/Date"
          },
          {
            "$ref": "#/components/parameters/ContentType"
          },
          {
            "$ref": "#/components/parameters/ContentLength"
          }
        ],
        "requestBody": {
          "description": "A request on Bulk Delete Cases.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CaseBulkDeleteRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "A response on Bulk Delete Cases.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CaseBulkResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/CannotReturnResponse"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType"
          },
          "428": {
            "$ref": "#/components/responses/PreconditionRequired"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/UnexpectedError"
          }
        }
      }
    },
    "/bulk/cases/archive": {
      "post": {
        "operationId": "archiveCases",
        "tags": [
          "bulk"
        ],
        "summary": "Archive multiple cases.",
        "description": "For each given caseSystemIds, the Archive status can be updated by changing the value in the \"archive\" field. \n\"archive\" = true then Cases will be \"Archived\".\n\"archive\" = false then Cases are \"Unarchived\".\nArchive and Unarchive cannot be in the same request and the number of cases to action must be <=1000, if left blank the default will be true i.e. Archive.\nTo complete this operation the User must be Active and have the Archive permission. \n\nIn the response, the user receives a summary of the action showing total count of cases processed and this count split between success and failed.\nA list of failed cases only will be displayed under the summary - showing the \"caseSystemId\",\"caseId\" has not been archived/unarchived because it does not meet the validation criteria \"error\" and \"cause\" fields contain detailed information on the error.\n\nExample HTTP response below, shows the following summary:\n   \"caseSystemId1\",\"caseId\" has not been Archived because it does not meet the validation criteria; \n   \"error\" and \"cause\" fields contain detailed information of the error.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/Date"
          },
          {
            "$ref": "#/components/parameters/ContentType"
          },
          {
            "$ref": "#/components/parameters/ContentLength"
          }
        ],
        "requestBody": {
          "description": "A request on Bulk Update Archive States.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CaseBulkArchiveRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "A response on Bulk Update Archive States.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CaseBulkResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/CannotReturnResponse"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType"
          },
          "428": {
            "$ref": "#/components/responses/PreconditionRequired"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/UnexpectedError"
          }
        }
      }
    },
    "/bulk/cases/link": {
      "post": {
        "operationId": "linkCases",
        "tags": [
          "bulk"
        ],
        "summary": "Link multiple cases.",
        "description": "Bulk Update Case Links for cases by specifying caseSystemID and the Link type specific in linkType field. \nThe case links are updated according to the value specified in the \"linkType\" field.\nIf set to \"true\" creates a link , set to \"false\" then unlinking is performed.\nThe user must be active and have the \"merge case\" permission to perform these actions. The Parent Case Manager will also need to be enabled at client level.\nThe user can add notes to this function to explain reason for links - there is only one note for all the caseSystemId's.\nIn the response, the user receives a summary of the action showing total count of cases processed and this count split between success and failed.\nA list of failed cases only will be displayed under the summary\nExample HTTP response below, shows the following summary:\n\"caseSystemId1\" , \"caseId\" has not been linked because it does not meet the validation criteria; \n\" error\" and \"cause\" fields contain detailed information of the error.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/Date"
          },
          {
            "$ref": "#/components/parameters/ContentType"
          },
          {
            "$ref": "#/components/parameters/ContentLength"
          }
        ],
        "requestBody": {
          "description": "A request on Bulk Update Case Links.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CaseBulkLinkRequestCollection"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "A response on Bulk Update Archive States.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CaseBulkLinkResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/CannotReturnResponse"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType"
          },
          "428": {
            "$ref": "#/components/responses/PreconditionRequired"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/UnexpectedError"
          }
        }
      }
    },
    "/bulk/cases/assignment": {
      "post": {
        "operationId": "assignCases",
        "tags": [
          "bulk"
        ],
        "summary": "Assign multiple cases to a user.",
        "description": "For each given 'caseSystemId', the assignee can be updated by changing the value in the \"userid\" field. If the \"userId\" field \nvalue is null, then the cases will be unassigned. If an active user id is selected then the case will be assigned to that \"userid\". \nTo complete this operation the user must be active and have the assign permission. Assign and unassign cannot be in the same request \nand the number of cases to action must be <1000.\n\nIn the response, the user receives a summary of the action showing total count of cases processed and this count split between success and failed.\nA list of failed cases only will be displayed under the summary - showing the \"caseSystemId\" , \"caseId \" has not been deleted because \nit does not meet the validation criteria \"error\" and \"cause\" fields contain detailed information on the error.\n\n*Example HTTP response below, shows the following summary:\n\n  1. \"caseSystemId1\", \"caseId\" has not been assigned because it does not meet the validation criteria; \"error\" and \"cause\" fields \ncontain detailed information of the error.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/Date"
          },
          {
            "$ref": "#/components/parameters/ContentType"
          },
          {
            "$ref": "#/components/parameters/ContentLength"
          }
        ],
        "requestBody": {
          "description": "A request on Bulk Update Case Assignments.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CaseBulkAssignRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "A response on Bulk Update Case Assignments.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CaseBulkResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/CannotReturnResponse"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType"
          },
          "428": {
            "$ref": "#/components/responses/PreconditionRequired"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/UnexpectedError"
          }
        }
      }
    },
    "/users": {
      "get": {
        "operationId": "getUsers",
        "tags": [
          "users",
          "zfs"
        ],
        "summary": "Get a list of active users.",
        "description": "Get a list of active Users in the Client's account.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/Date"
          }
        ],
        "responses": {
          "200": {
            "description": "A list of active Users in the Client's account.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "uniqueItems": true,
                  "items": {
                    "$ref": "#/components/schemas/UserSummary"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/CannotReturnResponse"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType"
          },
          "428": {
            "$ref": "#/components/responses/PreconditionRequired"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/UnexpectedError"
          }
        }
      }
    },
    "/references/countries": {
      "get": {
        "operationId": "getCountries",
        "tags": [
          "references",
          "zfs"
        ],
        "summary": "Get Map of country codes and country names.",
[...]
