{
  "openapi": "3.0.3",
  "info": {
    "title": "CurrencyBeacon API",
    "version": "1.0.0",
    "description": "CurrencyBeacon (formerly CurrencyScoop) provides a RESTful API for accessing real-time and historical exchange rates for over 168 world currencies and more than 2,000 cryptocurrencies. Features include spot exchange rates, historical data back to 1996, currency conversion, time-series data, and supported currencies listing.",
    "x-jentic-source-url": "https://currencyscoop.com/api-documentation",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://api.currencybeacon.com/v1"
    }
  ],
  "paths": {
    "/latest": {
      "get": {
        "operationId": "getLatestRates",
        "summary": "Get latest exchange rates",
        "description": "Returns real-time exchange rate data for all available currencies. Data is updated based on your subscription plan frequency (e.g., every 60 seconds).",
        "tags": [
          "Exchange Rates"
        ],
        "parameters": [
          {
            "name": "base",
            "in": "query",
            "description": "The three-letter currency code of your preferred base currency (e.g., USD, EUR, GBP). Defaults to USD if not specified.",
            "required": true,
            "schema": {
              "type": "string",
              "default": "USD"
            }
          },
          {
            "name": "symbols",
            "in": "query",
            "description": "Limit results to specific currencies. Enter codes separated by commas (e.g., GBP,JPY,EUR).",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with latest exchange rates",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LatestRatesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - API key invalid, missing, or not activated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests - rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/historical": {
      "get": {
        "operationId": "getHistoricalRates",
        "summary": "Get historical exchange rates",
        "description": "Retrieve historical exchange rates for any specific date in the past. Database goes back to January 1, 1996. Useful for auditing, accounting, and trend analysis.",
        "tags": [
          "Exchange Rates"
        ],
        "parameters": [
          {
            "name": "date",
            "in": "query",
            "description": "The date to retrieve rates for, in YYYY-MM-DD format.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "base",
            "in": "query",
            "description": "The base currency code. Defaults to USD.",
            "required": false,
            "schema": {
              "type": "string",
              "default": "USD"
            }
          },
          {
            "name": "symbols",
            "in": "query",
            "description": "Filter results to specific currencies (comma-separated).",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with historical rates",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HistoricalRatesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/convert": {
      "get": {
        "operationId": "convertCurrency",
        "summary": "Convert currency",
        "description": "Converts any amount from one currency to another using real-time mid-market exchange rates. The calculation is performed server-side. Optionally use historical rates.",
        "tags": [
          "Conversion"
        ],
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "description": "The 3-letter currency code to convert from (e.g., USD).",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "to",
            "in": "query",
            "description": "The 3-letter currency code to convert to (e.g., JPY).",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "amount",
            "in": "query",
            "description": "The numeric amount to convert.",
            "required": true,
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "date",
            "in": "query",
            "description": "Perform the conversion using historical rates from this date (YYYY-MM-DD).",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful conversion response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConvertResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/timeseries": {
      "get": {
        "operationId": "getTimeSeries",
        "summary": "Get time-series exchange rates",
        "description": "Returns daily historical exchange rates between two specified dates. Designed for plotting charts or analyzing volatility over time. Available on Startup and Pro plans only.",
        "tags": [
          "Exchange Rates"
        ],
        "parameters": [
          {
            "name": "start_date",
            "in": "query",
            "description": "The beginning date of the range (YYYY-MM-DD).",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "description": "The end date of the range (YYYY-MM-DD). Maximum range depends on your plan (typically 365 days).",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "base",
            "in": "query",
            "description": "The base currency. Defaults to USD.",
            "required": false,
            "schema": {
              "type": "string",
              "default": "USD"
            }
          },
          {
            "name": "symbols",
            "in": "query",
            "description": "Filter results to specific currencies (comma-separated).",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with time-series data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TimeSeriesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - endpoint restricted to higher-tier plans",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/currencies": {
      "get": {
        "operationId": "getSupportedCurrencies",
        "summary": "Get supported currencies",
        "description": "Returns a list of all supported currencies, including their full names, symbols, and ISO codes. Use this to dynamically populate dropdowns in your UI.",
        "tags": [
          "Reference Data"
        ],
        "responses": {
          "200": {
            "description": "Successful response with supported currencies",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CurrenciesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "MetaInfo": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "description": "HTTP status code"
          },
          "disclaimer": {
            "type": "string"
          }
        }
      },
      "LatestRatesResponse": {
        "type": "object",
        "properties": {
          "meta": {
            "$ref": "#/components/schemas/MetaInfo"
          },
          "response": {
            "type": "object",
            "properties": {
              "date": {
                "type": "string",
                "format": "date-time"
              },
              "base": {
                "type": "string",
                "description": "Base currency code"
              },
              "rates": {
                "type": "object",
                "additionalProperties": {
                  "type": "number",
                  "format": "double"
                },
                "description": "Map of currency codes to exchange rates"
              }
            }
          }
        }
      },
      "HistoricalRatesResponse": {
        "type": "object",
        "properties": {
          "meta": {
            "$ref": "#/components/schemas/MetaInfo"
          },
          "response": {
            "type": "object",
            "properties": {
              "date": {
                "type": "string",
                "format": "date"
              },
              "base": {
                "type": "string"
              },
              "rates": {
                "type": "object",
                "additionalProperties": {
                  "type": "number",
                  "format": "double"
                }
              }
            }
          }
        }
      },
      "ConvertResponse": {
        "type": "object",
        "properties": {
          "meta": {
            "$ref": "#/components/schemas/MetaInfo"
          },
          "response": {
            "type": "object",
            "properties": {
              "timestamp": {
                "type": "integer",
                "description": "UNIX timestamp of the rate used"
              },
              "date": {
                "type": "string",
                "format": "date"
              },
              "from": {
                "type": "string"
              },
              "to": {
                "type": "string"
              },
              "amount": {
                "type": "number",
                "format": "double"
              },
              "value": {
                "type": "number",
                "format": "double",
                "description": "Converted amount"
              }
            }
          }
        }
      },
      "TimeSeriesResponse": {
        "type": "object",
        "properties": {
          "meta": {
            "$ref": "#/components/schemas/MetaInfo"
          },
          "response": {
            "type": "object",
            "properties": {
              "start_date": {
                "type": "string",
                "format": "date"
              },
              "end_date": {
                "type": "string",
                "format": "date"
              },
              "base": {
                "type": "string"
              },
              "rates": {
                "type": "object",
                "additionalProperties": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "number",
                    "format": "double"
                  }
                },
                "description": "Map of dates to rate maps"
              }
            }
          }
        }
      },
      "CurrenciesResponse": {
        "type": "object",
        "properties": {
          "meta": {
            "$ref": "#/components/schemas/MetaInfo"
          },
          "response": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Currency"
            }
          }
        }
      },
      "Currency": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string",
            "description": "Full currency name"
          },
          "short_code": {
            "type": "string",
            "description": "ISO 4217 currency code"
          },
          "code": {
            "type": "string"
          },
          "precision": {
            "type": "integer"
          },
          "subunit": {
            "type": "integer"
          },
          "symbol": {
            "type": "string",
            "description": "Currency symbol"
          },
          "symbol_first": {
            "type": "boolean"
          },
          "decimal_mark": {
            "type": "string"
          },
          "thousands_separator": {
            "type": "string"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "meta": {
            "type": "object",
            "properties": {
              "code": {
                "type": "integer"
              },
              "error_type": {
                "type": "string"
              },
              "error_detail": {
                "type": "string"
              }
            }
          }
        }
      }
    },
    "securitySchemes": {
      "apiKeyQuery": {
        "type": "apiKey",
        "name": "api_key",
        "in": "query",
        "description": "API key passed as query parameter"
      },
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "API key passed as Bearer token in Authorization header"
      }
    }
  },
  "security": [
    {
      "apiKeyQuery": []
    }
  ],
  "tags": [
    {
      "name": "Conversion"
    },
    {
      "name": "Exchange Rates"
    },
    {
      "name": "Reference Data"
    }
  ]
}
