{
  "openapi": "3.0.3",
  "info": {
    "title": "Stack Auth API",
    "version": "1.0.0",
    "description": "Stack Auth - open-source authentication for Next.js and other frameworks. Provides user management, team management, authentication, and RBAC.",
    "x-jentic-source-url": "https://docs.stack-auth.com/docs/overview",
    "contact": {
      "name": "Stack Auth",
      "url": "https://stack-auth.com"
    }
  },
  "servers": [
    {
      "url": "https://api.stack-auth.com/api/v1",
      "description": "Stack Auth API"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Auth",
      "description": "Authentication endpoints"
    },
    {
      "name": "Users",
      "description": "User management"
    },
    {
      "name": "Teams",
      "description": "Team management"
    },
    {
      "name": "Permissions",
      "description": "Role-based access control"
    },
    {
      "name": "API Keys",
      "description": "API key management"
    },
    {
      "name": "Webhooks",
      "description": "Webhook management"
    },
    {
      "name": "Emails",
      "description": "Email management"
    },
    {
      "name": "Projects",
      "description": "Project configuration"
    }
  ],
  "paths": {
    "/auth/sessions": {
      "post": {
        "tags": [
          "Auth"
        ],
        "operationId": "createSession",
        "summary": "Create a session",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Session created"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Create a session"
      },
      "get": {
        "tags": [
          "Auth"
        ],
        "operationId": "getSession",
        "summary": "Get current session",
        "responses": {
          "200": {
            "description": "Session info"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Get current session"
      }
    },
    "/auth/sessions/current": {
      "delete": {
        "tags": [
          "Auth"
        ],
        "operationId": "signOut",
        "summary": "Sign out / end current session",
        "responses": {
          "200": {
            "description": "Signed out"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Sign out / end current session"
      }
    },
    "/auth/password/sign-in": {
      "post": {
        "tags": [
          "Auth"
        ],
        "operationId": "signInWithPassword",
        "summary": "Sign in with email and password",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string"
                  },
                  "password": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Signed in"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Invalid credentials"
          }
        },
        "description": "Sign in with email and password"
      }
    },
    "/auth/password/sign-up": {
      "post": {
        "tags": [
          "Auth"
        ],
        "operationId": "signUpWithPassword",
        "summary": "Sign up with email and password",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string"
                  },
                  "password": {
                    "type": "string"
                  },
                  "verification_callback_url": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "User created"
          },
          "400": {
            "description": "Bad request"
          },
          "409": {
            "description": "Email already exists"
          }
        },
        "description": "Sign up with email and password"
      }
    },
    "/auth/otp/sign-in": {
      "post": {
        "tags": [
          "Auth"
        ],
        "operationId": "signInWithOtp",
        "summary": "Request OTP sign-in code",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OTP sent"
          },
          "400": {
            "description": "Bad request"
          }
        },
        "description": "Request OTP sign-in code"
      }
    },
    "/auth/otp/sign-in/verify": {
      "post": {
        "tags": [
          "Auth"
        ],
        "operationId": "verifyOtp",
        "summary": "Verify OTP code",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "code": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OTP verified"
          },
          "400": {
            "description": "Invalid code"
          }
        },
        "description": "Verify OTP code"
      }
    },
    "/auth/magic-link/sign-in": {
      "post": {
        "tags": [
          "Auth"
        ],
        "operationId": "signInWithMagicLink",
        "summary": "Send magic link",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string"
                  },
                  "callback_url": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Magic link sent"
          },
          "400": {
            "description": "Bad request"
          }
        },
        "description": "Send magic link"
      }
    },
    "/auth/password/reset": {
      "post": {
        "tags": [
          "Auth"
        ],
        "operationId": "resetPassword",
        "summary": "Request password reset",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string"
                  },
                  "callback_url": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Reset email sent"
          },
          "400": {
            "description": "Bad request"
          }
        },
        "description": "Request password reset"
      }
    },
    "/users": {
      "get": {
        "tags": [
          "Users"
        ],
        "operationId": "listUsers",
        "summary": "List all users",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User list"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "List all users"
      },
      "post": {
        "tags": [
          "Users"
        ],
        "operationId": "createUser",
        "summary": "Create a user",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string"
                  },
                  "display_name": {
                    "type": "string"
                  },
                  "primary_email_verified": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "User created"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Create a user"
      }
    },
    "/users/me": {
      "get": {
        "tags": [
          "Users"
        ],
        "operationId": "getCurrentUser",
        "summary": "Get current user",
        "responses": {
          "200": {
            "description": "Current user"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Get current user"
      },
      "patch": {
        "tags": [
          "Users"
        ],
        "operationId": "updateCurrentUser",
        "summary": "Update current user",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Update current user"
      },
      "delete": {
        "tags": [
          "Users"
        ],
        "operationId": "deleteCurrentUser",
        "summary": "Delete current user",
        "responses": {
          "204": {
            "description": "Deleted"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Delete current user"
      }
    },
    "/users/{userId}": {
      "get": {
        "tags": [
          "Users"
        ],
        "operationId": "getUser",
        "summary": "Get user by ID",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Get user by ID"
      },
      "patch": {
        "tags": [
          "Users"
        ],
        "operationId": "updateUser",
        "summary": "Update a user",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Update a user"
      },
      "delete": {
        "tags": [
          "Users"
        ],
        "operationId": "deleteUser",
        "summary": "Delete a user",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Delete a user"
      }
    },
    "/teams": {
      "get": {
        "tags": [
          "Teams"
        ],
        "operationId": "listTeams",
        "summary": "List all teams",
        "responses": {
          "200": {
            "description": "Team list"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "List all teams"
      },
      "post": {
        "tags": [
          "Teams"
        ],
        "operationId": "createTeam",
        "summary": "Create a team",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "display_name": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Team created"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Create a team"
      }
    },
    "/teams/{teamId}": {
      "get": {
        "tags": [
          "Teams"
        ],
        "operationId": "getTeam",
        "summary": "Get team by ID",
        "parameters": [
          {
            "name": "teamId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Team"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Get team by ID"
      },
      "patch": {
        "tags": [
          "Teams"
        ],
        "operationId": "updateTeam",
        "summary": "Update a team",
        "parameters": [
          {
            "name": "teamId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Update a team"
      },
      "delete": {
        "tags": [
          "Teams"
        ],
        "operationId": "deleteTeam",
        "summary": "Delete a team",
        "parameters": [
          {
            "name": "teamId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Delete a team"
      }
    },
    "/teams/{teamId}/members": {
      "get": {
        "tags": [
          "Teams"
        ],
        "operationId": "listTeamMembers",
        "summary": "List team members",
        "parameters": [
          {
            "name": "teamId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Member list"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "List team members"
      },
      "post": {
        "tags": [
          "Teams"
        ],
        "operationId": "addTeamMember",
        "summary": "Add a team member",
        "parameters": [
          {
            "name": "teamId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "user_id": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Member added"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Add a team member"
      }
    },
    "/teams/{teamId}/members/{userId}": {
      "delete": {
        "tags": [
          "Teams"
        ],
        "operationId": "removeTeamMember",
        "summary": "Remove a team member",
        "parameters": [
          {
            "name": "teamId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Removed"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Remove a team member"
      }
    },
    "/team-permissions": {
      "get": {
        "tags": [
          "Permissions"
        ],
        "operationId": "listPermissions",
        "summary": "List permissions",
        "responses": {
          "200": {
            "description": "Permission list"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "List permissions"
      },
      "post": {
        "tags": [
          "Permissions"
        ],
        "operationId": "createPermission",
        "summary": "Create a permission",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Create a permission"
      }
    },
    "/internal/api-keys": {
      "get": {
        "tags": [
          "API Keys"
        ],
        "operationId": "listApiKeys",
        "summary": "List API keys",
        "responses": {
          "200": {
            "description": "API key list"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "List API keys"
      },
      "post": {
        "tags": [
          "API Keys"
        ],
        "operationId": "createApiKey",
        "summary": "Create an API key",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Key created"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Create an API key"
      }
    },
    "/webhooks": {
      "get": {
        "tags": [
          "Webhooks"
        ],
        "operationId": "listWebhooks",
        "summary": "List webhooks",
        "responses": {
          "200": {
            "description": "Webhook list"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "List webhooks"
      },
      "post": {
        "tags": [
          "Webhooks"
        ],
        "operationId": "createWebhook",
        "summary": "Create a webhook",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "url": {
                    "type": "string"
                  },
                  "events": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Create a webhook"
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      },
      "projectApiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "x-stack-access-type",
        "description": "Stack project API key type (client, server, admin)"
      }
    },
    "schemas": {}
  }
}
