{
  "openapi": "3.0.3",
  "info": {
    "title": "Mobile 911 Partner API",
    "description": "API \u0434\u043e\u043a\u0443\u043c\u0435\u043d\u0442\u0430\u0446\u0438\u044f \u0434\u043b\u044f \u043c\u043e\u0431\u0438\u043b\u044c\u043d\u043e\u0433\u043e \u043f\u0440\u0438\u043b\u043e\u0436\u0435\u043d\u0438\u044f \u043f\u0430\u0440\u0442\u043d\u0435\u0440\u043e\u0432 \u0441\u043b\u0443\u0436\u0431\u044b 911.\n\n## \u0410\u0443\u0442\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0446\u0438\u044f\n\u0411\u043e\u043b\u044c\u0448\u0438\u043d\u0441\u0442\u0432\u043e \u044d\u043d\u0434\u043f\u043e\u0438\u043d\u0442\u043e\u0432 \u0442\u0440\u0435\u0431\u0443\u044e\u0442 Bearer Token \u0430\u0443\u0442\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0446\u0438\u0438 \u0432 \u0437\u0430\u0433\u043e\u043b\u043e\u0432\u043a\u0435 Authorization.\n\n## WebSocket\nAPI \u0442\u0430\u043a\u0436\u0435 \u043f\u043e\u0434\u0434\u0435\u0440\u0436\u0438\u0432\u0430\u0435\u0442 WebSocket \u0441\u043e\u0435\u0434\u0438\u043d\u0435\u043d\u0438\u044f \u0434\u043b\u044f \u043f\u043e\u043b\u0443\u0447\u0435\u043d\u0438\u044f \u0443\u0432\u0435\u0434\u043e\u043c\u043b\u0435\u043d\u0438\u0439 \u0432 \u0440\u0435\u0430\u043b\u044c\u043d\u043e\u043c \u0432\u0440\u0435\u043c\u0435\u043d\u0438.\n\u0421\u043c. \u0440\u0430\u0437\u0434\u0435\u043b WebSocket \u0432 \u043a\u043e\u043d\u0446\u0435 \u0434\u043e\u043a\u0443\u043c\u0435\u043d\u0442\u0430\u0446\u0438\u0438.\n",
    "version": "1.0.0",
    "contact": {
      "name": "API Support",
      "url": "https://api.sluzhba911.online"
    },
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/SHANDULAEV1/mobile-911-partner-api/1.0.0"
  },
  "servers": [
    {
      "url": "https://api.sluzhba911.online/api",
      "description": "Production server"
    },
    {
      "url": "http://api.sluzhba911.online/api",
      "description": "Production server (HTTP)"
    }
  ],
  "tags": [
    {
      "name": "Authentication",
      "description": "\u0410\u0443\u0442\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0446\u0438\u044f \u0438 \u0440\u0435\u0433\u0438\u0441\u0442\u0440\u0430\u0446\u0438\u044f \u043f\u0430\u0440\u0442\u043d\u0435\u0440\u043e\u0432"
    },
    {
      "name": "Services",
      "description": "\u0423\u043f\u0440\u0430\u0432\u043b\u0435\u043d\u0438\u0435 \u0443\u0441\u043b\u0443\u0433\u0430\u043c\u0438 \u043f\u0430\u0440\u0442\u043d\u0435\u0440\u0430"
    },
    {
      "name": "Orders",
      "description": "\u0423\u043f\u0440\u0430\u0432\u043b\u0435\u043d\u0438\u0435 \u0437\u0430\u043a\u0430\u0437\u0430\u043c\u0438"
    },
    {
      "name": "Profile",
      "description": "\u0423\u043f\u0440\u0430\u0432\u043b\u0435\u043d\u0438\u0435 \u043f\u0440\u043e\u0444\u0438\u043b\u0435\u043c \u043f\u0430\u0440\u0442\u043d\u0435\u0440\u0430"
    },
    {
      "name": "Utils",
      "description": "\u0423\u0442\u0438\u043b\u0438\u0442\u0430\u0440\u043d\u044b\u0435 \u044d\u043d\u0434\u043f\u043e\u0438\u043d\u0442\u044b"
    },
    {
      "name": "Tokens",
      "description": "\u0423\u043f\u0440\u0430\u0432\u043b\u0435\u043d\u0438\u0435 \u0442\u043e\u043a\u0435\u043d\u0430\u043c\u0438 \u0434\u043e\u0441\u0442\u0443\u043f\u0430"
    }
  ],
  "paths": {
    "/src/init/token/": {
      "get": {
        "tags": [
          "Authentication"
        ],
        "summary": "\u041f\u0440\u043e\u0432\u0435\u0440\u043a\u0430 \u0442\u043e\u043a\u0435\u043d\u0430",
        "description": "\u041f\u0440\u043e\u0432\u0435\u0440\u044f\u0435\u0442 \u0432\u0430\u043b\u0438\u0434\u043d\u043e\u0441\u0442\u044c \u0442\u043e\u043a\u0435\u043d\u0430 \u0434\u043e\u0441\u0442\u0443\u043f\u0430",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "\u0422\u043e\u043a\u0435\u043d \u0432\u0430\u043b\u0438\u0434\u0435\u043d"
          },
          "401": {
            "description": "\u0422\u043e\u043a\u0435\u043d \u043d\u0435\u0432\u0430\u043b\u0438\u0434\u0435\u043d \u0438\u043b\u0438 \u0438\u0441\u0442\u0435\u043a",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/users/auth/login/": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "\u041e\u0442\u043f\u0440\u0430\u0432\u043a\u0430 \u043d\u043e\u043c\u0435\u0440\u0430 \u0442\u0435\u043b\u0435\u0444\u043e\u043d\u0430",
        "description": "\u041e\u0442\u043f\u0440\u0430\u0432\u043b\u044f\u0435\u0442 \u043d\u043e\u043c\u0435\u0440 \u0442\u0435\u043b\u0435\u0444\u043e\u043d\u0430 \u0434\u043b\u044f \u043d\u0430\u0447\u0430\u043b\u0430 \u043f\u0440\u043e\u0446\u0435\u0441\u0441\u0430 \u0430\u0443\u0442\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0446\u0438\u0438. \u041d\u0430 \u0443\u043a\u0430\u0437\u0430\u043d\u043d\u044b\u0439 \u043d\u043e\u043c\u0435\u0440 \u043e\u0442\u043f\u0440\u0430\u0432\u043b\u044f\u0435\u0442\u0441\u044f SMS \u0441 \u043a\u043e\u0434\u043e\u043c \u043f\u043e\u0434\u0442\u0432\u0435\u0440\u0436\u0434\u0435\u043d\u0438\u044f.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PhoneRequest"
              },
              "example": {
                "phone": "+79991234567"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "SMS \u043a\u043e\u0434 \u043e\u0442\u043f\u0440\u0430\u0432\u043b\u0435\u043d",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                },
                "example": {
                  "success": true
                }
              }
            }
          },
          "400": {
            "description": "\u041d\u0435\u0432\u0435\u0440\u043d\u044b\u0439 \u0444\u043e\u0440\u043c\u0430\u0442 \u043d\u043e\u043c\u0435\u0440\u0430 \u0442\u0435\u043b\u0435\u0444\u043e\u043d\u0430",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "\u041d\u043e\u043c\u0435\u0440 \u043d\u0435 \u043d\u0430\u0439\u0434\u0435\u043d",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/users/auth/partner/verify-code/": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "\u041f\u043e\u0434\u0442\u0432\u0435\u0440\u0436\u0434\u0435\u043d\u0438\u0435 \u043a\u043e\u0434\u0430",
        "description": "\u041f\u043e\u0434\u0442\u0432\u0435\u0440\u0436\u0434\u0430\u0435\u0442 \u043a\u043e\u0434 \u0438\u0437 SMS \u0438 \u0432\u043e\u0437\u0432\u0440\u0430\u0449\u0430\u0435\u0442 \u0442\u043e\u043a\u0435\u043d\u044b \u0434\u043e\u0441\u0442\u0443\u043f\u0430. \u0422\u0430\u043a\u0436\u0435 \u0432\u043e\u0437\u0432\u0440\u0430\u0449\u0430\u0435\u0442 \u0438\u043d\u0444\u043e\u0440\u043c\u0430\u0446\u0438\u044e \u043e \u0442\u043e\u043c, \u044f\u0432\u043b\u044f\u0435\u0442\u0441\u044f \u043b\u0438 \u043f\u043e\u043b\u044c\u0437\u043e\u0432\u0430\u0442\u0435\u043b\u044c \u043d\u043e\u0432\u044b\u043c \u0438 \u0430\u043a\u0442\u0438\u0432\u0435\u043d \u043b\u0438 \u0435\u0433\u043e \u0430\u043a\u043a\u0430\u0443\u043d\u0442.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VerifyCodeRequest"
              },
              "example": {
                "phone": "+79991234567",
                "code": 123456
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "\u041a\u043e\u0434 \u043f\u043e\u0434\u0442\u0432\u0435\u0440\u0436\u0434\u0435\u043d, \u0442\u043e\u043a\u0435\u043d\u044b \u0432\u043e\u0437\u0432\u0440\u0430\u0449\u0435\u043d\u044b",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthCodeResponse"
                },
                "example": {
                  "access_token": "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9...",
                  "refresh_token": "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9...",
                  "is_new": false,
                  "is_active": true
                }
              }
            }
          },
          "400": {
            "description": "\u041d\u0435\u0432\u0435\u0440\u043d\u044b\u0439 \u043a\u043e\u0434 \u043f\u043e\u0434\u0442\u0432\u0435\u0440\u0436\u0434\u0435\u043d\u0438\u044f",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "\u041d\u043e\u043c\u0435\u0440 \u0442\u0435\u043b\u0435\u0444\u043e\u043d\u0430 \u043d\u0435 \u043d\u0430\u0439\u0434\u0435\u043d",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/users/auth/partner-additional-register/": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "\u0420\u0435\u0433\u0438\u0441\u0442\u0440\u0430\u0446\u0438\u044f \u043f\u0430\u0440\u0442\u043d\u0435\u0440\u0430",
        "description": "\u0417\u0430\u0432\u0435\u0440\u0448\u0430\u0435\u0442 \u0440\u0435\u0433\u0438\u0441\u0442\u0440\u0430\u0446\u0438\u044e \u043f\u0430\u0440\u0442\u043d\u0435\u0440\u0430. \u0422\u0440\u0435\u0431\u0443\u0435\u0442\u0441\u044f \u0434\u043b\u044f \u043d\u043e\u0432\u044b\u0445 \u043f\u043e\u043b\u044c\u0437\u043e\u0432\u0430\u0442\u0435\u043b\u0435\u0439 (is_new: true). \u0417\u0430\u0433\u0440\u0443\u0436\u0430\u0435\u0442 \u0444\u043e\u0442\u043e \u0432\u043e\u0434\u0438\u0442\u0435\u043b\u044c\u0441\u043a\u043e\u0433\u043e \u0443\u0434\u043e\u0441\u0442\u043e\u0432\u0435\u0440\u0435\u043d\u0438\u044f.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "first_name",
                  "last_name",
                  "legal_status",
                  "city",
                  "phone",
                  "driver_licence"
                ],
                "properties": {
                  "first_name": {
                    "type": "string",
                    "description": "\u0418\u043c\u044f \u043f\u0430\u0440\u0442\u043d\u0435\u0440\u0430"
                  },
                  "last_name": {
                    "type": "string",
                    "description": "\u0424\u0430\u043c\u0438\u043b\u0438\u044f \u043f\u0430\u0440\u0442\u043d\u0435\u0440\u0430"
                  },
                  "legal_status": {
                    "type": "string",
                    "description": "\u041f\u0440\u0430\u0432\u043e\u0432\u043e\u0439 \u0441\u0442\u0430\u0442\u0443\u0441 (individual, legal)"
                  },
                  "city": {
                    "type": "integer",
                    "description": "ID \u0433\u043e\u0440\u043e\u0434\u0430"
                  },
                  "phone": {
                    "type": "string",
                    "description": "\u041d\u043e\u043c\u0435\u0440 \u0442\u0435\u043b\u0435\u0444\u043e\u043d\u0430"
                  },
                  "driver_licence": {
                    "type": "string",
                    "format": "binary",
                    "description": "\u0424\u043e\u0442\u043e \u0432\u043e\u0434\u0438\u0442\u0435\u043b\u044c\u0441\u043a\u043e\u0433\u043e \u0443\u0434\u043e\u0441\u0442\u043e\u0432\u0435\u0440\u0435\u043d\u0438\u044f"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "\u0420\u0435\u0433\u0438\u0441\u0442\u0440\u0430\u0446\u0438\u044f \u0443\u0441\u043f\u0435\u0448\u043d\u0430"
          },
          "400": {
            "description": "\u041d\u0435\u0432\u0435\u0440\u043d\u044b\u0435 \u0434\u0430\u043d\u043d\u044b\u0435 \u0438\u043b\u0438 \u043e\u0442\u0441\u0443\u0442\u0441\u0442\u0432\u0443\u044e\u0442 \u043e\u0431\u044f\u0437\u0430\u0442\u0435\u043b\u044c\u043d\u044b\u0435 \u043f\u043e\u043b\u044f",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "\u0422\u043e\u043a\u0435\u043d \u043d\u0435\u0432\u0430\u043b\u0438\u0434\u0435\u043d",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/src/fcmtoken/partner/create/": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "\u0420\u0435\u0433\u0438\u0441\u0442\u0440\u0430\u0446\u0438\u044f FCM \u0442\u043e\u043a\u0435\u043d\u0430 \u0443\u0441\u0442\u0440\u043e\u0439\u0441\u0442\u0432\u0430",
        "description": "\u0420\u0435\u0433\u0438\u0441\u0442\u0440\u0438\u0440\u0443\u0435\u0442 Firebase Cloud Messaging \u0442\u043e\u043a\u0435\u043d \u0443\u0441\u0442\u0440\u043e\u0439\u0441\u0442\u0432\u0430 \u0434\u043b\u044f \u043e\u0442\u043f\u0440\u0430\u0432\u043a\u0438 push-\u0443\u0432\u0435\u0434\u043e\u043c\u043b\u0435\u043d\u0438\u0439.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FCMTokenRequest"
              },
              "example": {
                "token": "fcm_token_string",
                "device_id": "unique_device_id"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "FCM \u0442\u043e\u043a\u0435\u043d \u0437\u0430\u0440\u0435\u0433\u0438\u0441\u0442\u0440\u0438\u0440\u043e\u0432\u0430\u043d"
          },
          "400": {
            "description": "\u041d\u0435\u0432\u0435\u0440\u043d\u044b\u0435 \u0434\u0430\u043d\u043d\u044b\u0435",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "\u0422\u043e\u043a\u0435\u043d \u043d\u0435\u0432\u0430\u043b\u0438\u0434\u0435\u043d",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/src/partner/deposit-payment/": {
      "post": {
        "tags": [
          "Services"
        ],
        "summary": "\u0421\u043e\u0437\u0434\u0430\u043d\u0438\u0435 \u0441\u0441\u044b\u043b\u043a\u0438 \u043d\u0430 \u043e\u043f\u043b\u0430\u0442\u0443 \u0434\u0435\u043f\u043e\u0437\u0438\u0442\u0430",
        "description": "\u0421\u043e\u0437\u0434\u0430\u0435\u0442 \u0441\u0441\u044b\u043b\u043a\u0443 \u0434\u043b\u044f \u043e\u043f\u043b\u0430\u0442\u044b \u0434\u0435\u043f\u043e\u0437\u0438\u0442\u0430 \u043f\u0430\u0440\u0442\u043d\u0435\u0440\u0430 \u0447\u0435\u0440\u0435\u0437 \u043f\u043b\u0430\u0442\u0435\u0436\u043d\u0443\u044e \u0441\u0438\u0441\u0442\u0435\u043c\u0443.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "\u0421\u0441\u044b\u043b\u043a\u0430 \u0441\u043e\u0437\u0434\u0430\u043d\u0430",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentLinkResponse"
                },
                "example": {
                  "link": "https://payment.example.com/pay?token=..."
                }
              }
            }
          },
          "400": {
            "description": "\u041e\u0448\u0438\u0431\u043a\u0430 \u0441\u043e\u0437\u0434\u0430\u043d\u0438\u044f \u0441\u0441\u044b\u043b\u043a\u0438",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "\u0422\u043e\u043a\u0435\u043d \u043d\u0435\u0432\u0430\u043b\u0438\u0434\u0435\u043d",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/src/partner/partner-services/": {
      "get": {
        "tags": [
          "Services"
        ],
        "summary": "\u041f\u043e\u043b\u0443\u0447\u0435\u043d\u0438\u0435 \u0443\u0441\u043b\u0443\u0433 \u043f\u0430\u0440\u0442\u043d\u0435\u0440\u0430",
        "description": "\u0412\u043e\u0437\u0432\u0440\u0430\u0449\u0430\u0435\u0442 \u0441\u043f\u0438\u0441\u043e\u043a \u0432\u0441\u0435\u0445 \u0443\u0441\u043b\u0443\u0433 \u043f\u0430\u0440\u0442\u043d\u0435\u0440\u0430 \u0441 \u0438\u0445 \u0441\u0442\u0430\u0442\u0443\u0441\u0430\u043c\u0438, \u043e\u043f\u0446\u0438\u044f\u043c\u0438 \u0438 \u043a\u0430\u0442\u0435\u0433\u043e\u0440\u0438\u044f\u043c\u0438 \u0442\u0435\u0445\u043d\u0438\u043a\u0438.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "\u0421\u043f\u0438\u0441\u043e\u043a \u0443\u0441\u043b\u0443\u0433 \u043f\u0430\u0440\u0442\u043d\u0435\u0440\u0430",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceStatusResponse"
                }
              }
            }
          },
          "401": {
            "description": "\u0422\u043e\u043a\u0435\u043d \u043d\u0435\u0432\u0430\u043b\u0438\u0434\u0435\u043d",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/src/utils/get-categories-and-options-for-service/": {
      "get": {
        "tags": [
          "Services"
        ],
        "summary": "\u041f\u043e\u043b\u0443\u0447\u0435\u043d\u0438\u0435 \u043a\u0430\u0442\u0435\u0433\u043e\u0440\u0438\u0439 \u0438 \u043e\u043f\u0446\u0438\u0439 \u0434\u043b\u044f \u0443\u0441\u043b\u0443\u0433\u0438",
        "description": "\u0412\u043e\u0437\u0432\u0440\u0430\u0449\u0430\u0435\u0442 \u0441\u043f\u0438\u0441\u043e\u043a \u0434\u043e\u0441\u0442\u0443\u043f\u043d\u044b\u0445 \u043a\u0430\u0442\u0435\u0433\u043e\u0440\u0438\u0439 \u0442\u0435\u0445\u043d\u0438\u043a\u0438 \u0438 \u043e\u043f\u0446\u0438\u0439 \u0434\u043b\u044f \u0441\u043e\u0437\u0434\u0430\u043d\u0438\u044f \u0438\u043b\u0438 \u043e\u0431\u043d\u043e\u0432\u043b\u0435\u043d\u0438\u044f \u0443\u0441\u043b\u0443\u0433\u0438 \u043f\u0430\u0440\u0442\u043d\u0435\u0440\u0430.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "option__service_id",
            "in": "query",
            "description": "\u0424\u0438\u043b\u044c\u0442\u0440 \u043f\u043e ID \u0443\u0441\u043b\u0443\u0433\u0438",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "technic_category_id",
            "in": "query",
            "description": "\u0424\u0438\u043b\u044c\u0442\u0440 \u043f\u043e ID \u043a\u0430\u0442\u0435\u0433\u043e\u0440\u0438\u0438 \u0442\u0435\u0445\u043d\u0438\u043a\u0438",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "\u0421\u043f\u0438\u0441\u043e\u043a \u043a\u0430\u0442\u0435\u0433\u043e\u0440\u0438\u0439 \u0438 \u043e\u043f\u0446\u0438\u0439",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateServiceResponse"
                }
              }
            }
          },
          "401": {
            "description": "\u0422\u043e\u043a\u0435\u043d \u043d\u0435\u0432\u0430\u043b\u0438\u0434\u0435\u043d",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/src/partner/create-partner-service/": {
      "post": {
        "tags": [
          "Services"
        ],
        "summary": "\u0421\u043e\u0437\u0434\u0430\u043d\u0438\u0435 \u0443\u0441\u043b\u0443\u0433\u0438 \u043f\u0430\u0440\u0442\u043d\u0435\u0440\u0430",
        "description": "\u0421\u043e\u0437\u0434\u0430\u0435\u0442 \u043d\u043e\u0432\u0443\u044e \u0443\u0441\u043b\u0443\u0433\u0443 \u043f\u0430\u0440\u0442\u043d\u0435\u0440\u0430 \u0441 \u0443\u043a\u0430\u0437\u0430\u043d\u043d\u044b\u043c\u0438 \u043e\u043f\u0446\u0438\u044f\u043c\u0438 \u0438 \u043a\u0430\u0442\u0435\u0433\u043e\u0440\u0438\u0435\u0439 \u0442\u0435\u0445\u043d\u0438\u043a\u0438. \u0415\u0441\u043b\u0438 service_id == 4, \u0442\u043e technic_category_id \u0434\u043e\u043b\u0436\u0435\u043d \u0431\u044b\u0442\u044c null.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateServiceRequest"
              },
              "example": {
                "service_id": 1,
                "options_list": [
                  1,
                  2,
                  3
                ],
                "technic_category_id": 2
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "\u0423\u0441\u043b\u0443\u0433\u0430 \u0441\u043e\u0437\u0434\u0430\u043d\u0430"
          },
          "400": {
            "description": "\u041d\u0435\u0432\u0435\u0440\u043d\u044b\u0435 \u0434\u0430\u043d\u043d\u044b\u0435 \u0438\u043b\u0438 \u043a\u043e\u043d\u0444\u043b\u0438\u043a\u0442",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "\u0422\u043e\u043a\u0435\u043d \u043d\u0435\u0432\u0430\u043b\u0438\u0434\u0435\u043d",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/src/partner/{id}/update-partner-service/": {
      "patch": {
        "tags": [
          "Services"
        ],
        "summary": "\u041e\u0431\u043d\u043e\u0432\u043b\u0435\u043d\u0438\u0435 \u0443\u0441\u043b\u0443\u0433\u0438 \u043f\u0430\u0440\u0442\u043d\u0435\u0440\u0430",
        "description": "\u041e\u0431\u043d\u043e\u0432\u043b\u044f\u0435\u0442 \u0441\u0443\u0449\u0435\u0441\u0442\u0432\u0443\u044e\u0449\u0443\u044e \u0443\u0441\u043b\u0443\u0433\u0443 \u043f\u0430\u0440\u0442\u043d\u0435\u0440\u0430. \u0415\u0441\u043b\u0438 service_id == 4, \u0442\u043e technic_category_id \u0434\u043e\u043b\u0436\u0435\u043d \u0431\u044b\u0442\u044c null.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID \u0443\u0441\u043b\u0443\u0433\u0438 \u043f\u0430\u0440\u0442\u043d\u0435\u0440\u0430 \u0434\u043b\u044f \u043e\u0431\u043d\u043e\u0432\u043b\u0435\u043d\u0438\u044f",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateServiceRequest"
              },
              "example": {
                "service_id": 1,
                "options_list": [
                  1,
                  2,
                  3
                ],
                "technic_category_id": 2
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "\u0423\u0441\u043b\u0443\u0433\u0430 \u043e\u0431\u043d\u043e\u0432\u043b\u0435\u043d\u0430"
          },
          "400": {
            "description": "\u041d\u0435\u0432\u0435\u0440\u043d\u044b\u0435 \u0434\u0430\u043d\u043d\u044b\u0435",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "\u0422\u043e\u043a\u0435\u043d \u043d\u0435\u0432\u0430\u043b\u0438\u0434\u0435\u043d",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "\u0423\u0441\u043b\u0443\u0433\u0430 \u043d\u0435 \u043d\u0430\u0439\u0434\u0435\u043d\u0430",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/src/partner/change-partner-working-status/": {
      "patch": {
        "tags": [
          "Services"
        ],
        "summary": "\u0418\u0437\u043c\u0435\u043d\u0435\u043d\u0438\u0435 \u0441\u0442\u0430\u0442\u0443\u0441\u0430 \u0440\u0430\u0431\u043e\u0442\u044b \u043f\u0430\u0440\u0442\u043d\u0435\u0440\u0430",
        "description": "\u0412\u043a\u043b\u044e\u0447\u0430\u0435\u0442 \u0438\u043b\u0438 \u0432\u044b\u043a\u043b\u044e\u0447\u0430\u0435\u0442 \u0441\u0442\u0430\u0442\u0443\u0441 \u0440\u0430\u0431\u043e\u0442\u044b \u043f\u0430\u0440\u0442\u043d\u0435\u0440\u0430 (\u0434\u043e\u0441\u0442\u0443\u043f\u0435\u043d \u043b\u0438 \u0434\u043b\u044f \u043f\u043e\u043b\u0443\u0447\u0435\u043d\u0438\u044f \u0437\u0430\u043a\u0430\u0437\u043e\u0432).",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "is_working"
                ],
                "properties": {
                  "is_working": {
                    "type": "boolean",
                    "description": "\u0421\u0442\u0430\u0442\u0443\u0441 \u0440\u0430\u0431\u043e\u0442\u044b \u043f\u0430\u0440\u0442\u043d\u0435\u0440\u0430"
                  }
                }
              },
              "example": {
                "is_working": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "\u0421\u0442\u0430\u0442\u0443\u0441 \u043e\u0431\u043d\u043e\u0432\u043b\u0435\u043d",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "is_working": {
                      "type": "boolean"
                    }
                  }
                },
                "example": {
                  "is_working": true
                }
              }
            }
          },
          "400": {
            "description": "\u041d\u0435\u0432\u0435\u0440\u043d\u044b\u0435 \u0434\u0430\u043d\u043d\u044b\u0435",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "\u0422\u043e\u043a\u0435\u043d \u043d\u0435\u0432\u0430\u043b\u0438\u0434\u0435\u043d",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/src/partner/get-partner-orders/": {
      "get": {
        "tags": [
          "Orders"
        ],
        "summary": "\u041f\u043e\u043b\u0443\u0447\u0435\u043d\u0438\u0435 \u0441\u043f\u0438\u0441\u043a\u0430 \u0437\u0430\u043a\u0430\u0437\u043e\u0432",
        "description": "\u0412\u043e\u0437\u0432\u0440\u0430\u0449\u0430\u0435\u0442 \u0441\u043f\u0438\u0441\u043e\u043a \u0437\u0430\u043a\u0430\u0437\u043e\u0432 \u043f\u0430\u0440\u0442\u043d\u0435\u0440\u0430, \u043e\u0442\u0444\u0438\u043b\u044c\u0442\u0440\u043e\u0432\u0430\u043d\u043d\u044b\u0445 \u043f\u043e \u0441\u0442\u0430\u0442\u0443\u0441\u0443.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "order_kind",
            "in": "query",
            "required": true,
            "description": "\u0422\u0438\u043f \u0437\u0430\u043a\u0430\u0437\u043e\u0432",
            "schema": {
              "type": "string",
              "enum": [
                "new",
                "in_work",
                "done"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "\u0421\u043f\u0438\u0441\u043e\u043a \u0437\u0430\u043a\u0430\u0437\u043e\u0432",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Order"
                  }
                }
              }
            }
          },
          "400": {
            "description": "\u041d\u0435\u0432\u0435\u0440\u043d\u044b\u0439 \u043f\u0430\u0440\u0430\u043c\u0435\u0442\u0440 order_kind",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "\u0422\u043e\u043a\u0435\u043d \u043d\u0435\u0432\u0430\u043b\u0438\u0434\u0435\u043d",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/src/partner/{id}/accept-order/": {
      "patch": {
        "tags": [
          "Orders"
        ],
        "summary": "\u041f\u0440\u0438\u043d\u044f\u0442\u0438\u0435 \u0437\u0430\u043a\u0430\u0437\u0430",
        "description": "\u041f\u0440\u0438\u043d\u0438\u043c\u0430\u0435\u0442 \u0437\u0430\u043a\u0430\u0437 \u043f\u0430\u0440\u0442\u043d\u0435\u0440\u043e\u043c. \u041e\u0431\u044b\u0447\u043d\u043e \u0432\u044b\u043f\u043e\u043b\u043d\u044f\u0435\u0442\u0441\u044f \u0447\u0435\u0440\u0435\u0437 WebSocket, \u043d\u043e \u0442\u0430\u043a\u0436\u0435 \u0434\u043e\u0441\u0442\u0443\u043f\u0435\u043d \u0447\u0435\u0440\u0435\u0437 HTTP.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID \u0437\u0430\u043a\u0430\u0437\u0430 \u0434\u043b\u044f \u043f\u0440\u0438\u043d\u044f\u0442\u0438\u044f",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "\u0417\u0430\u043a\u0430\u0437 \u043f\u0440\u0438\u043d\u044f\u0442"
          },
          "400": {
            "description": "\u0417\u0430\u043a\u0430\u0437 \u0443\u0436\u0435 \u043f\u0440\u0438\u043d\u044f\u0442 \u0438\u043b\u0438 \u043d\u0435\u0434\u043e\u0441\u0442\u0443\u043f\u0435\u043d",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "\u0422\u043e\u043a\u0435\u043d \u043d\u0435\u0432\u0430\u043b\u0438\u0434\u0435\u043d",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "\u0417\u0430\u043a\u0430\u0437 \u043d\u0435 \u043d\u0430\u0439\u0434\u0435\u043d",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/src/partner/commission-payment/": {
      "post": {
        "tags": [
          "Profile"
        ],
        "summary": "\u041e\u043f\u043b\u0430\u0442\u0430 \u043a\u043e\u043c\u0438\u0441\u0441\u0438\u0438",
        "description": "\u0421\u043e\u0437\u0434\u0430\u0435\u0442 \u0441\u0441\u044b\u043b\u043a\u0443 \u0434\u043b\u044f \u043e\u043f\u043b\u0430\u0442\u044b \u043a\u043e\u043c\u0438\u0441\u0441\u0438\u0438 \u043f\u0430\u0440\u0442\u043d\u0435\u0440\u0430.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "pay_amount"
                ],
                "properties": {
                  "pay_amount": {
                    "type": "integer",
                    "description": "\u0421\u0443\u043c\u043c\u0430 \u043e\u043f\u043b\u0430\u0442\u044b"
                  }
                }
              },
              "example": {
                "pay_amount": 1000
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "\u0421\u0441\u044b\u043b\u043a\u0430 \u0441\u043e\u0437\u0434\u0430\u043d\u0430",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentLinkResponse"
                }
              }
            }
          },
          "400": {
            "description": "\u041d\u0435\u0432\u0435\u0440\u043d\u0430\u044f \u0441\u0443\u043c\u043c\u0430 \u0438\u043b\u0438 \u043d\u0435\u0434\u043e\u0441\u0442\u0430\u0442\u043e\u0447\u043d\u043e \u0441\u0440\u0435\u0434\u0441\u0442\u0432",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "\u0422\u043e\u043a\u0435\u043d \u043d\u0435\u0432\u0430\u043b\u0438\u0434\u0435\u043d",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/src/question-answer/partner-questions/": {
      "get": {
        "tags": [
          "Profile"
        ],
        "summary": "\u041f\u043e\u043b\u0443\u0447\u0435\u043d\u0438\u0435 \u0441\u043f\u0438\u0441\u043a\u0430 \u0432\u043e\u043f\u0440\u043e\u0441\u043e\u0432",
        "description": "\u0412\u043e\u0437\u0432\u0440\u0430\u0449\u0430\u0435\u0442 \u0441\u043f\u0438\u0441\u043e\u043a \u0447\u0430\u0441\u0442\u043e \u0437\u0430\u0434\u0430\u0432\u0430\u0435\u043c\u044b\u0445 \u0432\u043e\u043f\u0440\u043e\u0441\u043e\u0432 \u0438 \u043e\u0442\u0432\u0435\u0442\u043e\u0432 \u0434\u043b\u044f \u043f\u0430\u0440\u0442\u043d\u0435\u0440\u043e\u0432.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "\u0421\u043f\u0438\u0441\u043e\u043a \u0432\u043e\u043f\u0440\u043e\u0441\u043e\u0432",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Question"
                  }
                }
              }
            }
          },
          "401": {
            "description": "\u0422\u043e\u043a\u0435\u043d \u043d\u0435\u0432\u0430\u043b\u0438\u0434\u0435\u043d",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/src/partner/get-partner-profile/": {
      "get": {
        "tags": [
          "Profile"
        ],
        "summary": "\u041f\u043e\u043b\u0443\u0447\u0435\u043d\u0438\u0435 \u043f\u0440\u043e\u0444\u0438\u043b\u044f \u043f\u0430\u0440\u0442\u043d\u0435\u0440\u0430",
        "description": "\u0412\u043e\u0437\u0432\u0440\u0430\u0449\u0430\u0435\u0442 \u043f\u043e\u043b\u043d\u0443\u044e \u0438\u043d\u0444\u043e\u0440\u043c\u0430\u0446\u0438\u044e \u043e \u043f\u0440\u043e\u0444\u0438\u043b\u0435 \u043f\u0430\u0440\u0442\u043d\u0435\u0440\u0430.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "\u041f\u0440\u043e\u0444\u0438\u043b\u044c \u043f\u0430\u0440\u0442\u043d\u0435\u0440\u0430",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            }
          },
          "401": {
            "description": "\u0422\u043e\u043a\u0435\u043d \u043d\u0435\u0432\u0430\u043b\u0438\u0434\u0435\u043d",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/src/partner/update-partner-profile/": {
      "patch": {
        "tags": [
          "Profile"
        ],
        "summary": "\u041e\u0431\u043d\u043e\u0432\u043b\u0435\u043d\u0438\u0435 \u043f\u0440\u043e\u0444\u0438\u043b\u044f \u043f\u0430\u0440\u0442\u043d\u0435\u0440\u0430",
        "description": "\u041e\u0431\u043d\u043e\u0432\u043b\u044f\u0435\u0442 \u0434\u0430\u043d\u043d\u044b\u0435 \u043f\u0440\u043e\u0444\u0438\u043b\u044f \u043f\u0430\u0440\u0442\u043d\u0435\u0440\u0430. \u041c\u043e\u0436\u043d\u043e \u043e\u0431\u043d\u043e\u0432\u0438\u0442\u044c \u0438\u043c\u044f, \u0444\u0430\u043c\u0438\u043b\u0438\u044e, \u0433\u043e\u0440\u043e\u0434, \u043f\u0440\u0430\u0432\u043e\u0432\u043e\u0439 \u0441\u0442\u0430\u0442\u0443\u0441 \u0438/\u0438\u043b\u0438 \u0444\u043e\u0442\u043e.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "photo": {
                    "type": "string",
                    "format": "binary",
                    "description": "\u041d\u043e\u0432\u043e\u0435 \u0444\u043e\u0442\u043e \u043f\u0440\u043e\u0444\u0438\u043b\u044f"
                  },
                  "first_name": {
                    "type": "string",
                    "description": "\u0418\u043c\u044f"
                  },
                  "last_name": {
                    "type": "string",
                    "description": "\u0424\u0430\u043c\u0438\u043b\u0438\u044f"
                  },
                  "legal_status": {
                    "type": "string",
                    "description": "\u041f\u0440\u0430\u0432\u043e\u0432\u043e\u0439 \u0441\u0442\u0430\u0442\u0443\u0441"
                  },
                  "city": {
                    "type": "string",
                    "description": "\u0413\u043e\u0440\u043e\u0434 \u0432 \u0444\u043e\u0440\u043c\u0430\u0442\u0435 JSON {\"id\": 1, \"title\": \"\u041c\u043e\u0441\u043a\u0432\u0430\"}"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "\u041f\u0440\u043e\u0444\u0438\u043b\u044c \u043e\u0431\u043d\u043e\u0432\u043b\u0435\u043d"
          },
          "400": {
            "description": "\u041d\u0435\u0432\u0435\u0440\u043d\u044b\u0435 \u0434\u0430\u043d\u043d\u044b\u0435",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "\u0422\u043e\u043a\u0435\u043d \u043d\u0435\u0432\u0430\u043b\u0438\u0434\u0435\u043d",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/src/contacts/get-contacts/": {
      "get": {
        "tags": [
          "Profile"
        ],
        "summary": "\u041f\u043e\u043b\u0443\u0447\u0435\u043d\u0438\u0435 \u043a\u043e\u043d\u0442\u0430\u043a\u0442\u043e\u0432",
        "description": "\u0412\u043e\u0437\u0432\u0440\u0430\u0449\u0430\u0435\u0442 \u043a\u043e\u043d\u0442\u0430\u043a\u0442\u043d\u0443\u044e \u0438\u043d\u0444\u043e\u0440\u043c\u0430\u0446\u0438\u044e \u0441\u043b\u0443\u0436\u0431\u044b \u043f\u043e\u0434\u0434\u0435\u0440\u0436\u043a\u0438.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "\u041a\u043e\u043d\u0442\u0430\u043a\u0442\u043d\u0430\u044f \u0438\u043d\u0444\u043e\u0440\u043c\u0430\u0446\u0438\u044f",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Contacts"
                }
              }
            }
          },
          "401": {
            "description": "\u0422\u043e\u043a\u0435\u043d \u043d\u0435\u0432\u0430\u043b\u0438\u0434\u0435\u043d",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/src/rules/get-rules/": {
      "get": {
        "tags": [
          "Profile"
        ],
        "summary": "\u041f\u043e\u043b\u0443\u0447\u0435\u043d\u0438\u0435 \u043f\u0440\u0430\u0432\u0438\u043b",
        "description": "\u0412\u043e\u0437\u0432\u0440\u0430\u0449\u0430\u0435\u0442 \u043f\u0440\u0430\u0432\u0438\u043b\u0430 \u0438\u0441\u043f\u043e\u043b\u044c\u0437\u043e\u0432\u0430\u043d\u0438\u044f \u0441\u0435\u0440\u0432\u0438\u0441\u0430 \u0434\u043b\u044f \u043f\u0430\u0440\u0442\u043d\u0435\u0440\u043e\u0432.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "\u041f\u0440\u0430\u0432\u0438\u043b\u0430 \u0438\u0441\u043f\u043e\u043b\u044c\u0437\u043e\u0432\u0430\u043d\u0438\u044f",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Rules"
                }
              }
            }
          },
          "401": {
            "description": "\u0422\u043e\u043a\u0435\u043d \u043d\u0435\u0432\u0430\u043b\u0438\u0434\u0435\u043d",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/src/utils/get-cities/": {
      "get": {
        "tags": [
          "Utils"
        ],
        "summary": "\u041f\u043e\u043b\u0443\u0447\u0435\u043d\u0438\u0435 \u0441\u043f\u0438\u0441\u043a\u0430 \u0433\u043e\u0440\u043e\u0434\u043e\u0432",
        "description": "\u0412\u043e\u0437\u0432\u0440\u0430\u0449\u0430\u0435\u0442 \u0441\u043f\u0438\u0441\u043e\u043a \u0432\u0441\u0435\u0445 \u0434\u043e\u0441\u0442\u0443\u043f\u043d\u044b\u0445 \u0433\u043e\u0440\u043e\u0434\u043e\u0432 \u0434\u043b\u044f \u0440\u0435\u0433\u0438\u0441\u0442\u0440\u0430\u0446\u0438\u0438 \u0438 \u0432\u044b\u0431\u043e\u0440\u0430 \u0432 \u043f\u0440\u043e\u0444\u0438\u043b\u0435.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "\u0421\u043f\u0438\u0441\u043e\u043a \u0433\u043e\u0440\u043e\u0434\u043e\u0432",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/City"
                  }
                }
              }
            }
          },
          "401": {
            "description": "\u0422\u043e\u043a\u0435\u043d \u043d\u0435\u0432\u0430\u043b\u0438\u0434\u0435\u043d",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/src/utils/get-app-versions/": {
      "get": {
        "tags": [
          "Utils"
        ],
        "summary": "\u041f\u043e\u043b\u0443\u0447\u0435\u043d\u0438\u0435 \u0432\u0435\u0440\u0441\u0438\u0439 \u043f\u0440\u0438\u043b\u043e\u0436\u0435\u043d\u0438\u044f",
        "description": "\u0412\u043e\u0437\u0432\u0440\u0430\u0449\u0430\u0435\u0442 \u0430\u043a\u0442\u0443\u0430\u043b\u044c\u043d\u044b\u0435 \u0432\u0435\u0440\u0441\u0438\u0438 \u043f\u0440\u0438\u043b\u043e\u0436\u0435\u043d\u0438\u0439 \u0434\u043b\u044f iOS \u0438 Android (\u043f\u0430\u0440\u0442\u043d\u0435\u0440 \u0438 \u043a\u043b\u0438\u0435\u043d\u0442).",
        "responses": {
          "200": {
            "description": "\u0412\u0435\u0440\u0441\u0438\u0438 \u043f\u0440\u0438\u043b\u043e\u0436\u0435\u043d\u0438\u0439",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppVersion"
                }
              }
            }
          }
        }
      }
    },
    "/token/refresh/": {
      "post": {
        "tags": [
          "Tokens"
        ],
        "summary": "\u041e\u0431\u043d\u043e\u0432\u043b\u0435\u043d\u0438\u0435 \u0442\u043e\u043a\u0435\u043d\u0430 \u0434\u043e\u0441\u0442\u0443\u043f\u0430",
        "description": "\u041e\u0431\u043d\u043e\u0432\u043b\u044f\u0435\u0442 access token \u0438\u0441\u043f\u043e\u043b\u044c\u0437\u0443\u044f refresh token. \u0412\u044b\u0437\u044b\u0432\u0430\u0435\u0442\u0441\u044f \u0430\u0432\u0442\u043e\u043c\u0430\u0442\u0438\u0447\u0435\u0441\u043a\u0438 \u043f\u0440\u0438 \u043f\u043e\u043b\u0443\u0447\u0435\u043d\u0438\u0438 401 \u043e\u0448\u0438\u0431\u043a\u0438 \u0441 \u043e\u043f\u0440\u0435\u0434\u0435\u043b\u0435\u043d\u043d\u044b\u043c \u0441\u043e\u043e\u0431\u0449\u0435\u043d\u0438\u0435\u043c.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "refresh"
                ],
                "properties": {
                  "refresh": {
                    "type": "string",
                    "description": "Refresh token"
                  }
                }
              },
              "example": {
                "refresh": "your_refresh_token_here"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "\u0422\u043e\u043a\u0435\u043d\u044b \u043e\u0431\u043d\u043e\u0432\u043b\u0435\u043d\u044b",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenRefreshResponse"
                },
                "example": {
                  "access": "new_access_token",
                  "refresh": "new_refresh_token"
                }
              }
            }
          },
          "401": {
            "description": "Refresh token \u043d\u0435\u0432\u0430\u043b\u0438\u0434\u0435\u043d \u0438\u043b\u0438 \u0438\u0441\u0442\u0435\u043a",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "Bearer Token \u0430\u0443\u0442\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0446\u0438\u044f. \u0422\u043e\u043a\u0435\u043d \u043f\u043e\u043b\u0443\u0447\u0430\u0435\u0442\u0441\u044f \u0447\u0435\u0440\u0435\u0437 /users/auth/partner/verify-code/"
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "properties": {
          "detail": {
            "type": "string",
            "description": "\u041e\u043f\u0438\u0441\u0430\u043d\u0438\u0435 \u043e\u0448\u0438\u0431\u043a\u0438"
          },
          "error": {
            "type": "string",
            "description": "\u0422\u0435\u043a\u0441\u0442 \u043e\u0448\u0438\u0431\u043a\u0438"
          },
          "code": {
            "type": "integer",
            "description": "\u041a\u043e\u0434 \u043e\u0448\u0438\u0431\u043a\u0438"
          }
        }
      },
      "SuccessResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          }
        }
      },
      "PhoneRequest": {
        "type": "object",
        "required": [
          "phone"
        ],
        "properties": {
          "phone": {
            "type": "string",
            "description": "\u041d\u043e\u043c\u0435\u0440 \u0442\u0435\u043b\u0435\u0444\u043e\u043d\u0430 \u0432 \u0444\u043e\u0440\u043c\u0430\u0442\u0435 +79991234567",
            "example": "+79991234567"
          }
        }
      },
      "VerifyCodeRequest": {
        "type": "object",
        "required": [
          "phone",
          "code"
        ],
        "properties": {
          "phone": {
            "type": "string",
            "description": "\u041d\u043e\u043c\u0435\u0440 \u0442\u0435\u043b\u0435\u0444\u043e\u043d\u0430",
            "example": "+79991234567"
          },
          "code": {
            "type": "integer",
            "description": "\u041a\u043e\u0434 \u043f\u043e\u0434\u0442\u0432\u0435\u0440\u0436\u0434\u0435\u043d\u0438\u044f \u0438\u0437 SMS",
            "example": 123456
          }
        }
      },
      "AuthCodeResponse": {
        "type": "object",
        "properties": {
          "access_token": {
            "type": "string",
            "description": "\u0422\u043e\u043a\u0435\u043d \u0434\u043e\u0441\u0442\u0443\u043f\u0430 \u0434\u043b\u044f \u0430\u0432\u0442\u043e\u0440\u0438\u0437\u043e\u0432\u0430\u043d\u043d\u044b\u0445 \u0437\u0430\u043f\u0440\u043e\u0441\u043e\u0432"
          },
          "refresh_token": {
            "type": "string",
            "description": "\u0422\u043e\u043a\u0435\u043d \u0434\u043b\u044f \u043e\u0431\u043d\u043e\u0432\u043b\u0435\u043d\u0438\u044f access_token"
          },
          "is_new": {
            "type": "boolean",
            "description": "\u042f\u0432\u043b\u044f\u0435\u0442\u0441\u044f \u043b\u0438 \u043f\u043e\u043b\u044c\u0437\u043e\u0432\u0430\u0442\u0435\u043b\u044c \u043d\u043e\u0432\u044b\u043c (\u0442\u0440\u0435\u0431\u0443\u0435\u0442\u0441\u044f \u0440\u0435\u0433\u0438\u0441\u0442\u0440\u0430\u0446\u0438\u044f)"
          },
          "is_active": {
            "type": "boolean",
            "description": "\u0410\u043a\u0442\u0438\u0432\u0435\u043d \u043b\u0438 \u0430\u043a\u043a\u0430\u0443\u043d\u0442 \u043f\u0430\u0440\u0442\u043d\u0435\u0440\u0430"
          }
        }
      },
      "FCMTokenRequest": {
        "type": "object",
        "required": [
          "token",
          "device_id"
        ],
        "properties": {
          "token": {
            "type": "string",
            "description": "FCM \u0442\u043e\u043a\u0435\u043d \u0443\u0441\u0442\u0440\u043e\u0439\u0441\u0442\u0432\u0430"
          },
          "device_id": {
            "type": "string",
            "description": "\u0423\u043d\u0438\u043a\u0430\u043b\u044c\u043d\u044b\u0439 \u0438\u0434\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0442\u043e\u0440 \u0443\u0441\u0442\u0440\u043e\u0439\u0441\u0442\u0432\u0430"
          }
        }
      },
      "PaymentLinkResponse": {
        "type": "object",
        "properties": {
          "link": {
            "type": "string",
            "format": "uri",
            "description": "URL \u0434\u043b\u044f \u043e\u043f\u043b\u0430\u0442\u044b"
          }
        }
      },
      "ServiceStatusResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "description": "\u0421\u0442\u0430\u0442\u0443\u0441 \u043f\u0430\u0440\u0442\u043d\u0435\u0440\u0430"
          },
          "deposit_balance_flag": {
            "type": "boolean",
            "description": "\u0424\u043b\u0430\u0433 \u043d\u0430\u043b\u0438\u0447\u0438\u044f \u0434\u0435\u043f\u043e\u0437\u0438\u0442\u0430"
          },
          "partner_is_working": {
            "type": "boolean",
            "description": "\u0420\u0430\u0431\u043e\u0442\u0430\u0435\u0442 \u043b\u0438 \u043f\u0430\u0440\u0442\u043d\u0435\u0440 \u0441\u0435\u0439\u0447\u0430\u0441"
          },
          "services": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ServiceList"
            }
          }
        }
      },
      "ServiceList": {
        "type": "object",
        "properties": {
          "service": {
            "$ref": "#/components/schemas/Service"
          },
          "technic_category": {
            "$ref": "#/components/schemas/TechnicCategory"
          },
          "options": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Option"
            }
          }
        }
      },
      "Service": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "title": {
            "type": "string"
          }
        }
      },
      "TechnicCategory": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "title": {
            "type": "string"
          }
        }
      },
      "Option": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "title": {
            "type": "string"
          },
          "price": {
            "type": "number"
          },
          "service_id": {
            "type": "integer"
          }
        }
      },
      "CreateServiceResponse": {
        "type": "object",
        "properties": {
          "services": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Service"
            }
          },
          "technic_categories": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TechnicCategory"
            }
          },
          "options": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Option"
            }
          }
        }
      },
      "CreateServiceRequest": {
        "type": "object",
        "required": [
          "service_id",
          "options_list"
        ],
        "properties": {
          "service_id": {
            "type": "integer",
            "description": "ID \u0443\u0441\u043b\u0443\u0433\u0438. \u0415\u0441\u043b\u0438 \u0440\u0430\u0432\u0435\u043d 4, \u0442\u043e technic_category_id \u0434\u043e\u043b\u0436\u0435\u043d \u0431\u044b\u0442\u044c null"
          },
          "options_list": {
            "type": "array",
            "items": {
              "type": "integer"
            },
            "description": "\u0421\u043f\u0438\u0441\u043e\u043a ID \u043e\u043f\u0446\u0438\u0439"
          },
          "technic_category_id": {
            "type": "integer",
            "nullable": true,
            "description": "ID \u043a\u0430\u0442\u0435\u0433\u043e\u0440\u0438\u0438 \u0442\u0435\u0445\u043d\u0438\u043a\u0438. \u0414\u043e\u043b\u0436\u0435\u043d \u0431\u044b\u0442\u044c null \u0435\u0441\u043b\u0438 service_id == 4"
          }
        }
      },
      "Order": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "ID \u0437\u0430\u043a\u0430\u0437\u0430"
          },
          "technic_category": {
            "type": "integer",
            "nullable": true,
            "description": "ID \u043a\u0430\u0442\u0435\u0433\u043e\u0440\u0438\u0438 \u0442\u0435\u0445\u043d\u0438\u043a\u0438"
          },
          "service": {
            "$ref": "#/components/schemas/OptionIndivid"
          },
          "options": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OptionIndivid"
            }
          },
          "address": {
            "type": "string",
            "description": "\u0410\u0434\u0440\u0435\u0441 \u0432\u044b\u043f\u043e\u043b\u043d\u0435\u043d\u0438\u044f \u0437\u0430\u043a\u0430\u0437\u0430"
          },
          "conditions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Condition"
            }
          },
          "options_price": {
            "type": "number",
            "description": "\u0421\u0442\u043e\u0438\u043c\u043e\u0441\u0442\u044c \u043e\u043f\u0446\u0438\u0439"
          },
          "delivery_price": {
            "type": "number",
            "description": "\u0421\u0442\u043e\u0438\u043c\u043e\u0441\u0442\u044c \u0434\u043e\u0441\u0442\u0430\u0432\u043a\u0438"
          },
          "datetime_created": {
            "type": "string",
            "format": "date-time",
            "description": "\u0414\u0430\u0442\u0430 \u0438 \u0432\u0440\u0435\u043c\u044f \u0441\u043e\u0437\u0434\u0430\u043d\u0438\u044f"
          },
          "time_created": {
            "type": "string",
            "description": "\u0412\u0440\u0435\u043c\u044f \u0441\u043e\u0437\u0434\u0430\u043d\u0438\u044f"
          },
          "comment": {
            "type": "string",
            "nullable": true,
            "description": "\u041a\u043e\u043c\u043c\u0435\u043d\u0442\u0430\u0440\u0438\u0439 \u043a\u043b\u0438\u0435\u043d\u0442\u0430"
          },
          "technic_brand_model": {
            "type": "string",
            "nullable": true,
            "description": "\u041c\u043e\u0434\u0435\u043b\u044c \u0442\u0435\u0445\u043d\u0438\u043a\u0438"
          },
          "status": {
            "type": "string",
            "description": "\u0421\u0442\u0430\u0442\u0443\u0441 \u0437\u0430\u043a\u0430\u0437\u0430",
            "enum": [
              "new",
              "on_the_way",
              "in_progress",
              "on_confirmation",
              "in_work",
              "done",
              "cancelled"
            ]
          },
          "client": {
            "$ref": "#/components/schemas/Client"
          },
          "commission": {
            "type": "number",
            "description": "\u041a\u043e\u043c\u0438\u0441\u0441\u0438\u044f \u043f\u0430\u0440\u0442\u043d\u0435\u0440\u0430"
          }
        }
      },
      "OptionIndivid": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "title": {
            "type": "string"
          },
          "price": {
            "type": "number"
          }
        }
      },
      "Condition": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "title": {
            "type": "string"
          }
        }
      },
      "Client": {
        "type": "object",
        "nullable": true,
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "phone": {
            "type": "string"
          }
        }
      },
      "Question": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "question": {
            "type": "string"
          },
          "answer": {
            "type": "string"
          }
        }
      },
      "Account": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "first_name": {
            "type": "string"
          },
          "last_name": {
            "type": "string"
          },
          "legal_status": {
            "type": "string"
          },
          "photo": {
            "type": "string",
            "nullable": true,
            "format": "uri"
          },
          "phone": {
            "type": "string"
          },
          "city": {
            "$ref": "#/components/schemas/City"
          },
          "commission_balance": {
            "type": "number"
          },
          "profit": {
            "type": "number"
          }
        }
      },
      "City": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "title": {
            "type": "string"
          }
        }
      },
      "Contacts": {
        "type": "object",
        "properties": {
          "phone": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "address": {
            "type": "string"
          }
        }
      },
      "Rules": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string"
          },
          "content": {
            "type": "string"
          }
        }
      },
      "AppVersion": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "ios_partner": {
            "type": "string",
            "description": "\u0412\u0435\u0440\u0441\u0438\u044f iOS \u043f\u0440\u0438\u043b\u043e\u0436\u0435\u043d\u0438\u044f \u0434\u043b\u044f \u043f\u0430\u0440\u0442\u043d\u0435\u0440\u043e\u0432"
          },
          "android_partner": {
            "type": "string",
            "description": "\u0412\u0435\u0440\u0441\u0438\u044f Android \u043f\u0440\u0438\u043b\u043e\u0436\u0435\u043d\u0438\u044f \u0434\u043b\u044f \u043f\u0430\u0440\u0442\u043d\u0435\u0440\u043e\u0432"
          },
          "ios_client": {
            "type": "string",
            "description": "\u0412\u0435\u0440\u0441\u0438\u044f iOS \u043f\u0440\u0438\u043b\u043e\u0436\u0435\u043d\u0438\u044f \u0434\u043b\u044f \u043a\u043b\u0438\u0435\u043d\u0442\u043e\u0432"
          },
          "android_client": {
            "type": "string",
            "description": "\u0412\u0435\u0440\u0441\u0438\u044f Android \u043f\u0440\u0438\u043b\u043e\u0436\u0435\u043d\u0438\u044f \u0434\u043b\u044f \u043a\u043b\u0438\u0435\u043d\u0442\u043e\u0432"
          }
        }
      },
      "TokenRefreshResponse": {
        "type": "object",
        "properties": {
          "access": {
            "type": "string",
            "description": "\u041d\u043e\u0432\u044b\u0439 access token"
          },
          "refresh": {
            "type": "string",
            "description": "\u041d\u043e\u0432\u044b\u0439 refresh token"
          }
        }
      }
    }
  },
  "x-websocket": {
    "description": "API \u0442\u0430\u043a\u0436\u0435 \u043f\u043e\u0434\u0434\u0435\u0440\u0436\u0438\u0432\u0430\u0435\u0442 WebSocket \u0441\u043e\u0435\u0434\u0438\u043d\u0435\u043d\u0438\u044f \u0434\u043b\u044f \u043f\u043e\u043b\u0443\u0447\u0435\u043d\u0438\u044f \u0443\u0432\u0435\u0434\u043e\u043c\u043b\u0435\u043d\u0438\u0439 \u0432 \u0440\u0435\u0430\u043b\u044c\u043d\u043e\u043c \u0432\u0440\u0435\u043c\u0435\u043d\u0438.\n\n## \u041e\u0431\u0449\u0438\u0439 \u043a\u0430\u043d\u0430\u043b \u0434\u043b\u044f \u0437\u0430\u043a\u0430\u0437\u043e\u0432\n**URL:** `ws://api.sluzhba911.online/ws/general/?={token}`\n\n**\u041a\u043e\u043c\u0430\u043d\u0434\u044b \u043e\u0442\u043f\u0440\u0430\u0432\u043b\u044f\u0435\u043c\u044b\u0435 \u043a\u043b\u0438\u0435\u043d\u0442\u043e\u043c:**\n- `{\"command\": \"accept_order\", \"order_id\": 123, \"status\": \"in_work\"}` - \u041f\u0440\u0438\u043d\u044f\u0442\u0438\u0435 \u0437\u0430\u043a\u0430\u0437\u0430\n- `{\"command\": \"change_options\", \"order_id\": 123, \"option_ids\": [1, 2, 3]}` - \u0418\u0437\u043c\u0435\u043d\u0435\u043d\u0438\u0435 \u043e\u043f\u0446\u0438\u0439 \u0437\u0430\u043a\u0430\u0437\u0430\n\n**\u0421\u043e\u043e\u0431\u0449\u0435\u043d\u0438\u044f \u043f\u043e\u043b\u0443\u0447\u0430\u0435\u043c\u044b\u0435 \u043e\u0442 \u0441\u0435\u0440\u0432\u0435\u0440\u0430:**\n- `{\"type\": \"notify\", \"data\": {...}}` - \u0423\u0432\u0435\u0434\u043e\u043c\u043b\u0435\u043d\u0438\u0435 \u043e \u043d\u043e\u0432\u043e\u043c \u0437\u0430\u043a\u0430\u0437\u0435\n- `{\"type\": \"change_status\", \"status\": \"done\", \"order_id\": 123, \"partner_commission_balance\": -100}` - \u0418\u0437\u043c\u0435\u043d\u0435\u043d\u0438\u0435 \u0441\u0442\u0430\u0442\u0443\u0441\u0430 \u0437\u0430\u043a\u0430\u0437\u0430\n- `{\"type\": \"accept_order_command\", \"order_id\": 123}` - \u041f\u043e\u0434\u0442\u0432\u0435\u0440\u0436\u0434\u0435\u043d\u0438\u0435 \u043f\u0440\u0438\u043d\u044f\u0442\u0438\u044f \u0437\u0430\u043a\u0430\u0437\u0430\n- `{\"type\": \"change_options\", \"order_id\": 123, \"new_price\": 1500}` - \u0418\u0437\u043c\u0435\u043d\u0435\u043d\u0438\u0435 \u043e\u043f\u0446\u0438\u0439 \u0437\u0430\u043a\u0430\u0437\u0430\n- `{\"error\": \"\u0422\u0435\u043a\u0441\u0442 \u043e\u0448\u0438\u0431\u043a\u0438\", \"code\": 400}` - \u041e\u0448\u0438\u0431\u043a\u0430\n\n## \u0427\u0430\u0442 \u043f\u043e \u043a\u043e\u043d\u043a\u0440\u0435\u0442\u043d\u043e\u043c\u0443 \u0437\u0430\u043a\u0430\u0437\u0443\n**URL:** `ws://api.sluzhba911.online/ws/chat/{orderId}/?={token}`\n\n**\u041a\u043e\u043c\u0430\u043d\u0434\u044b \u043e\u0442\u043f\u0440\u0430\u0432\u043b\u044f\u0435\u043c\u044b\u0435 \u043a\u043b\u0438\u0435\u043d\u0442\u043e\u043c:**\n- `{\"command\": \"connect_to_chat\", \"order_id\": 123}` - \u041f\u043e\u0434\u043a\u043b\u044e\u0447\u0435\u043d\u0438\u0435 \u043a \u0447\u0430\u0442\u0443\n- `{\"command\": \"get_history\", \"page\": 1}` - \u041f\u043e\u043b\u0443\u0447\u0435\u043d\u0438\u0435 \u0438\u0441\u0442\u043e\u0440\u0438\u0438 \u0441\u043e\u043e\u0431\u0449\u0435\u043d\u0438\u0439\n- `{\"command\": \"new_message\", \"message_text\": \"\u0422\u0435\u043a\u0441\u0442 \u0441\u043e\u043e\u0431\u0449\u0435\u043d\u0438\u044f\"}` - \u041e\u0442\u043f\u0440\u0430\u0432\u043a\u0430 \u043d\u043e\u0432\u043e\u0433\u043e \u0441\u043e\u043e\u0431\u0449\u0435\u043d\u0438\u044f\n\n**\u0421\u043e\u043e\u0431\u0449\u0435\u043d\u0438\u044f \u043f\u043e\u043b\u0443\u0447\u0430\u0435\u043c\u044b\u0435 \u043e\u0442 \u0441\u0435\u0440\u0432\u0435\u0440\u0430:**\n- `{\"message_data\": [{\"id\": 1, \"author\": 1, \"content\": \"...\", \"created_at\": \"...\", \"user_type\": \"partner\"}]}` - \u0418\u0441\u0442\u043e\u0440\u0438\u044f \u0441\u043e\u043e\u0431\u0449\u0435\u043d\u0438\u0439\n- `{\"id\": 1, \"author\": 1, \"content\": \"...\", \"created_at\": \"...\", \"user_type\": \"partner\"}` - \u041d\u043e\u0432\u043e\u0435 \u0441\u043e\u043e\u0431\u0449\u0435\u043d\u0438\u0435\n- `{\"error_message\": \"Invalid token\"}` - \u041e\u0448\u0438\u0431\u043a\u0430 \u0442\u043e\u043a\u0435\u043d\u0430"
  }
}