{
  "openapi": "3.0.3",
  "info": {
    "title": "GovInfo Developer Hub",
    "version": "v0",
    "description": "The GovInfo API provides programmatic access to GovInfo content and metadata, official publications from all three branches of the Federal Government. Supports search, collections, packages, granules, and related content discovery.",
    "contact": {
      "url": "https://www.govinfo.gov"
    },
    "x-jentic-source-url": "https://github.com/usgpo/api/blob/main/README.md"
  },
  "servers": [
    {
      "url": "https://api.govinfo.gov"
    }
  ],
  "security": [
    {
      "apiKey": []
    }
  ],
  "paths": {
    "/collections": {
      "get": {
        "operationId": "getCollections",
        "summary": "List Collections",
        "description": "Provides a JSON list of the collections available in GovInfo system, including a collectionCode, collectionName, packageCount, and granuleCount (as applicable).",
        "tags": [
          "Collections"
        ],
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "default": "DEMO_KEY"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of collections",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CollectionsResponse"
                }
              }
            }
          },
          "403": {
            "description": "API key missing"
          }
        }
      }
    },
    "/collections/{collectionCode}/{startDate}": {
      "get": {
        "operationId": "getCollectionPackages",
        "summary": "Collection Packages by Date Range",
        "description": "Returns a list of packageIds that have been added or modified within the specified time period for a given collection.",
        "tags": [
          "Collections"
        ],
        "parameters": [
          {
            "name": "collectionCode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The collection code, e.g. BILLS, CREC, USCOURTS"
          },
          {
            "name": "startDate",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ISO8601 date-time: YYYY-MM-DDThh:mm:ssZ"
          },
          {
            "name": "offsetMark",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "*"
            },
            "description": "Starting record. Use * for the first page."
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "maximum": 1000
            },
            "description": "Number of records to return per request."
          },
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "default": "DEMO_KEY"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of packages in collection",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CollectionPackagesResponse"
                }
              }
            }
          },
          "403": {
            "description": "API key missing"
          }
        }
      }
    },
    "/published/{dateIssuedStartDate}/{dateIssuedEndDate}": {
      "get": {
        "operationId": "getPublishedPackages",
        "summary": "Published Packages by Date",
        "description": "Returns a list of packages based on dateIssued, generally corresponding to the publication date of the content itself.",
        "tags": [
          "Published"
        ],
        "parameters": [
          {
            "name": "dateIssuedStartDate",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Earliest dateIssued, YYYY-MM-DD format"
          },
          {
            "name": "dateIssuedEndDate",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Latest dateIssued, YYYY-MM-DD format"
          },
          {
            "name": "offsetMark",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "*"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "collection",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated list of collections, e.g. BILLS,BILLSTATUS"
          },
          {
            "name": "docClass",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by overarching collection-specific categories"
          },
          {
            "name": "congress",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Congress number, e.g. 116"
          },
          {
            "name": "modifiedSince",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "ISO 8601 date-time — only packages modified since this date, e.g. 2020-01-01T00:00:00Z"
          },
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "default": "DEMO_KEY"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of published packages",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CollectionPackagesResponse"
                }
              }
            }
          },
          "403": {
            "description": "API key missing"
          }
        }
      }
    },
    "/packages/{packageId}/summary": {
      "get": {
        "operationId": "getPackageSummary",
        "summary": "Package Summary",
        "description": "Returns available forms of content and metadata for a GovInfo package, including links to txt, XML, PDF, MODS, PREMIS, and ZIP formats.",
        "tags": [
          "Packages"
        ],
        "parameters": [
          {
            "name": "packageId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "GovInfo package ID, e.g. BILLS-115hr1625enr"
          },
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "default": "DEMO_KEY"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Package summary with download links",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PackageSummary"
                }
              }
            }
          },
          "403": {
            "description": "API key missing"
          },
          "404": {
            "description": "Package not found"
          },
          "503": {
            "description": "ZIP file is being generated; retry after Retry-After seconds",
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "integer"
                },
                "description": "Seconds to wait before retrying"
              }
            }
          }
        }
      }
    },
    "/packages/{packageId}/granules": {
      "get": {
        "operationId": "getPackageGranules",
        "summary": "Package Granules",
        "description": "Returns a list of available granules for a specified package, including granuleIds and links to each granule summary.",
        "tags": [
          "Packages"
        ],
        "parameters": [
          {
            "name": "packageId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "offsetMark",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "*"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "default": "DEMO_KEY"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of granules",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GranulesResponse"
                }
              }
            }
          },
          "403": {
            "description": "API key missing"
          }
        }
      }
    },
    "/packages/{packageId}/granules/{granuleId}/summary": {
      "get": {
        "operationId": "getGranuleSummary",
        "summary": "Granule Summary",
        "description": "Returns a JSON summary for a granule, including basic metadata and links to all available content and metadata formats.",
        "tags": [
          "Packages"
        ],
        "parameters": [
          {
            "name": "packageId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "granuleId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "default": "DEMO_KEY"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Granule summary with download links",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GranuleSummary"
                }
              }
            }
          },
          "403": {
            "description": "API key missing"
          },
          "404": {
            "description": "Granule not found"
          }
        }
      }
    },
    "/related/{accessId}": {
      "get": {
        "operationId": "getRelatedContent",
        "summary": "Related Content",
        "description": "Returns a list of relationships for a given accessId, which can then be followed to return specific related documents.",
        "tags": [
          "Related"
        ],
        "parameters": [
          {
            "name": "accessId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The GovInfo access ID, e.g. BILLS-116hr748enr"
          },
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "default": "DEMO_KEY"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of related content relationships",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RelatedContentResponse"
                }
              }
            }
          },
          "403": {
            "description": "API key missing"
          }
        }
      }
    },
    "/search": {
      "post": {
        "operationId": "searchContent",
        "summary": "Search Content",
        "description": "Programmatic requests against the GovInfo search engine to return results similar to those on the GovInfo user interface.",
        "tags": [
          "Search"
        ],
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "default": "DEMO_KEY"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Search results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResponse"
                }
              }
            }
          },
          "403": {
            "description": "API key missing"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "query",
        "name": "api_key",
        "description": "API key from api.govinfo.gov (signup at https://www.govinfo.gov/api-signup). Use DEMO_KEY for testing."
      }
    },
    "schemas": {
      "CollectionsResponse": {
        "type": "object",
        "properties": {
          "collections": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Collection"
            }
          }
        }
      },
      "Collection": {
        "type": "object",
        "properties": {
          "collectionCode": {
            "type": "string"
          },
          "collectionName": {
            "type": "string"
          },
          "packageCount": {
            "type": "integer"
          },
          "granuleCount": {
            "type": "integer"
          }
        }
      },
      "CollectionPackagesResponse": {
        "type": "object",
        "properties": {
          "count": {
            "type": "integer"
          },
          "message": {
            "type": "string"
          },
          "nextPage": {
            "type": "string"
          },
          "previousPage": {
            "type": "string"
          },
          "packages": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "packageId": {
                  "type": "string"
                },
                "lastModified": {
                  "type": "string"
                },
                "packageLink": {
                  "type": "string"
                },
                "docClass": {
                  "type": "string"
                },
                "title": {
                  "type": "string"
                },
                "congress": {
                  "type": "string"
                },
                "dateIssued": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "PackageSummary": {
        "type": "object",
        "properties": {
          "packageId": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "dateIssued": {
            "type": "string"
          },
          "collectionCode": {
            "type": "string"
          },
          "collectionName": {
            "type": "string"
          },
          "details": {
            "type": "string"
          },
          "download": {
            "type": "object",
            "properties": {
              "txtLink": {
                "type": "string"
              },
              "xmlLink": {
                "type": "string"
              },
              "pdfLink": {
                "type": "string"
              },
              "modsLink": {
                "type": "string"
              },
              "premisLink": {
                "type": "string"
              },
              "zipLink": {
                "type": "string"
              }
            }
          },
          "related": {
            "type": "object"
          }
        }
      },
      "GranulesResponse": {
        "type": "object",
        "properties": {
          "count": {
            "type": "integer"
          },
          "nextPage": {
            "type": "string"
          },
          "previousPage": {
            "type": "string"
          },
          "granules": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "title": {
                  "type": "string"
                },
                "granuleId": {
                  "type": "string"
                },
                "granuleLink": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "GranuleSummary": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string"
          },
          "granuleId": {
            "type": "string"
          },
          "granuleClass": {
            "type": "string"
          },
          "packageId": {
            "type": "string"
          },
          "collectionCode": {
            "type": "string"
          },
          "download": {
            "type": "object"
          }
        }
      },
      "RelatedContentResponse": {
        "type": "object",
        "properties": {
          "accessId": {
            "type": "string"
          },
          "related": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "relationship": {
                  "type": "string"
                },
                "url": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "SearchRequest": {
        "type": "object",
        "required": [
          "query",
          "pageSize",
          "offsetMark"
        ],
        "properties": {
          "query": {
            "type": "string",
            "description": "Search query string"
          },
          "pageSize": {
            "type": "string",
            "description": "Number of results per page"
          },
          "offsetMark": {
            "type": "string",
            "default": "*",
            "description": "Pagination cursor; use * for first page"
          },
          "sorts": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "field": {
                  "type": "string",
                  "enum": [
                    "score",
                    "publishdate",
                    "lastModified",
                    "title"
                  ],
                  "description": "Field to sort by"
                },
                "sortOrder": {
                  "type": "string",
                  "enum": [
                    "ASC",
                    "DESC"
                  ]
                }
              }
            }
          },
          "facets": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "SearchResponse": {
        "type": "object",
        "properties": {
          "count": {
            "type": "integer"
          },
          "offsetMark": {
            "type": "string"
          },
          "nextPage": {
            "type": "string"
          },
          "results": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "packageId": {
                  "type": "string"
                },
                "title": {
                  "type": "string"
                },
                "collectionCode": {
                  "type": "string"
                },
                "collectionName": {
                  "type": "string"
                },
                "dateIssued": {
                  "type": "string"
                },
                "lastModified": {
                  "type": "string"
                },
                "detailsLink": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Collections"
    },
    {
      "name": "Packages"
    },
    {
      "name": "Published"
    },
    {
      "name": "Related"
    },
    {
      "name": "Search"
    }
  ]
}
