{
  "openapi": "3.0.3",
  "info": {
    "title": "Nominatim API",
    "version": "5.2.0",
    "description": "Nominatim is a geocoding service using OpenStreetMap data. It supports forward geocoding (search by address), reverse geocoding (address from coordinates), address lookup by OSM ID, and status checking. Free to use with attribution to OSM.",
    "x-jentic-source-url": "https://nominatim.org/release-docs/latest/api/Overview/",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://nominatim.openstreetmap.org"
    }
  ],
  "paths": {
    "/search": {
      "get": {
        "operationId": "searchAddress",
        "summary": "Forward geocoding - search by address",
        "description": "Look up a location from a textual description or address. Supports structured and free-form queries.",
        "tags": [
          "Geocoding"
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "Free-form query string to search for",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "street",
            "in": "query",
            "description": "House number and street name (structured query)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "city",
            "in": "query",
            "description": "City name (structured query)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "county",
            "in": "query",
            "description": "County name (structured query)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "state",
            "in": "query",
            "description": "State name (structured query)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "country",
            "in": "query",
            "description": "Country name or two-letter country code (structured query)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "postalcode",
            "in": "query",
            "description": "Postal code (structured query)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "Output format",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "xml",
                "json",
                "jsonv2",
                "geojson",
                "geocodejson"
              ],
              "default": "jsonv2"
            }
          },
          {
            "name": "addressdetails",
            "in": "query",
            "description": "Include a breakdown of the address into elements",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [
                0,
                1
              ],
              "default": 0
            }
          },
          {
            "name": "extratags",
            "in": "query",
            "description": "Include additional information available in the database (e.g., wikipedia link, opening hours)",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [
                0,
                1
              ],
              "default": 0
            }
          },
          {
            "name": "namedetails",
            "in": "query",
            "description": "Include a full list of names for the result",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [
                0,
                1
              ],
              "default": 0
            }
          },
          {
            "name": "accept-language",
            "in": "query",
            "description": "Preferred language order for showing results",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "countrycodes",
            "in": "query",
            "description": "Comma-separated list of country codes to restrict results to",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "layer",
            "in": "query",
            "description": "Comma-separated list of layers to search",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "viewbox",
            "in": "query",
            "description": "Preferred area to search in (x1,y1,x2,y2 format)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "bounded",
            "in": "query",
            "description": "When set to 1, restrict results to the viewbox",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [
                0,
                1
              ],
              "default": 0
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of results to return",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 10,
              "maximum": 50
            }
          },
          {
            "name": "email",
            "in": "query",
            "description": "Email address for large request volumes (per usage policy)",
            "required": false,
            "schema": {
              "type": "string",
              "format": "email"
            }
          },
          {
            "name": "polygon_geojson",
            "in": "query",
            "description": "Add geometry as GeoJSON",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [
                0,
                1
              ],
              "default": 0
            }
          },
          {
            "name": "polygon_kml",
            "in": "query",
            "description": "Add geometry as KML",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [
                0,
                1
              ],
              "default": 0
            }
          },
          {
            "name": "polygon_svg",
            "in": "query",
            "description": "Add geometry as SVG",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [
                0,
                1
              ],
              "default": 0
            }
          },
          {
            "name": "polygon_text",
            "in": "query",
            "description": "Add geometry as WKT",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [
                0,
                1
              ],
              "default": 0
            }
          },
          {
            "name": "polygon_threshold",
            "in": "query",
            "description": "Tolerance for polygon simplification in degrees",
            "required": false,
            "schema": {
              "type": "number",
              "default": 0.0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful geocoding response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Place"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/reverse": {
      "get": {
        "operationId": "reverseGeocode",
        "summary": "Reverse geocoding - address from coordinates",
        "description": "Generate an address from a coordinate (latitude and longitude). Returns the closest suitable OSM object.",
        "tags": [
          "Geocoding"
        ],
        "parameters": [
          {
            "name": "lat",
            "in": "query",
            "description": "Latitude of the coordinate",
            "required": true,
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "lon",
            "in": "query",
            "description": "Longitude of the coordinate",
            "required": true,
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "Output format",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "xml",
                "json",
                "jsonv2",
                "geojson",
                "geocodejson"
              ],
              "default": "xml"
            }
          },
          {
            "name": "zoom",
            "in": "query",
            "description": "Level of detail (0=country, 10=city, 18=building)",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 18,
              "default": 18
            }
          },
          {
            "name": "addressdetails",
            "in": "query",
            "description": "Include address breakdown",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [
                0,
                1
              ],
              "default": 1
            }
          },
          {
            "name": "extratags",
            "in": "query",
            "description": "Include additional information",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [
                0,
                1
              ],
              "default": 0
            }
          },
          {
            "name": "namedetails",
            "in": "query",
            "description": "Include full list of names",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [
                0,
                1
              ],
              "default": 0
            }
          },
          {
            "name": "accept-language",
            "in": "query",
            "description": "Preferred language order",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "layer",
            "in": "query",
            "description": "Comma-separated list of layers (address, poi, railway, natural, manmade)",
            "required": false,
            "schema": {
              "type": "string",
              "default": "address,poi"
            }
          },
          {
            "name": "email",
            "in": "query",
            "description": "Email address for large request volumes",
            "required": false,
            "schema": {
              "type": "string",
              "format": "email"
            }
          },
          {
            "name": "polygon_geojson",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [
                0,
                1
              ],
              "default": 0
            }
          },
          {
            "name": "polygon_kml",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [
                0,
                1
              ],
              "default": 0
            }
          },
          {
            "name": "polygon_svg",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [
                0,
                1
              ],
              "default": 0
            }
          },
          {
            "name": "polygon_text",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [
                0,
                1
              ],
              "default": 0
            }
          },
          {
            "name": "polygon_threshold",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "default": 0.0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Reverse geocoding result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Place"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/lookup": {
      "get": {
        "operationId": "lookupOSMIds",
        "summary": "Address lookup by OSM IDs",
        "description": "Look up address and other details of one or multiple OSM objects by their IDs. Up to 50 IDs can be queried at once.",
        "tags": [
          "Geocoding"
        ],
        "parameters": [
          {
            "name": "osm_ids",
            "in": "query",
            "description": "Comma-separated list of OSM IDs, each prefixed with type: N (node), W (way), R (relation). Example: R146656,W104393803,N240109189",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "Output format",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "xml",
                "json",
                "jsonv2",
                "geojson",
                "geocodejson"
              ],
              "default": "jsonv2"
            }
          },
          {
            "name": "addressdetails",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [
                0,
                1
              ],
              "default": 1
            }
          },
          {
            "name": "extratags",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [
                0,
                1
              ],
              "default": 0
            }
          },
          {
            "name": "namedetails",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [
                0,
                1
              ],
              "default": 0
            }
          },
          {
            "name": "accept-language",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "email",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "email"
            }
          },
          {
            "name": "polygon_geojson",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [
                0,
                1
              ],
              "default": 0
            }
          },
          {
            "name": "polygon_kml",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [
                0,
                1
              ],
              "default": 0
            }
          },
          {
            "name": "polygon_svg",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [
                0,
                1
              ],
              "default": 0
            }
          },
          {
            "name": "polygon_text",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [
                0,
                1
              ],
              "default": 0
            }
          },
          {
            "name": "polygon_threshold",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "default": 0.0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Lookup results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Place"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/status": {
      "get": {
        "operationId": "getStatus",
        "summary": "Get API status",
        "description": "Returns the current status of the Nominatim API and database.",
        "tags": [
          "Status"
        ],
        "parameters": [
          {
            "name": "format",
            "in": "query",
            "description": "Output format",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "text",
                "json"
              ],
              "default": "text"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Status information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponse"
                }
              }
            }
          }
        }
      }
    },
    "/details": {
      "get": {
        "operationId": "getPlaceDetails",
        "summary": "Get detailed information about a place",
        "description": "Returns detailed information about a specific OSM object including its address hierarchy, linked places, and more.",
        "tags": [
          "Geocoding"
        ],
        "parameters": [
          {
            "name": "osmtype",
            "in": "query",
            "description": "OSM object type (N, W, R)",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "N",
                "W",
                "R"
              ]
            }
          },
          {
            "name": "osmid",
            "in": "query",
            "description": "OSM object ID",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "place_id",
            "in": "query",
            "description": "Nominatim internal place ID",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "html"
              ],
              "default": "html"
            }
          },
          {
            "name": "addressdetails",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [
                0,
                1
              ],
              "default": 0
            }
          },
          {
            "name": "keywords",
            "in": "query",
            "description": "Include a list of name keywords and address keywords",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [
                0,
                1
              ],
              "default": 0
            }
          },
          {
            "name": "linkedplaces",
            "in": "query",
            "description": "Include details of linked places",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [
                0,
                1
              ],
              "default": 1
            }
          },
          {
            "name": "hierarchy",
            "in": "query",
            "description": "Include details of places lower in the address hierarchy",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [
                0,
                1
              ],
              "default": 0
            }
          },
          {
            "name": "group_hierarchy",
            "in": "query",
            "description": "Group hierarchy results by type",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [
                0,
                1
              ],
              "default": 0
            }
          },
          {
            "name": "polygon_geojson",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [
                0,
                1
              ],
              "default": 0
            }
          },
          {
            "name": "accept-language",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Place details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlaceDetails"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Place": {
        "type": "object",
        "properties": {
          "place_id": {
            "type": "integer"
          },
          "licence": {
            "type": "string"
          },
          "osm_type": {
            "type": "string"
          },
          "osm_id": {
            "type": "integer"
          },
          "boundingbox": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "lat": {
            "type": "string"
          },
          "lon": {
            "type": "string"
          },
          "display_name": {
            "type": "string"
          },
          "place_rank": {
            "type": "integer"
          },
          "category": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "importance": {
            "type": "number"
          },
          "addresstype": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "address": {
            "$ref": "#/components/schemas/Address"
          }
        }
      },
      "Address": {
        "type": "object",
        "properties": {
          "house_number": {
            "type": "string"
          },
          "road": {
            "type": "string"
          },
          "suburb": {
            "type": "string"
          },
          "village": {
            "type": "string"
          },
          "town": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "county": {
            "type": "string"
          },
          "state_district": {
            "type": "string"
          },
          "state": {
            "type": "string"
          },
          "postcode": {
            "type": "string"
          },
          "country": {
            "type": "string"
          },
          "country_code": {
            "type": "string"
          }
        }
      },
      "PlaceDetails": {
        "type": "object",
        "properties": {
          "place_id": {
            "type": "integer"
          },
          "parent_place_id": {
            "type": "integer"
          },
          "osm_type": {
            "type": "string"
          },
          "osm_id": {
            "type": "integer"
          },
          "category": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "admin_level": {
            "type": "integer"
          },
          "localname": {
            "type": "string"
          },
          "names": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "addresstags": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "housenumber": {
            "type": "string"
          },
          "calculated_postcode": {
            "type": "string"
          },
          "country_code": {
            "type": "string"
          },
          "indexed_date": {
            "type": "string",
            "format": "date-time"
          },
          "importance": {
            "type": "number"
          },
          "calculated_importance": {
            "type": "number"
          },
          "extratags": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "calculated_wikipedia": {
            "type": "string"
          },
          "rank_address": {
            "type": "integer"
          },
          "rank_search": {
            "type": "integer"
          },
          "isarea": {
            "type": "boolean"
          },
          "centroid": {
            "type": "object",
            "properties": {
              "type": {
                "type": "string"
              },
              "coordinates": {
                "type": "array",
                "items": {
                  "type": "number"
                }
              }
            }
          },
          "geometry": {
            "type": "object"
          }
        }
      },
      "StatusResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "integer"
          },
          "message": {
            "type": "string"
          },
          "data_updated": {
            "type": "string",
            "format": "date-time"
          },
          "software_version": {
            "type": "string"
          },
          "database_version": {
            "type": "string"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "integer"
              },
              "message": {
                "type": "string"
              }
            }
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Geocoding"
    },
    {
      "name": "Status"
    }
  ]
}
