{
  "openapi": "3.0.3",
  "info": {
    "title": "My new Api Collection",
    "version": "1.0.0",
    "contact": {},
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/alpinetechnologies/my-new-api-collection123/1.0.0"
  },
  "servers": [
    {
      "url": "https://meesho.alpinetechnologies.site"
    }
  ],
  "paths": {
    "/Api/vendor_verify_otp": {
      "post": {
        "summary": "verify_otp",
        "description": "verify_otp",
        "operationId": "verifyOtp",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "otp": {
                    "type": "string",
                    "example": "1234"
                  },
                  "phone_no": {
                    "type": "string",
                    "example": "6392545185"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": [
          {}
        ]
      }
    },
    "/Api/vendor_login": {
      "post": {
        "summary": "vendor_login",
        "description": "vendor_login",
        "operationId": "vendorLogin",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "phone_no": {
                    "type": "string",
                    "example": "6392545185"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {}
  },
  "tags": []
}