{
  "openapi": "3.0.0",
  "info": {
    "title": "PTMS Import Courses API",
    "description": "\u5c07\u76f8\u95dc\u8a13\u7df4\u8ab2\u7a0b\u8cc7\u6599\u5beb\u5165 PTMS \u500b\u4eba\u8cc7\u6599",
    "version": "1.0.0",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/panmed/ptms-add-courses-api/1.0.0"
  },
  "servers": [
    {
      "url": "https://irb-vghks.cims.tw/wiPtms",
      "description": "\u6b63\u5f0f\u6a5f (Production)"
    },
    {
      "url": "https://irb-vghks.cims.tw/_wiPtms",
      "description": "\u8a13\u7df4\u6a5f (Staging)"
    }
  ],
  "paths": {
    "/courses.do": {
      "post": {
        "summary": "\u4e0a\u50b3\u8a13\u7df4\u8ab2\u7a0b\u8cc7\u6599",
        "operationId": "importCourses",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ImportCoursesRequest"
              },
              "example": {
                "token": "abcdefghijklmn",
                "data": [
                  {
                    "user": "Halk",
                    "name": "GCP201904",
                    "date": "2019/04/15",
                    "hours": "3",
                    "type": "GCP",
                    "courseId": "GGCP1001"
                  },
                  {
                    "user": "Thor",
                    "name": "GCP201905",
                    "date": "2019/05/15",
                    "hours": "1",
                    "type": "REC",
                    "courseId": "GGCP1031"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request successfully processed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                },
                "example": {
                  "status": 200,
                  "msg": "OK!!!"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request. Invalid parameters or data format. (Original status 4003: Parameter error!)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "status": 4003,
                  "msg": "Parameter error!"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Invalid or missing authentication token. (Original status 4002: Token error!)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "status": 4002,
                  "msg": "Token error!"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed. (Original status 4001: Method error!)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "status": 4001,
                  "msg": "Method error!"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Course": {
        "type": "object",
        "description": "\u55ae\u4e00\u8a13\u7df4\u8ab2\u7a0b\u8cc7\u6599",
        "properties": {
          "user": {
            "type": "string",
            "description": "\u9662\u5167\u4fe1\u7bb1\u4e0d\u542b@vghks.gov.tw",
            "example": "Halk"
          },
          "name": {
            "type": "string",
            "description": "\u8ab2\u7a0b\u540d\u7a31",
            "example": "GCP201904"
          },
          "type": {
            "type": "string",
            "description": "\u8ab2\u7a0b\u985e\u578b",
            "enum": [
              "GCP",
              "ETHICS",
              "GENE",
              "CONFLICT",
              "CELL",
              "REC",
              "EXTRAPROTECTION"
            ],
            "example": "GCP"
          },
          "date": {
            "type": "string",
            "format": "date",
            "description": "yyyy/MMdd/ (\u5be6\u969b\u61c9\u70ba yyyy/MM/dd \u683c\u5f0f\uff0c\u4f46\u6587\u4ef6\u5beb\u6cd5\u4fdd\u7559)",
            "example": "2019/04/15"
          },
          "hours": {
            "type": "string",
            "description": "\u6838\u5b9a\u6642\u6578",
            "example": "3"
          },
          "courseId": {
            "type": "string",
            "description": "\u8ab2\u7a0b\u4ee3\u78bc(\u9700\u70ba\u552f\u4e00\u503c,\u907f\u514d\u91cd\u8907\u4e0a\u50b3\u8ab2\u7a0b)",
            "example": "GGCP1001"
          }
        },
        "required": [
          "user",
          "name",
          "type",
          "date",
          "hours",
          "courseId"
        ]
      },
      "ImportCoursesRequest": {
        "type": "object",
        "description": "Request Body for \u4e0a\u50b3\u8a13\u7df4\u8ab2\u7a0b\u8cc7\u6599",
        "properties": {
          "token": {
            "type": "string",
            "description": "\u5f85\u63d0\u4f9b (Required)",
            "example": "abcdefghijklmn"
          },
          "data": {
            "type": "array",
            "description": "\u8a13\u7df4\u8ab2\u7a0b\u8cc7\u6599\u5217\u8868",
            "items": {
              "$ref": "#/components/schemas/Course"
            }
          }
        },
        "required": [
          "token",
          "data"
        ]
      },
      "SuccessResponse": {
        "type": "object",
        "description": "\u6210\u529f\u56de\u61c9",
        "properties": {
          "status": {
            "type": "integer",
            "description": "\u72c0\u614b\u78bc",
            "example": 200
          },
          "msg": {
            "type": "string",
            "description": "\u8a0a\u606f",
            "example": "OK!!!"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "description": "\u932f\u8aa4\u56de\u61c9",
        "properties": {
          "status": {
            "type": "integer",
            "description": "\u61c9\u7528\u7a0b\u5f0f\u5c64\u7d1a\u7684\u932f\u8aa4\u78bc (\u539f\u6587\u4ef6\u4e2d\u7684 4001, 4002, 4003)",
            "example": 4001
          },
          "msg": {
            "type": "string",
            "description": "\u932f\u8aa4\u8a0a\u606f",
            "example": "Method error!"
          }
        }
      }
    }
  }
}