{
  "openapi": "3.0.3",
  "info": {
    "title": "Tomorrow.io Weather API",
    "version": "4.0.0",
    "description": "Tomorrow.io (formerly ClimaCell) provides hyper-local weather data via REST API. Access realtime conditions, forecasts, historical data, weather events, and route-based weather intelligence.",
    "x-jentic-source-url": "https://docs.tomorrow.io/",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://api.tomorrow.io/v4"
    }
  ],
  "paths": {
    "/weather/realtime": {
      "get": {
        "operationId": "getRealtimeWeather",
        "summary": "Get realtime weather",
        "description": "Get current weather conditions for a location.",
        "tags": [
          "Weather"
        ],
        "parameters": [
          {
            "name": "location",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Location as lat,lon or place name"
          },
          {
            "name": "units",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "metric",
                "imperial"
              ]
            },
            "description": "Unit system"
          },
          {
            "name": "apikey",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "API key"
          }
        ],
        "responses": {
          "200": {
            "description": "Realtime weather data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WeatherResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/weather/forecast": {
      "get": {
        "operationId": "getWeatherForecast",
        "summary": "Get weather forecast",
        "description": "Get hourly and daily weather forecasts for a location.",
        "tags": [
          "Weather"
        ],
        "parameters": [
          {
            "name": "location",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "timesteps",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "1h",
                "1d"
              ]
            },
            "description": "Forecast timestep"
          },
          {
            "name": "units",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "metric",
                "imperial"
              ]
            }
          },
          {
            "name": "apikey",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Forecast data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForecastResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/weather/history/recent": {
      "get": {
        "operationId": "getRecentHistory",
        "summary": "Get recent weather history",
        "description": "Get recent historical weather data for a location.",
        "tags": [
          "Weather"
        ],
        "parameters": [
          {
            "name": "location",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "timesteps",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "units",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "metric",
                "imperial"
              ]
            }
          },
          {
            "name": "apikey",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Historical weather data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForecastResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/timelines": {
      "get": {
        "operationId": "getTimelines",
        "summary": "Get weather timelines",
        "description": "Get weather data for custom time ranges with configurable fields and timesteps.",
        "tags": [
          "Timelines"
        ],
        "parameters": [
          {
            "name": "location",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "Weather fields to return"
          },
          {
            "name": "timesteps",
            "in": "query",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "startTime",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "endTime",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "units",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "metric",
                "imperial"
              ]
            }
          },
          {
            "name": "timezone",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "apikey",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Timeline data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TimelineResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "postTimelines",
        "summary": "Get weather timelines (POST)",
        "description": "Get weather data for custom time ranges using POST for complex requests.",
        "tags": [
          "Timelines"
        ],
        "parameters": [
          {
            "name": "apikey",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TimelineRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Timeline data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TimelineResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/events": {
      "get": {
        "operationId": "getWeatherEvents",
        "summary": "Get weather events",
        "description": "Get weather events and alerts for a location including severe weather.",
        "tags": [
          "Events"
        ],
        "parameters": [
          {
            "name": "location",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "insights",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "Event types to return"
          },
          {
            "name": "buffer",
            "in": "query",
            "schema": {
              "type": "number"
            },
            "description": "Buffer distance in km"
          },
          {
            "name": "apikey",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Weather events",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/map/tile/{z}/{x}/{y}": {
      "get": {
        "operationId": "getMapTile",
        "summary": "Get weather map tile",
        "description": "Get a map tile with weather data overlay for use in mapping applications.",
        "tags": [
          "Map Tiles"
        ],
        "parameters": [
          {
            "name": "z",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Zoom level"
          },
          {
            "name": "x",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Tile X coordinate"
          },
          {
            "name": "y",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Tile Y coordinate"
          },
          {
            "name": "fields",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Weather field to visualize"
          },
          {
            "name": "timestep",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "apikey",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Map tile image",
            "content": {
              "image/png": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/route": {
      "post": {
        "operationId": "getRouteWeather",
        "summary": "Get weather along a route",
        "description": "Get weather conditions along a route defined by waypoints and timestamps.",
        "tags": [
          "Route"
        ],
        "parameters": [
          {
            "name": "apikey",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RouteRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Route weather data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RouteResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "WeatherResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "time": {
                "type": "string",
                "format": "date-time"
              },
              "values": {
                "$ref": "#/components/schemas/WeatherValues"
              }
            }
          },
          "location": {
            "$ref": "#/components/schemas/Location"
          }
        }
      },
      "ForecastResponse": {
        "type": "object",
        "properties": {
          "timelines": {
            "type": "object",
            "properties": {
              "hourly": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/TimelineInterval"
                }
              },
              "daily": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/TimelineInterval"
                }
              }
            }
          },
          "location": {
            "$ref": "#/components/schemas/Location"
          }
        }
      },
      "TimelineResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "timelines": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "timestep": {
                      "type": "string"
                    },
                    "startTime": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "endTime": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "intervals": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/TimelineInterval"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "TimelineInterval": {
        "type": "object",
        "properties": {
          "time": {
            "type": "string",
            "format": "date-time"
          },
          "values": {
            "$ref": "#/components/schemas/WeatherValues"
          }
        }
      },
      "WeatherValues": {
        "type": "object",
        "properties": {
          "temperature": {
            "type": "number"
          },
          "temperatureApparent": {
            "type": "number"
          },
          "humidity": {
            "type": "number"
          },
          "dewPoint": {
            "type": "number"
          },
          "windSpeed": {
            "type": "number"
          },
          "windDirection": {
            "type": "number"
          },
          "windGust": {
            "type": "number"
          },
          "pressureSurfaceLevel": {
            "type": "number"
          },
          "precipitationIntensity": {
            "type": "number"
          },
          "precipitationProbability": {
            "type": "number"
          },
          "precipitationType": {
            "type": "integer"
          },
          "cloudCover": {
            "type": "number"
          },
          "visibility": {
            "type": "number"
          },
          "uvIndex": {
            "type": "integer"
          },
          "weatherCode": {
            "type": "integer"
          }
        }
      },
      "Location": {
        "type": "object",
        "properties": {
          "lat": {
            "type": "number"
          },
          "lon": {
            "type": "number"
          },
          "name": {
            "type": "string"
          },
          "type": {
            "type": "string"
          }
        }
      },
      "TimelineRequest": {
        "type": "object",
        "properties": {
          "location": {
            "type": "string"
          },
          "fields": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "timesteps": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "startTime": {
            "type": "string",
            "format": "date-time"
          },
          "endTime": {
            "type": "string",
            "format": "date-time"
          },
          "units": {
            "type": "string"
          },
          "timezone": {
            "type": "string"
          }
        }
      },
      "EventsResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "events": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/WeatherEvent"
                }
              }
            }
          }
        }
      },
      "WeatherEvent": {
        "type": "object",
        "properties": {
          "eventId": {
            "type": "string"
          },
          "insight": {
            "type": "string"
          },
          "severity": {
            "type": "string"
          },
          "startTime": {
            "type": "string",
            "format": "date-time"
          },
          "endTime": {
            "type": "string",
            "format": "date-time"
          },
          "eventValues": {
            "type": "object"
          }
        }
      },
      "RouteRequest": {
        "type": "object",
        "properties": {
          "fields": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "waypoints": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "location": {
                  "type": "string"
                },
                "time": {
                  "type": "string",
                  "format": "date-time"
                }
              }
            }
          }
        }
      },
      "RouteResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "location": {
                  "$ref": "#/components/schemas/Location"
                },
                "time": {
                  "type": "string",
                  "format": "date-time"
                },
                "values": {
                  "$ref": "#/components/schemas/WeatherValues"
                }
              }
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer"
          },
          "type": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "apiKeyQuery": {
        "type": "apiKey",
        "in": "query",
        "name": "apikey",
        "description": "Tomorrow.io API key"
      }
    }
  },
  "security": [
    {
      "apiKeyQuery": []
    }
  ],
  "tags": [
    {
      "name": "Events"
    },
    {
      "name": "Map Tiles"
    },
    {
      "name": "Route"
    },
    {
      "name": "Timelines"
    },
    {
      "name": "Weather"
    }
  ]
}
