{
  "openapi": "3.0.0",
  "servers": [
    {
      "description": "UAT Server",
      "url": "https://preapimicroproducts.grupomok.com/"
    }
  ],
  "info": {
    "version": "1.0.0",
    "title": "Documentaci\u00f3n Microproductos",
    "description": "Esta documentaci\u00f3n agrupa los distintos servicios que se utilizan en los microproductos. Primero debe obtener el token de la URI de autenticaci\u00f3n. Despu\u00e9s, cons\u00famalos.",
    "termsOfService": "https://www.grupomok.com/",
    "license": {
      "url": "https://www.grupomok.com/",
      "name": "Grupo MOK Colombia S.A.S"
    },
    "contact": {
      "url": "https://www.grupomok.com/#contacto",
      "email": "microproductos@grupomok.com.co",
      "name": "Microproductos Global"
    },
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/mok9/1.0.0/1.0.0"
  },
  "paths": {
    "/geo/getVetsByCEP": {
      "get": {
        "tags": [
          "Vets"
        ],
        "summary": "Consulta la localizacion de las veterinarias por CEP",
        "parameters": [
          {
            "name": "data",
            "in": "query",
            "description": "Este m\u00e9todo recibe un parametro el codigo CEP.\n",
            "required": true,
            "schema": {
              "type": "string",
              "example": 11015250
            }
          }
        ],
        "security": [
          {
            "oAuth2ClientCredentials": [
              "read_services"
            ]
          }
        ],
        "description": "M\u00e9todo para consultar las veterinarias por CEP.\n",
        "operationId": "geo-getVetsByCEP",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {}
          }
        }
      }
    },
    "/geo/getVetsByLocation": {
      "get": {
        "tags": [
          "Vets"
        ],
        "summary": "Consulta la localizacion de las veterinarias por CEP",
        "parameters": [
          {
            "name": "data",
            "in": "query",
            "description": "Este m\u00e9todo recibe dos parametros: longitud y latitud separa por barra pi (|).\n",
            "required": true,
            "schema": {
              "type": "string",
              "example": "-23.9581482|-46.3071221"
            }
          }
        ],
        "security": [
          {
            "oAuth2ClientCredentials": [
              "read_services"
            ]
          }
        ],
        "description": "M\u00e9todo para consultar las veterinarias por coordenadas.\n",
        "operationId": "geo-getVetsByLocation",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {}
          }
        }
      }
    },
    "securitySchemes": {
      "oAuth2ClientCredentials": {
        "type": "oauth2",
        "description": "Servicio de autenticaci\u00f3n MOK",
        "flows": {
          "clientCredentials": {
            "tokenUrl": "https://preapimicroproducts.grupomok.com/auth/token",
            "scopes": {
              "Bearer": "ver las url de servicios externos"
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "oAuth2ClientCredentials": []
    }
  ]
}