{
  "openapi": "3.0.3",
  "info": {
    "title": "Paxion API",
    "version": "1.0.0",
    "description": "The Paxion API provides a comprehensive security scanning platform for web applications and APIs. \n\nOur API is organized around REST principles. It accepts JSON-encoded request bodies, returns JSON-encoded \nresponses, and uses standard HTTP response codes, authentication, and verbs.\n\n## Authentication\n\nThe Paxion API uses Firebase JWT tokens for authentication. You can obtain a token by authenticating \nwith Firebase Auth and passing it in the `Authorization` header:\n\n```\nAuthorization: Bearer YOUR_FIREBASE_JWT_TOKEN\n```\n\nCertain webhook endpoints use API key authentication instead. Include the API key in the `x-api-key` header:\n\n```\nx-api-key: YOUR_API_KEY\n```\n\n## Rate Limiting\n\nThe API implements rate limiting to ensure fair usage. Rate limits are applied per account and endpoint.\n\n## Errors\n\nPaxion uses conventional HTTP response codes to indicate the success or failure of an API request. \nIn general: Codes in the 2xx range indicate success. Codes in the 4xx range indicate an error that \nfailed given the information provided. Codes in the 5xx range indicate an error with our servers.\n\nError responses include a JSON object with an `error` field describing what went wrong.\n",
    "contact": {
      "name": "Paxion API Support",
      "email": "support@paxion.com"
    },
    "license": {
      "name": "Proprietary"
    },
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/sixthsummit/PaxionApi/1.0.0"
  },
  "servers": [
    {
      "url": "https://api.paxie.ai/v1",
      "description": "Production server"
    },
    {
      "url": "https://dev-api.paxie.ai/v1",
      "description": "Staging server"
    },
    {
      "url": "http://localhost:3000/v1",
      "description": "Local development server"
    }
  ],
  "tags": [
    {
      "name": "Accounts",
      "description": "User account management and authentication"
    },
    {
      "name": "Enterprise",
      "description": "Enterprise account management and team collaboration"
    },
    {
      "name": "Dashboard",
      "description": "Admin dashboard for managing users and statistics"
    },
    {
      "name": "Assets",
      "description": "Manage web assets and targets for security scanning"
    },
    {
      "name": "Scans",
      "description": "Initiate and manage security scans"
    },
    {
      "name": "Scan Results",
      "description": "View and manage scan results and vulnerabilities"
    },
    {
      "name": "Chat",
      "description": "AI-powered chat assistant for security analysis"
    }
  ],
  "paths": {
    "/accounts/me": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Get current account",
        "description": "Retrieves the currently authenticated account's information.",
        "operationId": "getCurrentAccount",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Current account details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      }
    },
    "/accounts": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "List accounts",
        "description": "Returns a list of accounts. Supports pagination, filtering, and search.\n\nQuery parameters allow you to:\n- Paginate results with `limit` and `offset`\n- Search across multiple fields with `query`\n- Load related data with `relations`\n- Sort results with `order`\n",
        "operationId": "listAccounts",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/LimitParam"
          },
          {
            "$ref": "#/components/parameters/OffsetParam"
          },
          {
            "$ref": "#/components/parameters/QueryParam"
          },
          {
            "$ref": "#/components/parameters/RelationsParam"
          }
        ],
        "responses": {
          "200": {
            "description": "List of accounts",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Account"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      },
      "post": {
        "tags": [
          "Accounts"
        ],
        "summary": "Create account",
        "description": "Creates a new user account in the system.",
        "operationId": "createAccount",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAccountRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Account created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      }
    },
    "/accounts/{id}": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Get account by ID",
        "description": "Retrieves a specific account by its ID.",
        "operationId": "getAccount",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "The account ID"
          },
          {
            "$ref": "#/components/parameters/RelationsParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Account details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      },
      "put": {
        "tags": [
          "Accounts"
        ],
        "summary": "Update account",
        "description": "Updates an existing account.",
        "operationId": "updateAccount",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAccountRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Account updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      },
      "delete": {
        "tags": [
          "Accounts"
        ],
        "summary": "Delete account",
        "description": "Deletes an account from the system.",
        "operationId": "deleteAccount",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Account deleted successfully"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      }
    },
    "/accounts/list": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "List accounts with pagination",
        "description": "Returns a paginated list of accounts with metadata about total count and pagination state.\n",
        "operationId": "listAccountsPaginated",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/LimitParam"
          },
          {
            "$ref": "#/components/parameters/OffsetParam"
          },
          {
            "$ref": "#/components/parameters/QueryParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of accounts",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedAccountsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/accounts/count": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Count accounts",
        "description": "Returns the total count of accounts matching the query.",
        "operationId": "countAccounts",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/QueryParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Account count",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "count": {
                      "type": "integer",
                      "example": 42
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/accounts/enterprise/enable": {
      "post": {
        "tags": [
          "Enterprise"
        ],
        "summary": "Enable enterprise mode",
        "description": "Enables enterprise mode for the current account, allowing team collaboration \nand shared resources.\n",
        "operationId": "enableEnterprise",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EnableEnterpriseRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Enterprise mode enabled successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      }
    },
    "/accounts/enterprise/disable": {
      "post": {
        "tags": [
          "Enterprise"
        ],
        "summary": "Disable enterprise mode",
        "description": "Disables enterprise mode and converts back to standalone account.",
        "operationId": "disableEnterprise",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Enterprise mode disabled successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            }
          }
        }
      }
    },
    "/accounts/enterprise/settings": {
      "put": {
        "tags": [
          "Enterprise"
        ],
        "summary": "Update enterprise settings",
        "description": "Updates enterprise configuration and settings.",
        "operationId": "updateEnterpriseSettings",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateEnterpriseSettingsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Settings updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            }
          }
        }
      }
    },
    "/accounts/enterprise/stats": {
      "get": {
        "tags": [
          "Enterprise"
        ],
        "summary": "Get enterprise statistics",
        "description": "Retrieves usage statistics and metrics for the enterprise account.",
        "operationId": "getEnterpriseStats",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Enterprise statistics",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EnterpriseStats"
                }
              }
            }
          }
        }
      }
    },
    "/accounts/enterprise/members": {
      "get": {
        "tags": [
          "Enterprise"
        ],
        "summary": "List enterprise members",
        "description": "Returns a list of all members in the enterprise account.",
        "operationId": "listEnterpriseMembers",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "List of enterprise members",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Account"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Enterprise"
        ],
        "summary": "Add enterprise member",
        "description": "Invites a new member to join the enterprise account.",
        "operationId": "createEnterpriseMember",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateMemberRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Member added successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            }
          }
        }
      }
    },
    "/accounts/enterprise/members/{memberId}": {
      "delete": {
        "tags": [
          "Enterprise"
        ],
        "summary": "Remove enterprise member",
        "description": "Removes a member from the enterprise account.",
        "operationId": "removeEnterpriseMember",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "memberId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Member removed successfully"
          }
        }
      }
    },
    "/accounts/dashboard/users": {
      "get": {
        "tags": [
          "Dashboard"
        ],
        "summary": "List all users (Admin)",
        "description": "Returns a list of all users in the system. Admin only.",
        "operationId": "listDashboardUsers",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "List of users",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Account"
                  }
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          }
        }
      },
      "post": {
        "tags": [
          "Dashboard"
        ],
        "summary": "Create user (Admin)",
        "description": "Creates a new user in the system. Admin only.",
        "operationId": "createDashboardUser",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDashboardUserRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "User created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          }
        }
      }
    },
    "/accounts/dashboard/users/{id}": {
      "delete": {
        "tags": [
          "Dashboard"
        ],
        "summary": "Delete user (Admin)",
        "description": "Deletes a user from the system. Admin only.",
        "operationId": "deleteDashboardUser",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "User deleted successfully"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          }
        }
      }
    },
    "/accounts/dashboard/enterprises": {
      "get": {
        "tags": [
          "Dashboard"
        ],
        "summary": "List all enterprises (Admin)",
        "description": "Returns a list of all enterprise accounts. Admin only.",
        "operationId": "listDashboardEnterprises",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "List of enterprise accounts",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Account"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/accounts/dashboard/stats": {
      "get": {
        "tags": [
          "Dashboard"
        ],
        "summary": "Get system statistics (Admin)",
        "description": "Returns overall system statistics and metrics. Admin only.",
        "operationId": "getDashboardStats",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "System statistics",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DashboardStats"
                }
              }
            }
          }
        }
      }
    },
    "/accounts/dashboard/roles": {
      "get": {
        "tags": [
          "Dashboard"
        ],
        "summary": "List available roles (Admin)",
        "description": "Returns all available roles in the system. Admin only.",
        "operationId": "listRoles",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "List of roles",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Role"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/scanner/assets": {
      "get": {
        "tags": [
          "Assets"
        ],
        "summary": "List assets",
        "description": "Returns a list of assets (scan targets) for the authenticated account.\nSupports pagination, filtering, and search.\n",
        "operationId": "listAssets",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/LimitParam"
          },
          {
            "$ref": "#/components/parameters/OffsetParam"
          },
          {
            "$ref": "#/components/parameters/QueryParam"
          },
          {
            "$ref": "#/components/parameters/RelationsParam"
          }
        ],
        "responses": {
          "200": {
            "description": "List of assets",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Asset"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      },
      "post": {
        "tags": [
          "Assets"
        ],
        "summary": "Create asset",
        "description": "Creates a new asset (scan target) in the system.",
        "operationId": "createAsset",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAssetRequest"
              },
              "example": {
                "target": "https://api.example.com",
                "name": "Production API Server",
                "description": "Main production API endpoint",
                "tags": [
                  "production",
                  "critical"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Asset created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Asset"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      }
    },
    "/scanner/assets/stats": {
      "get": {
        "tags": [
          "Assets"
        ],
        "summary": "Get asset statistics",
        "description": "Returns statistics and metrics about assets.",
        "operationId": "getAssetStats",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Asset statistics",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssetStats"
                }
              }
            }
          }
        }
      }
    },
    "/scanner/assets/{id}": {
      "get": {
        "tags": [
          "Assets"
        ],
        "summary": "Get asset by ID",
        "description": "Retrieves a specific asset by its ID.",
        "operationId": "getAsset",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "$ref": "#/components/parameters/RelationsParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Asset details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Asset"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        }
      },
      "put": {
        "tags": [
          "Assets"
        ],
        "summary": "Update asset",
        "description": "Updates an existing asset.",
        "operationId": "updateAsset",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAssetRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Asset updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Asset"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        }
      },
      "delete": {
        "tags": [
          "Assets"
        ],
        "summary": "Delete asset",
        "description": "Deletes an asset and all associated scans.",
        "operationId": "deleteAsset",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Asset deleted successfully"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        }
      }
    },
    "/scanner/assets/{id}/audit-logs": {
      "get": {
        "tags": [
          "Assets"
        ],
        "summary": "Get asset audit logs",
        "description": "Returns the audit log history for an asset.",
        "operationId": "getAssetAuditLogs",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Asset audit logs",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ScanAuditLog"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/scanner/assets/{id}/scans": {
      "get": {
        "tags": [
          "Assets"
        ],
        "summary": "Get scans for asset",
        "description": "Returns all scans associated with a specific asset.",
        "operationId": "getScansForAsset",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of scans",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Scan"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/scanner/scan": {
      "post": {
        "tags": [
          "Scans"
        ],
        "summary": "Initiate scan",
        "description": "Initiates a new security scan for a specified asset. The scan will be queued \nand processed asynchronously. You can poll the scan status or receive webhook \nnotifications when the scan completes.\n",
        "operationId": "initiateScan",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InitiateScanRequest"
              },
              "example": {
                "assetId": "550e8400-e29b-41d4-a716-446655440000",
                "severityFilter": [
                  "critical",
                  "high",
                  "medium"
                ],
                "tagsFilter": [
                  "xss",
                  "sql-injection"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Scan initiated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Scan"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      }
    },
    "/scanner": {
      "get": {
        "tags": [
          "Scans"
        ],
        "summary": "List scans",
        "description": "Returns a list of all scans for the authenticated account.",
        "operationId": "listScans",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/LimitParam"
          },
          {
            "$ref": "#/components/parameters/OffsetParam"
          },
          {
            "$ref": "#/components/parameters/QueryParam"
          },
          {
            "$ref": "#/components/parameters/RelationsParam"
          }
        ],
        "responses": {
          "200": {
            "description": "List of scans",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Scan"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/scanner/list": {
      "get": {
        "tags": [
          "Scans"
        ],
        "summary": "List scans with pagination",
        "description": "Returns a paginated list of scans with metadata.",
        "operationId": "listScansPaginated",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/LimitParam"
          },
          {
            "$ref": "#/components/parameters/OffsetParam"
          },
          {
            "$ref": "#/components/parameters/QueryParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of scans",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedScansResponse"
                }
              }
            }
          }
        }
      }
    },
    "/scanner/count": {
      "get": {
        "tags": [
          "Scans"
        ],
        "summary": "Count scans",
        "description": "Returns the total count of scans matching the query.",
        "operationId": "countScans",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/QueryParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Scan count",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "count": {
                      "type": "integer",
                      "example": 156
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/scanner/health": {
      "get": {
        "tags": [
          "Scans"
        ],
        "summary": "Check scanner health",
        "description": "Returns the health status of the scanning service.",
        "operationId": "checkScannerHealth",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Scanner health status",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "healthy",
                        "degraded",
                        "unhealthy"
                      ]
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/scanner/{id}": {
      "get": {
        "tags": [
          "Scans"
        ],
        "summary": "Get scan by ID",
        "description": "Retrieves a specific scan by its ID, including all results.",
        "operationId": "getScan",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "$ref": "#/components/parameters/RelationsParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Scan details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Scan"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        }
      }
    },
    "/scanner/{scanId}/results": {
      "get": {
        "tags": [
          "Scan Results"
        ],
        "summary": "Get results for scan",
        "description": "Returns all vulnerability results for a specific scan.",
        "operationId": "getResultsForScan",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "scanId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Scan results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ScanResult"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/scanner/webhook": {
      "post": {
        "tags": [
          "Scans"
        ],
        "summary": "Webhook endpoint for scan updates",
        "description": "Receives webhook notifications from the scanning service about scan status updates.\nThis endpoint uses API key authentication instead of JWT.\n",
        "operationId": "handleScanWebhook",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ScanWebhookPayload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhook processed successfully"
          },
          "401": {
            "description": "Invalid API key"
          }
        }
      }
    },
    "/scanner/results/by-status": {
      "get": {
        "tags": [
          "Scan Results"
        ],
        "summary": "Get results by remediation status",
        "description": "Returns scan results filtered by remediation status (open, in-progress, resolved).",
        "operationId": "getResultsByStatus",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "open",
                "in-progress",
                "resolved"
              ]
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Filtered scan results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ScanResult"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/scanner/results/{id}": {
      "get": {
        "tags": [
          "Scan Results"
        ],
        "summary": "Get scan result by ID",
        "description": "Retrieves a specific scan result by its ID.",
        "operationId": "getScanResult",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Scan result details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScanResult"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        }
      }
    },
    "/scanner/results/{id}/status": {
      "patch": {
        "tags": [
          "Scan Results"
        ],
        "summary": "Update result remediation status",
        "description": "Updates the remediation status of a scan result (e.g., mark as resolved).",
        "operationId": "updateResultStatus",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateResultStatusRequest"
              },
              "example": {
                "status": "resolved"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Status updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScanResult"
                }
              }
            }
          }
        }
      }
    },
    "/scanner/results/{id}/notes": {
      "patch": {
        "tags": [
          "Scan Results"
        ],
        "summary": "Update result notes",
        "description": "Adds or updates notes on a scan result for tracking remediation efforts.",
        "operationId": "updateResultNotes",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateResultNotesRequest"
              },
              "example": {
                "notes": "Fixed in commit abc123. Deployed to production on 2024-01-15."
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Notes updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScanResult"
                }
              }
            }
          }
        }
      }
    },
    "/chat/session": {
      "post": {
        "tags": [
          "Chat"
        ],
        "summary": "Create chat session",
        "description": "Creates a new AI chat session. The session maintains context for ongoing \nconversations about security findings and analysis.\n",
        "operationId": "createChatSession",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "201": {
            "description": "Chat session created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatSession"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      }
    },
    "/chat/send": {
      "post": {
        "tags": [
          "Chat"
        ],
        "summary": "Send chat message",
        "description": "Sends a message to the AI assistant and receives a response. The assistant \ncan help analyze scan results, provide remediation guidance, and answer \nsecurity-related questions.\n",
        "operationId": "sendChatMessage",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChatMessageRequest"
              },
              "example": {
                "sessionId": "550e8400-e29b-41d4-a716-446655440000",
                "message": "What are the most critical vulnerabilities in my latest scan?",
                "scanId": "660f9500-f39c-52e5-b827-557766550111"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Chat response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatMessageResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "Firebase JWT token authentication"
      },
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key",
        "description": "API key for webhook endpoints"
      }
    },
    "parameters": {
      "LimitParam": {
        "name": "limit",
        "in": "query",
        "description": "Maximum number of results to return",
        "schema": {
          "type": "integer",
          "minimum": 1,
          "maximum": 100,
          "default": 20
        }
      },
      "OffsetParam": {
        "name": "offset",
        "in": "query",
        "description": "Number of results to skip for pagination",
        "schema": {
          "type": "integer",
          "minimum": 0,
          "default": 0
        }
      },
      "QueryParam": {
        "name": "query",
        "in": "query",
        "description": "Search query string for filtering results",
        "schema": {
          "type": "string"
        }
      },
      "RelationsParam": {
        "name": "relations",
        "in": "query",
        "description": "Comma-separated list of relations to include",
        "schema": {
          "type": "string",
          "example": "ownerAccount,createdBy"
        }
      }
    },
    "schemas": {
      "Account": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier for the account"
          },
          "firebaseId": {
            "type": "string",
            "description": "Firebase UID"
          },
          "firstName": {
            "type": "string",
            "example": "John"
          },
          "lastName": {
            "type": "string",
            "example": "Doe"
          },
          "fullName": {
            "type": "string",
            "readOnly": true,
            "example": "John Doe"
          },
          "email": {
            "type": "string",
            "format": "email",
            "example": "john.doe@example.com"
          },
          "role": {
            "$ref": "#/components/schemas/Role"
          },
          "isEnterpriseOwner": {
            "type": "boolean",
            "description": "Whether this account owns an enterprise"
          },
          "enterpriseOwnerId": {
            "type": "string",
            "format": "uuid",
            "nullable": true,
            "description": "ID of the enterprise this account belongs to"
          },
          "maxScansPerMonth": {
            "type": "integer",
            "nullable": true,
            "description": "Scan limit for enterprise accounts"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "firebaseId",
          "firstName",
          "lastName",
          "email",
          "role"
        ]
      },
      "CreateAccountRequest": {
        "type": "object",
        "properties": {
          "firebaseId": {
            "type": "string"
          },
          "firstName": {
            "type": "string",
            "minLength": 1,
            "maxLength": 100
          },
          "lastName": {
            "type": "string",
            "minLength": 1,
            "maxLength": 100
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "roleId": {
            "type": "string",
            "format": "uuid"
          }
        },
        "required": [
          "firebaseId",
          "firstName",
          "lastName",
          "email",
          "roleId"
        ]
      },
      "UpdateAccountRequest": {
        "type": "object",
        "properties": {
          "firstName": {
            "type": "string",
            "minLength": 1,
            "maxLength": 100
          },
          "lastName": {
            "type": "string",
            "minLength": 1,
            "maxLength": 100
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "roleId": {
            "type": "string",
            "format": "uuid"
          }
        }
      },
      "PaginatedAccountsResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Account"
            }
          },
          "total": {
            "type": "integer",
            "description": "Total number of accounts"
          },
          "limit": {
            "type": "integer",
            "description": "Number of results per page"
          },
          "offset": {
            "type": "integer",
            "description": "Current offset"
          }
        }
      },
      "Role": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "slug": {
            "type": "string",
            "example": "admin"
          },
          "name": {
            "type": "string",
            "example": "Administrator"
          },
          "description": {
            "type": "string"
          },
          "permissions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Permission"
            }
          }
        }
      },
      "Permission": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "slug": {
            "type": "string",
            "example": "scanner:read"
          },
          "name": {
            "type": "string",
            "example": "View Scanner Data"
          },
          "description": {
            "type": "string"
          }
        }
      },
      "EnableEnterpriseRequest": {
        "type": "object",
        "properties": {
          "maxScansPerMonth": {
            "type": "integer",
            "minimum": 1,
            "description": "Maximum number of scans allowed per month"
          }
        }
      },
      "UpdateEnterpriseSettingsRequest": {
        "type": "object",
        "properties": {
          "maxScansPerMonth": {
            "type": "integer",
            "minimum": 1
          }
        }
      },
      "CreateMemberRequest": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "format": "email"
          },
          "firstName": {
            "type": "string"
          },
          "lastName": {
            "type": "string"
          },
          "roleId": {
            "type": "string",
            "format": "uuid"
          }
        },
        "required": [
          "email",
          "firstName",
          "lastName"
        ]
      },
      "EnterpriseStats": {
        "type": "object",
        "properties": {
          "totalMembers": {
            "type": "integer"
          },
          "totalScans": {
            "type": "integer"
          },
          "scansThisMonth": {
            "type": "integer"
          },
          "maxScansPerMonth": {
            "type": "integer"
          },
          "totalAssets": {
            "type": "integer"
          },
          "totalVulnerabilities": {
            "type": "integer"
          },
          "criticalVulnerabilities": {
            "type": "integer"
          }
        }
      },
      "CreateDashboardUserRequest": {
        "type": "object",
        "properties": {
          "firebaseId": {
            "type": "string"
          },
          "firstName": {
            "type": "string"
          },
          "lastName": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "roleId": {
            "type": "string",
            "format": "uuid"
          }
        },
        "required": [
          "firebaseId",
          "firstName",
          "lastName",
          "email",
          "roleId"
        ]
      },
      "DashboardStats": {
        "type": "object",
        "properties": {
          "totalUsers": {
            "type": "integer"
          },
          "totalEnterprises": {
            "type": "integer"
          },
          "totalScans": {
            "type": "integer"
          },
          "totalAssets": {
            "type": "integer"
          },
          "totalVulnerabilities": {
            "type": "integer"
          },
          "scansLast30Days": {
            "type": "integer"
          },
          "activeUsersLast30Days": {
            "type": "integer"
          }
        }
      },
      "Asset": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "target": {
            "type": "string",
            "format": "uri",
            "description": "The URL or hostname to scan",
            "example": "https://api.example.com"
          },
          "name": {
            "type": "string",
            "nullable": true,
            "description": "Friendly name for the asset",
            "example": "Production API Server"
          },
          "description": {
            "type": "string",
            "nullable": true,
            "description": "Additional notes about the asset"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true,
            "description": "Categorization tags",
            "example": [
              "production",
              "critical"
            ]
          },
          "lastScannedAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "When this asset was last scanned"
          },
          "ownerAccount": {
            "$ref": "#/components/schemas/Account"
          },
          "createdBy": {
            "$ref": "#/components/schemas/Account"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "target"
        ]
      },
      "CreateAssetRequest": {
        "type": "object",
        "properties": {
          "target": {
            "type": "string",
            "format": "uri",
            "minLength": 1,
            "maxLength": 512
          },
          "name": {
            "type": "string",
            "maxLength": 255
          },
          "description": {
            "type": "string"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "required": [
          "target"
        ]
      },
      "UpdateAssetRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "maxLength": 255
          },
          "description": {
            "type": "string"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "AssetStats": {
        "type": "object",
        "properties": {
          "totalAssets": {
            "type": "integer"
          },
          "assetsScannedLast30Days": {
            "type": "integer"
          },
          "mostScannedAsset": {
            "$ref": "#/components/schemas/Asset"
          }
        }
      },
      "Scan": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "status": {
            "type": "string",
            "enum": [
              "queued",
              "running",
              "completed",
              "failed"
            ],
            "description": "Current status of the scan"
          },
          "asset": {
            "$ref": "#/components/schemas/Asset"
          },
          "externalScanId": {
            "type": "string",
            "nullable": true,
            "description": "ID from the external scanning service"
          },
          "severityFilter": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true,
            "description": "Severity levels to include in results"
          },
          "tagsFilter": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true,
            "description": "Vulnerability tags to filter by"
          },
          "startedAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "completedAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "duration": {
            "type": "string",
            "nullable": true,
            "description": "Duration of the scan",
            "example": "2m 35s"
          },
          "summary": {
            "$ref": "#/components/schemas/ScanSummary"
          },
          "errorMessage": {
            "type": "string",
            "nullable": true
          },
          "ownerAccount": {
            "$ref": "#/components/schemas/Account"
          },
          "initiatedBy": {
            "$ref": "#/components/schemas/Account"
          },
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ScanResult"
            }
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "status"
        ]
      },
      "InitiateScanRequest": {
        "type": "object",
        "properties": {
          "assetId": {
            "type": "string",
            "format": "uuid",
            "description": "ID of the asset to scan"
          },
          "severityFilter": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "critical",
                "high",
                "medium",
                "low",
                "info"
              ]
            },
            "description": "Filter results by severity levels"
          },
          "tagsFilter": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Filter results by vulnerability tags"
          }
        },
        "required": [
          "assetId"
        ]
      },
      "ScanSummary": {
        "type": "object",
        "properties": {
          "total": {
            "type": "integer",
            "description": "Total number of vulnerabilities found"
          },
          "critical": {
            "type": "integer",
            "description": "Number of critical severity findings"
          },
          "high": {
            "type": "integer",
            "description": "Number of high severity findings"
          },
          "medium": {
            "type": "integer",
            "description": "Number of medium severity findings"
          },
          "low": {
            "type": "integer",
            "description": "Number of low severity findings"
          },
          "info": {
            "type": "integer",
            "description": "Number of informational findings"
          }
        },
        "example": {
          "total": 42,
          "critical": 3,
          "high": 8,
          "medium": 15,
          "low": 12,
          "info": 4
        }
      },
      "PaginatedScansResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Scan"
            }
          },
          "total": {
            "type": "integer"
          },
          "limit": {
            "type": "integer"
          },
          "offset": {
            "type": "integer"
          }
        }
      },
      "ScanWebhookPayload": {
        "type": "object",
        "properties": {
          "scanId": {
            "type": "string",
            "format": "uuid"
          },
          "status": {
            "type": "string",
            "enum": [
              "running",
              "completed",
              "failed"
            ]
          },
          "externalScanId": {
            "type": "string"
          },
          "results": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "summary": {
            "$ref": "#/components/schemas/ScanSummary"
          },
          "errorMessage": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "ScanResult": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "scan": {
            "$ref": "#/components/schemas/Scan"
          },
          "name": {
            "type": "string",
            "description": "Vulnerability name",
            "example": "SQL Injection in login form"
          },
          "description": {
            "type": "string",
            "description": "Detailed description of the vulnerability"
          },
          "severity": {
            "type": "string",
            "enum": [
              "critical",
              "high",
              "medium",
              "low",
              "info"
            ],
            "description": "Severity level of the finding"
          },
          "url": {
            "type": "string",
            "format": "uri",
            "nullable": true,
            "description": "Specific URL where vulnerability was found"
          },
          "method": {
            "type": "string",
            "nullable": true,
            "description": "HTTP method",
            "example": "POST"
          },
          "parameter": {
            "type": "string",
            "nullable": true,
            "description": "Affected parameter"
          },
          "evidence": {
            "type": "string",
            "nullable": true,
            "description": "Evidence of the vulnerability"
          },
          "solution": {
            "type": "string",
            "nullable": true,
            "description": "Recommended fix"
          },
          "cweId": {
            "type": "string",
            "nullable": true,
            "description": "CWE identifier",
            "example": "CWE-89"
          },
          "reference": {
            "type": "string",
            "nullable": true,
            "description": "External reference or documentation"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true,
            "description": "Categorization tags",
            "example": [
              "sql-injection",
              "authentication"
            ]
          },
          "remediationStatus": {
            "type": "string",
            "enum": [
              "open",
              "in-progress",
              "resolved"
            ],
            "description": "Current remediation status"
          },
          "notes": {
            "type": "string",
            "nullable": true,
            "description": "Notes about remediation efforts"
          },
          "rawData": {
            "type": "object",
            "nullable": true,
            "description": "Raw scan data from scanning service"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "name",
          "severity",
          "remediationStatus"
        ]
      },
      "UpdateResultStatusRequest": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "open",
              "in-progress",
              "resolved"
            ]
          }
        },
        "required": [
          "status"
        ]
      },
      "UpdateResultNotesRequest": {
        "type": "object",
        "properties": {
          "notes": {
            "type": "string",
            "maxLength": 5000
          }
        },
        "required": [
          "notes"
        ]
      },
      "ScanAuditLog": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "asset": {
            "$ref": "#/components/schemas/Asset"
          },
          "action": {
            "type": "string",
            "enum": [
              "asset_created",
              "asset_updated",
              "scan_initiated",
              "scan_completed",
              "scan_failed",
              "result_status_changed",
              "result_note_added",
              "result_note_updated"
            ]
          },
          "description": {
            "type": "string"
          },
          "metadata": {
            "type": "object",
            "nullable": true
          },
          "performedBy": {
            "$ref": "#/components/schemas/Account"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ChatSession": {
        "type": "object",
        "properties": {
          "sessionId": {
            "type": "string",
            "format": "uuid",
            "description": "Unique session identifier"
          },
          "accountId": {
            "type": "string",
            "format": "uuid",
            "description": "Account that owns this session"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "expiresAt": {
            "type": "string",
            "format": "date-time",
            "description": "When this session expires"
          }
        }
      },
      "ChatMessageRequest": {
        "type": "object",
        "properties": {
          "sessionId": {
            "type": "string",
            "format": "uuid",
            "description": "Session ID from createSession"
          },
          "message": {
            "type": "string",
            "minLength": 1,
            "maxLength": 5000,
            "description": "The message to send to the AI assistant"
          },
          "scanId": {
            "type": "string",
            "format": "uuid",
            "nullable": true,
            "description": "Optional scan ID for context"
          }
        },
        "required": [
          "sessionId",
          "message"
        ]
      },
      "ChatMessageResponse": {
        "type": "object",
        "properties": {
          "sessionId": {
            "type": "string",
            "format": "uuid"
          },
          "message": {
            "type": "string",
            "description": "User's message"
          },
          "response": {
            "type": "string",
            "description": "AI assistant's response"
          },
          "scanContext": {
            "type": "object",
            "nullable": true,
            "description": "Scan data if scanId was provided"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error message"
          },
          "code": {
            "type": "string",
            "description": "Error code"
          },
          "details": {
            "type": "object",
            "nullable": true,
            "description": "Additional error details"
          }
        },
        "required": [
          "error"
        ]
      }
    },
    "responses": {
      "UnauthorizedError": {
        "description": "Authentication token is missing or invalid",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "example": {
              "error": "Authentication required",
              "code": "UNAUTHORIZED"
            }
          }
        }
      },
      "ForbiddenError": {
        "description": "User does not have permission to perform this action",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "example": {
              "error": "Insufficient permissions",
              "code": "FORBIDDEN"
            }
          }
        }
      },
      "NotFoundError": {
        "description": "The requested resource was not found",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "example": {
              "error": "Resource not found",
              "code": "NOT_FOUND"
            }
          }
        }
      },
      "ValidationError": {
        "description": "Request validation failed",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "example": {
              "error": "Validation failed",
              "code": "VALIDATION_ERROR",
              "details": {
                "fields": {
                  "email": "Invalid email format",
                  "target": "URL is required"
                }
              }
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "BearerAuth": []
    }
  ]
}