{
  "openapi": "3.0.0",
  "servers": [
    {
      "url": "https://tamamapi.futureface.sa/"
    }
  ],
  "info": {
    "title": "User Fitness Onboarding API",
    "description": "API for user sign-in and fitness onboarding data management",
    "version": "1.0.0",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/futurefaceforitsolut/GeneratedAPI_2026-01-25-1556/1.0.0"
  },
  "paths": {
    "/signup": {
      "post": {
        "operationId": "signup",
        "summary": "Sign up a user for the first time or subsequent times",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string"
                  },
                  "password": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "User signed in successfully, account information stored if first time",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "firstSignIn": {
                      "type": "boolean",
                      "description": "Indicates if this is the first time the user signed in"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/fitness-onboarding": {
      "post": {
        "operationId": "saveFitnessOnboardingData",
        "summary": "Save fitness onboarding screen form data after first sign-up",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Fitness onboarding form data",
                "properties": {
                  "duration": {
                    "type": "object",
                    "properties": {
                      "minutes": {
                        "type": "string"
                      }
                    }
                  },
                  "equipment": {
                    "type": "object",
                    "properties": {
                      "key_equip": {
                        "type": "string"
                      }
                    }
                  },
                  "frequency": {
                    "type": "object",
                    "properties": {
                      "days_numb": {
                        "type": "string"
                      }
                    }
                  },
                  "fitness_level": {
                    "type": "object",
                    "properties": {
                      "level_key": {
                        "type": "string"
                      }
                    }
                  },
                  "goal": {
                    "type": "object",
                    "properties": {
                      "goal_key": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Fitness onboarding data saved successfully"
          }
        }
      }
    },
    "/fitness-onboarding/{userId}": {
      "put": {
        "operationId": "updateFitnessOnboardingData",
        "summary": "Update fitness onboarding data for a user",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Updated fitness onboarding form data",
                "properties": {
                  "data": {
                    "type": "object",
                    "description": "Fitness onboarding form fields and values"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Fitness onboarding data updated successfully"
          }
        }
      }
    }
  },
  "components": {}
}