{
  "openapi": "3.0.3",
  "info": {
    "title": "RuneScape API",
    "version": "1.0.0",
    "description": "Public API endpoints for RuneScape and Old School RuneScape game data. Includes player profiles, hiscores, Grand Exchange pricing, bestiary data, and RuneMetrics. These are unofficial endpoints extracted from the RuneScape website and game client.",
    "x-jentic-source-url": "https://runescape.wiki/w/Application_programming_interface",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://secure.runescape.com"
    }
  ],
  "paths": {
    "/m=hiscore/index_lite.ws": {
      "get": {
        "operationId": "getPlayerHiscores",
        "summary": "Get player hiscore data (RS3)",
        "description": "Returns a player's skill levels, experience, and rank in a CSV-like format for RuneScape 3.",
        "tags": [
          "Hiscores"
        ],
        "parameters": [
          {
            "name": "player",
            "in": "query",
            "description": "Player display name",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "CSV data with skill levels, XP, and ranks",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Player not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/m=hiscore_oldschool/index_lite.ws": {
      "get": {
        "operationId": "getOSRSPlayerHiscores",
        "summary": "Get player hiscore data (OSRS)",
        "description": "Returns a player's skill levels, experience, and rank for Old School RuneScape.",
        "tags": [
          "Hiscores"
        ],
        "parameters": [
          {
            "name": "player",
            "in": "query",
            "description": "Player display name",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "CSV data with skill levels, XP, and ranks",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Player not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/m=itemdb_rs/api/catalogue/detail.json": {
      "get": {
        "operationId": "getGrandExchangeItem",
        "summary": "Get Grand Exchange item details",
        "description": "Returns details for a specific Grand Exchange item, including current price and price trends.",
        "tags": [
          "Grand Exchange"
        ],
        "parameters": [
          {
            "name": "item",
            "in": "query",
            "description": "Item ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Item details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GrandExchangeItemResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Item not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/m=itemdb_rs/api/catalogue/items.json": {
      "get": {
        "operationId": "searchGrandExchangeItems",
        "summary": "Search Grand Exchange items",
        "description": "Search for items in the Grand Exchange by category and name prefix.",
        "tags": [
          "Grand Exchange"
        ],
        "parameters": [
          {
            "name": "category",
            "in": "query",
            "description": "Item category ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "alpha",
            "in": "query",
            "description": "Item name prefix to search for",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number for pagination",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of matching items",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GrandExchangeSearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/m=itemdb_rs/api/graph/{item_id}.json": {
      "get": {
        "operationId": "getGrandExchangeGraph",
        "summary": "Get Grand Exchange price graph data",
        "description": "Returns price history data for an item on the Grand Exchange over the last 180 days.",
        "tags": [
          "Grand Exchange"
        ],
        "parameters": [
          {
            "name": "item_id",
            "in": "path",
            "description": "Item ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Price graph data with daily and average prices",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GrandExchangeGraphResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Item not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/m=runemetrics/profile/profile": {
      "get": {
        "operationId": "getRuneMetricsProfile",
        "summary": "Get RuneMetrics player profile",
        "description": "Returns detailed RuneMetrics profile data for a player including skills, activities, and quests.",
        "tags": [
          "RuneMetrics"
        ],
        "parameters": [
          {
            "name": "user",
            "in": "query",
            "description": "Player display name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "activities",
            "in": "query",
            "description": "Number of recent activities to return",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Player profile data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RuneMetricsProfile"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Player not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/m=runemetrics/quests": {
      "get": {
        "operationId": "getRuneMetricsQuests",
        "summary": "Get player quest status",
        "description": "Returns quest completion status for a player from RuneMetrics.",
        "tags": [
          "RuneMetrics"
        ],
        "parameters": [
          {
            "name": "user",
            "in": "query",
            "description": "Player display name",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Quest data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "quests": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Quest"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Player not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/m=bestiary/beastData.json": {
      "get": {
        "operationId": "getBeastData",
        "summary": "Get beast (monster) data",
        "description": "Returns detailed information about a specific monster/beast.",
        "tags": [
          "Bestiary"
        ],
        "parameters": [
          {
            "name": "beastid",
            "in": "query",
            "description": "Beast ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Beast data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Beast"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Beast not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/m=bestiary/beastSearch.json": {
      "get": {
        "operationId": "searchBeasts",
        "summary": "Search beasts by name",
        "description": "Search the bestiary by beast name.",
        "tags": [
          "Bestiary"
        ],
        "parameters": [
          {
            "name": "term",
            "in": "query",
            "description": "Search term for beast name",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of matching beasts",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "label": {
                        "type": "string"
                      },
                      "value": {
                        "type": "integer"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/m=avatar-rs/{player}/chat.png": {
      "get": {
        "operationId": "getPlayerAvatar",
        "summary": "Get player avatar image",
        "description": "Returns the player's in-game avatar as a PNG image.",
        "tags": [
          "Players"
        ],
        "parameters": [
          {
            "name": "player",
            "in": "path",
            "description": "Player display name",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Avatar PNG image",
            "content": {
              "image/png": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "404": {
            "description": "Player not found"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "GrandExchangeItemResponse": {
        "type": "object",
        "properties": {
          "item": {
            "type": "object",
            "properties": {
              "icon": {
                "type": "string"
              },
              "icon_large": {
                "type": "string"
              },
              "id": {
                "type": "integer"
              },
              "type": {
                "type": "string"
              },
              "typeIcon": {
                "type": "string"
              },
              "name": {
                "type": "string"
              },
              "description": {
                "type": "string"
              },
              "current": {
                "type": "object",
                "properties": {
                  "trend": {
                    "type": "string"
                  },
                  "price": {
                    "type": "string"
                  }
                }
              },
              "today": {
                "type": "object",
                "properties": {
                  "trend": {
                    "type": "string"
                  },
                  "price": {
                    "type": "string"
                  }
                }
              },
              "members": {
                "type": "string"
              }
            }
          }
        }
      },
      "GrandExchangeSearchResponse": {
        "type": "object",
        "properties": {
          "total": {
            "type": "integer"
          },
          "items": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "icon": {
                  "type": "string"
                },
                "icon_large": {
                  "type": "string"
                },
                "id": {
                  "type": "integer"
                },
                "type": {
                  "type": "string"
                },
                "typeIcon": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                },
                "description": {
                  "type": "string"
                },
                "current": {
                  "type": "object",
                  "properties": {
                    "trend": {
                      "type": "string"
                    },
                    "price": {
                      "type": "string"
                    }
                  }
                },
                "today": {
                  "type": "object",
                  "properties": {
                    "trend": {
                      "type": "string"
                    },
                    "price": {
                      "type": "string"
                    }
                  }
                },
                "members": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "GrandExchangeGraphResponse": {
        "type": "object",
        "properties": {
          "daily": {
            "type": "object",
            "additionalProperties": {
              "type": "integer"
            },
            "description": "Map of timestamp to price for daily prices"
          },
          "average": {
            "type": "object",
            "additionalProperties": {
              "type": "integer"
            },
            "description": "Map of timestamp to price for averaged prices"
          }
        }
      },
      "RuneMetricsProfile": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "rank": {
            "type": "string"
          },
          "totalskill": {
            "type": "integer"
          },
          "totalxp": {
            "type": "number"
          },
          "combatlevel": {
            "type": "integer"
          },
          "magic": {
            "type": "integer"
          },
          "melee": {
            "type": "integer"
          },
          "ranged": {
            "type": "integer"
          },
          "questsstarted": {
            "type": "integer"
          },
          "questscomplete": {
            "type": "integer"
          },
          "questsnotstarted": {
            "type": "integer"
          },
          "activities": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "date": {
                  "type": "string"
                },
                "details": {
                  "type": "string"
                },
                "text": {
                  "type": "string"
                }
              }
            }
          },
          "skillvalues": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "level": {
                  "type": "integer"
                },
                "xp": {
                  "type": "number"
                },
                "rank": {
                  "type": "integer"
                },
                "id": {
                  "type": "integer"
                }
              }
            }
          }
        }
      },
      "Quest": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "COMPLETED",
              "STARTED",
              "NOT_STARTED"
            ]
          },
          "difficulty": {
            "type": "integer"
          },
          "members": {
            "type": "boolean"
          },
          "questPoints": {
            "type": "integer"
          },
          "userEligible": {
            "type": "boolean"
          }
        }
      },
      "Beast": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "id": {
            "type": "integer"
          },
          "level": {
            "type": "integer"
          },
          "lifepoints": {
            "type": "integer"
          },
          "members": {
            "type": "boolean"
          },
          "weakness": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "xp": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "size": {
            "type": "integer"
          },
          "aggressive": {
            "type": "boolean"
          },
          "poisonous": {
            "type": "boolean"
          },
          "attackable": {
            "type": "boolean"
          },
          "areas": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "animations": {
            "type": "object",
            "additionalProperties": {
              "type": "integer"
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Bestiary"
    },
    {
      "name": "Grand Exchange"
    },
    {
      "name": "Hiscores"
    },
    {
      "name": "Players"
    },
    {
      "name": "RuneMetrics"
    }
  ]
}
