{
  "openapi": "3.0.0",
  "info": {
    "title": "Public EMMA API",
    "description": "### About Infrastructure API\n\n**Base URL:** **<u>https://api.emma.ms/external</u>**\n\n This **Infrastructure API** is for managing the emma cloud infrastructure within a project. The API enables you to view, create, edit, and delete _Virtual machines, Spot instances, Applications, Kubernetes clusters, SSH keys, Security groups, and Backup policies_. For creating the resources you can use the endpoints with the dictionaries: _Data centers, Locations, Providers, Operating systems, Virtual machines configurations, Spot instances configurations, Kubernetes clusters configurations._\n\n ### Authentication\n\n #### 1. Create service application\n\n To access the API, enter your project, navigate to **Settings** > **Service Apps**, and create a service application. Select the access level **Read**, **Operate**, or **Manage**.\n\n - **Read** - only GET methods are allowed in the API.\n\n - **Operate** - some operations are allowed with the resources (e.g. _Start, Reboot,_ and _Shutdown_ of the Virtual machines).\n\n - **Manage** - full creating, updating, and deleting of the resources is allowed.\n\n\n #### 2. Get access token\n\n - Copy the **Client ID** and **Client Secret** in the service application.\n - Send an API request to the endpoint **/issue-token** as specified in the **Authentication** section of the API documentation. You will receive access and refresh tokens in the response.\n\n _For Linux / Mac:_\n ```\n curl -X POST https://api.emma.ms/external/v1/issue-token \\\n -H \"Content-Type: application/json\" \\\n -d '{\"clientId\": \"YOUR-CLIENT-ID\", \"clientSecret\": \"YOUR-CLIENT-SECRET\"}'\n ```\n _For Windows:_\n ```\n curl -X POST https://api.emma.ms/external/v1/issue-token ^\n -H \"Content-Type: application/json\" ^\n -d \"{\\\"clientId\\\": \\\"YOUR-CLIENT-ID\\\", \\\"clientSecret\\\": \\\"YOUR-CLIENT-SECRET\\\"}\"\n ```\n\n #### 3. Use access token in requests\n The Bearer access token is a text string, included in the request header, for example:\n\n _For Linux / Mac:_\n ```\n curl -X GET https://api.emma.ms/external/v1/locations -H \"Authorization: Bearer YOUR-ACCESS-TOKEN-HERE\"\n ```\n\n Use this token for the API requests. \n\n #### 4. Refresh token\n The access token will expire in 10 minutes. A new access token may be created using the refresh token (without Client ID and Client Secret).\n\n To get a new access token send a request to the **/refresh-token** endpoint:\n\n\n _For Linux / Mac:_\n ```\n curl -X POST https://api.emma.ms/external/v1/refresh-token \\\n -H \"Content-Type: application/json\" \\\n -d '{\"refreshToken\": \"YOUR-REFRESH-TOKEN\"}'\n ```    \n\n ### Possible response status codes\n\n We use standard HTTP response codes to show the success or failure of requests.\n\n `2xx` - successful responses.\n\n `4xx` - client error responses (the response contains an explanation of the error).\n\n `5xx` - server error responses.\n\n The API uses the following status codes:\n\n | Status Code | Description                  | Notes                                                                  |\n |-------------|------------------------------|------------------------------------------------------------------------|\n | 200         | OK                           | The request was successful.                                             |\n | 201         | Created                      | The object was successfully created. This code is only used with objects that are created immediately.\n | 204         | No content                   | A successful request, but there is no additional information to send back in the response body (in a case when the object was deleted).  \n | 400         | Bad Request                  | The request could not be understood by the server. Incoming parameters might not be valid. |\n | 401         | Unauthorized            | The client is unauthenticated. The client must authenticate itself to get the requested response. |\n | 403         | Forbidden                   | The client does not have access rights to the content.\n | 404         | Not Found                    | The requested resource is not found.                                    |\n | 409         | Conflict | This response is sent when a request conflicts with the current state of the object (e.g. deleting the security group with the compute instances in it).|\n | 422         | Unprocessable Content   | The request was well-formed but was unable to be followed due to incorrect field values (e.g. creation of a virtual machine in the non-existent data center).  |\n | 500         | Internal server Error                 | The server could not return the representation due to an internal server error. |\n",
    "version": "1.0.31-PM-2560-k8s-accelerators",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/ALINALEVONENKO/public-emma-api/1.0.31-PM-2560-k8s-accelerators"
  },
  "servers": [
    {
      "description": "Public EMMA API",
      "url": "https://api.emma.ms/external"
    }
  ],
  "tags": [
    {
      "name": "Accelerator types",
      "description": "GPU accelerator types"
    },
    {
      "name": "Authentication",
      "description": "Includes two endpoints for obtaining access tokens for authentication in the current API. The first endpoint enables you to get an access token and a refresh token. To send a request, you first need to create a Service application in your project (in the Settings section). After creating the application, you will get a Client ID and a Client Secret. Use them in your API request body to get the access and refresh tokens.\n\nThe second endpoint is used for getting a new access token using the refresh token. Since the access token can expire in a few minutes, you can generate a new access token without providing the Client ID and Client Secret.\n"
    },
    {
      "name": "Compute instances configurations",
      "description": "When creating virtual machines, spot instances, or Kubernetes clusters, you need to provide the desired hardware configurations. These configurations include CPU, CPU type, RAM, volume size, and volume type. Different cloud providers offer various configurations in different data centers. Therefore, before creating any compute instance, you need to verify the available configurations.\n\nUse these three endpoints as references for available configurations for virtual machines, spot instances, and Kubernetes clusters. You can search the available configurations by different parameters (provider, location, data center, cloud network type, CPU, CPU type, RAM, volume size, volume type, and price).\n\nWhen you find an appropriate configuration, provide the hardware parameters in the endpoint for creating or editing a virtual machine, spot instance, or Kubernetes cluster.\n"
    },
    {
      "name": "Data centers",
      "description": "Data centers from cloud providers. The data center ID is necessary for creating compute instances. Use data center endpoints to find the provider's data centers.\n"
    },
    {
      "name": "Kubernetes clusters",
      "description": "Provides a comprehensive suite of endpoints for managing Kubernetes clusters within the project. This includes creating, retrieving, updating, and deleting Kubernetes clusters.\n"
    },
    {
      "name": "Locations",
      "description": "Geographic locations of the provider's data centers. These endpoints provide the ID and name of each geographic location. Use the retrieved location ID for searching data centers.\n"
    },
    {
      "name": "Operating systems",
      "description": "Operating systems of compute instances supported by the cloud providers. Endpoints provide detailed information about each operating system, including its family, type, version, and architecture. The operating system ID is necessary when creating virtual machines and spot instances.\n"
    },
    {
      "name": "Providers",
      "description": "Cloud service provider is a third-party company that provides scalable computing resources that users can access over emma platform. When you create any computing resources in emma you create them in the provider's datacenters.\n"
    },
    {
      "name": "Security groups",
      "description": "A security group refers to a set of rules that determine what network traffic is allowed to enter or leave a particular network or system. It acts as a virtual firewall, controlling inbound and outbound traffic based on predefined rules.\nSecurity groups operate based on predefined rules that allow traffic based on specified criteria, such as source IP address, destination IP address, port number, and protocol. You can create and modify security groups, and add or delete compute instances from the security group.\n"
    },
    {
      "name": "Spot instances",
      "description": "A Spot Instance is a specialized compute instance that allows you to access and utilize unused instance capacity at a steeply discounted rate.  Spot price is charged on an hourly basis.\n"
    },
    {
      "name": "SSH keys",
      "description": "Provides endpoints for managing SSH keys within the project. These endpoints allow users to create, retrieve, update, and delete SSH keys, facilitating secure access to cloud resources.\nYou can only manage the SSH keys created by the current Service application that you use to authenticate to the API. You can't retrieve a list of SSH keys created by other users. You can't use other user's SSH keys when creating compute instances.\n"
    },
    {
      "name": "Statistics",
      "description": "The method allows extraction of statistical data from emma's DWH. All queries are predefined; users need to select one and specify additional parameters.\n  \n\u26a0\ufe0f Deprecated \u2014 will be removed on 2026-05-13.\n"
    },
    {
      "name": "Subnetworks",
      "description": "Provides endpoints for creating and managing subnetworks at the project level. This feature allows defining IP address ranges for deploying virtual machines within specified subnetworks. Initially available for DigitalOcean and Gcore, it includes additional option for specifying private IP for Gcore virtual machines during deployment.\n"
    },
    {
      "name": "Virtual machines",
      "description": "Provides a comprehensive set of endpoints for managing virtual machines (VMs) within the project. These endpoints enable users to create, retrieve, update, and delete virtual machines.\n"
    },
    {
      "name": "Volumes",
      "description": "A volume is a block storage resource used by virtual machines to store and retrieve data continuously. The endpoint allows users to increase the storage capacity of existing volumes.\n"
    },
    {
      "name": "Volumes configurations",
      "description": "Available volume configurations. Use this endpoint to reference configurations for volumes, searchable by the following parameters: provider, location, data center, volume size, and volume type.\n"
    }
  ],
  "paths": {
    "/v1/issue-token": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Issue token",
        "operationId": "issueToken",
        "description": "Returns an access token and a refresh token for this API. The bearer access token enables you to get access and send requests to the endpoints in this API.\n\nTo get the tokens, you need to send a Client ID and a Client Secret, which you can obtain from the Service application in your project. First, create a Service app in your project (Project -> Settings -> Service apps).\n\nTo manage access rights to the API, select an appropriate access level for your app when creating the service app - **Read**, **Operate,** or **Manage**.\n\nThe Bearer access token is a text string, included in the request header, for example:\n\n```\ncurl -X GET https://api.emma.ms/external/v1/locations -H \"Authorization: Bearer YOUR-ACCESS-TOKEN-HERE\"\n```\n",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Credentials"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Token"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestError"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "CURL",
            "label": "CURL",
            "source": "curl --location 'https://api.emma.ms/external/v1/issue-token' \\\n--header 'Content-Type: application/json' \\\n--header 'Accept: application/json' \\\n--data '{\n  \"clientId\": \"YOUR-CLIENT-ID\",\n  \"clientSecret\": \"YOUR-CLIENT-SECRET\"\n}'"
          }
        ]
      }
    },
    "/v1/refresh-token": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Refresh token",
        "operationId": "refreshToken",
        "description": "Returns an access token for this API using a refresh token. The refresh token enables you to get a new access token (when it is expired) without needing the Client ID and Client Secret. To get the access token, you need to send the refresh token in the payload. You can obtain the refresh token from the `/v1/issue-token` endpoint.\n",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RefreshToken"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Token"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestError"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "CURL",
            "label": "CURL",
            "source": "curl --location 'https://api.emma.ms/external/v1/refresh-token' \\\n--header 'Content-Type: application/json' \\\n--header 'Accept: application/json' \\\n--data '{\n  \"refreshToken\": \"YOUR-REFRESH-TOKEN\"\n}'"
          }
        ]
      }
    },
    "/v1/accelerator-types": {
      "get": {
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "Accelerator types"
        ],
        "summary": "Get list of GPU accelerator types",
        "operationId": "GetAcceleratorTypes",
        "description": "Returns a list of GPU accelerator types.\n",
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AcceleratorType"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenError"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "CURL",
            "label": "CURL",
            "source": "curl --location 'https://api.emma.ms/external/v1/accelerator-types' \\\n--header 'Accept: application/json' \\\n--header 'Authorization: Bearer YOUR-BEARER-TOKEN'"
          }
        ]
      }
    },
    "/v1/data-centers": {
      "get": {
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "Data centers"
        ],
        "summary": "Get list of data centers",
        "operationId": "GetDataCenters",
        "description": "Returns a list of data centers from cloud providers. All compute instances are created in data centers. The data center ID is necessary for creating any compute instance. Use this endpoint to find the provider's data centers.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/dataCenterName"
          },
          {
            "$ref": "#/components/parameters/locationIdQuery"
          },
          {
            "$ref": "#/components/parameters/providerName"
          },
          {
            "$ref": "#/components/parameters/projectIdQuery"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DataCenter"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenError"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "CURL",
            "label": "CURL",
            "source": "curl --location 'https://api.emma.ms/external/v1/data-centers' \\\n--header 'Accept: application/json' \\\n--header 'Authorization: Bearer YOUR-BEARER-TOKEN'"
          }
        ]
      }
    },
    "/v1/data-centers/{dataCenterId}": {
      "get": {
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "Data centers"
        ],
        "summary": "Get data center by ID",
        "operationId": "GetDataCenter",
        "description": "Returns a data center from a cloud provider by data center ID. Information on the data center includes its name, provider and location.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/dataCenterId"
          },
          {
            "$ref": "#/components/parameters/projectIdQuery"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataCenter"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenError"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundError"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "CURL",
            "label": "CURL",
            "source": "curl --location 'https://api.emma.ms/external/v1/data-centers/YOUR-DATA-CENTER-ID' \\\n--header 'Accept: application/json' \\\n--header 'Authorization: Bearer YOUR-BEARER-TOKEN'"
          }
        ]
      }
    },
    "/v1/kubernetes": {
      "get": {
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "Kubernetes clusters"
        ],
        "summary": "Get list of Kubernetes clusters",
        "operationId": "GetKubernetesClusters",
        "description": "Returns a list of created Kubernetes clusters.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/projectIdQuery"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Kubernetes"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenError"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "CURL",
            "label": "CURL",
            "source": "curl --location 'https://api.emma.ms/external/v1/kubernetes' \\\n--header 'Accept: application/json' \\\n--header 'Authorization: Bearer YOUR-BEARER-TOKEN'"
          }
        ]
      },
      "post": {
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "Kubernetes clusters"
        ],
        "summary": "Create Kubernetes cluster",
        "operationId": "CreateKubernetesCluster",
        "description": "Creates a Managed Kubernetes cluster. Kubernetes Service provides you with the ability to deploy and manage Kubernetes clusters without worrying about the setup and maintenance of master nodes. emma takes care of managing the Kubernetes control planes, allowing you to focus on deploying and managing your applications. You don't need to create master nodes. \n\nWe offer a reliable and highly available infrastructure for your cluster, which is hosted across three cloud providers: **Amazon Web Services (AWS), Microsoft Azure,** and **Google Cloud Platform (GCP)**. The service ensures independence from a single cloud provider. You can deploy your cluster across the networks of three providers.\n\nCurrently, you can only place clusters in **European** and **North American** regions of cloud providers.\n\n Choose the network type: direct connect (requires enabling this option) or internet connect (no additional actions required).\n\nWhen creating worker nodes, you need to select the appropriate hardware configurations. The configuration depends on the provider and the data center. Use the `/v1/kubernetes-configs` endpoint to find available configurations for worker nodes.\n\nCluster currently supports up to 5 autoscaling groups and a total of 16 worker nodes.\n",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/KubernetesCreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Kubernetes"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenError"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "CURL",
            "label": "CURL",
            "source": "curl --location 'https://api.emma.ms/external/v1/kubernetes' \\\n--header 'Content-Type: application/json' \\\n--header 'Accept: application/json' \\\n--header 'Authorization: Bearer YOUR-BEARER-TOKEN' \\\n--data '{\n  \"name\": \"default-k8s-managed-cluster-name\",\n  \"deploymentLocation\": \"eu\", \n  \"k8sConnectionType\": \"internet_connect\"\n  \"workerNodes\": [\n    {\n      \"name\": \"default-name\",\n      \"dataCenterId\": \"europe-west1-d\",\n      \"vCpuType\": \"shared\",\n      \"vCpu\": 2,\n      \"ramGb\": 4,\n      \"volumeType\": \"ssd\",\n      \"volumeGb\": 16\n    }\n  ],\n  \"autoscalingConfigs\": [\n    {\n      \"groupName\": \"nodegroup\",\n      \"dataCenterId\": \"aws-us-west-1\",\n      \"minimumNodes\": 1,\n      \"maximumNodes\": 2,\n      \"targetNodes\": 1,\n      \"minimumVCpus\": 1,\n      \"maximumVCpus\": 5,\n      \"targetVCpus\": 1,\n      \"nodeGroupPriceLimit\": 5,\n      \"useOnDemandInstancesInsteadOfSpots\": true,\n      \"spotPercent\": 50,\n      \"spotMarkup\": 5,\n      \"configurationPriorities\": [\n        {\n          \"vCpuType\": \"shared\",\n          \"vCpu\": 2,\n          \"ramGb\": 2,\n          \"volumeGb\": 16,\n          \"volumeType\": \"ssd\",\n          \"priority\": \"high\"\n        }\n      ]\n    }\n  ]\n}'"
          }
        ]
      }
    },
    "/v1/kubernetes/{kubernetesId}": {
      "get": {
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "Kubernetes clusters"
        ],
        "summary": "Get Kubernetes cluster by id",
        "operationId": "GetKubernetesCluster",
        "description": "Returns a Managed Kubernetes cluster by cluster ID.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/kubernetesId"
          },
          {
            "$ref": "#/components/parameters/projectIdQuery"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Kubernetes"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenError"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundError"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "CURL",
            "label": "CURL",
            "source": "curl --location 'https://api.emma.ms/external/v1/kubernetes/{kubernetesId}' \\\n--header 'Accept: application/json' \\\n--header 'Authorization: Bearer YOUR-BEARER-TOKEN'"
          }
        ]
      },
      "put": {
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "Kubernetes clusters"
        ],
        "summary": "Edit Kubernetes cluster",
        "operationId": "EditKubernetesCluster",
        "description": "The method for editing a Managed Kubernetes cluster enables you to delete and add new worker nodes and autoscaling groups, as well as change the settings of existing autoscaling groups. You can only edit a cluster when it is in \"ACTIVE\" status. To select hardware configurations for worker nodes, use the /v1/kubernetes-configs endpoint.\n\nWhen editing a Kubernetes cluster, you can only add or delete worker nodes, but you cannot change the name or configuration of existing worker nodes. If you want to keep a node when editing a cluster, simply specify its ID in the 'workerNodes' object. All other fields in 'workerNodes' are ignored for existing nodes and are not required. If you want to delete a node, remove its ID.\n\nWhen you create a new node, all fields in the 'workerNodes' object (except ID) are required. Do not add the ID field for a new node.\n\nPlease note that the spotMarkup field is ignored for the GCP provider.\n\nWhen you delete an autoscaling group with existing worker nodes, the worker nodes are also deleted.\n\nDuring the changes, the cluster status will change to \"ENV_DEVELOPMENT.\" Nodes undergoing changes will be displayed with a \"BUSY\" status. When the changes are successfully applied, the cluster will transition back to the \"ACTIVE\" status, and the nodes will be in the \"ON\" status.\n",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/KubernetesUpdate"
              }
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/kubernetesId"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Kubernetes"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenError"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundError"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "CURL",
            "label": "CURL",
            "source": "curl --location --request PUT 'https://api.emma.ms/external/v1/kubernetes/{kubernetesId}' \\\n--header 'Content-Type: application/json' \\\n--header 'Accept: application/json' \\\n--header 'Authorization: Bearer YOUR-BEARER-TOKEN' \\\n--data '{\n  \"name\": \"default-k8s-managed-cluster-name\",\n  \"deploymentLocation\": \"eu\",\n  \"workerNodes\": [\n    {\n      \"id\": 18,\n      \"name\": \"default-name\",\n      \"dataCenterId\": \"europe-west1-d\",\n      \"vCpuType\": \"shared\",\n      \"vCpu\": 2,\n      \"ramGb\": 4,\n      \"volumeType\": \"ssd\",\n      \"volumeGb\": 16\n    }\n  ],\n  \"autoscalingConfigs\": [\n    {\n      \"groupName\": \"nodegroup\",\n      \"dataCenterId\": \"aws-us-west-1\",\n      \"minimumNodes\": 1,\n      \"maximumNodes\": 2,\n      \"targetNodes\": 1,\n      \"minimumVCpus\": 1,\n      \"maximumVCpus\": 5,\n      \"targetVCpus\": 1,\n      \"nodeGroupPriceLimit\": 5,\n      \"useOnDemandInstancesInsteadOfSpots\": true,\n      \"spotPercent\": 50,\n      \"spotMarkup\": 5,\n      \"configurationPriorities\": [\n        {\n          \"vCpuType\": \"shared\",\n          \"vCpu\": 2,\n          \"ramGb\": 2,\n          \"volumeGb\": 16,\n          \"volumeType\": \"ssd\",\n          \"priority\": \"high\"\n        }\n      ]\n    }\n  ]\n}'"
          }
        ]
      },
      "delete": {
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "Kubernetes clusters"
        ],
        "summary": "Delete Kubernetes cluster",
        "operationId": "DeleteKubernetesCluster",
        "description": "This method deletes an existing managed Kubernetes cluster. Deleting a cluster will result in the termination of all the worker nodes and the master node that was part of the cluster. All the data stored on the nodes, including the container images, logs, and application data, will also be lost.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/kubernetesId"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Kubernetes"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenError"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundError"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "CURL",
            "label": "CURL",
            "source": "curl --location --request DELETE 'https://api.emma.ms/external/v1/kubernetes/{kubernetesId}' \\\n--header 'Accept: application/json' \\\n--header 'Authorization: Bearer YOUR-BEARER-TOKEN'"
          }
        ]
      }
    },
    "/v1/locations": {
      "get": {
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "Locations"
        ],
        "summary": "Get list of locations",
        "operationId": "GetLocations",
        "description": "Returns a list of geographic locations of the provider's data centers. Locations are cities or states (in the case of the USA). When creating any compute instance, you need to specify a data center. This method helps you find locations with data centers.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/locationName"
          },
          {
            "$ref": "#/components/parameters/projectIdQuery"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Location"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenError"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "CURL",
            "label": "CURL",
            "source": "curl --location 'https://api.emma.ms/external/v1/locations' \\\n--header 'Accept: application/json' \\\n--header 'Authorization: Bearer YOUR-BEARER-TOKEN'"
          }
        ]
      }
    },
    "/v1/locations/{locationId}": {
      "get": {
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "Locations"
        ],
        "summary": "Get location by ID",
        "operationId": "GetLocation",
        "description": "Returns a geographic location by its ID. Locations are cities or states (in the case of the USA) where providers have data centers.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/locationId"
          },
          {
            "$ref": "#/components/parameters/projectIdQuery"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Location"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenError"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundError"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "CURL",
            "label": "CURL",
            "source": "curl --location 'https://api.emma.ms/external/v1/locations/YOUR-LOCATION-ID' \\\n--header 'Accept: application/json' \\\n--header 'Authorization: Bearer YOUR-BEARER-TOKEN'"
          }
        ]
      }
    },
    "/v1/operating-systems": {
      "get": {
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "Operating systems"
        ],
        "summary": "Get list of operating systems",
        "operationId": "GetOperatingSystems",
        "description": "Returns a list of available operating systems of compute instances supported by the cloud providers. The method provides detailed information about each operating system, including its family, type, version, and architecture. Use this list of the operating systems to find an OS when you create any compute instance.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/osType"
          },
          {
            "$ref": "#/components/parameters/osArchitecture"
          },
          {
            "$ref": "#/components/parameters/osVersion"
          },
          {
            "$ref": "#/components/parameters/projectIdQuery"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/OperatingSystem"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenError"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "CURL",
            "label": "CURL",
            "source": "curl --location 'https://api.emma.ms/external/v1/operating-systems' \\\n--header 'Accept: application/json' \\\n--header 'Authorization: Bearer YOUR-BEARER-TOKEN'"
          }
        ]
      }
    },
    "/v1/operating-systems/{operatingSystemId}": {
      "get": {
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "Operating systems"
        ],
        "summary": "Get operating system by ID",
        "operationId": "GetOperatingSystem",
        "description": "Returns an operating system (supported by the cloud providers) by its ID. The method provides detailed information about each operating system, including its family, type, version, and architecture.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/operatingSystemId"
          },
          {
            "$ref": "#/components/parameters/projectIdQuery"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperatingSystem"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenError"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundError"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "CURL",
            "label": "CURL",
            "source": "curl --location 'https://api.emma.ms/external/v1/operating-systems/YOUR-OPERATING-SYSTEM-ID' \\\n--header 'Accept: application/json' \\\n--header 'Authorization: Bearer YOUR-BEARER-TOKEN'"
          }
        ]
      }
    },
    "/v1/providers": {
      "get": {
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "Providers"
        ],
        "summary": "Get list of cloud providers",
        "operationId": "GetProviders",
        "description": "Returns a list of cloud providers. Cloud service provider is a third-party company that provides scalable computing resources that users can access over emma platform. When you create any computing resources in emma you create them in the provider's datacenters.\nProvider is necessary when you select a data center for creating compute instances.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/providerName"
          },
          {
            "$ref": "#/components/parameters/projectIdQuery"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Provider"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenError"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "CURL",
            "label": "CURL",
            "source": "curl --location 'https://api.emma.ms/external/v1/providers?providerName=%3Cstring%3E' \\\n--header 'Accept: application/json' \\\n--header 'Authorization: Bearer YOUR-BEARER-TOKEN'"
          }
        ]
      }
    },
    "/v1/providers/{providerId}": {
      "get": {
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "Providers"
        ],
        "summary": "Get cloud provider by ID",
        "operationId": "GetProvider",
        "description": "Returns a cloud provider by provider ID. Cloud service provider is a third-party company that provides scalable computing resources that users can access over emma platform.\nProvider is necessary when you select a data center for creating compute instances.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/providerId"
          },
          {
            "$ref": "#/components/parameters/projectIdQuery"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Provider"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenError"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundError"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "CURL",
            "label": "CURL",
            "source": "curl --location 'https://api.emma.ms/external/v1/providers/{providerId}' \\\n--header 'Accept: application/json'"
          }
        ]
      }
    },
    "/v1/security-groups": {
      "get": {
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "Security groups"
        ],
        "summary": "Get list of security groups",
        "operationId": "GetSecurityGroups",
        "description": "Returns a list of security groups.\nA security group refers to a set of rules that determine what network traffic is allowed to enter or leave a particular compute instance. It acts as a virtual firewall, controlling inbound and outbound traffic based on predefined rules.\nSecurity groups operate based on predefined rules that allow traffic based on specified criteria, such as source IP address, destination IP address, port number, and protocol.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/projectIdQuery"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SecurityGroup"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenError"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundError"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "CURL",
            "label": "CURL",
            "source": "curl --location 'https://api.emma.ms/external/v1/security-groups' \\\n--header 'Accept: application/json' \\\n--header 'Authorization: Bearer YOUR-BEARER-TOKEN'"
          }
        ]
      },
      "post": {
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "Security groups"
        ],
        "summary": "Create security group",
        "operationId": "SecurityGroupCreate",
        "description": "This method creates a security group.\n\nA security group refers to a set of rules that determine what network traffic is allowed to enter or leave a particular compute instance. It acts as a virtual firewall, controlling inbound and outbound traffic based on predefined rules.\n\nSecurity groups operate based on predefined rules that allow traffic based on specified criteria, such as source IP address, destination IP address, port number, and protocol.\n\nWhen creating a security group, provide its name and a set of inbound and outbound rules. You can only define rules that allow traffic, not deny it. All traffic is denied except for explicitly allowed traffic.\n\nSecurity groups control TCP, UDP and ICMP protocols, or all the selected protocols at once.\n\nBoth IPv4 and IPv6 addresses are supported in the 'ipRange' field.\n\nAll traffic in the selected protocol is allowed if the IP range in a rule is set to `0.0.0.0/0`.\n",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SecurityGroupRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SecurityGroup"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenError"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundError"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "CURL",
            "label": "CURL",
            "source": "curl --location 'https://api.emma.ms/external/v1/security-groups' \\\n--header 'Content-Type: application/json' \\\n--header 'Accept: application/json' \\\n--header 'Authorization: Bearer YOUR-BEARER-TOKEN' \\\n--data '{\n  \"name\": \"new_default\",\n  \"rules\": [\n    {\n      \"direction\": \"INBOUND\",\n      \"protocol\": \"TCP\",\n      \"ports\": \"1-30321\",\n      \"ipRange\": \"0.0.0.0/0\"\n    }\n  ]\n}'"
          }
        ]
      }
    },
    "/v1/security-groups/{securityGroupId}": {
      "get": {
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "Security groups"
        ],
        "summary": "Get security group by ID",
        "operationId": "GetSecurityGroup",
        "description": "Returns a security group by its ID.\n\nA security group refers to a set of rules that determine what network traffic is allowed to enter or leave a particular compute instance. It acts as a virtual firewall, controlling inbound and outbound traffic based on predefined rules.\n\nSecurity groups operate based on predefined rules that allow traffic based on specified criteria, such as source IP address, destination IP address, port number, and protocol.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/securityGroupId"
          },
          {
            "$ref": "#/components/parameters/projectIdQuery"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SecurityGroup"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenError"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundError"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "CURL",
            "label": "CURL",
            "source": "curl --location 'https://api.emma.ms/external/v1/security-groups/{securityGroupId}' \\\n--header 'Accept: application/json' \\\n--header 'Authorization: Bearer YOUR-BEARER-TOKEN'"
          }
        ]
      },
      "put": {
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "Security groups"
        ],
        "summary": "Update security group",
        "operationId": "SecurityGroupUpdate",
        "description": "This method updates a security group.\n\nA security group refers to a set of rules that determine what network traffic is allowed to enter or leave a particular compute instance. It acts as a virtual firewall, controlling inbound and outbound traffic based on predefined rules.\n\nSecurity groups operate based on predefined rules that allow traffic based on specified criteria, such as source IP address, destination IP address, port number, and protocol.\n\nWhen editing a security group, you can add and delete the inbound and outbound rules. You can only define rules that allow traffic, not deny it. All traffic is denied except for explicitly allowed traffic.\n\nSecurity groups control TCP, UDP and ICMP protocols, or all the selected protocols at once.\n\nBoth IPv4 and IPv6 addresses are supported in the 'ipRange' field.\n\nAll traffic in the selected protocol is allowed if the IP range in a rule is set to `0.0.0.0/0`.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/securityGroupId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SecurityGroupRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SecurityGroup"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenError"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundError"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConflictError"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "CURL",
            "label": "CURL",
            "source": "curl --location --request PUT 'https://api.emma.ms/external/v1/security-groups/{securityGroupId}' \\\n--header 'Content-Type: application/json' \\\n--header 'Accept: application/json' \\\n--header 'Authorization: Bearer YOUR-BEARER-TOKEN' \\\n--data '{\n  \"name\": \"new_default\",\n  \"rules\": [\n    {\n      \"direction\": \"INBOUND\",\n      \"protocol\": \"TCP\",\n      \"ipRange\": \"1-30321\",\n      \"ports\": \"0.0.0.0/0\",\n    }\n  ]\n}'"
          }
        ]
      },
      "delete": {
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "Security groups"
        ],
        "summary": "Delete security group",
        "operationId": "SecurityGroupDelete",
        "description": "This method deletes a security group.\n\nA security group refers to a set of rules that determine what network traffic is allowed to enter or leave a particular compute instance. It acts as a virtual firewall, controlling inbound and outbound traffic based on predefined rules.\n\nSecurity groups operate based on predefined rules that allow traffic based on specified criteria, such as source IP address, destination IP address, port number, and protocol.\n\nYou can't delete a security group if any compute instance is using this security group. To delete a security group, first remove a compute instance from the security group using this method: `POST /v1/security-groups/{securityGroupId}/instances`\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/securityGroupId"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SecurityGroup"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenError"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundError"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConflictError"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "CURL",
            "label": "CURL",
            "source": "curl --location --request DELETE 'https://api.emma.ms/external/v1/security-groups/{securityGroupId}' \\\n--header 'Accept: application/json' \\\n--header 'Authorization: Bearer YOUR-BEARER-TOKEN'"
          }
        ]
      }
    },
    "/v1/security-groups/{securityGroupId}/instances": {
      "get": {
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "Security groups"
        ],
        "summary": "Get instances in security group",
        "operationId": "SecurityGroupInstances",
        "description": "Returns a list of compute instances using the selected security group.\n\nA security group refers to a set of rules that determine what network traffic is allowed to enter or leave a particular compute instance. It acts as a virtual firewall, controlling inbound and outbound traffic based on predefined rules.\n\nSecurity groups operate based on predefined rules that allow traffic based on specified criteria, such as source IP address, destination IP address, port number, and protocol.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/securityGroupId"
          },
          {
            "$ref": "#/components/parameters/projectIdQuery"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Vm"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenError"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundError"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "CURL",
            "label": "CURL",
            "source": "curl --location 'https://api.emma.ms/external/v1/security-groups/{securityGroupId}/instances' \\\n--header 'Accept: application/json' \\\n--header 'Authorization: Bearer YOUR-BEARER-TOKEN'"
          }
        ]
      },
      "post": {
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "Security groups"
        ],
        "summary": "Add instance to security group",
        "operationId": "SecurityGroupInstanceAdd",
        "description": "This method adds a compute instance to the selected security group.\n\nA security group refers to a set of rules that determine what network traffic is allowed to enter or leave a particular compute instance. It acts as a virtual firewall, controlling inbound and outbound traffic based on predefined rules.\n\nSecurity groups operate based on predefined rules that allow traffic based on specified criteria, such as source IP address, destination IP address, port number, and protocol.\n\nAny compute instance always uses some security group since its creation. Adding a compute instance to a security group effectively means moving it from one security group to another. When adding a compute instance to a new security group, it is automatically removed from the previous security group.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/securityGroupId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SecurityGroupInstanceAdd"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Vm"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenError"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundError"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnprocessableEntityError"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "CURL",
            "label": "CURL",
            "source": "curl --location 'https://api.emma.ms/external/v1/security-groups/{securityGroupId}/instances' \\\n--header 'Content-Type: application/json' \\\n--header 'Accept: application/json' \\\n--header 'Authorization: Bearer YOUR-BEARER-TOKEN' \\\n--data '{\n  \"instanceId\": \"8003\"\n}'"
          }
        ]
      }
    },
    "/v1/spot-instances": {
      "get": {
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "Spot instances"
        ],
        "summary": "Get list of spot instances",
        "operationId": "GetSpots",
        "description": "Returns a list of spot instances. \nA Spot Instance is a specialized compute instance that allows you to access and utilize unused instance capacity at a steeply discounted rate.  Spot price is charged on an hourly basis.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/projectIdQuery"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SpotVm"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Access is denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenError"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "CURL",
            "label": "CURL",
            "source": "curl --location 'https://api.emma.ms/external/v1/spot-instances' \\\n--header 'Accept: application/json' \\\n--header 'Authorization: Bearer YOUR-BEARER-TOKEN'"
          }
        ]
      },
      "post": {
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "Spot instances"
        ],
        "summary": "Create spot instance",
        "operationId": "SpotCreate",
        "description": "This method creates a spot instance according to the specified parameters.\n\nA Spot Instance is a specialized compute instance that allows you to access and utilize unused instance capacity at a steeply discounted rate. Spot price is charged on an hourly basis.\n\nTo create a spot instance, follow these steps:\n\n1. Select a data center using the `/v1/data-centers` endpoint. The data center determines the provider and location of the spot instance.\n\n2. Select an available hardware configuration for the spot instance using the `/v1/spots-configs` endpoint.\n\n3. Select an SSH key for the Linux spot instance using the `/v1/ssh-keys` endpoint.\n\n4. Select an operating system using the `/v1/operating-systems` endpoint.\n\n5. Choose one of the cloud network types: _multi-cloud_, _isolated,_ or _default_. Choose the _multi-cloud_ network type if you need to connect compute instances from different providers.\n       \nYou may choose not to specify a security group. In this case, the spot instance will be added to the default security group.\n        \nA `price` field of a spot instance is required. \n\nThe spot instance market operates on a bidding system. Your specified price acts as your bid in this market. If your bid is higher than the current spot price, your instance request will likely be fulfilled. However, if the market price exceeds your bid, your instance may not be launched or could be terminated if already running.\n",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SpotCreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Spot instance created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SpotVm"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Access is denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenError"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnprocessableEntityError"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "CURL",
            "label": "CURL",
            "source": "curl --location 'https://api.emma.ms/external/v1/spot-instances' \\\n--header 'Content-Type: application/json' \\\n--header 'Accept: application/json' \\\n--header 'Authorization: Bearer YOUR-BEARER-TOKEN' \\\n--data '{\n  \"name\": \"spot-default\",\n  \"dataCenterId\": \"aws-us-west-1\",\n  \"osId\": \"35\",\n  \"cloudNetworkType\": \"multi-cloud\",\n  \"vCpuType\": \"shared\",\n  \"vCpu\": \"4\",\n  \"ramGb\": \"1\",\n  \"volumeType\": \"ssd\",\n  \"volumeGb\": \"16\",\n  \"sshKeyId\": \"124\",\n  \"securityGroupId\": \"208\",\n  \"price\": \"0.002635\"\n}'"
          }
        ]
      }
    },
    "/v1/spot-instances/{spotInstanceId}": {
      "get": {
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "Spot instances"
        ],
        "summary": "Get spot instance by ID",
        "operationId": "GetSpot",
        "description": "Returns a spot instance by its ID.\n\nA Spot Instance is a specialized compute instance that allows you to access and utilize unused instance capacity at a steeply discounted rate.  Spot price is charged on an hourly basis.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/spotInstanceId"
          },
          {
            "$ref": "#/components/parameters/projectIdQuery"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SpotVm"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Access is denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenError"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundError"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "CURL",
            "label": "CURL",
            "source": "curl --location 'https://api.emma.ms/external/v1/spot-instances/{spotInstanceId}' \\\n--header 'Accept: application/json' \\\n--header 'Authorization: Bearer YOUR-BEARER-TOKEN'"
          }
        ]
      },
      "delete": {
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "Spot instances"
        ],
        "summary": "Delete spot instance",
        "operationId": "SpotDelete",
        "description": "This method deletes a spot instance.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/spotInstanceId"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SpotVm"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Access is denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenError"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundError"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "CURL",
            "label": "CURL",
            "source": "curl --location --request DELETE 'https://api.emma.ms/external/v1/spot-instances/{spotInstanceId}' \\\n--header 'Accept: application/json' \\\n--header 'Authorization: Bearer YOUR-BEARER-TOKEN'"
          }
        ]
      }
    },
    "/v1/spot-instances/{spotInstanceId}/actions": {
      "post": {
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "Spot instances"
        ],
        "summary": "Perform actions with a spot instance",
        "operationId": "SpotActions",
        "description": "This method performs several actions with a spot instance:\n  - Start a spot instance\n  - Shutdown a spot instance\n  - Reboot a spot instance\n  - Change price for a spot instance. The price change action allows only an increase in price.\n  - Rename a spot instance\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/spotInstanceId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/SpotReboot"
                  },
                  {
                    "$ref": "#/components/schemas/SpotStart"
                  },
                  {
                    "$ref": "#/components/schemas/SpotShutdown"
                  },
                  {
                    "$ref": "#/components/schemas/SpotChangePrice"
                  },
                  {
                    "$ref": "#/components/schemas/SpotRename"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SpotVm"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SpotBadRequestError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Access is denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenError"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SpotNotFoundError"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Content",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SpotUnprocessableEntityError"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "CURL",
            "label": "CURL",
            "source": "curl --location 'https://api.emma.ms/external/v1/spot-instances/{spotInstanceId}/actions' \\\n--header 'Content-Type: application/json' \\\n--header 'Accept: application/json' \\\n--header 'Authorization: Bearer YOUR-BEARER-TOKEN' \\\n--data '{\n  \"action\": \"reboot\"\n}'"
          }
        ]
      }
    },
    "/v1/ssh-keys": {
      "get": {
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "SSH keys"
        ],
        "summary": "Get list of SSH keys",
        "operationId": "SshKeys",
        "description": "Returns a list of the SSH keys for access to Linux compute instances. You can use these keys to create compute instances. \n\nThe list only contains the SSH keys created by the current Service application that you use to send a request. \n\nYou can't retrieve a list of SSH keys created by other users and applications.\n",
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SshKey"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenError"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "CURL",
            "label": "CURL",
            "source": "curl --location 'https://api.emma.ms/external/v1/ssh-keys' \\\n--header 'Accept: application/json' \\\n--header 'Authorization: Bearer YOUR-BEARER-TOKEN'"
          }
        ]
      },
      "post": {
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "SSH keys"
        ],
        "summary": "Create or import SSH key",
        "operationId": "SshKeysCreateImport",
        "description": "This method creates an SSH key that can be used for Linux compute instance creation. An SSH key can be created in two ways: generated by emma or imported by the user.\n\nIf you want to **generate** a key, specify two fields: name and keyType (RSA or ED25519). The key will be generated, and you will receive a private key in the response. The private key will be shown only once, so copy and save it to connect to the Linux compute instances.\n\nIf you want to **import** an existing SSH key, specify two fields: name and key. In the key field, insert your public SSH key as a string. It will be imported.\n",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/SshKeyCreate"
                  },
                  {
                    "$ref": "#/components/schemas/SshKeyImport"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/SshKey"
                    },
                    {
                      "$ref": "#/components/schemas/SshKeyGenerated"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Access is denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenError"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "CURL",
            "label": "CURL",
            "source": "curl --location 'https://api.emma.ms/external/v1/ssh-keys' \\\n--header 'Content-Type: application/json' \\\n--header 'Accept: application/json' \\\n--header 'Authorization: Bearer YOUR-BEARER-TOKEN' \\\n--data '{\n  \"name\": \"mykey\",\n  \"keyType\": \"RSA\"\n}'"
          }
        ]
      }
    },
    "/v1/ssh-keys/{sshKeyId}": {
      "get": {
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "SSH keys"
        ],
        "summary": "Get SSH key by id",
        "operationId": "GetSshKey",
        "description": "Returns an SSH key by ID for access to Linux compute instances. You can only retrieve the SSH keys created by the current Service application that you use to send a request. You can't retrieve SSH keys created by other users and applications.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/sshKeyId"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SshKey"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenError"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundError"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "CURL",
            "label": "CURL",
            "source": "curl --location 'https://api.emma.ms/external/v1/ssh-keys/{sshKeyId}' \\\n--header 'Accept: application/json' \\\n--header 'Authorization: Bearer YOUR-BEARER-TOKEN'"
          }
        ]
      },
      "delete": {
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "SSH keys"
        ],
        "summary": "Delete SSH keys",
        "operationId": "SshKeyDelete",
        "description": "This method deletes a SSH key. You can only delete an SSH key created by the current Service application that you use to send a request. You can't delete SSH keys created by other users and applications.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/sshKeyId"
          }
        ],
        "responses": {
          "204": {
            "description": "Successful operation"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenError"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundError"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "CURL",
            "label": "CURL",
            "source": "curl --location --request DELETE 'https://api.emma.ms/external/v1/ssh-keys/{sshKeyId}' \\\n--header 'Accept: application/json' \\\n--header 'Authorization: Bearer YOUR-BEARER-TOKEN'"
          }
        ]
      },
      "put": {
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "SSH keys"
        ],
        "summary": "Update SSH keys",
        "operationId": "SshKeyUpdate",
        "description": "This method updates a name of an existing SSH-key. You can only update an SSH key created by the current Service application that you use to send a request. You can't update SSH keys created by other users and applications.\n",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SshKeyUpdate"
              }
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/sshKeyId"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SshKey"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenError"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundError"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "CURL",
            "label": "CURL",
            "source": "curl --location --request PUT 'https://api.emma.ms/external/v1/ssh-keys/{sshKeyId}' \\\n--header 'Content-Type: application/json' \\\n--header 'Accept: application/json' \\\n--header 'Authorization: Bearer YOUR-BEARER-TOKEN' \\\n--data '{\n  \"name\": \"mykey\"\n}'"
          }
        ]
      }
    },
    "/v1/subnetworks": {
      "get": {
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "Subnetworks"
        ],
        "summary": "Get list of subnetworks",
        "description": "Returns a list of subnetworks within the project.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/projectIdQuery"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Subnetwork"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Access is denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenError"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "CURL",
            "label": "CURL",
            "source": "curl --location --request 'https://api.emma.ms/external/v1/subnetworks' \\\n--header 'Accept: application/json' \\\n--header 'Authorization: Bearer YOUR-BEARER-TOKEN'"
          }
        ]
      },
      "post": {
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "Subnetworks"
        ],
        "summary": "Create subnetwork",
        "description": "This method creates a subnetwork.\nTo create a subnetwork, consider the following parameters:\n1. Select a data center using the `/v1/data-centers` endpoint. The data center determines the provider and location of the subnetwork.\n2. Specify the IP address range (optional). Subnetwork prefix values can have exceptions depending on that provider and must be in ranges: 10.0.0.0 - 10.255.255.255, 172.16.0.0 - 172.31.255.255, 192.168.0.0 - 192.168.255.255.\n\nSpecific conditions are depending on the provider:\n- GCP: 2 first and 2 last addresses are reserved by the provider. Notice that VMs in different GCP subnetworks can be connected to each other.\n- Azure: 4 first and the last ones are reserved by the provider.\n- AWS: 3 first and the last one are reserved by the provider.\n\n3. Specify the network size (required). Network size must be: for DigitalOcean /28-/16, for Gcore /24-/16, for Azure /29 - /2, for AWS /28 - /16\n",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SubnetworkCreate"
              }
            }
          }
        },
        "responses": {
          "200": {
[...]
