{
  "openapi": "3.0.0",
  "info": {
    "version": "1.0.0",
    "title": "TM-Shippers: File API",
    "description": "An endpoint used to retrieve file data for documents uploaded to loads in the TMS.",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/e2open/tms-file_api/1.0.0"
  },
  "servers": [
    {
      "description": "NA Production server",
      "url": "https://na-api.tms.e2open.com/tmsapi/v1/file"
    },
    {
      "description": "OC Production server",
      "url": "https://oc-api.tms.eu.e2open.com/tmsapi/v1/file"
    },
    {
      "description": "NA Red Sandbox Server",
      "url": "https://red-sandbox-tms-api.e2open.com/tmsapi/v1/file"
    },
    {
      "description": "NA Orange Sandbox Server",
      "url": "https://orange-sandbox-tms-api.e2open.com/tmsapi/v1/file"
    },
    {
      "description": "NA Yellow Sandbox Server",
      "url": "https://yellow-sandbox-tms-api.e2open.com/tmsapi/v1/file"
    },
    {
      "description": "OC Green Sandbox Server",
      "url": "https://green-sandbox-api.tms.eu.e2open.com/tmsapi/v1/file"
    },
    {
      "description": "OC Blue Sandbox Server",
      "url": "https://blue-sandbox-api.tms.eu.e2open.com/tmsapi/v1/file"
    },
    {
      "description": "OC Violet Sandbox Server",
      "url": "https://violet-sandbox-api.tms.eu.e2open.com/tmsapi/v1/file"
    }
  ],
  "paths": {
    "/{fileid}": {
      "get": {
        "summary": "Retrieve file data",
        "tags": [
          "File Operations"
        ],
        "parameters": [
          {
            "name": "fileid",
            "in": "path",
            "required": true,
            "description": "The ID of the file which is being retrieved",
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Gives the response of type application/octet-stream. Stream of file data with a header value of \"Content-Disposition:attachment; filename= 'xyz.txt'\""
          },
          "default": {
            "description": "Unexpected Error"
          }
        }
      }
    }
  }
}