{
  "openapi": "3.0.3",
  "components": {
    "securitySchemes": {
      "authToken": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization"
      }
    }
  },
  "security": [
    {
      "authToken": []
    }
  ],
  "info": {
    "title": "Fasal Apis",
    "version": "1.0.0",
    "contact": {},
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/dfgdfgdfgdfg-0d5/fasal-apis/1.0.0"
  },
  "servers": [
    {
      "url": "http://fasalshop.com/"
    }
  ],
  "paths": {
    "/Api/login": {
      "post": {
        "summary": "User Login",
        "description": "User Login",
        "operationId": "userLogin",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "phone": {
                    "type": "string",
                    "example": "6392545185"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/Api/verify_otp": {
      "post": {
        "summary": "User Verify Otp",
        "description": "User Verify Otp",
        "operationId": "userVerifyOtp",
        "parameters": [
          {
            "name": "",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "device_token": {
                    "type": "string",
                    "example": "device_token"
                  },
                  "otp": {
                    "type": "string",
                    "example": "1234"
                  },
                  "phone": {
                    "type": "string",
                    "example": "6392545185"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/Api/brand": {
      "get": {
        "summary": "get Brand",
        "description": "get Brand",
        "operationId": "getBrand",
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/fasal/Api/get_state_city_by_pincode": {
      "post": {
        "summary": "Get state_city_by_pincode",
        "description": "Get state_city_by_pincode",
        "operationId": "getStateCityByPincode",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "pincode": {
                    "type": "string",
                    "example": "208021"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/Api/view_profile": {
      "get": {
        "summary": "User View Profile",
        "description": "User View Profile",
        "operationId": "userViewProfile",
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/fasal/Api/update_profile": {
      "post": {
        "summary": "User update_profile",
        "description": "User update_profile",
        "operationId": "userUpdateProfile",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "acrs": {
                    "type": "string",
                    "example": "22"
                  },
                  "city": {
                    "type": "string",
                    "example": "sd"
                  },
                  "crop_id": {
                    "type": "string",
                    "example": "1"
                  },
                  "first_name": {
                    "type": "string",
                    "example": "first_name123"
                  },
                  "last_name": {
                    "type": "string",
                    "example": "last_name"
                  },
                  "pincode": {
                    "type": "string",
                    "example": "208021"
                  },
                  "state": {
                    "type": "string",
                    "example": "sdf"
                  },
                  "village": {
                    "type": "string",
                    "example": "last_name"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/fasal/Api/get_all_product_list": {
      "get": {
        "summary": "User Product Get",
        "description": "User Product Get",
        "operationId": "userProductGet",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "product_type": {
                    "type": "string",
                    "example": "1"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/fasal/Api/v_login": {
      "post": {
        "summary": "Vendor Login",
        "description": "Vendor Login",
        "operationId": "vendorLogin",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "phone": {
                    "type": "string",
                    "example": "6392545185"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/fasal/Api/v_verify_otp": {
      "post": {
        "summary": "Vendor_ Verify Otp",
        "description": "Vendor_ Verify Otp",
        "operationId": "vendorVerifyOtp",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "device_token": {
                    "type": "string",
                    "example": "device_token"
                  },
                  "otp": {
                    "type": "string",
                    "example": "1234"
                  },
                  "phone": {
                    "type": "string",
                    "example": "6392545185"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/fasal/Api/v_new_user_registration": {
      "post": {
        "summary": "Vendor Registration",
        "description": "Vendor Registration",
        "operationId": "vendorRegistration",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "address": {
                    "type": "string",
                    "example": "address"
                  },
                  "cancelled_cheque_image": {
                    "type": "string",
                    "format": "binary"
                  },
                  "city": {
                    "type": "string",
                    "example": "city"
                  },
                  "crop_nutrition_license": {
                    "type": "string",
                    "format": "binary"
                  },
                  "crop_protection_license": {
                    "type": "string",
                    "format": "binary"
                  },
                  "email_for_agreement": {
                    "type": "string",
                    "example": "email_for_agreementdsss"
                  },
                  "gst_cert_image": {
                    "type": "string",
                    "format": "binary"
                  },
                  "gstin": {
                    "type": "string",
                    "example": "gstin"
                  },
                  "legal_name": {
                    "type": "string",
                    "example": "legal_name"
                  },
                  "name_for_agreement": {
                    "type": "string",
                    "example": "name_for_agreement2323365fssss"
                  },
                  "other_license": {
                    "type": "string",
                    "format": "binary"
                  },
                  "pan_image": {
                    "type": "string",
                    "format": "binary"
                  },
                  "pickup_address": {
                    "type": "string",
                    "example": "pickup_address2332"
                  },
                  "pincode": {
                    "type": "string",
                    "example": "208021"
                  },
                  "point_of_contact_designation": {
                    "type": "string",
                    "example": "point_of_contact_designation3"
                  },
                  "point_of_contact_email": {
                    "type": "string",
                    "example": "point_of_contact_email"
                  },
                  "point_of_contact_mobile": {
                    "type": "string",
                    "example": "point_of_contact_mobile6"
                  },
                  "point_of_contact_name": {
                    "type": "string",
                    "example": "point_of_contact_name"
                  },
                  "seeds_license": {
                    "type": "string",
                    "format": "binary"
                  },
                  "state": {
                    "type": "string",
                    "example": "state6565"
                  },
                  "trade_name": {
                    "type": "string",
                    "example": "trade_name6565"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/fasal/Api/v_update_profile": {
      "post": {
        "summary": "Vendor Profile Update",
        "description": "Vendor Profile Update",
        "operationId": "vendorProfileUpdate",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "address": {
                    "type": "string",
                    "example": "address"
                  },
                  "cancelled_cheque_image": {
                    "type": "string",
                    "format": "binary"
                  },
                  "city": {
                    "type": "string",
                    "example": "city"
                  },
                  "crop_nutrition_license": {
                    "type": "string",
                    "format": "binary"
                  },
                  "crop_protection_license": {
                    "type": "string",
                    "format": "binary"
                  },
                  "email_for_agreement": {
                    "type": "string",
                    "example": "email_for_agreementdsss"
                  },
                  "gst_cert_image": {
                    "type": "string",
                    "format": "binary"
                  },
                  "gstin": {
                    "type": "string",
                    "example": "gstin"
                  },
                  "legal_name": {
                    "type": "string",
                    "example": "legal_name"
                  },
                  "name_for_agreement": {
                    "type": "string",
                    "example": "name_for_agreement2323365fssss"
                  },
                  "other_license": {
                    "type": "string",
                    "format": "binary"
                  },
                  "pan_image": {
                    "type": "string",
                    "format": "binary"
                  },
                  "pickup_address": {
                    "type": "string",
                    "example": "pickup_address2332"
                  },
                  "pincode": {
                    "type": "string",
                    "example": "208021"
                  },
                  "point_of_contact_designation": {
                    "type": "string",
                    "example": "point_of_contact_designation3"
                  },
                  "point_of_contact_email": {
                    "type": "string",
                    "example": "point_of_contact_email"
                  },
                  "point_of_contact_mobile": {
                    "type": "string",
                    "example": "point_of_contact_mobile6"
                  },
                  "point_of_contact_name": {
                    "type": "string",
                    "example": "point_of_contact_name"
                  },
                  "seeds_license": {
                    "type": "string",
                    "format": "binary"
                  },
                  "state": {
                    "type": "string",
                    "example": "state6565"
                  },
                  "trade_name": {
                    "type": "string",
                    "example": "trade_name6565"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/fasal/Api/v_view_profile": {
      "get": {
        "summary": "Vendor View Profile",
        "description": "Vendor View Profile",
        "operationId": "vendorViewProfile",
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    }
  },
  "tags": []
}