{
  "openapi": "3.0.3",
  "info": {
    "title": "MyAnimeList API",
    "version": "2",
    "description": "MyAnimeList API v2 for anime, manga, user lists, rankings, forums, and user profiles.",
    "x-jentic-source-url": "https://myanimelist.net/apiconfig/references/api/v2",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://api.myanimelist.net/v2"
    }
  ],
  "paths": {
    "/anime": {
      "get": {
        "operationId": "anime_list",
        "summary": "Get anime list",
        "description": "Search for anime.",
        "tags": [
          "Anime"
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Search query"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 100,
              "maximum": 100
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated list of fields to include"
          },
          {
            "name": "nsfw",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnimeListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/anime/{anime_id}": {
      "get": {
        "operationId": "anime_details",
        "summary": "Get anime details",
        "tags": [
          "Anime"
        ],
        "parameters": [
          {
            "name": "anime_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnimeDetail"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Anime not found"
          }
        },
        "description": "Get anime details"
      }
    },
    "/anime/ranking": {
      "get": {
        "operationId": "anime_ranking",
        "summary": "Get anime ranking",
        "tags": [
          "Anime"
        ],
        "parameters": [
          {
            "name": "ranking_type",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "all",
                "airing",
                "upcoming",
                "tv",
                "ova",
                "movie",
                "special",
                "bypopularity",
                "favorite"
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 100,
              "maximum": 500
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnimeRankingResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Get anime ranking"
      }
    },
    "/anime/season/{year}/{season}": {
      "get": {
        "operationId": "anime_seasonal",
        "summary": "Get seasonal anime",
        "tags": [
          "Anime"
        ],
        "parameters": [
          {
            "name": "year",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "season",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "winter",
                "spring",
                "summer",
                "fall"
              ]
            }
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "anime_score",
                "anime_num_list_users"
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 100,
              "maximum": 500
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnimeListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Get seasonal anime"
      }
    },
    "/anime/suggestions": {
      "get": {
        "operationId": "anime_suggestions",
        "summary": "Get suggested anime",
        "description": "Returns suggested anime for the authorized user.",
        "tags": [
          "Anime"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 100,
              "maximum": 100
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnimeListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/anime/{anime_id}/my_list_status": {
      "patch": {
        "operationId": "update_anime_list_status",
        "summary": "Update my anime list status",
        "tags": [
          "User Animelist"
        ],
        "parameters": [
          {
            "name": "anime_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "status": {
                    "type": "string",
                    "enum": [
                      "watching",
                      "completed",
                      "on_hold",
                      "dropped",
                      "plan_to_watch"
                    ]
                  },
                  "is_rewatching": {
                    "type": "boolean"
                  },
                  "score": {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 10
                  },
                  "num_watched_episodes": {
                    "type": "integer"
                  },
                  "priority": {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 2
                  },
                  "num_times_rewatched": {
                    "type": "integer"
                  },
                  "rewatch_value": {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 5
                  },
                  "tags": {
                    "type": "string"
                  },
                  "comments": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnimeListStatus"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Update my anime list status"
      },
      "delete": {
        "operationId": "delete_anime_list_item",
        "summary": "Delete my anime list item",
        "tags": [
          "User Animelist"
        ],
        "parameters": [
          {
            "name": "anime_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          },
          "400": {
            "description": "Bad request"
          }
        },
        "description": "Delete my anime list item"
      }
    },
    "/users/{user_name}/animelist": {
      "get": {
        "operationId": "get_user_animelist",
        "summary": "Get user anime list",
        "tags": [
          "User Animelist"
        ],
        "parameters": [
          {
            "name": "user_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "User name or @me"
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "watching",
                "completed",
                "on_hold",
                "dropped",
                "plan_to_watch"
              ]
            }
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "list_score",
                "list_updated_at",
                "anime_title",
                "anime_start_date"
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 100,
              "maximum": 1000
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserAnimeListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Get user anime list"
      }
    },
    "/forum/boards": {
      "get": {
        "operationId": "get_forum_boards",
        "summary": "Get forum boards",
        "tags": [
          "Forum"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForumBoardsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Get forum boards"
      }
    },
    "/forum/topic/{topic_id}": {
      "get": {
        "operationId": "get_forum_topic_detail",
        "summary": "Get forum topic detail",
        "tags": [
          "Forum"
        ],
        "parameters": [
          {
            "name": "topic_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 100,
              "maximum": 100
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForumTopicDetailResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Get forum topic detail"
      }
    },
    "/forum/topics": {
      "get": {
        "operationId": "get_forum_topics",
        "summary": "Get forum topics",
        "tags": [
          "Forum"
        ],
        "parameters": [
          {
            "name": "board_id",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "subboard_id",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 100,
              "maximum": 100
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "recent"
            }
          },
          {
            "name": "q",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "topic_user_name",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "user_name",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForumTopicsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Get forum topics"
      }
    },
    "/manga": {
      "get": {
        "operationId": "manga_list",
        "summary": "Get manga list",
        "tags": [
          "Manga"
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 100,
              "maximum": 100
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "nsfw",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MangaListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Get manga list"
      }
    },
    "/manga/{manga_id}": {
      "get": {
        "operationId": "manga_details",
        "summary": "Get manga details",
        "tags": [
          "Manga"
        ],
        "parameters": [
          {
            "name": "manga_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MangaDetail"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Manga not found"
          }
        },
        "description": "Get manga details"
      }
    },
    "/manga/ranking": {
      "get": {
        "operationId": "manga_ranking",
        "summary": "Get manga ranking",
        "tags": [
          "Manga"
        ],
        "parameters": [
          {
            "name": "ranking_type",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "all",
                "manga",
                "novels",
                "oneshots",
                "doujin",
                "manhwa",
                "manhua",
                "bypopularity",
                "favorite"
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 100,
              "maximum": 500
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MangaRankingResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Get manga ranking"
      }
    },
    "/manga/{manga_id}/my_list_status": {
      "patch": {
        "operationId": "update_manga_list_status",
        "summary": "Update my manga list status",
        "tags": [
          "User Mangalist"
        ],
        "parameters": [
          {
            "name": "manga_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "status": {
                    "type": "string",
                    "enum": [
                      "reading",
                      "completed",
                      "on_hold",
                      "dropped",
                      "plan_to_read"
                    ]
                  },
                  "is_rereading": {
                    "type": "boolean"
                  },
                  "score": {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 10
                  },
                  "num_volumes_read": {
                    "type": "integer"
                  },
                  "num_chapters_read": {
                    "type": "integer"
                  },
                  "priority": {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 2
                  },
                  "num_times_reread": {
                    "type": "integer"
                  },
                  "reread_value": {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 5
                  },
                  "tags": {
                    "type": "string"
                  },
                  "comments": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MangaListStatus"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Update my manga list status"
      },
      "delete": {
        "operationId": "delete_manga_list_item",
        "summary": "Delete my manga list item",
        "tags": [
          "User Mangalist"
        ],
        "parameters": [
          {
            "name": "manga_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          },
          "400": {
            "description": "Bad request"
          }
        },
        "description": "Delete my manga list item"
      }
    },
    "/users/{user_name}/mangalist": {
      "get": {
        "operationId": "get_user_mangalist",
        "summary": "Get user manga list",
        "tags": [
          "User Mangalist"
        ],
        "parameters": [
          {
            "name": "user_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "reading",
                "completed",
                "on_hold",
                "dropped",
                "plan_to_read"
              ]
            }
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "list_score",
                "list_updated_at",
                "manga_title",
                "manga_start_date"
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 100,
              "maximum": 1000
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserMangaListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Get user manga list"
      }
    },
    "/users/{user_name}": {
      "get": {
        "operationId": "get_user_info",
        "summary": "Get my user information",
        "description": "Get user information. Currently you can only specify @me.",
        "tags": [
          "User"
        ],
        "parameters": [
          {
            "name": "user_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "User name or @me"
          },
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserInfo"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Paging": {
        "type": "object",
        "properties": {
          "previous": {
            "type": "string"
          },
          "next": {
            "type": "string"
          }
        }
      },
      "AnimeNode": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "title": {
            "type": "string"
          },
          "main_picture": {
            "type": "object",
            "properties": {
              "medium": {
                "type": "string"
              },
              "large": {
                "type": "string"
              }
            }
          }
        }
      },
      "AnimeListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "node": {
                  "$ref": "#/components/schemas/AnimeNode"
                }
              }
            }
          },
          "paging": {
            "$ref": "#/components/schemas/Paging"
          }
        }
      },
      "AnimeDetail": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "title": {
            "type": "string"
          },
          "main_picture": {
            "type": "object",
            "properties": {
              "medium": {
                "type": "string"
              },
              "large": {
                "type": "string"
              }
            }
          },
          "alternative_titles": {
            "type": "object"
          },
          "start_date": {
            "type": "string"
          },
          "end_date": {
            "type": "string"
          },
          "synopsis": {
            "type": "string"
          },
          "mean": {
            "type": "number"
          },
          "rank": {
            "type": "integer"
          },
          "popularity": {
            "type": "integer"
          },
          "num_list_users": {
            "type": "integer"
          },
          "num_scoring_users": {
            "type": "integer"
          },
          "nsfw": {
            "type": "string"
          },
          "media_type": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "genres": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer"
                },
                "name": {
                  "type": "string"
                }
              }
            }
          },
          "num_episodes": {
            "type": "integer"
          },
          "start_season": {
            "type": "object",
            "properties": {
              "year": {
                "type": "integer"
              },
              "season": {
                "type": "string"
              }
            }
          },
          "source": {
            "type": "string"
          },
          "average_episode_duration": {
            "type": "integer"
          },
          "rating": {
            "type": "string"
          },
          "studios": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer"
                },
                "name": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "AnimeRankingResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "node": {
                  "$ref": "#/components/schemas/AnimeNode"
                },
                "ranking": {
                  "type": "object",
                  "properties": {
                    "rank": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "paging": {
            "$ref": "#/components/schemas/Paging"
          }
        }
      },
      "AnimeListStatus": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "score": {
            "type": "integer"
          },
          "num_episodes_watched": {
            "type": "integer"
          },
          "is_rewatching": {
            "type": "boolean"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "UserAnimeListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "node": {
                  "$ref": "#/components/schemas/AnimeNode"
                },
                "list_status": {
                  "$ref": "#/components/schemas/AnimeListStatus"
                }
              }
            }
          },
          "paging": {
            "$ref": "#/components/schemas/Paging"
          }
        }
      },
      "ForumBoardsResponse": {
        "type": "object",
        "properties": {
          "categories": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "title": {
                  "type": "string"
                },
                "boards": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer"
                      },
                      "title": {
                        "type": "string"
                      },
                      "description": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "ForumTopicDetailResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "title": {
                "type": "string"
              },
              "posts": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer"
                    },
                    "number": {
                      "type": "integer"
                    },
                    "created_at": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "body": {
                      "type": "string"
                    },
                    "signature": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "ForumTopicsResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer"
                },
                "title": {
                  "type": "string"
                },
                "created_at": {
                  "type": "string",
                  "format": "date-time"
                },
                "number_of_posts": {
                  "type": "integer"
                },
                "last_post_created_at": {
                  "type": "string",
                  "format": "date-time"
                }
              }
            }
          },
          "paging": {
            "$ref": "#/components/schemas/Paging"
          }
        }
      },
      "MangaNode": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "title": {
            "type": "string"
          },
          "main_picture": {
            "type": "object",
            "properties": {
              "medium": {
                "type": "string"
              },
              "large": {
                "type": "string"
              }
            }
          }
        }
      },
      "MangaListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "node": {
                  "$ref": "#/components/schemas/MangaNode"
                }
              }
            }
          },
          "paging": {
            "$ref": "#/components/schemas/Paging"
          }
        }
      },
      "MangaDetail": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "title": {
            "type": "string"
          },
          "main_picture": {
            "type": "object",
            "properties": {
              "medium": {
                "type": "string"
              },
              "large": {
                "type": "string"
              }
            }
          },
          "synopsis": {
            "type": "string"
          },
          "mean": {
            "type": "number"
          },
          "rank": {
            "type": "integer"
          },
          "popularity": {
            "type": "integer"
          },
          "num_list_users": {
            "type": "integer"
          },
          "num_scoring_users": {
            "type": "integer"
          },
          "nsfw": {
            "type": "string"
          },
          "media_type": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "genres": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer"
                },
                "name": {
                  "type": "string"
                }
              }
            }
          },
          "num_volumes": {
            "type": "integer"
          },
          "num_chapters": {
            "type": "integer"
          },
          "authors": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "node": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer"
                    },
                    "first_name": {
                      "type": "string"
                    },
                    "last_name": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "MangaRankingResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "node": {
                  "$ref": "#/components/schemas/MangaNode"
                },
                "ranking": {
                  "type": "object",
                  "properties": {
                    "rank": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "paging": {
            "$ref": "#/components/schemas/Paging"
          }
        }
      },
      "MangaListStatus": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "score": {
            "type": "integer"
          },
          "num_volumes_read": {
            "type": "integer"
          },
          "num_chapters_read": {
            "type": "integer"
          },
          "is_rereading": {
            "type": "boolean"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "UserMangaListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "node": {
                  "$ref": "#/components/schemas/MangaNode"
                },
                "list_status": {
                  "$ref": "#/components/schemas/MangaListStatus"
                }
              }
            }
          },
          "paging": {
            "$ref": "#/components/schemas/Paging"
          }
        }
      },
      "UserInfo": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "picture": {
            "type": "string"
          },
          "gender": {
            "type": "string"
          },
          "birthday": {
            "type": "string"
          },
          "location": {
            "type": "string"
          },
          "joined_at": {
            "type": "string",
            "format": "date-time"
          },
          "anime_statistics": {
            "type": "object",
            "properties": {
              "num_items_watching": {
                "type": "integer"
              },
              "num_items_completed": {
                "type": "integer"
              },
              "num_items_on_hold": {
                "type": "integer"
              },
              "num_items_dropped": {
                "type": "integer"
              },
              "num_items_plan_to_watch": {
                "type": "integer"
              },
              "num_items": {
                "type": "integer"
              },
              "num_days_watched": {
                "type": "number"
              },
              "num_days_watching": {
                "type": "number"
              },
              "num_days_completed": {
                "type": "number"
              },
              "num_days_on_hold": {
                "type": "number"
              },
              "num_days_dropped": {
                "type": "number"
              },
              "num_times_rewatched": {
                "type": "integer"
              },
              "mean_score": {
                "type": "number"
              }
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "oauth2": {
        "type": "oauth2",
        "flows": {
          "implicit": {
            "authorizationUrl": "https://myanimelist.net/v1/oauth2/authorize",
            "scopes": {
              "write:users": "See and modify basic profile information and users' list data"
            }
          }
        }
      },
      "clientId": {
        "type": "apiKey",
        "name": "X-MAL-CLIENT-ID",
        "in": "header"
      }
    }
  },
  "security": [
    {
      "oauth2": [
        "write:users"
      ]
    },
    {
      "clientId": []
    }
  ],
  "tags": [
    {
      "name": "Anime"
    },
    {
      "name": "Forum"
    },
    {
      "name": "Manga"
    },
    {
      "name": "User"
    },
    {
      "name": "User Animelist"
    },
    {
      "name": "User Mangalist"
    }
  ]
}
