{
  "swagger": "2.0",
  "info": {
    "title": "\u5546\u54c1\u5c08\u5340 CMS SalesKits API",
    "description": "## \u6982\u8ff0\n\n\u672c API \u898f\u683c\u5b9a\u7fa9\u4e86\u300c\u5546\u54c1\u5c08\u5340\u300d(PHAW_0100) \u6a21\u7d44\u4e2d\uff0cVue V2 \u524d\u7aef\u8207 JAVA \u5f8c\u7aef\u4e4b\u9593\u7684\u8cc7\u6599\u4ea4\u63db\u4ecb\u9762\u3002\n\n### \u7cfb\u7d71\u67b6\u69cb\u80cc\u666f\n\n- **\u6846\u67b6**: \u570b\u6cf0\u81ea\u8a02 eBaf \u6846\u67b6 (\u57fa\u65bc\u50b3\u7d71 Java MVC\uff0c\u975e Spring)\n- **\u8abf\u5ea6\u5668**: `HttpDispatcher` Servlet\uff0c\u4f9d\u64da URL \u8def\u5f91\u4e2d\u7684 TxBean \u540d\u7a31\u8207 action \u540d\u7a31\uff0c\u5206\u6d3e\u81f3\u5c0d\u61c9\u7684 Controller \u65b9\u6cd5\n- **\u56de\u61c9\u683c\u5f0f**: \u6240\u6709 AJAX \u7aef\u9ede\u56de\u50b3 JSON\uff0c\u7531 `showData.jsp` \u6216 `dummy.jsp` \u627f\u8f09\u8f38\u51fa\n- **\u524d\u7aef\u6846\u67b6**: Vue.js SPA\uff0c\u900f\u904e Axios \u767c\u9001\u8acb\u6c42\n\n### TxBean \u5c0d\u7167\u8868\n\n| TxBean \u540d\u7a31 | Controller \u985e\u5225 | \u7528\u9014 |\n|---|---|---|\n| `PHAW_0200` | `com.cathay.ph.aw.trx.PHAW_0200` | \u524d\u53f0\uff08\u696d\u52d9\u54e1\u7aef\uff09\u5546\u54c1\u67e5\u8a62\u8207\u6d25\u8cbc\u552f\u8b80 API |\n| `PHAW_0400` | `com.cathay.ph.aw.trx.PHAW_0400` | \u5f8c\u53f0\uff08\u5546\u54c1\u7d93\u7406\u7aef\uff09\u5546\u54c1\u6d25\u8cbc\u7ba1\u7406 API |\n| `PHAW_0100` | `com.cathay.ph.aw.trx.PHAW_0100` | \u5f8c\u53f0\uff08\u5546\u54c1\u7d93\u7406\u7aef\uff09\u4fdd\u55ae\u5546\u54c1\u7ba1\u7406 API |\n\n### \u696d\u52d9\u9818\u57df\u5206\u985e\n\n**\u4fdd\u55ae\u5546\u54c1 (Product)**\n\u4fdd\u55ae\u5546\u54c1\u7684\u8cc7\u6599\u4f86\u6e90\u5206\u6210\u300c\u7de8\u8f2f\u5340\u300d\u8207\u300c\u767c\u5e03\u5340\u300d\u5169\u500b\u5340\u57df\uff1a\n- **\u7de8\u8f2f\u5340**: \u5546\u54c1\u7d93\u7406\u65bc\u5f8c\u53f0\u7dad\u8b77\u7684\u8349\u7a3f/\u5f85\u5be9\u8cc7\u6599\uff0c\u6bcf\u6b21\u4ee5\u55ae\u4e00\u4e3b\u9375 `PID` \u67e5\u8a62\n- **\u767c\u5e03\u5340**: \u5df2\u5be9\u6838\u901a\u904e\u7684\u6b63\u5f0f\u8cc7\u6599\uff0c\u696d\u52d9\u54e1\u65bc\u524d\u53f0\u4f9d\u4fdd\u96aa\u985e\u578b (`insuranceType`) \u6279\u6b21\u67e5\u8a62\n\n\u5169\u8005\u56de\u50b3\u7684\u8cc7\u6599\u7d50\u69cb\u5b8c\u5168\u4e00\u81f4\uff08\u540c\u4e00\u4efd Product Schema\uff09\uff0c\u5dee\u7570\u50c5\u5728\u67e5\u8a62\u9375\u503c\u8207\u8cc7\u6599\u4f86\u6e90\u3002\n\n**\u5546\u54c1\u6d25\u8cbc (Allowance)**\n\u5546\u54c1\u6d25\u8cbc\u70ba\u7368\u7acb\u7684\u696d\u52d9\u6a21\u7d44\uff08\u7de8\u865f\u5e8f `PHAW04XX`\uff09\uff0c\u8207\u4fdd\u55ae\u5546\u54c1 (`PHAW01XX`) \u7684\u4f7f\u7528\u8005\u89d2\u8272\u3001\u6b0a\u9650\u3001\u8cc7\u6599\u5eab\u5404\u81ea\u7368\u7acb\u3002\n\u6d25\u8cbc\u8cc7\u6599\u5305\u542b\u300c\u652f\u7d66\u6578\u64da\u300d(Bonus Ratio) \u8207\u300c\u81ea\u8a02\u5340\u584a\u300d(Custom Block\uff0c\u6db5\u84cb\u652f\u7d66\u8aaa\u660e\u8207\u898f\u7bc4\u689d\u6b3e)\u3002\n\n### \u6b04\u4f4d\u4f86\u6e90\u8aaa\u660e\n\nAPI \u56de\u50b3\u7684\u6b04\u4f4d\u4f9d\u4f86\u6e90\u5206\u70ba\u4ee5\u4e0b\u985e\u578b\uff08\u5c0d\u61c9 fieldRegistry.json \u4e2d\u7684 `origin` \u6b04\u4f4d\uff09\uff1a\n- `RAW`: \u76f4\u63a5\u4f86\u81ea\u8cc7\u6599\u5eab\u539f\u59cb\u503c\n- `SQL_CAL` / `SQL_CALC`: \u7531 SQL \u5c64\u8a08\u7b97\u6216\u8f49\u63db\u5f8c\u8f38\u51fa\uff08\u5982 IS_PUBLISHED \u2192 \"\u73fe\u552e\"/\"\u505c\u552e\"\uff09\n- `SQL_AGG`: SQL \u805a\u5408\u591a\u7b46\u540c\u540d\u5546\u54c1\u7684\u503c\uff08\u5982\u591a\u500b\u96aa\u5225\u4ee3\u865f\u4ee5\u9017\u865f\u5408\u4f75\uff09\n- `SQL_REF/SINGLE`: SQL JOIN \u53c3\u7167\u8868\u53d6\u5f97\u55ae\u4e00\u4e2d\u6587\u6a19\u7c64\n- `SQL_REF/MULTIPLE`: SQL JOIN \u53c3\u7167\u8868\u53d6\u5f97\u591a\u7b46\u4e2d\u6587\u6a19\u7c64\n- `COMPUTED`: \u7531\u524d\u7aef Vue \u6839\u64da\u5176\u4ed6\u6b04\u4f4d\u52d5\u614b\u8a08\u7b97\uff08\u4e0d\u7531 JAVA \u7aef\u76f4\u63a5\u63d0\u4f9b\uff09\n",
    "version": "2.0.0",
    "contact": {
      "name": "\u5546\u54c1\u5c08\u5340\u958b\u767c\u5718\u968a"
    },
    "license": {
      "name": "Internal Use Only"
    },
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/JOSHETRADELOGY/cathay-cms-saleskits-api/2.0.0"
  },
  "host": "w3.cathaylife.com.tw",
  "basePath": "/PHWeb/servlet/HttpDispatcher",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/x-www-form-urlencoded"
  ],
  "produces": [
    "application/json"
  ],
  "tags": [
    {
      "name": "\u4fdd\u55ae\u5546\u54c1",
      "description": "\u4fdd\u55ae\u5546\u54c1\u67e5\u8a62 API\u3002\n\u8cc7\u6599\u7684\u696d\u52d9\u7279\u6027\u90fd\u662f\u300c\u4fdd\u55ae\u5546\u54c1\u300d\uff0c\u4f46\u524d\u7aef\u9700\u8981\u61c9\u4ed8\u4e0d\u540c\u60c5\u5883\u7684\u547c\u53eb\u3002\n\u4f86\u6e90\u5206\u6210\u5169\u7a2e\uff1a\u300c\u7de8\u8f2f\u5340\u300d(Draft) \u8207\u300c\u767c\u5e03\u5340\u300d(Released)\u3002\n\u5169\u8005\u56de\u50b3\u7684\u8cc7\u6599\u7d50\u69cb\u4e00\u81f4\uff0cJAVA Controller \u652f\u63f4\u7684\u53c3\u6578\u4e5f\u76f8\u540c\uff0c\n\u4f46\u300c\u7de8\u8f2f\u5340\u300d\u7684\u547c\u53eb\u60c5\u5883\u4e2d\uff0c\u53ea\u6703\u7528\u5230\u4e3b\u9375 PID\u3002\n"
    },
    {
      "name": "\u5546\u54c1\u6d25\u8cbc",
      "description": "\u5546\u54c1\u6d25\u8cbc\u67e5\u8a62 API\u3002\n\u5546\u54c1\u6d25\u8cbc\u96d6\u96b8\u5c6c\u300c\u5546\u54c1\u5c08\u5340\u300d\u6a21\u7d44\uff0c\u4f46\u64c1\u6709\u7368\u7acb\u7684\u7de8\u865f\u5e8f (PHAW04XX)\u3001\n\u7368\u7acb\u7684 Controller / Module / \u8cc7\u6599\u5eab\uff0c\u8207\u4fdd\u55ae\u5546\u54c1 (PHAW01XX) \u5404\u81ea\u7368\u7acb\u3002\n\u524d\u53f0\u552f\u8b80\u7aef\u9ede\u639b\u5728 PHAW_0200 \u4e0b\uff0c\u5f8c\u53f0\u7ba1\u7406\u7aef\u9ede\u53e6\u5efa\u65bc PHAW_0400\u3002\n"
    },
    {
      "name": "\u8f14\u52a9\u67e5\u8a62",
      "description": "\u5171\u7528\u7684\u8f14\u52a9\u7aef\u9ede\uff0c\u5305\u542b\u5546\u54c1\u9078\u9805\uff08\u7be9\u9078\u689d\u4ef6\u4e0b\u62c9\u9078\u55ae\uff09\u3001\u66f8\u7c64\uff08\u71b1\u9580\u9023\u7d50\uff09\u3001\n\u9644\u4ef6\u67e5\u8a62\u3001\u7528\u6236\u8cc7\u8a0a\u7b49\u3002\n"
    }
  ],
  "paths": {
    "/PHAW_0200/getProduct": {
      "get": {
        "tags": [
          "\u4fdd\u55ae\u5546\u54c1"
        ],
        "summary": "\u53d6\u5f97\u7de8\u8f2f\u5340\u4fdd\u55ae\u5546\u54c1\uff08\u55ae\u7b46\uff09",
        "operationId": "getProduct",
        "description": "### \u9069\u7528\u60c5\u5883\n\u5546\u54c1\u7d93\u7406\u65bc\u5f8c\u53f0\u7684**\u9810\u89bd\u60c5\u5883**\uff0c\u7528\u4ee5\u53d6\u5f97\u300c\u7de8\u8f2f\u5340\u300d(Draft) \u7684\u4fdd\u55ae\u5546\u54c1\u3002\n\n### \u547c\u53eb\u6d41\u7a0b\nVue \u7aef\u63a5\u6536\u4f86\u81ea\u5f8c\u7aef JSP \u9801\u9762\u8f49\u767c\u7684\u8acb\u6c42\u5f8c\uff0c\u56de\u547c JAVA \u7aef\u53d6\u5f97\u5177\u9ad4\u7684\u4fdd\u55ae\u7d30\u7bc0\u3002\n\u6bcf\u6b21\u547c\u53eb\u4ee5 `PID`\uff08\u5c0d\u61c9\u8cc7\u6599\u5eab\u6b04\u4f4d `SYS_PRODUCT_ID`\uff09\u70ba\u9375\u503c\uff0c\n\u610f\u5373**\u53ea\u6703\u6e32\u67d3\u4e00\u7b46\u4fdd\u55ae\u5546\u54c1**\u3002\n\n\u9019\u9ede\u548c\u300c\u767c\u5e03\u5340\u300d\u4ee5\u4fdd\u96aa\u985e\u578b (`insuranceType`) \u70ba\u9375\u503c\u7684\u6279\u6b21\u67e5\u8a62\u65b9\u5f0f\u4e0d\u540c\u3002\n\n### \u8cc7\u6599\u4f86\u6e90\n\u7de8\u8f2f\u5340\u7684\u8cc7\u6599\u5305\u542b\u5c1a\u672a\u767c\u5e03\u7684\u8349\u7a3f\u3001\u5f85\u5be9\u6838\u3001\u5df2\u9000\u56de\u7684\u4fdd\u55ae\u5546\u54c1\uff0c\n\u5546\u54c1\u7d93\u7406\u53ef\u5728\u6b64\u9810\u89bd\u5b8c\u6574\u7684\u4fdd\u55ae\u5167\u5bb9\uff0c\u78ba\u8a8d\u7121\u8aa4\u5f8c\u518d\u9001\u5be9\u767c\u5e03\u3002\n\n### \u56de\u50b3\u7d50\u69cb\n\u56de\u50b3\u55ae\u7b46 Product \u7269\u4ef6\uff08\u975e\u9663\u5217\uff09\u3002\u6b04\u4f4d\u7d50\u69cb\u8207 `/getReleasedProduct` \u5b8c\u5168\u4e00\u81f4\uff0c\n\u8acb\u53c3\u7167\u4e0b\u65b9 Product Schema \u7684\u6b04\u4f4d\u8aaa\u660e\u3002\n",
        "parameters": [
          {
            "name": "PID",
            "in": "query",
            "type": "integer",
            "required": true,
            "description": "\u5546\u54c1\u7de8\u865f\uff08\u7cfb\u7d71\u5167\u90e8\u552f\u4e00\u8b58\u5225\u78bc\uff09\u3002\n\u5c0d\u61c9\u8cc7\u6599\u5eab\u6b04\u4f4d: `SYS_PRODUCT_ID`\u3002\n\u524d\u7aef\u4ee5 URL \u53c3\u6578\u5f62\u5f0f\u50b3\u5165\uff0c\u7528\u65bc\u5b9a\u4f4d\u55ae\u4e00\u7b46\u4fdd\u55ae\u5546\u54c1\u3002\n"
          }
        ],
        "responses": {
          "200": {
            "description": "\u6210\u529f\u56de\u50b3\u55ae\u7b46\u4fdd\u55ae\u5546\u54c1",
            "schema": {
              "$ref": "#/definitions/Product"
            },
            "examples": {
              "application/json": {
                "PID": 91030274,
                "SYS_MAJOR_PRODUCT": 91030274,
                "SYS_PRODUCT_STATUS": 2,
                "SYS_IS_INSPECTING": 0,
                "SYS_DATE_CREATED": "2025-06-02",
                "SYS_DATE_UPDATED": "--",
                "SYS_RELATE_PRODUCTS": "",
                "MAIN_TYPE": 1,
                "ISSELLING": "\u73fe\u552e",
                "ISMASTER": "\u4e3b\u7d04",
                "MAIN_CODE": "8QI",
                "RELATEDCODES": "8QI",
                "TITLE": "\u937e\u7f8e\u91cd\u5927\u75be\u75c5\u53ca\u7279\u5b9a\u50b7\u75c5\u63d0\u524d\u7d66\u4ed8\u7d42\u8eab\u4fdd\u96aa",
                "MAJORNOTES": "",
                "CORECATEGORY": "\u672a\u6307\u5b9a\u50b3\u7d71\u578b\u6838\u5fc3\u5206\u985e",
                "CATALOG": "\u7d42\u8eab\u58fd\u96aa",
                "CURRENCY": "\u672a\u6307\u5b9a\u5e63\u5225",
                "CHANNELS": "\u672a\u6307\u5b9a\u901a\u8def,\u4fdd\u4ee3\u5c08\u5c6c,\u76f4\u6548\u5c08\u5c6c",
                "DATELAUNCHED": "2024-11-01",
                "DATEDISCONTINUED": "",
                "GRP_POLPERIODS": "\u7d42\u8eab",
                "GRP_PAYPERIODS": "\u5b9a\u671f\u652f\u4ed8\uff1a20\u5e74",
                "GRP_AGELIMITATION": "2\uff5e33\u6b72",
                "GRP_INTEREST": "22",
                "CLAIMS": "\u4f4f\u9662\u7d66\u4ed8",
                "SPILLOVERTYPE": "\u5065\u8d70\u578b",
                "SPILLOVERFEEDBACK": "\u4fdd\u8cbb\u6e1b\u514d",
                "REMARK": "",
                "FEAT_IS_PIK": 0,
                "FEAT_IS_CONVERTIBLE": 0
              }
            }
          }
        }
      }
    },
    "/PHAW_0200/getReleasedProduct": {
      "get": {
        "tags": [
          "\u4fdd\u55ae\u5546\u54c1"
        ],
        "summary": "\u53d6\u5f97\u767c\u5e03\u5340\u4fdd\u55ae\u5546\u54c1\uff08\u6279\u6b21\uff09",
        "operationId": "getReleasedProduct",
        "description": "### \u9069\u7528\u60c5\u5883\n\u696d\u52d9\u54e1\u7684**\u901a\u7528\u67e5\u8a62\u60c5\u5883**\uff0c\u7528\u4ee5\u53d6\u5f97\u300c\u767c\u5e03\u5340\u300d(Released) \u7684\u4fdd\u55ae\u5546\u54c1\u3002\n\n### \u547c\u53eb\u6d41\u7a0b\n\u6bcf\u6b21\u547c\u53eb\u4ee5 `insuranceType`\uff08\u4fdd\u96aa\u985e\u578b\uff09\u70ba\u4e3b\u8981\u9375\u503c\uff0c\n\u524d\u7aef\u9700\u6e32\u67d3**\u591a\u7b46\u76f8\u540c\u985e\u578b**\u7684\u4fdd\u55ae\u5546\u54c1\u6e05\u55ae\u3002\n\u53ef\u642d\u914d\u5176\u4ed6\u7be9\u9078\u53c3\u6578\uff08\u552e\u5225\u3001\u95dc\u9375\u5b57\u3001\u5546\u54c1\u985e\u578b\u3001\u901a\u8def\u7b49\uff09\u7e2e\u5c0f\u67e5\u8a62\u7bc4\u570d\u3002\n\n### \u8cc7\u6599\u4f86\u6e90\n\u767c\u5e03\u5340\u50c5\u5305\u542b\u5df2\u901a\u904e\u5be9\u6838\u3001\u6b63\u5f0f\u4e0a\u7dda\u7684\u4fdd\u55ae\u5546\u54c1\u3002\n\u9019\u662f\u696d\u52d9\u54e1\u65e5\u5e38\u4f7f\u7528\u7684\u4e3b\u8981\u67e5\u8a62\u4ecb\u9762\u3002\n\n### \u4fdd\u96aa\u985e\u578b\u5c0d\u7167\n| insuranceType | \u985e\u578b | Mock \u8cc7\u6599\u4f86\u6e90 |\n|---|---|---|\n| `1` | \u50b3\u7d71\u578b | cathay-product-mockup-tradition.json |\n| `2` | \u6295\u8cc7\u578b | cathay-product-mockup-investment.json |\n| `3` | OIU\uff08\u5883\u5916\u4fdd\u55ae\uff09| cathay-product-mockup-oiu.json |\n| `4` | \u5718\u96aa | cathay-product-mockup-group.json |\n\n### \u56de\u50b3\u7d50\u69cb\n\u56de\u50b3 Product \u7269\u4ef6\u9663\u5217\u3002\u6bcf\u500b\u7269\u4ef6\u7684\u6b04\u4f4d\u7d50\u69cb\u8207 `/getProduct` \u5b8c\u5168\u4e00\u81f4\u3002\n\u4e0d\u540c\u4fdd\u96aa\u985e\u578b\u7684\u5546\u54c1\u6703\u5305\u542b\u5404\u81ea\u5c08\u5c6c\u7684\u6b04\u4f4d\u503c\uff08\u5982\u6295\u8cc7\u578b\u624d\u6709 `NAATTYPE`\u3001`PAYMENTCYCLE` \u7b49\uff09\u3002\n",
        "parameters": [
          {
            "name": "insuranceType",
            "in": "query",
            "type": "string",
            "required": true,
            "description": "\u4fdd\u96aa\u985e\u578b\u4ee3\u78bc\uff0c\u5c0d\u61c9\u8cc7\u6599\u5eab\u6b04\u4f4d `MAIN_TYPE`\u3002\n- `1`: \u50b3\u7d71\u578b\u4fdd\u55ae\n- `2`: \u6295\u8cc7\u578b\u4fdd\u55ae\n- `3`: OIU\uff08\u5883\u5916\u4fdd\u55ae\uff09\n- `4`: \u5718\u96aa\n\u4e0d\u6307\u5b9a\u6642\u9810\u8a2d\u56de\u50b3\u5168\u90e8\u985e\u578b\u3002\n",
            "enum": [
              "1",
              "2",
              "3",
              "4"
            ]
          },
          {
            "name": "isPublished",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "\u73fe\u552e\u72c0\u614b\u7be9\u9078\uff0c\u5c0d\u61c9\u8cc7\u6599\u5eab\u6b04\u4f4d `IS_PUBLISHED`\u3002\n- `1`: \u73fe\u552e\u4e2d\n- `0`: \u5df2\u505c\u552e\n\u4e0d\u6307\u5b9a\u6642\u56de\u50b3\u5168\u90e8\uff08\u73fe\u552e\uff0b\u505c\u552e\uff09\u3002\n",
            "enum": [
              "0",
              "1"
            ]
          },
          {
            "name": "isSpillover",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "\u5916\u6ea2\u5546\u54c1\u7be9\u9078\uff0c\u5c0d\u61c9\u8cc7\u6599\u5eab\u6b04\u4f4d `FEAT_IS_SPILLOVER`\u3002\n- `1`: \u50c5\u56de\u50b3\u5177\u5099\u5916\u6ea2\u7279\u6027\u7684\u5546\u54c1\n\u4e0d\u6307\u5b9a\u6642\u4e0d\u505a\u5916\u6ea2\u7be9\u9078\u3002\n",
            "enum": [
              "1"
            ]
          },
          {
            "name": "searchText",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "\u95dc\u9375\u5b57\u641c\u5c0b\u3002\u540c\u6642\u6bd4\u5c0d\u4ee5\u4e0b\u6b04\u4f4d\uff08\u4e0d\u5340\u5206\u5927\u5c0f\u5beb\uff09\uff1a\n- `TITLE`\uff08\u5546\u54c1\u540d\u7a31\uff0cDB: `INSURANCE_TITLE`\uff09\n- `MAIN_CODE`\uff08\u4e3b\u8981\u96aa\u5225\u4ee3\u865f\uff0cDB: `INSURANCE_CODE`\uff09\n- `RELATEDCODES`\uff08\u95dc\u806f\u96aa\u5225\u4ee3\u865f\uff0cSQL \u805a\u5408\u81ea `INSURANCE_CODE`\uff09\n"
          },
          {
            "name": "catalog",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "\u5546\u54c1\u985e\u578b\u7be9\u9078\uff0c\u5c0d\u61c9\u8cc7\u6599\u5eab\u6b04\u4f4d `INSURANCE_CATALOG`\u3002\n\u4ee5\u4e2d\u6587\u6a19\u7c64\u6bd4\u5c0d\uff0c\u4f8b\u5982\uff1a\"\u7d42\u8eab\u58fd\u96aa\"\u3001\"VUL\"\u3001\"\u91cd\u50b7/\u91cd\u75be\u96aa\" \u7b49\u3002\n\u53ef\u7528\u503c\u8acb\u900f\u904e `/PHAW_0200/getProductOptions?Attributes=INSURANCE_CATALOG` \u53d6\u5f97\u3002\n"
          },
          {
            "name": "channel",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "\u901a\u8def\u7be9\u9078\uff0c\u5c0d\u61c9\u8cc7\u6599\u5eab\u6b04\u4f4d `SALE_CHANNEL`\u3002\n\u4ee5\u4e2d\u6587\u6a19\u7c64\u6bd4\u5c0d\uff0c\u4f8b\u5982\uff1a\"\u5c08\u5c55\u5c08\u5c6c\"\u3001\"\u4fdd\u4ee3\u5c08\u5c6c\"\u3001\"\u7db2\u6295\u5c08\u5c6c\" \u7b49\u3002\n\u53ef\u7528\u503c\u8acb\u900f\u904e `/PHAW_0200/getProductOptions?Attributes=SALE_CHANNEL` \u53d6\u5f97\u3002\n"
          },
          {
            "name": "legacyCode",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "\u820a\u5236\u4ee3\u78bc\u7be9\u9078\uff0c\u6bd4\u5c0d `MAIN_CODE` \u7684\u9996\u5b57\u5143\u3002\n- `8`: \u5e78\u798f\u4eba\u58fd\n- `9`: \u570b\u5bf6\u4eba\u58fd\n\u7528\u65bc\u7be9\u9078\u4f75\u5165\u570b\u6cf0\u9ad4\u7cfb\u7684\u820a\u5236\u4fdd\u55ae\u3002\n",
            "enum": [
              "8",
              "9"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "\u6210\u529f\u56de\u50b3\u4fdd\u55ae\u5546\u54c1\u9663\u5217",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Product"
              }
            },
            "examples": {
              "application/json": [
                {
                  "PID": 91030274,
                  "MAIN_TYPE": 1,
                  "ISSELLING": "\u73fe\u552e",
                  "ISMASTER": "\u4e3b\u7d04",
                  "MAIN_CODE": "8QI",
                  "RELATEDCODES": "8QI",
                  "TITLE": "\u937e\u7f8e\u91cd\u5927\u75be\u75c5\u53ca\u7279\u5b9a\u50b7\u75c5\u63d0\u524d\u7d66\u4ed8\u7d42\u8eab\u4fdd\u96aa",
                  "CATALOG": "\u7d42\u8eab\u58fd\u96aa",
                  "CORECATEGORY": "\u672a\u6307\u5b9a\u50b3\u7d71\u578b\u6838\u5fc3\u5206\u985e",
                  "CURRENCY": "\u672a\u6307\u5b9a\u5e63\u5225",
                  "CHANNELS": "\u672a\u6307\u5b9a\u901a\u8def,\u4fdd\u4ee3\u5c08\u5c6c,\u76f4\u6548\u5c08\u5c6c",
                  "DATELAUNCHED": "2024-11-01",
                  "GRP_POLPERIODS": "\u7d42\u8eab",
                  "GRP_PAYPERIODS": "\u5b9a\u671f\u652f\u4ed8\uff1a20\u5e74",
                  "GRP_AGELIMITATION": "2\uff5e33\u6b72",
                  "GRP_INTEREST": "22",
                  "CLAIMS": "\u4f4f\u9662\u7d66\u4ed8",
                  "SPILLOVERTYPE": "\u5065\u8d70\u578b",
                  "SPILLOVERFEEDBACK": "\u4fdd\u8cbb\u6e1b\u514d"
                },
                {
                  "PID": 178,
                  "MAIN_TYPE": 1,
                  "ISSELLING": "\u505c\u552e",
                  "ISMASTER": "\u4e3b\u7d04",
                  "MAIN_CODE": "WW1",
                  "RELATEDCODES": "WW1",
                  "TITLE": "\u6eff\u610f\u4fdd\u500d\u9632\u764c\u5b9a\u671f\u4fdd\u96aa",
                  "CATALOG": "\u91cd\u50b7/\u91cd\u75be\u96aa",
                  "CORECATEGORY": "\u6838\u4e00",
                  "CURRENCY": "\u53f0\u5e63",
                  "CHANNELS": "\u672a\u6307\u5b9a\u901a\u8def",
                  "DATELAUNCHED": "2024-08-29",
                  "GRP_POLPERIODS": "\u6b72\u6eff\u671f:76\u5e74",
                  "GRP_PAYPERIODS": "\u5b9a\u671f\u652f\u4ed8:20\u5e74",
                  "GRP_AGELIMITATION": "0\uff5e45\u6b72",
                  "GRP_INTEREST": "2.25",
                  "CLAIMS": "\u624b\u8853\u7d66\u4ed8"
                }
              ]
            }
          }
        }
      }
    },
    "/PHAW_0200/getAllowance": {
      "get": {
        "tags": [
          "\u5546\u54c1\u6d25\u8cbc"
        ],
        "summary": "\u53d6\u5f97\u5546\u54c1\u6d25\u8cbc\u652f\u7d66\u6578\u64da",
        "operationId": "getAllowance",
        "description": "### \u9069\u7528\u60c5\u5883\n\u524d\u53f0\u696d\u52d9\u54e1\u67e5\u8a62\u5404\u4fdd\u96aa\u5546\u54c1\u7684\u6d25\u8cbc\u7d66\u4ed8\u734e\u91d1\u6bd4\u4f8b\u3002\n\u5f8c\u53f0\u7ba1\u7406\u7aef\u9ede\u53e6\u5efa\u65bc `PHAW_0400`\uff08\u76f8\u540c\u7684\u53c3\u6578\u8207\u56de\u61c9\u7d50\u69cb\uff09\u3002\n\n### \u8cc7\u6599\u7248\u672c\n\u76ee\u524d\u5be6\u4f5c\u4f7f\u7528 **v7 \u7d50\u69cb**\uff0c\u4f9d\u300c\u4fdd\u96aa\u985e\u578b \u00d7 \u73fe\u552e\u72c0\u614b\u300d\u62c6\u5206\u70ba 4 \u500b\u5b50\u5206\u9801\uff1a\n\n| insuranceType | isPublished | \u5b50\u5206\u9801\u540d\u7a31 | Mock \u8cc7\u6599\u6a94 |\n|---|---|---|---|\n| `1` | `1` | \u50b3\u7d71\u578b / \u73fe\u552e | cathay-WCM-mockup-bonusRatio-v7-traditional-selling.json |\n| `2` | `1` | \u6295\u8cc7\u578b / \u73fe\u552e | cathay-WCM-mockup-bonusRatio-v7-investment-selling.json |\n| `1` | `0` | \u50b3\u7d71\u578b / \u505c\u552e | cathay-WCM-mockup-bonusRatio-v7-traditional-discontinued.json |\n| `2` | `0` | \u6295\u8cc7\u578b / \u505c\u552e | cathay-WCM-mockup-bonusRatio-v7-investment-discontinued.json |\n\n\u82e5\u4e0d\u5e36 `insuranceType` + `isPublished` \u53c3\u6578\uff0c\u5247\u9000\u56de v6 \u7d50\u69cb\uff08\u5411\u4e0b\u76f8\u5bb9\uff09\u3002\n\n### \u56de\u50b3\u7d50\u69cb\n\u6bcf\u7b46\u5546\u54c1\u5305\u542b\u57fa\u672c\u8cc7\u8a0a\uff08PID\u3001\u96aa\u5225\u4ee3\u865f\u3001\u5546\u54c1\u540d\u7a31\u7b49\uff09\u4ee5\u53ca\u5d4c\u5957\u7684 `ALLOWANCE` \u7269\u4ef6\u3002\n`ALLOWANCE` \u5167\u542b\u591a\u500b `SECTIONS`\uff0c\u6bcf\u500b SECTION \u7531\u300c\u7dad\u5ea6\u300d(DIMENSIONS) \u8207\u300c\u6307\u6a19\u300d(METRICS) \u7d44\u6210\uff0c\n\u7528\u4ee5\u63cf\u8ff0\u4e0d\u540c\u7e73\u8cbb\u671f\u9593\u3001\u5e74\u9f61\u7bc4\u570d\u4e0b\u7684\u734e\u91d1\u6bd4\u4f8b\u3002\n\n### DIMENSIONS \u7dad\u5ea6\u9375\u503c\u8aaa\u660e\n| D-KEY | \u8aaa\u660e | \u7bc4\u4f8b\u503c |\n|---|---|---|\n| `PAYMENT-CYCLE` | \u7e73\u8cbb\u671f\u9593 | \"10\u5e74\u671f\"\u3001\"20\u5e74\u671f\"\u3001\"\u8e89\u7e73\" |\n| `PREMIUM-TYPE` | \u4fdd\u8cbb\u985e\u578b | \"\u5b9a\u671f\u7e73\"\u3001\"\u8e89\u7e73\"\u3001\"\u4e0d\u5b9a\u671f\" |\n| `PREMIUM-RANGE` | \u4fdd\u8cbb\u7bc4\u570d | \"10~20\u842c\" |\n| `PREMIUM-RATIO` | \u4fdd\u8cbb\u6bd4\u7387 | \"5%\" |\n| `INSURED-AGE-RANGE` | \u88ab\u4fdd\u4eba\u5e74\u9f61\u7bc4\u570d | \"0-60\"\u3001\"61-70\" |\n| `WARRANTY-PERIOD` | \u4fdd\u969c\u671f\u9593 | \u53ef\u70ba null |\n\n### METRICS \u6307\u6a19\u9375\u503c\u8aaa\u660e\n| M-KEY | M-ALIAS | \u8aaa\u660e |\n|---|---|---|\n| `SPE` | \u7279\u5b9a\u5546\u54c1\u734e\u91d1 | Special Product Extra bonus |\n| `FYP` | \u9996\u5e74\u734e\u91d1 / \u696d\u7e3e\u63db\u7b97\u6a19\u6e96 | First Year Premium |\n| `RYP` | \u7e8c\u671f\u734e\u91d1 / \u7e8c\u5e74\u5ea6\u670d\u52d9\u5831\u916c | Renewal Year Premium\uff08M-VALUE \u70ba\u5404\u5e74\u5ea6\u6bd4\u7387\u9663\u5217\uff09 |\n",
        "parameters": [
          {
            "name": "insuranceType",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "\u4fdd\u96aa\u985e\u578b\u4ee3\u78bc\u3002\n- `1`: \u50b3\u7d71\u578b\n- `2`: \u6295\u8cc7\u578b\n\u8207 `isPublished` \u642d\u914d\u4f7f\u7528\uff0c\u69cb\u6210 v7 \u5b50\u5206\u9801\u67e5\u8a62\u3002\n",
            "enum": [
              "1",
              "2"
            ]
          },
          {
            "name": "isPublished",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "\u73fe\u552e\u72c0\u614b\u3002\n- `1`: \u73fe\u552e\n- `0`: \u505c\u552e\n\u8207 `insuranceType` \u642d\u914d\u4f7f\u7528\u3002\n",
            "enum": [
              "0",
              "1"
            ]
          },
          {
            "name": "pid",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "\u5546\u54c1\u7de8\u865f (PID)\u3002\u6307\u5b9a\u6642\u56de\u50b3\u5339\u914d\u7684\u55ae\u7b46\u5546\u54c1\u6d25\u8cbc\u8cc7\u6599\u3002\n\u50c5\u5728 v6 \u5411\u4e0b\u76f8\u5bb9\u6a21\u5f0f\u6216\u5f8c\u53f0\u9810\u89bd\u60c5\u5883\u4e2d\u4f7f\u7528\u3002\n"
          }
        ],
        "responses": {
          "200": {
            "description": "\u6210\u529f\u56de\u50b3\u5546\u54c1\u6d25\u8cbc\u8cc7\u6599\u9663\u5217",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/AllowanceProduct"
              }
            },
            "examples": {
              "application/json": [
                {
                  "PID": "1254364",
                  "SYS_MAJOR_PRODUCT": "1254364",
                  "SYS_PRODUCT_STATUS": "2",
                  "SYS_IS_INSPECTING": "0",
                  "SYS_DATE_CREATED": "2026-01-21",
                  "MAIN_TYPE": "1",
                  "ISSELLING": "1",
                  "ISMASTER": "\u4e3b\u7d04",
                  "MAIN_CODE": "LCA",
                  "RELATEDCODES": "LCA,LCB",
                  "TITLE": "\u6a02\u9f61\u5b88\u8b77\u9577\u671f\u7167\u9867\u5b9a\u671f\u5065\u5eb7\u4fdd\u96aa",
                  "CORECATEGORY": "\u5065\u5eb7\u53ca\u50b7\u5bb3",
                  "CATALOG": "\u9577\u7167\u96aa",
                  "ALLOWANCE": {
                    "TITLE": "\u6a02\u9f61\u5b88\u8b77\u9577\u671f\u7167\u9867\u5b9a\u671f\u5065\u5eb7\u4fdd\u96aa",
                    "TYPE": "BONUS-RATIO",
                    "NOTATIONS": [
                      "\u81ea\u7531\u914d\u4e00\u5e74\u5b9a\u671f\u6df1\u9867\u53ca\u5b8c\u5168\u5931\u80fd\u58fd\u96aa\u9644\u7d04\u734e\u91d1\u6bd4\u4f8b\u8868",
                      "\u5be6\u52d9\u7d66\u4ed8\u578b\u6578\u64da\u8207\u5916\u6ea2\u578b\u6578\u64da\u5408\u4f75, RYP\u70ba\u6bcf\u5e74\u767c\u653e"
                    ],
                    "EXTRAS": {
                      "REMARKS": "\u6b64\u985e\u578b\u6587\u672c\u7528\u65bc\u63cf\u8ff0\u4fdd\u96aa\u7522\u54c1\u7684\u734e\u91d1\u6bd4\u4f8b\u7d50\u69cb",
                      "SPECIAL_BONUS": true,
                      "CURRENCY": "TWD",
                      "RATE_UNIT": "\u767e\u5206\u6bd4"
                    },
                    "SECTIONS": [
                      {
                        "DIMENSIONS": [
                          {
                            "D-KEY": "PAYMENT-CYCLE",
                            "D-VALUE": "10\u5e74\u671f",
                            "D-RANK": 1
                          },
                          {
                            "D-KEY": "PREMIUM-TYPE",
                            "D-VALUE": "\u8e89\u7e73",
                            "D-RANK": 2
                          },
                          {
                            "D-KEY": "INSURED-AGE-RANGE",
                            "D-VALUE": "0-60",
                            "D-RANK": 3
                          }
                        ],
                        "METRICS": [
                          {
                            "M-KEY": "SPE",
                            "M-ALIAS": "\u7279\u5b9a\u5546\u54c1\u734e\u91d1",
                            "M-VALUE": [
                              "1"
                            ]
                          },
                          {
                            "M-KEY": "FYP",
                            "M-ALIAS": "\u9996\u5e74\u734e\u91d1",
                            "M-VALUE": [
                              "35"
                            ]
                          },
                          {
                            "M-KEY": "RYP",
                            "M-ALIAS": "\u7e8c\u671f\u734e\u91d1(1-10y)",
                            "M-VALUE": [
                              "15",
                              "10",
                              "5",
                              "3",
                              "3",
                              "2",
                              "2"
                            ]
                          }
                        ]
                      }
                    ]
                  }
                }
              ]
            }
          }
        }
      }
    },
    "/PHAW_0200/getCustomBlock": {
      "get": {
        "tags": [
          "\u5546\u54c1\u6d25\u8cbc"
        ],
        "summary": "\u53d6\u5f97\u81ea\u8a02\u5340\u584a\uff08\u652f\u7d66\u8aaa\u660e / \u898f\u7bc4\u689d\u6b3e\uff09",
        "operationId": "getCustomBlock",
        "description": "### \u9069\u7528\u60c5\u5883\n\u524d\u53f0\u53d6\u5f97\u6d25\u8cbc\u76f8\u95dc\u7684\u88dc\u5145\u8aaa\u660e\u5167\u5bb9\u3002\u6b64\u7aef\u9ede\u6574\u5408\u4e86\u5169\u7a2e\u5167\u5bb9\u985e\u578b\uff1a\n\n| TYPE_ID | \u5167\u5bb9\u985e\u578b | TYPE_CODE | \u8aaa\u660e |\n|---|---|---|---|\n| `2` | \u652f\u7d66\u8aaa\u660e | `BONUS-REFERENCE` | 4 \u500b\u6d25\u8cbc\u8cc7\u6599\u5206\u9801\u5171\u7528\u7684\u8aaa\u660e\u6587\u5b57\u8207\u9644\u4ef6\uff0c\u6bcf\u6b21\u67e5\u8a62\u56de\u50b3\u5b8c\u6574\u5340\u584a |\n| `3` | \u898f\u7bc4\u689d\u6b3e | `BONUS-TERMS` | 3 \u500b guidelines \u5206\u9801\u5404\u81ea\u7368\u7acb\uff0c\u9700\u642d\u914d `offset` \u53c3\u6578\u6307\u5b9a\u5206\u9801 |\n\n### \u652f\u7d66\u8aaa\u660e (type=2)\n\u5171\u7528\u8aaa\u660e\u5340\u584a\uff0c\u5d4c\u5165\u5728\u6d25\u8cbc\u6578\u64da\u8868\u683c\u4e0b\u65b9\u3002\n\u5167\u5bb9\u5305\u542b\u696d\u7e3e\u8a08\u7b97\u898f\u5247\u3001\u7d66\u4ed8\u8aaa\u660e\u7b49\u6587\u5b57\u6bb5\u843d\uff0c\u4ee5\u53ca\u76f8\u95dc\u9644\u4ef6\u8207\u5916\u90e8\u9023\u7d50\u3002\n\u7531BU\u6578\u4e8c\u540c\u4ec1\u900f\u904e\u5f8c\u53f0\u7dad\u8b77\uff0c\u524d\u53f0\u4f9d\u5206\u9801\u60c5\u5883\u64f7\u53d6\u5c0d\u61c9\u5167\u5bb9\u986f\u793a\u3002\n\n\u4f9d `offset` \u53c3\u6578\u53d6\u5f97\u4e0d\u540c\u5206\u9801\u7684\u652f\u7d66\u8aaa\u660e\uff1a\n| offset | \u5206\u9801\u5167\u5bb9 | Mock \u8cc7\u6599\u6a94 |\n|---|---|---|\n| `0` | \u5546\u54c1\u6d25\u8cbc / \u73fe\u552e\u50b3\u7d71 | cathay-WCM-mockup-bonusReference-v2.json |\n| `1` | \u5546\u54c1\u6d25\u8cbc / \u73fe\u552e\u6295\u8cc7 | cathay-WCM-mockup-bonusReference-v2.json |\n| `2` | \u5546\u54c1\u6d25\u8cbc / \u505c\u552e\u50b3\u7d71 | cathay-WCM-mockup-bonusReference-v2.json |\n| `3` | \u5546\u54c1\u6d25\u8cbc / \u505c\u552e\u6295\u8cc7 | cathay-WCM-mockup-bonusReference-v2.json |\nMock \u8cc7\u6599: `cathay-WCM-mockup-bonusReference-v2.json`\n(4\u500b\u5206\u9801\u5c0d\u61c9\u7684\u652f\u7d66\u8aaa\u660e\uff0c\u76ee\u524d\u50c5\u63d0\u4f9b\u4e00\u5957\u5b8c\u6574\u7684 Mock \u8cc7\u6599\uff0c\u5167\u5bb9\u6db5\u84cb\u6240\u6709\u5206\u9801\u7684\u8aaa\u660e\u6587\u5b57\u8207\u9644\u4ef6\u7d50\u69cb\uff0c\u5be6\u969b\u4f7f\u7528\u6642\u524d\u7aef\u53ef\u4f9d\u5206\u9801\u9700\u6c42\u64f7\u53d6\u5c0d\u61c9\u5167\u5bb9)\n\n### \u898f\u7bc4\u689d\u6b3e (type=3)\n\u4f9d `offset` \u53c3\u6578\u53d6\u5f97\u4e0d\u540c\u5206\u9801\u7684\u898f\u7bc4\u689d\u6b3e\uff1a\n\n| offset | \u5206\u9801\u5167\u5bb9 | Mock \u8cc7\u6599\u6a94 |\n|---|---|---|\n| `0` | \u5546\u54c1\u6d25\u8cbc / \u5718\u96aa\u3001\u610f\u5916\u96aa\u3001\u6574\u5408\u884c\u92b7 | cathay-WCM-mockup-bonusTerms-v3-offset-0.json |\n| `1` | \u5546\u54c1\u6d25\u8cbc / \u5176\u4ed6\u898f\u7bc4 | cathay-WCM-mockup-bonusTerms-v3-offset-1.json |\n| `2` | \u5546\u54c1\u6d25\u8cbc / \u63a8\u52d5\u52a0\u6210 | cathay-WCM-mockup-bonusTerms-v3-offset-2.json |\n\n### SECTION \u5167\u5bb9\u7d50\u69cb\n\u6bcf\u500b SECTION \u4e0b\u5305\u542b `MOCKUP.PARAGRAPHS` \u9663\u5217\uff0c\u6bcf\u500b\u6bb5\u843d\u6709\u4e09\u7a2e\u5a92\u9ad4\u985e\u578b\uff1a\n- `TEXT`: \u7d14\u6587\u5b57\u5167\u5bb9\uff0c`CONTENT` \u70ba\u6587\u5b57\u5b57\u4e32\n- `FILE`: \u9644\u4ef6\uff0c`CONTENT` \u70ba\u9644\u4ef6 ID\uff08\u4f9b\u5f8c\u7e8c\u547c\u53eb\u9644\u4ef6\u4e0b\u8f09 API\uff09\n- `LINK`: \u5916\u90e8\u9023\u7d50\uff0c`CONTENT` \u70ba\u5b8c\u6574 URL\n",
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "type": "string",
            "required": true,
            "description": "\u5340\u584a\u985e\u578b\u4ee3\u78bc\u3002\n- `2`: \u652f\u7d66\u8aaa\u660e (BONUS-REFERENCE)\n- `3`: \u898f\u7bc4\u689d\u6b3e (BONUS-TERMS)\n",
            "enum": [
              "2",
              "3"
            ]
          },
          {
            "name": "offset",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "\u5206\u9801\u7d22\u5f15\uff0c\u4ee5\u4e0b\u4ee5 `type=3`\uff08\u898f\u7bc4\u689d\u6b3e\uff09\u76f8\u95dc\u5206\u9801\u70ba\u4f8b\u3002\n- `0`: \u7b2c\u4e00\u9801\uff08\u5718\u96aa\u3001\u610f\u5916\u96aa\u3001\u6574\u5408\u884c\u92b7\uff09\n- `1`: \u7b2c\u4e8c\u9801\uff08\u5176\u4ed6\u898f\u7bc4\uff09\n- `2`: \u7b2c\u4e09\u9801\uff08\u63a8\u52d5\u52a0\u6210\uff09\n",
            "enum": [
              "0",
              "1",
              "2"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "\u6210\u529f\u56de\u50b3\u81ea\u8a02\u5340\u584a\u8cc7\u6599",
            "schema": {
              "$ref": "#/definitions/CustomBlock"
            },
            "examples": {
              "application/json": {
                "ID": 24,
                "TITLE": "\u652f\u7d66\u5171\u7528\u8aaa\u660e / \u505c\u552e\u50b3\u7d71",
                "TYPE": "BONUS-REFERENCE",
                "NOTATIONS": [
                  "\u76ee\u524d\u6c92\u4f7f\u7528",
                  "\u4f46\u5b9a\u7fa9\u70ba\u9663\u5217",
                  "\u53ef\u4ee5\u6839\u64da\u5f8c\u53f0\u7de8\u8f2f\u60c5\u5883\u81ea\u884c\u64f4\u5145"
                ],
                "EXTRAS": {
                  "REMARKS": "\u6b64\u985e\u578b\u6587\u672c\u4ee3\u8868\u53ef\u5d01\u5165\u6d25\u8cbc\u6578\u64da\u7684\u8907\u5408\u5340\u584a",
                  "LAYOUT": "BOTTOM",
                  "STICKY": false
                },
                "SECTIONS": [
                  {
                    "ROW_ID": 1,
                    "TITLE": "\u8aaa\u660e",
                    "DISLAY": true,
                    "MOCKUP": {
                      "PARAGRAPHS": [
                        {
                          "RANK": 1,
                          "MEDIA": "TEXT",
                          "NAME": "WORDING",
                          "CONTENT": "1.\u4ee5\u4e0a\u63db\u7b97\u6a19\u6e96\u5747\u4ee5\u5be6\u6536\u4fdd\u8cbb(\u65b0\u53f0\u5e63)\u8a08\u7b97\u3002"
                        },
                        {
                          "RANK": 2,
                          "MEDIA": "TEXT",
                          "NAME": "WORDING",
                          "CONTENT": "2.\u696d\u7e3eFYP(First Year Premium)\uff1a\u65b0\u5951\u7d04\u7b2c\u4e00\u4fdd\u55ae\u5e74\u5ea6\u7684\u5be6\u6536\u4fdd\u8cbb(\u542b\u52a0\u8cbb\u90e8\u5206)\u4e58\u4ee5\u696d\u7e3eFYP\u63db\u7b97\u6a19\u6e96\u3002"
                        }
                      ]
                    }
                  },
                  {
                    "ROW_ID": 2,
                    "TITLE": "\u9644\u4ef6",
                    "DISLAY": true,
                    "MOCKUP": {
                      "PARAGRAPHS": [
                        {
                          "RANK": 1,
                          "MEDIA": "FILE",
                          "NAME": "\u7279\u5b9a\u5546\u54c1\u734e\u91d1\u8aaa\u660e",
                          "CONTENT": "94000457"
                        },
                        {
                          "RANK": 2,
                          "MEDIA": "LINK",
                          "NAME": "\u81ea\u7531\u914d\u7cfb\u5217\u652f\u7d66\u8aaa\u660e",
                          "CONTENT": "https://example.cathaylife.com.tw/docs/bonus-guide"
                        }
                      ]
                    }
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/PHAW_0200/getProductOptions": {
      "get": {
        "tags": [
          "\u8f14\u52a9\u67e5\u8a62"
        ],
        "summary": "\u53d6\u5f97\u5546\u54c1\u7be9\u9078\u9078\u9805\uff08\u4e0b\u62c9\u9078\u55ae\u8cc7\u6599\uff09",
        "operationId": "getProductOptions",
        "description": "### \u9069\u7528\u60c5\u5883\n\u524d\u7aef\u7be9\u9078\u9762\u677f (TabFilterPanel) \u7684\u4e0b\u62c9\u9078\u55ae\u8cc7\u6599\u4f86\u6e90\u3002\n\u4f9d\u64da `Attributes` \u53c3\u6578\u6307\u5b9a\u8981\u53d6\u5f97\u54ea\u4e9b\u5c6c\u6027\u7684\u9078\u9805\u6e05\u55ae\u3002\n\u5728V2\u6539\u7248\u5f8c\uff0c\u9078\u9805\u503c\u7531\u524d\u53f0\u52d5\u614b\u751f\u6210\uff0c\u5df2\u4e0d\u518d\u547c\u53eb\u6b64\u7aef\u9ede, \u4f46\u4fdd\u7559\u4ee5\u5099\u672a\u4f86\u53ef\u80fd\u7684\u52d5\u614b\u9078\u9805\u9700\u6c42\u3002\n\n### \u53ef\u7528\u7684\u5c6c\u6027\u540d\u7a31 (Attributes)\n\n| \u5c6c\u6027\u540d\u7a31 | \u8aaa\u660e | \u9069\u7528\u4fdd\u96aa\u985e\u578b |\n|---|---|---|\n| `INSURANCE_CATALOG` | \u5546\u54c1\u985e\u578b\uff08\u5982 VUL\u3001VL\u3001VA\uff09 | \u5168\u90e8\uff0c\u4f46\u9078\u9805\u4f9d\u985e\u578b\u4e0d\u540c |\n| `SALE_CHANNEL` | \u92b7\u552e\u901a\u8def\uff08\u5982\u5c08\u5c55\u5c08\u5c6c\u3001\u4fdd\u4ee3\u5c08\u5c6c\uff09 | \u5168\u90e8 |\n| `PAYMENT_CURRENCY` | \u6536\u4ed8\u5e63\u5225\uff08\u5982\u53f0\u5e63\u3001\u7f8e\u5143\uff09 | \u5168\u90e8 |\n| `INV_NAAT_TYPE` | \u4fdd\u969c\u985e\u578b\uff08\u5982\u58fd\u96aa\u7532/\u4e59/\u4e19\u578b\uff09 | \u6295\u8cc7\u578b (2) |\n| `INV_PAYMENT_CYCLE` | \u7e73\u5225\uff08\u5982\u6708\u7e73\u3001\u5b63\u7e73\u3001\u8e89\u7e73\uff09 | \u6295\u8cc7\u578b (2) |\n\n\u591a\u500b\u5c6c\u6027\u4ee5\u9017\u865f\u5206\u9694\u50b3\u5165\uff0c\u56de\u50b3\u4ee5\u5c6c\u6027\u540d\u7a31\u70ba key \u7684 Map\u3002\n\n### \u56de\u50b3\u683c\u5f0f\n```json\n{\n  \"INSURANCE_CATALOG\": [\n    { \"INSURANCE_TYPE\": \"2\", \"ID\": \"19\", \"label\": \"VUL\" },\n    { \"INSURANCE_TYPE\": \"2\", \"ID\": \"20\", \"label\": \"VL\" }\n  ],\n  \"SALE_CHANNEL\": [\n    { \"INSURANCE_TYPE\": \"0\", \"ID\": \"24\", \"label\": \"\u5c08\u5c55\u5c08\u5c6c\" }\n  ]\n}\n```\n\u6bcf\u500b\u9078\u9805\u5305\u542b\uff1a\n- `INSURANCE_TYPE`: \u8a72\u9078\u9805\u9069\u7528\u7684\u4fdd\u96aa\u985e\u578b\uff08`0` \u8868\u793a\u901a\u7528\uff09\n- `ID`: \u9078\u9805\u7684\u7cfb\u7d71 ID\n- `label`: \u9078\u9805\u7684\u4e2d\u6587\u986f\u793a\u6587\u5b57\n",
        "parameters": [
          {
            "name": "Attributes",
            "in": "query",
            "type": "string",
            "required": true,
            "description": "\u8981\u53d6\u5f97\u7684\u5c6c\u6027\u540d\u7a31\uff0c\u591a\u500b\u4ee5\u9017\u865f\u5206\u9694\u3002\n\u4f8b\u5982: `INSURANCE_CATALOG,SALE_CHANNEL,PAYMENT_CURRENCY`\n"
          },
          {
            "name": "Segment",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "\u5340\u6bb5\u7be9\u9078\u3002\u7528\u65bc\u9650\u5b9a\u56de\u50b3\u9078\u9805\u7684\u4fdd\u96aa\u985e\u578b\u7bc4\u570d\u3002\n- `TRAOnly`: \u50c5\u50b3\u7d71\u578b\n- `INVOnly`: \u50c5\u6295\u8cc7\u578b\n\u4e0d\u6307\u5b9a\u6642\u56de\u50b3\u5168\u90e8\u3002\n"
          }
        ],
        "responses": {
          "200": {
            "description": "\u6210\u529f\u56de\u50b3\u9078\u9805\u8cc7\u6599\uff08\u4ee5\u5c6c\u6027\u540d\u7a31\u70ba key \u7684 Map\uff09",
            "schema": {
              "$ref": "#/definitions/ProductOptionsMap"
            },
            "examples": {
              "application/json": {
                "INSURANCE_CATALOG": [
                  {
                    "INSURANCE_TYPE": "0",
                    "ID": "6",
                    "label": "\u672a\u5206\u985e"
                  },
                  {
                    "INSURANCE_TYPE": "2",
                    "ID": "19",
                    "label": "VUL"
                  },
                  {
                    "INSURANCE_TYPE": "2",
                    "ID": "20",
                    "label": "VL"
                  },
                  {
                    "INSURANCE_TYPE": "2",
                    "ID": "21",
                    "label": "VA"
                  }
                ],
                "SALE_CHANNEL": [
                  {
                    "INSURANCE_TYPE": "0",
                    "ID": "107",
                    "label": "\u672a\u6307\u5b9a\u901a\u8def"
                  },
                  {
                    "INSURANCE_TYPE": "0",
                    "ID": "24",
                    "label": "\u5c08\u5c55\u5c08\u5c6c"
                  },
                  {
                    "INSURANCE_TYPE": "0",
                    "ID": "25",
                    "label": "\u4fdd\u4ee3\u5c08\u5c6c"
                  },
                  {
                    "INSURANCE_TYPE": "0",
                    "ID": "28",
                    "label": "\u7db2\u6295\u5c08\u5c6c"
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/PHAW_0200/getBookmarks": {
      "get": {
        "tags": [
          "\u8f14\u52a9\u67e5\u8a62"
        ],
        "summary": "\u53d6\u5f97\u66f8\u7c64 / \u71b1\u9580\u9023\u7d50",
        "operationId": "getBookmarks",
        "description": "### \u9069\u7528\u60c5\u5883\n\u524d\u53f0\u9996\u9801\u6216\u5074\u908a\u6b04\u7684\u300c\u71b1\u9580\u9023\u7d50\u300d\u5340\u584a\uff0c\u63d0\u4f9b\u5e38\u7528\u529f\u80fd\u7684\u5feb\u6377\u5165\u53e3\u3002\n\u76ee\u524d\u53ea\u6709\u56db\u7a2e`\u4fdd\u55ae\u5546\u54c1`\u985e\u5225\u7684\u66f8\u7c64\u4f7f\u7528\u6b64\u7aef\u9ede\uff0c\u7531\u65bc\u548c`\u81ea\u8a02\u5340\u584a`\u7684\u5167\u5bb9\u9ad8\u5ea6\u76f8\u4eff\uff0c\u53ef\u8003\u616e\u6574\u5408\u5f8c\u505c\u7528\u6b64\u7aef\u9ede\u3002\n\n### \u66f8\u7c64\u5206\u985e\n\u66f8\u7c64\u4f9d `CATEGORY` \u5206\u985e\uff1a\n- `\u5546\u54c1`: \u8207\u4fdd\u55ae\u5546\u54c1\u76f8\u95dc\u7684\u5916\u90e8\u9023\u7d50\uff08\u5982\u5ba3\u544a\u5229\u7387\u67e5\u8a62\u3001\u9644\u7d04\u898f\u5b9a\u7b49\uff09\n- `\u6559\u80b2\u884c\u92b7`: \u884c\u92b7\u6d3b\u52d5\u8207 DM \u5c08\u5340\u9023\u7d50\n- `\u6d25\u8cbc`: \u5546\u54c1\u6d25\u8cbc\u76f8\u95dc\u9023\u7d50\uff08\u5982\u696d\u7e3e\u52a0\u6210\u8fa6\u6cd5\u5c08\u5340\u3001\u5546\u54c1\u6d25\u8cbc\u67e5\u8a62\u5165\u53e3\uff09\n\nMock \u8cc7\u6599: `cathay-bookmarks-mockup.json`\n",
        "parameters": [
          {
            "name": "TYPE",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "\u66f8\u7c64\u985e\u578b\u7be9\u9078\u3002\u76ee\u524d\u958b\u767c\u968e\u6bb5\u4e0d\u8ad6 TYPE \u53c3\u6578\uff0c\u7d71\u4e00\u56de\u50b3\u5168\u90e8\u66f8\u7c64\u3002\n"
          }
        ],
        "responses": {
          "200": {
            "description": "\u6210\u529f\u56de\u50b3\u66f8\u7c64\u8cc7\u6599",
            "schema": {
              "$ref": "#/definitions/BookmarksResponse"
            },
            "examples": {
              "application/json": {
                "Bookmarks": [
                  {
                    "MID": 3,
                    "TITLE": "\u5ba3\u544a\u5229\u7387\u67e5\u8a62",
                    "CATEGORY": "\u5546\u54c1",
                    "TYPE": 1,
                    "URL_STRING": "https://www.cathaylife.com.tw/cathaylife/services/rate",
                    "SORT_INDEX": 1,
                    "DATE_CREATED": "2023-07-10"
                  },
                  {
                    "MID": 12,
                    "TITLE": "\u5546\u54c1\u6d25\u8cbc",
                    "CATEGORY": "\u6d25\u8cbc",
                    "TYPE": 1,
                    "URL_STRING": "https://w3.cathaylife.com.tw/cxlpt/PIWeb/servlet/HttpDispatcher/PIE0_0100/prompt?...",
                    "SORT_INDEX": 2,
                    "DATE_CREATED": "2023-07-10"
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/PHAW_0200/getAttachmentByID": {
      "get": {
        "tags": [
          "\u8f14\u52a9\u67e5\u8a62"
        ],
        "summary": "\u4f9d\u5546\u54c1 ID \u53d6\u5f97\u9644\u4ef6\u6e05\u55ae",
        "operationId": "getAttachmentByID",
        "description": "### \u9069\u7528\u60c5\u5883\n\u67e5\u8a62\u7279\u5b9a\u4fdd\u55ae\u5546\u54c1\u7684\u9644\u4ef6\u6e05\u55ae\u3002\u524d\u7aef\u7684\u300c\u6a94\u6848\u4e0b\u8f09\u300d\u6309\u9215 (PopupDownload) \u9ede\u64ca\u5f8c\uff0c\n\u6703\u547c\u53eb\u6b64\u7aef\u9ede\u53d6\u5f97\u8a72\u5546\u54c1\u7684\u53ef\u4e0b\u8f09\u9644\u4ef6\u5217\u8868\u3002\n\n### \u6ce8\u610f\u4e8b\u9805\n- \u6b64\u7aef\u9ede\u540c\u6642\u5b58\u5728\u65bc `PHAW_0100`\uff08\u5f8c\u53f0\uff09\u8207 `PHAW_0200`\uff08\u524d\u53f0\uff09\uff0c\u529f\u80fd\u76f8\u540c\n- \u56de\u50b3\u9663\u5217\u4e2d\u6bcf\u500b\u7269\u4ef6\u5305\u542b\u9644\u4ef6\u7684 ID\u3001\u6a94\u540d\u3001\u6a94\u6848\u5927\u5c0f\u7b49\u8cc7\u8a0a\n- \u5be6\u969b\u4e0b\u8f09\u6a94\u6848\u9700\u53e6\u5916\u547c\u53eb `/PHAW_0200/downloadFile` \u7aef\u9ede\n",
        "parameters": [
          {
            "name": "productID",
            "in": "query",
            "type": "string",
            "required": true,
            "description": "\u5546\u54c1\u7de8\u865f (PID)\uff0c\u5c0d\u61c9 `SYS_PRODUCT_ID`\u3002\n"
          },
          {
            "name": "released",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "\u8cc7\u6599\u4f86\u6e90\u5340\u57df\u3002\n- `1` \u6216 `true`: \u767c\u5e03\u5340\n- `0` \u6216 `false`: \u7de8\u8f2f\u5340\n"
          }
        ],
        "responses": {
          "200": {
            "description": "\u6210\u529f\u56de\u50b3\u9644\u4ef6\u6e05\u55ae\uff08\u53ef\u80fd\u70ba\u7a7a\u9663\u5217\uff09",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Attachment"
              }
            }
          }
        }
      }
    },
    "/PHAW_0200/getUserObject": {
      "get": {
        "tags": [
          "\u8f14\u52a9\u67e5\u8a62"
        ],
        "summary": "\u53d6\u5f97\u7576\u524d\u767b\u5165\u7528\u6236\u8cc7\u8a0a",
        "operationId": "getUserObject",
        "description": "### \u9069\u7528\u60c5\u5883\nVue SPA \u521d\u59cb\u5316\u6642\u53d6\u5f97\u7576\u524d\u767b\u5165\u7528\u6236\u7684\u57fa\u672c\u8cc7\u8a0a\uff0c\u7528\u65bc\uff1a\n- \u986f\u793a\u7528\u6236\u540d\u7a31\n- \u5224\u65b7\u7528\u6236\u89d2\u8272\u8207\u6b0a\u9650\n- \u5f8c\u7e8c API \u547c\u53eb\u6642\u7684\u8eab\u4efd\u8b58\u5225\n\n### \u56de\u50b3\u6b04\u4f4d\u8aaa\u660e\n| \u6b04\u4f4d | \u8aaa\u660e |\n|---|---|\n| `empID` | \u54e1\u5de5\u7de8\u865f |\n| `empName` | \u54e1\u5de5\u59d3\u540d |\n| `divNo` | \u55ae\u4f4d\u4ee3\u78bc |\n| `divFullName` | \u55ae\u4f4d\u5168\u540d |\n| `divShortName` | \u55ae\u4f4d\u7c21\u7a31 |\n| `compID` | \u516c\u53f8\u4ee3\u78bc |\n| `cathayNo` | \u570b\u6cf0\u7de8\u865f\uff08\u516c\u53f8\u4ee3\u78bc + \u54e1\u5de5\u7de8\u865f\uff09 |\n| `roles` | \u89d2\u8272\u6e05\u55ae\uff08key \u70ba\u89d2\u8272\u4ee3\u78bc, value \u70ba\u516c\u53f8\u4ee3\u78bc\uff09 |\n\nMock \u8cc7\u6599: `cathay-useroject-mockup.json`\n",
        "responses": {
          "200": {
            "description": "\u6210\u529f\u56de\u50b3\u7528\u6236\u8cc7\u8a0a",
            "schema": {
              "$ref": "#/definitions/UserObject"
            },
            "examples": {
              "application/json": {
                "divNo": "9400100",
                "empID": "I94001V018",
                "cathayNo": "A0I94001V018",
                "compID": "A0",
                "divFullName": "\u96fb\u5546\u8cc7\u8a0a\u79d1",
                "empName": "\u6797\u9706\u73c5",
                "roles": {
                  "RLZZ987": "A0"
                },
                "divShortName": "\u96fb\u5546\u8cc7\u8a0a\u79d1"
              }
            }
          }
        }
      }
    }
  },
  "definitions": {
    "Product": {
      "type": "object",
      "description": "\u4fdd\u55ae\u5546\u54c1\u8cc7\u6599\u7269\u4ef6\u3002\n\u300c\u7de8\u8f2f\u5340\u300d(`/getProduct`) \u8207\u300c\u767c\u5e03\u5340\u300d(`/getReleasedProduct`) \u56de\u50b3\u7684\u7d50\u69cb\u5b8c\u5168\u76f8\u540c\u3002\n\u4e0d\u540c\u4fdd\u96aa\u985e\u578b (insuranceType) \u7684\u5546\u54c1\u5404\u6709\u5c08\u5c6c\u6b04\u4f4d\uff0c\u672a\u9069\u7528\u7684\u6b04\u4f4d\u503c\u70ba\u7a7a\u5b57\u4e32\u3002\n\n\u4ee5\u4e0b\u8aaa\u660e\u6bcf\u500b\u6b04\u4f4d\u7684\uff1a\n- **label**: \u524d\u7aef\u986f\u793a\u7684\u4e2d\u6587\u6b04\u4f4d\u540d\u7a31\n- **dbSource**: \u5c0d\u61c9\u7684\u8cc7\u6599\u5eab\u6b04\u4f4d\u540d\u7a31\n- **origin**: \u8cc7\u6599\u4f86\u6e90\u985e\u578b (RAW / SQL_CAL / SQL_AGG / SQL_REF \u7b49)\n- **displayType**: \u9069\u7528\u7684\u4fdd\u96aa\u985e\u578b (T=\u50b3\u7d71, I=\u6295\u8cc7, O=OIU, G=\u5718\u96aa, A=\u6d25\u8cbc)\n",
      "properties": {
        "PID": {
          "type": "integer",
          "description": "**\u5546\u54c1\u7de8\u865f** \u2014 \u7cfb\u7d71\u5167\u90e8\u552f\u4e00\u7684\u5546\u54c1\u8b58\u5225\u78bc\u3002\n- DB \u6b04\u4f4d: `SYS_PRODUCT_ID`\n- \u4f86\u6e90: RAW\n- \u7528\u9014: \u50c5\u505a\u70ba\u8cc7\u6599\u6a19\u8a3b\uff0c\u4e0d\u65bc\u4ecb\u9762\u986f\u793a\u3002\u4f5c\u70ba `/getProduct` \u7684\u67e5\u8a62\u9375\u503c\u3002\n"
        },
        "SYS_MAJOR_PRODUCT": {
          "type": "integer",
          "description": "**\u4e3b\u5546\u54c1\u7de8\u865f** \u2014 \u7576\u5546\u54c1\u6709\u4e3b/\u9644\u7d04\u95dc\u4fc2\u6642\uff0c\u6307\u5411\u4e3b\u7d04\u7684 PID\u3002\n- DB \u6b04\u4f4d: `SYS_MAJOR_PRODUCT`\n- \u4f86\u6e90: RAW\n"
        },
        "SYS_PRODUCT_STATUS": {
          "type": "integer",
          "description": "**\u5546\u54c1\u72c0\u614b\u78bc** \u2014 \u8868\u793a\u5546\u54c1\u5728 CMS \u4e2d\u7684\u8655\u7406\u72c0\u614b\u3002\n- `2`: \u5df2\u767c\u5e03 (Published)\n- \u5176\u4ed6\u503c: \u8349\u7a3f\u3001\u5f85\u5be9\u7b49\u5167\u90e8\u72c0\u614b\n"
        },
        "SYS_IS_INSPECTING": {
          "type": "integer",
          "description": "**\u5be9\u6838\u4e2d\u6a19\u8a18** \u2014 \u662f\u5426\u6b63\u5728\u5be9\u6838\u6d41\u7a0b\u4e2d\u3002\n- `0`: \u5426\n- `1`: \u662f\n"
        },
        "SYS_DATE_CREATED": {
          "type": "string",
          "description": "**\u5efa\u7acb\u65e5\u671f** \u2014 \u5546\u54c1\u8cc7\u6599\u5728 CMS \u4e2d\u7684\u5efa\u7acb\u65e5\u671f\u3002\u683c\u5f0f: YYYY-MM-DD\u3002\n"
        },
        "SYS_DATE_UPDATED": {
          "type": "string",
          "description": "**\u66f4\u65b0\u65e5\u671f** \u2014 \u6700\u5f8c\u4e00\u6b21\u66f4\u65b0\u7684\u65e5\u671f\u3002\u683c\u5f0f: YYYY-MM-DD\uff0c\u672a\u66f4\u65b0\u6642\u503c\u70ba \"--\"\u3002\n"
        },
        "SYS_RELATE_PRODUCTS": {
          "type": "string",
          "description": "**\u95dc\u806f\u5546\u54c1** \u2014 \u8207\u6b64\u5546\u54c1\u76f8\u95dc\u806f\u7684\u5176\u4ed6\u5546\u54c1 PID\uff0c\u4ee5\u9017\u865f\u5206\u9694\u3002\n"
        },
        "MAIN_TYPE": {
          "type": "integer",
          "description": "**\u4fdd\u96aa\u985e\u578b\u4ee3\u78bc**\n- `1`: \u50b3\u7d71\u578b\n- `2`: \u6295\u8cc7\u578b\n- `3`: OIU\uff08\u5883\u5916\u4fdd\u55ae\uff09\n- `4`: \u5718\u96aa\n"
        },
        "ISSELLING": {
          "type": "string",
          "description": "**\u73fe\u552e\u72c0\u614b** \u2014 \u4ee5\u4e2d\u6587\u6a19\u7c64\u8f38\u51fa\u3002\n- DB \u6b04\u4f4d: `IS_PUBLISHED` (\u539f\u59cb\u503c 0/1)\n- \u4f86\u6e90: SQL_CAL\uff08\u7531 SQL \u5c64\u5c07 0/1 \u8f49\u63db\u70ba\u4e2d\u6587\uff09\n- \u8f38\u51fa\u503c: \"\u73fe\u552e\" / \"\u505c\u552e\"\n- \u9069\u7528: \u5168\u90e8\u985e\u578b (T, I, O, G)\n"
        },
        "ISMASTER": {
          "type": "string",
          "description": "**\u4e3b/\u9644\u7d04** \u2014 \u5340\u5206\u4e3b\u7d04\u6216\u9644\u7d04\uff0c\u4ee5\u4e2d\u6587\u6a19\u7c64\u8f38\u51fa\u3002\n- DB \u6b04\u4f4d: `IS_MASTER` (\u539f\u59cb\u503c 0=\u9644\u7d04 / 1=\u4e3b\u7d04)\n- \u4f86\u6e90: SQL_CAL\n- \u8f38\u51fa\u503c: \"\u4e3b\u7d04\" / \"\u9644\u7d04\"\n- \u9069\u7528: T, I, O, A\n"
        },
        "MAIN_CODE": {
          "type": "string",
          "description": "**\u4e3b\u8981\u96aa\u5225\u4ee3\u865f** \u2014 \u5546\u54c1\u7684\u4e3b\u8981\u96aa\u5225\u4ee3\u78bc\u3002\n- DB \u6b04\u4f4d: `INSURANCE_CODE`\n- \u4f86\u6e90: RAW\n- \u7bc4\u4f8b: \"8QI\", \"FBA\", \"LCA\"\n"
        },
        "RELATEDCODES": {
          "type": "string",
          "description": "**\u96aa\u5225\u4ee3\u865f\uff08\u805a\u5408\uff09** \u2014 SQL \u805a\u5408\u76f8\u540c\u5546\u54c1\u540d\u7a31\u4e0b\u7684\u6240\u6709\u96aa\u5225\u4ee3\u865f\uff0c\u4ee5\u9017\u865f\u5206\u9694\u3002\n- DB \u6b04\u4f4d: `INSURANCE_CODE` (\u805a\u5408)\n- \u4f86\u6e90: SQL_AGG\n- \u9069\u7528: \u5168\u90e8\u985e\u578b (T, I, O, G, A)\n- \u7bc4\u4f8b: \"LCA,LCB\" \u6216 \"FBA, LU4\"\n"
        },
        "TITLE": {
          "type": "string",
          "description": "**\u5546\u54c1\u540d\u7a31** \u2014 \u4fdd\u55ae\u7684\u6b63\u5f0f\u4e2d\u6587\u540d\u7a31\u3002\n- DB \u6b04\u4f4d: `INSURANCE_TITLE`\n- \u4f86\u6e90: RAW\n- \u9069\u7528: \u5168\u90e8\u985e\u578b (T, I, O, G, A)\n"
        },
        "MAJORNOTES": {
          "type": "string",
          "description": "**\u96aa\u5225\u8a3b\u8a18** \u2014 \u5c0d\u96aa\u5225\u4ee3\u865f\u7684\u984d\u5916\u88dc\u5145\u8aaa\u660e\u3002\n- DB \u6b04\u4f4d: `INSURANCE_CODE_NOTE`\n- \u4f86\u6e90: RAW\n- \u9069\u7528: \u5168\u90e8\u985e\u578b (T, I, O, G, A)\n"
        },
        "CORECATEGORY": {
          "type": "string",
          "description": "**\u6838\u5fc3\u5546\u54c1\u5206\u985e** \u2014 \u50b3\u7d71\u578b\u5546\u54c1\u7684\u696d\u52d9\u5206\u985e\uff0c\u4ee5\u4e2d\u6587\u6a19\u7c64\u8f38\u51fa\u3002\n- DB \u6b04\u4f4d: `TRA_CORE_CATEGORY` (\u5916\u9375\u53c3\u7167)\n- \u4f86\u6e90: SQL_REF/SINGLE\n- \u9069\u7528: T, O, A\n- \u7bc4\u4f8b: \"\u6838\u4e00\", \"\u5065\u5eb7\u53ca\u50b7\u5bb3\"\n"
        },
        "CATALOG": {
          "type": "string",
          "description": "**\u5546\u54c1\u985e\u578b** \u2014 \u5546\u54c1\u7684\u5177\u9ad4\u5b50\u5206\u985e\uff0c\u4ee5\u4e2d\u6587\u6a19\u7c64\u8f38\u51fa\u3002\n- DB \u6b04\u4f4d: `INSURANCE_CATALOG` (\u5916\u9375\u53c3\u7167)\n- \u4f86\u6e90: SQL_REF/SINGLE\n- \u9069\u7528: \u5168\u90e8\u985e\u578b (T, I, O, G, A)\n- \u7bc4\u4f8b: \"\u7d42\u8eab\u58fd\u96aa\", \"VUL\", \"\u9577\u7167\u96aa\"\n"
        },
        "CURRENCY": {
          "type": "string",
          "description": "**\u5e63\u5225** \u2014 \u4fdd\u55ae\u7684\u6536\u4ed8\u5e63\u5225\u3002\u805a\u5408\u591a\u7b46\u540c\u540d\u4fdd\u55ae\u7684\u8907\u6578\u5e63\u5225\u3002\n- DB \u6b04\u4f4d: `PAYMENT_CURRENCY` (\u805a\u5408)\n- \u4f86\u6e90: SQL_AGG\n- \u9069\u7528: T, I, O\n- \u7bc4\u4f8b: \"\u53f0\u5e63\", \"\u53f0\u5e63(FBA), \u7f8e\u5143(LU4)\"\n"
        },
        "CHANNELS": {
          "type": "string",
          "description": "**\u92b7\u552e\u901a\u8def** \u2014 \u55ae\u7b46\u7d00\u9304\u5c0d\u61c9\u7684\u901a\u8def\uff0c\u4ee5\u4e2d\u6587\u6a19\u7c64\u8f38\u51fa\uff0c\u591a\u503c\u4ee5\u9017\u865f\u5206\u9694\u3002\n- DB \u6b04\u4f4d: `SALE_CHANNEL` (\u5916\u9375\u53c3\u7167)\n- \u4f86\u6e90: SQL_REF/MULTIPLE\n- \u9069\u7528: T, I, O\n- \u7bc4\u4f8b: \"\u5c08\u5c55\u5c08\u5c6c\", \"\u672a\u6307\u5b9a\u901a\u8def,\u4fdd\u4ee3\u5c08\u5c6c,\u76f4\u6548\u5c08\u5c6c\"\n"
        },
        "DATELAUNCHED": {
          "type": "string",
          "description": "**\u958b\u8fa6\u65e5** \u2014 \u4fdd\u55ae\u958b\u8fa6\u65e5\u671f\u3002\u683c\u5f0f: YYYY-MM-DD\u3002\n- DB \u6b04\u4f4d: `DATE_LAUNCHED`\n- \u4f86\u6e90: RAW\n- \u9069\u7528: T, I, O, G\n"
        },
        "DATEDISCONTINUED": {
          "type": "string",
          "description": "**\u505c\u552e\u65e5** \u2014 \u4fdd\u55ae\u505c\u552e\u65e5\u671f\u3002\u683c\u5f0f: YYYY-MM-DD\uff0c\u672a\u505c\u552e\u6642\u70ba\u7a7a\u5b57\u4e32\u3002\n- DB \u6b04\u4f4d: `DATE_DISCONTINUED`\n- \u4f86\u6e90: RAW\n- \u9069\u7528: T, I, O, G\n"
        },
        "REMARK": {
          "type": "string",
          "description": "**\u5099\u8a3b** \u2014 \u5546\u54c1\u7684\u88dc\u5145\u8aaa\u660e\u3002\n- DB \u6b04\u4f4d: `ADDITIONAL_NOTE`\n- \u4f86\u6e90: RAW\n- \u9069\u7528: T, I, O, G\n"
        },
        "GRP_POLPERIODS": {
          "type": "string",
          "description": "**\u4fdd\u969c\u671f\u9593** \u2014 \u4fdd\u969c\u671f\u9593\u63cf\u8ff0\uff0c\u805a\u5408\u591a\u7b46\u540c\u540d\u4fdd\u55ae\u3002\n- DB \u6b04\u4f4d: `POLICY_PERIOD_DESCRIPTION` (\u805a\u5408)\n- \u4f86\u6e90: SQL_AGG\n- \u9069\u7528: T, I, O\n- \u7bc4\u4f8b: \"\u7d42\u8eab\", \"\u6b72\u6eff\u671f:76\u5e74\"\n"
        },
        "GRP_PAYPERIODS": {
          "type": "string",
          "description": "**\u7e73\u8cbb\u671f\u9593** \u2014 \u7e73\u8cbb\u5e74\u671f\u63cf\u8ff0\uff0c\u805a\u5408\u591a\u7b46\u540c\u540d\u4fdd\u55ae\u3002\n- DB \u6b04\u4f4d: `TRA_PAYMENT_PERIOD_DESCRIPTION` (\u805a\u5408)\n- \u4f86\u6e90: SQL_AGG\n- \u9069\u7528: T, O\n- \u7bc4\u4f8b: \"\u5b9a\u671f\u652f\u4ed8\uff1a20\u5e74\"\n"
        },
        "GRP_AGELIMITATION": {
          "type": "string",
          "description": "**\u627f\u4fdd\u5e74\u9f61\u7bc4\u570d** \u2014 \u805a\u5408\u591a\u7b46\u540c\u540d\u4fdd\u55ae\u7684\u627f\u4fdd\u5e74\u9f61\u3002\n- DB \u6b04\u4f4d: `LIMITATION_AGE_FLOOR` + `LIMITATION_AGE_CEIL` (\u805a\u5408)\n- \u4f86\u6e90: SQL_AGG\n- \u9069\u7528: T, I, O\n- \u7bc4\u4f8b: \"2\uff5e33\u6b72\", \"16\uff5e69\u6b72(FBA), 15\uff5e70\u6b72(LU4)\"\n"
        },
        "GRP_INTEREST": {
          "type": "string",
          "description": "**\u9810\u5b9a\u5229\u7387** \u2014 \u805a\u5408\u591a\u7b46\u540c\u540d\u4fdd\u55ae\u7684\u9810\u5b9a\u5229\u7387\u3002\n- DB \u6b04\u4f4d: `TRA_INTEREST_RATE` (\u805a\u5408)\n- \u4f86\u6e90: SQL_AGG\n- \u9069\u7528: T, O\n- \u7bc4\u4f8b: \"2.25\", \"22\"\n"
        },
        "CLAIMS": {
          "type": "string",
          "description": "**\u7d66\u4ed8\u9805\u76ee** \u2014 \u4fdd\u55ae\u7684\u7d66\u4ed8\u9805\u76ee\u63cf\u8ff0\uff0c\u591a\u503c\u4ee5\u9017\u865f\u5206\u9694\u3002\n- DB \u6b04\u4f4d: `TRA_INSURANCE_CLAIM` (\u5916\u9375\u53c3\u7167)\n- \u4f86\u6e90: SQL_REF/MULTIPLE\n- \u9069\u7528: T, O, G\n- \u7bc4\u4f8b: \"\u4f4f\u9662\u7d66\u4ed8\", \"\u624b\u8853\u7d66\u4ed8\"\n"
        },
        "SPILLOVERTYPE": {
          "type": "string",
          "description": "**\u5916\u6ea2\u985e\u578b** \u2014 \u5916\u6ea2\u6a5f\u5236\u7684\u5177\u9ad4\u63cf\u8ff0\u3002\n- DB \u6b04\u4f4d: `FEAT_SPILLOVER_TYPE` (\u5916\u9375\u53c3\u7167)\n- \u4f86\u6e90: SQL_REF/SINGLE\n- \u9069\u7528: T, I, O\n- \u7bc4\u4f8b: \"\u5065\u8d70\u578b\"\n"
        },
        "SPILLOVERFEEDBACK": {
          "type": "string",
          "description": "**\u5916\u6ea2\u56de\u994b** \u2014 \u56de\u994b\u6a5f\u5236\u63cf\u8ff0\u3002\n- DB \u6b04\u4f4d: `FEAT_SPILLOVER_FEEDBACK` (\u5916\u9375\u53c3\u7167)\n- \u4f86\u6e90: SQL_REF/SINGLE\n- \u9069\u7528: T, I, O\n- \u7bc4\u4f8b: \"\u4fdd\u8cbb\u6e1b\u514d\"\n"
        },
        "FEAT_IS_PIK": {
          "type": "integer",
          "description": "**\u5be6\u7269\u7d66\u4ed8** \u2014 \u662f\u5426\u5177\u5099\u5be6\u7269\u7d66\u4ed8\u7279\u6027\u3002\n- DB \u6b04\u4f4d: `FEAT_IS_PIK`\n- \u4f86\u6e90: RAW\n- \u503c: 0=\u5426 / 1=\u662f\n- \u9069\u7528: T, I, O\uff08\u50c5\u4f5c\u70ba\u904e\u6ffe\u689d\u4ef6\uff0c\u4e0d\u65bc\u8868\u683c\u986f\u793a\uff09\n"
        },
        "FEAT_IS_CONVERTIBLE": {
          "type": "integer",
          "description": "**\u529f\u80fd\u6027\u5951\u7d04\u8f49\u63db** \u2014 \u662f\u5426\u5177\u5099\u529f\u80fd\u6027\u5951\u7d04\u8f49\u63db\u7279\u6027\u3002\n- DB \u6b04\u4f4d: `FEAT_IS_CONVERTIBLE`\n- \u4f86\u6e90: RAW\n- \u503c: 0=\u5426 / 1=\u662f\n- \u9069\u7528: T, I, O\uff08\u50c5\u4f5c\u70ba\u904e\u6ffe\u689d\u4ef6\uff0c\u4e0d\u65bc\u8868\u683c\u986f\u793a\uff09\n"
        },
        "NAATTYPE": {
          "type": "string",
          "description": "**\u4fdd\u969c\u985e\u578b**\u3010\u6295\u8cc7\u578b\u5c08\u5c6c\u3011\u2014 \u6295\u8cc7\u578b\u4fdd\u55ae\u7684\u4fdd\u969c\u985e\u5225\u3002\n- DB \u6b04\u4f4d: `INV_NAAT_TYPE` (\u5916\u9375\u53c3\u7167)\n- \u4f86\u6e90: SQL_REF/SINGLE\n- \u9069\u7528: I\n- \u7bc4\u4f8b: \"\u58fd\u96aa(\u4e59\u578b)\"\n"
        },
        "PAYMENTCYCLE": {
          "type": "string",
          "description": "**\u7e73\u5225\u63cf\u8ff0**\u3010\u6295\u8cc7\u578b\u5c08\u5c6c\u3011\u2014 \u6295\u8cc7\u578b\u7e73\u8cbb\u9031\u671f\uff0c\u591a\u503c\u4ee5\u9017\u865f\u5206\u9694\u3002\n- DB \u6b04\u4f4d: `INV_PAYMENT_CYCLE` (\u5916\u9375\u53c3\u7167)\n- \u4f86\u6e90: SQL_REF/MULTIPLE\n- \u9069\u7528: I\n- \u7bc4\u4f8b: \"\u8e89\u7e73\"\n"
        },
        "CHARACTERSTICS": {
          "type": "string",
          "description": "**\u4fdd\u6236\u985e\u578b**\u3010\u6295\u8cc7\u578b\u5c08\u5c6c\u3011\u2014 \u6295\u8cc7\u578b\u5efa\u8b70\u5ba2\u7fa4\uff0c\u591a\u503c\u4ee5\u9017\u865f\u5206\u9694\u3002\n- DB \u6b04\u4f4d: `INV_SUITABLE_CHARACTERISTIC` (\u5916\u9375\u53c3\u7167)\n- \u4f86\u6e90: SQL_REF/MULTIPLE\n- \u9069\u7528: I\n"
        },
        "ISWITHHOLDING": {
          "type": "string",
          "description": "**\u8cbb\u7528\u6536\u53d6\u65b9\u5f0f**\u3010\u6295\u8cc7\u578b\u5c08\u5c6c\u3011\u2014 \u8cbb\u7528\u524d\u6536\u6216\u5f8c\u6536\u3002\n- DB \u6b04\u4f4d: `INV_IS_FEE_WITHHOLDING` (\u539f\u59cb\u503c 0=\u5f8c\u6536/1=\u524d\u6536)\n- \u4f86\u6e90: SQL_CALC\n- \u9069\u7528: I\n- \u8f38\u51fa\u503c: \"\u524d\u6536\" / \"\u5f8c\u6536\"\n"
        },
        "ISRISK": {
          "type": "string",
          "description": "**\u6536\u4fdd\u96aa\u6210\u672c**\u3010\u6295\u8cc7\u578b\u5c08\u5c6c\u3011\u2014 \u662f\u5426\u6536\u53d6\u98a8\u96aa\u6210\u672c\u3002\n- DB \u6b04\u4f4d: `INV_IS_RISK_PREMIUM` (\u539f\u59cb\u503c 0=\u5426/1=\u662f)\n- \u4f86\u6e90: SQL_CALC\n- \u9069\u7528: I\n- \u8f38\u51fa\u503c: \"\" (\u5426) / \"\u6709\" (\u662f)\n"
        },
        "ISDIVIDEND": {
          "type": "string",
          "description": "**\u6708\u64a5\u56de\u914d\u606f**\u3010\u6295\u8cc7\u578b\u5c08\u5c6c\u3011\u2014 \u662f\u5426\u5177\u5099\u6708\u64a5\u56de\u914d\u606f\u7279\u6027\u3002\n- DB \u6b04\u4f4d: `INV_IS_MONTHLY_DIVIDEND` (\u539f\u59cb\u503c 0=\u5426/1=\u662f)\n- \u4f86\u6e90: SQL_CALC\n- \u9069\u7528: I\n"
        },
        "ISBENEFIT": {
          "type": "string",
          "description": "**\u52a0\u503c\u7d66\u4ed8**\u3010\u6295\u8cc7\u578b\u5c08\u5c6c\u3011\u2014 \u662f\u5426\u5177\u5099\u52a0\u503c\u7d66\u4ed8\u7279\u6027\u3002\n- DB \u6b04\u4f4d: `INV_IS_ADDITIONAL_BENEFIT` (\u539f\u59cb\u503c 0=\u5426/1=\u662f)\n- \u4f86\u6e90: SQL_CALC\n- \u9069\u7528: I\n- \u8f38\u51fa\u503c: \"\" (\u5426) / \"\u6709\" (\u662f)\n"
        },
        "INVESTMENTFEATURES": {
          "type": "string",
          "description": "**\u6a19\u7684\u985e\u578b**\u3010\u6295\u8cc7\u578b\u5c08\u5c6c\u3011\u2014 \u6295\u8cc7\u6a19\u7684\u985e\u578b\u63cf\u8ff0\uff0c\u591a\u503c\u4ee5\u9017\u865f\u5206\u9694\u3002\n- DB \u6b04\u4f4d: `INV_INVESTMENT_FEATURES` (\u5916\u9375\u53c3\u7167)\n- \u4f86\u6e90: SQL_REF/MULTIPLE\n- \u9069\u7528: I\n- \u7bc4\u4f8b: \"\u5168\u59d4\"\n"
        },
        "BENEFITCAP": {
          "type": "string",
          "description": "**\u6700\u665a\u5e74\u91d1\u7d66\u4ed8\u958b\u59cb\u4e4b\u5e74\u9f61**\u3010\u6295\u8cc7\u578b\u5c08\u5c6c\u3011\n- DB \u6b04\u4f4d: `INV_LIMITATION_AGE_BENEFIT_CAP`\n- \u4f86\u6e90: RAW\n- \u9069\u7528: I\n"
        },
        "TERMINATIONYEAR": {
          "type": "string",
          "description": "**\u89e3\u7d04\u8cbb\u7528\u6536\u53d6\u5e74\u9650**\u3010\u6295\u8cc7\u578b\u5c08\u5c6c\u3011\n- DB \u6b04\u4f4d: `INV_PERIOD_OF_TERMINATION_FEE`\n- \u4f86\u6e90: RAW\n- \u9069\u7528: I\n"
        },
        "QUERYURL": {
          "type": "string",
          "description": "**\u6295\u8cc7\u6a19\u7684\u67e5\u8a62\u9023\u7d50**\u3010\u6295\u8cc7\u578b\u5c08\u5c6c\u3011\u2014 JSON \u5b57\u4e32\u9663\u5217\uff0c\u5305\u542b\u5404\u96aa\u5225\u7684\u57fa\u91d1\u67e5\u8a62 URL\u3002\n- DB \u6b04\u4f4d: `QUERYURL`\n- \u4f86\u6e90: RAW\n- \u9069\u7528: I\n- \u524d\u7aef\u9700\u89e3\u6790 JSON \u53d6\u5f97\u6709\u6548\u9023\u7d50\n- \u7bc4\u4f8b: '[{\"Code\":\"LU4\",\"URL\":\"https://fund.cathaylife.com.tw/...\"}]'\n"
        },
        "GRP_CONTRACT": {
          "type": "string",
          "description": "**\u5408\u7d04\u985e\u578b**\u3010\u5718\u96aa\u5c08\u5c6c\u3011\u2014 \u5408\u7d04\u7684\u985e\u578b\uff0c\u5982\u4e3b\u7d04/\u9644\u7d04/\u9644\u52a0\u689d\u6b3e\u7b49\u3002\n- DB \u6b04\u4f4d: `GRP_CONTRACT` (\u5916\u9375\u53c3\u7167)\n- \u4f86\u6e90: SQL_REF/SINGLE\n- \u9069\u7528: G\n"
        },
        "GRP_COVERAGE": {
          "type": "string",
          "description": "**\u96aa\u7a2e\u5206\u985e**\u3010\u5718\u96aa\u5c08\u5c6c\u3011\u2014 \u5408\u7d04\u6db5\u84cb\u7684\u96aa\u7a2e\u5206\u985e\uff0c\u5c6c\u65bc\u5546\u54c1\u5206\u985e\u7684\u66ff\u4ee3\u6b04\u4f4d\u3002\n- DB \u6b04\u4f4d: `GRP_COVERAGE` (\u5916\u9375\u53c3\u7167)\n- \u4f86\u6e90: SQL_REF/SINGLE\n- \u9069\u7528: G\n"
        }
      }
    },
    "AllowanceProduct": {
      "type": "object",
      "description": "\u5546\u54c1\u6d25\u8cbc\u8cc7\u6599\u7269\u4ef6\uff08v7 \u7d50\u69cb\uff09\u3002\n\u5305\u542b\u5546\u54c1\u57fa\u672c\u8cc7\u8a0a\u4ee5\u53ca\u5d4c\u5957\u7684 ALLOWANCE \u7269\u4ef6\u3002\nv7 \u7d50\u69cb\u4f9d\u300c\u4fdd\u96aa\u985e\u578b \u00d7 \u73fe\u552e\u72c0\u614b\u300d\u62c6\u5206\u70ba 4 \u500b\u5b50\u5206\u9801\u67e5\u8a62\u3002\n",
      "properties": {
        "PID": {
          "type": "string",
          "description": "\u5546\u54c1\u7de8\u865f"
        },
        "SYS_MAJOR_PRODUCT": {
          "type": "string",
          "description": "\u4e3b\u5546\u54c1\u7de8\u865f"
        },
        "SYS_PRODUCT_STATUS": {
          "type": "string",
          "description": "\u5546\u54c1\u72c0\u614b\u78bc (2=\u5df2\u767c\u5e03)"
        },
        "SYS_IS_INSPECTING": {
          "type": "string",
          "description": "\u5be9\u6838\u4e2d\u6a19\u8a18 (0=\u5426, 1=\u662f)"
        },
        "SYS_RELATE_PRODUCTS": {
          "type": "string",
          "description": "\u95dc\u806f\u5546\u54c1 PID\uff08\u9017\u865f\u5206\u9694\uff09"
        },
        "SYS_DATE_CREATED": {
          "type": "string",
          "description": "\u5efa\u7acb\u65e5\u671f (YYYY-MM-DD)"
        },
        "SYS_DATE_UPDATED": {
          "type": "string",
          "description": "\u66f4\u65b0\u65e5\u671f (YYYY-MM-DD)"
        },
        "MAIN_TYPE": {
          "type": "string",
          "description": "\u4fdd\u96aa\u985e\u578b (1=\u50b3\u7d71\u578b, 2=\u6295\u8cc7\u578b)"
        },
        "ISSELLING": {
          "type": "string",
          "description": "\u73fe\u552e\u72c0\u614b (1=\u73fe\u552e, 0=\u505c\u552e)\u3002\u6ce8\u610f\uff1a\u6d25\u8cbc\u8cc7\u6599\u4e2d\u70ba\u6578\u5b57\u5b57\u4e32\uff0c\u8207\u4fdd\u55ae\u5546\u54c1\u7684\u4e2d\u6587\u6a19\u7c64\u4e0d\u540c"
        },
        "ISMASTER": {
          "type": "string",
          "description": "\u4e3b/\u9644\u7d04 (\u4e2d\u6587\u6a19\u7c64: \u4e3b\u7d04/\u9644\u7d04)"
        },
        "MAIN_CODE": {
          "type": "string",
          "description": "\u4e3b\u8981\u96aa\u5225\u4ee3\u865f\u3002\u7bc4\u4f8b: LCA"
        },
        "RELATEDCODES": {
          "type": "string",
          "description": "\u95dc\u806f\u96aa\u5225\u4ee3\u865f\uff08\u9017\u865f\u5206\u9694\uff09\u3002\u7bc4\u4f8b: LCA,LCB"
        },
        "TITLE": {
          "type": "string",
          "description": "\u5546\u54c1\u540d\u7a31"
        },
        "MAJORNOTES": {
          "type": "string",
          "description": "\u96aa\u5225\u8a3b\u8a18"
        },
        "CORECATEGORY": {
          "type": "string",
          "description": "\u6838\u5fc3\u5546\u54c1\u5206\u985e\uff08\u4e2d\u6587\u6a19\u7c64\uff09\u3002\u7bc4\u4f8b: \u5065\u5eb7\u53ca\u50b7\u5bb3"
        },
        "CATALOG": {
          "type": "string",
          "description": "\u5546\u54c1\u985e\u578b\uff08\u4e2d\u6587\u6a19\u7c64\uff09\u3002\u7bc4\u4f8b: \u9577\u7167\u96aa"
        },
        "ALLOWANCE": {
          "$ref": "#/definitions/AllowanceData"
        }
      }
    },
    "AllowanceData": {
      "type": "object",
      "description": "\u6d25\u8cbc\u6578\u64da\u4e3b\u9ad4\u3002\u5305\u542b\u7dad\u5ea6\u5316\u7684\u652f\u7d66\u6bd4\u4f8b\u8cc7\u6599\u3002\n\u6bcf\u7b46\u5546\u54c1\u7684 ALLOWANCE \u7269\u4ef6\u4e0b\u6709\u591a\u500b SECTIONS\uff0c\n\u6bcf\u500b SECTION \u63cf\u8ff0\u4e00\u7d44\u7279\u5b9a\u7dad\u5ea6\u7d44\u5408\u4e0b\u7684\u734e\u91d1\u6bd4\u4f8b\u3002\n",
      "properties": {
        "TITLE": {
          "type": "string",
          "description": "\u6d25\u8cbc\u8cc7\u6599\u6a19\u984c\uff08\u901a\u5e38\u8207\u5546\u54c1\u540d\u7a31\u76f8\u540c\uff09"
        },
        "TYPE": {
          "type": "string",
          "description": "\u8cc7\u6599\u985e\u578b\u6a19\u8a18\uff0c\u56fa\u5b9a\u70ba 'BONUS-RATIO'",
          "enum": [
            "BONUS-RATIO"
          ]
        },
        "NOTATIONS": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "\u5099\u8a3b\u9663\u5217\u3002\u7528\u65bc\u986f\u793a\u5728\u6d25\u8cbc\u8868\u683c\u4e0a\u65b9\u7684\u63d0\u793a\u6587\u5b57\u3002\n\u7bc4\u4f8b: [\"\u81ea\u7531\u914d\u4e00\u5e74\u5b9a\u671f\u6df1\u9867\u53ca\u5b8c\u5168\u5931\u80fd\u58fd\u96aa\u9644\u7d04\u734e\u91d1\u6bd4\u4f8b\u8868\", \"RYP\u70ba\u6bcf\u5e74\u767c\u653e\"]\n"
        },
        "EXTRAS": {
          "$ref": "#/definitions/AllowanceExtras"
        },
        "SECTIONS": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/AllowanceSection"
          }
        }
      }
    },
    "AllowanceExtras": {
      "type": "object",
      "description": "\u6d25\u8cbc\u8cc7\u6599\u7684\u984d\u5916\u5c6c\u6027\u3002\u53ef\u9078\u6b04\u4f4d\uff0c\u975e\u6240\u6709\u5546\u54c1\u90fd\u6703\u5305\u542b\u3002\nEXTRAS \u53ef\u8a2d\u5b9a\u672c\u985e\u578b\u5c08\u7528\u7684\u984d\u5916\u5c6c\u6027\u3002\n",
      "properties": {
        "REMARKS": {
          "type": "string",
          "description": "\u88dc\u5145\u8aaa\u660e\u6587\u5b57"
        },
        "SPECIAL_BONUS": {
          "type": "boolean",
          "description": "\u662f\u5426\u5305\u542b\u7279\u5b9a\u5546\u54c1\u734e\u91d1"
        },
        "CURRENCY": {
          "type": "string",
          "description": "\u5e63\u5225 (\u5982 TWD, USD)"
        },
        "RATE_UNIT": {
          "type": "string",
          "description": "\u6bd4\u7387\u55ae\u4f4d (\u5982 '\u767e\u5206\u6bd4')"
        }
      }
    },
    "AllowanceSection": {
      "type": "object",
      "description": "\u55ae\u4e00\u7dad\u5ea6\u7d44\u5408\u4e0b\u7684\u6d25\u8cbc\u6578\u64da\u3002\nDIMENSIONS \u5b9a\u7fa9\u7be9\u9078/\u5206\u7d44\u7684\u7dad\u5ea6\u8ef8\uff0cMETRICS \u5b9a\u7fa9\u8a72\u7dad\u5ea6\u4e0b\u7684\u734e\u91d1\u6307\u6a19\u503c\u3002\n",
      "properties": {
        "DIMENSIONS": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Dimension"
          },
          "description": "\u7dad\u5ea6\u9663\u5217\u3002\u63cf\u8ff0\u6b64 SECTION \u9069\u7528\u7684\u689d\u4ef6\u7d44\u5408\u3002\n\u5e38\u898b\u7dad\u5ea6: \u7e73\u8cbb\u671f\u9593(PAYMENT-CYCLE)\u3001\u4fdd\u8cbb\u985e\u578b(PREMIUM-TYPE)\u3001\u5e74\u9f61\u7bc4\u570d(INSURED-AGE-RANGE)\n"
        },
        "METRICS": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Metric"
          },
          "description": "\u6307\u6a19\u9663\u5217\u3002\u6b64\u7dad\u5ea6\u7d44\u5408\u4e0b\u7684\u5404\u9805\u734e\u91d1\u6bd4\u4f8b\u3002\n\u5e38\u898b\u6307\u6a19: SPE(\u7279\u5b9a\u5546\u54c1\u734e\u91d1)\u3001FYP(\u9996\u5e74\u734e\u91d1)\u3001RYP(\u7e8c\u671f\u734e\u91d1)\n"
        }
      }
    },
    "Dimension": {
      "type": "object",
      "description": "\u7dad\u5ea6\u5b9a\u7fa9",
      "properties": {
        "D-KEY": {
          "type": "string",
          "description": "\u7dad\u5ea6\u9375\u540d\u3002\u53ef\u7528\u503c:\n- `PAYMENT-CYCLE`: \u7e73\u8cbb\u671f\u9593\n- `PREMIUM-TYPE`: \u4fdd\u8cbb\u985e\u578b\n- `PREMIUM-RANGE`: \u4fdd\u8cbb\u7bc4\u570d\n- `PREMIUM-RATIO`: \u4fdd\u8cbb\u6bd4\u7387\n- `INSURED-AGE-RANGE`: \u88ab\u4fdd\u4eba\u5e74\u9f61\u7bc4\u570d\n- `WARRANTY-PERIOD`: \u4fdd\u969c\u671f\u9593\n"
        },
        "D-VALUE": {
          "type": "string",
          "description": "\u7dad\u5ea6\u503c\u3002\u7bc4\u4f8b: '10\u5e74\u671f', '0-60', '\u8e89\u7e73'"
        },
        "D-RANK": {
          "type": "integer",
          "description": "\u7dad\u5ea6\u6392\u5e8f\u6b0a\u91cd\uff08\u6578\u503c\u8d8a\u5c0f\u6392\u8d8a\u524d\uff09"
        }
      }
    },
    "Metric": {
      "type": "object",
      "description": "\u6307\u6a19\u5b9a\u7fa9",
      "properties": {
        "M-KEY": {
          "type": "string",
          "description": "\u6307\u6a19\u9375\u540d\u3002\u53ef\u7528\u503c:\n- `SPE`: \u7279\u5b9a\u5546\u54c1\u734e\u91d1 (Special Product Extra)\n- `FYP`: \u9996\u5e74\u734e\u91d1 (First Year Premium)\n- `RYP`: \u7e8c\u671f\u734e\u91d1 (Renewal Year Premium)\n"
        },
        "M-ALIAS": {
          "type": "string",
          "description": "\u6307\u6a19\u4e2d\u6587\u5225\u540d\uff08\u53ef\u9078\uff0c\u7528\u65bc\u8868\u982d\u986f\u793a\uff09\u3002\u7bc4\u4f8b: '\u7279\u5b9a\u5546\u54c1\u734e\u91d1', '\u9996\u5e74\u734e\u91d1'"
        },
        "M-VALUE": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "\u6307\u6a19\u503c\u9663\u5217\u3002\n- SPE / FYP: \u901a\u5e38\u70ba\u55ae\u4e00\u503c\uff0c\u5982 [\"35\"]\n- RYP: \u70ba\u5404\u5e74\u5ea6\u6bd4\u7387\u9663\u5217\uff0c\u5982 [\"15\",\"10\",\"5\",\"3\",\"3\",\"2\",\"2\"]\uff0c\n  \u4f9d\u5e8f\u4ee3\u8868\u7b2c1\u5e74\u3001\u7b2c2\u5e74\u3001...\u7684\u7e8c\u671f\u734e\u91d1\u6bd4\u7387\n"
        }
      }
    },
    "CustomBlock": {
      "type": "object",
      "description": "\u81ea\u8a02\u5340\u584a\u7269\u4ef6\u3002\u6db5\u84cb\u5169\u7a2e\u985e\u578b\uff1a\n- `BONUS-REFERENCE` (type=2): \u652f\u7d66\u8aaa\u660e\uff0c4 \u500b\u6d25\u8cbc\u8cc7\u6599\u5206\u9801\u5171\u7528\n- `BONUS-TERMS` (type=3): \u898f\u7bc4\u689d\u6b3e\uff0c3 \u500b\u5206\u9801\u5404\u81ea\u7368\u7acb\n",
      "properties": {
        "ID": {
          "type": "integer",
          "description": "\u5340\u584a ID"
        },
        "TITLE": {
          "type": "string",
          "description": "\u5340\u584a\u6a19\u984c\u3002\u7bc4\u4f8b: '\u652f\u7d66\u5171\u7528\u8aaa\u660e / \u505c\u552e\u50b3\u7d71', '\u5718\u96aa\u3001\u610f\u5916\u96aa\u3001\u6574\u5408\u884c\u92b7'"
        },
        "TYPE": {
          "type": "string",
          "description": "\u5340\u584a\u985e\u578b\u6a19\u8a18",
          "enum": [
            "BONUS-REFERENCE",
            "BONUS-TERMS"
          ]
        },
        "NOTATIONS": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "\u5099\u8a3b\u9663\u5217\uff08\u76ee\u524d\u9810\u7559\uff0c\u53ef\u6839\u64da\u5f8c\u53f0\u7de8\u8f2f\u60c5\u5883\u81ea\u884c\u64f4\u5145\uff09"
        },
        "EXTRAS": {
          "$ref": "#/definitions/CustomBlockExtras"
        },
        "SECTIONS": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/CustomBlockSection"
          }
        }
      }
    },
    "CustomBlockExtras": {
      "type": "object",
      "description": "\u81ea\u8a02\u5340\u584a\u7684\u984d\u5916\u5c6c\u6027",
      "properties": {
        "REMARKS": {
          "type": "string",
          "description": "\u88dc\u5145\u8aaa\u660e"
        },
        "LAYOUT": {
          "type": "string",
          "description": "\u7248\u9762\u4f4d\u7f6e (\u5982 'BOTTOM')\uff0c\u50c5 BONUS-REFERENCE \u4f7f\u7528"
        },
        "STICKY": {
          "type": "boolean",
          "description": "\u662f\u5426\u56fa\u5b9a\u986f\u793a\uff0c\u50c5 BONUS-REFERENCE \u4f7f\u7528"
        }
      }
    },
    "CustomBlockSection": {
      "type": "object",
      "description": "\u81ea\u8a02\u5340\u584a\u7684\u6bb5\u843d\u5340\u6bb5\u3002\n\u6bcf\u500b SECTION \u4ee3\u8868\u4e00\u500b\u4e3b\u984c\u5206\u7d44\uff08\u5982\u300c\u8aaa\u660e\u300d\u3001\u300c\u9644\u4ef6\u300d\u3001\u300c\u5718\u96aa\u300d\u3001\u300c\u610f\u5916\u96aa\u300d\u7b49\uff09\uff0c\n\u4e0b\u542b MOCKUP.PARAGRAPHS \u9663\u5217\u63cf\u8ff0\u5177\u9ad4\u5167\u5bb9\u9805\u76ee\u3002\n",
      "properties": {
        "ROW_ID": {
          "type": "integer",
          "description": "\u6bb5\u843d\u5e8f\u865f"
        },
        "REF_CODE": {
          "type": "string",
          "description": "\u53c3\u7167\u4ee3\u78bc\uff08\u9810\u7559\u6b04\u4f4d\uff0c\u53ef\u8207\u96aa\u5225\u4ee3\u865f\u95dc\u806f\uff09"
        },
        "TITLE": {
          "type": "string",
          "description": "\u6bb5\u843d\u6a19\u984c\u3002\u7bc4\u4f8b: '\u8aaa\u660e', '\u9644\u4ef6', '\u5718\u96aa', '\u610f\u5916\u96aa'"
        },
        "DISPLAY": {
          "type": "boolean",
          "description": "\u662f\u5426\u986f\u793a\u6b64\u6bb5\u843d"
        },
        "NOTES": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "\u6bb5\u843d\u5099\u8a3b\u9663\u5217\uff08\u9810\u7559\uff0c\u53ef\u64f4\u5145\uff09"
        },
        "MOCKUP": {
          "$ref": "#/definitions/MockupContent"
        }
      }
    },
    "MockupContent": {
      "type": "object",
      "description": "\u6bb5\u843d\u5167\u5bb9\u5bb9\u5668",
      "properties": {
        "PARAGRAPHS": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Paragraph"
          }
        }
      }
    },
    "Paragraph": {
      "type": "object",
      "description": "\u55ae\u4e00\u5167\u5bb9\u9805\u76ee\u3002\u4f9d MEDIA \u985e\u578b\u6c7a\u5b9a CONTENT \u7684\u89e3\u8b80\u65b9\u5f0f\uff1a\n- `TEXT`: CONTENT \u70ba\u7d14\u6587\u5b57\u5167\u5bb9\n- `FILE`: CONTENT \u70ba\u9644\u4ef6 ID\uff08\u53ef\u547c\u53eb\u9644\u4ef6\u4e0b\u8f09 API \u53d6\u5f97\u6a94\u6848\uff09\n- `LINK`: CONTENT \u70ba\u5b8c\u6574 URL\uff08\u524d\u7aef\u4ee5\u8d85\u9023\u7d50\u65b9\u5f0f\u6e32\u67d3\uff09\n",
      "properties": {
        "RANK": {
          "type": "integer",
          "description": "\u6392\u5e8f\u5e8f\u865f\uff08\u6578\u503c\u8d8a\u5c0f\u6392\u8d8a\u524d\uff09"
        },
        "MEDIA": {
          "type": "string",
          "description": "\u5a92\u9ad4\u985e\u578b",
          "enum": [
            "TEXT",
            "FILE",
            "LINK"
          ]
        },
        "NAME": {
          "type": "string",
          "description": "\u9805\u76ee\u540d\u7a31\u3002\n- TEXT \u985e\u578b: \u53ef\u5e36 null \u6216\u56fa\u5b9a\u5b57\u4e32 \"WORDING\"\n- FILE \u985e\u578b: \u9644\u4ef6\u7684\u986f\u793a\u540d\u7a31\uff08\u5982 \"\u7279\u5b9a\u5546\u54c1\u734e\u91d1\u8aaa\u660e\"\uff09\n- LINK \u985e\u578b: \u9023\u7d50\u7684\u986f\u793a\u6587\u5b57\uff08\u5982 \"\u81ea\u7531\u914d\u7cfb\u5217\u652f\u7d66\u8aaa\u660e\"\uff09\n"
        },
        "CONTENT": {
          "type": "string",
          "description": "\u9805\u76ee\u5167\u5bb9\u3002\u4f9d MEDIA \u985e\u578b\u4e0d\u540c\uff1a\n- TEXT: \u6587\u5b57\u5167\u5bb9\uff08\u5982 \"1.\u4ee5\u4e0a\u63db\u7b97\u6a19\u6e96\u5747\u4ee5\u5be6\u6536\u4fdd\u8cbb(\u65b0\u53f0\u5e63)\u8a08\u7b97\u3002\"\uff09\n- FILE: \u9644\u4ef6 ID\uff08\u5982 \"94000457\"\uff09\u6216\u6a94\u540d\uff08\u5982 \"ALLOWANCE_20251225138377777.pdf\"\uff09\n- LINK: \u5b8c\u6574 URL\uff08\u5982 \"https://example.cathaylife.com.tw/docs/...\"\uff09\n"
        }
      }
    },
    "ProductOptionsMap": {
      "type": "object",
      "description": "\u5546\u54c1\u9078\u9805\u56de\u61c9\u3002\u4ee5\u5c6c\u6027\u540d\u7a31\u70ba key\uff0c\u9078\u9805\u9663\u5217\u70ba value \u7684 Map \u7d50\u69cb\u3002\nkey \u70ba\u8acb\u6c42\u6642 Attributes \u53c3\u6578\u4e2d\u6307\u5b9a\u7684\u5c6c\u6027\u540d\u7a31\u3002\n",
      "additionalProperties": {
        "type": "array",
        "items": {
          "$ref": "#/definitions/OptionItem"
        }
      }
    },
    "OptionItem": {
      "type": "object",
      "description": "\u55ae\u4e00\u9078\u9805\u9805\u76ee",
      "properties": {
        "INSURANCE_TYPE": {
          "type": "string",
          "description": "\u9069\u7528\u7684\u4fdd\u96aa\u985e\u578b\u4ee3\u78bc (0=\u901a\u7528, 1=\u50b3\u7d71, 2=\u6295\u8cc7)"
        },
        "ID": {
          "type": "string",
          "description": "\u9078\u9805\u7684\u7cfb\u7d71 ID"
        },
        "label": {
          "type": "string",
          "description": "\u9078\u9805\u7684\u4e2d\u6587\u986f\u793a\u6587\u5b57"
        }
      }
    },
    "BookmarksResponse": {
      "type": "object",
      "description": "\u66f8\u7c64\u56de\u61c9\u5bb9\u5668",
      "properties": {
        "Bookmarks": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Bookmark"
          }
        }
      }
    },
    "Bookmark": {
      "type": "object",
      "description": "\u55ae\u4e00\u66f8\u7c64\u9805\u76ee",
      "properties": {
        "MID": {
          "type": "integer",
          "description": "\u66f8\u7c64 ID"
        },
        "TITLE": {
          "type": "string",
          "description": "\u66f8\u7c64\u6a19\u984c"
        },
        "CATEGORY": {
          "type": "string",
          "description": "\u5206\u985e\u540d\u7a31\uff08\u5982 '\u5546\u54c1', '\u6559\u80b2\u884c\u92b7', '\u6d25\u8cbc'\uff09"
        },
        "TYPE": {
          "type": "integer",
          "description": "\u66f8\u7c64\u985e\u578b\u4ee3\u78bc"
        },
        "URL_STRING": {
          "type": "string",
          "description": "\u76ee\u6a19 URL"
        },
        "SORT_INDEX": {
          "type": "integer",
          "description": "\u6392\u5e8f\u7d22\u5f15\uff08\u540c\u5206\u985e\u5167\u6392\u5e8f\uff09"
        },
        "DATE_CREATED": {
          "type": "string",
          "description": "\u5efa\u7acb\u65e5\u671f (YYYY-MM-DD)"
        },
        "DATE_UPDATES": {
          "type": "string",
          "description": "\u66f4\u65b0\u65e5\u671f (YYYY-MM-DD)"
        },
        "NOTES": {
          "type": "string",
          "description": "\u5099\u8a3b"
        }
      }
    },
    "Attachment": {
      "type": "object",
      "description": "\u9644\u4ef6\u9805\u76ee",
      "properties": {
        "ATTACHMENT_ID": {
          "type": "string",
          "description": "\u9644\u4ef6\u7cfb\u7d71 ID"
        },
        "FILE_NAME": {
          "type": "string",
          "description": "\u539f\u59cb\u6a94\u6848\u540d\u7a31"
        },
        "FILE_SIZE": {
          "type": "integer",
          "description": "\u6a94\u6848\u5927\u5c0f\uff08bytes\uff09"
        },
        "UPLOAD_DATE": {
          "type": "string",
          "description": "\u4e0a\u50b3\u65e5\u671f"
        }
      }
    },
    "UserObject": {
      "type": "object",
      "description": "\u767b\u5165\u7528\u6236\u8cc7\u8a0a\u3002\u7531 eBaf \u6846\u67b6\u7684 Session \u7ba1\u7406\u53d6\u5f97\uff0c\n\u5305\u542b\u54e1\u5de5\u57fa\u672c\u8cc7\u6599\u8207\u89d2\u8272\u6b0a\u9650\u3002\n",
      "properties": {
        "empID": {
          "type": "string",
          "description": "\u54e1\u5de5\u7de8\u865f\u3002\u7bc4\u4f8b: I94001V018"
        },
        "empName": {
          "type": "string",
          "description": "\u54e1\u5de5\u59d3\u540d\u3002\u7bc4\u4f8b: \u6797\u9706\u73c5"
        },
        "divNo": {
          "type": "string",
          "description": "\u55ae\u4f4d\u4ee3\u78bc\u3002\u7bc4\u4f8b: 9400100"
        },
        "divFullName": {
          "type": "string",
          "description": "\u55ae\u4f4d\u5168\u540d\u3002\u7bc4\u4f8b: \u96fb\u5546\u8cc7\u8a0a\u79d1"
        },
        "divShortName": {
          "type": "string",
          "description": "\u55ae\u4f4d\u7c21\u7a31\u3002\u7bc4\u4f8b: \u96fb\u5546\u8cc7\u8a0a\u79d1"
        },
        "compID": {
          "type": "string",
          "description": "\u516c\u53f8\u4ee3\u78bc\u3002\u7bc4\u4f8b: A0"
        },
        "cathayNo": {
          "type": "string",
          "description": "\u570b\u6cf0\u7de8\u865f\uff08\u516c\u53f8\u4ee3\u78bc + \u54e1\u5de5\u7de8\u865f\uff09\u3002\u7bc4\u4f8b: A0I94001V018"
        },
        "roles": {
          "type": "object",
          "description": "\u89d2\u8272\u6e05\u55ae\u3002key \u70ba\u89d2\u8272\u4ee3\u78bc\uff0cvalue \u70ba\u516c\u53f8\u4ee3\u78bc\u3002\n\u7bc4\u4f8b: { \"RLZZ987\": \"A0\" }\n",
          "additionalProperties": {
            "type": "string"
          }
        },
        "cepsnnm": {
          "type": "string",
          "description": "CEPS \u540d\u7a31\uff08\u53ef\u70ba\u7a7a\u5b57\u4e32\uff09"
        }
      }
    }
  }
}