{
  "openapi": "3.0.3",
  "info": {
    "title": "Financial Modeling Prep API",
    "version": "3.0.0",
    "description": "Free stock market API providing financial statements, stock prices, market data, and company information for publicly traded companies.",
    "x-jentic-source-url": "https://site.financialmodelingprep.com/developer/docs",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://financialmodelingprep.com/api/v3"
    }
  ],
  "paths": {
    "/quote/{symbol}": {
      "get": {
        "operationId": "getStockQuote",
        "summary": "Get real-time stock quote",
        "tags": [
          "Quote"
        ],
        "parameters": [
          {
            "name": "symbol",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Stock ticker symbol"
          },
          {
            "name": "apikey",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QuoteResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get real-time stock quote"
      }
    },
    "/quote-short/{symbol}": {
      "get": {
        "operationId": "getStockQuoteShort",
        "summary": "Get short stock quote",
        "tags": [
          "Quote"
        ],
        "parameters": [
          {
            "name": "symbol",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "apikey",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QuoteShortResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get short stock quote"
      }
    },
    "/profile/{symbol}": {
      "get": {
        "operationId": "getCompanyProfile",
        "summary": "Get company profile",
        "tags": [
          "Company Information"
        ],
        "parameters": [
          {
            "name": "symbol",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "apikey",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyProfileResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get company profile"
      }
    },
    "/income-statement/{symbol}": {
      "get": {
        "operationId": "getIncomeStatement",
        "summary": "Get income statement",
        "tags": [
          "Financial Statements"
        ],
        "parameters": [
          {
            "name": "symbol",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "apikey",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "period",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "annual",
                "quarter"
              ],
              "default": "annual"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IncomeStatementResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get income statement"
      }
    },
    "/balance-sheet-statement/{symbol}": {
      "get": {
        "operationId": "getBalanceSheet",
        "summary": "Get balance sheet",
        "tags": [
          "Financial Statements"
        ],
        "parameters": [
          {
            "name": "symbol",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "apikey",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "period",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "annual",
                "quarter"
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BalanceSheetResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get balance sheet"
      }
    },
    "/cash-flow-statement/{symbol}": {
      "get": {
        "operationId": "getCashFlowStatement",
        "summary": "Get cash flow statement",
        "tags": [
          "Financial Statements"
        ],
        "parameters": [
          {
            "name": "symbol",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "apikey",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "period",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "annual",
                "quarter"
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CashFlowResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get cash flow statement"
      }
    },
    "/historical-price-full/{symbol}": {
      "get": {
        "operationId": "getHistoricalPrices",
        "summary": "Get historical daily prices",
        "tags": [
          "Historical Prices"
        ],
        "parameters": [
          {
            "name": "symbol",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "apikey",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "serietype",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "line"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HistoricalPriceResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get historical daily prices"
      }
    },
    "/stock-screener": {
      "get": {
        "operationId": "stockScreener",
        "summary": "Screen stocks by criteria",
        "tags": [
          "Screener"
        ],
        "parameters": [
          {
            "name": "apikey",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "marketCapMoreThan",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "marketCapLowerThan",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "priceMoreThan",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "priceLowerThan",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "volumeMoreThan",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "sector",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "industry",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "exchange",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScreenerResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Screen stocks by criteria"
      }
    },
    "/search": {
      "get": {
        "operationId": "searchCompany",
        "summary": "Search for companies",
        "tags": [
          "Search"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "apikey",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 10
            }
          },
          {
            "name": "exchange",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Search for companies"
      }
    },
    "/key-metrics/{symbol}": {
      "get": {
        "operationId": "getKeyMetrics",
        "summary": "Get financial key metrics",
        "tags": [
          "Financial Metrics"
        ],
        "parameters": [
          {
            "name": "symbol",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "apikey",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "period",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "annual",
                "quarter"
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KeyMetricsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get financial key metrics"
      }
    },
    "/ratios/{symbol}": {
      "get": {
        "operationId": "getFinancialRatios",
        "summary": "Get financial ratios",
        "tags": [
          "Financial Metrics"
        ],
        "parameters": [
          {
            "name": "symbol",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "apikey",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "period",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "annual",
                "quarter"
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RatiosResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get financial ratios"
      }
    },
    "/stock_dividend_calendar": {
      "get": {
        "operationId": "getDividendCalendar",
        "summary": "Get dividend calendar",
        "tags": [
          "Dividends"
        ],
        "parameters": [
          {
            "name": "apikey",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DividendCalendarResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get dividend calendar"
      }
    },
    "/earnings-calendar": {
      "get": {
        "operationId": "getEarningsCalendar",
        "summary": "Get earnings calendar",
        "tags": [
          "Earnings"
        ],
        "parameters": [
          {
            "name": "apikey",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EarningsCalendarResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get earnings calendar"
      }
    },
    "/stock_news": {
      "get": {
        "operationId": "getStockNews",
        "summary": "Get stock news",
        "tags": [
          "News"
        ],
        "parameters": [
          {
            "name": "apikey",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tickers",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 50
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StockNewsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get stock news"
      }
    }
  },
  "components": {
    "schemas": {
      "QuoteResponse": {
        "type": "array",
        "items": {
          "type": "object",
          "properties": {
            "symbol": {
              "type": "string"
            },
            "name": {
              "type": "string"
            },
            "price": {
              "type": "number"
            },
            "changesPercentage": {
              "type": "number"
            },
            "change": {
              "type": "number"
            },
            "dayLow": {
              "type": "number"
            },
            "dayHigh": {
              "type": "number"
            },
            "yearHigh": {
              "type": "number"
            },
            "yearLow": {
              "type": "number"
            },
            "marketCap": {
              "type": "number"
            },
            "priceAvg50": {
              "type": "number"
            },
            "priceAvg200": {
              "type": "number"
            },
            "volume": {
              "type": "integer"
            },
            "avgVolume": {
              "type": "integer"
            },
            "exchange": {
              "type": "string"
            },
            "open": {
              "type": "number"
            },
            "previousClose": {
              "type": "number"
            },
            "eps": {
              "type": "number"
            },
            "pe": {
              "type": "number"
            },
            "earningsAnnouncement": {
              "type": "string"
            },
            "sharesOutstanding": {
              "type": "integer"
            },
            "timestamp": {
              "type": "integer"
            }
          }
        }
      },
      "QuoteShortResponse": {
        "type": "array",
        "items": {
          "type": "object",
          "properties": {
            "symbol": {
              "type": "string"
            },
            "price": {
              "type": "number"
            },
            "volume": {
              "type": "integer"
            }
          }
        }
      },
      "CompanyProfileResponse": {
        "type": "array",
        "items": {
          "type": "object",
          "properties": {
            "symbol": {
              "type": "string"
            },
            "companyName": {
              "type": "string"
            },
            "currency": {
              "type": "string"
            },
            "exchange": {
              "type": "string"
            },
            "exchangeShortName": {
              "type": "string"
            },
            "industry": {
              "type": "string"
            },
            "website": {
              "type": "string"
            },
            "description": {
              "type": "string"
            },
            "ceo": {
              "type": "string"
            },
            "sector": {
              "type": "string"
            },
            "country": {
              "type": "string"
            },
            "fullTimeEmployees": {
              "type": "string"
            },
            "ipoDate": {
              "type": "string"
            },
            "address": {
              "type": "string"
            },
            "city": {
              "type": "string"
            },
            "state": {
              "type": "string"
            },
            "zip": {
              "type": "string"
            },
            "mktCap": {
              "type": "number"
            },
            "image": {
              "type": "string"
            }
          }
        }
      },
      "IncomeStatementResponse": {
        "type": "array",
        "items": {
          "type": "object",
          "properties": {
            "date": {
              "type": "string"
            },
            "symbol": {
              "type": "string"
            },
            "period": {
              "type": "string"
            },
            "revenue": {
              "type": "number"
            },
            "costOfRevenue": {
              "type": "number"
            },
            "grossProfit": {
              "type": "number"
            },
            "operatingExpenses": {
              "type": "number"
            },
            "operatingIncome": {
              "type": "number"
            },
            "netIncome": {
              "type": "number"
            },
            "eps": {
              "type": "number"
            },
            "epsdiluted": {
              "type": "number"
            }
          }
        }
      },
      "BalanceSheetResponse": {
        "type": "array",
        "items": {
          "type": "object",
          "properties": {
            "date": {
              "type": "string"
            },
            "symbol": {
              "type": "string"
            },
            "totalAssets": {
              "type": "number"
            },
            "totalLiabilities": {
              "type": "number"
            },
            "totalStockholdersEquity": {
              "type": "number"
            },
            "totalCurrentAssets": {
              "type": "number"
            },
            "totalCurrentLiabilities": {
              "type": "number"
            },
            "cashAndCashEquivalents": {
              "type": "number"
            }
          }
        }
      },
      "CashFlowResponse": {
        "type": "array",
        "items": {
          "type": "object",
          "properties": {
            "date": {
              "type": "string"
            },
            "symbol": {
              "type": "string"
            },
            "operatingCashFlow": {
              "type": "number"
            },
            "capitalExpenditure": {
              "type": "number"
            },
            "freeCashFlow": {
              "type": "number"
            },
            "dividendsPaid": {
              "type": "number"
            }
          }
        }
      },
      "HistoricalPriceResponse": {
        "type": "object",
        "properties": {
          "symbol": {
            "type": "string"
          },
          "historical": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "date": {
                  "type": "string"
                },
                "open": {
                  "type": "number"
                },
                "high": {
                  "type": "number"
                },
                "low": {
                  "type": "number"
                },
                "close": {
                  "type": "number"
                },
                "adjClose": {
                  "type": "number"
                },
                "volume": {
                  "type": "number"
                },
                "unadjustedVolume": {
                  "type": "number"
                },
                "change": {
                  "type": "number"
                },
                "changePercent": {
                  "type": "number"
                },
                "vwap": {
                  "type": "number"
                }
              }
            }
          }
        }
      },
      "ScreenerResponse": {
        "type": "array",
        "items": {
          "type": "object",
          "properties": {
            "symbol": {
              "type": "string"
            },
            "companyName": {
              "type": "string"
            },
            "marketCap": {
              "type": "number"
            },
            "sector": {
              "type": "string"
            },
            "industry": {
              "type": "string"
            },
            "price": {
              "type": "number"
            },
            "volume": {
              "type": "integer"
            },
            "exchange": {
              "type": "string"
            },
            "exchangeShortName": {
              "type": "string"
            },
            "country": {
              "type": "string"
            }
          }
        }
      },
      "SearchResponse": {
        "type": "array",
        "items": {
          "type": "object",
          "properties": {
            "symbol": {
              "type": "string"
            },
            "name": {
              "type": "string"
            },
            "currency": {
              "type": "string"
            },
            "stockExchange": {
              "type": "string"
            },
            "exchangeShortName": {
              "type": "string"
            }
          }
        }
      },
      "KeyMetricsResponse": {
        "type": "array",
        "items": {
          "type": "object",
          "properties": {
            "date": {
              "type": "string"
            },
            "symbol": {
              "type": "string"
            },
            "revenuePerShare": {
              "type": "number"
            },
            "netIncomePerShare": {
              "type": "number"
            },
            "operatingCashFlowPerShare": {
              "type": "number"
            },
            "freeCashFlowPerShare": {
              "type": "number"
            },
            "peRatio": {
              "type": "number"
            },
            "priceToSalesRatio": {
              "type": "number"
            },
            "pbRatio": {
              "type": "number"
            },
            "debtToEquity": {
              "type": "number"
            },
            "returnOnEquity": {
              "type": "number"
            }
          }
        }
      },
      "RatiosResponse": {
        "type": "array",
        "items": {
          "type": "object",
          "properties": {
            "date": {
              "type": "string"
            },
            "symbol": {
              "type": "string"
            },
            "currentRatio": {
              "type": "number"
            },
            "quickRatio": {
              "type": "number"
            },
            "grossProfitMargin": {
              "type": "number"
            },
            "operatingProfitMargin": {
              "type": "number"
            },
            "netProfitMargin": {
              "type": "number"
            },
            "returnOnAssets": {
              "type": "number"
            },
            "returnOnEquity": {
              "type": "number"
            },
            "debtRatio": {
              "type": "number"
            },
            "debtEquityRatio": {
              "type": "number"
            }
          }
        }
      },
      "DividendCalendarResponse": {
        "type": "array",
        "items": {
          "type": "object",
          "properties": {
            "date": {
              "type": "string"
            },
            "label": {
              "type": "string"
            },
            "symbol": {
              "type": "string"
            },
            "dividend": {
              "type": "number"
            },
            "adjDividend": {
              "type": "number"
            },
            "recordDate": {
              "type": "string"
            },
            "paymentDate": {
              "type": "string"
            },
            "declarationDate": {
              "type": "string"
            }
          }
        }
      },
      "EarningsCalendarResponse": {
        "type": "array",
        "items": {
          "type": "object",
          "properties": {
            "date": {
              "type": "string"
            },
            "symbol": {
              "type": "string"
            },
            "eps": {
              "type": "number",
              "nullable": true
            },
            "epsEstimated": {
              "type": "number",
              "nullable": true
            },
            "revenue": {
              "type": "number",
              "nullable": true
            },
            "revenueEstimated": {
              "type": "number",
              "nullable": true
            }
          }
        }
      },
      "StockNewsResponse": {
        "type": "array",
        "items": {
          "type": "object",
          "properties": {
            "symbol": {
              "type": "string"
            },
            "publishedDate": {
              "type": "string"
            },
            "title": {
              "type": "string"
            },
            "image": {
              "type": "string"
            },
            "site": {
              "type": "string"
            },
            "text": {
              "type": "string"
            },
            "url": {
              "type": "string"
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string"
              },
              "message": {
                "type": "string"
              }
            }
          }
        }
      }
    },
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "query",
        "name": "apikey"
      }
    }
  },
  "security": [
    {
      "apiKey": []
    }
  ],
  "tags": [
    {
      "name": "Company Information"
    },
    {
      "name": "Dividends"
    },
    {
      "name": "Earnings"
    },
    {
      "name": "Financial Metrics"
    },
    {
      "name": "Financial Statements"
    },
    {
      "name": "Historical Prices"
    },
    {
      "name": "News"
    },
    {
      "name": "Quote"
    },
    {
      "name": "Screener"
    },
    {
      "name": "Search"
    }
  ]
}
