{
  "openapi": "3.0.1",
  "info": {
    "title": "Channel 4 API",
    "description": "This is the place to come for all the technical details you need to power your applications with Channel 4's deep programmes data.",
    "termsOfService": "http://developer.channel4.com/page/read/API_Terms_of_Use",
    "contact": {
      "name": "Open C4 Project",
      "url": "http://developer.channel4.com/",
      "email": "developer@channel4.co.uk"
    },
    "license": {
      "name": "Channel 4 API license",
      "url": "http://developer.channel4.com/page/read/API_Terms_of_Use"
    },
    "version": "1.0.0",
    "x-apiClientRegistration": {
      "url": "http://developer.channel4.com/apps/register"
    },
    "x-apisguru-categories": [
      "media"
    ],
    "x-logo": {
      "backgroundColor": "#FFFFFF",
      "url": "https://api.apis.guru/v2/cache/logo/https_twitter_com_Channel4_profile_image.svg"
    },
    "x-origin": [
      {
        "format": "swagger",
        "url": "https://raw.githubusercontent.com/Mermade/openC4/master/c4Api/swagger.json",
        "version": "2.0"
      }
    ],
    "x-providerName": "channel4.com",
    "x-jentic-source-url": "https://api.apis.guru/v2/specs/channel4.com/1.0.0/swagger.json"
  },
  "externalDocs": {
    "description": "Programmes API Guide",
    "url": "http://developer.channel4.com/docs/read/ProgrammesAPIGuide"
  },
  "servers": [
    {
      "url": "http://channel4.com/pmlsd"
    },
    {
      "url": "https://channel4.com/pmlsd"
    }
  ],
  "security": [
    {
      "apikey": []
    }
  ],
  "tags": [
    {
      "name": "discoveryresources",
      "description": "Channel 4 data feeds"
    },
    {
      "name": "metadataresources",
      "description": "Channel 4 metadata"
    }
  ],
  "paths": {
    "/4od/episode-list/date/{yyyy}/{mm}/{dd}.atom": {
      "get": {
        "tags": [
          "discoveryresources"
        ],
        "summary": "4oD Browse by Date Feed",
        "description": "Information of daily broadcast content available on 4oD, according to \n  broadcast date\n\n  http://api.channel4.com/pmlsd/4od/episode-list/date/[yyyy]/[mm]/[dd].atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx\n\n  http://api.channel4.com/pmlsd/4od/episode-list/date/2010/11/28.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx",
        "operationId": "4oD_Browse_by_Date_Feed",
        "parameters": [
          {
            "name": "platform",
            "in": "query",
            "description": "The platform to use for the query. Alias 'client'.",
            "schema": {
              "type": "string",
              "enum": [
                "c4",
                "ps3",
                "yv",
                "ios",
                "fm",
                "p06",
                "ctv",
                "freesat",
                "android",
                "samsung"
              ]
            }
          },
          {
            "name": "yyyy",
            "in": "path",
            "description": "The date for which you wish to see programming information",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "mm",
            "in": "path",
            "description": "The date for which you wish to see programming information",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dd",
            "in": "path",
            "description": "The date for which you wish to see programming information",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Default response",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/atom"
                }
              }
            }
          }
        },
        "x-documentation": "http://developer.channel4.com/docs/read/programmesapiguide/discoveryresources/4oD_Browse_by_Date_Feed"
      }
    },
    "/4od/episode-list/popular.atom": {
      "get": {
        "tags": [
          "discoveryresources"
        ],
        "summary": "4oD Most Popular Episodes Feed",
        "description": "Information of the most popular content available on 4oD, according to user \n  data driven.\n\n  http://api.channel4.com/pmlsd/4od/episode-list/popular.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx\n\n  http://api.channel4.com/pmlsd/4od/episode-list/popular.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx",
        "operationId": "4oD_Most_Popular_Episodes_Feed",
        "parameters": [
          {
            "name": "platform",
            "in": "query",
            "description": "The platform to use for the query. Alias 'client'.",
            "schema": {
              "type": "string",
              "enum": [
                "c4",
                "ps3",
                "yv",
                "ios",
                "fm",
                "p06",
                "ctv",
                "freesat",
                "android",
                "samsung"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Default response",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/atom"
                }
              }
            }
          }
        },
        "x-documentation": "http://developer.channel4.com/docs/read/programmesapiguide/discoveryresources/4oD_Most_Popular_Episodes_Feed"
      }
    },
    "/4od/recently-added/videos.atom": {
      "get": {
        "tags": [
          "discoveryresources"
        ],
        "summary": "4oD Clips Catch Up Feed",
        "description": "A feed containing metadata about short-form content relating to 4oD Episodes \n  recently added to 4oD based on linear transmission. The entries for the \n  Clips Landing Feed contain references to each short-form asset. It will \n  return up to 20 entries.\n\n  http://api.channel4.com/pmlsd/4od/recently-added/videos.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx\n\n  http://api.channel4.com/pmlsd/4od/episode-list/videos.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx",
        "operationId": "4oD_Clips_Catch_Up_Feed",
        "parameters": [
          {
            "name": "platform",
            "in": "query",
            "description": "The platform to use for the query. Alias 'client'.",
            "schema": {
              "type": "string",
              "enum": [
                "c4",
                "ps3",
                "yv",
                "ios",
                "fm",
                "p06",
                "ctv",
                "freesat",
                "android",
                "samsung"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Default response",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/atom"
                }
              }
            }
          }
        },
        "x-documentation": "http://developer.channel4.com/docs/read/programmesapiguide/discoveryresources/4oD_Clips_Catch_Up_Feed"
      }
    },
    "/atoz.atom": {
      "get": {
        "tags": [
          "discoveryresources"
        ],
        "summary": "A to Z Landing Feed",
        "description": "Lists Channel 4 programmes alphabetically from A to Z, providing the same \n  functionality and information as is available in the A to Z section of the \n  Channel 4 Programmes page, http://www.channel4.com/programmes.\n\n  http://api.channel4.com/pmlsd/atoz.atom\n\n  http://api.channel4.com/pmlsd/atoz.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx",
        "operationId": "A_to_Z_Landing_Feed",
        "parameters": [
          {
            "name": "platform",
            "in": "query",
            "description": "The platform to use for the query. Alias 'client'.",
            "schema": {
              "type": "string",
              "enum": [
                "c4",
                "ps3",
                "yv",
                "ios",
                "fm",
                "p06",
                "ctv",
                "freesat",
                "android",
                "samsung"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Default response",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/atom"
                }
              }
            }
          }
        },
        "x-documentation": "http://developer.channel4.com/docs/read/programmesapiguide/DiscoveryResources/A_to_Z_Landing_Feed"
      }
    },
    "/atoz/{start_letter}.atom": {
      "get": {
        "tags": [
          "discoveryresources"
        ],
        "summary": "A to Z Letter Feed",
        "description": "Lists Channel 4 programmes whose names begin with the associated letter.\n\n  http://api.channel4.com/pmlsd/atoz/start_letter.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx\n\n  http://api.channel4.com/pmlsd/atoz/a.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx",
        "operationId": "A_to_Z_Letter_Feed",
        "parameters": [
          {
            "name": "platform",
            "in": "query",
            "description": "The platform to use for the query. Alias 'client'.",
            "schema": {
              "type": "string",
              "enum": [
                "c4",
                "ps3",
                "yv",
                "ios",
                "fm",
                "p06",
                "ctv",
                "freesat",
                "android",
                "samsung"
              ]
            }
          },
          {
            "name": "start_letter",
            "in": "path",
            "description": "The letter of the alphabet for which you seek associated Channel 4 programmes",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Default response",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/atom"
                }
              }
            }
          }
        },
        "x-documentation": "http://developer.channel4.com/docs/read/programmesapiguide/DiscoveryResources/A_to_Z_Letter_Feed"
      }
    },
    "/atoz/{start_letter}/page-{pageno}.atom": {
      "get": {
        "tags": [
          "discoveryresources"
        ],
        "summary": "A to Z Letter Feed(2)",
        "description": "Lists Channel 4 programmes whose names begin with the associated letter.\n\n  http://api.channel4.com/pmlsd/atoz/start_letter/page-{pageno}.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx\n\n  http://api.channel4.com/pmlsd/atoz/a.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx",
        "operationId": "A_to_Z_Letter_Feed(2)",
        "parameters": [
          {
            "name": "platform",
            "in": "query",
            "description": "The platform to use for the query. Alias 'client'.",
            "schema": {
              "type": "string",
              "enum": [
                "c4",
                "ps3",
                "yv",
                "ios",
                "fm",
                "p06",
                "ctv",
                "freesat",
                "android",
                "samsung"
              ]
            }
          },
          {
            "name": "start_letter",
            "in": "path",
            "description": "The letter of the alphabet for which you seek associated Channel 4 programmes",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageno",
            "in": "path",
            "description": "Page number of results to return",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Default response",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/atom"
                }
              }
            }
          }
        },
        "x-documentation": "http://developer.channel4.com/docs/read/programmesapiguide/DiscoveryResources/A_to_Z_Letter_Feed"
      }
    },
    "/brands/4od.atom": {
      "get": {
        "tags": [
          "discoveryresources"
        ],
        "summary": "4oD Title All Brands Feed",
        "description": "Lists all Channel 4 programmes available on 4oD.\u00a0 By default, the programmes \n  are listed by title in alphabetical order (case unsensitive).\n\n  http://api.channel4.com/pmlsd/brands/4od.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx\n\n  http://api.channel4.com/pmlsd/brands/4od.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx",
        "operationId": "4oD_Title_All_Brands_Feed",
        "parameters": [
          {
            "name": "platform",
            "in": "query",
            "description": "The platform to use for the query. Alias 'client'.",
            "schema": {
              "type": "string",
              "enum": [
                "c4",
                "ps3",
                "yv",
                "ios",
                "fm",
                "p06",
                "ctv",
                "freesat",
                "android",
                "samsung"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Default response",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/atom"
                }
              }
            }
          }
        },
        "x-documentation": "http://developer.channel4.com/docs/read/programmesapiguide/discoveryresources/4oD_Title_All_Brands_Feed"
      }
    },
    "/brands/4od/page-{pageno}.atom": {
      "get": {
        "tags": [
          "discoveryresources"
        ],
        "summary": "4oD Title All Brands Feed(2)",
        "description": "Lists all Channel 4 programmes available on 4oD.\u00a0 By default, the programmes \n  are listed by title in alphabetical order (case unsensitive).\n\n  http://api.channel4.com/pmlsd/brands/4od/page-{pageno}.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx\n\n  http://api.channel4.com/pmlsd/brands/4od.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx",
        "operationId": "4oD_Title_All_Brands_Feed(2)",
        "parameters": [
          {
            "name": "platform",
            "in": "query",
            "description": "The platform to use for the query. Alias 'client'.",
            "schema": {
              "type": "string",
              "enum": [
                "c4",
                "ps3",
                "yv",
                "ios",
                "fm",
                "p06",
                "ctv",
                "freesat",
                "android",
                "samsung"
              ]
            }
          },
          {
            "name": "pageno",
            "in": "path",
            "description": "Page number of results to return",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Default response",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/atom"
                }
              }
            }
          }
        },
        "x-documentation": "http://developer.channel4.com/docs/read/programmesapiguide/discoveryresources/4oD_Title_All_Brands_Feed"
      }
    },
    "/brands/4od/popular.atom": {
      "get": {
        "tags": [
          "discoveryresources"
        ],
        "summary": "4oD Popular All Brands Feed",
        "description": "Lists all Channel 4 programmes available on 4oD by popularity considering \n  the data gathered within the last 7 days.\n\n  http://api.channel4.com/pmlsd/brands/4od/popular.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx\n\n  http://api.channel4.com/pmlsd/brands/4od/popular.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx",
        "operationId": "4oD_Popular_All_Brands_Feed",
        "parameters": [
          {
            "name": "platform",
            "in": "query",
            "description": "The platform to use for the query. Alias 'client'.",
            "schema": {
              "type": "string",
              "enum": [
                "c4",
                "ps3",
                "yv",
                "ios",
                "fm",
                "p06",
                "ctv",
                "freesat",
                "android",
                "samsung"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Default response",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/atom"
                }
              }
            }
          }
        },
        "x-documentation": "http://developer.channel4.com/docs/read/programmesapiguide/discoveryresources/4oD_Popular_All_Brands_Feed"
      }
    },
    "/brands/4od/popular/page-{pageno}.atom": {
      "get": {
        "tags": [
          "discoveryresources"
        ],
        "summary": "4oD Popular All Brands Feed(2)",
        "description": "Lists all Channel 4 programmes available on 4oD by popularity considering \n  the data gathered within the last 7 days.\n\n  http://api.channel4.com/pmlsd/brands/4od/popular/page-{pageno}.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx\n\n  http://api.channel4.com/pmlsd/brands/4od/popular.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx",
        "operationId": "4oD_Popular_All_Brands_Feed(2)",
        "parameters": [
          {
            "name": "platform",
            "in": "query",
            "description": "The platform to use for the query. Alias 'client'.",
            "schema": {
              "type": "string",
              "enum": [
                "c4",
                "ps3",
                "yv",
                "ios",
                "fm",
                "p06",
                "ctv",
                "freesat",
                "android",
                "samsung"
              ]
            }
          },
          {
            "name": "pageno",
            "in": "path",
            "description": "Page number of results to return",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Default response",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/atom"
                }
              }
            }
          }
        },
        "x-documentation": "http://developer.channel4.com/docs/read/programmesapiguide/discoveryresources/4oD_Popular_All_Brands_Feed"
      }
    },
    "/brands/popular.atom": {
      "get": {
        "tags": [
          "discoveryresources"
        ],
        "summary": "Popular Brands Feed",
        "description": "Lists all Channel 4 programmes by popularity considering the data gathered \n  within the last 7 days.\n\n  http://api.channel4.com/pmlsd/brands/popular.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx\n\n  http://api.channel4.com/pmlsd/brands/popular.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx",
        "operationId": "Popular_Brands_Feed",
        "parameters": [
          {
            "name": "platform",
            "in": "query",
            "description": "The platform to use for the query. Alias 'client'.",
            "schema": {
              "type": "string",
              "enum": [
                "c4",
                "ps3",
                "yv",
                "ios",
                "fm",
                "p06",
                "ctv",
                "freesat",
                "android",
                "samsung"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Default response",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/atom"
                }
              }
            }
          }
        },
        "x-documentation": "http://developer.channel4.com/docs/read/programmesapiguide/discoveryresources/Popular_Brands_Feed"
      }
    },
    "/brands/popular/page-{pageno}.atom": {
      "get": {
        "tags": [
          "discoveryresources"
        ],
        "summary": "Popular Brands Feed(2)",
        "description": "Lists all Channel 4 programmes by popularity considering the data gathered \n  within the last 7 days.\n\n  http://api.channel4.com/pmlsd/brands/popular/page-{pageno}.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx\n\n  http://api.channel4.com/pmlsd/brands/popular.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx",
        "operationId": "Popular_Brands_Feed(2)",
        "parameters": [
          {
            "name": "platform",
            "in": "query",
            "description": "The platform to use for the query. Alias 'client'.",
            "schema": {
              "type": "string",
              "enum": [
                "c4",
                "ps3",
                "yv",
                "ios",
                "fm",
                "p06",
                "ctv",
                "freesat",
                "android",
                "samsung"
              ]
            }
          },
          {
            "name": "pageno",
            "in": "path",
            "description": "Page number of results to return",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Default response",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/atom"
                }
              }
            }
          }
        },
        "x-documentation": "http://developer.channel4.com/docs/read/programmesapiguide/discoveryresources/Popular_Brands_Feed"
      }
    },
    "/categories.atom": {
      "get": {
        "tags": [
          "discoveryresources"
        ],
        "summary": "Categories Landing Feed",
        "description": "Lists Channel 4 programmes by category (/ tag).\n\n  http://api.channel4.com/pmlsd/categories.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx\n\n  http://api.channel4.com/pmlsd/categories.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx",
        "operationId": "Categories_Landing_Feed",
        "parameters": [
          {
            "name": "platform",
            "in": "query",
            "description": "The platform to use for the query. Alias 'client'.",
            "schema": {
              "type": "string",
              "enum": [
                "c4",
                "ps3",
                "yv",
                "ios",
                "fm",
                "p06",
                "ctv",
                "freesat",
                "android",
                "samsung"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Default response",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/atom"
                }
              }
            }
          }
        },
        "x-documentation": "http://developer.channel4.com/docs/read/programmesapiguide/discoveryresources/Categories_Landing_Feed"
      }
    },
    "/categories/{category}.atom": {
      "get": {
        "tags": [
          "discoveryresources"
        ],
        "summary": "All Programmes by TX Date",
        "description": "Lists all Channel 4 programmes associated with the specified category (tag).\u00a0 \n  By default, the programmes are listed in order of Transmission (TX) Date, \n  with the most-recently-transmitted programmes listed first.\n\n  http://api.channel4.com/pmlsd/categories/category.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx\n\n  http://api.channel4.com/pmlsd/categories/animals.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx",
        "operationId": "All_Programmes_by_TX_Date",
        "parameters": [
          {
            "name": "platform",
            "in": "query",
            "description": "The platform to use for the query. Alias 'client'.",
            "schema": {
              "type": "string",
              "enum": [
                "c4",
                "ps3",
                "yv",
                "ios",
                "fm",
                "p06",
                "ctv",
                "freesat",
                "android",
                "samsung"
              ]
            }
          },
          {
            "name": "category",
            "in": "path",
            "description": "The name of the category for which you seek associated Channel 4 programmes. (For a full list of categories, please see http://api.channel4.com/pmlsd/categories.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx)",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Default response",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/atom"
                }
              }
            }
          }
        },
        "x-documentation": "http://developer.channel4.com/docs/read/programmesapiguide/discoveryresources/All_Programmes_by_TX_Date"
      }
    },
    "/categories/{category}/4od.atom": {
      "get": {
        "tags": [
          "discoveryresources"
        ],
        "summary": "4oD Programmes by TX Date",
        "description": "Lists all Channel 4oD programmes associated with the specified category \n  (tag).By default, the\u00a0programmes are listed in order of Transmission (TX) \n  Date, with the most-recently-transmitted programmes listed first.\n\n  http://api.channel4.com/pmlsd/categories/category/4od.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx\n\n  http://api.channel4.com/pmlsd/categories/animals/4oD.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx",
        "operationId": "4oD_Programmes_by_TX_Date",
        "parameters": [
          {
            "name": "platform",
            "in": "query",
            "description": "The platform to use for the query. Alias 'client'.",
            "schema": {
              "type": "string",
              "enum": [
                "c4",
                "ps3",
                "yv",
                "ios",
                "fm",
                "p06",
                "ctv",
                "freesat",
                "android",
                "samsung"
              ]
            }
          },
          {
            "name": "category",
            "in": "path",
            "description": "The name of the category for which you seek associated Channel 4 programmes. (For a full list of categories, please see http://api.channel4.com/pmlsd/categories.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx)",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Default response",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/atom"
                }
              }
            }
          }
        },
        "x-documentation": "http://developer.channel4.com/docs/read/programmesapiguide/discoveryresources/4oD_Programmes_by_TX_Date"
      }
    },
    "/categories/{category}/4od/page-{pageno}.atom": {
      "get": {
        "tags": [
          "discoveryresources"
        ],
        "summary": "4oD Programmes by TX Date(4)",
        "description": "Lists all Channel 4oD programmes associated with the specified category \n  (tag).By default, the\u00a0programmes are listed in order of Transmission (TX) \n  Date, with the most-recently-transmitted programmes listed first.\n\n  http://api.channel4.com/pmlsd/categories/category/4od/page-{pageno}.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx\n\n  http://api.channel4.com/pmlsd/categories/animals/4oD.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx",
        "operationId": "4oD_Programmes_by_TX_Date(4)",
        "parameters": [
          {
            "name": "platform",
            "in": "query",
            "description": "The platform to use for the query. Alias 'client'.",
            "schema": {
              "type": "string",
              "enum": [
                "c4",
                "ps3",
                "yv",
                "ios",
                "fm",
                "p06",
                "ctv",
                "freesat",
                "android",
                "samsung"
              ]
            }
          },
          {
            "name": "category",
            "in": "path",
            "description": "The name of the category for which you seek associated Channel 4 programmes. (For a full list of categories, please see http://api.channel4.com/pmlsd/categories.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageno",
            "in": "path",
            "description": "Page number of results to return",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Default response",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/atom"
                }
              }
            }
          }
        },
        "x-documentation": "http://developer.channel4.com/docs/read/programmesapiguide/discoveryresources/4oD_Programmes_by_TX_Date"
      }
    },
    "/categories/{category}/4od/popular.atom": {
      "get": {
        "tags": [
          "discoveryresources"
        ],
        "summary": "Most Popular Brands Feed",
        "description": "Lists all Channel 4oD most popular brands for the given category within the \n  last 7 days, in order of popularity.\n\n  http://api.channel4.com/pmlsd/categories/category/4od/popular.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx\n\n  http://api.channel4.com/pmlsd/categories/comedy/4od/popular.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx",
        "operationId": "Most_Popular_Brands_Feed",
        "parameters": [
          {
            "name": "platform",
            "in": "query",
            "description": "The platform to use for the query. Alias 'client'.",
            "schema": {
              "type": "string",
              "enum": [
                "c4",
                "ps3",
                "yv",
                "ios",
                "fm",
                "p06",
                "ctv",
                "freesat",
                "android",
                "samsung"
              ]
            }
          },
          {
            "name": "category",
            "in": "path",
            "description": "The name of the category for which you seek associated Channel 4 programmes. (For a full list of categories, please see http://api.channel4.com/pmlsd/categories.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx)",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Default response",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/atom"
                }
              }
            }
          }
        },
        "x-documentation": "http://developer.channel4.com/docs/read/programmesapiguide/discoveryresources/Most_Popular_Brands_Feed"
      }
    },
    "/categories/{category}/4od/popular/page-{pageno}.atom": {
      "get": {
        "tags": [
          "discoveryresources"
        ],
        "summary": "Most Popular Brands Feed(5)",
        "description": "Lists all Channel 4oD most popular brands for the given category within the \n  last 7 days, in order of popularity.\n\n  http://api.channel4.com/pmlsd/categories/category/4od/popular/page-{pageno}.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx\n\n  http://api.channel4.com/pmlsd/categories/comedy/4od/popular.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx",
        "operationId": "Most_Popular_Brands_Feed(5)",
        "parameters": [
          {
            "name": "platform",
            "in": "query",
            "description": "The platform to use for the query. Alias 'client'.",
            "schema": {
              "type": "string",
              "enum": [
                "c4",
                "ps3",
                "yv",
                "ios",
                "fm",
                "p06",
                "ctv",
                "freesat",
                "android",
                "samsung"
              ]
            }
          },
          {
            "name": "category",
            "in": "path",
            "description": "The name of the category for which you seek associated Channel 4 programmes. (For a full list of categories, please see http://api.channel4.com/pmlsd/categories.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageno",
            "in": "path",
            "description": "Page number of results to return",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Default response",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/atom"
                }
              }
            }
          }
        },
        "x-documentation": "http://developer.channel4.com/docs/read/programmesapiguide/discoveryresources/Most_Popular_Brands_Feed"
      }
    },
    "/categories/{category}/4od/title.atom": {
      "get": {
        "tags": [
          "discoveryresources"
        ],
        "summary": "4oD Programmes by Title",
        "description": "Lists all Channel 4oD programmes associated with the specified category \n  (tag), alphanumerically in order of Title.\n\n  http://api.channel4.com/pmlsd/categories/category/4od/title.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx\n\n  http://api.channel4.com/pmlsd/categories/religion-and-belief/4oD/title.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx",
        "operationId": "4oD_Programmes_by_Title",
        "parameters": [
          {
            "name": "platform",
            "in": "query",
            "description": "The platform to use for the query. Alias 'client'.",
            "schema": {
              "type": "string",
              "enum": [
                "c4",
                "ps3",
                "yv",
                "ios",
                "fm",
                "p06",
                "ctv",
                "freesat",
                "android",
                "samsung"
              ]
            }
          },
          {
            "name": "category",
            "in": "path",
            "description": "The name of the category for which you seek associated Channel 4 programmes. (For a full list of categories, please see http://api.channel4.com/pmlsd/categories.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx)",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Default response",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/atom"
                }
              }
            }
          }
        },
        "x-documentation": "http://developer.channel4.com/docs/read/programmesapiguide/discoveryresources/4oD_Programmes_by_Title"
      }
    },
    "/categories/{category}/4od/title/page-{pageno}.atom": {
      "get": {
        "tags": [
          "discoveryresources"
        ],
        "summary": "4oD Programmes by Title(4)",
        "description": "Lists all Channel 4oD programmes associated with the specified category \n  (tag), alphanumerically in order of Title.\n\n  http://api.channel4.com/pmlsd/categories/category/4od/title/page-{pageno}.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx\n\n  http://api.channel4.com/pmlsd/categories/religion-and-belief/4oD/title.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx",
        "operationId": "4oD_Programmes_by_Title(4)",
        "parameters": [
          {
            "name": "platform",
            "in": "query",
            "description": "The platform to use for the query. Alias 'client'.",
            "schema": {
              "type": "string",
              "enum": [
                "c4",
                "ps3",
                "yv",
                "ios",
                "fm",
                "p06",
                "ctv",
                "freesat",
                "android",
                "samsung"
              ]
            }
          },
          {
            "name": "category",
            "in": "path",
            "description": "The name of the category for which you seek associated Channel 4 programmes. (For a full list of categories, please see http://api.channel4.com/pmlsd/categories.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageno",
            "in": "path",
            "description": "Page number of results to return",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Default response",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/atom"
                }
              }
            }
          }
        },
        "x-documentation": "http://developer.channel4.com/docs/read/programmesapiguide/discoveryresources/4oD_Programmes_by_Title"
      }
    },
    "/categories/{category}/channel/{channel}.atom": {
      "get": {
        "tags": [
          "discoveryresources"
        ],
        "summary": "All Programmes by TX Date(2)",
        "description": "Lists all Channel 4 programmes associated with the specified category (tag).\u00a0 \n  By default, the programmes are listed in order of Transmission (TX) Date, \n  with the most-recently-transmitted programmes listed first.\n\n  http://api.channel4.com/pmlsd/categories/category/channel/[channel].atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx\n\n  http://api.channel4.com/pmlsd/categories/animals.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx",
        "operationId": "All_Programmes_by_TX_Date(2)",
        "parameters": [
          {
            "name": "platform",
            "in": "query",
            "description": "The platform to use for the query. Alias 'client'.",
            "schema": {
              "type": "string",
              "enum": [
                "c4",
                "ps3",
                "yv",
                "ios",
                "fm",
                "p06",
                "ctv",
                "freesat",
                "android",
                "samsung"
              ]
            }
          },
          {
            "name": "category",
            "in": "path",
            "description": "The name of the category for which you seek associated Channel 4 programmes. (For a full list of categories, please see http://api.channel4.com/pmlsd/categories.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "channel",
            "in": "path",
            "description": "The name of the channel for which you seek associated Channel 4oD programmes",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "c4",
                "f4",
                "e4",
                "m4",
                "4m",
                "4s"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Default response",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/atom"
                }
              }
            }
          }
        },
        "x-documentation": "http://developer.channel4.com/docs/read/programmesapiguide/discoveryresources/All_Programmes_by_TX_Date"
      }
    },
    "/categories/{category}/channel/{channel}/4od.atom": {
      "get": {
        "tags": [
          "discoveryresources"
        ],
        "summary": "4oD Programmes by TX Date(2)",
        "description": "Lists all Channel 4oD programmes associated with the specified category \n  (tag).By default, the\u00a0programmes are listed in order of Transmission (TX) \n  Date, with the most-recently-transmitted programmes listed first.\n\n  http://api.channel4.com/pmlsd/categories/category/channel/[channel]/4od.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx\n\n  http://api.channel4.com/pmlsd/categories/animals/4oD.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx",
        "operationId": "4oD_Programmes_by_TX_Date(2)",
        "parameters": [
          {
            "name": "platform",
            "in": "query",
            "description": "The platform to use for the query. Alias 'client'.",
            "schema": {
              "type": "string",
              "enum": [
                "c4",
                "ps3",
                "yv",
                "ios",
                "fm",
                "p06",
                "ctv",
                "freesat",
                "android",
                "samsung"
              ]
            }
          },
          {
            "name": "category",
            "in": "path",
            "description": "The name of the category for which you seek associated Channel 4 programmes. (For a full list of categories, please see http://api.channel4.com/pmlsd/categories.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "channel",
            "in": "path",
            "description": "The name of the channel for which you seek associated Channel 4oD programmes",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "c4",
                "f4",
                "e4",
                "m4",
                "4m",
                "4s"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Default response",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/atom"
                }
              }
            }
          }
        },
        "x-documentation": "http://developer.channel4.com/docs/read/programmesapiguide/discoveryresources/4oD_Programmes_by_TX_Date"
      }
    },
    "/categories/{category}/channel/{channel}/4od/page-{pageno}.atom": {
      "get": {
        "tags": [
          "discoveryresources"
        ],
        "summary": "4oD Programmes by TX Date(5)",
        "description": "Lists all Channel 4oD programmes associated with the specified category \n  (tag).By default, the\u00a0programmes are listed in order of Transmission (TX) \n  Date, with the most-recently-transmitted programmes listed first.\n\n  http://api.channel4.com/pmlsd/categories/category/channel/[channel]/4od/page-{pageno}.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx\n\n  http://api.channel4.com/pmlsd/categories/animals/4oD.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx",
        "operationId": "4oD_Programmes_by_TX_Date(5)",
        "parameters": [
          {
            "name": "platform",
            "in": "query",
            "description": "The platform to use for the query. Alias 'client'.",
            "schema": {
              "type": "string",
              "enum": [
                "c4",
                "ps3",
                "yv",
                "ios",
                "fm",
                "p06",
                "ctv",
                "freesat",
                "android",
                "samsung"
              ]
            }
          },
          {
            "name": "category",
            "in": "path",
            "description": "The name of the category for which you seek associated Channel 4 programmes. (For a full list of categories, please see http://api.channel4.com/pmlsd/categories.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "channel",
            "in": "path",
            "description": "The name of the channel for which you seek associated Channel 4oD programmes",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "c4",
                "f4",
                "e4",
                "m4",
                "4m",
                "4s"
              ]
            }
          },
          {
            "name": "pageno",
            "in": "path",
            "description": "Page number of results to return",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Default response",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/atom"
                }
              }
            }
          }
        },
        "x-documentation": "http://developer.channel4.com/docs/read/programmesapiguide/discoveryresources/4oD_Programmes_by_TX_Date"
      }
    },
    "/categories/{category}/channel/{channel}/4od/popular.atom": {
      "get": {
        "tags": [
          "discoveryresources"
        ],
        "summary": "Most Popular Brands Feed(3)",
        "description": "Lists all Channel 4oD most popular brands for the given category within the \n  last 7 days, in order of popularity.\n\n  http://api.channel4.com/pmlsd/categories/category/channel/[channel]/4od/popular.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx\n\n  http://api.channel4.com/pmlsd/categories/comedy/4od/popular.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx",
        "operationId": "Most_Popular_Brands_Feed(3)",
        "parameters": [
          {
            "name": "platform",
            "in": "query",
            "description": "The platform to use for the query. Alias 'client'.",
            "schema": {
              "type": "string",
              "enum": [
                "c4",
                "ps3",
                "yv",
                "ios",
                "fm",
                "p06",
                "ctv",
                "freesat",
                "android",
                "samsung"
              ]
            }
          },
          {
            "name": "category",
            "in": "path",
            "description": "The name of the category for which you seek associated Channel 4 programmes. (For a full list of categories, please see http://api.channel4.com/pmlsd/categories.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "channel",
            "in": "path",
            "description": "The name of the channel for which you seek associated Channel 4oD programmes",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "c4",
                "f4",
                "e4",
                "m4",
                "4m",
                "4s"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Default response",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/atom"
                }
              }
            }
          }
        },
        "x-documentation": "http://developer.channel4.com/docs/read/programmesapiguide/discoveryresources/Most_Popular_Brands_Feed"
      }
    },
    "/categories/{category}/channel/{channel}/4od/popular/page-{pageno}.atom": {
      "get": {
        "tags": [
          "discoveryresources"
        ],
        "summary": "Most Popular Brands Feed(7)",
        "description": "Lists all Channel 4oD most popular brands for the given category within the \n  last 7 days, in order of popularity.\n\n  http://api.channel4.com/pmlsd/categories/category/channel/[channel]/4od/popular/page-{pageno}.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx\n\n  http://api.channel4.com/pmlsd/categories/comedy/4od/popular.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx",
        "operationId": "Most_Popular_Brands_Feed(7)",
        "parameters": [
          {
            "name": "platform",
            "in": "query",
            "description": "The platform to use for the query. Alias 'client'.",
            "schema": {
              "type": "string",
              "enum": [
                "c4",
                "ps3",
                "yv",
                "ios",
                "fm",
                "p06",
                "ctv",
                "freesat",
                "android",
                "samsung"
              ]
            }
          },
          {
            "name": "category",
            "in": "path",
            "description": "The name of the category for which you seek associated Channel 4 programmes. (For a full list of categories, please see http://api.channel4.com/pmlsd/categories.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "channel",
            "in": "path",
            "description": "The name of the channel for which you seek associated Channel 4oD programmes",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "c4",
                "f4",
                "e4",
                "m4",
                "4m",
                "4s"
              ]
            }
          },
          {
            "name": "pageno",
            "in": "path",
            "description": "Page number of results to return",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Default response",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/atom"
                }
              }
            }
          }
        },
        "x-documentation": "http://developer.channel4.com/docs/read/programmesapiguide/discoveryresources/Most_Popular_Brands_Feed"
      }
    },
    "/categories/{category}/channel/{channel}/4od/title.atom": {
      "get": {
        "tags": [
          "discoveryresources"
        ],
        "summary": "4oD Programmes by Title(2)",
        "description": "Lists all Channel 4oD programmes associated with the specified category \n  (tag), alphanumerically in order of Title.\n\n  http://api.channel4.com/pmlsd/categories/category/channel/[channel]/4od/title.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx\n\n  http://api.channel4.com/pmlsd/categories/religion-and-belief/4oD/title.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx",
        "operationId": "4oD_Programmes_by_Title(2)",
        "parameters": [
          {
            "name": "platform",
            "in": "query",
            "description": "The platform to use for the query. Alias 'client'.",
            "schema": {
              "type": "string",
              "enum": [
                "c4",
                "ps3",
                "yv",
                "ios",
                "fm",
                "p06",
                "ctv",
                "freesat",
                "android",
                "samsung"
              ]
            }
          },
          {
            "name": "category",
            "in": "path",
            "description": "The name of the category for which you seek associated Channel 4 programmes. (For a full list of categories, please see http://api.channel4.com/pmlsd/categories.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "channel",
            "in": "path",
            "description": "The name of the channel for which you seek associated Channel 4oD programmes",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "c4",
                "f4",
                "e4",
                "m4",
                "4m",
                "4s"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Default response",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/atom"
                }
              }
            }
          }
        },
        "x-documentation": "http://developer.channel4.com/docs/read/programmesapiguide/discoveryresources/4oD_Programmes_by_Title"
      }
    },
    "/categories/{category}/channel/{channel}/4od/title/page-{pageno}.atom": {
      "get": {
        "tags": [
          "discoveryresources"
        ],
        "summary": "4oD Programmes by Title(5)",
        "description": "Lists all Channel 4oD programmes associated with the specified category \n  (tag), alphanumerically in order of Title.\n\n  http://api.channel4.com/pmlsd/categories/category/channel/[channel]/4od/title/page-{pageno}.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx\n\n  http://api.channel4.com/pmlsd/categories/religion-and-belief/4oD/title.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx",
        "operationId": "4oD_Programmes_by_Title(5)",
        "parameters": [
          {
            "name": "platform",
            "in": "query",
            "description": "The platform to use for the query. Alias 'client'.",
            "schema": {
              "type": "string",
              "enum": [
                "c4",
                "ps3",
                "yv",
                "ios",
                "fm",
                "p06",
                "ctv",
                "freesat",
                "android",
                "samsung"
              ]
            }
          },
          {
            "name": "category",
            "in": "path",
            "description": "The name of the category for which you seek associated Channel 4 programmes. (For a full list of categories, please see http://api.channel4.com/pmlsd/categories.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "channel",
            "in": "path",
            "description": "The name of the channel for which you seek associated Channel 4oD programmes",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "c4",
                "f4",
                "e4",
                "m4",
                "4m",
                "4s"
              ]
            }
          },
          {
            "name": "pageno",
            "in": "path",
            "description": "Page number of results to return",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Default response",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/atom"
                }
              }
            }
          }
        },
        "x-documentation": "http://developer.channel4.com/docs/read/programmesapiguide/discoveryresources/4oD_Programmes_by_Title"
      }
    },
    "/categories/{category}/channel/{channel}/page-{pageno}.atom": {
      "get": {
        "tags": [
          "discoveryresources"
        ],
        "summary": "All Programmes by TX Date(5)",
        "description": "Lists all Channel 4 programmes associated with the specified category (tag).\u00a0 \n  By default, the programmes are listed in order of Transmission (TX) Date, \n  with the most-recently-transmitted programmes listed first.\n\n  http://api.channel4.com/pmlsd/categories/category/channel/[channel]/page-{pageno}.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx\n\n  http://api.channel4.com/pmlsd/categories/animals.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx",
        "operationId": "All_Programmes_by_TX_Date(5)",
        "parameters": [
          {
            "name": "platform",
            "in": "query",
            "description": "The platform to use for the query. Alias 'client'.",
            "schema": {
              "type": "string",
              "enum": [
                "c4",
                "ps3",
                "yv",
                "ios",
                "fm",
                "p06",
                "ctv",
                "freesat",
                "android",
                "samsung"
              ]
            }
          },
          {
            "name": "category",
            "in": "path",
            "description": "The name of the category for which you seek associated Channel 4 programmes. (For a full list of categories, please see http://api.channel4.com/pmlsd/categories.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "channel",
            "in": "path",
            "description": "The name of the channel for which you seek associated Channel 4oD programmes",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "c4",
                "f4",
                "e4",
                "m4",
                "4m",
                "4s"
              ]
            }
          },
          {
            "name": "pageno",
            "in": "path",
            "description": "Page number of results to return",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Default response",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/atom"
                }
              }
            }
          }
        },
        "x-documentation": "http://developer.channel4.com/docs/read/programmesapiguide/discoveryresources/All_Programmes_by_TX_Date"
      }
    },
    "/categories/{category}/channel/{channel}/title.atom": {
      "get": {
        "tags": [
          "discoveryresources"
        ],
        "summary": "All Programmes by Title(2)",
        "description": "Lists all Channel 4 programmes associated with the specified category (tag), \n  alphanumerically in order of Title.\n\n  http://api.channel4.com/pmlsd/categories/category/channel/[channel]/title.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx\n\n  http://api.channel4.com/pmlsd/categories/history/title.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx",
        "operationId": "All_Programmes_by_Title(2)",
        "parameters": [
          {
            "name": "platform",
            "in": "query",
            "description": "The platform to use for the query. Alias 'client'.",
            "schema": {
              "type": "string",
              "enum": [
                "c4",
                "ps3",
                "yv",
                "ios",
                "fm",
                "p06",
                "ctv",
                "freesat",
                "android",
                "samsung"
              ]
            }
          },
          {
            "name": "category",
            "in": "path",
            "description": "The name of the category for which you seek associated Channel 4 programmes. (For a full list of categories, please see http://api.channel4.com/pmlsd/categories.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "channel",
            "in": "path",
            "description": "The name of the channel for which you seek associated Channel 4oD programmes",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "c4",
                "f4",
                "e4",
                "m4",
                "4m",
                "4s"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Default response",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/atom"
                }
              }
            }
          }
        },
        "x-documentation": "http://developer.channel4.com/docs/read/programmesapiguide/discoveryresources/All_Programmes_by_Title"
      }
    },
    "/categories/{category}/channel/{channel}/title/page-{pageno}.atom": {
      "get": {
        "tags": [
          "discoveryresources"
        ],
        "summary": "All Programmes by Title(5)",
        "description": "Lists all Channel 4 programmes associated with the specified category (tag), \n  alphanumerically in order of Title.\n\n  http://api.channel4.com/pmlsd/categories/category/channel/[channel]/title/page-{pageno}.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx\n\n  http://api.channel4.com/pmlsd/categories/history/title.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx",
        "operationId": "All_Programmes_by_Title(5)",
        "parameters": [
          {
            "name": "platform",
            "in": "query",
            "description": "The platform to use for the query. Alias 'client'.",
            "schema": {
              "type": "string",
              "enum": [
                "c4",
                "ps3",
                "yv",
                "ios",
                "fm",
                "p06",
                "ctv",
                "freesat",
                "android",
                "samsung"
              ]
            }
          },
          {
            "name": "category",
            "in": "path",
            "description": "The name of the category for which you seek associated Channel 4 programmes. (For a full list of categories, please see http://api.channel4.com/pmlsd/categories.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "channel",
            "in": "path",
            "description": "The name of the channel for which you seek associated Channel 4oD programmes",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "c4",
                "f4",
                "e4",
                "m4",
                "4m",
                "4s"
              ]
            }
          },
          {
            "name": "pageno",
            "in": "path",
            "description": "Page number of results to return",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Default response",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/atom"
                }
              }
            }
          }
        },
        "x-documentation": "http://developer.channel4.com/docs/read/programmesapiguide/discoveryresources/All_Programmes_by_Title"
      }
    },
    "/categories/{category}/derived/ad.atom": {
      "get": {
        "tags": [
          "discoveryresources"
        ],
        "summary": "All Programmes by TX Date(3)",
        "description": "Lists all Channel 4 programmes associated with the specified category (tag).\u00a0 \n  By default, the programmes are listed in order of Transmission (TX) Date, \n  with the most-recently-transmitted programmes listed first.\n\n  http://api.channel4.com/pmlsd/categories/category/derived/ad.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx\n\n  http://api.channel4.com/pmlsd/categories/animals.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx",
        "operationId": "All_Programmes_by_TX_Date(3)",
        "parameters": [
          {
            "name": "platform",
            "in": "query",
            "description": "The platform to use for the query. Alias 'client'.",
            "schema": {
              "type": "string",
              "enum": [
                "c4",
                "ps3",
                "yv",
                "ios",
                "fm",
                "p06",
                "ctv",
                "freesat",
                "android",
                "samsung"
              ]
            }
          },
          {
            "name": "category",
            "in": "path",
            "description": "The name of the category for which you seek associated Channel 4 programmes. (For a full list of categories, please see http://api.channel4.com/pmlsd/categories.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx)",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Default response",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/atom"
                }
              }
            }
          }
        },
        "x-documentation": "http://developer.channel4.com/docs/read/programmesapiguide/discoveryresources/All_Programmes_by_TX_Date"
      }
    },
    "/categories/{category}/derived/ad/4od.atom": {
      "get": {
        "tags": [
          "discoveryresources"
        ],
        "summary": "4oD Programmes by TX Date(3)",
        "description": "Lists all Channel 4oD programmes associated with the specified category \n  (tag).By default, the\u00a0programmes are listed in order of Transmission (TX) \n  Date, with the most-recently-transmitted programmes listed first.\n\n  http://api.channel4.com/pmlsd/categories/category/derived/ad/4od.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx\n\n  http://api.channel4.com/pmlsd/categories/animals/4oD.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx",
        "operationId": "4oD_Programmes_by_TX_Date(3)",
        "parameters": [
          {
            "name": "platform",
            "in": "query",
            "description": "The platform to use for the query. Alias 'client'.",
            "schema": {
              "type": "string",
              "enum": [
                "c4",
                "ps3",
                "yv",
                "ios",
                "fm",
                "p06",
                "ctv",
                "freesat",
                "android",
                "samsung"
              ]
            }
          },
          {
            "name": "category",
            "in": "path",
            "description": "The name of the category for which you seek associated Channel 4 programmes. (For a full list of categories, please see http://api.channel4.com/pmlsd/categories.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx)",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Default response",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/atom"
                }
              }
            }
          }
        },
        "x-documentation": "http://developer.channel4.com/docs/read/programmesapiguide/discoveryresources/4oD_Programmes_by_TX_Date"
      }
    },
    "/categories/{category}/derived/ad/4od/page-{pageno}.atom": {
      "get": {
        "tags": [
          "discoveryresources"
        ],
        "summary": "4oD Programmes by TX Date(6)",
        "description": "Lists all Channel 4oD programmes associated with the specified category \n  (tag).By default, the\u00a0programmes are listed in order of Transmission (TX) \n  Date, with the most-recently-transmitted programmes listed first.\n\n  http://api.channel4.com/pmlsd/categories/category/derived/ad/4od/page-{pageno}.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx\n\n  http://api.channel4.com/pmlsd/categories/animals/4oD.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx",
        "operationId": "4oD_Programmes_by_TX_Date(6)",
        "parameters": [
          {
            "name": "platform",
            "in": "query",
            "description": "The platform to use for the query. Alias 'client'.",
            "schema": {
              "type": "string",
              "enum": [
                "c4",
                "ps3",
                "yv",
                "ios",
                "fm",
                "p06",
                "ctv",
                "freesat",
                "android",
                "samsung"
              ]
            }
          },
          {
            "name": "category",
            "in": "path",
            "description": "The name of the category for which you seek associated Channel 4 programmes. (For a full list of categories, please see http://api.channel4.com/pmlsd/categories.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageno",
            "in": "path",
            "description": "Page number of results to return",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Default response",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/atom"
                }
              }
            }
          }
        },
        "x-documentation": "http://developer.channel4.com/docs/read/programmesapiguide/discoveryresources/4oD_Programmes_by_TX_Date"
      }
    },
    "/categories/{category}/derived/ad/4od/popular.atom": {
      "get": {
        "tags": [
          "discoveryresources"
        ],
        "summary": "Most Popular Brands Feed(4)",
        "description": "Lists all Channel 4oD most popular brands for the given category within the \n  last 7 days, in order of popularity.\n\n  http://api.channel4.com/pmlsd/categories/category/derived/ad/4od/popular.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx\n\n  http://api.channel4.com/pmlsd/categories/comedy/4od/popular.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx",
        "operationId": "Most_Popular_Brands_Feed(4)",
        "parameters": [
          {
            "name": "platform",
            "in": "query",
            "description": "The platform to use for the query. Alias 'client'.",
            "schema": {
              "type": "string",
              "enum": [
                "c4",
                "ps3",
                "yv",
                "ios",
                "fm",
                "p06",
                "ctv",
                "freesat",
                "android",
                "samsung"
              ]
            }
          },
          {
            "name": "category",
            "in": "path",
            "description": "The name of the category for which you seek associated Channel 4 programmes. (For a full list of categories, please see http://api.channel4.com/pmlsd/categories.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx)",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Default response",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/atom"
                }
              }
            }
          }
        },
        "x-documentation": "http://developer.channel4.com/docs/read/programmesapiguide/discoveryresources/Most_Popular_Brands_Feed"
      }
    },
    "/categories/{category}/derived/ad/4od/popular/page-{pageno}.atom": {
      "get": {
        "tags": [
          "discoveryresources"
        ],
        "summary": "Most Popular Brands Feed(8)",
        "description": "Lists all Channel 4oD most popular brands for the given category within the \n  last 7 days, in order of popularity.\n\n  http://api.channel4.com/pmlsd/categories/category/derived/ad/4od/popular/page-{pageno}.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx\n\n  http://api.channel4.com/pmlsd/categories/comedy/4od/popular.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx",
        "operationId": "Most_Popular_Brands_Feed(8)",
        "parameters": [
          {
            "name": "platform",
            "in": "query",
            "description": "The platform to use for the query. Alias 'client'.",
            "schema": {
              "type": "string",
              "enum": [
                "c4",
                "ps3",
                "yv",
                "ios",
                "fm",
                "p06",
                "ctv",
                "freesat",
                "android",
                "samsung"
              ]
            }
          },
          {
            "name": "category",
            "in": "path",
            "description": "The name of the category for which you seek associated Channel 4 programmes. (For a full list of categories, please see http://api.channel4.com/pmlsd/categories.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageno",
            "in": "path",
            "description": "Page number of results to return",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Default response",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/atom"
                }
              }
            }
          }
        },
        "x-documentation": "http://developer.channel4.com/docs/read/programmesapiguide/discoveryresources/Most_Popular_Brands_Feed"
      }
    },
    "/categories/{category}/derived/ad/4od/title.atom": {
      "get": {
        "tags": [
          "discoveryresources"
        ],
        "summary": "4oD Programmes by Title(3)",
        "description": "Lists all Channel 4oD programmes associated with the specified category \n  (tag), alphanumerically in order of Title.\n\n  http://api.channel4.com/pmlsd/categories/category/derived/ad/4od/title.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx\n\n  http://api.channel4.com/pmlsd/categories/religion-and-belief/4oD/title.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx",
        "operationId": "4oD_Programmes_by_Title(3)",
        "parameters": [
          {
            "name": "platform",
            "in": "query",
            "description": "The platform to use for the query. Alias 'client'.",
            "schema": {
              "type": "string",
              "enum": [
                "c4",
                "ps3",
                "yv",
                "ios",
                "fm",
                "p06",
                "ctv",
                "freesat",
                "android",
                "samsung"
              ]
            }
          },
          {
            "name": "category",
            "in": "path",
            "description": "The name of the category for which you seek associated Channel 4 programmes. (For a full list of categories, please see http://api.channel4.com/pmlsd/categories.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx)",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Default response",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/atom"
                }
              }
            }
          }
        },
        "x-documentation": "http://developer.channel4.com/docs/read/programmesapiguide/discoveryresources/4oD_Programmes_by_Title"
      }
    },
    "/categories/{category}/derived/ad/4od/title/page-{pageno}.atom": {
      "get": {
        "tags": [
          "discoveryresources"
        ],
        "summary": "4oD Programmes by Title(6)",
        "description": "Lists all Channel 4oD programmes associated with the specified category \n  (tag), alphanumerically in order of Title.\n\n  http://api.channel4.com/pmlsd/categories/category/derived/ad/4od/title/page-{pageno}.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx\n\n  http://api.channel4.com/pmlsd/categories/religion-and-belief/4oD/title.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx",
        "operationId": "4oD_Programmes_by_Title(6)",
        "parameters": [
          {
            "name": "platform",
            "in": "query",
            "description": "The platform to use for the query. Alias 'client'.",
            "schema": {
              "type": "string",
              "enum": [
                "c4",
                "ps3",
                "yv",
                "ios",
                "fm",
                "p06",
                "ctv",
                "freesat",
                "android",
                "samsung"
              ]
            }
          },
          {
            "name": "category",
            "in": "path",
            "description": "The name of the category for which you seek associated Channel 4 programmes. (For a full list of categories, please see http://api.channel4.com/pmlsd/categories.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageno",
            "in": "path",
            "description": "Page number of results to return",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Default response",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/atom"
                }
              }
            }
          }
        },
        "x-documentation": "http://developer.channel4.com/docs/read/programmesapiguide/discoveryresources/4oD_Programmes_by_Title"
      }
    },
    "/categories/{category}/derived/ad/page-{pageno}.atom": {
      "get": {
        "tags": [
          "discoveryresources"
        ],
        "summary": "All Programmes by TX Date(6)",
        "description": "Lists all Channel 4 programmes associated with the specified category (tag).\u00a0 \n  By default, the programmes are listed in order of Transmission (TX) Date, \n  with the most-recently-transmitted programmes listed first.\n\n  http://api.channel4.com/pmlsd/categories/category/derived/ad/page-{pageno}.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx\n\n  http://api.channel4.com/pmlsd/categories/animals.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx",
        "operationId": "All_Programmes_by_TX_Date(6)",
        "parameters": [
          {
            "name": "platform",
            "in": "query",
            "description": "The platform to use for the query. Alias 'client'.",
            "schema": {
              "type": "string",
              "enum": [
                "c4",
                "ps3",
                "yv",
                "ios",
                "fm",
                "p06",
                "ctv",
                "freesat",
                "android",
                "samsung"
              ]
            }
          },
          {
            "name": "category",
            "in": "path",
            "description": "The name of the category for which you seek associated Channel 4 programmes. (For a full list of categories, please see http://api.channel4.com/pmlsd/categories.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageno",
            "in": "path",
            "description": "Page number of results to return",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Default response",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/atom"
                }
              }
            }
          }
        },
        "x-documentation": "http://developer.channel4.com/docs/read/programmesapiguide/discoveryresources/All_Programmes_by_TX_Date"
      }
    },
    "/categories/{category}/derived/ad/title.atom": {
      "get": {
        "tags": [
          "discoveryresources"
        ],
        "summary": "All Programmes by Title(3)",
        "description": "Lists all Channel 4 programmes associated with the specified category (tag), \n  alphanumerically in order of Title.\n\n  http://api.channel4.com/pmlsd/categories/category/derived/ad/title.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx\n\n  http://api.channel4.com/pmlsd/categories/history/title.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx",
        "operationId": "All_Programmes_by_Title(3)",
        "parameters": [
          {
            "name": "platform",
            "in": "query",
            "description": "The platform to use for the query. Alias 'client'.",
            "schema": {
              "type": "string",
              "enum": [
                "c4",
                "ps3",
                "yv",
                "ios",
                "fm",
                "p06",
                "ctv",
                "freesat",
                "android",
                "samsung"
              ]
            }
          },
          {
            "name": "category",
            "in": "path",
            "description": "The name of the category for which you seek associated Channel 4 programmes. (For a full list of categories, please see http://api.channel4.com/pmlsd/categories.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx)",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Default response",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/atom"
                }
              }
            }
          }
        },
        "x-documentation": "http://developer.channel4.com/docs/read/programmesapiguide/discoveryresources/All_Programmes_by_Title"
      }
    },
    "/categories/{category}/derived/ad/title/page-{pageno}.atom": {
      "get": {
        "tags": [
          "discoveryresources"
        ],
        "summary": "All Programmes by Title(6)",
        "description": "Lists all Channel 4 programmes associated with the specified category (tag), \n  alphanumerically in order of Title.\n\n  http://api.channel4.com/pmlsd/categories/category/derived/ad/title/page-{pageno}.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx\n\n  http://api.channel4.com/pmlsd/categories/history/title.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx",
        "operationId": "All_Programmes_by_Title(6)",
        "parameters": [
          {
            "name": "platform",
            "in": "query",
            "description": "The platform to use for the query. Alias 'client'.",
            "schema": {
              "type": "string",
              "enum": [
                "c4",
                "ps3",
                "yv",
                "ios",
                "fm",
                "p06",
                "ctv",
                "freesat",
                "android",
                "samsung"
              ]
            }
          },
          {
            "name": "category",
            "in": "path",
            "description": "The name of the category for which you seek associated Channel 4 programmes. (For a full list of categories, please see http://api.channel4.com/pmlsd/categories.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageno",
            "in": "path",
            "description": "Page number of results to return",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Default response",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/atom"
                }
              }
            }
          }
        },
        "x-documentation": "http://developer.channel4.com/docs/read/programmesapiguide/discoveryresources/All_Programmes_by_Title"
      }
    },
    "/categories/{category}/page-{pageno}.atom": {
      "get": {
        "tags": [
          "discoveryresources"
        ],
        "summary": "All Programmes by TX Date(4)",
        "description": "Lists all Channel 4 programmes associated with the specified category (tag).\u00a0 \n  By default, the programmes are listed in order of Transmission (TX) Date, \n  with the most-recently-transmitted programmes listed first.\n\n  http://api.channel4.com/pmlsd/categories/category/page-{pageno}.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx\n\n  http://api.channel4.com/pmlsd/categories/animals.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx",
        "operationId": "All_Programmes_by_TX_Date(4)",
        "parameters": [
          {
            "name": "platform",
            "in": "query",
            "description": "The platform to use for the query. Alias 'client'.",
            "schema": {
              "type": "string",
              "enum": [
                "c4",
                "ps3",
                "yv",
                "ios",
                "fm",
                "p06",
                "ctv",
                "freesat",
                "android",
                "samsung"
              ]
            }
          },
          {
            "name": "category",
            "in": "path",
            "description": "The name of the category for which you seek associated Channel 4 programmes. (For a full list of categories, please see http://api.channel4.com/pmlsd/categories.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageno",
            "in": "path",
            "description": "Page number of results to return",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Default response",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/atom"
                }
              }
            }
          }
        },
        "x-documentation": "http://developer.channel4.com/docs/read/programmesapiguide/discoveryresources/All_Programmes_by_TX_Date"
      }
    },
    "/categories/{category}/popular.atom": {
      "get": {
        "tags": [
          "discoveryresources"
        ],
        "summary": "Most Popular Brands Feed(2)",
        "description": "Lists all Channel 4oD most popular brands for the given category within the \n  last 7 days, in order of popularity.\n\n  http://api.channel4.com/pmlsd/categories/category/popular.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx\n\n  http://api.channel4.com/pmlsd/categories/comedy/4od/popular.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx",
        "operationId": "Most_Popular_Brands_Feed(2)",
        "parameters": [
          {
            "name": "platform",
            "in": "query",
            "description": "The platform to use for the query. Alias 'client'.",
            "schema": {
              "type": "string",
              "enum": [
                "c4",
                "ps3",
                "yv",
                "ios",
                "fm",
                "p06",
                "ctv",
                "freesat",
                "android",
                "samsung"
              ]
            }
          },
          {
            "name": "category",
            "in": "path",
            "description": "The name of the category for which you seek associated Channel 4 programmes. (For a full list of categories, please see http://api.channel4.com/pmlsd/categories.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx)",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Default response",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/atom"
                }
              }
            }
          }
        },
        "x-documentation": "http://developer.channel4.com/docs/read/programmesapiguide/discoveryresources/Most_Popular_Brands_Feed"
      }
    },
    "/categories/{category}/popular/page-{pageno}.atom": {
      "get": {
        "tags": [
          "discoveryresources"
        ],
        "summary": "Most Popular Brands Feed(6)",
        "description": "Lists all Channel 4oD most popular brands for the given category within the \n  last 7 days, in order of popularity.\n\n  http://api.channel4.com/pmlsd/categories/category/popular/page-{pageno}.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx\n\n  http://api.channel4.com/pmlsd/categories/comedy/4od/popular.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx",
        "operationId": "Most_Popular_Brands_Feed(6)",
        "parameters": [
          {
            "name": "platform",
            "in": "query",
            "description": "The platform to use for the query. Alias 'client'.",
            "schema": {
              "type": "string",
              "enum": [
                "c4",
                "ps3",
                "yv",
                "ios",
                "fm",
                "p06",
                "ctv",
                "freesat",
                "android",
                "samsung"
              ]
            }
          },
          {
            "name": "category",
            "in": "path",
            "description": "The name of the category for which you seek associated Channel 4 programmes. (For a full list of categories, please see http://api.channel4.com/pmlsd/categories.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageno",
            "in": "path",
            "description": "Page number of results to return",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Default response",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/atom"
                }
              }
            }
          }
        },
        "x-documentation": "http://developer.channel4.com/docs/read/programmesapiguide/discoveryresources/Most_Popular_Brands_Feed"
      }
    },
    "/categories/{category}/title.atom": {
      "get": {
        "tags": [
          "discoveryresources"
        ],
        "summary": "All Programmes by Title",
        "description": "Lists all Channel 4 programmes associated with the specified category (tag), \n  alphanumerically in order of Title.\n\n  http://api.channel4.com/pmlsd/categories/category/title.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx\n\n  http://api.channel4.com/pmlsd/categories/history/title.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx",
        "operationId": "All_Programmes_by_Title",
        "parameters": [
          {
            "name": "platform",
            "in": "query",
            "description": "The platform to use for the query. Alias 'client'.",
            "schema": {
              "type": "string",
              "enum": [
                "c4",
                "ps3",
                "yv",
                "ios",
                "fm",
                "p06",
                "ctv",
                "freesat",
                "android",
                "samsung"
              ]
            }
          },
          {
            "name": "category",
            "in": "path",
            "description": "The name of the category for which you seek associated Channel 4 programmes. (For a full list of categories, please see http://api.channel4.com/pmlsd/categories.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx)",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Default response",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/atom"
                }
              }
            }
          }
        },
        "x-documentation": "http://developer.channel4.com/docs/read/programmesapiguide/discoveryresources/All_Programmes_by_Title"
      }
    },
    "/categories/{category}/title/page-{pageno}.atom": {
      "get": {
        "tags": [
          "discoveryresources"
        ],
        "summary": "All Programmes by Title(4)",
        "description": "Lists all Channel 4 programmes associated with the specified category (tag), \n  alphanumerically in order of Title.\n\n  http://api.channel4.com/pmlsd/categories/category/title/page-{pageno}.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx\n\n  http://api.channel4.com/pmlsd/categories/history/title.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx",
        "operationId": "All_Programmes_by_Title(4)",
        "parameters": [
          {
            "name": "platform",
            "in": "query",
            "description": "The platform to use for the query. Alias 'client'.",
            "schema": {
              "type": "string",
              "enum": [
                "c4",
                "ps3",
                "yv",
                "ios",
                "fm",
                "p06",
                "ctv",
                "freesat",
                "android",
                "samsung"
              ]
            }
          },
          {
            "name": "category",
            "in": "path",
            "description": "The name of the category for which you seek associated Channel 4 programmes. (For a full list of categories, please see http://api.channel4.com/pmlsd/categories.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageno",
            "in": "path",
            "description": "Page number of results to return",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Default response",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/atom"
                }
              }
            }
          }
        },
        "x-documentation": "http://developer.channel4.com/docs/read/programmesapiguide/discoveryresources/All_Programmes_by_Title"
      }
    },
    "/collections/{collection_name}.atom": {
      "get": {
        "tags": [
          "discoveryresources"
        ],
        "summary": "Collections Feed(2)",
        "description": "Collections are editorially controlled groups of brands, series, episodes or \n  other collections used for promotion and discovery of content. A SIMPLE \n  collection can contain an assortment of Brands, Series, Episodes or Freeform \n  items.\u00a0A GROUP collection contains other collections.\n\n  http://api.channel4.com/pmlsd/collections/collection_name.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx\n\n  http://api.channel4.com/pmlsd/collections/4od-home-promo/4od.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx",
        "operationId": "Collections_Feed(2)",
        "parameters": [
          {
            "name": "platform",
            "in": "query",
            "description": "The platform to use for the query. Alias 'client'.",
            "schema": {
              "type": "string",
              "enum": [
                "c4",
                "ps3",
                "yv",
                "ios",
                "fm",
                "p06",
                "ctv",
                "freesat",
                "android",
                "samsung"
              ]
            }
          },
          {
            "name": "collection_name",
            "in": "path",
            "description": "Web safe title for the collection.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Default response",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/atom"
                }
              }
            }
          }
        },
        "x-documentation": "http://developer.channel4.com/docs/read/programmesapiguide/discoveryresources/Collections_Feed"
      }
    },
    "/collections/{collection_name}/4od.atom": {
      "get": {
        "tags": [
[...]
