{
  "openapi": "3.0.3",
  "info": {
    "title": "Fruityvice API",
    "version": "1.0.0",
    "description": "Fruityvice is a free, open API that provides nutritional data about fruits. Get information about fruit names, families, genera, orders, and their nutritional content including calories, fat, sugar, carbohydrates, and protein.",
    "x-jentic-source-url": "https://fruityvice.com/",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://fruityvice.com/api"
    }
  ],
  "paths": {
    "/fruit/all": {
      "get": {
        "operationId": "getAllFruits",
        "summary": "Get all fruits",
        "description": "Returns a list of all fruits available in the database with their nutritional information.",
        "tags": [
          "Fruits"
        ],
        "responses": {
          "200": {
            "description": "Successful response with all fruits",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Fruit"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/fruit/{name}": {
      "get": {
        "operationId": "getFruitByName",
        "summary": "Get fruit by name",
        "description": "Returns the nutritional information for a specific fruit by its name.",
        "tags": [
          "Fruits"
        ],
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "description": "The name of the fruit (e.g., 'banana', 'apple', 'strawberry')",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with fruit data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Fruit"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Fruit not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/fruit/{id}": {
      "get": {
        "operationId": "getFruitById",
        "summary": "Get fruit by ID",
        "description": "Returns the nutritional information for a specific fruit by its numeric ID.",
        "tags": [
          "Fruits"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The numeric ID of the fruit",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with fruit data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Fruit"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Fruit not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/fruit/family/{family}": {
      "get": {
        "operationId": "getFruitsByFamily",
        "summary": "Get fruits by family",
        "description": "Returns a list of fruits that belong to a specific botanical family.",
        "tags": [
          "Taxonomy"
        ],
        "parameters": [
          {
            "name": "family",
            "in": "path",
            "description": "The botanical family name (e.g., 'Rosaceae', 'Musaceae')",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with fruits in the family",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Fruit"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Family not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/fruit/genus/{genus}": {
      "get": {
        "operationId": "getFruitsByGenus",
        "summary": "Get fruits by genus",
        "description": "Returns a list of fruits that belong to a specific botanical genus.",
        "tags": [
          "Taxonomy"
        ],
        "parameters": [
          {
            "name": "genus",
            "in": "path",
            "description": "The botanical genus name (e.g., 'Musa', 'Malus')",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with fruits in the genus",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Fruit"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Genus not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/fruit/order/{order}": {
      "get": {
        "operationId": "getFruitsByOrder",
        "summary": "Get fruits by order",
        "description": "Returns a list of fruits that belong to a specific botanical order.",
        "tags": [
          "Taxonomy"
        ],
        "parameters": [
          {
            "name": "order",
            "in": "path",
            "description": "The botanical order name (e.g., 'Rosales', 'Zingiberales')",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with fruits in the order",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Fruit"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Order not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Fruit": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Common name of the fruit"
          },
          "id": {
            "type": "integer",
            "description": "Unique numeric identifier"
          },
          "family": {
            "type": "string",
            "description": "Botanical family of the fruit"
          },
          "genus": {
            "type": "string",
            "description": "Botanical genus of the fruit"
          },
          "order": {
            "type": "string",
            "description": "Botanical order of the fruit"
          },
          "nutritions": {
            "$ref": "#/components/schemas/Nutritions"
          }
        }
      },
      "Nutritions": {
        "type": "object",
        "properties": {
          "calories": {
            "type": "number",
            "format": "double",
            "description": "Calories per 100g"
          },
          "fat": {
            "type": "number",
            "format": "double",
            "description": "Fat content per 100g in grams"
          },
          "sugar": {
            "type": "number",
            "format": "double",
            "description": "Sugar content per 100g in grams"
          },
          "carbohydrates": {
            "type": "number",
            "format": "double",
            "description": "Carbohydrate content per 100g in grams"
          },
          "protein": {
            "type": "number",
            "format": "double",
            "description": "Protein content per 100g in grams"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error message"
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Fruits"
    },
    {
      "name": "Taxonomy"
    }
  ]
}
