{
  "openapi": "3.0.3",
  "info": {
    "title": "KHEOPS API",
    "version": "1.0.0",
    "description": "KHEOPS is an open-source platform for managing and sharing DICOM medical imaging data. The API provides endpoints for DICOMweb access (QIDO-RS, WADO-RS), album management, user sharing, capability tokens, webhooks, and report providers. Built on OAuth2 and DICOMweb standards.",
    "x-jentic-source-url": "https://docs.kheops.online/",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://demo.kheops.online/api",
      "description": "Demo server"
    }
  ],
  "paths": {
    "/token": {
      "post": {
        "operationId": "requestAccessToken",
        "summary": "Request an access token",
        "description": "Issue viewer tokens or exchange assertions for access tokens.",
        "tags": [
          "Authentication"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TokenRequest"
              }
            }
          }
        }
      }
    },
    "/studies": {
      "get": {
        "operationId": "listStudies",
        "summary": "Get a list of studies",
        "description": "Returns studies accessible to the authenticated user. Supports QIDO-RS query parameters plus custom KHEOPS parameters for album and inbox filtering.",
        "tags": [
          "DICOMweb Studies"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Study"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "StudyDate",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Study date filter"
          },
          {
            "name": "PatientName",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Patient name filter"
          },
          {
            "name": "PatientID",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Patient ID filter"
          },
          {
            "name": "StudyInstanceUID",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Study instance UID filter"
          },
          {
            "name": "ModalitiesInStudy",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Modality filter"
          },
          {
            "name": "album",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Album ID to query within"
          },
          {
            "name": "inbox",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "Query inbox only"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Maximum results"
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Results offset"
          },
          {
            "name": "fuzzymatching",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "Enable fuzzy matching"
          },
          {
            "name": "favoriteStudy",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "Filter by favorites"
          }
        ]
      }
    },
    "/studies/{StudyInstanceUID}/metadata": {
      "get": {
        "operationId": "getStudyMetadata",
        "summary": "Get metadata for a study",
        "description": "Returns WADO-RS metadata for accessible series in a study.",
        "tags": [
          "DICOMweb Studies"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "StudyInstanceUID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "DICOM Study Instance UID"
          }
        ]
      }
    },
    "/studies/{StudyInstanceUID}/favorites": {
      "put": {
        "operationId": "markStudyFavorite",
        "summary": "Mark a study as favorite",
        "description": "Mark the specified study as a favorite for the authenticated user.",
        "tags": [
          "Favorites"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "StudyInstanceUID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "DICOM Study Instance UID"
          }
        ]
      },
      "delete": {
        "operationId": "removeStudyFavorite",
        "summary": "Remove study from favorites",
        "description": "Remove the specified study from the user's favorites.",
        "tags": [
          "Favorites"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "StudyInstanceUID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "DICOM Study Instance UID"
          }
        ]
      }
    },
    "/studies/{StudyInstanceUID}/series/{SeriesInstanceUID}/favorites": {
      "put": {
        "operationId": "markSeriesFavorite",
        "summary": "Mark a series as favorite",
        "description": "Mark the specified series as a favorite.",
        "tags": [
          "Favorites"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "StudyInstanceUID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "DICOM Study Instance UID"
          },
          {
            "name": "SeriesInstanceUID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "DICOM Series Instance UID"
          }
        ]
      },
      "delete": {
        "operationId": "removeSeriesFavorite",
        "summary": "Remove series from favorites",
        "description": "Remove the specified series from favorites.",
        "tags": [
          "Favorites"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "StudyInstanceUID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "DICOM Study Instance UID"
          },
          {
            "name": "SeriesInstanceUID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "DICOM Series Instance UID"
          }
        ]
      }
    },
    "/studies/{StudyInstanceUID}/users/{user}": {
      "put": {
        "operationId": "sendStudy",
        "summary": "Give a user access to a study",
        "description": "Share all accessible series of a study with another user.",
        "tags": [
          "Sharing"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "StudyInstanceUID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "DICOM Study Instance UID"
          },
          {
            "name": "user",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Target user email or sub claim"
          }
        ]
      }
    },
    "/studies/{StudyInstanceUID}/series/{SeriesInstanceUID}/users/{user}": {
      "put": {
        "operationId": "sendSeries",
        "summary": "Give a user access to a series",
        "description": "Share a specific series with another user.",
        "tags": [
          "Sharing"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "StudyInstanceUID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "DICOM Study Instance UID"
          },
          {
            "name": "SeriesInstanceUID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "DICOM Series Instance UID"
          },
          {
            "name": "user",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Target user email or sub claim"
          }
        ]
      }
    },
    "/studies/{StudyInstanceUID}/series/{SeriesInstanceUID}": {
      "put": {
        "operationId": "selfAppropriateSeries",
        "summary": "Self-appropriate a series",
        "description": "Claim access to a series UID unknown to the authorization server.",
        "tags": [
          "Sharing"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "StudyInstanceUID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "DICOM Study Instance UID"
          },
          {
            "name": "SeriesInstanceUID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "DICOM Series Instance UID"
          }
        ]
      },
      "delete": {
        "operationId": "removeSeriesFromInbox",
        "summary": "Remove a series from inbox",
        "description": "Relinquish access to a specific series.",
        "tags": [
          "Inbox"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "StudyInstanceUID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "DICOM Study Instance UID"
          },
          {
            "name": "SeriesInstanceUID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "DICOM Series Instance UID"
          }
        ]
      }
    },
    "/studies/{StudyInstanceUID}": {
      "delete": {
        "operationId": "removeStudyFromInbox",
        "summary": "Remove a study from inbox",
        "description": "Relinquish access to all series in the specified study.",
        "tags": [
          "Inbox"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "StudyInstanceUID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "DICOM Study Instance UID"
          }
        ]
      }
    },
    "/studies/{StudyInstanceUID}/comments": {
      "get": {
        "operationId": "getStudyComments",
        "summary": "Get comments about a study",
        "description": "Returns comments for a specific study.",
        "tags": [
          "Comments"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Comment"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "StudyInstanceUID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "DICOM Study Instance UID"
          }
        ]
      },
      "post": {
        "operationId": "postStudyComment",
        "summary": "Post a comment about a study",
        "description": "Add a comment to a specific study.",
        "tags": [
          "Comments"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "StudyInstanceUID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "DICOM Study Instance UID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CommentRequest"
              }
            }
          }
        }
      }
    },
    "/capabilities": {
      "get": {
        "operationId": "listCapabilities",
        "summary": "List capability tokens",
        "description": "Returns all capability tokens for the authenticated user.",
        "tags": [
          "Capability Tokens"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CapabilityToken"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createCapability",
        "summary": "Create a capability token",
        "description": "Create a new capability token for DICOMweb proxy access.",
        "tags": [
          "Capability Tokens"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CapabilityToken"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CapabilityTokenCreateRequest"
              }
            }
          }
        }
      }
    },
    "/capabilities/{capability_id}": {
      "get": {
        "operationId": "getCapability",
        "summary": "Get capability token info",
        "description": "Returns information about a specific capability token.",
        "tags": [
          "Capability Tokens"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CapabilityToken"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "capability_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Capability token ID"
          }
        ]
      }
    },
    "/capabilities/{capability_id}/revoke": {
      "post": {
        "operationId": "revokeCapability",
        "summary": "Revoke a capability token",
        "description": "Revoke a specific capability token.",
        "tags": [
          "Capability Tokens"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "capability_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Capability token ID"
          }
        ]
      }
    },
    "/albums": {
      "get": {
        "operationId": "listAlbums",
        "summary": "List albums",
        "description": "Returns all albums accessible to the authenticated user.",
        "tags": [
          "Albums"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Album"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createAlbum",
        "summary": "Create an album",
        "description": "Create a new album. The creator becomes the admin.",
        "tags": [
          "Albums"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Album"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AlbumCreateRequest"
              }
            }
          }
        }
      }
    },
    "/albums/{album_id}": {
      "get": {
        "operationId": "getAlbum",
        "summary": "Get album metadata",
        "description": "Returns metadata for a specific album.",
        "tags": [
          "Albums"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Album"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "album_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Album ID"
          }
        ]
      },
      "patch": {
        "operationId": "editAlbum",
        "summary": "Edit an album",
        "description": "Update album properties.",
        "tags": [
          "Albums"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Album"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "album_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Album ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AlbumUpdateRequest"
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteAlbum",
        "summary": "Delete an album",
        "description": "Delete an album. Requires admin access.",
        "tags": [
          "Albums"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "album_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Album ID"
          }
        ]
      }
    },
    "/studies/{StudyInstanceUID}/albums/{album_id}": {
      "put": {
        "operationId": "addStudyToAlbum",
        "summary": "Add a study to an album",
        "description": "Add all series of a study to an album.",
        "tags": [
          "Albums"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "StudyInstanceUID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "DICOM Study Instance UID"
          },
          {
            "name": "album_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Album ID"
          }
        ]
      },
      "delete": {
        "operationId": "removeStudyFromAlbum",
        "summary": "Remove a study from an album",
        "description": "Remove a study from an album.",
        "tags": [
          "Albums"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "StudyInstanceUID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "DICOM Study Instance UID"
          },
          {
            "name": "album_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Album ID"
          }
        ]
      }
    },
    "/studies/{StudyInstanceUID}/series/{SeriesInstanceUID}/albums/{album_id}": {
      "put": {
        "operationId": "addSeriesToAlbum",
        "summary": "Add a series to an album",
        "description": "Add a specific series to an album.",
        "tags": [
          "Albums"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "StudyInstanceUID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "DICOM Study Instance UID"
          },
          {
            "name": "SeriesInstanceUID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "DICOM Series Instance UID"
          },
          {
            "name": "album_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Album ID"
          }
        ]
      },
      "delete": {
        "operationId": "removeSeriesFromAlbum",
        "summary": "Remove a series from an album",
        "description": "Remove a specific series from an album.",
        "tags": [
          "Albums"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "StudyInstanceUID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "DICOM Study Instance UID"
          },
          {
            "name": "SeriesInstanceUID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "DICOM Series Instance UID"
          },
          {
            "name": "album_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Album ID"
          }
        ]
      }
    },
    "/albums/{album_id}/users/{user}": {
      "put": {
        "operationId": "addUserToAlbum",
        "summary": "Add a user to an album",
        "description": "Add a user to an album.",
        "tags": [
          "Album Users"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "album_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Album ID"
          },
          {
            "name": "user",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Target user email or sub claim"
          }
        ]
      },
      "delete": {
        "operationId": "removeUserFromAlbum",
        "summary": "Remove a user from an album",
        "description": "Remove a user from an album.",
        "tags": [
          "Album Users"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "album_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Album ID"
          },
          {
            "name": "user",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Target user email or sub claim"
          }
        ]
      }
    },
    "/albums/{album_id}/users": {
      "get": {
        "operationId": "listAlbumUsers",
        "summary": "Get album users",
        "description": "List all users in an album.",
        "tags": [
          "Album Users"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/User"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "album_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Album ID"
          }
        ]
      }
    },
    "/albums/{album_id}/users/{user}/admin": {
      "put": {
        "operationId": "upgradeUserToAdmin",
        "summary": "Upgrade user to admin",
        "description": "Upgrade a user to admin in an album.",
        "tags": [
          "Album Users"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "album_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Album ID"
          },
          {
            "name": "user",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Target user email or sub claim"
          }
        ]
      },
      "delete": {
        "operationId": "downgradeAdminToUser",
        "summary": "Downgrade admin to user",
        "description": "Downgrade an admin to regular user in an album.",
        "tags": [
          "Album Users"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "album_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Album ID"
          },
          {
            "name": "user",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Target user email or sub claim"
          }
        ]
      }
    },
    "/albums/{album_id}/favorites": {
      "put": {
        "operationId": "addAlbumToFavorites",
        "summary": "Add album to favorites",
        "description": "Mark an album as favorite.",
        "tags": [
          "Favorites"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "album_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Album ID"
          }
        ]
      },
      "delete": {
        "operationId": "removeAlbumFromFavorites",
        "summary": "Remove album from favorites",
        "description": "Remove an album from favorites.",
        "tags": [
          "Favorites"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "album_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Album ID"
          }
        ]
      }
    },
    "/albums/{album_id}/comments": {
      "post": {
        "operationId": "postAlbumComment",
        "summary": "Post a comment in an album",
        "description": "Post a comment to an album.",
        "tags": [
          "Comments"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "album_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Album ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CommentRequest"
              }
            }
          }
        }
      }
    },
    "/albums/{album_id}/events": {
      "get": {
        "operationId": "listAlbumEvents",
        "summary": "List album events",
        "description": "Get comments and mutations for an album.",
        "tags": [
          "Comments"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Comment"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "album_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Album ID"
          },
          {
            "name": "types",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by event types (comments, mutations)"
          }
        ]
      }
    },
    "/albums/{album_id}/webhooks": {
      "get": {
        "operationId": "listWebhooks",
        "summary": "List webhooks",
        "description": "List all webhooks for an album.",
        "tags": [
          "Webhooks"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Webhook"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "album_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Album ID"
          }
        ]
      },
      "post": {
        "operationId": "createWebhook",
        "summary": "Create a webhook",
        "description": "Create a new webhook for an album.",
        "tags": [
          "Webhooks"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Webhook"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "album_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Album ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebhookCreateRequest"
              }
            }
          }
        }
      }
    },
    "/albums/{album_id}/webhooks/{webhook_id}": {
      "get": {
        "operationId": "getWebhook",
        "summary": "Get a webhook",
        "description": "Get details of a specific webhook.",
        "tags": [
          "Webhooks"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Webhook"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "album_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Album ID"
          },
          {
            "name": "webhook_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Webhook ID"
          }
        ]
      },
      "patch": {
        "operationId": "editWebhook",
        "summary": "Edit a webhook",
        "description": "Update webhook properties.",
        "tags": [
          "Webhooks"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Webhook"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "album_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Album ID"
          },
          {
            "name": "webhook_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Webhook ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebhookCreateRequest"
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteWebhook",
        "summary": "Delete a webhook",
        "description": "Delete a webhook from an album.",
        "tags": [
          "Webhooks"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "album_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Album ID"
          },
          {
            "name": "webhook_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Webhook ID"
          }
        ]
      }
    },
    "/albums/{album_id}/webhooks/{webhook_id}/trigger": {
      "post": {
        "operationId": "triggerWebhook",
        "summary": "Trigger a webhook",
        "description": "Manually trigger a webhook.",
        "tags": [
          "Webhooks"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "album_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Album ID"
          },
          {
            "name": "webhook_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Webhook ID"
          }
        ]
      }
    },
    "/albums/{album_id}/reportproviders": {
      "get": {
        "operationId": "listReportProviders",
        "summary": "List report providers",
        "description": "List all report providers for an album.",
        "tags": [
          "Report Providers"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ReportProvider"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "album_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Album ID"
          }
        ]
      },
      "post": {
        "operationId": "createReportProvider",
        "summary": "Create a report provider",
        "description": "Register a new report provider for an album.",
        "tags": [
          "Report Providers"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReportProvider"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "album_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Album ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReportProviderCreateRequest"
              }
            }
          }
        }
      }
    },
    "/albums/{album_id}/reportproviders/{client_id}": {
      "get": {
        "operationId": "getReportProvider",
        "summary": "Get a report provider",
        "description": "Get details of a specific report provider.",
        "tags": [
          "Report Providers"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReportProvider"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "album_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Album ID"
          },
          {
            "name": "client_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Report provider client ID"
          }
        ]
      },
      "patch": {
        "operationId": "editReportProvider",
        "summary": "Edit a report provider",
        "description": "Update report provider properties.",
        "tags": [
          "Report Providers"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "album_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Album ID"
          },
          {
            "name": "client_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Report provider client ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReportProviderCreateRequest"
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteReportProvider",
        "summary": "Delete a report provider",
        "description": "Delete a report provider from an album.",
        "tags": [
          "Report Providers"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "album_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Album ID"
          },
          {
            "name": "client_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Report provider client ID"
          }
        ]
      }
    },
    "/reportproviders/{client_id}/configuration": {
      "get": {
        "operationId": "getReportProviderConfig",
        "summary": "Get report provider configuration",
        "description": "Get the configuration for a report provider.",
        "tags": [
          "Report Providers"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "client_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Report provider client ID"
          }
        ]
      }
    },
    "/reportproviders/testuri": {
      "post": {
        "operationId": "testReportProviderUri",
        "summary": "Test a report provider URI",
        "description": "Test connectivity to a report provider URI.",
        "tags": [
          "Report Providers"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "url": {
                    "type": "string",
                    "format": "uri"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/report": {
      "post": {
        "operationId": "generateReport",
        "summary": "Generate a report",
        "description": "Generate a report using a report provider.",
        "tags": [
          "Report Providers"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "study_instance_uid": {
                    "type": "string"
                  },
                  "album_id": {
                    "type": "string"
                  },
                  "client_id": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/users": {
      "get": {
        "operationId": "getUserInfo",
        "summary": "Get user info",
        "description": "Returns information about the authenticated user.",
        "tags": [
          "Users"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserInfo"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/inboxinfo": {
      "get": {
        "operationId": "getInboxInfo",
        "summary": "Get inbox info",
        "description": "Returns summary information about the user's inbox.",
        "tags": [
          "Users"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InboxInfo"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Study": {
        "type": "object",
        "properties": {
          "StudyInstanceUID": {
            "type": "string"
          },
          "StudyDate": {
            "type": "string"
          },
          "StudyDescription": {
            "type": "string"
          },
          "PatientName": {
            "type": "string"
          },
          "PatientID": {
            "type": "string"
          },
          "NumberOfStudyRelatedSeries": {
            "type": "integer"
          },
          "NumberOfStudyRelatedInstances": {
            "type": "integer"
          },
          "ModalitiesInStudy": {
            "type": "string"
          }
        }
      },
      "Album": {
        "type": "object",
        "properties": {
          "album_id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "created_time": {
            "type": "string",
            "format": "date-time"
          },
          "last_event_time": {
            "type": "string",
            "format": "date-time"
          },
          "number_of_users": {
            "type": "integer"
          },
          "number_of_studies": {
            "type": "integer"
          },
          "is_admin": {
            "type": "boolean"
          },
          "is_favorite": {
            "type": "boolean"
          },
          "add_user": {
            "type": "boolean"
          },
          "download_series": {
            "type": "boolean"
          },
          "send_series": {
            "type": "boolean"
          },
          "delete_series": {
            "type": "boolean"
          },
          "add_series": {
            "type": "boolean"
          },
          "write_comments": {
            "type": "boolean"
          }
        }
      },
      "AlbumCreateRequest": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "addUser": {
            "type": "boolean"
          },
          "downloadSeries": {
            "type": "boolean"
          },
          "sendSeries": {
            "type": "boolean"
          },
          "deleteSeries": {
            "type": "boolean"
          },
          "addSeries": {
            "type": "boolean"
          },
          "writeComments": {
            "type": "boolean"
          }
        }
      },
      "AlbumUpdateRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "addUser": {
            "type": "boolean"
          },
          "downloadSeries": {
            "type": "boolean"
          },
          "sendSeries": {
            "type": "boolean"
          },
          "deleteSeries": {
            "type": "boolean"
          },
          "addSeries": {
            "type": "boolean"
          },
          "writeComments": {
            "type": "boolean"
          },
          "notificationNewSeries": {
            "type": "boolean"
          },
          "notificationNewComment": {
            "type": "boolean"
          }
        }
      },
      "User": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "sub": {
            "type": "string"
          },
          "is_admin": {
            "type": "boolean"
          }
        }
      },
      "UserInfo": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "sub": {
            "type": "string"
          },
          "tokens": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "Comment": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "comment": {
            "type": "string"
          },
          "user": {
            "type": "string"
          },
          "created_time": {
            "type": "string",
            "format": "date-time"
          },
          "event_type": {
            "type": "string"
          }
        }
      },
      "CommentRequest": {
        "type": "object",
        "required": [
          "comment"
        ],
        "properties": {
          "comment": {
            "type": "string"
          }
        }
      },
      "CapabilityToken": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "secret": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "scope_type": {
            "type": "string",
            "enum": [
              "user",
              "album"
            ]
          },
          "album_id": {
            "type": "string"
          },
          "appropriate_permission": {
            "type": "boolean"
          },
          "download_permission": {
            "type": "boolean"
          },
          "read_permission": {
            "type": "boolean"
          },
          "write_permission": {
            "type": "boolean"
          },
          "revoked": {
            "type": "boolean"
          },
          "not_before_time": {
            "type": "string",
            "format": "date-time"
          },
          "expiration_time": {
            "type": "string",
            "format": "date-time"
          },
          "issued_at_time": {
            "type": "string",
            "format": "date-time"
          },
          "last_used": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "CapabilityTokenCreateRequest": {
        "type": "object",
        "required": [
          "title",
          "scope_type"
        ],
        "properties": {
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "scope_type": {
            "type": "string",
            "enum": [
              "user",
              "album"
            ]
          },
          "album_id": {
            "type": "string"
          },
          "appropriate_permission": {
            "type": "boolean"
          },
          "download_permission": {
            "type": "boolean"
          },
          "read_permission": {
            "type": "boolean"
          },
          "write_permission": {
            "type": "boolean"
          },
          "expiration_time": {
            "type": "string",
            "format": "date-time"
          },
          "not_before_time": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Webhook": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "url": {
            "type": "string",
            "format": "uri"
          },
          "name": {
            "type": "string"
          },
          "secret": {
            "type": "string"
          },
          "new_series": {
            "type": "boolean"
          },
          "new_user": {
            "type": "boolean"
          },
          "enabled": {
            "type": "boolean"
          }
        }
      },
      "WebhookCreateRequest": {
        "type": "object",
        "required": [
          "url",
          "name"
        ],
        "properties": {
          "url": {
            "type": "string",
            "format": "uri"
          },
          "name": {
            "type": "string"
          },
          "secret": {
            "type": "string"
          },
          "new_series": {
            "type": "boolean"
          },
          "new_user": {
            "type": "boolean"
          },
          "enabled": {
            "type": "boolean"
          }
        }
      },
      "ReportProvider": {
        "type": "object",
        "properties": {
          "client_id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "url": {
            "type": "string",
            "format": "uri"
          }
        }
      },
      "ReportProviderCreateRequest": {
        "type": "object",
        "required": [
          "name",
          "url"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "url": {
            "type": "string",
            "format": "uri"
          }
        }
      },
      "TokenRequest": {
        "type": "object",
        "properties": {
          "grant_type": {
            "type": "string"
          },
          "assertion": {
            "type": "string"
          },
          "scope": {
            "type": "string"
          },
[...]
