{
  "openapi": "3.0.1",
  "info": {
    "title": "Finance Gateway",
    "description": "This api provides external applications controlled read and write access to data hold by Cinovo Finance.",
    "contact": {
      "name": "Cinovo AG",
      "url": "https://www.cinovo.de",
      "email": "support@cinovo.de"
    },
    "version": "1.7.15",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/ehuba/finance-gateway/1.7.15"
  },
  "servers": [
    {
      "url": "http://as-cinovo-02.rheingold.vogt.li:8089/financeapi"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Accounts",
      "description": "Metadata and balances for different types of accounts"
    },
    {
      "name": "Commitments",
      "description": "Details about orders and agreements"
    },
    {
      "name": "Contacts",
      "description": "Details about customer and contact data"
    },
    {
      "name": "Deliveries",
      "description": "Details about deliveries and their current state"
    },
    {
      "name": "Depots",
      "description": "Meta data for different types of depots"
    },
    {
      "name": "Documents",
      "description": "Metadata and contents of documents"
    },
    {
      "name": "Fulfilments",
      "description": "Details about payments and deliveries and their current state"
    },
    {
      "name": "Health Check",
      "description": "Health check method for API service"
    },
    {
      "name": "Instruments",
      "description": "Details about instruments"
    },
    {
      "name": "Inventories",
      "description": "Details about entities stored in depots"
    },
    {
      "name": "Logistic",
      "description": "Details about logistic processes"
    },
    {
      "name": "LoroDepotValuationResult",
      "description": "Depot valuations"
    },
    {
      "name": "Master Data",
      "description": "Details about master data"
    },
    {
      "name": "Orders",
      "description": "Details about orders"
    },
    {
      "name": "Payment Instructions",
      "description": "Details about payment instructions"
    },
    {
      "name": "Payments",
      "description": "Details about payment containers and their current state"
    },
    {
      "name": "Position Accounts",
      "description": "Metadata and inventories for position accounts"
    },
    {
      "name": "Quotes",
      "description": "List of quotes"
    },
    {
      "name": "Trades",
      "description": "Details about trades"
    },
    {
      "name": "Underlying Commodities",
      "description": "Details about underlying commodities"
    }
  ],
  "paths": {
    "/accounts/{number}": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Get account by number",
        "description": "Get account with specific number - User rights needed: gateway_accounts_zone:LEVEL_1",
        "operationId": "getAccount",
        "parameters": [
          {
            "name": "number",
            "in": "path",
            "description": "account number",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "balance",
            "in": "query",
            "description": "calculate balance of account",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "$ref": "#/components/parameters/balanceDate"
          }
        ],
        "responses": {
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountData"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/AccountData"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "502": {
            "$ref": "#/components/responses/BadGateway"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeout"
          }
        },
        "x-rights-needed": "gateway_accounts_zone:LEVEL_1"
      }
    },
    "/accounts": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "List accounts",
        "description": "List all accounts - User rights needed: gateway_accounts_zone:LEVEL_1",
        "operationId": "getAccounts",
        "parameters": [
          {
            "name": "balance",
            "in": "query",
            "description": "calculate balance of accounts",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountDataWrapper"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/AccountDataWrapper"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "502": {
            "$ref": "#/components/responses/BadGateway"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeout"
          }
        },
        "x-rights-needed": "gateway_accounts_zone:LEVEL_1"
      }
    },
    "/accounts/bankaccounts": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "List bank/nostro accounts",
        "description": "List bank/nostro accounts - User rights needed: gateway_accounts_zone:LEVEL_1",
        "operationId": "getBankAccounts",
        "parameters": [
          {
            "name": "balance",
            "in": "query",
            "description": "calculate balance of accounts",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountDataWrapper"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/AccountDataWrapper"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "502": {
            "$ref": "#/components/responses/BadGateway"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeout"
          }
        },
        "x-rights-needed": "gateway_accounts_zone:LEVEL_1"
      }
    },
    "/accounts/customeraccounts/{customer}": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Get customer account",
        "description": "Get account of specific customer - User rights needed: gateway_accounts_zone:LEVEL_1",
        "operationId": "getCustomerAccount",
        "parameters": [
          {
            "name": "customer",
            "in": "path",
            "description": "id of the customer",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "balance",
            "in": "query",
            "description": "calculate balance of account",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountData"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/AccountData"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "502": {
            "$ref": "#/components/responses/BadGateway"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeout"
          }
        },
        "x-rights-needed": "gateway_accounts_zone:LEVEL_1"
      }
    },
    "/accounts/customeraccounts": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "List customer accounts",
        "description": "List customer accounts - User rights needed: gateway_accounts_zone:LEVEL_1",
        "operationId": "getCustomerAccounts",
        "parameters": [
          {
            "name": "balance",
            "in": "query",
            "description": "calculate balance of accounts",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountDataWrapper"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/AccountDataWrapper"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "502": {
            "$ref": "#/components/responses/BadGateway"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeout"
          }
        },
        "x-rights-needed": "gateway_accounts_zone:LEVEL_1"
      }
    },
    "/accounts/ledgeraccounts": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "List ledger accounts",
        "description": "List ledger accounts - User rights needed: gateway_accounts_zone:LEVEL_1",
        "operationId": "getLedgerAccounts",
        "parameters": [
          {
            "name": "balance",
            "in": "query",
            "description": "calculate balance of accounts",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountDataWrapper"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/AccountDataWrapper"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "502": {
            "$ref": "#/components/responses/BadGateway"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeout"
          }
        },
        "x-rights-needed": "gateway_accounts_zone:LEVEL_1"
      }
    },
    "/masterdata/currencies": {
      "get": {
        "tags": [
          "Master Data"
        ],
        "summary": "List currencies",
        "description": "List currencies - User rights needed: gateway_masterdata_zone:LEVEL_1",
        "operationId": "getCurrencies",
        "parameters": [
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CurrencyDataWrapper"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/CurrencyDataWrapper"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "502": {
            "$ref": "#/components/responses/BadGateway"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeout"
          }
        },
        "x-rights-needed": "gateway_masterdata_zone:LEVEL_1"
      }
    },
    "/masterdata/currencies/{currencyId}": {
      "get": {
        "tags": [
          "Master Data"
        ],
        "summary": "Get specific currency",
        "description": "Get currency with specific id - User rights needed: gateway_masterdata_zone:LEVEL_1",
        "operationId": "getCurrency",
        "parameters": [
          {
            "name": "currencyId",
            "in": "path",
            "description": "id of the currency",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CurrencyData"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/CurrencyData"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "502": {
            "$ref": "#/components/responses/BadGateway"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeout"
          }
        },
        "x-rights-needed": "gateway_masterdata_zone:LEVEL_1"
      }
    },
    "/contacts/{id}": {
      "get": {
        "tags": [
          "Contacts"
        ],
        "summary": "Get specific contact",
        "description": "Get contact with specific id - User rights needed: gateway_contacts_zone:LEVEL_1",
        "operationId": "getContact",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "id of the contact",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/changedFrom"
          },
          {
            "$ref": "#/components/parameters/changedTo"
          }
        ],
        "responses": {
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactData"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ContactData"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "502": {
            "$ref": "#/components/responses/BadGateway"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeout"
          }
        },
        "x-rights-needed": "gateway_contacts_zone:LEVEL_1"
      }
    },
    "/contacts/ref/{ref}": {
      "get": {
        "tags": [
          "Contacts"
        ],
        "summary": "Get specific contact",
        "description": "Get contact with specific Referenz - User rights needed: gateway_contacts_zone:LEVEL_1",
        "operationId": "getContactbyReference",
        "parameters": [
          {
            "name": "ref",
            "in": "path",
            "description": "reference of the contact",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/changedFrom"
          },
          {
            "$ref": "#/components/parameters/changedTo"
          }
        ],
        "responses": {
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactData"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ContactData"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "502": {
            "$ref": "#/components/responses/BadGateway"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeout"
          }
        },
        "x-rights-needed": "gateway_contacts_zone:LEVEL_1"
      }
    },
    "/contacts": {
      "get": {
        "tags": [
          "Contacts"
        ],
        "summary": "List contacts",
        "description": "List contacts - User rights needed: gateway_contacts_zone:LEVEL_1",
        "operationId": "getContacts",
        "parameters": [
          {
            "$ref": "#/components/parameters/changedFrom"
          },
          {
            "$ref": "#/components/parameters/changedTo"
          },
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactDataWrapper"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ContactDataWrapper"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "502": {
            "$ref": "#/components/responses/BadGateway"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeout"
          }
        },
        "x-rights-needed": "gateway_contacts_zone:LEVEL_1"
      },
      "post": {
        "tags": [
          "Contacts"
        ],
        "summary": "Import contact",
        "description": "Import contact data - User rights needed: gateway_contacts_zone:LEVEL_3",
        "operationId": "importContact",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContactImport"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/ContactImport"
              }
            }
          },
          "required": true
        },
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactData"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ContactData"
                }
              }
            }
          },
          "200": {
            "description": "default response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactData"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ContactData"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "502": {
            "$ref": "#/components/responses/BadGateway"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeout"
          }
        },
        "x-rights-needed": "gateway_contacts_zone:LEVEL_3"
      }
    },
    "/contacts/{id}/advertising": {
      "put": {
        "tags": [
          "Contacts"
        ],
        "summary": "Configure advertising for contact",
        "description": "Configure advertising for contact with specific id - User rights needed: gateway_contacts_zone:LEVEL_3",
        "operationId": "putAdvertisingConfigForContact",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "id of the contact",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdvertisingConfig"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/AdvertisingConfig"
              }
            }
          },
          "required": true
        },
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactData"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ContactData"
                }
              }
            }
          },
          "200": {
            "description": "default response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactData"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ContactData"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "502": {
            "$ref": "#/components/responses/BadGateway"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeout"
          }
        },
        "x-rights-needed": "gateway_contacts_zone:LEVEL_3"
      }
    },
    "/contacts/ref/{ref}/advertising": {
      "put": {
        "tags": [
          "Contacts"
        ],
        "summary": "Configure advertising for contact",
        "description": "Configure advertising for contact with specific reference - User rights needed: gateway_contacts_zone:LEVEL_3",
        "operationId": "putAdvertisingConfigForContactByReference",
        "parameters": [
          {
            "name": "ref",
            "in": "path",
            "description": "reference of the contact",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdvertisingConfig"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/AdvertisingConfig"
              }
            }
          },
          "required": true
        },
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactData"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ContactData"
                }
              }
            }
          },
          "200": {
            "description": "default response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactData"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ContactData"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "502": {
            "$ref": "#/components/responses/BadGateway"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeout"
          }
        },
        "x-rights-needed": "gateway_contacts_zone:LEVEL_3"
      }
    },
    "/depots/{id}": {
      "get": {
        "tags": [
          "Depots"
        ],
        "summary": "Get specific depot",
        "description": "Get depot with specific id - User rights needed: gateway_depots_zone:LEVEL_1",
        "operationId": "getDepotById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "id of the depot",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DepotData"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/DepotData"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "502": {
            "$ref": "#/components/responses/BadGateway"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeout"
          }
        },
        "x-rights-needed": "gateway_depots_zone:LEVEL_1"
      }
    },
    "/depots": {
      "get": {
        "tags": [
          "Depots"
        ],
        "summary": "List depots",
        "description": "List depots - User rights needed: gateway_depots_zone:LEVEL_1",
        "operationId": "getDepots",
        "parameters": [
          {
            "name": "contactId",
            "in": "query",
            "description": "contact id",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "customerId",
            "in": "query",
            "description": "external customer id",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "type",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "branch",
            "in": "query",
            "description": "branch number",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "agent",
            "in": "query",
            "description": "agent number",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "depository",
            "in": "query",
            "description": "depository number",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DepotDataWrapper"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/DepotDataWrapper"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "502": {
            "$ref": "#/components/responses/BadGateway"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeout"
          }
        },
        "x-rights-needed": "gateway_depots_zone:LEVEL_1"
      }
    },
    "/inventory/commodities/depot/{depotId}": {
      "get": {
        "tags": [
          "Inventories"
        ],
        "summary": "List current commodity inventory of depot",
        "description": "List current commodity inventory entries of a specific depot - User rights needed: gateway_depots_zone:LEVEL_1",
        "operationId": "getCommodityInventory",
        "parameters": [
          {
            "name": "depotId",
            "in": "path",
            "description": "the id of the depot",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InventoryDataWrapper"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/InventoryDataWrapper"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "502": {
            "$ref": "#/components/responses/BadGateway"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeout"
          }
        },
        "x-rights-needed": "gateway_depots_zone:LEVEL_1"
      }
    },
    "/inventory/depot/{depotId}": {
      "get": {
        "tags": [
          "Inventories"
        ],
        "summary": "List current depot inventory",
        "description": "List current inventory entries of specific depot - User rights needed: gateway_depots_zone:LEVEL_1",
        "operationId": "getInventory",
        "parameters": [
          {
            "name": "depotId",
            "in": "path",
            "description": "the id of the depot",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InventoryDataWrapper"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/InventoryDataWrapper"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "502": {
            "$ref": "#/components/responses/BadGateway"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeout"
          }
        },
        "x-rights-needed": "gateway_depots_zone:LEVEL_1"
      }
    },
    "/inventory/notes/depot/{depotId}": {
      "get": {
        "tags": [
          "Inventories"
        ],
        "summary": "List current note inventory of depot",
        "description": "List current note inventory entries of a specific depot - User rights needed: gateway_depots_zone:LEVEL_1",
        "operationId": "getNoteInventory",
        "parameters": [
          {
            "name": "depotId",
            "in": "path",
            "description": "the id of the depot",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InventoryDataWrapper"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/InventoryDataWrapper"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "502": {
            "$ref": "#/components/responses/BadGateway"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeout"
          }
        },
        "x-rights-needed": "gateway_depots_zone:LEVEL_1"
      }
    },
    "/lorovaluationresult/depot/{depotId}": {
      "get": {
        "tags": [
          "LoroDepotValuationResult"
        ],
        "summary": "List depot valuations",
        "description": "List results of depot valuation for specific depot - User rights needed: gateway_depots_zone:LEVEL_1",
        "operationId": "getValuationResult",
        "parameters": [
          {
            "name": "depotId",
            "in": "path",
            "description": "id of the depot",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "$ref": "#/components/parameters/date"
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoroDepotValuationDataWrapper"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/LoroDepotValuationDataWrapper"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "502": {
            "$ref": "#/components/responses/BadGateway"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeout"
          }
        },
        "x-rights-needed": "gateway_depots_zone:LEVEL_1"
      }
    },
    "/lorovaluationresult/date/{datePath}": {
      "get": {
        "tags": [
          "LoroDepotValuationResult"
        ],
        "summary": "List depot valuations for date",
        "description": "List results of depot valuation for specific date - User rights needed: gateway_depots_zone:LEVEL_1",
        "operationId": "getValuationResultDay",
        "parameters": [
          {
            "$ref": "#/components/parameters/datePath"
          },
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoroDepotValuationDataWrapper"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/LoroDepotValuationDataWrapper"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "502": {
            "$ref": "#/components/responses/BadGateway"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeout"
          }
        },
        "x-rights-needed": "gateway_depots_zone:LEVEL_1"
      }
    },
    "/positionaccount/{accountNumber}": {
      "get": {
        "tags": [
          "Position Accounts"
        ],
        "summary": "Returns position account",
        "description": "Returns position account - User rights needed: gateway_depots_zone:LEVEL_1",
        "operationId": "getPositionAccount",
        "parameters": [
          {
            "name": "accountNumber",
            "in": "path",
            "description": "number of the position account",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PositionAccountData"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PositionAccountData"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "502": {
            "$ref": "#/components/responses/BadGateway"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeout"
          }
        },
        "x-rights-needed": "gateway_depots_zone:LEVEL_1"
      }
    },
    "/positionaccount/{accountNumber}/inventory": {
      "get": {
        "tags": [
          "Position Accounts"
        ],
        "summary": "Returns inventory of position account",
        "description": "Returns inventory of position account - User rights needed: gateway_depots_zone:LEVEL_1",
        "operationId": "getPositionAccountInventory",
        "parameters": [
          {
            "name": "accountNumber",
            "in": "path",
            "description": "number of the position account",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/date"
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PositionAccountInventoryDataWrapper"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PositionAccountInventoryDataWrapper"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "502": {
            "$ref": "#/components/responses/BadGateway"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeout"
          }
        },
        "x-rights-needed": "gateway_depots_zone:LEVEL_1"
      }
    },
    "/positionaccount": {
      "get": {
        "tags": [
          "Position Accounts"
        ],
        "summary": "List position accounts",
        "description": "List position accounts - User rights needed: gateway_depots_zone:LEVEL_1",
        "operationId": "getPositionAccounts",
        "parameters": [
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PositionAccountDataWrapper"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PositionAccountDataWrapper"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "502": {
            "$ref": "#/components/responses/BadGateway"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeout"
          }
        },
        "x-rights-needed": "gateway_depots_zone:LEVEL_1"
      }
    },
    "/masterdata/commodityCategories/{id}": {
      "get": {
        "tags": [
          "Master Data"
        ],
        "summary": "Get specific commodity category",
        "description": "Get commodity category with specific id - User rights needed: gateway_masterdata_zone:LEVEL_1",
        "operationId": "getCommodityCategory",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommodityCategoryData"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/CommodityCategoryData"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "502": {
            "$ref": "#/components/responses/BadGateway"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeout"
          }
        },
        "x-rights-needed": "gateway_masterdata_zone:LEVEL_1"
      }
    },
    "/masterdata/commodityCategories": {
      "get": {
        "tags": [
          "Master Data"
        ],
        "summary": "List commodity categories",
        "description": "List commodity categories - User rights needed: gateway_masterdata_zone:LEVEL_1",
        "operationId": "getCommodityCategory_1",
        "parameters": [
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommodityCategoryDataWrapper"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/CommodityCategoryDataWrapper"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "502": {
            "$ref": "#/components/responses/BadGateway"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeout"
          }
        },
        "x-rights-needed": "gateway_masterdata_zone:LEVEL_1"
      }
    },
    "/instruments/commodities/{instrumentId}": {
      "get": {
        "tags": [
          "Instruments"
        ],
        "summary": "Details about specific commodity instrument",
        "description": "Get commodity instrument with specific id - User rights needed: gateway_masterdata_zone:LEVEL_1",
        "operationId": "getCommodityInstrument",
        "parameters": [
          {
            "name": "instrumentId",
            "in": "path",
            "description": "id of the commodity instrument",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommodityInstrumentData"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/CommodityInstrumentData"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "502": {
            "$ref": "#/components/responses/BadGateway"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeout"
          }
        },
        "x-rights-needed": "gateway_masterdata_zone:LEVEL_1"
      }
    },
    "/instruments/commodities": {
      "get": {
        "tags": [
          "Instruments"
        ],
        "summary": "List of all commodity instruments",
        "description": "List commodities - User rights needed: gateway_masterdata_zone:LEVEL_1",
        "operationId": "getCommodityInstruments",
        "parameters": [
          {
            "name": "productCode",
            "in": "query",
            "description": "instrument product code",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "customerDepotAllowed",
            "in": "query",
            "description": "customer depot allowed (yes/no)",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/branchShopBuyAllowed"
          },
          {
            "$ref": "#/components/parameters/branchShopSellAllowed"
          },
          {
            "name": "customer",
            "in": "query",
            "description": "customer id",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "underlying",
            "in": "query",
            "description": "underlying id",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "currency",
            "in": "query",
            "description": "currency",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "defaultSymbol",
            "in": "query",
            "description": "default symbol",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommodityInstrumentDataWrapper"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/CommodityInstrumentDataWrapper"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "502": {
            "$ref": "#/components/responses/BadGateway"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeout"
          }
        },
        "x-rights-needed": "gateway_masterdata_zone:LEVEL_1"
      }
    },
    "/instruments/fees/{instrumentId}": {
      "get": {
        "tags": [
          "Instruments"
        ],
        "summary": "Details about specific fee instrument",
        "description": "Get fee instrument with specific id - User rights needed: gateway_masterdata_zone:LEVEL_1",
        "operationId": "getFeeInstrument",
        "parameters": [
          {
            "name": "instrumentId",
            "in": "path",
            "description": "id of the fee instrument",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FeeInstrumentData"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/FeeInstrumentData"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "502": {
            "$ref": "#/components/responses/BadGateway"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeout"
          }
        },
        "x-rights-needed": "gateway_masterdata_zone:LEVEL_1"
      }
    },
    "/instruments/fees": {
      "get": {
        "tags": [
          "Instruments"
        ],
        "summary": "List of all fee instruments",
        "description": "List fees - User rights needed: gateway_masterdata_zone:LEVEL_1",
        "operationId": "getFeeInstruments",
        "parameters": [
          {
            "name": "productCode",
            "in": "query",
            "description": "instrument product code",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "currency",
            "in": "query",
            "description": "currency",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "defaultSymbol",
            "in": "query",
            "description": "default symbol",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FeeInstrumentDataWrapper"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/FeeInstrumentDataWrapper"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "502": {
            "$ref": "#/components/responses/BadGateway"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeout"
          }
        },
        "x-rights-needed": "gateway_masterdata_zone:LEVEL_1"
      }
    },
    "/instruments/{instrumentId}": {
      "get": {
        "tags": [
          "Instruments"
        ],
        "summary": "Get specific instrument",
        "description": "Get instrument with specific id - User rights needed: gateway_masterdata_zone:LEVEL_1",
        "operationId": "getInstrument",
        "parameters": [
          {
            "name": "instrumentId",
            "in": "path",
            "description": "id of the instrument",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InstrumentData"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/InstrumentData"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "502": {
            "$ref": "#/components/responses/BadGateway"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeout"
          }
        },
        "x-rights-needed": "gateway_masterdata_zone:LEVEL_1"
      }
    },
    "/instruments": {
      "get": {
        "tags": [
          "Instruments"
        ],
        "summary": "List instruments",
        "description": "List instruments - User rights needed: gateway_masterdata_zone:LEVEL_1",
        "operationId": "getInstruments",
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "description": "instrument type e.g. 'Commodity' or 'Note'",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "productCode",
            "in": "query",
            "description": "instrument product code",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "customerDepotAllowed",
            "in": "query",
            "description": "customer depot allowed (yes/no)",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/branchShopBuyAllowed"
          },
          {
            "$ref": "#/components/parameters/branchShopSellAllowed"
          },
          {
            "name": "customer",
            "in": "query",
            "description": "customer id",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "underlying",
            "in": "query",
            "description": "underlying id",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "currency",
            "in": "query",
            "description": "base currency for notes e.g. 'USD'",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "defaultSymbol",
            "in": "query",
            "description": "default symbol",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InstrumentDataWrapper"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/InstrumentDataWrapper"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "502": {
            "$ref": "#/components/responses/BadGateway"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeout"
          }
        },
        "x-rights-needed": "gateway_masterdata_zone:LEVEL_1"
      }
    },
    "/instruments/notes/{instrumentId}": {
      "get": {
        "tags": [
          "Instruments"
        ],
        "summary": "Details about specific note instrument",
        "description": "Get note instrument with specific id - User rights needed: gateway_masterdata_zone:LEVEL_1",
        "operationId": "getNoteInstrument",
        "parameters": [
          {
            "name": "instrumentId",
            "in": "path",
            "description": "id of the note instrument",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoteInstrumentData"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/NoteInstrumentData"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "502": {
            "$ref": "#/components/responses/BadGateway"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeout"
          }
        },
        "x-rights-needed": "gateway_masterdata_zone:LEVEL_1"
      }
    },
    "/instruments/notes": {
      "get": {
        "tags": [
          "Instruments"
        ],
        "summary": "List of all note instruments",
        "description": "List notes - User rights needed: gateway_masterdata_zone:LEVEL_1",
        "operationId": "getNoteInstruments",
        "parameters": [
          {
            "name": "productCode",
            "in": "query",
            "description": "instrument product code",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "customerDepotAllowed",
            "in": "query",
            "description": "customer depot allowed (yes/no)",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/branchShopBuyAllowed"
          },
          {
            "$ref": "#/components/parameters/branchShopSellAllowed"
          },
          {
            "name": "customer",
            "in": "query",
            "description": "customer id",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "currency",
            "in": "query",
            "description": "base currency e.g. 'USD'",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "defaultSymbol",
            "in": "query",
            "description": "default symbol",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoteInstrumentDataWrapper"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/NoteInstrumentDataWrapper"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "502": {
            "$ref": "#/components/responses/BadGateway"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeout"
          }
        },
        "x-rights-needed": "gateway_masterdata_zone:LEVEL_1"
      }
    },
    "/underlyings": {
      "get": {
        "tags": [
          "Underlying Commodities"
        ],
        "summary": "List underlying commodities",
        "description": "List underlying commodities - User rights needed: gateway_masterdata_zone:LEVEL_1",
        "operationId": "getUnderlyingCommoditities",
        "parameters": [
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnderlyingCommodityDataWrapper"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/UnderlyingCommodityDataWrapper"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "502": {
            "$ref": "#/components/responses/BadGateway"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeout"
          }
        },
        "x-rights-needed": "gateway_masterdata_zone:LEVEL_1"
      }
    },
    "/underlyings/{id}": {
      "get": {
        "tags": [
          "Underlying Commodities"
        ],
        "summary": "Get underlying commodity",
        "description": "Get underlying commodity - User rights needed: gateway_masterdata_zone:LEVEL_1",
        "operationId": "getUnderlyingCommodity",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "id of the underlying commodity",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnderlyingCommodityData"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/UnderlyingCommodityData"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "502": {
            "$ref": "#/components/responses/BadGateway"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeout"
          }
        },
        "x-rights-needed": "gateway_masterdata_zone:LEVEL_1"
      }
    },
    "/logistic/order/{orderId}/sent": {
      "put": {
        "tags": [
          "Logistic"
        ],
        "summary": "Confirm shipping and save shipping information",
        "description": "Confirm shipment and save shipping information for order - User rights needed: gateway_logistic_zone:LEVEL_2",
        "operationId": "notifySentByOrder",
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "description": "id of the order",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ShippingInfo"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/ShippingInfo"
              }
            }
          },
          "required": true
        },
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LogisticResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/LogisticResponse"
                }
              }
            }
          },
          "200": {
            "description": "default response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LogisticResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/LogisticResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "502": {
            "$ref": "#/components/responses/BadGateway"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeout"
          }
        },
        "x-rights-needed": "gateway_logistic_zone:LEVEL_2"
      }
    },
    "/logistic/ref/{externalRef}/sent": {
      "put": {
        "tags": [
          "Logistic"
        ],
        "summary": "Confirm shipping and save shipping information",
        "description": "Confirm shipment and save shipping information for external reference - User rights needed: gateway_logistic_zone:LEVEL_2",
        "operationId": "notifySentByReference",
        "parameters": [
          {
            "name": "externalRef",
            "in": "path",
            "description": "external reference",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ShippingInfo"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/ShippingInfo"
              }
            }
          },
          "required": true
        },
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LogisticResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/LogisticResponse"
                }
              }
            }
          },
          "200": {
            "description": "default response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LogisticResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/LogisticResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "502": {
            "$ref": "#/components/responses/BadGateway"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeout"
          }
        },
        "x-rights-needed": "gateway_logistic_zone:LEVEL_2"
      }
    },
    "/orders/cancelOrder": {
      "put": {
        "tags": [
          "Orders"
        ],
        "summary": "Cancel order",
        "description": "Cancel order - User rights needed: gateway_transactiondata_zone:LEVEL_2",
        "operationId": "cancelOrder",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CancelOrderRequest"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/CancelOrderRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderInteractionResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/OrderInteractionResponse"
                }
              }
            }
          },
          "200": {
            "description": "default response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderInteractionResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/OrderInteractionResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestOrder"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "502": {
            "$ref": "#/components/responses/BadGateway"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeout"
          }
        },
        "x-rights-needed": "gateway_transactiondata_zone:LEVEL_2"
      }
    },
    "/orders/createOrder": {
      "post": {
        "tags": [
          "Orders"
        ],
        "summary": "Create order with template",
        "description": "Create a new order using a order template - User rights needed: gateway_transactiondata_zone:LEVEL_2",
        "operationId": "createOrder",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ICreateOrderRequest"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/ICreateOrderRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderInteractionResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/OrderInteractionResponse"
                }
              }
            }
          },
          "200": {
            "description": "default response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderInteractionResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/OrderInteractionResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestOrder"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "502": {
            "$ref": "#/components/responses/BadGateway"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeout"
          }
        },
        "x-rights-needed": "gateway_transactiondata_zone:LEVEL_2"
      }
    },
    "/orders/executeOrder": {
      "put": {
        "tags": [
          "Orders"
        ],
        "summary": "Execute order",
        "description": "Execute order - User rights needed: gateway_transactiondata_zone:LEVEL_2",
        "operationId": "executeOrder",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExecuteOrderRequest"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/ExecuteOrderRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderInteractionResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/OrderInteractionResponse"
                }
              }
            }
          },
          "200": {
            "description": "default response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderInteractionResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/OrderInteractionResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestOrder"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "502": {
            "$ref": "#/components/responses/BadGateway"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeout"
          }
        },
        "x-rights-needed": "gateway_transactiondata_zone:LEVEL_2"
      }
    },
    "/orders/{id}": {
      "get": {
        "tags": [
          "Orders"
        ],
        "summary": "Get specific order",
        "description": "Get order with specific id - User rights needed: gateway_transactiondata_zone:LEVEL_1",
        "operationId": "getOrderById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderData"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/OrderData"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "502": {
            "$ref": "#/components/responses/BadGateway"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeout"
          }
        },
        "x-rights-needed": "gateway_transactiondata_zone:LEVEL_1"
      }
    },
    "/orders": {
      "get": {
        "tags": [
          "Orders"
        ],
        "summary": "List orders",
        "description": "List orders - User rights needed: gateway_transactiondata_zone:LEVEL_1",
        "operationId": "getOrders",
        "parameters": [
          {
            "name": "tradeId",
            "in": "query",
            "description": "trade id",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderDataWrapper"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/OrderDataWrapper"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "502": {
            "$ref": "#/components/responses/BadGateway"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeout"
          }
        },
        "x-rights-needed": "gateway_transactiondata_zone:LEVEL_1"
      }
    },
    "/orders/rejectOrder": {
      "put": {
        "tags": [
          "Orders"
        ],
        "summary": "Reject order",
        "description": "Reject order - User rights needed: gateway_transactiondata_zone:LEVEL_2",
        "operationId": "rejectOrder",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RejectOrderRequest"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/RejectOrderRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderInteractionResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/OrderInteractionResponse"
                }
              }
            }
          },
          "200": {
            "description": "default response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderInteractionResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/OrderInteractionResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestOrder"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "502": {
            "$ref": "#/components/responses/BadGateway"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeout"
          }
        },
        "x-rights-needed": "gateway_transactiondata_zone:LEVEL_2"
      }
    },
    "/trades/id/{id}": {
      "get": {
        "tags": [
          "Trades"
        ],
        "summary": "Get specific trade",
        "description": "Get trade with specific technical id - User rights needed: gateway_transactiondata_zone:LEVEL_1",
        "operationId": "getTradeById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TradeData"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/TradeData"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "502": {
            "$ref": "#/components/responses/BadGateway"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeout"
          }
        },
        "x-rights-needed": "gateway_transactiondata_zone:LEVEL_1"
      }
    },
    "/trades/tradeId/{tradeId}": {
      "get": {
        "tags": [
          "Trades"
        ],
        "summary": "Get specific trade",
        "description": "Get trade with specific business id - User rights needed: gateway_transactiondata_zone:LEVEL_1",
        "operationId": "getTradeByTradeId",
        "parameters": [
          {
            "name": "tradeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TradeData"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/TradeData"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "502": {
            "$ref": "#/components/responses/BadGateway"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeout"
          }
        },
        "x-rights-needed": "gateway_transactiondata_zone:LEVEL_1"
      }
    },
    "/trades": {
      "get": {
        "tags": [
          "Trades"
        ],
        "summary": "List trades",
        "description": "List trades - User rights needed: gateway_transactiondata_zone:LEVEL_1",
        "operationId": "getTrades",
        "parameters": [
          {
            "$ref": "#/components/parameters/tradeInstrumentTypeParam"
          },
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/startDate"
          },
          {
            "$ref": "#/components/parameters/endDate"
          },
          {
            "$ref": "#/components/parameters/tradeInsertDateStartParam"
          },
          {
            "$ref": "#/components/parameters/tradeInsertDateEndParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TradeDataWrapper"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/TradeDataWrapper"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "502": {
            "$ref": "#/components/responses/BadGateway"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeout"
          }
        },
        "x-rights-needed": "gateway_transactiondata_zone:LEVEL_1"
      }
    },
    "/trades/order/{id}": {
      "get": {
        "tags": [
          "Trades"
        ],
        "summary": "List trades of order",
        "description": "List trades of specific order - User rights needed: gateway_transactiondata_zone:LEVEL_1",
        "operationId": "getTradesByOrder",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
[...]
