{
  "openapi": "3.0.1",
  "info": {
    "title": "Fortiva Services",
    "description": "",
    "version": "v1",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/PRAKASHAKUTHOTA_1/fortiva-services/v1"
  },
  "servers": [
    {
      "url": "https://snapidev.azure.sleepnumber.com/snint/fortiva/v1"
    },
    {
      "url": "https://snapitst.azure.sleepnumber.com/snint/fortiva/v1"
    },
    {
      "url": "https://snapistg.azure.sleepnumber.com/snint/fortiva/v1"
    },
    {
      "url": "https://snapi.azure.sleepnumber.com/snint/fortiva/v1"
    }
  ],
  "paths": {
    "/submit-application": {
      "post": {
        "summary": "Submit Application",
        "description": "Submit application",
        "operationId": "submit-application",
        "requestBody": {
          "description": "The request body.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SubmitApplicationRequest"
              },
              "examples": {
                "default": {
                  "summary": "",
                  "description": "",
                  "value": {
                    "app": {
                      "addressLine1": "5 CONCOURSE PKWY",
                      "addressLine2": "STE 300",
                      "cellPhoneNumber": "7708282200",
                      "city": "ATLANTA",
                      "clientIP": "X.X.X.X",
                      "customerPresent": "N",
                      "dobStr": "2001-04-01",
                      "emailAddress": "XXXXXX",
                      "firstLenderName": "XXXXXX",
                      "firstLook": "N",
                      "firstName": "MIMIC",
                      "firstOfferAmount": "XXXXX",
                      "homePhoneNumber": "7708282200",
                      "internetChannel": "N",
                      "lastName": "APPROVE",
                      "monthlyIncome": 2500,
                      "monthlyIncomeIndicator": "G",
                      "posSystemId": "XXXXXX",
                      "programType": "SUBPRIME",
                      "ssn": "34246215",
                      "stateCode": "GA",
                      "topOffInd": "N",
                      "transactionAmount": "0",
                      "workPhoneNumber": "7708282200",
                      "zipFive": "30328"
                    },
                    "clientInfo": {
                      "language": "en",
                      "leadGenCompanyId": "XXXXXX",
                      "leadGenLocationId": "XXXXXX",
                      "leadGenName": "XXXXXX",
                      "lineOfBusiness": "1",
                      "referenceNumber": "32007439"
                    },
                    "promotion": {
                      "paperless": "Y"
                    },
                    "userDataField": {
                      "userDataField2": "XXXX",
                      "userDataField3": "XXXX",
                      "userDataField4": "XXXX",
                      "userDataField6": "XXXX",
                      "userDateField5": "XXXX"
                    }
                  },
                  "externalValue": ""
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubmitApplicationResponse"
                },
                "examples": {
                  "default": {
                    "summary": "",
                    "description": "",
                    "value": {
                      "accountId": "11989500586012",
                      "applicationId": "3348052",
                      "applicationOutcome": "A",
                      "applicationUID": "32007439",
                      "customerServiceNumber": "1-888-247-0237",
                      "documentContents": {
                        "documentContent": [
                          {
                            "documentCode": "4",
                            "documentImage": "....",
                            "documentImageHtml": "...."
                          },
                          {
                            "documentCode": "5",
                            "documentImage": "",
                            "documentImageHtml": ""
                          }
                        ]
                      },
                      "merchantServiceNumber": "1-866-290-2835",
                      "offerExpirationDate": "11-21-2018 02:45 PM EST",
                      "responseOffers": {
                        "responseOffer": [
                          {
                            "accountMaintenanceFee": "120",
                            "annualFee": "0",
                            "annualFeeFuture": "49",
                            "annualFeeFutureInd": "N",
                            "apr": 29.99,
                            "cashAdvanceApr": "0.05",
                            "color": "Tier 1",
                            "creditLimit": 7500,
                            "duration": "24",
                            "financeCharges": "12.67",
                            "latePaymentFee": "15",
                            "maxMonthlyPayment": "123.45",
                            "minPaymentAmt": 30,
                            "minPaymentPct": "5.59",
                            "offerId": 3830,
                            "offerUID": "393830",
                            "penaltyAPR": "29.99",
                            "periodicRate": "4992-02-01",
                            "primeRateType": "V",
                            "returnedPaymentFee": "20"
                          }
                        ]
                      }
                    },
                    "externalValue": ""
                  }
                }
              }
            }
          }
        }
      }
    },
    "/accept-offer": {
      "post": {
        "summary": "Accept Offer",
        "description": "Accept Offer",
        "operationId": "accept-offer",
        "requestBody": {
          "description": "The request body.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AcceptOfferRequest"
              },
              "examples": {
                "default": {
                  "summary": "",
                  "description": "",
                  "value": {
                    "accept": {
                      "acceptedOfferId": "XXXX",
                      "acceptedOfferUID": "XXXXXX",
                      "applicationId": "XXXXXXXXX",
                      "btAccepted": "N",
                      "emailAddress": "XXXXXX",
                      "lastName": "XXXXXXXX"
                    },
                    "clientInfo": {
                      "language": "en",
                      "leadGenCompanyId": "XXXXXX",
                      "leadGenLocationId": "XXXXXX",
                      "leadGenName": "XXXXXX",
                      "lineOfBusiness": "1",
                      "referenceNumber": "32007439"
                    },
                    "promotion": {
                      "paperless": "Y"
                    }
                  },
                  "externalValue": ""
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AcceptOfferResponse"
                },
                "examples": {
                  "default": {
                    "summary": "",
                    "description": "",
                    "value": {
                      "accountId": "11989500586012",
                      "accountNumber": "8888881198586011",
                      "applicationOutcome": "S",
                      "customerServiceNumber": "1-888-247-0237",
                      "documentContents": {
                        "documentContent": [
                          {
                            "documentCode": "6",
                            "documentImage": "",
                            "documentImageHtml": ""
                          }
                        ]
                      },
                      "merchantServiceNumber": "1-866-290-2835",
                      "responseOffers": {
                        "responseOffer": [
                          {
                            "accountMaintenanceFee": "120",
                            "annualFee": "99",
                            "annualFeeFuture": "49",
                            "annualFeeFutureInd": "N",
                            "apr": 29.99,
                            "cashAdvanceApr": "0.05",
                            "color": "Tier 1",
                            "creditLimit": 7500,
                            "duration": "24",
                            "financeCharges": "12.67",
                            "latePaymentFee": "15",
                            "maxMonthlyPayment": "123.45",
                            "minPaymentAmt": 30,
                            "minPaymentPct": "5.59",
                            "offerId": 3830,
                            "offerUID": "393830",
                            "penaltyAPR": "29.99",
                            "periodicRate": "4992-02-01",
                            "primeRateType": "V",
                            "returnedPaymentFee": "20"
                          }
                        ]
                      }
                    },
                    "externalValue": ""
                  }
                }
              }
            }
          }
        }
      }
    },
    "/submit-transaction": {
      "post": {
        "summary": "Submit Transaction",
        "description": "Submit Transaction",
        "operationId": "submit-transaction",
        "requestBody": {
          "description": "The request body.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SubmitTransactionRequest"
              },
              "examples": {
                "default": {
                  "summary": "",
                  "description": "",
                  "value": {
                    "accountLookup": {
                      "accountId": "XXXXXXXXXXXXX",
                      "accountNumber": "XXXXXXXXXXXXXXX",
                      "immediateDelivery": "N",
                      "transactionAmount": 10,
                      "transactionType": "SALE"
                    },
                    "clientInfo": {
                      "language": "en",
                      "leadGenCompanyId": "XXXXXX",
                      "leadGenLocationId": "XXXXXX",
                      "leadGenName": "XXXXXX",
                      "lineOfBusiness": "1",
                      "referenceNumber": "32007439"
                    },
                    "shippingAddress": {
                      "addressLine1": "5 CONCOURSE PKWY",
                      "addressLine2": "STE 300",
                      "city": "ATLANTA",
                      "stateCode": "GA",
                      "zipCode": "30328"
                    },
                    "userDataField": {
                      "userDataField2": "XXXX",
                      "userDataField3": "XXXX",
                      "userDataField4": "XXXX",
                      "userDataField6": "XXXX",
                      "userDateField5": "XXXX"
                    }
                  },
                  "externalValue": ""
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubmitTransactionResponse"
                },
                "examples": {
                  "default": {
                    "summary": "",
                    "description": "",
                    "value": {
                      "transactionOutcome": {
                        "accountId": "11989500586012",
                        "authCode": "067538",
                        "openToBuy": 7400,
                        "transactionDateTime": "20181107153939",
                        "transactionId": "1067538",
                        "transactionOutcome": "A",
                        "transactionResult": "A"
                      },
                      "transactionOutcomeDetail": {
                        "authorizationId": "067538"
                      }
                    },
                    "externalValue": ""
                  }
                }
              }
            }
          }
        }
      }
    },
    "/reject-offer": {
      "post": {
        "summary": "Reject Offer",
        "description": "Reject Offer",
        "operationId": "reject-offer",
        "requestBody": {
          "description": "The request body.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RejectOfferRequest"
              },
              "examples": {
                "default": {
                  "summary": "",
                  "description": "",
                  "value": {
                    "clientInfo": {
                      "language": "en",
                      "leadGenCompanyId": "XXXXXX",
                      "leadGenLocationId": "XXXXXX",
                      "leadGenName": "XXXXXX",
                      "lineOfBusiness": "1",
                      "referenceNumber": "32007439"
                    },
                    "reject": {
                      "applicationId": "XXXXXXX",
                      "lastName": "XXXXXXX"
                    }
                  },
                  "externalValue": ""
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RejectOfferResponse"
                },
                "examples": {
                  "default": {
                    "summary": "",
                    "description": "",
                    "value": {
                      "applicationOutcome": "S"
                    },
                    "externalValue": ""
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ClientInfo": {
        "type": "object",
        "properties": {
          "language": {
            "type": "string",
            "description": "Language code"
          },
          "leadGenCompanyId": {
            "type": "string",
            "description": "Lead generation company ID"
          },
          "leadGenLocationId": {
            "type": "string",
            "description": "Lead generation location ID"
          },
          "leadGenName": {
            "type": "string",
            "description": "Lead generation name"
          },
          "lineOfBusiness": {
            "type": "string",
            "description": "Line of business identifier"
          },
          "referenceNumber": {
            "type": "string",
            "description": "Reference number for the request"
          }
        }
      },
      "Promotion": {
        "type": "object",
        "properties": {
          "paperless": {
            "type": "string",
            "description": "Paperless indicator (Y/N)"
          }
        }
      },
      "UserDataField": {
        "type": "object",
        "properties": {
          "userDataField2": {
            "type": "string",
            "description": "User data field 2"
          },
          "userDataField3": {
            "type": "string",
            "description": "User data field 3"
          },
          "userDataField4": {
            "type": "string",
            "description": "User data field 4"
          },
          "userDataField6": {
            "type": "string",
            "description": "User data field 6"
          },
          "userDateField5": {
            "type": "string",
            "description": "User date field 5"
          }
        }
      },
      "DocumentContent": {
        "type": "object",
        "properties": {
          "documentCode": {
            "type": "string",
            "description": "Document code identifier"
          },
          "documentImage": {
            "type": "string",
            "description": "Base64 encoded document image"
          },
          "documentImageHtml": {
            "type": "string",
            "description": "HTML representation of the document"
          }
        }
      },
      "DocumentContents": {
        "type": "object",
        "properties": {
          "documentContent": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DocumentContent"
            }
          }
        }
      },
      "ResponseOffer": {
        "type": "object",
        "properties": {
          "accountMaintenanceFee": {
            "type": "string",
            "description": "Account maintenance fee"
          },
          "annualFee": {
            "type": "string",
            "description": "Annual fee"
          },
          "annualFeeFuture": {
            "type": "string",
            "description": "Future annual fee"
          },
          "annualFeeFutureInd": {
            "type": "string",
            "description": "Future annual fee indicator"
          },
          "apr": {
            "type": "number",
            "format": "float",
            "description": "Annual percentage rate"
          },
          "cashAdvanceApr": {
            "type": "string",
            "description": "Cash advance APR"
          },
          "color": {
            "type": "string",
            "description": "Offer tier/color"
          },
          "creditLimit": {
            "type": "integer",
            "description": "Credit limit amount"
          },
          "duration": {
            "type": "string",
            "description": "Offer duration in months"
          },
          "financeCharges": {
            "type": "string",
            "description": "Finance charges"
          },
          "latePaymentFee": {
            "type": "string",
            "description": "Late payment fee"
          },
          "maxMonthlyPayment": {
            "type": "string",
            "description": "Maximum monthly payment"
          },
          "minPaymentAmt": {
            "type": "integer",
            "description": "Minimum payment amount"
          },
          "minPaymentPct": {
            "type": "string",
            "description": "Minimum payment percentage"
          },
          "offerId": {
            "type": "integer",
            "description": "Offer ID"
          },
          "offerUID": {
            "type": "string",
            "description": "Offer unique identifier"
          },
          "penaltyAPR": {
            "type": "string",
            "description": "Penalty APR"
          },
          "periodicRate": {
            "type": "string",
            "description": "Periodic rate"
          },
          "primeRateType": {
            "type": "string",
            "description": "Prime rate type (V=Variable)"
          },
          "returnedPaymentFee": {
            "type": "string",
            "description": "Returned payment fee"
          }
        }
      },
      "ResponseOffers": {
        "type": "object",
        "properties": {
          "responseOffer": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ResponseOffer"
            }
          }
        }
      },
      "ApplicationInfo": {
        "type": "object",
        "properties": {
          "addressLine1": {
            "type": "string",
            "description": "Primary address line"
          },
          "addressLine2": {
            "type": "string",
            "description": "Secondary address line"
          },
          "cellPhoneNumber": {
            "type": "string",
            "description": "Cell phone number"
          },
          "city": {
            "type": "string",
            "description": "City"
          },
          "clientIP": {
            "type": "string",
            "description": "Client IP address"
          },
          "customerPresent": {
            "type": "string",
            "description": "Customer present indicator (Y/N)"
          },
          "dobStr": {
            "type": "string",
            "format": "date",
            "description": "Date of birth (YYYY-MM-DD)"
          },
          "emailAddress": {
            "type": "string",
            "description": "Email address"
          },
          "firstLenderName": {
            "type": "string",
            "description": "First lender name"
          },
          "firstLook": {
            "type": "string",
            "description": "First look indicator (Y/N)"
          },
          "firstName": {
            "type": "string",
            "description": "First name"
          },
          "firstOfferAmount": {
            "type": "string",
            "description": "First offer amount"
          },
          "homePhoneNumber": {
            "type": "string",
            "description": "Home phone number"
          },
          "internetChannel": {
            "type": "string",
            "description": "Internet channel indicator (Y/N)"
          },
          "lastName": {
            "type": "string",
            "description": "Last name"
          },
          "monthlyIncome": {
            "type": "integer",
            "description": "Monthly income amount"
          },
          "monthlyIncomeIndicator": {
            "type": "string",
            "description": "Monthly income indicator"
          },
          "posSystemId": {
            "type": "string",
            "description": "POS system ID"
          },
          "programType": {
            "type": "string",
            "description": "Program type"
          },
          "ssn": {
            "type": "string",
            "description": "Social security number"
          },
          "stateCode": {
            "type": "string",
            "description": "State code (2-letter)"
          },
          "topOffInd": {
            "type": "string",
            "description": "Top off indicator (Y/N)"
          },
          "transactionAmount": {
            "type": "string",
            "description": "Transaction amount"
          },
          "workPhoneNumber": {
            "type": "string",
            "description": "Work phone number"
          },
          "zipFive": {
            "type": "string",
            "description": "5-digit ZIP code"
          }
        }
      },
      "SubmitApplicationRequest": {
        "type": "object",
        "properties": {
          "app": {
            "$ref": "#/components/schemas/ApplicationInfo"
          },
          "clientInfo": {
            "$ref": "#/components/schemas/ClientInfo"
          },
          "promotion": {
            "$ref": "#/components/schemas/Promotion"
          },
          "userDataField": {
            "$ref": "#/components/schemas/UserDataField"
          }
        }
      },
      "SubmitApplicationResponse": {
        "type": "object",
        "properties": {
          "accountId": {
            "type": "string",
            "description": "Account ID"
          },
          "applicationId": {
            "type": "string",
            "description": "Application ID"
          },
          "applicationOutcome": {
            "type": "string",
            "description": "Application outcome code (A=Approved, D=Declined, etc.)"
          },
          "applicationUID": {
            "type": "string",
            "description": "Application unique identifier"
          },
          "customerServiceNumber": {
            "type": "string",
            "description": "Customer service phone number"
          },
          "documentContents": {
            "$ref": "#/components/schemas/DocumentContents"
          },
          "merchantServiceNumber": {
            "type": "string",
            "description": "Merchant service phone number"
          },
          "offerExpirationDate": {
            "type": "string",
            "description": "Offer expiration date and time"
          },
          "responseOffers": {
            "$ref": "#/components/schemas/ResponseOffers"
          }
        }
      },
      "AcceptInfo": {
        "type": "object",
        "properties": {
          "acceptedOfferId": {
            "type": "string",
            "description": "Accepted offer ID"
          },
          "acceptedOfferUID": {
            "type": "string",
            "description": "Accepted offer unique identifier"
          },
          "applicationId": {
            "type": "string",
            "description": "Application ID"
          },
          "btAccepted": {
            "type": "string",
            "description": "Balance transfer accepted indicator (Y/N)"
          },
          "emailAddress": {
            "type": "string",
            "description": "Email address"
          },
          "lastName": {
            "type": "string",
            "description": "Last name"
          }
        }
      },
      "AcceptOfferRequest": {
        "type": "object",
        "properties": {
          "accept": {
            "$ref": "#/components/schemas/AcceptInfo"
          },
          "clientInfo": {
            "$ref": "#/components/schemas/ClientInfo"
          },
          "promotion": {
            "$ref": "#/components/schemas/Promotion"
          }
        }
      },
      "AcceptOfferResponse": {
        "type": "object",
        "properties": {
          "accountId": {
            "type": "string",
            "description": "Account ID"
          },
          "accountNumber": {
            "type": "string",
            "description": "Account number"
          },
          "applicationOutcome": {
            "type": "string",
            "description": "Application outcome code (S=Success)"
          },
          "customerServiceNumber": {
            "type": "string",
            "description": "Customer service phone number"
          },
          "documentContents": {
            "$ref": "#/components/schemas/DocumentContents"
          },
          "merchantServiceNumber": {
            "type": "string",
            "description": "Merchant service phone number"
          },
          "responseOffers": {
            "$ref": "#/components/schemas/ResponseOffers"
          }
        }
      },
      "AccountLookup": {
        "type": "object",
        "properties": {
          "accountId": {
            "type": "string",
            "description": "Account ID"
          },
          "accountNumber": {
            "type": "string",
            "description": "Account number"
          },
          "immediateDelivery": {
            "type": "string",
            "description": "Immediate delivery indicator (Y/N)"
          },
          "transactionAmount": {
            "type": "number",
            "description": "Transaction amount"
          },
          "transactionType": {
            "type": "string",
            "description": "Transaction type (e.g., SALE)"
          }
        }
      },
      "ShippingAddress": {
        "type": "object",
        "properties": {
          "addressLine1": {
            "type": "string",
            "description": "Primary address line"
          },
          "addressLine2": {
            "type": "string",
            "description": "Secondary address line"
          },
          "city": {
            "type": "string",
            "description": "City"
          },
          "stateCode": {
            "type": "string",
            "description": "State code (2-letter)"
          },
          "zipCode": {
            "type": "string",
            "description": "ZIP code"
          }
        }
      },
      "SubmitTransactionRequest": {
        "type": "object",
        "properties": {
          "accountLookup": {
            "$ref": "#/components/schemas/AccountLookup"
          },
          "clientInfo": {
            "$ref": "#/components/schemas/ClientInfo"
          },
          "shippingAddress": {
            "$ref": "#/components/schemas/ShippingAddress"
          },
          "userDataField": {
            "$ref": "#/components/schemas/UserDataField"
          }
        }
      },
      "TransactionOutcome": {
        "type": "object",
        "properties": {
          "accountId": {
            "type": "string",
            "description": "Account ID"
          },
          "authCode": {
            "type": "string",
            "description": "Authorization code"
          },
          "openToBuy": {
            "type": "integer",
            "description": "Open to buy amount"
          },
          "transactionDateTime": {
            "type": "string",
            "description": "Transaction date and time (YYYYMMDDHHmmss)"
          },
          "transactionId": {
            "type": "string",
            "description": "Transaction ID"
          },
          "transactionOutcome": {
            "type": "string",
            "description": "Transaction outcome code (A=Approved)"
          },
          "transactionResult": {
            "type": "string",
            "description": "Transaction result code"
          }
        }
      },
      "TransactionOutcomeDetail": {
        "type": "object",
        "properties": {
          "authorizationId": {
            "type": "string",
            "description": "Authorization ID"
          }
        }
      },
      "SubmitTransactionResponse": {
        "type": "object",
        "properties": {
          "transactionOutcome": {
            "$ref": "#/components/schemas/TransactionOutcome"
          },
          "transactionOutcomeDetail": {
            "$ref": "#/components/schemas/TransactionOutcomeDetail"
          }
        }
      },
      "RejectInfo": {
        "type": "object",
        "properties": {
          "applicationId": {
            "type": "string",
            "description": "Application ID"
          },
          "lastName": {
            "type": "string",
            "description": "Last name"
          }
        }
      },
      "RejectOfferRequest": {
        "type": "object",
        "properties": {
          "clientInfo": {
            "$ref": "#/components/schemas/ClientInfo"
          },
          "reject": {
            "$ref": "#/components/schemas/RejectInfo"
          }
        }
      },
      "RejectOfferResponse": {
        "type": "object",
        "properties": {
          "applicationOutcome": {
            "type": "string",
            "description": "Application outcome code (S=Success)"
          }
        }
      }
    }
  }
}