{
  "openapi": "3.0.3",
  "info": {
    "title": "Optum API & Services Connection",
    "version": "3.0.0",
    "description": "Optum's API & Services Connection provides APIs for medical network eligibility verification, professional and institutional claims submission and validation, claims status checking, claims responses and reports, attachments management, prior authorization, enhanced eligibility with coverage discovery, dental attachments, and payer list management.",
    "x-jentic-source-url": "https://developer.optum.com/eligibilityandclaims/reference",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://sandbox-apigw.optum.com"
    }
  ],
  "paths": {
    "/medicalnetwork/eligibility/v3/healthcheck": {
      "get": {
        "operationId": "eligibilityHealthCheck",
        "summary": "Health Check",
        "description": "Check the health status of the Medical Network Eligibility v3 service",
        "tags": [
          "Medical Network Eligibility v3"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/medicalnetwork/eligibility/v3/": {
      "post": {
        "operationId": "checkMedicalEligibility",
        "summary": "Check Eligibility",
        "description": "Accepts 270 EDI JSON object model and produces a JSON object model of a 271 response",
        "tags": [
          "Medical Network Eligibility v3"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/medicalnetwork/eligibility/v3/rawx12": {
      "post": {
        "operationId": "checkEligibilityX12",
        "summary": "Check Eligibility x12",
        "description": "Accepts raw x12 270 EDI transaction and produces a raw x12 271 response",
        "tags": [
          "Medical Network Eligibility v3"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/medicalnetwork/professionalclaims/v3/healthcheck": {
      "get": {
        "operationId": "professionalClaimsHealthCheck",
        "summary": "Health Check",
        "description": "Check the health status of the Professional Claims v3 service",
        "tags": [
          "Medical Network Professional Claims v3"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/medicalnetwork/professionalclaims/v3/validation": {
      "post": {
        "operationId": "validateProfessionalClaim",
        "summary": "Claim Validation",
        "description": "Validate a professional claim before submission",
        "tags": [
          "Medical Network Professional Claims v3"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/medicalnetwork/professionalclaims/v3/submission": {
      "post": {
        "operationId": "submitProfessionalClaim",
        "summary": "Claim Submission",
        "description": "Submit a professional claim for processing",
        "tags": [
          "Medical Network Professional Claims v3"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/medicalnetwork/professionalclaims/v3/rawx12/submission": {
      "post": {
        "operationId": "submitProfessionalClaimX12",
        "summary": "Claim Submission x12",
        "description": "Submit a professional claim using raw x12 837P format",
        "tags": [
          "Medical Network Professional Claims v3"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/medicalnetwork/professionalclaims/v3/rawx12/validation": {
      "post": {
        "operationId": "validateProfessionalClaimX12",
        "summary": "Claim Validation x12",
        "description": "Validate a professional claim using raw x12 837P format",
        "tags": [
          "Medical Network Professional Claims v3"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/medicalnetwork/institutionalclaims/v1/healthcheck": {
      "get": {
        "operationId": "institutionalClaimsHealthCheck",
        "summary": "Health Check",
        "description": "Check the health status of the Institutional Claims v1 service",
        "tags": [
          "Medical Network Institutional Claims v1"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/medicalnetwork/institutionalclaims/v1/validation": {
      "post": {
        "operationId": "validateInstitutionalClaim",
        "summary": "Claim Validation",
        "description": "Validate an institutional claim before submission",
        "tags": [
          "Medical Network Institutional Claims v1"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/medicalnetwork/institutionalclaims/v1/submission": {
      "post": {
        "operationId": "submitInstitutionalClaim",
        "summary": "Claim Submission",
        "description": "Submit an institutional claim for processing",
        "tags": [
          "Medical Network Institutional Claims v1"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/medicalnetwork/institutionalclaims/v1/rawx12/submission": {
      "post": {
        "operationId": "submitInstitutionalClaimX12",
        "summary": "Claim Submission x12",
        "description": "Submit an institutional claim using raw x12 837I format",
        "tags": [
          "Medical Network Institutional Claims v1"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/medicalnetwork/institutionalclaims/v1/rawx12/validation": {
      "post": {
        "operationId": "validateInstitutionalClaimX12",
        "summary": "Claim Validation x12",
        "description": "Validate an institutional claim using raw x12 837I format",
        "tags": [
          "Medical Network Institutional Claims v1"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/v2/reports/healthcheck": {
      "get": {
        "operationId": "reportsHealthCheck",
        "summary": "Health Check",
        "description": "Check the health status of the Claims Responses and Reports v2 service",
        "tags": [
          "Claims Responses and Reports v2"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/reports/": {
      "get": {
        "operationId": "listReports",
        "summary": "List Reports",
        "description": "Retrieve a list of available claim response reports",
        "tags": [
          "Claims Responses and Reports v2"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/reports/{filename}": {
      "get": {
        "operationId": "getSingleReport",
        "summary": "Get Single Report",
        "description": "Retrieve a specific report by filename",
        "tags": [
          "Claims Responses and Reports v2"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "filename",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The report filename"
          }
        ]
      },
      "delete": {
        "operationId": "deleteSingleReport",
        "summary": "Delete Single Report",
        "description": "Delete a specific report by filename",
        "tags": [
          "Claims Responses and Reports v2"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "filename",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The report filename"
          }
        ]
      }
    },
    "/v2/reports/{filename}/277": {
      "get": {
        "operationId": "convertReport277",
        "summary": "Convert Report 277",
        "description": "Convert a report to 277 format (claim status response)",
        "tags": [
          "Claims Responses and Reports v2"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "filename",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The report filename"
          }
        ]
      }
    },
    "/v2/reports/{filename}/835": {
      "get": {
        "operationId": "convertReport835",
        "summary": "Convert Report 835",
        "description": "Convert a report to 835 format (health care claim payment/advice)",
        "tags": [
          "Claims Responses and Reports v2"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "filename",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The report filename"
          }
        ]
      }
    },
    "/medicalnetwork/claimstatus/v2/healthcheck": {
      "get": {
        "operationId": "claimStatusHealthCheck",
        "summary": "Health Check",
        "description": "Check the health status of the Claim Status v2 service",
        "tags": [
          "Medical Network Claim Status v2"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/medicalnetwork/claimstatus/v2/rawx12/enhanced": {
      "post": {
        "operationId": "checkClaimStatusX12Enhanced",
        "summary": "Check Claim Status x12 (Enhanced)",
        "description": "Check claim status using enhanced raw x12 276 format",
        "tags": [
          "Medical Network Claim Status v2"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/medicalnetwork/claimstatus/v2/": {
      "post": {
        "operationId": "checkClaimStatus",
        "summary": "Check Claim Status",
        "description": "Check claim status using JSON format",
        "tags": [
          "Medical Network Claim Status v2"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/medicalnetwork/claimstatus/v2/rawx12": {
      "post": {
        "operationId": "checkClaimStatusX12",
        "summary": "Check Claim Status x12",
        "description": "Check claim status using raw x12 276 format",
        "tags": [
          "Medical Network Claim Status v2"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/medicalnetwork/attachments/v1/healthcheck": {
      "get": {
        "operationId": "attachmentSubmissionHealthCheck",
        "summary": "Health Check",
        "description": "Check the health status of the Attachment Submission v1 service",
        "tags": [
          "Attachments Submission v1"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/medicalnetwork/attachments/v1/upload": {
      "post": {
        "operationId": "submitAttachment",
        "summary": "Attachment Submission",
        "description": "Submit an attachment document",
        "tags": [
          "Attachments Submission v1"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/medicalnetwork/attachments/status/v1/healthcheck": {
      "get": {
        "operationId": "attachmentStatusHealthCheck",
        "summary": "Health Check",
        "description": "Check the health status of the Attachment Status v1 service",
        "tags": [
          "Attachment Status v1"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/medicalnetwork/attachments/status/v1/{traceId}": {
      "get": {
        "operationId": "getAttachmentStatusByTraceId",
        "summary": "Get attachment status by traceId",
        "description": "Retrieve the attachment status based on traceId",
        "tags": [
          "Attachment Status v1"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "traceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The trace ID for the attachment"
          }
        ]
      }
    },
    "/medicalnetwork/attachments/status/v1/metadata": {
      "post": {
        "operationId": "getAttachmentStatusByMetadata",
        "summary": "Get attachment status by metadata",
        "description": "Retrieve the attachment status based on metadata",
        "tags": [
          "Attachment Status v1"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/medicalnetwork/attachments/retrieval/v1/healthcheck": {
      "get": {
        "operationId": "attachmentRetrievalHealthCheck",
        "summary": "Health Check",
        "description": "Check the health status of the Attachment Retrieval v1 service",
        "tags": [
          "Attachment Retrieval v1"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/medicalnetwork/attachments/retrieval/v1/search": {
      "post": {
        "operationId": "searchAttachmentDocuments",
        "summary": "Search",
        "description": "Search for attachment documents",
        "tags": [
          "Attachment Retrieval v1"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/medicalnetwork/attachments/retrieval/v1/{documentId}": {
      "get": {
        "operationId": "downloadAttachmentDocument",
        "summary": "Download document by documentId",
        "description": "Download a document for the given documentId",
        "tags": [
          "Attachment Retrieval v1"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "documentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The document ID to download"
          }
        ]
      }
    },
    "/dentalnetwork/attachments/v1/createattachment": {
      "post": {
        "operationId": "createDentalAttachmentContainer",
        "summary": "Create Attachments Container",
        "description": "Create a new attachment container for dental documents",
        "tags": [
          "Dental Attachments"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/dentalnetwork/attachments/v1/addattachment": {
      "post": {
        "operationId": "addDentalAttachmentFiles",
        "summary": "Add Attachments Files",
        "description": "Add attachment files to an existing container",
        "tags": [
          "Dental Attachments"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/dentalnetwork/attachments/v1/{attachmentId}/updateattachmentfile/{attachmentFileId}": {
      "put": {
        "operationId": "updateDentalAttachment",
        "summary": "Update Attachments to Container",
        "description": "Update attachment files in a container",
        "tags": [
          "Dental Attachments"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "attachmentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Attachment container ID"
          },
          {
            "name": "attachmentFileId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Attachment file ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/dentalnetwork/attachments/v1/commitattachment/{attachmentId}": {
      "patch": {
        "operationId": "commitDentalAttachment",
        "summary": "Commit Attachments Container and Files",
        "description": "Commit an attachments container and its files for submission",
        "tags": [
          "Dental Attachments"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "attachmentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Attachment container ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/dentalnetwork/attachments/v1/getattachmentbyid/{attachmentId}": {
      "get": {
        "operationId": "getDentalAttachmentById",
        "summary": "Get Attachments Container",
        "description": "Retrieve an attachment container by ID",
        "tags": [
          "Dental Attachments"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "attachmentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Attachment container ID"
          }
        ]
      }
    },
    "/dentalnetwork/attachments/v1/getattachmentlist/{attachmentId}": {
      "get": {
        "operationId": "getDentalAttachmentFiles",
        "summary": "Get Attachments Files from Container",
        "description": "Get list of attachment files from a container",
        "tags": [
          "Dental Attachments"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "attachmentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Attachment container ID"
          }
        ]
      }
    },
    "/dentalnetwork/attachments/v1/{attachmentId}/deleteattachmentfile/{attachmentFileId}": {
      "delete": {
        "operationId": "deleteDentalAttachmentFile",
        "summary": "Delete Attachments File",
        "description": "Delete a specific attachment file from a container",
        "tags": [
          "Dental Attachments"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "attachmentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Attachment container ID"
          },
          {
            "name": "attachmentFileId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Attachment file ID"
          }
        ]
      }
    },
    "/dentalnetwork/attachments/v1/getallparticipatingpayers": {
      "get": {
        "operationId": "getDentalParticipatingPayers",
        "summary": "Get Participating Payers",
        "description": "Retrieve list of all participating payers for dental attachments",
        "tags": [
          "Dental Attachments"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/dentalnetwork/attachments/v1/isparticipatingpayer": {
      "get": {
        "operationId": "checkDentalParticipatingPayer",
        "summary": "Check Participating Payer by Payer ID",
        "description": "Check if a specific payer is a participating payer",
        "tags": [
          "Dental Attachments"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/dentalnetwork/attachments/v1/getpayerbusinessrules/me": {
      "get": {
        "operationId": "getDentalPayerBusinessRules",
        "summary": "Get Payer Business Rule",
        "description": "Get payer business rules for the authenticated user",
        "tags": [
          "Dental Attachments"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/rcm/eligibility/v1/eligibility": {
      "post": {
        "operationId": "submitEnhancedEligibilityRequest",
        "summary": "Submit eligibility request",
        "description": "Submit a new eligibility request for enhanced processing",
        "tags": [
          "Enhanced Eligibility v1"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/rcm/eligibility/v1/transactions": {
      "get": {
        "operationId": "findAllEligibilityTransactions",
        "summary": "Find all eligibility transactions",
        "description": "Find all eligibility transactions",
        "tags": [
          "Enhanced Eligibility v1"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/rcm/eligibility/v1/transactions/{id}": {
      "get": {
        "operationId": "findEligibilityTransactionById",
        "summary": "Find eligibility transaction by ID",
        "description": "Find a specific eligibility transaction by its ID",
        "tags": [
          "Enhanced Eligibility v1"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Transaction ID"
          }
        ]
      }
    },
    "/rcm/eligibility/v1/discovery/x12": {
      "post": {
        "operationId": "submitCoverageDiscoveryX12",
        "summary": "Submit discovery tasks with EDI",
        "description": "Submit new coverage discovery task(s) using EDI x12 format",
        "tags": [
          "Enhanced Eligibility v1"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/rcm/eligibility/v1/discovery": {
      "post": {
        "operationId": "submitCoverageDiscovery",
        "summary": "Submit discovery tasks",
        "description": "Submit new coverage discovery task(s) using JSON format",
        "tags": [
          "Enhanced Eligibility v1"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      },
      "get": {
        "operationId": "findAllDiscoveryTasks",
        "summary": "Find all discovery tasks",
        "description": "Find all coverage discovery tasks",
        "tags": [
          "Enhanced Eligibility v1"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/rcm/eligibility/v1/discovery/{id}": {
      "get": {
        "operationId": "findDiscoveryTaskById",
        "summary": "Find discovery task by ID",
        "description": "Find a specific coverage discovery task by its ID",
        "tags": [
          "Enhanced Eligibility v1"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Discovery task ID"
          }
        ]
      }
    },
    "/rcm/eligibility/v1/healthcheck": {
      "get": {
        "operationId": "enhancedEligibilityHealthCheck",
        "summary": "Health Check",
        "description": "Validate the status of the Enhanced Eligibility system",
        "tags": [
          "Enhanced Eligibility v1"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/rcm/prior-authorization/v1/determination/x12": {
      "post": {
        "operationId": "priorAuthDeterminationX12",
        "summary": "278x215 Prior Authorization Determination",
        "description": "Submit prior authorization determination using x12 278 format",
        "tags": [
          "Prior Authorization v1"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/rcm/prior-authorization/v1/determination": {
      "post": {
        "operationId": "priorAuthDetermination",
        "summary": "JSON Prior Authorization Determination",
        "description": "Submit prior authorization determination using JSON format",
        "tags": [
          "Prior Authorization v1"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/rcm/prior-authorization/v1/inquiry/x12": {
      "post": {
        "operationId": "priorAuthInquiryX12",
        "summary": "278x215 Prior Authorization Inquiry",
        "description": "Submit prior authorization inquiry using x12 278 format",
        "tags": [
          "Prior Authorization v1"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/rcm/prior-authorization/v1/inquiry": {
      "post": {
        "operationId": "priorAuthInquiry",
        "summary": "JSON Prior Authorization Inquiry",
        "description": "Submit prior authorization inquiry using JSON format",
        "tags": [
          "Prior Authorization v1"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/rcm/prior-authorization/v1/submission/x12": {
      "post": {
        "operationId": "priorAuthSubmissionX12",
        "summary": "278x217 Prior Authorization Submission",
        "description": "Submit prior authorization using x12 278 format",
        "tags": [
          "Prior Authorization v1"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/rcm/prior-authorization/v1/submission": {
      "post": {
        "operationId": "priorAuthSubmission",
        "summary": "JSON Prior Authorization Submission",
        "description": "Submit prior authorization using JSON format",
        "tags": [
          "Prior Authorization v1"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/rcm/prior-authorization/v1/authorization/x12": {
      "post": {
        "operationId": "priorAuthOrchestrationX12",
        "summary": "278x215 Prior Authorization Orchestration",
        "description": "Orchestrated prior authorization using x12 278 format",
        "tags": [
          "Prior Authorization v1"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/rcm/prior-authorization/v1/authorization": {
      "post": {
        "operationId": "priorAuthOrchestration",
        "summary": "JSON Prior Authorization Orchestration",
        "description": "Orchestrated prior authorization using JSON format",
        "tags": [
          "Prior Authorization v1"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/rcm/prior-authorization/v1/healthcheck": {
      "get": {
        "operationId": "priorAuthHealthCheck",
        "summary": "Service heartbeat",
        "description": "Check the health status of the Prior Authorization v1 service",
        "tags": [
          "Prior Authorization v1"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/apip/auth/v2/token": {
      "post": {
        "operationId": "getAccessToken",
        "summary": "Get Token",
        "description": "Obtain an OAuth 2.0 access token for API authentication",
        "tags": [
          "Authentication"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "grant_type",
                  "client_id",
                  "client_secret"
                ],
                "properties": {
                  "grant_type": {
                    "type": "string",
                    "enum": [
                      "client_credentials"
                    ]
                  },
                  "client_id": {
                    "type": "string"
                  },
                  "client_secret": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/payerlist/v1/healthcheck": {
      "get": {
        "operationId": "payerListHealthCheck",
        "summary": "Health Check",
        "description": "Check the health status of the Payer List v1 service",
        "tags": [
          "Payer List v1"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/payerlist/v1/payers": {
      "get": {
        "operationId": "getPayers",
        "summary": "Get Payers",
        "description": "Retrieve list of payers",
        "tags": [
          "Payer List v1"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/payerlist/v1/payers/export": {
      "get": {
        "operationId": "exportPayerList",
        "summary": "Export Payer List",
        "description": "Export the payer list",
        "tags": [
          "Payer List v1"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/payerlist/v1/fields": {
      "get": {
        "operationId": "getPayerListFields",
        "summary": "Get Fields",
        "description": "Get available fields for payer list filtering",
        "tags": [
          "Payer List v1"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error type"
          },
          "error_description": {
            "type": "string",
            "description": "Error description"
          },
          "status": {
            "type": "integer",
            "description": "HTTP status code"
          },
          "message": {
            "type": "string",
            "description": "Error message"
          }
        }
      },
      "EligibilityRequest": {
        "type": "object",
        "description": "270 EDI JSON object model for eligibility verification",
        "properties": {
          "controlNumber": {
            "type": "string",
            "description": "Interchange control number"
          },
          "tradingPartnerServiceId": {
            "type": "string",
            "description": "Payer/trading partner service ID"
          },
          "provider": {
            "type": "object",
            "properties": {
              "organizationName": {
                "type": "string"
              },
              "npi": {
                "type": "string"
              },
              "serviceProviderNumber": {
                "type": "string"
              }
            }
          },
          "subscriber": {
            "type": "object",
            "properties": {
              "memberId": {
                "type": "string"
              },
              "firstName": {
                "type": "string"
              },
              "lastName": {
                "type": "string"
              },
              "dateOfBirth": {
                "type": "string",
                "format": "date"
              }
            }
          },
          "encounter": {
            "type": "object",
            "properties": {
              "serviceTypeCodes": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "dateRange": {
                "type": "object",
                "properties": {
                  "startDate": {
                    "type": "string",
                    "format": "date"
                  },
                  "endDate": {
                    "type": "string",
                    "format": "date"
                  }
                }
              }
            }
          }
        }
      },
      "EligibilityResponse": {
        "type": "object",
        "description": "271 EDI JSON object model eligibility response",
        "properties": {
          "controlNumber": {
            "type": "string"
          },
          "tradingPartnerServiceId": {
            "type": "string"
          },
          "provider": {
            "type": "object"
          },
          "subscriber": {
            "type": "object"
          },
          "planInformation": {
            "type": "object"
          },
          "benefitsInformation": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "ClaimRequest": {
        "type": "object",
        "description": "Claim submission JSON model",
        "properties": {
          "controlNumber": {
            "type": "string"
          },
          "tradingPartnerServiceId": {
            "type": "string"
          },
          "submitter": {
            "type": "object"
          },
          "receiver": {
            "type": "object"
          },
          "subscriber": {
            "type": "object"
          },
          "claimInformation": {
            "type": "object"
          }
        }
      },
      "TokenResponse": {
        "type": "object",
        "properties": {
          "access_token": {
            "type": "string",
            "description": "OAuth 2.0 access token"
          },
          "token_type": {
            "type": "string",
            "description": "Token type (Bearer)"
          },
          "expires_in": {
            "type": "integer",
            "description": "Token expiration time in seconds"
          }
        }
      }
    },
    "securitySchemes": {
      "OAuth2": {
        "type": "oauth2",
        "flows": {
          "clientCredentials": {
            "tokenUrl": "https://sandbox-apigw.optum.com/apip/auth/v2/token",
            "scopes": {}
          }
        }
      }
    }
  },
  "security": [
    {
      "OAuth2": []
    }
  ],
  "tags": [
    {
      "name": "Medical Network Eligibility v3",
      "description": "Optum Medical Network Eligibility v3 endpoints"
    },
    {
      "name": "Medical Network Professional Claims v3",
      "description": "Optum Medical Network Professional Claims v3 endpoints"
    },
    {
      "name": "Medical Network Institutional Claims v1",
      "description": "Optum Medical Network Institutional Claims v1 endpoints"
    },
    {
      "name": "Claims Responses and Reports v2",
      "description": "Optum Claims Responses and Reports v2 endpoints"
    },
    {
      "name": "Medical Network Claim Status v2",
      "description": "Optum Medical Network Claim Status v2 endpoints"
    },
    {
      "name": "Attachments Submission v1",
      "description": "Optum Attachments Submission v1 endpoints"
    },
    {
      "name": "Attachment Status v1",
      "description": "Optum Attachment Status v1 endpoints"
    },
    {
      "name": "Attachment Retrieval v1",
      "description": "Optum Attachment Retrieval v1 endpoints"
    },
    {
      "name": "Dental Attachments",
      "description": "Optum Dental Attachments endpoints"
    },
    {
      "name": "Enhanced Eligibility v1",
      "description": "Optum Enhanced Eligibility v1 endpoints"
    },
    {
      "name": "Prior Authorization v1",
      "description": "Optum Prior Authorization v1 endpoints"
    },
    {
      "name": "Authentication",
      "description": "Optum Authentication endpoints"
    },
    {
      "name": "Payer List v1",
      "description": "Optum Payer List v1 endpoints"
    }
  ]
}
