{
  "openapi": "3.0.1",
  "info": {
    "title": "Shop",
    "description": "Search for millions of products from the world's greatest brands.",
    "version": "v1.1",
    "x-jentic-source-url": "https://raw.githubusercontent.com/jentic/jentic-public-apis/refs/heads/main/apis/openapi/shop.app/main/v1.1/openapi.json",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://server.shop.app"
    }
  ],
  "paths": {
    "/openai/search": {
      "get": {
        "operationId": "search",
        "summary": "Search for products",
        "parameters": [
          {
            "in": "query",
            "name": "query",
            "description": "Query string to search for items.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "price_min",
            "description": "The minimum price to filter by.",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "in": "query",
            "name": "price_max",
            "description": "The maximum price to filter by.",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "in": "query",
            "name": "similar_to_id",
            "description": "A product ID that you want to find similar products for. (Only include one)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "num_results",
            "description": "How many results to return. Defaults to 5. It can be a number between 1 and 10.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "genders",
            "description": "A comma-separated list of genders to filter by. Valid values are \"male\", \"female\", and \"unisex\".",
            "required": false,
            "examples": {
              "single": {
                "value": "male"
              },
              "multiple": {
                "value": "female,unisex"
              }
            },
            "schema": {
              "type": "string",
              "enum": [
                "male",
                "female",
                "unisex"
              ]
            }
          },
          {
            "in": "query",
            "name": "colors",
            "description": "A comma-separated list of colors to filter by.",
            "required": false,
            "examples": {
              "single": {
                "value": "Yellow"
              },
              "multiple": {
                "value": "Black,White,Red"
              }
            },
            "schema": {
              "type": "string",
              "enum": [
                "Beige",
                "Black",
                "Blue",
                "Bronze",
                "Brown",
                "Clear",
                "Gold",
                "Gray",
                "Green",
                "Multicolor",
                "Navy",
                "Orange",
                "Pink",
                "Purple",
                "Red",
                "Rose gold",
                "Silver",
                "White",
                "Yellow"
              ]
            }
          },
          {
            "in": "query",
            "name": "sizes",
            "description": "A comma-separated list of sizes to filter by.",
            "required": false,
            "examples": {
              "shoe_sizes": {
                "value": "6,10.5"
              },
              "abbreviated_shirt_sizes": {
                "value": "S,M,XXL"
              },
              "full_shirt_sizes": {
                "value": "Small,Medium,Extra Large"
              }
            },
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "categories",
            "description": "A comma-separated list of category IDs to filter by. A full list of categories and their IDs can be found at https://shopify.github.io/product-taxonomy/releases/latest/",
            "required": false,
            "examples": {
              "shoes": {
                "value": "aa-8"
              },
              "tech": {
                "value": "el-6-2,so-4,ha-11-16"
              }
            },
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/searchResponse"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable"
          }
        },
        "description": "Search for products",
        "tags": [
          "openai"
        ]
      }
    },
    "/openai/details": {
      "get": {
        "operationId": "details",
        "summary": "Return more details about a list of products.",
        "parameters": [
          {
            "in": "query",
            "name": "ids",
            "description": "A comma-separated list of product IDs",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/searchResponse"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable"
          }
        },
        "description": "Return more details about a list of products.",
        "tags": [
          "openai"
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "searchResponse": {
        "type": "object",
        "properties": {
          "results": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "title": {
                  "type": "string",
                  "description": "The title of the product"
                },
                "price": {
                  "type": "number",
                  "format": "string",
                  "description": "The price of the product"
                },
                "currency_code": {
                  "type": "string",
                  "description": "The currency that the price is in"
                },
                "url": {
                  "type": "string",
                  "description": "The url of the product page for this product"
                },
                "description": {
                  "type": "string",
                  "description": "The description of the product"
                }
              },
              "description": "The list of products matching the search"
            }
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "openai"
    }
  ]
}
