{
  "openapi": "3.0.0",
  "servers": [
    {
      "url": "http://ovz2.nikbakland.me78p.vps.myjino.ru:49560/",
      "description": "Help me Count Server"
    }
  ],
  "info": {
    "version": "1.0.0",
    "title": "Help Me Count Server API",
    "description": "First Version",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/NIKBAKLAND/HelpMeCount/1.0.0"
  },
  "paths": {
    "/authorization/login/": {
      "post": {
        "tags": [
          "Authorization"
        ],
        "summary": "\u041b\u043e\u0433\u0438\u043d \u0434\u043b\u044f \u0437\u0430\u0440\u0435\u0433\u0430\u043d\u044b\u0445 \u043f\u043e\u043b\u044c\u0437\u043e\u0432\u0430\u0442\u0435\u043b\u0435\u0439",
        "operationId": "login",
        "description": "\u041b\u043e\u0433\u0438\u043d \u0434\u043b\u044f \u0437\u0430\u0440\u0435\u0433\u0430\u043d\u044b\u0445 \u043f\u043e\u043b\u044c\u0437\u043e\u0432\u0430\u0442\u0435\u043b\u0435\u0439",
        "responses": {
          "200": {
            "description": "\u041f\u043e\u043b\u0443\u0447\u0430\u0435\u043c Token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthResponse"
                }
              }
            }
          },
          "400": {
            "description": "\u041d\u0435\u043f\u0440\u0430\u0432\u0438\u043b\u044c\u043d\u044b\u0439 \u0444\u043e\u0440\u043c\u0430\u0442 \u0434\u0430\u043d\u043d\u044b\u0445",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorObject"
                }
              }
            }
          },
          "404": {
            "description": "\u041d\u0435\u043f\u0440\u0430\u0432\u0438\u043b\u044c\u043d\u044b\u0435 \u043b\u043e\u0433\u0438\u043d \u0438\u043b\u0438 \u043f\u0430\u0440\u043e\u043b\u044c",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorObject"
                }
              }
            }
          }
        }
      }
    },
    "/authorization/register/": {
      "post": {
        "tags": [
          "Authorization"
        ],
        "summary": "\u041b\u043e\u0433\u0438\u043d \u0434\u043b\u044f \u0437\u0430\u0440\u0435\u0433\u0430\u043d\u044b\u0445 \u043f\u043e\u043b\u044c\u0437\u043e\u0432\u0430\u0442\u0435\u043b\u0435\u0439",
        "operationId": "register",
        "description": "\u041b\u043e\u0433\u0438\u043d \u0434\u043b\u044f \u0437\u0430\u0440\u0435\u0433\u0430\u043d\u044b\u0445 \u043f\u043e\u043b\u044c\u0437\u043e\u0432\u0430\u0442\u0435\u043b\u0435\u0439",
        "responses": {
          "200": {
            "description": "\u041f\u043e\u043b\u0443\u0447\u0430\u0435\u043c Token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthResponse"
                }
              }
            }
          },
          "400": {
            "description": "\u041d\u0435\u043f\u0440\u0430\u0432\u0438\u043b\u044c\u043d\u044b\u0439 \u0444\u043e\u0440\u043c\u0430\u0442 \u0434\u0430\u043d\u043d\u044b\u0445",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorObject"
                }
              }
            }
          },
          "404": {
            "description": "\u0423\u0436\u0435 \u0435\u0441\u0442\u044c \u0442\u0430\u043a\u043e\u0439 \u043f\u043e\u043b\u044c\u0437\u043e\u0432\u0430\u0442\u0435\u043b\u044c",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorObject"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "AuthRequest": {
        "type": "object",
        "required": [
          "username",
          "password"
        ],
        "properties": {
          "username": {
            "type": "string",
            "example": "nikolaiko"
          },
          "password": {
            "type": "string",
            "example": "34ritepweff"
          }
        }
      },
      "AuthResponse": {
        "type": "object",
        "required": [
          "token"
        ],
        "properties": {
          "token": {
            "type": "string",
            "example": "57246542-96fe-1a63-e053-0824d011072a"
          }
        }
      },
      "ErrorObject": {
        "type": "object",
        "required": [
          "message",
          "responseNumber"
        ],
        "properties": {
          "message": {
            "type": "string",
            "example": "Not authorized"
          },
          "responseNumber": {
            "type": "integer",
            "example": 401
          }
        }
      }
    }
  }
}