{
  "openapi": "3.0.3",
  "info": {
    "title": "LibreTranslate API",
    "description": "Free and open source machine translation API (AGPL-3.0). Self-hostable or available via public instances. Supports text translation, language detection, and listing supported languages. Some instances require an API key; the public instance may rate-limit or require a key.",
    "version": "1.0.0",
    "license": {
      "name": "AGPL-3.0",
      "url": "https://www.gnu.org/licenses/agpl-3.0.html"
    },
    "contact": {
      "name": "LibreTranslate",
      "url": "https://libretranslate.com"
    },
    "x-jentic-source-url": "https://libretranslate.com/spec"
  },
  "servers": [
    {
      "url": "https://libretranslate.com",
      "description": "LibreTranslate public instance"
    }
  ],
  "security": [
    {},
    {
      "ApiKeyAuth": []
    }
  ],
  "tags": [
    { "name": "Translation", "description": "Translate text and detect languages." },
    { "name": "Metadata", "description": "Supported languages and service metadata." }
  ],
  "paths": {
    "/translate": {
      "post": {
        "operationId": "translate",
        "summary": "Translate text",
        "description": "Translate text from source to target language. Supports auto-detection of the source language ('auto') and alternative translation suggestions.",
        "tags": ["Translation"],
        "security": [
          {},
          { "ApiKeyAuth": [] }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/TranslateRequest" }
            },
            "application/x-www-form-urlencoded": {
              "schema": { "$ref": "#/components/schemas/TranslateRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Translation result",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/TranslateResponse" }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } }
          },
          "403": {
            "description": "Banned",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } }
          },
          "500": {
            "description": "Translation error",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } }
          }
        }
      }
    },
    "/detect": {
      "post": {
        "operationId": "detectLanguage",
        "summary": "Detect language",
        "description": "Detect the language of a text string.",
        "tags": ["Translation"],
        "security": [
          {},
          { "ApiKeyAuth": [] }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/DetectRequest" }
            },
            "application/x-www-form-urlencoded": {
              "schema": { "$ref": "#/components/schemas/DetectRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Language detection results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/DetectionResult" }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } }
          }
        }
      }
    },
    "/languages": {
      "get": {
        "operationId": "getLanguages",
        "summary": "Get supported languages",
        "description": "Returns the list of supported languages with their codes and available translation targets.",
        "tags": ["Metadata"],
        "responses": {
          "200": {
            "description": "List of supported languages",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/Language" }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } }
          }
        }
      }
    },
    "/frontend/settings": {
      "get": {
        "operationId": "getFrontendSettings",
        "summary": "Get service settings",
        "description": "Returns the running instance's configuration and metadata, including API key requirements, character limits, and supported frontend options.",
        "tags": ["Metadata"],
        "responses": {
          "200": {
            "description": "Instance settings",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/FrontendSettings" }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } }
          }
        }
      }
    },
    "/health": {
      "get": {
        "operationId": "healthCheck",
        "summary": "Health check",
        "description": "Check whether the service is running and reachable.",
        "tags": ["Metadata"],
        "responses": {
          "200": {
            "description": "Service is healthy",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HealthStatus" }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "query",
        "name": "api_key",
        "description": "Optional API key (UUID format). Required on some LibreTranslate instances and for higher rate limits. May be passed as the 'api_key' query parameter or request body field. Not required on unauthenticated public instances."
      }
    },
    "schemas": {
      "TranslateRequest": {
        "type": "object",
        "required": ["q", "source", "target"],
        "properties": {
          "q": { "type": "string", "description": "Text to translate. May be a single string or an array of strings for batch translation." },
          "source": { "type": "string", "description": "Source language code (e.g. en, fr, de) or 'auto' for auto-detection." },
          "target": { "type": "string", "description": "Target language code (e.g. it, es, ja)." },
          "format": { "type": "string", "enum": ["text", "html"], "default": "text", "description": "Format of the source text." },
          "alternatives": { "type": "integer", "default": 0, "description": "Number of alternative translations to return." },
          "api_key": { "type": "string", "description": "API key (UUID format). Required on some instances." }
        }
      },
      "TranslateResponse": {
        "type": "object",
        "required": ["translatedText"],
        "properties": {
          "translatedText": { "type": "string", "description": "Translated text." },
          "detectedLanguage": {
            "$ref": "#/components/schemas/DetectionResult"
          },
          "alternatives": {
            "type": "array",
            "items": { "type": "string" },
            "description": "Alternative translations if requested."
          }
        }
      },
      "DetectRequest": {
        "type": "object",
        "required": ["q"],
        "properties": {
          "q": { "type": "string", "description": "Text to detect the language of." },
          "api_key": { "type": "string", "description": "API key (UUID format)." }
        }
      },
      "DetectionResult": {
        "type": "object",
        "properties": {
          "confidence": { "type": "number", "description": "Detection confidence (0-100)." },
          "language": { "type": "string", "description": "Detected language code." }
        }
      },
      "Language": {
        "type": "object",
        "properties": {
          "code": { "type": "string", "description": "Language code (e.g. en, fr, de)." },
          "name": { "type": "string", "description": "Language name (e.g. English, French)." },
          "targets": { "type": "array", "items": { "type": "string" }, "description": "Available target language codes." }
        }
      },
      "FrontendSettings": {
        "type": "object",
        "properties": {
          "apiKeys": { "type": "boolean", "description": "Whether the instance requires an API key." },
          "charLimit": { "type": "integer", "description": "Maximum characters allowed per request (-1 for unlimited)." },
          "language": {
            "type": "object",
            "properties": {
              "source": { "type": "object", "properties": { "code": { "type": "string" }, "name": { "type": "string" } } },
              "target": { "type": "object", "properties": { "code": { "type": "string" }, "name": { "type": "string" } } }
            },
            "description": "Default source and target languages."
          },
          "suggestions": { "type": "boolean", "description": "Whether translation suggestions are enabled." },
          "supportedFilesFormat": { "type": "array", "items": { "type": "string" }, "description": "Supported file formats for file translation." }
        }
      },
      "HealthStatus": {
        "type": "object",
        "properties": {
          "status": { "type": "string", "example": "ok", "description": "Service health status." }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": { "type": "string", "description": "Error message." }
        }
      }
    }
  }
}
