{
  "openapi": "3.0.3",
  "info": {
    "title": "SuiteBox Meeting Requests",
    "description": "This is a dummy web site to show the set up of swagger to manager API's for SuiteBox",
    "version": "0.1",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/opthomas/MyFirstAPI/0.1",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "//suitebox.suitebox.co.nz/SBX"
    }
  ],
  "paths": {
    "/Meetings/SbxMeetingRequest": {
      "get": {
        "tags": [
          "Meeting"
        ],
        "description": "Create a `Meeting` .\n",
        "operationId": "SbxMeetingRequest",
        "requestBody": {
          "description": "Meeting Objects",
          "content": {
            "*/*": {
              "schema": {
                "$ref": "#/components/schemas/Meetings"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/JSON": {
                "schema": {
                  "title": "SbxMeetingResponse",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Meetings"
                  }
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/Meetings/SbxCancelMeeting": {
      "get": {
        "tags": [
          "Meeting"
        ],
        "description": "Create a `Meeting` .\n",
        "operationId": "SbxCancelMeeting",
        "requestBody": {
          "description": "Meeting Objects",
          "content": {
            "*/*": {
              "schema": {
                "$ref": "#/components/schemas/Meetings"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/JSON": {
                "schema": {
                  "title": "SbxMeetingResponse",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Meetings"
                  }
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/Authentication/SbxAuthenticateUser": {
      "post": {
        "tags": [
          "Authenticate"
        ],
        "description": "Create a `Meeting` .\n",
        "operationId": "SbxAuthenticateUser",
        "requestBody": {
          "description": "Authentication Objects",
          "content": {
            "*/*": {
              "schema": {
                "$ref": "#/components/schemas/Meetings"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/JSON": {
                "schema": {
                  "title": "SbxMeetingResponse",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Meetings"
                  }
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      }
    }
  },
  "components": {
    "schemas": {
      "Meetings": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64"
          },
          "username": {
            "type": "string"
          },
          "firstName": {
            "type": "string"
          },
          "lastName": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "password": {
            "type": "string"
          },
          "phone": {
            "type": "string"
          },
          "userStatus": {
            "type": "integer",
            "description": "User Status",
            "format": "int32"
          }
        }
      }
    }
  },
  "x-original-swagger-version": "2.0",
  "tags": [
    {
      "name": "Authenticate"
    },
    {
      "name": "Meeting"
    }
  ]
}
