{
  "openapi": "3.0.3",
  "info": {
    "title": "Global Fishing Watch API",
    "version": "3.0.0",
    "description": "Global Fishing Watch (GFW) API provides access to global fishing vessel tracking data, fishing activity, vessel information, and maritime events. Supports tracking Automatic Identification System (AIS) data for commercial fishing vessels worldwide.",
    "x-jentic-source-url": "https://globalfishingwatch.org/our-apis/documentation",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://gateway.api.globalfishingwatch.org/v3"
    }
  ],
  "paths": {
    "/vessels/search": {
      "get": {
        "operationId": "searchVessels",
        "summary": "Search vessels",
        "description": "Search for vessels by name, MMSI, IMO, call sign, or other identifiers.",
        "tags": [
          "Vessels"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "description": "Search query (vessel name, MMSI, IMO, call sign)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "datasets",
            "in": "query",
            "description": "Comma-separated dataset IDs to search",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum results to return",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 10
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Results offset for pagination",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "includes",
            "in": "query",
            "description": "Additional fields to include (e.g., MATCH_CRITERIA, OWNERSHIP)",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Vessel search results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VesselSearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/vessels/{id}": {
      "get": {
        "operationId": "getVessel",
        "summary": "Get vessel details",
        "description": "Returns detailed information about a specific vessel by its GFW vessel ID.",
        "tags": [
          "Vessels"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "GFW vessel ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dataset",
            "in": "query",
            "description": "Dataset to query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Vessel details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Vessel"
                }
              }
            }
          },
          "404": {
            "description": "Vessel not found"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/events": {
      "get": {
        "operationId": "listEvents",
        "summary": "List events",
        "description": "List maritime events (fishing, encounters, port visits, loitering) with filtering options.",
        "tags": [
          "Events"
        ],
        "parameters": [
          {
            "name": "datasets",
            "in": "query",
            "description": "Comma-separated list of event dataset IDs",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "vessels",
            "in": "query",
            "description": "Comma-separated vessel IDs to filter",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start-date",
            "in": "query",
            "description": "Start date (ISO 8601)",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "end-date",
            "in": "query",
            "description": "End date (ISO 8601)",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "event-type",
            "in": "query",
            "description": "Event type filter",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "fishing",
                "encounter",
                "port_visit",
                "loitering",
                "gap"
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 10
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Event list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/events/{id}": {
      "get": {
        "operationId": "getEvent",
        "summary": "Get event details",
        "description": "Returns detailed information about a specific maritime event.",
        "tags": [
          "Events"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dataset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Event details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Event"
                }
              }
            }
          },
          "404": {
            "description": "Event not found"
          }
        }
      }
    },
    "/datasets": {
      "get": {
        "operationId": "listDatasets",
        "summary": "List available datasets",
        "description": "Returns a list of all available datasets.",
        "tags": [
          "Datasets"
        ],
        "responses": {
          "200": {
            "description": "Dataset list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Dataset"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/4wings/report": {
      "get": {
        "operationId": "getFishingActivityReport",
        "summary": "Get fishing activity report",
        "description": "Returns aggregated fishing activity data for a spatial area and time range using the 4Wings tiling system.",
        "tags": [
          "Activity"
        ],
        "parameters": [
          {
            "name": "datasets",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "spatial-resolution",
            "in": "query",
            "required": false,
            "description": "Spatial resolution (low, high)",
            "schema": {
              "type": "string",
              "enum": [
                "low",
                "high"
              ]
            }
          },
          {
            "name": "temporal-resolution",
            "in": "query",
            "required": false,
            "description": "Temporal aggregation (daily, monthly, yearly)",
            "schema": {
              "type": "string",
              "enum": [
                "daily",
                "monthly",
                "yearly"
              ]
            }
          },
          {
            "name": "start-date",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "end-date",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "region",
            "in": "query",
            "description": "GeoJSON geometry or region ID",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "group-by",
            "in": "query",
            "description": "Field to group by (e.g., flag, geartype)",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Fishing activity report",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "VesselSearchResponse": {
        "type": "object",
        "properties": {
          "entries": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Vessel"
            }
          },
          "total": {
            "type": "integer"
          },
          "limit": {
            "type": "integer"
          },
          "offset": {
            "type": "integer"
          },
          "nextOffset": {
            "type": "integer"
          }
        }
      },
      "Vessel": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "GFW vessel ID"
          },
          "dataset": {
            "type": "string"
          },
          "registryInfo": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "sourceCode": {
                  "type": "string"
                },
                "ssvid": {
                  "type": "string",
                  "description": "MMSI"
                },
                "imo": {
                  "type": "string"
                },
                "callsign": {
                  "type": "string"
                },
                "shipname": {
                  "type": "string"
                },
                "nShipname": {
                  "type": "string"
                },
                "flag": {
                  "type": "string"
                },
                "latestVesselInfo": {
                  "type": "boolean"
                }
              }
            }
          },
          "selfReportedInfo": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "ssvid": {
                  "type": "string"
                },
                "shipname": {
                  "type": "string"
                },
                "flag": {
                  "type": "string"
                },
                "geartype": {
                  "type": "string"
                },
                "vesselType": {
                  "type": "string"
                }
              }
            }
          },
          "combinedSourcesInfo": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "EventListResponse": {
        "type": "object",
        "properties": {
          "entries": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Event"
            }
          },
          "total": {
            "type": "integer"
          },
          "limit": {
            "type": "integer"
          },
          "offset": {
            "type": "integer"
          },
          "nextOffset": {
            "type": "integer"
          }
        }
      },
      "Event": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "description": "Event type (fishing, encounter, port_visit, loitering, gap)"
          },
          "start": {
            "type": "string",
            "format": "date-time"
          },
          "end": {
            "type": "string",
            "format": "date-time"
          },
          "position": {
            "type": "object",
            "properties": {
              "lat": {
                "type": "number"
              },
              "lon": {
                "type": "number"
              }
            }
          },
          "boundingBox": {
            "type": "object",
            "properties": {
              "minLat": {
                "type": "number"
              },
              "maxLat": {
                "type": "number"
              },
              "minLon": {
                "type": "number"
              },
              "maxLon": {
                "type": "number"
              }
            }
          },
          "regions": {
            "type": "object"
          },
          "distances": {
            "type": "object"
          },
          "vessel": {
            "$ref": "#/components/schemas/Vessel"
          }
        }
      },
      "Dataset": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "startDate": {
            "type": "string",
            "format": "date"
          },
          "endDate": {
            "type": "string",
            "format": "date"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "GFW API token"
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Activity"
    },
    {
      "name": "Datasets"
    },
    {
      "name": "Events"
    },
    {
      "name": "Vessels"
    }
  ]
}
