{
  "openapi": "3.0.3",
  "info": {
    "title": "Aviasales Flight Search API",
    "version": "1.0.0",
    "description": "API \u0434\u043b\u044f \u043f\u043e\u0438\u0441\u043a\u0430 \u0430\u0432\u0438\u0430\u0431\u0438\u043b\u0435\u0442\u043e\u0432",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/cod-edc/Anna17/1.0.0"
  },
  "servers": [
    {
      "url": "https://api.aviasales.ru",
      "description": "\u041e\u0441\u043d\u043e\u0432\u043d\u043e\u0439 \u0441\u0435\u0440\u0432\u0435\u0440"
    }
  ],
  "paths": {
    "/search": {
      "get": {
        "summary": "\u041f\u043e\u0438\u0441\u043a \u0430\u0432\u0438\u0430\u0431\u0438\u043b\u0435\u0442\u043e\u0432",
        "description": "\u041f\u043e\u0438\u0441\u043a \u0431\u0438\u043b\u0435\u0442\u043e\u0432 \u043f\u043e \u0437\u0430\u0434\u0430\u043d\u043d\u044b\u043c \u043f\u0430\u0440\u0430\u043c\u0435\u0442\u0440\u0430\u043c",
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "required": true,
            "description": "\u041a\u043e\u0434 \u0430\u044d\u0440\u043e\u043f\u043e\u0440\u0442\u0430 \u0432\u044b\u043b\u0435\u0442\u0430",
            "schema": {
              "type": "string",
              "example": "KZN"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": true,
            "description": "\u041a\u043e\u0434 \u0430\u044d\u0440\u043e\u043f\u043e\u0440\u0442\u0430 \u043f\u0440\u0438\u043b\u0451\u0442\u0430",
            "schema": {
              "type": "string",
              "example": "MOW"
            }
          },
          {
            "name": "date",
            "in": "query",
            "required": true,
            "description": "\u0414\u0430\u0442\u0430 \u0432\u044b\u043b\u0435\u0442\u0430",
            "schema": {
              "type": "string",
              "format": "date",
              "example": "2025-12-16"
            }
          },
          {
            "name": "returnDate",
            "in": "query",
            "required": false,
            "description": "\u0414\u0430\u0442\u0430 \u043e\u0431\u0440\u0430\u0442\u043d\u043e\u0433\u043e \u0432\u044b\u043b\u0435\u0442\u0430",
            "schema": {
              "type": "string",
              "format": "date",
              "example": "2025-12-20"
            }
          },
          {
            "name": "passengers",
            "in": "query",
            "required": true,
            "description": "\u041a\u043e\u043b\u0438\u0447\u0435\u0441\u0442\u0432\u043e \u043f\u0430\u0441\u0441\u0430\u0436\u0438\u0440\u043e\u0432",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "example": 1
            }
          },
          {
            "name": "class",
            "in": "query",
            "required": true,
            "description": "\u041a\u043b\u0430\u0441\u0441 \u043e\u0431\u0441\u043b\u0443\u0436\u0438\u0432\u0430\u043d\u0438\u044f",
            "schema": {
              "type": "string",
              "enum": [
                "ECONOMY",
                "COMFORT",
                "BUSINESS",
                "FIRST"
              ],
              "example": "ECONOMY"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "\u0423\u0441\u043f\u0435\u0448\u043d\u044b\u0439 \u043f\u043e\u0438\u0441\u043a",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "tickets": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "example": "ticket_001"
                          },
                          "price": {
                            "type": "integer",
                            "example": 3574
                          },
                          "baggagePrice": {
                            "type": "integer",
                            "example": 1325
                          },
                          "airline": {
                            "type": "string",
                            "example": "\u041f\u043e\u0431\u0435\u0434\u0430"
                          },
                          "departureTime": {
                            "type": "string",
                            "example": "10:55"
                          },
                          "arrivalTime": {
                            "type": "string",
                            "example": "12:45"
                          },
                          "fromCity": {
                            "type": "string",
                            "example": "\u041a\u0430\u0437\u0430\u043d\u044c"
                          },
                          "toCity": {
                            "type": "string",
                            "example": "\u041c\u043e\u0441\u043a\u0432\u0430"
                          },
                          "duration": {
                            "type": "string",
                            "example": "1\u0447 50\u043c"
                          },
                          "seatsLeft": {
                            "type": "integer",
                            "nullable": true,
                            "example": 3
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "\u041d\u0435\u0432\u0435\u0440\u043d\u044b\u0435 \u043f\u0430\u0440\u0430\u043c\u0435\u0442\u0440\u044b",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Invalid parameters"
                    },
                    "message": {
                      "type": "string",
                      "example": "Missing required field: from"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "\u041e\u0448\u0438\u0431\u043a\u0430 \u0441\u0435\u0440\u0432\u0435\u0440\u0430",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Internal server error"
                    },
                    "message": {
                      "type": "string",
                      "example": "Something went wrong"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}