{
  "openapi": "3.0.2",
  "info": {
    "version": "21.2.0.20210315.001",
    "title": "Payment Gateway API Specification.",
    "description": "The documentation here is designed to provide all of the technical guidance required to consume and integrate with our APIs for payment processing. To learn more about our APIs please visit https://docs.firstdata.com/org/gateway.",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/virtusa633/payment-gateway-api-specification/21.2.0.20210315.001"
  },
  "servers": [
    {
      "url": "https://cert.api.firstdata.com/gateway/v2"
    }
  ],
  "x-header-api-key": "csn5gVMfGgXh1cnFtimlHQOH1zNERw7Q",
  "x-header-api-secret": "9JiLZgNhQPTA1KIt",
  "x-production-url": "prod.api.firstdata.com/gateway/v2",
  "x-config": {
    "tryItOut": true
  },
  "x-link-list": {
    "items": [
      {
        "title": "SDKs",
        "items": [
          {
            "title": "Github Repositories",
            "items": [
              {
                "name": "C# .NET",
                "link": "https://github.com/GBSEcom/DotNet"
              },
              {
                "name": "Python",
                "link": "https://github.com/GBSEcom/Python"
              },
              {
                "name": "Ruby",
                "link": "https://github.com/GBSEcom/Ruby"
              },
              {
                "name": "Java",
                "link": "https://github.com/GBSEcom/java"
              },
              {
                "name": "PHP",
                "link": "https://github.com/GBSEcom/PHP"
              },
              {
                "name": "Javascript",
                "link": "https://github.com/GBSEcom/NPM"
              }
            ]
          },
          {
            "title": "Packages",
            "items": [
              {
                "name": "Composer",
                "link": "https://packagist.org/packages/first-data/gateway"
              },
              {
                "name": "Maven",
                "link": "https://search.maven.org/artifact/com.github.GBSEcom/first-data-gateway"
              },
              {
                "name": "NPM",
                "link": "https://www.npmjs.com/package/@firstdata/first-data-gateway"
              },
              {
                "name": "NuGet",
                "link": "https://www.nuget.org/packages/FirstData.Gateway"
              },
              {
                "name": "pip",
                "link": "https://pypi.org/project/first-data-gateway"
              },
              {
                "name": "Ruby Gem",
                "link": "https://rubygems.org/gems/first_data_gateway"
              }
            ]
          }
        ]
      },
      {
        "title": "Digital Wallets",
        "items": [
          {
            "title": "User Guides",
            "items": [
              {
                "name": "Apple Pay",
                "link": "https://docs.firstdata.com/org/gateway/node/158"
              },
              {
                "name": "Google Pay",
                "link": "https://docs.firstdata.com/org/gateway/node/163"
              }
            ]
          },
          {
            "title": "Sample Apps",
            "items": [
              {
                "name": "Apple Pay",
                "link": "https://github.com/GBSEcom/ApplePaySDK"
              },
              {
                "name": "Google Pay",
                "link": "https://github.com/GBSEcom/GooglePaySDK"
              }
            ]
          }
        ]
      }
    ]
  },
  "x-tio-request-headers": {
    "PaymentsStore": {
      "name": "TryItOut-Store",
      "discriminators": [
        {
          "in": [
            "order",
            "industrySpecificExtensions"
          ],
          "enum": [
            "carRental",
            "lodging",
            "airline",
            "mcc6012"
          ]
        },
        {
          "in": [
            "requestType"
          ],
          "enum": [
            "SepaSaleTransaction",
            "SepaCreditTransaction",
            "PaypalCreditTransaction",
            "AliPaySaleTransaction",
            "PaymentCardForcedTicketTransaction",
            "PaymentCardDisbursementTransaction",
            "PaymentTokenDisbursementTransaction",
            "PaymentDeviceDisbursementTransaction",
            "AchPreAuthTransaction",
            "AchSaleTransaction",
            "AchCreditTransaction"
          ]
        },
        {
          "in": [
            "authenticationRequest",
            "authenticationType"
          ],
          "enum": [
            "UnionPayAuthenticationRequest",
            "Secure3DAuthenticationRequest"
          ]
        },
        {
          "in": [
            "paymentMethod",
            "walletType"
          ],
          "enum": [
            "EncryptedGooglePayWalletPaymentMethod"
          ]
        },
        {
          "in": [],
          "enum": [
            "settlementSplit",
            "currencyConversion"
          ]
        },
        {
          "in": [
            "paymentMethod"
          ],
          "enum": [
            "paymentFacilitator"
          ]
        }
      ]
    },
    "PaymentsFinalizeSecureTransactionStore": {
      "name": "TryItOut-Store",
      "discriminators": [
        {
          "in": [
            "authenticationType"
          ],
          "enum": [
            "UnionPayAuthenticationUpdateRequest",
            "Secure3DAuthenticationUpdateRequest"
          ]
        }
      ]
    },
    "SecondaryPaymentsTransaction": {
      "name": "TryItOut-Store",
      "discriminators": [
        {
          "in": [
            "order",
            "industrySpecificExtensions"
          ],
          "enum": [
            "mcc6012"
          ]
        },
        {
          "in": [
            "requestType"
          ],
          "enum": [
            "AchVoidTransaction",
            "AchReturnTransaction",
            "AchPostAuthTransaction",
            "KoreanPaymentServiceReturnTransaction"
          ]
        },
        {
          "in": [],
          "enum": [
            "currencyConversion"
          ]
        }
      ]
    },
    "ExchangeRatesStore": {
      "name": "TryItOut-Store",
      "discriminators": [
        {
          "in": [
            "requestType"
          ],
          "enum": [
            "DCCExchangeRateRequest",
            "DynamicPricingExchangeRateRequest"
          ]
        }
      ]
    },
    "FraudScoreOnlyStore": {
      "name": "TryItOut-Store",
      "discriminators": [
        {
          "in": [
            "transactionType"
          ],
          "enum": [
            "score_only"
          ]
        }
      ]
    },
    "FraudRegistrationStore": {
      "name": "TryItOut-Store",
      "discriminators": [
        {
          "in": [
            "transactionType"
          ],
          "enum": [
            "registration"
          ]
        }
      ]
    },
    "PaymentsApmAction": {
      "name": "TryItOut-Store",
      "discriminators": [
        {
          "in": [
            "order",
            "industrySpecificExtensions"
          ]
        }
      ]
    }
  },
  "tags": [
    {
      "name": "Authentication",
      "description": "Authentication"
    },
    {
      "name": "Payment",
      "description": "Payment"
    },
    {
      "name": "Order",
      "description": "Order"
    },
    {
      "name": "Payment Schedules",
      "description": "Payment Schedules"
    },
    {
      "name": "Payment URL",
      "description": "Payment URL"
    },
    {
      "name": "Payment Token",
      "description": "Payment Token"
    },
    {
      "name": "Verification",
      "description": "Verification"
    },
    {
      "name": "Currency Conversion",
      "description": "Currency Conversion"
    },
    {
      "name": "Information Lookup",
      "description": "Information Lookup"
    },
    {
      "name": "Fraud Detect",
      "description": "Fraud Detect"
    },
    {
      "name": "Payment Brands",
      "description": "Payment Brands"
    },
    {
      "name": "Available Currencies",
      "description": "Available Currencies"
    },
    {
      "name": "Available Countries",
      "description": "Available Countries"
    },
    {
      "name": "Managed Redirect Url Creation",
      "description": "Managed Redirect Url Creation"
    }
  ],
  "paths": {
    "/payments": {
      "post": {
        "tags": [
          "Payment"
        ],
        "x-proxy-name": "Create Primary Transaction",
        "x-tio-request-headers": [
          {
            "$ref": "#/x-tio-request-headers/PaymentsStore"
          }
        ],
        "summary": "Generate a primary transaction",
        "description": "Use this to originate a financial transaction like a sale, preauthorization, or credit.",
        "operationId": "submitPrimaryTransaction",
        "parameters": [
          {
            "$ref": "#/components/parameters/ContentTypeParam"
          },
          {
            "$ref": "#/components/parameters/ClientRequestIdParam"
          },
          {
            "$ref": "#/components/parameters/ApiKeyParam"
          },
          {
            "$ref": "#/components/parameters/TimestampParam"
          },
          {
            "$ref": "#/components/parameters/MessageSignatureParam"
          },
          {
            "$ref": "#/components/parameters/RegionParam"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PrimaryTransaction"
              },
              "examples": {
                "PaymentCardSaleTransaction": {
                  "summary": "PaymentCardSaleTransaction",
                  "value": {
                    "requestType": "PaymentCardSaleTransaction",
                    "transactionAmount": {
                      "total": 12.04,
                      "currency": "EUR"
                    },
                    "paymentMethod": {
                      "paymentCard": {
                        "number": "5424180279791732",
                        "securityCode": "977",
                        "expiryDate": {
                          "month": "12",
                          "year": "24"
                        }
                      }
                    },
                    "storedCredentials": {
                      "sequence": "FIRST",
                      "scheduled": true
                    },
                    "senderReceiverInfo": {
                      "senderInfo": {
                        "name": "Franklin Sender Roosevelt",
                        "firstName": "Franklin",
                        "lastName": "Roosevelt",
                        "middleName": "Sender",
                        "streetAddress": "5565 Glenridge Connector",
                        "city": "Atlanta",
                        "stateCode": "GA",
                        "countryCode": "US",
                        "postalCode": "30342",
                        "phoneNumber": "4044040740",
                        "birthDate": "19560121",
                        "participationId": "123456789123456789123456789123",
                        "referenceNumber": "12345678",
                        "accountNumber": "135246",
                        "accountType": "CARD_ACCOUNT_NO"
                      },
                      "receiverInfo": {
                        "name": "Abraham Receiver Lincoln",
                        "firstName": "Abraham",
                        "lastName": "Lincoln",
                        "middleName": "Receiver",
                        "streetAddress": "5565 Glenridge Connector",
                        "city": "Atlanta",
                        "stateCode": "GA",
                        "countryCode": "US",
                        "postalCode": "30342",
                        "phoneNumber": "4044040740",
                        "referenceNumber": "12345678",
                        "accountNumber": "135246",
                        "accountType": "ROUTING_TRANSIT_NO_AND_BANK_ACCOUNT_NO"
                      }
                    }
                  }
                },
                "PaymentCardPreAuthTransaction": {
                  "summary": "PaymentCardPreAuthTransaction",
                  "value": {
                    "requestType": "PaymentCardPreAuthTransaction",
                    "transactionAmount": {
                      "total": 12.04,
                      "currency": "EUR"
                    },
                    "paymentMethod": {
                      "paymentCard": {
                        "number": "5424180279791732",
                        "securityCode": "977",
                        "expiryDate": {
                          "month": "12",
                          "year": "24"
                        }
                      }
                    },
                    "splitShipment": {
                      "totalCount": 1,
                      "finalShipment": true
                    },
                    "incrementalFlag": false
                  }
                },
                "PaymentCardCreditTransaction": {
                  "summary": "PaymentCardCreditTransaction",
                  "value": {
                    "requestType": "PaymentCardCreditTransaction",
                    "transactionAmount": {
                      "total": 123.04,
                      "currency": "EUR"
                    },
                    "paymentMethod": {
                      "paymentCard": {
                        "number": "5424180279791732",
                        "securityCode": "977",
                        "expiryDate": {
                          "month": "12",
                          "year": "24"
                        }
                      }
                    },
                    "currencyConversion": {
                      "conversionType": "Dcc",
                      "inquiryRateId": "123456"
                    }
                  }
                },
                "PaymentCardForcedTicketTransaction": {
                  "summary": "PaymentCardForcedTicketTransaction",
                  "value": {
                    "requestType": "PaymentCardForcedTicketTransaction",
                    "transactionAmount": {
                      "total": 12.04,
                      "currency": "EUR"
                    },
                    "paymentMethod": {
                      "paymentCard": {
                        "number": "5424180279791732",
                        "securityCode": "977",
                        "expiryDate": {
                          "month": "12",
                          "year": "24"
                        }
                      }
                    },
                    "referenceNumber": "123455"
                  }
                },
                "PaymentCardPayerAuthTransaction": {
                  "summary": "PaymentCardPayerAuthTransaction",
                  "value": {
                    "transactionAmount": {
                      "total": 12.04,
                      "currency": "EUR"
                    },
                    "requestType": "PaymentCardPayerAuthTransaction",
                    "paymentMethod": {
                      "paymentCard": {
                        "number": "5424180279791732",
                        "securityCode": "977",
                        "expiryDate": {
                          "month": "12",
                          "year": "24"
                        }
                      }
                    }
                  }
                },
                "PaymentCardDisbursementTransaction": {
                  "summary": "PaymentCardDisbursementTransaction",
                  "value": {
                    "transactionAmount": {
                      "total": "53",
                      "currency": "EUR"
                    },
                    "disbursement": {
                      "disbursementType": "FundingTransactionType",
                      "fundingSource": "CREDIT_ACCOUNT",
                      "senderInfo": {
                        "name": "Franklin Sender Roosevelt",
                        "firstName": "John",
                        "middleName": "Doe",
                        "lastName": "Lincoln",
                        "streetAddress": "5565 Glenridge Connector",
                        "city": "Atlanta",
                        "stateCode": "GA",
                        "countryCode": "US",
                        "postalCode": "30342-3456",
                        "phoneNumber": "4044040740",
                        "birthDate": "19560121",
                        "referenceNumber": "12345678",
                        "accountNumber": "135246",
                        "participationId": "123456789123456789123456789123",
                        "accountType": "EMAIL"
                      },
                      "receiverInfo": {
                        "name": "Abraham Receiver Lincoln",
                        "firstName": "John",
                        "middleName": "Doe",
                        "lastName": "Lincoln",
                        "streetAddress": "5565 Glenridge Connector",
                        "city": "Atlanta",
                        "stateCode": "GA",
                        "countryCode": "US",
                        "postalCode": "30342-3456",
                        "phoneNumber": "4044040740",
                        "referenceNumber": "12345678",
                        "accountNumber": "135246",
                        "accountType": "EMAIL"
                      }
                    },
                    "paymentMethod": {
                      "paymentCard": {
                        "number": "5424180279791732",
                        "expiryDate": {
                          "month": "12",
                          "year": "25"
                        },
                        "securityCode": "977"
                      }
                    },
                    "order": {
                      "additionalDetails": {
                        "invoiceNumber": "984424645416",
                        "transactionTypeIdentifier": "BUSINESS_DISBURSEMENT_MONEY_SEND"
                      }
                    },
                    "authenticationResult": {
                      "authenticationType": "Secure3D21AuthenticationResult",
                      "cavv": "AAABBJkZUQAAAABXSBlRAAAAAAA=",
                      "xid": "G2Q6OcsXq1k0pA0mMNHVH1P02Tw=",
                      "transactionId": "f38e6948-5388-41a6-bca4-b49723c19437",
                      "authenticationResponse": "Y",
                      "transactionStatus": "Y"
                    }
                  }
                },
                "PaymentTokenCreditTransaction": {
                  "summary": "PaymentTokenCreditTransaction",
                  "value": {
                    "transactionAmount": {
                      "total": 12.04,
                      "currency": "EUR"
                    },
                    "requestType": "PaymentTokenCreditTransaction",
                    "paymentMethod": {
                      "paymentToken": {
                        "value": "1235325235236",
                        "function": "DEBIT",
                        "securityCode": "977"
                      }
                    }
                  }
                },
                "PaymentTokenPreAuthTransaction": {
                  "summary": "PaymentTokenPreAuthTransaction",
                  "value": {
                    "transactionAmount": {
                      "total": 12.04,
                      "currency": "EUR"
                    },
                    "requestType": "PaymentTokenPreAuthTransaction",
                    "paymentMethod": {
                      "paymentToken": {
                        "value": "1235325235236",
                        "function": "DEBIT",
                        "securityCode": "977"
                      }
                    },
                    "splitShipment": {
                      "totalCount": 1,
                      "finalShipment": true
                    }
                  }
                },
                "PaymentTokenSaleTransaction": {
                  "summary": "PaymentTokenSaleTransaction",
                  "value": {
                    "transactionAmount": {
                      "total": 12.04,
                      "currency": "EUR"
                    },
                    "requestType": "PaymentTokenSaleTransaction",
                    "paymentMethod": {
                      "paymentToken": {
                        "value": "1235325235236",
                        "function": "DEBIT",
                        "securityCode": "977"
                      }
                    },
                    "storedCredentials": {
                      "sequence": "FIRST",
                      "scheduled": true
                    },
                    "senderReceiverInfo": {
                      "senderInfo": {
                        "name": "Franklin Sender Roosevelt",
                        "firstName": "Franklin",
                        "lastName": "Roosevelt",
                        "middleName": "Sender",
                        "streetAddress": "5565 Glenridge Connector",
                        "city": "Atlanta",
                        "stateCode": "GA",
                        "countryCode": "US",
                        "postalCode": "30342",
                        "phoneNumber": "4044040740",
                        "birthDate": "19560121",
                        "participationId": "123456789123456789123456789123",
                        "referenceNumber": "12345678",
                        "accountNumber": "135246",
                        "accountType": "CARD_ACCOUNT_NO"
                      },
                      "receiverInfo": {
                        "name": "Abraham Receiver Lincoln",
                        "firstName": "Abraham",
                        "lastName": "Lincoln",
                        "middleName": "Receiver",
                        "streetAddress": "5565 Glenridge Connector",
                        "city": "Atlanta",
                        "stateCode": "GA",
                        "countryCode": "US",
                        "postalCode": "30342",
                        "phoneNumber": "4044040740",
                        "referenceNumber": "12345678",
                        "accountNumber": "135246",
                        "accountType": "ROUTING_TRANSIT_NO_AND_BANK_ACCOUNT_NO"
                      }
                    }
                  }
                },
                "PaymentTokenDisbursementTransaction": {
                  "summary": "PaymentTokenDisbursementTransaction",
                  "value": {
                    "transactionAmount": {
                      "total": "50",
                      "currency": "EUR"
                    },
                    "disbursement": {
                      "disbursementType": "FundingTransactionType",
                      "fundingSource": "CREDIT_ACCOUNT",
                      "senderInfo": {
                        "name": "Franklin Sender Roosevelt",
                        "firstName": "John",
                        "middleName": "Doe",
                        "lastName": "Lincoln",
                        "streetAddress": "5565 Glenridge Connector",
                        "city": "Atlanta",
                        "stateCode": "GA",
                        "countryCode": "US",
                        "postalCode": "30342-3456",
                        "phoneNumber": "4044040740",
                        "birthDate": "19560121",
                        "referenceNumber": "12345678",
                        "accountNumber": "135246",
                        "participationId": "123456789123456789123456789123",
                        "accountType": "EMAIL"
                      },
                      "receiverInfo": {
                        "name": "Abraham Receiver Lincoln",
                        "firstName": "John",
                        "middleName": "Doe",
                        "lastName": "Lincoln",
                        "streetAddress": "5565 Glenridge Connector",
                        "city": "Atlanta",
                        "stateCode": "GA",
                        "countryCode": "US",
                        "postalCode": "30342-3456",
                        "phoneNumber": "4044040740",
                        "referenceNumber": "12345678",
                        "accountNumber": "135246",
                        "accountType": "EMAIL"
                      }
                    },
                    "paymentMethod": {
                      "paymentToken": {
                        "value": "1235325235236",
                        "function": "DEBIT",
                        "securityCode": "977"
                      }
                    },
                    "order": {
                      "additionalDetails": {
                        "invoiceNumber": "984424645416",
                        "transactionTypeIdentifier": "BUSINESS_DISBURSEMENT_MONEY_SEND"
                      }
                    },
                    "authenticationResult": {
                      "authenticationType": "Secure3D21AuthenticationResult",
                      "cavv": "AAABBJkZUQAAAABXSBlRAAAAAAA=",
                      "xid": "G2Q6OcsXq1k0pA0mMNHVH1P02Tw=",
                      "transactionId": "f38e6948-5388-41a6-bca4-b49723c19437",
                      "authenticationResponse": "Y",
                      "transactionStatus": "Y"
                    }
                  }
                },
                "PaypalCreditTransaction": {
                  "summary": "PaypalCreditTransaction",
                  "value": {
                    "transactionAmount": {
                      "total": 12.04,
                      "currency": "EUR"
                    },
                    "requestType": "PaypalCreditTransaction",
                    "paymentMethod": {
                      "payPal": {
                        "recipientEmail": "John@tester.com"
                      }
                    }
                  }
                },
                "SepaSaleTransaction": {
                  "summary": "SepaSaleTransaction",
                  "value": {
                    "transactionAmount": {
                      "total": 23.0,
                      "currency": "EUR"
                    },
                    "requestType": "SepaSaleTransaction",
                    "sepa": {
                      "iban": "DE34500100600032121604",
                      "name": "John Doe",
                      "country": "DEU",
                      "email": "john.doe@test.com"
                    },
                    "mandate": {
                      "reference": "3RBQVEE",
                      "url": "https://www.firstdata.com",
                      "signatureDate": "2017-07-15",
                      "type": "SINGLE"
                    }
                  }
                },
                "WalletSaleTransaction": {
                  "summary": "WalletSaleTransaction",
                  "value": {
                    "requestType": "WalletSaleTransaction",
                    "transactionAmount": {
                      "total": 23.0,
                      "currency": "EUR"
                    },
                    "walletPaymentMethod": {
                      "walletType": "EncryptedApplePayWalletPaymentMethod",
                      "encryptedApplePay": {
                        "data": "NdCmVw5nMjQq746HYc/VbiZcQZ/zFzeEcM1wVMPruEG4/C/EFhobSkwB5JZJU+t6JuDVXUBiRYuOOC8FTYd+qIm6ckktid9aiGh0f2NDP0INSr59QXmr389RonyUfRYKnBmwsh5UqtI7Iz0AmMtl1PWMdxcCewtjuffs79ahTnFgXsRN+ynuhyDfbdRanlTnYKGoTeVh9eJfheJ1wquO+jiGj+npJ/Oh9bAdlw7iEHrYO2aUkgaMyXZ3foXRAJeimQVQS1y8lU1PPq62zpPrFzidbnnU5fK25pvGFjOdmLsBELZPk5thQEkSaA9p1LSKzWSesHhi0BxZaFPXSA6ANXvYIU2AT0lG+0O0w1URA5Sinyj3YDZVqjuir6rzNN9bB2U2nTQnKMbuGLMS20K8fUKZN/YLJh+AtE6J69+VVSU95mE1nOb8hyabz6E5RmnC5Ze2k6F/hQ75ig==",
                        "header": {
                          "applicationDataHash": "94ee059335e587e501cc4bf90613e0814f00a7b08bc7c648fd865a2af6a22cc2",
                          "ephemeralPublicKey": "MFkwEwYHKoZIzj0CAQYIKoZIzj0DAQcDQgAEiaU1SbkYTJy/j5L1t51vtGDh4KlNl5MFPWzo/C8r0WcrktWriz5pdRaDVUDvU++KlDu2iuQsd2xSNKJlFscbDQ==",
                          "publicKeyHash": "YmSWN7lj4+A6fVJVPicP8TgS7gI7ougD8rEWB5LXtMM=",
                          "transactionId": "31323334353637"
                        },
                        "signature": "MIAGCSqGSIb3DQEHAqCAMIACAQExDzANBglghkgBZQMEAgEFADCABgkqhkiG9w0BBwEAAKCAMIIB0zCCAXkCAQEwCQYHKoZIzj0EATB2MQswCQYDVQQGEwJVUzELMAkGA1UECAwCTkoxFDASBgNVBAcMC0plcnNleSBDaXR5MRMwEQYDVQQKDApGaXJzdCBEYXRhMRIwEAYDVQQLDAlGaXJzdCBBUEkxGzAZBgNVBAMMEmQxZHZ0bDEwMDAuMWRjLmNvbTAeFw0xNTA3MjMxNjQxMDNaFw0xOTA3MjIxNjQxMDNaMHYxCzAJBgNVBAYTAlVTMQswCQYDVQQIDAJOSjEUMBIGA1UEBwwLSmVyc2V5IENpdHkxEzARBgNVBAoMCkZpcnN0IERhdGExEjAQBgNVBAsMCUZpcnN0IEFQSTEbMBkGA1UEAwwSZDFkdnRsMTAwMC4xZGMuY29tMFkwEwYHKoZIzj0CAQYIKoZIzj0DAQcDQgAErnHhPM18HFbOomJMUiLiPL7nrJuWvfPy0Gg3xsX3m8q0oWhTs1QcQDTT+TR3yh4sDRPqXnsTUwcvbrCOzdUEeTAJBgcqhkjOPQQBA0kAMEYCIQDrC1z2JTx1jZPvllpnkxPEzBGk9BhTCkEB58j/Cv+sXQIhAKGongoz++3tJroo1GxnwvzK/Qmc4P1K2lHoh9biZeNhAAAxggFUMIIBUAIBATB7MHYxCzAJBgNVBAYTAlVTMQswCQYDVQQIDAJOSjEUMBIGA1UEBwwLSmVyc2V5IENpdHkxEzARBgNVBAoMCkZpcnN0IERhdGExEjAQBgNVBAsMCUZpcnN0IEFQSTEbMBkGA1UEAwwSZDFkdnRsMTAwMC4xZGMuY29tAgEBMA0GCWCGSAFlAwQCAQUAoGkwGAYJKoZIhvcNAQkDMQsGCSqGSIb3DQEHATAcBgkqhkiG9w0BCQUxDxcNMTUwODEyMTczMTAwWjAvBgkqhkiG9w0BCQQxIgQgJyjKLiGQo3I1ZbfHSmF2XCZ8dNlcZyohziuXO48EKwgwCgYIKoZIzj0EAwIESDBGAiEAznKDYEz9MsC+r1g6e4LR1DTaQOl+X2rVNkWnKDpc1EQCIQCmK48ChHoz4HWnUnW5XqaGWOUXKHQvUgeqFr/jgBUzegAAAAAAAA==",
                        "applicationData": "VEVTVA==",
                        "merchantId": "order-1",
                        "version": "EC_v1"
                      }
                    },
                    "paymentFacilitator": {
                      "externalMerchantId": "12345",
                      "paymentFacilitatorId": "123123123",
                      "saleOrganizationId": "123124214",
                      "name": "First Reseller",
                      "subMerchantData": {
                        "mcc": "1432",
                        "legalName": "First Merchant",
                        "timezone": "Europe/London",
                        "address": {
                          "address1": "123 Main St.",
                          "city": "Sandy Springs",
                          "region": "Georgia",
                          "postalCode": "30303",
                          "country": "USA"
                        },
                        "document": {
                          "type": "NATIONAL_IDENTITY",
                          "number": "12345666544"
                        },
                        "merchantId": "12435325235"
                      }
                    },
                    "senderReceiverInfo": {
                      "senderInfo": {
                        "name": "Franklin Sender Roosevelt",
                        "firstName": "Franklin",
                        "lastName": "Roosevelt",
                        "middleName": "Sender",
                        "streetAddress": "5565 Glenridge Connector",
                        "city": "Atlanta",
                        "stateCode": "GA",
                        "countryCode": "US",
                        "postalCode": "30342",
                        "phoneNumber": "4044040740",
                        "birthDate": "19560121",
                        "participationId": "123456789123456789123456789123",
                        "referenceNumber": "12345678",
                        "accountNumber": "135246",
                        "accountType": "CARD_ACCOUNT_NO"
                      },
                      "receiverInfo": {
                        "name": "Abraham Receiver Lincoln",
                        "firstName": "Abraham",
                        "lastName": "Lincoln",
                        "middleName": "Receiver",
                        "streetAddress": "5565 Glenridge Connector",
                        "city": "Atlanta",
                        "stateCode": "GA",
                        "countryCode": "US",
                        "postalCode": "30342",
                        "phoneNumber": "4044040740",
                        "referenceNumber": "12345678",
                        "accountNumber": "135246",
                        "accountType": "ROUTING_TRANSIT_NO_AND_BANK_ACCOUNT_NO"
                      }
                    }
                  }
                },
                "WalletPreAuthTransaction": {
                  "summary": "WalletPreAuthTransaction",
                  "value": {
                    "requestType": "WalletPreAuthTransaction",
                    "transactionAmount": {
                      "total": 23.0,
                      "currency": "EUR"
                    },
                    "walletPaymentMethod": {
                      "walletType": "EncryptedGooglePayWalletPaymentMethod",
                      "encryptedGooglePay": {
                        "data": {
                          "encryptedMessage": "8nxjB9mr2tWZeDRQRcGN91UUnb7AioGp3oRo8kmQ6lyvJZiqD7PJlbRCYElNqUmr6Z8zK7b2gO9MKOjpnTCqH0qAe2vuIlwNXB60M2Lh7Qfl3bVgWzwF/FfFcenVW381hoItYi8AjWnWoydz1XMTEv2qhqUG03mEnRXdMyDyk6KKZXoW8Qc0p1F1thbxxu8weU8CZbZsWGGTjB42cilIqLVbribcOAG8Oas1AcgefFsu2hwp4gdSuOg7wmeSV7XKsGQzzVy85qtjuqET2XYzJE3K/Wh9QKkhu5P9Ms5s1+Smr2IjRyidqQa88SxQplrVoo9+PvT0bxFcMspBmO3pLkuaZSUBy++dL2fefcxNJvGCFfFhdxW9DojuuQxgpeu7RAQUsGLyFmr/4ZfBxt882xTmpX9MRx5CAudl9qUgBfKdwWwMX35qSbDTm1ju5XXzNh94VebjD3bB9Zj8qgbmUOr/+6OQLhoFJyBCXgx3EEH8hBwNVFrss/SLwQvFhZh62eO6lOtnmbOtP1yTDDVqGDBfai5SwAmM+KTcc9SGv/xDC+cWe8ck+aCBkG4HoRPapUVMZ3JIgV7yzTsVLJE\\\\u003d\\\\",
                          "ephemeralPublicKey": "BGH3fRFdoAobYrAlxnZOCYzkH84Cna92IZxtgsU36CMDaqSaDYb9/LsY8qw+vMtlBnwsUg/YVMOeeKp+qDkOWb4\\\\u003d\\\\",
                          "tag": "nvmOUNpnOTZULLhMxT/hWCHzH/4f7gGpfvQgwl3p8ng\\\\u003d\\\\"
                        },
                        "signature": "MEUCIFWTRWUZAOM5nfJC79FtJm56olnbwG4H5uWWxAUWAquiAiEA24j/BcOroeISsdJzYsyoVi8wzu4tnmKw+jdsGfuvPko=",
                        "version": "ECv1"
                      }
                    },
                    "splitShipment": {
                      "totalCount": 1,
                      "finalShipment": true
                    },
                    "incrementalFlag": false
                  }
                },
                "PaymentDevicePreAuthTransaction": {
                  "summary": "PaymentDevicePreAuthTransaction",
                  "value": {
                    "requestType": "PaymentDevicePreAuthTransaction",
                    "transactionAmount": {
                      "total": 12.04,
                      "currency": "EUR"
                    },
                    "paymentMethod": {
                      "paymentDevice": {
                        "deviceType": "SWIPE",
                        "data": "02A600C0170018008292;5424********1732=1810?*B73CD8C26233D4FFEC5500ED394439D97DDA5F530942D21D0000000000000000000000000000000000000000363434543035353734326299492410027300000260DC03",
                        "securityCode": "977",
                        "cardholderName": "First Cardholder",
                        "cardFunction": "CREDIT",
                        "brand": "VISA"
                      }
                    }
                  }
                },
                "PaymentDeviceSaleTransaction": {
                  "summary": "PaymentDeviceSaleTransaction",
                  "value": {
                    "requestType": "PaymentDeviceSaleTransaction",
                    "transactionAmount": {
                      "total": 12.04,
                      "currency": "EUR"
                    },
                    "paymentMethod": {
                      "paymentDevice": {
                        "deviceType": "SWIPE",
                        "data": "02A600C0170018008292;5424********1732=1810?*B73CD8C26233D4FFEC5500ED394439D97DDA5F530942D21D0000000000000000000000000000000000000000363434543035353734326299492410027300000260DC03",
                        "securityCode": "977",
                        "cardholderName": "First Cardholder",
                        "cardFunction": "CREDIT",
                        "brand": "VISA"
                      }
                    },
                    "senderReceiverInfo": {
                      "senderInfo": {
                        "name": "Franklin Sender Roosevelt",
                        "firstName": "Franklin",
                        "lastName": "Roosevelt",
                        "middleName": "Sender",
                        "streetAddress": "5565 Glenridge Connector",
                        "city": "Atlanta",
                        "stateCode": "GA",
                        "countryCode": "US",
                        "postalCode": "30342",
                        "phoneNumber": "4044040740",
                        "birthDate": "19560121",
                        "participationId": "123456789123456789123456789123",
                        "referenceNumber": "12345678",
                        "accountNumber": "135246",
                        "accountType": "CARD_ACCOUNT_NO"
                      },
                      "receiverInfo": {
                        "name": "Abraham Receiver Lincoln",
                        "firstName": "Abraham",
                        "lastName": "Lincoln",
                        "middleName": "Receiver",
                        "streetAddress": "5565 Glenridge Connector",
                        "city": "Atlanta",
                        "stateCode": "GA",
                        "countryCode": "US",
                        "postalCode": "30342",
                        "phoneNumber": "4044040740",
                        "referenceNumber": "12345678",
                        "accountNumber": "135246",
                        "accountType": "ROUTING_TRANSIT_NO_AND_BANK_ACCOUNT_NO"
                      }
                    }
                  }
                },
                "PaymentDeviceCreditTransaction": {
                  "summary": "PaymentDeviceCreditTransaction",
                  "value": {
                    "requestType": "PaymentDeviceCreditTransaction",
                    "transactionAmount": {
                      "total": 12.04,
                      "currency": "EUR"
                    },
                    "paymentMethod": {
                      "paymentDevice": {
                        "deviceType": "SWIPE",
                        "data": "02A600C0170018008292;5424********1732=1810?*B73CD8C26233D4FFEC5500ED394439D97DDA5F530942D21D0000000000000000000000000000000000000000363434543035353734326299492410027300000260DC03",
                        "securityCode": "977",
                        "cardholderName": "First Cardholder",
                        "cardFunction": "CREDIT",
                        "brand": "VISA"
                      }
                    }
                  }
                },
                "PaymentDeviceDisbursementTransaction": {
                  "summary": "PaymentDeviceDisbursementTransaction",
                  "value": {
                    "requestType": "PaymentDeviceDisbursementTransaction",
                    "transactionAmount": {
                      "total": "50",
                      "currency": "EUR"
                    },
                    "disbursement": {
                      "disbursementType": "FundingTransactionType",
                      "fundingSource": "CREDIT_ACCOUNT",
                      "senderInfo": {
                        "name": "Franklin Sender Roosevelt",
                        "firstName": "John",
                        "middleName": "Doe",
                        "lastName": "Lincoln",
                        "streetAddress": "5565 Glenridge Connector",
                        "city": "Atlanta",
                        "stateCode": "GA",
                        "countryCode": "US",
                        "postalCode": "30342-3456",
                        "phoneNumber": "4044040740",
                        "birthDate": "19560121",
                        "referenceNumber": "12345678",
                        "accountNumber": "135246",
                        "participationId": "123456789123456789123456789123",
                        "accountType": "EMAIL"
                      },
                      "receiverInfo": {
                        "name": "Abraham Receiver Lincoln",
                        "firstName": "John",
                        "middleName": "Doe",
                        "lastName": "Lincoln",
                        "streetAddress": "5565 Glenridge Connector",
                        "city": "Atlanta",
                        "stateCode": "GA",
                        "countryCode": "US",
                        "postalCode": "30342-3456",
                        "phoneNumber": "4044040740",
                        "referenceNumber": "12345678",
                        "accountNumber": "135246",
                        "accountType": "EMAIL"
                      }
                    },
                    "paymentMethod": {
                      "paymentDevice": {
                        "deviceType": "SWIPE",
                        "data": "02A600C0170018008292;5424********1732=1810?*B73CD8C26233D4FFEC5500ED394439D97DDA5F530942D21D0000000000000000000000000000000000000000363434543035353734326299492410027300000260DC03",
                        "securityCode": "977",
                        "cardholderName": "First Cardholder",
                        "cardFunction": "CREDIT",
                        "brand": "VISA"
                      }
                    },
                    "order": {
                      "additionalDetails": {
                        "invoiceNumber": "984424645416",
                        "transactionTypeIdentifier": "BUSINESS_DISBURSEMENT_MONEY_SEND"
                      }
                    },
                    "authenticationResult": {
                      "authenticationType": "Secure3D21AuthenticationResult",
                      "cavv": "AAABBJkZUQAAAABXSBlRAAAAAAA=",
                      "xid": "G2Q6OcsXq1k0pA0mMNHVH1P02Tw=",
                      "transactionId": "f38e6948-5388-41a6-bca4-b49723c19437",
                      "authenticationResponse": "Y",
                      "transactionStatus": "Y"
                    }
                  }
                }
              }
            }
          },
          "description": "Accepted request types: AliPaySaleTransaction, ChinaPnRSaleTransaction, PaymentCardCreditTransaction, PaymentCardForcedTicketTransaction, PaymentCardSaleTransaction, PaymentCardPreAuthTransaction, PaymentCardPayerAuthTransaction, PaymentCardDisbursementTransaction, PaymentTokenCreditTransaction, PaymentTokenPreAuthTransaction, PaymentTokenSaleTransaction, PaymentTokenDisbursementTransaction, PaypalCreditTransaction, SepaSaleTransaction, SepaCreditTransaction, WalletSaleTransaction, and WalletPreAuthTransaction, PaymentDeviceSaleTransaction, PaymentDevicePreAuthTransaction, PaymentDeviceCreditTransaction, PaymentDeviceDisbursementTransaction, AchPreAuthTransaction, AchSaleTransaction, AchCreditTransaction.",
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionResponse"
                },
                "examples": {
                  "PaymentCardDisbursementTransactionResponse": {
                    "summary": "PaymentCardDisbursementTransactionResponse",
                    "$ref": "#/components/examples/BaseResponseForMastercardMoneySend"
                  },
                  "PaymentTokenDisbursementTransactionResponse": {
                    "summary": "PaymentTokenDisbursementTransactionResponse",
                    "$ref": "#/components/examples/BaseResponseForMastercardMoneySend"
                  },
                  "PaymentDeviceDisbursementTransactionResponse": {
                    "summary": "PaymentDeviceDisbursementTransactionResponse",
                    "$ref": "#/components/examples/BaseResponseForMastercardMoneySend"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "403": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/TransactionGatewayDeclined"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType"
          },
          "422": {
            "$ref": "#/components/responses/TransactionEndpointDeclined"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          },
          "502": {
            "$ref": "#/components/responses/EndpointCommunicationError"
          }
        }
      }
    },
    "/payments/{transaction-id}": {
      "get": {
        "tags": [
          "Payment"
        ],
        "x-proxy-name": "Transaction Inquiry",
        "summary": "Retrieve the state of a transaction.",
        "description": "Use this query to get the current state of an existing transaction.",
        "operationId": "transactionInquiry",
        "parameters": [
          {
            "$ref": "#/components/parameters/ContentTypeParam"
          },
          {
            "$ref": "#/components/parameters/ClientRequestIdParam"
          },
          {
            "$ref": "#/components/parameters/ApiKeyParam"
          },
          {
            "$ref": "#/components/parameters/TimestampParam"
          },
          {
            "$ref": "#/components/parameters/MessageSignatureParam"
          },
          {
            "$ref": "#/components/parameters/RegionParam"
          },
          {
            "$ref": "#/components/parameters/TransactionIdParam"
          },
          {
            "$ref": "#/components/parameters/StoreIdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Success response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "403": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/TransactionGatewayDeclined"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType"
          },
          "422": {
            "$ref": "#/components/responses/TransactionEndpointDeclined"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          },
          "502": {
            "$ref": "#/components/responses/EndpointCommunicationError"
          }
        }
      },
      "patch": {
        "tags": [
          "Payment"
        ],
        "x-proxy-name": "Finalize Secure Transaction",
        "x-tio-request-headers": [
          {
            "$ref": "#/x-tio-request-headers/PaymentsFinalizeSecureTransactionStore"
          }
        ],
        "operationId": "finalizeSecureTransaction",
        "summary": "Update a payment and continue processing",
        "description": "Use this to handle a redirect response, updating the transaction and continuing processing.",
        "parameters": [
          {
            "$ref": "#/components/parameters/ContentTypeParam"
          },
          {
            "$ref": "#/components/parameters/ClientRequestIdParam"
          },
          {
            "$ref": "#/components/parameters/ApiKeyParam"
          },
          {
            "$ref": "#/components/parameters/TimestampParam"
          },
          {
            "$ref": "#/components/parameters/MessageSignatureParam"
          },
          {
            "$ref": "#/components/parameters/RegionParam"
          },
          {
            "$ref": "#/components/parameters/TransactionIdParam"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuthenticationUpdateRequest"
              }
            }
          },
          "required": true,
          "description": "Accepted request types: Secure3DAuthenticationUpdateRequest, Secure3D10AuthenticationUpdateRequest, Secure3D21AuthenticationUpdateRequest and UnionPayAuthenticationUpdateRequest."
        },
        "responses": {
          "200": {
            "description": "Success response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "403": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/TransactionGatewayDeclined"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType"
          },
          "422": {
            "$ref": "#/components/responses/TransactionEndpointDeclined"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          },
          "502": {
            "$ref": "#/components/responses/EndpointCommunicationError"
          }
        }
      },
      "post": {
        "tags": [
          "Payment"
        ],
        "x-proxy-name": "Secondary Transaction",
        "x-tio-request-headers": [
          {
            "$ref": "#/x-tio-request-headers/SecondaryPaymentsTransaction"
          }
        ],
        "summary": "Perform a secondary transaction",
        "description": "Use this to perform a  subsequent transaction, e.g. void, postAuth or return.",
        "operationId": "submitSecondaryTransaction",
        "parameters": [
          {
            "$ref": "#/components/parameters/ContentTypeParam"
          },
          {
            "$ref": "#/components/parameters/ClientRequestIdParam"
          },
          {
            "$ref": "#/components/parameters/ApiKeyParam"
          },
          {
            "$ref": "#/components/parameters/TimestampParam"
          },
          {
            "$ref": "#/components/parameters/MessageSignatureParam"
          },
          {
            "$ref": "#/components/parameters/RegionParam"
          },
          {
            "$ref": "#/components/parameters/TransactionIdParam"
          },
          {
            "$ref": "#/components/parameters/StoreIdParam"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/SecondaryTransaction"
        },
        "responses": {
          "200": {
            "description": "Success response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "403": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/TransactionGatewayDeclined"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType"
          },
          "422": {
            "$ref": "#/components/responses/TransactionEndpointDeclined"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          },
          "502": {
            "$ref": "#/components/responses/EndpointCommunicationError"
          }
        }
      }
    },
    "/payments/apm/{transaction-id}": {
      "get": {
        "tags": [
          "Payment APM"
        ],
        "x-proxy-name": "Transaction Inquiry",
        "summary": "Retrieve the state of a transaction.",
        "description": "Use this query to get the current state of an existing transaction.",
        "operationId": "apmTransactionInquiry",
        "parameters": [
          {
            "$ref": "#/components/parameters/ContentTypeParam"
          },
          {
            "$ref": "#/components/parameters/ClientRequestIdParam"
          },
          {
            "$ref": "#/components/parameters/ApiKeyParam"
          },
          {
            "$ref": "#/components/parameters/TimestampParam"
          },
          {
            "$ref": "#/components/parameters/MessageSignatureParam"
          },
          {
            "$ref": "#/components/parameters/RegionParam"
          },
          {
            "$ref": "#/components/parameters/TransactionIdParam"
          },
          {
            "$ref": "#/components/parameters/StoreIdParam"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetTransaction"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "403": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/TransactionGatewayDeclined"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType"
          },
          "422": {
            "$ref": "#/components/responses/TransactionEndpointDeclined"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          },
          "502": {
            "$ref": "#/components/responses/EndpointCommunicationError"
          }
        }
      },
      "patch": {
        "tags": [
          "Payment APM"
        ],
        "x-proxy-name": "Perform an action on an existing Transaction",
        "x-tio-request-headers": [
          {
            "$ref": "#/x-tio-request-headers/PaymentsApmAction"
          }
        ],
        "operationId": "submitApmUpdateTransaction",
        "summary": "Perform action on existing APM transaction",
        "description": "Perform an action on an existing APM transaction.",
        "parameters": [
          {
            "$ref": "#/components/parameters/ContentTypeParam"
          },
          {
            "$ref": "#/components/parameters/ClientRequestIdParam"
          },
          {
            "$ref": "#/components/parameters/ApiKeyParam"
          },
          {
            "$ref": "#/components/parameters/TimestampParam"
          },
          {
            "$ref": "#/components/parameters/MessageSignatureParam"
          },
          {
            "$ref": "#/components/parameters/RegionParam"
          },
          {
            "$ref": "#/components/parameters/TransactionIdParam"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateTransaction"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "403": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/TransactionGatewayDeclined"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType"
          },
          "422": {
            "$ref": "#/components/responses/TransactionEndpointDeclined"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          },
          "502": {
            "$ref": "#/components/responses/EndpointCommunicationError"
          }
        }
      }
    },
    "/orders/{order-id}": {
      "post": {
        "tags": [
          "Order"
        ],
        "x-proxy-name": "Order-Based Secondary Transactions",
        "summary": "Perform return or postAuth secondary transactions",
        "description": "Use this to perform a subsequent transaction, e.g. postAuth or return using an order ID as a reference.",
        "operationId": "submitSecondaryTransactionFromOrder",
        "parameters": [
          {
            "$ref": "#/components/parameters/ContentTypeParam"
          },
          {
            "$ref": "#/components/parameters/ClientRequestIdParam"
          },
          {
            "$ref": "#/components/parameters/ApiKeyParam"
          },
          {
            "$ref": "#/components/parameters/TimestampParam"
          },
          {
            "$ref": "#/components/parameters/MessageSignatureParam"
          },
          {
            "$ref": "#/components/parameters/RegionParam"
          },
          {
            "$ref": "#/components/parameters/OrderIdParam"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/SecondaryTransaction"
        },
        "responses": {
          "200": {
            "description": "Success response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "403": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/TransactionGatewayDeclined"
          },
          "422": {
            "$ref": "#/components/responses/TransactionEndpointDeclined"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          },
          "502": {
            "$ref": "#/components/responses/EndpointCommunicationError"
          }
        }
      },
      "get": {
        "tags": [
          "Order"
        ],
        "x-proxy-name": "Order Inquiry",
        "summary": "Retrieve the state of an order",
        "description": "Use this query to get the current state of an existing order.",
        "operationId": "orderInquiry",
        "parameters": [
          {
            "$ref": "#/components/parameters/ContentTypeParam"
          },
          {
            "$ref": "#/components/parameters/ClientRequestIdParam"
          },
          {
            "$ref": "#/components/parameters/ApiKeyParam"
          },
          {
            "$ref": "#/components/parameters/TimestampParam"
          },
          {
            "$ref": "#/components/parameters/MessageSignatureParam"
          },
          {
            "$ref": "#/components/parameters/RegionParam"
          },
          {
            "$ref": "#/components/parameters/OrderIdParam"
          },
          {
            "$ref": "#/components/parameters/StoreIdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Success response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "403": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          },
          "502": {
            "$ref": "#/components/responses/EndpointCommunicationError"
          }
        }
      }
    },
    "/payment-schedules": {
      "post": {
        "tags": [
          "Payment Schedules"
        ],
        "x-proxy-name": "Schedule Creation",
        "summary": "Create gateway payment schedule",
        "description": "Use this to create a payment schedule managed by the gateway.",
        "operationId": "createPaymentSchedule",
        "parameters": [
          {
            "$ref": "#/components/parameters/ContentTypeParam"
          },
          {
            "$ref": "#/components/parameters/ClientRequestIdParam"
          },
          {
            "$ref": "#/components/parameters/ApiKeyParam"
          },
          {
            "$ref": "#/components/parameters/TimestampParam"
          },
          {
            "$ref": "#/components/parameters/MessageSignatureParam"
          },
          {
            "$ref": "#/components/parameters/RegionParam"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/PaymentSchedulesRequest"
        },
        "responses": {
          "200": {
            "description": "Success response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentSchedulesResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "description": "The attempted action is not valid according to gateway rules.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentSchedulesErrorResponse"
                }
              }
            }
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType"
          },
          "422": {
            "description": "The endpoint declined the transaction.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentSchedulesErrorResponse"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/payment-schedules/{order-id}": {
      "get": {
        "tags": [
          "Payment Schedules"
        ],
        "x-proxy-name": "Schedule Inquiry",
        "summary": "View a gateway payment schedule",
        "description": "Use this to view details of a payment schedule managed by the gateway.",
        "operationId": "inquiryPaymentSchedule",
        "parameters": [
          {
            "$ref": "#/components/parameters/ContentTypeParam"
          },
          {
            "$ref": "#/components/parameters/ClientRequestIdParam"
          },
          {
            "$ref": "#/components/parameters/ApiKeyParam"
          },
          {
            "$ref": "#/components/parameters/TimestampParam"
          },
          {
            "$ref": "#/components/parameters/MessageSignatureParam"
          },
          {
            "$ref": "#/components/parameters/RegionParam"
          },
          {
            "$ref": "#/components/parameters/OrderIdParam"
          },
          {
            "$ref": "#/components/parameters/StoreIdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Success response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RecurringPaymentDetailsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      },
      "delete": {
        "tags": [
          "Payment Schedules"
        ],
        "x-proxy-name": "Schedule Cancel",
        "summary": "Cancel a gateway payment schedule",
        "description": "Use this to cancel a payment schedule managed by the gateway.",
        "operationId": "cancelPaymentSchedule",
        "parameters": [
          {
            "$ref": "#/components/parameters/ContentTypeParam"
          },
          {
            "$ref": "#/components/parameters/ClientRequestIdParam"
          },
          {
            "$ref": "#/components/parameters/ApiKeyParam"
          },
          {
            "$ref": "#/components/parameters/TimestampParam"
          },
          {
            "$ref": "#/components/parameters/MessageSignatureParam"
          },
          {
            "$ref": "#/components/parameters/RegionParam"
          },
          {
            "$ref": "#/components/parameters/OrderIdParam"
          },
          {
            "$ref": "#/components/parameters/StoreIdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Success response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentSchedulesResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/GatewayDeclined"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType"
          },
          "422": {
            "$ref": "#/components/responses/EndpointDeclined"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      },
      "patch": {
        "tags": [
          "Payment Schedules"
        ],
        "x-proxy-name": "Schedule Update",
        "summary": "Update a gateway payment schedule",
        "description": "Use this to update a payment schedule managed by the gateway.",
        "operationId": "updatePaymentSchedule",
        "parameters": [
          {
            "$ref": "#/components/parameters/ContentTypeParam"
          },
          {
            "$ref": "#/components/parameters/ClientRequestIdParam"
          },
          {
            "$ref": "#/components/parameters/ApiKeyParam"
          },
          {
            "$ref": "#/components/parameters/TimestampParam"
          },
          {
            "$ref": "#/components/parameters/MessageSignatureParam"
          },
          {
            "$ref": "#/components/parameters/RegionParam"
          },
          {
            "$ref": "#/components/parameters/OrderIdParam"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/PaymentSchedulesPatchRequest"
        },
        "responses": {
          "200": {
            "description": "Success response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentSchedulesResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/GatewayDeclined"
          },
          "422": {
            "$ref": "#/components/responses/EndpointDeclined"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/fraud/score-only": {
      "post": {
        "tags": [
          "Fraud Detect"
        ],
        "x-proxy-name": "Score Only",
        "x-tio-request-headers": [
          {
            "$ref": "#/x-tio-request-headers/FraudScoreOnlyStore"
          }
        ],
        "summary": "Score a transaction for fraud",
        "description": "Use this to obtain a fraud score for a transaction.",
        "operationId": "scoreOnly",
        "parameters": [
          {
            "$ref": "#/components/parameters/ContentTypeParam"
          },
          {
            "$ref": "#/components/parameters/ClientRequestIdParam"
          },
          {
            "$ref": "#/components/parameters/ApiKeyParam"
          },
          {
            "$ref": "#/components/parameters/TimestampParam"
          },
          {
            "$ref": "#/components/parameters/MessageSignatureParam"
          },
          {
            "$ref": "#/components/parameters/RegionParam"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ScoreOnlyRequest"
              }
            }
          },
          "description": "Accepted request type: ScoreOnlyRequest.",
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScoreOnlyResponse"
                }
              }
            }
          },
          "201": {
            "description": "Success response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScoreOnlyResponse"
                }
              }
            }
          },
          "400": {
            "description": "Error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScoreOnlyResponse"
                }
              }
            }
          }
        }
      }
    },
    "/fraud/client-registration": {
      "post": {
        "tags": [
          "Fraud Detect"
        ],
        "x-proxy-name": "Client Registration",
        "x-tio-request-headers": [
          {
            "$ref": "#/x-tio-request-headers/FraudRegistrationStore"
          }
        ],
        "summary": "Client registration for fraud detect transaction",
        "description": "Use this to register client for fraud detect transaction.",
        "operationId": "fraudClientRegistration",
        "parameters": [
          {
            "$ref": "#/components/parameters/ContentTypeParam"
          },
          {
            "$ref": "#/components/parameters/ClientRequestIdParam"
          },
          {
            "$ref": "#/components/parameters/ApiKeyParam"
          },
          {
            "$ref": "#/components/parameters/TimestampParam"
          },
          {
            "$ref": "#/components/parameters/MessageSignatureParam"
          },
          {
            "$ref": "#/components/parameters/RegionParam"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ClientRegistration"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FraudRegistrationResponse"
                }
              }
            }
          },
          "201": {
            "description": "Success response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScoreOnlyResponse"
                }
              }
            }
          },
          "400": {
            "description": "Error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FraudRegistrationResponse"
                }
              }
            }
          }
        }
      }
    },
    "/fraud/payment-registration": {
      "post": {
        "tags": [
          "Fraud Detect"
        ],
        "x-proxy-name": "Payment Registration",
        "x-tio-request-headers": [
          {
            "$ref": "#/x-tio-request-headers/FraudRegistrationStore"
          }
        ],
        "summary": "Payment registration for fraud detect transaction",
        "description": "Use this to register payment for fraud detect transaction.",
        "operationId": "fraudPaymentRegistration",
        "parameters": [
          {
            "$ref": "#/components/parameters/ContentTypeParam"
          },
          {
            "$ref": "#/components/parameters/ClientRequestIdParam"
          },
          {
            "$ref": "#/components/parameters/ApiKeyParam"
          },
          {
            "$ref": "#/components/parameters/TimestampParam"
          },
          {
            "$ref": "#/components/parameters/MessageSignatureParam"
          },
          {
            "$ref": "#/components/parameters/RegionParam"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PaymentRegistration"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FraudRegistrationResponse"
                }
              }
            }
          },
          "201": {
            "description": "Success response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScoreOnlyResponse"
                }
              }
            }
          },
          "400": {
            "description": "Error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FraudRegistrationResponse"
                }
              }
            }
          }
        }
      }
    },
    "/payment-url": {
      "post": {
        "tags": [
          "Payment URL"
        ],
        "x-proxy-name": "URL Creation",
        "summary": "Create a payment URL",
        "description": "Use this to generate a payment link.",
        "operationId": "createPaymentUrl",
        "parameters": [
          {
            "$ref": "#/components/parameters/ContentTypeParam"
          },
          {
            "$ref": "#/components/parameters/ClientRequestIdParam"
          },
          {
            "$ref": "#/components/parameters/ApiKeyParam"
          },
          {
            "$ref": "#/components/parameters/TimestampParam"
          },
          {
            "$ref": "#/components/parameters/MessageSignatureParam"
          },
          {
            "$ref": "#/components/parameters/RegionParam"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PaymentUrlRequest"
              }
            }
          },
          "description": "Accepted request type: PaymentUrlRequest.",
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentUrlResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/GatewayDeclined"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      },
      "delete": {
        "tags": [
          "Payment URL"
        ],
        "x-proxy-name": "Delete URL",
        "summary": "Delete a payment URL",
        "description": "Use this to delete a payment link.",
        "operationId": "deletePaymentUrl",
        "parameters": [
          {
            "$ref": "#/components/parameters/ContentTypeParam"
          },
          {
            "$ref": "#/components/parameters/ClientRequestIdParam"
          },
          {
            "$ref": "#/components/parameters/ApiKeyParam"
          },
          {
            "$ref": "#/components/parameters/TimestampParam"
          },
          {
            "$ref": "#/components/parameters/MessageSignatureParam"
          },
          {
            "$ref": "#/components/parameters/RegionParam"
          },
          {
            "$ref": "#/components/parameters/StoreIdParam"
          },
          {
            "$ref": "#/components/parameters/TransactionIdQueryParam"
          },
          {
            "$ref": "#/components/parameters/OrderIdQueryParam"
          },
          {
            "$ref": "#/components/parameters/PaymentUrlIdQueryParam"
          },
          {
            "$ref": "#/components/parameters/TransactionTimeQueryParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Success response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentUrlResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/GatewayDeclined"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      },
      "get": {
        "tags": [
          "Payment URL"
        ],
        "x-proxy-name": "URL Detail",
        "summary": "Retrieve the state of payment URL",
        "description": "Use this query to get the current state of an existing paymentURL.",
        "operationId": "paymentUrlDetail",
        "parameters": [
          {
            "$ref": "#/components/parameters/ContentTypeParam"
          },
          {
            "$ref": "#/components/parameters/ClientRequestIdParam"
          },
          {
            "$ref": "#/components/parameters/ApiKeyParam"
          },
          {
            "$ref": "#/components/parameters/TimestampParam"
          },
          {
            "$ref": "#/components/parameters/MessageSignatureParam"
          },
          {
            "$ref": "#/components/parameters/RegionParam"
          },
          {
            "$ref": "#/components/parameters/StoreIdParam"
          },
          {
            "$ref": "#/components/parameters/OrderIdQueryParam"
          },
          {
            "$ref": "#/components/parameters/MerchantTransactionIdQueryParam"
          },
          {
            "$ref": "#/components/parameters/FromDateQueryParam"
          },
          {
            "$ref": "#/components/parameters/ToDateQueryParam"
          },
          {
            "$ref": "#/components/parameters/StatusQueryParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Success response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentUrlDetailResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/GatewayDeclined"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/authentication/access-tokens": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "x-proxy-name": "Access Tokens",
        "summary": "Generate an access token for user authentication",
        "description": "This is the access token generation call for authorizing subsequent financial transactions. A valid access token is required for web client requests.",
        "operationId": "accessToken",
        "parameters": [
          {
            "$ref": "#/components/parameters/ContentTypeParam"
          },
          {
            "$ref": "#/components/parameters/ClientRequestIdParam"
          },
          {
            "$ref": "#/components/parameters/ApiKeyParam"
          },
          {
            "$ref": "#/components/parameters/TimestampParam"
          },
          {
            "$ref": "#/components/parameters/MessageSignatureParam"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccessTokenRequest"
              }
            }
          },
          "description": "Access token request",
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccessTokenResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "403": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/payment-tokens": {
      "post": {
        "tags": [
          "Payment Token"
        ],
        "x-proxy-name": "Token Creation",
        "operationId": "createPaymentToken",
        "summary": "Create a payment token from a payment card",
        "description": "Use this to create a payment token to safely store sensitive credit card information.",
        "parameters": [
          {
            "$ref": "#/components/parameters/ContentTypeParam"
          },
          {
            "$ref": "#/components/parameters/ClientRequestIdParam"
          },
          {
            "$ref": "#/components/parameters/ApiKeyParam"
          },
          {
            "$ref": "#/components/parameters/TimestampParam"
          },
          {
            "$ref": "#/components/parameters/MessageSignatureParam"
          },
          {
            "$ref": "#/components/parameters/AccessTokenParam"
          },
          {
            "$ref": "#/components/parameters/RegionParam"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PaymentTokenizationRequest"
              }
            }
          },
          "required": true,
          "description": "Accepted request types: PaymentCardPaymentTokenizationRequest, PaymentDevicePaymentTokenizationRequest, and ReferencedOrderPaymentTokenizationRequest."
        },
        "responses": {
          "200": {
            "description": "Success response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentTokenizationResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/PaymentTokenizationGatewayDeclined"
          },
          "422": {
            "$ref": "#/components/responses/PaymentTokenizationEndpointDeclined"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      },
      "patch": {
        "tags": [
          "Payment Token"
        ],
        "x-proxy-name": "Token Update",
        "operationId": "updatePaymentToken",
        "summary": "Update one or more payment tokens",
        "description": "Use this update one or more payment tokens.",
        "parameters": [
          {
            "$ref": "#/components/parameters/ContentTypeParam"
          },
          {
            "$ref": "#/components/parameters/ClientRequestIdParam"
          },
          {
            "$ref": "#/components/parameters/ApiKeyParam"
          },
          {
            "$ref": "#/components/parameters/TimestampParam"
          },
          {
            "$ref": "#/components/parameters/MessageSignatureParam"
          },
          {
            "$ref": "#/components/parameters/AccessTokenParam"
          },
          {
            "$ref": "#/components/parameters/RegionParam"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PaymentCardPaymentTokenUpdateRequest"
              }
            }
          },
          "required": true,
          "description": "Accepted request type: PaymentCardPaymentTokenUpdateRequest."
        },
        "responses": {
          "200": {
            "description": "Success response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentTokenUpdateResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/PaymentTokenizationGatewayDeclined"
          },
          "422": {
            "$ref": "#/components/responses/PaymentTokenizationEndpointDeclined"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/payment-tokens/{token-id}": {
      "get": {
        "tags": [
          "Payment Token"
        ],
        "x-proxy-name": "Get Token Source Details",
        "operationId": "getPaymentTokenDetails",
        "summary": "Get payment card details associated with token",
        "description": "Get payment card details associated with token.",
        "parameters": [
          {
            "$ref": "#/components/parameters/ContentTypeParam"
          },
          {
            "$ref": "#/components/parameters/ClientRequestIdParam"
          },
          {
            "$ref": "#/components/parameters/ApiKeyParam"
          },
          {
            "$ref": "#/components/parameters/TimestampParam"
          },
          {
            "$ref": "#/components/parameters/MessageSignatureParam"
          },
          {
            "$ref": "#/components/parameters/AccessTokenParam"
          },
          {
            "$ref": "#/components/parameters/RegionParam"
          },
          {
            "$ref": "#/components/parameters/TokenIdParam"
          },
          {
            "$ref": "#/components/parameters/StoreIdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Success response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentTokenizationResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      },
      "delete": {
        "tags": [
          "Payment Token"
        ],
        "x-proxy-name": "Token Deletion",
        "operationId": "deletePaymentToken",
        "summary": "Delete a payment token",
        "description": "Use this to delete a payment token.",
        "parameters": [
          {
            "$ref": "#/components/parameters/ContentTypeParam"
          },
          {
            "$ref": "#/components/parameters/ClientRequestIdParam"
          },
          {
            "$ref": "#/components/parameters/ApiKeyParam"
          },
          {
            "$ref": "#/components/parameters/TimestampParam"
          },
          {
            "$ref": "#/components/parameters/MessageSignatureParam"
          },
          {
            "$ref": "#/components/parameters/AccessTokenParam"
          },
          {
            "$ref": "#/components/parameters/RegionParam"
          },
          {
            "$ref": "#/components/parameters/TokenIdParam"
          },
          {
            "$ref": "#/components/parameters/StoreIdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Success response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentTokenizationResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/payment-tokens/{token-id}/cryptogram": {
      "post": {
        "tags": [
          "Payment Token"
        ],
        "x-proxy-name": "Get Cryptogram with token id",
        "summary": "Get Cryptogram with token id",
        "description": "Get token details and cryptogram with token id.",
        "operationId": "getNetworkTokenCryptogram",
        "parameters": [
          {
            "$ref": "#/components/parameters/ContentTypeParam"
          },
          {
            "$ref": "#/components/parameters/ClientRequestIdParam"
          },
          {
            "$ref": "#/components/parameters/ApiKeyParam"
          },
          {
            "$ref": "#/components/parameters/TimestampParam"
          },
          {
            "$ref": "#/components/parameters/MessageSignatureParam"
          },
          {
            "$ref": "#/components/parameters/RegionParam"
          },
          {
            "$ref": "#/components/parameters/TokenIdParam"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetNetworkTokenCryptogramRequest"
              }
            }
          },
          "description": "Accepted request type: GetNetworkTokenCryptogramRequest.",
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetNetworkTokenCryptogramResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "403": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/card-verification": {
      "post": {
        "tags": [
          "Verification"
        ],
        "x-proxy-name": "Card Verification",
        "operationId": "verifyCard",
        "summary": "Verify a payment card",
        "description": "Use this to perform card verification for a payment card. Use the account-verification endpoint instead for this request.",
        "parameters": [
          {
            "$ref": "#/components/parameters/ContentTypeParam"
          },
          {
            "$ref": "#/components/parameters/ClientRequestIdParam"
          },
          {
            "$ref": "#/components/parameters/ApiKeyParam"
          },
          {
            "$ref": "#/components/parameters/TimestampParam"
          },
          {
            "$ref": "#/components/parameters/MessageSignatureParam"
          },
          {
            "$ref": "#/components/parameters/RegionParam"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CardVerificationRequest"
              }
            }
          },
          "required": true,
          "description": "Accepted request type: CardVerificationRequest."
        },
        "responses": {
          "200": {
            "description": "Success response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/GatewayDeclined"
          },
          "422": {
            "$ref": "#/components/responses/EndpointDeclined"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/delivery-confirmation": {
      "post": {
        "tags": [
          "DeliveryConfirmation"
        ],
        "x-proxy-name": "Delivery Confirmation",
        "operationId": "confirmation",
        "summary": "Delivery Confirmation for Escrow KPS Transactions",
        "description": "Delivery Confirmation for Escrow KPS Transactions",
        "parameters": [
          {
            "$ref": "#/components/parameters/ContentTypeParam"
          },
          {
            "$ref": "#/components/parameters/ClientRequestIdParam"
          },
          {
            "$ref": "#/components/parameters/ApiKeyParam"
          },
          {
            "$ref": "#/components/parameters/TimestampParam"
          },
          {
            "$ref": "#/components/parameters/MessageSignatureParam"
          },
          {
            "$ref": "#/components/parameters/RegionParam"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeliveryConfirmationRequest"
              }
            }
          },
          "required": true,
          "description": "Accepted request type: DeliveryConfirmationRequest."
        },
        "responses": {
          "200": {
            "description": "Success response.",
            "content": {
              "application/json": {
[...]
