{
  "openapi": "3.0.1",
  "info": {
    "title": "Statutory Instruments API",
    "description": "An API exposing details of the various types of Statutory Instruments laid before Parliament.",
    "contact": {
      "name": "UK Parliament",
      "url": "https://www.parliament.uk",
      "email": "softwareengineering@parliament.uk"
    },
    "version": "v1",
    "x-jentic-source-url": "https://raw.githubusercontent.com/jentic/jentic-public-apis/refs/heads/main/apis/openapi/parliament.uk/statutoryinstruments/v1/openapi.json"
  },
  "servers": [
    {
      "url": "https://statutoryinstruments-api.parliament.uk"
    }
  ],
  "paths": {
    "/api/v1/BusinessItem/{id}": {
      "get": {
        "tags": [
          "v1"
        ],
        "summary": "Returns business item by ID.",
        "operationId": "GetBusinessItemById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Business item with the ID specified",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "LaidPaper",
            "in": "query",
            "description": "Business item by laid paper type",
            "schema": {
              "$ref": "#/components/schemas/StatutoryInstruments.Services.Domain.V1.Enums.LaidPaperType"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The requested business item",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/StatutoryInstruments.Services.Api.ViewModels.Resources.Resource`1[[StatutoryInstruments.Services.Domain.Models.V1.StatutoryInstruments.BusinessItem, StatutoryInstruments.Services.Domain, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]]"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatutoryInstruments.Services.Api.ViewModels.Resources.Resource`1[[StatutoryInstruments.Services.Domain.Models.V1.StatutoryInstruments.BusinessItem, StatutoryInstruments.Services.Domain, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]]"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatutoryInstruments.Services.Api.ViewModels.Resources.Resource`1[[StatutoryInstruments.Services.Domain.Models.V1.StatutoryInstruments.BusinessItem, StatutoryInstruments.Services.Domain, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]]"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "If the item doesn't exist",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          }
        },
        "description": "Returns business item by ID."
      }
    },
    "/api/v1/LayingBody": {
      "get": {
        "tags": [
          "v1"
        ],
        "summary": "Returns all laying bodies.",
        "operationId": "GetLayingBodies",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/StatutoryInstruments.Services.Api.ViewModels.Resources.ResourceCollection`1[[StatutoryInstruments.Services.Domain.Models.V1.LayingBody, StatutoryInstruments.Services.Domain, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]]"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatutoryInstruments.Services.Api.ViewModels.Resources.ResourceCollection`1[[StatutoryInstruments.Services.Domain.Models.V1.LayingBody, StatutoryInstruments.Services.Domain, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]]"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatutoryInstruments.Services.Api.ViewModels.Resources.ResourceCollection`1[[StatutoryInstruments.Services.Domain.Models.V1.LayingBody, StatutoryInstruments.Services.Domain, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]]"
                }
              }
            }
          }
        },
        "description": "Returns all laying bodies."
      }
    },
    "/api/v1/Procedure": {
      "get": {
        "tags": [
          "v1"
        ],
        "summary": "Returns all procedures.",
        "operationId": "GetProceduresV1",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/StatutoryInstruments.Services.Api.ViewModels.Resources.ResourceCollection`1[[StatutoryInstruments.Services.Domain.Models.V1.Procedures.Procedure, StatutoryInstruments.Services.Domain, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]]"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatutoryInstruments.Services.Api.ViewModels.Resources.ResourceCollection`1[[StatutoryInstruments.Services.Domain.Models.V1.Procedures.Procedure, StatutoryInstruments.Services.Domain, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]]"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatutoryInstruments.Services.Api.ViewModels.Resources.ResourceCollection`1[[StatutoryInstruments.Services.Domain.Models.V1.Procedures.Procedure, StatutoryInstruments.Services.Domain, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]]"
                }
              }
            }
          }
        },
        "description": "Returns all procedures."
      }
    },
    "/api/v1/Procedure/{id}": {
      "get": {
        "tags": [
          "v1"
        ],
        "summary": "Returns procedure by ID.",
        "operationId": "GetProceduresByIdV1",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Procedure with the ID specified",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/StatutoryInstruments.Services.Api.ViewModels.Resources.Resource`1[[StatutoryInstruments.Services.Domain.Models.V1.Procedures.ProcedureDetails, StatutoryInstruments.Services.Domain, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]]"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatutoryInstruments.Services.Api.ViewModels.Resources.Resource`1[[StatutoryInstruments.Services.Domain.Models.V1.Procedures.ProcedureDetails, StatutoryInstruments.Services.Domain, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]]"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatutoryInstruments.Services.Api.ViewModels.Resources.Resource`1[[StatutoryInstruments.Services.Domain.Models.V1.Procedures.ProcedureDetails, StatutoryInstruments.Services.Domain, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]]"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          }
        },
        "description": "Returns procedure by ID."
      }
    },
    "/api/v1/ProposedNegativeStatutoryInstrument": {
      "get": {
        "tags": [
          "v1"
        ],
        "summary": "Returns a list of proposed negative statutory instruments.",
        "operationId": "GetProposedNegativeStatutoryInstruments",
        "parameters": [
          {
            "name": "Name",
            "in": "query",
            "description": "Proposed negative statutory instruments with the name provided",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "RecommendedForProcedureChange",
            "in": "query",
            "description": "Proposed negative statutory instruments recommended for procedure change",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "DepartmentId",
            "in": "query",
            "description": "Proposed negative statutory instruments with the department ID specified",
            "schema": {
              "maximum": 2147483647,
              "minimum": 1,
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "LayingBodyId",
            "in": "query",
            "description": "Proposed negative statutory instruments with the laying body ID specified",
            "schema": {
              "pattern": "^[a-zA-Z0-9]{8}$",
              "type": "string"
            }
          },
          {
            "name": "Skip",
            "in": "query",
            "description": "The number of records to skip from the first, default is 0",
            "schema": {
              "maximum": 2147483647,
              "minimum": 0,
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "Take",
            "in": "query",
            "description": "The number of records to return, default is 20",
            "schema": {
              "maximum": 2147483647,
              "minimum": 0,
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/StatutoryInstruments.Services.Api.ViewModels.Resources.ResourceCollection`1[[StatutoryInstruments.Services.Domain.Models.V1.StatutoryInstruments.ProposedNegativeStatutoryInstrument, StatutoryInstruments.Services.Domain, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]]"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatutoryInstruments.Services.Api.ViewModels.Resources.ResourceCollection`1[[StatutoryInstruments.Services.Domain.Models.V1.StatutoryInstruments.ProposedNegativeStatutoryInstrument, StatutoryInstruments.Services.Domain, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]]"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatutoryInstruments.Services.Api.ViewModels.Resources.ResourceCollection`1[[StatutoryInstruments.Services.Domain.Models.V1.StatutoryInstruments.ProposedNegativeStatutoryInstrument, StatutoryInstruments.Services.Domain, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]]"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          }
        },
        "description": "Returns a list of proposed negative statutory instruments."
      }
    },
    "/api/v1/ProposedNegativeStatutoryInstrument/{id}": {
      "get": {
        "tags": [
          "v1"
        ],
        "summary": "Returns proposed negative statutory instrument by ID.",
        "operationId": "GetProposedNegativeStatutoryInstrumentById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Proposed negative statutory instrument with the ID specified",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/StatutoryInstruments.Services.Api.ViewModels.Resources.Resource`1[[StatutoryInstruments.Services.Domain.Models.V1.StatutoryInstruments.ProposedNegativeStatutoryInstrument, StatutoryInstruments.Services.Domain, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]]"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatutoryInstruments.Services.Api.ViewModels.Resources.Resource`1[[StatutoryInstruments.Services.Domain.Models.V1.StatutoryInstruments.ProposedNegativeStatutoryInstrument, StatutoryInstruments.Services.Domain, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]]"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatutoryInstruments.Services.Api.ViewModels.Resources.Resource`1[[StatutoryInstruments.Services.Domain.Models.V1.StatutoryInstruments.ProposedNegativeStatutoryInstrument, StatutoryInstruments.Services.Domain, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]]"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          }
        },
        "description": "Returns proposed negative statutory instrument by ID."
      }
    },
    "/api/v1/ProposedNegativeStatutoryInstrument/{id}/BusinessItems": {
      "get": {
        "tags": [
          "v1"
        ],
        "summary": "Returns business items belonging to a proposed negative statutory instrument.",
        "operationId": "GetBusinessItemsByProposedNegativeStatutoryInstrumentId",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Business items belonging to proposed negative statutory instrument with the ID specified",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/StatutoryInstruments.Services.Api.ViewModels.Resources.ResourceCollection`1[[StatutoryInstruments.Services.Domain.Models.V1.StatutoryInstruments.BusinessItem, StatutoryInstruments.Services.Domain, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]]"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatutoryInstruments.Services.Api.ViewModels.Resources.ResourceCollection`1[[StatutoryInstruments.Services.Domain.Models.V1.StatutoryInstruments.BusinessItem, StatutoryInstruments.Services.Domain, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]]"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatutoryInstruments.Services.Api.ViewModels.Resources.ResourceCollection`1[[StatutoryInstruments.Services.Domain.Models.V1.StatutoryInstruments.BusinessItem, StatutoryInstruments.Services.Domain, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]]"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          }
        },
        "description": "Returns business items belonging to a proposed negative statutory instrument."
      }
    },
    "/api/v1/StatutoryInstrument": {
      "get": {
        "tags": [
          "v1"
        ],
        "summary": "Returns a list of statutory instruments.",
        "operationId": "GetStatutoryInstruments",
        "parameters": [
          {
            "name": "Name",
            "in": "query",
            "description": "Statutory instruments with the name specified",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "StatutoryInstrumentType",
            "in": "query",
            "description": "Statutory instruments where the statutory instrument type is the type provided",
            "schema": {
              "$ref": "#/components/schemas/StatutoryInstruments.Services.Domain.V1.Enums.StatutoryInstrumentType"
            }
          },
          {
            "name": "ScheduledDebate",
            "in": "query",
            "description": "Statutory instrument which contains a scheduled debate",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "MotionToStop",
            "in": "query",
            "description": "Statutory instruments which contains a motion to stop",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "ConcernsRaisedByCommittee",
            "in": "query",
            "description": "Statutory instruments which contains concerns raised by committee",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "ParliamentaryProcessConcluded",
            "in": "query",
            "description": "Statutory instruments where the parliamentary process is concluded or notconcluded",
            "schema": {
              "$ref": "#/components/schemas/StatutoryInstruments.Services.Domain.V1.Enums.ParliamentaryProcess"
            }
          },
          {
            "name": "DepartmentId",
            "in": "query",
            "description": "Statutory instruments with the department ID specified",
            "schema": {
              "maximum": 2147483647,
              "minimum": 1,
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "LayingBodyId",
            "in": "query",
            "description": "Statutory instruments with the laying body ID specified",
            "schema": {
              "pattern": "^[a-zA-Z0-9]{8}$",
              "type": "string"
            }
          },
          {
            "name": "House",
            "in": "query",
            "description": "Statutory instruments laid in the house specified",
            "schema": {
              "$ref": "#/components/schemas/StatutoryInstruments.Services.Domain.Enums.House"
            }
          },
          {
            "name": "Skip",
            "in": "query",
            "description": "The number of records to skip from the first, default is 0",
            "schema": {
              "maximum": 2147483647,
              "minimum": 0,
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "Take",
            "in": "query",
            "description": "The number of records to return, default is 20",
            "schema": {
              "maximum": 2147483647,
              "minimum": 0,
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/StatutoryInstruments.Services.Api.ViewModels.Resources.ResourceCollection`1[[StatutoryInstruments.Services.Domain.Models.V1.StatutoryInstruments.StatutoryInstrument, StatutoryInstruments.Services.Domain, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]]"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatutoryInstruments.Services.Api.ViewModels.Resources.ResourceCollection`1[[StatutoryInstruments.Services.Domain.Models.V1.StatutoryInstruments.StatutoryInstrument, StatutoryInstruments.Services.Domain, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]]"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatutoryInstruments.Services.Api.ViewModels.Resources.ResourceCollection`1[[StatutoryInstruments.Services.Domain.Models.V1.StatutoryInstruments.StatutoryInstrument, StatutoryInstruments.Services.Domain, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]]"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          }
        },
        "description": "Returns a list of statutory instruments."
      }
    },
    "/api/v1/StatutoryInstrument/{id}": {
      "get": {
        "tags": [
          "v1"
        ],
        "summary": "Returns a statutory instrument by ID.",
        "operationId": "GetStatutoryInstrumentById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Statutory instrument with the ID specified",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/StatutoryInstruments.Services.Api.ViewModels.Resources.Resource`1[[StatutoryInstruments.Services.Domain.Models.V1.StatutoryInstruments.StatutoryInstrument, StatutoryInstruments.Services.Domain, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]]"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatutoryInstruments.Services.Api.ViewModels.Resources.Resource`1[[StatutoryInstruments.Services.Domain.Models.V1.StatutoryInstruments.StatutoryInstrument, StatutoryInstruments.Services.Domain, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]]"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatutoryInstruments.Services.Api.ViewModels.Resources.Resource`1[[StatutoryInstruments.Services.Domain.Models.V1.StatutoryInstruments.StatutoryInstrument, StatutoryInstruments.Services.Domain, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]]"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          }
        },
        "description": "Returns a statutory instrument by ID."
      }
    },
    "/api/v1/StatutoryInstrument/{id}/BusinessItems": {
      "get": {
        "tags": [
          "v1"
        ],
        "summary": "Returns business items belonging to statutory instrument with ID.",
        "operationId": "GetBusinessItemsByStatutoryInstrumentId",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Business items belonging to statutory instrument with the ID specified",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/StatutoryInstruments.Services.Api.ViewModels.Resources.ResourceCollection`1[[StatutoryInstruments.Services.Domain.Models.V1.StatutoryInstruments.BusinessItem, StatutoryInstruments.Services.Domain, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]]"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatutoryInstruments.Services.Api.ViewModels.Resources.ResourceCollection`1[[StatutoryInstruments.Services.Domain.Models.V1.StatutoryInstruments.BusinessItem, StatutoryInstruments.Services.Domain, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]]"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatutoryInstruments.Services.Api.ViewModels.Resources.ResourceCollection`1[[StatutoryInstruments.Services.Domain.Models.V1.StatutoryInstruments.BusinessItem, StatutoryInstruments.Services.Domain, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]]"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          }
        },
        "description": "Returns business items belonging to statutory instrument with ID."
      }
    },
    "/api/v2/ActOfParliament": {
      "get": {
        "tags": [
          "v2"
        ],
        "summary": "Search through Acts of Parliament",
        "operationId": "ActsOfParliamentV2",
        "parameters": [
          {
            "name": "Id",
            "in": "query",
            "description": "Acts of Parliament with the IDs specified.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "Name",
            "in": "query",
            "description": "Acts of Parliament with the name specified.",
            "schema": {
              "maxLength": 2147483647,
              "minLength": 3,
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/StatutoryInstruments.Services.Domain.Models.V2.Response.ActOfParliament"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/StatutoryInstruments.Services.Domain.Models.V2.Response.ActOfParliament"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/StatutoryInstruments.Services.Domain.Models.V2.Response.ActOfParliament"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          }
        },
        "description": "Search through Acts of Parliament"
      }
    },
    "/api/v2/ActOfParliament/{id}": {
      "get": {
        "tags": [
          "v2"
        ],
        "summary": "Search individual Act of Parliament by ID",
        "operationId": "ActOfParliamentV2",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "pattern": "^[a-zA-Z0-9]{8}$",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/StatutoryInstruments.Services.Domain.Models.V2.Response.ActOfParliament"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatutoryInstruments.Services.Domain.Models.V2.Response.ActOfParliament"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatutoryInstruments.Services.Domain.Models.V2.Response.ActOfParliament"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          }
        },
        "description": "Search individual Act of Parliament by ID"
      }
    },
    "/api/v2/StatutoryInstrument": {
      "get": {
        "tags": [
          "v2"
        ],
        "summary": "Search through statutory instruments and proposed negatives",
        "operationId": "ListSIsV2",
        "parameters": [
          {
            "name": "Name",
            "in": "query",
            "description": "Statutory instruments with the name specified",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Procedure",
            "in": "query",
            "description": "Statutory instruments made under the specified procedure",
            "schema": {
              "pattern": "^[a-zA-Z0-9]{8}$",
              "type": "string"
            }
          },
          {
            "name": "ScheduledDebate",
            "in": "query",
            "description": "Statutory instrument which contains a scheduled debate",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "MotionToStop",
            "in": "query",
            "description": "Statutory instruments which contains a motion to stop",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "ConcernsRaisedByCommittee",
            "in": "query",
            "description": "Statutory instruments which contains concerns raised by committee",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "ParliamentaryProcessConcluded",
            "in": "query",
            "description": "Statutory instruments where the parliamentary process is concluded or notconcluded",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "DepartmentId",
            "in": "query",
            "description": "Statutory instruments with the department ID specified",
            "schema": {
              "maximum": 2147483647,
              "minimum": 1,
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "LayingBodyId",
            "in": "query",
            "description": "Statutory instruments with the laying body ID specified",
            "schema": {
              "pattern": "^[a-zA-Z0-9]{8}$",
              "type": "string"
            }
          },
          {
            "name": "RecommendedForProcedureChange",
            "in": "query",
            "description": "Statutory instruments recommended for procedure change",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "ActOfParliamentId",
            "in": "query",
            "description": "Statutory instruments with the Act of Parliament ID specified",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "House",
            "in": "query",
            "description": "Statutory instruments laid in the house specified",
            "schema": {
              "$ref": "#/components/schemas/StatutoryInstruments.Services.Domain.Enums.House"
            }
          },
          {
            "name": "Skip",
            "in": "query",
            "description": "The number of records to skip from the first, default is 0",
            "schema": {
              "maximum": 2147483647,
              "minimum": 0,
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "Take",
            "in": "query",
            "description": "The number of records to return, default is 20",
            "schema": {
              "maximum": 2147483647,
              "minimum": 0,
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/StatutoryInstruments.Services.Api.ViewModels.Resources.ResourceCollection`1[[StatutoryInstruments.Services.Domain.Models.V2.Response.StatutoryInstrumentSummary, StatutoryInstruments.Services.Domain, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]]"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatutoryInstruments.Services.Api.ViewModels.Resources.ResourceCollection`1[[StatutoryInstruments.Services.Domain.Models.V2.Response.StatutoryInstrumentSummary, StatutoryInstruments.Services.Domain, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]]"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatutoryInstruments.Services.Api.ViewModels.Resources.ResourceCollection`1[[StatutoryInstruments.Services.Domain.Models.V2.Response.StatutoryInstrumentSummary, StatutoryInstruments.Services.Domain, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]]"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          }
        },
        "description": "Search through statutory instruments and proposed negatives"
      }
    },
    "/api/v2/StatutoryInstrument/{instrumentId}": {
      "get": {
        "tags": [
          "v2"
        ],
        "summary": "Get individual statutory instrument or proposed negative by id",
        "operationId": "GetSIsV2",
        "parameters": [
          {
            "name": "instrumentId",
            "in": "path",
            "description": "Id of instrument requested",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/StatutoryInstruments.Services.Api.ViewModels.Resources.Resource`1[[StatutoryInstruments.Services.Domain.Models.V2.Response.StatutoryInstrument, StatutoryInstruments.Services.Domain, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]]"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatutoryInstruments.Services.Api.ViewModels.Resources.Resource`1[[StatutoryInstruments.Services.Domain.Models.V2.Response.StatutoryInstrument, StatutoryInstruments.Services.Domain, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]]"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatutoryInstruments.Services.Api.ViewModels.Resources.Resource`1[[StatutoryInstruments.Services.Domain.Models.V2.Response.StatutoryInstrument, StatutoryInstruments.Services.Domain, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]]"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          }
        },
        "description": "Get individual statutory instrument or proposed negative by id"
      }
    },
    "/api/v2/StatutoryInstrument/{instrumentId}/BusinessItems": {
      "get": {
        "tags": [
          "v2"
        ],
        "summary": "Get business items associated with a particular instrument",
        "operationId": "GetSiBusinessItemV2",
        "parameters": [
          {
            "name": "instrumentId",
            "in": "path",
            "description": "Id of instrument to get business items for",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/StatutoryInstruments.Services.Domain.Models.V2.Response.BusinessItem"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/StatutoryInstruments.Services.Domain.Models.V2.Response.BusinessItem"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/StatutoryInstruments.Services.Domain.Models.V2.Response.BusinessItem"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          }
        },
        "description": "Get business items associated with a particular instrument"
      }
    },
    "/api/v2/Timeline/{timelineId}/BusinessItems": {
      "get": {
        "tags": [
          "v2"
        ],
        "summary": "Get business items associated with a particular timeline",
        "operationId": "GetSiBusinessItemByTimelineV2",
        "parameters": [
          {
            "name": "timelineId",
            "in": "path",
            "description": "Id of timeline to get business items for",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/StatutoryInstruments.Services.Domain.Models.V2.Response.ActOfParliament"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/StatutoryInstruments.Services.Domain.Models.V2.Response.ActOfParliament"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/StatutoryInstruments.Services.Domain.Models.V2.Response.ActOfParliament"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          }
        },
        "description": "Get business items associated with a particular timeline"
      }
    }
  },
  "components": {
    "schemas": {
      "Microsoft.AspNetCore.Mvc.ProblemDetails": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "nullable": true
          },
          "title": {
            "type": "string",
            "nullable": true
          },
          "status": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "detail": {
            "type": "string",
            "nullable": true
          },
          "instance": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": {}
      },
      "StatutoryInstruments.Services.Api.ViewModels.Link": {
        "type": "object",
        "properties": {
          "rel": {
            "type": "string",
            "nullable": true
          },
          "href": {
            "type": "string",
            "nullable": true
          },
          "method": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "StatutoryInstruments.Services.Api.ViewModels.Resources.ResourceCollection`1[[StatutoryInstruments.Services.Domain.Models.V1.LayingBody, StatutoryInstruments.Services.Domain, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]]": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/StatutoryInstruments.Services.Api.ViewModels.Resources.Resource`1[[StatutoryInstruments.Services.Domain.Models.V1.LayingBody, StatutoryInstruments.Services.Domain, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]]"
            },
            "nullable": true
          },
          "totalResults": {
            "type": "integer",
            "format": "int32"
          },
          "itemsPerPage": {
            "type": "integer",
            "format": "int32"
          },
          "links": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/StatutoryInstruments.Services.Api.ViewModels.Link"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "StatutoryInstruments.Services.Api.ViewModels.Resources.ResourceCollection`1[[StatutoryInstruments.Services.Domain.Models.V1.Procedures.Procedure, StatutoryInstruments.Services.Domain, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]]": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/StatutoryInstruments.Services.Api.ViewModels.Resources.Resource`1[[StatutoryInstruments.Services.Domain.Models.V1.Procedures.Procedure, StatutoryInstruments.Services.Domain, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]]"
            },
            "nullable": true
          },
          "totalResults": {
            "type": "integer",
            "format": "int32"
          },
          "itemsPerPage": {
            "type": "integer",
            "format": "int32"
          },
          "links": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/StatutoryInstruments.Services.Api.ViewModels.Link"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "StatutoryInstruments.Services.Api.ViewModels.Resources.ResourceCollection`1[[StatutoryInstruments.Services.Domain.Models.V1.StatutoryInstruments.BusinessItem, StatutoryInstruments.Services.Domain, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]]": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/StatutoryInstruments.Services.Api.ViewModels.Resources.Resource`1[[StatutoryInstruments.Services.Domain.Models.V1.StatutoryInstruments.BusinessItem, StatutoryInstruments.Services.Domain, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]]"
            },
            "nullable": true
          },
          "totalResults": {
            "type": "integer",
            "format": "int32"
          },
          "itemsPerPage": {
            "type": "integer",
            "format": "int32"
          },
          "links": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/StatutoryInstruments.Services.Api.ViewModels.Link"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "StatutoryInstruments.Services.Api.ViewModels.Resources.ResourceCollection`1[[StatutoryInstruments.Services.Domain.Models.V1.StatutoryInstruments.ProposedNegativeStatutoryInstrument, StatutoryInstruments.Services.Domain, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]]": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/StatutoryInstruments.Services.Api.ViewModels.Resources.Resource`1[[StatutoryInstruments.Services.Domain.Models.V1.StatutoryInstruments.ProposedNegativeStatutoryInstrument, StatutoryInstruments.Services.Domain, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]]"
            },
            "nullable": true
          },
          "totalResults": {
            "type": "integer",
            "format": "int32"
          },
          "itemsPerPage": {
            "type": "integer",
            "format": "int32"
          },
          "links": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/StatutoryInstruments.Services.Api.ViewModels.Link"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "StatutoryInstruments.Services.Api.ViewModels.Resources.ResourceCollection`1[[StatutoryInstruments.Services.Domain.Models.V1.StatutoryInstruments.StatutoryInstrument, StatutoryInstruments.Services.Domain, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]]": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/StatutoryInstruments.Services.Api.ViewModels.Resources.Resource`1[[StatutoryInstruments.Services.Domain.Models.V1.StatutoryInstruments.StatutoryInstrument, StatutoryInstruments.Services.Domain, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]]"
            },
            "nullable": true
          },
          "totalResults": {
            "type": "integer",
            "format": "int32"
          },
          "itemsPerPage": {
            "type": "integer",
            "format": "int32"
          },
          "links": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/StatutoryInstruments.Services.Api.ViewModels.Link"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "StatutoryInstruments.Services.Api.ViewModels.Resources.ResourceCollection`1[[StatutoryInstruments.Services.Domain.Models.V2.Response.StatutoryInstrumentSummary, StatutoryInstruments.Services.Domain, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]]": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/StatutoryInstruments.Services.Api.ViewModels.Resources.Resource`1[[StatutoryInstruments.Services.Domain.Models.V2.Response.StatutoryInstrumentSummary, StatutoryInstruments.Services.Domain, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]]"
            },
            "nullable": true
          },
          "totalResults": {
            "type": "integer",
            "format": "int32"
          },
          "itemsPerPage": {
            "type": "integer",
            "format": "int32"
          },
          "links": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/StatutoryInstruments.Services.Api.ViewModels.Link"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "StatutoryInstruments.Services.Api.ViewModels.Resources.Resource`1[[StatutoryInstruments.Services.Domain.Models.V1.LayingBody, StatutoryInstruments.Services.Domain, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]]": {
        "type": "object",
        "properties": {
          "value": {
            "$ref": "#/components/schemas/StatutoryInstruments.Services.Domain.Models.V1.LayingBody"
          },
          "links": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/StatutoryInstruments.Services.Api.ViewModels.Link"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "StatutoryInstruments.Services.Api.ViewModels.Resources.Resource`1[[StatutoryInstruments.Services.Domain.Models.V1.Procedures.Procedure, StatutoryInstruments.Services.Domain, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]]": {
        "type": "object",
        "properties": {
          "value": {
            "$ref": "#/components/schemas/StatutoryInstruments.Services.Domain.Models.V1.Procedures.Procedure"
          },
          "links": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/StatutoryInstruments.Services.Api.ViewModels.Link"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "StatutoryInstruments.Services.Api.ViewModels.Resources.Resource`1[[StatutoryInstruments.Services.Domain.Models.V1.Procedures.ProcedureDetails, StatutoryInstruments.Services.Domain, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]]": {
        "type": "object",
        "properties": {
          "value": {
            "$ref": "#/components/schemas/StatutoryInstruments.Services.Domain.Models.V1.Procedures.ProcedureDetails"
          },
          "links": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/StatutoryInstruments.Services.Api.ViewModels.Link"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "StatutoryInstruments.Services.Api.ViewModels.Resources.Resource`1[[StatutoryInstruments.Services.Domain.Models.V1.StatutoryInstruments.BusinessItem, StatutoryInstruments.Services.Domain, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]]": {
        "type": "object",
        "properties": {
          "value": {
            "$ref": "#/components/schemas/StatutoryInstruments.Services.Domain.Models.V1.StatutoryInstruments.BusinessItem"
          },
          "links": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/StatutoryInstruments.Services.Api.ViewModels.Link"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "StatutoryInstruments.Services.Api.ViewModels.Resources.Resource`1[[StatutoryInstruments.Services.Domain.Models.V1.StatutoryInstruments.ProposedNegativeStatutoryInstrument, StatutoryInstruments.Services.Domain, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]]": {
        "type": "object",
        "properties": {
          "value": {
            "$ref": "#/components/schemas/StatutoryInstruments.Services.Domain.Models.V1.StatutoryInstruments.ProposedNegativeStatutoryInstrument"
          },
          "links": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/StatutoryInstruments.Services.Api.ViewModels.Link"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "StatutoryInstruments.Services.Api.ViewModels.Resources.Resource`1[[StatutoryInstruments.Services.Domain.Models.V1.StatutoryInstruments.StatutoryInstrument, StatutoryInstruments.Services.Domain, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]]": {
        "type": "object",
        "properties": {
          "value": {
            "$ref": "#/components/schemas/StatutoryInstruments.Services.Domain.Models.V1.StatutoryInstruments.StatutoryInstrument"
          },
          "links": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/StatutoryInstruments.Services.Api.ViewModels.Link"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "StatutoryInstruments.Services.Api.ViewModels.Resources.Resource`1[[StatutoryInstruments.Services.Domain.Models.V2.Response.StatutoryInstrument, StatutoryInstruments.Services.Domain, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]]": {
        "type": "object",
        "properties": {
          "value": {
            "$ref": "#/components/schemas/StatutoryInstruments.Services.Domain.Models.V2.Response.StatutoryInstrument"
          },
          "links": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/StatutoryInstruments.Services.Api.ViewModels.Link"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "StatutoryInstruments.Services.Api.ViewModels.Resources.Resource`1[[StatutoryInstruments.Services.Domain.Models.V2.Response.StatutoryInstrumentSummary, StatutoryInstruments.Services.Domain, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]]": {
        "type": "object",
        "properties": {
          "value": {
            "$ref": "#/components/schemas/StatutoryInstruments.Services.Domain.Models.V2.Response.StatutoryInstrumentSummary"
          },
          "links": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/StatutoryInstruments.Services.Api.ViewModels.Link"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "StatutoryInstruments.Services.Domain.Enums.House": {
        "enum": [
          "Commons",
          "Lords"
        ],
        "type": "string"
      },
      "StatutoryInstruments.Services.Domain.Models.V1.Departments.Department": {
        "type": "object",
        "properties": {
          "departmentId": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "id": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "StatutoryInstruments.Services.Domain.Models.V1.LayingBody": {
        "type": "object",
        "properties": {
          "departmentId": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "id": {
            "type": "string",
            "nullable": true
          },
          "name": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "StatutoryInstruments.Services.Domain.Models.V1.Procedures.Procedure": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "nullable": true
          },
          "uri": {
            "type": "string",
            "nullable": true
          },
          "name": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "StatutoryInstruments.Services.Domain.Models.V1.Procedures.ProcedureDetails": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "nullable": true
          },
          "uri": {
            "type": "string",
            "nullable": true
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "description": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "StatutoryInstruments.Services.Domain.Models.V1.StatutoryInstruments.BusinessItem": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "nullable": true
          },
          "statutoryInstrumentId": {
            "type": "string",
            "nullable": true
          },
          "stepName": {
            "type": "string",
            "nullable": true
          },
          "itemDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "houses": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/StatutoryInstruments.Services.Domain.Models.V1.StatutoryInstruments.BusinessItemHouse"
            },
            "nullable": true
          },
          "link": {
            "type": "string",
            "nullable": true
          },
          "laidPaperType": {
            "$ref": "#/components/schemas/StatutoryInstruments.Services.Domain.V1.Enums.LaidPaperType"
          },
          "sequence": {
            "type": "integer",
            "format": "int32"
          },
          "statutoryInstrumentUri": {
            "type": "string",
            "format": "uri",
            "nullable": true
          },
          "businessItemUri": {
            "type": "string",
            "format": "uri",
            "nullable": true
          },
          "houseUri": {
            "type": "string",
            "format": "uri",
            "nullable": true
          },
          "houseName": {
            "type": "string",
            "nullable": true
          },
          "procedureStepUri": {
            "type": "string",
            "format": "uri",
            "nullable": true
          },
          "workpackageProcedureUri": {
            "type": "string",
            "format": "uri",
            "nullable": true
          },
          "houseId": {
            "type": "string",
            "nullable": true
          },
          "procedureStepId": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "StatutoryInstruments.Services.Domain.Models.V1.StatutoryInstruments.BusinessItemHouse": {
        "type": "object",
        "properties": {
          "house": {
            "$ref": "#/components/schemas/StatutoryInstruments.Services.Domain.Enums.House"
          },
          "name": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "StatutoryInstruments.Services.Domain.Models.V1.StatutoryInstruments.LaidPaperSummary": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "nullable": true
          },
          "name": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "StatutoryInstruments.Services.Domain.Models.V1.StatutoryInstruments.ProposedNegativeStatutoryInstrument": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "nullable": true
          },
          "commonsLayingDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "commonsPublishedDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "lordsLayingDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "lordsPublishedDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "uri": {
            "type": "string",
            "nullable": true
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "departmentId": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "layingBodyId": {
            "type": "string",
            "nullable": true
          },
          "layingBodyName": {
            "type": "string",
            "nullable": true
          },
          "procedureUri": {
            "type": "string",
            "nullable": true
          },
          "procedureName": {
            "type": "string",
            "nullable": true
          },
          "procedure": {
            "$ref": "#/components/schemas/StatutoryInstruments.Services.Domain.Models.V1.Procedures.Procedure"
          },
          "layingBodyDepartment": {
            "$ref": "#/components/schemas/StatutoryInstruments.Services.Domain.Models.V1.Departments.Department"
          },
          "link": {
            "type": "string",
            "nullable": true
          },
          "statutoryInstrumentPaperId": {
            "type": "string",
            "nullable": true
          },
          "statutoryInstrumentPaperName": {
            "type": "string",
            "nullable": true
          },
          "statutoryInstrument": {
            "$ref": "#/components/schemas/StatutoryInstruments.Services.Domain.Models.V1.StatutoryInstruments.LaidPaperSummary"
          }
        },
        "additionalProperties": false
      },
      "StatutoryInstruments.Services.Domain.Models.V1.StatutoryInstruments.StatutoryInstrument": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "nullable": true
          },
          "commonsLayingDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "commonsPublishedDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "lordsLayingDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "lordsPublishedDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "uri": {
            "type": "string",
            "nullable": true
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "departmentId": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "layingBodyId": {
            "type": "string",
            "nullable": true
          },
          "layingBodyName": {
            "type": "string",
            "nullable": true
          },
          "procedureUri": {
            "type": "string",
            "nullable": true
          },
          "procedureName": {
            "type": "string",
            "nullable": true
          },
          "procedure": {
            "$ref": "#/components/schemas/StatutoryInstruments.Services.Domain.Models.V1.Procedures.Procedure"
          },
          "layingBodyDepartment": {
            "$ref": "#/components/schemas/StatutoryInstruments.Services.Domain.Models.V1.Departments.Department"
          },
          "link": {
            "type": "string",
            "nullable": true
          },
          "paperNumber": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "paperYear": {
            "type": "string",
            "nullable": true
          },
          "paperPrefix": {
            "type": "string",
            "nullable": true
          },
          "paperMadeDate": {
            "type": "string",
            "format": "date-time"
          },
          "paperComingIntoForceDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "paperComingIntoForceNote": {
            "type": "string",
            "nullable": true
          },
          "proposedNegativeStatutoryInstrumentPaperId": {
            "type": "string",
            "nullable": true
          },
          "proposedNegativeStatutoryInstrumentPaperName": {
            "type": "string",
            "nullable": true
          },
          "proposedNegativeStatutoryInstrument": {
            "$ref": "#/components/schemas/StatutoryInstruments.Services.Domain.Models.V1.StatutoryInstruments.LaidPaperSummary"
          }
        },
        "additionalProperties": false
      },
      "StatutoryInstruments.Services.Domain.Models.V2.Response.ActOfParliament": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "nullable": true
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "link": {
            "type": "string",
            "nullable": true
          },
          "number": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "royalAssent": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "year": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "StatutoryInstruments.Services.Domain.Models.V2.Response.ActOfParliamentSummary": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "nullable": true
          },
          "name": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "StatutoryInstruments.Services.Domain.Models.V2.Response.BusinessItem": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Id of business item",
            "nullable": true
          },
          "statutoryInstrumentId": {
            "type": "string",
            "description": "Instrument associated with the business item",
            "nullable": true
          },
          "steps": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Steps taken during the business",
            "nullable": true
          },
          "itemDate": {
            "type": "string",
            "description": "Date of business",
            "format": "date-time",
            "nullable": true
          },
          "link": {
            "type": "string",
            "description": "Link to the business",
            "nullable": true
          },
          "sequence": {
            "type": "integer",
            "description": "Order in which the business was conducted",
            "format": "int32"
          },
          "houses": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/StatutoryInstruments.Services.Domain.Enums.House"
            },
            "description": "House where business was conducted",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "StatutoryInstruments.Services.Domain.Models.V2.Response.Department": {
        "type": "object",
        "properties": {
          "departmentId": {
            "type": "integer",
            "description": "Department Id",
            "format": "int32",
            "nullable": true
          },
          "id": {
            "type": "string",
            "description": "Laying body Id",
            "nullable": true
          },
          "name": {
            "type": "string",
            "description": "Department Name",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "StatutoryInstruments.Services.Domain.Models.V2.Response.PaperSummary": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "ID of the paper",
            "nullable": true
          },
          "name": {
            "type": "string",
            "description": "Title of the paper",
            "nullable": true
          },
          "procedure": {
            "$ref": "#/components/schemas/StatutoryInstruments.Services.Domain.Models.V2.Response.Procedure"
          }
        },
        "additionalProperties": false
      },
      "StatutoryInstruments.Services.Domain.Models.V2.Response.Procedure": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Id of the procedure",
            "nullable": true
          },
          "name": {
            "type": "string",
            "description": "Name of the procedure",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "StatutoryInstruments.Services.Domain.Models.V2.Response.StatutoryInstrument": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "ID of the paper",
            "nullable": true
          },
          "name": {
            "type": "string",
            "description": "Title of the paper",
            "nullable": true
          },
          "paperPrefix": {
            "type": "string",
            "description": "Prefix to the paper number",
            "nullable": true
          },
          "paperNumber": {
            "type": "integer",
            "description": "Paper number",
            "format": "int32",
            "nullable": true
          },
          "paperYear": {
            "type": "string",
            "description": "Year paper was laid",
            "nullable": true
          },
          "procedure": {
            "$ref": "#/components/schemas/StatutoryInstruments.Services.Domain.Models.V2.Response.Procedure"
          },
          "paperMadeDate": {
            "type": "string",
            "description": "Date paper was made",
            "format": "date-time",
            "nullable": true
          },
          "commonsLayingDate": {
            "type": "string",
            "description": "Date paper was laid in House of Commons",
            "format": "date-time",
            "nullable": true
          },
          "lordsLayingDate": {
            "type": "string",
            "description": "Date paper was laid in House of Lords",
            "format": "date-time",
            "nullable": true
          },
          "followedByInstrument": {
            "$ref": "#/components/schemas/StatutoryInstruments.Services.Domain.Models.V2.Response.PaperSummary"
          },
          "precededByInstrument": {
            "$ref": "#/components/schemas/StatutoryInstruments.Services.Domain.Models.V2.Response.PaperSummary"
          },
          "paperComingIntoForceDate": {
            "type": "string",
            "description": "Date instrument comes into force",
            "format": "date-time",
            "nullable": true
          },
          "paperComingIntoForceNote": {
            "type": "string",
            "description": "Note associated with instrument coming into force",
            "nullable": true
          },
          "layingBody": {
            "$ref": "#/components/schemas/StatutoryInstruments.Services.Domain.Models.V2.Response.Department"
          },
          "enablingActs": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/StatutoryInstruments.Services.Domain.Models.V2.Response.ActOfParliamentSummary"
            },
            "description": "Acts of Parliament enabling the instrument",
            "nullable": true
          },
          "timelines": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/StatutoryInstruments.Services.Domain.Models.V2.Response.TimeLineSummary"
            },
            "description": "Procedure step timelines of the instrument",
            "nullable": true
          },
          "link": {
            "type": "string",
            "description": "Link to the full wording of the instrument",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "StatutoryInstruments.Services.Domain.Models.V2.Response.StatutoryInstrumentSummary": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "ID of the paper",
            "nullable": true
          },
          "name": {
            "type": "string",
            "description": "Title of the paper",
            "nullable": true
          },
          "paperPrefix": {
            "type": "string",
            "description": "Prefix to the paper number",
            "nullable": true
          },
          "paperNumber": {
            "type": "integer",
            "description": "Paper number",
            "format": "int32",
            "nullable": true
          },
          "paperYear": {
            "type": "string",
            "description": "Year paper was laid",
            "nullable": true
          },
          "procedure": {
            "$ref": "#/components/schemas/StatutoryInstruments.Services.Domain.Models.V2.Response.Procedure"
          },
          "paperMadeDate": {
            "type": "string",
            "description": "Date paper was made",
            "format": "date-time",
            "nullable": true
          },
          "commonsLayingDate": {
            "type": "string",
            "description": "Date paper was laid in House of Commons",
            "format": "date-time",
            "nullable": true
          },
          "lordsLayingDate": {
            "type": "string",
            "description": "Date paper was laid in House of Lords",
            "format": "date-time",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "StatutoryInstruments.Services.Domain.Models.V2.Response.TimeLineSummary": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "nullable": true
          },
          "dateTime": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "name": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "StatutoryInstruments.Services.Domain.V1.Enums.LaidPaperType": {
        "enum": [
          "StatutoryInstrument",
          "ProposedNegative"
        ],
        "type": "string"
      },
      "StatutoryInstruments.Services.Domain.V1.Enums.ParliamentaryProcess": {
        "enum": [
          "NotConcluded",
          "Concluded"
        ],
        "type": "string"
      },
      "StatutoryInstruments.Services.Domain.V1.Enums.StatutoryInstrumentType": {
        "enum": [
          "DraftAffirmative",
          "DraftNegative",
          "MadeAffirmative",
          "MadeNegative"
        ],
        "type": "string"
      }
    }
  },
  "tags": [
    {
      "name": "v1"
    },
    {
      "name": "v2"
    }
  ]
}
