{
  "openapi": "3.0.2",
  "info": {
    "title": "Menu Manager API",
    "description": "\n## Authorization\nWe use bearer auth throughout the API. Generally, API requests should have the follow header:  \n{  \n    \"content-type\": \"application/json\",  \n    \"Authorization\": \"Bearer TOKEN_GOES_HERE\"  \n}  \nPlease refer to the Auth section immediately below for details on getting your token.",
    "contact": {
      "name": "H&L Support",
      "url": "http://www.hlpos.com",
      "email": "support@hlpos.com"
    },
    "version": "1.0.4",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/hlaustralia/menu-api-staging/1.0.4"
  },
  "servers": [
    {
      "url": "https://develop-menu-api.hlcloud.com.au",
      "description": "The developer API server"
    },
    {
      "url": "https://staging-menu-api.hlcloud.com.au",
      "description": "The testers API server"
    },
    {
      "url": "https://menu-api.hlcloud.com.au",
      "description": "The production API server"
    }
  ],
  "paths": {
    "/AuditLogs/": {
      "get": {
        "responses": {
          "200": {
            "description": "An array of AuditLog objects.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/searchAuditLogView"
                }
              }
            },
            "headers": {
              "rid_chain": {
                "$ref": "#/components/headers/rid_chain"
              },
              "rid": {
                "$ref": "#/components/headers/rid"
              },
              "total_available_results_count": {
                "$ref": "#/components/headers/total_available_results_count"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "404": {
            "description": "AuditLog not found"
          }
        },
        "tags": [
          "AuditLogs"
        ],
        "description": "Search for AuditLog objects<br><br>AuditLogs store information about insert, updates, patches and deletes. So that all user actions can be traced.<br><br>You will need to have the following data accesses assigned to your user to use this route: mm_get_auditlogs",
        "parameters": [
          {
            "$ref": "#/components/parameters/rid_chain"
          },
          {
            "name": "view",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "FKExternalKeys"
              ]
            },
            "description": "\nThe view is the list of fields you want returned.\n\n### View Templates\nFKExternalKeys\n\n - **VenueIdFKObject:** venueId, externalKeys\n\n\n            "
          },
          {
            "name": "group",
            "in": "query",
            "description": "This parameter is used to group results.\n                        The fieldName can be any of the following: venueId.\n                        The sort could either have - to sort by descending and + to sort by ascending. See groupQuery schema for more info.\n                        For grouping using a nested field use <object>.<field> to specify the nested levels eg +Stock.name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "groupSummary",
            "in": "query",
            "description": "This parameter is used to summarise grouped results by aggregating the groups.\n                The fieldName can be any of the following: auditLogId.\n                        The type could be count,min,max,sum,avg. See groupSummaryQuery schema for more info.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "totalSummary",
            "in": "query",
            "description": "This parameter is used to summarise all grouped results by aggregating all the groups sub groups.\n                The fieldName can be any of the following: auditLogId.\n                        The type could be count,min,max,sum,avg. See groupSummaryQuery schema for more info.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "searchDistinct",
            "in": "query",
            "description": "This parameter is used to get the distinct values for a field. \n                Only the field specified will be returned in the results. This can be used with filtering functionality, sort and limit. \n                However it cannot be used with group, groupSummary or totalSummary.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "This parameter is used to change the sorting of results returned. \n                        The default sort is auditLogId ascending. \n                        Use any fieldNames comma separated in the sort. \n                        Use + for ascending - for descending \n                        eg +updateDateTime.\n                        - auditLogId would sort by updateDateTime ascending and then auditLogId descending.\n For sorting using a nested field use &lt;object&gt;.&lt;field&gt; to specify the nested levels eg +Stock.name\n                        For sorting using a nested field use <object>.<field> to specify the nested levels eg +Stock.name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "This limits the amount of results returned. This default limit Is set to 20. The maximum limit is 200."
          },
          {
            "$ref": "#/components/parameters/Offset"
          },
          {
            "$ref": "#/components/parameters/search"
          },
          {
            "name": "auditLogId",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "The unique primary Key, used to identify a record<br><b>integer:</b> This parameter searches the auditLogId field and returns all available results that match. \n\nYou can use >10 to search for all auditLogIds greater than 10. You can use [1,2,3] to search for auditLogIds that match either 1, 2 or 3. You can use this parameter multiple times. eg auditLogId=>5& auditLogId=<10 would search for all auditLogIds between 5 and 10."
          },
          {
            "name": "message",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "<br>This parameter searches for the message field and returns all available results that match. You can use this parameter multiple times and it will do an 'AND' search. You can use * as a wildcard. You can use brackets and a comma to perform an \u2018OR\u2019 search e.g [a,b*] will search for \u2018a\u2019 OR a value starting with \u2018b\u2019."
          },
          {
            "name": "loggedInUserId",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "<br>This parameter searches for the loggedInUserId field and returns all available results that match. You can use this parameter multiple times and it will do an 'AND' search. You can use * as a wildcard. You can use brackets and a comma to perform an \u2018OR\u2019 search e.g [a,b*] will search for \u2018a\u2019 OR a value starting with \u2018b\u2019."
          },
          {
            "name": "tableName",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "This is the table/object affected.\nExample Value: Items<br>This parameter searches for the tableName field and returns all available results that match. You can use this parameter multiple times and it will do an 'AND' search. You can use * as a wildcard. You can use brackets and a comma to perform an \u2018OR\u2019 search e.g [a,b*] will search for \u2018a\u2019 OR a value starting with \u2018b\u2019.",
            "example": "Items"
          },
          {
            "name": "tableId",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "<br>This parameter searches for the tableId field and returns all available results that match. You can use this parameter multiple times and it will do an 'AND' search. You can use * as a wildcard. You can use brackets and a comma to perform an \u2018OR\u2019 search e.g [a,b*] will search for \u2018a\u2019 OR a value starting with \u2018b\u2019."
          },
          {
            "name": "ipAddress",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "<br>This parameter searches for the ipAddress field and returns all available results that match. You can use this parameter multiple times and it will do an 'AND' search. You can use * as a wildcard. You can use brackets and a comma to perform an \u2018OR\u2019 search e.g [a,b*] will search for \u2018a\u2019 OR a value starting with \u2018b\u2019."
          },
          {
            "$ref": "#/components/parameters/organisationId"
          },
          {
            "name": "details",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "In the case of an update, insert or patches this field contains the HTTP body of the request. For deletes, this field contains the deleted object.<br>This parameter searches for the details field and returns all available results that match. You can use this parameter multiple times and it will do an 'AND' search. You can use * as a wildcard. You can use brackets and a comma to perform an \u2018OR\u2019 search e.g [a,b*] will search for \u2018a\u2019 OR a value starting with \u2018b\u2019."
          },
          {
            "name": "logDate",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "<br><b>string:</b> This parameter searches the logDate field and returns all available results that match. \n\nYou can use >12 jan 2020 5:30:20 GMT+10:30 to search for all logDates greater than 12 jan 2020 5:30:20 GMT+10:30. You can use [1,2,3] to search for logDates that match either 1, 2 or 3. You can use this parameter multiple times. eg logDate=>12 jan 2020 5:30:20 GMT+10:30& logDate=<12 jan 2020 5:30:20 GMT+10:30 would search for all logDates between 12 jan 2020 5:30:20 GMT+10:30 and 14 jan 2020 5:30:20 GMT+10:30."
          },
          {
            "name": "operation",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "<br>This parameter searches for the operation field and returns all available results that match. You can use this parameter multiple times and it will do an 'AND' search. You can use * as a wildcard. You can use brackets and a comma to perform an \u2018OR\u2019 search e.g [a,b*] will search for \u2018a\u2019 OR a value starting with \u2018b\u2019."
          },
          {
            "name": "rid",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "This is the unique Request Id for the current request generated by the menu management api. It can be used by H&L to trace requests made on this api.<br>This parameter searches for the rid field and returns all available results that match. You can use this parameter multiple times and it will do an 'AND' search. You can use * as a wildcard. You can use brackets and a comma to perform an \u2018OR\u2019 search e.g [a,b*] will search for \u2018a\u2019 OR a value starting with \u2018b\u2019."
          },
          {
            "$ref": "#/components/parameters/venueId"
          }
        ]
      }
    },
    "/AuditLogs/{id}": {
      "get": {
        "responses": {
          "200": {
            "description": "An AuditLog object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/getAuditLogView"
                }
              }
            },
            "headers": {
              "rid_chain": {
                "$ref": "#/components/headers/rid_chain"
              },
              "rid": {
                "$ref": "#/components/headers/rid"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "404": {
            "description": "AuditLog not found"
          }
        },
        "tags": [
          "AuditLogs"
        ],
        "description": "Gets a AuditLog object<br><br>AuditLogs store information about insert, updates, patches and deletes. So that all user actions can be traced.<br><br>You will need to have the following data accesses assigned to your user to use this route: mm_get_auditlogs",
        "parameters": [
          {
            "$ref": "#/components/parameters/rid_chain"
          },
          {
            "$ref": "#/components/parameters/id"
          },
          {
            "name": "view",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "FKExternalKeys"
              ]
            },
            "description": "\nThe view is the list of fields you want returned.\n\n### View Templates\nFKExternalKeys\n\n - **VenueIdFKObject:** venueId, externalKeys\n\n\n            "
          }
        ]
      }
    },
    "/DietaryInformation/": {
      "get": {
        "responses": {
          "200": {
            "description": "An array of DietaryInformation objects.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DietaryInformationView"
                  }
                }
              }
            },
            "headers": {
              "rid_chain": {
                "$ref": "#/components/headers/rid_chain"
              },
              "rid": {
                "$ref": "#/components/headers/rid"
              },
              "total_available_results_count": {
                "$ref": "#/components/headers/total_available_results_count"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "404": {
            "description": "DietaryInformation not found"
          }
        },
        "tags": [
          "DietaryInformation"
        ],
        "description": "Search for DietaryInformation objects<br><br>Contains a list of dietary descriptions that can be assigned to menu items.<br><br>You will need to have the following data accesses assigned to your user to use this route: mm_get_dietaryinformation",
        "parameters": [
          {
            "$ref": "#/components/parameters/rid_chain"
          },
          {
            "name": "group",
            "in": "query",
            "description": "This parameter is used to group results.\n                        No field names are supported/configured to be allowed for this endpoint.\n                        The sort could either have - to sort by descending and + to sort by ascending. See groupQuery schema for more info.\n                        For grouping using a nested field use <object>.<field> to specify the nested levels eg +Stock.name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "groupSummary",
            "in": "query",
            "description": "This parameter is used to summarise grouped results by aggregating the groups.\n                The fieldName can be any of the following: dietaryId.\n                        The type could be count,min,max,sum,avg. See groupSummaryQuery schema for more info.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "totalSummary",
            "in": "query",
            "description": "This parameter is used to summarise all grouped results by aggregating all the groups sub groups.\n                The fieldName can be any of the following: dietaryId.\n                        The type could be count,min,max,sum,avg. See groupSummaryQuery schema for more info.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "searchDistinct",
            "in": "query",
            "description": "This parameter is used to get the distinct values for a field. \n                Only the field specified will be returned in the results. This can be used with filtering functionality, sort and limit. \n                However it cannot be used with group, groupSummary or totalSummary.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "This parameter is used to change the sorting of results returned. \n                        The default sort is dietaryId ascending. \n                        Use any fieldNames comma separated in the sort. \n                        Use + for ascending - for descending \n                        eg +updateDateTime.\n                        - dietaryId would sort by updateDateTime ascending and then dietaryId descending.\n For sorting using a nested field use &lt;object&gt;.&lt;field&gt; to specify the nested levels eg +Stock.name\n                        For sorting using a nested field use <object>.<field> to specify the nested levels eg +Stock.name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "This limits the amount of results returned. This default limit Is set to 20. The maximum limit is 200."
          },
          {
            "$ref": "#/components/parameters/Offset"
          },
          {
            "$ref": "#/components/parameters/search"
          },
          {
            "name": "dietaryId",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "The unique identifier of this record.<br><b>integer:</b> This parameter searches the dietaryId field and returns all available results that match. \n\nYou can use >10 to search for all dietaryIds greater than 10. You can use [1,2,3] to search for dietaryIds that match either 1, 2 or 3. You can use this parameter multiple times. eg dietaryId=>5& dietaryId=<10 would search for all dietaryIds between 5 and 10."
          },
          {
            "name": "description",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "\r\nExample Value: Vegetarian<br>This parameter searches for the description field and returns all available results that match. You can use this parameter multiple times and it will do an 'AND' search. You can use * as a wildcard. You can use brackets and a comma to perform an \u2018OR\u2019 search e.g [a,b*] will search for \u2018a\u2019 OR a value starting with \u2018b\u2019.",
            "example": "Vegetarian"
          },
          {
            "name": "isAllergen",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "<br><b>boolean:</b>"
          },
          {
            "$ref": "#/components/parameters/createDateTime"
          },
          {
            "$ref": "#/components/parameters/updateDateTime"
          },
          {
            "$ref": "#/components/parameters/lastUpdateByUserId"
          }
        ]
      }
    },
    "/DietaryInformation/{id}": {
      "get": {
        "responses": {
          "200": {
            "description": "An DietaryInformation object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DietaryInformationView"
                }
              }
            },
            "headers": {
              "rid_chain": {
                "$ref": "#/components/headers/rid_chain"
              },
              "rid": {
                "$ref": "#/components/headers/rid"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "404": {
            "description": "DietaryInformation not found"
          }
        },
        "tags": [
          "DietaryInformation"
        ],
        "description": "Gets a DietaryInformation object<br><br>Contains a list of dietary descriptions that can be assigned to menu items.<br><br>You will need to have the following data accesses assigned to your user to use this route: mm_get_dietaryinformation",
        "parameters": [
          {
            "$ref": "#/components/parameters/rid_chain"
          },
          {
            "$ref": "#/components/parameters/id"
          }
        ]
      }
    },
    "/FloorPlans/": {
      "get": {
        "responses": {
          "200": {
            "description": "An array of FloorPlan objects.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/searchFloorPlanView"
                }
              }
            },
            "headers": {
              "rid_chain": {
                "$ref": "#/components/headers/rid_chain"
              },
              "rid": {
                "$ref": "#/components/headers/rid"
              },
              "total_available_results_count": {
                "$ref": "#/components/headers/total_available_results_count"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "404": {
            "description": "FloorPlan not found"
          }
        },
        "tags": [
          "FloorPlans"
        ],
        "description": "Search for FloorPlan objects<br><br>You will need to have the following data accesses assigned to your user to use this route: mm_get_floorplans",
        "parameters": [
          {
            "$ref": "#/components/parameters/rid_chain"
          },
          {
            "name": "view",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "FKExternalKeys"
              ]
            },
            "description": "\nThe view is the list of fields you want returned.\n\n### View Templates\nFKExternalKeys\n\n - **LocationIdFKObject:** locationId, externalKeys\n\n\n            "
          },
          {
            "name": "group",
            "in": "query",
            "description": "This parameter is used to group results.\n                        The fieldName can be any of the following: locationId.\n                        The sort could either have - to sort by descending and + to sort by ascending. See groupQuery schema for more info.\n                        For grouping using a nested field use <object>.<field> to specify the nested levels eg +Stock.name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "groupSummary",
            "in": "query",
            "description": "This parameter is used to summarise grouped results by aggregating the groups.\n                The fieldName can be any of the following: floorPlanId, locationId.\n                        The type could be count,min,max,sum,avg. See groupSummaryQuery schema for more info.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "totalSummary",
            "in": "query",
            "description": "This parameter is used to summarise all grouped results by aggregating all the groups sub groups.\n                The fieldName can be any of the following: floorPlanId, locationId.\n                        The type could be count,min,max,sum,avg. See groupSummaryQuery schema for more info.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "searchDistinct",
            "in": "query",
            "description": "This parameter is used to get the distinct values for a field. \n                Only the field specified will be returned in the results. This can be used with filtering functionality, sort and limit. \n                However it cannot be used with group, groupSummary or totalSummary.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "This parameter is used to change the sorting of results returned. \n                        The default sort is floorPlanId ascending. \n                        Use any fieldNames comma separated in the sort. \n                        Use + for ascending - for descending \n                        eg +updateDateTime.\n                        - floorPlanId would sort by updateDateTime ascending and then floorPlanId descending.\n For sorting using a nested field use &lt;object&gt;.&lt;field&gt; to specify the nested levels eg +Stock.name\n                        For sorting using a nested field use <object>.<field> to specify the nested levels eg +Stock.name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "This limits the amount of results returned. This default limit Is set to 20. The maximum limit is 200."
          },
          {
            "$ref": "#/components/parameters/Offset"
          },
          {
            "$ref": "#/components/parameters/search"
          },
          {
            "name": "floorPlanId",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Primary key for the floor plan<br><b>integer:</b> This parameter searches the floorPlanId field and returns all available results that match. \n\nYou can use >10 to search for all floorPlanIds greater than 10. You can use [1,2,3] to search for floorPlanIds that match either 1, 2 or 3. You can use this parameter multiple times. eg floorPlanId=>5& floorPlanId=<10 would search for all floorPlanIds between 5 and 10."
          },
          {
            "name": "locationId",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "The location of the floor plan<br><b>integer:</b> This parameter searches the locationId field and returns all available results that match. \n\nYou can use >10 to search for all locationIds greater than 10. You can use [1,2,3] to search for locationIds that match either 1, 2 or 3. You can use this parameter multiple times. eg locationId=>5& locationId=<10 would search for all locationIds between 5 and 10."
          },
          {
            "name": "name",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Floor plan name<br>This parameter searches for the name field and returns all available results that match. You can use this parameter multiple times and it will do an 'AND' search. You can use * as a wildcard. You can use brackets and a comma to perform an \u2018OR\u2019 search e.g [a,b*] will search for \u2018a\u2019 OR a value starting with \u2018b\u2019."
          },
          {
            "$ref": "#/components/parameters/createDateTime"
          },
          {
            "$ref": "#/components/parameters/updateDateTime"
          },
          {
            "$ref": "#/components/parameters/lastUpdateByUserId"
          },
          {
            "$ref": "#/components/parameters/organisationId"
          },
          {
            "$ref": "#/components/parameters/venueId"
          }
        ]
      },
      "post": {
        "responses": {
          "200": {
            "description": "An FloorPlan object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FloorPlanView"
                }
              }
            },
            "headers": {
              "rid_chain": {
                "$ref": "#/components/headers/rid_chain"
              },
              "rid": {
                "$ref": "#/components/headers/rid"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "404": {
            "description": "FloorPlan not found"
          }
        },
        "tags": [
          "FloorPlans"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FloorPlanInsert"
              }
            }
          }
        },
        "description": "Creates a new FloorPlan<br><br>You will need to have the following data accesses assigned to your user to use this route: mm_insert_floorplans<br><br>This route generates events on the topic name: 'mm_venue_${venueId}_floorplans\u2019 where venueId is the cloud assigned ID for your venue. \n    <br>You can get a list of venues that you have access to through the /venues route. \n    <br><br>You will need to be assigned the following data access: 'mm_receive_floorplans_events' to receive events on this route.",
        "parameters": [
          {
            "$ref": "#/components/parameters/rid_chain"
          }
        ]
      }
    },
    "/FloorPlans/{id}": {
      "get": {
        "responses": {
          "200": {
            "description": "An FloorPlan object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/getFloorPlanView"
                }
              }
            },
            "headers": {
              "rid_chain": {
                "$ref": "#/components/headers/rid_chain"
              },
              "rid": {
                "$ref": "#/components/headers/rid"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "404": {
            "description": "FloorPlan not found"
          }
        },
        "tags": [
          "FloorPlans"
        ],
        "description": "Gets a FloorPlan object<br><br>You will need to have the following data accesses assigned to your user to use this route: mm_get_floorplans",
        "parameters": [
          {
            "$ref": "#/components/parameters/rid_chain"
          },
          {
            "$ref": "#/components/parameters/id"
          },
          {
            "name": "view",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "FloorPlanWithTableBills",
                "FKExternalKeys"
              ]
            },
            "description": "\nThe view is the list of fields you want returned.\n\n### View Templates\nFloorPlanWithTableBills\n\n - **Location:** locationId\n - **FloorTables:** tableNumber\n\nFKExternalKeys\n\n - **LocationIdFKObject:** locationId, externalKeys\n\n\n            "
          }
        ]
      },
      "put": {
        "responses": {
          "200": {
            "description": "An array of FloorPlan objects.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FloorPlanView"
                  }
                }
              }
            },
            "headers": {
              "rid_chain": {
                "$ref": "#/components/headers/rid_chain"
              },
              "rid": {
                "$ref": "#/components/headers/rid"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "404": {
            "description": "FloorPlan not found"
          }
        },
        "tags": [
          "FloorPlans"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FloorPlanUpdate"
              }
            }
          }
        },
        "description": "Update a FloorPlan object<br><br>You will need to have the following data accesses assigned to your user to use this route: mm_update_floorplans<br><br>This route generates events on the topic name: 'mm_venue_${venueId}_floorplans\u2019 where venueId is the cloud assigned ID for your venue. \n    <br>You can get a list of venues that you have access to through the /venues route. \n    <br><br>You will need to be assigned the following data access: 'mm_receive_floorplans_events' to receive events on this route.",
        "parameters": [
          {
            "$ref": "#/components/parameters/rid_chain"
          },
          {
            "$ref": "#/components/parameters/id"
          }
        ]
      },
      "delete": {
        "responses": {
          "204": {
            "description": "A 204 response means that no data was found meeting your search criteria."
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "404": {
            "description": "FloorPlan not found"
          }
        },
        "tags": [
          "FloorPlans"
        ],
        "description": "Delete a FloorPlan object<br><br>You will need to have the following data accesses assigned to your user to use this route: mm_delete_floorplans<br><br>This route generates events on the topic name: 'mm_venue_${venueId}_floorplans\u2019 where venueId is the cloud assigned ID for your venue. \n    <br>You can get a list of venues that you have access to through the /venues route. \n    <br><br>You will need to be assigned the following data access: 'mm_receive_floorplans_events' to receive events on this route.",
        "parameters": [
          {
            "$ref": "#/components/parameters/rid_chain"
          },
          {
            "$ref": "#/components/parameters/id"
          }
        ]
      }
    },
    "/FloorTables/": {
      "get": {
        "responses": {
          "200": {
            "description": "An array of FloorTable objects.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FloorTableView"
                  }
                }
              }
            },
            "headers": {
              "rid_chain": {
                "$ref": "#/components/headers/rid_chain"
              },
              "rid": {
                "$ref": "#/components/headers/rid"
              },
              "total_available_results_count": {
                "$ref": "#/components/headers/total_available_results_count"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "404": {
            "description": "FloorTable not found"
          }
        },
        "tags": [
          "FloorTables"
        ],
        "description": "Search for FloorTable objects<br><br>You will need to have the following data accesses assigned to your user to use this route: mm_get_floortables",
        "parameters": [
          {
            "$ref": "#/components/parameters/rid_chain"
          },
          {
            "name": "group",
            "in": "query",
            "description": "This parameter is used to group results.\n                        The fieldName can be any of the following: floorPlanId.\n                        The sort could either have - to sort by descending and + to sort by ascending. See groupQuery schema for more info.\n                        For grouping using a nested field use <object>.<field> to specify the nested levels eg +Stock.name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "groupSummary",
            "in": "query",
            "description": "This parameter is used to summarise grouped results by aggregating the groups.\n                The fieldName can be any of the following: floorTableId, floorPlanId, seatCapacity.\n                        The type could be count,min,max,sum,avg. See groupSummaryQuery schema for more info.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "totalSummary",
            "in": "query",
            "description": "This parameter is used to summarise all grouped results by aggregating all the groups sub groups.\n                The fieldName can be any of the following: floorTableId, floorPlanId, seatCapacity.\n                        The type could be count,min,max,sum,avg. See groupSummaryQuery schema for more info.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "searchDistinct",
            "in": "query",
            "description": "This parameter is used to get the distinct values for a field. \n                Only the field specified will be returned in the results. This can be used with filtering functionality, sort and limit. \n                However it cannot be used with group, groupSummary or totalSummary.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "This parameter is used to change the sorting of results returned. \n                        The default sort is floorTableId ascending. \n                        Use any fieldNames comma separated in the sort. \n                        Use + for ascending - for descending \n                        eg +updateDateTime.\n                        - floorTableId would sort by updateDateTime ascending and then floorTableId descending.\n For sorting using a nested field use &lt;object&gt;.&lt;field&gt; to specify the nested levels eg +Stock.name\n                        For sorting using a nested field use <object>.<field> to specify the nested levels eg +Stock.name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "This limits the amount of results returned. This default limit Is set to 20. The maximum limit is 200."
          },
          {
            "$ref": "#/components/parameters/Offset"
          },
          {
            "$ref": "#/components/parameters/search"
          },
          {
            "name": "floorTableId",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Primary key for floor tables<br><b>integer:</b> This parameter searches the floorTableId field and returns all available results that match. \n\nYou can use >10 to search for all floorTableIds greater than 10. You can use [1,2,3] to search for floorTableIds that match either 1, 2 or 3. You can use this parameter multiple times. eg floorTableId=>5& floorTableId=<10 would search for all floorTableIds between 5 and 10."
          },
          {
            "name": "floorPlanId",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "The floor plan that this table belongs to<br><b>integer:</b> This parameter searches the floorPlanId field and returns all available results that match. \n\nYou can use >10 to search for all floorPlanIds greater than 10. You can use [1,2,3] to search for floorPlanIds that match either 1, 2 or 3. You can use this parameter multiple times. eg floorPlanId=>5& floorPlanId=<10 would search for all floorPlanIds between 5 and 10."
          },
          {
            "name": "objectId",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "The uuid of table object in canvas json<br>This parameter searches for the objectId field and returns all available results that match. You can use this parameter multiple times and it will do an 'AND' search. You can use * as a wildcard. You can use brackets and a comma to perform an \u2018OR\u2019 search e.g [a,b*] will search for \u2018a\u2019 OR a value starting with \u2018b\u2019."
          },
          {
            "name": "tableNumber",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "<br>This parameter searches for the tableNumber field and returns all available results that match. You can use this parameter multiple times and it will do an 'AND' search. You can use * as a wildcard. You can use brackets and a comma to perform an \u2018OR\u2019 search e.g [a,b*] will search for \u2018a\u2019 OR a value starting with \u2018b\u2019."
          },
          {
            "name": "seatCapacity",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "<br><b>integer:</b> This parameter searches the seatCapacity field and returns all available results that match. \n\nYou can use >10 to search for all seatCapacitys greater than 10. You can use [1,2,3] to search for seatCapacitys that match either 1, 2 or 3. You can use this parameter multiple times. eg seatCapacity=>5& seatCapacity=<10 would search for all seatCapacitys between 5 and 10."
          },
          {
            "name": "shape",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "<br>This parameter searches for the shape field and returns all available results that match. You can use this parameter multiple times and it will do an 'AND' search. You can use * as a wildcard. You can use brackets and a comma to perform an \u2018OR\u2019 search e.g [a,b*] will search for \u2018a\u2019 OR a value starting with \u2018b\u2019."
          },
          {
            "$ref": "#/components/parameters/createDateTime"
          },
          {
            "$ref": "#/components/parameters/updateDateTime"
          },
          {
            "$ref": "#/components/parameters/lastUpdateByUserId"
          },
          {
            "$ref": "#/components/parameters/externalKey"
          },
          {
            "$ref": "#/components/parameters/organisationId"
          },
          {
            "$ref": "#/components/parameters/venueId"
          }
        ]
      }
    },
    "/FloorTables/byExternalKey/{id}": {
      "get": {
        "responses": {
          "200": {
            "description": "An FloorTable object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FloorTableView"
                }
              }
            },
            "headers": {
              "rid_chain": {
                "$ref": "#/components/headers/rid_chain"
              },
              "rid": {
                "$ref": "#/components/headers/rid"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "404": {
            "description": "FloorTable not found"
          }
        },
        "tags": [
          "FloorTables"
        ],
        "description": "Gets a FloorTable object<br><br>You will need to have the following data accesses assigned to your user to use this route: mm_get_floortables",
        "parameters": [
          {
            "$ref": "#/components/parameters/rid_chain"
          },
          {
            "$ref": "#/components/parameters/externalKeyId"
          }
        ]
      },
      "put": {
        "responses": {
          "200": {
            "description": "An array of FloorTable objects.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FloorTableView"
                  }
                }
              }
            },
            "headers": {
              "rid_chain": {
                "$ref": "#/components/headers/rid_chain"
              },
              "rid": {
                "$ref": "#/components/headers/rid"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "404": {
            "description": "FloorTable not found"
          }
        },
        "tags": [
          "FloorTables"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FloorTableUpdate"
              }
            }
          }
        },
        "description": "Update a FloorTable object<br><br>You will need to have the following data accesses assigned to your user to use this route: mm_update_floortables<br><br>This route generates events on the topic name: 'mm_venue_${venueId}_floortables\u2019 where venueId is the cloud assigned ID for your venue. \n    <br>You can get a list of venues that you have access to through the /venues route. \n    <br><br>You will need to be assigned the following data access: 'mm_receive_floortables_events' to receive events on this route.",
        "parameters": [
          {
            "$ref": "#/components/parameters/rid_chain"
          },
          {
            "$ref": "#/components/parameters/externalKeyId"
          }
        ]
      },
      "delete": {
        "responses": {
          "204": {
            "description": "A 204 response means that no data was found meeting your search criteria."
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "404": {
            "description": "FloorTable not found"
          }
        },
        "tags": [
          "FloorTables"
        ],
        "description": "Delete a FloorTable object<br><br>You will need to have the following data accesses assigned to your user to use this route: mm_delete_floortables<br><br>This route generates events on the topic name: 'mm_venue_${venueId}_floortables\u2019 where venueId is the cloud assigned ID for your venue. \n    <br>You can get a list of venues that you have access to through the /venues route. \n    <br><br>You will need to be assigned the following data access: 'mm_receive_floortables_events' to receive events on this route.",
        "parameters": [
          {
            "$ref": "#/components/parameters/rid_chain"
          },
          {
            "$ref": "#/components/parameters/externalKeyId"
          }
        ]
      }
    },
    "/FloorTables/{id}": {
      "get": {
        "responses": {
          "200": {
            "description": "An FloorTable object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FloorTableView"
                }
              }
            },
            "headers": {
              "rid_chain": {
                "$ref": "#/components/headers/rid_chain"
              },
              "rid": {
                "$ref": "#/components/headers/rid"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "404": {
            "description": "FloorTable not found"
          }
        },
        "tags": [
          "FloorTables"
        ],
        "description": "Gets a FloorTable object<br><br>You will need to have the following data accesses assigned to your user to use this route: mm_get_floortables",
        "parameters": [
          {
            "$ref": "#/components/parameters/rid_chain"
          },
          {
            "$ref": "#/components/parameters/id"
          }
        ]
      },
      "put": {
        "responses": {
          "200": {
            "description": "An array of FloorTable objects.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FloorTableView"
                  }
                }
              }
            },
            "headers": {
              "rid_chain": {
                "$ref": "#/components/headers/rid_chain"
              },
              "rid": {
                "$ref": "#/components/headers/rid"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "404": {
            "description": "FloorTable not found"
          }
        },
        "tags": [
          "FloorTables"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FloorTableUpdate"
              }
            }
          }
        },
        "description": "Update a FloorTable object<br><br>You will need to have the following data accesses assigned to your user to use this route: mm_update_floortables<br><br>This route generates events on the topic name: 'mm_venue_${venueId}_floortables\u2019 where venueId is the cloud assigned ID for your venue. \n    <br>You can get a list of venues that you have access to through the /venues route. \n    <br><br>You will need to be assigned the following data access: 'mm_receive_floortables_events' to receive events on this route.",
        "parameters": [
          {
            "$ref": "#/components/parameters/rid_chain"
          },
          {
            "$ref": "#/components/parameters/id"
          }
        ]
      },
      "delete": {
        "responses": {
          "204": {
            "description": "A 204 response means that no data was found meeting your search criteria."
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "404": {
            "description": "FloorTable not found"
          }
        },
        "tags": [
          "FloorTables"
        ],
        "description": "Delete a FloorTable object<br><br>You will need to have the following data accesses assigned to your user to use this route: mm_delete_floortables<br><br>This route generates events on the topic name: 'mm_venue_${venueId}_floortables\u2019 where venueId is the cloud assigned ID for your venue. \n    <br>You can get a list of venues that you have access to through the /venues route. \n    <br><br>You will need to be assigned the following data access: 'mm_receive_floortables_events' to receive events on this route.",
        "parameters": [
          {
            "$ref": "#/components/parameters/rid_chain"
          },
          {
            "$ref": "#/components/parameters/id"
          }
        ]
      }
    },
    "/ItemDietaryInformation/": {
      "get": {
        "responses": {
          "200": {
            "description": "An array of ItemDietaryInformation objects.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/searchItemDietaryInformationView"
                }
              }
            },
            "headers": {
              "rid_chain": {
                "$ref": "#/components/headers/rid_chain"
              },
              "rid": {
                "$ref": "#/components/headers/rid"
              },
              "total_available_results_count": {
                "$ref": "#/components/headers/total_available_results_count"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "404": {
            "description": "ItemDietaryInformation not found"
          }
        },
        "tags": [
          "ItemDietaryInformation"
        ],
        "description": "Search for ItemDietaryInformation objects<br><br>Links dietary information with items.<br><br>You will need to have the following data accesses assigned to your user to use this route: mm_get_itemdietaryinformation",
        "parameters": [
          {
            "$ref": "#/components/parameters/rid_chain"
          },
          {
            "name": "view",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "FKExternalKeys"
              ]
            },
            "description": "\nThe view is the list of fields you want returned.\n\n### View Templates\nFKExternalKeys\n\n - **ItemIdFKObject:** itemId, externalKeys\n\n\n            "
          },
          {
            "name": "group",
            "in": "query",
            "description": "This parameter is used to group results.\n                        The fieldName can be any of the following: itemId, dietaryId.\n                        The sort could either have - to sort by descending and + to sort by ascending. See groupQuery schema for more info.\n                        For grouping using a nested field use <object>.<field> to specify the nested levels eg +Stock.name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "groupSummary",
            "in": "query",
            "description": "This parameter is used to summarise grouped results by aggregating the groups.\n                The fieldName can be any of the following: itemDietaryId, itemId, dietaryId.\n                        The type could be count,min,max,sum,avg. See groupSummaryQuery schema for more info.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "totalSummary",
            "in": "query",
            "description": "This parameter is used to summarise all grouped results by aggregating all the groups sub groups.\n                The fieldName can be any of the following: itemDietaryId, itemId, dietaryId.\n                        The type could be count,min,max,sum,avg. See groupSummaryQuery schema for more info.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "searchDistinct",
            "in": "query",
            "description": "This parameter is used to get the distinct values for a field. \n                Only the field specified will be returned in the results. This can be used with filtering functionality, sort and limit. \n                However it cannot be used with group, groupSummary or totalSummary.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "This parameter is used to change the sorting of results returned. \n                        The default sort is itemDietaryId ascending. \n                        Use any fieldNames comma separated in the sort. \n                        Use + for ascending - for descending \n                        eg +updateDateTime.\n                        - itemDietaryId would sort by updateDateTime ascending and then itemDietaryId descending.\n For sorting using a nested field use &lt;object&gt;.&lt;field&gt; to specify the nested levels eg +Stock.name\n                        For sorting using a nested field use <object>.<field> to specify the nested levels eg +Stock.name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "This limits the amount of results returned. This default limit Is set to 20. The maximum limit is 200."
          },
          {
            "$ref": "#/components/parameters/Offset"
          },
          {
            "$ref": "#/components/parameters/search"
          },
          {
            "name": "itemDietaryId",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "The unique identifier of this record.<br><b>integer:</b> This parameter searches the itemDietaryId field and returns all available results that match. \n\nYou can use >10 to search for all itemDietaryIds greater than 10. You can use [1,2,3] to search for itemDietaryIds that match either 1, 2 or 3. You can use this parameter multiple times. eg itemDietaryId=>5& itemDietaryId=<10 would search for all itemDietaryIds between 5 and 10."
          },
          {
            "name": "itemId",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "A reference to the primary key in the Items Table<br><b>integer:</b> This parameter searches the itemId field and returns all available results that match. \n\nYou can use >10 to search for all itemIds greater than 10. You can use [1,2,3] to search for itemIds that match either 1, 2 or 3. You can use this parameter multiple times. eg itemId=>5& itemId=<10 would search for all itemIds between 5 and 10."
          },
          {
            "name": "dietaryId",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "A reference to the primary key in the DietaryInformation Table<br><b>integer:</b> This parameter searches the dietaryId field and returns all available results that match. \n\nYou can use >10 to search for all dietaryIds greater than 10. You can use [1,2,3] to search for dietaryIds that match either 1, 2 or 3. You can use this parameter multiple times. eg dietaryId=>5& dietaryId=<10 would search for all dietaryIds between 5 and 10."
          },
          {
            "$ref": "#/components/parameters/createDateTime"
          },
          {
            "$ref": "#/components/parameters/updateDateTime"
          },
          {
            "$ref": "#/components/parameters/lastUpdateByUserId"
          },
          {
            "$ref": "#/components/parameters/externalKey"
          },
          {
            "$ref": "#/components/parameters/organisationId"
          },
          {
            "$ref": "#/components/parameters/venueId"
          }
        ]
      },
      "post": {
        "responses": {
          "200": {
            "description": "An ItemDietaryInformation object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ItemDietaryInformationView"
                }
              }
            },
            "headers": {
              "rid_chain": {
                "$ref": "#/components/headers/rid_chain"
              },
              "rid": {
                "$ref": "#/components/headers/rid"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "404": {
            "description": "ItemDietaryInformation not found"
          }
        },
        "tags": [
          "ItemDietaryInformation"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ItemDietaryInformationInsert"
              }
            }
          }
        },
        "description": "Creates a new ItemDietaryInformation<br><br>Links dietary information with items.<br><br>You will need to have the following data accesses assigned to your user to use this route: mm_insert_itemdietaryinformation<br><br>This route generates events on the topic name: 'mm_venue_${venueId}_itemdietaryinformation\u2019 where venueId is the cloud assigned ID for your venue. \n    <br>You can get a list of venues that you have access to through the /venues route. \n    <br><br>You will need to be assigned the following data access: 'mm_receive_itemdietaryinformation_events' to receive events on this route.",
        "parameters": [
          {
            "$ref": "#/components/parameters/rid_chain"
          }
        ]
      }
    },
    "/ItemDietaryInformation/byExternalKey/{id}": {
      "get": {
        "responses": {
          "200": {
            "description": "An ItemDietaryInformation object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/getItemDietaryInformationView"
                }
              }
            },
            "headers": {
              "rid_chain": {
                "$ref": "#/components/headers/rid_chain"
              },
              "rid": {
                "$ref": "#/components/headers/rid"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "404": {
            "description": "ItemDietaryInformation not found"
          }
        },
        "tags": [
          "ItemDietaryInformation"
        ],
        "description": "Gets a ItemDietaryInformation object<br><br>Links dietary information with items.<br><br>You will need to have the following data accesses assigned to your user to use this route: mm_get_itemdietaryinformation",
        "parameters": [
          {
            "$ref": "#/components/parameters/rid_chain"
          },
          {
            "$ref": "#/components/parameters/externalKeyId"
          },
          {
            "name": "view",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "FKExternalKeys"
              ]
            },
            "description": "\nThe view is the list of fields you want returned.\n\n### View Templates\nFKExternalKeys\n\n - **ItemIdFKObject:** itemId, externalKeys\n\n\n            "
          }
        ]
      },
      "delete": {
        "responses": {
          "204": {
            "description": "A 204 response means that no data was found meeting your search criteria."
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "404": {
            "description": "ItemDietaryInformation not found"
          }
        },
        "tags": [
          "ItemDietaryInformation"
        ],
        "description": "Delete a ItemDietaryInformation object<br><br>Links dietary information with items.<br><br>You will need to have the following data accesses assigned to your user to use this route: mm_delete_itemdietaryinformation<br><br>This route generates events on the topic name: 'mm_venue_${venueId}_itemdietaryinformation\u2019 where venueId is the cloud assigned ID for your venue. \n    <br>You can get a list of venues that you have access to through the /venues route. \n    <br><br>You will need to be assigned the following data access: 'mm_receive_itemdietaryinformation_events' to receive events on this route.",
        "parameters": [
          {
            "$ref": "#/components/parameters/rid_chain"
          },
          {
            "$ref": "#/components/parameters/externalKeyId"
          }
        ]
      }
    },
    "/ItemDietaryInformation/{id}": {
      "get": {
        "responses": {
          "200": {
            "description": "An ItemDietaryInformation object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/getItemDietaryInformationView"
                }
              }
            },
            "headers": {
              "rid_chain": {
                "$ref": "#/components/headers/rid_chain"
              },
              "rid": {
                "$ref": "#/components/headers/rid"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "404": {
            "description": "ItemDietaryInformation not found"
          }
        },
        "tags": [
          "ItemDietaryInformation"
        ],
        "description": "Gets a ItemDietaryInformation object<br><br>Links dietary information with items.<br><br>You will need to have the following data accesses assigned to your user to use this route: mm_get_itemdietaryinformation",
        "parameters": [
          {
            "$ref": "#/components/parameters/rid_chain"
          },
          {
            "$ref": "#/components/parameters/id"
          },
          {
            "name": "view",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "FKExternalKeys"
              ]
            },
            "description": "\nThe view is the list of fields you want returned.\n\n### View Templates\nFKExternalKeys\n\n - **ItemIdFKObject:** itemId, externalKeys\n\n\n            "
          }
        ]
      },
      "delete": {
        "responses": {
          "204": {
            "description": "A 204 response means that no data was found meeting your search criteria."
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "404": {
            "description": "ItemDietaryInformation not found"
          }
        },
        "tags": [
          "ItemDietaryInformation"
        ],
        "description": "Delete a ItemDietaryInformation object<br><br>Links dietary information with items.<br><br>You will need to have the following data accesses assigned to your user to use this route: mm_delete_itemdietaryinformation<br><br>This route generates events on the topic name: 'mm_venue_${venueId}_itemdietaryinformation\u2019 where venueId is the cloud assigned ID for your venue. \n    <br>You can get a list of venues that you have access to through the /venues route. \n    <br><br>You will need to be assigned the following data access: 'mm_receive_itemdietaryinformation_events' to receive events on this route.",
        "parameters": [
          {
            "$ref": "#/components/parameters/rid_chain"
          },
          {
            "$ref": "#/components/parameters/id"
          }
        ]
      }
    },
    "/ItemModifierGroupItems/": {
      "get": {
        "responses": {
          "200": {
            "description": "An array of ItemModifierGroupItem objects.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/searchItemModifierGroupItemView"
                }
              }
            },
            "headers": {
              "rid_chain": {
                "$ref": "#/components/headers/rid_chain"
              },
              "rid": {
                "$ref": "#/components/headers/rid"
              },
              "total_available_results_count": {
                "$ref": "#/components/headers/total_available_results_count"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "404": {
            "description": "ItemModifierGroupItem not found"
          }
        },
        "tags": [
          "ItemModifierGroupItems"
        ],
        "description": "Search for ItemModifierGroupItem objects<br><br>You will need to have the following data accesses assigned to your user to use this route: mm_get_itemmodifiergroupitems",
        "parameters": [
          {
            "$ref": "#/components/parameters/rid_chain"
          },
          {
            "name": "view",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "FKExternalKeys"
              ]
            },
            "description": "\nThe view is the list of fields you want returned.\n\n### View Templates\nFKExternalKeys\n\n - **ModifierItemIdFKObject:** itemId, externalKeys\n - **ItemModifierGroupIdFKObject:** itemModifierGroupId, externalKeys\n\n\n            "
          },
          {
            "name": "group",
            "in": "query",
            "description": "This parameter is used to group results.\n                        The fieldName can be any of the following: modifierItemId, itemModifierGroupId.\n                        The sort could either have - to sort by descending and + to sort by ascending. See groupQuery schema for more info.\n                        For grouping using a nested field use <object>.<field> to specify the nested levels eg +Stock.name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "groupSummary",
            "in": "query",
            "description": "This parameter is used to summarise grouped results by aggregating the groups.\n                The fieldName can be any of the following: itemModifierGroupItemId, modifierItemId, itemModifierGroupId.\n                        The type could be count,min,max,sum,avg. See groupSummaryQuery schema for more info.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "totalSummary",
            "in": "query",
            "description": "This parameter is used to summarise all grouped results by aggregating all the groups sub groups.\n                The fieldName can be any of the following: itemModifierGroupItemId, modifierItemId, itemModifierGroupId.\n                        The type could be count,min,max,sum,avg. See groupSummaryQuery schema for more info.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "searchDistinct",
            "in": "query",
            "description": "This parameter is used to get the distinct values for a field. \n                Only the field specified will be returned in the results. This can be used with filtering functionality, sort and limit. \n                However it cannot be used with group, groupSummary or totalSummary.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "This parameter is used to change the sorting of results returned. \n                        The default sort is itemModifierGroupItemId ascending. \n                        Use any fieldNames comma separated in the sort. \n                        Use + for ascending - for descending \n                        eg +updateDateTime.\n                        - itemModifierGroupItemId would sort by updateDateTime ascending and then itemModifierGroupItemId descending.\n For sorting using a nested field use &lt;object&gt;.&lt;field&gt; to specify the nested levels eg +Stock.name\n                        For sorting using a nested field use <object>.<field> to specify the nested levels eg +Stock.name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "This limits the amount of results returned. This default limit Is set to 20. The maximum limit is 200."
          },
          {
            "$ref": "#/components/parameters/Offset"
          },
          {
            "$ref": "#/components/parameters/search"
          },
          {
            "name": "itemModifierGroupItemId",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "The unique identifier of this record.<br><b>integer:</b> This parameter searches the itemModifierGroupItemId field and returns all available results that match. \n\nYou can use >10 to search for all itemModifierGroupItemIds greater than 10. You can use [1,2,3] to search for itemModifierGroupItemIds that match either 1, 2 or 3. You can use this parameter multiple times. eg itemModifierGroupItemId=>5& itemModifierGroupItemId=<10 would search for all itemModifierGroupItemIds between 5 and 10."
          },
          {
            "name": "modifierItemId",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "A reference to the primary key in the Items Table<br><b>integer:</b> This parameter searches the modifierItemId field and returns all available results that match. \n\nYou can use >10 to search for all modifierItemIds greater than 10. You can use [1,2,3] to search for modifierItemIds that match either 1, 2 or 3. You can use this parameter multiple times. eg modifierItemId=>5& modifierItemId=<10 would search for all modifierItemIds between 5 and 10."
          },
          {
            "name": "isAvailable",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "<br><b>boolean:</b>"
          },
          {
            "name": "itemModifierGroupId",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "A reference to the primary key in the ItemModifierGroups Table<br><b>integer:</b> This parameter searches the itemModifierGroupId field and returns all available results that match. \n\nYou can use >10 to search for all itemModifierGroupIds greater than 10. You can use [1,2,3] to search for itemModifierGroupIds that match either 1, 2 or 3. You can use this parameter multiple times. eg itemModifierGroupId=>5& itemModifierGroupId=<10 would search for all itemModifierGroupIds between 5 and 10."
          },
          {
            "$ref": "#/components/parameters/createDateTime"
          },
          {
            "$ref": "#/components/parameters/lastUpdateByUserId"
          },
          {
            "$ref": "#/components/parameters/externalKey"
          },
          {
            "$ref": "#/components/parameters/organisationId"
          },
          {
            "$ref": "#/components/parameters/venueId"
          }
        ]
      }
    },
    "/ItemModifierGroupItems/byExternalKey/{id}": {
      "get": {
        "responses": {
          "200": {
            "description": "An ItemModifierGroupItem object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/getItemModifierGroupItemView"
                }
              }
            },
            "headers": {
              "rid_chain": {
                "$ref": "#/components/headers/rid_chain"
              },
              "rid": {
                "$ref": "#/components/headers/rid"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "404": {
            "description": "ItemModifierGroupItem not found"
          }
        },
        "tags": [
          "ItemModifierGroupItems"
        ],
        "description": "Gets a ItemModifierGroupItem object<br><br>You will need to have the following data accesses assigned to your user to use this route: mm_get_itemmodifiergroupitems",
        "parameters": [
          {
            "$ref": "#/components/parameters/rid_chain"
          },
          {
            "$ref": "#/components/parameters/externalKeyId"
          },
          {
            "name": "view",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "FKExternalKeys"
              ]
            },
            "description": "\nThe view is the list of fields you want returned.\n\n### View Templates\nFKExternalKeys\n\n - **ModifierItemIdFKObject:** itemId, externalKeys\n - **ItemModifierGroupIdFKObject:** itemModifierGroupId, externalKeys\n\n\n            "
          }
        ]
      },
      "put": {
        "responses": {
          "200": {
            "description": "An array of ItemModifierGroupItem objects.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ItemModifierGroupItemView"
                  }
                }
              }
            },
            "headers": {
              "rid_chain": {
                "$ref": "#/components/headers/rid_chain"
              },
              "rid": {
                "$ref": "#/components/headers/rid"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "404": {
            "description": "ItemModifierGroupItem not found"
          }
        },
        "tags": [
          "ItemModifierGroupItems"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ItemModifierGroupItemUpdate"
              }
            }
          }
        },
        "description": "Update a ItemModifierGroupItem object<br><br>You will need to have the following data accesses assigned to your user to use this route: mm_update_itemmodifiergroupitems<br><br>This route generates events on the topic name: 'mm_venue_${venueId}_itemmodifiergroupitems\u2019 where venueId is the cloud assigned ID for your venue. \n    <br>You can get a list of venues that you have access to through the /venues route. \n    <br><br>You will need to be assigned the following data access: 'mm_receive_itemmodifiergroupitems_events' to receive events on this route.",
        "parameters": [
          {
            "$ref": "#/components/parameters/rid_chain"
          },
          {
            "$ref": "#/components/parameters/externalKeyId"
          }
        ]
      }
    },
    "/ItemModifierGroupItems/{id}": {
      "get": {
        "responses": {
          "200": {
            "description": "An ItemModifierGroupItem object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/getItemModifierGroupItemView"
                }
              }
            },
            "headers": {
              "rid_chain": {
                "$ref": "#/components/headers/rid_chain"
              },
              "rid": {
                "$ref": "#/components/headers/rid"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "404": {
            "description": "ItemModifierGroupItem not found"
          }
        },
        "tags": [
          "ItemModifierGroupItems"
        ],
        "description": "Gets a ItemModifierGroupItem object<br><br>You will need to have the following data accesses assigned to your user to use this route: mm_get_itemmodifiergroupitems",
        "parameters": [
          {
            "$ref": "#/components/parameters/rid_chain"
          },
          {
            "$ref": "#/components/parameters/id"
          },
          {
            "name": "view",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "FKExternalKeys"
              ]
            },
            "description": "\nThe view is the list of fields you want returned.\n\n### View Templates\nFKExternalKeys\n\n - **ModifierItemIdFKObject:** itemId, externalKeys\n - **ItemModifierGroupIdFKObject:** itemModifierGroupId, externalKeys\n\n\n            "
          }
        ]
      },
      "put": {
        "responses": {
          "200": {
            "description": "An array of ItemModifierGroupItem objects.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ItemModifierGroupItemView"
                  }
                }
              }
            },
            "headers": {
              "rid_chain": {
                "$ref": "#/components/headers/rid_chain"
              },
              "rid": {
                "$ref": "#/components/headers/rid"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "404": {
            "description": "ItemModifierGroupItem not found"
          }
        },
        "tags": [
          "ItemModifierGroupItems"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ItemModifierGroupItemUpdate"
              }
            }
          }
        },
        "description": "Update a ItemModifierGroupItem object<br><br>You will need to have the following data accesses assigned to your user to use this route: mm_update_itemmodifiergroupitems<br><br>This route generates events on the topic name: 'mm_venue_${venueId}_itemmodifiergroupitems\u2019 where venueId is the cloud assigned ID for your venue. \n    <br>You can get a list of venues that you have access to through the /venues route. \n    <br><br>You will need to be assigned the following data access: 'mm_receive_itemmodifiergroupitems_events' to receive events on this route.",
        "parameters": [
          {
            "$ref": "#/components/parameters/rid_chain"
          },
          {
            "$ref": "#/components/parameters/id"
          }
        ]
      }
    },
    "/ItemModifierGroups/": {
      "get": {
        "responses": {
          "200": {
            "description": "An array of ItemModifierGroup objects.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/searchItemModifierGroupView"
                }
              }
            },
            "headers": {
              "rid_chain": {
                "$ref": "#/components/headers/rid_chain"
              },
              "rid": {
                "$ref": "#/components/headers/rid"
              },
              "total_available_results_count": {
                "$ref": "#/components/headers/total_available_results_count"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "404": {
            "description": "ItemModifierGroup not found"
          }
        },
        "tags": [
          "ItemModifierGroups"
        ],
        "description": "Search for ItemModifierGroup objects<br><br>Assigns modifier groups to an item.<br><br>You will need to have the following data accesses assigned to your user to use this route: mm_get_itemmodifiergroups",
        "parameters": [
          {
            "$ref": "#/components/parameters/rid_chain"
          },
          {
            "name": "view",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "ItemsLinkedWithModifierGroup",
                "FKExternalKeys"
              ]
            },
            "description": "\nThe view is the list of fields you want returned.\n\n### View Templates\nItemsLinkedWithModifierGroup\n\n - **Item:** itemId, displayName, internalName, price, plu, productGroup\n\nFKExternalKeys\n\n - **ItemIdFKObject:** itemId, externalKeys\n - **ModifierGroupIdFKObject:** modifierGroupId, externalKeys\n\n\n            "
          },
          {
            "name": "group",
            "in": "query",
            "description": "This parameter is used to group results.\n                        The fieldName can be any of the following: itemId, modifierGroupId.\n                        The sort could either have - to sort by descending and + to sort by ascending. See groupQuery schema for more info.\n                        For grouping using a nested field use <object>.<field> to specify the nested levels eg +Stock.name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "groupSummary",
            "in": "query",
            "description": "This parameter is used to summarise grouped results by aggregating the groups.\n                The fieldName can be any of the following: itemModifierGroupId, itemId, modifierGroupId, displayOrder.\n                        The type could be count,min,max,sum,avg. See groupSummaryQuery schema for more info.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "totalSummary",
            "in": "query",
            "description": "This parameter is used to summarise all grouped results by aggregating all the groups sub groups.\n                The fieldName can be any of the following: itemModifierGroupId, itemId, modifierGroupId, displayOrder.\n                        The type could be count,min,max,sum,avg. See groupSummaryQuery schema for more info.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "searchDistinct",
            "in": "query",
            "description": "This parameter is used to get the distinct values for a field. \n                Only the field specified will be returned in the results. This can be used with filtering functionality, sort and limit. \n                However it cannot be used with group, groupSummary or totalSummary.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "This parameter is used to change the sorting of results returned. \n                        The default sort is itemModifierGroupId ascending. \n                        Use any fieldNames comma separated in the sort. \n                        Use + for ascending - for descending \n                        eg +updateDateTime.\n                        - itemModifierGroupId would sort by updateDateTime ascending and then itemModifierGroupId descending.\n For sorting using a nested field use &lt;object&gt;.&lt;field&gt; to specify the nested levels eg +Stock.name\n                        For sorting using a nested field use <object>.<field> to specify the nested levels eg +Stock.name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "This limits the amount of results returned. This default limit Is set to 20. The maximum limit is 200."
          },
          {
            "$ref": "#/components/parameters/Offset"
          },
          {
            "$ref": "#/components/parameters/search"
          },
          {
            "name": "itemModifierGroupId",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "The unique identifier of this record.<br><b>integer:</b> This parameter searches the itemModifierGroupId field and returns all available results that match. \n\nYou can use >10 to search for all itemModifierGroupIds greater than 10. You can use [1,2,3] to search for itemModifierGroupIds that match either 1, 2 or 3. You can use this parameter multiple times. eg itemModifierGroupId=>5& itemModifierGroupId=<10 would search for all itemModifierGroupIds between 5 and 10."
          },
          {
            "name": "itemId",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "A reference to the primary key in the Items Table<br><b>integer:</b> This parameter searches the itemId field and returns all available results that match. \n\nYou can use >10 to search for all itemIds greater than 10. You can use [1,2,3] to search for itemIds that match either 1, 2 or 3. You can use this parameter multiple times. eg itemId=>5& itemId=<10 would search for all itemIds between 5 and 10."
          },
          {
            "name": "modifierGroupId",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "A reference to the primary key in the ModifierGroups Table<br><b>integer:</b> This parameter searches the modifierGroupId field and returns all available results that match. \n\nYou can use >10 to search for all modifierGroupIds greater than 10. You can use [1,2,3] to search for modifierGroupIds that match either 1, 2 or 3. You can use this parameter multiple times. eg modifierGroupId=>5& modifierGroupId=<10 would search for all modifierGroupIds between 5 and 10."
          },
          {
            "$ref": "#/components/parameters/createDateTime"
          },
          {
            "$ref": "#/components/parameters/updateDateTime"
          },
          {
            "$ref": "#/components/parameters/lastUpdateByUserId"
          },
          {
            "name": "displayOrder",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Determines the position of the modifier group in a list\r\nExample Value: 1<br><b>integer:</b> This parameter searches the displayOrder field and returns all available results that match. \n\nYou can use >10 to search for all displayOrders greater than 10. You can use [1,2,3] to search for displayOrders that match either 1, 2 or 3. You can use this parameter multiple times. eg displayOrder=>5& displayOrder=<10 would search for all displayOrders between 5 and 10.",
            "example": 1
          },
          {
            "$ref": "#/components/parameters/externalKey"
          },
          {
            "$ref": "#/components/parameters/organisationId"
          },
          {
            "$ref": "#/components/parameters/venueId"
          }
        ]
      },
      "post": {
        "responses": {
          "200": {
            "description": "An ItemModifierGroup object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ItemModifierGroupView"
                }
              }
            },
            "headers": {
              "rid_chain": {
                "$ref": "#/components/headers/rid_chain"
              },
              "rid": {
                "$ref": "#/components/headers/rid"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "404": {
            "description": "ItemModifierGroup not found"
          }
        },
        "tags": [
          "ItemModifierGroups"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ItemModifierGroupInsert"
              }
            }
          }
        },
        "description": "Creates a new ItemModifierGroup<br><br>Assigns modifier groups to an item.<br><br>You will need to have the following data accesses assigned to your user to use this route: mm_insert_itemmodifiergroups<br><br>This route generates events on the topic name: 'mm_venue_${venueId}_itemmodifiergroups\u2019 where venueId is the cloud assigned ID for your venue. \n    <br>You can get a list of venues that you have access to through the /venues route. \n    <br><br>You will need to be assigned the following data access: 'mm_receive_itemmodifiergroups_events' to receive events on this route.",
        "parameters": [
          {
            "$ref": "#/components/parameters/rid_chain"
          }
        ]
      }
    },
    "/ItemModifierGroups/byExternalKey/{id}": {
      "get": {
        "responses": {
          "200": {
            "description": "An ItemModifierGroup object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/getItemModifierGroupView"
                }
              }
            },
            "headers": {
              "rid_chain": {
                "$ref": "#/components/headers/rid_chain"
              },
              "rid": {
                "$ref": "#/components/headers/rid"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "404": {
            "description": "ItemModifierGroup not found"
          }
        },
        "tags": [
          "ItemModifierGroups"
        ],
        "description": "Gets a ItemModifierGroup object<br><br>Assigns modifier groups to an item.<br><br>You will need to have the following data accesses assigned to your user to use this route: mm_get_itemmodifiergroups",
        "parameters": [
          {
            "$ref": "#/components/parameters/rid_chain"
          },
          {
            "$ref": "#/components/parameters/externalKeyId"
          },
          {
            "name": "view",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "FKExternalKeys"
              ]
            },
            "description": "\nThe view is the list of fields you want returned.\n\n### View Templates\nFKExternalKeys\n\n - **ItemIdFKObject:** itemId, externalKeys\n - **ModifierGroupIdFKObject:** modifierGroupId, externalKeys\n\n\n            "
          }
        ]
      },
      "put": {
        "responses": {
          "200": {
            "description": "An array of ItemModifierGroup objects.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ItemModifierGroupView"
                  }
                }
              }
            },
            "headers": {
              "rid_chain": {
                "$ref": "#/components/headers/rid_chain"
              },
              "rid": {
                "$ref": "#/components/headers/rid"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "404": {
            "description": "ItemModifierGroup not found"
          }
        },
        "tags": [
          "ItemModifierGroups"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ItemModifierGroupUpdate"
              }
            }
          }
        },
        "description": "Update a ItemModifierGroup object<br><br>Assigns modifier groups to an item.<br><br>You will need to have the following data accesses assigned to your user to use this route: mm_update_itemmodifiergroups<br><br>This route generates events on the topic name: 'mm_venue_${venueId}_itemmodifiergroups\u2019 where venueId is the cloud assigned ID for your venue. \n    <br>You can get a list of venues that you have access to through the /venues route. \n    <br><br>You will need to be assigned the following data access: 'mm_receive_itemmodifiergroups_events' to receive events on this route.",
        "parameters": [
          {
            "$ref": "#/components/parameters/rid_chain"
          },
          {
            "$ref": "#/components/parameters/externalKeyId"
          }
        ]
      },
      "delete": {
        "responses": {
          "204": {
            "description": "A 204 response means that no data was found meeting your search criteria."
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "404": {
            "description": "ItemModifierGroup not found"
          }
        },
        "tags": [
          "ItemModifierGroups"
        ],
[...]
