{
  "openapi": "3.0.3",
  "info": {
    "title": "Kobayashi Member API",
    "description": "- **\u88fd\u4f5c\u65e5\u671f**: 2026.02\n- **\u7dad\u8b77\u4eba\u54e1**: \u95dc\u9375\u6578\u4f4d\u79d1\u6280\u80a1\u4efd\u6709\u9650\u516c\u53f8\n- **\u8aaa\u660e**: \u5c0f\u6797\u773c\u93e1\u6703\u54e1\u7cfb\u7d71 API\n",
    "version": "1.0.4",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/critical-914/kobayashi-member-api/1.0.4"
  },
  "servers": [
    {
      "url": "http://kobayashi.critical.tw",
      "description": "Development Server"
    },
    {
      "url": "https://kobayashi.production.critical.tw",
      "description": "Production Server"
    }
  ],
  "paths": {
    "/app/member/getMember": {
      "post": {
        "operationId": "getMember_post",
        "summary": "\u53d6\u5f97\u6703\u54e1\u8cc7\u6599\uff08\u900f\u904e auth \u9a57\u8b49\u78bc\uff09",
        "description": "\u524d\u7aef\u50b3\u5165\u52a0\u5bc6\u7684 auth \u9a57\u8b49\u78bc\uff0c\u5f8c\u7aef\u89e3\u5bc6\u5f8c\u53d6\u5f97 mid\uff0c\u518d\u67e5\u8a62 Web Service \u53d6\u5f97\u6703\u54e1\u8a73\u7d30\u8cc7\u6599\u3002\n\u5305\u542b IP \u767d\u540d\u55ae\u6aa2\u67e5\u8207 token \u9a57\u8b49\u3002\n",
        "tags": [
          "Member"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "auth",
                  "token"
                ],
                "properties": {
                  "auth": {
                    "type": "string",
                    "description": "\u52a0\u5bc6\u9a57\u8b49\u78bc\uff08RSA + base64\uff09\uff0c\u7531\u767b\u5165/\u8a3b\u518a\u6642\u7522\u751f"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "\u6210\u529f\u56de\u50b3\u6703\u54e1\u8cc7\u6599",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessBase"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "member": {
                          "$ref": "#/components/schemas/MemberDetail"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "ERR_CODE": 1,
                  "member": {
                    "uid": "A300000145340",
                    "name": "critical",
                    "phone": "0900123123",
                    "email": "user@example.com",
                    "point": "0",
                    "point_v": "300",
                    "birth": "2000/01/01",
                    "city": "\u53f0\u5317\u5e02",
                    "cityid": "1",
                    "district": "\u5927\u5b89\u5340",
                    "address": "\u4ec1\u611b\u8def\u56db\u6bb5100\u865f",
                    "acc": "critical",
                    "info": "VIP",
                    "ser_store": "001"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/TokenError"
          },
          "401": {
            "$ref": "#/components/responses/NotLogin"
          }
        }
      }
    },
    "/app/member/verifyAcc": {
      "post": {
        "operationId": "verifyAcc_post",
        "summary": "\u6aa2\u67e5\u5e33\u865f\u662f\u5426\u5df2\u88ab\u8a3b\u518a",
        "description": "\u6aa2\u67e5\u5e33\u865f\u662f\u5426\u5df2\u5b58\u5728\u3002\n\u5305\u542b IP \u767d\u540d\u55ae\u6aa2\u67e5\u8207 token \u9a57\u8b49\u3002\n",
        "tags": [
          "Registration"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "acc",
                  "token"
                ],
                "properties": {
                  "acc": {
                    "type": "string",
                    "description": "\u5e33\u865f",
                    "example": "critical"
                  },
                  "token": {
                    "type": "string",
                    "description": "\u9a57\u8b49 token\uff08RSA \u52a0\u5bc6\uff09\u3002\u7d44\u6210\u65b9\u5f0f\uff1a\u6240\u6709\u53c3\u6578\u4e32\u63a5 + '|' + md5(\u6240\u6709\u53c3\u6578 + siteKey + timestamp) + '|' + timestamp\n"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "\u5e33\u865f\u53ef\u4f7f\u7528",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessMessage"
                },
                "example": {
                  "ERR_CODE": 1,
                  "ERR_MSG": "\u5e33\u865f\u9a57\u8b49\u6210\u529f"
                }
              }
            }
          },
          "400": {
            "description": "\u5e33\u865f\u5df2\u88ab\u8a3b\u518a",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "ERR_CODE": 1505,
                  "ERR_MSG": "\u5df2\u7d93\u6709\u4eba\u8a3b\u518a\u9019\u500b\u5e33\u865f\u4e86\u3002\u8981\u8a66\u8a66\u5176\u4ed6\u7684\u55ce?"
                }
              }
            }
          }
        }
      }
    },
    "/app/member/verify": {
      "post": {
        "operationId": "verify_post",
        "summary": "\u6703\u54e1\u8a3b\u518a\u524d\u9a57\u8b49\uff08\u5e33\u865f\u662f\u5426\u53ef\u7528\uff09",
        "description": "\u9a57\u8b49\u5e33\u865f\u662f\u5426\u5df2\u88ab\u8a3b\u518a\uff0c\u4e26\u547c\u53eb Web Service \u9032\u884c\u8eab\u4efd\u9810\u9a57\u8b49\u3002\n\u5305\u542b IP \u767d\u540d\u55ae\u6aa2\u67e5\u8207 token \u9a57\u8b49\u3002\n",
        "tags": [
          "Registration"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "phone",
                  "acc",
                  "name",
                  "token"
                ],
                "properties": {
                  "phone": {
                    "type": "string",
                    "description": "\u624b\u6a5f\u865f\u78bc",
                    "example": "0900123123"
                  },
                  "acc": {
                    "type": "string",
                    "description": "\u5e33\u865f",
                    "example": "critical"
                  },
                  "name": {
                    "type": "string",
                    "description": "\u59d3\u540d",
                    "example": "critical"
                  },
                  "birth": {
                    "type": "string",
                    "description": "\u751f\u65e5\uff08\u683c\u5f0f\uff1aYYYY/MM/DD\uff09",
                    "example": "2000/01/01"
                  },
                  "email": {
                    "type": "string",
                    "format": "email",
                    "description": "\u96fb\u5b50\u4fe1\u7bb1",
                    "example": "user@example.com"
                  },
                  "SER_STORE": {
                    "type": "string",
                    "description": "\u670d\u52d9\u9580\u5e02\u4ee3\u78bc",
                    "example": "001"
                  },
                  "address": {
                    "type": "string",
                    "description": "\u5730\u5740",
                    "example": "\u4ec1\u611b\u8def\u56db\u6bb5100\u865f"
                  },
                  "token": {
                    "type": "string",
                    "description": "\u9a57\u8b49 token\uff08RSA \u52a0\u5bc6\uff09\u3002\u7d44\u6210\u65b9\u5f0f\uff1a\u6240\u6709\u53c3\u6578\u4e32\u63a5 + '|' + md5(\u6240\u6709\u53c3\u6578 + siteKey + timestamp) + '|' + timestamp\n"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "\u9a57\u8b49\u901a\u904e",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessMessage"
                },
                "example": {
                  "ERR_CODE": 1,
                  "ERR_MSG": "\u524d\u5f80\u9a57\u8b49"
                }
              }
            }
          },
          "400": {
            "description": "\u5e33\u865f\u5df2\u88ab\u8a3b\u518a / \u9a57\u8b49\u5931\u6557",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "register_repeat": {
                    "summary": "\u5e33\u865f\u5df2\u88ab\u8a3b\u518a",
                    "value": {
                      "ERR_CODE": 1301,
                      "ERR_MSG": "\u5df2\u7d93\u6709\u4eba\u8a3b\u518a\u9019\u500b\u5e33\u865f\u4e86\u3002\u8981\u8a66\u8a66\u5176\u4ed6\u7684\u55ce?"
                    }
                  },
                  "verify_error": {
                    "summary": "\u9a57\u8b49\u5931\u6557",
                    "value": {
                      "ERR_CODE": 1303,
                      "ERR_MSG": "\u9a57\u8b49\u5931\u6557"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/app/member/register": {
      "post": {
        "operationId": "register_post",
        "summary": "\u6703\u54e1\u8a3b\u518a",
        "description": "\u65b0\u6703\u54e1\u8a3b\u518a\uff0c\u5305\u542b\u5e33\u865f\u5bc6\u78bc\u3001\u500b\u4eba\u8cc7\u6599\u53ca\u7b2c\u4e09\u65b9\u5e33\u865f\u7d81\u5b9a\uff08LINE / Google / FB\uff09\u3002\n\u5305\u542b IP \u767d\u540d\u55ae\u6aa2\u67e5\u8207 token \u9a57\u8b49\u3002\n",
        "tags": [
          "Registration"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "acc",
                  "pwd",
                  "name",
                  "email",
                  "token"
                ],
                "properties": {
                  "acc": {
                    "type": "string",
                    "description": "\u5e33\u865f",
                    "example": "critical"
                  },
                  "pwd": {
                    "type": "string",
                    "format": "password",
                    "description": "\u5bc6\u78bc\uff08\u660e\u78bc\u50b3\u5165\uff0c\u5f8c\u7aef md5 + siteKey \u52a0\u5bc6\uff09"
                  },
                  "name": {
                    "type": "string",
                    "description": "\u59d3\u540d",
                    "example": "critical"
                  },
                  "phone": {
                    "type": "string",
                    "description": "\u624b\u6a5f\u865f\u78bc",
                    "example": "0900123123"
                  },
                  "email": {
                    "type": "string",
                    "format": "email",
                    "description": "\u96fb\u5b50\u4fe1\u7bb1",
                    "example": "user@example.com"
                  },
                  "birth": {
                    "type": "string",
                    "description": "\u751f\u65e5\uff08\u683c\u5f0f\uff1aYYYY/MM/DD\uff09",
                    "example": "2000/01/01"
                  },
                  "code": {
                    "type": "string",
                    "description": "\u9a57\u8b49\u78bc",
                    "example": "A1B2C3"
                  },
                  "line_id": {
                    "type": "string",
                    "description": "LINE \u7528\u6236 ID"
                  },
                  "SER_STORE": {
                    "type": "string",
                    "description": "\u670d\u52d9\u9580\u5e02\u4ee3\u78bc",
                    "example": "001"
                  },
                  "token": {
                    "type": "string",
                    "description": "\u9a57\u8b49 token\uff08RSA \u52a0\u5bc6\uff09\u3002\u7d44\u6210\u65b9\u5f0f\uff1a\u6240\u6709\u53c3\u6578\u4e32\u63a5 + '|' + md5(\u6240\u6709\u53c3\u6578 + siteKey + timestamp) + '|' + timestamp\n"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "\u8a3b\u518a\u6210\u529f\uff0c\u56de\u50b3 auth \u8207\u6703\u54e1\u8cc7\u6599",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessMessage"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "auth": {
                          "type": "string",
                          "description": "\u52a0\u5bc6\u7684\u767b\u5165\u9a57\u8b49\u78bc\uff08URL encoded\uff09"
                        },
                        "member": {
                          "$ref": "#/components/schemas/MemberBasic"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "ERR_CODE": 1,
                  "ERR_MSG": "\u8a3b\u518a\u6210\u529f",
                  "auth": "eFh2M3RhZUc...",
                  "member": {
                    "uid": "A300000145340",
                    "name": "critical",
                    "phone": "0900123123",
                    "email": "user@example.com",
                    "point": "0",
                    "info": "",
                    "birth": "2000/01/01",
                    "msg": 2
                  }
                }
              }
            }
          },
          "400": {
            "description": "\u53c3\u6578\u7f3a\u6f0f / \u5e33\u865f\u5df2\u8a3b\u518a / \u8a3b\u518a\u5931\u6557",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "param_empty": {
                    "summary": "\u5fc5\u586b\u6b04\u4f4d\u7f3a\u6f0f",
                    "value": {
                      "ERR_CODE": 1201,
                      "ERR_MSG": "\u8acb\u8f38\u5165\u5e33\u865f"
                    }
                  },
                  "register_repeat": {
                    "summary": "\u5e33\u865f\u5df2\u88ab\u8a3b\u518a",
                    "value": {
                      "ERR_CODE": 1301,
                      "ERR_MSG": "\u5df2\u7d93\u6709\u4eba\u8a3b\u518a\u9019\u500b\u5e33\u865f\u4e86\u3002\u8981\u8a66\u8a66\u5176\u4ed6\u7684\u55ce?"
                    }
                  },
                  "register_failed": {
                    "summary": "\u8a3b\u518a\u5931\u6557",
                    "value": {
                      "ERR_CODE": 1305,
                      "ERR_MSG": "\u6703\u54e1\u8a3b\u518a\u5931\u6557"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/app/member/login": {
      "post": {
        "operationId": "login_post",
        "summary": "\u6703\u54e1\u767b\u5165",
        "description": "\u4ee5\u5e33\u865f\u5bc6\u78bc\u767b\u5165\uff0c\u6210\u529f\u56de\u50b3 auth token \u8207\u6703\u54e1\u8cc7\u6599\u3002\n\u5305\u542b IP \u767d\u540d\u55ae\u6aa2\u67e5\u8207 token \u9a57\u8b49\u3002\n",
        "tags": [
          "Authentication"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "acc",
                  "pwd",
                  "token"
                ],
                "properties": {
                  "acc": {
                    "type": "string",
                    "description": "\u5e33\u865f",
                    "example": "critical"
                  },
                  "pwd": {
                    "type": "string",
                    "format": "password",
                    "description": "\u5bc6\u78bc\uff08\u660e\u78bc\u50b3\u5165\uff09"
                  },
                  "token": {
                    "type": "string",
                    "description": "\u9a57\u8b49 token\uff08RSA \u52a0\u5bc6\uff09\u3002\u7d44\u6210\u65b9\u5f0f\uff1a\u6240\u6709\u53c3\u6578\u4e32\u63a5 + '|' + md5(\u6240\u6709\u53c3\u6578 + siteKey + timestamp) + '|' + timestamp\n\u7bc4\u4f8b\uff1aRSA_Encrypt( acc + pwd + '|' + md5(acc + pwd + siteKey + time()) + '|' + time() )\n"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "\u767b\u5165\u6210\u529f",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessBase"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "auth": {
                          "type": "string",
                          "description": "\u767b\u5165\u9a57\u8b49\u78bc\uff08URL encoded\uff09"
                        },
                        "member": {
                          "$ref": "#/components/schemas/MemberBasic"
                        },
                        "authResult": {
                          "$ref": "#/components/schemas/AuthResult"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "ERR_CODE": 1,
                  "auth": "eFh2M3RhZUc...",
                  "member": {
                    "uid": "A300000145340",
                    "name": "critical",
                    "phone": "0900123123",
                    "email": "user@example.com",
                    "point": "0",
                    "info": "VIP",
                    "birth": "2000/01/01",
                    "msg": 2
                  },
                  "authResult": {
                    "auth": "eFh2M3RhZUc...",
                    "expire": 2592000
                  }
                }
              }
            }
          },
          "401": {
            "description": "\u5e33\u865f\u6216\u5bc6\u78bc\u932f\u8aa4",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "ERR_CODE": 1401,
                  "ERR_MSG": "\u5e33\u865f\u6216\u5bc6\u78bc\u932f\u8aa4!"
                }
              }
            }
          }
        }
      }
    },
    "/app/member/edit": {
      "post": {
        "operationId": "edit_post",
        "summary": "\u4fee\u6539\u6703\u54e1\u8cc7\u6599",
        "description": "\u4fee\u6539\u6703\u54e1\u57fa\u672c\u8cc7\u6599\uff08\u59d3\u540d\u3001\u96fb\u8a71\u3001\u751f\u65e5\u3001\u5730\u5740\u7b49\uff09\u53ca\u5bc6\u78bc\u3002\n\u9700 auth \u9a57\u8b49\u78bc\u9a57\u8b49\u8eab\u4efd\u3002\u542b IP \u767d\u540d\u55ae\u6aa2\u67e5\u8207 token \u9a57\u8b49\u3002\n",
        "tags": [
          "Member"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "auth",
                  "token"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "\u59d3\u540d",
                    "example": "critical"
                  },
                  "phone": {
                    "type": "string",
                    "description": "\u624b\u6a5f\u865f\u78bc",
                    "example": "0900123123"
                  },
                  "email": {
                    "type": "string",
                    "format": "email",
                    "description": "\u96fb\u5b50\u4fe1\u7bb1",
                    "example": "user@example.com"
                  },
                  "birth": {
                    "type": "string",
                    "description": "\u751f\u65e5\uff08\u683c\u5f0f\uff1aYYYY/MM/DD\uff09",
                    "example": "2000/01/01"
                  },
                  "city": {
                    "type": "string",
                    "description": "\u57ce\u5e02",
                    "example": "\u53f0\u5317\u5e02"
                  },
                  "district": {
                    "type": "string",
                    "description": "\u5340\u57df",
                    "example": "\u5927\u5b89\u5340"
                  },
                  "address": {
                    "type": "string",
                    "description": "\u5730\u5740",
                    "example": "\u4ec1\u611b\u8def\u56db\u6bb5100\u865f"
                  },
                  "old_pwd": {
                    "type": "string",
                    "format": "password",
                    "description": "\u820a\u5bc6\u78bc\uff08\u4fee\u6539\u5bc6\u78bc\u6642\u5fc5\u586b\uff09"
                  },
                  "new_pwd": {
                    "type": "string",
                    "format": "password",
                    "description": "\u65b0\u5bc6\u78bc\uff08\u4fee\u6539\u5bc6\u78bc\u6642\u5fc5\u586b\uff09"
                  },
                  "auth": {
                    "type": "string",
                    "description": "\u52a0\u5bc6\u9a57\u8b49\u78bc"
                  },
                  "SER_STORE": {
                    "type": "string",
                    "description": "\u670d\u52d9\u9580\u5e02\u4ee3\u78bc"
                  },
                  "line_id": {
                    "type": "string",
                    "description": "LINE \u7528\u6236 ID"
                  },
                  "token": {
                    "type": "string",
                    "description": "\u9a57\u8b49 token\uff08RSA \u52a0\u5bc6\uff09\u3002\u7d44\u6210\u65b9\u5f0f\uff1a\u6240\u6709\u53c3\u6578\u4e32\u63a5 + '|' + md5(\u6240\u6709\u53c3\u6578 + siteKey + timestamp) + '|' + timestamp\n"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "\u4fee\u6539\u6210\u529f",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessMessage"
                },
                "example": {
                  "ERR_CODE": 1,
                  "ERR_MSG": "\u4fee\u6539\u6210\u529f"
                }
              }
            }
          },
          "400": {
            "description": "\u4fee\u6539\u5931\u6557 / \u9a57\u8b49\u5931\u6557 / \u820a\u5bc6\u78bc\u932f\u8aa4",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "verify_error": {
                    "summary": "\u9a57\u8b49\u5931\u6557",
                    "value": {
                      "ERR_CODE": 1601,
                      "ERR_MSG": "\u9a57\u8b49\u5931\u6557"
                    }
                  },
                  "timeout": {
                    "summary": "\u9a57\u8b49\u78bc\u904e\u671f",
                    "value": {
                      "ERR_CODE": 1602,
                      "ERR_MSG": "\u8d85\u51fa\u53ef\u9a57\u8b49\u6642\u9593"
                    }
                  },
                  "old_pwd_error": {
                    "summary": "\u820a\u5bc6\u78bc\u932f\u8aa4",
                    "value": {
                      "ERR_CODE": 1701,
                      "ERR_MSG": "\u820a\u5bc6\u78bc\u8f38\u5165\u932f\u8aa4\u3002"
                    }
                  },
                  "edit_failed": {
                    "summary": "\u4fee\u6539\u5931\u6557",
                    "value": {
                      "ERR_CODE": 1501,
                      "ERR_MSG": "\u4fee\u6539\u6703\u54e1\u8cc7\u6599\u5931\u6557"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/app/member/forgotAcc": {
      "post": {
        "operationId": "forgotAcc_post",
        "summary": "\u5fd8\u8a18\u5e33\u865f",
        "description": "\u8f38\u5165 email \u5bc4\u9001\u5e33\u865f\u63d0\u9192\u4fe1\u81f3\u4f7f\u7528\u8005\u4fe1\u7bb1\u3002\n\u5305\u542b IP \u767d\u540d\u55ae\u6aa2\u67e5\u8207 token \u9a57\u8b49\u3002\n",
        "tags": [
          "Authentication"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "email",
                  "token"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email",
                    "description": "\u8a3b\u518a\u6642\u7684\u96fb\u5b50\u4fe1\u7bb1",
                    "example": "user@example.com"
                  },
                  "token": {
                    "type": "string",
                    "description": "\u9a57\u8b49 token\uff08RSA \u52a0\u5bc6\uff09\u3002\u7d44\u6210\u65b9\u5f0f\uff1a\u6240\u6709\u53c3\u6578\u4e32\u63a5 + '|' + md5(\u6240\u6709\u53c3\u6578 + siteKey + timestamp) + '|' + timestamp\n"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "\u5e33\u865f\u5df2\u5bc4\u51fa",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessMessage"
                },
                "example": {
                  "ERR_CODE": 1,
                  "ERR_MSG": "\u5e33\u865f\u8cc7\u8a0a\u5df2\u5bc4\u81f3\u60a8\u8a3b\u518a\u7684\u4fe1\u7bb1"
                }
              }
            }
          },
          "400": {
            "description": "\u53c3\u6578\u7f3a\u6f0f / \u67e5\u7121\u6703\u54e1",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "param_empty": {
                    "summary": "\u672a\u8f38\u5165\u8cc7\u6599",
                    "value": {
                      "ERR_CODE": 1201,
                      "ERR_MSG": "\u8acb\u8f38\u5165\u8cc7\u6599"
                    }
                  },
                  "not_found": {
                    "summary": "\u67e5\u7121\u6703\u54e1",
                    "value": {
                      "ERR_CODE": 1501,
                      "ERR_MSG": "\u67e5\u7121\u6703\u54e1\u8cc7\u6599(\u5e33\u865f)"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/app/member/forgotPwd": {
      "post": {
        "operationId": "forgotPwd_post",
        "summary": "\u5fd8\u8a18\u5bc6\u78bc",
        "description": "\u8f38\u5165\u5e33\u865f\uff0c\u5f8c\u7aef\u7522\u751f\u91cd\u8a2d\u5bc6\u78bc\u9023\u7d50\u5bc4\u81f3\u8a3b\u518a email\uff08\u9023\u7d50 30 \u5206\u9418\u5931\u6548\uff09\u3002\n\u5305\u542b IP \u767d\u540d\u55ae\u6aa2\u67e5\u8207 token \u9a57\u8b49\u3002\n",
        "tags": [
          "Authentication"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "acc",
                  "token"
                ],
                "properties": {
                  "acc": {
                    "type": "string",
                    "description": "\u5e33\u865f",
                    "example": "critical"
                  },
                  "token": {
                    "type": "string",
                    "description": "\u9a57\u8b49 token\uff08RSA \u52a0\u5bc6\uff09\u3002\u7d44\u6210\u65b9\u5f0f\uff1a\u6240\u6709\u53c3\u6578\u4e32\u63a5 + '|' + md5(\u6240\u6709\u53c3\u6578 + siteKey + timestamp) + '|' + timestamp\n"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "\u91cd\u8a2d\u5bc6\u78bc\u4fe1\u5df2\u5bc4\u51fa",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessMessage"
                },
                "example": {
                  "ERR_CODE": 1,
                  "ERR_MSG": "\u8b8a\u66f4\u5bc6\u78bc\u4fe1\u4ef6\u5df2\u5bc4\u81f3\u60a8\u8a3b\u518a\u7684\u4fe1\u7bb1"
                }
              }
            }
          },
          "400": {
            "description": "\u53c3\u6578\u7f3a\u6f0f / \u67e5\u7121\u5e33\u865f",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "param_empty": {
                    "summary": "\u672a\u8f38\u5165\u8cc7\u6599",
                    "value": {
                      "ERR_CODE": 1201,
                      "ERR_MSG": "\u8acb\u8f38\u5165\u8cc7\u6599"
                    }
                  },
                  "not_found": {
                    "summary": "\u67e5\u7121\u5e33\u865f",
                    "value": {
                      "ERR_CODE": 1101,
                      "ERR_MSG": "\u67e5\u7121\u8cc7\u6599"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "SuccessBase": {
        "type": "object",
        "properties": {
          "ERR_CODE": {
            "type": "integer",
            "description": "\u932f\u8aa4\u4ee3\u78bc\uff081 = \u6210\u529f\uff09",
            "example": 0
          }
        }
      },
      "SuccessMessage": {
        "type": "object",
        "properties": {
          "ERR_CODE": {
            "type": "integer",
            "description": "\u932f\u8aa4\u4ee3\u78bc\uff081 = \u6210\u529f\uff09",
            "example": 0
          },
          "ERR_MSG": {
            "type": "string",
            "description": "\u8a0a\u606f",
            "example": "\u64cd\u4f5c\u6210\u529f"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "ERR_CODE": {
            "type": "integer",
            "description": "\u932f\u8aa4\u4ee3\u78bc\uff08\u975e 0\uff09",
            "example": 1001
          },
          "ERR_MSG": {
            "type": "string",
            "description": "\u932f\u8aa4\u8a0a\u606f",
            "example": "\u767c\u751f\u932f\u8aa4"
          }
        }
      },
      "MemberBasic": {
        "type": "object",
        "description": "\u6703\u54e1\u57fa\u672c\u8cc7\u6599\uff08\u767b\u5165/\u8a3b\u518a\u6210\u529f\u6642\u56de\u50b3\uff09",
        "properties": {
          "uid": {
            "type": "string",
            "description": "\u6703\u54e1 UID",
            "example": "A300000145340"
          },
          "name": {
            "type": "string",
            "description": "\u59d3\u540d",
            "example": "critical"
          },
          "phone": {
            "type": "string",
            "description": "\u624b\u6a5f\u865f\u78bc",
            "example": "0900123123"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "\u96fb\u5b50\u4fe1\u7bb1",
            "example": "user@example.com"
          },
          "point": {
            "type": "string",
            "description": "\u7d05\u5229\u9ede\u6578",
            "example": "0"
          },
          "info": {
            "type": "string",
            "description": "\u6703\u54e1\u8cc7\u8a0a / \u7b49\u7d1a",
            "example": "VIP"
          },
          "birth": {
            "type": "string",
            "description": "\u751f\u65e5\uff08\u897f\u5143\u683c\u5f0f YYYY/MM/DD\uff09",
            "example": "2000/01/01"
          },
          "msg": {
            "type": "integer",
            "description": "\u6d3b\u52d5\u901a\u77e5\u958b\u95dc\uff081=\u958b, 2=\u95dc\uff09",
            "example": 2
          }
        }
      },
      "MemberDetail": {
        "type": "object",
        "description": "\u6703\u54e1\u5b8c\u6574\u8cc7\u6599\uff08getMember \u6642\u56de\u50b3\uff09",
        "properties": {
          "uid": {
            "type": "string",
            "description": "\u6703\u54e1 UID",
            "example": "A300000145340"
          },
          "name": {
            "type": "string",
            "description": "\u59d3\u540d",
            "example": "critical"
          },
          "phone": {
            "type": "string",
            "description": "\u624b\u6a5f\u865f\u78bc",
            "example": "0900123123"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "\u96fb\u5b50\u4fe1\u7bb1",
            "example": "user@example.com"
          },
          "point": {
            "type": "string",
            "description": "\u7d05\u5229\u9ede\u6578",
            "example": "0"
          },
          "point_v": {
            "type": "string",
            "description": "\u5373\u5c07\u5230\u671f\u7d05\u5229",
            "example": "300"
          },
          "birth": {
            "type": "string",
            "description": "\u751f\u65e5\uff08\u897f\u5143\u683c\u5f0f YYYY/MM/DD\uff09",
            "example": "2000/01/01"
          },
          "city": {
            "type": "string",
            "description": "\u57ce\u5e02",
            "example": "\u53f0\u5317\u5e02"
          },
          "cityid": {
            "type": "string",
            "description": "\u57ce\u5e02 ID",
            "example": "1"
          },
          "district": {
            "type": "string",
            "description": "\u5340\u57df",
            "example": "\u5927\u5b89\u5340"
          },
          "address": {
            "type": "string",
            "description": "\u5730\u5740",
            "example": "\u4ec1\u611b\u8def\u56db\u6bb5100\u865f"
          },
          "acc": {
            "type": "string",
            "description": "\u5e33\u865f",
            "example": "critical"
          },
          "info": {
            "type": "string",
            "description": "\u6703\u54e1\u8cc7\u8a0a / \u7b49\u7d1a",
            "example": "VIP"
          },
          "ser_store": {
            "type": "string",
            "description": "\u670d\u52d9\u9580\u5e02\u4ee3\u78bc",
            "example": "001"
          }
        }
      },
      "AuthResult": {
        "type": "object",
        "description": "\u9a57\u8b49\u7d50\u679c",
        "properties": {
          "auth": {
            "type": "string",
            "description": "\u52a0\u5bc6\u7684\u9a57\u8b49\u78bc",
            "example": "eFh2M3RhZUc..."
          },
          "expire": {
            "type": "integer",
            "description": "\u6709\u6548\u79d2\u6578\uff08\u9810\u8a2d 30 \u5929 = 2592000\uff09",
            "example": 2592000
          }
        }
      }
    },
    "responses": {
      "TokenError": {
        "description": "Token \u9a57\u8b49\u5931\u6557",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "example": {
              "ERR_CODE": 1901,
              "ERR_MSG": "TOKEN\u932f\u8aa4"
            }
          }
        }
      },
      "TokenTimeout": {
        "description": "Token \u5df2\u903e\u6642",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "example": {
              "ERR_CODE": 1902,
              "ERR_MSG": "TOKEN\u903e\u6642"
            }
          }
        }
      },
      "NotLogin": {
        "description": "\u672a\u767b\u5165\u6216\u767b\u5165\u5df2\u904e\u671f",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "example": {
              "ERR_CODE": 1501,
              "ERR_MSG": "\u8acb\u91cd\u65b0\u518d\u767b\u5165\u60a8\u7684\u5e33\u865f\u5bc6\uff01"
            }
          }
        }
      }
    }
  },
  "x-error-codes": {
    "_SUCCESS_": {
      "code": 1,
      "description": "\u64cd\u4f5c\u6210\u529f"
    },
    "_FAILED_": {
      "code": -1,
      "description": "\u64cd\u4f5c\u5931\u6557"
    },
    "_ERROR_": {
      "code": -2,
      "description": "\u7cfb\u7d71\u932f\u8aa4"
    },
    "_NO_DATA_FOUND_": {
      "code": 1500,
      "description": "\u67e5\u7121\u8cc7\u6599"
    },
    "_NOT_LOGIN_": {
      "code": 1501,
      "description": "\u672a\u767b\u5165"
    },
    "_MEM_EDIT_FAILED_": {
      "code": 1502,
      "description": "\u6703\u54e1\u4fee\u6539\u5931\u6557"
    },
    "_PARAMETER_EMPTY_": {
      "code": 1503,
      "description": "\u53c3\u6578\u70ba\u7a7a"
    },
    "_PARAMETER_FORMAT_ERROR_": {
      "code": 1504,
      "description": "\u53c3\u6578\u683c\u5f0f\u932f\u8aa4"
    },
    "_REGISTER_REPEAT_": {
      "code": 1505,
      "description": "\u5e33\u865f\u5df2\u88ab\u8a3b\u518a"
    },
    "_REGISTER_FAILED_": {
      "code": 1506,
      "description": "\u6703\u54e1\u8a3b\u518a\u5931\u6557"
    },
    "_LOGIN_FAILED_": {
      "code": 1507,
      "description": "\u5e33\u865f\u6216\u5bc6\u78bc\u932f\u8aa4"
    },
    "_MEM_OLDPWD_ERROR_": {
      "code": 1508,
      "description": "\u820a\u5bc6\u78bc\u8f38\u5165\u932f\u8aa4"
    },
    "_RESET_PWD_VERIFY_ERROR_": {
      "code": 1509,
      "description": "\u91cd\u8a2d\u5bc6\u78bc\u9a57\u8b49\u5931\u6557"
    },
    "_RESET_PWD_TIMEOUT_": {
      "code": 1510,
      "description": "\u91cd\u8a2d\u5bc6\u78bc\u8d85\u51fa\u9a57\u8b49\u6642\u9593"
    },
    "_RESET_PWD_ERROR_": {
      "code": 1511,
      "description": "\u91cd\u8a2d\u5bc6\u78bc\u5931\u6557"
    },
    "_MEM_NOT_LOGIN_": {
      "code": 1512,
      "description": "\u6703\u54e1\u672a\u767b\u5165"
    },
    "_REGISTER_ERROR_": {
      "code": 1701,
      "description": "Web Service \u8a3b\u518a\u932f\u8aa4"
    },
    "_GET_MEMBER_ERROR_": {
      "code": 1702,
      "description": "\u53d6\u5f97\u6703\u54e1\u8cc7\u6599\u932f\u8aa4"
    },
    "_EDIT_MEMBER_ERROR_": {
      "code": 1704,
      "description": "\u4fee\u6539\u6703\u54e1\u8cc7\u6599\u932f\u8aa4"
    },
    "_REGISTER_VERIFY_ERROR_": {
      "code": 1707,
      "description": "\u8a3b\u518a\u9a57\u8b49\u932f\u8aa4"
    },
    "_VERSION_OUT_OF_DATE_": {
      "code": 1900,
      "description": "APP \u7248\u672c\u904e\u820a"
    },
    "_TOKEN_ERR_": {
      "code": 1901,
      "description": "TOKEN \u932f\u8aa4"
    },
    "_TOKEN_TIMEOUT_": {
      "code": 1902,
      "description": "TOKEN \u903e\u6642"
    }
  }
}