{
  "openapi": "3.0.3",
  "info": {
    "title": "LocationIQ API",
    "version": "1.0.0",
    "description": "LocationIQ provides affordable, scalable location-based APIs including geocoding (forward and reverse), autocomplete, routing/directions, and nearby places. Powered by OpenStreetMap data.",
    "x-jentic-source-url": "https://locationiq.org/docs/",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://us1.locationiq.com/v1"
    }
  ],
  "paths": {
    "/search": {
      "get": {
        "operationId": "forwardGeocode",
        "summary": "Forward geocoding",
        "description": "Convert an address or place name to geographic coordinates.",
        "tags": [
          "Geocoding"
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "Address or place name to search",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "Output format",
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "xml"
              ],
              "default": "json"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of results",
            "schema": {
              "type": "integer",
              "default": 10,
              "maximum": 50
            }
          },
          {
            "name": "accept-language",
            "in": "query",
            "description": "Preferred language for results",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "countrycodes",
            "in": "query",
            "description": "Comma-separated list of country codes to restrict results",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "viewbox",
            "in": "query",
            "description": "Bounding box to restrict results (x1,y1,x2,y2)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "bounded",
            "in": "query",
            "description": "Restrict results to viewbox",
            "schema": {
              "type": "integer",
              "enum": [
                0,
                1
              ]
            }
          },
          {
            "name": "addressdetails",
            "in": "query",
            "description": "Include address breakdown",
            "schema": {
              "type": "integer",
              "enum": [
                0,
                1
              ],
              "default": 0
            }
          },
          {
            "name": "normalizecity",
            "in": "query",
            "description": "Normalize city field in address",
            "schema": {
              "type": "integer",
              "enum": [
                0,
                1
              ],
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Geocoding results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/GeocodingResult"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/reverse": {
      "get": {
        "operationId": "reverseGeocode",
        "summary": "Reverse geocoding",
        "description": "Convert coordinates to an address.",
        "tags": [
          "Geocoding"
        ],
        "parameters": [
          {
            "name": "lat",
            "in": "query",
            "required": true,
            "description": "Latitude",
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "lon",
            "in": "query",
            "required": true,
            "description": "Longitude",
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "format",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "xml"
              ],
              "default": "json"
            }
          },
          {
            "name": "zoom",
            "in": "query",
            "description": "Detail level (0-18)",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 18,
              "default": 18
            }
          },
          {
            "name": "addressdetails",
            "in": "query",
            "schema": {
              "type": "integer",
              "enum": [
                0,
                1
              ],
              "default": 1
            }
          },
          {
            "name": "accept-language",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "normalizecity",
            "in": "query",
            "schema": {
              "type": "integer",
              "enum": [
                0,
                1
              ],
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Reverse geocoding result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeocodingResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/autocomplete": {
      "get": {
        "operationId": "autocomplete",
        "summary": "Autocomplete / search suggestions",
        "description": "Provides real-time search suggestions as the user types an address.",
        "tags": [
          "Search"
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "description": "Partial address or place name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum suggestions",
            "schema": {
              "type": "integer",
              "default": 10,
              "maximum": 20
            }
          },
          {
            "name": "countrycodes",
            "in": "query",
            "description": "Restrict results by country codes",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "accept-language",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "viewbox",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "bounded",
            "in": "query",
            "schema": {
              "type": "integer",
              "enum": [
                0,
                1
              ]
            }
          },
          {
            "name": "normalizecity",
            "in": "query",
            "schema": {
              "type": "integer",
              "enum": [
                0,
                1
              ]
            }
          },
          {
            "name": "tag",
            "in": "query",
            "description": "Filter results by place type tag",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Autocomplete suggestions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/GeocodingResult"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/directions/driving/{coordinates}": {
      "get": {
        "operationId": "getDirections",
        "summary": "Get driving directions",
        "description": "Calculate driving routes between coordinates.",
        "tags": [
          "Routing"
        ],
        "parameters": [
          {
            "name": "coordinates",
            "in": "path",
            "required": true,
            "description": "Semicolon-separated coordinates (lon,lat;lon,lat)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "alternatives",
            "in": "query",
            "description": "Number of alternative routes",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "steps",
            "in": "query",
            "description": "Include turn-by-turn steps",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "geometries",
            "in": "query",
            "description": "Geometry encoding",
            "schema": {
              "type": "string",
              "enum": [
                "polyline",
                "polyline6",
                "geojson"
              ],
              "default": "polyline"
            }
          },
          {
            "name": "overview",
            "in": "query",
            "description": "Overview geometry detail",
            "schema": {
              "type": "string",
              "enum": [
                "simplified",
                "full",
                "false"
              ],
              "default": "simplified"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Directions response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DirectionsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/nearby": {
      "get": {
        "operationId": "getNearbyPlaces",
        "summary": "Find nearby points of interest",
        "description": "Find points of interest near a given coordinate.",
        "tags": [
          "Search"
        ],
        "parameters": [
          {
            "name": "lat",
            "in": "query",
            "required": true,
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "lon",
            "in": "query",
            "required": true,
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "tag",
            "in": "query",
            "description": "POI category (e.g., restaurant, hotel, cafe)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "radius",
            "in": "query",
            "description": "Search radius in meters",
            "schema": {
              "type": "integer",
              "default": 500
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 10,
              "maximum": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Nearby places",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/GeocodingResult"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/balance": {
      "get": {
        "operationId": "getBalance",
        "summary": "Get API usage balance",
        "description": "Check your current API usage and balance.",
        "tags": [
          "Account"
        ],
        "responses": {
          "200": {
            "description": "Balance information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BalanceResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "GeocodingResult": {
        "type": "object",
        "properties": {
          "place_id": {
            "type": "string"
          },
          "licence": {
            "type": "string"
          },
          "osm_type": {
            "type": "string"
          },
          "osm_id": {
            "type": "string"
          },
          "boundingbox": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "lat": {
            "type": "string"
          },
          "lon": {
            "type": "string"
          },
          "display_name": {
            "type": "string"
          },
          "display_place": {
            "type": "string"
          },
          "display_address": {
            "type": "string"
          },
          "class": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "importance": {
            "type": "number"
          },
          "address": {
            "type": "object",
            "properties": {
              "house_number": {
                "type": "string"
              },
              "road": {
                "type": "string"
              },
              "suburb": {
                "type": "string"
              },
              "city": {
                "type": "string"
              },
              "county": {
                "type": "string"
              },
              "state": {
                "type": "string"
              },
              "postcode": {
                "type": "string"
              },
              "country": {
                "type": "string"
              },
              "country_code": {
                "type": "string"
              }
            }
          }
        }
      },
      "DirectionsResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          },
          "routes": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "geometry": {
                  "type": "string"
                },
                "duration": {
                  "type": "number",
                  "description": "Duration in seconds"
                },
                "distance": {
                  "type": "number",
                  "description": "Distance in meters"
                },
                "legs": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "duration": {
                        "type": "number"
                      },
                      "distance": {
                        "type": "number"
                      },
                      "summary": {
                        "type": "string"
                      },
                      "steps": {
                        "type": "array",
                        "items": {
                          "type": "object"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "waypoints": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                },
                "location": {
                  "type": "array",
                  "items": {
                    "type": "number"
                  }
                }
              }
            }
          }
        }
      },
      "BalanceResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "balance": {
            "type": "object",
            "properties": {
              "day": {
                "type": "integer"
              },
              "bonus": {
                "type": "integer"
              }
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "apiKeyAuth": {
        "type": "apiKey",
        "in": "query",
        "name": "key",
        "description": "LocationIQ API key"
      }
    }
  },
  "security": [
    {
      "apiKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "Account"
    },
    {
      "name": "Geocoding"
    },
    {
      "name": "Routing"
    },
    {
      "name": "Search"
    }
  ]
}
