{
  "openapi": "3.0.3",
  "info": {
    "title": "Alchemer API",
    "version": "4.0.0",
    "description": "Alchemer (formerly SurveyGizmo) is a survey and feedback platform. The REST API v4 provides endpoints for managing surveys, questions, pages, responses, campaigns, contacts, and other survey-related resources.",
    "x-jentic-source-url": "https://apihelp.alchemer.com",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://api.alchemer.com/v4"
    }
  ],
  "tags": [
    {
      "name": "Survey",
      "description": "Survey CRUD operations"
    },
    {
      "name": "Survey Question",
      "description": "Survey question management"
    },
    {
      "name": "Survey Page",
      "description": "Survey page management"
    },
    {
      "name": "Survey Response",
      "description": "Survey response management"
    },
    {
      "name": "Survey Campaign",
      "description": "Campaign/link management"
    },
    {
      "name": "Contact",
      "description": "Contact list management"
    },
    {
      "name": "Account",
      "description": "Account information"
    }
  ],
  "security": [
    {
      "apiTokenAuth": []
    }
  ],
  "paths": {
    "/survey": {
      "get": {
        "operationId": "listSurveys",
        "summary": "Get list of surveys",
        "description": "Get a paginated list of all surveys.",
        "tags": [
          "Survey"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Page number"
          },
          {
            "name": "resultsperpage",
            "in": "query",
            "schema": {
              "type": "integer",
              "maximum": 500
            },
            "description": "Results per page (max 500)"
          },
          {
            "name": "filter[field][0]",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter field"
          },
          {
            "name": "filter[operator][0]",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter operator"
          },
          {
            "name": "filter[value][0]",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter value"
          }
        ],
        "responses": {
          "200": {
            "description": "List of surveys",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SurveyListResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "put": {
        "operationId": "createSurvey",
        "summary": "Create a survey",
        "description": "Create a new survey, form, poll, or quiz.",
        "tags": [
          "Survey"
        ],
        "parameters": [
          {
            "name": "title",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Survey title"
          },
          {
            "name": "type",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "survey",
                "form",
                "poll",
                "quiz"
              ]
            },
            "description": "Survey type"
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "launched",
                "closed",
                "deleted"
              ]
            }
          },
          {
            "name": "theme",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Theme library ID"
          },
          {
            "name": "team",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Team ID"
          },
          {
            "name": "blockby",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "NONE",
                "IP",
                "COOKIE"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Survey created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SurveyResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/survey/{surveyId}": {
      "get": {
        "operationId": "getSurvey",
        "summary": "Get a survey",
        "description": "Get information about a specific survey.",
        "tags": [
          "Survey"
        ],
        "parameters": [
          {
            "name": "surveyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Survey ID"
          },
          {
            "name": "metaonly",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "Exclude page info if true"
          }
        ],
        "responses": {
          "200": {
            "description": "Survey details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SurveyResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Survey not found"
          }
        }
      },
      "post": {
        "operationId": "updateSurvey",
        "summary": "Update or copy a survey",
        "description": "Update a survey's properties or create a copy.",
        "tags": [
          "Survey"
        ],
        "parameters": [
          {
            "name": "surveyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "title",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "launched",
                "closed",
                "deleted"
              ]
            }
          },
          {
            "name": "copy",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "Set to true to copy the survey"
          }
        ],
        "responses": {
          "200": {
            "description": "Survey updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SurveyResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "delete": {
        "operationId": "deleteSurvey",
        "summary": "Delete a survey",
        "tags": [
          "Survey"
        ],
        "parameters": [
          {
            "name": "surveyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Survey deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Delete a survey"
      }
    },
    "/survey/{surveyId}/surveyquestion": {
      "get": {
        "operationId": "listSurveyQuestions",
        "summary": "Get list of survey questions",
        "tags": [
          "Survey Question"
        ],
        "parameters": [
          {
            "name": "surveyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of questions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QuestionListResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Get list of survey questions"
      }
    },
    "/survey/{surveyId}/surveyquestion/{questionId}": {
      "get": {
        "operationId": "getSurveyQuestion",
        "summary": "Get a survey question",
        "tags": [
          "Survey Question"
        ],
        "parameters": [
          {
            "name": "surveyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "questionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Question details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QuestionResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Get a survey question"
      },
      "post": {
        "operationId": "updateSurveyQuestion",
        "summary": "Update a survey question",
        "tags": [
          "Survey Question"
        ],
        "parameters": [
          {
            "name": "surveyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "questionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "title",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Question text"
          },
          {
            "name": "description",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "properties[required]",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Question updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QuestionResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Update a survey question"
      },
      "delete": {
        "operationId": "deleteSurveyQuestion",
        "summary": "Delete a survey question",
        "tags": [
          "Survey Question"
        ],
        "parameters": [
          {
            "name": "surveyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "questionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Question deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Delete a survey question"
      }
    },
    "/survey/{surveyId}/surveypage/{pageId}/surveyquestion": {
      "put": {
        "operationId": "createSurveyQuestion",
        "summary": "Create a survey question",
        "tags": [
          "Survey Question"
        ],
        "parameters": [
          {
            "name": "surveyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "pageId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Page ID to add question to"
          },
          {
            "name": "type",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "radio",
                "checkbox",
                "menu",
                "text",
                "essay",
                "email",
                "multitext",
                "single-image",
                "multi-image",
                "contsum",
                "rank-dragdrop",
                "table-radio",
                "table-checkbox",
                "table-textbox",
                "table-menu-matrix",
                "table-stars",
                "file",
                "instructions",
                "media",
                "hidden",
                "urlredirect"
              ]
            }
          },
          {
            "name": "title",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Question text"
          },
          {
            "name": "description",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Question created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QuestionResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Create a survey question"
      }
    },
    "/survey/{surveyId}/surveyresponse": {
      "get": {
        "operationId": "listSurveyResponses",
        "summary": "Get list of survey responses",
        "tags": [
          "Survey Response"
        ],
        "parameters": [
          {
            "name": "surveyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "resultsperpage",
            "in": "query",
            "schema": {
              "type": "integer",
              "maximum": 500
            }
          },
          {
            "name": "filter[field][0]",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[operator][0]",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[value][0]",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of responses",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseListResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Get list of survey responses"
      },
      "put": {
        "operationId": "createSurveyResponse",
        "summary": "Create a survey response",
        "tags": [
          "Survey Response"
        ],
        "parameters": [
          {
            "name": "surveyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "Complete",
                "Partial",
                "Disqualified"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SurveyResponseObject"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Create a survey response"
      }
    },
    "/survey/{surveyId}/surveyresponse/{responseId}": {
      "get": {
        "operationId": "getSurveyResponse",
        "summary": "Get a survey response",
        "tags": [
          "Survey Response"
        ],
        "parameters": [
          {
            "name": "surveyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "responseId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SurveyResponseObject"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Get a survey response"
      },
      "post": {
        "operationId": "updateSurveyResponse",
        "summary": "Update a survey response",
        "tags": [
          "Survey Response"
        ],
        "parameters": [
          {
            "name": "surveyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "responseId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "Complete",
                "Partial",
                "Disqualified"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SurveyResponseObject"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Update a survey response"
      },
      "delete": {
        "operationId": "deleteSurveyResponse",
        "summary": "Delete a survey response",
        "tags": [
          "Survey Response"
        ],
        "parameters": [
          {
            "name": "surveyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "responseId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Delete a survey response"
      }
    },
    "/survey/{surveyId}/surveycampaign": {
      "get": {
        "operationId": "listSurveyCampaigns",
        "summary": "Get list of campaigns/links",
        "tags": [
          "Survey Campaign"
        ],
        "parameters": [
          {
            "name": "surveyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "resultsperpage",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of campaigns",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CampaignListResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Get list of campaigns/links"
      },
      "put": {
        "operationId": "createSurveyCampaign",
        "summary": "Create a campaign or link",
        "tags": [
          "Survey Campaign"
        ],
        "parameters": [
          {
            "name": "surveyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "type",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "link",
                "email",
                "html",
                "js",
                "blog",
                "iframe",
                "popup"
              ]
            }
          },
          {
            "name": "name",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "language",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "active",
                "closed",
                "deleted"
              ]
            }
          },
          {
            "name": "subtype",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "standard",
                "private",
                "shortlink"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Campaign created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CampaignResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Create a campaign or link"
      }
    },
    "/survey/{surveyId}/surveycampaign/{campaignId}": {
      "get": {
        "operationId": "getSurveyCampaign",
        "summary": "Get a campaign",
        "tags": [
          "Survey Campaign"
        ],
        "parameters": [
          {
            "name": "surveyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "campaignId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Campaign details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CampaignResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Get a campaign"
      },
      "post": {
        "operationId": "updateSurveyCampaign",
        "summary": "Update or copy a campaign",
        "tags": [
          "Survey Campaign"
        ],
        "parameters": [
          {
            "name": "surveyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "campaignId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "name",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "active",
                "closed",
                "deleted"
              ]
            }
          },
          {
            "name": "copy",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Campaign updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CampaignResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Update or copy a campaign"
      },
      "delete": {
        "operationId": "deleteSurveyCampaign",
        "summary": "Delete a campaign",
        "tags": [
          "Survey Campaign"
        ],
        "parameters": [
          {
            "name": "surveyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "campaignId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Campaign deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Delete a campaign"
      }
    },
    "/survey/{surveyId}/surveycampaign/{campaignId}/contact": {
      "get": {
        "operationId": "listCampaignContacts",
        "summary": "Get list of campaign contacts",
        "tags": [
          "Contact"
        ],
        "parameters": [
          {
            "name": "surveyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "campaignId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "resultsperpage",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of contacts",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactListResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Get list of campaign contacts"
      },
      "put": {
        "operationId": "createCampaignContact",
        "summary": "Create a campaign contact",
        "tags": [
          "Contact"
        ],
        "parameters": [
          {
            "name": "surveyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "campaignId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "semailaddress",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Email address"
          },
          {
            "name": "sfirstname",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slastname",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Contact created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Create a campaign contact"
      }
    },
    "/account": {
      "get": {
        "operationId": "getAccount",
        "summary": "Get account information",
        "tags": [
          "Account"
        ],
        "responses": {
          "200": {
            "description": "Account info",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Get account information"
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiTokenAuth": {
        "type": "apiKey",
        "in": "query",
        "name": "api_token",
        "description": "API token. Also requires api_token_secret as a second query parameter."
      }
    },
    "schemas": {
      "SuccessResponse": {
        "type": "object",
        "properties": {
          "result_ok": {
            "type": "boolean"
          }
        }
      },
      "SurveyListResponse": {
        "type": "object",
        "properties": {
          "result_ok": {
            "type": "boolean"
          },
          "total_count": {
            "type": "integer"
          },
          "page": {
            "type": "integer"
          },
          "total_pages": {
            "type": "integer"
          },
          "results_per_page": {
            "type": "integer"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Survey"
            }
          }
        }
      },
      "SurveyResponse": {
        "type": "object",
        "properties": {
          "result_ok": {
            "type": "boolean"
          },
          "data": {
            "$ref": "#/components/schemas/Survey"
          }
        }
      },
      "Survey": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "_type": {
            "type": "string"
          },
          "_subtype": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "created_on": {
            "type": "string",
            "format": "date-time"
          },
          "modified_on": {
            "type": "string",
            "format": "date-time"
          },
          "statistics": {
            "type": "object"
          }
        }
      },
      "QuestionListResponse": {
        "type": "object",
        "properties": {
          "result_ok": {
            "type": "boolean"
          },
          "total_count": {
            "type": "integer"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Question"
            }
          }
        }
      },
      "QuestionResponse": {
        "type": "object",
        "properties": {
          "result_ok": {
            "type": "boolean"
          },
          "data": {
            "$ref": "#/components/schemas/Question"
          }
        }
      },
      "Question": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "_type": {
            "type": "string"
          },
          "_subtype": {
            "type": "string"
          },
          "title": {
            "type": "object",
            "properties": {
              "English": {
                "type": "string"
              }
            }
          },
          "description": {
            "type": "object"
          },
          "shortname": {
            "type": "string"
          },
          "varname": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "properties": {
            "type": "object"
          },
          "options": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "ResponseListResponse": {
        "type": "object",
        "properties": {
          "result_ok": {
            "type": "boolean"
          },
          "total_count": {
            "type": "integer"
          },
          "page": {
            "type": "integer"
          },
          "total_pages": {
            "type": "integer"
          },
          "results_per_page": {
            "type": "integer"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SurveyResponseData"
            }
          }
        }
      },
      "SurveyResponseObject": {
        "type": "object",
        "properties": {
          "result_ok": {
            "type": "boolean"
          },
          "data": {
            "$ref": "#/components/schemas/SurveyResponseData"
          }
        }
      },
      "SurveyResponseData": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "contact_id": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "is_test_data": {
            "type": "boolean"
          },
          "date_started": {
            "type": "string",
            "format": "date-time"
          },
          "date_submitted": {
            "type": "string",
            "format": "date-time"
          },
          "ip_address": {
            "type": "string"
          },
          "country": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "survey_data": {
            "type": "object",
            "additionalProperties": true
          }
        }
      },
      "CampaignListResponse": {
        "type": "object",
        "properties": {
          "result_ok": {
            "type": "boolean"
          },
          "total_count": {
            "type": "integer"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Campaign"
            }
          }
        }
      },
      "CampaignResponse": {
        "type": "object",
        "properties": {
          "result_ok": {
            "type": "boolean"
          },
          "data": {
            "$ref": "#/components/schemas/Campaign"
          }
        }
      },
      "Campaign": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "_type": {
            "type": "string"
          },
          "_subtype": {
            "type": "string"
          },
          "__subtype": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "uri": {
            "type": "string"
          },
          "SSL": {
            "type": "string"
          },
          "language": {
            "type": "string"
          },
          "datecreated": {
            "type": "string",
            "format": "date-time"
          },
          "datemodified": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ContactListResponse": {
        "type": "object",
        "properties": {
          "result_ok": {
            "type": "boolean"
          },
          "total_count": {
            "type": "integer"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Contact"
            }
          }
        }
      },
      "ContactResponse": {
        "type": "object",
        "properties": {
          "result_ok": {
            "type": "boolean"
          },
          "data": {
            "$ref": "#/components/schemas/Contact"
          }
        }
      },
      "Contact": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "semailaddress": {
            "type": "string"
          },
          "sfirstname": {
            "type": "string"
          },
          "slastname": {
            "type": "string"
          },
          "estatus": {
            "type": "string"
          }
        }
      },
      "AccountResponse": {
        "type": "object",
        "properties": {
          "result_ok": {
            "type": "boolean"
          },
          "data": {
            "type": "object"
          }
        }
      }
    }
  }
}
