{
  "openapi": "3.0.3",
  "info": {
    "title": "RudderStack HTTP API",
    "version": "1.0.0",
    "description": "RudderStack HTTP API for event tracking. Send identify, track, page, screen, group, alias, and batch events server-side.",
    "x-jentic-source-url": "https://www.rudderstack.com/docs/api/http-api/",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://hosted.rudderlabs.com",
      "description": "RudderStack Cloud"
    },
    {
      "url": "https://{dataPlaneUrl}",
      "description": "Self-hosted data plane",
      "variables": {
        "dataPlaneUrl": {
          "default": "localhost:8080"
        }
      }
    }
  ],
  "tags": [
    {
      "name": "Events",
      "description": "Event tracking endpoints"
    },
    {
      "name": "Pixel",
      "description": "Pixel/image tracking"
    },
    {
      "name": "Health",
      "description": "Health checks"
    }
  ],
  "paths": {
    "/v1/identify": {
      "post": {
        "operationId": "identify",
        "summary": "Identify a user",
        "description": "Associates a user with their actions and records traits about them.",
        "tags": [
          "Events"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IdentifyRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Event accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/track": {
      "post": {
        "operationId": "track",
        "summary": "Track an event",
        "description": "Records an action that a user performs along with properties describing the action.",
        "tags": [
          "Events"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TrackRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Event accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/page": {
      "post": {
        "operationId": "page",
        "summary": "Record a page view",
        "description": "Records a website page view with the name of the page and optional properties.",
        "tags": [
          "Events"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PageRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Event accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/screen": {
      "post": {
        "operationId": "screen",
        "summary": "Record a screen view",
        "description": "Records when a user views a screen of your mobile app.",
        "tags": [
          "Events"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ScreenRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Event accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/group": {
      "post": {
        "operationId": "group",
        "summary": "Associate user with a group",
        "description": "Associates a user with a group (company, organization, account, etc.) and records traits about the group.",
        "tags": [
          "Events"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GroupRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Event accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/alias": {
      "post": {
        "operationId": "alias",
        "summary": "Merge two user identities",
        "description": "Merges two user identities, effectively connecting two sets of user data as a single user.",
        "tags": [
          "Events"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AliasRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Event accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/batch": {
      "post": {
        "operationId": "batch",
        "summary": "Send a batch of events",
        "description": "Send multiple events in a single request. Each event in the batch can be an identify, track, page, screen, group, or alias call.",
        "tags": [
          "Events"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Batch accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/import": {
      "post": {
        "operationId": "importEvents",
        "summary": "Import historical events",
        "description": "Import historical events with original timestamps. Similar to batch but intended for backfilling data.",
        "tags": [
          "Events"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Import accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/pixel/v1/track": {
      "get": {
        "operationId": "pixelTrack",
        "summary": "Pixel track event",
        "description": "Track an event via an image pixel. Useful for email tracking.",
        "tags": [
          "Pixel"
        ],
        "parameters": [
          {
            "name": "writeKey",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "event",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "anonymousId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "1x1 transparent pixel",
            "content": {
              "image/gif": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        }
      }
    },
    "/pixel/v1/page": {
      "get": {
        "operationId": "pixelPage",
        "summary": "Pixel page event",
        "description": "Record a page view via an image pixel.",
        "tags": [
          "Pixel"
        ],
        "parameters": [
          {
            "name": "writeKey",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "anonymousId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "1x1 transparent pixel",
            "content": {
              "image/gif": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        }
      }
    },
    "/health": {
      "get": {
        "operationId": "healthCheck",
        "summary": "Health check",
        "description": "Check if the data plane is healthy.",
        "tags": [
          "Health"
        ],
        "responses": {
          "200": {
            "description": "Healthy",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "/version": {
      "get": {
        "operationId": "getVersion",
        "summary": "Get server version",
        "description": "Returns the version of the RudderStack server.",
        "tags": [
          "Health"
        ],
        "responses": {
          "200": {
            "description": "Version info",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "security": []
      }
    }
  },
  "components": {
    "schemas": {
      "IdentifyRequest": {
        "type": "object",
        "properties": {
          "userId": {
            "type": "string",
            "description": "Unique user identifier"
          },
          "anonymousId": {
            "type": "string",
            "description": "Anonymous user identifier"
          },
          "traits": {
            "type": "object",
            "description": "User traits (name, email, etc.)"
          },
          "context": {
            "$ref": "#/components/schemas/Context"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          },
          "integrations": {
            "type": "object",
            "description": "Destination-specific flags"
          }
        }
      },
      "TrackRequest": {
        "type": "object",
        "required": [
          "event"
        ],
        "properties": {
          "userId": {
            "type": "string"
          },
          "anonymousId": {
            "type": "string"
          },
          "event": {
            "type": "string",
            "description": "Name of the event"
          },
          "properties": {
            "type": "object",
            "description": "Event properties"
          },
          "context": {
            "$ref": "#/components/schemas/Context"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          },
          "integrations": {
            "type": "object"
          }
        }
      },
      "PageRequest": {
        "type": "object",
        "properties": {
          "userId": {
            "type": "string"
          },
          "anonymousId": {
            "type": "string"
          },
          "name": {
            "type": "string",
            "description": "Name of the page"
          },
          "properties": {
            "type": "object",
            "properties": {
              "url": {
                "type": "string"
              },
              "path": {
                "type": "string"
              },
              "title": {
                "type": "string"
              },
              "referrer": {
                "type": "string"
              }
            }
          },
          "context": {
            "$ref": "#/components/schemas/Context"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ScreenRequest": {
        "type": "object",
        "properties": {
          "userId": {
            "type": "string"
          },
          "anonymousId": {
            "type": "string"
          },
          "name": {
            "type": "string",
            "description": "Name of the screen"
          },
          "properties": {
            "type": "object"
          },
          "context": {
            "$ref": "#/components/schemas/Context"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "GroupRequest": {
        "type": "object",
        "required": [
          "groupId"
        ],
        "properties": {
          "userId": {
            "type": "string"
          },
          "anonymousId": {
            "type": "string"
          },
          "groupId": {
            "type": "string",
            "description": "Group/company identifier"
          },
          "traits": {
            "type": "object",
            "description": "Group traits"
          },
          "context": {
            "$ref": "#/components/schemas/Context"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "AliasRequest": {
        "type": "object",
        "required": [
          "previousId",
          "userId"
        ],
        "properties": {
          "userId": {
            "type": "string",
            "description": "New user ID"
          },
          "previousId": {
            "type": "string",
            "description": "Previous user ID to merge"
          },
          "context": {
            "$ref": "#/components/schemas/Context"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "BatchRequest": {
        "type": "object",
        "required": [
          "batch"
        ],
        "properties": {
          "batch": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string",
                  "enum": [
                    "identify",
                    "track",
                    "page",
                    "screen",
                    "group",
                    "alias"
                  ]
                }
              }
            },
            "description": "Array of event objects"
          },
          "sentAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Context": {
        "type": "object",
        "properties": {
          "app": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string"
              },
              "version": {
                "type": "string"
              }
            }
          },
          "device": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "type": {
                "type": "string"
              },
              "manufacturer": {
                "type": "string"
              }
            }
          },
          "ip": {
            "type": "string"
          },
          "locale": {
            "type": "string"
          },
          "library": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string"
              },
              "version": {
                "type": "string"
              }
            }
          },
          "os": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string"
              },
              "version": {
                "type": "string"
              }
            }
          },
          "userAgent": {
            "type": "string"
          }
        }
      },
      "SuccessResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "Use write key as username, leave password empty"
      }
    }
  },
  "security": [
    {
      "basicAuth": []
    }
  ]
}
