{
  "openapi": "3.0.3",
  "info": {
    "title": "D2G Backend API Documentation",
    "version": "1.0.0",
    "description": "API documentation organized by websource. Each websource has its own folder with relevant APIs.\n- DailyDoseGoods (d2g_retail): Retail website APIs\n- D8Flight (d8_flight): D8 Flight website APIs\n- PetsBotanicals (pets_botanicals): Pets Botanicals website APIs\n- ThinkBotanicals (think_botanicals): Think Botanicals website APIs\n- Wholesale (d2g_wholesale): Wholesale website APIs",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/SABEERA/d2g-backend-api-documentation/1.0.0"
  },
  "servers": [
    {
      "url": "https://d2g.dailydosegoods.com",
      "description": "Production server"
    }
  ],
  "tags": [
    {
      "name": "DailyDoseGoods-User",
      "description": "User management for DailyDoseGoods retail website"
    },
    {
      "name": "DailyDoseGoods-Product",
      "description": "Product management for DailyDoseGoods retail website"
    },
    {
      "name": "DailyDoseGoods-Cart",
      "description": "Cart management for DailyDoseGoods retail website"
    },
    {
      "name": "DailyDoseGoods-Order",
      "description": "Order management for DailyDoseGoods retail website"
    },
    {
      "name": "DailyDoseGoods-Contact",
      "description": "Contact management for DailyDoseGoods retail website"
    },
    {
      "name": "DailyDoseGoods-Subscribe",
      "description": "Subscription management for DailyDoseGoods retail website"
    },
    {
      "name": "D8Flight-User",
      "description": "User management for D8Flight website"
    },
    {
      "name": "D8Flight-Product",
      "description": "Product management for D8Flight website"
    },
    {
      "name": "D8Flight-Cart",
      "description": "Cart management for D8Flight website"
    },
    {
      "name": "D8Flight-Order",
      "description": "Order management for D8Flight website"
    },
    {
      "name": "D8Flight-Contact",
      "description": "Contact management for D8Flight website"
    },
    {
      "name": "D8Flight-Subscribe",
      "description": "Subscription management for D8Flight website"
    },
    {
      "name": "PetsBotanicals-User",
      "description": "User management for Pets Botanicals website"
    },
    {
      "name": "PetsBotanicals-Product",
      "description": "Product management for Pets Botanicals website"
    },
    {
      "name": "PetsBotanicals-Cart",
      "description": "Cart management for Pets Botanicals website"
    },
    {
      "name": "PetsBotanicals-Order",
      "description": "Order management for Pets Botanicals website"
    },
    {
      "name": "PetsBotanicals-Contact",
      "description": "Contact management for Pets Botanicals website"
    },
    {
      "name": "PetsBotanicals-Subscribe",
      "description": "Subscription management for Pets Botanicals website"
    },
    {
      "name": "ThinkBotanicals-User",
      "description": "User management for Think Botanicals website"
    },
    {
      "name": "ThinkBotanicals-Product",
      "description": "Product management for Think Botanicals website"
    },
    {
      "name": "ThinkBotanicals-Cart",
      "description": "Cart management for Think Botanicals website"
    },
    {
      "name": "ThinkBotanicals-Order",
      "description": "Order management for Think Botanicals website"
    },
    {
      "name": "ThinkBotanicals-Contact",
      "description": "Contact management for Think Botanicals website"
    },
    {
      "name": "ThinkBotanicals-Subscribe",
      "description": "Subscription management for Think Botanicals website"
    },
    {
      "name": "Wholesale-User",
      "description": "User management for Wholesale website"
    },
    {
      "name": "Wholesale-Product",
      "description": "Product management for Wholesale website"
    },
    {
      "name": "Wholesale-Cart",
      "description": "Cart management for Wholesale website"
    },
    {
      "name": "Wholesale-Order",
      "description": "Order management for Wholesale website"
    },
    {
      "name": "Wholesale-Contact",
      "description": "Contact management for Wholesale website"
    },
    {
      "name": "Wholesale-Subscribe",
      "description": "Subscription management for Wholesale website"
    },
    {
      "name": "Common-Upload",
      "description": "File upload APIs"
    },
    {
      "name": "Common-SalesReport",
      "description": "Sales reporting APIs"
    },
    {
      "name": "Common-Shipment",
      "description": "Shipping APIs"
    },
    {
      "name": "Common-Square",
      "description": "Square payment APIs"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "parameters": {
      "SourceParam": {
        "name": "source",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string",
          "enum": [
            "d2g_retail",
            "d8_flight",
            "think_botanicals",
            "pets_botanicals"
          ]
        },
        "description": "Web source identifier"
      },
      "OrderIdParam": {
        "name": "orderId",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "SlugParam": {
        "name": "slug",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "ProductIdParam": {
        "name": "productId",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        }
      }
    }
  },
  "paths": {
    "/api/user/retail-login": {
      "post": {
        "tags": [
          "DailyDoseGoods-User"
        ],
        "summary": "DailyDoseGoods Retail Login",
        "description": "Login for DailyDoseGoods retail customers",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "user_email": {
                    "type": "string",
                    "format": "email",
                    "example": "user@example.com"
                  },
                  "password": {
                    "type": "string",
                    "example": "password123"
                  }
                },
                "required": [
                  "user_email",
                  "password"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Login successful"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Invalid credentials"
          }
        }
      }
    },
    "/api/user/retail-registration": {
      "post": {
        "tags": [
          "DailyDoseGoods-User"
        ],
        "summary": "DailyDoseGoods Retail Registration",
        "description": "Register new DailyDoseGoods retail customer",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "firstName": {
                    "type": "string",
                    "example": "John"
                  },
                  "lastName": {
                    "type": "string",
                    "example": "Doe"
                  },
                  "email": {
                    "type": "string",
                    "format": "email",
                    "example": "john@example.com"
                  },
                  "password": {
                    "type": "string",
                    "example": "password123"
                  },
                  "phone": {
                    "type": "string",
                    "example": "+1234567890"
                  }
                },
                "required": [
                  "firstName",
                  "lastName",
                  "email",
                  "password"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Registration successful"
          },
          "400": {
            "description": "Bad Request - Invalid data"
          },
          "409": {
            "description": "User already exists"
          }
        }
      }
    },
    "/api/user/set-retail-password": {
      "post": {
        "tags": [
          "DailyDoseGoods-User"
        ],
        "summary": "Set DailyDoseGoods Retail Password",
        "description": "Set password for DailyDoseGoods retail user",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "password": {
                    "type": "string",
                    "example": "newpassword123"
                  },
                  "confirmPassword": {
                    "type": "string",
                    "example": "newpassword123"
                  },
                  "token": {
                    "type": "string",
                    "example": "reset-token-here"
                  },
                  "email": {
                    "type": "string",
                    "format": "email",
                    "example": "user@example.com"
                  }
                },
                "required": [
                  "password",
                  "confirmPassword",
                  "token",
                  "email"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Password set successfully"
          },
          "400": {
            "description": "Invalid token or password"
          }
        }
      }
    },
    "/api/retail-products/d2g_retail/retail": {
      "get": {
        "tags": [
          "DailyDoseGoods-Product"
        ],
        "summary": "Get DailyDoseGoods Products",
        "description": "Get all products for DailyDoseGoods retail website",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            },
            "description": "Page number"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 10
            },
            "description": "Number of items per page"
          },
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Search term for products"
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "name",
                "price",
                "date",
                "popularity"
              ]
            },
            "description": "Sort by field"
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "publish",
                "draft"
              ]
            },
            "description": "Product status"
          }
        ],
        "responses": {
          "200": {
            "description": "Products retrieved successfully"
          }
        }
      }
    },
    "/api/retail-products/d2g_retail/one/{slug}": {
      "get": {
        "tags": [
          "DailyDoseGoods-Product"
        ],
        "summary": "Get DailyDoseGoods Product by Slug",
        "description": "Get single product details for DailyDoseGoods",
        "parameters": [
          {
            "$ref": "#/components/parameters/SlugParam"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/retail-products/d2g_retail/new-arrival": {
      "get": {
        "tags": [
          "DailyDoseGoods-Product"
        ],
        "summary": "Get DailyDoseGoods New Arrivals",
        "description": "Get new arrival products for DailyDoseGoods",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/retail-cart/d2g_retail/view": {
      "get": {
        "tags": [
          "DailyDoseGoods-Cart"
        ],
        "summary": "View DailyDoseGoods Cart",
        "description": "View cart for DailyDoseGoods retail website",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/retail-cart/d2g_retail/final-cart": {
      "patch": {
        "tags": [
          "DailyDoseGoods-Cart"
        ],
        "summary": "Finalize DailyDoseGoods Cart",
        "description": "Finalize cart for DailyDoseGoods retail website",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "shippingAddress": {
                    "type": "object",
                    "properties": {
                      "shipping_first_name": {
                        "type": "string"
                      },
                      "shipping_last_name": {
                        "type": "string"
                      },
                      "shipping_address_1": {
                        "type": "string"
                      },
                      "shipping_city": {
                        "type": "string"
                      },
                      "shipping_state": {
                        "type": "string"
                      },
                      "shipping_postcode": {
                        "type": "string"
                      },
                      "shipping_country": {
                        "type": "string"
                      }
                    }
                  },
                  "billingAddress": {
                    "type": "object",
                    "properties": {
                      "billing_first_name": {
                        "type": "string"
                      },
                      "billing_last_name": {
                        "type": "string"
                      },
                      "billing_address_1": {
                        "type": "string"
                      },
                      "billing_city": {
                        "type": "string"
                      },
                      "billing_state": {
                        "type": "string"
                      },
                      "billing_postcode": {
                        "type": "string"
                      },
                      "billing_country": {
                        "type": "string"
                      },
                      "billing_email": {
                        "type": "string",
                        "format": "email"
                      },
                      "billing_phone": {
                        "type": "string"
                      }
                    }
                  },
                  "couponCode": {
                    "type": "string"
                  },
                  "shippingCharges": {
                    "type": "number"
                  }
                },
                "required": [
                  "shippingAddress",
                  "billingAddress"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Finalized the cart"
          }
        }
      }
    },
    "/api/cart/add-item": {
      "post": {
        "tags": [
          "DailyDoseGoods-Cart"
        ],
        "summary": "Add Item to DailyDoseGoods Cart",
        "description": "Add item to cart (shared with wholesale)",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "cartItem": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "productId": {
                          "type": "integer",
                          "example": 10167
                        },
                        "quantity": {
                          "type": "integer",
                          "example": 2
                        },
                        "isMultiVariant": {
                          "type": "boolean",
                          "example": true
                        },
                        "variantId": {
                          "type": "integer",
                          "nullable": true,
                          "example": 10244
                        },
                        "isItemSubscribed": {
                          "type": "boolean",
                          "example": false
                        },
                        "subscribeDays": {
                          "type": "integer",
                          "example": 7
                        },
                        "itemImage": {
                          "type": "string",
                          "example": "https://example.com/img.png"
                        }
                      },
                      "required": [
                        "productId",
                        "quantity"
                      ]
                    },
                    "minItems": 1
                  }
                },
                "required": [
                  "cartItem"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Item added to cart successfully"
          },
          "400": {
            "description": "Invalid product or quantity"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/cart/update-item-qty": {
      "put": {
        "tags": [
          "DailyDoseGoods-Cart"
        ],
        "summary": "Update DailyDoseGoods Cart Item Quantity",
        "description": "Update item quantity in cart (shared with wholesale)",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "cartItem": {
                    "type": "object",
                    "properties": {
                      "cart_item_id": {
                        "type": "integer",
                        "example": 21
                      },
                      "quantity": {
                        "type": "integer",
                        "example": 3
                      }
                    },
                    "required": [
                      "cart_item_id",
                      "quantity"
                    ]
                  }
                },
                "required": [
                  "cartItem"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Cart item quantity updated successfully"
          },
          "400": {
            "description": "Invalid cart item or quantity"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/cart/remove-item/{id}": {
      "delete": {
        "tags": [
          "DailyDoseGoods-Cart"
        ],
        "summary": "Remove Item from DailyDoseGoods Cart",
        "description": "Remove item from cart (shared with wholesale)",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/cart/empty-cart": {
      "delete": {
        "tags": [
          "DailyDoseGoods-Cart"
        ],
        "summary": "Empty DailyDoseGoods Cart",
        "description": "Empty cart (shared with wholesale)",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/cart/update-subscribe": {
      "patch": {
        "tags": [
          "DailyDoseGoods-Cart"
        ],
        "summary": "Update DailyDoseGoods Cart Subscription",
        "description": "Update item subscription in cart (shared with wholesale)",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/order/d2g_retail/create-order": {
      "patch": {
        "tags": [
          "DailyDoseGoods-Order"
        ],
        "summary": "Create DailyDoseGoods Order",
        "description": "Create order for DailyDoseGoods retail website",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "shippingAddress": {
                    "type": "object",
                    "properties": {
                      "firstName": {
                        "type": "string",
                        "example": "John"
                      },
                      "lastName": {
                        "type": "string",
                        "example": "Doe"
                      },
                      "address1": {
                        "type": "string",
                        "example": "123 Main St"
                      },
                      "city": {
                        "type": "string",
                        "example": "New York"
                      },
                      "state": {
                        "type": "string",
                        "example": "NY"
                      },
                      "zipCode": {
                        "type": "string",
                        "example": "10001"
                      },
                      "country": {
                        "type": "string",
                        "example": "US"
                      }
                    }
                  },
                  "billingAddress": {
                    "type": "object",
                    "properties": {
                      "firstName": {
                        "type": "string",
                        "example": "John"
                      },
                      "lastName": {
                        "type": "string",
                        "example": "Doe"
                      },
                      "address1": {
                        "type": "string",
                        "example": "123 Main St"
                      },
                      "city": {
                        "type": "string",
                        "example": "New York"
                      },
                      "state": {
                        "type": "string",
                        "example": "NY"
                      },
                      "zipCode": {
                        "type": "string",
                        "example": "10001"
                      },
                      "country": {
                        "type": "string",
                        "example": "US"
                      }
                    }
                  },
                  "paymentMethod": {
                    "type": "string",
                    "example": "credit_card"
                  },
                  "couponCode": {
                    "type": "string",
                    "example": "SAVE10"
                  }
                },
                "required": [
                  "shippingAddress",
                  "billingAddress",
                  "paymentMethod"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Order created successfully"
          },
          "400": {
            "description": "Invalid order data"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/order/d2g_retail/one-order/{orderId}": {
      "get": {
        "tags": [
          "DailyDoseGoods-Order"
        ],
        "summary": "Get DailyDoseGoods Order",
        "description": "Get order details for DailyDoseGoods",
        "parameters": [
          {
            "$ref": "#/components/parameters/OrderIdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/contact": {
      "post": {
        "tags": [
          "DailyDoseGoods-Contact"
        ],
        "summary": "DailyDoseGoods Contact Form",
        "description": "Submit contact form for DailyDoseGoods",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "example": "John Doe"
                  },
                  "email": {
                    "type": "string",
                    "format": "email",
                    "example": "john@example.com"
                  },
                  "subject": {
                    "type": "string",
                    "example": "Product Inquiry"
                  },
                  "message": {
                    "type": "string",
                    "example": "I have a question about your products"
                  },
                  "phone": {
                    "type": "string",
                    "example": "+1234567890"
                  }
                },
                "required": [
                  "name",
                  "email",
                  "subject",
                  "message"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Contact form submitted successfully"
          },
          "400": {
            "description": "Invalid form data"
          }
        }
      }
    },
    "/api/contact/subscribe": {
      "post": {
        "tags": [
          "DailyDoseGoods-Subscribe"
        ],
        "summary": "DailyDoseGoods Subscribe",
        "description": "Subscribe email for DailyDoseGoods",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email",
                    "example": "user@example.com"
                  }
                },
                "required": [
                  "email"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Subscribed successfully"
          },
          "400": {
            "description": "Invalid email"
          }
        }
      }
    },
    "/api/user/d8flight-login": {
      "post": {
        "tags": [
          "D8Flight-User"
        ],
        "summary": "D8Flight Login",
        "description": "Login for D8Flight customers",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "user_email": {
                    "type": "string",
                    "format": "email",
                    "example": "user@example.com"
                  },
                  "password": {
                    "type": "string",
                    "example": "password123"
                  }
                },
                "required": [
                  "user_email",
                  "password"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Login successful"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Invalid credentials"
          }
        }
      }
    },
    "/api/user/d8flight-register": {
      "post": {
        "tags": [
          "D8Flight-User"
        ],
        "summary": "D8Flight Registration",
        "description": "Register new D8Flight customer",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "firstName": {
                    "type": "string",
                    "example": "John"
                  },
                  "lastName": {
                    "type": "string",
                    "example": "Doe"
                  },
                  "email": {
                    "type": "string",
                    "format": "email",
                    "example": "john@example.com"
                  },
                  "password": {
                    "type": "string",
                    "example": "password123"
                  },
                  "phone": {
                    "type": "string",
                    "example": "+1234567890"
                  }
                },
                "required": [
                  "firstName",
                  "lastName",
                  "email",
                  "password"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Registration successful"
          },
          "400": {
            "description": "Bad Request - Invalid data"
          },
          "409": {
            "description": "User already exists"
          }
        }
      }
    },
    "/api/retail-products/d8_flight/retail": {
      "get": {
        "tags": [
          "D8Flight-Product"
        ],
        "summary": "Get D8Flight Products",
        "description": "Get all products for D8Flight website",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            },
            "description": "Page number"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 10
            },
            "description": "Number of items per page"
          },
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Search term for products"
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "name",
                "price",
                "date",
                "popularity"
              ]
            },
            "description": "Sort by field"
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "publish",
                "draft"
              ]
            },
            "description": "Product status"
          }
        ],
        "responses": {
          "200": {
            "description": "Products retrieved successfully"
          }
        }
      }
    },
    "/api/retail-products/d8_flight/one/{slug}": {
      "get": {
        "tags": [
          "D8Flight-Product"
        ],
        "summary": "Get D8Flight Product by Slug",
        "description": "Get single product details for D8Flight",
        "parameters": [
          {
            "$ref": "#/components/parameters/SlugParam"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/retail-products/d8_flight/new-arrival": {
      "get": {
        "tags": [
          "D8Flight-Product"
        ],
        "summary": "Get D8Flight New Arrivals",
        "description": "Get new arrival products for D8Flight",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/retail-cart/d8_flight/view": {
      "get": {
        "tags": [
          "D8Flight-Cart"
        ],
        "summary": "View D8Flight Cart",
        "description": "View cart for D8Flight website",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/retail-cart/d8_flight/final-cart": {
      "patch": {
        "tags": [
          "D8Flight-Cart"
        ],
        "summary": "Finalize D8Flight Cart",
        "description": "Finalize cart for D8Flight website",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "shippingAddress": {
                    "type": "object"
                  },
                  "billingAddress": {
                    "type": "object"
                  },
                  "couponCode": {
                    "type": "string"
                  },
                  "shippingCharges": {
                    "type": "number"
                  }
                },
                "required": [
                  "shippingAddress",
                  "billingAddress"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Finalized the cart"
          }
        }
      }
    },
    "/api/order/d8_flight/create-order": {
      "patch": {
        "tags": [
          "D8Flight-Order"
        ],
        "summary": "Create D8Flight Order",
        "description": "Create order for D8Flight website",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "comment": {
                    "type": "string",
                    "example": "Leave at door"
                  },
                  "cart": {
                    "type": "object"
                  },
                  "cartItems": {
                    "type": "array",
                    "items": {
                      "type": "object"
                    }
                  },
                  "nonce": {
                    "type": "string",
                    "example": "sq-123"
                  },
                  "email": {
                    "type": "string",
                    "format": "email",
                    "example": "user@example.com"
                  },
                  "sessionId": {
                    "type": "string",
                    "example": "sess-abc"
                  },
                  "shippingCharges": {
                    "type": "number",
                    "example": 7.99
                  },
                  "shippingDetails": {
                    "type": "object"
                  }
                },
                "required": [
                  "cart",
                  "cartItems",
                  "nonce"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Order created successfully"
          }
        }
      }
    },
    "/api/order/d8_flight/one-order/{orderId}": {
      "get": {
        "tags": [
          "D8Flight-Order"
        ],
        "summary": "Get D8Flight Order",
        "description": "Get order details for D8Flight",
        "parameters": [
          {
            "$ref": "#/components/parameters/OrderIdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/user/pet-login": {
      "post": {
        "tags": [
          "PetsBotanicals-User"
        ],
        "summary": "Pets Botanicals Login",
        "description": "Login for Pets Botanicals customers",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "user_email": {
                    "type": "string",
                    "format": "email",
                    "example": "user@example.com"
                  },
                  "password": {
                    "type": "string",
                    "example": "password123"
                  }
                },
                "required": [
                  "user_email",
                  "password"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Login successful"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Invalid credentials"
          }
        }
      }
    },
    "/api/user/pet-register": {
      "post": {
        "tags": [
          "PetsBotanicals-User"
        ],
        "summary": "Pets Botanicals Registration",
        "description": "Register new Pets Botanicals customer",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/retail-products/pets_botanicals/retail": {
      "get": {
        "tags": [
          "PetsBotanicals-Product"
        ],
        "summary": "Get Pets Botanicals Products",
        "description": "Get all products for Pets Botanicals website",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/retail-products/pets_botanicals/one/{slug}": {
      "get": {
        "tags": [
          "PetsBotanicals-Product"
        ],
        "summary": "Get Pets Botanicals Product by Slug",
        "description": "Get single product details for Pets Botanicals",
        "parameters": [
          {
            "$ref": "#/components/parameters/SlugParam"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/retail-products/pets_botanicals/new-arrival": {
      "get": {
        "tags": [
          "PetsBotanicals-Product"
        ],
        "summary": "Get Pets Botanicals New Arrivals",
        "description": "Get new arrival products for Pets Botanicals",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/retail-cart/pets_botanicals/view": {
      "get": {
        "tags": [
          "PetsBotanicals-Cart"
        ],
        "summary": "View Pets Botanicals Cart",
        "description": "View cart for Pets Botanicals website",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/retail-cart/pets_botanicals/final-cart": {
      "patch": {
        "tags": [
          "PetsBotanicals-Cart"
        ],
        "summary": "Finalize Pets Botanicals Cart",
        "description": "Finalize cart for Pets Botanicals website",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "shippingAddress": {
                    "type": "object"
                  },
                  "billingAddress": {
                    "type": "object"
                  },
                  "couponCode": {
                    "type": "string"
                  },
                  "shippingCharges": {
                    "type": "number"
                  }
                },
                "required": [
                  "shippingAddress",
                  "billingAddress"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Finalized the cart"
          }
        }
      }
    },
    "/api/order/pets_botanicals/create-order": {
      "patch": {
        "tags": [
          "PetsBotanicals-Order"
        ],
        "summary": "Create Pets Botanicals Order",
        "description": "Create order for Pets Botanicals website",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "comment": {
                    "type": "string"
                  },
                  "cart": {
                    "type": "object"
                  },
                  "cartItems": {
                    "type": "array",
                    "items": {
                      "type": "object"
                    }
                  },
                  "nonce": {
                    "type": "string"
                  },
                  "email": {
                    "type": "string",
                    "format": "email"
                  },
                  "sessionId": {
                    "type": "string"
                  },
                  "shippingCharges": {
                    "type": "number"
                  },
                  "shippingDetails": {
                    "type": "object"
                  }
                },
                "required": [
                  "cart",
                  "cartItems",
                  "nonce"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Order created successfully"
          }
        }
      }
    },
    "/api/order/pets_botanicals/one-order/{orderId}": {
      "get": {
        "tags": [
          "PetsBotanicals-Order"
        ],
        "summary": "Get Pets Botanicals Order",
        "description": "Get order details for Pets Botanicals",
        "parameters": [
          {
            "$ref": "#/components/parameters/OrderIdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/user/think-login": {
      "post": {
        "tags": [
          "ThinkBotanicals-User"
        ],
        "summary": "Think Botanicals Login",
        "description": "Login for Think Botanicals customers",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "user_email": {
                    "type": "string",
                    "format": "email",
                    "example": "user@example.com"
                  },
                  "password": {
                    "type": "string",
                    "example": "password123"
                  }
                },
                "required": [
                  "user_email",
                  "password"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Login successful"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Invalid credentials"
          }
        }
      }
    },
    "/api/user/think-register": {
      "post": {
        "tags": [
          "ThinkBotanicals-User"
        ],
        "summary": "Think Botanicals Registration",
        "description": "Register new Think Botanicals customer",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/retail-products/think_botanicals/retail": {
      "get": {
        "tags": [
          "ThinkBotanicals-Product"
        ],
        "summary": "Get Think Botanicals Products",
        "description": "Get all products for Think Botanicals website",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/retail-products/think_botanicals/one/{slug}": {
      "get": {
        "tags": [
          "ThinkBotanicals-Product"
        ],
        "summary": "Get Think Botanicals Product by Slug",
        "description": "Get single product details for Think Botanicals",
        "parameters": [
          {
            "$ref": "#/components/parameters/SlugParam"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/retail-products/think_botanicals/new-arrival": {
      "get": {
        "tags": [
          "ThinkBotanicals-Product"
        ],
        "summary": "Get Think Botanicals New Arrivals",
        "description": "Get new arrival products for Think Botanicals",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/retail-cart/think_botanicals/view": {
      "get": {
        "tags": [
          "ThinkBotanicals-Cart"
        ],
        "summary": "View Think Botanicals Cart",
        "description": "View cart for Think Botanicals website",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/retail-cart/think_botanicals/final-cart": {
      "patch": {
        "tags": [
          "ThinkBotanicals-Cart"
        ],
        "summary": "Finalize Think Botanicals Cart",
        "description": "Finalize cart for Think Botanicals website",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "shippingAddress": {
                    "type": "object"
                  },
                  "billingAddress": {
                    "type": "object"
                  },
                  "couponCode": {
                    "type": "string"
                  },
                  "shippingCharges": {
                    "type": "number"
                  }
                },
                "required": [
                  "shippingAddress",
                  "billingAddress"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Finalized the cart"
          }
        }
      }
    },
    "/api/order/think_botanicals/create-order": {
      "patch": {
        "tags": [
          "ThinkBotanicals-Order"
        ],
        "summary": "Create Think Botanicals Order",
        "description": "Create order for Think Botanicals website",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "comment": {
                    "type": "string"
                  },
                  "cart": {
                    "type": "object"
                  },
                  "cartItems": {
                    "type": "array",
                    "items": {
                      "type": "object"
                    }
                  },
                  "nonce": {
                    "type": "string"
                  },
                  "email": {
                    "type": "string",
                    "format": "email"
                  },
                  "sessionId": {
                    "type": "string"
                  },
                  "shippingCharges": {
                    "type": "number"
                  },
                  "shippingDetails": {
                    "type": "object"
                  }
                },
                "required": [
                  "cart",
                  "cartItems",
                  "nonce"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Order created successfully"
          }
        }
      }
    },
    "/api/order/think_botanicals/one-order/{orderId}": {
      "get": {
        "tags": [
          "ThinkBotanicals-Order"
        ],
        "summary": "Get Think Botanicals Order",
        "description": "Get order details for Think Botanicals",
        "parameters": [
          {
            "$ref": "#/components/parameters/OrderIdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/user/wholesale-login": {
      "post": {
        "tags": [
          "Wholesale-User"
        ],
        "summary": "Wholesale Login",
        "description": "Login for Wholesale customers",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "user_email": {
                    "type": "string",
                    "format": "email",
                    "example": "user@example.com"
                  },
                  "password": {
                    "type": "string",
                    "example": "password123"
                  }
                },
                "required": [
                  "user_email",
                  "password"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Login successful"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Invalid credentials"
          }
        }
      }
    },
    "/api/user/register": {
      "post": {
        "tags": [
          "Wholesale-User"
        ],
        "summary": "Wholesale Registration",
        "description": "Register new Wholesale customer",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/user/set-wholesale-password": {
      "post": {
        "tags": [
          "Wholesale-User"
        ],
        "summary": "Set Wholesale Password",
        "description": "Set password for Wholesale user",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "password": {
                    "type": "string",
                    "example": "newpassword123"
                  },
                  "confirmPassword": {
                    "type": "string",
                    "example": "newpassword123"
                  },
                  "token": {
                    "type": "string",
                    "example": "reset-token-here"
                  },
                  "email": {
                    "type": "string",
                    "format": "email",
                    "example": "user@example.com"
                  }
                },
                "required": [
                  "password",
                  "confirmPassword",
                  "token",
                  "email"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Password updated successfully"
          },
          "400": {
            "description": "Invalid token or password"
          }
        }
      }
    },
    "/api/products/all": {
      "get": {
        "tags": [
          "Wholesale-Product"
        ],
        "summary": "Get Wholesale Products",
        "description": "Get all products for Wholesale website",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/products/new-arrival": {
      "get": {
        "tags": [
          "Wholesale-Product"
        ],
        "summary": "Get Wholesale New Arrivals",
        "description": "Get new arrival products for Wholesale",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/cart/view": {
      "get": {
        "tags": [
          "Wholesale-Cart"
        ],
        "summary": "View Wholesale Cart",
        "description": "View cart for Wholesale website",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/cart/final-cart": {
      "patch": {
        "tags": [
          "Wholesale-Cart"
        ],
        "summary": "Finalize Wholesale Cart",
        "description": "Finalize cart for Wholesale website",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "shippingAddress": {
                    "type": "object",
                    "properties": {
                      "shipping_first_name": {
                        "type": "string",
                        "example": "John"
                      },
                      "shipping_last_name": {
                        "type": "string",
                        "example": "Doe"
                      },
                      "shipping_address_1": {
                        "type": "string",
                        "example": "1456 Elm Street"
                      },
                      "shipping_city": {
                        "type": "string",
                        "example": "Dallas"
                      },
                      "shipping_state": {
                        "type": "string",
                        "example": "TX"
                      },
                      "shipping_postcode": {
                        "type": "string",
                        "example": "75201"
                      },
                      "shipping_country": {
                        "type": "string",
                        "example": "US"
                      }
                    },
                    "required": [
                      "shipping_first_name",
                      "shipping_last_name",
                      "shipping_address_1",
                      "shipping_city",
                      "shipping_state",
                      "shipping_postcode"
                    ]
                  },
                  "billingAddress": {
                    "type": "object",
                    "properties": {
                      "billing_first_name": {
                        "type": "string",
                        "example": "John"
                      },
                      "billing_last_name": {
                        "type": "string",
                        "example": "Doe"
                      },
                      "billing_address_1": {
                        "type": "string",
                        "example": "1456 Elm Street"
                      },
                      "billing_city": {
                        "type": "string",
                        "example": "Dallas"
                      },
                      "billing_state": {
                        "type": "string",
                        "example": "TX"
                      },
                      "billing_postcode": {
                        "type": "string",
                        "example": "75201"
                      },
                      "billing_country": {
                        "type": "string",
                        "example": "US"
                      },
                      "billing_email": {
                        "type": "string",
                        "format": "email",
                        "example": "user@example.com"
                      },
                      "billing_phone": {
                        "type": "string",
                        "example": "7409453244"
                      }
                    },
                    "required": [
                      "billing_first_name",
                      "billing_last_name",
                      "billing_address_1",
                      "billing_city",
                      "billing_state",
                      "billing_postcode"
                    ]
                  },
                  "couponCode": {
                    "type": "string",
                    "example": "LVL4906E9E52105F"
                  },
                  "shippingCharges": {
                    "type": "number",
                    "example": 7.99
                  }
                },
                "required": [
                  "shippingAddress",
                  "billingAddress"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Finalized the cart"
          }
        }
      }
    },
    "/api/order/get-order": {
      "get": {
        "tags": [
          "Wholesale-Order"
        ],
        "summary": "Get Wholesale Orders",
        "description": "Get order list for Wholesale",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/order/failed-payments": {
      "get": {
        "tags": [
          "Wholesale-Order"
        ],
        "summary": "Get Wholesale Failed Payments",
        "description": "Get failed payments for Wholesale",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/upload/image": {
      "post": {
        "tags": [
          "Common-Upload"
        ],
        "summary": "Upload Image",
        "description": "Upload image file",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/sales-report/summary": {
      "get": {
        "tags": [
          "Common-SalesReport"
        ],
        "summary": "Sales Report Summary",
        "description": "Get sales report summary",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/sales-report/top-sources": {
      "get": {
        "tags": [
          "Common-SalesReport"
        ],
        "summary": "Top Sources Report",
        "description": "Get top sources report",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/sales-report/category": {
      "get": {
        "tags": [
          "Common-SalesReport"
        ],
        "summary": "Category Sales Report",
        "description": "Get category sales report",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/sales-report/brand": {
      "get": {
        "tags": [
          "Common-SalesReport"
        ],
        "summary": "Brand Sales Report",
        "description": "Get brand sales report",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/sales-report/customer-registrations": {
      "get": {
        "tags": [
          "Common-SalesReport"
        ],
        "summary": "Customer Registrations Report",
        "description": "Get customer registrations report",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/sales-report/customer-orders": {
      "get": {
        "tags": [
          "Common-SalesReport"
        ],
        "summary": "Customer Orders Report",
        "description": "Get customer orders report",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/sales-report/order-analytics": {
      "get": {
        "tags": [
          "Common-SalesReport"
        ],
        "summary": "Order Analytics Report",
        "description": "Get order analytics report",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/sales-report/product-performance": {
      "get": {
        "tags": [
          "Common-SalesReport"
        ],
        "summary": "Product Performance Report",
        "description": "Get product performance report",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/shipment/get-charges": {
      "post": {
        "tags": [
          "Common-Shipment"
        ],
        "summary": "Get Shipping Charges",
        "description": "Get shipping charges",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/shipment/all": {
      "get": {
        "tags": [
          "Common-Shipment"
        ],
        "summary": "Get All Carriers",
        "description": "Get all shipping carriers",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/shipment/label": {
      "get": {
        "tags": [
          "Common-Shipment"
        ],
        "summary": "Generate Shipping Label",
        "description": "Generate shipping label",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/square-config": {
      "get": {
        "tags": [
          "Common-Square"
        ],
        "summary": "Get Square Configuration",
        "description": "Get Square payment configuration",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/square/plans": {
      "get": {
        "tags": [
          "Common-Square"
        ],
        "summary": "Get Square Plans",
        "description": "Get Square subscription plans",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/square/create-plan": {
      "post": {
        "tags": [
          "Common-Square"
        ],
        "summary": "Create Square Plan",
        "description": "Create Square subscription plan",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/square/subscriptions": {
      "get": {
        "tags": [
          "Common-Square"
        ],
        "summary": "Get Square Subscriptions",
        "description": "Get Square subscriptions",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/square/create-subscription": {
      "post": {
        "tags": [
          "Common-Square"
        ],
        "summary": "Create Square Subscription",
        "description": "Create Square subscription",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/square/webhook": {
      "post": {
        "tags": [
          "Common-Square"
        ],
        "summary": "Square Webhook",
        "description": "Handle Square webhook events",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/square/details": {
      "get": {
        "tags": [
          "Common-Square"
        ],
        "summary": "Get Square Order Details",
        "description": "Get Square order details",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/contact/wholesale-contact": {
      "post": {
        "tags": [
          "Wholesale-Contact"
        ],
        "summary": "Wholesale Contact Form",
        "description": "Submit contact form for Wholesale",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "email": {
                    "type": "string",
                    "format": "email"
                  },
                  "subject": {
                    "type": "string"
                  },
                  "message": {
                    "type": "string"
                  },
                  "phone": {
                    "type": "string"
                  }
                },
                "required": [
                  "name",
                  "email",
                  "subject",
                  "message"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Contact form submitted"
          }
        }
      }
    },
    "/api/contact/wholesale-subscribe": {
      "post": {
        "tags": [
          "Wholesale-Subscribe"
        ],
        "summary": "Wholesale Subscribe",
        "description": "Subscribe email for Wholesale",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email"
                  }
                },
                "required": [
                  "email"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Subscribed successfully"
          }
        }
      }
    },
    "/api/contact/d8flight-send-message": {
      "post": {
        "tags": [
          "D8Flight-Contact"
        ],
        "summary": "D8Flight Contact Form",
        "description": "Submit contact form for D8Flight",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "email": {
                    "type": "string",
                    "format": "email"
                  },
                  "subject": {
                    "type": "string"
                  },
                  "message": {
                    "type": "string"
                  },
                  "phone": {
                    "type": "string"
                  }
                },
                "required": [
                  "name",
                  "email",
                  "subject",
                  "message"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Contact form submitted"
          }
        }
      }
    },
    "/api/contact/d8flight-subscribe": {
      "post": {
        "tags": [
          "D8Flight-Subscribe"
        ],
        "summary": "D8Flight Subscribe",
        "description": "Subscribe email for D8Flight",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email"
                  }
                },
                "required": [
                  "email"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Subscribed successfully"
          }
        }
      }
    },
    "/api/contact/think-send-message": {
      "post": {
        "tags": [
          "ThinkBotanicals-Contact"
        ],
        "summary": "Think Botanicals Contact Form",
        "description": "Submit contact form for Think Botanicals",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "email": {
                    "type": "string",
                    "format": "email"
                  },
                  "subject": {
                    "type": "string"
                  },
                  "message": {
                    "type": "string"
                  },
                  "phone": {
                    "type": "string"
                  }
                },
                "required": [
                  "name",
                  "email",
                  "subject",
                  "message"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Contact form submitted"
          }
        }
      }
    },
    "/api/contact/think-subscribe": {
      "post": {
        "tags": [
          "ThinkBotanicals-Subscribe"
        ],
        "summary": "Think Botanicals Subscribe",
        "description": "Subscribe email for Think Botanicals",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email"
                  }
                },
                "required": [
                  "email"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Subscribed successfully"
          }
        }
      }
    },
    "/api/contact/pet-send-message": {
      "post": {
        "tags": [
          "PetsBotanicals-Contact"
        ],
        "summary": "Pets Botanicals Contact Form",
        "description": "Submit contact form for Pets Botanicals",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "email": {
                    "type": "string",
                    "format": "email"
                  },
                  "subject": {
                    "type": "string"
                  },
                  "message": {
                    "type": "string"
                  },
                  "phone": {
                    "type": "string"
                  }
                },
                "required": [
                  "name",
                  "email",
                  "subject",
                  "message"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Contact form submitted"
          }
        }
      }
    },
    "/api/contact/pet-subscribe": {
      "post": {
        "tags": [
          "PetsBotanicals-Subscribe"
        ],
        "summary": "Pets Botanicals Subscribe",
        "description": "Subscribe email for Pets Botanicals",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email"
                  }
                },
                "required": [
                  "email"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Subscribed successfully"
          }
        }
      }
    }
  }
}