{
  "openapi": "3.0.3",
  "info": {
    "title": "NCBI E-utilities (PubMed) API",
    "description": "The Entrez Programming Utilities (E-utilities) are a set of nine server-side programs that provide a stable interface into the Entrez query and database system at the National Center for Biotechnology Information (NCBI). The E-utilities use a fixed URL syntax that translates a standard set of input parameters into the values necessary for various NCBI software components to search for and retrieve the requested data. They form the backbone of PubMed programmatic access for biomedical literature search and retrieval.",
    "version": "2.0",
    "contact": {
      "name": "NCBI Help Desk",
      "url": "https://www.ncbi.nlm.nih.gov/home/about/contact/",
      "email": "info@ncbi.nlm.nih.gov"
    },
    "license": {
      "name": "Public Domain",
      "url": "https://www.ncbi.nlm.nih.gov/home/about/policies/"
    },
    "x-documentation-url": "https://www.ncbi.nlm.nih.gov/books/NBK25501/"
  },
  "externalDocs": {
    "description": "NCBI E-utilities Documentation",
    "url": "https://www.ncbi.nlm.nih.gov/books/NBK25500/"
  },
  "servers": [
    {
      "url": "https://eutils.ncbi.nlm.nih.gov/entrez/eutils",
      "description": "NCBI E-utilities production server"
    }
  ],
  "paths": {
    "/einfo.fcgi": {
      "get": {
        "operationId": "einfo",
        "summary": "Database statistics and field information",
        "description": "Provides the number of records indexed in each field of a given database, the date of the last update, and the available links from each database. If no database parameter is supplied, EInfo returns a list of all valid Entrez databases.",
        "tags": [
          "Database Information"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/db_optional"
          },
          {
            "name": "version",
            "in": "query",
            "description": "Set to '2.0' to retrieve version 2.0 XML output.",
            "schema": {
              "type": "string",
              "enum": [
                "2.0"
              ]
            }
          },
          {
            "name": "retmode",
            "in": "query",
            "description": "Retrieval mode. Determines the format of the returned output.",
            "schema": {
              "type": "string",
              "enum": [
                "xml",
                "json"
              ],
              "default": "xml"
            }
          },
          {
            "$ref": "#/components/parameters/api_key"
          },
          {
            "$ref": "#/components/parameters/tool"
          },
          {
            "$ref": "#/components/parameters/email"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with database statistics or list of databases.",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              },
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/esearch.fcgi": {
      "get": {
        "operationId": "esearch",
        "summary": "Text search returning UIDs",
        "description": "Provides a list of UIDs matching a text query in a given database. Results can be stored on the History server for use in subsequent E-utility calls.",
        "tags": [
          "Search"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/db_required"
          },
          {
            "name": "term",
            "in": "query",
            "required": true,
            "description": "Entrez text query. All special characters must be URL-encoded. Spaces may be replaced by '+' signs.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "usehistory",
            "in": "query",
            "description": "When set to 'y', ESearch will post the UIDs resulting from the search operation onto the History server so that they can be used directly in a subsequent E-utility call.",
            "schema": {
              "type": "string",
              "enum": [
                "y"
              ]
            }
          },
          {
            "name": "retmax",
            "in": "query",
            "description": "Total number of UIDs from the retrieved set to be shown in the XML output. Maximum value is 10,000 for JSON and 100,000 for XML.",
            "schema": {
              "type": "integer",
              "default": 20,
              "minimum": 0,
              "maximum": 100000
            }
          },
          {
            "name": "retstart",
            "in": "query",
            "description": "Sequential index of the first UID in the retrieved set to be shown in the XML output.",
            "schema": {
              "type": "integer",
              "default": 0,
              "minimum": 0
            }
          },
          {
            "name": "rettype",
            "in": "query",
            "description": "Retrieval type. Set to 'uilist' for a plain list of UIDs or 'count' to return only the count.",
            "schema": {
              "type": "string",
              "enum": [
                "uilist",
                "count"
              ]
            }
          },
          {
            "name": "retmode",
            "in": "query",
            "description": "Retrieval mode. Determines the format of the returned output.",
            "schema": {
              "type": "string",
              "enum": [
                "xml",
                "json"
              ],
              "default": "xml"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Specifies the method used to sort UIDs in the results set. For PubMed: 'relevance', 'pub_date', 'Author', 'JournalName', etc.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "field",
            "in": "query",
            "description": "If used, the entire search term will be limited to the specified Entrez field.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "datetype",
            "in": "query",
            "description": "Type of date used to limit a search. Allowed values vary by database (e.g., 'mdat' for modification date, 'pdat' for publication date, 'edat' for Entrez date).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "reldate",
            "in": "query",
            "description": "When reldate is set to an integer n, the search returns only those items that have a date specified by datetype within the last n days.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "mindate",
            "in": "query",
            "description": "Minimum date for date range limit. Format: YYYY/MM/DD or YYYY/MM or YYYY.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "maxdate",
            "in": "query",
            "description": "Maximum date for date range limit. Format: YYYY/MM/DD or YYYY/MM or YYYY.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "idtype",
            "in": "query",
            "description": "Specifies the type of identifier to return for sequence databases. Set to 'acc' to return accession.version identifiers.",
            "schema": {
              "type": "string",
              "enum": [
                "acc"
              ]
            }
          },
          {
            "$ref": "#/components/parameters/WebEnv"
          },
          {
            "$ref": "#/components/parameters/query_key"
          },
          {
            "$ref": "#/components/parameters/api_key"
          },
          {
            "$ref": "#/components/parameters/tool"
          },
          {
            "$ref": "#/components/parameters/email"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful search response with list of UIDs.",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              },
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/epost.fcgi": {
      "post": {
        "operationId": "epost",
        "summary": "Upload UIDs to History server",
        "description": "Accepts a list of UIDs from a given database, stores the set on the History Server, and responds with a query_key and WebEnv value for use in subsequent E-utility calls.",
        "tags": [
          "History Server"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/db_required"
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "UID list. Either a single UID or a comma-delimited list of UIDs.",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/WebEnv"
          },
          {
            "$ref": "#/components/parameters/api_key"
          },
          {
            "$ref": "#/components/parameters/tool"
          },
          {
            "$ref": "#/components/parameters/email"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with QueryKey and WebEnv values.",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/esummary.fcgi": {
      "get": {
        "operationId": "esummary",
        "summary": "Download document summaries",
        "description": "Returns document summaries (DocSums) for a list of input UIDs or for a set of UIDs stored on the Entrez History server.",
        "tags": [
          "Retrieval"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/db_required"
          },
          {
            "name": "id",
            "in": "query",
            "description": "UID list. Either a single UID or a comma-delimited list of UIDs.",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/query_key"
          },
          {
            "$ref": "#/components/parameters/WebEnv"
          },
          {
            "name": "retstart",
            "in": "query",
            "description": "Sequential index of the first DocSum to be retrieved.",
            "schema": {
              "type": "integer",
              "default": 0,
              "minimum": 0
            }
          },
          {
            "name": "retmax",
            "in": "query",
            "description": "Total number of DocSums from the input set to be retrieved. Maximum of 10,000.",
            "schema": {
              "type": "integer",
              "default": 20,
              "minimum": 0,
              "maximum": 10000
            }
          },
          {
            "name": "retmode",
            "in": "query",
            "description": "Retrieval mode. Determines the format of the returned output.",
            "schema": {
              "type": "string",
              "enum": [
                "xml",
                "json"
              ],
              "default": "xml"
            }
          },
          {
            "name": "version",
            "in": "query",
            "description": "Set to '2.0' to retrieve version 2.0 ESummary XML.",
            "schema": {
              "type": "string",
              "enum": [
                "2.0"
              ]
            }
          },
          {
            "$ref": "#/components/parameters/api_key"
          },
          {
            "$ref": "#/components/parameters/tool"
          },
          {
            "$ref": "#/components/parameters/email"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with document summaries.",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              },
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/efetch.fcgi": {
      "get": {
        "operationId": "efetch",
        "summary": "Download full records",
        "description": "Returns formatted data records for a list of input UIDs or for a set of UIDs stored on the Entrez History server. Supports multiple output formats depending on the database.",
        "tags": [
          "Retrieval"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/db_required"
          },
          {
            "name": "id",
            "in": "query",
            "description": "UID list. Either a single UID or a comma-delimited list of UIDs.",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/query_key"
          },
          {
            "$ref": "#/components/parameters/WebEnv"
          },
          {
            "name": "rettype",
            "in": "query",
            "description": "Retrieval type. Specifies the record view returned. For PubMed: 'abstract', 'medline', 'uilist', 'docsum'. For sequences: 'fasta', 'gb', 'gp', 'native', etc.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "retmode",
            "in": "query",
            "description": "Retrieval mode. Determines the format of the returned output. Common values: 'xml', 'text', 'asn.1'.",
            "schema": {
              "type": "string",
              "enum": [
                "xml",
                "text",
                "asn.1",
                "json"
              ],
              "default": "xml"
            }
          },
          {
            "name": "retstart",
            "in": "query",
            "description": "Sequential index of the first record to be retrieved.",
            "schema": {
              "type": "integer",
              "default": 0,
              "minimum": 0
            }
          },
          {
            "name": "retmax",
            "in": "query",
            "description": "Total number of records from the input set to be retrieved. Maximum of 10,000.",
            "schema": {
              "type": "integer",
              "default": 20,
              "minimum": 0,
              "maximum": 10000
            }
          },
          {
            "name": "strand",
            "in": "query",
            "description": "Strand of DNA to retrieve (sequence databases only). Values: 1 (plus) or 2 (minus).",
            "schema": {
              "type": "integer",
              "enum": [
                1,
                2
              ]
            }
          },
          {
            "name": "seq_start",
            "in": "query",
            "description": "First sequence base to retrieve (sequence databases only).",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "seq_stop",
            "in": "query",
            "description": "Last sequence base to retrieve (sequence databases only).",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "complexity",
            "in": "query",
            "description": "Data content to return (sequence databases only). 0=entire blob, 1=bioseq, 2=minimal bioseq-set, 3=minimal nuc-prot, 4=minimal pub-set.",
            "schema": {
              "type": "integer",
              "enum": [
                0,
                1,
                2,
                3,
                4
              ]
            }
          },
          {
            "name": "idtype",
            "in": "query",
            "description": "Specifies the type of identifier to return for sequence databases. Set to 'acc' to return accession.version.",
            "schema": {
              "type": "string",
              "enum": [
                "acc"
              ]
            }
          },
          {
            "$ref": "#/components/parameters/api_key"
          },
          {
            "$ref": "#/components/parameters/tool"
          },
          {
            "$ref": "#/components/parameters/email"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with formatted data records.",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/elink.fcgi": {
      "get": {
        "operationId": "elink",
        "summary": "Find related or linked records",
        "description": "Returns UIDs linked to a set of input UIDs in either the same or a different Entrez database. Can also return computed neighbors, LinkOut URLs, and links stored on the History server.",
        "tags": [
          "Linking"
        ],
        "parameters": [
          {
            "name": "dbfrom",
            "in": "query",
            "required": true,
            "description": "Database containing the input UIDs.",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/db_required"
          },
          {
            "name": "id",
            "in": "query",
            "description": "UID list. Either a single UID or a comma-delimited list. May be repeated for 'By Id' mode.",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/query_key"
          },
          {
            "$ref": "#/components/parameters/WebEnv"
          },
          {
            "name": "cmd",
            "in": "query",
            "description": "ELink command mode. Controls the type of links returned.",
            "schema": {
              "type": "string",
              "enum": [
                "neighbor",
                "neighbor_score",
                "neighbor_history",
                "acheck",
                "ncheck",
                "lcheck",
                "llinks",
                "llinkslib",
                "prlinks"
              ],
              "default": "neighbor"
            }
          },
          {
            "name": "linkname",
            "in": "query",
            "description": "Name of the Entrez link to retrieve. Every link in Entrez is given a name of the form dbfrom_db_subset.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "term",
            "in": "query",
            "description": "Entrez query used to limit the output set of linked UIDs.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "holding",
            "in": "query",
            "description": "Name of LinkOut provider. Only URLs for the LinkOut provider specified will be returned.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "datetype",
            "in": "query",
            "description": "Type of date used to limit a link operation.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "reldate",
            "in": "query",
            "description": "Limit link results to items within the last n days.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "mindate",
            "in": "query",
            "description": "Minimum date for date range limit. Format: YYYY/MM/DD.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "maxdate",
            "in": "query",
            "description": "Maximum date for date range limit. Format: YYYY/MM/DD.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "retmode",
            "in": "query",
            "description": "Retrieval mode. Determines the format of the returned output.",
            "schema": {
              "type": "string",
              "enum": [
                "xml",
                "json"
              ],
              "default": "xml"
            }
          },
          {
            "name": "idtype",
            "in": "query",
            "description": "Specifies the type of identifier to return for sequence databases.",
            "schema": {
              "type": "string",
              "enum": [
                "acc"
              ]
            }
          },
          {
            "$ref": "#/components/parameters/api_key"
          },
          {
            "$ref": "#/components/parameters/tool"
          },
          {
            "$ref": "#/components/parameters/email"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with linked UIDs or link information.",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              },
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/egquery.fcgi": {
      "get": {
        "operationId": "egquery",
        "summary": "Global Entrez search across all databases",
        "description": "Provides the number of records retrieved in all Entrez databases by a single text query.",
        "tags": [
          "Search"
        ],
        "parameters": [
          {
            "name": "term",
            "in": "query",
            "required": true,
            "description": "Entrez text query.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "retmode",
            "in": "query",
            "description": "Retrieval mode.",
            "schema": {
              "type": "string",
              "enum": [
                "xml"
              ],
              "default": "xml"
            }
          },
          {
            "$ref": "#/components/parameters/api_key"
          },
          {
            "$ref": "#/components/parameters/tool"
          },
          {
            "$ref": "#/components/parameters/email"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with hit counts per database.",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/espell.fcgi": {
      "get": {
        "operationId": "espell",
        "summary": "Spelling suggestions for search terms",
        "description": "Provides spelling suggestions for a text query in a given database.",
        "tags": [
          "Search"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/db_required"
          },
          {
            "name": "term",
            "in": "query",
            "required": true,
            "description": "Entrez text query.",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/api_key"
          },
          {
            "$ref": "#/components/parameters/tool"
          },
          {
            "$ref": "#/components/parameters/email"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with spelling suggestions.",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/ecitmatch.cgi": {
      "get": {
        "operationId": "ecitmatch",
        "summary": "Batch citation searching in PubMed",
        "description": "Retrieves PubMed IDs (PMIDs) that correspond to a set of input citation strings. Each input citation string must include the journal title, publication year, volume, first page, and author name.",
        "tags": [
          "Search"
        ],
        "parameters": [
          {
            "name": "db",
            "in": "query",
            "required": true,
            "description": "Database to search. Only 'pubmed' is supported.",
            "schema": {
              "type": "string",
              "enum": [
                "pubmed"
              ],
              "default": "pubmed"
            }
          },
          {
            "name": "retmode",
            "in": "query",
            "required": true,
            "description": "Retrieval mode. Only 'xml' is supported.",
            "schema": {
              "type": "string",
              "enum": [
                "xml"
              ],
              "default": "xml"
            }
          },
          {
            "name": "bdata",
            "in": "query",
            "required": true,
            "description": "Citation strings. Each citation string has the format: journal_title|year|volume|first_page|author_name|your_key|. Multiple citation strings should be separated by a carriage return character (%0D).",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/api_key"
          },
          {
            "$ref": "#/components/parameters/tool"
          },
          {
            "$ref": "#/components/parameters/email"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with citation strings appended with corresponding PMIDs.",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "parameters": {
      "db_required": {
        "name": "db",
        "in": "query",
        "required": true,
        "description": "Target Entrez database. Common values include: 'pubmed', 'protein', 'nuccore', 'nucleotide', 'gene', 'genome', 'pmc', 'snp', 'mesh', 'books', etc. Use EInfo without a db parameter to get a full list.",
        "schema": {
          "type": "string"
        }
      },
      "db_optional": {
        "name": "db",
        "in": "query",
        "required": false,
        "description": "Target Entrez database. If not provided, returns a list of all valid Entrez databases.",
        "schema": {
          "type": "string"
        }
      },
      "api_key": {
        "name": "api_key",
        "in": "query",
        "required": false,
        "description": "API key from an NCBI account. Without an API key, requests are limited to 3 per second. With an API key, up to 10 requests per second are allowed.",
        "schema": {
          "type": "string"
        }
      },
      "tool": {
        "name": "tool",
        "in": "query",
        "required": false,
        "description": "Name of application making the E-utility call. Value must be a string with no internal spaces.",
        "schema": {
          "type": "string"
        }
      },
      "email": {
        "name": "email",
        "in": "query",
        "required": false,
        "description": "E-mail address of the E-utility user. Providing a valid email helps NCBI contact you if there are problems.",
        "schema": {
          "type": "string",
          "format": "email"
        }
      },
      "WebEnv": {
        "name": "WebEnv",
        "in": "query",
        "required": false,
        "description": "Web environment string returned from a previous ESearch, EPost, or ELink call. Used to access UIDs stored on the History server.",
        "schema": {
          "type": "string"
        }
      },
      "query_key": {
        "name": "query_key",
        "in": "query",
        "required": false,
        "description": "Integer query key returned by a previous ESearch, EPost, or ELink call. Represents a specific set of UIDs stored on the History server.",
        "schema": {
          "type": "integer"
        }
      }
    },
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "name": "api_key",
        "in": "query",
        "description": "NCBI API key. Register at https://www.ncbi.nlm.nih.gov/account/ to obtain one. Increases rate limit from 3 to 10 requests/second."
      }
    }
  },
  "security": [
    {},
    {
      "apiKey": []
    }
  ],
  "tags": [
    {
      "name": "Database Information"
    },
    {
      "name": "History Server"
    },
    {
      "name": "Linking"
    },
    {
      "name": "Retrieval"
    },
    {
      "name": "Search"
    }
  ]
}
