{
  "openapi": "3.0.3",
  "info": {
    "title": "Better Stack Uptime API",
    "version": "2.0.0",
    "description": "Better Stack Uptime API for managing monitors, heartbeats, incidents, monitor groups, status pages, and on-call calendars. Provides full CRUD operations for uptime monitoring infrastructure.",
    "x-jentic-source-url": "https://betterstack.com/docs/uptime/api/getting-started-with-uptime-api/",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://uptime.betterstack.com/api/v2",
      "description": "Better Stack Uptime API v2"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Monitors",
      "description": "Manage uptime monitors"
    },
    {
      "name": "Monitor Groups",
      "description": "Manage monitor groups"
    },
    {
      "name": "Heartbeats",
      "description": "Manage heartbeat monitors"
    },
    {
      "name": "Incidents",
      "description": "Manage incidents"
    },
    {
      "name": "Status Pages",
      "description": "Manage status pages"
    },
    {
      "name": "On-Call Calendars",
      "description": "Manage on-call calendars"
    }
  ],
  "paths": {
    "/monitors": {
      "get": {
        "operationId": "listMonitors",
        "summary": "List all monitors",
        "description": "Returns a list of all existing monitors. The status attribute can be: paused, pending, maintenance, up, validating, or down.",
        "tags": [
          "Monitors"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Page number"
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Number of items per page (max 50)"
          }
        ],
        "responses": {
          "200": {
            "description": "List of monitors",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Monitor"
                      }
                    },
                    "pagination": {
                      "$ref": "#/components/schemas/Pagination"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "createMonitor",
        "summary": "Create a monitor",
        "description": "Creates a new monitor. If an escalation policy is set (policy_id) then the simple escalation settings (call, sms, email, push) are ignored.",
        "tags": [
          "Monitors"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateMonitorRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Monitor created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Monitor"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "422": {
            "description": "Unprocessable entity"
          }
        }
      }
    },
    "/monitors/{monitorId}": {
      "get": {
        "operationId": "getMonitor",
        "summary": "Get a monitor",
        "description": "Returns a single monitor by ID.",
        "tags": [
          "Monitors"
        ],
        "parameters": [
          {
            "name": "monitorId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Monitor details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Monitor"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        }
      },
      "patch": {
        "operationId": "updateMonitor",
        "summary": "Update a monitor",
        "description": "Updates an existing monitor.",
        "tags": [
          "Monitors"
        ],
        "parameters": [
          {
            "name": "monitorId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateMonitorRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Monitor updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Monitor"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          },
          "422": {
            "description": "Unprocessable entity"
          }
        }
      },
      "delete": {
        "operationId": "deleteMonitor",
        "summary": "Delete a monitor",
        "description": "Permanently deletes an existing monitor.",
        "tags": [
          "Monitors"
        ],
        "parameters": [
          {
            "name": "monitorId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Monitor deleted"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/monitor-groups": {
      "get": {
        "operationId": "listMonitorGroups",
        "summary": "List all monitor groups",
        "description": "Returns a list of all existing monitor groups.",
        "tags": [
          "Monitor Groups"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of monitor groups",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/MonitorGroup"
                      }
                    },
                    "pagination": {
                      "$ref": "#/components/schemas/Pagination"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "createMonitorGroup",
        "summary": "Create a monitor group",
        "description": "Creates a new monitor group.",
        "tags": [
          "Monitor Groups"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name"
                ],
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "sort_index": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Monitor group created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/MonitorGroup"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "422": {
            "description": "Unprocessable entity"
          }
        }
      }
    },
    "/heartbeats": {
      "get": {
        "operationId": "listHeartbeats",
        "summary": "List all heartbeats",
        "description": "Returns a list of all existing heartbeat monitors.",
        "tags": [
          "Heartbeats"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of heartbeats",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Heartbeat"
                      }
                    },
                    "pagination": {
                      "$ref": "#/components/schemas/Pagination"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "createHeartbeat",
        "summary": "Create a heartbeat",
        "description": "Creates a new heartbeat monitor.",
        "tags": [
          "Heartbeats"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name"
                ],
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "period": {
                    "type": "integer",
                    "description": "Expected period in seconds"
                  },
                  "grace": {
                    "type": "integer",
                    "description": "Grace period in seconds"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Heartbeat created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Heartbeat"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "422": {
            "description": "Unprocessable entity"
          }
        }
      }
    },
    "/incidents": {
      "get": {
        "operationId": "listIncidents",
        "summary": "List all incidents",
        "description": "Returns a list of all existing incidents.",
        "tags": [
          "Incidents"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "from",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Filter incidents from this date"
          },
          {
            "name": "to",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Filter incidents to this date"
          }
        ],
        "responses": {
          "200": {
            "description": "List of incidents",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Incident"
                      }
                    },
                    "pagination": {
                      "$ref": "#/components/schemas/Pagination"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/incidents/{incidentId}": {
      "get": {
        "operationId": "getIncident",
        "summary": "Get an incident",
        "description": "Returns a single incident by ID.",
        "tags": [
          "Incidents"
        ],
        "parameters": [
          {
            "name": "incidentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Incident details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Incident"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/incidents/{incidentId}/acknowledge": {
      "post": {
        "operationId": "acknowledgeIncident",
        "summary": "Acknowledge an incident",
        "description": "Acknowledges an existing incident.",
        "tags": [
          "Incidents"
        ],
        "parameters": [
          {
            "name": "incidentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Incident acknowledged",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Incident"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/incidents/{incidentId}/resolve": {
      "post": {
        "operationId": "resolveIncident",
        "summary": "Resolve an incident",
        "description": "Resolves an existing incident.",
        "tags": [
          "Incidents"
        ],
        "parameters": [
          {
            "name": "incidentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Incident resolved",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Incident"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/status-pages": {
      "get": {
        "operationId": "listStatusPages",
        "summary": "List all status pages",
        "description": "Returns a list of all existing status pages.",
        "tags": [
          "Status Pages"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of status pages",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/StatusPage"
                      }
                    },
                    "pagination": {
                      "$ref": "#/components/schemas/Pagination"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/on-calls": {
      "get": {
        "operationId": "listOnCallCalendars",
        "summary": "List all on-call calendars",
        "description": "Returns a list of all existing on-call calendars.",
        "tags": [
          "On-Call Calendars"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of on-call calendars",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/OnCallCalendar"
                      }
                    },
                    "pagination": {
                      "$ref": "#/components/schemas/Pagination"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "createOnCallCalendar",
        "summary": "Create an on-call calendar",
        "description": "Creates a new on-call calendar.",
        "tags": [
          "On-Call Calendars"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name"
                ],
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "default_calendar_id": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "On-call calendar created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/OnCallCalendar"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "422": {
            "description": "Unprocessable entity"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Use your Better Stack API token as a Bearer token."
      }
    },
    "schemas": {
      "Monitor": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "attributes": {
            "type": "object",
            "properties": {
              "url": {
                "type": "string"
              },
              "pronounceable_name": {
                "type": "string"
              },
              "monitor_type": {
                "type": "string",
                "enum": [
                  "status",
                  "expected_status_code",
                  "keyword",
                  "keyword_absence",
                  "ping",
                  "tcp",
                  "udp",
                  "smtp",
                  "pop",
                  "imap"
                ]
              },
              "monitor_group_id": {
                "type": "string",
                "nullable": true
              },
              "last_checked_at": {
                "type": "string",
                "format": "date-time"
              },
              "status": {
                "type": "string",
                "enum": [
                  "paused",
                  "pending",
                  "maintenance",
                  "up",
                  "validating",
                  "down"
                ]
              },
              "check_frequency": {
                "type": "integer",
                "description": "Check frequency in seconds"
              },
              "call": {
                "type": "boolean"
              },
              "sms": {
                "type": "boolean"
              },
              "email": {
                "type": "boolean"
              },
              "push": {
                "type": "boolean"
              },
              "team_wait": {
                "type": "integer",
                "nullable": true
              },
              "http_method": {
                "type": "string",
                "enum": [
                  "get",
                  "head",
                  "post",
                  "put",
                  "patch"
                ]
              },
              "request_timeout": {
                "type": "integer"
              },
              "recovery_period": {
                "type": "integer"
              },
              "request_headers": {
                "type": "object",
                "additionalProperties": {
                  "type": "string"
                }
              },
              "request_body": {
                "type": "string"
              },
              "paused_at": {
                "type": "string",
                "format": "date-time",
                "nullable": true
              },
              "created_at": {
                "type": "string",
                "format": "date-time"
              },
              "updated_at": {
                "type": "string",
                "format": "date-time"
              },
              "ssl_expiration": {
                "type": "integer",
                "nullable": true
              },
              "domain_expiration": {
                "type": "integer",
                "nullable": true
              },
              "regions": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "policy_id": {
                "type": "string",
                "nullable": true
              },
              "follow_redirects": {
                "type": "boolean"
              },
              "expected_status_codes": {
                "type": "array",
                "items": {
                  "type": "integer"
                }
              },
              "confirmation_period": {
                "type": "integer"
              }
            }
          }
        }
      },
      "CreateMonitorRequest": {
        "type": "object",
        "required": [
          "url"
        ],
        "properties": {
          "url": {
            "type": "string",
            "description": "URL to monitor"
          },
          "pronounceable_name": {
            "type": "string"
          },
          "monitor_type": {
            "type": "string",
            "enum": [
              "status",
              "expected_status_code",
              "keyword",
              "keyword_absence",
              "ping",
              "tcp",
              "udp",
              "smtp",
              "pop",
              "imap"
            ]
          },
          "monitor_group_id": {
            "type": "string"
          },
          "check_frequency": {
            "type": "integer",
            "description": "Check frequency in seconds (30-86400)"
          },
          "call": {
            "type": "boolean"
          },
          "sms": {
            "type": "boolean"
          },
          "email": {
            "type": "boolean"
          },
          "push": {
            "type": "boolean"
          },
          "http_method": {
            "type": "string",
            "enum": [
              "get",
              "head",
              "post",
              "put",
              "patch"
            ]
          },
          "request_timeout": {
            "type": "integer"
          },
          "recovery_period": {
            "type": "integer"
          },
          "request_headers": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "request_body": {
            "type": "string"
          },
          "regions": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "policy_id": {
            "type": "string"
          },
          "follow_redirects": {
            "type": "boolean"
          },
          "expected_status_codes": {
            "type": "array",
            "items": {
              "type": "integer"
            }
          },
          "confirmation_period": {
            "type": "integer"
          }
        }
      },
      "UpdateMonitorRequest": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string"
          },
          "pronounceable_name": {
            "type": "string"
          },
          "monitor_type": {
            "type": "string"
          },
          "check_frequency": {
            "type": "integer"
          },
          "call": {
            "type": "boolean"
          },
          "sms": {
            "type": "boolean"
          },
          "email": {
            "type": "boolean"
          },
          "push": {
            "type": "boolean"
          },
          "paused": {
            "type": "boolean"
          }
        }
      },
      "MonitorGroup": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "attributes": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string"
              },
              "sort_index": {
                "type": "integer"
              },
              "created_at": {
                "type": "string",
                "format": "date-time"
              },
              "updated_at": {
                "type": "string",
                "format": "date-time"
              }
            }
          }
        }
      },
      "Heartbeat": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "attributes": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string"
              },
              "url": {
                "type": "string",
                "description": "Heartbeat URL to ping"
              },
              "period": {
                "type": "integer",
                "description": "Expected period in seconds"
              },
              "grace": {
                "type": "integer",
                "description": "Grace period in seconds"
              },
              "status": {
                "type": "string",
                "enum": [
                  "paused",
                  "pending",
                  "up",
                  "down"
                ]
              },
              "created_at": {
                "type": "string",
                "format": "date-time"
              },
              "updated_at": {
                "type": "string",
                "format": "date-time"
              }
            }
          }
        }
      },
      "Incident": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "attributes": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string"
              },
              "url": {
                "type": "string"
              },
              "cause": {
                "type": "string"
              },
              "started_at": {
                "type": "string",
                "format": "date-time"
              },
              "resolved_at": {
                "type": "string",
                "format": "date-time",
                "nullable": true
              },
              "acknowledged_at": {
                "type": "string",
                "format": "date-time",
                "nullable": true
              },
              "call": {
                "type": "boolean"
              },
              "sms": {
                "type": "boolean"
              },
              "email": {
                "type": "boolean"
              },
              "push": {
                "type": "boolean"
              }
            }
          },
          "relationships": {
            "type": "object",
            "properties": {
              "monitor": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "type": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "StatusPage": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "attributes": {
            "type": "object",
            "properties": {
              "company_name": {
                "type": "string"
              },
              "company_url": {
                "type": "string"
              },
              "subdomain": {
                "type": "string"
              },
              "custom_domain": {
                "type": "string",
                "nullable": true
              },
              "created_at": {
                "type": "string",
                "format": "date-time"
              },
              "updated_at": {
                "type": "string",
                "format": "date-time"
              }
            }
          }
        }
      },
      "OnCallCalendar": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "attributes": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string"
              },
              "created_at": {
                "type": "string",
                "format": "date-time"
              },
              "updated_at": {
                "type": "string",
                "format": "date-time"
              }
            }
          }
        }
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "first": {
            "type": "string"
          },
          "last": {
            "type": "string"
          },
          "prev": {
            "type": "string",
            "nullable": true
          },
          "next": {
            "type": "string",
            "nullable": true
          }
        }
      }
    }
  }
}
