{
  "openapi": "3.0.3",
  "info": {
    "title": "Exchange Auth API",
    "description": "RESTful API for Exchange Authentication and Authorization Server - Complete API Documentation with all endpoints",
    "version": "2.0.0",
    "contact": {
      "name": "API Support"
    },
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/antiersolutionspvtlt/exchange-auth-api/2.0.0"
  },
  "servers": [
    {
      "url": "https://www.coinhub.mn/api/v2",
      "description": "Production server"
    }
  ],
  "tags": [
    {
      "name": "Identity",
      "description": "Authentication and user identity endpoints"
    },
    {
      "name": "Public",
      "description": "Public endpoints"
    },
    {
      "name": "Resource",
      "description": "User resource endpoints (authenticated)"
    },
    {
      "name": "Admin",
      "description": "Admin endpoints (admin authentication required)"
    },
    {
      "name": "Management",
      "description": "Management API endpoints (JWT authentication)"
    }
  ],
  "paths": {
    "/identity/ping": {
      "get": {
        "summary": "Test connectivity",
        "operationId": "identityPing",
        "tags": [
          "Identity"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ping": {
                      "type": "string",
                      "example": "pong"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/identity/time": {
      "get": {
        "summary": "Get server current unix timestamp",
        "operationId": "identityTime",
        "tags": [
          "Identity"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "time": {
                      "type": "integer",
                      "example": 1609459200
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/identity/version": {
      "get": {
        "summary": "Get barong version",
        "operationId": "identityVersion",
        "tags": [
          "Identity"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "git_tag": {
                      "type": "string"
                    },
                    "git_sha": {
                      "type": "string"
                    },
                    "build_date": {
                      "type": "string"
                    },
                    "version": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/identity/configs": {
      "get": {
        "summary": "Get barong configurations",
        "operationId": "identityConfigs",
        "tags": [
          "Identity"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "session_expire_time": {
                      "type": "integer"
                    },
                    "captcha_type": {
                      "type": "string"
                    },
                    "captcha_id": {
                      "type": "string",
                      "nullable": true
                    },
                    "phone_verification_type": {
                      "type": "string"
                    },
                    "password_min_entropy": {
                      "type": "integer"
                    },
                    "password_regexp": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/identity/password/validate": {
      "post": {
        "summary": "Password strength testing",
        "operationId": "identityPasswordValidate",
        "tags": [
          "Identity"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "password"
                ],
                "properties": {
                  "password": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "entropy": {
                      "type": "number"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "422": {
            "$ref": "#/components/responses/Error422"
          }
        }
      }
    },
    "/identity/inquiry": {
      "post": {
        "summary": "Send Inquiry Email",
        "operationId": "identityInquiry",
        "tags": [
          "Identity"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email",
                  "subject",
                  "message",
                  "name",
                  "user_type"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email"
                  },
                  "subject": {
                    "type": "string"
                  },
                  "message": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  },
                  "user_type": {
                    "type": "string"
                  },
                  "captcha_response": {
                    "oneOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "object"
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "An Enquiry ticket has been created"
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "422": {
            "$ref": "#/components/responses/Error422"
          }
        }
      }
    },
    "/identity/sessions": {
      "post": {
        "summary": "Start a new session",
        "operationId": "identitySessionsCreate",
        "tags": [
          "Identity"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "session_type",
                  "password",
                  "authentication_state"
                ],
                "properties": {
                  "session_type": {
                    "type": "string",
                    "enum": [
                      "email",
                      "phone"
                    ]
                  },
                  "email": {
                    "type": "string",
                    "format": "email"
                  },
                  "phone_number": {
                    "type": "string"
                  },
                  "password": {
                    "type": "string"
                  },
                  "code": {
                    "type": "integer"
                  },
                  "otp_code": {
                    "type": "string"
                  },
                  "authentication_state": {
                    "type": "string",
                    "enum": [
                      "web",
                      "jwt"
                    ]
                  },
                  "login_device": {
                    "type": "object",
                    "properties": {
                      "device_id": {
                        "type": "string"
                      },
                      "device_type": {
                        "type": "string",
                        "enum": [
                          "ios",
                          "android"
                        ]
                      }
                    }
                  },
                  "city": {
                    "type": "string"
                  },
                  "country": {
                    "type": "string"
                  },
                  "new_version": {
                    "type": "boolean",
                    "default": false
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Session created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "422": {
            "$ref": "#/components/responses/Error422"
          }
        }
      },
      "delete": {
        "summary": "Destroy current session",
        "operationId": "identitySessionsDestroy",
        "tags": [
          "Identity"
        ],
        "security": [
          {
            "BearerToken": []
          },
          {
            "SessionToken": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "login_device": {
                    "type": "object",
                    "properties": {
                      "device_id": {
                        "type": "string"
                      },
                      "device_type": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Session was destroyed"
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          }
        }
      }
    },
    "/identity/sessions/resent_otp": {
      "post": {
        "summary": "Resend OTP",
        "operationId": "identitySessionsResentOtp",
        "tags": [
          "Identity"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "session_type",
                  "password"
                ],
                "properties": {
                  "session_type": {
                    "type": "string",
                    "enum": [
                      "email",
                      "phone"
                    ]
                  },
                  "email": {
                    "type": "string",
                    "format": "email"
                  },
                  "phone_number": {
                    "type": "string"
                  },
                  "password": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OTP was resent"
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          }
        }
      }
    },
    "/identity/sessions/jwt": {
      "post": {
        "summary": "Session on JWT",
        "operationId": "identitySessionsJwt",
        "tags": [
          "Identity"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email",
                  "password",
                  "authentication_state"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email"
                  },
                  "password": {
                    "type": "string"
                  },
                  "authentication_state": {
                    "type": "string",
                    "enum": [
                      "jwt"
                    ]
                  },
                  "login_device": {
                    "type": "object",
                    "properties": {
                      "device_id": {
                        "type": "string"
                      },
                      "device_type": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "JWT session created",
            "headers": {
              "access-token": {
                "schema": {
                  "type": "string"
                }
              },
              "access-expire": {
                "schema": {
                  "type": "string"
                }
              },
              "refresh-token": {
                "schema": {
                  "type": "string"
                }
              },
              "refresh-expire": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "422": {
            "$ref": "#/components/responses/Error422"
          }
        }
      }
    },
    "/identity/sessions/refresh": {
      "post": {
        "summary": "Refresh user JWT session token",
        "operationId": "identitySessionsRefresh",
        "tags": [
          "Identity"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "refresh_token": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "JWT token refreshed successfully",
            "headers": {
              "access-token": {
                "schema": {
                  "type": "string"
                }
              },
              "access-expire": {
                "schema": {
                  "type": "string"
                }
              },
              "refresh-token": {
                "schema": {
                  "type": "string"
                }
              },
              "refresh-expire": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          }
        }
      },
      "delete": {
        "summary": "Destroy current session with JWT refresh token",
        "operationId": "identitySessionsRefreshDestroy",
        "tags": [
          "Identity"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "device_id": {
                    "type": "string"
                  },
                  "device_type": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Session was destroyed"
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          }
        }
      }
    },
    "/identity/sessions/verify_access_token": {
      "get": {
        "summary": "Authorization through access_token",
        "operationId": "identitySessionsVerifyAccessToken",
        "tags": [
          "Identity"
        ],
        "parameters": [
          {
            "name": "access_token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User authenticated",
            "headers": {
              "csrf-token": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          }
        }
      }
    },
    "/identity/sessions/auth0": {
      "post": {
        "summary": "Auth0 authentication by id_token",
        "operationId": "identitySessionsAuth0",
        "tags": [
          "Identity"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "id_token"
                ],
                "properties": {
                  "id_token": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "User authenticated",
            "headers": {
              "csrf-token": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "422": {
            "$ref": "#/components/responses/Error422"
          }
        }
      }
    },
    "/identity/users": {
      "post": {
        "summary": "Creates new user",
        "operationId": "identityUsersCreate",
        "tags": [
          "Identity"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email",
                  "password"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email"
                  },
                  "password": {
                    "type": "string"
                  },
                  "refid": {
                    "type": "string"
                  },
                  "lang": {
                    "type": "string"
                  },
                  "captcha_response": {
                    "oneOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "object"
                      }
                    ]
                  },
                  "data": {
                    "type": "string"
                  },
                  "platform": {
                    "type": "string",
                    "enum": [
                      "exchange",
                      "pos",
                      "company"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "User created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "422": {
            "$ref": "#/components/responses/Error422"
          }
        }
      }
    },
    "/identity/users/access": {
      "post": {
        "summary": "Creates new whitelist restriction",
        "operationId": "identityUsersAccess",
        "tags": [
          "Identity"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "whitelink_token"
                ],
                "properties": {
                  "whitelink_token": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Whitelist restriction was created"
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "422": {
            "$ref": "#/components/responses/Error422"
          }
        }
      }
    },
    "/identity/users/status": {
      "get": {
        "summary": "User status After Registration",
        "operationId": "identityUsersStatus",
        "tags": [
          "Identity"
        ],
        "parameters": [
          {
            "name": "uid",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User status",
            "content": {
              "application/json": {
                "schema": {
                  "type": "boolean"
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/Error422"
          }
        }
      }
    },
    "/identity/users/{uid}": {
      "delete": {
        "summary": "Soft delete the user",
        "operationId": "identityUsersDelete",
        "tags": [
          "Identity"
        ],
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "otp_code"
                ],
                "properties": {
                  "otp_code": {
                    "type": "string"
                  },
                  "reason": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Account Deleted"
          },
          "422": {
            "$ref": "#/components/responses/Error422"
          }
        }
      }
    },
    "/identity/users/register_geetest": {
      "get": {
        "summary": "Register Geetest captcha",
        "operationId": "identityUsersRegisterGeetest",
        "tags": [
          "Identity"
        ],
        "responses": {
          "200": {
            "description": "Geetest registration data"
          }
        }
      }
    },
    "/identity/users/encrypt_token": {
      "post": {
        "summary": "Generate encrypted Token",
        "operationId": "identityUsersEncryptToken",
        "tags": [
          "Identity"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "address",
                  "currency",
                  "amount"
                ],
                "properties": {
                  "address": {
                    "type": "string"
                  },
                  "currency": {
                    "type": "string"
                  },
                  "amount": {
                    "type": "number",
                    "minimum": 0
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Token generated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "token": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/identity/users/decrypt_token": {
      "post": {
        "summary": "Decrypt Token to get actual params",
        "operationId": "identityUsersDecryptToken",
        "tags": [
          "Identity"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "token"
                ],
                "properties": {
                  "token": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Token decrypted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "address": {
                      "type": "string"
                    },
                    "amount": {
                      "type": "number"
                    },
                    "currency": {
                      "type": "string"
                    },
                    "callback_url": {
                      "type": "string",
                      "nullable": true
                    },
                    "created_at": {
                      "type": "string",
                      "format": "date-time"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/identity/users/callback": {
      "post": {
        "summary": "Callback url used by Jumio for KYC",
        "operationId": "identityUsersCallback",
        "tags": [
          "Identity"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Callback processed"
          }
        }
      }
    },
    "/identity/users/email/generate_code": {
      "post": {
        "summary": "Send confirmations instructions",
        "operationId": "identityUsersEmailGenerateCode",
        "tags": [
          "Identity"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Generated verification code"
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "422": {
            "$ref": "#/components/responses/Error422"
          }
        }
      }
    },
    "/identity/users/email/confirm_code": {
      "post": {
        "summary": "Confirms an account",
        "operationId": "identityUsersEmailConfirmCode",
        "tags": [
          "Identity"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "token"
                ],
                "properties": {
                  "token": {
                    "type": "string"
                  },
                  "lang": {
                    "type": "string"
                  },
                  "city": {
                    "type": "string"
                  },
                  "country": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Account confirmed",
            "headers": {
              "csrf-token": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "422": {
            "$ref": "#/components/responses/Error422"
          }
        }
      }
    },
    "/identity/users/password/generate_code": {
      "post": {
        "summary": "Send password reset instructions",
        "operationId": "identityUsersPasswordGenerateCode",
        "tags": [
          "Identity"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email"
                  },
                  "captcha_response": {
                    "oneOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "object"
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Generated password reset code"
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "422": {
            "$ref": "#/components/responses/Error422"
          }
        }
      }
    },
    "/identity/users/password/confirm_code": {
      "post": {
        "summary": "Sets new account password",
        "operationId": "identityUsersPasswordConfirmCode",
        "tags": [
          "Identity"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "reset_password_token",
                  "password",
                  "confirm_password"
                ],
                "properties": {
                  "reset_password_token": {
                    "type": "string"
                  },
                  "password": {
                    "type": "string"
                  },
                  "confirm_password": {
                    "type": "string"
                  },
                  "authentication_state": {
                    "type": "string",
                    "enum": [
                      "web",
                      "jwt"
                    ]
                  },
                  "lang": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Password reset successfully"
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "422": {
            "$ref": "#/components/responses/Error422"
          }
        }
      }
    },
    "/identity/users/password/link_expire": {
      "post": {
        "summary": "Check if link is expired",
        "operationId": "identityUsersPasswordLinkExpire",
        "tags": [
          "Identity"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "reset_password_token"
                ],
                "properties": {
                  "reset_password_token": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Link is valid"
          },
          "422": {
            "$ref": "#/components/responses/Error422"
          }
        }
      }
    },
    "/identity/users/password/reset_password_otp": {
      "post": {
        "summary": "Send password reset OTP on mobile",
        "operationId": "identityUsersPasswordResetPasswordOtp",
        "tags": [
          "Identity"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "number"
                ],
                "properties": {
                  "number": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OTP sent",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/Error422"
          }
        }
      }
    },
    "/identity/users/password/validate_reset_password_otp": {
      "post": {
        "summary": "Validate OTP",
        "operationId": "identityUsersPasswordValidateResetPasswordOtp",
        "tags": [
          "Identity"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "number",
                  "otp_code"
                ],
                "properties": {
                  "number": {
                    "type": "string"
                  },
                  "otp_code": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OTP validated",
            "headers": {
              "Reset_Password_Token": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/Error422"
          }
        }
      }
    },
    "/public/ping": {
      "get": {
        "summary": "Test connectivity",
        "operationId": "publicPing",
        "tags": [
          "Public"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ping": {
                      "type": "string",
                      "example": "pong"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/public/alive": {
      "get": {
        "summary": "Test the API if it is alive",
        "operationId": "publicAlive",
        "tags": [
          "Public"
        ],
        "responses": {
          "200": {
            "description": "API is alive"
          }
        }
      }
    },
    "/public/time": {
      "get": {
        "summary": "Get server current unix timestamp",
        "operationId": "publicTime",
        "tags": [
          "Public"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "time": {
                      "type": "integer",
                      "example": 1609459200
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/public/version": {
      "get": {
        "summary": "Get barong version",
        "operationId": "publicVersion",
        "tags": [
          "Public"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "git_tag": {
                      "type": "string"
                    },
                    "git_sha": {
                      "type": "string"
                    },
                    "build_date": {
                      "type": "string"
                    },
                    "version": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/public/configs": {
      "get": {
        "summary": "Get barong configurations",
        "operationId": "publicConfigs",
        "tags": [
          "Public"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "session_expire_time": {
                      "type": "integer"
                    },
                    "captcha_type": {
                      "type": "string"
                    },
                    "captcha_id": {
                      "type": "string",
                      "nullable": true
                    },
                    "phone_verification_type": {
                      "type": "string"
                    },
                    "password_min_entropy": {
                      "type": "integer"
                    },
                    "password_regexp": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/public/configs/auth0": {
      "get": {
        "summary": "Get auth0 configuration",
        "operationId": "publicConfigsAuth0",
        "tags": [
          "Public"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "auth0_domain": {
                      "type": "string"
                    },
                    "auth0_client_id": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/public/mobile_version": {
      "get": {
        "summary": "Mobile API Version",
        "operationId": "publicMobileVersion",
        "tags": [
          "Public"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "android_version": {
                      "type": "string"
                    },
                    "ios_version": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/public/password/validate": {
      "post": {
        "summary": "Password strength testing",
        "operationId": "publicPasswordValidate",
        "tags": [
          "Public"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "password"
                ],
                "properties": {
                  "password": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "entropy": {
                      "type": "number"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/public/kyc": {
      "post": {
        "summary": "KYC callback",
        "operationId": "publicKyc",
        "tags": [
          "Public"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Callback processed"
          },
          "201": {
            "description": "Callback processed"
          }
        }
      }
    },
    "/public/sumsub/kyc": {
      "post": {
        "summary": "Sumsub KYC callback",
        "operationId": "publicSumsubKyc",
        "tags": [
          "Public"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Callback processed"
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          }
        }
      }
    },
    "/resource/users/me": {
      "get": {
        "summary": "Returns current user",
        "operationId": "resourceUsersMe",
        "tags": [
          "Resource"
        ],
        "security": [
          {
            "BearerToken": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          }
        }
      },
      "put": {
        "summary": "Updates current user data field",
        "operationId": "resourceUsersMeUpdate",
        "tags": [
          "Resource"
        ],
        "security": [
          {
            "BearerToken": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "data"
                ],
                "properties": {
                  "data": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "User updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "422": {
            "$ref": "#/components/responses/Error422"
          }
        }
      },
      "delete": {
        "summary": "Blocks current user",
        "operationId": "resourceUsersMeDelete",
        "tags": [
          "Resource"
        ],
        "security": [
          {
            "BearerToken": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "password"
                ],
                "properties": {
                  "password": {
                    "type": "string"
                  },
                  "otp_code": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Current user was blocked"
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "422": {
            "$ref": "#/components/responses/Error422"
          }
        }
      }
    },
    "/resource/users/user_details": {
      "get": {
        "summary": "Return user details",
        "operationId": "resourceUsersUserDetails",
        "tags": [
          "Resource"
        ],
        "security": [
          {
            "BearerToken": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          }
        }
      }
    },
    "/resource/users/activity/{topic}": {
      "get": {
        "summary": "Returns user activity",
        "operationId": "resourceUsersActivity",
        "tags": [
          "Resource"
        ],
        "security": [
          {
            "BearerToken": []
          }
        ],
        "parameters": [
          {
            "name": "topic",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "all",
                "session",
                "otp",
                "password",
                "account",
                "session_delete"
              ]
            }
          },
          {
            "name": "time_from",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "time_to",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "result",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "succeed",
                "failed",
                "denied"
              ]
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Activity"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "422": {
            "$ref": "#/components/responses/Error422"
          }
        }
      }
    },
    "/resource/users/store_sessions": {
      "get": {
        "summary": "Returns array of device management activities of current user",
        "operationId": "resourceUsersStoreSessions",
        "tags": [
          "Resource"
        ],
        "security": [
          {
            "BearerToken": []
          }
        ],
        "parameters": [
          {
            "name": "order_by",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ordering",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "desc"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          }
        }
      }
    },
    "/resource/users/password": {
      "put": {
        "summary": "Sets new account password",
        "operationId": "resourceUsersPassword",
        "tags": [
          "Resource"
        ],
        "security": [
          {
            "BearerToken": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "old_password",
                  "password",
                  "confirm_password"
                ],
                "properties": {
                  "old_password": {
                    "type": "string"
                  },
                  "password": {
                    "type": "string"
                  },
                  "confirm_password": {
                    "type": "string"
                  },
                  "verification_code": {
                    "type": "string"
                  },
                  "lang": {
                    "type": "string"
                  },
                  "authentication_state": {
                    "type": "string",
                    "enum": [
                      "web",
                      "jwt"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Password updated"
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "422": {
            "$ref": "#/components/responses/Error422"
          }
        }
      }
    },
    "/resource/profiles/me": {
      "get": {
        "summary": "Return profiles of current resource owner",
        "operationId": "resourceProfilesMe",
        "tags": [
          "Resource"
        ],
        "security": [
          {
            "BearerToken": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Profile"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          }
        }
      },
      "post": {
        "summary": "Create a profile for current_user",
        "operationId": "resourceProfilesMeCreate",
        "tags": [
          "Resource"
        ],
        "security": [
          {
            "BearerToken": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "account_type"
                ],
                "properties": {
                  "account_type": {
                    "type": "string",
                    "enum": [
                      "retail",
                      "corporate"
                    ]
                  },
                  "first_name": {
                    "type": "string"
                  },
                  "last_name": {
                    "type": "string"
                  },
                  "dob": {
                    "type": "string",
                    "format": "date"
                  },
                  "address": {
                    "type": "string"
                  },
                  "city": {
                    "type": "string"
                  },
                  "country": {
                    "type": "string"
                  },
                  "postcode": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Profile created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Profile"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "409": {
            "description": "Profile already exists"
          },
          "422": {
            "$ref": "#/components/responses/Error422"
          }
        }
      },
      "put": {
        "summary": "Update a profile for current_user",
        "operationId": "resourceProfilesMeUpdate",
        "tags": [
          "Resource"
        ],
        "security": [
          {
            "BearerToken": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "account_type"
                ],
                "properties": {
                  "account_type": {
                    "type": "string",
                    "enum": [
                      "retail",
                      "corporate"
                    ]
                  },
                  "first_name": {
                    "type": "string"
                  },
                  "last_name": {
                    "type": "string"
                  },
                  "dob": {
                    "type": "string",
                    "format": "date"
                  },
                  "address": {
                    "type": "string"
                  },
                  "city": {
                    "type": "string"
                  },
                  "country": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Profile updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Profile"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "422": {
            "$ref": "#/components/responses/Error422"
          }
        }
      }
    },
    "/resource/documents": {
      "get": {
        "summary": "Return current user documents list",
        "operationId": "resourceDocuments",
        "tags": [
          "Resource"
        ],
        "security": [
          {
            "BearerToken": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Document"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          }
        }
      },
      "post": {
        "summary": "Upload a new document for current user",
        "operationId": "resourceDocumentsCreate",
        "tags": [
          "Resource"
        ],
        "security": [
          {
            "BearerToken": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "documents"
                ],
                "properties": {
                  "documents": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "doc_type": {
                          "type": "string"
                        },
                        "doc_number": {
                          "type": "string"
                        },
                        "upload": {
                          "type": "string",
                          "format": "binary"
                        }
                      }
                    }
                  },
                  "doc_expire": {
                    "type": "string",
                    "format": "date"
                  },
                  "doc_category": {
                    "type": "string",
                    "enum": [
                      "front_side",
                      "back_side",
                      "selfie"
                    ]
                  },
                  "identificator": {
                    "type": "string"
                  },
                  "metadata": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Document is uploaded"
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "422": {
            "$ref": "#/components/responses/Error422"
          }
        }
      }
    },
    "/resource/phones": {
      "get": {
        "summary": "Returns list of user phones",
        "operationId": "resourcePhones",
        "tags": [
          "Resource"
        ],
        "security": [
          {
            "BearerToken": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Phone"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          }
        }
      },
      "post": {
        "summary": "Add new phone",
        "operationId": "resourcePhonesCreate",
        "tags": [
          "Resource"
        ],
        "security": [
          {
            "BearerToken": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "phone_number"
                ],
                "properties": {
                  "phone_number": {
                    "type": "string"
                  },
                  "country": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "New phone was added"
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "422": {
            "$ref": "#/components/responses/Error422"
          }
        }
      }
    },
    "/resource/phones/verify": {
      "post": {
        "summary": "Verify a phone",
        "operationId": "resourcePhonesVerify",
        "tags": [
          "Resource"
        ],
        "security": [
          {
            "BearerToken": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "phone_number",
                  "verification_code"
                ],
                "properties": {
                  "phone_number": {
                    "type": "string"
                  },
                  "verification_code": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Phone verified",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          }
        }
      }
    },
    "/resource/labels": {
      "get": {
        "summary": "List all labels for current user",
        "operationId": "resourceLabels",
        "tags": [
          "Resource"
        ],
        "security": [
          {
            "BearerToken": []
          }
        ],
        "parameters": [
          {
            "name": "ordering",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "asc"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Label"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          }
        }
      },
      "post": {
        "summary": "Create a label with public scope",
        "operationId": "resourceLabelsCreate",
        "tags": [
          "Resource"
        ],
        "security": [
          {
            "BearerToken": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "key",
                  "value"
                ],
                "properties": {
                  "key": {
                    "type": "string"
                  },
                  "value": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Label created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Label"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "422": {
            "$ref": "#/components/responses/Error422"
          }
        }
      }
    },
    "/resource/labels/{key}": {
      "get": {
        "summary": "Return a label by key",
        "operationId": "resourceLabelsGet",
        "tags": [
          "Resource"
        ],
        "security": [
          {
            "BearerToken": []
          }
        ],
        "parameters": [
          {
            "name": "key",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Label"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          }
        }
      },
      "patch": {
        "summary": "Update a label with public scope",
        "operationId": "resourceLabelsUpdate",
        "tags": [
          "Resource"
        ],
        "security": [
          {
            "BearerToken": []
          }
        ],
        "parameters": [
          {
            "name": "key",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "value"
                ],
                "properties": {
                  "value": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Label updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Label"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "422": {
            "$ref": "#/components/responses/Error422"
          }
        }
      },
      "delete": {
        "summary": "Delete a label with public scope",
        "operationId": "resourceLabelsDelete",
        "tags": [
          "Resource"
        ],
        "security": [
          {
            "BearerToken": []
          }
        ],
        "parameters": [
          {
            "name": "key",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Successfully deleted"
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          }
        }
      }
    },
    "/resource/api_keys": {
      "get": {
        "summary": "List all api keys for current account",
        "operationId": "resourceApiKeys",
        "tags": [
          "Resource"
        ],
        "security": [
          {
            "BearerToken": []
          }
        ],
        "parameters": [
          {
            "name": "ordering",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "asc"
            }
          },
          {
            "name": "order_by",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "id"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/APIKey"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          }
        }
      },
      "post": {
        "summary": "Create an api key",
        "operationId": "resourceApiKeysCreate",
        "tags": [
          "Resource"
        ],
        "security": [
          {
            "BearerToken": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "algorithm",
                  "totp_code"
                ],
                "properties": {
                  "algorithm": {
                    "type": "string"
                  },
                  "kid": {
                    "type": "string"
                  },
                  "scope": {
                    "type": "string"
                  },
                  "totp_code": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "API key created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIKey"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "422": {
            "$ref": "#/components/responses/Error422"
          }
        }
      }
    },
    "/resource/api_keys/{kid}": {
      "patch": {
        "summary": "Updates an api key",
        "operationId": "resourceApiKeysUpdate",
        "tags": [
          "Resource"
        ],
        "security": [
          {
            "BearerToken": []
          }
        ],
        "parameters": [
          {
            "name": "kid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "totp_code"
                ],
                "properties": {
                  "scope": {
                    "type": "string"
                  },
                  "state": {
                    "type": "string"
                  },
                  "totp_code": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "API key updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIKey"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "422": {
            "$ref": "#/components/responses/Error422"
          }
        }
      },
      "delete": {
        "summary": "Delete an api key",
        "operationId": "resourceApiKeysDelete",
        "tags": [
          "Resource"
        ],
        "security": [
          {
            "BearerToken": []
          }
        ],
        "parameters": [
          {
            "name": "kid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "totp_code"
                ],
                "properties": {
                  "totp_code": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Successfully deleted"
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          }
        }
      }
    },
    "/resource/otp/generate_qrcode": {
      "post": {
        "summary": "Generate qr code for 2FA",
        "operationId": "resourceOtpGenerateQrcode",
        "tags": [
          "Resource"
        ],
        "security": [
          {
            "BearerToken": []
          }
        ],
        "responses": {
          "200": {
            "description": "QR code was generated"
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          }
        }
      }
    },
    "/resource/otp/enable": {
      "post": {
        "summary": "Enable 2FA",
        "operationId": "resourceOtpEnable",
        "tags": [
          "Resource"
        ],
        "security": [
          {
            "BearerToken": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "code"
                ],
                "properties": {
                  "code": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "2FA was enabled"
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "422": {
            "$ref": "#/components/responses/Error422"
          }
        }
      }
    },
    "/resource/otp/disable": {
      "post": {
        "summary": "Disable 2FA",
        "operationId": "resourceOtpDisable",
        "tags": [
          "Resource"
        ],
        "security": [
          {
            "BearerToken": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "code"
                ],
                "properties": {
                  "code": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "2FA was disabled"
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "422": {
            "$ref": "#/components/responses/Error422"
          }
        }
      }
    },
    "/resource/otp/verify": {
      "post": {
        "summary": "Verify 2FA code",
        "operationId": "resourceOtpVerify",
        "tags": [
          "Resource"
        ],
        "security": [
          {
            "BearerToken": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "code"
                ],
                "properties": {
                  "code": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "2FA was verified"
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "422": {
            "$ref": "#/components/responses/Error422"
          }
        }
      }
    },
    "/admin/users": {
      "get": {
        "summary": "Returns array of users as paginated collection",
        "operationId": "adminUsersList",
        "tags": [
          "Admin"
        ],
        "security": [
          {
            "BearerToken": []
          }
        ],
        "parameters": [
          {
            "name": "extended",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "uid",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "email",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "role",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "level",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "state",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "range",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "created",
                "updated"
              ],
              "default": "created"
            }
          },
          {
            "name": "ordering",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "desc"
            }
          },
          {
            "name": "order_by",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "id"
            }
          },
          {
            "name": "from",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "to",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/User"
                  }
                }
              }
            },
            "headers": {
              "total": {
                "schema": {
                  "type": "integer"
                }
              },
              "per-page": {
                "schema": {
                  "type": "integer"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          }
        }
      },
      "post": {
        "summary": "Update user attributes",
        "operationId": "adminUsersUpdate",
        "tags": [
          "Admin"
        ],
        "security": [
          {
            "BearerToken": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "uid"
                ],
                "properties": {
                  "uid": {
                    "type": "string"
                  },
                  "state": {
                    "type": "string"
                  },
                  "remark": {
                    "type": "string"
                  },
                  "otp": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "User attributes were updated"
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "422": {
            "$ref": "#/components/responses/Error422"
          }
        }
      },
      "put": {
        "summary": "Update user attributes",
        "operationId": "adminUsersPut",
        "tags": [
          "Admin"
        ],
        "security": [
          {
            "BearerToken": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "uid"
                ],
                "properties": {
                  "uid": {
                    "type": "string"
                  },
                  "email": {
                    "type": "string"
                  },
                  "state": {
                    "type": "string"
                  },
                  "otp": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "User attributes were created"
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "422": {
            "$ref": "#/components/responses/Error422"
          }
        }
      },
      "delete": {
        "summary": "Delete user",
        "operationId": "adminUsersDelete",
        "tags": [
          "Admin"
        ],
        "security": [
          {
            "BearerToken": []
          }
        ],
        "parameters": [
          {
            "name": "uid",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "422": {
            "$ref": "#/components/responses/Error422"
          }
        }
      }
    },
    "/admin/users/{uid}": {
      "get": {
        "summary": "Returns user info",
        "operationId": "adminUsersGet",
        "tags": [
          "Admin"
        ],
        "security": [
          {
            "BearerToken": []
          }
        ],
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          }
        }
      }
    },
    "/admin/users/role": {
      "post": {
        "summary": "Update user role",
        "operationId": "adminUsersRole",
        "tags": [
          "Admin"
        ],
        "security": [
          {
            "BearerToken": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "uid",
                  "role"
                ],
                "properties": {
                  "uid": {
                    "type": "string"
                  },
                  "role": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "User role was created"
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "422": {
            "$ref": "#/components/responses/Error422"
          }
        }
      }
    },
    "/admin/profiles": {
      "get": {
        "summary": "Return all profiles",
        "operationId": "adminProfilesList",
        "tags": [
          "Admin"
        ],
        "security": [
          {
            "BearerToken": []
          }
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Profile"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          }
        }
      },
      "post": {
        "summary": "Create a profile for user",
        "operationId": "adminProfilesCreate",
        "tags": [
          "Admin"
        ],
        "security": [
          {
            "BearerToken": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "uid"
                ],
                "properties": {
                  "uid": {
                    "type": "string"
                  },
                  "first_name": {
                    "type": "string"
                  },
                  "last_name": {
                    "type": "string"
                  },
                  "dob": {
                    "type": "string",
                    "format": "date"
                  },
                  "address": {
                    "type": "string"
                  },
                  "city": {
                    "type": "string"
                  },
                  "country": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Profile created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Profile"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "422": {
            "$ref": "#/components/responses/Error422"
          }
        }
      },
      "put": {
        "summary": "Verify user profile",
        "operationId": "adminProfilesUpdate",
        "tags": [
          "Admin"
        ],
        "security": [
          {
            "BearerToken": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "uid",
                  "state"
                ],
                "properties": {
                  "uid": {
                    "type": "string"
                  },
                  "state": {
                    "type": "string"
                  },
                  "first_name": {
                    "type": "string"
                  },
                  "last_name": {
                    "type": "string"
                  },
                  "dob": {
                    "type": "string",
                    "format": "date"
                  },
                  "address": {
                    "type": "string"
                  },
                  "city": {
                    "type": "string"
                  },
                  "country": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Profile verified",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Profile"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "422": {
            "$ref": "#/components/responses/Error422"
          }
        }
      },
      "delete": {
        "summary": "Delete a profile for user",
        "operationId": "adminProfilesDelete",
        "tags": [
          "Admin"
        ],
        "security": [
          {
            "BearerToken": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "uid"
                ],
                "properties": {
                  "uid": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Profile deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Profile"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "422": {
            "$ref": "#/components/responses/Error422"
          }
        }
      }
    },
    "/admin/activities": {
      "get": {
        "summary": "Returns array of activities as paginated collection",
        "operationId": "adminActivitiesList",
        "tags": [
          "Admin"
        ],
        "security": [
          {
            "BearerToken": []
          }
        ],
        "parameters": [
          {
            "name": "action",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "uid",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "email",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "topic",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "to",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Activity"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          }
        }
      }
    },
    "/admin/api_keys": {
      "get": {
        "summary": "List all api keys for selected account",
        "operationId": "adminApiKeysList",
        "tags": [
          "Admin"
        ],
        "security": [
          {
            "BearerToken": []
          }
        ],
        "parameters": [
          {
            "name": "uid",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ordering",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "asc"
            }
          },
          {
            "name": "order_by",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "id"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
[...]
