{
  "openapi": "3.0.0",
  "info": {
    "title": "ZooTicket Payment API",
    "description": "API \u0434\u043b\u044f \u0438\u043d\u0442\u0435\u0433\u0440\u0430\u0446\u0438\u0438 \u0441 \u043f\u043b\u0430\u0442\u0451\u0436\u043d\u043e\u0439 \u0441\u0438\u0441\u0442\u0435\u043c\u043e\u0439 ZooTicket",
    "version": "1.0.1",
    "contact": {
      "name": "\u0412\u0430\u043b\u0435\u0440\u0438\u044f \u0418\u0432\u0430\u043d\u043e\u0432\u0430",
      "email": "support@zooticket.ru"
    },
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/rjvgfybz/ZooTicket000/1.0.1"
  },
  "servers": [
    {
      "url": "https://zooticket.ru/v1",
      "description": "Production server"
    }
  ],
  "paths": {
    "/cart/add": {
      "post": {
        "summary": "\u0414\u043e\u0431\u0430\u0432\u0438\u0442\u044c \u0432\u044b\u0431\u0440\u0430\u043d\u043d\u044b\u0435 \u0431\u0438\u043b\u0435\u0442\u044b \u0432 \u043a\u043e\u0440\u0437\u0438\u043d\u0443",
        "description": "\u0414\u043e\u0431\u0430\u0432\u043b\u044f\u0435\u0442 \u0432\u044b\u0431\u0440\u0430\u043d\u043d\u044b\u0435 \u0431\u0438\u043b\u0435\u0442\u044b \u0432\u043e \u0432\u0440\u0435\u043c\u0435\u043d\u043d\u0443\u044e \u043a\u043e\u0440\u0437\u0438\u043d\u0443 (\u0441\u0435\u0441\u0441\u0438\u044e)",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "session_id",
                  "items"
                ],
                "properties": {
                  "session_id": {
                    "type": "string",
                    "example": "sess_abc123",
                    "description": "\u0418\u0434\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0442\u043e\u0440 \u0441\u0435\u0441\u0441\u0438\u0438"
                  },
                  "items": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "required": [
                        "typeTicket",
                        "visit_date",
                        "visit_time",
                        "quantity"
                      ],
                      "properties": {
                        "typeTicket": {
                          "type": "string",
                          "example": "\u0412\u0437\u0440\u043e\u0441\u043b\u044b\u0439",
                          "description": "\u0422\u0438\u043f \u0431\u0438\u043b\u0435\u0442\u0430"
                        },
                        "visit_date": {
                          "type": "string",
                          "format": "date",
                          "example": "2025-12-25"
                        },
                        "visit_time": {
                          "type": "string",
                          "example": "10:00"
                        },
                        "quantity": {
                          "type": "integer",
                          "minimum": 1,
                          "example": 2
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "\u041a\u043e\u0440\u0437\u0438\u043d\u0430 \u0443\u0441\u043f\u0435\u0448\u043d\u043e \u043e\u0431\u043d\u043e\u0432\u043b\u0435\u043d\u0430",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "session_id": {
                      "type": "string",
                      "example": "sess_abc123"
                    },
                    "cart": {
                      "type": "object",
                      "properties": {
                        "items": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "typeTicket": {
                                "type": "string",
                                "example": "\u0412\u0437\u0440\u043e\u0441\u043b\u044b\u0439 (\u0431\u0443\u0434\u043d\u0438)"
                              },
                              "visit_date": {
                                "type": "string",
                                "example": "2025-12-25"
                              },
                              "visit_time": {
                                "type": "string",
                                "example": "10:00"
                              },
                              "quantity": {
                                "type": "integer",
                                "example": 2
                              },
                              "price_per_item": {
                                "type": "number",
                                "format": "float",
                                "example": 800
                              },
                              "subtotal": {
                                "type": "number",
                                "format": "float",
                                "example": 1600
                              }
                            }
                          }
                        },
                        "total_amount": {
                          "type": "number",
                          "format": "float",
                          "example": 2200
                        },
                        "currency": {
                          "type": "string",
                          "example": "RUB"
                        }
                      }
                    },
                    "next_step": {
                      "type": "string",
                      "example": "customer_info"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/order/create": {
      "post": {
        "summary": "\u0421\u043e\u0437\u0434\u0430\u0442\u044c \u0437\u0430\u043a\u0430\u0437 \u0441 \u0434\u0430\u043d\u043d\u044b\u043c\u0438 \u043a\u043b\u0438\u0435\u043d\u0442\u0430 \u0438 \u043f\u043b\u0430\u0442\u0451\u0436\u043d\u043e\u0439 \u0438\u043d\u0444\u043e\u0440\u043c\u0430\u0446\u0438\u0435\u0439",
        "description": "\u0421\u043e\u0437\u0434\u0430\u0451\u0442 \u0437\u0430\u043a\u0430\u0437, \u0438\u043d\u0438\u0446\u0438\u0438\u0440\u0443\u0435\u0442 \u043e\u043f\u043b\u0430\u0442\u0443 \u0438 \u043e\u0442\u043f\u0440\u0430\u0432\u043b\u044f\u0435\u0442 SMS-\u043a\u043e\u0434 \u043f\u043e\u0434\u0442\u0432\u0435\u0440\u0436\u0434\u0435\u043d\u0438\u044f",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "session_id",
                  "customer",
                  "card_details",
                  "agreements"
                ],
                "properties": {
                  "session_id": {
                    "type": "string",
                    "example": "sess_abc123"
                  },
                  "customer": {
                    "type": "object",
                    "required": [
                      "first_name",
                      "last_name",
                      "email",
                      "phoneNumber"
                    ],
                    "properties": {
                      "first_name": {
                        "type": "string",
                        "maxLength": 150,
                        "example": "\u041f\u0435\u0442\u0440",
                        "description": "\u0418\u043c\u044f \u043f\u043e\u043b\u044c\u0437\u043e\u0432\u0430\u0442\u0435\u043b\u044f"
                      },
                      "last_name": {
                        "type": "string",
                        "maxLength": 150,
                        "example": "\u0418\u0432\u0430\u043d\u043e\u0432",
                        "description": "\u0424\u0430\u043c\u0438\u043b\u0438\u044f \u043f\u043e\u043b\u044c\u0437\u043e\u0432\u0430\u0442\u0435\u043b\u044f"
                      },
                      "middle_name": {
                        "type": "string",
                        "maxLength": 150,
                        "example": "\u0410\u043d\u0434\u0440\u0435\u0435\u0432\u0438\u0447",
                        "description": "\u041e\u0442\u0447\u0435\u0441\u0442\u0432\u043e \u043f\u043e\u043b\u044c\u0437\u043e\u0432\u0430\u0442\u0435\u043b\u044f (\u043e\u043f\u0446\u0438\u043e\u043d\u0430\u043b\u044c\u043d\u043e)"
                      },
                      "email": {
                        "type": "string",
                        "maxLength": 250,
                        "example": "ivanovpetr9@yandex.ru",
                        "description": "\u042d\u043b\u0435\u043a\u0442\u0440\u043e\u043d\u043d\u0430\u044f \u043f\u043e\u0447\u0442\u0430 \u043f\u043e\u043b\u044c\u0437\u043e\u0432\u0430\u0442\u0435\u043b\u044f"
                      },
                      "phoneNumber": {
                        "type": "string",
                        "example": "+79133032425",
                        "description": "\u041d\u043e\u043c\u0435\u0440 \u0442\u0435\u043b\u0435\u0444\u043e\u043d\u0430 \u043f\u043e\u043b\u044c\u0437\u043e\u0432\u0430\u0442\u0435\u043b\u044f"
                      }
                    }
                  },
                  "payment_method": {
                    "type": "string",
                    "default": "card",
                    "example": "card"
                  },
                  "card_details": {
                    "type": "object",
                    "required": [
                      "cardNumber",
                      "cvv",
                      "mmYY",
                      "cardHolder"
                    ],
                    "properties": {
                      "cardNumber": {
                        "type": "integer",
                        "example": 0,
                        "description": "\u041d\u043e\u043c\u0435\u0440 \u043a\u0430\u0440\u0442\u044b (16 \u0446\u0438\u0444\u0440)"
                      },
                      "cvv": {
                        "type": "integer",
                        "example": 0,
                        "description": "CVV \u043a\u043e\u0434 \u043a\u0430\u0440\u0442\u044b (3 \u0446\u0438\u0444\u0440\u044b)"
                      },
                      "mmYY": {
                        "type": "integer",
                        "example": 1233,
                        "description": "\u0421\u0440\u043e\u043a \u0434\u0435\u0439\u0441\u0442\u0432\u0438\u044f \u043a\u0430\u0440\u0442\u044b \u0432 \u0444\u043e\u0440\u043c\u0430\u0442\u0435 MMYY (4 \u0446\u0438\u0444\u0440\u044b)"
                      },
                      "cardHolder": {
                        "type": "string",
                        "maxLength": 100,
                        "example": "PETR IVANOV",
                        "description": "\u0418\u043c\u044f \u0434\u0435\u0440\u0436\u0430\u0442\u0435\u043b\u044f \u043a\u0430\u0440\u0442\u044b \u043d\u0430 \u043b\u0430\u0442\u0438\u043d\u0438\u0446\u0435"
                      }
                    }
                  },
                  "agreements": {
                    "type": "object",
                    "required": [
                      "privacy_policy",
                      "terms_of_service"
                    ],
                    "properties": {
                      "privacy_policy": {
                        "type": "boolean",
                        "example": true
                      },
                      "terms_of_service": {
                        "type": "boolean",
                        "example": true
                      },
                      "subscribe_to_news": {
                        "type": "boolean",
                        "example": false
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "\u0417\u0430\u043a\u0430\u0437 \u0441\u043e\u0437\u0434\u0430\u043d, \u043e\u0442\u043f\u0440\u0430\u0432\u043b\u0435\u043d SMS-\u043a\u043e\u0434",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "order_id": {
                      "type": "string",
                      "example": "order_xyz789"
                    },
                    "status": {
                      "type": "string",
                      "example": "pending_verification"
                    },
                    "message": {
                      "type": "string",
                      "example": "SMS-\u043a\u043e\u0434 \u043e\u0442\u043f\u0440\u0430\u0432\u043b\u0435\u043d \u043d\u0430 \u043d\u043e\u043c\u0435\u0440 +79133032425"
                    },
                    "verification_method": {
                      "type": "string",
                      "example": "sms"
                    },
                    "next_step": {
                      "type": "string",
                      "example": "phone_verification"
                    },
                    "payment_id": {
                      "type": "string",
                      "example": "pay_abc123"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "\u041e\u0448\u0438\u0431\u043a\u0430 \u0432\u0430\u043b\u0438\u0434\u0430\u0446\u0438\u0438",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "\u041c\u0430\u043a\u0441\u0438\u043c\u0430\u043b\u044c\u043d\u0430\u044f \u0434\u043b\u0438\u043d\u0430 \u043d\u0435 \u0434\u043e\u043b\u0436\u043d\u0430 \u043f\u0440\u0435\u0432\u044b\u0448\u0430\u0442\u044c 150 \u0441\u0438\u043c\u0432\u043e\u043b\u043e\u0432"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/payment/confirm": {
      "post": {
        "summary": "\u041f\u043e\u0434\u0442\u0432\u0435\u0440\u0434\u0438\u0442\u044c \u043e\u043f\u043b\u0430\u0442\u0443 SMS-\u043a\u043e\u0434\u043e\u043c",
        "description": "\u041f\u043e\u0434\u0442\u0432\u0435\u0440\u0436\u0434\u0430\u0435\u0442 \u043f\u043b\u0430\u0442\u0451\u0436 \u0447\u0435\u0440\u0435\u0437 \u043a\u043e\u0434 \u0438\u0437 SMS",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "order_id",
                  "verification_code"
                ],
                "properties": {
                  "order_id": {
                    "type": "string",
                    "example": "order_xyz789"
                  },
                  "verification_code": {
                    "type": "string",
                    "pattern": "^\\d{6}$",
                    "example": "284659"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "\u041e\u043f\u043b\u0430\u0442\u0430 \u0443\u0441\u043f\u0435\u0448\u043d\u043e \u043f\u043e\u0434\u0442\u0432\u0435\u0440\u0436\u0434\u0435\u043d\u0430",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "order_id": {
                      "type": "string",
                      "example": "order_xyz789"
                    },
                    "status": {
                      "type": "string",
                      "example": "paid"
                    },
                    "payment_id": {
                      "type": "string",
                      "example": "pay_abc123"
                    },
                    "transaction_id": {
                      "type": "string",
                      "example": "txn_789012"
                    },
                    "paid_at": {
                      "type": "string",
                      "format": "date-time",
                      "example": "2025-12-01T14:30:00Z"
                    },
                    "tickets": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "ticket_id": {
                            "type": "string",
                            "example": "tkt_001"
                          },
                          "qr_code_url": {
                            "type": "string",
                            "format": "uri",
                            "example": "https://zooticket.ru/tickets/tkt_001/qr"
                          },
                          "pdf_url": {
                            "type": "string",
                            "format": "uri",
                            "example": "https://zooticket.ru/tickets/tkt_001/pdf"
                          }
                        }
                      }
                    },
                    "message": {
                      "type": "string",
                      "example": "\u0411\u0438\u043b\u0435\u0442\u044b \u043e\u0442\u043f\u0440\u0430\u0432\u043b\u0435\u043d\u044b \u043d\u0430 email ivanovpetr9@yandex.ru"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "integer",
                "example": 400
              },
              "message": {
                "type": "string",
                "example": "\u041e\u0448\u0438\u0431\u043a\u0430 \u0432\u0430\u043b\u0438\u0434\u0430\u0446\u0438\u0438 \u0432\u0445\u043e\u0434\u043d\u044b\u0445 \u0434\u0430\u043d\u043d\u044b\u0445"
              },
              "details": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "field": {
                      "type": "string",
                      "example": "email"
                    },
                    "error": {
                      "type": "string",
                      "example": "\u041d\u0435\u043f\u0440\u0430\u0432\u0438\u043b\u044c\u043d\u044b\u0439 \u0444\u043e\u0440\u043c\u0430\u0442 \u043f\u043e\u0447\u0442\u044b"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}