{
  "swagger": "2.0",
  "info": {
    "description": "Devices API for Ops DB and Eng DB.",
    "version": "1.0.0",
    "title": "Devices",
    "termsOfService": "http://swagger.io/terms/",
    "contact": {
      "email": "GALVIN-IT-ORG@centurylink.com"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/CenturyLink_APIs/devices-level3/1.0.0"
  },
  "host": "devices.level3.com",
  "basePath": "/v1",
  "schemes": [
    "https",
    "http"
  ],
  "externalDocs": {
    "description": "Find out more about Swagger",
    "url": "http://swagger.io"
  },
  "paths": {
    "/arp": {
      "get": {
        "summary": "ARP",
        "description": "ARP. Supported networks are <span style=\"color:green;font-weight:bold;\">green</span>, <span style=\"color:blue;font-weight:bold;\">blue</span>.",
        "operationId": "arp_v1",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "interface",
            "in": "query",
            "description": "Interface",
            "required": true,
            "type": "string"
          },
          {
            "name": "learned_address",
            "in": "query",
            "description": "Learned address",
            "required": false,
            "type": "string"
          },
          {
            "name": "learned_mac",
            "in": "query",
            "description": "Learned MAC",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "400": {
            "description": "Invalid options"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/arpEntry": {
      "get": {
        "summary": "ARP entry",
        "description": "ARP entry. Supported networks are <span style=\"color:green;font-weight:bold;\">green</span>.",
        "operationId": "arpEntry_v1",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "router",
            "in": "query",
            "description": "Router",
            "required": false,
            "type": "string"
          },
          {
            "name": "interface",
            "in": "query",
            "description": "Interface",
            "required": false,
            "type": "string"
          },
          {
            "name": "mac_address",
            "in": "query",
            "description": "MAC address",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "400": {
            "description": "Invalid options"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/ant": {
      "get": {
        "summary": "Ant",
        "description": "Ant. Supported networks are <span style=\"color:green;font-weight:bold;\">green</span>, <span style=\"color:blue;font-weight:bold;\">blue</span>.",
        "operationId": "ant_v1",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "hostname",
            "in": "query",
            "description": "Hostname of device",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "400": {
            "description": "Invalid options"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/backboneCapacity": {
      "get": {
        "summary": "Backbone capacity",
        "description": "Backbone capacity. Supported networks are <span style=\"color:green;font-weight:bold;\">green</span>, <span style=\"color:blue;font-weight:bold;\">blue</span>.",
        "operationId": "backboneCapacity_v1",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "400": {
            "description": "Invalid options"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/backboneSize": {
      "get": {
        "summary": "Backbone size",
        "description": "Backbone size. Supported networks are <span style=\"color:green;font-weight:bold;\">green</span>, <span style=\"color:blue;font-weight:bold;\">blue</span>.",
        "operationId": "backboneSize_v1",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "400": {
            "description": "Invalid options"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/backendSearch": {
      "get": {
        "summary": "Backend search",
        "description": "Backend search. Supported networks are <span style=\"color:green;font-weight:bold;\">green</span>, <span style=\"color:blue;font-weight:bold;\">blue</span>.",
        "operationId": "backendSearch_v1",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "date",
            "in": "query",
            "description": "Date",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "400": {
            "description": "Invalid options"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/backendStatus": {
      "get": {
        "summary": "Backend status",
        "description": "Backend status. Supported networks are <span style=\"color:green;font-weight:bold;\">green</span>, <span style=\"color:blue;font-weight:bold;\">blue</span>.",
        "operationId": "backendStatus_v1",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "400": {
            "description": "Invalid options"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/backendUpdateElementPending": {
      "get": {
        "summary": "Backend update element pending",
        "description": "Backend update element pending. Supported networks are <span style=\"color:green;font-weight:bold;\">green</span>, <span style=\"color:blue;font-weight:bold;\">blue</span>.",
        "operationId": "backendUpdateElementPending_v1",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "400": {
            "description": "Invalid options"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/bgpAsn": {
      "get": {
        "summary": "BGP ASN",
        "description": "BGP ASN. Supported networks are <span style=\"color:green;font-weight:bold;\">green</span>, <span style=\"color:blue;font-weight:bold;\">blue</span>.",
        "operationId": "bgpAsn_v1",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "asn",
            "in": "query",
            "description": "ASN",
            "required": true,
            "type": "string"
          },
          {
            "name": "hostname",
            "in": "query",
            "description": "Hostname of device",
            "required": false,
            "type": "string"
          },
          {
            "name": "domain",
            "in": "query",
            "description": "Domain",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "400": {
            "description": "Invalid options"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/bgpCircuit": {
      "get": {
        "summary": "BGP circuit",
        "description": "BGP circuit. Supported networks are <span style=\"color:green;font-weight:bold;\">green</span>, <span style=\"color:blue;font-weight:bold;\">blue</span>.",
        "operationId": "bgpCircuit_v1",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "cid",
            "in": "query",
            "description": "CID",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "400": {
            "description": "Invalid options"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/bgpNeighbor": {
      "get": {
        "summary": "BGP neighbor",
        "description": "BGP neighbor. Supported networks are <span style=\"color:green;font-weight:bold;\">green</span>, <span style=\"color:blue;font-weight:bold;\">blue</span>.",
        "operationId": "bgpNeighbor_v1",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "interface",
            "in": "query",
            "description": "Interface",
            "required": false,
            "type": "string"
          },
          {
            "name": "local_address",
            "in": "query",
            "description": "Local address",
            "required": false,
            "type": "string"
          },
          {
            "name": "local_as",
            "in": "query",
            "description": "Local as",
            "required": false,
            "type": "string"
          },
          {
            "name": "peer_as",
            "in": "query",
            "description": "Peer as",
            "required": false,
            "type": "string"
          },
          {
            "name": "peer_address",
            "in": "query",
            "description": "Peer address",
            "required": false,
            "type": "string"
          },
          {
            "name": "domain",
            "in": "query",
            "description": "Domain",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "400": {
            "description": "Invalid options"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/bridgeDomain": {
      "get": {
        "summary": "Bridge domain",
        "description": "Bridge domain. Supported networks are <span style=\"color:green;font-weight:bold;\">green</span>, <span style=\"color:blue;font-weight:bold;\">blue</span>.",
        "operationId": "bridgeDomain_v1",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "hostname",
            "in": "query",
            "description": "Hostname of device",
            "required": false,
            "type": "string"
          },
          {
            "name": "interface",
            "in": "query",
            "description": "Interface",
            "required": false,
            "type": "string"
          },
          {
            "name": "route_target",
            "in": "query",
            "description": "Route target",
            "required": false,
            "type": "string"
          },
          {
            "name": "vpn_id",
            "in": "query",
            "description": "VPN ID",
            "required": false,
            "type": "string"
          },
          {
            "name": "bridge_domain",
            "in": "query",
            "description": "Bridge domain",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "400": {
            "description": "Invalid options"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/capacity": {
      "get": {
        "summary": "Capacity",
        "description": "Capacity. Supported networks are <span style=\"color:green;font-weight:bold;\">green</span>, <span style=\"color:blue;font-weight:bold;\">blue</span>.",
        "operationId": "capacity_v1",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "hostname",
            "in": "query",
            "description": "Hostname of device",
            "required": true,
            "type": "string"
          },
          {
            "name": "tid",
            "in": "query",
            "description": "TID",
            "required": false,
            "type": "string"
          },
          {
            "name": "vendor",
            "in": "query",
            "description": "Vendor",
            "required": false,
            "type": "string"
          },
          {
            "name": "chassis",
            "in": "query",
            "description": "Chassis",
            "required": false,
            "type": "string"
          },
          {
            "name": "domain",
            "in": "query",
            "description": "Domain",
            "required": false,
            "type": "string"
          },
          {
            "name": "interface",
            "in": "query",
            "description": "Interface",
            "required": false,
            "type": "string"
          },
          {
            "name": "status",
            "in": "query",
            "description": "Status",
            "required": false,
            "type": "string"
          },
          {
            "name": "circuit",
            "in": "query",
            "description": "Circuit",
            "required": false,
            "type": "string"
          },
          {
            "name": "description",
            "in": "query",
            "description": "Description",
            "required": false,
            "type": "string"
          },
          {
            "name": "hardware_mac",
            "in": "query",
            "description": "Hardware MAC",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "400": {
            "description": "Invalid options"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/chassis": {
      "get": {
        "summary": "Chassis",
        "description": "Device by chassis. Supported networks are <span style=\"color:green;font-weight:bold;\">green</span>.",
        "operationId": "chassis_v1",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "chassis",
            "in": "query",
            "description": "Chassis of device",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "400": {
            "description": "Invalid options"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/configInterface": {
      "get": {
        "summary": "Config interface",
        "description": "Config interface. Supported networks are <span style=\"color:green;font-weight:bold;\">green</span>.",
        "operationId": "configInterface_v1",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "router",
            "in": "query",
            "description": "Router",
            "required": false,
            "type": "string"
          },
          {
            "name": "interface",
            "in": "query",
            "description": "Interface",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "400": {
            "description": "Invalid options"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/configuration": {
      "get": {
        "summary": "Configuration",
        "description": "Configuration. Supported networks are <span style=\"color:green;font-weight:bold;\">green</span>, <span style=\"color:blue;font-weight:bold;\">blue</span>.",
        "operationId": "configuration_v1",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "hostname",
            "in": "query",
            "description": "Hostname of device",
            "required": true,
            "type": "string"
          },
          {
            "name": "interface",
            "in": "query",
            "description": "Interface",
            "required": false,
            "type": "string"
          },
          {
            "name": "tid",
            "in": "query",
            "description": "TID",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "400": {
            "description": "Invalid options"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/device": {
      "get": {
        "summary": "Device",
        "description": "Device by hostname. Supported networks are <span style=\"color:green;font-weight:bold;\">green</span>, <span style=\"color:blue;font-weight:bold;\">blue</span>.",
        "operationId": "device_v1",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "hostname",
            "in": "query",
            "description": "Hostname of device",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "400": {
            "description": "Invalid options"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/devices": {
      "get": {
        "summary": "Devices",
        "description": "Devices. Supported networks are <span style=\"color:green;font-weight:bold;\">green</span>, <span style=\"color:blue;font-weight:bold;\">blue</span>.",
        "operationId": "devices_v1",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "tid",
            "in": "query",
            "description": "TID",
            "required": false,
            "type": "string"
          },
          {
            "name": "vendor",
            "in": "query",
            "description": "Vendor",
            "required": false,
            "type": "string"
          },
          {
            "name": "chassis",
            "in": "query",
            "description": "Chassis",
            "required": false,
            "type": "string"
          },
          {
            "name": "role",
            "in": "query",
            "description": "Role",
            "required": false,
            "type": "string"
          },
          {
            "name": "domain",
            "in": "query",
            "description": "Domain",
            "required": false,
            "type": "string"
          },
          {
            "name": "code",
            "in": "query",
            "description": "Code",
            "required": false,
            "type": "string"
          },
          {
            "name": "site",
            "in": "query",
            "description": "site",
            "required": false,
            "type": "string"
          },
          {
            "name": "location",
            "in": "query",
            "description": "Location",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "400": {
            "description": "Invalid options"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/discoveryProtocol": {
      "get": {
        "summary": "Discovery protocol",
        "description": "Discovery protocol. Supported networks are <span style=\"color:green;font-weight:bold;\">green</span>.",
        "operationId": "discoveryProtocol_v1",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "router",
            "in": "query",
            "description": "Router",
            "required": false,
            "type": "string"
          },
          {
            "name": "interface",
            "in": "query",
            "description": "Interface",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "400": {
            "description": "Invalid options"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/flatConfig": {
      "get": {
        "summary": "Flat config",
        "description": "Flat config. Supported networks are <span style=\"color:green;font-weight:bold;\">green</span>, <span style=\"color:blue;font-weight:bold;\">blue</span>.",
        "operationId": "flatConfig_v1",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "hostname",
            "in": "query",
            "description": "Hostname of device",
            "required": true,
            "type": "string"
          },
          {
            "name": "tid",
            "in": "query",
            "description": "TID",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "400": {
            "description": "Invalid options"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/iaSite": {
      "get": {
        "summary": "Internal affairs site",
        "description": "Internal affairs site. Supported networks are <span style=\"color:green;font-weight:bold;\">green</span>, <span style=\"color:blue;font-weight:bold;\">blue</span>.",
        "operationId": "iaSite_v1",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "site",
            "in": "query",
            "description": "Site",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "400": {
            "description": "Invalid options"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/interface": {
      "get": {
        "summary": "Interface",
        "description": "Interface. Supported networks are <span style=\"color:green;font-weight:bold;\">green</span>, <span style=\"color:blue;font-weight:bold;\">blue</span>.",
        "operationId": "interface_v1",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "mac",
            "in": "query",
            "description": "MAC address",
            "required": true,
            "type": "string"
          },
          {
            "name": "interface_type",
            "in": "query",
            "description": "Interface type",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "400": {
            "description": "Invalid options"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/interfaceDescr": {
      "get": {
        "summary": "Interface description",
        "description": "Interface description. Supported networks are <span style=\"color:green;font-weight:bold;\">green</span>, <span style=\"color:blue;font-weight:bold;\">blue</span>.",
        "operationId": "interfaceDescr_v1",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "ringport",
            "in": "query",
            "description": "Ring port",
            "required": false,
            "type": "string"
          },
          {
            "name": "interface",
            "in": "query",
            "description": "Interface",
            "required": false,
            "type": "string"
          },
          {
            "name": "interface_desc",
            "in": "query",
            "description": "Interface description",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "400": {
            "description": "Invalid options"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/interfaceList": {
      "get": {
        "summary": "Interface list",
        "description": "Interface list. Supported networks are <span style=\"color:green;font-weight:bold;\">green</span>, <span style=\"color:blue;font-weight:bold;\">blue</span>.",
        "operationId": "interfaceList_v1",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "tid",
            "in": "query",
            "description": "TID",
            "required": false,
            "type": "string"
          },
          {
            "name": "vendor",
            "in": "query",
            "description": "Vendor",
            "required": false,
            "type": "string"
          },
          {
            "name": "chassis",
            "in": "query",
            "description": "Chassis",
            "required": false,
            "type": "string"
          },
          {
            "name": "role",
            "in": "query",
            "description": "Role",
            "required": false,
            "type": "string"
          },
          {
            "name": "interface",
            "in": "query",
            "description": "Interface",
            "required": false,
            "type": "string"
          },
          {
            "name": "parent_interface",
            "in": "query",
            "description": "Parent interface",
            "required": false,
            "type": "string"
          },
          {
            "name": "bundle",
            "in": "query",
            "description": "Bundle",
            "required": false,
            "type": "string"
          },
          {
            "name": "status",
            "in": "query",
            "description": "Status",
            "required": false,
            "type": "string"
          },
          {
            "name": "vlan",
            "in": "query",
            "description": "VLAN",
            "required": false,
            "type": "string"
          },
          {
            "name": "circuit",
            "in": "query",
            "description": "Circuit",
            "required": false,
            "type": "string"
          },
          {
            "name": "description",
            "in": "query",
            "description": "Description",
            "required": false,
            "type": "string"
          },
          {
            "name": "logical",
            "in": "query",
            "description": "Logical",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "400": {
            "description": "Invalid options"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/interfaceTst": {
      "get": {
        "summary": "Interface TST",
        "description": "Interface TST. Supported networks are <span style=\"color:green;font-weight:bold;\">green</span>, <span style=\"color:blue;font-weight:bold;\">blue</span>.",
        "operationId": "interfaceTst_v1",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "tid",
            "in": "query",
            "description": "TID",
            "required": false,
            "type": "string"
          },
          {
            "name": "vendor",
            "in": "query",
            "description": "Vendor",
            "required": false,
            "type": "string"
          },
          {
            "name": "chassis",
            "in": "query",
            "description": "Chassis",
            "required": false,
            "type": "string"
          },
          {
            "name": "role",
            "in": "query",
            "description": "Role",
            "required": false,
            "type": "string"
          },
          {
            "name": "ringport",
            "in": "query",
            "description": "Ring port",
            "required": false,
            "type": "string"
          },
          {
            "name": "interface",
            "in": "query",
            "description": "Interface",
            "required": false,
            "type": "string"
          },
          {
            "name": "parent_interface",
            "in": "query",
            "description": "Parent interface",
            "required": false,
            "type": "string"
          },
          {
            "name": "bundle",
            "in": "query",
            "description": "Bundle",
            "required": false,
            "type": "string"
          },
          {
            "name": "bundle_members",
            "in": "query",
            "description": "Bundle members",
            "required": false,
            "type": "string"
          },
          {
            "name": "bundle_members_count",
            "in": "query",
            "description": "Bundle members count",
            "required": false,
            "type": "string"
          },
          {
            "name": "status",
            "in": "query",
            "description": "Status",
            "required": false,
            "type": "string"
          },
          {
            "name": "vlan",
            "in": "query",
            "description": "VLAN",
            "required": false,
            "type": "string"
          },
          {
            "name": "circuit",
            "in": "query",
            "description": "Circuit",
            "required": false,
            "type": "string"
          },
          {
            "name": "description",
            "in": "query",
            "description": "Description",
            "required": false,
            "type": "string"
          },
          {
            "name": "hardware_mac",
            "in": "query",
            "description": "Hardware MAC",
            "required": false,
            "type": "string"
          },
          {
            "name": "ip_local",
            "in": "query",
            "description": "IP local",
            "required": false,
            "type": "string"
          },
          {
            "name": "logical",
            "in": "query",
            "description": "Logical",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "400": {
            "description": "Invalid options"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/inventoryPart": {
      "get": {
        "summary": "Inventory part",
        "description": "Inventory part. Supported networks are <span style=\"color:green;font-weight:bold;\">green</span>, <span style=\"color:blue;font-weight:bold;\">blue</span>.",
        "operationId": "inventoryPart_v1",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "vendor",
            "in": "query",
            "description": "Vendor",
            "required": false,
            "type": "string"
          },
          {
            "name": "domain",
            "in": "query",
            "description": "Domain",
            "required": false,
            "type": "string"
          },
          {
            "name": "chassis",
            "in": "query",
            "description": "Chassis",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "400": {
            "description": "Invalid options"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/ipRoute": {
      "get": {
        "summary": "IP route",
        "description": "IP route. Supported networks are <span style=\"color:green;font-weight:bold;\">green</span>, <span style=\"color:blue;font-weight:bold;\">blue</span>.",
        "operationId": "ipRoute_v1",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "route",
            "in": "query",
            "description": "Route",
            "required": false,
            "type": "string"
          },
          {
            "name": "cidr",
            "in": "query",
            "description": "CIDR",
            "required": false,
            "type": "string"
          },
          {
            "name": "name",
            "in": "query",
            "description": "Name",
            "required": false,
            "type": "string"
          },
          {
            "name": "hostname",
            "in": "query",
            "description": "Hostname",
            "required": false,
            "type": "string"
          },
          {
            "name": "detail",
            "in": "query",
            "description": "Detail",
            "required": false,
            "type": "string"
          },
          {
            "name": "local",
            "in": "query",
            "description": "Local",
            "required": false,
            "type": "string"
          },
          {
            "name": "next_hop",
            "in": "query",
            "description": "Next hop",
            "required": false,
            "type": "string"
          },
          {
            "name": "domain",
            "in": "query",
            "description": "Domain",
            "required": false,
            "type": "string"
          },
          {
            "name": "type",
            "in": "query",
            "description": "Type",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "400": {
            "description": "Invalid options"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/mac": {
      "get": {
        "summary": "MAC address table",
        "description": "MAC address table. Supported networks are <span style=\"color:green;font-weight:bold;\">green</span>.",
        "operationId": "mac_v1",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "router",
            "in": "query",
            "description": "Router",
            "required": false,
            "type": "string"
          },
          {
            "name": "interface",
            "in": "query",
            "description": "Interface",
            "required": false,
            "type": "string"
          },
          {
            "name": "mac_address",
            "in": "query",
            "description": "MAC address",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "400": {
            "description": "Invalid options"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/megLevel": {
      "get": {
        "summary": "Meg level",
        "description": "Meg level. Supported networks are <span style=\"color:green;font-weight:bold;\">green</span>, <span style=\"color:blue;font-weight:bold;\">blue</span>.",
        "operationId": "megLevel_v1",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "hostname",
            "in": "query",
            "description": "Hostname of device",
            "required": false,
            "type": "string"
          },
          {
            "name": "vendor",
            "in": "query",
            "description": "Vendor",
            "required": false,
            "type": "string"
          },
          {
            "name": "location",
            "in": "query",
            "description": "Location",
            "required": false,
            "type": "string"
          },
          {
            "name": "domain",
            "in": "query",
            "description": "Domain",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "400": {
            "description": "Invalid options"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/netflow": {
      "get": {
        "summary": "Netflow",
        "description": "Netflow. Supported networks are <span style=\"color:green;font-weight:bold;\">green</span>, <span style=\"color:blue;font-weight:bold;\">blue</span>.",
        "operationId": "netflow_v1",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "code",
            "in": "query",
            "description": "Code",
            "required": false,
            "type": "string"
          },
          {
            "name": "vendor",
            "in": "query",
            "description": "Vendor",
            "required": false,
            "type": "string"
          },
          {
            "name": "domain",
            "in": "query",
            "description": "Domain",
            "required": false,
            "type": "string"
          },
          {
            "name": "collector",
            "in": "query",
            "description": "Collector",
            "required": false,
            "type": "string"
          },
          {
            "name": "port",
            "in": "query",
            "description": "Port",
            "required": false,
            "type": "string"
          },
          {
            "name": "total_collectors",
            "in": "query",
            "description": "Total collectors",
            "required": false,
            "type": "string"
          },
          {
            "name": "version",
            "in": "query",
            "description": "Version",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "400": {
            "description": "Invalid options"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/opsDoubleAssigned": {
      "get": {
        "summary": "Ops double assigned",
        "description": "Ops double assigned. Supported networks are <span style=\"color:green;font-weight:bold;\">green</span>, <span style=\"color:blue;font-weight:bold;\">blue</span>.",
        "operationId": "opsDoubleAssigned_v1",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "400": {
            "description": "Invalid options"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/opsRepDown": {
      "get": {
        "summary": "Ops rep down",
        "description": "Ops rep down. Supported networks are <span style=\"color:green;font-weight:bold;\">green</span>, <span style=\"color:blue;font-weight:bold;\">blue</span>.",
        "operationId": "opsRepDown_v1",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "400": {
            "description": "Invalid options"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/ringBandwidth": {
      "get": {
        "summary": "Ring bandwidth",
        "description": "Ring bandwidth. Supported networks are <span style=\"color:green;font-weight:bold;\">green</span>, <span style=\"color:blue;font-weight:bold;\">blue</span>.",
        "operationId": "ringBandwidth_v1",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "400": {
            "description": "Invalid options"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/ringCapacity": {
      "get": {
        "summary": "Ring capacity",
        "description": "Ring capacity. Supported networks are <span style=\"color:green;font-weight:bold;\">green</span>, <span style=\"color:blue;font-weight:bold;\">blue</span>.",
        "operationId": "ringCapacity_v1",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "400": {
            "description": "Invalid options"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/ringDcRisk": {
      "get": {
        "summary": "Ring DC risk",
        "description": "Ring DC risk. Supported networks are <span style=\"color:green;font-weight:bold;\">green</span>, <span style=\"color:blue;font-weight:bold;\">blue</span>.",
        "operationId": "ringDcRisk_v1",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "400": {
            "description": "Invalid options"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/ringDetail": {
      "get": {
        "summary": "Ring detail",
        "description": "Ring detail. Supported networks are <span style=\"color:green;font-weight:bold;\">green</span>, <span style=\"color:blue;font-weight:bold;\">blue</span>.",
        "operationId": "ringDetail_v1",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "description": "Name",
            "required": false,
            "type": "string"
          },
          {
            "name": "bw_speed",
            "in": "query",
            "description": "BW speed",
            "required": false,
            "type": "string"
          },
          {
            "name": "role",
            "in": "query",
            "description": "Role",
            "required": false,
            "type": "string"
          },
          {
            "name": "ring",
            "in": "query",
            "description": "Ring",
            "required": false,
            "type": "string"
          },
          {
            "name": "location",
            "in": "query",
            "description": "Location",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "400": {
            "description": "Invalid options"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/ringLink": {
      "get": {
        "summary": "Ring link",
        "description": "Ring link. Supported networks are <span style=\"color:green;font-weight:bold;\">green</span>, <span style=\"color:blue;font-weight:bold;\">blue</span>.",
        "operationId": "ringLink_v1",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "domain",
            "in": "query",
            "description": "Domain",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "400": {
            "description": "Invalid options"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/ringMaps": {
      "get": {
        "summary": "Ring maps",
        "description": "Ring maps. Supported networks are <span style=\"color:green;font-weight:bold;\">green</span>, <span style=\"color:blue;font-weight:bold;\">blue</span>.",
        "operationId": "ringMaps_v1",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "ring_id",
            "in": "query",
            "description": "Ring ID",
            "required": true,
            "type": "string"
          },
          {
            "name": "date",
            "in": "query",
            "description": "Date",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "400": {
            "description": "Invalid options"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/ringNode": {
      "get": {
        "summary": "Ring node",
        "description": "Ring node. Supported networks are <span style=\"color:green;font-weight:bold;\">green</span>, <span style=\"color:blue;font-weight:bold;\">blue</span>.",
        "operationId": "ringNode_v1",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "domain",
            "in": "query",
            "description": "Domain",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "400": {
            "description": "Invalid options"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/ringOverOpt": {
      "get": {
        "summary": "Ring over opt",
        "description": "Ring over opt. Supported networks are <span style=\"color:green;font-weight:bold;\">green</span>, <span style=\"color:blue;font-weight:bold;\">blue</span>.",
        "operationId": "ringOverOpt",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "400": {
            "description": "Invalid options"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/ringOverSub": {
      "get": {
        "summary": "Ring over sub",
        "description": "Ring over sub. Supported networks are <span style=\"color:green;font-weight:bold;\">green</span>, <span style=\"color:blue;font-weight:bold;\">blue</span>.",
        "operationId": "ringOverSub_v1",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "400": {
            "description": "Invalid options"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/ringSize": {
      "get": {
        "summary": "Ring size",
        "description": "Ring size. Supported networks are <span style=\"color:green;font-weight:bold;\">green</span>, <span style=\"color:blue;font-weight:bold;\">blue</span>.",
        "operationId": "ringSize_v1",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "400": {
            "description": "Invalid options"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/stpDomain": {
      "get": {
        "summary": "STP Domain",
        "description": "STP Domain. Supported networks are <span style=\"color:green;font-weight:bold;\">green</span>, <span style=\"color:blue;font-weight:bold;\">blue</span>.",
        "operationId": "stpDomain_v1",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "a",
            "in": "query",
            "description": "a",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "400": {
            "description": "Invalid options"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/sva": {
      "get": {
        "summary": "SVA services",
        "description": "SVA services. Supported networks are <span style=\"color:green;font-weight:bold;\">green</span>.",
        "operationId": "sva_v1",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "hostname",
            "in": "query",
            "description": "Hostname of device",
            "required": true,
            "type": "string"
          },
          {
            "name": "interface",
            "in": "query",
            "description": "Device interface",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "400": {
            "description": "Invalid options"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/usage9k": {
      "get": {
        "summary": "Usage 9k sub interface",
        "description": "Usage 9k sub interface. Supported networks are <span style=\"color:green;font-weight:bold;\">green</span>, <span style=\"color:blue;font-weight:bold;\">blue</span>.",
        "operationId": "usage9k_v1",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "hostname",
            "in": "query",
            "description": "Hostname of device",
            "required": true,
            "type": "string"
          },
          {
            "name": "tid",
            "in": "query",
            "description": "TID",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "400": {
            "description": "Invalid options"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/uplinkBandwidth": {
      "get": {
        "summary": "Uplink bandwidth",
        "description": "Uplink bandwidth. Supported networks are <span style=\"color:green;font-weight:bold;\">green</span>, <span style=\"color:blue;font-weight:bold;\">blue</span>.",
        "operationId": "uplinkBandwidth_v1",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "400": {
            "description": "Invalid options"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/uplinkCapacity": {
      "get": {
        "summary": "Uplink capacity",
        "description": "Uplink capacity. Supported networks are <span style=\"color:green;font-weight:bold;\">green</span>, <span style=\"color:blue;font-weight:bold;\">blue</span>.",
        "operationId": "uplinkCapacity_v1",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "400": {
            "description": "Invalid options"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/uplinkCapacity1g": {
      "get": {
        "summary": "Uplink capacity 1G",
        "description": "Uplink capacity 1G. Supported networks are <span style=\"color:green;font-weight:bold;\">green</span>, <span style=\"color:blue;font-weight:bold;\">blue</span>.",
        "operationId": "uplinkCapacity1g_v1",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "400": {
            "description": "Invalid options"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/uplinkCapacity10g": {
      "get": {
        "summary": "Uplink capacity 10G",
        "description": "Uplink capacity 10G. Supported networks are <span style=\"color:green;font-weight:bold;\">green</span>, <span style=\"color:blue;font-weight:bold;\">blue</span>.",
        "operationId": "uplinkCapacity10g_v1",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "400": {
            "description": "Invalid options"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/vlanDb": {
      "get": {
        "summary": "VLAN DB",
        "description": "VLAN DB. Supported networks are <span style=\"color:green;font-weight:bold;\">green</span>, <span style=\"color:blue;font-weight:bold;\">blue</span>.",
        "operationId": "vlanDb_v1",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "tid",
            "in": "query",
            "description": "TID",
            "required": false,
            "type": "string"
          },
          {
            "name": "vendor",
            "in": "query",
            "description": "Vendor",
            "required": false,
            "type": "string"
          },
          {
            "name": "chassis",
            "in": "query",
            "description": "Chassis",
            "required": false,
            "type": "string"
          },
          {
            "name": "role",
            "in": "query",
            "description": "Role",
            "required": false,
            "type": "string"
          },
          {
            "name": "interface",
            "in": "query",
            "description": "Interface",
            "required": false,
            "type": "string"
          },
          {
            "name": "logical",
            "in": "query",
            "description": "Logical",
            "required": false,
            "type": "string"
          },
          {
            "name": "vlan",
            "in": "query",
            "description": "VLAN",
            "required": false,
            "type": "string"
          },
          {
            "name": "description",
            "in": "query",
            "description": "Description",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "400": {
            "description": "Invalid options"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/vlanList": {
      "get": {
        "summary": "VLAN list",
        "description": "VLAN list. Supported networks are <span style=\"color:green;font-weight:bold;\">green</span>, <span style=\"color:blue;font-weight:bold;\">blue</span>.",
        "operationId": "vlanList_v1",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "tid",
            "in": "query",
            "description": "TID",
            "required": false,
            "type": "string"
          },
          {
            "name": "vendor",
            "in": "query",
            "description": "Vendor",
            "required": false,
            "type": "string"
          },
          {
            "name": "chassis",
            "in": "query",
            "description": "Chassis",
            "required": false,
            "type": "string"
          },
          {
            "name": "role",
            "in": "query",
            "description": "Role",
            "required": false,
            "type": "string"
          },
          {
            "name": "vlan",
            "in": "query",
            "description": "VLAN",
            "required": false,
            "type": "string"
          },
          {
            "name": "description",
            "in": "query",
            "description": "Description",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "400": {
            "description": "Invalid options"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    }
  }
}