{
  "openapi": "3.0.3",
  "info": {
    "title": "Lingo.dev Localization API",
    "version": "1.0.0",
    "description": "Lingo.dev (formerly Replexica) is an AI-powered localization API. Provides real-time translation of text, objects, HTML, and chat content with language recognition capabilities.",
    "x-jentic-source-url": "https://lingo.dev/docs/api",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://engine.lingo.dev"
    }
  ],
  "paths": {
    "/localize": {
      "post": {
        "operationId": "localizeText",
        "summary": "Localize text",
        "description": "Translate plain text from source locale to target locale using AI.",
        "tags": [
          "Localization"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LocalizeTextRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Localized text",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LocalizeTextResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/localize/object": {
      "post": {
        "operationId": "localizeObject",
        "summary": "Localize JSON object",
        "description": "Translate values in a JSON object while preserving the structure and keys.",
        "tags": [
          "Localization"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LocalizeObjectRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Localized object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LocalizeObjectResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/localize/html": {
      "post": {
        "operationId": "localizeHtml",
        "summary": "Localize HTML content",
        "description": "Translate HTML content while preserving markup, tags, and attributes.",
        "tags": [
          "Localization"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LocalizeHtmlRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Localized HTML",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LocalizeHtmlResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/localize/chat": {
      "post": {
        "operationId": "localizeChat",
        "summary": "Localize chat messages",
        "description": "Translate chat conversation messages while preserving speaker names and message structure.",
        "tags": [
          "Localization"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LocalizeChatRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Localized chat",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LocalizeChatResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/localize/batch": {
      "post": {
        "operationId": "batchLocalizeText",
        "summary": "Batch localize text",
        "description": "Translate text to multiple target locales in a single request.",
        "tags": [
          "Localization"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchLocalizeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Batch localization results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchLocalizeResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/recognize": {
      "post": {
        "operationId": "recognizeLocale",
        "summary": "Recognize language",
        "description": "Detect the language/locale of input text.",
        "tags": [
          "Recognition"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RecognizeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Recognized locale",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RecognizeResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "LocalizeTextRequest": {
        "type": "object",
        "required": [
          "text",
          "sourceLocale",
          "targetLocale"
        ],
        "properties": {
          "text": {
            "type": "string",
            "description": "Text to translate"
          },
          "sourceLocale": {
            "type": "string",
            "description": "BCP-47 source locale (e.g., en)"
          },
          "targetLocale": {
            "type": "string",
            "description": "BCP-47 target locale (e.g., es)"
          }
        }
      },
      "LocalizeTextResponse": {
        "type": "object",
        "properties": {
          "text": {
            "type": "string",
            "description": "Translated text"
          },
          "sourceLocale": {
            "type": "string"
          },
          "targetLocale": {
            "type": "string"
          }
        }
      },
      "LocalizeObjectRequest": {
        "type": "object",
        "required": [
          "object",
          "sourceLocale",
          "targetLocale"
        ],
        "properties": {
          "object": {
            "type": "object",
            "description": "JSON object with values to translate"
          },
          "sourceLocale": {
            "type": "string"
          },
          "targetLocale": {
            "type": "string"
          }
        }
      },
      "LocalizeObjectResponse": {
        "type": "object",
        "properties": {
          "object": {
            "type": "object",
            "description": "Translated JSON object with same structure"
          },
          "sourceLocale": {
            "type": "string"
          },
          "targetLocale": {
            "type": "string"
          }
        }
      },
      "LocalizeHtmlRequest": {
        "type": "object",
        "required": [
          "html",
          "sourceLocale",
          "targetLocale"
        ],
        "properties": {
          "html": {
            "type": "string",
            "description": "HTML content to translate"
          },
          "sourceLocale": {
            "type": "string"
          },
          "targetLocale": {
            "type": "string"
          }
        }
      },
      "LocalizeHtmlResponse": {
        "type": "object",
        "properties": {
          "html": {
            "type": "string",
            "description": "Translated HTML with preserved markup"
          },
          "sourceLocale": {
            "type": "string"
          },
          "targetLocale": {
            "type": "string"
          }
        }
      },
      "LocalizeChatRequest": {
        "type": "object",
        "required": [
          "messages",
          "sourceLocale",
          "targetLocale"
        ],
        "properties": {
          "messages": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "description": "Speaker name (preserved, not translated)"
                },
                "text": {
                  "type": "string",
                  "description": "Message text to translate"
                }
              }
            }
          },
          "sourceLocale": {
            "type": "string"
          },
          "targetLocale": {
            "type": "string"
          }
        }
      },
      "LocalizeChatResponse": {
        "type": "object",
        "properties": {
          "messages": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                },
                "text": {
                  "type": "string"
                }
              }
            }
          },
          "sourceLocale": {
            "type": "string"
          },
          "targetLocale": {
            "type": "string"
          }
        }
      },
      "BatchLocalizeRequest": {
        "type": "object",
        "required": [
          "text",
          "sourceLocale",
          "targetLocales"
        ],
        "properties": {
          "text": {
            "type": "string",
            "description": "Text to translate"
          },
          "sourceLocale": {
            "type": "string"
          },
          "targetLocales": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Array of target BCP-47 locales"
          }
        }
      },
      "BatchLocalizeResponse": {
        "type": "object",
        "properties": {
          "results": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "Map of locale to translated text"
          },
          "sourceLocale": {
            "type": "string"
          }
        }
      },
      "RecognizeRequest": {
        "type": "object",
        "required": [
          "text"
        ],
        "properties": {
          "text": {
            "type": "string",
            "description": "Text to detect language for"
          }
        }
      },
      "RecognizeResponse": {
        "type": "object",
        "properties": {
          "locale": {
            "type": "string",
            "description": "Detected BCP-47 locale code"
          },
          "confidence": {
            "type": "number",
            "description": "Confidence score 0-1"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Lingo.dev API key"
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Localization"
    },
    {
      "name": "Recognition"
    }
  ]
}
