{
  "openapi": "3.0.1",
  "info": {
    "title": "Welcome to the VAAS API Reference!",
    "description": "# Overview\n\nHere, you'll find documentation on all our VAAS REST API endpoints.\n\n# Authentication\n\n## Direct API calls\n\nFor direct API calls, VAAS uses API keys for authentication on all API calls.\n\nClients must include an Authorization header with the value `Basic {base64_encoded_credentials}` for every API request. The **{base64_encoded_credentials}** should be a base64-encoded string in the format **apiTokenId:apiTokenSecret**.\n\nTo obtain API keys, please contact support.\n\n## API calls from third-party integration\n\nLearn more about [here](/docs/category/third-party-integrations).\n\n# HTTP Status Code\n\n- **200** - `OK` - Request processed as expected.\n- **400** - `INVALID_REQUEST` - Request is not well-formed, violates schema or incorrect fields.\n- **401** - `NOT_AUTHORIZED` - The API key doesn't match or doesn't have permissions to perform the request.\n- **403** - `FORBIDDEN` - The API key's permissions doesn't match the needed permission to complete the request.\n- **404** - `RESOURCE_NOT_FOUND` - The requested resource doesn't exist.\n- **429** - `RATE_LIMIT_REACHED` - Too many requests. Blocked due to rate limiting.\n- **5XX** - Something went wrong on VAAS' end\n\n<SecurityDefinitions />\n",
    "contact": {
      "name": "API Support",
      "url": "https://developers.vaas.live",
      "email": "support@vaas.live"
    },
    "version": "v1",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/RR147440/VAAS/v1"
  },
  "servers": [
    {
      "url": "https://api.vaas.live"
    }
  ],
  "tags": [
    {
      "name": "workflow-v1.0.0",
      "description": "Operations about workflows.",
      "x-displayName": "Workflow v1.0.0"
    },
    {
      "name": "workflow-execution-v1.0.0",
      "description": "Operations about workflow executions.",
      "x-displayName": "Workflow Execution"
    },
    {
      "name": "workflow-v1.1.0",
      "description": "Operations about workflows.",
      "x-displayName": "Workflow v1.1.0"
    },
    {
      "name": "workflow-execution-v1.1.0",
      "description": "Operations about workflow executions.",
      "x-displayName": "Workflow Execution"
    },
    {
      "name": "workflow-execution-v1.1.1",
      "description": "Operations about workflow executions.",
      "x-displayName": "Workflow Execution"
    },
    {
      "name": "decision-v3.0.0",
      "description": "Operations about decision desk cases.",
      "x-displayName": "Decision Desk - Case v3.0.0"
    },
    {
      "name": "decision-v3.1.0",
      "description": "Operations about decision desk cases.",
      "x-displayName": "Decision Desk - Case v3.1.0"
    },
    {
      "name": "decision-case-v1.0.0",
      "description": "Operations about decision desk cases.",
      "x-displayName": "Decision Desk - Case v1.0.0"
    },
    {
      "name": "decision-case-v2.0.0",
      "description": "Operations about decision desk cases.",
      "x-displayName": "Decision Desk - Case v2.0.0"
    },
    {
      "name": "form-submission-v1.0.0",
      "description": "Operations for form submission over API.",
      "x-displayName": "FormSubmission 1.0.0"
    }
  ],
  "paths": {
    "/workflows/v1/{workflowId}/versions/{workflowVersionId}/execute-test": {
      "post": {
        "tags": [
          "workflow-v1.0.0"
        ],
        "summary": "Executes a test workflow.",
        "description": " Runs a test workflow execution on a draft version.\n\nThe execution request body is dynamic and depends on the configured entrypoint data source for the workflow you want to execute. Below are examples of different possible request bodies.\n\n**Example - Onboarding PF**\n```json\n{\n    \"cpf\": \"87813245881\",\n    \"name\": \"John Due\",\n    \"phone\": \"8178829287\",\n    \"eamil\": \"john.due@example.com\"\n}\n```\n\n**Example - Onboarding PJ**\n```json\n{\n    \"cnpj\": \"69454356000100\"\n}\n```\n\n**Example - Crypto wallet screening**\n```json\n{\n    \"address\": \"1FfmbHfnpaZjKFvyi1okTjJJusN455paPH\"\n}\n```\n\n",
        "operationId": "executeVersionTest",
        "parameters": [
          {
            "name": "workflowId",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {}
          },
          {
            "name": "workflowVersionId",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {}
          },
          {
            "name": "tagIds",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "items": {}
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {}
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "An workflow execution result object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExecuteWorkflowV1_0_0Response"
                }
              }
            }
          }
        },
        "deprecated": true
      }
    },
    "/workflows/v1/{workflowId}/versions/{workflowVersionId}/execute-test-async": {
      "post": {
        "tags": [
          "workflow-v1.0.0"
        ],
        "summary": "Executes a test workflow asynchronously.",
        "description": " Runs a test workflow execution on a draft version.\n\nThe execution request body is dynamic and depends on the configured entrypoint data source for the workflow you want to execute. Below are examples of different possible request bodies.\n\n**Example - Onboarding PF**\n```json\n{\n    \"cpf\": \"87813245881\",\n    \"name\": \"John Due\",\n    \"phone\": \"8178829287\",\n    \"eamil\": \"john.due@example.com\"\n}\n```\n\n**Example - Onboarding PJ**\n```json\n{\n    \"cnpj\": \"69454356000100\"\n}\n```\n\n**Example - Crypto wallet screening**\n```json\n{\n    \"address\": \"1FfmbHfnpaZjKFvyi1okTjJJusN455paPH\"\n}\n```\n\n",
        "operationId": "executeVersionTestAsync",
        "parameters": [
          {
            "name": "workflowId",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {}
          },
          {
            "name": "workflowVersionId",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {}
          },
          {
            "name": "tagIds",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "items": {}
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {}
            }
          },
          "required": true
        },
        "responses": {
          "202": {
            "description": "An workflow execution id",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExecuteWorkflowResponse"
                }
              }
            }
          }
        },
        "deprecated": true
      }
    },
    "/workflows/v1/{workflowId}/execute": {
      "post": {
        "tags": [
          "workflow-v1.0.0"
        ],
        "summary": "Executes a workflow.",
        "description": " Runs a workflow on your currently deployed version.\n\nThe execution request body is dynamic and depends on the configured entrypoint data source for the workflow you want to execute. Below are examples of different possible request bodies.\n\n**Example - Onboarding PF**\n```json\n{\n    \"cpf\": \"87813245881\",\n    \"name\": \"John Due\",\n    \"phone\": \"8178829287\",\n    \"eamil\": \"john.due@example.com\"\n}\n```\n\n**Example - Onboarding PJ**\n```json\n{\n    \"cnpj\": \"69454356000100\"\n}\n```\n\n**Example - Crypto wallet screening**\n```json\n{\n    \"address\": \"1FfmbHfnpaZjKFvyi1okTjJJusN455paPH\"\n}\n```\n\n",
        "operationId": "execute",
        "parameters": [
          {
            "name": "workflowId",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {}
          },
          {
            "name": "tagIds",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "items": {}
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {}
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "An workflow execution result object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExecuteWorkflowV1_0_0Response"
                }
              }
            }
          }
        },
        "deprecated": true
      }
    },
    "/workflows/v1/{workflowId}/execute-async": {
      "post": {
        "tags": [
          "workflow-v1.0.0"
        ],
        "summary": "Executes a workflow asynchronously.",
        "description": " Runs a workflow on your currently deployed version.\n\nThe execution request body is dynamic and depends on the configured entrypoint data source for the workflow you want to execute. Below are examples of different possible request bodies.\n\n**Example - Onboarding PF**\n```json\n{\n    \"cpf\": \"87813245881\",\n    \"name\": \"John Due\",\n    \"phone\": \"8178829287\",\n    \"eamil\": \"john.due@example.com\"\n}\n```\n\n**Example - Onboarding PJ**\n```json\n{\n    \"cnpj\": \"69454356000100\"\n}\n```\n\n**Example - Crypto wallet screening**\n```json\n{\n    \"address\": \"1FfmbHfnpaZjKFvyi1okTjJJusN455paPH\"\n}\n```\n\n",
        "operationId": "executeAsync",
        "parameters": [
          {
            "name": "workflowId",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {}
          },
          {
            "name": "tagIds",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "items": {}
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {}
            }
          },
          "required": true
        },
        "responses": {
          "202": {
            "description": "An workflow execution id",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExecuteWorkflowResponse"
                }
              }
            }
          }
        },
        "deprecated": true
      }
    },
    "/workflows/v1/execution-response/{workflowExecutionId}": {
      "get": {
        "tags": [
          "workflow-v1.0.0"
        ],
        "summary": "Retrieve a specific workflow execution",
        "description": "Retrieves detailed information about a specific workflow execution instance\nidentified by its unique execution ID. Returns the execution status,\nresults, and associated metadata.\n",
        "operationId": "getWorkflowExecution",
        "parameters": [
          {
            "name": "workflowExecutionId",
            "in": "path",
            "description": "Unique identifier (UUID) of the workflow execution to retrieve",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {},
            "example": "550e8400-e29b-41d4-a716-446655440000"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved workflow execution details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExecuteWorkflowV1_0_0Response"
                }
              }
            }
          },
          "400": {
            "description": "Invalid workflow execution ID format",
            "content": {
              "application/json": {}
            }
          },
          "404": {
            "description": "Workflow execution not found",
            "content": {
              "application/json": {}
            }
          }
        },
        "deprecated": true
      }
    },
    "/workflows/v1.1.0/{workflowId}/versions/{workflowVersionId}/execute-test": {
      "post": {
        "tags": [
          "workflow-v1.1.0"
        ],
        "summary": "Executes a test workflow.",
        "description": " Runs a test workflow execution on a draft version.\n\nThe execution request body is dynamic and depends on the configured entrypoint data source for the workflow you want to execute. Below are examples of different possible request bodies.\n\n**Example - Onboarding PF**\n```json\n{\n    \"cpf\": \"87813245881\",\n    \"name\": \"John Due\",\n    \"phone\": \"8178829287\",\n    \"email\": \"john.due@example.com\"\n}\n```\n\n**Example - Onboarding PJ**\n```json\n{\n    \"cnpj\": \"69454356000100\"\n}\n```\n\n**Example - Crypto wallet screening**\n```json\n{\n    \"address\": \"1FfmbHfnpaZjKFvyi1okTjJJusN455paPH\"\n}\n```\n\n",
        "operationId": "executeVersionTest",
        "parameters": [
          {
            "name": "workflowId",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {}
          },
          {
            "name": "workflowVersionId",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {}
          },
          {
            "name": "tagIds",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "items": {}
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {}
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "An workflow execution result object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExecuteWorkflowV1_1_0Response"
                }
              }
            }
          }
        }
      }
    },
    "/workflows/v1.1.0/{workflowId}/versions/{workflowVersionId}/execute-test-async": {
      "post": {
        "tags": [
          "workflow-v1.1.0"
        ],
        "summary": "Executes a test workflow asynchronously.",
        "description": " Runs a test workflow execution on a draft version.\n\nThe execution request body is dynamic and depends on the configured entrypoint data source for the workflow you want to execute. Below are examples of different possible request bodies.\n\n**Example - Onboarding PF**\n```json\n{\n    \"cpf\": \"87813245881\",\n    \"name\": \"John Due\",\n    \"phone\": \"8178829287\",\n    \"email\": \"john.due@example.com\"\n}\n```\n\n**Example - Onboarding PJ**\n```json\n{\n    \"cnpj\": \"69454356000100\"\n}\n```\n\n**Example - Crypto wallet screening**\n```json\n{\n    \"address\": \"1FfmbHfnpaZjKFvyi1okTjJJusN455paPH\"\n}\n```\n\n",
        "operationId": "executeVersionTestAsync",
        "parameters": [
          {
            "name": "workflowId",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {}
          },
          {
            "name": "workflowVersionId",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {}
          },
          {
            "name": "tagIds",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "items": {}
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {}
            }
          },
          "required": true
        },
        "responses": {
          "202": {
            "description": "An workflow execution id",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExecuteWorkflowResponse"
                }
              }
            }
          }
        }
      }
    },
    "/workflows/v1.1.0/{workflowId}/execute": {
      "post": {
        "tags": [
          "workflow-v1.1.0"
        ],
        "summary": "Executes a workflow.",
        "description": " Runs a workflow on your currently deployed version.\n\nThe execution request body is dynamic and depends on the configured entrypoint data source for the workflow you want to execute. Below are examples of different possible request bodies.\n\n**Example - Onboarding PF**\n```json\n{\n    \"cpf\": \"87813245881\",\n    \"name\": \"John Due\",\n    \"phone\": \"8178829287\",\n    \"email\": \"john.due@example.com\"\n}\n```\n\n**Example - Onboarding PJ**\n```json\n{\n    \"cnpj\": \"69454356000100\"\n}\n```\n\n**Example - Crypto wallet screening**\n```json\n{\n    \"address\": \"1FfmbHfnpaZjKFvyi1okTjJJusN455paPH\"\n}\n```\n\n",
        "operationId": "execute",
        "parameters": [
          {
            "name": "workflowId",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {}
          },
          {
            "name": "tagIds",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "items": {}
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {}
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "An workflow execution result object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExecuteWorkflowV1_1_0Response"
                }
              }
            }
          }
        }
      }
    },
    "/workflows/v1.1.0/{workflowId}/execute-async": {
      "post": {
        "tags": [
          "workflow-v1.1.0"
        ],
        "summary": "Executes a workflow asynchronously.",
        "description": " Runs a workflow on your currently deployed version.\n\nThe execution request body is dynamic and depends on the configured entrypoint data source for the workflow you want to execute. Below are examples of different possible request bodies.\n\n**Example - Onboarding PF**\n```json\n{\n    \"cpf\": \"87813245881\",\n    \"name\": \"John Due\",\n    \"phone\": \"8178829287\",\n    \"email\": \"john.due@example.com\"\n}\n```\n\n**Example - Onboarding PJ**\n```json\n{\n    \"cnpj\": \"69454356000100\"\n}\n```\n\n**Example - Crypto wallet screening**\n```json\n{\n    \"address\": \"1FfmbHfnpaZjKFvyi1okTjJJusN455paPH\"\n}\n```\n\n",
        "operationId": "executeAsync",
        "parameters": [
          {
            "name": "workflowId",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {}
          },
          {
            "name": "tagIds",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "items": {}
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {}
            }
          },
          "required": true
        },
        "responses": {
          "202": {
            "description": "An workflow execution id",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExecuteWorkflowResponse"
                }
              }
            }
          }
        }
      }
    },
    "/workflows/v1.1.0/file/upload": {
      "post": {
        "tags": [
          "workflow-v1.1.0"
        ],
        "summary": "Uploads files.",
        "description": "Uploads one or more files to be used in workflows and returns their unique identifiers.",
        "operationId": "upload",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/file_upload_body"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Files uploaded successfully, IDs are returned in the same order as the uploaded files.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FileIdsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request, e.g., no files provided.",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/FileIdsResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error if file upload fails.",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/FileIdsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/workflows/v1.1.0/execution-response/{workflowExecutionId}": {
      "get": {
        "tags": [
          "workflow-v1.1.0"
        ],
        "summary": "Retrieve a specific workflow execution",
        "description": "Retrieves detailed information about a specific workflow execution instance\nidentified by its unique execution ID. Returns the execution status,\nresults, and associated metadata.\n",
        "operationId": "getWorkflowExecution",
        "parameters": [
          {
            "name": "workflowExecutionId",
            "in": "path",
            "description": "Unique identifier (UUID) of the workflow execution to retrieve",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {},
            "example": "550e8400-e29b-41d4-a716-446655440000"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved workflow execution details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExecuteWorkflowV1_1_0Response"
                }
              }
            }
          },
          "400": {
            "description": "Invalid workflow execution ID format",
            "content": {
              "application/json": {}
            }
          },
          "404": {
            "description": "Workflow execution not found",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/workflows/v1.1.0/execution-response/search": {
      "get": {
        "tags": [
          "workflow-v1.1.0"
        ],
        "summary": "Search for workflow executions",
        "description": "Searches and retrieves a paginated list of workflow execution instances based on various optional filters.\nFilters include:\n- **targetKeyValue**: Searches for a specific value within the workflow's target of analysis.\n- **targetMainLabelValue**: Searches for a specific main label within the workflow's target of analysis.\n- **status**: Filters by the current status of the workflow execution (e.g., CREATED, PROCESSING, COMPLETE, ERROR).\n- **startDate** and **endDate**: Filters by the creation date of the workflow execution within a specific date range.\n    - **decisionCaseResultCompletedOnStartDate** and **decisionCaseResultCompletedOnEndDate**: Filters by the completion date of the decision case result within a specific date range.\n- **automaticResultValue**: Filters by the type of the automated decision result (e.g., POSITIVE, NEGATIVE, DECISION_DESK).\n- **finalResultValue**: Filters by the type of the final decision result.\n    - **workflowId**: Filters by the workflow ID.\n    - **workflowVersionId**: Filters by the workflow version ID.\n    - **envs**: Filters by workflow execution environments.\n    - **tagIds**: Filters by tag IDs.\n    - **tagSlugs**: Filters by tag slugs.\n\n    Pagination is controlled via standard query parameters: **page**, **size**, and **sort**.\nThe response is a paginated list of workflow executions, allowing for navigation through large result sets.\n",
        "operationId": "search",
        "parameters": [
          {
            "name": "targetKeyValue",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {}
          },
          {
            "name": "targetMainLabelValue",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {}
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "enum": [
                "CREATED",
                "PROCESSING",
                "COMPLETE",
                "WAITING",
                "ERROR"
              ]
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "format": "date-time"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "format": "date-time"
            }
          },
          {
            "name": "decisionCaseResultCompletedOnStartDate",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "format": "date-time"
            }
          },
          {
            "name": "decisionCaseResultCompletedOnEndDate",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "format": "date-time"
            }
          },
          {
            "name": "automaticResultValue",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "enum": [
                "POSITIVE",
                "NEGATIVE",
                "DECISION_DESK",
                "NEXT_STEP"
              ]
            }
          },
          {
            "name": "finalResultValue",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "enum": [
                "POSITIVE",
                "NEGATIVE",
                "DECISION_DESK",
                "NEXT_STEP"
              ]
            }
          },
          {
            "name": "workflowId",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {}
          },
          {
            "name": "workflowVersionId",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {}
          },
          {
            "name": "envs",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "items": {
                "enum": [
                  "TEST",
                  "PROD"
                ]
              }
            }
          },
          {
            "name": "tagIds",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "items": {}
            }
          },
          {
            "name": "tagSlugs",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "items": {}
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Zero-based page index (0..N)",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "minimum": 0,
              "default": 0
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "The size of the page to be returned",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "minimum": 1,
              "default": 20
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sorting criteria in the format: property,(asc|desc). Default sort order is ascending. Multiple sort criteria are supported.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "items": {}
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved a paginated list of workflow executions",
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/ExecuteWorkflowV1_1_0Response"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid search parameters",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/workflows/v1.1.1/execution-response/{workflowExecutionId}": {
      "get": {
        "tags": [
          "workflow-v1.1.1"
        ],
        "summary": "Retrieve a specific workflow execution",
        "description": "Retrieves detailed information about a specific workflow execution instance\nidentified by its unique execution ID. Returns the execution status,\nresults, and associated metadata.\n",
        "operationId": "getWorkflowExecution",
        "parameters": [
          {
            "name": "workflowExecutionId",
            "in": "path",
            "description": "Unique identifier (UUID) of the workflow execution to retrieve",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {},
            "example": "550e8400-e29b-41d4-a716-446655440000"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved workflow execution details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExecuteWorkflowV1_1_1Response"
                }
              }
            }
          },
          "400": {
            "description": "Invalid workflow execution ID format",
            "content": {
              "application/json": {}
            }
          },
          "404": {
            "description": "Workflow execution not found",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/workflows/v1.1.1/execution-response/search": {
      "get": {
        "tags": [
          "workflow-v1.1.1"
        ],
        "summary": "Search for workflow executions",
        "description": "Searches and retrieves a paginated list of workflow execution instances based on various optional filters.\nFilters include:\n- **targetKeyValue**: Searches for a specific value within the workflow's target of analysis.\n- **targetMainLabelValue**: Searches for a specific main label within the workflow's target of analysis.\n- **status**: Filters by the current status of the workflow execution (e.g., CREATED, PROCESSING, COMPLETE, ERROR).\n- **startDate** and **endDate**: Filters by the creation date of the workflow execution within a specific date range.\n- **decisionCaseResultCompletedOnStartDate** and **decisionCaseResultCompletedOnEndDate**: Filters by the completion date of the decision case result within a specific date range.\n- **automaticResultValue**: Filters by the type of the automated decision result (e.g., POSITIVE, NEGATIVE, DECISION_DESK).\n- **finalResultValue**: Filters by the type of the final decision result.\n- **workflowId**: Filters by the workflow ID.\n- **workflowVersionId**: Filters by the workflow version ID.\n- **envs**: Filters by workflow execution environments.\n- **tagIds**: Filters by tag IDs.\n- **tagSlugs**: Filters by tag slugs.\n\nPagination is controlled via standard query parameters: **page**, **size**, and **sort**.\nThe response is a paginated list of workflow executions, allowing for navigation through large result sets.\n",
        "operationId": "search",
        "parameters": [
          {
            "name": "targetKeyValue",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {}
          },
          {
            "name": "targetMainLabelValue",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {}
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "enum": [
                "CREATED",
                "PROCESSING",
                "COMPLETE",
                "WAITING",
                "ERROR"
              ]
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "format": "date-time"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "format": "date-time"
            }
          },
          {
            "name": "decisionCaseResultCompletedOnStartDate",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "format": "date-time"
            }
          },
          {
            "name": "decisionCaseResultCompletedOnEndDate",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "format": "date-time"
            }
          },
          {
            "name": "automaticResultValue",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "enum": [
                "POSITIVE",
                "NEGATIVE",
                "DECISION_DESK",
                "NEXT_STEP"
              ]
            }
          },
          {
            "name": "finalResultValue",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "enum": [
                "POSITIVE",
                "NEGATIVE",
                "DECISION_DESK",
                "NEXT_STEP"
              ]
            }
          },
          {
            "name": "workflowId",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {}
          },
          {
            "name": "workflowVersionId",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {}
          },
          {
            "name": "envs",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "items": {
                "enum": [
                  "TEST",
                  "PROD"
                ]
              }
            }
          },
          {
            "name": "tagIds",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "items": {}
            }
          },
          {
            "name": "tagSlugs",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "items": {}
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Zero-based page index (0..N)",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "minimum": 0,
              "default": 0
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "The size of the page to be returned",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "minimum": 1,
              "default": 20
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sorting criteria in the format: property,(asc|desc). Default sort order is ascending. Multiple sort criteria are supported.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "items": {}
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved a paginated list of workflow executions",
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/ExecuteWorkflowV1_1_1Response"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid search parameters",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/decision/v3.0.0/{decisionCaseId}/result": {
      "get": {
        "tags": [
          "decision-v3.0.0"
        ],
        "summary": "Find a case result by ID",
        "description": "Returns a case result by ID.",
        "operationId": "getResult",
        "parameters": [
          {
            "name": "decisionCaseId",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {}
          }
        ],
        "responses": {
          "200": {
            "description": "Successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DecisionCaseResultResponseV3_0_0"
                }
              }
            }
          }
        }
      }
    },
    "/decision/v3.0.0/search": {
      "get": {
        "tags": [
          "decision-v3.0.0"
        ],
        "summary": "Search for decision cases",
        "description": "Searches and retrieves a paginated list of decision case instances based on various optional filters.\nFilters include:\n- **targetKeyValue**: Searches for a specific value within the decision case's target of analysis.\n- **targetMainLabelValue**: Searches for a specific main label within the decision case's target of analysis.\n- **status**: Filters by the current status of the decision case (e.g., WAITING_ANALYST, WAITING_ANALYSIS, ANALYZING, FINISHED).\n- **startDate** and **endDate**: Filters by the creation date of the decision case within a specific date range.\n- **workflowId**: Filters by the id of the workflow.\n- **workflowVersionId**: Filters by the id of the version of the workflow.\n\nThe response is a paginated list of decision cases, allowing for navigation through large result sets.\n",
        "operationId": "search",
        "parameters": [
          {
            "name": "targetKeyValue",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {}
          },
          {
            "name": "targetMainLabelValue",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {}
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "enum": [
                "WAITING_ANALYST",
                "WAITING_ANALYSIS",
                "ANALYZING",
                "ON_HOLD",
                "WAITING_VOTES",
                "WAITING_TIE_BREAK",
                "FINISHED"
              ]
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "format": "date-time"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "format": "date-time"
            }
          },
          {
            "name": "updatedOnStartDate",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "format": "date-time"
            }
          },
          {
            "name": "updatedOnEndDate",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "format": "date-time"
            }
          },
          {
            "name": "workflowId",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {}
          },
          {
            "name": "workflowVersionId",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {}
          },
          {
            "name": "page",
            "in": "query",
            "description": "Zero-based page index (0..N)",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "minimum": 0,
              "default": 0
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "The size of the page to be returned",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "minimum": 1,
              "default": 20
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sorting criteria in the format: property,(asc|desc). Default sort order is ascending. Multiple sort criteria are supported.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "items": {}
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved a paginated list of decision cases",
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/DecisionCaseResultResponseV3_0_0"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid search parameters",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/decision/v3.1.0/{decisionCaseId}/result": {
      "get": {
        "tags": [
          "decision-v3.1.0"
        ],
        "summary": "Find a case result by ID",
        "description": "Returns a case result by ID.",
        "operationId": "getResult",
        "parameters": [
          {
            "name": "decisionCaseId",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {}
          }
        ],
        "responses": {
          "200": {
            "description": "Successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DecisionCaseResultResponseV3_1_0"
                }
              }
            }
          }
        }
      }
    },
    "/decision/v3.1.0/search": {
      "get": {
        "tags": [
          "decision-v3.1.0"
        ],
        "summary": "Search for decision cases",
        "description": "Searches and retrieves a paginated list of decision case instances based on various optional filters.\nFilters include:\n- **targetKeyValue**: Searches for a specific value within the decision case's target of analysis.\n- **targetMainLabelValue**: Searches for a specific main label within the decision case's target of analysis.\n- **status**: Filters by the current status of the decision case (e.g., WAITING_ANALYST, WAITING_ANALYSIS, ANALYZING, FINISHED).\n- **startDate** and **endDate**: Filters by the creation date of the decision case within a specific date range.\n- **workflowId**: Filters by the id of the workflow.\n- **workflowVersionId**: Filters by the id of the version of the workflow.\n\nThe response is a paginated list of decision cases, allowing for navigation through large result sets.\n",
        "operationId": "search",
        "parameters": [
          {
            "name": "targetKeyValue",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {}
          },
          {
            "name": "targetMainLabelValue",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {}
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "enum": [
                "WAITING_ANALYST",
                "WAITING_ANALYSIS",
                "ANALYZING",
                "ON_HOLD",
                "WAITING_VOTES",
                "WAITING_TIE_BREAK",
                "FINISHED"
              ]
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "format": "date-time"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "format": "date-time"
            }
          },
          {
            "name": "updatedOnStartDate",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "format": "date-time"
            }
          },
          {
            "name": "updatedOnEndDate",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "format": "date-time"
            }
          },
          {
            "name": "workflowId",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {}
          },
          {
            "name": "workflowVersionId",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {}
          },
          {
            "name": "page",
            "in": "query",
            "description": "Zero-based page index (0..N)",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "minimum": 0,
              "default": 0
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "The size of the page to be returned",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "minimum": 1,
              "default": 20
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sorting criteria in the format: property,(asc|desc). Default sort order is ascending. Multiple sort criteria are supported.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "items": {}
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved a paginated list of decision cases",
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/DecisionCaseResultResponseV3_1_0"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid search parameters",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/decision-desk/case/{caseId}/result": {
      "get": {
        "tags": [
          "decision-case-v1.0.0"
        ],
        "summary": "Find a case result by ID",
        "description": "Returns a case result by ID.",
        "operationId": "getResult",
        "parameters": [
          {
            "name": "caseId",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {}
          }
        ],
        "responses": {
          "200": {
            "description": "Successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DecisionCaseResultResponseV1_0_0"
                }
              }
            }
          }
        },
        "deprecated": true
      }
    },
    "/decision-desk/case/v2/{caseId}/result": {
      "get": {
        "tags": [
          "decision-case-v2.0.0"
        ],
        "summary": "Find a case result by ID",
        "description": "Returns a case result by ID.",
        "operationId": "getResult",
        "parameters": [
          {
            "name": "caseId",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {}
          }
        ],
        "responses": {
          "200": {
            "description": "Successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DecisionCaseResultResponseV2_0_0"
                }
              }
            }
          }
        }
      }
    },
    "/form-submission/v1.0.0/create": {
      "post": {
        "tags": [
          "form-submission-v1.0.0"
        ],
        "summary": "Creates a new form submission.",
        "description": " Creates a new form submission. It is required to provide the formId for this submission, and it is possible to provide pre-sharing data...\n\n**Example**\n```json\n{\n    \"formId\": \"b98cffcd-4e30-4264-85c4-ac4f912e6a8a\",\n    \"expiration\": \"2\",\n    \"preSharingFormSubmissionDTO\": {\n        \"structure\": {\n            \"jsonSchema\": \"{\\n  \\\"type\\\": \\\"object\\\",\\n  \\\"properties\\\": {\\n    \\\"cpf\\\": {\\n      \\\"type\\\": \\\"string\\\",\\n      \\\"minLength\\\": 1,\\n      \\\"title\\\": \\\"CPF\\\"\\n    },\\n    \\\"name\\\": {\\n      \\\"type\\\": \\\"string\\\",\\n      \\\"title\\\": \\\"Nome\\\"\\n    }\\n  },\\n  \\\"required\\\": [\\\"cpf\\\", \\\"name\\\"]\\n}\",\n            \"uiSchema\": \"{\\r\\n  \\\"cpf\\\": {\\r\\n    \\\"ui:options\\\": {\\r\\n      \\\"mask\\\": \\\"999.999.999-99\\\"\\r\\n    }\\r\\n  }\\r\\n}\"\n        },\n        \"filledData\": \"{\\\"cpf\\\":\\\"99999999999\\\",\\\"name\\\":\\\"USU\u00c1RIO DE TESTE\\\"}\"\n    }\n}\n```\n\n",
        "operationId": "createFormSubmissionLink",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateFormSubmissionRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Successfully created a form submission and returned its link.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateFormSubmissionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input data for pre-sharing",
            "content": {
              "application/json": {}
            }
          },
          "412": {
            "description": "Form does not exists",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "DecisionDTO": {
        "properties": {
          "type": {
            "enum": [
              "POSITIVE",
              "NEGATIVE",
              "DECISION_DESK",
              "NEXT_STEP"
            ]
          }
        },
        "discriminator": {
          "propertyName": "type"
        }
      },
      "DecisionResultDTOV1_0_0": {
        "properties": {
          "value": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/NegativeDecisionDTO"
              },
              {
                "$ref": "#/components/schemas/PositiveDecisionDTO"
              },
              {
                "$ref": "#/components/schemas/SendToDecisionDeskDTO"
              },
              {
                "$ref": "#/components/schemas/SendToNextStepDecisionDTO"
              }
            ]
          },
          "label": {},
          "classification": {},
          "activatedRules": {
            "items": {
              "$ref": "#/components/schemas/RuleDTOV1_0_0"
            }
          }
        }
      },
      "ErrorDTOV1_0_0": {
        "properties": {
          "message": {}
        }
      },
      "ExecuteWorkflowV1_0_0Response": {
        "properties": {
          "output": {
            "$ref": "#/components/schemas/OutputDTOV1_0_0"
          },
          "error": {
            "$ref": "#/components/schemas/ErrorDTOV1_0_0"
          }
        }
      },
      "NegativeDecisionDTO": {
        "allOf": [
          {
            "$ref": "#/components/schemas/DecisionDTO"
          }
        ]
      },
      "OutputDTOV1_0_0": {
        "properties": {
          "workflowExecutionId": {},
          "targetOfAnalysis": {
            "$ref": "#/components/schemas/OutputTargetOfAnalysisDTOV1_0_0"
          },
          "inputVariables": {
            "items": {
              "$ref": "#/components/schemas/VariableDTOV1_0_0"
            }
          },
          "dataSourceVariables": {
            "items": {
              "$ref": "#/components/schemas/VariableDTOV1_0_0"
            }
          },
          "result": {
            "$ref": "#/components/schemas/ResultDTOV1_0_0"
          },
          "status": {
            "enum": [
              "CREATED",
              "PROCESSING",
              "COMPLETE",
              "WAITING",
              "ERROR"
            ]
          },
          "env": {
            "enum": [
              "TEST",
              "PROD"
            ]
          }
        }
      },
      "OutputTargetOfAnalysisDTOV1_0_0": {
        "properties": {
          "key": {
            "$ref": "#/components/schemas/VariableDTOV1_0_0"
          },
          "mainLabel": {
            "$ref": "#/components/schemas/VariableDTOV1_0_0"
          },
          "additionalLabels": {
            "items": {
              "$ref": "#/components/schemas/VariableDTOV1_0_0"
            }
          }
        }
      },
      "PositiveDecisionDTO": {
        "allOf": [
          {
            "$ref": "#/components/schemas/DecisionDTO"
          }
        ]
      },
      "ResultDTOV1_0_0": {
        "properties": {
          "score": {
            "$ref": "#/components/schemas/ScoreResultDTOV1_0_0"
          },
          "decision": {
            "$ref": "#/components/schemas/DecisionResultDTOV1_0_0"
          }
        }
      },
      "RuleDTOV1_0_0": {
        "properties": {
          "id": {},
          "name": {},
          "alias": {},
          "description": {},
          "versionId": {},
          "versionNumber": {},
          "configParams": {
            "additionalProperties": {}
          },
          "inputVariables": {
            "items": {
              "$ref": "#/components/schemas/VariableDTOV1_0_0"
            }
          },
          "stepId": {},
          "stepName": {}
        }
      },
      "ScoreResultDTOV1_0_0": {
        "properties": {
          "value": {
            "format": "int32"
          },
          "label": {},
          "activatedRules": {
            "items": {
              "$ref": "#/components/schemas/RuleDTOV1_0_0"
            }
          }
        }
      },
      "SendToDecisionDeskDTO": {
        "allOf": [
          {
            "$ref": "#/components/schemas/DecisionDTO"
          },
          {
            "properties": {
              "decisionDeskQueueId": {}
            }
          }
        ]
      },
      "SendToNextStepDecisionDTO": {
        "required": [
          "nextStepId"
        ],
        "allOf": [
          {
            "$ref": "#/components/schemas/DecisionDTO"
          },
          {
            "properties": {
              "nextStepId": {}
            }
          }
        ]
      },
      "VariableDTOV1_0_0": {
        "properties": {
          "id": {},
          "name": {},
          "description": {},
          "groupId": {},
          "stepId": {},
          "loopIterationNumber": {
            "format": "int32"
          },
          "schema": {},
          "uiSchema": {},
          "value": {}
        }
      },
      "ExecuteWorkflowResponse": {
        "properties": {
          "workflowExecutionId": {}
        }
      },
      "ApprovalLevelDTOV1_1_0": {
        "properties": {
          "approvalLevelId": {},
          "approvalLevelName": {},
          "analystName": {},
          "analystEmail": {},
          "decision": {
            "$ref": "#/components/schemas/DecisionDTOV1_1_0"
          },
          "createdOn": {
            "format": "date-time"
          },
          "assignedOn": {
            "format": "date-time"
          },
          "analysisStartedOn": {
            "format": "date-time"
          },
          "analysisFinishedOn": {
            "format": "date-time"
          },
          "completedOn": {
            "format": "date-time"
          }
        }
      },
      "BusinessMessageDTOV1_1_0": {
        "properties": {
          "level": {
            "enum": [
              "ERROR",
              "WARN",
              "INFO"
            ]
          },
          "message": {}
        }
      },
      "DecisionCaseDTOV1_1_0": {
        "properties": {
          "approvalLevels": {
            "items": {
              "$ref": "#/components/schemas/ApprovalLevelDTOV1_1_0"
            }
          },
          "completedOn": {
            "format": "date-time"
          }
        }
      },
      "DecisionDTOV1_1_0": {
        "properties": {
          "reason": {},
          "value": {},
          "label": {},
          "classification": {}
        }
      },
      "DecisionRuleDTOV1_1_0": {
        "properties": {
          "ruleId": {},
          "ruleName": {},
          "ruleDescription": {},
          "stepId": {},
          "stepName": {},
          "ruleDecision": {
            "$ref": "#/components/schemas/RuleDecisionDTOV1_1_0"
          }
        }
      },
      "ExecuteWorkflowV1_1_0Response": {
        "properties": {
          "workflowExecutionId": {},
          "workflow": {
            "$ref": "#/components/schemas/WorkflowRefV1_1_0"
          },
          "targetOfAnalysis": {
            "$ref": "#/components/schemas/TargetOfAnalysisDTOV1_1_0"
          },
          "automaticResult": {
            "$ref": "#/components/schemas/ResultDTOV1_1_0"
          },
          "finalResult": {
            "$ref": "#/components/schemas/ResultDTOV1_1_0"
          },
          "status": {
            "enum": [
              "CREATED",
              "PROCESSING",
              "COMPLETE",
              "WAITING",
              "ERROR"
            ]
          },
          "environment": {
            "enum": [
              "TEST",
              "PROD"
            ]
          },
          "entrypointVariables": {
            "items": {
              "$ref": "#/components/schemas/VariableDTOV1_1_0"
            }
          },
          "variables": {
            "items": {
              "$ref": "#/components/schemas/VariableDTOV1_1_0"
            }
          },
          "scoreRules": {
            "items": {
              "$ref": "#/components/schemas/ScoreRuleDTOV1_1_0"
            }
          },
          "decisionRules": {
            "items": {
              "$ref": "#/components/schemas/DecisionRuleDTOV1_1_0"
            }
          },
          "loop": {
            "items": {
              "$ref": "#/components/schemas/LoopResultDTOV1_1_0"
            }
          },
          "decisionCase": {
            "$ref": "#/components/schemas/DecisionCaseDTOV1_1_0"
          },
          "tags": {
            "items": {
              "$ref": "#/components/schemas/TagRefDTOV1_1_0"
            }
          },
          "messages": {
            "items": {
              "$ref": "#/components/schemas/BusinessMessageDTOV1_1_0"
            }
          },
          "creator": {
            "$ref": "#/components/schemas/UserRefDTO"
          },
          "startedOn": {
            "format": "date-time"
          }
        }
      },
      "LoopIterationResultDTOV1_1_0": {
        "properties": {
          "variables": {
            "items": {
              "$ref": "#/components/schemas/VariableDTOV1_1_0"
            }
          },
          "scoreRules": {
            "items": {
              "$ref": "#/components/schemas/ScoreRuleDTOV1_1_0"
            }
          },
          "iterationScore": {
            "format": "int32"
          }
        }
      },
      "LoopResultDTOV1_1_0": {
        "properties": {
          "iterationVariable": {
            "$ref": "#/components/schemas/VariableDTOV1_1_0"
          },
          "iterations": {
            "items": {
              "$ref": "#/components/schemas/LoopIterationResultDTOV1_1_0"
            }
          },
          "scoreStrategy": {
            "enum": [
              "MIN",
              "MAX",
              "AVERAGE",
              "SUM",
              "NONE"
            ]
          },
          "loopScore": {
            "format": "int32"
          }
        }
      },
      "ResultDTOV1_1_0": {
        "properties": {
          "score": {
            "format": "int32"
          },
          "value": {
            "enum": [
              "POSITIVE",
              "NEGATIVE",
              "DECISION_DESK",
              "NEXT_STEP"
            ]
          },
          "label": {},
          "classification": {},
          "assessment": {},
          "completeOn": {
            "format": "date-time"
          }
        }
      },
      "RuleDecisionDTOV1_1_0": {
        "properties": {
          "value": {
            "enum": [
              "POSITIVE",
              "NEGATIVE",
              "DECISION_DESK",
              "NEXT_STEP"
            ]
          },
          "label": {},
          "classification": {}
        }
      },
      "ScoreRuleDTOV1_1_0": {
        "properties": {
          "ruleId": {},
          "ruleName": {},
          "ruleDescription": {},
          "stepId": {},
          "stepName": {},
          "ruleScore": {
            "format": "int32"
          }
        }
      },
      "TagRefDTOV1_1_0": {
        "properties": {
          "id": {},
          "slug": {}
        }
      },
      "TargetOfAnalysisDTOV1_1_0": {
        "properties": {
          "key": {
            "$ref": "#/components/schemas/VariableDTOV1_1_0"
          },
          "mainLabel": {
            "$ref": "#/components/schemas/VariableDTOV1_1_0"
          },
          "additionalLabels": {
            "items": {
              "$ref": "#/components/schemas/VariableDTOV1_1_0"
            }
          }
        }
      },
      "UserRefDTO": {
        "required": [
          "id"
        ],
        "properties": {
          "id": {},
          "name": {},
          "email": {},
          "orgId": {}
        }
      },
      "VariableDTOV1_1_0": {
        "properties": {
          "variableId": {},
          "variableName": {},
          "variableDescription": {},
          "variableGroupPath": {
            "items": {}
          },
          "variableSchema": {},
          "value": {}
        }
      },
      "WorkflowRefV1_1_0": {
        "properties": {
          "id": {},
          "version": {
            "$ref": "#/components/schemas/WorkflowVersionRefV1_1_0"
          }
        }
      },
      "WorkflowVersionRefV1_1_0": {
        "properties": {
          "id": {},
          "number": {}
        }
      },
      "FileIdsResponse": {
        "properties": {
          "ids": {
            "items": {}
          }
        }
      },
      "file_upload_body": {
        "required": [
          "files"
        ],
        "properties": {
          "files": {
            "items": {
              "format": "binary"
            }
          }
        }
      },
      "BusinessMessageDTOV1_1_1": {
        "properties": {
          "level": {
            "enum": [
              "ERROR",
              "WARN",
              "INFO"
            ]
          },
          "message": {}
        }
      },
      "CaseApprovalLevelDTOV1_1_1": {
        "allOf": [
          {
            "$ref": "#/components/schemas/CaseLevelDTOV1_1_1"
          },
          {
            "properties": {
              "analyst": {
                "$ref": "#/components/schemas/UserDecisionDTOV1_1_1"
              },
              "decision": {
                "$ref": "#/components/schemas/DecisionDTOV1_1_1"
              }
            }
          }
        ]
      },
      "CaseCommitteeLevelDTOV1_1_1": {
        "allOf": [
          {
            "$ref": "#/components/schemas/CaseLevelDTOV1_1_1"
          },
          {
            "properties": {
              "committeeDecision": {
                "$ref": "#/components/schemas/CommitteeDecisionDTOV1_1_1"
              },
              "votes": {
                "items": {
                  "$ref": "#/components/schemas/CommitteeVoteDTOV1_1_1"
                }
              }
            }
          }
        ]
      },
      "CaseLevelDTOV1_1_1": {
        "required": [
          "type"
        ],
        "properties": {
          "levelName": {},
          "levelType": {
            "enum": [
              "APPROVAL",
              "COMMITTEE"
            ]
          },
          "createdOn": {
            "format": "date-time"
          },
          "assignedOn": {
            "format": "date-time"
          },
          "analysisStartedOn": {
            "format": "date-time"
          },
          "analysisFinishedOn": {
            "format": "date-time"
          },
          "completedOn": {
            "format": "date-time"
          },
          "type": {}
        },
        "discriminator": {
          "propertyName": "type"
        }
      },
      "CommitteeDecisionDTOV1_1_1": {
        "properties": {
          "value": {
            "enum": [
              "APPROVE",
              "DENY"
            ]
          },
          "label": {}
        }
      },
      "CommitteeDecisionVoteDTOV1_1_1": {
        "properties": {
          "value": {
            "enum": [
              "APPROVE",
              "DENY"
            ]
          },
          "label": {},
          "reason": {}
        }
      },
      "CommitteeVoteDTOV1_1_1": {
        "properties": {
          "member": {
            "$ref": "#/components/schemas/UserDecisionDTOV1_1_1"
          },
          "decision": {
            "$ref": "#/components/schemas/CommitteeDecisionVoteDTOV1_1_1"
          }
        }
      },
      "DecisionCaseDTOV1_1_1": {
        "properties": {
          "caseLevels": {
            "items": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/CaseApprovalLevelDTOV1_1_1"
                },
                {
                  "$ref": "#/components/schemas/CaseCommitteeLevelDTOV1_1_1"
                }
              ]
            }
          },
          "completedOn": {
            "format": "date-time"
          }
        }
      },
      "DecisionDTOV1_1_1": {
        "properties": {
          "reason": {},
          "value": {},
          "label": {},
          "classification": {}
        }
      },
      "DecisionRuleDTOV1_1_1": {
        "properties": {
          "ruleId": {},
          "ruleName": {},
          "ruleDescription": {},
          "stepId": {},
          "stepName": {},
          "ruleDecision": {
            "$ref": "#/components/schemas/RuleDecisionDTOV1_1_1"
          }
        }
      },
      "ExecuteWorkflowV1_1_1Response": {
        "properties": {
          "workflowExecutionId": {},
          "targetOfAnalysis": {
            "$ref": "#/components/schemas/TargetOfAnalysisDTOV1_1_1"
          },
          "automaticResult": {
            "$ref": "#/components/schemas/ResultDTOV1_1_1"
          },
          "finalResult": {
            "$ref": "#/components/schemas/ResultDTOV1_1_1"
          },
          "status": {
            "enum": [
              "CREATED",
              "PROCESSING",
              "COMPLETE",
              "WAITING",
              "ERROR"
            ]
          },
          "environment": {
            "enum": [
              "TEST",
              "PROD"
            ]
          },
          "entrypointVariables": {
            "items": {
              "$ref": "#/components/schemas/VariableDTOV1_1_1"
            }
          },
          "variables": {
            "items": {
              "$ref": "#/components/schemas/VariableDTOV1_1_1"
            }
          },
          "scoreRules": {
            "items": {
              "$ref": "#/components/schemas/ScoreRuleDTOV1_1_1"
            }
          },
          "decisionRules": {
            "items": {
              "$ref": "#/components/schemas/DecisionRuleDTOV1_1_1"
            }
          },
          "loop": {
            "items": {
              "$ref": "#/components/schemas/LoopResultDTOV1_1_1"
            }
          },
          "decisionCase": {
            "$ref": "#/components/schemas/DecisionCaseDTOV1_1_1"
          },
          "tags": {
            "items": {
              "$ref": "#/components/schemas/TagRefDTOV1_1_1"
            }
          },
          "messages": {
            "items": {
              "$ref": "#/components/schemas/BusinessMessageDTOV1_1_1"
            }
          },
          "creator": {
            "$ref": "#/components/schemas/UserRefDTO"
          },
          "startedOn": {
            "format": "date-time"
          }
        }
      },
      "LoopIterationResultDTOV1_1_1": {
        "properties": {
          "variables": {
            "items": {
              "$ref": "#/components/schemas/VariableDTOV1_1_1"
            }
          },
          "scoreRules": {
            "items": {
              "$ref": "#/components/schemas/ScoreRuleDTOV1_1_1"
            }
          },
          "iterationScore": {
            "format": "int32"
          }
        }
      },
      "LoopResultDTOV1_1_1": {
        "properties": {
          "iterationVariable": {
            "$ref": "#/components/schemas/VariableDTOV1_1_1"
          },
          "iterations": {
            "items": {
              "$ref": "#/components/schemas/LoopIterationResultDTOV1_1_1"
            }
          },
          "scoreStrategy": {
            "enum": [
              "MIN",
              "MAX",
              "AVERAGE",
              "SUM",
              "NONE"
            ]
          },
          "loopScore": {
            "format": "int32"
          }
        }
      },
      "ResultDTOV1_1_1": {
        "properties": {
          "score": {
            "format": "int32"
          },
          "value": {
            "enum": [
              "POSITIVE",
              "NEGATIVE",
              "DECISION_DESK",
              "NEXT_STEP"
            ]
          },
          "label": {},
          "classification": {},
          "assessment": {},
          "completeOn": {
            "format": "date-time"
          }
        }
      },
      "RuleDecisionDTOV1_1_1": {
        "properties": {
          "value": {
            "enum": [
              "POSITIVE",
              "NEGATIVE",
              "DECISION_DESK",
              "NEXT_STEP"
            ]
          },
          "label": {},
          "classification": {}
        }
      },
      "ScoreRuleDTOV1_1_1": {
        "properties": {
          "ruleId": {},
          "ruleName": {},
          "ruleDescription": {},
          "stepId": {},
          "stepName": {},
          "ruleScore": {
            "format": "int32"
          }
        }
      },
      "TagRefDTOV1_1_1": {
        "properties": {
          "id": {},
          "slug": {}
        }
      },
      "TargetOfAnalysisDTOV1_1_1": {
        "properties": {
          "key": {
            "$ref": "#/components/schemas/VariableDTOV1_1_1"
          },
          "mainLabel": {
            "$ref": "#/components/schemas/VariableDTOV1_1_1"
          },
          "additionalLabels": {
            "items": {
              "$ref": "#/components/schemas/VariableDTOV1_1_1"
            }
          }
        }
      },
      "UserDecisionDTOV1_1_1": {
        "properties": {
          "name": {},
          "email": {}
        }
      },
      "VariableDTOV1_1_1": {
        "properties": {
          "variableId": {},
          "variableName": {},
          "variableDescription": {},
          "variableGroupPath": {
            "items": {}
          },
          "variableSchema": {},
          "value": {}
        }
      },
      "ApprovalLevelDTOV3_0_0": {
        "properties": {
          "approvalLevelId": {},
          "approvalLevelName": {},
          "distributionMode": {
            "enum": [
              "MANUAL",
              "AUTOMATIC",
              "POOL",
              "PICK"
            ]
          },
          "analystName": {},
          "analystEmail": {},
          "decision": {
            "$ref": "#/components/schemas/DecisionDTOV3_0_0"
          },
          "createdOn": {
            "format": "date-time"
          },
          "assignedOn": {
            "format": "date-time"
          },
          "analysisStartedOn": {
            "format": "date-time"
          },
          "analysisFinishedOn": {
            "format": "date-time"
          },
          "completedOn": {
            "format": "date-time"
          }
        }
      },
      "DecisionCaseResultResponseV3_0_0": {
        "properties": {
          "id": {},
          "code": {
            "format": "int64"
          },
          "workflowExecutionId": {},
          "workflow": {
            "$ref": "#/components/schemas/WorkflowV3_0_0"
          },
          "targetOfAnalysis": {
            "$ref": "#/components/schemas/TargetOfAnalysisV3_0_0"
          },
          "decisionDeskId": {},
          "status": {
            "enum": [
              "WAITING_ANALYST",
              "WAITING_ANALYSIS",
              "ANALYZING",
              "ON_HOLD",
              "WAITING_VOTES",
              "WAITING_TIE_BREAK",
              "FINISHED"
            ]
          },
          "approvalLevels": {
            "items": {
              "$ref": "#/components/schemas/ApprovalLevelDTOV3_0_0"
            }
          },
          "finalDecision": {
            "enum": [
              "APPROVE",
              "DENY",
              "NO_DECISION"
            ]
          },
          "finalDecisionLabel": {},
          "finalDecisionClassification": {},
          "createdOn": {
            "format": "date-time"
          },
          "updatedOn": {
            "format": "date-time"
          },
          "completedOn": {
            "format": "date-time"
          }
        }
      },
      "DecisionDTOV3_0_0": {
        "properties": {
          "reason": {},
          "value": {},
          "label": {},
          "classification": {}
        }
      },
      "FieldRefV3_0_0": {
        "properties": {
          "variableId": {},
          "variableName": {},
          "variableDescription": {},
          "variableGroupPath": {
            "items": {}
          },
          "variableSchema": {},
          "value": {}
        }
      },
      "TargetOfAnalysisV3_0_0": {
        "properties": {
          "key": {
            "$ref": "#/components/schemas/FieldRefV3_0_0"
          },
          "mainLabel": {
            "$ref": "#/components/schemas/FieldRefV3_0_0"
          },
          "additionalLabels": {
            "items": {
              "$ref": "#/components/schemas/FieldRefV3_0_0"
            }
          }
        }
      },
      "WorkflowV3_0_0": {
        "properties": {
          "id": {},
          "version": {
            "$ref": "#/components/schemas/WorkflowVersionV3_0_0"
          }
        }
      },
      "WorkflowVersionV3_0_0": {
        "properties": {
          "id": {},
          "number": {}
        }
      },
      "ApprovalLevelDTOV3_1_0": {
        "allOf": [
          {
            "$ref": "#/components/schemas/CaseLevelDTOV3_1_0"
          },
          {
            "properties": {
              "distributionMode": {
                "enum": [
                  "MANUAL",
                  "AUTOMATIC",
                  "POOL",
                  "PICK"
                ]
              },
              "analystName": {},
              "analystEmail": {},
              "decision": {
                "$ref": "#/components/schemas/DecisionDTOV3_1_0"
              }
            }
          }
        ]
      },
      "CaseLevelDTOV3_1_0": {
        "required": [
          "type"
        ],
        "properties": {
          "levelId": {},
          "levelName": {},
          "levelType": {
            "enum": [
              "APPROVAL",
              "COMMITTEE"
            ]
          },
          "createdOn": {
            "format": "date-time"
          },
          "assignedOn": {
            "format": "date-time"
          },
          "timeToStartAnalysis": {},
          "analysisStartedOn": {
            "format": "date-time"
          },
          "pausedOn": {
            "format": "date-time"
          },
          "timePaused": {},
          "analysisFinishedOn": {
            "format": "date-time"
          },
          "timeToFinishAnalysis": {},
          "completedOn": {
            "format": "date-time"
          },
          "timeToComplete": {},
          "type": {}
        },
        "discriminator": {
          "propertyName": "type"
        }
      },
      "CommitteeDecisionDTOV3_1_0": {
        "properties": {
          "value": {
            "enum": [
              "APPROVE",
              "DENY"
            ]
          },
          "label": {},
          "tieBreak": {}
        }
      },
      "CommitteeLevelDTOV3_1_0": {
        "allOf": [
          {
            "$ref": "#/components/schemas/CaseLevelDTOV3_1_0"
          },
          {
            "properties": {
              "committeeDecision": {
                "$ref": "#/components/schemas/CommitteeDecisionDTOV3_1_0"
              },
              "votes": {
                "items": {
                  "$ref": "#/components/schemas/CommitteeVoteDTOV3_1_0"
                }
              }
            }
          }
        ]
      },
      "CommitteeVoteDTOV3_1_0": {
        "properties": {
          "memberName": {},
          "memberEmail": {},
          "decision": {
            "$ref": "#/components/schemas/DecisionDTOV3_1_0"
          },
          "votedOn": {
            "format": "date-time"
          },
          "timeToVote": {}
        }
      },
      "DecisionCaseResultResponseV3_1_0": {
        "properties": {
          "id": {},
          "code": {
            "format": "int64"
          },
          "workflowExecutionId": {},
          "workflow": {
            "$ref": "#/components/schemas/WorkflowV3_1_0"
          },
          "targetOfAnalysis": {
            "$ref": "#/components/schemas/TargetOfAnalysisV3_1_0"
          },
          "decisionDeskId": {},
          "status": {
            "enum": [
              "WAITING_ANALYST",
              "WAITING_ANALYSIS",
              "ANALYZING",
              "ON_HOLD",
              "WAITING_VOTES",
              "WAITING_TIE_BREAK",
              "FINISHED"
            ]
          },
          "approvalLevels": {
            "items": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/ApprovalLevelDTOV3_1_0"
                },
                {
                  "$ref": "#/components/schemas/CommitteeLevelDTOV3_1_0"
                }
              ]
            }
          },
          "finalDecision": {
            "enum": [
              "APPROVE",
              "DENY",
              "NO_DECISION"
            ]
          },
          "finalDecisionLabel": {},
          "finalDecisionClassification": {},
          "createdOn": {
            "format": "date-time"
          },
          "updatedOn": {
            "format": "date-time"
          },
          "timePaused": {},
          "completedOn": {
            "format": "date-time"
          },
          "timeToComplete": {}
        }
      },
      "DecisionDTOV3_1_0": {
        "properties": {
          "reason": {},
          "value": {},
          "label": {},
          "classification": {},
          "tieBreak": {}
        }
      },
      "FieldRefV3_1_0": {
        "properties": {
          "variableId": {},
          "variableName": {},
          "variableDescription": {},
          "variableGroupPath": {
            "items": {}
          },
          "variableSchema": {},
          "value": {}
        }
      },
      "TargetOfAnalysisV3_1_0": {
        "properties": {
          "key": {
            "$ref": "#/components/schemas/FieldRefV3_1_0"
          },
          "mainLabel": {
            "$ref": "#/components/schemas/FieldRefV3_1_0"
          },
          "additionalLabels": {
            "items": {
              "$ref": "#/components/schemas/FieldRefV3_1_0"
            }
          }
        }
      },
      "WorkflowV3_1_0": {
        "properties": {
          "id": {},
          "version": {
            "$ref": "#/components/schemas/WorkflowVersionV3_1_0"
          }
        }
      },
      "WorkflowVersionV3_1_0": {
        "properties": {
          "id": {},
          "number": {}
        }
      },
      "DecisionCaseResultResponseV1_0_0": {
        "properties": {
          "id": {},
          "code": {
            "format": "int64"
          },
          "workflowExecutionId": {},
          "decisionDeskId": {},
          "status": {
            "enum": [
              "WAITING_ANALYST",
              "WAITING_ANALYSIS",
              "ANALYZING",
              "ON_HOLD",
              "WAITING_REVIEW",
              "FINISHED"
            ]
          },
          "finalDecision": {
            "enum": [
              "APPROVE",
              "DENY"
            ]
          },
          "comments": {
            "items": {
              "$ref": "#/components/schemas/SimpleCommentDTO"
            }
          },
          "completedOn": {
            "format": "date-time"
          }
        }
      },
      "SimpleCommentDTO": {
        "properties": {
          "value": {},
          "creatorName": {},
          "createdOn": {
            "format": "date-time"
          }
        }
      },
      "ApprovalLevelDTOV2_0_0": {
        "properties": {
          "approvalLevelId": {},
          "approvalLevelName": {},
          "analystName": {},
          "analystEmail": {},
          "decision": {
            "$ref": "#/components/schemas/DecisionDTOV2_0_0"
          }
        }
      },
      "DecisionCaseResultResponseV2_0_0": {
        "properties": {
          "id": {},
          "code": {
            "format": "int64"
          },
          "workflowExecutionId": {},
          "decisionDeskId": {},
          "status": {
            "enum": [
              "WAITING_ANALYST",
              "WAITING_ANALYSIS",
              "ANALYZING",
              "ON_HOLD",
              "WAITING_REVIEW",
              "FINISHED"
            ]
          },
          "finalDecision": {
            "enum": [
              "APPROVE",
              "DENY"
            ]
          },
          "completedOn": {
            "format": "date-time"
          },
          "approvalLevels": {
            "items": {
              "$ref": "#/components/schemas/ApprovalLevelDTOV2_0_0"
            }
          }
        }
      },
      "DecisionDTOV2_0_0": {
        "properties": {
          "reason": {},
          "value": {},
          "label": {},
          "classification": {}
        }
      },
      "CreateFormSubmissionResponse": {
        "properties": {
          "id": {},
          "link": {}
        }
      },
      "CreateFormSubmissionRequest": {
        "required": [
          "formId"
        ],
        "properties": {
          "formId": {
            "minLength": 1
          },
          "expiration": {
            "format": "int64"
          },
          "preSharingFormSubmissionDTO": {
            "$ref": "#/components/schemas/PreSharingFormSubmissionDTO"
          }
        }
      },
      "FormStructureConfDTO": {
        "required": [
          "jsonSchema"
        ],
        "properties": {
          "jsonSchema": {
            "minLength": 1
          },
          "uiSchema": {}
        }
      },
      "PreSharingFormSubmissionDTO": {
        "required": [
          "filledData"
        ],
        "properties": {
          "structure": {
            "$ref": "#/components/schemas/FormStructureConfDTO"
          },
          "filledData": {
            "minLength": 1
          }
        }
      }
    }
  },
  "x-tagGroups": [
    {
      "name": "VAAS API",
      "tags": []
    },
    {
      "name": "Decision Engine",
      "tags": [
        "decision-case-v1.0.0",
        "decision-case-v2.0.0",
        "decision-v3.0.0",
        "decision-v3.1.0",
        "form-submission-v1.0.0",
        "workflow-v1.0.0",
        "workflow-v1.1.0",
        "workflow-v1.1.1"
      ]
    }
  ]
}