{
  "openapi": "3.0.3",
  "info": {
    "title": "OpenWeatherMap API",
    "version": "2.5",
    "description": "Access current weather data, forecasts, air pollution data, and geocoding for any location on Earth. Data is collected from global and local weather models, satellites, radars and weather stations.",
    "x-jentic-source-url": "https://openweathermap.org/api",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://api.openweathermap.org"
    }
  ],
  "paths": {
    "/data/2.5/weather": {
      "get": {
        "operationId": "getCurrentWeather",
        "summary": "Get current weather data",
        "description": "Access current weather data for any location on Earth by geographic coordinates.",
        "tags": [
          "Current Weather"
        ],
        "parameters": [
          {
            "name": "lat",
            "in": "query",
            "description": "Latitude of the location",
            "required": true,
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "lon",
            "in": "query",
            "description": "Longitude of the location",
            "required": true,
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "appid",
            "in": "query",
            "description": "Your unique API key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "units",
            "in": "query",
            "description": "Units of measurement",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "standard",
                "metric",
                "imperial"
              ],
              "default": "standard"
            }
          },
          {
            "name": "lang",
            "in": "query",
            "description": "Language code for output",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "mode",
            "in": "query",
            "description": "Response format",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "xml",
                "html"
              ],
              "default": "json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with current weather data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CurrentWeatherResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/data/2.5/forecast": {
      "get": {
        "operationId": "get5DayForecast",
        "summary": "Get 5-day weather forecast",
        "description": "5 day forecast with data every 3 hours by geographic coordinates. Available in JSON and XML formats.",
        "tags": [
          "Forecast"
        ],
        "parameters": [
          {
            "name": "lat",
            "in": "query",
            "description": "Latitude of the location",
            "required": true,
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "lon",
            "in": "query",
            "description": "Longitude of the location",
            "required": true,
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "appid",
            "in": "query",
            "description": "Your unique API key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "units",
            "in": "query",
            "description": "Units of measurement",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "standard",
                "metric",
                "imperial"
              ],
              "default": "standard"
            }
          },
          {
            "name": "cnt",
            "in": "query",
            "description": "Number of timestamps to return",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "mode",
            "in": "query",
            "description": "Response format",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "xml"
              ],
              "default": "json"
            }
          },
          {
            "name": "lang",
            "in": "query",
            "description": "Language code for output",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with forecast data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForecastResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/data/2.5/air_pollution": {
      "get": {
        "operationId": "getCurrentAirPollution",
        "summary": "Get current air pollution data",
        "description": "Returns current air quality index and pollutant concentrations for the specified coordinates.",
        "tags": [
          "Air Pollution"
        ],
        "parameters": [
          {
            "name": "lat",
            "in": "query",
            "description": "Latitude",
            "required": true,
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "lon",
            "in": "query",
            "description": "Longitude",
            "required": true,
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "appid",
            "in": "query",
            "description": "Your unique API key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with air pollution data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AirPollutionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/data/2.5/air_pollution/forecast": {
      "get": {
        "operationId": "getForecastAirPollution",
        "summary": "Get forecast air pollution data",
        "description": "Air pollution forecast for 4 days with hourly granularity.",
        "tags": [
          "Air Pollution"
        ],
        "parameters": [
          {
            "name": "lat",
            "in": "query",
            "description": "Latitude",
            "required": true,
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "lon",
            "in": "query",
            "description": "Longitude",
            "required": true,
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "appid",
            "in": "query",
            "description": "Your unique API key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with forecast air pollution data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AirPollutionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/data/2.5/air_pollution/history": {
      "get": {
        "operationId": "getHistoricalAirPollution",
        "summary": "Get historical air pollution data",
        "description": "Historical air pollution data accessible from 27th November 2020.",
        "tags": [
          "Air Pollution"
        ],
        "parameters": [
          {
            "name": "lat",
            "in": "query",
            "description": "Latitude",
            "required": true,
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "lon",
            "in": "query",
            "description": "Longitude",
            "required": true,
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "start",
            "in": "query",
            "description": "Start date (unix time, UTC)",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "end",
            "in": "query",
            "description": "End date (unix time, UTC)",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "appid",
            "in": "query",
            "description": "Your unique API key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with historical air pollution data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AirPollutionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/geo/1.0/direct": {
      "get": {
        "operationId": "getCoordinatesByLocationName",
        "summary": "Direct geocoding",
        "description": "Get geographical coordinates (lat, lon) by using name of the location (city name or area name).",
        "tags": [
          "Geocoding"
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "City name, state code (only for US) and country code divided by comma. Use ISO 3166 country codes.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "appid",
            "in": "query",
            "description": "Your unique API key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of locations in response (up to 5)",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 5,
              "maximum": 5
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with geocoded locations",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/GeocodingResult"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/geo/1.0/zip": {
      "get": {
        "operationId": "getCoordinatesByZipCode",
        "summary": "Geocoding by zip/post code",
        "description": "Get geographical coordinates by zip/post code.",
        "tags": [
          "Geocoding"
        ],
        "parameters": [
          {
            "name": "zip",
            "in": "query",
            "description": "Zip/post code and country code divided by comma. Use ISO 3166 country codes.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "appid",
            "in": "query",
            "description": "Your unique API key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ZipGeocodingResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "CurrentWeatherResponse": {
        "type": "object",
        "properties": {
          "coord": {
            "type": "object",
            "properties": {
              "lon": {
                "type": "number",
                "description": "Longitude"
              },
              "lat": {
                "type": "number",
                "description": "Latitude"
              }
            }
          },
          "weather": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/WeatherCondition"
            }
          },
          "base": {
            "type": "string",
            "description": "Internal parameter"
          },
          "main": {
            "$ref": "#/components/schemas/MainWeatherData"
          },
          "visibility": {
            "type": "integer",
            "description": "Visibility in meters (max 10km)"
          },
          "wind": {
            "$ref": "#/components/schemas/Wind"
          },
          "rain": {
            "type": "object",
            "properties": {
              "1h": {
                "type": "number",
                "description": "Rain volume for last 1 hour, mm"
              }
            }
          },
          "snow": {
            "type": "object",
            "properties": {
              "1h": {
                "type": "number",
                "description": "Snow volume for last 1 hour, mm"
              }
            }
          },
          "clouds": {
            "type": "object",
            "properties": {
              "all": {
                "type": "integer",
                "description": "Cloudiness %"
              }
            }
          },
          "dt": {
            "type": "integer",
            "description": "Time of data calculation, unix UTC"
          },
          "sys": {
            "type": "object",
            "properties": {
              "type": {
                "type": "integer"
              },
              "id": {
                "type": "integer"
              },
              "country": {
                "type": "string",
                "description": "Country code (GB, JP etc.)"
              },
              "sunrise": {
                "type": "integer",
                "description": "Sunrise time, unix UTC"
              },
              "sunset": {
                "type": "integer",
                "description": "Sunset time, unix UTC"
              }
            }
          },
          "timezone": {
            "type": "integer",
            "description": "Shift in seconds from UTC"
          },
          "id": {
            "type": "integer",
            "description": "City ID"
          },
          "name": {
            "type": "string",
            "description": "City name"
          },
          "cod": {
            "type": "integer",
            "description": "Internal parameter"
          }
        }
      },
      "ForecastResponse": {
        "type": "object",
        "properties": {
          "cod": {
            "type": "string"
          },
          "message": {
            "type": "integer"
          },
          "cnt": {
            "type": "integer",
            "description": "Number of timestamps returned"
          },
          "list": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ForecastItem"
            }
          },
          "city": {
            "type": "object",
            "properties": {
              "id": {
                "type": "integer"
              },
              "name": {
                "type": "string"
              },
              "coord": {
                "type": "object",
                "properties": {
                  "lat": {
                    "type": "number"
                  },
                  "lon": {
                    "type": "number"
                  }
                }
              },
              "country": {
                "type": "string"
              },
              "population": {
                "type": "integer"
              },
              "timezone": {
                "type": "integer"
              },
              "sunrise": {
                "type": "integer"
              },
              "sunset": {
                "type": "integer"
              }
            }
          }
        }
      },
      "ForecastItem": {
        "type": "object",
        "properties": {
          "dt": {
            "type": "integer",
            "description": "Time of forecast, unix UTC"
          },
          "main": {
            "$ref": "#/components/schemas/MainWeatherData"
          },
          "weather": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/WeatherCondition"
            }
          },
          "clouds": {
            "type": "object",
            "properties": {
              "all": {
                "type": "integer"
              }
            }
          },
          "wind": {
            "$ref": "#/components/schemas/Wind"
          },
          "visibility": {
            "type": "integer"
          },
          "pop": {
            "type": "number",
            "description": "Probability of precipitation (0-1)"
          },
          "rain": {
            "type": "object",
            "properties": {
              "3h": {
                "type": "number",
                "description": "Rain volume for last 3 hours, mm"
              }
            }
          },
          "snow": {
            "type": "object",
            "properties": {
              "3h": {
                "type": "number",
                "description": "Snow volume for last 3 hours, mm"
              }
            }
          },
          "sys": {
            "type": "object",
            "properties": {
              "pod": {
                "type": "string",
                "description": "Part of day (n=night, d=day)"
              }
            }
          },
          "dt_txt": {
            "type": "string",
            "description": "Time of forecast, ISO, UTC"
          }
        }
      },
      "WeatherCondition": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Weather condition id"
          },
          "main": {
            "type": "string",
            "description": "Group of weather parameters (Rain, Snow, Clouds)"
          },
          "description": {
            "type": "string",
            "description": "Weather condition within the group"
          },
          "icon": {
            "type": "string",
            "description": "Weather icon id"
          }
        }
      },
      "MainWeatherData": {
        "type": "object",
        "properties": {
          "temp": {
            "type": "number",
            "description": "Temperature"
          },
          "feels_like": {
            "type": "number",
            "description": "Human perception temperature"
          },
          "temp_min": {
            "type": "number",
            "description": "Minimum temperature"
          },
          "temp_max": {
            "type": "number",
            "description": "Maximum temperature"
          },
          "pressure": {
            "type": "integer",
            "description": "Atmospheric pressure, hPa"
          },
          "humidity": {
            "type": "integer",
            "description": "Humidity %"
          },
          "sea_level": {
            "type": "integer",
            "description": "Sea level pressure, hPa"
          },
          "grnd_level": {
            "type": "integer",
            "description": "Ground level pressure, hPa"
          }
        }
      },
      "Wind": {
        "type": "object",
        "properties": {
          "speed": {
            "type": "number",
            "description": "Wind speed"
          },
          "deg": {
            "type": "integer",
            "description": "Wind direction, degrees"
          },
          "gust": {
            "type": "number",
            "description": "Wind gust"
          }
        }
      },
      "AirPollutionResponse": {
        "type": "object",
        "properties": {
          "coord": {
            "type": "array",
            "items": {
              "type": "number"
            },
            "description": "Coordinates [lon, lat]"
          },
          "list": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AirPollutionItem"
            }
          }
        }
      },
      "AirPollutionItem": {
        "type": "object",
        "properties": {
          "dt": {
            "type": "integer",
            "description": "Date and time, Unix UTC"
          },
          "main": {
            "type": "object",
            "properties": {
              "aqi": {
                "type": "integer",
                "description": "Air Quality Index (1=Good, 2=Fair, 3=Moderate, 4=Poor, 5=Very Poor)"
              }
            }
          },
          "components": {
            "$ref": "#/components/schemas/PollutantComponents"
          }
        }
      },
      "PollutantComponents": {
        "type": "object",
        "properties": {
          "co": {
            "type": "number",
            "description": "Carbon monoxide concentration, μg/m3"
          },
          "no": {
            "type": "number",
            "description": "Nitrogen monoxide concentration, μg/m3"
          },
          "no2": {
            "type": "number",
            "description": "Nitrogen dioxide concentration, μg/m3"
          },
          "o3": {
            "type": "number",
            "description": "Ozone concentration, μg/m3"
          },
          "so2": {
            "type": "number",
            "description": "Sulphur dioxide concentration, μg/m3"
          },
          "pm2_5": {
            "type": "number",
            "description": "Fine particles matter concentration, μg/m3"
          },
          "pm10": {
            "type": "number",
            "description": "Coarse particulate matter concentration, μg/m3"
          },
          "nh3": {
            "type": "number",
            "description": "Ammonia concentration, μg/m3"
          }
        }
      },
      "GeocodingResult": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Name of the found location"
          },
          "local_names": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "Name in different languages"
          },
          "lat": {
            "type": "number",
            "description": "Latitude"
          },
          "lon": {
            "type": "number",
            "description": "Longitude"
          },
          "country": {
            "type": "string",
            "description": "Country code"
          },
          "state": {
            "type": "string",
            "description": "State (where available)"
          }
        }
      },
      "ZipGeocodingResult": {
        "type": "object",
        "properties": {
          "zip": {
            "type": "string",
            "description": "Specified zip/post code"
          },
          "name": {
            "type": "string",
            "description": "Name of the found area"
          },
          "lat": {
            "type": "number",
            "description": "Latitude"
          },
          "lon": {
            "type": "number",
            "description": "Longitude"
          },
          "country": {
            "type": "string",
            "description": "Country code"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "cod": {
            "type": "integer",
            "description": "Error code"
          },
          "message": {
            "type": "string",
            "description": "Error message"
          }
        }
      }
    },
    "securitySchemes": {
      "apiKeyQuery": {
        "type": "apiKey",
        "in": "query",
        "name": "appid",
        "description": "API key passed as query parameter"
      }
    }
  },
  "security": [
    {
      "apiKeyQuery": []
    }
  ],
  "tags": [
    {
      "name": "Air Pollution"
    },
    {
      "name": "Current Weather"
    },
    {
      "name": "Forecast"
    },
    {
      "name": "Geocoding"
    }
  ]
}
