{
  "openapi": "3.0.3",
  "info": {
    "title": "QuickChart API",
    "version": "1.0.0",
    "description": "QuickChart is a web service that generates chart images on-the-fly from Chart.js configurations. Suitable for embedding in email, SMS, chatbots, and other formats.",
    "x-jentic-source-url": "https://quickchart.io/documentation/",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://quickchart.io",
      "description": "QuickChart API"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "paths": {
    "/chart": {
      "get": {
        "operationId": "getChart",
        "summary": "Generate a chart image via GET",
        "description": "Generates a chart image from a Chart.js configuration passed as a query parameter.",
        "tags": [
          "Charts"
        ],
        "parameters": [
          {
            "name": "c",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Chart.js configuration object in JSON or JavaScript format"
          },
          {
            "name": "width",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 500
            },
            "description": "Width of image in pixels"
          },
          {
            "name": "height",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 300
            },
            "description": "Height of image in pixels"
          },
          {
            "name": "devicePixelRatio",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 2
            },
            "description": "Device pixel ratio. Set to 1 for normal resolution, 2 for retina"
          },
          {
            "name": "backgroundColor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "RGB, HEX, HSL, or color name. Defaults to transparent"
          },
          {
            "name": "version",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "2",
                "4"
              ],
              "default": "2"
            },
            "description": "Chart.js version"
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "png",
                "webp",
                "svg",
                "pdf"
              ],
              "default": "png"
            },
            "description": "Output format"
          },
          {
            "name": "encoding",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "url",
                "base64"
              ],
              "default": "url"
            },
            "description": "Output encoding"
          }
        ],
        "responses": {
          "200": {
            "description": "Chart image",
            "content": {
              "image/png": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "image/svg+xml": {
                "schema": {
                  "type": "string"
                }
              },
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "postChart",
        "summary": "Generate a chart image via POST",
        "description": "Generates a chart image from a Chart.js configuration passed in the request body. Preferred for complex configurations.",
        "tags": [
          "Charts"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChartRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Chart image",
            "content": {
              "image/png": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "image/svg+xml": {
                "schema": {
                  "type": "string"
                }
              },
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/qr": {
      "get": {
        "operationId": "getQrCode",
        "summary": "Generate a QR code",
        "description": "Generates a QR code image from text or URL.",
        "tags": [
          "QR Codes"
        ],
        "parameters": [
          {
            "name": "text",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The text or URL to encode in the QR code"
          },
          {
            "name": "width",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 150
            },
            "description": "Width of image in pixels"
          },
          {
            "name": "height",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 150
            },
            "description": "Height of image in pixels"
          },
          {
            "name": "dark",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "000000"
            },
            "description": "QR code dark color (hex without #)"
          },
          {
            "name": "light",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "ffffff"
            },
            "description": "QR code light color (hex without #)"
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "png",
                "svg"
              ],
              "default": "png"
            },
            "description": "Output format"
          }
        ],
        "responses": {
          "200": {
            "description": "QR code image",
            "content": {
              "image/png": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "image/svg+xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "query",
        "name": "key",
        "description": "Optional API key for increased rate limits"
      }
    },
    "schemas": {
      "ChartRequest": {
        "type": "object",
        "required": [
          "chart"
        ],
        "properties": {
          "chart": {
            "type": "object",
            "description": "Chart.js configuration object"
          },
          "width": {
            "type": "integer",
            "default": 500,
            "description": "Width of image in pixels"
          },
          "height": {
            "type": "integer",
            "default": 300,
            "description": "Height of image in pixels"
          },
          "devicePixelRatio": {
            "type": "integer",
            "default": 2,
            "description": "Device pixel ratio"
          },
          "backgroundColor": {
            "type": "string",
            "description": "Background color (RGB, HEX, HSL, or color name)"
          },
          "version": {
            "type": "string",
            "enum": [
              "2",
              "4"
            ],
            "default": "2",
            "description": "Chart.js version"
          },
          "format": {
            "type": "string",
            "enum": [
              "png",
              "webp",
              "svg",
              "pdf"
            ],
            "default": "png"
          },
          "encoding": {
            "type": "string",
            "enum": [
              "url",
              "base64"
            ],
            "default": "url"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Charts"
    },
    {
      "name": "QR Codes"
    }
  ]
}
