{
  "openapi": "3.0.3",
  "info": {
    "title": "EDOC-1678",
    "version": "1.0.0",
    "contact": {},
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/THAONGUYENHAIT/edoc-1678/1.0.0"
  },
  "servers": [
    {
      "url": "https://vpb-stag-callcenter.fpt.ai"
    }
  ],
  "paths": {
    "/api/campaigns/c65ea490-b886-462a-8862-5746005d2177/import-json-call-list/": {
      "post": {
        "summary": "tranfer callbot",
        "description": "tranfer callbot",
        "operationId": "tranferCallbot",
        "parameters": [
          {
            "name": "cookie",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "BCSI-CS-2d96030391312efe=1; BCSI-CS-3fcc190fc7351a56=1"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "brand_model": {
                          "type": "string",
                          "example": "Audi Q3"
                        },
                        "brand_name": {
                          "type": "string",
                          "example": "AUDI"
                        },
                        "dob": {
                          "type": "string",
                          "example": "1995-04-14"
                        },
                        "fix_rate": {
                          "type": "number",
                          "example": 6.0
                        },
                        "fix_term": {
                          "type": "number",
                          "example": 6
                        },
                        "loan_amount": {
                          "type": "number",
                          "example": 1074000000
                        },
                        "loan_term": {
                          "type": "number",
                          "example": 48
                        },
                        "loan_term_code": {
                          "type": "string",
                          "example": "LS c\u01a1 s\u1edf"
                        },
                        "los_app_no": {
                          "type": "string",
                          "example": "LN2505084640384"
                        },
                        "margin_rate": {
                          "type": "number",
                          "example": 3.6
                        },
                        "marital_status": {
                          "type": "string",
                          "example": "Single"
                        },
                        "name": {
                          "type": "string",
                          "example": "V\u0169 Minh Ph\u01b0\u1ee3ng"
                        },
                        "nid": {
                          "type": "string",
                          "example": "150420251341"
                        },
                        "nid_issued_date": {
                          "type": "string",
                          "example": "2022-01-12"
                        },
                        "nid_issued_place": {
                          "type": "string",
                          "example": "C\u1ee5c c\u1ea3nh s\u00e1t QLHC v\u1ec1 TTXH"
                        },
                        "penalty_fee": {
                          "type": "string",
                          "example": "B\u00ean vay ph\u1ea3i thanh to\u00e1n cho B\u00ean Ng\u00e2n h\u00e0ng kho\u1ea3n ti\u00ea\u0300n ph\u00ed tr\u1ea3 n\u1ee3 tr\u01b0\u1edbc h\u1ea1n. M\u1ee9c ph\u00ed tr\u1ea3 n\u1ee3 tr\u01b0\u1edbc h\u1ea1n s\u1ebd \u0111\u01b0\u1ee3c x\u00e1c \u0111\u1ecbnh c\u0103n c\u1ee9 v\u00e0o th\u1eddi \u0111i\u1ec3m B\u00ean vay th\u1ef1c hi\u1ec7n tr\u1ea3 n\u1ee3 tr\u01b0\u1edbc h\u1ea1n. Th\u1eddi \u0111i\u1ec3m tr\u1ea3 n\u1ee3 tr\u01b0\u1edbc h\u1ea1n (\u0111\u01b0\u1ee3c t\u00ednh t\u1eeb ng\u00e0y gi\u1ea3i ng\u00e2n \u0111\u1ebfn ng\u00e0y tr\u1ea3 n\u1ee3 tr\u01b0\u1edbc h\u1ea1n) v\u00e0 M\u1ee9c ph\u00ed \u00e1p d\u1ee5ng trong t\u1eebng tr\u01b0\u1eddng h\u1ee3p c\u1ee5 th\u1ec3 nh\u01b0 sau:- T\u1eeb th\u00e1ng th\u1ee9 1 \u0111\u1ebfn th\u00e1ng th\u1ee9 12: 4% nh\u00e2n (*) s\u1ed1 ti\u1ec1n tr\u1ea3 n\u1ee3 tr\u01b0\u1edbc h\u1ea1n.- T\u1eeb th\u00e1ng th\u1ee9 13 \u0111\u1ebfn th\u00e1ng th\u1ee9 24: 3% nh\u00e2n (*) s\u1ed1 ti\u1ec1n tr\u1ea3 n\u1ee3 tr\u01b0\u1edbc h\u1ea1n.- T\u1eeb th\u00e1ng th\u1ee9 25 \u0111\u1ebfn th\u00e1ng th\u1ee9 36: 2% nh\u00e2n (*) s\u1ed1 ti\u1ec1n tr\u1ea3 n\u1ee3 tr\u01b0\u1edbc h\u1ea1n.- T\u1eeb th\u00e1ng th\u1ee9 37 \u0111\u1ebfn th\u00e1ng th\u1ee9 48: 1% nh\u00e2n (*) s\u1ed1 ti\u1ec1n tr\u1ea3 n\u1ee3 tr\u01b0\u1edbc h\u1ea1n.- T\u1eeb th\u00e1ng th\u1ee9 49: Mi\u1ec5n ph\u00ed."
                        },
                        "phone_numbers": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "phone_number": {
                                "type": "string",
                                "example": "0987654321"
                              },
                              "priority": {
                                "type": "number",
                                "example": 1
                              }
                            }
                          },
                          "example": [
                            {
                              "phone_number": "0987654321",
                              "priority": 1
                            }
                          ]
                        },
                        "showroom": {
                          "type": "string",
                          "example": "Showroom abc"
                        }
                      }
                    },
                    "example": [
                      {
                        "brand_model": "Audi Q3",
                        "brand_name": "AUDI",
                        "dob": "1995-04-14",
                        "fix_rate": 6.0,
                        "fix_term": 6,
                        "loan_amount": 1074000000,
                        "loan_term": 48,
                        "loan_term_code": "LS c\u01a1 s\u1edf",
                        "los_app_no": "LN2505084640384",
                        "margin_rate": 3.6,
                        "marital_status": "Single",
                        "name": "V\u0169 Minh Ph\u01b0\u1ee3ng",
                        "nid": "150420251341",
                        "nid_issued_date": "2022-01-12",
                        "nid_issued_place": "C\u1ee5c c\u1ea3nh s\u00e1t QLHC v\u1ec1 TTXH",
                        "penalty_fee": "B\u00ean vay ph\u1ea3i thanh to\u00e1n cho B\u00ean Ng\u00e2n h\u00e0ng kho\u1ea3n ti\u00ea\u0300n ph\u00ed tr\u1ea3 n\u1ee3 tr\u01b0\u1edbc h\u1ea1n. M\u1ee9c ph\u00ed tr\u1ea3 n\u1ee3 tr\u01b0\u1edbc h\u1ea1n s\u1ebd \u0111\u01b0\u1ee3c x\u00e1c \u0111\u1ecbnh c\u0103n c\u1ee9 v\u00e0o th\u1eddi \u0111i\u1ec3m B\u00ean vay th\u1ef1c hi\u1ec7n tr\u1ea3 n\u1ee3 tr\u01b0\u1edbc h\u1ea1n. Th\u1eddi \u0111i\u1ec3m tr\u1ea3 n\u1ee3 tr\u01b0\u1edbc h\u1ea1n (\u0111\u01b0\u1ee3c t\u00ednh t\u1eeb ng\u00e0y gi\u1ea3i ng\u00e2n \u0111\u1ebfn ng\u00e0y tr\u1ea3 n\u1ee3 tr\u01b0\u1edbc h\u1ea1n) v\u00e0 M\u1ee9c ph\u00ed \u00e1p d\u1ee5ng trong t\u1eebng tr\u01b0\u1eddng h\u1ee3p c\u1ee5 th\u1ec3 nh\u01b0 sau:- T\u1eeb th\u00e1ng th\u1ee9 1 \u0111\u1ebfn th\u00e1ng th\u1ee9 12: 4% nh\u00e2n (*) s\u1ed1 ti\u1ec1n tr\u1ea3 n\u1ee3 tr\u01b0\u1edbc h\u1ea1n.- T\u1eeb th\u00e1ng th\u1ee9 13 \u0111\u1ebfn th\u00e1ng th\u1ee9 24: 3% nh\u00e2n (*) s\u1ed1 ti\u1ec1n tr\u1ea3 n\u1ee3 tr\u01b0\u1edbc h\u1ea1n.- T\u1eeb th\u00e1ng th\u1ee9 25 \u0111\u1ebfn th\u00e1ng th\u1ee9 36: 2% nh\u00e2n (*) s\u1ed1 ti\u1ec1n tr\u1ea3 n\u1ee3 tr\u01b0\u1edbc h\u1ea1n.- T\u1eeb th\u00e1ng th\u1ee9 37 \u0111\u1ebfn th\u00e1ng th\u1ee9 48: 1% nh\u00e2n (*) s\u1ed1 ti\u1ec1n tr\u1ea3 n\u1ee3 tr\u01b0\u1edbc h\u1ea1n.- T\u1eeb th\u00e1ng th\u1ee9 49: Mi\u1ec5n ph\u00ed.",
                        "phone_numbers": [
                          {
                            "phone_number": "0987654321",
                            "priority": 1
                          }
                        ],
                        "showroom": "Showroom abc"
                      },
                      {
                        "brand_model": "Audi Q3",
                        "brand_name": "AUDI",
                        "dob": "1995-04-14",
                        "fix_rate": 6.0,
                        "fix_term": 6,
                        "loan_amount": 1074000000,
                        "loan_term": 48,
                        "loan_term_code": "LS c\u01a1 s\u1edf",
                        "los_app_no": "LN2505084640385",
                        "margin_rate": 3.6,
                        "marital_status": "Single",
                        "name": "Ph\u01b0\u1ee3ng test success",
                        "nid": "150420251342",
                        "nid_issued_date": "2022-01-12",
                        "nid_issued_place": "C\u1ee5c c\u1ea3nh s\u00e1t QLHC v\u1ec1 TTXH",
                        "penalty_fee": "B\u00ean vay ph\u1ea3i thanh to\u00e1n cho B\u00ean Ng\u00e2n h\u00e0ng kho\u1ea3n ti\u00ea\u0300n ph\u00ed tr\u1ea3 n\u1ee3 tr\u01b0\u1edbc h\u1ea1n. M\u1ee9c ph\u00ed tr\u1ea3 n\u1ee3 tr\u01b0\u1edbc h\u1ea1n s\u1ebd \u0111\u01b0\u1ee3c x\u00e1c \u0111\u1ecbnh c\u0103n c\u1ee9 v\u00e0o th\u1eddi \u0111i\u1ec3m B\u00ean vay th\u1ef1c hi\u1ec7n tr\u1ea3 n\u1ee3 tr\u01b0\u1edbc h\u1ea1n. Th\u1eddi \u0111i\u1ec3m tr\u1ea3 n\u1ee3 tr\u01b0\u1edbc h\u1ea1n (\u0111\u01b0\u1ee3c t\u00ednh t\u1eeb ng\u00e0y gi\u1ea3i ng\u00e2n \u0111\u1ebfn ng\u00e0y tr\u1ea3 n\u1ee3 tr\u01b0\u1edbc h\u1ea1n) v\u00e0 M\u1ee9c ph\u00ed \u00e1p d\u1ee5ng trong t\u1eebng tr\u01b0\u1eddng h\u1ee3p c\u1ee5 th\u1ec3 nh\u01b0 sau:- T\u1eeb th\u00e1ng th\u1ee9 1 \u0111\u1ebfn th\u00e1ng th\u1ee9 12: 4% nh\u00e2n (*) s\u1ed1 ti\u1ec1n tr\u1ea3 n\u1ee3 tr\u01b0\u1edbc h\u1ea1n.- T\u1eeb th\u00e1ng th\u1ee9 13 \u0111\u1ebfn th\u00e1ng th\u1ee9 24: 3% nh\u00e2n (*) s\u1ed1 ti\u1ec1n tr\u1ea3 n\u1ee3 tr\u01b0\u1edbc h\u1ea1n.- T\u1eeb th\u00e1ng th\u1ee9 25 \u0111\u1ebfn th\u00e1ng th\u1ee9 36: 2% nh\u00e2n (*) s\u1ed1 ti\u1ec1n tr\u1ea3 n\u1ee3 tr\u01b0\u1edbc h\u1ea1n.- T\u1eeb th\u00e1ng th\u1ee9 37 \u0111\u1ebfn th\u00e1ng th\u1ee9 48: 1% nh\u00e2n (*) s\u1ed1 ti\u1ec1n tr\u1ea3 n\u1ee3 tr\u01b0\u1edbc h\u1ea1n.- T\u1eeb th\u00e1ng th\u1ee9 49: Mi\u1ec5n ph\u00ed.",
                        "phone_numbers": [
                          {
                            "phone_number": "0923456789",
                            "priority": 1
                          }
                        ],
                        "showroom": "Showroom abc"
                      },
                      {
                        "brand_model": "Audi Q3",
                        "brand_name": "AUDI",
                        "dob": "1995-04-14",
                        "fix_rate": 6.0,
                        "fix_term": 6,
                        "loan_amount": 1074000000,
                        "loan_term": 48,
                        "loan_term_code": "LS c\u01a1 s\u1edf",
                        "los_app_no": "LN2505084640386",
                        "margin_rate": 3.6,
                        "marital_status": "Single",
                        "name": "Minh Ph\u01b0\u1ee3ng V\u0169",
                        "nid": "150420251343",
                        "nid_issued_date": "2022-01-12",
                        "nid_issued_place": "C\u1ee5c c\u1ea3nh s\u00e1t QLHC v\u1ec1 TTXH",
                        "penalty_fee": "B\u00ean vay ph\u1ea3i thanh to\u00e1n cho B\u00ean Ng\u00e2n h\u00e0ng kho\u1ea3n ti\u00ea\u0300n ph\u00ed tr\u1ea3 n\u1ee3 tr\u01b0\u1edbc h\u1ea1n. M\u1ee9c ph\u00ed tr\u1ea3 n\u1ee3 tr\u01b0\u1edbc h\u1ea1n s\u1ebd \u0111\u01b0\u1ee3c x\u00e1c \u0111\u1ecbnh c\u0103n c\u1ee9 v\u00e0o th\u1eddi \u0111i\u1ec3m B\u00ean vay th\u1ef1c hi\u1ec7n tr\u1ea3 n\u1ee3 tr\u01b0\u1edbc h\u1ea1n. Th\u1eddi \u0111i\u1ec3m tr\u1ea3 n\u1ee3 tr\u01b0\u1edbc h\u1ea1n (\u0111\u01b0\u1ee3c t\u00ednh t\u1eeb ng\u00e0y gi\u1ea3i ng\u00e2n \u0111\u1ebfn ng\u00e0y tr\u1ea3 n\u1ee3 tr\u01b0\u1edbc h\u1ea1n) v\u00e0 M\u1ee9c ph\u00ed \u00e1p d\u1ee5ng trong t\u1eebng tr\u01b0\u1eddng h\u1ee3p c\u1ee5 th\u1ec3 nh\u01b0 sau:- T\u1eeb th\u00e1ng th\u1ee9 1 \u0111\u1ebfn th\u00e1ng th\u1ee9 12: 4% nh\u00e2n (*) s\u1ed1 ti\u1ec1n tr\u1ea3 n\u1ee3 tr\u01b0\u1edbc h\u1ea1n.- T\u1eeb th\u00e1ng th\u1ee9 13 \u0111\u1ebfn th\u00e1ng th\u1ee9 24: 3% nh\u00e2n (*) s\u1ed1 ti\u1ec1n tr\u1ea3 n\u1ee3 tr\u01b0\u1edbc h\u1ea1n.- T\u1eeb th\u00e1ng th\u1ee9 25 \u0111\u1ebfn th\u00e1ng th\u1ee9 36: 2% nh\u00e2n (*) s\u1ed1 ti\u1ec1n tr\u1ea3 n\u1ee3 tr\u01b0\u1edbc h\u1ea1n.- T\u1eeb th\u00e1ng th\u1ee9 37 \u0111\u1ebfn th\u00e1ng th\u1ee9 48: 1% nh\u00e2n (*) s\u1ed1 ti\u1ec1n tr\u1ea3 n\u1ee3 tr\u01b0\u1edbc h\u1ea1n.- T\u1eeb th\u00e1ng th\u1ee9 49: Mi\u1ec5n ph\u00ed.",
                        "phone_numbers": [
                          {
                            "phone_number": "0981234567",
                            "priority": 1
                          }
                        ],
                        "showroom": "Showroom abc"
                      }
                    ]
                  }
                }
              },
              "examples": {
                "tranfer callbot": {
                  "value": {
                    "data": [
                      {
                        "brand_model": "Audi Q3",
                        "brand_name": "AUDI",
                        "dob": "1995-04-14",
                        "fix_rate": 6.0,
                        "fix_term": 6,
                        "loan_amount": 1074000000,
                        "loan_term": 48,
                        "loan_term_code": "LS c\u01a1 s\u1edf",
                        "los_app_no": "LN2505084640384",
                        "margin_rate": 3.6,
                        "marital_status": "Single",
                        "name": "V\u0169 Minh Ph\u01b0\u1ee3ng",
                        "nid": "150420251341",
                        "nid_issued_date": "2022-01-12",
                        "nid_issued_place": "C\u1ee5c c\u1ea3nh s\u00e1t QLHC v\u1ec1 TTXH",
                        "penalty_fee": "B\u00ean vay ph\u1ea3i thanh to\u00e1n cho B\u00ean Ng\u00e2n h\u00e0ng kho\u1ea3n ti\u00ea\u0300n ph\u00ed tr\u1ea3 n\u1ee3 tr\u01b0\u1edbc h\u1ea1n. M\u1ee9c ph\u00ed tr\u1ea3 n\u1ee3 tr\u01b0\u1edbc h\u1ea1n s\u1ebd \u0111\u01b0\u1ee3c x\u00e1c \u0111\u1ecbnh c\u0103n c\u1ee9 v\u00e0o th\u1eddi \u0111i\u1ec3m B\u00ean vay th\u1ef1c hi\u1ec7n tr\u1ea3 n\u1ee3 tr\u01b0\u1edbc h\u1ea1n. Th\u1eddi \u0111i\u1ec3m tr\u1ea3 n\u1ee3 tr\u01b0\u1edbc h\u1ea1n (\u0111\u01b0\u1ee3c t\u00ednh t\u1eeb ng\u00e0y gi\u1ea3i ng\u00e2n \u0111\u1ebfn ng\u00e0y tr\u1ea3 n\u1ee3 tr\u01b0\u1edbc h\u1ea1n) v\u00e0 M\u1ee9c ph\u00ed \u00e1p d\u1ee5ng trong t\u1eebng tr\u01b0\u1eddng h\u1ee3p c\u1ee5 th\u1ec3 nh\u01b0 sau:- T\u1eeb th\u00e1ng th\u1ee9 1 \u0111\u1ebfn th\u00e1ng th\u1ee9 12: 4% nh\u00e2n (*) s\u1ed1 ti\u1ec1n tr\u1ea3 n\u1ee3 tr\u01b0\u1edbc h\u1ea1n.- T\u1eeb th\u00e1ng th\u1ee9 13 \u0111\u1ebfn th\u00e1ng th\u1ee9 24: 3% nh\u00e2n (*) s\u1ed1 ti\u1ec1n tr\u1ea3 n\u1ee3 tr\u01b0\u1edbc h\u1ea1n.- T\u1eeb th\u00e1ng th\u1ee9 25 \u0111\u1ebfn th\u00e1ng th\u1ee9 36: 2% nh\u00e2n (*) s\u1ed1 ti\u1ec1n tr\u1ea3 n\u1ee3 tr\u01b0\u1edbc h\u1ea1n.- T\u1eeb th\u00e1ng th\u1ee9 37 \u0111\u1ebfn th\u00e1ng th\u1ee9 48: 1% nh\u00e2n (*) s\u1ed1 ti\u1ec1n tr\u1ea3 n\u1ee3 tr\u01b0\u1edbc h\u1ea1n.- T\u1eeb th\u00e1ng th\u1ee9 49: Mi\u1ec5n ph\u00ed.",
                        "phone_numbers": [
                          {
                            "phone_number": "0987654321",
                            "priority": 1
                          }
                        ],
                        "showroom": "Showroom abc"
                      },
                      {
                        "brand_model": "Audi Q3",
                        "brand_name": "AUDI",
                        "dob": "1995-04-14",
                        "fix_rate": 6.0,
                        "fix_term": 6,
                        "loan_amount": 1074000000,
                        "loan_term": 48,
                        "loan_term_code": "LS c\u01a1 s\u1edf",
                        "los_app_no": "LN2505084640385",
                        "margin_rate": 3.6,
                        "marital_status": "Single",
                        "name": "Ph\u01b0\u1ee3ng test success",
                        "nid": "150420251342",
                        "nid_issued_date": "2022-01-12",
                        "nid_issued_place": "C\u1ee5c c\u1ea3nh s\u00e1t QLHC v\u1ec1 TTXH",
                        "penalty_fee": "B\u00ean vay ph\u1ea3i thanh to\u00e1n cho B\u00ean Ng\u00e2n h\u00e0ng kho\u1ea3n ti\u00ea\u0300n ph\u00ed tr\u1ea3 n\u1ee3 tr\u01b0\u1edbc h\u1ea1n. M\u1ee9c ph\u00ed tr\u1ea3 n\u1ee3 tr\u01b0\u1edbc h\u1ea1n s\u1ebd \u0111\u01b0\u1ee3c x\u00e1c \u0111\u1ecbnh c\u0103n c\u1ee9 v\u00e0o th\u1eddi \u0111i\u1ec3m B\u00ean vay th\u1ef1c hi\u1ec7n tr\u1ea3 n\u1ee3 tr\u01b0\u1edbc h\u1ea1n. Th\u1eddi \u0111i\u1ec3m tr\u1ea3 n\u1ee3 tr\u01b0\u1edbc h\u1ea1n (\u0111\u01b0\u1ee3c t\u00ednh t\u1eeb ng\u00e0y gi\u1ea3i ng\u00e2n \u0111\u1ebfn ng\u00e0y tr\u1ea3 n\u1ee3 tr\u01b0\u1edbc h\u1ea1n) v\u00e0 M\u1ee9c ph\u00ed \u00e1p d\u1ee5ng trong t\u1eebng tr\u01b0\u1eddng h\u1ee3p c\u1ee5 th\u1ec3 nh\u01b0 sau:- T\u1eeb th\u00e1ng th\u1ee9 1 \u0111\u1ebfn th\u00e1ng th\u1ee9 12: 4% nh\u00e2n (*) s\u1ed1 ti\u1ec1n tr\u1ea3 n\u1ee3 tr\u01b0\u1edbc h\u1ea1n.- T\u1eeb th\u00e1ng th\u1ee9 13 \u0111\u1ebfn th\u00e1ng th\u1ee9 24: 3% nh\u00e2n (*) s\u1ed1 ti\u1ec1n tr\u1ea3 n\u1ee3 tr\u01b0\u1edbc h\u1ea1n.- T\u1eeb th\u00e1ng th\u1ee9 25 \u0111\u1ebfn th\u00e1ng th\u1ee9 36: 2% nh\u00e2n (*) s\u1ed1 ti\u1ec1n tr\u1ea3 n\u1ee3 tr\u01b0\u1edbc h\u1ea1n.- T\u1eeb th\u00e1ng th\u1ee9 37 \u0111\u1ebfn th\u00e1ng th\u1ee9 48: 1% nh\u00e2n (*) s\u1ed1 ti\u1ec1n tr\u1ea3 n\u1ee3 tr\u01b0\u1edbc h\u1ea1n.- T\u1eeb th\u00e1ng th\u1ee9 49: Mi\u1ec5n ph\u00ed.",
                        "phone_numbers": [
                          {
                            "phone_number": "0923456789",
                            "priority": 1
                          }
                        ],
                        "showroom": "Showroom abc"
                      },
                      {
                        "brand_model": "Audi Q3",
                        "brand_name": "AUDI",
                        "dob": "1995-04-14",
                        "fix_rate": 6.0,
                        "fix_term": 6,
                        "loan_amount": 1074000000,
                        "loan_term": 48,
                        "loan_term_code": "LS c\u01a1 s\u1edf",
                        "los_app_no": "LN2505084640386",
                        "margin_rate": 3.6,
                        "marital_status": "Single",
                        "name": "Minh Ph\u01b0\u1ee3ng V\u0169",
                        "nid": "150420251343",
                        "nid_issued_date": "2022-01-12",
                        "nid_issued_place": "C\u1ee5c c\u1ea3nh s\u00e1t QLHC v\u1ec1 TTXH",
                        "penalty_fee": "B\u00ean vay ph\u1ea3i thanh to\u00e1n cho B\u00ean Ng\u00e2n h\u00e0ng kho\u1ea3n ti\u00ea\u0300n ph\u00ed tr\u1ea3 n\u1ee3 tr\u01b0\u1edbc h\u1ea1n. M\u1ee9c ph\u00ed tr\u1ea3 n\u1ee3 tr\u01b0\u1edbc h\u1ea1n s\u1ebd \u0111\u01b0\u1ee3c x\u00e1c \u0111\u1ecbnh c\u0103n c\u1ee9 v\u00e0o th\u1eddi \u0111i\u1ec3m B\u00ean vay th\u1ef1c hi\u1ec7n tr\u1ea3 n\u1ee3 tr\u01b0\u1edbc h\u1ea1n. Th\u1eddi \u0111i\u1ec3m tr\u1ea3 n\u1ee3 tr\u01b0\u1edbc h\u1ea1n (\u0111\u01b0\u1ee3c t\u00ednh t\u1eeb ng\u00e0y gi\u1ea3i ng\u00e2n \u0111\u1ebfn ng\u00e0y tr\u1ea3 n\u1ee3 tr\u01b0\u1edbc h\u1ea1n) v\u00e0 M\u1ee9c ph\u00ed \u00e1p d\u1ee5ng trong t\u1eebng tr\u01b0\u1eddng h\u1ee3p c\u1ee5 th\u1ec3 nh\u01b0 sau:- T\u1eeb th\u00e1ng th\u1ee9 1 \u0111\u1ebfn th\u00e1ng th\u1ee9 12: 4% nh\u00e2n (*) s\u1ed1 ti\u1ec1n tr\u1ea3 n\u1ee3 tr\u01b0\u1edbc h\u1ea1n.- T\u1eeb th\u00e1ng th\u1ee9 13 \u0111\u1ebfn th\u00e1ng th\u1ee9 24: 3% nh\u00e2n (*) s\u1ed1 ti\u1ec1n tr\u1ea3 n\u1ee3 tr\u01b0\u1edbc h\u1ea1n.- T\u1eeb th\u00e1ng th\u1ee9 25 \u0111\u1ebfn th\u00e1ng th\u1ee9 36: 2% nh\u00e2n (*) s\u1ed1 ti\u1ec1n tr\u1ea3 n\u1ee3 tr\u01b0\u1edbc h\u1ea1n.- T\u1eeb th\u00e1ng th\u1ee9 37 \u0111\u1ebfn th\u00e1ng th\u1ee9 48: 1% nh\u00e2n (*) s\u1ed1 ti\u1ec1n tr\u1ea3 n\u1ee3 tr\u01b0\u1edbc h\u1ea1n.- T\u1eeb th\u00e1ng th\u1ee9 49: Mi\u1ec5n ph\u00ed.",
                        "phone_numbers": [
                          {
                            "phone_number": "0981234567",
                            "priority": 1
                          }
                        ],
                        "showroom": "Showroom abc"
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    }
  },
  "tags": []
}