{
  "openapi": "3.0.3",
  "info": {
    "title": "Words API",
    "version": "1.0.0",
    "description": "Words API provides comprehensive word data including definitions, synonyms, antonyms, examples, pronunciation, syllables, frequency, rhymes, and various semantic relationships. Accessed via RapidAPI. Returns JSON for all responses.",
    "x-jentic-source-url": "https://www.wordsapi.com/docs/",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://wordsapiv1.p.mashape.com"
    }
  ],
  "paths": {
    "/words/{word}": {
      "get": {
        "operationId": "getWord",
        "summary": "Get complete word information",
        "description": "Returns everything known about a word — definitions, synonyms, antonyms, examples, pronunciation, syllables, frequency, and all semantic relationships, grouped by definition.",
        "tags": [
          "Words"
        ],
        "parameters": [
          {
            "name": "word",
            "in": "path",
            "description": "The word to look up",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with complete word data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WordResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Word not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/words/{word}/definitions": {
      "get": {
        "operationId": "getWordDefinitions",
        "summary": "Get word definitions",
        "description": "Returns definitions for the specified word, including part of speech for each definition.",
        "tags": [
          "Word Details"
        ],
        "parameters": [
          {
            "name": "word",
            "in": "path",
            "description": "The word to look up",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with definitions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefinitionsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Word not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/words/{word}/synonyms": {
      "get": {
        "operationId": "getWordSynonyms",
        "summary": "Get word synonyms",
        "description": "Returns words that can be interchanged for the original word in the same context.",
        "tags": [
          "Word Details"
        ],
        "parameters": [
          {
            "name": "word",
            "in": "path",
            "description": "The word to look up",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with synonyms",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Word not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/words/{word}/antonyms": {
      "get": {
        "operationId": "getWordAntonyms",
        "summary": "Get word antonyms",
        "description": "Returns words that have the opposite context of the original word.",
        "tags": [
          "Word Details"
        ],
        "parameters": [
          {
            "name": "word",
            "in": "path",
            "description": "The word to look up",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with antonyms",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Word not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/words/{word}/examples": {
      "get": {
        "operationId": "getWordExamples",
        "summary": "Get word usage examples",
        "description": "Returns example sentences using the specified word.",
        "tags": [
          "Word Details"
        ],
        "parameters": [
          {
            "name": "word",
            "in": "path",
            "description": "The word to look up",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with examples",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExamplesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Word not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/words/{word}/pronunciation": {
      "get": {
        "operationId": "getWordPronunciation",
        "summary": "Get word pronunciation",
        "description": "Returns the International Phonetic Alphabet (IPA) pronunciation for the specified word. May include multiple pronunciations if the word is pronounced differently depending on part of speech.",
        "tags": [
          "Word Details"
        ],
        "parameters": [
          {
            "name": "word",
            "in": "path",
            "description": "The word to look up",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with pronunciation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PronunciationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Word not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/words/{word}/syllables": {
      "get": {
        "operationId": "getWordSyllables",
        "summary": "Get word syllables",
        "description": "Returns the syllable breakdown and count for the specified word.",
        "tags": [
          "Word Details"
        ],
        "parameters": [
          {
            "name": "word",
            "in": "path",
            "description": "The word to look up",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with syllables",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SyllablesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Word not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/words/{word}/frequency": {
      "get": {
        "operationId": "getWordFrequency",
        "summary": "Get word frequency",
        "description": "Returns how frequently the word appears in written English, measured by the Zipf scale. Higher values indicate more common words.",
        "tags": [
          "Word Details"
        ],
        "parameters": [
          {
            "name": "word",
            "in": "path",
            "description": "The word to look up",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with frequency data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FrequencyResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Word not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/words/{word}/rhymes": {
      "get": {
        "operationId": "getWordRhymes",
        "summary": "Get words that rhyme",
        "description": "Returns words that rhyme with the specified word.",
        "tags": [
          "Word Details"
        ],
        "parameters": [
          {
            "name": "word",
            "in": "path",
            "description": "The word to look up",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with rhyming words",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RhymesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Word not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/words/": {
      "get": {
        "operationId": "getRandomWord",
        "summary": "Get a random word",
        "description": "Returns a random word. Can be filtered by various criteria such as having specific details available, letter patterns, word frequency, etc.",
        "tags": [
          "Words"
        ],
        "parameters": [
          {
            "name": "letterPattern",
            "in": "query",
            "description": "Regular expression pattern the word must match",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "letters",
            "in": "query",
            "description": "Number of letters in the word",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "lettersMin",
            "in": "query",
            "description": "Minimum number of letters",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "lettersMax",
            "in": "query",
            "description": "Maximum number of letters",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "pronunciationPattern",
            "in": "query",
            "description": "IPA pronunciation pattern to match",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "frequencyMin",
            "in": "query",
            "description": "Minimum Zipf frequency score",
            "required": false,
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "frequencyMax",
            "in": "query",
            "description": "Maximum Zipf frequency score",
            "required": false,
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "hasDetails",
            "in": "query",
            "description": "Comma-separated list of detail types the random word must have (e.g., 'definitions,synonyms')",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "partOfSpeech",
            "in": "query",
            "description": "Part of speech to filter by (e.g., 'noun', 'verb', 'adjective')",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "random",
            "in": "query",
            "description": "Set to true to get a random word",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with a random word",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WordResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "WordResult": {
        "type": "object",
        "properties": {
          "definition": {
            "type": "string",
            "description": "The meaning of the word"
          },
          "partOfSpeech": {
            "type": "string",
            "description": "Part of speech (noun, verb, adjective, etc.)"
          },
          "synonyms": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "antonyms": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "typeOf": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "More generic words (hypernyms)"
          },
          "hasTypes": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "More specific words (hyponyms)"
          },
          "partOf": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Larger wholes (holonyms)"
          },
          "hasParts": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Component parts (meronyms)"
          },
          "instanceOf": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "hasInstances": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "similarTo": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "also": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "entails": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "memberOf": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "hasMembers": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "substanceOf": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "hasSubstances": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "inCategory": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "hasCategories": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "usageOf": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "hasUsages": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "inRegion": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "regionOf": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "pertainsTo": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "derivation": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "examples": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "Pronunciation": {
        "type": "object",
        "properties": {
          "all": {
            "type": "string",
            "description": "General IPA pronunciation"
          }
        },
        "additionalProperties": {
          "type": "string",
          "description": "Part-of-speech-specific pronunciations"
        }
      },
      "Syllables": {
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "description": "Number of syllables"
          },
          "list": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "List of syllables"
          }
        }
      },
      "Frequency": {
        "type": "object",
        "properties": {
          "zipf": {
            "type": "number",
            "format": "double",
            "description": "Zipf frequency score (higher = more common)"
          },
          "perMillion": {
            "type": "number",
            "format": "double",
            "description": "Occurrences per million words"
          },
          "diversity": {
            "type": "number",
            "format": "double",
            "description": "Diversity of text sources"
          }
        }
      },
      "WordResponse": {
        "type": "object",
        "properties": {
          "word": {
            "type": "string"
          },
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/WordResult"
            }
          },
          "syllables": {
            "$ref": "#/components/schemas/Syllables"
          },
          "pronunciation": {
            "$ref": "#/components/schemas/Pronunciation"
          },
          "frequency": {
            "$ref": "#/components/schemas/Frequency"
          }
        }
      },
      "DefinitionsResponse": {
        "type": "object",
        "properties": {
          "word": {
            "type": "string"
          },
          "definitions": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "definition": {
                  "type": "string"
                },
                "partOfSpeech": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "StringListResponse": {
        "type": "object",
        "properties": {
          "word": {
            "type": "string"
          },
          "synonyms": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "antonyms": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "ExamplesResponse": {
        "type": "object",
        "properties": {
          "word": {
            "type": "string"
          },
          "examples": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "PronunciationResponse": {
        "type": "object",
        "properties": {
          "word": {
            "type": "string"
          },
          "pronunciation": {
            "$ref": "#/components/schemas/Pronunciation"
          }
        }
      },
      "SyllablesResponse": {
        "type": "object",
        "properties": {
          "word": {
            "type": "string"
          },
          "syllables": {
            "$ref": "#/components/schemas/Syllables"
          }
        }
      },
      "FrequencyResponse": {
        "type": "object",
        "properties": {
          "word": {
            "type": "string"
          },
          "frequency": {
            "$ref": "#/components/schemas/Frequency"
          }
        }
      },
      "RhymesResponse": {
        "type": "object",
        "properties": {
          "word": {
            "type": "string"
          },
          "rhymes": {
            "type": "object",
            "properties": {
              "all": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "rapidApiKey": {
        "type": "apiKey",
        "name": "X-RapidAPI-Key",
        "in": "header",
        "description": "RapidAPI key for authentication"
      },
      "rapidApiHost": {
        "type": "apiKey",
        "name": "X-RapidAPI-Host",
        "in": "header",
        "description": "RapidAPI host header (wordsapiv1.p.rapidapi.com)"
      }
    }
  },
  "security": [
    {
      "rapidApiKey": [],
      "rapidApiHost": []
    }
  ],
  "tags": [
    {
      "name": "Word Details"
    },
    {
      "name": "Words"
    }
  ]
}
