{
  "openapi": "3.0.3",
  "info": {
    "title": "Bonusly API",
    "description": "Bonusly is an employee recognition and rewards platform. The API allows you to manage bonuses, users, redemptions, webhooks, achievements, and analytics for your organization.",
    "version": "1.0.0",
    "contact": {
      "name": "Bonusly",
      "url": "https://bonusly.com"
    },
    "x-jentic-source-url": "https://bonusly.gelato.io/"
  },
  "servers": [
    {
      "url": "https://bonus.ly/api",
      "description": "Bonusly API Server"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/bonuses": {
      "get": {
        "operationId": "listBonuses",
        "summary": "List bonuses",
        "description": "Retrieve a list of bonuses with optional filtering by giver, receiver, hashtag, and date range.",
        "tags": [
          "Bonuses"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Number of bonuses to retrieve",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            }
          },
          {
            "name": "skip",
            "in": "query",
            "description": "Number of bonuses to skip for pagination",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "start_time",
            "in": "query",
            "description": "Filter bonuses created after this ISO 8601 timestamp",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "end_time",
            "in": "query",
            "description": "Filter bonuses created before this ISO 8601 timestamp",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "giver_email",
            "in": "query",
            "description": "Filter by giver's email",
            "schema": {
              "type": "string",
              "format": "email"
            }
          },
          {
            "name": "receiver_email",
            "in": "query",
            "description": "Filter by receiver's email",
            "schema": {
              "type": "string",
              "format": "email"
            }
          },
          {
            "name": "user_email",
            "in": "query",
            "description": "Filter by either giver or receiver email",
            "schema": {
              "type": "string",
              "format": "email"
            }
          },
          {
            "name": "hashtag",
            "in": "query",
            "description": "Filter by hashtag (URL-encoded)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include_children",
            "in": "query",
            "description": "Include child bonuses",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "show_private_bonuses",
            "in": "query",
            "description": "Include private bonuses (admin only)",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of bonuses",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BonusListResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createBonus",
        "summary": "Create a bonus",
        "description": "Create a new recognition bonus. The reason field can include @mentions and #hashtags.",
        "tags": [
          "Bonuses"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "reason"
                ],
                "properties": {
                  "reason": {
                    "type": "string",
                    "description": "Recognition message with @mentions and #hashtags"
                  },
                  "giver_email": {
                    "type": "string",
                    "format": "email",
                    "description": "Email of the bonus giver (defaults to authenticated user)"
                  },
                  "parent_bonus_id": {
                    "type": "string",
                    "description": "ID of parent bonus for add-on bonuses"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Bonus created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/bonuses/{id}": {
      "get": {
        "operationId": "getBonus",
        "summary": "Retrieve a bonus",
        "tags": [
          "Bonuses"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Bonus details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "404": {
            "description": "Bonus not found"
          }
        },
        "description": "Retrieve a bonus"
      },
      "put": {
        "operationId": "updateBonus",
        "summary": "Update a bonus",
        "description": "Update an existing bonus. Only updatable within 30 minutes of creation.",
        "tags": [
          "Bonuses"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "reason": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Bonus updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Update window expired"
          },
          "403": {
            "description": "Insufficient permissions"
          },
          "404": {
            "description": "Bonus not found"
          }
        }
      },
      "delete": {
        "operationId": "deleteBonus",
        "summary": "Delete a bonus",
        "description": "Delete a bonus. Only deletable within 30 minutes of creation.",
        "tags": [
          "Bonuses"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Bonus deleted"
          },
          "400": {
            "description": "Deletion window expired"
          },
          "403": {
            "description": "Insufficient permissions"
          },
          "404": {
            "description": "Bonus not found"
          }
        }
      }
    },
    "/v1/users": {
      "get": {
        "operationId": "listUsers",
        "summary": "List users",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            }
          },
          {
            "name": "skip",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            }
          },
          {
            "name": "email",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "email"
            }
          },
          {
            "name": "externalId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include_archived",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "show_financial_data",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "user_mode",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of users",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserListResponse"
                }
              }
            }
          }
        },
        "description": "List users"
      },
      "post": {
        "operationId": "createUser",
        "summary": "Create a user (admin)",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "name": "email",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "email"
            }
          },
          {
            "name": "first_name",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "last_name",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "user_mode",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "normal",
                "observer",
                "receiver",
                "benefactor",
                "bot"
              ],
              "default": "normal"
            }
          },
          {
            "name": "budget_boost",
            "in": "query",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "external_unique_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "time_zone",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "country",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "send_invite",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "manager_email",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "email"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "403": {
            "description": "Must be company admin"
          }
        },
        "description": "Create a user (admin)"
      }
    },
    "/v1/users/me": {
      "get": {
        "operationId": "getCurrentUser",
        "summary": "Get current user",
        "tags": [
          "Users"
        ],
        "responses": {
          "200": {
            "description": "Current user details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          }
        },
        "description": "Get current user"
      }
    },
    "/v1/users/autocomplete": {
      "get": {
        "operationId": "autocompleteUsers",
        "summary": "Autocomplete users",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Matching users",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Query too short"
          }
        },
        "description": "Autocomplete users"
      }
    },
    "/v1/users/{id}": {
      "get": {
        "operationId": "getUser",
        "summary": "Retrieve a user",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "404": {
            "description": "User not found"
          }
        },
        "description": "Retrieve a user"
      },
      "put": {
        "operationId": "updateUser",
        "summary": "Update a user (admin)",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string"
                  },
                  "first_name": {
                    "type": "string"
                  },
                  "last_name": {
                    "type": "string"
                  },
                  "user_mode": {
                    "type": "string",
                    "enum": [
                      "normal",
                      "observer",
                      "receiver",
                      "benefactor",
                      "bot"
                    ]
                  },
                  "budget_boost": {
                    "type": "number"
                  },
                  "external_unique_id": {
                    "type": "string"
                  },
                  "custom_properties": {
                    "type": "object"
                  },
                  "time_zone": {
                    "type": "string"
                  },
                  "country": {
                    "type": "string"
                  },
                  "manager_email": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "User updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "403": {
            "description": "Must be company admin"
          },
          "404": {
            "description": "User not found"
          }
        },
        "description": "Update a user (admin)"
      },
      "delete": {
        "operationId": "deactivateUser",
        "summary": "Deactivate a user (admin)",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User deactivated"
          },
          "403": {
            "description": "Must be company admin"
          },
          "404": {
            "description": "User not found"
          }
        },
        "description": "Deactivate a user (admin)"
      }
    },
    "/v1/users/{id}/redemptions": {
      "post": {
        "operationId": "createRedemption",
        "summary": "Create a redemption for a user",
        "tags": [
          "Redemptions"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "catalog_item_id"
                ],
                "properties": {
                  "catalog_item_id": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Redemption created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "404": {
            "description": "User not found"
          }
        },
        "description": "Create a redemption for a user"
      }
    },
    "/v1/redemptions": {
      "get": {
        "operationId": "listRedemptions",
        "summary": "List redemptions",
        "tags": [
          "Redemptions"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 100
            }
          },
          {
            "name": "skip",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of redemptions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RedemptionListResponse"
                }
              }
            }
          }
        },
        "description": "List redemptions"
      }
    },
    "/v1/redemptions/{id}": {
      "get": {
        "operationId": "getRedemption",
        "summary": "Retrieve a redemption",
        "tags": [
          "Redemptions"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Redemption details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "404": {
            "description": "Redemption not found"
          }
        },
        "description": "Retrieve a redemption"
      }
    },
    "/v1/achievements": {
      "get": {
        "operationId": "listAchievements",
        "summary": "List achievements",
        "description": "View the 50 most recent achievements.",
        "tags": [
          "Achievements"
        ],
        "responses": {
          "200": {
            "description": "List of achievements",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/webhooks": {
      "get": {
        "operationId": "listWebhooks",
        "summary": "List webhooks",
        "tags": [
          "Webhooks"
        ],
        "responses": {
          "200": {
            "description": "List of webhooks",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookListResponse"
                }
              }
            }
          }
        },
        "description": "List webhooks"
      },
      "post": {
        "operationId": "createWebhook",
        "summary": "Create a webhook",
        "tags": [
          "Webhooks"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebhookInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhook created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters"
          }
        },
        "description": "Create a webhook"
      }
    },
    "/v1/webhooks/{id}": {
      "put": {
        "operationId": "updateWebhook",
        "summary": "Update a webhook",
        "tags": [
          "Webhooks"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebhookInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhook updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          }
        },
        "description": "Update a webhook"
      },
      "delete": {
        "operationId": "deleteWebhook",
        "summary": "Delete a webhook",
        "tags": [
          "Webhooks"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Webhook deleted"
          },
          "404": {
            "description": "Webhook not found"
          }
        },
        "description": "Delete a webhook"
      }
    },
    "/v1/analytics/trends": {
      "get": {
        "operationId": "getAnalyticsTrends",
        "summary": "Get hashtag trends",
        "description": "Returns popularity counts for hashtags over the past 15 days.",
        "tags": [
          "Analytics"
        ],
        "responses": {
          "200": {
            "description": "Hashtag trend data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "449": {
            "description": "Data not yet ready"
          }
        }
      }
    },
    "/v1/analytics/leaderboards": {
      "get": {
        "operationId": "getLeaderboards",
        "summary": "Get leaderboards",
        "tags": [
          "Analytics"
        ],
        "parameters": [
          {
            "name": "direction",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "received",
                "given"
              ]
            }
          },
          {
            "name": "hashtag",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "team",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Leaderboard data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          }
        },
        "description": "Get leaderboards"
      }
    },
    "/v1/analytics/words": {
      "get": {
        "operationId": "getPopularWords",
        "summary": "Get popular words",
        "tags": [
          "Analytics"
        ],
        "responses": {
          "200": {
            "description": "Popular words data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          }
        },
        "description": "Get popular words"
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "API key passed as Bearer token in Authorization header"
      }
    },
    "schemas": {
      "SuccessResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "result": {
            "description": "Response data (varies by endpoint)"
          }
        }
      },
      "BonusListResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "result": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Bonus"
            }
          }
        }
      },
      "Bonus": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "reason": {
            "type": "string"
          },
          "reason_html": {
            "type": "string"
          },
          "amount": {
            "type": "number"
          },
          "amount_with_currency": {
            "type": "string"
          },
          "value": {
            "type": "string"
          },
          "giver": {
            "$ref": "#/components/schemas/User"
          },
          "receiver": {
            "$ref": "#/components/schemas/User"
          },
          "child_count": {
            "type": "integer"
          },
          "child_bonuses": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Bonus"
            }
          },
          "via": {
            "type": "string"
          },
          "family_amount": {
            "type": "number"
          }
        }
      },
      "User": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "short_name": {
            "type": "string"
          },
          "display_name": {
            "type": "string"
          },
          "username": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "path": {
            "type": "string"
          },
          "full_pic_url": {
            "type": "string",
            "format": "uri"
          },
          "profile_pic_url": {
            "type": "string",
            "format": "uri"
          },
          "first_name": {
            "type": "string"
          },
          "last_name": {
            "type": "string"
          },
          "last_active_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "external_unique_id": {
            "type": "string"
          },
          "budget_boost": {
            "type": "number"
          },
          "user_mode": {
            "type": "string",
            "enum": [
              "normal",
              "observer",
              "receiver",
              "benefactor",
              "bot"
            ]
          },
          "country": {
            "type": "string"
          },
          "time_zone": {
            "type": "string"
          },
          "can_give": {
            "type": "boolean"
          },
          "can_receive": {
            "type": "boolean"
          },
          "earning_balance": {
            "type": "number"
          },
          "earning_balance_with_currency": {
            "type": "string"
          },
          "lifetime_earnings": {
            "type": "number"
          },
          "lifetime_earnings_with_currency": {
            "type": "string"
          },
          "giving_balance": {
            "type": "number"
          },
          "giving_balance_with_currency": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "archived"
            ]
          },
          "custom_properties": {
            "type": "object"
          }
        }
      },
      "UserListResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "result": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/User"
            }
          }
        }
      },
      "RedemptionListResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "result": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Redemption"
            }
          }
        }
      },
      "Redemption": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "user_id": {
            "type": "string"
          },
          "user_email": {
            "type": "string",
            "format": "email"
          },
          "title": {
            "type": "string"
          },
          "amount_in_points": {
            "type": "number"
          },
          "amount_in_usd": {
            "type": "string"
          },
          "categories": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "state": {
            "type": "string",
            "enum": [
              "fulfilled",
              "pending"
            ]
          },
          "reward_details": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "name": {
                "type": "string"
              },
              "price": {
                "type": "number"
              },
              "type": {
                "type": "string"
              },
              "image_url": {
                "type": "string",
                "format": "uri"
              }
            }
          }
        }
      },
      "WebhookListResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "result": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Webhook"
            }
          }
        }
      },
      "Webhook": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "url": {
            "type": "string",
            "format": "uri"
          },
          "event_types": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "bonus.created",
                "achievement_event.created"
              ]
            }
          }
        }
      },
      "WebhookInput": {
        "type": "object",
        "required": [
          "url"
        ],
        "properties": {
          "url": {
            "type": "string",
            "format": "uri"
          },
          "event_types": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "bonus.created",
                "achievement_event.created"
              ]
            }
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Achievements"
    },
    {
      "name": "Analytics"
    },
    {
      "name": "Bonuses"
    },
    {
      "name": "Redemptions"
    },
    {
      "name": "Users"
    },
    {
      "name": "Webhooks"
    }
  ]
}
