{
  "openapi": "3.0.1",
  "info": {
    "title": "am-services-api",
    "version": "v3",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/CenturyLink_APIs/dop-admin-app/v3"
  },
  "servers": [
    {
      "url": "https://mediation-env1.level3.com/"
    },
    {
      "url": "https://mediation-env2.level3.com/"
    },
    {
      "url": "https://mediation-env3.level3.com/"
    },
    {
      "url": "https://mediation-env4.level3.com/"
    },
    {
      "url": "https://mediation-dev1.level3.com/"
    },
    {
      "url": "https://mediation-dev2.level3.com/"
    },
    {
      "url": "https://mediation-dev3.level3.com/"
    },
    {
      "url": "https://mediation.level3.com/"
    }
  ],
  "paths": {
    "/Customer/v3/Account/billingAccount/customer/{sfdcNumber}": {
      "get": {
        "tags": [
          "Customer"
        ],
        "parameters": [
          {
            "name": "sfdcNumber",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "X-Level3-Application-Key",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Mediation.Models.CustomerResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Mediation.Models.CustomerResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Mediation.Models.CustomerResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Mediation.Models.ErrorResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Mediation.Models.ErrorResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Mediation.Models.ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/Customer/v3/Account/billingAccount/customer/{sfdcNumber}/alternate": {
      "get": {
        "tags": [
          "Customer"
        ],
        "parameters": [
          {
            "name": "sfdcNumber",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "X-Level3-Application-Key",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Mediation.Models.AlternateResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Mediation.Models.AlternateResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Mediation.Models.AlternateResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Mediation.Models.ErrorResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Mediation.Models.ErrorResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Mediation.Models.ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/Customer/v3/Account/billingAccount/customer/{sfdcNumber}?fields=ultimateCustomer": {
      "get": {
        "tags": [
          "Customer"
        ],
        "parameters": [
          {
            "name": "sfdcNumber",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "X-Level3-Application-Key",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Mediation.Models.CustomerResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Mediation.Models.CustomerResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Mediation.Models.CustomerResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Mediation.Models.ErrorResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Mediation.Models.ErrorResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Mediation.Models.ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/Customer/v3/Account/billingAccount/{amBANNumber}?fields=additionalAttributes": {
      "get": {
        "tags": [
          "BAN"
        ],
        "parameters": [
          {
            "name": "amBANNumber",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "X-Level3-Application-Key",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Mediation.Models.BANAdditionalResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Mediation.Models.BANAdditionalResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Mediation.Models.BANAdditionalResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Mediation.Models.ErrorResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Mediation.Models.ErrorResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Mediation.Models.ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "Customer/v3/Account/billingAccount/{vantiveSiteId}?source=vantive": {
      "get": {
        "tags": [
          "BAN"
        ],
        "parameters": [
          {
            "name": "vantiveSiteId",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "X-Level3-Application-Key",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Mediation.Models.BANVantiveSourceResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Mediation.Models.BANVantiveSourceResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Mediation.Models.BANVantiveSourceResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Mediation.Models.ErrorResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Mediation.Models.ErrorResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Mediation.Models.ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/Customer/v3/Account/billingAccount/{amBANNumber}/alternate": {
      "get": {
        "tags": [
          "BAN"
        ],
        "parameters": [
          {
            "name": "amBANNumber",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "X-Level3-Application-Key",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Mediation.Models.AlternateResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Mediation.Models.AlternateResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Mediation.Models.AlternateResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Mediation.Models.ErrorResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Mediation.Models.ErrorResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Mediation.Models.ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/Customer/v3/Account/billingAccount/{amBANNumber}/address": {
      "get": {
        "tags": [
          "BAN"
        ],
        "parameters": [
          {
            "name": "amBANNumber",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "X-Level3-Application-Key",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Mediation.Models.AddressResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Mediation.Models.AddressResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Mediation.Models.AddressResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Mediation.Models.ErrorResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Mediation.Models.ErrorResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Mediation.Models.ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Mediation.Models.CustomerResponse": {
        "type": "object",
        "properties": {
          "agreementCurrencyType": {
            "type": "string"
          },
          "agreementNumber": {
            "type": "string"
          },
          "alternateParentCustomerId": {
            "type": "string"
          },
          "cam": {
            "type": "string"
          },
          "camAdId": {
            "type": "string"
          },
          "channel": {
            "type": "string"
          },
          "subChannel": {
            "type": "string"
          },
          "cpm": {
            "type": "string"
          },
          "cpmAdId": {
            "type": "string"
          },
          "customerType": {
            "type": "string"
          },
          "duns": {
            "type": "string"
          },
          "customerId": {
            "type": "number"
          },
          "strCustId": {
            "type": "string"
          },
          "isProtected": {
            "type": "string"
          },
          "internationalAgreementFlag": {
            "type": "string"
          },
          "lobId": {
            "type": "number"
          },
          "market": {
            "type": "string"
          },
          "marketCode": {
            "type": "string"
          },
          "marketCodeDescription": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "operatingCompany": {
            "type": "string"
          },
          "operatingCompanyDescription": {
            "type": "string"
          },
          "parentCustomerId": {
            "type": "string"
          },
          "salesChannel": {
            "type": "string"
          },
          "segment": {
            "type": "string"
          },
          "serviceLevelOffering": {
            "type": "string"
          },
          "serviceManager": {
            "type": "string"
          },
          "serviceManagerAdId": {
            "type": "string"
          },
          "source": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "statusDescription": {
            "type": "string"
          },
          "subSegment": {
            "type": "string"
          },
          "taxId": {
            "type": "string"
          },
          "taxIdType": {
            "type": "string"
          },
          "ultimateCustomer": {
            "type": "object",
            "properties": {
              "ultimateCustomerId": {
                "type": "string"
              },
              "ultimateCustomerDuns": {
                "type": "string"
              },
              "ultimateCustomerName": {
                "type": "string"
              },
              "sdPlus": {
                "type": "string"
              },
              "createdBy": {
                "type": "object",
                "properties": {
                  "date": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  },
                  "id": {
                    "type": "string"
                  }
                }
              },
              "modifiedBy": {
                "type": "object",
                "properties": {
                  "date": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  },
                  "id": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "isMoveAllowed": {
            "type": "string"
          },
          "cpni": {
            "type": "object",
            "properties": {
              "cpniStatus": {
                "type": "string"
              },
              "cpniNoticeCreationDate": {
                "type": "string"
              },
              "cpniOptOutReceivedDate": {
                "type": "string"
              },
              "cpniStatusRenewalDate": {
                "type": "string"
              },
              "cpniWaitPeriodExpDate": {
                "type": "string"
              }
            }
          },
          "createdBy": {
            "type": "object",
            "properties": {
              "date": {
                "type": "string"
              },
              "name": {
                "type": "string"
              },
              "id": {
                "type": "string"
              }
            }
          },
          "modifiedBy": {
            "type": "object",
            "properties": {
              "date": {
                "type": "string"
              },
              "name": {
                "type": "string"
              },
              "id": {
                "type": "string"
              }
            }
          },
          "alternates": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "source": {
                  "type": "string"
                }
              }
            }
          },
          "addresses": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "billingAccounts": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "billingAccountsCount": {
            "type": "object",
            "properties": {
              "activeBans": {
                "type": "number"
              },
              "inactiveBans": {
                "type": "number"
              }
            }
          },
          "salesRepresentatives": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "addressesDetail": {
            "type": "string"
          },
          "alternatesDetail": {
            "type": "string"
          },
          "billingAccountsDetail": {
            "type": "string"
          },
          "salesRepresentativesDetail": {
            "type": "string"
          },
          "brazilFiscalDetails": {
            "type": "string"
          }
        }
      },
      "Mediation.Models.AlternateResponse": {
        "type": "array",
        "items": {
          "type": "object",
          "properties": {
            "id": {
              "type": "string"
            },
            "source": {
              "type": "string"
            }
          }
        }
      },
      "Mediation.Models.BANVantiveSourceResponse": {
        "type": "object",
        "properties": {
          "billingAccountDetail": {
            "type": "object",
            "properties": {
              "agreementCurrencyType": {
                "type": "string"
              },
              "agreementCurrencyTypeDescription": {
                "type": "string"
              },
              "agreementDate": {
                "type": "string"
              },
              "agreementNumber": {
                "type": "string"
              },
              "assetType": {
                "type": "string"
              },
              "assetTypeDescription": {
                "type": "string"
              },
              "billingGroup": {
                "type": "string"
              },
              "billingGroupDescription": {
                "type": "string"
              },
              "billTextId": {
                "type": "string"
              },
              "billText": {
                "type": "string"
              },
              "stateInscription": {
                "type": "string"
              },
              "municipalInscription": {
                "type": "string"
              },
              "interestInArrears": {
                "type": "string"
              },
              "internationalAgreementFlag": {
                "type": "string"
              },
              "invoiceEmailAddress": {
                "type": "string"
              },
              "isBifurcatedCustomer": {
                "type": "string"
              },
              "splitBill": {
                "type": "string"
              },
              "issTaxWithholding": {
                "type": "string"
              },
              "servicePeriodExclusion": {
                "type": "string"
              },
              "emailSecurityInd": {
                "type": "string"
              },
              "alternateTaxProfileId": {
                "type": "string"
              },
              "accountManagerUser": {
                "type": "string"
              },
              "accountManagerUniversalId": {
                "type": "string"
              },
              "customerInventoryId": {
                "type": "string"
              },
              "calnetCustomerCode": {
                "type": "string"
              },
              "calnetCustomerName": {
                "type": "string"
              },
              "sector": {
                "type": "string"
              },
              "subsector": {
                "type": "string"
              },
              "ICEDocTypeCode": {
                "type": "string"
              },
              "ICECustomerDocReferenceCode": {
                "type": "string"
              },
              "ICECustomerNumber": {
                "type": "string"
              },
              "ICEReasonComments": {
                "type": "string"
              },
              "paymodeConditionCode": {
                "type": "string"
              },
              "paymodeConditionCodeDescription": {
                "type": "string"
              },
              "saleConditionCode": {
                "type": "string"
              },
              "saleConditionCodeDescription": {
                "type": "string"
              },
              "telephoneAreaCode": {
                "type": "string"
              },
              "telephoneNumber": {
                "type": "string"
              },
              "sdPlus": {
                "type": "string"
              },
              "accountCategory": {
                "type": "string"
              },
              "accountCategoryDescription": {
                "type": "string"
              },
              "accountGroup": {
                "type": "string"
              },
              "accountGroupDescription": {
                "type": "string"
              },
              "accountSource": {
                "type": "string"
              },
              "acna": {
                "type": "string"
              },
              "aliasName": {
                "type": "string"
              },
              "ban": {
                "type": "string"
              },
              "billDay": {
                "type": "string"
              },
              "billingAccountId": {
                "type": "number"
              },
              "billingFormat": {
                "type": "string"
              },
              "billingFormatDescription": {
                "type": "string"
              },
              "billingFrequency": {
                "type": "string"
              },
              "billingFrequencyDescription": {
                "type": "string"
              },
              "billingMedia": {
                "type": "string"
              },
              "billingMediaDescription": {
                "type": "string"
              },
              "billingMethod": {
                "type": "string"
              },
              "billingMethodDescription": {
                "type": "string"
              },
              "billingState": {
                "type": "string"
              },
              "billingSystem": {
                "type": "string"
              },
              "billingSystemDescription": {
                "type": "string"
              },
              "branch": {
                "type": "string"
              },
              "branchId": {
                "type": "string"
              },
              "branchAddress": {
                "type": "string"
              },
              "branchCity": {
                "type": "string"
              },
              "branchCountryCode": {
                "type": "string"
              },
              "branchCountryDescription": {
                "type": "string"
              },
              "branchCompanyName": {
                "type": "string"
              },
              "branchCuit": {
                "type": "string"
              },
              "branchDescription": {
                "type": "string"
              },
              "branchEmail": {
                "type": "string"
              },
              "branchFax": {
                "type": "string"
              },
              "branchNeighborhood": {
                "type": "string"
              },
              "branchOtherId": {
                "type": "string"
              },
              "branchPhone": {
                "type": "string"
              },
              "branchState": {
                "type": "string"
              },
              "branchZipCode": {
                "type": "string"
              },
              "carr": {
                "type": "string"
              },
              "cic": {
                "type": "string"
              },
              "currencyType": {
                "type": "string"
              },
              "currencyTypeDescription": {
                "type": "string"
              },
              "daysFrom": {
                "type": "string"
              },
              "distributionAgent": {
                "type": "string"
              },
              "distributionAgentDescription": {
                "type": "string"
              },
              "dueTerms": {
                "type": "string"
              },
              "dueTermsDescription": {
                "type": "string"
              },
              "exchangeRateType": {
                "type": "string"
              },
              "exchangeRateTypeDescription": {
                "type": "string"
              },
              "hasChildren": {
                "type": "string"
              },
              "hierarchyDepth": {
                "type": "string"
              },
              "isDefaultBillingAccount": {
                "type": "boolean"
              },
              "isShared": {
                "type": "string"
              },
              "isVatExempt": {
                "type": "string"
              },
              "kenanBillingCycle": {
                "type": "string"
              },
              "kenanBillingCycleDescription": {
                "type": "string"
              },
              "languageCode": {
                "type": "string"
              },
              "languageCodeDescription": {
                "type": "string"
              },
              "latePaymentRate": {
                "type": "string"
              },
              "marketCode": {
                "type": "string"
              },
              "marketCodeDescription": {
                "type": "string"
              },
              "kenanAccountSegment": {
                "type": "string"
              },
              "name": {
                "type": "string"
              },
              "numberOfDays": {
                "type": "string"
              },
              "ocn": {
                "type": "string"
              },
              "operatingCompany": {
                "type": "string"
              },
              "operatingCompanyCode": {
                "type": "string"
              },
              "operatingCompanyDescription": {
                "type": "string"
              },
              "parentId": {
                "type": "string"
              },
              "parentAlternateId": {
                "type": "string"
              },
              "paymentDay": {
                "type": "string"
              },
              "paymentTerm": {
                "type": "string"
              },
              "paymentTermDescription": {
                "type": "string"
              },
              "purchaseOrder": {
                "type": "string"
              },
              "salesDistrict": {
                "type": "string"
              },
              "salesDistrictDescription": {
                "type": "string"
              },
              "status": {
                "type": "string"
              },
              "statusDescription": {
                "type": "string"
              },
              "taxId": {
                "type": "string"
              },
              "taxIdType": {
                "type": "string"
              },
              "taxIdTypeDescription": {
                "type": "string"
              },
              "taxSubstitution": {
                "type": "string"
              },
              "typeOfDays": {
                "type": "string"
              },
              "vatExemptJustification": {
                "type": "string"
              },
              "vatReferenceNumber": {
                "type": "string"
              },
              "windowDay": {
                "type": "string"
              },
              "discountGroupId": {
                "type": "string"
              },
              "invoiceDisplayCode": {
                "type": "string"
              },
              "invoiceDisplayDescription": {
                "type": "string"
              },
              "customerClassification": {
                "type": "string"
              },
              "customerClassificationDescription": {
                "type": "string"
              }
            }
          },
          "createdBy": {
            "type": "object",
            "properties": {
              "date": {
                "type": "string"
              },
              "name": {
                "type": "string"
              },
              "id": {
                "type": "string"
              }
            }
          },
          "modifiedBy": {
            "type": "object",
            "properties": {
              "date": {
                "type": "string"
              },
              "name": {
                "type": "string"
              },
              "id": {
                "type": "string"
              }
            }
          },
          "addresses": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "alternates": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "source": {
                  "type": "string"
                }
              }
            }
          },
          "additionalAttributes": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "parentAlternates": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "billingSystems": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "notes": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "contacts": {
            "type": "object",
            "properties": {}
          },
          "customers": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "provinceDetails": {
            "type": "object",
            "properties": {
              "ProvienceState": {
                "type": "string"
              },
              "ProvienceStateId": {
                "type": "string"
              },
              "ProvienceCanton": {
                "type": "string"
              },
              "ProvienceCantonId": {
                "type": "string"
              },
              "ProvienceDistrict": {
                "type": "string"
              },
              "ProvienceDistrictId": {
                "type": "string"
              }
            }
          },
          "emeaAttributes": {
            "type": "string"
          },
          "addressesDetail": {
            "type": "string"
          },
          "alternatesDetail": {
            "type": "string"
          },
          "billingSystemsDetail": {
            "type": "string"
          },
          "contactsDetail": {
            "type": "string"
          },
          "customersDetail": {
            "type": "string"
          },
          "notesDetail": {
            "type": "string"
          },
          "parentAlternatesDetail": {
            "type": "string"
          },
          "taxProfileDetail": {
            "type": "string"
          },
          "sfdcCustomerId": {
            "type": "string"
          }
        }
      },
      "Mediation.Models.BANAdditionalResponse": {
        "type": "object",
        "properties": {
          "billingAccountDetail": {
            "type": "object",
            "properties": {
              "agreementCurrencyType": {
                "type": "string"
              },
              "agreementCurrencyTypeDescription": {
                "type": "string"
              },
              "agreementDate": {
                "type": "string"
              },
              "agreementNumber": {
                "type": "string"
              },
              "assetType": {
                "type": "string"
              },
              "assetTypeDescription": {
                "type": "string"
              },
              "billingGroup": {
                "type": "string"
              },
              "billingGroupDescription": {
                "type": "string"
              },
              "billTextId": {
                "type": "string"
              },
              "billText": {
                "type": "string"
              },
              "stateInscription": {
                "type": "string"
              },
              "municipalInscription": {
                "type": "string"
              },
              "interestInArrears": {
                "type": "string"
              },
              "internationalAgreementFlag": {
                "type": "string"
              },
              "invoiceEmailAddress": {
                "type": "string"
              },
              "isBifurcatedCustomer": {
                "type": "string"
              },
              "splitBill": {
                "type": "string"
              },
              "issTaxWithholding": {
                "type": "string"
              },
              "servicePeriodExclusion": {
                "type": "string"
              },
              "emailSecurityInd": {
                "type": "string"
              },
              "alternateTaxProfileId": {
                "type": "string"
              },
              "accountManagerUser": {
                "type": "string"
              },
              "accountManagerUniversalId": {
                "type": "string"
              },
              "customerInventoryId": {
                "type": "string"
              },
              "calnetCustomerCode": {
                "type": "string"
              },
              "calnetCustomerName": {
                "type": "string"
              },
              "sector": {
                "type": "string"
              },
              "subsector": {
                "type": "string"
              },
              "ICEDocTypeCode": {
                "type": "string"
              },
              "ICECustomerDocReferenceCode": {
                "type": "string"
              },
              "ICECustomerNumber": {
                "type": "string"
              },
              "ICEReasonComments": {
                "type": "string"
              },
              "paymodeConditionCode": {
                "type": "string"
              },
              "paymodeConditionCodeDescription": {
                "type": "string"
              },
              "saleConditionCode": {
                "type": "string"
              },
              "saleConditionCodeDescription": {
                "type": "string"
              },
              "telephoneAreaCode": {
                "type": "string"
              },
              "telephoneNumber": {
                "type": "string"
              },
              "sdPlus": {
                "type": "string"
              },
              "accountCategory": {
                "type": "string"
              },
              "accountCategoryDescription": {
                "type": "string"
              },
              "accountGroup": {
                "type": "string"
              },
              "accountGroupDescription": {
                "type": "string"
              },
              "accountSource": {
                "type": "string"
              },
              "acna": {
                "type": "string"
              },
              "aliasName": {
                "type": "string"
              },
              "ban": {
                "type": "string"
              },
              "billDay": {
                "type": "string"
              },
              "billingAccountId": {
                "type": "number"
              },
              "billingFormat": {
                "type": "string"
              },
              "billingFormatDescription": {
                "type": "string"
              },
              "billingFrequency": {
                "type": "string"
              },
              "billingFrequencyDescription": {
                "type": "string"
              },
              "billingMedia": {
                "type": "string"
              },
              "billingMediaDescription": {
                "type": "string"
              },
              "billingMethod": {
                "type": "string"
              },
              "billingMethodDescription": {
                "type": "string"
              },
              "billingState": {
                "type": "string"
              },
              "billingSystem": {
                "type": "string"
              },
              "billingSystemDescription": {
                "type": "string"
              },
              "branch": {
                "type": "string"
              },
              "branchId": {
                "type": "string"
              },
              "branchAddress": {
                "type": "string"
              },
              "branchCity": {
                "type": "string"
              },
              "branchCountryCode": {
                "type": "string"
              },
              "branchCountryDescription": {
                "type": "string"
              },
              "branchCompanyName": {
                "type": "string"
              },
              "branchCuit": {
                "type": "string"
              },
              "branchDescription": {
                "type": "string"
              },
              "branchEmail": {
                "type": "string"
              },
              "branchFax": {
                "type": "string"
              },
              "branchNeighborhood": {
                "type": "string"
              },
              "branchOtherId": {
                "type": "string"
              },
              "branchPhone": {
                "type": "string"
              },
              "branchState": {
                "type": "string"
              },
              "branchZipCode": {
                "type": "string"
              },
              "carr": {
                "type": "string"
              },
              "cic": {
                "type": "string"
              },
              "currencyType": {
                "type": "string"
              },
              "currencyTypeDescription": {
                "type": "string"
              },
              "daysFrom": {
                "type": "string"
              },
              "distributionAgent": {
                "type": "string"
              },
              "distributionAgentDescription": {
                "type": "string"
              },
              "dueTerms": {
                "type": "string"
              },
              "dueTermsDescription": {
                "type": "string"
              },
              "exchangeRateType": {
                "type": "string"
              },
              "exchangeRateTypeDescription": {
                "type": "string"
              },
              "hasChildren": {
                "type": "string"
              },
              "hierarchyDepth": {
                "type": "string"
              },
              "isDefaultBillingAccount": {
                "type": "boolean"
              },
              "isShared": {
                "type": "string"
              },
              "isVatExempt": {
                "type": "string"
              },
              "kenanBillingCycle": {
                "type": "string"
              },
              "kenanBillingCycleDescription": {
                "type": "string"
              },
              "languageCode": {
                "type": "string"
              },
              "languageCodeDescription": {
                "type": "string"
              },
              "latePaymentRate": {
                "type": "string"
              },
              "marketCode": {
                "type": "string"
              },
              "marketCodeDescription": {
                "type": "string"
              },
              "kenanAccountSegment": {
                "type": "string"
              },
              "name": {
                "type": "string"
              },
              "numberOfDays": {
                "type": "string"
              },
              "ocn": {
                "type": "string"
              },
              "operatingCompany": {
                "type": "string"
              },
              "operatingCompanyCode": {
                "type": "string"
              },
              "operatingCompanyDescription": {
                "type": "string"
              },
              "parentId": {
                "type": "string"
              },
              "parentAlternateId": {
                "type": "string"
              },
              "paymentDay": {
                "type": "string"
              },
              "paymentTerm": {
                "type": "string"
              },
              "paymentTermDescription": {
                "type": "string"
              },
              "purchaseOrder": {
                "type": "string"
              },
              "salesDistrict": {
                "type": "string"
              },
              "salesDistrictDescription": {
                "type": "string"
              },
              "status": {
                "type": "string"
              },
              "statusDescription": {
                "type": "string"
              },
              "taxId": {
                "type": "string"
              },
              "taxIdType": {
                "type": "string"
              },
              "taxIdTypeDescription": {
                "type": "string"
              },
              "taxSubstitution": {
                "type": "string"
              },
              "typeOfDays": {
                "type": "string"
              },
              "vatExemptJustification": {
                "type": "string"
              },
              "vatReferenceNumber": {
                "type": "string"
              },
              "windowDay": {
                "type": "string"
              },
              "discountGroupId": {
                "type": "string"
              },
              "invoiceDisplayCode": {
                "type": "string"
              },
              "invoiceDisplayDescription": {
                "type": "string"
              },
              "customerClassification": {
                "type": "string"
              },
              "customerClassificationDescription": {
                "type": "string"
              }
            }
          },
          "createdBy": {
            "type": "object",
            "properties": {
              "date": {
                "type": "string"
              },
              "name": {
                "type": "string"
              },
              "id": {
                "type": "string"
              }
            }
          },
          "modifiedBy": {
            "type": "object",
            "properties": {
              "date": {
                "type": "string"
              },
              "name": {
                "type": "string"
              },
              "id": {
                "type": "string"
              }
            }
          },
          "addresses": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "alternates": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "source": {
                  "type": "string"
                }
              }
            }
          },
          "additionalAttributes": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "attributeName": {
                  "type": "string"
                },
                "attributeValue": {
                  "type": "string"
                },
                "dataType": {
                  "type": "string"
                },
                "isActive": {
                  "type": "string"
                },
                "createdBy": {
                  "type": "object",
                  "properties": {
                    "date": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "id": {
                      "type": "string"
                    }
                  }
                },
                "modifiedBy": {
                  "type": "object",
                  "properties": {
                    "date": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "id": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "parentAlternates": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "billingSystems": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "notes": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "contacts": {
            "type": "object",
            "properties": {}
          },
          "customers": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "provinceDetails": {
            "type": "object",
            "properties": {
              "ProvienceState": {
                "type": "string"
              },
              "ProvienceStateId": {
                "type": "string"
              },
              "ProvienceCanton": {
                "type": "string"
              },
              "ProvienceCantonId": {
                "type": "string"
              },
              "ProvienceDistrict": {
                "type": "string"
              },
              "ProvienceDistrictId": {
                "type": "string"
              }
            }
          },
          "emeaAttributes": {
            "type": "string"
          },
          "addressesDetail": {
            "type": "string"
          },
          "alternatesDetail": {
            "type": "string"
          },
          "billingSystemsDetail": {
            "type": "string"
          },
          "contactsDetail": {
            "type": "string"
          },
          "customersDetail": {
            "type": "string"
          },
          "notesDetail": {
            "type": "string"
          },
          "parentAlternatesDetail": {
            "type": "string"
          },
          "taxProfileDetail": {
            "type": "string"
          },
          "sfdcCustomerId": {
            "type": "string"
          }
        }
      },
      "Mediation.Models.AddressResponse": {
        "type": "array",
        "items": {
          "type": "object",
          "properties": {
            "address": {
              "type": "object",
              "properties": {
                "additionalAddress2": {
                  "type": "string"
                },
                "additionalAddress3": {
                  "type": "string"
                },
                "addressLine1": {
                  "type": "string"
                },
                "addressLine2": {
                  "type": "string"
                },
                "addressLine3": {
                  "type": "string"
                },
                "addressType": {
                  "type": "string"
                },
                "building2": {
                  "type": "string"
                },
                "city": {
                  "type": "string"
                },
                "cityId": {
                  "type": "string"
                },
                "countryCode": {
                  "type": "string"
                },
                "county": {
                  "type": "string"
                },
                "countyId": {
                  "type": "string"
                },
                "county2": {
                  "type": "string"
                },
                "dirPrefix": {
                  "type": "string"
                },
                "dirSuffix": {
                  "type": "string"
                },
                "neighborhood": {
                  "type": "string"
                },
                "postalCode": {
                  "type": "string"
                },
                "postalZipCode2": {
                  "type": "string"
                },
                "purchaseOrder": {
                  "type": "string"
                },
                "stateProvince": {
                  "type": "string"
                },
                "stateProvinceDescription": {
                  "type": "string"
                },
                "streetFractional": {
                  "type": "string"
                },
                "streetName": {
                  "type": "string"
                },
                "streetName2": {
                  "type": "string"
                },
                "streetNumber": {
                  "type": "string"
                },
                "streetNumber2": {
                  "type": "string"
                },
                "streetNumberPrefix": {
                  "type": "string"
                },
                "thoroughfare": {
                  "type": "string"
                },
                "attentionTo": {
                  "type": "string"
                },
                "careOf": {
                  "type": "string"
                },
                "building": {
                  "type": "string"
                },
                "floor": {
                  "type": "string"
                },
                "geoPolitical": {
                  "type": "string"
                },
                "id": {
                  "type": "number"
                },
                "poBox": {
                  "type": "string"
                },
                "suite": {
                  "type": "string"
                }
              }
            },
            "glmMasterSiteId": {
              "type": "string"
            },
            "isValidated": {
              "type": "string"
            },
            "createdBy": {
              "type": "object",
              "properties": {
                "date": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                },
                "id": {
                  "type": "string"
                }
              }
            },
            "modifiedBy": {
              "type": "object",
              "properties": {
                "date": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                },
                "id": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "Mediation.Models.ErrorResponse": {
        "type": "object",
        "properties": {
          "httpStatusCode": {
            "type": "number"
          },
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "detail": {
            "type": "string"
          }
        }
      }
    }
  }
}