{
  "openapi": "3.0.3",
  "info": {
    "title": "Klarna Checkout API",
    "version": "1.0",
    "description": "Klarna Checkout API allows merchants to create and manage checkout orders. Klarna Checkout provides a complete checkout solution with payment methods embedded.",
    "contact": {
      "name": "Klarna",
      "url": "https://www.klarna.com"
    },
    "x-jentic-source-url": "https://docs.klarna.com/klarna-checkout/"
  },
  "servers": [
    {
      "url": "https://api.klarna.com",
      "description": "Europe (Production)"
    },
    {
      "url": "https://api-na.klarna.com",
      "description": "North America (Production)"
    },
    {
      "url": "https://api-oc.klarna.com",
      "description": "Oceania (Production)"
    }
  ],
  "security": [
    {
      "basicAuth": []
    }
  ],
  "components": {
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "HTTP Basic using your Klarna API credentials (username/password from Merchant Portal)"
      }
    },
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error_code": {
            "type": "string"
          },
          "error_messages": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "correlation_id": {
            "type": "string"
          }
        }
      },
      "CheckoutOrder": {
        "type": "object",
        "properties": {
          "order_id": {
            "type": "string",
            "readOnly": true
          },
          "name": {
            "type": "string"
          },
          "purchase_country": {
            "type": "string",
            "description": "ISO 3166 alpha-2 country code"
          },
          "purchase_currency": {
            "type": "string",
            "description": "ISO 4217 currency code"
          },
          "locale": {
            "type": "string",
            "description": "RFC 1766 locale code"
          },
          "status": {
            "type": "string",
            "enum": [
              "checkout_incomplete",
              "checkout_complete"
            ],
            "readOnly": true
          },
          "billing_address": {
            "$ref": "#/components/schemas/Address"
          },
          "shipping_address": {
            "$ref": "#/components/schemas/Address"
          },
          "order_amount": {
            "type": "integer",
            "description": "Total amount in minor units"
          },
          "order_tax_amount": {
            "type": "integer"
          },
          "order_lines": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OrderLine"
            }
          },
          "customer": {
            "$ref": "#/components/schemas/Customer"
          },
          "merchant_urls": {
            "$ref": "#/components/schemas/MerchantUrls"
          },
          "html_snippet": {
            "type": "string",
            "readOnly": true,
            "description": "HTML snippet to embed in merchant page"
          },
          "merchant_reference1": {
            "type": "string"
          },
          "merchant_reference2": {
            "type": "string"
          },
          "started_at": {
            "type": "string",
            "format": "date-time",
            "readOnly": true
          },
          "completed_at": {
            "type": "string",
            "format": "date-time",
            "readOnly": true
          },
          "last_modified_at": {
            "type": "string",
            "format": "date-time",
            "readOnly": true
          },
          "options": {
            "$ref": "#/components/schemas/Options"
          },
          "attachment": {
            "$ref": "#/components/schemas/Attachment"
          },
          "external_payment_methods": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ExternalPaymentMethod"
            }
          },
          "external_checkouts": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ExternalCheckout"
            }
          },
          "shipping_countries": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "shipping_options": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ShippingOption"
            }
          },
          "merchant_data": {
            "type": "string",
            "maxLength": 6000
          },
          "gui": {
            "type": "object",
            "properties": {
              "options": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          },
          "recurring": {
            "type": "boolean"
          },
          "recurring_token": {
            "type": "string",
            "readOnly": true
          },
          "recurring_description": {
            "type": "string"
          },
          "selected_shipping_option": {
            "$ref": "#/components/schemas/ShippingOption"
          }
        }
      },
      "CheckoutOrderInput": {
        "type": "object",
        "required": [
          "purchase_country",
          "purchase_currency",
          "locale",
          "order_amount",
          "order_tax_amount",
          "order_lines",
          "merchant_urls"
        ],
        "properties": {
          "purchase_country": {
            "type": "string"
          },
          "purchase_currency": {
            "type": "string"
          },
          "locale": {
            "type": "string"
          },
          "order_amount": {
            "type": "integer"
          },
          "order_tax_amount": {
            "type": "integer"
          },
          "order_lines": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OrderLine"
            }
          },
          "merchant_urls": {
            "$ref": "#/components/schemas/MerchantUrls"
          },
          "merchant_reference1": {
            "type": "string"
          },
          "merchant_reference2": {
            "type": "string"
          },
          "options": {
            "$ref": "#/components/schemas/Options"
          },
          "shipping_countries": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "shipping_options": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ShippingOption"
            }
          },
          "merchant_data": {
            "type": "string"
          },
          "gui": {
            "type": "object",
            "properties": {
              "options": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          },
          "recurring": {
            "type": "boolean"
          },
          "recurring_description": {
            "type": "string"
          }
        }
      },
      "OrderLine": {
        "type": "object",
        "required": [
          "type",
          "name",
          "quantity",
          "unit_price",
          "total_amount"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "physical",
              "discount",
              "shipping_fee",
              "sales_tax",
              "digital",
              "gift_card",
              "store_credit",
              "surcharge"
            ]
          },
          "reference": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "quantity": {
            "type": "integer"
          },
          "quantity_unit": {
            "type": "string"
          },
          "unit_price": {
            "type": "integer"
          },
          "tax_rate": {
            "type": "integer"
          },
          "total_amount": {
            "type": "integer"
          },
          "total_discount_amount": {
            "type": "integer"
          },
          "total_tax_amount": {
            "type": "integer"
          },
          "merchant_data": {
            "type": "string"
          },
          "product_url": {
            "type": "string"
          },
          "image_url": {
            "type": "string"
          }
        }
      },
      "Address": {
        "type": "object",
        "properties": {
          "given_name": {
            "type": "string"
          },
          "family_name": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "street_address": {
            "type": "string"
          },
          "street_address2": {
            "type": "string"
          },
          "postal_code": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "region": {
            "type": "string"
          },
          "phone": {
            "type": "string"
          },
          "country": {
            "type": "string"
          },
          "organization_name": {
            "type": "string"
          }
        }
      },
      "MerchantUrls": {
        "type": "object",
        "required": [
          "terms",
          "checkout",
          "confirmation"
        ],
        "properties": {
          "terms": {
            "type": "string"
          },
          "checkout": {
            "type": "string"
          },
          "confirmation": {
            "type": "string"
          },
          "push": {
            "type": "string"
          },
          "validation": {
            "type": "string"
          },
          "shipping_option_update": {
            "type": "string"
          },
          "address_update": {
            "type": "string"
          },
          "notification": {
            "type": "string"
          },
          "country_change": {
            "type": "string"
          }
        }
      },
      "Customer": {
        "type": "object",
        "properties": {
          "date_of_birth": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "person",
              "organization"
            ]
          }
        }
      },
      "Options": {
        "type": "object",
        "properties": {
          "acquiring_channel": {
            "type": "string",
            "enum": [
              "ecommerce",
              "in_store",
              "telesales"
            ]
          },
          "allow_separate_shipping_address": {
            "type": "boolean"
          },
          "color_button": {
            "type": "string"
          },
          "color_button_text": {
            "type": "string"
          },
          "color_checkbox": {
            "type": "string"
          },
          "color_checkbox_checkmark": {
            "type": "string"
          },
          "color_header": {
            "type": "string"
          },
          "color_link": {
            "type": "string"
          },
          "date_of_birth_mandatory": {
            "type": "boolean"
          },
          "shipping_details": {
            "type": "string"
          },
          "title_mandatory": {
            "type": "boolean"
          },
          "additional_checkbox": {
            "type": "object"
          },
          "national_identification_number_mandatory": {
            "type": "boolean"
          },
          "additional_merchant_terms": {
            "type": "string"
          },
          "phone_mandatory": {
            "type": "boolean"
          },
          "radius_border": {
            "type": "string"
          },
          "show_subtotal_detail": {
            "type": "boolean"
          },
          "require_validate_callback_success": {
            "type": "boolean"
          },
          "vat_removed": {
            "type": "boolean"
          }
        }
      },
      "Attachment": {
        "type": "object",
        "properties": {
          "content_type": {
            "type": "string"
          },
          "body": {
            "type": "string"
          }
        }
      },
      "ExternalPaymentMethod": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "redirect_url": {
            "type": "string"
          },
          "image_url": {
            "type": "string"
          },
          "fee": {
            "type": "integer"
          },
          "description": {
            "type": "string"
          }
        }
      },
      "ExternalCheckout": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "redirect_url": {
            "type": "string"
          },
          "image_url": {
            "type": "string"
          },
          "fee": {
            "type": "integer"
          },
          "description": {
            "type": "string"
          }
        }
      },
      "ShippingOption": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "promo": {
            "type": "string"
          },
          "price": {
            "type": "integer"
          },
          "tax_amount": {
            "type": "integer"
          },
          "tax_rate": {
            "type": "integer"
          },
          "preselected": {
            "type": "boolean"
          },
          "shipping_method": {
            "type": "string",
            "enum": [
              "PickUpStore",
              "Home",
              "BoxReg",
              "BoxUnreg",
              "PickUpPoint",
              "Own",
              "Postal",
              "DHLPackstation",
              "Digital"
            ]
          }
        }
      }
    }
  },
  "paths": {
    "/checkout/v3/orders": {
      "post": {
        "operationId": "createCheckoutOrder",
        "tags": [
          "Checkout Orders"
        ],
        "summary": "Create a new checkout order",
        "description": "Creates a new Klarna Checkout order. Returns the order with an html_snippet to embed in the merchant's page.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CheckoutOrderInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Checkout order created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CheckoutOrder"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/checkout/v3/orders/{order_id}": {
      "get": {
        "operationId": "getCheckoutOrder",
        "tags": [
          "Checkout Orders"
        ],
        "summary": "Read a checkout order",
        "description": "Retrieves an existing Klarna Checkout order by its order_id.",
        "parameters": [
          {
            "name": "order_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Checkout order retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CheckoutOrder"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Order not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "updateCheckoutOrder",
        "tags": [
          "Checkout Orders"
        ],
        "summary": "Update a checkout order",
        "description": "Updates an existing incomplete Klarna Checkout order. Can update order lines, amounts, and other settings.",
        "parameters": [
          {
            "name": "order_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CheckoutOrderInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Checkout order updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CheckoutOrder"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Order not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/checkout/v3/orders/{order_id}/abort": {
      "post": {
        "operationId": "abortCheckoutOrder",
        "tags": [
          "Checkout Orders"
        ],
        "summary": "Abort a checkout order",
        "description": "Aborts an incomplete Klarna Checkout order.",
        "parameters": [
          {
            "name": "order_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Checkout order aborted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CheckoutOrder"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Order not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Checkout Orders"
    }
  ]
}
