{
  "openapi": "3.0.3",
  "info": {
    "title": "ChangeNOW Crypto Exchange API",
    "version": "1.0.0",
    "description": "ChangeNOW is a non-custodial instant cryptocurrency exchange API providing access to 1500+ crypto assets. Supports standard and fixed-rate exchanges with over 2,250,000 exchange pairs.",
    "x-jentic-source-url": "https://changenow.io/api",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://api.changenow.io/v1",
      "description": "ChangeNOW API v1"
    }
  ],
  "tags": [
    {
      "name": "Currencies",
      "description": "Available currencies and pairs"
    },
    {
      "name": "Exchange",
      "description": "Exchange operations"
    },
    {
      "name": "Transactions",
      "description": "Transaction management"
    }
  ],
  "paths": {
    "/currencies": {
      "get": {
        "operationId": "listCurrencies",
        "summary": "List available currencies",
        "description": "Returns a list of all available currencies with their details. Optionally filter only active currencies.",
        "tags": [
          "Currencies"
        ],
        "parameters": [
          {
            "name": "active",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "If true, return only active currencies"
          },
          {
            "name": "fixedRate",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "If true, return only currencies available for fixed-rate exchange"
          }
        ],
        "responses": {
          "200": {
            "description": "List of currencies",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Currency"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/currencies-to/{ticker}": {
      "get": {
        "operationId": "listCurrenciesTo",
        "summary": "List currencies available for exchange from a specific currency",
        "description": "Returns a list of all currencies available for exchange from a specific currency.",
        "tags": [
          "Currencies"
        ],
        "parameters": [
          {
            "name": "ticker",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Ticker symbol of the currency (e.g., btc)"
          }
        ],
        "responses": {
          "200": {
            "description": "List of available currency pairs",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Currency"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/min-amount/{from}_{to}": {
      "get": {
        "operationId": "getMinimumExchangeAmount",
        "summary": "Get minimum exchange amount",
        "description": "Returns the minimum exchange amount for a given currency pair.",
        "tags": [
          "Exchange"
        ],
        "parameters": [
          {
            "name": "from",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Ticker of the currency to send"
          },
          {
            "name": "to",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Ticker of the currency to receive"
          }
        ],
        "responses": {
          "200": {
            "description": "Minimum exchange amount",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "minAmount": {
                      "type": "number",
                      "description": "Minimum amount that can be exchanged"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/exchange-amount/{amount}/{from}_{to}": {
      "get": {
        "operationId": "getEstimatedExchangeAmount",
        "summary": "Get estimated exchange amount",
        "description": "Returns the estimated exchange amount for a given currency pair and amount.",
        "tags": [
          "Exchange"
        ],
        "parameters": [
          {
            "name": "amount",
            "in": "path",
            "required": true,
            "schema": {
              "type": "number"
            },
            "description": "Amount to exchange"
          },
          {
            "name": "from",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Ticker of currency to send"
          },
          {
            "name": "to",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Ticker of currency to receive"
          },
          {
            "name": "api_key",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Your API key"
          }
        ],
        "responses": {
          "200": {
            "description": "Estimated exchange amount",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EstimatedAmount"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/transactions/{apiKey}": {
      "post": {
        "operationId": "createExchangeTransaction",
        "summary": "Create exchange transaction",
        "description": "Creates a new exchange transaction.",
        "tags": [
          "Transactions"
        ],
        "parameters": [
          {
            "name": "apiKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Your API key"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateTransactionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Transaction created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Transaction"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/transactions/{apiKey}/{id}": {
      "get": {
        "operationId": "getTransactionStatus",
        "summary": "Get transaction status",
        "description": "Returns the status of a specific transaction.",
        "tags": [
          "Transactions"
        ],
        "parameters": [
          {
            "name": "apiKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Your API key"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Transaction ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Transaction status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionStatus"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/exchange-amount/fixed-rate/{amount}/{from}_{to}": {
      "get": {
        "operationId": "getFixedRateExchangeAmount",
        "summary": "Get fixed-rate exchange amount",
        "description": "Returns the estimated exchange amount for a fixed-rate exchange.",
        "tags": [
          "Exchange"
        ],
        "parameters": [
          {
            "name": "amount",
            "in": "path",
            "required": true,
            "schema": {
              "type": "number"
            },
            "description": "Amount to exchange"
          },
          {
            "name": "from",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Ticker of currency to send"
          },
          {
            "name": "to",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Ticker of currency to receive"
          },
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Your API key"
          }
        ],
        "responses": {
          "200": {
            "description": "Fixed rate exchange amount",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FixedRateEstimate"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/market-info/fixed-rate/{api_key}": {
      "get": {
        "operationId": "listFixedRateMarketInfo",
        "summary": "List fixed rate market info",
        "description": "Returns fixed rate market information for all available pairs.",
        "tags": [
          "Exchange"
        ],
        "parameters": [
          {
            "name": "api_key",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Your API key"
          }
        ],
        "responses": {
          "200": {
            "description": "Fixed rate market information",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FixedRateMarketInfo"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Currency": {
        "type": "object",
        "properties": {
          "ticker": {
            "type": "string",
            "description": "Currency ticker symbol"
          },
          "name": {
            "type": "string",
            "description": "Full currency name"
          },
          "image": {
            "type": "string",
            "description": "URL to currency icon"
          },
          "hasExternalId": {
            "type": "boolean",
            "description": "Whether an extra ID is needed (e.g., memo for XRP)"
          },
          "isFiat": {
            "type": "boolean",
            "description": "Whether the currency is fiat"
          },
          "featured": {
            "type": "boolean"
          },
          "isStable": {
            "type": "boolean"
          },
          "supportsFixedRate": {
            "type": "boolean"
          }
        }
      },
      "EstimatedAmount": {
        "type": "object",
        "properties": {
          "estimatedAmount": {
            "type": "number",
            "description": "Estimated amount to receive"
          },
          "transactionSpeedForecast": {
            "type": "string",
            "description": "Estimated transaction speed"
          },
          "warningMessage": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "FixedRateEstimate": {
        "type": "object",
        "properties": {
          "estimatedAmount": {
            "type": "number"
          },
          "rateId": {
            "type": "string",
            "description": "Rate ID to use when creating fixed-rate transaction"
          },
          "validUntil": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "FixedRateMarketInfo": {
        "type": "object",
        "properties": {
          "from": {
            "type": "string"
          },
          "to": {
            "type": "string"
          },
          "min": {
            "type": "number"
          },
          "max": {
            "type": "number"
          },
          "rate": {
            "type": "number"
          }
        }
      },
      "CreateTransactionRequest": {
        "type": "object",
        "required": [
          "from",
          "to",
          "address",
          "amount"
        ],
        "properties": {
          "from": {
            "type": "string",
            "description": "Ticker of the currency to send"
          },
          "to": {
            "type": "string",
            "description": "Ticker of the currency to receive"
          },
          "address": {
            "type": "string",
            "description": "Recipient wallet address"
          },
          "amount": {
            "type": "number",
            "description": "Amount of currency to send"
          },
          "extraId": {
            "type": "string",
            "description": "Extra ID for currencies that require it (e.g., memo, message)"
          },
          "refundAddress": {
            "type": "string",
            "description": "Refund address in case of transaction failure"
          },
          "refundExtraId": {
            "type": "string",
            "description": "Extra ID for refund address"
          },
          "userId": {
            "type": "string",
            "description": "Partner user ID"
          },
          "contactEmail": {
            "type": "string",
            "description": "Contact email for transaction notifications"
          },
          "rateId": {
            "type": "string",
            "description": "Rate ID for fixed-rate exchanges"
          }
        }
      },
      "Transaction": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "payinAddress": {
            "type": "string",
            "description": "Address to send the funds to"
          },
          "payoutAddress": {
            "type": "string",
            "description": "Recipient address"
          },
          "payinExtraId": {
            "type": "string",
            "nullable": true
          },
          "payoutExtraId": {
            "type": "string",
            "nullable": true
          },
          "fromCurrency": {
            "type": "string"
          },
          "toCurrency": {
            "type": "string"
          },
          "amount": {
            "type": "number"
          },
          "refundAddress": {
            "type": "string",
            "nullable": true
          },
          "refundExtraId": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "TransactionStatus": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "new",
              "waiting",
              "confirming",
              "exchanging",
              "sending",
              "finished",
              "failed",
              "refunded",
              "overdue",
              "expired"
            ]
          },
          "payinAddress": {
            "type": "string"
          },
          "payoutAddress": {
            "type": "string"
          },
          "fromCurrency": {
            "type": "string"
          },
          "toCurrency": {
            "type": "string"
          },
          "amountSend": {
            "type": "number",
            "nullable": true
          },
          "amountReceive": {
            "type": "number",
            "nullable": true
          },
          "payinHash": {
            "type": "string",
            "nullable": true
          },
          "payoutHash": {
            "type": "string",
            "nullable": true
          },
          "expectedSendAmount": {
            "type": "number"
          },
          "expectedReceiveAmount": {
            "type": "number"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    }
  }
}
