{
  "openapi": "3.0.3",
  "info": {
    "title": "KISSmetrics REST API",
    "version": "3",
    "description": "KISSmetrics analytics REST API for querying products, reports, events, properties, and running ad-hoc and saved queries. Also supports data export to CSV and S3.",
    "x-jentic-source-url": "https://support.kissmetrics.io/reference/overview",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://query.kissmetrics.io/v3"
    }
  ],
  "tags": [
    {
      "name": "Products",
      "description": "Product management"
    },
    {
      "name": "Reports",
      "description": "Report management"
    },
    {
      "name": "Metadata",
      "description": "Events and properties metadata"
    },
    {
      "name": "Queries",
      "description": "Query execution and results"
    },
    {
      "name": "Export",
      "description": "Data export"
    }
  ],
  "paths": {
    "/products": {
      "get": {
        "operationId": "listProducts",
        "summary": "List products",
        "description": "Get a list of products for the authorized user.",
        "tags": [
          "Products"
        ],
        "responses": {
          "200": {
            "description": "Product list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/products/{product_id}/reports": {
      "get": {
        "operationId": "listReports",
        "summary": "List reports",
        "description": "Get a list of reports for a given product.",
        "tags": [
          "Reports"
        ],
        "parameters": [
          {
            "name": "product_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Report list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReportListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/products/{product_id}/events": {
      "get": {
        "operationId": "listEvents",
        "summary": "List events",
        "description": "Get a list of events tracked for a product.",
        "tags": [
          "Metadata"
        ],
        "parameters": [
          {
            "name": "product_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Event list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/products/{product_id}/properties": {
      "get": {
        "operationId": "listProperties",
        "summary": "List properties",
        "description": "Get a list of properties tracked for a product.",
        "tags": [
          "Metadata"
        ],
        "parameters": [
          {
            "name": "product_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Property list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PropertyListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/queries/report": {
      "post": {
        "operationId": "runSavedReportQuery",
        "summary": "Run saved report query",
        "description": "Run the query associated with a saved report.",
        "tags": [
          "Queries"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SavedReportQueryRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Query started",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueryStartedResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/queries/metric": {
      "post": {
        "operationId": "runSavedMetricQuery",
        "summary": "Run saved metric query",
        "description": "Run a query for a saved metric.",
        "tags": [
          "Queries"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SavedMetricQueryRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Query started",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueryStartedResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/queries": {
      "post": {
        "operationId": "runAdHocQuery",
        "summary": "Run ad-hoc query",
        "description": "Run a custom query that is not associated with a report or metric. Supports A/B test queries, people search, people count, and SQL queries.",
        "tags": [
          "Queries"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdHocQueryRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Query started",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueryStartedResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/queries/{id}": {
      "get": {
        "operationId": "getQueryResults",
        "summary": "Get query results",
        "description": "Get the status and results of a query that has been started.",
        "tags": [
          "Queries"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Query ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Query results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueryResultsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "cancelQuery",
        "summary": "Cancel a query",
        "description": "Cancel a running query.",
        "tags": [
          "Queries"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Query cancelled",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/export/csv": {
      "post": {
        "operationId": "exportToCsv",
        "summary": "Export to CSV",
        "description": "Export query results to CSV.",
        "tags": [
          "Export"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExportRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Export started",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExportStatusResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/export/s3": {
      "post": {
        "operationId": "exportToS3",
        "summary": "Export to S3",
        "description": "Export query results to an Amazon S3 bucket.",
        "tags": [
          "Export"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/S3ExportRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Export started",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExportStatusResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/export/{id}/status": {
      "get": {
        "operationId": "getExportStatus",
        "summary": "Get export status",
        "description": "Check the status of an export job.",
        "tags": [
          "Export"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Export status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExportStatusResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ProductListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Product"
            }
          }
        }
      },
      "Product": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "url": {
            "type": "string"
          }
        }
      },
      "ReportListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Report"
            }
          }
        }
      },
      "Report": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "type": {
            "type": "string"
          }
        }
      },
      "EventListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                },
                "total": {
                  "type": "integer"
                }
              }
            }
          }
        }
      },
      "PropertyListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                },
                "type": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "SavedReportQueryRequest": {
        "type": "object",
        "required": [
          "report_id"
        ],
        "properties": {
          "report_id": {
            "type": "string"
          },
          "product_id": {
            "type": "string"
          },
          "start_date": {
            "type": "string",
            "format": "date"
          },
          "end_date": {
            "type": "string",
            "format": "date"
          }
        }
      },
      "SavedMetricQueryRequest": {
        "type": "object",
        "required": [
          "metric_id"
        ],
        "properties": {
          "metric_id": {
            "type": "string"
          },
          "product_id": {
            "type": "string"
          },
          "start_date": {
            "type": "string",
            "format": "date"
          },
          "end_date": {
            "type": "string",
            "format": "date"
          }
        }
      },
      "AdHocQueryRequest": {
        "type": "object",
        "required": [
          "product_id",
          "query_type"
        ],
        "properties": {
          "product_id": {
            "type": "string"
          },
          "query_type": {
            "type": "string",
            "enum": [
              "ab_test",
              "people_search_group",
              "people_search_identity",
              "people_count",
              "sql"
            ]
          },
          "event_name": {
            "type": "string"
          },
          "filters": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/QueryFilter"
            }
          },
          "calculations": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "start_date": {
            "type": "string",
            "format": "date"
          },
          "end_date": {
            "type": "string",
            "format": "date"
          },
          "sql": {
            "type": "string",
            "description": "SQL query (for sql query_type)"
          }
        }
      },
      "QueryFilter": {
        "type": "object",
        "properties": {
          "property_name": {
            "type": "string"
          },
          "operator": {
            "type": "string",
            "enum": [
              "equals",
              "not_equals",
              "contains",
              "not_contains",
              "greater_than",
              "less_than",
              "is_set",
              "is_not_set"
            ]
          },
          "value": {
            "type": "string"
          }
        }
      },
      "QueryStartedResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "queued",
              "running",
              "completed",
              "failed"
            ]
          }
        }
      },
      "QueryResultsResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "queued",
              "running",
              "completed",
              "failed"
            ]
          },
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          },
          "metadata": {
            "type": "object"
          }
        }
      },
      "ExportRequest": {
        "type": "object",
        "required": [
          "query_id"
        ],
        "properties": {
          "query_id": {
            "type": "string"
          }
        }
      },
      "S3ExportRequest": {
        "type": "object",
        "required": [
          "query_id",
          "bucket",
          "path"
        ],
        "properties": {
          "query_id": {
            "type": "string"
          },
          "bucket": {
            "type": "string"
          },
          "path": {
            "type": "string"
          },
          "aws_access_key_id": {
            "type": "string"
          },
          "aws_secret_access_key": {
            "type": "string"
          }
        }
      },
      "ExportStatusResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "processing",
              "completed",
              "failed"
            ]
          },
          "download_url": {
            "type": "string"
          }
        }
      },
      "SuccessResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "BasicAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "Basic authentication with API key as username and API secret as password"
      }
    }
  },
  "security": [
    {
      "BasicAuth": []
    }
  ]
}
