{
  "openapi": "3.0.3",
  "info": {
    "title": "Tailscale API",
    "version": "2.0.0",
    "description": "Tailscale API for managing devices, keys, DNS, ACLs, users, and webhooks in a tailnet.",
    "x-jentic-source-url": "https://tailscale.com/api",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://api.tailscale.com"
    }
  ],
  "tags": [
    {
      "name": "Devices",
      "description": "Device management"
    },
    {
      "name": "Keys",
      "description": "Auth key management"
    },
    {
      "name": "DNS",
      "description": "DNS configuration"
    },
    {
      "name": "ACL",
      "description": "Access control policy"
    },
    {
      "name": "Users",
      "description": "User management"
    },
    {
      "name": "Webhooks",
      "description": "Webhook endpoints"
    }
  ],
  "paths": {
    "/api/v2/tailnet/{tailnet}/devices": {
      "get": {
        "operationId": "listDevices",
        "summary": "List tailnet devices",
        "tags": [
          "Devices"
        ],
        "parameters": [
          {
            "name": "tailnet",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "default": "-"
            },
            "description": "Tailnet domain or dash (-) for default"
          },
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Devices",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "devices": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Device"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "description": "List tailnet devices"
      }
    },
    "/api/v2/device/{deviceId}": {
      "get": {
        "operationId": "getDevice",
        "summary": "Get device",
        "tags": [
          "Devices"
        ],
        "parameters": [
          {
            "name": "deviceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Device ID or node key"
          },
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Device",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Device"
                }
              }
            }
          }
        },
        "description": "Get device"
      },
      "delete": {
        "operationId": "deleteDevice",
        "summary": "Delete device",
        "tags": [
          "Devices"
        ],
        "parameters": [
          {
            "name": "deviceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Device ID or node key"
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted"
          }
        },
        "description": "Delete device"
      }
    },
    "/api/v2/device/{deviceId}/authorized": {
      "post": {
        "operationId": "authorizeDevice",
        "summary": "Authorize device",
        "tags": [
          "Devices"
        ],
        "parameters": [
          {
            "name": "deviceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Device ID or node key"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "authorized": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Authorized"
          }
        },
        "description": "Authorize device"
      }
    },
    "/api/v2/device/{deviceId}/tags": {
      "post": {
        "operationId": "setDeviceTags",
        "summary": "Set device tags",
        "tags": [
          "Devices"
        ],
        "parameters": [
          {
            "name": "deviceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Device ID or node key"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "tags": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tags set"
          }
        },
        "description": "Set device tags"
      }
    },
    "/api/v2/device/{deviceId}/key": {
      "post": {
        "operationId": "setDeviceKey",
        "summary": "Set device key expiry",
        "tags": [
          "Devices"
        ],
        "parameters": [
          {
            "name": "deviceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Device ID or node key"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "keyExpiryDisabled": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Key updated"
          }
        },
        "description": "Set device key expiry"
      }
    },
    "/api/v2/device/{deviceId}/ip": {
      "post": {
        "operationId": "setDeviceIPv4",
        "summary": "Set device IPv4 address",
        "tags": [
          "Devices"
        ],
        "parameters": [
          {
            "name": "deviceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Device ID or node key"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "ipv4": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "IP set"
          }
        },
        "description": "Set device IPv4 address"
      }
    },
    "/api/v2/device/{deviceId}/routes": {
      "get": {
        "operationId": "getDeviceRoutes",
        "summary": "Get device routes",
        "tags": [
          "Devices"
        ],
        "parameters": [
          {
            "name": "deviceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Device ID or node key"
          }
        ],
        "responses": {
          "200": {
            "description": "Routes",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "advertisedRoutes": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "enabledRoutes": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Get device routes"
      },
      "post": {
        "operationId": "setDeviceRoutes",
        "summary": "Set device routes",
        "tags": [
          "Devices"
        ],
        "parameters": [
          {
            "name": "deviceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Device ID or node key"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "routes": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Routes set"
          }
        },
        "description": "Set device routes"
      }
    },
    "/api/v2/tailnet/{tailnet}/keys": {
      "get": {
        "operationId": "listKeys",
        "summary": "List auth keys",
        "tags": [
          "Keys"
        ],
        "parameters": [
          {
            "name": "tailnet",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "default": "-"
            },
            "description": "Tailnet domain or dash (-) for default"
          }
        ],
        "responses": {
          "200": {
            "description": "Keys",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "keys": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "description": "List auth keys"
      },
      "post": {
        "operationId": "createKey",
        "summary": "Create auth key",
        "tags": [
          "Keys"
        ],
        "parameters": [
          {
            "name": "tailnet",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "default": "-"
            },
            "description": "Tailnet domain or dash (-) for default"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "capabilities": {
                    "type": "object"
                  },
                  "expirySeconds": {
                    "type": "integer"
                  },
                  "description": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Key created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "key": {
                      "type": "string"
                    },
                    "id": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Create auth key"
      }
    },
    "/api/v2/tailnet/{tailnet}/keys/{keyId}": {
      "get": {
        "operationId": "getKey",
        "summary": "Get auth key",
        "tags": [
          "Keys"
        ],
        "parameters": [
          {
            "name": "tailnet",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "default": "-"
            },
            "description": "Tailnet domain or dash (-) for default"
          },
          {
            "name": "keyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "Get auth key"
      },
      "delete": {
        "operationId": "deleteKey",
        "summary": "Delete auth key",
        "tags": [
          "Keys"
        ],
        "parameters": [
          {
            "name": "tailnet",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "default": "-"
            },
            "description": "Tailnet domain or dash (-) for default"
          },
          {
            "name": "keyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted"
          }
        },
        "description": "Delete auth key"
      }
    },
    "/api/v2/tailnet/{tailnet}/dns/nameservers": {
      "get": {
        "operationId": "getDNSNameservers",
        "summary": "Get DNS nameservers",
        "tags": [
          "DNS"
        ],
        "parameters": [
          {
            "name": "tailnet",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "default": "-"
            },
            "description": "Tailnet domain or dash (-) for default"
          }
        ],
        "responses": {
          "200": {
            "description": "Nameservers",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "dns": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Get DNS nameservers"
      },
      "post": {
        "operationId": "setDNSNameservers",
        "summary": "Set DNS nameservers",
        "tags": [
          "DNS"
        ],
        "parameters": [
          {
            "name": "tailnet",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "default": "-"
            },
            "description": "Tailnet domain or dash (-) for default"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "dns": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Set"
          }
        },
        "description": "Set DNS nameservers"
      }
    },
    "/api/v2/tailnet/{tailnet}/dns/preferences": {
      "get": {
        "operationId": "getDNSPreferences",
        "summary": "Get DNS preferences",
        "tags": [
          "DNS"
        ],
        "parameters": [
          {
            "name": "tailnet",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "default": "-"
            },
            "description": "Tailnet domain or dash (-) for default"
          }
        ],
        "responses": {
          "200": {
            "description": "Preferences",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "Get DNS preferences"
      },
      "post": {
        "operationId": "setDNSPreferences",
        "summary": "Set DNS preferences",
        "tags": [
          "DNS"
        ],
        "parameters": [
          {
            "name": "tailnet",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "default": "-"
            },
            "description": "Tailnet domain or dash (-) for default"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "magicDNS": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Set"
          }
        },
        "description": "Set DNS preferences"
      }
    },
    "/api/v2/tailnet/{tailnet}/dns/searchpaths": {
      "get": {
        "operationId": "getDNSSearchPaths",
        "summary": "Get DNS search paths",
        "tags": [
          "DNS"
        ],
        "parameters": [
          {
            "name": "tailnet",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "default": "-"
            },
            "description": "Tailnet domain or dash (-) for default"
          }
        ],
        "responses": {
          "200": {
            "description": "Paths",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "searchPaths": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Get DNS search paths"
      },
      "post": {
        "operationId": "setDNSSearchPaths",
        "summary": "Set DNS search paths",
        "tags": [
          "DNS"
        ],
        "parameters": [
          {
            "name": "tailnet",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "default": "-"
            },
            "description": "Tailnet domain or dash (-) for default"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "searchPaths": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Set"
          }
        },
        "description": "Set DNS search paths"
      }
    },
    "/api/v2/tailnet/{tailnet}/acl": {
      "get": {
        "operationId": "getACL",
        "summary": "Get tailnet ACL",
        "tags": [
          "ACL"
        ],
        "parameters": [
          {
            "name": "tailnet",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "default": "-"
            },
            "description": "Tailnet domain or dash (-) for default"
          }
        ],
        "responses": {
          "200": {
            "description": "ACL policy",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "Get tailnet ACL"
      },
      "post": {
        "operationId": "setACL",
        "summary": "Set tailnet ACL",
        "tags": [
          "ACL"
        ],
        "parameters": [
          {
            "name": "tailnet",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "default": "-"
            },
            "description": "Tailnet domain or dash (-) for default"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "ACL set"
          }
        },
        "description": "Set tailnet ACL"
      }
    },
    "/api/v2/tailnet/{tailnet}/acl/validate": {
      "post": {
        "operationId": "validateACL",
        "summary": "Validate ACL",
        "tags": [
          "ACL"
        ],
        "parameters": [
          {
            "name": "tailnet",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "default": "-"
            },
            "description": "Tailnet domain or dash (-) for default"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Validation result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "Validate ACL"
      }
    },
    "/api/v2/tailnet/{tailnet}/users": {
      "get": {
        "operationId": "listUsers",
        "summary": "List users",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "name": "tailnet",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "default": "-"
            },
            "description": "Tailnet domain or dash (-) for default"
          },
          {
            "name": "type",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "member",
                "shared"
              ]
            }
          },
          {
            "name": "role",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Users",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "users": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/User"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "description": "List users"
      }
    },
    "/api/v2/user/{userId}": {
      "get": {
        "operationId": "getUser",
        "summary": "Get user",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "User ID or email"
          }
        ],
        "responses": {
          "200": {
            "description": "User",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          }
        },
        "description": "Get user"
      }
    },
    "/api/v2/tailnet/{tailnet}/webhooks": {
      "get": {
        "operationId": "listWebhooks",
        "summary": "List webhook endpoints",
        "tags": [
          "Webhooks"
        ],
        "parameters": [
          {
            "name": "tailnet",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "default": "-"
            },
            "description": "Tailnet domain or dash (-) for default"
          }
        ],
        "responses": {
          "200": {
            "description": "Webhooks",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "webhooks": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "description": "List webhook endpoints"
      },
      "post": {
        "operationId": "createWebhook",
        "summary": "Create webhook endpoint",
        "tags": [
          "Webhooks"
        ],
        "parameters": [
          {
            "name": "tailnet",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "default": "-"
            },
            "description": "Tailnet domain or dash (-) for default"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "endpointUrl",
                  "subscriptions"
                ],
                "properties": {
                  "endpointUrl": {
                    "type": "string"
                  },
                  "providerType": {
                    "type": "string"
                  },
                  "subscriptions": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "Create webhook endpoint"
      }
    },
    "/api/v2/tailnet/{tailnet}/webhooks/{endpointId}": {
      "get": {
        "operationId": "getWebhook",
        "summary": "Get webhook",
        "tags": [
          "Webhooks"
        ],
        "parameters": [
          {
            "name": "tailnet",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "default": "-"
            },
            "description": "Tailnet domain or dash (-) for default"
          },
          {
            "name": "endpointId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Webhook",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "Get webhook"
      },
      "patch": {
        "operationId": "updateWebhook",
        "summary": "Update webhook",
        "tags": [
          "Webhooks"
        ],
        "parameters": [
          {
            "name": "tailnet",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "default": "-"
            },
            "description": "Tailnet domain or dash (-) for default"
          },
          {
            "name": "endpointId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated"
          }
        },
        "description": "Update webhook"
      },
      "delete": {
        "operationId": "deleteWebhook",
        "summary": "Delete webhook",
        "tags": [
          "Webhooks"
        ],
        "parameters": [
          {
            "name": "tailnet",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "default": "-"
            },
            "description": "Tailnet domain or dash (-) for default"
          },
          {
            "name": "endpointId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted"
          }
        },
        "description": "Delete webhook"
      }
    }
  },
  "components": {
    "schemas": {
      "Device": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "hostname": {
            "type": "string"
          },
          "addresses": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "user": {
            "type": "string"
          },
          "os": {
            "type": "string"
          },
          "clientVersion": {
            "type": "string"
          },
          "authorized": {
            "type": "boolean"
          },
          "isExternal": {
            "type": "boolean"
          },
          "keyExpiryDisabled": {
            "type": "boolean"
          },
          "expires": {
            "type": "string",
            "format": "date-time"
          },
          "created": {
            "type": "string",
            "format": "date-time"
          },
          "lastSeen": {
            "type": "string",
            "format": "date-time"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "nodeKey": {
            "type": "string"
          },
          "machineKey": {
            "type": "string"
          }
        }
      },
      "User": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "displayName": {
            "type": "string"
          },
          "loginName": {
            "type": "string"
          },
          "profilePicURL": {
            "type": "string"
          },
          "tailnetId": {
            "type": "string"
          },
          "created": {
            "type": "string",
            "format": "date-time"
          },
          "type": {
            "type": "string"
          },
          "role": {
            "type": "string"
          },
          "status": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "OAuth2": {
        "type": "oauth2",
        "flows": {
          "clientCredentials": {
            "tokenUrl": "https://api.tailscale.com/api/v2/oauth/token",
            "scopes": {}
          }
        }
      },
      "BasicAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "API key as username, empty password"
      }
    }
  },
  "security": [
    {
      "OAuth2": []
    },
    {
      "BasicAuth": []
    }
  ]
}
