{
  "openapi": "3.0.0",
  "info": {
    "title": "Mega API de FULLJAUS",
    "version": "2.0",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/Fulljaus_API/api-v2/2.0"
  },
  "servers": [
    {
      "url": "http://local.fulljaus.com/api/v2/"
    }
  ],
  "paths": {
    "/alert": {
      "get": {
        "tags": [
          "Marcas"
        ],
        "summary": "Obtener listado de alertas",
        "operationId": "AppBundle\\Controller\\ApiV2\\Alerts\\AlertIndexController::indexAction",
        "parameters": [
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/maxResults"
          },
          {
            "$ref": "#/components/parameters/seller"
          }
        ],
        "responses": {
          "200": {
            "description": "Listado de alertas"
          }
        }
      },
      "post": {
        "tags": [
          "Alerts"
        ],
        "summary": "Crear una alerta marca",
        "operationId": "AppBundle\\Controller\\ApiV2\\Alerts\\AlertCreateController::createAction",
        "parameters": [
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/maxResults"
          },
          {
            "$ref": "#/components/parameters/seller"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostAlertBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Alerta creada exitosamente"
          },
          "500": {
            "description": "Error interno del servidor"
          }
        }
      }
    },
    "/alert/{alert_id}": {
      "get": {
        "tags": [
          "Alerts"
        ],
        "summary": "Obtener una alerta",
        "operationId": "AppBundle\\Controller\\ApiV2\\Alerts\\AlertShowController::showAction",
        "parameters": [
          {
            "$ref": "#/components/parameters/alert_id"
          }
        ],
        "responses": {
          "200": {
            "description": "Vista de alerta"
          }
        }
      },
      "delete": {
        "tags": [
          "Alerts"
        ],
        "summary": "Eliminar una alerta",
        "operationId": "AppBundle\\Controller\\ApiV2\\Alerts\\AlertDeleteController::deleteAction",
        "parameters": [
          {
            "$ref": "#/components/parameters/seller"
          },
          {
            "$ref": "#/components/parameters/alert_id"
          }
        ],
        "responses": {
          "200": {
            "description": "Alerta eliminada exitosamente"
          },
          "500": {
            "description": "Error interno del servidor"
          }
        }
      },
      "patch": {
        "tags": [
          "Alerts"
        ],
        "summary": "Modificar una alerta existente",
        "operationId": "AppBundle\\Controller\\ApiV2\\Alerts\\AlertUpdateController::updateAction",
        "parameters": [
          {
            "$ref": "#/components/parameters/seller"
          },
          {
            "$ref": "#/components/parameters/alert_id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchAlertBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Alerta editada exitosamente"
          },
          "500": {
            "description": "Error interno del servidor"
          }
        }
      }
    },
    "/brands": {
      "get": {
        "tags": [
          "Marcas"
        ],
        "summary": "Obtener listado de marcas",
        "operationId": "AppBundle\\Controller\\ApiV2\\Brands\\BrandsIndexController::indexAction",
        "parameters": [
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/maxResults"
          },
          {
            "$ref": "#/components/parameters/seller"
          }
        ],
        "responses": {
          "200": {
            "description": "Listado de marcas"
          }
        }
      },
      "post": {
        "tags": [
          "Marcas"
        ],
        "summary": "Crear una nueva marca",
        "operationId": "AppBundle\\Controller\\ApiV2\\Brands\\BrandsCreateController::createAction",
        "parameters": [
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/maxResults"
          },
          {
            "$ref": "#/components/parameters/seller"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostBrandBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Marca creada exitosamente"
          },
          "500": {
            "description": "Error interno del servidor"
          }
        }
      }
    },
    "/brands/{brand_id}": {
      "get": {
        "tags": [
          "Marcas"
        ],
        "summary": "Obtener una marca",
        "operationId": "AppBundle\\Controller\\ApiV2\\Brands\\BrandsShowController::showAction",
        "parameters": [
          {
            "$ref": "#/components/parameters/brand_id"
          }
        ],
        "responses": {
          "200": {
            "description": "Vista de marca"
          }
        }
      },
      "delete": {
        "tags": [
          "Marcas"
        ],
        "summary": "Eliminar una marca",
        "operationId": "AppBundle\\Controller\\ApiV2\\Brands\\BrandsDeleteController::deleteAction",
        "parameters": [
          {
            "$ref": "#/components/parameters/seller"
          },
          {
            "$ref": "#/components/parameters/brand_id"
          }
        ],
        "responses": {
          "200": {
            "description": "Marca eliminada exitosamente"
          },
          "500": {
            "description": "Error interno del servidor"
          }
        }
      },
      "patch": {
        "tags": [
          "Marcas"
        ],
        "summary": "Modificar una marca existente",
        "operationId": "AppBundle\\Controller\\ApiV2\\Brands\\BrandsUpdateController::updateAction",
        "parameters": [
          {
            "$ref": "#/components/parameters/seller"
          },
          {
            "$ref": "#/components/parameters/brand_id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchBrandBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Marca editada exitosamente"
          },
          "500": {
            "description": "Error interno del servidor"
          }
        }
      }
    },
    "/carrier-connections": {
      "get": {
        "tags": [
          "Conexiones con Carriers"
        ],
        "summary": "Listar conexiones con carriers",
        "operationId": "AppBundle\\Controller\\ApiV2\\CarrierConnections\\CarrierConnectionsIndexController::indexAction",
        "parameters": [
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/maxResults"
          }
        ],
        "responses": {
          "200": {
            "description": "Listado de carrier-connections"
          }
        }
      }
    },
    "/carriers": {
      "get": {
        "tags": [
          "Carrier"
        ],
        "summary": "Listar carriers",
        "operationId": "AppBundle\\Controller\\ApiV2\\Carriers\\CarriersIndexController::indexAction",
        "parameters": [
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/maxResults"
          }
        ],
        "responses": {
          "200": {
            "description": "Listado de carriers"
          },
          "500": {
            "description": "Error interno del servidor"
          }
        }
      }
    },
    "/carriers/{carrier_id}": {
      "put": {
        "tags": [
          "Carrier"
        ],
        "summary": "Modificar datos de un carrier especifico",
        "operationId": "AppBundle\\Controller\\ApiV2\\Carriers\\CarriersUpdateController::updateAction",
        "parameters": [
          {
            "$ref": "#/components/parameters/carrier_id"
          },
          {
            "$ref": "#/components/parameters/seller"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CarrierBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Carrier modificado exitosamente"
          },
          "500": {
            "description": "Error interno del servidor"
          }
        }
      }
    },
    "/categories-global": {
      "get": {
        "tags": [
          "Categorias Globales"
        ],
        "summary": "Listar categor\u00edas globales",
        "operationId": "AppBundle\\Controller\\ApiV2\\Categories\\GlobalFulljaus\\CategoriesGlobalIndexController::indexAction",
        "parameters": [
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/maxResults"
          },
          {
            "$ref": "#/components/parameters/name_global_category"
          }
        ],
        "responses": {
          "200": {
            "description": "Listado de categor\u00edas globales"
          }
        }
      },
      "post": {
        "tags": [
          "Categorias Globales"
        ],
        "summary": "Crear una nueva categor\u00eda global",
        "operationId": "AppBundle\\Controller\\ApiV2\\Categories\\GlobalFulljaus\\CategoriesGlobalCreateController::createAction",
        "parameters": [
          {
            "$ref": "#/components/parameters/seller"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostGlobalCategoryBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Categor\u00eda global creada exitosamente"
          },
          "500": {
            "description": "Error interno del servidor"
          }
        }
      },
      "patch": {
        "tags": [
          "Categorias Globales"
        ],
        "summary": "Editar una categor\u00eda global existente",
        "operationId": "AppBundle\\Controller\\ApiV2\\Categories\\GlobalFulljaus\\CategoriesGlobalUpdateController::updateAction",
        "parameters": [
          {
            "$ref": "#/components/parameters/seller"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchGlobalCategoryBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Categor\u00eda global editada exitosamente"
          },
          "500": {
            "description": "Error interno del servidor"
          }
        }
      }
    },
    "/categories-global/{category_id}": {
      "get": {
        "tags": [
          "Categorias Globales"
        ],
        "summary": "Obtener una categor\u00eda espec\u00edfica",
        "operationId": "AppBundle\\Controller\\ApiV2\\Categories\\GlobalFulljaus\\CategoriesGlobalShowController::showAction",
        "parameters": [
          {
            "$ref": "#/components/parameters/category_id"
          }
        ],
        "responses": {
          "200": {
            "description": "Vista de categor\u00eda global"
          }
        }
      },
      "delete": {
        "tags": [
          "Categorias Globales"
        ],
        "summary": "Eliminar una categor\u00eda global",
        "operationId": "AppBundle\\Controller\\ApiV2\\Categories\\GlobalFulljaus\\CategoriesGlobalDeleteController::deleteAction",
        "parameters": [
          {
            "$ref": "#/components/parameters/category_id"
          },
          {
            "$ref": "#/components/parameters/seller"
          }
        ],
        "responses": {
          "200": {
            "description": "Categor\u00eda eliminada correctamente"
          },
          "500": {
            "description": "Error interno del servidor"
          }
        }
      }
    },
    "/marketplace-categories": {
      "get": {
        "tags": [
          "Categorias del Market"
        ],
        "summary": "Listar categorias de market",
        "operationId": "AppBundle\\Controller\\ApiV2\\Categories\\Marketplace\\CategoriesMarketplaceIndexController::indexAction",
        "parameters": [
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/maxResults"
          },
          {
            "$ref": "#/components/parameters/marketplace"
          }
        ],
        "responses": {
          "200": {
            "description": "Listado de categorias marketplace"
          }
        }
      }
    },
    "/categories": {
      "get": {
        "tags": [
          "Categor\u00edas"
        ],
        "summary": "Obtener listado de categor\u00edas",
        "operationId": "AppBundle\\Controller\\ApiV2\\Categories\\Provider\\CategoriesProviderIndexController::indexAction",
        "parameters": [
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/maxResults"
          }
        ],
        "responses": {
          "200": {
            "description": "Listado de categorias"
          }
        }
      },
      "post": {
        "tags": [
          "Categor\u00edas"
        ],
        "summary": "Crear una nueva categor\u00eda",
        "operationId": "AppBundle\\Controller\\ApiV2\\Categories\\Provider\\CategoriesProviderCreateController::createAction",
        "parameters": [
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/maxResults"
          },
          {
            "$ref": "#/components/parameters/seller"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostCategoryBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Categor\u00eda creada exitosamente"
          },
          "500": {
            "description": "Error interno del servidor"
          }
        }
      }
    },
    "/categories/{category_provider_id}": {
      "get": {
        "tags": [
          "Categor\u00edas"
        ],
        "summary": "Obtener una categor\u00eda espec\u00edfica",
        "operationId": "AppBundle\\Controller\\ApiV2\\Categories\\Provider\\CategoriesProviderShowController::showAction",
        "parameters": [
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/maxResults"
          },
          {
            "$ref": "#/components/parameters/category_provider_id"
          }
        ],
        "responses": {
          "200": {
            "description": "Categoria espec\u00edfica"
          }
        }
      },
      "delete": {
        "tags": [
          "Categor\u00edas"
        ],
        "summary": "Eliminar categoria proveedor",
        "operationId": "AppBundle\\Controller\\ApiV2\\Categories\\Provider\\CategoriesProviderDeleteController::deleteAction",
        "parameters": [
          {
            "$ref": "#/components/parameters/category_provider_id"
          }
        ],
        "responses": {
          "200": {
            "description": "Categor\u00eda eliminado exitosamente"
          },
          "500": {
            "description": "Error interno del servidor"
          }
        }
      }
    },
    "/categories/{category_id}": {
      "put": {
        "tags": [
          "Categor\u00edas"
        ],
        "summary": "Modificar una categor\u00eda existente",
        "operationId": "AppBundle\\Controller\\ApiV2\\Categories\\Provider\\CategoriesProviderUpdateController::updateAction",
        "parameters": [
          {
            "$ref": "#/components/parameters/category_id"
          },
          {
            "$ref": "#/components/parameters/seller"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PutCategoryBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Categor\u00eda modificada exitosamente"
          }
        }
      }
    },
    "/eans": {
      "get": {
        "tags": [
          "Eans"
        ],
        "summary": "Obtener listado de eans",
        "operationId": "AppBundle\\Controller\\ApiV2\\Ean\\EanIndexController::indexAction",
        "parameters": [
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/maxResults"
          },
          {
            "$ref": "#/components/parameters/seller"
          }
        ],
        "responses": {
          "200": {
            "description": "Listado de eans"
          }
        }
      },
      "post": {
        "tags": [
          "Eans"
        ],
        "summary": "Crear un nuevo ean",
        "operationId": "AppBundle\\Controller\\ApiV2\\Ean\\EanCreateController::createAction",
        "parameters": [
          {
            "$ref": "#/components/parameters/seller"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostEanBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ean creado exitosamente"
          },
          "500": {
            "description": "Error interno del servidor"
          }
        }
      }
    },
    "/eans/{id_ean}": {
      "delete": {
        "tags": [
          "Eans"
        ],
        "summary": "Eliminar un ean",
        "operationId": "AppBundle\\Controller\\ApiV2\\Ean\\EanDeleteController::deleteAction",
        "parameters": [
          {
            "$ref": "#/components/parameters/seller"
          },
          {
            "$ref": "#/components/parameters/id_ean"
          }
        ],
        "responses": {
          "200": {
            "description": "Ean eliminado exitosamente"
          },
          "500": {
            "description": "Error interno del servidor"
          }
        }
      },
      "patch": {
        "tags": [
          "Eans"
        ],
        "summary": "Modificar un ean existente",
        "operationId": "AppBundle\\Controller\\ApiV2\\Ean\\EanUpdateController::updateAction",
        "parameters": [
          {
            "$ref": "#/components/parameters/seller"
          },
          {
            "$ref": "#/components/parameters/id_ean"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchEanBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ean editado exitosamente"
          },
          "500": {
            "description": "Error interno del servidor"
          }
        }
      }
    },
    "/ean/{id_ean}": {
      "get": {
        "tags": [
          "Eans"
        ],
        "summary": "Obtener un ean",
        "operationId": "AppBundle\\Controller\\ApiV2\\Ean\\EanShowController::showAction",
        "parameters": [
          {
            "$ref": "#/components/parameters/id_ean"
          },
          {
            "$ref": "#/components/parameters/seller"
          }
        ],
        "responses": {
          "200": {
            "description": "Vista de Ean"
          }
        }
      }
    },
    "/entity-history": {
      "get": {
        "tags": [
          "Jobs"
        ],
        "summary": "Obtener historial de una entidad",
        "operationId": "AppBundle\\Controller\\ApiV2\\EntityHistory\\EntityHistoryIndexController::indexAction",
        "parameters": [
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/maxResults"
          },
          {
            "$ref": "#/components/parameters/seller"
          }
        ],
        "responses": {
          "200": {
            "description": "Historial de entidad"
          }
        }
      }
    },
    "/golden-rule-brand": {
      "get": {
        "tags": [
          "GoldenRules Marca"
        ],
        "summary": "Obtener listado de golden rules de marcas",
        "operationId": "AppBundle\\Controller\\ApiV2\\GoldenRules\\Brands\\BrandsGoldenRulesIndexController::indexAction",
        "parameters": [
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/maxResults"
          },
          {
            "$ref": "#/components/parameters/seller"
          }
        ],
        "responses": {
          "200": {
            "description": "Listado de golden rules de productos"
          }
        }
      },
      "post": {
        "tags": [
          "GoldenRules Marca"
        ],
        "summary": "Crear una nueva golden rule de marca",
        "operationId": "AppBundle\\Controller\\ApiV2\\GoldenRules\\Brands\\BrandsGoldenRulesCreateController::createAction",
        "parameters": [
          {
            "$ref": "#/components/parameters/seller"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostBrandGoldenRuleBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Golden Rule creada exitosamente"
          },
          "500": {
            "description": "Error interno del servidor"
          }
        }
      }
    },
    "/golden-rule-brand/{gr_id}": {
      "get": {
        "tags": [
          "GoldenRules Marca"
        ],
        "summary": "Obtener una golden rule de marca espec\u00edfica",
        "operationId": "AppBundle\\Controller\\ApiV2\\GoldenRules\\Brands\\BrandsGoldenRulesShowController::showAction",
        "parameters": [
          {
            "$ref": "#/components/parameters/gr_id"
          },
          {
            "$ref": "#/components/parameters/seller"
          }
        ],
        "responses": {
          "200": {
            "description": "Vista de golden rule de marca individual"
          }
        }
      },
      "put": {
        "tags": [
          "GoldenRules Marca"
        ],
        "summary": "Modificar una golden rule de marca existente",
        "operationId": "AppBundle\\Controller\\ApiV2\\GoldenRules\\Brands\\BrandsGoldenRulesUpdateController::updateAction",
        "parameters": [
          {
            "$ref": "#/components/parameters/gr_id"
          },
          {
            "$ref": "#/components/parameters/seller"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PutBrandGoldenRuleBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Golden rule modificada exitosamente"
          }
        }
      },
      "delete": {
        "tags": [
          "GoldenRules Marca"
        ],
        "summary": "Eliminar una golden rule de marca",
        "operationId": "AppBundle\\Controller\\ApiV2\\GoldenRules\\Brands\\BrandsGoldenRulesDeleteController::deleteAction",
        "parameters": [
          {
            "$ref": "#/components/parameters/gr_id"
          },
          {
            "$ref": "#/components/parameters/seller"
          }
        ],
        "responses": {
          "200": {
            "description": "Golden rule eliminada correctamente"
          },
          "500": {
            "description": "Error interno del servidor"
          }
        }
      }
    },
    "/golden-rule-category": {
      "get": {
        "tags": [
          "GoldenRules Categor\u00eda"
        ],
        "summary": "Obtener listado de golden rules de categor\u00eda",
        "operationId": "AppBundle\\Controller\\ApiV2\\GoldenRules\\Categories\\CategoryGoldenRulesIndexController::indexAction",
        "parameters": [
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/maxResults"
          },
          {
            "$ref": "#/components/parameters/seller"
          }
        ],
        "responses": {
          "200": {
            "description": "Listado de golden rules de categor\u00eda"
          }
        }
      },
      "post": {
        "tags": [
          "GoldenRules Categor\u00eda"
        ],
        "summary": "Crear una nueva golden rule de categoria",
        "operationId": "AppBundle\\Controller\\ApiV2\\GoldenRules\\Categories\\CategoryGoldenRulesCreateController::createAction",
        "parameters": [
          {
            "$ref": "#/components/parameters/seller"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostCategoryGoldenRuleBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Golden Rule creada exitosamente"
          },
          "500": {
            "description": "Error interno del servidor"
          }
        }
      }
    },
    "/golden-rule-category/{gr_cat_id}": {
      "get": {
        "tags": [
          "GoldenRules Categor\u00eda"
        ],
        "summary": "Obtener una golden rule de categor\u00eda espec\u00edfica",
        "operationId": "AppBundle\\Controller\\ApiV2\\GoldenRules\\Categories\\CategoryGoldenRulesShowController::showAction",
        "parameters": [
          {
            "$ref": "#/components/parameters/gr_cat_id"
          },
          {
            "$ref": "#/components/parameters/seller"
          }
        ],
        "responses": {
          "200": {
            "description": "Vista de golden rule de categor\u00eda individual"
          }
        }
      },
      "put": {
        "tags": [
          "GoldenRules Categor\u00eda"
        ],
        "summary": "Modificar una golden rule de categor\u00eda existente",
        "operationId": "AppBundle\\Controller\\ApiV2\\GoldenRules\\Categories\\CategoryGoldenRulesUpdateController::updateAction",
        "parameters": [
          {
            "$ref": "#/components/parameters/gr_cat_id"
          },
          {
            "$ref": "#/components/parameters/seller"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PutCategoryGoldenRuleBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Golden rule modificada exitosamente"
          }
        }
      },
      "delete": {
        "tags": [
          "GoldenRules Categor\u00eda"
        ],
        "summary": "Eliminar una golden rule de categor\u00eda",
        "operationId": "AppBundle\\Controller\\ApiV2\\GoldenRules\\Categories\\CategoryGoldenRulesDeleteController::deleteAction",
        "parameters": [
          {
            "$ref": "#/components/parameters/gr_cat_id"
          },
          {
            "$ref": "#/components/parameters/seller"
          }
        ],
        "responses": {
          "200": {
            "description": "Golden rule eliminada correctamente"
          },
          "500": {
            "description": "Error interno del servidor"
          }
        }
      }
    },
    "/golden-rule-product": {
      "get": {
        "tags": [
          "GoldenRules Producto"
        ],
        "summary": "Obtener listado de golden rules de productos",
        "operationId": "AppBundle\\Controller\\ApiV2\\GoldenRules\\Products\\ProductGoldenRulesIndexController::indexAction",
        "parameters": [
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/maxResults"
          },
          {
            "$ref": "#/components/parameters/seller"
          }
        ],
        "responses": {
          "200": {
            "description": "Listado de golden rules de productos"
          }
        }
      },
      "post": {
        "tags": [
          "GoldenRules Producto"
        ],
        "summary": "Crear una nueva golden rule de producto",
        "operationId": "AppBundle\\Controller\\ApiV2\\GoldenRules\\Products\\ProductGoldenRulesCreateController::createAction",
        "parameters": [
          {
            "$ref": "#/components/parameters/seller"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostProductGoldenRuleBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Golden Rule creada exitosamente"
          },
          "500": {
            "description": "Error interno del servidor"
          }
        }
      }
    },
    "/golden-rule-product/{gr_product_id}": {
      "get": {
        "tags": [
          "GoldenRules Producto"
        ],
        "summary": "Obtener una golden rule de producto espec\u00edfica",
        "operationId": "AppBundle\\Controller\\ApiV2\\GoldenRules\\Products\\ProductGoldenRulesShowController::showAction",
        "parameters": [
          {
            "$ref": "#/components/parameters/gr_product_id"
          },
          {
            "$ref": "#/components/parameters/seller"
          }
        ],
        "responses": {
          "200": {
            "description": "Vista de golden rule de producto individual"
          }
        }
      },
      "put": {
        "tags": [
          "GoldenRules Producto"
        ],
        "summary": "Modificar una golden rule de producto existente",
        "operationId": "AppBundle\\Controller\\ApiV2\\GoldenRules\\Products\\ProductGoldenRulesUpdateController::updateAction",
        "parameters": [
          {
            "$ref": "#/components/parameters/gr_product_id"
          },
          {
            "$ref": "#/components/parameters/seller"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PutProductGoldenRuleBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Golden rule modificada exitosamente"
          }
        }
      },
      "delete": {
        "tags": [
          "GoldenRules Producto"
        ],
        "summary": "Eliminar una golden rule de producto",
        "operationId": "AppBundle\\Controller\\ApiV2\\GoldenRules\\Products\\ProductGoldenRulesDeleteController::deleteAction",
        "parameters": [
          {
            "$ref": "#/components/parameters/gr_product_id"
          },
          {
            "$ref": "#/components/parameters/seller"
          }
        ],
        "responses": {
          "200": {
            "description": "Golden rule eliminada correctamente"
          },
          "500": {
            "description": "Error interno del servidor"
          }
        }
      }
    },
    "/golden-rule-tags": {
      "get": {
        "tags": [
          "GoldenRules Tag"
        ],
        "summary": "Obtener listado de golden rules de tags",
        "operationId": "AppBundle\\Controller\\ApiV2\\GoldenRules\\Tags\\TagsGoldenRulesIndexController::indexAction",
        "parameters": [
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/maxResults"
          },
          {
            "$ref": "#/components/parameters/seller"
          }
        ],
        "responses": {
          "200": {
            "description": "Listado de golden rules de tags"
          }
        }
      },
      "post": {
        "tags": [
          "GoldenRules Tag"
        ],
        "summary": "Crear una nueva golden rule de tags",
        "operationId": "AppBundle\\Controller\\ApiV2\\GoldenRules\\Tags\\TagsGoldenRulesCreateController::createAction",
        "parameters": [
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/maxResults"
          },
          {
            "$ref": "#/components/parameters/seller"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostTagsGoldenRuleBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Golden Rule creada exitosamente"
          },
          "500": {
            "description": "Error interno del servidor"
          }
        }
      }
    },
    "/golden-rule-tags/{gr_tag_id}": {
      "get": {
        "tags": [
          "GoldenRules Tag"
        ],
        "summary": "Obtener una golden rule de tag espec\u00edfica",
        "operationId": "AppBundle\\Controller\\ApiV2\\GoldenRules\\Tags\\TagsGoldenRulesShowController::showAction",
        "parameters": [
          {
            "$ref": "#/components/parameters/gr_tag_id"
          },
          {
            "$ref": "#/components/parameters/seller"
          }
        ],
        "responses": {
          "200": {
            "description": "Vista de golden rule de tag individual"
          }
        }
      },
      "put": {
        "tags": [
          "GoldenRules Tag"
        ],
        "summary": "Modificar una golden rule de tag existente",
        "operationId": "AppBundle\\Controller\\ApiV2\\GoldenRules\\Tags\\TagsGoldenRulesUpdateController::updateAction",
        "parameters": [
          {
            "$ref": "#/components/parameters/gr_tag_id"
          },
          {
            "$ref": "#/components/parameters/seller"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PutTagsGoldenRuleBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Golden rule modificada exitosamente"
          }
        }
      },
      "delete": {
        "tags": [
          "GoldenRules Tag"
        ],
        "summary": "Eliminar una golden rule de tag",
        "operationId": "AppBundle\\Controller\\ApiV2\\GoldenRules\\Tags\\TagsGoldenRulesDeleteController::deleteAction",
        "parameters": [
          {
            "$ref": "#/components/parameters/gr_tag_id"
          },
          {
            "$ref": "#/components/parameters/seller"
          }
        ],
        "responses": {
          "200": {
            "description": "Golden rule eliminada correctamente"
          },
          "500": {
            "description": "Error interno del servidor"
          }
        }
      }
    },
    "/incidents": {
      "get": {
        "tags": [
          "Incidentes"
        ],
        "summary": "Obtener listado de incidentes",
        "operationId": "AppBundle\\Controller\\ApiV2\\Incidents\\IncidentsIndexController::indexAction",
        "parameters": [
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/maxResults"
          },
          {
            "$ref": "#/components/parameters/seller"
          }
        ],
        "responses": {
          "200": {
            "description": "Listado de incidentes"
          }
        }
      },
      "post": {
        "tags": [
          "Incidentes"
        ],
        "summary": "Crear un nuevo incidente",
        "operationId": "AppBundle\\Controller\\ApiV2\\Incidents\\IncidentsCreateController::createAction",
        "parameters": [
          {
            "$ref": "#/components/parameters/seller"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostIncidentBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Incidente creado exitosamente"
          },
          "500": {
            "description": "Error interno del servidor"
          }
        }
      }
    },
    "/incidents/{id_incident}": {
      "get": {
        "tags": [
          "Incidentes"
        ],
        "summary": "Obtener un incidente",
        "operationId": "AppBundle\\Controller\\ApiV2\\Incidents\\IncidentsShowController::showAction",
        "parameters": [
          {
            "$ref": "#/components/parameters/id_incident"
          }
        ],
        "responses": {
          "200": {
            "description": "Vista del incidente"
          }
        }
      },
      "delete": {
        "tags": [
          "Incidentes"
        ],
        "summary": "Eliminar un incidente",
        "operationId": "AppBundle\\Controller\\ApiV2\\Incidents\\IncidentsDeleteController::deleteAction",
        "parameters": [
          {
            "$ref": "#/components/parameters/seller"
          },
          {
            "$ref": "#/components/parameters/id_incident"
          }
        ],
        "responses": {
          "200": {
            "description": "Incidente eliminado exitosamente"
          },
          "500": {
            "description": "Error interno del servidor"
          }
        }
      },
      "patch": {
        "tags": [
          "Incidentes"
        ],
        "summary": "Modificar un incidente existente",
        "operationId": "AppBundle\\Controller\\ApiV2\\Incidents\\IncidentsUpdateController::updateAction",
        "parameters": [
          {
            "$ref": "#/components/parameters/seller"
          },
          {
            "$ref": "#/components/parameters/id_incident"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchIncidentBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Incidente editado exitosamente"
          },
          "500": {
            "description": "Error interno del servidor"
          }
        }
      }
    },
    "/jobs": {
      "get": {
        "tags": [
          "Jobs"
        ],
        "summary": "Obtener listado de jobs",
        "operationId": "AppBundle\\Controller\\ApiV2\\Jobs\\JobIndexController::indexAction",
        "parameters": [
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/maxResults"
          },
          {
            "$ref": "#/components/parameters/seller"
          }
        ],
        "responses": {
          "200": {
            "description": "Listado de jobs"
          }
        }
      },
      "post": {
        "tags": [
          "Jobs"
        ],
        "summary": "Crear un job",
        "operationId": "AppBundle\\Controller\\ApiV2\\Jobs\\JobCreateController::createAction",
        "parameters": [
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/maxResults"
          },
          {
            "$ref": "#/components/parameters/seller"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostJobBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Job creado exitosamente"
          },
          "500": {
            "description": "Error interno del servidor"
          }
        }
      }
    },
    "/job/{job_id}": {
      "delete": {
        "tags": [
          "Jobs"
        ],
        "summary": "Eliminar una alerta",
        "operationId": "AppBundle\\Controller\\ApiV2\\Jobs\\JobDeleteController::deleteAction",
        "parameters": [
          {
            "$ref": "#/components/parameters/seller"
          },
          {
            "$ref": "#/components/parameters/job_id"
          }
        ],
        "responses": {
          "200": {
            "description": "Job eliminado exitosamente"
          },
          "500": {
            "description": "Error interno del servidor"
          }
        }
      }
    },
    "/jobs/{job_id}": {
      "get": {
        "tags": [
          "Jobs"
        ],
        "summary": "Obtener un job",
        "operationId": "AppBundle\\Controller\\ApiV2\\Jobs\\JobShowController::showAction",
        "parameters": [
          {
            "$ref": "#/components/parameters/job_id"
          }
        ],
        "responses": {
          "200": {
            "description": "Vista de job"
          }
        }
      },
      "patch": {
        "tags": [
          "Jobs"
        ],
        "summary": "Modificar un Job existente",
        "operationId": "AppBundle\\Controller\\ApiV2\\Jobs\\JobUpdateController::updateAction",
        "parameters": [
          {
            "$ref": "#/components/parameters/seller"
          },
          {
            "$ref": "#/components/parameters/job_id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchJobBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Job editado exitosamente"
          },
          "500": {
            "description": "Error interno del servidor"
          }
        }
      }
    },
    "/marketplace-connections": {
      "get": {
        "tags": [
          "Conexiones con Markets"
        ],
        "summary": "Listar conexion con markets",
        "operationId": "AppBundle\\Controller\\ApiV2\\MarketplaceConnections\\MarketplaceConnectionsIndexController::indexAction",
        "parameters": [
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/maxResults"
          }
        ],
        "responses": {
          "200": {
            "description": "Listado de marketplace-connections"
          }
        }
      }
    },
    "/marketplaces/{code}/connections": {
      "get": {
        "tags": [
          "Conexiones de Marketplace"
        ],
        "summary": "Obtener todos las conexiones de un marketplace",
        "operationId": "AppBundle\\Controller\\ApiV2\\Marketplaces\\ItemConnection\\MarketplaceItemConnectionIndexController::indexAction",
        "responses": {
          "200": {
            "description": "Obtener todas las conexiones de un marketplace"
          },
          "500": {
            "description": "Error interno del servidor"
          }
        }
      }
    },
    "/marketplaces/{code}/publications": {
      "get": {
        "tags": [
          "Publiaciones de Marketplace"
        ],
        "summary": "Obtener todos las publicaciones de un marketplace",
        "operationId": "AppBundle\\Controller\\ApiV2\\Marketplaces\\ItemPublication\\MarketplaceItemPublicationIndexController::indexAction",
        "responses": {
          "200": {
            "description": "Obtener todas las publicaciones de un marketplace"
          },
          "500": {
            "description": "Error interno del servidor"
          }
        }
      }
    },
    "/marketplaces": {
      "get": {
        "tags": [
          "Marketplaces"
        ],
        "summary": "Listar marketplaces",
        "operationId": "AppBundle\\Controller\\ApiV2\\Marketplaces\\MarketplacesIndexController::indexAction",
        "parameters": [
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/maxResults"
          }
        ],
        "responses": {
          "200": {
            "description": "Listado de marketplaces"
          }
        }
      },
      "post": {
        "tags": [
          "Marketplaces"
        ],
        "summary": "Crear un nuevo marketplace",
        "operationId": "AppBundle\\Controller\\ApiV2\\Marketplaces\\MarketplacesCreateController::createAction",
        "parameters": [
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/maxResults"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostMarketplaceBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Marketplace creado exitosamente"
          },
          "500": {
            "description": "Error interno del servidor"
          }
        }
      }
    },
    "/marketplace/{marketplace_code}": {
      "get": {
        "tags": [
          "Marketplaces"
        ],
        "summary": "Obtener una marca",
        "operationId": "AppBundle\\Controller\\ApiV2\\Marketplaces\\MarketplacesShowController::showAction",
        "parameters": [
          {
            "$ref": "#/components/parameters/marketplace_code"
          }
        ],
        "responses": {
          "200": {
            "description": "Vista de marketplace"
          }
        }
      }
    },
    "/newsletter": {
      "get": {
        "tags": [
          "Newsletter"
        ],
        "summary": "Obtener listado de newsletters",
        "operationId": "AppBundle\\Controller\\ApiV2\\Newsletter\\NewsletterIndexController::indexAction",
        "parameters": [
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/maxResults"
          },
          {
            "$ref": "#/components/parameters/seller"
          }
        ],
        "responses": {
          "200": {
            "description": "Listado de newsletters"
          }
        }
      },
      "post": {
        "tags": [
          "Newsletter"
        ],
        "summary": "Crear un newsletter",
        "operationId": "AppBundle\\Controller\\ApiV2\\Newsletter\\NewsletterCreateController::createAction",
        "parameters": [
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/maxResults"
          },
          {
            "$ref": "#/components/parameters/seller"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostNewsletterBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Newsletter creado exitosamente"
          },
          "500": {
            "description": "Error interno del servidor"
          }
        }
      }
    },
    "/newsletter/{newsletter_id}": {
      "get": {
        "tags": [
          "Jobs"
        ],
        "summary": "Obtener un newsletter",
        "operationId": "AppBundle\\Controller\\ApiV2\\Newsletter\\NewsletterShowController::showAction",
        "parameters": [
          {
            "$ref": "#/components/parameters/newsletter_id"
          }
        ],
        "responses": {
          "200": {
            "description": "Vista de Newsletter"
          }
        }
      },
      "delete": {
        "tags": [
          "Newsletter"
        ],
        "summary": "Eliminar un newsletter",
        "operationId": "AppBundle\\Controller\\ApiV2\\Newsletter\\NewsletterDeleteController::deleteAction",
        "parameters": [
          {
            "$ref": "#/components/parameters/seller"
          },
          {
            "$ref": "#/components/parameters/newsletter_id"
          }
        ],
        "responses": {
          "200": {
            "description": "Newsletter eliminado exitosamente"
          },
          "500": {
            "description": "Error interno del servidor"
          }
        }
      },
      "patch": {
        "tags": [
          "Newsletter"
        ],
        "summary": "Modificar un newsletter existente",
        "operationId": "AppBundle\\Controller\\ApiV2\\Newsletter\\NewsletterUpdateController::updateAction",
        "parameters": [
          {
            "$ref": "#/components/parameters/seller"
          },
          {
            "$ref": "#/components/parameters/newsletter_id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchNewsletterBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Newsletter editado exitosamente"
          },
          "500": {
            "description": "Error interno del servidor"
          }
        }
      }
    },
    "/billing_address/{billing_address_id}": {
      "get": {
        "tags": [
          "Datos de facturacion"
        ],
        "summary": "Obtener datos de facturacion",
        "operationId": "AppBundle\\Controller\\ApiV2\\Orders\\Addresses\\BillingAddressesShowController::showAction",
        "parameters": [
          {
            "$ref": "#/components/parameters/seller"
          },
          {
            "$ref": "#/components/parameters/billing_address_id"
          }
        ],
        "responses": {
          "200": {
            "description": "Direccion de facturacion especifica"
          }
        }
      },
      "put": {
        "tags": [
          "Datos de facturacion"
        ],
        "summary": "Modificar datos de facturacion",
        "operationId": "AppBundle\\Controller\\ApiV2\\Orders\\Addresses\\BillingAddressesUpdateController::updateAction",
        "parameters": [
          {
            "$ref": "#/components/parameters/seller"
          },
          {
            "$ref": "#/components/parameters/billing_address_id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BillingBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Datos de facturacion modificados exitosamente"
          },
          "500": {
            "description": "Error interno del servidor"
          }
        }
      }
    },
    "/shipping_address/{shipping_address_id}": {
      "get": {
        "tags": [
          "Datos de envio"
        ],
        "summary": "Obtener datos de envio",
        "operationId": "AppBundle\\Controller\\ApiV2\\Orders\\Addresses\\ShippingAddressesShowController::showAction",
        "parameters": [
          {
            "$ref": "#/components/parameters/seller"
          },
          {
            "$ref": "#/components/parameters/shipping_address_id"
          }
        ],
        "responses": {
          "200": {
            "description": "Direccion de envio especifica"
          }
        }
      },
      "put": {
        "tags": [
          "Datos de envio"
        ],
        "summary": "Modificar datos de envio",
        "operationId": "AppBundle\\Controller\\ApiV2\\Orders\\Addresses\\ShippingAddressesUpdateController::updateAction",
        "parameters": [
          {
            "$ref": "#/components/parameters/seller"
          },
          {
            "$ref": "#/components/parameters/shipping_address_id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ShippingBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Datos de envio modificados exitosamente"
          },
          "500": {
            "description": "Error interno del servidor"
          }
        }
      }
    },
    "/orders/{order_id}/comments": {
      "get": {
        "tags": [
          "Comentarios"
        ],
        "summary": "Obtener todos los comentarios de una orden",
        "operationId": "AppBundle\\Controller\\ApiV2\\Orders\\Comments\\OrderCommentsIndexController::indexAction",
        "parameters": [
          {
            "$ref": "#/components/parameters/seller"
          },
          {
            "$ref": "#/components/parameters/order_id"
          }
        ],
        "responses": {
          "200": {
            "description": "Obtener todos los comentarios de una orden"
          },
          "500": {
            "description": "Error interno del servidor"
          }
        }
      },
      "post": {
        "tags": [
          "Comentarios"
        ],
        "summary": "Crear un comentario para una orden",
        "operationId": "AppBundle\\Controller\\ApiV2\\Orders\\Comments\\OrderCommentsCreateController::createAction",
        "parameters": [
          {
            "$ref": "#/components/parameters/seller"
          },
          {
            "$ref": "#/components/parameters/order_id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CommentBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Comentario creado exitosamente"
          },
          "500": {
            "description": "Error interno del servidor"
          }
        }
      }
    },
    "/orders/{order_id}/comments/{comment_id}": {
      "get": {
        "tags": [
          "Comentarios"
        ],
        "summary": "Obtener un comentario especifico de una orden",
        "operationId": "AppBundle\\Controller\\ApiV2\\Orders\\Comments\\OrderCommentsShowController::showAction",
        "parameters": [
          {
            "$ref": "#/components/parameters/seller"
          },
          {
            "$ref": "#/components/parameters/order_id"
          },
          {
            "$ref": "#/components/parameters/comment_id"
          }
        ],
        "responses": {
          "200": {
            "description": "Obtener un comentario especifico"
          },
          "500": {
            "description": "Error interno del servidor"
          }
        }
      },
      "put": {
        "tags": [
          "Comentarios"
        ],
        "summary": "Editar un comentario de una orden",
        "operationId": "AppBundle\\Controller\\ApiV2\\Orders\\Comments\\OrderCommentsUpdateController::updateAction",
        "parameters": [
          {
            "$ref": "#/components/parameters/seller"
          },
          {
            "$ref": "#/components/parameters/order_id"
          },
          {
            "$ref": "#/components/parameters/comment_id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CommentBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Comentario modificado exitosamente"
          },
          "500": {
            "description": "Error interno del servidor"
          }
        }
      },
      "delete": {
        "tags": [
          "Comentarios"
        ],
        "summary": "Eliminar un comentario especifico de una orden",
        "operationId": "AppBundle\\Controller\\ApiV2\\Orders\\Comments\\OrderCommentsDeleteController::deleteAction",
        "parameters": [
          {
            "$ref": "#/components/parameters/seller"
          },
          {
            "$ref": "#/components/parameters/order_id"
          },
          {
            "$ref": "#/components/parameters/comment_id"
          }
        ],
        "responses": {
          "200": {
            "description": "Eliminar un comentario especifico"
          },
          "500": {
            "description": "Error interno del servidor"
          }
        }
      }
    },
    "/orders/{order_id}/items": {
      "get": {
        "tags": [
          "Items"
        ],
        "summary": "Obtener todos los item de una orden",
        "operationId": "AppBundle\\Controller\\ApiV2\\Orders\\Details\\OrderDetailsIndexController::indexAction",
        "parameters": [
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/maxResults"
          },
          {
            "$ref": "#/components/parameters/order_id"
          },
          {
            "$ref": "#/components/parameters/seller"
          }
        ],
        "responses": {
          "200": {
            "description": "Listado de items de una orden"
          },
          "500": {
            "description": "Error interno del servidor"
          }
        }
      },
      "post": {
        "tags": [
          "Items"
        ],
        "summary": "Crear y agregar item a una orden",
        "operationId": "AppBundle\\Controller\\ApiV2\\Orders\\Details\\OrderDetailsCreateController::createAction",
        "parameters": [
          {
            "$ref": "#/components/parameters/order_id"
          },
          {
            "$ref": "#/components/parameters/seller"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ItemsBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Item creado exitosamente"
          },
          "500": {
            "description": "Error interno del servidor"
          }
        }
      }
    },
    "/orders/{order_id}/items/{item_id}": {
      "get": {
        "tags": [
          "Items"
        ],
        "summary": "Obtener un item especifico de una orden",
        "operationId": "AppBundle\\Controller\\ApiV2\\Orders\\Details\\OrderDetailsShowController::showAction",
        "parameters": [
          {
            "$ref": "#/components/parameters/order_id"
          },
          {
            "$ref": "#/components/parameters/seller"
          },
          {
            "$ref": "#/components/parameters/item_id"
          }
        ],
        "responses": {
          "200": {
            "description": "Mostrar item especifico"
          },
          "500": {
            "description": "Error interno del servidor"
          }
        }
      },
      "put": {
        "tags": [
          "Items"
        ],
        "summary": "Modificar datos de un item especifico de una orden",
        "operationId": "AppBundle\\Controller\\ApiV2\\Orders\\Details\\OrderDetailsUpdateController::updateAction",
        "parameters": [
          {
            "$ref": "#/components/parameters/seller"
          },
          {
            "$ref": "#/components/parameters/order_id"
          },
          {
            "$ref": "#/components/parameters/item_id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ItemsBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Item modificado exitosamente"
          },
          "500": {
            "description": "Error interno del servidor"
          }
        }
      },
      "delete": {
        "tags": [
          "Items"
        ],
        "summary": "Eliminar un item especifico de una orden",
        "operationId": "AppBundle\\Controller\\ApiV2\\Orders\\Details\\OrderDetailsDeleteController::deleteAction",
        "parameters": [
          {
            "$ref": "#/components/parameters/order_id"
          },
          {
            "$ref": "#/components/parameters/seller"
          },
          {
            "$ref": "#/components/parameters/item_id"
          }
        ],
        "responses": {
          "200": {
            "description": "Eliminar un item especifico"
          },
          "500": {
            "description": "Error interno del servidor"
          }
        }
      }
    },
    "/orders/{order_id}/documents": {
      "get": {
        "tags": [
          "Documents"
        ],
        "summary": "Obtener todos los documentos de una orden",
        "operationId": "AppBundle\\Controller\\ApiV2\\Orders\\Documents\\OrderDocumentIndexController::indexAction",
        "parameters": [
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/maxResults"
          },
          {
            "$ref": "#/components/parameters/order_id"
          },
          {
            "$ref": "#/components/parameters/seller"
          }
        ],
        "responses": {
          "200": {
            "description": "Listado de documentos de una orden"
          },
          "500": {
            "description": "Error interno del servidor"
          }
        }
      },
      "post": {
        "tags": [
          "Documents"
        ],
        "summary": "Crear y agregar documento a una orden",
        "operationId": "AppBundle\\Controller\\ApiV2\\Orders\\Documents\\OrderDocumentCreateController::createAction",
        "parameters": [
          {
            "$ref": "#/components/parameters/order_id"
          },
          {
            "$ref": "#/components/parameters/seller"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DocumentsBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Documento creado exitosamente"
          },
          "500": {
            "description": "Error interno del servidor"
          }
        }
      }
    },
    "/orders/{order_id}/documents/{document_id}": {
      "get": {
        "tags": [
          "Documents"
        ],
        "summary": "Obtener un documento especifico de una orden",
        "operationId": "AppBundle\\Controller\\ApiV2\\Orders\\Documents\\OrderDocumentShowController::showAction",
        "parameters": [
          {
            "$ref": "#/components/parameters/order_id"
          },
          {
            "$ref": "#/components/parameters/seller"
          },
          {
            "$ref": "#/components/parameters/shipping_id"
          }
        ],
        "responses": {
          "200": {
            "description": "Mostrar documento especifico"
          },
          "500": {
            "description": "Error interno del servidor"
          }
        }
      },
      "put": {
        "tags": [
          "Documents"
        ],
        "summary": "Modificar datos de un documento especifico de una orden",
        "operationId": "AppBundle\\Controller\\ApiV2\\Orders\\Documents\\OrderDocumentUpdateController::updateAction",
        "parameters": [
          {
            "$ref": "#/components/parameters/seller"
          },
          {
            "$ref": "#/components/parameters/order_id"
          },
          {
            "$ref": "#/components/parameters/shipping_id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DocumentsBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Documento modificado exitosamente"
          },
          "500": {
            "description": "Error interno del servidor"
          }
        }
      },
      "delete": {
        "tags": [
          "Documents"
        ],
        "summary": "Eliminar un documento especifico de una orden",
        "operationId": "AppBundle\\Controller\\ApiV2\\Orders\\Documents\\OrderDocumentDeleteController::deleteAction",
        "parameters": [
          {
            "$ref": "#/components/parameters/order_id"
          },
          {
            "$ref": "#/components/parameters/seller"
          },
          {
            "$ref": "#/components/parameters/shipping_id"
          }
        ],
        "responses": {
          "200": {
            "description": "Eliminar un documento especifico"
          },
          "500": {
            "description": "Error interno del servidor"
          }
        }
      }
    },
    "/orders/{order_id}/incidents": {
      "get": {
        "tags": [
          "Incidentes de Ordenes"
        ],
        "summary": "Obtener todos los indicdentes de una orden",
        "operationId": "AppBundle\\Controller\\ApiV2\\Orders\\Incidents\\OrderIncidentsIndexController::indexAction",
        "parameters": [
          {
            "$ref": "#/components/parameters/seller"
          },
          {
            "$ref": "#/components/parameters/order_id"
          }
        ],
        "responses": {
          "200": {
            "description": "Obtener todos los incidentes de una orden"
          },
          "500": {
            "description": "Error interno del servidor"
          }
        }
      },
      "post": {
        "tags": [
          "Incidentes de Ordenes"
        ],
        "summary": "Crear un incidente para una orden",
        "operationId": "AppBundle\\Controller\\ApiV2\\Orders\\Incidents\\OrderIncidentsCreateController::createAction",
        "parameters": [
          {
            "$ref": "#/components/parameters/seller"
          },
          {
            "$ref": "#/components/parameters/order_id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IncidentBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Incidente creado exitosamente"
          },
          "500": {
            "description": "Error interno del servidor"
          }
        }
      }
    },
    "/orders/{order_id}/incidents/{order_incident_id}": {
      "get": {
        "tags": [
          "Incidentes de Ordenes"
        ],
        "summary": "Obtener un incidente especifico de una orden",
        "operationId": "AppBundle\\Controller\\ApiV2\\Orders\\Incidents\\OrderIncidentsShowController::showAction",
        "parameters": [
          {
            "$ref": "#/components/parameters/seller"
          },
          {
            "$ref": "#/components/parameters/order_id"
          },
          {
            "$ref": "#/components/parameters/order_incident_id"
          }
        ],
        "responses": {
          "200": {
            "description": "Obtener un incidente especifico"
          },
          "500": {
            "description": "Error interno del servidor"
          }
        }
      },
      "put": {
        "tags": [
          "Incidentes de Ordenes"
        ],
        "summary": "Editar un incidente de una orden",
        "operationId": "AppBundle\\Controller\\ApiV2\\Orders\\Incidents\\OrderIncidentsUpdateController::updateAction",
        "parameters": [
          {
            "$ref": "#/components/parameters/seller"
          },
          {
            "$ref": "#/components/parameters/order_id"
          },
          {
            "$ref": "#/components/parameters/order_incident_id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IncidentBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Incidente modificado exitosamente"
          },
          "500": {
            "description": "Error interno del servidor"
          }
        }
      },
      "delete": {
        "tags": [
          "Incidentes de Ordenes"
        ],
        "summary": "Eliminar un incidente especifico de una orden",
        "operationId": "AppBundle\\Controller\\ApiV2\\Orders\\Incidents\\OrderIncidentsDeleteController::deleteAction",
        "parameters": [
          {
            "$ref": "#/components/parameters/seller"
          },
          {
            "$ref": "#/components/parameters/order_id"
          },
          {
            "$ref": "#/components/parameters/order_incident_id"
          }
        ],
        "responses": {
          "200": {
            "description": "Eliminar un incidente especifico"
          },
          "500": {
            "description": "Error interno del servidor"
          }
        }
      }
    },
    "/orders": {
      "get": {
        "tags": [
          "Ordenes"
        ],
        "summary": "Listar ordenes",
        "operationId": "AppBundle\\Controller\\ApiV2\\Orders\\OrdersIndexController::indexAction",
        "parameters": [
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/maxResults"
          },
          {
            "$ref": "#/components/parameters/reference"
          },
          {
            "$ref": "#/components/parameters/dispatched_provider"
          },
          {
            "$ref": "#/components/parameters/seller"
          }
        ],
        "responses": {
          "200": {
            "description": "Listado de ordenes"
          }
        }
      },
      "post": {
        "tags": [
          "Ordenes"
        ],
        "summary": "Crear una nueva orden",
        "operationId": "AppBundle\\Controller\\ApiV2\\Orders\\OrdersCreateController::createAction",
        "parameters": [
          {
            "$ref": "#/components/parameters/seller"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrderBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Orden creada exitosamente"
          },
          "500": {
            "description": "Error interno del servidor"
          }
        }
      }
    },
    "/orders/{order_id}": {
      "get": {
        "tags": [
          "Ordenes"
        ],
        "summary": "Obtener una orden especifica",
        "operationId": "AppBundle\\Controller\\ApiV2\\Orders\\OrdersShowController::showAction",
        "parameters": [
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/maxResults"
          },
          {
            "$ref": "#/components/parameters/reference"
          },
          {
            "$ref": "#/components/parameters/dispatched_provider"
          },
          {
            "$ref": "#/components/parameters/order_id"
          },
          {
            "$ref": "#/components/parameters/seller"
          }
        ],
        "responses": {
          "200": {
            "description": "Obtener una orden espec\u00edfica"
          }
        }
      },
      "put": {
        "tags": [
          "Ordenes"
        ],
        "summary": "Modificar una orden existente",
        "operationId": "AppBundle\\Controller\\ApiV2\\Orders\\OrdersUpdateController::updateAction",
        "parameters": [
          {
            "$ref": "#/components/parameters/order_id"
          },
          {
            "$ref": "#/components/parameters/seller"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrderBodyPut"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Orden modificada exitosamente"
          },
          "500": {
            "description": "Error interno del servidor"
          }
        }
      },
      "delete": {
        "tags": [
          "Ordenes"
        ],
        "summary": "Eliminar una orden",
        "operationId": "AppBundle\\Controller\\ApiV2\\Orders\\OrdersDeleteController::deleteAction",
        "parameters": [
          {
            "$ref": "#/components/parameters/seller"
          },
          {
            "$ref": "#/components/parameters/order_id"
          }
        ],
        "responses": {
          "200": {
            "description": "Orden eliminada exitosamente"
          },
          "500": {
            "description": "Error interno del servidor"
          }
        }
      }
    },
    "/orders/{order_id}/payments": {
      "get": {
        "tags": [
          "Pagos"
        ],
        "summary": "Listar pagos de una orden",
        "operationId": "AppBundle\\Controller\\ApiV2\\Orders\\Payments\\OrderPaymentsIndexController::indexAction",
        "parameters": [
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/maxResults"
          },
          {
            "$ref": "#/components/parameters/order_id"
          },
          {
            "$ref": "#/components/parameters/seller"
          }
        ],
        "responses": {
          "200": {
            "description": "Listado de payments"
          },
          "500": {
            "description": "Error interno del servidor"
          }
        }
      },
      "post": {
        "tags": [
          "Pagos"
        ],
        "summary": "Crear un pago de una orden",
        "operationId": "AppBundle\\Controller\\ApiV2\\Orders\\Payments\\OrderPaymentsCreateController::createAction",
        "parameters": [
          {
            "$ref": "#/components/parameters/seller"
          },
          {
            "$ref": "#/components/parameters/order_id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PaymentsBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Pago creado exitosamente"
          },
          "500": {
            "description": "Error interno del servidor"
          }
        }
      }
    },
    "/orders/{order_id}/payments/{payment_id}": {
      "get": {
        "tags": [
          "Pagos"
        ],
        "summary": "Obtener un pago especifico de una orden",
        "operationId": "AppBundle\\Controller\\ApiV2\\Orders\\Payments\\OrderPaymentsShowController::showAction",
        "parameters": [
          {
            "$ref": "#/components/parameters/order_id"
          },
          {
            "$ref": "#/components/parameters/payment_id"
          },
          {
            "$ref": "#/components/parameters/seller"
          }
        ],
        "responses": {
          "200": {
            "description": "Obtener un pago especifico"
          }
        }
      },
      "put": {
        "tags": [
          "Pagos"
        ],
        "summary": "Modificar un pago especifico de una orden",
        "operationId": "AppBundle\\Controller\\ApiV2\\Orders\\Payments\\OrderPaymentsUpdateController::updateAction",
        "parameters": [
          {
            "$ref": "#/components/parameters/seller"
          },
          {
            "$ref": "#/components/parameters/order_id"
          },
          {
            "$ref": "#/components/parameters/payment_id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PaymentsBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Pago modificado exitosamente"
          },
          "500": {
            "description": "Error interno del servidor"
          }
        }
      },
      "delete": {
        "tags": [
          "Pagos"
        ],
        "summary": "Eliminar un pago especifico de una orden",
        "operationId": "AppBundle\\Controller\\ApiV2\\Orders\\Payments\\OrderPaymentsDeleteController::deleteAction",
        "parameters": [
          {
            "$ref": "#/components/parameters/order_id"
          },
          {
            "$ref": "#/components/parameters/seller"
          },
          {
            "$ref": "#/components/parameters/payment_id"
          }
        ],
        "responses": {
          "200": {
            "description": "Pago eliminado exitosamente"
          },
          "500": {
            "description": "Error interno del servidor"
          }
        }
      }
    },
    "/orders/{order_id}/shipping": {
      "get": {
        "tags": [
          "Shippings"
        ],
        "summary": "Obtener todos los shipping de una orden",
        "operationId": "AppBundle\\Controller\\ApiV2\\Orders\\Shippings\\OrderShippingIndexController::indexAction",
        "parameters": [
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/maxResults"
          },
          {
            "$ref": "#/components/parameters/order_id"
          },
          {
            "$ref": "#/components/parameters/seller"
          }
        ],
        "responses": {
          "200": {
            "description": "Listado de env\u00edos de una orden"
          },
          "500": {
            "description": "Error interno del servidor"
          }
        }
      },
      "post": {
        "tags": [
          "Shippings"
        ],
        "summary": "Crear y agregar env\u00edo a una orden",
        "operationId": "AppBundle\\Controller\\ApiV2\\Orders\\Shippings\\OrderShippingCreateController::createAction",
        "parameters": [
          {
            "$ref": "#/components/parameters/order_id"
          },
          {
            "$ref": "#/components/parameters/seller"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ShippingsBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Env\u00edo creado exitosamente"
          },
          "500": {
            "description": "Error interno del servidor"
          }
        }
      }
    },
    "/orders/{order_id}/shipping/{shipping_id}": {
      "get": {
        "tags": [
          "Shippings"
        ],
        "summary": "Obtener un env\u00edo especifico de una orden",
        "operationId": "AppBundle\\Controller\\ApiV2\\Orders\\Shippings\\OrderShippingShowController::showAction",
        "parameters": [
          {
            "$ref": "#/components/parameters/order_id"
          },
          {
            "$ref": "#/components/parameters/seller"
          },
          {
            "$ref": "#/components/parameters/shipping_id"
          }
        ],
        "responses": {
          "200": {
            "description": "Mostrar env\u00edo especifico"
          },
          "500": {
            "description": "Error interno del servidor"
          }
        }
      },
      "delete": {
        "tags": [
          "Shippings"
        ],
        "summary": "Eliminar un env\u00edo especifico de una orden",
        "operationId": "AppBundle\\Controller\\ApiV2\\Orders\\Shippings\\OrderShippingDeleteController::deleteAction",
        "parameters": [
          {
            "$ref": "#/components/parameters/order_id"
          },
          {
            "$ref": "#/components/parameters/seller"
          },
          {
            "$ref": "#/components/parameters/shipping_id"
          }
        ],
        "responses": {
          "200": {
            "description": "Eliminar un env\u00edo especifico"
          },
          "500": {
            "description": "Error interno del servidor"
          }
        }
      }
    },
    "/orders/{order_id}/shippings/{shipping_id}": {
      "put": {
        "tags": [
          "Shippings"
        ],
        "summary": "Modificar datos de un shipping especifico de una orden",
        "operationId": "AppBundle\\Controller\\ApiV2\\Orders\\Shippings\\OrderShippingUpdateController::updateAction",
        "parameters": [
          {
            "$ref": "#/components/parameters/seller"
          },
          {
            "$ref": "#/components/parameters/order_id"
          },
          {
            "$ref": "#/components/parameters/shipping_id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ShippingsBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Env\u00edo modificado exitosamente"
          },
          "500": {
            "description": "Error interno del servidor"
          }
        }
      }
    },
    "/orders/status": {
      "get": {
        "tags": [
          "Estado de Ordenes"
        ],
        "summary": "Listar estados de ordenes",
        "operationId": "AppBundle\\Controller\\ApiV2\\Orders\\Status\\OrderStatusIndexController::indexAction",
        "parameters": [
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/maxResults"
          }
        ],
        "responses": {
          "200": {
            "description": "Listado de estados de ordenes"
          }
        }
      }
    },
    "/products/{product_id}/features": {
      "post": {
        "tags": [
          "Pagos"
        ],
        "summary": "Crear un feature de un producto",
        "operationId": "AppBundle\\Controller\\ApiV2\\Products\\Features\\ProductFeatureCreateController::createAction",
        "parameters": [
          {
            "$ref": "#/components/parameters/seller"
          },
          {
            "$ref": "#/components/parameters/product_id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FeatureBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Feature creada exitosamente"
          },
          "500": {
            "description": "Error interno del servidor"
          }
        }
      }
    },
    "/products/{product_id}/features/{id}": {
      "get": {
        "tags": [
          "Features"
        ],
        "summary": "Obtener un feature especifico de un producto",
        "operationId": "AppBundle\\Controller\\ApiV2\\Products\\Features\\ProductFeatureShowController::showAction",
        "parameters": [
          {
            "$ref": "#/components/parameters/product_id"
          },
          {
            "$ref": "#/components/parameters/id"
          },
          {
            "$ref": "#/components/parameters/seller"
          }
        ],
        "responses": {
          "200": {
            "description": "Obtener un feature especifico"
          }
        }
      },
      "put": {
        "tags": [
          "Pagos"
        ],
        "summary": "Modificar un feature especifico de un producto",
        "operationId": "AppBundle\\Controller\\ApiV2\\Products\\Features\\ProductFeatureUpdateController::updateAction",
        "parameters": [
          {
            "$ref": "#/components/parameters/seller"
          },
          {
            "$ref": "#/components/parameters/product_id"
          },
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FeatureBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Feature modificada exitosamente"
          },
          "500": {
            "description": "Error interno del servidor"
          }
        }
      },
      "delete": {
        "tags": [
          "Pagos"
        ],
        "summary": "Eliminar un pago especifico de una orden",
        "operationId": "AppBundle\\Controller\\ApiV2\\Products\\Features\\ProductFeatureDeleteController::deleteAction",
        "parameters": [
          {
            "$ref": "#/components/parameters/product_id"
          },
          {
            "$ref": "#/components/parameters/seller"
          },
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "responses": {
          "200": {
            "description": "Feature eliminada exitosamente"
          },
          "500": {
            "description": "Error interno del servidor"
          }
        }
      }
    },
    "/product/{product_id}/feature": {
      "get": {
        "tags": [
          "Features"
        ],
        "summary": "Listar features de un producto",
        "operationId": "AppBundle\\Controller\\ApiV2\\Products\\Features\\ProductFeatureIndexController::indexAction",
        "parameters": [
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/maxResults"
          },
          {
            "$ref": "#/components/parameters/product_id"
          },
          {
            "$ref": "#/components/parameters/seller"
          }
        ],
        "responses": {
          "200": {
            "description": "Listado de features"
          },
          "500": {
            "description": "Error interno del servidor"
          }
        }
      }
    },
    "/products/{sku}/images": {
      "put": {
        "tags": [
          "Im\u00e1genes"
        ],
        "summary": "Modificar imagenes de un producto",
        "operationId": "AppBundle\\Controller\\ApiV2\\Products\\Images\\ProductImagesUpsertController::upsertAction",
        "parameters": [
          {
            "$ref": "#/components/parameters/seller"
          },
          {
            "$ref": "#/components/parameters/sku"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ImagesBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Se modificaron las imagenes"
          },
          "201": {
            "description": "Se crearon imagen/es correctamente"
          },
          "500": {
            "description": "Error interno del servidor"
          }
        }
      }
    },
    "/products-basic-data/{sku}": {
      "put": {
        "tags": [
          "Productos"
        ],
        "summary": "Modificar un campos criticos de un producto existente",
        "operationId": "AppBundle\\Controller\\ApiV2\\Products\\ProductsBasicDataUpdateController::updateAction",
        "parameters": [
          {
            "$ref": "#/components/parameters/sku"
          },
          {
            "$ref": "#/components/parameters/seller"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProductBasicDataBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Producto modificado exitosamente"
          },
          "500": {
            "description": "Error interno del servidor"
          }
        }
      }
    },
    "/products": {
      "get": {
        "tags": [
          "Productos"
        ],
        "summary": "Obtener listado de productos",
        "operationId": "AppBundle\\Controller\\ApiV2\\Products\\ProductsIndexController::indexAction",
        "parameters": [
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/maxResults"
          },
          {
            "$ref": "#/components/parameters/seller"
          }
        ],
        "responses": {
          "200": {
            "description": "Listado de productos"
          }
        }
      },
      "post": {
        "tags": [
          "Productos"
        ],
        "summary": "Crear un nuevo producto",
        "operationId": "AppBundle\\Controller\\ApiV2\\Products\\ProductsCreateController::createAction",
        "parameters": [
          {
            "$ref": "#/components/parameters/seller"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProductBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Producto creado exitosamente"
          },
          "500": {
            "description": "Error interno del servidor"
          }
        }
      }
    },
    "/products/{product_id}": {
      "get": {
        "tags": [
          "Productos"
        ],
        "summary": "Obtener un producto espec\u00edfico",
        "operationId": "AppBundle\\Controller\\ApiV2\\Products\\ProductsShowController::showAction",
        "parameters": [
          {
            "$ref": "#/components/parameters/product_id"
          },
          {
            "$ref": "#/components/parameters/seller"
          }
        ],
        "responses": {
          "200": {
            "description": "Vista de producto individual"
          }
        }
      },
      "delete": {
        "tags": [
          "Productos"
        ],
        "summary": "Eliminar un producto",
        "operationId": "AppBundle\\Controller\\ApiV2\\Products\\ProductsDeleteController::deleteAction",
        "parameters": [
          {
            "$ref": "#/components/parameters/product_id"
          },
          {
            "$ref": "#/components/parameters/seller"
          }
        ],
        "responses": {
          "200": {
            "description": "Producto eliminado exitosamente"
          },
          "500": {
            "description": "Error interno del servidor"
          }
        }
      }
    },
    "/products/{sku}": {
      "put": {
        "tags": [
          "Productos"
        ],
        "summary": "Modificar o crear un producto",
        "operationId": "AppBundle\\Controller\\ApiV2\\Products\\ProductsUpsertController::upsertAction",
        "parameters": [
          {
            "$ref": "#/components/parameters/sku"
          },
          {
            "$ref": "#/components/parameters/seller"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProductBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Producto modificado exitosamente"
          },
          "201": {
            "description": "Producto creado exitosamente"
          },
          "500": {
            "description": "Error interno del servidor"
          }
        }
      },
      "patch": {
        "tags": [
          "Productos"
        ],
        "summary": "Modificar un producto existente",
        "operationId": "AppBundle\\Controller\\ApiV2\\Products\\ProductsUpdateController::updateAction",
        "parameters": [
          {
            "$ref": "#/components/parameters/sku"
          },
          {
            "$ref": "#/components/parameters/seller"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProductBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Producto modificado exitosamente"
          },
          "404": {
            "description": "Producto no encontrado"
          },
          "500": {
            "description": "Error interno del servidor"
          }
        }
      }
    },
    "/provider-connections": {
      "get": {
        "tags": [
          "Conexiones con proveedores"
        ],
        "summary": "Listar conexiones con proveedores",
        "operationId": "AppBundle\\Controller\\ApiV2\\ProviderConnections\\ProviderConnectionsIndexController::indexAction",
        "parameters": [
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/maxResults"
          }
        ],
        "responses": {
          "200": {
            "description": "Listado de provider-connections"
          }
        }
      }
    },
    "/providers": {
      "get": {
        "tags": [
          "Proveedores"
        ],
        "summary": "Listar proveedores",
        "operationId": "AppBundle\\Controller\\ApiV2\\Providers\\ProvidersIndexController::indexAction",
        "parameters": [
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/maxResults"
          }
        ],
        "responses": {
          "200": {
            "description": "Listado de proveedores"
          }
        }
      }
    },
    "/publications/{publication_id}/options": {
      "get": {
        "tags": [
          "Opciones"
        ],
        "summary": "Obtener las opciones de una publicaci\u00f3n",
        "operationId": "AppBundle\\Controller\\ApiV2\\Publications\\Options\\PublicationOptionsIndexController::indexAction",
        "parameters": [
          {
            "$ref": "#/components/parameters/publication_id"
          },
          {
            "$ref": "#/components/parameters/seller"
          }
        ],
        "responses": {
          "200": {
            "description": "Listado de opciones de una publicaci\u00f3n"
          },
          "500": {
            "description": "Error interno del servidor"
          }
        }
      }
    },
    "/publications": {
      "get": {
        "tags": [
          "Publicaciones"
        ],
        "summary": "Obtener listado de publicaciones",
        "operationId": "AppBundle\\Controller\\ApiV2\\Publications\\PublicationsIndexController::indexAction",
        "parameters": [
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/maxResults"
          },
          {
            "$ref": "#/components/parameters/seller"
          }
        ],
        "responses": {
          "200": {
            "description": "Listado de publicaciones"
          }
        }
      },
      "post": {
        "tags": [
          "Publicaciones"
        ],
        "summary": "Crear una nueva publicaci\u00f3n",
        "operationId": "AppBundle\\Controller\\ApiV2\\Publications\\PublicationsCreateController::createAction",
        "parameters": [
          {
            "$ref": "#/components/parameters/seller"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostPublicationBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Publicaci\u00f3n creada exitosamente"
          },
          "500": {
            "description": "Error interno del servidor"
          }
        }
      }
    },
    "/publications/{publication_id}": {
      "get": {
        "tags": [
          "Publicaciones"
        ],
        "summary": "Obtener una publicaci\u00f3n espec\u00edfica",
        "operationId": "AppBundle\\Controller\\ApiV2\\Publications\\PublicationsShowController::showAction",
        "parameters": [
          {
            "$ref": "#/components/parameters/publication_id"
          },
          {
            "$ref": "#/components/parameters/seller"
          }
        ],
        "responses": {
          "200": {
            "description": "Vista de publicaci\u00f3n individual"
          }
        }
      },
      "put": {
        "tags": [
          "Publicaciones"
        ],
        "summary": "Modificar una publicaci\u00f3n existente",
        "operationId": "AppBundle\\Controller\\ApiV2\\Publications\\PublicationsUpdateController::updateAction",
        "parameters": [
          {
            "$ref": "#/components/parameters/publication_id"
          },
          {
            "$ref": "#/components/parameters/seller"
[...]
