{
  "openapi": "3.0.3",
  "info": {
    "title": "MagicBell API",
    "description": "OpenAPI 3.1.0 Specification for MagicBell API.",
    "contact": {
      "name": "MagicBell",
      "url": "https://wwww.magicbell.com"
    },
    "version": "2.0.0",
    "x-jentic-source-url": "https://www.magicbell.com/docs/api/openapi.json"
  },
  "servers": [
    {
      "url": "https://api.magicbell.com/v2",
      "description": "MagicBell API (v2) Base URL"
    }
  ],
  "paths": {
    "/broadcasts": {
      "summary": "Broadcast lifecycle",
      "description": "Broadcasts let you fan out an announcement to every relevant user or topic. Use these APIs to create announcements, inspect their status, and audit how they generated notifications and deliveries across your project.\n\nRelated guides: [Broadcast Primitive](https://www.magicbell.com/docs/primitive/broadcast) ",
      "get": {
        "summary": "List all broadcasts",
        "description": "Retrieves a paginated list of broadcasts for the project. Returns basic information about each broadcast including its creation time and status.",
        "operationId": "list_broadcasts",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "defines the maximum number of items to return per page (default: 50)",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "starting_after",
            "in": "query",
            "description": "a cursor for use in pagination, points to the last ID in previous page",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ending_before",
            "in": "query",
            "description": "a cursor for use in pagination, points to the first ID in next page",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BroadcastCollection"
                }
              }
            }
          }
        },
        "x-magicbell-auth-jwt-type": "project",
        "tags": [
          "broadcasts"
        ]
      },
      "post": {
        "summary": "Create a broadcast",
        "description": "Creates a new broadcast. When a broadcast is created, it generates individual notifications for relevant users within the project.",
        "operationId": "create_broadcast",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Broadcast"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Broadcast"
                }
              }
            }
          }
        },
        "x-forbid-unknown-cookie": true,
        "x-forbid-unknown-header": true,
        "x-forbid-unknown-path": true,
        "x-forbid-unknown-query": true,
        "x-magicbell-auth-jwt-type": "project",
        "tags": [
          "broadcasts"
        ]
      }
    },
    "/broadcasts/{broadcast_id}": {
      "summary": "Single broadcast detail",
      "description": "Endpoints scoped to one broadcast instance. Use them to inspect configuration, track execution timestamps, and debug why a send behaved a certain way.",
      "get": {
        "summary": "Fetch a broadcast",
        "description": "Retrieves detailed information about a specific broadcast by its ID. Includes the broadcast's configuration and current status.",
        "operationId": "fetch_broadcast",
        "parameters": [
          {
            "name": "broadcast_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Broadcast"
                }
              }
            }
          }
        },
        "x-magicbell-auth-jwt-type": "project",
        "tags": [
          "broadcasts"
        ]
      }
    },
    "/channels": {
      "summary": "Channel configurations",
      "description": "Channels represent the mediums such as Email, Push, SMS, Slack, through which deliveries happen. These routes configure how each channel behaves inside a project, ensuring every notification honors user preferences and branding.\n\nRelated guides: [Channel Primitive](https://www.magicbell.com/docs/primitive/channel)",
      "put": {
        "summary": "Save a channels config",
        "description": "Save the channels configuration for a given key.",
        "operationId": "save_channels_config",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CategoryDeliveryConfig"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CategoryDeliveryConfig"
                }
              }
            }
          }
        },
        "x-magicbell-auth-jwt-type": "project",
        "tags": [
          "channels"
        ]
      }
    },
    "/channels/in_app/inbox/tokens": {
      "summary": "Inbox token",
      "description": "Scoped APIs for Inbox (`inbox`).",
      "get": {
        "tags": [
          "in_app",
          "inbox"
        ],
        "summary": "List all Inbox tokens",
        "description": "Lists all Inbox tokens belonging to the authenticated user. Returns a paginated list of tokens, including their status, creation dates, and associated metadata.",
        "operationId": "list_inbox_tokens",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "defines the maximum number of items to return per page (default: 50)",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "starting_after",
            "in": "query",
            "description": "a cursor for use in pagination, points to the last ID in previous page",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ending_before",
            "in": "query",
            "description": "a cursor for use in pagination, points to the first ID in next page",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InboxTokenResponseCollection"
                }
              }
            }
          }
        },
        "x-magicbell-auth-jwt-type": "user"
      },
      "put": {
        "tags": [
          "in_app",
          "inbox"
        ],
        "summary": "Save an Inbox token",
        "description": "Saves the Inbox token for the authenticated user. This token serves as a credential for accessing channel-specific functionality. Each token is unique to the user and channel combination, allowing for direct communication with the user via the channel.",
        "operationId": "save_inbox_token",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InboxToken"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InboxToken"
                }
              }
            }
          }
        },
        "x-magicbell-auth-jwt-type": "user"
      }
    },
    "/channels/in_app/inbox/tokens/{token_id}": {
      "summary": "Inbox token",
      "description": "Scoped APIs for Inbox (`inbox`).",
      "get": {
        "tags": [
          "in_app",
          "inbox"
        ],
        "summary": "Fetch an Inbox token",
        "description": "Fetches details of a specific Inbox token belonging to the authenticated user. Returns information about the token's status, creation date, and any associated metadata. Users can only access their own tokens.",
        "operationId": "fetch_inbox_token",
        "parameters": [
          {
            "name": "token_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InboxTokenResponse"
                }
              }
            }
          }
        },
        "x-magicbell-auth-jwt-type": "user"
      },
      "delete": {
        "tags": [
          "in_app",
          "inbox"
        ],
        "summary": "Delete an Inbox token",
        "description": "Deletes one of the authenticated user's Inbox tokens. This permanently invalidates the specified token, preventing it from being used for future channel access. This action cannot be undone. Users can only revoke their own tokens.",
        "operationId": "delete_inbox_token",
        "parameters": [
          {
            "name": "token_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DiscardResult"
                }
              }
            }
          }
        },
        "x-magicbell-auth-jwt-type": "user"
      }
    },
    "/channels/mobile_push/apns/tokens": {
      "summary": "APNs token",
      "description": "Scoped APIs for APNs (`apns`).",
      "get": {
        "tags": [
          "mobile_push",
          "apns"
        ],
        "summary": "List all APNs tokens",
        "description": "Lists all APNs tokens belonging to the authenticated user. Returns a paginated list of tokens, including their status, creation dates, and associated metadata.",
        "operationId": "list_apns_tokens",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "defines the maximum number of items to return per page (default: 50)",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "starting_after",
            "in": "query",
            "description": "a cursor for use in pagination, points to the last ID in previous page",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ending_before",
            "in": "query",
            "description": "a cursor for use in pagination, points to the first ID in next page",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APNSTokenCollection"
                }
              }
            }
          }
        },
        "x-magicbell-auth-jwt-type": "user"
      },
      "put": {
        "tags": [
          "mobile_push",
          "apns"
        ],
        "summary": "Save an APNs token",
        "description": "Saves the APNs token for the authenticated user. This token serves as a credential for accessing channel-specific functionality. Each token is unique to the user and channel combination, allowing for direct communication with the user via the channel.",
        "operationId": "save_apns_token",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/APNSTokenPayload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APNSTokenPayload"
                }
              }
            }
          }
        },
        "x-magicbell-auth-jwt-type": "user"
      }
    },
    "/channels/mobile_push/apns/tokens/{token_id}": {
      "summary": "APNs token",
      "description": "Scoped APIs for APNs (`apns`).",
      "get": {
        "tags": [
          "mobile_push",
          "apns"
        ],
        "summary": "Fetch an APNs token",
        "description": "Fetches details of a specific APNs token belonging to the authenticated user. Returns information about the token's status, creation date, and any associated metadata. Users can only access their own tokens.",
        "operationId": "fetch_apns_token",
        "parameters": [
          {
            "name": "token_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APNSToken"
                }
              }
            }
          }
        },
        "x-magicbell-auth-jwt-type": "user"
      },
      "delete": {
        "tags": [
          "mobile_push",
          "apns"
        ],
        "summary": "Delete an APNs token",
        "description": "Deletes one of the authenticated user's APNs tokens. This permanently invalidates the specified token, preventing it from being used for future channel access. This action cannot be undone. Users can only revoke their own tokens.",
        "operationId": "delete_apns_token",
        "parameters": [
          {
            "name": "token_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DiscardResult"
                }
              }
            }
          }
        },
        "x-magicbell-auth-jwt-type": "user"
      }
    },
    "/channels/mobile_push/expo/tokens": {
      "summary": "Expo token",
      "description": "Scoped APIs for Expo (`expo`).",
      "get": {
        "tags": [
          "mobile_push",
          "expo"
        ],
        "summary": "List all Expo tokens",
        "description": "Lists all Expo tokens belonging to the authenticated user. Returns a paginated list of tokens, including their status, creation dates, and associated metadata.",
        "operationId": "list_expo_tokens",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "defines the maximum number of items to return per page (default: 50)",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "starting_after",
            "in": "query",
            "description": "a cursor for use in pagination, points to the last ID in previous page",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ending_before",
            "in": "query",
            "description": "a cursor for use in pagination, points to the first ID in next page",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExpoTokenCollection"
                }
              }
            }
          }
        },
        "x-magicbell-auth-jwt-type": "user"
      },
      "put": {
        "tags": [
          "mobile_push",
          "expo"
        ],
        "summary": "Save an Expo token",
        "description": "Saves the Expo token for the authenticated user. This token serves as a credential for accessing channel-specific functionality. Each token is unique to the user and channel combination, allowing for direct communication with the user via the channel.",
        "operationId": "save_expo_token",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExpoTokenPayload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExpoTokenPayload"
                }
              }
            }
          }
        },
        "x-magicbell-auth-jwt-type": "user"
      }
    },
    "/channels/mobile_push/expo/tokens/{token_id}": {
      "summary": "Expo token",
      "description": "Scoped APIs for Expo (`expo`).",
      "get": {
        "tags": [
          "mobile_push",
          "expo"
        ],
        "summary": "Fetch an Expo token",
        "description": "Fetches details of a specific Expo token belonging to the authenticated user. Returns information about the token's status, creation date, and any associated metadata. Users can only access their own tokens.",
        "operationId": "fetch_expo_token",
        "parameters": [
          {
            "name": "token_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExpoToken"
                }
              }
            }
          }
        },
        "x-magicbell-auth-jwt-type": "user"
      },
      "delete": {
        "tags": [
          "mobile_push",
          "expo"
        ],
        "summary": "Delete an Expo token",
        "description": "Deletes one of the authenticated user's Expo tokens. This permanently invalidates the specified token, preventing it from being used for future channel access. This action cannot be undone. Users can only revoke their own tokens.",
        "operationId": "delete_expo_token",
        "parameters": [
          {
            "name": "token_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DiscardResult"
                }
              }
            }
          }
        },
        "x-magicbell-auth-jwt-type": "user"
      }
    },
    "/channels/mobile_push/fcm/tokens": {
      "summary": "FCM token",
      "description": "Scoped APIs for FCM (`fcm`).",
      "get": {
        "tags": [
          "mobile_push",
          "fcm"
        ],
        "summary": "List all FCM tokens",
        "description": "Lists all FCM tokens belonging to the authenticated user. Returns a paginated list of tokens, including their status, creation dates, and associated metadata.",
        "operationId": "list_fcm_tokens",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "defines the maximum number of items to return per page (default: 50)",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "starting_after",
            "in": "query",
            "description": "a cursor for use in pagination, points to the last ID in previous page",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ending_before",
            "in": "query",
            "description": "a cursor for use in pagination, points to the first ID in next page",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FCMTokenCollection"
                }
              }
            }
          }
        },
        "x-magicbell-auth-jwt-type": "user"
      },
      "put": {
        "tags": [
          "mobile_push",
          "fcm"
        ],
        "summary": "Save a FCM token",
        "description": "Saves the FCM token for the authenticated user. This token serves as a credential for accessing channel-specific functionality. Each token is unique to the user and channel combination, allowing for direct communication with the user via the channel.",
        "operationId": "save_fcm_token",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FCMTokenPayload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FCMTokenPayload"
                }
              }
            }
          }
        },
        "x-magicbell-auth-jwt-type": "user"
      }
    },
    "/channels/mobile_push/fcm/tokens/{token_id}": {
      "summary": "FCM token",
      "description": "Scoped APIs for FCM (`fcm`).",
      "get": {
        "tags": [
          "mobile_push",
          "fcm"
        ],
        "summary": "Fetch a FCM token",
        "description": "Fetches details of a specific FCM token belonging to the authenticated user. Returns information about the token's status, creation date, and any associated metadata. Users can only access their own tokens.",
        "operationId": "fetch_fcm_token",
        "parameters": [
          {
            "name": "token_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FCMToken"
                }
              }
            }
          }
        },
        "x-magicbell-auth-jwt-type": "user"
      },
      "delete": {
        "tags": [
          "mobile_push",
          "fcm"
        ],
        "summary": "Delete a FCM token",
        "description": "Deletes one of the authenticated user's FCM tokens. This permanently invalidates the specified token, preventing it from being used for future channel access. This action cannot be undone. Users can only revoke their own tokens.",
        "operationId": "delete_fcm_token",
        "parameters": [
          {
            "name": "token_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DiscardResult"
                }
              }
            }
          }
        },
        "x-magicbell-auth-jwt-type": "user"
      }
    },
    "/channels/slack/magicbell_slackbot/tokens": {
      "summary": "MagicBell SlackBot token",
      "description": "Scoped APIs for MagicBell SlackBot (`magicbell_slackbot`).",
      "get": {
        "tags": [
          "slack",
          "magicbell_slackbot"
        ],
        "summary": "List all MagicBell SlackBot tokens",
        "description": "Lists all MagicBell SlackBot tokens belonging to the authenticated user. Returns a paginated list of tokens, including their status, creation dates, and associated metadata.",
        "operationId": "list_magicbell_slackbot_tokens",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "defines the maximum number of items to return per page (default: 50)",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "starting_after",
            "in": "query",
            "description": "a cursor for use in pagination, points to the last ID in previous page",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ending_before",
            "in": "query",
            "description": "a cursor for use in pagination, points to the first ID in next page",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SlackTokenCollection"
                }
              }
            }
          }
        },
        "x-magicbell-auth-jwt-type": "user"
      },
      "put": {
        "tags": [
          "slack",
          "magicbell_slackbot"
        ],
        "summary": "Save a MagicBell SlackBot token",
        "description": "Saves the MagicBell SlackBot token for the authenticated user. This token serves as a credential for accessing channel-specific functionality. Each token is unique to the user and channel combination, allowing for direct communication with the user via the channel.",
        "operationId": "save_magicbell_slackbot_token",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SlackTokenPayload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SlackTokenPayload"
                }
              }
            }
          }
        },
        "x-forbid-unknown-cookie": true,
        "x-forbid-unknown-header": true,
        "x-forbid-unknown-path": true,
        "x-forbid-unknown-query": true,
        "x-magicbell-auth-jwt-type": "user"
      }
    },
    "/channels/slack/magicbell_slackbot/tokens/{token_id}": {
      "summary": "MagicBell SlackBot token",
      "description": "Scoped APIs for MagicBell SlackBot (`magicbell_slackbot`).",
      "get": {
        "tags": [
          "slack",
          "magicbell_slackbot"
        ],
        "summary": "Fetch a MagicBell SlackBot token",
        "description": "Fetches details of a specific MagicBell SlackBot token belonging to the authenticated user. Returns information about the token's status, creation date, and any associated metadata. Users can only access their own tokens.",
        "operationId": "fetch_magicbell_slackbot_token",
        "parameters": [
          {
            "name": "token_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SlackToken"
                }
              }
            }
          }
        },
        "x-magicbell-auth-jwt-type": "user"
      },
      "delete": {
        "tags": [
          "slack",
          "magicbell_slackbot"
        ],
        "summary": "Delete a MagicBell SlackBot token",
        "description": "Deletes one of the authenticated user's MagicBell SlackBot tokens. This permanently invalidates the specified token, preventing it from being used for future channel access. This action cannot be undone. Users can only revoke their own tokens.",
        "operationId": "delete_magicbell_slackbot_token",
        "parameters": [
          {
            "name": "token_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DiscardResult"
                }
              }
            }
          }
        },
        "x-magicbell-auth-jwt-type": "user"
      }
    },
    "/channels/slack/tokens": {
      "summary": "Slack tokens",
      "description": "Tokens tie a user to their Slack destination—devices, inboxes, or workspaces. Register them at login, list them for debugging, and revoke stale entries to keep delivery healthy.",
      "get": {
        "tags": [
          "slack"
        ],
        "summary": "List all Slack tokens",
        "description": "Lists all Slack tokens belonging to the authenticated user. Returns a paginated list of tokens, including their status, creation dates, and associated metadata.",
        "operationId": "list_slack_tokens",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "defines the maximum number of items to return per page (default: 50)",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "starting_after",
            "in": "query",
            "description": "a cursor for use in pagination, points to the last ID in previous page",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ending_before",
            "in": "query",
            "description": "a cursor for use in pagination, points to the first ID in next page",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SlackTokenCollection"
                }
              }
            }
          }
        },
        "x-magicbell-auth-jwt-type": "user"
      },
      "put": {
        "tags": [
          "slack"
        ],
        "summary": "Save a Slack token",
        "description": "Saves the Slack token for the authenticated user. This token serves as a credential for accessing channel-specific functionality. Each token is unique to the user and channel combination, allowing for direct communication with the user via the channel.",
        "operationId": "save_slack_token",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SlackTokenPayload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SlackTokenPayload"
                }
              }
            }
          }
        },
        "x-forbid-unknown-cookie": true,
        "x-forbid-unknown-header": true,
        "x-forbid-unknown-path": true,
        "x-forbid-unknown-query": true,
        "x-magicbell-auth-jwt-type": "user"
      }
    },
    "/channels/slack/tokens/{token_id}": {
      "summary": "Slack tokens",
      "description": "Tokens tie a user to their Slack destination—devices, inboxes, or workspaces. Register them at login, list them for debugging, and revoke stale entries to keep delivery healthy.",
      "get": {
        "tags": [
          "slack"
        ],
        "summary": "Fetch a Slack token",
        "description": "Fetches details of a specific Slack token belonging to the authenticated user. Returns information about the token's status, creation date, and any associated metadata. Users can only access their own tokens.",
        "operationId": "fetch_slack_token",
        "parameters": [
          {
            "name": "token_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SlackToken"
                }
              }
            }
          }
        },
        "x-magicbell-auth-jwt-type": "user"
      },
      "delete": {
        "tags": [
          "slack"
        ],
        "summary": "Delete a Slack token",
        "description": "Deletes one of the authenticated user's Slack tokens. This permanently invalidates the specified token, preventing it from being used for future channel access. This action cannot be undone. Users can only revoke their own tokens.",
        "operationId": "delete_slack_token",
        "parameters": [
          {
            "name": "token_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DiscardResult"
                }
              }
            }
          }
        },
        "x-magicbell-auth-jwt-type": "user"
      }
    },
    "/channels/teams/tokens": {
      "summary": "Teams tokens",
      "description": "Tokens tie a user to their Teams destination—devices, inboxes, or workspaces. Register them at login, list them for debugging, and revoke stale entries to keep delivery healthy.",
      "get": {
        "tags": [
          "teams"
        ],
        "summary": "List all Teams tokens",
        "description": "Lists all Teams tokens belonging to the authenticated user. Returns a paginated list of tokens, including their status, creation dates, and associated metadata.",
        "operationId": "list_teams_tokens",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "defines the maximum number of items to return per page (default: 50)",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "starting_after",
            "in": "query",
            "description": "a cursor for use in pagination, points to the last ID in previous page",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ending_before",
            "in": "query",
            "description": "a cursor for use in pagination, points to the first ID in next page",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TeamsTokenCollection"
                }
              }
            }
          }
        },
        "x-magicbell-auth-jwt-type": "user"
      },
      "put": {
        "tags": [
          "teams"
        ],
        "summary": "Save a Teams token",
        "description": "Saves the Teams token for the authenticated user. This token serves as a credential for accessing channel-specific functionality. Each token is unique to the user and channel combination, allowing for direct communication with the user via the channel.",
        "operationId": "save_teams_token",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TeamsTokenPayload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TeamsTokenPayload"
                }
              }
            }
          }
        },
        "x-magicbell-auth-jwt-type": "user"
      }
    },
    "/channels/teams/tokens/{token_id}": {
      "summary": "Teams tokens",
      "description": "Tokens tie a user to their Teams destination—devices, inboxes, or workspaces. Register them at login, list them for debugging, and revoke stale entries to keep delivery healthy.",
      "get": {
        "tags": [
          "teams"
        ],
        "summary": "Fetch a Teams token",
        "description": "Fetches details of a specific Teams token belonging to the authenticated user. Returns information about the token's status, creation date, and any associated metadata. Users can only access their own tokens.",
        "operationId": "fetch_teams_token",
        "parameters": [
          {
            "name": "token_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TeamsToken"
                }
              }
            }
          }
        },
        "x-magicbell-auth-jwt-type": "user"
      },
      "delete": {
        "tags": [
          "teams"
        ],
        "summary": "Delete a Teams token",
        "description": "Deletes one of the authenticated user's Teams tokens. This permanently invalidates the specified token, preventing it from being used for future channel access. This action cannot be undone. Users can only revoke their own tokens.",
        "operationId": "delete_teams_token",
        "parameters": [
          {
            "name": "token_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DiscardResult"
                }
              }
            }
          }
        },
        "x-magicbell-auth-jwt-type": "user"
      }
    },
    "/channels/user_preferences": {
      "summary": "Channel preferences",
      "description": "Manages each user's opt-outs and per-channel overrides so every notification respects personal choices across devices and mediums.",
      "get": {
        "summary": "Fetch channel preferences",
        "description": "Fetch a user's channel delivery preferences.",
        "operationId": "fetch_user_preferences",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserPreferences"
                }
              }
            }
          }
        },
        "x-magicbell-auth-jwt-type": "user",
        "tags": [
          "channels"
        ]
      },
      "put": {
        "summary": "Save channel preferences",
        "description": "Save a user's channel preferences.",
        "operationId": "save_user_preferences",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserPreferences"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "x-magicbell-auth-jwt-type": "user",
        "tags": [
          "channels"
        ]
      }
    },
    "/channels/web_push/tokens": {
      "summary": "Web Push tokens",
      "description": "Tokens tie a user to their Web Push destination—devices, inboxes, or workspaces. Register them at login, list them for debugging, and revoke stale entries to keep delivery healthy.",
      "get": {
        "tags": [
          "web_push"
        ],
        "summary": "List all Web Push tokens",
        "description": "Lists all Web Push tokens belonging to the authenticated user. Returns a paginated list of tokens, including their status, creation dates, and associated metadata.",
        "operationId": "list_web_push_tokens",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "defines the maximum number of items to return per page (default: 50)",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "starting_after",
            "in": "query",
            "description": "a cursor for use in pagination, points to the last ID in previous page",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ending_before",
            "in": "query",
            "description": "a cursor for use in pagination, points to the first ID in next page",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebPushTokenCollection"
                }
              }
            }
          }
        },
        "x-magicbell-auth-jwt-type": "user"
      },
      "put": {
        "tags": [
          "web_push"
        ],
        "summary": "Save a Web Push token",
        "description": "Saves the Web Push token for the authenticated user. This token serves as a credential for accessing channel-specific functionality. Each token is unique to the user and channel combination, allowing for direct communication with the user via the channel.",
        "operationId": "save_web_push_token",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebPushTokenPayload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebPushTokenPayload"
                }
              }
            }
          }
        },
        "x-magicbell-auth-jwt-type": "user"
      }
    },
    "/channels/web_push/tokens/{token_id}": {
      "summary": "Web Push tokens",
      "description": "Tokens tie a user to their Web Push destination—devices, inboxes, or workspaces. Register them at login, list them for debugging, and revoke stale entries to keep delivery healthy.",
      "get": {
        "tags": [
          "web_push"
        ],
        "summary": "Fetch a Web Push token",
        "description": "Fetches details of a specific Web Push token belonging to the authenticated user. Returns information about the token's status, creation date, and any associated metadata. Users can only access their own tokens.",
        "operationId": "fetch_web_push_token",
        "parameters": [
          {
            "name": "token_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebPushToken"
                }
              }
            }
          }
        },
        "x-magicbell-auth-jwt-type": "user"
      },
      "delete": {
        "tags": [
          "web_push"
        ],
        "summary": "Delete a Web Push token",
        "description": "Deletes one of the authenticated user's Web Push tokens. This permanently invalidates the specified token, preventing it from being used for future channel access. This action cannot be undone. Users can only revoke their own tokens.",
        "operationId": "delete_web_push_token",
        "parameters": [
          {
            "name": "token_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DiscardResult"
                }
              }
            }
          }
        },
        "x-magicbell-auth-jwt-type": "user"
      }
    },
    "/channels/{key}": {
      "summary": "Channel configurations",
      "description": "Channels represent the mediums such as Email, Push, SMS, Slack, through which deliveries happen. These routes configure how each channel behaves inside a project, ensuring every notification honors user preferences and branding.\n\nRelated guides: [Channel Primitive](https://www.magicbell.com/docs/primitive/channel)",
      "get": {
        "summary": "Fetch a channels config",
        "description": "Fetches the channels config for a given key.",
        "operationId": "fetch_channels_config",
        "parameters": [
          {
            "name": "key",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CategoryDeliveryConfig"
                }
              }
            }
          }
        },
        "x-magicbell-auth-jwt-type": "project",
        "tags": [
          "channels"
        ]
      }
    },
    "/events": {
      "summary": "Notification event log",
      "description": "Events capture everything that happens across deliveries. Query this stream to audit what occurred, troubleshoot delivery issues, and power observability dashboards.\n\nRelated guides: [Delivery Primitive](https://www.magicbell.com/docs/primitive/delivery)",
      "get": {
        "summary": "List all events",
        "description": "Retrieves a paginated list of events for the project.",
        "operationId": "list_events",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "defines the maximum number of items to return per page (default: 50)",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "starting_after",
            "in": "query",
            "description": "a cursor for use in pagination, points to the last ID in previous page",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ending_before",
            "in": "query",
            "description": "a cursor for use in pagination, points to the first ID in next page",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventCollection"
                }
              }
            }
          }
        },
        "x-magicbell-auth-jwt-type": "project",
        "tags": [
          "events"
        ]
      }
    },
    "/events/{event_id}": {
      "summary": "Notification event log",
      "description": "Events capture everything that happens across deliveries. Query this stream to audit what occurred, troubleshoot delivery issues, and power observability dashboards.\n\nRelated guides: [Delivery Primitive](https://www.magicbell.com/docs/primitive/delivery)",
      "get": {
        "summary": "Fetch an event",
        "description": "Fetches a project event by its ID.",
        "operationId": "fetch_event",
        "parameters": [
          {
            "name": "event_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Event"
                }
              }
            }
          }
        },
        "x-magicbell-auth-jwt-type": "project",
        "tags": [
          "events"
        ]
      }
    },
    "/integrations": {
      "summary": "Integration catalog",
      "description": "Integrations connect MagicBell to external providers for delivery, data ingestion, and automation. Use these grouped APIs to configure providers, run installation flows, and receive incoming events.\n\nRelated guides: [Integration Primitive](https://www.magicbell.com/docs/primitive/integration)",
      "get": {
        "summary": "List all integrations",
        "description": "Lists all available and configured integrations for the project. Returns a summary of each integration including its type, status, and basic configuration information.",
        "operationId": "list_integrations",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "defines the maximum number of items to return per page (default: 50)",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "starting_after",
            "in": "query",
            "description": "a cursor for use in pagination, points to the last ID in previous page",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ending_before",
            "in": "query",
            "description": "a cursor for use in pagination, points to the first ID in next page",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IntegrationConfigCollection"
                }
              }
            }
          }
        },
        "x-magicbell-auth-jwt-type": "project",
        "tags": [
          "integrations"
        ]
      }
    },
    "/integrations/apns": {
      "summary": "Apple Push Notification service",
      "description": "Upload APNs credentials to deliver native iOS, iPadOS, and macOS push notifications.",
      "get": {
        "tags": [
          "apns",
          "channel/mobile_push"
        ],
        "summary": "List all APNs integrations",
        "description": "Retrieves the current APNs integration configurations for a specific integration type in the project. Returns configuration details and status information.",
        "operationId": "list_apns_integrations",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APNSConfigCollection"
                }
              }
            }
          }
        },
        "x-magicbell-auth-jwt-type": "project",
        "x-meta": {
          "channel": "mobile_push",
          "displayName": "APNs",
          "name": "apns"
        }
      },
      "put": {
        "tags": [
          "apns",
          "channel/mobile_push"
        ],
        "summary": "Save an APNs integration",
        "description": "Updates or creates the APNs integration for the project.",
        "operationId": "save_apns_integration",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/APNSConfigPayload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APNSConfigPayload"
                }
              }
            }
          }
        },
        "x-magicbell-auth-jwt-type": "project",
        "x-meta": {
          "channel": "mobile_push",
          "displayName": "APNs",
          "name": "apns"
        }
      },
      "delete": {
        "tags": [
          "apns",
          "channel/mobile_push"
        ],
        "summary": "Delete an APNs integration",
        "description": "Deletes the APNs integration configuration from the project. This will disable the integration's functionality within the project.",
        "operationId": "delete_apns_integration",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "the unique identifier of the integration to be deleted",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "x-magicbell-auth-jwt-type": "project",
        "x-meta": {
          "channel": "mobile_push",
          "displayName": "APNs",
          "name": "apns"
        }
      }
    },
    "/integrations/eventsource": {
      "summary": "Event Source",
      "description": "Generic integration for piping arbitrary event feeds into MagicBell when no dedicated provider exists.",
      "get": {
        "tags": [
          "eventsource"
        ],
        "summary": "List all EventSource integrations",
        "description": "Retrieves the current EventSource integration configurations for a specific integration type in the project. Returns configuration details and status information.",
        "operationId": "list_eventsource_integrations",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventSourceConfigCollection"
                }
              }
            }
          }
        },
        "x-magicbell-auth-jwt-type": "project",
        "x-meta": {
          "displayName": "EventSource",
          "name": "eventsource"
        }
      },
      "put": {
        "tags": [
          "eventsource"
        ],
        "summary": "Save an EventSource integration",
        "description": "Updates or creates the EventSource integration for the project.",
        "operationId": "save_eventsource_integration",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EventSourceConfigPayload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventSourceConfigPayload"
                }
              }
            }
          }
        },
        "x-forbid-unknown-cookie": true,
        "x-forbid-unknown-header": true,
        "x-forbid-unknown-path": true,
        "x-forbid-unknown-query": true,
        "x-magicbell-auth-jwt-type": "project",
        "x-meta": {
          "displayName": "EventSource",
          "name": "eventsource"
        }
      },
      "delete": {
        "tags": [
          "eventsource"
        ],
        "summary": "Delete an EventSource integration",
        "description": "Deletes the EventSource integration configuration from the project. This will disable the integration's functionality within the project.",
        "operationId": "delete_eventsource_integration",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "the unique identifier of the integration to be deleted",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "x-magicbell-auth-jwt-type": "project",
        "x-meta": {
          "displayName": "EventSource",
          "name": "eventsource"
        }
      }
    },
    "/integrations/expo": {
      "summary": "Expo push",
      "description": "Send Expo push notifications to React Native apps with zero extra plumbing.",
      "get": {
        "tags": [
          "expo",
          "channel/mobile_push"
        ],
        "summary": "List all Expo integrations",
        "description": "Retrieves the current Expo integration configurations for a specific integration type in the project. Returns configuration details and status information.",
        "operationId": "list_expo_integrations",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExpoConfigCollection"
                }
              }
            }
          }
        },
        "x-magicbell-auth-jwt-type": "project",
        "x-meta": {
          "channel": "mobile_push",
          "displayName": "Expo",
          "name": "expo"
        }
      },
      "put": {
        "tags": [
          "expo",
          "channel/mobile_push"
        ],
        "summary": "Save an Expo integration",
        "description": "Updates or creates the Expo integration for the project.",
        "operationId": "save_expo_integration",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExpoConfigPayload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExpoConfigPayload"
                }
              }
            }
          }
        },
        "x-magicbell-auth-jwt-type": "project",
        "x-meta": {
          "channel": "mobile_push",
          "displayName": "Expo",
          "name": "expo"
        }
      },
      "delete": {
        "tags": [
          "expo",
          "channel/mobile_push"
        ],
        "summary": "Delete an Expo integration",
        "description": "Deletes the Expo integration configuration from the project. This will disable the integration's functionality within the project.",
        "operationId": "delete_expo_integration",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "the unique identifier of the integration to be deleted",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "x-magicbell-auth-jwt-type": "project",
        "x-meta": {
          "channel": "mobile_push",
          "displayName": "Expo",
          "name": "expo"
        }
      }
    },
    "/integrations/fcm": {
      "summary": "Firebase Cloud Messaging",
      "description": "Connect FCM to reach Android devices and browsers that rely on Google's messaging infrastructure.",
      "get": {
        "tags": [
          "fcm",
          "channel/mobile_push"
        ],
        "summary": "List all FCM integrations",
        "description": "Retrieves the current FCM integration configurations for a specific integration type in the project. Returns configuration details and status information.",
        "operationId": "list_fcm_integrations",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FCMConfigCollection"
                }
              }
            }
          }
        },
        "x-magicbell-auth-jwt-type": "project",
        "x-meta": {
          "channel": "mobile_push",
          "displayName": "FCM",
          "name": "fcm"
        }
      },
      "put": {
        "tags": [
          "fcm",
          "channel/mobile_push"
        ],
        "summary": "Save a FCM integration",
        "description": "Updates or creates the FCM integration for the project.",
        "operationId": "save_fcm_integration",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FCMConfigPayload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FCMConfigPayload"
                }
              }
            }
          }
        },
        "x-magicbell-auth-jwt-type": "project",
        "x-meta": {
          "channel": "mobile_push",
          "displayName": "FCM",
          "name": "fcm"
        }
      },
      "delete": {
        "tags": [
          "fcm",
          "channel/mobile_push"
        ],
        "summary": "Delete a FCM integration",
        "description": "Deletes the FCM integration configuration from the project. This will disable the integration's functionality within the project.",
        "operationId": "delete_fcm_integration",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "the unique identifier of the integration to be deleted",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "x-magicbell-auth-jwt-type": "project",
        "x-meta": {
          "channel": "mobile_push",
          "displayName": "FCM",
          "name": "fcm"
        }
      }
    },
    "/integrations/github": {
      "summary": "GitHub events",
      "description": "Subscribe to issues, pull requests, and deployments to keep teams informed inside MagicBell.",
      "get": {
        "tags": [
          "github"
        ],
        "summary": "List all GitHub integrations",
        "description": "Retrieves the current GitHub integration configurations for a specific integration type in the project. Returns configuration details and status information.",
        "operationId": "list_github_integrations",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GithubConfigCollection"
                }
              }
            }
          }
        },
        "x-magicbell-auth-jwt-type": "project",
        "x-meta": {
          "displayName": "GitHub",
          "name": "github"
        }
      },
      "put": {
        "tags": [
          "github"
        ],
        "summary": "Save a GitHub integration",
        "description": "Updates or creates the GitHub integration for the project.",
        "operationId": "save_github_integration",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GithubConfigPayload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GithubConfigPayload"
                }
              }
            }
          }
        },
        "x-forbid-unknown-cookie": true,
        "x-forbid-unknown-header": true,
        "x-forbid-unknown-path": true,
        "x-forbid-unknown-query": true,
        "x-magicbell-auth-jwt-type": "project",
        "x-meta": {
          "displayName": "GitHub",
          "name": "github"
        }
      },
      "delete": {
        "tags": [
          "github"
        ],
        "summary": "Delete a GitHub integration",
        "description": "Deletes the GitHub integration configuration from the project. This will disable the integration's functionality within the project.",
        "operationId": "delete_github_integration",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "the unique identifier of the integration to be deleted",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "x-magicbell-auth-jwt-type": "project",
        "x-meta": {
          "displayName": "GitHub",
          "name": "github"
        }
      }
    },
    "/integrations/inbox": {
      "summary": "Inbox surfaces",
      "description": "Manage integrations that sync data into the MagicBell Inbox surfaces, including hosted widgets and embeddable inboxes.",
      "get": {
        "tags": [
          "inbox",
          "channel/in_app"
        ],
        "summary": "List all Inbox integrations",
        "description": "Retrieves the current Inbox integration configurations for a specific integration type in the project. Returns configuration details and status information.",
        "operationId": "list_inbox_integrations",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InboxConfigCollection"
                }
              }
            }
          }
        },
        "x-magicbell-auth-jwt-type": "project",
        "x-meta": {
          "channel": "in_app",
          "displayName": "Inbox",
          "name": "inbox"
        }
      },
      "put": {
        "tags": [
          "inbox",
          "channel/in_app"
        ],
        "summary": "Save an Inbox integration",
        "description": "Updates or creates the Inbox integration for the project.",
        "operationId": "save_inbox_integration",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InboxConfigPayload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InboxConfigPayload"
                }
              }
            }
          }
        },
        "x-magicbell-auth-jwt-type": "project",
        "x-meta": {
          "channel": "in_app",
          "displayName": "Inbox",
          "name": "inbox"
        }
      },
      "delete": {
        "tags": [
          "inbox",
          "channel/in_app"
        ],
        "summary": "Delete an Inbox integration",
        "description": "Deletes the Inbox integration configuration from the project. This will disable the integration's functionality within the project.",
        "operationId": "delete_inbox_integration",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "the unique identifier of the integration to be deleted",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "x-magicbell-auth-jwt-type": "project",
        "x-meta": {
          "channel": "in_app",
          "displayName": "Inbox",
          "name": "inbox"
        }
      }
    },
    "/integrations/inbox/installations": {
      "summary": "Installation flow",
      "description": "High-level entry point for integrations that require multi-step authorization.",
      "put": {
        "tags": [
          "inbox"
        ],
        "summary": "Save an Inbox installation",
        "description": "Creates a new installation of a Inbox integration for a user. This endpoint is used when an integration needs to be set up with user-specific credentials or configuration.",
        "operationId": "save_inbox_installation",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InboxConfigPayload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InboxConfigPayload"
                }
              }
            }
          }
        },
        "x-magicbell-auth-jwt-type": "user"
      }
    },
    "/integrations/inbox/installations/start": {
      "summary": "Start installation",
      "description": "Begins the OAuth or credentials handshake for an integration, returning URLs or payloads needed to obtain user consent.",
      "post": {
        "tags": [
          "inbox"
        ],
        "summary": "Start an Inbox installation",
        "description": "Initiates the installation flow for an Inbox integration. This is the first step in a multi-step installation process where user authorization or external service configuration may be required.",
        "operationId": "start_inbox_installation",
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InboxConfigPayload"
                }
              }
            }
          }
        },
        "x-magicbell-auth-jwt-type": "user"
      }
    },
    "/integrations/magicbell_slackbot": {
      "summary": "MagicBell-managed Slackbot",
      "description": "Provision the hosted Slackbot that delivers actionable notifications into Slack without you maintaining an app. Ideal when you want a turnkey shared Slack experience.",
      "get": {
        "tags": [
          "magicbell_slackbot",
          "channel/slack"
        ],
        "summary": "List all MagicBell SlackBot integrations",
        "description": "Retrieves the current MagicBell SlackBot integration configurations for a specific integration type in the project. Returns configuration details and status information.",
        "operationId": "list_magicbell_slackbot_integrations",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SlackBotConfigCollection"
                }
              }
            }
          }
        },
        "x-magicbell-auth-jwt-type": "project",
        "x-meta": {
          "channel": "slack",
          "displayName": "MagicBell SlackBot",
          "name": "magicbell_slackbot"
        }
      },
      "put": {
        "tags": [
          "magicbell_slackbot",
          "channel/slack"
        ],
        "summary": "Save a MagicBell SlackBot integration",
        "description": "Updates or creates the MagicBell SlackBot integration for the project.",
        "operationId": "save_magicbell_slackbot_integration",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SlackBotConfigPayload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SlackBotConfigPayload"
                }
              }
            }
          }
        },
        "x-magicbell-auth-jwt-type": "project",
        "x-meta": {
          "channel": "slack",
          "displayName": "MagicBell SlackBot",
          "name": "magicbell_slackbot"
        }
      },
      "delete": {
        "tags": [
          "magicbell_slackbot",
          "channel/slack"
        ],
        "summary": "Delete a MagicBell SlackBot integration",
        "description": "Deletes the MagicBell SlackBot integration configuration from the project. This will disable the integration's functionality within the project.",
        "operationId": "delete_magicbell_slackbot_integration",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "the unique identifier of the integration to be deleted",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "x-magicbell-auth-jwt-type": "project",
        "x-meta": {
          "channel": "slack",
          "displayName": "MagicBell SlackBot",
          "name": "magicbell_slackbot"
        }
      }
    },
    "/integrations/magicbell_slackbot/installations": {
      "summary": "Installation flow",
      "description": "High-level entry point for integrations that require multi-step authorization.",
      "put": {
        "tags": [
          "magicbell_slackbot"
        ],
        "summary": "Save a MagicBell SlackBot installation",
        "description": "Creates a new installation of a MagicBell SlackBot integration for a user. This endpoint is used when an integration needs to be set up with user-specific credentials or configuration.",
        "operationId": "save_magicbell_slackbot_installation",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SlackInstallation"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SlackInstallation"
                }
              }
            }
          }
        },
        "x-magicbell-auth-jwt-type": "user"
      }
    },
    "/integrations/magicbell_slackbot/installations/finish": {
      "summary": "Finish installation",
      "description": "Completes the installation handshake after the user authorizes access, persisting tokens and validating the external connection.",
      "post": {
        "tags": [
          "magicbell_slackbot"
        ],
        "summary": "Finish a MagicBell SlackBot installation",
        "description": "Completes the installation flow for the MagicBell SlackBot integration. This endpoint is typically called after the user has completed any required authorization steps with MagicBell SlackBot.",
        "operationId": "finish_magicbell_slackbot_installation",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SlackFinishInstallResponse"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SlackInstallation"
                }
              }
            }
          }
        },
        "x-magicbell-auth-jwt-type": "user"
      }
    },
    "/integrations/magicbell_slackbot/installations/start": {
      "summary": "Start installation",
      "description": "Begins the OAuth or credentials handshake for an integration, returning URLs or payloads needed to obtain user consent.",
      "post": {
        "tags": [
          "magicbell_slackbot"
        ],
        "summary": "Start a MagicBell SlackBot installation",
        "description": "Initiates the installation flow for a MagicBell SlackBot integration. This is the first step in a multi-step installation process where user authorization or external service configuration may be required.",
        "operationId": "start_magicbell_slackbot_installation",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SlackStartInstall"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SlackStartInstallResponseContent"
                }
              }
            }
          }
        },
        "x-forbid-unknown-cookie": true,
        "x-forbid-unknown-header": true,
        "x-forbid-unknown-path": true,
        "x-forbid-unknown-query": true,
        "x-magicbell-auth-jwt-type": "user"
      }
    },
    "/integrations/mailgun": {
      "summary": "Mailgun email",
      "description": "Connect Mailgun so you can deliver notifications using your existing domains, routes, and analytics.",
      "get": {
        "tags": [
          "mailgun",
          "channel/email"
        ],
        "summary": "List all Mailgun integrations",
        "description": "Retrieves the current Mailgun integration configurations for a specific integration type in the project. Returns configuration details and status information.",
        "operationId": "list_mailgun_integrations",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MailgunConfigCollection"
                }
              }
            }
          }
        },
        "x-magicbell-auth-jwt-type": "project",
        "x-meta": {
          "channel": "email",
          "displayName": "Mailgun",
          "name": "mailgun"
        }
      },
      "put": {
        "tags": [
          "mailgun",
          "channel/email"
        ],
        "summary": "Save a Mailgun integration",
        "description": "Updates or creates the Mailgun integration for the project.",
        "operationId": "save_mailgun_integration",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MailgunConfigPayload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MailgunConfigPayload"
                }
              }
            }
          }
        },
        "x-magicbell-auth-jwt-type": "project",
        "x-meta": {
          "channel": "email",
          "displayName": "Mailgun",
          "name": "mailgun"
        }
      },
      "delete": {
        "tags": [
          "mailgun",
          "channel/email"
        ],
        "summary": "Delete a Mailgun integration",
        "description": "Deletes the Mailgun integration configuration from the project. This will disable the integration's functionality within the project.",
        "operationId": "delete_mailgun_integration",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "the unique identifier of the integration to be deleted",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "x-magicbell-auth-jwt-type": "project",
        "x-meta": {
          "channel": "email",
          "displayName": "Mailgun",
          "name": "mailgun"
        }
      }
    },
    "/integrations/ping_email": {
      "summary": "Ping email diagnostics",
      "description": "Synthetic email integration that helps you validate deliverability SLAs by periodically sending canary messages.",
      "get": {
        "tags": [
          "ping_email",
          "channel/email"
        ],
        "summary": "List all Ping Email integrations",
        "description": "Retrieves the current Ping Email integration configurations for a specific integration type in the project. Returns configuration details and status information.",
        "operationId": "list_ping_email_integrations",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PingConfigCollection"
                }
              }
            }
          }
        },
        "x-magicbell-auth-jwt-type": "project",
        "x-meta": {
          "channel": "email",
          "displayName": "Ping Email",
          "name": "ping_email"
        }
      },
      "put": {
        "tags": [
          "ping_email",
          "channel/email"
        ],
        "summary": "Save a Ping Email integration",
        "description": "Updates or creates the Ping Email integration for the project.",
        "operationId": "save_ping_email_integration",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PingConfigPayload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PingConfigPayload"
                }
              }
            }
          }
        },
        "x-magicbell-auth-jwt-type": "project",
        "x-meta": {
          "channel": "email",
          "displayName": "Ping Email",
          "name": "ping_email"
        }
      },
      "delete": {
        "tags": [
          "ping_email",
          "channel/email"
        ],
        "summary": "Delete a Ping Email integration",
        "description": "Deletes the Ping Email integration configuration from the project. This will disable the integration's functionality within the project.",
        "operationId": "delete_ping_email_integration",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "the unique identifier of the integration to be deleted",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "x-magicbell-auth-jwt-type": "project",
        "x-meta": {
          "channel": "email",
          "displayName": "Ping Email",
          "name": "ping_email"
        }
      }
    },
    "/integrations/sendgrid": {
      "summary": "SendGrid email",
      "description": "Configure SendGrid credentials so MagicBell can fan out transactional emails with your templates and domain.",
      "get": {
        "tags": [
          "sendgrid",
          "channel/email"
        ],
        "summary": "List all SendGrid integrations",
        "description": "Retrieves the current SendGrid integration configurations for a specific integration type in the project. Returns configuration details and status information.",
        "operationId": "list_sendgrid_integrations",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SendgridConfigCollection"
                }
              }
            }
          }
        },
        "x-magicbell-auth-jwt-type": "project",
        "x-meta": {
          "channel": "email",
          "displayName": "SendGrid",
          "name": "sendgrid"
        }
      },
      "put": {
        "tags": [
          "sendgrid",
          "channel/email"
        ],
        "summary": "Save a SendGrid integration",
        "description": "Updates or creates the SendGrid integration for the project.",
        "operationId": "save_sendgrid_integration",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SendgridConfigPayload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SendgridConfigPayload"
                }
              }
            }
          }
        },
        "x-magicbell-auth-jwt-type": "project",
        "x-meta": {
          "channel": "email",
          "displayName": "SendGrid",
          "name": "sendgrid"
        }
      },
      "delete": {
        "tags": [
          "sendgrid",
          "channel/email"
        ],
        "summary": "Delete a SendGrid integration",
        "description": "Deletes the SendGrid integration configuration from the project. This will disable the integration's functionality within the project.",
        "operationId": "delete_sendgrid_integration",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "the unique identifier of the integration to be deleted",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "x-magicbell-auth-jwt-type": "project",
        "x-meta": {
          "channel": "email",
          "displayName": "SendGrid",
          "name": "sendgrid"
        }
      }
    },
    "/integrations/ses": {
      "summary": "Amazon SES",
      "description": "Integrate Amazon SES to reuse verified identities, bounce handling, and CloudWatch metrics.",
      "get": {
        "tags": [
          "ses",
          "channel/email"
        ],
        "summary": "List all Amazon SES integrations",
        "description": "Retrieves the current Amazon SES integration configurations for a specific integration type in the project. Returns configuration details and status information.",
        "operationId": "list_ses_integrations",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SESConfigCollection"
                }
              }
            }
          }
        },
        "x-magicbell-auth-jwt-type": "project",
        "x-meta": {
          "channel": "email",
          "displayName": "Amazon SES",
          "name": "ses"
        }
      },
      "put": {
        "tags": [
          "ses",
          "channel/email"
        ],
        "summary": "Save an Amazon SES integration",
        "description": "Updates or creates the Amazon SES integration for the project.",
        "operationId": "save_ses_integration",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SESConfigPayload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SESConfigPayload"
                }
              }
            }
          }
        },
        "x-magicbell-auth-jwt-type": "project",
        "x-meta": {
          "channel": "email",
          "displayName": "Amazon SES",
          "name": "ses"
        }
      },
      "delete": {
        "tags": [
          "ses",
          "channel/email"
        ],
        "summary": "Delete an Amazon SES integration",
        "description": "Deletes the Amazon SES integration configuration from the project. This will disable the integration's functionality within the project.",
        "operationId": "delete_ses_integration",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "the unique identifier of the integration to be deleted",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "x-magicbell-auth-jwt-type": "project",
        "x-meta": {
          "channel": "email",
          "displayName": "Amazon SES",
          "name": "ses"
        }
      }
    },
    "/integrations/slack": {
      "summary": "Slack workspace integration",
      "description": "Configure Slack so broadcasts can post rich updates into channels or DMs. The flow covers OAuth installation, workspace selection, and webhook delivery setup.",
      "get": {
        "tags": [
          "slack",
          "channel/slack"
        ],
        "summary": "List all Slack integrations",
        "description": "Retrieves the current Slack integration configurations for a specific integration type in the project. Returns configuration details and status information.",
        "operationId": "list_slack_integrations",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SlackConfigCollection"
                }
              }
            }
          }
        },
        "x-magicbell-auth-jwt-type": "project",
        "x-meta": {
          "channel": "slack",
          "displayName": "Slack",
          "name": "slack"
        }
      },
      "put": {
        "tags": [
          "slack",
          "channel/slack"
        ],
        "summary": "Save a Slack integration",
        "description": "Updates or creates the Slack integration for the project.",
        "operationId": "save_slack_integration",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SlackConfigPayload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SlackConfigPayload"
                }
              }
            }
          }
        },
        "x-magicbell-auth-jwt-type": "project",
        "x-meta": {
          "channel": "slack",
          "displayName": "Slack",
          "name": "slack"
        }
      },
      "delete": {
        "tags": [
          "slack",
          "channel/slack"
        ],
        "summary": "Delete a Slack integration",
        "description": "Deletes the Slack integration configuration from the project. This will disable the integration's functionality within the project.",
        "operationId": "delete_slack_integration",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "the unique identifier of the integration to be deleted",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "x-magicbell-auth-jwt-type": "project",
        "x-meta": {
          "channel": "slack",
          "displayName": "Slack",
          "name": "slack"
        }
      }
    },
    "/integrations/slack/installations": {
      "summary": "Installation flow",
      "description": "High-level entry point for integrations that require multi-step authorization.",
      "put": {
        "tags": [
          "slack"
        ],
        "summary": "Save a Slack installation",
        "description": "Creates a new installation of a Slack integration for a user. This endpoint is used when an integration needs to be set up with user-specific credentials or configuration.",
        "operationId": "save_slack_installation",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SlackInstallation"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SlackInstallation"
                }
              }
            }
          }
        },
        "x-magicbell-auth-jwt-type": "user"
      }
    },
    "/integrations/slack/installations/finish": {
      "summary": "Finish installation",
      "description": "Completes the installation handshake after the user authorizes access, persisting tokens and validating the external connection.",
      "post": {
        "tags": [
          "slack"
        ],
        "summary": "Finish a Slack installation",
        "description": "Completes the installation flow for the Slack integration. This endpoint is typically called after the user has completed any required authorization steps with Slack.",
        "operationId": "finish_slack_installation",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SlackFinishInstallResponse"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SlackInstallation"
                }
              }
            }
          }
        },
        "x-magicbell-auth-jwt-type": "user"
      }
    },
    "/integrations/slack/installations/start": {
      "summary": "Start installation",
      "description": "Begins the OAuth or credentials handshake for an integration, returning URLs or payloads needed to obtain user consent.",
      "post": {
        "tags": [
          "slack"
        ],
        "summary": "Start a Slack installation",
        "description": "Initiates the installation flow for a Slack integration. This is the first step in a multi-step installation process where user authorization or external service configuration may be required.",
        "operationId": "start_slack_installation",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SlackStartInstall"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SlackStartInstallResponseContent"
                }
              }
            }
          }
        },
        "x-forbid-unknown-cookie": true,
        "x-forbid-unknown-header": true,
        "x-forbid-unknown-path": true,
        "x-forbid-unknown-query": true,
        "x-magicbell-auth-jwt-type": "user"
      }
    },
    "/integrations/smtp": {
      "summary": "Custom SMTP",
      "description": "Bring any SMTP server for outbound email, ideal for on-prem or region-specific compliance.",
      "get": {
        "tags": [
          "smtp",
[...]
