{
  "openapi": "3.0.3",
  "info": {
    "version": "1.0.0",
    "title": "ASM API",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/asm-69b/ASM/1.0.0"
  },
  "servers": [
    {
      "url": "https://inasm.ru"
    }
  ],
  "tags": [
    {
      "name": "AsmPorts",
      "description": "\u041f\u043e\u0440\u0442\u044b"
    },
    {
      "name": "AsmPortVulnerabilities",
      "description": "\u0423\u044f\u0437\u0432\u0438\u043c\u043e\u0441\u0442\u0438"
    }
  ],
  "paths": {
    "/AsmPorts/list/": {
      "get": {
        "tags": [
          "AsmPorts"
        ],
        "summary": "\u041f\u043e\u043b\u0443\u0447\u0438\u0442\u044c \u0441\u043f\u0438\u0441\u043e\u043a",
        "parameters": [
          {
            "name": "api",
            "in": "query",
            "description": "\u041a\u043b\u044e\u0447",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "F[target]",
            "in": "query",
            "description": "\u0425\u043e\u0441\u0442",
            "schema": {
              "type": "string",
              "example": "domain.ru"
            }
          },
          {
            "name": "F[ip]",
            "in": "query",
            "description": "IP",
            "schema": {
              "type": "string",
              "example": "192.168.0.1"
            }
          },
          {
            "name": "F[port]",
            "in": "query",
            "description": "\u041f\u043e\u0440\u0442",
            "schema": {
              "type": "integer",
              "example": "443"
            }
          },
          {
            "name": "F[service]",
            "in": "query",
            "description": "\u041f\u0440\u043e\u0442\u043e\u043a\u043e\u043b",
            "schema": {
              "type": "string",
              "example": "https"
            }
          },
          {
            "name": "F[product]",
            "in": "query",
            "description": "\u0421\u0435\u0440\u0432\u0438\u0441",
            "schema": {
              "type": "string",
              "example": "nginx"
            }
          },
          {
            "name": "F[availability]",
            "in": "query",
            "description": "\u0414\u043e\u0441\u0442\u0443\u043f\u043d\u043e\u0441\u0442\u044c",
            "schema": {
              "type": "string",
              "enum": [
                "yes",
                "no"
              ]
            }
          },
          {
            "name": "F[discovered][from]",
            "in": "query",
            "description": "\u0414\u0430\u0442\u0430 \u043e\u0431\u043d\u0430\u0440\u0443\u0436\u0435\u043d\u0438\u044f - \u0421",
            "schema": {
              "type": "string",
              "example": "2023-06-03 14:59:32"
            }
          },
          {
            "name": "F[discovered][to]",
            "in": "query",
            "description": "\u0414\u0430\u0442\u0430 \u043e\u0431\u043d\u0430\u0440\u0443\u0436\u0435\u043d\u0438\u044f - \u0414\u043e",
            "schema": {
              "type": "string",
              "example": "2024-06-03 14:59:32"
            }
          },
          {
            "name": "F[updated][from]",
            "in": "query",
            "description": "\u0414\u0430\u0442\u0430 \u043e\u0431\u043d\u043e\u0432\u043b\u0435\u043d\u0438\u044f - \u0421",
            "schema": {
              "type": "string",
              "example": "2023-06-03 14:59:32"
            }
          },
          {
            "name": "F[updated][to]",
            "in": "query",
            "description": "\u0414\u0430\u0442\u0430 \u043e\u0431\u043d\u043e\u0432\u043b\u0435\u043d\u0438\u044f - \u0414\u043e",
            "schema": {
              "type": "string",
              "example": "2024-06-03 14:59:32"
            }
          },
          {
            "name": "F[status]",
            "in": "query",
            "description": "\u0421\u0442\u0430\u0442\u0443\u0441",
            "schema": {
              "type": "string",
              "enum": [
                "discovered",
                "approved",
                "in_progress",
                "high",
                "fixed"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "\u041e\u041a",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/AsmPortVulnerabilities/list/": {
      "get": {
        "tags": [
          "AsmPortVulnerabilities"
        ],
        "summary": "\u041f\u043e\u043b\u0443\u0447\u0438\u0442\u044c \u0441\u043f\u0438\u0441\u043e\u043a",
        "parameters": [
          {
            "name": "api",
            "in": "query",
            "description": "\u041a\u043b\u044e\u0447",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "F[target]",
            "in": "query",
            "description": "\u0425\u043e\u0441\u0442",
            "schema": {
              "type": "string",
              "example": "domain.ru"
            }
          },
          {
            "name": "F[ip]",
            "in": "query",
            "description": "IP",
            "schema": {
              "type": "string",
              "example": "192.168.0.1"
            }
          },
          {
            "name": "F[port]",
            "in": "query",
            "description": "\u041f\u043e\u0440\u0442",
            "schema": {
              "type": "integer",
              "example": "443"
            }
          },
          {
            "name": "F[service]",
            "in": "query",
            "description": "\u041f\u0440\u043e\u0442\u043e\u043a\u043e\u043b",
            "schema": {
              "type": "string",
              "example": "https"
            }
          },
          {
            "name": "F[cve]",
            "in": "query",
            "description": "CVE",
            "schema": {
              "type": "string",
              "example": "CVE-2024-2156"
            }
          },
          {
            "name": "F[exploited]",
            "in": "query",
            "description": "\u041d\u0430\u043b\u0438\u0447\u0438\u0435 \u044d\u043a\u0441\u043f\u043b\u043e\u0439\u0442\u0430",
            "schema": {
              "type": "string",
              "enum": [
                "yes",
                "no"
              ]
            }
          },
          {
            "name": "F[availability]",
            "in": "query",
            "description": "\u0414\u043e\u0441\u0442\u0443\u043f\u043d\u043e\u0441\u0442\u044c",
            "schema": {
              "type": "string",
              "enum": [
                "yes",
                "no"
              ]
            }
          },
          {
            "name": "F[verification]",
            "in": "query",
            "description": "\u0412\u0435\u0440\u0438\u0444\u0438\u043a\u0430\u0446\u0438\u044f",
            "schema": {
              "type": "string",
              "enum": [
                "yes",
                "no"
              ]
            }
          },
          {
            "name": "F[discovered][from]",
            "in": "query",
            "description": "\u0414\u0430\u0442\u0430 \u043e\u0431\u043d\u0430\u0440\u0443\u0436\u0435\u043d\u0438\u044f - \u0421",
            "schema": {
              "type": "string",
              "example": "2023-06-03 14:59:32"
            }
          },
          {
            "name": "F[discovered][to]",
            "in": "query",
            "description": "\u0414\u0430\u0442\u0430 \u043e\u0431\u043d\u0430\u0440\u0443\u0436\u0435\u043d\u0438\u044f - \u0414\u043e",
            "schema": {
              "type": "string",
              "example": "2024-06-03 14:59:32"
            }
          },
          {
            "name": "F[updated][from]",
            "in": "query",
            "description": "\u0414\u0430\u0442\u0430 \u043e\u0431\u043d\u043e\u0432\u043b\u0435\u043d\u0438\u044f - \u0421",
            "schema": {
              "type": "string",
              "example": "2023-06-03 14:59:32"
            }
          },
          {
            "name": "F[updated][to]",
            "in": "query",
            "description": "\u0414\u0430\u0442\u0430 \u043e\u0431\u043d\u043e\u0432\u043b\u0435\u043d\u0438\u044f - \u0414\u043e",
            "schema": {
              "type": "string",
              "example": "2024-06-03 14:59:32"
            }
          },
          {
            "name": "F[eliminated][from]",
            "in": "query",
            "description": "\u0414\u0430\u0442\u0430 \u0443\u0441\u0442\u0440\u0430\u043d\u0435\u043d\u0438\u044f - \u0421",
            "schema": {
              "type": "string",
              "example": "2023-06-03 14:59:32"
            }
          },
          {
            "name": "F[eliminated][to]",
            "in": "query",
            "description": "\u0414\u0430\u0442\u0430 \u0443\u0441\u0442\u0440\u0430\u043d\u0435\u043d\u0438\u044f - \u0414\u043e",
            "schema": {
              "type": "string",
              "example": "2024-06-03 14:59:32"
            }
          },
          {
            "name": "F[dangerousness][]",
            "in": "query",
            "description": "\u0423\u0440\u043e\u0432\u0435\u043d\u044c \u043e\u043f\u0430\u0441\u043d\u043e\u0441\u0442\u0438",
            "schema": {
              "type": "array",
              "minItems": 1,
              "items": {
                "type": "string",
                "enum": [
                  "unavailable",
                  "low",
                  "medium",
                  "high",
                  "critical"
                ]
              }
            }
          },
          {
            "name": "F[status]",
            "in": "query",
            "description": "\u0421\u0442\u0430\u0442\u0443\u0441",
            "schema": {
              "type": "string",
              "enum": [
                "discovered",
                "approved",
                "in_progress",
                "high",
                "fixed"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "\u041e\u041a",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    }
  }
}