{
  "openapi": "3.0.1",
  "info": {
    "title": "Some version",
    "version": "25_200_001",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/Acumatica_Inc/Default/25_200_001"
  },
  "servers": [
    {
      "url": "https://acudemos.us/acumaticaerp"
    }
  ],
  "paths": {
    "/entity/auth/login": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Logs in to the system.",
        "operationId": "Auth_Login",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Credentials"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Credentials"
              }
            }
          },
          "required": true,
          "x-bodyName": "credentials"
        },
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/entity/auth/logout": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Logs out from the system.",
        "operationId": "Auth_Logout",
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/entity": {
      "get": {
        "tags": [
          "Root"
        ],
        "summary": "Returns the version of the Acumatica ERP instance and the endpoints available in this instance.",
        "operationId": "Root_Get",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VersionAndEndpoints"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/VersionAndEndpoints"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Credentials": {
        "required": [
          "name",
          "password"
        ],
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "password": {
            "type": "string"
          },
          "company": {
            "type": "string",
            "nullable": true
          },
          "tenant": {
            "type": "string",
            "nullable": true
          },
          "branch": {
            "type": "string",
            "nullable": true
          },
          "locale": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "Endpoint": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "nullable": true
          },
          "version": {
            "type": "string",
            "nullable": true
          },
          "href": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "Version": {
        "type": "object",
        "properties": {
          "acumaticaBuildVersion": {
            "type": "string",
            "nullable": true
          },
          "oemBuildVersion": {
            "type": "string",
            "nullable": true
          },
          "databaseVersion": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "VersionAndEndpoints": {
        "type": "object",
        "properties": {
          "version": {
            "$ref": "#/components/schemas/Version"
          },
          "endpoints": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Endpoint"
            },
            "nullable": true
          }
        }
      }
    }
  }
}