{
  "openapi": "3.0.3",
  "info": {
    "title": "IBM X-Force Exchange API",
    "version": "1.0.0",
    "description": "IBM X-Force Exchange provides threat intelligence data including IP reputation, URL categorization, malware analysis, vulnerability information, and WHOIS data. Authenticate with API key and password via HTTP Basic Auth.",
    "x-jentic-source-url": "https://api.xforce.ibmcloud.com/doc/",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://api.xforce.ibmcloud.com"
    }
  ],
  "paths": {
    "/ipr/{ip}": {
      "get": {
        "operationId": "getIPReputation",
        "summary": "Get IP reputation",
        "description": "Returns threat intelligence report for an IP address including risk score, categories, and history.",
        "tags": [
          "IP Reputation"
        ],
        "parameters": [
          {
            "name": "ip",
            "in": "path",
            "description": "IPv4 or IPv6 address",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "IP reputation data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IPReport"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "IP not found"
          }
        }
      }
    },
    "/ipr/history/{ip}": {
      "get": {
        "operationId": "getIPReputationHistory",
        "summary": "Get IP reputation history",
        "description": "Returns historical threat intelligence for an IP address.",
        "tags": [
          "IP Reputation"
        ],
        "parameters": [
          {
            "name": "ip",
            "in": "path",
            "description": "IPv4 or IPv6 address",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "IP reputation history",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IPHistoryReport"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "IP not found"
          }
        }
      }
    },
    "/url/{url}": {
      "get": {
        "operationId": "getURLReport",
        "summary": "Get URL report",
        "description": "Returns categorization and risk information for a URL.",
        "tags": [
          "URL"
        ],
        "parameters": [
          {
            "name": "url",
            "in": "path",
            "description": "URL to look up",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "URL report",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/URLReport"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "URL not found"
          }
        }
      }
    },
    "/url/malware/{url}": {
      "get": {
        "operationId": "getURLMalware",
        "summary": "Get malware associated with URL",
        "description": "Returns malware information associated with a URL.",
        "tags": [
          "URL"
        ],
        "parameters": [
          {
            "name": "url",
            "in": "path",
            "description": "URL to look up",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Malware data for URL",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MalwareReport"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "URL not found"
          }
        }
      }
    },
    "/malware/{hash}": {
      "get": {
        "operationId": "getMalwareReport",
        "summary": "Get malware report by hash",
        "description": "Returns malware analysis report for a given file hash (MD5, SHA1, or SHA256).",
        "tags": [
          "Malware"
        ],
        "parameters": [
          {
            "name": "hash",
            "in": "path",
            "description": "File hash (MD5, SHA1, or SHA256)",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Malware analysis report",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MalwareReport"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Malware not found"
          }
        }
      }
    },
    "/vulnerabilities/{cve}": {
      "get": {
        "operationId": "getVulnerability",
        "summary": "Get vulnerability details",
        "description": "Returns detailed vulnerability information for a CVE ID.",
        "tags": [
          "Vulnerabilities"
        ],
        "parameters": [
          {
            "name": "cve",
            "in": "path",
            "description": "CVE ID (e.g. CVE-2021-44228)",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Vulnerability details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VulnerabilityReport"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "CVE not found"
          }
        }
      }
    },
    "/vulnerabilities/search/{query}": {
      "get": {
        "operationId": "searchVulnerabilities",
        "summary": "Search vulnerabilities",
        "description": "Search for vulnerabilities by keyword.",
        "tags": [
          "Vulnerabilities"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "path",
            "description": "Search query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "skip",
            "in": "query",
            "description": "Number of results to skip",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Max results to return",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Vulnerability search results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "total_rows": {
                      "type": "integer"
                    },
                    "rows": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/VulnerabilityReport"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/whois/{host}": {
      "get": {
        "operationId": "getWhois",
        "summary": "Get WHOIS data",
        "description": "Returns WHOIS registration data for a domain or IP.",
        "tags": [
          "WHOIS"
        ],
        "parameters": [
          {
            "name": "host",
            "in": "path",
            "description": "Domain or IP address",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "WHOIS data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WhoisReport"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/dns/{domain}": {
      "get": {
        "operationId": "getDNSRecords",
        "summary": "Get DNS records",
        "description": "Returns DNS information for a domain.",
        "tags": [
          "DNS"
        ],
        "parameters": [
          {
            "name": "domain",
            "in": "path",
            "description": "Domain name",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "DNS records",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DNSReport"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "IPReport": {
        "type": "object",
        "properties": {
          "ip": {
            "type": "string"
          },
          "score": {
            "type": "number",
            "description": "Risk score (1-10)"
          },
          "cats": {
            "type": "object",
            "additionalProperties": {
              "type": "integer"
            },
            "description": "Categories and their percentages"
          },
          "geo": {
            "type": "object",
            "properties": {
              "country": {
                "type": "string"
              },
              "countrycode": {
                "type": "string"
              }
            }
          },
          "subnets": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "subnet": {
                  "type": "string"
                },
                "ip": {
                  "type": "string"
                },
                "score": {
                  "type": "number"
                },
                "cats": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "integer"
                  }
                },
                "reason": {
                  "type": "string"
                },
                "created": {
                  "type": "string",
                  "format": "date-time"
                }
              }
            }
          }
        }
      },
      "IPHistoryReport": {
        "type": "object",
        "properties": {
          "ip": {
            "type": "string"
          },
          "history": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "created": {
                  "type": "string",
                  "format": "date-time"
                },
                "score": {
                  "type": "number"
                },
                "cats": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "integer"
                  }
                },
                "reason": {
                  "type": "string"
                },
                "reasonDescription": {
                  "type": "string"
                },
                "geo": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "URLReport": {
        "type": "object",
        "properties": {
          "result": {
            "type": "object",
            "properties": {
              "url": {
                "type": "string"
              },
              "cats": {
                "type": "object",
                "additionalProperties": {
                  "type": "boolean"
                }
              },
              "score": {
                "type": "number"
              }
            }
          }
        }
      },
      "MalwareReport": {
        "type": "object",
        "properties": {
          "malware": {
            "type": "object",
            "properties": {
              "hash": {
                "type": "string"
              },
              "type": {
                "type": "string"
              },
              "created": {
                "type": "string",
                "format": "date-time"
              },
              "family": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "risk": {
                "type": "string"
              },
              "mimetype": {
                "type": "string"
              }
            }
          }
        }
      },
      "VulnerabilityReport": {
        "type": "object",
        "properties": {
          "xfdbid": {
            "type": "integer"
          },
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "risk_level": {
            "type": "number"
          },
          "cvss": {
            "type": "object",
            "properties": {
              "version": {
                "type": "string"
              },
              "access_vector": {
                "type": "string"
              },
              "access_complexity": {
                "type": "string"
              },
              "score": {
                "type": "number"
              }
            }
          },
          "reported": {
            "type": "string",
            "format": "date-time"
          },
          "tagname": {
            "type": "string"
          },
          "stdcode": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "platforms_affected": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "references": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "link_target": {
                  "type": "string"
                },
                "description": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "WhoisReport": {
        "type": "object",
        "properties": {
          "host": {
            "type": "string"
          },
          "registrar": {
            "type": "string"
          },
          "createdDate": {
            "type": "string",
            "format": "date-time"
          },
          "updatedDate": {
            "type": "string",
            "format": "date-time"
          },
          "expiresDate": {
            "type": "string",
            "format": "date-time"
          },
          "contactEmail": {
            "type": "string"
          },
          "registrant": {
            "type": "object"
          }
        }
      },
      "DNSReport": {
        "type": "object",
        "properties": {
          "A": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "AAAA": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "MX": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "exchange": {
                  "type": "string"
                },
                "priority": {
                  "type": "integer"
                }
              }
            }
          },
          "TXT": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      }
    },
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "HTTP Basic Auth using API Key and Password from X-Force Exchange"
      }
    }
  },
  "security": [
    {
      "basicAuth": []
    }
  ],
  "tags": [
    {
      "name": "DNS"
    },
    {
      "name": "IP Reputation"
    },
    {
      "name": "Malware"
    },
    {
      "name": "URL"
    },
    {
      "name": "Vulnerabilities"
    },
    {
      "name": "WHOIS"
    }
  ]
}
