{
  "openapi": "3.0.3",
  "info": {
    "title": "Campaign Monitor API",
    "version": "3.3.0",
    "description": "Campaign Monitor API provides programmatic access to email marketing features including subscriber management, list management, campaign creation and sending, transactional email, and reporting.",
    "x-jentic-source-url": "https://www.campaignmonitor.com/api/",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://api.createsend.com/api/v3.3"
    }
  ],
  "security": [
    {
      "BasicAuth": []
    },
    {
      "OAuth2": []
    }
  ],
  "tags": [
    {
      "name": "Clients",
      "description": "Client management"
    },
    {
      "name": "Lists",
      "description": "Subscriber list management"
    },
    {
      "name": "Subscribers",
      "description": "Subscriber management"
    },
    {
      "name": "Campaigns",
      "description": "Campaign management"
    },
    {
      "name": "Segments",
      "description": "Segment management"
    },
    {
      "name": "Templates",
      "description": "Template management"
    },
    {
      "name": "Transactional",
      "description": "Transactional email"
    },
    {
      "name": "Account",
      "description": "Account settings"
    },
    {
      "name": "Journeys",
      "description": "Journey management"
    }
  ],
  "paths": {
    "/clients.json": {
      "get": {
        "operationId": "listClients",
        "summary": "List clients",
        "tags": [
          "Account"
        ],
        "responses": {
          "200": {
            "description": "List of clients",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ClientSummary"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "List clients"
      }
    },
    "/clients/{client_id}.json": {
      "get": {
        "operationId": "getClientDetails",
        "summary": "Get client details",
        "tags": [
          "Clients"
        ],
        "parameters": [
          {
            "name": "client_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Client details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Client"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get client details"
      },
      "delete": {
        "operationId": "deleteClient",
        "summary": "Delete a client",
        "tags": [
          "Clients"
        ],
        "parameters": [
          {
            "name": "client_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Delete a client"
      }
    },
    "/clients/{client_id}/lists.json": {
      "get": {
        "operationId": "getClientLists",
        "summary": "Get client subscriber lists",
        "tags": [
          "Clients"
        ],
        "parameters": [
          {
            "name": "client_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Client lists",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ListSummary"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get client subscriber lists"
      }
    },
    "/clients/{client_id}/campaigns.json": {
      "get": {
        "operationId": "getSentCampaigns",
        "summary": "Get sent campaigns",
        "tags": [
          "Clients"
        ],
        "parameters": [
          {
            "name": "client_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "pagesize",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "orderfield",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderdirection",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sent campaigns"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get sent campaigns"
      }
    },
    "/clients/{client_id}/drafts.json": {
      "get": {
        "operationId": "getDraftCampaigns",
        "summary": "Get draft campaigns",
        "tags": [
          "Clients"
        ],
        "parameters": [
          {
            "name": "client_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Draft campaigns"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get draft campaigns"
      }
    },
    "/clients/{client_id}/scheduled.json": {
      "get": {
        "operationId": "getScheduledCampaigns",
        "summary": "Get scheduled campaigns",
        "tags": [
          "Clients"
        ],
        "parameters": [
          {
            "name": "client_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Scheduled campaigns"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get scheduled campaigns"
      }
    },
    "/clients/{client_id}/segments.json": {
      "get": {
        "operationId": "getClientSegments",
        "summary": "Get client segments",
        "tags": [
          "Clients"
        ],
        "parameters": [
          {
            "name": "client_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Client segments"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get client segments"
      }
    },
    "/lists/{list_id}.json": {
      "get": {
        "operationId": "getListDetails",
        "summary": "Get list details",
        "tags": [
          "Lists"
        ],
        "parameters": [
          {
            "name": "list_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/List"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get list details"
      },
      "put": {
        "operationId": "updateList",
        "summary": "Update a list",
        "tags": [
          "Lists"
        ],
        "parameters": [
          {
            "name": "list_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "List updated"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Update a list"
      },
      "delete": {
        "operationId": "deleteList",
        "summary": "Delete a list",
        "tags": [
          "Lists"
        ],
        "parameters": [
          {
            "name": "list_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Delete a list"
      }
    },
    "/lists/{client_id}.json": {
      "post": {
        "operationId": "createList",
        "summary": "Create a list",
        "tags": [
          "Lists"
        ],
        "parameters": [
          {
            "name": "client_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "List created"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Create a list"
      }
    },
    "/lists/{list_id}/stats.json": {
      "get": {
        "operationId": "getListStats",
        "summary": "Get list statistics",
        "tags": [
          "Lists"
        ],
        "parameters": [
          {
            "name": "list_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List statistics"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get list statistics"
      }
    },
    "/lists/{list_id}/active.json": {
      "get": {
        "operationId": "getActiveSubscribers",
        "summary": "Get active subscribers",
        "tags": [
          "Lists"
        ],
        "parameters": [
          {
            "name": "list_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "date",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "pagesize",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "orderfield",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderdirection",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Active subscribers"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get active subscribers"
      }
    },
    "/lists/{list_id}/unsubscribed.json": {
      "get": {
        "operationId": "getUnsubscribedSubscribers",
        "summary": "Get unsubscribed subscribers",
        "tags": [
          "Lists"
        ],
        "parameters": [
          {
            "name": "list_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "date",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "pagesize",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Unsubscribed subscribers"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get unsubscribed subscribers"
      }
    },
    "/lists/{list_id}/bounced.json": {
      "get": {
        "operationId": "getBouncedSubscribers",
        "summary": "Get bounced subscribers",
        "tags": [
          "Lists"
        ],
        "parameters": [
          {
            "name": "list_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "date",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "pagesize",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Bounced subscribers"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get bounced subscribers"
      }
    },
    "/subscribers/{list_id}.json": {
      "get": {
        "operationId": "getSubscriber",
        "summary": "Get subscriber details",
        "tags": [
          "Subscribers"
        ],
        "parameters": [
          {
            "name": "list_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "email",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Subscriber details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Subscriber"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get subscriber details"
      },
      "post": {
        "operationId": "addSubscriber",
        "summary": "Add a subscriber",
        "tags": [
          "Subscribers"
        ],
        "parameters": [
          {
            "name": "list_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SubscriberInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Subscriber added"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Add a subscriber"
      }
    },
    "/subscribers/{list_id}/import.json": {
      "post": {
        "operationId": "importSubscribers",
        "summary": "Import many subscribers",
        "tags": [
          "Subscribers"
        ],
        "parameters": [
          {
            "name": "list_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SubscriberImport"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Import results"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Import many subscribers"
      }
    },
    "/subscribers/{list_id}/unsubscribe.json": {
      "post": {
        "operationId": "unsubscribeSubscriber",
        "summary": "Unsubscribe a subscriber",
        "tags": [
          "Subscribers"
        ],
        "parameters": [
          {
            "name": "list_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "EmailAddress"
                ],
                "properties": {
                  "EmailAddress": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Subscriber unsubscribed"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Unsubscribe a subscriber"
      }
    },
    "/subscribers/{list_id}.json?email={email}": {
      "delete": {
        "operationId": "deleteSubscriber",
        "summary": "Delete a subscriber",
        "tags": [
          "Subscribers"
        ],
        "parameters": [
          {
            "name": "list_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "email",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "email",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Delete a subscriber"
      }
    },
    "/campaigns/{campaign_id}/send.json": {
      "post": {
        "operationId": "sendCampaign",
        "summary": "Send a campaign",
        "tags": [
          "Campaigns"
        ],
        "parameters": [
          {
            "name": "campaign_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CampaignSend"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Campaign sent"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Send a campaign"
      }
    },
    "/campaigns/{campaign_id}/summary.json": {
      "get": {
        "operationId": "getCampaignSummary",
        "summary": "Get campaign summary",
        "tags": [
          "Campaigns"
        ],
        "parameters": [
          {
            "name": "campaign_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Campaign summary"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get campaign summary"
      }
    },
    "/campaigns/{campaign_id}/opens.json": {
      "get": {
        "operationId": "getCampaignOpens",
        "summary": "Get campaign opens",
        "tags": [
          "Campaigns"
        ],
        "parameters": [
          {
            "name": "campaign_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "date",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "pagesize",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Campaign opens"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get campaign opens"
      }
    },
    "/campaigns/{campaign_id}/clicks.json": {
      "get": {
        "operationId": "getCampaignClicks",
        "summary": "Get campaign clicks",
        "tags": [
          "Campaigns"
        ],
        "parameters": [
          {
            "name": "campaign_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "date",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "pagesize",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Campaign clicks"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get campaign clicks"
      }
    },
    "/campaigns/{campaign_id}/bounces.json": {
      "get": {
        "operationId": "getCampaignBounces",
        "summary": "Get campaign bounces",
        "tags": [
          "Campaigns"
        ],
        "parameters": [
          {
            "name": "campaign_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "date",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Campaign bounces"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get campaign bounces"
      }
    },
    "/campaigns/{campaign_id}/unsubscribes.json": {
      "get": {
        "operationId": "getCampaignUnsubscribes",
        "summary": "Get campaign unsubscribes",
        "tags": [
          "Campaigns"
        ],
        "parameters": [
          {
            "name": "campaign_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "date",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Campaign unsubscribes"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get campaign unsubscribes"
      }
    },
    "/campaigns/{client_id}.json": {
      "post": {
        "operationId": "createCampaignDraft",
        "summary": "Create a campaign draft",
        "tags": [
          "Campaigns"
        ],
        "parameters": [
          {
            "name": "client_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CampaignInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Campaign draft created"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Create a campaign draft"
      }
    },
    "/campaigns/{campaign_id}.json": {
      "delete": {
        "operationId": "deleteCampaign",
        "summary": "Delete a campaign",
        "tags": [
          "Campaigns"
        ],
        "parameters": [
          {
            "name": "campaign_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Delete a campaign"
      }
    },
    "/segments/{segment_id}.json": {
      "get": {
        "operationId": "getSegmentDetails",
        "summary": "Get segment details",
        "tags": [
          "Segments"
        ],
        "parameters": [
          {
            "name": "segment_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Segment details"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get segment details"
      },
      "delete": {
        "operationId": "deleteSegment",
        "summary": "Delete a segment",
        "tags": [
          "Segments"
        ],
        "parameters": [
          {
            "name": "segment_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Delete a segment"
      }
    },
    "/segments/{segment_id}/active.json": {
      "get": {
        "operationId": "getSegmentSubscribers",
        "summary": "Get active subscribers in segment",
        "tags": [
          "Segments"
        ],
        "parameters": [
          {
            "name": "segment_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "date",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "pagesize",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Segment subscribers"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get active subscribers in segment"
      }
    },
    "/templates/{template_id}.json": {
      "get": {
        "operationId": "getTemplateDetails",
        "summary": "Get template details",
        "tags": [
          "Templates"
        ],
        "parameters": [
          {
            "name": "template_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Template details"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get template details"
      },
      "delete": {
        "operationId": "deleteTemplate",
        "summary": "Delete a template",
        "tags": [
          "Templates"
        ],
        "parameters": [
          {
            "name": "template_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Delete a template"
      }
    },
    "/transactional/smartemail/{smart_email_id}/send": {
      "post": {
        "operationId": "sendSmartEmail",
        "summary": "Send a smart transactional email",
        "tags": [
          "Transactional"
        ],
        "parameters": [
          {
            "name": "smart_email_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SmartEmailSend"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Smart email sent"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Send a smart transactional email"
      }
    },
    "/transactional/classicemail/send": {
      "post": {
        "operationId": "sendClassicEmail",
        "summary": "Send a classic transactional email",
        "tags": [
          "Transactional"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ClassicEmailSend"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Classic email sent"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Send a classic transactional email"
      }
    },
    "/systemdate.json": {
      "get": {
        "operationId": "getSystemDate",
        "summary": "Get system date",
        "tags": [
          "Account"
        ],
        "responses": {
          "200": {
            "description": "System date"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get system date"
      }
    },
    "/primarycontact.json": {
      "get": {
        "operationId": "getPrimaryContact",
        "summary": "Get primary contact",
        "tags": [
          "Account"
        ],
        "responses": {
          "200": {
            "description": "Primary contact details"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get primary contact"
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BasicAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "API key as username, no password. Or use OAuth token as username."
      },
      "OAuth2": {
        "type": "oauth2",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://api.createsend.com/oauth",
            "tokenUrl": "https://api.createsend.com/oauth/token",
            "scopes": {}
          }
        }
      }
    },
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "Code": {
            "type": "integer"
          },
          "Message": {
            "type": "string"
          }
        }
      },
      "ClientSummary": {
        "type": "object",
        "properties": {
          "ClientID": {
            "type": "string"
          },
          "Name": {
            "type": "string"
          }
        }
      },
      "Client": {
        "type": "object",
        "properties": {
          "ApiKey": {
            "type": "string"
          },
          "BasicDetails": {
            "type": "object",
            "properties": {
              "ClientID": {
                "type": "string"
              },
              "CompanyName": {
                "type": "string"
              },
              "ContactName": {
                "type": "string"
              },
              "EmailAddress": {
                "type": "string"
              },
              "Country": {
                "type": "string"
              },
              "TimeZone": {
                "type": "string"
              }
            }
          }
        }
      },
      "ListSummary": {
        "type": "object",
        "properties": {
          "ListID": {
            "type": "string"
          },
          "Name": {
            "type": "string"
          }
        }
      },
      "List": {
        "type": "object",
        "properties": {
          "ListID": {
            "type": "string"
          },
          "Title": {
            "type": "string"
          },
          "UnsubscribePage": {
            "type": "string"
          },
          "UnsubscribeSetting": {
            "type": "string"
          },
          "ConfirmedOptIn": {
            "type": "boolean"
          },
          "ConfirmationSuccessPage": {
            "type": "string"
          }
        }
      },
      "ListInput": {
        "type": "object",
        "required": [
          "Title"
        ],
        "properties": {
          "Title": {
            "type": "string"
          },
          "UnsubscribePage": {
            "type": "string"
          },
          "UnsubscribeSetting": {
            "type": "string"
          },
          "ConfirmedOptIn": {
            "type": "boolean"
          },
          "ConfirmationSuccessPage": {
            "type": "string"
          }
        }
      },
      "Subscriber": {
        "type": "object",
        "properties": {
          "EmailAddress": {
            "type": "string"
          },
          "Name": {
            "type": "string"
          },
          "Date": {
            "type": "string"
          },
          "State": {
            "type": "string"
          },
          "CustomFields": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "Key": {
                  "type": "string"
                },
                "Value": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "SubscriberInput": {
        "type": "object",
        "required": [
          "EmailAddress"
        ],
        "properties": {
          "EmailAddress": {
            "type": "string"
          },
          "Name": {
            "type": "string"
          },
          "CustomFields": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "Key": {
                  "type": "string"
                },
                "Value": {
                  "type": "string"
                }
              }
            }
          },
          "Resubscribe": {
            "type": "boolean"
          },
          "ConsentToTrack": {
            "type": "string",
            "enum": [
              "Yes",
              "No",
              "Unchanged"
            ]
          }
        }
      },
      "SubscriberImport": {
        "type": "object",
        "required": [
          "Subscribers"
        ],
        "properties": {
          "Subscribers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SubscriberInput"
            }
          },
          "Resubscribe": {
            "type": "boolean"
          },
          "QueueSubscriptionBasedAutoResponders": {
            "type": "boolean"
          },
          "RestartSubscriptionBasedAutoresponders": {
            "type": "boolean"
          }
        }
      },
      "CampaignInput": {
        "type": "object",
        "required": [
          "Name",
          "Subject",
          "FromName",
          "FromEmail",
          "ReplyTo",
          "ListIDs"
        ],
        "properties": {
          "Name": {
            "type": "string"
          },
          "Subject": {
            "type": "string"
          },
          "FromName": {
            "type": "string"
          },
          "FromEmail": {
            "type": "string"
          },
          "ReplyTo": {
            "type": "string"
          },
          "HtmlUrl": {
            "type": "string"
          },
          "TextUrl": {
            "type": "string"
          },
          "ListIDs": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "SegmentIDs": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "CampaignSend": {
        "type": "object",
        "required": [
          "ConfirmationEmail",
          "SendDate"
        ],
        "properties": {
          "ConfirmationEmail": {
            "type": "string"
          },
          "SendDate": {
            "type": "string"
          }
        }
      },
      "SmartEmailSend": {
        "type": "object",
        "required": [
          "To"
        ],
        "properties": {
          "To": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "CC": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "BCC": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "Data": {
            "type": "object"
          },
          "ConsentToTrack": {
            "type": "string"
          },
          "AddRecipientsToList": {
            "type": "boolean"
          }
        }
      },
      "ClassicEmailSend": {
        "type": "object",
        "required": [
          "Subject",
          "From",
          "To"
        ],
        "properties": {
          "Subject": {
            "type": "string"
          },
          "From": {
            "type": "string"
          },
          "ReplyTo": {
            "type": "string"
          },
          "To": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "CC": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "BCC": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "Html": {
            "type": "string"
          },
          "Text": {
            "type": "string"
          },
          "ConsentToTrack": {
            "type": "string"
          }
        }
      }
    }
  }
}
