{
  "openapi": "3.0.3",
  "info": {
    "title": "Namecheap API",
    "version": "1.0.0",
    "description": "Namecheap domain registration and management XML API. All requests go to a single endpoint with a Command parameter. Supports domain registration, DNS management, SSL certificates, transfers, and user management. Responses are in XML format.",
    "x-jentic-source-url": "https://www.namecheap.com/support/api/intro/",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://api.namecheap.com",
      "description": "Production"
    },
    {
      "url": "https://api.sandbox.namecheap.com",
      "description": "Sandbox"
    }
  ],
  "tags": [
    {
      "name": "Domains",
      "description": "Domain registration and management"
    },
    {
      "name": "DNS",
      "description": "DNS record management"
    },
    {
      "name": "Nameservers",
      "description": "Custom nameserver management"
    },
    {
      "name": "Transfers",
      "description": "Domain transfer operations"
    },
    {
      "name": "SSL",
      "description": "SSL certificate management"
    },
    {
      "name": "Users",
      "description": "User account management"
    },
    {
      "name": "WhoisGuard",
      "description": "WhoisGuard privacy protection"
    }
  ],
  "paths": {
    "/xml.response?Command=namecheap.domains.getList": {
      "get": {
        "operationId": "domains_getList",
        "summary": "List domains",
        "description": "Namecheap API command: namecheap.domains.getList",
        "tags": [
          "Domains"
        ],
        "parameters": [
          {
            "name": "ApiUser",
            "in": "query",
            "required": false,
            "description": "Username for API authentication",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ApiKey",
            "in": "query",
            "required": false,
            "description": "API key for authentication",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "UserName",
            "in": "query",
            "required": false,
            "description": "Username (same as ApiUser for most users)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ClientIp",
            "in": "query",
            "required": false,
            "description": "Client IP address for whitelisting",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "XML response",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/xml.response?Command=namecheap.domains.getContacts": {
      "get": {
        "operationId": "domains_getContacts",
        "summary": "Get domain contacts",
        "description": "Namecheap API command: namecheap.domains.getContacts",
        "tags": [
          "Domains"
        ],
        "parameters": [
          {
            "name": "ApiUser",
            "in": "query",
            "required": false,
            "description": "Username for API authentication",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ApiKey",
            "in": "query",
            "required": false,
            "description": "API key for authentication",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "UserName",
            "in": "query",
            "required": false,
            "description": "Username (same as ApiUser for most users)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ClientIp",
            "in": "query",
            "required": false,
            "description": "Client IP address for whitelisting",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "XML response",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/xml.response?Command=namecheap.domains.create": {
      "post": {
        "operationId": "domains_create",
        "summary": "Register a domain",
        "description": "Namecheap API command: namecheap.domains.create",
        "tags": [
          "Domains"
        ],
        "parameters": [
          {
            "name": "ApiUser",
            "in": "query",
            "required": false,
            "description": "Username for API authentication",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ApiKey",
            "in": "query",
            "required": false,
            "description": "API key for authentication",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "UserName",
            "in": "query",
            "required": false,
            "description": "Username (same as ApiUser for most users)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ClientIp",
            "in": "query",
            "required": false,
            "description": "Client IP address for whitelisting",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "XML response",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/xml.response?Command=namecheap.domains.getTldList": {
      "get": {
        "operationId": "domains_getTldList",
        "summary": "Get TLD list",
        "description": "Namecheap API command: namecheap.domains.getTldList",
        "tags": [
          "Domains"
        ],
        "parameters": [
          {
            "name": "ApiUser",
            "in": "query",
            "required": false,
            "description": "Username for API authentication",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ApiKey",
            "in": "query",
            "required": false,
            "description": "API key for authentication",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "UserName",
            "in": "query",
            "required": false,
            "description": "Username (same as ApiUser for most users)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ClientIp",
            "in": "query",
            "required": false,
            "description": "Client IP address for whitelisting",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "XML response",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/xml.response?Command=namecheap.domains.setContacts": {
      "post": {
        "operationId": "domains_setContacts",
        "summary": "Set domain contacts",
        "description": "Namecheap API command: namecheap.domains.setContacts",
        "tags": [
          "Domains"
        ],
        "parameters": [
          {
            "name": "ApiUser",
            "in": "query",
            "required": false,
            "description": "Username for API authentication",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ApiKey",
            "in": "query",
            "required": false,
            "description": "API key for authentication",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "UserName",
            "in": "query",
            "required": false,
            "description": "Username (same as ApiUser for most users)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ClientIp",
            "in": "query",
            "required": false,
            "description": "Client IP address for whitelisting",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "XML response",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/xml.response?Command=namecheap.domains.check": {
      "get": {
        "operationId": "domains_check",
        "summary": "Check domain availability",
        "description": "Namecheap API command: namecheap.domains.check",
        "tags": [
          "Domains"
        ],
        "parameters": [
          {
            "name": "ApiUser",
            "in": "query",
            "required": false,
            "description": "Username for API authentication",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ApiKey",
            "in": "query",
            "required": false,
            "description": "API key for authentication",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "UserName",
            "in": "query",
            "required": false,
            "description": "Username (same as ApiUser for most users)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ClientIp",
            "in": "query",
            "required": false,
            "description": "Client IP address for whitelisting",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "XML response",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/xml.response?Command=namecheap.domains.reactivate": {
      "post": {
        "operationId": "domains_reactivate",
        "summary": "Reactivate expired domain",
        "description": "Namecheap API command: namecheap.domains.reactivate",
        "tags": [
          "Domains"
        ],
        "parameters": [
          {
            "name": "ApiUser",
            "in": "query",
            "required": false,
            "description": "Username for API authentication",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ApiKey",
            "in": "query",
            "required": false,
            "description": "API key for authentication",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "UserName",
            "in": "query",
            "required": false,
            "description": "Username (same as ApiUser for most users)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ClientIp",
            "in": "query",
            "required": false,
            "description": "Client IP address for whitelisting",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "XML response",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/xml.response?Command=namecheap.domains.renew": {
      "post": {
        "operationId": "domains_renew",
        "summary": "Renew a domain",
        "description": "Namecheap API command: namecheap.domains.renew",
        "tags": [
          "Domains"
        ],
        "parameters": [
          {
            "name": "ApiUser",
            "in": "query",
            "required": false,
            "description": "Username for API authentication",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ApiKey",
            "in": "query",
            "required": false,
            "description": "API key for authentication",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "UserName",
            "in": "query",
            "required": false,
            "description": "Username (same as ApiUser for most users)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ClientIp",
            "in": "query",
            "required": false,
            "description": "Client IP address for whitelisting",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "XML response",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/xml.response?Command=namecheap.domains.getRegistrarLock": {
      "get": {
        "operationId": "domains_getRegistrarLock",
        "summary": "Get registrar lock status",
        "description": "Namecheap API command: namecheap.domains.getRegistrarLock",
        "tags": [
          "Domains"
        ],
        "parameters": [
          {
            "name": "ApiUser",
            "in": "query",
            "required": false,
            "description": "Username for API authentication",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ApiKey",
            "in": "query",
            "required": false,
            "description": "API key for authentication",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "UserName",
            "in": "query",
            "required": false,
            "description": "Username (same as ApiUser for most users)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ClientIp",
            "in": "query",
            "required": false,
            "description": "Client IP address for whitelisting",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "XML response",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/xml.response?Command=namecheap.domains.setRegistrarLock": {
      "post": {
        "operationId": "domains_setRegistrarLock",
        "summary": "Set registrar lock",
        "description": "Namecheap API command: namecheap.domains.setRegistrarLock",
        "tags": [
          "Domains"
        ],
        "parameters": [
          {
            "name": "ApiUser",
            "in": "query",
            "required": false,
            "description": "Username for API authentication",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ApiKey",
            "in": "query",
            "required": false,
            "description": "API key for authentication",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "UserName",
            "in": "query",
            "required": false,
            "description": "Username (same as ApiUser for most users)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ClientIp",
            "in": "query",
            "required": false,
            "description": "Client IP address for whitelisting",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "XML response",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/xml.response?Command=namecheap.domains.getInfo": {
      "get": {
        "operationId": "domains_getInfo",
        "summary": "Get domain info",
        "description": "Namecheap API command: namecheap.domains.getInfo",
        "tags": [
          "Domains"
        ],
        "parameters": [
          {
            "name": "ApiUser",
            "in": "query",
            "required": false,
            "description": "Username for API authentication",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ApiKey",
            "in": "query",
            "required": false,
            "description": "API key for authentication",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "UserName",
            "in": "query",
            "required": false,
            "description": "Username (same as ApiUser for most users)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ClientIp",
            "in": "query",
            "required": false,
            "description": "Client IP address for whitelisting",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "XML response",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/xml.response?Command=namecheap.domains.dns.setDefault": {
      "post": {
        "operationId": "domains_dns_setDefault",
        "summary": "Set default DNS",
        "description": "Namecheap API command: namecheap.domains.dns.setDefault",
        "tags": [
          "DNS"
        ],
        "parameters": [
          {
            "name": "ApiUser",
            "in": "query",
            "required": false,
            "description": "Username for API authentication",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ApiKey",
            "in": "query",
            "required": false,
            "description": "API key for authentication",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "UserName",
            "in": "query",
            "required": false,
            "description": "Username (same as ApiUser for most users)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ClientIp",
            "in": "query",
            "required": false,
            "description": "Client IP address for whitelisting",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "XML response",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/xml.response?Command=namecheap.domains.dns.setCustom": {
      "post": {
        "operationId": "domains_dns_setCustom",
        "summary": "Set custom DNS servers",
        "description": "Namecheap API command: namecheap.domains.dns.setCustom",
        "tags": [
          "DNS"
        ],
        "parameters": [
          {
            "name": "ApiUser",
            "in": "query",
            "required": false,
            "description": "Username for API authentication",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ApiKey",
            "in": "query",
            "required": false,
            "description": "API key for authentication",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "UserName",
            "in": "query",
            "required": false,
            "description": "Username (same as ApiUser for most users)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ClientIp",
            "in": "query",
            "required": false,
            "description": "Client IP address for whitelisting",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "XML response",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/xml.response?Command=namecheap.domains.dns.getList": {
      "get": {
        "operationId": "domains_dns_getList",
        "summary": "Get DNS server list",
        "description": "Namecheap API command: namecheap.domains.dns.getList",
        "tags": [
          "DNS"
        ],
        "parameters": [
          {
            "name": "ApiUser",
            "in": "query",
            "required": false,
            "description": "Username for API authentication",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ApiKey",
            "in": "query",
            "required": false,
            "description": "API key for authentication",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "UserName",
            "in": "query",
            "required": false,
            "description": "Username (same as ApiUser for most users)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ClientIp",
            "in": "query",
            "required": false,
            "description": "Client IP address for whitelisting",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "XML response",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/xml.response?Command=namecheap.domains.dns.getHosts": {
      "get": {
        "operationId": "domains_dns_getHosts",
        "summary": "Get DNS host records",
        "description": "Namecheap API command: namecheap.domains.dns.getHosts",
        "tags": [
          "DNS"
        ],
        "parameters": [
          {
            "name": "ApiUser",
            "in": "query",
            "required": false,
            "description": "Username for API authentication",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ApiKey",
            "in": "query",
            "required": false,
            "description": "API key for authentication",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "UserName",
            "in": "query",
            "required": false,
            "description": "Username (same as ApiUser for most users)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ClientIp",
            "in": "query",
            "required": false,
            "description": "Client IP address for whitelisting",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "XML response",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/xml.response?Command=namecheap.domains.dns.getEmailForwarding": {
      "get": {
        "operationId": "domains_dns_getEmailForwarding",
        "summary": "Get email forwarding",
        "description": "Namecheap API command: namecheap.domains.dns.getEmailForwarding",
        "tags": [
          "DNS"
        ],
        "parameters": [
          {
            "name": "ApiUser",
            "in": "query",
            "required": false,
            "description": "Username for API authentication",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ApiKey",
            "in": "query",
            "required": false,
            "description": "API key for authentication",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "UserName",
            "in": "query",
            "required": false,
            "description": "Username (same as ApiUser for most users)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ClientIp",
            "in": "query",
            "required": false,
            "description": "Client IP address for whitelisting",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "XML response",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/xml.response?Command=namecheap.domains.dns.setEmailForwarding": {
      "post": {
        "operationId": "domains_dns_setEmailForwarding",
        "summary": "Set email forwarding",
        "description": "Namecheap API command: namecheap.domains.dns.setEmailForwarding",
        "tags": [
          "DNS"
        ],
        "parameters": [
          {
            "name": "ApiUser",
            "in": "query",
            "required": false,
            "description": "Username for API authentication",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ApiKey",
            "in": "query",
            "required": false,
            "description": "API key for authentication",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "UserName",
            "in": "query",
            "required": false,
            "description": "Username (same as ApiUser for most users)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ClientIp",
            "in": "query",
            "required": false,
            "description": "Client IP address for whitelisting",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "XML response",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/xml.response?Command=namecheap.domains.dns.setHosts": {
      "post": {
        "operationId": "domains_dns_setHosts",
        "summary": "Set DNS host records",
        "description": "Namecheap API command: namecheap.domains.dns.setHosts",
        "tags": [
          "DNS"
        ],
        "parameters": [
          {
            "name": "ApiUser",
            "in": "query",
            "required": false,
            "description": "Username for API authentication",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ApiKey",
            "in": "query",
            "required": false,
            "description": "API key for authentication",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "UserName",
            "in": "query",
            "required": false,
            "description": "Username (same as ApiUser for most users)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ClientIp",
            "in": "query",
            "required": false,
            "description": "Client IP address for whitelisting",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "XML response",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/xml.response?Command=namecheap.domains.ns.create": {
      "post": {
        "operationId": "domains_ns_create",
        "summary": "Create nameserver",
        "description": "Namecheap API command: namecheap.domains.ns.create",
        "tags": [
          "Nameservers"
        ],
        "parameters": [
          {
            "name": "ApiUser",
            "in": "query",
            "required": false,
            "description": "Username for API authentication",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ApiKey",
            "in": "query",
            "required": false,
            "description": "API key for authentication",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "UserName",
            "in": "query",
            "required": false,
            "description": "Username (same as ApiUser for most users)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ClientIp",
            "in": "query",
            "required": false,
            "description": "Client IP address for whitelisting",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "XML response",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/xml.response?Command=namecheap.domains.ns.delete": {
      "post": {
        "operationId": "domains_ns_delete",
        "summary": "Delete nameserver",
        "description": "Namecheap API command: namecheap.domains.ns.delete",
        "tags": [
          "Nameservers"
        ],
        "parameters": [
          {
            "name": "ApiUser",
            "in": "query",
            "required": false,
            "description": "Username for API authentication",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ApiKey",
            "in": "query",
            "required": false,
            "description": "API key for authentication",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "UserName",
            "in": "query",
            "required": false,
            "description": "Username (same as ApiUser for most users)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ClientIp",
            "in": "query",
            "required": false,
            "description": "Client IP address for whitelisting",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "XML response",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/xml.response?Command=namecheap.domains.ns.getInfo": {
      "get": {
        "operationId": "domains_ns_getInfo",
        "summary": "Get nameserver info",
        "description": "Namecheap API command: namecheap.domains.ns.getInfo",
        "tags": [
          "Nameservers"
        ],
        "parameters": [
          {
            "name": "ApiUser",
            "in": "query",
            "required": false,
            "description": "Username for API authentication",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ApiKey",
            "in": "query",
            "required": false,
            "description": "API key for authentication",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "UserName",
            "in": "query",
            "required": false,
            "description": "Username (same as ApiUser for most users)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ClientIp",
            "in": "query",
            "required": false,
            "description": "Client IP address for whitelisting",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "XML response",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/xml.response?Command=namecheap.domains.ns.update": {
      "post": {
        "operationId": "domains_ns_update",
        "summary": "Update nameserver",
        "description": "Namecheap API command: namecheap.domains.ns.update",
        "tags": [
          "Nameservers"
        ],
        "parameters": [
          {
            "name": "ApiUser",
            "in": "query",
            "required": false,
            "description": "Username for API authentication",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ApiKey",
            "in": "query",
            "required": false,
            "description": "API key for authentication",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "UserName",
            "in": "query",
            "required": false,
            "description": "Username (same as ApiUser for most users)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ClientIp",
            "in": "query",
            "required": false,
            "description": "Client IP address for whitelisting",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "XML response",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/xml.response?Command=namecheap.domains.transfer.create": {
      "post": {
        "operationId": "domains_transfer_create",
        "summary": "Create domain transfer",
        "description": "Namecheap API command: namecheap.domains.transfer.create",
        "tags": [
          "Transfers"
        ],
        "parameters": [
          {
            "name": "ApiUser",
            "in": "query",
            "required": false,
            "description": "Username for API authentication",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ApiKey",
            "in": "query",
            "required": false,
            "description": "API key for authentication",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "UserName",
            "in": "query",
            "required": false,
            "description": "Username (same as ApiUser for most users)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ClientIp",
            "in": "query",
            "required": false,
            "description": "Client IP address for whitelisting",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "XML response",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/xml.response?Command=namecheap.domains.transfer.getStatus": {
      "get": {
        "operationId": "domains_transfer_getStatus",
        "summary": "Get transfer status",
        "description": "Namecheap API command: namecheap.domains.transfer.getStatus",
        "tags": [
          "Transfers"
        ],
        "parameters": [
          {
            "name": "ApiUser",
            "in": "query",
            "required": false,
            "description": "Username for API authentication",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ApiKey",
            "in": "query",
            "required": false,
            "description": "API key for authentication",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "UserName",
            "in": "query",
            "required": false,
            "description": "Username (same as ApiUser for most users)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ClientIp",
            "in": "query",
            "required": false,
            "description": "Client IP address for whitelisting",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "XML response",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/xml.response?Command=namecheap.domains.transfer.updateStatus": {
      "post": {
        "operationId": "domains_transfer_updateStatus",
        "summary": "Update transfer status",
        "description": "Namecheap API command: namecheap.domains.transfer.updateStatus",
        "tags": [
          "Transfers"
        ],
        "parameters": [
          {
            "name": "ApiUser",
            "in": "query",
            "required": false,
            "description": "Username for API authentication",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ApiKey",
            "in": "query",
            "required": false,
            "description": "API key for authentication",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "UserName",
            "in": "query",
            "required": false,
            "description": "Username (same as ApiUser for most users)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ClientIp",
            "in": "query",
            "required": false,
            "description": "Client IP address for whitelisting",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "XML response",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/xml.response?Command=namecheap.domains.transfer.getList": {
      "get": {
        "operationId": "domains_transfer_getList",
        "summary": "List domain transfers",
        "description": "Namecheap API command: namecheap.domains.transfer.getList",
        "tags": [
          "Transfers"
        ],
        "parameters": [
          {
            "name": "ApiUser",
            "in": "query",
            "required": false,
            "description": "Username for API authentication",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ApiKey",
            "in": "query",
            "required": false,
            "description": "API key for authentication",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "UserName",
            "in": "query",
            "required": false,
            "description": "Username (same as ApiUser for most users)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ClientIp",
            "in": "query",
            "required": false,
            "description": "Client IP address for whitelisting",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "XML response",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/xml.response?Command=namecheap.ssl.create": {
      "post": {
        "operationId": "ssl_create",
        "summary": "Create SSL certificate",
        "description": "Namecheap API command: namecheap.ssl.create",
        "tags": [
          "SSL"
        ],
        "parameters": [
          {
            "name": "ApiUser",
            "in": "query",
            "required": false,
            "description": "Username for API authentication",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ApiKey",
            "in": "query",
            "required": false,
            "description": "API key for authentication",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "UserName",
            "in": "query",
            "required": false,
            "description": "Username (same as ApiUser for most users)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ClientIp",
            "in": "query",
            "required": false,
            "description": "Client IP address for whitelisting",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "XML response",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/xml.response?Command=namecheap.ssl.getList": {
      "get": {
        "operationId": "ssl_getList",
        "summary": "List SSL certificates",
        "description": "Namecheap API command: namecheap.ssl.getList",
        "tags": [
          "SSL"
        ],
        "parameters": [
          {
            "name": "ApiUser",
            "in": "query",
            "required": false,
            "description": "Username for API authentication",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ApiKey",
            "in": "query",
            "required": false,
            "description": "API key for authentication",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "UserName",
            "in": "query",
            "required": false,
            "description": "Username (same as ApiUser for most users)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ClientIp",
            "in": "query",
            "required": false,
            "description": "Client IP address for whitelisting",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "XML response",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/xml.response?Command=namecheap.ssl.parseCSR": {
      "post": {
        "operationId": "ssl_parseCSR",
        "summary": "Parse CSR",
        "description": "Namecheap API command: namecheap.ssl.parseCSR",
        "tags": [
          "SSL"
        ],
        "parameters": [
          {
            "name": "ApiUser",
            "in": "query",
            "required": false,
            "description": "Username for API authentication",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ApiKey",
            "in": "query",
            "required": false,
            "description": "API key for authentication",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "UserName",
            "in": "query",
            "required": false,
            "description": "Username (same as ApiUser for most users)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ClientIp",
            "in": "query",
            "required": false,
            "description": "Client IP address for whitelisting",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "XML response",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/xml.response?Command=namecheap.ssl.getApproverEmailList": {
      "get": {
        "operationId": "ssl_getApproverEmailList",
        "summary": "Get approver email list",
        "description": "Namecheap API command: namecheap.ssl.getApproverEmailList",
        "tags": [
          "SSL"
        ],
        "parameters": [
          {
            "name": "ApiUser",
            "in": "query",
            "required": false,
            "description": "Username for API authentication",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ApiKey",
            "in": "query",
            "required": false,
            "description": "API key for authentication",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "UserName",
            "in": "query",
            "required": false,
            "description": "Username (same as ApiUser for most users)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ClientIp",
            "in": "query",
            "required": false,
            "description": "Client IP address for whitelisting",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "XML response",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/xml.response?Command=namecheap.ssl.activate": {
      "post": {
        "operationId": "ssl_activate",
        "summary": "Activate SSL certificate",
        "description": "Namecheap API command: namecheap.ssl.activate",
        "tags": [
          "SSL"
        ],
        "parameters": [
          {
            "name": "ApiUser",
            "in": "query",
            "required": false,
            "description": "Username for API authentication",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ApiKey",
            "in": "query",
            "required": false,
            "description": "API key for authentication",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "UserName",
            "in": "query",
            "required": false,
            "description": "Username (same as ApiUser for most users)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ClientIp",
            "in": "query",
            "required": false,
            "description": "Client IP address for whitelisting",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "XML response",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/xml.response?Command=namecheap.ssl.resendApproverEmail": {
      "post": {
        "operationId": "ssl_resendApproverEmail",
        "summary": "Resend approver email",
        "description": "Namecheap API command: namecheap.ssl.resendApproverEmail",
        "tags": [
          "SSL"
        ],
        "parameters": [
          {
            "name": "ApiUser",
            "in": "query",
            "required": false,
            "description": "Username for API authentication",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ApiKey",
            "in": "query",
            "required": false,
            "description": "API key for authentication",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "UserName",
            "in": "query",
            "required": false,
            "description": "Username (same as ApiUser for most users)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ClientIp",
            "in": "query",
            "required": false,
            "description": "Client IP address for whitelisting",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "XML response",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/xml.response?Command=namecheap.ssl.getInfo": {
      "get": {
        "operationId": "ssl_getInfo",
        "summary": "Get SSL certificate info",
        "description": "Namecheap API command: namecheap.ssl.getInfo",
        "tags": [
          "SSL"
        ],
        "parameters": [
          {
            "name": "ApiUser",
            "in": "query",
            "required": false,
            "description": "Username for API authentication",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ApiKey",
            "in": "query",
            "required": false,
            "description": "API key for authentication",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "UserName",
            "in": "query",
            "required": false,
            "description": "Username (same as ApiUser for most users)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ClientIp",
            "in": "query",
            "required": false,
            "description": "Client IP address for whitelisting",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "XML response",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/xml.response?Command=namecheap.ssl.renew": {
      "post": {
        "operationId": "ssl_renew",
        "summary": "Renew SSL certificate",
        "description": "Namecheap API command: namecheap.ssl.renew",
        "tags": [
          "SSL"
        ],
        "parameters": [
          {
            "name": "ApiUser",
            "in": "query",
            "required": false,
            "description": "Username for API authentication",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ApiKey",
            "in": "query",
            "required": false,
            "description": "API key for authentication",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "UserName",
            "in": "query",
            "required": false,
            "description": "Username (same as ApiUser for most users)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ClientIp",
            "in": "query",
            "required": false,
            "description": "Client IP address for whitelisting",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "XML response",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/xml.response?Command=namecheap.ssl.reissue": {
      "post": {
        "operationId": "ssl_reissue",
        "summary": "Reissue SSL certificate",
        "description": "Namecheap API command: namecheap.ssl.reissue",
        "tags": [
          "SSL"
        ],
        "parameters": [
          {
            "name": "ApiUser",
            "in": "query",
            "required": false,
            "description": "Username for API authentication",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ApiKey",
            "in": "query",
            "required": false,
            "description": "API key for authentication",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "UserName",
            "in": "query",
            "required": false,
            "description": "Username (same as ApiUser for most users)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ClientIp",
            "in": "query",
            "required": false,
            "description": "Client IP address for whitelisting",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "XML response",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/xml.response?Command=namecheap.ssl.resendfulfillmentemail": {
      "post": {
        "operationId": "ssl_resendfulfillmentemail",
        "summary": "Resend fulfillment email",
        "description": "Namecheap API command: namecheap.ssl.resendfulfillmentemail",
        "tags": [
          "SSL"
        ],
        "parameters": [
          {
            "name": "ApiUser",
            "in": "query",
            "required": false,
            "description": "Username for API authentication",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ApiKey",
            "in": "query",
            "required": false,
            "description": "API key for authentication",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "UserName",
            "in": "query",
            "required": false,
            "description": "Username (same as ApiUser for most users)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ClientIp",
            "in": "query",
            "required": false,
            "description": "Client IP address for whitelisting",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "XML response",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/xml.response?Command=namecheap.ssl.purchasemoresan": {
      "post": {
        "operationId": "ssl_purchasemoresan",
        "summary": "Purchase more SANs",
        "description": "Namecheap API command: namecheap.ssl.purchasemoresan",
        "tags": [
          "SSL"
        ],
        "parameters": [
          {
            "name": "ApiUser",
            "in": "query",
            "required": false,
            "description": "Username for API authentication",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ApiKey",
            "in": "query",
            "required": false,
            "description": "API key for authentication",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "UserName",
            "in": "query",
            "required": false,
            "description": "Username (same as ApiUser for most users)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ClientIp",
            "in": "query",
            "required": false,
            "description": "Client IP address for whitelisting",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "XML response",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/xml.response?Command=namecheap.ssl.revokecertificate": {
      "post": {
        "operationId": "ssl_revokecertificate",
        "summary": "Revoke SSL certificate",
        "description": "Namecheap API command: namecheap.ssl.revokecertificate",
        "tags": [
          "SSL"
        ],
        "parameters": [
          {
            "name": "ApiUser",
            "in": "query",
            "required": false,
            "description": "Username for API authentication",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ApiKey",
            "in": "query",
            "required": false,
            "description": "API key for authentication",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "UserName",
            "in": "query",
            "required": false,
            "description": "Username (same as ApiUser for most users)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ClientIp",
            "in": "query",
            "required": false,
            "description": "Client IP address for whitelisting",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "XML response",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/xml.response?Command=namecheap.ssl.editDCVMethod": {
      "post": {
        "operationId": "ssl_editDCVMethod",
        "summary": "Edit DCV method",
        "description": "Namecheap API command: namecheap.ssl.editDCVMethod",
        "tags": [
          "SSL"
        ],
        "parameters": [
          {
            "name": "ApiUser",
            "in": "query",
            "required": false,
            "description": "Username for API authentication",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ApiKey",
            "in": "query",
            "required": false,
            "description": "API key for authentication",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "UserName",
            "in": "query",
            "required": false,
            "description": "Username (same as ApiUser for most users)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ClientIp",
            "in": "query",
            "required": false,
            "description": "Client IP address for whitelisting",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "XML response",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/xml.response?Command=namecheap.users.getPricing": {
      "get": {
        "operationId": "users_getPricing",
        "summary": "Get pricing",
        "description": "Namecheap API command: namecheap.users.getPricing",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "name": "ApiUser",
            "in": "query",
            "required": false,
            "description": "Username for API authentication",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ApiKey",
            "in": "query",
            "required": false,
            "description": "API key for authentication",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "UserName",
            "in": "query",
            "required": false,
            "description": "Username (same as ApiUser for most users)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ClientIp",
            "in": "query",
            "required": false,
            "description": "Client IP address for whitelisting",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "XML response",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/xml.response?Command=namecheap.users.getBalances": {
      "get": {
        "operationId": "users_getBalances",
        "summary": "Get account balances",
        "description": "Namecheap API command: namecheap.users.getBalances",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "name": "ApiUser",
            "in": "query",
            "required": false,
            "description": "Username for API authentication",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ApiKey",
            "in": "query",
            "required": false,
            "description": "API key for authentication",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "UserName",
            "in": "query",
            "required": false,
            "description": "Username (same as ApiUser for most users)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ClientIp",
            "in": "query",
            "required": false,
            "description": "Client IP address for whitelisting",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "XML response",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/xml.response?Command=namecheap.users.changePassword": {
      "post": {
        "operationId": "users_changePassword",
        "summary": "Change password",
        "description": "Namecheap API command: namecheap.users.changePassword",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "name": "ApiUser",
            "in": "query",
            "required": false,
            "description": "Username for API authentication",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ApiKey",
            "in": "query",
            "required": false,
            "description": "API key for authentication",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "UserName",
            "in": "query",
            "required": false,
            "description": "Username (same as ApiUser for most users)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ClientIp",
            "in": "query",
            "required": false,
            "description": "Client IP address for whitelisting",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "XML response",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/xml.response?Command=namecheap.users.update": {
      "post": {
        "operationId": "users_update",
        "summary": "Update user profile",
        "description": "Namecheap API command: namecheap.users.update",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "name": "ApiUser",
            "in": "query",
            "required": false,
            "description": "Username for API authentication",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ApiKey",
            "in": "query",
            "required": false,
            "description": "API key for authentication",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "UserName",
            "in": "query",
            "required": false,
            "description": "Username (same as ApiUser for most users)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ClientIp",
            "in": "query",
            "required": false,
            "description": "Client IP address for whitelisting",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "XML response",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/xml.response?Command=namecheap.users.createaddfundsrequest": {
      "post": {
        "operationId": "users_createaddfundsrequest",
        "summary": "Add funds request",
        "description": "Namecheap API command: namecheap.users.createaddfundsrequest",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "name": "ApiUser",
            "in": "query",
            "required": false,
            "description": "Username for API authentication",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ApiKey",
            "in": "query",
            "required": false,
            "description": "API key for authentication",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "UserName",
            "in": "query",
            "required": false,
            "description": "Username (same as ApiUser for most users)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ClientIp",
            "in": "query",
            "required": false,
            "description": "Client IP address for whitelisting",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "XML response",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/xml.response?Command=namecheap.users.getAddFundsStatus": {
      "get": {
        "operationId": "users_getAddFundsStatus",
        "summary": "Get add funds status",
        "description": "Namecheap API command: namecheap.users.getAddFundsStatus",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "name": "ApiUser",
            "in": "query",
            "required": false,
            "description": "Username for API authentication",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ApiKey",
            "in": "query",
            "required": false,
            "description": "API key for authentication",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "UserName",
            "in": "query",
            "required": false,
            "description": "Username (same as ApiUser for most users)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ClientIp",
            "in": "query",
            "required": false,
            "description": "Client IP address for whitelisting",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "XML response",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/xml.response?Command=namecheap.users.create": {
      "post": {
        "operationId": "users_create",
        "summary": "Create sub-account",
        "description": "Namecheap API command: namecheap.users.create",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "name": "ApiUser",
            "in": "query",
            "required": false,
            "description": "Username for API authentication",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ApiKey",
            "in": "query",
            "required": false,
            "description": "API key for authentication",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "UserName",
            "in": "query",
            "required": false,
            "description": "Username (same as ApiUser for most users)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ClientIp",
            "in": "query",
            "required": false,
            "description": "Client IP address for whitelisting",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "XML response",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/xml.response?Command=namecheap.users.login": {
      "post": {
        "operationId": "users_login",
        "summary": "User login",
        "description": "Namecheap API command: namecheap.users.login",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "name": "ApiUser",
            "in": "query",
            "required": false,
            "description": "Username for API authentication",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ApiKey",
            "in": "query",
            "required": false,
            "description": "API key for authentication",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "UserName",
            "in": "query",
            "required": false,
            "description": "Username (same as ApiUser for most users)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ClientIp",
            "in": "query",
            "required": false,
            "description": "Client IP address for whitelisting",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "XML response",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/xml.response?Command=namecheap.users.resetPassword": {
      "post": {
        "operationId": "users_resetPassword",
[...]
