{
  "openapi": "3.0.3",
  "info": {
    "title": "Vedika Intelligence API",
    "version": "2.1.0",
    "description": "**Vedika Intelligence** is a B2B astrology API platform delivering Vedic, Western, and KP astrology\ncomputations with AI-powered interpretations. 140+ endpoints covering Vedic, Western, KP, and Numerology. Swiss Ephemeris precision.\n\n## Key Capabilities\n\n- **AI Astrology Chat** -- Natural language astrology Q&A with chart-grounded responses\n- **Vedic Astrology (V2)** -- Kundli, Dasha, Doshas, Panchang, Muhurta, Guna Milan, Predictions, Divisional Charts\n- **Western Astrology (V2)** -- Transits, Progressions, Solar Returns, Synastry, Composite Charts, Horoscopes\n- **Numerology** -- Pythagorean and Chaldean calculations (Life Path, Destiny, Personality, Soul Urge)\n- **Swiss Ephemeris** -- Sub-arc-second planetary precision, sidereal (Lahiri) and tropical zodiacs\n\n## Authentication\n\nAll paid endpoints require an API key in the `x-api-key` header:\n\n```\nx-api-key: vk_live_your_api_key_here\n```\n\nAPI keys are issued upon subscription. Format: `vk_live_*` (production), `vk_ent_*` (enterprise).\n\n## Subscription Plans\n\n| Plan | Price | Wallet Credits (USD) |\n|------|-------|---------------------|\n| Starter | $12/month | $12.00 |\n| Pro | $60/month | $60.00 |\n| Business | $120/month | $120.00 |\n| Enterprise | $240/month | $240.00 |\n\nThere is no free tier. Each API call deducts from your wallet balance. The **Sandbox** environment\nis free and requires no authentication -- use it for development and testing.\n\n## Sandbox (Free)\n\nThe sandbox provides mock responses matching production response shapes. No API key needed.\nBase URL: `https://api.vedika.io/sandbox`\n\nRate limit: 30 requests/minute per IP.\n\n## Rate Limits\n\n- **Starter:** 50 requests/minute\n- **Pro:** 200 requests/minute\n- **Business:** 500 requests/minute\n- **Enterprise:** 1000 requests/minute\n\n## Support\n\n- **Documentation:** https://vedika.io/docs\n- **Email:** support@vedika.io\n- **Postman:** https://www.postman.com/vedikaai/workspace/intelligence-platform\n",
    "contact": {
      "name": "Vedika API Support",
      "email": "support@vedika.io",
      "url": "https://vedika.io"
    },
    "termsOfService": "https://vedika.io/terms",
    "license": {
      "name": "Commercial",
      "url": "https://vedika.io/terms"
    },
    "x-logo": {
      "url": "https://vedika.io/images/vedika-logo.png",
      "altText": "Vedika Intelligence"
    }
  },
  "servers": [
    {
      "url": "https://api.vedika.io",
      "description": "Production"
    },
    {
      "url": "https://api.vedika.io/sandbox",
      "description": "Sandbox (free, no auth required)"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "AI Chat",
      "description": "Natural language astrology queries powered by Vedika Intelligence. Ask questions about\ncareer, marriage, health, finances, and more. Responses are grounded in Swiss Ephemeris\ncomputed chart data with precision-verified accuracy.\n"
    },
    {
      "name": "V2 Vedic Charts",
      "description": "Birth chart (Kundli), planetary positions, divisional charts (D9 Navamsa, D10 Dasamsa),\nand related Vedic astrology computations. All calculations use the sidereal zodiac (Lahiri ayanamsa).\n"
    },
    {
      "name": "V2 Vedic Dasha",
      "description": "Vimshottari Dasha (120-year planetary period) calculations including Mahadasha and Antardasha periods.\n"
    },
    {
      "name": "V2 Vedic Doshas",
      "description": "Dosha (inauspicious combination) detection -- Mangal Dosha, Kaal Sarp Dosha, Pitru Dosha, Nadi Dosha.\n"
    },
    {
      "name": "V2 Vedic Matching",
      "description": "Kundli matching and compatibility. Guna Milan (Ashtakoot, 36-point system), Nakshatra Porutham\n(South Indian 10-factor matching), and Thirumana Porutham (Tamil marriage matching).\n"
    },
    {
      "name": "V2 Vedic Transits",
      "description": "Saturn and Moon transit calculations -- Sade Sati (7.5-year Saturn transit) and Chandrashtama periods.\n"
    },
    {
      "name": "V2 Panchang",
      "description": "Hindu calendar (Panchang) elements -- Tithi, Nakshatra, Yoga, Karana for any date and location.\n"
    },
    {
      "name": "V2 Muhurta",
      "description": "Auspicious and inauspicious time period calculations -- Choghadiya, Hora, Rahu Kaal,\nGulika Kaal, Yamaghanta, Abhijit Muhurta, Brahma Muhurta, Durmuhurta.\n"
    },
    {
      "name": "V2 Predictions",
      "description": "Horoscope predictions by rashi (Moon sign) or birth details. Daily, weekly, monthly,\nquarterly, and yearly periods available.\n"
    },
    {
      "name": "V2 Numerology",
      "description": "Pythagorean and Chaldean numerology. Life Path, Destiny, Personality, Soul Urge,\nPersonal Year, Complete analysis, and Compatibility.\n"
    },
    {
      "name": "V2 Western",
      "description": "Western (tropical zodiac) astrology -- transit charts, secondary progressions, solar returns,\nsynastry, composite charts, and daily horoscopes by zodiac sign.\n"
    },
    {
      "name": "Conversations",
      "description": "Manage AI chat conversation sessions. List, retrieve, delete, and extend conversations\nfor multi-turn dialogue.\n"
    },
    {
      "name": "Usage",
      "description": "Wallet balance, usage history, and analytics for your API account.\n"
    },
    {
      "name": "Pricing",
      "description": "Public pricing information for all V2 endpoints. No authentication required.\n"
    },
    {
      "name": "Sandbox",
      "description": "Free testing environment with mock data matching production response shapes.\nNo API key required. Rate limited to 30 requests/minute per IP.\n"
    },
    {
      "name": "System"
    }
  ],
  "paths": {
    "/api/v1/astrology/query": {
      "post": {
        "tags": [
          "AI Chat"
        ],
        "summary": "AI Astrology Chat Query",
        "description": "Send a natural language astrology question with birth details. Returns an AI-generated\nastrological analysis grounded in Swiss Ephemeris computed chart data.\n\nSupports Vedic, Western, and KP (Krishnamurti Paddhati) astrological systems.\nSpecify the system via the `system` field (default: vedic).\n\nResponses include follow-up suggestions for multi-turn conversations.\nPass `conversationId` from a previous response to continue the conversation.\n",
        "operationId": "aiAstrologyQuery",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AIQueryRequest"
              },
              "examples": {
                "career_query": {
                  "summary": "Career question",
                  "value": {
                    "question": "What does my chart say about my career prospects in 2026?",
                    "birthDetails": {
                      "datetime": "1990-06-15T14:30:00",
                      "latitude": 28.6139,
                      "longitude": 77.209,
                      "timezone": "+05:30"
                    }
                  }
                },
                "marriage_query": {
                  "summary": "Marriage query with language",
                  "value": {
                    "question": "When is the best time for marriage?",
                    "birthDetails": {
                      "datetime": "1995-03-20T08:15:00",
                      "latitude": 19.076,
                      "longitude": 72.8777,
                      "timezone": "+05:30"
                    },
                    "language": "hi"
                  }
                },
                "western_query": {
                  "summary": "Western astrology query",
                  "value": {
                    "question": "What are my current transits indicating?",
                    "birthDetails": {
                      "datetime": "1988-12-05T16:00:00",
                      "latitude": 40.7128,
                      "longitude": -74.006,
                      "timezone": "-05:00"
                    },
                    "system": "western"
                  }
                },
                "followup_query": {
                  "summary": "Follow-up in conversation",
                  "value": {
                    "question": "Tell me more about the Mahadasha you mentioned",
                    "birthDetails": {
                      "datetime": "1990-06-15T14:30:00",
                      "latitude": 28.6139,
                      "longitude": 77.209,
                      "timezone": "+05:30"
                    },
                    "conversationId": "conv_abc123def456"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful AI response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AIQueryResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request (missing question or birth details)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "error": "Question is required",
                  "code": "VALIDATION_ERROR"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/InsufficientBalance"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/v1/astrology/query/stream": {
      "post": {
        "tags": [
          "AI Chat"
        ],
        "summary": "AI Astrology Chat (SSE Streaming)",
        "description": "Same as `/api/v1/astrology/query` but returns a Server-Sent Events (SSE) stream.\nTokens are streamed as they are generated, providing real-time output.\n\n**Event types:**\n- `token` -- Individual text tokens\n- `metadata` -- Processing metadata (model, timing)\n- `birthChart` -- Computed birth chart data\n- `done` -- Stream complete signal\n- `error` -- Error event\n\nConnect with `EventSource` or any SSE client library.\n",
        "operationId": "aiAstrologyQueryStream",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AIQueryRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Server-Sent Events stream",
            "content": {
              "text/event-stream": {
                "schema": {
                  "type": "string",
                  "description": "SSE stream with events: token, metadata, birthChart, done, error.\n\nExample events:\n```\nevent: token\ndata: {\"text\": \"Based on your\"}\n\nevent: token\ndata: {\"text\": \" birth chart,\"}\n\nevent: metadata\ndata: {\"model\": \"Vedika AI\", \"processing_time_ms\": 2340}\n\nevent: birthChart\ndata: {\"ascendant\": {\"sign\": \"Libra\", \"degree\": 15.42}, ...}\n\nevent: done\ndata: {\"conversationId\": \"conv_abc123\"}\n```\n"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/InsufficientBalance"
          }
        }
      }
    },
    "/v2/astrology/kundli": {
      "post": {
        "tags": [
          "V2 Vedic Charts"
        ],
        "summary": "Full Kundli",
        "description": "Generate a complete Kundli (birth chart) with all 12 houses, planetary positions,\nnakshatras, dignities, aspects, and house lordships. Sidereal zodiac (Lahiri ayanamsa).\n\nPrice: $0.028 per call.\n",
        "operationId": "getKundli",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BirthDetails"
              },
              "example": {
                "datetime": "1990-06-15T14:30:00",
                "latitude": 28.6139,
                "longitude": 77.209,
                "timezone": "+05:30"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Full Kundli data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2BilledResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/InsufficientBalance"
          }
        }
      }
    },
    "/v2/astrology/birth-chart": {
      "post": {
        "tags": [
          "V2 Vedic Charts"
        ],
        "summary": "Birth Chart",
        "description": "Generate a basic birth chart with planetary positions, signs, houses, and degrees.\nLighter than full Kundli.\n\nPrice: $0.016 per call.\n",
        "operationId": "getBirthChart",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BirthDetails"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Birth chart data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2BilledResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/InsufficientBalance"
          }
        }
      }
    },
    "/v2/astrology/planetary-positions": {
      "post": {
        "tags": [
          "V2 Vedic Charts"
        ],
        "summary": "Planetary Positions",
        "description": "Get precise planetary positions at birth time. Includes longitude, sign, house,\nnakshatra, pada, dignity (exalted/debilitated/own/moolatrikona), and retrograde status.\n\nPrice: $0.016 per call.\n",
        "operationId": "getPlanetaryPositions",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BirthDetails"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Planetary positions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2BilledResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/InsufficientBalance"
          }
        }
      }
    },
    "/v2/astrology/navamsa": {
      "post": {
        "tags": [
          "V2 Vedic Charts"
        ],
        "summary": "Navamsa (D9) Chart",
        "description": "Generate the Navamsa (D-9) divisional chart. Used for marriage analysis, dharma,\nand assessing true planetary strength. Includes Vargottama flags.\n\nPrice: $0.028 per call.\n",
        "operationId": "getNavamsa",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BirthDetails"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Navamsa chart data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2BilledResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/InsufficientBalance"
          }
        }
      }
    },
    "/v2/astrology/vimshottari-dasha": {
      "post": {
        "tags": [
          "V2 Vedic Dasha"
        ],
        "summary": "Vimshottari Dasha",
        "description": "Calculate the complete Vimshottari Dasha (120-year planetary period cycle).\nReturns Mahadasha, Antardasha, and Pratyantardasha periods with start/end dates.\n\nAliases: `/v2/astrology/dasha-periods`\n\nPrice: $0.016 per call.\n",
        "operationId": "getVimshottariDasha",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BirthDetails"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Dasha period data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2BilledResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/InsufficientBalance"
          }
        }
      }
    },
    "/v2/astrology/mahadasha": {
      "post": {
        "tags": [
          "V2 Vedic Dasha"
        ],
        "summary": "Mahadasha Periods",
        "description": "Get Mahadasha (main planetary periods) with dates and ruling planet for each period.\n\nPrice: $0.028 per call.\n",
        "operationId": "getMahadasha",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BirthDetails"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Mahadasha data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2BilledResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/InsufficientBalance"
          }
        }
      }
    },
    "/v2/astrology/antardasha": {
      "post": {
        "tags": [
          "V2 Vedic Dasha"
        ],
        "summary": "Antardasha Sub-periods",
        "description": "Get Antardasha (sub-periods) within each Mahadasha. Returns nested period structure.\n\nPrice: $0.028 per call.\n",
        "operationId": "getAntardasha",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BirthDetails"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Antardasha data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2BilledResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/InsufficientBalance"
          }
        }
      }
    },
    "/v2/astrology/mangal-dosha": {
      "post": {
        "tags": [
          "V2 Vedic Doshas"
        ],
        "summary": "Mangal Dosha",
        "description": "Check for Mangal (Mars) Dosha -- also known as Manglik Dosha or Kuja Dosha.\nChecks Mars placement in houses 1, 2, 4, 7, 8, 12 from Lagna, Moon, and Venus.\nIncludes cancellation conditions per BPHS.\n\nPrice: $0.016 per call.\n",
        "operationId": "getMangalDosha",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BirthDetails"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Mangal Dosha analysis",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2BilledResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/InsufficientBalance"
          }
        }
      }
    },
    "/v2/astrology/kaal-sarp-dosha": {
      "post": {
        "tags": [
          "V2 Vedic Doshas"
        ],
        "summary": "Kaal Sarp Dosha",
        "description": "Detect Kaal Sarp Dosha -- formed when all planets are hemmed between Rahu and Ketu.\nReturns dosha type (Anant, Kulik, Vasuki, etc.) and severity.\n\nPrice: $0.028 per call.\n",
        "operationId": "getKaalSarpDosha",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BirthDetails"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Kaal Sarp Dosha analysis",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2BilledResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/InsufficientBalance"
          }
        }
      }
    },
    "/v2/astrology/pitru-dosha": {
      "post": {
        "tags": [
          "V2 Vedic Doshas"
        ],
        "summary": "Pitru Dosha",
        "description": "Check for Pitru (ancestral) Dosha. Analyzes Sun, Saturn, Rahu placements\nand 9th house affliction.\n\nPrice: $0.028 per call.\n",
        "operationId": "getPitruDosha",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BirthDetails"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Pitru Dosha analysis",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2BilledResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/InsufficientBalance"
          }
        }
      }
    },
    "/v2/astrology/nadi-dosha": {
      "post": {
        "tags": [
          "V2 Vedic Doshas"
        ],
        "summary": "Nadi Dosha",
        "description": "Check for Nadi Dosha -- Nadi incompatibility based on nakshatra classification\n(Vata, Pitta, Kapha). Important for marriage compatibility.\n\nPrice: $0.028 per call.\n",
        "operationId": "getNadiDosha",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BirthDetails"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Nadi Dosha analysis",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2BilledResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/InsufficientBalance"
          }
        }
      }
    },
    "/v2/astrology/guna-milan": {
      "post": {
        "tags": [
          "V2 Vedic Matching"
        ],
        "summary": "Guna Milan (Ashtakoot Matching)",
        "description": "36-point Guna (Ashtakoot) matching for marriage compatibility. Evaluates 8 factors:\nVarna, Vashya, Tara, Yoni, Graha Maitri, Gana, Bhakoot, Nadi.\n\nReturns total score out of 36 with per-factor breakdown.\n\nAliases: `/v2/astrology/kundali-matching`, `/v2/astrology/kundli-matching`, `/v2/astrology/kundli-match`, `/v2/astrology/ashtakoot-match`\n\nPrice: $0.048 per call.\n",
        "operationId": "getGunaMilan",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MatchingRequest"
              },
              "example": {
                "male": {
                  "datetime": "1990-06-15T14:30:00",
                  "latitude": 28.6139,
                  "longitude": 77.209,
                  "timezone": "+05:30"
                },
                "female": {
                  "datetime": "1992-03-20T08:15:00",
                  "latitude": 19.076,
                  "longitude": 72.8777,
                  "timezone": "+05:30"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Guna Milan matching results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2BilledResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request (missing male or female birth details)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/InsufficientBalance"
          }
        }
      }
    },
    "/v2/astrology/nakshatra-porutham": {
      "post": {
        "tags": [
          "V2 Vedic Matching"
        ],
        "summary": "Nakshatra Porutham (South Indian Matching)",
        "description": "10-factor South Indian marriage compatibility matching based on nakshatra.\nEvaluates: Dinam, Ganam, Yoni, Rasi, Rasiyathipathi, Rajju, Vedha, Vasya, Mahendram, Stree Deergham.\n\nAlias: `/v2/astrology/porutham`\n\nPrice: $0.048 per call.\n",
        "operationId": "getNakshatraPorutham",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MatchingRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Porutham matching results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2BilledResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/InsufficientBalance"
          }
        }
      }
    },
    "/v2/astrology/sade-sati": {
      "post": {
        "tags": [
          "V2 Vedic Transits"
        ],
        "summary": "Sade Sati",
        "description": "Calculate Saturn's 7.5-year transit (Sade Sati) relative to natal Moon sign.\nReturns current phase (Rising, Peak, Setting), start/end dates, and intensity.\n\nPrice: $0.028 per call.\n",
        "operationId": "getSadeSati",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BirthDetails"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sade Sati analysis",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2BilledResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/InsufficientBalance"
          }
        }
      }
    },
    "/v2/astrology/sade-sati/advanced": {
      "post": {
        "tags": [
          "V2 Vedic Transits"
        ],
        "summary": "Sade Sati (Advanced)",
        "description": "Advanced Sade Sati analysis with detailed phase breakdown, transit effects,\nand BPHS-based remedies.\n\nPrice: $0.040 per call.\n",
        "operationId": "getSadeSatiAdvanced",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BirthDetails"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Advanced Sade Sati analysis with remedies",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2BilledResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/InsufficientBalance"
          }
        }
      }
    },
    "/v2/astrology/panchang/today": {
      "get": {
        "tags": [
          "V2 Panchang"
        ],
        "summary": "Today's Panchang",
        "description": "Get today's full Panchang (Hindu calendar) -- Tithi, Nakshatra, Yoga, Karana,\nSunrise, Sunset, Moonrise, and Rahu Kaal.\n\nDefaults to New Delhi (28.6139, 77.2090) if no location provided.\n\nPrice: $0.012 per call.\n",
        "operationId": "getPanchangToday",
        "parameters": [
          {
            "name": "latitude",
            "in": "query",
            "schema": {
              "type": "number",
              "example": 28.6139
            },
            "description": "Location latitude (default 28.6139)"
          },
          {
            "name": "longitude",
            "in": "query",
            "schema": {
              "type": "number",
              "example": 77.209
            },
            "description": "Location longitude (default 77.2090)"
          },
          {
            "name": "timezone",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "+05:30"
            },
            "description": "UTC offset timezone (e.g., \"+05:30\", \"-04:00\"). IANA names like \"Asia/Kolkata\" also accepted. Default: +05:30"
          }
        ],
        "responses": {
          "200": {
            "description": "Today's Panchang data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2BilledResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/InsufficientBalance"
          }
        }
      }
    },
    "/v2/astrology/panchang/{date}": {
      "get": {
        "tags": [
          "V2 Panchang"
        ],
        "summary": "Panchang for Date",
        "description": "Get Panchang for a specific date. Same data as today's Panchang but for any historical\nor future date.\n\nPrice: $0.012 per call.\n",
        "operationId": "getPanchangByDate",
        "parameters": [
          {
            "name": "date",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date",
              "example": "2026-03-15"
            },
            "description": "Date in YYYY-MM-DD format"
          },
          {
            "name": "latitude",
            "in": "query",
            "schema": {
              "type": "number",
              "example": 28.6139
            }
          },
          {
            "name": "longitude",
            "in": "query",
            "schema": {
              "type": "number",
              "example": 77.209
            }
          },
          {
            "name": "timezone",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "+05:30"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Panchang data for the specified date",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2BilledResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/InsufficientBalance"
          }
        }
      }
    },
    "/v2/astrology/choghadiya": {
      "get": {
        "tags": [
          "V2 Muhurta"
        ],
        "summary": "Choghadiya",
        "description": "Get today's Choghadiya (auspicious/inauspicious time slots). Each slot is ~1.5 hours\nwith quality classification: Amrit, Shubh, Labh, Char, Rog, Kaal, Udveg.\n\nPrice: $0.012 per call.\n",
        "operationId": "getChoghadiya",
        "parameters": [
          {
            "name": "latitude",
            "in": "query",
            "schema": {
              "type": "number",
              "example": 28.6139
            }
          },
          {
            "name": "longitude",
            "in": "query",
            "schema": {
              "type": "number",
              "example": 77.209
            }
          },
          {
            "name": "timezone",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "+05:30"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Choghadiya time slots",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2BilledResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/InsufficientBalance"
          }
        }
      }
    },
    "/v2/astrology/rahu-kaal": {
      "get": {
        "tags": [
          "V2 Muhurta"
        ],
        "summary": "Rahu Kaal",
        "description": "Get today's Rahu Kaal (inauspicious period ruled by Rahu). Avoid starting\nnew ventures during this period.\n\nPrice: $0.012 per call.\n",
        "operationId": "getRahuKaal",
        "parameters": [
          {
            "name": "latitude",
            "in": "query",
            "schema": {
              "type": "number",
              "example": 28.6139
            }
          },
          {
            "name": "longitude",
            "in": "query",
            "schema": {
              "type": "number",
              "example": 77.209
            }
          },
          {
            "name": "timezone",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "+05:30"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Rahu Kaal timing",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2BilledResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/InsufficientBalance"
          }
        }
      }
    },
    "/v2/astrology/abhijit-muhurta": {
      "get": {
        "tags": [
          "V2 Muhurta"
        ],
        "summary": "Abhijit Muhurta",
        "description": "Get today's Abhijit Muhurta -- the most auspicious 48-minute window around solar noon.\nConsidered universally auspicious for all activities.\n\nPrice: $0.012 per call.\n",
        "operationId": "getAbhijitMuhurta",
        "parameters": [
          {
            "name": "latitude",
            "in": "query",
            "schema": {
              "type": "number",
              "example": 28.6139
            }
          },
          {
            "name": "longitude",
            "in": "query",
            "schema": {
              "type": "number",
              "example": 77.209
            }
          },
          {
            "name": "timezone",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "+05:30"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Abhijit Muhurta timing",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2BilledResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/InsufficientBalance"
          }
        }
      }
    },
    "/v2/astrology/prediction/daily": {
      "post": {
        "tags": [
          "V2 Predictions"
        ],
        "summary": "Daily Prediction",
        "description": "Get daily horoscope prediction. Can be requested by rashi (Moon sign name)\nor by birth details (Moon sign is auto-calculated).\n\nPrice: $0.020 per call.\n",
        "operationId": "getDailyPrediction",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/PredictionByRashi"
                  },
                  {
                    "$ref": "#/components/schemas/BirthDetails"
                  }
                ]
              },
              "examples": {
                "by_rashi": {
                  "summary": "By rashi name",
                  "value": {
                    "rashi": "aries"
                  }
                },
                "by_birth": {
                  "summary": "By birth details",
                  "value": {
                    "datetime": "1990-06-15T14:30:00",
                    "latitude": 28.6139,
                    "longitude": 77.209,
                    "timezone": "+05:30"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Daily prediction",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2BilledResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/InsufficientBalance"
          }
        }
      }
    },
    "/v2/astrology/prediction/weekly": {
      "post": {
        "tags": [
          "V2 Predictions"
        ],
        "summary": "Weekly Prediction",
        "description": "Get weekly horoscope prediction by rashi or birth details.\n\nPrice: $0.028 per call.\n",
        "operationId": "getWeeklyPrediction",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/PredictionByRashi"
                  },
                  {
                    "$ref": "#/components/schemas/BirthDetails"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Weekly prediction",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2BilledResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/InsufficientBalance"
          }
        }
      }
    },
    "/v2/astrology/prediction/monthly": {
      "post": {
        "tags": [
          "V2 Predictions"
        ],
        "summary": "Monthly Prediction",
        "description": "Get monthly horoscope prediction by rashi or birth details.\n\nPrice: $0.040 per call.\n",
        "operationId": "getMonthlyPrediction",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/PredictionByRashi"
                  },
                  {
                    "$ref": "#/components/schemas/BirthDetails"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Monthly prediction",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2BilledResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/InsufficientBalance"
          }
        }
      }
    },
    "/v2/astrology/prediction/yearly": {
      "post": {
        "tags": [
          "V2 Predictions"
        ],
        "summary": "Yearly Prediction",
        "description": "Get yearly horoscope prediction by rashi or birth details.\n\nPrice: $0.088 per call.\n",
        "operationId": "getYearlyPrediction",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/PredictionByRashi"
                  },
                  {
                    "$ref": "#/components/schemas/BirthDetails"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Yearly prediction",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2BilledResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/InsufficientBalance"
          }
        }
      }
    },
    "/v2/astrology/numerology/complete": {
      "post": {
        "tags": [
          "V2 Numerology"
        ],
        "summary": "Complete Numerology",
        "description": "Get all core numerology numbers in one call: Life Path, Destiny (Expression),\nPersonality, Soul Urge (Heart's Desire), with interpretations, strengths, challenges,\ncareer suggestions, and lucky colors/numbers.\n\nPrice: $0.028 per call.\n",
        "operationId": "getNumerologyComplete",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NumerologyRequest"
              },
              "example": {
                "name": "Abhishek Raj",
                "birthDate": "1990-06-15"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Complete numerology analysis",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2BilledResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/InsufficientBalance"
          }
        }
      }
    },
    "/v2/astrology/numerology/life-path": {
      "post": {
        "tags": [
          "V2 Numerology"
        ],
        "summary": "Life Path Number",
        "description": "Calculate Life Path Number from birth date. The most important number in numerology,\nrepresenting your life's purpose and the path you walk.\n\nPrice: $0.012 per call.\n",
        "operationId": "getNumerologyLifePath",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NumerologyRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Life Path number with interpretation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2BilledResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/InsufficientBalance"
          }
        }
      }
    },
    "/v2/astrology/numerology/destiny": {
      "post": {
        "tags": [
          "V2 Numerology"
        ],
        "summary": "Destiny Number",
        "description": "Calculate Destiny (Expression) Number from full name. Reveals your natural talents\nand the abilities you are meant to develop.\n\nPrice: $0.012 per call.\n",
        "operationId": "getNumerologyDestiny",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NumerologyRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Destiny number with interpretation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2BilledResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/InsufficientBalance"
          }
        }
      }
    },
    "/v2/astrology/numerology/compatibility": {
      "post": {
        "tags": [
          "V2 Numerology"
        ],
        "summary": "Numerology Compatibility",
        "description": "Compare numerology profiles of two people for compatibility. Analyzes\nLife Path, Destiny, and Soul Urge number compatibility.\n\nPrice: $0.020 per call.\n",
        "operationId": "getNumerologyCompatibility",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "person1",
                  "person2"
                ],
                "properties": {
                  "person1": {
                    "type": "object",
                    "required": [
                      "name",
                      "birthDate"
                    ],
                    "properties": {
                      "name": {
                        "type": "string",
                        "example": "Abhishek Raj"
                      },
                      "birthDate": {
                        "type": "string",
                        "format": "date",
                        "example": "1990-06-15"
                      }
                    }
                  },
                  "person2": {
                    "type": "object",
                    "required": [
                      "name",
                      "birthDate"
                    ],
                    "properties": {
                      "name": {
                        "type": "string",
                        "example": "Priya Sharma"
                      },
                      "birthDate": {
                        "type": "string",
                        "format": "date",
                        "example": "1992-03-20"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Numerology compatibility analysis",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2BilledResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/InsufficientBalance"
          }
        }
      }
    },
    "/v2/western/transit-chart": {
      "post": {
        "tags": [
          "V2 Western"
        ],
        "summary": "Transit Chart",
        "description": "Get current planetary transits compared to the natal chart (tropical zodiac).\nShows transit planets, their natal aspects, and transit-to-natal house positions.\n\nPrice: $0.020 per call.\n",
        "operationId": "getTransitChart",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BirthDetails"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Transit chart data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2BilledResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/InsufficientBalance"
          }
        }
      }
    },
    "/v2/western/synastry": {
      "post": {
        "tags": [
          "V2 Western"
        ],
        "summary": "Synastry Chart",
        "description": "Generate a synastry chart comparing two people's natal charts for relationship\ncompatibility (tropical zodiac). Returns inter-aspects and house overlays.\n\nPrice: $0.048 per call.\n",
        "operationId": "getSynastry",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "person1",
                  "person2"
                ],
                "properties": {
                  "person1": {
                    "$ref": "#/components/schemas/BirthDetails"
                  },
                  "person2": {
                    "$ref": "#/components/schemas/BirthDetails"
                  }
                }
              },
              "example": {
                "person1": {
                  "datetime": "1990-06-15T14:30:00",
                  "latitude": 28.6139,
                  "longitude": 77.209,
                  "timezone": "+05:30"
                },
                "person2": {
                  "datetime": "1992-03-20T08:15:00",
                  "latitude": 19.076,
                  "longitude": 72.8777,
                  "timezone": "+05:30"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Synastry chart data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2BilledResponse"
                }
              }
            }
          },
          "400": {
            "description": "Missing person1 or person2 birth details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/InsufficientBalance"
          }
        }
      }
    },
    "/v2/western/composite": {
      "post": {
        "tags": [
          "V2 Western"
        ],
        "summary": "Composite Chart",
        "description": "Generate a composite chart (midpoint method) for two people. The composite chart\nrepresents the relationship itself as an entity.\n\nPrice: $0.048 per call.\n",
        "operationId": "getComposite",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "person1",
                  "person2"
                ],
                "properties": {
                  "person1": {
                    "$ref": "#/components/schemas/BirthDetails"
                  },
                  "person2": {
                    "$ref": "#/components/schemas/BirthDetails"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Composite chart data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2BilledResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/InsufficientBalance"
          }
        }
      }
    },
    "/v2/western/progressions": {
      "post": {
        "tags": [
          "V2 Western"
        ],
        "summary": "Secondary Progressions",
        "description": "Calculate secondary progressions (1 day = 1 year symbolic movement). Shows progressed\nplanetary positions relative to natal chart for long-term life themes.\n\nPrice: $0.028 per call.\n",
        "operationId": "getProgressions",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BirthDetails"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Progression chart data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2BilledResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/InsufficientBalance"
          }
        }
      }
    },
    "/v2/western/solar-return": {
      "post": {
        "tags": [
          "V2 Western"
        ],
        "summary": "Solar Return Chart",
        "description": "Generate a solar return chart for a specific year. The solar return occurs when\nthe Sun returns to its exact natal position -- a birthday chart for the year ahead.\n\nPass `year` in the request body (defaults to current year).\n\nPrice: $0.028 per call.\n",
        "operationId": "getSolarReturn",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/BirthDetails"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "year": {
                        "type": "integer",
                        "description": "Year for the solar return (defaults to current year)",
                        "example": 2026
                      }
                    }
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Solar return chart data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2BilledResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/InsufficientBalance"
          }
        }
      }
    },
    "/v2/western/horoscope/{sign}": {
      "get": {
        "tags": [
          "V2 Western"
        ],
        "summary": "Daily Horoscope by Sign",
        "description": "Get today's Western horoscope for a zodiac sign. Uses tropical zodiac.\n\nValid signs: aries, taurus, gemini, cancer, leo, virgo, libra, scorpio,\nsagittarius, capricorn, aquarius, pisces.\n\nPrice: $0.048 per call.\n",
        "operationId": "getWesternHoroscope",
        "parameters": [
          {
            "name": "sign",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "aries",
                "taurus",
                "gemini",
                "cancer",
                "leo",
                "virgo",
                "libra",
                "scorpio",
                "sagittarius",
                "capricorn",
                "aquarius",
                "pisces"
              ]
            },
            "description": "Zodiac sign (lowercase)",
            "example": "aries"
          }
        ],
        "responses": {
          "200": {
            "description": "Daily horoscope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2BilledResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid zodiac sign",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "error": "Invalid sign. Valid options: aries, taurus, gemini, cancer, leo, virgo, libra, scorpio, sagittarius, capricorn, aquarius, pisces"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/InsufficientBalance"
          }
        }
      }
    },
    "/v2/astrology/pricing": {
      "get": {
        "tags": [
          "Pricing"
        ],
        "summary": "Vedic API Pricing",
        "description": "Returns pricing for all V2 Vedic astrology endpoints. No authentication required.\nIncludes price per call, category, and description for each endpoint.\n",
        "operationId": "getVedicPricing",
        "security": [],
        "responses": {
          "200": {
            "description": "Pricing information",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "summary": {
                      "type": "object",
                      "properties": {
                        "totalEndpoints": {
                          "type": "integer",
                          "example": 53
                        },
                        "priceRange": {
                          "type": "object",
                          "properties": {
                            "min": {
                              "type": "string",
                              "example": "$0.0120"
                            },
                            "max": {
                              "type": "string",
                              "example": "$0.0880"
                            }
                          }
                        }
                      }
                    },
                    "categories": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "integer"
                      },
                      "example": {
                        "charts": 4,
                        "doshas": 4,
                        "matching": 5,
                        "panchang": 6,
                        "predictions": 5
                      }
                    },
                    "endpoints": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "endpoint": {
                            "type": "string",
                            "example": "/v2/astrology/kundli"
                          },
                          "price": {
                            "type": "string",
                            "example": "$0.0280"
                          },
                          "category": {
                            "type": "string",
                            "example": "charts"
                          },
                          "description": {
                            "type": "string",
                            "example": "Full Kundli with all houses"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/western/pricing": {
      "get": {
        "tags": [
          "Pricing"
        ],
        "summary": "Western API Pricing",
        "description": "Returns pricing for all V2 Western astrology endpoints. No authentication required.\n",
        "operationId": "getWesternPricing",
        "security": [],
        "responses": {
          "200": {
            "description": "Western pricing information",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "endpoints": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "endpoint": {
                            "type": "string"
                          },
                          "price": {
                            "type": "string"
                          },
                          "category": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/usage/wallet": {
      "get": {
        "tags": [
          "Usage"
        ],
        "summary": "Wallet Balance",
        "description": "Get current wallet balance and subscription status.\n",
        "operationId": "getWalletBalance",
        "responses": {
          "200": {
            "description": "Wallet balance",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "walletBalance": {
                          "type": "number",
                          "description": "Balance in USD (converted from cents stored in Firestore)",
                          "example": 54.56
                        },
                        "plan": {
                          "type": "string",
                          "example": "pro"
                        },
                        "subscriptionStatus": {
                          "type": "string",
                          "enum": [
                            "active",
                            "paused",
                            "cancelled",
                            "expired"
                          ],
                          "example": "active"
                        },
                        "subscriptionEndDate": {
                          "type": "string",
                          "format": "date-time"
                        }
                      }
                    },
                    "userId": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/v1/usage/history": {
      "get": {
        "tags": [
          "Usage"
        ],
        "summary": "Usage History",
        "description": "Get paginated usage transaction history. Filter by date range or transaction type.\n",
        "operationId": "getUsageHistory",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 50,
              "maximum": 200
            },
            "description": "Number of records to return"
          },
          {
            "name": "startDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Filter from this date"
          },
          {
            "name": "endDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Filter to this date"
          },
          {
            "name": "type",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "query",
                "v2_endpoint",
                "subscription",
                "refund"
              ]
            },
            "description": "Filter by transaction type"
          }
        ],
        "responses": {
          "200": {
            "description": "Usage history",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "timestamp": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "type": {
                            "type": "string"
                          },
                          "endpoint": {
                            "type": "string"
                          },
                          "cost": {
                            "type": "number"
                          },
                          "balanceAfter": {
                            "type": "number"
                          }
                        }
                      }
                    },
                    "count": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/v1/usage/summary": {
      "get": {
        "tags": [
          "Usage"
        ],
        "summary": "Usage Summary",
        "description": "Get aggregated usage statistics for a date range. Returns total calls,\ntotal cost, average cost per call, and breakdown by endpoint.\n",
        "operationId": "getUsageSummary",
        "parameters": [
          {
            "name": "startDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Usage summary statistics",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "totalCalls": {
                          "type": "integer"
                        },
                        "totalCost": {
                          "type": "number"
                        },
                        "averageCostPerCall": {
                          "type": "number"
                        },
                        "endpointBreakdown": {
                          "type": "object",
                          "additionalProperties": {
                            "type": "object",
                            "properties": {
                              "calls": {
                                "type": "integer"
                              },
                              "cost": {
                                "type": "number"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/v1/conversations": {
      "get": {
        "tags": [
          "Conversations"
        ],
        "summary": "List Conversations",
        "description": "List all AI chat conversations for the authenticated user. Returns conversation\nmetadata (ID, creation date, last message timestamp, message count).\n",
        "operationId": "listConversations",
        "responses": {
          "200": {
            "description": "List of conversations",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "conversationId": {
                            "type": "string"
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "lastMessageAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "messageCount": {
                            "type": "integer"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/v1/conversations/{conversationId}": {
      "get": {
        "tags": [
          "Conversations"
        ],
        "summary": "Get Conversation",
        "description": "Retrieve a specific conversation with full message history.\n",
        "operationId": "getConversation",
        "parameters": [
          {
            "name": "conversationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Conversation ID returned from a previous AI query"
          }
        ],
        "responses": {
          "200": {
            "description": "Conversation with messages",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "conversationId": {
                          "type": "string"
                        },
                        "messages": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "role": {
                                "type": "string",
                                "enum": [
                                  "user",
                                  "assistant"
                                ]
                              },
                              "content": {
                                "type": "string"
                              },
                              "timestamp": {
                                "type": "string",
                                "format": "date-time"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "description": "Conversation not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Conversations"
        ],
        "summary": "Delete Conversation",
        "description": "Delete a conversation and all its messages.\n",
        "operationId": "deleteConversation",
        "parameters": [
          {
            "name": "conversationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Conversation deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Conversation deleted"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "description": "Conversation not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/chat/ask": {
      "post": {
        "tags": [
          "Sandbox"
        ],
        "summary": "Sandbox AI Chat",
        "description": "Free sandbox version of the AI astrology chat. Returns mock responses matching\nthe production V1 response shape. No API key required.\n\n**Note:** Use the sandbox server URL (`https://api.vedika.io/sandbox`).\n",
        "operationId": "sandboxChatAsk",
        "security": [],
        "servers": [
          {
            "url": "https://api.vedika.io/sandbox",
            "description": "Sandbox"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "question"
                ],
                "properties": {
                  "question": {
                    "type": "string",
                    "example": "What does my chart say about career?"
                  },
                  "birthDetails": {
                    "$ref": "#/components/schemas/BirthDetails"
                  },
                  "language": {
                    "type": "string",
                    "default": "en"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Mock AI response (production shape)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AIQueryResponse"
                }
              }
            }
          },
          "400": {
            "description": "Missing question",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Sandbox rate limit exceeded (30/min)"
          }
        }
      }
    },
    "/kundali/birth-chart": {
      "post": {
        "tags": [
          "Sandbox"
        ],
        "summary": "Sandbox Birth Chart",
        "description": "Free sandbox version of the birth chart endpoint. Returns mock Kundli data matching\nthe production V2 response shape. No API key required.\n\n**Note:** Use the sandbox server URL (`https://api.vedika.io/sandbox`).\n\nAccepts both V2 flat format (`datetime`, `latitude`, `longitude`, `timezone`)\nand nested format (`birthDetails: { ... }`).\n",
        "operationId": "sandboxBirthChart",
        "security": [],
        "servers": [
          {
            "url": "https://api.vedika.io/sandbox",
            "description": "Sandbox"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/BirthDetails"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "birthDetails": {
                        "$ref": "#/components/schemas/BirthDetails"
                      }
                    }
                  }
                ]
              },
              "example": {
                "datetime": "1990-06-15T14:30:00",
                "latitude": 28.6139,
                "longitude": 77.209,
                "timezone": "+05:30"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Mock birth chart data (production shape)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2BilledResponse"
                }
              }
            }
          },
          "429": {
            "description": "Sandbox rate limit exceeded (30/min)"
          }
        }
      }
    },
    "/panchang/today": {
      "get": {
        "tags": [
          "Sandbox"
        ],
        "summary": "Sandbox Today's Panchang",
        "description": "Free sandbox version of today's Panchang. Returns mock data. No API key required.\n\n**Note:** Use the sandbox server URL (`https://api.vedika.io/sandbox`).\n",
        "operationId": "sandboxPanchangToday",
        "security": [],
        "servers": [
          {
            "url": "https://api.vedika.io/sandbox",
            "description": "Sandbox"
          }
        ],
        "responses": {
          "200": {
            "description": "Mock Panchang data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2BilledResponse"
                }
              }
            }
          },
          "429": {
            "description": "Sandbox rate limit exceeded (30/min)"
          }
        }
      }
    },
    "/health": {
      "get": {
        "tags": [
          "System"
        ],
        "summary": "Health Check",
        "description": "API health status. No authentication required.",
        "operationId": "healthCheck",
        "security": [],
        "responses": {
          "200": {
            "description": "API is healthy",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "healthy"
                    },
                    "uptime": {
                      "type": "number"
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/ping": {
      "get": {
        "tags": [
          "System"
        ],
        "summary": "Ping",
        "description": "Ultra-fast health check. Returns \"pong\". No authentication required.",
        "operationId": "ping",
        "security": [],
        "responses": {
          "200": {
            "description": "pong",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "example": "pong"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key",
        "description": "API key for authentication. Format: `vk_live_*` (production) or `vk_ent_*` (enterprise).\nObtained upon subscription at https://vedika.io/pricing.\n"
      }
    },
    "schemas": {
      "BirthDetails": {
        "type": "object",
        "required": [
          "datetime",
          "latitude",
          "longitude",
          "timezone"
        ],
        "description": "Birth details for astrological calculations",
        "properties": {
          "datetime": {
            "type": "string",
            "format": "date-time",
            "description": "Birth date and time in ISO 8601 format (without timezone suffix -- timezone is a separate field)",
            "example": "1990-06-15T14:30:00"
          },
          "latitude": {
            "type": "number",
            "format": "double",
            "description": "Birth location latitude (-90 to 90)",
            "minimum": -90,
            "maximum": 90,
            "example": 28.6139
          },
          "longitude": {
            "type": "number",
            "format": "double",
            "description": "Birth location longitude (-180 to 180)",
            "minimum": -180,
            "maximum": 180,
            "example": 77.209
          },
          "timezone": {
            "type": "string",
            "description": "UTC offset in +HH:MM or -HH:MM format (NOT IANA timezone names)",
            "pattern": "^[+-]\\d{2}:\\d{2}$",
            "example": "+05:30"
          }
        }
      },
      "MatchingRequest": {
        "type": "object",
        "required": [
          "male",
          "female"
        ],
        "description": "Birth details for both partners in matching/compatibility calculations",
        "properties": {
          "male": {
            "$ref": "#/components/schemas/BirthDetails"
          },
          "female": {
            "$ref": "#/components/schemas/BirthDetails"
          }
        }
      },
      "NumerologyRequest": {
        "type": "object",
        "required": [
          "name",
          "birthDate"
        ],
        "description": "Name and birth date for numerology calculations",
        "properties": {
          "name": {
            "type": "string",
            "description": "Full name for numerology analysis",
            "example": "Abhishek Raj"
          },
          "birthDate": {
            "type": "string",
            "format": "date",
            "description": "Birth date in YYYY-MM-DD format",
            "example": "1990-06-15"
          },
          "system": {
            "type": "string",
            "enum": [
              "pythagorean",
              "chaldean"
            ],
            "default": "pythagorean",
            "description": "Numerology system to use"
          }
        }
      },
      "PredictionByRashi": {
        "type": "object",
        "required": [
          "rashi"
        ],
        "description": "Request prediction by rashi (Moon sign) name",
        "properties": {
          "rashi": {
            "type": "string",
            "description": "Moon sign name (English)",
            "enum": [
              "aries",
              "taurus",
              "gemini",
              "cancer",
              "leo",
              "virgo",
              "libra",
              "scorpio",
              "sagittarius",
              "capricorn",
              "aquarius",
              "pisces"
            ],
            "example": "aries"
          }
        }
      },
      "AIQueryRequest": {
        "type": "object",
        "required": [
          "question"
        ],
        "description": "AI astrology chat request. birthDetails is required for personal readings (e.g., 'my career'). Educational questions (e.g., 'what is Rahu?') work without it. You can also send flat fields (date, time, latitude, longitude, timezone) at the top level instead of nested birthDetails.",
        "properties": {
          "question": {
            "type": "string",
            "description": "Natural language astrology question",
            "example": "What does my chart say about my career prospects?"
          },
          "birthDetails": {
            "type": "object",
            "required": [
              "datetime",
              "latitude",
              "longitude",
              "timezone"
            ],
            "properties": {
              "datetime": {
                "type": "string",
                "format": "date-time",
                "example": "1990-06-15T14:30:00"
              },
              "latitude": {
                "type": "number",
                "example": 28.6139
              },
              "longitude": {
                "type": "number",
                "example": 77.209
              },
              "timezone": {
                "type": "string",
                "example": "+05:30"
              }
            }
          },
          "language": {
            "type": "string",
            "description": "Response language (ISO 639-1 code). Supports 30+ languages including hi, ta, te, kn, ml, bn, mr, gu, pa, ur, etc.",
            "default": "en",
            "example": "en"
          },
          "system": {
            "type": "string",
            "enum": [
              "vedic",
              "western",
              "kp"
            ],
            "default": "vedic",
            "description": "Astrological system to use"
          },
          "conversationId": {
            "type": "string",
            "description": "Pass a conversation ID from a previous response to continue a multi-turn conversation",
            "example": "conv_abc123def456"
          }
        }
      },
      "AIQueryResponse": {
        "type": "object",
        "description": "AI astrology chat response",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "response": {
            "type": "string",
            "description": "AI-generated astrological analysis text (400-800 words for follow-ups, 800-1500 for initial queries)",
            "example": "Based on your birth chart, your Ascendant is in Libra at 15.42 degrees..."
          },
          "followUpSuggestions": {
            "type": "array",
            "description": "Suggested follow-up questions for multi-turn conversation",
            "items": {
              "type": "string"
            },
            "example": [
              "Tell me more about my current Mahadasha",
              "What career fields suit my chart?",
              "When is a good period for financial investments?"
            ]
          },
          "metadata": {
            "type": "object",
            "properties": {
              "model": {
                "type": "string",
                "description": "AI engine identifier",
                "example": "Vedika AI"
              },
              "processing_time_ms": {
                "type": "number",
                "description": "Total processing time in milliseconds",
                "example": 2340
              },
              "engine": {
                "type": "string",
                "example": "vedika-intelligence"
              },
              "usage": {
                "type": "object",
                "properties": {
                  "prompt_tokens": {
                    "type": "integer",
                    "example": 1250
                  },
                  "completion_tokens": {
                    "type": "integer",
                    "example": 780
                  },
                  "total_tokens": {
                    "type": "integer",
                    "example": 2030
                  }
                }
              },
              "cost": {
                "type": "object",
                "properties": {
                  "amount": {
                    "type": "number",
                    "description": "Cost in USD",
                    "example": 0.035
                  },
                  "currency": {
                    "type": "string",
                    "example": "USD"
                  }
                }
              },
              "wallet": {
                "type": "object",
                "properties": {
                  "balanceBefore": {
                    "type": "number",
                    "example": 54.56
                  },
                  "balanceAfter": {
                    "type": "number",
                    "example": 54.525
                  }
                }
              }
            }
          },
          "birthChart": {
            "type": "object",
            "description": "Computed birth chart data (Swiss Ephemeris)",
            "properties": {
              "ascendant": {
                "type": "object",
                "properties": {
                  "sign": {
                    "type": "string",
                    "example": "Libra"
                  },
                  "degree": {
                    "type": "number",
                    "example": 15.42
                  }
                }
              },
              "planets": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string",
                      "example": "Sun"
                    },
                    "sign": {
                      "type": "string",
                      "example": "Taurus"
                    },
                    "house": {
                      "type": "integer",
                      "example": 8
                    },
                    "degree": {
                      "type": "number",
                      "example": 0.85
                    },
                    "nakshatra": {
                      "type": "string",
                      "example": "Mrigashira"
                    },
                    "pada": {
                      "type": "integer",
                      "example": 3
                    },
                    "retrograde": {
                      "type": "boolean",
                      "example": false
                    },
                    "dignity": {
                      "type": "string",
                      "example": "Neutral"
                    }
                  }
                }
              }
            }
          },
          "conversationId": {
            "type": "string",
            "description": "Conversation ID for follow-up queries",
            "example": "conv_abc123def456"
          },
          "conversationContext": {
            "type": "object",
            "description": "Conversation context metadata",
            "properties": {
              "messageCount": {
                "type": "integer",
                "example": 1
              },
              "isFollowUp": {
                "type": "boolean",
                "example": false
              }
            }
          }
        }
      },
      "V2BilledResponse": {
        "type": "object",
        "description": "Standard V2 billed response wrapper",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "data": {
            "type": "object",
            "description": "Endpoint-specific response data (varies by endpoint)"
          },
          "billing": {
            "type": "object",
            "description": "Billing details for this call",
            "properties": {
              "charged": {
                "type": "number",
                "description": "Amount charged in USD",
                "example": 0.028
              },
              "currency": {
                "type": "string",
                "example": "USD"
              },
              "balanceBefore": {
                "type": "number",
                "description": "Wallet balance before this call (USD)",
                "example": 54.56
              },
              "balanceAfter": {
                "type": "number",
                "description": "Wallet balance after this call (USD)",
                "example": 54.532
              },
              "endpoint": {
                "type": "string",
                "example": "/v2/astrology/kundli"
              },
              "category": {
                "type": "string",
                "example": "charts"
              }
            }
          },
          "meta": {
            "type": "object",
            "properties": {
              "engine": {
                "type": "string",
                "example": "vedika-intelligence"
              },
              "version": {
                "type": "string",
                "example": "2.1.0"
              },
              "source": {
                "type": "string",
                "description": "Calculation source",
                "example": "vedika-engine"
              },
              "processingTimeMs": {
                "type": "number",
                "example": 145
              }
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "description": "Error response",
        "properties": {
          "success": {
            "type": "boolean",
            "example": false
          },
          "error": {
            "type": "string",
            "description": "Human-readable error message",
            "example": "Invalid birth details: datetime is required"
          },
          "code": {
            "type": "string",
            "description": "Machine-readable error code",
            "example": "VALIDATION_ERROR"
          }
        }
      }
    },
    "responses": {
      "Unauthorized": {
        "description": "Missing or invalid API key",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "example": {
              "success": false,
              "error": "Invalid or missing API key. Include x-api-key header with a valid vk_live_* key.",
              "code": "UNAUTHORIZED"
            }
          }
        }
      },
      "InsufficientBalance": {
        "description": "Insufficient wallet balance",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "example": {
              "success": false,
              "error": "Insufficient wallet balance. Current balance: $0.00. This call costs $0.028. Please top up at https://vedika.io/pricing",
              "code": "INSUFFICIENT_BALANCE"
            }
          }
        }
      },
      "RateLimited": {
        "description": "Rate limit exceeded",
        "content": {
          "application/json": {
[...]
