{
  "openapi": "3.1.0",
  "info": {
    "title": "Service zur Datenr\u00fcckf\u00fchrung",
    "contact": {
      "name": "Developer",
      "email": "zas.dev@optadata-gruppe.de"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "http://springdoc.org"
    },
    "version": "v1.0.0",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/ENTWICKLUNG_2/service-zur-datenruckfuhrung/v1.0.0"
  },
  "externalDocs": {
    "description": "Automated JSON API documentation for API's built with Spring. For this API, you can use the api key special-key to test the authorization filters.",
    "url": "http://swagger.io/terms/"
  },
  "servers": [
    {
      "url": "https://odws.optadata-gruppe.de/drs",
      "description": "prod gateway API-Key"
    },
    {
      "url": "https://odw.optadata-gruppe.de/drs/one",
      "description": "prod gateway one"
    },
    {
      "url": "https://odwsdev.optadata-gruppe.de/drs",
      "description": "dev gateway API-Key"
    },
    {
      "url": "https://odwsdev.optadata-gruppe.de/drs/one",
      "description": "dev gateway one"
    }
  ],
  "paths": {
    "/payment/cheques/{id}": {
      "get": {
        "tags": [
          "Auszahlung"
        ],
        "operationId": "findCobolPayoutTalonById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Gibt an welche Eigenschaften der (verschachtelten) Ressource(n) zur\u00fcckgegeben werden sollen.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "*,inbox(*),items(*)"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentChequeResource"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentChequeResource"
                }
              }
            }
          }
        }
      }
    },
    "/payment/cheques/{id}/items": {
      "get": {
        "tags": [
          "Auszahlung"
        ],
        "operationId": "findCobolPayoutTalonPositionsByPayoutTalonIdNova",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Gibt an welche Eigenschaften der (verschachtelten) Ressource(n) zur\u00fcckgegeben werden sollen.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "items(*,bookingReason(*),changeItems(*))"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentChequesItemsResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentChequesItemsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/payment/cheques/items/{chequeItemId}": {
      "get": {
        "tags": [
          "Auszahlung"
        ],
        "operationId": "findCobolPayoutTalonPositionById",
        "parameters": [
          {
            "name": "chequeItemId",
            "in": "path",
            "description": "chequeItemId",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Gibt an welche Eigenschaften der (verschachtelten) Ressource(n) zur\u00fcckgegeben werden sollen.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "*,bookingReason(*),changeItems(*)"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentChequeItemResource"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentChequeItemResource"
                }
              }
            }
          }
        }
      }
    },
    "/payment/cheques/items/{chequeItemId}/change-items": {
      "get": {
        "tags": [
          "Auszahlung"
        ],
        "operationId": "findChangeItemsByCobolPayoutTalonPositionId",
        "parameters": [
          {
            "name": "chequeItemId",
            "in": "path",
            "description": "chequeItemId",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Gibt an welche Eigenschaften der (verschachtelten) Ressource(n) zur\u00fcckgegeben werden sollen.",
            "required": false,
            "schema": {
              "type": "string",
              "default": "changeItems(*)"
            },
            "example": "changeItems(*,reason(*),extensions(*),type(*),remark(*))"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChangeItemResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ChangeItemResponse"
                }
              }
            }
          }
        }
      }
    },
    "/payment/booking/reasons/{bookingReasonType}/{bookingReasonNumber}": {
      "get": {
        "tags": [
          "Auszahlung"
        ],
        "operationId": "findCobolBookingReasonByDocumentTypeIdAndBookingReason",
        "parameters": [
          {
            "name": "bookingReasonType",
            "in": "path",
            "description": "bookingReasonTypeID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "bookingReasonNumber",
            "in": "path",
            "description": "bookingReasonNumber",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Gibt an welche Eigenschaften der (verschachtelten) Ressource(n) zur\u00fcckgegeben werden sollen.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "*"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BookingReasonResource"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/BookingReasonResource"
                }
              }
            }
          }
        }
      }
    },
    "/eva3/payment/cheques/{id}": {
      "get": {
        "tags": [
          "Auszahlung"
        ],
        "operationId": "findKokobuPayoutTalonById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Gibt an welche Eigenschaften der (verschachtelten) Ressource(n) zur\u00fcckgegeben werden sollen.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "*,inbox(*),items(*)"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentChequeResource"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentChequeResource"
                }
              }
            }
          }
        }
      }
    },
    "/eva3/payment/cheques/{id}/items": {
      "get": {
        "tags": [
          "Auszahlung"
        ],
        "operationId": "findKokobuPayoutPositionsByPayoutId",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Gibt an welche Eigenschaften der (verschachtelten) Ressource(n) zur\u00fcckgegeben werden sollen.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "items(*,bookingReason(*),changeItems(*))"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentChequesItemsResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentChequesItemsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/eva3/payment/cheques/items/{chequeItemId}": {
      "get": {
        "tags": [
          "Auszahlung"
        ],
        "operationId": "findKokobuPayoutTalonPositionById",
        "parameters": [
          {
            "name": "chequeItemId",
            "in": "path",
            "description": "chequeItemId",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Gibt an welche Eigenschaften der (verschachtelten) Ressource(n) zur\u00fcckgegeben werden sollen.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "*,bookingReason(*),changeItems(*)"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentChequeItemResource"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentChequeItemResource"
                }
              }
            }
          }
        }
      }
    },
    "/eva3/payment/cheques/items/{chequeItemId}/change-items": {
      "get": {
        "tags": [
          "Auszahlung"
        ],
        "operationId": "findChangeItemsByKokobuPayoutTalonPositionById",
        "parameters": [
          {
            "name": "chequeItemId",
            "in": "path",
            "description": "chequeItemId",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Gibt an welche Eigenschaften der (verschachtelten) Ressource(n) zur\u00fcckgegeben werden sollen.",
            "required": false,
            "schema": {
              "type": "string",
              "default": "changeItems(*)"
            },
            "example": "changeItems(*,reason(*),extensions(*),type(*),remark(*))"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChangeItemResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ChangeItemResponse"
                }
              }
            }
          }
        }
      }
    },
    "/eva3/payment/booking/reasons/{bookingReasonId}": {
      "get": {
        "tags": [
          "Auszahlung"
        ],
        "operationId": "findKokobuBookingReasonByBookingReasonId",
        "parameters": [
          {
            "name": "bookingReasonId",
            "in": "path",
            "description": "bookingReasonId",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Gibt an welche Eigenschaften der (verschachtelten) Ressource(n) zur\u00fcckgegeben werden sollen.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "*"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BookingReasonResource"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/BookingReasonResource"
                }
              }
            }
          }
        }
      }
    },
    "/eva3/clearing/changes/{returnsPositionProcessingId}": {
      "get": {
        "tags": [
          "Absetzungen"
        ],
        "operationId": "findEva3ChangeByReturnsPositionProcessingId",
        "parameters": [
          {
            "name": "returnsPositionProcessingId",
            "in": "path",
            "description": "Eva3 returnsPositionProcessingId",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Gibt an welche Eigenschaften der (verschachtelten) Ressource(n) zur\u00fcckgegeben werden sollen.",
            "required": false,
            "schema": {
              "type": "string",
              "default": "*"
            },
            "example": "*,items(*),costUnit(*),customer(*),inbox(*)"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChangeResource"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ChangeResource"
                }
              }
            }
          }
        }
      }
    },
    "/eva3/clearing/changes/{returnsPositionProcessingId}/items": {
      "get": {
        "tags": [
          "Absetzungen"
        ],
        "operationId": "findEva3ChangeItemsByReturnsPositionProcessingId",
        "parameters": [
          {
            "name": "returnsPositionProcessingId",
            "in": "path",
            "description": "Eva3 returnsPositionProcessingId",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Gibt an welche Eigenschaften der (verschachtelten) Ressource(n) zur\u00fcckgegeben werden sollen.",
            "required": false,
            "schema": {
              "type": "string",
              "default": "changeItems(*)"
            },
            "example": "changeItems(*,reason(*),extensions(*),type(*),remark(*))"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChangeItemResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ChangeItemResponse"
                }
              }
            }
          }
        }
      }
    },
    "/eva3/clearing/changes/types/{typeId}": {
      "get": {
        "tags": [
          "Absetzungen"
        ],
        "operationId": "findEva3ChangeTypeById",
        "parameters": [
          {
            "name": "typeId",
            "in": "path",
            "description": "cobol reductionTypeId",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Gibt an welche Eigenschaften der (verschachtelten) Ressource(n) zur\u00fcckgegeben werden sollen.",
            "required": false,
            "schema": {
              "type": "string",
              "default": "*"
            },
            "example": "*"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChangeTypeResource"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ChangeTypeResource"
                }
              }
            }
          }
        }
      }
    },
    "/eva3/clearing/changes/remarks/{remarkId}": {
      "get": {
        "tags": [
          "Absetzungen"
        ],
        "operationId": "findEva3ChangeNoteById",
        "parameters": [
          {
            "name": "remarkId",
            "in": "path",
            "description": "Eva3 returnsAnnotationId",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Gibt an welche Eigenschaften der (verschachtelten) Ressource(n) zur\u00fcckgegeben werden sollen.",
            "required": false,
            "schema": {
              "type": "string",
              "default": "*"
            },
            "example": "*"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChangeRemarkResource"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ChangeRemarkResource"
                }
              }
            }
          }
        }
      }
    },
    "/eva3/clearing/changes/reasons/{reasonId}": {
      "get": {
        "tags": [
          "Absetzungen"
        ],
        "operationId": "findEva3ChangeReasonById",
        "parameters": [
          {
            "name": "reasonId",
            "in": "path",
            "description": "eva3 reasonId",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Gibt an welche Eigenschaften der (verschachtelten) Ressource(n) zur\u00fcckgegeben werden sollen.",
            "required": false,
            "schema": {
              "type": "string",
              "default": "*"
            },
            "example": "*"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChangeReasonResource"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ChangeReasonResource"
                }
              }
            }
          }
        }
      }
    },
    "/eva3/clearing/changes/items/{returnsPositionProcessingId}/cheque-items": {
      "get": {
        "tags": [
          "Absetzungen"
        ],
        "operationId": "findChequeItemsByReturnsPositionProcessingId",
        "parameters": [
          {
            "name": "returnsPositionProcessingId",
            "in": "path",
            "description": "eva3 changeItemId",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Gibt an welche Eigenschaften der (verschachtelten) Ressource(n) zur\u00fcckgegeben werden sollen.",
            "required": false,
            "schema": {
              "type": "string",
              "default": "items(*)"
            },
            "example": "items(*,bookingReason(*),changeItems(*))"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentChequesItemsResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentChequesItemsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/eva3/clearing/changes/items/{returnsPositionId}": {
      "get": {
        "tags": [
          "Absetzungen"
        ],
        "operationId": "findEva3ChangeItemByChangeItemExtensionId",
        "parameters": [
          {
            "name": "fields",
            "in": "query",
            "description": "Gibt an welche Eigenschaften der (verschachtelten) Ressource(n) zur\u00fcckgegeben werden sollen.",
            "required": false,
            "schema": {
              "type": "string",
              "default": "*"
            },
            "example": "*,reason(*),extensions(*),type(*),remark(*)"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChangeItemResource"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ChangeItemResource"
                }
              }
            }
          }
        }
      }
    },
    "/eva3/clearing/changes/items/{returnsPositionId}/extensions": {
      "get": {
        "tags": [
          "Absetzungen"
        ],
        "operationId": "findChangeItemExtensionByEva3ChangeInvoiceId",
        "parameters": [
          {
            "name": "returnsPositionId",
            "in": "path",
            "description": "eva3 returnsPositionId",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Gibt an welche Eigenschaften der (verschachtelten) Ressource(n) zur\u00fcckgegeben werden sollen.",
            "required": false,
            "schema": {
              "type": "string",
              "default": "extensions(*)"
            },
            "example": "extensions(*)"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChangeItemExtensionsResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ChangeItemExtensionsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/eva3/clearing/changes/items/returnsCorrectionInfoId/{returnsCorrectionInfoId}": {
      "get": {
        "tags": [
          "Absetzungen"
        ],
        "operationId": "findEva3ChangeItemByReturnsCorrectionInfoId",
        "parameters": [
          {
            "name": "returnsCorrectionInfoId",
            "in": "path",
            "description": "eva3 returnsCorrectionInfoId",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Gibt an welche Eigenschaften der (verschachtelten) Ressource(n) zur\u00fcckgegeben werden sollen.",
            "required": false,
            "schema": {
              "type": "string",
              "default": "*"
            },
            "example": "*,reason(*),extensions(*),type(*),remark(*)"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChangeItemResource"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ChangeItemResource"
                }
              }
            }
          }
        }
      }
    },
    "/eva3/clearing/changes/items/extensions/{extensionId}": {
      "get": {
        "tags": [
          "Absetzungen"
        ],
        "operationId": "findEva3ChangeItemExtensionById",
        "parameters": [
          {
            "name": "extensionId",
            "in": "path",
            "description": "eva3 changeItemExtensionId",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Gibt an welche Eigenschaften der (verschachtelten) Ressource(n) zur\u00fcckgegeben werden sollen.",
            "required": false,
            "schema": {
              "type": "string",
              "default": "*"
            },
            "example": "*"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChangeItemExtensionResource"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ChangeItemExtensionResource"
                }
              }
            }
          }
        }
      }
    },
    "/customers": {
      "get": {
        "tags": [
          "Kundendaten"
        ],
        "operationId": "getAllCustomers",
        "parameters": [
          {
            "name": "fields",
            "in": "query",
            "description": "Gibt an welche Eigenschaften der (verschachtelten) Ressource(n) zur\u00fcckgegeben werden sollen.",
            "required": false,
            "schema": {
              "type": "string",
              "default": "customers(*)"
            },
            "example": "customers(*)"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InlineResponseCustomerResource"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/InlineResponseCustomerResource"
                }
              }
            }
          }
        }
      }
    },
    "/customers/{customerId}": {
      "get": {
        "tags": [
          "Kundendaten"
        ],
        "operationId": "customerById",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Gibt an welche Eigenschaften der (verschachtelten) Ressource(n) zur\u00fcckgegeben werden sollen.",
            "required": false,
            "schema": {
              "type": "string",
              "default": "*"
            },
            "example": "*"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerResource"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerResource"
                }
              }
            }
          }
        }
      }
    },
    "/customers/{customerId}/inboxes": {
      "get": {
        "tags": [
          "Kundendaten"
        ],
        "operationId": "allCustomerInboxes",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Gibt an welche Eigenschaften der (verschachtelten) Ressource(n) zur\u00fcckgegeben werden sollen.",
            "required": false,
            "schema": {
              "type": "string",
              "default": "inboxes(*)"
            },
            "example": "inboxes(*)"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InlineResponseInboxResourceInboxResource"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/InlineResponseInboxResourceInboxResource"
                }
              }
            }
          }
        }
      }
    },
    "/cost-units/{costUnitId}": {
      "get": {
        "tags": [
          "Kostentr\u00e4ger"
        ],
        "operationId": "findODACostUnitById",
        "parameters": [
          {
            "name": "costUnitId",
            "in": "path",
            "description": "costUnitId",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Gibt an welche Eigenschaften der (verschachtelten) Ressource(n) zur\u00fcckgegeben werden sollen.",
            "required": false,
            "schema": {
              "type": "string",
              "default": "*"
            },
            "example": "*"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CostUnitResource"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/CostUnitResource"
                }
              }
            }
          }
        }
      }
    },
    "/clearing": {
      "get": {
        "tags": [
          "Posteinang allgemein + R\u00fcckschicker"
        ],
        "operationId": "clearing",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CollectionModelLink"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/CollectionModelLink"
                }
              }
            }
          }
        }
      }
    },
    "/clearing/returns": {
      "get": {
        "tags": [
          "Posteinang allgemein + R\u00fcckschicker"
        ],
        "operationId": "returnAllReturns",
        "parameters": [
          {
            "name": "fields",
            "in": "query",
            "description": "Gibt an welche Eigenschaften der (verschachtelten) Ressource(n) zur\u00fcckgegeben werden sollen.",
            "required": false,
            "schema": {
              "type": "string",
              "default": "returns(*)"
            },
            "example": "returns(*,inbox(*),customer(*),reasons(*))"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InlineResponseReturnResource"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/InlineResponseReturnResource"
                }
              }
            }
          }
        }
      }
    },
    "/clearing/returns/{returnId}": {
      "get": {
        "tags": [
          "Posteinang allgemein + R\u00fcckschicker"
        ],
        "operationId": "returnById",
        "parameters": [
          {
            "name": "returnId",
            "in": "path",
            "description": "Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Gibt an welche Eigenschaften der (verschachtelten) Ressource(n) zur\u00fcckgegeben werden sollen.",
            "required": false,
            "schema": {
              "type": "string",
              "default": "*"
            },
            "example": "*,inbox(*),customer(*),reasons(*)"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReturnResource"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ReturnResource"
                }
              }
            }
          }
        }
      }
    },
    "/clearing/returns/{returnId}/reasons": {
      "get": {
        "tags": [
          "Posteinang allgemein + R\u00fcckschicker"
        ],
        "operationId": "returnReasonsById",
        "parameters": [
          {
            "name": "returnId",
            "in": "path",
            "description": "Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Gibt an welche Eigenschaften der (verschachtelten) Ressource(n) zur\u00fcckgegeben werden sollen.",
            "required": false,
            "schema": {
              "type": "string",
              "default": "reasons(*)"
            },
            "example": "reasons(*)"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InlineResponseReturnReasonResource"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/InlineResponseReturnReasonResource"
                }
              }
            }
          }
        }
      }
    },
    "/clearing/returns/reasons": {
      "get": {
        "tags": [
          "Posteinang allgemein + R\u00fcckschicker"
        ],
        "operationId": "returnAllReasons",
        "parameters": [
          {
            "name": "fields",
            "in": "query",
            "description": "Gibt an welche Eigenschaften der (verschachtelten) Ressource(n) zur\u00fcckgegeben werden sollen.",
            "required": false,
            "schema": {
              "type": "string",
              "default": "reasons(*)"
            },
            "example": "reasons(*)"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InlineResponseReturnReasonResource"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/InlineResponseReturnReasonResource"
                }
              }
            }
          }
        }
      }
    },
    "/clearing/returns/reasons/{reasonsId}/returns": {
      "get": {
        "tags": [
          "Posteinang allgemein + R\u00fcckschicker"
        ],
        "operationId": "returnsByReasonId",
        "parameters": [
          {
            "name": "reasonsId",
            "in": "path",
            "description": "Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Gibt an welche Eigenschaften der (verschachtelten) Ressource(n) zur\u00fcckgegeben werden sollen.",
            "required": false,
            "schema": {
              "type": "string",
              "default": "returns(*)"
            },
            "example": "returns(*)"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InlineResponseReturnResource"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/InlineResponseReturnResource"
                }
              }
            }
          }
        }
      }
    },
    "/clearing/returns/reasons/{reasonId}": {
      "get": {
        "tags": [
          "Posteinang allgemein + R\u00fcckschicker"
        ],
        "operationId": "returnReasonByReasonId",
        "parameters": [
          {
            "name": "reasonId",
            "in": "path",
            "description": "Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Gibt an welche Eigenschaften der (verschachtelten) Ressource(n) zur\u00fcckgegeben werden sollen.",
            "required": false,
            "schema": {
              "type": "string",
              "default": "*"
            },
            "example": "*,returns(*)"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReturnReasonResource"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ReturnReasonResource"
                }
              }
            }
          }
        }
      }
    },
    "/clearing/inboxes": {
      "get": {
        "tags": [
          "Posteinang allgemein + R\u00fcckschicker"
        ],
        "operationId": "getInboxes",
        "parameters": [
          {
            "name": "fields",
            "in": "query",
            "description": "Gibt an welche Eigenschaften der (verschachtelten) Ressource(n) zur\u00fcckgegeben werden sollen.",
            "required": false,
            "schema": {
              "type": "string",
              "default": "inboxes(*)"
            },
            "example": "inboxes(*)"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InlineResponseInboxResourceInboxResource"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/InlineResponseInboxResourceInboxResource"
                }
              }
            }
          }
        }
      }
    },
    "/clearing/inboxes/{inboxId}": {
      "get": {
        "tags": [
          "Posteinang allgemein + R\u00fcckschicker"
        ],
        "operationId": "inboxesById",
        "parameters": [
          {
            "name": "inboxId",
            "in": "path",
            "description": "Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Gibt an welche Eigenschaften der (verschachtelten) Ressource(n) zur\u00fcckgegeben werden sollen.",
            "required": false,
            "schema": {
              "type": "string",
              "default": "*"
            },
            "example": "*,prescriptions(*)"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/InboxResource"
                    },
                    {
                      "$ref": "#/components/schemas/Inbox300Resource"
                    },
                    {
                      "$ref": "#/components/schemas/Inbox302HEIResource"
                    },
                    {
                      "$ref": "#/components/schemas/Inbox302Resource"
                    }
                  ]
                }
              },
              "application/xml": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/InboxResource"
                    },
                    {
                      "$ref": "#/components/schemas/Inbox300Resource"
                    },
                    {
                      "$ref": "#/components/schemas/Inbox302HEIResource"
                    },
                    {
                      "$ref": "#/components/schemas/Inbox302Resource"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/clearing/inboxes/{inboxId}/returns": {
      "get": {
        "tags": [
          "Posteinang allgemein + R\u00fcckschicker"
        ],
        "operationId": "getReturnsByInboxId",
        "parameters": [
          {
            "name": "inboxId",
            "in": "path",
            "description": "Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Gibt an welche Eigenschaften der (verschachtelten) Ressource(n) zur\u00fcckgegeben werden sollen.",
            "required": false,
            "schema": {
              "type": "string",
              "default": "returns(*)"
            },
            "example": "returns(*,inbox(*),customer(*),reasons(*))"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InlineResponseReturnResource"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/InlineResponseReturnResource"
                }
              }
            }
          }
        }
      }
    },
    "/clearing/inboxes/{inboxId}/cheques": {
      "get": {
        "tags": [
          "Posteinang allgemein + R\u00fcckschicker"
        ],
        "operationId": "getChequesByInboxId",
        "parameters": [
          {
            "name": "inboxId",
            "in": "path",
            "description": "Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Gibt an welche Eigenschaften der (verschachtelten) Ressource(n) zur\u00fcckgegeben werden sollen.",
            "required": false,
            "schema": {
              "type": "string",
              "default": "cheques(*)"
            },
            "example": "cheques(*,inbox(*),items(*))"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InlineResponsePaymentChequeResource"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/InlineResponsePaymentChequeResource"
                }
              }
            }
          }
        }
      }
    },
    "/clearing/inboxes/{inboxId}/changes": {
      "get": {
        "tags": [
          "Posteinang allgemein + R\u00fcckschicker"
        ],
        "operationId": "getChangesByInboxId",
        "parameters": [
          {
            "name": "inboxId",
            "in": "path",
            "description": "Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Gibt an welche Eigenschaften der (verschachtelten) Ressource(n) zur\u00fcckgegeben werden sollen.",
            "required": false,
            "schema": {
              "type": "string",
              "default": "changes(*)"
            },
            "example": "changes(*,items(*),costUnit(*),customer(*),inbox(*))"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InlineResponseChangeResource"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/InlineResponseChangeResource"
                }
              }
            }
          }
        }
      }
    },
    "/clearing/changes/{changeId}": {
      "get": {
        "tags": [
          "Absetzungen"
        ],
        "operationId": "findCobolChangeById",
        "parameters": [
          {
            "name": "changeId",
            "in": "path",
            "description": "Cobol changeId",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Gibt an welche Eigenschaften der (verschachtelten) Ressource(n) zur\u00fcckgegeben werden sollen.",
            "required": false,
            "schema": {
              "type": "string",
              "default": "*"
            },
            "example": "*,items(*),costUnit(*),customer(*),inbox(*)"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChangeResource"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ChangeResource"
                }
              }
            }
          }
        }
      }
    },
    "/clearing/changes/{changeId}/items": {
      "get": {
        "tags": [
          "Absetzungen"
        ],
        "operationId": "findCobolChangeItemsByChangeId",
        "parameters": [
          {
            "name": "changeId",
            "in": "path",
            "description": "Cobol changeItemId",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Gibt an welche Eigenschaften der (verschachtelten) Ressource(n) zur\u00fcckgegeben werden sollen.",
            "required": false,
            "schema": {
              "type": "string",
              "default": "items(*)"
            },
            "example": "changeItems(*,reason(*),extensions(*),type(*),remark(*))"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChangeItemResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ChangeItemResponse"
                }
              }
            }
          }
        }
      }
    },
    "/clearing/changes/types/{typeId}": {
      "get": {
        "tags": [
          "Absetzungen"
        ],
        "operationId": "findCobolChangeTypeById",
        "parameters": [
          {
            "name": "typeId",
            "in": "path",
            "description": "cobol reductionTypeId",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Gibt an welche Eigenschaften der (verschachtelten) Ressource(n) zur\u00fcckgegeben werden sollen.",
            "required": false,
            "schema": {
              "type": "string",
              "default": "*"
            },
            "example": "*"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChangeTypeResource"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ChangeTypeResource"
                }
              }
            }
          }
        }
      }
    },
    "/clearing/changes/remarks/{remarkId}": {
      "get": {
        "tags": [
          "Absetzungen"
        ],
        "operationId": "findCobolChangeNoteById",
        "parameters": [
          {
            "name": "remarkId",
            "in": "path",
            "description": "Cobol changeNoteId",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Gibt an welche Eigenschaften der (verschachtelten) Ressource(n) zur\u00fcckgegeben werden sollen.",
            "required": false,
            "schema": {
              "type": "string",
              "default": "*"
            },
            "example": "*"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChangeRemarkResource"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ChangeRemarkResource"
                }
              }
            }
          }
        }
      }
    },
    "/clearing/changes/reasons/{reasonId}": {
      "get": {
        "tags": [
          "Absetzungen"
        ],
        "operationId": "findCobolChangeReasonById",
        "parameters": [
          {
            "name": "reasonId",
            "in": "path",
            "description": "Cobol changeItemId",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Gibt an welche Eigenschaften der (verschachtelten) Ressource(n) zur\u00fcckgegeben werden sollen.",
            "required": false,
            "schema": {
              "type": "string",
              "default": "*"
            },
            "example": "*"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChangeReasonResource"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ChangeReasonResource"
                }
              }
            }
          }
        }
      }
    },
    "/clearing/changes/items/{changeItemId}": {
      "get": {
        "tags": [
          "Absetzungen"
        ],
        "operationId": "findCobolChangeItemById",
        "parameters": [
          {
            "name": "changeItemId",
            "in": "path",
            "description": "Cobol changeItemId",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Gibt an welche Eigenschaften der (verschachtelten) Ressource(n) zur\u00fcckgegeben werden sollen.",
            "required": false,
            "schema": {
              "type": "string",
              "default": "changeItems(*)"
            },
            "example": "*,reason(*),extensions(*),type(*),remark(*)"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChangeItemResource"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ChangeItemResource"
                }
              }
            }
          }
        }
      }
    },
    "/clearing/changes/items/{changeItemId}/extensions": {
      "get": {
        "tags": [
          "Absetzungen"
        ],
        "operationId": "findChangeItemExtensionByCobolChangeInvoiceId",
        "parameters": [
          {
            "name": "changeItemId",
            "in": "path",
            "description": "Cobol changeInvoiceId",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Gibt an welche Eigenschaften der (verschachtelten) Ressource(n) zur\u00fcckgegeben werden sollen.",
            "required": false,
            "schema": {
              "type": "string",
              "default": "extensions(*)"
            },
            "example": "extensions(*)"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChangeItemExtensionsResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ChangeItemExtensionsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/clearing/changes/items/{changeItemId}/cheque-items": {
      "get": {
        "tags": [
          "Absetzungen"
        ],
        "operationId": "findChequeItemsByCobolChangeItemId",
        "parameters": [
          {
            "name": "changeItemId",
            "in": "path",
            "description": "Cobol changeItemId",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Gibt an welche Eigenschaften der (verschachtelten) Ressource(n) zur\u00fcckgegeben werden sollen.",
            "required": false,
            "schema": {
              "type": "string",
              "default": "items(*)"
            },
            "example": "items(*,bookingReason(*),changeItems(*))"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentChequesItemsResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentChequesItemsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/clearing/changes/items/extensions/{extensionId}": {
      "get": {
        "tags": [
          "Absetzungen"
        ],
        "operationId": "findChangeItemExtensionById",
        "parameters": [
          {
            "name": "extensionId",
            "in": "path",
            "description": "Cobol changeItemExtensionId",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Gibt an welche Eigenschaften der (verschachtelten) Ressource(n) zur\u00fcckgegeben werden sollen.",
            "required": false,
            "schema": {
              "type": "string",
              "default": "*"
            },
            "example": "*"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChangeItemExtensionResource"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ChangeItemExtensionResource"
                }
              }
            }
          }
        }
      }
    },
    "/clearing/changes/documents/{documentId}": {
      "get": {
        "tags": [
          "Absetzungen"
        ],
        "operationId": "findReturnDocumentsByDocumentNumber",
        "parameters": [
          {
            "name": "documentId",
            "in": "path",
            "description": "ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "byte"
                }
              },
              "application/json": {
                "schema": {
                  "type": "string",
                  "format": "byte"
                }
              }
            }
          }
        }
      }
    },
    "/clearing/changes/allDocuments/{documentNumber}": {
      "get": {
        "tags": [
          "Absetzungen"
        ],
        "operationId": "findAllReturnsDocsByDocumentNumber",
        "parameters": [
          {
            "name": "documentNumber",
            "in": "path",
            "description": "Belegnummer",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "byte"
                }
              },
              "application/json": {
                "schema": {
                  "type": "string",
                  "format": "byte"
                }
              }
            }
          }
        }
      }
    },
    "/clearing/302": {
      "get": {
        "tags": [
          "\u00a7302 HiMed Daten"
        ],
        "operationId": "clearing302",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CollectionModelLink"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/CollectionModelLink"
                }
              }
            }
          }
        }
      }
    },
    "/clearing/302/prescriptions": {
      "get": {
        "tags": [
          "\u00a7302 HiMed Daten"
        ],
        "operationId": "findAllPrescriptions",
        "parameters": [
          {
            "name": "fields",
            "in": "query",
            "description": "Gibt an welche Eigenschaften der (verschachtelten) Ressource(n) zur\u00fcckgegeben werden sollen.",
            "required": false,
            "schema": {
              "type": "string",
              "default": "prescriptions(*)"
            },
            "example": "prescriptions(*,inbox(*),items(*),costUnit(*))"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InlineResponsePrescription302Resource"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/InlineResponsePrescription302Resource"
                }
              }
            }
          }
        }
      }
    },
    "/clearing/302/prescriptions/{prescriptionId}/{invoiceId}": {
      "get": {
        "tags": [
          "\u00a7302 HiMed Daten"
        ],
        "operationId": "findPrescriptionByPrescriptionIdAndInternalInvoiceId",
        "parameters": [
          {
            "name": "prescriptionId",
            "in": "path",
            "description": "prescriptionId",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "invoiceId",
            "in": "path",
            "description": "invoiceId",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Gibt an welche Eigenschaften der (verschachtelten) Ressource(n) zur\u00fcckgegeben werden sollen.",
            "required": false,
            "schema": {
              "type": "string",
              "default": "*"
            },
            "example": "*,inbox(*),items(*),costUnit(*)"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Prescription302Resource"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Prescription302Resource"
                }
              }
            }
          }
        }
      }
    },
    "/clearing/302/prescriptions/{prescriptionId}/{invoiceId}/statistics": {
      "get": {
        "tags": [
          "\u00a7302 HiMed Daten"
        ],
        "operationId": "findStatisticsByPrescriptionIdAndInternalInvoiceId",
        "parameters": [
          {
            "name": "prescriptionId",
            "in": "path",
            "description": "prescriptionId",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "invoiceId",
            "in": "path",
            "description": "invoiceId",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Gibt an welche Eigenschaften der (verschachtelten) Ressource(n) zur\u00fcckgegeben werden sollen.",
            "required": false,
            "schema": {
              "type": "string",
              "default": "statistics(*)"
            },
            "example": "statistics(*)"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InlineResponseAccountStatisticResource"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/InlineResponseAccountStatisticResource"
                }
              }
            }
          }
        }
      }
    },
    "/clearing/302/prescriptions/{prescriptionId}/{invoiceId}/items": {
      "get": {
        "tags": [
          "\u00a7302 HiMed Daten"
        ],
        "operationId": "findItemsByPrescriptionIdAndInternalInvoiceId",
        "parameters": [
          {
            "name": "prescriptionId",
            "in": "path",
            "description": "prescriptionId",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "invoiceId",
            "in": "path",
            "description": "invoiceId",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Gibt an welche Eigenschaften der (verschachtelten) Ressource(n) zur\u00fcckgegeben werden sollen.",
            "required": false,
            "schema": {
              "type": "string",
              "default": "items(*)"
            },
            "example": "items(*)"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InlineResponsePrescription302ItemResource"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/InlineResponsePrescription302ItemResource"
                }
              }
            }
          }
        }
      }
    },
    "/clearing/302/prescriptions/{prescriptionId}/{invoiceId}/items/{prescriptionItemId}/{positionTypeEnum}": {
      "get": {
        "tags": [
          "\u00a7302 HiMed Daten"
        ],
        "operationId": "findItemsByPrescriptionIdAndInternalInvoiceIdAndItemId",
        "parameters": [
          {
            "name": "prescriptionId",
            "in": "path",
            "description": "prescriptionId",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "invoiceId",
            "in": "path",
            "description": "invoiceId",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "prescriptionItemId",
            "in": "path",
            "description": "prescriptionItemId",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "positionTypeEnum",
            "in": "path",
            "description": "positionTypeEnum",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/PositionTypeEnum"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Gibt an welche Eigenschaften der (verschachtelten) Ressource(n) zur\u00fcckgegeben werden sollen.",
            "required": false,
            "schema": {
              "type": "string",
              "default": "*"
            },
            "example": "*"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Prescription302ItemResource"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Prescription302ItemResource"
                }
              }
            }
          }
        }
      }
    },
    "/clearing/302/prescriptions/{prescriptionId}/{invoiceId}/documentInfos": {
      "get": {
        "tags": [
          "\u00a7302 HiMed Daten"
        ],
        "summary": "Gibt eine Liste von DocumentInfos mit Linkliste f\u00fcr Images zurueck.",
        "operationId": "findMapDocumentInfoIdDocumentTypeIdByPrescriptionIdAndInternalInvoiceId",
        "parameters": [
          {
            "name": "prescriptionId",
            "in": "path",
            "description": "prescriptionId",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "invoiceId",
            "in": "path",
            "description": "invoiceId",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ArchiveDocumentInfoResource"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ArchiveDocumentInfoResource"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/clearing/302/prescriptions/{prescriptionId}/{invoiceId}/documentInfos/{documentInfoId}/doc/{docName}": {
      "get": {
        "tags": [
          "\u00a7302 HiMed Daten"
        ],
        "summary": "Gibt eine einzelne Image-Datei nach Namen zurueck.",
        "operationId": "findSingleDocByPrescriptionIdAndInternalInvoiceIdAndInfoIdAndName",
        "parameters": [
          {
            "name": "prescriptionId",
            "in": "path",
            "description": "prescriptionId",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "invoiceId",
            "in": "path",
            "description": "invoiceId",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "docName",
            "in": "path",
            "description": "docName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "documentInfoId",
            "in": "path",
            "description": "documentInfoId",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "image/jpeg": {
                "schema": {
                  "type": "string",
                  "format": "byte"
                }
              }
            }
          }
        }
      }
    },
    "/clearing/302/prescriptions/{prescriptionId}/{invoiceId}/doc": {
      "get": {
        "tags": [
          "\u00a7302 HiMed Daten"
        ],
        "summary": "Gibt die Vorder- oder R\u00fcckseite des gescannten Images eines Belegs zur\u00fcck",
        "operationId": "findReceiptDocumentInfoDocByPrescriptionIdAndInternalInvoiceId",
        "parameters": [
          {
            "name": "prescriptionId",
            "in": "path",
            "description": "prescriptionId",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "invoiceId",
            "in": "path",
            "description": "invoiceId",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "frontSide",
            "in": "query",
            "description": "Vorderseite/R\u00fcckseite",
            "required": true,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "image/jpeg": {
                "schema": {
                  "type": "string",
                  "format": "byte"
                }
              }
            }
          }
        }
      }
    },
    "/clearing/302/prescriptions/{prescriptionId}/{invoiceId}/archiveDocuments": {
      "get": {
        "tags": [
          "\u00a7302 HiMed Daten"
        ],
        "summary": "Gibt die Archivbilder f\u00fcr einen Beleg zur\u00fcck",
        "operationId": "findArchiveDocumentByPrescriptionIdAndInternalInvoiceId",
        "parameters": [
          {
            "name": "prescriptionId",
            "in": "path",
            "description": "prescriptionId",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "invoiceId",
            "in": "path",
            "description": "invoiceId",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "multipart/form-data": {
                "schema": {
                  "$ref": "#/components/schemas/MultiValueMapStringObject"
                }
              }
            }
          }
        }
      }
    },
    "/clearing/302/prescriptions/{prescriptionId}/documentInfos": {
      "get": {
        "tags": [
          "\u00a7302 HiMed Daten"
        ],
        "summary": "Gibt eine Liste von DocumentInfos mit Linkliste f\u00fcr Images zurueck.",
        "operationId": "findMapDocumentInfoIdDocumentTypeIdByPrescriptionId",
        "parameters": [
          {
            "name": "prescriptionId",
            "in": "path",
            "description": "prescriptionId",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ArchiveDocumentInfoResource"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ArchiveDocumentInfoResource"
                  }
                }
              }
            }
          }
        },
        "deprecated": true
      }
    },
    "/clearing/302/prescriptions/{prescriptionId}/documentInfos/{documentInfoId}/doc/{docName}": {
      "get": {
        "tags": [
          "\u00a7302 HiMed Daten"
        ],
        "summary": "Gibt eine einzelne Image-Datei nach Namen zurueck.",
        "operationId": "findSingleDocByPrescriptionIdAndInfoIdAndName",
        "parameters": [
          {
            "name": "prescriptionId",
            "in": "path",
            "description": "prescriptionId",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "docName",
            "in": "path",
            "description": "docName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "documentInfoId",
            "in": "path",
            "description": "documentInfoId",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "image/jpeg": {
                "schema": {
                  "type": "string",
                  "format": "byte"
                }
              }
            }
          }
        },
        "deprecated": true
      }
    },
    "/clearing/302/prescriptions/statistics/{statisticId}": {
      "get": {
        "tags": [
          "\u00a7302 HiMed Daten"
        ],
        "operationId": "findPrescriptionStatisticById",
        "parameters": [
          {
            "name": "statisticId",
            "in": "path",
            "description": "statisticId",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Gibt an welche Eigenschaften der (verschachtelten) Ressource(n) zur\u00fcckgegeben werden sollen.",
            "required": false,
            "schema": {
              "type": "string",
              "default": "*"
            },
            "example": "*"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountStatisticResource"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/AccountStatisticResource"
                }
              }
            }
          }
        }
      }
    },
    "/clearing/302/positions/{positionId}/statistics": {
      "get": {
        "tags": [
          "\u00a7302 HiMed Daten"
        ],
        "operationId": "findStatisticsByPositionId",
        "parameters": [
          {
            "name": "positionId",
            "in": "path",
            "description": "positionId",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Gibt an welche Eigenschaften der (verschachtelten) Ressource(n) zur\u00fcckgegeben werden sollen.",
            "required": false,
            "schema": {
              "type": "string",
              "default": "statistics(*)"
            },
            "example": "statistics(*)"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InlineResponseAccountStatisticResource"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/InlineResponseAccountStatisticResource"
                }
              }
            }
          }
        }
      }
    },
    "/clearing/302/positions/statistics/{statisticId}": {
      "get": {
        "tags": [
          "\u00a7302 HiMed Daten"
        ],
        "operationId": "findPositionStatisticById",
        "parameters": [
          {
            "name": "statisticId",
            "in": "path",
            "description": "statisticId",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Gibt an welche Eigenschaften der (verschachtelten) Ressource(n) zur\u00fcckgegeben werden sollen.",
            "required": false,
            "schema": {
              "type": "string",
              "default": "*"
            },
            "example": "*"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountStatisticResource"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/AccountStatisticResource"
                }
              }
            }
          }
        }
      }
    },
    "/clearing/302/inboxes": {
      "get": {
        "tags": [
          "\u00a7302 HiMed Daten"
        ],
        "operationId": "getInboxes302",
        "parameters": [
          {
            "name": "fromDate",
            "in": "query",
            "description": "von-Datum darf maximal 6 Monate in der Vergangenheit liegen",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "example": "2023-07-01T00:00:00.000"
          },
          {
            "name": "untilDate",
            "in": "query",
            "description": "von- und bis-Datum d\u00fcrfen maximal 4 Wochen auseinander liegen. Falls kein Wert \u00fcbertragen wird, wird der jetzige Zeitpunkt genutzt.",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time",
              "default": "2026-02-04T11:19:15.964189819"
            },
            "example": "2023-07-05T23:59:59.999"
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Gibt an welche Eigenschaften der (verschachtelten) Ressource(n) zur\u00fcckgegeben werden sollen.",
            "required": false,
            "schema": {
              "type": "string",
              "default": "inboxes(*)"
            },
            "example": "inboxes(*)"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InlineResponseInboxResourceInbox302Resource"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/InlineResponseInboxResourceInbox302Resource"
                }
              }
            }
          }
        }
      }
    },
    "/clearing/302/inboxes/{inboxId}": {
      "get": {
        "tags": [
          "\u00a7302 HiMed Daten"
        ],
        "operationId": "getInbox302ById",
        "parameters": [
          {
            "name": "inboxId",
            "in": "path",
            "description": "Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Gibt an welche Eigenschaften der (verschachtelten) Ressource(n) zur\u00fcckgegeben werden sollen.",
            "required": false,
            "schema": {
              "type": "string",
              "default": "*"
            },
            "example": "*,prescriptions(*)"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Inbox302Resource"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Inbox302Resource"
                }
              }
            }
          }
        }
      }
    },
    "/clearing/302/inboxes/{inboxId}/prescriptions": {
      "get": {
        "tags": [
          "\u00a7302 HiMed Daten"
        ],
        "operationId": "getPrescriptions302ByInboxId",
        "parameters": [
          {
            "name": "inboxId",
            "in": "path",
            "description": "Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Gibt an welche Eigenschaften der (verschachtelten) Ressource(n) zur\u00fcckgegeben werden sollen.",
            "required": false,
            "schema": {
              "type": "string",
              "default": "prescriptions(*)"
            },
            "example": "prescriptions(*,inbox(*),items(*),costUnit(*))"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InlineResponsePrescription302Resource"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/InlineResponsePrescription302Resource"
                }
              }
            }
          }
        }
      }
    },
    "/clearing/302/HEI/prescriptions": {
      "get": {
        "tags": [
          "\u00a7302 HeiMi Daten"
        ],
        "operationId": "findAllPrescriptions_1",
        "parameters": [
          {
            "name": "fields",
            "in": "query",
            "description": "Gibt an welche Eigenschaften der (verschachtelten) Ressource(n) zur\u00fcckgegeben werden sollen.",
            "required": false,
            "schema": {
              "type": "string",
              "default": "prescriptions(*)"
            },
            "example": "prescriptions(*,inbox(*),items(*),costUnit(*))"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InlineResponsePrescription302HEIResource"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/InlineResponsePrescription302HEIResource"
                }
              }
            }
          }
        }
      }
    },
    "/clearing/302/HEI/prescriptions/{prescriptionId}": {
      "get": {
        "tags": [
          "\u00a7302 HeiMi Daten"
        ],
        "operationId": "findPrescriptionById",
        "parameters": [
          {
            "name": "prescriptionId",
            "in": "path",
            "description": "prescriptionId",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Gibt an welche Eigenschaften der (verschachtelten) Ressource(n) zur\u00fcckgegeben werden sollen.",
            "required": false,
            "schema": {
              "type": "string",
              "default": "*"
            },
            "example": "*,inbox(*),items(*),costUnit(*)"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Prescription302HEIResource"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Prescription302HEIResource"
                }
              }
            }
          }
        }
      }
    },
    "/clearing/302/HEI/prescriptions/{prescriptionId}/statistics": {
      "get": {
        "tags": [
          "\u00a7302 HeiMi Daten"
        ],
        "operationId": "findStatisticsByPrescriptionId",
        "parameters": [
          {
            "name": "prescriptionId",
            "in": "path",
            "description": "prescriptionId",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Gibt an welche Eigenschaften der (verschachtelten) Ressource(n) zur\u00fcckgegeben werden sollen.",
            "required": false,
            "schema": {
              "type": "string",
              "default": "statistics(*)"
            },
            "example": "statistics(*)"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InlineResponseAccountStatisticResource"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/InlineResponseAccountStatisticResource"
                }
              }
            }
          }
        }
      }
    },
    "/clearing/302/HEI/prescriptions/{prescriptionId}/items": {
      "get": {
        "tags": [
          "\u00a7302 HeiMi Daten"
        ],
        "operationId": "findItemsByPrescriptionId",
        "parameters": [
          {
            "name": "prescriptionId",
            "in": "path",
            "description": "prescriptionId",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Gibt an welche Eigenschaften der (verschachtelten) Ressource(n) zur\u00fcckgegeben werden sollen.",
            "required": false,
            "schema": {
              "type": "string",
              "default": "items(*)"
            },
            "example": "items(*)"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InlineResponsePrescription302HEIItemResource"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/InlineResponsePrescription302HEIItemResource"
                }
              }
            }
          }
        }
      }
    },
    "/clearing/302/HEI/prescriptions/{prescriptionId}/documentInfos": {
      "get": {
        "tags": [
          "\u00a7302 HeiMi Daten"
        ],
        "summary": "Gibt eine Liste von DocumentInfos mit Linkliste f\u00fcr Images zurueck.",
        "operationId": "findMapDocumentInfoIdDocumentTypeIdByPrescriptionHEIId",
        "parameters": [
          {
            "name": "prescriptionId",
            "in": "path",
            "description": "prescriptionId",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ArchiveDocumentInfoResource"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ArchiveDocumentInfoResource"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/clearing/302/HEI/prescriptions/{prescriptionId}/documentInfos/{documentInfoId}/doc/{docName}": {
      "get": {
        "tags": [
          "\u00a7302 HeiMi Daten"
        ],
        "summary": "Gibt eine einzelne Image-Datei nach Namen zurueck.",
        "operationId": "findSingleDocByName",
        "parameters": [
          {
            "name": "prescriptionId",
            "in": "path",
            "description": "prescriptionId",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "docName",
            "in": "path",
            "description": "docName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "documentInfoId",
            "in": "path",
            "description": "documentInfoId",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "image/jpeg": {
                "schema": {
                  "type": "string",
                  "format": "byte"
                }
              }
            }
          }
        }
      }
    },
    "/clearing/302/HEI/prescriptions/{prescriptionId}/doc": {
      "get": {
        "tags": [
          "\u00a7302 HeiMi Daten"
        ],
        "summary": "Gibt die Vorder- oder R\u00fcckseite des gescannten Images eines Belegs zur\u00fcck",
        "operationId": "findReceiptbyDocumentInfoDoc",
        "parameters": [
          {
            "name": "prescriptionId",
            "in": "path",
            "description": "prescriptionId",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "frontSide",
            "in": "query",
            "description": "Vorderseite/R\u00fcckseite",
            "required": true,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "image/jpeg": {
                "schema": {
                  "type": "string",
                  "format": "byte"
                }
              }
            }
          }
        }
      }
    },
    "/clearing/302/HEI/prescriptions/{prescriptionId}/archiveDocuments": {
      "get": {
        "tags": [
          "\u00a7302 HeiMi Daten"
        ],
        "summary": "Gibt die Archivbilder f\u00fcr einen Beleg zur\u00fcck",
        "operationId": "findArchiveDocumentbyDocumentInfo",
        "parameters": [
          {
            "name": "prescriptionId",
            "in": "path",
            "description": "prescriptionId",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "multipart/form-data": {
                "schema": {
                  "$ref": "#/components/schemas/MultiValueMapStringObject"
                }
[...]
