{
  "openapi": "3.1.0",
  "info": {
    "title": "Mux Video API",
    "version": "1.0.0",
    "description": "Mux Video is an API-first platform for video. The API provides functionality for managing video assets, live streams, playback IDs, uploads, signing keys, and delivery usage.",
    "contact": {
      "name": "Mux",
      "url": "https://docs.mux.com"
    },
    "x-apisguru-categories": [
      "media"
    ],
    "x-logo": {
      "url": "https://mux.com/favicon.ico"
    }
  },
  "servers": [
    {
      "url": "https://api.mux.com"
    }
  ],
  "security": [
    {
      "basicAuth": []
    }
  ],
  "components": {
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "Use your Mux access token ID as the username and token secret as the password."
      }
    },
    "schemas": {
      "Asset": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "created_at": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "preparing",
              "ready",
              "errored"
            ]
          },
          "duration": {
            "type": "number"
          },
          "max_stored_resolution": {
            "type": "string",
            "enum": [
              "Audio only",
              "SD",
              "HD",
              "FHD",
              "UHD"
            ]
          },
          "resolution_tier": {
            "type": "string",
            "enum": [
              "audio-only",
              "720p",
              "1080p",
              "1440p",
              "2160p"
            ]
          },
          "max_resolution_tier": {
            "type": "string",
            "enum": [
              "1080p",
              "1440p",
              "2160p"
            ]
          },
          "video_quality": {
            "type": "string",
            "enum": [
              "basic",
              "plus",
              "premium"
            ]
          },
          "max_stored_frame_rate": {
            "type": "number"
          },
          "aspect_ratio": {
            "type": "string"
          },
          "playback_ids": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PlaybackID"
            }
          },
          "tracks": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Track"
            }
          },
          "errors": {
            "type": "object",
            "properties": {
              "type": {
                "type": "string"
              },
              "messages": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          },
          "upload_id": {
            "type": "string"
          },
          "is_live": {
            "type": "boolean"
          },
          "passthrough": {
            "type": "string"
          },
          "live_stream_id": {
            "type": "string"
          },
          "master": {
            "type": "object",
            "properties": {
              "status": {
                "type": "string"
              },
              "url": {
                "type": "string"
              }
            }
          },
          "master_access": {
            "type": "string",
            "enum": [
              "temporary",
              "none"
            ]
          },
          "test": {
            "type": "boolean"
          },
          "ingest_type": {
            "type": "string",
            "enum": [
              "on_demand_url",
              "on_demand_direct_upload",
              "on_demand_clip",
              "live_rtmp",
              "live_srt"
            ]
          },
          "normalize_audio": {
            "type": "boolean"
          },
          "static_renditions": {
            "type": "object"
          },
          "recording_times": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "non_standard_input_reasons": {
            "type": "object"
          },
          "meta": {
            "type": "object",
            "properties": {
              "title": {
                "type": "string"
              },
              "creator_id": {
                "type": "string"
              },
              "external_id": {
                "type": "string"
              }
            }
          }
        }
      },
      "PlaybackID": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "policy": {
            "type": "string",
            "enum": [
              "public",
              "signed",
              "drm"
            ]
          },
          "drm_configuration_id": {
            "type": "string"
          }
        }
      },
      "Track": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "video",
              "audio",
              "text"
            ]
          },
          "duration": {
            "type": "number"
          },
          "max_width": {
            "type": "integer"
          },
          "max_height": {
            "type": "integer"
          },
          "max_frame_rate": {
            "type": "number"
          },
          "max_channels": {
            "type": "integer"
          },
          "text_type": {
            "type": "string"
          },
          "text_source": {
            "type": "string"
          },
          "language_code": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "closed_captions": {
            "type": "boolean"
          },
          "passthrough": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "preparing",
              "ready",
              "errored",
              "deleted"
            ]
          },
          "primary": {
            "type": "boolean"
          }
        }
      },
      "LiveStream": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "created_at": {
            "type": "string"
          },
          "stream_key": {
            "type": "string"
          },
          "active_asset_id": {
            "type": "string"
          },
          "recent_asset_ids": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "idle",
              "disabled"
            ]
          },
          "playback_ids": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PlaybackID"
            }
          },
          "new_asset_settings": {
            "type": "object"
          },
          "passthrough": {
            "type": "string"
          },
          "reconnect_window": {
            "type": "number"
          },
          "reduced_latency": {
            "type": "boolean"
          },
          "low_latency": {
            "type": "boolean"
          },
          "latency_mode": {
            "type": "string",
            "enum": [
              "low",
              "reduced",
              "standard"
            ]
          },
          "test": {
            "type": "boolean"
          },
          "simulcast_targets": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "Upload": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "timeout": {
            "type": "integer"
          },
          "status": {
            "type": "string",
            "enum": [
              "waiting",
              "asset_created",
              "errored",
              "cancelled",
              "timed_out"
            ]
          },
          "new_asset_settings": {
            "type": "object"
          },
          "asset_id": {
            "type": "string"
          },
          "error": {
            "type": "object"
          },
          "cors_origin": {
            "type": "string"
          },
          "url": {
            "type": "string"
          },
          "test": {
            "type": "boolean"
          }
        }
      },
      "SigningKey": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "created_at": {
            "type": "string"
          },
          "private_key": {
            "type": "string"
          }
        }
      },
      "ListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "total_row_count": {
            "type": "integer"
          },
          "timeframe": {
            "type": "array",
            "items": {
              "type": "integer"
            }
          }
        }
      }
    },
    "parameters": {
      "limit": {
        "name": "limit",
        "in": "query",
        "schema": {
          "type": "integer",
          "default": 25
        }
      },
      "page": {
        "name": "page",
        "in": "query",
        "schema": {
          "type": "integer",
          "default": 1
        }
      }
    }
  },
  "paths": {
    "/video/v1/assets": {
      "get": {
        "operationId": "listAssets",
        "summary": "List assets",
        "tags": [
          "Assets"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "name": "live_stream_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "upload_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of assets.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Asset"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "description": "List assets"
      },
      "post": {
        "operationId": "createAsset",
        "summary": "Create an asset",
        "tags": [
          "Assets"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "input": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "url": {
                          "type": "string"
                        },
                        "overlay_settings": {
                          "type": "object"
                        }
                      }
                    }
                  },
                  "playback_policy": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "enum": [
                        "public",
                        "signed"
                      ]
                    }
                  },
                  "per_title_encode": {
                    "type": "boolean"
                  },
                  "passthrough": {
                    "type": "string"
                  },
                  "mp4_support": {
                    "type": "string"
                  },
                  "normalize_audio": {
                    "type": "boolean"
                  },
                  "master_access": {
                    "type": "string"
                  },
                  "test": {
                    "type": "boolean"
                  },
                  "video_quality": {
                    "type": "string"
                  },
                  "max_resolution_tier": {
                    "type": "string"
                  },
                  "meta": {
                    "type": "object"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created asset.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Asset"
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Create an asset"
      }
    },
    "/video/v1/assets/{ASSET_ID}": {
      "get": {
        "operationId": "getAsset",
        "summary": "Retrieve an asset",
        "tags": [
          "Assets"
        ],
        "parameters": [
          {
            "name": "ASSET_ID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The asset.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Asset"
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Retrieve an asset"
      },
      "delete": {
        "operationId": "deleteAsset",
        "summary": "Delete an asset",
        "tags": [
          "Assets"
        ],
        "parameters": [
          {
            "name": "ASSET_ID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted."
          }
        },
        "description": "Delete an asset"
      }
    },
    "/video/v1/assets/{ASSET_ID}/input-info": {
      "get": {
        "operationId": "getAssetInputInfo",
        "summary": "Retrieve asset input info",
        "tags": [
          "Assets"
        ],
        "parameters": [
          {
            "name": "ASSET_ID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Input info.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "Retrieve asset input info"
      }
    },
    "/video/v1/assets/{ASSET_ID}/playback-ids": {
      "get": {
        "operationId": "getAssetPlaybackIds",
        "summary": "Retrieve playback IDs",
        "tags": [
          "Assets"
        ],
        "parameters": [
          {
            "name": "ASSET_ID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Playback IDs.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/PlaybackID"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Retrieve playback IDs"
      },
      "post": {
        "operationId": "createAssetPlaybackId",
        "summary": "Create a playback ID",
        "tags": [
          "Assets"
        ],
        "parameters": [
          {
            "name": "ASSET_ID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "policy"
                ],
                "properties": {
                  "policy": {
                    "type": "string",
                    "enum": [
                      "public",
                      "signed",
                      "drm"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created playback ID.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/PlaybackID"
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Create a playback ID"
      }
    },
    "/video/v1/assets/{ASSET_ID}/playback-ids/{PLAYBACK_ID}": {
      "delete": {
        "operationId": "deleteAssetPlaybackId",
        "summary": "Delete a playback ID",
        "tags": [
          "Assets"
        ],
        "parameters": [
          {
            "name": "ASSET_ID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "PLAYBACK_ID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted."
          }
        },
        "description": "Delete a playback ID"
      }
    },
    "/video/v1/assets/{ASSET_ID}/tracks": {
      "post": {
        "operationId": "createAssetTrack",
        "summary": "Create an asset track",
        "tags": [
          "Assets"
        ],
        "parameters": [
          {
            "name": "ASSET_ID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "url",
                  "type",
                  "text_type",
                  "language_code"
                ],
                "properties": {
                  "url": {
                    "type": "string"
                  },
                  "type": {
                    "type": "string",
                    "enum": [
                      "text"
                    ]
                  },
                  "text_type": {
                    "type": "string",
                    "enum": [
                      "subtitles"
                    ]
                  },
                  "language_code": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  },
                  "closed_captions": {
                    "type": "boolean"
                  },
                  "passthrough": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created track.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Track"
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Create an asset track"
      }
    },
    "/video/v1/assets/{ASSET_ID}/tracks/{TRACK_ID}": {
      "delete": {
        "operationId": "deleteAssetTrack",
        "summary": "Delete an asset track",
        "tags": [
          "Assets"
        ],
        "parameters": [
          {
            "name": "ASSET_ID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "TRACK_ID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted."
          }
        },
        "description": "Delete an asset track"
      }
    },
    "/video/v1/live-streams": {
      "get": {
        "operationId": "listLiveStreams",
        "summary": "List live streams",
        "tags": [
          "Live Streams"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/page"
          }
        ],
        "responses": {
          "200": {
            "description": "List of live streams.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/LiveStream"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "description": "List live streams"
      },
      "post": {
        "operationId": "createLiveStream",
        "summary": "Create a live stream",
        "tags": [
          "Live Streams"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "playback_policy": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "new_asset_settings": {
                    "type": "object"
                  },
                  "reconnect_window": {
                    "type": "number"
                  },
                  "passthrough": {
                    "type": "string"
                  },
                  "latency_mode": {
                    "type": "string"
                  },
                  "test": {
                    "type": "boolean"
                  },
                  "max_continuous_duration": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created live stream.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/LiveStream"
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Create a live stream"
      }
    },
    "/video/v1/live-streams/{LIVE_STREAM_ID}": {
      "get": {
        "operationId": "getLiveStream",
        "summary": "Retrieve a live stream",
        "tags": [
          "Live Streams"
        ],
        "parameters": [
          {
            "name": "LIVE_STREAM_ID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The live stream.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/LiveStream"
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Retrieve a live stream"
      },
      "delete": {
        "operationId": "deleteLiveStream",
        "summary": "Delete a live stream",
        "tags": [
          "Live Streams"
        ],
        "parameters": [
          {
            "name": "LIVE_STREAM_ID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted."
          }
        },
        "description": "Delete a live stream"
      }
    },
    "/video/v1/live-streams/{LIVE_STREAM_ID}/reset-stream-key": {
      "post": {
        "operationId": "resetStreamKey",
        "summary": "Reset a live stream key",
        "tags": [
          "Live Streams"
        ],
        "parameters": [
          {
            "name": "LIVE_STREAM_ID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Stream key reset.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/LiveStream"
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Reset a live stream key"
      }
    },
    "/video/v1/live-streams/{LIVE_STREAM_ID}/complete": {
      "put": {
        "operationId": "signalLiveStreamComplete",
        "summary": "Signal a live stream is finished",
        "tags": [
          "Live Streams"
        ],
        "parameters": [
          {
            "name": "LIVE_STREAM_ID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Signal sent.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "Signal a live stream is finished"
      }
    },
    "/video/v1/live-streams/{LIVE_STREAM_ID}/disable": {
      "put": {
        "operationId": "disableLiveStream",
        "summary": "Disable a live stream",
        "tags": [
          "Live Streams"
        ],
        "parameters": [
          {
            "name": "LIVE_STREAM_ID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Disabled.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/LiveStream"
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Disable a live stream"
      }
    },
    "/video/v1/live-streams/{LIVE_STREAM_ID}/enable": {
      "put": {
        "operationId": "enableLiveStream",
        "summary": "Enable a live stream",
        "tags": [
          "Live Streams"
        ],
        "parameters": [
          {
            "name": "LIVE_STREAM_ID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Enabled.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/LiveStream"
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Enable a live stream"
      }
    },
    "/video/v1/uploads": {
      "get": {
        "operationId": "listUploads",
        "summary": "List direct uploads",
        "tags": [
          "Uploads"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/page"
          }
        ],
        "responses": {
          "200": {
            "description": "List of uploads.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Upload"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "description": "List direct uploads"
      },
      "post": {
        "operationId": "createUpload",
        "summary": "Create a direct upload",
        "tags": [
          "Uploads"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "timeout": {
                    "type": "integer"
                  },
                  "cors_origin": {
                    "type": "string"
                  },
                  "new_asset_settings": {
                    "type": "object"
                  },
                  "test": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created upload.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Upload"
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Create a direct upload"
      }
    },
    "/video/v1/uploads/{UPLOAD_ID}": {
      "get": {
        "operationId": "getUpload",
        "summary": "Retrieve an upload",
        "tags": [
          "Uploads"
        ],
        "parameters": [
          {
            "name": "UPLOAD_ID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The upload.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Upload"
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Retrieve an upload"
      }
    },
    "/video/v1/uploads/{UPLOAD_ID}/cancel": {
      "put": {
        "operationId": "cancelUpload",
        "summary": "Cancel a direct upload",
        "tags": [
          "Uploads"
        ],
        "parameters": [
          {
            "name": "UPLOAD_ID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Cancelled.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Upload"
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Cancel a direct upload"
      }
    },
    "/video/v1/signing-keys": {
      "get": {
        "operationId": "listSigningKeys",
        "summary": "List signing keys",
        "tags": [
          "Signing Keys"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/page"
          }
        ],
        "responses": {
          "200": {
            "description": "List of signing keys.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/SigningKey"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "description": "List signing keys"
      },
      "post": {
        "operationId": "createSigningKey",
        "summary": "Create a signing key",
        "tags": [
          "Signing Keys"
        ],
        "responses": {
          "201": {
            "description": "Created signing key.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/SigningKey"
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Create a signing key"
      }
    },
    "/video/v1/signing-keys/{SIGNING_KEY_ID}": {
      "get": {
        "operationId": "getSigningKey",
        "summary": "Retrieve a signing key",
        "tags": [
          "Signing Keys"
        ],
        "parameters": [
          {
            "name": "SIGNING_KEY_ID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The signing key.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/SigningKey"
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Retrieve a signing key"
      },
      "delete": {
        "operationId": "deleteSigningKey",
        "summary": "Delete a signing key",
        "tags": [
          "Signing Keys"
        ],
        "parameters": [
          {
            "name": "SIGNING_KEY_ID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted."
          }
        },
        "description": "Delete a signing key"
      }
    }
  },
  "tags": [
    {
      "name": "Assets",
      "description": "Video asset management."
    },
    {
      "name": "Live Streams",
      "description": "Live stream management."
    },
    {
      "name": "Uploads",
      "description": "Direct upload management."
    },
    {
      "name": "Signing Keys",
      "description": "URL signing key management."
    }
  ]
}
