{
  "openapi": "3.0.3",
  "info": {
    "title": "Nexi Checkout API",
    "version": "1.0.0",
    "description": "Nexi Group Checkout API for online payment processing. Supports payment page integration, server-to-server payments, payment status, cancellation, refund, and recurring payment operations.",
    "x-jentic-source-url": "https://developer.nexigroup.com/nexi-checkout/en-EN/api/",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://xpay.nexigroup.com/api"
    }
  ],
  "paths": {
    "/v1/payments": {
      "post": {
        "operationId": "createPayment",
        "summary": "Create a payment",
        "description": "Initiates a new payment session. Returns a payment page URL for redirect integration or payment ID for server-to-server.",
        "tags": [
          "Payments"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PaymentRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Payment created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "listPayments",
        "summary": "List payments",
        "description": "Returns a list of payments for the merchant.",
        "tags": [
          "Payments"
        ],
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "CREATED",
                "PENDING",
                "AUTHORIZED",
                "CHARGED",
                "CANCELLED",
                "REFUNDED",
                "FAILED"
              ]
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Payment list"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/payments/{paymentId}": {
      "get": {
        "operationId": "getPayment",
        "summary": "Get payment status",
        "description": "Returns the current status and details of a payment.",
        "tags": [
          "Payments"
        ],
        "parameters": [
          {
            "name": "paymentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Payment details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentStatus"
                }
              }
            }
          },
          "404": {
            "description": "Payment not found"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "updatePayment",
        "summary": "Update payment",
        "description": "Updates a payment (e.g., to change amount before authorization).",
        "tags": [
          "Payments"
        ],
        "parameters": [
          {
            "name": "paymentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Payment updated"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/payments/{paymentId}/charges": {
      "post": {
        "operationId": "chargePayment",
        "summary": "Charge (capture) a payment",
        "description": "Captures a previously authorized payment.",
        "tags": [
          "Payments"
        ],
        "parameters": [
          {
            "name": "paymentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChargeRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Payment charged"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/payments/{paymentId}/cancels": {
      "post": {
        "operationId": "cancelPayment",
        "summary": "Cancel a payment",
        "description": "Cancels a payment that has been created or authorized but not yet charged.",
        "tags": [
          "Payments"
        ],
        "parameters": [
          {
            "name": "paymentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "amount": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Payment cancelled"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/payments/{paymentId}/refunds": {
      "post": {
        "operationId": "refundPayment",
        "summary": "Refund a payment",
        "description": "Creates a refund for a charged payment.",
        "tags": [
          "Refunds"
        ],
        "parameters": [
          {
            "name": "paymentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RefundRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Refund created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RefundResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "listRefunds",
        "summary": "List refunds for a payment",
        "tags": [
          "Refunds"
        ],
        "parameters": [
          {
            "name": "paymentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Refund list"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "List refunds for a payment"
      }
    },
    "/v1/subscriptions": {
      "post": {
        "operationId": "createSubscription",
        "summary": "Create recurring subscription",
        "description": "Sets up a recurring payment subscription.",
        "tags": [
          "Recurring"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RecurringPaymentRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Subscription created"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "listSubscriptions",
        "summary": "List subscriptions",
        "tags": [
          "Recurring"
        ],
        "responses": {
          "200": {
            "description": "Subscription list"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "List subscriptions"
      }
    },
    "/v1/subscriptions/{subscriptionId}": {
      "get": {
        "operationId": "getSubscription",
        "summary": "Get subscription",
        "tags": [
          "Recurring"
        ],
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Subscription details"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Get subscription"
      },
      "delete": {
        "operationId": "cancelSubscription",
        "summary": "Cancel subscription",
        "tags": [
          "Recurring"
        ],
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Subscription cancelled"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Cancel subscription"
      }
    },
    "/v1/subscriptions/{subscriptionId}/charges": {
      "post": {
        "operationId": "chargeSubscription",
        "summary": "Charge subscription",
        "description": "Creates a charge for a recurring subscription.",
        "tags": [
          "Recurring"
        ],
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChargeRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Subscription charged"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "PaymentRequest": {
        "type": "object",
        "required": [
          "order",
          "checkout"
        ],
        "properties": {
          "order": {
            "$ref": "#/components/schemas/Order"
          },
          "checkout": {
            "$ref": "#/components/schemas/Checkout"
          },
          "merchantConfig": {
            "$ref": "#/components/schemas/MerchantConfig"
          }
        }
      },
      "Order": {
        "type": "object",
        "required": [
          "orderId",
          "amount",
          "currency"
        ],
        "properties": {
          "orderId": {
            "type": "string",
            "description": "Unique order identifier"
          },
          "amount": {
            "type": "integer",
            "description": "Amount in minor units (cents)"
          },
          "currency": {
            "type": "string",
            "description": "ISO 4217 currency code"
          },
          "description": {
            "type": "string"
          },
          "customerInfo": {
            "$ref": "#/components/schemas/CustomerInfo"
          }
        }
      },
      "Checkout": {
        "type": "object",
        "properties": {
          "integrationType": {
            "type": "string",
            "enum": [
              "PAYMENT_PAGE",
              "HOSTED_FIELDS",
              "SERVER_TO_SERVER"
            ]
          },
          "returnUrl": {
            "type": "string",
            "format": "uri"
          },
          "cancelUrl": {
            "type": "string",
            "format": "uri"
          },
          "termsUrl": {
            "type": "string",
            "format": "uri"
          }
        }
      },
      "MerchantConfig": {
        "type": "object",
        "properties": {
          "callbackUrl": {
            "type": "string",
            "format": "uri"
          },
          "flatMode": {
            "type": "boolean"
          }
        }
      },
      "CustomerInfo": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "format": "email"
          },
          "firstName": {
            "type": "string"
          },
          "lastName": {
            "type": "string"
          },
          "phoneNumber": {
            "type": "string"
          },
          "billingAddress": {
            "$ref": "#/components/schemas/Address"
          }
        }
      },
      "Address": {
        "type": "object",
        "properties": {
          "street": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "postalCode": {
            "type": "string"
          },
          "country": {
            "type": "string"
          }
        }
      },
      "PaymentResponse": {
        "type": "object",
        "properties": {
          "paymentId": {
            "type": "string"
          },
          "hostedPaymentPageUrl": {
            "type": "string",
            "format": "uri"
          },
          "status": {
            "type": "string",
            "enum": [
              "CREATED",
              "PENDING",
              "AUTHORIZED",
              "CHARGED",
              "CANCELLED",
              "REFUNDED",
              "FAILED"
            ]
          }
        }
      },
      "PaymentStatus": {
        "type": "object",
        "properties": {
          "paymentId": {
            "type": "string"
          },
          "orderId": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "CREATED",
              "PENDING",
              "AUTHORIZED",
              "CHARGED",
              "CANCELLED",
              "REFUNDED",
              "FAILED"
            ]
          },
          "amount": {
            "type": "integer"
          },
          "currency": {
            "type": "string"
          },
          "created": {
            "type": "string",
            "format": "date-time"
          },
          "paymentMethod": {
            "type": "string"
          },
          "cardDetails": {
            "type": "object",
            "properties": {
              "maskedPan": {
                "type": "string"
              },
              "expiryDate": {
                "type": "string"
              },
              "cardBrand": {
                "type": "string"
              }
            }
          }
        }
      },
      "RefundRequest": {
        "type": "object",
        "required": [
          "amount"
        ],
        "properties": {
          "amount": {
            "type": "integer",
            "description": "Refund amount in minor units"
          },
          "description": {
            "type": "string"
          }
        }
      },
      "RefundResponse": {
        "type": "object",
        "properties": {
          "refundId": {
            "type": "string"
          },
          "amount": {
            "type": "integer"
          },
          "status": {
            "type": "string",
            "enum": [
              "PENDING",
              "COMPLETED",
              "FAILED"
            ]
          }
        }
      },
      "ChargeRequest": {
        "type": "object",
        "required": [
          "amount"
        ],
        "properties": {
          "amount": {
            "type": "integer",
            "description": "Charge amount in minor units"
          }
        }
      },
      "RecurringPaymentRequest": {
        "type": "object",
        "properties": {
          "orderId": {
            "type": "string"
          },
          "amount": {
            "type": "integer"
          },
          "currency": {
            "type": "string"
          },
          "subscriptionId": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "X-Api-Key",
        "description": "Nexi API key for merchant authentication"
      }
    }
  },
  "security": [
    {
      "apiKey": []
    }
  ],
  "tags": [
    {
      "name": "Payments",
      "description": "Payment operations"
    },
    {
      "name": "Refunds",
      "description": "Refund operations"
    },
    {
      "name": "Recurring",
      "description": "Recurring payment management"
    },
    {
      "name": "Webhooks",
      "description": "Webhook configuration"
    }
  ]
}
