{
  "openapi": "3.0.3",
  "info": {
    "title": "AWeber API",
    "description": "AWeber is an email marketing platform. The AWeber API provides RESTful access to manage subscriber lists, send broadcasts, manage campaigns, custom fields, webforms, segments, and integrations. Uses OAuth 2.0 authentication.",
    "version": "1.0",
    "contact": {
      "name": "AWeber API Team",
      "email": "api@aweber.com"
    },
    "termsOfService": "https://labs.aweber.com/docs/tos",
    "x-jentic-source-url": "https://api.aweber.com"
  },
  "externalDocs": {
    "description": "AWeber API Documentation",
    "url": "https://api.aweber.com"
  },
  "servers": [
    {
      "url": "https://api.aweber.com/1.0",
      "description": "AWeber API v1.0"
    }
  ],
  "security": [
    {
      "OAuth2": [
        "account.read",
        "list.read",
        "list.write",
        "subscriber.read",
        "subscriber.write",
        "email.read",
        "email.write",
        "landing-page.read"
      ]
    }
  ],
  "tags": [
    {
      "name": "Accounts",
      "description": "Manage AWeber customer accounts"
    },
    {
      "name": "Lists",
      "description": "Manage subscriber lists"
    },
    {
      "name": "Subscribers",
      "description": "Manage subscribers on lists"
    },
    {
      "name": "Broadcasts",
      "description": "Create, schedule, and manage email broadcasts"
    },
    {
      "name": "Campaigns",
      "description": "Retrieve campaign and broadcast statistics"
    },
    {
      "name": "Custom Fields",
      "description": "Manage custom fields on lists"
    },
    {
      "name": "Webforms",
      "description": "Retrieve webforms and split tests"
    },
    {
      "name": "Segments",
      "description": "Manage list segments"
    },
    {
      "name": "Integrations",
      "description": "Retrieve account integrations"
    },
    {
      "name": "Landing Pages",
      "description": "Retrieve landing pages"
    }
  ],
  "paths": {
    "/accounts": {
      "get": {
        "operationId": "getAccounts",
        "summary": "Get accounts",
        "description": "Get a paginated collection of accounts authorized by the user.",
        "tags": [
          "Accounts"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/wsStart"
          },
          {
            "$ref": "#/components/parameters/wsSize"
          }
        ],
        "responses": {
          "200": {
            "description": "Collection of accounts",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountCollection"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/accounts/{accountId}": {
      "get": {
        "operationId": "getAccount",
        "summary": "Get account",
        "description": "Get a single account by ID.",
        "tags": [
          "Accounts"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/accountId"
          },
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Account details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/accounts/{accountId}/lists": {
      "get": {
        "operationId": "getLists",
        "summary": "Get lists",
        "description": "Get a paginated collection of lists for an account.",
        "tags": [
          "Lists"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/accountId"
          },
          {
            "$ref": "#/components/parameters/wsStart"
          },
          {
            "$ref": "#/components/parameters/wsSize"
          },
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Collection of lists",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListCollection"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/accounts/{accountId}/lists/{listId}": {
      "get": {
        "operationId": "getList",
        "summary": "Get list",
        "description": "Get a single list by ID.",
        "tags": [
          "Lists"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/accountId"
          },
          {
            "$ref": "#/components/parameters/listId"
          },
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "listId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/List"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/accounts/{accountId}/lists/{listId}/tags": {
      "get": {
        "operationId": "getTagsForList",
        "summary": "Get tags for list",
        "description": "Get all tags associated with a list.",
        "tags": [
          "Lists"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/accountId"
          },
          {
            "$ref": "#/components/parameters/listId"
          },
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "listId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Collection of tags",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "entries": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/accounts/{accountId}/lists/{listId}/subscribers": {
      "get": {
        "operationId": "getSubscribers",
        "summary": "Get subscribers",
        "description": "Get a paginated collection of subscribers for a list.",
        "tags": [
          "Subscribers"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/accountId"
          },
          {
            "$ref": "#/components/parameters/listId"
          },
          {
            "$ref": "#/components/parameters/wsStart"
          },
          {
            "$ref": "#/components/parameters/wsSize"
          },
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "listId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Collection of subscribers",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubscriberCollection"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "addSubscriber",
        "summary": "Add subscriber",
        "description": "Add a new subscriber to a list.",
        "tags": [
          "Subscribers"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/accountId"
          },
          {
            "$ref": "#/components/parameters/listId"
          },
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "listId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddSubscriberRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Subscriber created",
            "headers": {
              "Location": {
                "description": "URL of the new subscriber",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          }
        }
      }
    },
    "/accounts/{accountId}/lists/{listId}/subscribers/{subscriberId}": {
      "get": {
        "operationId": "getSubscriber",
        "summary": "Get subscriber",
        "description": "Get a single subscriber by ID.",
        "tags": [
          "Subscribers"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/accountId"
          },
          {
            "$ref": "#/components/parameters/listId"
          },
          {
            "$ref": "#/components/parameters/subscriberId"
          },
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "subscriberId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "listId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Subscriber details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Subscriber"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "patch": {
        "operationId": "updateSubscriberById",
        "summary": "Update subscriber by ID",
        "description": "Update a subscriber's information.",
        "tags": [
          "Subscribers"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/accountId"
          },
          {
            "$ref": "#/components/parameters/listId"
          },
          {
            "$ref": "#/components/parameters/subscriberId"
          },
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "subscriberId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "listId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateSubscriberRequest"
              }
            }
          }
        },
        "responses": {
          "209": {
            "description": "Subscriber updated"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          }
        }
      },
      "delete": {
        "operationId": "deleteSubscriberById",
        "summary": "Delete subscriber by ID",
        "description": "Delete a subscriber from a list.",
        "tags": [
          "Subscribers"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/accountId"
          },
          {
            "$ref": "#/components/parameters/listId"
          },
          {
            "$ref": "#/components/parameters/subscriberId"
          },
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "subscriberId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "listId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Subscriber deleted"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/accounts/{accountId}/lists/{listId}/subscribers/{subscriberId}/move": {
      "post": {
        "operationId": "moveSubscriber",
        "summary": "Move subscriber",
        "description": "Move a subscriber to another list.",
        "tags": [
          "Subscribers"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/accountId"
          },
          {
            "$ref": "#/components/parameters/listId"
          },
          {
            "$ref": "#/components/parameters/subscriberId"
          },
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "subscriberId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "listId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "list_link"
                ],
                "properties": {
                  "list_link": {
                    "type": "string",
                    "format": "uri",
                    "description": "URL of the destination list"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Subscriber moved",
            "headers": {
              "Location": {
                "description": "URL of the subscriber on the new list",
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/accounts/{accountId}/lists/{listId}/subscribers/{subscriberId}/activity": {
      "get": {
        "operationId": "getSubscriberActivity",
        "summary": "Get subscriber activity",
        "description": "Get activity for a subscriber.",
        "tags": [
          "Subscribers"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/accountId"
          },
          {
            "$ref": "#/components/parameters/listId"
          },
          {
            "$ref": "#/components/parameters/subscriberId"
          },
          {
            "$ref": "#/components/parameters/wsStart"
          },
          {
            "$ref": "#/components/parameters/wsSize"
          },
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "subscriberId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "listId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Collection of subscriber activity",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "entries": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "start": {
                      "type": "integer"
                    },
                    "total_size": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/accounts/{accountId}/lists/{listId}/broadcasts": {
      "get": {
        "operationId": "getBroadcasts",
        "summary": "Get broadcasts",
        "description": "Get a paginated collection of broadcasts for a list.",
        "tags": [
          "Broadcasts"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/accountId"
          },
          {
            "$ref": "#/components/parameters/listId"
          },
          {
            "$ref": "#/components/parameters/wsStart"
          },
          {
            "$ref": "#/components/parameters/wsSize"
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filter by broadcast status",
            "schema": {
              "type": "string",
              "enum": [
                "draft",
                "scheduled",
                "sent"
              ]
            }
          },
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "listId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Collection of broadcasts",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BroadcastCollection"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createBroadcast",
        "summary": "Create broadcast",
        "description": "Create a new broadcast (draft) for a list.",
        "tags": [
          "Broadcasts"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/accountId"
          },
          {
            "$ref": "#/components/parameters/listId"
          },
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "listId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBroadcastRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Broadcast created",
            "headers": {
              "Location": {
                "description": "URL of the new broadcast",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          }
        }
      }
    },
    "/accounts/{accountId}/lists/{listId}/broadcasts/{broadcastId}": {
      "get": {
        "operationId": "getBroadcast",
        "summary": "Get broadcast",
        "description": "Get a single broadcast by ID.",
        "tags": [
          "Broadcasts"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/accountId"
          },
          {
            "$ref": "#/components/parameters/listId"
          },
          {
            "$ref": "#/components/parameters/broadcastId"
          },
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "broadcastId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "listId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Broadcast details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Broadcast"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "put": {
        "operationId": "updateBroadcast",
        "summary": "Update broadcast",
        "description": "Update an existing draft broadcast.",
        "tags": [
          "Broadcasts"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/accountId"
          },
          {
            "$ref": "#/components/parameters/listId"
          },
          {
            "$ref": "#/components/parameters/broadcastId"
          },
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "broadcastId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "listId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBroadcastRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Broadcast updated"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          }
        }
      },
      "delete": {
        "operationId": "deleteBroadcast",
        "summary": "Delete broadcast",
        "description": "Delete a draft broadcast.",
        "tags": [
          "Broadcasts"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/accountId"
          },
          {
            "$ref": "#/components/parameters/listId"
          },
          {
            "$ref": "#/components/parameters/broadcastId"
          },
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "broadcastId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "listId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Broadcast deleted"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/accounts/{accountId}/lists/{listId}/broadcasts/{broadcastId}/cancel": {
      "post": {
        "operationId": "cancelBroadcast",
        "summary": "Cancel scheduled broadcast",
        "description": "Cancel a scheduled broadcast.",
        "tags": [
          "Broadcasts"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/accountId"
          },
          {
            "$ref": "#/components/parameters/listId"
          },
          {
            "$ref": "#/components/parameters/broadcastId"
          },
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "broadcastId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "listId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Broadcast cancelled"
          }
        }
      }
    },
    "/accounts/{accountId}/lists/{listId}/broadcasts/{broadcastId}/schedule": {
      "post": {
        "operationId": "scheduleBroadcast",
        "summary": "Schedule broadcast",
        "description": "Schedule a draft broadcast for delivery.",
        "tags": [
          "Broadcasts"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/accountId"
          },
          {
            "$ref": "#/components/parameters/listId"
          },
          {
            "$ref": "#/components/parameters/broadcastId"
          },
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "broadcastId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "listId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "scheduled_for"
                ],
                "properties": {
                  "scheduled_for": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Date and time to send the broadcast"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Broadcast scheduled"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          }
        }
      }
    },
    "/accounts/{accountId}/lists/{listId}/broadcasts/total": {
      "get": {
        "operationId": "getTotalBroadcasts",
        "summary": "Get total broadcasts",
        "description": "Get total count of broadcasts for a list.",
        "tags": [
          "Broadcasts"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/accountId"
          },
          {
            "$ref": "#/components/parameters/listId"
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "draft",
                "scheduled",
                "sent"
              ]
            }
          },
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "listId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Total broadcast count",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "total_size": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/accounts/{accountId}/lists/{listId}/campaigns": {
      "get": {
        "operationId": "getCampaigns",
        "summary": "Get campaigns",
        "description": "Get a paginated collection of campaigns (broadcasts and follow-ups) for a list.",
        "tags": [
          "Campaigns"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/accountId"
          },
          {
            "$ref": "#/components/parameters/listId"
          },
          {
            "$ref": "#/components/parameters/wsStart"
          },
          {
            "$ref": "#/components/parameters/wsSize"
          },
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "listId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Collection of campaigns",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "entries": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "start": {
                      "type": "integer"
                    },
                    "total_size": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/accounts/{accountId}/lists/{listId}/custom_fields": {
      "get": {
        "operationId": "getCustomFields",
        "summary": "Get custom fields",
        "description": "Get custom fields for a list.",
        "tags": [
          "Custom Fields"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/accountId"
          },
          {
            "$ref": "#/components/parameters/listId"
          },
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "listId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Collection of custom fields",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "entries": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/CustomField"
                      }
                    },
                    "start": {
                      "type": "integer"
                    },
                    "total_size": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "addCustomField",
        "summary": "Add custom field",
        "description": "Add a new custom field to a list.",
        "tags": [
          "Custom Fields"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/accountId"
          },
          {
            "$ref": "#/components/parameters/listId"
          },
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "listId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Name of the custom field"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Custom field created",
            "headers": {
              "Location": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/accounts/{accountId}/lists/{listId}/custom_fields/{customFieldId}": {
      "get": {
        "operationId": "getCustomField",
        "summary": "Get custom field",
        "tags": [
          "Custom Fields"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/accountId"
          },
          {
            "$ref": "#/components/parameters/listId"
          },
          {
            "name": "customFieldId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "listId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Custom field details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomField"
                }
              }
            }
          }
        },
        "description": "Get custom field"
      },
      "patch": {
        "operationId": "updateCustomField",
        "summary": "Update custom field",
        "tags": [
          "Custom Fields"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/accountId"
          },
          {
            "$ref": "#/components/parameters/listId"
          },
          {
            "name": "customFieldId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "listId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "209": {
            "description": "Custom field updated"
          }
        },
        "description": "Update custom field"
      },
      "delete": {
        "operationId": "deleteCustomField",
        "summary": "Delete custom field",
        "tags": [
          "Custom Fields"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/accountId"
          },
          {
            "$ref": "#/components/parameters/listId"
          },
          {
            "name": "customFieldId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "listId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Custom field deleted"
          }
        },
        "description": "Delete custom field"
      }
    },
    "/accounts/{accountId}/lists/{listId}/segments": {
      "get": {
        "operationId": "getSegments",
        "summary": "Get segments",
        "description": "Get a collection of segments for a list.",
        "tags": [
          "Segments"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/accountId"
          },
          {
            "$ref": "#/components/parameters/listId"
          },
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "listId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Collection of segments",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "entries": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer"
                          },
                          "name": {
                            "type": "string"
                          },
                          "self_link": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "start": {
                      "type": "integer"
                    },
                    "total_size": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/accounts/{accountId}/integrations": {
      "get": {
        "operationId": "getIntegrations",
        "summary": "Get integrations",
        "description": "Get integrations associated with an account.",
        "tags": [
          "Integrations"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/accountId"
          },
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Collection of integrations",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "entries": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "start": {
                      "type": "integer"
                    },
                    "total_size": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/accounts/{accountId}/landing_pages": {
      "get": {
        "operationId": "getLandingPages",
        "summary": "Get landing pages",
        "description": "Get landing pages for an account.",
        "tags": [
          "Landing Pages"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/accountId"
          },
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Collection of landing pages",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "entries": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "start": {
                      "type": "integer"
                    },
                    "total_size": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/accounts/{accountId}/lists/{listId}/webforms": {
      "get": {
        "operationId": "getWebformsForList",
        "summary": "Get webforms for list",
        "description": "Get webforms for a specific list.",
        "tags": [
          "Webforms"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/accountId"
          },
          {
            "$ref": "#/components/parameters/listId"
          },
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "listId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Collection of webforms",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "entries": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "start": {
                      "type": "integer"
                    },
                    "total_size": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "OAuth2": {
        "type": "oauth2",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://auth.aweber.com/oauth2/authorize",
            "tokenUrl": "https://auth.aweber.com/oauth2/token",
            "refreshUrl": "https://auth.aweber.com/oauth2/token",
            "scopes": {
              "account.read": "Access account information and integrations",
              "landing-page.read": "Retrieve landing pages",
              "list.read": "Retrieve lists, custom fields, tags, and sign up forms",
              "list.write": "Create, edit, and delete custom fields",
              "subscriber.read": "Retrieve subscribers and their activity",
              "subscriber.write": "Create, edit, delete, and move subscribers",
              "subscriber.read-extended": "Legacy scope (merged into subscriber.read)",
              "email.read": "Retrieve broadcast and follow-up email activity",
              "email.write": "Create and send email broadcasts"
            }
          }
        }
      }
    },
    "parameters": {
      "accountId": {
        "name": "accountId",
        "in": "path",
        "required": true,
        "description": "Account ID",
        "schema": {
          "type": "integer"
        }
      },
      "listId": {
        "name": "listId",
        "in": "path",
        "required": true,
        "description": "List ID",
        "schema": {
          "type": "integer"
        }
      },
      "subscriberId": {
        "name": "subscriberId",
        "in": "path",
        "required": true,
        "description": "Subscriber ID",
        "schema": {
          "type": "integer"
        }
      },
      "broadcastId": {
        "name": "broadcastId",
        "in": "path",
        "required": true,
        "description": "Broadcast ID",
        "schema": {
          "type": "integer"
        }
      },
      "wsStart": {
        "name": "ws.start",
        "in": "query",
        "description": "Zero-based index to start the page at",
        "schema": {
          "type": "integer",
          "default": 0,
          "minimum": 0
        }
      },
      "wsSize": {
        "name": "ws.size",
        "in": "query",
        "description": "Maximum number of entries to return per page",
        "schema": {
          "type": "integer",
          "default": 100,
          "minimum": 1,
          "maximum": 100
        }
      }
    },
    "responses": {
      "Unauthorized": {
        "description": "Authentication error",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "NotFound": {
        "description": "Resource not found",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "BadRequest": {
        "description": "Invalid request",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      }
    },
    "schemas": {
      "AccountCollection": {
        "type": "object",
        "properties": {
          "entries": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Account"
            }
          },
          "start": {
            "type": "integer"
          },
          "total_size": {
            "type": "integer"
          }
        }
      },
      "Account": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "http_etag": {
            "type": "string"
          },
          "lists_collection_link": {
            "type": "string",
            "format": "uri"
          },
          "integrations_collection_link": {
            "type": "string",
            "format": "uri"
          },
          "self_link": {
            "type": "string",
            "format": "uri"
          },
          "resource_type_link": {
            "type": "string",
            "format": "uri"
          }
        }
      },
      "ListCollection": {
        "type": "object",
        "properties": {
          "entries": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/List"
            }
          },
          "start": {
            "type": "integer"
          },
          "total_size": {
            "type": "integer"
          },
          "next_collection_link": {
            "type": "string",
            "format": "uri"
          },
          "prev_collection_link": {
            "type": "string",
            "format": "uri"
          }
        }
      },
      "List": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "total_subscribers": {
            "type": "integer"
          },
          "total_unconfirmed_subscribers": {
            "type": "integer"
          },
          "total_subscribers_subscribed": {
            "type": "integer"
          },
          "http_etag": {
            "type": "string"
          },
          "self_link": {
            "type": "string",
            "format": "uri"
          },
          "subscribers_collection_link": {
            "type": "string",
            "format": "uri"
          },
          "custom_fields_collection_link": {
            "type": "string",
            "format": "uri"
          },
          "campaigns_collection_link": {
            "type": "string",
            "format": "uri"
          }
        }
      },
      "SubscriberCollection": {
        "type": "object",
        "properties": {
          "entries": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Subscriber"
            }
          },
          "start": {
            "type": "integer"
          },
          "total_size": {
            "type": "integer"
          },
          "next_collection_link": {
            "type": "string",
            "format": "uri"
          },
          "prev_collection_link": {
            "type": "string",
            "format": "uri"
          }
        }
      },
      "Subscriber": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "name": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "subscribed",
              "unsubscribed",
              "unconfirmed"
            ]
          },
          "misc_notes": {
            "type": "string"
          },
          "ip_address": {
            "type": "string"
          },
          "subscribed_at": {
            "type": "string",
            "format": "date-time"
          },
          "unsubscribed_at": {
            "type": "string",
            "format": "date-time"
          },
          "subscription_method": {
            "type": "string"
          },
          "verified_at": {
            "type": "string",
            "format": "date-time"
          },
          "ad_tracking": {
            "type": "string"
          },
          "custom_fields": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "self_link": {
            "type": "string",
            "format": "uri"
          }
        }
      },
      "AddSubscriberRequest": {
        "type": "object",
        "required": [
          "email"
        ],
        "properties": {
          "email": {
            "type": "string",
            "format": "email"
          },
          "name": {
            "type": "string"
          },
          "ip_address": {
            "type": "string"
          },
          "misc_notes": {
            "type": "string"
          },
          "ad_tracking": {
            "type": "string"
          },
          "custom_fields": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "strict_custom_fields": {
            "type": "boolean",
            "description": "If true, reject unknown custom fields"
          }
        }
      },
      "UpdateSubscriberRequest": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "format": "email"
          },
          "name": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "subscribed",
              "unsubscribed"
            ]
          },
          "misc_notes": {
            "type": "string"
          },
          "ad_tracking": {
            "type": "string"
          },
          "custom_fields": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "tags": {
            "type": "object",
            "properties": {
              "add": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "remove": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "BroadcastCollection": {
        "type": "object",
        "properties": {
          "entries": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Broadcast"
            }
          },
          "start": {
            "type": "integer"
          },
          "total_size": {
            "type": "integer"
          },
          "next_collection_link": {
            "type": "string",
            "format": "uri"
          }
        }
      },
      "Broadcast": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "subject": {
            "type": "string"
          },
          "body_html": {
            "type": "string"
          },
          "body_text": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "draft",
              "scheduled",
              "sent"
            ]
          },
          "total_sent": {
            "type": "integer"
          },
          "total_clicks": {
            "type": "integer"
          },
          "total_opens": {
            "type": "integer"
          },
          "sent_at": {
            "type": "string",
            "format": "date-time"
          },
          "scheduled_for": {
            "type": "string",
            "format": "date-time"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "is_archived": {
            "type": "boolean"
          },
          "self_link": {
            "type": "string",
            "format": "uri"
          }
        }
      },
      "CreateBroadcastRequest": {
        "type": "object",
        "required": [
          "subject",
          "body_html"
        ],
        "properties": {
          "subject": {
            "type": "string",
            "description": "Email subject line"
          },
          "body_html": {
            "type": "string",
            "description": "HTML body content"
          },
          "body_text": {
            "type": "string",
            "description": "Plain text body content"
          },
          "notification_email": {
            "type": "string",
            "format": "email",
            "description": "Email address for send notifications"
          },
          "click_tracking_enabled": {
            "type": "boolean",
            "description": "Enable click tracking"
          },
          "is_archived": {
            "type": "boolean",
            "description": "Archive after sending"
          },
          "segment_ids": {
            "type": "array",
            "items": {
              "type": "integer"
            },
            "description": "Segment IDs to target"
          },
          "exclude_segment_ids": {
            "type": "array",
            "items": {
              "type": "integer"
            },
            "description": "Segment IDs to exclude"
          }
        }
      },
      "CustomField": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "is_subscriber_updateable": {
            "type": "boolean"
          },
          "self_link": {
            "type": "string",
            "format": "uri"
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "type": {
                "type": "string"
              },
              "message": {
                "type": "string"
              },
              "documentation_url": {
                "type": "string",
                "format": "uri"
              },
              "status": {
                "type": "integer"
              }
            }
          }
        }
      }
    }
  }
}
