{
  "openapi": "3.0.3",
  "info": {
    "title": "Persona API",
    "version": "2023-01-05",
    "description": "Persona provides identity verification infrastructure for businesses. Use the Persona API to create verifications (inquiries), manage accounts, access cases, retrieve documents, and perform risk/fraud checks.",
    "x-jentic-source-url": "https://docs.withpersona.com/openapi.json",
    "contact": {
      "url": "https://withpersona.com",
      "email": "support@withpersona.com"
    },
    "termsOfService": "https://withpersona.com/terms"
  },
  "servers": [
    {
      "url": "https://withpersona.com/api/v1",
      "description": "Persona API v1"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Inquiries",
      "description": "Identity verification inquiries"
    },
    {
      "name": "Accounts",
      "description": "Manage accounts"
    },
    {
      "name": "Reports",
      "description": "Risk and background check reports"
    },
    {
      "name": "Documents",
      "description": "Identity documents"
    },
    {
      "name": "Cases",
      "description": "Manage cases"
    },
    {
      "name": "Verifications",
      "description": "Individual verification steps"
    },
    {
      "name": "Events",
      "description": "Webhook events"
    },
    {
      "name": "Transactions",
      "description": "Transaction records"
    }
  ],
  "paths": {
    "/inquiries": {
      "get": {
        "operationId": "listInquiries",
        "tags": [
          "Inquiries"
        ],
        "summary": "List all Inquiries",
        "description": "Returns a list of inquiries.",
        "parameters": [
          {
            "name": "filter[reference-id]",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by reference ID"
          },
          {
            "name": "filter[account-id]",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[status]",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "created",
                "pending",
                "completed",
                "expired",
                "failed",
                "needs_review",
                "approved",
                "declined"
              ]
            }
          },
          {
            "name": "page[size]",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page[before]",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page[after]",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InquiryList"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      },
      "post": {
        "operationId": "createInquiry",
        "tags": [
          "Inquiries"
        ],
        "summary": "Create an Inquiry",
        "description": "Create a new inquiry for identity verification.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InquiryCreateRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InquiryResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "422": {
            "description": "Unprocessable entity"
          }
        }
      }
    },
    "/inquiries/{inquiry-id}": {
      "get": {
        "operationId": "retrieveInquiry",
        "tags": [
          "Inquiries"
        ],
        "summary": "Retrieve an Inquiry",
        "parameters": [
          {
            "name": "inquiry-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InquiryResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Retrieve an Inquiry"
      }
    },
    "/inquiries/{inquiry-id}/approve": {
      "post": {
        "operationId": "approveInquiry",
        "tags": [
          "Inquiries"
        ],
        "summary": "Approve an Inquiry",
        "parameters": [
          {
            "name": "inquiry-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "meta": {
                    "type": "object"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "409": {
            "description": "Conflict"
          }
        },
        "description": "Approve an Inquiry"
      }
    },
    "/inquiries/{inquiry-id}/decline": {
      "post": {
        "operationId": "declineInquiry",
        "tags": [
          "Inquiries"
        ],
        "summary": "Decline an Inquiry",
        "parameters": [
          {
            "name": "inquiry-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "meta": {
                    "type": "object"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "409": {
            "description": "Conflict"
          }
        },
        "description": "Decline an Inquiry"
      }
    },
    "/accounts": {
      "get": {
        "operationId": "listAccounts",
        "tags": [
          "Accounts"
        ],
        "summary": "List all Accounts",
        "parameters": [
          {
            "name": "filter[reference-id]",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page[size]",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page[after]",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "description": "List all Accounts"
      },
      "post": {
        "operationId": "createAccount",
        "tags": [
          "Accounts"
        ],
        "summary": "Create an Account",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountCreateRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "422": {
            "description": "Unprocessable entity"
          }
        },
        "description": "Create an Account"
      }
    },
    "/accounts/{account-id}": {
      "get": {
        "operationId": "retrieveAccount",
        "tags": [
          "Accounts"
        ],
        "summary": "Retrieve an Account",
        "parameters": [
          {
            "name": "account-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Retrieve an Account"
      },
      "patch": {
        "operationId": "updateAccount",
        "tags": [
          "Accounts"
        ],
        "summary": "Update an Account",
        "parameters": [
          {
            "name": "account-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "422": {
            "description": "Unprocessable entity"
          }
        },
        "description": "Update an Account"
      }
    },
    "/reports": {
      "get": {
        "operationId": "listReports",
        "tags": [
          "Reports"
        ],
        "summary": "List all Reports",
        "parameters": [
          {
            "name": "filter[account-id]",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page[size]",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "description": "List all Reports"
      }
    },
    "/reports/{report-id}": {
      "get": {
        "operationId": "retrieveReport",
        "tags": [
          "Reports"
        ],
        "summary": "Retrieve a Report",
        "parameters": [
          {
            "name": "report-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Retrieve a Report"
      }
    },
    "/cases": {
      "get": {
        "operationId": "listCases",
        "tags": [
          "Cases"
        ],
        "summary": "List all Cases",
        "parameters": [
          {
            "name": "filter[status]",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page[size]",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "description": "List all Cases"
      }
    },
    "/cases/{case-id}": {
      "get": {
        "operationId": "retrieveCase",
        "tags": [
          "Cases"
        ],
        "summary": "Retrieve a Case",
        "parameters": [
          {
            "name": "case-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Retrieve a Case"
      }
    },
    "/transactions": {
      "get": {
        "operationId": "listTransactions",
        "tags": [
          "Transactions"
        ],
        "summary": "List all Transactions",
        "parameters": [
          {
            "name": "filter[account-id]",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[status]",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page[size]",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "description": "List all Transactions"
      },
      "post": {
        "operationId": "createTransaction",
        "tags": [
          "Transactions"
        ],
        "summary": "Create a Transaction",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "description": "Create a Transaction"
      }
    },
    "/verifications/{verification-id}": {
      "get": {
        "operationId": "retrieveVerification",
        "tags": [
          "Verifications"
        ],
        "summary": "Retrieve a Verification",
        "parameters": [
          {
            "name": "verification-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Retrieve a Verification"
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Persona API key. Include as Bearer token in Authorization header."
      }
    },
    "schemas": {
      "InquiryCreateRequest": {
        "type": "object",
        "required": [
          "data"
        ],
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "default": "inquiry"
              },
              "attributes": {
                "type": "object",
                "properties": {
                  "inquiry-template-id": {
                    "type": "string"
                  },
                  "inquiry-template-version-id": {
                    "type": "string"
                  },
                  "reference-id": {
                    "type": "string"
                  },
                  "note": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      },
      "InquiryResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "type": {
                "type": "string"
              },
              "id": {
                "type": "string"
              },
              "attributes": {
                "type": "object",
                "properties": {
                  "status": {
                    "type": "string",
                    "enum": [
                      "created",
                      "pending",
                      "completed",
                      "expired",
                      "failed",
                      "needs_review",
                      "approved",
                      "declined"
                    ]
                  },
                  "reference-id": {
                    "type": "string"
                  },
                  "created-at": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "completed-at": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "name-first": {
                    "type": "string"
                  },
                  "name-last": {
                    "type": "string"
                  },
                  "email-address": {
                    "type": "string"
                  },
                  "phone-number": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      },
      "InquiryList": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/InquiryResponse/properties/data"
            }
          },
          "meta": {
            "type": "object"
          }
        }
      },
      "AccountCreateRequest": {
        "type": "object",
        "required": [
          "data"
        ],
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "default": "account"
              },
              "attributes": {
                "type": "object",
                "properties": {
                  "reference-id": {
                    "type": "string"
                  },
                  "country-code": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      },
      "AccountUpdateRequest": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "default": "account"
              },
              "attributes": {
                "type": "object",
                "properties": {
                  "name-first": {
                    "type": "string"
                  },
                  "name-last": {
                    "type": "string"
                  },
                  "email-address": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
