{
  "openapi": "3.0.3",
  "info": {
    "title": "Axway Amplify Platform API",
    "version": "1.0.0",
    "description": "Axway Amplify Platform API provides management capabilities for the Amplify platform including API management, environments, services, assets, subscriptions, and user management. The Amplify platform unifies API management across multiple gateways and clouds.",
    "x-jentic-source-url": "https://www.axway.com/en/products/amplify-platform",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://apicentral.axway.com/apis"
    }
  ],
  "paths": {
    "/management/v1alpha1/environments": {
      "get": {
        "operationId": "listEnvironments",
        "summary": "List environments",
        "description": "Returns a list of all environments in the organization.",
        "tags": [
          "Environments"
        ],
        "parameters": [
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EnvironmentList"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createEnvironment",
        "summary": "Create an environment",
        "tags": [
          "Environments"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EnvironmentInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Environment"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Create an environment"
      }
    },
    "/management/v1alpha1/environments/{envName}": {
      "get": {
        "operationId": "getEnvironment",
        "summary": "Get an environment",
        "tags": [
          "Environments"
        ],
        "parameters": [
          {
            "name": "envName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Environment"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Get an environment"
      },
      "put": {
        "operationId": "updateEnvironment",
        "summary": "Update an environment",
        "tags": [
          "Environments"
        ],
        "parameters": [
          {
            "name": "envName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EnvironmentInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Update an environment"
      },
      "delete": {
        "operationId": "deleteEnvironment",
        "summary": "Delete an environment",
        "tags": [
          "Environments"
        ],
        "parameters": [
          {
            "name": "envName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Delete an environment"
      }
    },
    "/management/v1alpha1/environments/{envName}/apiservices": {
      "get": {
        "operationId": "listAPIServices",
        "summary": "List API services in an environment",
        "tags": [
          "API Services"
        ],
        "parameters": [
          {
            "name": "envName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIServiceList"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "List API services in an environment"
      },
      "post": {
        "operationId": "createAPIService",
        "summary": "Create an API service",
        "tags": [
          "API Services"
        ],
        "parameters": [
          {
            "name": "envName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/APIServiceInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Create an API service"
      }
    },
    "/management/v1alpha1/environments/{envName}/apiservices/{serviceName}": {
      "get": {
        "operationId": "getAPIService",
        "summary": "Get an API service",
        "tags": [
          "API Services"
        ],
        "parameters": [
          {
            "name": "envName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "serviceName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Get an API service"
      },
      "put": {
        "operationId": "updateAPIService",
        "summary": "Update an API service",
        "tags": [
          "API Services"
        ],
        "parameters": [
          {
            "name": "envName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "serviceName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/APIServiceInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Update an API service"
      },
      "delete": {
        "operationId": "deleteAPIService",
        "summary": "Delete an API service",
        "tags": [
          "API Services"
        ],
        "parameters": [
          {
            "name": "envName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "serviceName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Delete an API service"
      }
    },
    "/management/v1alpha1/environments/{envName}/apiservicerevisions": {
      "get": {
        "operationId": "listAPIServiceRevisions",
        "summary": "List API service revisions",
        "tags": [
          "API Service Revisions"
        ],
        "parameters": [
          {
            "name": "envName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "List API service revisions"
      },
      "post": {
        "operationId": "createAPIServiceRevision",
        "summary": "Create an API service revision",
        "tags": [
          "API Service Revisions"
        ],
        "parameters": [
          {
            "name": "envName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/APIServiceRevisionInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Create an API service revision"
      }
    },
    "/management/v1alpha1/environments/{envName}/apiserviceinstances": {
      "get": {
        "operationId": "listAPIServiceInstances",
        "summary": "List API service instances",
        "tags": [
          "API Service Instances"
        ],
        "parameters": [
          {
            "name": "envName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "List API service instances"
      },
      "post": {
        "operationId": "createAPIServiceInstance",
        "summary": "Create an API service instance",
        "tags": [
          "API Service Instances"
        ],
        "parameters": [
          {
            "name": "envName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/APIServiceInstanceInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Create an API service instance"
      }
    },
    "/catalog/v1alpha1/products": {
      "get": {
        "operationId": "listProducts",
        "summary": "List catalog products",
        "tags": [
          "Catalog"
        ],
        "parameters": [
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "List catalog products"
      },
      "post": {
        "operationId": "createProduct",
        "summary": "Create a product",
        "tags": [
          "Catalog"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProductInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Create a product"
      }
    },
    "/catalog/v1alpha1/products/{productName}": {
      "get": {
        "operationId": "getProduct",
        "summary": "Get a product",
        "tags": [
          "Catalog"
        ],
        "parameters": [
          {
            "name": "productName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Get a product"
      },
      "put": {
        "operationId": "updateProduct",
        "summary": "Update a product",
        "tags": [
          "Catalog"
        ],
        "parameters": [
          {
            "name": "productName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProductInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Update a product"
      },
      "delete": {
        "operationId": "deleteProduct",
        "summary": "Delete a product",
        "tags": [
          "Catalog"
        ],
        "parameters": [
          {
            "name": "productName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Delete a product"
      }
    },
    "/catalog/v1alpha1/subscriptions": {
      "get": {
        "operationId": "listSubscriptions",
        "summary": "List subscriptions",
        "tags": [
          "Subscriptions"
        ],
        "parameters": [
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "List subscriptions"
      },
      "post": {
        "operationId": "createSubscription",
        "summary": "Create a subscription",
        "tags": [
          "Subscriptions"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SubscriptionInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Create a subscription"
      }
    },
    "/catalog/v1alpha1/subscriptions/{subscriptionName}": {
      "get": {
        "operationId": "getSubscription",
        "summary": "Get a subscription",
        "tags": [
          "Subscriptions"
        ],
        "parameters": [
          {
            "name": "subscriptionName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Get a subscription"
      },
      "delete": {
        "operationId": "deleteSubscription",
        "summary": "Delete a subscription",
        "tags": [
          "Subscriptions"
        ],
        "parameters": [
          {
            "name": "subscriptionName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Delete a subscription"
      }
    },
    "/management/v1alpha1/accessrequests": {
      "get": {
        "operationId": "listAccessRequests",
        "summary": "List access requests",
        "tags": [
          "Access Requests"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "List access requests"
      },
      "post": {
        "operationId": "createAccessRequest",
        "summary": "Create an access request",
        "tags": [
          "Access Requests"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Create an access request"
      }
    },
    "/management/v1alpha1/credentials": {
      "get": {
        "operationId": "listCredentials",
        "summary": "List credentials",
        "tags": [
          "Credentials"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "List credentials"
      },
      "post": {
        "operationId": "createCredential",
        "summary": "Create a credential",
        "tags": [
          "Credentials"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Create a credential"
      }
    },
    "/management/v1alpha1/webhooks": {
      "get": {
        "operationId": "listWebhooks",
        "summary": "List webhooks",
        "tags": [
          "Webhooks"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "List webhooks"
      },
      "post": {
        "operationId": "createWebhook",
        "summary": "Create a webhook",
        "tags": [
          "Webhooks"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Create a webhook"
      }
    }
  },
  "components": {
    "schemas": {
      "Environment": {
        "type": "object",
        "properties": {
          "apiVersion": {
            "type": "string"
          },
          "kind": {
            "type": "string",
            "enum": [
              "Environment"
            ]
          },
          "name": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "metadata": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "createTimestamp": {
                "type": "string",
                "format": "date-time"
              }
            }
          },
          "spec": {
            "type": "object"
          }
        }
      },
      "EnvironmentInput": {
        "type": "object",
        "required": [
          "apiVersion",
          "kind",
          "name",
          "title"
        ],
        "properties": {
          "apiVersion": {
            "type": "string"
          },
          "kind": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "spec": {
            "type": "object"
          }
        }
      },
      "EnvironmentList": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Environment"
            }
          },
          "totalCount": {
            "type": "integer"
          }
        }
      },
      "APIServiceInput": {
        "type": "object",
        "properties": {
          "apiVersion": {
            "type": "string"
          },
          "kind": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "spec": {
            "type": "object"
          }
        }
      },
      "APIServiceList": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array"
          },
          "totalCount": {
            "type": "integer"
          }
        }
      },
      "APIServiceRevisionInput": {
        "type": "object",
        "properties": {
          "apiVersion": {
            "type": "string"
          },
          "kind": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "spec": {
            "type": "object",
            "properties": {
              "definition": {
                "type": "object"
              }
            }
          }
        }
      },
      "APIServiceInstanceInput": {
        "type": "object",
        "properties": {
          "apiVersion": {
            "type": "string"
          },
          "kind": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "spec": {
            "type": "object"
          }
        }
      },
      "ProductInput": {
        "type": "object",
        "properties": {
          "apiVersion": {
            "type": "string"
          },
          "kind": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "spec": {
            "type": "object"
          }
        }
      },
      "SubscriptionInput": {
        "type": "object",
        "properties": {
          "apiVersion": {
            "type": "string"
          },
          "kind": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "spec": {
            "type": "object"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "Amplify Platform Bearer Token"
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "API Service Instances"
    },
    {
      "name": "API Service Revisions"
    },
    {
      "name": "API Services"
    },
    {
      "name": "Access Requests"
    },
    {
      "name": "Catalog"
    },
    {
      "name": "Credentials"
    },
    {
      "name": "Environments"
    },
    {
      "name": "Subscriptions"
    },
    {
      "name": "Webhooks"
    }
  ]
}
