{
  "openapi": "3.0.3",
  "info": {
    "title": "Browserless API",
    "description": "Browserless REST API for headless browser operations including content extraction, screenshots, PDF generation, scraping, and function execution.",
    "version": "2.0.0",
    "x-jentic-source-url": "https://docs.browserless.io/",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://production-sfo.browserless.io",
      "description": "Production (San Francisco)"
    }
  ],
  "security": [
    {
      "TokenAuth": []
    }
  ],
  "tags": [
    {
      "name": "Content",
      "description": "Extract HTML content from web pages."
    },
    {
      "name": "Screenshots",
      "description": "Capture screenshots of web pages."
    },
    {
      "name": "PDF",
      "description": "Generate PDF files from web pages."
    },
    {
      "name": "Scrape",
      "description": "Scrape structured data from web pages."
    },
    {
      "name": "Functions",
      "description": "Execute custom browser functions."
    },
    {
      "name": "Performance",
      "description": "Performance and metrics endpoints."
    }
  ],
  "paths": {
    "/content": {
      "post": {
        "tags": [
          "Content"
        ],
        "summary": "Get page content",
        "description": "Returns the HTML content of a web page after JavaScript execution.",
        "operationId": "getContent",
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Your Browserless API token."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Page HTML content.",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      }
    },
    "/screenshot": {
      "post": {
        "tags": [
          "Screenshots"
        ],
        "summary": "Take a screenshot",
        "description": "Captures a screenshot of a web page.",
        "operationId": "takeScreenshot",
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Your Browserless API token."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ScreenshotRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Screenshot image.",
            "content": {
              "image/png": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "image/jpeg": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "image/webp": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      }
    },
    "/pdf": {
      "post": {
        "tags": [
          "PDF"
        ],
        "summary": "Generate PDF",
        "description": "Generates a PDF from a web page.",
        "operationId": "generatePdf",
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Your Browserless API token."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PdfRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "PDF file.",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      }
    },
    "/scrape": {
      "post": {
        "tags": [
          "Scrape"
        ],
        "summary": "Scrape a page",
        "description": "Scrapes structured data from a web page using CSS selectors or custom logic.",
        "operationId": "scrapePage",
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Your Browserless API token."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ScrapeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Scraped data.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScrapeResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      }
    },
    "/function": {
      "post": {
        "tags": [
          "Functions"
        ],
        "summary": "Execute a function",
        "description": "Executes a custom JavaScript function in a headless browser context.",
        "operationId": "executeFunction",
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Your Browserless API token."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FunctionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Function execution result.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      }
    },
    "/performance": {
      "post": {
        "tags": [
          "Performance"
        ],
        "summary": "Get performance metrics",
        "description": "Runs a Lighthouse-style performance audit on a web page.",
        "operationId": "getPerformance",
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Your Browserless API token."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PerformanceRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Performance audit results.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      }
    },
    "/unblock": {
      "post": {
        "tags": [
          "Content"
        ],
        "summary": "Unblock a page",
        "description": "Attempts to load a web page by bypassing common bot-detection mechanisms. Returns the page content and a screenshot.",
        "operationId": "unblockPage",
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Your Browserless API token."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UnblockRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Unblocked page data.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnblockResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "429": {
            "description": "Too Many Requests"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "GotoOptions": {
        "type": "object",
        "description": "Navigation options for page.goto().",
        "properties": {
          "url": {
            "type": "string",
            "description": "URL to navigate to."
          },
          "waitUntil": {
            "type": "string",
            "description": "When to consider navigation succeeded.",
            "enum": [
              "load",
              "domcontentloaded",
              "networkidle0",
              "networkidle2"
            ],
            "default": "load"
          },
          "timeout": {
            "type": "integer",
            "description": "Maximum navigation time in milliseconds.",
            "default": 30000
          },
          "referer": {
            "type": "string",
            "description": "Referer header value."
          }
        },
        "required": [
          "url"
        ]
      },
      "WaitForSelector": {
        "type": "object",
        "properties": {
          "selector": {
            "type": "string",
            "description": "CSS selector to wait for."
          },
          "timeout": {
            "type": "integer",
            "description": "Maximum time to wait in milliseconds."
          }
        },
        "required": [
          "selector"
        ]
      },
      "WaitForEvent": {
        "type": "object",
        "properties": {
          "event": {
            "type": "string",
            "description": "Event name to wait for."
          },
          "timeout": {
            "type": "integer",
            "description": "Maximum time to wait in milliseconds."
          }
        },
        "required": [
          "event"
        ]
      },
      "ContentRequest": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string",
            "description": "URL to navigate to."
          },
          "gotoOptions": {
            "$ref": "#/components/schemas/GotoOptions"
          },
          "waitForSelector": {
            "$ref": "#/components/schemas/WaitForSelector"
          },
          "waitForEvent": {
            "$ref": "#/components/schemas/WaitForEvent"
          },
          "waitForTimeout": {
            "type": "integer",
            "description": "Time to wait in milliseconds before returning content."
          },
          "bestAttempt": {
            "type": "boolean",
            "description": "If true, returns content even if navigation fails.",
            "default": false
          },
          "rejectResourceTypes": {
            "type": "array",
            "description": "Resource types to block (e.g., image, stylesheet).",
            "items": {
              "type": "string"
            }
          },
          "rejectRequestPattern": {
            "type": "array",
            "description": "URL patterns to block.",
            "items": {
              "type": "string"
            }
          }
        },
        "required": [
          "url"
        ]
      },
      "ScreenshotRequest": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string",
            "description": "URL to navigate to."
          },
          "gotoOptions": {
            "$ref": "#/components/schemas/GotoOptions"
          },
          "options": {
            "type": "object",
            "description": "Puppeteer screenshot options.",
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "png",
                  "jpeg",
                  "webp"
                ],
                "default": "png"
              },
              "quality": {
                "type": "integer",
                "description": "Quality for jpeg/webp (0-100)."
              },
              "fullPage": {
                "type": "boolean",
                "description": "Capture the full scrollable page.",
                "default": false
              },
              "clip": {
                "type": "object",
                "description": "Clip region.",
                "properties": {
                  "x": {
                    "type": "number"
                  },
                  "y": {
                    "type": "number"
                  },
                  "width": {
                    "type": "number"
                  },
                  "height": {
                    "type": "number"
                  }
                }
              },
              "omitBackground": {
                "type": "boolean",
                "description": "Make background transparent for PNG."
              },
              "encoding": {
                "type": "string",
                "enum": [
                  "base64",
                  "binary"
                ],
                "default": "binary"
              }
            }
          },
          "waitForSelector": {
            "$ref": "#/components/schemas/WaitForSelector"
          },
          "waitForEvent": {
            "$ref": "#/components/schemas/WaitForEvent"
          },
          "waitForTimeout": {
            "type": "integer"
          },
          "bestAttempt": {
            "type": "boolean",
            "default": false
          }
        },
        "required": [
          "url"
        ]
      },
      "PdfRequest": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string",
            "description": "URL to navigate to."
          },
          "gotoOptions": {
            "$ref": "#/components/schemas/GotoOptions"
          },
          "options": {
            "type": "object",
            "description": "Puppeteer PDF options.",
            "properties": {
              "scale": {
                "type": "number",
                "description": "Scale of the webpage rendering."
              },
              "displayHeaderFooter": {
                "type": "boolean"
              },
              "headerTemplate": {
                "type": "string"
              },
              "footerTemplate": {
                "type": "string"
              },
              "printBackground": {
                "type": "boolean"
              },
              "landscape": {
                "type": "boolean"
              },
              "pageRanges": {
                "type": "string",
                "description": "Paper ranges to print, e.g., '1-5, 8'."
              },
              "format": {
                "type": "string",
                "description": "Paper format (Letter, Legal, A4, etc.)."
              },
              "width": {
                "type": "string"
              },
              "height": {
                "type": "string"
              },
              "margin": {
                "type": "object",
                "properties": {
                  "top": {
                    "type": "string"
                  },
                  "right": {
                    "type": "string"
                  },
                  "bottom": {
                    "type": "string"
                  },
                  "left": {
                    "type": "string"
                  }
                }
              },
              "preferCSSPageSize": {
                "type": "boolean"
              }
            }
          },
          "waitForSelector": {
            "$ref": "#/components/schemas/WaitForSelector"
          },
          "waitForEvent": {
            "$ref": "#/components/schemas/WaitForEvent"
          },
          "waitForTimeout": {
            "type": "integer"
          },
          "bestAttempt": {
            "type": "boolean",
            "default": false
          }
        },
        "required": [
          "url"
        ]
      },
      "ScrapeRequest": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string",
            "description": "URL to navigate to."
          },
          "gotoOptions": {
            "$ref": "#/components/schemas/GotoOptions"
          },
          "elements": {
            "type": "array",
            "description": "Elements to scrape.",
            "items": {
              "type": "object",
              "properties": {
                "selector": {
                  "type": "string",
                  "description": "CSS selector for the element."
                }
              },
              "required": [
                "selector"
              ]
            }
          },
          "waitForSelector": {
            "$ref": "#/components/schemas/WaitForSelector"
          },
          "waitForEvent": {
            "$ref": "#/components/schemas/WaitForEvent"
          },
          "waitForTimeout": {
            "type": "integer"
          },
          "bestAttempt": {
            "type": "boolean",
            "default": false
          }
        },
        "required": [
          "url",
          "elements"
        ]
      },
      "ScrapeResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "selector": {
                  "type": "string"
                },
                "results": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "text": {
                        "type": "string"
                      },
                      "html": {
                        "type": "string"
                      },
                      "attributes": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string"
                            },
                            "value": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "FunctionRequest": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "JavaScript function code to execute. Receives a Puppeteer page context."
          },
          "context": {
            "type": "object",
            "description": "JSON context to pass to the function.",
            "additionalProperties": true
          }
        },
        "required": [
          "code"
        ]
      },
      "PerformanceRequest": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string",
            "description": "URL to audit."
          },
          "config": {
            "type": "object",
            "description": "Lighthouse configuration.",
            "additionalProperties": true
          }
        },
        "required": [
          "url"
        ]
      },
      "UnblockRequest": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string",
            "description": "URL to unblock."
          },
          "browserWSEndpoint": {
            "type": "string",
            "description": "Custom browser WebSocket endpoint."
          },
          "cookies": {
            "type": "array",
            "description": "Cookies to set.",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                },
                "value": {
                  "type": "string"
                },
                "domain": {
                  "type": "string"
                }
              }
            }
          },
          "content": {
            "type": "boolean",
            "description": "Whether to return HTML content.",
            "default": true
          },
          "screenshot": {
            "type": "boolean",
            "description": "Whether to take a screenshot.",
            "default": false
          },
          "ttl": {
            "type": "integer",
            "description": "Time to live in milliseconds."
          }
        },
        "required": [
          "url"
        ]
      },
      "UnblockResponse": {
        "type": "object",
        "properties": {
          "content": {
            "type": "string",
            "description": "HTML content of the page."
          },
          "cookies": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                },
                "value": {
                  "type": "string"
                },
                "domain": {
                  "type": "string"
                }
              }
            }
          },
          "screenshot": {
            "type": "string",
            "description": "Base64-encoded screenshot."
          },
          "ttl": {
            "type": "integer"
          }
        }
      }
    },
    "securitySchemes": {
      "TokenAuth": {
        "type": "apiKey",
        "in": "query",
        "name": "token",
        "description": "Your Browserless API token passed as a query parameter."
      }
    }
  }
}
