{
  "swagger": "2.0",
  "info": {
    "title": "MetaData Patient API Cloud",
    "x-ibm-name": "metadata-patient-api-cloud",
    "x-ibm-summary": "The technical details of an metadata that can be used for electronic services, such as for web services providing XDS.b or a REST metadata for another FHIR server. This may include any security context information.",
    "version": "4.0.1",
    "description": "A simplified version of the HL7 FHIR  API for metadata resources.",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/BORISMCT2/metadata-patient-api-cloud/4.0.1"
  },
  "schemes": [
    "https"
  ],
  "basePath": "/bsc/fhir-sandbox/fhir-server/api/v4/cloud",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "x-ibm-configuration": {
    "type": "rest",
    "phase": "realized",
    "enforced": true,
    "testable": true,
    "cors": {
      "enabled": true
    },
    "application-authentication": {
      "certificate": false
    },
    "categories": [
      "USCore"
    ],
    "servers": [
      {
        "url": "https://esbndp-api2.bsc.bscal.com:443/bsc/fhir-sandbox/fhir-server/api/v4/cloud",
        "description": "",
        "type": [
          "production",
          "development"
        ]
      },
      {
        "url": "https://esbnxg-api2.bsc.bscal.com/bsc/fhir-sandbox/fhir-server/api/v4/cloud",
        "description": "",
        "type": [
          "production",
          "development"
        ]
      }
    ]
  },
  "paths": {
    "/patient-access/": {
      "get": {
        "description": "Search for metadata resources",
        "summary": "searchmetadata",
        "tags": [
          "metadata"
        ],
        "operationId": "providerdirectory",
        "deprecated": false,
        "produces": [
          "application/fhir+json"
        ],
        "responses": {
          "200": {
            "description": "Search metadata operation successful",
            "headers": {}
          }
        }
      }
    },
    "/patient-access/metadata": {
      "get": {
        "description": "Search for metadata resources",
        "summary": "searchmetadata",
        "tags": [
          "metadata"
        ],
        "operationId": "searchmetadata",
        "deprecated": false,
        "produces": [
          "application/fhir+json"
        ],
        "responses": {
          "200": {
            "description": "Search metadata operation successful",
            "headers": {}
          }
        }
      }
    }
  },
  "host": "esbndp-api2.bsc.bscal.com:443"
}