{
  "openapi": "3.0.0",
  "servers": [
    {
      "description": "Knight MarketPlace",
      "url": "http://knightmp.xyz/api"
    }
  ],
  "info": {
    "description": "COP4331C Large Project",
    "version": "1.0.0",
    "title": "Knight MarketPlace",
    "contact": {
      "email": "you@your-company.com"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/student-63b/COP4331C/1.0.0"
  },
  "tags": [
    {
      "name": "users",
      "description": "Publicly available API calls"
    }
  ],
  "paths": {
    "/login": {
      "post": {
        "tags": [
          "users"
        ],
        "summary": "log into the website",
        "operationId": "login",
        "description": "Authenticate a user, returning a JSON Web Token.",
        "responses": {
          "200": {
            "description": "login successful"
          },
          "400": {
            "description": "invalid input"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Login"
              }
            }
          },
          "description": "Authentication details"
        }
      }
    },
    "/register": {
      "post": {
        "tags": [
          "users"
        ],
        "summary": "create an account for the website",
        "operationId": "register",
        "description": "Create a new user account for the website and save it to the database.",
        "responses": {
          "200": {
            "description": "account creation successful"
          },
          "400": {
            "description": "invalid input"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Register"
              }
            }
          },
          "description": "Account details"
        }
      }
    },
    "/update_user": {
      "post": {
        "tags": [
          "users"
        ],
        "summary": "update an account for the website",
        "operationId": "update_user",
        "description": "Update the current user's account for the website and save it to the database.",
        "responses": {
          "200": {
            "description": "account creation successful"
          },
          "400": {
            "description": "invalid input"
          },
          "403": {
            "description": "forbidden request"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Register"
              }
            }
          },
          "description": "Account details"
        }
      }
    },
    "/reset_password": {
      "post": {
        "tags": [
          "users"
        ],
        "summary": "begin process of resetting a user's password",
        "operationId": "reset_password",
        "description": "Send an email to the email address stored in the database for the user with the supplied username and queue suplied password change.",
        "responses": {
          "200": {
            "description": "password reset begun"
          },
          "400": {
            "description": "invalid input"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Login"
              }
            }
          },
          "description": "Username and new password"
        }
      }
    },
    "/deposit": {
      "post": {
        "tags": [
          "users"
        ],
        "summary": "make a deposit to the current user's account",
        "operationId": "deposit",
        "description": "Deposit a positive amount of definitely not fake money into the current user's account and update their balance in the database.",
        "responses": {
          "200": {
            "description": "deposit successful"
          },
          "400": {
            "description": "invalid input"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Deposit"
              }
            }
          },
          "description": "Deposit amount"
        }
      }
    },
    "/check_balance": {
      "post": {
        "tags": [
          "users"
        ],
        "summary": "check current user's balance",
        "operationId": "check_balance",
        "description": "Retrieve how much definitely real money the current user has in their account from the database.",
        "responses": {
          "200": {
            "description": "retrieval successful"
          },
          "400": {
            "description": "invalid input"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Token"
              }
            }
          },
          "description": "JSON Web Token"
        }
      }
    },
    "/add_product": {
      "post": {
        "tags": [
          "users"
        ],
        "summary": "add a new product to sell on the website",
        "operationId": "add_product",
        "description": "Create a product to sell on the website and save the details to the database.",
        "responses": {
          "200": {
            "description": "product creation successful"
          },
          "400": {
            "description": "invalid input"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewProduct"
              }
            }
          },
          "description": "Product details"
        }
      }
    },
    "/user_products": {
      "post": {
        "tags": [
          "users"
        ],
        "summary": "get all products you are currently selling",
        "operationId": "user_products",
        "description": "Search the database for all products listed under your userID and retrieve them.",
        "responses": {
          "200": {
            "description": "products retrieved"
          },
          "400": {
            "description": "invalid input"
          },
          "404": {
            "description": "no products found"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Token"
              }
            }
          },
          "description": "JSON Web Token"
        }
      }
    },
    "/search_products": {
      "post": {
        "tags": [
          "users"
        ],
        "summary": "get all products matching a search string",
        "operationId": "search_products",
        "description": "Search the database for all products that partially match the search string and retrieve them.",
        "responses": {
          "200": {
            "description": "products retrieved"
          },
          "400": {
            "description": "invalid input"
          },
          "404": {
            "description": "no products found"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Search"
              }
            }
          },
          "description": "Search string"
        }
      }
    },
    "/edit_product": {
      "post": {
        "tags": [
          "users"
        ],
        "summary": "edit a product you're currently selling",
        "operationId": "edit_product",
        "description": "Edit a product listed under your userID and update its information in the database.",
        "responses": {
          "200": {
            "description": "product edited successfully"
          },
          "400": {
            "description": "invalid input"
          },
          "404": {
            "description": "product not found"
          },
          "403": {
            "description": "forbidden request"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EditProduct"
              }
            }
          }
        }
      }
    },
    "/delete_product": {
      "post": {
        "tags": [
          "users"
        ],
        "summary": "delete a product you're currently selling",
        "operationId": "delete_product",
        "description": "Delete a product listed under your userID from the database.",
        "responses": {
          "200": {
            "description": "product deletion successful"
          },
          "400": {
            "description": "invalid input"
          },
          "404": {
            "description": "product not found"
          },
          "403": {
            "description": "forbidden request"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteProduct"
              }
            }
          },
          "description": "Product ID"
        }
      }
    },
    "/add_item": {
      "post": {
        "tags": [
          "users"
        ],
        "summary": "add an item to your cart",
        "operationId": "add_item",
        "description": "Add the supplied quantity of a product to your active order, creating one if one doesn't exist.",
        "responses": {
          "200": {
            "description": "item creation successful"
          },
          "400": {
            "description": "invalid input"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewItem"
              }
            }
          },
          "description": "Product ID and quantity"
        }
      }
    },
    "/get_items": {
      "post": {
        "tags": [
          "users"
        ],
        "summary": "get items from an order",
        "operationId": "get_items",
        "description": "Retrieve items from a given order from the database (active order if unsuplied); can also limit results by item or product ID.",
        "responses": {
          "200": {
            "description": "items retrieved successfully"
          },
          "400": {
            "description": "invalid input"
          },
          "404": {
            "description": "order not found"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetItems"
              }
            }
          },
          "description": "Optionally any of orderID, productID, itemID"
        }
      }
    },
    "/order_history": {
      "post": {
        "tags": [
          "users"
        ],
        "summary": "get all orders for current user",
        "operationId": "order_history",
        "description": "Get all orders for the current user, starting with active orders, followed by pending orders, and then complete orders. Within each category, orders are sorted by date in descending order such that the most recent order is higher in the list.",
        "responses": {
          "200": {
            "description": "orders retrieved successfully"
          },
          "400": {
            "description": "invalid input"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Token"
              }
            }
          },
          "description": "JSON Web Token"
        }
      }
    },
    "/delete_item": {
      "post": {
        "tags": [
          "users"
        ],
        "summary": "delete an item from an order",
        "operationId": "delete_item",
        "description": "Delete an OrderItem entry from the database given its itemID.",
        "responses": {
          "200": {
            "description": "item deleted successfully"
          },
          "400": {
            "description": "invalid input"
          },
          "404": {
            "description": "item not found or no active order"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteItem"
              }
            }
          },
          "description": "Item ID"
        }
      }
    },
    "/clear_order": {
      "post": {
        "tags": [
          "users"
        ],
        "summary": "clear the current user's cart",
        "operationId": "clear_order",
        "description": "Delete all OrderItems in the active order, then delete the order.",
        "responses": {
          "200": {
            "description": "order cleared"
          },
          "400": {
            "description": "invalid input"
          },
          "404": {
            "description": "no active order found"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Token"
              }
            }
          },
          "description": "JSON Web Token"
        }
      }
    },
    "/checkout": {
      "post": {
        "tags": [
          "users"
        ],
        "summary": "place order and confirm shipping address",
        "operationId": "checkout",
        "description": "If the current user has sufficient balance and each Product ordered has sufficient stock, append the provided shipping address to the active order, and give the order and all items in it the \"pending\" status.",
        "responses": {
          "200": {
            "description": "order placed"
          },
          "400": {
            "description": "invalid input"
          },
          "404": {
            "description": "no active order found"
          },
          "500": {
            "description": "unknown database error"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Checkout"
              }
            }
          },
          "description": "Shipping address"
        }
      }
    },
    "/get_orders": {
      "post": {
        "tags": [
          "users"
        ],
        "summary": "get order details for products current user sells",
        "operationId": "get_orders",
        "description": "Get relevant order details for orders placed for the current user's products.",
        "responses": {
          "200": {
            "description": "order details retrieved successfully"
          },
          "400": {
            "description": "invalid input"
          },
          "404": {
            "description": "product not found"
          },
          "403": {
            "description": "forbidden request"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetOrders"
              }
            }
          },
          "description": "Product ID"
        }
      }
    },
    "/mark_order": {
      "post": {
        "tags": [
          "users"
        ],
        "summary": "mark an order as fulfilled or refunded",
        "operationId": "mark_order",
        "description": "Mark a pending OrderItem for a product you own as fulfilled or refunded; if all OrderItems in an Order are fulfilled or refunded, mark complete.",
        "responses": {
          "200": {
            "description": "order status updated successfully"
          },
          "400": {
            "description": "invalid input"
          },
          "404": {
            "description": "item not found"
          },
          "403": {
            "description": "forbidden request"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MarkOrder"
              }
            }
          },
          "description": "Item ID and status (\"fulfilled\" or \"refunded\")"
        }
      }
    },
    "/upload": {
      "post": {
        "tags": [
          "users"
        ],
        "summary": "upload an image to the database",
        "operationId": "upload",
        "description": "upload an image to the database and return the path.",
        "responses": {
          "200": {
            "description": "image uploaded successfully"
          },
          "400": {
            "description": "invalid input"
          },
          "413": {
            "description": "image too large"
          }
        },
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "image": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            }
          },
          "description": "Image to upload"
        }
      }
    },
    "/confirm_reset": {
      "get": {
        "tags": [
          "users"
        ],
        "summary": "confirms a pending password reset",
        "operationId": "confirm_reset",
        "description": "Using a token appended to a URL in an email sent to the user, authenticates and performs a pending password reset.",
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "description": "JSON Web Token containing userID",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Token2"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "password reset successfully"
          },
          "400": {
            "description": "invalid token"
          }
        }
      }
    },
    "/verify_email": {
      "get": {
        "tags": [
          "users"
        ],
        "summary": "confirms a pending email verification",
        "operationId": "verify_email",
        "description": "Using a token appended to a URL in an email sent to the user, verifies that email.",
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "description": "JSON Web Token containing userID",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Token2"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "email verified successfully"
          },
          "400": {
            "description": "invalid token"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Deposit": {
        "required": [
          "accessToken",
          "deposit"
        ],
        "properties": {
          "accessToken": {
            "type": "string",
            "example": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ0b2tlbiI6InRoaXNpc2F0b2tlbiIsImlhdCI6MTc2MzMyMzM2NX0.t1RGGit9l-9gxdvec9qe9vIj76cuiGk23vT2kkn53CU"
          },
          "deposit": {
            "type": "number",
            "example": 29.99
          }
        }
      },
      "UpdateUser": {
        "required": [
          "accessToken"
        ],
        "properties": {
          "accessToken": {
            "type": "string",
            "example": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ0b2tlbiI6InRoaXNpc2F0b2tlbiIsImlhdCI6MTc2MzMyMzM2NX0.t1RGGit9l-9gxdvec9qe9vIj76cuiGk23vT2kkn53CU"
          },
          "firstName": {
            "type": "string",
            "example": "Bruce"
          },
          "lastName": {
            "type": "string",
            "example": "Wayne"
          },
          "username": {
            "type": "string",
            "example": "thisisatestXYZ"
          },
          "email": {
            "type": "string",
            "example": "notanemail@example.com"
          },
          "password": {
            "type": "string",
            "example": "thisisatestXYZ"
          }
        }
      },
      "MarkOrder": {
        "required": [
          "accessToken",
          "itemID",
          "status"
        ],
        "properties": {
          "accessToken": {
            "type": "string",
            "example": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ0b2tlbiI6InRoaXNpc2F0b2tlbiIsImlhdCI6MTc2MzMyMzM2NX0.t1RGGit9l-9gxdvec9qe9vIj76cuiGk23vT2kkn53CU"
          },
          "itemID": {
            "type": "string",
            "example": "6918a78e91985fa69a37f7d1"
          },
          "status": {
            "type": "string",
            "example": "fulfilled"
          }
        }
      },
      "GetOrders": {
        "required": [
          "accessToken",
          "productID"
        ],
        "properties": {
          "accessToken": {
            "type": "string",
            "example": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ0b2tlbiI6InRoaXNpc2F0b2tlbiIsImlhdCI6MTc2MzMyMzM2NX0.t1RGGit9l-9gxdvec9qe9vIj76cuiGk23vT2kkn53CU"
          },
          "productID": {
            "type": "string",
            "example": "6914e4be1ad26f80fef23547"
          }
        }
      },
      "Checkout": {
        "required": [
          "accessToken",
          "shippingAddress"
        ],
        "properties": {
          "accessToken": {
            "type": "string",
            "example": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ0b2tlbiI6InRoaXNpc2F0b2tlbiIsImlhdCI6MTc2MzMyMzM2NX0.t1RGGit9l-9gxdvec9qe9vIj76cuiGk23vT2kkn53CU"
          },
          "shippingAddress": {
            "type": "string",
            "example": "4000 Central Florida Blvd. Orlando, FL 32816"
          }
        }
      },
      "DeleteItem": {
        "required": [
          "accessToken",
          "itemID"
        ],
        "properties": {
          "accessToken": {
            "type": "string",
            "example": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ0b2tlbiI6InRoaXNpc2F0b2tlbiIsImlhdCI6MTc2MzMyMzM2NX0.t1RGGit9l-9gxdvec9qe9vIj76cuiGk23vT2kkn53CU"
          },
          "itemID": {
            "type": "string",
            "example": "6918a78e91985fa69a37f7d1"
          }
        }
      },
      "GetItems": {
        "required": [
          "accessToken"
        ],
        "properties": {
          "accessToken": {
            "type": "string",
            "example": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ0b2tlbiI6InRoaXNpc2F0b2tlbiIsImlhdCI6MTc2MzMyMzM2NX0.t1RGGit9l-9gxdvec9qe9vIj76cuiGk23vT2kkn53CU"
          },
          "orderID": {
            "type": "string",
            "example": "6917f70ea1a81b20274e97c9"
          },
          "itemID": {
            "type": "string",
            "example": "6918a78e91985fa69a37f7d1"
          },
          "productID": {
            "type": "string",
            "example": "6914e4be1ad26f80fef23547"
          }
        }
      },
      "NewItem": {
        "required": [
          "accessToken",
          "productID",
          "quantity"
        ],
        "properties": {
          "accessToken": {
            "type": "string",
            "example": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ0b2tlbiI6InRoaXNpc2F0b2tlbiIsImlhdCI6MTc2MzMyMzM2NX0.t1RGGit9l-9gxdvec9qe9vIj76cuiGk23vT2kkn53CU"
          },
          "productID": {
            "type": "string",
            "example": "6914e4be1ad26f80fef23547"
          },
          "quantity": {
            "type": "integer",
            "example": 3
          }
        }
      },
      "DeleteProduct": {
        "required": [
          "accessToken",
          "productID"
        ],
        "properties": {
          "accessToken": {
            "type": "string",
            "example": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ0b2tlbiI6InRoaXNpc2F0b2tlbiIsImlhdCI6MTc2MzMyMzM2NX0.t1RGGit9l-9gxdvec9qe9vIj76cuiGk23vT2kkn53CU"
          },
          "productID": {
            "type": "string",
            "example": "6914e4be1ad26f80fef23547"
          }
        }
      },
      "EditProduct": {
        "required": [
          "accessToken",
          "productID"
        ],
        "properties": {
          "accessToken": {
            "type": "string",
            "example": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ0b2tlbiI6InRoaXNpc2F0b2tlbiIsImlhdCI6MTc2MzMyMzM2NX0.t1RGGit9l-9gxdvec9qe9vIj76cuiGk23vT2kkn53CU"
          },
          "productID": {
            "type": "string",
            "example": "6914e4be1ad26f80fef23547"
          },
          "name": {
            "type": "string",
            "example": "Coffee"
          },
          "price": {
            "type": "number",
            "example": 2.99
          },
          "description": {
            "type": "string",
            "example": "An empty cup of coffee"
          },
          "stockQuantity": {
            "type": "integer",
            "example": 12
          }
        }
      },
      "Search": {
        "required": [
          "accessToken",
          "search"
        ],
        "properties": {
          "accessToken": {
            "type": "string",
            "example": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ0b2tlbiI6InRoaXNpc2F0b2tlbiIsImlhdCI6MTc2MzMyMzM2NX0.t1RGGit9l-9gxdvec9qe9vIj76cuiGk23vT2kkn53CU"
          },
          "search": {
            "type": "string",
            "example": "coffee"
          }
        }
      },
      "Token": {
        "required": [
          "accessToken"
        ],
        "properties": {
          "accessToken": {
            "type": "string",
            "example": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ0b2tlbiI6InRoaXNpc2F0b2tlbiIsImlhdCI6MTc2MzMyMzM2NX0.t1RGGit9l-9gxdvec9qe9vIj76cuiGk23vT2kkn53CU"
          }
        }
      },
      "Token2": {
        "required": [
          "token"
        ],
        "properties": {
          "token": {
            "type": "string",
            "example": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ0b2tlbiI6InRoaXNpc2F0b2tlbiIsImlhdCI6MTc2MzMyMzM2NX0.t1RGGit9l-9gxdvec9qe9vIj76cuiGk23vT2kkn53CU"
          }
        }
      },
      "NewProduct": {
        "required": [
          "accessToken",
          "name",
          "price",
          "description",
          "stockQuantity"
        ],
        "properties": {
          "accessToken": {
            "type": "string",
            "example": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ0b2tlbiI6InRoaXNpc2F0b2tlbiIsImlhdCI6MTc2MzMyMzM2NX0.t1RGGit9l-9gxdvec9qe9vIj76cuiGk23vT2kkn53CU"
          },
          "name": {
            "type": "string",
            "example": "Coffee"
          },
          "price": {
            "type": "number",
            "example": 2.99
          },
          "description": {
            "type": "string",
            "example": "An empty cup of coffee"
          },
          "stockQuantity": {
            "type": "integer",
            "example": 12
          }
        }
      },
      "Register": {
        "required": [
          "firstName",
          "lastName",
          "username",
          "email",
          "password"
        ],
        "properties": {
          "firstName": {
            "type": "string",
            "example": "Bruce"
          },
          "lastName": {
            "type": "string",
            "example": "Wayne"
          },
          "username": {
            "type": "string",
            "example": "thisisatestXYZ"
          },
          "email": {
            "type": "string",
            "example": "notanemail@example.com"
          },
          "password": {
            "type": "string",
            "example": "thisisatestXYZ"
          }
        }
      },
      "Login": {
        "required": [
          "username",
          "password"
        ],
        "properties": {
          "username": {
            "type": "string",
            "example": "thisisatestABCDEFG"
          },
          "password": {
            "type": "string",
            "example": "thisisatestABCDEFH"
          }
        }
      }
    }
  }
}