{
  "swagger": "2.0",
  "info": {
    "title": "GetCustomerParty API",
    "description": "Retrieves Customer Party Details.",
    "version": "1.0.0",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/ScarrWorking/getcustomerparty-api/1.0.0"
  },
  "host": "api.vodafone.com",
  "schemes": [
    "https"
  ],
  "basePath": "/",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "paths": {
    "/customer/v2/customerparty/query": {
      "post": {
        "summary": "getCustomerPartyList",
        "description": "The Get Customer Party List operation supports the capabilities to retrieve the customer party details.",
        "operationId": "getCustomerPartyList",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "X-Source",
            "in": "header",
            "description": "The source of the request.",
            "required": true,
            "type": "string",
            "x-example": "ONLINE"
          },
          {
            "name": "Date",
            "in": "header",
            "description": "The timestamp when the request is created.",
            "required": true,
            "type": "string",
            "x-example": "2012-09-05T04:17:34.714Z"
          },
          {
            "name": "X-TransactionID",
            "in": "header",
            "description": "A unique ID for the transaction.",
            "required": true,
            "type": "string",
            "x-example": "OODJoeeJ383JD"
          },
          {
            "name": "X-Originator",
            "in": "header",
            "description": "The originator of the request.",
            "required": true,
            "type": "string",
            "x-example": "APIX"
          },
          {
            "name": "X-MigrationStatus",
            "in": "header",
            "description": "Migration Status.It is mandatory for the Consumers to populate this field as \u201cnot-migrated\u201d to retrieve the identity information from Legacy Centric Stack. If not supplied, by default the identity information of customer would be returned from Consumer Centric Stack.",
            "type": "string",
            "x-example": "not-migrated"
          },
          {
            "name": "getCustomerPartyListRequest",
            "in": "body",
            "description": "Request details to retrieve customer party details.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/getCustomerPartyListRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/getCustomerPartyListResponse"
            },
            "headers": {
              "X-Source": {
                "description": "name of the source",
                "type": "string"
              },
              "Date": {
                "description": "Date of the transaction",
                "type": "string"
              },
              "X-TransactionID": {
                "description": "Date of the transaction",
                "type": "string"
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/error"
            },
            "headers": {
              "X-Source": {
                "description": "name of the source",
                "type": "string"
              },
              "Date": {
                "description": "Date of the transaction",
                "type": "string"
              },
              "X-TransactionID": {
                "description": "Date of the transaction",
                "type": "string"
              }
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/error"
            },
            "headers": {
              "X-Source": {
                "description": "name of the source",
                "type": "string"
              },
              "Date": {
                "description": "Date of the transaction",
                "type": "string"
              },
              "X-TransactionID": {
                "description": "Date of the transaction",
                "type": "string"
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/error"
            },
            "headers": {
              "X-Source": {
                "description": "name of the source",
                "type": "string"
              },
              "Date": {
                "description": "Date of the transaction",
                "type": "string"
              },
              "X-TransactionID": {
                "description": "Date of the transaction",
                "type": "string"
              }
            }
          },
          "504": {
            "description": "Gateway Timeout",
            "schema": {
              "$ref": "#/definitions/error"
            },
            "headers": {
              "X-Source": {
                "description": "name of the source",
                "type": "string"
              },
              "Date": {
                "description": "Date of the transaction",
                "type": "string"
              },
              "X-TransactionID": {
                "description": "Date of the transaction",
                "type": "string"
              }
            }
          }
        }
      }
    }
  },
  "definitions": {
    "error": {
      "type": "object",
      "properties": {
        "status": {
          "description": "HTTP status code applicable to error",
          "type": "string"
        },
        "code": {
          "description": "TIL error code",
          "type": "string"
        },
        "detail": {
          "description": "TILL error details",
          "type": "string"
        }
      }
    },
    "getCustomerPartyListRequest": {
      "properties": {
        "customerIdentification": {
          "$ref": "#/definitions/customerIdentificationType"
        },
        "account": {
          "$ref": "#/definitions/accountRequestType"
        },
        "responseCode": {
          "type": "string",
          "x-example": "FULL,BILLINGPROFILE"
        }
      }
    },
    "customerIdentificationType": {
      "properties": {
        "customerPartyID": {
          "type": "string"
        },
        "MSISDN": {
          "type": "string",
          "format": "(447)[0-9]{9}"
        },
        "FLN": {
          "type": "string"
        },
        "bb_serviceID": {
          "type": "string"
        },
        "contactID": {
          "type": "string"
        },
        "userName": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "accountRequestType": {
      "description": "Account type and Billing Profile.",
      "properties": {
        "type": {
          "description": "Type of the account.",
          "x-example": "User,Owner,Billing",
          "type": "string"
        },
        "billingProfile": {
          "$ref": "#/definitions/billingProfileRequestType"
        }
      }
    },
    "accountType": {
      "description": "Account type and Billing Profile.",
      "properties": {
        "id": {
          "type": "string",
          "description": "Unique identifier of a Billing profile."
        },
        "name": {
          "type": "string"
        },
        "type": {
          "description": "Type of the account.",
          "x-example": "User,Owner,Billing",
          "type": "string"
        },
        "classification": {
          "$ref": "#/definitions/classificationType"
        },
        "status": {
          "type": "string"
        },
        "creationDateTime": {
          "type": "string"
        },
        "address": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/addressType"
          }
        },
        "billingProfile": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/billingProfileType"
          }
        },
        "creditProfile": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/creditProfileType"
          }
        },
        "sellingProfile": {
          "items": {
            "$ref": "#/definitions/sellingProfileType"
          },
          "type": "array"
        },
        "shippingProfile": {
          "items": {
            "$ref": "#/definitions/shippingProfileType"
          },
          "type": "array"
        },
        "notes": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "specification": {
          "items": {
            "$ref": "#/definitions/specificationType"
          },
          "type": "array"
        },
        "serviceClass": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "classificationType": {
      "description": "Account classification",
      "properties": {
        "code": {
          "type": "string"
        },
        "category": {
          "type": "string"
        },
        "subCategory": {
          "type": "string"
        },
        "segment": {
          "type": "string"
        },
        "subSegment": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "billingProfileRequestType": {
      "description": "Billing profile of customer",
      "properties": {
        "id": {
          "type": "string",
          "description": "Unique identifier of a Billing profile."
        }
      }
    },
    "billingProfileType": {
      "description": "Billing profile of customer",
      "properties": {
        "id": {
          "type": "string",
          "description": "Unique identifier of a Billing profile."
        },
        "name": {
          "type": "string"
        },
        "type": {
          "type": "string"
        },
        "category": {
          "type": "string"
        },
        "subCategory": {
          "type": "string"
        },
        "status": {
          "type": "string"
        },
        "preferredIndicator": {
          "type": "boolean"
        },
        "role": {
          "type": "string"
        },
        "frequency": {
          "type": "string"
        },
        "dayOfMonth": {
          "type": "string"
        },
        "mediaType": {
          "type": "string"
        },
        "validityPeriod": {
          "$ref": "#/definitions/validityPeriodType"
        },
        "address": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/addressType"
          }
        },
        "contact": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/contactType"
          }
        },
        "additionalInfo": {
          "$ref": "#/definitions/additionalInfoType"
        },
        "paymentProfile": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/paymentProfileType"
          }
        },
        "notes": {
          "type": "string"
        },
        "specification": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/specificationType"
          }
        },
        "billingSystem": {
          "$ref": "#/definitions/billingSystemType"
        },
        "linkedBillingProfiles": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/linkedBillingProfileType"
          }
        }
      },
      "type": "object"
    },
    "additionalInfoType": {
      "properties": {
        "autoTopUp": {
          "type": "string"
        },
        "topUpUom": {
          "type": "string"
        },
        "topUpAmount": {
          "type": "string"
        },
        "smsNotification": {
          "type": "boolean"
        },
        "thresholdAmount": {
          "type": "string"
        },
        "thresholdUom": {
          "type": "string"
        },
        "attribute": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/attributeType"
          }
        }
      }
    },
    "getCustomerPartyListResponse": {
      "description": "Response - Customer party details.",
      "properties": {
        "customerParty": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/customerPartyType"
          }
        }
      }
    },
    "customerPartyType": {
      "properties": {
        "id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "type": {
          "type": "string"
        },
        "category": {
          "type": "string"
        },
        "subCategory": {
          "type": "string"
        },
        "status": {
          "type": "string"
        },
        "individual": {
          "$ref": "#/definitions/individualType"
        },
        "organisation": {
          "$ref": "#/definitions/organisationType"
        },
        "contact": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/contactType"
          }
        },
        "notes": {
          "type": "string"
        },
        "specification": {
          "items": {
            "$ref": "#/definitions/specificationType"
          },
          "type": "array"
        },
        "account": {
          "items": {
            "$ref": "#/definitions/accountType"
          },
          "type": "array"
        },
        "relatedParties": {
          "items": {
            "$ref": "#/definitions/relatedPartiesType"
          },
          "type": "array"
        }
      }
    },
    "individualType": {
      "description": "Details of an Individual",
      "properties": {
        "person": {
          "$ref": "#/definitions/personType"
        },
        "address": {
          "$ref": "#/definitions/addressType"
        }
      },
      "type": "object"
    },
    "organisationType": {
      "description": "Details of an organisation",
      "properties": {
        "name": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "shortName": {
          "type": "string"
        },
        "type": {
          "type": "string"
        },
        "parentIdentifier": {
          "type": "string"
        },
        "businessIdentifier": {
          "type": "string"
        },
        "geoLocation": {
          "$ref": "#/definitions/geoLocationType"
        },
        "incorporationDate": {
          "type": "string"
        },
        "taxIdentificationNumber": {
          "type": "string"
        },
        "website": {
          "type": "string"
        },
        "email": {
          "type": "string"
        },
        "fax": {
          "type": "string"
        },
        "sms": {
          "type": "string"
        },
        "phone": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "address": {
          "$ref": "#/definitions/addressType"
        },
        "divisionName": {
          "type": "string"
        },
        "dunAndBradstreetNumber": {
          "type": "string"
        },
        "companyRegisteredNumber": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "geoLocationType": {
      "description": "Details of GeoLocation of an Organisation",
      "properties": {
        "longitude": {
          "type": "string"
        },
        "latitude": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "relatedPartiesType": {
      "description": "Details of related parties",
      "properties": {
        "relationShipCode": {
          "type": "string"
        },
        "relatedParty": {
          "items": {
            "$ref": "#/definitions/relatedPartyType"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "relatedPartyType": {
      "description": "Details of related party",
      "properties": {
        "id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "type": {
          "type": "string"
        },
        "category": {
          "type": "string"
        },
        "subCategory": {
          "type": "string"
        },
        "status": {
          "type": "string"
        },
        "individual": {
          "$ref": "#/definitions/individualType"
        },
        "organisation": {
          "$ref": "#/definitions/organisationType"
        },
        "contact": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/contactType"
          }
        },
        "notes": {
          "type": "string"
        },
        "specification": {
          "items": {
            "$ref": "#/definitions/specificationType"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "contactType": {
      "description": "Details of a contact.",
      "properties": {
        "id": {
          "description": "Unique identifier of a contact.",
          "type": "string"
        },
        "person": {
          "$ref": "#/definitions/personType"
        },
        "type": {
          "type": "string"
        },
        "category": {
          "type": "string"
        },
        "subCategory": {
          "type": "string"
        },
        "status": {
          "type": "string"
        },
        "contactPoints": {
          "$ref": "#/definitions/contactPointsType"
        },
        "characteristics": {
          "$ref": "#/definitions/characteristicsType"
        },
        "accessibility": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "notes": {
          "type": "string"
        },
        "specification": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/specificationType"
          }
        },
        "role": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "userName": {
          "type": "string"
        },
        "identityVerificationStatus": {
          "type": "string"
        },
        "mediaType": {
          "type": "string"
        },
        "specialNeeds": {
          "properties": {
            "specialNeed": {
              "properties": {
                "type": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                },
                "status": {
                  "type": "string"
                }
              },
              "type": "array"
            }
          }
        }
      },
      "type": "object"
    },
    "personType": {
      "description": "Details of an individual.",
      "properties": {
        "title": {
          "description": "Way the person is addressed.",
          "type": "string"
        },
        "firstName": {
          "description": "Firstname of the person",
          "type": "string"
        },
        "middleName": {
          "description": "Middlename of the person",
          "type": "string"
        },
        "lastName": {
          "description": "Lastname of the person",
          "type": "string"
        },
        "nickName": {
          "description": "Nickname of the person",
          "type": "string"
        },
        "dateOfBirth": {
          "description": "Date of birth of the person",
          "type": "string"
        },
        "gender": {
          "description": "Gender of the person",
          "type": "string"
        },
        "birthTown": {
          "description": "BirthTown of the person",
          "type": "string"
        },
        "language": {
          "description": "Language of the person",
          "type": "string"
        },
        "countryOfResidence": {
          "description": "countryOfResidence of the person",
          "type": "string"
        },
        "deathIndicator": {
          "description": "Flag to show if the contact is deceased  or not.",
          "type": "string"
        },
        "dateOfDeath": {
          "description": "Date of death",
          "type": "string"
        },
        "occupation": {
          "description": "Occupation of the person",
          "type": "string"
        },
        "employmentStatus": {
          "description": "Employment status of the person",
          "type": "string"
        },
        "jobTitle": {
          "description": "Job title of the person",
          "type": "string"
        },
        "department": {
          "description": "Department of the person",
          "type": "string"
        },
        "groupName": {
          "description": "GroupName title of the person",
          "type": "string"
        },
        "organisationName": {
          "description": "OrganisationName to which the person belongs",
          "type": "string"
        },
        "maritalStatus": {
          "description": "Marital status of the person",
          "type": "string"
        },
        "ageGroup": {
          "description": "Agegroup person belongs",
          "type": "string"
        },
        "nationality": {
          "description": "Nationality of the person",
          "type": "string"
        }
      },
      "type": "object"
    },
    "contactPointsType": {
      "properties": {
        "preferredCommunicationChannel": {
          "type": "string"
        },
        "contactPoint": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/contactPointType"
          }
        }
      },
      "type": "object"
    },
    "characteristicsType": {
      "properties": {
        "name": {
          "type": "string"
        },
        "type": {
          "type": "string"
        },
        "value": {
          "type": "string"
        },
        "id": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "specificationType": {
      "properties": {
        "name": {
          "type": "string"
        },
        "type": {
          "type": "string"
        },
        "value": {
          "type": "string"
        },
        "attribute": {
          "items": {
            "$ref": "#/definitions/attributeType"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "attributeType": {
      "properties": {
        "name": {
          "type": "string"
        },
        "type": {
          "type": "string"
        },
        "value": {
          "type": "string"
        },
        "id": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "contactPointType": {
      "properties": {
        "preferredIndicator": {
          "type": "boolean"
        },
        "telephone": {
          "$ref": "#/definitions/telephoneType"
        },
        "fax": {
          "$ref": "#/definitions/faxType"
        },
        "email": {
          "$ref": "#/definitions/emailType"
        },
        "postal": {
          "$ref": "#/definitions/addressType"
        }
      },
      "type": "object"
    },
    "telephoneType": {
      "properties": {
        "phoneType": {
          "type": "string"
        },
        "fullNumber": {
          "type": "string"
        },
        "numberExtension": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "faxType": {
      "properties": {
        "type": {
          "type": "string"
        },
        "fullNumber": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "emailType": {
      "properties": {
        "fullAddress": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "addressType": {
      "properties": {
        "id": {
          "description": "Unique identifier for an address",
          "type": "string"
        },
        "name": {
          "description": "Name of an address",
          "type": "string"
        },
        "type": {
          "description": "Type of an address",
          "type": "string"
        },
        "category": {
          "description": "Category of an address",
          "type": "string"
        },
        "subCategory": {
          "description": "SubCategory of an address",
          "type": "string"
        },
        "status": {
          "description": "Address Status",
          "type": "string"
        },
        "fao": {
          "description": "For the attention of..",
          "type": "string"
        },
        "flat": {
          "description": "Flat Number",
          "type": "string"
        },
        "buildingNumber": {
          "description": "House Number",
          "type": "string"
        },
        "building": {
          "description": "For buildings where the house has a name instead of a number.",
          "type": "string"
        },
        "street": {
          "description": "For buildings where the house has a name instead of a number.",
          "type": "string"
        },
        "subStreet": {
          "description": "For buildings where the house has a name instead of a number.",
          "type": "string"
        },
        "privateStreet": {
          "description": "For buildings where the house has a name instead of a number.",
          "type": "string"
        },
        "locality": {
          "description": "For buildings where the house has a name instead of a number.",
          "type": "string"
        },
        "subLocality": {
          "description": "For buildings where the house has a name instead of a number.",
          "type": "string"
        },
        "town": {
          "description": "Town.",
          "type": "string"
        },
        "townSuffix": {
          "description": "Town Suffix.",
          "type": "string"
        },
        "city": {
          "description": "City.",
          "type": "string"
        },
        "county": {
          "description": "County.",
          "type": "string"
        },
        "country": {
          "description": "Country.",
          "type": "string"
        },
        "postcode": {
          "description": "Postcode.",
          "type": "string"
        },
        "residentStatus": {
          "description": "Resident status.",
          "type": "string"
        },
        "stayPeriod": {
          "$ref": "#/definitions/stayPeriodType"
        },
        "notes": {
          "description": "Notes.",
          "type": "string"
        },
        "specification": {
          "description": "Specification.",
          "items": {
            "$ref": "#/definitions/specificationType"
          },
          "type": "array"
        },
        "relatedID": {
          "description": "RelatedID.",
          "type": "string"
        },
        "classification": {
          "description": "Classification.",
          "type": "string"
        },
        "subClassification": {
          "description": "SubClassification.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "stayPeriodType": {
      "properties": {
        "from": {
          "type": "string"
        },
        "to": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "validityPeriodType": {
      "properties": {
        "from": {
          "type": "string"
        },
        "to": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "paymentProfileType": {
      "description": "Payment profile of customer",
      "properties": {
        "id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "type": {
          "type": "string"
        },
        "category": {
          "type": "string"
        },
        "subCategory": {
          "type": "string"
        },
        "status": {
          "type": "string"
        },
        "preferredIndicator": {
          "type": "boolean"
        },
        "method": {
          "$ref": "#/definitions/methodType"
        },
        "notes": {
          "type": "string"
        },
        "specification": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/specificationType"
          }
        }
      },
      "type": "object"
    },
    "methodType": {
      "description": "Payment profile of customer",
      "properties": {
        "code": {
          "type": "string"
        },
        "bankPayment": {
          "$ref": "#/definitions/bankPaymentType"
        },
        "cardPayment": {
          "$ref": "#/definitions/cardPaymentType"
        },
        "chequePayment": {
          "$ref": "#/definitions/chequePaymentType"
        },
        "thirdPartyPayment": {
          "$ref": "#/definitions/thirdPartyPaymentType"
        }
      },
      "type": "object"
    },
    "bankPaymentType": {
      "description": "Bank Payment of customer",
      "properties": {
        "id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "type": {
          "type": "string"
        },
        "status": {
          "type": "string"
        },
        "holderName": {
          "type": "string"
        },
        "accountNumber": {
          "type": "string"
        },
        "sortCode": {
          "type": "string"
        },
        "branch": {
          "type": "string"
        },
        "IBAN": {
          "type": "string"
        },
        "BIC": {
          "type": "string"
        },
        "token": {
          "type": "string"
        },
        "specification": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/specificationType"
          }
        }
      },
      "type": "object"
    },
    "cardPaymentType": {
      "description": "Card Payment of customer",
      "properties": {
        "number": {
          "type": "string"
        },
        "holderName": {
          "type": "string"
        },
        "type": {
          "type": "string"
        },
        "brand": {
          "type": "string"
        },
        "status": {
          "type": "string"
        },
        "cvv2": {
          "type": "string"
        },
        "expiryMonth": {
          "type": "string"
        },
        "expiryYear": {
          "type": "string"
        },
        "requestor": {
          "$ref": "#/definitions/requestorType"
        },
        "address": {
          "$ref": "#/definitions/addressType"
        },
        "token": {
          "type": "string"
        },
        "secure3DVerifyIndicator": {
          "type": "string"
        },
        "specification": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/specificationType"
          }
        }
      },
      "type": "object"
    },
    "requestorType": {
      "description": "Details of an individual.",
      "properties": {
        "title": {
          "description": "Way the person is addressed.",
          "type": "string"
        },
        "firstName": {
          "description": "Firstname of the person",
          "type": "string"
        },
        "middleName": {
          "description": "Middlename of the person",
          "type": "string"
        },
        "lastName": {
          "description": "Lastname of the person",
          "type": "string"
        },
        "nickName": {
          "description": "Nickname of the person",
          "type": "string"
        },
        "dateOfBirth": {
          "description": "Date of birth of the person",
          "type": "string"
        },
        "gender": {
          "description": "Gender of the person",
          "type": "string"
        },
        "birthTown": {
          "description": "BirthTown of the person",
          "type": "string"
        },
        "language": {
          "description": "Language of the person",
          "type": "string"
        },
        "countryOfResidence": {
          "description": "countryOfResidence of the person",
          "type": "string"
        },
        "deathIndicator": {
          "description": "Flag to show if the contact is deceased  or not.",
          "type": "string"
        },
        "dateOfDeath": {
          "description": "Date of death",
          "type": "string"
        },
        "occupation": {
          "description": "Occupation of the person",
          "type": "string"
        },
        "employmentStatus": {
          "description": "Employment status of the person",
          "type": "string"
        },
        "jobTitle": {
          "description": "Job title of the person",
          "type": "string"
        },
        "department": {
          "description": "Department of the person",
          "type": "string"
        },
        "groupName": {
          "description": "GroupName title of the person",
          "type": "string"
        },
        "organisationName": {
          "description": "OrganisationName to which the person belongs",
          "type": "string"
        },
        "maritalStatus": {
          "description": "Marital status of the person",
          "type": "string"
        },
        "ageGroup": {
          "description": "Agegroup person belongs",
          "type": "string"
        },
        "nationality": {
          "description": "Nationality of the person",
          "type": "string"
        }
      },
      "type": "object"
    },
    "chequePaymentType": {
      "description": "Card Payment of customer",
      "properties": {
        "number": {
          "type": "string"
        },
        "requestor": {
          "$ref": "#/definitions/requestorType"
        },
        "bankName": {
          "type": "string"
        },
        "status": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "thirdPartyPaymentType": {
      "description": "Card Payment of customer",
      "properties": {
        "id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "requestorID": {
          "type": "string"
        },
        "accountName": {
          "type": "string"
        },
        "agreementID": {
          "type": "string"
        },
        "token": {
          "type": "string"
        },
        "requestor": {
          "$ref": "#/definitions/requestorType"
        },
        "status": {
          "type": "string"
        },
        "specification": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/specificationType"
          }
        }
      },
      "type": "object"
    },
    "billingSystemType": {
      "description": "Card Payment of customer",
      "properties": {
        "id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "accountID": {
          "type": "string"
        },
        "accountName": {
          "type": "string"
        },
        "specification": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/specificationType"
          }
        }
      },
      "type": "object"
    },
    "linkedBillingProfileType": {
      "description": "Billing profile of customer",
      "properties": {
        "id": {
          "type": "string",
          "description": "Unique identifier of a Billing profile."
        },
        "name": {
          "type": "string"
        },
        "type": {
          "type": "string"
        },
        "category": {
          "type": "string"
        },
        "subCategory": {
          "type": "string"
        },
        "status": {
          "type": "string"
        },
        "preferredIndicator": {
          "type": "boolean"
        },
        "role": {
          "type": "string"
        },
        "frequency": {
          "type": "string"
        },
        "dayOfMonth": {
          "type": "string"
        },
        "mediaType": {
          "type": "string"
        },
        "validityPeriod": {
          "$ref": "#/definitions/validityPeriodType"
        },
        "address": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/addressType"
          }
        },
        "contact": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/contactType"
          }
        },
        "additionalInfo": {
          "$ref": "#/definitions/additionalInfoType"
        },
        "paymentProfile": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/paymentProfileType"
          }
        },
        "notes": {
          "type": "string"
        },
        "specification": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/specificationType"
          }
        },
        "billingSystem": {
          "$ref": "#/definitions/billingSystemType"
        }
      }
    },
    "creditProfileType": {
      "description": "Credit profile of customer",
      "properties": {
        "id": {
          "type": "string",
          "description": "Unique identifier of a Billing profile."
        },
        "name": {
          "type": "string"
        },
        "type": {
          "type": "string"
        },
        "category": {
          "type": "string"
        },
        "subCategory": {
          "type": "string"
        },
        "status": {
          "type": "string"
        },
        "creationDateTime": {
          "type": "string"
        },
        "validityPeriod": {
          "$ref": "#/definitions/validityPeriodType"
        },
        "riskRating": {
          "type": "string"
        },
        "score": {
          "type": "string"
        },
        "notes": {
          "type": "string"
        },
        "specification": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/specificationType"
          }
        }
      },
      "type": "object"
    },
    "sellingProfileType": {
      "description": "Selling profile of customer",
      "properties": {
        "id": {
          "type": "string",
          "description": "Unique identifier of a Billing profile."
        },
        "name": {
          "type": "string"
        },
        "type": {
          "type": "string"
        },
        "category": {
          "type": "string"
        },
        "subCategory": {
          "type": "string"
        },
        "status": {
          "type": "string"
        },
        "preferredIndicator": {
          "type": "boolean"
        },
        "classification": {
          "type": "string"
        },
        "serviceLevel": {
          "type": "string"
        },
        "serviceCategory": {
          "type": "string"
        },
        "churnLevel": {
          "type": "string"
        },
        "notes": {
          "type": "string"
        },
        "specification": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/specificationType"
          }
        }
      },
      "type": "object"
    },
    "shippingProfileType": {
      "description": "Shipping profile of customer",
      "properties": {
        "id": {
          "type": "string",
          "description": "Unique identifier of a Billing profile."
        },
        "name": {
          "type": "string"
        },
        "type": {
          "type": "string"
        },
        "category": {
          "type": "string"
        },
        "subCategory": {
          "type": "string"
        },
        "status": {
          "type": "string"
        },
        "preferredIndicator": {
          "type": "boolean"
        },
        "priority": {
          "type": "string"
        },
        "modeOfTransport": {
          "type": "string"
        },
        "serviceCategory": {
          "type": "string"
        },
        "method": {
          "type": "string"
        },
        "address": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/addressType"
          }
        },
        "senderContact": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/senderContactType"
          }
        },
        "recepientContact": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/recepientContactType"
          }
        },
        "notes": {
          "type": "string"
        },
        "specification": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/specificationType"
          }
        }
      },
      "type": "object"
    },
    "senderContactType": {
      "description": "Sender Contact Details of customer",
      "properties": {
        "id": {
          "type": "string",
          "description": "Unique identifier of a Billing profile."
        },
        "person": {
          "$ref": "#/definitions/personType"
        },
        "type": {
          "type": "string"
        },
        "category": {
          "type": "string"
        },
        "subCategory": {
          "type": "string"
        },
        "status": {
          "type": "string"
        },
        "contactPoints": {
          "$ref": "#/definitions/contactPointsType"
        },
        "characteristics": {
          "$ref": "#/definitions/characteristicsType"
        },
        "accessibility": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "notes": {
          "type": "string"
        },
        "specification": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/specificationType"
          }
        },
        "role": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "userName": {
          "type": "string"
        },
        "identityVerificationStatus": {
          "type": "string"
        }
      }
    },
    "recepientContactType": {
      "description": "Recepient Contact Details of customer",
      "properties": {
        "id": {
          "type": "string",
          "description": "Unique identifier of a Billing profile."
        },
        "person": {
          "$ref": "#/definitions/personType"
        },
        "type": {
          "type": "string"
        },
        "category": {
          "type": "string"
        },
        "subCategory": {
          "type": "string"
        },
        "status": {
          "type": "string"
        },
        "contactPoints": {
          "$ref": "#/definitions/contactPointsType"
        },
        "characteristics": {
          "$ref": "#/definitions/characteristicsType"
        },
        "accessibility": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "notes": {
          "type": "string"
        },
        "specification": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/specificationType"
          }
        },
        "role": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "userName": {
          "type": "string"
        },
        "identityVerificationStatus": {
          "type": "string"
        }
      }
    }
  }
}