{
  "swagger": "2.0",
  "info": {
    "title": "Card Lodging API",
    "description": "Card or Token management API for vendor card lodging. This API helps in lodging card in vendor's app",
    "version": "v1",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/corpay-0ff/ev-token-mgmt-eapi/v1"
  },
  "host": "xx-xxxx-xxxx-xxxx.xxx.fleetcor.com",
  "basePath": "/api",
  "schemes": [
    "https"
  ],
  "paths": {
    "/vendors": {},
    "/vendors/card": {},
    "/vendors/card/lodging": {
      "post": {
        "operationId": "Card Lodging",
        "description": "Card lodging on vendor's apps",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "client_id",
            "required": true,
            "in": "header",
            "type": "string"
          },
          {
            "name": "client_secret",
            "required": true,
            "in": "header",
            "type": "string"
          },
          {
            "name": "authorization",
            "description": "Token authorization",
            "required": true,
            "in": "header",
            "type": "string"
          },
          {
            "name": "source",
            "required": true,
            "in": "header",
            "enum": [
              "Ayvens"
            ],
            "type": "string"
          },
          {
            "name": "lob",
            "required": true,
            "in": "header",
            "enum": [
              "TC"
            ],
            "type": "string"
          },
          {
            "name": "country",
            "required": true,
            "in": "header",
            "enum": [
              "BL"
            ],
            "type": "string"
          },
          {
            "x-amf-mediaType": "application/json",
            "in": "body",
            "name": "generated",
            "schema": {
              "$ref": "#/definitions/card-lodge-request"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Card Lodging Response",
            "x-amf-mediaType": "application/json",
            "schema": {
              "$ref": "#/definitions/card-lodge-response"
            }
          },
          "400": {
            "description": "Error Response",
            "x-amf-mediaType": "application/json",
            "schema": {
              "$ref": "#/definitions/error-response"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "card-lodge-request": {
      "example": {
        "pan": "4715XXXXXXXX0064"
      },
      "type": "object",
      "required": [
        "pan"
      ],
      "properties": {
        "pan": {
          "description": "PAN Number",
          "type": "string"
        }
      }
    },
    "card-lodge-response": {
      "example": {
        "pan": "4715XXXXXXXX0064",
        "rfid": "RFIDXXXXXXXXXXX83",
        "message": "Card is lodged successfully"
      },
      "type": "object",
      "required": [
        "pan",
        "message"
      ],
      "properties": {
        "pan": {
          "description": "PAN Number",
          "type": "string"
        },
        "rfid": {
          "description": "RFID associated with PAN",
          "type": "string"
        },
        "message": {
          "description": "Lodge Message",
          "type": "string"
        }
      }
    },
    "error-response": {
      "example": {
        "status": "FAILED",
        "correlationId": "abc-123-xyz",
        "error": {
          "code": "400",
          "type": "REQUEST:VALIDATION_FAILED",
          "message": "For Source [Ayvens] should have Lob [TC] and Country [BL]"
        }
      }
    }
  }
}