{
  "openapi": "3.0.3",
  "info": {
    "title": "Billsby API",
    "description": "Billsby subscription management and billing API. Manage customers, subscriptions, invoices, products, and payments.",
    "version": "1.0.0",
    "x-jentic-source-url": "https://support.billsby.com/reference",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://public.billsby.com/api/v1/rest/core/{companyDomain}",
      "description": "Billsby API server",
      "variables": {
        "companyDomain": {
          "default": "your-company",
          "description": "Your company domain in Billsby"
        }
      }
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "paths": {
    "/customers": {
      "get": {
        "summary": "List Customers",
        "description": "Retrieves a list of all customers",
        "operationId": "listCustomers",
        "tags": [
          "Customers"
        ],
        "responses": {
          "200": {
            "description": "List of customers",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Customer"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        }
      },
      "post": {
        "summary": "Create Customer Without Subscription",
        "description": "Creates a new customer without a subscription",
        "operationId": "createCustomer",
        "tags": [
          "Customers"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Customer created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "customerUniqueId": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        }
      }
    },
    "/customers/{customerUniqueId}": {
      "get": {
        "summary": "Get Customer Details",
        "description": "Retrieves detailed information about a specific customer",
        "operationId": "getCustomer",
        "tags": [
          "Customers"
        ],
        "parameters": [
          {
            "name": "customerUniqueId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique identifier of the customer"
          }
        ],
        "responses": {
          "200": {
            "description": "Customer details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Customer"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        }
      },
      "put": {
        "summary": "Update Customer",
        "description": "Updates an existing customer",
        "operationId": "updateCustomer",
        "tags": [
          "Customers"
        ],
        "parameters": [
          {
            "name": "customerUniqueId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Customer updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Customer"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        }
      },
      "delete": {
        "summary": "Delete Customer",
        "description": "Deletes a customer",
        "operationId": "deleteCustomer",
        "tags": [
          "Customers"
        ],
        "parameters": [
          {
            "name": "customerUniqueId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Customer deleted"
          },
          "404": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        }
      }
    },
    "/customers/{customerUniqueId}/subscriptions": {
      "get": {
        "summary": "Get Customer Subscriptions",
        "description": "Retrieves all subscriptions for a customer",
        "operationId": "getCustomerSubscriptions",
        "tags": [
          "Customers"
        ],
        "parameters": [
          {
            "name": "customerUniqueId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of customer subscriptions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Subscription"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/customers/{customerUniqueId}/charges": {
      "post": {
        "summary": "Create One-Time Charge",
        "description": "Creates a one-time charge for a customer",
        "operationId": "createOneTimeCharge",
        "tags": [
          "Customers"
        ],
        "parameters": [
          {
            "name": "customerUniqueId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "amount",
                  "description"
                ],
                "properties": {
                  "amount": {
                    "type": "number"
                  },
                  "description": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Charge created"
          },
          "400": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        }
      }
    },
    "/subscriptions": {
      "get": {
        "summary": "List Company Subscriptions",
        "description": "Retrieves all subscriptions for the company",
        "operationId": "listSubscriptions",
        "tags": [
          "Subscriptions"
        ],
        "responses": {
          "200": {
            "description": "List of subscriptions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Subscription"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create Subscription for New Customer",
        "description": "Creates a new customer and subscription in one request",
        "operationId": "createSubscription",
        "tags": [
          "Subscriptions"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SubscriptionInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Subscription created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "customerUniqueId": {
                      "type": "string"
                    },
                    "subscriptionUniqueId": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        }
      }
    },
    "/subscriptions/{subscriptionUniqueId}": {
      "get": {
        "summary": "Get Subscription Details",
        "description": "Retrieves details of a specific subscription",
        "operationId": "getSubscription",
        "tags": [
          "Subscriptions"
        ],
        "parameters": [
          {
            "name": "subscriptionUniqueId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Subscription details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Subscription"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        }
      },
      "put": {
        "summary": "Change Subscription Plan",
        "description": "Changes the plan of an existing subscription",
        "operationId": "changePlan",
        "tags": [
          "Subscriptions"
        ],
        "parameters": [
          {
            "name": "subscriptionUniqueId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "planId"
                ],
                "properties": {
                  "planId": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Plan changed successfully"
          },
          "400": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        }
      },
      "delete": {
        "summary": "Cancel Subscription",
        "description": "Cancels an active subscription",
        "operationId": "cancelSubscription",
        "tags": [
          "Subscriptions"
        ],
        "parameters": [
          {
            "name": "subscriptionUniqueId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Subscription canceled"
          },
          "404": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        }
      }
    },
    "/invoices": {
      "get": {
        "summary": "List Company Invoices",
        "description": "Retrieves all invoices for the company",
        "operationId": "listInvoices",
        "tags": [
          "Invoices"
        ],
        "responses": {
          "200": {
            "description": "List of invoices",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Invoice"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/invoices/{invoiceId}": {
      "get": {
        "summary": "Get Invoice",
        "description": "Retrieves a specific invoice",
        "operationId": "getInvoice",
        "tags": [
          "Invoices"
        ],
        "parameters": [
          {
            "name": "invoiceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Invoice details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Invoice"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        }
      }
    },
    "/invoices/{invoiceId}/refund": {
      "post": {
        "summary": "Create Refund",
        "description": "Creates a refund for an invoice",
        "operationId": "createRefund",
        "tags": [
          "Invoices"
        ],
        "parameters": [
          {
            "name": "invoiceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "amount"
                ],
                "properties": {
                  "amount": {
                    "type": "number"
                  },
                  "reason": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Refund created"
          },
          "400": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        }
      }
    },
    "/products": {
      "get": {
        "summary": "List Products",
        "description": "Retrieves all products",
        "operationId": "listProducts",
        "tags": [
          "Products"
        ],
        "responses": {
          "200": {
            "description": "List of products",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Product"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create Product",
        "description": "Creates a new product",
        "operationId": "createProduct",
        "tags": [
          "Products"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProductInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Product created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Product"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        }
      }
    },
    "/products/{productId}": {
      "get": {
        "summary": "Get Product Details",
        "description": "Retrieves details of a specific product",
        "operationId": "getProduct",
        "tags": [
          "Products"
        ],
        "parameters": [
          {
            "name": "productId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Product details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Product"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        }
      }
    },
    "/plans": {
      "get": {
        "summary": "List Plans",
        "description": "Retrieves all subscription plans",
        "operationId": "listPlans",
        "tags": [
          "Plans"
        ],
        "responses": {
          "200": {
            "description": "List of plans",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Plan"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create Plan",
        "description": "Creates a new subscription plan",
        "operationId": "createPlan",
        "tags": [
          "Plans"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PlanInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Plan created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Plan"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "description": "API key from Settings > Configuration > API keys and webhooks"
      }
    },
    "schemas": {
      "Customer": {
        "type": "object",
        "properties": {
          "customerUniqueId": {
            "type": "string"
          },
          "firstName": {
            "type": "string"
          },
          "lastName": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "additionalEmail": {
            "type": "string",
            "format": "email"
          },
          "billingAddress": {
            "type": "string"
          },
          "phoneNumber": {
            "type": "string"
          },
          "phoneNumberDialCode": {
            "type": "string"
          },
          "phoneNumberDialCountry": {
            "type": "string"
          },
          "isMarketingConsentGiven": {
            "type": "boolean"
          },
          "companyCurrency": {
            "type": "string"
          },
          "totalAmountPaid": {
            "type": "number"
          },
          "averageAmountPerMonth": {
            "type": "number"
          },
          "cardStatus": {
            "type": "string",
            "enum": [
              "Valid",
              "Missing"
            ]
          },
          "status": {
            "type": "string",
            "enum": [
              "Active",
              "Inactive"
            ]
          },
          "createdOn": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "CustomerInput": {
        "type": "object",
        "required": [
          "firstName",
          "lastName",
          "email"
        ],
        "properties": {
          "firstName": {
            "type": "string"
          },
          "lastName": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "billingAddress": {
            "type": "string"
          },
          "phoneNumber": {
            "type": "string"
          },
          "isMarketingConsentGiven": {
            "type": "boolean"
          }
        }
      },
      "Subscription": {
        "type": "object",
        "properties": {
          "subscriptionUniqueId": {
            "type": "string"
          },
          "customerUniqueId": {
            "type": "string"
          },
          "planId": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "startDate": {
            "type": "string",
            "format": "date-time"
          },
          "nextBillingDate": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "SubscriptionInput": {
        "type": "object",
        "required": [
          "planId",
          "customer"
        ],
        "properties": {
          "planId": {
            "type": "string"
          },
          "customer": {
            "$ref": "#/components/schemas/CustomerInput"
          },
          "paymentDetails": {
            "type": "object"
          }
        }
      },
      "Invoice": {
        "type": "object",
        "properties": {
          "invoiceId": {
            "type": "string"
          },
          "customerUniqueId": {
            "type": "string"
          },
          "amount": {
            "type": "number"
          },
          "currency": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "dueDate": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Product": {
        "type": "object",
        "properties": {
          "productId": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          }
        }
      },
      "ProductInput": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          }
        }
      },
      "Plan": {
        "type": "object",
        "properties": {
          "planId": {
            "type": "string"
          },
          "productId": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "price": {
            "type": "number"
          },
          "billingCycle": {
            "type": "string"
          }
        }
      },
      "PlanInput": {
        "type": "object",
        "required": [
          "productId",
          "name",
          "price"
        ],
        "properties": {
          "productId": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "price": {
            "type": "number"
          },
          "billingCycle": {
            "type": "string"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "responses": {
      "ErrorResponse": {
        "description": "Error response",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Customers"
    },
    {
      "name": "Invoices"
    },
    {
      "name": "Plans"
    },
    {
      "name": "Products"
    },
    {
      "name": "Subscriptions"
    }
  ]
}
