{
  "openapi": "3.0.3",
  "info": {
    "title": "Xignite Global Quotes API",
    "version": "1.0.0",
    "description": "Xignite provides cloud-based financial market data APIs. The Global Quotes API delivers delayed and real-time stock quotes for global equities, currency exchange rates, historical prices, fund NAVs, commodities, indices, bonds, and more across multiple specialized sub-APIs.",
    "x-jentic-source-url": "https://www.xignite.com/products/",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://globalquotes.xignite.com"
    }
  ],
  "paths": {
    "/xGlobalQuotes.json/GetGlobalDelayedQuote": {
      "get": {
        "operationId": "getGlobalDelayedQuote",
        "summary": "Get global delayed quote",
        "description": "Returns a delayed quote for a global equity.",
        "tags": [
          "Global Quotes"
        ],
        "parameters": [
          {
            "name": "IdentifierType",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "Symbol",
                "ISIN",
                "SEDOL",
                "CUSIP",
                "CIK"
              ]
            }
          },
          {
            "name": "Identifier",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "_Token",
            "in": "query",
            "required": true,
            "description": "API authentication token",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GlobalQuote"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/xGlobalQuotes.json/GetGlobalDelayedQuotes": {
      "get": {
        "operationId": "getGlobalDelayedQuotes",
        "summary": "Get multiple global delayed quotes",
        "description": "Returns delayed quotes for multiple global equities.",
        "tags": [
          "Global Quotes"
        ],
        "parameters": [
          {
            "name": "IdentifierType",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Identifiers",
            "in": "query",
            "required": true,
            "description": "Comma-separated list of identifiers",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "_Token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/GlobalQuote"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/xGlobalQuotes.json/GetGlobalExtendedQuote": {
      "get": {
        "operationId": "getGlobalExtendedQuote",
        "summary": "Get extended global quote",
        "description": "Returns an extended quote with additional fields for a global equity.",
        "tags": [
          "Global Quotes"
        ],
        "parameters": [
          {
            "name": "IdentifierType",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Identifier",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "_Token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExtendedQuote"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/xGlobalHistoricalQuotes.json/GetGlobalHistoricalQuote": {
      "get": {
        "operationId": "getGlobalHistoricalQuote",
        "summary": "Get global historical quote",
        "description": "Returns a historical end-of-day quote for a global equity.",
        "tags": [
          "Historical Quotes"
        ],
        "parameters": [
          {
            "name": "IdentifierType",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Identifier",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "AdjustmentMethod",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "None",
                "SplitOnly",
                "SplitAndProportionalCashDividend",
                "SplitAndNonTaxableCashDividend"
              ]
            }
          },
          {
            "name": "AsOfDate",
            "in": "query",
            "required": true,
            "description": "Date in MM/DD/YYYY format",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "_Token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HistoricalQuote"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/xGlobalHistoricalQuotes.json/GetGlobalHistoricalQuoteRange": {
      "get": {
        "operationId": "getGlobalHistoricalQuoteRange",
        "summary": "Get global historical quote range",
        "description": "Returns historical end-of-day quotes for a date range.",
        "tags": [
          "Historical Quotes"
        ],
        "parameters": [
          {
            "name": "IdentifierType",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Identifier",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "StartDate",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "EndDate",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "AdjustmentMethod",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "_Token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "GlobalQuotes": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/HistoricalQuote"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/xGlobalCurrencies.json/GetRealTimeRate": {
      "get": {
        "operationId": "getRealTimeRate",
        "summary": "Get real-time currency rate",
        "description": "Returns the real-time exchange rate for a currency pair.",
        "tags": [
          "Currencies"
        ],
        "parameters": [
          {
            "name": "Symbol",
            "in": "query",
            "required": true,
            "description": "Currency pair (e.g., EURUSD)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "_Token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CurrencyRate"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/xGlobalCurrencies.json/GetRealTimeRates": {
      "get": {
        "operationId": "getRealTimeRates",
        "summary": "Get multiple real-time currency rates",
        "tags": [
          "Currencies"
        ],
        "parameters": [
          {
            "name": "Symbols",
            "in": "query",
            "required": true,
            "description": "Comma-separated currency pairs",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "_Token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CurrencyRate"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Get multiple real-time currency rates"
      }
    },
    "/xGlobalCurrencies.json/GetHistoricalRate": {
      "get": {
        "operationId": "getHistoricalCurrencyRate",
        "summary": "Get historical currency rate",
        "tags": [
          "Currencies"
        ],
        "parameters": [
          {
            "name": "Symbol",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "AsOfDate",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "_Token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CurrencyRate"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Get historical currency rate"
      }
    },
    "/xGlobalFundFundamentals.json/GetFundDetails": {
      "get": {
        "operationId": "getFundDetails",
        "summary": "Get fund details",
        "description": "Returns fundamental data for a fund.",
        "tags": [
          "Fund Data"
        ],
        "parameters": [
          {
            "name": "IdentifierType",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Identifier",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "_Token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FundDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/xGlobalFundNAVs.json/GetHistoricalNAV": {
      "get": {
        "operationId": "getHistoricalNAV",
        "summary": "Get historical fund NAV",
        "tags": [
          "Fund Data"
        ],
        "parameters": [
          {
            "name": "IdentifierType",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Identifier",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "AsOfDate",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "_Token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Get historical fund NAV"
      }
    },
    "/xGlobalRealTimeQuotes.json/GetGlobalRealTimeQuote": {
      "get": {
        "operationId": "getGlobalRealTimeQuote",
        "summary": "Get real-time global quote",
        "description": "Returns a real-time quote for a global equity.",
        "tags": [
          "Real-Time Quotes"
        ],
        "parameters": [
          {
            "name": "IdentifierType",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Identifier",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "_Token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GlobalQuote"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/xGlobalRealTimeQuotes.json/GetGlobalRealTimeQuotes": {
      "get": {
        "operationId": "getGlobalRealTimeQuotes",
        "summary": "Get multiple real-time global quotes",
        "tags": [
          "Real-Time Quotes"
        ],
        "parameters": [
          {
            "name": "IdentifierType",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Identifiers",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "_Token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/GlobalQuote"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Get multiple real-time global quotes"
      }
    },
    "/xGlobalIndicesRealTime.json/GetRealTimeIndexValue": {
      "get": {
        "operationId": "getRealTimeIndexValue",
        "summary": "Get real-time index value",
        "tags": [
          "Indices"
        ],
        "parameters": [
          {
            "name": "Symbol",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "_Token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IndexValue"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Get real-time index value"
      }
    },
    "/xGlobalIndicesHistorical.json/GetHistoricalIndexValue": {
      "get": {
        "operationId": "getHistoricalIndexValue",
        "summary": "Get historical index value",
        "tags": [
          "Indices"
        ],
        "parameters": [
          {
            "name": "Symbol",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "AsOfDate",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "_Token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IndexValue"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Get historical index value"
      }
    },
    "/xBondsPrices.json/GetBondPrice": {
      "get": {
        "operationId": "getBondPrice",
        "summary": "Get bond price",
        "description": "Returns price data for a US corporate or agency bond.",
        "tags": [
          "Bonds"
        ],
        "parameters": [
          {
            "name": "IdentifierType",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Identifier",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "_Token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/xGlobalMetals.json/GetRealTimeMetalQuote": {
      "get": {
        "operationId": "getRealTimeMetalQuote",
        "summary": "Get real-time precious metal quote",
        "tags": [
          "Metals"
        ],
        "parameters": [
          {
            "name": "Types",
            "in": "query",
            "required": true,
            "description": "Metal type (e.g., XAU, XAG, XPT, XPD)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Currency",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "USD"
            }
          },
          {
            "name": "_Token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Get real-time precious metal quote"
      }
    }
  },
  "components": {
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "GlobalQuote": {
        "type": "object",
        "properties": {
          "Outcome": {
            "type": "string"
          },
          "Identity": {
            "type": "string"
          },
          "Delay": {
            "type": "number"
          },
          "Date": {
            "type": "string"
          },
          "Time": {
            "type": "string"
          },
          "UTCOffset": {
            "type": "number"
          },
          "Open": {
            "type": "number"
          },
          "Close": {
            "type": "number"
          },
          "High": {
            "type": "number"
          },
          "Low": {
            "type": "number"
          },
          "Last": {
            "type": "number"
          },
          "LastSize": {
            "type": "integer"
          },
          "Volume": {
            "type": "integer"
          },
          "PreviousClose": {
            "type": "number"
          },
          "ChangeFromPreviousClose": {
            "type": "number"
          },
          "PercentChangeFromPreviousClose": {
            "type": "number"
          },
          "Currency": {
            "type": "string"
          },
          "Exchange": {
            "type": "string"
          },
          "ExchangeDescription": {
            "type": "string"
          }
        }
      },
      "ExtendedQuote": {
        "type": "object",
        "properties": {
          "Outcome": {
            "type": "string"
          },
          "Identity": {
            "type": "string"
          },
          "Name": {
            "type": "string"
          },
          "Date": {
            "type": "string"
          },
          "Open": {
            "type": "number"
          },
          "High": {
            "type": "number"
          },
          "Low": {
            "type": "number"
          },
          "Last": {
            "type": "number"
          },
          "Volume": {
            "type": "integer"
          },
          "MarketCap": {
            "type": "number"
          },
          "High52Weeks": {
            "type": "number"
          },
          "Low52Weeks": {
            "type": "number"
          },
          "PE": {
            "type": "number"
          },
          "EPS": {
            "type": "number"
          },
          "Dividend": {
            "type": "number"
          },
          "DividendYield": {
            "type": "number"
          }
        }
      },
      "HistoricalQuote": {
        "type": "object",
        "properties": {
          "Outcome": {
            "type": "string"
          },
          "Identity": {
            "type": "string"
          },
          "Date": {
            "type": "string"
          },
          "Open": {
            "type": "number"
          },
          "High": {
            "type": "number"
          },
          "Low": {
            "type": "number"
          },
          "Close": {
            "type": "number"
          },
          "Volume": {
            "type": "integer"
          },
          "ExchangeOfficialClose": {
            "type": "number"
          },
          "AdjustmentRatio": {
            "type": "number"
          },
          "SplitRatio": {
            "type": "number"
          }
        }
      },
      "CurrencyRate": {
        "type": "object",
        "properties": {
          "Outcome": {
            "type": "string"
          },
          "Symbol": {
            "type": "string"
          },
          "Bid": {
            "type": "number"
          },
          "Ask": {
            "type": "number"
          },
          "Mid": {
            "type": "number"
          },
          "Date": {
            "type": "string"
          },
          "Time": {
            "type": "string"
          }
        }
      },
      "FundDetails": {
        "type": "object",
        "properties": {
          "Outcome": {
            "type": "string"
          },
          "Identity": {
            "type": "string"
          },
          "Name": {
            "type": "string"
          },
          "FundFamily": {
            "type": "string"
          },
          "Category": {
            "type": "string"
          },
          "NetAssets": {
            "type": "number"
          },
          "YTDReturn": {
            "type": "number"
          },
          "ExpenseRatio": {
            "type": "number"
          }
        }
      },
      "IndexValue": {
        "type": "object",
        "properties": {
          "Outcome": {
            "type": "string"
          },
          "Symbol": {
            "type": "string"
          },
          "Value": {
            "type": "number"
          },
          "Date": {
            "type": "string"
          },
          "Time": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "tokenQuery": {
        "type": "apiKey",
        "in": "query",
        "name": "_Token",
        "description": "Xignite API token passed as query parameter"
      }
    }
  },
  "security": [
    {
      "tokenQuery": []
    }
  ],
  "tags": [
    {
      "name": "Global Quotes",
      "description": "Delayed global equity quotes"
    },
    {
      "name": "Real-Time Quotes",
      "description": "Real-time global equity quotes"
    },
    {
      "name": "Historical Quotes",
      "description": "Historical end-of-day quotes"
    },
    {
      "name": "Currencies",
      "description": "Real-time and historical currency exchange rates"
    },
    {
      "name": "Fund Data",
      "description": "Fund fundamentals and NAV data"
    },
    {
      "name": "Indices",
      "description": "Real-time and historical index values"
    },
    {
      "name": "Bonds",
      "description": "Bond price data"
    },
    {
      "name": "Metals",
      "description": "Precious metals quotes"
    }
  ]
}
