{
  "openapi": "3.0.3",
  "info": {
    "title": "Logiwa WMS API",
    "version": "1.0.0",
    "description": "Logiwa is a cloud-based Warehouse Management System (WMS) for fulfillment and logistics operations. The API provides endpoints for inventory management, order processing, shipment management, warehouse operations, and reporting.",
    "x-jentic-source-url": "https://developer.logiwa.com/",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://app.logiwa.com/api"
    }
  ],
  "paths": {
    "/token": {
      "post": {
        "operationId": "login",
        "summary": "Authenticate and get access token",
        "tags": [
          "Authentication"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/LoginRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Token issued",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoginResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [],
        "description": "Authenticate and get access token"
      }
    },
    "/InventoryItem/Search": {
      "post": {
        "operationId": "searchInventory",
        "summary": "Search inventory",
        "tags": [
          "Inventory"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Inventory search results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Search inventory"
      }
    },
    "/InventoryItem/GetById": {
      "get": {
        "operationId": "getInventoryItem",
        "summary": "Get inventory item by ID",
        "tags": [
          "Inventory"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Inventory item",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InventoryItem"
                }
              }
            }
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Get inventory item by ID"
      }
    },
    "/InventoryItem/AdjustInventory": {
      "post": {
        "operationId": "adjustInventory",
        "summary": "Adjust inventory quantity",
        "tags": [
          "Inventory"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "itemCode": {
                    "type": "string"
                  },
                  "warehouseCode": {
                    "type": "string"
                  },
                  "locationCode": {
                    "type": "string"
                  },
                  "adjustmentQuantity": {
                    "type": "number"
                  },
                  "reason": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Adjustment applied"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Adjust inventory quantity"
      }
    },
    "/SalesOrder/Search": {
      "post": {
        "operationId": "searchOrders",
        "summary": "Search orders",
        "tags": [
          "Orders"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Order search results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Search orders"
      }
    },
    "/SalesOrder/GetById": {
      "get": {
        "operationId": "getOrder",
        "summary": "Get order by ID",
        "tags": [
          "Orders"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Order details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Order"
                }
              }
            }
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Get order by ID"
      }
    },
    "/SalesOrder/Insert": {
      "post": {
        "operationId": "createOrder",
        "summary": "Create order",
        "tags": [
          "Orders"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Order"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Order created"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Create order"
      }
    },
    "/SalesOrder/Update": {
      "put": {
        "operationId": "updateOrder",
        "summary": "Update order",
        "tags": [
          "Orders"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Order"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Order updated"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Update order"
      }
    },
    "/SalesOrder/Cancel": {
      "post": {
        "operationId": "cancelOrder",
        "summary": "Cancel order",
        "tags": [
          "Orders"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "orderCode": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Order cancelled"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Cancel order"
      }
    },
    "/Shipment/Search": {
      "post": {
        "operationId": "searchShipments",
        "summary": "Search shipments",
        "tags": [
          "Shipments"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Shipment search results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Search shipments"
      }
    },
    "/Shipment/GetById": {
      "get": {
        "operationId": "getShipment",
        "summary": "Get shipment by ID",
        "tags": [
          "Shipments"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Shipment details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Shipment"
                }
              }
            }
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Get shipment by ID"
      }
    },
    "/Item/Search": {
      "post": {
        "operationId": "searchProducts",
        "summary": "Search products",
        "tags": [
          "Products"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Product search results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Search products"
      }
    },
    "/Item/GetById": {
      "get": {
        "operationId": "getProduct",
        "summary": "Get product by ID",
        "tags": [
          "Products"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Product details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Product"
                }
              }
            }
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Get product by ID"
      }
    },
    "/Item/Insert": {
      "post": {
        "operationId": "createProduct",
        "summary": "Create product",
        "tags": [
          "Products"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Product"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Product created"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Create product"
      }
    },
    "/Item/Update": {
      "put": {
        "operationId": "updateProduct",
        "summary": "Update product",
        "tags": [
          "Products"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Product"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Product updated"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Update product"
      }
    },
    "/Warehouse/Search": {
      "post": {
        "operationId": "searchWarehouses",
        "summary": "Search warehouses",
        "tags": [
          "Warehouses"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Warehouse list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Search warehouses"
      }
    },
    "/Receipt/Search": {
      "post": {
        "operationId": "searchReceipts",
        "summary": "Search receipts",
        "tags": [
          "Receipts"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Receipt search results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Search receipts"
      }
    },
    "/Receipt/Insert": {
      "post": {
        "operationId": "createReceipt",
        "summary": "Create receipt (ASN)",
        "tags": [
          "Receipts"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Receipt"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Receipt created"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Create receipt (ASN)"
      }
    }
  },
  "components": {
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "code": {
            "type": "string"
          }
        }
      },
      "LoginRequest": {
        "type": "object",
        "required": [
          "username",
          "password",
          "grantType",
          "depositorId"
        ],
        "properties": {
          "username": {
            "type": "string"
          },
          "password": {
            "type": "string"
          },
          "grantType": {
            "type": "string",
            "default": "password"
          },
          "depositorId": {
            "type": "integer"
          }
        }
      },
      "LoginResponse": {
        "type": "object",
        "properties": {
          "access_token": {
            "type": "string"
          },
          "token_type": {
            "type": "string"
          },
          "expires_in": {
            "type": "integer"
          }
        }
      },
      "SearchRequest": {
        "type": "object",
        "properties": {
          "selectedPageIndex": {
            "type": "integer",
            "default": 0
          },
          "pageSize": {
            "type": "integer",
            "default": 50
          },
          "searchParams": {
            "type": "object",
            "additionalProperties": true
          }
        }
      },
      "InventoryItem": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "itemCode": {
            "type": "string"
          },
          "itemDescription": {
            "type": "string"
          },
          "warehouseCode": {
            "type": "string"
          },
          "locationCode": {
            "type": "string"
          },
          "availableQuantity": {
            "type": "number"
          },
          "onHandQuantity": {
            "type": "number"
          },
          "allocatedQuantity": {
            "type": "number"
          },
          "lotNumber": {
            "type": "string"
          },
          "expirationDate": {
            "type": "string",
            "format": "date"
          }
        }
      },
      "Order": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "orderCode": {
            "type": "string"
          },
          "orderDate": {
            "type": "string",
            "format": "date-time"
          },
          "status": {
            "type": "string"
          },
          "channelOrderCode": {
            "type": "string"
          },
          "shipToName": {
            "type": "string"
          },
          "shipToAddress1": {
            "type": "string"
          },
          "shipToCity": {
            "type": "string"
          },
          "shipToState": {
            "type": "string"
          },
          "shipToZip": {
            "type": "string"
          },
          "shipToCountry": {
            "type": "string"
          },
          "carrierCode": {
            "type": "string"
          },
          "serviceCode": {
            "type": "string"
          },
          "orderDetails": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "itemCode": {
                  "type": "string"
                },
                "quantity": {
                  "type": "number"
                },
                "unitPrice": {
                  "type": "number"
                }
              }
            }
          }
        }
      },
      "Shipment": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "shipmentCode": {
            "type": "string"
          },
          "orderCode": {
            "type": "string"
          },
          "carrierCode": {
            "type": "string"
          },
          "trackingNumber": {
            "type": "string"
          },
          "shipDate": {
            "type": "string",
            "format": "date-time"
          },
          "weight": {
            "type": "number"
          },
          "status": {
            "type": "string"
          }
        }
      },
      "Product": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "itemCode": {
            "type": "string"
          },
          "itemDescription": {
            "type": "string"
          },
          "barcode": {
            "type": "string"
          },
          "weight": {
            "type": "number"
          },
          "length": {
            "type": "number"
          },
          "width": {
            "type": "number"
          },
          "height": {
            "type": "number"
          },
          "isActive": {
            "type": "boolean"
          }
        }
      },
      "Warehouse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "warehouseCode": {
            "type": "string"
          },
          "warehouseName": {
            "type": "string"
          },
          "address": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "state": {
            "type": "string"
          },
          "country": {
            "type": "string"
          }
        }
      },
      "Receipt": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "receiptCode": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "receiptDate": {
            "type": "string",
            "format": "date-time"
          },
          "warehouseCode": {
            "type": "string"
          },
          "details": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "itemCode": {
                  "type": "string"
                },
                "expectedQuantity": {
                  "type": "number"
                },
                "receivedQuantity": {
                  "type": "number"
                }
              }
            }
          }
        }
      },
      "SearchResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "totalCount": {
            "type": "integer"
          },
          "pageSize": {
            "type": "integer"
          },
          "selectedPageIndex": {
            "type": "integer"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Bearer token obtained via login endpoint"
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Authentication",
      "description": "Authentication endpoints"
    },
    {
      "name": "Inventory",
      "description": "Inventory management"
    },
    {
      "name": "Orders",
      "description": "Order management"
    },
    {
      "name": "Shipments",
      "description": "Shipment operations"
    },
    {
      "name": "Products",
      "description": "Product catalog"
    },
    {
      "name": "Warehouses",
      "description": "Warehouse management"
    },
    {
      "name": "Receipts",
      "description": "Receiving operations"
    }
  ]
}
