{
  "swagger": "2.0",
  "info": {
    "description": "Klingo API Or\u00e7amento",
    "version": "1.0.0",
    "title": "Klingo API Or\u00e7amento",
    "termsOfService": "http://swagger.io/terms/",
    "contact": {
      "email": "suporte@klingo.com.br"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/klingo/klingo-api-orcamento/1.0.0"
  },
  "tags": [
    {
      "name": "orcamentos",
      "description": "Or\u00e7amentos (Leads)."
    }
  ],
  "schemes": [
    "https"
  ],
  "paths": {
    "/live": {
      "get": {
        "tags": [
          "teste"
        ],
        "summary": "Verifica se a API est\u00e1 no ar.",
        "description": "Verifica se a API est\u00e1 no ar e exibe a vers\u00e3o.",
        "operationId": "versao",
        "responses": {
          "200": {
            "description": "OK"
          },
          "405": {
            "description": "Invalid input"
          }
        }
      }
    },
    "/orcamento": {
      "post": {
        "tags": [
          "orcamentos"
        ],
        "summary": "Realiza a cria\u00e7\u00e3o de um or\u00e7amento/lead.",
        "security": [
          {
            "app_token": []
          }
        ],
        "description": "Cadastro de Or\u00e7amento",
        "operationId": "orcamento",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Dados do Or\u00e7amento.",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "nome": {
                  "type": "string",
                  "example": "JOAO DA SILVA",
                  "description": "Nome do Paciente (\u00fanico campo obrigat\u00f3rio)"
                },
                "sexo": {
                  "type": "string",
                  "example": "M",
                  "description": "Sexo do Paciente (M ou F)"
                },
                "dt_nascimento": {
                  "type": "string",
                  "example": "2000-10-10",
                  "description": "Data de Nascimento do Paciente"
                },
                "cpf": {
                  "type": "string",
                  "example": "11111111111",
                  "description": "CPF do Paciente"
                },
                "celular": {
                  "type": "string",
                  "example": "71988993344",
                  "description": "Celular do Paciente"
                },
                "email": {
                  "type": "string",
                  "example": "teste@teste.com.br",
                  "description": "e-mail do Paciente"
                },
                "descricao": {
                  "type": "string",
                  "example": "T\u00edtulo do Or\u00e7amento"
                },
                "obs": {
                  "type": "string",
                  "example": "Observa\u00e7\u00f5es..."
                },
                "solicitante": {
                  "type": "string",
                  "example": "CRM-1234-BA",
                  "description": "Dados do solicitante no padr\u00e3o CONSELHO-NUMERO-UF"
                },
                "unidade": {
                  "type": "string",
                  "example": "ABC",
                  "description": "Sigla da unidade no Klingo"
                },
                "procedimentos": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "codigo": {
                        "type": "string",
                        "example": "HEM",
                        "description": "C\u00f3digo do Procedimento no Klingo"
                      }
                    }
                  }
                },
                "id_externo": {
                  "type": "string",
                  "example": "1234",
                  "description": "Id do Or\u00e7amento na Origem"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Informa\u00e7\u00e3o do Or\u00e7amento Criado.",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "number",
                  "example": "sucesso",
                  "description": "Status da Transa\u00e7\u00e3o."
                },
                "msg": {
                  "type": "string",
                  "example": "Or\u00e7amento Registrado",
                  "description": "Status da Transa\u00e7\u00e3o."
                },
                "numero": {
                  "type": "number",
                  "example": "123",
                  "description": "N\u00famero do Or\u00e7amento Criado."
                }
              }
            }
          },
          "403": {
            "description": "dados inv\u00e1lidos."
          },
          "405": {
            "description": "Invalid input"
          }
        }
      }
    }
  },
  "securityDefinitions": {
    "app_token": {
      "type": "apiKey",
      "name": "X-APP-TOKEN",
      "in": "header"
    }
  },
  "externalDocs": {
    "description": "klingo",
    "url": "https://www.klingo.com.br/"
  },
  "host": "api-externa.klingo.app",
  "basePath": "/api"
}