{
  "openapi": "3.0.3",
  "info": {
    "title": "Qonversion Public Analytics API",
    "description": "Public API for accessing Qonversion analytics chart data.\n\n## Quick Start\n\n1. Find your **Project API Key** in the Qonversion dashboard\n   (Project Settings)\n2. Use it in the URL path for your desired chart, e.g.,\n   `/v1/analytics/{YOUR_PROJECT_API_KEY}/chart/proceeds`\n3. No additional authentication headers required\n\n## Authentication\n\nAuthentication is done via **Project API Key** in the URL path.\nThis key identifies your project and authorizes access to your\nanalytics data.\n\n**Security Note:** Keep your Project API Key secret. Do not expose\nit in client-side code or public repositories.\n\n## Rate Limiting\n\n- **Limit:** 30 requests per minute per project\n- **Response:** HTTP 429 when limit exceeded\n- **Recommendation:** Implement exponential backoff in your client\n\n## Available Charts\n\nThe API provides dedicated endpoints for each chart type\nwith specific filter support:\n\n- **`proceeds`**\n  - Supports: All filters and segmentation\n\n- **`users-overview`** - User acquisition and retention metrics\n  - Supports: User filters and segmentation\n  - Does NOT support: Product filters\n\n- **`paid-subscriptions-movement`** - Subscription changes\n  (new, renewed, churned)\n  - Supports: Product filters only\n  - Does NOT support: Segmentation, user filters\n  - **IMPORTANT:** Segmentation is NOT supported for this chart\n\n- **`active-subscriptions`** - Currently active subscriptions\n  - Supports: Product filters and segmentation\n  - Does NOT support: User filters\n\n## Client Generation\n\nThis OpenAPI specification is designed for generating type-safe\nclients in any language. Use tools like:\n- [openapi-generator](https://openapi-generator.tech/)\n- [swagger-codegen](https://swagger.io/tools/swagger-codegen/)\n\n## Example Request\n\n```bash\ncurl \"https://api.qonversion.io/v1/analytics/proj_abc123/\\\nchart/proceeds?from=1699000000&to=1701000000&unit=day&\\\nenvironment=1\"\n```\n\n## Response Format\n\n**Success (200):**\n```json\n{\n  \"data\": {\n    \"code\": \"proceeds\",\n    \"from\": 1699000000,\n    \"to\": 1701000000,\n    \"series\": [...]\n  }\n}\n```\n\n**Error (4xx/5xx):**\n```json\n{\n  \"error\": {\n    \"code\": \"validation_error\",\n    \"message\": \"Unprocessable request params\",\n    \"type\": \"request\"\n  }\n}\n```\n",
    "version": "1.0.0",
    "contact": {
      "name": "Qonversion API Support",
      "url": "https://documentation.qonversion.io",
      "email": "support@qonversion.io"
    },
    "x-jentic-source-url": "https://documentation.qonversion.io/reference/overview"
  },
  "servers": [
    {
      "url": "https://api.qonversion.io/v1/analytics",
      "description": "Production server"
    }
  ],
  "tags": [
    {
      "name": "Analytics Charts",
      "description": "Dedicated endpoints for each analytics chart type"
    },
    {
      "name": "Customers",
      "description": "Endpoints for retrieving customer data and aggregated customer metrics"
    }
  ],
  "paths": {
    "/{projectApiKey}/chart/proceeds": {
      "get": {
        "summary": "Get proceeds chart data",
        "description": "Retrieve proceeds analytics. All filters and segmentation supported.\n",
        "operationId": "getProceedsChart",
        "tags": [
          "Analytics Charts"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ProjectApiKey"
          },
          {
            "$ref": "#/components/parameters/FromTimestamp"
          },
          {
            "$ref": "#/components/parameters/ToTimestamp"
          },
          {
            "$ref": "#/components/parameters/TimeUnit"
          },
          {
            "$ref": "#/components/parameters/Environment"
          },
          {
            "$ref": "#/components/parameters/MaxSeries"
          },
          {
            "$ref": "#/components/parameters/Segmentation"
          },
          {
            "$ref": "#/components/parameters/FilterTargetPlatform"
          },
          {
            "$ref": "#/components/parameters/FilterCountry"
          },
          {
            "$ref": "#/components/parameters/FilterLocale"
          },
          {
            "$ref": "#/components/parameters/FilterModel"
          },
          {
            "$ref": "#/components/parameters/FilterOsVersion"
          },
          {
            "$ref": "#/components/parameters/FilterSdkVersion"
          },
          {
            "$ref": "#/components/parameters/FilterQUserId"
          },
          {
            "$ref": "#/components/parameters/FilterProductId"
          },
          {
            "$ref": "#/components/parameters/FilterPurchaseCurrency"
          },
          {
            "$ref": "#/components/parameters/FilterAppVersion"
          },
          {
            "$ref": "#/components/parameters/FilterUserId"
          },
          {
            "$ref": "#/components/parameters/FilterDeviceId"
          },
          {
            "$ref": "#/components/parameters/FilterMediaSourceName"
          },
          {
            "$ref": "#/components/parameters/FilterCampaignName"
          },
          {
            "$ref": "#/components/parameters/FilterAdSetName"
          },
          {
            "$ref": "#/components/parameters/FilterAdName"
          },
          {
            "$ref": "#/components/parameters/FilterEventId"
          },
          {
            "$ref": "#/components/parameters/FilterExperimentUid"
          },
          {
            "$ref": "#/components/parameters/FilterExperimentGroupUid"
          },
          {
            "name": "projectApiKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with chart data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChartResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing Project API Key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests - rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/{projectApiKey}/chart/users-overview": {
      "get": {
        "summary": "Get users overview chart data",
        "description": "Retrieve users overview analytics. User filters and segmentation, no product filters.\n",
        "operationId": "getUsersOverviewChart",
        "tags": [
          "Analytics Charts"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ProjectApiKey"
          },
          {
            "$ref": "#/components/parameters/FromTimestamp"
          },
          {
            "$ref": "#/components/parameters/ToTimestamp"
          },
          {
            "$ref": "#/components/parameters/TimeUnit"
          },
          {
            "$ref": "#/components/parameters/Environment"
          },
          {
            "$ref": "#/components/parameters/MaxSeries"
          },
          {
            "$ref": "#/components/parameters/Segmentation"
          },
          {
            "$ref": "#/components/parameters/FilterTargetPlatform"
          },
          {
            "$ref": "#/components/parameters/FilterCountry"
          },
          {
            "$ref": "#/components/parameters/FilterLocale"
          },
          {
            "$ref": "#/components/parameters/FilterModel"
          },
          {
            "$ref": "#/components/parameters/FilterOsVersion"
          },
          {
            "$ref": "#/components/parameters/FilterSdkVersion"
          },
          {
            "$ref": "#/components/parameters/FilterQUserId"
          },
          {
            "$ref": "#/components/parameters/FilterUserId"
          },
          {
            "$ref": "#/components/parameters/FilterDeviceId"
          },
          {
            "$ref": "#/components/parameters/FilterMediaSourceName"
          },
          {
            "$ref": "#/components/parameters/FilterCampaignName"
          },
          {
            "$ref": "#/components/parameters/FilterAdSetName"
          },
          {
            "$ref": "#/components/parameters/FilterAdName"
          },
          {
            "name": "projectApiKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with chart data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChartResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing Project API Key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests - rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/{projectApiKey}/chart/paid-subscriptions-movement": {
      "get": {
        "summary": "Get paid subscriptions movement chart data",
        "description": "Retrieve paid subscriptions movement analytics. Product filters only, no segmentation.\n",
        "operationId": "getPaidSubscriptionsMovementChart",
        "tags": [
          "Analytics Charts"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ProjectApiKey"
          },
          {
            "$ref": "#/components/parameters/FromTimestamp"
          },
          {
            "$ref": "#/components/parameters/ToTimestamp"
          },
          {
            "$ref": "#/components/parameters/TimeUnit"
          },
          {
            "$ref": "#/components/parameters/Environment"
          },
          {
            "$ref": "#/components/parameters/MaxSeries"
          },
          {
            "$ref": "#/components/parameters/FilterTargetPlatform"
          },
          {
            "$ref": "#/components/parameters/FilterCountry"
          },
          {
            "$ref": "#/components/parameters/FilterLocale"
          },
          {
            "$ref": "#/components/parameters/FilterModel"
          },
          {
            "$ref": "#/components/parameters/FilterOsVersion"
          },
          {
            "$ref": "#/components/parameters/FilterSdkVersion"
          },
          {
            "$ref": "#/components/parameters/FilterQUserId"
          },
          {
            "$ref": "#/components/parameters/FilterProductId"
          },
          {
            "$ref": "#/components/parameters/FilterPurchaseCurrency"
          },
          {
            "$ref": "#/components/parameters/FilterAppVersion"
          },
          {
            "$ref": "#/components/parameters/FilterMediaSourceName"
          },
          {
            "$ref": "#/components/parameters/FilterCampaignName"
          },
          {
            "$ref": "#/components/parameters/FilterAdSetName"
          },
          {
            "$ref": "#/components/parameters/FilterAdName"
          },
          {
            "name": "projectApiKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with chart data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChartResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing Project API Key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests - rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/{projectApiKey}/chart/active-subscriptions": {
      "get": {
        "summary": "Get active subscriptions chart data",
        "description": "Retrieve active subscriptions analytics. Product filters and segmentation, no user filters.\n",
        "operationId": "getActiveSubscriptionsChart",
        "tags": [
          "Analytics Charts"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ProjectApiKey"
          },
          {
            "$ref": "#/components/parameters/FromTimestamp"
          },
          {
            "$ref": "#/components/parameters/ToTimestamp"
          },
          {
            "$ref": "#/components/parameters/TimeUnit"
          },
          {
            "$ref": "#/components/parameters/Environment"
          },
          {
            "$ref": "#/components/parameters/MaxSeries"
          },
          {
            "$ref": "#/components/parameters/Segmentation"
          },
          {
            "$ref": "#/components/parameters/FilterTargetPlatform"
          },
          {
            "$ref": "#/components/parameters/FilterCountry"
          },
          {
            "$ref": "#/components/parameters/FilterLocale"
          },
          {
            "$ref": "#/components/parameters/FilterModel"
          },
          {
            "$ref": "#/components/parameters/FilterOsVersion"
          },
          {
            "$ref": "#/components/parameters/FilterSdkVersion"
          },
          {
            "$ref": "#/components/parameters/FilterQUserId"
          },
          {
            "$ref": "#/components/parameters/FilterProductId"
          },
          {
            "$ref": "#/components/parameters/FilterPurchaseCurrency"
          },
          {
            "$ref": "#/components/parameters/FilterAppVersion"
          },
          {
            "$ref": "#/components/parameters/FilterMediaSourceName"
          },
          {
            "$ref": "#/components/parameters/FilterCampaignName"
          },
          {
            "$ref": "#/components/parameters/FilterAdSetName"
          },
          {
            "$ref": "#/components/parameters/FilterAdName"
          },
          {
            "name": "projectApiKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with chart data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChartResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing Project API Key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests - rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/{projectApiKey}/customers": {
      "get": {
        "summary": "Get customers list",
        "description": "Retrieve a paginated list of customers with optional filters.\n\nSupports filtering by platform, country, subscription status, product, attribution data, and more.\n",
        "operationId": "getCustomersList",
        "tags": [
          "Customers"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ProjectApiKey"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Page number for pagination (starts at 1)",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Number of items per page",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Sort field",
            "schema": {
              "type": "string",
              "enum": [
                "created",
                "last_seen",
                "total_revenue"
              ],
              "default": "created"
            }
          },
          {
            "name": "order",
            "in": "query",
            "required": false,
            "description": "Sort order",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "desc"
            }
          },
          {
            "name": "environment",
            "in": "query",
            "required": false,
            "description": "Environment type (0=Sandbox, 1=Production)",
            "schema": {
              "type": "integer",
              "enum": [
                0,
                1
              ],
              "default": 1
            }
          },
          {
            "$ref": "#/components/parameters/FilterTargetPlatform"
          },
          {
            "$ref": "#/components/parameters/FilterCountry"
          },
          {
            "$ref": "#/components/parameters/FilterProductId"
          },
          {
            "$ref": "#/components/parameters/FilterQUserId"
          },
          {
            "$ref": "#/components/parameters/FilterUserId"
          },
          {
            "$ref": "#/components/parameters/FilterDeviceId"
          },
          {
            "$ref": "#/components/parameters/FilterMediaSourceName"
          },
          {
            "$ref": "#/components/parameters/FilterCampaignName"
          },
          {
            "$ref": "#/components/parameters/FilterAdSetName"
          },
          {
            "$ref": "#/components/parameters/FilterAdName"
          },
          {
            "$ref": "#/components/parameters/FilterAppVersion"
          },
          {
            "$ref": "#/components/parameters/FilterSdkVersion"
          },
          {
            "$ref": "#/components/parameters/FilterOsVersion"
          },
          {
            "$ref": "#/components/parameters/FilterLocale"
          },
          {
            "$ref": "#/components/parameters/FilterModel"
          },
          {
            "$ref": "#/components/parameters/FilterPurchaseCurrency"
          },
          {
            "$ref": "#/components/parameters/FilterExperimentUid"
          },
          {
            "$ref": "#/components/parameters/FilterExperimentGroupUid"
          },
          {
            "name": "filter[subscription_status][]",
            "in": "query",
            "required": false,
            "description": "Filter by subscription status",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "active",
                  "trial",
                  "grace_period",
                  "cancelled",
                  "expired",
                  "never_subscribed"
                ]
              }
            },
            "style": "form",
            "explode": true
          },
          {
            "name": "filter[entitlement_id][]",
            "in": "query",
            "required": false,
            "description": "Filter by entitlement IDs",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "style": "form",
            "explode": true
          },
          {
            "name": "filter[created_from]",
            "in": "query",
            "required": false,
            "description": "Filter customers created after this Unix timestamp",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "filter[created_to]",
            "in": "query",
            "required": false,
            "description": "Filter customers created before this Unix timestamp",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "projectApiKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with paginated customer list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomersListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing Project API Key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests - rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/{projectApiKey}/customers-metrics": {
      "get": {
        "summary": "Get customer metrics",
        "description": "Retrieve aggregated customer metrics for a project.\n\nReturns high-level counts and monetary values such as active subscribers, churned subscribers, total sales, and more. Supports the same filters as the customers list endpoint.\n",
        "operationId": "getCustomerMetrics",
        "tags": [
          "Customers"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ProjectApiKey"
          },
          {
            "name": "environment",
            "in": "query",
            "required": false,
            "description": "Environment type (0=Sandbox, 1=Production)",
            "schema": {
              "type": "integer",
              "enum": [
                0,
                1
              ],
              "default": 1
            }
          },
          {
            "$ref": "#/components/parameters/FilterTargetPlatform"
          },
          {
            "$ref": "#/components/parameters/FilterCountry"
          },
          {
            "$ref": "#/components/parameters/FilterProductId"
          },
          {
            "$ref": "#/components/parameters/FilterQUserId"
          },
          {
            "$ref": "#/components/parameters/FilterUserId"
          },
          {
            "$ref": "#/components/parameters/FilterMediaSourceName"
          },
          {
            "$ref": "#/components/parameters/FilterCampaignName"
          },
          {
            "name": "filter[subscription_status][]",
            "in": "query",
            "required": false,
            "description": "Filter by subscription status",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "active",
                  "trial",
                  "grace_period",
                  "cancelled",
                  "expired",
                  "never_subscribed"
                ]
              }
            },
            "style": "form",
            "explode": true
          },
          {
            "name": "filter[entitlement_id][]",
            "in": "query",
            "required": false,
            "description": "Filter by entitlement IDs",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "style": "form",
            "explode": true
          },
          {
            "name": "filter[created_from]",
            "in": "query",
            "required": false,
            "description": "Filter customers created after this Unix timestamp",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "filter[created_to]",
            "in": "query",
            "required": false,
            "description": "Filter customers created before this Unix timestamp",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "projectApiKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with aggregated customer metrics",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerMetricsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing Project API Key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests - rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "parameters": {
      "ProjectApiKey": {
        "name": "projectApiKey",
        "in": "path",
        "required": true,
        "description": "Project API Key for authentication and project identification",
        "schema": {
          "type": "string",
          "pattern": "^proj_[a-zA-Z0-9]+$",
          "example": "proj_abc123xyz456"
        }
      },
      "FromTimestamp": {
        "name": "from",
        "in": "query",
        "required": false,
        "description": "Start of time range (Unix timestamp)",
        "schema": {
          "type": "integer",
          "format": "int64"
        }
      },
      "ToTimestamp": {
        "name": "to",
        "in": "query",
        "required": false,
        "description": "End of time range (Unix timestamp)",
        "schema": {
          "type": "integer",
          "format": "int64"
        }
      },
      "TimeUnit": {
        "name": "unit",
        "in": "query",
        "required": false,
        "description": "Time grouping unit",
        "schema": {
          "type": "string",
          "enum": [
            "hour",
            "day",
            "week",
            "month"
          ],
          "default": "day"
        }
      },
      "Environment": {
        "name": "environment",
        "in": "query",
        "required": false,
        "description": "Environment type (0=Sandbox, 1=Production)",
        "schema": {
          "type": "integer",
          "enum": [
            0,
            1
          ],
          "default": 1
        }
      },
      "MaxSeries": {
        "name": "max_series",
        "in": "query",
        "required": false,
        "description": "Maximum number of series to return",
        "schema": {
          "type": "integer",
          "minimum": 0,
          "maximum": 500,
          "default": 50
        }
      },
      "Segmentation": {
        "name": "segmentation",
        "in": "query",
        "required": false,
        "description": "Group by dimension",
        "schema": {
          "type": "string"
        }
      },
      "FilterTargetPlatform": {
        "name": "filter[target_platform][]",
        "in": "query",
        "required": false,
        "description": "Filter by platforms",
        "schema": {
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "iOS",
              "Android",
              "Stripe"
            ]
          }
        },
        "style": "form",
        "explode": true
      },
      "FilterCountry": {
        "name": "filter[country][]",
        "in": "query",
        "required": false,
        "description": "Filter by countries (ISO 3166-1 alpha-2)",
        "schema": {
          "type": "array",
          "items": {
            "type": "string",
            "pattern": "^[A-Z]{2}$"
          }
        },
        "style": "form",
        "explode": true
      },
      "FilterLocale": {
        "name": "filter[locale][]",
        "in": "query",
        "required": false,
        "description": "Filter by locales",
        "schema": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "style": "form",
        "explode": true
      },
      "FilterModel": {
        "name": "filter[model][]",
        "in": "query",
        "required": false,
        "description": "Filter by device models",
        "schema": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "style": "form",
        "explode": true
      },
      "FilterOsVersion": {
        "name": "filter[os_version][]",
        "in": "query",
        "required": false,
        "description": "Filter by OS versions",
        "schema": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "style": "form",
        "explode": true
      },
      "FilterSdkVersion": {
        "name": "filter[sdk_version][]",
        "in": "query",
        "required": false,
        "description": "Filter by SDK versions",
        "schema": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "style": "form",
        "explode": true
      },
      "FilterQUserId": {
        "name": "filter[q_user_id]",
        "in": "query",
        "required": false,
        "description": "Filter by Qonversion user ID",
        "schema": {
          "type": "string"
        }
      },
      "FilterProductId": {
        "name": "filter[product_id][]",
        "in": "query",
        "required": false,
        "description": "Filter by product IDs",
        "schema": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "style": "form",
        "explode": true
      },
      "FilterPurchaseCurrency": {
        "name": "filter[purchase_currency][]",
        "in": "query",
        "required": false,
        "description": "Filter by purchase currencies (ISO 4217)",
        "schema": {
          "type": "array",
          "items": {
            "type": "string",
            "pattern": "^[A-Z]{3}$"
          }
        },
        "style": "form",
        "explode": true
      },
      "FilterAppVersion": {
        "name": "filter[app_version][]",
        "in": "query",
        "required": false,
        "description": "Filter by app versions",
        "schema": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "style": "form",
        "explode": true
      },
      "FilterUserId": {
        "name": "filter[user_id]",
        "in": "query",
        "required": false,
        "description": "Filter by custom user ID",
        "schema": {
          "type": "string"
        }
      },
      "FilterDeviceId": {
        "name": "filter[device_id]",
        "in": "query",
        "required": false,
        "description": "Filter by device ID",
        "schema": {
          "type": "string"
        }
      },
      "FilterMediaSourceName": {
        "name": "filter[media_source_name][]",
        "in": "query",
        "required": false,
        "description": "Filter by media source names",
        "schema": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "style": "form",
        "explode": true
      },
      "FilterCampaignName": {
        "name": "filter[campaign_name][]",
        "in": "query",
        "required": false,
        "description": "Filter by campaign names",
        "schema": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "style": "form",
        "explode": true
      },
      "FilterAdSetName": {
        "name": "filter[ad_set_name][]",
        "in": "query",
        "required": false,
        "description": "Filter by ad set names",
        "schema": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "style": "form",
        "explode": true
      },
      "FilterAdName": {
        "name": "filter[ad_name][]",
        "in": "query",
        "required": false,
        "description": "Filter by ad names",
        "schema": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "style": "form",
        "explode": true
      },
      "FilterEventId": {
        "name": "filter[event_id][]",
        "in": "query",
        "required": false,
        "description": "Filter by event IDs",
        "schema": {
          "type": "array",
          "items": {
            "type": "integer"
          }
        },
        "style": "form",
        "explode": true
      },
      "FilterExperimentUid": {
        "name": "filter[experiment_uid][]",
        "in": "query",
        "required": false,
        "description": "Filter by experiment UIDs",
        "schema": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "style": "form",
        "explode": true
      },
      "FilterExperimentGroupUid": {
        "name": "filter[experiment_group_uid][]",
        "in": "query",
        "required": false,
        "description": "Filter by experiment group UIDs",
        "schema": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "style": "form",
        "explode": true
      }
    },
    "schemas": {
      "ChartResponse": {
        "type": "object",
        "required": [
          "data"
        ],
        "properties": {
          "data": {
            "$ref": "#/components/schemas/ChartData"
          }
        }
      },
      "ChartData": {
        "type": "object",
        "required": [
          "code",
          "from",
          "to",
          "unit",
          "environment",
          "seriesRelation",
          "maxSeries",
          "totalType",
          "measure",
          "horizontalLabelType",
          "series"
        ],
        "properties": {
          "code": {
            "type": "string",
            "description": "Chart type identifier (echoes request)",
            "example": "proceeds"
          },
          "from": {
            "type": "integer",
            "format": "int64",
            "description": "Start of time range (Unix timestamp)",
            "example": 1699000000
          },
          "to": {
            "type": "integer",
            "format": "int64",
            "description": "End of time range (Unix timestamp)",
            "example": 1701000000
          },
          "unit": {
            "type": "string",
            "enum": [
              "hour",
              "day",
              "week",
              "month"
            ],
            "description": "Time grouping unit",
            "example": "day"
          },
          "environment": {
            "type": "integer",
            "enum": [
              0,
              1
            ],
            "description": "Environment (0=Sandbox, 1=Production)",
            "example": 1
          },
          "seriesRelation": {
            "type": "string",
            "enum": [
              "partsOfWhole",
              "independent"
            ],
            "description": "Relationship between series (partsOfWhole = sum to total, independent = separate)\n",
            "example": "partsOfWhole"
          },
          "maxSeries": {
            "type": "integer",
            "description": "Maximum series count",
            "example": 50
          },
          "totalType": {
            "type": "string",
            "enum": [
              "sum",
              "wavg"
            ],
            "description": "Total calculation type (sum or weighted average)",
            "example": "sum"
          },
          "measure": {
            "type": "string",
            "enum": [
              "usd",
              "count",
              "percent"
            ],
            "description": "Measurement unit",
            "example": "usd"
          },
          "horizontalLabelType": {
            "type": "string",
            "description": "Label format type for horizontal axis",
            "example": "default"
          },
          "segmentation": {
            "type": "string",
            "nullable": true,
            "description": "Segmentation dimension used (null if no segmentation)",
            "example": "country"
          },
          "summarySeries": {
            "$ref": "#/components/schemas/Series",
            "nullable": true,
            "description": "Summary series (present when segmented)"
          },
          "series": {
            "type": "array",
            "description": "Data series array",
            "items": {
              "$ref": "#/components/schemas/Series"
            }
          }
        }
      },
      "Series": {
        "type": "object",
        "required": [
          "label",
          "data"
        ],
        "properties": {
          "label": {
            "type": "string",
            "description": "Series name",
            "example": "After refunds"
          },
          "total": {
            "type": "number",
            "format": "double",
            "nullable": true,
            "description": "Total value for period",
            "example": 380276.24
          },
          "totalPrev": {
            "type": "number",
            "format": "double",
            "nullable": true,
            "description": "Total value for previous period",
            "example": 326882.25
          },
          "totalWeight": {
            "type": "number",
            "format": "double",
            "nullable": true,
            "description": "Weight for weighted average calculations",
            "example": null
          },
          "totalPrevWeight": {
            "type": "number",
            "format": "double",
            "nullable": true,
            "description": "Previous period weight for weighted average",
            "example": null
          },
          "totalIgnoreInFinal": {
            "type": "boolean",
            "nullable": true,
            "description": "Whether to ignore this series in final calculations",
            "example": false
          },
          "data": {
            "type": "array",
            "description": "Array of data points",
            "items": {
              "$ref": "#/components/schemas/DataPoint"
            }
          }
        }
      },
      "DataPoint": {
        "type": "object",
        "required": [
          "start_time",
          "value"
        ],
        "properties": {
          "start_time": {
            "type": "integer",
            "format": "int64",
            "description": "Period start time (Unix timestamp)",
            "example": 1699000000
          },
          "value": {
            "type": "number",
            "format": "double",
            "description": "Metric value",
            "example": 6163.49
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "required": [
          "success",
          "message"
        ],
        "properties": {
          "success": {
            "type": "boolean",
            "example": false
          },
          "message": {
            "type": "string",
            "description": "Error message",
            "example": "Invalid token signature"
          },
          "errors": {
            "type": "object",
            "nullable": true,
            "description": "Validation errors (field → error messages)",
            "additionalProperties": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "example": {
              "from": [
                "'To' should be higher than 'from'."
              ]
            }
          }
        }
      },
      "Customer": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Qonversion user ID",
            "example": "QON_abc123def456"
          },
          "identity_id": {
            "type": "string",
            "nullable": true,
            "description": "Custom user identity (if set via SDK)",
            "example": "user_42"
          },
          "created": {
            "type": "integer",
            "format": "int64",
            "description": "Account creation timestamp (Unix)",
            "example": 1699000000
          },
          "last_seen": {
            "type": "integer",
            "format": "int64",
            "description": "Last activity timestamp (Unix)",
            "example": 1701000000
          },
          "environment": {
            "type": "integer",
            "enum": [
              0,
              1
            ],
            "description": "Environment (0=Sandbox, 1=Production)",
            "example": 1
          },
          "platform": {
            "type": "string",
            "enum": [
              "iOS",
              "Android",
              "Stripe"
            ],
            "description": "User's platform",
            "example": "iOS"
          },
          "country": {
            "type": "string",
            "description": "Country code (ISO 3166-1 alpha-2)",
            "example": "US"
          },
          "total_revenue": {
            "type": "number",
            "format": "double",
            "description": "Total revenue from this customer in USD",
            "example": 49.99
          },
          "subscription_status": {
            "type": "string",
            "enum": [
              "active",
              "trial",
              "grace_period",
              "cancelled",
              "expired",
              "never_subscribed"
            ],
            "description": "Current subscription status",
            "example": "active"
          },
          "active_entitlements": {
            "type": "array",
            "description": "List of currently active entitlement IDs",
            "items": {
              "type": "string"
            },
            "example": [
              "premium",
              "pro_features"
            ]
          }
        }
      },
      "CustomersListResponse": {
        "type": "object",
        "required": [
          "data",
          "pagination"
        ],
        "properties": {
          "data": {
            "type": "array",
            "description": "Array of customer objects",
            "items": {
              "$ref": "#/components/schemas/Customer"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          }
        }
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number",
            "example": 1
          },
          "limit": {
            "type": "integer",
            "description": "Items per page",
            "example": 20
          },
          "total": {
            "type": "integer",
            "description": "Total number of matching customers",
            "example": 1542
          },
          "total_pages": {
            "type": "integer",
            "description": "Total number of pages",
            "example": 78
          }
        }
      },
      "CustomerMetricsResponse": {
        "type": "object",
        "required": [
          "data"
        ],
        "properties": {
          "data": {
            "$ref": "#/components/schemas/CustomerMetrics"
          }
        }
      },
      "CustomerMetrics": {
        "type": "object",
        "properties": {
          "total_customers": {
            "type": "integer",
            "description": "Total number of customers",
            "example": 15420
          },
          "active_subscribers": {
            "type": "integer",
            "description": "Customers with active subscriptions",
            "example": 4230
          },
          "trial_users": {
            "type": "integer",
            "description": "Customers currently in a trial period",
            "example": 820
          },
          "churned_subscribers": {
            "type": "integer",
            "description": "Customers whose subscriptions have expired or been cancelled",
            "example": 3150
          },
          "never_subscribed": {
            "type": "integer",
            "description": "Customers who never started a subscription",
            "example": 7220
          },
          "total_revenue": {
            "type": "number",
            "format": "double",
            "description": "Total revenue from all customers in USD",
            "example": 380276.24
          },
          "average_revenue_per_user": {
            "type": "number",
            "format": "double",
            "description": "Average revenue per customer in USD",
            "example": 24.66
          }
        }
      }
    }
  }
}
