{
  "openapi": "3.0.0",
  "info": {
    "title": "Clash of Clans API",
    "version": "1.0.0",
    "description": "Official Clash of Clans API for accessing game data including clans, players, leagues, locations, and war information.",
    "contact": {
      "url": "https://developer.clashofclans.com"
    },
    "termsOfService": "https://supercell.com/en/fan-content-policy/"
  },
  "servers": [
    {
      "url": "https://api.clashofclans.com/v1",
      "description": "Production server"
    }
  ],
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "paths": {
    "/clans/{clanTag}": {
      "get": {
        "summary": "Get clan information",
        "description": "Get information about a single clan by clan tag",
        "operationId": "getClan",
        "parameters": [
          {
            "name": "clanTag",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Tag of the clan (URL encode the # character)"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "tag": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string"
                    },
                    "location": {
                      "type": "object"
                    },
                    "clanLevel": {
                      "type": "integer"
                    },
                    "clanPoints": {
                      "type": "integer"
                    },
                    "clanVersusPoints": {
                      "type": "integer"
                    },
                    "requiredTrophies": {
                      "type": "integer"
                    },
                    "warFrequency": {
                      "type": "string"
                    },
                    "warWinStreak": {
                      "type": "integer"
                    },
                    "warWins": {
                      "type": "integer"
                    },
                    "warTies": {
                      "type": "integer"
                    },
                    "warLosses": {
                      "type": "integer"
                    },
                    "isWarLogPublic": {
                      "type": "boolean"
                    },
                    "members": {
                      "type": "integer"
                    },
                    "memberList": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Access denied - invalid API key"
          },
          "404": {
            "description": "Clan not found"
          }
        },
        "tags": [
          "clans"
        ]
      }
    },
    "/clans/{clanTag}/members": {
      "get": {
        "summary": "List clan members",
        "description": "List clan members",
        "operationId": "getClanMembers",
        "parameters": [
          {
            "name": "clanTag",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Tag of the clan"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Limit the number of returned results"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "clans"
        ]
      }
    },
    "/clans/{clanTag}/warlog": {
      "get": {
        "summary": "Retrieve clan's clan war log",
        "description": "Retrieve clan's clan war log",
        "operationId": "getClanWarLog",
        "parameters": [
          {
            "name": "clanTag",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Tag of the clan"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Limit the number of returned results"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "clans"
        ]
      }
    },
    "/clans/{clanTag}/currentwar": {
      "get": {
        "summary": "Retrieve information about clan's current clan war",
        "description": "Retrieve information about clan's current clan war",
        "operationId": "getCurrentWar",
        "parameters": [
          {
            "name": "clanTag",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Tag of the clan"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "tags": [
          "clans"
        ]
      }
    },
    "/clans/{clanTag}/currentwar/leaguegroup": {
      "get": {
        "summary": "Retrieve information about clan's current war league group",
        "description": "Retrieve information about clan's current war league group",
        "operationId": "getClanWarLeagueGroup",
        "parameters": [
          {
            "name": "clanTag",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Tag of the clan"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "tags": [
          "clans"
        ]
      }
    },
    "/clanwarleagues/wars/{warTag}": {
      "get": {
        "summary": "Retrieve information about individual clan war league war",
        "description": "Retrieve information about individual clan war league war",
        "operationId": "getClanWarLeagueWar",
        "parameters": [
          {
            "name": "warTag",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Tag of the war"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "tags": [
          "clanwarleagues"
        ]
      }
    },
    "/clans": {
      "get": {
        "summary": "Search clans",
        "description": "Search all clans by name and/or filtering the results using various criteria",
        "operationId": "searchClans",
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Search clans by name"
          },
          {
            "name": "warFrequency",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by war frequency"
          },
          {
            "name": "locationId",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Filter by location identifier"
          },
          {
            "name": "minMembers",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Filter by minimum number of clan members"
          },
          {
            "name": "maxMembers",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Filter by maximum number of clan members"
          },
          {
            "name": "minClanPoints",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Filter by minimum amount of clan points"
          },
          {
            "name": "minClanLevel",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Filter by minimum clan level"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Limit the number of returned results"
          },
          {
            "name": "after",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Return only items that occur after this marker"
          },
          {
            "name": "before",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Return only items that occur before this marker"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "paging": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "clans"
        ]
      }
    },
    "/players/{playerTag}": {
      "get": {
        "summary": "Get player information",
        "description": "Get information about a single player by player tag",
        "operationId": "getPlayer",
        "parameters": [
          {
            "name": "playerTag",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Tag of the player"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "tag": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "townHallLevel": {
                      "type": "integer"
                    },
                    "expLevel": {
                      "type": "integer"
                    },
                    "trophies": {
                      "type": "integer"
                    },
                    "bestTrophies": {
                      "type": "integer"
                    },
                    "warStars": {
                      "type": "integer"
                    },
                    "attackWins": {
                      "type": "integer"
                    },
                    "defenseWins": {
                      "type": "integer"
                    },
                    "clan": {
                      "type": "object"
                    },
                    "troops": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "heroes": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "spells": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "players"
        ]
      }
    },
    "/locations": {
      "get": {
        "summary": "List locations",
        "description": "List all available locations",
        "operationId": "getLocationList",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Limit the number of returned results"
          },
          {
            "name": "after",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Return only items that occur after this marker"
          },
          {
            "name": "before",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Return only items that occur before this marker"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "locations"
        ]
      }
    },
    "/locations/{locationId}": {
      "get": {
        "summary": "Get location information",
        "description": "Get information about specific location",
        "operationId": "getLocation",
        "parameters": [
          {
            "name": "locationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Identifier of the location"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "tags": [
          "locations"
        ]
      }
    },
    "/locations/{locationId}/rankings/clans": {
      "get": {
        "summary": "Get clan rankings for a specific location",
        "description": "Get clan rankings for a specific location",
        "operationId": "getClanRankings",
        "parameters": [
          {
            "name": "locationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Identifier of the location"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Limit the number of returned results"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "tags": [
          "locations"
        ]
      }
    },
    "/locations/{locationId}/rankings/players": {
      "get": {
        "summary": "Get player rankings for a specific location",
        "description": "Get player rankings for a specific location",
        "operationId": "getPlayerRankings",
        "parameters": [
          {
            "name": "locationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Identifier of the location"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Limit the number of returned results"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "tags": [
          "locations"
        ]
      }
    },
    "/locations/{locationId}/rankings/clans-versus": {
      "get": {
        "summary": "Get clan versus rankings for a specific location",
        "description": "Get clan versus rankings for a specific location",
        "operationId": "getClanVersusRankings",
        "parameters": [
          {
            "name": "locationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Identifier of the location"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Limit the number of returned results"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "tags": [
          "locations"
        ]
      }
    },
    "/locations/{locationId}/rankings/players-versus": {
      "get": {
        "summary": "Get player versus rankings for a specific location",
        "description": "Get player versus rankings for a specific location",
        "operationId": "getPlayerVersusRankings",
        "parameters": [
          {
            "name": "locationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Identifier of the location"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Limit the number of returned results"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "tags": [
          "locations"
        ]
      }
    },
    "/leagues": {
      "get": {
        "summary": "List leagues",
        "description": "List leagues",
        "operationId": "getLeagueList",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Limit the number of returned results"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "leagues"
        ]
      }
    },
    "/leagues/{leagueId}": {
      "get": {
        "summary": "Get league information",
        "description": "Get league information",
        "operationId": "getLeague",
        "parameters": [
          {
            "name": "leagueId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Identifier of the league"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "tags": [
          "leagues"
        ]
      }
    },
    "/leagues/{leagueId}/seasons": {
      "get": {
        "summary": "Get league seasons",
        "description": "Get league seasons",
        "operationId": "getLeagueSeasons",
        "parameters": [
          {
            "name": "leagueId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Identifier of the league"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Limit the number of returned results"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "tags": [
          "leagues"
        ]
      }
    },
    "/leagues/{leagueId}/seasons/{seasonId}": {
      "get": {
        "summary": "Get league season rankings",
        "description": "Get league season rankings",
        "operationId": "getLeagueSeasonRankings",
        "parameters": [
          {
            "name": "leagueId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Identifier of the league"
          },
          {
            "name": "seasonId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Identifier of the season"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Limit the number of returned results"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "tags": [
          "leagues"
        ]
      }
    },
    "/warleagues": {
      "get": {
        "summary": "List war leagues",
        "description": "List war leagues",
        "operationId": "getWarLeagueList",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Limit the number of returned results"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "tags": [
          "warleagues"
        ]
      }
    },
    "/warleagues/{leagueId}": {
      "get": {
        "summary": "Get war league information",
        "description": "Get war league information",
        "operationId": "getWarLeague",
        "parameters": [
          {
            "name": "leagueId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Identifier of the war league"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "tags": [
          "warleagues"
        ]
      }
    },
    "/labels/clans": {
      "get": {
        "summary": "List clan labels",
        "description": "List clan labels",
        "operationId": "getClanLabels",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Limit the number of returned results"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "tags": [
          "labels"
        ]
      }
    },
    "/labels/players": {
      "get": {
        "summary": "List player labels",
        "description": "List player labels",
        "operationId": "getPlayerLabels",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Limit the number of returned results"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "tags": [
          "labels"
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "API key obtained from https://developer.clashofclans.com"
      }
    }
  },
  "tags": [
    {
      "name": "clans"
    },
    {
      "name": "clanwarleagues"
    },
    {
      "name": "labels"
    },
    {
      "name": "leagues"
    },
    {
      "name": "locations"
    },
    {
      "name": "players"
    },
    {
      "name": "warleagues"
    }
  ]
}
