{
  "openapi": "3.0.1",
  "info": {
    "title": "Routicket API DOC",
    "description": "API generated by SwaggerHub Explore",
    "version": "light",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/routicket/Routicket/light"
  },
  "servers": [
    {
      "url": "https://routicket.com"
    },
    {
      "url": "http://routicket.com"
    }
  ],
  "paths": {
    "/plugins/play/musica/get_files.php": {
      "get": {
        "parameters": [],
        "responses": {
          "200": {
            "description": "Generated by SwaggerHub Explore"
          }
        }
      }
    },
    "/api/json/list_element2.php": {
      "get": {
        "parameters": [
          {
            "name": "id_list",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "examples": {
              "example": {
                "value": "47"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Generated by SwaggerHub Explore"
          }
        }
      }
    },
    "/api/get_all_codes/": {
      "get": {
        "parameters": [],
        "responses": {
          "200": {
            "description": "Generated by SwaggerHub Explore",
            "headers": {
              "Keep-Alive": {
                "schema": {
                  "type": "string"
                },
                "example": "timeout=5, max=100"
              },
              "Server": {
                "schema": {
                  "type": "string"
                },
                "example": "Apache/2.4.29 (Ubuntu)"
              },
              "Connection": {
                "schema": {
                  "type": "string"
                },
                "example": "Keep-Alive"
              },
              "Content-Length": {
                "schema": {
                  "type": "string"
                },
                "example": "7825"
              },
              "Date": {
                "schema": {
                  "type": "string"
                },
                "example": "Mon, 03 Nov 2025 17:08:30 GMT"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "data",
                    "pagination"
                  ],
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "required": [
                          "agentReview",
                          "auto",
                          "clave",
                          "code",
                          "comments",
                          "fecha",
                          "foto",
                          "hora",
                          "id",
                          "lat",
                          "lng",
                          "mg",
                          "precio",
                          "public",
                          "shortx",
                          "slider",
                          "text",
                          "tipo",
                          "upc",
                          "user_id",
                          "vistoxs"
                        ],
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "user_id": {
                            "type": "string"
                          },
                          "code": {
                            "type": "string"
                          },
                          "text": {
                            "type": "string"
                          },
                          "fecha": {
                            "type": "string"
                          },
                          "hora": {
                            "type": "string"
                          },
                          "mg": {
                            "type": "string"
                          },
                          "comments": {
                            "type": "string"
                          },
                          "vistoxs": {
                            "type": "string"
                          },
                          "public": {
                            "type": "string"
                          },
                          "foto": {
                            "type": "string"
                          },
                          "tipo": {
                            "type": "string"
                          },
                          "shortx": {
                            "type": "string"
                          },
                          "clave": {
                            "type": "string"
                          },
                          "lat": {
                            "type": "string"
                          },
                          "lng": {
                            "type": "string"
                          },
                          "precio": {
                            "type": "string"
                          },
                          "upc": {
                            "type": "string"
                          },
                          "auto": {
                            "type": "string"
                          },
                          "slider": {
                            "type": "string"
                          },
                          "agentReview": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "pagination": {
                      "required": [
                        "current_page",
                        "next_page",
                        "per_page",
                        "total_pages",
                        "total_rows"
                      ],
                      "type": "object",
                      "properties": {
                        "current_page": {
                          "type": "integer"
                        },
                        "per_page": {
                          "type": "integer"
                        },
                        "total_rows": {
                          "type": "string"
                        },
                        "total_pages": {
                          "type": "integer"
                        },
                        "next_page": {
                          "type": "integer"
                        },
                        "prev_page": {
                          "type": "null"
                        }
                      },
                      "additionalProperties": false
                    }
                  },
                  "additionalProperties": false
                },
                "example": {
                  "data": [
                    {
                      "id": "9837",
                      "user_id": "31",
                      "code": "https://routicket.com/api/get_codes/",
                      "text": "",
                      "fecha": "2025-11-02",
                      "hora": "18:45:28",
                      "mg": "0",
                      "comments": "0",
                      "vistoxs": "0",
                      "public": "0",
                      "foto": "https://imgur.com/L3DeKNK",
                      "tipo": "0",
                      "shortx": "",
                      "clave": "",
                      "lat": "0",
                      "lng": "0",
                      "precio": "0",
                      "upc": "0",
                      "auto": "0",
                      "slider": "0",
                      "agentReview": "1762109128"
                    },
                    {
                      "id": "9836",
                      "user_id": "1427",
                      "code": "https://most-want-tech.github.io/doomer-tune-machine/",
                      "text": "Doomer Mix Maker",
                      "fecha": "2025-11-02",
                      "hora": "18:45:30",
                      "mg": "0",
                      "comments": "0",
                      "vistoxs": "0",
                      "public": "0",
                      "foto": "https://imgur.com/L3DeKNK",
                      "tipo": "0",
                      "shortx": "",
                      "clave": "0",
                      "lat": "0",
                      "lng": "0",
                      "precio": "0",
                      "upc": "0",
                      "auto": "0",
                      "slider": "0",
                      "agentReview": "1762109130"
                    },
                    {
                      "id": "9835",
                      "user_id": "1427",
                      "code": "https://routicket.com/plugins/play/musica/get_files.php",
                      "text": "",
                      "fecha": "2025-11-02",
                      "hora": "18:45:33",
                      "mg": "0",
                      "comments": "0",
                      "vistoxs": "0",
                      "public": "0",
                      "foto": "https://imgur.com/L3DeKNK",
                      "tipo": "0",
                      "shortx": "",
                      "clave": "0",
                      "lat": "0",
                      "lng": "0",
                      "precio": "0",
                      "upc": "0",
                      "auto": "0",
                      "slider": "0",
                      "agentReview": "1762109133"
                    },
                    {
                      "id": "9834",
                      "user_id": "1427",
                      "code": "https://routicket.com/api/get_cupones/",
                      "text": "",
                      "fecha": "2025-11-02",
                      "hora": "18:45:36",
                      "mg": "0",
                      "comments": "0",
                      "vistoxs": "0",
                      "public": "0",
                      "foto": "https://imgur.com/L3DeKNK",
                      "tipo": "0",
                      "shortx": "",
                      "clave": "0",
                      "lat": "0",
                      "lng": "0",
                      "precio": "0",
                      "upc": "0",
                      "auto": "0",
                      "slider": "0",
                      "agentReview": "1762109136"
                    },
                    {
                      "id": "9833",
                      "user_id": "31",
                      "code": "https://routicket.com/api/get_cupones/",
                      "text": "",
                      "fecha": "2025-11-02",
                      "hora": "18:45:40",
                      "mg": "0",
                      "comments": "0",
                      "vistoxs": "0",
                      "public": "0",
                      "foto": "https://imgur.com/L3DeKNK",
                      "tipo": "0",
                      "shortx": "",
                      "clave": "",
                      "lat": "0",
                      "lng": "0",
                      "precio": "0",
                      "upc": "0",
                      "auto": "0",
                      "slider": "0",
                      "agentReview": "1762109140"
                    },
                    {
                      "id": "9832",
                      "user_id": "1427",
                      "code": "https://www.youtube.com/channel/UC0ldx79pWid0KIYkR_sA82g",
                      "text": "Beats 4 Sale - Topic",
                      "fecha": "2025-11-02",
                      "hora": "18:45:43",
                      "mg": "0",
                      "comments": "0",
                      "vistoxs": "14",
                      "public": "0",
                      "foto": "https://yt3.googleusercontent.com/vNomeHd1QHonlKc3r0MSbPvRw0zNSFRvmn9NmWsAxkbn9wPqJ5iLiDIQof1YPbqMkSP6ybE6HQ=s900-c-k-c0x00ffffff-no-rj",
                      "tipo": "0",
                      "shortx": "Share your videos with friends, family, and the world",
                      "clave": "",
                      "lat": "0",
                      "lng": "0",
                      "precio": "0",
                      "upc": "0",
                      "auto": "0",
                      "slider": "0",
                      "agentReview": "1762109143"
                    },
                    {
                      "id": "9831",
                      "user_id": "31",
                      "code": "https://swagger.io/docs/open-source-tools/swagger-ui/usage/installation/",
                      "text": "Installation",
                      "fecha": "2025-11-02",
                      "hora": "18:45:45",
                      "mg": "0",
                      "comments": "0",
                      "vistoxs": "0",
                      "public": "0",
                      "foto": "https://imgur.com/L3DeKNK",
                      "tipo": "0",
                      "shortx": "",
                      "clave": "Swagger Docs",
                      "lat": "0",
                      "lng": "0",
                      "precio": "0",
                      "upc": "0",
                      "auto": "0",
                      "slider": "0",
                      "agentReview": "1762109145"
                    },
                    {
                      "id": "9830",
                      "user_id": "31",
                      "code": "https://gemini.google.com/app/d5a51fd94f3766d2?hl=es",
                      "text": "\u00e2\u0080\u008eGoogle Gemini",
                      "fecha": "2025-11-02",
                      "hora": "18:45:47",
                      "mg": "0",
                      "comments": "0",
                      "vistoxs": "1",
                      "public": "0",
                      "foto": "https://www.gstatic.com/lamda/images/gemini_aurora_thumbnail_4g_e74822ff0ca4259beb718.png",
                      "tipo": "0",
                      "shortx": "Descubre Gemini, el asistente de IA de Google. Puedes pedirle que te ayude a escribir, a hacer planes o a explorar ideas, entre otras cosas. Aprovecha el potencial de la IA generativa.",
                      "clave": "Gemini",
                      "lat": "0",
                      "lng": "0",
                      "precio": "0",
                      "upc": "0",
                      "auto": "0",
                      "slider": "0",
                      "agentReview": "1762109147"
                    },
                    {
                      "id": "9829",
                      "user_id": "31",
                      "code": "https://www.youtube.com/watch?v=uBvPIMe40s4&t=1278s",
                      "text": "Pel\u00c3\u00adcula de suspense | La mafia rusa trafica con ni\u00c3\u00b1os | Peliculas completas en espa\u00c3\u00b1ol latino 4K",
                      "fecha": "2025-11-02",
                      "hora": "18:45:50",
                      "mg": "0",
                      "comments": "0",
                      "vistoxs": "2",
                      "public": "0",
                      "foto": "https://i.ytimg.com/vi/uBvPIMe40s4/hqdefault.jpg",
                      "tipo": "0",
                      "shortx": "Pel\u00c3\u00adcula de suspense | La mafia rusa trafica con ni\u00c3\u00b1os | Peliculas completas en espa\u00c3\u00b1ol latino 4K | Canal: \u00d0\u00a1inemaTierra",
                      "clave": "YouTube",
                      "lat": "0",
                      "lng": "0",
                      "precio": "0",
                      "upc": "0",
                      "auto": "0",
                      "slider": "0",
                      "agentReview": "1762109150"
                    },
                    {
                      "id": "9828",
                      "user_id": "31",
                      "code": "https://www.youtube.com/watch?v=iuLJci09GYM",
                      "text": "Outro (Video Oficial) Prod. @ Chago4ever",
                      "fecha": "2025-11-02",
                      "hora": "18:45:52",
                      "mg": "0",
                      "comments": "0",
                      "vistoxs": "2",
                      "public": "0",
                      "foto": "https://i.ytimg.com/vi/iuLJci09GYM/hqdefault.jpg",
                      "tipo": "0",
                      "shortx": "Outro (Video Oficial) Prod. @ Chago4ever | Canal: kali Morales",
                      "clave": "",
                      "lat": "0",
                      "lng": "0",
                      "precio": "0",
                      "upc": "0",
                      "auto": "0",
                      "slider": "0",
                      "agentReview": "1762109152"
                    }
                  ],
                  "pagination": {
                    "current_page": 1,
                    "per_page": 10,
                    "total_rows": "6078",
                    "total_pages": 608,
                    "next_page": 2,
                    "prev_page": null
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/get_all_stores/": {
      "get": {
        "parameters": [],
        "responses": {
          "200": {
            "description": "Generated by SwaggerHub Explore"
          }
        }
      }
    },
    "/plugins/points/dataPoint.php": {
      "get": {
        "parameters": [],
        "responses": {
          "200": {
            "description": "Generated by SwaggerHub Explore",
            "headers": {
              "Keep-Alive": {
                "schema": {
                  "type": "string"
                },
                "example": "timeout=5, max=100"
              },
              "Transfer-Encoding": {
                "schema": {
                  "type": "string"
                },
                "example": "chunked"
              },
              "Server": {
                "schema": {
                  "type": "string"
                },
                "example": "Apache/2.4.29 (Ubuntu)"
              },
              "Connection": {
                "schema": {
                  "type": "string"
                },
                "example": "Keep-Alive"
              },
              "Date": {
                "schema": {
                  "type": "string"
                },
                "example": "Mon, 03 Nov 2025 17:09:21 GMT"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "required": [
                      "codigo",
                      "comentarios",
                      "descripcion",
                      "envio",
                      "etiquetas",
                      "fecha_creacion",
                      "foto",
                      "id",
                      "id_partner",
                      "latitud",
                      "listaProductos",
                      "longitud",
                      "me_gusta",
                      "tipo",
                      "titulo",
                      "veces_usado",
                      "visitas"
                    ],
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "titulo": {
                        "type": "string"
                      },
                      "descripcion": {
                        "type": "string"
                      },
                      "latitud": {
                        "type": "string"
                      },
                      "longitud": {
                        "type": "string"
                      },
                      "visitas": {
                        "type": "string"
                      },
                      "comentarios": {
                        "type": "string"
                      },
                      "veces_usado": {
                        "type": "string"
                      },
                      "me_gusta": {
                        "type": "string"
                      },
                      "foto": {
                        "type": "string"
                      },
                      "fecha_creacion": {
                        "type": "string"
                      },
                      "id_partner": {
                        "type": "string"
                      },
                      "tipo": {
                        "type": "string"
                      },
                      "etiquetas": {
                        "type": "string"
                      },
                      "codigo": {
                        "type": "string"
                      },
                      "envio": {
                        "type": "string"
                      },
                      "listaProductos": {
                        "type": "string"
                      }
                    },
                    "additionalProperties": false
                  }
                },
                "example": [
                  {
                    "id": "815",
                    "titulo": "Matita",
                    "descripcion": "Aguas de frutas malteadas frappes licuados jugos",
                    "latitud": "20.661026",
                    "longitud": "-87.068868",
                    "visitas": "0",
                    "comentarios": "0",
                    "veces_usado": "0",
                    "me_gusta": "0",
                    "foto": "https://i.imgur.com/VeJGzeg.jpeg",
                    "fecha_creacion": "2025-11-03 14:53:21",
                    "id_partner": "31",
                    "tipo": "0",
                    "etiquetas": "Desayunos s\u00e1ndwich",
                    "codigo": "0",
                    "envio": "0",
                    "listaProductos": "0"
                  },
                  {
                    "id": "814",
                    "titulo": "Infonavit",
                    "descripcion": "Infonavit",
                    "latitud": "20.661079",
                    "longitud": "-87.068664",
                    "visitas": "0",
                    "comentarios": "0",
                    "veces_usado": "0",
                    "me_gusta": "0",
                    "foto": "https://i.imgur.com/fvHTf4S.jpeg",
                    "fecha_creacion": "2025-11-03 14:15:53",
                    "id_partner": "31",
                    "tipo": "0",
                    "etiquetas": "Casas",
                    "codigo": "0",
                    "envio": "0",
                    "listaProductos": "0"
                  },
                  {
                    "id": "813",
                    "titulo": "Departamentos en renta",
                    "descripcion": "Departamentos en renta 9841791654",
                    "latitud": "20.649233",
                    "longitud": "-87.098511",
                    "visitas": "0",
                    "comentarios": "0",
                    "veces_usado": "0",
                    "me_gusta": "0",
                    "foto": "https://i.imgur.com/iYudSgk.jpeg",
                    "fecha_creacion": "2025-11-02 23:34:51",
                    "id_partner": "31",
                    "tipo": "0",
                    "etiquetas": "Renta",
                    "codigo": "0",
                    "envio": "0",
                    "listaProductos": "0"
                  },
                  {
                    "id": "812",
                    "titulo": "",
                    "descripcion": "",
                    "latitud": "0.000000",
                    "longitud": "0.000000",
                    "visitas": "0",
                    "comentarios": "0",
                    "veces_usado": "0",
                    "me_gusta": "0",
                    "foto": "https://i.imgur.com/Nr5WJMX.png",
                    "fecha_creacion": "2025-11-02 23:34:30",
                    "id_partner": "31",
                    "tipo": "0",
                    "etiquetas": "",
                    "codigo": "0",
                    "envio": "0",
                    "listaProductos": "0"
                  },
                  {
                    "id": "811",
                    "titulo": "",
                    "descripcion": "",
                    "latitud": "0.000000",
                    "longitud": "0.000000",
                    "visitas": "0",
                    "comentarios": "0",
                    "veces_usado": "0",
                    "me_gusta": "0",
                    "foto": "https://i.imgur.com/Nr5WJMX.png",
                    "fecha_creacion": "2025-11-02 23:34:07",
                    "id_partner": "31",
                    "tipo": "0",
                    "etiquetas": "",
                    "codigo": "0",
                    "envio": "0",
                    "listaProductos": "0"
                  },
                  {
                    "id": "810",
                    "titulo": "Caf\u00e9",
                    "descripcion": "Cafe",
                    "latitud": "20.621612",
                    "longitud": "-87.077201",
                    "visitas": "0",
                    "comentarios": "0",
                    "veces_usado": "0",
                    "me_gusta": "0",
                    "foto": "https://i.imgur.com/Nr5WJMX.png",
                    "fecha_creacion": "2025-11-02 02:16:53",
                    "id_partner": "31",
                    "tipo": "0",
                    "etiquetas": "Cafe",
                    "codigo": "0",
                    "envio": "0",
                    "listaProductos": "0"
                  },
                  {
                    "id": "809",
                    "titulo": "Servicio de tours",
                    "descripcion": "Servicio de tours",
                    "latitud": "20.621488",
                    "longitud": "-87.077175",
                    "visitas": "0",
                    "comentarios": "0",
                    "veces_usado": "0",
                    "me_gusta": "0",
                    "foto": "https://i.imgur.com/6yVk5Su.jpeg",
                    "fecha_creacion": "2025-11-02 01:45:28",
                    "id_partner": "31",
                    "tipo": "0",
                    "etiquetas": "Tours,servicio",
                    "codigo": "0",
                    "envio": "0",
                    "listaProductos": "0"
                  },
                  {
                    "id": "808",
                    "titulo": "Miniso",
                    "descripcion": "Miniso",
                    "latitud": "20.621483",
                    "longitud": "-87.077244",
                    "visitas": "0",
                    "comentarios": "0",
                    "veces_usado": "0",
                    "me_gusta": "0",
                    "foto": "https://i.imgur.com/tGYWpOs.jpeg",
                    "fecha_creacion": "2025-11-02 01:44:25",
                    "id_partner": "31",
                    "tipo": "0",
                    "etiquetas": "Tienda",
                    "codigo": "0",
                    "envio": "0",
                    "listaProductos": "0"
                  },
                  {
                    "id": "807",
                    "titulo": "Haha Lavanderia",
                    "descripcion": "Lavanderia",
                    "latitud": "20.636246",
                    "longitud": "-87.079824",
                    "visitas": "0",
                    "comentarios": "0",
                    "veces_usado": "0",
                    "me_gusta": "0",
                    "foto": "https://i.imgur.com/PIoKSWR.jpeg",
                    "fecha_creacion": "2025-10-24 20:30:20",
                    "id_partner": "31",
                    "tipo": "0",
                    "etiquetas": "Lavanderia",
                    "codigo": "0",
                    "envio": "0",
                    "listaProductos": "0"
                  },
                  {
                    "id": "806",
                    "titulo": "Informaci\u00f3n tur\u00edstica",
                    "descripcion": "Informaci\u00f3n tur\u00edstica",
                    "latitud": "20.634946",
                    "longitud": "-87.077836",
                    "visitas": "0",
                    "comentarios": "0",
                    "veces_usado": "0",
                    "me_gusta": "0",
                    "foto": "https://i.imgur.com/Tdv72pb.jpeg",
                    "fecha_creacion": "2025-10-24 20:26:14",
                    "id_partner": "31",
                    "tipo": "0",
                    "etiquetas": "Informacion",
                    "codigo": "0",
                    "envio": "0",
                    "listaProductos": "0"
                  },
                  {
                    "id": "805",
                    "titulo": "Barneria",
                    "descripcion": "Barberia",
                    "latitud": "20.634104",
                    "longitud": "-87.076158",
                    "visitas": "0",
                    "comentarios": "0",
                    "veces_usado": "0",
                    "me_gusta": "0",
                    "foto": "https://i.imgur.com/Nr5WJMX.png",
                    "fecha_creacion": "2025-10-24 20:23:08",
                    "id_partner": "31",
                    "tipo": "0",
                    "etiquetas": "Barberia",
                    "codigo": "0",
                    "envio": "0",
                    "listaProductos": "0"
                  },
                  {
                    "id": "804",
                    "titulo": "Nativo",
                    "descripcion": "Nativo",
                    "latitud": "20.633621",
                    "longitud": "-87.074018",
                    "visitas": "0",
                    "comentarios": "0",
                    "veces_usado": "0",
                    "me_gusta": "0",
                    "foto": "https://i.imgur.com/dfLNcs6.jpeg",
                    "fecha_creacion": "2025-10-24 20:19:37",
                    "id_partner": "31",
                    "tipo": "0",
                    "etiquetas": "Nativo",
                    "codigo": "0",
                    "envio": "0",
                    "listaProductos": "0"
                  },
                  {
                    "id": "803",
                    "titulo": "Six",
                    "descripcion": "",
                    "latitud": "20.634404",
                    "longitud": "-87.074457",
                    "visitas": "0",
                    "comentarios": "0",
                    "veces_usado": "0",
                    "me_gusta": "0",
                    "foto": "https://i.imgur.com/i87ttei.jpeg",
                    "fecha_creacion": "2025-10-24 20:18:33",
                    "id_partner": "31",
                    "tipo": "0",
                    "etiquetas": "Six",
                    "codigo": "0",
                    "envio": "0",
                    "listaProductos": "0"
                  },
                  {
                    "id": "802",
                    "titulo": "Consultorio m\u00e9dico Santa Mar\u00eda",
                    "descripcion": "Consultorio medico",
                    "latitud": "20.634557",
                    "longitud": "-87.074632",
                    "visitas": "0",
                    "comentarios": "0",
                    "veces_usado": "0",
                    "me_gusta": "0",
                    "foto": "https://i.imgur.com/Nr5WJMX.png",
                    "fecha_creacion": "2025-10-24 20:17:21",
                    "id_partner": "31",
                    "tipo": "0",
                    "etiquetas": "Medico",
                    "codigo": "0",
                    "envio": "0",
                    "listaProductos": "0"
                  },
                  {
                    "id": "801",
                    "titulo": "Parque publico",
                    "descripcion": "Parque p\u00fablico",
                    "latitud": "20.634826",
                    "longitud": "-87.074513",
                    "visitas": "0",
                    "comentarios": "0",
                    "veces_usado": "0",
                    "me_gusta": "0",
                    "foto": "https://i.imgur.com/9GDp6lh.jpeg",
                    "fecha_creacion": "2025-10-24 20:16:44",
                    "id_partner": "31",
                    "tipo": "0",
                    "etiquetas": "Parque publico",
                    "codigo": "0",
                    "envio": "0",
                    "listaProductos": "0"
                  },
                  {
                    "id": "800",
                    "titulo": "Escuela primaria federal",
                    "descripcion": "Escuela primaria federal",
                    "latitud": "20.635405",
                    "longitud": "-87.074055",
                    "visitas": "0",
                    "comentarios": "0",
                    "veces_usado": "0",
                    "me_gusta": "0",
                    "foto": "https://i.imgur.com/Nr5WJMX.png",
                    "fecha_creacion": "2025-10-24 20:15:54",
                    "id_partner": "31",
                    "tipo": "0",
                    "etiquetas": "Escuela",
                    "codigo": "0",
                    "envio": "0",
                    "listaProductos": "0"
                  },
                  {
                    "id": "799",
                    "titulo": "Tiendas",
                    "descripcion": "Tiendqs",
                    "latitud": "20.635644",
                    "longitud": "-87.073885",
                    "visitas": "0",
                    "comentarios": "0",
                    "veces_usado": "0",
                    "me_gusta": "0",
                    "foto": "https://i.imgur.com/Nr5WJMX.png",
                    "fecha_creacion": "2025-10-24 20:15:29",
                    "id_partner": "31",
                    "tipo": "0",
                    "etiquetas": "Tiendas",
                    "codigo": "0",
                    "envio": "0",
                    "listaProductos": "0"
                  },
                  {
                    "id": "798",
                    "titulo": "Ciber",
                    "descripcion": "Ciber",
                    "latitud": "20.635617",
                    "longitud": "-87.073865",
                    "visitas": "0",
                    "comentarios": "0",
                    "veces_usado": "0",
                    "me_gusta": "0",
                    "foto": "https://i.imgur.com/Nr5WJMX.png",
                    "fecha_creacion": "2025-10-24 20:15:00",
                    "id_partner": "31",
                    "tipo": "0",
                    "etiquetas": "Internet",
                    "codigo": "0",
                    "envio": "0",
                    "listaProductos": "0"
                  },
                  {
                    "id": "797",
                    "titulo": "Modelorama",
                    "descripcion": "Modelorama",
                    "latitud": "20.636317",
                    "longitud": "-87.073241",
                    "visitas": "0",
                    "comentarios": "0",
                    "veces_usado": "0",
                    "me_gusta": "0",
                    "foto": "https://i.imgur.com/Nr5WJMX.png",
                    "fecha_creacion": "2025-10-24 20:13:47",
                    "id_partner": "31",
                    "tipo": "0",
                    "etiquetas": "Modelorama",
                    "codigo": "0",
                    "envio": "0",
                    "listaProductos": "0"
                  },
                  {
                    "id": "796",
                    "titulo": "Antojitos evy",
                    "descripcion": "Tienda de abarrotes",
                    "latitud": "20.637113",
                    "longitud": "-87.072761",
                    "visitas": "0",
                    "comentarios": "0",
                    "veces_usado": "0",
                    "me_gusta": "0",
                    "foto": "https://i.imgur.com/Nr5WJMX.png",
                    "fecha_creacion": "2025-10-24 20:13:29",
                    "id_partner": "31",
                    "tipo": "0",
                    "etiquetas": "Tienda",
                    "codigo": "0",
                    "envio": "0",
                    "listaProductos": "0"
                  },
                  {
                    "id": "795",
                    "titulo": "Tienda",
                    "descripcion": "Tienda",
                    "latitud": "20.637102",
                    "longitud": "-87.072717",
                    "visitas": "0",
                    "comentarios": "0",
                    "veces_usado": "0",
                    "me_gusta": "0",
                    "foto": "https://i.imgur.com/Nr5WJMX.png",
                    "fecha_creacion": "2025-10-24 20:12:09",
                    "id_partner": "31",
                    "tipo": "0",
                    "etiquetas": "Tienda",
                    "codigo": "0",
                    "envio": "0",
                    "listaProductos": "0"
                  },
                  {
                    "id": "794",
                    "titulo": "Pescader\u00eda oceano",
                    "descripcion": "Pescader\u00eda oceano",
                    "latitud": "20.637223",
                    "longitud": "-87.072672",
                    "visitas": "0",
                    "comentarios": "0",
                    "veces_usado": "0",
                    "me_gusta": "0",
                    "foto": "https://i.imgur.com/YD3N2nV.jpeg",
                    "fecha_creacion": "2025-10-24 20:11:52",
                    "id_partner": "31",
                    "tipo": "0",
                    "etiquetas": "Pescader\u00eda,mariscos",
                    "codigo": "0",
                    "envio": "0",
                    "listaProductos": "0"
                  },
                  {
                    "id": "793",
                    "titulo": "Arte",
                    "descripcion": "Arte urbano",
                    "latitud": "20.637253",
                    "longitud": "-87.072678",
                    "visitas": "0",
                    "comentarios": "0",
                    "veces_usado": "0",
                    "me_gusta": "0",
                    "foto": "https://i.imgur.com/7e6nX43.jpeg",
                    "fecha_creacion": "2025-10-24 20:11:03",
                    "id_partner": "31",
                    "tipo": "0",
                    "etiquetas": "Arte",
                    "codigo": "0",
                    "envio": "0",
                    "listaProductos": "0"
                  },
                  {
                    "id": "792",
                    "titulo": "Empanadas argentinas",
                    "descripcion": "Comida argentina 9841067671",
                    "latitud": "20.638120",
                    "longitud": "-87.073783",
                    "visitas": "0",
                    "comentarios": "0",
                    "veces_usado": "0",
                    "me_gusta": "0",
                    "foto": "https://i.imgur.com/oTQ70o6.jpeg",
                    "fecha_creacion": "2025-10-24 20:09:10",
                    "id_partner": "31",
                    "tipo": "0",
                    "etiquetas": "Comida,argentina",
                    "codigo": "0",
                    "envio": "0",
                    "listaProductos": "0"
                  },
                  {
                    "id": "791",
                    "titulo": "Sal\u00f3n de belleza",
                    "descripcion": "Sal\u00f3n de belleza",
                    "latitud": "20.638295",
                    "longitud": "-87.074057",
                    "visitas": "0",
                    "comentarios": "0",
                    "veces_usado": "0",
                    "me_gusta": "0",
                    "foto": "https://i.imgur.com/Nr5WJMX.png",
                    "fecha_creacion": "2025-10-24 20:07:35",
                    "id_partner": "31",
                    "tipo": "0",
                    "etiquetas": "Sal\u00f3n de belleza",
                    "codigo": "0",
                    "envio": "0",
                    "listaProductos": "0"
                  },
                  {
                    "id": "790",
                    "titulo": "Tienda de abarrotes",
                    "descripcion": "Tienda de abarrotes",
                    "latitud": "20.638283",
                    "longitud": "-87.073951",
                    "visitas": "0",
                    "comentarios": "0",
                    "veces_usado": "0",
                    "me_gusta": "0",
                    "foto": "https://i.imgur.com/Nr5WJMX.png",
                    "fecha_creacion": "2025-10-24 20:06:48",
                    "id_partner": "31",
                    "tipo": "0",
                    "etiquetas": "Tienda",
                    "codigo": "0",
                    "envio": "0",
                    "listaProductos": "0"
                  },
                  {
                    "id": "789",
                    "titulo": "Mini s\u00faper gema",
                    "descripcion": "Mini super",
                    "latitud": "20.638073",
                    "longitud": "-87.073727",
                    "visitas": "0",
                    "comentarios": "0",
                    "veces_usado": "0",
                    "me_gusta": "0",
                    "foto": "https://i.imgur.com/oBF2Klk.jpeg",
                    "fecha_creacion": "2025-10-24 20:06:25",
                    "id_partner": "31",
                    "tipo": "0",
                    "etiquetas": "",
                    "codigo": "0",
                    "envio": "0",
                    "listaProductos": "0"
                  },
                  {
                    "id": "788",
                    "titulo": "Frutiyougourt",
                    "descripcion": "Ensaladas jugos y tortas",
                    "latitud": "20.638014",
                    "longitud": "-87.073485",
                    "visitas": "0",
                    "comentarios": "0",
                    "veces_usado": "0",
                    "me_gusta": "0",
                    "foto": "https://i.imgur.com/1T9JyVJ.jpeg",
                    "fecha_creacion": "2025-10-24 20:05:31",
                    "id_partner": "31",
                    "tipo": "0",
                    "etiquetas": "Jugos,tortas",
                    "codigo": "0",
                    "envio": "0",
                    "listaProductos": "0"
                  },
                  {
                    "id": "787",
                    "titulo": "Lavanderia",
                    "descripcion": "Lavanderoa",
                    "latitud": "20.638272",
                    "longitud": "-87.073249",
                    "visitas": "0",
                    "comentarios": "0",
                    "veces_usado": "0",
                    "me_gusta": "0",
                    "foto": "https://i.imgur.com/Nr5WJMX.png",
                    "fecha_creacion": "2025-10-24 20:03:21",
                    "id_partner": "31",
                    "tipo": "0",
                    "etiquetas": "Lavanderia",
                    "codigo": "0",
                    "envio": "0",
                    "listaProductos": "0"
                  },
                  {
                    "id": "786",
                    "titulo": "S\u00faper aki",
                    "descripcion": "Tienda aupermercado",
                    "latitud": "20.642615",
                    "longitud": "-87.091268",
                    "visitas": "0",
                    "comentarios": "0",
                    "veces_usado": "0",
                    "me_gusta": "0",
                    "foto": "https://i.imgur.com/J0gMtGl.jpeg",
                    "fecha_creacion": "2025-10-14 00:09:32",
                    "id_partner": "31",
                    "tipo": "0",
                    "etiquetas": "Tienda,Mercado,local",
                    "codigo": "0",
                    "envio": "0",
                    "listaProductos": "0"
                  },
                  {
                    "id": "785",
                    "titulo": "Tere Cazola",
                    "descripcion": "Pasteler\u00eda postres pasteles y helados",
                    "latitud": "20.642701",
                    "longitud": "-87.091017",
                    "visitas": "0",
                    "comentarios": "0",
                    "veces_usado": "0",
                    "me_gusta": "0",
                    "foto": "https://i.imgur.com/jOmS2oQ.jpeg",
                    "fecha_creacion": "2025-10-14 00:07:05",
                    "id_partner": "31",
                    "tipo": "0",
                    "etiquetas": "Pasteles,helados,postres",
                    "codigo": "0",
                    "envio": "0",
                    "listaProductos": "0"
                  },
                  {
                    "id": "784",
                    "titulo": "Carniceria",
                    "descripcion": "Carnicer\u00eda",
                    "latitud": "20.636284",
                    "longitud": "-87.087181",
                    "visitas": "0",
                    "comentarios": "0",
                    "veces_usado": "0",
                    "me_gusta": "0",
                    "foto": "https://i.imgur.com/Nr5WJMX.png",
                    "fecha_creacion": "2025-10-13 19:02:49",
                    "id_partner": "31",
                    "tipo": "0",
                    "etiquetas": "Carnes",
                    "codigo": "0",
                    "envio": "0",
                    "listaProductos": "0"
                  },
                  {
                    "id": "783",
                    "titulo": "Lavanderia",
                    "descripcion": "Lavanderia",
                    "latitud": "20.637058",
                    "longitud": "-87.089331",
                    "visitas": "0",
                    "comentarios": "0",
                    "veces_usado": "0",
                    "me_gusta": "0",
                    "foto": "https://i.imgur.com/Nr5WJMX.png",
                    "fecha_creacion": "2025-10-09 23:00:32",
                    "id_partner": "31",
                    "tipo": "0",
                    "etiquetas": "Lavanderian",
                    "codigo": "0",
                    "envio": "0",
                    "listaProductos": "0"
                  },
                  {
                    "id": "782",
                    "titulo": "Paella",
                    "descripcion": "Venta de comida",
                    "latitud": "20.640402",
                    "longitud": "-87.088281",
                    "visitas": "0",
                    "comentarios": "0",
                    "veces_usado": "0",
                    "me_gusta": "0",
                    "foto": "https://i.imgur.com/WT17yy9.jpeg",
                    "fecha_creacion": "2025-10-09 22:54:25",
                    "id_partner": "31",
                    "tipo": "0",
                    "etiquetas": "Comida",
                    "codigo": "0",
                    "envio": "0",
                    "listaProductos": "0"
                  },
                  {
                    "id": "781",
                    "titulo": "Mas Masala",
                    "descripcion": "Comida india https://www.youtube.com/watch?v=Fw0wshHY8N8",
                    "latitud": "20.631149",
                    "longitud": "-87.071885",
                    "visitas": "0",
                    "comentarios": "0",
                    "veces_usado": "0",
                    "me_gusta": "1",
                    "foto": "https://i.imgur.com/XbHn55k.jpeg",
                    "fecha_creacion": "2025-10-11 00:00:00",
                    "id_partner": "673",
                    "tipo": "0",
                    "etiquetas": "Comida,india",
                    "codigo": "0",
                    "envio": "0",
                    "listaProductos": "0"
                  },
                  {
                    "id": "780",
                    "titulo": "XEW",
                    "descripcion": "Aqu\u00ed es donde muchos de los famosos de aquella \u00e9poca vieron a la luz sus primeras oportunidades ,  rumbo al \u00e9xito.",
                    "latitud": "19.430644",
                    "longitud": "-99.143723",
                    "visitas": "0",
                    "comentarios": "0",
                    "veces_usado": "0",
                    "me_gusta": "0",
                    "foto": "https://i.imgur.com/Nr5WJMX.png",
                    "fecha_creacion": "2025-10-04 20:14:39",
                    "id_partner": "0",
                    "tipo": "0",
                    "etiquetas": "XEW",
                    "codigo": "0",
                    "envio": "0",
                    "listaProductos": "0"
                  },
                  {
                    "id": "779",
                    "titulo": "Vanity",
                    "descripcion": "Sal\u00f3n de spa",
                    "latitud": "20.621775",
                    "longitud": "-87.076595",
                    "visitas": "0",
                    "comentarios": "0",
                    "veces_usado": "0",
                    "me_gusta": "0",
                    "foto": "https://i.imgur.com/Nr5WJMX.png",
                    "fecha_creacion": "2025-10-03 16:52:24",
                    "id_partner": "31",
                    "tipo": "0",
                    "etiquetas": "Spa",
                    "codigo": "0",
                    "envio": "0",
                    "listaProductos": "0"
                  },
                  {
                    "id": "778",
                    "titulo": "Plaza para caminar y conocer",
                    "descripcion": "Plaza para caminar y conocer",
                    "latitud": "20.621761",
                    "longitud": "-87.076656",
                    "visitas": "0",
                    "comentarios": "0",
                    "veces_usado": "0",
                    "me_gusta": "0",
                    "foto": "https://i.imgur.com/Nr5WJMX.png",
                    "fecha_creacion": "2025-10-03 16:43:49",
                    "id_partner": "31",
                    "tipo": "0",
                    "etiquetas": "Para caminar y conocer",
                    "codigo": "0",
                    "envio": "0",
                    "listaProductos": "0"
                  },
                  {
                    "id": "777",
                    "titulo": "Tienda de tenia",
                    "descripcion": "Tienda de tenia",
                    "latitud": "20.621765",
                    "longitud": "-87.076648",
                    "visitas": "0",
                    "comentarios": "0",
                    "veces_usado": "0",
                    "me_gusta": "0",
                    "foto": "https://i.imgur.com/xTHmFK8.jpeg",
                    "fecha_creacion": "2025-10-03 16:42:00",
                    "id_partner": "31",
                    "tipo": "0",
                    "etiquetas": "Tenia",
                    "codigo": "0",
                    "envio": "0",
                    "listaProductos": "0"
                  },
                  {
                    "id": "776",
                    "titulo": "Starbucks",
                    "descripcion": "Cafe",
                    "latitud": "20.621766",
                    "longitud": "-87.076647",
                    "visitas": "0",
                    "comentarios": "0",
                    "veces_usado": "0",
                    "me_gusta": "0",
                    "foto": "https://i.imgur.com/EHB9m5V.jpeg",
                    "fecha_creacion": "2025-10-03 16:41:21",
                    "id_partner": "31",
                    "tipo": "0",
                    "etiquetas": "Cafe",
                    "codigo": "0",
                    "envio": "0",
                    "listaProductos": "0"
                  },
                  {
                    "id": "775",
                    "titulo": "Oysho",
                    "descripcion": "Tienda de ropa",
                    "latitud": "20.621784",
                    "longitud": "-87.076621",
                    "visitas": "0",
                    "comentarios": "0",
                    "veces_usado": "0",
                    "me_gusta": "0",
                    "foto": "https://i.imgur.com/cy3snY8.jpeg",
                    "fecha_creacion": "2025-10-03 16:40:31",
                    "id_partner": "31",
                    "tipo": "0",
                    "etiquetas": "Tienda",
                    "codigo": "0",
                    "envio": "0",
                    "listaProductos": "0"
                  },
                  {
                    "id": "774",
                    "titulo": "Bershka",
                    "descripcion": "Tienda de ropa",
                    "latitud": "20.621897",
                    "longitud": "-87.076546",
                    "visitas": "0",
                    "comentarios": "0",
                    "veces_usado": "0",
                    "me_gusta": "0",
                    "foto": "https://i.imgur.com/ayJ1YtN.jpeg",
                    "fecha_creacion": "2025-10-03 16:37:15",
                    "id_partner": "126",
                    "tipo": "0",
                    "etiquetas": "Ropa,tienda",
                    "codigo": "0",
                    "envio": "0",
                    "listaProductos": "0"
                  },
                  {
                    "id": "773",
                    "titulo": "M\u00e9xico loco",
                    "descripcion": "Restaurante",
                    "latitud": "20.622437",
                    "longitud": "-87.074999",
                    "visitas": "0",
                    "comentarios": "0",
                    "veces_usado": "0",
                    "me_gusta": "0",
                    "foto": "https://i.imgur.com/RP8MlGA.jpeg",
                    "fecha_creacion": "2025-10-03 16:32:49",
                    "id_partner": "126",
                    "tipo": "0",
                    "etiquetas": "",
                    "codigo": "0",
                    "envio": "0",
                    "listaProductos": "0"
                  },
                  {
                    "id": "772",
                    "titulo": "Voladores de Papantla",
                    "descripcion": "Voladores de Papantla",
                    "latitud": "20.621796",
                    "longitud": "-87.074843",
                    "visitas": "0",
                    "comentarios": "0",
                    "veces_usado": "0",
                    "me_gusta": "0",
                    "foto": "https://i.imgur.com/Nr5WJMX.png",
                    "fecha_creacion": "2025-10-03 16:29:39",
                    "id_partner": "31",
                    "tipo": "0",
                    "etiquetas": "Voladores,Papantla",
                    "codigo": "0",
                    "envio": "0",
                    "listaProductos": "0"
                  },
                  {
                    "id": "771",
                    "titulo": "Playa",
                    "descripcion": "Playa",
                    "latitud": "20.624828",
                    "longitud": "-87.072279",
                    "visitas": "0",
                    "comentarios": "0",
                    "veces_usado": "0",
                    "me_gusta": "0",
                    "foto": "https://i.imgur.com/tAoSs6g.jpeg",
                    "fecha_creacion": "2025-10-03 16:09:31",
                    "id_partner": "31",
                    "tipo": "0",
                    "etiquetas": "Playa",
                    "codigo": "0",
                    "envio": "0",
                    "listaProductos": "0"
                  },
                  {
                    "id": "770",
                    "titulo": "Camastros",
                    "descripcion": "Camastros",
                    "latitud": "20.624875",
                    "longitud": "-87.072160",
                    "visitas": "0",
                    "comentarios": "0",
                    "veces_usado": "0",
                    "me_gusta": "0",
                    "foto": "https://i.imgur.com/Nr5WJMX.png",
                    "fecha_creacion": "2025-10-03 15:53:50",
                    "id_partner": "31",
                    "tipo": "0",
                    "etiquetas": "",
                    "codigo": "0",
                    "envio": "0",
                    "listaProductos": "0"
                  },
                  {
                    "id": "769",
                    "titulo": "Pel\u00edcano in",
                    "descripcion": "Camastro wifi ba\u00f1o regadera Camastro wifi ba\u00f1o regadera",
                    "latitud": "20.624942",
                    "longitud": "-87.072118",
                    "visitas": "0",
                    "comentarios": "0",
                    "veces_usado": "0",
                    "me_gusta": "0",
                    "foto": "https://i.imgur.com/r6uPpyo.jpeg",
                    "fecha_creacion": "2025-10-03 15:53:14",
                    "id_partner": "31",
                    "tipo": "0",
                    "etiquetas": "Playa hotel",
                    "codigo": "0",
                    "envio": "0",
                    "listaProductos": "0"
                  },
                  {
                    "id": "768",
                    "titulo": "Super farmacia Chek",
                    "descripcion": "S\u00faper m\u00e1s farmacia Check \r\nVarios art\u00edculos de playa, medicamentos y snacks",
                    "latitud": "20.626641",
                    "longitud": "-87.073703",
                    "visitas": "0",
                    "comentarios": "0",
                    "veces_usado": "0",
                    "me_gusta": "0",
                    "foto": "https://i.imgur.com/WFSCcvf.jpeg",
                    "fecha_creacion": "2025-10-03 15:46:35",
                    "id_partner": "126",
                    "tipo": "0",
                    "etiquetas": "",
                    "codigo": "0",
                    "envio": "0",
                    "listaProductos": "0"
                  },
                  {
                    "id": "767",
                    "titulo": "Servicio de taxis",
                    "descripcion": "Servicio de taxi",
                    "latitud": "20.626480",
                    "longitud": "-87.073673",
                    "visitas": "0",
                    "comentarios": "0",
                    "veces_usado": "0",
                    "me_gusta": "0",
                    "foto": "https://i.imgur.com/Nr5WJMX.png",
                    "fecha_creacion": "2025-10-03 15:46:31",
                    "id_partner": "31",
                    "tipo": "0",
                    "etiquetas": "Servicio de taxi",
                    "codigo": "0",
                    "envio": "0",
                    "listaProductos": "0"
                  },
                  {
                    "id": "766",
                    "titulo": "Yummi Lawa",
                    "descripcion": "Restaurante",
                    "latitud": "20.626445",
                    "longitud": "-87.073671",
                    "visitas": "0",
                    "comentarios": "0",
                    "veces_usado": "0",
                    "me_gusta": "0",
                    "foto": "https://i.imgur.com/PcowwXX.jpeg",
                    "fecha_creacion": "2025-10-03 15:42:11",
                    "id_partner": "31",
                    "tipo": "0",
                    "etiquetas": "Restaurante",
                    "codigo": "0",
                    "envio": "0",
                    "listaProductos": "0"
                  },
                  {
                    "id": "765",
                    "titulo": "Hotel",
                    "descripcion": "Hotel",
                    "latitud": "20.626483",
                    "longitud": "-87.073726",
                    "visitas": "0",
                    "comentarios": "0",
                    "veces_usado": "0",
                    "me_gusta": "0",
                    "foto": "https://i.imgur.com/kGBr5U8.jpeg",
                    "fecha_creacion": "2025-10-03 15:41:04",
                    "id_partner": "31",
                    "tipo": "0",
                    "etiquetas": "Hotel",
                    "codigo": "0",
                    "envio": "0",
                    "listaProductos": "0"
                  },
                  {
                    "id": "764",
                    "titulo": "Choripan",
                    "descripcion": "Choripan",
                    "latitud": "20.626456",
                    "longitud": "-87.073767",
                    "visitas": "0",
                    "comentarios": "0",
                    "veces_usado": "0",
                    "me_gusta": "0",
                    "foto": "https://i.imgur.com/BJtnp97.jpeg",
                    "fecha_creacion": "2025-10-03 15:40:07",
                    "id_partner": "31",
                    "tipo": "0",
                    "etiquetas": "Choripan",
                    "codigo": "0",
                    "envio": "0",
                    "listaProductos": "0"
                  },
                  {
                    "id": "763",
                    "titulo": "Don mario restaurante italiano",
                    "descripcion": "Don Mario restaurante italiano",
                    "latitud": "20.626477",
                    "longitud": "-87.073735",
                    "visitas": "0",
                    "comentarios": "0",
                    "veces_usado": "0",
                    "me_gusta": "0",
                    "foto": "https://i.imgur.com/JauFKlQ.jpeg",
                    "fecha_creacion": "2025-10-03 15:39:20",
                    "id_partner": "31",
                    "tipo": "0",
                    "etiquetas": "Restaurante",
                    "codigo": "0",
                    "envio": "0",
                    "listaProductos": "0"
                  },
                  {
                    "id": "762",
                    "titulo": "Servicio de tours",
                    "descripcion": "Servicios de tours",
                    "latitud": "20.629301",
                    "longitud": "-87.076340",
                    "visitas": "0",
                    "comentarios": "0",
                    "veces_usado": "0",
                    "me_gusta": "0",
                    "foto": "https://i.imgur.com/mleu98H.jpeg",
                    "fecha_creacion": "2025-10-03 15:27:28",
                    "id_partner": "31",
                    "tipo": "0",
                    "etiquetas": "Tours servicio",
                    "codigo": "0",
                    "envio": "0",
                    "listaProductos": "0"
                  },
                  {
                    "id": "761",
                    "titulo": "Reparaci\u00f3n de calzado",
                    "descripcion": "Se costuran zapatos",
                    "latitud": "20.637330",
                    "longitud": "-87.087710",
                    "visitas": "0",
                    "comentarios": "0",
                    "veces_usado": "0",
                    "me_gusta": "0",
                    "foto": "https://i.imgur.com/EQ9T5hS.jpeg",
                    "fecha_creacion": "2025-10-03 14:42:30",
                    "id_partner": "235",
                    "tipo": "0",
                    "etiquetas": "",
                    "codigo": "0",
                    "envio": "0",
                    "listaProductos": "0"
                  },
                  {
                    "id": "760",
                    "titulo": "Lavander\u00eda Amarilla",
                    "descripcion": "Mi\u00e9rcoles a Lunes \r\n8:AM-9:00PM",
                    "latitud": "20.637236",
                    "longitud": "-87.087686",
                    "visitas": "0",
                    "comentarios": "0",
                    "veces_usado": "0",
                    "me_gusta": "0",
                    "foto": "https://i.imgur.com/Nr5WJMX.png",
                    "fecha_creacion": "2025-10-03 14:40:49",
                    "id_partner": "235",
                    "tipo": "0",
                    "etiquetas": "Lavander\u00eda",
                    "codigo": "0",
                    "envio": "0",
                    "listaProductos": "0"
                  },
                  {
                    "id": "759",
                    "titulo": "Chedrawi",
                    "descripcion": "Chedrawi",
                    "latitud": "20.625275",
                    "longitud": "-87.084477",
                    "visitas": "0",
                    "comentarios": "0",
                    "veces_usado": "0",
                    "me_gusta": "0",
                    "foto": "https://i.imgur.com/okKrk0y.jpeg",
                    "fecha_creacion": "2025-10-03 01:05:06",
                    "id_partner": "31",
                    "tipo": "0",
                    "etiquetas": "Chedrawi,tienda",
                    "codigo": "0",
                    "envio": "0",
                    "listaProductos": "0"
                  },
                  {
                    "id": "758",
                    "titulo": "Autobuses tur\u00edsticos",
                    "descripcion": "Servicio de transporte",
                    "latitud": "20.627969",
                    "longitud": "-87.084212",
                    "visitas": "0",
                    "comentarios": "0",
                    "veces_usado": "0",
                    "me_gusta": "0",
                    "foto": "https://i.imgur.com/EyaWgfw.jpeg",
                    "fecha_creacion": "2025-10-03 00:49:48",
                    "id_partner": "31",
                    "tipo": "0",
                    "etiquetas": "Autobus,transporte",
                    "codigo": "0",
                    "envio": "0",
                    "listaProductos": "0"
                  },
                  {
                    "id": "757",
                    "titulo": "Recicla aqu\u00ed",
                    "descripcion": "Recicla aqu\u00ed",
                    "latitud": "20.627954",
                    "longitud": "-87.084312",
                    "visitas": "0",
                    "comentarios": "0",
                    "veces_usado": "0",
                    "me_gusta": "0",
                    "foto": "https://i.imgur.com/ECq0irI.jpeg",
                    "fecha_creacion": "2025-10-03 00:49:01",
                    "id_partner": "31",
                    "tipo": "0",
                    "etiquetas": "Reciclaje",
                    "codigo": "0",
                    "envio": "0",
                    "listaProductos": "0"
                  },
                  {
                    "id": "756",
                    "titulo": "Tienda de productos de importaci\u00f3n",
                    "descripcion": "Tienda de importaci\u00f3n",
                    "latitud": "20.628367",
                    "longitud": "-87.084596",
                    "visitas": "0",
                    "comentarios": "0",
                    "veces_usado": "0",
                    "me_gusta": "0",
                    "foto": "https://i.imgur.com/Ph9VkH3.jpeg",
                    "fecha_creacion": "2025-10-03 00:45:17",
                    "id_partner": "31",
                    "tipo": "0",
                    "etiquetas": "Productos,tienda",
                    "codigo": "0",
                    "envio": "0",
                    "listaProductos": "0"
                  },
                  {
                    "id": "755",
                    "titulo": "Tamales y consom\u00e9 de noche",
                    "descripcion": "Tamalera y consom\u00e9 de noche tamales de 35 y consom\u00e9s de 70",
                    "latitud": "20.628423",
                    "longitud": "-87.084970",
                    "visitas": "0",
                    "comentarios": "0",
                    "veces_usado": "0",
                    "me_gusta": "0",
                    "foto": "https://i.imgur.com/3GrgrnA.jpeg",
                    "fecha_creacion": "2025-10-03 00:44:15",
                    "id_partner": "31",
                    "tipo": "0",
                    "etiquetas": "Tamales y consome",
                    "codigo": "0",
                    "envio": "0",
                    "listaProductos": "0"
                  },
                  {
                    "id": "754",
                    "titulo": "Panaderia",
                    "descripcion": "Panaderia",
                    "latitud": "20.630015",
                    "longitud": "-87.087630",
                    "visitas": "0",
                    "comentarios": "0",
                    "veces_usado": "0",
                    "me_gusta": "0",
                    "foto": "https://i.imgur.com/TQKqchj.jpeg",
                    "fecha_creacion": "2025-10-03 00:42:58",
                    "id_partner": "31",
                    "tipo": "0",
                    "etiquetas": "Panaderia",
                    "codigo": "0",
                    "envio": "0",
                    "listaProductos": "0"
                  },
                  {
                    "id": "753",
                    "titulo": "Parada se autob\u00fas",
                    "descripcion": "Parada se autobus",
                    "latitud": "20.629868",
                    "longitud": "-87.087364",
                    "visitas": "0",
                    "comentarios": "0",
                    "veces_usado": "0",
                    "me_gusta": "0",
                    "foto": "https://i.imgur.com/CQ40y4s.jpeg",
                    "fecha_creacion": "2025-10-03 00:37:40",
                    "id_partner": "31",
                    "tipo": "0",
                    "etiquetas": "Autobus,transporte",
                    "codigo": "0",
                    "envio": "0",
                    "listaProductos": "0"
                  },
                  {
                    "id": "752",
                    "titulo": "Papeleria",
                    "descripcion": "Papeler\u00eda copy se aceptan vales de despensa",
                    "latitud": "20.631100",
                    "longitud": "-87.089502",
                    "visitas": "0",
                    "comentarios": "0",
                    "veces_usado": "0",
                    "me_gusta": "0",
                    "foto": "https://i.imgur.com/7uywrq1.jpeg",
                    "fecha_creacion": "2025-10-03 00:34:44",
                    "id_partner": "31",
                    "tipo": "0",
                    "etiquetas": "Papeleria",
                    "codigo": "0",
                    "envio": "0",
                    "listaProductos": "0"
                  },
                  {
                    "id": "751",
                    "titulo": "Se arregla ropa y calzado",
                    "descripcion": "Se arregla ropa y calzado 9844683866 solo whatsapp",
                    "latitud": "20.631046",
                    "longitud": "-87.089401",
                    "visitas": "0",
                    "comentarios": "0",
                    "veces_usado": "0",
                    "me_gusta": "0",
                    "foto": "https://i.imgur.com/7ic4yVD.jpeg",
                    "fecha_creacion": "2025-10-03 00:32:48",
                    "id_partner": "31",
                    "tipo": "0",
                    "etiquetas": "Zapatos,ropa",
                    "codigo": "0",
                    "envio": "0",
                    "listaProductos": "0"
                  },
                  {
                    "id": "750",
                    "titulo": "Parada de transporte",
                    "descripcion": "Para de autob\u00fas y transporte p\u00fablico",
                    "latitud": "20.631760",
                    "longitud": "-87.090328",
                    "visitas": "0",
                    "comentarios": "0",
                    "veces_usado": "0",
                    "me_gusta": "0",
                    "foto": "https://i.imgur.com/JUoJynN.jpeg",
                    "fecha_creacion": "2025-10-03 00:31:16",
                    "id_partner": "31",
                    "tipo": "0",
                    "etiquetas": "Transporte,autobus",
                    "codigo": "0",
                    "envio": "0",
                    "listaProductos": "0"
                  },
                  {
                    "id": "749",
                    "titulo": "Venta de cerveza",
                    "descripcion": "Venta de cerveza, expendio de cerveza",
                    "latitud": "20.631852",
                    "longitud": "-87.090402",
                    "visitas": "0",
                    "comentarios": "0",
                    "veces_usado": "0",
                    "me_gusta": "0",
                    "foto": "https://i.imgur.com/NJ9MhB0.jpeg",
                    "fecha_creacion": "2025-10-03 00:28:06",
                    "id_partner": "31",
                    "tipo": "0",
                    "etiquetas": "Cerveza",
                    "codigo": "0",
                    "envio": "0",
                    "listaProductos": "0"
                  },
                  {
                    "id": "748",
                    "titulo": "Tienda de abarrotes",
                    "descripcion": "Tienda de abarrotes",
                    "latitud": "20.635584",
                    "longitud": "-87.087637",
                    "visitas": "0",
                    "comentarios": "0",
                    "veces_usado": "0",
                    "me_gusta": "0",
                    "foto": "https://i.imgur.com/veXO1AL.jpeg",
                    "fecha_creacion": "2025-09-27 02:03:31",
                    "id_partner": "31",
                    "tipo": "0",
                    "etiquetas": "Tienda de abarrotes",
                    "codigo": "0",
                    "envio": "0",
                    "listaProductos": "0"
                  },
                  {
                    "id": "747",
                    "titulo": "Papeleria",
                    "descripcion": "Papeleria",
                    "latitud": "20.635294",
                    "longitud": "-87.087703",
                    "visitas": "0",
                    "comentarios": "0",
                    "veces_usado": "0",
                    "me_gusta": "0",
                    "foto": "https://i.imgur.com/2gSKhKl.jpeg",
                    "fecha_creacion": "2025-09-27 02:02:49",
                    "id_partner": "31",
                    "tipo": "0",
                    "etiquetas": "Papeler\u00eda",
                    "codigo": "0",
                    "envio": "0",
                    "listaProductos": "0"
                  },
                  {
                    "id": "746",
                    "titulo": "Lavanderia",
                    "descripcion": "Lavanderia",
                    "latitud": "20.635244",
                    "longitud": "-87.087886",
                    "visitas": "0",
                    "comentarios": "0",
                    "veces_usado": "0",
                    "me_gusta": "0",
                    "foto": "https://i.imgur.com/Nnhx96p.jpeg",
                    "fecha_creacion": "2025-09-27 02:02:03",
                    "id_partner": "31",
                    "tipo": "0",
                    "etiquetas": "Lavanderia",
                    "codigo": "0",
                    "envio": "0",
                    "listaProductos": "0"
                  },
                  {
                    "id": "745",
                    "titulo": "Tecate",
                    "descripcion": "Venta de cerveza",
                    "latitud": "20.634381",
                    "longitud": "-87.088478",
                    "visitas": "0",
                    "comentarios": "0",
                    "veces_usado": "0",
                    "me_gusta": "0",
                    "foto": "https://i.imgur.com/o24QoNq.jpeg",
                    "fecha_creacion": "2025-09-27 01:59:04",
                    "id_partner": "31",
                    "tipo": "0",
                    "etiquetas": "Cerveza",
                    "codigo": "0",
                    "envio": "0",
                    "listaProductos": "0"
                  },
                  {
                    "id": "744",
                    "titulo": "Lavanderia",
                    "descripcion": "Lavanderia",
                    "latitud": "20.633835",
                    "longitud": "-87.087353",
                    "visitas": "0",
                    "comentarios": "0",
                    "veces_usado": "0",
                    "me_gusta": "0",
                    "foto": "https://i.imgur.com/Nr5WJMX.png",
                    "fecha_creacion": "2025-09-27 01:56:34",
                    "id_partner": "31",
                    "tipo": "0",
                    "etiquetas": "Lavanderia",
                    "codigo": "0",
                    "envio": "0",
                    "listaProductos": "0"
                  },
                  {
                    "id": "743",
                    "titulo": "Modelorama",
                    "descripcion": "Venta se cerveza",
                    "latitud": "20.633781",
                    "longitud": "-87.087185",
                    "visitas": "0",
                    "comentarios": "0",
                    "veces_usado": "0",
                    "me_gusta": "0",
                    "foto": "https://i.imgur.com/r52kLN2.jpeg",
                    "fecha_creacion": "2025-09-27 01:56:12",
                    "id_partner": "31",
                    "tipo": "0",
                    "etiquetas": "Cerveza",
                    "codigo": "0",
                    "envio": "0",
                    "listaProductos": "0"
                  },
                  {
                    "id": "742",
                    "titulo": "Barberia",
                    "descripcion": "Cortes de cabello",
                    "latitud": "20.633792",
                    "longitud": "-87.086945",
                    "visitas": "0",
                    "comentarios": "0",
                    "veces_usado": "0",
                    "me_gusta": "0",
                    "foto": "https://i.imgur.com/JTU5EJP.jpeg",
                    "fecha_creacion": "2025-09-27 01:55:17",
                    "id_partner": "31",
                    "tipo": "0",
                    "etiquetas": "Barberia",
                    "codigo": "0",
                    "envio": "0",
                    "listaProductos": "0"
                  },
                  {
                    "id": "741",
                    "titulo": "Venta nocturna de comida",
                    "descripcion": "Venta de comida",
                    "latitud": "20.634195",
                    "longitud": "-87.086455",
                    "visitas": "0",
                    "comentarios": "0",
                    "veces_usado": "0",
                    "me_gusta": "0",
                    "foto": "https://i.imgur.com/5iWVyul.jpeg",
                    "fecha_creacion": "2025-09-27 01:53:49",
                    "id_partner": "31",
                    "tipo": "0",
                    "etiquetas": "Comida",
                    "codigo": "0",
                    "envio": "0",
                    "listaProductos": "0"
                  },
                  {
                    "id": "740",
                    "titulo": "Farmacia YZA",
                    "descripcion": "Venta de farmacia",
                    "latitud": "20.634390",
                    "longitud": "-87.086195",
                    "visitas": "0",
                    "comentarios": "0",
                    "veces_usado": "0",
                    "me_gusta": "0",
                    "foto": "https://i.imgur.com/PvcM1Ku.jpeg",
                    "fecha_creacion": "2025-09-27 01:50:04",
                    "id_partner": "31",
                    "tipo": "0",
                    "etiquetas": "Medicamentos",
                    "codigo": "0",
                    "envio": "0",
                    "listaProductos": "0"
                  },
                  {
                    "id": "739",
                    "titulo": "Six",
                    "descripcion": "Venta de cerveza",
                    "latitud": "20.634418",
                    "longitud": "-87.086213",
                    "visitas": "0",
                    "comentarios": "0",
                    "veces_usado": "0",
                    "me_gusta": "0",
                    "foto": "https://i.imgur.com/Rc5GAn1.jpeg",
                    "fecha_creacion": "2025-09-27 01:48:31",
                    "id_partner": "31",
                    "tipo": "0",
                    "etiquetas": "Cerveza,abarrotes",
                    "codigo": "0",
                    "envio": "0",
                    "listaProductos": "0"
                  },
                  {
                    "id": "738",
                    "titulo": "Gasolinera Pemex",
                    "descripcion": "Gasolinera Pemex",
                    "latitud": "20.627171",
                    "longitud": "-87.082626",
                    "visitas": "0",
                    "comentarios": "0",
                    "veces_usado": "0",
                    "me_gusta": "0",
                    "foto": "https://i.imgur.com/WbFA8ow.jpeg",
                    "fecha_creacion": "2025-09-25 01:10:49",
                    "id_partner": "31",
                    "tipo": "0",
                    "etiquetas": "Gasolinera",
                    "codigo": "0",
                    "envio": "0",
                    "listaProductos": "0"
                  },
                  {
                    "id": "737",
                    "titulo": "Helados de macdonals",
                    "descripcion": "Venta de helados",
                    "latitud": "20.625819",
                    "longitud": "-87.079361",
                    "visitas": "0",
                    "comentarios": "0",
                    "veces_usado": "0",
                    "me_gusta": "0",
                    "foto": "https://i.imgur.com/Nr5WJMX.png",
                    "fecha_creacion": "2025-09-25 01:10:41",
                    "id_partner": "31",
                    "tipo": "0",
                    "etiquetas": "Helados",
                    "codigo": "0",
                    "envio": "0",
                    "listaProductos": "0"
                  },
                  {
                    "id": "736",
                    "titulo": "Oxxo",
                    "descripcion": "Tienda de preferencia",
                    "latitud": "20.627137",
                    "longitud": "-87.082596",
                    "visitas": "0",
                    "comentarios": "0",
                    "veces_usado": "0",
                    "me_gusta": "0",
                    "foto": "https://i.imgur.com/duSlCwT.jpeg",
                    "fecha_creacion": "2025-09-25 01:09:57",
                    "id_partner": "31",
                    "tipo": "0",
                    "etiquetas": "Tienda",
                    "codigo": "0",
                    "envio": "0",
                    "listaProductos": "0"
                  },
                  {
                    "id": "735",
                    "titulo": "Inbursa",
                    "descripcion": "Cajero automatico",
                    "latitud": "20.626866",
                    "longitud": "-87.082232",
                    "visitas": "0",
                    "comentarios": "0",
                    "veces_usado": "0",
                    "me_gusta": "0",
                    "foto": "https://i.imgur.com/N0xCYXn.jpeg",
                    "fecha_creacion": "2025-09-25 01:08:17",
                    "id_partner": "31",
                    "tipo": "0",
                    "etiquetas": "Banco,cajero",
                    "codigo": "0",
                    "envio": "0",
                    "listaProductos": "0"
                  },
                  {
                    "id": "734",
                    "titulo": "Tortas y tacos de pastor",
                    "descripcion": "Tacos y tortas de pastor",
                    "latitud": "20.626450",
                    "longitud": "-87.081681",
                    "visitas": "0",
                    "comentarios": "0",
                    "veces_usado": "0",
                    "me_gusta": "0",
                    "foto": "https://i.imgur.com/EknV9sS.jpeg",
                    "fecha_creacion": "2025-09-25 01:07:42",
                    "id_partner": "31",
                    "tipo": "0",
                    "etiquetas": "Tacos,tortas",
                    "codigo": "0",
                    "envio": "0",
                    "listaProductos": "0"
                  },
                  {
                    "id": "733",
                    "titulo": "Copy playa",
                    "descripcion": "Servicio de papeler\u00eda",
                    "latitud": "20.626475",
                    "longitud": "-87.081723",
                    "visitas": "0",
                    "comentarios": "0",
                    "veces_usado": "0",
                    "me_gusta": "0",
                    "foto": "https://i.imgur.com/usRqAgJ.jpeg",
                    "fecha_creacion": "2025-09-25 01:06:48",
                    "id_partner": "31",
                    "tipo": "0",
                    "etiquetas": "Papeleria",
                    "codigo": "0",
                    "envio": "0",
                    "listaProductos": "0"
                  },
                  {
                    "id": "732",
                    "titulo": "Tienda china",
                    "descripcion": "Bisuter\u00eda, y varios art\u00edculos",
                    "latitud": "20.626679",
                    "longitud": "-87.081925",
                    "visitas": "0",
                    "comentarios": "0",
                    "veces_usado": "0",
                    "me_gusta": "0",
                    "foto": "https://i.imgur.com/tU3WORF.jpeg",
                    "fecha_creacion": "2025-09-25 01:06:43",
                    "id_partner": "896",
                    "tipo": "0",
                    "etiquetas": "Productos chinos",
                    "codigo": "0",
                    "envio": "0",
                    "listaProductos": "0"
                  },
                  {
                    "id": "731",
                    "titulo": "Tacos y tortas",
                    "descripcion": "Venta de tacos y tortas",
                    "latitud": "20.626167",
                    "longitud": "-87.081204",
                    "visitas": "0",
                    "comentarios": "0",
                    "veces_usado": "0",
                    "me_gusta": "0",
                    "foto": "https://i.imgur.com/dFY1yJP.jpeg",
                    "fecha_creacion": "2025-09-25 01:05:38",
                    "id_partner": "31",
                    "tipo": "0",
                    "etiquetas": "Tacos",
                    "codigo": "0",
                    "envio": "0",
                    "listaProductos": "0"
                  },
                  {
                    "id": "730",
                    "titulo": "Venta de volobanes",
                    "descripcion": "Venta de volobanes",
                    "latitud": "20.626117",
                    "longitud": "-87.081115",
                    "visitas": "0",
                    "comentarios": "0",
                    "veces_usado": "0",
                    "me_gusta": "0",
                    "foto": "https://i.imgur.com/syk2p87.jpeg",
                    "fecha_creacion": "2025-09-25 01:04:24",
                    "id_partner": "31",
                    "tipo": "0",
                    "etiquetas": "Vomida",
                    "codigo": "0",
                    "envio": "0",
                    "listaProductos": "0"
                  },
                  {
                    "id": "729",
                    "titulo": "Paradero Juarez",
                    "descripcion": "Transporte p\u00fablico ruta Ju\u00e1rez",
                    "latitud": "20.626233",
                    "longitud": "-87.081088",
                    "visitas": "0",
                    "comentarios": "0",
                    "veces_usado": "0",
                    "me_gusta": "0",
                    "foto": "https://i.imgur.com/oQxDGds.jpeg",
                    "fecha_creacion": "2025-09-25 01:03:30",
                    "id_partner": "896",
                    "tipo": "0",
                    "etiquetas": "",
                    "codigo": "0",
                    "envio": "0",
                    "listaProductos": "0"
                  },
                  {
                    "id": "728",
                    "titulo": "Remates pro y playa",
                    "descripcion": "Venta de oro y plata",
                    "latitud": "20.626119",
                    "longitud": "-87.081103",
                    "visitas": "0",
                    "comentarios": "0",
                    "veces_usado": "0",
                    "me_gusta": "0",
                    "foto": "https://i.imgur.com/z4VGDP4.jpeg",
                    "fecha_creacion": "2025-09-25 01:03:28",
                    "id_partner": "31",
                    "tipo": "0",
                    "etiquetas": "Oro,playa",
                    "codigo": "0",
                    "envio": "0",
                    "listaProductos": "0"
                  },
                  {
                    "id": "727",
                    "titulo": "Go pechugas",
                    "descripcion": "Pollo frito",
                    "latitud": "20.625468",
                    "longitud": "-87.079981",
                    "visitas": "0",
                    "comentarios": "0",
                    "veces_usado": "0",
                    "me_gusta": "0",
                    "foto": "https://i.imgur.com/pGxM4GJ.jpeg",
                    "fecha_creacion": "2025-09-25 00:59:47",
                    "id_partner": "896",
                    "tipo": "0",
                    "etiquetas": "Comida r\u00e1pida",
                    "codigo": "0",
                    "envio": "0",
                    "listaProductos": "0"
                  },
                  {
                    "id": "726",
                    "titulo": "Ba\u00f1os el Hippy",
                    "descripcion": "Ba\u00f1os p\u00fablicos \r\nRegaderas $50",
                    "latitud": "20.625461",
                    "longitud": "-87.079922",
                    "visitas": "0",
                    "comentarios": "0",
                    "veces_usado": "0",
                    "me_gusta": "0",
                    "foto": "https://i.imgur.com/WAGHjh6.jpeg",
                    "fecha_creacion": "2025-09-25 00:58:28",
                    "id_partner": "896",
                    "tipo": "0",
                    "etiquetas": "",
                    "codigo": "0",
                    "envio": "0",
                    "listaProductos": "0"
                  },
                  {
                    "id": "725",
                    "titulo": "Helados mc donals",
                    "descripcion": "Helados",
                    "latitud": "20.625921",
                    "longitud": "-87.079239",
                    "visitas": "0",
                    "comentarios": "0",
                    "veces_usado": "0",
                    "me_gusta": "0",
                    "foto": "https://i.imgur.com/OhA05e2.jpeg",
                    "fecha_creacion": "2025-09-25 00:52:59",
                    "id_partner": "31",
                    "tipo": "0",
                    "etiquetas": "Helados",
                    "codigo": "0",
                    "envio": "0",
                    "listaProductos": "0"
                  },
                  {
                    "id": "724",
                    "titulo": "Paradero combis 30 av",
                    "descripcion": "Trasporte colectivo",
                    "latitud": "20.626112",
                    "longitud": "-87.079187",
                    "visitas": "0",
                    "comentarios": "0",
                    "veces_usado": "0",
                    "me_gusta": "0",
                    "foto": "https://i.imgur.com/bO0gi8L.jpeg",
                    "fecha_creacion": "2025-09-25 00:52:31",
                    "id_partner": "896",
                    "tipo": "0",
                    "etiquetas": "Transporte",
                    "codigo": "0",
                    "envio": "0",
                    "listaProductos": "0"
                  },
                  {
                    "id": "722",
                    "titulo": "Local en renta",
                    "descripcion": "Local en renta en Ctm con avenida 30. En Playa del Carmen",
                    "latitud": "20.640975",
                    "longitud": "-87.069216",
                    "visitas": "0",
                    "comentarios": "0",
                    "veces_usado": "0",
                    "me_gusta": "0",
                    "foto": "https://i.imgur.com/5N6UHh4.jpeg",
                    "fecha_creacion": "2025-09-25 00:30:35",
                    "id_partner": "1361",
                    "tipo": "0",
                    "etiquetas": "Local,renta",
                    "codigo": "0",
                    "envio": "0",
                    "listaProductos": "0"
                  },
                  {
                    "id": "721",
                    "titulo": "Como Rey",
                    "descripcion": "Frapes y chamoyadas",
                    "latitud": "20.639077",
                    "longitud": "-87.070560",
                    "visitas": "0",
                    "comentarios": "0",
                    "veces_usado": "0",
                    "me_gusta": "0",
                    "foto": "https://i.imgur.com/u8kHqsf.jpeg",
                    "fecha_creacion": "2025-09-25 00:30:20",
                    "id_partner": "896",
                    "tipo": "0",
                    "etiquetas": "Helado",
                    "codigo": "0",
                    "envio": "0",
                    "listaProductos": "0"
                  },
                  {
                    "id": "720",
                    "titulo": "Cajero Santander",
                    "descripcion": "Cajero para retiros de efectivo",
                    "latitud": "20.638994",
                    "longitud": "-87.070577",
                    "visitas": "0",
                    "comentarios": "0",
                    "veces_usado": "0",
                    "me_gusta": "0",
                    "foto": "https://i.imgur.com/LTng2t4.jpeg",
                    "fecha_creacion": "2025-09-25 00:28:22",
                    "id_partner": "896",
                    "tipo": "0",
                    "etiquetas": "Banco,Santander",
                    "codigo": "0",
                    "envio": "0",
                    "listaProductos": "0"
                  },
                  {
                    "id": "719",
                    "titulo": "Cajero Santander",
                    "descripcion": "Cajero para retiros de efectivo",
                    "latitud": "20.638994",
                    "longitud": "-87.070577",
                    "visitas": "0",
                    "comentarios": "0",
                    "veces_usado": "0",
                    "me_gusta": "0",
                    "foto": "https://i.imgur.com/LTng2t4.jpeg",
                    "fecha_creacion": "2025-09-25 00:27:57",
                    "id_partner": "896",
                    "tipo": "0",
                    "etiquetas": "Banco,Santander",
                    "codigo": "0",
                    "envio": "0",
                    "listaProductos": "0"
                  },
                  {
                    "id": "718",
                    "titulo": "SIX \"arca de noe II\"",
                    "descripcion": "Gran atenci\u00f3n, desde las 11 hasta las 10",
                    "latitud": "20.641185",
                    "longitud": "-87.071000",
                    "visitas": "0",
                    "comentarios": "0",
                    "veces_usado": "0",
                    "me_gusta": "0",
                    "foto": "https://i.imgur.com/mhn9j3W.jpeg",
                    "fecha_creacion": "2025-09-24 21:28:20",
                    "id_partner": "1361",
                    "tipo": "0",
                    "etiquetas": "Local,cervecer\u00eda,botanas",
                    "codigo": "0",
                    "envio": "0",
                    "listaProductos": "0"
                  },
                  {
                    "id": "717",
                    "titulo": "Oros y luces playa",
                    "descripcion": "Tienda de art\u00edculos de belleza",
                    "latitud": "20.638787",
                    "longitud": "-87.083033",
                    "visitas": "0",
                    "comentarios": "0",
                    "veces_usado": "0",
                    "me_gusta": "0",
                    "foto": "https://i.imgur.com/Nr5WJMX.png",
                    "fecha_creacion": "2025-09-24 21:06:46",
                    "id_partner": "896",
                    "tipo": "0",
                    "etiquetas": "Tienda de belleza",
                    "codigo": "0",
                    "envio": "0",
                    "listaProductos": "0"
                  },
                  {
                    "id": "716",
                    "titulo": "Recicla pl\u00e1stico aqui",
                    "descripcion": "Aqu\u00ed pueden dejar pl\u00e1stico de botellas de coca cola abierto hasta las 11 de la noche",
                    "latitud": "20.638443",
                    "longitud": "-87.089454",
                    "visitas": "0",
                    "comentarios": "0",
                    "veces_usado": "0",
                    "me_gusta": "0",
                    "foto": "https://i.imgur.com/PP50RLe.jpeg",
                    "fecha_creacion": "2025-10-15 00:00:00",
                    "id_partner": "31",
                    "tipo": "0",
                    "etiquetas": "Recicla,coca,reciclaje,plastico",
                    "codigo": "0",
                    "envio": "0",
                    "listaProductos": "0"
                  },
                  {
                    "id": "714",
                    "titulo": "Se renta",
                    "descripcion": "Se renta departamento",
                    "latitud": "20.639788",
                    "longitud": "-87.067743",
                    "visitas": "0",
                    "comentarios": "0",
                    "veces_usado": "0",
                    "me_gusta": "0",
                    "foto": "https://i.imgur.com/rXJtsup.jpeg",
                    "fecha_creacion": "2025-09-20 20:03:19",
                    "id_partner": "31",
                    "tipo": "0",
                    "etiquetas": "Renta,departamento",
                    "codigo": "0",
                    "envio": "0",
                    "listaProductos": "0"
                  },
                  {
[...]
