{
  "openapi": "3.0.0",
  "info": {
    "title": "Crawlbase API (formerly ProxyCrawl)",
    "version": "1.0.0",
    "description": "Crawlbase Crawling API provides web scraping and crawling capabilities with automatic proxy rotation, JavaScript rendering, and CAPTCHA handling. Supports up to 20 requests per second.",
    "contact": {
      "name": "Crawlbase Support",
      "url": "https://crawlbase.com"
    }
  },
  "servers": [
    {
      "url": "https://api.crawlbase.com"
    }
  ],
  "paths": {
    "/": {
      "get": {
        "summary": "Crawl a URL",
        "description": "Crawl and scrape a website with automatic proxy rotation and optional JavaScript rendering",
        "operationId": "crawlUrl",
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "required": true,
            "description": "Authentication token (normal token for standard requests, JavaScript token for dynamically-generated content)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "url",
            "in": "query",
            "required": true,
            "description": "The target URL to crawl (must be URL-encoded and start with http/https)",
            "schema": {
              "type": "string",
              "format": "uri"
            }
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "description": "Response format",
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "html"
              ],
              "default": "html"
            }
          },
          {
            "name": "pretty",
            "in": "query",
            "required": false,
            "description": "Enable readable JSON formatting when format=json",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "user_agent",
            "in": "query",
            "required": false,
            "description": "Custom user agent string for the request",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page_wait",
            "in": "query",
            "required": false,
            "description": "Milliseconds to wait before capturing HTML (JavaScript token only)",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "ajax_wait",
            "in": "query",
            "required": false,
            "description": "Wait for AJAX requests to complete before response (JavaScript token only)",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "css_click_selector",
            "in": "query",
            "required": false,
            "description": "CSS selector(s) to click before capture. Supports multiple selectors separated by pipe (|)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "device",
            "in": "query",
            "required": false,
            "description": "Device type for the request",
            "schema": {
              "type": "string",
              "enum": [
                "desktop",
                "mobile"
              ],
              "default": "desktop"
            }
          },
          {
            "name": "get_cookies",
            "in": "query",
            "required": false,
            "description": "Return cookies set by target website",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "get_headers",
            "in": "query",
            "required": false,
            "description": "Return response headers from target website",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "request_headers",
            "in": "query",
            "required": false,
            "description": "Custom headers to send. Format: header:value|header:value",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "set_cookies",
            "in": "query",
            "required": false,
            "description": "Cookies to send with request. Format: key=value; key=value",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cookies_session",
            "in": "query",
            "required": false,
            "description": "Session identifier for persistent cookies across calls (max 32 characters, 5-minute expiry)",
            "schema": {
              "type": "string",
              "maxLength": 32
            }
          },
          {
            "name": "screenshot",
            "in": "query",
            "required": false,
            "description": "Capture JPEG screenshot (JavaScript token)",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "store",
            "in": "query",
            "required": false,
            "description": "Store response copy in Crawlbase Cloud Storage",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "scraper",
            "in": "query",
            "required": false,
            "description": "Specify data scraper to use (e.g., amazon-product-details)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "async",
            "in": "query",
            "required": false,
            "description": "Asynchronous crawling for select domains (e.g., LinkedIn). Returns rid for storage retrieval",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "autoparse",
            "in": "query",
            "required": false,
            "description": "Automatically extract structured data from the page",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "country",
            "in": "query",
            "required": false,
            "description": "Two-character country code for geolocation (e.g., US)",
            "schema": {
              "type": "string",
              "minLength": 2,
              "maxLength": 2,
              "example": "US"
            }
          },
          {
            "name": "tor_network",
            "in": "query",
            "required": false,
            "description": "Route requests through Tor network for .onion sites",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "scroll",
            "in": "query",
            "required": false,
            "description": "Enable automated scrolling to load dynamic content (JavaScript token)",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "scroll_interval",
            "in": "query",
            "required": false,
            "description": "Scrolling duration in seconds (default 10, maximum 60)",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 60,
              "default": 10
            }
          },
          {
            "name": "custom_success_codes",
            "in": "query",
            "required": false,
            "description": "Comma-separated HTTP status codes to treat as successful (e.g., 403,429,503)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful crawl",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string",
                  "description": "HTML content of the crawled page"
                }
              },
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "body": {
                      "type": "string",
                      "description": "HTML or parsed content"
                    },
                    "headers": {
                      "type": "object",
                      "description": "Response headers (if get_headers=true)"
                    },
                    "cookies": {
                      "type": "object",
                      "description": "Cookies (if get_cookies=true)"
                    },
                    "screenshot": {
                      "type": "string",
                      "description": "Base64-encoded screenshot (if screenshot=true)"
                    },
                    "rid": {
                      "type": "string",
                      "description": "Request ID for async requests"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters"
          },
          "401": {
            "description": "Unauthorized - invalid token"
          },
          "429": {
            "description": "Too many requests - rate limit exceeded (20 requests per second max)"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "tags": [
          "default"
        ]
      },
      "post": {
        "summary": "Crawl a URL with POST data",
        "description": "Crawl and scrape a website using POST method with request body",
        "operationId": "crawlUrlPost",
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "required": true,
            "description": "Authentication token",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "url",
            "in": "query",
            "required": true,
            "description": "The target URL to crawl",
            "schema": {
              "type": "string",
              "format": "uri"
            }
          }
        ],
        "requestBody": {
          "description": "POST data to send to the target URL",
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            },
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful crawl",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "tags": [
          "default"
        ]
      }
    }
  },
  "tags": [
    {
      "name": "default"
    }
  ]
}
