{
  "openapi": "3.0.3",
  "info": {
    "title": "Breaking Bad Quotes API",
    "version": "1.0.0",
    "description": "A simple API to retrieve random quotes from Breaking Bad. No authentication required.",
    "x-jentic-source-url": "https://github.com/shevabam/breaking-bad-quotes/blob/master/Breaking_Bad_Quotes_API.postman_collection.json",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://api.breakingbadquotes.xyz/v1"
    }
  ],
  "paths": {
    "/quotes": {
      "get": {
        "operationId": "getRandomQuote",
        "tags": [
          "Quotes"
        ],
        "summary": "Get a random Breaking Bad quote",
        "description": "Returns a single random quote from Breaking Bad.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Quote"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/quotes/{number}": {
      "get": {
        "operationId": "getMultipleRandomQuotes",
        "tags": [
          "Quotes"
        ],
        "summary": "Get multiple random Breaking Bad quotes",
        "description": "Returns an array of N random quotes from Breaking Bad.",
        "parameters": [
          {
            "name": "number",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1
            },
            "description": "Number of quotes to return"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Quote"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "noAuth": {
        "type": "apiKey",
        "in": "query",
        "name": "access_token",
        "description": "No authentication required"
      }
    },
    "schemas": {
      "Quote": {
        "type": "object",
        "properties": {
          "quote": {
            "type": "string",
            "description": "The quote text"
          },
          "author": {
            "type": "string",
            "description": "The character who said the quote"
          },
          "series": {
            "type": "string",
            "description": "The TV series (e.g. Breaking Bad)"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Quotes"
    }
  ]
}
