{
  "openapi": "3.0.0",
  "info": {
    "title": "Manifestação API",
    "version": "1.0.0",
    "description": "Essa rota está destinada a Manifestação de NFe\nInstruções para o tipo de Evento de acordo com o número do evento:\n  NF-e: \n  Confirmação da operação - 210200 / Desconhecimento da operação - 210220 / Operação não realizada - 210240 / Conhecimento da operação - 210210\n  CT-e: \n  Prestação do Serviço em Desacordo - 610110\n\nObs: A justificativa deve conter de 15 a 255 caracteres, quando necessária.\n\n### Autenticação\nUtilize o botão \"Authorize\" para inserir o token JWT e as chaves de acesso.\n",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/siegcom/ManifestarPorXml/1.0.0"
  },
  "servers": [
    {
      "url": "https://api.sieg.com"
    }
  ],
  "security": [
    {
      "JWT": [],
      "APIKey": []
    },
    {
      "OAuthToken": [],
      "JWT": []
    }
  ],
  "paths": {
    "/api/v1/manifestar-xml": {
      "post": {
        "tags": [
          "Manifestar por XML"
        ],
        "summary": "Manifestação de XMLs",
        "operationId": "Manifestation_ManifestationXml",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ManifestationRequest"
              },
              "example": {
                "Numero": 123,
                "CnpjEmitente": "12345678000195",
                "Serie": 1,
                "Manifestação": 210200,
                "CnpjDestinatario": "98765432000199",
                "Justificativa": "Justificativa válida com mais de quinze caracteres."
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ManifestationRequest"
              },
              "example": {
                "Numero": 123,
                "CnpjEmitente": "12345678000195",
                "Serie": 1,
                "Manifestação": 210200,
                "CnpjDestinatario": "98765432000199",
                "Justificativa": "Justificativa válida com mais de quinze caracteres."
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sucesso, verificar corpo da resposta."
          },
          "400": {
            "description": "Erro ao processar requisição.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ManifestationRequest"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ManifestationRequest"
                }
              }
            }
          },
          "404": {
            "description": "XML não encontrado."
          },
          "500": {
            "description": "Erro interno do servidor."
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "JWT": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "Cole apenas o token JWT gerado pelo endpoint de autenticação."
      },
      "APIKey": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key"
      },
      "OAuthToken": {
        "type": "apiKey",
        "in": "header",
        "name": "X-OAuth-Token",
        "description": "Token OAuth 2.0 Sieg (utilize em conjunto com o JWT)."
      }
    },
    "schemas": {
      "ManifestationRequest": {
        "type": "object",
        "properties": {
          "Numero": {
            "type": "integer",
            "format": "int32"
          },
          "CnpjEmitente": {
            "type": "string"
          },
          "Serie": {
            "type": "integer",
            "format": "int32"
          },
          "Manifestação": {
            "type": "integer",
            "format": "int32",
            "enum": [
              210200,
              210240,
              610110,
              210220
            ]
          },
          "CnpjDestinatario": {
            "type": "string"
          },
          "Justificativa": {
            "type": "string"
          }
        }
      }
    }
  }
}
