{
  "openapi": "3.0.3",
  "info": {
    "title": "Novita AI API",
    "version": "1.0.0",
    "description": "Novita AI provides OpenAI-compatible LLM APIs, image generation (text-to-image, image-to-image, inpainting), video generation, text-to-speech, and GPU instance management. The LLM API is compatible with OpenAI SDKs.",
    "x-jentic-source-url": "https://novita.ai/docs/api-reference/model-apis-introduction",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://api.novita.ai/v3"
    }
  ],
  "paths": {
    "/openai/chat/completions": {
      "post": {
        "operationId": "createChatCompletion",
        "summary": "Create chat completion",
        "description": "Creates a chat completion using an OpenAI-compatible API. Supports streaming.",
        "tags": [
          "LLM"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChatCompletionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Chat completion response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatCompletionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        }
      }
    },
    "/openai/completions": {
      "post": {
        "operationId": "createCompletion",
        "summary": "Create completion",
        "description": "Creates a text completion (legacy endpoint). OpenAI-compatible.",
        "tags": [
          "LLM"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CompletionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Completion response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/openai/models": {
      "get": {
        "operationId": "listModels",
        "summary": "List available LLM models",
        "description": "Returns a list of available LLM models.",
        "tags": [
          "LLM"
        ],
        "responses": {
          "200": {
            "description": "Model list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ModelListResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/openai/models/{model}": {
      "get": {
        "operationId": "getModel",
        "summary": "Retrieve a model",
        "description": "Returns information about a specific model.",
        "tags": [
          "LLM"
        ],
        "parameters": [
          {
            "name": "model",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Model info",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Model"
                }
              }
            }
          },
          "404": {
            "description": "Model not found"
          }
        }
      }
    },
    "/openai/embeddings": {
      "post": {
        "operationId": "createEmbeddings",
        "summary": "Create embeddings",
        "description": "Creates embedding vectors for the given text input.",
        "tags": [
          "LLM"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "model",
                  "input"
                ],
                "properties": {
                  "model": {
                    "type": "string"
                  },
                  "input": {
                    "oneOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      }
                    ]
                  },
                  "encoding_format": {
                    "type": "string",
                    "enum": [
                      "float",
                      "base64"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Embedding response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/async/txt2img": {
      "post": {
        "operationId": "textToImage",
        "summary": "Text to image generation",
        "description": "Generate images from text prompts using various Stable Diffusion and FLUX models.",
        "tags": [
          "Image"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Txt2ImgRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AsyncTaskResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/async/img2img": {
      "post": {
        "operationId": "imageToImage",
        "summary": "Image to image generation",
        "description": "Transform an existing image using text prompts.",
        "tags": [
          "Image"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Img2ImgRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AsyncTaskResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/async/task/{taskId}": {
      "get": {
        "operationId": "getTaskResult",
        "summary": "Get async task result",
        "description": "Poll for the result of an asynchronous task (image/video generation).",
        "tags": [
          "Tasks"
        ],
        "parameters": [
          {
            "name": "taskId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Task status and result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskResultResponse"
                }
              }
            }
          },
          "404": {
            "description": "Task not found"
          }
        }
      }
    },
    "/user/balance": {
      "get": {
        "operationId": "getUserBalance",
        "summary": "Get user balance",
        "description": "Returns the authenticated user's account balance.",
        "tags": [
          "Account"
        ],
        "responses": {
          "200": {
            "description": "User balance",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "balance": {
                      "type": "number"
                    },
                    "currency": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ChatCompletionRequest": {
        "type": "object",
        "required": [
          "model",
          "messages"
        ],
        "properties": {
          "model": {
            "type": "string",
            "description": "Model ID to use"
          },
          "messages": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ChatMessage"
            }
          },
          "temperature": {
            "type": "number",
            "default": 1.0,
            "minimum": 0,
            "maximum": 2
          },
          "top_p": {
            "type": "number",
            "default": 1.0
          },
          "max_tokens": {
            "type": "integer"
          },
          "stream": {
            "type": "boolean",
            "default": false
          },
          "stop": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            ]
          },
          "frequency_penalty": {
            "type": "number"
          },
          "presence_penalty": {
            "type": "number"
          },
          "n": {
            "type": "integer",
            "default": 1
          }
        }
      },
      "ChatMessage": {
        "type": "object",
        "required": [
          "role",
          "content"
        ],
        "properties": {
          "role": {
            "type": "string",
            "enum": [
              "system",
              "user",
              "assistant"
            ]
          },
          "content": {
            "type": "string"
          }
        }
      },
      "ChatCompletionResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string"
          },
          "created": {
            "type": "integer"
          },
          "model": {
            "type": "string"
          },
          "choices": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "index": {
                  "type": "integer"
                },
                "message": {
                  "$ref": "#/components/schemas/ChatMessage"
                },
                "finish_reason": {
                  "type": "string"
                }
              }
            }
          },
          "usage": {
            "$ref": "#/components/schemas/Usage"
          }
        }
      },
      "CompletionRequest": {
        "type": "object",
        "required": [
          "model",
          "prompt"
        ],
        "properties": {
          "model": {
            "type": "string"
          },
          "prompt": {
            "type": "string"
          },
          "max_tokens": {
            "type": "integer"
          },
          "temperature": {
            "type": "number"
          },
          "top_p": {
            "type": "number"
          },
          "stream": {
            "type": "boolean"
          }
        }
      },
      "ModelListResponse": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "list"
            ]
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Model"
            }
          }
        }
      },
      "Model": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "enum": [
              "model"
            ]
          },
          "created": {
            "type": "integer"
          },
          "owned_by": {
            "type": "string"
          }
        }
      },
      "Usage": {
        "type": "object",
        "properties": {
          "prompt_tokens": {
            "type": "integer"
          },
          "completion_tokens": {
            "type": "integer"
          },
          "total_tokens": {
            "type": "integer"
          }
        }
      },
      "Txt2ImgRequest": {
        "type": "object",
        "required": [
          "model_name",
          "prompt"
        ],
        "properties": {
          "model_name": {
            "type": "string"
          },
          "prompt": {
            "type": "string"
          },
          "negative_prompt": {
            "type": "string"
          },
          "width": {
            "type": "integer",
            "default": 512
          },
          "height": {
            "type": "integer",
            "default": 512
          },
          "steps": {
            "type": "integer",
            "default": 20
          },
          "guidance_scale": {
            "type": "number",
            "default": 7.5
          },
          "seed": {
            "type": "integer"
          },
          "sampler_name": {
            "type": "string"
          },
          "batch_size": {
            "type": "integer",
            "default": 1
          }
        }
      },
      "Img2ImgRequest": {
        "type": "object",
        "required": [
          "model_name",
          "prompt",
          "image_base64"
        ],
        "properties": {
          "model_name": {
            "type": "string"
          },
          "prompt": {
            "type": "string"
          },
          "negative_prompt": {
            "type": "string"
          },
          "image_base64": {
            "type": "string",
            "description": "Base64-encoded input image"
          },
          "strength": {
            "type": "number",
            "default": 0.75,
            "description": "Denoising strength"
          },
          "steps": {
            "type": "integer",
            "default": 20
          },
          "guidance_scale": {
            "type": "number",
            "default": 7.5
          },
          "seed": {
            "type": "integer"
          }
        }
      },
      "AsyncTaskResponse": {
        "type": "object",
        "properties": {
          "task_id": {
            "type": "string"
          }
        }
      },
      "TaskResultResponse": {
        "type": "object",
        "properties": {
          "task_id": {
            "type": "string"
          },
          "task": {
            "type": "object",
            "properties": {
              "task_id": {
                "type": "string"
              },
              "status": {
                "type": "string",
                "enum": [
                  "QUEUED",
                  "PROCESSING",
                  "SUCCEED",
                  "FAILED"
                ]
              },
              "reason": {
                "type": "string"
              },
              "eta": {
                "type": "number"
              },
              "progress_percent": {
                "type": "integer"
              }
            }
          },
          "images": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "image_url": {
                  "type": "string",
                  "format": "uri"
                },
                "image_url_ttl": {
                  "type": "integer"
                },
                "image_type": {
                  "type": "string"
                }
              }
            }
          },
          "videos": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "video_url": {
                  "type": "string",
                  "format": "uri"
                },
                "video_url_ttl": {
                  "type": "integer"
                },
                "video_type": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "API key as bearer token"
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Account"
    },
    {
      "name": "Image"
    },
    {
      "name": "LLM"
    },
    {
      "name": "Tasks"
    }
  ]
}
