{
  "openapi": "3.0.3",
  "info": {
    "title": "Alpaca Trading API",
    "version": "2.0.0",
    "description": "Commission-free stock trading API. Trade stocks and crypto, manage portfolios, access market data in real-time.",
    "x-jentic-source-url": "https://docs.alpaca.markets/",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://api.alpaca.markets"
    }
  ],
  "paths": {
    "/v2/account": {
      "get": {
        "operationId": "getAccount",
        "summary": "Get account information",
        "description": "Returns the account associated with the API key.",
        "tags": [
          "Account"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/orders": {
      "get": {
        "operationId": "listOrders",
        "summary": "List orders",
        "description": "Retrieves a list of orders for the account, filtered by the supplied query parameters.",
        "tags": [
          "Orders"
        ],
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "open",
                "closed",
                "all"
              ],
              "default": "open"
            },
            "description": "Order status filter"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 50,
              "maximum": 500
            },
            "description": "Maximum number of orders"
          },
          {
            "name": "after",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Filter orders after this timestamp"
          },
          {
            "name": "until",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Filter orders until this timestamp"
          },
          {
            "name": "direction",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "desc"
            },
            "description": "Sort direction"
          },
          {
            "name": "nested",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "description": "Include nested multi-leg orders"
          },
          {
            "name": "symbols",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated list of symbols to filter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Order"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createOrder",
        "summary": "Create an order",
        "description": "Places a new order for the given account.",
        "tags": [
          "Orders"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateOrderRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Order created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Order"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "cancelAllOrders",
        "summary": "Cancel all orders",
        "description": "Attempts to cancel all open orders.",
        "tags": [
          "Orders"
        ],
        "responses": {
          "207": {
            "description": "Multi-status response with individual order cancel results"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/orders/{order_id}": {
      "get": {
        "operationId": "getOrder",
        "summary": "Get an order",
        "description": "Retrieves a single order for the given order_id.",
        "tags": [
          "Orders"
        ],
        "parameters": [
          {
            "name": "order_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Order ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Order"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "replaceOrder",
        "summary": "Replace an order",
        "description": "Replaces a single order with updated parameters.",
        "tags": [
          "Orders"
        ],
        "parameters": [
          {
            "name": "order_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Order ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReplaceOrderRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Order"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "cancelOrder",
        "summary": "Cancel an order",
        "description": "Attempts to cancel an open order.",
        "tags": [
          "Orders"
        ],
        "parameters": [
          {
            "name": "order_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Order ID"
          }
        ],
        "responses": {
          "204": {
            "description": "Order cancelled"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/positions": {
      "get": {
        "operationId": "listPositions",
        "summary": "List all positions",
        "description": "Retrieves a list of the account's open positions.",
        "tags": [
          "Positions"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Position"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "closeAllPositions",
        "summary": "Close all positions",
        "description": "Closes (liquidates) all of the account's open long and short positions.",
        "tags": [
          "Positions"
        ],
        "parameters": [
          {
            "name": "cancel_orders",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "description": "Cancel all open orders before liquidating"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Order"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/positions/{symbol_or_asset_id}": {
      "get": {
        "operationId": "getPosition",
        "summary": "Get an open position",
        "description": "Retrieves the account's open position for the given symbol or asset_id.",
        "tags": [
          "Positions"
        ],
        "parameters": [
          {
            "name": "symbol_or_asset_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Symbol or asset ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Position"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "closePosition",
        "summary": "Close a position",
        "description": "Closes (liquidates) the account's open position for the given symbol or asset_id.",
        "tags": [
          "Positions"
        ],
        "parameters": [
          {
            "name": "symbol_or_asset_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Symbol or asset ID"
          },
          {
            "name": "qty",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Number of shares to liquidate"
          },
          {
            "name": "percentage",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Percentage of position to liquidate"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Order"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/account/activities/{activity_type}": {
      "get": {
        "operationId": "getAccountActivities",
        "summary": "Get account activities",
        "description": "Returns account activity entries for a specific type of activity.",
        "tags": [
          "Account"
        ],
        "parameters": [
          {
            "name": "activity_type",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Activity type (e.g., FILL, TRANS, DIV)"
          },
          {
            "name": "date",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "Filter by date"
          },
          {
            "name": "after",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Filter after timestamp"
          },
          {
            "name": "until",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Filter until timestamp"
          },
          {
            "name": "direction",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ]
            },
            "description": "Sort direction"
          },
          {
            "name": "page_size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 100,
              "maximum": 100
            },
            "description": "Page size"
          },
          {
            "name": "page_token",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Pagination token"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Activity"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/account/portfolio/history": {
      "get": {
        "operationId": "getPortfolioHistory",
        "summary": "Get portfolio history",
        "description": "Returns timeseries data about equity and profit/loss of the account.",
        "tags": [
          "Account"
        ],
        "parameters": [
          {
            "name": "period",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Duration (e.g., 1D, 1W, 1M, 3M, 1A)"
          },
          {
            "name": "timeframe",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "1Min",
                "5Min",
                "15Min",
                "1H",
                "1D"
              ]
            },
            "description": "Resolution of results"
          },
          {
            "name": "date_end",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "End date"
          },
          {
            "name": "extended_hours",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "description": "Include extended hours data"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PortfolioHistory"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/assets": {
      "get": {
        "operationId": "listAssets",
        "summary": "List assets",
        "description": "Returns a list of assets available for trading.",
        "tags": [
          "Assets"
        ],
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "active",
                "inactive"
              ]
            },
            "description": "Asset status filter"
          },
          {
            "name": "asset_class",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "us_equity",
                "crypto"
              ]
            },
            "description": "Asset class filter"
          },
          {
            "name": "exchange",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Exchange filter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Asset"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/assets/{symbol_or_asset_id}": {
      "get": {
        "operationId": "getAsset",
        "summary": "Get an asset",
        "description": "Returns the asset with the given symbol or asset_id.",
        "tags": [
          "Assets"
        ],
        "parameters": [
          {
            "name": "symbol_or_asset_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Symbol or asset ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Asset"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/watchlists": {
      "get": {
        "operationId": "listWatchlists",
        "summary": "List watchlists",
        "description": "Returns the list of watchlists registered under the account.",
        "tags": [
          "Watchlists"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Watchlist"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createWatchlist",
        "summary": "Create a watchlist",
        "description": "Create a new watchlist with initial set of assets.",
        "tags": [
          "Watchlists"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateWatchlistRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Watchlist"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/watchlists/{watchlist_id}": {
      "get": {
        "operationId": "getWatchlist",
        "summary": "Get a watchlist",
        "tags": [
          "Watchlists"
        ],
        "parameters": [
          {
            "name": "watchlist_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Watchlist"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get a watchlist"
      },
      "put": {
        "operationId": "updateWatchlist",
        "summary": "Update a watchlist",
        "tags": [
          "Watchlists"
        ],
        "parameters": [
          {
            "name": "watchlist_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateWatchlistRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Watchlist"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Update a watchlist"
      },
      "post": {
        "operationId": "addAssetToWatchlist",
        "summary": "Add an asset to a watchlist",
        "tags": [
          "Watchlists"
        ],
        "parameters": [
          {
            "name": "watchlist_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "symbol": {
                    "type": "string"
                  }
                },
                "required": [
                  "symbol"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Watchlist"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Add an asset to a watchlist"
      },
      "delete": {
        "operationId": "deleteWatchlist",
        "summary": "Delete a watchlist",
        "tags": [
          "Watchlists"
        ],
        "parameters": [
          {
            "name": "watchlist_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Watchlist deleted"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Delete a watchlist"
      }
    },
    "/v2/calendar": {
      "get": {
        "operationId": "getCalendar",
        "summary": "Get market calendar",
        "description": "Returns the market calendar.",
        "tags": [
          "Clock & Calendar"
        ],
        "parameters": [
          {
            "name": "start",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "end",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CalendarDay"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/clock": {
      "get": {
        "operationId": "getClock",
        "summary": "Get market clock",
        "description": "Returns the market clock.",
        "tags": [
          "Clock & Calendar"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Clock"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Account": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "account_number": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "currency": {
            "type": "string"
          },
          "buying_power": {
            "type": "string"
          },
          "cash": {
            "type": "string"
          },
          "portfolio_value": {
            "type": "string"
          },
          "pattern_day_trader": {
            "type": "boolean"
          },
          "trading_blocked": {
            "type": "boolean"
          },
          "transfers_blocked": {
            "type": "boolean"
          },
          "account_blocked": {
            "type": "boolean"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "equity": {
            "type": "string"
          },
          "last_equity": {
            "type": "string"
          },
          "long_market_value": {
            "type": "string"
          },
          "short_market_value": {
            "type": "string"
          },
          "initial_margin": {
            "type": "string"
          },
          "maintenance_margin": {
            "type": "string"
          },
          "daytrade_count": {
            "type": "integer"
          },
          "daytrading_buying_power": {
            "type": "string"
          },
          "regt_buying_power": {
            "type": "string"
          }
        }
      },
      "Order": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "client_order_id": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "submitted_at": {
            "type": "string",
            "format": "date-time"
          },
          "filled_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "expired_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "canceled_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "asset_id": {
            "type": "string",
            "format": "uuid"
          },
          "symbol": {
            "type": "string"
          },
          "asset_class": {
            "type": "string"
          },
          "qty": {
            "type": "string"
          },
          "filled_qty": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "market",
              "limit",
              "stop",
              "stop_limit",
              "trailing_stop"
            ]
          },
          "side": {
            "type": "string",
            "enum": [
              "buy",
              "sell"
            ]
          },
          "time_in_force": {
            "type": "string",
            "enum": [
              "day",
              "gtc",
              "opg",
              "cls",
              "ioc",
              "fok"
            ]
          },
          "limit_price": {
            "type": "string",
            "nullable": true
          },
          "stop_price": {
            "type": "string",
            "nullable": true
          },
          "filled_avg_price": {
            "type": "string",
            "nullable": true
          },
          "status": {
            "type": "string"
          },
          "extended_hours": {
            "type": "boolean"
          }
        }
      },
      "CreateOrderRequest": {
        "type": "object",
        "required": [
          "symbol",
          "qty",
          "side",
          "type",
          "time_in_force"
        ],
        "properties": {
          "symbol": {
            "type": "string"
          },
          "qty": {
            "type": "string"
          },
          "notional": {
            "type": "string"
          },
          "side": {
            "type": "string",
            "enum": [
              "buy",
              "sell"
            ]
          },
          "type": {
            "type": "string",
            "enum": [
              "market",
              "limit",
              "stop",
              "stop_limit",
              "trailing_stop"
            ]
          },
          "time_in_force": {
            "type": "string",
            "enum": [
              "day",
              "gtc",
              "opg",
              "cls",
              "ioc",
              "fok"
            ]
          },
          "limit_price": {
            "type": "string"
          },
          "stop_price": {
            "type": "string"
          },
          "trail_price": {
            "type": "string"
          },
          "trail_percent": {
            "type": "string"
          },
          "extended_hours": {
            "type": "boolean"
          },
          "client_order_id": {
            "type": "string"
          },
          "order_class": {
            "type": "string",
            "enum": [
              "simple",
              "bracket",
              "oco",
              "oto"
            ]
          }
        }
      },
      "ReplaceOrderRequest": {
        "type": "object",
        "properties": {
          "qty": {
            "type": "string"
          },
          "time_in_force": {
            "type": "string"
          },
          "limit_price": {
            "type": "string"
          },
          "stop_price": {
            "type": "string"
          },
          "trail": {
            "type": "string"
          },
          "client_order_id": {
            "type": "string"
          }
        }
      },
      "Position": {
        "type": "object",
        "properties": {
          "asset_id": {
            "type": "string",
            "format": "uuid"
          },
          "symbol": {
            "type": "string"
          },
          "exchange": {
            "type": "string"
          },
          "asset_class": {
            "type": "string"
          },
          "avg_entry_price": {
            "type": "string"
          },
          "qty": {
            "type": "string"
          },
          "side": {
            "type": "string"
          },
          "market_value": {
            "type": "string"
          },
          "cost_basis": {
            "type": "string"
          },
          "unrealized_pl": {
            "type": "string"
          },
          "unrealized_plpc": {
            "type": "string"
          },
          "current_price": {
            "type": "string"
          },
          "lastday_price": {
            "type": "string"
          },
          "change_today": {
            "type": "string"
          }
        }
      },
      "Asset": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "class": {
            "type": "string"
          },
          "exchange": {
            "type": "string"
          },
          "symbol": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "tradable": {
            "type": "boolean"
          },
          "marginable": {
            "type": "boolean"
          },
          "shortable": {
            "type": "boolean"
          },
          "easy_to_borrow": {
            "type": "boolean"
          },
          "fractionable": {
            "type": "boolean"
          }
        }
      },
      "Watchlist": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "account_id": {
            "type": "string",
            "format": "uuid"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "name": {
            "type": "string"
          },
          "assets": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Asset"
            }
          }
        }
      },
      "CreateWatchlistRequest": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "symbols": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "Activity": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "activity_type": {
            "type": "string"
          },
          "symbol": {
            "type": "string"
          },
          "side": {
            "type": "string"
          },
          "qty": {
            "type": "string"
          },
          "price": {
            "type": "string"
          },
          "cum_qty": {
            "type": "string"
          },
          "transaction_time": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "PortfolioHistory": {
        "type": "object",
        "properties": {
          "timestamp": {
            "type": "array",
            "items": {
              "type": "integer"
            }
          },
          "equity": {
            "type": "array",
            "items": {
              "type": "number"
            }
          },
          "profit_loss": {
            "type": "array",
            "items": {
              "type": "number"
            }
          },
          "profit_loss_pct": {
            "type": "array",
            "items": {
              "type": "number"
            }
          },
          "base_value": {
            "type": "number"
          },
          "timeframe": {
            "type": "string"
          }
        }
      },
      "CalendarDay": {
        "type": "object",
        "properties": {
          "date": {
            "type": "string",
            "format": "date"
          },
          "open": {
            "type": "string"
          },
          "close": {
            "type": "string"
          }
        }
      },
      "Clock": {
        "type": "object",
        "properties": {
          "timestamp": {
            "type": "string",
            "format": "date-time"
          },
          "is_open": {
            "type": "boolean"
          },
          "next_open": {
            "type": "string",
            "format": "date-time"
          },
          "next_close": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string"
              },
              "message": {
                "type": "string"
              }
            }
          }
        }
      }
    },
    "securitySchemes": {
      "apiKeyId": {
        "type": "apiKey",
        "in": "header",
        "name": "APCA-API-KEY-ID"
      },
      "apiKeySecret": {
        "type": "apiKey",
        "in": "header",
        "name": "APCA-API-SECRET-KEY"
      }
    }
  },
  "security": [
    {
      "apiKeyId": [],
      "apiKeySecret": []
    }
  ],
  "tags": [
    {
      "name": "Account"
    },
    {
      "name": "Assets"
    },
    {
      "name": "Clock & Calendar"
    },
    {
      "name": "Orders"
    },
    {
      "name": "Positions"
    },
    {
      "name": "Watchlists"
    }
  ]
}
