{
  "openapi": "3.0.3",
  "info": {
    "title": "AlienVault OTX API",
    "version": "1.0.0",
    "description": "LevelBlue Open Threat Exchange (OTX) DirectConnect API. Provides access to threat intelligence pulses, indicators of compromise (IOCs), and community-shared threat data.",
    "x-jentic-source-url": "https://otx.alienvault.com/assets/static/external_api.html",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://otx.alienvault.com",
      "description": "OTX Production"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "Indicators",
      "description": "IOC lookup and file/URL submission endpoints"
    },
    {
      "name": "Pulses",
      "description": "Threat intelligence pulse management"
    },
    {
      "name": "Search",
      "description": "Search users and pulses"
    },
    {
      "name": "Users",
      "description": "User profile and management"
    }
  ],
  "paths": {
    "/api/v1/indicators/submit_file": {
      "post": {
        "operationId": "submitFile",
        "summary": "Submit a file for analysis",
        "tags": [
          "Indicators"
        ],
        "responses": {
          "200": {
            "description": "File submitted for analysis",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IndicatorDetail"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "description": "Submit a file for analysis"
      }
    },
    "/api/v1/indicators/submitted_files": {
      "get": {
        "operationId": "getSubmittedFiles",
        "summary": "Get list of submitted files",
        "tags": [
          "Indicators"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IndicatorList"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get list of submitted files"
      }
    },
    "/api/v1/indicators/update_submitted_files_tlp": {
      "post": {
        "operationId": "updateSubmittedFilesTlp",
        "summary": "Update TLP for submitted files",
        "tags": [
          "Indicators"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IndicatorDetail"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Update TLP for submitted files"
      }
    },
    "/api/v1/indicators/submit_url": {
      "post": {
        "operationId": "submitUrl",
        "summary": "Submit a URL for analysis",
        "tags": [
          "Indicators"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IndicatorDetail"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "url"
                ],
                "properties": {
                  "url": {
                    "type": "string",
                    "format": "uri"
                  }
                }
              }
            }
          }
        },
        "description": "Submit a URL for analysis"
      }
    },
    "/api/v1/indicators/submit_urls": {
      "post": {
        "operationId": "submitUrls",
        "summary": "Submit multiple URLs for analysis",
        "tags": [
          "Indicators"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IndicatorDetail"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "urls"
                ],
                "properties": {
                  "urls": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "uri"
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Submit multiple URLs for analysis"
      }
    },
    "/api/v1/indicators/submitted_urls": {
      "get": {
        "operationId": "getSubmittedUrls",
        "summary": "Get list of submitted URLs",
        "tags": [
          "Indicators"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IndicatorList"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get list of submitted URLs"
      }
    },
    "/api/v1/indicators/update_submitted_urls_tlp": {
      "post": {
        "operationId": "updateSubmittedUrlsTlp",
        "summary": "Update TLP for submitted URLs",
        "tags": [
          "Indicators"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IndicatorDetail"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Update TLP for submitted URLs"
      }
    },
    "/api/v1/indicators/IPv4/{ip}/{section}": {
      "get": {
        "operationId": "getIpv4Indicator",
        "summary": "Get IPv4 address indicator details by section",
        "tags": [
          "Indicators"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IndicatorDetail"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "ip",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "IPv4 address"
          },
          {
            "name": "section",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "general",
                "reputation",
                "geo",
                "malware",
                "url_list",
                "passive_dns",
                "http_scans",
                "whois",
                "nids_list",
                "analysis"
              ]
            },
            "description": "Data section to retrieve"
          }
        ],
        "description": "Get IPv4 address indicator details by section"
      }
    },
    "/api/v1/indicators/IPv6/{ip}/{section}": {
      "get": {
        "operationId": "getIpv6Indicator",
        "summary": "Get IPv6 address indicator details by section",
        "tags": [
          "Indicators"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IndicatorDetail"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "ip",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "IPv6 address"
          },
          {
            "name": "section",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "general",
                "reputation",
                "geo",
                "malware",
                "url_list",
                "passive_dns",
                "http_scans",
                "whois",
                "nids_list",
                "analysis"
              ]
            },
            "description": "Data section to retrieve"
          }
        ],
        "description": "Get IPv6 address indicator details by section"
      }
    },
    "/api/v1/indicators/domain/{domain}/{section}": {
      "get": {
        "operationId": "getDomainIndicator",
        "summary": "Get Domain name indicator details by section",
        "tags": [
          "Indicators"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IndicatorDetail"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "domain",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Domain name"
          },
          {
            "name": "section",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "general",
                "reputation",
                "geo",
                "malware",
                "url_list",
                "passive_dns",
                "http_scans",
                "whois",
                "nids_list",
                "analysis"
              ]
            },
            "description": "Data section to retrieve"
          }
        ],
        "description": "Get Domain name indicator details by section"
      }
    },
    "/api/v1/indicators/hostname/{hostname}/{section}": {
      "get": {
        "operationId": "getHostnameIndicator",
        "summary": "Get Hostname indicator details by section",
        "tags": [
          "Indicators"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IndicatorDetail"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "hostname",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Hostname"
          },
          {
            "name": "section",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "general",
                "reputation",
                "geo",
                "malware",
                "url_list",
                "passive_dns",
                "http_scans",
                "whois",
                "nids_list",
                "analysis"
              ]
            },
            "description": "Data section to retrieve"
          }
        ],
        "description": "Get Hostname indicator details by section"
      }
    },
    "/api/v1/indicators/file/{file_hash}/{section}": {
      "get": {
        "operationId": "getFileIndicator",
        "summary": "Get File hash (MD5, SHA1, or SHA256) indicator details by section",
        "tags": [
          "Indicators"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IndicatorDetail"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "file_hash",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "File hash (MD5, SHA1, or SHA256)"
          },
          {
            "name": "section",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "general",
                "reputation",
                "geo",
                "malware",
                "url_list",
                "passive_dns",
                "http_scans",
                "whois",
                "nids_list",
                "analysis"
              ]
            },
            "description": "Data section to retrieve"
          }
        ],
        "description": "Get File hash (MD5, SHA1, or SHA256) indicator details by section"
      }
    },
    "/api/v1/indicators/url/{url}/{section}": {
      "get": {
        "operationId": "getUrlIndicator",
        "summary": "Get URL (URL-encoded) indicator details by section",
        "tags": [
          "Indicators"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IndicatorDetail"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "url",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "URL (URL-encoded)"
          },
          {
            "name": "section",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "general",
                "reputation",
                "geo",
                "malware",
                "url_list",
                "passive_dns",
                "http_scans",
                "whois",
                "nids_list",
                "analysis"
              ]
            },
            "description": "Data section to retrieve"
          }
        ],
        "description": "Get URL (URL-encoded) indicator details by section"
      }
    },
    "/api/v1/indicators/cve/{cve}/{section}": {
      "get": {
        "operationId": "getCveIndicator",
        "summary": "Get CVE identifier (e.g., CVE-2021-44228) indicator details by section",
        "tags": [
          "Indicators"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IndicatorDetail"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "cve",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "CVE identifier (e.g., CVE-2021-44228)"
          },
          {
            "name": "section",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "general",
                "reputation",
                "geo",
                "malware",
                "url_list",
                "passive_dns",
                "http_scans",
                "whois",
                "nids_list",
                "analysis"
              ]
            },
            "description": "Data section to retrieve"
          }
        ],
        "description": "Get CVE identifier (e.g., CVE-2021-44228) indicator details by section"
      }
    },
    "/api/v1/indicators/nids/{nids}/{section}": {
      "get": {
        "operationId": "getNidsIndicator",
        "summary": "Get NIDS signature ID indicator details by section",
        "tags": [
          "Indicators"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IndicatorDetail"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "nids",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "NIDS signature ID"
          },
          {
            "name": "section",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "general",
                "reputation",
                "geo",
                "malware",
                "url_list",
                "passive_dns",
                "http_scans",
                "whois",
                "nids_list",
                "analysis"
              ]
            },
            "description": "Data section to retrieve"
          }
        ],
        "description": "Get NIDS signature ID indicator details by section"
      }
    },
    "/api/v1/indicators/correlation-rule/{correlationrule}/{section}": {
      "get": {
        "operationId": "getCorrelationruleIndicator",
        "summary": "Get Correlation rule name indicator details by section",
        "tags": [
          "Indicators"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IndicatorDetail"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "correlationrule",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Correlation rule name"
          },
          {
            "name": "section",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "general",
                "reputation",
                "geo",
                "malware",
                "url_list",
                "passive_dns",
                "http_scans",
                "whois",
                "nids_list",
                "analysis"
              ]
            },
            "description": "Data section to retrieve"
          }
        ],
        "description": "Get Correlation rule name indicator details by section"
      }
    },
    "/api/v1/pulses/{pulse_id}": {
      "get": {
        "operationId": "getPulse",
        "summary": "Get pulse details by ID",
        "tags": [
          "Pulses"
        ],
        "parameters": [
          {
            "name": "pulse_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Pulse ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Pulse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get pulse details by ID"
      },
      "patch": {
        "operationId": "updatePulse",
        "summary": "Update an existing pulse",
        "tags": [
          "Pulses"
        ],
        "parameters": [
          {
            "name": "pulse_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Pulse ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PulseCreateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Pulse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Update an existing pulse"
      }
    },
    "/api/v1/pulses/{pulse_id}/indicators": {
      "get": {
        "operationId": "getPulseIndicators",
        "summary": "Get indicators for a pulse",
        "tags": [
          "Pulses"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IndicatorList"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "pulse_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Pulse ID"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "description": "Get indicators for a pulse"
      }
    },
    "/api/v1/pulses/{pulse_id}/related": {
      "get": {
        "operationId": "getPulseRelated",
        "summary": "Get related pulses",
        "tags": [
          "Pulses"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedPulseList"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "pulse_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Pulse ID"
          }
        ],
        "description": "Get related pulses"
      }
    },
    "/api/v1/pulses/related": {
      "get": {
        "operationId": "getRelatedPulses",
        "summary": "Get related pulses based on subscriptions",
        "tags": [
          "Pulses"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedPulseList"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/page"
          }
        ],
        "description": "Get related pulses based on subscriptions"
      }
    },
    "/api/v1/pulses/subscribed": {
      "get": {
        "operationId": "getSubscribedPulses",
        "summary": "Get pulses the user is subscribed to",
        "tags": [
          "Pulses"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedPulseList"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/modified_since"
          }
        ],
        "description": "Get pulses the user is subscribed to"
      }
    },
    "/api/v1/pulses/subscribed_pulse_ids": {
      "get": {
        "operationId": "getSubscribedPulseIds",
        "summary": "Get IDs of subscribed pulses",
        "tags": [
          "Pulses"
        ],
        "responses": {
          "200": {
            "description": "List of subscribed pulse IDs",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get IDs of subscribed pulses"
      }
    },
    "/api/v1/pulses/activity": {
      "get": {
        "operationId": "getPulseActivity",
        "summary": "Get pulse activity feed",
        "tags": [
          "Pulses"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedPulseList"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/modified_since"
          }
        ],
        "description": "Get pulse activity feed"
      }
    },
    "/api/v1/pulses/create": {
      "post": {
        "operationId": "createPulse",
        "summary": "Create a new threat intelligence pulse",
        "tags": [
          "Pulses"
        ],
        "responses": {
          "200": {
            "description": "Pulse created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Pulse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PulseCreateRequest"
              }
            }
          }
        },
        "description": "Create a new threat intelligence pulse"
      }
    },
    "/api/v1/pulses/{pulse_id}/delete": {
      "get": {
        "operationId": "deletePulse",
        "summary": "Delete a pulse",
        "tags": [
          "Pulses"
        ],
        "responses": {
          "200": {
            "description": "Pulse deleted"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "pulse_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Pulse ID"
          }
        ],
        "description": "Delete a pulse"
      }
    },
    "/api/v1/pulses/{pulse_id}/subscribe": {
      "get": {
        "operationId": "subscribeToPulse",
        "summary": "Subscribe to a pulse",
        "tags": [
          "Pulses"
        ],
        "responses": {
          "200": {
            "description": "Subscribed successfully"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "pulse_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Pulse ID"
          }
        ],
        "description": "Subscribe to a pulse"
      }
    },
    "/api/v1/pulses/{pulse_id}/unsubscribe": {
      "get": {
        "operationId": "unsubscribeFromPulse",
        "summary": "Unsubscribe from a pulse",
        "tags": [
          "Pulses"
        ],
        "responses": {
          "200": {
            "description": "Unsubscribed successfully"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "pulse_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Pulse ID"
          }
        ],
        "description": "Unsubscribe from a pulse"
      }
    },
    "/api/v1/pulses/indicators/types": {
      "get": {
        "operationId": "getIndicatorTypes",
        "summary": "Get supported indicator types",
        "tags": [
          "Pulses"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IndicatorTypeList"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get supported indicator types"
      }
    },
    "/api/v1/pulses/indicators/validate": {
      "post": {
        "operationId": "validateIndicators",
        "summary": "Validate indicators",
        "tags": [
          "Pulses"
        ],
        "responses": {
          "200": {
            "description": "Validation results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/IndicatorValidation"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "indicators": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/IndicatorInput"
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Validate indicators"
      }
    },
    "/api/v1/pulses/events": {
      "get": {
        "operationId": "getPulseEvents",
        "summary": "Get pulse events (changes since timestamp)",
        "tags": [
          "Pulses"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventList"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/modified_since"
          }
        ],
        "description": "Get pulse events (changes since timestamp)"
      }
    },
    "/api/v1/pulses/user/{username}": {
      "get": {
        "operationId": "getUserPulses",
        "summary": "Get pulses by username",
        "tags": [
          "Pulses"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedPulseList"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "username",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Username"
          },
          {
            "$ref": "#/components/parameters/page"
          }
        ],
        "description": "Get pulses by username"
      }
    },
    "/api/v1/pulses/my": {
      "get": {
        "operationId": "getMyPulses",
        "summary": "Get authenticated user's pulses",
        "tags": [
          "Pulses"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedPulseList"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/page"
          }
        ],
        "description": "Get authenticated user's pulses"
      }
    },
    "/api/v1/search/users": {
      "get": {
        "operationId": "searchUsers",
        "summary": "Search for users",
        "tags": [
          "Search"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResults"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Search query"
          },
          {
            "$ref": "#/components/parameters/page"
          }
        ],
        "description": "Search for users"
      }
    },
    "/api/v1/search/pulses": {
      "get": {
        "operationId": "searchPulses",
        "summary": "Search for pulses",
        "tags": [
          "Search"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResults"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Search query"
          },
          {
            "$ref": "#/components/parameters/page"
          }
        ],
        "description": "Search for pulses"
      }
    },
    "/api/v1/users/me": {
      "get": {
        "operationId": "getCurrentUser",
        "summary": "Get authenticated user profile",
        "tags": [
          "Users"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserProfile"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get authenticated user profile"
      }
    },
    "/api/v1/users/{username}/{action}": {
      "get": {
        "operationId": "getUserAction",
        "summary": "Get user info by action (follow, subscribe, etc.)",
        "tags": [
          "Users"
        ],
        "responses": {
          "200": {
            "description": "User action result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "username",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Username"
          },
          {
            "name": "action",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "follow",
                "unfollow",
                "subscribe",
                "unsubscribe"
              ]
            },
            "description": "Action to perform"
          }
        ],
        "description": "Get user info by action (follow, subscribe, etc.)"
      }
    },
    "/api/v1/user/me": {
      "get": {
        "operationId": "getMyUser",
        "summary": "Get authenticated user details (alternate endpoint)",
        "tags": [
          "Users"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserProfile"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get authenticated user details (alternate endpoint)"
      }
    },
    "/api/v1/user/{username}/{action}": {
      "get": {
        "operationId": "performUserAction",
        "summary": "Perform action on user profile",
        "tags": [
          "Users"
        ],
        "responses": {
          "200": {
            "description": "Action result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "username",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Username"
          },
          {
            "name": "action",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "follow",
                "unfollow",
                "subscribe",
                "unsubscribe"
              ]
            },
            "description": "Action to perform"
          }
        ],
        "description": "Perform action on user profile"
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-OTX-API-KEY",
        "description": "OTX API key for authentication"
      }
    },
    "schemas": {
      "PaginatedPulseList": {
        "type": "object",
        "properties": {
          "count": {
            "type": "integer"
          },
          "next": {
            "type": "string",
            "format": "uri",
            "nullable": true
          },
          "previous": {
            "type": "string",
            "format": "uri",
            "nullable": true
          },
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Pulse"
            }
          }
        }
      },
      "Pulse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "created": {
            "type": "string",
            "format": "date-time"
          },
          "modified": {
            "type": "string",
            "format": "date-time"
          },
          "pulse_source": {
            "type": "string",
            "enum": [
              "web",
              "api"
            ]
          },
          "TLP": {
            "type": "string",
            "enum": [
              "white",
              "green",
              "amber",
              "red"
            ]
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "references": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "targeted_countries": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "industries": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "malware_families": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "display_name": {
                  "type": "string"
                },
                "id": {
                  "type": "string"
                },
                "target": {
                  "type": "string",
                  "nullable": true
                }
              }
            }
          },
          "attack_ids": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "display_name": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                }
              }
            }
          },
          "adversary": {
            "type": "string"
          },
          "indicator_type_counts": {
            "type": "object",
            "additionalProperties": {
              "type": "integer"
            }
          },
          "indicator_count": {
            "type": "integer"
          },
          "subscriber_count": {
            "type": "integer"
          },
          "follower_count": {
            "type": "integer"
          },
          "comment_count": {
            "type": "integer"
          },
          "votes_count": {
            "type": "integer"
          },
          "upvotes_count": {
            "type": "integer"
          },
          "downvotes_count": {
            "type": "integer"
          },
          "export_count": {
            "type": "integer"
          },
          "validator_count": {
            "type": "integer"
          },
          "vote": {
            "type": "integer"
          },
          "is_author": {
            "type": "boolean"
          },
          "is_modified": {
            "type": "boolean"
          },
          "is_subscribing": {
            "type": "boolean",
            "nullable": true
          },
          "in_group": {
            "type": "boolean"
          },
          "locked": {
            "type": "boolean"
          },
          "threat_hunter_scannable": {
            "type": "boolean"
          },
          "threat_hunter_has_agents": {
            "type": "integer"
          },
          "public": {
            "type": "integer"
          },
          "cloned_from": {
            "type": "string",
            "nullable": true
          },
          "author": {
            "$ref": "#/components/schemas/Author"
          },
          "groups": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                },
                "id": {
                  "type": "integer"
                }
              }
            }
          }
        }
      },
      "Author": {
        "type": "object",
        "properties": {
          "username": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "avatar_url": {
            "type": "string"
          },
          "is_subscribed": {
            "type": "boolean"
          },
          "is_following": {
            "type": "boolean"
          }
        }
      },
      "PulseCreateRequest": {
        "type": "object",
        "required": [
          "name",
          "indicators",
          "public"
        ],
        "properties": {
          "name": {
            "type": "string",
            "description": "Pulse name"
          },
          "description": {
            "type": "string"
          },
          "public": {
            "type": "boolean",
            "description": "Whether the pulse is public"
          },
          "TLP": {
            "type": "string",
            "enum": [
              "white",
              "green",
              "amber",
              "red"
            ]
          },
          "indicators": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IndicatorInput"
            }
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "references": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "targeted_countries": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "malware_families": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "adversary": {
            "type": "string"
          },
          "industries": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "attack_ids": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "IndicatorInput": {
        "type": "object",
        "required": [
          "indicator",
          "type"
        ],
        "properties": {
          "indicator": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "description": "Indicator type: IPv4, IPv6, domain, hostname, email, URL, URI, FileHash-MD5, FileHash-SHA1, FileHash-SHA256, FileHash-PEHASH, FileHash-IMPHASH, CIDR, FilePath, Mutex, CVE, YARA, SSLCertFingerprint, JA3, BitcoinAddress"
          },
          "description": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "expiration": {
            "type": "string",
            "format": "date-time"
          },
          "is_active": {
            "type": "integer"
          },
          "role": {
            "type": "string"
          }
        }
      },
      "Indicator": {
        "type": "object",
        "properties": {
          "indicator": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "id": {
            "type": "integer"
          },
          "created": {
            "type": "string",
            "format": "date-time"
          },
          "content": {
            "type": "string"
          },
          "is_active": {
            "type": "integer"
          },
          "expiration": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "role": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "IndicatorList": {
        "type": "object",
        "properties": {
          "count": {
            "type": "integer"
          },
          "next": {
            "type": "string",
            "format": "uri",
            "nullable": true
          },
          "previous": {
            "type": "string",
            "format": "uri",
            "nullable": true
          },
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Indicator"
            }
          }
        }
      },
      "IndicatorDetail": {
        "type": "object",
        "description": "Response from indicator lookup endpoints. Content varies by section parameter.",
        "properties": {
          "general": {
            "type": "object"
          },
          "reputation": {
            "type": "object"
          },
          "geo": {
            "type": "object"
          },
          "malware": {
            "type": "object"
          },
          "url_list": {
            "type": "object"
          },
          "passive_dns": {
            "type": "object"
          },
          "http_scans": {
            "type": "object"
          },
          "whois": {
            "type": "object"
          },
          "nids_list": {
            "type": "object"
          },
          "analysis": {
            "type": "object"
          }
        }
      },
      "IndicatorTypeList": {
        "type": "object",
        "properties": {
          "detail": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "IndicatorValidation": {
        "type": "object",
        "properties": {
          "indicator": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "valid": {
            "type": "boolean"
          }
        }
      },
      "UserProfile": {
        "type": "object",
        "properties": {
          "username": {
            "type": "string"
          },
          "member_since": {
            "type": "string",
            "format": "date-time"
          },
          "award_count": {
            "type": "integer"
          },
          "follower_count": {
            "type": "integer"
          },
          "subscriber_count": {
            "type": "integer"
          },
          "pulse_count": {
            "type": "integer"
          },
          "indicator_count": {
            "type": "integer"
          },
          "avatar_url": {
            "type": "string"
          }
        }
      },
      "SearchResults": {
        "type": "object",
        "properties": {
          "count": {
            "type": "integer"
          },
          "next": {
            "type": "string",
            "format": "uri",
            "nullable": true
          },
          "previous": {
            "type": "string",
            "format": "uri",
            "nullable": true
          },
          "results": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "EventList": {
        "type": "object",
        "properties": {
          "results": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "next": {
            "type": "string",
            "format": "uri",
            "nullable": true
          },
          "previous": {
            "type": "string",
            "format": "uri",
            "nullable": true
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "detail": {
            "type": "string",
            "description": "Error message"
          }
        }
      }
    },
    "parameters": {
      "page": {
        "name": "page",
        "in": "query",
        "schema": {
          "type": "integer",
          "default": 1
        },
        "description": "Page number for pagination"
      },
      "limit": {
        "name": "limit",
        "in": "query",
        "schema": {
          "type": "integer",
          "default": 10
        },
        "description": "Number of results per page"
      },
      "modified_since": {
        "name": "modified_since",
        "in": "query",
        "schema": {
          "type": "string",
          "format": "date-time"
        },
        "description": "Filter results modified since this date"
      }
    }
  }
}
