{
  "openapi": "3.0.3",
  "info": {
    "title": "BigCommerce Orders V3 API",
    "version": "3.0.0",
    "description": "Manage order settings, transactions, refunds, and payment actions for BigCommerce stores.",
    "termsOfService": "https://www.bigcommerce.com/terms",
    "contact": {
      "name": "BigCommerce",
      "url": "https://www.bigcommerce.com",
      "email": "support@bigcommerce.com"
    },
    "x-jentic-source-url": "https://raw.githubusercontent.com/bigcommerce/api-specs/main/reference/orders.v3.yml"
  },
  "servers": [
    {
      "url": "https://api.bigcommerce.com/stores/{store_hash}/v3",
      "variables": {
        "store_hash": {
          "default": "store_hash",
          "description": "Permanent ID of the BigCommerce store."
        }
      },
      "description": "BigCommerce API Gateway"
    }
  ],
  "security": [
    {
      "X-Auth-Token": []
    }
  ],
  "tags": [
    {
      "name": "Metafields"
    },
    {
      "name": "Payment Actions"
    },
    {
      "name": "Transactions"
    },
    {
      "name": "Order Settings"
    }
  ],
  "paths": {
    "/orders/{order_id}/payment_actions/capture": {
      "parameters": [
        {
          "$ref": "#/components/parameters/Accept"
        },
        {
          "$ref": "#/components/parameters/OrderIdParam"
        }
      ],
      "post": {
        "summary": "Capture order payment",
        "operationId": "paymentactioncapture",
        "description": "Capture the payment for an order. When there are no payment method validation issues, the capture process is successful, the `payment_status` updates to `capture pending`, and the payment request is scheduled. The payment request itself occurs asynchronously.",
        "tags": [
          "Payment Actions"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ContentType"
          },
          {
            "name": "order_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          },
          "422": {
            "description": "Unprocessable Entity"
          },
          "502": {
            "description": "Gateway Error"
          },
          "503": {
            "description": "Service Unavailable"
          },
          "504": {
            "description": "Gateway Timeout"
          }
        }
      }
    },
    "/orders/{order_id}/payment_actions/void": {
      "parameters": [
        {
          "$ref": "#/components/parameters/Accept"
        },
        {
          "$ref": "#/components/parameters/OrderIdParam"
        }
      ],
      "post": {
        "summary": "Void",
        "operationId": "paymentactionvoid",
        "description": "Void the payment for an order. When there are no payment method validation issues, the void process is successful, the `payment_status` updates to `void pending`, and the void payment request is scheduled.",
        "tags": [
          "Payment Actions"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ContentType"
          },
          {
            "name": "order_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          },
          "422": {
            "description": "Unprocessable Entity"
          }
        }
      }
    },
    "/orders/{order_id}/transactions": {
      "parameters": [
        {
          "$ref": "#/components/parameters/Accept"
        },
        {
          "$ref": "#/components/parameters/OrderIdParam"
        }
      ],
      "get": {
        "summary": "Get Transactions",
        "operationId": "getTransactions",
        "description": "Returns an order's transactions. Depending on the payment method, different information will be available.",
        "tags": [
          "Transactions"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionCollection"
                }
              }
            }
          },
          "204": {
            "description": "No content found."
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "parameters": [
          {
            "name": "order_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/orders/{order_id}/payment_actions/refund_quotes": {
      "parameters": [
        {
          "$ref": "#/components/parameters/Accept"
        },
        {
          "$ref": "#/components/parameters/OrderIdParam"
        }
      ],
      "post": {
        "summary": "Create a Refund Quote",
        "operationId": "postrefundquote",
        "description": "Calculate the tax amount, total refund amount and get available payment options for an order refund by providing items and costs or quantities to refund.",
        "tags": [
          "Payment Actions"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ContentType"
          },
          {
            "name": "order_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RefundQuote_Post"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RefundQuote"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "422": {
            "description": "Unprocessable Entity"
          }
        }
      }
    },
    "/orders/{order_id}/payment_actions/refunds": {
      "parameters": [
        {
          "$ref": "#/components/parameters/Accept"
        },
        {
          "$ref": "#/components/parameters/OrderIdParam"
        }
      ],
      "post": {
        "summary": "Create a Refund",
        "operationId": "postrefund",
        "description": "Creates a refund. When there are no payment method validation issues, the refund process is successful and the refund payment request is scheduled.",
        "tags": [
          "Payment Actions"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ContentType"
          },
          {
            "name": "order_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RefundRequest_Post"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Refund"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "422": {
            "description": "Unprocessable Entity"
          }
        }
      },
      "get": {
        "summary": "Get Refunds for Order",
        "operationId": "getorderrefunds",
        "description": "Returns a list of refunds ordered by refund ID in ascending order for the given order.",
        "tags": [
          "Payment Actions"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RefundCollection"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "parameters": [
          {
            "name": "order_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/orders/payment_actions/refunds/{refund_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/Accept"
        },
        {
          "name": "refund_id",
          "in": "path",
          "description": "Refund ID.",
          "required": true,
          "schema": {
            "type": "integer"
          }
        }
      ],
      "get": {
        "summary": "Get a Refund",
        "operationId": "RefundID_Get",
        "description": "Returns a refund by refund ID.",
        "tags": [
          "Payment Actions"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Refund"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/orders/payment_actions/refunds": {
      "parameters": [
        {
          "$ref": "#/components/parameters/Accept"
        }
      ],
      "get": {
        "summary": "Get All Refunds",
        "operationId": "getrefunds",
        "description": "Returns a list of refunds ordered by refund ID in ascending order.",
        "tags": [
          "Payment Actions"
        ],
        "parameters": [
          {
            "name": "order_id:in",
            "in": "query",
            "description": "Filter by `order_id`. Accepts multiple as comma-separated values.",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer"
              }
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "id:in",
            "in": "query",
            "description": "Filter by refund `id`. Accepts multiple as comma-separated values.",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer"
              }
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "created:min",
            "in": "query",
            "description": "Filter results so they are later than or equal to provided date (RFC 3339 format).",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "created:max",
            "in": "query",
            "description": "Filter results so they are earlier than or equal to provided date (RFC 3339 format).",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Specifies the page number in a limited (paginated) list of items.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Controls the number of items per page.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RefundCollection"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/orders/payment_actions/refund_quotes": {
      "parameters": [
        {
          "$ref": "#/components/parameters/Accept"
        }
      ],
      "post": {
        "summary": "Create Refund Quotes - BATCH",
        "operationId": "postrefundquotes",
        "description": "Calculate the tax amount, total refund amount and get available payment options for a batch of order refunds.",
        "tags": [
          "Payment Actions"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostRefundQuotesRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RefundQuoteBatchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "422": {
            "description": "Unprocessable Entity"
          },
          "503": {
            "description": "Service Unavailable"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "X-Auth-Token": {
        "type": "apiKey",
        "in": "header",
        "name": "X-Auth-Token",
        "description": "API key for BigCommerce store access."
      }
    },
    "parameters": {
      "Accept": {
        "name": "Accept",
        "in": "header",
        "required": true,
        "schema": {
          "type": "string",
          "default": "application/json"
        }
      },
      "ContentType": {
        "name": "Content-Type",
        "in": "header",
        "required": true,
        "schema": {
          "type": "string",
          "default": "application/json"
        }
      },
      "OrderIdParam": {
        "name": "order_id",
        "in": "path",
        "required": true,
        "description": "The ID of the order.",
        "schema": {
          "type": "integer"
        }
      }
    },
    "schemas": {
      "TransactionCollection": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Transaction"
            }
          },
          "meta": {
            "$ref": "#/components/schemas/Meta"
          }
        }
      },
      "Transaction": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "order_id": {
            "type": "integer"
          },
          "event": {
            "type": "string"
          },
          "method": {
            "type": "string"
          },
          "amount": {
            "type": "number",
            "format": "double"
          },
          "currency": {
            "type": "string"
          },
          "gateway": {
            "type": "string"
          },
          "gateway_transaction_id": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "test": {
            "type": "boolean"
          },
          "fraud_review": {
            "type": "boolean"
          },
          "date_created": {
            "type": "string",
            "format": "date-time"
          },
          "reference_transaction_id": {
            "type": "integer"
          }
        }
      },
      "RefundQuote_Post": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RefundQuoteItem"
            }
          },
          "tax_adjustment_amount": {
            "type": "number"
          }
        }
      },
      "RefundQuoteItem": {
        "type": "object",
        "properties": {
          "item_id": {
            "type": "integer"
          },
          "item_type": {
            "type": "string",
            "enum": [
              "PRODUCT",
              "SHIPPING",
              "ORDER"
            ]
          },
          "quantity": {
            "type": "integer"
          },
          "amount": {
            "type": "number"
          }
        }
      },
      "RefundQuote": {
        "type": "object",
        "properties": {
          "order_id": {
            "type": "integer"
          },
          "total_refund_amount": {
            "type": "number"
          },
          "total_refund_tax_amount": {
            "type": "number"
          },
          "rounding": {
            "type": "number"
          },
          "adjustment": {
            "type": "number"
          },
          "tax_inclusive": {
            "type": "boolean"
          },
          "refund_methods": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "RefundRequest_Post": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RefundRequestItem"
            }
          },
          "payments": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RefundPayment"
            }
          },
          "tax_adjustment_amount": {
            "type": "number"
          }
        }
      },
      "RefundRequestItem": {
        "type": "object",
        "properties": {
          "item_id": {
            "type": "integer"
          },
          "item_type": {
            "type": "string"
          },
          "quantity": {
            "type": "integer"
          },
          "amount": {
            "type": "number"
          },
          "reason": {
            "type": "string"
          }
        }
      },
      "RefundPayment": {
        "type": "object",
        "properties": {
          "provider_id": {
            "type": "string"
          },
          "provider_description": {
            "type": "string"
          },
          "amount": {
            "type": "number"
          },
          "offline": {
            "type": "boolean"
          }
        }
      },
      "Refund": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "order_id": {
            "type": "integer"
          },
          "user_id": {
            "type": "integer"
          },
          "created": {
            "type": "string",
            "format": "date-time"
          },
          "reason": {
            "type": "string"
          },
          "total_amount": {
            "type": "number"
          },
          "total_tax": {
            "type": "number"
          },
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RefundRequestItem"
            }
          },
          "payments": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RefundPayment"
            }
          }
        }
      },
      "RefundCollection": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Refund"
            }
          },
          "meta": {
            "$ref": "#/components/schemas/Meta"
          }
        }
      },
      "PostRefundQuotesRequest": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/RefundQuote_Post"
        }
      },
      "RefundQuoteBatchResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RefundQuote"
            }
          },
          "errors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          },
          "meta": {
            "$ref": "#/components/schemas/Meta"
          }
        }
      },
      "Meta": {
        "type": "object",
        "properties": {
          "pagination": {
            "type": "object",
            "properties": {
              "total": {
                "type": "integer"
              },
              "count": {
                "type": "integer"
              },
              "per_page": {
                "type": "integer"
              },
              "current_page": {
                "type": "integer"
              },
              "total_pages": {
                "type": "integer"
              }
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "integer"
          },
          "title": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "instance": {
            "type": "string"
          }
        }
      }
    }
  }
}
