{
  "openapi": "3.0.3",
  "info": {
    "title": "DitchCarbon API",
    "version": "1.0.0",
    "description": "DitchCarbon carbon emissions data API. Calculate carbon impact using GHG protocol approved calculations and company/product disclosure data. Covers supplier emissions, industry classifications, SBTi company data, and recommended actions for emissions reduction.",
    "x-jentic-source-url": "https://docs.ditchcarbon.com",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://api.ditchcarbon.com/v1"
    }
  ],
  "paths": {
    "/organizations": {
      "post": {
        "operationId": "createOrganization",
        "summary": "Register a new organization",
        "tags": [
          "Organizations"
        ],
        "description": "Register a new organization to get emissions data and analysis.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrganizationCreateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Organization registered",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Organization"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "listOrganizations",
        "summary": "List organizations",
        "tags": [
          "Organizations"
        ],
        "description": "Retrieve a paginated list of organizations with emissions data.",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "Results per page",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 25
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "Search by name or domain",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "country",
            "in": "query",
            "description": "Filter by country code",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "industry",
            "in": "query",
            "description": "Filter by industry code",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrganizationListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/organizations/{id}": {
      "get": {
        "operationId": "getOrganization",
        "summary": "Retrieve data on an organization",
        "tags": [
          "Organizations"
        ],
        "description": "Retrieve detailed emissions data for a specific organization. Returns public carbon disclosures or calculated estimates.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Organization ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Organization"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/organizations/{id}/private": {
      "get": {
        "operationId": "getOrganizationPrivate",
        "summary": "Retrieve organization with private performances",
        "tags": [
          "Organizations"
        ],
        "description": "Retrieve organization data including private performance metrics. Requires elevated access.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Organization ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrganizationPrivateResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/organizations/{id}/recommended_actions": {
      "get": {
        "operationId": "getOrganizationRecommendedActions",
        "summary": "Retrieve recommended actions for an organization",
        "tags": [
          "Organizations"
        ],
        "description": "Get personalized recommendations for emissions reduction based on the organization's profile and industry.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Organization ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RecommendedActionsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/industries": {
      "get": {
        "operationId": "listIndustries",
        "summary": "List industries",
        "tags": [
          "Industries"
        ],
        "description": "Retrieve all available industry classifications with average emissions intensities.",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IndustryListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/industries/search": {
      "get": {
        "operationId": "searchIndustries",
        "summary": "Search industries",
        "tags": [
          "Industries"
        ],
        "description": "Search for industries by name or code.",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "Search query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Max results",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IndustryListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/sbti/companies": {
      "get": {
        "operationId": "listSbtiCompanies",
        "summary": "List SBTi companies",
        "tags": [
          "SBTi"
        ],
        "description": "List and search through companies registered to the Science Based Targets initiative (SBTi).",
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "description": "Search by company name",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "country",
            "in": "query",
            "description": "Filter by country",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sector",
            "in": "query",
            "description": "Filter by sector",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "target_status",
            "in": "query",
            "description": "Filter by target status",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "Results per page",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 25
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SbtiCompanyListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/sbti/companies/changes": {
      "get": {
        "operationId": "getSbtiCompanyChanges",
        "summary": "List changes to the SBTi database",
        "tags": [
          "SBTi"
        ],
        "description": "Retrieve recent changes (additions, updates, removals) to the SBTi company database.",
        "parameters": [
          {
            "name": "since",
            "in": "query",
            "description": "Date to get changes from (YYYY-MM-DD)",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "change_type",
            "in": "query",
            "description": "Filter by change type",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "added",
                "updated",
                "removed"
              ]
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SbtiChangesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/batch": {
      "post": {
        "operationId": "batchRequest",
        "summary": "Batch request",
        "tags": [
          "Batch"
        ],
        "description": "Send multiple API requests in a single batch call.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "Organization": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "domain": {
            "type": "string"
          },
          "country": {
            "type": "string"
          },
          "industry": {
            "type": "string"
          },
          "industry_code": {
            "type": "string"
          },
          "emissions_type": {
            "type": "string",
            "enum": [
              "direct",
              "indirect"
            ]
          },
          "scope1": {
            "type": "number",
            "description": "Scope 1 emissions (tCO2e)"
          },
          "scope2": {
            "type": "number",
            "description": "Scope 2 emissions (tCO2e)"
          },
          "scope3": {
            "type": "number",
            "description": "Scope 3 emissions (tCO2e)"
          },
          "total_emissions": {
            "type": "number",
            "description": "Total emissions (tCO2e)"
          },
          "revenue": {
            "type": "number"
          },
          "currency": {
            "type": "string"
          },
          "emissions_intensity": {
            "type": "number",
            "description": "Emissions per unit revenue"
          },
          "reporting_year": {
            "type": "integer"
          },
          "source": {
            "type": "string"
          },
          "source_url": {
            "type": "string",
            "format": "uri"
          },
          "last_updated": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "OrganizationCreateRequest": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "domain": {
            "type": "string"
          },
          "country": {
            "type": "string"
          },
          "industry": {
            "type": "string"
          },
          "industry_code": {
            "type": "string"
          }
        }
      },
      "OrganizationListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Organization"
            }
          },
          "total": {
            "type": "integer"
          },
          "page": {
            "type": "integer"
          },
          "per_page": {
            "type": "integer"
          }
        }
      },
      "OrganizationPrivateResponse": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/Organization"
          },
          "private_performances": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "year": {
                  "type": "integer"
                },
                "scope1": {
                  "type": "number"
                },
                "scope2": {
                  "type": "number"
                },
                "scope3": {
                  "type": "number"
                },
                "total": {
                  "type": "number"
                }
              }
            }
          }
        }
      },
      "RecommendedActionsResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "action": {
                  "type": "string"
                },
                "description": {
                  "type": "string"
                },
                "estimated_reduction": {
                  "type": "number"
                },
                "category": {
                  "type": "string"
                },
                "priority": {
                  "type": "string",
                  "enum": [
                    "high",
                    "medium",
                    "low"
                  ]
                }
              }
            }
          }
        }
      },
      "Industry": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "code": {
            "type": "string"
          },
          "sector": {
            "type": "string"
          },
          "average_intensity": {
            "type": "number"
          },
          "description": {
            "type": "string"
          }
        }
      },
      "IndustryListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Industry"
            }
          },
          "total": {
            "type": "integer"
          }
        }
      },
      "SbtiCompany": {
        "type": "object",
        "properties": {
          "company_name": {
            "type": "string"
          },
          "country": {
            "type": "string"
          },
          "sector": {
            "type": "string"
          },
          "target_status": {
            "type": "string"
          },
          "target_classification": {
            "type": "string"
          },
          "near_term_target_year": {
            "type": "integer"
          },
          "long_term_target_year": {
            "type": "integer"
          },
          "date_joined": {
            "type": "string",
            "format": "date"
          }
        }
      },
      "SbtiCompanyListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SbtiCompany"
            }
          },
          "total": {
            "type": "integer"
          },
          "page": {
            "type": "integer"
          }
        }
      },
      "SbtiChangesResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "company_name": {
                  "type": "string"
                },
                "change_type": {
                  "type": "string",
                  "enum": [
                    "added",
                    "updated",
                    "removed"
                  ]
                },
                "change_date": {
                  "type": "string",
                  "format": "date"
                },
                "details": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "BatchRequest": {
        "type": "object",
        "properties": {
          "requests": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "method": {
                  "type": "string"
                },
                "path": {
                  "type": "string"
                },
                "body": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "BatchResponse": {
        "type": "object",
        "properties": {
          "results": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "integer"
                },
                "body": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Bearer token for API authentication"
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Batch"
    },
    {
      "name": "Industries"
    },
    {
      "name": "Organizations"
    },
    {
      "name": "SBTi"
    }
  ]
}
