{
  "openapi": "3.0.3",
  "info": {
    "title": "Ireland Open Data Portal API (CKAN)",
    "version": "3",
    "description": "Ireland's open data portal API powered by CKAN. Provides access to government datasets, resources, organizations, and groups.",
    "x-jentic-source-url": "https://data.gov.ie/api",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://data.gov.ie/api"
    }
  ],
  "paths": {
    "/3/action/package_list": {
      "get": {
        "operationId": "package_list",
        "summary": "List all datasets",
        "description": "Return a list of the names of the site's datasets (packages).",
        "tags": [
          "Packages"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Max number of datasets to return"
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Offset for pagination"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CkanListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/3/action/current_package_list_with_resources": {
      "get": {
        "operationId": "current_package_list_with_resources",
        "summary": "List datasets with resources",
        "description": "Return a list of the site's datasets and their resources, sorted most-recently-modified first.",
        "tags": [
          "Packages"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CkanResultResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/3/action/package_show": {
      "get": {
        "operationId": "package_show",
        "summary": "Get dataset details",
        "description": "Return the metadata of a dataset (package) and its resources.",
        "tags": [
          "Packages"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The id or name of the dataset"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CkanResultResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Dataset not found"
          }
        }
      }
    },
    "/3/action/package_search": {
      "get": {
        "operationId": "package_search",
        "summary": "Search datasets",
        "description": "Search for packages satisfying a given search criteria.",
        "tags": [
          "Search"
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Solr search query"
          },
          {
            "name": "fq",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter query"
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Sorting of results, e.g. 'relevance asc, metadata_modified desc'"
          },
          {
            "name": "rows",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 10
            },
            "description": "Number of matching rows to return"
          },
          {
            "name": "start",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            },
            "description": "Offset in the complete result"
          },
          {
            "name": "facet",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "Enable faceted results"
          },
          {
            "name": "facet.field",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Fields to facet upon"
          },
          {
            "name": "facet.limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 50
            },
            "description": "Facet limit"
          },
          {
            "name": "include_private",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "Include private datasets"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PackageSearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/3/action/resource_show": {
      "get": {
        "operationId": "resource_show",
        "summary": "Get resource details",
        "description": "Return the metadata of a resource.",
        "tags": [
          "Resources"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The id of the resource"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CkanResultResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Resource not found"
          }
        }
      }
    },
    "/3/action/resource_search": {
      "get": {
        "operationId": "resource_search",
        "summary": "Search resources",
        "description": "Return a dictionary with matching results and count.",
        "tags": [
          "Search"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Resource search query"
          },
          {
            "name": "order_by",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CkanResultResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/3/action/group_list": {
      "get": {
        "operationId": "group_list",
        "summary": "List groups",
        "description": "Return a list of the names of the site's groups.",
        "tags": [
          "Groups"
        ],
        "parameters": [
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "all_fields",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CkanListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/3/action/group_show": {
      "get": {
        "operationId": "group_show",
        "summary": "Get group details",
        "description": "Return the details of a group.",
        "tags": [
          "Groups"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include_datasets",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "include_dataset_count",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "include_extras",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "include_users",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "include_groups",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "include_followers",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CkanResultResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Group not found"
          }
        }
      }
    },
    "/3/action/organization_list": {
      "get": {
        "operationId": "organization_list",
        "summary": "List organizations",
        "description": "Return a list of the names of the site's organizations.",
        "tags": [
          "Organizations"
        ],
        "parameters": [
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "all_fields",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CkanListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/3/action/organization_show": {
      "get": {
        "operationId": "organization_show",
        "summary": "Get organization details",
        "tags": [
          "Organizations"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include_datasets",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "include_dataset_count",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "include_extras",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "include_users",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "include_groups",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "include_followers",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CkanResultResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Organization not found"
          }
        },
        "description": "Get organization details"
      }
    },
    "/3/action/tag_list": {
      "get": {
        "operationId": "tag_list",
        "summary": "List tags",
        "description": "Return a list of the site's tags.",
        "tags": [
          "Tags"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "vocabulary_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "all_fields",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CkanListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/3/action/tag_show": {
      "get": {
        "operationId": "tag_show",
        "summary": "Get tag details",
        "tags": [
          "Tags"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "vocabulary_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include_datasets",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CkanResultResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Tag not found"
          }
        },
        "description": "Get tag details"
      }
    },
    "/3/action/user_list": {
      "get": {
        "operationId": "user_list",
        "summary": "List users",
        "description": "Return a list of the site's user accounts.",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "order_by",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "all_fields",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CkanListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/3/action/user_show": {
      "get": {
        "operationId": "user_show",
        "summary": "Get user details",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CkanResultResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "User not found"
          }
        },
        "description": "Get user details"
      }
    },
    "/3/action/recently_changed_packages_activity_list": {
      "get": {
        "operationId": "recently_changed_packages_activity_list",
        "summary": "Get recently changed packages activity",
        "tags": [
          "Activity"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CkanResultResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Get recently changed packages activity"
      }
    },
    "/3/action/member_list": {
      "get": {
        "operationId": "member_list",
        "summary": "List group members",
        "tags": [
          "Groups"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "object_type",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "capacity",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CkanResultResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "List group members"
      }
    },
    "/3/action/license_list": {
      "get": {
        "operationId": "license_list",
        "summary": "List available licenses",
        "tags": [
          "Packages"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CkanListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "List available licenses"
      }
    },
    "/3/action/group_package_show": {
      "get": {
        "operationId": "group_package_show",
        "summary": "Get datasets of a group",
        "tags": [
          "Groups"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CkanResultResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Get datasets of a group"
      }
    },
    "/3/action/package_relationships_list": {
      "get": {
        "operationId": "package_relationships_list",
        "summary": "List dataset relationships",
        "tags": [
          "Packages"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id2",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "rel",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CkanResultResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "List dataset relationships"
      }
    },
    "/3/action/resource_view_list": {
      "get": {
        "operationId": "resource_view_list",
        "summary": "List resource views",
        "tags": [
          "Resources"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CkanResultResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "List resource views"
      }
    },
    "/3/action/resource_view_show": {
      "get": {
        "operationId": "resource_view_show",
        "summary": "Get resource view details",
        "tags": [
          "Resources"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CkanResultResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Get resource view details"
      }
    }
  },
  "components": {
    "schemas": {
      "CkanResponse": {
        "type": "object",
        "properties": {
          "help": {
            "type": "string"
          },
          "success": {
            "type": "boolean"
          },
          "result": {
            "description": "Result data (varies by endpoint)"
          }
        }
      },
      "CkanListResponse": {
        "type": "object",
        "properties": {
          "help": {
            "type": "string"
          },
          "success": {
            "type": "boolean"
          },
          "result": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "CkanResultResponse": {
        "type": "object",
        "properties": {
          "help": {
            "type": "string"
          },
          "success": {
            "type": "boolean"
          },
          "result": {
            "type": "object"
          }
        }
      },
      "PackageSearchResponse": {
        "type": "object",
        "properties": {
          "help": {
            "type": "string"
          },
          "success": {
            "type": "boolean"
          },
          "result": {
            "type": "object",
            "properties": {
              "count": {
                "type": "integer"
              },
              "sort": {
                "type": "string"
              },
              "facets": {
                "type": "object"
              },
              "results": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Package"
                }
              },
              "search_facets": {
                "type": "object"
              }
            }
          }
        }
      },
      "Package": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "notes": {
            "type": "string"
          },
          "url": {
            "type": "string"
          },
          "state": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "owner_org": {
            "type": "string"
          },
          "metadata_created": {
            "type": "string",
            "format": "date-time"
          },
          "metadata_modified": {
            "type": "string",
            "format": "date-time"
          },
          "license_id": {
            "type": "string"
          },
          "license_title": {
            "type": "string"
          },
          "num_resources": {
            "type": "integer"
          },
          "num_tags": {
            "type": "integer"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                },
                "display_name": {
                  "type": "string"
                }
              }
            }
          },
          "resources": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Resource"
            }
          },
          "organization": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "name": {
                "type": "string"
              },
              "title": {
                "type": "string"
              }
            }
          }
        }
      },
      "Resource": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "url": {
            "type": "string"
          },
          "format": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "created": {
            "type": "string",
            "format": "date-time"
          },
          "last_modified": {
            "type": "string",
            "format": "date-time"
          },
          "size": {
            "type": "integer"
          },
          "mimetype": {
            "type": "string"
          },
          "resource_type": {
            "type": "string"
          }
        }
      },
      "CkanError": {
        "type": "object",
        "properties": {
          "help": {
            "type": "string"
          },
          "success": {
            "type": "boolean",
            "enum": [
              false
            ]
          },
          "error": {
            "type": "object",
            "properties": {
              "__type": {
                "type": "string"
              },
              "message": {
                "type": "string"
              }
            }
          }
        }
      }
    },
    "securitySchemes": {
      "apiToken": {
        "type": "apiKey",
        "name": "Authorization",
        "in": "header",
        "description": "CKAN API token for authenticated operations"
      }
    }
  },
  "tags": [
    {
      "name": "Activity"
    },
    {
      "name": "Groups"
    },
    {
      "name": "Organizations"
    },
    {
      "name": "Packages"
    },
    {
      "name": "Resources"
    },
    {
      "name": "Search"
    },
    {
      "name": "Tags"
    },
    {
      "name": "Users"
    }
  ]
}
