{
  "openapi": "3.0.3",
  "info": {
    "title": "CoinMarketCap API",
    "version": "1.0",
    "description": "CoinMarketCap REST API for cryptocurrency market data, including listings, quotes, market pairs, OHLCV, exchange data, and global metrics.",
    "x-jentic-source-url": "https://coinmarketcap.com/api/documentation/v1/",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://pro-api.coinmarketcap.com/v1"
    }
  ],
  "tags": [
    {
      "name": "Cryptocurrency",
      "description": "Cryptocurrency data endpoints"
    },
    {
      "name": "Exchange",
      "description": "Exchange data endpoints"
    },
    {
      "name": "Global Metrics",
      "description": "Global aggregate market metrics"
    },
    {
      "name": "Tools",
      "description": "Utility endpoints"
    },
    {
      "name": "Fiat",
      "description": "Fiat currency data"
    },
    {
      "name": "Key",
      "description": "API key info"
    }
  ],
  "paths": {
    "/cryptocurrency/map": {
      "get": {
        "operationId": "getCryptoMap",
        "summary": "CoinMarketCap ID Map",
        "description": "Returns a mapping of all cryptocurrencies to unique CoinMarketCap IDs.",
        "tags": [
          "Cryptocurrency"
        ],
        "parameters": [
          {
            "name": "listing_status",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "active",
              "enum": [
                "active",
                "inactive",
                "untracked"
              ]
            },
            "description": "Filter by listing status"
          },
          {
            "name": "start",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            },
            "description": "Offset starting point"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Number of results"
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "cmc_rank",
                "id"
              ]
            },
            "description": "Sort field"
          },
          {
            "name": "symbol",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by symbol(s)"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CryptoMapResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/cryptocurrency/info": {
      "get": {
        "operationId": "getCryptoInfo",
        "summary": "Metadata",
        "description": "Returns cryptocurrency metadata for one or more cryptocurrencies.",
        "tags": [
          "Cryptocurrency"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated CMC IDs"
          },
          {
            "name": "slug",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated slugs"
          },
          {
            "name": "symbol",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated symbols"
          },
          {
            "name": "address",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Contract address"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CryptoInfoResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/cryptocurrency/listings/latest": {
      "get": {
        "operationId": "getListingsLatest",
        "summary": "Latest Listings",
        "description": "Returns a paginated list of all active cryptocurrencies with latest market data.",
        "tags": [
          "Cryptocurrency"
        ],
        "parameters": [
          {
            "name": "start",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 100,
              "maximum": 5000
            }
          },
          {
            "name": "price_min",
            "in": "query",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "price_max",
            "in": "query",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "market_cap_min",
            "in": "query",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "market_cap_max",
            "in": "query",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "volume_24h_min",
            "in": "query",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "volume_24h_max",
            "in": "query",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "circulating_supply_min",
            "in": "query",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "circulating_supply_max",
            "in": "query",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "percent_change_24h_min",
            "in": "query",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "percent_change_24h_max",
            "in": "query",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "convert",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated fiat/crypto currencies to convert prices"
          },
          {
            "name": "convert_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "market_cap",
                "name",
                "symbol",
                "date_added",
                "price",
                "circulating_supply",
                "total_supply",
                "max_supply",
                "num_market_pairs",
                "volume_24h",
                "percent_change_1h",
                "percent_change_24h",
                "percent_change_7d"
              ]
            }
          },
          {
            "name": "sort_dir",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ]
            }
          },
          {
            "name": "cryptocurrency_type",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "all",
                "coins",
                "tokens"
              ]
            }
          },
          {
            "name": "tag",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by tag (e.g. defi, filesharing)"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListingsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/cryptocurrency/listings/historical": {
      "get": {
        "operationId": "getListingsHistorical",
        "summary": "Historical Listings",
        "description": "Returns a ranked and sorted list of all cryptocurrencies for a historical date.",
        "tags": [
          "Cryptocurrency"
        ],
        "parameters": [
          {
            "name": "date",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "Date snapshot"
          },
          {
            "name": "start",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 100
            }
          },
          {
            "name": "convert",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort_dir",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/cryptocurrency/quotes/latest": {
      "get": {
        "operationId": "getQuotesLatest",
        "summary": "Latest Quotes",
        "description": "Returns the latest market quote for one or more cryptocurrencies.",
        "tags": [
          "Cryptocurrency"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated CMC IDs"
          },
          {
            "name": "slug",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "symbol",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "convert",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Convert prices to this currency"
          },
          {
            "name": "convert_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QuotesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/cryptocurrency/quotes/historical": {
      "get": {
        "operationId": "getQuotesHistorical",
        "summary": "Historical Quotes",
        "description": "Returns historical market quotes for a cryptocurrency.",
        "tags": [
          "Cryptocurrency"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "symbol",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "time_start",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "time_end",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "count",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 10
            }
          },
          {
            "name": "interval",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "yearly",
                "monthly",
                "weekly",
                "daily",
                "hourly",
                "5m",
                "10m",
                "15m",
                "30m",
                "45m",
                "1h",
                "2h",
                "3h",
                "4h",
                "6h",
                "12h",
                "24h"
              ]
            }
          },
          {
            "name": "convert",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/cryptocurrency/market-pairs/latest": {
      "get": {
        "operationId": "getMarketPairsLatest",
        "summary": "Market Pairs Latest",
        "description": "Returns all active market pairs for a cryptocurrency.",
        "tags": [
          "Cryptocurrency"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "symbol",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 100
            }
          },
          {
            "name": "sort_dir",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ]
            }
          },
          {
            "name": "convert",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/cryptocurrency/ohlcv/latest": {
      "get": {
        "operationId": "getOHLCVLatest",
        "summary": "Latest OHLCV",
        "description": "Returns the latest OHLCV (Open, High, Low, Close, Volume) values for one or more cryptocurrencies.",
        "tags": [
          "Cryptocurrency"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "symbol",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "convert",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/cryptocurrency/ohlcv/historical": {
      "get": {
        "operationId": "getOHLCVHistorical",
        "summary": "Historical OHLCV",
        "description": "Returns historical OHLCV data for a cryptocurrency.",
        "tags": [
          "Cryptocurrency"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "symbol",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "time_start",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "time_end",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "time_period",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "daily",
                "hourly"
              ]
            }
          },
          {
            "name": "count",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 10
            }
          },
          {
            "name": "interval",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "convert",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/cryptocurrency/price-performance-stats/latest": {
      "get": {
        "operationId": "getPricePerformanceStats",
        "summary": "Price Performance Stats",
        "description": "Returns price performance statistics for one or more cryptocurrencies.",
        "tags": [
          "Cryptocurrency"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "symbol",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "time_period",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "convert",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/cryptocurrency/categories": {
      "get": {
        "operationId": "getCategories",
        "summary": "Categories",
        "description": "Returns a list of all cryptocurrency categories.",
        "tags": [
          "Cryptocurrency"
        ],
        "parameters": [
          {
            "name": "start",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "symbol",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/cryptocurrency/category": {
      "get": {
        "operationId": "getCategory",
        "summary": "Category",
        "description": "Returns information about a single cryptocurrency category.",
        "tags": [
          "Cryptocurrency"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Category ID"
          },
          {
            "name": "start",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "convert",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/exchange/map": {
      "get": {
        "operationId": "getExchangeMap",
        "summary": "Exchange Map",
        "description": "Returns a mapping of all supported exchanges to CoinMarketCap IDs.",
        "tags": [
          "Exchange"
        ],
        "parameters": [
          {
            "name": "listing_status",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "active"
            }
          },
          {
            "name": "slug",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/exchange/info": {
      "get": {
        "operationId": "getExchangeInfo",
        "summary": "Exchange Metadata",
        "description": "Returns metadata for one or more exchanges.",
        "tags": [
          "Exchange"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/exchange/listings/latest": {
      "get": {
        "operationId": "getExchangeListingsLatest",
        "summary": "Exchange Latest Listings",
        "description": "Returns a paginated list of all cryptocurrency exchanges with latest aggregate market data.",
        "tags": [
          "Exchange"
        ],
        "parameters": [
          {
            "name": "start",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 100
            }
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort_dir",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ]
            }
          },
          {
            "name": "convert",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/exchange/quotes/latest": {
      "get": {
        "operationId": "getExchangeQuotesLatest",
        "summary": "Exchange Quotes Latest",
        "description": "Returns the latest aggregate market data quotes for one or more exchanges.",
        "tags": [
          "Exchange"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "convert",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/exchange/market-pairs/latest": {
      "get": {
        "operationId": "getExchangeMarketPairsLatest",
        "summary": "Exchange Market Pairs",
        "description": "Returns all active market pairs for an exchange.",
        "tags": [
          "Exchange"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 100
            }
          },
          {
            "name": "convert",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/global-metrics/quotes/latest": {
      "get": {
        "operationId": "getGlobalMetricsLatest",
        "summary": "Latest Global Metrics",
        "description": "Returns the latest global cryptocurrency market metrics.",
        "tags": [
          "Global Metrics"
        ],
        "parameters": [
          {
            "name": "convert",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GlobalMetricsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/global-metrics/quotes/historical": {
      "get": {
        "operationId": "getGlobalMetricsHistorical",
        "summary": "Historical Global Metrics",
        "description": "Returns historical global cryptocurrency market metrics.",
        "tags": [
          "Global Metrics"
        ],
        "parameters": [
          {
            "name": "time_start",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "time_end",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "count",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 10
            }
          },
          {
            "name": "interval",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "convert",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/tools/price-conversion": {
      "get": {
        "operationId": "priceConversion",
        "summary": "Price Conversion",
        "description": "Converts an amount of one cryptocurrency or fiat currency into one or more different currencies.",
        "tags": [
          "Tools"
        ],
        "parameters": [
          {
            "name": "amount",
            "in": "query",
            "required": true,
            "schema": {
              "type": "number"
            },
            "description": "Amount to convert"
          },
          {
            "name": "id",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "CMC ID of source currency"
          },
          {
            "name": "symbol",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Source currency symbol"
          },
          {
            "name": "time",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Historical time for conversion"
          },
          {
            "name": "convert",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Target currency symbol(s)"
          },
          {
            "name": "convert_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/fiat/map": {
      "get": {
        "operationId": "getFiatMap",
        "summary": "Fiat Map",
        "description": "Returns a mapping of all supported fiat currencies to unique CoinMarketCap IDs.",
        "tags": [
          "Fiat"
        ],
        "parameters": [
          {
            "name": "start",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "id",
                "name"
              ]
            }
          },
          {
            "name": "include_metals",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/key/info": {
      "get": {
        "operationId": "getKeyInfo",
        "summary": "Key Info",
        "description": "Returns API key details and usage stats.",
        "tags": [
          "Key"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-CMC_PRO_API_KEY",
        "description": "CoinMarketCap API key"
      }
    },
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "object",
            "properties": {
              "timestamp": {
                "type": "string",
                "format": "date-time"
              },
              "error_code": {
                "type": "integer"
              },
              "error_message": {
                "type": "string"
              },
              "elapsed": {
                "type": "integer"
              },
              "credit_count": {
                "type": "integer"
              }
            }
          }
        }
      },
      "Status": {
        "type": "object",
        "properties": {
          "timestamp": {
            "type": "string",
            "format": "date-time"
          },
          "error_code": {
            "type": "integer",
            "default": 0
          },
          "error_message": {
            "type": "string",
            "nullable": true
          },
          "elapsed": {
            "type": "integer"
          },
          "credit_count": {
            "type": "integer"
          }
        }
      },
      "CryptoMapResponse": {
        "type": "object",
        "properties": {
          "status": {
            "$ref": "#/components/schemas/Status"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CryptoMapEntry"
            }
          }
        }
      },
      "CryptoMapEntry": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "symbol": {
            "type": "string"
          },
          "slug": {
            "type": "string"
          },
          "rank": {
            "type": "integer"
          },
          "is_active": {
            "type": "integer"
          },
          "first_historical_data": {
            "type": "string",
            "format": "date-time"
          },
          "last_historical_data": {
            "type": "string",
            "format": "date-time"
          },
          "platform": {
            "type": "object",
            "nullable": true
          }
        }
      },
      "CryptoInfoResponse": {
        "type": "object",
        "properties": {
          "status": {
            "$ref": "#/components/schemas/Status"
          },
          "data": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/CryptoInfo"
            }
          }
        }
      },
      "CryptoInfo": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "symbol": {
            "type": "string"
          },
          "slug": {
            "type": "string"
          },
          "category": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "logo": {
            "type": "string"
          },
          "subreddit": {
            "type": "string"
          },
          "urls": {
            "type": "object"
          },
          "date_added": {
            "type": "string",
            "format": "date-time"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "platform": {
            "type": "object",
            "nullable": true
          }
        }
      },
      "ListingsResponse": {
        "type": "object",
        "properties": {
          "status": {
            "$ref": "#/components/schemas/Status"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CryptoListing"
            }
          }
        }
      },
      "CryptoListing": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "symbol": {
            "type": "string"
          },
          "slug": {
            "type": "string"
          },
          "num_market_pairs": {
            "type": "integer"
          },
          "date_added": {
            "type": "string",
            "format": "date-time"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "max_supply": {
            "type": "number",
            "nullable": true
          },
          "circulating_supply": {
            "type": "number"
          },
          "total_supply": {
            "type": "number"
          },
          "cmc_rank": {
            "type": "integer"
          },
          "last_updated": {
            "type": "string",
            "format": "date-time"
          },
          "quote": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/Quote"
            }
          }
        }
      },
      "Quote": {
        "type": "object",
        "properties": {
          "price": {
            "type": "number"
          },
          "volume_24h": {
            "type": "number"
          },
          "volume_change_24h": {
            "type": "number"
          },
          "percent_change_1h": {
            "type": "number"
          },
          "percent_change_24h": {
            "type": "number"
          },
          "percent_change_7d": {
            "type": "number"
          },
          "percent_change_30d": {
            "type": "number"
          },
          "percent_change_60d": {
            "type": "number"
          },
          "percent_change_90d": {
            "type": "number"
          },
          "market_cap": {
            "type": "number"
          },
          "market_cap_dominance": {
            "type": "number"
          },
          "fully_diluted_market_cap": {
            "type": "number"
          },
          "last_updated": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "QuotesResponse": {
        "type": "object",
        "properties": {
          "status": {
            "$ref": "#/components/schemas/Status"
          },
          "data": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/CryptoListing"
            }
          }
        }
      },
      "GlobalMetricsResponse": {
        "type": "object",
        "properties": {
          "status": {
            "$ref": "#/components/schemas/Status"
          },
          "data": {
            "type": "object",
            "properties": {
              "active_cryptocurrencies": {
                "type": "integer"
              },
              "total_cryptocurrencies": {
                "type": "integer"
              },
              "active_market_pairs": {
                "type": "integer"
              },
              "active_exchanges": {
                "type": "integer"
              },
              "total_exchanges": {
                "type": "integer"
              },
              "eth_dominance": {
                "type": "number"
              },
              "btc_dominance": {
                "type": "number"
              },
              "defi_vol_24h": {
                "type": "number"
              },
              "defi_market_cap": {
                "type": "number"
              },
              "stablecoin_vol_24h": {
                "type": "number"
              },
              "stablecoin_market_cap": {
                "type": "number"
              },
              "last_updated": {
                "type": "string",
                "format": "date-time"
              },
              "quote": {
                "type": "object"
              }
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "ApiKeyAuth": []
    }
  ]
}
