{
  "openapi": "3.0.3",
  "info": {
    "title": "SignNow API",
    "version": "1.0",
    "description": "SignNow e-Signature REST API for document signing, user management, templates, and webhooks.",
    "x-jentic-source-url": "https://docs.signnow.com/docs/signnow/",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://api-eval.signnow.com"
    }
  ],
  "paths": {
    "/document/{document_id}": {
      "get": {
        "operationId": "get_document_{document_id}",
        "summary": "Get document",
        "tags": [
          "Document"
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "This endpoint returns details of specific document",
        "parameters": [
          {
            "name": "document_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "put": {
        "operationId": "put_document_{document_id}",
        "summary": "Edit document",
        "tags": [
          "Document"
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Updates a document by adding/overwriting fields or elements (texts, checks, signatures, hyperlinks, attachments)",
        "parameters": [
          {
            "name": "document_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {}
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "delete_document_{document_id}",
        "summary": "Delete document",
        "tags": [
          "Document"
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Deletes a document from user's account",
        "parameters": [
          {
            "name": "document_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/oauth2/token": {
      "post": {
        "operationId": "post_oauth2_token",
        "summary": "Generate access token",
        "tags": [
          "OAuth2"
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "expires_in": {
                      "type": "integer"
                    },
                    "token_type": {
                      "type": "string"
                    },
                    "access_token": {
                      "type": "string"
                    },
                    "refresh_token": {
                      "type": "string"
                    },
                    "scope": {
                      "type": "string"
                    },
                    "last_login": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "* \"invalid_client\" - incorrect basic auth token\n* \"invalid_request\" - request without a required parameter\n* \"invalid_scope\" - invalid scope\n* \"Invalid credentials.\" - either incorrect password or non-existing email provided"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Returns an access token for a user",
        "security": [
          {
            "basicAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "username": {
                    "type": "string",
                    "description": "user's email; <br>\nrequired if `'grant_type: password'`"
                  },
                  "password": {
                    "type": "string",
                    "description": "user's password;<br>\nrequired if `'grant_type: password'`"
                  },
                  "grant_type": {
                    "type": "string",
                    "description": "can be `'password'`, `'refresh_token'`, `'authorization_code'`"
                  },
                  "scope": {
                    "type": "string"
                  },
                  "refresh_token": {
                    "type": "string",
                    "description": "required if `'grant_type: refresh_token'`"
                  },
                  "code": {
                    "type": "string",
                    "description": "required if `'grant_type: authorization_code'`"
                  },
                  "expiration_time": {
                    "type": "string",
                    "description": "the amount of time till the token expires in seconds."
                  }
                },
                "required": [
                  "username",
                  "password",
                  "grant_type"
                ]
              }
            }
          }
        }
      },
      "get": {
        "operationId": "get_oauth2_token",
        "summary": "Verify access token",
        "tags": [
          "OAuth2"
        ],
        "responses": {
          "200": {
            "description": "Returns the access_token itself as well as its' scope, expiration date, and type.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "access_token": {
                      "type": "string"
                    },
                    "scope": {
                      "type": "string"
                    },
                    "expires_in": {
                      "type": "string"
                    },
                    "token_type": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "\"invalid_token\" - either incorrect or expired token provided"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Verify an access token for a user"
      }
    },
    "/user": {
      "post": {
        "operationId": "post_user",
        "summary": "Create user",
        "tags": [
          "User"
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "verified": {
                      "type": "integer"
                    },
                    "email": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "* \"unverified_email\" - email has been registered on site before, but not verified\n* \"internal api error\" - request without a required field in body \n* \"User with email exists\" - email has been registered and verified on site before\n* \"Invalid payload\" - request without body"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Creates an account for a user",
        "security": [
          {
            "basicAuth": []
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string"
                  },
                  "password": {
                    "type": "string"
                  },
                  "first_name": {
                    "type": "string"
                  },
                  "last_name": {
                    "type": "string"
                  }
                },
                "required": [
                  "email",
                  "password"
                ]
              }
            }
          }
        }
      },
      "get": {
        "operationId": "get_user",
        "summary": "Get user info",
        "tags": [
          "User"
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "first_name": {
                      "type": "string"
                    },
                    "last_name": {
                      "type": "string"
                    },
                    "active": {
                      "type": "string"
                    },
                    "type": {
                      "type": "integer"
                    },
                    "pro": {
                      "type": "integer"
                    },
                    "created": {
                      "type": "string"
                    },
                    "emails": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "primary_email": {
                      "type": "string"
                    },
                    "subscriptions": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "subscription_id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "expired": {
                            "type": "integer"
                          },
                          "created": {
                            "type": "integer"
                          },
                          "updated": {
                            "type": "integer"
                          },
                          "plan": {
                            "type": "string"
                          },
                          "mobile_plan_type": {
                            "type": "string"
                          },
                          "credit_card": {
                            "type": "boolean"
                          },
                          "trial": {
                            "type": "boolean"
                          },
                          "term": {
                            "type": "integer"
                          }
                        }
                      }
                    },
                    "credits": {
                      "type": "integer"
                    },
                    "has_atticus_access": {
                      "type": "boolean"
                    },
                    "cloud_export_account_details": {
                      "type": "object"
                    },
                    "is_logged_in": {
                      "type": "boolean"
                    },
                    "billing_period": {
                      "type": "object",
                      "properties": {
                        "start_date": {
                          "type": "string"
                        },
                        "end_date": {
                          "type": "string"
                        },
                        "start_timestamp": {
                          "type": "integer"
                        },
                        "end_timestamp": {
                          "type": "integer"
                        }
                      }
                    },
                    "premium_access": {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "boolean"
                        },
                        "user": {
                          "type": "object",
                          "properties": {
                            "username": {
                              "type": "string"
                            },
                            "email": {
                              "type": "string"
                            },
                            "first_name": {
                              "type": "string"
                            },
                            "last_name": {
                              "type": "string"
                            },
                            "added_date": {
                              "type": "integer"
                            },
                            "status": {
                              "type": "string"
                            },
                            "admin": {
                              "type": "string"
                            }
                          }
                        },
                        "active": {
                          "type": "boolean"
                        },
                        "subscription": {
                          "type": "object",
                          "properties": {
                            "serial_number": {
                              "type": "string"
                            },
                            "name": {
                              "type": "string"
                            },
                            "term": {
                              "type": "integer"
                            },
                            "expired_at": {
                              "type": "integer"
                            },
                            "created_at": {
                              "type": "integer"
                            },
                            "updated_at": {
                              "type": "integer"
                            },
                            "key": {
                              "type": "string"
                            }
                          }
                        },
                        "plan": {
                          "type": "string"
                        },
                        "business": {
                          "type": "boolean"
                        },
                        "trial": {
                          "type": "boolean"
                        },
                        "credit_card": {
                          "type": "boolean"
                        }
                      }
                    },
                    "companies": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string"
                          },
                          "full_access": {
                            "type": "boolean"
                          }
                        }
                      }
                    },
                    "document_count": {
                      "type": "integer"
                    },
                    "monthly_document_count": {
                      "type": "string"
                    },
                    "teams": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "team": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          },
                          "created_since": {
                            "type": "string"
                          },
                          "role": {
                            "type": "string"
                          },
                          "admins": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "string"
                                },
                                "is_secondary": {
                                  "type": "string"
                                },
                                "email": {
                                  "type": "string"
                                },
                                "billing": {
                                  "type": "integer"
                                },
                                "document_access": {
                                  "type": "integer"
                                },
                                "primary": {
                                  "type": "boolean"
                                }
                              }
                            }
                          },
                          "document_count": {
                            "type": "integer"
                          }
                        }
                      }
                    },
                    "lifetime_document_count": {
                      "type": "integer"
                    },
                    "googleapps": {
                      "type": "boolean"
                    },
                    "facebookapps": {
                      "type": "boolean"
                    },
                    "status": {
                      "type": "object",
                      "properties": {
                        "bad_copy_token": {
                          "type": "boolean"
                        },
                        "has_copy_token": {
                          "type": "boolean"
                        },
                        "has_cloud_export_token": {
                          "type": "boolean"
                        },
                        "bad_cloud_export_token": {
                          "type": "boolean"
                        },
                        "has_salesforce_token": {
                          "type": "boolean"
                        }
                      }
                    },
                    "settings": {
                      "type": "object",
                      "properties": {
                        "no_document_attachment": {
                          "type": "boolean"
                        },
                        "copy_export": {
                          "type": "boolean"
                        },
                        "no_document_file_attachments": {
                          "type": "boolean"
                        },
                        "no_user_signature_return": {
                          "type": "boolean"
                        },
                        "mobileweb_option": {
                          "type": "boolean"
                        },
                        "require_drawn_signatures": {
                          "type": "boolean"
                        },
                        "org_allowed_team_admins": {
                          "type": "boolean"
                        },
                        "cloud_auto_export": {
                          "type": "boolean"
                        },
                        "digitally_sign_dowloaded_docs": {
                          "type": "boolean"
                        },
                        "invite_completion_redirect_url": {
                          "type": "boolean"
                        },
                        "invite_decline_redirect_url": {
                          "type": "boolean"
                        },
                        "add_signature_stamp": {
                          "type": "boolean"
                        },
                        "pending_invite_document_view_notification": {
                          "type": "boolean"
                        },
                        "signing_link_document_download": {
                          "type": "boolean"
                        },
                        "required_preset_signature_name": {
                          "type": "boolean"
                        },
                        "cloud_export_with_history": {
                          "type": "boolean"
                        },
                        "emailed_docs_include_history": {
                          "type": "boolean"
                        },
                        "document_completion_retention_days": {
                          "type": "boolean"
                        },
                        "enable_hyperlink_protection": {
                          "type": "boolean"
                        },
                        "enable_advanced_threat_protection": {
                          "type": "boolean"
                        },
                        "require_login_for_signing": {
                          "type": "boolean"
                        },
                        "logout_on_signing": {
                          "type": "boolean"
                        },
                        "audit_trail_completion_retention_days": {
                          "type": "boolean"
                        },
                        "front_end_session_length": {
                          "type": "boolean"
                        },
                        "email_admin_on_banned_login": {
                          "type": "boolean"
                        },
                        "add_signature_stamp_with_name": {
                          "type": "boolean"
                        },
                        "cfr_title_21_part_11": {
                          "type": "boolean"
                        },
                        "unsuccessful_logout_attempts_allowed": {
                          "type": "boolean"
                        },
                        "require_authentication_for_invites": {
                          "type": "boolean"
                        },
                        "electronic_consent_required": {
                          "type": "boolean"
                        },
                        "electronic_consent_text": {
                          "type": "boolean"
                        },
                        "document_guide": {
                          "type": "boolean"
                        },
                        "watermark_downloaded_document": {
                          "type": "boolean"
                        },
                        "restrict_download": {
                          "type": "boolean"
                        },
                        "disable_email_notifications": {
                          "type": "boolean"
                        },
                        "upload_limit": {
                          "type": "boolean"
                        },
                        "document_schema_extended": {
                          "type": "boolean"
                        },
                        "invite_update_notifications_for_all_invites_at_invite_create": {
                          "type": "boolean"
                        },
                        "enable_full_story_tracker": {
                          "type": "boolean"
                        },
                        "document_attachment_only_for_signer": {
                          "type": "boolean"
                        },
                        "sso-only-login": {
                          "type": "boolean"
                        },
                        "block_export_options_when_credit_card_validation_is_used": {
                          "type": "boolean"
                        },
                        "only_administrator_is_able_to_invite_to_the_team": {
                          "type": "boolean"
                        },
                        "block_login_via_social_networks": {
                          "type": "boolean"
                        }
                      }
                    },
                    "organization_settings": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "setting": {
                            "type": "string"
                          },
                          "value": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "issue_notifications": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "merchant_accounts": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "organization": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        },
                        "deleted": {
                          "type": "string"
                        },
                        "created": {
                          "type": "string"
                        },
                        "updated": {
                          "type": "string"
                        },
                        "domains": {
                          "type": "array",
                          "items": {
                            "type": "object"
                          }
                        },
                        "logos": {
                          "type": "array",
                          "items": {
                            "type": "object"
                          }
                        },
                        "active_logo": {
                          "type": "array",
                          "items": {
                            "type": "object"
                          }
                        },
                        "is_admin": {
                          "type": "boolean"
                        },
                        "is_superadmin": {
                          "type": "boolean"
                        },
                        "teams": {
                          "type": "array",
                          "items": {
                            "type": "object"
                          }
                        }
                      }
                    },
                    "registration_source": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Request with incorrect token"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Returns a user resource"
      },
      "put": {
        "operationId": "put_user",
        "summary": "Change user details",
        "tags": [
          "User"
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "first_name": {
                      "type": "string"
                    },
                    "last_name": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Updates user informaition i.e. first name, last name",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "first_name": {
                    "type": "string"
                  },
                  "last_name": {
                    "type": "string"
                  },
                  "password": {
                    "type": "string"
                  },
                  "old_password": {
                    "type": "string"
                  },
                  "logout_all": {
                    "type": "string",
                    "description": "if \"true\" - all user tokens with \"scope =*\" expire\n\nif \"false\" - all user tokens except current one are expired \n\nNote: parameter must have string format. \n\nDefault value - \"true\""
                  }
                }
              }
            }
          }
        }
      }
    },
    "/user/verifyemail": {
      "post": {
        "operationId": "post_user_verifyemail",
        "summary": "Send verification email",
        "tags": [
          "User"
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "* \"Could not send verification email\" - request  with not existing email address\n* \"User email is already verified\" - request with already verified email address"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Sends verification email to a user",
        "security": [
          {
            "basicAuth": []
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/user/email/verify": {
      "put": {
        "operationId": "put_user_email_verify",
        "summary": "Verify email",
        "tags": [
          "User"
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "email": {
                      "type": "string",
                      "format": "email"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": ""
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Verifies user's email address using code from verification email",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "'Basic' followed by base64 encoded client credentials."
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email"
                  },
                  "verification_token": {
                    "type": "string"
                  }
                },
                "required": [
                  "email",
                  "verification_token"
                ]
              }
            }
          }
        }
      }
    },
    "/user/forgotpassword": {
      "post": {
        "operationId": "post_user_forgotpassword",
        "summary": "Reset password",
        "tags": [
          "User"
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "description": "Request with incorrect or mising email "
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Sends password reset link via email",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Basic authorization token"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email"
                  }
                },
                "required": [
                  "email"
                ]
              }
            }
          }
        }
      }
    },
    "/user/documentsv2": {
      "get": {
        "operationId": "get_user_documentsv2",
        "summary": "Get modified documents",
        "tags": [
          "User"
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "user_id": {
                        "type": "string"
                      },
                      "document_name": {
                        "type": "string"
                      },
                      "page_count": {
                        "type": "string"
                      },
                      "created": {
                        "type": "string"
                      },
                      "updated": {
                        "type": "string"
                      },
                      "original_filename": {
                        "type": "string"
                      },
                      "origin_document_id": {
                        "type": "string"
                      },
                      "owner": {
                        "type": "string"
                      },
                      "template": {
                        "type": "boolean"
                      },
                      "origin_user_id": {
                        "type": "string"
                      },
                      "thumbnail": {
                        "type": "object",
                        "properties": {
                          "small": {
                            "type": "string"
                          },
                          "medium": {
                            "type": "string"
                          },
                          "large": {
                            "type": "string"
                          }
                        }
                      },
                      "signatures": {
                        "type": "array",
                        "items": {
                          "type": "object"
                        }
                      },
                      "seals": {
                        "type": "array",
                        "items": {
                          "type": "object"
                        }
                      },
                      "texts": {
                        "type": "array",
                        "items": {
                          "type": "object"
                        }
                      },
                      "checks": {
                        "type": "array",
                        "items": {
                          "type": "object"
                        }
                      },
                      "inserts": {
                        "type": "array",
                        "items": {
                          "type": "object"
                        }
                      },
                      "tags": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string"
                            },
                            "name": {
                              "type": "string"
                            }
                          }
                        }
                      },
                      "fields": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string"
                            },
                            "type": {
                              "type": "string"
                            },
                            "role_id": {
                              "type": "string"
                            },
                            "json_attributes": {
                              "type": "object",
                              "properties": {
                                "page_number": {
                                  "type": "integer"
                                },
                                "x": {
                                  "type": "integer"
                                },
                                "y": {
                                  "type": "integer"
                                },
                                "width": {
                                  "type": "integer"
                                },
                                "height": {
                                  "type": "integer"
                                },
                                "required": {
                                  "type": "boolean"
                                },
                                "name": {
                                  "type": "string"
                                },
                                "bold": {
                                  "type": "boolean"
                                },
                                "italic": {
                                  "type": "boolean"
                                },
                                "underline": {
                                  "type": "boolean"
                                },
                                "align": {
                                  "type": "string"
                                },
                                "valign": {
                                  "type": "string"
                                },
                                "arrangement": {
                                  "type": "string"
                                },
                                "size": {
                                  "type": "integer"
                                },
                                "max_chars": {
                                  "type": "integer"
                                },
                                "max_lines": {
                                  "type": "integer"
                                },
                                "font": {
                                  "type": "string"
                                }
                              }
                            },
                            "role": {
                              "type": "string"
                            },
                            "originator": {
                              "type": "string"
                            },
                            "fulfiller": {
                              "type": "string"
                            },
                            "field_request_id": {
                              "type": "string"
                            },
                            "element_id": {
                              "type": "string"
                            },
                            "field_request_canceled": {
                              "type": "boolean"
                            },
                            "template_field_id": {
                              "type": "string"
                            },
                            "field_id": {
                              "type": "string"
                            }
                          }
                        }
                      },
                      "requests": {
                        "type": "array",
                        "items": {
                          "type": "object"
                        }
                      },
                      "notary_invites": {
                        "type": "array",
                        "items": {
                          "type": "object"
                        }
                      },
                      "roles": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "unique_id": {
                              "type": "string"
                            },
                            "signing_order": {
                              "type": "string"
                            },
                            "name": {
                              "type": "string"
                            }
                          }
                        }
                      },
                      "field_invites": {
                        "type": "array",
                        "items": {
                          "type": "object"
                        }
                      },
                      "version_time": {
                        "type": "string"
                      },
                      "enumeration_options": {
                        "type": "array",
                        "items": {
                          "type": "object"
                        }
                      },
                      "attachments": {
                        "type": "array",
                        "items": {
                          "type": "object"
                        }
                      },
                      "routing_details": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string"
                            },
                            "data": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "default_email": {
                                    "type": "string"
                                  },
                                  "inviter_role": {
                                    "type": "boolean"
                                  },
                                  "name": {
                                    "type": "string"
                                  },
                                  "role_id": {
                                    "type": "string"
                                  },
                                  "signing_order": {
                                    "type": "integer"
                                  }
                                }
                              }
                            },
                            "created": {
                              "type": "string"
                            },
                            "updated": {
                              "type": "integer"
                            },
                            "cc": {
                              "type": "array",
                              "items": {
                                "type": "object"
                              }
                            },
                            "cc_step": {
                              "type": "array",
                              "items": {
                                "type": "object"
                              }
                            },
                            "invite_link_instructions": {
                              "type": "string"
                            }
                          }
                        }
                      },
                      "integrations": {
                        "type": "array",
                        "items": {
                          "type": "object"
                        }
                      },
                      "hyperlinks": {
                        "type": "array",
                        "items": {
                          "type": "object"
                        }
                      },
                      "radiobuttons": {
                        "type": "array",
                        "items": {
                          "type": "object"
                        }
                      },
                      "document_group_template_info": {
                        "type": "array",
                        "items": {
                          "type": "object"
                        }
                      },
                      "originator_organization_settings": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "setting": {
                              "type": "string"
                            },
                            "value": {
                              "type": "string"
                            }
                          }
                        }
                      },
                      "document_group_info": {
                        "type": "object",
                        "properties": {
                          "document_group_id": {
                            "type": "string"
                          },
                          "document_group_name": {
                            "type": "string"
                          },
                          "invite_id": {
                            "type": "string"
                          },
                          "invite_status": {
                            "type": "string"
                          },
                          "doc_count_in_group": {
                            "type": "integer"
                          }
                        }
                      },
                      "settings": {
                        "type": "object",
                        "properties": {
                          "no_document_attachment": {
                            "type": "boolean"
                          },
                          "copy_export": {
                            "type": "boolean"
                          },
                          "no_document_file_attachments": {
                            "type": "boolean"
                          },
                          "no_user_signature_return": {
                            "type": "boolean"
                          },
                          "mobileweb_option": {
                            "type": "boolean"
                          },
                          "require_drawn_signatures": {
                            "type": "boolean"
                          },
                          "org_allowed_team_admins": {
                            "type": "boolean"
                          },
                          "cloud_auto_export": {
                            "type": "boolean"
                          },
                          "digitally_sign_dowloaded_docs": {
                            "type": "boolean"
                          },
                          "invite_completion_redirect_url": {
                            "type": "boolean"
                          },
                          "invite_decline_redirect_url": {
                            "type": "boolean"
                          },
                          "add_signature_stamp": {
                            "type": "boolean"
                          },
                          "pending_invite_document_view_notification": {
                            "type": "boolean"
                          },
                          "signing_link_document_download": {
                            "type": "boolean"
                          },
                          "required_preset_signature_name": {
                            "type": "boolean"
                          },
                          "cloud_export_with_history": {
                            "type": "boolean"
                          },
                          "emailed_docs_include_history": {
                            "type": "boolean"
                          },
                          "require_email_subject": {
                            "type": "boolean"
                          },
                          "document_completion_retention_days": {
                            "type": "boolean"
                          },
                          "enable_hyperlink_protection": {
                            "type": "boolean"
                          },
                          "enable_advanced_threat_protection": {
                            "type": "boolean"
                          },
                          "require_login_for_signing": {
                            "type": "boolean"
                          },
                          "logout_on_signing": {
                            "type": "boolean"
                          },
                          "audit_trail_completion_retention_days": {
                            "type": "boolean"
                          },
                          "front_end_session_length": {
                            "type": "boolean"
                          },
                          "email_admin_on_banned_login": {
                            "type": "boolean"
                          },
                          "add_signature_stamp_with_name": {
                            "type": "boolean"
                          },
                          "cfr_title_21_part_11": {
                            "type": "boolean"
                          },
                          "unsuccessful_logout_attempts_allowed": {
                            "type": "boolean"
                          },
                          "require_authentication_for_invites": {
                            "type": "boolean"
                          },
                          "electronic_consent_required": {
                            "type": "boolean"
                          },
                          "electronic_consent_text": {
                            "type": "boolean"
                          },
                          "document_guide": {
                            "type": "boolean"
                          },
                          "watermark_downloaded_document": {
                            "type": "boolean"
                          },
                          "restrict_download": {
                            "type": "boolean"
                          },
                          "disable_email_notifications": {
                            "type": "boolean"
                          },
                          "upload_limit": {
                            "type": "boolean"
                          },
                          "document_schema_extended": {
                            "type": "boolean"
                          },
                          "invite_update_notifications_for_all_invites_at_invite_create": {
                            "type": "boolean"
                          },
                          "enable_full_story_tracker": {
                            "type": "boolean"
                          },
                          "document_attachment_only_for_signer": {
                            "type": "boolean"
                          },
                          "sso-only-login": {
                            "type": "boolean"
                          },
                          "block_export_options_when_credit_card_validation_is_used": {
                            "type": "boolean"
                          },
                          "only_administrator_is_able_to_invite_to_the_team": {
                            "type": "boolean"
                          },
                          "block_login_via_social_networks": {
                            "type": "boolean"
                          }
                        }
                      },
                      "": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Returns an array of user's documents that were modified (added fields, texts, signatures, etc.)"
      }
    },
    "/document": {
      "post": {
        "operationId": "post_document",
        "summary": "Upload document",
        "tags": [
          "Document"
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Uploads a file to user's account and returns unique id of the uploaded document. Accepts .doc, .docx, .pdf, .xls, .xlsx, .ppt, .pptx and .png file types.",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "description": "@/path/to/your/file.pdf"
                  }
                },
                "required": [
                  "file"
                ]
              }
            }
          }
        }
      }
    },
    "/document/fieldextract": {
      "post": {
        "operationId": "post_document_fieldextract",
        "summary": "Upload document with tags",
        "tags": [
          "Document"
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Uploads a file that contains [SignNow Text Tags](/docs/text-tags). Only .doc, .docx, and .pdf are supported",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "description": "Path to the file"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/document/{document_id}/download": {
      "get": {
        "operationId": "get_document_{document_id}_download",
        "summary": "Download document",
        "tags": [
          "Document"
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Downloads a document",
        "parameters": [
          {
            "name": "document_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Possible values are \"collapsed\" or \"zip\". Collapsed returns the raw data of the pdf document that can be written to a blank .pdf file. Zip returns the raw data of a zip file containing the pdf and any attachments on that document that can be written to blank a .zip file."
          },
          {
            "name": "with_history",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "downloads collapsed document with a table containing the document's history if with_history=1"
          }
        ]
      }
    },
    "/document/{document_id}/move": {
      "post": {
        "operationId": "post_document_{document_id}_move",
        "summary": "Move document",
        "tags": [
          "Document"
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Moves a document into specified folder",
        "parameters": [
          {
            "name": "document_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "folder_id": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/document/{document_id}/invite": {
      "post": {
        "operationId": "post_document_{document_id}_invite",
        "summary": "Send an invite to sign",
        "tags": [
          "Document"
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Create and sends an invite to sign a document. \nThere are 2 types of signature invite:\n* Free form invite - for document without fillable fields\n* Role-based invite - document has at least one field\nThese 2 types of invite require different payloads",
        "parameters": [
          {
            "name": "document_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "to": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "email": {
                          "type": "string"
                        },
                        "role_id": {
                          "type": "string"
                        },
                        "role": {
                          "type": "string"
                        },
                        "order": {
                          "type": "integer"
                        }
                      }
                    }
                  },
                  "from": {
                    "type": "string"
                  },
                  "cc": {
                    "type": "array",
                    "items": {
                      "type": "object"
                    }
                  },
                  "subject": {
                    "type": "string"
                  },
                  "message": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/document/{document_id}/fieldinvitecancel": {
      "put": {
        "operationId": "put_document_{document_id}_fieldinvitecancel",
        "summary": "Cancel invite",
        "tags": [
          "Document"
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Cancels an invite to a document.",
        "parameters": [
          {
            "name": "document_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/document/{document_id}/download/link": {
      "post": {
        "operationId": "post_document_{document_id}_download_link",
        "summary": "Get document download link",
        "tags": [
          "Document"
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "link": {
                      "type": "string",
                      "format": "uri"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Returns a one-time use URL for anyone to download the document as a PDF.",
        "parameters": [
          {
            "name": "document_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/document/{document_id}/custom_history_event": {
      "post": {
        "operationId": "post_document_{document_id}_custom_history_event",
        "summary": "Add custom event",
        "tags": [
          "Document"
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Allows third party developers to add custom events to the audit log. For example, if you are using a single SignNow account to make API calls but authenticating multiple people, use this call to add a record to the audit log for that specific document that references the authentication method.",
        "parameters": [
          {
            "name": "document_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "client_timestamp": {
                    "type": "integer"
                  },
                  "event_type": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/document/merge": {
      "post": {
        "operationId": "post_document_merge",
        "summary": "Merge documents",
        "tags": [
          "Document"
        ],
        "responses": {
          "200": {
            "description": "Downloads merged PDF. ",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Merges existing documents into one.",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "document_ids": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/document/{document_id}/historyfull": {
      "get": {
        "operationId": "get_document_{document_id}_historyfull",
        "summary": "Get document history",
        "tags": [
          "Document"
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Returns the history of a document.",
        "parameters": [
          {
            "name": "document_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/documentgroup": {
      "post": {
        "operationId": "post_documentgroup",
        "summary": "Create document group",
        "tags": [
          "Document Group"
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Creates a document group from a list of document ids\n\nAll documents:\n* Must be owned by the person creating the document group.\n* Cannot be templates.\n* Cannot already be a part of another document group (delete document group first to add them).\n* At least one of the documents must have fields.\n\n\n\n",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "document_ids": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "group_name": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/documentgroup/{document_group_id}": {
      "get": {
        "operationId": "get_documentgroup_{document_group_id}",
        "summary": "Get document group",
        "tags": [
          "Document Group"
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "group_name": {
                      "type": "string"
                    },
                    "invite_id": {
                      "type": "string"
                    },
                    "documents": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "roles": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "document_name": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "thumbnail": {
                            "type": "object",
                            "properties": {
                              "small": {
                                "type": "string",
                                "format": "uri"
                              },
                              "medium": {
                                "type": "string",
                                "format": "uri"
                              },
                              "large": {
                                "type": "string",
                                "format": "uri"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Returns document and roles information for documents in a document group. The invite_id property is null if there is no group invite for the group yet.",
        "parameters": [
          {
            "name": "document_group_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "delete": {
        "operationId": "delete_documentgroup_{document_group_id}",
        "summary": "Delete document group",
        "tags": [
          "Document Group"
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Deletes a document group. Documents within the group are not deleted. Document groups cannot be deleted while they have a group invite",
        "parameters": [
          {
            "name": "document_group_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/user/documentgroups": {
      "get": {
        "operationId": "get_user_documentgroups",
        "summary": "Get document groups",
        "tags": [
          "Document Group"
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "document_groups": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "last_updated": {
                            "type": "string"
                          },
                          "group_id": {
                            "type": "string"
                          },
                          "group_name": {
                            "type": "string"
                          },
                          "invite_id": {
                            "type": "string"
                          },
                          "invite_status": {
                            "type": "string"
                          },
                          "documents": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "string"
                                },
                                "name": {
                                  "type": "string"
                                },
                                "thumbnail": {
                                  "type": "object",
                                  "properties": {
                                    "small": {
                                      "type": "string"
                                    },
                                    "medium": {
                                      "type": "string"
                                    },
                                    "large": {
                                      "type": "string"
                                    }
                                  }
                                },
                                "has_credit_card_number": {
                                  "type": "boolean"
                                },
                                "roles": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "document_group_total_count": {
                      "type": "integer"
                    },
                    "originator_organization_settings": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Returns back all document groups the user owns. \n\nThe call is paginated by last_updated, so offset and limit query parameters are required:\n1. Limit must be greater than 0 but less than or equal to 50.\n2. Offset must be 0 or greater.",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ]
      }
    },
    "/documentgroup/{document_group_id}/groupinvite": {
      "post": {
        "operationId": "post_documentgroup_{document_group_id}_groupinvite",
        "summary": "Invite to sign document group",
        "tags": [
          "Document Group"
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Creates a multi-step invite for a document group. Each invite step consists of invite_email objects that set the email message or can disable emails all together for specific user. Invite steps also are made of the invite_action objects that need to be completed before the step is considered complete. Once all the invite_actions are completed, the next step's invite emails are sent out. When all steps have been completed, completion emails are sent out.",
        "parameters": [
          {
            "name": "document_group_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "invite_steps": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "order": {
                          "type": "integer"
                        },
                        "invite_emails": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "email": {
                                "type": "string",
                                "format": "email"
                              },
                              "disabled": {
                                "type": "integer"
                              },
                              "subject": {
                                "type": "string"
                              },
                              "message": {
                                "type": "string"
                              }
                            }
                          }
                        },
                        "invite_actions": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "email": {
                                "type": "string",
                                "format": "email"
                              },
                              "role_name": {
                                "type": "string"
                              },
                              "action": {
                                "type": "string"
                              },
                              "document_id": {
                                "type": "string"
                              },
                              "allow_reassign": {
                                "type": "integer"
                              },
                              "authentication": {
                                "type": "object",
                                "properties": {
                                  "type": {
                                    "type": "string"
                                  },
                                  "value": {
                                    "type": "string"
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  },
                  "completion_emails": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "email": {
                          "type": "string",
                          "format": "email"
                        },
                        "disabled": {
                          "type": "integer"
                        },
                        "subject": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/documentgroup/{document_group_id}/groupinvite/{invite_id}": {
      "get": {
        "operationId": "get_documentgroup_{document_group_id}_groupinvite_{invite_id}",
        "summary": "Get document group invite",
        "tags": [
          "Document Group"
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "invite": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "status": {
                          "type": "string"
                        },
                        "steps": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "status": {
                                "type": "string"
                              },
                              "order": {
                                "type": "integer"
                              },
                              "actions": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "action": {
                                      "type": "string"
                                    },
                                    "email": {
                                      "type": "string"
                                    },
                                    "document_id": {
                                      "type": "string"
                                    },
                                    "status": {
                                      "type": "string"
                                    },
                                    "role_name": {
                                      "type": "string"
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Returns invite action information for a group invite, including the status of each step and action.\nHere is the list of possible invite action statuses:\n1. 'created': invite or action has been created but is not waiting to be signed\n2. 'pending': emails have been sent out for this invite action or step and are waiting to be viewed or signed\n3. 'fulfilled': actions and steps that have been finished by singing or viewing",
        "parameters": [
          {
            "name": "document_group_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "invite_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/documentgroup/{document_group_id}/groupinvite/{invite_id}/cancelinvite": {
      "post": {
        "operationId": "post_documentgroup_{document_group_id}_groupinvite_{invite_id}_cancelinvite",
        "summary": "Cancel document group invite",
        "tags": [
          "Document Group"
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Cancels a group invite. All documents will be unshared with invitees. Any signatures that occurred before canceling will remain on the documents.",
        "parameters": [
          {
            "name": "document_group_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "invite_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/documentgroup/{document_group_id}/groupinvite/{invite_id}/pendinginvites": {
      "get": {
        "operationId": "get_documentgroup_{document_group_id}_groupinvite_{invite_id}_pendinginvites",
        "summary": "Get pending group invites",
        "tags": [
          "Document Group"
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "invites": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "link": {
                            "type": "string"
                          },
                          "document_name": {
                            "type": "string"
                          },
                          "inviter_email": {
                            "type": "string"
                          },
                          "action": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "document_group_name": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Returns all pending invite information as well as invites already signed for a group invite for the user that makes the call. If the user making the call is the document owner, it will return pending invites for that user and ALL actions that have already been fulfilled.",
        "parameters": [
          {
            "name": "document_group_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "invite_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/documentgroup/{document_group_id}/groupinvite/{invite_id}/resendinvites": {
      "post": {
        "operationId": "post_documentgroup_{document_group_id}_groupinvite_{invite_id}_resendinvites",
        "summary": "Resend document group invite",
        "tags": [
          "Document Group"
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Resends invite emails to those with pending invites for the group invite. Resend can also be used to resend invites to a single user if the user's email is specified in the POST JSON body.",
        "parameters": [
          {
            "name": "document_group_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "invite_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/documentgroup/{document_group_id}/groupinvite/{invite_id}/invitestep/{step_id}/update": {
      "post": {
        "operationId": "post_documentgroup_{document_group_id}_groupinvite_{invite_id}_invitestep_{step_id}_update",
        "summary": "Update document group invite",
        "tags": [
          "Document Group"
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Either replaces invitees for a particular step or updates the invite attributes for a user at a particular step",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "user_to_update": {
                    "type": "string"
                  },
                  "invite_email": {
                    "type": "object",
                    "properties": {
                      "email": {
                        "type": "string"
                      },
                      "reminder": {
                        "type": "integer"
                      },
                      "expiration_days": {
                        "type": "integer"
                      }
                    }
                  },
                  "update_invite_action_attributes": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "document_id": {
                          "type": "string"
                        },
                        "allow_reassign": {
                          "type": "integer"
                        },
                        "decline_by_signature": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "replace_with_this_user": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "document_group_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "invite_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "step_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/template": {
      "post": {
        "operationId": "post_template",
        "summary": "Create template",
        "tags": [
          "Template"
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Creates a template by flattening an existing document.",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "document_id": {
                    "type": "string"
                  },
                  "document_name": {
                    "type": "string"
                  }
[...]
