{
  "openapi": "3.1.0",
  "info": {
    "version": "1.0.0",
    "title": "Information Request Interface",
    "description": "Multi-file boilerplate for OpenAPI Specification.",
    "license": {
      "name": "\u05e8\u05e9\u05d5\u05ea \u05e9\u05d5\u05e7 \u05d4\u05d4\u05d5\u05df \u05d1\u05d9\u05d8\u05d5\u05d7 \u05d5\u05d7\u05e1\u05db\u05d5\u05df"
    },
    "contact": {
      "name": "API Support",
      "url": "http://www.example.com/support",
      "email": "support@example.com"
    },
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/CapitalMarket/InformationRequestInterface/1.0.0"
  },
  "servers": [
    {
      "url": "https://api.mof.gov.il",
      "description": "Ministry of Finance API Server"
    }
  ],
  "tags": [
    {
      "name": "Ministry Of Finance"
    }
  ],
  "paths": {
    "/v1/preCounseling": {
      "post": {
        "summary": "pre-counseling",
        "operationId": "pre-counseling",
        "description": "\u05e1\u05dc \u05de\u05d9\u05d3\u05e2 - \u05d8\u05e8\u05d5\u05dd \u05d9\u05d9\u05e2\u05d5\u05e5",
        "tags": [
          "\u05e1\u05dc \u05de\u05d9\u05d3\u05e2 - \u05d7\u05e9\u05d1\u05d5\u05df \u05d0\u05d5 \u05e4\u05d5\u05dc\u05d9\u05e1\u05d4"
        ],
        "requestBody": {
          "description": "pre-counseling request body",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/pre-counseling"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Accepted - Request has been accepted for processing (Async)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/pre-counseling-response"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400-BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/401-Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/403-Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/404-NotFound"
          },
          "422": {
            "$ref": "#/components/responses/422-UnprocessableEntity"
          },
          "500": {
            "$ref": "#/components/responses/500-InternalServerError"
          },
          "default": {
            "$ref": "#/components/responses/default-UnexpectedError"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/X-Request-ID"
          },
          {
            "$ref": "#/components/parameters/PSU-ID"
          },
          {
            "$ref": "#/components/parameters/Digest"
          },
          {
            "$ref": "#/components/parameters/Signature"
          },
          {
            "$ref": "#/components/parameters/PSU-IP-Address"
          },
          {
            "$ref": "#/components/parameters/PSU-User-Agent"
          },
          {
            "$ref": "#/components/parameters/Date"
          },
          {
            "$ref": "#/components/parameters/TPP-Signature-Certificate"
          },
          {
            "$ref": "#/components/parameters/Idempotency-Key"
          }
        ]
      }
    },
    "/v1/managementFees": {
      "post": {
        "summary": "management-fees",
        "operationId": "management-fees",
        "description": "\u05e1\u05dc \u05de\u05d9\u05d3\u05e2 - \u05d3\u05de\u05d9 \u05e0\u05d9\u05d4\u05d5\u05dc",
        "tags": [
          "\u05e1\u05dc \u05de\u05d9\u05d3\u05e2 - \u05d7\u05e9\u05d1\u05d5\u05df \u05d0\u05d5 \u05e4\u05d5\u05dc\u05d9\u05e1\u05d4"
        ],
        "requestBody": {
          "description": "management-fees request body",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/management-fees"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Accepted - Request has been accepted for processing (Async)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/management-fees-response"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400-BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/401-Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/403-Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/404-NotFound"
          },
          "422": {
            "$ref": "#/components/responses/422-UnprocessableEntity"
          },
          "500": {
            "$ref": "#/components/responses/500-InternalServerError"
          },
          "default": {
            "$ref": "#/components/responses/default-UnexpectedError"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/X-Request-ID"
          },
          {
            "$ref": "#/components/parameters/PSU-ID"
          },
          {
            "$ref": "#/components/parameters/Digest"
          },
          {
            "$ref": "#/components/parameters/Signature"
          },
          {
            "$ref": "#/components/parameters/PSU-IP-Address"
          },
          {
            "$ref": "#/components/parameters/PSU-User-Agent"
          },
          {
            "$ref": "#/components/parameters/Date"
          },
          {
            "$ref": "#/components/parameters/TPP-Signature-Certificate"
          },
          {
            "$ref": "#/components/parameters/Idempotency-Key"
          }
        ]
      }
    },
    "/v1/beneficiaries": {
      "post": {
        "summary": "beneficiaries",
        "operationId": "beneficiaries",
        "description": "\u05e1\u05dc \u05de\u05d9\u05d3\u05e2 - \u05de\u05d5\u05d8\u05d1\u05d9\u05dd",
        "tags": [
          "\u05e1\u05dc \u05de\u05d9\u05d3\u05e2 - \u05d7\u05e9\u05d1\u05d5\u05df \u05d0\u05d5 \u05e4\u05d5\u05dc\u05d9\u05e1\u05d4"
        ],
        "requestBody": {
          "description": "beneficiaries request body",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/beneficiaries"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Accepted - Request has been accepted for processing (Async)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/beneficiaries-response"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400-BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/401-Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/403-Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/404-NotFound"
          },
          "422": {
            "$ref": "#/components/responses/422-UnprocessableEntity"
          },
          "500": {
            "$ref": "#/components/responses/500-InternalServerError"
          },
          "default": {
            "$ref": "#/components/responses/default-UnexpectedError"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/X-Request-ID"
          },
          {
            "$ref": "#/components/parameters/PSU-ID"
          },
          {
            "$ref": "#/components/parameters/Digest"
          },
          {
            "$ref": "#/components/parameters/Signature"
          },
          {
            "$ref": "#/components/parameters/PSU-IP-Address"
          },
          {
            "$ref": "#/components/parameters/PSU-User-Agent"
          },
          {
            "$ref": "#/components/parameters/Date"
          },
          {
            "$ref": "#/components/parameters/TPP-Signature-Certificate"
          },
          {
            "$ref": "#/components/parameters/Idempotency-Key"
          }
        ]
      }
    },
    "/v1/accountPolicyStatus": {
      "post": {
        "summary": "account-policy-status",
        "operationId": "account-policy-status",
        "description": "\u05e1\u05dc \u05de\u05d9\u05d3\u05e2 - \u05e1\u05d8\u05d8\u05d5\u05e1 \u05d7\u05e9\u05d1\u05d5\u05df \u05d0\u05d5 \u05e4\u05d5\u05dc\u05d9\u05e1\u05d9\u05d4 ",
        "tags": [
          "\u05e1\u05dc \u05de\u05d9\u05d3\u05e2 - \u05d7\u05e9\u05d1\u05d5\u05df \u05d0\u05d5 \u05e4\u05d5\u05dc\u05d9\u05e1\u05d4"
        ],
        "requestBody": {
          "description": "account-policy-status request body",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/account-policy-status"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Accepted - Request has been accepted for processing (Async)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/account-policy-status-response"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400-BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/401-Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/403-Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/404-NotFound"
          },
          "422": {
            "$ref": "#/components/responses/422-UnprocessableEntity"
          },
          "500": {
            "$ref": "#/components/responses/500-InternalServerError"
          },
          "default": {
            "$ref": "#/components/responses/default-UnexpectedError"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/X-Request-ID"
          },
          {
            "$ref": "#/components/parameters/PSU-ID"
          },
          {
            "$ref": "#/components/parameters/Digest"
          },
          {
            "$ref": "#/components/parameters/Signature"
          },
          {
            "$ref": "#/components/parameters/PSU-IP-Address"
          },
          {
            "$ref": "#/components/parameters/PSU-User-Agent"
          },
          {
            "$ref": "#/components/parameters/Date"
          },
          {
            "$ref": "#/components/parameters/TPP-Signature-Certificate"
          },
          {
            "$ref": "#/components/parameters/Idempotency-Key"
          }
        ]
      }
    },
    "/v1/existingLoan": {
      "post": {
        "summary": "existing-loan",
        "operationId": "existing-loan",
        "description": "\u05e1\u05dc \u05de\u05d9\u05d3\u05e2 - \u05d4\u05dc\u05d5\u05d5\u05d0\u05d4 \u05e7\u05d9\u05d9\u05de\u05ea ",
        "tags": [
          "\u05e1\u05dc \u05de\u05d9\u05d3\u05e2 - \u05d7\u05e9\u05d1\u05d5\u05df \u05d0\u05d5 \u05e4\u05d5\u05dc\u05d9\u05e1\u05d4"
        ],
        "requestBody": {
          "description": "existing-loan request body",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/existing-loan"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Accepted - Request has been accepted for processing (Async)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/existing-loan-response"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400-BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/401-Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/403-Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/404-NotFound"
          },
          "422": {
            "$ref": "#/components/responses/422-UnprocessableEntity"
          },
          "500": {
            "$ref": "#/components/responses/500-InternalServerError"
          },
          "default": {
            "$ref": "#/components/responses/default-UnexpectedError"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/X-Request-ID"
          },
          {
            "$ref": "#/components/parameters/PSU-ID"
          },
          {
            "$ref": "#/components/parameters/Digest"
          },
          {
            "$ref": "#/components/parameters/Signature"
          },
          {
            "$ref": "#/components/parameters/PSU-IP-Address"
          },
          {
            "$ref": "#/components/parameters/PSU-User-Agent"
          },
          {
            "$ref": "#/components/parameters/Date"
          },
          {
            "$ref": "#/components/parameters/TPP-Signature-Certificate"
          },
          {
            "$ref": "#/components/parameters/Idempotency-Key"
          }
        ]
      }
    },
    "/v1/creditEligibility": {
      "post": {
        "summary": "credit-eligibility",
        "operationId": "credit-eligibility",
        "description": "\u05e1\u05dc \u05de\u05d9\u05d3\u05e2 - \u05d0\u05e9\u05e8\u05d0\u05d9 - \u05d6\u05db\u05d0\u05d5\u05ea \u05dc\u05d4\u05e6\u05e2\u05d5\u05ea \u05d5\u05dc\u05d4\u05dc\u05d5\u05d5\u05d0\u05d4 ",
        "tags": [
          "\u05e1\u05dc \u05de\u05d9\u05d3\u05e2 - \u05d7\u05e9\u05d1\u05d5\u05df \u05d0\u05d5 \u05e4\u05d5\u05dc\u05d9\u05e1\u05d4"
        ],
        "requestBody": {
          "description": "credit-eligibility request body",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/credit-eligibility"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Accepted - Request has been accepted for processing (Async)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/credit-eligibility-response"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400-BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/401-Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/403-Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/404-NotFound"
          },
          "422": {
            "$ref": "#/components/responses/422-UnprocessableEntity"
          },
          "500": {
            "$ref": "#/components/responses/500-InternalServerError"
          },
          "default": {
            "$ref": "#/components/responses/default-UnexpectedError"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/X-Request-ID"
          },
          {
            "$ref": "#/components/parameters/PSU-ID"
          },
          {
            "$ref": "#/components/parameters/Digest"
          },
          {
            "$ref": "#/components/parameters/Signature"
          },
          {
            "$ref": "#/components/parameters/PSU-IP-Address"
          },
          {
            "$ref": "#/components/parameters/PSU-User-Agent"
          },
          {
            "$ref": "#/components/parameters/Date"
          },
          {
            "$ref": "#/components/parameters/TPP-Signature-Certificate"
          },
          {
            "$ref": "#/components/parameters/Idempotency-Key"
          }
        ]
      }
    },
    "/v1/claims": {
      "post": {
        "summary": "claims",
        "operationId": "claims",
        "description": " \u05e1\u05dc \u05de\u05d9\u05d3\u05e2 - \u05ea\u05d1\u05d9\u05e2\u05d5\u05ea ",
        "tags": [
          "\u05e1\u05dc \u05de\u05d9\u05d3\u05e2 - \u05d7\u05e9\u05d1\u05d5\u05df \u05d0\u05d5 \u05e4\u05d5\u05dc\u05d9\u05e1\u05d4"
        ],
        "requestBody": {
          "description": "claims request body",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/claims"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Accepted - Request has been accepted for processing (Async)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/claims-response"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400-BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/401-Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/403-Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/404-NotFound"
          },
          "422": {
            "$ref": "#/components/responses/422-UnprocessableEntity"
          },
          "500": {
            "$ref": "#/components/responses/500-InternalServerError"
          },
          "default": {
            "$ref": "#/components/responses/default-UnexpectedError"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/X-Request-ID"
          },
          {
            "$ref": "#/components/parameters/PSU-ID"
          },
          {
            "$ref": "#/components/parameters/Digest"
          },
          {
            "$ref": "#/components/parameters/Signature"
          },
          {
            "$ref": "#/components/parameters/PSU-IP-Address"
          },
          {
            "$ref": "#/components/parameters/PSU-User-Agent"
          },
          {
            "$ref": "#/components/parameters/Date"
          },
          {
            "$ref": "#/components/parameters/TPP-Signature-Certificate"
          },
          {
            "$ref": "#/components/parameters/Idempotency-Key"
          }
        ]
      }
    },
    "/v1/insuranceCoverageFund": {
      "post": {
        "summary": "insurance-coverage-fund",
        "operationId": "insurance-coverage-fund",
        "description": " \u05e1\u05dc \u05de\u05d9\u05d3\u05e2 - \u05db\u05d9\u05e1\u05d5\u05d9\u05d9\u05dd \u05d1\u05d9\u05d8\u05d5\u05d7\u05d9\u05d9\u05dd \u05d1\u05e7\u05d5\u05e4\u05ea \u05d1\u05d9\u05d8\u05d5\u05d7 ",
        "tags": [
          "\u05e1\u05dc \u05de\u05d9\u05d3\u05e2 - \u05d7\u05e9\u05d1\u05d5\u05df \u05d0\u05d5 \u05e4\u05d5\u05dc\u05d9\u05e1\u05d4"
        ],
        "requestBody": {
          "description": "insurance-coverage-fund request body",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/insurance-coverage-fund"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Accepted - Request has been accepted for processing (Async)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/insurance-coverage-fund-response"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400-BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/401-Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/403-Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/404-NotFound"
          },
          "422": {
            "$ref": "#/components/responses/422-UnprocessableEntity"
          },
          "500": {
            "$ref": "#/components/responses/500-InternalServerError"
          },
          "default": {
            "$ref": "#/components/responses/default-UnexpectedError"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/X-Request-ID"
          },
          {
            "$ref": "#/components/parameters/PSU-ID"
          },
          {
            "$ref": "#/components/parameters/Digest"
          },
          {
            "$ref": "#/components/parameters/Signature"
          },
          {
            "$ref": "#/components/parameters/PSU-IP-Address"
          },
          {
            "$ref": "#/components/parameters/PSU-User-Agent"
          },
          {
            "$ref": "#/components/parameters/Date"
          },
          {
            "$ref": "#/components/parameters/TPP-Signature-Certificate"
          },
          {
            "$ref": "#/components/parameters/Idempotency-Key"
          }
        ]
      }
    },
    "/v1/insuranceCoveragePension": {
      "post": {
        "summary": "insurance-coverage-pension",
        "operationId": "insurance-coverage-pension",
        "description": " \u05e1\u05dc \u05de\u05d9\u05d3\u05e2 - \u05db\u05d9\u05e1\u05d5\u05d9\u05d9\u05dd \u05d1\u05d9\u05d8\u05d5\u05d7\u05d9\u05d9\u05dd \u05d1\u05e7\u05e8\u05df \u05e4\u05e0\u05e1\u05d9\u05d4 ",
        "tags": [
          "\u05e1\u05dc \u05de\u05d9\u05d3\u05e2 - \u05d7\u05e9\u05d1\u05d5\u05df \u05d0\u05d5 \u05e4\u05d5\u05dc\u05d9\u05e1\u05d4"
        ],
        "requestBody": {
          "description": "insurance-coverage-pension request body",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/insurance-coverage-pension"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Accepted - Request has been accepted for processing (Async)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/insurance-coverage-pension-response"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400-BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/401-Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/403-Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/404-NotFound"
          },
          "422": {
            "$ref": "#/components/responses/422-UnprocessableEntity"
          },
          "500": {
            "$ref": "#/components/responses/500-InternalServerError"
          },
          "default": {
            "$ref": "#/components/responses/default-UnexpectedError"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/X-Request-ID"
          },
          {
            "$ref": "#/components/parameters/PSU-ID"
          },
          {
            "$ref": "#/components/parameters/Digest"
          },
          {
            "$ref": "#/components/parameters/Signature"
          },
          {
            "$ref": "#/components/parameters/PSU-IP-Address"
          },
          {
            "$ref": "#/components/parameters/PSU-User-Agent"
          },
          {
            "$ref": "#/components/parameters/Date"
          },
          {
            "$ref": "#/components/parameters/TPP-Signature-Certificate"
          },
          {
            "$ref": "#/components/parameters/Idempotency-Key"
          }
        ]
      }
    },
    "/v1/forecastBalanceAnnuity": {
      "post": {
        "summary": "forecast-balance-annuity",
        "operationId": "forecast-balance-annuity",
        "description": " \u05e1\u05dc \u05de\u05d9\u05d3\u05e2 - \u05ea\u05d7\u05d6\u05d9\u05ea \u05dc\u05d9\u05ea\u05e8\u05d4 \u05d5\u05e7\u05e6\u05d1\u05d4 \u05e6\u05e4\u05d5\u05d9\u05d9\u05dd ",
        "tags": [
          "\u05e1\u05dc \u05de\u05d9\u05d3\u05e2 - \u05d7\u05e9\u05d1\u05d5\u05df \u05d0\u05d5 \u05e4\u05d5\u05dc\u05d9\u05e1\u05d4"
        ],
        "requestBody": {
          "description": "forecast-balance-annuity request body",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/forecast-balance-annuity"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Accepted - Request has been accepted for processing (Async)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/forecast-balance-annuity-response"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400-BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/401-Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/403-Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/404-NotFound"
          },
          "422": {
            "$ref": "#/components/responses/422-UnprocessableEntity"
          },
          "500": {
            "$ref": "#/components/responses/500-InternalServerError"
          },
          "default": {
            "$ref": "#/components/responses/default-UnexpectedError"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/X-Request-ID"
          },
          {
            "$ref": "#/components/parameters/PSU-ID"
          },
          {
            "$ref": "#/components/parameters/Digest"
          },
          {
            "$ref": "#/components/parameters/Signature"
          },
          {
            "$ref": "#/components/parameters/PSU-IP-Address"
          },
          {
            "$ref": "#/components/parameters/PSU-User-Agent"
          },
          {
            "$ref": "#/components/parameters/Date"
          },
          {
            "$ref": "#/components/parameters/TPP-Signature-Certificate"
          },
          {
            "$ref": "#/components/parameters/Idempotency-Key"
          }
        ]
      }
    },
    "/v1/investmentChannels": {
      "post": {
        "summary": "investment-channels",
        "operationId": "investment-channels",
        "description": " \u05e1\u05dc \u05de\u05d9\u05d3\u05e2 - \u05e4\u05d9\u05e8\u05d5\u05d8 \u05e2\u05dc \u05de\u05e1\u05dc\u05d5\u05dc\u05d9 \u05d4\u05e9\u05e7\u05e2\u05d4 ",
        "tags": [
          "\u05e1\u05dc \u05de\u05d9\u05d3\u05e2 - \u05d7\u05e9\u05d1\u05d5\u05df \u05d0\u05d5 \u05e4\u05d5\u05dc\u05d9\u05e1\u05d4"
        ],
        "requestBody": {
          "description": "investment-channels request body",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/investment-channels"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Accepted - Request has been accepted for processing (Async)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/investment-channels-response"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400-BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/401-Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/403-Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/404-NotFound"
          },
          "422": {
            "$ref": "#/components/responses/422-UnprocessableEntity"
          },
          "500": {
            "$ref": "#/components/responses/500-InternalServerError"
          },
          "default": {
            "$ref": "#/components/responses/default-UnexpectedError"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/X-Request-ID"
          },
          {
            "$ref": "#/components/parameters/PSU-ID"
          },
          {
            "$ref": "#/components/parameters/Digest"
          },
          {
            "$ref": "#/components/parameters/Signature"
          },
          {
            "$ref": "#/components/parameters/PSU-IP-Address"
          },
          {
            "$ref": "#/components/parameters/PSU-User-Agent"
          },
          {
            "$ref": "#/components/parameters/Date"
          },
          {
            "$ref": "#/components/parameters/TPP-Signature-Certificate"
          },
          {
            "$ref": "#/components/parameters/Idempotency-Key"
          }
        ]
      }
    },
    "/v1/balanceClassification": {
      "post": {
        "summary": "balance-classification",
        "operationId": "balance-classification",
        "description": "\u05e1\u05d9\u05d5\u05d5\u05d2 \u05d9\u05ea\u05e8\u05d5\u05ea - \u05d9\u05ea\u05e8\u05d5\u05ea ",
        "tags": [
          "\u05e1\u05dc \u05de\u05d9\u05d3\u05e2 - \u05d9\u05ea\u05e8\u05d5\u05ea"
        ],
        "requestBody": {
          "description": "balance-classification request body",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/balance-classification"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Accepted - Request has been accepted for processing (Async)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/balance-classification-response"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400-BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/401-Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/403-Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/404-NotFound"
          },
          "422": {
            "$ref": "#/components/responses/422-UnprocessableEntity"
          },
          "500": {
            "$ref": "#/components/responses/500-InternalServerError"
          },
          "default": {
            "$ref": "#/components/responses/default-UnexpectedError"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/X-Request-ID"
          },
          {
            "$ref": "#/components/parameters/PSU-ID"
          },
          {
            "$ref": "#/components/parameters/Digest"
          },
          {
            "$ref": "#/components/parameters/Signature"
          },
          {
            "$ref": "#/components/parameters/PSU-IP-Address"
          },
          {
            "$ref": "#/components/parameters/PSU-User-Agent"
          },
          {
            "$ref": "#/components/parameters/Date"
          },
          {
            "$ref": "#/components/parameters/TPP-Signature-Certificate"
          },
          {
            "$ref": "#/components/parameters/Idempotency-Key"
          }
        ]
      }
    },
    "/v1/minAccrualRetirementInfo": {
      "post": {
        "summary": "min-accrual-retirement-info",
        "operationId": "min-accrual-retirement-info",
        "description": "\u05d1\u05d9\u05e8\u05d5\u05e8 \u05dc\u05e2\u05e0\u05d9\u05d9\u05df \u05e1\u05db\u05d5\u05dd \u05e6\u05d1\u05d9\u05e8\u05d4 \u05de\u05d6\u05e2\u05e8\u05d9 \u05d1\u05d2\u05d9\u05dc \u05e4\u05e8\u05d9\u05e9\u05d4 \u05d7\u05d5\u05d1\u05d4 - \u05e1\u05dc \u05de\u05d9\u05d3\u05e2 - \u05d9\u05ea\u05e8\u05d5\u05ea ",
        "tags": [
          "\u05e1\u05dc \u05de\u05d9\u05d3\u05e2 - \u05d9\u05ea\u05e8\u05d5\u05ea"
        ],
        "requestBody": {
          "description": "min-accrual-retirement-info request body",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/min-accrual-retirement-info"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Accepted - Request has been accepted for processing (Async)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/min-accrual-retirement-info-response"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400-BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/401-Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/403-Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/404-NotFound"
          },
          "422": {
            "$ref": "#/components/responses/422-UnprocessableEntity"
          },
          "500": {
            "$ref": "#/components/responses/500-InternalServerError"
          },
          "default": {
            "$ref": "#/components/responses/default-UnexpectedError"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/X-Request-ID"
          },
          {
            "$ref": "#/components/parameters/PSU-ID"
          },
          {
            "$ref": "#/components/parameters/Digest"
          },
          {
            "$ref": "#/components/parameters/Signature"
          },
          {
            "$ref": "#/components/parameters/PSU-IP-Address"
          },
          {
            "$ref": "#/components/parameters/PSU-User-Agent"
          },
          {
            "$ref": "#/components/parameters/Date"
          },
          {
            "$ref": "#/components/parameters/TPP-Signature-Certificate"
          },
          {
            "$ref": "#/components/parameters/Idempotency-Key"
          }
        ]
      }
    },
    "/v1/minAccrualRetirementDetails": {
      "post": {
        "summary": "min-accrual-retirement-details",
        "operationId": "min-accrual-retirement-details",
        "description": "\u05d1\u05d9\u05e8\u05d5\u05e8 \u05dc\u05e2\u05e0\u05d9\u05d9\u05df \u05e1\u05db\u05d5\u05dd \u05e6\u05d1\u05d9\u05e8\u05d4 \u05de\u05d6\u05e2\u05e8\u05d9 \u05d1\u05d2\u05d9\u05dc \u05e4\u05e8\u05d9\u05e9\u05d4 \u05d7\u05d5\u05d1\u05d4 - \u05e1\u05dc \u05de\u05d9\u05d3\u05e2 - \u05d9\u05ea\u05e8\u05d5\u05ea ",
        "tags": [
          "\u05e1\u05dc \u05de\u05d9\u05d3\u05e2 - \u05d9\u05ea\u05e8\u05d5\u05ea"
        ],
        "requestBody": {
          "description": "min-accrual-retirement-details request body",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/min-accrual-retirement-details"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Accepted - Request has been accepted for processing (Async)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/min-accrual-retirement-details-response"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400-BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/401-Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/403-Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/404-NotFound"
          },
          "422": {
            "$ref": "#/components/responses/422-UnprocessableEntity"
          },
          "500": {
            "$ref": "#/components/responses/500-InternalServerError"
          },
          "default": {
            "$ref": "#/components/responses/default-UnexpectedError"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/X-Request-ID"
          },
          {
            "$ref": "#/components/parameters/PSU-ID"
          },
          {
            "$ref": "#/components/parameters/Digest"
          },
          {
            "$ref": "#/components/parameters/Signature"
          },
          {
            "$ref": "#/components/parameters/PSU-IP-Address"
          },
          {
            "$ref": "#/components/parameters/PSU-User-Agent"
          },
          {
            "$ref": "#/components/parameters/Date"
          },
          {
            "$ref": "#/components/parameters/TPP-Signature-Certificate"
          },
          {
            "$ref": "#/components/parameters/Idempotency-Key"
          }
        ]
      }
    },
    "/v1/pensionDivisionExSpouseInfo": {
      "post": {
        "summary": "pension-division-ex-spouse-info",
        "operationId": "pension-division-ex-spouse-info",
        "description": "\u05d1\u05d9\u05e8\u05d5\u05e8 \u05dc\u05e2\u05e0\u05d9\u05d9\u05df \u05d9\u05ea\u05e8\u05ea \u05d7\u05dc\u05d5\u05e7\u05d4 \u05e9\u05dc \u05d7\u05d9\u05e1\u05db\u05d5\u05df \u05e4\u05e0\u05e1\u05d9\u05d5\u05e0\u05d9 \u05d1\u05d9\u05df \u05d1\u05e0\u05d9 \u05d6\u05d5\u05d2 \u05dc\u05e9\u05e2\u05d1\u05e8- \u05e1\u05dc \u05de\u05d9\u05d3\u05e2 - \u05d9\u05ea\u05e8\u05d5\u05ea ",
        "tags": [
          "\u05e1\u05dc \u05de\u05d9\u05d3\u05e2 - \u05d9\u05ea\u05e8\u05d5\u05ea"
        ],
        "requestBody": {
          "description": "pension-division-ex-spouse-info request body",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/pension-division-ex-spouse-info"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Accepted - Request has been accepted for processing (Async)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/pension-division-ex-spouse-info-response"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400-BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/401-Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/403-Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/404-NotFound"
          },
          "422": {
            "$ref": "#/components/responses/422-UnprocessableEntity"
          },
          "500": {
            "$ref": "#/components/responses/500-InternalServerError"
          },
          "default": {
            "$ref": "#/components/responses/default-UnexpectedError"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/X-Request-ID"
          },
          {
            "$ref": "#/components/parameters/PSU-ID"
          },
          {
            "$ref": "#/components/parameters/Digest"
          },
          {
            "$ref": "#/components/parameters/Signature"
          },
          {
            "$ref": "#/components/parameters/PSU-IP-Address"
          },
          {
            "$ref": "#/components/parameters/PSU-User-Agent"
          },
          {
            "$ref": "#/components/parameters/Date"
          },
          {
            "$ref": "#/components/parameters/TPP-Signature-Certificate"
          },
          {
            "$ref": "#/components/parameters/Idempotency-Key"
          }
        ]
      }
    },
    "/v1/pensionDivisionExSpouseDetails": {
      "post": {
        "summary": "pension-division-ex-spouse-details",
        "operationId": "pension-division-ex-spouse-details",
        "description": "\u05e1\u05dc \u05de\u05d9\u05d3\u05e2 - \u05d9\u05ea\u05e8\u05d5\u05ea \u05d1\u05d9\u05e8\u05d5\u05e8 \u05dc\u05e2\u05e0\u05d9\u05d9\u05df \u05d9\u05ea\u05e8\u05ea \u05d7\u05dc\u05d5\u05e7\u05d4 \u05e9\u05dc \u05d7\u05d9\u05e1\u05db\u05d5\u05df \u05e4\u05e0\u05e1\u05d9\u05d5\u05e0\u05d9 \u05d1\u05d9\u05df \u05d1\u05e0\u05d9 \u05d6\u05d5\u05d2 \u05dc\u05e9\u05e2\u05d1\u05e8",
        "tags": [
          "\u05e1\u05dc \u05de\u05d9\u05d3\u05e2 - \u05d9\u05ea\u05e8\u05d5\u05ea"
        ],
        "requestBody": {
          "description": "pension-division-ex-spouse-details request body",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/pension-division-ex-spouse-details"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Accepted - Request has been accepted for processing (Async)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/pension-division-ex-spouse-details-response"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400-BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/401-Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/403-Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/404-NotFound"
          },
          "422": {
            "$ref": "#/components/responses/422-UnprocessableEntity"
          },
          "500": {
            "$ref": "#/components/responses/500-InternalServerError"
          },
          "default": {
            "$ref": "#/components/responses/default-UnexpectedError"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/X-Request-ID"
          },
          {
            "$ref": "#/components/parameters/PSU-ID"
          },
          {
            "$ref": "#/components/parameters/Digest"
          },
          {
            "$ref": "#/components/parameters/Signature"
          },
          {
            "$ref": "#/components/parameters/PSU-IP-Address"
          },
          {
            "$ref": "#/components/parameters/PSU-User-Agent"
          },
          {
            "$ref": "#/components/parameters/Date"
          },
          {
            "$ref": "#/components/parameters/TPP-Signature-Certificate"
          },
          {
            "$ref": "#/components/parameters/Idempotency-Key"
          }
        ]
      }
    },
    "/v1/compensationFundsForm161": {
      "post": {
        "summary": "compensation-funds-form-161",
        "operationId": "compensation-funds-form-161",
        "description": "\u05e1\u05dc \u05de\u05d9\u05d3\u05e2 - \u05e4\u05d9\u05e8\u05d5\u05d8 \u05db\u05e1\u05e4\u05d9 \u05e4\u05d9\u05e6\u05d5\u05d9\u05d9\u05dd \u05e9\u05e0\u05e6\u05d1\u05e8\u05d5 \u05dc\u05e2\u05d5\u05d1\u05d3 \u05d1\u05e7\u05d5\u05e4\u05d5\u05ea \u05dc\u05e6\u05d5\u05e8\u05da \u05de\u05d9\u05dc\u05d5\u05d9 \u05d8\u05d5\u05e4\u05e1 161",
        "tags": [
          "\u05e1\u05dc \u05de\u05d9\u05d3\u05e2 - \u05e4\u05d9\u05e6\u05d5\u05d9\u05d9\u05dd"
        ],
        "requestBody": {
          "description": "compensation-funds-form-161 request body",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/compensation-funds-form-161"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Accepted - Request has been accepted for processing (Async)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/compensation-funds-form-161-response"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400-BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/401-Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/403-Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/404-NotFound"
          },
          "422": {
            "$ref": "#/components/responses/422-UnprocessableEntity"
          },
          "500": {
            "$ref": "#/components/responses/500-InternalServerError"
          },
          "default": {
            "$ref": "#/components/responses/default-UnexpectedError"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/X-Request-ID"
          },
          {
            "$ref": "#/components/parameters/PSU-ID"
          },
          {
            "$ref": "#/components/parameters/Digest"
          },
          {
            "$ref": "#/components/parameters/Signature"
          },
          {
            "$ref": "#/components/parameters/PSU-IP-Address"
          },
          {
            "$ref": "#/components/parameters/PSU-User-Agent"
          },
          {
            "$ref": "#/components/parameters/Date"
          },
          {
            "$ref": "#/components/parameters/TPP-Signature-Certificate"
          },
          {
            "$ref": "#/components/parameters/Idempotency-Key"
          }
        ]
      }
    },
    "/v1/compensationBalancesReports": {
      "post": {
        "summary": "compensation-balances-reports",
        "operationId": "compensation-balances-reports",
        "description": "\u05e1\u05dc \u05de\u05d9\u05d3\u05e2 - \u05d9\u05ea\u05e8\u05d5\u05ea \u05e4\u05d9\u05e6\u05d5\u05d9\u05d9\u05dd \u05dc\u05e6\u05d5\u05e8\u05da \u05d3\u05d5\u05d7\u05d5\u05ea \u05db\u05e1\u05e4\u05d9\u05d9\u05dd",
        "tags": [
          "\u05e1\u05dc \u05de\u05d9\u05d3\u05e2 - \u05e4\u05d9\u05e6\u05d5\u05d9\u05d9\u05dd"
        ],
        "requestBody": {
          "description": "compensation-balances-reports request body",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/compensation-balances-reports"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Accepted - Request has been accepted for processing (Async)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/compensation-balances-reports-response"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400-BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/401-Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/403-Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/404-NotFound"
          },
          "422": {
            "$ref": "#/components/responses/422-UnprocessableEntity"
          },
          "500": {
            "$ref": "#/components/responses/500-InternalServerError"
          },
          "default": {
            "$ref": "#/components/responses/default-UnexpectedError"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/X-Request-ID"
          },
          {
            "$ref": "#/components/parameters/PSU-ID"
          },
          {
            "$ref": "#/components/parameters/Digest"
          },
          {
            "$ref": "#/components/parameters/Signature"
          },
          {
            "$ref": "#/components/parameters/PSU-IP-Address"
          },
          {
            "$ref": "#/components/parameters/PSU-User-Agent"
          },
          {
            "$ref": "#/components/parameters/Date"
          },
          {
            "$ref": "#/components/parameters/TPP-Signature-Certificate"
          },
          {
            "$ref": "#/components/parameters/Idempotency-Key"
          }
        ]
      }
    },
    "/v1/compensationFundsDetails": {
      "post": {
        "summary": "compensation-funds-details",
        "operationId": "compensation-funds-details",
        "description": "\u05e1\u05dc \u05de\u05d9\u05d3\u05e2 - \u05e4\u05d9\u05e8\u05d5\u05d8 \u05db\u05e1\u05e4\u05d9 \u05e4\u05d9\u05e6\u05d5\u05d9\u05d9\u05dd",
        "tags": [
          "\u05e1\u05dc \u05de\u05d9\u05d3\u05e2 - \u05e4\u05d9\u05e6\u05d5\u05d9\u05d9\u05dd"
        ],
        "requestBody": {
          "description": "compensation-funds-details request body",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/compensation-funds-details"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Accepted - Request has been accepted for processing (Async)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/compensation-funds-details-response"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400-BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/401-Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/403-Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/404-NotFound"
          },
          "422": {
            "$ref": "#/components/responses/422-UnprocessableEntity"
          },
          "500": {
            "$ref": "#/components/responses/500-InternalServerError"
          },
          "default": {
            "$ref": "#/components/responses/default-UnexpectedError"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/X-Request-ID"
          },
          {
            "$ref": "#/components/parameters/PSU-ID"
          },
          {
            "$ref": "#/components/parameters/Digest"
          },
          {
            "$ref": "#/components/parameters/Signature"
          },
          {
            "$ref": "#/components/parameters/PSU-IP-Address"
          },
          {
            "$ref": "#/components/parameters/PSU-User-Agent"
          },
          {
            "$ref": "#/components/parameters/Date"
          },
          {
            "$ref": "#/components/parameters/TPP-Signature-Certificate"
          },
          {
            "$ref": "#/components/parameters/Idempotency-Key"
          }
        ]
      }
    },
    "/v1/annuityIncomeDetails": {
      "post": {
        "summary": "annuity-income-details",
        "operationId": "annuity-income-details",
        "description": "\u05e1\u05dc \u05de\u05d9\u05d3\u05e2 - \u05e4\u05d9\u05e8\u05d5\u05d8 \u05d4\u05db\u05e0\u05e1\u05d5\u05ea \u05de\u05e7\u05e6\u05d1\u05d4",
        "tags": [
          "\u05e1\u05dc \u05de\u05d9\u05d3\u05e2 - \u05e7\u05e6\u05d1\u05d0\u05d5\u05ea"
        ],
        "requestBody": {
          "description": "annuity-income-details request body",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/annuity-income-details"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Accepted - Request has been accepted for processing (Async)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/annuity-income-details-response"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400-BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/401-Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/403-Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/404-NotFound"
          },
          "422": {
            "$ref": "#/components/responses/422-UnprocessableEntity"
          },
          "500": {
            "$ref": "#/components/responses/500-InternalServerError"
          },
          "default": {
            "$ref": "#/components/responses/default-UnexpectedError"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/X-Request-ID"
          },
          {
            "$ref": "#/components/parameters/PSU-ID"
          },
          {
            "$ref": "#/components/parameters/Digest"
          },
          {
            "$ref": "#/components/parameters/Signature"
          },
          {
            "$ref": "#/components/parameters/PSU-IP-Address"
          },
          {
            "$ref": "#/components/parameters/PSU-User-Agent"
          },
          {
            "$ref": "#/components/parameters/Date"
          },
          {
            "$ref": "#/components/parameters/TPP-Signature-Certificate"
          },
          {
            "$ref": "#/components/parameters/Idempotency-Key"
          }
        ]
      }
    },
    "/v1/annuityIncomeTaxCoordination": {
      "post": {
        "summary": "annuity-income-tax-coordination",
        "operationId": "annuity-income-tax-coordination",
        "description": "\u05e1\u05dc \u05de\u05d9\u05d3\u05e2 - \u05e4\u05d9\u05e8\u05d5\u05d8 \u05d4\u05db\u05e0\u05e1\u05d5\u05ea \u05de\u05e7\u05e6\u05d1\u05d4 \u05dc\u05e6\u05d5\u05e8\u05da \u05ea\u05d9\u05d0\u05d5\u05dd \u05de\u05e1",
        "tags": [
          "\u05e1\u05dc \u05de\u05d9\u05d3\u05e2 - \u05e7\u05e6\u05d1\u05d0\u05d5\u05ea"
        ],
        "requestBody": {
          "description": "annuity-income-tax-coordination request body",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/annuity-income-tax-coordination"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Accepted - Request has been accepted for processing (Async)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/annuity-income-tax-coordination-response"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400-BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/401-Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/403-Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/404-NotFound"
          },
          "422": {
            "$ref": "#/components/responses/422-UnprocessableEntity"
          },
          "500": {
            "$ref": "#/components/responses/500-InternalServerError"
          },
          "default": {
            "$ref": "#/components/responses/default-UnexpectedError"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/X-Request-ID"
          },
          {
            "$ref": "#/components/parameters/PSU-ID"
          },
          {
            "$ref": "#/components/parameters/Digest"
          },
          {
            "$ref": "#/components/parameters/Signature"
          },
          {
            "$ref": "#/components/parameters/PSU-IP-Address"
          },
          {
            "$ref": "#/components/parameters/PSU-User-Agent"
          },
          {
            "$ref": "#/components/parameters/Date"
          },
          {
            "$ref": "#/components/parameters/TPP-Signature-Certificate"
          },
          {
            "$ref": "#/components/parameters/Idempotency-Key"
          }
        ]
      }
    },
    "/v1/annuityPaidInstitutional": {
      "post": {
        "summary": "annuity-paid-institutional",
        "operationId": "annuity-paid-institutional",
        "description": " \u05e1\u05dc \u05de\u05d9\u05d3\u05e2 -  \u05e1\u05da \u05e7\u05e6\u05d1\u05d4 \u05de\u05e9\u05d5\u05dc\u05de\u05ea \u05d1\u05d0\u05de\u05e6\u05e2\u05d5\u05ea \u05d2\u05d5\u05e3 \u05de\u05d5\u05e1\u05d3\u05d9",
        "tags": [
          "\u05e1\u05dc \u05de\u05d9\u05d3\u05e2 - \u05e7\u05e6\u05d1\u05d0\u05d5\u05ea"
        ],
        "requestBody": {
          "description": "annuity-paid-institutional request body",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/annuity-paid-institutional"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Accepted - Request has been accepted for processing (Async)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/annuity-paid-institutional-response"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400-BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/401-Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/403-Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/404-NotFound"
          },
          "422": {
            "$ref": "#/components/responses/422-UnprocessableEntity"
          },
          "500": {
            "$ref": "#/components/responses/500-InternalServerError"
          },
          "default": {
            "$ref": "#/components/responses/default-UnexpectedError"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/X-Request-ID"
          },
          {
            "$ref": "#/components/parameters/PSU-ID"
          },
          {
            "$ref": "#/components/parameters/Digest"
          },
          {
            "$ref": "#/components/parameters/Signature"
          },
          {
            "$ref": "#/components/parameters/PSU-IP-Address"
          },
          {
            "$ref": "#/components/parameters/PSU-User-Agent"
          },
          {
            "$ref": "#/components/parameters/Date"
          },
          {
            "$ref": "#/components/parameters/TPP-Signature-Certificate"
          },
          {
            "$ref": "#/components/parameters/Idempotency-Key"
          }
        ]
      }
    },
    "/v1/annuityPaidGeneral": {
      "post": {
        "summary": "annuity-paid-general",
        "operationId": "annuity-paid-general",
        "description": "\u05e1\u05dc \u05de\u05d9\u05d3\u05e2 -  \u05e1\u05da \u05e7\u05e6\u05d1\u05d4 \u05de\u05e9\u05d5\u05dc\u05de\u05ea",
        "tags": [
          "\u05e1\u05dc \u05de\u05d9\u05d3\u05e2 - \u05e7\u05e6\u05d1\u05d0\u05d5\u05ea"
        ],
        "requestBody": {
          "description": "annuity-paid-general request body",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/annuity-paid-general"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Accepted - Request has been accepted for processing (Async)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/annuity-paid-general-response"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400-BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/401-Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/403-Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/404-NotFound"
          },
          "422": {
            "$ref": "#/components/responses/422-UnprocessableEntity"
          },
          "500": {
            "$ref": "#/components/responses/500-InternalServerError"
          },
          "default": {
            "$ref": "#/components/responses/default-UnexpectedError"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/X-Request-ID"
          },
          {
            "$ref": "#/components/parameters/PSU-ID"
          },
          {
            "$ref": "#/components/parameters/Digest"
          },
          {
            "$ref": "#/components/parameters/Signature"
          },
          {
            "$ref": "#/components/parameters/PSU-IP-Address"
          },
          {
            "$ref": "#/components/parameters/PSU-User-Agent"
          },
          {
            "$ref": "#/components/parameters/Date"
          },
          {
            "$ref": "#/components/parameters/TPP-Signature-Certificate"
          },
          {
            "$ref": "#/components/parameters/Idempotency-Key"
          }
        ]
      }
    },
    "/v1/movementsPaymentClassification": {
      "post": {
        "summary": "movements-payment-classification",
        "operationId": "movements-payment-classification",
        "description": "\u05e1\u05dc \u05de\u05d9\u05d3\u05e2 - \u05de\u05e2\u05e0\u05d4 \u05dc\u05d1\u05e7\u05e9\u05d4 \u05de\u05d9\u05d3\u05e2 \u05dc\u05d7\u05d5\u05e1\u05da \u05d1\u05d0\u05de\u05e6\u05e2\u05d5\u05ea \u05d2\u05d5\u05e3 \u05de\u05d5\u05e1\u05d3\u05d9 \u2013 \u05ea\u05e0\u05d5\u05e2\u05d5\u05ea \u05dc\u05e6\u05d5\u05e8\u05da \u05e1\u05d9\u05d5\u05d5\u05d2 \u05ea\u05e9\u05dc\u05d5\u05de\u05d9\u05dd  ",
        "tags": [
          "\u05e1\u05dc \u05de\u05d9\u05d3\u05e2 - \u05ea\u05e0\u05d5\u05e2\u05d5\u05ea"
        ],
        "requestBody": {
          "description": "movements-payment-classification request body",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/movements-payment-classification"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Accepted - Request has been accepted for processing (Async)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/movements-payment-classification-response"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400-BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/401-Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/403-Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/404-NotFound"
          },
          "422": {
            "$ref": "#/components/responses/422-UnprocessableEntity"
          },
          "500": {
            "$ref": "#/components/responses/500-InternalServerError"
          },
          "default": {
            "$ref": "#/components/responses/default-UnexpectedError"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/X-Request-ID"
          },
          {
            "$ref": "#/components/parameters/PSU-ID"
          },
          {
            "$ref": "#/components/parameters/Digest"
          },
          {
            "$ref": "#/components/parameters/Signature"
          },
          {
            "$ref": "#/components/parameters/PSU-IP-Address"
          },
          {
            "$ref": "#/components/parameters/PSU-User-Agent"
          },
          {
            "$ref": "#/components/parameters/Date"
          },
          {
            "$ref": "#/components/parameters/TPP-Signature-Certificate"
          },
          {
            "$ref": "#/components/parameters/Idempotency-Key"
          }
        ]
      }
    },
    "/v1/movementsAssetMigration": {
      "post": {
        "summary": "movements-asset-migration",
        "operationId": "movements-asset-migration",
        "description": "\u05e1\u05dc \u05de\u05d9\u05d3\u05e2 - \u05de\u05e2\u05e0\u05d4 \u05dc\u05d1\u05e7\u05e9\u05d4 \u05de\u05d9\u05d3\u05e2 \u05dc\u05d7\u05d5\u05e1\u05da \u05d1\u05d0\u05de\u05e6\u05e2\u05d5\u05ea \u05d2\u05d5\u05e3 \u05de\u05d5\u05e1\u05d3\u05d9 \u2013 \u05ea\u05e0\u05d5\u05e2\u05d5\u05ea \u05e9\u05de\u05e7\u05d5\u05e8\u05dd \u05de\u05e0\u05d9\u05d5\u05d3 \u05e0\u05db\u05e0\u05e1  ",
        "tags": [
          "\u05e1\u05dc \u05de\u05d9\u05d3\u05e2 - \u05ea\u05e0\u05d5\u05e2\u05d5\u05ea"
        ],
        "requestBody": {
          "description": "movements-asset-migration request body",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/movements-asset-migration"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Accepted - Request has been accepted for processing (Async)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/movements-asset-migration-response"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400-BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/401-Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/403-Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/404-NotFound"
          },
          "422": {
            "$ref": "#/components/responses/422-UnprocessableEntity"
          },
          "500": {
            "$ref": "#/components/responses/500-InternalServerError"
          },
          "default": {
            "$ref": "#/components/responses/default-UnexpectedError"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/X-Request-ID"
          },
          {
            "$ref": "#/components/parameters/PSU-ID"
          },
          {
            "$ref": "#/components/parameters/Digest"
          },
          {
            "$ref": "#/components/parameters/Signature"
          },
          {
            "$ref": "#/components/parameters/PSU-IP-Address"
          },
          {
            "$ref": "#/components/parameters/PSU-User-Agent"
          },
          {
            "$ref": "#/components/parameters/Date"
          },
          {
            "$ref": "#/components/parameters/TPP-Signature-Certificate"
          },
          {
            "$ref": "#/components/parameters/Idempotency-Key"
          }
        ]
      }
    },
    "/v1/compensationMovementsEmployee": {
      "post": {
        "summary": "compensation-movements-employee",
        "operationId": "compensation-movements-employee",
        "description": "\u05e1\u05dc \u05de\u05d9\u05d3\u05e2 - \u05de\u05e2\u05e0\u05d4 \u05dc\u05d1\u05e7\u05e9\u05ea \u05de\u05d9\u05d3\u05e2 \u05de\u05de\u05e2\u05e1\u05d9\u05e7 \u2013 \u05e4\u05d9\u05e8\u05d5\u05d8 \u05ea\u05e0\u05d5\u05e2\u05d5\u05ea \u05e4\u05d9\u05e6\u05d5\u05d9\u05d9\u05dd \u05dc\u05e2\u05d5\u05d1\u05d3  ",
        "tags": [
          "\u05e1\u05dc \u05de\u05d9\u05d3\u05e2 - \u05ea\u05e0\u05d5\u05e2\u05d5\u05ea"
        ],
        "requestBody": {
          "description": "compensation-movements-employee request body",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/compensation-movements-employee"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Accepted - Request has been accepted for processing (Async)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/compensation-movements-employee-response"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400-BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/401-Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/403-Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/404-NotFound"
          },
          "422": {
            "$ref": "#/components/responses/422-UnprocessableEntity"
          },
          "500": {
            "$ref": "#/components/responses/500-InternalServerError"
          },
          "default": {
            "$ref": "#/components/responses/default-UnexpectedError"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/X-Request-ID"
          },
          {
            "$ref": "#/components/parameters/PSU-ID"
          },
          {
            "$ref": "#/components/parameters/Digest"
          },
          {
            "$ref": "#/components/parameters/Signature"
          },
          {
            "$ref": "#/components/parameters/PSU-IP-Address"
          },
          {
            "$ref": "#/components/parameters/PSU-User-Agent"
          },
          {
            "$ref": "#/components/parameters/Date"
          },
          {
            "$ref": "#/components/parameters/TPP-Signature-Certificate"
          },
          {
            "$ref": "#/components/parameters/Idempotency-Key"
          }
        ]
      }
    },
    "/v1/customerMovementsDetails": {
      "post": {
        "summary": "customer-movements-details",
        "operationId": "customer-movements-details",
        "description": "\u05e1\u05dc \u05de\u05d9\u05d3\u05e2 - \u05de\u05e2\u05e0\u05d4 \u05dc\u05d1\u05e7\u05e9\u05ea \u05de\u05d9\u05d3\u05e2 \u05de\u05de\u05e2\u05e1\u05d9\u05e7 \u2013 \u05e4\u05d9\u05e8\u05d5\u05d8 \u05ea\u05e0\u05d5\u05e2\u05d5\u05ea \u05dc\u05dc\u05e7\u05d5\u05d7  ",
        "tags": [
          "\u05e1\u05dc \u05de\u05d9\u05d3\u05e2 - \u05ea\u05e0\u05d5\u05e2\u05d5\u05ea"
        ],
        "requestBody": {
          "description": "customer-movements-details request body",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/customer-movements-details"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Accepted - Request has been accepted for processing (Async)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/customer-movements-details-response"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400-BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/401-Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/403-Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/404-NotFound"
          },
          "422": {
            "$ref": "#/components/responses/422-UnprocessableEntity"
          },
          "500": {
            "$ref": "#/components/responses/500-InternalServerError"
          },
          "default": {
            "$ref": "#/components/responses/default-UnexpectedError"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/X-Request-ID"
          },
          {
            "$ref": "#/components/parameters/PSU-ID"
          },
          {
            "$ref": "#/components/parameters/Digest"
          },
          {
            "$ref": "#/components/parameters/Signature"
          },
          {
            "$ref": "#/components/parameters/PSU-IP-Address"
          },
          {
            "$ref": "#/components/parameters/PSU-User-Agent"
          },
          {
            "$ref": "#/components/parameters/Date"
          },
          {
            "$ref": "#/components/parameters/TPP-Signature-Certificate"
          },
          {
            "$ref": "#/components/parameters/Idempotency-Key"
          }
        ]
      }
    },
    "/v1/earlyCompensationWithdrawals": {
      "post": {
        "summary": "early-compensation-withdrawals",
        "operationId": "early-compensation-withdrawals",
        "description": "\u05e1\u05dc \u05de\u05d9\u05d3\u05e2 - \u05de\u05e2\u05e0\u05d4 \u05dc\u05d1\u05e7\u05e9\u05ea \u05de\u05d9\u05d3\u05e2 \u2013 \u05e4\u05d9\u05e8\u05d5\u05d8 \u05de\u05e9\u05d9\u05db\u05d5\u05ea \u05de\u05d5\u05e7\u05d3\u05de\u05d5\u05ea \u05de\u05e8\u05db\u05d9\u05d1 \u05d4\u05e4\u05d9\u05e6\u05d5\u05d9\u05d9\u05dd \u05e9\u05e0\u05de\u05e9\u05db\u05d5 \u05d1\u05e4\u05d8\u05d5\u05e8 \u05de\u05de\u05e1 \u05dc\u05e4\u05d9 \u05e1\u05e2\u05d9\u05e3 9 \u05d0 ",
        "tags": [
          "\u05e1\u05dc \u05de\u05d9\u05d3\u05e2 - \u05ea\u05e0\u05d5\u05e2\u05d5\u05ea"
        ],
        "requestBody": {
          "description": "early-compensation-withdrawals request body",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/early-compensation-withdrawals"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Accepted - Request has been accepted for processing (Async)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/early-compensation-withdrawals-response"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400-BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/401-Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/403-Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/404-NotFound"
          },
          "422": {
            "$ref": "#/components/responses/422-UnprocessableEntity"
          },
          "500": {
            "$ref": "#/components/responses/500-InternalServerError"
          },
          "default": {
            "$ref": "#/components/responses/default-UnexpectedError"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/X-Request-ID"
          },
          {
            "$ref": "#/components/parameters/PSU-ID"
          },
          {
            "$ref": "#/components/parameters/Digest"
          },
          {
            "$ref": "#/components/parameters/Signature"
          },
          {
            "$ref": "#/components/parameters/PSU-IP-Address"
          },
          {
            "$ref": "#/components/parameters/PSU-User-Agent"
          },
          {
            "$ref": "#/components/parameters/Date"
          },
          {
            "$ref": "#/components/parameters/TPP-Signature-Certificate"
          },
          {
            "$ref": "#/components/parameters/Idempotency-Key"
          }
        ]
      }
    },
    "/v1/withdrawalsDetails": {
      "post": {
        "summary": "withdrawals-details",
        "operationId": "withdrawals-details",
        "description": "\u05e1\u05dc \u05de\u05d9\u05d3\u05e2 - \u05de\u05e2\u05e0\u05d4 \u05dc\u05d1\u05e7\u05e9\u05ea \u05de\u05d9\u05d3\u05e2 \u2013 \u05e4\u05d9\u05e8\u05d5\u05d8 \u05de\u05e9\u05d9\u05db\u05d5\u05ea ",
        "tags": [
          "\u05e1\u05dc \u05de\u05d9\u05d3\u05e2 - \u05ea\u05e0\u05d5\u05e2\u05d5\u05ea"
        ],
        "requestBody": {
          "description": "withdrawals-details request body",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/withdrawals-details"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Accepted - Request has been accepted for processing (Async)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/withdrawals-details-response"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400-BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/401-Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/403-Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/404-NotFound"
          },
          "422": {
            "$ref": "#/components/responses/422-UnprocessableEntity"
          },
          "500": {
            "$ref": "#/components/responses/500-InternalServerError"
          },
          "default": {
            "$ref": "#/components/responses/default-UnexpectedError"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/X-Request-ID"
          },
          {
            "$ref": "#/components/parameters/PSU-ID"
          },
          {
            "$ref": "#/components/parameters/Digest"
          },
          {
            "$ref": "#/components/parameters/Signature"
          },
          {
            "$ref": "#/components/parameters/PSU-IP-Address"
          },
          {
            "$ref": "#/components/parameters/PSU-User-Agent"
          },
          {
            "$ref": "#/components/parameters/Date"
          },
          {
            "$ref": "#/components/parameters/TPP-Signature-Certificate"
          },
          {
            "$ref": "#/components/parameters/Idempotency-Key"
          }
        ]
      }
    },
    "/v1/certificatesDocuments": {
      "post": {
        "summary": "certificates-documents",
        "operationId": "certificates-documents",
        "description": "\u05e1\u05dc \u05de\u05d9\u05d3\u05e2 - \u05de\u05e2\u05e0\u05d4 \u05dc\u05d1\u05e7\u05e9\u05ea \u05de\u05d9\u05d3\u05e2 \u2013 \u05d0\u05d9\u05e9\u05d5\u05e8\u05d9\u05dd \u05d5\u05de\u05e1\u05de\u05db\u05d9\u05dd ",
        "tags": [
          "\u05e1\u05dc \u05de\u05d9\u05d3\u05e2 - \u05e9\u05d5\u05e0\u05d5\u05ea"
        ],
        "requestBody": {
          "description": "certificates-documents request body",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/certificates-documents"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Accepted - Request has been accepted for processing (Async)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/certificates-documents-response"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400-BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/401-Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/403-Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/404-NotFound"
          },
          "422": {
            "$ref": "#/components/responses/422-UnprocessableEntity"
          },
          "500": {
            "$ref": "#/components/responses/500-InternalServerError"
          },
          "default": {
            "$ref": "#/components/responses/default-UnexpectedError"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/X-Request-ID"
          },
          {
            "$ref": "#/components/parameters/PSU-ID"
          },
          {
            "$ref": "#/components/parameters/Digest"
          },
          {
            "$ref": "#/components/parameters/Signature"
          },
          {
            "$ref": "#/components/parameters/PSU-IP-Address"
          },
          {
            "$ref": "#/components/parameters/PSU-User-Agent"
          },
          {
            "$ref": "#/components/parameters/Date"
          },
          {
            "$ref": "#/components/parameters/TPP-Signature-Certificate"
          },
          {
            "$ref": "#/components/parameters/Idempotency-Key"
          }
        ]
      }
    },
    "/v1/employmentConditions": {
      "post": {
        "summary": "employment-conditions",
        "operationId": "employment-conditions",
        "description": "\u05e1\u05dc \u05de\u05d9\u05d3\u05e2 - \u05de\u05e2\u05e0\u05d4 \u05dc\u05d1\u05e7\u05e9\u05ea \u05de\u05d9\u05d3\u05e2 \u2013 \u05ea\u05e0\u05d0\u05d9 \u05d4\u05e2\u05e1\u05e7\u05d4 ",
        "tags": [
          "\u05e1\u05dc \u05de\u05d9\u05d3\u05e2 - \u05e9\u05d5\u05e0\u05d5\u05ea"
        ],
        "requestBody": {
          "description": "employment-conditions request body",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/employment-conditions"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Accepted - Request has been accepted for processing (Async)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/employment-conditions-response"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400-BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/401-Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/403-Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/404-NotFound"
          },
          "422": {
            "$ref": "#/components/responses/422-UnprocessableEntity"
          },
          "500": {
            "$ref": "#/components/responses/500-InternalServerError"
          },
          "default": {
            "$ref": "#/components/responses/default-UnexpectedError"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/X-Request-ID"
          },
          {
            "$ref": "#/components/parameters/PSU-ID"
          },
          {
            "$ref": "#/components/parameters/Digest"
          },
          {
            "$ref": "#/components/parameters/Signature"
          },
          {
            "$ref": "#/components/parameters/PSU-IP-Address"
          },
          {
            "$ref": "#/components/parameters/PSU-User-Agent"
          },
          {
            "$ref": "#/components/parameters/Date"
          },
          {
            "$ref": "#/components/parameters/TPP-Signature-Certificate"
          },
          {
            "$ref": "#/components/parameters/Idempotency-Key"
          }
        ]
      }
    },
    "/v1/pensionAssetLocation": {
      "post": {
        "summary": "pension-asset-location",
        "operationId": "pension-asset-location",
        "description": "\u05e1\u05dc \u05de\u05d9\u05d3\u05e2 - \u05de\u05e2\u05e0\u05d4 \u05dc\u05d1\u05e7\u05e9\u05ea \u05de\u05d9\u05d3\u05e2 \u2013 \u05de\u05d9\u05d3\u05e2 \u05e2\u05dc \u05e7\u05d5\u05e4\u05d5\u05ea \u05d2\u05de\u05dc \u05e7\u05d9\u05d9\u05de\u05d5\u05ea - \u05d0\u05d9\u05ea\u05d5\u05e8 \u05e0\u05db\u05e1\u05d9\u05dd \u05e4\u05e0\u05e1\u05d9\u05d5\u05e0\u05d9\u05d9\u05dd  ",
        "tags": [
          "\u05e1\u05dc \u05de\u05d9\u05d3\u05e2 - \u05e9\u05d5\u05e0\u05d5\u05ea"
        ],
        "requestBody": {
          "description": "pension-asset-location request body",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/pension-asset-location"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Accepted - Request has been accepted for processing (Async)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/pension-asset-location-response"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400-BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/401-Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/403-Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/404-NotFound"
          },
          "422": {
            "$ref": "#/components/responses/422-UnprocessableEntity"
          },
          "500": {
            "$ref": "#/components/responses/500-InternalServerError"
          },
          "default": {
            "$ref": "#/components/responses/default-UnexpectedError"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/X-Request-ID"
          },
          {
            "$ref": "#/components/parameters/PSU-ID"
          },
          {
            "$ref": "#/components/parameters/Digest"
          },
          {
            "$ref": "#/components/parameters/Signature"
          },
          {
            "$ref": "#/components/parameters/PSU-IP-Address"
          },
          {
            "$ref": "#/components/parameters/PSU-User-Agent"
          },
          {
            "$ref": "#/components/parameters/Date"
          },
          {
            "$ref": "#/components/parameters/TPP-Signature-Certificate"
          },
          {
            "$ref": "#/components/parameters/Idempotency-Key"
          }
        ]
      }
    },
    "/v1/existingAuthorizations": {
      "post": {
        "summary": "existing-authorizations",
        "operationId": "existing-authorizations",
        "description": "\u05e1\u05dc \u05de\u05d9\u05d3\u05e2 - \u05de\u05e2\u05e0\u05d4 \u05dc\u05d1\u05e7\u05e9\u05ea \u05de\u05d9\u05d3\u05e2 \u2013 \u05d4\u05e8\u05e9\u05d0\u05d5\u05ea \u05e7\u05d9\u05d9\u05de\u05d5\u05ea  ",
        "tags": [
          "\u05e1\u05dc \u05de\u05d9\u05d3\u05e2 - \u05e9\u05d5\u05e0\u05d5\u05ea"
        ],
        "requestBody": {
          "description": "existing-authorizations request body",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/existing-authorizations"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Accepted - Request has been accepted for processing (Async)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/existing-authorizations-response"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400-BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/401-Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/403-Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/404-NotFound"
          },
          "422": {
            "$ref": "#/components/responses/422-UnprocessableEntity"
          },
          "500": {
            "$ref": "#/components/responses/500-InternalServerError"
          },
          "default": {
            "$ref": "#/components/responses/default-UnexpectedError"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/X-Request-ID"
          },
          {
            "$ref": "#/components/parameters/PSU-ID"
          },
          {
            "$ref": "#/components/parameters/Digest"
          },
          {
            "$ref": "#/components/parameters/Signature"
          },
          {
            "$ref": "#/components/parameters/PSU-IP-Address"
          },
          {
            "$ref": "#/components/parameters/PSU-User-Agent"
          },
          {
            "$ref": "#/components/parameters/Date"
          },
          {
            "$ref": "#/components/parameters/TPP-Signature-Certificate"
          },
          {
            "$ref": "#/components/parameters/Idempotency-Key"
          }
        ]
      }
    }
  },
  "components": {
    "parameters": {
      "X-Request-ID": {
        "name": "X-Request-ID",
        "in": "header",
        "description": "ID of the request, unique to the call, as determined by the initiating party.",
        "required": true,
        "schema": {
          "type": "string",
          "format": "uuid"
        },
        "examples": {
          "request-id-example": {
            "value": "123e4567-e89b-12d3-a456-426614174000"
          }
        }
      },
      "PSU-ID": {
        "name": "PSU-ID",
        "in": "header",
        "description": "Client ID used by the PSU in the sphere of the ASPSP.",
        "required": false,
        "schema": {
          "type": "string"
        }
      },
      "Digest": {
        "name": "Digest",
        "in": "header",
        "description": "Is contained if and only if the related message contains a body. HTTP-header Digest of the payload, as defined in RFC 3230.",
        "required": false,
        "schema": {
          "type": "string"
        }
      },
      "Signature": {
        "name": "Signature",
        "in": "header",
        "description": "A signature of the request by the TPP on relevant fields, in appropriate cases. Relevant fields are the HTTP-header fields (e.g. Digest, X-Request-ID, PSU-ID, etc.).",
        "required": false,
        "schema": {
          "type": "string"
        }
      },
      "PSU-IP-Address": {
        "name": "PSU-IP-Address",
        "in": "header",
        "description": "The IP address of the PSU (Client).",
        "required": false,
        "schema": {
          "type": "string"
        }
      },
      "TPP-Signature-Certificate": {
        "name": "TPP-Signature-Certificate",
        "in": "header",
        "description": "The certificate used for the signature by the TPP, in appropriate cases.",
        "required": false,
        "schema": {
          "type": "string"
        }
      },
      "PSU-User-Agent": {
        "name": "PSU-User-Agent",
        "in": "header",
        "description": "The User-Agent of the PSU (Client).",
        "required": false,
        "schema": {
          "type": "string"
        }
      },
      "Date": {
        "name": "Date",
        "in": "header",
        "description": "The HTTP date header.",
        "required": false,
        "schema": {
          "type": "string"
        }
      },
      "Idempotency-Key": {
        "name": "Idempotency-Key",
        "in": "header",
        "description": "Every Idempotency-Key expires after 24 hours. If a new request is submitted with the same Idempotency-Key, the system will return the same response as the original request, preventing duplicate processing.",
        "required": false,
        "schema": {
          "type": "string",
          "format": "uuid"
        },
        "examples": {
          "idempotency-key-example": {
            "value": "550e8400-e29b-41d4-a716-446655440000"
          }
        }
      },
      "limit": {
        "name": "limit",
        "in": "query",
        "description": "The number of records to return.",
        "required": false,
        "schema": {
          "type": "integer",
          "minimum": 1,
          "maximum": 100
        }
      }
    },
    "schemas": {
      "ProblemDetails": {
        "title": "Problem Details",
        "type": "object",
        "properties": {
          "errorCode": {
            "type": "string",
            "description": "Unique error code (e.g., CONSENT_EXPIRED). Identifies the specific business or technical error.",
            "examples": [
              "CONSENT_EXPIRED"
            ]
          },
          "message": {
            "type": "string",
            "description": "Technical description of the error in English for developers.",
            "examples": [
              "The consent provided for this operation has expired."
            ]
          },
          "userMessage": {
            "type": "string",
            "description": "Human-readable description of the error in Hebrew for the end user.",
            "examples": [
              "\u05ea\u05d5\u05e7\u05e3 \u05d4\u05d4\u05e8\u05e9\u05d0\u05d4 \u05e4\u05d2. \u05d9\u05e9 \u05dc\u05d7\u05d3\u05e9 \u05d0\u05ea \u05d4\u05e1\u05db\u05de\u05ea \u05d4\u05dc\u05e7\u05d5\u05d7."
            ]
          },
          "path": {
            "type": "string",
            "format": "uri-reference",
            "description": "The API path where the error occurred.",
            "examples": [
              "/1000"
            ]
          },
          "timestamp": {
            "type": "string",
            "format": "date-time",
            "description": "Precise timestamp of the error occurrence.",
            "examples": [
              "2024-05-22T14:30:00Z"
            ]
          },
          "requestId": {
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier for the original request, matches X-Request-ID.",
            "examples": [
              "9f56db42-8005-42dc-85cc-3ee5df1d67dc"
            ]
          },
          "type": {
            "type": "string",
            "format": "uri-reference",
            "description": "A URI reference [RFC3986] that identifies the problem type.",
            "default": "about:blank"
          },
          "title": {
            "type": "string",
            "description": "A short, human-readable summary of the problem type."
          },
          "status": {
            "type": "integer",
            "description": "The HTTP status code [RFC7231, Section 6] generated by the origin server for this occurrence of the problem.",
            "minimum": 100,
            "maximum": 599
          },
          "detail": {
            "type": "string",
            "description": "A human-readable explanation specific to this occurrence of the problem."
          }
        },
        "additionalProperties": true
      },
      "pre-counseling": {
        "type": "object",
        "properties": {
          "operationCode": {
            "title": "operationCode",
            "enum": [
              1000
            ],
            "type": "integer"
          },
          "interfaceHeader": {
            "type": "object",
            "properties": {
              "sendEntity": {
                "$ref": "#/components/schemas/BasicClientDetails"
              },
              "receptionEntity": {
                "$ref": "#/components/schemas/BasicEmployeeDetails"
              }
            },
            "required": [
              "sendEntity",
              "receptionEntity"
            ]
          },
          "entityFactor": {
            "type": "object",
            "properties": {
              "agentLicenseeDetails": {
                "$ref": "#/components/schemas/IntermediateEntity"
              },
              "basicClientDetails": {
                "$ref": "#/components/schemas/BasicClientDetailsWrap"
              }
            }
          },
          "operations": {
            "type": "object",
            "properties": {
              "basicEmployeeDetails": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/BasicEmployeeDetails"
                }
              },
              "institutionalBodiesInfoRequest": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/InstitutionalBodiesInfoRequest"
                }
              },
              "fundsInfoRequest": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/FundsInfoRequest"
                }
              },
              "accountsInfoRequest": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/AccountsInfoRequest"
                }
              },
              "employersInfoRequest": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/EmployersInfoRequest"
                }
              },
              "employeesInfoRequest": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/OwnershipStructureAuthorizationWrap"
                }
              },
              "timeRangeInfoRequest": {
                "$ref": "#/components/schemas/TimeRangeInfoRequest"
              },
              "predictedAge": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/PredictedAge"
                }
              },
              "requestDocuments": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/RequestDocuments"
                }
              }
            }
          }
        }
      },
      "management-fees": {
        "type": "object",
        "properties": {
          "operationCode": {
            "title": "operationCode",
            "enum": [
              1001
            ],
            "type": "integer"
          },
          "interfaceHeader": {
            "type": "object",
            "properties": {
              "sendEntity": {
                "$ref": "#/components/schemas/BasicClientDetails"
              },
              "receptionEntity": {
                "$ref": "#/components/schemas/BasicEmployeeDetails"
              }
            },
            "required": [
              "sendEntity",
              "receptionEntity"
            ]
          },
          "entityFactor": {
            "type": "object",
            "properties": {
              "agentLicenseeDetails": {
                "$ref": "#/components/schemas/IntermediateEntity"
              },
              "basicClientDetails": {
                "$ref": "#/components/schemas/BasicClientDetailsWrap"
              }
            }
          },
          "operations": {
            "type": "object",
[...]
