{
  "openapi": "3.0.3",
  "info": {
    "title": "Setu UMAP - UPI Payments API",
    "description": "Setu UMAP (Unified Merchant API for Payments) provides UPI payment APIs for Indian fintech use cases including payment links, QR codes, collect requests, recurring mandates, pre-debit notifications, and mandate executions. Supports both merchant and aggregator integrations.",
    "version": "1.0.0",
    "x-jentic-source-url": "https://docs.setu.co/payments/umap/api-reference"
  },
  "servers": [
    {
      "url": "https://umap.setu.co/api",
      "description": "Setu UMAP Production Server"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/merchants/mandates": {
      "post": {
        "operationId": "createRecurringMandate",
        "summary": "Create a recurring mandate",
        "description": "Creates a new recurring UPI mandate for scheduled payments such as subscriptions, loan EMIs, or investment SIPs.",
        "parameters": [
          {
            "name": "merchantId",
            "in": "header",
            "required": true,
            "description": "Unique merchant identifier",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateMandateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Mandate created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MandateResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing bearer token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/merchants/mandates/{mandateId}": {
      "get": {
        "operationId": "getMandateStatus",
        "summary": "Get mandate status",
        "description": "Retrieves the current status and details of a recurring mandate by its ID.",
        "parameters": [
          {
            "name": "mandateId",
            "in": "path",
            "required": true,
            "description": "Unique mandate identifier",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "merchantId",
            "in": "header",
            "required": true,
            "description": "Unique merchant identifier",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Mandate details retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MandateResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid mandate ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/merchants/mandates/{mandateId}/notify": {
      "post": {
        "operationId": "sendPreDebitNotification",
        "summary": "Send pre-debit notification",
        "description": "Sends a pre-debit notification to the customer 48-72 hours before executing a mandate debit. Required before mandate execution unless autoPreNotify is enabled.",
        "parameters": [
          {
            "name": "mandateId",
            "in": "path",
            "required": true,
            "description": "Unique mandate identifier",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "merchantId",
            "in": "header",
            "required": true,
            "description": "Unique merchant identifier",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PreDebitNotificationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Pre-debit notification sent successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PreDebitNotificationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/merchants/mandate-pre-debit-notifications/{id}": {
      "get": {
        "operationId": "getPreDebitNotificationStatus",
        "summary": "Get pre-debit notification status",
        "description": "Retrieves the status and details of a pre-debit notification by its ID.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Unique pre-debit notification identifier",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "merchantId",
            "in": "header",
            "required": true,
            "description": "Unique merchant identifier",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Pre-debit notification details retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PreDebitNotificationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid notification ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/merchants/mandates/{mandateId}/execute": {
      "post": {
        "operationId": "executeMandateDebit",
        "summary": "Execute mandate debit",
        "description": "Triggers execution of a mandate debit to collect the payment from the customer. Pre-debit notification must have been sent and confirmed before execution.",
        "parameters": [
          {
            "name": "mandateId",
            "in": "path",
            "required": true,
            "description": "Unique mandate identifier",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "merchantId",
            "in": "header",
            "required": true,
            "description": "Unique merchant identifier",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExecuteMandateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Mandate execution initiated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MandateExecutionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request or mandate not in executable state",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/merchants/mandate-executions/{id}": {
      "get": {
        "operationId": "getMandateExecutionStatus",
        "summary": "Get mandate execution status",
        "description": "Retrieves the status and details of a mandate execution by its ID.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Unique mandate execution identifier",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "merchantId",
            "in": "header",
            "required": true,
            "description": "Unique merchant identifier",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Mandate execution details retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MandateExecutionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid execution ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "OAuth 2.0 Bearer token obtained from POST /v1/users/login on https://accountservice.setu.co with clientID and secret."
      }
    },
    "schemas": {
      "CreateMandateRequest": {
        "type": "object",
        "required": [
          "amount",
          "currency",
          "customerVpa",
          "merchantVpa",
          "productConfigId",
          "frequency",
          "startDate",
          "endDate",
          "transactionNote"
        ],
        "properties": {
          "allowMultipleDebit": {
            "type": "boolean",
            "description": "Whether multiple debits are allowed per cycle"
          },
          "amount": {
            "type": "number",
            "description": "Mandate amount in paise (smallest currency unit)"
          },
          "amountRule": {
            "type": "string",
            "enum": ["max", "exact"],
            "description": "Whether the amount is a maximum limit or exact"
          },
          "autoExecute": {
            "type": "boolean",
            "description": "Whether to auto-execute the mandate on the scheduled date"
          },
          "autoPreNotify": {
            "type": "boolean",
            "description": "Whether to auto-send pre-debit notifications"
          },
          "blockFunds": {
            "type": "boolean",
            "description": "Whether to block funds in the customer account"
          },
          "creationMode": {
            "type": "string",
            "enum": ["intent", "qr", "collect"],
            "description": "Mode of mandate creation"
          },
          "currency": {
            "type": "string",
            "enum": ["INR"],
            "description": "Currency code (only INR supported for UPI)"
          },
          "customerRevocable": {
            "type": "boolean",
            "description": "Whether the customer can revoke the mandate"
          },
          "customerVpa": {
            "type": "string",
            "description": "Customer UPI Virtual Payment Address"
          },
          "endDate": {
            "type": "string",
            "format": "date",
            "description": "Mandate end date"
          },
          "expireAfter": {
            "type": "integer",
            "description": "Expiry time for mandate creation in minutes"
          },
          "firstExecutionAmount": {
            "type": "number",
            "description": "Amount for the first execution in paise"
          },
          "frequency": {
            "type": "string",
            "enum": ["daily", "weekly", "fortnightly", "monthly", "bimonthly", "quarterly", "halfyearly", "yearly"],
            "description": "Mandate execution frequency"
          },
          "initiationMode": {
            "type": "string",
            "enum": ["00", "01", "04"],
            "description": "Initiation mode: 00=collect, 01=qr, 04=intent"
          },
          "maxAmountLimit": {
            "type": "number",
            "description": "Maximum amount limit per debit in paise"
          },
          "merchantReferenceId": {
            "type": "string",
            "description": "Merchant-defined reference ID for the mandate"
          },
          "merchantVpa": {
            "type": "string",
            "description": "Merchant UPI Virtual Payment Address"
          },
          "productConfigId": {
            "type": "string",
            "description": "Product configuration ID provided by Setu"
          },
          "purpose": {
            "type": "string",
            "description": "Mandate purpose code as per UPI spec"
          },
          "recurrenceRule": {
            "type": "string",
            "enum": ["on", "before", "after"],
            "description": "Recurrence rule for execution"
          },
          "recurrenceValue": {
            "type": "integer",
            "description": "Day of the month/week for execution"
          },
          "shareToPayee": {
            "type": "boolean",
            "description": "Whether to share details with payee"
          },
          "startDate": {
            "type": "string",
            "format": "date",
            "description": "Mandate start date"
          },
          "transactionNote": {
            "type": "string",
            "description": "Note displayed to the customer on UPI app"
          }
        }
      },
      "MandateResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique mandate identifier"
          },
          "status": {
            "type": "string",
            "enum": ["initiated", "pending", "live", "rejected", "paused", "revoked", "completed"],
            "description": "Current mandate status"
          },
          "intentLink": {
            "type": "string",
            "description": "Deep link for intent-based mandate approval (if creationMode is intent)"
          },
          "txnId": {
            "type": "string",
            "description": "UPI transaction ID"
          },
          "umn": {
            "type": "string",
            "description": "Unique Mandate Number for pre-debit and execution"
          },
          "amount": {
            "type": "number",
            "description": "Mandate amount in paise"
          },
          "currency": {
            "type": "string"
          },
          "frequency": {
            "type": "string"
          },
          "startDate": {
            "type": "string"
          },
          "endDate": {
            "type": "string"
          },
          "merchantReferenceId": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp of mandate creation"
          }
        }
      },
      "PreDebitNotificationRequest": {
        "type": "object",
        "required": [
          "amount",
          "executionDate",
          "merchantReferenceId",
          "sequenceNumber",
          "umn"
        ],
        "properties": {
          "amount": {
            "type": "number",
            "description": "Debit amount in paise"
          },
          "executionDate": {
            "type": "string",
            "description": "Planned execution date in ddMMyyyy format"
          },
          "merchantReferenceId": {
            "type": "string",
            "description": "Merchant reference ID for this notification"
          },
          "sequenceNumber": {
            "type": "integer",
            "description": "Sequence number for the mandate execution"
          },
          "umn": {
            "type": "string",
            "description": "Unique Mandate Number obtained from mandate creation"
          }
        }
      },
      "PreDebitNotificationResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique notification identifier"
          },
          "mandateId": {
            "type": "string",
            "description": "Associated mandate ID"
          },
          "merchantId": {
            "type": "string",
            "description": "Merchant ID"
          },
          "merchantReferenceId": {
            "type": "string",
            "description": "Merchant reference ID"
          },
          "amount": {
            "type": "number",
            "description": "Debit amount in paise"
          },
          "executionDate": {
            "type": "string",
            "description": "Planned execution date"
          },
          "sequenceNumber": {
            "type": "integer",
            "description": "Execution sequence number"
          },
          "status": {
            "type": "string",
            "enum": ["pending", "success", "failed"],
            "description": "Notification delivery status"
          },
          "txnId": {
            "type": "string",
            "description": "UPI transaction ID"
          },
          "umn": {
            "type": "string",
            "description": "Unique Mandate Number"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp of notification creation"
          }
        }
      },
      "ExecuteMandateRequest": {
        "type": "object",
        "required": [
          "amount",
          "merchantReferenceId",
          "sequenceNumber",
          "umn"
        ],
        "properties": {
          "amount": {
            "type": "number",
            "description": "Execution amount in paise (must match pre-debit notification amount)"
          },
          "merchantReferenceId": {
            "type": "string",
            "description": "Merchant reference ID for this execution"
          },
          "remark": {
            "type": "string",
            "description": "Remark displayed on customer UPI app"
          },
          "sequenceNumber": {
            "type": "integer",
            "description": "Sequence number matching the pre-debit notification"
          },
          "umn": {
            "type": "string",
            "description": "Unique Mandate Number obtained from mandate creation"
          }
        }
      },
      "MandateExecutionResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique execution identifier"
          },
          "mandateId": {
            "type": "string",
            "description": "Associated mandate ID"
          },
          "merchantId": {
            "type": "string",
            "description": "Merchant ID"
          },
          "merchantReferenceId": {
            "type": "string",
            "description": "Merchant reference ID"
          },
          "amount": {
            "type": "number",
            "description": "Executed amount in paise"
          },
          "remark": {
            "type": "string",
            "description": "Transaction remark"
          },
          "sequenceNumber": {
            "type": "integer",
            "description": "Execution sequence number"
          },
          "status": {
            "type": "string",
            "enum": ["pending", "success", "failed"],
            "description": "Execution status"
          },
          "txnId": {
            "type": "string",
            "description": "UPI transaction ID"
          },
          "umn": {
            "type": "string",
            "description": "Unique Mandate Number"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp of execution"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string",
                "description": "Error code"
              },
              "message": {
                "type": "string",
                "description": "Human-readable error message"
              },
              "traceId": {
                "type": "string",
                "description": "Trace ID for debugging"
              }
            }
          }
        }
      }
    }
  }
}