{
  "openapi": "3.0.3",
  "info": {
    "title": "SMS Gateway API",
    "version": "1.0.0",
    "description": "A secure, open-source REST API for sending and receiving SMS messages via Android devices. Supports text messages, data SMS, encrypted messages, message tracking, device management, webhooks, and settings configuration.",
    "x-jentic-source-url": "https://sms-gate.app/docs/",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://api.sms-gate.app/3rdparty/v1"
    }
  ],
  "paths": {
    "/health": {
      "get": {
        "operationId": "getHealth",
        "summary": "Health check",
        "description": "Returns overall health status of the gateway",
        "tags": [
          "Health"
        ],
        "responses": {
          "200": {
            "description": "Service is healthy"
          },
          "503": {
            "description": "Service unavailable"
          }
        },
        "security": []
      }
    },
    "/health/startup": {
      "get": {
        "operationId": "getHealthStartup",
        "summary": "Startup health check",
        "description": "Returns startup health status",
        "tags": [
          "Health"
        ],
        "responses": {
          "200": {
            "description": "Service started"
          },
          "503": {
            "description": "Service not yet started"
          }
        },
        "security": []
      }
    },
    "/health/ready": {
      "get": {
        "operationId": "getHealthReady",
        "summary": "Readiness check",
        "description": "Returns readiness status",
        "tags": [
          "Health"
        ],
        "responses": {
          "200": {
            "description": "Service is ready"
          },
          "503": {
            "description": "Service not ready"
          }
        },
        "security": []
      }
    },
    "/health/live": {
      "get": {
        "operationId": "getHealthLive",
        "summary": "Liveness check",
        "description": "Returns liveness status",
        "tags": [
          "Health"
        ],
        "responses": {
          "200": {
            "description": "Service is alive"
          },
          "503": {
            "description": "Service not alive"
          }
        },
        "security": []
      }
    },
    "/messages": {
      "post": {
        "operationId": "sendMessage",
        "summary": "Send SMS message",
        "description": "Send an SMS message to one or more phone numbers. Supports text messages, data messages, and encrypted messages.",
        "tags": [
          "Messages"
        ],
        "parameters": [
          {
            "name": "skipPhoneValidation",
            "in": "query",
            "description": "Skip phone number validation",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "deviceActiveWithin",
            "in": "query",
            "description": "Only use devices active within this many seconds",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SendMessageRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Message sent successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "listMessages",
        "summary": "List messages",
        "description": "Retrieve a list of messages with optional filters",
        "tags": [
          "Messages"
        ],
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "description": "Filter messages from this date",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "to",
            "in": "query",
            "description": "Filter messages until this date",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "state",
            "in": "query",
            "description": "Filter by message state",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "Pending",
                "Sent",
                "Delivered",
                "Failed"
              ]
            }
          },
          {
            "name": "deviceId",
            "in": "query",
            "description": "Filter by device ID",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of results",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 50
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Offset for pagination",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of messages",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/MessageResponse"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/messages/{id}": {
      "get": {
        "operationId": "getMessage",
        "summary": "Get message by ID",
        "description": "Retrieve a specific message by its ID",
        "tags": [
          "Messages"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Message ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Message details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Message not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/messages/inbox/export": {
      "post": {
        "operationId": "exportInboxMessages",
        "summary": "Export inbox messages",
        "description": "Export received inbox messages for a given time range and optional device",
        "tags": [
          "Messages"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InboxExportRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Export initiated successfully"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/devices": {
      "get": {
        "operationId": "listDevices",
        "summary": "List registered devices",
        "description": "Get a list of all registered Android devices",
        "tags": [
          "Devices"
        ],
        "responses": {
          "200": {
            "description": "List of devices",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Device"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/devices/{id}": {
      "delete": {
        "operationId": "deleteDevice",
        "summary": "Delete a device",
        "description": "Remove a registered device by ID",
        "tags": [
          "Devices"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Device ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Device deleted"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Device not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/webhooks": {
      "get": {
        "operationId": "listWebhooks",
        "summary": "List webhooks",
        "description": "Get a list of configured webhooks",
        "tags": [
          "Webhooks"
        ],
        "responses": {
          "200": {
            "description": "List of webhooks",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Webhook"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createWebhook",
        "summary": "Create a webhook",
        "description": "Register a new webhook for events like sms:received",
        "tags": [
          "Webhooks"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebhookCreateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhook created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Webhook"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/webhooks/{id}": {
      "delete": {
        "operationId": "deleteWebhook",
        "summary": "Delete a webhook",
        "description": "Remove a webhook by ID",
        "tags": [
          "Webhooks"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Webhook ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Webhook deleted"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Webhook not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/logs": {
      "get": {
        "operationId": "getLogs",
        "summary": "Get logs",
        "description": "Retrieve system logs",
        "tags": [
          "Logs"
        ],
        "responses": {
          "200": {
            "description": "Log entries",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/LogEntry"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/settings": {
      "get": {
        "operationId": "getSettings",
        "summary": "Get settings",
        "description": "Retrieve current gateway settings",
        "tags": [
          "Settings"
        ],
        "responses": {
          "200": {
            "description": "Current settings",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Settings"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "patchSettings",
        "summary": "Partially update settings",
        "description": "Partially update gateway settings",
        "tags": [
          "Settings"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SettingsUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Settings updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Settings"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "replaceSettings",
        "summary": "Replace settings",
        "description": "Replace all gateway settings",
        "tags": [
          "Settings"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Settings"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Settings replaced",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Settings"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/auth/token": {
      "post": {
        "operationId": "issueToken",
        "summary": "Issue JWT token",
        "description": "Issue a new JWT access token with specified TTL and scopes",
        "tags": [
          "Authentication"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TokenIssueRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Token issued",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/auth/token/refresh": {
      "post": {
        "operationId": "refreshToken",
        "summary": "Refresh JWT token",
        "description": "Refresh an existing JWT token using the refresh token",
        "tags": [
          "Authentication"
        ],
        "responses": {
          "200": {
            "description": "Token refreshed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/auth/token/{jti}": {
      "delete": {
        "operationId": "revokeToken",
        "summary": "Revoke a token",
        "description": "Revoke a JWT token by its JTI (JWT ID)",
        "tags": [
          "Authentication"
        ],
        "parameters": [
          {
            "name": "jti",
            "in": "path",
            "required": true,
            "description": "JWT ID (jti) of the token to revoke",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Token revoked"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Token not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "SendMessageRequest": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "description": "Text message content"
          },
          "textMessage": {
            "type": "object",
            "description": "Text message object",
            "properties": {
              "text": {
                "type": "string"
              }
            }
          },
          "dataMessage": {
            "type": "object",
            "description": "Data SMS message",
            "properties": {
              "data": {
                "type": "string",
                "description": "Base64-encoded data"
              },
              "port": {
                "type": "integer",
                "description": "Port number"
              }
            }
          },
          "phoneNumbers": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "List of phone numbers to send to"
          },
          "ttl": {
            "type": "integer",
            "description": "Time to live in seconds"
          },
          "withDeliveryReport": {
            "type": "boolean",
            "description": "Request delivery report",
            "default": false
          },
          "priority": {
            "type": "integer",
            "description": "Message priority (0-127)"
          },
          "simNumber": {
            "type": "integer",
            "description": "SIM card number to use"
          },
          "isEncrypted": {
            "type": "boolean",
            "description": "Whether the message is encrypted",
            "default": false
          }
        },
        "required": [
          "phoneNumbers"
        ]
      },
      "MessageResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Message ID"
          },
          "state": {
            "type": "string",
            "enum": [
              "Pending",
              "Sent",
              "Delivered",
              "Failed"
            ],
            "description": "Message state"
          },
          "message": {
            "type": "string",
            "description": "Message text"
          },
          "phoneNumbers": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "InboxExportRequest": {
        "type": "object",
        "properties": {
          "since": {
            "type": "string",
            "format": "date-time",
            "description": "Start date for export"
          },
          "until": {
            "type": "string",
            "format": "date-time",
            "description": "End date for export"
          },
          "deviceId": {
            "type": "string",
            "description": "Device ID to filter by"
          }
        },
        "required": [
          "since",
          "until"
        ]
      },
      "Device": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Device ID"
          },
          "name": {
            "type": "string",
            "description": "Device name"
          },
          "lastSeen": {
            "type": "string",
            "format": "date-time",
            "description": "Last activity timestamp"
          }
        }
      },
      "Webhook": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Webhook ID"
          },
          "url": {
            "type": "string",
            "description": "Webhook URL"
          },
          "event": {
            "type": "string",
            "description": "Event type",
            "enum": [
              "sms:received"
            ]
          }
        }
      },
      "WebhookCreateRequest": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Optional webhook ID"
          },
          "url": {
            "type": "string",
            "description": "Webhook callback URL"
          },
          "event": {
            "type": "string",
            "description": "Event to subscribe to",
            "enum": [
              "sms:received"
            ]
          }
        },
        "required": [
          "url",
          "event"
        ]
      },
      "LogEntry": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "level": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Settings": {
        "type": "object",
        "properties": {
          "encryption": {
            "type": "object",
            "properties": {
              "passphrase": {
                "type": "string"
              }
            }
          },
          "messages": {
            "type": "object",
            "properties": {
              "send_interval_min": {
                "type": "integer",
                "nullable": true
              },
              "send_interval_max": {
                "type": "integer",
                "nullable": true
              },
              "limit_period": {
                "type": "string",
                "enum": [
                  "Disabled",
                  "PerMinute",
                  "PerHour",
                  "PerDay"
                ]
              },
              "limit_value": {
                "type": "integer",
                "nullable": true
              },
              "sim_selection_mode": {
                "type": "string",
                "enum": [
                  "OSDefault",
                  "RoundRobin"
                ]
              },
              "log_lifetime_days": {
                "type": "integer",
                "nullable": true
              }
            }
          },
          "ping": {
            "type": "object",
            "properties": {
              "interval_seconds": {
                "type": "integer",
                "nullable": true
              }
            }
          },
          "logs": {
            "type": "object",
            "properties": {
              "lifetime_days": {
                "type": "integer"
              }
            }
          },
          "webhooks": {
            "type": "object",
            "properties": {
              "internet_required": {
                "type": "boolean"
              },
              "retry_count": {
                "type": "integer"
              },
              "signing_key": {
                "type": "string"
              }
            }
          }
        }
      },
      "SettingsUpdate": {
        "type": "object",
        "description": "Partial settings update. Same structure as Settings but all fields optional.",
        "properties": {
          "messages": {
            "type": "object",
            "properties": {
              "send_interval_min": {
                "type": "integer",
                "nullable": true
              },
              "send_interval_max": {
                "type": "integer",
                "nullable": true
              }
            }
          }
        }
      },
      "TokenIssueRequest": {
        "type": "object",
        "properties": {
          "ttl": {
            "type": "integer",
            "description": "Token time to live in seconds"
          },
          "scopes": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "messages:send",
                "messages:read",
                "devices:list",
                "devices:write",
                "webhooks:list",
                "webhooks:write",
                "settings:read",
                "settings:write",
                "logs:read"
              ]
            },
            "description": "List of permission scopes"
          }
        },
        "required": [
          "ttl",
          "scopes"
        ]
      },
      "TokenResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "JWT ID (jti)"
          },
          "token": {
            "type": "string",
            "description": "JWT access token"
          },
          "refresh_token": {
            "type": "string",
            "description": "Refresh token"
          },
          "expires_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "description": "Error message"
          }
        }
      }
    },
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "Basic authentication using username and password from the SMS Gateway app"
      },
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "JWT Bearer token authentication"
      }
    }
  },
  "security": [
    {
      "basicAuth": []
    },
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Authentication"
    },
    {
      "name": "Devices"
    },
    {
      "name": "Health"
    },
    {
      "name": "Logs"
    },
    {
      "name": "Messages"
    },
    {
      "name": "Settings"
    },
    {
      "name": "Webhooks"
    }
  ]
}
