{
  "openapi": "3.0.3",
  "info": {
    "title": "IBM Watson Text to Speech API",
    "version": "1.0.0",
    "description": "IBM Watson Text to Speech converts written text to natural-sounding speech. The service supports multiple languages and voices, SSML input, word timings, custom voice models, and various audio formats.",
    "x-jentic-source-url": "https://cloud.ibm.com/apidocs/text-to-speech",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://api.us-south.text-to-speech.watson.cloud.ibm.com",
      "description": "US South instance (replace with your region)"
    }
  ],
  "paths": {
    "/v1/voices": {
      "get": {
        "operationId": "listVoices",
        "summary": "List available voices",
        "description": "Lists all voices available for use with the service. The information includes the name, language, gender, and other details about each voice.",
        "tags": [
          "Voices"
        ],
        "responses": {
          "200": {
            "description": "List of available voices",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Voices"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/voices/{voice}": {
      "get": {
        "operationId": "getVoice",
        "summary": "Get a voice",
        "description": "Gets information about the specified voice.",
        "tags": [
          "Voices"
        ],
        "parameters": [
          {
            "name": "voice",
            "in": "path",
            "description": "Voice identifier (e.g., en-US_AllisonV3Voice)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "customization_id",
            "in": "query",
            "description": "GUID of a custom model to include with the voice",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Voice details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Voice"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Voice not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/synthesize": {
      "get": {
        "operationId": "synthesizeGet",
        "summary": "Synthesize audio (GET)",
        "description": "Synthesizes text to audio via query parameter. Limited to 8KB of text.",
        "tags": [
          "Synthesis"
        ],
        "parameters": [
          {
            "name": "accept",
            "in": "query",
            "description": "Audio format (e.g., audio/wav, audio/mp3, audio/ogg;codecs=opus, audio/flac)",
            "required": false,
            "schema": {
              "type": "string",
              "default": "audio/ogg;codecs=opus"
            }
          },
          {
            "name": "text",
            "in": "query",
            "description": "Text to synthesize (plain text or SSML)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "voice",
            "in": "query",
            "description": "Voice to use for synthesis",
            "required": false,
            "schema": {
              "type": "string",
              "default": "en-US_MichaelV3Voice"
            }
          },
          {
            "name": "customization_id",
            "in": "query",
            "description": "GUID of custom model",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Audio stream",
            "content": {
              "audio/wav": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "audio/mp3": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "audio/ogg;codecs=opus": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "audio/flac": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "406": {
            "description": "Not acceptable - unsupported audio format",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "synthesize",
        "summary": "Synthesize audio (POST)",
        "description": "Synthesizes text to audio. Accepts plain text or SSML input in the request body.",
        "tags": [
          "Synthesis"
        ],
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "description": "Audio format",
            "required": false,
            "schema": {
              "type": "string",
              "default": "audio/ogg;codecs=opus"
            }
          },
          {
            "name": "voice",
            "in": "query",
            "description": "Voice to use",
            "required": false,
            "schema": {
              "type": "string",
              "default": "en-US_MichaelV3Voice"
            }
          },
          {
            "name": "customization_id",
            "in": "query",
            "description": "GUID of custom model",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SynthesizeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Audio stream",
            "content": {
              "audio/wav": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "audio/mp3": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "audio/ogg;codecs=opus": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "audio/flac": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "406": {
            "description": "Not acceptable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/pronunciation": {
      "get": {
        "operationId": "getPronunciation",
        "summary": "Get pronunciation",
        "description": "Gets the phonetic pronunciation of the specified text.",
        "tags": [
          "Pronunciation"
        ],
        "parameters": [
          {
            "name": "text",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "voice",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "Phoneme format",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "ipa",
                "ibm"
              ],
              "default": "ipa"
            }
          },
          {
            "name": "customization_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Pronunciation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Pronunciation"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/customizations": {
      "get": {
        "operationId": "listCustomModels",
        "summary": "List custom models",
        "description": "Lists all custom models owned by the requesting credentials.",
        "tags": [
          "Custom Models"
        ],
        "parameters": [
          {
            "name": "language",
            "in": "query",
            "description": "Filter by language",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Custom models list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomModels"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createCustomModel",
        "summary": "Create a custom model",
        "description": "Creates a new custom model.",
        "tags": [
          "Custom Models"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCustomModel"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Custom model created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/customizations/{customization_id}": {
      "get": {
        "operationId": "getCustomModel",
        "summary": "Get a custom model",
        "description": "Gets all information about a specified custom model.",
        "tags": [
          "Custom Models"
        ],
        "parameters": [
          {
            "name": "customization_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Custom model details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "updateCustomModel",
        "summary": "Update a custom model",
        "description": "Updates a custom model with new name, description, or words.",
        "tags": [
          "Custom Models"
        ],
        "parameters": [
          {
            "name": "customization_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCustomModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Custom model updated"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteCustomModel",
        "summary": "Delete a custom model",
        "description": "Deletes the specified custom model.",
        "tags": [
          "Custom Models"
        ],
        "parameters": [
          {
            "name": "customization_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Custom model deleted"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/customizations/{customization_id}/words": {
      "get": {
        "operationId": "listWords",
        "summary": "List custom words",
        "description": "Lists all words from a custom model.",
        "tags": [
          "Custom Words"
        ],
        "parameters": [
          {
            "name": "customization_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Custom words",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Words"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "addWords",
        "summary": "Add custom words",
        "description": "Adds one or more words to a custom model.",
        "tags": [
          "Custom Words"
        ],
        "parameters": [
          {
            "name": "customization_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Words"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Words added"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/customizations/{customization_id}/words/{word}": {
      "get": {
        "operationId": "getWord",
        "summary": "Get a custom word",
        "description": "Gets the translation for a specific word from a custom model.",
        "tags": [
          "Custom Words"
        ],
        "parameters": [
          {
            "name": "customization_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "word",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Word translation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Translation"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "addWord",
        "summary": "Add or update a custom word",
        "description": "Adds or updates a single word in a custom model.",
        "tags": [
          "Custom Words"
        ],
        "parameters": [
          {
            "name": "customization_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "word",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Translation"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Word added/updated"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteWord",
        "summary": "Delete a custom word",
        "description": "Deletes a word from a custom model.",
        "tags": [
          "Custom Words"
        ],
        "parameters": [
          {
            "name": "customization_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "word",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Word deleted"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Voices": {
        "type": "object",
        "properties": {
          "voices": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Voice"
            }
          }
        }
      },
      "Voice": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string",
            "format": "uri"
          },
          "gender": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "language": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "customizable": {
            "type": "boolean"
          },
          "supported_features": {
            "type": "object",
            "properties": {
              "custom_pronunciation": {
                "type": "boolean"
              },
              "voice_transformation": {
                "type": "boolean"
              }
            }
          }
        }
      },
      "SynthesizeRequest": {
        "type": "object",
        "required": [
          "text"
        ],
        "properties": {
          "text": {
            "type": "string",
            "description": "Text to synthesize (plain text or SSML)"
          }
        }
      },
      "Pronunciation": {
        "type": "object",
        "properties": {
          "pronunciation": {
            "type": "string"
          }
        }
      },
      "CustomModels": {
        "type": "object",
        "properties": {
          "customizations": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CustomModel"
            }
          }
        }
      },
      "CustomModel": {
        "type": "object",
        "properties": {
          "customization_id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "language": {
            "type": "string"
          },
          "owner": {
            "type": "string"
          },
          "created": {
            "type": "string",
            "format": "date-time"
          },
          "last_modified": {
            "type": "string",
            "format": "date-time"
          },
          "description": {
            "type": "string"
          },
          "words": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Word"
            }
          }
        }
      },
      "CreateCustomModel": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "language": {
            "type": "string",
            "default": "en-US"
          },
          "description": {
            "type": "string"
          }
        }
      },
      "UpdateCustomModel": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "words": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Word"
            }
          }
        }
      },
      "Words": {
        "type": "object",
        "properties": {
          "words": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Word"
            }
          }
        }
      },
      "Word": {
        "type": "object",
        "properties": {
          "word": {
            "type": "string"
          },
          "translation": {
            "type": "string"
          },
          "part_of_speech": {
            "type": "string"
          }
        }
      },
      "Translation": {
        "type": "object",
        "properties": {
          "translation": {
            "type": "string"
          },
          "part_of_speech": {
            "type": "string"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "code": {
            "type": "integer"
          },
          "code_description": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "Basic auth with 'apikey' as username and your API key as password"
      },
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "IAM",
        "description": "IAM bearer token"
      }
    }
  },
  "security": [
    {
      "basicAuth": []
    }
  ],
  "tags": [
    {
      "name": "Custom Models"
    },
    {
      "name": "Custom Words"
    },
    {
      "name": "Pronunciation"
    },
    {
      "name": "Synthesis"
    },
    {
      "name": "Voices"
    }
  ]
}
