{
  "openapi": "3.0.0",
  "info": {
    "title": "SIE API - Story Data",
    "version": "1.0.0",
    "description": "Endpoint per recuperare i dati completi di una storia in base al suo ID. L'endpoint esegue diverse query in batch per restituire dati correlati alla storia, quali dettagli della storia, scenari, personaggi, scene, grafico della storia, assegnazioni di punti, dettagli delle assegnazioni, oggetti, sfide, dialoghi e linee di dialogo.",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/ANTONYVITILLO/sie-api-story-data/1.0.0"
  },
  "servers": [
    {
      "url": "https://www.chrones.eu/SIE/api/v1/story",
      "description": "Server di produzione"
    }
  ],
  "paths": {
    "/getStoryByID.php": {
      "post": {
        "summary": "Recupera i dati di una storia",
        "description": "Restituisce tutti i dati relativi a una storia selezionata. Richiede il parametro 'storyID' (numerico) nel corpo della richiesta e restituisce un oggetto JSON contenente le propriet\u00e0 'story', 'scenario', 'characters', 'scenes', 'story_graph', 'points_assignments', 'points_assignments_details', 'objects', 'challenges', 'dialogues' e 'dialogue_lines'.",
        "requestBody": {
          "description": "Il parametro 'storyID' \u00e8 obbligatorio e deve essere un numero che identifica la storia.",
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "storyID": {
                    "type": "integer",
                    "description": "ID della storia da recuperare."
                  }
                },
                "required": [
                  "storyID"
                ]
              },
              "example": {
                "storyID": 123
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Dati della storia recuperati con successo.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "story": {
                      "type": "object",
                      "description": "Dettagli della storia."
                    },
                    "scenario": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      },
                      "description": "Lista degli scenari associati alla storia."
                    },
                    "characters": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      },
                      "description": "Lista dei personaggi della storia."
                    },
                    "scenes": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      },
                      "description": "Lista delle scene della storia."
                    },
                    "story_graph": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      },
                      "description": "Grafico della storia."
                    },
                    "points_assignments": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      },
                      "description": "Assegnazioni di punti della storia."
                    },
                    "points_assignments_details": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      },
                      "description": "Dettagli delle assegnazioni di punti."
                    },
                    "objects": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      },
                      "description": "Lista degli oggetti associati alla storia."
                    },
                    "challenges": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      },
                      "description": "Lista delle sfide della storia."
                    },
                    "dialogues": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      },
                      "description": "Lista dei dialoghi associati alle scene della storia."
                    },
                    "dialogue_lines": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      },
                      "description": "Lista delle linee di dialogo all'interno dei dialoghi."
                    }
                  }
                },
                "example": {
                  "story": {
                    "story_id": 123,
                    "title": "La Grande Avventura",
                    "description": "Una storia epica di coraggio e avventura"
                  },
                  "scenario": [
                    {
                      "scenario_id": 1,
                      "name": "Scenario Iniziale"
                    }
                  ],
                  "characters": [
                    {
                      "character_id": 1,
                      "name": "Eroe"
                    },
                    {
                      "character_id": 2,
                      "name": "Antagonista"
                    }
                  ],
                  "scenes": [
                    {
                      "scene_id": 1,
                      "description": "Inizio della storia"
                    }
                  ],
                  "story_graph": [
                    {
                      "graph_id": 1,
                      "details": "Connessioni tra le scene"
                    }
                  ],
                  "points_assignments": [
                    {
                      "assignment_id": 1,
                      "points": 10
                    }
                  ],
                  "points_assignments_details": [
                    {
                      "detail_id": 1,
                      "description": "Dettaglio assegnazione punti"
                    }
                  ],
                  "objects": [
                    {
                      "object_id": 1,
                      "name": "Spada Magica"
                    }
                  ],
                  "challenges": [
                    {
                      "challenge_id": 1,
                      "description": "Superare il drago"
                    }
                  ],
                  "dialogues": [
                    {
                      "dialogue_id": 1,
                      "text": "Benvenuto, eroe!"
                    }
                  ],
                  "dialogue_lines": [
                    {
                      "line_id": 1,
                      "speaker": "Eroe",
                      "text": "Sono pronto per la sfida."
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Errore: parametro storyID mancante o non valido.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Messaggio di errore"
                    }
                  }
                },
                "example": {
                  "error": "Invalid or missing storyID"
                }
              }
            }
          },
          "404": {
            "description": "Errore: storia non trovata.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Messaggio di errore"
                    }
                  }
                },
                "example": {
                  "error": "Story not found"
                }
              }
            }
          },
          "500": {
            "description": "Errore interno del server.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Messaggio di errore"
                    }
                  }
                },
                "example": {
                  "error": "Internal server error"
                }
              }
            }
          }
        }
      }
    }
  }
}