{
  "openapi": "3.0.0",
  "info": {
    "title": "Transport for London Unified API",
    "version": "v1",
    "x-jentic-source-url": "https://raw.githubusercontent.com/jentic/jentic-public-apis/refs/heads/main/apis/openapi/tfl.gov.uk/main/v1/openapi.json",
    "contact": {
      "name": "API Support"
    },
    "description": "Transport for London Unified API - OpenAPI Specification"
  },
  "servers": [
    {
      "url": "https://api.digital.tfl.gov.uk/"
    }
  ],
  "paths": {
    "/AccidentStats/{year}": {
      "get": {
        "parameters": [
          {
            "description": "The year for which to filter the accidents on.",
            "in": "path",
            "name": "year",
            "required": true,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.AccidentStats.AccidentDetail"
                  },
                  "type": "array"
                }
              },
              "application/xml": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.AccidentStats.AccidentDetail"
                  },
                  "type": "array"
                }
              },
              "text/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.AccidentStats.AccidentDetail"
                  },
                  "type": "array"
                }
              },
              "text/xml": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.AccidentStats.AccidentDetail"
                  },
                  "type": "array"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "AccidentStats"
        ],
        "deprecated": false,
        "operationId": "AccidentStats_Get",
        "summary": "Gets all accident details for accidents occuring in the specified year",
        "description": "Gets all accident details for accidents occuring in the specified year"
      }
    },
    "/AirQuality": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/System.Object"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/System.Object"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/System.Object"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/System.Object"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "AirQuality"
        ],
        "deprecated": false,
        "operationId": "AirQuality_Get",
        "summary": "Gets air quality data feed",
        "description": "Gets air quality data feed"
      }
    },
    "/BikePoint": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.Place"
                  },
                  "type": "array"
                }
              },
              "application/xml": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.Place"
                  },
                  "type": "array"
                }
              },
              "text/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.Place"
                  },
                  "type": "array"
                }
              },
              "text/xml": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.Place"
                  },
                  "type": "array"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "BikePoint"
        ],
        "deprecated": false,
        "operationId": "BikePoint_GetAll",
        "summary": "Gets all bike point locations. The Place object has an addtionalProperties array which contains the nbBikes, nbDocks and nbSpaces\r\n            numbers which give the status of the BikePoint. A mismatch in these numbers i.e. nbDocks - (nbBikes + nbSpaces) != 0 indicates broken docks.",
        "description": "Gets all bike point locations. The Place object has an addtionalProperties array which contains the nbBikes, nbDocks and nbSpaces\r\n            numbers which give the status of the BikePoint. A mismatch in these numbers i.e. nbDocks - (nbBikes + nbSpaces) != 0 indicates broken docks."
      }
    },
    "/BikePoint/Search": {
      "get": {
        "parameters": [
          {
            "description": "The search term e.g. \"St. James\"",
            "in": "query",
            "name": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.Place"
                  },
                  "type": "array"
                }
              },
              "application/xml": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.Place"
                  },
                  "type": "array"
                }
              },
              "text/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.Place"
                  },
                  "type": "array"
                }
              },
              "text/xml": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.Place"
                  },
                  "type": "array"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "BikePoint"
        ],
        "deprecated": false,
        "operationId": "BikePoint_Search",
        "summary": "Search for bike stations by their name, a bike point's name often contains information about the name of the street\r\n            or nearby landmarks, for example. Note that the search result does not contain the PlaceProperties i.e. the status\r\n            or occupancy of the BikePoint, to get that information you should retrieve the BikePoint by its id on /BikePoint/id.",
        "description": "Search for bike stations by their name, a bike point's name often contains information about the name of the street\r\n            or nearby landmarks, for example. Note that the search result does not contain the PlaceProperties i.e. the status\r\n            or occupancy of the BikePoint, to get that information you should retrieve the BikePoint by its id on /BikePoint/id."
      }
    },
    "/BikePoint/{id}": {
      "get": {
        "parameters": [
          {
            "description": "A bike point id (a list of ids can be obtained from the above BikePoint call)",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.Place"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.Place"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.Place"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.Place"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "BikePoint"
        ],
        "deprecated": false,
        "operationId": "BikePoint_Get",
        "summary": "Gets the bike point with the given id.",
        "description": "Gets the bike point with the given id."
      }
    },
    "/Cabwise/search": {
      "get": {
        "parameters": [
          {
            "description": "Latitude",
            "in": "query",
            "name": "lat",
            "required": true,
            "schema": {
              "format": "double",
              "type": "number"
            }
          },
          {
            "description": "Longitude",
            "in": "query",
            "name": "lon",
            "required": true,
            "schema": {
              "format": "double",
              "type": "number"
            }
          },
          {
            "description": "Operator Type e.g Minicab, Executive, Limousine",
            "in": "query",
            "name": "optype",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Wheelchair accessible",
            "in": "query",
            "name": "wc",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The radius of the bounding circle in metres",
            "in": "query",
            "name": "radius",
            "required": false,
            "schema": {
              "format": "double",
              "type": "number"
            }
          },
          {
            "description": "Trading name of operating company",
            "in": "query",
            "name": "name",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "An optional parameter to limit the number of results return. Default and maximum is 20.",
            "in": "query",
            "name": "maxResults",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "Legacy Format",
            "in": "query",
            "name": "legacyFormat",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "Force Xml",
            "in": "query",
            "name": "forceXml",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "Twenty Four Seven Only",
            "in": "query",
            "name": "twentyFourSevenOnly",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/System.Object"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/System.Object"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/System.Object"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/System.Object"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "Cabwise"
        ],
        "deprecated": false,
        "operationId": "Cabwise_Get",
        "summary": "Gets taxis and minicabs contact information",
        "description": "Gets taxis and minicabs contact information"
      }
    },
    "/Journey/JourneyResults/{from}/to/{to}": {
      "get": {
        "parameters": [
          {
            "description": "Origin of the journey. Can be WGS84 coordinates expressed as \"lat,long\", a UK postcode, a Naptan (StopPoint) id, an ICS StopId, or a free-text string (will cause disambiguation unless it exactly matches a point of interest name).",
            "in": "path",
            "name": "from",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Destination of the journey. Can be WGS84 coordinates expressed as \"lat,long\", a UK postcode, a Naptan (StopPoint) id, an ICS StopId, or a free-text string (will cause disambiguation unless it exactly matches a point of interest name).",
            "in": "path",
            "name": "to",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Travel through point on the journey. Can be WGS84 coordinates expressed as \"lat,long\", a UK postcode, a Naptan (StopPoint) id, an ICS StopId, or a free-text string (will cause disambiguation unless it exactly matches a point of interest name).",
            "in": "query",
            "name": "via",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Does the journey cover stops outside London? eg. \"nationalSearch=true\"",
            "in": "query",
            "name": "nationalSearch",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "The date must be in yyyyMMdd format",
            "in": "query",
            "name": "date",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The time must be in HHmm format",
            "in": "query",
            "name": "time",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Does the time given relate to arrival or leaving time? Possible options: \"departing\" | \"arriving\"",
            "in": "query",
            "name": "timeIs",
            "required": false,
            "schema": {
              "enum": [
                "Arriving",
                "Departing"
              ],
              "type": "string"
            }
          },
          {
            "description": "The journey preference eg possible options: \"leastinterchange\" | \"leasttime\" | \"leastwalking\"",
            "in": "query",
            "name": "journeyPreference",
            "required": false,
            "schema": {
              "enum": [
                "LeastInterchange",
                "LeastTime",
                "LeastWalking"
              ],
              "type": "string"
            }
          },
          {
            "description": "The mode must be a comma separated list of modes. eg possible options: \"public-bus,overground,train,tube,coach,dlr,cablecar,tram,river,walking,cycle\"",
            "explode": true,
            "in": "query",
            "name": "mode",
            "required": false,
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array"
            }
          },
          {
            "description": "The accessibility preference must be a comma separated list eg. \"noSolidStairs,noEscalators,noElevators,stepFreeToVehicle,stepFreeToPlatform\"",
            "explode": true,
            "in": "query",
            "name": "accessibilityPreference",
            "required": false,
            "schema": {
              "items": {
                "enum": [
                  "NoRequirements",
                  "NoSolidStairs",
                  "NoEscalators",
                  "NoElevators",
                  "StepFreeToVehicle",
                  "StepFreeToPlatform"
                ],
                "type": "string"
              },
              "type": "array"
            }
          },
          {
            "description": "An optional name to associate with the origin of the journey in the results.",
            "in": "query",
            "name": "fromName",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "An optional name to associate with the destination of the journey in the results.",
            "in": "query",
            "name": "toName",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "An optional name to associate with the via point of the journey in the results.",
            "in": "query",
            "name": "viaName",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The max walking time in minutes for transfer eg. \"120\"",
            "in": "query",
            "name": "maxTransferMinutes",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The max walking time in minutes for journeys eg. \"120\"",
            "in": "query",
            "name": "maxWalkingMinutes",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The walking speed. eg possible options: \"slow\" | \"average\" | \"fast\".",
            "in": "query",
            "name": "walkingSpeed",
            "required": false,
            "schema": {
              "enum": [
                "Slow",
                "Average",
                "Fast"
              ],
              "type": "string"
            }
          },
          {
            "description": "The cycle preference. eg possible options: \"allTheWay\" | \"leaveAtStation\" | \"takeOnTransport\" | \"cycleHire\"",
            "in": "query",
            "name": "cyclePreference",
            "required": false,
            "schema": {
              "enum": [
                "None",
                "LeaveAtStation",
                "TakeOnTransport",
                "AllTheWay",
                "CycleHire"
              ],
              "type": "string"
            }
          },
          {
            "description": "Time adjustment command. eg possible options: \"TripFirst\" | \"TripLast\"",
            "in": "query",
            "name": "adjustment",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "A comma separated list of cycling proficiency levels. eg possible options: \"easy,moderate,fast\"",
            "explode": true,
            "in": "query",
            "name": "bikeProficiency",
            "required": false,
            "schema": {
              "items": {
                "enum": [
                  "Easy",
                  "Moderate",
                  "Fast"
                ],
                "type": "string"
              },
              "type": "array"
            }
          },
          {
            "description": "Option to determine whether to return alternative cycling journey",
            "in": "query",
            "name": "alternativeCycle",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "Option to determine whether to return alternative walking journey",
            "in": "query",
            "name": "alternativeWalking",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "Flag to determine whether certain text (e.g. walking instructions) should be output with HTML tags or not.",
            "in": "query",
            "name": "applyHtmlMarkup",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "A boolean to indicate whether or not to return 3 public transport journeys, a bus journey, a cycle hire journey, a personal cycle journey and a walking journey",
            "in": "query",
            "name": "useMultiModalCall",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "A boolean to indicate whether to optimize journeys using walking",
            "in": "query",
            "name": "walkingOptimization",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "A boolean to indicate whether to return one or more taxi journeys. Note, setting this to true will override \"useMultiModalCall\".",
            "in": "query",
            "name": "taxiOnlyTrip",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "A boolean to indicate whether public transport routes should include directions between platforms and station entrances.",
            "in": "query",
            "name": "routeBetweenEntrances",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "A boolean to indicate if we want to receive real time live arrivals data where available.",
            "in": "query",
            "name": "useRealTimeLiveArrivals",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "A boolean to make Journey Planner calculate journeys in one temporal direction only. In other words, only calculate journeys after the 'depart' time, or before the 'arrive' time. By default, the Journey Planner engine (EFA) calculates journeys in both temporal directions.",
            "in": "query",
            "name": "calcOneDirection",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "A boolean to make Journey Planner return alternative routes. Alternative routes are calculated by removing one or more lines included in the fastest route and re-calculating. By default, these journeys will not be returned.",
            "in": "query",
            "name": "includeAlternativeRoutes",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "An optional integer to indicate what multi modal scenario we want to use.",
            "in": "query",
            "name": "overrideMultiModalScenario",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "A boolean to indicate whether walking leg to station entrance and walking leg from station entrance to platform should be combined. Defaults to true",
            "in": "query",
            "name": "combineTransferLegs",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.JourneyPlanner.ItineraryResult"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.JourneyPlanner.ItineraryResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.JourneyPlanner.ItineraryResult"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.JourneyPlanner.ItineraryResult"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "Journey"
        ],
        "deprecated": false,
        "operationId": "Journey_JourneyResults",
        "summary": "Perform a Journey Planner search from the parameters specified in simple types",
        "description": "Perform a Journey Planner search from the parameters specified in simple types"
      }
    },
    "/Journey/Meta/Modes": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.Mode"
                  },
                  "type": "array"
                }
              },
              "application/xml": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.Mode"
                  },
                  "type": "array"
                }
              },
              "text/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.Mode"
                  },
                  "type": "array"
                }
              },
              "text/xml": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.Mode"
                  },
                  "type": "array"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "Journey"
        ],
        "deprecated": false,
        "operationId": "Journey_Meta",
        "summary": "Gets a list of all of the available journey planner modes",
        "description": "Gets a list of all of the available journey planner modes"
      }
    },
    "/Line/Meta/DisruptionCategories": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "type": "string"
                  },
                  "type": "array"
                }
              },
              "application/xml": {
                "schema": {
                  "items": {
                    "type": "string"
                  },
                  "type": "array"
                }
              },
              "text/json": {
                "schema": {
                  "items": {
                    "type": "string"
                  },
                  "type": "array"
                }
              },
              "text/xml": {
                "schema": {
                  "items": {
                    "type": "string"
                  },
                  "type": "array"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "Line"
        ],
        "deprecated": false,
        "operationId": "Line_MetaDisruptionCategories",
        "summary": "Gets a list of valid disruption categories",
        "description": "Gets a list of valid disruption categories"
      }
    },
    "/Line/Meta/Modes": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.Mode"
                  },
                  "type": "array"
                }
              },
              "application/xml": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.Mode"
                  },
                  "type": "array"
                }
              },
              "text/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.Mode"
                  },
                  "type": "array"
                }
              },
              "text/xml": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.Mode"
                  },
                  "type": "array"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "Line"
        ],
        "deprecated": false,
        "operationId": "Line_MetaModes",
        "summary": "Gets a list of valid modes",
        "description": "Gets a list of valid modes"
      }
    },
    "/Line/Meta/ServiceTypes": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "type": "string"
                  },
                  "type": "array"
                }
              },
              "application/xml": {
                "schema": {
                  "items": {
                    "type": "string"
                  },
                  "type": "array"
                }
              },
              "text/json": {
                "schema": {
                  "items": {
                    "type": "string"
                  },
                  "type": "array"
                }
              },
              "text/xml": {
                "schema": {
                  "items": {
                    "type": "string"
                  },
                  "type": "array"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "Line"
        ],
        "deprecated": false,
        "operationId": "Line_MetaServiceTypes",
        "summary": "Gets a list of valid ServiceTypes to filter on",
        "description": "Gets a list of valid ServiceTypes to filter on"
      }
    },
    "/Line/Meta/Severity": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.StatusSeverity"
                  },
                  "type": "array"
                }
              },
              "application/xml": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.StatusSeverity"
                  },
                  "type": "array"
                }
              },
              "text/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.StatusSeverity"
                  },
                  "type": "array"
                }
              },
              "text/xml": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.StatusSeverity"
                  },
                  "type": "array"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "Line"
        ],
        "deprecated": false,
        "operationId": "Line_MetaSeverity",
        "summary": "Gets a list of valid severity codes",
        "description": "Gets a list of valid severity codes"
      }
    },
    "/Line/Mode/{modes}": {
      "get": {
        "parameters": [
          {
            "description": "A comma-separated list of modes e.g. tube,dlr",
            "in": "path",
            "name": "modes",
            "required": true,
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.Line"
                  },
                  "type": "array"
                }
              },
              "application/xml": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.Line"
                  },
                  "type": "array"
                }
              },
              "text/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.Line"
                  },
                  "type": "array"
                }
              },
              "text/xml": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.Line"
                  },
                  "type": "array"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "Line"
        ],
        "deprecated": false,
        "operationId": "Line_GetByMode",
        "summary": "Gets lines that serve the given modes.",
        "description": "Gets lines that serve the given modes."
      }
    },
    "/Line/Mode/{modes}/Disruption": {
      "get": {
        "parameters": [
          {
            "description": "A comma-separated list of modes e.g. tube,dlr",
            "in": "path",
            "name": "modes",
            "required": true,
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.Disruption"
                  },
                  "type": "array"
                }
              },
              "application/xml": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.Disruption"
                  },
                  "type": "array"
                }
              },
              "text/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.Disruption"
                  },
                  "type": "array"
                }
              },
              "text/xml": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.Disruption"
                  },
                  "type": "array"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "Line"
        ],
        "deprecated": false,
        "operationId": "Line_DisruptionByMode",
        "summary": "Get disruptions for all lines of the given modes.",
        "description": "Get disruptions for all lines of the given modes."
      }
    },
    "/Line/Mode/{modes}/Route": {
      "get": {
        "parameters": [
          {
            "description": "A comma-separated list of modes e.g. tube,dlr",
            "in": "path",
            "name": "modes",
            "required": true,
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array"
            }
          },
          {
            "description": "A comma seperated list of service types to filter on. Supported values: Regular, Night. Defaulted to 'Regular' if not specified",
            "explode": true,
            "in": "query",
            "name": "serviceTypes",
            "required": false,
            "schema": {
              "items": {
                "enum": [
                  "Regular",
                  "Night"
                ],
                "type": "string"
              },
              "type": "array"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.Line"
                  },
                  "type": "array"
                }
              },
              "application/xml": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.Line"
                  },
                  "type": "array"
                }
              },
              "text/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.Line"
                  },
                  "type": "array"
                }
              },
              "text/xml": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.Line"
                  },
                  "type": "array"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "Line"
        ],
        "deprecated": false,
        "operationId": "Line_RouteByMode",
        "summary": "Gets all lines and their valid routes for given modes, including the name and id of the originating and terminating stops for each route",
        "description": "Gets all lines and their valid routes for given modes, including the name and id of the originating and terminating stops for each route"
      }
    },
    "/Line/Mode/{modes}/Status": {
      "get": {
        "parameters": [
          {
            "description": "A comma-separated list of modes to filter by. e.g. tube,dlr",
            "in": "path",
            "name": "modes",
            "required": true,
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array"
            }
          },
          {
            "description": "Include details of the disruptions that are causing the line status including the affected stops and routes",
            "in": "query",
            "name": "detail",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "If specified, ensures that only those line status(es) are returned within the lines that have disruptions with the matching severity level.",
            "in": "query",
            "name": "severityLevel",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.Line"
                  },
                  "type": "array"
                }
              },
              "application/xml": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.Line"
                  },
                  "type": "array"
                }
              },
              "text/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.Line"
                  },
                  "type": "array"
                }
              },
              "text/xml": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.Line"
                  },
                  "type": "array"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "Line"
        ],
        "deprecated": false,
        "operationId": "Line_StatusByMode",
        "summary": "Gets the line status of for all lines for the given modes",
        "description": "Gets the line status of for all lines for the given modes"
      }
    },
    "/Line/Route": {
      "get": {
        "parameters": [
          {
            "description": "A comma seperated list of service types to filter on. Supported values: Regular, Night. Defaulted to 'Regular' if not specified",
            "explode": true,
            "in": "query",
            "name": "serviceTypes",
            "required": false,
            "schema": {
              "items": {
                "enum": [
                  "Regular",
                  "Night"
                ],
                "type": "string"
              },
              "type": "array"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.Line"
                  },
                  "type": "array"
                }
              },
              "application/xml": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.Line"
                  },
                  "type": "array"
                }
              },
              "text/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.Line"
                  },
                  "type": "array"
                }
              },
              "text/xml": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.Line"
                  },
                  "type": "array"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "Line"
        ],
        "deprecated": false,
        "operationId": "Line_Route",
        "summary": "Get all valid routes for all lines, including the name and id of the originating and terminating stops for each route.",
        "description": "Get all valid routes for all lines, including the name and id of the originating and terminating stops for each route."
      }
    },
    "/Line/Search/{query}": {
      "get": {
        "parameters": [
          {
            "description": "Search term e.g victoria",
            "in": "path",
            "name": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Optionally filter by the specified modes",
            "explode": true,
            "in": "query",
            "name": "modes",
            "required": false,
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array"
            }
          },
          {
            "description": "A comma seperated list of service types to filter on. Supported values: Regular, Night. Defaulted to 'Regular' if not specified",
            "explode": true,
            "in": "query",
            "name": "serviceTypes",
            "required": false,
            "schema": {
              "items": {
                "enum": [
                  "Regular",
                  "Night"
                ],
                "type": "string"
              },
              "type": "array"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.RouteSearchResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.RouteSearchResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.RouteSearchResponse"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.RouteSearchResponse"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "Line"
        ],
        "deprecated": false,
        "operationId": "Line_Search",
        "summary": "Search for lines or routes matching the query string",
        "description": "Search for lines or routes matching the query string"
      }
    },
    "/Line/Status/{severity}": {
      "get": {
        "parameters": [
          {
            "description": "The level of severity (eg: a number from 0 to 14)",
            "in": "path",
            "name": "severity",
            "required": true,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.Line"
                  },
                  "type": "array"
                }
              },
              "application/xml": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.Line"
                  },
                  "type": "array"
                }
              },
              "text/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.Line"
                  },
                  "type": "array"
                }
              },
              "text/xml": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.Line"
                  },
                  "type": "array"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "Line"
        ],
        "deprecated": false,
        "operationId": "Line_StatusBySeverity",
        "summary": "Gets the line status for all lines with a given severity\r\n            A list of valid severity codes can be obtained from a call to Line/Meta/Severity",
        "description": "Gets the line status for all lines with a given severity\r\n            A list of valid severity codes can be obtained from a call to Line/Meta/Severity"
      }
    },
    "/Line/{ids}": {
      "get": {
        "parameters": [
          {
            "description": "A comma-separated list of line ids e.g. victoria,circle,N133. Max. approx. 20 ids.",
            "in": "path",
            "name": "ids",
            "required": true,
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.Line"
                  },
                  "type": "array"
                }
              },
              "application/xml": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.Line"
                  },
                  "type": "array"
                }
              },
              "text/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.Line"
                  },
                  "type": "array"
                }
              },
              "text/xml": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.Line"
                  },
                  "type": "array"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "Line"
        ],
        "deprecated": false,
        "operationId": "Line_Get",
        "summary": "Gets lines that match the specified line ids.",
        "description": "Gets lines that match the specified line ids."
      }
    },
    "/Line/{ids}/Arrivals/{stopPointId}": {
      "get": {
        "parameters": [
          {
            "description": "A comma-separated list of line ids e.g. victoria,circle,N133. Max. approx. 20 ids.",
            "in": "path",
            "name": "ids",
            "required": true,
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array"
            }
          },
          {
            "description": "Optional. Id of stop to get arrival predictions for (station naptan code e.g. 940GZZLUASL, you can use /StopPoint/Search/{query} endpoint to find a stop point id from a station name)",
            "in": "path",
            "name": "stopPointId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Optional. The direction of travel. Can be inbound or outbound or all. If left blank, and destinationStopId is set, will default to all",
            "in": "query",
            "name": "direction",
            "required": false,
            "schema": {
              "enum": [
                "inbound",
                "outbound",
                "all"
              ],
              "type": "string"
            }
          },
          {
            "description": "Optional. Id of destination stop",
            "in": "query",
            "name": "destinationStationId",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.Prediction"
                  },
                  "type": "array"
                }
              },
              "application/xml": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.Prediction"
                  },
                  "type": "array"
                }
              },
              "text/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.Prediction"
                  },
                  "type": "array"
                }
              },
              "text/xml": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.Prediction"
                  },
                  "type": "array"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "Line"
        ],
        "deprecated": false,
        "operationId": "Line_Arrivals",
        "summary": "Get the list of arrival predictions for given line ids based at the given stop",
        "description": "Get the list of arrival predictions for given line ids based at the given stop"
      }
    },
    "/Line/{ids}/Disruption": {
      "get": {
        "parameters": [
          {
            "description": "A comma-separated list of line ids e.g. victoria,circle,N133. Max. approx. 20 ids.",
            "in": "path",
            "name": "ids",
            "required": true,
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.Disruption"
                  },
                  "type": "array"
                }
              },
              "application/xml": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.Disruption"
                  },
                  "type": "array"
                }
              },
              "text/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.Disruption"
                  },
                  "type": "array"
                }
              },
              "text/xml": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.Disruption"
                  },
                  "type": "array"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "Line"
        ],
        "deprecated": false,
        "operationId": "Line_Disruption",
        "summary": "Get disruptions for the given line ids",
        "description": "Get disruptions for the given line ids"
      }
    },
    "/Line/{ids}/Route": {
      "get": {
        "parameters": [
          {
            "description": "A comma-separated list of line ids e.g. victoria,circle,N133. Max. approx. 20 ids.",
            "in": "path",
            "name": "ids",
            "required": true,
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array"
            }
          },
          {
            "description": "A comma seperated list of service types to filter on. Supported values: Regular, Night. Defaulted to 'Regular' if not specified",
            "explode": true,
            "in": "query",
            "name": "serviceTypes",
            "required": false,
            "schema": {
              "items": {
                "enum": [
                  "Regular",
                  "Night"
                ],
                "type": "string"
              },
              "type": "array"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.Line"
                  },
                  "type": "array"
                }
              },
              "application/xml": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.Line"
                  },
                  "type": "array"
                }
              },
              "text/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.Line"
                  },
                  "type": "array"
                }
              },
              "text/xml": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.Line"
                  },
                  "type": "array"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "Line"
        ],
        "deprecated": false,
        "operationId": "Line_LineRoutesByIds",
        "summary": "Get all valid routes for given line ids, including the name and id of the originating and terminating stops for each route.",
        "description": "Get all valid routes for given line ids, including the name and id of the originating and terminating stops for each route."
      }
    },
    "/Line/{ids}/Status": {
      "get": {
        "parameters": [
          {
            "description": "A comma-separated list of line ids e.g. victoria,circle,N133. Max. approx. 20 ids.",
            "in": "path",
            "name": "ids",
            "required": true,
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array"
            }
          },
          {
            "description": "Include details of the disruptions that are causing the line status including the affected stops and routes",
            "in": "query",
            "name": "detail",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.Line"
                  },
                  "type": "array"
                }
              },
              "application/xml": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.Line"
                  },
                  "type": "array"
                }
              },
              "text/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.Line"
                  },
                  "type": "array"
                }
              },
              "text/xml": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.Line"
                  },
                  "type": "array"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "Line"
        ],
        "deprecated": false,
        "operationId": "Line_StatusByIds",
        "summary": "Gets the line status of for given line ids e.g Minor Delays",
        "description": "Gets the line status of for given line ids e.g Minor Delays"
      }
    },
    "/Line/{ids}/Status/{StartDate}/to/{EndDate}": {
      "get": {
        "parameters": [
          {
            "description": "A comma-separated list of line ids e.g. victoria,circle,N133. Max. approx. 20 ids.",
            "in": "path",
            "name": "ids",
            "required": true,
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array"
            }
          },
          {
            "description": "Include details of the disruptions that are causing the line status including the affected stops and routes",
            "in": "query",
            "name": "detail",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "startDate",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "endDate",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "dateRange.startDate",
            "required": false,
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "dateRange.endDate",
            "required": false,
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "name": "EndDate",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "StartDate",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.Line"
                  },
                  "type": "array"
                }
              },
              "application/xml": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.Line"
                  },
                  "type": "array"
                }
              },
              "text/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.Line"
                  },
                  "type": "array"
                }
              },
              "text/xml": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.Line"
                  },
                  "type": "array"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "Line"
        ],
        "deprecated": false,
        "operationId": "Line_Status",
        "summary": "Gets the line status for given line ids during the provided dates e.g Minor Delays",
        "description": "Gets the line status for given line ids during the provided dates e.g Minor Delays"
      }
    },
    "/Line/{id}/Route/Sequence/{direction}": {
      "get": {
        "parameters": [
          {
            "description": "A single line id e.g. victoria",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The direction of travel. Can be inbound or outbound.",
            "in": "path",
            "name": "direction",
            "required": true,
            "schema": {
              "enum": [
                "inbound",
                "outbound",
                "all"
              ],
              "type": "string"
            }
          },
          {
            "description": "A comma seperated list of service types to filter on. Supported values: Regular, Night. Defaulted to 'Regular' if not specified",
            "explode": true,
            "in": "query",
            "name": "serviceTypes",
            "required": false,
            "schema": {
              "items": {
                "enum": [
                  "Regular",
                  "Night"
                ],
                "type": "string"
              },
              "type": "array"
            }
          },
          {
            "description": "That excludes crowding from line disruptions. Can be true or false.",
            "in": "query",
            "name": "excludeCrowding",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.RouteSequence"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.RouteSequence"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.RouteSequence"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.RouteSequence"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "Line"
        ],
        "deprecated": false,
        "operationId": "Line_RouteSequence",
        "summary": "Gets all valid routes for given line id, including the sequence of stops on each route.",
        "description": "Gets all valid routes for given line id, including the sequence of stops on each route."
      }
    },
    "/Line/{id}/StopPoints": {
      "get": {
        "parameters": [
          {
            "description": "A single line id e.g. victoria",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "If the national-rail line is requested, this flag will filter the national rail stations so that only those operated by TfL are returned",
            "in": "query",
            "name": "tflOperatedNationalRailStationsOnly",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.StopPoint"
                  },
                  "type": "array"
                }
              },
              "application/xml": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.StopPoint"
                  },
                  "type": "array"
                }
              },
              "text/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.StopPoint"
                  },
                  "type": "array"
                }
              },
              "text/xml": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.StopPoint"
                  },
                  "type": "array"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "Line"
        ],
        "deprecated": false,
        "operationId": "Line_StopPoints",
        "summary": "Gets a list of the stations that serve the given line id",
        "description": "Gets a list of the stations that serve the given line id"
      }
    },
    "/Line/{id}/Timetable/{fromStopPointId}": {
      "get": {
        "parameters": [
          {
            "description": "The originating station's stop point id (station naptan code e.g. 940GZZLUASL, you can use /StopPoint/Search/{query} endpoint to find a stop point id from a station name)",
            "in": "path",
            "name": "fromStopPointId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "A single line id e.g. victoria",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.TimetableResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.TimetableResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.TimetableResponse"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.TimetableResponse"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "Line"
        ],
        "deprecated": false,
        "operationId": "Line_Timetable",
        "summary": "Gets the timetable for a specified station on the give line",
        "description": "Gets the timetable for a specified station on the give line"
      }
    },
    "/Line/{id}/Timetable/{fromStopPointId}/to/{toStopPointId}": {
      "get": {
        "parameters": [
          {
            "description": "The originating station's stop point id (station naptan code e.g. 940GZZLUASL, you can use /StopPoint/Search/{query} endpoint to find a stop point id from a station name)",
            "in": "path",
            "name": "fromStopPointId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "A single line id e.g. victoria",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The destination stations's Naptan code",
            "in": "path",
            "name": "toStopPointId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.TimetableResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.TimetableResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.TimetableResponse"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.TimetableResponse"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "Line"
        ],
        "deprecated": false,
        "operationId": "Line_TimetableTo",
        "summary": "Gets the timetable for a specified station on the give line with specified destination",
        "description": "Gets the timetable for a specified station on the give line with specified destination"
      }
    },
    "/Mode/ActiveServiceTypes": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.ActiveServiceType"
                  },
                  "type": "array"
                }
              },
              "application/xml": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.ActiveServiceType"
                  },
                  "type": "array"
                }
              },
              "text/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.ActiveServiceType"
                  },
                  "type": "array"
                }
              },
              "text/xml": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.ActiveServiceType"
                  },
                  "type": "array"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "Mode"
        ],
        "deprecated": false,
        "operationId": "Mode_GetActiveServiceTypes",
        "summary": "Returns the service type active for a mode.\r\n            Currently only supports tube",
        "description": "Returns the service type active for a mode.\r\n            Currently only supports tube"
      }
    },
    "/Mode/{mode}/Arrivals": {
      "get": {
        "parameters": [
          {
            "description": "A mode name e.g. tube, dlr",
            "in": "path",
            "name": "mode",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "A number of arrivals to return for each stop, -1 to return all available.",
            "in": "query",
            "name": "count",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.Prediction"
                  },
                  "type": "array"
                }
              },
              "application/xml": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.Prediction"
                  },
                  "type": "array"
                }
              },
              "text/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.Prediction"
                  },
                  "type": "array"
                }
              },
              "text/xml": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.Prediction"
                  },
                  "type": "array"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "Mode"
        ],
        "deprecated": false,
        "operationId": "Mode_Arrivals",
        "summary": "Gets the next arrival predictions for all stops of a given mode",
        "description": "Gets the next arrival predictions for all stops of a given mode"
      }
    },
    "/Occupancy/BikePoints/{ids}": {
      "get": {
        "parameters": [
          {
            "description": "",
            "in": "path",
            "name": "ids",
            "required": true,
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.BikePointOccupancy"
                  },
                  "type": "array"
                }
              },
              "application/xml": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.BikePointOccupancy"
                  },
                  "type": "array"
                }
              },
              "text/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.BikePointOccupancy"
                  },
                  "type": "array"
                }
              },
              "text/xml": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.BikePointOccupancy"
                  },
                  "type": "array"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "Occupancy"
        ],
        "deprecated": false,
        "operationId": "Occupancy_GetBikePointsOccupancies",
        "summary": "Get the occupancy for bike points.",
        "description": "Get the occupancy for bike points."
      }
    },
    "/Occupancy/CarPark": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.CarParkOccupancy"
                  },
                  "type": "array"
                }
              },
              "application/xml": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.CarParkOccupancy"
                  },
                  "type": "array"
                }
              },
              "text/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.CarParkOccupancy"
                  },
                  "type": "array"
                }
              },
              "text/xml": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.CarParkOccupancy"
                  },
                  "type": "array"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "Occupancy"
        ],
        "deprecated": false,
        "operationId": "Occupancy_Get",
        "summary": "Gets the occupancy for all car parks that have occupancy data",
        "description": "Gets the occupancy for all car parks that have occupancy data"
      }
    },
    "/Occupancy/CarPark/{id}": {
      "get": {
        "parameters": [
          {
            "description": "",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.CarParkOccupancy"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.CarParkOccupancy"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.CarParkOccupancy"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.CarParkOccupancy"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "Occupancy"
        ],
        "deprecated": false,
        "operationId": "Occupancy_Get",
        "summary": "Gets the occupancy for a car park with a given id",
        "description": "Gets the occupancy for a car park with a given id"
      }
    },
    "/Occupancy/ChargeConnector": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.ChargeConnectorOccupancy"
                  },
                  "type": "array"
                }
              },
              "application/xml": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.ChargeConnectorOccupancy"
                  },
                  "type": "array"
                }
              },
              "text/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.ChargeConnectorOccupancy"
                  },
                  "type": "array"
                }
              },
              "text/xml": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.ChargeConnectorOccupancy"
                  },
                  "type": "array"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "Occupancy"
        ],
        "deprecated": false,
        "operationId": "Occupancy_GetAllChargeConnectorStatus",
        "summary": "Gets the occupancy for all charge connectors",
        "description": "Gets the occupancy for all charge connectors"
      }
    },
    "/Occupancy/ChargeConnector/{ids}": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "ids",
            "required": true,
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.ChargeConnectorOccupancy"
                  },
                  "type": "array"
                }
              },
              "application/xml": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.ChargeConnectorOccupancy"
                  },
                  "type": "array"
                }
              },
              "text/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.ChargeConnectorOccupancy"
                  },
                  "type": "array"
                }
              },
              "text/xml": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.ChargeConnectorOccupancy"
                  },
                  "type": "array"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "Occupancy"
        ],
        "deprecated": false,
        "operationId": "Occupancy_GetChargeConnectorStatus",
        "summary": "Gets the occupancy for a charge connectors with a given id (sourceSystemPlaceId)",
        "description": "Gets the occupancy for a charge connectors with a given id (sourceSystemPlaceId)"
      }
    },
    "/Place": {
      "get": {
        "parameters": [
          {
            "description": "The radius of the bounding circle in metres when only lat/lon are specified.",
            "in": "query",
            "name": "radius",
            "required": false,
            "schema": {
              "format": "double",
              "type": "number"
            }
          },
          {
            "description": "An optional list of comma separated property categories to return in the Place's property bag. If null or empty, all categories of property are returned. Pass the keyword \"none\" to return no properties (a valid list of categories can be obtained from the /Place/Meta/categories endpoint)",
            "explode": true,
            "in": "query",
            "name": "categories",
            "required": false,
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array"
            }
          },
          {
            "description": "Defaults to false. If true child places e.g. individual charging stations at a charge point while be included, otherwise just the URLs of any child places will be returned",
            "in": "query",
            "name": "includeChildren",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "Place types to filter on, or null to return all types",
            "explode": true,
            "in": "query",
            "name": "type",
            "required": false,
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array"
            }
          },
          {
            "description": "An optional parameter to limit the results to active records only (Currently only the 'VariableMessageSign' place type is supported)",
            "in": "query",
            "name": "activeOnly",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "If specified, limits the number of returned places equal to the given value",
            "in": "query",
            "name": "numberOfPlacesToReturn",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "placeGeo.swLat",
            "required": false,
            "schema": {
              "format": "double",
              "type": "number"
            }
          },
          {
            "in": "query",
            "name": "placeGeo.swLon",
            "required": false,
            "schema": {
              "format": "double",
              "type": "number"
            }
          },
          {
            "in": "query",
            "name": "placeGeo.neLat",
            "required": false,
            "schema": {
              "format": "double",
              "type": "number"
            }
          },
          {
            "in": "query",
            "name": "placeGeo.neLon",
            "required": false,
            "schema": {
              "format": "double",
              "type": "number"
            }
          },
          {
            "in": "query",
            "name": "placeGeo.lat",
            "required": false,
            "schema": {
              "format": "double",
              "type": "number"
            }
          },
          {
            "in": "query",
            "name": "placeGeo.lon",
            "required": false,
            "schema": {
              "format": "double",
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.StopPoint"
                  },
                  "type": "array"
                }
              },
              "application/xml": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.StopPoint"
                  },
                  "type": "array"
                }
              },
              "text/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.StopPoint"
                  },
                  "type": "array"
                }
              },
              "text/xml": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.StopPoint"
                  },
                  "type": "array"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "Place"
        ],
        "deprecated": false,
        "operationId": "Place_GetByGeo",
        "summary": "Gets the places that lie within a geographic region. The geographic region of interest can either be specified\r\n            by using a lat/lon geo-point and a radius in metres to return places within the locus defined by the lat/lon of\r\n            its centre or alternatively, by the use of a bounding box defined by the lat/lon of its north-west and south-east corners.\r\n            Optionally filters on type and can strip properties for a smaller payload.",
        "description": "Gets the places that lie within a geographic region. The geographic region of interest can either be specified\r\n            by using a lat/lon geo-point and a radius in metres to return places within the locus defined by the lat/lon of\r\n            its centre or alternatively, by the use of a bounding box defined by the lat/lon of its north-west and south-east corners.\r\n            Optionally filters on type and can strip properties for a smaller payload."
      }
    },
    "/Place/Address/Streets/{Postcode}": {
      "get": {
        "parameters": [
          {
            "in": "query",
            "name": "postcode",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "postcodeInput.postcode",
            "required": false,
            "schema": {
              "pattern": "^(([gG][iI][rR] {0,}0[aA]{2})|((([a-pr-uwyzA-PR-UWYZ][a-hk-yA-HK-Y]?[0-9][0-9]?)|(([a-pr-uwyzA-PR-UWYZ][0-9][a-hjkstuwA-HJKSTUW])|([a-pr-uwyzA-PR-UWYZ][a-hk-yA-HK-Y][0-9][abehmnprv-yABEHMNPRV-Y]))) {0,}[0-9][abd-hjlnp-uw-zABD-HJLNP-UW-Z]{2}))$",
              "type": "string"
            }
          },
          {
            "name": "Postcode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/System.Object"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/System.Object"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/System.Object"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/System.Object"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "Place"
        ],
        "deprecated": false,
        "operationId": "Place_GetStreetsByPostCode",
        "summary": "Gets the set of streets associated with a post code.",
        "description": "Gets the set of streets associated with a post code."
      }
    },
    "/Place/Meta/Categories": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.PlaceCategory"
                  },
                  "type": "array"
                }
              },
              "application/xml": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.PlaceCategory"
                  },
                  "type": "array"
                }
              },
              "text/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.PlaceCategory"
                  },
                  "type": "array"
                }
              },
              "text/xml": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.PlaceCategory"
                  },
                  "type": "array"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "Place"
        ],
        "deprecated": false,
        "operationId": "Place_MetaCategories",
        "summary": "Gets a list of all of the available place property categories and keys.",
        "description": "Gets a list of all of the available place property categories and keys."
      }
    },
    "/Place/Meta/PlaceTypes": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.PlaceCategory"
                  },
                  "type": "array"
                }
              },
              "application/xml": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.PlaceCategory"
                  },
                  "type": "array"
                }
              },
              "text/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.PlaceCategory"
                  },
                  "type": "array"
                }
              },
              "text/xml": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.PlaceCategory"
                  },
                  "type": "array"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "Place"
        ],
        "deprecated": false,
        "operationId": "Place_MetaPlaceTypes",
        "summary": "Gets a list of the available types of Place.",
        "description": "Gets a list of the available types of Place."
      }
    },
    "/Place/Search": {
      "get": {
        "parameters": [
          {
            "description": "The name of the place, you can use the /Place/Types/{types} endpoint to get a list of places for a given type including their names.",
            "in": "query",
            "name": "name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "A comma-separated list of the types to return. Max. approx 12 types.",
            "explode": true,
            "in": "query",
            "name": "types",
            "required": false,
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.Place"
                  },
                  "type": "array"
                }
              },
              "application/xml": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.Place"
                  },
                  "type": "array"
                }
              },
              "text/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.Place"
                  },
                  "type": "array"
                }
              },
              "text/xml": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Tfl.Api.Presentation.Entities.Place"
                  },
                  "type": "array"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "Place"
        ],
        "deprecated": false,
        "operationId": "Place_Search",
        "summary": "Gets all places that matches the given query",
        "description": "Gets all places that matches the given query"
      }
    },
    "/Place/Type/{types}": {
      "get": {
        "parameters": [
          {
            "description": "A comma-separated list of the types to return. Max. approx 12 types.\r\n            A valid list of place types can be obtained from the /Place/Meta/placeTypes endpoint.",
            "in": "path",
            "name": "types",
            "required": true,
            "schema": {
              "items": {
                "type": "string"
[...]
