{
  "openapi": "3.0.3",
  "info": {
    "version": "2.0.0",
    "title": "Corbado Backend API",
    "description": "# Introduction\nThis documentation gives an overview of all Corbado Backend API calls to implement passwordless authentication with Passkeys.\n",
    "contact": {
      "name": "Corbado team",
      "email": "support@corbado.com",
      "url": "https://www.corbado.com"
    },
    "x-jentic-source-url": "https://docs.corbado.com/"
  },
  "servers": [
    {
      "url": "https://backendapi.corbado.io/v2"
    }
  ],
  "tags": [
    {
      "name": "Users",
      "description": "All API calls to manage users"
    },
    {
      "name": "Sessions",
      "description": "All API calls to manage sessions"
    },
    {
      "name": "Challenges",
      "description": "All API calls to manage challenges"
    },
    {
      "name": "Identifiers",
      "description": "All API calls to manage login identifiers"
    },
    {
      "name": "Passkeys",
      "description": "All API calls for passkey flows"
    },
    {
      "name": "SSO",
      "description": "All API calls for SSO flows"
    },
    {
      "name": "AuthEvents",
      "description": "All API calls to manage authentication events"
    },
    {
      "name": "PasskeyEvents",
      "description": "All API calls to manage passkey events"
    },
    {
      "name": "ProjectConfig",
      "description": "All API calls to manage project configurations"
    },
    {
      "name": "ConnectTokens",
      "description": "All API calls to manage connectTokens"
    },
    {
      "name": "PasskeyChallenges",
      "description": "All API calls to manage passkey challenges"
    },
    {
      "name": "WebhookEndpoints",
      "description": "All API calls to manage webhook endpoints"
    },
    {
      "name": "PasswordManagers",
      "description": "All API calls to manage password managers"
    },
    {
      "name": "ClientEnvs",
      "description": "All API calls to manage client environments"
    },
    {
      "name": "Devices",
      "description": "All API calls to manage devices"
    }
  ],
  "paths": {
    "/users": {
      "post": {
        "summary": "Create a new user",
        "description": "Creates a new user with the given status. Use [login identifiers](/api-reference/backend-api/identifiers/create-a-login-identifier-for-a-user) to add an email address or phone number to the user.\n\nYou can also manage users in the [Developer Panel](https://app.corbado.com/users).\n",
        "operationId": "UserCreate",
        "tags": [
          "Users"
        ],
        "security": [
          {
            "basicAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/userCreateReq"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "User has been created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/user"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      },
      "get": {
        "summary": "List users",
        "description": "Returns a list of project users.\n\nThe list supports pagination and sorting:\n- The `sort` parameter only supports the `created` field (use `created` for ascending, `-created` for descending).\n- Users can be filtered by:\n  - Single user ID using `userID`\n  - Multiple user IDs using `userIDs` (max 1000)\n  - Multiple WebAuthn IDs using `webauthnIDs` (max 1000)\n  - Single identifier using `identifierValue` and `identifierType` together\n  - Multiple identifiers using `identifierValues` and `identifierType` together (max 1000)\n\nFiltering rules:\n- Only one filter type can be used at a time: `userID`, `userIDs`, `webauthnIDs`, or identifier filters\n- `userID` and `userIDs` are mutually exclusive\n- `identifierValue` and `identifierValues` are mutually exclusive\n- When filtering by identifier(s), `identifierType` must be provided\n",
        "operationId": "UserList",
        "tags": [
          "Users"
        ],
        "security": [
          {
            "basicAuth": []
          }
        ],
        "parameters": [
          {
            "name": "userID",
            "in": "query",
            "description": "Filter by specific user ID (format `usr-<number>`). Cannot be used together with `userIDs`.",
            "required": false,
            "schema": {
              "type": "string",
              "example": "usr-4693224802260150919"
            }
          },
          {
            "name": "userIDs",
            "in": "query",
            "description": "Filter by multiple user IDs (comma-separated). Cannot be used together with `userID`, `webauthnIDs`, or identifier filters. Maximum 1000 IDs.",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "example": [
                "usr-4693224802260150919",
                "usr-1234567890123456789"
              ]
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "userIDPattern",
            "in": "query",
            "description": "Filter by user IDs matching the given pattern. Supports `%` as a wildcard character. Cannot be used together with other filter types.",
            "required": false,
            "schema": {
              "type": "string",
              "example": "usr-%"
            }
          },
          {
            "name": "webauthnIDs",
            "in": "query",
            "description": "Filter by multiple WebAuthn IDs (comma-separated). Cannot be used together with other filter types. Maximum 1000 IDs.",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "example": [
                "abc123def456",
                "xyz789ghi012"
              ]
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "identifierValue",
            "in": "query",
            "description": "Filter by identifier value (email, phone, or username). Must be used together with `identifierType`. Cannot be used together with `identifierValues`.",
            "required": false,
            "schema": {
              "type": "string",
              "example": "jane@doe.com"
            }
          },
          {
            "name": "identifierValues",
            "in": "query",
            "description": "Filter by multiple identifier values (comma-separated). Must be used together with `identifierType`. Cannot be used together with `identifierValue`. Maximum 1000 values.",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "example": [
                "jane@doe.com",
                "john@example.com"
              ]
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "identifierType",
            "in": "query",
            "description": "Type of identifier to filter by. Must be used together with `identifierValue` or `identifierValues`.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "email",
                "phone",
                "username"
              ],
              "example": "email"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filter by user status.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "active",
                "pending",
                "disabled",
                "deleted"
              ],
              "example": "active"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort field. Only `created` is supported.\n- Use `+created` for ascending order\n- Use `-created` for descending order\n",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "+created",
                "-created"
              ],
              "example": "-created"
            }
          },
          {
            "name": "includeIdentifiers",
            "in": "query",
            "description": "Whether to include login identifiers in the response. Defaults to `true`.",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "The page number to retrieve for paginated results.\n",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1,
              "example": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "The number of items to return per page. Useful for pagination.\n",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 10,
              "example": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of users.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/userList"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/users/{userID}": {
      "get": {
        "summary": "Retrieve a user",
        "description": "Retrieves a user by given `userID`. This does not return login identifiers like email addresses or phone numbers.\n\nYou can also manage users in the [Developer Panel](https://app.corbado.com/users).\n",
        "operationId": "UserGet",
        "tags": [
          "Users"
        ],
        "security": [
          {
            "basicAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/userID"
          },
          {
            "name": "userID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User has been returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/user"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      },
      "patch": {
        "summary": "Update a user",
        "description": "Updates a user by given `userID`. For example, this can be used to modify the user's status.\n\nYou can also manage users in the [Developer Panel](https://app.corbado.com/users).\n",
        "operationId": "UserUpdate",
        "tags": [
          "Users"
        ],
        "security": [
          {
            "basicAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/userID"
          },
          {
            "name": "userID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/userUpdateReq"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "User has been updated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/user"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      },
      "delete": {
        "summary": "Delete a user",
        "description": "Deletes a user by given `userID`.\n\nYou can also manage users in the [Developer Panel](https://app.corbado.com/users).\n",
        "operationId": "UserDelete",
        "tags": [
          "Users"
        ],
        "security": [
          {
            "basicAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/userID"
          },
          {
            "name": "userID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/users/{userID}/challenges": {
      "post": {
        "summary": "Create a challenge for a user",
        "description": "Creates a new challenge to verify a login identifier for a user by given `userID`. Challenges come in three flavors: **Email OTP**, **SMS OTP**, and **Email Magiclink**.\n\n**OTP** stands for One-Time Password. It is a unique code sent to the user via email or SMS, which they must enter to complete the verification process.\n",
        "operationId": "ChallengeCreate",
        "tags": [
          "Challenges"
        ],
        "security": [
          {
            "basicAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/userID"
          },
          {
            "name": "userID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/challengeCreateReq"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Challenge has been created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/challenge"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/users/{userID}/challenges/{challengeID}": {
      "patch": {
        "summary": "Update a challenge for a user",
        "description": "Updates a challenge for a user by given `userID` and `challengeID`. For example, this can be used to change the challenge status from `pending` to `completed`.\n",
        "operationId": "ChallengeUpdate",
        "tags": [
          "Challenges"
        ],
        "security": [
          {
            "basicAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/userID"
          },
          {
            "$ref": "#/components/parameters/challengeID"
          },
          {
            "name": "userID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "challengeID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/challengeUpdateReq"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Challenge has been updated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/challenge"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/users/{userID}/identifiers": {
      "post": {
        "summary": "Create a login identifier for a user",
        "description": "Creates a new login identifier for a user with the given ID. Login identifiers can be of the type `email`, `phone`, or `username`. Separating login identifiers from users allows Corbado to manage multiple login identifiers of different types for each user.\n\nYou can set up login identifiers in the [Developer Panel](https://app.corbado.com/settings/userinterface?tab=Overview) or consult the [Documentation](/corbado-complete/overview/configuration/user-flow-configuration#2-login-identifiers-and-fallbacks) for more details.\n",
        "operationId": "IdentifierCreate",
        "tags": [
          "Identifiers"
        ],
        "security": [
          {
            "basicAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/userID"
          },
          {
            "name": "userID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/identifierCreateReq"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Identifier has been created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/identifier"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/users/{userID}/identifiers/{identifierID}": {
      "delete": {
        "summary": "Delete a login identifier for a user",
        "description": "Delete an existing login identifier for a user by given `userID` and `identifierID`.\n",
        "operationId": "IdentifierDelete",
        "tags": [
          "Identifiers"
        ],
        "security": [
          {
            "basicAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/userID"
          },
          {
            "$ref": "#/components/parameters/identifierID"
          },
          {
            "name": "identifierID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      },
      "patch": {
        "summary": "Update a login identifier for a user",
        "description": "Updates a login identifier (e.g. from `pending` to `verified`) for a user by given `userID` and `identifierID`.\n",
        "operationId": "IdentifierUpdate",
        "tags": [
          "Identifiers"
        ],
        "security": [
          {
            "basicAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/userID"
          },
          {
            "$ref": "#/components/parameters/identifierID"
          },
          {
            "name": "identifierID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/identifierUpdateReq"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Identifier has been updated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/identifier"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/users/{userID}/socialAccounts": {
      "get": {
        "summary": "List all social logins for a user",
        "description": "Returns a list of social logins for a user by given `userID`.\n\nThe list can be sorted and filtered:  \n- The `sort` parameter supports the following fields: `providerType` and `foreignID`.\n- The `filter` parameter supports the following fields: `providerType` and `foreignID`.\n\nRefer to the parameter description for more details on sorting in different directions and using the filter with different operators.\n",
        "operationId": "UserSocialAccountList",
        "tags": [
          "Users"
        ],
        "security": [
          {
            "basicAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/userID"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Field and direction to sort results. Use the format `fieldName:asc` or `fieldName:desc`.\n",
            "required": false,
            "schema": {
              "type": "string",
              "example": "createdAt:desc"
            }
          },
          {
            "name": "filter[]",
            "in": "query",
            "description": "Filter results by specific fields and conditions. Format: `<field>:<operator>:<value>`.\nSupported operators include:  \n  - `eq`: equals (e\\.g\\. `email:eq:mail@example\\.com` matches items where email equals mail@example\\.com)  \n  - `gt`: greater than (e\\.g\\. `created:gt:2021-01-01T00:00:00` matches items created after Jan 1, 2021)  \n  - `lt`: less than (e\\.g\\. `created:lt:2021-01-01T00:00:00` matches items created before Jan 1, 2021)\n",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "examples": {
              "filterEmail": {
                "summary": "Filter by email address",
                "value": [
                  "identifierType:eq:email",
                  "identifierValue:eq:mail@example.com"
                ]
              },
              "filterTimepoint": {
                "summary": "Filter by date after July 20, 2021",
                "value": [
                  "timePoint:gt:2021-07-20T00:00:00"
                ]
              }
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "The page number to retrieve for paginated results.\n",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1,
              "example": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "The number of items to return per page. Useful for pagination.\n",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 10,
              "example": 20
            }
          },
          {
            "name": "userID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of social logins.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/socialAccount"
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      },
      "post": {
        "summary": "Create a social login for a user",
        "description": "Creates a new social login for a user by given `userID`. Social logins are used to authenticate users with third-party providers like Google, Microsoft, or GitHub.\n\nYou can set up social logins in the [Developer Panel](https://app.corbado.com/settings/userinterface?tab=Social) or consult the [Documentation](/corbado-complete/overview/configuration/social-logins/overview) for more details.\n",
        "operationId": "SocialAccountCreate",
        "tags": [
          "Users"
        ],
        "security": [
          {
            "basicAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/userID"
          },
          {
            "name": "userID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/socialAccountCreateReq"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Social login has been created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/socialAccount"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/users/{userID}/credentials": {
      "get": {
        "summary": "List passkeys for a user",
        "description": "Returns a list of passkeys for a user by given `userID`.\n\nThe list can be sorted and filtered:\n- The `sort` parameter supports the following fields: `userID`, `created`, `status`, `backupState`, `browserName` and `osName`.\n- The `filter` parameter supports the following fields: `userID`, `created`, `status`, `backupState`, `browserName` and `osName`.\n\nRefer to the parameter description for more details on sorting in different directions and using the filter with different operators.\n",
        "operationId": "CredentialList",
        "tags": [
          "Users"
        ],
        "security": [
          {
            "basicAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/userID"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Field and direction to sort results. Use the format `fieldName:asc` or `fieldName:desc`.\n",
            "required": false,
            "schema": {
              "type": "string",
              "example": "createdAt:desc"
            }
          },
          {
            "name": "filter[]",
            "in": "query",
            "description": "Filter results by specific fields and conditions. Format: `<field>:<operator>:<value>`.\nSupported operators include:  \n  - `eq`: equals (e\\.g\\. `email:eq:mail@example\\.com` matches items where email equals mail@example\\.com)  \n  - `gt`: greater than (e\\.g\\. `created:gt:2021-01-01T00:00:00` matches items created after Jan 1, 2021)  \n  - `lt`: less than (e\\.g\\. `created:lt:2021-01-01T00:00:00` matches items created before Jan 1, 2021)\n",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "examples": {
              "filterEmail": {
                "summary": "Filter by email address",
                "value": [
                  "identifierType:eq:email",
                  "identifierValue:eq:mail@example.com"
                ]
              },
              "filterTimepoint": {
                "summary": "Filter by date after July 20, 2021",
                "value": [
                  "timePoint:gt:2021-07-20T00:00:00"
                ]
              }
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "The page number to retrieve for paginated results.\n",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1,
              "example": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "The number of items to return per page. Useful for pagination.\n",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 10,
              "example": 20
            }
          },
          {
            "$ref": "#/components/parameters/includeAllStatus"
          },
          {
            "name": "userID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of passkeys.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/credentialList"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/users/{userID}/credentials/{credentialID}": {
      "delete": {
        "summary": "Delete a passkey for a user",
        "description": "Deletes an existing passkey for a user by given `userID` and `credentialID`.\n",
        "operationId": "CredentialDelete",
        "tags": [
          "Users"
        ],
        "security": [
          {
            "basicAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/userID"
          },
          {
            "$ref": "#/components/parameters/credentialID"
          },
          {
            "name": "userID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "credentialID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/users/{userID}/authEvents": {
      "post": {
        "description": "Create a new authentication event for a user",
        "operationId": "AuthEventCreate",
        "x-excluded": true,
        "tags": [
          "AuthEvents"
        ],
        "security": [
          {
            "basicAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/userID"
          },
          {
            "name": "userID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/authEventCreateReq"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Auth event has been created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/authEvent"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/users/{userID}/passkeyEvents": {
      "post": {
        "summary": "Create a passkey event for a user",
        "description": "Creates a new passkey event for a user by given `userID`.",
        "operationId": "PasskeyEventCreate",
        "tags": [
          "PasskeyEvents"
        ],
        "security": [
          {
            "basicAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/userID"
          },
          {
            "name": "userID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/passkeyEventCreateReq"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Passkey event has been created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/passkeyEvent"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      },
      "get": {
        "summary": "List all passkey events for a user",
        "description": "Returns a list of passkey events for a user by given `userID`.\n\nThe list can be sorted and filtered:\n- The `sort` parameter supports the following fields: `created` and `eventType`.\n- The `filter` parameter supports the following fields: `eventType`.\n\nRefer to the parameter description for more details on sorting in different directions and using the filter with different operators.\n",
        "operationId": "PasskeyEventList",
        "tags": [
          "PasskeyEvents"
        ],
        "security": [
          {
            "basicAuth": []
          }
        ],
        "parameters": [
          {
            "name": "sort",
            "in": "query",
            "description": "Field and direction to sort results. Use the format `fieldName:asc` or `fieldName:desc`.\n",
            "required": false,
            "schema": {
              "type": "string",
              "example": "createdAt:desc"
            }
          },
          {
            "name": "filter[]",
            "in": "query",
            "description": "Filter results by specific fields and conditions. Format: `<field>:<operator>:<value>`.\nSupported operators include:  \n  - `eq`: equals (e\\.g\\. `email:eq:mail@example\\.com` matches items where email equals mail@example\\.com)  \n  - `gt`: greater than (e\\.g\\. `created:gt:2021-01-01T00:00:00` matches items created after Jan 1, 2021)  \n  - `lt`: less than (e\\.g\\. `created:lt:2021-01-01T00:00:00` matches items created before Jan 1, 2021)\n",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "examples": {
              "filterEmail": {
                "summary": "Filter by email address",
                "value": [
                  "identifierType:eq:email",
                  "identifierValue:eq:mail@example.com"
                ]
              },
              "filterTimepoint": {
                "summary": "Filter by date after July 20, 2021",
                "value": [
                  "timePoint:gt:2021-07-20T00:00:00"
                ]
              }
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "The page number to retrieve for paginated results.\n",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1,
              "example": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "The number of items to return per page. Useful for pagination.\n",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 10,
              "example": 20
            }
          },
          {
            "$ref": "#/components/parameters/userID"
          },
          {
            "name": "userID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of all matching passkey events.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/passkeyEventList"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/users/{userID}/passkeyEvents/{passkeyEventID}": {
      "delete": {
        "summary": "Delete a passkey event for a user",
        "description": "Deletes an existing passkey event for a user by given `userID` and `passkeyEventID`.",
        "operationId": "PasskeyEventDelete",
        "tags": [
          "PasskeyEvents"
        ],
        "security": [
          {
            "basicAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/userID"
          },
          {
            "$ref": "#/components/parameters/passkeyEventID"
          },
          {
            "name": "userID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "passkeyEventID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/users/{userID}/passkeyChallenges": {
      "get": {
        "summary": "List all passkey challenges for a user",
        "description": "Returns a list of passkey challenges for a user by given `userID`.\n\nThe list can be sorted and filtered:\n- The `sort` parameter supports the following fields: `userID`, `projectID`, `status`, and `type`.\n- The `filter` parameter supports the following fields: `userID`, `projectID`, `status`, and `type`.\n\nRefer to the parameter description for more details on sorting in different directions and using the filter with different operators.\n",
        "operationId": "PasskeyChallengeList",
        "tags": [
          "PasskeyChallenges"
        ],
        "security": [
          {
            "basicAuth": []
          }
        ],
        "parameters": [
          {
            "name": "sort",
            "in": "query",
            "description": "Field and direction to sort results. Use the format `fieldName:asc` or `fieldName:desc`.\n",
            "required": false,
            "schema": {
              "type": "string",
              "example": "createdAt:desc"
            }
          },
          {
            "name": "filter[]",
            "in": "query",
            "description": "Filter results by specific fields and conditions. Format: `<field>:<operator>:<value>`.\nSupported operators include:  \n  - `eq`: equals (e\\.g\\. `email:eq:mail@example\\.com` matches items where email equals mail@example\\.com)  \n  - `gt`: greater than (e\\.g\\. `created:gt:2021-01-01T00:00:00` matches items created after Jan 1, 2021)  \n  - `lt`: less than (e\\.g\\. `created:lt:2021-01-01T00:00:00` matches items created before Jan 1, 2021)\n",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "examples": {
              "filterEmail": {
                "summary": "Filter by email address",
                "value": [
                  "identifierType:eq:email",
                  "identifierValue:eq:mail@example.com"
                ]
              },
              "filterTimepoint": {
                "summary": "Filter by date after July 20, 2021",
                "value": [
                  "timePoint:gt:2021-07-20T00:00:00"
                ]
              }
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "The page number to retrieve for paginated results.\n",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1,
              "example": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "The number of items to return per page. Useful for pagination.\n",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 10,
              "example": 20
            }
          },
          {
            "$ref": "#/components/parameters/userID"
          },
          {
            "name": "userID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of all matching passkey challenges.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/passkeyChallengeList"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/users/{userID}/passkeyChallenges/{passkeyChallengeID}": {
      "patch": {
        "summary": "Update a passkey challenge for a user",
        "description": "Updates a passkey challenge for a user by given `userID` and `passkeyChallengeID`.",
        "operationId": "PasskeyChallengeUpdate",
        "tags": [
          "PasskeyChallenges"
        ],
        "security": [
          {
            "basicAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/userID"
          },
          {
            "$ref": "#/components/parameters/passkeyChallengeID"
          },
          {
            "name": "userID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "passkeyChallengeID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/passkeyChallengeUpdateReq"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Passkey challenge has been updated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/passkeyChallenge"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/users/{userID}/passwordManagers": {
      "get": {
        "summary": "List password managers for a user",
        "description": "Returns a list of password managers",
        "operationId": "PasswordManagerList",
        "x-excluded": true,
        "tags": [
          "PasswordManagers"
        ],
        "security": [
          {
            "basicAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/userID"
          },
          {
            "name": "userID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of all matching password managers.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/passwordManagerList"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/users/{userID}/clientEnvs": {
      "get": {
        "summary": "List client environments for a user",
        "description": "Returns a list of clientEnvs",
        "operationId": "ClientEnvList",
        "x-excluded": true,
        "tags": [
          "ClientEnvs"
        ],
        "security": [
          {
            "basicAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/userID"
          },
          {
            "name": "userID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of all matching clientEnvs.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/clientEnvList"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/identifiers": {
      "get": {
        "summary": "List all login identifiers",
        "description": "Returns a list of login identifiers.\n\nThe list can be sorted and filtered:\n- The `sort` parameter supports the following fields: `userID`, `identifierType` and `identifierValue`.\n- The `filter` parameter supports the following fields: `userID`, `identifierType` and `identifierValue`.\n\nRefer to the parameter description for more details on sorting in different directions and using the filter with different operators.\n",
        "operationId": "IdentifierList",
        "tags": [
          "Identifiers"
        ],
        "security": [
          {
            "basicAuth": []
          }
        ],
        "parameters": [
          {
            "name": "sort",
            "in": "query",
            "description": "Field and direction to sort results. Use the format `fieldName:asc` or `fieldName:desc`.\n",
            "required": false,
            "schema": {
              "type": "string",
              "example": "createdAt:desc"
            }
          },
          {
            "name": "filter[]",
            "in": "query",
            "description": "Filter results by specific fields and conditions. Format: `<field>:<operator>:<value>`.\nSupported operators include:  \n  - `eq`: equals (e\\.g\\. `email:eq:mail@example\\.com` matches items where email equals mail@example\\.com)  \n  - `gt`: greater than (e\\.g\\. `created:gt:2021-01-01T00:00:00` matches items created after Jan 1, 2021)  \n  - `lt`: less than (e\\.g\\. `created:lt:2021-01-01T00:00:00` matches items created before Jan 1, 2021)\n",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "examples": {
              "filterEmail": {
                "summary": "Filter by email address",
                "value": [
                  "identifierType:eq:email",
                  "identifierValue:eq:mail@example.com"
                ]
              },
              "filterTimepoint": {
                "summary": "Filter by date after July 20, 2021",
                "value": [
                  "timePoint:gt:2021-07-20T00:00:00"
                ]
              }
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "The page number to retrieve for paginated results.\n",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1,
              "example": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "The number of items to return per page. Useful for pagination.\n",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 10,
              "example": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of all matching login identifiers.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/identifierList"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/socialAccounts": {
      "get": {
        "summary": "List all social logins",
        "description": "Returns a list of social logins.\n\nThe list can be sorted and filtered:\n- The `sort` parameter supports the following fields: `providerType` and `foreignID`.\n- The `filter` parameter supports the following fields: `providerType` and `foreignID`.\n\nRefer to the parameter description for more details on sorting in different directions and using the filter with different operators.\n",
        "operationId": "SocialAccountList",
        "tags": [
          "Users"
        ],
        "security": [
          {
            "basicAuth": []
          }
        ],
        "parameters": [
          {
            "name": "sort",
            "in": "query",
            "description": "Field and direction to sort results. Use the format `fieldName:asc` or `fieldName:desc`.\n",
            "required": false,
            "schema": {
              "type": "string",
              "example": "createdAt:desc"
            }
          },
          {
            "name": "filter[]",
            "in": "query",
            "description": "Filter results by specific fields and conditions. Format: `<field>:<operator>:<value>`.\nSupported operators include:  \n  - `eq`: equals (e\\.g\\. `email:eq:mail@example\\.com` matches items where email equals mail@example\\.com)  \n  - `gt`: greater than (e\\.g\\. `created:gt:2021-01-01T00:00:00` matches items created after Jan 1, 2021)  \n  - `lt`: less than (e\\.g\\. `created:lt:2021-01-01T00:00:00` matches items created before Jan 1, 2021)\n",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "examples": {
              "filterEmail": {
                "summary": "Filter by email address",
                "value": [
                  "identifierType:eq:email",
                  "identifierValue:eq:mail@example.com"
                ]
              },
              "filterTimepoint": {
                "summary": "Filter by date after July 20, 2021",
                "value": [
                  "timePoint:gt:2021-07-20T00:00:00"
                ]
              }
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "The page number to retrieve for paginated results.\n",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1,
              "example": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "The number of items to return per page. Useful for pagination.\n",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 10,
              "example": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of social logins.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/socialAccountList"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/projectConfig/cname": {
      "put": {
        "summary": "Update project CNAME and generate SSL certificate",
        "description": "Update project config CNAME and generates new SSL certificate",
        "operationId": "ProjectConfigUpdateCNAME",
        "x-excluded": true,
        "tags": [
          "ProjectConfig"
        ],
        "security": [
          {
            "basicAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/projectConfigUpdateCnameReq"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/connectTokens": {
      "post": {
        "summary": "Create a connectToken",
        "description": "Creates a new ConnectToken, which is essential for [Corbado Connect](/corbado-connect). ConnectTokens authorize actions that modify user data.\n\nConsult the [Documentation](/corbado-connect/concepts/connect-token) for more details.\n",
        "operationId": "ConnectTokenCreate",
        "tags": [
          "ConnectTokens"
        ],
        "security": [
          {
            "basicAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/connectTokenCreateReq"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "ConnectToken has been created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/connectToken"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      },
      "get": {
        "summary": "List all ConnectTokens",
        "description": "Returns a list of ConnectTokens.\n\nThe list can be sorted and filtered:\n- The `sort` parameter supports the following fields: `token`, `tokenType`, `status` and `expires`.\n- The `filter` parameter supports the following fields: `token`, `tokenType`, `status` and `expires`.\n\nRefer to the parameter description for more details on sorting in different directions and using the filter with different operators.\n",
        "operationId": "ConnectTokenList",
        "tags": [
          "ConnectTokens"
        ],
        "security": [
          {
            "basicAuth": []
          }
        ],
        "parameters": [
          {
            "name": "sort",
            "in": "query",
            "description": "Field and direction to sort results. Use the format `fieldName:asc` or `fieldName:desc`.\n",
            "required": false,
            "schema": {
              "type": "string",
              "example": "createdAt:desc"
            }
          },
          {
            "name": "filter[]",
            "in": "query",
            "description": "Filter results by specific fields and conditions. Format: `<field>:<operator>:<value>`.\nSupported operators include:  \n  - `eq`: equals (e\\.g\\. `email:eq:mail@example\\.com` matches items where email equals mail@example\\.com)  \n  - `gt`: greater than (e\\.g\\. `created:gt:2021-01-01T00:00:00` matches items created after Jan 1, 2021)  \n  - `lt`: less than (e\\.g\\. `created:lt:2021-01-01T00:00:00` matches items created before Jan 1, 2021)\n",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "examples": {
              "filterEmail": {
                "summary": "Filter by email address",
                "value": [
                  "identifierType:eq:email",
                  "identifierValue:eq:mail@example.com"
                ]
              },
              "filterTimepoint": {
                "summary": "Filter by date after July 20, 2021",
                "value": [
                  "timePoint:gt:2021-07-20T00:00:00"
                ]
              }
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "The page number to retrieve for paginated results.\n",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1,
              "example": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "The number of items to return per page. Useful for pagination.\n",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 10,
              "example": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of all matching append tokens.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/connectTokenList"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/connectTokens/{connectTokenID}": {
      "patch": {
        "summary": "Update a ConnectToken",
        "description": "Updates an existing ConnectToken.\n",
        "operationId": "ConnectTokenUpdate",
        "tags": [
          "ConnectTokens"
        ],
        "security": [
          {
            "basicAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/connectTokenID"
          },
          {
            "name": "connectTokenID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/connectTokenUpdateReq"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      },
      "delete": {
        "summary": "Delete a ConnectToken",
        "description": "Deletes an existing ConnectToken.\n",
        "operationId": "ConnectTokenDelete",
        "tags": [
          "ConnectTokens"
        ],
        "security": [
          {
            "basicAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/connectTokenID"
          },
          {
            "name": "connectTokenID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/webhookEndpoints": {
      "get": {
        "description": "Returns a list of webhook endpoints",
        "operationId": "WebhookEndpointList",
        "x-excluded": true,
        "tags": [
          "WebhookEndpoints"
        ],
        "security": [
          {
            "basicAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "List of webhook endpoints.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/webhookEndpointList"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      },
      "post": {
        "description": "Creates a new webhook endpoint",
        "operationId": "WebhookEndpointCreate",
        "x-excluded": true,
        "tags": [
          "WebhookEndpoints"
        ],
        "security": [
          {
            "basicAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/webhookEndpointCreateReq"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhook endpoint has been created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/webhookEndpoint"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/webhookEndpoints/{webhookEndpointID}": {
      "put": {
        "description": "Updates an existing webhook endpoint",
        "operationId": "WebhookEndpointUpdate",
        "x-excluded": true,
        "tags": [
          "WebhookEndpoints"
        ],
        "security": [
          {
            "basicAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/webhookEndpointID"
          },
          {
            "name": "webhookEndpointID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/webhookEndpointUpdateReq"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhook endpoint has been updated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/webhookEndpoint"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      },
      "delete": {
        "description": "Deletes an existing webhook endpoint",
        "operationId": "WebhookEndpointDelete",
        "x-excluded": true,
        "tags": [
          "WebhookEndpoints"
        ],
        "security": [
          {
            "basicAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/webhookEndpointID"
          },
          {
            "name": "webhookEndpointID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/sessions": {
      "get": {
        "summary": "List all sessions",
        "description": "Returns a list of sessions.\n\nThe list can be sorted and filtered:\n- The `sort` parameter supports the following fields: `ID`, `userID`, `expires`, `lastAction`, `created`, `updated`, and `status`.\n- The `filter` parameter supports the following fields: `ID`, `userID`, `expires`, `lastAction`, `created`, `updated`, and `status`.\n\nRefer to the parameter description for more details on sorting in different directions and using the filter with different operators.\n\nYou can view and manage sessions in the [Developer Panel](https://app.corbado.com/users/sessions) or consult the [Documentation](https://docs.corbado.com/corbado-complete/sessions/overview) for more details.\n",
        "operationId": "SessionList",
        "tags": [
          "Sessions"
        ],
        "security": [
          {
            "basicAuth": []
          }
        ],
        "parameters": [
          {
            "name": "sort",
            "in": "query",
            "description": "Field and direction to sort results. Use the format `fieldName:asc` or `fieldName:desc`.\n",
            "required": false,
            "schema": {
              "type": "string",
              "example": "createdAt:desc"
            }
          },
          {
            "name": "filter[]",
            "in": "query",
            "description": "Filter results by specific fields and conditions. Format: `<field>:<operator>:<value>`.\nSupported operators include:  \n  - `eq`: equals (e\\.g\\. `email:eq:mail@example\\.com` matches items where email equals mail@example\\.com)  \n  - `gt`: greater than (e\\.g\\. `created:gt:2021-01-01T00:00:00` matches items created after Jan 1, 2021)  \n  - `lt`: less than (e\\.g\\. `created:lt:2021-01-01T00:00:00` matches items created before Jan 1, 2021)\n",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "examples": {
              "filterEmail": {
                "summary": "Filter by email address",
                "value": [
                  "identifierType:eq:email",
                  "identifierValue:eq:mail@example.com"
                ]
              },
              "filterTimepoint": {
                "summary": "Filter by date after July 20, 2021",
                "value": [
                  "timePoint:gt:2021-07-20T00:00:00"
                ]
              }
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "The page number to retrieve for paginated results.\n",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1,
              "example": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "The number of items to return per page. Useful for pagination.\n",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 10,
              "example": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of all matching sessions.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/sessionList"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/sessions/{sessionID}/revoke": {
      "post": {
        "summary": "Revoke a session",
        "description": "Revokes an existing session by given `sessionID`.",
        "operationId": "SessionRevoke",
        "tags": [
          "Sessions"
        ],
        "security": [
          {
            "basicAuth": []
          }
        ],
        "parameters": [
          {
            "name": "sessionID",
            "in": "path",
            "description": "ID of session",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 30,
              "maxLength": 30
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/passkey/append/start": {
      "post": {
        "summary": "Start creating a new passkey",
        "description": "Starts creating a new passkey by initiating the WebAuthn ceremony. To complete the ceremony you need to call [finish](/api-reference/backend-api/passkeys/finish-creating-a-new-passkey).\n",
        "operationId": "PasskeyAppendStart",
        "tags": [
          "Passkeys"
        ],
        "security": [
          {
            "basicAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/passkeyAppendStartReq"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Passkey creation process has been started.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/passkeyAppendStartRsp"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/passkey/append/finish": {
      "post": {
        "summary": "Finish creating a new passkey",
        "description": "Finishes creating a new passkey by completing the WebAuthn ceremony.\n",
        "operationId": "PasskeyAppendFinish",
        "tags": [
          "Passkeys"
        ],
        "security": [
          {
            "basicAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/passkeyAppendFinishReq"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Passkey append succeeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/passkeyAppendFinishRsp"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/passkey/login/start": {
      "post": {
        "summary": "Start login with an existing passkey",
        "description": "Starts login with an existing passkey by initiating the WebAuthn ceremony. To complete the ceremony you need to call [finish](/api-reference/backend-api/passkeys/finish-login-with-an-existing-passkey).\n",
        "operationId": "PasskeyLoginStart",
        "tags": [
          "Passkeys"
        ],
        "security": [
          {
            "basicAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/passkeyLoginStartReq"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Passkey authentication process has been started.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/passkeyLoginStartRsp"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/passkey/login/finish": {
      "post": {
        "summary": "Finish login with an existing passkey",
        "description": "Finishes login with an existing passkey by completing the WebAuthn ceremony.\n",
        "operationId": "PasskeyLoginFinish",
        "tags": [
          "Passkeys"
        ],
        "security": [
          {
            "basicAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/passkeyLoginFinishReq"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Passkey login succeeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/passkeyLoginFinishRsp"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/sso/saml2/start": {
      "post": {
        "summary": "Start SAML2 SSO login",
        "description": "Starts SAML2-based SSO login by resolving the project's SSO configuration for the email and returning an IdP redirect URL.",
        "operationId": "SsoSaml2Start",
        "tags": [
          "SSO"
        ],
        "security": [
          {
            "basicAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ssoSaml2StartReq"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "SSO start succeeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ssoSaml2StartRsp"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/sso/saml2/finish": {
      "post": {
        "summary": "Finish SAML2 SSO login",
        "description": "Finishes SAML2-based SSO login by validating the SAML response against the pending SSO session and resolving/provisioning a user.\n",
        "operationId": "SsoSaml2Finish",
        "tags": [
          "SSO"
        ],
        "security": [
          {
            "basicAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ssoSaml2FinishReq"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "SSO finish succeeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ssoSaml2FinishRsp"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/passkey/postLogin": {
      "post": {
        "summary": "Run the post-login action for passkey",
        "description": "Explicitly runs the post-login action",
        "operationId": "PasskeyPostLogin",
        "x-excluded": true,
        "tags": [
          "Passkeys"
        ],
        "security": [
          {
            "basicAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/passkeyPostLoginReq"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Post Passkey Login succeeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/passkeyPostLoginRsp"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/passkey/verifySignedData": {
      "post": {
        "summary": "Verify signedPasskeyData from a passkey login",
        "description": "Verifies the `signedPasskeyData` from a passkey login. The `signedPasskeyData` is returned by the [finish](/api-reference/backend-api/passkeys/finish-login-with-an-existing-passkey) call and is essential for transferring the authentication state to your backend.\n\nIt is required only for [Corbado Connect](/corbado-connect) and is thoroughly explained in our [Documentation](/corbado-connect/concepts/signed-passkey-data). Our [generic integration guide](/corbado-connect/integration/generic) explains how to use `signedPasskeyData` in your backend.\n",
        "operationId": "PasskeyVerifySignedData",
        "tags": [
          "Passkeys"
        ],
        "security": [
          {
            "basicAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/passkeyVerifySignedDataReq"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "`signedPasskeyData` has been verified.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/passkeyVerifySignedDataRsp"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/passkey/mediation/start": {
      "post": {
        "summary": "Start login with an existing passkey (Conditional UI)",
        "description": "Starts login with an existing passkey in [Conditional UI](https://www.corbado.com/glossary/conditional-ui) scenario. To complete the ceremony you need to call [finish](/api-reference/backend-api/passkeys/finish-login-with-an-existing-passkey-conditional-ui).\n",
        "operationId": "PasskeyMediationStart",
        "tags": [
          "Passkeys"
        ],
        "security": [
          {
            "basicAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/passkeyMediationStartReq"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Passkey login process has been started.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/passkeyMediationStartRsp"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/passkey/mediation/finish": {
      "post": {
        "summary": "Finish login with an existing passkey (Conditional UI)",
        "description": "Finishes login with an existing passkey in [Conditional UI](https://www.corbado.com/glossary/conditional-ui) scenario.\n",
        "operationId": "PasskeyMediationFinish",
        "tags": [
          "Passkeys"
        ],
        "security": [
          {
            "basicAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/passkeyMediationFinishReq"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Passkey login process has been completed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/passkeyMediationFinishRsp"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "Basic authentication is used to authenticate requests to the Backend API. The username is the project ID and the password is the API secret.\n\nThe project ID and API secret can be found in the [Developer Panel](https://app.corbado.com/settings/api-secrets).\n"
      }
    },
    "parameters": {
      "userID": {
        "name": "userID",
        "in": "path",
        "description": "Unique identifier of the user. Format: `usr-<number>`.\n",
        "required": true,
        "schema": {
          "type": "string",
          "example": "usr-4693224802260150919"
        }
      },
      "challengeID": {
        "name": "challengeID",
        "in": "path",
        "description": "ID of challenge",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "identifierID": {
        "name": "identifierID",
        "in": "path",
        "description": "Unique identifier of the login identifier (e.g., email address or phone number). Format: `ide-<number>`.\n",
        "required": true,
        "schema": {
          "type": "string",
          "example": "ide-4693224802260150919"
        }
      },
      "credentialID": {
        "name": "credentialID",
        "in": "path",
        "description": "Unique identifier of the passkey. Format: `cre-<number>`.\n",
        "required": true,
        "schema": {
          "type": "string",
          "example": "cre-4693224802260150919"
        }
      },
      "connectTokenID": {
        "name": "connectTokenID",
        "in": "path",
        "description": "Unique identifier of the connectToken. Format: `ctk-<number>`.\n",
        "required": true,
        "schema": {
          "type": "string",
          "example": "ctk-4693224802260150919"
        }
      },
      "passkeyChallengeID": {
        "name": "passkeyChallengeID",
        "in": "path",
        "description": "ID of a passkey challenge",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "passkeyEventID": {
        "name": "passkeyEventID",
        "in": "path",
        "description": "ID of a passkey event",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "webhookEndpointID": {
        "name": "webhookEndpointID",
        "in": "path",
        "description": "ID of a webhook endpoint",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "includeAllStatus": {
        "name": "includeAllStatus",
        "in": "query",
        "description": "Whether to include all status types (including `deleted`) in the response. Default is `false`, which excludes `deleted` items.",
        "required": false,
        "schema": {
          "type": "boolean",
          "default": false
        }
      }
    },
    "schemas": {
      "userCreateReq": {
        "type": "object",
        "required": [
          "status"
        ],
        "properties": {
          "fullName": {
            "type": "string",
            "example": "Jane Doe"
          },
          "status": {
            "$ref": "#/components/schemas/userStatus"
          },
          "explicitWebauthnID": {
            "type": "string",
            "description": "For [Corbado Connect](https://docs.corbado.com/corbado-connect) projects, the webauthnID can be explicitly set for a user"
          }
        }
      },
      "userUpdateReq": {
        "type": "object",
        "properties": {
          "fullName": {
            "type": "string",
            "example": "Jane Doe"
          },
          "name": {
            "type": "string"
          },
          "status": {
            "$ref": "#/components/schemas/userStatus"
          }
        }
      },
      "challengeCreateReq": {
        "type": "object",
        "required": [
          "challengeType",
          "identifierValue",
          "clientInformation"
        ],
        "properties": {
          "challengeType": {
            "$ref": "#/components/schemas/challengeType"
          },
          "identifierValue": {
            "type": "string",
            "example": "jane@doe.com"
          },
          "challengeMetadata": {
            "type": "object",
            "example": {
              "city": "Munich"
            }
          },
          "lifetimeSeconds": {
            "type": "integer",
            "example": 300
          },
          "clientInformation": {
            "$ref": "#/components/schemas/clientInformation"
          }
        }
      },
      "challengeUpdateReq": {
        "type": "object",
        "required": [
          "value"
        ],
        "properties": {
          "value": {
            "type": "string"
          }
        }
      },
      "identifierCreateReq": {
        "type": "object",
        "required": [
          "identifierType",
          "identifierValue",
          "status"
        ],
        "properties": {
          "identifierType": {
            "$ref": "#/components/schemas/identifierType"
          },
          "identifierValue": {
            "type": "string"
          },
          "status": {
            "$ref": "#/components/schemas/identifierStatus"
          }
        }
      },
      "identifierUpdateReq": {
        "type": "object",
        "required": [
          "status"
        ],
        "properties": {
          "status": {
            "$ref": "#/components/schemas/identifierStatus"
          }
        }
      },
      "passkeyAppendStartReq": {
        "type": "object",
        "required": [
          "userID",
          "processID",
          "username",
          "clientInformation",
          "passkeyIntelFlags",
          "situation"
        ],
        "properties": {
          "userID": {
            "description": "ID of the user",
            "type": "string"
          },
          "processID": {
            "type": "string"
          },
          "username": {
            "type": "string"
          },
          "clientInformation": {
            "$ref": "#/components/schemas/clientInformation"
          },
          "passkeyIntelFlags": {
            "$ref": "#/components/schemas/passkeyIntelFlags"
          },
          "situation": {
            "type": "string"
          }
        }
      },
      "passkeyAppendStartRsp": {
        "type": "object",
        "required": [
          "appendAllow",
          "attestationOptions",
          "detectionInsights",
          "decisionInsights"
        ],
        "properties": {
          "appendAllow": {
            "type": "boolean"
          },
          "attestationOptions": {
            "type": "string",
            "example": "{\"publicKey\":{\"challenge\":\"2m6...0w9/MgW...KE=\",\"rp\":{\"name\":\"demo\",\"id\":\"localhost\"},\"user\":{\"name\":\"example@mail.com\",\"id\":\"dXN...zk5\"},\"pubKeyCredParams\":[{\"type\":\"public-key\",\"alg\":-7},{\"type\":\"public-key\",\"alg\":-35},{\"type\":\"public-key\",\"alg\":-36},{\"type\":\"public-key\",\"alg\":-257},{\"type\":\"public-key\",\"alg\":-258},{\"type\":\"public-key\",\"alg\":-259},{\"type\":\"public-key\",\"alg\":-37},{\"type\":\"public-key\",\"alg\":-38},{\"type\":\"public-key\",\"alg\":-39},{\"type\":\"public-key\",\"alg\":-8}],\"authenticatorSelection\":{\"authenticatorAttachment\":\"platform\",\"requireResidentKey\":false,\"userVerification\":\"required\"},\"timeout\":60000,\"attestation\":\"none\"}}"
          },
          "detectionInsights": {
            "$ref": "#/components/schemas/detectionInsights"
          },
          "decisionInsights": {
            "$ref": "#/components/schemas/decisionInsightsAppend"
          }
        }
      },
      "passkeyAppendFinishReq": {
        "type": "object",
        "required": [
          "userID",
          "processID",
          "attestationResponse",
          "clientInformation",
          "trackingID"
        ],
        "properties": {
          "userID": {
            "description": "ID of the user",
            "type": "string"
          },
          "processID": {
            "type": "string"
          },
          "attestationResponse": {
            "type": "string",
            "example": "{\"type\":\"public-key\",\"id\":\"JM6...J_Q\",\"rawId\":\"JM6...J_Q\",\"authenticatorAttachment\":null,\"response\":{\"clientDataJSON\":\"eyJ...ZX0\",\"authenticatorData\":\"SZY...AAQ\",\"signature\":\"Ni7...YAg\",\"userHandle\":\"dXN...zk5\"},\"clientExtensionResults\":{}}"
          },
          "clientInformation": {
            "$ref": "#/components/schemas/clientInformation"
          },
          "sendNotification": {
            "type": "boolean"
          },
          "trackingID": {
            "type": "string"
          }
        }
      },
      "passkeyAppendFinishRsp": {
        "type": "object",
        "required": [
          "passkeyData"
        ],
        "properties": {
          "passkeyData": {
            "$ref": "#/components/schemas/passkeyData"
          }
        }
      },
      "passkeyLoginStartReq": {
        "type": "object",
        "required": [
          "userID",
          "clientInformation",
          "crossDeviceAuthenticationStrategy",
          "processID"
        ],
        "properties": {
          "userID": {
            "description": "ID of the user",
            "type": "string"
          },
          "clientInformation": {
            "$ref": "#/components/schemas/clientInformation"
          },
          "crossDeviceAuthenticationStrategy": {
            "$ref": "#/components/schemas/crossDeviceAuthenticationStrategy"
          },
          "processID": {
            "type": "string"
          }
        }
      },
      "passkeyLoginStartRsp": {
        "type": "object",
        "required": [
          "loginAllow",
          "assertionOptions",
          "detectionInsights",
          "decisionInsights"
        ],
        "properties": {
          "loginAllow": {
            "type": "boolean"
          },
          "assertionOptions": {
            "type": "string"
          },
          "detectionInsights": {
            "$ref": "#/components/schemas/detectionInsights"
          },
          "decisionInsights": {
            "$ref": "#/components/schemas/decisionInsights"
          }
        }
      },
      "passkeyLoginFinishReq": {
        "type": "object",
        "required": [
          "userID",
          "assertionResponse",
          "clientInformation",
          "processID",
          "trackingID"
        ],
        "properties": {
          "userID": {
            "description": "ID of the user",
            "type": "string"
          },
          "assertionResponse": {
            "type": "string"
          },
          "clientInformation": {
            "$ref": "#/components/schemas/clientInformation"
          },
          "processID": {
            "type": "string"
          },
          "signPasskeyData": {
            "type": "boolean"
          },
          "trackingID": {
            "type": "string"
          }
        }
      },
      "passkeyLoginFinishRsp": {
        "type": "object",
        "required": [
          "passkeyData"
        ],
        "properties": {
          "passkeyData": {
            "$ref": "#/components/schemas/passkeyData"
          },
          "signedPasskeyData": {
            "type": "string"
          }
        }
      },
      "ssoSaml2StartReq": {
        "type": "object",
        "required": [
          "email"
        ],
        "properties": {
          "email": {
            "type": "string"
          }
        }
      },
      "ssoSaml2StartRsp": {
        "type": "object",
        "required": [
          "idpRedirectURL",
          "ssoNonce"
        ],
        "properties": {
          "idpRedirectURL": {
            "type": "string"
          },
          "ssoNonce": {
            "type": "string"
          }
        }
      },
      "ssoSaml2FinishReq": {
        "type": "object",
        "required": [
          "samlResponse",
          "relayState",
          "ssoNonce"
        ],
        "properties": {
          "samlResponse": {
            "type": "string"
          },
          "relayState": {
            "type": "string"
          },
          "ssoNonce": {
            "type": "string"
          }
        }
      },
      "ssoSaml2FinishRsp": {
        "type": "object",
        "required": [
          "projectID",
          "userID",
          "identifier"
        ],
        "properties": {
          "projectID": {
            "description": "ID of project",
            "type": "string",
            "x-oapi-codegen-extra-tags": {
              "validate": "required,id=pro"
            }
          },
          "userID": {
            "description": "ID of the user",
            "type": "string"
          },
          "identifier": {
            "type": "string"
          }
        }
      },
      "passkeyPostLoginReq": {
        "type": "object",
        "required": [
          "signedPasskeyData"
        ],
        "properties": {
          "signedPasskeyData": {
            "type": "string"
          }
        }
      },
      "passkeyPostLoginRsp": {
        "type": "object",
        "required": [
          "session"
        ],
        "properties": {
          "session": {
            "type": "string"
          }
        }
      },
      "passkeyVerifySignedDataReq": {
        "type": "object",
        "required": [
          "signedPasskeyData",
          "username"
        ],
        "properties": {
          "signedPasskeyData": {
            "type": "string"
          },
          "username": {
            "type": "string"
          }
        }
      },
      "passkeyVerifySignedDataRsp": {
        "type": "object",
        "required": [
          "verificationResult"
        ],
        "properties": {
          "verificationResult": {
            "type": "string",
            "enum": [
              "success",
              "invalid_signature",
              "invalid_challenge",
              "user_mismatch",
              "generic_error"
            ]
          }
        }
      },
      "passkeyMediationStartReq": {
        "type": "object",
        "required": [
          "clientInformation"
        ],
        "properties": {
          "clientInformation": {
            "$ref": "#/components/schemas/clientInformation"
          },
          "processID": {
            "type": "string"
          }
        }
      },
      "passkeyMediationStartRsp": {
        "type": "object",
        "required": [
          "loginAllow",
          "assertionOptions"
        ],
        "properties": {
          "loginAllow": {
            "type": "boolean"
          },
          "assertionOptions": {
            "type": "string"
          }
        }
      },
      "passkeyMediationFinishReq": {
        "type": "object",
        "required": [
          "assertionResponse",
          "clientInformation",
          "processID",
          "trackingID"
        ],
        "properties": {
          "assertionResponse": {
            "type": "string"
          },
          "clientInformation": {
            "$ref": "#/components/schemas/clientInformation"
          },
          "processID": {
            "type": "string"
          },
          "signPasskeyData": {
            "type": "boolean"
          },
          "trackingID": {
            "type": "string"
          }
        }
      },
      "passkeyMediationFinishRsp": {
        "type": "object",
        "required": [
          "passkeyData"
        ],
        "properties": {
          "passkeyData": {
            "$ref": "#/components/schemas/passkeyData"
          },
          "signedPasskeyData": {
            "type": "string"
          },
          "error": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/passkeyMediationFinishErrorCredentialDeleted"
              },
              {
                "$ref": "#/components/schemas/passkeyMediationFinishErrorAlternativeProject"
              }
            ],
            "discriminator": {
              "propertyName": "type",
              "mapping": {
                "credentialDeleted": "#/components/schemas/passkeyMediationFinishErrorCredentialDeleted",
                "alternativeProjectID": "#/components/schemas/passkeyMediationFinishErrorAlternativeProject"
              }
            }
          }
        }
      },
      "passkeyMediationFinishErrorCredentialDeleted": {
        "type": "object",
        "required": [
          "type"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "credentialDeleted"
            ]
          }
        }
      },
      "passkeyMediationFinishErrorAlternativeProject": {
        "type": "object",
        "required": [
          "type",
          "alternativeProjectName"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "alternativeProjectID"
            ]
          },
          "alternativeProjectName": {
            "type": "string"
          }
        }
      },
      "connectTokenCreateReq": {
        "type": "object",
        "required": [
          "type",
          "data"
        ],
        "properties": {
          "type": {
            "$ref": "#/components/schemas/connectTokenType"
          },
          "data": {
            "$ref": "#/components/schemas/connectTokenData"
          },
          "maxLifetimeInSeconds": {
            "type": "integer",
            "description": "Maximum lifetime of the connectToken in seconds.",
[...]
