{
  "openapi": "3.0.3",
  "info": {
    "title": "World Bank Indicators API",
    "description": "Provides programmatic access to nearly 16,000 time series indicators across over 45 databases from the World Bank. Includes World Development Indicators, International Debt Statistics, Doing Business, Human Capital Index, and more. No authentication required.",
    "version": "2.0",
    "contact": {
      "name": "World Bank Data Help Desk",
      "url": "https://datahelpdesk.worldbank.org/"
    },
    "license": {
      "name": "Creative Commons Attribution 4.0",
      "url": "https://creativecommons.org/licenses/by/4.0/"
    }
  },
  "externalDocs": {
    "description": "World Bank Indicators API Documentation",
    "url": "https://datahelpdesk.worldbank.org/knowledgebase/articles/889392"
  },
  "servers": [
    {
      "url": "https://api.worldbank.org/v2",
      "description": "World Bank API v2"
    }
  ],
  "paths": {
    "/country": {
      "get": {
        "operationId": "listCountries",
        "summary": "List all countries",
        "parameters": [
          {
            "$ref": "#/components/parameters/format"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/per_page"
          },
          {
            "name": "incomeLevel",
            "in": "query",
            "description": "Filter by income level code (e.g. LIC, MIC, HIC)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lendingType",
            "in": "query",
            "description": "Filter by lending type",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "region",
            "in": "query",
            "description": "Filter by region code",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of countries",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CountryListResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "description": "List all countries",
        "tags": [
          "country"
        ]
      }
    },
    "/country/{country_codes}": {
      "get": {
        "operationId": "getCountries",
        "summary": "Get one or more countries by ISO code",
        "parameters": [
          {
            "name": "country_codes",
            "in": "path",
            "required": true,
            "description": "One or more ISO 2-letter or 3-letter country codes separated by semicolons (e.g. us;br;cn)",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/format"
          }
        ],
        "responses": {
          "200": {
            "description": "Country details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CountryListResponse"
                }
              }
            }
          }
        },
        "description": "Get one or more countries by ISO code",
        "tags": [
          "country"
        ]
      }
    },
    "/country/{country_codes}/indicator/{indicator_code}": {
      "get": {
        "operationId": "getIndicatorData",
        "summary": "Get indicator data for specific countries",
        "parameters": [
          {
            "name": "country_codes",
            "in": "path",
            "required": true,
            "description": "Country codes separated by semicolons (e.g. br;cn), or \"all\"",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "indicator_code",
            "in": "path",
            "required": true,
            "description": "Indicator code (e.g. SP.POP.TOTL, NY.GDP.MKTP.CD)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "date",
            "in": "query",
            "description": "Date or date range (e.g. 2000, 2000:2010, 2012M01:2012M08, 2013Q1:2013Q4)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "mrv",
            "in": "query",
            "description": "Fetch most recent values (number)",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "mrnev",
            "in": "query",
            "description": "Fetch most recent non-empty values (number)",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "gapfill",
            "in": "query",
            "description": "Fill gaps when using MRV (Y/N)",
            "schema": {
              "type": "string",
              "enum": [
                "Y",
                "N"
              ]
            }
          },
          {
            "name": "frequency",
            "in": "query",
            "description": "Data frequency: Y (yearly), M (monthly), Q (quarterly)",
            "schema": {
              "type": "string",
              "enum": [
                "Y",
                "M",
                "Q"
              ]
            }
          },
          {
            "name": "footnote",
            "in": "query",
            "description": "Include footnotes (y/n)",
            "schema": {
              "type": "string",
              "enum": [
                "y",
                "n"
              ]
            }
          },
          {
            "name": "source",
            "in": "query",
            "description": "Data source ID",
            "schema": {
              "type": "integer"
            }
          },
          {
            "$ref": "#/components/parameters/format"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/per_page"
          },
          {
            "name": "downloadformat",
            "in": "query",
            "description": "Download format for bulk export",
            "schema": {
              "type": "string",
              "enum": [
                "csv",
                "xml",
                "excel"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Indicator data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IndicatorDataResponse"
                }
              }
            }
          }
        },
        "description": "Get indicator data for specific countries",
        "tags": [
          "country"
        ]
      }
    },
    "/indicator": {
      "get": {
        "operationId": "listIndicators",
        "summary": "List all available indicators",
        "parameters": [
          {
            "$ref": "#/components/parameters/format"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/per_page"
          }
        ],
        "responses": {
          "200": {
            "description": "List of indicators",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array"
                }
              }
            }
          }
        },
        "description": "List all available indicators",
        "tags": [
          "indicator"
        ]
      }
    },
    "/indicator/{indicator_code}": {
      "get": {
        "operationId": "getIndicator",
        "summary": "Get metadata for a specific indicator",
        "parameters": [
          {
            "name": "indicator_code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/format"
          }
        ],
        "responses": {
          "200": {
            "description": "Indicator metadata",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array"
                }
              }
            }
          }
        },
        "description": "Get metadata for a specific indicator",
        "tags": [
          "indicator"
        ]
      }
    },
    "/sources": {
      "get": {
        "operationId": "listSources",
        "summary": "List all data sources",
        "parameters": [
          {
            "$ref": "#/components/parameters/format"
          }
        ],
        "responses": {
          "200": {
            "description": "List of sources",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array"
                }
              }
            }
          }
        },
        "description": "List all data sources",
        "tags": [
          "sources"
        ]
      }
    },
    "/sources/{source_id}": {
      "get": {
        "operationId": "getSource",
        "summary": "Get a data source by ID",
        "parameters": [
          {
            "name": "source_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "$ref": "#/components/parameters/format"
          }
        ],
        "responses": {
          "200": {
            "description": "Source details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array"
                }
              }
            }
          }
        },
        "description": "Get a data source by ID",
        "tags": [
          "sources"
        ]
      }
    },
    "/topic": {
      "get": {
        "operationId": "listTopics",
        "summary": "List all topics",
        "parameters": [
          {
            "$ref": "#/components/parameters/format"
          }
        ],
        "responses": {
          "200": {
            "description": "List of topics",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array"
                }
              }
            }
          }
        },
        "description": "List all topics",
        "tags": [
          "topic"
        ]
      }
    },
    "/topic/{topic_id}": {
      "get": {
        "operationId": "getTopic",
        "summary": "Get a topic by ID",
        "parameters": [
          {
            "name": "topic_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "$ref": "#/components/parameters/format"
          }
        ],
        "responses": {
          "200": {
            "description": "Topic details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array"
                }
              }
            }
          }
        },
        "description": "Get a topic by ID",
        "tags": [
          "topic"
        ]
      }
    },
    "/region": {
      "get": {
        "operationId": "listRegions",
        "summary": "List all regions",
        "parameters": [
          {
            "$ref": "#/components/parameters/format"
          }
        ],
        "responses": {
          "200": {
            "description": "List of regions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array"
                }
              }
            }
          }
        },
        "description": "List all regions",
        "tags": [
          "region"
        ]
      }
    },
    "/incomeLevel": {
      "get": {
        "operationId": "listIncomeLevels",
        "summary": "List all income levels",
        "parameters": [
          {
            "$ref": "#/components/parameters/format"
          }
        ],
        "responses": {
          "200": {
            "description": "List of income levels",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array"
                }
              }
            }
          }
        },
        "description": "List all income levels",
        "tags": [
          "incomeLevel"
        ]
      }
    },
    "/lendingType": {
      "get": {
        "operationId": "listLendingTypes",
        "summary": "List all lending types",
        "parameters": [
          {
            "$ref": "#/components/parameters/format"
          }
        ],
        "responses": {
          "200": {
            "description": "List of lending types",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array"
                }
              }
            }
          }
        },
        "description": "List all lending types",
        "tags": [
          "lendingType"
        ]
      }
    },
    "/languages": {
      "get": {
        "operationId": "listLanguages",
        "summary": "List all supported languages",
        "parameters": [
          {
            "$ref": "#/components/parameters/format"
          }
        ],
        "responses": {
          "200": {
            "description": "List of supported languages",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array"
                }
              }
            }
          }
        },
        "description": "List all supported languages",
        "tags": [
          "languages"
        ]
      }
    }
  },
  "components": {
    "parameters": {
      "format": {
        "name": "format",
        "in": "query",
        "description": "Response format: json, xml, jsonP, jsonstat",
        "schema": {
          "type": "string",
          "enum": [
            "json",
            "xml",
            "jsonP",
            "jsonstat"
          ],
          "default": "xml"
        }
      },
      "page": {
        "name": "page",
        "in": "query",
        "description": "Page number for pagination",
        "schema": {
          "type": "integer",
          "default": 1
        }
      },
      "per_page": {
        "name": "per_page",
        "in": "query",
        "description": "Results per page (default 50)",
        "schema": {
          "type": "integer",
          "default": 50
        }
      }
    },
    "schemas": {
      "PaginationMeta": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer"
          },
          "pages": {
            "type": "integer"
          },
          "per_page": {
            "type": "string"
          },
          "total": {
            "type": "integer"
          }
        }
      },
      "Country": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "iso2Code": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "region": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "iso2code": {
                "type": "string"
              },
              "value": {
                "type": "string"
              }
            }
          },
          "adminregion": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "iso2code": {
                "type": "string"
              },
              "value": {
                "type": "string"
              }
            }
          },
          "incomeLevel": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "iso2code": {
                "type": "string"
              },
              "value": {
                "type": "string"
              }
            }
          },
          "lendingType": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "iso2code": {
                "type": "string"
              },
              "value": {
                "type": "string"
              }
            }
          },
          "capitalCity": {
            "type": "string"
          },
          "longitude": {
            "type": "string"
          },
          "latitude": {
            "type": "string"
          }
        }
      },
      "CountryListResponse": {
        "type": "array",
        "items": {
          "oneOf": [
            {
              "$ref": "#/components/schemas/PaginationMeta"
            },
            {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/Country"
              }
            }
          ]
        }
      },
      "IndicatorDataEntry": {
        "type": "object",
        "properties": {
          "indicator": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "value": {
                "type": "string"
              }
            }
          },
          "country": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "value": {
                "type": "string"
              }
            }
          },
          "countryiso3code": {
            "type": "string"
          },
          "date": {
            "type": "string"
          },
          "value": {
            "type": "number",
            "nullable": true
          },
          "unit": {
            "type": "string"
          },
          "obs_status": {
            "type": "string"
          },
          "decimal": {
            "type": "integer"
          }
        }
      },
      "IndicatorDataResponse": {
        "type": "array",
        "items": {
          "oneOf": [
            {
              "$ref": "#/components/schemas/PaginationMeta"
            },
            {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/IndicatorDataEntry"
              }
            }
          ]
        }
      }
    }
  },
  "tags": [
    {
      "name": "country"
    },
    {
      "name": "incomeLevel"
    },
    {
      "name": "indicator"
    },
    {
      "name": "languages"
    },
    {
      "name": "lendingType"
    },
    {
      "name": "region"
    },
    {
      "name": "sources"
    },
    {
      "name": "topic"
    }
  ]
}
