{
  "openapi": "3.0.3",
  "info": {
    "title": "APITemplate API",
    "version": "2.0.0",
    "description": "APITemplate.io provides APIs for generating PDF documents and images from reusable templates. Create templates via the web editor, then programmatically generate PDFs and images with dynamic data via the API. Supports HTML-to-PDF, template-based PDF generation, and image generation.",
    "x-jentic-source-url": "https://apitemplate.io",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://rest.apitemplate.io"
    }
  ],
  "paths": {
    "/v2/create-pdf": {
      "post": {
        "operationId": "createPdf",
        "summary": "Create a PDF from a template",
        "description": "Generate a PDF document from a template with dynamic data overrides.",
        "tags": [
          "PDF"
        ],
        "parameters": [
          {
            "name": "template_id",
            "in": "query",
            "required": true,
            "description": "Template ID to use",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "output_file",
            "in": "query",
            "description": "Output filename",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "expiration",
            "in": "query",
            "description": "Minutes until download URL expires",
            "schema": {
              "type": "integer",
              "default": 4320
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Template data overrides",
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "PDF created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenerationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/create-pdf-from-html": {
      "post": {
        "operationId": "createPdfFromHtml",
        "summary": "Create a PDF from HTML",
        "description": "Generate a PDF document from raw HTML content.",
        "tags": [
          "PDF"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "body"
                ],
                "properties": {
                  "body": {
                    "type": "string",
                    "description": "HTML content"
                  },
                  "css": {
                    "type": "string",
                    "description": "Additional CSS styles"
                  },
                  "settings": {
                    "type": "object",
                    "properties": {
                      "paper_size": {
                        "type": "string",
                        "enum": [
                          "A4",
                          "Letter",
                          "Legal",
                          "A3",
                          "A5"
                        ]
                      },
                      "orientation": {
                        "type": "string",
                        "enum": [
                          "1",
                          "2"
                        ],
                        "description": "1=portrait, 2=landscape"
                      },
                      "header_font_size": {
                        "type": "string"
                      },
                      "margin_top": {
                        "type": "number"
                      },
                      "margin_right": {
                        "type": "number"
                      },
                      "margin_bottom": {
                        "type": "number"
                      },
                      "margin_left": {
                        "type": "number"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "PDF created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenerationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/create-image": {
      "post": {
        "operationId": "createImage",
        "summary": "Create an image from a template",
        "description": "Generate an image (PNG/JPEG) from a template with dynamic data overrides. Useful for social media images, banners, and dynamic OG images.",
        "tags": [
          "Images"
        ],
        "parameters": [
          {
            "name": "template_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "output_file",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "expiration",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 4320
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Template data overrides",
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Image created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenerationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/list-templates": {
      "get": {
        "operationId": "listTemplates",
        "summary": "List all templates",
        "description": "Returns a list of all templates in your account.",
        "tags": [
          "Templates"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Max results per page",
            "schema": {
              "type": "integer",
              "default": 300
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "Template format filter",
            "schema": {
              "type": "string",
              "enum": [
                "pdf",
                "image"
              ]
            }
          },
          {
            "name": "template_id",
            "in": "query",
            "description": "Filter by specific template ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "group_name",
            "in": "query",
            "description": "Filter by group name",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Templates list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TemplateListResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/get-template": {
      "get": {
        "operationId": "getTemplate",
        "summary": "Get template details",
        "description": "Returns details of a specific template including its schema and settings.",
        "tags": [
          "Templates"
        ],
        "parameters": [
          {
            "name": "template_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Template details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Template"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Template not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/update-template": {
      "post": {
        "operationId": "updateTemplate",
        "summary": "Update a template",
        "description": "Update an existing template's content or settings.",
        "tags": [
          "Templates"
        ],
        "parameters": [
          {
            "name": "template_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Template updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/delete-template": {
      "get": {
        "operationId": "deleteTemplate",
        "summary": "Delete a template",
        "description": "Delete a specific template.",
        "tags": [
          "Templates"
        ],
        "parameters": [
          {
            "name": "template_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Template deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Template not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/account-information": {
      "get": {
        "operationId": "getAccountInfo",
        "summary": "Get account information",
        "description": "Returns current account usage, quotas, and subscription details.",
        "tags": [
          "Account"
        ],
        "responses": {
          "200": {
            "description": "Account information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountInfo"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "GenerationResponse": {
        "type": "object",
        "properties": {
          "download_url": {
            "type": "string",
            "format": "uri",
            "description": "URL to download the generated file"
          },
          "transaction_ref": {
            "type": "string",
            "description": "Transaction reference ID"
          },
          "status": {
            "type": "string"
          }
        }
      },
      "Template": {
        "type": "object",
        "properties": {
          "template_id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "format": {
            "type": "string",
            "enum": [
              "pdf",
              "image"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "group_name": {
            "type": "string"
          },
          "status": {
            "type": "string"
          }
        }
      },
      "TemplateListResponse": {
        "type": "object",
        "properties": {
          "templates": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Template"
            }
          },
          "total_count": {
            "type": "integer"
          }
        }
      },
      "AccountInfo": {
        "type": "object",
        "properties": {
          "plan": {
            "type": "string"
          },
          "pdf_generation_count": {
            "type": "integer"
          },
          "image_generation_count": {
            "type": "integer"
          },
          "monthly_quota": {
            "type": "integer"
          },
          "remaining_quota": {
            "type": "integer"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "apiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-KEY",
        "description": "APITemplate.io API key"
      }
    }
  },
  "security": [
    {
      "apiKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "Account"
    },
    {
      "name": "Images"
    },
    {
      "name": "PDF"
    },
    {
      "name": "Templates"
    }
  ]
}
