{
  "openapi": "3.0.3",
  "info": {
    "title": "COP4331 Contact Manager API - Team 24",
    "description": "Contact Manager API for COP4331 Small Project at UCF (Spring 2026)",
    "version": "1.0",
    "contact": {
      "name": "Team 24"
    },
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/self-a0e/cop4331-contact-manager-api-team-24/1.0"
  },
  "servers": [
    {
      "url": "https://24.projectucf.software/API",
      "description": "Production (DigitalOcean)"
    }
  ],
  "paths": {
    "/Login.php": {
      "post": {
        "summary": "User Login",
        "description": "Authenticate a user with login credentials",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "login",
                  "password"
                ],
                "properties": {
                  "login": {
                    "type": "string",
                    "example": "testuser"
                  },
                  "password": {
                    "type": "string",
                    "description": "MD5 hashed password",
                    "example": "5f4dcc3b5aa765d61d8327deb882cf99"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Login result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "example": 123
                    },
                    "firstName": {
                      "type": "string",
                      "example": "John"
                    },
                    "lastName": {
                      "type": "string",
                      "example": "Doe"
                    },
                    "message": {
                      "type": "string",
                      "example": "Login successful"
                    },
                    "error": {
                      "type": "string",
                      "example": ""
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/Register.php": {
      "post": {
        "summary": "Register User",
        "description": "Create a new user account",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "login",
                  "password",
                  "firstName",
                  "lastName"
                ],
                "properties": {
                  "login": {
                    "type": "string",
                    "example": "newuser"
                  },
                  "password": {
                    "type": "string",
                    "description": "MD5 hashed password",
                    "example": "5f4dcc3b5aa765d61d8327deb882cf99"
                  },
                  "firstName": {
                    "type": "string",
                    "example": "John"
                  },
                  "lastName": {
                    "type": "string",
                    "example": "Doe"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Registration result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "User registered successfully"
                    },
                    "error": {
                      "type": "string",
                      "example": ""
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/AddContact.php": {
      "post": {
        "summary": "Add Contact",
        "description": "Add a new contact for a user",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "userId",
                  "firstName",
                  "lastName"
                ],
                "properties": {
                  "userId": {
                    "type": "integer",
                    "example": 123
                  },
                  "firstName": {
                    "type": "string",
                    "example": "Jane"
                  },
                  "lastName": {
                    "type": "string",
                    "example": "Smith"
                  },
                  "phone": {
                    "type": "string",
                    "example": "555-1234"
                  },
                  "email": {
                    "type": "string",
                    "example": "jane@example.com"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Add result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Contact added successfully"
                    },
                    "error": {
                      "type": "string",
                      "example": ""
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/SearchContacts.php": {
      "post": {
        "summary": "Search Contacts",
        "description": "Search contacts by name for a user",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "userId",
                  "search"
                ],
                "properties": {
                  "userId": {
                    "type": "integer",
                    "example": 123
                  },
                  "search": {
                    "type": "string",
                    "example": "Jane"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Search results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer"
                          },
                          "firstName": {
                            "type": "string"
                          },
                          "lastName": {
                            "type": "string"
                          },
                          "phone": {
                            "type": "string"
                          },
                          "email": {
                            "type": "string"
                          },
                          "dateCreated": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "message": {
                      "type": "string",
                      "example": "Contacts retrieved successfully"
                    },
                    "error": {
                      "type": "string",
                      "example": ""
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/EditContact.php": {
      "post": {
        "summary": "Edit Contact",
        "description": "Update an existing contact",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "id",
                  "userId",
                  "firstName",
                  "lastName"
                ],
                "properties": {
                  "id": {
                    "type": "integer",
                    "example": 1
                  },
                  "userId": {
                    "type": "integer",
                    "example": 123
                  },
                  "firstName": {
                    "type": "string",
                    "example": "Jane"
                  },
                  "lastName": {
                    "type": "string",
                    "example": "Doe"
                  },
                  "phone": {
                    "type": "string",
                    "example": "555-5678"
                  },
                  "email": {
                    "type": "string",
                    "example": "jane.doe@example.com"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Edit result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Contact updated successfully"
                    },
                    "error": {
                      "type": "string",
                      "example": ""
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/DeleteContact.php": {
      "post": {
        "summary": "Delete Contact",
        "description": "Delete a contact by ID",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "id",
                  "userId"
                ],
                "properties": {
                  "id": {
                    "type": "integer",
                    "example": 1
                  },
                  "userId": {
                    "type": "integer",
                    "example": 123
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Delete result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Contact deleted successfully"
                    },
                    "error": {
                      "type": "string",
                      "example": ""
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}