{
  "openapi": "3.1.0",
  "info": {
    "version": "1.0.0",
    "title": "Operations Interface ",
    "description": "Multi-file boilerplate for OpenAPI Specification.",
    "license": {
      "name": "\u05e8\u05e9\u05d5\u05ea \u05e9\u05d5\u05e7 \u05d4\u05d4\u05d5\u05df \u05d1\u05d9\u05d8\u05d5\u05d7 \u05d5\u05d7\u05e1\u05db\u05d5\u05df"
    },
    "contact": {
      "name": "API Support",
      "url": "http://www.example.com/support",
      "email": "support@example.com"
    },
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/CapitalMarket/OperationsInterface/1.0.0"
  },
  "servers": [
    {
      "url": "https://api.mof.gov.il",
      "description": "Ministry of Finance API Server"
    }
  ],
  "tags": [
    {
      "name": "\u05e4\u05d8\u05d5\u05e8 \u05e0\u05d5\u05e1\u05e3"
    },
    {
      "name": "\u05d4\u05ea\u05d7\u05d9\u05d9\u05d1\u05d5\u05ea \u05de\u05e2\u05e1\u05d9\u05e7 \u05dc\u05d4\u05e2\u05d1\u05e8\u05ea \u05ea\u05e9\u05dc\u05de\u05d9\u05dd \u05dc\u05e7\u05e8\u05df \u05d4\u05e4\u05e0\u05e1\u05d9\u05d4"
    },
    {
      "name": "\u05d4\u05e8\u05e9\u05d0\u05d4 \u05dc\u05d2\u05d5\u05e8\u05dd \u05de\u05ea\u05e4\u05e2\u05dc"
    },
    {
      "name": "\u05d1\u05e7\u05e9\u05ea \u05e0\u05d9\u05d5\u05d3"
    },
    {
      "name": "\u05e1\u05d9\u05d5\u05d5\u05d2 \u05d9\u05ea\u05e8\u05d5\u05ea"
    },
    {
      "name": "\u05d4\u05e6\u05d8\u05e8\u05e4\u05d5\u05ea"
    },
    {
      "name": "\u05d8\u05d5\u05e4\u05e1 \u05e7\u05d5\u05d1\u05d9\u05d5\u05ea \u05d5\u05e4\u05d9\u05e6\u05d5\u05dc \u05e4\u05d5\u05dc\u05d9\u05e1\u05d5\u05ea"
    },
    {
      "name": "\u05d9\u05d9\u05e4\u05d5\u05d9 \u05db\u05d5\u05d7 \u05dc\u05d1\u05e2\u05dc \u05e8\u05d9\u05e9\u05d9\u05d5\u05df"
    },
    {
      "name": "\u05e1\u05d9\u05d5\u05d5\u05d2 \u05ea\u05e9\u05dc\u05d5\u05de\u05d9\u05dd"
    },
    {
      "name": "\u05e4\u05e2\u05d5\u05dc\u05d5\u05ea \u05e2\u05d3\u05db\u05d5\u05df"
    }
  ],
  "paths": {
    "/v1/powerOfAttorneyInstructions": {
      "post": {
        "summary": "power-of-attorney-instructions",
        "operationId": "power-of-attorney-instructions",
        "description": "\u05e4\u05e2\u05d5\u05dc\u05d5\u05ea - \u05de\u05ea\u05df \u05d4\u05e0\u05d7\u05d9\u05d5\u05ea \u05dc\u05e2\u05e0\u05d9\u05d9\u05df \u05d9\u05d9\u05e4\u05d5\u05d9 \u05db\u05d7 ",
        "tags": [
          "\u05d9\u05d9\u05e4\u05d5\u05d9 \u05db\u05d5\u05d7 \u05dc\u05d1\u05e2\u05dc \u05e8\u05d9\u05e9\u05d9\u05d5\u05df"
        ],
        "requestBody": {
          "description": "4800 request body",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PowerOfAttorneyInstructions"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Accepted - Request has been accepted for processing (Async)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PowerOfAttorneyInstructionsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest400"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized401"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden403"
          },
          "404": {
            "$ref": "#/components/responses/NotFound404"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity422"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError500"
          },
          "default": {
            "$ref": "#/components/responses/UnexpectedError"
          }
        },
        "parameters": [
          {
            "name": "X-Request-ID",
            "in": "header",
            "description": "ID of the request, unique to the call, as determined by the initiating party.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "PSU-ID",
            "in": "header",
            "description": "Client ID used by the PSU in the sphere of the ASPSP.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Digest",
            "in": "header",
            "description": "Is contained if and only if the related message contains a body.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Signature",
            "in": "header",
            "description": "A signature of the request by the TPP.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "PSU-IP-Address",
            "in": "header",
            "description": "The IP address of the PSU (Client).",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "TPP-Signature-Certificate",
            "in": "header",
            "description": "The certificate used for the signature.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "description": "Unique key to prevent duplicate transactions. Expires after 24 hours.",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ]
      }
    },
    "/v1/pensionFundJoiningRequest": {
      "post": {
        "summary": "pension-fund-joining-request",
        "operationId": "pension-fund-joining-request",
        "description": "\u05e4\u05e2\u05d5\u05dc\u05d5\u05ea - \u05d1\u05e7\u05e9\u05ea \u05d4\u05e6\u05d8\u05e8\u05e4\u05d5\u05ea \u05dc\u05e7\u05e8\u05df \u05e4\u05e0\u05e1\u05d9\u05d4 ",
        "tags": [
          "\u05d4\u05e6\u05d8\u05e8\u05e4\u05d5\u05ea"
        ],
        "requestBody": {
          "description": "4900 request body",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PensionFundJoiningRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Accepted - Request has been accepted for processing (Async)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PensionFundJoiningRequestResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest400"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized401"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden403"
          },
          "404": {
            "$ref": "#/components/responses/NotFound404"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity422"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError500"
          },
          "default": {
            "$ref": "#/components/responses/UnexpectedError"
          }
        },
        "parameters": [
          {
            "name": "X-Request-ID",
            "in": "header",
            "description": "ID of the request, unique to the call, as determined by the initiating party.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "PSU-ID",
            "in": "header",
            "description": "Client ID used by the PSU in the sphere of the ASPSP.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Digest",
            "in": "header",
            "description": "Is contained if and only if the related message contains a body.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Signature",
            "in": "header",
            "description": "A signature of the request by the TPP.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "PSU-IP-Address",
            "in": "header",
            "description": "The IP address of the PSU (Client).",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "TPP-Signature-Certificate",
            "in": "header",
            "description": "The certificate used for the signature.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "description": "Unique key to prevent duplicate transactions. Expires after 24 hours.",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ]
      }
    },
    "/v1/selectedPensionFundJoiningRequest": {
      "post": {
        "summary": "selected-pension-fund-joining-request",
        "operationId": "selected-pension-fund-joining-request",
        "description": "\u05e4\u05e2\u05d5\u05dc\u05d5\u05ea - \u05d1\u05e7\u05e9\u05ea \u05d4\u05e6\u05d8\u05e8\u05e4\u05d5\u05ea \u05dc\u05e7\u05e8\u05df \u05e4\u05e0\u05e1\u05d9\u05d4 \u05e0\u05d1\u05d7\u05e8\u05ea (\u05e0\u05e1\u05e4\u05d7 \u05d6') ",
        "tags": [
          "\u05d4\u05e6\u05d8\u05e8\u05e4\u05d5\u05ea"
        ],
        "requestBody": {
          "description": "4901 request body",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SelectedPensionFundJoiningRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Accepted - Request has been accepted for processing (Async)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SelectedPensionFundJoiningRequestResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest400"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized401"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden403"
          },
          "404": {
            "$ref": "#/components/responses/NotFound404"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity422"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError500"
          },
          "default": {
            "$ref": "#/components/responses/UnexpectedError"
          }
        },
        "parameters": [
          {
            "name": "X-Request-ID",
            "in": "header",
            "description": "ID of the request, unique to the call, as determined by the initiating party.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "PSU-ID",
            "in": "header",
            "description": "Client ID used by the PSU in the sphere of the ASPSP.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Digest",
            "in": "header",
            "description": "Is contained if and only if the related message contains a body.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Signature",
            "in": "header",
            "description": "A signature of the request by the TPP.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "PSU-IP-Address",
            "in": "header",
            "description": "The IP address of the PSU (Client).",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "TPP-Signature-Certificate",
            "in": "header",
            "description": "The certificate used for the signature.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "description": "Unique key to prevent duplicate transactions. Expires after 24 hours.",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ]
      }
    },
    "/v1/providentFundJoiningRequest": {
      "post": {
        "summary": "provident-fund-joining-request",
        "operationId": "provident-fund-joining-request",
        "description": "\u05e4\u05e2\u05d5\u05dc\u05d5\u05ea - \u05d1\u05e7\u05e9\u05ea \u05d4\u05e6\u05d8\u05e8\u05e4\u05d5\u05ea \u05dc\u05e7\u05d5\u05e4\u05ea \u05d2\u05de\u05dc \u05d0\u05d5 \u05e7\u05e8\u05df \u05d4\u05e9\u05ea\u05dc\u05de\u05d5\u05ea ",
        "tags": [
          "\u05d4\u05e6\u05d8\u05e8\u05e4\u05d5\u05ea"
        ],
        "requestBody": {
          "description": "4902 request body",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProvidentFundJoiningRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Accepted - Request has been accepted for processing (Async)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProvidentFundJoiningRequestResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest400"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized401"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden403"
          },
          "404": {
            "$ref": "#/components/responses/NotFound404"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity422"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError500"
          },
          "default": {
            "$ref": "#/components/responses/UnexpectedError"
          }
        },
        "parameters": [
          {
            "name": "X-Request-ID",
            "in": "header",
            "description": "ID of the request, unique to the call, as determined by the initiating party.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "PSU-ID",
            "in": "header",
            "description": "Client ID used by the PSU in the sphere of the ASPSP.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Digest",
            "in": "header",
            "description": "Is contained if and only if the related message contains a body.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Signature",
            "in": "header",
            "description": "A signature of the request by the TPP.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "PSU-IP-Address",
            "in": "header",
            "description": "The IP address of the PSU (Client).",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "TPP-Signature-Certificate",
            "in": "header",
            "description": "The certificate used for the signature.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "description": "Unique key to prevent duplicate transactions. Expires after 24 hours.",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ]
      }
    },
    "/v1/fundTransferRequest": {
      "post": {
        "summary": "fund-transfer-request",
        "operationId": "fund-transfer-request",
        "description": "\u05e4\u05e2\u05d5\u05dc\u05d5\u05ea - \u05d1\u05e7\u05e9\u05d4 \u05dc\u05d4\u05e2\u05d1\u05e8\u05ea \u05db\u05e1\u05e4\u05d9\u05dd \u05d1\u05d9\u05df \u05e7\u05d5\u05e4\u05d5\u05ea \u05d2\u05de\u05dc (\u05e0\u05e1\u05e4\u05d7 \u05d0') ",
        "tags": [
          "\u05d1\u05e7\u05e9\u05ea \u05e0\u05d9\u05d5\u05d3"
        ],
        "requestBody": {
          "description": "5000 request body",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FundTransferRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Accepted - Request has been accepted for processing (Async)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FundTransferRequestResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest400"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized401"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden403"
          },
          "404": {
            "$ref": "#/components/responses/NotFound404"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity422"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError500"
          },
          "default": {
            "$ref": "#/components/responses/UnexpectedError"
          }
        },
        "parameters": [
          {
            "name": "X-Request-ID",
            "in": "header",
            "description": "ID of the request, unique to the call, as determined by the initiating party.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "PSU-ID",
            "in": "header",
            "description": "Client ID used by the PSU in the sphere of the ASPSP.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Digest",
            "in": "header",
            "description": "Is contained if and only if the related message contains a body.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Signature",
            "in": "header",
            "description": "A signature of the request by the TPP.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "PSU-IP-Address",
            "in": "header",
            "description": "The IP address of the PSU (Client).",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "TPP-Signature-Certificate",
            "in": "header",
            "description": "The certificate used for the signature.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "description": "Unique key to prevent duplicate transactions. Expires after 24 hours.",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ]
      }
    },
    "/v1/updateBeneficiaries": {
      "post": {
        "summary": "update-beneficiaries",
        "operationId": "update-beneficiaries",
        "description": "\u05e4\u05e2\u05d5\u05dc\u05d5\u05ea - \u05e2\u05d3\u05db\u05d5\u05df \u05de\u05d5\u05d8\u05d1\u05d9\u05dd ",
        "tags": [
          "\u05e4\u05e2\u05d5\u05dc\u05d5\u05ea \u05e2\u05d3\u05db\u05d5\u05df"
        ],
        "requestBody": {
          "description": "5100 request body",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateBeneficiaries"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Accepted - Request has been accepted for processing (Async)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateBeneficiariesResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest400"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized401"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden403"
          },
          "404": {
            "$ref": "#/components/responses/NotFound404"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity422"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError500"
          },
          "default": {
            "$ref": "#/components/responses/UnexpectedError"
          }
        },
        "parameters": [
          {
            "name": "X-Request-ID",
            "in": "header",
            "description": "ID of the request, unique to the call, as determined by the initiating party.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "PSU-ID",
            "in": "header",
            "description": "Client ID used by the PSU in the sphere of the ASPSP.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Digest",
            "in": "header",
            "description": "Is contained if and only if the related message contains a body.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Signature",
            "in": "header",
            "description": "A signature of the request by the TPP.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "PSU-IP-Address",
            "in": "header",
            "description": "The IP address of the PSU (Client).",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "TPP-Signature-Certificate",
            "in": "header",
            "description": "The certificate used for the signature.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "description": "Unique key to prevent duplicate transactions. Expires after 24 hours.",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ]
      }
    },
    "/v1/updateInsuranceTrack": {
      "post": {
        "summary": "update-insurance-track",
        "operationId": "update-insurance-track",
        "description": " \u05e4\u05e2\u05d5\u05dc\u05d5\u05ea - \u05e2\u05d3\u05db\u05d5\u05df \u05de\u05e1\u05dc\u05d5\u05dc \u05d1\u05d9\u05d8\u05d5\u05d7 ",
        "tags": [
          "\u05e4\u05e2\u05d5\u05dc\u05d5\u05ea \u05e2\u05d3\u05db\u05d5\u05df"
        ],
        "requestBody": {
          "description": "5101 request body",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateInsuranceTrack"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Accepted - Request has been accepted for processing (Async)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateInsuranceTrackResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest400"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized401"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden403"
          },
          "404": {
            "$ref": "#/components/responses/NotFound404"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity422"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError500"
          },
          "default": {
            "$ref": "#/components/responses/UnexpectedError"
          }
        },
        "parameters": [
          {
            "name": "X-Request-ID",
            "in": "header",
            "description": "ID of the request, unique to the call, as determined by the initiating party.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "PSU-ID",
            "in": "header",
            "description": "Client ID used by the PSU in the sphere of the ASPSP.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Digest",
            "in": "header",
            "description": "Is contained if and only if the related message contains a body.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Signature",
            "in": "header",
            "description": "A signature of the request by the TPP.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "PSU-IP-Address",
            "in": "header",
            "description": "The IP address of the PSU (Client).",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "TPP-Signature-Certificate",
            "in": "header",
            "description": "The certificate used for the signature.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "description": "Unique key to prevent duplicate transactions. Expires after 24 hours.",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ]
      }
    },
    "/v1/updateInvestmentTrack": {
      "post": {
        "summary": "update-investment-track",
        "operationId": "update-investment-track",
        "description": " \u05e4\u05e2\u05d5\u05dc\u05d5\u05ea - \u05e2\u05d3\u05db\u05d5\u05df \u05de\u05e1\u05dc\u05d5\u05dc \u05d4\u05e9\u05e7\u05e2\u05d4 ",
        "tags": [
          "\u05e4\u05e2\u05d5\u05dc\u05d5\u05ea \u05e2\u05d3\u05db\u05d5\u05df"
        ],
        "requestBody": {
          "description": "5102 request body",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateInvestmentTrack"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Accepted - Request has been accepted for processing (Async)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateInvestmentTrackResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest400"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized401"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden403"
          },
          "404": {
            "$ref": "#/components/responses/NotFound404"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity422"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError500"
          },
          "default": {
            "$ref": "#/components/responses/UnexpectedError"
          }
        },
        "parameters": [
          {
            "name": "X-Request-ID",
            "in": "header",
            "description": "ID of the request, unique to the call, as determined by the initiating party.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "PSU-ID",
            "in": "header",
            "description": "Client ID used by the PSU in the sphere of the ASPSP.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Digest",
            "in": "header",
            "description": "Is contained if and only if the related message contains a body.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Signature",
            "in": "header",
            "description": "A signature of the request by the TPP.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "PSU-IP-Address",
            "in": "header",
            "description": "The IP address of the PSU (Client).",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "TPP-Signature-Certificate",
            "in": "header",
            "description": "The certificate used for the signature.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "description": "Unique key to prevent duplicate transactions. Expires after 24 hours.",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ]
      }
    },
    "/v1/updatePersonalDetails": {
      "post": {
        "summary": "update-personal-details",
        "operationId": "update-personal-details",
        "description": "\u05e4\u05e2\u05d5\u05dc\u05d5\u05ea - \u05e2\u05d3\u05db\u05d5\u05df \u05e4\u05e8\u05d8\u05d9\u05d9\u05dd \u05d0\u05d9\u05e9\u05d9\u05d9\u05dd ",
        "tags": [
          "\u05e4\u05e2\u05d5\u05dc\u05d5\u05ea \u05e2\u05d3\u05db\u05d5\u05df"
        ],
        "requestBody": {
          "description": "5103 request body",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdatePersonalDetails"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Accepted - Request has been accepted for processing (Async)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdatePersonalDetailsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest400"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized401"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden403"
          },
          "404": {
            "$ref": "#/components/responses/NotFound404"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity422"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError500"
          },
          "default": {
            "$ref": "#/components/responses/UnexpectedError"
          }
        },
        "parameters": [
          {
            "name": "X-Request-ID",
            "in": "header",
            "description": "ID of the request, unique to the call, as determined by the initiating party.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "PSU-ID",
            "in": "header",
            "description": "Client ID used by the PSU in the sphere of the ASPSP.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Digest",
            "in": "header",
            "description": "Is contained if and only if the related message contains a body.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Signature",
            "in": "header",
            "description": "A signature of the request by the TPP.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "PSU-IP-Address",
            "in": "header",
            "description": "The IP address of the PSU (Client).",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "TPP-Signature-Certificate",
            "in": "header",
            "description": "The certificate used for the signature.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "description": "Unique key to prevent duplicate transactions. Expires after 24 hours.",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ]
      }
    },
    "/v1/pensionProductsFundAllocation": {
      "post": {
        "summary": "pension-products-fund-allocation",
        "operationId": "pension-products-fund-allocation",
        "description": " \u05e4\u05e2\u05d5\u05dc\u05d5\u05ea - \u05d0\u05d5\u05e4\u05df \u05d7\u05dc\u05d5\u05e7\u05ea \u05db\u05e1\u05e4\u05d9\u05dd \u05d1\u05d9\u05df \u05d4\u05de\u05d5\u05e6\u05e8\u05d9\u05dd \u05d4\u05e4\u05e0\u05e1\u05d9\u05d5\u05e0\u05d9\u05dd   ",
        "tags": [
          "\u05d8\u05d5\u05e4\u05e1 \u05e7\u05d5\u05d1\u05d9\u05d5\u05ea \u05d5\u05e4\u05d9\u05e6\u05d5\u05dc \u05e4\u05d5\u05dc\u05d9\u05e1\u05d5\u05ea"
        ],
        "requestBody": {
          "description": "5201 request body",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PensionProductsFundAllocation"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Accepted - Request has been accepted for processing (Async)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PensionProductsFundAllocationResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest400"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized401"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden403"
          },
          "404": {
            "$ref": "#/components/responses/NotFound404"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity422"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError500"
          },
          "default": {
            "$ref": "#/components/responses/UnexpectedError"
          }
        },
        "parameters": [
          {
            "name": "X-Request-ID",
            "in": "header",
            "description": "ID of the request, unique to the call, as determined by the initiating party.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "PSU-ID",
            "in": "header",
            "description": "Client ID used by the PSU in the sphere of the ASPSP.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Digest",
            "in": "header",
            "description": "Is contained if and only if the related message contains a body.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Signature",
            "in": "header",
            "description": "A signature of the request by the TPP.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "PSU-IP-Address",
            "in": "header",
            "description": "The IP address of the PSU (Client).",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "TPP-Signature-Certificate",
            "in": "header",
            "description": "The certificate used for the signature.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "description": "Unique key to prevent duplicate transactions. Expires after 24 hours.",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ]
      }
    },
    "/v1/policySplitAllocation": {
      "post": {
        "summary": "policy-split-allocation",
        "operationId": "policy-split-allocation",
        "description": " \u05e4\u05e2\u05d5\u05dc\u05d5\u05ea - \u05e4\u05d9\u05e6\u05d5\u05dc \u05db\u05e1\u05e4\u05d9\u05dd \u05d1\u05d9\u05df \u05e4\u05d5\u05dc\u05d9\u05e1\u05d5\u05ea   ",
        "tags": [
          "\u05d8\u05d5\u05e4\u05e1 \u05e7\u05d5\u05d1\u05d9\u05d5\u05ea \u05d5\u05e4\u05d9\u05e6\u05d5\u05dc \u05e4\u05d5\u05dc\u05d9\u05e1\u05d5\u05ea"
        ],
        "requestBody": {
          "description": "5202 request body",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PolicySplitAllocation"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Accepted - Request has been accepted for processing (Async)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PolicySplitAllocationResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest400"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized401"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden403"
          },
          "404": {
            "$ref": "#/components/responses/NotFound404"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity422"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError500"
          },
          "default": {
            "$ref": "#/components/responses/UnexpectedError"
          }
        },
        "parameters": [
          {
            "name": "X-Request-ID",
            "in": "header",
            "description": "ID of the request, unique to the call, as determined by the initiating party.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "PSU-ID",
            "in": "header",
            "description": "Client ID used by the PSU in the sphere of the ASPSP.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Digest",
            "in": "header",
            "description": "Is contained if and only if the related message contains a body.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Signature",
            "in": "header",
            "description": "A signature of the request by the TPP.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "PSU-IP-Address",
            "in": "header",
            "description": "The IP address of the PSU (Client).",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "TPP-Signature-Certificate",
            "in": "header",
            "description": "The certificate used for the signature.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "description": "Unique key to prevent duplicate transactions. Expires after 24 hours.",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ]
      }
    },
    "/v1/providentFundPaymentClassification": {
      "post": {
        "summary": "provident-fund-payment-classification",
        "operationId": "provident-fund-payment-classification",
        "description": " \u05e4\u05e2\u05d5\u05dc\u05d5\u05ea - \u05e1\u05d9\u05d5\u05d5\u05d2 \u05ea\u05e9\u05dc\u05d5\u05de\u05d9\u05dd \u05d1\u05d9\u05df \u05e7\u05d5\u05e4\u05d5\u05ea \u05d2\u05de\u05dc  ",
        "tags": [
          "\u05e1\u05d9\u05d5\u05d5\u05d2 \u05ea\u05e9\u05dc\u05d5\u05de\u05d9\u05dd"
        ],
        "requestBody": {
          "description": "5300 request body",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProvidentFundPaymentClassification"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Accepted - Request has been accepted for processing (Async)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProvidentFundPaymentClassificationResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest400"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized401"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden403"
          },
          "404": {
            "$ref": "#/components/responses/NotFound404"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity422"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError500"
          },
          "default": {
            "$ref": "#/components/responses/UnexpectedError"
          }
        },
        "parameters": [
          {
            "name": "X-Request-ID",
            "in": "header",
            "description": "ID of the request, unique to the call, as determined by the initiating party.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "PSU-ID",
            "in": "header",
            "description": "Client ID used by the PSU in the sphere of the ASPSP.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Digest",
            "in": "header",
            "description": "Is contained if and only if the related message contains a body.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Signature",
            "in": "header",
            "description": "A signature of the request by the TPP.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "PSU-IP-Address",
            "in": "header",
            "description": "The IP address of the PSU (Client).",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "TPP-Signature-Certificate",
            "in": "header",
            "description": "The certificate used for the signature.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "description": "Unique key to prevent duplicate transactions. Expires after 24 hours.",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ]
      }
    },
    "/v1/paymentBalanceClassificationClientRequest": {
      "post": {
        "summary": "payment-balance-classification-client-request",
        "operationId": "payment-balance-classification-client-request",
        "description": " \u05e4\u05e2\u05d5\u05dc\u05d5\u05ea - \u05d1\u05e7\u05e9\u05ea \u05dc\u05e7\u05d5\u05d7 \u05e1\u05d9\u05d5\u05d5\u05d2 \u05d9\u05ea\u05e8\u05ea \u05ea\u05e9\u05dc\u05d5\u05de\u05d9\u05dd   ",
        "tags": [
          "\u05e1\u05d9\u05d5\u05d5\u05d2 \u05d9\u05ea\u05e8\u05d5\u05ea"
        ],
        "requestBody": {
          "description": "5301 request body",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PaymentBalanceClassificationClientRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Accepted - Request has been accepted for processing (Async)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentBalanceClassificationClientRequestResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest400"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized401"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden403"
          },
          "404": {
            "$ref": "#/components/responses/NotFound404"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity422"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError500"
          },
          "default": {
            "$ref": "#/components/responses/UnexpectedError"
          }
        },
        "parameters": [
          {
            "name": "X-Request-ID",
            "in": "header",
            "description": "ID of the request, unique to the call, as determined by the initiating party.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "PSU-ID",
            "in": "header",
            "description": "Client ID used by the PSU in the sphere of the ASPSP.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Digest",
            "in": "header",
            "description": "Is contained if and only if the related message contains a body.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Signature",
            "in": "header",
            "description": "A signature of the request by the TPP.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "PSU-IP-Address",
            "in": "header",
            "description": "The IP address of the PSU (Client).",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "TPP-Signature-Certificate",
            "in": "header",
            "description": "The certificate used for the signature.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "description": "Unique key to prevent duplicate transactions. Expires after 24 hours.",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ]
      }
    },
    "/v1/institutionalPaymentBalanceClassification": {
      "post": {
        "summary": "institutional-payment-balance-classification",
        "operationId": "institutional-payment-balance-classification",
        "description": " \u05e4\u05e2\u05d5\u05dc\u05d5\u05ea - \u05e1\u05d9\u05d5\u05d5\u05d2 \u05d9\u05ea\u05e8\u05d5\u05ea \u05ea\u05e9\u05dc\u05d5\u05de\u05d9\u05dd \u05d1\u05d9\u05df \u05d2\u05d5\u05e4\u05d9\u05dd \u05de\u05d5\u05e1\u05d3\u05d9\u05d9\u05dd   ",
        "tags": [
          "\u05e1\u05d9\u05d5\u05d5\u05d2 \u05d9\u05ea\u05e8\u05d5\u05ea"
        ],
        "requestBody": {
          "description": "5302 request body",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InstitutionalPaymentBalanceClassification"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Accepted - Request has been accepted for processing (Async)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InstitutionalPaymentBalanceClassificationResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest400"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized401"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden403"
          },
          "404": {
            "$ref": "#/components/responses/NotFound404"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity422"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError500"
          },
          "default": {
            "$ref": "#/components/responses/UnexpectedError"
          }
        },
        "parameters": [
          {
            "name": "X-Request-ID",
            "in": "header",
            "description": "ID of the request, unique to the call, as determined by the initiating party.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "PSU-ID",
            "in": "header",
            "description": "Client ID used by the PSU in the sphere of the ASPSP.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Digest",
            "in": "header",
            "description": "Is contained if and only if the related message contains a body.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Signature",
            "in": "header",
            "description": "A signature of the request by the TPP.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "PSU-IP-Address",
            "in": "header",
            "description": "The IP address of the PSU (Client).",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "TPP-Signature-Certificate",
            "in": "header",
            "description": "The certificate used for the signature.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "description": "Unique key to prevent duplicate transactions. Expires after 24 hours.",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ]
      }
    },
    "/v1/additionalTaxExemptionRequest": {
      "post": {
        "summary": "additional-tax-exemption-request",
        "operationId": "additional-tax-exemption-request",
        "description": " \u05e4\u05e2\u05d5\u05dc\u05d5\u05ea - \u05d1\u05e7\u05e9\u05d4 \u05dc\u05e7\u05d1\u05dc\u05ea \u05d4\u05e4\u05d8\u05d5\u05e8 \u05d4\u05e0\u05d5\u05e1\u05e3 \u05d1\u05d7\u05d9\u05e9\u05d5\u05d1 \u05e0\u05d9\u05db\u05d5\u05d9 \u05d4\u05de\u05e1 \u05de\u05d4\u05e7\u05e6\u05d1\u05d4 \u05d4\u05de\u05d6\u05db\u05d4   ",
        "tags": [
          "\u05e4\u05d8\u05d5\u05e8 \u05e0\u05d5\u05e1\u05e3"
        ],
        "requestBody": {
          "description": "5303 request body",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdditionalTaxExemptionRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Accepted - Request has been accepted for processing (Async)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdditionalTaxExemptionRequestResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest400"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized401"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden403"
          },
          "404": {
            "$ref": "#/components/responses/NotFound404"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity422"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError500"
          },
          "default": {
            "$ref": "#/components/responses/UnexpectedError"
          }
        },
        "parameters": [
          {
            "name": "X-Request-ID",
            "in": "header",
            "description": "ID of the request, unique to the call, as determined by the initiating party.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "PSU-ID",
            "in": "header",
            "description": "Client ID used by the PSU in the sphere of the ASPSP.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Digest",
            "in": "header",
            "description": "Is contained if and only if the related message contains a body.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Signature",
            "in": "header",
            "description": "A signature of the request by the TPP.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "PSU-IP-Address",
            "in": "header",
            "description": "The IP address of the PSU (Client).",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "TPP-Signature-Certificate",
            "in": "header",
            "description": "The certificate used for the signature.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "description": "Unique key to prevent duplicate transactions. Expires after 24 hours.",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ]
      }
    },
    "/v1/employerServiceAuthorization": {
      "post": {
        "summary": "employer-service-authorization",
        "operationId": "employer-service-authorization",
        "description": " \u05e4\u05e2\u05d5\u05dc\u05d5\u05ea - \u05d4\u05e8\u05e9\u05d0\u05d4 \u05dc\u05d2\u05d5\u05e8\u05dd \u05de\u05ea\u05e4\u05e2\u05dc \u05dc\u05d1\u05d9\u05e6\u05d5\u05e2 \u05e9\u05d9\u05e8\u05d5\u05ea\u05d9\u05dd \u05e2\u05d1\u05d5\u05e8 \u05de\u05e2\u05e1\u05d9\u05e7 ",
        "tags": [
          "\u05d4\u05e8\u05e9\u05d0\u05d4 \u05dc\u05d2\u05d5\u05e8\u05dd \u05de\u05ea\u05e4\u05e2\u05dc"
        ],
        "requestBody": {
          "description": "5400 request body",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmployerServiceAuthorization"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Accepted - Request has been accepted for processing (Async)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmployerServiceAuthorizationResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest400"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized401"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden403"
          },
          "404": {
            "$ref": "#/components/responses/NotFound404"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity422"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError500"
          },
          "default": {
            "$ref": "#/components/responses/UnexpectedError"
          }
        },
        "parameters": [
          {
            "name": "X-Request-ID",
            "in": "header",
            "description": "ID of the request, unique to the call, as determined by the initiating party.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "PSU-ID",
            "in": "header",
            "description": "Client ID used by the PSU in the sphere of the ASPSP.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Digest",
            "in": "header",
            "description": "Is contained if and only if the related message contains a body.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Signature",
            "in": "header",
            "description": "A signature of the request by the TPP.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "PSU-IP-Address",
            "in": "header",
            "description": "The IP address of the PSU (Client).",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "TPP-Signature-Certificate",
            "in": "header",
            "description": "The certificate used for the signature.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "description": "Unique key to prevent duplicate transactions. Expires after 24 hours.",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ]
      }
    },
    "/v1/employerNewEmployeeDepositCommitment": {
      "post": {
        "summary": "employer-new-employee-deposit-commitment",
        "operationId": "employer-new-employee-deposit-commitment",
        "description": " \u05e4\u05e2\u05d5\u05dc\u05d5\u05ea - \u05d4\u05ea\u05d7\u05d9\u05d9\u05d1\u05d5\u05ea \u05de\u05e2\u05e1\u05d9\u05e7 \u05dc\u05d1\u05d9\u05e6\u05d5\u05e2 \u05d4\u05e4\u05e7\u05d3\u05d5\u05ea \u05dc\u05e2\u05d5\u05d1\u05d3 \u05d7\u05d3\u05e9 ",
        "tags": [
          "\u05d4\u05ea\u05d7\u05d9\u05d9\u05d1\u05d5\u05ea \u05de\u05e2\u05e1\u05d9\u05e7 \u05dc\u05d4\u05e2\u05d1\u05e8\u05ea \u05ea\u05e9\u05dc\u05de\u05d9\u05dd \u05dc\u05e7\u05e8\u05df \u05d4\u05e4\u05e0\u05e1\u05d9\u05d4"
        ],
        "requestBody": {
          "description": "5500 request body",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmployerNewEmployeeDepositCommitment"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Accepted - Request has been accepted for processing (Async)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmployerNewEmployeeDepositCommitmentResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest400"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized401"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden403"
          },
          "404": {
            "$ref": "#/components/responses/NotFound404"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity422"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError500"
          },
          "default": {
            "$ref": "#/components/responses/UnexpectedError"
          }
        },
        "parameters": [
          {
            "name": "X-Request-ID",
            "in": "header",
            "description": "ID of the request, unique to the call, as determined by the initiating party.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "PSU-ID",
            "in": "header",
            "description": "Client ID used by the PSU in the sphere of the ASPSP.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Digest",
            "in": "header",
            "description": "Is contained if and only if the related message contains a body.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Signature",
            "in": "header",
            "description": "A signature of the request by the TPP.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "PSU-IP-Address",
            "in": "header",
            "description": "The IP address of the PSU (Client).",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "TPP-Signature-Certificate",
            "in": "header",
            "description": "The certificate used for the signature.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "description": "Unique key to prevent duplicate transactions. Expires after 24 hours.",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "AccountOrPolicyDetails23": {
        "type": "array",
        "items": {
          "type": "object",
          "properties": {
            "accountOrPolicyNumber": {
              "type": "string",
              "maxLength": 15
            },
            "policyType": {
              "type": "integer",
              "enum": [
                1,
                2,
                3,
                4,
                5,
                6
              ]
            },
            "policyName": {
              "type": "string",
              "maxLength": 50
            },
            "accountStatus": {
              "type": "integer",
              "enum": [
                1,
                2,
                3,
                4
              ]
            },
            "clientTransferStatus": {
              "type": "integer",
              "enum": [
                1,
                2
              ]
            },
            "accountActivity": {
              "type": "integer",
              "enum": [
                1,
                2
              ]
            }
          },
          "required": [
            "accountOrPolicyNumber",
            "policyType",
            "policyName",
            "accountStatus",
            "accountActivity"
          ]
        }
      },
      "AccountPayeeStatment35": {
        "type": "array",
        "items": {
          "type": "object",
          "properties": {
            "isIdentifiedMember": {
              "type": "integer",
              "enum": [
                1,
                2
              ],
              "description": "\u05e0\u05d4\u05e0\u05d9\u05dd \u05d1\u05d7\u05e9\u05d1\u05d5\u05df \u05dc\u05d0 \u05de\u05d6\u05d5\u05d4\u05d9\u05dd"
            },
            "unidentifiedMemberReason": {
              "type": "string",
              "maxLength": 200
            },
            "idType": {
              "type": "integer",
              "enum": [
                1,
                2,
                3,
                4,
                5,
                6,
                7,
                8,
                9,
                10,
                11,
                12,
                13,
                14,
                15
              ]
            },
            "firstName": {
              "type": "string",
              "maxLength": 50,
              "pattern": "^[a-zA-Z0-9!@#$%^&*()_+=-]+$"
            },
            "lastName": {
              "type": "string",
              "maxLength": 50,
              "pattern": "^[a-zA-Z0-9!@#$%^&*()_+=-]+$"
            },
            "documentCountryOfIssuance": {
              "type": "string",
              "maxLength": 50,
              "pattern": "^[a-zA-Z0-9!@#$%^&*()_+=-]+$"
            },
            "dateOfBirthOrIncorporation": {
              "type": "string",
              "format": "date",
              "description": "\u05ea\u05d0\u05e8\u05d9\u05da \u05dc\u05d9\u05d3\u05d4/\u05ea\u05d0\u05e8\u05d9\u05da \u05d4\u05ea\u05d0\u05d2\u05d3\u05d5\u05ea (YYYY-MM-DD)"
            },
            "idNumber": {
              "type": "string",
              "maxLength": 16,
              "pattern": "^[a-zA-Z0-9!@#$%^&*()_+=-]+$"
            },
            "corporationControllingOwner": {
              "type": "string",
              "maxLength": 200,
              "pattern": "^[a-zA-Z0-9!@#$%^&*()_+=-]+$"
            },
            "corporationControllingOwnerFirstName": {
              "type": "string",
              "maxLength": 50,
              "pattern": "^[a-zA-Z0-9!@#$%^&*()_+=-]+$"
            },
            "corporationControllingOwnerLastName": {
              "type": "string",
              "maxLength": 50,
              "pattern": "^[a-zA-Z0-9!@#$%^&*()_+=-]+$"
            }
          },
          "required": [
            "isIdentifiedMember",
            "idType",
            "firstName",
            "lastName",
            "documentCountryOfIssuance",
            "dateOfBirthOrIncorporation",
            "idNumber"
          ],
          "oneOf": [
            {
              "properties": {
                "isIdentifiedMember": {
                  "enum": [
                    1
                  ]
                }
              },
              "required": [
                "unidentifiedMemberReason"
              ]
            },
            {
              "properties": {
                "isIdentifiedMember": {
                  "enum": [
                    2
                  ]
                }
              }
            }
          ],
          "allOf": [
            {
              "oneOf": [
                {
                  "properties": {
                    "idType": {
                      "enum": [
                        13
                      ]
                    }
                  },
                  "required": [
                    "corporationControllingOwner",
                    "corporationControllingOwnerFirstName",
                    "corporationControllingOwnerLastName"
                  ]
                },
                {
                  "properties": {
                    "idType": {
                      "not": {
                        "enum": [
                          13
                        ]
                      }
                    }
                  }
                }
              ]
            }
          ]
        }
      },
      "AdditionalTaxExemptionRequestResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "success",
              "failure"
            ]
          },
          "message": {
            "type": "string"
          },
          "identityFileName": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "required": [
          "status",
          "message",
          "identityFileName"
        ],
        "description": "Response schema for additional-tax-exemption-request"
      },
      "AdditionalTaxExemptionRequest": {
        "type": "object",
        "properties": {
          "operationCode": {
            "title": "operationCode",
            "enum": [
              5303
            ],
            "type": "integer"
          },
          "interfaceHeader": {
            "type": "object",
            "properties": {
              "sendEntity": {
                "$ref": "#/components/schemas/BasicClientDetails"
              },
              "receptionEntity": {
                "$ref": "#/components/schemas/BasicEmployeeDetails"
              }
            },
            "required": [
              "basicClientDetails",
              "basicEmployeeDetails"
            ]
          },
          "entityFactor": {
            "type": "object",
            "properties": {
              "licenseeDetails": {
                "$ref": "#/components/schemas/IntermediateEntity"
              },
              "basicClientDetails": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "basicClientDetails": {
                      "$ref": "#/components/schemas/BasicClientDetails"
                    }
                  }
                }
              }
            }
          },
          "operations": {
            "type": "object",
            "properties": {
              "basicEmployeeDeatils": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/BasicEmployeeDetails"
                }
              },
              "additionalPensionExepmtionsDeclaration": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/AdditionalPensionExepmtionsDeclaration39"
                }
              },
              "identityFileName": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "closingRecord": {
                "type": "object",
                "allOf": [
                  {
                    "$ref": "#/components/schemas/ClosingRecord"
                  }
                ]
              }
            }
          }
        }
      },
      "AdditionalClientDetails8": {
        "type": "object",
        "description": "\u05d1\u05dc\u05d5\u05e7 \u05dc\u05de\u05d9\u05dc\u05d5\u05d9 \u05d7\u05d5\u05d1\u05d4 \u05d1\u05d1\u05e7\u05e9\u05ea \u05e4\u05e2\u05d5\u05dc\u05d4 5201,5202 - \u05d8\u05d5\u05e4\u05e1 \u05e7\u05d5\u05d1\u05d9\u05d5\u05ea \u05d5\u05e4\u05d9\u05e6\u05d5\u05dc \u05e4\u05d5\u05dc\u05d9\u05e1\u05d5\u05ea",
        "properties": {
          "previousFirstName": {
            "type": "string",
            "maxLength": 50,
            "pattern": "^[a-zA-Z!@#$%^&*()_+=\\-']+$"
          },
          "previousLastName": {
            "type": "string",
            "maxLength": 50,
            "pattern": "^[a-zA-Z!@#$%^&*()_+=\\-']+$"
          },
          "countryName": {
            "type": "string",
            "maxLength": 40,
            "pattern": "^[a-zA-Z!@#$%^&*()_+=\\-']+$"
          },
          "birthDate": {
            "type": "string",
            "format": "date"
          },
          "gender": {
            "type": "integer",
            "enum": [
              1,
              2
            ]
          },
          "maritalStatus": {
            "type": "integer",
            "enum": [
              1,
              2,
              3,
              4,
              5
            ]
          },
          "city": {
            "type": "string",
            "maxLength": 30,
            "pattern": "^[a-zA-Z0-9!@#$%^&*()_+=-]+$"
          },
          "street": {
            "type": "string",
            "maxLength": 50,
            "pattern": "^[a-zA-Z!@#$%^&*()_+=\\-']+$"
          },
          "houseNumber": {
            "type": "string",
            "maxLength": 3,
            "pattern": "^[a-zA-Z0-9!@#$%^&*()_+=-]+$"
          },
          "apartmentNumber": {
            "type": "string",
            "pattern": "^[a-zA-Z0-9!@#$%^&*()_+=-]+$"
          },
          "zipCode": {
            "type": "string",
            "pattern": "^[a-zA-Z0-9!@#$%^&*()_+=-]+$"
          },
          "POB": {
            "type": "string",
            "maxLength": 5,
            "pattern": "^[a-zA-Z0-9!@#$%^&*()_+=-]+$"
          },
          "landline": {
            "type": "string",
            "pattern": "^[a-zA-Z0-9!@#$%^&*()_+=-]+$"
          },
          "mobileNumber": {
            "type": "string",
            "maxLength": 10,
            "pattern": "^[a-zA-Z0-9!@#$%^&*()_+=-]+$"
          },
          "email": {
            "type": "string",
            "maxLength": 50,
            "format": "email"
          },
          "guardianName": {
            "type": "string",
            "maxLength": 50,
            "pattern": "^[a-zA-Z\\-']+$"
          }
        },
        "required": [
          "countryName",
          "gender",
          "maritalStatus",
          "city",
          "street",
          "houseNumber",
          "apartmentNumber",
          "mobileNumber",
          "zipCode",
          "POB",
          "landline",
          "email"
        ]
      },
      "AdditionalEmployerDetails12": {
        "type": "array",
        "items": {
          "type": "object",
          "properties": {
            "city": {
              "type": "string",
              "maxLength": 30,
              "pattern": "^[a-zA-Z0-9!@#$%^&*()_+=-]+$"
            },
            "street": {
              "type": "string",
              "maxLength": 100,
              "pattern": "^[a-zA-Z0-9!@#$%^&*()_+=-]+$"
            },
            "houseNumber": {
              "type": "string",
              "maxLength": 3,
              "pattern": "^[a-zA-Z0-9!@#$%^&*()_+=-]+$"
            },
            "apartmentNumber": {
              "type": "string",
              "maxLength": 3,
              "pattern": "^[a-zA-Z0-9!@#$%^&*()_+=-]+$"
            },
            "zipCode": {
              "type": "string",
              "maxLength": 7,
              "pattern": "^[a-zA-Z0-9!@#$%^&*()_+=-]+$"
            },
            "pob": {
              "type": "string",
              "maxLength": 5,
              "pattern": "^[a-zA-Z0-9!@#$%^&*()_+=-]+$"
            },
            "email": {
              "type": "string",
              "maxLength": 50,
              "pattern": "^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,}$"
            },
            "mobileNumber": {
              "type": "string",
              "maxLength": 10,
              "pattern": "^[a-zA-Z0-9!@#$%^&*()_+=-]+$"
            },
            "landline": {
              "type": "string",
              "maxLength": 9,
              "minLength": 9,
              "pattern": "^[0-9]{9}$"
            },
            "authorizedSignerFirstName": {
              "type": "string",
              "maxLength": 50,
              "pattern": "^[a-zA-Z0-9!@#$%^&*()_+=-]+$"
            },
            "authorizedSignerLastName": {
              "type": "string",
              "maxLength": 50,
              "pattern": "^[a-zA-Z0-9!@#$%^&*()_+=-]+$"
            },
            "authorizedSignerIdType": {
              "type": "integer",
              "enum": [
                1,
                2,
                3,
                4,
                5,
                6,
                7,
                8,
                9,
                10,
                11,
                12,
                13,
                14,
                15
              ]
            },
            "authorizedSignerIdNumber": {
              "type": "string",
              "maxLength": 16,
              "pattern": "^[a-zA-Z0-9!@#$%^&*()_+=-]+$"
            }
          },
          "required": [
            "city",
            "street",
            "houseNumber",
            "apartmentNumber",
            "zipCode",
            "pob",
            "address",
            "email",
            "mobileNumber",
            "landline",
            "authorizedSignerFirstName",
            "authorizedSignerLastName",
            "authorizedSignerIdType",
            "authorizedSignerIdNumber"
          ]
        }
      },
      "AdditionalPensionExepmtionsDeclaration39": {
        "type": "object",
        "description": "\u05d1\u05dc\u05d5\u05e7 \u05dc\u05de\u05d9\u05dc\u05d5\u05d9 \u05d7\u05d5\u05d1\u05d4 \u05d1\u05d1\u05e7\u05e9\u05ea \u05e4\u05e2\u05d5\u05dc\u05d4 5303 - \u05e4\u05d8\u05d5\u05e8 \u05e0\u05d5\u05e1\u05e3",
        "properties": {
          "madePreviousRequest": {
            "type": "integer",
            "enum": [
              1,
              2
            ]
          },
          "lumpSumInteresetWithdrawal": {
            "type": "integer",
            "enum": [
              1,
              2
            ]
          },
          "clientDeclarationAboutTaxDeductionBenefit": {
            "type": "integer",
            "enum": [
              1,
              2
            ]
          },
          "rightToContactTaxAuthority": {
            "type": "integer",
            "enum": [
              1,
              2
            ]
          },
          "dateReachingRetirementMandatoryAge": {
            "type": "string",
            "format": "date"
          },
          "utilizationOfAdditionalExemptionAsDeductionBenefit": {
            "type": "integer",
            "enum": [
              1,
              2
            ]
          }
        },
        "required": [
          "madePreviousRequest",
          "lumpSumInteresetWithdrawal",
          "clientDeclarationAboutTaxDeductionBenefit",
          "rightToContactTaxAuthority",
          "dateReachingRetirementMandatoryAge",
          "utilizationOfAdditionalExemptionAsDeductionBenefit"
        ]
      },
      "AttachedDocuments19": {
        "type": "array",
        "items": {
          "type": "object",
          "properties": {
            "fileType": {
              "type": "integer",
              "enum": [
                1,
                2,
                3,
                4,
                5,
                6,
                7,
                8,
                9,
                10,
                11,
                12,
                13
              ]
            },
            "fileTypeDetails": {
              "type": "string",
              "maxLength": 100
            },
            "filename": {
              "type": "string",
              "maxLength": 100
            },
            "fileContent": {
              "type": "string",
              "maxLength": 65000
            }
          },
          "required": [
            "fileType",
            "filename",
            "fileContent"
          ]
        }
      },
      "BasicClientDetails": {
        "type": "object",
        "properties": {
          "entityType": {
            "type": "integer"
          },
          "idType": {
            "type": "integer"
          },
          "idNumber": {
            "type": "string"
          },
          "entityName": {
            "type": "string"
          },
          "firstName": {
            "type": "string"
          },
          "lastName": {
            "type": "string"
          },
          "clientGuid": {
            "type": "string"
          }
        },
        "required": [
          "entityType",
          "idType",
          "idNumber",
          "entityName",
          "firstName",
          "lastName",
          "clientGuid"
        ]
      },
      "BasicEmployeeDetails": {
        "type": "object",
        "properties": {
          "entityType": {
            "type": "integer"
          },
          "idType": {
            "type": "integer"
          },
          "idNumber": {
            "type": "string"
          },
          "firstName": {
            "type": "string"
          },
          "lastName": {
            "type": "string"
          }
        },
        "required": [
          "entityType",
          "idType",
          "idNumber",
          "firstName",
          "lastName"
        ]
      },
      "BasicEmployerDetails11": {
        "type": "array",
        "items": {
          "type": "object",
          "properties": {
            "entityType": {
              "type": "integer",
              "enum": [
                5
              ]
            },
            "idType": {
              "type": "integer",
              "enum": [
                1,
                2,
                3,
                4,
                5,
                6,
                7,
                8,
                9,
                10,
                11,
                12,
                13,
                14,
                15
              ]
            },
            "idNumber": {
              "type": "string",
              "maxLength": 16,
              "pattern": "^[a-zA-Z0-9!@#$%^&*()_+=-]+$"
            },
            "entityName": {
              "type": "string",
              "maxLength": 50,
              "pattern": "^[a-zA-Z0-9!@#$%^&*()_+=-]+$"
            },
            "internalIdNumber": {
              "type": "string",
              "maxLength": 16,
              "pattern": "^[a-zA-Z0-9!@#$%^&*()_+=-]+$"
            }
          },
          "required": [
            "entityType",
            "idType",
            "idNumber",
            "entityName"
          ]
        }
      },
      "Beneficiaries49": {
        "type": "array",
        "items": {
          "type": "object",
          "properties": {
            "entityType": {
              "type": "integer",
              "enum": [
                9
              ]
            },
            "idType": {
              "type": "integer",
              "enum": [
                1,
                2,
                3,
                4,
                5,
                6,
                7,
                8,
                9,
                10,
                11,
                12,
                13,
                14,
                15
              ]
            },
            "idNumber": {
              "type": "string",
              "maxLength": 16,
              "pattern": "^[a-zA-Z0-9!@#$%^&*()_+=-]+$"
            },
            "firstName": {
              "type": "string",
              "maxLength": 50,
              "pattern": "^[a-zA-Z0-9!@#$%^&*()_+=-]+$"
            },
            "lastName": {
              "type": "string",
              "maxLength": 50,
              "pattern": "^[a-zA-Z0-9!@#$%^&*()_+=-]+$"
            },
            "birthDate": {
              "type": "string",
              "format": "date"
            },
            "entityName": {
              "type": "string",
              "maxLength": 50,
              "pattern": "^[a-zA-Z0-9!@#$%^&*()_+=-]+$"
            },
            "relationType": {
              "type": "integer",
              "enum": [
                1,
                2,
                3,
                4,
                5,
                6,
                7,
                8,
                9,
                10,
                11
              ]
            },
            "city": {
              "type": "string",
              "maxLength": 50,
              "pattern": "^[a-zA-Z0-9!@#$%^&*()_+=-]+$"
            },
            "citySymbol": {
              "type": "string",
              "minimum": 0,
              "maxLength": 7
            },
            "street": {
              "type": "string",
              "maxLength": 100,
              "pattern": "^[a-zA-Z0-9!@#$%^&*()_+=-]+$"
            },
            "houseNumber": {
              "type": "string",
              "maxLength": 3,
              "pattern": "^[a-zA-Z0-9!@#$%^&*()_+=-]+$"
            },
            "apartmentNumber": {
              "type": "string",
              "minimum": 0,
              "maxLength": 3
            },
            "zipCode": {
              "type": "string",
              "minimum": 0,
              "maxLength": 7
            },
            "pob": {
              "type": "string",
              "minimum": 0,
              "maximum": 99999
            },
            "email": {
              "type": "string",
              "format": "email",
              "maxLength": 50
            },
            "landline": {
              "type": "string",
              "maxLength": 9,
              "pattern": "^[a-zA-Z0-9!@#$%^&*()_+=-]+$"
            },
            "mobileNumber": {
              "type": "string",
              "maxLength": 10,
              "pattern": "^[a-zA-Z0-9!@#$%^&*()_+=-]+$"
            },
            "beneficiaryPercentageShare": {
              "type": "number",
              "minimum": 0,
              "maximum": 100,
              "multipleOf": 0.01
            }
          },
          "required": [
            "entityType",
            "idType",
            "idNumber",
            "firstName",
            "lastName",
            "birthDate",
            "entityName",
            "relationType",
            "beneficiaryPercentageShare",
            "city",
            "citySymbol",
            "street",
            "houseNumber",
            "apartmentNumber",
            "zipCode",
            "pob",
            "email",
            "landline",
            "mobileNumber"
          ]
        }
      },
      "BeneficiariesDeathFundDistributionMethod28": {
        "type": "object",
        "properties": {
          "FundDistributionMethodInCaseOfDeath": {
            "type": "integer",
            "enum": [
              1,
              2,
              3,
              4,
              5
            ]
          },
          "FundDistributionDetailsInCaseOfDeath": {
            "type": "string",
            "maxLength": 200
          }
        },
        "required": [
          "FundDistributionMethodInCaseOfDeath"
        ],
        "oneOf": [
          {
            "properties": {
              "FundDistributionMethodInCaseOfDeath": {
                "enum": [
                  1,
                  2,
                  3,
                  4
                ]
              }
            }
          },
          {
            "properties": {
              "FundDistributionMethodInCaseOfDeath": {
                "enum": [
                  5
                ]
              }
            },
            "required": [
              "FundDistributionDetailsInCaseOfDeath"
            ]
          }
        ]
      },
      "BlanceForConversiont17": {
        "type": "object",
        "description": "\u05d1\u05dc\u05d5\u05e7 \u05dc\u05de\u05d9\u05dc\u05d5\u05d9 \u05d7\u05d5\u05d1\u05d4 \u05d1\u05d1\u05e7\u05e9\u05ea \u05e4\u05e2\u05d5\u05dc\u05d4 5301 , 5302 - \u05e1\u05d9\u05d5\u05d5\u05d2 \u05d9\u05ea\u05e8\u05d5\u05ea ",
        "properties": {
          "balancedAmountForConversionFromExemptPayments": {
            "type": "number",
            "minimum": 0,
            "maximum": 999999.99,
            "multipleOf": 0.01
          },
          "accountComponentType": {
            "type": "integer",
            "enum": [
              1,
              2,
              3,
              4,
              8,
              9
            ]
          }
        },
        "required": [
          "balancedAmountForConversionFromExemptPayments",
          "accountComponentType"
        ]
      },
      "ClientInstructionsOnInvestmentTrack43": {
        "type": "array",
        "items": {
          "type": "object",
          "properties": {
            "investmentTrack": {
              "type": "string",
              "maxLength": 50,
              "pattern": "^[a-zA-Z0-9!@#$%^&*()_+=-]+$"
            },
            "requestedTransferAmountType": {
              "type": "integer",
              "enum": [
                1,
                2,
                3
              ]
            },
            "transferAmount": {
              "type": "number",
              "minimum": 0.01,
              "maximum": 10000000,
              "multipleOf": 0.01
            },
            "trasferRate": {
              "type": "number",
              "minimum": 0,
              "maximum": 100,
              "multipleOf": 0.01
            },
            "investmentNameWhereMoneyIsTransferred": {
              "type": "string",
              "maxLength": 50
            },
            "investmentCodeWhereMoneyIsTransferred": {
              "type": "string",
              "maxLength": 6
            },
            "accountComponentType": {
              "type": "integer",
              "enum": [
                1,
                2,
                3,
                4,
                5,
                6,
                7,
                8,
                9,
                10,
                11,
                12,
                13,
                14,
                15,
                16,
                17
              ]
            }
          },
          "required": [
            "investmentTrack",
            "transferAmount",
            "trasferRate",
            "investmentNameWhereMoneyIsTransferred",
            "investmentCodeWhereMoneyIsTransferred"
          ]
        }
      },
      "ClientInstructionsToPowerOfAttorney10": {
        "type": "object",
        "properties": {
          "authorizationType": {
            "type": "integer",
            "enum": [
              1,
              2,
              3,
              4,
              5,
              6
            ]
          },
          "authorizationStartDate": {
            "type": "string",
            "format": "date"
          },
          "authorizationValidity": {
            "type": "integer",
            "enum": [
              1,
              2,
              3
            ],
            "description": "1 = \u05d4\u05e8\u05e9\u05d0\u05d4 \u05dc\u05de\u05e9\u05da \u05e9\u05e0\u05ea\u05d9\u05d9\u05dd, 2 = \u05d4\u05e8\u05e9\u05d0\u05d4 \u05dc\u05de\u05e9\u05da 10 \u05e9\u05e0\u05d9\u05dd, 3 = \u05d4\u05e8\u05e9\u05d0\u05d4 \u05e2\u05d3 \u05dc\u05ea\u05d0\u05e8\u05d9\u05da \u05e9\u05d4\u05d2\u05d3\u05d9\u05e8 \u05d4\u05dc\u05e7\u05d5\u05d7"
          },
          "expirationDate": {
            "type": "string",
            "format": "date"
          },
          "mortgageInsurancesAuthorization": {
            "type": "integer",
            "enum": [
              1,
              2
            ]
          }
        },
        "required": [
          "authorizationType",
          "authorizationStartDate"
        ],
        "oneOf": [
          {
            "properties": {
              "authorizationType": {
                "enum": [
                  3
                ]
              }
            },
            "required": [
              "expirationDate"
            ]
          },
          {
            "properties": {
              "authorizationType": {
                "enum": [
                  4,
                  5
                ]
              }
            },
            "required": [
              "mortgageInsurancesAuthorization"
            ]
          },
          {
            "properties": {
              "authorizationType": {
                "enum": [
                  3,
                  4,
                  5
                ]
              }
            },
            "required": [
              "authorizationValidity"
            ]
          }
        ]
      },
      "ClosingRecord": {
        "type": "object",
        "properties": {
          "numberOfClients": {
            "type": "string",
            "maxLength": 1000,
            "pattern": "^[0-9]+$"
          },
          "NumberOfEmployee": {
            "type": "string",
            "maxLength": 8
          },
          "numberOfRequests": {
            "type": "string",
            "maxLength": 1000,
            "pattern": "^[0-9]+$"
          },
          "NumberOfRequestsFilled": {
            "type": "string",
            "maxLength": 8
          },
          "SeveralIncorrectRequests": {
            "type": "string",
            "maxLength": 8
          },
          "SeveralRequestsPending": {
            "type": "string",
            "maxLength": 8
          }
        },
        "required": [
          "numberOfClients",
          "numberOfRequests",
          "NumberOfEmployee",
          "NumberOfRequestsFilled",
          "SeveralIncorrectRequests",
          "SeveralRequestsPending"
        ]
      },
      "CommunicationDetails30": {
        "type": "object",
        "properties": {
          "documentsAndMessagesCommunicationMethod": {
            "type": "integer",
            "enum": [
              1,
              2,
              3
            ]
          },
          "clientAllowsMarketingCommunications": {
            "type": "integer",
            "enum": [
              1,
              2
            ]
          }
        },
        "required": [
          "documentsAndMessagesCommunicationMethod",
          "clientAllowsMarketingCommunications"
        ]
      },
      "CoverargesInsuranceExclusions51": {
        "type": "object",
        "description": "\u05d1\u05dc\u05d5\u05e7 \u05dc\u05de\u05d9\u05dc\u05d5\u05d9 \u05d7\u05d5\u05d1\u05d4 \u05d1\u05d1\u05e7\u05e9\u05ea \u05e4\u05e2\u05d5\u05dc\u05d4 5000 - \u05d1\u05e7\u05e9\u05ea \u05e0\u05d9\u05d5\u05d3",
        "properties": {
          "exclusionType": {
            "type": "integer",
            "enum": [
              1,
              2,
              3
            ]
          },
          "exclusionReasonDetails": {
[...]
