{
  "openapi": "3.0.3",
  "info": {
    "title": "Esplora HTTP API",
    "version": "1.0.0",
    "description": "Blockstream's Esplora block explorer HTTP API. JSON over RESTful HTTP. Amounts are always represented in satoshis.\n\nPublic APIs:\n- Bitcoin: https://blockstream.info/api/\n- Bitcoin Testnet: https://blockstream.info/testnet/api/\n- Liquid: https://blockstream.info/liquid/api/",
    "x-jentic-source-url": "https://blockstream.info/openapi.json",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://blockstream.info/api",
      "description": "Bitcoin Mainnet"
    },
    {
      "url": "https://blockstream.info/testnet/api",
      "description": "Bitcoin Testnet"
    },
    {
      "url": "https://blockstream.info/signet/api",
      "description": "Bitcoin Signet"
    },
    {
      "url": "https://blockstream.info/liquid/api",
      "description": "Liquid Network"
    }
  ],
  "paths": {
    "/tx/{txid}": {
      "get": {
        "operationId": "getTransaction",
        "tags": [
          "Transactions"
        ],
        "summary": "Get transaction details",
        "description": "Returns information about the transaction. Available fields: txid, version, locktime, size, weight, fee, vin, vout and status.",
        "parameters": [
          {
            "name": "txid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Transaction ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Transaction details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Transaction"
                }
              }
            }
          }
        }
      }
    },
    "/tx/{txid}/status": {
      "get": {
        "operationId": "getTransactionStatus",
        "tags": [
          "Transactions"
        ],
        "summary": "Get transaction confirmation status",
        "parameters": [
          {
            "name": "txid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Transaction status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TxStatus"
                }
              }
            }
          }
        },
        "description": "Get transaction confirmation status"
      }
    },
    "/tx/{txid}/hex": {
      "get": {
        "operationId": "getTransactionHex",
        "tags": [
          "Transactions"
        ],
        "summary": "Get raw transaction as hex",
        "parameters": [
          {
            "name": "txid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Raw transaction hex string",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "description": "Get raw transaction as hex"
      }
    },
    "/tx/{txid}/outspend/{vout}": {
      "get": {
        "operationId": "getTransactionOutspend",
        "tags": [
          "Transactions"
        ],
        "summary": "Get spending status of a transaction output",
        "parameters": [
          {
            "name": "txid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "vout",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Output index"
          }
        ],
        "responses": {
          "200": {
            "description": "Output spending status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Outspend"
                }
              }
            }
          }
        },
        "description": "Get spending status of a transaction output"
      }
    },
    "/tx/{txid}/outspends": {
      "get": {
        "operationId": "getTransactionOutspends",
        "tags": [
          "Transactions"
        ],
        "summary": "Get spending status of all transaction outputs",
        "parameters": [
          {
            "name": "txid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "All output spending statuses",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Outspend"
                  }
                }
              }
            }
          }
        },
        "description": "Get spending status of all transaction outputs"
      }
    },
    "/tx": {
      "post": {
        "operationId": "broadcastTransaction",
        "tags": [
          "Transactions"
        ],
        "summary": "Broadcast a raw transaction",
        "description": "Broadcast a raw transaction to the network. The transaction should be provided as hex in the request body. Returns the txid on success.",
        "requestBody": {
          "required": true,
          "content": {
            "text/plain": {
              "schema": {
                "type": "string",
                "description": "Raw transaction hex"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Transaction ID of the broadcast transaction",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/txs/package": {
      "post": {
        "operationId": "broadcastPackage",
        "tags": [
          "Transactions"
        ],
        "summary": "Broadcast a package of raw transactions",
        "description": "Broadcast a package of related transactions (e.g., CPFP). The request body should contain a JSON array of transaction hex strings. Requires Bitcoin Core 28.0 or later.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "Array of raw transaction hex strings"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Package acceptance result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/address/{address}": {
      "get": {
        "operationId": "getAddress",
        "tags": [
          "Addresses"
        ],
        "summary": "Get information about an address",
        "description": "Available fields: address, chain_stats and mempool_stats. Each stats object has tx_count, funded_txo_count, funded_txo_sum, spent_txo_count and spent_txo_sum.",
        "parameters": [
          {
            "name": "address",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Bitcoin address"
          }
        ],
        "responses": {
          "200": {
            "description": "Address information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Address"
                }
              }
            }
          }
        }
      }
    },
    "/address/{address}/txs": {
      "get": {
        "operationId": "getAddressTxs",
        "tags": [
          "Addresses"
        ],
        "summary": "Get transaction history for an address",
        "description": "Returns up to 50 mempool transactions plus the first 25 confirmed transactions, sorted with newest first.",
        "parameters": [
          {
            "name": "address",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Transaction list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Transaction"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/address/{address}/txs/chain/{last_seen_txid}": {
      "get": {
        "operationId": "getAddressTxsChain",
        "tags": [
          "Addresses"
        ],
        "summary": "Get confirmed transaction history (paginated)",
        "description": "Returns 25 confirmed transactions per page, sorted with newest first. Paginate using last_seen_txid.",
        "parameters": [
          {
            "name": "address",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "last_seen_txid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Last txid seen in previous page"
          }
        ],
        "responses": {
          "200": {
            "description": "Confirmed transaction list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Transaction"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/address/{address}/txs/mempool": {
      "get": {
        "operationId": "getAddressMempoolTxs",
        "tags": [
          "Addresses"
        ],
        "summary": "Get unconfirmed transaction history for an address",
        "description": "Returns up to 50 mempool transactions.",
        "parameters": [
          {
            "name": "address",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Mempool transaction list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Transaction"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/address/{address}/utxo": {
      "get": {
        "operationId": "getAddressUtxo",
        "tags": [
          "Addresses"
        ],
        "summary": "Get UTXOs for an address",
        "description": "Returns the list of unspent transaction outputs associated with the address.",
        "parameters": [
          {
            "name": "address",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of UTXOs",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Utxo"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/address-prefix/{prefix}": {
      "get": {
        "operationId": "searchAddressByPrefix",
        "tags": [
          "Addresses"
        ],
        "summary": "Search for addresses by prefix",
        "description": "Returns a JSON array with up to 10 results.",
        "parameters": [
          {
            "name": "prefix",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Address prefix to search"
          }
        ],
        "responses": {
          "200": {
            "description": "Matching addresses",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/block/{hash}": {
      "get": {
        "operationId": "getBlock",
        "tags": [
          "Blocks"
        ],
        "summary": "Get block information",
        "description": "Returns information about a block: id, height, version, timestamp, mediantime, bits, nonce, merkle_root, tx_count, size, weight, previousblockhash.",
        "parameters": [
          {
            "name": "hash",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Block hash"
          }
        ],
        "responses": {
          "200": {
            "description": "Block information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Block"
                }
              }
            }
          }
        }
      }
    },
    "/block/{hash}/header": {
      "get": {
        "operationId": "getBlockHeader",
        "tags": [
          "Blocks"
        ],
        "summary": "Get the hex-encoded block header",
        "parameters": [
          {
            "name": "hash",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Block header hex string",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "description": "Get the hex-encoded block header"
      }
    },
    "/block/{hash}/txs/{start_index}": {
      "get": {
        "operationId": "getBlockTransactions",
        "tags": [
          "Blocks"
        ],
        "summary": "Get transactions in a block",
        "description": "Returns up to 25 transactions beginning at start_index. Note: start_index must be a multiple of 25.",
        "parameters": [
          {
            "name": "hash",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start_index",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Starting transaction index (multiple of 25)"
          }
        ],
        "responses": {
          "200": {
            "description": "List of transactions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Transaction"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/block/{hash}/txids": {
      "get": {
        "operationId": "getBlockTxids",
        "tags": [
          "Blocks"
        ],
        "summary": "Get all txids in a block",
        "parameters": [
          {
            "name": "hash",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of transaction IDs",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "description": "Get all txids in a block"
      }
    },
    "/block-height/{height}": {
      "get": {
        "operationId": "getBlockHashByHeight",
        "tags": [
          "Blocks"
        ],
        "summary": "Get block hash at a given height",
        "parameters": [
          {
            "name": "height",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Block height"
          }
        ],
        "responses": {
          "200": {
            "description": "Block hash",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "description": "Get block hash at a given height"
      }
    },
    "/blocks/{start_height}": {
      "get": {
        "operationId": "getBlocks",
        "tags": [
          "Blocks"
        ],
        "summary": "Get 10 newest blocks",
        "description": "Returns the 10 newest blocks starting at the tip or at start_height if specified.",
        "parameters": [
          {
            "name": "start_height",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Starting block height"
          }
        ],
        "responses": {
          "200": {
            "description": "List of blocks",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Block"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/blocks/tip/height": {
      "get": {
        "operationId": "getBlockTipHeight",
        "tags": [
          "Blocks"
        ],
        "summary": "Get the height of the last block",
        "responses": {
          "200": {
            "description": "Current block height",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "integer"
                }
              }
            }
          }
        },
        "description": "Get the height of the last block"
      }
    },
    "/blocks/tip/hash": {
      "get": {
        "operationId": "getBlockTipHash",
        "tags": [
          "Blocks"
        ],
        "summary": "Get the hash of the last block",
        "responses": {
          "200": {
            "description": "Current block hash",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "description": "Get the hash of the last block"
      }
    },
    "/mempool": {
      "get": {
        "operationId": "getMempoolStats",
        "tags": [
          "Mempool"
        ],
        "summary": "Get mempool backlog statistics",
        "description": "Returns: count (tx count), vsize (total virtual bytes), total_fee (total fees in satoshis), fee_histogram.",
        "responses": {
          "200": {
            "description": "Mempool statistics",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Mempool"
                }
              }
            }
          }
        }
      }
    },
    "/mempool/txids": {
      "get": {
        "operationId": "getMempoolTxids",
        "tags": [
          "Mempool"
        ],
        "summary": "Get all txids in the mempool",
        "description": "Returns the full list of txids in the mempool. The order is arbitrary.",
        "responses": {
          "200": {
            "description": "List of mempool transaction IDs",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/mempool/recent": {
      "get": {
        "operationId": "getMempoolRecentTxs",
        "tags": [
          "Mempool"
        ],
        "summary": "Get recently entered mempool transactions",
        "description": "Returns last 10 transactions to enter the mempool. Each object contains txid, fee, vsize and value.",
        "responses": {
          "200": {
            "description": "Recent mempool transactions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "txid": {
                        "type": "string"
                      },
                      "fee": {
                        "type": "integer"
                      },
                      "vsize": {
                        "type": "integer"
                      },
                      "value": {
                        "type": "integer"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/fee-estimates": {
      "get": {
        "operationId": "getFeeEstimates",
        "tags": [
          "Fee Estimates"
        ],
        "summary": "Get fee estimates",
        "description": "Returns an object where the key is the confirmation target (in number of blocks) and the value is the estimated fee-rate (in sat/vB).",
        "responses": {
          "200": {
            "description": "Fee estimates by confirmation target",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "number"
                  },
                  "description": "Map of confirmation target to fee rate (sat/vB)"
                }
              }
            }
          }
        }
      }
    },
    "/scripthash/{hash}": {
      "get": {
        "operationId": "getScripthash",
        "tags": [
          "Addresses"
        ],
        "summary": "Get information about a scripthash",
        "parameters": [
          {
            "name": "hash",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Script hash (SHA256 of the scriptPubKey)"
          }
        ],
        "responses": {
          "200": {
            "description": "Scripthash information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Address"
                }
              }
            }
          }
        },
        "description": "Get information about a scripthash"
      }
    }
  },
  "components": {
    "schemas": {
      "TxStatus": {
        "type": "object",
        "properties": {
          "confirmed": {
            "type": "boolean"
          },
          "block_height": {
            "type": "integer"
          },
          "block_hash": {
            "type": "string"
          },
          "block_time": {
            "type": "integer"
          }
        }
      },
      "Vin": {
        "type": "object",
        "properties": {
          "txid": {
            "type": "string"
          },
          "vout": {
            "type": "integer"
          },
          "prevout": {
            "type": "object"
          },
          "scriptsig": {
            "type": "string"
          },
          "scriptsig_asm": {
            "type": "string"
          },
          "witness": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "is_coinbase": {
            "type": "boolean"
          },
          "sequence": {
            "type": "integer"
          }
        }
      },
      "Vout": {
        "type": "object",
        "properties": {
          "scriptpubkey": {
            "type": "string"
          },
          "scriptpubkey_asm": {
            "type": "string"
          },
          "scriptpubkey_type": {
            "type": "string"
          },
          "scriptpubkey_address": {
            "type": "string"
          },
          "value": {
            "type": "integer",
            "description": "Value in satoshis"
          }
        }
      },
      "Transaction": {
        "type": "object",
        "properties": {
          "txid": {
            "type": "string"
          },
          "version": {
            "type": "integer"
          },
          "locktime": {
            "type": "integer"
          },
          "vin": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Vin"
            }
          },
          "vout": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Vout"
            }
          },
          "size": {
            "type": "integer"
          },
          "weight": {
            "type": "integer"
          },
          "fee": {
            "type": "integer",
            "description": "Fee in satoshis"
          },
          "status": {
            "$ref": "#/components/schemas/TxStatus"
          }
        }
      },
      "Outspend": {
        "type": "object",
        "properties": {
          "spent": {
            "type": "boolean"
          },
          "txid": {
            "type": "string"
          },
          "vin": {
            "type": "integer"
          },
          "status": {
            "$ref": "#/components/schemas/TxStatus"
          }
        }
      },
      "AddressStats": {
        "type": "object",
        "properties": {
          "tx_count": {
            "type": "integer"
          },
          "funded_txo_count": {
            "type": "integer"
          },
          "funded_txo_sum": {
            "type": "integer"
          },
          "spent_txo_count": {
            "type": "integer"
          },
          "spent_txo_sum": {
            "type": "integer"
          }
        }
      },
      "Address": {
        "type": "object",
        "properties": {
          "address": {
            "type": "string"
          },
          "chain_stats": {
            "$ref": "#/components/schemas/AddressStats"
          },
          "mempool_stats": {
            "$ref": "#/components/schemas/AddressStats"
          }
        }
      },
      "Utxo": {
        "type": "object",
        "properties": {
          "txid": {
            "type": "string"
          },
          "vout": {
            "type": "integer"
          },
          "value": {
            "type": "integer",
            "description": "Value in satoshis"
          },
          "status": {
            "$ref": "#/components/schemas/TxStatus"
          }
        }
      },
      "Block": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "height": {
            "type": "integer"
          },
          "version": {
            "type": "integer"
          },
          "timestamp": {
            "type": "integer"
          },
          "mediantime": {
            "type": "integer"
          },
          "bits": {
            "type": "integer"
          },
          "nonce": {
            "type": "integer"
          },
          "merkle_root": {
            "type": "string"
          },
          "tx_count": {
            "type": "integer"
          },
          "size": {
            "type": "integer"
          },
          "weight": {
            "type": "integer"
          },
          "previousblockhash": {
            "type": "string"
          }
        }
      },
      "Mempool": {
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "description": "Number of transactions in mempool"
          },
          "vsize": {
            "type": "integer",
            "description": "Total virtual bytes of mempool transactions"
          },
          "total_fee": {
            "type": "integer",
            "description": "Total fee in satoshis"
          },
          "fee_histogram": {
            "type": "array",
            "description": "Fee-rate distribution histogram: array of [feerate, vsize] tuples",
            "items": {
              "type": "array",
              "items": {
                "type": "number"
              }
            }
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Addresses"
    },
    {
      "name": "Blocks"
    },
    {
      "name": "Fee Estimates"
    },
    {
      "name": "Mempool"
    },
    {
      "name": "Transactions"
    }
  ]
}
