{
  "openapi": "3.0.3",
  "info": {
    "title": "UkrPay Credit Limit API",
    "version": "1.0.0",
    "description": "Credit limit management API for UkrPay payment platform, allowing retrieval and updates of customer credit limits.",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/XXXZXCVBN29/ukrpay-credit-limit-api/1.0.0/swagger.json",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://api.ukrpay.com/credit/v1"
    }
  ],
  "security": [
    {
      "apiKey": []
    }
  ],
  "paths": {
    "/credit-limit/{customerId}": {
      "get": {
        "operationId": "getCreditLimit",
        "tags": [
          "Credit Limit"
        ],
        "summary": "Get customer credit limit",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Credit limit details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreditLimitResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Get customer credit limit"
      },
      "put": {
        "operationId": "updateCreditLimit",
        "tags": [
          "Credit Limit"
        ],
        "summary": "Update customer credit limit",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreditLimitUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated credit limit",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreditLimitResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Update customer credit limit"
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization"
      }
    },
    "schemas": {
      "CreditLimitResponse": {
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string"
          },
          "creditLimit": {
            "type": "number"
          },
          "availableCredit": {
            "type": "number"
          },
          "currency": {
            "type": "string"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "CreditLimitUpdateRequest": {
        "type": "object",
        "required": [
          "creditLimit"
        ],
        "properties": {
          "creditLimit": {
            "type": "number"
          },
          "reason": {
            "type": "string"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Credit Limit"
    }
  ]
}
