{
  "openapi": "3.0.3",
  "info": {
    "title": "Gentera",
    "version": "1.0.0",
    "contact": {},
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/DIEGOGARCEMX/GenteraRevisionUsuario/1.0.0"
  },
  "servers": [
    {
      "url": "https://rolplay.net"
    }
  ],
  "paths": {
    "/gentera/es/control-users/endpoint-valid-insertUser.php": {
      "get": {
        "summary": "Validar usuario",
        "description": "Esta solicitud valida e inserta un usuario en el sistema Gentera a trav\u00e9s del endpoint 'control-users/endpoint-valid-insertUser.php'.\n\n**Prop\u00f3sito:**\nRegistrar un nuevo usuario con atributos espec\u00edficos en la plataforma Gentera.\n\n**M\u00e9todo:**\nGET\n\n**URL del endpoint:**\nhttps://rolplay.net/gentera/es/control-users/endpoint-valid-insertUser.php\n\n**Encabezados:**\n- Content-Type: application/json\n\n**Cuerpo de la solicitud (JSON):**\n- N\u00f3mina (entero): N\u00famero de empleado (ejemplo: 990780)\n- Puesto (cadena): Puesto de trabajo (ejemplo: \"PROMOTOR\")\n- Oficina (cadena): Ubicaci\u00f3n de la oficina (ejemplo: \"COMALCALCO ZARAGOZA\")\n- Nombre (cadena): Nombre completo del usuario (ejemplo: \"Victor Hugo Flores Lazaro\")\n- Perfil (cadena): Tipo de perfil de usuario (ejemplo: \"GRUPAL\")\n- Usuario (cadena): Nombre de usuario (ejemplo: \"vflores\")\n- Contrase\u00f1a (cadena/entero): Contrase\u00f1a (ejemplo: 99078)\n\n**Comportamiento esperado:**\nEl endpoint procesa los datos proporcionados e intenta insertar el usuario en el sistema. Una respuesta exitosa indica que el usuario fue validado y agregado. Se pueden presentar errores si faltan campos obligatorios o si el usuario ya existe.\n\n**Nota:**\nAunque el m\u00e9todo es GET, este endpoint espera un cuerpo JSON, lo cual es poco com\u00fan. Aseg\u00farate de que el backend soporte este comportamiento.",
        "operationId": "validarUsuario",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "Contrase\u00f1a": {
                    "type": "number",
                    "example": 99078
                  },
                  "Nombre": {
                    "type": "string",
                    "example": "Victor Hugo Flores Lazaro"
                  },
                  "N\u00f3mina": {
                    "type": "number",
                    "example": 990780
                  },
                  "Oficina": {
                    "type": "string",
                    "example": "COMALCALCO ZARAGOZA"
                  },
                  "Perfil": {
                    "type": "string",
                    "example": "GRUPAL"
                  },
                  "Puesto": {
                    "type": "string",
                    "example": "PROMOTOR"
                  },
                  "Usuario": {
                    "type": "string",
                    "example": "vflores"
                  }
                }
              },
              "examples": {
                "Validar usuario": {
                  "value": {
                    "Contrase\u00f1a": 99078,
                    "Nombre": "Victor Hugo Flores Lazaro",
                    "N\u00f3mina": 990780,
                    "Oficina": "COMALCALCO ZARAGOZA",
                    "Perfil": "GRUPAL",
                    "Puesto": "PROMOTOR",
                    "Usuario": "vflores"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    }
  },
  "tags": []
}