{
  "openapi": "3.0.3",
  "info": {
    "title": "Papertrail API",
    "version": "1.0.0",
    "description": "Papertrail is a cloud-hosted log management service. The HTTP API provides access to log events, systems, groups, saved searches, users, and log archives.",
    "x-jentic-source-url": "https://www.papertrail.com/help/http-api/",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://papertrailapp.com/api/v1"
    }
  ],
  "paths": {
    "/events/search.json": {
      "get": {
        "operationId": "searchEvents",
        "summary": "Search log events",
        "tags": [
          "Events"
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Search query"
          },
          {
            "name": "system_id",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Filter by system ID"
          },
          {
            "name": "group_id",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Filter by group ID"
          },
          {
            "name": "min_id",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Minimum event ID for pagination"
          },
          {
            "name": "max_id",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Maximum event ID for pagination"
          },
          {
            "name": "min_time",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Minimum time (Unix epoch seconds)"
          },
          {
            "name": "max_time",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Maximum time (Unix epoch seconds)"
          },
          {
            "name": "tail",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            },
            "description": "Tail mode - return latest events"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventSearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Search log events"
      }
    },
    "/systems.json": {
      "get": {
        "operationId": "listSystems",
        "summary": "List all systems (log senders)",
        "tags": [
          "Systems"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/System"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "List all systems (log senders)"
      }
    },
    "/systems/{id}.json": {
      "get": {
        "operationId": "getSystem",
        "summary": "Get a system",
        "tags": [
          "Systems"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/System"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get a system"
      },
      "put": {
        "operationId": "updateSystem",
        "summary": "Update a system",
        "tags": [
          "Systems"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "system": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string"
                      },
                      "ip_address": {
                        "type": "string"
                      },
                      "hostname": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/System"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Update a system"
      },
      "delete": {
        "operationId": "deleteSystem",
        "summary": "Delete a system",
        "tags": [
          "Systems"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Delete a system"
      }
    },
    "/systems/{id}/join.json": {
      "post": {
        "operationId": "joinSystemToGroup",
        "summary": "Join a system to a group",
        "tags": [
          "Systems"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "group_id": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Join a system to a group"
      }
    },
    "/groups.json": {
      "get": {
        "operationId": "listGroups",
        "summary": "List all groups",
        "tags": [
          "Groups"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Group"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "List all groups"
      }
    },
    "/groups/{id}.json": {
      "get": {
        "operationId": "getGroup",
        "summary": "Get a group",
        "tags": [
          "Groups"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Group"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get a group"
      },
      "put": {
        "operationId": "updateGroup",
        "summary": "Update a group",
        "tags": [
          "Groups"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "group": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string"
                      },
                      "system_wildcard": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Group"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Update a group"
      },
      "delete": {
        "operationId": "deleteGroup",
        "summary": "Delete a group",
        "tags": [
          "Groups"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Delete a group"
      }
    },
    "/searches.json": {
      "get": {
        "operationId": "listSavedSearches",
        "summary": "List saved searches",
        "tags": [
          "Saved Searches"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SavedSearch"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "List saved searches"
      },
      "post": {
        "operationId": "createSavedSearch",
        "summary": "Create a saved search",
        "tags": [
          "Saved Searches"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "search"
                ],
                "properties": {
                  "search": {
                    "type": "object",
                    "required": [
                      "name",
                      "query"
                    ],
                    "properties": {
                      "name": {
                        "type": "string"
                      },
                      "query": {
                        "type": "string"
                      },
                      "group_id": {
                        "type": "integer"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SavedSearch"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Create a saved search"
      }
    },
    "/searches/{id}.json": {
      "get": {
        "operationId": "getSavedSearch",
        "summary": "Get a saved search",
        "tags": [
          "Saved Searches"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SavedSearch"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get a saved search"
      },
      "put": {
        "operationId": "updateSavedSearch",
        "summary": "Update a saved search",
        "tags": [
          "Saved Searches"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "search": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string"
                      },
                      "query": {
                        "type": "string"
                      },
                      "group_id": {
                        "type": "integer"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SavedSearch"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Update a saved search"
      },
      "delete": {
        "operationId": "deleteSavedSearch",
        "summary": "Delete a saved search",
        "tags": [
          "Saved Searches"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Delete a saved search"
      }
    },
    "/users.json": {
      "get": {
        "operationId": "listUsers",
        "summary": "List all users in the account",
        "tags": [
          "Users"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/UserAccount"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "List all users in the account"
      },
      "post": {
        "operationId": "inviteUser",
        "summary": "Invite a new user",
        "tags": [
          "Users"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "user"
                ],
                "properties": {
                  "user": {
                    "type": "object",
                    "required": [
                      "email"
                    ],
                    "properties": {
                      "email": {
                        "type": "string",
                        "format": "email"
                      },
                      "read_only": {
                        "type": "boolean",
                        "default": false
                      },
                      "manage_members": {
                        "type": "boolean",
                        "default": false
                      },
                      "manage_billing": {
                        "type": "boolean",
                        "default": false
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "User invited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserAccount"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Invite a new user"
      }
    },
    "/users/{id}.json": {
      "delete": {
        "operationId": "removeUser",
        "summary": "Remove a user from the account",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Removed"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Remove a user from the account"
      }
    },
    "/archives.json": {
      "get": {
        "operationId": "listArchives",
        "summary": "List available log archives",
        "tags": [
          "Archives"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Archive"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "List available log archives"
      }
    },
    "/accounts.json": {
      "get": {
        "operationId": "getAccountUsage",
        "summary": "Get account usage information",
        "tags": [
          "Account"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountUsage"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get account usage information"
      }
    }
  },
  "components": {
    "schemas": {
      "EventSearchResponse": {
        "type": "object",
        "properties": {
          "min_id": {
            "type": "string"
          },
          "max_id": {
            "type": "string"
          },
          "events": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Event"
            }
          },
          "reached_beginning": {
            "type": "boolean"
          },
          "reached_end": {
            "type": "boolean"
          },
          "min_time_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Event": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "received_at": {
            "type": "string",
            "format": "date-time"
          },
          "display_received_at": {
            "type": "string"
          },
          "source_id": {
            "type": "integer"
          },
          "source_name": {
            "type": "string"
          },
          "source_ip": {
            "type": "string"
          },
          "facility": {
            "type": "string"
          },
          "severity": {
            "type": "string"
          },
          "hostname": {
            "type": "string"
          },
          "program": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "System": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "last_event_at": {
            "type": "string",
            "format": "date-time"
          },
          "auto_delete": {
            "type": "boolean"
          },
          "ip_address": {
            "type": "string"
          },
          "hostname": {
            "type": "string"
          },
          "syslog": {
            "type": "object",
            "properties": {
              "hostname": {
                "type": "string"
              },
              "port": {
                "type": "integer"
              }
            }
          }
        }
      },
      "Group": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "system_wildcard": {
            "type": "string"
          },
          "systems": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/System"
            }
          }
        }
      },
      "SavedSearch": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "query": {
            "type": "string"
          },
          "group": {
            "$ref": "#/components/schemas/Group"
          }
        }
      },
      "UserAccount": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "email": {
            "type": "string"
          },
          "read_only": {
            "type": "boolean"
          },
          "manage_members": {
            "type": "boolean"
          },
          "manage_billing": {
            "type": "boolean"
          }
        }
      },
      "Archive": {
        "type": "object",
        "properties": {
          "start": {
            "type": "string",
            "format": "date-time"
          },
          "end": {
            "type": "string",
            "format": "date-time"
          },
          "filename": {
            "type": "string"
          },
          "filesize": {
            "type": "integer"
          },
          "_links": {
            "type": "object",
            "properties": {
              "download": {
                "type": "object",
                "properties": {
                  "href": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      },
      "AccountUsage": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "plan_name": {
            "type": "string"
          },
          "log_data_transfer_used": {
            "type": "integer"
          },
          "log_data_transfer_plan_limit": {
            "type": "integer"
          },
          "log_data_transfer_hard_limit": {
            "type": "integer"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "apiToken": {
        "type": "apiKey",
        "in": "header",
        "name": "X-Papertrail-Token",
        "description": "Papertrail API token"
      }
    }
  },
  "security": [
    {
      "apiToken": []
    }
  ],
  "tags": [
    {
      "name": "Account"
    },
    {
      "name": "Archives"
    },
    {
      "name": "Events"
    },
    {
      "name": "Groups"
    },
    {
      "name": "Saved Searches"
    },
    {
      "name": "Systems"
    },
    {
      "name": "Users"
    }
  ]
}
