{
  "openapi": "3.0.3",
  "info": {
    "title": "Contact Management API",
    "description": "API for user authentication and contact management operations.\nAll endpoints accept JSON request bodies and return JSON responses.\n",
    "version": "1.0.0",
    "contact": {
      "name": "API Support",
      "email": "support@example.com"
    },
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/none-f5d-06e/contact-management-api/1.0.0"
  },
  "servers": [
    {
      "url": "http://www.tempclassproject.xyz/LAMPAPI/",
      "description": "Remote server"
    }
  ],
  "tags": [
    {
      "name": "Authentication",
      "description": "User login and registration endpoints"
    },
    {
      "name": "Contacts",
      "description": "Contact CRUD and search operations"
    }
  ],
  "paths": {
    "/login.php": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "User Login",
        "description": "Authenticates a user and returns their profile information",
        "operationId": "userLogin",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LoginRequest"
              },
              "example": {
                "login": "test",
                "password": "123"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Login successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoginResponse"
                },
                "examples": {
                  "success": {
                    "value": {
                      "id": 1,
                      "firstName": "test_fisrt",
                      "lastName": "test_last",
                      "error": ""
                    }
                  },
                  "failure": {
                    "value": {
                      "id": 0,
                      "error": "Invalid login"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request format"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/register.php": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "User Registration",
        "description": "Creates a new user account",
        "operationId": "userRegister",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RegisterRequest"
              },
              "example": {
                "firstName": "regis_Test_first",
                "lastName": "Regis_test_last",
                "login": "test8",
                "password": "123"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Registration result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardResponse"
                },
                "examples": {
                  "success": {
                    "value": {
                      "error": ""
                    }
                  },
                  "failure": {
                    "value": {
                      "error": "Duplicate entry for login"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid JSON input"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/CreateContact.php": {
      "post": {
        "tags": [
          "Contacts"
        ],
        "summary": "Create Contact",
        "description": "Adds a new contact for the authenticated user",
        "operationId": "createContact",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateContactRequest"
              },
              "example": {
                "userId": 1,
                "firstName": "Jane",
                "lastName": "Smith",
                "phone": "555-1234",
                "email": "jane.smith@example.com"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Contact creation result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateContactResponse"
                },
                "examples": {
                  "success": {
                    "value": {
                      "id": 101,
                      "error": ""
                    }
                  },
                  "failure": {
                    "value": {
                      "id": 0,
                      "error": "Failed to add contact"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Missing required fields"
          },
          "500": {
            "description": "Database error"
          }
        }
      }
    },
    "/GetContacts.php": {
      "post": {
        "tags": [
          "Contacts"
        ],
        "summary": "Get All Contacts",
        "description": "Retrieves all contacts for a specific user",
        "operationId": "getContacts",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserIdRequest"
              },
              "example": {
                "userId": 1
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "List of contacts retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactListResponse"
                },
                "example": {
                  "results": [
                    {
                      "id": 101,
                      "firstName": "Jane",
                      "lastName": "Smith",
                      "phone": "555-1234",
                      "email": "jane.smith@example.com"
                    },
                    {
                      "id": 102,
                      "firstName": "Bob",
                      "lastName": "Johnson",
                      "phone": "555-5678",
                      "email": "bob.j@example.com"
                    }
                  ],
                  "error": ""
                }
              }
            }
          },
          "400": {
            "description": "Invalid request"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/SearchContacts.php": {
      "post": {
        "tags": [
          "Contacts"
        ],
        "summary": "Search Contacts",
        "description": "Searches contacts by name, email, or phone (case-insensitive partial match)",
        "operationId": "searchContacts",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchContactRequest"
              },
              "example": {
                "userId": 1,
                "search": "smith"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Search results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactListResponse"
                },
                "example": {
                  "results": [
                    {
                      "id": 101,
                      "firstName": "Jane",
                      "lastName": "Smith",
                      "phone": "555-1234",
                      "email": "jane.smith@example.com"
                    }
                  ],
                  "error": ""
                }
              }
            }
          },
          "400": {
            "description": "Missing userId or search parameter"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/UpdateContact.php": {
      "post": {
        "tags": [
          "Contacts"
        ],
        "summary": "Update Contact",
        "description": "Updates an existing contact's information",
        "operationId": "updateContact",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateContactRequest"
              },
              "example": {
                "userId": 1,
                "id": 101,
                "firstName": "Jane",
                "lastName": "Smith-Updated",
                "phone": "555-9999",
                "email": "jane.updated@example.com"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Update result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardResponse"
                },
                "examples": {
                  "success": {
                    "value": {
                      "error": ""
                    }
                  },
                  "notFound": {
                    "value": {
                      "error": "Contact not found"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Missing required fields"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/DeleteContact.php": {
      "post": {
        "tags": [
          "Contacts"
        ],
        "summary": "Delete Contact",
        "description": "Deletes a contact belonging to the specified user",
        "operationId": "deleteContact",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteContactRequest"
              },
              "example": {
                "userId": 1,
                "id": 101
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Deletion result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardResponse"
                },
                "examples": {
                  "success": {
                    "value": {
                      "error": ""
                    }
                  },
                  "notFound": {
                    "value": {
                      "error": "Contact not found"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Missing required fields"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "LoginRequest": {
        "type": "object",
        "required": [
          "login",
          "password"
        ],
        "properties": {
          "login": {
            "type": "string",
            "description": "User's login username",
            "example": "johndoe"
          },
          "password": {
            "type": "string",
            "description": "User's password (sent in plaintext - consider using HTTPS)",
            "example": "securePassword123",
            "writeOnly": true
          }
        }
      },
      "RegisterRequest": {
        "type": "object",
        "required": [
          "firstName",
          "lastName",
          "login",
          "password"
        ],
        "properties": {
          "firstName": {
            "type": "string",
            "example": "John"
          },
          "lastName": {
            "type": "string",
            "example": "Doe"
          },
          "login": {
            "type": "string",
            "example": "johndoe"
          },
          "password": {
            "type": "string",
            "example": "securePassword123",
            "writeOnly": true
          }
        }
      },
      "UserIdRequest": {
        "type": "object",
        "required": [
          "userId"
        ],
        "properties": {
          "userId": {
            "type": "integer",
            "description": "ID of the authenticated user",
            "example": 1
          }
        }
      },
      "CreateContactRequest": {
        "type": "object",
        "required": [
          "userId",
          "firstName",
          "lastName",
          "phone",
          "email"
        ],
        "properties": {
          "userId": {
            "type": "integer",
            "example": 1
          },
          "firstName": {
            "type": "string",
            "example": "Jane"
          },
          "lastName": {
            "type": "string",
            "example": "Smith"
          },
          "phone": {
            "type": "string",
            "example": "555-1234"
          },
          "email": {
            "type": "string",
            "format": "email",
            "example": "jane.smith@example.com"
          }
        }
      },
      "SearchContactRequest": {
        "type": "object",
        "required": [
          "userId",
          "search"
        ],
        "properties": {
          "userId": {
            "type": "integer",
            "example": 1
          },
          "search": {
            "type": "string",
            "description": "Search term for partial matching on name, email, or phone",
            "example": "smith"
          }
        }
      },
      "UpdateContactRequest": {
        "type": "object",
        "required": [
          "userId",
          "id",
          "firstName",
          "lastName",
          "phone",
          "email"
        ],
        "properties": {
          "userId": {
            "type": "integer",
            "example": 1
          },
          "id": {
            "type": "integer",
            "description": "ID of the contact to update",
            "example": 101
          },
          "firstName": {
            "type": "string",
            "example": "Jane"
          },
          "lastName": {
            "type": "string",
            "example": "Smith"
          },
          "phone": {
            "type": "string",
            "example": "555-1234"
          },
          "email": {
            "type": "string",
            "format": "email",
            "example": "jane.smith@example.com"
          }
        }
      },
      "DeleteContactRequest": {
        "type": "object",
        "required": [
          "userId",
          "id"
        ],
        "properties": {
          "userId": {
            "type": "integer",
            "example": 1
          },
          "id": {
            "type": "integer",
            "description": "ID of the contact to delete",
            "example": 101
          }
        }
      },
      "LoginResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "User ID (0 if login failed)",
            "example": 1
          },
          "firstName": {
            "type": "string",
            "example": "John"
          },
          "lastName": {
            "type": "string",
            "example": "Doe"
          },
          "error": {
            "type": "string",
            "description": "Error message (empty string on success)",
            "example": ""
          }
        }
      },
      "StandardResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error message (empty string on success)",
            "example": ""
          }
        }
      },
      "CreateContactResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "ID of newly created contact (0 if failed)",
            "example": 101
          },
          "error": {
            "type": "string",
            "description": "Error message (empty string on success)",
            "example": ""
          }
        }
      },
      "Contact": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Contact ID",
            "example": 101
          },
          "firstName": {
            "type": "string",
            "example": "Jane"
          },
          "lastName": {
            "type": "string",
            "example": "Smith"
          },
          "phone": {
            "type": "string",
            "example": "555-1234"
          },
          "email": {
            "type": "string",
            "format": "email",
            "example": "jane.smith@example.com"
          }
        }
      },
      "ContactListResponse": {
        "type": "object",
        "properties": {
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Contact"
            }
          },
          "error": {
            "type": "string",
            "description": "Error message (empty string on success)",
            "example": ""
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "Optional - for future enhancement with token-based auth"
      }
    }
  }
}