{
  "openapi": "3.0.3",
  "info": {
    "title": "\u8001\u732b\u82f9\u679cID\u6258\u7ba1 User API",
    "description": "\u7528\u6237 API \u63a5\u53e3\uff0c\u63d0\u4f9b\u8d26\u53f7\u7ba1\u7406\u3001\u6807\u7b7e\u5206\u7c7b\u548c\u5206\u4eab\u9875\u914d\u7f6e\u529f\u80fd\u3002\n\n## \u8ba4\u8bc1\u65b9\u5f0f\n\n\u6240\u6709 API \u8bf7\u6c42\u5fc5\u987b\u5728 HTTP \u8bf7\u6c42\u5934\u4e2d\u5305\u542b `X-API-Key` \u8fdb\u884c\u8eab\u4efd\u8ba4\u8bc1\uff1a\n\n```\nX-API-Key: your_api_key_here\n```\n\nAPI Key \u53ef\u5728\u7528\u6237\u4e2d\u5fc3\u7684\u4e2a\u4eba\u4fe1\u606f\u9875\u9762\u83b7\u53d6\u6216\u91cd\u65b0\u751f\u6210\u3002\n\n## \u54cd\u5e94\u683c\u5f0f\n\n\u5927\u591a\u6570\u63a5\u53e3\u4f7f\u7528\u7edf\u4e00\u7684\u54cd\u5e94\u683c\u5f0f\uff1a\n\n```json\n{\n  \"ret\": 1,        // 1=\u6210\u529f, 0=\u5931\u8d25\n  \"msg\": \"Success\", // \u54cd\u5e94\u6d88\u606f\n  \"data\": {}       // \u54cd\u5e94\u6570\u636e\n}\n```\n\n**\u6ce8\u610f**\uff1a\u5373\u4f7f\u4e1a\u52a1\u5931\u8d25\uff0cHTTP \u72b6\u6001\u7801\u901a\u5e38\u4ecd\u4e3a 200\uff0c\u8bf7\u68c0\u67e5\u54cd\u5e94\u4e2d\u7684 `ret` \u5b57\u6bb5\u5224\u65ad\u64cd\u4f5c\u7ed3\u679c\u3002\n",
    "version": "1.0.0",
    "contact": {
      "name": "API Support"
    },
    "license": {
      "name": "Proprietary"
    },
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/nos-80e/laomaosuserapi/1.0.0"
  },
  "servers": [
    {
      "url": "https://aunlock.laomaos.com",
      "description": "\u751f\u4ea7\u73af\u5883"
    }
  ],
  "tags": [
    {
      "name": "Accounts",
      "description": "\u8d26\u53f7\u7ba1\u7406\u63a5\u53e3 - \u67e5\u8be2\u3001\u76d1\u63a7\u548c\u63a7\u5236\u8d26\u53f7"
    },
    {
      "name": "Tags",
      "description": "\u6807\u7b7e\u7ba1\u7406\u63a5\u53e3 - \u83b7\u53d6\u548c\u4f7f\u7528\u6807\u7b7e\u8fdb\u884c\u8d26\u53f7\u5206\u7c7b"
    },
    {
      "name": "SharePages",
      "description": "\u5206\u4eab\u9875\u7ba1\u7406\u63a5\u53e3 - \u521b\u5efa\u548c\u7ba1\u7406\u8d26\u53f7\u5206\u4eab\u94fe\u63a5"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "paths": {
    "/client/getAllAccounts": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "\u83b7\u53d6\u6240\u6709\u8d26\u53f7",
        "description": "\u83b7\u53d6\u5f53\u524d\u7528\u6237\u7684\u6240\u6709\u5df2\u542f\u7528\u8d26\u53f7\u5217\u8868\u3002\u8fd4\u56de\u8d26\u53f7\u7684\u57fa\u672c\u4fe1\u606f\u3001\u6700\u540e\u68c0\u67e5\u72b6\u6001\u548c\u6240\u5c5e\u5730\u533a\u3002\n\n**\u6ce8\u610f**\uff1a\u4ec5\u8fd4\u56de\u72b6\u6001\u4e3a\"\u5df2\u542f\u7528\"\u7684\u8d26\u53f7\u3002\n",
        "operationId": "getAllAccounts",
        "responses": {
          "200": {
            "description": "\u6210\u529f\u8fd4\u56de\u8d26\u53f7\u5217\u8868\uff08\u6570\u7ec4\u683c\u5f0f\uff09",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Account"
                  }
                },
                "examples": {
                  "success": {
                    "summary": "\u6210\u529f\u793a\u4f8b",
                    "value": [
                      {
                        "id": 1,
                        "username": "user@example.com",
                        "password": "password123",
                        "last_check": "2025-10-19 12:00:00",
                        "last_check_success": true,
                        "region_display": "\u4e2d\u56fd"
                      },
                      {
                        "id": 2,
                        "username": "user2@example.com",
                        "password": "password456",
                        "last_check": "2025-10-19 11:30:00",
                        "last_check_success": false,
                        "region_display": "\u7f8e\u56fd"
                      }
                    ]
                  },
                  "empty": {
                    "summary": "\u7a7a\u5217\u8868\uff08\u65e0\u5df2\u542f\u7528\u8d26\u53f7\uff09",
                    "value": []
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          }
        }
      }
    },
    "/client/getAccountsByTag": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "\u6309\u6807\u7b7e\u83b7\u53d6\u8d26\u53f7",
        "description": "\u6839\u636e\u6807\u7b7e ID \u7b5b\u9009\u8d26\u53f7\u5217\u8868\u3002\u652f\u6301\u83b7\u53d6\u7279\u5b9a\u6807\u7b7e\u4e0b\u7684\u8d26\u53f7\u6216\u5168\u90e8\u8d26\u53f7\u3002\n\n**\u53c2\u6570\u8bf4\u660e\uff1a**\n- `tag=0`: \u83b7\u53d6\u6240\u6709\u8d26\u53f7\uff08\u5ffd\u7565\u6807\u7b7e\u7b5b\u9009\uff09\n- `tag>0`: \u83b7\u53d6\u6307\u5b9a\u6807\u7b7e\u4e0b\u7684\u6240\u6709\u8d26\u53f7\n",
        "operationId": "getAccountsByTag",
        "parameters": [
          {
            "name": "tag",
            "in": "query",
            "description": "\u6807\u7b7e ID\uff0c0 \u8868\u793a\u83b7\u53d6\u6240\u6709\u8d26\u53f7",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 0
            },
            "example": 1
          }
        ],
        "responses": {
          "200": {
            "description": "\u6210\u529f\u8fd4\u56de\u8d26\u53f7\u5217\u8868\uff08\u6807\u51c6\u54cd\u5e94\u683c\u5f0f\uff09",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                },
                "examples": {
                  "success": {
                    "summary": "\u6210\u529f\u793a\u4f8b",
                    "value": {
                      "ret": 1,
                      "msg": "Success",
                      "data": [
                        {
                          "id": 1,
                          "username": "user@example.com",
                          "password": "password123",
                          "last_check": "2025-10-19 12:00:00",
                          "last_check_success": true,
                          "region_display": "\u4e2d\u56fd"
                        }
                      ]
                    }
                  },
                  "noAccounts": {
                    "summary": "\u65e0\u8d26\u53f7",
                    "value": {
                      "ret": 1,
                      "msg": "No accounts found"
                    }
                  },
                  "missingParameter": {
                    "summary": "\u7f3a\u5c11\u53c2\u6570",
                    "value": {
                      "ret": 0,
                      "msg": "Missing parameter: tag"
                    }
                  },
                  "invalidParameter": {
                    "summary": "\u65e0\u6548\u53c2\u6570",
                    "value": {
                      "ret": 0,
                      "msg": "Invalid parameter: tag must be a number"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      }
    },
    "/client/getAccountDetail": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "\u83b7\u53d6\u8d26\u53f7\u8be6\u60c5",
        "description": "\u83b7\u53d6\u6307\u5b9a\u8d26\u53f7\u7684\u8be6\u7ec6\u4fe1\u606f\u3002\n\n**\u6743\u9650\u8981\u6c42**\uff1a\u53ea\u80fd\u67e5\u8be2\u5c5e\u4e8e\u5f53\u524d\u7528\u6237\u7684\u8d26\u53f7\u3002\n",
        "operationId": "getAccountDetail",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "\u8d26\u53f7 ID",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1
            },
            "example": 123
          }
        ],
        "responses": {
          "200": {
            "description": "\u6210\u529f\u8fd4\u56de\u8d26\u53f7\u8be6\u60c5",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                },
                "examples": {
                  "success": {
                    "summary": "\u6210\u529f\u793a\u4f8b",
                    "value": {
                      "ret": 1,
                      "msg": "Success",
                      "data": {
                        "id": 1,
                        "username": "user@example.com",
                        "password": "password123",
                        "last_check": "2025-10-19 12:00:00",
                        "last_check_success": true,
                        "region_display": "\u4e2d\u56fd"
                      }
                    }
                  },
                  "notFound": {
                    "summary": "\u8d26\u53f7\u4e0d\u5b58\u5728",
                    "value": {
                      "ret": 0,
                      "msg": "Account not found"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      }
    },
    "/client/getAllTags": {
      "get": {
        "tags": [
          "Tags"
        ],
        "summary": "\u83b7\u53d6\u6240\u6709\u6807\u7b7e",
        "description": "\u83b7\u53d6\u5f53\u524d\u7528\u6237\u7684\u6240\u6709\u6807\u7b7e\u5217\u8868\u3002\u6807\u7b7e\u7528\u4e8e\u5bf9\u8d26\u53f7\u8fdb\u884c\u5206\u7c7b\u7ba1\u7406\u3002\n",
        "operationId": "getAllTags",
        "responses": {
          "200": {
            "description": "\u6210\u529f\u8fd4\u56de\u6807\u7b7e\u5217\u8868",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                },
                "examples": {
                  "success": {
                    "summary": "\u6210\u529f\u793a\u4f8b",
                    "value": {
                      "ret": 1,
                      "msg": "Success",
                      "data": [
                        {
                          "id": 1,
                          "name": "\u6807\u7b7eA"
                        },
                        {
                          "id": 2,
                          "name": "\u6807\u7b7eB"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      }
    },
    "/client/restartAccount": {
      "post": {
        "tags": [
          "Accounts"
        ],
        "summary": "\u91cd\u542f\u8d26\u53f7",
        "description": "\u624b\u52a8\u91cd\u542f\uff08\u89e3\u9501\uff09\u6307\u5b9a\u7684\u8d26\u53f7\uff0c\u8d26\u53f7\u4f1a\u7acb\u5373\u8fdb\u5165\u4efb\u52a1\u961f\u5217\u3002\u63a5\u53e3\u81ea\u5e26\u9632\u5237\u673a\u5236\uff0c\u77ed\u65f6\u95f4\u5185\u91cd\u590d\u8c03\u7528\u4f1a\u88ab\u9650\u5236\u3002\n",
        "operationId": "restartAccount",
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "id"
                ],
                "properties": {
                  "id": {
                    "type": "integer",
                    "description": "\u8d26\u53f7 ID",
                    "minimum": 1,
                    "example": 123
                  }
                }
              }
            },
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "id"
                ],
                "properties": {
                  "id": {
                    "type": "integer",
                    "description": "\u8d26\u53f7 ID",
                    "minimum": 1,
                    "example": 123
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "\u64cd\u4f5c\u7ed3\u679c",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                },
                "examples": {
                  "success": {
                    "summary": "\u6210\u529f",
                    "value": {
                      "ret": 1,
                      "msg": "\u64cd\u4f5c\u6210\u529f"
                    }
                  },
                  "notFound": {
                    "summary": "\u8d26\u53f7\u4e0d\u5b58\u5728",
                    "value": {
                      "ret": 0,
                      "msg": "Account not found"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      }
    },
    "/client/getAllSharepages": {
      "get": {
        "tags": [
          "SharePages"
        ],
        "summary": "\u83b7\u53d6\u6240\u6709\u5206\u4eab\u9875",
        "description": "\u83b7\u53d6\u5f53\u524d\u7528\u6237\u7684\u6240\u6709\u5206\u4eab\u9875\u5217\u8868\uff0c\u5305\u62ec\u5206\u4eab\u94fe\u63a5\u3001\u5bc6\u7801\u3001\u6709\u6548\u671f\u7b49\u4fe1\u606f\u3002\n",
        "operationId": "getAllSharepages",
        "responses": {
          "200": {
            "description": "\u6210\u529f\u8fd4\u56de\u5206\u4eab\u9875\u5217\u8868",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                },
                "examples": {
                  "success": {
                    "summary": "\u6210\u529f\u793a\u4f8b",
                    "value": {
                      "ret": 1,
                      "msg": "Success",
                      "data": [
                        {
                          "id": 1,
                          "share_link": "abc123",
                          "account_list": "1,2,3",
                          "tags": "0",
                          "password": "mypassword",
                          "remark": "\u6d4b\u8bd5\u5206\u4eab\u9875",
                          "expire": "2025-12-31 23:59:59",
                          "account_num": 10
                        }
                      ]
                    }
                  },
                  "noSharePages": {
                    "summary": "\u65e0\u5206\u4eab\u9875",
                    "value": {
                      "ret": 1,
                      "msg": "No share pages found"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      }
    },
    "/client/getShareAccounts": {
      "get": {
        "tags": [
          "SharePages"
        ],
        "summary": "\u901a\u8fc7\u5206\u4eab\u9875ID\u83b7\u53d6\u8d26\u53f7",
        "description": "\u6839\u636e\u5206\u4eab\u9875 ID \u83b7\u53d6\u8be5\u5206\u4eab\u9875\u4e2d\u5305\u542b\u7684\u6240\u6709\u8d26\u53f7\u5217\u8868\u3002\n\n**\u6743\u9650\u8981\u6c42**\uff1a\n- \u53ea\u80fd\u67e5\u8be2\u5c5e\u4e8e\u5f53\u524d\u7528\u6237\u7684\u5206\u4eab\u9875\n- \u5982\u679c\u5206\u4eab\u9875\u5df2\u8fc7\u671f\uff0c\u5c06\u8fd4\u56de\u9519\u8bef\n\n**\u6ce8\u610f**\uff1a\u63a5\u53e3\u4f1a\u68c0\u67e5\u5206\u4eab\u9875\u7684\u8fc7\u671f\u72b6\u6001\uff0c\u5df2\u8fc7\u671f\u7684\u5206\u4eab\u9875\u65e0\u6cd5\u83b7\u53d6\u8d26\u53f7\u5217\u8868\u3002\n",
        "operationId": "getShareAccounts",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "\u5206\u4eab\u9875 ID",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1
            },
            "example": 1
          }
        ],
        "responses": {
          "200": {
            "description": "\u6210\u529f\u8fd4\u56de\u8d26\u53f7\u5217\u8868",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                },
                "examples": {
                  "success": {
                    "summary": "\u6210\u529f\u793a\u4f8b",
                    "value": {
                      "ret": 1,
                      "msg": "Success",
                      "data": [
                        {
                          "id": 1,
                          "username": "user@example.com",
                          "password": "password123",
                          "region_display": "\u4e2d\u56fd",
                          "status": 1,
                          "last_check": "2025-10-19 12:00:00",
                          "last_check_success": true
                        },
                        {
                          "id": 2,
                          "username": "user2@example.com",
                          "password": "password456",
                          "region_display": "\u7f8e\u56fd",
                          "status": 1,
                          "last_check": "2025-10-19 11:30:00",
                          "last_check_success": false
                        }
                      ]
                    }
                  },
                  "empty": {
                    "summary": "\u5206\u4eab\u9875\u4e2d\u65e0\u8d26\u53f7",
                    "value": {
                      "ret": 1,
                      "msg": "Success",
                      "data": []
                    }
                  },
                  "notFound": {
                    "summary": "\u5206\u4eab\u9875\u4e0d\u5b58\u5728\u6216\u65e0\u6743\u8bbf\u95ee",
                    "value": {
                      "ret": 0,
                      "msg": "Share page not found or access denied"
                    }
                  },
                  "expired": {
                    "summary": "\u5206\u4eab\u9875\u5df2\u8fc7\u671f",
                    "value": {
                      "ret": 0,
                      "msg": "Share page has expired"
                    }
                  },
                  "licenseFailed": {
                    "summary": "\u8bb8\u53ef\u8bc1\u9a8c\u8bc1\u5931\u8d25",
                    "value": {
                      "ret": 0,
                      "msg": "License validation failed"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      }
    },
    "/client/resetSharepagePassword": {
      "post": {
        "tags": [
          "SharePages"
        ],
        "summary": "\u91cd\u7f6e\u5206\u4eab\u9875\u5bc6\u7801",
        "description": "\u91cd\u7f6e\u6216\u6e05\u9664\u5206\u4eab\u9875\u7684\u8bbf\u95ee\u5bc6\u7801\u3002\n- `password` \u4e3a\u7a7a\u65f6\u8868\u793a\u6e05\u9664\u5bc6\u7801\uff08\u65e0\u5bc6\u7801\u4fdd\u62a4\uff09\u3002\n",
        "operationId": "resetSharepagePassword",
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "id"
                ],
                "properties": {
                  "id": {
                    "type": "integer",
                    "description": "\u5206\u4eab\u9875 ID",
                    "minimum": 1,
                    "example": 1
                  },
                  "password": {
                    "type": "string",
                    "description": "\u65b0\u5bc6\u7801\uff0c\u4e3a\u7a7a\u5219\u6e05\u9664\u5bc6\u7801",
                    "example": "newpassword123"
                  }
                }
              }
            },
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "id"
                ],
                "properties": {
                  "id": {
                    "type": "integer",
                    "description": "\u5206\u4eab\u9875 ID",
                    "minimum": 1,
                    "example": 1
                  },
                  "password": {
                    "type": "string",
                    "description": "\u65b0\u5bc6\u7801\uff0c\u4e3a\u7a7a\u5219\u6e05\u9664\u5bc6\u7801",
                    "nullable": true,
                    "example": "newpassword123"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "\u64cd\u4f5c\u7ed3\u679c",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                },
                "examples": {
                  "passwordSet": {
                    "summary": "\u5bc6\u7801\u8bbe\u7f6e\u6210\u529f",
                    "value": {
                      "ret": 1,
                      "msg": "Password reset successfully"
                    }
                  },
                  "passwordCleared": {
                    "summary": "\u5bc6\u7801\u6e05\u9664\u6210\u529f",
                    "value": {
                      "ret": 1,
                      "msg": "Password cleared successfully"
                    }
                  },
                  "notFound": {
                    "summary": "\u5206\u4eab\u9875\u4e0d\u5b58\u5728",
                    "value": {
                      "ret": 0,
                      "msg": "Share page not found"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      }
    },
    "/client/resetSharepageExpire": {
      "post": {
        "tags": [
          "SharePages"
        ],
        "summary": "\u91cd\u7f6e\u5206\u4eab\u9875\u6709\u6548\u671f",
        "description": "\u8bbe\u7f6e\u6216\u6e05\u9664\u5206\u4eab\u9875\u7684\u8fc7\u671f\u65f6\u95f4\u3002\n\n- \u63d0\u4f9b `expire` \u53c2\u6570\uff08Unix \u65f6\u95f4\u6233\uff09\uff1a\u8bbe\u7f6e\u8fc7\u671f\u65f6\u95f4\n- `expire` \u4e3a\u7a7a\uff1a\u8bbe\u7f6e\u4e3a\u6c38\u4e0d\u8fc7\u671f\n\n**\u6ce8\u610f**\uff1a\u65f6\u95f4\u6233\u5fc5\u987b\u662f\u672a\u6765\u7684\u65f6\u95f4\uff0c\u4e0d\u80fd\u8bbe\u7f6e\u4e3a\u8fc7\u53bb\u7684\u65f6\u95f4\u3002\n",
        "operationId": "resetSharepageExpire",
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "id"
                ],
                "properties": {
                  "id": {
                    "type": "integer",
                    "description": "\u5206\u4eab\u9875 ID",
                    "minimum": 1,
                    "example": 1
                  },
                  "expire": {
                    "type": "integer",
                    "description": "Unix \u65f6\u95f4\u6233\uff0c\u4e3a\u7a7a\u5219\u8bbe\u7f6e\u4e3a\u6c38\u4e0d\u8fc7\u671f",
                    "example": 1735689599
                  }
                }
              }
            },
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "id"
                ],
                "properties": {
                  "id": {
                    "type": "integer",
                    "description": "\u5206\u4eab\u9875 ID",
                    "minimum": 1,
                    "example": 1
                  },
                  "expire": {
                    "type": "integer",
                    "description": "Unix \u65f6\u95f4\u6233\uff0c\u4e3a\u7a7a\u5219\u8bbe\u7f6e\u4e3a\u6c38\u4e0d\u8fc7\u671f",
                    "nullable": true,
                    "example": 1735689599
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "\u64cd\u4f5c\u7ed3\u679c",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                },
                "examples": {
                  "expireSet": {
                    "summary": "\u8fc7\u671f\u65f6\u95f4\u8bbe\u7f6e\u6210\u529f",
                    "value": {
                      "ret": 1,
                      "msg": "Expiration date updated successfully"
                    }
                  },
                  "expireCleared": {
                    "summary": "\u8fc7\u671f\u65f6\u95f4\u6e05\u9664\u6210\u529f",
                    "value": {
                      "ret": 1,
                      "msg": "Expiration cleared (never expires)"
                    }
                  },
                  "invalidTimestamp": {
                    "summary": "\u65e0\u6548\u7684\u65f6\u95f4\u6233",
                    "value": {
                      "ret": 0,
                      "msg": "Invalid timestamp: cannot set expiration in the past"
                    }
                  },
                  "notFound": {
                    "summary": "\u5206\u4eab\u9875\u4e0d\u5b58\u5728",
                    "value": {
                      "ret": 0,
                      "msg": "Share page not found"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      }
    },
    "/client/getTaskStatus": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "\u83b7\u53d6\u4efb\u52a1\u961f\u5217\u72b6\u6001",
        "description": "\u83b7\u53d6\u5f53\u524d\u4efb\u52a1\u961f\u5217\u7684\u7edf\u8ba1\u72b6\u6001\uff0c\u5305\u62ec\u961f\u5217\u4e2d\u3001\u8fd0\u884c\u4e2d\u3001\u7b49\u5f85\u4e2d\u548c\u5df2\u7981\u7528\u7684\u4efb\u52a1\u6570\u91cf\u3002\n\n**\u53c2\u6570\u8bf4\u660e\uff1a**\n- `scope=user`: \u67e5\u8be2\u5f53\u524d\u7528\u6237\u7684\u4efb\u52a1\u961f\u5217\u72b6\u6001\n- `scope=admin`: \u67e5\u8be2\u7cfb\u7edf\u6574\u4f53\u4efb\u52a1\u961f\u5217\u72b6\u6001\uff08**\u4ec5\u9650\u7ba1\u7406\u5458**\uff09\n\n**\u6743\u9650\u8981\u6c42**\uff1a\n- \u666e\u901a\u7528\u6237\u53ea\u80fd\u67e5\u8be2\u81ea\u5df1\u7684\u961f\u5217\uff08`scope=user`\uff09\n- \u7ba1\u7406\u5458\u53ef\u4ee5\u67e5\u8be2\u7cfb\u7edf\u6574\u4f53\u961f\u5217\uff08`scope=admin`\uff09\n",
        "operationId": "getTaskStatus",
        "parameters": [
          {
            "name": "scope",
            "in": "query",
            "description": "\u67e5\u8be2\u8303\u56f4\uff08user=\u7528\u6237\u961f\u5217\uff0cadmin=\u7cfb\u7edf\u961f\u5217\uff09",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "user",
                "admin"
              ]
            },
            "example": "user"
          }
        ],
        "responses": {
          "200": {
            "description": "\u6210\u529f\u8fd4\u56de\u4efb\u52a1\u961f\u5217\u72b6\u6001",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/TaskQueueStatus"
                        }
                      }
                    }
                  ]
                },
                "examples": {
                  "success": {
                    "summary": "\u6210\u529f\u793a\u4f8b",
                    "value": {
                      "ret": 1,
                      "msg": "success",
                      "data": {
                        "in_queue": 0,
                        "running": 0,
                        "pending": 3,
                        "disabled": 0
                      }
                    }
                  },
                  "forbidden": {
                    "summary": "\u6743\u9650\u4e0d\u8db3\uff08\u975e\u7ba1\u7406\u5458\u5c1d\u8bd5\u67e5\u8be2\u7cfb\u7edf\u961f\u5217\uff09",
                    "value": {
                      "ret": 0,
                      "msg": "Permission denied: admin scope requires administrator privileges"
                    }
                  },
                  "invalidScope": {
                    "summary": "\u65e0\u6548\u7684 scope \u53c2\u6570",
                    "value": {
                      "ret": 0,
                      "msg": "Invalid scope parameter. Must be 'user' or 'admin'"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key",
        "description": "\u7528\u6237\u8eab\u4efd\u8ba4\u8bc1\u5bc6\u94a5\u3002\u6bcf\u4e2a API \u8bf7\u6c42\u90fd\u5fc5\u987b\u5728 HTTP \u8bf7\u6c42\u5934\u4e2d\u5305\u542b\u6b64 Key\u3002\n\n**\u83b7\u53d6\u65b9\u5f0f\uff1a**\n1. \u767b\u5f55\u7cfb\u7edf\u540e\u8fdb\u5165\u7528\u6237\u4e2d\u5fc3\n2. \u5728\u4e2a\u4eba\u4fe1\u606f\u9875\u9762\u67e5\u770b\u6216\u751f\u6210 API Key\n\n**\u5b89\u5168\u63d0\u793a\uff1a** \u8bf7\u59a5\u5584\u4fdd\u7ba1 API Key\uff0c\u4e0d\u8981\u5728\u516c\u5f00\u4ee3\u7801\u4e2d\u66b4\u9732\u3002\u5982 API Key \u6cc4\u9732\uff0c\u8bf7\u7acb\u5373\u91cd\u65b0\u751f\u6210\u3002\n"
      }
    },
    "schemas": {
      "Account": {
        "type": "object",
        "description": "\u8d26\u53f7\u4fe1\u606f",
        "properties": {
          "id": {
            "type": "integer",
            "description": "\u8d26\u53f7 ID",
            "example": 1
          },
          "username": {
            "type": "string",
            "description": "\u8d26\u53f7\u7528\u6237\u540d\uff08\u901a\u5e38\u4e3a\u90ae\u7bb1\u5730\u5740\uff09",
            "example": "user@example.com"
          },
          "password": {
            "type": "string",
            "description": "\u8d26\u53f7\u5bc6\u7801",
            "example": "password123"
          },
          "last_check": {
            "type": "string",
            "format": "date-time",
            "description": "\u6700\u540e\u68c0\u67e5\u65f6\u95f4\uff08\u683c\u5f0f\uff1aYYYY-MM-DD HH:mm:ss\uff09",
            "example": "2025-10-19 12:00:00"
          },
          "last_check_success": {
            "type": "boolean",
            "description": "\u6700\u540e\u68c0\u67e5\u662f\u5426\u6210\u529f",
            "example": true
          },
          "region_display": {
            "type": "string",
            "description": "\u8d26\u53f7\u6240\u5c5e\u5730\u533a/\u533a\u57df\u7684\u663e\u793a\u540d\u79f0",
            "example": "\u4e2d\u56fd",
            "nullable": true
          }
        }
      },
      "Tag": {
        "type": "object",
        "description": "\u6807\u7b7e\u4fe1\u606f\uff0c\u7528\u4e8e\u5bf9\u8d26\u53f7\u8fdb\u884c\u5206\u7c7b",
        "properties": {
          "id": {
            "type": "integer",
            "description": "\u6807\u7b7e ID\uff080 \u5728\u67d0\u4e9b\u63a5\u53e3\u4e2d\u8868\u793a\"\u6240\u6709\u6807\u7b7e\"\uff09",
            "example": 1
          },
          "name": {
            "type": "string",
            "description": "\u6807\u7b7e\u540d\u79f0",
            "example": "\u751f\u4ea7\u73af\u5883"
          }
        }
      },
      "SharePage": {
        "type": "object",
        "description": "\u5206\u4eab\u9875\u4fe1\u606f\uff0c\u7528\u4e8e\u5bf9\u5916\u5206\u4eab\u8d26\u53f7",
        "properties": {
          "id": {
            "type": "integer",
            "description": "\u5206\u4eab\u9875 ID",
            "example": 1
          },
          "share_link": {
            "type": "string",
            "description": "\u5206\u4eab\u94fe\u63a5\u6807\u8bc6\uff08\u8bbf\u95ee\u8def\u5f84\uff1a/share/{share_link}\uff09",
            "example": "abc123"
          },
          "account_list": {
            "type": "string",
            "description": "\u6307\u5b9a\u7684\u8d26\u53f7 ID \u5217\u8868\uff08\u9017\u53f7\u5206\u9694\uff09\u3002\u4e3a\u7a7a\u65f6\u4f7f\u7528 tags \u7b5b\u9009",
            "example": "1,2,3"
          },
          "tags": {
            "type": "string",
            "description": "\u6807\u7b7e ID \u5217\u8868\uff08\u9017\u53f7\u5206\u9694\uff09\u30020 \u8868\u793a\u6240\u6709\u6807\u7b7e",
            "example": "0"
          },
          "password": {
            "type": "string",
            "description": "\u8bbf\u95ee\u5bc6\u7801\uff08\u7a7a\u5b57\u7b26\u4e32\u8868\u793a\u65e0\u5bc6\u7801\u4fdd\u62a4\uff09",
            "example": "mypassword"
          },
          "remark": {
            "type": "string",
            "description": "\u5907\u6ce8\u8bf4\u660e\uff08\u4ec5\u7ba1\u7406\u5458\u53ef\u89c1\uff09",
            "example": "\u63d0\u4f9b\u7ed9\u6d4b\u8bd5\u56e2\u961f"
          },
          "expire": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "\u8fc7\u671f\u65f6\u95f4\uff08null \u8868\u793a\u6c38\u4e0d\u8fc7\u671f\uff0c\u683c\u5f0f\uff1aYYYY-MM-DD HH:mm:ss\uff09",
            "example": "2025-12-31 23:59:59"
          },
          "account_num": {
            "type": "integer",
            "description": "\u5206\u4eab\u9875\u4e2d\u7684\u8d26\u53f7\u6570\u91cf",
            "example": 10
          }
        }
      },
      "TaskQueueStatus": {
        "type": "object",
        "description": "\u4efb\u52a1\u961f\u5217\u72b6\u6001\u7edf\u8ba1\u4fe1\u606f",
        "properties": {
          "in_queue": {
            "type": "integer",
            "description": "\u961f\u5217\u4e2d\u7684\u4efb\u52a1\u6570\u91cf",
            "example": 0
          },
          "running": {
            "type": "integer",
            "description": "\u6b63\u5728\u8fd0\u884c\u7684\u4efb\u52a1\u6570\u91cf",
            "example": 0
          },
          "pending": {
            "type": "integer",
            "description": "\u7b49\u5f85\u4e2d\u7684\u4efb\u52a1\u6570\u91cf",
            "example": 3
          },
          "disabled": {
            "type": "integer",
            "description": "\u5df2\u7981\u7528\u7684\u4efb\u52a1\u6570\u91cf",
            "example": 0
          }
        }
      },
      "ApiResponse": {
        "type": "object",
        "description": "\u6807\u51c6 API \u54cd\u5e94\u683c\u5f0f\uff08\u7528\u4e8e\u5927\u591a\u6570\u63a5\u53e3\uff09\n\n**\u91cd\u8981**\uff1a\u8bf7\u68c0\u67e5 `ret` \u5b57\u6bb5\u5224\u65ad\u64cd\u4f5c\u7ed3\u679c\uff0c\u800c\u975e\u4ec5\u4f9d\u8d56 HTTP \u72b6\u6001\u7801\n",
        "properties": {
          "ret": {
            "type": "integer",
            "description": "\u8fd4\u56de\u72b6\u6001\u7801\uff081=\u6210\u529f, 0=\u5931\u8d25\uff09",
            "enum": [
              0,
              1
            ],
            "example": 1
          },
          "msg": {
            "type": "string",
            "description": "\u54cd\u5e94\u6d88\u606f\uff08\u6210\u529f\u63d0\u793a\u6216\u9519\u8bef\u539f\u56e0\uff09",
            "example": "Success"
          },
          "data": {
            "description": "\u54cd\u5e94\u6570\u636e\uff08\u6839\u636e\u4e0d\u540c\u63a5\u53e3\u8fd4\u56de\u4e0d\u540c\u5185\u5bb9\uff0c\u5931\u8d25\u65f6\u53ef\u80fd\u4e3a\u7a7a\uff09",
            "oneOf": [
              {
                "type": "array",
                "items": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/Account"
                    },
                    {
                      "$ref": "#/components/schemas/Tag"
                    },
                    {
                      "$ref": "#/components/schemas/SharePage"
                    }
                  ]
                }
              },
              {
                "type": "object"
              }
            ]
          }
        }
      },
      "Error": {
        "type": "object",
        "description": "\u9519\u8bef\u54cd\u5e94\u683c\u5f0f\uff08\u8ba4\u8bc1\u5931\u8d25\u7b49\u9519\u8bef\uff09",
        "properties": {
          "ret": {
            "type": "integer",
            "description": "\u8fd4\u56de\u72b6\u6001\uff0c\u56fa\u5b9a\u4e3a 0\uff08\u8868\u793a\u5931\u8d25\uff09",
            "enum": [
              0
            ],
            "example": 0
          },
          "msg": {
            "type": "string",
            "description": "\u9519\u8bef\u6d88\u606f\uff08\u63cf\u8ff0\u5177\u4f53\u9519\u8bef\u539f\u56e0\uff09",
            "example": "Invalid API Key"
          },
          "data": {
            "type": "array",
            "description": "\u7a7a\u6570\u7ec4\uff08\u4fdd\u6301\u683c\u5f0f\u4e00\u81f4\u6027\uff09",
            "items": {},
            "example": []
          }
        }
      }
    },
    "responses": {
      "UnauthorizedError": {
        "description": "\u8ba4\u8bc1\u5931\u8d25 - API Key \u7f3a\u5931\u6216\u65e0\u6548",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "examples": {
              "missingKey": {
                "summary": "\u7f3a\u5c11 API Key",
                "value": {
                  "ret": 0,
                  "msg": "API Key is required. Please provide X-API-Key header.",
                  "data": []
                }
              },
              "invalidKey": {
                "summary": "\u65e0\u6548\u7684 API Key",
                "value": {
                  "ret": 0,
                  "msg": "Invalid API Key",
                  "data": []
                }
              }
            }
          }
        }
      },
      "ForbiddenError": {
        "description": "\u7981\u6b62\u8bbf\u95ee - \u8d26\u53f7\u5df2\u7981\u7528",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "example": {
              "ret": 0,
              "msg": "User account is disabled",
              "data": []
            }
          }
        }
      }
    }
  }
}