{
  "swagger": "2.0",
  "info": {
    "version": "v1",
    "title": "OnAir",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/GITHUB_123/onair/v1"
  },
  "host": "server1.onair.company",
  "schemes": [
    "https"
  ],
  "paths": {
    "/api/v1/twitchoverlay/{companyId}": {
      "get": {
        "tags": [
          "WSAPIPublic"
        ],
        "operationId": "WSAPIPublic_GetTwitchData",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/WSResult[WSResultTwitchData]"
            }
          }
        }
      }
    },
    "/api/v1/va/{vaId}": {
      "get": {
        "tags": [
          "WSAPIPublic"
        ],
        "operationId": "WSAPIPublic_GetVADetail",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "vaId",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/WSResult[VA]"
            }
          }
        }
      }
    },
    "/api/v1/va/{vaId}/members": {
      "get": {
        "tags": [
          "WSAPIPublic"
        ],
        "operationId": "WSAPIPublic_GetVAMembers",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "vaId",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/WSResult[List[VAMember]]"
            }
          }
        }
      }
    },
    "/api/v1/va/{vaId}/shareholders": {
      "get": {
        "tags": [
          "WSAPIPublic"
        ],
        "operationId": "WSAPIPublic_GetVAShareHolders",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "vaId",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/WSResult[List[VAShareHolder]]"
            }
          }
        }
      }
    },
    "/api/v1/va/{vaId}/roles": {
      "get": {
        "tags": [
          "WSAPIPublic"
        ],
        "operationId": "WSAPIPublic_GetVARoles",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "vaId",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/WSResult[List[VARole]]"
            }
          }
        }
      }
    },
    "/api/v1/company/{companyId}": {
      "get": {
        "tags": [
          "WSAPIPublic"
        ],
        "operationId": "WSAPIPublic_GetCompanyDetail",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/WSResult[Company]"
            }
          }
        }
      }
    },
    "/api/v1/company/{companyId}/fleet": {
      "get": {
        "tags": [
          "WSAPIPublic"
        ],
        "operationId": "WSAPIPublic_GetCompanyFleet",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/WSResult[List[Aircraft]]"
            }
          }
        }
      }
    },
    "/api/v1/company/{companyId}/employees": {
      "get": {
        "tags": [
          "WSAPIPublic"
        ],
        "operationId": "WSAPIPublic_GetCompanyEmployees",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/WSResult[List[People]]"
            }
          }
        }
      }
    },
    "/api/v1/company/{companyId}/flights": {
      "get": {
        "tags": [
          "WSAPIPublic"
        ],
        "operationId": "WSAPIPublic_GetCompanyFlights",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "startIndex",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/WSResult[List[Flight]]"
            }
          }
        }
      }
    },
    "/api/v1/company/{companyId}/workorders": {
      "get": {
        "tags": [
          "WSAPIPublic"
        ],
        "operationId": "WSAPIPublic_GetCompanyWorkOrders",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/WSResult[List[WorkOrder]]"
            }
          }
        }
      }
    },
    "/api/v1/company/{companyId}/workorders/{aircraftId}": {
      "get": {
        "tags": [
          "WSAPIPublic"
        ],
        "operationId": "WSAPIPublic_GetCompanyWorkOrders",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "aircraftId",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/WSResult[List[WorkOrder]]"
            }
          }
        }
      }
    },
    "/api/v1/company/{companyId}/jobs/pending": {
      "get": {
        "tags": [
          "WSAPIPublic"
        ],
        "operationId": "WSAPIPublic_GetCompanyPendingJobs",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/WSResult[List[Mission]]"
            }
          }
        }
      }
    },
    "/api/v1/company/{companyId}/jobs/completed": {
      "get": {
        "tags": [
          "WSAPIPublic"
        ],
        "operationId": "WSAPIPublic_GetCompanyCompletedJobs",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/WSResult[List[Mission]]"
            }
          }
        }
      }
    },
    "/api/v1/company/{companyId}/missionflighttracks": {
      "get": {
        "tags": [
          "WSAPIPublic"
        ],
        "operationId": "WSAPIPublic_GetCompanyMissionsFlightTracks",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/WSResult[List[MissionFlightTrack]]"
            }
          }
        }
      }
    },
    "/api/v1/company/{companyId}/fbos": {
      "get": {
        "tags": [
          "WSAPIPublic"
        ],
        "operationId": "WSAPIPublic_GetCompanyFBOs",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/WSResult[List[FBO]]"
            }
          }
        }
      }
    },
    "/api/v1/company/{companyId}/cashflow": {
      "get": {
        "tags": [
          "WSAPIPublic"
        ],
        "operationId": "WSAPIPublic_GetCompanyCashFlow",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/WSResult[WSGetCompanyCashFlow]"
            }
          }
        }
      }
    },
    "/api/v1/company/{companyId}/incomestatement": {
      "get": {
        "tags": [
          "WSAPIPublic"
        ],
        "operationId": "WSAPIPublic_GetCompanyIncomeStatement",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "startDate",
            "in": "query",
            "required": true,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "endDate",
            "in": "query",
            "required": true,
            "type": "string",
            "format": "date-time"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/WSResult[WSGetCompanyIncomes]"
            }
          }
        }
      }
    },
    "/api/v1/company/{companyId}/balancesheet": {
      "get": {
        "tags": [
          "WSAPIPublic"
        ],
        "operationId": "WSAPIPublic_GetCompanyCashBalanceSheet",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/WSResult[WSGetCompanyBalanceSheet]"
            }
          }
        }
      }
    },
    "/api/v1/company/{companyId}/dashboard": {
      "get": {
        "tags": [
          "WSAPIPublic"
        ],
        "operationId": "WSAPIPublic_GetCompanyDashboard",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/WSResult[WSCompanyData]"
            }
          }
        }
      }
    },
    "/api/v1/company/{companyId}/notifications": {
      "get": {
        "tags": [
          "WSAPIPublic"
        ],
        "operationId": "WSAPIPublic_GetCompanyNotifications",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "startIndex",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/WSResult[List[Log]]"
            }
          }
        }
      }
    },
    "/api/v1/aircraft/{aircraftId}": {
      "get": {
        "tags": [
          "WSAPIPublic"
        ],
        "operationId": "WSAPIPublic_GetAircraftDetail",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "aircraftId",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/WSResult[Aircraft]"
            }
          }
        }
      }
    },
    "/api/v1/aircraft/{aircraftId}/flights": {
      "get": {
        "tags": [
          "WSAPIPublic"
        ],
        "operationId": "WSAPIPublic_GetAircraftFlights",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "aircraftId",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "startIndex",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/WSResult[List[Flight]]"
            }
          }
        }
      }
    },
    "/api/v1/aircraft/{aircraftId}/maintenance_costs": {
      "get": {
        "tags": [
          "WSAPIPublic"
        ],
        "operationId": "WSAPIPublic_GetAircraftMaintenanceCosts",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "aircraftId",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/WSResult[WSResultAircraftMaintenanceCosts]"
            }
          }
        }
      }
    },
    "/api/v1/aircraft/{aircraftId}/economic_details": {
      "get": {
        "tags": [
          "WSAPIPublic"
        ],
        "operationId": "WSAPIPublic_GetAircraftEconomicDetails",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "aircraftId",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/WSResult[WSResult[AircraftTypeBalanceData]]"
            }
          }
        }
      }
    },
    "/api/v1/employee/{employeeId}": {
      "get": {
        "tags": [
          "WSAPIPublic"
        ],
        "operationId": "WSAPIPublic_GetEmployeeDetail",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "employeeId",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/WSResult[People]"
            }
          }
        }
      }
    },
    "/api/v1/airports/{icao}": {
      "get": {
        "tags": [
          "WSAPIPublic"
        ],
        "operationId": "WSAPIPublic_GetAirportDetail",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "icao",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/WSResult[Airport]"
            }
          }
        }
      }
    },
    "/api/v1/airports/{icao}/aircraft": {
      "get": {
        "tags": [
          "WSAPIPublic"
        ],
        "operationId": "WSAPIPublic_GetAircraftAtAirport",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "icao",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/WSResult[List[Aircraft]]"
            }
          }
        }
      }
    },
    "/api/v1/aircrafttypes/{aircraftTypeId}": {
      "get": {
        "tags": [
          "WSAPIPublic"
        ],
        "operationId": "WSAPIPublic_GetAircraftTypeDetail",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "aircraftTypeId",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/WSResult[AircraftType]"
            }
          }
        }
      }
    },
    "/api/v1/fbo/{fboId}/jobs": {
      "get": {
        "tags": [
          "WSAPIPublic"
        ],
        "operationId": "WSAPIPublic_GetFBOJobs",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "fboId",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/WSResult[List[Mission]]"
            }
          }
        }
      }
    },
    "/api/v1/flights/{flightId}": {
      "get": {
        "tags": [
          "WSAPIPublic"
        ],
        "operationId": "WSAPIPublic_GetFlight",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "flightId",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/WSResult[Flight]"
            }
          }
        }
      }
    },
    "/api/v1/flights/{flightId}/zipped_events": {
      "get": {
        "tags": [
          "WSAPIPublic"
        ],
        "operationId": "WSAPIPublic_GetFlightZippedEvents",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "flightId",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/WSResult[Byte[]]"
            }
          }
        }
      }
    },
    "/api/v1/flights/{flightId}/zipped_flightplan": {
      "get": {
        "tags": [
          "WSAPIPublic"
        ],
        "operationId": "WSAPIPublic_GetFlightZippedSimBrief",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "flightId",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/WSResult[Byte[]]"
            }
          }
        }
      }
    },
    "/api/v1/zipped_metars": {
      "get": {
        "tags": [
          "WSAPIPublic"
        ],
        "operationId": "WSAPIPublic_GetZippedMetars",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "date",
            "in": "query",
            "required": true,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "metar.id",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "metar.decodedWindDirection",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "metar.decodedWindSpeedKT",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "metar.decodedCloudBaseInFeet",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "metar.decodedCloudCoverage",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "metar.decodedQNH",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "metar.decodedTemperature",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "metar.decodeDewPoint",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "metar.decodedVisibilityInMeters",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "metar.decodedDateTime",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "metar.airportICAO",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "metar.visibility",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "metar.wind",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "metar.precipitation",
            "in": "query",
            "required": false,
            "type": "number",
            "format": "double"
          },
          {
            "name": "metar.freezing",
            "in": "query",
            "required": false,
            "type": "number",
            "format": "double"
          },
          {
            "name": "metar.dangerous",
            "in": "query",
            "required": false,
            "type": "number",
            "format": "double"
          },
          {
            "name": "metar.vMC_IMC",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "metar.latitude",
            "in": "query",
            "required": false,
            "type": "number",
            "format": "double"
          },
          {
            "name": "metar.longitude",
            "in": "query",
            "required": false,
            "type": "number",
            "format": "double"
          },
          {
            "name": "metar.rawMetar",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "metar.datetime",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "metar.airportSize",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "metar.countryCode",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "metar.date",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "metar.airportName",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/WSResult[Byte[]]"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "WSResult[WSResultTwitchData]": {
      "type": "object",
      "properties": {
        "Content": {
          "$ref": "#/definitions/WSResultTwitchData"
        },
        "Error": {
          "type": "string"
        }
      }
    },
    "WSResultTwitchData": {
      "type": "object",
      "properties": {
        "Aircraft": {
          "$ref": "#/definitions/Aircraft"
        },
        "DepartureAirport": {
          "$ref": "#/definitions/Airport"
        },
        "ArrivalAirport": {
          "$ref": "#/definitions/Airport"
        },
        "ETA": {
          "format": "date-time",
          "type": "string"
        },
        "ArrivalMetar": {
          "$ref": "#/definitions/Metar"
        },
        "Cargos": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Cargo"
          }
        },
        "PAXs": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Charter"
          }
        },
        "TotalWeightLbs": {
          "format": "int32",
          "type": "integer"
        },
        "DistanceNM": {
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "Aircraft": {
      "type": "object",
      "properties": {
        "Id": {
          "format": "uuid",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000000"
        },
        "AircraftTypeId": {
          "format": "uuid",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000000"
        },
        "AircraftType": {
          "$ref": "#/definitions/AircraftType"
        },
        "Nickname": {
          "type": "string"
        },
        "WorldId": {
          "format": "uuid",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000000"
        },
        "World": {
          "$ref": "#/definitions/World"
        },
        "CompanyId": {
          "format": "uuid",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000000"
        },
        "Company": {
          "$ref": "#/definitions/Company"
        },
        "CurrentAirportId": {
          "format": "uuid",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000000"
        },
        "CurrentAirport": {
          "$ref": "#/definitions/Airport"
        },
        "AircraftStatus": {
          "format": "int32",
          "enum": [
            0,
            1,
            2,
            3,
            4,
            5
          ],
          "type": "integer"
        },
        "LastStatusChange": {
          "format": "date-time",
          "type": "string"
        },
        "CurrentStatusDurationInMinutes": {
          "format": "int32",
          "type": "integer"
        },
        "AllowSell": {
          "type": "boolean"
        },
        "AllowRent": {
          "type": "boolean"
        },
        "AllowLease": {
          "type": "boolean"
        },
        "SellPrice": {
          "format": "double",
          "type": "number"
        },
        "RentHourPrice": {
          "format": "double",
          "type": "number"
        },
        "RentMaxDate": {
          "format": "date-time",
          "type": "string"
        },
        "RentAirportId": {
          "format": "uuid",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000000"
        },
        "RentAirport": {
          "$ref": "#/definitions/Airport"
        },
        "RentFuelTotalGallons": {
          "format": "double",
          "type": "number"
        },
        "RentCautionAmount": {
          "format": "double",
          "type": "number"
        },
        "RentCompanyId": {
          "format": "uuid",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000000"
        },
        "RentCompany": {
          "$ref": "#/definitions/Company"
        },
        "RentStartDate": {
          "format": "date-time",
          "type": "string"
        },
        "RentLastDailyChargeDate": {
          "format": "date-time",
          "type": "string"
        },
        "AircraftLeaseId": {
          "format": "uuid",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000000"
        },
        "AircraftLease": {
          "$ref": "#/definitions/AircraftLease"
        },
        "Identifier": {
          "type": "string"
        },
        "Heading": {
          "format": "double",
          "type": "number"
        },
        "Longitude": {
          "format": "double",
          "type": "number"
        },
        "Latitude": {
          "format": "double",
          "type": "number"
        },
        "fuelTotalGallons": {
          "format": "double",
          "type": "number"
        },
        "fuelWeight": {
          "format": "int32",
          "type": "integer"
        },
        "Altitude": {
          "format": "double",
          "type": "number"
        },
        "IndicatedSpeed": {
          "format": "double",
          "type": "number"
        },
        "GroundSpeed": {
          "format": "double",
          "type": "number"
        },
        "InFlightStatus": {
          "format": "int32",
          "enum": [
            0,
            1,
            2,
            3,
            4,
            5,
            6,
            7,
            8,
            9,
            10,
            11
          ],
          "type": "integer"
        },
        "loadedWeight": {
          "format": "double",
          "type": "number"
        },
        "zeroFuelWeight": {
          "format": "int32",
          "type": "integer"
        },
        "airframeHours": {
          "format": "double",
          "type": "number"
        },
        "airframeCondition": {
          "format": "double",
          "type": "number"
        },
        "AirframeMaxCondition": {
          "format": "double",
          "type": "number"
        },
        "LastAnnualCheckup": {
          "format": "date-time",
          "type": "string"
        },
        "Last100hInspection": {
          "format": "date-time",
          "type": "string"
        },
        "LastWeeklyOwnershipPayment": {
          "format": "date-time",
          "type": "string"
        },
        "LastParkingFeePayment": {
          "format": "date-time",
          "type": "string"
        },
        "IsControlledByAI": {
          "type": "boolean"
        },
        "HoursBefore100HInspection": {
          "format": "double",
          "type": "number"
        },
        "Failures": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/AircraftFailure"
          }
        },
        "Engines": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Engine"
          }
        },
        "ConfigFirstSeats": {
          "format": "int32",
          "type": "integer"
        },
        "ConfigBusSeats": {
          "format": "int32",
          "type": "integer"
        },
        "ConfigEcoSeats": {
          "format": "int32",
          "type": "integer"
        },
        "SeatsReservedForEmployees": {
          "format": "int32",
          "type": "integer"
        },
        "AssignedWorkId": {
          "format": "uuid",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000000"
        },
        "AssignedWork": {
          "$ref": "#/definitions/AssignedWork"
        },
        "LastMagicTransportationDate": {
          "format": "date-time",
          "type": "string"
        },
        "AircraftMaintenanceId": {
          "format": "uuid",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000000"
        },
        "AircraftMaintenance": {
          "$ref": "#/definitions/AircraftMaintenance"
        },
        "RestrictedMissionId": {
          "format": "uuid",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000000"
        },
        "LastJobTowardBaseGenerationDate": {
          "format": "date-time",
          "type": "string"
        },
        "RestrictedMission": {
          "$ref": "#/definitions/Mission"
        },
        "CurrentWorkOrder": {
          "$ref": "#/definitions/WorkOrder"
        },
        "CurrentFlight": {
          "$ref": "#/definitions/Flight"
        },
        "CurrentCompanyId": {
          "format": "uuid",
          "type": "string",
          "readOnly": true,
          "example": "00000000-0000-0000-0000-000000000000"
        },
        "CurrentCompanyIdIfAny": {
          "format": "uuid",
          "type": "string",
          "readOnly": true,
          "example": "00000000-0000-0000-0000-000000000000"
        },
        "ExtraWeightCapacity": {
          "format": "double",
          "type": "number"
        },
        "TotalWeightCapacity": {
          "format": "double",
          "type": "number"
        },
        "CurrentSeats": {
          "format": "int32",
          "type": "integer"
        },
        "MustDoMaintenance": {
          "type": "boolean"
        },
        "MustDoMaintenanceDisplay": {
          "type": "string"
        },
        "MustDoMaintenanceSoon": {
          "type": "boolean"
        },
        "MustDoMaintenanceSoonDisplay": {
          "type": "string"
        },
        "MaintenanceDisplay": {
          "type": "string"
        }
      }
    },
    "Airport": {
      "type": "object",
      "properties": {
        "Id": {
          "format": "uuid",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000000"
        },
        "ICAO": {
          "maxLength": 8,
          "minLength": 0,
          "type": "string"
        },
        "HasNoRunways": {
          "type": "boolean"
        },
        "TimeOffsetInSec": {
          "format": "double",
          "type": "number"
        },
        "LocalTimeOpenInHoursSinceMidnight": {
          "format": "double",
          "type": "number"
        },
        "LocalTimeCloseInHoursSinceMidnight": {
          "format": "double",
          "type": "number"
        },
        "IsSameICAO": {
          "type": "string"
        },
        "IATA": {
          "type": "string"
        },
        "Name": {
          "type": "string"
        },
        "State": {
          "type": "string"
        },
        "CountryCode": {
          "type": "string"
        },
        "CountryName": {
          "type": "string"
        },
        "City": {
          "type": "string"
        },
        "Latitude": {
          "format": "double",
          "type": "number"
        },
        "Longitude": {
          "format": "double",
          "type": "number"
        },
        "Elevation": {
          "format": "double",
          "type": "number"
        },
        "HasLandRunway": {
          "type": "boolean"
        },
        "HasWaterRunway": {
          "type": "boolean"
        },
        "HasHelipad": {
          "type": "boolean"
        },
        "Size": {
          "format": "int32",
          "type": "integer"
        },
        "TransitionAltitude": {
          "format": "int32",
          "type": "integer"
        },
        "LastMETARDate": {
          "format": "date-time",
          "type": "string"
        },
        "LastMETARRaw": {
          "type": "string"
        },
        "Runways": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Runway"
          }
        },
        "Helipads": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Helipad"
          }
        },
        "AirportLocations": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/AirportLocation"
          }
        },
        "AirportFrequencies": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/AirportFrequency"
          }
        },
        "AirportSceneryDecorations": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/AirportSceneryDecoration"
          }
        },
        "AirportTerrainMarkers": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/AirportTerrainMarker"
          }
        },
        "AirportOwnerships": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/AirportOwnership"
          }
        },
        "AirportTransitedGoodsEntries": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/AirportTransitedGoodsEntry"
          }
        },
        "IsNotInVanillaFSX": {
          "type": "boolean"
        },
        "IsNotInVanillaP3D": {
          "type": "boolean"
        },
        "IsNotInVanillaXPLANE": {
          "type": "boolean"
        },
        "IsNotInVanillaFS2020": {
          "type": "boolean"
        },
        "IsClosed": {
          "type": "boolean"
        },
        "IsValid": {
          "type": "boolean"
        },
        "MagVar": {
          "format": "double",
          "type": "number"
        },
        "IsAddon": {
          "type": "boolean"
        },
        "AddOnDownloadUrl": {
          "type": "string"
        },
        "Description": {
          "type": "string"
        },
        "Orientation": {
          "format": "double",
          "type": "number"
        },
        "HomeWebSiteUrl": {
          "type": "string"
        },
        "WikiUrl": {
          "type": "string"
        },
        "DisplaySceneryInSim": {
          "type": "boolean"
        },
        "SceneryLatitude": {
          "format": "double",
          "type": "number"
        },
        "SceneryLongitude": {
          "format": "double",
          "type": "number"
        },
        "RandomSeed": {
          "format": "int32",
          "type": "integer"
        },
        "LastRandomSeedGeneration": {
          "format": "date-time",
          "type": "string"
        },
        "IsMilitary": {
          "type": "boolean"
        },
        "HasLights": {
          "type": "boolean"
        },
        "IsBasecamp": {
          "type": "boolean"
        },
        "LastHangarFeesProcessDate": {
          "format": "date-time",
          "type": "string"
        },
        "MapSurfaceType": {
          "format": "int32",
          "enum": [
            1,
            2,
            4
          ],
          "type": "integer"
        },
        "CreationDate": {
          "format": "date-time",
          "type": "string"
        },
        "IsInSimbrief": {
          "type": "boolean"
        },
        "AirportSource": {
          "format": "int32",
          "enum": [
            0,
            1,
            2,
            3
          ],
          "type": "integer"
        },
        "LastVeryShortRequestDate": {
          "format": "date-time",
          "type": "string"
        },
        "LastSmallTripRequestDate": {
          "format": "date-time",
          "type": "string"
        },
        "LastMediumTripRequestDate": {
          "format": "date-time",
          "type": "string"
        },
        "LastShortHaulRequestDate": {
          "format": "date-time",
          "type": "string"
        },
        "LastMediumHaulRequestDate": {
          "format": "date-time",
          "type": "string"
        },
        "LastLongHaulRequestDate": {
          "format": "date-time",
          "type": "string"
        },
        "DisplayName": {
          "type": "string"
        },
        "UTCTimeOpenInHoursSinceMidnight": {
          "format": "double",
          "type": "number"
        },
        "UTCTimeCloseInHoursSinceMidnight": {
          "format": "double",
          "type": "number"
        }
      }
    },
    "Metar": {
      "type": "object",
      "properties": {
        "Id": {
          "format": "uuid",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000000"
        },
        "DecodedWindDirection": {
          "format": "int32",
          "type": "integer"
        },
        "DecodedWindSpeedKT": {
          "format": "int32",
          "type": "integer"
        },
        "DecodedCloudBaseInFeet": {
          "format": "int32",
          "type": "integer"
        },
        "DecodedCloudCoverage": {
          "format": "int32",
          "type": "integer"
        },
        "DecodedQNH": {
          "format": "int32",
          "type": "integer"
        },
        "DecodedTemperature": {
          "format": "int32",
          "type": "integer"
        },
        "DecodeDewPoint": {
          "format": "int32",
          "type": "integer"
        },
        "DecodedVisibilityInMeters": {
          "format": "int32",
          "type": "integer"
        },
        "DecodedDateTime": {
          "format": "date-time",
          "type": "string"
        },
        "AirportICAO": {
          "type": "string"
        },
        "Visibility": {
          "format": "int32",
          "type": "integer"
        },
        "Wind": {
          "format": "int32",
          "type": "integer"
        },
        "Precipitation": {
          "format": "double",
          "type": "number"
        },
        "Freezing": {
          "format": "double",
          "type": "number"
        },
        "Dangerous": {
          "format": "double",
          "type": "number"
        },
        "VMC_IMC": {
          "format": "int32",
          "type": "integer"
        },
        "Latitude": {
          "format": "double",
          "type": "number"
        },
        "Longitude": {
          "format": "double",
          "type": "number"
        },
        "RawMetar": {
          "type": "string"
        },
        "Datetime": {
          "format": "date-time",
          "type": "string"
        },
        "AirportSize": {
          "format": "int32",
          "type": "integer"
        },
        "CountryCode": {
          "type": "string"
        },
        "Date": {
          "type": "string"
        },
        "AirportName": {
          "type": "string"
        }
      }
    },
    "Cargo": {
      "type": "object",
      "properties": {
        "Id": {
          "format": "uuid",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000000"
        },
        "MissionId": {
          "format": "uuid",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000000"
        },
        "Mission": {
          "$ref": "#/definitions/Mission"
        },
        "CargoTypeId": {
          "format": "uuid",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000000"
        },
        "CargoType": {
          "$ref": "#/definitions/CargoType"
        },
        "CurrentAircraftId": {
          "format": "uuid",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000000"
        },
        "CurrentAircraft": {
          "$ref": "#/definitions/Aircraft"
        },
        "CurrentAirportId": {
          "format": "uuid",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000000"
        },
        "CurrentAirport": {
          "$ref": "#/definitions/Airport"
        },
        "Weight": {
          "format": "double",
          "type": "number"
        },
        "DepartureAirportId": {
          "format": "uuid",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000000"
        },
        "DepartureAirport": {
          "$ref": "#/definitions/Airport"
        },
        "DestinationAirportId": {
          "format": "uuid",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000000"
        },
        "DestinationAirport": {
          "$ref": "#/definitions/Airport"
        },
        "AssignedToVAMemberId": {
          "format": "uuid",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000000"
        },
        "AssignedToVAMember": {
          "$ref": "#/definitions/VAMember"
        },
        "RegularRouteId": {
          "format": "uuid",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000000"
        },
        "RegularRoute": {
          "$ref": "#/definitions/RegularRoute"
        },
        "RegularRouteFlightId": {
          "format": "uuid",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000000"
        },
        "RegularRouteFlight": {
          "$ref": "#/definitions/RegularRouteFlight"
        },
        "FreelanceRouteFlightId": {
          "format": "uuid",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000000"
        },
        "FreelanceRouteFlight": {
          "$ref": "#/definitions/FreelanceRouteFlight"
        },
        "LastUnloadDate": {
          "format": "date-time",
          "type": "string"
        },
        "LastUnloadAirportId": {
          "format": "uuid",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000000"
        },
        "LastUnloadAirport": {
          "$ref": "#/definitions/Airport"
        },
        "Distance": {
          "format": "double",
          "type": "number"
        },
        "Heading": {
          "format": "double",
          "type": "number"
        },
        "CargoAvailableTime": {
          "format": "date-time",
          "type": "string"
        },
        "ScenarioTag": {
          "type": "string"
        },
        "AssignedWorkId": {
          "format": "uuid",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000000"
        },
        "AssignedWork": {
          "$ref": "#/definitions/AssignedWork"
        },
        "Description": {
          "type": "string"
        },
        "HumanOnly": {
          "type": "boolean"
        },
        "CompanyId": {
          "format": "uuid",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000000"
        },
        "Company": {
          "$ref": "#/definitions/Company"
        },
        "CharterPOIMappings": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/CharterPOIMapping"
          }
        },
        "InRecyclingPool": {
          "type": "boolean"
        },
        "Condition": {
          "format": "double",
          "type": "number"
        },
        "MaxBank": {
          "format": "double",
          "type": "number"
        },
        "MaxPitch": {
          "format": "double",
          "type": "number"
        },
        "MaxGForce": {
          "format": "double",
          "type": "number"
        },
        "MaxAltitudeInFeet": {
          "format": "double",
          "type": "number"
        },
        "MaxCorridorInNM": {
          "format": "double",
          "type": "number"
        },
        "RaceId": {
          "format": "uuid",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000000"
        },
        "Race": {
          "$ref": "#/definitions/Race"
        },
        "RaceValidated": {
          "type": "boolean"
        },
        "AllowedAircraft": {
          "type": "string"
        },
        "IncidentId": {
          "format": "uuid",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000000"
        },
        "Incident": {
          "$ref": "#/definitions/Incident"
        },
        "MerchandiseId": {
          "format": "uuid",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000000"
        },
        "Merchandise": {
          "$ref": "#/definitions/Merchandise"
        },
        "LegIndex": {
          "format": "int32",
          "type": "integer"
        },
        "RescueValidated": {
          "type": "boolean"
        },
        "RescueLate": {
          "type": "boolean"
        }
      }
    },
    "Charter": {
      "type": "object",
      "properties": {
        "Id": {
          "format": "uuid",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000000"
        },
        "MissionId": {
          "format": "uuid",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000000"
        },
        "Mission": {
          "$ref": "#/definitions/Mission"
        },
        "CharterTypeId": {
          "format": "uuid",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000000"
        },
        "CharterType": {
          "$ref": "#/definitions/CharterType"
        },
        "CurrentAircraftId": {
          "format": "uuid",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000000"
        },
        "CurrentAircraft": {
          "$ref": "#/definitions/Aircraft"
        },
        "CurrentAirportId": {
          "format": "uuid",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000000"
        },
        "CurrentAirport": {
          "$ref": "#/definitions/Airport"
        },
        "PassengersNumber": {
          "format": "int32",
          "type": "integer"
        },
        "DepartureAirportId": {
          "format": "uuid",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000000"
        },
        "DepartureAirport": {
          "$ref": "#/definitions/Airport"
        },
        "DestinationAirportId": {
          "format": "uuid",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000000"
        },
        "DestinationAirport": {
          "$ref": "#/definitions/Airport"
        },
        "AssignedToVAMemberId": {
          "format": "uuid",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000000"
        },
        "AssignedToVAMember": {
          "$ref": "#/definitions/VAMember"
        },
        "RegularRouteId": {
          "format": "uuid",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000000"
        },
        "RegularRoute": {
          "$ref": "#/definitions/RegularRoute"
        },
        "RegularRouteFlightId": {
          "format": "uuid",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000000"
        },
        "RegularRouteFlight": {
          "$ref": "#/definitions/RegularRouteFlight"
        },
        "FreelanceRouteFlightId": {
          "format": "uuid",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000000"
        },
        "FreelanceRouteFlight": {
          "$ref": "#/definitions/FreelanceRouteFlight"
        },
        "Distance": {
          "format": "double",
          "type": "number"
        },
        "Heading": {
          "format": "double",
          "type": "number"
        },
        "CharterAvailableTime": {
          "format": "date-time",
          "type": "string"
        },
        "ScenarioTag": {
          "type": "string"
        },
        "AssignedWorkId": {
          "format": "uuid",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000000"
        },
        "AssignedWork": {
          "$ref": "#/definitions/AssignedWork"
        },
        "Description": {
          "type": "string"
        },
        "LastUnloadDate": {
          "format": "date-time",
          "type": "string"
        },
        "LastUnloadAirportId": {
          "format": "uuid",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000000"
        },
        "LastUnloadAirport": {
          "$ref": "#/definitions/Airport"
        },
        "HumanOnly": {
          "type": "boolean"
        },
        "CompanyId": {
          "format": "uuid",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000000"
        },
        "Company": {
          "$ref": "#/definitions/Company"
        },
        "CharterPOIMappings": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/CharterPOIMapping"
          }
        },
        "InRecyclingPool": {
          "type": "boolean"
        },
        "Condition": {
          "format": "double",
          "type": "number"
        },
        "MaxBank": {
          "format": "double",
          "type": "number"
        },
        "MaxPitch": {
          "format": "double",
          "type": "number"
        },
        "MaxGForce": {
          "format": "double",
          "type": "number"
        },
        "MaxAltitudeInFeet": {
          "format": "double",
          "type": "number"
        },
        "MaxCorridorInNM": {
          "format": "double",
          "type": "number"
        },
        "MinPAXSeatConf": {
          "format": "int32",
          "enum": [
            0,
            1,
            2
          ],
          "type": "integer"
        },
        "BoardedPAXSeat": {
          "format": "int32",
          "enum": [
            0,
            1,
            2
          ],
          "type": "integer"
        },
        "MinAircraftTypeLuxe": {
          "format": "double",
          "type": "number"
        },
        "AllowedAircraft": {
          "type": "string"
        },
        "IncidentId": {
          "format": "uuid",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000000"
        },
        "Incident": {
          "$ref": "#/definitions/Incident"
        },
        "MerchandiseId": {
          "format": "uuid",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000000"
        },
        "Merchandise": {
          "$ref": "#/definitions/Merchandise"
        },
        "LegIndex": {
          "format": "int32",
          "type": "integer"
        },
        "RescueValidated": {
          "type": "boolean"
        },
        "RescueLate": {
          "type": "boolean"
        }
      }
    },
    "AircraftType": {
      "type": "object",
      "properties": {
        "Id": {
          "format": "uuid",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000000"
        },
        "Hash": {
          "type": "string"
        },
        "AircraftClassId": {
          "format": "uuid",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000000"
        },
        "AircraftClass": {
          "$ref": "#/definitions/AircraftClass"
        },
        "CreationDate": {
          "format": "date-time",
          "type": "string"
        },
        "LastModerationDate": {
          "format": "date-time",
          "type": "string"
        },
        "DisplayName": {
          "type": "string"
        },
        "TypeName": {
          "type": "string"
        },
        "FlightsCount": {
          "format": "int32",
          "type": "integer"
        },
        "TimeBetweenOverhaul": {
          "format": "int32",
          "type": "integer"
        },
        "HightimeAirframe": {
          "format": "int32",
          "type": "integer"
        },
        "AirportMinSize": {
          "format": "int32",
          "type": "integer"
        },
        "emptyWeight": {
          "format": "int32",
          "type": "integer"
        },
        "maximumGrossWeight": {
          "format": "int32",
          "type": "integer"
        },
        "estimatedCruiseFF": {
          "format": "int32",
          "type": "integer"
        },
        "Baseprice": {
          "format": "double",
          "type": "number"
        },
        "FuelTotalCapacityInGallons": {
          "format": "double",
          "type": "number"
        },
        "engineType": {
          "format": "int32",
          "type": "integer"
        },
        "numberOfEngines": {
          "format": "int32",
          "type": "integer"
        },
        "seats": {
          "format": "int32",
          "type": "integer"
        },
        "needsCopilot": {
          "type": "boolean"
        },
        "fuelType": {
          "format": "int32",
          "type": "integer"
        },
        "maximumCargoWeight": {
          "format": "int32",
          "type": "integer"
        },
        "maximumRangeInHour": {
          "format": "double",
          "type": "number"
        },
        "maximumRangeInNM": {
          "format": "double",
          "type": "number"
        },
        "designSpeedVS0": {
          "format": "double",
          "type": "number"
        },
        "designSpeedVS1": {
          "format": "double",
          "type": "number"
        },
        "designSpeedVC": {
          "format": "double",
          "type": "number"
        },
        "IsDisabled": {
          "type": "boolean"
        },
        "ModerationComment": {
          "type": "string"
        },
        "AircraftDataSheetUrl": {
          "type": "string"
        },
        "DiscussionUrl": {
          "type": "string"
        },
        "LuxeFactor": {
          "format": "double",
          "type": "number"
        },
        "GliderHasEngine": {
          "type": "boolean"
        },
        "AircraftAddons": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/AircraftAddon"
          }
        },
        "StandardSeatWeight": {
          "format": "double",
          "type": "number"
        },
        "CostsData": {
          "$ref": "#/definitions/AircraftTypeCostsData"
        },
        "IsFighter": {
          "type": "boolean"
        },
        "EquipmentLevel": {
          "format": "int32",
          "type": "integer"
        },
        "ICAO": {
          "type": "string"
        }
      }
    },
    "World": {
      "type": "object",
      "properties": {
        "Id": {
          "format": "uuid",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000000"
        },
        "Name": {
          "type": "string"
        },
        "Color": {
          "type": "string"
        },
        "Subtitle": {
          "type": "string"
        },
        "Description": {
          "type": "string"
        },
        "StartCompanyText": {
          "type": "string"
        },
        "IsSurvival": {
          "type": "boolean"
        },
        "IsHumanOnly": {
          "type": "boolean"
        },
        "Fuel100LLBasePrice": {
          "format": "double",
          "type": "number"
        },
        "FuelJetBasePrice": {
          "format": "double",
          "type": "number"
        },
        "ShortName": {
          "type": "string"
        },
        "JobsPayBonus": {
          "format": "double",
          "type": "number"
        },
        "IsUnderMaintenance": {
          "type": "boolean"
        },
        "MaintenanceMessage": {
          "type": "string"
        },
        "IsActive": {
          "type": "boolean"
        },
        "Order": {
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "Company": {
      "type": "object",
      "properties": {
        "Id": {
          "format": "uuid",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000000"
        },
        "WorldId": {
          "format": "uuid",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000000"
        },
        "World": {
          "$ref": "#/definitions/World"
        },
        "Name": {
          "type": "string"
        },
        "AirlineCode": {
          "type": "string"
        },
        "LastConnection": {
          "format": "date-time",
          "type": "string"
        },
        "LastReportDate": {
          "format": "date-time",
          "type": "string"
        },
        "Reputation": {
          "format": "double",
          "type": "number"
        },
        "CreationDate": {
          "format": "date-time",
          "type": "string"
        },
        "DifficultyLevel": {
          "format": "int32",
          "type": "integer"
        },
        "UTCOffsetinHours": {
          "format": "double",
          "type": "number"
        },
        "Paused": {
          "type": "boolean"
        },
        "PausedDate": {
          "format": "date-time",
          "type": "string"
        },
        "Level": {
          "format": "int32",
          "type": "integer"
        },
        "LevelXP": {
          "format": "int32",
          "type": "integer"
        },
        "TransportEmployeeInstant": {
          "type": "boolean"
        },
        "TransportPlayerInstant": {
          "type": "boolean"
        },
        "ForceTimeInSimulator": {
          "type": "boolean"
        },
        "UseSmallAirports": {
          "type": "boolean"
        },
        "UseOnlyVanillaAirports": {
          "type": "boolean"
        },
        "EnableSkillTree": {
          "type": "boolean"
        },
        "CheckrideLevel": {
          "format": "int32",
          "enum": [
            0,
            1,
            2
          ],
          "type": "integer"
        },
        "EnableLandingPenalities": {
          "type": "boolean"
        },
        "EnableEmployeesFlightDutyAndSleep": {
          "type": "boolean"
        },
        "AircraftRentLevel": {
          "format": "int32",
          "enum": [
            0,
            1,
            2
          ],
          "type": "integer"
        },
        "EnableCargosAndChartersLoadingTime": {
          "type": "boolean"
        },
        "InSurvival": {
          "type": "boolean"
        },
        "PayBonusFactor": {
          "format": "double",
          "type": "number"
        },
        "EnableSimFailures": {
          "type": "boolean"
        },
        "DisableSeatsConfigCheck": {
          "type": "boolean"
        },
        "LastSwapDate": {
          "format": "date-time",
          "type": "string"
        },
        "MainAircraftId": {
          "format": "uuid",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000000"
        },
        "CompanySkillPoints": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/CompanySkillPoint"
          }
        },
        "RealisticSimProcedures": {
          "type": "boolean"
        },
        "Tag": {
          "type": "string"
        },
        "TravelTokens": {
          "format": "int32",
          "type": "integer"
        },
        "CurrentBadgeId": {
          "format": "uuid",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000000"
        },
        "CurrentBadgeUrl": {
          "type": "string"
        },
        "CurrentBadgeName": {
          "type": "string"
        },
        "LastWeeklyManagementsPaymentDate": {
          "format": "date-time",
          "type": "string"
        },
        "SkillTreeResetCount": {
          "format": "int32",
          "type": "integer"
        },
        "IndustryPoints": {
          "format": "int32",
          "type": "integer"
        },
        "TotalIndustryPoints": {
          "format": "int32",
          "type": "integer"
        },
        "TotalContractsCompleted": {
          "format": "int32",
          "type": "integer"
        },
        "TotalContractsEarnedCredits": {
          "format": "double",
          "type": "number"
        },
        "CompanyType": {
          "format": "int32",
          "enum": [
            0,
            1,
            2
          ],
          "type": "integer"
        },
        "Callsign": {
          "type": "string"
        },
        "AutoUnloadMerchandises": {
          "type": "boolean"
        },
        "ExcludeAirportsNotInSimbrief": {
          "type": "boolean"
        },
        "DisableFlightScoring": {
          "type": "boolean"
        },
        "SayIntentionsPilotKey": {
          "type": "string"
        },
        "EnableFlightScoringLights": {
          "type": "boolean"
        },
        "ManagementMode": {
          "format": "int32",
          "enum": [
            0,
            1
          ],
          "type": "integer"
        },
        "IsAdvancedManagementModeUnlocked": {
          "type": "boolean"
        },
        "LastManagementModeUpdateDate": {
          "format": "date-time",
          "type": "string"
        },
        "DiscordWebhooks": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/DiscordWebhookSetting"
          }
        }
      }
    },
    "AircraftLease": {
      "type": "object",
      "properties": {
        "Id": {
          "format": "uuid",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000000"
        },
        "Company": {
          "$ref": "#/definitions/Company"
        },
        "CompanyId": {
          "format": "uuid",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000000"
        },
        "WeeklyPayment": {
          "format": "double",
          "type": "number"
        },
        "StartDate": {
          "format": "date-time",
          "type": "string"
        },
        "EndDate": {
          "format": "date-time",
          "type": "string"
        },
        "NextWeeklyPaymentDate": {
          "format": "date-time",
          "type": "string"
        },
        "AircraftLeaseStatus": {
          "format": "int32",
          "enum": [
            0,
            1
          ],
          "type": "integer"
        },
        "StartAirframeCondition": {
          "format": "double",
          "type": "number"
        },
        "StartEnginesAverageCondition": {
          "format": "double",
          "type": "number"
        }
      }
    },
    "AircraftFailure": {
      "type": "object",
      "properties": {
        "Id": {
          "format": "uuid",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000000"
        },
        "AircraftId": {
          "format": "uuid",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000000"
        },
        "FailureType": {
          "format": "int32",
          "enum": [
            0,
            1,
            2,
            3,
            4,
            5,
            6,
            7
          ],
          "type": "integer"
        },
        "Condition": {
          "format": "double",
          "type": "number"
        }
      }
    },
    "Engine": {
      "type": "object",
      "properties": {
        "Id": {
          "format": "uuid",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000000"
        },
        "AircraftId": {
          "format": "uuid",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000000"
        },
        "Aircraft": {
          "$ref": "#/definitions/Aircraft"
        },
        "Number": {
          "format": "int32",
          "type": "integer"
        },
        "Condition": {
          "format": "double",
          "type": "number"
        },
        "MaxCondition": {
          "format": "double",
          "type": "number"
        },
        "EngineHours": {
          "format": "double",
          "type": "number"
        },
        "LastCheckup": {
          "format": "date-time",
          "type": "string"
        }
      }
    },
    "AssignedWork": {
      "type": "object",
      "properties": {
        "Id": {
          "format": "uuid",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000000"
        },
        "Price": {
          "format": "double",
          "type": "number"
        },
        "StartDate": {
          "format": "date-time",
          "type": "string"
        },
        "EndDate": {
          "format": "date-time",
          "type": "string"
        },
        "ExpirationDate": {
          "format": "date-time",
          "type": "string"
        },
        "AssignedFromCompanyId": {
          "format": "uuid",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000000"
        },
        "AssignedToCompanyId": {
          "format": "uuid",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000000"
        },
        "AssignedFromCompany": {
          "$ref": "#/definitions/Company"
        },
        "AssignedToCompany": {
          "$ref": "#/definitions/Company"
        },
        "Status": {
          "format": "int32",
          "enum": [
            0,
            1,
            2
          ],
          "type": "integer"
        },
        "FriendsOnly": {
          "type": "boolean"
        },
        "Cargos": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Cargo"
          }
        },
        "Charters": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Charter"
          }
        },
        "Aircrafts": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Aircraft"
          }
        }
      }
    },
    "AircraftMaintenance": {
      "type": "object",
      "properties": {
        "Id": {
          "format": "uuid",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000000"
        },
        "AnnualCheckup": {
          "type": "boolean"
        },
        "Inspection100Hours": {
          "type": "boolean"
        },
        "FailuresRepair": {
          "type": "boolean"
        },
        "AirframeRepair": {
          "type": "boolean"
        },
        "AirframeReplace": {
          "type": "boolean"
        },
        "EcoSeats": {
          "format": "int32",
          "type": "integer"
        },
        "BusSeats": {
          "format": "int32",
          "type": "integer"
        },
        "FirstClassSeats": {
          "format": "int32",
          "type": "integer"
        },
        "AirframeRepairCondition": {
          "format": "double",
          "type": "number"
        },
        "MaintenanceFBOId": {
          "format": "uuid",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000000"
        },
        "MaintenanceFBO": {
          "$ref": "#/definitions/FBO"
        },
        "CompanyId": {
          "format": "uuid",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000000"
        },
        "Company": {
          "$ref": "#/definitions/Company"
        },
        "RemainingMaintenanceWorkHours": {
          "format": "double",
          "type": "number"
        },
        "Engines": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/AircraftMaintenanceEngine"
          }
        },
        "Amount": {
          "format": "double",
          "type": "number"
        }
      }
    },
    "Mission": {
      "type": "object",
      "properties": {
        "Id": {
          "format": "uuid",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000000"
        },
        "WorldId": {
          "format": "uuid",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000000"
        },
        "World": {
          "$ref": "#/definitions/World"
        },
        "Cargos": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Cargo"
          }
        },
        "Charters": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Charter"
          }
        },
        "MissionTypeId": {
          "format": "uuid",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000000"
        },
        "MissionType": {
          "$ref": "#/definitions/MissionType"
        },
        "MainAirportId": {
          "format": "uuid",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000000"
        },
        "MainAirport": {
          "$ref": "#/definitions/Airport"
        },
        "BaseAirportId": {
          "format": "uuid",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000000"
        },
        "BaseAirport": {
          "$ref": "#/definitions/Airport"
        },
        "CompletionFlightId": {
          "format": "uuid",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000000"
        },
        "CompletionFlight": {
          "$ref": "#/definitions/Flight"
        },
        "TourId": {
          "format": "uuid",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000000"
        },
        "Tour": {
          "$ref": "#/definitions/Tour"
        },
        "RaceId": {
          "format": "uuid",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000000"
        },
        "Race": {
          "$ref": "#/definitions/Race"
        },
        "RegularRouteId": {
          "format": "uuid",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000000"
        },
        "RegularRoute": {
          "$ref": "#/definitions/RegularRoute"
        },
        "RegularRouteFlightId": {
          "format": "uuid",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000000"
        },
        "RegularRouteFlight": {
          "$ref": "#/definitions/RegularRouteFlight"
        },
        "FreelanceRouteFlightId": {
          "format": "uuid",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000000"
        },
        "FreelanceRouteFlight": {
          "$ref": "#/definitions/FreelanceRouteFlight"
        },
        "ValuePerLbsPerDistance": {
          "format": "double",
          "type": "number"
        },
        "IsGoodValue": {
          "type": "boolean"
        },
        "MaxDistance": {
          "format": "double",
          "type": "number"
        },
        "TotalDistance": {
          "format": "double",
          "type": "number"
        },
        "MainAirportHeading": {
          "format": "double",
          "type": "number"
        },
        "Description": {
          "type": "string"
        },
        "ExpirationDate": {
          "format": "date-time",
          "type": "string"
        },
        "WorldEventId": {
          "format": "uuid",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000000"
        },
        "WorldEvent": {
          "$ref": "#/definitions/WorldEvent"
        },
        "Pay": {
          "format": "double",
          "type": "number"
        },
        "PayLastMinuteBonus": {
          "format": "double",
          "type": "number"
        },
        "PayCompanyBonus": {
          "format": "double",
          "type": "number"
        },
        "PayAirportBoostBonus": {
          "format": "double",
          "type": "number"
        },
        "PayAirportBoostBonusDescription": {
          "type": "string"
        },
        "Penality": {
          "format": "double",
          "type": "number"
        },
        "ReputationImpact": {
          "format": "double",
          "type": "number"
        },
        "CompanyId": {
          "format": "uuid",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000000"
        },
        "Company": {
          "$ref": "#/definitions/Company"
        },
        "CreationDate": {
          "format": "date-time",
          "type": "string"
        },
        "TakenDate": {
          "format": "date-time",
          "type": "string"
        },
        "CompletionDate": {
          "format": "date-time",
          "type": "string"
        },
        "PaidDate": {
          "format": "date-time",
          "type": "string"
        },
        "TotalCargoTransported": {
          "format": "double",
          "type": "number"
        },
        "TotalPaxTransported": {
          "format": "int32",
          "type": "integer"
        },
        "ScenarioTag": {
          "type": "string"
        },
        "CustomId": {
          "type": "string"
        },
        "GliderMissionInfoId": {
          "format": "uuid",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000000"
        },
        "GliderMissionInfo": {
          "$ref": "#/definitions/GliderMissionInfo"
        },
        "Category": {
          "format": "int32",
          "enum": [
            0,
            1,
            2,
            3,
            4,
            5
          ],
          "type": "integer"
        },
        "State": {
          "format": "int32",
          "enum": [
            0,
            1
          ],
          "type": "integer"
        },
        "XP": {
          "format": "int32",
          "type": "integer"
        },
        "SkillPoint": {
          "format": "int32",
          "type": "integer"
        },
        "FBOLogisticQueryId": {
          "format": "uuid",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000000"
        },
        "FBOLogisticQuery": {
          "$ref": "#/definitions/FBOLogisticQuery"
        },
        "MinCompanyReput": {
          "format": "double",
          "type": "number"
        },
        "Hash": {
          "maxLength": 40,
          "minLength": 40,
          "type": "string"
        },
        "AssignedWork": {
          "$ref": "#/definitions/AssignedWork"
        },
        "RealPay": {
          "format": "double",
          "type": "number"
        },
        "RealPenality": {
          "format": "double",
          "type": "number"
        },
        "CanAccess": {
          "type": "boolean"
        },
        "CanAccessDisplay": {
          "type": "string"
        },
        "IsLastMinute": {
          "type": "boolean"
        },
        "IsFavorited": {
          "type": "boolean"
        }
      }
    },
    "WorkOrder": {
      "type": "object",
      "properties": {
        "Id": {
          "format": "uuid",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000000"
        },
        "AircraftId": {
          "format": "uuid",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000000"
        },
        "CompanyId": {
          "format": "uuid",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000000"
        },
        "StartDate": {
          "format": "date-time",
          "type": "string"
        },
        "Name": {
          "type": "string"
        },
        "Aircraft": {
          "$ref": "#/definitions/Aircraft"
        },
        "Company": {
          "$ref": "#/definitions/Company"
        },
        "Crews": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/WorkOrderCrew"
          }
        },
        "Actions": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/WorkOrderAction"
          }
        },
        "DepartureAirportId": {
          "format": "uuid",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000000"
        },
        "DepartureAirport": {
          "$ref": "#/definitions/Airport"
        },
        "Status": {
          "format": "int32",
          "enum": [
            0,
            1,
            2,
            3,
            4
          ],
          "type": "integer"
        },
        "IsTicking": {
          "type": "boolean"
        },
        "LastTickStartDate": {
          "format": "date-time",
          "type": "string"
        },
        "LastTickEndDate": {
          "format": "date-time",
          "type": "string"
        },
        "LastTickDurationMs": {
          "format": "double",
          "type": "number"
        },
        "LastTickSource": {
          "type": "string"
        }
      }
    },
    "Flight": {
      "type": "object",
      "properties": {
        "Id": {
          "format": "uuid",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000000"
        },
        "AircraftAddonId": {
          "format": "uuid",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000000"
        },
        "AircraftAddon": {
          "$ref": "#/definitions/AircraftAddon"
        },
        "AircraftId": {
          "format": "uuid",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000000"
        },
        "Aircraft": {
          "$ref": "#/definitions/Aircraft"
        },
        "CompanyId": {
          "format": "uuid",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000000"
        },
        "Company": {
          "$ref": "#/definitions/Company"
        },
        "DepartureAirportId": {
          "format": "uuid",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000000"
        },
        "DepartureAirport": {
          "$ref": "#/definitions/Airport"
        },
        "ArrivalIntendedAirportId": {
          "format": "uuid",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000000"
        },
        "ArrivalIntendedAirport": {
          "$ref": "#/definitions/Airport"
        },
        "ArrivalAlternateAirportId": {
          "format": "uuid",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000000"
        },
        "ArrivalAlternateAirport": {
          "$ref": "#/definitions/Airport"
        },
        "ArrivalActualAirportId": {
          "format": "uuid",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000000"
        },
        "ArrivalActualAirport": {
          "$ref": "#/definitions/Airport"
        },
        "VAId": {
          "format": "uuid",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000000"
        },
        "VA": {
          "$ref": "#/definitions/VA"
        },
        "Registered": {
          "type": "boolean"
        },
        "Category": {
          "format": "int32",
          "enum": [
            0,
            1,
            2,
            3
          ],
          "type": "integer"
        },
        "ResultComments": {
          "type": "string"
        },
        "StartTime": {
          "format": "date-time",
          "type": "string"
        },
        "EndTime": {
          "format": "date-time",
          "type": "string"
        },
        "EngineOnTime": {
          "format": "date-time",
          "type": "string"
        },
        "EngineOffTime": {
          "format": "date-time",
          "type": "string"
        },
        "AirborneTime": {
          "format": "date-time",
          "type": "string"
        },
        "LandedTime": {
          "format": "date-time",
          "type": "string"
        },
        "IntendedFlightLevel": {
          "format": "int32",
          "type": "integer"
        },
        "Passengers": {
          "format": "int32",
          "type": "integer"
        },
        "Cargo": {
          "format": "int32",
          "type": "integer"
        },
        "AddedFuelQty": {
          "format": "int32",
          "type": "integer"
        },
        "IsAI": {
          "type": "boolean"
        },
        "VerticalSpeedAtTouchdownMpS": {
          "format": "double",
          "type": "number"
        },
        "MaxGForce": {
          "format": "double",
          "type": "number"
        },
        "MinGForce": {
          "format": "double",
          "type": "number"
        },
        "MaxBank": {
          "format": "double",
          "type": "number"
        },
        "MaxPitch": {
          "format": "double",
          "type": "number"
        },
        "HasStalled": {
          "type": "boolean"
        },
        "HasOverspeeded": {
          "type": "boolean"
        },
        "Engine1Status": {
          "format": "int32",
          "enum": [
            0,
            1,
            2
          ],
          "type": "integer"
        },
        "Engine2Status": {
          "format": "int32",
          "enum": [
            0,
            1,
            2
          ],
          "type": "integer"
        },
        "Engine3Status": {
          "format": "int32",
          "enum": [
            0,
            1,
            2
          ],
          "type": "integer"
        },
        "Engine4Status": {
          "format": "int32",
          "enum": [
            0,
            1,
            2
          ],
          "type": "integer"
        },
        "Engine5Status": {
          "format": "int32",
          "enum": [
            0,
            1,
            2
          ],
          "type": "integer"
        },
        "Engine6Status": {
          "format": "int32",
          "enum": [
            0,
            1,
            2
          ],
          "type": "integer"
        },
        "FlightCrews": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/FlightCrew"
          }
        },
        "CancelReason": {
          "format": "int32",
          "enum": [
            0,
            1,
            2,
            3
          ],
          "type": "integer"
        },
        "XPFlight": {
          "format": "int32",
          "type": "integer"
        },
        "XPFlightBonus": {
          "format": "double",
          "type": "number"
        },
        "XPMissions": {
          "format": "int32",
          "type": "integer"
        },
        "CargosTotalWeight": {
          "format": "double",
          "type": "number"
        },
        "PAXCount": {
          "format": "int32",
          "type": "integer"
        },
        "AircraftCurrentFOB": {
          "format": "double",
          "type": "number"
        },
        "AircraftCurrentAltitude": {
          "format": "double",
          "type": "number"
        },
        "ActualCruiseAltitude": {
          "format": "double",
          "type": "number"
        },
        "ActualConsumptionAtCruiseLevelInLbsPerHour": {
          "format": "double",
          "type": "number"
        },
        "ActualTotalFuelConsumptionInLbs": {
          "format": "double",
          "type": "number"
        },
        "ActualConsumptionAtCruiseLevelInGalPerHour": {
          "format": "double",
          "type": "number"
        },
        "ActualTASAtCruiseLevel": {
          "format": "double",
          "type": "number"
        },
        "ActualCruiseTimeInMinutes": {
          "format": "double",
          "type": "number"
        },
        "ActualPressureAltitude": {
          "format": "double",
          "type": "number"
        },
        "METARDeparture": {
          "type": "string"
        },
        "METARArrival": {
          "type": "string"
        },
        "IsRealWeather": {
          "type": "boolean"
        },
        "IsVFR": {
          "type": "boolean"
        },
        "RegisterState": {
          "format": "int32",
          "enum": [
            0,
            1,
            2,
            3,
            4,
            5,
            6,
            7,
            8,
            9,
            10
          ],
          "type": "integer"
        },
        "WrongFuelDetected": {
          "type": "boolean"
        },
        "WrongWeightDetected": {
          "type": "boolean"
        },
        "TimeOffset": {
          "format": "double",
          "type": "number"
        },
        "StartLatitude": {
          "format": "double",
          "type": "number"
        },
        "StartLongitude": {
          "format": "double",
          "type": "number"
        },
        "StartHeading": {
          "format": "double",
          "type": "number"
        },
        "UseFreelanceRouteSchedule": {
          "type": "boolean"
        },
        "RestCrewAfterWarp": {
          "type": "boolean"
        },
        "Score": {
          "format": "double",
          "type": "number"
        },
        "Simulator": {
          "format": "int32",
          "enum": [
            0,
            1,
            2,
            3,
            4
          ],
          "type": "integer"
        },
        "CanResumeOrAbort": {
          "type": "boolean"
        },
        "EngineOnRealTime": {
          "format": "date-time",
          "type": "string",
          "readOnly": true
        },
        "EngineOffRealTime": {
          "format": "date-time",
          "type": "string",
          "readOnly": true
        },
        "LandedRealTime": {
          "format": "date-time",
          "type": "string",
          "readOnly": true
        },
        "AirborneRealTime": {
          "format": "date-time",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "Runway": {
      "type": "object",
      "properties": {
        "Id": {
          "format": "uuid",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000000"
        },
        "AirportId": {
          "format": "uuid",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000000"
        },
        "Airport": {
          "$ref": "#/definitions/Airport"
        },
        "Name": {
          "type": "string"
        },
        "Latitude": {
          "format": "double",
          "type": "number"
        },
        "Longitude": {
          "format": "double",
          "type": "number"
        },
        "MagneticHeading": {
          "format": "int32",
          "type": "integer"
        },
        "Length": {
          "format": "int32",
          "type": "integer"
        },
        "Width": {
          "format": "int32",
          "type": "integer"
        },
        "HasIls": {
          "type": "boolean"
        },
        "IlsFrequency": {
          "format": "float",
          "type": "number"
        },
        "IlsId": {
          "type": "string"
        },
        "IlsName": {
          "type": "string"
        },
        "IlsSlope": {
          "format": "double",
          "type": "number"
        },
        "IlsMagneticHeading": {
          "format": "int32",
          "type": "integer"
        },
        "ThresholdElevation": {
          "format": "int32",
          "type": "integer"
        },
        "SurfaceType": {
          "format": "int32",
          "enum": [
            0,
            1,
            2,
            3,
            4,
            5,
            6,
            7,
            8,
            9,
            10,
            11,
            12,
            13,
            14,
            15,
            16,
            17,
            18,
            19,
            20,
            21,
            22,
            23,
            24,
            26,
            27,
            28,
            29,
            30,
            31,
            32,
            254,
            255
          ],
          "type": "integer"
        },
        "RunwayType": {
          "format": "int32",
          "type": "integer"
        },
        "ApproachLights": {
          "type": "string"
        },
        "EndLights": {
          "type": "boolean"
        },
        "CenterLights": {
          "format": "int32",
          "enum": [
            0,
            1,
            2,
            3
          ],
          "type": "integer"
        },
        "EdgeLights": {
          "format": "int32",
          "enum": [
            0,
            1,
            2,
            3
          ],
          "type": "integer"
        }
      }
    },
    "Helipad": {
      "type": "object",
      "properties": {
        "Id": {
          "format": "uuid",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000000"
        },
        "AirportId": {
          "format": "uuid",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000000"
        },
        "Airport": {
          "$ref": "#/definitions/Airport"
        },
        "Latitude": {
          "format": "double",
          "type": "number"
        },
        "Longitude": {
          "format": "double",
          "type": "number"
        },
        "Altitude": {
          "format": "double",
          "type": "number"
        },
        "Heading": {
          "format": "float",
          "type": "number"
        },
        "Length": {
          "format": "float",
          "type": "number"
        },
        "Width": {
          "format": "float",
          "type": "number"
        },
        "Surface": {
          "format": "int32",
          "enum": [
            0,
            1,
            2,
            3,
            4,
            5,
            6,
            7,
            8,
            9,
            10,
            11,
            12,
            13,
            14,
            15,
            16,
            17,
            18,
            19,
            20,
            21,
            22,
            23,
            24,
            26,
            27,
            28,
            29,
            30,
            31,
            32,
            254,
            255
          ],
          "type": "integer"
        },
        "Type": {
          "format": "int32",
          "enum": [
            0,
            1,
            2,
            3,
            4
          ],
          "type": "integer"
        }
      }
    },
    "AirportLocation": {
      "type": "object",
      "properties": {
        "Id": {
          "format": "uuid",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000000"
        },
        "AirportId": {
          "format": "uuid",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000000"
        },
        "Airport": {
          "$ref": "#/definitions/Airport"
        },
        "Name": {
          "type": "string"
        },
        "Latitude": {
          "format": "double",
          "type": "number"
        },
        "Longitude": {
          "format": "double",
          "type": "number"
        },
        "MagneticHeading": {
          "format": "double",
          "type": "number"
        },
        "Type": {
          "format": "int32",
          "enum": [
            0,
            1,
            2,
            3,
            4,
            5,
            6,
            7,
            8,
            9,
            10,
            11,
            12,
            13,
            14,
            15
          ],
          "type": "integer"
        }
      }
    },
    "AirportFrequency": {
      "type": "object",
      "properties": {
        "Id": {
[...]
