{
  "openapi": "3.0.3",
  "info": {
    "title": "Ismartpay Dev (All-in-One) - Pro",
    "description": "Comprehensive API collection for Ismartpay development. Includes Business Settings, API Credentials, and all core services with embedded variables and example payloads.",
    "version": "1.0.0",
    "contact": {},
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/ismart-ceb/ismartpay-dev-all-in-one-pro/1.0.0"
  },
  "servers": [
    {
      "url": "https://gateway.ismartghana.com/auth-service/api"
    },
    {
      "url": "https://gateway.ismartghana.com/disbursement-service/api"
    },
    {
      "url": "{{iVerifyBaseUrl}}"
    },
    {
      "url": "https://dev.collection.ismartghana.com"
    },
    {
      "url": "https://gateway.ismartghana.com/sms-service/api"
    },
    {
      "url": "https://utility.ismartghana.com/api/utilities"
    }
  ],
  "paths": {
    "/publicauth/login": {
      "post": {
        "tags": [
          "Authentication & Profile"
        ],
        "summary": "Login",
        "description": "Login",
        "operationId": "login",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "example": "user@example.com"
                  },
                  "password": {
                    "type": "string",
                    "example": "password123"
                  }
                }
              },
              "examples": {
                "Login": {
                  "value": {
                    "email": "user@example.com",
                    "password": "password123"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/publicauth/register": {
      "post": {
        "tags": [
          "Authentication & Profile"
        ],
        "summary": "Register Individual",
        "description": "Register Individual",
        "operationId": "registerIndividual",
        "parameters": [
          {
            "name": "x-skip-auth",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "1"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "country": {
                    "type": "string",
                    "example": "Ghana"
                  },
                  "email": {
                    "type": "string",
                    "example": "newuser@example.com"
                  },
                  "first_name": {
                    "type": "string",
                    "example": "John"
                  },
                  "last_name": {
                    "type": "string",
                    "example": "Doe"
                  },
                  "middle_name": {
                    "type": "string",
                    "example": ""
                  },
                  "password": {
                    "type": "string",
                    "example": "Password@123"
                  },
                  "phone_number": {
                    "type": "string",
                    "example": "233240000000"
                  }
                }
              },
              "examples": {
                "Register Individual": {
                  "value": {
                    "country": "Ghana",
                    "email": "newuser@example.com",
                    "first_name": "John",
                    "last_name": "Doe",
                    "middle_name": "",
                    "password": "Password@123",
                    "phone_number": "233240000000"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/publicauth/register-business": {
      "post": {
        "tags": [
          "Authentication & Profile"
        ],
        "summary": "Register Business",
        "description": "Register Business",
        "operationId": "registerBusiness",
        "parameters": [
          {
            "name": "x-skip-auth",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "1"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "business_name": {
                    "type": "string",
                    "example": "My Business"
                  },
                  "business_type": {
                    "type": "string",
                    "example": "registered"
                  },
                  "category": {
                    "type": "string",
                    "example": "Payments"
                  },
                  "country": {
                    "type": "string",
                    "example": "Ghana"
                  },
                  "email": {
                    "type": "string",
                    "example": "business@example.com"
                  },
                  "full_name": {
                    "type": "string",
                    "example": "John Doe"
                  },
                  "industry": {
                    "type": "string",
                    "example": "Fintech"
                  },
                  "innerCategory": {
                    "type": "string",
                    "example": ""
                  },
                  "password": {
                    "type": "string",
                    "example": "Password@123"
                  },
                  "phone": {
                    "type": "string",
                    "example": "233240000000"
                  }
                }
              },
              "examples": {
                "Register Business": {
                  "value": {
                    "business_name": "My Business",
                    "business_type": "registered",
                    "category": "Payments",
                    "country": "Ghana",
                    "email": "business@example.com",
                    "full_name": "John Doe",
                    "industry": "Fintech",
                    "innerCategory": "",
                    "password": "Password@123",
                    "phone": "233240000000"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/publicauth/token/refresh": {
      "post": {
        "tags": [
          "Authentication & Profile"
        ],
        "summary": "Refresh Token",
        "description": "Refresh Token",
        "operationId": "refreshToken",
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/publicauth/search-user": {
      "post": {
        "tags": [
          "Authentication & Profile"
        ],
        "summary": "Search User",
        "description": "Search User",
        "operationId": "searchUser",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "phone": {
                    "type": "string",
                    "example": "233241986060"
                  }
                }
              },
              "examples": {
                "Search User": {
                  "value": {
                    "phone": "233241986060"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/api/publicauth/verify-2fa": {
      "post": {
        "tags": [
          "Authentication & Profile"
        ],
        "summary": "Verify 2FA",
        "description": "Verify 2FA",
        "operationId": "verify2fa",
        "parameters": [
          {
            "name": "x-skip-auth",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "1"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "code": {
                    "type": "string",
                    "example": "123456"
                  },
                  "customerId": {
                    "type": "string",
                    "example": "{{userId}}"
                  }
                }
              },
              "examples": {
                "Verify 2FA": {
                  "value": {
                    "code": "123456",
                    "customerId": "{{userId}}"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/api/publicauth/password/request-reset": {
      "post": {
        "tags": [
          "Authentication & Profile"
        ],
        "summary": "Request Password Reset (Public)",
        "description": "Request Password Reset (Public)",
        "operationId": "requestPasswordResetPublic",
        "parameters": [
          {
            "name": "x-skip-auth",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "1"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "example": "user@example.com"
                  }
                }
              },
              "examples": {
                "Request Password Reset (Public)": {
                  "value": {
                    "email": "user@example.com"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/api/auth/check-email-phone-verified": {
      "get": {
        "tags": [
          "Authentication & Profile"
        ],
        "summary": "Check Email/Phone Verified",
        "description": "Check Email/Phone Verified",
        "operationId": "checkEmailPhoneVerified",
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/api/auth/logout": {
      "post": {
        "tags": [
          "Authentication & Profile"
        ],
        "summary": "Logout",
        "description": "Logout",
        "operationId": "logout",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "accessToken": {
                    "type": "string",
                    "example": "{{accessToken}}"
                  },
                  "refreshToken": {
                    "type": "string",
                    "example": "{{refreshToken}}"
                  }
                }
              },
              "examples": {
                "Logout": {
                  "value": {
                    "accessToken": "{{accessToken}}",
                    "refreshToken": "{{refreshToken}}"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/api/publicauth/password/confirm-otp": {
      "post": {
        "tags": [
          "Authentication & Profile"
        ],
        "summary": "Confirm OTP (Password Reset)",
        "description": "Confirm OTP (Password Reset)",
        "operationId": "confirmOtpPasswordReset",
        "parameters": [
          {
            "name": "x-skip-auth",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "1"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "example": "user@example.com"
                  },
                  "otp": {
                    "type": "string",
                    "example": "123456"
                  }
                }
              },
              "examples": {
                "Confirm OTP (Password Reset)": {
                  "value": {
                    "email": "user@example.com",
                    "otp": "123456"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/api/publicauth/password/reset": {
      "post": {
        "tags": [
          "Authentication & Profile"
        ],
        "summary": "Reset Password (Public)",
        "description": "Reset Password (Public)",
        "operationId": "resetPasswordPublic",
        "parameters": [
          {
            "name": "x-skip-auth",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "1"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "newPassword": {
                    "type": "string",
                    "example": "Password@456"
                  },
                  "userId": {
                    "type": "string",
                    "example": "{{userId}}"
                  }
                }
              },
              "examples": {
                "Reset Password (Public)": {
                  "value": {
                    "newPassword": "Password@456",
                    "userId": "{{userId}}"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/auth/password/change": {
      "put": {
        "tags": [
          "Authentication & Profile"
        ],
        "summary": "Change Password (Authenticated)",
        "description": "Change Password (Authenticated)",
        "operationId": "changePasswordAuthenticated",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "confirmPassword": {
                    "type": "string",
                    "example": "Password@456"
                  },
                  "currentPassword": {
                    "type": "string",
                    "example": "Password@123"
                  },
                  "newPassword": {
                    "type": "string",
                    "example": "Password@456"
                  }
                }
              },
              "examples": {
                "Change Password (Authenticated)": {
                  "value": {
                    "confirmPassword": "Password@456",
                    "currentPassword": "Password@123",
                    "newPassword": "Password@456"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/publicauth/get-all-services": {
      "get": {
        "tags": [
          "Authentication & Profile"
        ],
        "summary": "Get All Services",
        "description": "Get All Services",
        "operationId": "getAllServices",
        "parameters": [
          {
            "name": "x-skip-auth",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "1"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/api/auth/profile/personal-info": {
      "get": {
        "tags": [
          "Authentication & Profile"
        ],
        "summary": "Get Personal Info",
        "description": "Get Personal Info",
        "operationId": "getPersonalInfo",
        "responses": {
          "200": {
            "description": ""
          }
        }
      },
      "put": {
        "tags": [
          "Authentication & Profile"
        ],
        "summary": "Update Personal Info",
        "description": "Update Personal Info",
        "operationId": "updatePersonalInfo",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "first_name": {
                    "type": "string",
                    "example": "John"
                  }
                }
              },
              "examples": {
                "Update Personal Info": {
                  "value": {
                    "first_name": "John"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/api/auth/profile/preferences": {
      "get": {
        "tags": [
          "Authentication & Profile"
        ],
        "summary": "Get Preferences",
        "description": "Get Preferences",
        "operationId": "getPreferences",
        "responses": {
          "200": {
            "description": ""
          }
        }
      },
      "put": {
        "tags": [
          "Authentication & Profile"
        ],
        "summary": "Update Preferences",
        "description": "Update Preferences",
        "operationId": "updatePreferences",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "theme": {
                    "type": "string",
                    "example": "dark"
                  }
                }
              },
              "examples": {
                "Update Preferences": {
                  "value": {
                    "theme": "dark"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/auth/request-verify-phone-otp/customer": {
      "get": {
        "tags": [
          "Account Verification"
        ],
        "summary": "Request Phone OTP",
        "description": "Request Phone OTP",
        "operationId": "requestPhoneOtp",
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/auth/verify-phone": {
      "post": {
        "tags": [
          "Account Verification"
        ],
        "summary": "Verify Phone",
        "description": "Verify Phone",
        "operationId": "verifyPhone",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "otp": {
                    "type": "string",
                    "example": "123456"
                  }
                }
              },
              "examples": {
                "Verify Phone": {
                  "value": {
                    "otp": "123456"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/auth/request-verify-email": {
      "get": {
        "tags": [
          "Account Verification"
        ],
        "summary": "Request Email Verification",
        "description": "Request Email Verification",
        "operationId": "requestEmailVerification",
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/api/publicauth/verify-email": {
      "post": {
        "tags": [
          "Account Verification"
        ],
        "summary": "Verify Email (Token)",
        "description": "Verify Email (Token)",
        "operationId": "verifyEmailToken",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "token": {
                    "type": "string",
                    "example": "{{emailToken}}"
                  },
                  "usertype": {
                    "type": "string",
                    "example": "customer"
                  }
                }
              },
              "examples": {
                "Verify Email (Token)": {
                  "value": {
                    "token": "{{emailToken}}",
                    "usertype": "customer"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/auth/verify-loggedin-email": {
      "post": {
        "tags": [
          "Account Verification"
        ],
        "summary": "Verify Logged-in Email (OTP)",
        "description": "Verify Logged-in Email (OTP)",
        "operationId": "verifyLoggedInEmailOtp",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "otp": {
                    "type": "string",
                    "example": "123456"
                  }
                }
              },
              "examples": {
                "Verify Logged-in Email (OTP)": {
                  "value": {
                    "otp": "123456"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/auth/get-verification-level": {
      "get": {
        "tags": [
          "Account Verification"
        ],
        "summary": "Get Individual Verification Level",
        "description": "Get Individual Verification Level",
        "operationId": "getIndividualVerificationLevel",
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/auth/profile/kyc-docs/": {
      "get": {
        "tags": [
          "KYC Management"
        ],
        "summary": "Get Individual KYC Docs",
        "description": "Get Individual KYC Docs",
        "operationId": "getIndividualKycDocs",
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/auth/profile/kyc-docs": {
      "post": {
        "tags": [
          "KYC Management"
        ],
        "summary": "Upload Individual KYC Doc",
        "description": "Upload Individual KYC Doc",
        "operationId": "uploadIndividualKycDoc",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "document": {
                    "type": "string",
                    "format": "binary"
                  },
                  "type": {
                    "type": "string",
                    "example": "ID_CARD"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/auth/business/{businessId}/documents/": {
      "get": {
        "tags": [
          "KYC Management"
        ],
        "summary": "Get Business KYC Docs",
        "description": "Get Business KYC Docs",
        "operationId": "getBusinessKycDocs",
        "responses": {
          "200": {
            "description": ""
          }
        }
      },
      "parameters": [
        {
          "name": "businessId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/auth/business/{businessId}/documents": {
      "post": {
        "tags": [
          "KYC Management"
        ],
        "summary": "Upload Business KYC Doc",
        "description": "Upload Business KYC Doc",
        "operationId": "uploadBusinessKycDoc",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "document": {
                    "type": "string",
                    "format": "binary"
                  },
                  "type": {
                    "type": "string",
                    "example": "BUSINESS_REGISTRATION"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      },
      "parameters": [
        {
          "name": "businessId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/auth/business/{businessId}/get-verification-level": {
      "get": {
        "tags": [
          "KYC Management"
        ],
        "summary": "Get Business Verification Level",
        "description": "Get Business Verification Level",
        "operationId": "getBusinessVerificationLevel",
        "parameters": [
          {
            "name": "x-skip-refresh",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "1"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        }
      },
      "parameters": [
        {
          "name": "businessId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/auth/business/{businessId}/business-info": {
      "get": {
        "tags": [
          "Business Profile"
        ],
        "summary": "Get Business Info",
        "description": "Get Business Info",
        "operationId": "getBusinessInfo",
        "responses": {
          "200": {
            "description": ""
          }
        }
      },
      "put": {
        "tags": [
          "Business Profile"
        ],
        "summary": "Update Business Info",
        "description": "Update Business Info",
        "operationId": "updateBusinessInfo",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "businessEmail": {
                    "type": "string",
                    "example": "contact@ismartpay.com"
                  },
                  "businessPhone": {
                    "type": "string",
                    "example": "233540000000"
                  },
                  "category": {
                    "type": "string",
                    "example": "Payments"
                  },
                  "description": {
                    "type": "string",
                    "example": "Digital payment gateway provider"
                  },
                  "expectedMonthlyRevenue": {
                    "type": "number",
                    "example": 100000
                  },
                  "gpsAddress": {
                    "type": "string",
                    "example": "GA-123-4567"
                  },
                  "industry": {
                    "type": "string",
                    "example": "Fintech"
                  },
                  "registrationType": {
                    "type": "string",
                    "example": "company_limited_by_shares"
                  },
                  "staffSize": {
                    "type": "string",
                    "example": "10-50"
                  },
                  "tinNumber": {
                    "type": "string",
                    "example": "GHA-12345678-0"
                  },
                  "tradingName": {
                    "type": "string",
                    "example": "IsmartPay Solutions"
                  },
                  "websiteUrl": {
                    "type": "string",
                    "example": "https://ismartpay.com"
                  }
                }
              },
              "examples": {
                "Update Business Info": {
                  "value": {
                    "businessEmail": "contact@ismartpay.com",
                    "businessPhone": "233540000000",
                    "category": "Payments",
                    "description": "Digital payment gateway provider",
                    "expectedMonthlyRevenue": 100000,
                    "gpsAddress": "GA-123-4567",
                    "industry": "Fintech",
                    "registrationType": "company_limited_by_shares",
                    "staffSize": "10-50",
                    "tinNumber": "GHA-12345678-0",
                    "tradingName": "IsmartPay Solutions",
                    "websiteUrl": "https://ismartpay.com"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      },
      "parameters": [
        {
          "name": "businessId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/auth/business/{businessId}/verification-status": {
      "get": {
        "tags": [
          "Business Profile"
        ],
        "summary": "Get Verification Status",
        "description": "Get Verification Status",
        "operationId": "getVerificationStatus",
        "responses": {
          "200": {
            "description": ""
          }
        }
      },
      "parameters": [
        {
          "name": "businessId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/auth/business/{businessId}/owners": {
      "get": {
        "tags": [
          "Business Profile"
        ],
        "summary": "Get Business Owners",
        "description": "Get Business Owners",
        "operationId": "getBusinessOwners",
        "responses": {
          "200": {
            "description": ""
          }
        }
      },
      "post": {
        "tags": [
          "Business Profile"
        ],
        "summary": "Add Business Owner",
        "description": "Add Business Owner",
        "operationId": "addBusinessOwner",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "dob": {
                    "type": "string",
                    "example": "1980-01-01"
                  },
                  "full_name": {
                    "type": "string",
                    "example": "Nana Akufo"
                  },
                  "id_number": {
                    "type": "string",
                    "example": "GHA-000000000-1"
                  },
                  "id_type": {
                    "type": "string",
                    "example": "National ID"
                  },
                  "ownership_percentage": {
                    "type": "number",
                    "example": 100
                  }
                }
              },
              "examples": {
                "Add Business Owner": {
                  "value": {
                    "dob": "1980-01-01",
                    "full_name": "Nana Akufo",
                    "id_number": "GHA-000000000-1",
                    "id_type": "National ID",
                    "ownership_percentage": 100
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      },
      "parameters": [
        {
          "name": "businessId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/auth/business/{businessId}/upload-logo": {
      "post": {
        "tags": [
          "Business Profile"
        ],
        "summary": "Upload Logo",
        "description": "Upload Logo",
        "operationId": "uploadLogo",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "logo": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      },
      "parameters": [
        {
          "name": "businessId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/api/auth/profile/upload-logo": {
      "post": {
        "tags": [
          "Business Profile"
        ],
        "summary": "Upload Logo Profile",
        "description": "Upload Logo Profile",
        "operationId": "uploadLogoProfile",
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/api/auth/profile/logo-url?businessId={businessId}": {
      "get": {
        "tags": [
          "Business Profile"
        ],
        "summary": "Get Logo URL",
        "description": "Get Logo URL",
        "operationId": "getLogoUrl",
        "responses": {
          "200": {
            "description": ""
          }
        }
      },
      "parameters": [
        {
          "name": "businessId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/api/auth/business/{businessId}/verification-status": {
      "get": {
        "tags": [
          "Business Profile"
        ],
        "summary": "Get Business Verification Status",
        "description": "Get Business Verification Status",
        "operationId": "getBusinessVerificationStatus",
        "responses": {
          "200": {
            "description": ""
          }
        }
      },
      "parameters": [
        {
          "name": "businessId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/api/auth/business/{businessId}/business-info": {
      "get": {
        "tags": [
          "Business Profile"
        ],
        "summary": "Get Business Info",
        "description": "Get Business Info",
        "operationId": "getBusinessInfo1",
        "responses": {
          "200": {
            "description": ""
          }
        }
      },
      "parameters": [
        {
          "name": "businessId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/auth/business/{businessId}/accounts": {
      "get": {
        "tags": [
          "Business Accounts"
        ],
        "summary": "Get Business Accounts",
        "description": "Get Business Accounts",
        "operationId": "getBusinessAccounts",
        "responses": {
          "200": {
            "description": ""
          }
        }
      },
      "post": {
        "tags": [
          "Business Accounts"
        ],
        "summary": "Add Business Bank Account",
        "description": "Add Business Bank Account",
        "operationId": "addBusinessBankAccount",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "account_holder_name": {
                    "type": "string",
                    "example": "Business MoMo"
                  },
                  "account_type": {
                    "type": "string",
                    "example": "momo"
                  },
                  "phone": {
                    "type": "string",
                    "example": "233240000000"
                  },
                  "provider": {
                    "type": "string",
                    "example": "MTN"
                  }
                }
              },
              "examples": {
                "Add Business Bank Account": {
                  "value": {
                    "account_category": "current",
                    "account_holder_name": "Business Admin",
                    "account_number": "1234567890",
                    "account_type": "bank",
                    "bank_name": "Ecobank",
                    "opened_date": "2020-01-01T00:00:00.000Z",
                    "swift_bic": "ECOBGHAC"
                  }
                },
                "Add Business MoMo Account": {
                  "value": {
                    "account_holder_name": "Business MoMo",
                    "account_type": "momo",
                    "phone": "233240000000",
                    "provider": "MTN"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      },
      "parameters": [
        {
          "name": "businessId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/auth/profile/contact-person/personal-info": {
      "get": {
        "tags": [
          "Business Contact Person"
        ],
        "summary": "Get Contact Person Info",
        "description": "Get Contact Person Info",
        "operationId": "getContactPersonInfo",
        "responses": {
          "200": {
            "description": ""
          }
        }
      },
      "put": {
        "tags": [
          "Business Contact Person"
        ],
        "summary": "Update Contact Person Info",
        "description": "Update Contact Person Info",
        "operationId": "updateContactPersonInfo",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "area": {
                    "type": "string",
                    "example": "Ridge"
                  },
                  "city": {
                    "type": "string",
                    "example": "Accra"
                  },
                  "country": {
                    "type": "string",
                    "example": "Ghana"
                  },
                  "digital_address": {
                    "type": "string",
                    "example": "GA-000-1111"
                  },
                  "dob": {
                    "type": "string",
                    "example": "1990-05-15"
                  },
                  "full_name": {
                    "type": "string",
                    "example": "Emmanuel Okine"
                  },
                  "phone_number": {
                    "type": "string",
                    "example": "233504336608"
                  },
                  "residential_address": {
                    "type": "string",
                    "example": "123 Ridge Street"
                  }
                }
              },
              "examples": {
                "Update Contact Person Info": {
                  "value": {
                    "area": "Ridge",
                    "city": "Accra",
                    "country": "Ghana",
                    "digital_address": "GA-000-1111",
                    "dob": "1990-05-15",
                    "full_name": "Emmanuel Okine",
                    "phone_number": "233504336608",
                    "residential_address": "123 Ridge Street"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/api/auth/profile/contact-person/personal-info": {
      "get": {
        "tags": [
          "Business Contact Person"
        ],
        "summary": "Get Contact Person Info",
        "description": "Get Contact Person Info",
        "operationId": "getContactPersonInfo1",
        "responses": {
          "200": {
            "description": ""
          }
        }
      },
      "put": {
        "tags": [
          "Business Contact Person"
        ],
        "summary": "Update Contact Person Info",
        "description": "Update Contact Person Info",
        "operationId": "updateContactPersonInfo1",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "first_name": {
                    "type": "string",
                    "example": "Contact"
                  }
                }
              },
              "examples": {
                "Update Contact Person Info": {
                  "value": {
                    "first_name": "Contact"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/auth/profile/settlement-account": {
      "get": {
        "tags": [
          "Settlement Configuration"
        ],
        "summary": "Get Settlement Accounts",
        "description": "Get Settlement Accounts",
        "operationId": "getSettlementAccounts",
        "responses": {
          "200": {
            "description": ""
          }
        }
      },
      "post": {
        "tags": [
          "Settlement Configuration"
        ],
        "summary": "Add Settlement Bank Account",
        "description": "Add Settlement Bank Account",
        "operationId": "addSettlementBankAccount",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "account": {
                    "type": "object",
                    "properties": {
                      "account_name": {
                        "type": "string",
                        "example": "IsmartPay MoMo"
                      },
                      "account_number": {
                        "type": "string",
                        "example": "233240000000"
                      },
                      "account_type": {
                        "type": "string",
                        "example": "momo"
                      },
                      "currency": {
                        "type": "string",
                        "example": "GHS"
                      },
                      "network": {
                        "type": "string",
                        "example": "MTN"
                      }
                    }
                  },
                  "accountType": {
                    "type": "string",
                    "example": "momo"
                  },
                  "userType": {
                    "type": "string",
                    "example": "business_contact"
                  }
                }
              },
              "examples": {
                "Add Settlement Bank Account": {
                  "value": {
                    "account": {
                      "account_holder_name": "IsmartPay Solutions",
                      "account_number": "1234567890",
                      "account_type": "bank",
                      "bank_name": "Ecobank"
                    },
                    "accountType": "bank",
                    "userType": "business_contact"
                  }
                },
                "Add Settlement MoMo Account": {
                  "value": {
                    "account": {
                      "account_name": "IsmartPay MoMo",
                      "account_number": "233240000000",
                      "account_type": "momo",
                      "currency": "GHS",
                      "network": "MTN"
                    },
                    "accountType": "momo",
                    "userType": "business_contact"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/auth/profile/settlement-account/{accountId}": {
      "post": {
        "tags": [
          "Settlement Configuration"
        ],
        "summary": "Update Settlement Account",
        "description": "Update Settlement Account",
        "operationId": "updateSettlementAccount",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "account": {
                    "type": "object",
                    "properties": {
                      "account_holder_name": {
                        "type": "string",
                        "example": "New Holder"
                      },
                      "account_number": {
                        "type": "string",
                        "example": "233987654321"
                      },
                      "account_type": {
                        "type": "string",
                        "example": "bank"
                      },
                      "bank_name": {
                        "type": "string",
                        "example": "GCB"
                      }
                    }
                  },
                  "accountType": {
                    "type": "string",
                    "example": "bank"
                  },
                  "userType": {
                    "type": "string",
                    "example": "business_contact"
                  }
                }
              },
              "examples": {
                "Update Settlement Account": {
                  "value": {
                    "account": {
                      "account_holder_name": "New Holder",
                      "account_number": "233987654321",
                      "account_type": "bank",
                      "bank_name": "GCB"
                    },
                    "accountType": "bank",
                    "userType": "business_contact"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      },
      "delete": {
        "tags": [
          "Settlement Configuration"
        ],
        "summary": "Delete Settlement Account",
        "description": "Delete Settlement Account",
        "operationId": "deleteSettlementAccount",
        "responses": {
          "200": {
            "description": ""
          }
        }
      },
      "parameters": [
        {
          "name": "accountId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/auth/profile/settlement-mode": {
      "get": {
        "tags": [
          "Settlement Configuration"
        ],
        "summary": "Get Settlement Mode",
        "description": "Get Settlement Mode",
        "operationId": "getSettlementMode",
        "responses": {
          "200": {
            "description": ""
          }
        }
      },
      "post": {
        "tags": [
          "Settlement Configuration"
        ],
        "summary": "Set Settlement Mode",
        "description": "Set Settlement Mode",
        "operationId": "setSettlementMode",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "mode": {
                    "type": "string",
                    "example": "INSTANT"
                  },
                  "other_details": {
                    "type": "string",
                    "example": "Manual"
                  }
                }
              },
              "examples": {
                "Set Settlement Mode": {
                  "value": {
                    "mode": "INSTANT",
                    "other_details": "Manual"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/api/auth/profile/settlement-account": {
      "get": {
        "tags": [
          "Settlement Configuration"
        ],
        "summary": "Get Settlement Account",
        "description": "Get Settlement Account",
        "operationId": "getSettlementAccount",
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/api/auth/profile/settlement-mode": {
      "get": {
        "tags": [
          "Settlement Configuration"
        ],
        "summary": "Get Settlement Mode",
        "description": "Get Settlement Mode",
        "operationId": "getSettlementMode1",
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/api/auth/profile/settlement-account/{accountId}": {
      "get": {
        "tags": [
          "Settlement Configuration"
        ],
        "summary": "Get Settlement Account By ID",
        "description": "Get Settlement Account By ID",
        "operationId": "getSettlementAccountById",
        "responses": {
          "200": {
            "description": ""
          }
        }
      },
      "parameters": [
        {
          "name": "accountId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/auth/business/{businessId}/get-api-credentials": {
      "get": {
        "tags": [
          "API Management"
        ],
        "summary": "Get API Credentials",
        "description": "Get API Credentials",
        "operationId": "getApiCredentials",
        "responses": {
          "200": {
            "description": ""
          }
        }
      },
      "parameters": [
        {
          "name": "businessId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/auth/business/{businessId}/generate-api-credentials": {
      "post": {
        "tags": [
          "API Management"
        ],
        "summary": "Generate API Credentials",
        "description": "Generate API Credentials",
        "operationId": "generateApiCredentials",
        "responses": {
          "200": {
            "description": ""
          }
        }
      },
      "parameters": [
        {
          "name": "businessId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/auth/business/{businessId}/revoke-api-credentials/{credentialId}": {
      "delete": {
        "tags": [
          "API Management"
        ],
        "summary": "Revoke API Credentials",
        "description": "Revoke API Credentials",
        "operationId": "revokeApiCredentials",
        "responses": {
          "200": {
            "description": ""
          }
        }
      },
      "parameters": [
        {
          "name": "businessId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "credentialId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/auth/business/{businessId}/check-api-credentials": {
      "get": {
        "tags": [
          "API Management"
        ],
        "summary": "Check API Credentials (Business)",
        "description": "Check API Credentials (Business)",
        "operationId": "checkApiCredentialsBusiness",
        "responses": {
          "200": {
            "description": ""
          }
        }
      },
      "parameters": [
        {
          "name": "businessId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/auth/business/{businessId}/create-api-credentials": {
      "post": {
        "tags": [
          "API Management"
        ],
        "summary": "Create API Credentials (Business)",
        "description": "Create API Credentials (Business)",
        "operationId": "createApiCredentialsBusiness",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "example": "Live Key"
                  }
                }
              },
              "examples": {
                "Create API Credentials (Business)": {
                  "value": {
                    "name": "Live Key"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      },
      "parameters": [
        {
          "name": "businessId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/auth/check-api-credential-status": {
      "get": {
        "tags": [
          "API Management"
        ],
        "summary": "Check API Credentials (Individual)",
        "description": "Check API Credentials (Individual)",
        "operationId": "checkApiCredentialsIndividual",
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/auth/create-api-credentials": {
      "post": {
        "tags": [
          "API Management"
        ],
        "summary": "Create API Credentials (Individual)",
        "description": "Create API Credentials (Individual)",
        "operationId": "createApiCredentialsIndividual",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "example": "Live Key"
                  }
                }
              },
              "examples": {
                "Create API Credentials (Individual)": {
                  "value": {
                    "name": "Live Key"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/auth/profile/api-credentials": {
      "get": {
        "tags": [
          "API Management"
        ],
        "summary": "Get API Credentials",
        "description": "Get API Credentials",
        "operationId": "getApiCredentials1",
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/auth/profile/api-credentials/{credentialId}": {
      "delete": {
        "tags": [
          "API Management"
        ],
        "summary": "Delete API Credential",
        "description": "Delete API Credential",
        "operationId": "deleteApiCredential",
        "responses": {
          "200": {
            "description": ""
          }
        }
      },
      "parameters": [
        {
          "name": "credentialId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/api/team/{businessId}": {
      "get": {
        "tags": [
          "Team Management"
        ],
        "summary": "List Teams",
        "description": "List Teams",
        "operationId": "listTeams",
        "responses": {
          "200": {
            "description": " / Success Response",
            "content": {}
          }
        }
      },
      "parameters": [
        {
          "name": "businessId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/api/team/{businessId}/create": {
      "post": {
        "tags": [
          "Team Management"
        ],
        "summary": "Create Team",
        "description": "Create Team",
        "operationId": "createTeam",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "menus": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "example": "dashboard"
                    },
                    "example": [
                      "dashboard",
                      "settings"
                    ]
                  },
                  "name": {
                    "type": "string",
                    "example": "Admin Team"
                  }
                }
              },
              "examples": {
                "Create Team": {
                  "value": {
                    "menus": [
                      "dashboard",
                      "settings"
                    ],
                    "name": "Admin Team"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      },
      "parameters": [
        {
          "name": "businessId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/api/team/{teamId}/update": {
      "put": {
        "tags": [
          "Team Management"
        ],
        "summary": "Update Team",
        "description": "Update Team",
        "operationId": "updateTeam",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "menus": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "example": "dashboard"
                    },
                    "example": [
                      "dashboard"
                    ]
                  },
                  "name": {
                    "type": "string",
                    "example": "New Team Name"
                  }
                }
              },
              "examples": {
                "Update Team": {
                  "value": {
                    "menus": [
                      "dashboard"
                    ],
                    "name": "New Team Name"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      },
      "parameters": [
        {
          "name": "teamId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/api/team/{teamId}/teamdetails": {
      "get": {
        "tags": [
          "Team Management"
        ],
        "summary": "Get Team Details",
        "description": "Get Team Details",
        "operationId": "getTeamDetails",
        "responses": {
          "200": {
            "description": ""
          }
        }
      },
      "parameters": [
        {
          "name": "teamId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/api/team/{teamId}/members": {
      "get": {
        "tags": [
          "Team Management"
        ],
        "summary": "List Team Members",
        "description": "List Team Members",
        "operationId": "listTeamMembers",
        "responses": {
          "200": {
            "description": " / Success Response",
            "content": {}
          }
        }
      },
      "parameters": [
        {
          "name": "teamId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/api/team/{teamId}/add-member": {
      "post": {
        "tags": [
          "Team Management"
        ],
        "summary": "Add Team Member",
        "description": "Add Team Member",
        "operationId": "addTeamMember",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "example": "jane@example.com"
                  },
                  "full_name": {
                    "type": "string",
                    "example": "Jane Smith"
                  },
                  "phone": {
                    "type": "string",
                    "example": "233240000000"
                  }
                }
              },
              "examples": {
                "Add Team Member": {
                  "value": {
                    "email": "jane@example.com",
                    "full_name": "Jane Smith",
                    "phone": "233240000000"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      },
      "parameters": [
        {
          "name": "teamId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/api/team/{teamId}/remove-member/{memberId}": {
      "delete": {
        "tags": [
          "Team Management"
        ],
        "summary": "Remove Team Member",
        "description": "Remove Team Member",
        "operationId": "removeTeamMember",
        "responses": {
          "200": {
            "description": ""
          }
        }
      },
      "parameters": [
        {
          "name": "teamId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "memberId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/api/team/{teamId}/permissions/{memberId}": {
      "put": {
        "tags": [
          "Team Management"
        ],
        "summary": "Update Member Permissions",
        "description": "Update Member Permissions",
        "operationId": "updateMemberPermissions",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "permissions": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "example": "dashboard"
                    },
                    "example": [
                      "dashboard",
                      "reports"
                    ]
                  }
                }
              },
              "examples": {
                "Update Member Permissions": {
                  "value": {
                    "permissions": [
                      "dashboard",
                      "reports"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      },
      "parameters": [
        {
          "name": "teamId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "memberId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/auth/profile/security": {
      "get": {
        "tags": [
          "Security Settings"
        ],
        "summary": "Get Security Status",
        "description": "Get Security Status",
        "operationId": "getSecurityStatus",
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/auth/profile/set-pin": {
      "put": {
        "tags": [
          "Security Settings"
        ],
        "summary": "Set PIN",
        "description": "Set PIN",
        "operationId": "setPin",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "pin": {
                    "type": "string",
                    "example": "1234"
                  }
                }
              },
              "examples": {
                "Set PIN": {
                  "value": {
                    "pin": "1234"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      },
      "post": {
        "tags": [
          "Security Settings"
        ],
        "summary": "Set PIN",
        "description": "Set PIN",
        "operationId": "setPin1",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "pin": {
                    "type": "string",
                    "example": "1234"
                  }
                }
              },
              "examples": {
                "Set PIN": {
                  "value": {
                    "pin": "1234"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/auth/profile/verify-pin": {
      "post": {
        "tags": [
          "Security Settings"
        ],
        "summary": "Verify PIN",
        "description": "Verify PIN",
        "operationId": "verifyPin",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "pin": {
                    "type": "string",
                    "example": "1234"
                  }
                }
              },
              "examples": {
                "Verify PIN": {
                  "value": {
                    "pin": "1234"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/auth/profile/enable-2FA": {
      "get": {
        "tags": [
          "Security Settings"
        ],
        "summary": "Enable 2FA (Get QR)",
        "description": "Enable 2FA (Get QR)",
        "operationId": "enable2faGetQr",
        "responses": {
          "200": {
            "description": ""
          }
        }
      },
      "post": {
        "tags": [
          "Security Settings"
        ],
        "summary": "Enable 2FA",
        "description": "Enable 2FA",
        "operationId": "enable2fa",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "code": {
                    "type": "string",
                    "example": "123456"
                  }
                }
              },
              "examples": {
                "Enable 2FA": {
                  "value": {
                    "code": "123456"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/auth/profile/disable-2FA": {
      "get": {
        "tags": [
          "Security Settings"
        ],
        "summary": "Disable 2FA",
        "description": "Disable 2FA",
        "operationId": "disable2fa",
        "responses": {
          "200": {
            "description": ""
          }
        }
      },
      "post": {
        "tags": [
          "Security Settings"
        ],
        "summary": "Disable 2FA",
        "description": "Disable 2FA",
        "operationId": "disable2fa1",
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/publicauth/request-verify-phone-otp/business": {
      "get": {
        "tags": [
          "Security Settings"
        ],
        "summary": "Request Phone OTP (Business)",
        "description": "Request Phone OTP (Business)",
        "operationId": "requestPhoneOtpBusiness",
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/publicauth/request-verify-phone-otp/customer": {
      "get": {
        "tags": [
          "Security Settings"
        ],
        "summary": "Request Phone OTP (Individual)",
        "description": "Request Phone OTP (Individual)",
        "operationId": "requestPhoneOtpIndividual",
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/api/publicauth/request-verify-phone-otp/{type}": {
      "get": {
        "tags": [
          "Security Settings"
        ],
        "summary": "Request Phone OTP Profile",
        "description": "Request Phone OTP Profile",
        "operationId": "requestPhoneOtpProfile",
        "responses": {
          "200": {
            "description": ""
          }
        }
      },
      "parameters": [
        {
          "name": "type",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/v1/disbursements": {
      "get": {
        "tags": [
          "Disbursements"
        ],
        "summary": "List Disbursements",
        "description": "List Disbursements",
        "operationId": "listDisbursements",
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "success"
            }
          },
          {
            "name": "x-user-id",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "{{userId}}"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        }
      },
      "post": {
        "tags": [
          "Disbursements"
        ],
        "summary": "Create B2C Deposit (MTN)",
        "description": "Create B2C Deposit (MTN)",
        "operationId": "createB2cDepositMtn",
        "parameters": [
          {
            "name": "x-user-id",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "{{userId}}"
            }
          },
          {
            "name": "service-id",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "{{serviceId}}"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "amount": {
                    "type": "number",
                    "example": 500.0
                  },
                  "channel": {
                    "type": "string",
                    "example": "BANK"
                  },
                  "currency": {
                    "type": "string",
                    "example": "GHS"
                  },
                  "customer": {
                    "type": "object",
                    "properties": {
                      "firstName": {
                        "type": "string",
                        "example": "Jane"
                      },
                      "lastName": {
                        "type": "string",
                        "example": "Doe"
                      },
                      "phoneNumber": {
                        "type": "string",
                        "example": "233240000001"
                      }
                    }
                  },
                  "disburseType": {
                    "type": "string",
                    "example": "deposit"
                  },
                  "narration": {
                    "type": "string",
                    "example": "Bank disbursement"
                  },
                  "paymentDetails": {
                    "type": "object",
                    "properties": {
                      "accountName": {
                        "type": "string",
                        "example": "Jane Doe"
                      },
                      "accountNumber": {
                        "type": "string",
                        "example": "1234567890"
                      },
                      "bankCode": {
                        "type": "string",
                        "example": "ECB"
                      },
                      "bankbranchCode": {
                        "type": "string",
                        "example": ""
                      },
                      "paymentMode": {
                        "type": "string",
                        "example": "Other Bank (GIP-instant)"
                      }
                    }
                  },
                  "provider": {
                    "type": "string",
                    "example": "CAL"
                  },
                  "reference": {
                    "type": "string",
                    "example": "REF-{{$guid}}"
                  },
                  "source": {
                    "type": "string",
                    "example": "dashboard"
                  }
                }
              },
              "examples": {
                "Create B2B Transfer (MTN)": {
                  "value": {
                    "amount": 100.0,
                    "channel": "MOMO",
                    "currency": "GHS",
                    "customer": {
                      "name": "Business Partner",
                      "phone": "233240000000"
                    },
                    "disburseType": "transfer",
                    "narration": "B2B Transfer",
                    "paymentDetails": {
                      "momoNumber": "233240000000"
                    },
                    "provider": "MTN",
                    "reference": "REF-{{$guid}}"
                  }
                },
                "Create B2B Transfer (Telecel)": {
                  "value": {
                    "amount": 200.0,
                    "channel": "MOMO",
                    "currency": "GHS",
                    "customer": {
                      "name": "Business Partner",
                      "phone": "233200000000"
                    },
                    "disburseType": "transfer",
                    "narration": "Telecel B2B",
                    "paymentDetails": {
                      "momoNumber": "233200000000"
                    },
                    "provider": "TELECEL",
                    "reference": "REF-{{$guid}}"
                  }
                },
                "Create B2C Deposit (MTN)": {
                  "value": {
                    "amount": 10.0,
                    "channel": "MOBILE_MONEY",
                    "currency": "GHS",
                    "customer": {
                      "firstName": "Jane",
                      "lastName": "Doe",
                      "phoneNumber": "233240000001"
                    },
                    "disburseType": "deposit",
                    "narration": "Salary payment",
                    "paymentDetails": {
                      "momoNumber": "233240000001"
                    },
                    "provider": "MTN",
                    "reference": "REF-{{$guid}}",
                    "source": "dashboard"
                  }
                },
                "Create B2C Deposit (Telecel)": {
                  "value": {
                    "amount": 10.0,
                    "channel": "MOBILE_MONEY",
                    "currency": "GHS",
                    "customer": {
                      "firstName": "Jane",
                      "lastName": "Doe",
                      "phoneNumber": "233200000001"
                    },
                    "disburseType": "deposit",
                    "narration": "Telecel deposit",
                    "paymentDetails": {
                      "country": "GHA",
                      "momoNumber": "233200000001"
                    },
                    "provider": "TELECEL",
                    "reference": "REF-{{$guid}}",
                    "source": "dashboard"
                  }
                },
                "Create B2C Disbursement (Bank)": {
                  "value": {
                    "amount": 500.0,
                    "channel": "BANK",
                    "currency": "GHS",
                    "customer": {
                      "firstName": "Jane",
                      "lastName": "Doe",
                      "phoneNumber": "233240000001"
                    },
                    "disburseType": "deposit",
                    "narration": "Bank disbursement",
                    "paymentDetails": {
                      "accountName": "Jane Doe",
                      "accountNumber": "1234567890",
                      "bankCode": "ECB",
                      "bankbranchCode": "",
                      "paymentMode": "Other Bank (GIP-instant)"
                    },
                    "provider": "CAL",
                    "reference": "REF-{{$guid}}",
                    "source": "dashboard"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/v1/disbursements/wallet-transfer": {
      "post": {
        "tags": [
          "Disbursements"
        ],
        "summary": "Wallet Transfer",
        "description": "Wallet Transfer",
        "operationId": "walletTransfer",
        "parameters": [
          {
            "name": "x-user-id",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "{{userId}}"
            }
          },
          {
            "name": "service-id",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "{{serviceId}}"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "amount": {
                    "type": "string",
                    "example": "10.00"
                  },
                  "currency": {
                    "type": "string",
                    "example": "GHS"
                  },
                  "recipientId": {
                    "type": "string",
                    "example": "c71ef3be-6012-4885-920b-394dd0232411"
                  },
                  "source": {
                    "type": "string",
                    "example": "dashboard"
                  }
                }
              },
              "examples": {
                "Wallet Transfer": {
                  "value": {
                    "amount": "10.00",
                    "currency": "GHS",
                    "recipientId": "c71ef3be-6012-4885-920b-394dd0232411",
                    "source": "dashboard"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/v1/disbursements/bulk": {
      "post": {
        "tags": [
          "Disbursements"
        ],
        "summary": "Bulk Disbursement",
        "description": "Bulk Disbursement",
        "operationId": "bulkDisbursement",
        "parameters": [
          {
            "name": "x-user-id",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "{{userId}}"
            }
          },
          {
            "name": "service-id",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "{{serviceId}}"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "currency": {
                    "type": "string",
                    "example": "GHS"
                  },
                  "items": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "amount": {
                          "type": "number",
                          "example": 10.0
                        },
                        "channel": {
                          "type": "string",
                          "example": "MOBILE_MONEY"
                        },
                        "disburseType": {
                          "type": "string",
                          "example": "deposit"
                        },
                        "name": {
                          "type": "string",
                          "example": "Jane Doe"
                        },
                        "phone": {
                          "type": "string",
                          "example": "233240000001"
                        },
                        "provider": {
                          "type": "string",
                          "example": "MTN"
                        }
                      }
                    },
                    "example": [
                      {
                        "amount": 10.0,
                        "channel": "MOBILE_MONEY",
                        "disburseType": "deposit",
                        "name": "Jane Doe",
                        "phone": "233240000001",
                        "provider": "MTN"
                      },
                      {
                        "amount": 10.0,
                        "channel": "MOMO",
                        "disburseType": "deposit",
                        "name": "John Doe",
                        "phone": "233240000002",
                        "provider": "TELECEL"
                      }
                    ]
                  },
                  "title": {
                    "type": "string",
                    "example": "Staff Salaries"
                  },
                  "totalAmount": {
                    "type": "number",
                    "example": 20.0
                  }
                }
              },
              "examples": {
                "Bulk Disbursement": {
                  "value": {
                    "currency": "GHS",
                    "items": [
                      {
                        "amount": 10.0,
                        "channel": "MOBILE_MONEY",
                        "disburseType": "deposit",
                        "name": "Jane Doe",
                        "phone": "233240000001",
                        "provider": "MTN"
                      },
                      {
                        "amount": 10.0,
                        "channel": "MOMO",
                        "disburseType": "deposit",
                        "name": "John Doe",
                        "phone": "233240000002",
                        "provider": "TELECEL"
                      }
                    ],
                    "title": "Staff Salaries",
                    "totalAmount": 20.0
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/v1/disbursements/statistics": {
      "get": {
        "tags": [
          "Disbursements"
        ],
        "summary": "Get Disbursement Analytics",
        "description": "Get Disbursement Analytics",
        "operationId": "getDisbursementAnalytics",
        "parameters": [
          {
            "name": "x-user-id",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "{{userId}}"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/v1/disbursements/{disbursementId}": {
      "get": {
        "tags": [
          "Disbursements"
        ],
        "summary": "Get Disbursement By ID",
        "description": "Get Disbursement By ID",
        "operationId": "getDisbursementById",
        "parameters": [
          {
            "name": "x-user-id",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "{{userId}}"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        }
      },
      "put": {
        "tags": [
          "Disbursements"
        ],
        "summary": "Update Disbursement",
        "description": "Update Disbursement",
        "operationId": "updateDisbursement",
        "parameters": [
          {
            "name": "x-user-id",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "{{userId}}"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "narration": {
                    "type": "string",
                    "example": "Updated narration"
                  }
                }
              },
              "examples": {
                "Update Disbursement": {
                  "value": {
                    "narration": "Updated narration"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      },
      "delete": {
        "tags": [
          "Disbursements"
        ],
        "summary": "Delete Disbursement",
        "description": "Delete Disbursement",
        "operationId": "deleteDisbursement",
        "parameters": [
          {
            "name": "x-user-id",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "{{userId}}"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        }
      },
      "parameters": [
        {
          "name": "disbursementId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/v1/disbursements/{disbursementId}/process": {
      "post": {
        "tags": [
          "Disbursements"
        ],
        "summary": "Process Disbursement",
        "description": "Process Disbursement",
        "operationId": "processDisbursement",
        "parameters": [
          {
            "name": "x-user-id",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "{{userId}}"
            }
          },
          {
            "name": "service-id",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "{{serviceId}}"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "action": {
                    "type": "string",
                    "example": "approve"
                  }
                }
              },
              "examples": {
                "Process Disbursement": {
                  "value": {
                    "action": "approve"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      },
      "parameters": [
        {
          "name": "disbursementId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/account/validate-account": {
      "post": {
        "tags": [
          "Disbursements"
        ],
        "summary": "Validate Account",
        "description": "Validate Account",
        "operationId": "validateAccount",
        "parameters": [
          {
            "name": "x-user-id",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "{{userId}}"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "accountNumber": {
                    "type": "string",
                    "example": "233240000000"
                  },
                  "channel": {
                    "type": "string",
                    "example": "MOMO"
                  },
                  "provider": {
                    "type": "string",
                    "example": "MTN"
                  }
                }
              },
              "examples": {
                "Validate Account": {
                  "value": {
                    "accountNumber": "233240000000",
                    "channel": "MOMO",
                    "provider": "MTN"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/feeChecker/checkfullpayable": {
      "post": {
        "tags": [
          "Disbursements"
        ],
        "summary": "Check Full Payable",
        "description": "Check Full Payable",
        "operationId": "checkFullPayable",
        "parameters": [
          {
            "name": "x-user-id",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "{{userId}}"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "amount": {
                    "type": "number",
                    "example": 100.0
                  },
                  "serviceId": {
                    "type": "string",
                    "example": "123"
                  }
                }
              },
              "examples": {
                "Check Full Payable": {
                  "value": {
                    "amount": 100.0,
                    "serviceId": "123"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/v1/disbursements/bulk-v1": {
      "post": {
        "tags": [
          "Disbursements"
        ],
        "summary": "Bulk Disbursement V1",
        "description": "Bulk Disbursement V1",
        "operationId": "bulkDisbursementV1",
        "parameters": [
          {
            "name": "x-user-id",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "{{userId}}"
            }
          },
          {
            "name": "service-id",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "{{serviceId}}"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "currency": {
                    "type": "string",
                    "example": "GHS"
                  },
                  "items": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "amount": {
                          "type": "number",
                          "example": 10.0
                        },
                        "channel": {
                          "type": "string",
                          "example": "MOBILE_MONEY"
                        },
                        "disburseType": {
                          "type": "string",
                          "example": "deposit"
                        },
                        "name": {
                          "type": "string",
                          "example": "Jane Doe"
                        },
                        "phone": {
                          "type": "string",
                          "example": "233240000001"
                        },
                        "provider": {
                          "type": "string",
                          "example": "MTN"
                        }
                      }
                    },
                    "example": [
                      {
                        "amount": 10.0,
                        "channel": "MOBILE_MONEY",
                        "disburseType": "deposit",
                        "name": "Jane Doe",
                        "phone": "233240000001",
                        "provider": "MTN"
                      }
                    ]
                  },
                  "title": {
                    "type": "string",
                    "example": "Staff Salaries"
                  },
                  "totalAmount": {
                    "type": "number",
                    "example": 20.0
                  }
                }
              },
              "examples": {
                "Bulk Disbursement V1": {
                  "value": {
                    "currency": "GHS",
                    "items": [
                      {
                        "amount": 10.0,
                        "channel": "MOBILE_MONEY",
                        "disburseType": "deposit",
                        "name": "Jane Doe",
                        "phone": "233240000001",
                        "provider": "MTN"
                      }
                    ],
                    "title": "Staff Salaries",
                    "totalAmount": 20.0
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/verify": {
      "post": {
        "tags": [
          "Identity Verification"
        ],
        "summary": "Verify MoMo Identity",
        "description": "Verify MoMo Identity",
        "operationId": "verifyMomoIdentity",
        "parameters": [
          {
            "name": "x-configuration-id",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "{{iVerifyToken}}"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "account_number": {
                    "type": "string",
                    "example": "1234567890"
                  },
                  "bank_code": {
                    "type": "string",
                    "example": "ECB"
                  },
                  "channel": {
                    "type": "string",
                    "example": "bank"
                  },
                  "mobile_number": {
                    "type": "string",
                    "example": ""
                  },
                  "operator": {
                    "type": "string",
                    "example": "mtn"
                  },
                  "username": {
                    "type": "string",
                    "example": "steve.ameyaw"
                  }
                }
              },
              "examples": {
                "Verify Bank Identity": {
                  "value": {
                    "account_number": "1234567890",
                    "bank_code": "ECB",
                    "channel": "bank",
                    "mobile_number": "",
                    "operator": "mtn",
                    "username": "steve.ameyaw"
                  }
                },
                "Verify MoMo Identity": {
                  "value": {
                    "account_number": "233240000000",
                    "bank_code": "ECB",
                    "channel": "mobile",
                    "mobile_number": "233240000000",
                    "operator": "mtn",
                    "username": "steve.ameyaw"
                  }
                }
              }
            }
          }
        },
[...]
