{
  "openapi": "3.0.3",
  "info": {
    "title": "Close API",
    "version": "1.0.0",
    "description": "Close CRM REST API for managing leads, contacts, opportunities, tasks, activities, custom fields, and more. Uses industry-standard REST conventions with Basic authentication.",
    "x-jentic-source-url": "https://developer.close.com/",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://api.close.com/api/v1"
    }
  ],
  "tags": [
    {
      "name": "Leads"
    },
    {
      "name": "Contacts"
    },
    {
      "name": "Opportunities"
    },
    {
      "name": "Tasks"
    },
    {
      "name": "Activities"
    },
    {
      "name": "Custom Fields"
    },
    {
      "name": "Statuses"
    },
    {
      "name": "Users"
    },
    {
      "name": "Organization"
    },
    {
      "name": "Search"
    }
  ],
  "paths": {
    "/lead/": {
      "get": {
        "operationId": "listLeads",
        "summary": "List leads",
        "description": "Returns a paginated list of leads.",
        "tags": [
          "Leads"
        ],
        "parameters": [
          {
            "name": "_limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 100
            },
            "description": "Limit"
          },
          {
            "name": "_skip",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            },
            "description": "Skip"
          },
          {
            "name": "_fields",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Fields to return"
          },
          {
            "name": "query",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Search query"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LeadListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createLead",
        "summary": "Create lead",
        "description": "Create a new lead.",
        "tags": [
          "Leads"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LeadInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Lead"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/lead/{id}/": {
      "get": {
        "operationId": "getLead",
        "summary": "Get lead",
        "description": "Retrieve a single lead by ID.",
        "tags": [
          "Leads"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Lead ID"
          },
          {
            "name": "_fields",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Lead"
                }
              }
            }
          },
          "404": {
            "description": "Not found"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "put": {
        "operationId": "updateLead",
        "summary": "Update lead",
        "description": "Update an existing lead. Supports non-destructive patches.",
        "tags": [
          "Leads"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LeadInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Lead"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "delete": {
        "operationId": "deleteLead",
        "summary": "Delete lead",
        "description": "Delete a lead.",
        "tags": [
          "Leads"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted"
          },
          "404": {
            "description": "Not found"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/lead/merge/": {
      "post": {
        "operationId": "mergeLeads",
        "summary": "Merge two leads",
        "description": "Merge source lead into destination lead.",
        "tags": [
          "Leads"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "source",
                  "destination"
                ],
                "properties": {
                  "source": {
                    "type": "string"
                  },
                  "destination": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/contact/": {
      "get": {
        "operationId": "listContacts",
        "summary": "List contacts",
        "description": "Returns a paginated list of contacts.",
        "tags": [
          "Contacts"
        ],
        "parameters": [
          {
            "name": "_limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 100
            },
            "description": "Limit"
          },
          {
            "name": "_skip",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            },
            "description": "Skip"
          },
          {
            "name": "_fields",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Fields to return"
          },
          {
            "name": "lead_id",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by lead"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createContact",
        "summary": "Create contact",
        "description": "Create a new contact.",
        "tags": [
          "Contacts"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContactInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Contact"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/contact/{id}/": {
      "get": {
        "operationId": "getContact",
        "summary": "Get contact",
        "description": "Retrieve a single contact by ID.",
        "tags": [
          "Contacts"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Contact ID"
          },
          {
            "name": "_fields",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Contact"
                }
              }
            }
          },
          "404": {
            "description": "Not found"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "put": {
        "operationId": "updateContact",
        "summary": "Update contact",
        "description": "Update an existing contact. Supports non-destructive patches.",
        "tags": [
          "Contacts"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContactInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Contact"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "delete": {
        "operationId": "deleteContact",
        "summary": "Delete contact",
        "description": "Delete a contact.",
        "tags": [
          "Contacts"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted"
          },
          "404": {
            "description": "Not found"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/opportunity/": {
      "get": {
        "operationId": "listOpportunitys",
        "summary": "List opportunitys",
        "description": "Returns a paginated list of opportunitys.",
        "tags": [
          "Opportunities"
        ],
        "parameters": [
          {
            "name": "_limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 100
            },
            "description": "Limit"
          },
          {
            "name": "_skip",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            },
            "description": "Skip"
          },
          {
            "name": "_fields",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Fields to return"
          },
          {
            "name": "lead_id",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": ""
          },
          {
            "name": "user_id",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": ""
          },
          {
            "name": "status_id",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": ""
          },
          {
            "name": "status_type",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "active/won/lost"
          },
          {
            "name": "query",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Search query"
          },
          {
            "name": "_order_by",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": ""
          },
          {
            "name": "_group_by",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": ""
          },
          {
            "name": "value_period",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": ""
          },
          {
            "name": "lead_saved_search_id",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpportunityListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createOpportunity",
        "summary": "Create opportunity",
        "description": "Create a new opportunity.",
        "tags": [
          "Opportunities"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OpportunityInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Opportunity"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/opportunity/{id}/": {
      "get": {
        "operationId": "getOpportunity",
        "summary": "Get opportunity",
        "description": "Retrieve a single opportunity by ID.",
        "tags": [
          "Opportunities"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Opportunity ID"
          },
          {
            "name": "_fields",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Opportunity"
                }
              }
            }
          },
          "404": {
            "description": "Not found"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "put": {
        "operationId": "updateOpportunity",
        "summary": "Update opportunity",
        "description": "Update an existing opportunity. Supports non-destructive patches.",
        "tags": [
          "Opportunities"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OpportunityInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Opportunity"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "delete": {
        "operationId": "deleteOpportunity",
        "summary": "Delete opportunity",
        "description": "Delete a opportunity.",
        "tags": [
          "Opportunities"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted"
          },
          "404": {
            "description": "Not found"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/task/": {
      "get": {
        "operationId": "listTasks",
        "summary": "List tasks",
        "description": "Returns a paginated list of tasks.",
        "tags": [
          "Tasks"
        ],
        "parameters": [
          {
            "name": "_limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 100
            },
            "description": "Limit"
          },
          {
            "name": "_skip",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            },
            "description": "Skip"
          },
          {
            "name": "_fields",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Fields to return"
          },
          {
            "name": "lead_id",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": ""
          },
          {
            "name": "is_complete",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "true/false"
          },
          {
            "name": "_type",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Task type filter"
          },
          {
            "name": "assigned_to",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": ""
          },
          {
            "name": "view",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "inbox/future/archive"
          },
          {
            "name": "_order_by",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createTask",
        "summary": "Create task",
        "description": "Create a new task.",
        "tags": [
          "Tasks"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TaskInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Task"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "put": {
        "operationId": "bulkUpdateTasks",
        "summary": "Bulk update tasks",
        "description": "Update multiple tasks at once using filters.",
        "tags": [
          "Tasks"
        ],
        "parameters": [
          {
            "name": "id__in",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": ""
          },
          {
            "name": "is_complete",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": ""
          },
          {
            "name": "assigned_to",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": ""
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "assigned_to": {
                    "type": "string"
                  },
                  "date": {
                    "type": "string"
                  },
                  "is_complete": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/task/{id}/": {
      "get": {
        "operationId": "getTask",
        "summary": "Get task",
        "description": "Retrieve a single task by ID.",
        "tags": [
          "Tasks"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Task ID"
          },
          {
            "name": "_fields",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Task"
                }
              }
            }
          },
          "404": {
            "description": "Not found"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "put": {
        "operationId": "updateTask",
        "summary": "Update task",
        "description": "Update an existing task. Supports non-destructive patches.",
        "tags": [
          "Tasks"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TaskInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Task"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "delete": {
        "operationId": "deleteTask",
        "summary": "Delete task",
        "description": "Delete a task.",
        "tags": [
          "Tasks"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted"
          },
          "404": {
            "description": "Not found"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/activity/": {
      "get": {
        "operationId": "listActivities",
        "summary": "List activities",
        "description": "List or filter all activity types.",
        "tags": [
          "Activities"
        ],
        "parameters": [
          {
            "name": "lead_id",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": ""
          },
          {
            "name": "user_id",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": ""
          },
          {
            "name": "contact_id",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": ""
          },
          {
            "name": "_type",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": ""
          },
          {
            "name": "_type__in",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": ""
          },
          {
            "name": "date_created__gt",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": ""
          },
          {
            "name": "date_created__lt",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": ""
          },
          {
            "name": "activity_at__gt",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": ""
          },
          {
            "name": "activity_at__lt",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": ""
          },
          {
            "name": "_order_by",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": ""
          },
          {
            "name": "_fields",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": ""
          },
          {
            "name": "_limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 100
            }
          },
          {
            "name": "_skip",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActivityListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/activity/call/": {
      "get": {
        "operationId": "listCallActivities",
        "summary": "List call activities",
        "description": "List call activities.",
        "tags": [
          "Activities"
        ],
        "parameters": [
          {
            "name": "lead_id",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": ""
          },
          {
            "name": "_limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "_skip",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "createCallActivity",
        "summary": "Create call activity",
        "description": "Create a call activity.",
        "tags": [
          "Activities"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "lead_id": {
                    "type": "string"
                  },
                  "contact_id": {
                    "type": "string"
                  },
                  "note": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/activity/email/": {
      "get": {
        "operationId": "listEmailActivities",
        "summary": "List email activities",
        "description": "List email activities.",
        "tags": [
          "Activities"
        ],
        "parameters": [
          {
            "name": "lead_id",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": ""
          },
          {
            "name": "_limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "_skip",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "createEmailActivity",
        "summary": "Create email activity",
        "description": "Create a email activity.",
        "tags": [
          "Activities"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "lead_id": {
                    "type": "string"
                  },
                  "contact_id": {
                    "type": "string"
                  },
                  "note": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/activity/note/": {
      "get": {
        "operationId": "listNoteActivities",
        "summary": "List note activities",
        "description": "List note activities.",
        "tags": [
          "Activities"
        ],
        "parameters": [
          {
            "name": "lead_id",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": ""
          },
          {
            "name": "_limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "_skip",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "createNoteActivity",
        "summary": "Create note activity",
        "description": "Create a note activity.",
        "tags": [
          "Activities"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "lead_id": {
                    "type": "string"
                  },
                  "contact_id": {
                    "type": "string"
                  },
                  "note": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/activity/meeting/": {
      "get": {
        "operationId": "listMeetingActivities",
        "summary": "List meeting activities",
        "description": "List meeting activities.",
        "tags": [
          "Activities"
        ],
        "parameters": [
          {
            "name": "lead_id",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": ""
          },
          {
            "name": "_limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "_skip",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "createMeetingActivity",
        "summary": "Create meeting activity",
        "description": "Create a meeting activity.",
        "tags": [
          "Activities"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "lead_id": {
                    "type": "string"
                  },
                  "contact_id": {
                    "type": "string"
                  },
                  "note": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/activity/sms/": {
      "get": {
        "operationId": "listSmsActivities",
        "summary": "List sms activities",
        "description": "List sms activities.",
        "tags": [
          "Activities"
        ],
        "parameters": [
          {
            "name": "lead_id",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": ""
          },
          {
            "name": "_limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "_skip",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "createSmsActivity",
        "summary": "Create sms activity",
        "description": "Create a sms activity.",
        "tags": [
          "Activities"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "lead_id": {
                    "type": "string"
                  },
                  "contact_id": {
                    "type": "string"
                  },
                  "note": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/custom_field/lead/": {
      "get": {
        "operationId": "listLeadCustomFields",
        "summary": "List lead custom fields",
        "description": "Returns all custom fields for leads.",
        "tags": [
          "Custom Fields"
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/custom_field/contact/": {
      "get": {
        "operationId": "listContactCustomFields",
        "summary": "List contact custom fields",
        "description": "Returns all custom fields for contacts.",
        "tags": [
          "Custom Fields"
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/custom_field/opportunity/": {
      "get": {
        "operationId": "listOpportunityCustomFields",
        "summary": "List opportunity custom fields",
        "description": "Returns all custom fields for opportunities.",
        "tags": [
          "Custom Fields"
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/status/lead/": {
      "get": {
        "operationId": "listLeadStatuses",
        "summary": "List lead statuses",
        "description": "Returns all lead statuses.",
        "tags": [
          "Statuses"
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/status/opportunity/": {
      "get": {
        "operationId": "listOpportunityStatuses",
        "summary": "List opportunity statuses",
        "description": "Returns all opportunity statuses.",
        "tags": [
          "Statuses"
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/me/": {
      "get": {
        "operationId": "getMe",
        "summary": "Get current user",
        "description": "Returns the current API user info.",
        "tags": [
          "Users"
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/user/": {
      "get": {
        "operationId": "listUsers",
        "summary": "List users",
        "description": "Returns all users in the organization.",
        "tags": [
          "Users"
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/user/{id}/": {
      "get": {
        "operationId": "getUser",
        "summary": "Get user",
        "description": "Get a user by ID.",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/organization/": {
      "get": {
        "operationId": "getOrganization",
        "summary": "Get organization",
        "description": "Returns organization info.",
        "tags": [
          "Organization"
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/data/search/": {
      "post": {
        "operationId": "searchData",
        "summary": "Advanced filtering / search",
        "description": "Search leads using advanced filtering syntax.",
        "tags": [
          "Search"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "query": {
                    "type": "object"
                  },
                  "_limit": {
                    "type": "integer"
                  },
                  "_skip": {
                    "type": "integer"
                  },
                  "_fields": {
                    "type": "object"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BasicAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "Use your API key as the username and leave the password blank."
      }
    },
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "Lead": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "display_name": {
            "type": "string"
          },
          "status_id": {
            "type": "string"
          },
          "status_label": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "url": {
            "type": "string"
          },
          "contacts": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Contact"
            }
          },
          "opportunities": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "tasks": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "addresses": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "date_created": {
            "type": "string",
            "format": "date-time"
          },
          "date_updated": {
            "type": "string",
            "format": "date-time"
          },
          "created_by": {
            "type": "string"
          },
          "updated_by": {
            "type": "string"
          },
          "organization_id": {
            "type": "string"
          }
        }
      },
      "LeadInput": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "status_id": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "url": {
            "type": "string"
          },
          "contacts": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "addresses": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "LeadListResponse": {
        "type": "object",
        "properties": {
          "has_more": {
            "type": "boolean"
          },
          "total_results": {
            "type": "integer"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Lead"
            }
          }
        }
      },
      "Contact": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "lead_id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "phones": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "phone": {
                  "type": "string"
                },
                "type": {
                  "type": "string"
                }
              }
            }
          },
          "emails": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "email": {
                  "type": "string"
                },
                "type": {
                  "type": "string"
                }
              }
            }
          },
          "urls": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "date_created": {
            "type": "string",
            "format": "date-time"
          },
          "date_updated": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ContactInput": {
        "type": "object",
        "properties": {
          "lead_id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "phones": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "emails": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "ContactListResponse": {
        "type": "object",
        "properties": {
          "has_more": {
            "type": "boolean"
          },
          "total_results": {
            "type": "integer"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Contact"
            }
          }
        }
      },
      "Opportunity": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "lead_id": {
            "type": "string"
          },
          "lead_name": {
            "type": "string"
          },
          "status_id": {
            "type": "string"
          },
          "status_label": {
            "type": "string"
          },
          "status_type": {
            "type": "string",
            "enum": [
              "active",
              "won",
              "lost"
            ]
          },
          "value": {
            "type": "integer"
          },
          "value_period": {
            "type": "string",
            "enum": [
              "one_time",
              "monthly",
              "annual"
            ]
          },
          "confidence": {
            "type": "integer"
          },
          "note": {
            "type": "string"
          },
          "date_won": {
            "type": "string",
            "format": "date"
          },
          "date_created": {
            "type": "string",
            "format": "date-time"
          },
          "date_updated": {
            "type": "string",
            "format": "date-time"
          },
          "user_id": {
            "type": "string"
          },
          "user_name": {
            "type": "string"
          }
        }
      },
      "OpportunityInput": {
        "type": "object",
        "properties": {
          "lead_id": {
            "type": "string"
          },
          "status_id": {
            "type": "string"
          },
          "value": {
            "type": "integer"
          },
          "value_period": {
            "type": "string",
            "enum": [
              "one_time",
              "monthly",
              "annual"
            ]
          },
          "confidence": {
            "type": "integer"
          },
          "note": {
            "type": "string"
          }
        }
      },
      "OpportunityListResponse": {
        "type": "object",
        "properties": {
          "has_more": {
            "type": "boolean"
          },
          "total_results": {
            "type": "integer"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Opportunity"
            }
          },
          "total_value_one_time": {
            "type": "number"
          },
          "total_value_monthly": {
            "type": "number"
          },
          "total_value_annual": {
            "type": "number"
          },
          "total_value_annualized": {
            "type": "number"
          }
        }
      },
      "Task": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "_type": {
            "type": "string"
          },
          "lead_id": {
            "type": "string"
          },
          "lead_name": {
            "type": "string"
          },
          "assigned_to": {
            "type": "string"
          },
          "assigned_to_name": {
            "type": "string"
          },
          "text": {
            "type": "string"
          },
          "date": {
            "type": "string"
          },
          "is_complete": {
            "type": "boolean"
          },
          "is_dateless": {
            "type": "boolean"
          },
          "date_created": {
            "type": "string",
            "format": "date-time"
          },
          "date_updated": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "TaskInput": {
        "type": "object",
        "properties": {
          "_type": {
            "type": "string",
            "enum": [
              "lead",
              "outgoing_call"
            ]
          },
          "lead_id": {
            "type": "string"
          },
          "assigned_to": {
            "type": "string"
          },
          "text": {
            "type": "string"
          },
          "date": {
            "type": "string"
          },
          "is_complete": {
            "type": "boolean"
          }
        }
      },
      "TaskListResponse": {
        "type": "object",
        "properties": {
          "has_more": {
            "type": "boolean"
          },
          "total_results": {
            "type": "integer"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Task"
            }
          }
        }
      },
      "ActivityListResponse": {
        "type": "object",
        "properties": {
          "has_more": {
            "type": "boolean"
          },
          "total_results": {
            "type": "integer"
          },
          "data": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "BasicAuth": []
    }
  ]
}
