{
  "openapi": "3.0.3",
  "info": {
    "title": "Facebook Graph API",
    "description": "The Facebook Graph API is the primary way to read and write to the Facebook social graph. Provides access to user profiles, pages, posts, photos, events, groups, and other Facebook objects.",
    "version": "21.0",
    "contact": {
      "name": "Meta for Developers",
      "url": "https://developers.facebook.com/"
    },
    "license": {
      "name": "Meta Platform Terms",
      "url": "https://developers.facebook.com/terms/"
    }
  },
  "externalDocs": {
    "description": "Facebook Graph API Documentation",
    "url": "https://developers.facebook.com/docs/graph-api"
  },
  "servers": [
    {
      "url": "https://graph.facebook.com/v21.0",
      "description": "Facebook Graph API v21.0"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/me": {
      "get": {
        "operationId": "getMe",
        "summary": "Get the current user's profile",
        "parameters": [
          {
            "name": "fields",
            "in": "query",
            "description": "Comma-separated list of fields to return",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User profile",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or expired access token"
          }
        },
        "description": "Get the current user's profile",
        "tags": [
          "me"
        ]
      }
    },
    "/{user-id}": {
      "get": {
        "operationId": "getUser",
        "summary": "Get a user profile by ID",
        "parameters": [
          {
            "name": "user-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User profile",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          }
        },
        "description": "Get a user profile by ID",
        "tags": [
          "default"
        ]
      }
    },
    "/{user-id}/feed": {
      "get": {
        "operationId": "getUserFeed",
        "summary": "Get a user's feed",
        "parameters": [
          {
            "name": "user-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "after",
            "in": "query",
            "description": "Cursor for pagination",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "before",
            "in": "query",
            "description": "Cursor for pagination",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Feed posts",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedPosts"
                }
              }
            }
          }
        },
        "description": "Get a user's feed",
        "tags": [
          "feed"
        ]
      },
      "post": {
        "operationId": "createPost",
        "summary": "Create a new post on the user's timeline",
        "parameters": [
          {
            "name": "user-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "message": {
                    "type": "string"
                  },
                  "link": {
                    "type": "string",
                    "format": "uri"
                  },
                  "place": {
                    "type": "string"
                  },
                  "tags": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Post created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Create a new post on the user's timeline",
        "tags": [
          "feed"
        ]
      }
    },
    "/{user-id}/photos": {
      "get": {
        "operationId": "getUserPhotos",
        "summary": "Get a user's photos",
        "parameters": [
          {
            "name": "user-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "uploaded",
                "tagged"
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "after",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Photos",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedData"
                }
              }
            }
          }
        },
        "description": "Get a user's photos",
        "tags": [
          "photos"
        ]
      }
    },
    "/{user-id}/friends": {
      "get": {
        "operationId": "getUserFriends",
        "summary": "Get a user's friends",
        "parameters": [
          {
            "name": "user-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "after",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Friends list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedData"
                }
              }
            }
          }
        },
        "description": "Get a user's friends",
        "tags": [
          "friends"
        ]
      }
    },
    "/{user-id}/likes": {
      "get": {
        "operationId": "getUserLikes",
        "summary": "Get pages liked by the user",
        "parameters": [
          {
            "name": "user-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "after",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Liked pages",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedData"
                }
              }
            }
          }
        },
        "description": "Get pages liked by the user",
        "tags": [
          "likes"
        ]
      }
    },
    "/{user-id}/events": {
      "get": {
        "operationId": "getUserEvents",
        "summary": "Get user's events",
        "parameters": [
          {
            "name": "user-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Events",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedData"
                }
              }
            }
          }
        },
        "description": "Get user's events",
        "tags": [
          "events"
        ]
      }
    },
    "/{page-id}": {
      "get": {
        "operationId": "getPage",
        "summary": "Get a page by ID",
        "parameters": [
          {
            "name": "page-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Page details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Page"
                }
              }
            }
          }
        },
        "description": "Get a page by ID",
        "tags": [
          "default"
        ]
      }
    },
    "/{page-id}/feed": {
      "get": {
        "operationId": "getPageFeed",
        "summary": "Get a page's feed",
        "parameters": [
          {
            "name": "page-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "after",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Page feed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedPosts"
                }
              }
            }
          }
        },
        "description": "Get a page's feed",
        "tags": [
          "feed"
        ]
      }
    },
    "/{post-id}": {
      "get": {
        "operationId": "getPost",
        "summary": "Get a post by ID",
        "parameters": [
          {
            "name": "post-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Post details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Post"
                }
              }
            }
          }
        },
        "description": "Get a post by ID",
        "tags": [
          "default"
        ]
      },
      "delete": {
        "operationId": "deletePost",
        "summary": "Delete a post",
        "parameters": [
          {
            "name": "post-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Post deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Delete a post",
        "tags": [
          "default"
        ]
      }
    },
    "/{post-id}/comments": {
      "get": {
        "operationId": "getPostComments",
        "summary": "Get comments on a post",
        "parameters": [
          {
            "name": "post-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "after",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Comments",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedData"
                }
              }
            }
          }
        },
        "description": "Get comments on a post",
        "tags": [
          "comments"
        ]
      },
      "post": {
        "operationId": "createComment",
        "summary": "Add a comment to a post",
        "parameters": [
          {
            "name": "post-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "message": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Comment created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Add a comment to a post",
        "tags": [
          "comments"
        ]
      }
    },
    "/{post-id}/likes": {
      "get": {
        "operationId": "getPostLikes",
        "summary": "Get likes on a post",
        "parameters": [
          {
            "name": "post-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Likes",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedData"
                }
              }
            }
          }
        },
        "description": "Get likes on a post",
        "tags": [
          "likes"
        ]
      }
    },
    "/search": {
      "get": {
        "operationId": "search",
        "summary": "Search for public objects",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "description": "Search query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "required": true,
            "description": "Type of object to search for",
            "schema": {
              "type": "string",
              "enum": [
                "user",
                "page",
                "event",
                "group",
                "place",
                "placetopic"
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Search results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedData"
                }
              }
            }
          }
        },
        "description": "Search for public objects",
        "tags": [
          "search"
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Facebook OAuth2 access token"
      },
      "oauth2": {
        "type": "oauth2",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://www.facebook.com/v21.0/dialog/oauth",
            "tokenUrl": "https://graph.facebook.com/v21.0/oauth/access_token",
            "scopes": {
              "public_profile": "Access public profile",
              "email": "Access email address",
              "user_friends": "Access friends list",
              "user_photos": "Access user photos",
              "user_posts": "Access user posts",
              "pages_read_engagement": "Read page engagement",
              "pages_manage_posts": "Manage page posts",
              "publish_to_groups": "Publish to groups"
            }
          }
        }
      }
    },
    "schemas": {
      "User": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "first_name": {
            "type": "string"
          },
          "last_name": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "picture": {
            "type": "object",
            "properties": {
              "data": {
                "type": "object",
                "properties": {
                  "url": {
                    "type": "string",
                    "format": "uri"
                  },
                  "width": {
                    "type": "integer"
                  },
                  "height": {
                    "type": "integer"
                  }
                }
              }
            }
          },
          "link": {
            "type": "string",
            "format": "uri"
          },
          "birthday": {
            "type": "string"
          },
          "gender": {
            "type": "string"
          },
          "location": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "name": {
                "type": "string"
              }
            }
          }
        }
      },
      "Post": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "story": {
            "type": "string"
          },
          "created_time": {
            "type": "string",
            "format": "date-time"
          },
          "updated_time": {
            "type": "string",
            "format": "date-time"
          },
          "from": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "name": {
                "type": "string"
              }
            }
          },
          "type": {
            "type": "string"
          },
          "link": {
            "type": "string",
            "format": "uri"
          },
          "picture": {
            "type": "string",
            "format": "uri"
          },
          "permalink_url": {
            "type": "string",
            "format": "uri"
          }
        }
      },
      "Page": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "about": {
            "type": "string"
          },
          "category": {
            "type": "string"
          },
          "fan_count": {
            "type": "integer"
          },
          "link": {
            "type": "string",
            "format": "uri"
          },
          "website": {
            "type": "string",
            "format": "uri"
          },
          "picture": {
            "type": "object",
            "properties": {
              "data": {
                "type": "object",
                "properties": {
                  "url": {
                    "type": "string",
                    "format": "uri"
                  }
                }
              }
            }
          }
        }
      },
      "PaginatedPosts": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Post"
            }
          },
          "paging": {
            "$ref": "#/components/schemas/Paging"
          }
        }
      },
      "PaginatedData": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "paging": {
            "$ref": "#/components/schemas/Paging"
          }
        }
      },
      "Paging": {
        "type": "object",
        "properties": {
          "cursors": {
            "type": "object",
            "properties": {
              "before": {
                "type": "string"
              },
              "after": {
                "type": "string"
              }
            }
          },
          "next": {
            "type": "string",
            "format": "uri"
          },
          "previous": {
            "type": "string",
            "format": "uri"
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "message": {
                "type": "string"
              },
              "type": {
                "type": "string"
              },
              "code": {
                "type": "integer"
              },
              "error_subcode": {
                "type": "integer"
              },
              "fbtrace_id": {
                "type": "string"
              }
            }
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "comments"
    },
    {
      "name": "default"
    },
    {
      "name": "events"
    },
    {
      "name": "feed"
    },
    {
      "name": "friends"
    },
    {
      "name": "likes"
    },
    {
      "name": "me"
    },
    {
      "name": "photos"
    },
    {
      "name": "search"
    }
  ]
}
