{
  "openapi": "3.0.3",
  "info": {
    "title": "Autopilot REST API",
    "version": "1.0.0",
    "description": "Autopilot is multi-channel marketing software. The REST API allows you to add/update contacts, trigger journeys, manage lists, smart segments, and REST hooks.",
    "x-jentic-source-url": "http://docs.autopilot.apiary.io/",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://api2.autopilothq.com",
      "description": "Autopilot API Server"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "Contacts",
      "description": "Contact management operations"
    },
    {
      "name": "Lists",
      "description": "List management operations"
    },
    {
      "name": "Journeys",
      "description": "Journey and trigger operations"
    },
    {
      "name": "Smart Segments",
      "description": "Smart segment operations"
    }
  ],
  "paths": {
    "/v1/contact": {
      "post": {
        "tags": [
          "Contacts"
        ],
        "summary": "Add or update contact",
        "description": "Add a new contact or update an existing one. Uses Email for de-duplication. Supports custom fields, session association, and adding to a list.",
        "operationId": "addOrUpdateContact",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddContactRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Contact added or updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddContactResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/contacts": {
      "post": {
        "tags": [
          "Contacts"
        ],
        "summary": "Bulk add contacts",
        "description": "Add or update up to 100 contacts at a time. Each contact uses Email for de-duplication.",
        "operationId": "bulkAddContacts",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BulkAddContactsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Contacts added successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BulkAddContactsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "413": {
            "description": "Request Entity Too Large - limit to 100 contacts",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/contacts/{bookmark}": {
      "get": {
        "tags": [
          "Contacts"
        ],
        "summary": "Get all contacts",
        "description": "Returns a paginated list of all contacts. Use the bookmark from previous responses to page through results (100 per page).",
        "operationId": "getAllContacts",
        "parameters": [
          {
            "name": "bookmark",
            "in": "path",
            "required": true,
            "description": "Bookmark from a previous response to get the next page. Use empty string for first page.",
            "schema": {
              "type": "string"
            },
            "allowEmptyValue": true
          }
        ],
        "responses": {
          "200": {
            "description": "Contacts list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactsListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/contact/{contact_id_or_email}": {
      "get": {
        "tags": [
          "Contacts"
        ],
        "summary": "Get contact",
        "description": "Retrieve a contact by contact_id or email address.",
        "operationId": "getContact",
        "parameters": [
          {
            "name": "contact_id_or_email",
            "in": "path",
            "required": true,
            "description": "Autopilot contact_id (e.g. person_XXX) or email address.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Contact details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Contact"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Contact not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Contacts"
        ],
        "summary": "Delete a contact",
        "description": "Permanently remove a contact from the database. Cannot be undone.",
        "operationId": "deleteContact",
        "parameters": [
          {
            "name": "contact_id_or_email",
            "in": "path",
            "required": true,
            "description": "Autopilot contact_id or email address.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Contact deleted successfully"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - contact is synced with Salesforce",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Contact not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/contact/{contact_id_or_email}/unsubscribe": {
      "post": {
        "tags": [
          "Contacts"
        ],
        "summary": "Unsubscribe contact",
        "description": "Unsubscribe a contact from receiving emails from Autopilot Journeys.",
        "operationId": "unsubscribeContact",
        "parameters": [
          {
            "name": "contact_id_or_email",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Contact unsubscribed"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Contact not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/trigger/{trigger_id}/contact/{contact_id_or_email}": {
      "post": {
        "tags": [
          "Journeys"
        ],
        "summary": "Add contact to a journey",
        "description": "Trigger an API journey for a specific contact. The trigger_id is the number assigned to the API Trigger in the journey canvas.",
        "operationId": "triggerJourneyForContact",
        "parameters": [
          {
            "name": "trigger_id",
            "in": "path",
            "required": true,
            "description": "The trigger ID (e.g. '0001').",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "contact_id_or_email",
            "in": "path",
            "required": true,
            "description": "Autopilot contact_id or email address.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Contact added to journey"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Trigger or contact not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/triggers": {
      "get": {
        "tags": [
          "Journeys"
        ],
        "summary": "Get journeys with API triggers",
        "description": "Get a list of published journeys that contain an API trigger.",
        "operationId": "getApiTriggers",
        "responses": {
          "200": {
            "description": "List of triggers",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TriggersListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/lists": {
      "get": {
        "tags": [
          "Lists"
        ],
        "summary": "Get all lists",
        "description": "Get a list of all available contact lists.",
        "operationId": "getLists",
        "responses": {
          "200": {
            "description": "List of lists",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/list": {
      "post": {
        "tags": [
          "Lists"
        ],
        "summary": "Add list",
        "description": "Create a new contact list. If a list with the same name exists, a sequential number is appended.",
        "operationId": "addList",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddListRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "List created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/list/{list_id}/contacts/{bookmark}": {
      "get": {
        "tags": [
          "Lists"
        ],
        "summary": "Get contacts on list",
        "description": "Get a paginated list of contacts on a specific list. Use bookmark for pagination.",
        "operationId": "getContactsOnList",
        "parameters": [
          {
            "name": "list_id",
            "in": "path",
            "required": true,
            "description": "The list ID (starts with contactlist_).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "bookmark",
            "in": "path",
            "required": true,
            "description": "Bookmark for pagination. Leave empty for first page.",
            "schema": {
              "type": "string"
            },
            "allowEmptyValue": true
          }
        ],
        "responses": {
          "200": {
            "description": "Contacts on list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactsListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/list/{list_id}/contact/{contact_id_or_email}": {
      "get": {
        "tags": [
          "Lists"
        ],
        "summary": "Check if contact is on list",
        "description": "Check if a contact belongs to a particular list. 200 means yes, 404 means no.",
        "operationId": "checkContactOnList",
        "parameters": [
          {
            "name": "list_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "contact_id_or_email",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Contact is on the list"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Contact not found or not on list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Lists"
        ],
        "summary": "Add contact to list",
        "description": "Add a contact to a list. Returns not_modified: true if already on list.",
        "operationId": "addContactToList",
        "parameters": [
          {
            "name": "list_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "contact_id_or_email",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Contact added to list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "not_modified": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Lists"
        ],
        "summary": "Remove contact from list",
        "description": "Remove a contact from a list.",
        "operationId": "removeContactFromList",
        "parameters": [
          {
            "name": "list_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "contact_id_or_email",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Contact removed from list"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/smart_segments": {
      "get": {
        "tags": [
          "Smart Segments"
        ],
        "summary": "Get smart segments",
        "description": "Get a list of all available smart segments.",
        "operationId": "getSmartSegments",
        "responses": {
          "200": {
            "description": "List of smart segments",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SmartSegmentsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/smart_segments/{smart_segment_id}/contacts/{bookmark}": {
      "get": {
        "tags": [
          "Smart Segments"
        ],
        "summary": "Get contacts on smart segment",
        "description": "Get a paginated list of contacts on a smart segment.",
        "operationId": "getContactsOnSmartSegment",
        "parameters": [
          {
            "name": "smart_segment_id",
            "in": "path",
            "required": true,
            "description": "The smart segment ID (starts with contactlist_sseg).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "bookmark",
            "in": "path",
            "required": true,
            "description": "Bookmark for pagination.",
            "schema": {
              "type": "string"
            },
            "allowEmptyValue": true
          }
        ],
        "responses": {
          "200": {
            "description": "Contacts on smart segment",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactsListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "autopilotapikey",
        "description": "Autopilot API key. Generate at Settings > Autopilot API in your Autopilot account."
      }
    },
    "schemas": {
      "Contact": {
        "type": "object",
        "properties": {
          "contact_id": {
            "type": "string",
            "description": "Autopilot contact ID (e.g. person_XXX)"
          },
          "Email": {
            "type": "string"
          },
          "FirstName": {
            "type": "string"
          },
          "LastName": {
            "type": "string"
          },
          "Salutation": {
            "type": "string"
          },
          "Company": {
            "type": "string"
          },
          "NumberOfEmployees": {
            "type": "string"
          },
          "Title": {
            "type": "string"
          },
          "Industry": {
            "type": "string"
          },
          "Phone": {
            "type": "string"
          },
          "MobilePhone": {
            "type": "string"
          },
          "Fax": {
            "type": "string"
          },
          "Website": {
            "type": "string"
          },
          "MailingStreet": {
            "type": "string"
          },
          "MailingCity": {
            "type": "string"
          },
          "MailingState": {
            "type": "string"
          },
          "MailingPostalCode": {
            "type": "string"
          },
          "MailingCountry": {
            "type": "string"
          },
          "owner_name": {
            "type": "string"
          },
          "LeadSource": {
            "type": "string"
          },
          "Status": {
            "type": "string"
          },
          "LinkedIn": {
            "type": "string"
          },
          "Twitter": {
            "type": "string"
          },
          "unsubscribed": {
            "type": "boolean"
          },
          "custom": {
            "type": "object",
            "additionalProperties": true,
            "description": "Custom fields with type-prefixed keys (e.g. string--Field--Name)"
          },
          "lists": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "custom_fields": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CustomField"
            }
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "CustomField": {
        "type": "object",
        "properties": {
          "kind": {
            "type": "string"
          },
          "value": {
            "type": "string"
          },
          "fieldType": {
            "type": "string"
          }
        }
      },
      "AddContactRequest": {
        "type": "object",
        "required": [
          "contact"
        ],
        "properties": {
          "contact": {
            "$ref": "#/components/schemas/Contact"
          }
        }
      },
      "AddContactResponse": {
        "type": "object",
        "properties": {
          "contact_id": {
            "type": "string"
          }
        }
      },
      "BulkAddContactsRequest": {
        "type": "object",
        "required": [
          "contacts"
        ],
        "properties": {
          "contacts": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Contact"
            },
            "maxItems": 100
          }
        }
      },
      "BulkAddContactsResponse": {
        "type": "object",
        "properties": {
          "contact_ids": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "email_contact_map": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          }
        }
      },
      "ContactsListResponse": {
        "type": "object",
        "properties": {
          "total_contacts": {
            "type": "integer"
          },
          "contacts": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Contact"
            }
          },
          "bookmark": {
            "type": "string",
            "description": "Use this value to get the next page of results."
          }
        }
      },
      "TriggersListResponse": {
        "type": "object",
        "properties": {
          "triggers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Trigger"
            }
          }
        }
      },
      "Trigger": {
        "type": "object",
        "properties": {
          "trigger_id": {
            "type": "string"
          },
          "journey": {
            "type": "string"
          },
          "triggerType": {
            "type": "string"
          }
        }
      },
      "ListsResponse": {
        "type": "object",
        "properties": {
          "lists": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ContactList"
            }
          }
        }
      },
      "ContactList": {
        "type": "object",
        "properties": {
          "list_id": {
            "type": "string"
          },
          "title": {
            "type": "string"
          }
        }
      },
      "AddListRequest": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string"
          }
        }
      },
      "AddListResponse": {
        "type": "object",
        "properties": {
          "list_id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          }
        }
      },
      "SmartSegmentsResponse": {
        "type": "object",
        "properties": {
          "segments": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SmartSegment"
            }
          }
        }
      },
      "SmartSegment": {
        "type": "object",
        "properties": {
          "segment_id": {
            "type": "string"
          },
          "title": {
            "type": "string"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    }
  }
}
