{
  "openapi": "3.0.3",
  "info": {
    "title": "CheapShark API",
    "version": "1.0",
    "description": "Free API for tracking game deal prices across multiple digital distribution stores including Steam, GOG, Humble Store, and more.",
    "x-jentic-source-url": "https://apidocs.cheapshark.com/",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://www.cheapshark.com/api/1.0"
    }
  ],
  "paths": {
    "/deals": {
      "get": {
        "operationId": "listDeals",
        "summary": "List game deals",
        "tags": [
          "Deals"
        ],
        "parameters": [
          {
            "name": "storeID",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated store IDs"
          },
          {
            "name": "pageNumber",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 60,
              "maximum": 60
            }
          },
          {
            "name": "sortBy",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "Deal Rating",
                "Title",
                "Savings",
                "Price",
                "Metacritic",
                "Reviews",
                "Release",
                "Store",
                "recent"
              ],
              "default": "Deal Rating"
            }
          },
          {
            "name": "desc",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [
                0,
                1
              ],
              "default": 0
            }
          },
          {
            "name": "lowerPrice",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "upperPrice",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "metacritic",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Minimum Metacritic score"
          },
          {
            "name": "steamRating",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Minimum Steam rating"
          },
          {
            "name": "steamAppID",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "title",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Search by game title"
          },
          {
            "name": "exact",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [
                0,
                1
              ],
              "default": 0
            }
          },
          {
            "name": "AAA",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [
                0,
                1
              ]
            }
          },
          {
            "name": "steamworks",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [
                0,
                1
              ]
            }
          },
          {
            "name": "onSale",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [
                0,
                1
              ]
            }
          },
          {
            "name": "output",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "xml"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of deals",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Deal"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Server error"
          }
        },
        "description": "List game deals"
      }
    },
    "/deals/{id}": {
      "get": {
        "operationId": "getDealById",
        "summary": "Get specific deal details",
        "tags": [
          "Deals"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Deal ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DealDetails"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get specific deal details"
      }
    },
    "/games": {
      "get": {
        "operationId": "listGames",
        "summary": "Search for games",
        "tags": [
          "Games"
        ],
        "parameters": [
          {
            "name": "title",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "steamAppID",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 60,
              "maximum": 60
            }
          },
          {
            "name": "exact",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [
                0,
                1
              ],
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of games",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/GameSearch"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Server error"
          }
        },
        "description": "Search for games"
      }
    },
    "/games/{id}": {
      "get": {
        "operationId": "getGameById",
        "summary": "Get game details by ID",
        "tags": [
          "Games"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Game ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GameDetails"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get game details by ID"
      }
    },
    "/stores": {
      "get": {
        "operationId": "listStores",
        "summary": "List all available stores",
        "tags": [
          "Stores"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "List of stores",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Store"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Server error"
          }
        },
        "description": "List all available stores"
      }
    },
    "/alerts": {
      "get": {
        "operationId": "getAlerts",
        "summary": "Get price alerts for an email",
        "tags": [
          "Alerts"
        ],
        "parameters": [
          {
            "name": "email",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "email"
            }
          },
          {
            "name": "action",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "manage",
                "delete",
                "set"
              ]
            }
          },
          {
            "name": "gameID",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "price",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Alert operation result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "Server error"
          }
        },
        "description": "Get price alerts for an email"
      }
    }
  },
  "components": {
    "schemas": {
      "Deal": {
        "type": "object",
        "properties": {
          "internalName": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "metacriticLink": {
            "type": "string"
          },
          "dealID": {
            "type": "string"
          },
          "storeID": {
            "type": "string"
          },
          "gameID": {
            "type": "string"
          },
          "salePrice": {
            "type": "string"
          },
          "normalPrice": {
            "type": "string"
          },
          "isOnSale": {
            "type": "string"
          },
          "savings": {
            "type": "string"
          },
          "metacriticScore": {
            "type": "string"
          },
          "steamRatingText": {
            "type": "string"
          },
          "steamRatingPercent": {
            "type": "string"
          },
          "steamRatingCount": {
            "type": "string"
          },
          "steamAppID": {
            "type": "string"
          },
          "releaseDate": {
            "type": "integer"
          },
          "lastChange": {
            "type": "integer"
          },
          "dealRating": {
            "type": "string"
          },
          "thumb": {
            "type": "string"
          }
        }
      },
      "DealDetails": {
        "type": "object",
        "properties": {
          "gameInfo": {
            "type": "object",
            "properties": {
              "storeID": {
                "type": "string"
              },
              "gameID": {
                "type": "string"
              },
              "name": {
                "type": "string"
              },
              "steamAppID": {
                "type": "string"
              },
              "salePrice": {
                "type": "string"
              },
              "retailPrice": {
                "type": "string"
              },
              "steamRatingText": {
                "type": "string"
              },
              "metacriticScore": {
                "type": "string"
              },
              "thumb": {
                "type": "string"
              }
            }
          },
          "cheaperStores": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "dealID": {
                  "type": "string"
                },
                "storeID": {
                  "type": "string"
                },
                "salePrice": {
                  "type": "string"
                },
                "retailPrice": {
                  "type": "string"
                }
              }
            }
          },
          "cheapestPrice": {
            "type": "object",
            "properties": {
              "price": {
                "type": "string"
              },
              "date": {
                "type": "integer"
              }
            }
          }
        }
      },
      "GameSearch": {
        "type": "object",
        "properties": {
          "gameID": {
            "type": "string"
          },
          "steamAppID": {
            "type": "string"
          },
          "cheapest": {
            "type": "string"
          },
          "cheapestDealID": {
            "type": "string"
          },
          "external": {
            "type": "string"
          },
          "internalName": {
            "type": "string"
          },
          "thumb": {
            "type": "string"
          }
        }
      },
      "GameDetails": {
        "type": "object",
        "properties": {
          "info": {
            "type": "object",
            "properties": {
              "title": {
                "type": "string"
              },
              "steamAppID": {
                "type": "string",
                "nullable": true
              },
              "thumb": {
                "type": "string"
              }
            }
          },
          "cheapestPriceEver": {
            "type": "object",
            "properties": {
              "price": {
                "type": "string"
              },
              "date": {
                "type": "integer"
              }
            }
          },
          "deals": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "storeID": {
                  "type": "string"
                },
                "dealID": {
                  "type": "string"
                },
                "price": {
                  "type": "string"
                },
                "retailPrice": {
                  "type": "string"
                },
                "savings": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "Store": {
        "type": "object",
        "properties": {
          "storeID": {
            "type": "string"
          },
          "storeName": {
            "type": "string"
          },
          "isActive": {
            "type": "integer"
          },
          "images": {
            "type": "object",
            "properties": {
              "banner": {
                "type": "string"
              },
              "logo": {
                "type": "string"
              },
              "icon": {
                "type": "string"
              }
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string"
              },
              "message": {
                "type": "string"
              }
            }
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Alerts"
    },
    {
      "name": "Deals"
    },
    {
      "name": "Games"
    },
    {
      "name": "Stores"
    }
  ]
}
