{
  "openapi": "3.1.1",
  "info": {
    "version": "1.0.0",
    "title": "Blue Yonder IFD API",
    "description": "Blue Yonder IFD API endpoints",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/Point2/blue-yonder-ifd-api/1.0.0"
  },
  "servers": [
    {
      "url": "https://pumalg4.int.pg.com:21700/"
    }
  ],
  "paths": {
    "/IFD": {
      "post": {
        "requestBody": {
          "required": true,
          "content": {
            "application/xml": {
              "schema": {
                "anyOf": [
                  {
                    "$ref": "#/components/schemas/BUFFER_FULL_v2013.2"
                  },
                  {
                    "$ref": "#/components/schemas/CREATE_LINE_INVENTORY_IN_IFD_v2013.2"
                  },
                  {
                    "$ref": "#/components/schemas/INVENTORY_RECONCILIATION_v2013.2"
                  },
                  {
                    "$ref": "#/components/schemas/LABEL_REQUEST_v2013.2"
                  },
                  {
                    "$ref": "#/components/schemas/LINE_SETUP_v2013.2"
                  },
                  {
                    "$ref": "#/components/schemas/LOCATION_STATUS_v2013.2"
                  },
                  {
                    "$ref": "#/components/schemas/MOVEMENT_CONFIRM_v2013.2"
                  },
                  {
                    "$ref": "#/components/schemas/MOVEMENT_ERROR_v2013.2"
                  },
                  {
                    "$ref": "#/components/schemas/PICK_CONFIRM_v2013.2"
                  },
                  {
                    "$ref": "#/components/schemas/PICK_ERROR_v1.0"
                  },
                  {
                    "$ref": "#/components/schemas/PICK_ERROR_v2013.2"
                  },
                  {
                    "$ref": "#/components/schemas/REQUEST_v2013.2"
                  },
                  {
                    "$ref": "#/components/schemas/VAR_ASSIGN_LIST_v2013.2"
                  },
                  {
                    "$ref": "#/components/schemas/VAR_AUTO_RECEIPT_v2014.1"
                  },
                  {
                    "$ref": "#/components/schemas/VAR_CANCEL_REQUEST_v2014.1"
                  },
                  {
                    "$ref": "#/components/schemas/VAR_CLOSE_RECEIPT_v2014.1"
                  },
                  {
                    "$ref": "#/components/schemas/VAR_CYCLE_COUNT_RESPONSE_v2014.1.0"
                  },
                  {
                    "$ref": "#/components/schemas/VAR_DEPOSIT_CONFIRM_v2014.1.0"
                  },
                  {
                    "$ref": "#/components/schemas/VAR_GROUP_PALLETS_v2014.1"
                  },
                  {
                    "$ref": "#/components/schemas/VAR_INV_MOVE_CONFIRM_v2014.1"
                  },
                  {
                    "$ref": "#/components/schemas/VAR_LIST_PICK_CONFIRM_v2014.1"
                  },
                  {
                    "$ref": "#/components/schemas/VAR_LOC_OVERRIDE_v2014.1"
                  },
                  {
                    "$ref": "#/components/schemas/VAR_MATERIAL_REQUEST_v2014.1"
                  },
                  {
                    "$ref": "#/components/schemas/VAR_PICKUP_CONFIRM_v2014.1.0"
                  },
                  {
                    "$ref": "#/components/schemas/VAR_RECEIVE_INVENTORY_v2014.1"
                  },
                  {
                    "$ref": "#/components/schemas/VAR_REPLEN_REQUEST_v2014.1"
                  },
                  {
                    "$ref": "#/components/schemas/VAR_RETURN_TO_STOCK_v2014.1"
                  },
                  {
                    "$ref": "#/components/schemas/VAR_RETURNS_v2014.1"
                  },
                  {
                    "$ref": "#/components/schemas/VAR_STAGING_UPDATE_v2014.1"
                  },
                  {
                    "$ref": "#/components/schemas/VAR_TRAILER_LOAD_v2014.1"
                  },
                  {
                    "$ref": "#/components/schemas/VAR_TRLR_CHKIN_v2014.1"
                  },
                  {
                    "$ref": "#/components/schemas/VAR_TRLR_CHKOUT_v2014.1"
                  },
                  {
                    "$ref": "#/components/schemas/VAR_TRLR_MOVE_v2014.1"
                  },
                  {
                    "$ref": "#/components/schemas/VAR_UNGROUP_PALLETS_v2014.1"
                  },
                  {
                    "$ref": "#/components/schemas/VAR_VEHICLE_STATUS_v2014.1"
                  },
                  {
                    "$ref": "#/components/schemas/VAR_WORK_DETAIL_REQUEST_v2014.1.0"
                  },
                  {
                    "$ref": "#/components/schemas/VAR_WORK_REJECT_v2014.1"
                  },
                  {
                    "$ref": "#/components/schemas/VAR_WORK_REQUEST_v2014.1.0"
                  }
                ]
              },
              "examples": {
                "BUFFER_FULL (v2013.2)": {
                  "value": "<BUFFER_FULL>\n  <CTRL_SEG>\n    <TRANID>string</TRANID>\n    <TRANDT>20260216085208</TRANDT>\n    <WCS_ID>string</WCS_ID>\n    <WH_ID>string</WH_ID>\n    <STOLOC_SEG>\n      <STOLOC>string</STOLOC>\n    </STOLOC_SEG>\n  </CTRL_SEG>\n</BUFFER_FULL>\n"
                },
                "CREATE_LINE_INVENTORY_IN_IFD (v2013.2)": {
                  "value": "<CREATE_LINE_INVENTORY_IN_IFD>\n  <CTRL_SEG>\n    <TRANID>string</TRANID>\n    <TRANDT>20260216085208</TRANDT>\n    <WCS_ID>string</WCS_ID>\n    <WH_ID>string</WH_ID>\n    <CREATE_LINE_INVENTORY_SEG>\n      <WKONUM>string</WKONUM>\n      <WKOREV>string</WKOREV>\n      <CLIENT_ID>string</CLIENT_ID>\n      <PRDLIN>string</PRDLIN>\n      <ADJ_REF1>string</ADJ_REF1>\n      <ADJ_REF2>string</ADJ_REF2>\n      <REACOD>string</REACOD>\n      <UOMCOD>string</UOMCOD>\n      <PRTNUM>string</PRTNUM>\n      <PRT_CLIENT_ID>string</PRT_CLIENT_ID>\n      <UNTCAS>0000000000</UNTCAS>\n      <INVSTS>string</INVSTS>\n      <HSTACC>string</HSTACC>\n      <UNTQTY>string</UNTQTY>\n      <ORGCOD>string</ORGCOD>\n      <REVLVL>string</REVLVL>\n      <LOTNUM>string</LOTNUM>\n      <SUP_LOTNUM>string</SUP_LOTNUM>\n      <DSTLOC>string</DSTLOC>\n      <LODNUM>string</LODNUM>\n      <SUBNUM>string</SUBNUM>\n      <DTLNUM>string</DTLNUM>\n      <PTWAY_FLG>0</PTWAY_FLG>\n      <USR_ID>string</USR_ID>\n      <ACTCOD>string</ACTCOD>\n      <MOVREF>string</MOVREF>\n      <FTPCOD>string</FTPCOD>\n      <UNTPAK>0000000000</UNTPAK>\n      <FIFDTE>20260216085208</FIFDTE>\n      <MANDTE>20260216085208</MANDTE>\n      <AGE_PFLNAM>string</AGE_PFLNAM>\n      <CATCH_QTY>0000000000</CATCH_QTY>\n      <EXPDTE>20260216085208</EXPDTE>\n      <LODTAG>string</LODTAG>\n      <SUBTAG>string</SUBTAG>\n      <PHYFLG>0</PHYFLG>\n      <PLAT_ID>string</PLAT_ID>\n      <SUPNUM>string</SUPNUM>\n      <CNSG_FLG>0</CNSG_FLG>\n      <ASSET_TYP>string</ASSET_TYP>\n      <SUB_ASSET_TYP>string</SUB_ASSET_TYP>\n      <MANDTE_FMT>string</MANDTE_FMT>\n      <MANDTE_FMTVAL>string</MANDTE_FMTVAL>\n      <EXPDTE_FMT>string</EXPDTE_FMT>\n      <EXPDTE_FMTVAL>string</EXPDTE_FMTVAL>\n      <INV_ATTR_STR1>string</INV_ATTR_STR1>\n      <INV_ATTR_STR2>string</INV_ATTR_STR2>\n      <INV_ATTR_STR3>string</INV_ATTR_STR3>\n      <INV_ATTR_STR4>string</INV_ATTR_STR4>\n      <INV_ATTR_STR5>string</INV_ATTR_STR5>\n      <INV_ATTR_STR6>string</INV_ATTR_STR6>\n      <INV_ATTR_STR7>string</INV_ATTR_STR7>\n      <INV_ATTR_STR8>string</INV_ATTR_STR8>\n      <INV_ATTR_STR9>string</INV_ATTR_STR9>\n      <INV_ATTR_STR10>string</INV_ATTR_STR10>\n      <INV_ATTR_STR11>string</INV_ATTR_STR11>\n      <INV_ATTR_STR12>string</INV_ATTR_STR12>\n      <INV_ATTR_STR13>string</INV_ATTR_STR13>\n      <INV_ATTR_STR14>string</INV_ATTR_STR14>\n      <INV_ATTR_STR15>string</INV_ATTR_STR15>\n      <INV_ATTR_STR16>string</INV_ATTR_STR16>\n      <INV_ATTR_STR17>string</INV_ATTR_STR17>\n      <INV_ATTR_STR18>string</INV_ATTR_STR18>\n      <INV_ATTR_INT1>0000000000</INV_ATTR_INT1>\n      <INV_ATTR_INT2>0000000000</INV_ATTR_INT2>\n      <INV_ATTR_INT3>0000000000</INV_ATTR_INT3>\n      <INV_ATTR_INT4>0000000000</INV_ATTR_INT4>\n      <INV_ATTR_INT5>0000000000</INV_ATTR_INT5>\n      <INV_ATTR_FLT1>00000000000000.0000</INV_ATTR_FLT1>\n      <INV_ATTR_FLT2>00000000000000.0000</INV_ATTR_FLT2>\n      <INV_ATTR_FLT3>00000000000000.0000</INV_ATTR_FLT3>\n      <INV_ATTR_DTE1>20260216085208</INV_ATTR_DTE1>\n      <INV_ATTR_DTE1_FMT>string</INV_ATTR_DTE1_FMT>\n      <INV_ATTR_DTE1_FMTVAL>string</INV_ATTR_DTE1_FMTVAL>\n      <INV_ATTR_DTE2>20260216085208</INV_ATTR_DTE2>\n      <INV_ATTR_DTE2_FMT>string</INV_ATTR_DTE2_FMT>\n      <INV_ATTR_DTE2_FMTVAL>string</INV_ATTR_DTE2_FMTVAL>\n      <CSTMS_CNSGNMNT_ID>string</CSTMS_CNSGNMNT_ID>\n      <CSTMS_BOND_FLG>0</CSTMS_BOND_FLG>\n      <DTY_STMP_FLG>0</DTY_STMP_FLG>\n      <LOAD_ATTR1_FLG>0</LOAD_ATTR1_FLG>\n      <LOAD_ATTR2_FLG>0</LOAD_ATTR2_FLG>\n      <LOAD_ATTR3_FLG>0</LOAD_ATTR3_FLG>\n      <LOAD_ATTR4_FLG>0</LOAD_ATTR4_FLG>\n      <LOAD_ATTR5_FLG>0</LOAD_ATTR5_FLG>\n    </CREATE_LINE_INVENTORY_SEG>\n    <CREATE_ASSET_SEG>\n      <INVT_ID>string</INVT_ID>\n      <ASSET_ID>string</ASSET_ID>\n      <ASSET_TYP>string</ASSET_TYP>\n      <ASSET_STAT>string</ASSET_STAT>\n      <ASSET_TAG>string</ASSET_TAG>\n      <CLIENT_ID>string</CLIENT_ID>\n      <WARRANTY_DTE>20260216085208</WARRANTY_DTE>\n      <PURCH_DTE>20260216085208</PURCH_DTE>\n      <MAN_ID>string</MAN_ID>\n      <MODEL>string</MODEL>\n      <SER_NUM>string</SER_NUM>\n    </CREATE_ASSET_SEG>\n  </CTRL_SEG>\n</CREATE_LINE_INVENTORY_IN_IFD>\n"
                },
                "INVENTORY_RECONCILIATION (v2013.2)": {
                  "value": "<INVENTORY_RECONCILIATION>\n  <CTRL_SEG>\n    <TRANID>string</TRANID>\n    <TRANDT>20260216085208</TRANDT>\n    <WCS_ID>string</WCS_ID>\n    <WH_ID>string</WH_ID>\n    <INV_SEG>\n      <LODNUM>string</LODNUM>\n      <STOLOC>string</STOLOC>\n      <PRMFLG>0</PRMFLG>\n      <UNKFLG>0</UNKFLG>\n      <MVLFLG>0</MVLFLG>\n      <LODUCC>string</LODUCC>\n      <UCCDTE>20260216085208</UCCDTE>\n      <PALPOS>string</PALPOS>\n      <ASSET_TYP>string</ASSET_TYP>\n      <AVG_UNT_CATCH_QTY>00000000000000.0000</AVG_UNT_CATCH_QTY>\n      <LODTAG>string</LODTAG>\n      <LOD_TAGSTS>string</LOD_TAGSTS>\n      <LODHGT>00000000000000.0000</LODHGT>\n      <LODWGT>00000000000000.0000</LODWGT>\n      <BUNDLED_FLG>0</BUNDLED_FLG>\n      <DISTRO_PALOPN_FLG>0</DISTRO_PALOPN_FLG>\n      <LOAD_ATTR1_FLG>0</LOAD_ATTR1_FLG>\n      <LOAD_ATTR2_FLG>0</LOAD_ATTR2_FLG>\n      <LOAD_ATTR3_FLG>0</LOAD_ATTR3_FLG>\n      <LOAD_ATTR4_FLG>0</LOAD_ATTR4_FLG>\n      <LOAD_ATTR5_FLG>0</LOAD_ATTR5_FLG>\n      <SUBNUM>string</SUBNUM>\n      <SUBWGT>00000000000000.0000</SUBWGT>\n      <PHYFLG>0</PHYFLG>\n      <MVSFLG>0</MVSFLG>\n      <CTNFLG>0</CTNFLG>\n      <IDMFLG>0</IDMFLG>\n      <DISTRO_CTNOPN_FLG>0</DISTRO_CTNOPN_FLG>\n      <SUBREF>string</SUBREF>\n      <TAGDEV>string</TAGDEV>\n      <SUBUCC>string</SUBUCC>\n      <SUBUCCDTE>20260216085208</SUBUCCDTE>\n      <SUBTAG>string</SUBTAG>\n      <SUB_TAGSTS>string</SUB_TAGSTS>\n      <SUB_ASSET_TYP>string</SUB_ASSET_TYP>\n      <DTLNUM>string</DTLNUM>\n      <PHDFLG>0</PHDFLG>\n      <PRTNUM>string</PRTNUM>\n      <PRT_CLIENT_ID>string</PRT_CLIENT_ID>\n      <ORGCOD>string</ORGCOD>\n      <REVLVL>string</REVLVL>\n      <LOTNUM>string</LOTNUM>\n      <SUP_LOTNUM>string</SUP_LOTNUM>\n      <INVSTS>string</INVSTS>\n      <SUPNUM>string</SUPNUM>\n      <CNSG_FLG>0</CNSG_FLG>\n      <AGE_PFLNAM>string</AGE_PFLNAM>\n      <FIFDTE>20260216085208</FIFDTE>\n      <MANDTE>20260216085208</MANDTE>\n      <EXPIRE_DTE>20260216085208</EXPIRE_DTE>\n      <UNTQTY>0000000000</UNTQTY>\n      <UNTCAS>0000000000</UNTCAS>\n      <UNTPAK>0000000000</UNTPAK>\n      <FTPCOD>string</FTPCOD>\n      <RCVKEY>string</RCVKEY>\n      <SHIP_LINE_ID>string</SHIP_LINE_ID>\n      <WRKREF>string</WRKREF>\n      <WRKREF_DTL>string</WRKREF_DTL>\n      <ADDDTE>20260216085208</ADDDTE>\n      <RCVDTE>20260216085208</RCVDTE>\n      <LSTMOV>20260216085208</LSTMOV>\n      <LSTDTE>20260216085208</LSTDTE>\n      <LSTCOD>string</LSTCOD>\n      <LST_USR_ID>string</LST_USR_ID>\n      <CMPKEY>string</CMPKEY>\n      <ALCFLG>0</ALCFLG>\n      <CATCH_QTY>00000000000000.0000</CATCH_QTY>\n      <LST_ARECOD>string</LST_ARECOD>\n      <LST_MOV_ZONE_ID>string</LST_MOV_ZONE_ID>\n      <BILL_THROUGH_DTE>20260216085208</BILL_THROUGH_DTE>\n      <CONDCOD>string</CONDCOD>\n      <DISTRO_ID>string</DISTRO_ID>\n      <DISTRO_FLG>0</DISTRO_FLG>\n      <HLD_FLG>0</HLD_FLG>\n      <INV_ATTR_STR1>string</INV_ATTR_STR1>\n      <INV_ATTR_STR2>string</INV_ATTR_STR2>\n      <INV_ATTR_STR3>string</INV_ATTR_STR3>\n      <INV_ATTR_STR4>string</INV_ATTR_STR4>\n      <INV_ATTR_STR5>string</INV_ATTR_STR5>\n      <INV_ATTR_STR6>string</INV_ATTR_STR6>\n      <INV_ATTR_STR7>string</INV_ATTR_STR7>\n      <INV_ATTR_STR8>string</INV_ATTR_STR8>\n      <INV_ATTR_STR9>string</INV_ATTR_STR9>\n      <INV_ATTR_STR10>string</INV_ATTR_STR10>\n      <INV_ATTR_STR11>string</INV_ATTR_STR11>\n      <INV_ATTR_STR12>string</INV_ATTR_STR12>\n      <INV_ATTR_STR13>string</INV_ATTR_STR13>\n      <INV_ATTR_STR14>string</INV_ATTR_STR14>\n      <INV_ATTR_STR15>string</INV_ATTR_STR15>\n      <INV_ATTR_STR16>string</INV_ATTR_STR16>\n      <INV_ATTR_STR17>string</INV_ATTR_STR17>\n      <INV_ATTR_STR18>string</INV_ATTR_STR18>\n      <INV_ATTR_INT1>0000000000</INV_ATTR_INT1>\n      <INV_ATTR_INT2>0000000000</INV_ATTR_INT2>\n      <INV_ATTR_INT3>0000000000</INV_ATTR_INT3>\n      <INV_ATTR_INT4>0000000000</INV_ATTR_INT4>\n      <INV_ATTR_INT5>0000000000</INV_ATTR_INT5>\n      <INV_ATTR_FLT1>00000000000000.0000</INV_ATTR_FLT1>\n      <INV_ATTR_FLT2>00000000000000.0000</INV_ATTR_FLT2>\n      <INV_ATTR_FLT3>00000000000000.0000</INV_ATTR_FLT3>\n      <INV_ATTR_DTE1>20260216085208</INV_ATTR_DTE1>\n      <INV_ATTR_DTE2>20260216085208</INV_ATTR_DTE2>\n      <CSTMS_CNSGNMNT_ID>string</CSTMS_CNSGNMNT_ID>\n      <RTTN_ID>string</RTTN_ID>\n      <CSTMS_BOND_FLG>0</CSTMS_BOND_FLG>\n      <DTY_STMP_FLG>0</DTY_STMP_FLG>\n      <ASNFLG>0</ASNFLG>\n    </INV_SEG>\n  </CTRL_SEG>\n</INVENTORY_RECONCILIATION>\n"
                },
                "LABEL_REQUEST (v2013.2)": {
                  "value": "<LABEL_REQUEST>\n  <CTRL_SEG>\n    <TRANID>string</TRANID>\n    <TRANDT>20260216085208</TRANDT>\n    <WCS_ID>string</WCS_ID>\n    <WH_ID>string</WH_ID>\n    <LBL_REQ_SEG>\n      <LODNUM>string</LODNUM>\n      <PRTTYP>string</PRTTYP>\n      <PRTADR>string</PRTADR>\n      <EXITPNT>string</EXITPNT>\n    </LBL_REQ_SEG>\n  </CTRL_SEG>\n</LABEL_REQUEST>\n"
                },
                "LINE_SETUP (v2013.2)": {
                  "value": "<LINE_SETUP>\n  <CTRL_SEG>\n    <TRANID>string</TRANID>\n    <TRANDT>20260216085208</TRANDT>\n    <WCS_ID>string</WCS_ID>\n    <WH_ID>string</WH_ID>\n    <WKO_SEG>\n      <WKONUM>string</WKONUM>\n      <CLIENT_ID>string</CLIENT_ID>\n      <WKOREV>string</WKOREV>\n      <PRDLIN>string</PRDLIN>\n      <STG_LOC>string</STG_LOC>\n      <ACTION>string</ACTION>\n      <REACOD>string</REACOD>\n    </WKO_SEG>\n  </CTRL_SEG>\n</LINE_SETUP>\n"
                },
                "LOCATION_STATUS (v2013.2)": {
                  "value": "<LOCATION_STATUS>\n  <CTRL_SEG>\n    <TRANID>string</TRANID>\n    <TRANDT>20260216085208</TRANDT>\n    <WCS_ID>string</WCS_ID>\n    <WH_ID>string</WH_ID>\n    <LOCSTS_SEG>\n      <STOLOC>string</STOLOC>\n      <USEFLG>0</USEFLG>\n      <STOFLG>0</STOFLG>\n      <PCKFLG>0</PCKFLG>\n      <PUTAWAY_FLG>0</PUTAWAY_FLG>\n      <CANPCK_FLG>0</CANPCK_FLG>\n    </LOCSTS_SEG>\n  </CTRL_SEG>\n</LOCATION_STATUS>\n"
                },
                "MOVEMENT_CONFIRM (v2013.2)": {
                  "value": "<MOVEMENT_CONFIRM>\n  <CTRL_SEG>\n    <TRANID>string</TRANID>\n    <TRANDT>20260216085208</TRANDT>\n    <WCS_ID>string</WCS_ID>\n    <WH_ID>string</WH_ID>\n    <MOVE_CONF_SEG>\n      <LODNUM>string</LODNUM>\n      <DSTLOC>string</DSTLOC>\n      <OVRLOC>string</OVRLOC>\n      <OVRREA>string</OVRREA>\n      <LOAD_ATTR1_FLG>0</LOAD_ATTR1_FLG>\n      <LOAD_ATTR2_FLG>0</LOAD_ATTR2_FLG>\n      <LOAD_ATTR3_FLG>0</LOAD_ATTR3_FLG>\n      <LOAD_ATTR4_FLG>0</LOAD_ATTR4_FLG>\n      <LOAD_ATTR5_FLG>0</LOAD_ATTR5_FLG>\n    </MOVE_CONF_SEG>\n  </CTRL_SEG>\n</MOVEMENT_CONFIRM>\n"
                },
                "MOVEMENT_ERROR (v2013.2)": {
                  "value": "<MOVEMENT_ERROR>\n  <CTRL_SEG>\n    <TRANID>string</TRANID>\n    <TRANDT>20260216085208</TRANDT>\n    <WCS_ID>string</WCS_ID>\n    <WH_ID>string</WH_ID>\n    <MOVE_ERR_SEG>\n      <LODNUM>string</LODNUM>\n      <DSTLOC>string</DSTLOC>\n      <STATUS>string</STATUS>\n      <ERROR_DESCR>string</ERROR_DESCR>\n    </MOVE_ERR_SEG>\n  </CTRL_SEG>\n</MOVEMENT_ERROR>\n"
                },
                "PICK_CONFIRM (v2013.2)": {
                  "value": "<PICK_CONFIRM>\n  <CTRL_SEG>\n    <TRANID>string</TRANID>\n    <TRANDT>20260216085208</TRANDT>\n    <WCS_ID>string</WCS_ID>\n    <WH_ID>string</WH_ID>\n    <PICK_CONF_SEG>\n      <WRKREF>string</WRKREF>\n      <LODNUM>string</LODNUM>\n      <DSTLOC>string</DSTLOC>\n    </PICK_CONF_SEG>\n  </CTRL_SEG>\n</PICK_CONFIRM>\n"
                },
                "PICK_ERROR (v1.0)": {
                  "value": "<PICK_ERROR>\n  <PCK0100>\n    <RECTYPE>string</RECTYPE>\n    <PLAN_DATE>string</PLAN_DATE>\n    <ASSIGN_NUM>string</ASSIGN_NUM>\n    <ITEM_NUM>string</ITEM_NUM>\n    <CONTAINER_LICENSE>string</CONTAINER_LICENSE>\n    <PICK_ERROR_ITEM_NUM>string</PICK_ERROR_ITEM_NUM>\n    <CSTNUM>string</CSTNUM>\n    <CLIENT_ID>string</CLIENT_ID>\n    <TRANS_NUM>string</TRANS_NUM>\n    <SEQ_NUM>string</SEQ_NUM>\n    <REF_ID>string</REF_ID>\n    <CLIENT_SLOT_ID>string</CLIENT_SLOT_ID>\n    <USER_DEF_1>string</USER_DEF_1>\n    <USER_DEF_2>string</USER_DEF_2>\n    <USER_DEF_3>string</USER_DEF_3>\n    <USER_DEF_4>string</USER_DEF_4>\n    <USER_DEF_5>string</USER_DEF_5>\n    <PICK_ERROR_TYPE_ID>string</PICK_ERROR_TYPE_ID>\n    <PICK_ERROR_SOURCE_ID>string</PICK_ERROR_SOURCE_ID>\n    <PICK_ERROR_QTY>string</PICK_ERROR_QTY>\n    <PICK_ERROR_COST>string</PICK_ERROR_COST>\n    <PICK_ERROR_CHARGE_FLG>string</PICK_ERROR_CHARGE_FLG>\n    <DRIVER>string</DRIVER>\n  </PCK0100>\n</PICK_ERROR>\n"
                },
                "PICK_ERROR (v2013.2)": {
                  "value": "<PICK_ERROR>\n  <CTRL_SEG>\n    <TRANID>string</TRANID>\n    <TRANDT>20260216085208</TRANDT>\n    <WCS_ID>string</WCS_ID>\n    <WH_ID>string</WH_ID>\n    <PICK_ERR_SEG>\n      <WRKREF>string</WRKREF>\n      <CANCOD>string</CANCOD>\n      <ERROR_DESCR>string</ERROR_DESCR>\n    </PICK_ERR_SEG>\n  </CTRL_SEG>\n</PICK_ERROR>\n"
                },
                "REQUEST (v2013.2)": {
                  "value": "<REQUEST>\n  <CTRL_SEG>\n    <TRANID>string</TRANID>\n    <TRANDT>20260216085208</TRANDT>\n    <WCS_ID>string</WCS_ID>\n    <WH_ID>string</WH_ID>\n    <REQ_SEG>\n      <LODNUM>string</LODNUM>\n      <REQ_CONTENTS_FLG>0</REQ_CONTENTS_FLG>\n      <REQ_STOLOC_FLG>0</REQ_STOLOC_FLG>\n      <STOLOC>string</STOLOC>\n    </REQ_SEG>\n  </CTRL_SEG>\n</REQUEST>\n"
                },
                "VAR_ASSIGN_LIST (v2013.2)": {
                  "value": "<VAR_ASSIGN_LIST>\n  <CTRL_SEG>\n    <TRANID>string</TRANID>\n    <TRANDT>20260216085208</TRANDT>\n    <WCS_ID>string</WCS_ID>\n    <WH_ID>string</WH_ID>\n    <LIST_ID>string</LIST_ID>\n    <USR_ID>string</USR_ID>\n  </CTRL_SEG>\n</VAR_ASSIGN_LIST>\n"
                },
                "VAR_AUTO_RECEIPT (v2014.1)": {
                  "value": "<VAR_AUTO_RECEIPT>\n  <CTRL_SEG>\n    <TRANID>string</TRANID>\n    <TRANDT>20260216085208</TRANDT>\n    <WCS_ID>string</WCS_ID>\n    <WH_ID>string</WH_ID>\n    <INVENTORY_SEG>\n      <DOCK_DOOR>string</DOCK_DOOR>\n      <INVNUM>string</INVNUM>\n      <DSTLOC>string</DSTLOC>\n      <BAR_CODE_1>string</BAR_CODE_1>\n      <BAR_CODE_2>string</BAR_CODE_2>\n      <BAR_CODE_3>string</BAR_CODE_3>\n      <PLATFORM_ASSET_TYP>string</PLATFORM_ASSET_TYP>\n      <ADDITIONAL_ASSET_TYP>string</ADDITIONAL_ASSET_TYP>\n      <ADDITIONAL_ASSET_QTY>null</ADDITIONAL_ASSET_QTY>\n    </INVENTORY_SEG>\n  </CTRL_SEG>\n</VAR_AUTO_RECEIPT>\n"
                },
                "VAR_CANCELREQUEST (v2014.1)": {
                  "value": "<VAR_CANCELREQUEST>\n  <CTRL_SEG>\n    <TRANID>string</TRANID>\n    <TRANDT>20260216085208</TRANDT>\n    <WCS_ID>string</WCS_ID>\n    <WH_ID>string</WH_ID>\n    <CANCEL_SEG>\n      <REQUESTID>string</REQUESTID>\n      <REQUESTTIME>string</REQUESTTIME>\n    </CANCEL_SEG>\n  </CTRL_SEG>\n</VAR_CANCELREQUEST>\n"
                },
                "VAR_CLOSE_RECEIPT (v2014.1)": {
                  "value": "<VAR_CLOSE_RECEIPT>\n  <CTRL_SG>\n    <TRANID>string</TRANID>\n    <TRANDT>20260216085208</TRANDT>\n    <WCS_ID>string</WCS_ID>\n    <WH_ID>string</WH_ID>\n    <RECEIPT_SEG>\n      <TRLR_NUM>string</TRLR_NUM>\n      <CARCOD>string</CARCOD>\n    </RECEIPT_SEG>\n  </CTRL_SG>\n</VAR_CLOSE_RECEIPT>\n"
                },
                "VAR_CYCLE_COUNT_RESPONSE (v2014.1.0)": {
                  "value": "<VAR_CYCLE_COUNT_RESPONSE>\n  <CTRL_SEG>\n    <TRANID>string</TRANID>\n    <TRANDT>20260216085208</TRANDT>\n    <WCS_ID>string</WCS_ID>\n    <WH_ID>string</WH_ID>\n    <VAR_CYCLE_COUNT_RESPONSE_SEG>\n      <AGV_ID>string</AGV_ID>\n      <LOCATION>string</LOCATION>\n      <CNT_NEAR_ZERO_RSPNS_FLG>0000</CNT_NEAR_ZERO_RSPNS_FLG>\n    </VAR_CYCLE_COUNT_RESPONSE_SEG>\n  </CTRL_SEG>\n</VAR_CYCLE_COUNT_RESPONSE>\n"
                },
                "VAR_DEPOSIT_CONFIRM (v2014.1.0)": {
                  "value": "<VAR_DEPOSIT_CONFIRM>\n  <CTRL_SEG>\n    <TRANID>string</TRANID>\n    <TRANDT>20260216085208</TRANDT>\n    <WCS_ID>string</WCS_ID>\n    <WH_ID>string</WH_ID>\n    <VAR_DEPOSIT_CONFIRM_SEG>\n      <AGV_ID>string</AGV_ID>\n      <LODNUM>string</LODNUM>\n      <STOLOC>string</STOLOC>\n      <VC_GROUP_ID>string</VC_GROUP_ID>\n      <VC_GROUP_SEQUENCE>0000000000</VC_GROUP_SEQUENCE>\n    </VAR_DEPOSIT_CONFIRM_SEG>\n  </CTRL_SEG>\n</VAR_DEPOSIT_CONFIRM>\n"
                },
                "VAR_GROUP_PALLETS (v2014.1)": {
                  "value": "<VAR_GROUP_PALLETS>\n  <CTRL_SEG>\n    <TRANID>string</TRANID>\n    <TRANDT>20260216085208</TRANDT>\n    <WCS_ID>string</WCS_ID>\n    <WH_ID>string</WH_ID>\n    <PALLET_GROUP>\n      <GROUP_ID>string</GROUP_ID>\n      <PALLET_SEG>\n        <LODNUM>string</LODNUM>\n        <VC_GROUP_SEQUENCE>0000000000</VC_GROUP_SEQUENCE>\n      </PALLET_SEG>\n    </PALLET_GROUP>\n  </CTRL_SEG>\n</VAR_GROUP_PALLETS>\n"
                },
                "VAR_INV_MOVE_CONFIRM (v2014.1)": {
                  "value": "<VAR_INV_MOVE_CONFIRM>\n  <CTRL_SEG>\n    <TRANID>string</TRANID>\n    <TRANDT>20260216085208</TRANDT>\n    <WCS_ID>string</WCS_ID>\n    <WH_ID>string</WH_ID>\n    <VAR_INV_MOVE_CONF_SEG>\n      <SRC_LODNUM>string</SRC_LODNUM>\n      <SRCLOC>string</SRCLOC>\n      <PRTNUM>string</PRTNUM>\n      <LOTNUM>string</LOTNUM>\n      <MOV_QTY>0000000000</MOV_QTY>\n      <MOV_UOM>string</MOV_UOM>\n      <DST_LODNUM>string</DST_LODNUM>\n      <DSTLOC>string</DSTLOC>\n      <ASSET_TYP>string</ASSET_TYP>\n      <PRT_CLIENT_ID>string</PRT_CLIENT_ID>\n    </VAR_INV_MOVE_CONF_SEG>\n  </CTRL_SEG>\n</VAR_INV_MOVE_CONFIRM>\n"
                },
                "VAR_LIST_PICK_CONFIRM (v2014.1)": {
                  "value": "<VAR_LIST_PICK_CONFIRM>\n  <CTRL_SEG>\n    <TRANID>string</TRANID>\n    <TRANDT>20260216085208</TRANDT>\n    <WCS_ID>string</WCS_ID>\n    <WH_ID>string</WH_ID>\n    <PICK_SEG>\n      <LIST_ID>string</LIST_ID>\n      <WRKREF>string</WRKREF>\n      <SRC_LODNUM>string</SRC_LODNUM>\n      <DST_LODNUM>string</DST_LODNUM>\n      <DST_SUBNUM>string</DST_SUBNUM>\n      <DSTLOC>string</DSTLOC>\n      <PCKQTY>null</PCKQTY>\n      <PCK_UOM>string</PCK_UOM>\n      <LOTNUM>string</LOTNUM>\n      <ASSET_TYP>string</ASSET_TYP>\n    </PICK_SEG>\n  </CTRL_SEG>\n</VAR_LIST_PICK_CONFIRM>\n"
                },
                "VAR_LOC_OVERRIDE (v2014.1)": {
                  "value": "<VAR_LOC_OVERRIDE>\n  <CTRL_SEG>\n    <TRANID>string</TRANID>\n    <TRANDT>20260216085208</TRANDT>\n    <WH_ID>string</WH_ID>\n    <WCS_ID>string</WCS_ID>\n    <VAR_LOC_OVERRIDE_SEG>\n      <AGV_ID>string</AGV_ID>\n      <REQNUM>null</REQNUM>\n      <LODNUM>string</LODNUM>\n      <STOLOC>string</STOLOC>\n      <EXCLUDE_LOCATIONS>string</EXCLUDE_LOCATIONS>\n      <OVR_LOC_COD>string</OVR_LOC_COD>\n    </VAR_LOC_OVERRIDE_SEG>\n  </CTRL_SEG>\n</VAR_LOC_OVERRIDE>\n"
                },
                "VAR_MATERIALREQUEST (v2014.1)": {
                  "value": "<VAR_MATERIALREQUEST>\n  <CTRL_SEG>\n    <TRANID>string</TRANID>\n    <TRANDT>20260216085208</TRANDT>\n    <WCS_ID>string</WCS_ID>\n    <WH_ID>string</WH_ID>\n    <MATERIAL_SEG>\n      <REQUESTID>string</REQUESTID>\n      <REQUESTTIME>string</REQUESTTIME>\n      <PLANTID>string</PLANTID>\n      <LOCATIONID>string</LOCATIONID>\n      <PRIMARYGCAS>string</PRIMARYGCAS>\n      <ALTERNATEGCAS>string</ALTERNATEGCAS>\n      <QUANTITY>null</QUANTITY>\n      <UOM>string</UOM>\n    </MATERIAL_SEG>\n  </CTRL_SEG>\n</VAR_MATERIALREQUEST>\n"
                },
                "VAR_PICKUP_CONFIRM (v2014.1.0)": {
                  "value": "<VAR_PICKUP_CONFIRM>\n  <CTRL_SEG>\n    <TRANID>string</TRANID>\n    <TRANDT>20260216085208</TRANDT>\n    <WCS_ID>string</WCS_ID>\n    <WH_ID>string</WH_ID>\n    <VAR_PICKUP_CONFIRM_SEG>\n      <AGV_ID>string</AGV_ID>\n      <REQNUM>string</REQNUM>\n      <LODNUM>string</LODNUM>\n      <DESTACK_FLG>0</DESTACK_FLG>\n    </VAR_PICKUP_CONFIRM_SEG>\n  </CTRL_SEG>\n</VAR_PICKUP_CONFIRM>\n"
                },
                "VAR_RECEIVE_INVENTORY (v2014.1)": {
                  "value": "<VAR_RECEIVE_INVENTORY>\n  <CTRL_SG>\n    <TRANID>string</TRANID>\n    <TRANDT>20260216085208</TRANDT>\n    <WCS_ID>string</WCS_ID>\n    <WH_ID>string</WH_ID>\n    <RECEIPT_SEG>\n      <DOCK_DOOR>string</DOCK_DOOR>\n      <INVNUM>string</INVNUM>\n      <LODNUM>string</LODNUM>\n      <DSTLOC>string</DSTLOC>\n    </RECEIPT_SEG>\n  </CTRL_SG>\n</VAR_RECEIVE_INVENTORY>\n"
                },
                "VAR_REPLEN_REQUEST (v2014.1)": {
                  "value": "<VAR_REPLEN_REQUEST>\n  <CTRL_SEG>\n    <TRANID>string</TRANID>\n    <TRANDT>20260216085208</TRANDT>\n    <WCS_ID>string</WCS_ID>\n    <WH_ID>string</WH_ID>\n    <REPLEN_REQ_SEG>\n      <PRTNUM>string</PRTNUM>\n      <PRT_CLIENT_ID>string</PRT_CLIENT_ID>\n      <REQQTY>000000000000</REQQTY>\n      <REQUOM>string</REQUOM>\n      <PRIORITY>null</PRIORITY>\n      <HOPLOC>string</HOPLOC>\n    </REPLEN_REQ_SEG>\n  </CTRL_SEG>\n</VAR_REPLEN_REQUEST>\n"
                },
                "VAR_RETURN_TO_STOCK (v2014.1)": {
                  "value": "<VAR_RETURN_TO_STOCK>\n  <CTRL_SEG>\n    <TRANID>string</TRANID>\n    <TRANDT>20260216085208</TRANDT>\n    <WCS_ID>string</WCS_ID>\n    <WH_ID>string</WH_ID>\n    <WORK_ORDER_SEG>\n      <WKONUM>string</WKONUM>\n      <CLIENT_ID>string</CLIENT_ID>\n      <WKOREV>string</WKOREV>\n      <PRCLOC>string</PRCLOC>\n      <LODNUM>string</LODNUM>\n      <DSTLOC>string</DSTLOC>\n      <INVENTORY_DETAILS_SEG>\n        <PRTNUM>string</PRTNUM>\n        <PRT_CLIENT_ID>string</PRT_CLIENT_ID>\n        <LOTNUM>string</LOTNUM>\n        <UNTQTY>string</UNTQTY>\n        <UOMCOD>string</UOMCOD>\n      </INVENTORY_DETAILS_SEG>\n    </WORK_ORDER_SEG>\n  </CTRL_SEG>\n</VAR_RETURN_TO_STOCK>\n"
                },
                "VAR_RETURNS (v2014.1)": {
                  "value": "<VAR_RETURNS>\n  <CTRL_SEG>\n    <TRANID>string</TRANID>\n    <TRANDT>20260216085208</TRANDT>\n    <WCS_ID>string</WCS_ID>\n    <WH_ID>string</WH_ID>\n    <RETURN_SEG>\n      <PLANTID>string</PLANTID>\n      <RETURNTARGET>string</RETURNTARGET>\n      <LOCATIONID>string</LOCATIONID>\n      <ULID>string</ULID>\n      <GCAS>string</GCAS>\n      <QUANTITY>00000000000000000000</QUANTITY>\n      <UOM>string</UOM>\n      <SAPBATCHNUMBER>string</SAPBATCHNUMBER>\n    </RETURN_SEG>\n  </CTRL_SEG>\n</VAR_RETURNS>\n"
                },
                "VAR_STAGING_UPDATE (v2014.1)": {
                  "value": "<VAR_STAGING_UPDATE>\n  <CTRL_SEG>\n    <TRANID>string</TRANID>\n    <TRANDT>20260216085208</TRANDT>\n    <WCS_ID>string</WCS_ID>\n    <WH_ID>string</WH_ID>\n    <CARRIER_MOVE_SEG>\n      <CAR_MOVE_ID>string</CAR_MOVE_ID>\n      <STGLOC>string</STGLOC>\n    </CARRIER_MOVE_SEG>\n  </CTRL_SEG>\n</VAR_STAGING_UPDATE>\n"
                },
                "VAR_TRAILER_LOAD (v2014.1)": {
                  "value": "<VAR_TRAILER_LOAD>\n  <CTRL_SEG>\n    <TRANID>string</TRANID>\n    <TRANDT>20260216085208</TRANDT>\n    <WCS_ID>string</WCS_ID>\n    <WH_ID>string</WH_ID>\n    <PALLET_SEG>\n      <DOCK_DOOR>string</DOCK_DOOR>\n      <LODNUM>string</LODNUM>\n    </PALLET_SEG>\n  </CTRL_SEG>\n</VAR_TRAILER_LOAD>\n"
                },
                "VAR_TRLR_CHKIN (v2014.1)": {
                  "value": "<VAR_TRLR_CHKIN>\n  <CTRL_SEG>\n    <TRANID>string</TRANID>\n    <TRANDT>20260216085208</TRANDT>\n    <WH_ID>string</WH_ID>\n    <WCS_ID>string</WCS_ID>\n    <VAR_TRLR_CHKIN_SEG>\n      <TRLR_NUM>string</TRLR_NUM>\n      <CARCOD>string</CARCOD>\n      <TRLR_COD>string</TRLR_COD>\n      <TRLR_TYP>string</TRLR_TYP>\n      <YARD_STAT>string</YARD_STAT>\n      <REFRIG_FLG>0</REFRIG_FLG>\n      <DRIVER_NAM>string</DRIVER_NAM>\n      <DRIVER_LIC_NUM>string</DRIVER_LIC_NUM>\n      <TRACTOR_NUM>string</TRACTOR_NUM>\n      <TRLR_WGT>00000000000000000000</TRLR_WGT>\n      <TRLR_REF>string</TRLR_REF>\n      <CAR_MOVE_ID>string</CAR_MOVE_ID>\n      <TRKNUM>string</TRKNUM>\n      <BLDG_ID>string</BLDG_ID>\n      <ARECOD>string</ARECOD>\n      <YARD_LOC>string</YARD_LOC>\n      <TRLR_SEAL1>string</TRLR_SEAL1>\n      <TRLR_SEAL2>string</TRLR_SEAL2>\n      <TRLR_SEAL3>string</TRLR_SEAL3>\n      <TRLR_SEAL4>string</TRLR_SEAL4>\n      <NOTTXT>string</NOTTXT>\n      <LIVE_LOAD_FLG>null</LIVE_LOAD_FLG>\n      <TURN_FLG>null</TURN_FLG>\n      <TRLR_COND>string</TRLR_COND>\n    </VAR_TRLR_CHKIN_SEG>\n  </CTRL_SEG>\n</VAR_TRLR_CHKIN>\n"
                },
                "VAR_TRLR_CHKOUT (v2014.1)": {
                  "value": "<VAR_TRLR_CHKOUT>\n  <CTRL_SEG>\n    <TRANID>string</TRANID>\n    <TRANDT>20260216085208</TRANDT>\n    <WCS_ID>string</WCS_ID>\n    <WH_ID>string</WH_ID>\n    <VAR_TRLR_CHKOUT_SEG>\n      <TRLR_NUM>string</TRLR_NUM>\n      <CARCOD>string</CARCOD>\n      <TRLR_TYP>string</TRLR_TYP>\n      <TRACTOR_NUM>string</TRACTOR_NUM>\n      <CAR_MOVE_ID>string</CAR_MOVE_ID>\n      <TRKNUM>string</TRKNUM>\n    </VAR_TRLR_CHKOUT_SEG>\n  </CTRL_SEG>\n</VAR_TRLR_CHKOUT>\n"
                },
                "VAR_TRLR_MOVE (v2014.1)": {
                  "value": "<VAR_TRLR_MOVE>\n  <CTRL_SEG>\n    <TRANID>string</TRANID>\n    <TRANDT>20260216085208</TRANDT>\n    <WCS_ID>string</WCS_ID>\n    <WH_ID>string</WH_ID>\n    <VAR_TRLR_MOV_SEG>\n      <TRLR_NUM>string</TRLR_NUM>\n      <CARCOD>string</CARCOD>\n      <BLDG_ID>string</BLDG_ID>\n      <ARECOD>string</ARECOD>\n      <YARD_LOC>string</YARD_LOC>\n    </VAR_TRLR_MOV_SEG>\n  </CTRL_SEG>\n</VAR_TRLR_MOVE>\n"
                },
                "VAR_UNGROUP_PALLETS (v2014.1)": {
                  "value": "<VAR_UNGROUP_PALLETS>\n  <CTRL_SEG>\n    <TRANID>string</TRANID>\n    <TRANDT>20260216085208</TRANDT>\n    <WCS_ID>string</WCS_ID>\n    <WH_ID>string</WH_ID>\n    <PALLET_GROUP>\n      <GROUP_ID>string</GROUP_ID>\n      <LODNUM>string</LODNUM>\n    </PALLET_GROUP>\n  </CTRL_SEG>\n</VAR_UNGROUP_PALLETS>\n"
                },
                "VAR_VEHICLE_STATUS (v2014.1)": {
                  "value": "<VAR_VEHICLE_STATUS>\n  <CTRL_SEG>\n    <TRANID>string</TRANID>\n    <TRANDT>20260216085208</TRANDT>\n    <WCS_ID>string</WCS_ID>\n    <WH_ID>string</WH_ID>\n    <VAR_VEHICLE_STATUS_SEG>\n      <AGV_ID>string</AGV_ID>\n      <RFTMOD>string</RFTMOD>\n      <STOLOC>string</STOLOC>\n    </VAR_VEHICLE_STATUS_SEG>\n  </CTRL_SEG>\n</VAR_VEHICLE_STATUS>\n"
                },
                "VAR_WORK_DETAIL_REQUEST (v2014.1.0)": {
                  "value": "<VAR_WORK_DETAIL_REQUEST>\n  <CTRL_SEG>\n    <TRANID>string</TRANID>\n    <TRANDT>20260216085208</TRANDT>\n    <WCS_ID>string</WCS_ID>\n    <WH_ID>string</WH_ID>\n    <VAR_WORK_DTL_REQ_SEG>\n      <AGV_ID>string</AGV_ID>\n      <REQNUM>string</REQNUM>\n    </VAR_WORK_DTL_REQ_SEG>\n  </CTRL_SEG>\n</VAR_WORK_DETAIL_REQUEST>\n"
                },
                "VAR_WORK_REJECT (v2014.1)": {
                  "value": "<VAR_WORK_REJECT>\n  <CTRL_SEG>\n    <TRANID>string</TRANID>\n    <TRANDT>20260216085208</TRANDT>\n    <WCS_ID>string</WCS_ID>\n    <WH_ID>string</WH_ID>\n    <VAR_WORK_REJECT_SEG>\n      <REQNUM>string</REQNUM>\n      <AGV_ID>string</AGV_ID>\n    </VAR_WORK_REJECT_SEG>\n  </CTRL_SEG>\n</VAR_WORK_REJECT>\n"
                },
                "VAR_WORK_REQUEST (v2014.1.0)": {
                  "value": "<VAR_WORK_REQUEST>\n  <CTRL_SEG>\n    <TRANID>string</TRANID>\n    <TRANDT>20260216085208</TRANDT>\n    <WCS_ID>string</WCS_ID>\n    <WH_ID>string</WH_ID>\n    <VAR_WORK_REQ_SEG>\n      <AGV_ID>string</AGV_ID>\n      <LOCATION>string</LOCATION>\n    </VAR_WORK_REQ_SEG>\n  </CTRL_SEG>\n</VAR_WORK_REQUEST>\n"
                }
              }
            },
            "application/json": {
              "schema": {
                "anyOf": [
                  {
                    "$ref": "#/components/schemas/BUFFER_FULL_v2013.2"
                  },
                  {
                    "$ref": "#/components/schemas/CREATE_LINE_INVENTORY_IN_IFD_v2013.2"
                  },
                  {
                    "$ref": "#/components/schemas/INVENTORY_RECONCILIATION_v2013.2"
                  },
                  {
                    "$ref": "#/components/schemas/LABEL_REQUEST_v2013.2"
                  },
                  {
                    "$ref": "#/components/schemas/LINE_SETUP_v2013.2"
                  },
                  {
                    "$ref": "#/components/schemas/LOCATION_STATUS_v2013.2"
                  },
                  {
                    "$ref": "#/components/schemas/MOVEMENT_CONFIRM_v2013.2"
                  },
                  {
                    "$ref": "#/components/schemas/MOVEMENT_ERROR_v2013.2"
                  },
                  {
                    "$ref": "#/components/schemas/PICK_CONFIRM_v2013.2"
                  },
                  {
                    "$ref": "#/components/schemas/PICK_ERROR_v1.0"
                  },
                  {
                    "$ref": "#/components/schemas/PICK_ERROR_v2013.2"
                  },
                  {
                    "$ref": "#/components/schemas/REQUEST_v2013.2"
                  },
                  {
                    "$ref": "#/components/schemas/VAR_ASSIGN_LIST_v2013.2"
                  },
                  {
                    "$ref": "#/components/schemas/VAR_AUTO_RECEIPT_v2014.1"
                  },
                  {
                    "$ref": "#/components/schemas/VAR_CANCEL_REQUEST_v2014.1"
                  },
                  {
                    "$ref": "#/components/schemas/VAR_CLOSE_RECEIPT_v2014.1"
                  },
                  {
                    "$ref": "#/components/schemas/VAR_CYCLE_COUNT_RESPONSE_v2014.1.0"
                  },
                  {
                    "$ref": "#/components/schemas/VAR_DEPOSIT_CONFIRM_v2014.1.0"
                  },
                  {
                    "$ref": "#/components/schemas/VAR_GROUP_PALLETS_v2014.1"
                  },
                  {
                    "$ref": "#/components/schemas/VAR_INV_MOVE_CONFIRM_v2014.1"
                  },
                  {
                    "$ref": "#/components/schemas/VAR_LIST_PICK_CONFIRM_v2014.1"
                  },
                  {
                    "$ref": "#/components/schemas/VAR_LOC_OVERRIDE_v2014.1"
                  },
                  {
                    "$ref": "#/components/schemas/VAR_MATERIAL_REQUEST_v2014.1"
                  },
                  {
                    "$ref": "#/components/schemas/VAR_PICKUP_CONFIRM_v2014.1.0"
                  },
                  {
                    "$ref": "#/components/schemas/VAR_RECEIVE_INVENTORY_v2014.1"
                  },
                  {
                    "$ref": "#/components/schemas/VAR_REPLEN_REQUEST_v2014.1"
                  },
                  {
                    "$ref": "#/components/schemas/VAR_RETURN_TO_STOCK_v2014.1"
                  },
                  {
                    "$ref": "#/components/schemas/VAR_RETURNS_v2014.1"
                  },
                  {
                    "$ref": "#/components/schemas/VAR_STAGING_UPDATE_v2014.1"
                  },
                  {
                    "$ref": "#/components/schemas/VAR_TRAILER_LOAD_v2014.1"
                  },
                  {
                    "$ref": "#/components/schemas/VAR_TRLR_CHKIN_v2014.1"
                  },
                  {
                    "$ref": "#/components/schemas/VAR_TRLR_CHKOUT_v2014.1"
                  },
                  {
                    "$ref": "#/components/schemas/VAR_TRLR_MOVE_v2014.1"
                  },
                  {
                    "$ref": "#/components/schemas/VAR_UNGROUP_PALLETS_v2014.1"
                  },
                  {
                    "$ref": "#/components/schemas/VAR_VEHICLE_STATUS_v2014.1"
                  },
                  {
                    "$ref": "#/components/schemas/VAR_WORK_DETAIL_REQUEST_v2014.1.0"
                  },
                  {
                    "$ref": "#/components/schemas/VAR_WORK_REJECT_v2014.1"
                  },
                  {
                    "$ref": "#/components/schemas/VAR_WORK_REQUEST_v2014.1.0"
                  }
                ]
              },
              "examples": {
                "BUFFER_FULL_v2013.2": {
                  "value": {
                    "CTRL_SEG": {
                      "TRANID": "string",
                      "TRANDT": "20260216085208",
                      "WCS_ID": "string",
                      "WH_ID": "string",
                      "STOLOC_SEG": {
                        "STOLOC": "string"
                      }
                    }
                  }
                },
                "CREATE_LINE_INVENTORY_IN_IFD_v2013.2": {
                  "value": {
                    "CTRL_SEG": {
                      "TRANID": "string",
                      "TRANDT": "20260216085208",
                      "WCS_ID": "string",
                      "WH_ID": "string",
                      "CREATE_LINE_INVENTORY_SEG": {
                        "WKONUM": "string",
                        "WKOREV": "string",
                        "CLIENT_ID": "string",
                        "PRDLIN": "string",
                        "ADJ_REF1": "string",
                        "ADJ_REF2": "string",
                        "REACOD": "string",
                        "UOMCOD": "string",
                        "PRTNUM": "string",
                        "PRT_CLIENT_ID": "string",
                        "UNTCAS": "0000000000",
                        "INVSTS": "string",
                        "HSTACC": "string",
                        "UNTQTY": "string",
                        "ORGCOD": "string",
                        "REVLVL": "string",
                        "LOTNUM": "string",
                        "SUP_LOTNUM": "string",
                        "DSTLOC": "string",
                        "LODNUM": "string",
                        "SUBNUM": "string",
                        "DTLNUM": "string",
                        "PTWAY_FLG": "0",
                        "USR_ID": "string",
                        "ACTCOD": "string",
                        "MOVREF": "string",
                        "FTPCOD": "string",
                        "UNTPAK": "0000000000",
                        "FIFDTE": "20260216085208",
                        "MANDTE": "20260216085208",
                        "AGE_PFLNAM": "string",
                        "CATCH_QTY": "0000000000",
                        "EXPDTE": "20260216085208",
                        "LODTAG": "string",
                        "SUBTAG": "string",
                        "PHYFLG": "0",
                        "PLAT_ID": "string",
                        "SUPNUM": "string",
                        "CNSG_FLG": "0",
                        "ASSET_TYP": "string",
                        "SUB_ASSET_TYP": "string",
                        "MANDTE_FMT": "string",
                        "MANDTE_FMTVAL": "string",
                        "EXPDTE_FMT": "string",
                        "EXPDTE_FMTVAL": "string",
                        "INV_ATTR_STR1": "string",
                        "INV_ATTR_STR2": "string",
                        "INV_ATTR_STR3": "string",
                        "INV_ATTR_STR4": "string",
                        "INV_ATTR_STR5": "string",
                        "INV_ATTR_STR6": "string",
                        "INV_ATTR_STR7": "string",
                        "INV_ATTR_STR8": "string",
                        "INV_ATTR_STR9": "string",
                        "INV_ATTR_STR10": "string",
                        "INV_ATTR_STR11": "string",
                        "INV_ATTR_STR12": "string",
                        "INV_ATTR_STR13": "string",
                        "INV_ATTR_STR14": "string",
                        "INV_ATTR_STR15": "string",
                        "INV_ATTR_STR16": "string",
                        "INV_ATTR_STR17": "string",
                        "INV_ATTR_STR18": "string",
                        "INV_ATTR_INT1": "0000000000",
                        "INV_ATTR_INT2": "0000000000",
                        "INV_ATTR_INT3": "0000000000",
                        "INV_ATTR_INT4": "0000000000",
                        "INV_ATTR_INT5": "0000000000",
                        "INV_ATTR_FLT1": "00000000000000.0000",
                        "INV_ATTR_FLT2": "00000000000000.0000",
                        "INV_ATTR_FLT3": "00000000000000.0000",
                        "INV_ATTR_DTE1": "20260216085208",
                        "INV_ATTR_DTE1_FMT": "string",
                        "INV_ATTR_DTE1_FMTVAL": "string",
                        "INV_ATTR_DTE2": "20260216085208",
                        "INV_ATTR_DTE2_FMT": "string",
                        "INV_ATTR_DTE2_FMTVAL": "string",
                        "CSTMS_CNSGNMNT_ID": "string",
                        "CSTMS_BOND_FLG": "0",
                        "DTY_STMP_FLG": "0",
                        "LOAD_ATTR1_FLG": "0",
                        "LOAD_ATTR2_FLG": "0",
                        "LOAD_ATTR3_FLG": "0",
                        "LOAD_ATTR4_FLG": "0",
                        "LOAD_ATTR5_FLG": "0"
                      },
                      "CREATE_ASSET_SEG": {
                        "INVT_ID": "string",
                        "ASSET_ID": "string",
                        "ASSET_TYP": "string",
                        "ASSET_STAT": "string",
                        "ASSET_TAG": "string",
                        "CLIENT_ID": "string",
                        "WARRANTY_DTE": "20260216085208",
                        "PURCH_DTE": "20260216085208",
                        "MAN_ID": "string",
                        "MODEL": "string",
                        "SER_NUM": "string"
                      }
                    }
                  }
                },
                "INVENTORY_RECONCILIATION_v2013.2": {
                  "value": {
                    "CTRL_SEG": {
                      "TRANID": "string",
                      "TRANDT": "20260216085208",
                      "WCS_ID": "string",
                      "WH_ID": "string",
                      "INV_SEG": {
                        "LODNUM": "string",
                        "STOLOC": "string",
                        "PRMFLG": "0",
                        "UNKFLG": "0",
                        "MVLFLG": "0",
                        "LODUCC": "string",
                        "UCCDTE": "20260216085208",
                        "PALPOS": "string",
                        "ASSET_TYP": "string",
                        "AVG_UNT_CATCH_QTY": "00000000000000.0000",
                        "LODTAG": "string",
                        "LOD_TAGSTS": "string",
                        "LODHGT": "00000000000000.0000",
                        "LODWGT": "00000000000000.0000",
                        "BUNDLED_FLG": "0",
                        "DISTRO_PALOPN_FLG": "0",
                        "LOAD_ATTR1_FLG": "0",
                        "LOAD_ATTR2_FLG": "0",
                        "LOAD_ATTR3_FLG": "0",
                        "LOAD_ATTR4_FLG": "0",
                        "LOAD_ATTR5_FLG": "0",
                        "SUBNUM": "string",
                        "SUBWGT": "00000000000000.0000",
                        "PHYFLG": "0",
                        "MVSFLG": "0",
                        "CTNFLG": "0",
                        "IDMFLG": "0",
                        "DISTRO_CTNOPN_FLG": "0",
                        "SUBREF": "string",
                        "TAGDEV": "string",
                        "SUBUCC": "string",
                        "SUBUCCDTE": "20260216085208",
                        "SUBTAG": "string",
                        "SUB_TAGSTS": "string",
                        "SUB_ASSET_TYP": "string",
                        "DTLNUM": "string",
                        "PHDFLG": "0",
                        "PRTNUM": "string",
                        "PRT_CLIENT_ID": "string",
                        "ORGCOD": "string",
                        "REVLVL": "string",
                        "LOTNUM": "string",
                        "SUP_LOTNUM": "string",
                        "INVSTS": "string",
                        "SUPNUM": "string",
                        "CNSG_FLG": "0",
                        "AGE_PFLNAM": "string",
                        "FIFDTE": "20260216085208",
                        "MANDTE": "20260216085208",
                        "EXPIRE_DTE": "20260216085208",
                        "UNTQTY": "0000000000",
                        "UNTCAS": "0000000000",
                        "UNTPAK": "0000000000",
                        "FTPCOD": "string",
                        "RCVKEY": "string",
                        "SHIP_LINE_ID": "string",
                        "WRKREF": "string",
                        "WRKREF_DTL": "string",
                        "ADDDTE": "20260216085208",
                        "RCVDTE": "20260216085208",
                        "LSTMOV": "20260216085208",
                        "LSTDTE": "20260216085208",
                        "LSTCOD": "string",
                        "LST_USR_ID": "string",
                        "CMPKEY": "string",
                        "ALCFLG": "0",
                        "CATCH_QTY": "00000000000000.0000",
                        "LST_ARECOD": "string",
                        "LST_MOV_ZONE_ID": "string",
                        "BILL_THROUGH_DTE": "20260216085208",
                        "CONDCOD": "string",
                        "DISTRO_ID": "string",
                        "DISTRO_FLG": "0",
                        "HLD_FLG": "0",
                        "INV_ATTR_STR1": "string",
                        "INV_ATTR_STR2": "string",
                        "INV_ATTR_STR3": "string",
                        "INV_ATTR_STR4": "string",
                        "INV_ATTR_STR5": "string",
                        "INV_ATTR_STR6": "string",
                        "INV_ATTR_STR7": "string",
                        "INV_ATTR_STR8": "string",
                        "INV_ATTR_STR9": "string",
                        "INV_ATTR_STR10": "string",
                        "INV_ATTR_STR11": "string",
                        "INV_ATTR_STR12": "string",
                        "INV_ATTR_STR13": "string",
                        "INV_ATTR_STR14": "string",
                        "INV_ATTR_STR15": "string",
                        "INV_ATTR_STR16": "string",
                        "INV_ATTR_STR17": "string",
                        "INV_ATTR_STR18": "string",
                        "INV_ATTR_INT1": "0000000000",
                        "INV_ATTR_INT2": "0000000000",
                        "INV_ATTR_INT3": "0000000000",
                        "INV_ATTR_INT4": "0000000000",
                        "INV_ATTR_INT5": "0000000000",
                        "INV_ATTR_FLT1": "00000000000000.0000",
                        "INV_ATTR_FLT2": "00000000000000.0000",
                        "INV_ATTR_FLT3": "00000000000000.0000",
                        "INV_ATTR_DTE1": "20260216085208",
                        "INV_ATTR_DTE2": "20260216085208",
                        "CSTMS_CNSGNMNT_ID": "string",
                        "RTTN_ID": "string",
                        "CSTMS_BOND_FLG": "0",
                        "DTY_STMP_FLG": "0",
                        "ASNFLG": "0"
                      }
                    }
                  }
                },
                "LABEL_REQUEST_v2013.2": {
                  "value": {
                    "CTRL_SEG": {
                      "TRANID": "string",
                      "TRANDT": "20260216085208",
                      "WCS_ID": "string",
                      "WH_ID": "string",
                      "LBL_REQ_SEG": {
                        "LODNUM": "string",
                        "PRTTYP": "string",
                        "PRTADR": "string",
                        "EXITPNT": "string"
                      }
                    }
                  }
                },
                "LINE_SETUP_v2013.2": {
                  "value": {
                    "CTRL_SEG": {
                      "TRANID": "string",
                      "TRANDT": "20260216085208",
                      "WCS_ID": "string",
                      "WH_ID": "string",
                      "WKO_SEG": {
                        "WKONUM": "string",
                        "CLIENT_ID": "string",
                        "WKOREV": "string",
                        "PRDLIN": "string",
                        "STG_LOC": "string",
                        "ACTION": "string",
                        "REACOD": "string"
                      }
                    }
                  }
                },
                "LOCATION_STATUS_v2013.2": {
                  "value": {
                    "CTRL_SEG": {
                      "TRANID": "string",
                      "TRANDT": "20260216085208",
                      "WCS_ID": "string",
                      "WH_ID": "string",
                      "LOCSTS_SEG": {
                        "STOLOC": "string",
                        "USEFLG": "0",
                        "STOFLG": "0",
                        "PCKFLG": "0",
                        "PUTAWAY_FLG": "0",
                        "CANPCK_FLG": "0"
                      }
                    }
                  }
                },
                "MOVEMENT_CONFIRM_v2013.2": {
                  "value": {
                    "CTRL_SEG": {
                      "TRANID": "string",
                      "TRANDT": "20260216085208",
                      "WCS_ID": "string",
                      "WH_ID": "string",
                      "MOVE_CONF_SEG": {
                        "LODNUM": "string",
                        "DSTLOC": "string",
                        "OVRLOC": "string",
                        "OVRREA": "string",
                        "LOAD_ATTR1_FLG": "0",
                        "LOAD_ATTR2_FLG": "0",
                        "LOAD_ATTR3_FLG": "0",
                        "LOAD_ATTR4_FLG": "0",
                        "LOAD_ATTR5_FLG": "0"
                      }
                    }
                  }
                },
                "MOVEMENT_ERROR_v2013.2": {
                  "value": {
                    "CTRL_SEG": {
                      "TRANID": "string",
                      "TRANDT": "20260216085208",
                      "WCS_ID": "string",
                      "WH_ID": "string",
                      "MOVE_ERR_SEG": {
                        "LODNUM": "string",
                        "DSTLOC": "string",
                        "STATUS": "string",
                        "ERROR_DESCR": "string"
                      }
                    }
                  }
                },
                "PICK_CONFIRM_v2013.2": {
                  "value": {
                    "CTRL_SEG": {
                      "TRANID": "string",
                      "TRANDT": "20260216085208",
                      "WCS_ID": "string",
                      "WH_ID": "string",
                      "PICK_CONF_SEG": {
                        "WRKREF": "string",
                        "LODNUM": "string",
                        "DSTLOC": "string"
                      }
                    }
                  }
                },
                "PICK_ERROR_v1.0": {
                  "value": {
                    "PCK0100": {
                      "RECTYPE": "string",
                      "PLAN_DATE": "string",
                      "ASSIGN_NUM": "string",
                      "ITEM_NUM": "string",
                      "CONTAINER_LICENSE": "string",
                      "PICK_ERROR_ITEM_NUM": "string",
                      "CSTNUM": "string",
                      "CLIENT_ID": "string",
                      "TRANS_NUM": "string",
                      "SEQ_NUM": "string",
                      "REF_ID": "string",
                      "CLIENT_SLOT_ID": "string",
                      "USER_DEF_1": "string",
                      "USER_DEF_2": "string",
                      "USER_DEF_3": "string",
                      "USER_DEF_4": "string",
                      "USER_DEF_5": "string",
                      "PICK_ERROR_TYPE_ID": "string",
                      "PICK_ERROR_SOURCE_ID": "string",
                      "PICK_ERROR_QTY": "string",
                      "PICK_ERROR_COST": "string",
                      "PICK_ERROR_CHARGE_FLG": "string",
                      "DRIVER": "string"
                    }
                  }
                },
                "PICK_ERROR_v2013.2": {
                  "value": {
                    "CTRL_SEG": {
                      "TRANID": "string",
                      "TRANDT": "20260216085208",
                      "WCS_ID": "string",
                      "WH_ID": "string",
                      "PICK_ERR_SEG": {
                        "WRKREF": "string",
                        "CANCOD": "string",
                        "ERROR_DESCR": "string"
                      }
                    }
                  }
                },
                "REQUEST_v2013.2": {
                  "value": {
                    "CTRL_SEG": {
                      "TRANID": "string",
                      "TRANDT": "20260216085208",
                      "WCS_ID": "string",
                      "WH_ID": "string",
                      "REQ_SEG": {
                        "LODNUM": "string",
                        "REQ_CONTENTS_FLG": "0",
                        "REQ_STOLOC_FLG": "0",
                        "STOLOC": "string"
                      }
                    }
                  }
                },
                "VAR_ASSIGN_LIST_v2013.2": {
                  "value": {
                    "CTRL_SEG": {
                      "TRANID": "string",
                      "TRANDT": "20260216085208",
                      "WCS_ID": "string",
                      "WH_ID": "string",
                      "LIST_ID": "string",
                      "USR_ID": "string"
                    }
                  }
                },
                "VAR_AUTO_RECEIPT_v2014.1": {
                  "value": {
                    "CTRL_SEG": {
                      "TRANID": "string",
                      "TRANDT": "20260216085208",
                      "WCS_ID": "string",
                      "WH_ID": "string",
                      "INVENTORY_SEG": {
                        "DOCK_DOOR": "string",
                        "INVNUM": "string",
                        "DSTLOC": "string",
                        "BAR_CODE_1": "string",
                        "BAR_CODE_2": "string",
                        "BAR_CODE_3": "string",
                        "PLATFORM_ASSET_TYP": "string",
                        "ADDITIONAL_ASSET_TYP": "string",
                        "ADDITIONAL_ASSET_QTY": "null"
                      }
                    }
                  }
                },
                "VAR_CANCELREQUEST_v2014.1": {
                  "value": {
                    "CTRL_SEG": {
                      "TRANID": "string",
                      "TRANDT": "20260216085208",
                      "WCS_ID": "string",
                      "WH_ID": "string",
                      "CANCEL_SEG": {
                        "REQUESTID": "string",
                        "REQUESTTIME": "string"
                      }
                    }
                  }
                },
                "VAR_CLOSE_RECEIPT_v2014.1": {
                  "value": {
                    "CTRL_SG": {
                      "TRANID": "string",
                      "TRANDT": "20260216085208",
                      "WCS_ID": "string",
                      "WH_ID": "string",
                      "RECEIPT_SEG": {
                        "TRLR_NUM": "string",
                        "CARCOD": "string"
                      }
                    }
                  }
                },
                "VAR_CYCLE_COUNT_RESPONSE_v2014.1.0": {
                  "value": {
                    "CTRL_SEG": {
                      "TRANID": "string",
                      "TRANDT": "20260216085208",
                      "WCS_ID": "string",
                      "WH_ID": "string",
                      "VAR_CYCLE_COUNT_RESPONSE_SEG": {
                        "AGV_ID": "string",
                        "LOCATION": "string",
                        "CNT_NEAR_ZERO_RSPNS_FLG": "0000"
                      }
                    }
                  }
                },
                "VAR_DEPOSIT_CONFIRM_v2014.1.0": {
                  "value": {
                    "CTRL_SEG": {
                      "TRANID": "string",
                      "TRANDT": "20260216085208",
                      "WCS_ID": "string",
                      "WH_ID": "string",
                      "VAR_DEPOSIT_CONFIRM_SEG": {
                        "AGV_ID": "string",
                        "LODNUM": "string",
                        "STOLOC": "string",
                        "VC_GROUP_ID": "string",
                        "VC_GROUP_SEQUENCE": "0000000000"
                      }
                    }
                  }
                },
                "VAR_GROUP_PALLETS_v2014.1": {
                  "value": {
                    "CTRL_SEG": {
                      "TRANID": "string",
                      "TRANDT": "20260216085208",
                      "WCS_ID": "string",
                      "WH_ID": "string",
                      "PALLET_GROUP": {
                        "GROUP_ID": "string",
                        "PALLET_SEG": {
                          "LODNUM": "string",
                          "VC_GROUP_SEQUENCE": "0000000000"
                        }
                      }
                    }
                  }
                },
                "VAR_INV_MOVE_CONFIRM_v2014.1": {
                  "value": {
                    "CTRL_SEG": {
                      "TRANID": "string",
                      "TRANDT": "20260216085208",
                      "WCS_ID": "string",
                      "WH_ID": "string",
                      "VAR_INV_MOVE_CONF_SEG": {
                        "SRC_LODNUM": "string",
                        "SRCLOC": "string",
                        "PRTNUM": "string",
                        "LOTNUM": "string",
                        "MOV_QTY": "0000000000",
                        "MOV_UOM": "string",
                        "DST_LODNUM": "string",
                        "DSTLOC": "string",
                        "ASSET_TYP": "string",
                        "PRT_CLIENT_ID": "string"
                      }
                    }
                  }
                },
                "VAR_LIST_PICK_CONFIRM_v2014.1": {
                  "value": {
                    "CTRL_SEG": {
                      "TRANID": "string",
                      "TRANDT": "20260216085208",
                      "WCS_ID": "string",
                      "WH_ID": "string",
                      "PICK_SEG": {
                        "LIST_ID": "string",
                        "WRKREF": "string",
                        "SRC_LODNUM": "string",
                        "DST_LODNUM": "string",
                        "DST_SUBNUM": "string",
                        "DSTLOC": "string",
                        "PCKQTY": "null",
                        "PCK_UOM": "string",
                        "LOTNUM": "string",
                        "ASSET_TYP": "string"
                      }
                    }
                  }
                },
                "VAR_LOC_OVERRIDE_v2014.1": {
                  "value": {
                    "CTRL_SEG": {
                      "TRANID": "string",
                      "TRANDT": "20260216085208",
                      "WH_ID": "string",
                      "WCS_ID": "string",
                      "VAR_LOC_OVERRIDE_SEG": {
                        "AGV_ID": "string",
                        "REQNUM": "null",
                        "LODNUM": "string",
                        "STOLOC": "string",
                        "EXCLUDE_LOCATIONS": "string",
                        "OVR_LOC_COD": "string"
                      }
                    }
                  }
                },
                "VAR_MATERIALREQUEST_v2014.1": {
                  "value": {
                    "CTRL_SEG": {
                      "TRANID": "string",
                      "TRANDT": "20260216085208",
                      "WCS_ID": "string",
                      "WH_ID": "string",
                      "MATERIAL_SEG": {
                        "REQUESTID": "string",
                        "REQUESTTIME": "string",
                        "PLANTID": "string",
                        "LOCATIONID": "string",
                        "PRIMARYGCAS": "string",
                        "ALTERNATEGCAS": "string",
                        "QUANTITY": "null",
                        "UOM": "string"
                      }
                    }
                  }
                },
                "VAR_PICKUP_CONFIRM_v2014.1.0": {
                  "value": {
                    "CTRL_SEG": {
                      "TRANID": "string",
                      "TRANDT": "20260216085208",
                      "WCS_ID": "string",
                      "WH_ID": "string",
                      "VAR_PICKUP_CONFIRM_SEG": {
                        "AGV_ID": "string",
                        "REQNUM": "string",
                        "LODNUM": "string",
                        "DESTACK_FLG": "0"
                      }
                    }
                  }
                },
                "VAR_RECEIVE_INVENTORY_v2014.1": {
                  "value": {
                    "CTRL_SG": {
                      "TRANID": "string",
                      "TRANDT": "20260216085208",
                      "WCS_ID": "string",
                      "WH_ID": "string",
                      "RECEIPT_SEG": {
                        "DOCK_DOOR": "string",
                        "INVNUM": "string",
                        "LODNUM": "string",
                        "DSTLOC": "string"
                      }
                    }
                  }
                },
                "VAR_REPLEN_REQUEST_v2014.1": {
                  "value": {
                    "CTRL_SEG": {
                      "TRANID": "string",
                      "TRANDT": "20260216085208",
                      "WCS_ID": "string",
                      "WH_ID": "string",
                      "REPLEN_REQ_SEG": {
                        "PRTNUM": "string",
                        "PRT_CLIENT_ID": "string",
                        "REQQTY": "000000000000",
                        "REQUOM": "string",
                        "PRIORITY": "null",
                        "HOPLOC": "string"
                      }
                    }
                  }
                },
                "VAR_RETURN_TO_STOCK_v2014.1": {
                  "value": {
                    "CTRL_SEG": {
                      "TRANID": "string",
                      "TRANDT": "20260216085208",
                      "WCS_ID": "string",
                      "WH_ID": "string",
                      "WORK_ORDER_SEG": {
                        "WKONUM": "string",
                        "CLIENT_ID": "string",
                        "WKOREV": "string",
                        "PRCLOC": "string",
                        "LODNUM": "string",
                        "DSTLOC": "string",
                        "INVENTORY_DETAILS_SEG": {
                          "PRTNUM": "string",
                          "PRT_CLIENT_ID": "string",
                          "LOTNUM": "string",
                          "UNTQTY": "string",
                          "UOMCOD": "string"
                        }
                      }
                    }
                  }
                },
                "VAR_RETURNS_v2014.1": {
                  "value": {
                    "CTRL_SEG": {
                      "TRANID": "string",
                      "TRANDT": "20260216085208",
                      "WCS_ID": "string",
                      "WH_ID": "string",
                      "RETURN_SEG": {
                        "PLANTID": "string",
                        "RETURNTARGET": "string",
                        "LOCATIONID": "string",
                        "ULID": "string",
                        "GCAS": "string",
                        "QUANTITY": "00000000000000000000",
                        "UOM": "string",
                        "SAPBATCHNUMBER": "string"
                      }
                    }
                  }
                },
                "VAR_STAGING_UPDATE_v2014.1": {
                  "value": {
                    "CTRL_SEG": {
                      "TRANID": "string",
                      "TRANDT": "20260216085208",
                      "WCS_ID": "string",
                      "WH_ID": "string",
                      "CARRIER_MOVE_SEG": {
                        "CAR_MOVE_ID": "string",
                        "STGLOC": "string"
                      }
                    }
                  }
                },
                "VAR_TRAILER_LOAD_v2014.1": {
                  "value": {
                    "CTRL_SEG": {
                      "TRANID": "string",
                      "TRANDT": "20260216085208",
                      "WCS_ID": "string",
                      "WH_ID": "string",
                      "PALLET_SEG": {
                        "DOCK_DOOR": "string",
                        "LODNUM": "string"
                      }
                    }
                  }
                },
                "VAR_TRLR_CHKIN_v2014.1": {
                  "value": {
                    "CTRL_SEG": {
                      "TRANID": "string",
                      "TRANDT": "20260216085208",
                      "WH_ID": "string",
                      "WCS_ID": "string",
                      "VAR_TRLR_CHKIN_SEG": {
                        "TRLR_NUM": "string",
                        "CARCOD": "string",
                        "TRLR_COD": "string",
                        "TRLR_TYP": "string",
                        "YARD_STAT": "string",
                        "REFRIG_FLG": "0",
                        "DRIVER_NAM": "string",
                        "DRIVER_LIC_NUM": "string",
                        "TRACTOR_NUM": "string",
                        "TRLR_WGT": "00000000000000000000",
                        "TRLR_REF": "string",
                        "CAR_MOVE_ID": "string",
                        "TRKNUM": "string",
                        "BLDG_ID": "string",
                        "ARECOD": "string",
                        "YARD_LOC": "string",
                        "TRLR_SEAL1": "string",
                        "TRLR_SEAL2": "string",
                        "TRLR_SEAL3": "string",
                        "TRLR_SEAL4": "string",
                        "NOTTXT": "string",
                        "LIVE_LOAD_FLG": "null",
                        "TURN_FLG": "null",
                        "TRLR_COND": "string"
                      }
                    }
                  }
                },
                "VAR_TRLR_CHKOUT_v2014.1": {
                  "value": {
                    "CTRL_SEG": {
                      "TRANID": "string",
                      "TRANDT": "20260216085208",
                      "WCS_ID": "string",
                      "WH_ID": "string",
                      "VAR_TRLR_CHKOUT_SEG": {
                        "TRLR_NUM": "string",
                        "CARCOD": "string",
                        "TRLR_TYP": "string",
                        "TRACTOR_NUM": "string",
                        "CAR_MOVE_ID": "string",
                        "TRKNUM": "string"
                      }
                    }
                  }
                },
                "VAR_TRLR_MOVE_v2014.1": {
                  "value": {
                    "CTRL_SEG": {
                      "TRANID": "string",
                      "TRANDT": "20260216085208",
                      "WCS_ID": "string",
                      "WH_ID": "string",
                      "VAR_TRLR_MOV_SEG": {
                        "TRLR_NUM": "string",
                        "CARCOD": "string",
                        "BLDG_ID": "string",
                        "ARECOD": "string",
                        "YARD_LOC": "string"
                      }
                    }
                  }
                },
                "VAR_UNGROUP_PALLETS_v2014.1": {
                  "value": {
                    "CTRL_SEG": {
                      "TRANID": "string",
                      "TRANDT": "20260216085208",
                      "WCS_ID": "string",
                      "WH_ID": "string",
                      "PALLET_GROUP": {
                        "GROUP_ID": "string",
                        "LODNUM": "string"
                      }
                    }
                  }
                },
                "VAR_VEHICLE_STATUS_v2014.1": {
                  "value": {
                    "CTRL_SEG": {
                      "TRANID": "string",
                      "TRANDT": "20260216085208",
                      "WCS_ID": "string",
                      "WH_ID": "string",
                      "VAR_VEHICLE_STATUS_SEG": {
                        "AGV_ID": "string",
                        "RFTMOD": "string",
                        "STOLOC": "string"
                      }
                    }
                  }
                },
                "VAR_WORK_DETAIL_REQUEST_v2014.1.0": {
                  "value": {
                    "CTRL_SEG": {
                      "TRANID": "string",
                      "TRANDT": "20260216085208",
                      "WCS_ID": "string",
                      "WH_ID": "string",
                      "VAR_WORK_DTL_REQ_SEG": {
                        "AGV_ID": "string",
                        "REQNUM": "string"
                      }
                    }
                  }
                },
                "VAR_WORK_REJECT_v2014.1": {
                  "value": {
                    "CTRL_SEG": {
                      "TRANID": "string",
                      "TRANDT": "20260216085208",
                      "WCS_ID": "string",
                      "WH_ID": "string",
                      "VAR_WORK_REJECT_SEG": {
                        "REQNUM": "string",
                        "AGV_ID": "string"
                      }
                    }
                  }
                },
                "VAR_WORK_REQUEST_v2014.1.0": {
                  "value": {
                    "CTRL_SEG": {
                      "TRANID": "string",
                      "TRANDT": "20260216085208",
                      "WCS_ID": "string",
                      "WH_ID": "string",
                      "VAR_WORK_REQ_SEG": {
                        "AGV_ID": "string",
                        "LOCATION": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "BUFFER_FULL_v2013.2": {
        "type": "object",
        "description": "Buffer Full",
        "properties": {
          "CTRL_SEG": {
            "type": "object",
            "description": "Segment that contains required control fields.",
            "required": [
              "WH_ID"
            ],
            "properties": {
              "TRANID": {
                "type": "string",
                "maxLength": 24,
                "description": "Transaction ID"
              },
              "TRANDT": {
                "type": "string",
                "maxLength": 14,
                "format": "YYYYMMDDHH24MISS",
                "description": "Transaction Date and Time"
              },
              "WCS_ID": {
                "type": "string",
                "maxLength": 30,
                "description": "WCS Connection ID"
              },
              "WH_ID": {
                "type": "string",
                "maxLength": 32,
                "description": "Warehouse ID"
              },
              "STOLOC_SEG": {
                "type": "object",
                "description": "Location status segment",
                "properties": {
                  "STOLOC": {
                    "type": "string",
                    "maxLength": 20,
                    "description": "Storage location"
                  }
                }
              }
            }
          }
        }
      },
      "CREATE_LINE_INVENTORY_IN_IFD_v2013.2": {
        "type": "object",
        "description": "This message indicates the creation of new inventory for a top-level item that was assembled at a MES production line.",
        "properties": {
          "CTRL_SEG": {
            "type": "object",
            "description": "Segment that contains required control fields.",
            "required": [
              "WH_ID"
            ],
            "properties": {
              "TRANID": {
                "type": "string",
                "maxLength": 24,
                "description": "Transaction ID"
              },
              "TRANDT": {
                "type": "string",
                "maxLength": 14,
                "format": "YYYYMMDDHH24MISS",
                "description": "Transaction Date and Time"
              },
              "WCS_ID": {
                "type": "string",
                "maxLength": 30,
                "description": "WCS Connection ID"
              },
              "WH_ID": {
                "type": "string",
                "maxLength": 32,
                "description": "Warehouse ID"
              },
              "CREATE_LINE_INVENTORY_SEG": {
                "type": "object",
                "description": "Segment that contains information about the create line inventory message.",
                "required": [
                  "PRDLIN",
                  "PRTNUM",
                  "INVSTS",
                  "UNTQTY",
                  "LODNUM"
                ],
                "properties": {
                  "WKONUM": {
                    "type": "string",
                    "maxLength": 20,
                    "description": "Work Order Number"
                  },
                  "WKOREV": {
                    "type": "string",
                    "maxLength": 10,
                    "description": "Work Order Revision"
                  },
                  "CLIENT_ID": {
                    "type": "string",
                    "maxLength": 32,
                    "description": "Client ID."
                  },
                  "PRDLIN": {
                    "type": "string",
                    "maxLength": 20,
                    "description": "Production Line"
                  },
                  "ADJ_REF1": {
                    "type": "string",
                    "maxLength": 20,
                    "description": "Adjustment Reference One"
                  },
                  "ADJ_REF2": {
                    "type": "string",
                    "maxLength": 20,
                    "description": "Adjustment Reference Two"
                  },
                  "REACOD": {
                    "type": "string",
                    "maxLength": 20,
                    "description": "Reason Code"
                  },
                  "UOMCOD": {
                    "type": "string",
                    "maxLength": 2,
                    "description": "Unit of Measure Code"
                  },
                  "PRTNUM": {
                    "type": "string",
                    "maxLength": 50,
                    "description": "Top-level Item Number"
                  },
                  "PRT_CLIENT_ID": {
                    "type": "string",
                    "maxLength": 32,
                    "description": "Top-level Item Client ID"
                  },
                  "UNTCAS": {
                    "type": "number",
                    "format": "0999999999",
                    "description": "Units Per Case"
                  },
                  "INVSTS": {
                    "type": "string",
                    "maxLength": 4,
                    "description": "Inventory Status"
                  },
                  "HSTACC": {
                    "type": "string",
                    "maxLength": 30,
                    "description": "Host Account"
                  },
                  "UNTQTY": {
                    "type": "string",
                    "maxLength": 10,
                    "format": "0999999999",
                    "description": "Quantity in Eaches"
                  },
                  "ORGCOD": {
                    "type": "string",
                    "maxLength": 25,
                    "description": "Origin Code"
                  },
                  "REVLVL": {
                    "type": "string",
                    "maxLength": 25,
                    "description": "Revision Level"
                  },
                  "LOTNUM": {
                    "type": "string",
                    "maxLength": 25,
                    "description": "Lot Number"
                  },
                  "SUP_LOTNUM": {
                    "type": "string",
                    "maxLength": 25,
                    "description": "Supplier Lot Number"
                  },
                  "DSTLOC": {
                    "type": "string",
                    "maxLength": 20,
                    "description": "Destination Warehouse Location"
                  },
                  "LODNUM": {
                    "type": "string",
                    "maxLength": 30,
                    "description": "Load Number"
                  },
                  "SUBNUM": {
                    "type": "string",
                    "maxLength": 30,
                    "description": "Inventory Sub Load Number"
                  },
                  "DTLNUM": {
                    "type": "string",
                    "maxLength": 30,
                    "description": "Inventory Detail Number (Serial #)"
                  },
                  "PTWAY_FLG": {
                    "type": "number",
                    "format": "9",
                    "description": "Putaway Flag. The flag indicates whether WMS will automatically run putaway or not (1=WMS will run putaway command 0=WMS will not run putaway command)"
                  },
                  "USR_ID": {
                    "type": "string",
                    "maxLength": 10,
                    "description": "Inventory Creation User ID (OPTIONAL)"
                  },
                  "ACTCOD": {
                    "type": "string",
                    "maxLength": 10,
                    "description": "Inventory Creation Action Code (OPTIONAL)"
                  },
                  "MOVREF": {
                    "type": "string",
                    "maxLength": 10,
                    "description": "Inventory Creation Movement Ref (OPTIONAL)"
                  },
                  "FTPCOD": {
                    "type": "string",
                    "maxLength": 20,
                    "description": "Footprint Code"
                  },
                  "UNTPAK": {
                    "type": "number",
                    "format": "0999999999",
                    "description": "Units Per Pack"
                  },
                  "FIFDTE": {
                    "type": "string",
                    "maxLength": 14,
                    "format": "YYYYMMDDHH24MISS",
                    "description": "Fifo Date"
                  },
                  "MANDTE": {
                    "type": "string",
                    "maxLength": 14,
                    "format": "YYYYMMDDHH24MISS",
                    "description": "Manufacturing Date/Time"
                  },
                  "AGE_PFLNAM": {
                    "type": "string",
                    "maxLength": 30,
                    "description": "Aging Profile Name"
                  },
                  "CATCH_QTY": {
                    "type": "number",
                    "format": "0999999999",
                    "description": "Catch Unit Quantity"
                  },
                  "EXPDTE": {
                    "type": "string",
                    "maxLength": 14,
                    "format": "YYYYMMDDHH24MISS",
                    "description": "Expiration Date - The date on which this inventory is expired. Only applies to date-controlled Items."
                  },
                  "LODTAG": {
                    "type": "string",
                    "maxLength": 40,
                    "description": "Load Tag Value"
                  },
                  "SUBTAG": {
                    "type": "string",
                    "maxLength": 40,
                    "description": "Sub-Load Tag Value"
                  },
                  "PHYFLG": {
                    "type": "number",
                    "format": "9",
                    "description": "Physical Flag - indicates whether the carton is physically marked and should not be consolidated."
                  },
                  "PLAT_ID": {
                    "type": "string",
                    "maxLength": 4,
                    "description": "Platform ID - the platform identifier for this load, typically a type of pallet."
                  },
                  "SUPNUM": {
                    "type": "string",
                    "maxLength": 32,
                    "description": "Supplier Number: Supplier Number of the Inventory tracked by this detail."
                  },
                  "CNSG_FLG": {
                    "type": "number",
                    "format": "9",
                    "description": "Consigned Flag: The status indicates ownership of the inventory (1=ownership is with the supplier, 0=ownership is not with supplier)"
                  },
                  "ASSET_TYP": {
                    "type": "string",
                    "maxLength": 30,
                    "description": "Asset Type of load"
                  },
                  "SUB_ASSET_TYP": {
                    "type": "string",
                    "maxLength": 30,
                    "description": "Asset type of sub load"
                  },
                  "MANDTE_FMT": {
                    "type": "string",
                    "maxLength": 14,
                    "description": "Manufacture Date Format (The date format used to format the Manufacture Date)"
                  },
                  "MANDTE_FMTVAL": {
                    "type": "string",
                    "maxLength": 14,
                    "description": "Formatted Manufacture Date (Manufacture Date )"
                  },
                  "EXPDTE_FMT": {
                    "type": "string",
                    "maxLength": 14,
                    "description": "Expiration Date Format (The date format used to format the Expiration Date)"
                  },
                  "EXPDTE_FMTVAL": {
                    "type": "string",
                    "maxLength": 14,
                    "description": "Formatted Expiration Date"
                  },
                  "INV_ATTR_STR1": {
                    "type": "string",
                    "maxLength": 100,
                    "description": "Inventory Attribute Text 1"
                  },
                  "INV_ATTR_STR2": {
                    "type": "string",
                    "maxLength": 100,
                    "description": "Inventory Attribute Text 2"
                  },
                  "INV_ATTR_STR3": {
                    "type": "string",
                    "maxLength": 100,
                    "description": "Inventory Attribute Text 3"
                  },
                  "INV_ATTR_STR4": {
                    "type": "string",
                    "maxLength": 100,
                    "description": "Inventory Attribute Text 4"
                  },
                  "INV_ATTR_STR5": {
                    "type": "string",
                    "maxLength": 100,
                    "description": "Inventory Attribute Text 5"
                  },
                  "INV_ATTR_STR6": {
                    "type": "string",
                    "maxLength": 100,
                    "description": "Inventory Attribute Text 6"
                  },
                  "INV_ATTR_STR7": {
                    "type": "string",
                    "maxLength": 100,
                    "description": "Inventory Attribute Text 7"
                  },
                  "INV_ATTR_STR8": {
                    "type": "string",
                    "maxLength": 100,
                    "description": "Inventory Attribute Text 8"
                  },
                  "INV_ATTR_STR9": {
                    "type": "string",
                    "maxLength": 100,
                    "description": "Inventory Attribute Text 9"
                  },
                  "INV_ATTR_STR10": {
                    "type": "string",
                    "maxLength": 100,
                    "description": "Inventory Attribute Text 10"
                  },
                  "INV_ATTR_STR11": {
                    "type": "string",
                    "maxLength": 100,
                    "description": "Inventory Attribute Text 10"
                  },
                  "INV_ATTR_STR12": {
                    "type": "string",
                    "maxLength": 100,
                    "description": "Inventory Attribute Text 10"
                  },
                  "INV_ATTR_STR13": {
                    "type": "string",
                    "maxLength": 100,
                    "description": "Inventory Attribute Text 10"
                  },
                  "INV_ATTR_STR14": {
                    "type": "string",
                    "maxLength": 100,
                    "description": "Inventory Attribute Text 10"
                  },
                  "INV_ATTR_STR15": {
                    "type": "string",
                    "maxLength": 100,
                    "description": "Inventory Attribute Text 10"
                  },
                  "INV_ATTR_STR16": {
                    "type": "string",
                    "maxLength": 100,
                    "description": "Inventory Attribute Text 10"
                  },
                  "INV_ATTR_STR17": {
                    "type": "string",
                    "maxLength": 100,
                    "description": "Inventory Attribute Text 10"
                  },
                  "INV_ATTR_STR18": {
                    "type": "string",
                    "maxLength": 100,
                    "description": "Inventory Attribute Text 10"
                  },
                  "INV_ATTR_INT1": {
                    "type": "number",
                    "format": "0999999999",
                    "description": "Inventory Attribute Number 1"
                  },
                  "INV_ATTR_INT2": {
                    "type": "number",
                    "format": "0999999999",
                    "description": "Inventory Attribute Number 2"
                  },
                  "INV_ATTR_INT3": {
                    "type": "number",
                    "format": "0999999999",
                    "description": "Inventory Attribute Number 3"
                  },
                  "INV_ATTR_INT4": {
                    "type": "number",
                    "format": "0999999999",
                    "description": "Inventory Attribute Number 4"
                  },
                  "INV_ATTR_INT5": {
                    "type": "number",
                    "format": "0999999999",
                    "description": "Inventory Attribute Number 5"
                  },
                  "INV_ATTR_FLT1": {
                    "type": "number",
                    "format": "99999999999999.9999",
                    "description": "Inventory Attribute Decimal 1"
                  },
                  "INV_ATTR_FLT2": {
                    "type": "number",
                    "format": "99999999999999.9999",
                    "description": "Inventory Attribute Decimal 2"
                  },
                  "INV_ATTR_FLT3": {
                    "type": "number",
                    "format": "99999999999999.9999",
                    "description": "Inventory Attribute Decimal 3"
                  },
                  "INV_ATTR_DTE1": {
                    "type": "string",
                    "maxLength": 14,
                    "format": "YYYYMMDDHH24MISS",
                    "description": "Inventory Attribute Date 1"
                  },
                  "INV_ATTR_DTE1_FMT": {
                    "type": "string",
                    "maxLength": 14,
                    "description": "Formatted Inventory Attribute Date 1 (Inventory Attribute Date 1)"
                  },
                  "INV_ATTR_DTE1_FMTVAL": {
                    "type": "string",
                    "maxLength": 14,
                    "description": "Formatted Inventory Attribute Date 1"
                  },
                  "INV_ATTR_DTE2": {
                    "type": "string",
                    "maxLength": 14,
                    "format": "YYYYMMDDHH24MISS",
                    "description": "Inventory Attribute Date 2"
                  },
                  "INV_ATTR_DTE2_FMT": {
                    "type": "string",
                    "maxLength": 14,
                    "description": "Formatted Inventory Attribute Date 2 (Inventory Attribute Date 2)"
                  },
                  "INV_ATTR_DTE2_FMTVAL": {
                    "type": "string",
                    "maxLength": 14,
                    "description": "Formatted Inventory Attribute Date 2"
                  },
                  "CSTMS_CNSGNMNT_ID": {
                    "type": "string",
                    "maxLength": 18,
                    "description": "Customs Consignment Id"
                  },
                  "CSTMS_BOND_FLG": {
                    "type": "number",
                    "format": "9",
                    "description": "Customs Bond Flag."
                  },
                  "DTY_STMP_FLG": {
                    "type": "number",
                    "format": "9",
                    "description": "Excise Duty Stamp"
                  },
                  "LOAD_ATTR1_FLG": {
                    "type": "number",
                    "format": "9",
                    "description": "Load Attribute 1 Flag"
                  },
                  "LOAD_ATTR2_FLG": {
                    "type": "number",
                    "format": "9",
                    "description": "Load Attribute 2 Flag"
                  },
                  "LOAD_ATTR3_FLG": {
                    "type": "number",
                    "format": "9",
                    "description": "Load Attribute 3 Flag"
                  },
                  "LOAD_ATTR4_FLG": {
                    "type": "number",
                    "format": "9",
                    "description": "Load Attribute 4 Flag"
                  },
                  "LOAD_ATTR5_FLG": {
                    "type": "number",
                    "format": "9",
                    "description": "Load Attribute 5 Flag"
                  }
                }
              },
              "CREATE_ASSET_SEG": {
                "type": "object",
                "description": "Create Asset",
                "properties": {
                  "INVT_ID": {
                    "type": "string",
                    "maxLength": 30,
                    "description": "The inventory Identifier that this asset is associated with this could  be lodnum/subnum"
                  },
                  "ASSET_ID": {
                    "type": "string",
                    "maxLength": 30,
                    "description": "Unique identifier for an asset."
                  },
                  "ASSET_TYP": {
                    "type": "string",
                    "maxLength": 30,
                    "description": "Asset Type"
                  },
                  "ASSET_STAT": {
                    "type": "string",
                    "maxLength": 15,
                    "description": "Asset Status"
                  },
                  "ASSET_TAG": {
                    "type": "string",
                    "maxLength": 40,
                    "description": "Asset Tag - Typically a unique RFID identifier"
                  },
                  "CLIENT_ID": {
                    "type": "string",
                    "maxLength": 32,
                    "description": "Unique asset client identifier."
                  },
                  "WARRANTY_DTE": {
                    "type": "string",
                    "maxLength": 14,
                    "format": "YYYYMMDDHH24MISS",
                    "description": "Date and time at which the warranty for an asset expires."
                  },
                  "PURCH_DTE": {
                    "type": "string",
                    "maxLength": 14,
                    "format": "YYYYMMDDHH24MISS",
                    "description": "Date and time at which an asset was purchased."
                  },
                  "MAN_ID": {
                    "type": "string",
                    "maxLength": 20,
                    "description": "Identifies where the asset is manufactured"
                  },
                  "MODEL": {
                    "type": "string",
                    "maxLength": 20,
                    "description": "Identifies the model numbers for the asset."
                  },
                  "SER_NUM": {
                    "type": "string",
                    "maxLength": 40,
                    "description": "Serial number of the asset."
                  }
                }
              }
            }
          }
        }
      },
      "INVENTORY_RECONCILIATION_v2013.2": {
        "type": "object",
        "description": "Inventory Reconciliation",
        "properties": {
          "CTRL_SEG": {
            "type": "object",
            "description": "Segment that contains required control fields.",
            "required": [
              "WH_ID"
            ],
            "properties": {
              "TRANID": {
                "type": "string",
                "maxLength": 24,
                "description": "Transaction ID"
              },
              "TRANDT": {
                "type": "string",
                "maxLength": 14,
                "format": "YYYYMMDDHH24MISS",
                "description": "Transaction Date and Time"
              },
              "WCS_ID": {
                "type": "string",
                "maxLength": 30,
                "description": "WCS Connection ID"
              },
              "WH_ID": {
                "type": "string",
                "maxLength": 32,
                "description": "Warehouse ID"
              },
              "INV_SEG": {
                "type": "object",
                "description": "Inventory snapshot segment",
                "properties": {
                  "LODNUM": {
                    "type": "string",
                    "maxLength": 30,
                    "description": "Pallet LPN"
                  },
                  "STOLOC": {
                    "type": "string",
                    "maxLength": 20,
                    "description": "Storage Location"
                  },
                  "PRMFLG": {
                    "type": "number",
                    "format": "9",
                    "description": "Permanent Subload Flag"
                  },
                  "UNKFLG": {
                    "type": "number",
                    "format": "9",
                    "description": "Physical Case Flag"
                  },
                  "MVLFLG": {
                    "type": "number",
                    "format": "9",
                    "description": "Move Subload Entry Flag"
                  },
                  "LODUCC": {
                    "type": "string",
                    "maxLength": 20,
                    "description": "UCC128 Shipping Label"
                  },
                  "UCCDTE": {
                    "type": "string",
                    "maxLength": 14,
                    "format": "YYYYMMDDHH24MISS",
                    "description": "UCC128 Shipping Date"
                  },
                  "PALPOS": {
                    "type": "string",
                    "maxLength": 20,
                    "description": "Pallet Position"
                  },
                  "ASSET_TYP": {
                    "type": "string",
                    "maxLength": 30,
                    "description": "Asset Type"
                  },
                  "AVG_UNT_CATCH_QTY": {
                    "type": "number",
                    "format": "99999999999999.9999",
                    "description": "Average Unit Catch Quantity"
                  },
                  "LODTAG": {
                    "type": "string",
                    "maxLength": 40,
                    "description": "Load Tag Value"
                  },
                  "LOD_TAGSTS": {
                    "type": "string",
                    "maxLength": 40,
                    "description": "Load Tag Status"
                  },
                  "LODHGT": {
                    "type": "number",
                    "format": "99999999999999.9999",
                    "description": "Load Height"
                  },
                  "LODWGT": {
                    "type": "number",
                    "format": "99999999999999.9999",
[...]
