{
  "openapi": "3.0.3",
  "info": {
    "title": "ArcGIS Online REST API",
    "version": "11.5.0",
    "description": "ArcGIS Online REST API provides access to Esri-hosted location services including geocoding, reverse geocoding, place search, routing, and content management. This spec covers the World Geocoding Service and core Portal/Content endpoints.",
    "x-jentic-source-url": "https://developers.arcgis.com/rest/",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://geocode.arcgis.com/arcgis/rest/services/World/GeocodeServer",
      "description": "World Geocoding Service"
    },
    {
      "url": "https://www.arcgis.com",
      "description": "ArcGIS Online Portal"
    }
  ],
  "tags": [
    {
      "name": "Geocoding",
      "description": "Geocoding and search operations"
    },
    {
      "name": "Portal",
      "description": "ArcGIS Online portal and content operations"
    }
  ],
  "paths": {
    "/findAddressCandidates": {
      "get": {
        "operationId": "findAddressCandidates",
        "summary": "Find address candidates (geocode)",
        "description": "Geocode an address or place name to find candidate locations. Supports single-line and multi-field addresses.",
        "tags": [
          "Geocoding"
        ],
        "parameters": [
          {
            "name": "f",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "pjson"
              ],
              "default": "json"
            },
            "description": "Response format"
          },
          {
            "name": "token",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "ArcGIS token for authentication"
          },
          {
            "name": "singleLine",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Single-line address (e.g., '380 New York St, Redlands, CA 92373')"
          },
          {
            "name": "Address",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Street address"
          },
          {
            "name": "Address2",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Additional address info"
          },
          {
            "name": "City",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "City name"
          },
          {
            "name": "Region",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "State/province/region"
          },
          {
            "name": "Postal",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Postal/ZIP code"
          },
          {
            "name": "CountryCode",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "3-character country code (ISO 3166)"
          },
          {
            "name": "category",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Place or address category filter"
          },
          {
            "name": "outFields",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "*"
            },
            "description": "Fields to include in results"
          },
          {
            "name": "maxLocations",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20
            },
            "description": "Maximum number of candidates to return"
          },
          {
            "name": "outSR",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Output spatial reference WKID"
          },
          {
            "name": "location",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Preferred search center (x,y)"
          },
          {
            "name": "distance",
            "in": "query",
            "schema": {
              "type": "number"
            },
            "description": "Search radius around location in meters"
          },
          {
            "name": "magicKey",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Magic key from suggest operation"
          },
          {
            "name": "langCode",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Language code for results"
          },
          {
            "name": "locationType",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "street",
                "rooftop"
              ]
            },
            "description": "Location type preference"
          }
        ],
        "responses": {
          "200": {
            "description": "Geocode results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeocodeResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized/token required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/reverseGeocode": {
      "get": {
        "operationId": "reverseGeocode",
        "summary": "Reverse geocode",
        "description": "Find the address or place nearest to a given point (x,y coordinate).",
        "tags": [
          "Geocoding"
        ],
        "parameters": [
          {
            "name": "f",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "pjson"
              ],
              "default": "json"
            },
            "description": "Response format"
          },
          {
            "name": "token",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "ArcGIS token for authentication"
          },
          {
            "name": "location",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Point location (x,y) or JSON point object"
          },
          {
            "name": "outSR",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Output spatial reference WKID"
          },
          {
            "name": "langCode",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Language code for results"
          },
          {
            "name": "locationType",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "street",
                "rooftop"
              ]
            },
            "description": "Location type preference"
          },
          {
            "name": "featureTypes",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Feature types to return"
          },
          {
            "name": "returnIntersection",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "Return nearest intersection"
          }
        ],
        "responses": {
          "200": {
            "description": "Reverse geocode result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReverseGeocodeResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/suggest": {
      "get": {
        "operationId": "suggest",
        "summary": "Suggest locations",
        "description": "Provide location suggestions as a user types. Returns text and magicKey for use with findAddressCandidates.",
        "tags": [
          "Geocoding"
        ],
        "parameters": [
          {
            "name": "f",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "pjson"
              ],
              "default": "json"
            },
            "description": "Response format"
          },
          {
            "name": "token",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "ArcGIS token for authentication"
          },
          {
            "name": "text",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Search text"
          },
          {
            "name": "location",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Preferred center point (x,y)"
          },
          {
            "name": "distance",
            "in": "query",
            "schema": {
              "type": "number"
            },
            "description": "Search radius in meters"
          },
          {
            "name": "category",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Category filter"
          },
          {
            "name": "countryCode",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Country code filter"
          },
          {
            "name": "maxSuggestions",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 5
            },
            "description": "Maximum number of suggestions"
          }
        ],
        "responses": {
          "200": {
            "description": "Suggestions list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuggestResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/geocodeAddresses": {
      "post": {
        "operationId": "geocodeAddresses",
        "summary": "Batch geocode addresses",
        "description": "Geocode a batch of addresses in a single request. Requires token authentication.",
        "tags": [
          "Geocoding"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "addresses",
                  "f"
                ],
                "properties": {
                  "addresses": {
                    "type": "string",
                    "description": "JSON object with records array of address objects"
                  },
                  "token": {
                    "type": "string"
                  },
                  "f": {
                    "type": "string",
                    "default": "json"
                  },
                  "category": {
                    "type": "string"
                  },
                  "outSR": {
                    "type": "integer"
                  },
                  "sourceCountry": {
                    "type": "string"
                  },
                  "locationType": {
                    "type": "string",
                    "enum": [
                      "street",
                      "rooftop"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Batch geocode results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/sharing/rest/generateToken": {
      "post": {
        "operationId": "generateToken",
        "summary": "Generate authentication token",
        "description": "Generate an authentication token for accessing secured ArcGIS resources.",
        "tags": [
          "Portal"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "username",
                  "password",
                  "referer",
                  "f"
                ],
                "properties": {
                  "username": {
                    "type": "string"
                  },
                  "password": {
                    "type": "string"
                  },
                  "referer": {
                    "type": "string"
                  },
                  "client": {
                    "type": "string",
                    "enum": [
                      "referer",
                      "ip",
                      "requestip"
                    ]
                  },
                  "expiration": {
                    "type": "integer",
                    "description": "Token expiration in minutes"
                  },
                  "f": {
                    "type": "string",
                    "default": "json"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Token generated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "token": {
                      "type": "string"
                    },
                    "expires": {
                      "type": "integer"
                    },
                    "ssl": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/sharing/rest/content/users/{username}": {
      "get": {
        "operationId": "getUserContent",
        "summary": "Get user content",
        "description": "Lists the content items owned by the specified user.",
        "tags": [
          "Portal"
        ],
        "parameters": [
          {
            "name": "username",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "f",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "pjson"
              ],
              "default": "json"
            },
            "description": "Response format"
          },
          {
            "name": "token",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "ArcGIS token for authentication"
          },
          {
            "name": "start",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "num",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 10
            }
          },
          {
            "name": "sortField",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sortOrder",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User content list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/sharing/rest/search": {
      "get": {
        "operationId": "searchPortal",
        "summary": "Search ArcGIS Online content",
        "description": "Search for items, groups, or users in ArcGIS Online.",
        "tags": [
          "Portal"
        ],
        "parameters": [
          {
            "name": "f",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "pjson"
              ],
              "default": "json"
            },
            "description": "Response format"
          },
          {
            "name": "token",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "ArcGIS token for authentication"
          },
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Search query"
          },
          {
            "name": "start",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "num",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 10
            }
          },
          {
            "name": "sortField",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sortOrder",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Search results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/sharing/rest/community/self": {
      "get": {
        "operationId": "getSelf",
        "summary": "Get current user info",
        "description": "Returns information about the currently authenticated user.",
        "tags": [
          "Portal"
        ],
        "parameters": [
          {
            "name": "f",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "pjson"
              ],
              "default": "json"
            },
            "description": "Response format"
          },
          {
            "name": "token",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "ArcGIS token for authentication"
          }
        ],
        "responses": {
          "200": {
            "description": "User info",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "GeocodeResponse": {
        "type": "object",
        "properties": {
          "spatialReference": {
            "type": "object",
            "properties": {
              "wkid": {
                "type": "integer"
              },
              "latestWkid": {
                "type": "integer"
              }
            }
          },
          "candidates": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "address": {
                  "type": "string"
                },
                "location": {
                  "type": "object",
                  "properties": {
                    "x": {
                      "type": "number"
                    },
                    "y": {
                      "type": "number"
                    }
                  }
                },
                "score": {
                  "type": "number"
                },
                "attributes": {
                  "type": "object"
                },
                "extent": {
                  "type": "object",
                  "properties": {
                    "xmin": {
                      "type": "number"
                    },
                    "ymin": {
                      "type": "number"
                    },
                    "xmax": {
                      "type": "number"
                    },
                    "ymax": {
                      "type": "number"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "ReverseGeocodeResponse": {
        "type": "object",
        "properties": {
          "address": {
            "type": "object",
            "properties": {
              "Match_addr": {
                "type": "string"
              },
              "LongLabel": {
                "type": "string"
              },
              "ShortLabel": {
                "type": "string"
              },
              "Addr_type": {
                "type": "string"
              },
              "Type": {
                "type": "string"
              },
              "PlaceName": {
                "type": "string"
              },
              "City": {
                "type": "string"
              },
              "Region": {
                "type": "string"
              },
              "Postal": {
                "type": "string"
              },
              "CountryCode": {
                "type": "string"
              }
            }
          },
          "location": {
            "type": "object",
            "properties": {
              "x": {
                "type": "number"
              },
              "y": {
                "type": "number"
              },
              "spatialReference": {
                "type": "object",
                "properties": {
                  "wkid": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        }
      },
      "SuggestResponse": {
        "type": "object",
        "properties": {
          "suggestions": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "text": {
                  "type": "string"
                },
                "magicKey": {
                  "type": "string"
                },
                "isCollection": {
                  "type": "boolean"
                }
              }
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "integer"
              },
              "message": {
                "type": "string"
              },
              "details": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    }
  }
}
