{
  "openapi": "3.0.3",
  "info": {
    "title": "SweatPals API",
    "description": "SweatPals is a social fitness platform for discovering, creating, and joining fitness events.",
    "version": "1.0.0",
    "contact": {
      "name": "SweatPals",
      "url": "https://sweatpals.com"
    },
    "x-jentic-source-url": "https://documenter.getpostman.com/view/12082530/2sA3BoZWqY"
  },
  "servers": [
    {
      "url": "https://ilove.sweatpals.com/api",
      "description": "SweatPals Production API"
    }
  ],
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "paths": {
    "/auth/signin/as-user": {
      "post": {
        "summary": "Sign in as user",
        "operationId": "signInAsUser",
        "tags": [
          "Auth"
        ],
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "login"
                ],
                "properties": {
                  "login": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthResponse"
                }
              }
            }
          }
        },
        "description": "Sign in as user"
      }
    },
    "/auth/refresh": {
      "post": {
        "summary": "Refresh token",
        "operationId": "refreshToken",
        "tags": [
          "Auth"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "refresh_token": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "description": "Refresh token"
      }
    },
    "/auth/signup/phone": {
      "post": {
        "summary": "Sign up with phone",
        "operationId": "signUpPhone",
        "tags": [
          "Auth"
        ],
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "phone": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Verification sent."
          }
        },
        "description": "Sign up with phone"
      }
    },
    "/auth/signup/phone/verification": {
      "post": {
        "summary": "Verify phone",
        "operationId": "verifyPhone",
        "tags": [
          "Auth"
        ],
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "phone": {
                    "type": "string"
                  },
                  "code": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Verified.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthResponse"
                }
              }
            }
          }
        },
        "description": "Verify phone"
      }
    },
    "/auth/logout": {
      "post": {
        "summary": "Logout",
        "operationId": "logout",
        "tags": [
          "Auth"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "description": "Logout"
      }
    },
    "/auth/google": {
      "post": {
        "summary": "Google auth",
        "operationId": "googleAuth",
        "tags": [
          "Auth"
        ],
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "token": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "description": "Google auth"
      }
    },
    "/auth/apple": {
      "post": {
        "summary": "Apple auth",
        "operationId": "appleAuth",
        "tags": [
          "Auth"
        ],
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "token": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "description": "Apple auth"
      }
    },
    "/auth/v2/token/email-and-password": {
      "post": {
        "summary": "Get token with email/password",
        "operationId": "getTokenEmailPassword",
        "tags": [
          "Auth"
        ],
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string"
                  },
                  "password": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "description": "Get token with email/password"
      }
    },
    "/auth/v2/signin": {
      "post": {
        "summary": "Sign in with token v2",
        "operationId": "signInWithToken",
        "tags": [
          "Auth"
        ],
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "token": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "description": "Sign in with token v2"
      }
    },
    "/chats": {
      "get": {
        "summary": "List chats",
        "operationId": "listChats",
        "tags": [
          "Chats"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "description": "List chats"
      }
    },
    "/chats/{id}": {
      "get": {
        "summary": "Get chat",
        "operationId": "getChat",
        "tags": [
          "Chats"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "description": "Get chat"
      }
    },
    "/chats/{id}/messages": {
      "get": {
        "summary": "Get messages",
        "operationId": "getChatMessages",
        "tags": [
          "Chats"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "from",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "markMessagesAsRead",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "description": "Get messages"
      },
      "post": {
        "summary": "Send message",
        "operationId": "createMessage",
        "tags": [
          "Chats"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "text": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Sent."
          }
        },
        "description": "Send message"
      }
    },
    "/chats/user/{userId}": {
      "get": {
        "summary": "Find private chat",
        "operationId": "findPrivateChat",
        "tags": [
          "Chats"
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "description": "Find private chat"
      },
      "post": {
        "summary": "Create private chat",
        "operationId": "createPrivateChat",
        "tags": [
          "Chats"
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created."
          }
        },
        "description": "Create private chat"
      }
    },
    "/chats/group": {
      "post": {
        "summary": "Create group chat",
        "operationId": "createGroupChat",
        "tags": [
          "Chats"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "userIds": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "uuid"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created."
          }
        },
        "description": "Create group chat"
      }
    },
    "/chats/unread/count": {
      "get": {
        "summary": "Unread chats count",
        "operationId": "getUnreadChatsCount",
        "tags": [
          "Chats"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "description": "Unread chats count"
      }
    },
    "/events": {
      "post": {
        "summary": "Create event",
        "operationId": "createEvent",
        "tags": [
          "Events"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EventInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created."
          }
        },
        "description": "Create event"
      }
    },
    "/events/{eventId}": {
      "get": {
        "summary": "Get event",
        "operationId": "getEvent",
        "tags": [
          "Events"
        ],
        "parameters": [
          {
            "name": "eventId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "description": "Get event"
      },
      "put": {
        "summary": "Update event",
        "operationId": "updateEvent",
        "tags": [
          "Events"
        ],
        "parameters": [
          {
            "name": "eventId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EventInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "description": "Update event"
      },
      "delete": {
        "summary": "Delete event",
        "operationId": "deleteEvent",
        "tags": [
          "Events"
        ],
        "parameters": [
          {
            "name": "eventId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "instance",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "type",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "description": "Delete event"
      }
    },
    "/events/search": {
      "post": {
        "summary": "Search events",
        "operationId": "searchEvents",
        "tags": [
          "Events"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "description": "Search events"
      }
    },
    "/events/public/search": {
      "post": {
        "summary": "Public search",
        "operationId": "publicSearchEvents",
        "tags": [
          "Events"
        ],
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "description": "Public search"
      }
    },
    "/events/{id}/join": {
      "post": {
        "summary": "Join event",
        "operationId": "joinEvent",
        "tags": [
          "Events"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "type",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "instance",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "description": "Join event"
      }
    },
    "/events/{id}/leave": {
      "delete": {
        "summary": "Leave event",
        "operationId": "leaveEvent",
        "tags": [
          "Events"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "type",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "instance",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "description": "Leave event"
      }
    },
    "/events/{id}/invite": {
      "post": {
        "summary": "Invite users",
        "operationId": "inviteUsers",
        "tags": [
          "Events"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "userIds": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "uuid"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "description": "Invite users"
      }
    },
    "/events/{id}/invite/answer": {
      "put": {
        "summary": "Answer invitation",
        "operationId": "answerInvitation",
        "tags": [
          "Events"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "answer": {
                    "type": "string",
                    "enum": [
                      "accept",
                      "decline"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "description": "Answer invitation"
      }
    },
    "/events/{eventId}/participants": {
      "get": {
        "summary": "Get participants",
        "operationId": "getParticipants",
        "tags": [
          "Events"
        ],
        "parameters": [
          {
            "name": "eventId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "instance",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "description": "Get participants"
      }
    },
    "/events/{eventId}/instance/{instance}": {
      "get": {
        "summary": "Get event instance",
        "operationId": "getEventInstance",
        "tags": [
          "Events"
        ],
        "parameters": [
          {
            "name": "eventId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "instance",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "description": "Get event instance"
      }
    },
    "/events/privacy-types": {
      "get": {
        "summary": "Get privacy types",
        "operationId": "getPrivacyTypes",
        "tags": [
          "Events"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "description": "Get privacy types"
      }
    },
    "/events/categories": {
      "post": {
        "summary": "Get categories",
        "operationId": "getCategories",
        "tags": [
          "Events"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "description": "Get categories"
      }
    },
    "/events/available-cities": {
      "get": {
        "summary": "Get cities",
        "operationId": "getAvailableCities",
        "tags": [
          "Events"
        ],
        "parameters": [
          {
            "name": "hostId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "description": "Get cities"
      }
    },
    "/connections/{userId}/followers": {
      "get": {
        "summary": "Get followers",
        "operationId": "getFollowers",
        "tags": [
          "Social Connections"
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "isMutual",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "description": "Get followers"
      }
    },
    "/connections/{userId}/subscriptions": {
      "get": {
        "summary": "Get subscriptions",
        "operationId": "getSubscriptions",
        "tags": [
          "Social Connections"
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "description": "Get subscriptions"
      }
    },
    "/connections/{userId}/followers/count": {
      "get": {
        "summary": "Get follower count",
        "operationId": "getFollowerCount",
        "tags": [
          "Social Connections"
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "description": "Get follower count"
      }
    },
    "/past-events": {
      "post": {
        "summary": "Create past event",
        "operationId": "createPastEvent",
        "tags": [
          "Past Events"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created."
          }
        },
        "description": "Create past event"
      }
    },
    "/past-events/{id}": {
      "get": {
        "summary": "Get past event",
        "operationId": "getPastEvent",
        "tags": [
          "Past Events"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "description": "Get past event"
      }
    },
    "/past-events/journal/{userId}": {
      "get": {
        "summary": "Get journal",
        "operationId": "getUserJournal",
        "tags": [
          "Past Events"
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "includeFiles",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "description": "Get journal"
      }
    },
    "/past-events/journal/search": {
      "post": {
        "summary": "Search journal",
        "operationId": "searchJournal",
        "tags": [
          "Past Events"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "description": "Search journal"
      }
    },
    "/past-events/{id}/add-to-journal": {
      "post": {
        "summary": "Add to journal",
        "operationId": "addToJournal",
        "tags": [
          "Past Events"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "description": "Add to journal"
      }
    },
    "/past-events/unseen/count": {
      "get": {
        "summary": "Unseen count",
        "operationId": "unseenCount",
        "tags": [
          "Past Events"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "description": "Unseen count"
      }
    },
    "/past-events/{id}/upload": {
      "post": {
        "summary": "Upload file",
        "operationId": "uploadFile",
        "tags": [
          "Past Events"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "description": "Upload file"
      }
    },
    "/files/{id}": {
      "get": {
        "summary": "Get file",
        "operationId": "getFile",
        "tags": [
          "Files"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "preview",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "description": "Get file"
      }
    },
    "/users/me": {
      "get": {
        "summary": "Get current user",
        "operationId": "getCurrentUser",
        "tags": [
          "Users"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "description": "Get current user"
      },
      "put": {
        "summary": "Update profile",
        "operationId": "updateProfile",
        "tags": [
          "Users"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "description": "Update profile"
      }
    },
    "/users/{id}": {
      "get": {
        "summary": "Get user",
        "operationId": "getUser",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "description": "Get user"
      }
    },
    "/notifications": {
      "get": {
        "summary": "Get notifications",
        "operationId": "getNotifications",
        "tags": [
          "Notifications"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "description": "Get notifications"
      }
    },
    "/notifications/unread/count": {
      "get": {
        "summary": "Unread count",
        "operationId": "unreadNotifications",
        "tags": [
          "Notifications"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "description": "Unread count"
      }
    },
    "/payments/setup-intent": {
      "post": {
        "summary": "Create setup intent",
        "operationId": "createSetupIntent",
        "tags": [
          "Payments"
        ],
        "responses": {
          "201": {
            "description": "Created."
          }
        },
        "description": "Create setup intent"
      }
    },
    "/payments/methods": {
      "get": {
        "summary": "Get payment methods",
        "operationId": "getPaymentMethods",
        "tags": [
          "Payments"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "description": "Get payment methods"
      }
    },
    "/memberships/plans": {
      "get": {
        "summary": "List plans",
        "operationId": "listPlans",
        "tags": [
          "Memberships"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "description": "List plans"
      }
    },
    "/memberships/subscribe": {
      "post": {
        "summary": "Subscribe",
        "operationId": "subscribe",
        "tags": [
          "Memberships"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "planId": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "description": "Subscribe"
      }
    },
    "/health": {
      "get": {
        "summary": "Health check",
        "operationId": "healthCheck",
        "tags": [
          "Health"
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "description": "Health check"
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "JWT access token."
      }
    },
    "schemas": {
      "AuthResponse": {
        "type": "object",
        "properties": {
          "access_token": {
            "type": "string"
          },
          "refresh_token": {
            "type": "string"
          }
        }
      },
      "Event": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "hostId": {
            "type": "string",
            "format": "uuid"
          },
          "startDate": {
            "type": "string",
            "format": "date-time"
          },
          "endDate": {
            "type": "string",
            "format": "date-time"
          },
          "location": {
            "type": "object"
          },
          "privacyType": {
            "type": "string"
          },
          "maxParticipants": {
            "type": "integer"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "EventInput": {
        "type": "object",
        "required": [
          "title",
          "startDate"
        ],
        "properties": {
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "startDate": {
            "type": "string",
            "format": "date-time"
          },
          "endDate": {
            "type": "string",
            "format": "date-time"
          },
          "location": {
            "type": "object"
          },
          "privacyType": {
            "type": "string"
          },
          "maxParticipants": {
            "type": "integer"
          },
          "fitnessTypeId": {
            "type": "string",
            "format": "uuid"
          }
        }
      },
      "Chat": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "type": {
            "type": "string",
            "enum": [
              "private",
              "group"
            ]
          },
          "name": {
            "type": "string"
          },
          "unreadCount": {
            "type": "integer"
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Auth"
    },
    {
      "name": "Events"
    },
    {
      "name": "Chats"
    },
    {
      "name": "Social Connections"
    },
    {
      "name": "Past Events"
    },
    {
      "name": "Files"
    },
    {
      "name": "Users"
    },
    {
      "name": "Notifications"
    },
    {
      "name": "Payments"
    },
    {
      "name": "Memberships"
    },
    {
      "name": "Health"
    }
  ]
}
