{
  "openapi": "3.0.3",
  "info": {
    "title": "Trav11WebService",
    "version": "1.0.0",
    "contact": {},
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/midis/Trav11WebService/1.0.0"
  },
  "servers": [
    {
      "url": "https://erptrvksa.midisglobal.com"
    }
  ],
  "paths": {
    "/api/SOOrders": {
      "post": {
        "tags": [
          "SOOrders"
        ],
        "summary": "SOOrders",
        "description": "SOOrders",
        "operationId": "soorders",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "ApprovedRMAYN": {
                      "type": "boolean",
                      "example": false
                    },
                    "ArubaStatus": {
                      "nullable": true,
                      "example": null
                    },
                    "AutoPickYN": {
                      "type": "boolean",
                      "example": true
                    },
                    "BatchId": {
                      "type": "string",
                      "example": "WBatch"
                    },
                    "CompId": {
                      "type": "string",
                      "example": "THD"
                    },
                    "CreateNewLoc": {
                      "type": "boolean",
                      "example": false
                    },
                    "CurrencyCode": {
                      "type": "string",
                      "example": "USD"
                    },
                    "CustClassCode": {
                      "nullable": true,
                      "example": null
                    },
                    "CustLevel": {
                      "nullable": true,
                      "example": null
                    },
                    "CustPONum": {
                      "type": "string",
                      "example": "1232151712-R"
                    },
                    "CustReference": {
                      "nullable": true,
                      "example": null
                    },
                    "Customer": {
                      "type": "string",
                      "example": "00112"
                    },
                    "DEPCustomerId": {
                      "nullable": true,
                      "example": null
                    },
                    "Detail": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "AddNewYN": {
                            "type": "boolean",
                            "example": false
                          },
                          "AddlDescr": {
                            "nullable": true,
                            "example": null
                          },
                          "AutoGenPOYN": {
                            "nullable": true,
                            "example": null
                          },
                          "CostBase": {
                            "type": "number",
                            "example": 0
                          },
                          "CostFgn": {
                            "type": "number",
                            "example": 0
                          },
                          "DefEndDate": {
                            "nullable": true,
                            "example": null
                          },
                          "DefStartDate": {
                            "nullable": true,
                            "example": null
                          },
                          "DiscountAmtBase": {
                            "type": "number",
                            "example": 0
                          },
                          "DiscountAmtFgn": {
                            "type": "number",
                            "example": 0
                          },
                          "DtlINAcctCode": {
                            "nullable": true,
                            "example": null
                          },
                          "EntryNum": {
                            "type": "number",
                            "example": 1
                          },
                          "FreeOfCharge": {
                            "type": "boolean",
                            "example": false
                          },
                          "GLSalesAcct": {
                            "nullable": true,
                            "example": null
                          },
                          "ItemDesc": {
                            "type": "string",
                            "example": "ar-DOKUNMAYIN PCA Attribute - ar-Siyah"
                          },
                          "ItemId": {
                            "type": "string",
                            "example": "sa65a0848d83ee4"
                          },
                          "PriceBase": {
                            "type": "number",
                            "example": 6
                          },
                          "PriceFgn": {
                            "type": "number",
                            "example": 6
                          },
                          "Priority": {
                            "nullable": true,
                            "example": null
                          },
                          "Qty": {
                            "type": "number",
                            "example": 1
                          },
                          "ReqShipDate": {
                            "type": "string",
                            "example": "2025-11-19T06:43:16.182054Z"
                          },
                          "SFId": {
                            "nullable": true,
                            "example": null
                          },
                          "SFItemType": {
                            "nullable": true,
                            "example": null
                          },
                          "SalesCOGSAcct": {
                            "nullable": true,
                            "example": null
                          },
                          "TotalQty": {
                            "type": "number",
                            "example": 0
                          },
                          "WhseId": {
                            "nullable": true,
                            "example": null
                          }
                        }
                      },
                      "example": [
                        {
                          "AddNewYN": false,
                          "AddlDescr": null,
                          "AutoGenPOYN": null,
                          "CostBase": 0,
                          "CostFgn": 0,
                          "DefEndDate": null,
                          "DefStartDate": null,
                          "DiscountAmtBase": 0,
                          "DiscountAmtFgn": 0,
                          "DtlINAcctCode": null,
                          "EntryNum": 1,
                          "FreeOfCharge": false,
                          "GLSalesAcct": null,
                          "ItemDesc": "ar-DOKUNMAYIN PCA Attribute - ar-Siyah",
                          "ItemId": "sa65a0848d83ee4",
                          "PriceBase": 6,
                          "PriceFgn": 6,
                          "Priority": null,
                          "Qty": 1,
                          "ReqShipDate": "2025-11-19T06:43:16.182054Z",
                          "SFId": null,
                          "SFItemType": null,
                          "SalesCOGSAcct": null,
                          "TotalQty": 0,
                          "WhseId": null
                        }
                      ]
                    },
                    "DistCode": {
                      "nullable": true,
                      "example": null
                    },
                    "EndUser": {
                      "nullable": true,
                      "example": null
                    },
                    "INAcctCode": {
                      "nullable": true,
                      "example": null
                    },
                    "InterCompId": {
                      "nullable": true,
                      "example": null
                    },
                    "IsInterCompCall": {
                      "type": "boolean",
                      "example": false
                    },
                    "Notes": {
                      "nullable": true,
                      "example": null
                    },
                    "OrderCateg": {
                      "nullable": true,
                      "example": null
                    },
                    "PFRExclRem": {
                      "nullable": true,
                      "example": null
                    },
                    "POOrderId": {
                      "nullable": true,
                      "example": null
                    },
                    "PartnerName": {
                      "nullable": true,
                      "example": null
                    },
                    "PartnerStatus": {
                      "nullable": true,
                      "example": null
                    },
                    "PmtAmtFgn": {
                      "type": "number",
                      "example": 0
                    },
                    "PostDEP": {
                      "type": "boolean",
                      "example": false
                    },
                    "RMAYN": {
                      "type": "boolean",
                      "example": true
                    },
                    "Reference": {
                      "type": "string",
                      "example": "1232151712-R"
                    },
                    "ReqShipDate": {
                      "type": "string",
                      "example": "2025-11-19T06:43:16.182054Z"
                    },
                    "SOOrderId": {
                      "nullable": true,
                      "example": null
                    },
                    "ShipNum": {
                      "type": "string",
                      "example": "2205466456"
                    },
                    "ShipTo": {
                      "type": "object",
                      "properties": {
                        "Addr1": {
                          "type": "string",
                          "example": "String"
                        },
                        "Addr2": {
                          "type": "string",
                          "example": ""
                        },
                        "Attn": {
                          "nullable": true,
                          "example": null
                        },
                        "City": {
                          "type": "string",
                          "example": "Sharjah"
                        },
                        "Country": {
                          "type": "string",
                          "example": "SAU"
                        },
                        "Email": {
                          "nullable": true,
                          "example": null
                        },
                        "Fax": {
                          "nullable": true,
                          "example": null
                        },
                        "Id": {
                          "type": "string",
                          "example": "17309160"
                        },
                        "Name": {
                          "type": "string",
                          "example": "CustomerName CustomerSurname"
                        },
                        "Phone1": {
                          "nullable": true,
                          "example": null
                        },
                        "Phone2": {
                          "nullable": true,
                          "example": null
                        },
                        "Postal": {
                          "nullable": true,
                          "example": null
                        },
                        "Region": {
                          "type": "string",
                          "example": ""
                        },
                        "ShortAddress": {
                          "type": "string",
                          "example": "RERA6601"
                        }
                      }
                    },
                    "Srep1": {
                      "nullable": true,
                      "example": null
                    },
                    "Srep2": {
                      "nullable": true,
                      "example": null
                    },
                    "TaxGrpId": {
                      "nullable": true,
                      "example": null
                    },
                    "TaxableYN": {
                      "type": "boolean",
                      "example": false
                    },
                    "TermsCode": {
                      "nullable": true,
                      "example": null
                    },
                    "TotTaxBase": {
                      "type": "number",
                      "example": 0
                    },
                    "TotTaxFgn": {
                      "type": "number",
                      "example": 0
                    },
                    "TransDate": {
                      "type": "string",
                      "example": "2025-11-19T06:43:16.182054Z"
                    },
                    "VendPONum": {
                      "nullable": true,
                      "example": null
                    },
                    "WSExists": {
                      "type": "boolean",
                      "example": false
                    }
                  }
                },
                "example": [
                  {
                    "ApprovedRMAYN": false,
                    "ArubaStatus": null,
                    "AutoPickYN": true,
                    "BatchId": "WBatch",
                    "CompId": "THD",
                    "CreateNewLoc": false,
                    "CurrencyCode": "USD",
                    "CustClassCode": null,
                    "CustLevel": null,
                    "CustPONum": "1232151712-R",
                    "CustReference": null,
                    "Customer": "00112",
                    "DEPCustomerId": null,
                    "Detail": [
                      {
                        "AddNewYN": false,
                        "AddlDescr": null,
                        "AutoGenPOYN": null,
                        "CostBase": 0,
                        "CostFgn": 0,
                        "DefEndDate": null,
                        "DefStartDate": null,
                        "DiscountAmtBase": 0,
                        "DiscountAmtFgn": 0,
                        "DtlINAcctCode": null,
                        "EntryNum": 1,
                        "FreeOfCharge": false,
                        "GLSalesAcct": null,
                        "ItemDesc": "ar-DOKUNMAYIN PCA Attribute - ar-Siyah",
                        "ItemId": "sa65a0848d83ee4",
                        "PriceBase": 6,
                        "PriceFgn": 6,
                        "Priority": null,
                        "Qty": 1,
                        "ReqShipDate": "2025-11-19T06:43:16.182054Z",
                        "SFId": null,
                        "SFItemType": null,
                        "SalesCOGSAcct": null,
                        "TotalQty": 0,
                        "WhseId": null
                      }
                    ],
                    "DistCode": null,
                    "EndUser": null,
                    "INAcctCode": null,
                    "InterCompId": null,
                    "IsInterCompCall": false,
                    "Notes": null,
                    "OrderCateg": null,
                    "PFRExclRem": null,
                    "POOrderId": null,
                    "PartnerName": null,
                    "PartnerStatus": null,
                    "PmtAmtFgn": 0,
                    "PostDEP": false,
                    "RMAYN": true,
                    "Reference": "1232151712-R",
                    "ReqShipDate": "2025-11-19T06:43:16.182054Z",
                    "SOOrderId": null,
                    "ShipNum": "2205466456",
                    "ShipTo": {
                      "Addr1": "String",
                      "Addr2": "",
                      "Attn": null,
                      "City": "Sharjah",
                      "Country": "SAU",
                      "Email": null,
                      "Fax": null,
                      "Id": "17309160",
                      "Name": "CustomerName CustomerSurname",
                      "Phone1": null,
                      "Phone2": null,
                      "Postal": null,
                      "Region": "",
                      "ShortAddress": "RERA6601"
                    },
                    "Srep1": null,
                    "Srep2": null,
                    "TaxGrpId": null,
                    "TaxableYN": false,
                    "TermsCode": null,
                    "TotTaxBase": 0,
                    "TotTaxFgn": 0,
                    "TransDate": "2025-11-19T06:43:16.182054Z",
                    "VendPONum": null,
                    "WSExists": false
                  }
                ]
              },
              "examples": {
                "SOOrders": {
                  "value": [
                    {
                      "ApprovedRMAYN": false,
                      "ArubaStatus": null,
                      "AutoPickYN": true,
                      "BatchId": "WBatch",
                      "CompId": "THD",
                      "CreateNewLoc": false,
                      "CurrencyCode": "USD",
                      "CustClassCode": null,
                      "CustLevel": null,
                      "CustPONum": "1232151712-R",
                      "CustReference": null,
                      "Customer": "00112",
                      "DEPCustomerId": null,
                      "Detail": [
                        {
                          "AddNewYN": false,
                          "AddlDescr": null,
                          "AutoGenPOYN": null,
                          "CostBase": 0,
                          "CostFgn": 0,
                          "DefEndDate": null,
                          "DefStartDate": null,
                          "DiscountAmtBase": 0,
                          "DiscountAmtFgn": 0,
                          "DtlINAcctCode": null,
                          "EntryNum": 1,
                          "FreeOfCharge": false,
                          "GLSalesAcct": null,
                          "ItemDesc": "ar-DOKUNMAYIN PCA Attribute - ar-Siyah",
                          "ItemId": "sa65a0848d83ee4",
                          "PriceBase": 6,
                          "PriceFgn": 6,
                          "Priority": null,
                          "Qty": 1,
                          "ReqShipDate": "2025-11-19T06:43:16.182054Z",
                          "SFId": null,
                          "SFItemType": null,
                          "SalesCOGSAcct": null,
                          "TotalQty": 0,
                          "WhseId": null
                        }
                      ],
                      "DistCode": null,
                      "EndUser": null,
                      "INAcctCode": null,
                      "InterCompId": null,
                      "IsInterCompCall": false,
                      "Notes": null,
                      "OrderCateg": null,
                      "PFRExclRem": null,
                      "POOrderId": null,
                      "PartnerName": null,
                      "PartnerStatus": null,
                      "PmtAmtFgn": 0,
                      "PostDEP": false,
                      "RMAYN": true,
                      "Reference": "1232151712-R",
                      "ReqShipDate": "2025-11-19T06:43:16.182054Z",
                      "SOOrderId": null,
                      "ShipNum": "2205466456",
                      "ShipTo": {
                        "Addr1": "String",
                        "Addr2": "",
                        "Attn": null,
                        "City": "Sharjah",
                        "Country": "SAU",
                        "Email": null,
                        "Fax": null,
                        "Id": "17309160",
                        "Name": "CustomerName CustomerSurname",
                        "Phone1": null,
                        "Phone2": null,
                        "Postal": null,
                        "Region": "",
                        "ShortAddress": "RERA6601"
                      },
                      "Srep1": null,
                      "Srep2": null,
                      "TaxGrpId": null,
                      "TaxableYN": false,
                      "TermsCode": null,
                      "TotTaxBase": 0,
                      "TotTaxFgn": 0,
                      "TransDate": "2025-11-19T06:43:16.182054Z",
                      "VendPONum": null,
                      "WSExists": false
                    }
                  ]
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "CompId": {
                        "type": "string"
                      },
                      "Reference": {
                        "type": "string"
                      },
                      "SOOrderId": {
                        "type": "string"
                      },
                      "IncoTerm": {
                        "type": "string"
                      },
                      "CustName": {
                        "type": "string"
                      },
                      "Address1": {
                        "type": "string"
                      },
                      "Address2": {
                        "type": "string"
                      },
                      "City": {
                        "type": "string"
                      },
                      "Region": {
                        "type": "string"
                      },
                      "Phone": {
                        "type": "null"
                      },
                      "Fax": {
                        "type": "null"
                      },
                      "Attention": {
                        "type": "string"
                      },
                      "POOrderId": {
                        "type": "string"
                      },
                      "Country": {
                        "type": "string"
                      },
                      "TaxPayerNo": {
                        "type": "string"
                      },
                      "TotalBeforeTax": {
                        "type": "integer"
                      },
                      "TotalAfterTax": {
                        "type": "integer"
                      },
                      "SalesTax": {
                        "type": "integer"
                      },
                      "Detail": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "ItemId": {
                              "type": "string"
                            },
                            "WhseId": {
                              "type": "string"
                            },
                            "PriceExt": {
                              "type": "number"
                            },
                            "VATPercent": {
                              "type": "integer"
                            },
                            "VATAmount": {
                              "type": "integer"
                            },
                            "VATAmountBase": {
                              "type": "integer"
                            }
                          }
                        }
                      },
                      "Error": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "errorCode": {
                              "type": "string"
                            },
                            "errorDescription": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    }
                  },
                  "x-examples": {
                    "Example 1": [
                      {
                        "CompId": "THD",
                        "Reference": "1232151712-R",
                        "SOOrderId": "00008664",
                        "IncoTerm": "",
                        "CustName": "Usama",
                        "Address1": "TEST",
                        "Address2": "",
                        "City": "",
                        "Region": "Beirut",
                        "Phone": null,
                        "Fax": null,
                        "Attention": "",
                        "POOrderId": "",
                        "Country": "KUWAIT",
                        "TaxPayerNo": "BG0985674",
                        "TotalBeforeTax": 6,
                        "TotalAfterTax": 6,
                        "SalesTax": 0,
                        "Detail": [
                          {
                            "ItemId": "sa65a0848d83ee4",
                            "WhseId": "",
                            "PriceExt": 22.04,
                            "VATPercent": 0,
                            "VATAmount": 0,
                            "VATAmountBase": 0
                          }
                        ],
                        "Error": [
                          {
                            "errorCode": "",
                            "errorDescription": ""
                          }
                        ]
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "errorCode": {
                        "type": "string"
                      },
                      "errorMessage": {
                        "type": "string"
                      }
                    }
                  },
                  "x-examples": {
                    "Example 1": [
                      {
                        "errorCode": "WS_50000",
                        "errorMessage": "Json request is not in the proper format"
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string",
              "example": "Basic STk5OTk="
            },
            "in": "header",
            "name": "Authorization"
          }
        ]
      }
    },
    "/api/GetOMStockQty": {
      "post": {
        "tags": [
          "GetOMStockQty"
        ],
        "summary": "GetOMStockQty",
        "description": "GetOMStockQty",
        "operationId": "getomstockqty",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "CompId": {
                      "type": "string",
                      "example": "THD"
                    },
                    "ItemId": {
                      "type": "string",
                      "example": "IT1"
                    },
                    "LocId": {
                      "type": "string",
                      "example": "ARAMEX,New Aramex,RAJHI"
                    }
                  }
                },
                "example": [
                  {
                    "CompId": "THD",
                    "ItemId": "IT1",
                    "LocId": "ARAMEX,New Aramex,RAJHI"
                  }
                ]
              },
              "examples": {
                "GetOMStockQty": {
                  "value": [
                    {
                      "CompId": "THD",
                      "ItemId": "IT1",
                      "LocId": "ARAMEX,New Aramex,RAJHI"
                    }
                  ]
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "string"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "controller": {
                            "type": "string"
                          },
                          "errorCode": {
                            "type": "string"
                          },
                          "errorMessage": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "succeeded": {
                      "type": "boolean"
                    }
                  },
                  "x-examples": {
                    "Example 1": {
                      "data": "string",
                      "errors": [
                        {
                          "controller": "string",
                          "errorCode": "string",
                          "errorMessage": "string"
                        }
                      ],
                      "succeeded": true
                    }
                  }
                },
                "examples": {}
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "x-examples": {
                    "Example 1": {
                      "data": "string",
                      "errors": [
                        {
                          "controller": "string",
                          "errorCode": "string",
                          "errorMessage": "string"
                        }
                      ],
                      "succeeded": false
                    }
                  },
                  "properties": {
                    "data": {
                      "type": "string"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "controller": {
                            "type": "string"
                          },
                          "errorCode": {
                            "type": "string"
                          },
                          "errorMessage": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "succeeded": {
                      "type": "boolean"
                    }
                  }
                },
                "examples": {
                  "Example": {
                    "value": {
                      "data": "string",
                      "errors": [
                        {
                          "controller": "string",
                          "errorCode": "string",
                          "errorMessage": "string"
                        }
                      ],
                      "succeeded": false
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string",
              "example": "Basic STk5OTk="
            },
            "in": "header",
            "name": "Authorization"
          }
        ]
      }
    },
    "/api/ChkQtyAvailable": {
      "post": {
        "tags": [
          "ChkQtyAvailable"
        ],
        "summary": "ChkQtyAvailable",
        "description": "ChkQtyAvailable",
        "operationId": "chkqtyavailable",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "CompId": {
                    "type": "string",
                    "example": "THD"
                  },
                  "Item_Id": {
                    "type": "string",
                    "example": "IT1"
                  },
                  "Qty": {
                    "type": "number",
                    "example": 27335
                  },
                  "Whse_Id": {
                    "type": "string",
                    "example": "Berytech"
                  }
                }
              },
              "examples": {
                "ChkQtyAvailable": {
                  "value": {
                    "CompId": "THD",
                    "Item_Id": "IT1",
                    "Qty": 27335,
                    "Whse_Id": "Berytech"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "string"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "controller": {
                            "type": "string"
                          },
                          "errorCode": {
                            "type": "string"
                          },
                          "errorMessage": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "succeeded": {
                      "type": "boolean"
                    }
                  },
                  "x-examples": {
                    "Example 1": {
                      "data": "string",
                      "errors": [
                        {
                          "controller": "string",
                          "errorCode": "string",
                          "errorMessage": "string"
                        }
                      ],
                      "succeeded": true
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "string"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "controller": {
                            "type": "string"
                          },
                          "errorCode": {
                            "type": "string"
                          },
                          "errorMessage": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "succeeded": {
                      "type": "boolean"
                    }
                  },
                  "x-examples": {
                    "Example 1": {
                      "data": "string",
                      "errors": [
                        {
                          "controller": "string",
                          "errorCode": "string",
                          "errorMessage": "string"
                        }
                      ],
                      "succeeded": false
                    }
                  }
                },
                "examples": {
                  "Example": {
                    "value": {
                      "data": "string",
                      "errors": [
                        {
                          "controller": "string",
                          "errorCode": "string",
                          "errorMessage": "string"
                        }
                      ],
                      "succeeded": false
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string",
              "example": "Basic STk5OTk="
            },
            "in": "header",
            "name": "Authorization"
          }
        ]
      }
    }
  },
  "tags": []
}