{
  "openapi": "3.0.3",
  "info": {
    "title": "Vortex API",
    "version": "1.0.0",
    "description": "This API facilitates a chat platform based on WhatsApp, allowing users to send and receive text and media messages in private chats through designated endpoints. Additionally, users can retrieve the current status and screen of their session. Account-specific endpoints enable users to access information about products or registered phones, as well as to edit and remove these entries.\n",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/VORTEXAPIS_1/vortex-api/1.0.0"
  },
  "servers": [
    {
      "url": "https://api.vortexapis.com",
      "description": "Production"
    },
    {
      "url": "http://localhost:5000",
      "description": "Local development"
    }
  ],
  "tags": [
    {
      "name": "Auth"
    },
    {
      "name": "Messaging"
    },
    {
      "name": "WhatsApp"
    },
    {
      "name": "Announcements"
    },
    {
      "name": "Broadcasts"
    },
    {
      "name": "Blogs"
    },
    {
      "name": "Tickets"
    },
    {
      "name": "Payments"
    },
    {
      "name": "Company"
    },
    {
      "name": "Newsletter"
    },
    {
      "name": "Utilities"
    }
  ],
  "security": [
    {
      "authToken": []
    }
  ],
  "components": {
    "securitySchemes": {
      "authToken": {
        "type": "apiKey",
        "in": "header",
        "name": "auth-token"
      }
    },
    "schemas": {
      "ApiResponse": {
        "type": "object",
        "additionalProperties": true
      },
      "IdParam": {
        "type": "string",
        "example": "123"
      }
    }
  },
  "paths": {
    "/api/v1/auth/signup": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Sign up a new user",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name",
                  "username",
                  "email",
                  "mobile",
                  "password"
                ],
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "username": {
                    "type": "string"
                  },
                  "email": {
                    "type": "string",
                    "format": "email"
                  },
                  "mobile": {
                    "type": "string"
                  },
                  "password": {
                    "type": "string",
                    "format": "password"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/auth/login": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Login and receive token",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "username",
                  "password"
                ],
                "properties": {
                  "username": {
                    "type": "string"
                  },
                  "password": {
                    "type": "string",
                    "format": "password"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v1/auth/chkusername": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Check if username is available",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "username": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v1/auth/chkemail": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Check if email is available",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v1/auth/captcha": {
      "get": {
        "tags": [
          "Auth"
        ],
        "summary": "Get captcha",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v1/auth/rePass": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Request password reset",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "username": {
                    "type": "string",
                    "format": "email"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v1/auth/reset-password/{token}": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Reset password with token",
        "parameters": [
          {
            "in": "path",
            "name": "token",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "password": {
                    "type": "string",
                    "format": "password"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v1/auth/fetchUser": {
      "get": {
        "tags": [
          "Auth"
        ],
        "summary": "Fetch current user (requires auth-token)",
        "security": [
          {
            "authToken": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v1/message/send": {
      "post": {
        "tags": [
          "Messaging"
        ],
        "summary": "Send a message",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v1/message/checknumberstatus": {
      "post": {
        "tags": [
          "Messaging"
        ],
        "summary": "Check number status",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v1/message/receive": {
      "get": {
        "tags": [
          "Messaging"
        ],
        "summary": "Receive webhook/messages",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v1/dash/wa/createSession": {
      "post": {
        "tags": [
          "WhatsApp"
        ],
        "summary": "Create WhatsApp session",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v1/dash/wa/fetchInstance": {
      "post": {
        "tags": [
          "WhatsApp"
        ],
        "summary": "Fetch WhatsApp instance",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v1/dash/wa/createInstance": {
      "post": {
        "tags": [
          "WhatsApp"
        ],
        "summary": "Create WhatsApp instance",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v1/dash/wa/instanceGsheet": {
      "get": {
        "tags": [
          "WhatsApp"
        ],
        "summary": "Get instance Google Sheet mapping",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v1/dash/wa/updateGSheetID": {
      "post": {
        "tags": [
          "WhatsApp"
        ],
        "summary": "Update instance Google Sheet ID",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v1/dash/wa/removeGSheetID": {
      "post": {
        "tags": [
          "WhatsApp"
        ],
        "summary": "Remove instance Google Sheet ID",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v1/dash/announcement/view": {
      "post": {
        "tags": [
          "Announcements"
        ],
        "summary": "View announcements",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v1/dash/announcement/{id}": {
      "get": {
        "tags": [
          "Announcements"
        ],
        "summary": "Get announcement details",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/IdParam"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v1/dash/announcement/announceFiles/{filename}": {
      "get": {
        "tags": [
          "Announcements"
        ],
        "summary": "Get announcement file by filename",
        "parameters": [
          {
            "in": "path",
            "name": "filename",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "File stream"
          }
        }
      }
    },
    "/api/v1/dash/broadcast/view": {
      "post": {
        "tags": [
          "Broadcasts"
        ],
        "summary": "View broadcasts",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v1/dash/broadcast/{id}": {
      "get": {
        "tags": [
          "Broadcasts"
        ],
        "summary": "Get broadcast details",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/IdParam"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v1/dash/broadcast/broadcastFiles/{filename}": {
      "get": {
        "tags": [
          "Broadcasts"
        ],
        "summary": "Get broadcast file by filename",
        "parameters": [
          {
            "in": "path",
            "name": "filename",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "File stream"
          }
        }
      }
    },
    "/api/v1/blogs/view": {
      "get": {
        "tags": [
          "Blogs"
        ],
        "summary": "View blogs",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v1/blogs/details": {
      "post": {
        "tags": [
          "Blogs"
        ],
        "summary": "Blog details by payload",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v1/blogs/blogMedia/{filename}": {
      "get": {
        "tags": [
          "Blogs"
        ],
        "summary": "Get blog media file by filename",
        "parameters": [
          {
            "in": "path",
            "name": "filename",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "File stream"
          }
        }
      }
    },
    "/api/v1/dash/ticket/": {
      "get": {
        "tags": [
          "Tickets"
        ],
        "summary": "Ticket detail",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v1/dash/ticket/create": {
      "post": {
        "tags": [
          "Tickets"
        ],
        "summary": "Create ticket",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v1/dash/ticket/view": {
      "post": {
        "tags": [
          "Tickets"
        ],
        "summary": "View tickets",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v1/dash/ticket/reply": {
      "post": {
        "tags": [
          "Tickets"
        ],
        "summary": "Reply to a ticket",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v1/dash/ticket/close": {
      "post": {
        "tags": [
          "Tickets"
        ],
        "summary": "Close a ticket",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v1/dash/company/create": {
      "post": {
        "tags": [
          "Company"
        ],
        "summary": "Create company",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v1/dash/company/fetch": {
      "post": {
        "tags": [
          "Company"
        ],
        "summary": "Fetch company",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v1/newsletter/subscribe": {
      "post": {
        "tags": [
          "Newsletter"
        ],
        "summary": "Subscribe to newsletter",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v1/newsletter/unsubscribe": {
      "post": {
        "tags": [
          "Newsletter"
        ],
        "summary": "Unsubscribe from newsletter",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v1/newsletter/stats": {
      "get": {
        "tags": [
          "Newsletter"
        ],
        "summary": "Newsletter stats",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v1/newsletter/all": {
      "get": {
        "tags": [
          "Newsletter"
        ],
        "summary": "All newsletter subscriptions",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v1/mysql/fetchinstances": {
      "get": {
        "tags": [
          "Utilities"
        ],
        "summary": "Fetch instances (debug)",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v1/mysql/fetchuser": {
      "get": {
        "tags": [
          "Utilities"
        ],
        "summary": "Fetch users (debug)",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v1/mysql/fetchpayments": {
      "get": {
        "tags": [
          "Utilities"
        ],
        "summary": "Fetch payments (debug)",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    }
  }
}