{
  "openapi": "3.0.0",
  "info": {
    "title": "Load API",
    "description": "An API using POST, GET, PUT, PATCH, and DELETE requests for loads.",
    "contact": {
      "email": "PCS-OpenAPI@pcssoft.com"
    },
    "version": "1.0.0.0",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/PCS-Software-Inc/Load-API/1.0.0.0"
  },
  "servers": [
    {
      "url": "https://api.pcssoft.com/api/load"
    }
  ],
  "tags": [
    {
      "name": "load",
      "description": "Load Operations available to regular developers."
    }
  ],
  "paths": {
    "/": {
      "post": {
        "tags": [
          "developers"
        ],
        "summary": "Adding a Load",
        "description": "Adds a load record using a POST request.",
        "operationId": "add-load",
        "requestBody": {
          "description": "Load record to add.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/TruckLoad"
                  },
                  {
                    "$ref": "#/components/schemas/LessThanTruckLoad"
                  },
                  {
                    "$ref": "#/components/schemas/IntermodalLoad"
                  }
                ],
                "required": [
                  "Status",
                  "LoadClass"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The load record was created.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "LoadId": {
                      "type": "integer"
                    },
                    "Warnings": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid input or object invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Fault"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "developers"
        ],
        "summary": "Returning Loads",
        "description": "Returns load records using a GET request and search parameters. \n",
        "operationId": "get-loads",
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "description": "Load statuses. Use commas to separate if using multiple.",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "active",
                  "arrived",
                  "assigned",
                  "booked",
                  "brokered",
                  "cancelled",
                  "dispatched",
                  "dropped",
                  "enroute",
                  "moving",
                  "pending",
                  "possible",
                  "ready"
                ]
              }
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "Load types. Use commas to separate if using mutliple.",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "tl",
                  "ltl",
                  "intermodal"
                ]
              }
            }
          },
          {
            "name": "from",
            "in": "query",
            "description": "From DateReceived.",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "to",
            "in": "query",
            "description": "To DateReceived.",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "localtime",
            "in": "query",
            "description": "Use UTC or local time.",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "includestops",
            "in": "query",
            "description": "Include stops in the load results.",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "includerating",
            "in": "query",
            "description": "Include rating in the load results. When this option is set, a required date range of at most 30 days is required.",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Search filter returned a load(s).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "anyOf": [
                      {
                        "$ref": "#/components/schemas/TruckLoad"
                      },
                      {
                        "$ref": "#/components/schemas/LessThanTruckLoad"
                      },
                      {
                        "$ref": "#/components/schemas/IntermodalLoad"
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid input.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Fault"
                }
              }
            }
          },
          "404": {
            "description": "The resource was not found."
          }
        }
      }
    },
    "/{loadId}": {
      "put": {
        "tags": [
          "developers"
        ],
        "summary": "Updating a Load",
        "description": "Updates a load record using a PUT request.",
        "operationId": "update-load",
        "parameters": [
          {
            "name": "loadId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "description": "Updating a load record.",
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/TruckLoad"
                  },
                  {
                    "$ref": "#/components/schemas/LessThanTruckLoad"
                  },
                  {
                    "$ref": "#/components/schemas/IntermodalLoad"
                  }
                ],
                "required": [
                  "LoadId",
                  "Status",
                  "LoadClass"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The load record was updated.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "Warnings": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid input or object invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Fault"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "developers"
        ],
        "summary": "Cancelling a Load",
        "description": "Cancels a load using a DELETE request.",
        "operationId": "cancel-load",
        "parameters": [
          {
            "name": "loadId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The load record was cancelled."
          },
          "400": {
            "description": "The load cannot be cancelled due to it's status.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Fault"
                }
              }
            }
          },
          "404": {
            "description": "The resource was not found."
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Fault"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "developers"
        ],
        "summary": "Returning a Load",
        "description": "Returns a load record using a GET request.\n",
        "operationId": "get-load",
        "parameters": [
          {
            "name": "loadId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "localtime",
            "in": "query",
            "description": "Use UTC or local time.",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The load record(s) was returned.",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/TruckLoad"
                    },
                    {
                      "$ref": "#/components/schemas/LessThanTruckLoad"
                    },
                    {
                      "$ref": "#/components/schemas/IntermodalLoad"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "The load record was not found."
          }
        }
      },
      "patch": {
        "tags": [
          "developers"
        ],
        "summary": "Partial Update of a Load",
        "description": "Updating a load record using a PATCH request.\n",
        "operationId": "partial-update-load",
        "parameters": [
          {
            "name": "loadId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "description": "Inventory items available to be updated.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchRequest"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "The load record was updated."
          },
          "404": {
            "description": "The load record was not found."
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Office": {
        "type": "object",
        "required": [
          "Code"
        ],
        "properties": {
          "Code": {
            "type": "integer"
          }
        }
      },
      "TruckLoad": {
        "type": "object",
        "required": [
          "Status,",
          "LoadClass,",
          "Office"
        ],
        "properties": {
          "LoadId": {
            "type": "integer",
            "readOnly": true
          },
          "Status": {
            "type": "string",
            "enum": [
              "Active",
              "Arrived",
              "Assigned",
              "Booked",
              "Brokered",
              "Cancelled",
              "Dispatched",
              "Dropped",
              "Enroute",
              "Moving",
              "Pending",
              "Possible",
              "Ready"
            ]
          },
          "LoadClass": {
            "type": "string",
            "enum": [
              "TL"
            ]
          },
          "LoadType": {
            "type": "string",
            "maxLength": 15
          },
          "BillToId": {
            "type": "string",
            "maxLength": 15,
            "description": "Customer Code"
          },
          "BillToName": {
            "type": "string",
            "maxLength": 50,
            "description": "Customer Name"
          },
          "LoadReference": {
            "type": "string",
            "maxLength": 50,
            "description": "Customer's Load Number"
          },
          "BillingType": {
            "type": "string",
            "enum": [
              "P",
              "C",
              "B"
            ],
            "description": "P - Prepaid, C - Collect, B - BillTo"
          },
          "MilesBilled": {
            "type": "number",
            "format": "float"
          },
          "TotalWeight": {
            "type": "number",
            "format": "float"
          },
          "Pallets": {
            "type": "integer"
          },
          "Notes": {
            "type": "string",
            "maxLength": 4000
          },
          "Reference1": {
            "type": "string",
            "maxLength": 25
          },
          "Office": {
            "$ref": "#/components/schemas/Office"
          },
          "Rating": {
            "$ref": "#/components/schemas/LoadRating"
          },
          "Stops": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/LoadStop"
            }
          }
        }
      },
      "LessThanTruckLoad": {
        "type": "object",
        "required": [
          "Status",
          "LoadClass",
          "Office"
        ],
        "properties": {
          "LoadId": {
            "type": "integer",
            "readOnly": true
          },
          "Status": {
            "type": "string",
            "enum": [
              "Active",
              "Arrived",
              "Assigned",
              "Booked",
              "Brokered",
              "Cancelled",
              "Dispatched",
              "Dropped",
              "Enroute",
              "Moving",
              "Pending",
              "Possible",
              "Ready"
            ]
          },
          "LoadClass": {
            "type": "string",
            "enum": [
              "LTL"
            ]
          },
          "LoadType": {
            "type": "string",
            "maxLength": 15
          },
          "BillToId": {
            "type": "string",
            "maxLength": 15,
            "description": "Customer Code"
          },
          "BillToName": {
            "type": "string",
            "maxLength": 50,
            "description": "Customer Name"
          },
          "LoadReference": {
            "type": "string",
            "maxLength": 50,
            "description": "Customer's Load Number"
          },
          "BillingType": {
            "type": "string",
            "enum": [
              "P",
              "C",
              "B"
            ],
            "description": "P - Prepaid, C - Collect, B - BillTo"
          },
          "MilesBilled": {
            "type": "number"
          },
          "TotalWeight": {
            "type": "number",
            "format": "float"
          },
          "Pallets": {
            "type": "integer"
          },
          "Notes": {
            "type": "string",
            "maxLength": 4000
          },
          "Reference1": {
            "type": "string",
            "maxLength": 25
          },
          "Office": {
            "$ref": "#/components/schemas/Office"
          },
          "Stops": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/LoadStop"
            }
          }
        }
      },
      "IntermodalLoad": {
        "type": "object",
        "required": [
          "Status",
          "LoadClass",
          "Office"
        ],
        "properties": {
          "LoadId": {
            "type": "integer",
            "readOnly": true
          },
          "Status": {
            "type": "string",
            "enum": [
              "Active",
              "Arrived",
              "Assigned",
              "Booked",
              "Brokered",
              "Cancelled",
              "Dispatched",
              "Dropped",
              "Enroute",
              "Moving",
              "Pending",
              "Possible",
              "Ready"
            ]
          },
          "LoadClass": {
            "type": "string",
            "enum": [
              "Intermodal"
            ]
          },
          "LoadType": {
            "type": "string",
            "maxLength": 15
          },
          "BillToId": {
            "type": "string",
            "maxLength": 15,
            "description": "Customer Code"
          },
          "BillToName": {
            "type": "string",
            "maxLength": 50,
            "description": "Customer Name"
          },
          "LoadReference": {
            "type": "string",
            "maxLength": 50,
            "description": "Customer's Load Number"
          },
          "Boundary": {
            "type": "string",
            "enum": [
              "I",
              "O",
              "C"
            ],
            "description": "I - Inbound, O - Outbound, C - Crosstown"
          },
          "BookingNumber": {
            "type": "string",
            "maxLength": 25,
            "description": "Booking Number of a load. In TMS when Boundary is Inbound the field is called 'Bill of Lading', when Inbound is Outbound or Crosstown then the name is 'Booking No'."
          },
          "MilesBilled": {
            "type": "number"
          },
          "Container": {
            "type": "string",
            "maxLength": 15
          },
          "Chassis": {
            "type": "string",
            "maxLength": 15
          },
          "Reference1": {
            "type": "string",
            "maxLength": 25
          },
          "Notes": {
            "type": "string",
            "maxLength": 4000
          },
          "Office": {
            "$ref": "#/components/schemas/Office"
          },
          "Stops": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/LoadStop"
            }
          }
        }
      },
      "LoadStop": {
        "type": "object",
        "required": [
          "Order",
          "Type",
          "Contact",
          "CompanyName",
          "Address",
          "AvailableFrom",
          "AvailableTo"
        ],
        "properties": {
          "Id": {
            "type": "integer",
            "readOnly": true
          },
          "Order": {
            "type": "integer"
          },
          "Type": {
            "type": "string",
            "enum": [
              "Shipper",
              "Consignee"
            ]
          },
          "Zone": {
            "type": "string"
          },
          "AvailableFrom": {
            "type": "string",
            "format": "date-time"
          },
          "AvailableFromIsLocal": {
            "type": "boolean"
          },
          "AvailableTo": {
            "type": "string",
            "format": "date-time"
          },
          "AvailableToIsLocal": {
            "type": "boolean"
          },
          "Miles": {
            "type": "integer"
          },
          "ReferenceNumber": {
            "type": "string",
            "maxLength": 25
          },
          "Notes": {
            "type": "string",
            "maxLength": 4000
          },
          "Phone": {
            "type": "string",
            "maxLength": 15
          },
          "Contact": {
            "type": "string",
            "maxLength": 20
          },
          "CompanyName": {
            "type": "string",
            "maxLength": 35
          },
          "Address": {
            "$ref": "#/components/schemas/Address"
          }
        }
      },
      "CommodityLocator": {
        "type": "object",
        "properties": {
          "Id": {
            "maximum": 2147483647,
            "minimum": 0,
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "Name": {
            "maxLength": 20,
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "CommodityRate": {
        "type": "object",
        "required": [
          "commodityLocator",
          "value"
        ],
        "properties": {
          "Id": {
            "type": "integer",
            "format": "int32",
            "minimum": 0,
            "maximum": 2147483647,
            "nullable": true
          },
          "CommodityLocator": {
            "$ref": "#/components/schemas/CommodityLocator"
          },
          "StockId": {
            "type": "string",
            "maxLength": 30,
            "nullable": true
          },
          "Description": {
            "type": "string",
            "maxLength": 30,
            "nullable": true
          },
          "Pieces": {
            "type": "number",
            "format": "double",
            "minimum": 0,
            "nullable": true
          },
          "ActualWeight": {
            "type": "number",
            "format": "double",
            "minimum": 0,
            "nullable": true
          },
          "TariffWeight": {
            "type": "number",
            "format": "double",
            "minimum": 0,
            "nullable": true
          },
          "AsWeight": {
            "type": "number",
            "format": "double",
            "minimum": 0,
            "nullable": true
          },
          "Space": {
            "type": "number",
            "format": "double",
            "minimum": 0,
            "nullable": true
          },
          "Seats": {
            "type": "number",
            "format": "double",
            "minimum": 0,
            "nullable": true
          },
          "Value": {
            "type": "number",
            "format": "double",
            "minimum": 0
          },
          "MeasureCode": {
            "type": "string",
            "maxLength": 10,
            "nullable": true
          },
          "Length": {
            "type": "number",
            "format": "double",
            "minimum": 0,
            "nullable": true
          },
          "Width": {
            "type": "number",
            "format": "double",
            "minimum": 0,
            "nullable": true
          },
          "Height": {
            "type": "number",
            "format": "double",
            "minimum": 0,
            "nullable": true
          },
          "LengthInches": {
            "type": "number",
            "format": "double",
            "minimum": 0,
            "nullable": true
          },
          "WidthInches": {
            "type": "number",
            "format": "double",
            "minimum": 0,
            "nullable": true
          },
          "HeightInches": {
            "type": "number",
            "format": "double",
            "minimum": 0,
            "nullable": true
          },
          "IsStackable": {
            "type": "boolean",
            "nullable": true
          },
          "IsFloorLoad": {
            "type": "boolean",
            "nullable": true
          },
          "Notes": {
            "type": "string",
            "maxLength": 100,
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "CommodityRating": {
        "type": "object",
        "properties": {
          "MatrixId": {
            "type": "integer",
            "format": "int32",
            "minimum": 0,
            "maximum": 2147483647
          },
          "CommodityRates": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CommodityRate"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "AccessorialLocator": {
        "type": "object",
        "properties": {
          "Id": {
            "maximum": 2147483647,
            "minimum": 0,
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "Name": {
            "maxLength": 20,
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "AccessorialRate": {
        "required": [
          "AccessorialLocator",
          "MatrixId"
        ],
        "type": "object",
        "properties": {
          "Id": {
            "type": "integer",
            "format": "int32",
            "minimum": 0,
            "maximum": 2147483647,
            "nullable": true
          },
          "AccessorialLocator": {
            "$ref": "#/components/schemas/AccessorialLocator"
          },
          "MatrixId": {
            "maximum": 2147483647,
            "minimum": 0,
            "type": "integer",
            "format": "int32"
          },
          "RefNumber": {
            "maxLength": 15,
            "type": "string",
            "nullable": true
          },
          "Rate": {
            "minimum": 0,
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "Units": {
            "minimum": 0,
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "Notes": {
            "maxLength": 8000,
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "LineHaulLoadRate": {
        "type": "object",
        "required": [
          "source"
        ],
        "properties": {
          "RateType": {
            "maxLength": 10,
            "type": "string",
            "nullable": true
          },
          "Rate": {
            "minimum": 0,
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "MatrixId": {
            "maximum": 2147483647,
            "minimum": 0,
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "Source": {
            "type": "string",
            "description": "Allowed values - Manual LoadMatrix CommodityMatrix"
          }
        },
        "additionalProperties": false
      },
      "LoadRating": {
        "type": "object",
        "properties": {
          "LineHaulRate": {
            "$ref": "#/components/schemas/LineHaulLoadRate"
          },
          "AccessorialRates": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AccessorialRate"
            },
            "nullable": true
          },
          "CommodityRating": {
            "$ref": "#/components/schemas/CommodityRating"
          }
        },
        "additionalProperties": false
      },
      "Address": {
        "type": "object",
        "required": [
          "PostalCode"
        ],
        "properties": {
          "CountrySubDivisionCode": {
            "type": "string",
            "maxLength": 2
          },
          "City": {
            "type": "string",
            "maxLength": 25
          },
          "Line1": {
            "type": "string",
            "maxLength": 35
          },
          "PostalCode": {
            "type": "string",
            "maxLength": 10
          }
        }
      },
      "PatchRequest": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/PatchDocument"
        }
      },
      "PatchDocument": {
        "description": "A JSONPatch document as defined by RFC 6902",
        "required": [
          "op",
          "path"
        ],
        "properties": {
          "op": {
            "type": "string",
            "description": "The operation to be performed",
            "enum": [
              "replace",
              "test"
            ]
          },
          "path": {
            "type": "string",
            "description": "A JSON-Pointer. Name of a property that should be updated. First level properties any of TruckLoad, LessThanTruckLoad or IntermodalLoad."
          },
          "value": {
            "type": "object",
            "description": "The value to be used within the operations."
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "ErrorCode": {
            "type": "integer"
          },
          "ErrorMessage": {
            "type": "string"
          }
        }
      },
      "ValidationError": {
        "type": "object",
        "properties": {
          "Fields": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "ErrorCode": {
            "type": "integer"
          },
          "ErrorMessage": {
            "type": "string"
          }
        }
      },
      "Fault": {
        "type": "object",
        "properties": {
          "Timestamp": {
            "type": "string",
            "format": "date"
          },
          "Operation": {
            "type": "string"
          },
          "Message": {
            "type": "string"
          },
          "Details": {
            "type": "array",
            "items": {
              "anyOf": [
                {
                  "$ref": "#/components/schemas/ValidationError"
                },
                {
                  "$ref": "#/components/schemas/Error"
                }
              ]
            }
          }
        }
      }
    }
  }
}