{
  "openapi": "3.0.3",
  "info": {
    "title": "Coinbase CDP API",
    "version": "2.0.0",
    "description": "The Coinbase Developer Platform (CDP) API provides programmatic access to Coinbase services including wallets, transactions, accounts, payments, staking, and onchain operations. Supports JWT and OAuth2 authentication.",
    "x-jentic-source-url": "https://docs.cdp.coinbase.com/",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://api.cdp.coinbase.com"
    }
  ],
  "paths": {
    "/platform/v1/wallets": {
      "get": {
        "operationId": "listWallets",
        "summary": "List Wallets",
        "description": "Returns a list of wallets.",
        "tags": [
          "Wallets"
        ],
        "parameters": [
          {
            "name": "page_size",
            "in": "query",
            "required": false,
            "description": "Page size",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page_token",
            "in": "query",
            "required": false,
            "description": "Page token",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createWallet",
        "summary": "Create Wallet",
        "description": "Creates a new wallet.",
        "tags": [
          "Wallets"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateWalletRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Wallet"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/platform/v1/wallets/{wallet_id}": {
      "get": {
        "operationId": "getWallet",
        "summary": "Get Wallet",
        "description": "Returns a wallet by ID.",
        "tags": [
          "Wallets"
        ],
        "parameters": [
          {
            "name": "wallet_id",
            "in": "path",
            "required": true,
            "description": "Wallet ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Wallet"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/platform/v1/wallets/{wallet_id}/addresses": {
      "get": {
        "operationId": "listAddresses",
        "summary": "List Addresses",
        "description": "Lists addresses for a wallet.",
        "tags": [
          "Addresses"
        ],
        "parameters": [
          {
            "name": "wallet_id",
            "in": "path",
            "required": true,
            "description": "Wallet ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "required": false,
            "description": "Page size",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page_token",
            "in": "query",
            "required": false,
            "description": "Page token",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createAddress",
        "summary": "Create Address",
        "description": "Creates a new address for a wallet.",
        "tags": [
          "Addresses"
        ],
        "parameters": [
          {
            "name": "wallet_id",
            "in": "path",
            "required": true,
            "description": "Wallet ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "network_id": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Address"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/platform/v1/wallets/{wallet_id}/addresses/{address_id}": {
      "get": {
        "operationId": "getAddress",
        "summary": "Get Address",
        "description": "Returns an address by ID.",
        "tags": [
          "Addresses"
        ],
        "parameters": [
          {
            "name": "wallet_id",
            "in": "path",
            "required": true,
            "description": "Wallet ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "address_id",
            "in": "path",
            "required": true,
            "description": "Address ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Address"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/platform/v1/wallets/{wallet_id}/addresses/{address_id}/balances": {
      "get": {
        "operationId": "listBalances",
        "summary": "List Balances",
        "description": "Lists balances for an address.",
        "tags": [
          "Balances"
        ],
        "parameters": [
          {
            "name": "wallet_id",
            "in": "path",
            "required": true,
            "description": "Wallet ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "address_id",
            "in": "path",
            "required": true,
            "description": "Address ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/platform/v1/wallets/{wallet_id}/addresses/{address_id}/transfers": {
      "get": {
        "operationId": "listTransfers",
        "summary": "List Transfers",
        "description": "Lists transfers for an address.",
        "tags": [
          "Transfers"
        ],
        "parameters": [
          {
            "name": "wallet_id",
            "in": "path",
            "required": true,
            "description": "Wallet ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "address_id",
            "in": "path",
            "required": true,
            "description": "Address ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createTransfer",
        "summary": "Create Transfer",
        "description": "Creates a new transfer.",
        "tags": [
          "Transfers"
        ],
        "parameters": [
          {
            "name": "wallet_id",
            "in": "path",
            "required": true,
            "description": "Wallet ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "address_id",
            "in": "path",
            "required": true,
            "description": "Address ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateTransferRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Transfer"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/platform/v1/wallets/{wallet_id}/addresses/{address_id}/transfers/{transfer_id}": {
      "get": {
        "operationId": "getTransfer",
        "summary": "Get Transfer",
        "description": "Returns a transfer by ID.",
        "tags": [
          "Transfers"
        ],
        "parameters": [
          {
            "name": "wallet_id",
            "in": "path",
            "required": true,
            "description": "Wallet ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "address_id",
            "in": "path",
            "required": true,
            "description": "Address ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "transfer_id",
            "in": "path",
            "required": true,
            "description": "Transfer ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Transfer"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/platform/v1/wallets/{wallet_id}/addresses/{address_id}/trades": {
      "get": {
        "operationId": "listTrades",
        "summary": "List Trades",
        "description": "Lists trades for an address.",
        "tags": [
          "Trades"
        ],
        "parameters": [
          {
            "name": "wallet_id",
            "in": "path",
            "required": true,
            "description": "Wallet ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "address_id",
            "in": "path",
            "required": true,
            "description": "Address ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createTrade",
        "summary": "Create Trade",
        "description": "Creates a new trade (swap).",
        "tags": [
          "Trades"
        ],
        "parameters": [
          {
            "name": "wallet_id",
            "in": "path",
            "required": true,
            "description": "Wallet ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "address_id",
            "in": "path",
            "required": true,
            "description": "Address ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateTradeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Trade"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/platform/v1/wallets/{wallet_id}/addresses/{address_id}/staking_operations": {
      "post": {
        "operationId": "createStakingOperation",
        "summary": "Create Staking Operation",
        "description": "Creates a new staking operation.",
        "tags": [
          "Staking"
        ],
        "parameters": [
          {
            "name": "wallet_id",
            "in": "path",
            "required": true,
            "description": "Wallet ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "address_id",
            "in": "path",
            "required": true,
            "description": "Address ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/platform/v1/networks": {
      "get": {
        "operationId": "listNetworks",
        "summary": "List Networks",
        "description": "Lists supported blockchain networks.",
        "tags": [
          "Networks"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/platform/v1/networks/{network_id}/assets": {
      "get": {
        "operationId": "listAssets",
        "summary": "List Assets",
        "description": "Lists assets on a network.",
        "tags": [
          "Assets"
        ],
        "parameters": [
          {
            "name": "network_id",
            "in": "path",
            "required": true,
            "description": "Network ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/platform/v1/networks/{network_id}/assets/{asset_id}": {
      "get": {
        "operationId": "getAsset",
        "summary": "Get Asset",
        "description": "Returns an asset by ID.",
        "tags": [
          "Assets"
        ],
        "parameters": [
          {
            "name": "network_id",
            "in": "path",
            "required": true,
            "description": "Network ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "asset_id",
            "in": "path",
            "required": true,
            "description": "Asset ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Asset"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/onramp/v1/buy/config": {
      "get": {
        "operationId": "getOnrampConfig",
        "summary": "Get Onramp Configuration",
        "description": "Returns onramp buy configuration including supported assets and payment methods.",
        "tags": [
          "Onramp"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/onramp/v1/buy/quote": {
      "post": {
        "operationId": "getOnrampQuote",
        "summary": "Get Onramp Quote",
        "description": "Returns a quote for a fiat-to-crypto purchase.",
        "tags": [
          "Onramp"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/accounts": {
      "get": {
        "operationId": "listAccounts",
        "summary": "List Accounts",
        "description": "Lists current user's accounts.",
        "tags": [
          "Accounts"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/accounts/{account_id}": {
      "get": {
        "operationId": "getAccountById",
        "summary": "Get Account",
        "description": "Returns a specific account.",
        "tags": [
          "Accounts"
        ],
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "description": "Account ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/user": {
      "get": {
        "operationId": "getCurrentUser",
        "summary": "Get Current User",
        "description": "Returns current user's public information.",
        "tags": [
          "Users"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/exchange-rates": {
      "get": {
        "operationId": "getExchangeRates",
        "summary": "Get Exchange Rates",
        "description": "Returns exchange rates for a currency.",
        "tags": [
          "ExchangeRates"
        ],
        "parameters": [
          {
            "name": "currency",
            "in": "query",
            "required": false,
            "description": "Base currency code",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/currencies": {
      "get": {
        "operationId": "getCurrencies",
        "summary": "Get Currencies",
        "description": "Lists known currencies.",
        "tags": [
          "Currencies"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/prices/{currency_pair}/spot": {
      "get": {
        "operationId": "getSpotPrice",
        "summary": "Get Spot Price",
        "description": "Returns the current spot price.",
        "tags": [
          "Prices"
        ],
        "parameters": [
          {
            "name": "currency_pair",
            "in": "path",
            "required": true,
            "description": "Currency pair (e.g. BTC-USD)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "date",
            "in": "query",
            "required": false,
            "description": "Date for historical price",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/prices/{currency_pair}/buy": {
      "get": {
        "operationId": "getBuyPrice",
        "summary": "Get Buy Price",
        "description": "Returns the total price to buy one unit.",
        "tags": [
          "Prices"
        ],
        "parameters": [
          {
            "name": "currency_pair",
            "in": "path",
            "required": true,
            "description": "Currency pair",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/prices/{currency_pair}/sell": {
      "get": {
        "operationId": "getSellPrice",
        "summary": "Get Sell Price",
        "description": "Returns the total price to sell one unit.",
        "tags": [
          "Prices"
        ],
        "parameters": [
          {
            "name": "currency_pair",
            "in": "path",
            "required": true,
            "description": "Currency pair",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/time": {
      "get": {
        "operationId": "getServerTime",
        "summary": "Get Server Time",
        "description": "Returns the API server time.",
        "tags": [
          "Server"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Wallet": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "network_id": {
            "type": "string"
          },
          "default_address": {
            "$ref": "#/components/schemas/Address"
          }
        }
      },
      "Address": {
        "type": "object",
        "properties": {
          "wallet_id": {
            "type": "string"
          },
          "address_id": {
            "type": "string"
          },
          "network_id": {
            "type": "string"
          },
          "public_key": {
            "type": "string"
          }
        }
      },
      "Transfer": {
        "type": "object",
        "properties": {
          "transfer_id": {
            "type": "string"
          },
          "network_id": {
            "type": "string"
          },
          "wallet_id": {
            "type": "string"
          },
          "address_id": {
            "type": "string"
          },
          "destination": {
            "type": "string"
          },
          "amount": {
            "type": "string"
          },
          "asset_id": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "broadcast",
              "complete",
              "failed"
            ]
          },
          "transaction_hash": {
            "type": "string"
          }
        }
      },
      "Trade": {
        "type": "object",
        "properties": {
          "trade_id": {
            "type": "string"
          },
          "network_id": {
            "type": "string"
          },
          "wallet_id": {
            "type": "string"
          },
          "address_id": {
            "type": "string"
          },
          "from_amount": {
            "type": "string"
          },
          "from_asset_id": {
            "type": "string"
          },
          "to_amount": {
            "type": "string"
          },
          "to_asset_id": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "transaction": {
            "type": "object"
          }
        }
      },
      "Asset": {
        "type": "object",
        "properties": {
          "asset_id": {
            "type": "string"
          },
          "network_id": {
            "type": "string"
          },
          "contract_address": {
            "type": "string"
          },
          "decimals": {
            "type": "integer"
          }
        }
      },
      "CreateWalletRequest": {
        "type": "object",
        "properties": {
          "network_id": {
            "type": "string",
            "description": "Blockchain network ID"
          }
        }
      },
      "CreateTransferRequest": {
        "type": "object",
        "required": [
          "amount",
          "asset_id",
          "destination",
          "network_id"
        ],
        "properties": {
          "amount": {
            "type": "string"
          },
          "asset_id": {
            "type": "string"
          },
          "destination": {
            "type": "string"
          },
          "network_id": {
            "type": "string"
          }
        }
      },
      "CreateTradeRequest": {
        "type": "object",
        "required": [
          "amount",
          "from_asset_id",
          "to_asset_id"
        ],
        "properties": {
          "amount": {
            "type": "string"
          },
          "from_asset_id": {
            "type": "string"
          },
          "to_asset_id": {
            "type": "string"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "JWT token for server-side API access"
      },
      "oauth2": {
        "type": "oauth2",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://login.coinbase.com/oauth2/auth",
            "tokenUrl": "https://login.coinbase.com/oauth2/token",
            "scopes": {
              "wallet:accounts:read": "Read accounts",
              "wallet:transactions:read": "Read transactions",
              "wallet:transactions:send": "Send transactions"
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Accounts"
    },
    {
      "name": "Addresses"
    },
    {
      "name": "Assets"
    },
    {
      "name": "Balances"
    },
    {
      "name": "Currencies"
    },
    {
      "name": "ExchangeRates"
    },
    {
      "name": "Networks"
    },
    {
      "name": "Onramp"
    },
    {
      "name": "Prices"
    },
    {
      "name": "Server"
    },
    {
      "name": "Staking"
    },
    {
      "name": "Trades"
    },
    {
      "name": "Transfers"
    },
    {
      "name": "Users"
    },
    {
      "name": "Wallets"
    }
  ]
}
