{
  "openapi": "3.0.3",
  "info": {
    "title": "Danbooru API",
    "version": "1.0.0",
    "description": "Danbooru image board REST API. Provides access to posts, tags, comments, users, pools, artists, notes, wiki pages, and favorites. All endpoints support JSON responses by appending .json.",
    "x-jentic-source-url": "https://danbooru.donmai.us/wiki_pages/help:api",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://danbooru.donmai.us"
    }
  ],
  "paths": {
    "/posts.json": {
      "get": {
        "operationId": "list_posts",
        "summary": "List posts",
        "description": "Get a paginated list of posts matching search criteria.",
        "tags": [
          "Posts"
        ],
        "parameters": [
          {
            "name": "tags",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Space-separated tag search"
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 200
            }
          },
          {
            "name": "random",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Post"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/posts/{id}.json": {
      "get": {
        "operationId": "get_post",
        "summary": "Get post by ID",
        "tags": [
          "Posts"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Post"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Post not found"
          }
        },
        "description": "Get post by ID"
      },
      "patch": {
        "operationId": "update_post",
        "summary": "Update a post",
        "tags": [
          "Posts"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "post[tag_string]": {
                    "type": "string"
                  },
                  "post[rating]": {
                    "type": "string",
                    "enum": [
                      "g",
                      "s",
                      "q",
                      "e"
                    ]
                  },
                  "post[source]": {
                    "type": "string"
                  },
                  "post[parent_id]": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Post"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Update a post"
      }
    },
    "/uploads.json": {
      "post": {
        "operationId": "create_upload",
        "summary": "Upload a new file",
        "tags": [
          "Uploads"
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "upload[file]": {
                    "type": "string",
                    "format": "binary"
                  },
                  "upload[source]": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Upload"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Upload a new file"
      }
    },
    "/tags.json": {
      "get": {
        "operationId": "list_tags",
        "summary": "List tags",
        "tags": [
          "Tags"
        ],
        "parameters": [
          {
            "name": "search[name_matches]",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "search[category]",
            "in": "query",
            "schema": {
              "type": "integer",
              "enum": [
                0,
                1,
                3,
                4,
                5
              ]
            },
            "description": "0=general, 1=artist, 3=copyright, 4=character, 5=meta"
          },
          {
            "name": "search[order]",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "name",
                "date",
                "count"
              ]
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 1000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Tag"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "List tags"
      }
    },
    "/tags/{id}.json": {
      "get": {
        "operationId": "get_tag",
        "summary": "Get tag by ID",
        "tags": [
          "Tags"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Tag"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Tag not found"
          }
        },
        "description": "Get tag by ID"
      }
    },
    "/comments.json": {
      "get": {
        "operationId": "list_comments",
        "summary": "List comments",
        "tags": [
          "Comments"
        ],
        "parameters": [
          {
            "name": "search[post_id]",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "search[creator_name]",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "search[body_matches]",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Comment"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "List comments"
      },
      "post": {
        "operationId": "create_comment",
        "summary": "Create a comment",
        "tags": [
          "Comments"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "comment[post_id]",
                  "comment[body]"
                ],
                "properties": {
                  "comment[post_id]": {
                    "type": "integer"
                  },
                  "comment[body]": {
                    "type": "string"
                  },
                  "comment[do_not_bump_post]": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Comment"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Create a comment"
      }
    },
    "/comments/{id}.json": {
      "get": {
        "operationId": "get_comment",
        "summary": "Get comment by ID",
        "tags": [
          "Comments"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Comment"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Comment not found"
          }
        },
        "description": "Get comment by ID"
      },
      "patch": {
        "operationId": "update_comment",
        "summary": "Update a comment",
        "tags": [
          "Comments"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "comment[body]": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Comment"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Update a comment"
      },
      "delete": {
        "operationId": "delete_comment",
        "summary": "Delete a comment",
        "tags": [
          "Comments"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          },
          "400": {
            "description": "Bad request"
          }
        },
        "description": "Delete a comment"
      }
    },
    "/users.json": {
      "get": {
        "operationId": "list_users",
        "summary": "List users",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "name": "search[name_matches]",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "search[level]",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "search[order]",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/User"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "List users"
      }
    },
    "/users/{id}.json": {
      "get": {
        "operationId": "get_user",
        "summary": "Get user by ID",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "User not found"
          }
        },
        "description": "Get user by ID"
      }
    },
    "/pools.json": {
      "get": {
        "operationId": "list_pools",
        "summary": "List pools",
        "tags": [
          "Pools"
        ],
        "parameters": [
          {
            "name": "search[name_matches]",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "search[category]",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "series",
                "collection"
              ]
            }
          },
          {
            "name": "search[order]",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Pool"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "List pools"
      }
    },
    "/pools/{id}.json": {
      "get": {
        "operationId": "get_pool",
        "summary": "Get pool by ID",
        "tags": [
          "Pools"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Pool"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Pool not found"
          }
        },
        "description": "Get pool by ID"
      }
    },
    "/artists.json": {
      "get": {
        "operationId": "list_artists",
        "summary": "List artists",
        "tags": [
          "Artists"
        ],
        "parameters": [
          {
            "name": "search[name]",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "search[any_name_matches]",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "search[order]",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Artist"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "List artists"
      }
    },
    "/artists/{id}.json": {
      "get": {
        "operationId": "get_artist",
        "summary": "Get artist by ID",
        "tags": [
          "Artists"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Artist"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Artist not found"
          }
        },
        "description": "Get artist by ID"
      }
    },
    "/notes.json": {
      "get": {
        "operationId": "list_notes",
        "summary": "List notes",
        "tags": [
          "Notes"
        ],
        "parameters": [
          {
            "name": "search[post_id]",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "search[body_matches]",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Note"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "List notes"
      }
    },
    "/wiki_pages.json": {
      "get": {
        "operationId": "list_wiki_pages",
        "summary": "List wiki pages",
        "tags": [
          "Wiki"
        ],
        "parameters": [
          {
            "name": "search[title]",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "search[body_matches]",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/WikiPage"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "List wiki pages"
      }
    },
    "/wiki_pages/{id}.json": {
      "get": {
        "operationId": "get_wiki_page",
        "summary": "Get wiki page",
        "tags": [
          "Wiki"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Wiki page ID or title"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WikiPage"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Wiki page not found"
          }
        },
        "description": "Get wiki page"
      }
    },
    "/favorites.json": {
      "get": {
        "operationId": "list_favorites",
        "summary": "List favorites",
        "tags": [
          "Favorites"
        ],
        "parameters": [
          {
            "name": "search[post_id]",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "search[user_id]",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Favorite"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "List favorites"
      },
      "post": {
        "operationId": "create_favorite",
        "summary": "Favorite a post",
        "tags": [
          "Favorites"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "post_id": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Favorite a post"
      }
    },
    "/favorites/{id}.json": {
      "delete": {
        "operationId": "delete_favorite",
        "summary": "Remove favorite",
        "tags": [
          "Favorites"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          },
          "400": {
            "description": "Bad request"
          }
        },
        "description": "Remove favorite"
      }
    },
    "/post_votes.json": {
      "post": {
        "operationId": "vote_post",
        "summary": "Vote on a post",
        "tags": [
          "Posts"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "post_id": {
                    "type": "integer"
                  },
                  "score": {
                    "type": "integer",
                    "enum": [
                      -1,
                      0,
                      1
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Vote on a post"
      }
    },
    "/counts/posts.json": {
      "get": {
        "operationId": "count_posts",
        "summary": "Count posts matching tags",
        "tags": [
          "Posts"
        ],
        "parameters": [
          {
            "name": "tags",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "counts": {
                      "type": "object",
                      "properties": {
                        "posts": {
                          "type": "integer"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Count posts matching tags"
      }
    },
    "/related_tags.json": {
      "get": {
        "operationId": "related_tags",
        "summary": "Get related tags",
        "tags": [
          "Tags"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "category",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Get related tags"
      }
    },
    "/autocomplete.json": {
      "get": {
        "operationId": "autocomplete_tags",
        "summary": "Autocomplete tags",
        "tags": [
          "Tags"
        ],
        "parameters": [
          {
            "name": "search[name_contains]",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "search[type]",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "tag_query",
                "tag"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string"
                      },
                      "label": {
                        "type": "string"
                      },
                      "value": {
                        "type": "string"
                      },
                      "category": {
                        "type": "integer"
                      },
                      "post_count": {
                        "type": "integer"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Autocomplete tags"
      }
    },
    "/profile.json": {
      "get": {
        "operationId": "get_profile",
        "summary": "Get current user profile",
        "tags": [
          "Users"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "400": {
            "description": "Bad request"
          }
        },
        "description": "Get current user profile"
      }
    }
  },
  "components": {
    "schemas": {
      "Post": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "uploader_id": {
            "type": "integer"
          },
          "score": {
            "type": "integer"
          },
          "source": {
            "type": "string"
          },
          "md5": {
            "type": "string"
          },
          "rating": {
            "type": "string",
            "enum": [
              "g",
              "s",
              "q",
              "e"
            ]
          },
          "image_width": {
            "type": "integer"
          },
          "image_height": {
            "type": "integer"
          },
          "tag_string": {
            "type": "string"
          },
          "fav_count": {
            "type": "integer"
          },
          "file_ext": {
            "type": "string"
          },
          "parent_id": {
            "type": "integer"
          },
          "has_children": {
            "type": "boolean"
          },
          "file_url": {
            "type": "string"
          },
          "large_file_url": {
            "type": "string"
          },
          "preview_file_url": {
            "type": "string"
          },
          "file_size": {
            "type": "integer"
          },
          "up_score": {
            "type": "integer"
          },
          "down_score": {
            "type": "integer"
          },
          "tag_count": {
            "type": "integer"
          },
          "tag_string_general": {
            "type": "string"
          },
          "tag_string_character": {
            "type": "string"
          },
          "tag_string_copyright": {
            "type": "string"
          },
          "tag_string_artist": {
            "type": "string"
          },
          "tag_string_meta": {
            "type": "string"
          },
          "is_pending": {
            "type": "boolean"
          },
          "is_flagged": {
            "type": "boolean"
          },
          "is_deleted": {
            "type": "boolean"
          },
          "is_banned": {
            "type": "boolean"
          },
          "pixiv_id": {
            "type": "integer"
          },
          "bit_flags": {
            "type": "integer"
          }
        }
      },
      "Tag": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "post_count": {
            "type": "integer"
          },
          "category": {
            "type": "integer"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "is_deprecated": {
            "type": "boolean"
          }
        }
      },
      "Comment": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "post_id": {
            "type": "integer"
          },
          "creator_id": {
            "type": "integer"
          },
          "body": {
            "type": "string"
          },
          "score": {
            "type": "integer"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "is_deleted": {
            "type": "boolean"
          },
          "do_not_bump_post": {
            "type": "boolean"
          }
        }
      },
      "User": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "level": {
            "type": "integer"
          },
          "level_string": {
            "type": "string"
          },
          "post_upload_count": {
            "type": "integer"
          },
          "post_update_count": {
            "type": "integer"
          },
          "note_update_count": {
            "type": "integer"
          },
          "favorite_count": {
            "type": "integer"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "is_banned": {
            "type": "boolean"
          },
          "is_deleted": {
            "type": "boolean"
          }
        }
      },
      "Pool": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "category": {
            "type": "string"
          },
          "post_ids": {
            "type": "array",
            "items": {
              "type": "integer"
            }
          },
          "post_count": {
            "type": "integer"
          },
          "is_active": {
            "type": "boolean"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Artist": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "other_names": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "group_name": {
            "type": "string"
          },
          "url_string": {
            "type": "string"
          },
          "is_banned": {
            "type": "boolean"
          },
          "is_deleted": {
            "type": "boolean"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Note": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "post_id": {
            "type": "integer"
          },
          "x": {
            "type": "integer"
          },
          "y": {
            "type": "integer"
          },
          "width": {
            "type": "integer"
          },
          "height": {
            "type": "integer"
          },
          "body": {
            "type": "string"
          },
          "is_active": {
            "type": "boolean"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "WikiPage": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "title": {
            "type": "string"
          },
          "body": {
            "type": "string"
          },
          "other_names": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "is_locked": {
            "type": "boolean"
          },
          "is_deleted": {
            "type": "boolean"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Favorite": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "post_id": {
            "type": "integer"
          },
          "user_id": {
            "type": "integer"
          }
        }
      },
      "Upload": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "source": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      }
    },
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "HTTP Basic auth using login name and API key"
      }
    }
  },
  "security": [
    {
      "basicAuth": []
    }
  ],
  "tags": [
    {
      "name": "Artists"
    },
    {
      "name": "Comments"
    },
    {
      "name": "Favorites"
    },
    {
      "name": "Notes"
    },
    {
      "name": "Pools"
    },
    {
      "name": "Posts"
    },
    {
      "name": "Tags"
    },
    {
      "name": "Uploads"
    },
    {
      "name": "Users"
    },
    {
      "name": "Wiki"
    }
  ]
}
