{
  "openapi": "3.0.3",
  "info": {
    "title": "Fax.Plus REST API",
    "description": "This is the Fax.Plus API v3 developed for third party developers and organizations. In order to have a better coding experience with this API, let's quickly go through some points:<br /><br /> - This API assumes **/accounts** as an entry point with the base url of **https://restapi.fax.plus/v3**. <br /><br /> - This API treats all date and times sent to it in requests as **UTC**. Also, all dates and times returned in responses are in **UTC**<br /><br /> - Once you have an access_token, you can easily send a request to the resource server with the base url of **https://restapi.fax.plus/v3** to access your permitted resources. As an example to get the user's profile info you would send a request to **https://restapi.fax.plus/v3/accounts/self** when **Authorization** header is set to **Bearer YOUR_ACCESS_TOKEN** and custom header of **x-fax-clientid** is set to YOUR_CLIENT_ID",
    "version": "3.3.0",
    "contact": {
      "name": "Fax.Plus",
      "email": "info@fax.plus",
      "url": "https://github.com/alohi"
    },
    "x-jentic-source-url": "https://apidoc.fax.plus/api-reference/openapi.json"
  },
  "servers": [
    {
      "url": "https://restapi.fax.plus/v3"
    }
  ],
  "paths": {
    "/accounts": {
      "get": {
        "operationId": "getAccounts",
        "security": [
          {
            "personal_access_token": [
              "fax:all:read",
              "fax:member:read"
            ]
          },
          {
            "oauth2": [
              "all"
            ]
          }
        ],
        "summary": "List corporate members",
        "description": "Get account information of all non-admin members of your corporate account. Only the admin account can send a request to this endpoint which returns the accounts of all members (Permitted scopes: **fax:all:read**, **fax:member:read**)",
        "tags": [
          "Accounts"
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/AccountList"
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "x-mint": {
          "mcp": {
            "enabled": true,
            "name": "get-accounts",
            "description": "List all corporate members in your account.\n\n**Authentication:** When using this tool via MCP, authentication is handled automatically by your MCP server configuration. Configure your Personal Access Token (PAT) in your MCP client settings - you don't need to pass authentication parameters manually.\n\n**MCP Tool Usage:**\n- Call: `getAccounts()`\n\n**Notes:**\n- No parameters required\n- Only admin accounts can call this endpoint\n- Returns account information for all non-admin corporate members\n\n(Requires scopes: personal_access_token:fax:all:read, personal_access_token:fax:member:read, oauth2:all)"
          }
        }
      }
    },
    "/accounts/{user_id}": {
      "get": {
        "operationId": "getUser",
        "security": [
          {
            "oauth2": [
              "all"
            ]
          },
          {
            "personal_access_token": [
              "fax:all:read",
              "fax:member:read",
              "fax:user:read"
            ]
          }
        ],
        "summary": "Get account information",
        "description": "Get information about an account. For members user_id can only be self. For admin it can be either self, or a user_id of any corporate member. (Permitted scopes: **fax:all:read**, **fax:member:read**, **fax:user:read**)",
        "tags": [
          "Accounts"
        ],
        "parameters": [
          {
            "description": "User ID to get information about. For your own account use **'self'**",
            "name": "user_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "default": "self"
            },
            "example": "473e1eb6"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Account"
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "x-mint": {
          "mcp": {
            "enabled": true,
            "name": "get-user",
            "description": "Get account information for a user.\n\n**Authentication:** When using this tool via MCP, authentication is handled automatically by your MCP server configuration. Configure your Personal Access Token (PAT) in your MCP client settings - you don't need to pass authentication parameters manually.\n\n**MCP Tool Usage:**\n- Your account: `getUser(user_id='self')`\n- Corporate member: `getUser(user_id='<user_id>')`\n\n**Required Parameters:**\n- user_id: Use 'self' for your own account, or provide a user ID for corporate members\n\n**Notes:**\n- Members can only use 'self'\n- Admins can query any corporate member\n\n(Requires scopes: oauth2:all, personal_access_token:fax:all:read, personal_access_token:fax:member:read, personal_access_token:fax:user:read)"
          }
        }
      },
      "put": {
        "operationId": "updateUser",
        "security": [
          {
            "oauth2": [
              "all"
            ]
          },
          {
            "personal_access_token": [
              "fax:all:edit",
              "fax:member:edit",
              "fax:all:edit"
            ]
          }
        ],
        "summary": "Modify account information",
        "description": "Modify personal information of your own account or your corporate member's account. user_id can be either self, or a subordinate's user_id. (Permitted scopes: **fax:all:edit**, **fax:member:edit**, **fax:user:edit**)",
        "tags": [
          "Accounts"
        ],
        "parameters": [
          {
            "description": "User ID to modify. Use 'self' for your own account, or provide a specific user ID for corporate member accounts.",
            "name": "user_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "default": "self"
            },
            "example": "self"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/PayloadAccountModification"
        },
        "responses": {
          "204": {
            "description": "Modify account information"
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "x-mint": {
          "mcp": {
            "enabled": false
          }
        }
      }
    },
    "/accounts/self/member-details/{member_user_id}": {
      "get": {
        "operationId": "getMemberDetails",
        "security": [
          {
            "oauth2": [
              "all"
            ]
          },
          {
            "personal_access_token": [
              "fax:all:read",
              "fax:member:read"
            ]
          }
        ],
        "summary": "Get member details",
        "description": "Get corporate member's role and faxing quota (Permitted scopes: **fax:all:read**, **fax:member:read**)",
        "tags": [
          "Accounts"
        ],
        "parameters": [
          {
            "name": "member_user_id",
            "in": "path",
            "required": true,
            "description": "Member user ID",
            "schema": {
              "type": "string"
            },
            "example": "473e1eb612451s"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/MemberDetail"
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "x-mint": {
          "mcp": {
            "enabled": true,
            "name": "get-member-details",
            "description": "Get a corporate member's role and faxing quota.\n\n**Authentication:** When using this tool via MCP, authentication is handled automatically by your MCP server configuration. Configure your Personal Access Token (PAT) in your MCP client settings - you don't need to pass authentication parameters manually.\n\n**MCP Tool Usage:**\n- Call: `getMemberDetails(member_user_id='<user_id>')`\n\n**Required Parameters:**\n- member_user_id: The user ID of the corporate member\n\n**Returns:**\n- quota: Monthly page quota for the member\n- role: Member's role in the company\n\n(Requires scopes: oauth2:all, personal_access_token:fax:all:read, personal_access_token:fax:member:read)"
          }
        }
      },
      "put": {
        "operationId": "updateMemberDetails",
        "security": [
          {
            "oauth2": [
              "all"
            ]
          },
          {
            "personal_access_token": [
              "fax:all:edit",
              "fax:member:edit"
            ]
          }
        ],
        "summary": "Modify member details",
        "description": "Update corporate member's role and faxing quota. (Permitted scopes: **fax:all:edit**, **fax:member:edit**)",
        "tags": [
          "Accounts"
        ],
        "parameters": [
          {
            "name": "member_user_id",
            "in": "path",
            "required": true,
            "description": "Member user ID",
            "schema": {
              "type": "string"
            },
            "example": "473e1e2fs1b6"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/MemberDetail"
        },
        "responses": {
          "204": {
            "description": "Modify account information"
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "x-mint": {
          "mcp": {
            "enabled": false
          }
        }
      }
    },
    "/accounts/self/member-invitations": {
      "post": {
        "operationId": "inviteMembers",
        "security": [
          {
            "oauth2": [
              "all"
            ]
          },
          {
            "personal_access_token": [
              "fax:all:edit",
              "fax:member:edit"
            ]
          }
        ],
        "summary": "Invite corporate members",
        "description": "Invite new users to join your corporate account by sending them email invitations (maximum 10 per request). Only corporate admins with appropriate permissions can use this endpoint. (Permitted scopes: **fax:all:edit**, **fax:member:edit**)",
        "tags": [
          "Accounts"
        ],
        "requestBody": {
          "description": "List of email addresses to invite",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InvitationEmails"
              },
              "examples": {
                "single": {
                  "summary": "Invite a single user",
                  "value": [
                    "newuser@example.com"
                  ]
                },
                "multiple": {
                  "summary": "Invite multiple users",
                  "value": [
                    "user1@example.com",
                    "user2@example.com",
                    "user3@example.com"
                  ]
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Invitations sent successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Invitations sent successfully"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "409": {
            "description": "One or more emails are already registered",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "user_exists"
                    },
                    "description": {
                      "type": "string",
                      "example": "One or more emails are already registered"
                    },
                    "existing_emails": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "example": [
                        "existing@example.com"
                      ]
                    }
                  }
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "x-code-samples": [
          {
            "lang": "Python",
            "source": "import faxplus\nfrom faxplus.rest import ApiException\n\n# Configure API client\nconfiguration = faxplus.Configuration(\n    access_token='YOUR_ACCESS_TOKEN'\n)\n\nwith faxplus.ApiClient(configuration) as api_client:\n    api_client.default_headers['x-fax-clientid'] = 'YOUR_CLIENT_ID'\n    api_instance = faxplus.AccountsApi(api_client)\n    \n    emails = [\"user1@example.com\", \"user2@example.com\"]\n    \n    try:\n        response = api_instance.invite_members(emails)\n        print(\"Invitations sent successfully\")\n    except ApiException as e:\n        print(f\"Exception: {e}\")"
          },
          {
            "lang": "cURL",
            "source": "curl -X POST 'https://restapi.fax.plus/v3/accounts/self/member-invitations' \\\n  -H 'Authorization: Bearer YOUR_ACCESS_TOKEN' \\\n  -H 'x-fax-clientid: YOUR_CLIENT_ID' \\\n  -H 'Content-Type: application/json' \\\n  -d '[\"user1@example.com\", \"user2@example.com\"]'"
          }
        ],
        "x-mint": {
          "mcp": {
            "enabled": false
          }
        }
      },
      "patch": {
        "operationId": "resendInvitations",
        "security": [
          {
            "oauth2": [
              "all"
            ]
          },
          {
            "personal_access_token": [
              "fax:all:edit",
              "fax:member:edit"
            ]
          }
        ],
        "summary": "Resend corporate member invitations",
        "description": "Resend email invitations to users who have not yet signed up for your corporate account (maximum 10 per request). Only corporate admins with appropriate permissions can use this endpoint. (Permitted scopes: **fax:all:edit**, **fax:member:edit**)",
        "tags": [
          "Accounts"
        ],
        "requestBody": {
          "description": "List of email addresses to resend invitations to",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InvitationEmails"
              },
              "examples": {
                "single": {
                  "summary": "Resend to a single user",
                  "value": [
                    "pending@example.com"
                  ]
                },
                "multiple": {
                  "summary": "Resend to multiple users",
                  "value": [
                    "pending1@example.com",
                    "pending2@example.com"
                  ]
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Invitations resent successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Invitations resent successfully"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "x-code-samples": [
          {
            "lang": "Python",
            "source": "import faxplus\nfrom faxplus.rest import ApiException\n\n# Configure API client\nconfiguration = faxplus.Configuration(\n    access_token='YOUR_ACCESS_TOKEN'\n)\n\nwith faxplus.ApiClient(configuration) as api_client:\n    api_client.default_headers['x-fax-clientid'] = 'YOUR_CLIENT_ID'\n    api_instance = faxplus.AccountsApi(api_client)\n    \n    emails = [\"pending1@example.com\", \"pending2@example.com\"]\n    \n    try:\n        response = api_instance.resend_invitations(emails)\n        print(\"Invitations resent successfully\")\n    except ApiException as e:\n        print(f\"Exception: {e}\")"
          },
          {
            "lang": "cURL",
            "source": "curl -X PATCH 'https://restapi.fax.plus/v3/accounts/self/member-invitations' \\\n  -H 'Authorization: Bearer YOUR_ACCESS_TOKEN' \\\n  -H 'x-fax-clientid: YOUR_CLIENT_ID' \\\n  -H 'Content-Type: application/json' \\\n  -d '[\"pending1@example.com\", \"pending2@example.com\"]'"
          }
        ],
        "x-mint": {
          "mcp": {
            "enabled": false
          }
        }
      }
    },
    "/accounts/{user_id}/numbers": {
      "get": {
        "operationId": "listNumbers",
        "security": [
          {
            "oauth2": [
              "all"
            ]
          },
          {
            "personal_access_token": [
              "fax:all:read",
              "fax:numbers:read"
            ]
          }
        ],
        "summary": "List phone numbers",
        "description": "List your purchased/assigned phone numbers. For corporate members all assigned numbers will be returned, while for the corporate admin, all purchased numbers. (Permitted scopes: **fax:all:read**, **fax:numbers:read**)",
        "tags": [
          "Numbers"
        ],
        "parameters": [
          {
            "description": "ID of the user to get numbers for. Use 'self' for your own account, or provide a specific user ID for corporate member accounts.",
            "name": "user_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "default": "self"
            },
            "example": "self"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/NumberList"
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "x-mint": {
          "mcp": {
            "enabled": true,
            "name": "list-numbers",
            "description": "List your purchased or assigned phone numbers.\n\n**Authentication:** When using this tool via MCP, authentication is handled automatically by your MCP server configuration. Configure your Personal Access Token (PAT) in your MCP client settings - you don't need to pass authentication parameters manually.\n\n**MCP Tool Usage:**\n- Your numbers: `listNumbers(user_id='self')`\n- Member's numbers: `listNumbers(user_id='<user_id>')`\n\n**Required Parameters:**\n- user_id: Use 'self' for your own account, or provide a user ID for corporate members\n\n**Notes:**\n- Corporate members: Returns all assigned numbers\n- Corporate admin: Returns all purchased numbers\n\n(Requires scopes: oauth2:all, personal_access_token:fax:all:read, personal_access_token:fax:numbers:read)"
          }
        }
      }
    },
    "/accounts/{user_id}/numbers/{number}": {
      "get": {
        "operationId": "getNumber",
        "security": [
          {
            "oauth2": [
              "all"
            ]
          },
          {
            "personal_access_token": [
              "fax:all:read",
              "fax:numbers:read"
            ]
          }
        ],
        "summary": "Get number information",
        "description": "Get information about a single purchased/assigned fax number (Permitted scopes: **fax:all:read**, **fax:numbers:read**)",
        "tags": [
          "Numbers"
        ],
        "parameters": [
          {
            "description": "ID of the number owner",
            "name": "user_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "default": "self"
            },
            "example": "23415ufasx8df7"
          },
          {
            "description": "Fax number to get information about",
            "name": "number",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "+123417543010"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Number"
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "x-mint": {
          "mcp": {
            "enabled": true,
            "name": "get-number",
            "description": "Get information about a specific fax number.\n\n**Authentication:** When using this tool via MCP, authentication is handled automatically by your MCP server configuration. Configure your Personal Access Token (PAT) in your MCP client settings - you don't need to pass authentication parameters manually.\n\n**MCP Tool Usage:**\n- Call: `getNumber(user_id='self', number='+1234567890')`\n\n**Required Parameters:**\n- user_id: Use 'self' for your own account, or provide a user ID for corporate members\n- number: The fax number (e.g., '+1234567890')\n\n**Returns:**\n- Number details including status, assignment, acquisition date, and notifications\n\n(Requires scopes: oauth2:all, personal_access_token:fax:all:read, personal_access_token:fax:numbers:read)"
          }
        }
      },
      "put": {
        "operationId": "updateNumber",
        "security": [
          {
            "oauth2": [
              "all"
            ]
          },
          {
            "personal_access_token": [
              "fax:all:edit",
              "fax:numbers:edit"
            ]
          }
        ],
        "summary": "Assign number",
        "description": "Assign fax number to a corporate member (Permitted scopes: **fax:all:edit**, **fax:numbers:edit**)",
        "tags": [
          "Numbers"
        ],
        "parameters": [
          {
            "description": "ID of the number owner. Use 'self' for your own account, or provide a specific user ID to assign to a corporate member.",
            "name": "user_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "default": "self"
            },
            "example": "self"
          },
          {
            "description": "Fax number to update",
            "name": "number",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "+123417543010"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/PayloadNumberModification"
        },
        "responses": {
          "204": {
            "description": "Assign an already purchased number to your members"
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "x-mint": {
          "mcp": {
            "enabled": false
          }
        }
      },
      "delete": {
        "operationId": "revokeNumber",
        "security": [
          {
            "oauth2": [
              "all"
            ]
          },
          {
            "personal_access_token": [
              "fax:all:edit",
              "fax:numbers:edit"
            ]
          }
        ],
        "summary": "Revoke number",
        "description": "Revoke fax number from a corporate member. To revoke your own number use self as a user_id. (Permitted scopes: **fax:all:edit**, **fax:numbers:edit**)",
        "tags": [
          "Numbers"
        ],
        "parameters": [
          {
            "description": "ID of the user to revoke the number from. Use 'self' for your own account, or provide a specific user ID for corporate member accounts. Number cannot be removed from the admin.",
            "name": "user_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "default": "self"
            },
            "example": "self"
          },
          {
            "description": "Fax number to remove members from",
            "name": "number",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "+123417543010"
          }
        ],
        "responses": {
          "204": {
            "description": "Revoke number from member that owns fax number"
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "x-mint": {
          "mcp": {
            "enabled": false
          }
        }
      }
    },
    "/accounts/{user_id}/faxes": {
      "get": {
        "operationId": "listFaxes",
        "security": [
          {
            "oauth2": [
              "all"
            ]
          },
          {
            "personal_access_token": [
              "fax:all:read",
              "fax:fax:read"
            ]
          }
        ],
        "summary": "List fax records",
        "description": "Get your own or your subordinate's faxes list. (Permitted scopes: **fax:all:read**, **fax:fax:read**)",
        "tags": [
          "Faxes"
        ],
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "default": "self"
            },
            "description": "User ID. Use 'self' for your own account, or provide a specific user ID for corporate member accounts.",
            "example": "self"
          },
          {
            "in": "query",
            "name": "category",
            "schema": {
              "type": "string",
              "enum": [
                "inbox",
                "sent",
                "spam"
              ],
              "default": "inbox"
            },
            "required": false,
            "description": "Category parameter. Valid string values: **inbox** (received faxes), **sent** (outgoing faxes), or **spam** (spam faxes). Optional, defaults to 'inbox'.",
            "example": "inbox"
          },
          {
            "in": "query",
            "name": "after",
            "schema": {
              "type": "string",
              "pattern": "^[0-9]{4}-[0-9]{2}-[0-9]{2} [0-9]{2}:[0-9]{2}:[0-9]{2}"
            },
            "required": false,
            "description": "Start date to get records from that date. Format: *YYYY-MM-DD HH:mm:ss* (e.g., '2018-01-01 00:00:00'). Optional, if omitted returns all records from the beginning.",
            "example": "2018-01-01 00:00:00"
          },
          {
            "in": "query",
            "name": "before",
            "schema": {
              "type": "string",
              "pattern": "^[0-9]{4}-[0-9]{2}-[0-9]{2} [0-9]{2}:[0-9]{2}:[0-9]{2}"
            },
            "required": false,
            "description": "End date to get records before that date. Format: *YYYY-MM-DD HH:mm:ss* (e.g., '2020-01-01 00:00:00'). Optional, if omitted returns all records up to the current time.",
            "example": "2020-01-01 00:00:00"
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer",
              "maximum": 50,
              "minimum": 1,
              "default": 50
            },
            "required": false,
            "description": "Maximum number of fax records to return per request. Must be between 1 and 50. Optional, defaults to 50. Use with 'offset' for pagination.",
            "example": 50
          },
          {
            "in": "query",
            "name": "offset",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 2147483647,
              "default": 0
            },
            "required": false,
            "description": "Offset for pagination. Specifies the number of records to skip before starting to return records. Optional, defaults to 0.",
            "example": 0
          },
          {
            "in": "query",
            "name": "sort_by",
            "schema": {
              "type": "string",
              "enum": [
                "date",
                "from",
                "to",
                "comment",
                "pages"
              ]
            },
            "required": false,
            "description": "Field to sort the results by. Valid values: **date**, **from**, **to**, **comment**, **pages**. Optional.",
            "example": "date"
          },
          {
            "in": "query",
            "name": "order",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "asc"
            },
            "required": false,
            "description": "Order of the sorting. Valid values: **asc** for ascending, **desc** for descending. Optional, defaults to 'asc'.",
            "example": "asc"
          },
          {
            "in": "query",
            "name": "in_progress",
            "schema": {
              "type": "boolean",
              "default": false
            },
            "required": false,
            "description": "Return in-progress incoming faxes. Optional, defaults to false. This functionality can be enabled on request.",
            "example": true
          },
          {
            "in": "query",
            "name": "status",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/FaxStatus"
              }
            },
            "style": "form",
            "explode": false,
            "required": false,
            "description": "Filter by transmission status. Comma-separated list of valid fax statuses",
            "example": [
              "success",
              "partially_received"
            ]
          },
          {
            "in": "query",
            "name": "from_number",
            "schema": {
              "type": "string",
              "pattern": "^[+][1-9][0-9]{1,14}$",
              "minLength": 2,
              "maxLength": 16
            },
            "required": false,
            "description": "Filter by source/from fax number in E.164 format",
            "example": "+12025551234"
          },
          {
            "in": "query",
            "name": "to_number",
            "schema": {
              "type": "string",
              "pattern": "^[+][1-9][0-9]{1,14}$",
              "minLength": 2,
              "maxLength": 16
            },
            "required": false,
            "description": "Filter by destination/to fax number in E.164 format",
            "example": "+19876543210"
          },
          {
            "in": "query",
            "name": "is_read",
            "schema": {
              "type": "boolean"
            },
            "required": false,
            "description": "Filter by read status. **true** for read faxes, **false** for unread faxes",
            "example": false
          },
          {
            "in": "query",
            "name": "min_pages",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 9999
            },
            "required": false,
            "description": "Filter faxes with at least this many pages",
            "example": 1
          },
          {
            "in": "query",
            "name": "max_pages",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 9999
            },
            "required": false,
            "description": "Filter faxes with at most this many pages",
            "example": 10
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/FaxList"
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "x-mint": {
          "mcp": {
            "enabled": true,
            "name": "list-faxes",
            "description": "List fax records for a user. Returns paginated results.\n\n**Authentication:** When using this tool via MCP, authentication is handled automatically by your MCP server configuration. Configure your Personal Access Token (PAT) in your MCP client settings - you don't need to pass authentication parameters manually.\n\n**MCP Tool Usage Examples:**\n- List inbox faxes: `listFaxes(user_id='self', category='inbox', after='2024-01-01 00:00:00', before='2024-12-31 23:59:59', limit=50, offset=0, sort_by='date', order='asc', in_progress=false)`\n- List sent faxes: `listFaxes(user_id='self', category='sent', after='2024-01-01 00:00:00', before='2024-12-31 23:59:59', limit=50, offset=0, sort_by='date', order='desc', in_progress=false)`\n- All faxes (no date filter): `listFaxes(user_id='self', category='inbox', after='2018-01-01 00:00:00', before='2099-12-31 23:59:59', limit=50, offset=0, sort_by='date', order='asc', in_progress=false)`\n\n**Required Parameters:**\n- user_id: Use 'self' for your own account\n- category: 'inbox' (received), 'sent' (outgoing), or 'spam'\n- after: Start date in format YYYY-MM-DD HH:mm:ss (e.g., '2024-01-01 00:00:00')\n- before: End date in format YYYY-MM-DD HH:mm:ss (e.g., '2024-12-31 23:59:59')\n- limit: Max records per request, 1-50 (use 50 for max)\n- offset: Pagination offset (use 0 for first page)\n- sort_by: 'date', 'from', 'to', 'comment', or 'pages'\n- order: 'asc' or 'desc'\n- in_progress: Boolean (use false normally)\n\n**Note:** Due to MCP limitations, all parameters must be provided even though they have defaults in the API.\n\n(Requires scopes: oauth2:all, personal_access_token:fax:all:read, personal_access_token:fax:fax:read)"
          }
        }
      },
      "put": {
        "operationId": "bulkUpdateFaxes",
        "security": [
          {
            "oauth2": [
              "all"
            ]
          },
          {
            "personal_access_token": [
              "fax:all:edit",
              "fax:fax:edit"
            ]
          }
        ],
        "summary": "Bulk update fax records",
        "description": "Bulk update multiple fax records (mark as read/unread and/or update comment). Maximum 100 fax IDs per request. Duplicate IDs are automatically ignored. (Permitted scopes: **fax:all:edit**, **fax:fax:edit**)",
        "tags": [
          "Faxes"
        ],
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "default": "self"
            },
            "description": "User ID. Use 'self' for your own account, or provide a specific user ID for corporate member accounts.",
            "example": "self"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/BulkFaxUpdateRequest"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/BulkOperationResultFax"
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "x-mint": {
          "mcp": {
            "enabled": false
          }
        }
      },
      "delete": {
        "operationId": "bulkDeleteFaxes",
        "security": [
          {
            "oauth2": [
              "all"
            ]
          },
          {
            "personal_access_token": [
              "fax:all:edit",
              "fax:fax:edit"
            ]
          }
        ],
        "summary": "Bulk delete fax records",
        "description": "Bulk delete multiple fax records. Maximum 50 fax IDs per request. Duplicate IDs are automatically ignored. (Permitted scopes: **fax:all:edit**, **fax:fax:edit**)",
        "tags": [
          "Faxes"
        ],
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "default": "self"
            },
            "description": "User ID. Use 'self' for your own account, or provide a specific user ID for corporate member accounts.",
            "example": "self"
          },
          {
            "name": "ids",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 2000
            },
            "description": "Comma-separated list of fax IDs to delete (max 50 unique IDs). Duplicates are automatically ignored.",
            "example": "a1b2c3d4e5f6789012345678901234ab,b2c3d4e5f6789012345678901234abc,c3d4e5f6789012345678901234abcd"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/BulkOperationResultFax"
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "x-mint": {
          "mcp": {
            "enabled": false
          }
        }
      }
    },
    "/accounts/{user_id}/faxes/{fax_id}": {
      "get": {
        "operationId": "getFax",
        "security": [
          {
            "oauth2": [
              "all"
            ]
          },
          {
            "personal_access_token": [
              "fax:all:read",
              "fax:fax:read"
            ]
          }
        ],
        "summary": "Get a fax record",
        "description": "Get a specific fax record details like duration, pages etc. (Permitted scopes: **fax:all:read**, **fax:fax:read**)",
        "tags": [
          "Faxes"
        ],
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "default": "self"
            },
            "description": "User ID. Use 'self' for your own account, or provide a specific user ID for corporate member accounts.",
            "example": "self"
          },
          {
            "name": "fax_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "132esd4cs31"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Fax"
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "x-mint": {
          "mcp": {
            "enabled": true,
            "name": "get-fax",
            "description": "Get details for a specific fax record.\n\n**Authentication:** When using this tool via MCP, authentication is handled automatically by your MCP server configuration. Configure your Personal Access Token (PAT) in your MCP client settings - you don't need to pass authentication parameters manually.\n\n**MCP Tool Usage:**\n- Call: `getFax(user_id='self', fax_id='<fax_id>')`\n\n**Required Parameters:**\n- user_id: Use 'self' for your own account, or provide a user ID for corporate members\n- fax_id: The unique identifier of the fax\n\n**Returns:**\n- Fax details including duration, pages, status, cost, timestamps, and more\n\n(Requires scopes: oauth2:all, personal_access_token:fax:all:read, personal_access_token:fax:fax:read)"
          }
        }
      },
      "put": {
        "operationId": "updateFax",
        "security": [
          {
            "oauth2": [
              "all"
            ]
          },
          {
            "personal_access_token": [
              "fax:all:edit",
              "fax:fax:edit"
            ]
          }
        ],
        "summary": "Modify fax record",
        "description": "You can modify a fax record's comment or mark it as read. (Permitted scopes: **fax:all:edit**, **fax:fax:edit**)",
        "tags": [
          "Faxes"
        ],
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "default": "self"
            },
            "description": "User ID. Use 'self' for your own account, or provide a specific user ID for corporate member accounts.",
            "example": "self"
          },
          {
            "name": "fax_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "132esd4cs31"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/PayloadFaxModification"
        },
        "responses": {
          "204": {
            "description": "Fax updated successfully"
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "x-mint": {
          "mcp": {
            "enabled": false
          }
        }
      },
      "delete": {
        "operationId": "deleteFax",
        "security": [
          {
            "oauth2": [
              "all"
            ]
          },
          {
            "personal_access_token": [
              "fax:all:edit",
              "fax:fax:edit"
            ]
          }
        ],
        "summary": "Delete a fax",
        "description": "Delete a specific fax record by providing its id. (Permitted scopes: **fax:all:edit**, **fax:fax:edit**)",
        "tags": [
          "Faxes"
        ],
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "default": "self"
            },
            "description": "User ID. Use 'self' for your own account, or provide a specific user ID for corporate member accounts.",
            "example": "self"
          },
          {
            "name": "fax_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "132esd4cs31"
          }
        ],
        "responses": {
          "204": {
            "description": "204 will be return on successful Fax modification",
            "content": {
              "application/json": {}
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "x-mint": {
          "mcp": {
            "enabled": false
          }
        }
      }
    },
    "/accounts/{user_id}/files": {
      "post": {
        "operationId": "uploadFile",
        "security": [
          {
            "oauth2": [
              "all"
            ]
          },
          {
            "personal_access_token": [
              "fax:all:edit",
              "fax:file:edit"
            ]
          }
        ],
        "summary": "Upload a file",
        "description": "Before sending a fax you need to upload your files using this API. In order to upload your fax file, you have to send a `multipart/form-data` request with your file. Set the `name` to `fax_file`, `filename` to your file's name with extension, and the Content-Type to the file's MIME type. In most cases, the `filename` directive will be automatically added by your library of choice. If the upload was successful you would receive a `file_path` which you can use to send your fax. (Permitted scopes: **fax:all:edit**, **fax:file:edit**)",
        "tags": [
          "Files"
        ],
        "parameters": [
          {
            "name": "format",
            "in": "query",
            "required": false,
            "deprecated": true,
            "schema": {
              "$ref": "#/components/schemas/FileType"
            },
            "description": "Can be 'pdf' or 'tiff'"
          },
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "default": "self"
            },
            "description": "User ID. Use 'self' for your own account, or provide a specific user ID for corporate member accounts.",
            "example": "self"
          }
        ],
        "requestBody": {
          "description": "A file to be uploaded. The file can be in PDF, TIFF, Word, Excel, RTF or image format.",
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/File"
              }
            }
          }
        },
        "responses": {
          "201": {
            "$ref": "#/components/responses/FilePath"
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "x-mint": {
          "mcp": {
            "enabled": false
          }
        }
      }
    },
    "/accounts/{user_id}/files/{fax_id}": {
      "get": {
        "operationId": "getFile",
        "security": [
          {
            "oauth2": [
              "all"
            ]
          },
          {
            "personal_access_token": [
              "fax:all:read",
              "fax:file:read"
            ]
          }
        ],
        "summary": "Download fax file",
        "description": "Download sent or received fax file. (Permitted scopes: **fax:all:read**, **fax:file:read**)",
        "tags": [
          "Files"
        ],
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "default": "self"
            },
            "description": "User ID. Use 'self' for your own account, or provide a specific user ID for corporate member accounts.",
            "example": "self"
          },
          {
            "name": "fax_id",
            "in": "path",
            "required": true,
            "description": "ID of the fax which you want to download",
            "schema": {
              "type": "string"
            },
            "example": "132esd4cs31"
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "deprecated": true,
            "schema": {
              "type": "string",
              "enum": [
                "tiff",
                "pdf"
              ]
            },
            "description": "File format for the response. Deprecated - use Accept header instead. Optional."
          }
        ],
        "responses": {
          "200": {
            "description": "Fax file content in corresponding mimetype e.g. application/pdf",
            "content": {
              "application/pdf": {
                "schema": {
                  "$ref": "#/components/schemas/Binary"
                }
              },
              "image/tiff": {
                "schema": {
                  "$ref": "#/components/schemas/Binary"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "x-mint": {
          "mcp": {
            "enabled": true,
            "name": "get-file",
            "description": "Download a sent or received fax file.\n\n**IMPORTANT FOR AI AGENTS:** This tool downloads a BINARY FILE (PDF/TIFF). Call this tool to download the file, then notify the user that it's ready for viewing. DO NOT attempt to display or include the binary content in your response. Provide metadata like the fax ID and format.\n\n**Authentication:** When using this tool via MCP, authentication is handled automatically by your MCP server configuration. Configure your Personal Access Token (PAT) in your MCP client settings - you don't need to pass authentication parameters manually.\n\n**MCP Tool Usage:**\n- Call: `getFile(user_id='self', fax_id='<fax_id>', format='pdf')`\n\n**Required Parameters:**\n- user_id: Use 'self' for your own account, or provide a user ID for corporate members\n- fax_id: The unique identifier of the fax\n- format: 'pdf' or 'tiff' (use 'pdf' for most cases)\n\n**Note:** Due to MCP limitations, all parameters including `format` must be provided.\n\n**Returns:** Binary file content (PDF or TIFF) that will be downloaded to the user's system.\n\n(Requires scopes: oauth2:all, personal_access_token:fax:all:read, personal_access_token:fax:file:read)"
          }
        }
      }
    },
    "/accounts/{user_id}/files/{fax_id}/page/{page_num}": {
      "get": {
        "operationId": "getFilePage",
        "security": [
          {
            "oauth2": [
              "all"
            ]
          },
          {
            "personal_access_token": [
              "fax:all:read",
              "fax:file:read"
            ]
          }
        ],
        "summary": "Download single fax page",
        "description": "Download single page (starting with 1) of a sent or received fax file. (Permitted scopes: **fax:all:read**, **fax:file:read**)",
        "tags": [
          "Files"
        ],
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "default": "self"
            },
            "description": "User ID. Use 'self' for your own account, or provide a specific user ID for corporate member accounts.",
            "example": "self"
          },
          {
            "name": "fax_id",
            "in": "path",
            "required": true,
            "description": "ID of the fax which you want to download",
            "schema": {
              "type": "string"
            },
            "example": "132esd4cs31"
          },
          {
            "name": "page_num",
            "in": "path",
            "required": true,
            "description": "Number of the page you want to download, starting with 1",
            "schema": {
              "type": "integer"
            },
            "example": "1"
          }
        ],
        "responses": {
          "200": {
            "description": "Fax file page as TIFF",
            "content": {
              "image/tiff": {
                "schema": {
                  "$ref": "#/components/schemas/Binary"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "x-mint": {
          "mcp": {
            "enabled": true,
            "name": "get-file-page",
            "description": "Download a single page from a fax file.\n\n**IMPORTANT FOR AI AGENTS:** This tool downloads a BINARY IMAGE FILE (TIFF). Call this tool to download the page, then notify the user that page [page_num] is ready for viewing. DO NOT attempt to display or include the binary content in your response.\n\n**Authentication:** When using this tool via MCP, authentication is handled automatically by your MCP server configuration. Configure your Personal Access Token (PAT) in your MCP client settings - you don't need to pass authentication parameters manually.\n\n**MCP Tool Usage:**\n- Call: `getFilePage(user_id='self', fax_id='<fax_id>', page_num=1)`\n\n**Required Parameters:**\n- user_id: Use 'self' for your own account, or provide a user ID for corporate members\n- fax_id: The unique identifier of the fax\n- page_num: Page number to download (starting with 1)\n\n**Returns:** Single page as TIFF image that will be downloaded to the user's system.\n\n(Requires scopes: oauth2:all, personal_access_token:fax:all:read, personal_access_token:fax:file:read)"
          }
        }
      }
    },
    "/accounts/{user_id}/report/{fax_id}": {
      "get": {
        "operationId": "getFaxReport",
        "security": [
          {
            "oauth2": [
              "all"
            ]
          },
          {
            "personal_access_token": [
              "fax:all:read",
              "fax:fax:read"
            ]
          }
        ],
        "summary": "Get fax confirmation report",
        "description": "Retrieve fax confirmation report (Permitted scopes: **fax:all:read**, **fax:fax:read**)",
        "tags": [
          "Files"
        ],
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "default": "self"
            },
            "description": "User ID. Use 'self' for your own account, or provide a specific user ID for corporate member accounts.",
            "example": "self"
          },
          {
            "name": "fax_id",
            "in": "path",
            "required": true,
            "description": "ID of the fax which you want to download",
            "schema": {
              "type": "string"
            },
            "example": "132esd4cs31"
          }
        ],
        "responses": {
          "200": {
            "description": "Confirmation fax report in PDF",
            "content": {
              "application/pdf": {
                "schema": {
                  "$ref": "#/components/schemas/Binary"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "x-mint": {
          "mcp": {
            "enabled": true,
            "name": "get-fax-report",
            "description": "Retrieve a fax confirmation report.\n\n**Authentication:** When using this tool via MCP, authentication is handled automatically by your MCP server configuration. Configure your Personal Access Token (PAT) in your MCP client settings - you don't need to pass authentication parameters manually.\n\n**MCP Tool Usage:**\n- Call: `getFaxReport(user_id='self', fax_id='<fax_id>')`\n\n**Required Parameters:**\n- user_id: Use 'self' for your own account, or provide a user ID for corporate members\n- fax_id: The unique identifier of the fax\n\n**Returns:**\n- Confirmation report as PDF\n\n(Requires scopes: oauth2:all, personal_access_token:fax:all:read, personal_access_token:fax:fax:read)"
          }
        }
      }
    },
    "/accounts/{user_id}/thumbnail/{fax_id}": {
      "get": {
        "operationId": "getFaxThumbnail",
        "security": [
          {
            "oauth2": [
              "all"
            ]
          },
          {
            "personal_access_token": [
              "fax:all:read",
              "fax:fax:read"
            ]
          }
        ],
        "summary": "Get fax thumbnail",
        "description": "Retrieve fax thumbnail (Permitted scopes: **fax:all:read**, **fax:fax:read**)",
        "tags": [
          "Files"
        ],
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "default": "self"
            },
            "description": "User ID. Use 'self' for your own account, or provide a specific user ID for corporate member accounts.",
            "example": "self"
          },
          {
            "name": "fax_id",
            "in": "path",
            "required": true,
            "description": "ID of the fax which you want to download",
            "schema": {
              "type": "string"
            },
            "example": "132esd4cs31"
          }
        ],
        "responses": {
          "200": {
            "description": "Fax thumbnail in JPEG",
            "content": {
              "application/pdf": {
                "schema": {
                  "$ref": "#/components/schemas/Binary"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "x-mint": {
          "mcp": {
            "enabled": true,
            "name": "get-fax-thumbnail",
            "description": "Retrieve a fax thumbnail image.\n\n**Authentication:** When using this tool via MCP, authentication is handled automatically by your MCP server configuration. Configure your Personal Access Token (PAT) in your MCP client settings - you don't need to pass authentication parameters manually.\n\n**MCP Tool Usage:**\n- Call: `getFaxThumbnail(user_id='self', fax_id='<fax_id>')`\n\n**Required Parameters:**\n- user_id: Use 'self' for your own account, or provide a user ID for corporate members\n- fax_id: The unique identifier of the fax\n\n**Returns:**\n- Thumbnail image as JPEG\n\n(Requires scopes: oauth2:all, personal_access_token:fax:all:read, personal_access_token:fax:fax:read)"
          }
        }
      }
    },
    "/accounts/{user_id}/outbox": {
      "get": {
        "operationId": "listOutboxFaxes",
        "security": [
          {
            "oauth2": [
              "all"
            ]
          },
          {
            "personal_access_token": [
              "fax:all:read",
              "fax:fax:read"
            ]
          }
        ],
        "summary": "List faxes in the outbox",
        "description": "Get a list of the faxes in the outbox which were not yet sent. (Permitted scopes: **fax:all:read**, **fax:fax:read**)",
        "tags": [
          "Outbox"
        ],
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "default": "self"
            },
            "description": "User ID. Use 'self' for your own account, or provide a specific user ID for corporate member accounts.",
            "example": "self"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/OutboxList"
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "x-mint": {
          "mcp": {
            "enabled": true,
            "name": "list-outbox-faxes",
            "description": "List faxes in the outbox waiting to be sent.\n\n**Authentication:** When using this tool via MCP, authentication is handled automatically by your MCP server configuration. Configure your Personal Access Token (PAT) in your MCP client settings - you don't need to pass authentication parameters manually.\n\n**MCP Tool Usage:**\n- Call: `listOutboxFaxes(user_id='self')`\n\n**Required Parameters:**\n- user_id: Use 'self' for your own account, or provide a user ID for corporate members\n\n**Returns:**\n- List of outbox fax records that have not yet been sent\n\n(Requires scopes: oauth2:all, personal_access_token:fax:all:read, personal_access_token:fax:fax:read)"
          }
        }
      },
      "post": {
        "operationId": "sendFax",
        "security": [
          {
            "oauth2": [
              "all"
            ]
          },
          {
            "personal_access_token": [
              "fax:all:edit",
              "fax:fax:edit"
            ]
          }
        ],
        "summary": "Send a fax",
        "description": "Send a fax to one or more destinations. For corporate members without a fax number assigned set the 'from' parameter to 'no_number'. (Permitted scopes: **fax:all:edit**, **fax:fax:edit**). To randomly select one of the available numbers per recipient, use comma-separated string.",
        "tags": [
          "Outbox"
        ],
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "default": "self"
            },
            "description": "User ID. Use 'self' for your own account, or provide a specific user ID for corporate member accounts.",
            "example": "self"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/Outbox"
        },
        "responses": {
          "201": {
            "$ref": "#/components/responses/SendFax"
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "x-mint": {
          "mcp": {
            "enabled": false
          }
        }
      },
      "put": {
        "operationId": "bulkUpdateOutboxFaxes",
        "security": [
          {
            "oauth2": [
              "all"
            ]
          },
          {
            "personal_access_token": [
              "fax:all:edit",
              "fax:fax:edit"
            ]
          }
        ],
        "summary": "Bulk update outbox faxes",
        "description": "Bulk update multiple outbox fax records (update comment). Maximum 100 outbox fax IDs per request. Duplicate IDs are automatically ignored. Jobs in 'sending' status cannot be updated and will return a 409 status code. (Permitted scopes: **fax:all:edit**, **fax:fax:edit**)",
        "tags": [
          "Outbox"
        ],
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "default": "self"
            },
            "description": "User ID. Use 'self' for your own account, or provide a specific user ID for corporate member accounts.",
            "example": "self"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/BulkOutboxUpdateRequest"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/BulkOperationResultOutbox"
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "x-mint": {
          "mcp": {
            "enabled": false
          }
        }
      },
      "delete": {
        "operationId": "bulkDeleteOutboxFaxes",
        "security": [
          {
            "oauth2": [
              "all"
            ]
          },
          {
            "personal_access_token": [
              "fax:all:edit",
              "fax:fax:edit"
            ]
          }
        ],
        "summary": "Bulk delete outbox faxes",
        "description": "Bulk delete (cancel) multiple outbox fax records. Maximum 10 outbox fax IDs per request. Duplicate IDs are automatically ignored. (Permitted scopes: **fax:all:edit**, **fax:fax:edit**)",
        "tags": [
          "Outbox"
        ],
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "default": "self"
            },
            "description": "User ID. Use 'self' for your own account, or provide a specific user ID for corporate member accounts.",
            "example": "self"
          },
          {
            "name": "ids",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 400
            },
            "description": "Comma-separated list of outbox fax IDs to delete (max 10 unique IDs, each ID is max 32 characters). Duplicates are automatically ignored.",
            "example": "a1b2c3d4e5f6789012345678901234ab,b2c3d4e5f6789012345678901234abc"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/BulkOperationResultOutbox"
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "x-mint": {
          "mcp": {
            "enabled": false
          }
        }
      }
    },
    "/accounts/{user_id}/outbox/{outbox_fax_id}": {
      "get": {
        "operationId": "getOutboxFax",
        "security": [
          {
            "oauth2": [
              "all"
            ]
          },
          {
            "personal_access_token": [
              "fax:all:read",
              "fax:fax:read"
            ]
          }
        ],
        "summary": "Get outgoing fax",
        "description": "Get specific details of a fax currently scheduled for sending. (Permitted scopes: **fax:all:read**, **fax:fax:read**)",
        "tags": [
          "Outbox"
        ],
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "default": "self"
            },
            "description": "User ID. Use 'self' for your own account, or provide a specific user ID for corporate member accounts.",
            "example": "self"
          },
          {
            "description": "ID of the outgoing fax to get",
            "name": "outbox_fax_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "132esd4cs31"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Outbox"
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "x-mint": {
          "mcp": {
            "enabled": true,
            "name": "get-outbox-fax",
            "description": "Get details of a fax scheduled for sending.\n\n**Authentication:** When using this tool via MCP, authentication is handled automatically by your MCP server configuration. Configure your Personal Access Token (PAT) in your MCP client settings - you don't need to pass authentication parameters manually.\n\n**MCP Tool Usage:**\n- Call: `getOutboxFax(user_id='self', outbox_fax_id='<fax_id>')`\n\n**Required Parameters:**\n- user_id: Use 'self' for your own account, or provide a user ID for corporate members\n- outbox_fax_id: The unique identifier of the outgoing fax\n\n**Returns:**\n- Details of the scheduled fax including status, recipients, files, and settings\n\n(Requires scopes: oauth2:all, personal_access_token:fax:all:read, personal_access_token:fax:fax:read)"
          }
        }
      },
      "delete": {
        "operationId": "deleteOutboxFax",
        "security": [
          {
            "oauth2": [
              "all"
            ]
          },
          {
            "personal_access_token": [
              "fax:all:edit",
              "fax:fax:edit"
            ]
          }
        ],
        "summary": "Delete an outgoing fax",
        "description": "Delete an outgoing fax that is being scheduled for sending. (Permitted scopes: **fax:all:edit**, **fax:fax:edit**)",
        "tags": [
          "Outbox"
        ],
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "default": "self"
            },
            "description": "User ID. Use 'self' for your own account, or provide a specific user ID for corporate member accounts.",
            "example": "self"
          },
          {
            "description": "ID of the outgoing fax to delete",
            "name": "outbox_fax_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "132esd4cs31"
          }
        ],
        "responses": {
          "204": {
            "description": "204 will be returned on successful fax deletion from outbox"
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "x-mint": {
          "mcp": {
            "enabled": false
          }
        }
      },
      "put": {
        "operationId": "updateOutboxFax",
        "security": [
          {
            "oauth2": [
              "all"
            ]
          },
          {
            "personal_access_token": [
              "fax:all:edit",
              "fax:fax:edit"
            ]
          }
        ],
        "summary": "Modify an outgoing fax",
        "description": "Modify an outgoing fax that is being scheduled for sending. (Permitted scopes: **fax:all:edit**, **fax:fax:edit**)",
        "tags": [
          "Outbox"
        ],
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "default": "self"
            },
            "description": "User ID. Use 'self' for your own account, or provide a specific user ID for corporate member accounts.",
            "example": "self"
          },
          {
            "description": "ID of the outgoing fax to update",
            "name": "outbox_fax_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "132esd4cs31"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/PayloadOutboxModification"
        },
        "responses": {
          "204": {
            "description": "204 will be returned on successful fax modification in outbox"
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "x-mint": {
          "mcp": {
            "enabled": false
          }
        }
      }
    },
    "/hooks": {
      "get": {
        "operationId": "getWebhooks",
        "security": [
          {
            "oauth2": [
              "all"
            ]
          },
          {
            "personal_access_token": [
              "fax:all:read",
              "fax:webhook:read"
            ]
          }
        ],
        "summary": "List user webhooks",
        "description": "Returns a list of currently registered webhooks for the requested **event**. (Permitted scopes: **fax:all:read**, **fax:webhook:read**)",
        "tags": [
          "Webhooks"
        ],
        "parameters": [
          {
            "name": "event",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/WebhookEventType"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/WebhookList"
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "x-mint": {
          "mcp": {
            "enabled": true,
            "name": "get-webhooks",
            "description": "Use this to list user webhooks. Requires scopes: oauth2:all, personal_access_token:fax:all:read, personal_access_token:fax:webhook:read.\n\nReturns a list of currently registered webhooks for the requested **event**. (Permitted scopes: **fax:all:read**, **fax:webhook:read**)"
          }
        }
      },
      "post": {
        "operationId": "createWebhook",
        "security": [
          {
            "oauth2": [
              "all"
            ]
          },
          {
            "personal_access_token": [
              "fax:all:edit",
              "fax:webhook:edit"
            ]
          }
        ],
        "summary": "Register new webhook",
        "description": "Register a new webhook which will be called on a specific event. See the WebhookCallback model. (Permitted scopes: **fax:all:edit**, **fax:webhook:edit**)",
        "tags": [
          "Webhooks"
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/Webhook"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/WebhookId"
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "x-mint": {
          "mcp": {
            "enabled": false
          }
        }
      }
    },
    "/hooks/{hook_id}": {
      "delete": {
        "operationId": "deleteWebhook",
        "security": [
          {
            "oauth2": [
              "all"
            ]
          },
          {
            "personal_access_token": [
              "fax:all:edit",
              "fax:webhook:edit"
            ]
          }
        ],
        "summary": "Delete webhook",
        "description": "Delete a webhook by its ID. (Permitted scopes: **fax:all:edit**, **fax:webhook:edit**)",
        "tags": [
          "Webhooks"
        ],
        "parameters": [
          {
            "description": "ID of the webhook to delete",
            "name": "hook_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "4d5331f94a00460d811c2f2ac64ae20b"
          }
        ],
        "responses": {
          "200": {
            "description": "Webhook was successfully deleted"
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "x-mint": {
          "mcp": {
            "enabled": false
          }
        }
      }
    },
    "/shop/balance": {
      "get": {
        "operationId": "getBalance",
        "security": [
          {
            "oauth2": [
              "all"
            ]
          },
          {
            "personal_access_token": [
              "fax:all:read",
              "fax:shop:read"
            ]
          }
        ],
        "summary": "Get account balance",
        "description": "Get your account balance. (Permitted scopes: **fax:all:read**, **fax:shop:read**)",
        "tags": [
          "Shop"
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Balance"
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "x-mint": {
          "mcp": {
            "enabled": true,
            "name": "get-balance",
            "description": "Get your account balance.\n\n**Authentication:** When using this tool via MCP, authentication is handled automatically by your MCP server configuration. Configure your Personal Access Token (PAT) in your MCP client settings - you don't need to pass authentication parameters manually.\n\n**MCP Tool Usage:**\n- Call: `getBalance()`\n\n**Notes:**\n- No parameters required\n\n**Returns:**\n- Account balance and credit information\n\n(Requires scopes: oauth2:all, personal_access_token:fax:all:read, personal_access_token:fax:shop:read)"
          }
        }
      }
    },
    "/shop/numbers/countries": {
      "get": {
        "operationId": "listCountries",
        "security": [
          {
            "oauth2": [
              "all"
            ]
          },
          {
            "personal_access_token": [
              "fax:all:read",
              "fax:shop:read"
            ]
          }
        ],
        "summary": "List countries",
        "description": "Get a list of countries where you can purchase fax numbers. (Permitted scopes: **fax:all:read**, **fax:shop:read**)",
        "tags": [
          "Shop"
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/NumbersAvailableCountries"
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "x-mint": {
          "mcp": {
            "enabled": true,
            "name": "list-countries",
            "description": "List countries where fax numbers can be purchased.\n\n**Authentication:** When using this tool via MCP, authentication is handled automatically by your MCP server configuration. Configure your Personal Access Token (PAT) in your MCP client settings - you don't need to pass authentication parameters manually.\n\n**MCP Tool Usage:**\n- Call: `listCountries()`\n\n**Notes:**\n- No parameters required\n\n**Returns:**\n- List of countries with ISO codes, names, and availability status\n\n(Requires scopes: oauth2:all, personal_access_token:fax:all:read, personal_access_token:fax:shop:read)"
          }
        }
      }
    },
    "/shop/numbers/countries/{country_code}/areas": {
      "get": {
        "operationId": "listAreas",
        "security": [
          {
            "oauth2": [
              "all"
            ]
          },
          {
            "personal_access_token": [
              "fax:all:read",
              "fax:shop:read"
            ]
          }
        ],
        "summary": "List areas",
        "description": "Get a list of areas where you can purchase fax numbers for a specific country. (Permitted scopes: **fax:all:read**, **fax:shop:read**)",
        "tags": [
          "Shop"
        ],
        "parameters": [
          {
            "name": "country_code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Country code (ISO 3166-1 alpha-2)"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/NumberAreasResponse"
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "x-mint": {
          "mcp": {
            "enabled": true,
            "name": "list-areas",
            "description": "List areas where fax numbers can be purchased for a specific country.\n\n**Authentication:** When using this tool via MCP, authentication is handled automatically by your MCP server configuration. Configure your Personal Access Token (PAT) in your MCP client settings - you don't need to pass authentication parameters manually.\n\n**MCP Tool Usage:**\n- Call: `listAreas(country_code='US')`\n\n**Required Parameters:**\n- country_code: ISO 3166-1 alpha-2 country code (e.g., 'US', 'CA', 'GB')\n\n**Returns:**\n- List of areas with codes, names, and setup costs\n\n(Requires scopes: oauth2:all, personal_access_token:fax:all:read, personal_access_token:fax:shop:read)"
          }
        }
      }
    },
    "/shop/numbers/countries/{country_code}/areas/{calling_code}/numbers": {
      "get": {
        "operationId": "listShopNumbers",
        "security": [
          {
            "oauth2": [
              "all"
            ]
          },
          {
            "personal_access_token": [
              "fax:all:read",
              "fax:shop:read"
            ]
          }
        ],
        "summary": "List available numbers",
        "description": "Get a list of available fax numbers for a specific area. (Permitted scopes: **fax:all:read**, **fax:shop:read**)",
        "tags": [
          "Shop"
        ],
        "parameters": [
          {
            "name": "country_code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Country code (ISO 3166-1 alpha-2)"
          },
          {
            "name": "calling_code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Area code"
          },
          {
            "name": "channel",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "random",
                "custom"
              ],
              "default": "random"
            },
            "description": "Channel to specify whether numbers should be 'random' or 'custom'. Optional, defaults to 'random'."
          },
          {
            "name": "contains",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "pattern": "^[0-9]*$"
            },
            "description": "If 'custom' is selected as the channel, this field allows specifying numbers that should appear in the phone number. Optional, only used when channel is 'custom'."
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/AvailableNumbersResponse"
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "x-mint": {
          "mcp": {
            "enabled": true,
            "name": "list-shop-numbers",
            "description": "Search for available fax numbers in a specific area.\n\n**Authentication:** When using this tool via MCP, authentication is handled automatically by your MCP server configuration. Configure your Personal Access Token (PAT) in your MCP client settings - you don't need to pass authentication parameters manually.\n\n**MCP Tool Usage:**\n- Random numbers: `listShopNumbers(country_code='US', calling_code='212', channel='random', contains='')`\n- Custom numbers: `listShopNumbers(country_code='US', calling_code='212', channel='custom', contains='1234')`\n\n**Required Parameters:**\n- country_code: ISO 3166-1 alpha-2 country code (e.g., 'US', 'CA')\n- calling_code: Area code (e.g., '212', '415')\n- channel: 'random' or 'custom' (use 'random' for any available numbers)\n- contains: Digits to appear in the phone number (use empty string '' when channel='random')\n\n**Note:** Due to MCP limitations, all parameters must be provided. Use `channel='random'` and `contains=''` for random number search.\n\n**Returns:**\n- List of available numbers with pricing information\n\n(Requires scopes: oauth2:all, personal_access_token:fax:all:read, personal_access_token:fax:shop:read)"
          }
        }
      }
    },
    "/shop/numbers/purchase": {
      "post": {
        "operationId": "purchaseNumber",
        "security": [
          {
            "oauth2": [
              "all"
            ]
          },
          {
            "personal_access_token": [
              "fax:all:edit",
              "fax:shop:edit"
            ]
          }
        ],
        "summary": "Purchase a number",
        "description": "Purchase an available fax number. (Permitted scopes: **fax:all:edit**, **fax:shop:edit**)",
        "tags": [
          "Shop"
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/PurchaseNumberRequest"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/PurchaseNumberResponse"
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "x-mint": {
          "mcp": {
            "enabled": false
          }
        }
      }
    },
    "/auth/token": {
      "get": {
        "operationId": "getTokenInfo",
        "summary": "Get token information",
        "description": "Returns metadata about the current access token including type, scopes, expiration date, and PAT-specific information if applicable. For PAT tokens, returns full metadata (id, name, preview, created/expiration dates, last used). For OAuth tokens, returns token type and scopes only.",
        "tags": [
          "Authentication"
        ],
        "security": [
          {
            "oauth2": []
          },
          {
            "personal_access_token": []
          }
        ],
        "responses": {
          "200": {
            "description": "Token information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenInfo"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "x-mint": {
          "mcp": {
            "enabled": true,
            "name": "get-token-info",
            "description": "Use this to get metadata about the current access token (type, scopes, expiration, etc.). Requires a valid access token (OAuth or PAT), no additional product scopes.\n\nReturns full token information including scopes, expiration date, and PAT-specific metadata if applicable. For OAuth tokens, returns token_type and scopes only."
          }
        }
      }
    },
    "/accounts/self/contacts": {
      "get": {
        "operationId": "listContacts",
        "security": [
          {
            "personal_access_token": [
              "fax:all:read"
            ]
          },
          {
            "oauth2": [
              "all"
            ]
          }
        ],
        "summary": "List contacts",
        "description": "Get user contacts with optional search, pagination, or retrieve specific contacts by IDs (Permitted scopes: **fax:all:read**)",
        "tags": [
          "Contacts"
        ],
        "parameters": [
          {
            "name": "ids",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated list of contact IDs to retrieve (max 50). When provided, other search/pagination parameters are ignored."
          },
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Search term to filter contacts by name, fax number, groups, or notes"
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            },
            "description": "Offset for pagination"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 50,
              "maximum": 50
            },
            "description": "Limit for pagination (max 50)"
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "name",
                "company",
                "creation_date",
                "modification_date"
              ],
              "default": "name"
            },
            "description": "Field to sort by"
          },
          {
            "name": "direction",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "asc"
            },
            "description": "Sort direction"
          },
          {
            "name": "shared",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            },
            "description": "If true, return shared/corporate contacts. If false, return personal contacts"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/ContactList"
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      },
      "post": {
        "operationId": "createContact",
        "security": [
          {
            "personal_access_token": [
              "fax:all:edit"
            ]
          },
          {
            "oauth2": [
              "all"
            ]
          }
        ],
        "summary": "Create a contact",
        "description": "Create a new contact (Permitted scopes: **fax:all:edit**)",
        "tags": [
          "Contacts"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContactCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "$ref": "#/components/responses/Contact"
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/accounts/self/contacts/{contact_id}": {
      "put": {
        "operationId": "updateContact",
        "security": [
          {
            "personal_access_token": [
              "fax:all:edit"
            ]
          },
          {
            "oauth2": [
              "all"
            ]
          }
        ],
        "summary": "Update a contact",
        "description": "Update an existing contact (Permitted scopes: **fax:all:edit**)",
        "tags": [
          "Contacts"
        ],
        "parameters": [
          {
            "name": "contact_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Contact ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContactUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Contact"
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      },
      "delete": {
        "operationId": "deleteContact",
        "security": [
          {
            "personal_access_token": [
              "fax:all:edit"
            ]
          },
          {
            "oauth2": [
              "all"
            ]
          }
        ],
        "summary": "Delete a contact",
        "description": "Delete a contact (Permitted scopes: **fax:all:edit**)",
        "tags": [
          "Contacts"
        ],
        "parameters": [
          {
            "name": "contact_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Contact ID"
          }
        ],
        "responses": {
          "204": {
            "description": "Contact deleted successfully",
            "content": {
              "application/json": {
                "example": {}
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/accounts/self/contacts/share": {
      "post": {
        "operationId": "shareContacts",
        "security": [
          {
            "personal_access_token": [
              "fax:all:edit"
            ]
          },
          {
            "oauth2": [
              "all"
            ]
          }
        ],
        "summary": "Share contacts",
        "description": "Share contacts with all corporate members (Permitted scopes: **fax:all:edit**)",
        "tags": [
          "Contacts"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "contact_ids": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                },
                "required": [
                  "contact_ids"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Contacts shared successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/accounts/self/contact-groups": {
      "get": {
        "operationId": "listTags",
        "security": [
          {
            "personal_access_token": [
              "fax:all:read"
            ]
          },
          {
            "oauth2": [
              "all"
            ]
          }
        ],
        "summary": "List contact groups",
        "description": "Get contact groups with optional search and pagination. You can also retrieve specific groups by providing comma-separated IDs (Permitted scopes: **fax:all:read**)",
        "tags": [
          "Contacts"
        ],
        "parameters": [
          {
            "name": "ids",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated list of group IDs to retrieve (max 50). When provided, other filters are ignored"
          },
          {
            "name": "group",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Search term to filter groups"
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            },
            "description": "Offset for pagination"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 50,
              "maximum": 50
            },
            "description": "Limit for pagination (max 50)"
          },
          {
            "name": "shared",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            },
            "description": "If true, return shared/corporate groups. If false, return personal groups"
          }
        ],
        "responses": {
          "200": {
[...]
