{
  "openapi": "3.0.3",
  "info": {
    "title": "Bolt IoT Cloud API",
    "description": "Bolt IoT Cloud API for remotely controlling Bolt WiFi modules. Supports GPIO operations (digital/analog read/write), UART communication, and device management.",
    "version": "1.0.0",
    "x-jentic-source-url": "https://docs.boltiot.com/api/",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://cloud.boltiot.com",
      "description": "Bolt IoT Cloud"
    }
  ],
  "security": [],
  "tags": [
    {
      "name": "GPIO",
      "description": "GPIO read/write operations"
    },
    {
      "name": "UART",
      "description": "UART serial communication"
    },
    {
      "name": "Utility",
      "description": "Utility commands"
    }
  ],
  "paths": {
    "/remote/{apiKey}/digitalWrite": {
      "get": {
        "tags": [
          "GPIO"
        ],
        "summary": "Digital Write",
        "description": "Set a digital pin HIGH or LOW on the Bolt device.",
        "operationId": "digitalWrite",
        "parameters": [
          {
            "name": "apiKey",
            "in": "path",
            "required": true,
            "description": "Your Bolt Cloud API key",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pin",
            "in": "query",
            "required": true,
            "description": "GPIO pin number (0-4)",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 4
            }
          },
          {
            "name": "state",
            "in": "query",
            "required": true,
            "description": "Pin state: HIGH or LOW",
            "schema": {
              "type": "string",
              "enum": [
                "HIGH",
                "LOW"
              ]
            }
          },
          {
            "name": "deviceName",
            "in": "query",
            "required": true,
            "description": "Bolt device ID (e.g., BOLTXXXXXXX)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns operation result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BoltResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/remote/{apiKey}/digitalRead": {
      "get": {
        "tags": [
          "GPIO"
        ],
        "summary": "Digital Read",
        "description": "Read the state of a digital pin on the Bolt device.",
        "operationId": "digitalRead",
        "parameters": [
          {
            "name": "apiKey",
            "in": "path",
            "required": true,
            "description": "Your Bolt Cloud API key",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pin",
            "in": "query",
            "required": true,
            "description": "GPIO pin number (0-4)",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 4
            }
          },
          {
            "name": "deviceName",
            "in": "query",
            "required": true,
            "description": "Bolt device ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns pin state",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BoltResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/remote/{apiKey}/analogRead": {
      "get": {
        "tags": [
          "GPIO"
        ],
        "summary": "Analog Read",
        "description": "Read the analog value from the A0 pin on the Bolt device.",
        "operationId": "analogRead",
        "parameters": [
          {
            "name": "apiKey",
            "in": "path",
            "required": true,
            "description": "Your Bolt Cloud API key",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pin",
            "in": "query",
            "required": true,
            "description": "Analog pin (A0)",
            "schema": {
              "type": "string",
              "enum": [
                "A0"
              ]
            }
          },
          {
            "name": "deviceName",
            "in": "query",
            "required": true,
            "description": "Bolt device ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns analog value (0-1023)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BoltResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/remote/{apiKey}/analogWrite": {
      "get": {
        "tags": [
          "GPIO"
        ],
        "summary": "Analog Write (PWM)",
        "description": "Write an analog (PWM) value to a GPIO pin on the Bolt device.",
        "operationId": "analogWrite",
        "parameters": [
          {
            "name": "apiKey",
            "in": "path",
            "required": true,
            "description": "Your Bolt Cloud API key",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pin",
            "in": "query",
            "required": true,
            "description": "GPIO pin number (0-4)",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 4
            }
          },
          {
            "name": "value",
            "in": "query",
            "required": true,
            "description": "PWM value (0-255)",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 255
            }
          },
          {
            "name": "deviceName",
            "in": "query",
            "required": true,
            "description": "Bolt device ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns operation result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BoltResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/remote/{apiKey}/serialBegin": {
      "get": {
        "tags": [
          "UART"
        ],
        "summary": "Serial Begin",
        "description": "Initialize UART serial communication on the Bolt device.",
        "operationId": "serialBegin",
        "parameters": [
          {
            "name": "apiKey",
            "in": "path",
            "required": true,
            "description": "Your Bolt Cloud API key",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "baud",
            "in": "query",
            "required": true,
            "description": "Baud rate",
            "schema": {
              "type": "integer",
              "enum": [
                300,
                600,
                1200,
                2400,
                4800,
                9600,
                19200,
                38400,
                57600,
                115200
              ]
            }
          },
          {
            "name": "deviceName",
            "in": "query",
            "required": true,
            "description": "Bolt device ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Serial initialized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BoltResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/remote/{apiKey}/serialWrite": {
      "get": {
        "tags": [
          "UART"
        ],
        "summary": "Serial Write",
        "description": "Send data over UART serial communication.",
        "operationId": "serialWrite",
        "parameters": [
          {
            "name": "apiKey",
            "in": "path",
            "required": true,
            "description": "Your Bolt Cloud API key",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "data",
            "in": "query",
            "required": true,
            "description": "Data string to send",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "deviceName",
            "in": "query",
            "required": true,
            "description": "Bolt device ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Data written",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BoltResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/remote/{apiKey}/serialRead": {
      "get": {
        "tags": [
          "UART"
        ],
        "summary": "Serial Read",
        "description": "Read data from UART serial communication.",
        "operationId": "serialRead",
        "parameters": [
          {
            "name": "apiKey",
            "in": "path",
            "required": true,
            "description": "Your Bolt Cloud API key",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "till",
            "in": "query",
            "required": true,
            "description": "Read data till this character is encountered",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "deviceName",
            "in": "query",
            "required": true,
            "description": "Bolt device ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns serial data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BoltResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/remote/{apiKey}/isOnline": {
      "get": {
        "tags": [
          "Utility"
        ],
        "summary": "Is Device Online",
        "description": "Check if the Bolt device is currently online.",
        "operationId": "isOnline",
        "parameters": [
          {
            "name": "apiKey",
            "in": "path",
            "required": true,
            "description": "Your Bolt Cloud API key",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "deviceName",
            "in": "query",
            "required": true,
            "description": "Bolt device ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns online status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BoltResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/remote/{apiKey}/version": {
      "get": {
        "tags": [
          "Utility"
        ],
        "summary": "Get Firmware Version",
        "description": "Get the firmware version of the Bolt device.",
        "operationId": "getVersion",
        "parameters": [
          {
            "name": "apiKey",
            "in": "path",
            "required": true,
            "description": "Your Bolt Cloud API key",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "deviceName",
            "in": "query",
            "required": true,
            "description": "Bolt device ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns firmware version",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BoltResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "BoltResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "integer",
            "description": "1 for success, 0 for failure"
          },
          "value": {
            "type": "string",
            "description": "Response value or error message"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "integer",
            "description": "0 for failure"
          },
          "value": {
            "type": "string",
            "description": "Error message"
          }
        }
      }
    }
  }
}
