{
  "openapi": "3.0.3",
  "info": {
    "title": "Flock Messaging API",
    "version": "2.0",
    "description": "Flock is a team messaging and collaboration platform. The API provides endpoints for sending messages, managing channels, contacts, and integrating bots and apps with the Flock ecosystem. All API calls use POST with JSON body and require an authentication token.",
    "x-jentic-source-url": "https://docs.flock.com/",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://api.flock.com/v2"
    }
  ],
  "paths": {
    "/chat.sendMessage": {
      "post": {
        "operationId": "chatSendMessage",
        "summary": "Send a message to a channel or user",
        "tags": [
          "Chat"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "to",
                  "text"
                ],
                "properties": {
                  "to": {
                    "type": "string",
                    "description": "Channel ID or user ID"
                  },
                  "text": {
                    "type": "string"
                  },
                  "attachments": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/Attachment"
                    }
                  },
                  "flockml": {
                    "type": "string",
                    "description": "FlockML formatted message"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Message sent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Send a message to a channel or user"
      }
    },
    "/chat.fetchMessages": {
      "post": {
        "operationId": "chatFetchMessages",
        "summary": "Fetch messages from a channel",
        "tags": [
          "Chat"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "chat"
                ],
                "properties": {
                  "chat": {
                    "type": "string"
                  },
                  "uids": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "start": {
                    "type": "string"
                  },
                  "end": {
                    "type": "string"
                  },
                  "count": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Messages",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Message"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Fetch messages from a channel"
      }
    },
    "/chat.deleteMessage": {
      "post": {
        "operationId": "chatDeleteMessage",
        "summary": "Delete a message",
        "tags": [
          "Chat"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "chat",
                  "uid"
                ],
                "properties": {
                  "chat": {
                    "type": "string"
                  },
                  "uid": {
                    "type": "string",
                    "description": "Message UID"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Message deleted"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Delete a message"
      }
    },
    "/channels.list": {
      "post": {
        "operationId": "channelsList",
        "summary": "List all channels",
        "tags": [
          "Channels"
        ],
        "responses": {
          "200": {
            "description": "Channel list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Channel"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "List all channels"
      }
    },
    "/channels.getInfo": {
      "post": {
        "operationId": "channelsGetInfo",
        "summary": "Get channel info",
        "tags": [
          "Channels"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "channelId"
                ],
                "properties": {
                  "channelId": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Channel info",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Channel"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Channel not found"
          }
        },
        "description": "Get channel info"
      }
    },
    "/channels.create": {
      "post": {
        "operationId": "channelsCreate",
        "summary": "Create a channel",
        "tags": [
          "Channels"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name"
                ],
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "memberIds": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "visibility": {
                    "type": "string",
                    "enum": [
                      "open",
                      "closed"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Channel created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Channel"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Create a channel"
      }
    },
    "/channels.archive": {
      "post": {
        "operationId": "channelsArchive",
        "summary": "Archive a channel",
        "tags": [
          "Channels"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "channelId"
                ],
                "properties": {
                  "channelId": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Channel archived"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Archive a channel"
      }
    },
    "/channels.addMembers": {
      "post": {
        "operationId": "channelsAddMembers",
        "summary": "Add members to a channel",
        "tags": [
          "Channels"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "channelId",
                  "memberIds"
                ],
                "properties": {
                  "channelId": {
                    "type": "string"
                  },
                  "memberIds": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Members added"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Add members to a channel"
      }
    },
    "/channels.removeMembers": {
      "post": {
        "operationId": "channelsRemoveMembers",
        "summary": "Remove members from a channel",
        "tags": [
          "Channels"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "channelId",
                  "memberIds"
                ],
                "properties": {
                  "channelId": {
                    "type": "string"
                  },
                  "memberIds": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Members removed"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Remove members from a channel"
      }
    },
    "/channels.getMembers": {
      "post": {
        "operationId": "channelsGetMembers",
        "summary": "Get channel members",
        "tags": [
          "Channels"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "channelId"
                ],
                "properties": {
                  "channelId": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Member list"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Get channel members"
      }
    },
    "/contacts.list": {
      "post": {
        "operationId": "contactsList",
        "summary": "List contacts",
        "tags": [
          "Contacts"
        ],
        "responses": {
          "200": {
            "description": "Contact list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Contact"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "List contacts"
      }
    },
    "/contacts.getInfo": {
      "post": {
        "operationId": "contactsGetInfo",
        "summary": "Get contact info",
        "tags": [
          "Contacts"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "userId"
                ],
                "properties": {
                  "userId": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Contact info",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Contact"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Get contact info"
      }
    },
    "/users.getInfo": {
      "post": {
        "operationId": "usersGetInfo",
        "summary": "Get authenticated user info",
        "tags": [
          "Users"
        ],
        "responses": {
          "200": {
            "description": "User info",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Get authenticated user info"
      }
    },
    "/groups.list": {
      "post": {
        "operationId": "groupsList",
        "summary": "List direct message groups",
        "tags": [
          "Groups"
        ],
        "responses": {
          "200": {
            "description": "Group list"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "List direct message groups"
      }
    },
    "/groups.getInfo": {
      "post": {
        "operationId": "groupsGetInfo",
        "summary": "Get group info",
        "tags": [
          "Groups"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "groupId"
                ],
                "properties": {
                  "groupId": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Group info"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Get group info"
      }
    },
    "/roster.listContacts": {
      "post": {
        "operationId": "rosterListContacts",
        "summary": "List team roster",
        "tags": [
          "Roster"
        ],
        "responses": {
          "200": {
            "description": "Team roster"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "List team roster"
      }
    }
  },
  "components": {
    "schemas": {
      "Message": {
        "type": "object",
        "properties": {
          "uid": {
            "type": "string"
          },
          "from": {
            "type": "string"
          },
          "to": {
            "type": "string"
          },
          "text": {
            "type": "string"
          },
          "timestamp": {
            "type": "integer"
          },
          "flockml": {
            "type": "string"
          },
          "attachments": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Attachment"
            }
          }
        }
      },
      "MessageResponse": {
        "type": "object",
        "properties": {
          "uid": {
            "type": "string"
          },
          "timestamp": {
            "type": "integer"
          }
        }
      },
      "Channel": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "visibility": {
            "type": "string"
          },
          "memberCount": {
            "type": "integer"
          },
          "createdBy": {
            "type": "string"
          }
        }
      },
      "Contact": {
        "type": "object",
        "properties": {
          "userId": {
            "type": "string"
          },
          "firstName": {
            "type": "string"
          },
          "lastName": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "profileImage": {
            "type": "string"
          }
        }
      },
      "User": {
        "type": "object",
        "properties": {
          "userId": {
            "type": "string"
          },
          "firstName": {
            "type": "string"
          },
          "lastName": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "teamId": {
            "type": "string"
          },
          "role": {
            "type": "string"
          }
        }
      },
      "Attachment": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "color": {
            "type": "string"
          },
          "views": {
            "type": "object"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "description": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "tokenAuth": {
        "type": "apiKey",
        "name": "token",
        "in": "query",
        "description": "Flock bot/user token passed as query parameter or in JSON body"
      }
    }
  },
  "security": [
    {
      "tokenAuth": []
    }
  ],
  "tags": [
    {
      "name": "Channels"
    },
    {
      "name": "Chat"
    },
    {
      "name": "Contacts"
    },
    {
      "name": "Groups"
    },
    {
      "name": "Roster"
    },
    {
      "name": "Users"
    }
  ]
}
