{
  "openapi": "3.0.0",
  "info": {
    "title": "TheMealDB API",
    "description": "An open, crowd-sourced database of meals and recipes from around the world",
    "version": "1.0.0",
    "contact": {
      "url": "https://www.themealdb.com"
    }
  },
  "servers": [
    {
      "url": "https://www.themealdb.com/api/json/v1/{apiKey}",
      "variables": {
        "apiKey": {
          "default": "1",
          "description": "API key - use '1' for testing/development"
        }
      }
    }
  ],
  "paths": {
    "/search.php": {
      "get": {
        "summary": "Search meals",
        "operationId": "searchMeals",
        "parameters": [
          {
            "name": "s",
            "in": "query",
            "description": "Search meal by name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "f",
            "in": "query",
            "description": "List meals by first letter",
            "schema": {
              "type": "string",
              "maxLength": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "meals": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Meal"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Search meals",
        "tags": [
          "search.php"
        ]
      }
    },
    "/lookup.php": {
      "get": {
        "summary": "Lookup full meal details by ID",
        "operationId": "lookupMeal",
        "parameters": [
          {
            "name": "i",
            "in": "query",
            "description": "Meal ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "meals": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Meal"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Lookup full meal details by ID",
        "tags": [
          "lookup.php"
        ]
      }
    },
    "/random.php": {
      "get": {
        "summary": "Get a random meal",
        "operationId": "getRandomMeal",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "meals": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Meal"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Get a random meal",
        "tags": [
          "random.php"
        ]
      }
    },
    "/randomselection.php": {
      "get": {
        "summary": "Get 10 random meals (Premium only)",
        "operationId": "getRandomSelection",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "meals": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Meal"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Premium"
        ],
        "description": "Get 10 random meals (Premium only)"
      }
    },
    "/categories.php": {
      "get": {
        "summary": "List all meal categories",
        "operationId": "listCategories",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "categories": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "idCategory": {
                            "type": "string"
                          },
                          "strCategory": {
                            "type": "string"
                          },
                          "strCategoryThumb": {
                            "type": "string"
                          },
                          "strCategoryDescription": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "description": "List all meal categories",
        "tags": [
          "categories.php"
        ]
      }
    },
    "/latest.php": {
      "get": {
        "summary": "Get latest meals (Premium only)",
        "operationId": "getLatestMeals",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "meals": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Meal"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Premium"
        ],
        "description": "Get latest meals (Premium only)"
      }
    },
    "/list.php": {
      "get": {
        "summary": "List categories, areas, or ingredients",
        "operationId": "listOptions",
        "parameters": [
          {
            "name": "c",
            "in": "query",
            "description": "List all categories",
            "schema": {
              "type": "string",
              "enum": [
                "list"
              ]
            }
          },
          {
            "name": "a",
            "in": "query",
            "description": "List all areas",
            "schema": {
              "type": "string",
              "enum": [
                "list"
              ]
            }
          },
          {
            "name": "i",
            "in": "query",
            "description": "List all ingredients",
            "schema": {
              "type": "string",
              "enum": [
                "list"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "meals": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "description": "List categories, areas, or ingredients",
        "tags": [
          "list.php"
        ]
      }
    },
    "/filter.php": {
      "get": {
        "summary": "Filter meals",
        "operationId": "filterMeals",
        "parameters": [
          {
            "name": "i",
            "in": "query",
            "description": "Filter by ingredient",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "c",
            "in": "query",
            "description": "Filter by category",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "a",
            "in": "query",
            "description": "Filter by area",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "meals": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "strMeal": {
                            "type": "string"
                          },
                          "strMealThumb": {
                            "type": "string"
                          },
                          "idMeal": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Filter meals",
        "tags": [
          "filter.php"
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "Meal": {
        "type": "object",
        "properties": {
          "idMeal": {
            "type": "string"
          },
          "strMeal": {
            "type": "string"
          },
          "strDrinkAlternate": {
            "type": "string",
            "nullable": true
          },
          "strCategory": {
            "type": "string"
          },
          "strArea": {
            "type": "string"
          },
          "strInstructions": {
            "type": "string"
          },
          "strMealThumb": {
            "type": "string"
          },
          "strTags": {
            "type": "string",
            "nullable": true
          },
          "strYoutube": {
            "type": "string",
            "nullable": true
          },
          "strIngredient1": {
            "type": "string",
            "nullable": true
          },
          "strIngredient2": {
            "type": "string",
            "nullable": true
          },
          "strIngredient3": {
            "type": "string",
            "nullable": true
          },
          "strIngredient4": {
            "type": "string",
            "nullable": true
          },
          "strIngredient5": {
            "type": "string",
            "nullable": true
          },
          "strIngredient6": {
            "type": "string",
            "nullable": true
          },
          "strIngredient7": {
            "type": "string",
            "nullable": true
          },
          "strIngredient8": {
            "type": "string",
            "nullable": true
          },
          "strIngredient9": {
            "type": "string",
            "nullable": true
          },
          "strIngredient10": {
            "type": "string",
            "nullable": true
          },
          "strMeasure1": {
            "type": "string",
            "nullable": true
          },
          "strMeasure2": {
            "type": "string",
            "nullable": true
          },
          "strMeasure3": {
            "type": "string",
            "nullable": true
          },
          "strMeasure4": {
            "type": "string",
            "nullable": true
          },
          "strMeasure5": {
            "type": "string",
            "nullable": true
          },
          "strMeasure6": {
            "type": "string",
            "nullable": true
          },
          "strMeasure7": {
            "type": "string",
            "nullable": true
          },
          "strMeasure8": {
            "type": "string",
            "nullable": true
          },
          "strMeasure9": {
            "type": "string",
            "nullable": true
          },
          "strMeasure10": {
            "type": "string",
            "nullable": true
          },
          "strSource": {
            "type": "string",
            "nullable": true
          },
          "strImageSource": {
            "type": "string",
            "nullable": true
          },
          "strCreativeCommonsConfirmed": {
            "type": "string",
            "nullable": true
          },
          "dateModified": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Premium",
      "description": "Premium-only endpoints requiring a paid API key"
    },
    {
      "name": "categories.php"
    },
    {
      "name": "filter.php"
    },
    {
      "name": "list.php"
    },
    {
      "name": "lookup.php"
    },
    {
      "name": "random.php"
    },
    {
      "name": "search.php"
    }
  ]
}
