{
  "openapi": "3.0.0",
  "info": {
    "title": "Mailtrap API",
    "description": "Mailtrap provides email sending and testing services with transactional and bulk email capabilities.",
    "version": "1.0.0",
    "contact": {
      "name": "Mailtrap",
      "url": "https://mailtrap.io"
    }
  },
  "servers": [
    {
      "url": "https://send.api.mailtrap.io/api",
      "description": "Transactional email server"
    },
    {
      "url": "https://bulk.api.mailtrap.io/api",
      "description": "Bulk email server"
    }
  ],
  "security": [
    {
      "apiToken": []
    }
  ],
  "paths": {
    "/send": {
      "post": {
        "summary": "Send email",
        "description": "Send a single transactional or bulk email",
        "operationId": "sendEmail",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "from",
                  "to",
                  "subject"
                ],
                "properties": {
                  "from": {
                    "type": "object",
                    "properties": {
                      "email": {
                        "type": "string",
                        "format": "email"
                      },
                      "name": {
                        "type": "string"
                      }
                    },
                    "required": [
                      "email"
                    ]
                  },
                  "to": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "email": {
                          "type": "string",
                          "format": "email"
                        },
                        "name": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "email"
                      ]
                    }
                  },
                  "cc": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "email": {
                          "type": "string",
                          "format": "email"
                        },
                        "name": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "bcc": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "email": {
                          "type": "string",
                          "format": "email"
                        },
                        "name": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "subject": {
                    "type": "string"
                  },
                  "text": {
                    "type": "string",
                    "description": "Plain text content"
                  },
                  "html": {
                    "type": "string",
                    "description": "HTML content"
                  },
                  "template_uuid": {
                    "type": "string",
                    "description": "Template identifier"
                  },
                  "template_variables": {
                    "type": "object",
                    "description": "Variables for template"
                  },
                  "attachments": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "content": {
                          "type": "string",
                          "description": "Base64 encoded content"
                        },
                        "filename": {
                          "type": "string"
                        },
                        "type": {
                          "type": "string",
                          "description": "MIME type"
                        },
                        "disposition": {
                          "type": "string",
                          "enum": [
                            "attachment",
                            "inline"
                          ]
                        }
                      }
                    }
                  },
                  "headers": {
                    "type": "object",
                    "description": "Custom headers"
                  },
                  "custom_variables": {
                    "type": "object",
                    "description": "Custom tracking variables"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Email sent successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message_ids": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "422": {
            "description": "Validation error"
          }
        },
        "tags": [
          "send"
        ]
      }
    },
    "/batch": {
      "post": {
        "summary": "Batch send emails",
        "description": "Send up to 500 emails in a single batch request",
        "operationId": "batchSendEmail",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "maxItems": 500,
                "items": {
                  "type": "object",
                  "required": [
                    "from",
                    "to",
                    "subject"
                  ],
                  "properties": {
                    "from": {
                      "type": "object",
                      "properties": {
                        "email": {
                          "type": "string",
                          "format": "email"
                        },
                        "name": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "email"
                      ]
                    },
                    "to": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "email": {
                            "type": "string",
                            "format": "email"
                          },
                          "name": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "subject": {
                      "type": "string"
                    },
                    "text": {
                      "type": "string"
                    },
                    "html": {
                      "type": "string"
                    },
                    "template_uuid": {
                      "type": "string"
                    },
                    "template_variables": {
                      "type": "object"
                    },
                    "attachments": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "headers": {
                      "type": "object"
                    },
                    "custom_variables": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Batch sent successfully"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "tags": [
          "batch"
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiToken": {
        "type": "apiKey",
        "in": "header",
        "name": "Api-Token",
        "description": "API token obtained from https://mailtrap.io/api-tokens"
      }
    }
  },
  "tags": [
    {
      "name": "batch"
    },
    {
      "name": "send"
    }
  ]
}
