{
  "openapi": "3.0.1",
  "info": {
    "title": "Lords Votes API",
    "description": "An API that allows querying of Lords Votes data.",
    "contact": {
      "name": "UK Parliament",
      "url": "https://www.parliament.uk",
      "email": "softwareengineering@parliament.uk"
    },
    "version": "v1",
    "x-jentic-source-url": "https://raw.githubusercontent.com/jentic/jentic-public-apis/refs/heads/main/apis/openapi/parliament.uk/lordsvotes/v1/openapi.json"
  },
  "servers": [
    {
      "url": "https://lordsvotes-api.parliament.uk"
    }
  ],
  "paths": {
    "/data/Divisions/{divisionId}": {
      "get": {
        "tags": [
          "Divisions"
        ],
        "summary": "Return a Division",
        "description": "Get a single Division which has the Id specified.",
        "parameters": [
          {
            "name": "divisionId",
            "in": "path",
            "description": "Division with ID specified",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Division with id matching given divisionId",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/DivisionViewModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DivisionViewModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/DivisionViewModel"
                }
              }
            }
          },
          "400": {
            "description": "divisionId was not valid"
          },
          "404": {
            "description": "Division with given divisionId was not found"
          },
          "503": {
            "description": "Temporary error occured when trying to get division"
          }
        },
        "operationId": "get_data_Divisions_divisionId"
      }
    },
    "/data/Divisions/searchTotalResults": {
      "get": {
        "tags": [
          "Divisions"
        ],
        "summary": "Return total results count",
        "description": "Get total count of Divisions meeting the specified query, useful for paging lists etc...",
        "parameters": [
          {
            "name": "SearchTerm",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "MemberId",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "IncludeWhenMemberWasTeller",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "StartDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "EndDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "DivisionNumber",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "TotalVotesCast.Comparator",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/Comparators"
            }
          },
          {
            "name": "TotalVotesCast.ValueToCompare",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "Majority.Comparator",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/Comparators"
            }
          },
          {
            "name": "Majority.ValueToCompare",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Division with id matching given divisionId",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              },
              "application/json": {
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              },
              "text/json": {
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            }
          },
          "400": {
            "description": "divisionId was not valid"
          }
        },
        "operationId": "get_data_Divisions_searchTotalResults"
      }
    },
    "/data/Divisions/search": {
      "get": {
        "tags": [
          "Divisions"
        ],
        "summary": "Return a list of Divisions",
        "description": "Get a list of Divisions which meet the specified criteria.",
        "parameters": [
          {
            "name": "SearchTerm",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "MemberId",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "IncludeWhenMemberWasTeller",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "StartDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "EndDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "DivisionNumber",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "TotalVotesCast.Comparator",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/Comparators"
            }
          },
          {
            "name": "TotalVotesCast.ValueToCompare",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "Majority.Comparator",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/Comparators"
            }
          },
          {
            "name": "Majority.ValueToCompare",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "skip",
            "in": "query",
            "description": "The number of records to skip. Must be a positive integer. Default is 0",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "take",
            "in": "query",
            "description": "The number of records to return per page. Must be more than 0. Default is 25",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 25
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of divisions matching specified parameters",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DivisionViewModel"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DivisionViewModel"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DivisionViewModel"
                  }
                }
              }
            }
          },
          "400": {
            "description": "A parameter was not valid"
          },
          "503": {
            "description": "Temporary error occured when trying to get division"
          }
        },
        "operationId": "get_data_Divisions_search"
      }
    },
    "/data/Divisions/membervoting": {
      "get": {
        "tags": [
          "Divisions"
        ],
        "summary": "Return voting records for a Member",
        "description": "Get a list of voting records for a Member.",
        "parameters": [
          {
            "name": "MemberId",
            "in": "query",
            "required": true,
            "schema": {
              "maximum": 2147483647,
              "minimum": 1,
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "SearchTerm",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "IncludeWhenMemberWasTeller",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "StartDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "EndDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "DivisionNumber",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "TotalVotesCast.Comparator",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/Comparators"
            }
          },
          {
            "name": "TotalVotesCast.ValueToCompare",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "Majority.Comparator",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/Comparators"
            }
          },
          {
            "name": "Majority.ValueToCompare",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "skip",
            "in": "query",
            "description": "The number of records to skip. Must be a positive integer. Default is 0",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "take",
            "in": "query",
            "description": "The number of records to return per page. Must be more than 0. Default is 25",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 25
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of voting records for a member",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/MemberVotingRecordViewModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MemberVotingRecordViewModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/MemberVotingRecordViewModel"
                }
              }
            }
          },
          "400": {
            "description": "A parameter was not valid"
          },
          "503": {
            "description": "Temporary error occured when trying to get division"
          }
        },
        "operationId": "get_data_Divisions_membervoting"
      }
    },
    "/data/Divisions/groupedbyparty": {
      "get": {
        "tags": [
          "Divisions"
        ],
        "summary": "Return Divisions results grouped by party",
        "description": "Get a list of Divisions which contain grouped by party",
        "parameters": [
          {
            "name": "SearchTerm",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "MemberId",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "IncludeWhenMemberWasTeller",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "StartDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "EndDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "DivisionNumber",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "TotalVotesCast.Comparator",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/Comparators"
            }
          },
          {
            "name": "TotalVotesCast.ValueToCompare",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "Majority.Comparator",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/Comparators"
            }
          },
          {
            "name": "Majority.ValueToCompare",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of divisions with votes grouped by party",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/DivisionGroupByPartyViewModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DivisionGroupByPartyViewModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/DivisionGroupByPartyViewModel"
                }
              }
            }
          },
          "400": {
            "description": "A parameter was not valid"
          }
        },
        "operationId": "get_data_Divisions_groupedbyparty"
      }
    }
  },
  "components": {
    "schemas": {
      "Comparators": {
        "enum": [
          "LessThan",
          "LessThanOrEqualTo",
          "EqualTo",
          "GreaterThanOrEqualTo",
          "GreaterThan"
        ],
        "type": "string"
      },
      "DivisionGroupByPartyViewModel": {
        "type": "object",
        "properties": {
          "divisionId": {
            "type": "integer",
            "format": "int32"
          },
          "number": {
            "type": "integer",
            "format": "int32"
          },
          "title": {
            "type": "string",
            "nullable": true
          },
          "date": {
            "type": "string",
            "format": "date-time"
          },
          "contentCount": {
            "type": "integer",
            "format": "int32",
            "readOnly": true
          },
          "notContentCount": {
            "type": "integer",
            "format": "int32",
            "readOnly": true
          },
          "content": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PartyVoteResultViewModel"
            },
            "nullable": true
          },
          "notContent": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PartyVoteResultViewModel"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "DivisionViewModel": {
        "type": "object",
        "properties": {
          "divisionId": {
            "type": "integer",
            "format": "int32"
          },
          "date": {
            "type": "string",
            "format": "date-time"
          },
          "number": {
            "type": "integer",
            "format": "int32"
          },
          "notes": {
            "type": "string",
            "nullable": true
          },
          "title": {
            "type": "string",
            "nullable": true
          },
          "isWhipped": {
            "type": "boolean"
          },
          "isGovernmentContent": {
            "type": "boolean"
          },
          "authoritativeContentCount": {
            "type": "integer",
            "description": "Authoritative content count is the official count. This is the teller content count when tellers are present, but member content count when there are no tellers.",
            "format": "int32"
          },
          "authoritativeNotContentCount": {
            "type": "integer",
            "description": "Authoritative not content count is the official count. This is the teller not content count when tellers are present, but member not content count when there are no tellers.",
            "format": "int32"
          },
          "divisionHadTellers": {
            "type": "boolean",
            "description": "Whether the division had tellers or not"
          },
          "tellerContentCount": {
            "type": "integer",
            "description": "Content count is count recorded by the tellers",
            "format": "int32"
          },
          "tellerNotContentCount": {
            "type": "integer",
            "description": "Not Content count recorded by the tellers",
            "format": "int32"
          },
          "memberContentCount": {
            "type": "integer",
            "description": "Member content count is the total tally of all members that voted content",
            "format": "int32"
          },
          "memberNotContentCount": {
            "type": "integer",
            "description": "Member not content count is the total tally of all members that voted not content",
            "format": "int32"
          },
          "sponsoringMemberId": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "isHouse": {
            "type": "boolean",
            "nullable": true
          },
          "amendmentMotionNotes": {
            "type": "string",
            "nullable": true
          },
          "isGovernmentWin": {
            "type": "boolean",
            "nullable": true
          },
          "remoteVotingStart": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "remoteVotingEnd": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "divisionWasExclusivelyRemote": {
            "type": "boolean"
          },
          "contentTellers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MemberViewModel"
            },
            "nullable": true
          },
          "notContentTellers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MemberViewModel"
            },
            "nullable": true
          },
          "contents": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MemberViewModel"
            },
            "nullable": true
          },
          "notContents": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MemberViewModel"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "MemberViewModel": {
        "type": "object",
        "properties": {
          "memberId": {
            "type": "integer",
            "format": "int32"
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "listAs": {
            "type": "string",
            "nullable": true
          },
          "memberFrom": {
            "type": "string",
            "nullable": true
          },
          "party": {
            "type": "string",
            "nullable": true
          },
          "partyColour": {
            "type": "string",
            "nullable": true
          },
          "partyAbbreviation": {
            "type": "string",
            "nullable": true
          },
          "partyIsMainParty": {
            "type": "boolean"
          }
        },
        "additionalProperties": false
      },
      "MemberVotingRecordViewModel": {
        "type": "object",
        "properties": {
          "memberId": {
            "type": "integer",
            "format": "int32"
          },
          "memberWasContent": {
            "type": "boolean"
          },
          "memberWasTeller": {
            "type": "boolean"
          },
          "publishedDivision": {
            "$ref": "#/components/schemas/DivisionViewModel"
          }
        },
        "additionalProperties": false
      },
      "PartyVoteResultViewModel": {
        "type": "object",
        "properties": {
          "partyName": {
            "type": "string",
            "nullable": true
          },
          "voteCount": {
            "type": "integer",
            "format": "int32"
          }
        },
        "additionalProperties": false
      }
    }
  },
  "tags": [
    {
      "name": "Divisions"
    }
  ]
}
