{
  "openapi": "3.0.3",
  "info": {
    "title": "ParityDeals API",
    "version": "1.0",
    "description": "ParityDeals (ParityVend) provides purchasing power parity (PPP) data and discount recommendations for SaaS businesses. The API returns country-based pricing adjustments, parity coupons, and discount banners.",
    "contact": {
      "name": "ParityDeals",
      "url": "https://paritydeals.com"
    },
    "x-jentic-source-url": "https://paritydeals.com/docs/"
  },
  "servers": [
    {
      "url": "https://api.paritydeals.com",
      "description": "Production"
    }
  ],
  "security": [
    {
      "apiKey": []
    }
  ],
  "components": {
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "description": "API key from your ParityDeals dashboard"
      }
    },
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "ParityData": {
        "type": "object",
        "properties": {
          "country": {
            "type": "string",
            "description": "ISO 3166-1 alpha-2 country code"
          },
          "country_name": {
            "type": "string"
          },
          "currency_code": {
            "type": "string"
          },
          "currency_symbol": {
            "type": "string"
          },
          "ppp_factor": {
            "type": "number",
            "description": "Purchasing power parity factor"
          },
          "discount_percentage": {
            "type": "integer",
            "description": "Recommended discount percentage"
          },
          "coupon_code": {
            "type": "string",
            "description": "Generated coupon code"
          },
          "banner": {
            "$ref": "#/components/schemas/BannerData"
          }
        }
      },
      "BannerData": {
        "type": "object",
        "properties": {
          "text": {
            "type": "string",
            "description": "Banner text to display"
          },
          "html": {
            "type": "string",
            "description": "Pre-rendered banner HTML"
          },
          "show": {
            "type": "boolean",
            "description": "Whether to show the banner"
          }
        }
      }
    }
  },
  "paths": {
    "/api/v1/parity": {
      "get": {
        "operationId": "getParityData",
        "tags": [
          "Parity"
        ],
        "summary": "Get purchasing power parity data",
        "description": "Returns PPP-based discount information for the requesting user's country (detected by IP) or a specified country.",
        "parameters": [
          {
            "name": "country",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "ISO 3166-1 alpha-2 country code (optional, auto-detected from IP)"
          },
          {
            "name": "product_id",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Product identifier for product-specific discounts"
          },
          {
            "name": "ip",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "IP address for country detection"
          }
        ],
        "responses": {
          "200": {
            "description": "Parity data retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ParityData"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/banner": {
      "get": {
        "operationId": "getParityBanner",
        "tags": [
          "Parity"
        ],
        "summary": "Get parity discount banner",
        "description": "Returns an embeddable banner with parity discount info for the visitor.",
        "parameters": [
          {
            "name": "country",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "product_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Banner data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BannerData"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Parity"
    }
  ]
}
