{
  "openapi": "3.0.3",
  "info": {
    "title": "API2Convert File Conversion API",
    "version": "2.0.0",
    "description": "API2Convert provides a REST API for converting and editing files automatically. Submit conversion jobs with input files (remote URLs or uploads), specify target formats and conversion options, and retrieve converted files. Supports image, document, audio, video, and other file format conversions.",
    "x-jentic-source-url": "https://api2convert.com/documentation",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://api2.online-convert.com",
      "description": "API2Convert Production Server"
    }
  ],
  "security": [
    {
      "apiKeyHeader": []
    }
  ],
  "tags": [
    {
      "name": "Jobs",
      "description": "Create and manage conversion jobs"
    },
    {
      "name": "Upload",
      "description": "Upload files to jobs"
    }
  ],
  "paths": {
    "/jobs": {
      "post": {
        "operationId": "createJob",
        "summary": "Create a conversion job",
        "description": "Create a new conversion job. You can include input sources (remote URLs) and conversions (target formats with options) in the request body. If input sources are remote URLs, conversion starts immediately. Otherwise, upload files after creating the job.",
        "tags": [
          "Jobs"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateJobRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Job created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid job configuration",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/jobs/{jobId}": {
      "get": {
        "operationId": "getJob",
        "summary": "Get job information",
        "description": "Retrieve the current status and details of a conversion job, including conversion output when completed.",
        "tags": [
          "Jobs"
        ],
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "required": true,
            "description": "The ID of the job to retrieve",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Job details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteJob",
        "summary": "Delete a job",
        "description": "Delete a conversion job and its associated files.",
        "tags": [
          "Jobs"
        ],
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "required": true,
            "description": "The ID of the job to delete",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Job deleted successfully"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/upload-file/{jobId}": {
      "post": {
        "operationId": "uploadFile",
        "summary": "Upload a file to a job",
        "description": "Upload a file to an existing conversion job. The file will be used as input for the conversion. The upload server URL is provided in the job creation response.",
        "tags": [
          "Upload"
        ],
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "required": true,
            "description": "The ID of the job to upload the file to",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "file"
                ],
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "The file to upload for conversion"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "File uploaded successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UploadResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKeyHeader": {
        "type": "apiKey",
        "name": "x-oc-api-key",
        "in": "header",
        "description": "API key for authentication. Obtain from your API2Convert account."
      }
    },
    "schemas": {
      "CreateJobRequest": {
        "type": "object",
        "properties": {
          "input": {
            "type": "array",
            "description": "Array of input sources for the conversion",
            "items": {
              "$ref": "#/components/schemas/InputSource"
            }
          },
          "conversion": {
            "type": "array",
            "description": "Array of conversion targets",
            "items": {
              "$ref": "#/components/schemas/ConversionTarget"
            }
          }
        }
      },
      "InputSource": {
        "type": "object",
        "required": [
          "type",
          "source"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "remote",
              "upload",
              "cloud"
            ],
            "description": "Type of input source"
          },
          "source": {
            "type": "string",
            "description": "URL of the remote file (when type is 'remote')"
          }
        }
      },
      "ConversionTarget": {
        "type": "object",
        "required": [
          "target"
        ],
        "properties": {
          "target": {
            "type": "string",
            "description": "Target file format (e.g., 'png', 'pdf', 'mp3', 'txt', 'mp4', 'webm', 'ogv')"
          },
          "category": {
            "type": "string",
            "description": "Category of the conversion (e.g., 'image', 'document', 'audio', 'video')"
          },
          "options": {
            "$ref": "#/components/schemas/ConversionOptions"
          }
        }
      },
      "ConversionOptions": {
        "type": "object",
        "description": "Format-specific conversion options",
        "properties": {
          "ocr": {
            "type": "boolean",
            "description": "Enable OCR for text extraction from images"
          },
          "language": {
            "type": "string",
            "description": "OCR language code (e.g., 'eng')"
          },
          "width": {
            "type": "integer",
            "description": "Target width in pixels"
          },
          "height": {
            "type": "integer",
            "description": "Target height in pixels"
          },
          "audio_bitrate": {
            "type": "integer",
            "description": "Audio bitrate in kbps"
          },
          "normalize": {
            "type": "boolean",
            "description": "Normalize audio levels"
          }
        }
      },
      "JobResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique job ID"
          },
          "token": {
            "type": "string",
            "description": "Job token for authentication"
          },
          "server": {
            "type": "string",
            "description": "Upload server URL (use for uploading files)"
          },
          "status": {
            "$ref": "#/components/schemas/JobStatus"
          },
          "input": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/InputSource"
            }
          },
          "conversion": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ConversionResult"
            }
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Job creation timestamp"
          },
          "completed_at": {
            "type": "string",
            "format": "date-time",
            "description": "Job completion timestamp"
          }
        }
      },
      "JobStatus": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "enum": [
              "incomplete",
              "ready",
              "processing",
              "completed",
              "failed"
            ],
            "description": "Current job status"
          },
          "info": {
            "type": "string",
            "description": "Additional status information"
          }
        }
      },
      "ConversionResult": {
        "type": "object",
        "properties": {
          "target": {
            "type": "string",
            "description": "Target format"
          },
          "output": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OutputFile"
            }
          }
        }
      },
      "OutputFile": {
        "type": "object",
        "properties": {
          "uri": {
            "type": "string",
            "description": "Download URL for the converted file"
          },
          "size": {
            "type": "integer",
            "description": "File size in bytes"
          }
        }
      },
      "UploadResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "status": {
            "type": "string"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error message"
          },
          "code": {
            "type": "integer",
            "description": "Error code"
          }
        }
      }
    }
  }
}
