{
  "openapi": "3.0.3",
  "info": {
    "title": "Builder.io Content API",
    "version": "1.0.0",
    "description": "Builder.io Content and Write APIs. The Content API allows reading content entries, and the Write API allows creating, updating, and deleting content entries programmatically.",
    "x-jentic-source-url": "https://www.builder.io/c/docs/content-api",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://cdn.builder.io",
      "description": "Builder.io Content CDN"
    },
    {
      "url": "https://builder.io",
      "description": "Builder.io Write API"
    }
  ],
  "tags": [
    {
      "name": "Content",
      "description": "Content read API"
    },
    {
      "name": "Write",
      "description": "Content write API"
    }
  ],
  "paths": {
    "/api/v3/content/{model_name}": {
      "get": {
        "tags": [
          "Content"
        ],
        "summary": "Query content entries",
        "description": "Query content for a given model. Returns a list of content entries matching the query.",
        "operationId": "queryContent",
        "servers": [
          {
            "url": "https://cdn.builder.io"
          }
        ],
        "parameters": [
          {
            "name": "model_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The model name to query"
          },
          {
            "name": "apiKey",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Your public API key"
          },
          {
            "name": "query",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "MongoDB-style query JSON string"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 30
            },
            "description": "Number of results to return"
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            },
            "description": "Offset for pagination"
          },
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated list of fields to include"
          },
          {
            "name": "omit",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated list of fields to exclude"
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Sort field and direction"
          },
          {
            "name": "userAttributes.urlPath",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "URL path for targeting"
          },
          {
            "name": "userAttributes.device",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "mobile",
                "tablet",
                "desktop"
              ]
            },
            "description": "Device type for targeting"
          },
          {
            "name": "includeRefs",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "Whether to include referenced content"
          },
          {
            "name": "cacheSeconds",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Cache duration in seconds"
          },
          {
            "name": "staleCacheSeconds",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Stale cache duration"
          },
          {
            "name": "noTraverse",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            },
            "description": "If true, do not traverse to child content"
          }
        ],
        "responses": {
          "200": {
            "description": "Content results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ContentEntry"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Model not found"
          }
        }
      }
    },
    "/api/v3/content/{model_name}/{entry_id}": {
      "get": {
        "tags": [
          "Content"
        ],
        "summary": "Get content entry by ID",
        "description": "Get a specific content entry by its model name and entry ID.",
        "operationId": "getContentEntry",
        "servers": [
          {
            "url": "https://cdn.builder.io"
          }
        ],
        "parameters": [
          {
            "name": "model_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "entry_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "apiKey",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "includeRefs",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Content entry",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContentEntry"
                }
              }
            }
          },
          "404": {
            "description": "Entry not found"
          }
        }
      }
    },
    "/api/v1/write/{model_name}": {
      "post": {
        "tags": [
          "Write"
        ],
        "summary": "Create content entry",
        "description": "Create a new content entry for the given model.",
        "operationId": "createContentEntry",
        "servers": [
          {
            "url": "https://builder.io"
          }
        ],
        "security": [
          {
            "privateApiKey": []
          }
        ],
        "parameters": [
          {
            "name": "model_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The model name to write to"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContentEntryWrite"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created content entry",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContentEntry"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed"
          }
        }
      }
    },
    "/api/v1/write/{model_name}/{entry_id}": {
      "put": {
        "tags": [
          "Write"
        ],
        "summary": "Update content entry",
        "description": "Update an existing content entry.",
        "operationId": "updateContentEntry",
        "servers": [
          {
            "url": "https://builder.io"
          }
        ],
        "security": [
          {
            "privateApiKey": []
          }
        ],
        "parameters": [
          {
            "name": "model_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "entry_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContentEntryWrite"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated content entry",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContentEntry"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed"
          },
          "404": {
            "description": "Entry not found"
          }
        }
      },
      "delete": {
        "tags": [
          "Write"
        ],
        "summary": "Delete content entry",
        "description": "Delete a content entry.",
        "operationId": "deleteContentEntry",
        "servers": [
          {
            "url": "https://builder.io"
          }
        ],
        "security": [
          {
            "privateApiKey": []
          }
        ],
        "parameters": [
          {
            "name": "model_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "entry_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Entry deleted"
          },
          "401": {
            "description": "Authentication failed"
          },
          "404": {
            "description": "Entry not found"
          }
        }
      }
    },
    "/api/v1/write/{model_name}/publish/{entry_id}": {
      "put": {
        "tags": [
          "Write"
        ],
        "summary": "Publish content entry",
        "description": "Publish a draft content entry.",
        "operationId": "publishContentEntry",
        "servers": [
          {
            "url": "https://builder.io"
          }
        ],
        "security": [
          {
            "privateApiKey": []
          }
        ],
        "parameters": [
          {
            "name": "model_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "entry_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Entry published",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContentEntry"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed"
          },
          "404": {
            "description": "Entry not found"
          }
        }
      }
    },
    "/api/v1/write/{model_name}/unpublish/{entry_id}": {
      "put": {
        "tags": [
          "Write"
        ],
        "summary": "Unpublish content entry",
        "description": "Unpublish a published content entry (revert to draft).",
        "operationId": "unpublishContentEntry",
        "servers": [
          {
            "url": "https://builder.io"
          }
        ],
        "security": [
          {
            "privateApiKey": []
          }
        ],
        "parameters": [
          {
            "name": "model_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "entry_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Entry unpublished",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContentEntry"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed"
          },
          "404": {
            "description": "Entry not found"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "privateApiKey": {
        "type": "http",
        "scheme": "bearer",
        "description": "Private API key. Pass as Bearer token in Authorization header."
      }
    },
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          }
        },
        "required": [
          "error"
        ]
      },
      "ContentEntry": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "modelId": {
            "type": "string"
          },
          "published": {
            "type": "string",
            "enum": [
              "draft",
              "published",
              "archived"
            ]
          },
          "query": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "data": {
            "type": "object",
            "description": "The content data object"
          },
          "createdDate": {
            "type": "integer",
            "description": "Unix timestamp"
          },
          "lastUpdated": {
            "type": "integer",
            "description": "Unix timestamp"
          },
          "startDate": {
            "type": "string",
            "format": "date-time"
          },
          "endDate": {
            "type": "string",
            "format": "date-time"
          },
          "rev": {
            "type": "string"
          },
          "testRatio": {
            "type": "number"
          },
          "variations": {
            "type": "object"
          }
        }
      },
      "ContentEntryWrite": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Entry name"
          },
          "data": {
            "type": "object",
            "description": "The content data"
          },
          "published": {
            "type": "string",
            "enum": [
              "draft",
              "published",
              "archived"
            ]
          },
          "query": {
            "type": "array",
            "items": {
              "type": "object"
            },
            "description": "Targeting query"
          },
          "startDate": {
            "type": "string",
            "format": "date-time"
          },
          "endDate": {
            "type": "string",
            "format": "date-time"
          }
        }
      }
    }
  }
}
