{
  "openapi": "3.0.3",
  "info": {
    "description": "Carbone Open API reference.\n\nCarbone is a document generation and conversion API, trusted by thousands of companies across finance, legal, healthcare, HR, e-commerce, and government to automate their document workflows at scale. \n\nThe core idea is simple: design a template (DOCX, XLSX, PPTX, ODT, HTML, Markdown, and more), provide a JSON dataset, and Carbone automatically merges them to produce a ready-to-use document — PDF, Word, Excel, Markdown, HTML, CSV, or any other supported format. Common use cases include:\n- **Finance and Accounting**: Invoices, purchase orders, financial reports, tax statements, bank statements, and audit reports.\n- **Legal**: Contracts, NDAs, legal agreements, court filings, and case summaries.\n- **Healthcare**: Patient records, medical reports, prescriptions, discharge summaries, and insurance claim forms.\n- **Government and Public Sector**: Administrative forms, public service notices, permits, official certificates, identity documents, tax declarations, and compliance reports.\n- **Human Resources**: Employment contracts, onboarding packs, payslips, performance reviews, and internal communications.\n- **Retail and E-commerce**: Receipts, shipping labels, delivery notes, product catalogues, and promotional materials.\n- **Education**: Diplomas, certificates, transcripts, report cards, and admission letters.\n- **Insurance**: Policy documents, claim reports, renewal notices, and coverage summaries.\n- **Real Estate**: Lease agreements, property reports, sale contracts, and inspection certificates.\n- **Logistics and Supply Chain**: Packing lists, bills of lading, customs declarations, and delivery confirmations.\n- **SaaS and Technology**: Usage reports, audit logs, billing statements, and client-facing data exports.\n\nCarbone provides the fatest **document converter**:\n- **Office to PDF** — Convert DOCX, XLSX, PPTX, ODT, ODS, ODP, and ODG files to PDF.\n- **HTML to PDF** — Convert raw HTML pages or web-based content to pixel perfect PDF.\n- **PDF to Office** — Convert PDF to DOCX, ODT, HTML, TXT (plain text extraction).\n- **Office to Office** — DOCX ↔ ODT, XLSX ↔ CSV ↔ ODS, PPTX ↔ ODP.\n- **Office to Image** — Convert DOCX / PPTX / XLSX to PNG, JPG, TIFF, SVG, WEBP.\n- **Office to MD** — Convert DOCX/ODT to Markdown.\n- **MD to PDF, Office, or Images** — Convert Markdown documents to PDF, DOCX, ODT, PNG or JPG.\n- **PDF processing** — Apply password protection, watermarks, compliance settings, and more to any existing PDF.\n- **Any supported format to any other supported format** - Spreadsheets, presentations, graphics, and more (see the full [conversion matrix](https://carbone.io/documentation/developer/http-api/generate-reports.html#output-file-type)).\n\nTo get started:\n- **Carbone Cloud API**: find your API key on your [Carbone account](https://account.carbone.io). Home page > Copy the `production` or `test` API key.\n- **Carbone Docker**: Update the `servers.url` field on the Open API specification.\n- **Carbone On-premise**: Update the `servers.url` field on the Open API specification.\n- **Carbone On-AWS**: Update the `servers.url` field on the Open API specification.\n\nDocumentation:\n- [Authentication](https://carbone.io/documentation/developer/http-api/introduction.html#authentication)\n- [API Flow](https://carbone.io/documentation/developer/http-api/introduction.html#api-flow)\n- [API Timeout](https://carbone.io/documentation/developer/http-api/introduction.html#api-timeout)\n- [API Webhooks](https://carbone.io/documentation/developer/http-api/introduction.html#api-webhook)\n- [API Versions](https://carbone.io/documentation/developer/http-api/introduction.html#api-version)\n- [Template Storage](https://carbone.io/documentation/developer/http-api/introduction.html#template-storage)\n- [Document Storage](https://carbone.io/documentation/developer/http-api/introduction.html#report-storage)\n- SDKs: [Node](https://carbone.io/documentation/developer/api-sdks/nodejs.html), [Javascript](https://carbone.io/documentation/developer/api-sdks/javascript.html), [Golang](https://carbone.io/documentation/developer/api-sdks/go.html), [PHP](https://carbone.io/documentation/developer/api-sdks/php.html), [Python](https://carbone.io/documentation/developer/api-sdks/python.html), [Rust](https://carbone.io/documentation/developer/api-sdks/rust.html), and [Java](https://carbone.io/documentation/developer/api-sdks/java.html).\n- Integrations: [Bubble](https://bubble.io/plugin/report-generator---carboneio-1643965604424x905182936531206100), [Make](https://www.make.com/en/integrations/carbone), [Zapier](https://zapier.com/apps/carboneio/integrations), [N8N](https://n8n.io/integrations/carbone/), [Odoo](https://apps.odoo.com/apps/modules/19.0/report_carbone), Salesforce and Hubspot (Coming soon)",
    "version": "V5.3.0",
    "title": "Carbone API",
    "contact": {
      "name": "Carbone Support",
      "email": "support@carbone.io",
      "url": "https://help.carbone.io"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "https://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "x-jentic-source-url": "https://carbone.io/file/carbone.OpenAPI.yml"
  },
  "servers": [
    {
      "url": "https://api.carbone.io"
    }
  ],
  "tags": [
    {
      "name": "Document",
      "description": "Generate Documents"
    },
    {
      "name": "Convert",
      "description": "Convert Documents"
    },
    {
      "name": "Template",
      "description": "Manage Templates"
    },
    {
      "name": "Status",
      "description": "API Status"
    }
  ],
  "paths": {
    "/template": {
      "post": {
        "tags": [
          "Template"
        ],
        "summary": "Upload a template.",
        "description": "Uploads a new template to the Carbone storage, supporting optional metadata and advanced features like template versioning. When versioning is enabled, multiple versions of a template can be managed under the same template `id`, and specific versions can be deployed using the `deployedAt` parameter.\n\n### Features\n- Metadata Support: Attach metadata such as name, comment, and tags to the template for better organization and retrieval.\n- Template Versioning: By enabling the `versioning` parameter, users can manage multiple versions of a template, allowing for a history of changes and rollbacks.\n- Deployed Version Control: Specify which version of a template is deployed using the `deployedAt` timestamp.\n- Sample Data: Attach sample input data to templates to facilitate testing and development in the Carbone Studio environment.\n\n### Backward Compatibility\nFor backward compatibility, if the `versioning` parameter is not provided or is set to false, the endpoint behaves as it did in previous versions. This means it does not enable the new versioning features and maintains the returned body request `{ \"success\": true, \"data\": { \"templateId\": \"SHA256\" }}` that older applications expect.\n\n### Use Cases\nIdeal for template management, including maintaining multiple versions of a document template, automating document generation workflows with precise control over deployments, and enhancing template metadata for better search and retrieval.\n",
        "externalDocs": {
          "url": "https://carbone.io/documentation/developer/http-api/manage-templates.html#upload-a-template"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/carboneVersion"
          }
        ],
        "requestBody": {
          "required": true,
          "description": "Template file and metadata to upload. The template can be provided either as base64-encoded string or as multipart/form-data. It is important to ensure that the 'template' field is the last element in the request body.",
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "template"
                ],
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "[Template ID](https://carbone.io/documentation/developer/http-api/introduction.html#template-id) (64-bit format). If the `id` is provided, the new template is added to the existing Template ID’s version history. If the id field is left empty, a new Template ID is generated. Providing a Version ID (SHA256 format) is not allowed and will result in an API error.",
                    "example": ""
                  },
                  "versioning": {
                    "type": "boolean",
                    "description": "Template versioning is **enabled** if:\n- `versioning` is \"true\" → a new [Template ID](https://carbone.io/documentation/developer/http-api/introduction.html#template-id) is generated.\n- `versioning` is \"true\" and the `id` field is provided → the new template is added to the existing [Template ID](https://carbone.io/documentation/developer/http-api/introduction.html#template-id)’s version history.\n\nTemplate versioning is **disabled** if:\n- `versioning` is \"false\" or \"undefined\", and if the `id` field is \"undefined\".\n"
                  },
                  "template": {
                    "type": "string",
                    "format": "binary",
                    "description": "Template File, supported formats: DOCX, XLSX, PPTX, ODT, ODS, ODP, ODG, XHTML, IDML, HTML or an XML file"
                  },
                  "name": {
                    "type": "string",
                    "description": "Template name."
                  },
                  "comment": {
                    "type": "string",
                    "description": "Template comment."
                  },
                  "category": {
                    "type": "string",
                    "description": "Group multiple templates into categories, similar to folders."
                  },
                  "tags": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "List of tags.",
                    "example": [
                      "invoice",
                      "contract",
                      "v2"
                    ]
                  },
                  "sample": {
                    "type": "array",
                    "description": "Sample input data used in Carbone Studio for testing and development. Each object must contain `data`, `complement`, `translations`, and `enum`.",
                    "items": {
                      "type": "object",
                      "required": [
                        "data",
                        "complement",
                        "translations",
                        "enum"
                      ],
                      "properties": {
                        "data": {
                          "type": "object",
                          "description": "JSON dataset merged into the template with `{d.}` tags.",
                          "example": {}
                        },
                        "complement": {
                          "type": "object",
                          "description": "Extra data accessible in the template with `{c.}` tags.",
                          "example": {}
                        },
                        "translations": {
                          "type": "object",
                          "description": "Localization dictionary used with `{t()}` tags.",
                          "example": {}
                        },
                        "enum": {
                          "type": "object",
                          "description": "List of enumerations for use with the `convEnum` formatter.",
                          "example": {}
                        }
                      }
                    },
                    "example": [
                      {
                        "data": {},
                        "complement": {},
                        "translations": {},
                        "enum": {}
                      }
                    ]
                  },
                  "expireAt": {
                    "type": "integer",
                    "description": "Delete the template at the specified time. The expireAt value must be a UTC Unix timestamp. Values ≥ 42000000000 (year 3300) are treated as 'now'. Future timestamps are not allowed."
                  },
                  "deployedAt": {
                    "type": "integer",
                    "description": "When generating a document with a [Template ID](https://carbone.io/documentation/developer/http-api/introduction.html#template-id), Carbone uses the most recent deployedAt version. The deployedAt value must be a UTC Unix timestamp; values ≥ 42000000000 (year 3300) are interpreted as 'NOW'. Future values are not allowed."
                  }
                }
              }
            },
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "template"
                ],
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "[Template ID](https://carbone.io/documentation/developer/http-api/introduction.html#template-id) (64-bit format). If the `id` is provided, the new template is added to the existing Template ID’s version history. If the id field is left empty, a new Template ID is generated. Providing a Version ID (SHA256 format) is not allowed and will result in an API error.",
                    "example": ""
                  },
                  "versioning": {
                    "type": "boolean",
                    "description": "Template versioning is **enabled** if:\n- `versioning` is \"true\" → a new [Template ID](https://carbone.io/documentation/developer/http-api/introduction.html#template-id) is generated.\n- `versioning` is \"true\" and the `id` field is provided → the new template is added to the existing [Template ID](https://carbone.io/documentation/developer/http-api/introduction.html#template-id)’s version history.\n\nTemplate versioning is **disabled** if:\n- `versioning` is \"false\" or \"undefined\", and if the `id` field is \"undefined\".\n"
                  },
                  "template": {
                    "type": "string",
                    "example": "Base64-encoded Template File contents, supported formats: DOCX, XLSX, PPTX, ODT, ODS, ODP, ODG, XHTML, IDML, HTML or an XML file"
                  },
                  "name": {
                    "type": "string",
                    "description": "Template name."
                  },
                  "comment": {
                    "type": "string",
                    "description": "Template comment."
                  },
                  "category": {
                    "type": "string",
                    "description": "Group multiple templates into categories, similar to folders."
                  },
                  "tags": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "List of tags.",
                    "example": [
                      "invoice",
                      "contract",
                      "v2"
                    ]
                  },
                  "sample": {
                    "type": "array",
                    "description": "Sample input data used in Carbone Studio for testing and development. Each object must contain `data`, `complement`, `translations`, and `enum`.",
                    "items": {
                      "type": "object",
                      "required": [
                        "data",
                        "complement",
                        "translations",
                        "enum"
                      ],
                      "properties": {
                        "data": {
                          "type": "object",
                          "description": "JSON dataset merged into the template with `{d.}` tags.",
                          "example": {}
                        },
                        "complement": {
                          "type": "object",
                          "description": "Extra data accessible in the template with `{c.}` tags.",
                          "example": {}
                        },
                        "translations": {
                          "type": "object",
                          "description": "Localization dictionary used with `{t()}` tags.",
                          "example": {}
                        },
                        "enum": {
                          "type": "object",
                          "description": "List of enumerations for use with the `convEnum` formatter.",
                          "example": {}
                        }
                      }
                    },
                    "example": [
                      {
                        "data": {},
                        "complement": {},
                        "translations": {},
                        "enum": {}
                      }
                    ]
                  },
                  "expireAt": {
                    "type": "integer",
                    "description": "Delete the template at the specified time. The expireAt value must be a UTC Unix timestamp. Values ≥ 42000000000 (year 3300) are treated as 'now'. Future timestamps are not allowed."
                  },
                  "deployedAt": {
                    "type": "integer",
                    "description": "When generating a document with a [Template ID](https://carbone.io/documentation/developer/http-api/introduction.html#template-id), Carbone uses the most recent deployedAt version. The deployedAt value must be a UTC Unix timestamp; values ≥ 42000000000 (year 3300) are interpreted as 'NOW'. Future values are not allowed."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "On success, returns metadata about the uploaded template. When versioning is enabled, it returns a comprehensive object containing identifiers (`id` and `versionId`), file type, size, and creation timestamp. For backward compatibility (versioning disabled or undefined), it returns only the field \"templateId\", SHA-256 hash of the template file.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "oneOf": [
                        {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "description": "Template ID."
                            },
                            "versionId": {
                              "type": "string",
                              "description": "Version ID of the template."
                            },
                            "type": {
                              "type": "string",
                              "description": "Type of the template file."
                            },
                            "size": {
                              "type": "integer",
                              "description": "Size of the template file in bytes."
                            },
                            "createdAt": {
                              "type": "integer",
                              "description": "UTC Unix timestamp of when the template was created."
                            }
                          }
                        },
                        {
                          "type": "object",
                          "properties": {
                            "templateId": {
                              "type": "string",
                              "description": "SHA-256 hash of the template file (for backward compatibility)."
                            }
                          }
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/NotFileError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "415": {
            "$ref": "#/components/responses/TemplateFormatError"
          },
          "422": {
            "$ref": "#/components/responses/MissingTemplateFieldError"
          }
        },
        "operationId": "post_template"
      }
    },
    "/template/{templateId-or-versionId}": {
      "patch": {
        "tags": [
          "Template"
        ],
        "summary": "Update template metadata.",
        "description": "Updates specific metadata and attributes of an existing template identified by its ID. This endpoint is crucial for managing the lifecycle and details of templates without the need to re-upload the template file. It allows for precise control over template metadata, versioning, and deployment states.\n\n### Features\n- Metadata Management: Modify template metadata such as name, comment, and tags for improved organization and searchability.\n- Version Deployment: Update the `deployedAt` field to control which version of a template is actively deployed, ensuring that the correct template version is used in document generation processes.\n- Lifecycle Control: Manage the template's lifecycle by updating the expiration timestamp, allowing for fine-grained control over template availability.\n\n### Use Cases\nUpdating template metadata to reflect changes in document usage or categorization, switching between template versions for deployment to support different document generation needs, and managing template lifecycle by setting expiration dates to automatically retire outdated templates.\n",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/templateIdOrVersionId"
          },
          {
            "$ref": "#/components/parameters/carboneVersion"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Template name."
                  },
                  "comment": {
                    "type": "string",
                    "description": "Template comment."
                  },
                  "category": {
                    "type": "string",
                    "description": "Group multiple templates into categories, similar to folders."
                  },
                  "tags": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "List of tags for a template."
                  },
                  "expireAt": {
                    "type": "integer",
                    "format": "int64",
                    "description": "Delete the template at the specified time. The expireAt value must be a UTC Unix timestamp. Values ≥ 42000000000 (year 3300) are treated as 'now'. Future timestamps are not allowed."
                  },
                  "deployedAt": {
                    "type": "integer",
                    "format": "int64",
                    "description": "When generating a document with a [Template ID](https://carbone.io/documentation/developer/http-api/introduction.html#template-id), Carbone uses the most recent deployedAt version. The deployedAt value must be a UTC Unix timestamp; values ≥ 42000000000 (year 3300) are interpreted as 'NOW'. Future values are not allowed."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Template metadata updated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/templateIdNotValidError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/TemplateNotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/ServerOrDatabaseError"
          }
        },
        "operationId": "patch_template_templateId_or_versionId"
      },
      "get": {
        "tags": [
          "Template"
        ],
        "summary": "Download a template or a specific version.",
        "description": "Fetches a specific template or version of a template from the Carbone storage. It supports retrieving the latest deployed version of a template using the `templateId`, as well as individual versions via `versionId`. This endpoint also allows downloading JSON data samples associated with templates or specific versions, which are used in the Studio for testing and development purposes.\n\n### Features\n- Template Retrieval: Downloads the template file or its associated JSON sample based on the provided ID.\n- Version Specificity: Retrieve specific versions of a template using `versionId`, or fetch the latest deployed template using `templateId`.\n- Data Samples: Access data samples stored with templates or versions, which are useful for testing and development in the Carbone Studio environment.\n\n### Parameters\nThe `id` of the template or version to download, can also be specified as `{templateId}_sample.json` or `{versionId}_sample.json` to download associated data samples.\n\n### Use Cases\nIdeal for accessing templates and their associated data samples for testing, integration, or deployment purposes. Supports scenarios requiring version-specific template retrieval or the latest deployed template versions.\n",
        "externalDocs": {
          "url": "https://carbone.io/documentation/developer/http-api/manage-templates.html#download-a-template"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/templateIdOrVersionId"
          },
          {
            "$ref": "#/components/parameters/carboneVersion"
          }
        ],
        "responses": {
          "200": {
            "description": "Stream of the file content",
            "headers": {
              "content-disposition": {
                "schema": {
                  "type": "string"
                },
                "description": "Template name, for instance: 'filename=\"{templateid}.docx\"'."
              },
              "content-type": {
                "schema": {
                  "type": "string"
                },
                "description": "File type"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/templateIdNotValidError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/TemplateNotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/ServerOrDatabaseError"
          }
        },
        "operationId": "get_template_templateId_or_versionId"
      },
      "delete": {
        "summary": "Delete a template or a specific version.",
        "description": "Removes a specific template or a specific version of a template from the Carbone storage. This endpoint accepts both the `templateId` and `versionId`, enabling precise control over which templates or versions are deleted.\n\n### Features\n- Template and Version Deletion: Deletes either the entire template, including all its versions, when using a `templateId`, or a specific version of a template when using a `versionId`.\n- Soft Deletion Mechanism: The deletion process involves setting an `expireAt` timestamp, marking the template for garbage collection after a predefined delay (default: 24 hours). This approach is equivalent to calling `PATCH /template/{id}` with `expireAt = NOW`.\n- Bulk Version Deletion: When a `templateId` is specified, all versions of the template are marked for deletion unless otherwise specified.\n\n### Parameters\nThe ID of the template or version to delete. This can be a `templateId` to delete an entire template and its versions, or a `versionId` to delete a specific version.\n\n### Use Case\nIdeal for managing the lifecycle of templates, such as cleaning up outdated versions, removing obsolete templates, or archiving specific versions while maintaining the overall template integrity.\n",
        "externalDocs": {
          "url": "https://carbone.io/documentation/developer/http-api/manage-templates.html#delete-a-template"
        },
        "tags": [
          "Template"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/templateIdOrVersionId"
          },
          {
            "$ref": "#/components/parameters/carboneVersion"
          }
        ],
        "responses": {
          "200": {
            "description": "The template is deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "default": true
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/templateIdNotValidError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/TemplateNotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/ServerOrDatabaseError"
          }
        },
        "operationId": "delete_template_templateId_or_versionId"
      }
    },
    "/templates": {
      "get": {
        "tags": [
          "Template"
        ],
        "summary": "List all templates.",
        "description": "Retrieves a list of templates from the Carbone storage; with comprehensive filtering, searching, and pagination capabilities. By default, the endpoint returns all deployed templates, sorted by creation date in descending order, excluding any that have expired. It supports filtering by various criteria such as template ID, version ID, and category, offering flexibility to retrieve specific subsets of templates. Additionally, it supports fuzzy search in template names and exact matches on IDs and version IDs, enhancing discoverability.\n\n### Features\n- Filtering: Filter templates by ID, version ID, and category to narrow down results based on specific criteria.\n- Search Support: Utilize fuzzy search for template names and exact matches for IDs and version IDs to quickly locate desired templates.\n- Version Inclusion: Include all versions of a template in the results by setting the `includeVersions` parameter to true, allowing for comprehensive version tracking.\n- Pagination: Employ cursor-based pagination to efficiently navigate through large datasets, enabling scalable data retrieval.\n",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "Filter by [Template ID](https://carbone.io/documentation/developer/http-api/introduction.html#template-id) (64-bit format). Providing a Version ID (SHA256 format) is not allowed and will result in an API error..",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "versionId",
            "in": "query",
            "description": "Filter by [Version ID](https://carbone.io/documentation/developer/http-api/introduction.html#version-id) (SHA256 format).",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "category",
            "in": "query",
            "description": "Filter by category.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "origin",
            "in": "query",
            "required": false,
            "description": "Filter templates by their upload origin.\n- `0`: Templates uploaded via the API.\n- `1`: Templates uploaded via the Studio.\n",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "includeVersions",
            "in": "query",
            "description": "By default equals to false. Use true to list all versions for a specific template ID.",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "Search in template name (fuzzy search), [Version ID](https://carbone.io/documentation/developer/http-api/introduction.html#version-id) (exact match), or [Template ID](https://carbone.io/documentation/developer/http-api/introduction.html#template-id) (exact match).",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Limit the number of items (100 by default).",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "A cursor to use in pagination. The cursor defines your place in the list for fetching the next set of results.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/carboneVersion"
          }
        ],
        "responses": {
          "200": {
            "description": "List of deployed templates and their versions.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "A constant identifier for a template (format: 64-bit), and used to generate documents:"
                          },
                          "versionId": {
                            "type": "string",
                            "description": "A unique identifier for a specific version of a template (format: SHA-256 hash)."
                          },
                          "deployedAt": {
                            "type": "integer",
                            "format": "int64",
                            "description": "When generating a document with a [Template ID](https://carbone.io/documentation/developer/http-api/introduction.html#template-id), Carbone uses the most recent deployedAt version. The deployedAt value must be a UTC Unix timestamp; values ≥ 42000000000 (year 3300) are interpreted as 'NOW'. Future values are not allowed."
                          },
                          "createdAt": {
                            "type": "integer",
                            "format": "int64",
                            "description": "UTC Unix timestamp."
                          },
                          "expireAt": {
                            "type": "integer",
                            "format": "int64",
                            "description": "Delete the template at the specified time. The expireAt value must be a UTC Unix timestamp. Values ≥ 42000000000 (year 3300) are treated as 'now'. Future timestamps are not allowed."
                          },
                          "size": {
                            "type": "integer",
                            "format": "int64",
                            "description": "File size in bytes."
                          },
                          "type": {
                            "type": "string",
                            "description": "File type (e.g. 'docx', 'xlsx', 'pptx', and more...)"
                          },
                          "name": {
                            "type": "string",
                            "description": "Template Name."
                          },
                          "category": {
                            "type": "string",
                            "description": "Category of the template."
                          },
                          "comment": {
                            "type": "string",
                            "description": "Template Comments."
                          },
                          "tags": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Template Tags."
                          },
                          "origin": {
                            "type": "number",
                            "description": "Upload origin of templates:\n- `0`: Templates uploaded via the API.\n- `1`: Templates uploaded via the Studio.\n"
                          }
                        }
                      }
                    },
                    "hasMore": {
                      "type": "boolean",
                      "description": "Indicates whether additional templates are available beyond the current set. If `false`, the current response contains the last page of results.",
                      "example": true
                    },
                    "nextCursor": {
                      "type": "string",
                      "description": "If `hasMore` is `true`, this value specifies the cursor to use in the next request (via the `cursor` query parameter) to fetch the subsequent page of templates.",
                      "example": "cursor_hash"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/InvalidSearchFilters"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "500": {
            "$ref": "#/components/responses/ServerOrDatabaseError"
          }
        },
        "operationId": "get_templates"
      }
    },
    "/templates/categories": {
      "get": {
        "tags": [
          "Template"
        ],
        "summary": "List all categories used in templates",
        "description": "Retrieve a list of all categories used in **deployed** templates, sorted by name. Categories function similarly to folders, allowing you to group and organize your templates effectively (e.g. \"customer-x\", \"project-2026\", \"finances\").\n\nPractical Usage:\n- **Uploading a Template:** When uploading a template, you can specify a category.\n- **Updating a Template:** You can add or modify the category when updating template metadata.\n- **Listing Templates:** You can filter templates by category to quickly find that are relevant to a specific function or type.\n",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/carboneVersion"
          }
        ],
        "responses": {
          "200": {
            "description": "List of categories used in templates.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "500": {
            "$ref": "#/components/responses/ServerOrDatabaseError"
          }
        },
        "operationId": "get_templates_categories"
      }
    },
    "/templates/tags": {
      "get": {
        "tags": [
          "Template"
        ],
        "summary": "List all tags used in templates",
        "description": "List all tags currently used in **deployed** templates, sorted by name.\n\nTags are labels that you can attach to your templates for better organization. They help you categorize templates based on different criteria, such as the type of document (e.g., \"invoice\", \"contract\") or the version of the template (e.g., \"v19.2.1\").\n\nPractical Usage:\n- **Uploading a Template:** When uploading a template, you can specify tags to categorize it.\n- **Updating a Template:** You can add or modify tags when updating template metadata.\n- **Listing Templates:** This allows you to see which tags are assigned to each template, helping you to better organize templates. It is not possible to filter templates based on tags for the moment.\n",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/carboneVersion"
          }
        ],
        "responses": {
          "200": {
            "description": "List of tags used in templates.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "500": {
            "$ref": "#/components/responses/ServerOrDatabaseError"
          }
        },
        "operationId": "get_templates_tags"
      }
    },
    "/render/template": {
      "post": {
        "summary": "Convert a document",
        "description": "Convert your documents to 100+ formats, including PDF, ODT, DOCX, JPG, PNG, Markdown, CSV, ODS, XLSX, CSV, ODP, PPTX, XML, HTML, TXT, IDML, and many more. See the [full conversion matrix](https://carbone.io/documentation/developer/http-api/generate-reports.html#output-file-type) for all supported input/output format combinations.\n\n**Two workflows are available for document conversion**:\n 1. **Inline (base64)** – Send the document as a base64-encoded string in the request body field named \"template\". Use the special endpoint `POST /render/template?download=true`. No prior upload is needed.\n 2. **Pre-uploaded template** – Upload the document once with `POST /template`, then convert it on demand using its `templateId` or `versionId` via `POST /render/{templateId-or-versionId}?download=true`.\n\n**Notes**:\n- The `download` query parameter is **required**: set it to `true` to receive the converted file as a direct stream, or `false` to receive a `renderId` for a separate `GET /render/{renderId}` download call.\n- The `data` field is required by the Carbone API. Pass an empty object `{}` when no data injection is needed.\n",
        "externalDocs": {
          "url": "https://carbone.io/documentation/developer/http-api/generate-reports.html"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "Convert"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/carboneVersion"
          },
          {
            "name": "download",
            "in": "query",
            "required": false,
            "description": "Controls how the converted document is returned.\n- `true`: the file is returned directly as a stream (Content-Type reflects the output format). The file is **not** stored on Carbone servers and no `renderId` is issued.\n- `false`: returns a JSON object with a `renderId`. Use `GET /render/{renderId}` to download the file in a second call.\n",
            "schema": {
              "type": "boolean",
              "default": true
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConvertInlineRequestBody"
              },
              "examples": {
                "html_to_pdf_chromium": {
                  "summary": "HTML → PDF (Chromium)",
                  "description": "Best for HTML/CSS/JS content. Chromium renders with full browser fidelity.",
                  "value": {
                    "data": {},
                    "template": "PCFET0NUWVBFIGh0bWw+...",
                    "convertTo": "pdf",
                    "converter": "C"
                  }
                },
                "docx_to_pdf": {
                  "summary": "DOCX → PDF (LibreOffice)",
                  "description": "Convert a Word document to PDF.",
                  "value": {
                    "data": {},
                    "template": "UEsDBBQABgAIAAAAIQ...",
                    "convertTo": "pdf",
                    "converter": "L"
                  }
                },
                "xlsx_to_pdf": {
                  "summary": "XLSX → PDF (LibreOffice)",
                  "description": "Convert an Excel spreadsheet to PDF.",
                  "value": {
                    "data": {},
                    "template": "UEsDBBQABgAIAAAAIQ...",
                    "convertTo": "pdf",
                    "converter": "L"
                  }
                },
                "pptx_to_pdf": {
                  "summary": "PPTX → PDF (LibreOffice)",
                  "description": "Convert a PowerPoint presentation to PDF.",
                  "value": {
                    "data": {},
                    "template": "UEsDBBQABgAIAAAAIQ...",
                    "convertTo": "pdf",
                    "converter": "L"
                  }
                },
                "odt_to_pdf": {
                  "summary": "ODT → PDF (LibreOffice)",
                  "description": "Convert an OpenDocument Text file to PDF.",
                  "value": {
                    "data": {},
                    "template": "UEsDBBQABgAIAAAAIQ...",
                    "convertTo": "pdf",
                    "converter": "L"
                  }
                },
                "xlsx_to_csv": {
                  "summary": "XLSX → CSV",
                  "description": "Extract spreadsheet data as a CSV file.",
                  "value": {
                    "data": {},
                    "template": "UEsDBBQABgAIAAAAIQ...",
                    "convertTo": "csv"
                  }
                },
                "docx_to_html": {
                  "summary": "DOCX → HTML",
                  "description": "Convert a Word document to HTML for web display.",
                  "value": {
                    "data": {},
                    "template": "UEsDBBQABgAIAAAAIQ...",
                    "convertTo": "html"
                  }
                },
                "pptx_to_png": {
                  "summary": "PPTX → PNG",
                  "description": "Render the first slide of a PowerPoint presentation as a PNG image.",
                  "value": {
                    "data": {},
                    "template": "UEsDBBQABgAIAAAAIQ...",
                    "convertTo": "png"
                  }
                },
                "html_to_pdf_password": {
                  "summary": "HTML → Password-protected PDF",
                  "description": "Convert HTML to an encrypted PDF using advanced formatOptions.",
                  "value": {
                    "data": {},
                    "template": "PCFET0NUWVBFIGh0bWw+...",
                    "convertTo": {
                      "formatName": "pdf",
                      "formatOptions": {
                        "EncryptFile": true,
                        "DocumentOpenPassword": "s3cr3t"
                      }
                    },
                    "converter": "C"
                  }
                },
                "docx_to_pdf_onlyoffice": {
                  "summary": "DOCX → PDF (OnlyOffice)",
                  "description": "Use OnlyOffice for maximum fidelity with complex DOCX/XLSX/PPTX formatting.",
                  "value": {
                    "data": {},
                    "template": "UEsDBBQABgAIAAAAIQ...",
                    "convertTo": "pdf",
                    "converter": "O"
                  }
                },
                "md_to_docx": {
                  "summary": "MD → DOCX (LibreOffice)",
                  "description": "Convert a Markdown file to a Word document.",
                  "value": {
                    "data": {},
                    "template": "IyBIZWxsbyBXb3JsZA...",
                    "convertTo": "docx",
                    "converter": "L"
                  }
                },
                "md_to_odt": {
                  "summary": "MD → ODT (LibreOffice)",
                  "description": "Convert a Markdown file to an OpenDocument Text file.",
                  "value": {
                    "data": {},
                    "template": "IyBIZWxsbyBXb3JsZA...",
                    "convertTo": "odt",
                    "converter": "L"
                  }
                },
                "md_to_pdf": {
                  "summary": "MD → PDF (LibreOffice)",
                  "description": "Convert a Markdown file to PDF.",
                  "value": {
                    "data": {},
                    "template": "IyBIZWxsbyBXb3JsZA...",
                    "convertTo": "pdf",
                    "converter": "L"
                  }
                },
                "md_to_jpeg": {
                  "summary": "MD → JPEG (LibreOffice)",
                  "description": "Convert a Markdown file to a JPEG image.",
                  "value": {
                    "data": {},
                    "template": "IyBIZWxsbyBXb3JsZA...",
                    "convertTo": "jpg",
                    "converter": "L"
                  }
                },
                "md_to_png": {
                  "summary": "MD → PNG (LibreOffice)",
                  "description": "Convert a Markdown file to a PNG image.",
                  "value": {
                    "data": {},
                    "template": "IyBIZWxsbyBXb3JsZA...",
                    "convertTo": "png",
                    "converter": "L"
                  }
                },
                "odt_to_md": {
                  "summary": "ODT → MD (LibreOffice)",
                  "description": "Convert an OpenDocument Text file to Markdown.",
                  "value": {
                    "data": {},
                    "template": "UEsDBBQABgAIAAAAIQ...",
                    "convertTo": "md",
                    "converter": "L"
                  }
                },
                "docx_to_md": {
                  "summary": "DOCX → MD (LibreOffice)",
                  "description": "Convert a Word document to Markdown.",
                  "value": {
                    "data": {},
                    "template": "UEsDBBQABgAIAAAAIQ...",
                    "convertTo": "md",
                    "converter": "L"
                  }
                },
                "pdf_to_pdf_password": {
                  "summary": "PDF → Password-protected PDF",
                  "description": "Add a password to an existing PDF using LibreOffice. The output PDF can only be opened with the specified password.",
                  "value": {
                    "data": {},
                    "template": "JVBERi0xLjQKJcfs...",
                    "convertTo": {
                      "formatName": "pdf",
                      "formatOptions": {
                        "EncryptFile": true,
                        "DocumentOpenPassword": "s3cr3t"
                      }
                    },
                    "converter": "L"
                  }
                },
                "pptx_to_webp": {
                  "summary": "PPTX → WEBP",
                  "description": "Render the first slide of a PowerPoint presentation as a WEBP image. Useful for generating slide thumbnails.",
                  "value": {
                    "data": {},
                    "template": "UEsDBBQABgAIAAAAIQ...",
                    "convertTo": "webp"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/RenderSuccess"
          },
          "400": {
            "$ref": "#/components/responses/NotJsonError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/TemplateNotFoundError"
          },
          "413": {
            "description": "Content too large, the JSON size limit exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": false,
                    "error": "Content too large, the JSON size limit is X MB"
                  }
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/MissingDataFieldError"
          },
          "500": {
            "$ref": "#/components/responses/GenerateReportError"
          }
        },
        "operationId": "post_render_template"
      }
    },
    "/render/{templateId-or-versionId}": {
      "post": {
        "summary": "Generate a document.",
        "description": "Renders a document by merging a template with JSON data, or converts a pre-uploaded document to another format:\n- **Document generation** - merge a Carbone template (using `{d.field}` tags) with a JSON dataset to produce a customised document.\n- **Document conversion** - pass `\"data\": {}` and a `convertTo` value to convert a pre-uploaded document (DOCX, XLSX, PPTX, HTML, ODT, ODS, ODP, ODG…) to another format. To convert without pre-uploading, use `POST /render/template` with a base64-encoded document in the body instead.\n\n### Features\n- Dynamic Document Generation: Create documents by merging pre-designed templates with dynamic JSON data, ensuring consistency and customization in generated documents.\n- Version Support: Utilize either a template ID or a specific version ID to control which version of a template is used for rendering, allowing for precise document generation.\n- Output Format Flexibility: Generate documents in various formats by specifying output types, catering to diverse business and compliance needs.\n- Constant Template ID: Multiple versions of a template can be associated with a single Template ID. Carbone checks the deployedAt timestamp to determine which version of the template is actively deployed. The version with the most recent deployedAt timestamp is selected for document generation.\n\n\n### Notes\n- **Direct download** - Use the `download` query parameter and set it to `true` to receive the file as a direct stream, or `false` to receive a `renderId` for a separate `GET /render/{renderId}` download call.\n",
        "externalDocs": {
          "url": "https://carbone.io/documentation/developer/http-api/generate-reports.html"
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "Document"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/templateIdOrVersionId"
          },
          {
            "$ref": "#/components/parameters/carboneVersion"
          },
          {
            "name": "download",
            "in": "query",
            "description": "Controls how the converted document is returned.\n- `true`: the file is returned directly as a stream (Content-Type reflects the output format). The file is **not** stored on Carbone servers and no `renderId` is issued.\n- `false`: returns a JSON object with a `renderId`. Use `GET /render/{renderId}` to download the file in a second call.\n",
            "schema": {
              "type": "boolean",
              "default": true
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "data"
                ],
                "properties": {
                  "data": {
                    "type": "object",
                    "example": {
                      "id": "42",
                      "name": "John",
                      "type": "invoice"
                    },
                    "description": "Required - JSON data-set merged into the template to generate a document"
                  },
                  "convertTo": {
                    "$ref": "#/components/schemas/ConvertToOption"
                  },
                  "converter": {
                    "type": "string",
                    "example": "L",
                    "description": "When the \"convertTo\" field is set to \"pdf\", use this option to specify the converter engine. \nThe following values are supported: \n- Set `L`: LibreOffice (default), the best balance between performances and document compatibility.\n- Set `O`: OnlyOffice, Ideal for office documents (DOCX, XLSX, PPTX).\n- Set `C`: Chromium, High-fidelity HTML-to-PDF conversion, perfect for web-based templates.\n"
                  },
                  "template": {
                    "type": "string",
                    "description": "Optional - Upload a template in base64 format. When used, the URL should be /render/template.",
                    "example": "base64-encoded-template"
                  },
                  "timezone": {
                    "type": "string",
                    "example": "Europe/Paris",
                    "description": "Optional - Convert document dates to a timezone. The default timezone is `Europe/Paris`. The date must be chained with the `:formatD` formatter, for instance `{d.date:formatD(YYYY-MM-DD HH:MM)}`. List of accepted timezones (Column TZ identifier): https://en.wikipedia.org/wiki/List_of_tz_database_time_zones"
                  },
                  "lang": {
                    "type": "string",
                    "example": "fr-fr",
                    "description": "Optional - Locale of the generated document, it will be used for translation `{t()}`, formatting numbers with `:formatN`, and currencies `:formatC`. List of supported locales: https://github.com/carboneio/carbone/blob/master/formatters/_locale.js"
                  },
                  "complement": {
                    "type": "object",
                    "example": {},
                    "description": "Optional - Object|Array, extra data accessible in the template with {c.} instead of {d.}"
                  },
                  "variableStr": {
                    "type": "string",
                    "example": "{#def = d.id}",
                    "description": "Optional - Predefine alias, related documentation: https://carbone.io/documentation.html#alias"
                  },
                  "reportName": {
                    "type": "string",
                    "example": "{d.date}.odt",
                    "description": "Optional - Static or dynamic file name returned on the `content-disposition` header when the generated report is fetched with `GET /report/:renderId`. Multiple Carbone tags are accepted, such as `{d.type}-{d.date}.pdf`"
                  },
                  "enum": {
                    "type": "object",
                    "example": {},
                    "description": "Optional - List of enumerations, use it in reports with `convEnum` formatters, documentation: https://carbone.io/documentation.html#convenum-type-"
                  },
                  "translations": {
                    "type": "object",
                    "example": {
                      "fr": {
                        "one": "un"
                      },
                      "es": {
                        "one": "uno"
                      }
                    },
                    "description": "Optional - When the report is generated, all text between `{t( )}` is replaced with the corresponding translation. The `lang` option is required to select the correct translation. Learn more: https://carbone.io/documentation.html#translations"
                  },
                  "currencySource": {
                    "type": "string",
                    "example": "EUR",
                    "description": "Optional - Currency source coming from your JSON data. The option is used by `formatC` to convert the currency based on the `currencyTarget` and `currencyRates`. Learn more: https://carbone.io/documentation.html#formatc-precisionorformat-"
                  },
                  "currencyTarget": {
                    "type": "string",
                    "example": "USD",
                    "description": "Optional - Target currency when the document is generated. The option is used by `formatC` to convert the currency based on the `currencySource` and `currencyRates`. Learn more: https://carbone.io/documentation.html#formatc-precisionorformat-"
                  },
                  "currencyRates": {
                    "type": "object",
                    "example": {
                      "EUR": 1,
                      "USD": 1.2
                    },
                    "description": "Optional - Currency exchange rates for conversions from `currencySource` to `currencyTarget`. Learn more: https://carbone.io/documentation.html#formatc-precisionorformat-"
                  },
                  "hardRefresh": {
                    "type": "boolean",
                    "example": false,
                    "description": "Optional - If true, the report content is refreshed at the end of the rendering process. To use this option, `convertTo` has to be defined. It is mostly used to refresh a table of content."
                  },
                  "batchSplitBy": {
                    "type": "string",
                    "description": "Optional - Generate multiple reports by splitting the data array.",
                    "example": "d.items"
                  },
                  "batchOutput": {
                    "type": "string",
                    "description": "Optional - Output format for batch processing",
                    "example": "zip"
                  },
                  "batchReportName": {
                    "type": "string",
                    "description": "Optional - Customize each file name inside a ZIP batch export. Supports Carbone tags using relative or absolute JSON paths (e.g. `report-{d.id}`). Used together with `batchSplitBy`.",
                    "example": "report-{d.id}"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/RenderSuccess"
          },
          "400": {
            "$ref": "#/components/responses/NotJsonError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/TemplateNotFoundError"
          },
          "413": {
            "description": "Content too large, the JSON size limit exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": false,
                    "error": "Content too large, the JSON size limit is X MB"
                  }
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/MissingDataFieldError"
          },
          "500": {
            "$ref": "#/components/responses/GenerateReportError"
          }
        },
        "operationId": "post_render_templateId_or_versionId"
      }
    },
    "/render/{renderId}": {
      "get": {
        "summary": "Retrieve a generated document.",
        "description": "Download a  generated document using a unique render ID. This render ID is obtained from a successful call to the `POST /render/{templateId-or-versionId}` endpoint. The retrieved document is provided as a file stream, which can be directly downloaded or viewed.\n\n### Features\n- Document Retrieval: Access generated documents using a unique render ID, ensuring secure and direct retrieval.\n- Single-Use Access: The document is deleted immediately after retrieval, ensuring privacy and reducing server storage usage. Subsequent calls with the same render ID will result in a 404 error, as the document is no longer available.\n\n### Authentication\nNo authentication header is required for this API call, simplifying integration and access for end-users.\n",
        "externalDocs": {
          "url": "https://carbone.io/documentation/developer/http-api/download-reports.html"
        },
        "tags": [
          "Document"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/renderId"
          },
          {
            "$ref": "#/components/parameters/carboneVersion"
          },
          {
            "name": "download",
            "in": "query",
            "description": "If set to true, changes Content-Disposition to attachment, for direct download.",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "renderId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Stream of the generated document. The content type will correspond to the format of the generated document, which can be any of the supported output file formats.",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "application/xml": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "application/vnd.openxmlformats-officedocument.wordprocessingml.document": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "application/vnd.oasis.opendocument.text": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "application/epub+zip": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "application/x-latex": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "text/x-bibtex": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "text/x-tex": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "application/vnd.oasis.opendocument.spreadsheet": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "text/csv": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "application/dbf": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "text/dif": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "application/vnd.openxmlformats-officedocument.presentationml.presentation": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "application/vnd.oasis.opendocument.presentation": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "image/bmp": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "image/x-emf": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "application/postscript": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "image/gif": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "image/jpeg": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "image/png": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "image/tiff": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "application/vnd.oasis.opendocument.graphics": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "image/svg+xml": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "application/vnd.ms-powerpoint": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "image/webp": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            },
            "headers": {
              "content-disposition": {
                "schema": {
                  "type": "string"
                },
                "description": "File name, for instance: 'filename=\"report.pdf\"'. The default value is 'report'. The file name can be changed dynamically thanks to the `reportName` option when generating a document with `POST /render/:templateId`."
              },
              "content-type": {
                "schema": {
                  "type": "string"
                },
                "description": "File type"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/RenderIdNotValidError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "description": "Document not found, typically already retrieved and deleted.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "default": false
                    },
                    "error": {
                      "type": "string",
                      "example": "File not found"
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get_render_renderId"
      }
    },
    "/status": {
      "get": {
        "tags": [
          "Status"
        ],
        "summary": "Fetch the API status and version",
        "responses": {
          "200": {
            "description": "Check the API status and version",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "code": 200,
                    "message": "OK",
                    "version": "4.13.0"
                  },
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "code": {
                      "type": "number"
                    },
                    "message": {
                      "type": "string"
                    },
                    "version": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Something went wrong, contact support on the chat"
          }
        },
        "description": "Fetch the API status and version",
        "operationId": "get_status"
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Get you test or production API Key on https://account.carbone.io",
        "scheme": "bearer",
        "bearerFormat": "eyJhbGci..."
      }
    },
    "parameters": {
      "carboneVersion": {
        "name": "carbone-version",
        "description": "Carbone API version to use. The latest version is **5**.\nIf this header is not provided, the API defaults to version **4**.\nIt is strongly recommended to always set this header explicitly to avoid unexpected behavior.\n[See API versioning documentation](https://carbone.io/documentation/developer/http-api/introduction.html#api-version)\n",
        "in": "header",
        "required": true,
        "schema": {
          "type": "integer",
          "format": "int32",
          "default": 5
        }
      },
      "templateIdOrVersionId": {
        "in": "path",
        "name": "templateId-or-versionId",
        "description": "Unique identifier of the template or version ID",
        "schema": {
          "type": "string"
        },
        "required": true
      },
      "renderId": {
        "in": "path",
        "name": "renderId",
        "description": "Unique identifier of the report",
        "schema": {
          "type": "string"
        },
        "required": true
      }
    },
    "schemas": {
      "ConvertToOption": {
        "description": "Output format for the converted/generated document.\nCan be a simple string (format name) or an object with advanced options (PDF password, watermark, image quality, CSV separator, etc.).\n\n**Simple string examples:** `\"pdf\"`, `\"docx\"`, `\"xlsx\"`, `\"pptx\"`, `\"odt\"`, `\"ods\"`, `\"odp\"`, `\"html\"`, `\"csv\"`, `\"txt\"`, `\"png\"`, `\"jpg\"`, `\"svg\"`, `\"epub\"`, `\"md\"`, `\"webp\"`\n\n**Full conversion matrix:** https://carbone.io/documentation/developer/http-api/generate-reports.html#output-file-type\n\n**Object form (PDF with options):**\n```json\n    {\n      \"formatName\": \"pdf\",\n      \"formatOptions\": {\n        \"EncryptFile\": true,\n        \"DocumentOpenPassword\": \"s3cr3t\",\n        \"Watermark\": \"CONFIDENTIAL\"\n      }\n    }\n```\n\n**Object form (PDF with multiple watermarks):**\n```json\n    {\n      \"formatName\": \"pdf\",\n      \"formatOptions\": {\n        \"Watermarks\": [\n          {\n            \"text\": \"Confidential - Page {#PAGE_NUMBER} / {#PAGE_TOTAL}\",\n            \"anchor\": \"center\",\n            \"rotation\": -45,\n            \"opacity\": 0.1\n          }\n        ]\n      }\n    }\n```\n\n**Object form (JPG with options):**\n```json\n    {\n      \"formatName\": \"jpg\",\n      \"formatOptions\": { \"Quality\": 80, \"ColorMode\": 0 }\n    }\n```\n\n**Object form (CSV with options):**\n```json\n    {\n      \"formatName\": \"csv\",\n      \"formatOptions\": { \"fieldSeparator\": \";\", \"textDelimiter\": \"\\\"\", \"characterSet\": \"76\" }\n    }\n```\n",
        "oneOf": [
          {
            "type": "string",
            "example": "pdf",
            "description": "Target format name (e.g. pdf, docx, xlsx, pptx, odt, ods, html, csv, png, jpg, svg, epub, md, webp…)"
          },
          {
            "type": "object",
            "description": "Target format with advanced options.",
            "required": [
              "formatName"
            ],
            "properties": {
              "formatName": {
                "type": "string",
                "description": "Target format name.",
                "example": "pdf"
              },
              "formatOptions": {
                "type": "object",
                "description": "Format-specific options. See the full option list for each format:\n- PDF: https://carbone.io/documentation/developer/http-api/generate-reports.html#pdf-options\n- JPG/PNG: https://carbone.io/documentation/developer/http-api/generate-reports.html#jpg-png-options\n- CSV: https://carbone.io/documentation/developer/http-api/generate-reports.html#csv-options\n",
                "properties": {
                  "EncryptFile": {
                    "type": "boolean",
                    "default": false,
                    "description": "Encrypt the PDF with a password. Requires `DocumentOpenPassword`."
                  },
                  "DocumentOpenPassword": {
                    "type": "string",
                    "description": "Password required to open the PDF. Only active when `EncryptFile` is true."
                  },
                  "PermissionPassword": {
                    "type": "string",
                    "description": "Password required to change restricted permissions. Only active when `RestrictPermissions` is true."
                  },
                  "RestrictPermissions": {
                    "type": "boolean",
                    "default": false,
                    "description": "Restrict permissions on the PDF (printing, copying, changes). Requires `PermissionPassword`."
                  },
                  "Printing": {
                    "type": "integer",
                    "default": 2,
                    "description": "Printing permission. 0: Not permitted. 1: Low resolution (150 DPI). 2: Maximum resolution. Requires `RestrictPermissions: true`."
                  },
                  "Changes": {
                    "type": "integer",
                    "default": 4,
                    "description": "Change permission. 0: Not permitted. 1: Insert/delete/rotate pages. 2: Fill form fields. 3: Comment and fill forms. 4: Any except extracting pages. Requires `RestrictPermissions: true`."
                  },
                  "Watermark": {
                    "type": "string",
                    "description": "Legacy field (backward compatible). Renders a single centered watermark at 45° with default styling on every page of the exported PDF file."
                  },
                  "Watermarks": {
                    "type": "array",
                    "description": "New in v5.3.0. Define up to 5 watermarks per document, each fully configurable. Can be used simultaneously with the legacy `Watermark` field. Only available on the `Watermarks` array — not on the legacy `Watermark` string field.",
                    "maxItems": 5,
                    "items": {
                      "type": "object",
                      "required": [
                        "text"
                      ],
                      "properties": {
                        "text": {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 2000,
                          "description": "The watermark label. Supports `{#PAGE_NUMBER}` and `{#PAGE_TOTAL}` variables for dynamic page numbering.",
                          "example": "Confidential - Page {#PAGE_NUMBER} / {#PAGE_TOTAL}"
                        },
                        "anchor": {
                          "type": "string",
                          "default": "center",
                          "description": "Position of the watermark on the page.",
                          "enum": [
                            "topLeft",
                            "top",
                            "topRight",
                            "left",
                            "center",
                            "right",
                            "bottomLeft",
                            "bottom",
                            "bottomRight"
                          ]
                        },
                        "offsetX": {
                          "type": "number",
                          "default": 0,
                          "description": "Horizontal offset in points (pt) from the anchor. Positive values move right."
                        },
                        "offsetY": {
                          "type": "number",
                          "default": 0,
                          "description": "Vertical offset in points (pt) from the anchor. Positive values move up."
                        },
                        "rotation": {
                          "type": "number",
                          "minimum": -360,
                          "maximum": 360,
                          "description": "Rotation in degrees. For `center` anchor, any value between -360 and 360. For all other anchors, only 0, 90, or -90 are allowed."
                        },
                        "color": {
                          "type": "string",
                          "default": "#000000",
                          "description": "Watermark text color in `#RGB` or `#RRGGBB` format.",
                          "example": "#000000"
                        },
                        "size": {
                          "type": "number",
                          "minimum": 1,
                          "maximum": 2000,
                          "description": "Font size in pt. For `center` anchor, defaults to automatic. For all other anchors, defaults to 12."
                        },
                        "opacity": {
                          "type": "number",
                          "minimum": 0,
                          "maximum": 1,
                          "description": "Opacity between 0 and 1. For `center` anchor, defaults to 0.1. For all other anchors, defaults to 1."
                        },
                        "font": {
                          "type": "string",
                          "default": "Helvetica",
                          "description": "Font family for the watermark text.",
                          "enum": [
                            "Courier",
                            "Courier-Bold",
                            "Courier-Oblique",
                            "Courier-BoldOblique",
                            "Helvetica",
                            "Helvetica-Bold",
                            "Helvetica-Oblique",
                            "Helvetica-BoldOblique",
                            "Times-Roman",
                            "Times-Bold",
                            "Times-Italic",
                            "Times-BoldItalic"
                          ]
                        },
                        "fromPage": {
                          "type": "integer",
                          "minimum": 1,
                          "default": 1,
                          "description": "First page (1-based) on which the watermark is applied."
                        },
                        "toPage": {
                          "type": "integer",
                          "minimum": 1,
                          "description": "Last page (1-based) on which the watermark is applied. Defaults to the last page of the document."
                        }
                      }
                    }
                  },
                  "SelectPdfVersion": {
                    "type": "integer",
                    "default": 0,
                    "description": "PDF version to emit. 0: PDF 1.6. 1: PDF/A-1. 2: PDF/A-2. 3: PDF/A-3. 15: PDF 1.5. 16: PDF 1.6."
                  },
                  "PDFUACompliance": {
                    "type": "boolean",
                    "default": false,
                    "description": "Enable PDF/UA Universal Accessibility standard (ISO 14289)."
                  },
                  "PageRange": {
                    "type": "string",
                    "description": "Range of pages to export (e.g. '1-3'). Leave unset to export all pages."
                  },
                  "UseLosslessCompression": {
                    "type": "boolean",
                    "default": true,
                    "description": "Export graphics using lossless compression (PNG). Set to false to use JPEG compression."
                  },
                  "ReduceImageResolution": {
                    "type": "boolean",
                    "default": false,
                    "description": "Reduce image resolution to the value defined in `MaxImageResolution`."
                  },
                  "MaxImageResolution": {
                    "type": "integer",
                    "default": 300,
                    "description": "Maximum image resolution in DPI when `ReduceImageResolution` is true. Accepted values: 75, 150, 300, 600, 1200."
                  },
                  "UseTaggedPDF": {
                    "type": "boolean",
                    "default": false,
                    "description": "Generate a tagged PDF (accessibility)."
                  },
                  "PixelWidth": {
                    "type": "number",
                    "description": "Output image width in pixels. Defaults to document width."
                  },
                  "PixelHeight": {
                    "type": "number",
                    "description": "Output image height in pixels. Defaults to document height."
                  },
                  "ColorMode": {
                    "type": "number",
                    "default": 0,
                    "description": "Color mode. 0: Colors. 1: Greyscale."
                  },
                  "Quality": {
                    "type": "number",
                    "default": 100,
                    "description": "JPG export quality, from 1 (lowest) to 100 (highest)."
                  },
                  "Compression": {
                    "type": "number",
                    "default": 0,
                    "description": "PNG compression level, from 0 (disabled) to 9 (maximum)."
                  },
                  "Interlaced": {
                    "type": "number",
                    "default": 0,
                    "description": "PNG interlacing. 0: Not interlaced. 1: Interlaced."
                  },
                  "Translucent": {
                    "type": "number",
                    "default": 0,
                    "description": "PNG transparency. 0: No transparent background. 1: Transparent background."
                  },
                  "fieldSeparator": {
                    "type": "string",
                    "description": "CSV field separator character (e.g. `,`, `;`, `+`)."
                  },
                  "textDelimiter": {
                    "type": "string",
                    "description": "CSV text delimiter character (e.g. `\"`)."
                  },
                  "characterSet": {
                    "type": "string",
                    "description": "CSV character encoding. See https://wiki.openoffice.org/wiki/Documentation/DevGuide/Spreadsheets/Filter_Options for accepted values (e.g. '76' for UTF-8)."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        ]
      },
      "ConvertInlineRequestBody": {
        "type": "object",
        "required": [
          "data",
          "template"
        ],
        "properties": {
          "data": {
            "type": "object",
            "description": "**Required.** JSON dataset merged into the template using `{d.field}` tags.\nFor pure document conversion (no data injection), pass an empty object: `{}`.\n",
            "example": {}
          },
          "template": {
            "type": "string",
            "description": "**Required for inline conversion.** The source document encoded as a base64 string.\nSupported input formats: PDF, MD (Markdown), DOCX, XLSX, PPTX, ODT, ODS, ODP, ODG, HTML, XHTML, IDML, XML.\n",
            "example": "PCFET0NUWVBFIGh0bWw+..."
          },
          "convertTo": {
            "$ref": "#/components/schemas/ConvertToOption"
          },
          "converter": {
            "type": "string",
            "description": "PDF converter engine to use when `convertTo` is `\"pdf\"`.\n- `L` – **LibreOffice** (default): best balance of performance and compatibility for Office documents.\n- `O` – **OnlyOffice**: ideal for DOCX, XLSX, PPTX requiring maximum fidelity.\n- `C` – **Chromium**: high-fidelity HTML-to-PDF rendering with full CSS and JavaScript support.\n",
            "enum": [
              "L",
              "O",
              "C"
            ],
            "example": "C"
          },
          "timezone": {
            "type": "string",
            "example": "Europe/Paris",
            "description": "Convert document dates to a timezone. The date must be chained with the `:formatD` formatter. List of accepted timezones: https://en.wikipedia.org/wiki/List_of_tz_database_time_zones"
          },
          "lang": {
            "type": "string",
            "example": "fr-fr",
            "description": "Locale of the generated document, used for translations `{t()}`, number formatting `:formatN`, and currencies `:formatC`. List of supported locales: https://github.com/carboneio/carbone/blob/master/formatters/_locale.js"
          },
          "complement": {
            "type": "object",
            "example": {},
            "description": "Extra data accessible in the template with `{c.}` instead of `{d.}`."
          },
          "variableStr": {
            "type": "string",
            "example": "{#def = d.id}",
            "description": "Predefined alias. See: https://carbone.io/documentation.html#alias"
          },
          "reportName": {
            "type": "string",
            "example": "{d.date}.pdf",
            "description": "Static or dynamic output file name returned in the `content-disposition` header. Supports multiple Carbone tags, e.g. `{d.type}-{d.date}.pdf`."
          },
          "enum": {
            "type": "object",
            "example": {},
            "description": "List of enumerations for use with the `convEnum` formatter. See: https://carbone.io/documentation.html#convenum-type-"
          },
          "translations": {
            "type": "object",
            "example": {
              "fr": {
                "one": "un"
              },
              "es": {
                "one": "uno"
              }
            },
            "description": "Localization dictionary used with `{t( )}` tags. Requires the `lang` option."
          },
          "currencySource": {
            "type": "string",
            "example": "EUR",
            "description": "Source currency from your JSON data, used by `formatC` for currency conversion."
          },
          "currencyTarget": {
            "type": "string",
            "example": "USD",
            "description": "Target currency for the generated document, used by `formatC`."
          },
          "currencyRates": {
            "type": "object",
            "example": {
              "EUR": 1,
              "USD": 1.2
            },
            "description": "Currency exchange rates for `formatC` conversion."
          },
          "hardRefresh": {
            "type": "boolean",
            "example": false,
            "description": "If true, recomputes pagination and table of contents at the end of rendering. Requires `convertTo` to be defined."
          },
          "batchSplitBy": {
            "type": "string",
            "description": "Optional - Generate multiple reports by splitting the data array.",
            "example": "d.items"
          },
          "batchOutput": {
            "type": "string",
            "description": "Optional - Output format for batch processing. Accepted values: `zip` (default) or `pdf`.",
            "example": "zip"
          },
          "batchReportName": {
            "type": "string",
            "description": "Optional - Customize each file name inside a ZIP batch export. Supports Carbone tags using relative or absolute JSON paths (e.g. `report-{d.id}`). Used together with `batchSplitBy`.",
            "example": "report-{d.id}"
          }
        }
      }
    },
    "responses": {
      "RenderSuccess": {
        "description": "On success, by default a JSON response containing the `renderId` is returned.\nIf the query parameter `download=true` is used, the response body is the converted/generated file stream and the Content-Type reflects the output format.\n",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "default": true
                },
                "data": {
                  "type": "object",
                  "properties": {
                    "renderId": {
                      "type": "string",
                      "example": "MTAuMjAuMjEuMTAgICAg.pdf"
                    }
                  }
                }
              }
            }
          },
          "application/pdf": {
            "schema": {
              "type": "string",
              "format": "binary"
            }
          },
          "application/vnd.openxmlformats-officedocument.wordprocessingml.document": {
            "schema": {
              "type": "string",
              "format": "binary",
              "description": "DOCX"
            }
          },
          "application/msword": {
            "schema": {
              "type": "string",
              "format": "binary",
              "description": "DOC"
            }
          },
          "application/vnd.oasis.opendocument.text": {
            "schema": {
              "type": "string",
              "format": "binary",
              "description": "ODT"
            }
          },
          "application/vnd.oasis.opendocument.text-template": {
            "schema": {
              "type": "string",
              "format": "binary",
              "description": "OTT"
            }
          },
          "application/epub+zip": {
            "schema": {
              "type": "string",
              "format": "binary",
              "description": "EPUB"
            }
          },
          "text/html": {
            "schema": {
              "type": "string",
              "format": "binary",
              "description": "HTML"
            }
          },
          "application/xhtml+xml": {
            "schema": {
              "type": "string",
              "format": "binary",
              "description": "XHTML"
            }
          },
          "text/plain": {
            "schema": {
              "type": "string",
              "format": "binary",
              "description": "TXT"
            }
          },
          "text/markdown": {
            "schema": {
              "type": "string",
              "format": "binary",
              "description": "MD (Markdown)"
            }
          },
          "application/rtf": {
            "schema": {
              "type": "string",
              "format": "binary",
              "description": "RTF"
            }
          },
          "application/x-latex": {
[...]
