{
  "openapi": "3.0.3",
  "info": {
    "title": "Grdsoft DGII Sign",
    "version": "1.0.0",
    "contact": {},
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/carlos-95f/grdsoft-dgii-sign/1.0.0"
  },
  "servers": [
    {
      "url": "https://firmaelectronica.grdsoft.com"
    }
  ],
  "paths": {
    "/grdsoft/v1/encf/signdocument": {
      "post": {
        "summary": "Document Sign",
        "description": "Document Sign",
        "operationId": "documentSign",
        "parameters": [
          {
            "name": "x-api-key",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "app.apikey"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "xml": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Accept Success / Reject Success",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string",
                  "example": "*"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "keep-alive"
                }
              },
              "Content-Length": {
                "schema": {
                  "type": "string",
                  "example": "871"
                }
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Mon, 12 May 2025 16:27:34 GMT"
                }
              },
              "ETag": {
                "schema": {
                  "type": "string",
                  "example": "W/\"367-aOKzAEn8ti9ujPhTbnla9KTSwog\""
                }
              },
              "Server": {
                "schema": {
                  "type": "string",
                  "example": "nginx/1.14.1"
                }
              },
              "X-Powered-By": {
                "schema": {
                  "type": "string",
                  "example": "Express"
                }
              }
            },
            "content": {
              "text/plain": {
                "examples": {
                  "Accept Success": {
                    "value": "{\n    &#34;id&#34;: &#34;7af7defb-d913-4d90-bac0-a7805e0ae625&#34;,\n    &#34;fecha&#34;: &#34;2025-05-12T12:08:05.000Z&#34;,\n    &#34;factura&#34;: &#34;10718&#34;,\n    &#34;fechaFactura&#34;: &#34;06-05-2025&#34;,\n    &#34;cliente&#34;: &#34;GRDSOFT SRL&#34;,\n    &#34;clienteRnc&#34;: &#34;132825845&#34;,\n    &#34;ecfTipo&#34;: 31,\n    &#34;ecf&#34;: &#34;E310000000405&#34;,\n    &#34;total&#34;: 1110,\n    &#34;codigoFirma&#34;: &#34;aOx&#43;Kz&#34;,\n    &#34;trackid&#34;: &#34;f8b83aed-bb4f-4406-a9ee-1fe03aa0c641&#34;,\n    &#34;estado&#34;: &#34;Aceptado&#34;,\n    &#34;xmlNombre&#34;: &#34;04701956312E310000000405.xml&#34;,\n    &#34;url&#34;: &#34;https://ecf.dgii.gov.do/TesteCF/consultatimbre?rncemisor&#61;04701956312&amp;RncComprador&#61;132825845&amp;encf&#61;E310000000405&amp;FechaEmision&#61;06-05-2025&amp;montototal&#61;1110&amp;FechaFirma&#61;06-05-2025%2009:43:00&amp;codigoseguridad&#61;aOx&#43;Kz&#34;,\n    &#34;mensajeDGII&#34;: {\n        &#34;trackId&#34;: &#34;f8b83aed-bb4f-4406-a9ee-1fe03aa0c641&#34;,\n        &#34;codigo&#34;: &#34;1&#34;,\n        &#34;estado&#34;: &#34;Aceptado&#34;,\n        &#34;rnc&#34;: &#34;04701956312&#34;,\n        &#34;encf&#34;: &#34;E310000000405&#34;,\n        &#34;secuenciaUtilizada&#34;: true,\n        &#34;fechaRecepcion&#34;: &#34;5/12/2025 12:07:59 PM&#34;,\n        &#34;mensajes&#34;: [\n            {\n                &#34;valor&#34;: &#34;&#34;,\n                &#34;codigo&#34;: 0\n            }\n        ]\n    }\n}"
                  },
                  "Reject Success": {
                    "value": "{\n    &#34;id&#34;: &#34;3dee4295-33b1-4f99-a027-decdcbd9ecad&#34;,\n    &#34;fecha&#34;: &#34;2025-05-12T12:27:34.000Z&#34;,\n    &#34;factura&#34;: &#34;10718&#34;,\n    &#34;fechaFactura&#34;: &#34;06-05-2025&#34;,\n    &#34;cliente&#34;: &#34;GRDSOFT SRL&#34;,\n    &#34;clienteRnc&#34;: &#34;132825845&#34;,\n    &#34;ecfTipo&#34;: 31,\n    &#34;ecf&#34;: &#34;E310000000405&#34;,\n    &#34;total&#34;: 1110,\n    &#34;codigoFirma&#34;: &#34;aOx&#43;Kz&#34;,\n    &#34;trackid&#34;: &#34;9eab796a-b33a-4b6c-b7fc-c7337e2929c3&#34;,\n    &#34;estado&#34;: &#34;Rechazado&#34;,\n    &#34;xmlNombre&#34;: &#34;04701956312E310000000405.xml&#34;,\n    &#34;url&#34;: &#34;https://ecf.dgii.gov.do/TesteCF/consultatimbre?rncemisor&#61;04701956312&amp;RncComprador&#61;132825845&amp;encf&#61;E310000000405&amp;FechaEmision&#61;06-05-2025&amp;montototal&#61;1110&amp;FechaFirma&#61;06-05-2025%2009:43:00&amp;codigoseguridad&#61;aOx&#43;Kz&#34;,\n    &#34;mensajeDGII&#34;: {\n        &#34;trackId&#34;: &#34;9eab796a-b33a-4b6c-b7fc-c7337e2929c3&#34;,\n        &#34;codigo&#34;: &#34;2&#34;,\n        &#34;estado&#34;: &#34;Rechazado&#34;,\n        &#34;rnc&#34;: &#34;04701956312&#34;,\n        &#34;encf&#34;: &#34;E310000000405&#34;,\n        &#34;secuenciaUtilizada&#34;: false,\n        &#34;fechaRecepcion&#34;: &#34;5/12/2025 12:27:29 PM&#34;,\n        &#34;mensajes&#34;: [\n            {\n                &#34;valor&#34;: &#34;Este n\u00famero de secuencia ya ha sido utilizado.&#34;,\n                &#34;codigo&#34;: 1209\n            }\n        ]\n    }\n}"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/grdsoft/v1/encf/signpostulation": {
      "post": {
        "summary": "Sign Postulation",
        "description": "Sign Postulation",
        "operationId": "signPostulation",
        "parameters": [
          {
            "name": "x-api-key",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "app.apikey"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "xml": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/grdsoft/v1/encf/signdeclaration": {
      "post": {
        "summary": "Sign Declaration",
        "description": "Sign Declaration",
        "operationId": "signDeclaration",
        "parameters": [
          {
            "name": "x-api-key",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "app.apikey"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "xml": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/grdsoft/v1/encf/signcomertialapproval": {
      "post": {
        "summary": "Sign Comertial Approval",
        "description": "Sign Comertial Approval",
        "operationId": "signComertialApproval",
        "parameters": [
          {
            "name": "x-api-key",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "app.apikey"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "xml": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    }
  },
  "tags": []
}