{
  "openapi": "3.0.0",
  "info": {
    "title": "AMPLIMED",
    "version": "1.0.0",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/Pharmdata/Amplimed/1.0.0"
  },
  "servers": [
    {
      "url": "http://pharmdata.maxapex.net/ords/pharmdata/amplimed"
    }
  ],
  "paths": {
    "/base_data/": {
      "get": {
        "description": "Retrieve records from AMPLIMED",
        "security": [
          {
            "BasicAuth": []
          },
          {
            "BearerAuth": []
          },
          {
            "OAuth2": []
          }
        ],
        "responses": {
          "200": {
            "description": "The queried record.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "ce_desc": {
                            "$ref": "#/components/schemas/VARCHAR2"
                          },
                          "ce_id": {
                            "$ref": "#/components/schemas/VARCHAR2"
                          },
                          "concentracoes": {
                            "$ref": "#/components/schemas/VARCHAR2"
                          },
                          "denominacao_comercial": {
                            "$ref": "#/components/schemas/VARCHAR2"
                          },
                          "denominacao_comercial_1": {
                            "$ref": "#/components/schemas/VARCHAR2"
                          },
                          "denominacao_comercial_2": {
                            "$ref": "#/components/schemas/VARCHAR2"
                          },
                          "ean": {
                            "$ref": "#/components/schemas/VARCHAR2"
                          },
                          "eh_embalagem_hosp": {
                            "$ref": "#/components/schemas/VARCHAR2"
                          },
                          "eh_restrito_hosp": {
                            "$ref": "#/components/schemas/VARCHAR2"
                          },
                          "embalagem": {
                            "$ref": "#/components/schemas/VARCHAR2"
                          },
                          "exclusao_amplimed": {
                            "$ref": "#/components/schemas/CHAR"
                          },
                          "formas_farmaceuticas": {
                            "$ref": "#/components/schemas/VARCHAR2"
                          },
                          "laboratorio": {
                            "$ref": "#/components/schemas/VARCHAR2"
                          },
                          "last_update": {
                            "$ref": "#/components/schemas/DATE"
                          },
                          "load_identifier": {
                            "$ref": "#/components/schemas/VARCHAR2"
                          },
                          "presc_desc": {
                            "$ref": "#/components/schemas/VARCHAR2"
                          },
                          "presc_id": {
                            "$ref": "#/components/schemas/NUMBER"
                          },
                          "registro": {
                            "$ref": "#/components/schemas/VARCHAR2"
                          },
                          "status_comercializacao": {
                            "$ref": "#/components/schemas/VARCHAR2"
                          },
                          "status_regulatorio": {
                            "$ref": "#/components/schemas/VARCHAR2"
                          },
                          "subst": {
                            "$ref": "#/components/schemas/VARCHAR2"
                          },
                          "tarja_desc": {
                            "$ref": "#/components/schemas/VARCHAR2"
                          },
                          "tarja_id": {
                            "$ref": "#/components/schemas/NUMBER"
                          },
                          "tuss": {
                            "$ref": "#/components/schemas/VARCHAR2"
                          },
                          "tuss_versao": {
                            "$ref": "#/components/schemas/VARCHAR2"
                          },
                          "unidade_aquisicao": {
                            "$ref": "#/components/schemas/VARCHAR2"
                          },
                          "unidade_aquisicao_qt": {
                            "$ref": "#/components/schemas/NUMBER"
                          },
                          "vias": {
                            "$ref": "#/components/schemas/VARCHAR2"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": []
      }
    },
    "/base_data/{registro}": {
      "get": {
        "description": "Retrieve records from AMPLIMED",
        "security": [
          {
            "BasicAuth": []
          },
          {
            "BearerAuth": []
          },
          {
            "OAuth2": []
          }
        ],
        "responses": {
          "200": {
            "description": "The queried record.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "ce_desc": {
                            "$ref": "#/components/schemas/VARCHAR2"
                          },
                          "ce_id": {
                            "$ref": "#/components/schemas/VARCHAR2"
                          },
                          "concentracoes": {
                            "$ref": "#/components/schemas/VARCHAR2"
                          },
                          "denominacao_comercial": {
                            "$ref": "#/components/schemas/VARCHAR2"
                          },
                          "denominacao_comercial_1": {
                            "$ref": "#/components/schemas/VARCHAR2"
                          },
                          "denominacao_comercial_2": {
                            "$ref": "#/components/schemas/VARCHAR2"
                          },
                          "ean": {
                            "$ref": "#/components/schemas/VARCHAR2"
                          },
                          "eh_embalagem_hosp": {
                            "$ref": "#/components/schemas/VARCHAR2"
                          },
                          "eh_restrito_hosp": {
                            "$ref": "#/components/schemas/VARCHAR2"
                          },
                          "embalagem": {
                            "$ref": "#/components/schemas/VARCHAR2"
                          },
                          "exclusao_amplimed": {
                            "$ref": "#/components/schemas/CHAR"
                          },
                          "formas_farmaceuticas": {
                            "$ref": "#/components/schemas/VARCHAR2"
                          },
                          "laboratorio": {
                            "$ref": "#/components/schemas/VARCHAR2"
                          },
                          "presc_desc": {
                            "$ref": "#/components/schemas/VARCHAR2"
                          },
                          "presc_id": {
                            "$ref": "#/components/schemas/NUMBER"
                          },
                          "registro": {
                            "$ref": "#/components/schemas/VARCHAR2"
                          },
                          "status_comercializacao": {
                            "$ref": "#/components/schemas/VARCHAR2"
                          },
                          "status_regulatorio": {
                            "$ref": "#/components/schemas/VARCHAR2"
                          },
                          "subst": {
                            "$ref": "#/components/schemas/VARCHAR2"
                          },
                          "tarja_desc": {
                            "$ref": "#/components/schemas/VARCHAR2"
                          },
                          "tarja_id": {
                            "$ref": "#/components/schemas/NUMBER"
                          },
                          "tuss": {
                            "$ref": "#/components/schemas/VARCHAR2"
                          },
                          "tuss_versao": {
                            "$ref": "#/components/schemas/VARCHAR2"
                          },
                          "unidade_aquisicao": {
                            "$ref": "#/components/schemas/VARCHAR2"
                          },
                          "unidade_aquisicao_qt": {
                            "$ref": "#/components/schemas/NUMBER"
                          },
                          "vias": {
                            "$ref": "#/components/schemas/VARCHAR2"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "registro",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[^/]+$"
            },
            "description": "implicit"
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BasicAuth": {
        "type": "http",
        "scheme": "basic"
      },
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer"
      },
      "OAuth2": {
        "type": "oauth2",
        "flows": {
          "implicit": {
            "authorizationUrl": "http://pharmdata.maxapex.net/ords/pharmdata/oauth/auth",
            "scopes": {}
          },
          "authorizationCode": {
            "authorizationUrl": "http://pharmdata.maxapex.net/ords/pharmdata/oauth/auth",
            "tokenUrl": "http://pharmdata.maxapex.net/ords/pharmdata/oauth/token",
            "scopes": {}
          },
          "clientCredentials": {
            "tokenUrl": "http://pharmdata.maxapex.net/ords/pharmdata/oauth/token",
            "scopes": {}
          }
        }
      }
    },
    "schemas": {
      "CHAR": {
        "type": "string"
      },
      "DATE": {
        "type": "string",
        "format": "date-time",
        "pattern": "^\\d{4}-[01]\\d-[0123]\\dT[012]\\d:[0-5]\\d:[0-5]\\d(.\\d+)?(Z|([-+][012]\\d:[0-5]\\d))$"
      },
      "NUMBER": {
        "type": "number"
      },
      "VARCHAR2": {
        "type": "string"
      }
    }
  }
}