{
  "openapi": "3.0.3",
  "info": {
    "title": "COVID-19 India API",
    "version": "4.0.0",
    "description": "Static JSON API providing COVID-19 case data for India. Includes national and state-level data, district-level data, time series, and testing data. Data served as static JSON files from GitHub Pages. No authentication required. Note: This is an archived dataset - data collection ended in October 2021.",
    "x-jentic-source-url": "https://data.covid19india.org/",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://data.covid19india.org"
    }
  ],
  "paths": {
    "/v4/min/data.min.json": {
      "get": {
        "operationId": "getLatestData",
        "summary": "Get latest COVID-19 data (all states)",
        "description": "Returns the latest (final) COVID-19 case data for all Indian states and union territories including confirmed, recovered, deceased, tested, and vaccinated counts.",
        "tags": [
          "Data"
        ],
        "responses": {
          "200": {
            "description": "State-level COVID-19 data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StateDataMap"
                }
              }
            }
          }
        }
      }
    },
    "/v4/min/timeseries.min.json": {
      "get": {
        "operationId": "getTimeSeries",
        "summary": "Get time series data (all states)",
        "description": "Returns daily time series COVID-19 data for all states from the beginning of the pandemic through October 2021.",
        "tags": [
          "Data"
        ],
        "responses": {
          "200": {
            "description": "Time series data keyed by state code",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TimeSeriesDataMap"
                }
              }
            }
          }
        }
      }
    },
    "/v4/min/timeseries-{stateCode}.min.json": {
      "get": {
        "operationId": "getStateTimeSeries",
        "summary": "Get time series data for a specific state",
        "description": "Returns daily time series COVID-19 data for a specific state and its districts.",
        "tags": [
          "Data"
        ],
        "parameters": [
          {
            "name": "stateCode",
            "in": "path",
            "required": true,
            "description": "Two-letter state code (e.g., MH for Maharashtra, KA for Karnataka, TT for total India)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "State time series data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StateTimeSeriesData"
                }
              }
            }
          },
          "404": {
            "description": "State code not found"
          }
        }
      }
    },
    "/data.json": {
      "get": {
        "operationId": "getLegacyData",
        "summary": "Get legacy format data (v1)",
        "description": "Returns COVID-19 data in the legacy v1 format, including state-wise data and cases time series.",
        "tags": [
          "Legacy"
        ],
        "responses": {
          "200": {
            "description": "Legacy format data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyDataResponse"
                }
              }
            }
          }
        }
      }
    },
    "/state_district_wise.json": {
      "get": {
        "operationId": "getDistrictWiseData",
        "summary": "Get district-wise data",
        "description": "Returns COVID-19 data broken down by district within each state.",
        "tags": [
          "Data"
        ],
        "responses": {
          "200": {
            "description": "District-wise data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "$ref": "#/components/schemas/StateDistrictData"
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "StateDataMap": {
        "type": "object",
        "description": "Map of state codes to state data",
        "additionalProperties": {
          "$ref": "#/components/schemas/StateData"
        }
      },
      "StateData": {
        "type": "object",
        "properties": {
          "delta": {
            "$ref": "#/components/schemas/CaseData"
          },
          "delta7": {
            "$ref": "#/components/schemas/CaseData"
          },
          "districts": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/DistrictData"
            }
          },
          "meta": {
            "type": "object",
            "properties": {
              "date": {
                "type": "string",
                "format": "date"
              },
              "last_updated": {
                "type": "string",
                "format": "date-time"
              },
              "population": {
                "type": "integer"
              },
              "tested": {
                "type": "object"
              },
              "vaccinated": {
                "type": "object"
              }
            }
          },
          "total": {
            "$ref": "#/components/schemas/CaseData"
          }
        }
      },
      "DistrictData": {
        "type": "object",
        "properties": {
          "delta": {
            "$ref": "#/components/schemas/CaseData"
          },
          "delta7": {
            "$ref": "#/components/schemas/CaseData"
          },
          "meta": {
            "type": "object",
            "properties": {
              "population": {
                "type": "integer"
              }
            }
          },
          "total": {
            "$ref": "#/components/schemas/CaseData"
          }
        }
      },
      "CaseData": {
        "type": "object",
        "properties": {
          "confirmed": {
            "type": "integer"
          },
          "deceased": {
            "type": "integer"
          },
          "recovered": {
            "type": "integer"
          },
          "tested": {
            "type": "integer"
          },
          "vaccinated1": {
            "type": "integer"
          },
          "vaccinated2": {
            "type": "integer"
          },
          "other": {
            "type": "integer"
          }
        }
      },
      "TimeSeriesDataMap": {
        "type": "object",
        "description": "Map of state codes to time series entries",
        "additionalProperties": {
          "type": "object",
          "properties": {
            "dates": {
              "type": "object",
              "additionalProperties": {
                "$ref": "#/components/schemas/CaseData"
              }
            }
          }
        }
      },
      "StateTimeSeriesData": {
        "type": "object",
        "properties": {
          "dates": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/CaseData"
            }
          },
          "districts": {
            "type": "object",
            "additionalProperties": {
              "type": "object",
              "properties": {
                "dates": {
                  "type": "object",
                  "additionalProperties": {
                    "$ref": "#/components/schemas/CaseData"
                  }
                }
              }
            }
          }
        }
      },
      "LegacyDataResponse": {
        "type": "object",
        "properties": {
          "cases_time_series": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "dailyconfirmed": {
                  "type": "string"
                },
                "dailydeceased": {
                  "type": "string"
                },
                "dailyrecovered": {
                  "type": "string"
                },
                "date": {
                  "type": "string"
                },
                "dateymd": {
                  "type": "string"
                },
                "totalconfirmed": {
                  "type": "string"
                },
                "totaldeceased": {
                  "type": "string"
                },
                "totalrecovered": {
                  "type": "string"
                }
              }
            }
          },
          "statewise": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "active": {
                  "type": "string"
                },
                "confirmed": {
                  "type": "string"
                },
                "deaths": {
                  "type": "string"
                },
                "recovered": {
                  "type": "string"
                },
                "state": {
                  "type": "string"
                },
                "statecode": {
                  "type": "string"
                },
                "lastupdatedtime": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "StateDistrictData": {
        "type": "object",
        "properties": {
          "districtData": {
            "type": "object",
            "additionalProperties": {
              "type": "object",
              "properties": {
                "confirmed": {
                  "type": "integer"
                },
                "deceased": {
                  "type": "integer"
                },
                "recovered": {
                  "type": "integer"
                },
                "active": {
                  "type": "integer"
                }
              }
            }
          },
          "statecode": {
            "type": "string"
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Data"
    },
    {
      "name": "Legacy"
    }
  ]
}
