{
  "openapi": "3.0.5",
  "info": {
    "title": "OMNI Dealer ITF008 service",
    "description": "This OpenAPI specification exposes the GetOrderList and GetOrderdetails APIs that can be triggerred by remote partners (OMNI, LINK) \n",
    "termsOfService": "http://swagger.io/terms/",
    "version": "1.0.0",
    "license": {
      "name": "Stellantis licence",
      "url": "http://localhost:8080/licence"
    },
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/ROCCODIVITO/omni-dealer-itf008-service/1.0.0"
  },
  "servers": [
    {
      "url": "https://oms.prod.stellantis.com",
      "description": "Single PRODUCTION instance of OMS"
    },
    {
      "url": "https://oms.preprod.stellantis.com",
      "description": "Main OMS PRE-PRODUCTION"
    }
  ],
  "paths": {
    "/v1/orders/list": {
      "post": {
        "tags": [
          "order-list"
        ],
        "summary": "This service will retrieve a list of orders for a dealer",
        "description": "Idempotent, safe search endpoint. Uses POST only to support a rich request payload. Must not mutate any server state.\n",
        "operationId": "getOrderList",
        "x-idempotent": true,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/orderlistrequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/orderlistresponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          },
          "403": {
            "description": "Unauthorized request. The client does not have access rights to the content.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          },
          "404": {
            "description": "The server can not find the requested resource",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          },
          "503": {
            "description": "Gateway timeout",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          },
          "504": {
            "description": "Service unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/orders/details": {
      "post": {
        "tags": [
          "order-details"
        ],
        "summary": "This service will retrieve the details of one or many orders for a dealer",
        "description": "Idempotent, safe search endpoint. Uses POST only to support a rich request payload. Must not mutate any server state.\n",
        "operationId": "getOrderDetails",
        "x-idempotent": true,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/orderdetailsrequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/orderdetailsresponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          },
          "403": {
            "description": "Unauthorized request. The client does not have access rights to the content.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          },
          "404": {
            "description": "The server can not find the requested resource",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          },
          "503": {
            "description": "Gateway timeout",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          },
          "504": {
            "description": "Service unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "orderlistrequest": {
        "type": "object",
        "required": [
          "country",
          "brand"
        ],
        "properties": {
          "country": {
            "type": "string",
            "description": "ISO-2 code of the country",
            "maxLength": 2
          },
          "marketCode": {
            "type": "string",
            "description": "Mandatory for xF",
            "maxLength": 4
          },
          "brand": {
            "type": "string",
            "maxLength": 2
          },
          "orderidtype": {
            "type": "string",
            "enum": [
              "MOP_ID",
              "ORDER_FORM_ID",
              "OMS_ID",
              "CAR_ID",
              "CAF_ID",
              "COMMERCIAL_ORDER_ID",
              "FACTORY_ORDER_ID",
              "VIN",
              "FCO_ID",
              "FATHER_MOP_ID",
              "DEALER_ORDER_ID"
            ],
            "maxLength": 19
          },
          "orderidvalue": {
            "type": "array",
            "description": "Repeatable identifier values",
            "items": {
              "type": "string",
              "maxLength": 32
            }
          },
          "product": {
            "$ref": "#/components/schemas/searchproductcriteria"
          },
          "owningdealerid": {
            "type": "string",
            "maxLength": 7
          },
          "deliveryaddress": {
            "type": "string",
            "maxLength": 9
          },
          "datelist": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/datesearch"
            }
          },
          "omsmilestonestart": {
            "type": "string",
            "maxLength": 4
          },
          "omsmilestoneend": {
            "type": "string",
            "maxLength": 4
          },
          "authorizedforsharingstockflag": {
            "type": "string",
            "enum": [
              "0",
              "1"
            ]
          },
          "dedicatedstock": {
            "type": "array",
            "items": {
              "type": "string",
              "maxLength": 5
            }
          },
          "ordertype": {
            "type": "string",
            "enum": [
              "TF0",
              "TF1",
              "TF2"
            ]
          },
          "demoflag": {
            "type": "string",
            "enum": [
              "0",
              "1"
            ]
          },
          "showroomflag": {
            "type": "string",
            "enum": [
              "0",
              "1"
            ]
          },
          "reservationflag": {
            "type": "string",
            "enum": [
              "0",
              "1"
            ]
          },
          "researchtype": {
            "type": "string",
            "enum": [
              "V",
              "F",
              "R"
            ]
          },
          "pagesize": {
            "type": "integer",
            "format": "int32",
            "minimum": 1
          },
          "pageindex": {
            "type": "integer",
            "format": "int32",
            "minimum": 0,
            "default": 0
          },
          "sortcriteria": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/sortparameter"
            }
          }
        }
      },
      "searchproductcriteria": {
        "type": "object",
        "properties": {
          "psasearchcriteria": {
            "$ref": "#/components/schemas/psasearchcriteria"
          },
          "fcasearchcriteria": {
            "$ref": "#/components/schemas/fcasearchcriteria"
          }
        }
      },
      "psasearchcriteria": {
        "type": "object",
        "properties": {
          "kindofproduct": {
            "type": "array",
            "items": {
              "type": "string",
              "maxLength": 1
            }
          },
          "commercialbrand": {
            "type": "array",
            "items": {
              "type": "string",
              "maxLength": 1
            }
          },
          "productline": {
            "type": "array",
            "items": {
              "type": "string",
              "maxLength": 2
            }
          },
          "bodystyle": {
            "type": "array",
            "items": {
              "type": "string",
              "maxLength": 2
            }
          },
          "trimlevel": {
            "type": "array",
            "items": {
              "type": "string",
              "maxLength": 1
            }
          },
          "engine": {
            "type": "array",
            "items": {
              "type": "string",
              "maxLength": 2
            }
          },
          "gearbox": {
            "type": "array",
            "items": {
              "type": "string",
              "maxLength": 1
            }
          },
          "designbase": {
            "type": "array",
            "items": {
              "type": "string",
              "maxLength": 2
            }
          },
          "customerstarget": {
            "type": "array",
            "items": {
              "type": "string",
              "maxLength": 2
            }
          },
          "majorindex": {
            "type": "array",
            "items": {
              "type": "string",
              "maxLength": 1
            }
          },
          "minorindex": {
            "type": "array",
            "items": {
              "type": "string",
              "maxLength": 1
            }
          },
          "exteriorcolor": {
            "type": "array",
            "items": {
              "type": "string",
              "maxLength": 4
            }
          },
          "interiorcolor": {
            "type": "array",
            "items": {
              "type": "string",
              "maxLength": 4
            }
          },
          "specialseries": {
            "type": "array",
            "items": {
              "type": "string",
              "maxLength": 3
            }
          },
          "optioncodelist": {
            "type": "array",
            "items": {
              "type": "string",
              "maxLength": 7
            }
          }
        }
      },
      "fcasearchcriteria": {
        "type": "object",
        "properties": {
          "brand": {
            "type": "array",
            "items": {
              "type": "string",
              "maxLength": 2
            }
          },
          "modelcode": {
            "type": "array",
            "items": {
              "type": "string",
              "maxLength": 3
            }
          },
          "version": {
            "type": "array",
            "items": {
              "type": "string",
              "maxLength": 3
            }
          },
          "serie": {
            "type": "array",
            "items": {
              "type": "string",
              "maxLength": 1
            }
          },
          "drive": {
            "type": "array",
            "items": {
              "type": "string",
              "maxLength": 1
            }
          },
          "budgetfamily": {
            "type": "array",
            "items": {
              "type": "string",
              "maxLength": 1
            }
          },
          "marketequipement": {
            "type": "array",
            "items": {
              "type": "string",
              "maxLength": 3
            }
          },
          "plantequipement": {
            "type": "array",
            "items": {
              "type": "string",
              "maxLength": 2
            }
          },
          "specialequipment": {
            "type": "array",
            "items": {
              "type": "string",
              "maxLength": 4
            }
          },
          "specialseries": {
            "type": "array",
            "items": {
              "type": "string",
              "maxLength": 3
            }
          },
          "exteriorcolor": {
            "type": "array",
            "items": {
              "type": "string",
              "maxLength": 3
            }
          },
          "interiorcolor": {
            "type": "array",
            "items": {
              "type": "string",
              "maxLength": 3
            }
          },
          "optioncodelist": {
            "type": "array",
            "items": {
              "type": "string",
              "maxLength": 7
            }
          }
        }
      },
      "datesearch": {
        "type": "object",
        "properties": {
          "datetype": {
            "type": "string",
            "enum": [
              "ARRIVAL_AT_DEALER_DATE",
              "REGISTRATION_DATE",
              "HANDOVER_DATE",
              "DEALER_ORDER_CREATION_DATE",
              "FCO_CREATION_DATE",
              "FORECAST_DELIVERY_DATE",
              "AGREED_DELIVERY_DATE",
              "NSC_INVOICE_TO_DEALER_DATE"
            ]
          },
          "startdate": {
            "type": "string",
            "format": "^\\d{8}"
          },
          "enddate": {
            "type": "string",
            "format": "^\\d{8}"
          }
        }
      },
      "sortparameter": {
        "type": "object",
        "properties": {
          "sortcolumn": {
            "type": "string"
          },
          "sortdirection": {
            "type": "string",
            "enum": [
              "ASC",
              "DESC"
            ]
          }
        }
      },
      "orderlistresponse": {
        "type": "object",
        "description": "Summary information returned by GetOrderList",
        "required": [
          "country",
          "brand",
          "numberofresults"
        ],
        "properties": {
          "country": {
            "type": "string",
            "maxLength": 2,
            "description": "Country code of the request"
          },
          "marketcode": {
            "type": "string",
            "maxLength": 4
          },
          "brand": {
            "type": "string",
            "maxLength": 2
          },
          "numberofresults": {
            "type": "integer",
            "format": "int32"
          },
          "pageindex": {
            "type": "integer",
            "format": "int32"
          },
          "sortcriteria": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/sortparameter"
            }
          },
          "orders": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/orderlistresponseelement"
            }
          }
        }
      },
      "orderlistresponseelement": {
        "type": "object",
        "required": [
          "omsId",
          "omsmilestone",
          "fostatus",
          "dostatus"
        ],
        "properties": {
          "mopidlist": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "moptype": {
                  "type": "string",
                  "enum": [
                    "BULK_MOP_ID",
                    "FCO_MOP_ID",
                    "DO_MOP_ID2"
                  ]
                },
                "mopid": {
                  "type": "string",
                  "maxLength": 32
                }
              }
            }
          },
          "omsid": {
            "type": "string",
            "maxLength": 9
          },
          "cafid": {
            "type": "string",
            "maxLength": 9
          },
          "carid": {
            "type": "string",
            "maxLength": 8
          },
          "dealerorderid": {
            "type": "string",
            "maxLength": 9
          },
          "commercialorderid": {
            "type": "string",
            "maxLength": 9
          },
          "factoryorderid": {
            "type": "string",
            "maxLength": 9
          },
          "fcoid": {
            "type": "string",
            "maxLength": 9
          },
          "vin": {
            "type": "string",
            "maxLength": 17
          },
          "product": {
            "$ref": "#/components/schemas/responseproduct"
          },
          "drive": {
            "type": "string",
            "maxLength": 2
          },
          "owningdealerid": {
            "type": "string",
            "maxLength": 7
          },
          "dealeraddress": {
            "type": "string",
            "maxLength": 9
          },
          "dealerordercreationdate": {
            "type": "string",
            "pattern": "^\\d{8}"
          },
          "fcocreationdate": {
            "type": "string",
            "pattern": "^\\d{8}"
          },
          "actualdeliverydate": {
            "type": "string",
            "pattern": "^\\d{8}"
          },
          "dateofinitialdelivery": {
            "type": "string",
            "pattern": "^\\d{8}"
          },
          "modifieddeliverydate": {
            "type": "string",
            "pattern": "^\\d{8}"
          },
          "dealerarrivaldate": {
            "type": "string",
            "pattern": "^\\d{8}"
          },
          "omsmilestone": {
            "type": "string",
            "maxLength": 4
          },
          "fostatus": {
            "type": "string",
            "maxLength": 4
          },
          "dostatus": {
            "type": "integer",
            "maxLength": 4
          },
          "salestype": {
            "type": "string",
            "maxLength": 2
          },
          "reservationflag": {
            "type": "string",
            "enum": [
              "0",
              "1"
            ]
          },
          "authorizedforsharingstockflag": {
            "type": "string",
            "enum": [
              "0",
              "1"
            ]
          },
          "vehicletype": {
            "type": "string",
            "enum": [
              "0",
              "1"
            ]
          }
        }
      },
      "orderdetailsrequest": {
        "type": "object",
        "required": [
          "country",
          "brand"
        ],
        "properties": {
          "omsid": {
            "type": "string",
            "maxLength": 9
          },
          "commercialorderid": {
            "type": "array",
            "items": {
              "type": "string",
              "maxLength": 9
            }
          },
          "country": {
            "type": "string",
            "maxLength": 2,
            "description": "Country code of the request"
          },
          "marketcode": {
            "type": "string",
            "maxLength": 4
          },
          "brand": {
            "type": "string",
            "maxLength": 2
          }
        }
      },
      "orderdetailsresponse": {
        "type": "object",
        "description": "Summary information returned by GET /v1/order/list",
        "required": [
          "country",
          "brand",
          "numberofresults"
        ],
        "properties": {
          "country": {
            "type": "string",
            "maxLength": 2,
            "description": "Country code of the request"
          },
          "marketcode": {
            "type": "string",
            "maxLength": 4
          },
          "brand": {
            "type": "string",
            "maxLength": 2
          },
          "numberofresults": {
            "type": "integer",
            "format": "int32"
          },
          "pageindex": {
            "type": "integer",
            "format": "int32"
          },
          "sortcriteria": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/sortparameter"
            }
          },
          "ordersdetails": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/orderdetailselement"
            }
          }
        }
      },
      "orderdetailselement": {
        "type": "object",
        "required": [
          "omsid",
          "omsmilestone",
          "finalcustomerorderstatus",
          "dealerorderstatus",
          "demostatus",
          "reservationstatus"
        ],
        "properties": {
          "mopidlist": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/mopidelement"
            }
          },
          "omsid": {
            "type": "string",
            "maxLength": 9
          },
          "cafid": {
            "type": "string",
            "maxLength": 9
          },
          "carid": {
            "type": "string",
            "maxLength": 8
          },
          "dealerorderid": {
            "type": "string",
            "maxLength": 9
          },
          "commercialorderid": {
            "type": "string",
            "maxLength": 9
          },
          "factoryorderid": {
            "type": "string",
            "maxLength": 9
          },
          "orderformid": {
            "type": "string",
            "maxLength": 20
          },
          "fcoid": {
            "type": "string",
            "maxLength": 9
          },
          "vin": {
            "type": "string",
            "maxLength": 17
          },
          "listoftitles": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/responseproduct"
            }
          },
          "drive": {
            "type": "string",
            "maxLength": 2
          },
          "owningdealerid": {
            "type": "string",
            "maxLength": 7
          },
          "deliveryaddress": {
            "type": "string",
            "maxLength": 9
          },
          "dealerordercreationdate": {
            "type": "string",
            "pattern": "^\\d{8}"
          },
          "fcocreationdate": {
            "type": "string",
            "pattern": "^\\d{8}"
          },
          "registrationdate": {
            "type": "string",
            "pattern": "^\\d{8}"
          },
          "subscriptiondate": {
            "type": "string",
            "pattern": "^\\d{8}"
          },
          "nscinvoicetodealerdate": {
            "type": "string",
            "pattern": "^\\d{8}"
          },
          "agreeddeliverydate": {
            "type": "string",
            "pattern": "^\\d{8}"
          },
          "agreedarrivalatdealerdate": {
            "type": "string",
            "pattern": "^\\d{8}"
          },
          "agreedarrivalatnscdate": {
            "type": "string",
            "pattern": "^\\d{8}"
          },
          "agreedproductiondate": {
            "type": "string",
            "pattern": "^\\d{8}"
          },
          "forecastdeliverydate": {
            "type": "string",
            "pattern": "^\\d{8}"
          },
          "forecastarrivalatdealerdate": {
            "type": "string",
            "pattern": "^\\d{8}"
          },
          "forecastarrivalatnscdate": {
            "type": "string",
            "pattern": "^\\d{8}"
          },
          "forecastproductiondate": {
            "type": "string",
            "pattern": "^\\d{8}"
          },
          "actualdeliverydate": {
            "type": "string",
            "pattern": "^\\d{8}"
          },
          "modifieddeliverydate": {
            "type": "string",
            "pattern": "^\\d{8}"
          },
          "handoverdate": {
            "type": "string",
            "pattern": "^\\d{8}"
          },
          "actualarrivalatdealerdate": {
            "type": "string",
            "pattern": "^\\d{8}"
          },
          "actualarrivalatnscdate": {
            "type": "string",
            "pattern": "^\\d{8}"
          },
          "actualproductiondate": {
            "type": "string",
            "pattern": "^\\d{8}"
          },
          "actualpasstosalesdate": {
            "type": "string",
            "pattern": "^\\d{8}"
          },
          "confirmationweek": {
            "type": "string",
            "pattern": "^\\d{8}"
          },
          "productvalidatedate": {
            "type": "string",
            "pattern": "^\\d{8}"
          },
          "reservationstarttimestamp": {
            "type": "string"
          },
          "reservationendtimestamp": {
            "type": "string"
          },
          "omsmilestone": {
            "type": "string",
            "maxLength": 4
          },
          "stocklocation": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/stocklocation"
            }
          },
          "departureyard": {
            "type": "string",
            "maxLength": 5
          },
          "arrivalyard": {
            "type": "string",
            "maxLength": 5
          },
          "salestype": {
            "type": "string",
            "maxLength": 2
          },
          "ordertype": {
            "type": "string",
            "maxLength": 3
          },
          "ordersubtype": {
            "type": "string",
            "maxLength": 2
          },
          "fostatus": {
            "type": "string",
            "maxLength": 4
          },
          "dostatus": {
            "type": "string",
            "maxLength": 4
          },
          "destatus": {
            "type": "string",
            "maxLength": 4
          },
          "demosubtype": {
            "type": "string"
          },
          "reservationstatus": {
            "type": "string",
            "maxLength": 4
          },
          "reservationlabel": {
            "type": "string"
          },
          "authorizedforsharingstockflag": {
            "type": "string",
            "enum": [
              "0",
              "1"
            ]
          },
          "conversionflag": {
            "type": "string",
            "enum": [
              "0",
              "1"
            ]
          },
          "personalization": {
            "type": "string",
            "maxLength": 1
          },
          "vehicletype": {
            "type": "string",
            "enum": [
              "0",
              "1"
            ]
          },
          "registrationplatenumber": {
            "type": "string"
          }
        }
      },
      "mopidelement": {
        "type": "object",
        "properties": {
          "moptype": {
            "type": "string",
            "enum": [
              "BULK_MOP_ID",
              "FCO_MOP_ID",
              "DO_MOP_ID2"
            ]
          },
          "mopid": {
            "type": "string",
            "maxLength": 32
          }
        }
      },
      "stocklocation": {
        "type": "object",
        "properties": {
          "locationtype": {
            "type": "string"
          },
          "locationvalue": {
            "type": "string",
            "maxLength": 7
          }
        }
      },
      "responseproduct": {
        "type": "object",
        "properties": {
          "titletype": {
            "type": "string"
          },
          "psaresponseproduct": {
            "$ref": "#/components/schemas/psaresponseproduct"
          },
          "fcaresponseproduct": {
            "$ref": "#/components/schemas/fcaresponseproduct"
          }
        }
      },
      "psaresponseproduct": {
        "type": "object",
        "properties": {
          "kindofproduct": {
            "type": "string",
            "maxLength": 1
          },
          "commercialbrand": {
            "type": "string",
            "maxLength": 1
          },
          "productline": {
            "type": "string",
            "maxLength": 2
          },
          "bodystyle": {
            "type": "string",
            "maxLength": 2
          },
          "trimlevel": {
            "type": "string",
            "maxLength": 1
          },
          "engine": {
            "type": "string",
            "maxLength": 2
          },
          "gearbox": {
            "type": "string",
            "maxLength": 1
          },
          "designbase": {
            "type": "string",
            "maxLength": 2
          },
          "customerstarget": {
            "type": "string",
            "maxLength": 2
          },
          "majorindex": {
            "type": "string",
            "maxLength": 1
          },
          "minorindex": {
            "type": "string",
            "maxLength": 1
          },
          "exteriorcolor": {
            "type": "string",
            "maxLength": 4
          },
          "interiorcolor": {
            "type": "string",
            "maxLength": 4
          },
          "optionlists": {
            "type": "object",
            "properties": {
              "manufacturingoptioncodes": {
                "type": "array",
                "items": {
                  "type": "string",
                  "maxLength": 7
                }
              },
              "commercialoptioncodes": {
                "type": "array",
                "items": {
                  "type": "string",
                  "maxLength": 7
                }
              },
              "optionsinpack": {
                "type": "array",
                "items": {
                  "type": "string",
                  "maxLength": 7
                }
              },
              "mandatoryoptions": {
                "type": "array",
                "items": {
                  "type": "string",
                  "maxLength": 7
                }
              }
            }
          }
        }
      },
      "fcaresponseproduct": {
        "type": "object",
        "properties": {
          "brand": {
            "type": "string",
            "maxLength": 2
          },
          "modelcode": {
            "type": "string",
            "maxLength": 3
          },
          "version": {
            "type": "string",
            "maxLength": 3
          },
          "serie": {
            "type": "string",
            "maxLength": 1
          },
          "drive": {
            "type": "string",
            "maxLength": 1
          },
          "budgetfamily": {
            "type": "string",
            "maxLength": 1
          },
          "marketequipement": {
            "type": "string",
            "maxLength": 3
          },
          "plantequipement": {
            "type": "string",
            "maxLength": 2
          },
          "specialequipment": {
            "type": "string",
            "maxLength": 4
          },
          "exteriorcolor": {
            "type": "string",
            "maxLength": 3
          },
          "interiorcolor": {
            "type": "string",
            "maxLength": 3
          },
          "optionlists": {
            "type": "object",
            "properties": {
              "manufacturingoptioncodes": {
                "type": "array",
                "items": {
                  "type": "string",
                  "maxLength": 7
                }
              },
              "commercialoptioncodes": {
                "type": "array",
                "items": {
                  "type": "string",
                  "maxLength": 7
                }
              },
              "excludedoptions": {
                "type": "array",
                "items": {
                  "type": "string",
                  "maxLength": 3
                }
              },
              "includedoptions": {
                "type": "array",
                "items": {
                  "type": "string",
                  "maxLength": 3
                }
              }
            }
          }
        }
      },
      "error": {
        "type": "object",
        "required": [
          "code",
          "message"
        ],
        "properties": {
          "code": {
            "type": "string",
            "maxLength": 18
          },
          "message": {
            "type": "string",
            "maxLength": 100
          }
        }
      }
    }
  }
}