{
  "openapi": "3.0.3",
  "info": {
    "title": "Astica AI API",
    "version": "1.0.0",
    "description": "Astica provides AI-powered APIs for computer vision (image analysis, OCR, object detection), text-to-speech, speech-to-text, and natural language processing.",
    "x-jentic-source-url": "https://astica.ai",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://vision.astica.ai",
      "description": "Astica Vision API"
    },
    {
      "url": "https://voice.astica.ai",
      "description": "Astica Voice/TTS API"
    },
    {
      "url": "https://listen.astica.ai",
      "description": "Astica Listen/STT API"
    },
    {
      "url": "https://nlp.astica.ai",
      "description": "Astica NLP API"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "Vision",
      "description": "Image analysis, OCR, and object detection"
    },
    {
      "name": "Voice",
      "description": "Text-to-speech"
    },
    {
      "name": "Listen",
      "description": "Speech-to-text / audio transcription"
    },
    {
      "name": "NLP",
      "description": "Natural language processing"
    }
  ],
  "paths": {
    "/api/1/vision/describe": {
      "post": {
        "tags": [
          "Vision"
        ],
        "summary": "Describe image",
        "description": "Analyze an image and return a description, detected objects, OCR text, faces, and more. Accepts image URLs or base64-encoded images.",
        "operationId": "describeImage",
        "servers": [
          {
            "url": "https://vision.astica.ai"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VisionDescribeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Vision analysis results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VisionDescribeResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Invalid API key"
          }
        }
      }
    },
    "/api/1/vision/read": {
      "post": {
        "tags": [
          "Vision"
        ],
        "summary": "OCR - Read text from image",
        "description": "Extract text from images using OCR. Returns detected text with bounding box positions.",
        "operationId": "readImageText",
        "servers": [
          {
            "url": "https://vision.astica.ai"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VisionReadRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OCR results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VisionReadResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Invalid API key"
          }
        }
      }
    },
    "/api/1/voice/tts": {
      "post": {
        "tags": [
          "Voice"
        ],
        "summary": "Text to speech",
        "description": "Convert text to speech audio. Supports multiple voices and languages.",
        "operationId": "textToSpeech",
        "servers": [
          {
            "url": "https://voice.astica.ai"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TtsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Audio data or URL",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TtsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Invalid API key"
          }
        }
      }
    },
    "/api/1/listen/transcribe": {
      "post": {
        "tags": [
          "Listen"
        ],
        "summary": "Transcribe audio",
        "description": "Transcribe audio to text. Supports audio URLs and base64-encoded audio.",
        "operationId": "transcribeAudio",
        "servers": [
          {
            "url": "https://listen.astica.ai"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TranscribeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Transcription results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TranscribeResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Invalid API key"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "description": "Astica API key. Get one at https://astica.ai"
      }
    },
    "schemas": {
      "VisionDescribeRequest": {
        "type": "object",
        "required": [
          "tkn",
          "modelVersion",
          "input"
        ],
        "properties": {
          "tkn": {
            "type": "string",
            "description": "API key token"
          },
          "modelVersion": {
            "type": "string",
            "description": "Model version (e.g. '2.5_full')",
            "default": "2.5_full"
          },
          "input": {
            "type": "string",
            "description": "Image URL or base64-encoded image data"
          },
          "visionParams": {
            "type": "string",
            "description": "Comma-separated vision parameters (e.g. 'gpt,describe,objects,faces')"
          },
          "gpt_prompt": {
            "type": "string",
            "description": "Custom prompt for GPT-powered description"
          },
          "gpt_length": {
            "type": "integer",
            "description": "Max length of GPT description"
          }
        }
      },
      "VisionDescribeResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "caption": {
            "type": "object",
            "properties": {
              "text": {
                "type": "string"
              },
              "confidence": {
                "type": "number"
              }
            }
          },
          "caption_GPTS": {
            "type": "string",
            "description": "GPT-powered description"
          },
          "objects": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                },
                "confidence": {
                  "type": "number"
                },
                "rectangle": {
                  "type": "object"
                }
              }
            }
          },
          "faces": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                },
                "confidence": {
                  "type": "number"
                }
              }
            }
          },
          "text": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "metadata": {
            "type": "object"
          }
        }
      },
      "VisionReadRequest": {
        "type": "object",
        "required": [
          "tkn",
          "modelVersion",
          "input"
        ],
        "properties": {
          "tkn": {
            "type": "string"
          },
          "modelVersion": {
            "type": "string",
            "default": "2.5_full"
          },
          "input": {
            "type": "string",
            "description": "Image URL or base64-encoded image"
          }
        }
      },
      "VisionReadResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "text": {
            "type": "string"
          },
          "regions": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "TtsRequest": {
        "type": "object",
        "required": [
          "tkn",
          "modelVersion",
          "input"
        ],
        "properties": {
          "tkn": {
            "type": "string"
          },
          "modelVersion": {
            "type": "string",
            "default": "1.0_full"
          },
          "input": {
            "type": "string",
            "description": "Text to convert to speech"
          },
          "voice": {
            "type": "string",
            "description": "Voice name/ID"
          },
          "language": {
            "type": "string",
            "description": "Language code"
          },
          "speed": {
            "type": "number",
            "description": "Speech speed"
          },
          "format": {
            "type": "string",
            "description": "Output format (mp3, wav, etc.)"
          }
        }
      },
      "TtsResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "output": {
            "type": "string",
            "description": "Base64-encoded audio or URL"
          },
          "format": {
            "type": "string"
          }
        }
      },
      "TranscribeRequest": {
        "type": "object",
        "required": [
          "tkn",
          "modelVersion",
          "input"
        ],
        "properties": {
          "tkn": {
            "type": "string"
          },
          "modelVersion": {
            "type": "string",
            "default": "1.0_full"
          },
          "input": {
            "type": "string",
            "description": "Audio URL or base64-encoded audio"
          },
          "language": {
            "type": "string",
            "description": "Language code (e.g. 'en')"
          }
        }
      },
      "TranscribeResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "text": {
            "type": "string"
          },
          "segments": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "text": {
                  "type": "string"
                },
                "start": {
                  "type": "number"
                },
                "end": {
                  "type": "number"
                }
              }
            }
          }
        }
      }
    }
  }
}
