{
  "openapi": "3.0.3",
  "info": {
    "title": "CARD PARTNER API",
    "version": "1.0.0",
    "contact": {},
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/thecao247/card-partner-api/1.0.0"
  },
  "servers": [
    {
      "url": "https://thecao247.vn"
    }
  ],
  "paths": {
    "/chargingws/v2": {
      "post": {
        "tags": [
          "\u0110\u1ed4I TH\u1eba"
        ],
        "summary": "G\u1eedi th\u1ebb l\u00ean h\u1ec7 th\u1ed1ng",
        "description": "B\u1ea1n c\u00f3 th\u1ec3 g\u1eedi b\u1eb1ng ph\u01b0\u01a1ng th\u1ee9c get ho\u1eb7c post t\u00f9y th\u00edch. <br>\r\n<strong>Ch\u1eef k\u00fd \u0111\u01b0\u1ee3c m\u00e3 h\u00f3a nh\u01b0 sau: md5(partner_key + code + serial)</strong>\r\n<br>\r\n<strong>M\u00e3 l\u1ed7i: </strong><br>\r\n1: Th\u1ebb th\u00e0nh c\u00f4ng \u0111\u00fang m\u1ec7nh gi\u00e1<br>\r\n2: Th\u1ebb th\u00e0nh c\u00f4ng sai m\u1ec7nh gi\u00e1<br>\r\n3: Th\u1ebb l\u1ed7i <br>\r\n4: H\u1ec7 th\u1ed1ng b\u1ea3o tr\u00ec <br>\r\n99: Th\u1ebb ch\u1edd x\u1eed l\u00fd<br>\r\n100: G\u1eedi th\u1ebb th\u1ea5t b\u1ea1i - C\u00f3 l\u00fd do \u0111i k\u00e8m \u1edf ph\u1ea7n th\u00f4ng b\u00e1o tr\u1ea3 v\u1ec1\r\n<br>",
        "operationId": "gIThLNHThNg",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "amount": {
                    "type": "string",
                    "example": "50000"
                  },
                  "code": {
                    "type": "string",
                    "example": "312821445892982"
                  },
                  "command": {
                    "type": "string",
                    "example": "check"
                  },
                  "partner_id": {
                    "type": "string",
                    "example": "3681148751"
                  },
                  "request_id": {
                    "type": "string",
                    "example": "323233"
                  },
                  "serial": {
                    "type": "string",
                    "example": "10004783347874"
                  },
                  "sign": {
                    "type": "string",
                    "example": "19db4f1670100764069dba47429a9d94"
                  },
                  "telco": {
                    "type": "string",
                    "example": "VIETTEL"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "G\u1eedi th\u1ebb l\u00ean h\u1ec7 th\u1ed1ng / Ki\u1ec3m tra tr\u1ea1ng th\u00e1i th\u1ebb",
            "headers": {
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "example": "no-cache, private"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "Keep-Alive"
                }
              },
              "Content-Length": {
                "schema": {
                  "type": "string",
                  "example": "188"
                }
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Wed, 28 Oct 2020 08:09:23 GMT"
                }
              },
              "Expires": {
                "schema": {
                  "type": "string",
                  "example": "Thu, 19 Nov 1981 08:52:00 GMT"
                }
              },
              "Keep-Alive": {
                "schema": {
                  "type": "string",
                  "example": "timeout=120, max=996"
                }
              },
              "Pragma": {
                "schema": {
                  "type": "string",
                  "example": "no-cache"
                }
              },
              "Server": {
                "schema": {
                  "type": "string",
                  "example": "Apache"
                }
              },
              "Set-Cookie": {
                "schema": {
                  "type": "string",
                  "example": "web_session=eyJpdiI6IjFleDk1aThpZzA5VVI1Mm5JVlwveXFnPT0iLCJ2YWx1ZSI6InlcL1lrT0ZIRjJYd1VvM1NjYmRKNG8xUGs4MUlnY3o2RGl5TFdrR0c3NWFtUHAweE1leUZ4RnlOSndpKzd4eWVVIiwibWFjIjoiNzM4ZDcxMDIzNDk5N2VhZWM1MDQ0MDNmYzYxZWUwMDQ2Yjk3ZTU2YTQ4MjhlOTQ2OWU3ZjZkYmNmNmEyMDU2OCJ9; expires=Wed, 28-Oct-2020 10:09:23 GMT; Max-Age=7200; path=/; httponly"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "amount": {
                      "type": "number",
                      "example": 35000
                    },
                    "code": {
                      "type": "string",
                      "example": "312821445892982"
                    },
                    "declared_value": {
                      "type": "number",
                      "example": 50000
                    },
                    "message": {
                      "type": "string",
                      "example": "PENDING"
                    },
                    "request_id": {
                      "type": "string",
                      "example": "323233"
                    },
                    "serial": {
                      "type": "string",
                      "example": "10004783347874"
                    },
                    "status": {
                      "type": "number",
                      "example": 99
                    },
                    "telco": {
                      "type": "string",
                      "example": "VIETTEL"
                    },
                    "trans_id": {
                      "type": "number",
                      "example": 8
                    },
                    "value": {
                      "nullable": true,
                      "example": null
                    }
                  }
                },
                "examples": {
                  "G\u1eedi th\u1ebb l\u00ean h\u1ec7 th\u1ed1ng": {
                    "value": {
                      "amount": 35000,
                      "code": "312821445892982",
                      "declared_value": 50000,
                      "message": "PENDING",
                      "request_id": "323233",
                      "serial": "10004783347874",
                      "status": 99,
                      "telco": "VIETTEL",
                      "trans_id": 8,
                      "value": null
                    }
                  },
                  "Ki\u1ec3m tra tr\u1ea1ng th\u00e1i th\u1ebb": {
                    "value": {
                      "amount": 35000,
                      "code": "312821445892982",
                      "declared_value": 50000,
                      "message": "PENDING",
                      "request_id": "323233",
                      "serial": "10004783347874",
                      "status": 99,
                      "telco": "VIETTEL",
                      "trans_id": 8,
                      "value": null
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/charge/callback": {
      "get": {
        "tags": [
          "\u0110\u1ed4I TH\u1eba"
        ],
        "summary": "G\u1ecdi v\u1ec1 cho b\u1ea1n b\u1eb1ng GET",
        "description": "B\u1ea1n nh\u1eadn callback k\u1ebft qu\u1ea3 x\u1eed l\u00fd th\u1ebb t\u1eeb ch\u00fang t\u00f4i b\u1eb1ng ph\u01b0\u01a1ng th\u1ee9c GET",
        "operationId": "gIVChoBNBNgGet",
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "1"
            }
          },
          {
            "name": "message",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "Th\u00e0nh c\u00f4ng"
            }
          },
          {
            "name": "request_id",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "989876"
            }
          },
          {
            "name": "declared_value",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "50000"
            },
            "description": "M\u1ec7nh gi\u00e1 khai b\u00e1o"
          },
          {
            "name": "card_value",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "50000"
            },
            "description": "M\u1ec7nh gi\u00e1 th\u1ef1c c\u1ee7a th\u1ebb"
          },
          {
            "name": "value",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "50000"
            },
            "description": "M\u1ec7nh gi\u00e1 t\u00ednh ti\u1ec1n"
          },
          {
            "name": "amount",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "25000"
            },
            "description": "S\u1ed1 ti\u1ec1n nh\u1eadn \u0111\u01b0\u1ee3c"
          },
          {
            "name": "code",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "314688440422676"
            }
          },
          {
            "name": "serial",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "10003395125761"
            }
          },
          {
            "name": "telco",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "VIETTEL"
            }
          },
          {
            "name": "trans_id",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "343424"
            },
            "description": "M\u00e3 giao d\u1ecbch b\u00ean ch\u00fang t\u00f4i"
          },
          {
            "name": "callback_sign",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "17b118fe86852c52ea126c9537617f6d"
            },
            "description": "Ch\u1eef k\u00fd b\u1ea3o v\u1ec7"
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        }
      },
      "post": {
        "tags": [
          "\u0110\u1ed4I TH\u1eba"
        ],
        "summary": "G\u1ecdi v\u1ec1 cho b\u1ea1n b\u1eb1ng POST JSON",
        "description": "B\u1ea1n nh\u1eadn callback k\u1ebft qu\u1ea3 x\u1eed l\u00fd th\u1ebb t\u1eeb ch\u00fang t\u00f4i b\u1eb1ng ph\u01b0\u01a1ng th\u1ee9c POST. Ch\u00fang t\u00f4i g\u1eedi Json cho c\u00e1c b\u1ea1n nh\u00e9. <br>\r\nCh\u1eef k\u00fd c\u1ee7a callback_sign s\u1ebd l\u00e0: <b>md5(partner_key + code + serial)</b>",
        "operationId": "gIVChoBNBNgPostJson",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "amount": {
                    "type": "number",
                    "example": 25000
                  },
                  "callback_sign": {
                    "type": "string",
                    "example": "17b118fe86852c52ea126c9537617f6d"
                  },
                  "code": {
                    "type": "string",
                    "example": "314688440422676"
                  },
                  "declared_value": {
                    "type": "number",
                    "example": 50000
                  },
                  "message": {
                    "type": "string",
                    "example": "Th\u00e0nh c\u00f4ng"
                  },
                  "request_id": {
                    "type": "string",
                    "example": "989876"
                  },
                  "serial": {
                    "type": "string",
                    "example": "10003395125761"
                  },
                  "status": {
                    "type": "number",
                    "example": 1
                  },
                  "telco": {
                    "type": "string",
                    "example": "VIETTEL"
                  },
                  "trans_id": {
                    "type": "number",
                    "example": 54180
                  },
                  "value": {
                    "type": "number",
                    "example": 50000
                  }
                }
              },
              "examples": {
                "G\u1ecdi v\u1ec1 cho b\u1ea1n b\u1eb1ng POST JSON": {
                  "value": {
                    "amount": 25000,
                    "callback_sign": "17b118fe86852c52ea126c9537617f6d",
                    "code": "314688440422676",
                    "declared_value": 50000,
                    "message": "Th\u00e0nh c\u00f4ng",
                    "request_id": "989876",
                    "serial": "10003395125761",
                    "status": 1,
                    "telco": "VIETTEL",
                    "trans_id": 54180,
                    "value": 50000
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "callback-post - k\u1ebft qu\u1ea3",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "amount": {
                      "type": "number",
                      "example": 25000
                    },
                    "callback_sign": {
                      "type": "string",
                      "example": "17b118fe86852c52ea126c9537617f6d"
                    },
                    "code": {
                      "type": "string",
                      "example": "314688440422676"
                    },
                    "declared_value": {
                      "type": "number",
                      "example": 50000
                    },
                    "message": {
                      "type": "string",
                      "example": "Th\u00e0nh c\u00f4ng"
                    },
                    "request_id": {
                      "type": "string",
                      "example": "989876"
                    },
                    "serial": {
                      "type": "string",
                      "example": "10003395125761"
                    },
                    "status": {
                      "type": "number",
                      "example": 1
                    },
                    "telco": {
                      "type": "string",
                      "example": "VIETTEL"
                    },
                    "trans_id": {
                      "type": "number",
                      "example": 54180
                    },
                    "value": {
                      "type": "number",
                      "example": 50000
                    }
                  }
                },
                "examples": {
                  "callback-post - k\u1ebft qu\u1ea3": {
                    "value": {
                      "amount": 25000,
                      "callback_sign": "17b118fe86852c52ea126c9537617f6d",
                      "code": "314688440422676",
                      "declared_value": 50000,
                      "message": "Th\u00e0nh c\u00f4ng",
                      "request_id": "989876",
                      "serial": "10003395125761",
                      "status": 1,
                      "telco": "VIETTEL",
                      "trans_id": 54180,
                      "value": 50000
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/chargingws/v2/getfee": {
      "get": {
        "tags": [
          "\u0110\u1ed4I TH\u1eba"
        ],
        "summary": "L\u1ea5y gi\u00e1 t\u1ea9y th\u1ebb",
        "description": "B\u1ea1n nh\u1eadn callback k\u1ebft qu\u1ea3 x\u1eed l\u00fd th\u1ebb t\u1eeb ch\u00fang t\u00f4i b\u1eb1ng ph\u01b0\u01a1ng th\u1ee9c GET",
        "operationId": "lYGiTYTh",
        "parameters": [
          {
            "name": "partner_id",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "0299338261"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "L\u1ea5y gi\u00e1 \u0111\u1ed5i th\u1ebb",
            "headers": {
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "example": "no-cache, private"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "Keep-Alive"
                }
              },
              "Content-Length": {
                "schema": {
                  "type": "string",
                  "example": "291"
                }
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Wed, 28 Oct 2020 07:38:18 GMT"
                }
              },
              "Expires": {
                "schema": {
                  "type": "string",
                  "example": "Thu, 19 Nov 1981 08:52:00 GMT"
                }
              },
              "Keep-Alive": {
                "schema": {
                  "type": "string",
                  "example": "timeout=120, max=999"
                }
              },
              "Pragma": {
                "schema": {
                  "type": "string",
                  "example": "no-cache"
                }
              },
              "Server": {
                "schema": {
                  "type": "string",
                  "example": "Apache"
                }
              },
              "Set-Cookie": {
                "schema": {
                  "type": "string",
                  "example": "web_session=eyJpdiI6IlJjN0IwR2pFMHdtcHVLUjhWMHhBTnc9PSIsInZhbHVlIjoiQ1JxaTRcL0N2MlRzQXR6K05UWGZOVEVHXC9CWFEwUWVTY1FoclwvQ2lJK0QrU3M4c0VLcE1UYlpOODVsUFZXTnFHSCIsIm1hYyI6Ijc3NzQ3NzI5OTdhZWQzMDUzMDc5N2NhOTVjZTE3Yjk4MzQxZGY0MGNlZGUxYmQ5NmVhMjc2Y2U1MjY4ZDgwODYifQ%3D%3D; expires=Wed, 28-Oct-2020 09:38:18 GMT; Max-Age=7200; path=/; httponly"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "GATE": {
                      "type": "array",
                      "items": {},
                      "example": []
                    },
                    "MOBIFONE": {
                      "type": "array",
                      "items": {},
                      "example": []
                    },
                    "VIETTEL": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "fees": {
                            "type": "number",
                            "example": 30
                          },
                          "penalty": {
                            "type": "number",
                            "example": 20
                          },
                          "telco": {
                            "type": "string",
                            "example": "VIETTEL"
                          },
                          "value": {
                            "type": "number",
                            "example": 10000
                          }
                        }
                      },
                      "example": [
                        {
                          "fees": 30,
                          "penalty": 20,
                          "telco": "VIETTEL",
                          "value": 10000
                        },
                        {
                          "fees": 30,
                          "penalty": 20,
                          "telco": "VIETTEL",
                          "value": 20000
                        },
                        {
                          "fees": 30,
                          "penalty": 20,
                          "telco": "VIETTEL",
                          "value": 50000
                        },
                        {
                          "fees": 30,
                          "penalty": 20,
                          "telco": "VIETTEL",
                          "value": 100000
                        }
                      ]
                    },
                    "VINAPHONE": {
                      "type": "array",
                      "items": {},
                      "example": []
                    },
                    "ZING": {
                      "type": "array",
                      "items": {},
                      "example": []
                    }
                  }
                },
                "examples": {
                  "L\u1ea5y gi\u00e1 \u0111\u1ed5i th\u1ebb": {
                    "value": {
                      "GATE": [],
                      "MOBIFONE": [],
                      "VIETTEL": [
                        {
                          "fees": 30,
                          "penalty": 20,
                          "telco": "VIETTEL",
                          "value": 10000
                        },
                        {
                          "fees": 30,
                          "penalty": 20,
                          "telco": "VIETTEL",
                          "value": 20000
                        },
                        {
                          "fees": 30,
                          "penalty": 20,
                          "telco": "VIETTEL",
                          "value": 50000
                        },
                        {
                          "fees": 30,
                          "penalty": 20,
                          "telco": "VIETTEL",
                          "value": 100000
                        }
                      ],
                      "VINAPHONE": [],
                      "ZING": []
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/checkcard": {
      "post": {
        "tags": [
          "KI\u1ec2M TRA SERI"
        ],
        "summary": "Ki\u1ec3m tra seri",
        "description": "Ki\u1ec3m tra seri",
        "operationId": "kiMTraSeri",
        "parameters": [
          {
            "name": "telco",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "VIETTEL"
            }
          },
          {
            "name": "serial",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "20000203625855"
            }
          },
          {
            "name": "partner_id",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "44492838431"
            }
          },
          {
            "name": "sign",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "77453e6def6c29d40fa6e2536f31c552"
            },
            "description": "md5(partner_key+serial) - gh\u00e9p li\u1ec1n 2 d\u1eef li\u1ec7u"
          }
        ],
        "responses": {
          "200": {
            "description": "Ki\u1ec3m tra seri",
            "headers": {
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "example": "no-cache, private"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "Keep-Alive"
                }
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Fri, 27 Jan 2023 14:56:07 GMT"
                }
              },
              "Keep-Alive": {
                "schema": {
                  "type": "string",
                  "example": "timeout=10, max=100"
                }
              },
              "Server": {
                "schema": {
                  "type": "string",
                  "example": "Apache"
                }
              },
              "Transfer-Encoding": {
                "schema": {
                  "type": "string",
                  "example": "chunked"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "acc_charged": {
                          "type": "string",
                          "example": "986"
                        },
                        "card_status": {
                          "type": "string",
                          "example": "unavailable"
                        },
                        "date_used": {
                          "type": "string",
                          "example": "20/11/2022"
                        },
                        "serial": {
                          "type": "string",
                          "example": "20000203625855"
                        },
                        "status": {
                          "type": "string",
                          "example": "checked"
                        },
                        "value": {
                          "type": "number",
                          "example": 50000
                        }
                      }
                    },
                    "status": {
                      "type": "string",
                      "example": "success"
                    }
                  }
                },
                "examples": {
                  "Ki\u1ec3m tra seri": {
                    "value": {
                      "data": {
                        "acc_charged": "986",
                        "card_status": "unavailable",
                        "date_used": "20/11/2022",
                        "serial": "20000203625855",
                        "status": "checked",
                        "value": 50000
                      },
                      "status": "success"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/cardws": {
      "post": {
        "tags": [
          "MUA TH\u1eba"
        ],
        "summary": "Mua th\u1ebb c\u00e0o",
        "description": "S\u1eed d\u1ee5ng ph\u01b0\u01a1ng th\u1ee9c POST \u0111\u1ec3 g\u1eedi d\u1eef li\u1ec7u (JSON, URL_ENCODE, FORM_PARAMS)  \n  \n**Ch\u1eef k\u00fd l\u00e0 md5 c\u1ee7a c\u00e1c d\u1eef li\u1ec7u theo l\u1ea7n l\u01b0\u1ee3t sau: partner_key, partner_id, command, request_id. C\u00e1c d\u1eef li\u1ec7u gh\u00e9p li\u1ec1n nhau. \u1ede m\u1ed9t s\u1ed1 h\u00e0m kh\u00f4ng c\u00f3 request_id (nh\u01b0 check available, get balance...) th\u00ec cho gi\u00e1 tr\u1ecb r\u1ed7ng \"\".**  \n  \n  \n**L\u01b0u \u00fd: \u0110\u1ec3 \u0111\u01a1n gi\u1ea3n cho vi\u1ec7c k\u1ebft n\u1ed1i v\u00ec th\u1ebf d\u1eef li\u1ec7u th\u1ebb tr\u1ea3 v\u1ec1 kh\u00f4ng \u0111\u01b0\u1ee3c m\u00e3 h\u00f3a. Ch\u00fang t\u00f4i khuy\u00ean b\u1ea1n s\u1eed d\u1ee5ng SSL cho website c\u1ee7a b\u1ea1n \u0111\u1ec3 b\u1ea3o v\u1ec7 th\u1ebb khi truy\u1ec1n qua internet.**  \n  \n  \n**Thay tenmien.com th\u00e0nh t\u00ean mi\u1ec1n b\u1ea1n \u0111ang mu\u1ed1n \u0111\u1ea5u n\u1ed1i.**  \n  \n  \n**B\u1ea3ng m\u00e3 l\u1ed7i:**\n\n<p>1:Mua the thanh cong</p>\n\n<p>2:Thanh toan thanh cong. Lay the that bai, vui long redownload sau it phut</p>\n\n<p>100:San pham khong ton tai</p>\n\n<p>101:Vi dien tu khong ton tai</p>\n\n<p>102:So du vi khong du</p>\n\n<p>103:Khong co du lieu gui len</p>\n\n<p>104:Du lieu gui len khong dung</p>\n\n<p>105:San pham khong dung</p>\n\n<p>106:Loai the dang ngung cung cap</p>\n\n<p>107:Loi mua hang, ban chua bi tru tien</p>\n\n<p>108:Khong ton tai tai khoan merchant</p>\n\n<p>109:Ma yeu cau request_id da ton tai</p>\n\n<p>110:Yeu cau khong hop le</p>\n\n<p>111:Dia chi vi khong ton tai</p>\n\n<p>112:Dia chi vi khong hoat dong</p>\n\n<p>113:Tai khoan bi khoa</p>\n\n<p>114:Merchant sai IP dang ky</p>\n\n<p>115:Merchant khong hoat dong</p>\n\n<p>116:Sai chu ky</p>\n\n<p>117:Yeu cau khong dung. Thieu tham so command</p>\n\n<p>118:San pham nay da het</p>\n\n<p>119:Dia chi IP khong duoc quyen truy cap</p>\n\n<p>120:Loi Exception</p>\n\n<p>121:Thanh toan that bai</p>\n\n<p>122:Khong mua duoc hang</p>\n\n<p>123:Gia san pham khong dung</p>\n\n<p>124:Don hang that bai vi bi gioi han</p>\n\n<p>125:So luong khong hop le</p>\n\n<p>126:So luong phai la so nguyen duong</p>",
        "operationId": "muaThCO",
        "parameters": [
          {
            "name": "partner_id",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "0299338261"
            }
          },
          {
            "name": "command",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "buycard"
            }
          },
          {
            "name": "request_id",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "113"
            },
            "description": "ID c\u1ee7a b\u1ea1n\n"
          },
          {
            "name": "service_code",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "Viettel"
            }
          },
          {
            "name": "wallet_number",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "0081083966"
            }
          },
          {
            "name": "value",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "10000"
            }
          },
          {
            "name": "qty",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "2"
            }
          },
          {
            "name": "sign",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "ourfyhwoeu234ouyh324o23h4"
            },
            "description": "md5($partner_key . $partner_id. $command . $request_id);"
          },
          {
            "name": "order_code",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "S61797A53BCEEF"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Buy Card - Sai IP / Buy Card -Mua the thanh cong / Buy Card - Sai ch\u1eef k\u00fd / Check Card Availability - H\u1ebft h\u00e0ng / Check Card Availability / Redownload Card / Get Balance",
            "headers": {
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "example": "no-cache, private"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "Keep-Alive"
                }
              },
              "Content-Length": {
                "schema": {
                  "type": "string",
                  "example": "40"
                }
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Wed, 27 Oct 2021 16:18:13 GMT"
                }
              },
              "Expires": {
                "schema": {
                  "type": "string",
                  "example": "Thu, 19 Nov 1981 08:52:00 GMT"
                }
              },
              "Keep-Alive": {
                "schema": {
                  "type": "string",
                  "example": "timeout=10, max=100"
                }
              },
              "Pragma": {
                "schema": {
                  "type": "string",
                  "example": "no-cache"
                }
              },
              "Server": {
                "schema": {
                  "type": "string",
                  "example": "Apache"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "balance": {
                      "type": "number",
                      "example": 554900
                    },
                    "currency_code": {
                      "type": "string",
                      "example": "VND"
                    },
                    "data": {
                      "example": false,
                      "anyOf": [
                        {
                          "type": "boolean",
                          "example": false
                        },
                        {
                          "type": "object",
                          "properties": {
                            "cards": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "code": {
                                    "type": "string",
                                    "example": "529844012436956"
                                  },
                                  "expired": {
                                    "nullable": true,
                                    "example": null
                                  },
                                  "name": {
                                    "type": "string",
                                    "example": "Viettel 10.000\u0111"
                                  },
                                  "serial": {
                                    "type": "string",
                                    "example": "20000098121305"
                                  }
                                }
                              },
                              "example": [
                                {
                                  "code": "529844012436956",
                                  "expired": null,
                                  "name": "Viettel 10.000\u0111",
                                  "serial": "20000098121305"
                                },
                                {
                                  "code": "129970448259291",
                                  "expired": null,
                                  "name": "Viettel 10.000\u0111",
                                  "serial": "20000097833260"
                                }
                              ]
                            },
                            "order_code": {
                              "type": "string",
                              "example": "S61797A53BCEEF"
                            },
                            "request_id": {
                              "type": "string",
                              "example": "113"
                            },
                            "time": {
                              "type": "string",
                              "example": "2021-10-27 23:12:16"
                            }
                          }
                        },
                        {
                          "type": "boolean",
                          "example": false
                        },
                        {
                          "type": "object",
                          "properties": {
                            "cards": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "code": {
                                    "type": "string",
                                    "example": "529844012436956"
                                  },
                                  "expired": {
                                    "nullable": true,
                                    "example": null
                                  },
                                  "name": {
                                    "type": "string",
                                    "example": "Viettel 10.000\u0111"
                                  },
                                  "serial": {
                                    "type": "string",
                                    "example": "20000098121305"
                                  }
                                }
                              },
                              "example": [
                                {
                                  "code": "529844012436956",
                                  "expired": null,
                                  "name": "Viettel 10.000\u0111",
                                  "serial": "20000098121305"
                                },
                                {
                                  "code": "129970448259291",
                                  "expired": null,
                                  "name": "Viettel 10.000\u0111",
                                  "serial": "20000097833260"
                                }
                              ]
                            },
                            "order_code": {
                              "type": "string",
                              "example": "S61797A53BCEEF"
                            },
                            "request_id": {
                              "type": "string",
                              "example": "113"
                            },
                            "time": {
                              "type": "string",
                              "example": "2021-10-27 23:32:44"
                            }
                          }
                        }
                      ]
                    },
                    "message": {
                      "type": "string",
                      "example": "Merchant sai IP dang ky"
                    },
                    "status": {
                      "type": "number",
                      "example": 114
                    },
                    "stock_available": {
                      "type": "boolean",
                      "example": false
                    }
                  }
                },
                "examples": {
                  "Buy Card - Sai IP": {
                    "value": {
                      "data": false,
                      "message": "Merchant sai IP dang ky",
                      "status": 114
                    }
                  },
                  "Buy Card - Sai ch\u1eef k\u00fd": {
                    "value": {
                      "data": false,
                      "message": "Sai chu ky",
                      "status": 116
                    }
                  },
                  "Buy Card -Mua the thanh cong": {
                    "value": {
                      "data": {
                        "cards": [
                          {
                            "code": "529844012436956",
                            "expired": null,
                            "name": "Viettel 10.000\u0111",
                            "serial": "20000098121305"
                          },
                          {
                            "code": "129970448259291",
                            "expired": null,
                            "name": "Viettel 10.000\u0111",
                            "serial": "20000097833260"
                          }
                        ],
                        "order_code": "S61797A53BCEEF",
                        "request_id": "113",
                        "time": "2021-10-27 23:12:16"
                      },
                      "message": "Mua the thanh cong",
                      "status": 1
                    }
                  },
                  "Check Card Availability": {
                    "value": {
                      "message": "C\u00f2n h\u00e0ng",
                      "stock_available": true
                    }
                  },
                  "Check Card Availability - H\u1ebft h\u00e0ng": {
                    "value": {
                      "message": "H\u1ebft h\u00e0ng",
                      "stock_available": false
                    }
                  },
                  "Get Balance": {
                    "value": {
                      "balance": 554900,
                      "currency_code": "VND"
                    }
                  },
                  "Redownload Card": {
                    "value": {
                      "data": {
                        "cards": [
                          {
                            "code": "529844012436956",
                            "expired": null,
                            "name": "Viettel 10.000\u0111",
                            "serial": "20000098121305"
                          },
                          {
                            "code": "129970448259291",
                            "expired": null,
                            "name": "Viettel 10.000\u0111",
                            "serial": "20000097833260"
                          }
                        ],
                        "order_code": "S61797A53BCEEF",
                        "request_id": "113",
                        "time": "2021-10-27 23:32:44"
                      },
                      "message": "Mua the thanh cong",
                      "status": 1
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/cardws/products": {
      "get": {
        "tags": [
          "MUA TH\u1eba"
        ],
        "summary": "L\u1ea5y danh s\u00e1ch th\u1ebb",
        "description": "L\u1ea5y danh s\u00e1ch th\u1ebb",
        "operationId": "lYDanhSChTh",
        "parameters": [
          {
            "name": "partner_id",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "6322520361"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get Products",
            "headers": {
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "example": "private, must-revalidate"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "keep-alive"
                }
              },
              "Content-Encoding": {
                "schema": {
                  "type": "string",
                  "example": "gzip"
                }
              },
              "Content-Length": {
                "schema": {
                  "type": "string",
                  "example": "1770"
                }
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Tue, 05 Oct 2021 08:45:33 GMT"
                }
              },
              "Expires": {
                "schema": {
                  "type": "string",
                  "example": "Thu, 19 Nov 1981 08:52:00 GMT"
                }
              },
              "Pragma": {
                "schema": {
                  "type": "string",
                  "example": "no-cache"
                }
              },
              "Server": {
                "schema": {
                  "type": "string",
                  "example": "nginx"
                }
              },
              "Vary": {
                "schema": {
                  "type": "string",
                  "example": "Accept-Encoding"
                }
              },
              "expires": {
                "schema": {
                  "type": "string",
                  "example": "-1"
                }
              },
              "pragma": {
                "schema": {
                  "type": "string",
                  "example": "no-cache"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "cardvalue": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "number",
                              "example": 32
                            },
                            "service_code": {
                              "type": "string",
                              "example": "Viettel"
                            },
                            "value": {
                              "type": "number",
                              "example": 10000
                            }
                          }
                        },
                        "example": [
                          {
                            "id": 32,
                            "service_code": "Viettel",
                            "value": 10000
                          },
                          {
                            "id": 33,
                            "service_code": "Viettel",
                            "value": 20000
                          },
                          {
                            "id": 34,
                            "service_code": "Viettel",
                            "value": 30000
                          },
                          {
                            "id": 35,
                            "service_code": "Viettel",
                            "value": 50000
                          },
                          {
                            "id": 36,
                            "service_code": "Viettel",
                            "value": 100000
                          },
                          {
                            "id": 37,
                            "service_code": "Viettel",
                            "value": 200000
                          },
                          {
                            "id": 38,
                            "service_code": "Viettel",
                            "value": 300000
                          },
                          {
                            "id": 39,
                            "service_code": "Viettel",
                            "value": 500000
                          },
                          {
                            "id": 40,
                            "service_code": "Viettel",
                            "value": 1000000
                          }
                        ]
                      },
                      "description": {
                        "type": "string",
                        "nullable": true,
                        "example": "\n<p>H\u01b0\u1edbng d\u1eabn c\u00e1ch n\u1ea1p th\u1ebb Viettel tr\u1ea3 tr\u01b0\u1edbc b\u1eb1ng th\u1ebb c\u00e0o\n    <br />\r\nB\u01b0\u1edbc 1: B\u1ea1n c\u00f3 th\u1ec3 t\u1edbi c\u00e1c c\u1eeda h\u00e0ng \u0111\u1ea1i l\u00ed c\u00f3 cung c\u1ea5p th\u1ebb c\u00e0o viettel, sau \u0111\u00f3 mua th\u1ebb \u0111i\u1ec7n tho\u1ea1i gi\u1ea5y g\u1ed3m c\u00f3 s\u1ed1 seri, m\u00e3 th\u1ebb, v\u00e0 l\u1edbp tr\u00e1ng b\u1ea1c. Ho\u1eb7c n\u1ebfu mu\u1ed1n nhanh ch\u00f3ng h\u01a1n b\u1ea1n c\u0169ng c\u00f3 th\u1ec3 n\u1ea1p th\u1ebb viettel tr\u1ea3 tr\u01b0\u1edbc t\u1ea1i c\u00e1c website cung c\u1ea5p d\u1ecbch v\u1ee5 ho\u1eb7c mua th\u1ebb b\u1eb1ng tin nh\u1eafn SMS.\n    <br />\r\nB\u01b0\u1edbc 2: C\u1ea1o l\u1edbp b\u1ea1c \u0111\u1ec3 l\u1ea5y d\u00e3y s\u1ed1 sau \u0111\u00f3 nh\u1ea5n m\u00e3: *100*M\u00e3 s\u1ed1 th\u1ebb c\u00e0o# v\u00e0 b\u1ea5m ph\u00edm G\u1ecdi\n    <br />\r\nNh\u00e0 m\u1ea1ng viettel c\u00f2n cung c\u1ea5p d\u1ecbch v\u1ee5 n\u1ea1p ti\u1ec1n cho thu\u00ea bao tr\u1ea3 tr\u01b0\u1edbc kh\u00e1c b\u1eb1ng th\u1ebb c\u00e0o gi\u1ea5y, \u0111\u1ec3 n\u1ea1p ti\u1ec1n viettel b\u1ea1n c\u1ea7n nh\u1ea5n *103*S\u1ed1 \u0111i\u1ec7n tho\u1ea1i nh\u1eadn*M\u00e3 s\u1ed1 th\u1ebb c\u00e0o# &nbsp;v\u00e0 b\u1ea5m ph\u00edm G\u1ecdi, ph\u00ed n\u1ea1p cho thu\u00ea bao kh\u00e1c l\u00e0 1000\u0111/ l\u1ea7n &nbsp;s\u1ebd b\u1ecb tr\u1eeb v\u00e0o t\u00e0i kho\u1ea3n g\u1ed1c c\u1ee7a thu\u00ea bap n\u1ea1p h\u1ed9.</p>"
                      },
                      "image": {
                        "type": "string",
                        "example": "/storage/userfiles/images/thecao/the-viettel.png"
                      },
                      "imgurl": {
                        "type": "string",
                        "example": "https://tenmien.com/storage/userfiles/images/thecao/the-viettel.png"
                      },
                      "name": {
                        "type": "string",
                        "example": "Th\u1ebb Viettel"
                      },
                      "service_code": {
                        "type": "string",
                        "example": "Viettel"
                      },
                      "short_description": {
                        "type": "string",
                        "nullable": true,
                        "example": "the viettel"
                      },
                      "slug": {
                        "type": "string",
                        "example": "the-viettel"
                      }
                    }
                  },
                  "example": [
                    {
                      "cardvalue": [
                        {
                          "id": 32,
                          "service_code": "Viettel",
                          "value": 10000
                        },
                        {
                          "id": 33,
                          "service_code": "Viettel",
                          "value": 20000
                        },
                        {
                          "id": 34,
                          "service_code": "Viettel",
                          "value": 30000
                        },
                        {
                          "id": 35,
                          "service_code": "Viettel",
                          "value": 50000
                        },
                        {
                          "id": 36,
                          "service_code": "Viettel",
                          "value": 100000
                        },
                        {
                          "id": 37,
                          "service_code": "Viettel",
                          "value": 200000
                        },
                        {
                          "id": 38,
                          "service_code": "Viettel",
                          "value": 300000
                        },
                        {
                          "id": 39,
                          "service_code": "Viettel",
                          "value": 500000
                        },
                        {
                          "id": 40,
                          "service_code": "Viettel",
                          "value": 1000000
                        }
                      ],
                      "description": "\n<p>H\u01b0\u1edbng d\u1eabn c\u00e1ch n\u1ea1p th\u1ebb Viettel tr\u1ea3 tr\u01b0\u1edbc b\u1eb1ng th\u1ebb c\u00e0o\n    <br />\r\nB\u01b0\u1edbc 1: B\u1ea1n c\u00f3 th\u1ec3 t\u1edbi c\u00e1c c\u1eeda h\u00e0ng \u0111\u1ea1i l\u00ed c\u00f3 cung c\u1ea5p th\u1ebb c\u00e0o viettel, sau \u0111\u00f3 mua th\u1ebb \u0111i\u1ec7n tho\u1ea1i gi\u1ea5y g\u1ed3m c\u00f3 s\u1ed1 seri, m\u00e3 th\u1ebb, v\u00e0 l\u1edbp tr\u00e1ng b\u1ea1c. Ho\u1eb7c n\u1ebfu mu\u1ed1n nhanh ch\u00f3ng h\u01a1n b\u1ea1n c\u0169ng c\u00f3 th\u1ec3 n\u1ea1p th\u1ebb viettel tr\u1ea3 tr\u01b0\u1edbc t\u1ea1i c\u00e1c website cung c\u1ea5p d\u1ecbch v\u1ee5 ho\u1eb7c mua th\u1ebb b\u1eb1ng tin nh\u1eafn SMS.\n    <br />\r\nB\u01b0\u1edbc 2: C\u1ea1o l\u1edbp b\u1ea1c \u0111\u1ec3 l\u1ea5y d\u00e3y s\u1ed1 sau \u0111\u00f3 nh\u1ea5n m\u00e3: *100*M\u00e3 s\u1ed1 th\u1ebb c\u00e0o# v\u00e0 b\u1ea5m ph\u00edm G\u1ecdi\n    <br />\r\nNh\u00e0 m\u1ea1ng viettel c\u00f2n cung c\u1ea5p d\u1ecbch v\u1ee5 n\u1ea1p ti\u1ec1n cho thu\u00ea bao tr\u1ea3 tr\u01b0\u1edbc kh\u00e1c b\u1eb1ng th\u1ebb c\u00e0o gi\u1ea5y, \u0111\u1ec3 n\u1ea1p ti\u1ec1n viettel b\u1ea1n c\u1ea7n nh\u1ea5n *103*S\u1ed1 \u0111i\u1ec7n tho\u1ea1i nh\u1eadn*M\u00e3 s\u1ed1 th\u1ebb c\u00e0o# &nbsp;v\u00e0 b\u1ea5m ph\u00edm G\u1ecdi, ph\u00ed n\u1ea1p cho thu\u00ea bao kh\u00e1c l\u00e0 1000\u0111/ l\u1ea7n &nbsp;s\u1ebd b\u1ecb tr\u1eeb v\u00e0o t\u00e0i kho\u1ea3n g\u1ed1c c\u1ee7a thu\u00ea bap n\u1ea1p h\u1ed9.</p>",
                      "image": "/storage/userfiles/images/thecao/the-viettel.png",
                      "imgurl": "https://tenmien.com/storage/userfiles/images/thecao/the-viettel.png",
                      "name": "Th\u1ebb Viettel",
                      "service_code": "Viettel",
                      "short_description": "the viettel",
                      "slug": "the-viettel"
                    },
                    {
                      "cardvalue": [
                        {
                          "id": 19,
                          "service_code": "Vina",
                          "value": 10000
                        },
                        {
                          "id": 20,
                          "service_code": "Vina",
                          "value": 20000
                        },
                        {
                          "id": 26,
                          "service_code": "Vina",
                          "value": 30000
                        },
                        {
                          "id": 27,
                          "service_code": "Vina",
                          "value": 50000
                        },
                        {
                          "id": 28,
                          "service_code": "Vina",
                          "value": 100000
                        },
                        {
                          "id": 29,
                          "service_code": "Vina",
                          "value": 200000
                        },
                        {
                          "id": 30,
                          "service_code": "Vina",
                          "value": 300000
                        },
                        {
                          "id": 31,
                          "service_code": "Vina",
                          "value": 500000
                        }
                      ],
                      "description": null,
                      "image": "/storage/userfiles/images/thecao/the-vinaphone.jpeg",
                      "imgurl": "https://tenmien.com/storage/userfiles/images/thecao/the-vinaphone.jpeg",
                      "name": "Th\u1ebb Vinaphone",
                      "service_code": "Vina",
                      "short_description": null,
                      "slug": "the-vinaphone"
                    },
                    {
                      "cardvalue": [
                        {
                          "id": 41,
                          "service_code": "Mobi",
                          "value": 10000
                        },
                        {
                          "id": 42,
                          "service_code": "Mobi",
                          "value": 20000
                        },
                        {
                          "id": 43,
                          "service_code": "Mobi",
                          "value": 30000
                        },
                        {
                          "id": 44,
                          "service_code": "Mobi",
                          "value": 50000
                        },
                        {
                          "id": 45,
                          "service_code": "Mobi",
                          "value": 100000
                        },
                        {
                          "id": 46,
                          "service_code": "Mobi",
                          "value": 200000
                        },
                        {
                          "id": 47,
                          "service_code": "Mobi",
                          "value": 300000
                        },
                        {
                          "id": 48,
                          "service_code": "Mobi",
                          "value": 500000
                        }
                      ],
                      "description": null,
                      "image": "/storage/userfiles/images/thecao/the-mobifone.jpeg",
                      "imgurl": "https://tenmien.com/storage/userfiles/images/thecao/the-mobifone.jpeg",
                      "name": "Th\u1ebb Mobifone",
                      "service_code": "Mobi",
                      "short_description": null,
                      "slug": "the-mobifone"
                    },
                    {
                      "cardvalue": [
                        {
                          "id": 49,
                          "service_code": "Vnmobile",
                          "value": 10000
                        },
                        {
                          "id": 50,
                          "service_code": "Vnmobile",
                          "value": 20000
                        },
                        {
                          "id": 52,
                          "service_code": "Vnmobile",
                          "value": 50000
                        },
                        {
                          "id": 53,
                          "service_code": "Vnmobile",
                          "value": 100000
                        },
                        {
                          "id": 54,
                          "service_code": "Vnmobile",
                          "value": 200000
                        },
                        {
                          "id": 55,
                          "service_code": "Vnmobile",
                          "value": 300000
                        },
                        {
                          "id": 56,
                          "service_code": "Vnmobile",
                          "value": 500000
                        }
                      ],
                      "description": null,
                      "image": "/storage/userfiles/images/thecao/the-vietnamobile.jpeg",
                      "imgurl": "https://tenmien.com/storage/userfiles/images/thecao/the-vietnamobile.jpeg",
                      "name": "Th\u1ebb Vietnamobile",
                      "service_code": "Vnmobile",
                      "short_description": null,
                      "slug": "the-vietnamobile"
                    },
                    {
                      "cardvalue": [
                        {
                          "id": 66,
                          "service_code": "Garena",
                          "value": 20000
                        },
                        {
                          "id": 68,
                          "service_code": "Garena",
                          "value": 50000
                        },
                        {
                          "id": 69,
                          "service_code": "Garena",
                          "value": 100000
                        },
                        {
                          "id": 70,
                          "service_code": "Garena",
                          "value": 200000
                        },
                        {
                          "id": 72,
                          "service_code": "Garena",
                          "value": 500000
                        }
                      ],
                      "description": null,
                      "image": "/storage/userfiles/images/thecao/the-garena.png",
                      "imgurl": "https://tenmien.com/storage/userfiles/images/thecao/the-garena.png",
                      "name": "Th\u1ebb Garena",
                      "service_code": "Garena",
                      "short_description": null,
                      "slug": "the-garena"
                    },
                    {
                      "cardvalue": [
                        {
                          "id": 76,
                          "service_code": "Appota",
                          "value": 50000
                        },
                        {
                          "id": 77,
                          "service_code": "Appota",
                          "value": 100000
                        },
                        {
                          "id": 78,
                          "service_code": "Appota",
                          "value": 200000
                        },
                        {
                          "id": 79,
                          "service_code": "Appota",
                          "value": 300000
                        },
                        {
                          "id": 80,
                          "service_code": "Appota",
                          "value": 500000
                        },
                        {
                          "id": 81,
                          "service_code": "Appota",
                          "value": 1000000
                        },
                        {
                          "id": 82,
                          "service_code": "Appota",
                          "value": 2000000
                        },
                        {
                          "id": 83,
                          "service_code": "Appota",
                          "value": 3000000
                        },
                        {
                          "id": 84,
                          "service_code": "Appota",
                          "value": 5000000
                        }
                      ],
                      "description": null,
                      "image": "/storage/userfiles/images/thecao/the-appota.png",
                      "imgurl": "https://tenmien.com/storage/userfiles/images/thecao/the-appota.png",
                      "name": "Th\u1ebb Appota",
                      "service_code": "Appota",
                      "short_description": null,
                      "slug": "the-appota"
                    },
                    {
                      "cardvalue": [
                        {
                          "id": 125,
                          "service_code": "Zing",
                          "value": 10000
                        },
                        {
                          "id": 126,
                          "service_code": "Zing",
                          "value": 20000
                        },
                        {
                          "id": 128,
                          "service_code": "Zing",
                          "value": 50000
                        },
                        {
                          "id": 129,
                          "service_code": "Zing",
                          "value": 100000
                        },
                        {
                          "id": 130,
                          "service_code": "Zing",
                          "value": 200000
                        },
                        {
                          "id": 132,
                          "service_code": "Zing",
                          "value": 500000
                        },
                        {
                          "id": 133,
                          "service_code": "Zing",
                          "value": 1000000
                        }
                      ],
                      "description": null,
                      "image": "/storage/userfiles/images/thecao/the-zing.png",
                      "imgurl": "https://tenmien.com/storage/userfiles/images/thecao/the-zing.png",
                      "name": "Th\u1ebb Zing",
                      "service_code": "Zing",
                      "short_description": null,
                      "slug": "the-zing"
                    },
                    {
                      "cardvalue": [
                        {
                          "id": 85,
                          "service_code": "Vcoin",
                          "value": 10000
                        },
                        {
                          "id": 86,
                          "service_code": "Vcoin",
                          "value": 20000
                        },
                        {
                          "id": 87,
                          "service_code": "Vcoin",
                          "value": 30000
                        },
                        {
                          "id": 88,
                          "service_code": "Vcoin",
                          "value": 50000
                        },
                        {
                          "id": 89,
                          "service_code": "Vcoin",
                          "value": 100000
                        },
                        {
                          "id": 90,
                          "service_code": "Vcoin",
                          "value": 200000
                        },
                        {
                          "id": 91,
                          "service_code": "Vcoin",
                          "value": 300000
                        },
                        {
                          "id": 92,
                          "service_code": "Vcoin",
                          "value": 500000
                        },
                        {
                          "id": 93,
                          "service_code": "Vcoin",
                          "value": 1000000
                        },
                        {
                          "id": 94,
                          "service_code": "Vcoin",
                          "value": 2000000
                        },
                        {
                          "id": 95,
                          "service_code": "Vcoin",
                          "value": 3000000
                        },
                        {
                          "id": 96,
                          "service_code": "Vcoin",
                          "value": 5000000
                        }
                      ],
                      "description": null,
                      "image": "/storage/userfiles/images/thecao/the-vcoin.png",
                      "imgurl": "https://tenmien.com/storage/userfiles/images/thecao/the-vcoin.png",
                      "name": "Th\u1ebb Vcoin",
                      "service_code": "Vcoin",
                      "short_description": null,
                      "slug": "the-vcoin"
                    },
                    {
                      "cardvalue": [
                        {
                          "id": 97,
                          "service_code": "Gate",
                          "value": 10000
                        },
                        {
                          "id": 98,
                          "service_code": "Gate",
                          "value": 20000
                        },
                        {
                          "id": 100,
                          "service_code": "Gate",
                          "value": 50000
                        },
                        {
                          "id": 101,
                          "service_code": "Gate",
                          "value": 100000
                        },
                        {
                          "id": 102,
                          "service_code": "Gate",
                          "value": 200000
                        },
                        {
                          "id": 104,
                          "service_code": "Gate",
                          "value": 500000
                        }
                      ],
                      "description": null,
                      "image": "/storage/userfiles/images/thecao/the-gate.png",
                      "imgurl": "https://tenmien.com/storage/userfiles/images/thecao/the-gate.png",
                      "name": "Th\u1ebb Gate",
                      "service_code": "Gate",
                      "short_description": null,
                      "slug": "the-gate"
                    },
                    {
                      "cardvalue": [
                        {
                          "id": 198,
                          "service_code": "Carot",
                          "value": 50000
                        },
                        {
                          "id": 199,
                          "service_code": "Carot",
                          "value": 100000
                        },
                        {
                          "id": 200,
                          "service_code": "Carot",
                          "value": 200000
                        },
                        {
                          "id": 201,
                          "service_code": "Carot",
                          "value": 500000
                        },
                        {
                          "id": 202,
                          "service_code": "Carot",
                          "value": 1000000
                        }
                      ],
                      "description": "\n    <p>Th\u1ebb carot</p>",
                      "image": "/storage/userfiles/images/thecao/the-ca-rot.jpg",
                      "imgurl": "https://tenmien.com/storage/userfiles/images/thecao/the-ca-rot.jpg",
                      "name": "Th\u1ebb Giftcode (Carot)",
                      "service_code": "Carot",
                      "short_description": "Th\u1ebb carot",
                      "slug": "the-giftcode-carot"
                    },
                    {
                      "cardvalue": [
                        {
                          "id": 134,
                          "service_code": "Funcard",
                          "value": 10000
                        },
                        {
                          "id": 135,
                          "service_code": "Funcard",
                          "value": 20000
                        },
                        {
                          "id": 137,
                          "service_code": "Funcard",
                          "value": 50000
                        },
                        {
                          "id": 138,
                          "service_code": "Funcard",
                          "value": 100000
                        },
                        {
                          "id": 139,
                          "service_code": "Funcard",
                          "value": 200000
                        },
                        {
                          "id": 140,
                          "service_code": "Funcard",
                          "value": 500000
                        },
                        {
                          "id": 141,
                          "service_code": "Funcard",
                          "value": 1000000
                        }
                      ],
                      "description": null,
                      "image": "/storage/userfiles/images/thecao/the-funcard.jpg",
                      "imgurl": "https://tenmien.com/storage/userfiles/images/thecao/the-funcard.jpg",
                      "name": "Th\u1ebb Funcard",
                      "service_code": "Funcard",
                      "short_description": null,
                      "slug": "the-funcard"
                    },
                    {
                      "cardvalue": [
                        {
                          "id": 161,
                          "service_code": "scoin",
                          "value": 10000
                        },
                        {
                          "id": 162,
                          "service_code": "scoin",
                          "value": 20000
                        },
                        {
                          "id": 164,
                          "service_code": "scoin",
                          "value": 50000
                        },
                        {
                          "id": 165,
                          "service_code": "scoin",
                          "value": 100000
                        },
                        {
                          "id": 166,
                          "service_code": "scoin",
                          "value": 200000
                        },
                        {
                          "id": 168,
                          "service_code": "scoin",
                          "value": 500000
                        },
                        {
                          "id": 169,
                          "service_code": "scoin",
                          "value": 1000000
                        },
                        {
                          "id": 170,
                          "service_code": "scoin",
                          "value": 2000000
                        },
                        {
                          "id": 171,
                          "service_code": "scoin",
                          "value": 5000000
                        }
                      ],
                      "description": null,
                      "image": "/storage/userfiles/images/scoin-de0433047b.png",
                      "imgurl": "https://tenmien.com/storage/userfiles/images/scoin-de0433047b.png",
                      "name": "Th\u1ebb Scoin",
                      "service_code": "scoin",
                      "short_description": null,
                      "slug": "the-scoin"
                    },
                    {
                      "cardvalue": [
                        {
                          "id": 172,
                          "service_code": "Gosu",
                          "value": 10000
                        },
                        {
                          "id": 173,
                          "service_code": "Gosu",
                          "value": 20000
                        },
                        {
                          "id": 174,
                          "service_code": "Gosu",
                          "value": 50000
                        },
                        {
                          "id": 175,
                          "service_code": "Gosu",
                          "value": 100000
                        },
                        {
                          "id": 176,
                          "service_code": "Gosu",
                          "value": 200000
                        },
                        {
                          "id": 177,
                          "service_code": "Gosu",
                          "value": 500000
                        },
                        {
                          "id": 178,
                          "service_code": "Gosu",
                          "value": 1000000
                        }
                      ],
                      "description": null,
                      "image": "/storage/userfiles/images/gosu-fe41ca82e5.png",
                      "imgurl": "https://tenmien.com/storage/userfiles/images/gosu-fe41ca82e5.png",
                      "name": "Th\u1ebb Gosu",
                      "service_code": "Gosu",
                      "short_description": null,
                      "slug": "the-gosu"
                    },
                    {
                      "cardvalue": [
                        {
                          "id": 188,
                          "service_code": "Soha",
                          "value": 10000
                        },
                        {
                          "id": 189,
                          "service_code": "Soha",
                          "value": 20000
                        },
                        {
                          "id": 190,
                          "service_code": "Soha",
                          "value": 50000
                        },
                        {
                          "id": 191,
                          "service_code": "Soha",
                          "value": 100000
                        },
                        {
                          "id": 192,
                          "service_code": "Soha",
                          "value": 200000
                        },
                        {
                          "id": 193,
                          "service_code": "Soha",
                          "value": 500000
                        },
                        {
                          "id": 194,
                          "service_code": "Soha",
                          "value": 1000000
                        },
                        {
                          "id": 195,
                          "service_code": "Soha",
                          "value": 2000000
                        },
                        {
                          "id": 196,
                          "service_code": "Soha",
                          "value": 5000000
                        }
                      ],
                      "description": null,
                      "image": "/storage/userfiles/images/soha(1).jpg",
                      "imgurl": "https://tenmien.com/storage/userfiles/images/soha(1).jpg",
                      "name": "Th\u1ebb SohaCoin",
                      "service_code": "Soha",
                      "short_description": null,
                      "slug": "the-sohacoin"
                    }
                  ]
                },
                "examples": {
                  "Get Products": {
                    "value": [
                      {
                        "cardvalue": [
                          {
                            "id": 32,
                            "service_code": "Viettel",
                            "value": 10000
                          },
                          {
                            "id": 33,
                            "service_code": "Viettel",
                            "value": 20000
                          },
                          {
                            "id": 34,
                            "service_code": "Viettel",
                            "value": 30000
                          },
                          {
                            "id": 35,
                            "service_code": "Viettel",
                            "value": 50000
                          },
                          {
                            "id": 36,
                            "service_code": "Viettel",
                            "value": 100000
                          },
                          {
                            "id": 37,
                            "service_code": "Viettel",
                            "value": 200000
                          },
                          {
                            "id": 38,
                            "service_code": "Viettel",
                            "value": 300000
                          },
                          {
                            "id": 39,
                            "service_code": "Viettel",
                            "value": 500000
                          },
                          {
                            "id": 40,
                            "service_code": "Viettel",
                            "value": 1000000
                          }
                        ],
                        "description": "\n<p>H\u01b0\u1edbng d\u1eabn c\u00e1ch n\u1ea1p th\u1ebb Viettel tr\u1ea3 tr\u01b0\u1edbc b\u1eb1ng th\u1ebb c\u00e0o\n    <br />\r\nB\u01b0\u1edbc 1: B\u1ea1n c\u00f3 th\u1ec3 t\u1edbi c\u00e1c c\u1eeda h\u00e0ng \u0111\u1ea1i l\u00ed c\u00f3 cung c\u1ea5p th\u1ebb c\u00e0o viettel, sau \u0111\u00f3 mua th\u1ebb \u0111i\u1ec7n tho\u1ea1i gi\u1ea5y g\u1ed3m c\u00f3 s\u1ed1 seri, m\u00e3 th\u1ebb, v\u00e0 l\u1edbp tr\u00e1ng b\u1ea1c. Ho\u1eb7c n\u1ebfu mu\u1ed1n nhanh ch\u00f3ng h\u01a1n b\u1ea1n c\u0169ng c\u00f3 th\u1ec3 n\u1ea1p th\u1ebb viettel tr\u1ea3 tr\u01b0\u1edbc t\u1ea1i c\u00e1c website cung c\u1ea5p d\u1ecbch v\u1ee5 ho\u1eb7c mua th\u1ebb b\u1eb1ng tin nh\u1eafn SMS.\n    <br />\r\nB\u01b0\u1edbc 2: C\u1ea1o l\u1edbp b\u1ea1c \u0111\u1ec3 l\u1ea5y d\u00e3y s\u1ed1 sau \u0111\u00f3 nh\u1ea5n m\u00e3: *100*M\u00e3 s\u1ed1 th\u1ebb c\u00e0o# v\u00e0 b\u1ea5m ph\u00edm G\u1ecdi\n    <br />\r\nNh\u00e0 m\u1ea1ng viettel c\u00f2n cung c\u1ea5p d\u1ecbch v\u1ee5 n\u1ea1p ti\u1ec1n cho thu\u00ea bao tr\u1ea3 tr\u01b0\u1edbc kh\u00e1c b\u1eb1ng th\u1ebb c\u00e0o gi\u1ea5y, \u0111\u1ec3 n\u1ea1p ti\u1ec1n viettel b\u1ea1n c\u1ea7n nh\u1ea5n *103*S\u1ed1 \u0111i\u1ec7n tho\u1ea1i nh\u1eadn*M\u00e3 s\u1ed1 th\u1ebb c\u00e0o# &nbsp;v\u00e0 b\u1ea5m ph\u00edm G\u1ecdi, ph\u00ed n\u1ea1p cho thu\u00ea bao kh\u00e1c l\u00e0 1000\u0111/ l\u1ea7n &nbsp;s\u1ebd b\u1ecb tr\u1eeb v\u00e0o t\u00e0i kho\u1ea3n g\u1ed1c c\u1ee7a thu\u00ea bap n\u1ea1p h\u1ed9.</p>",
                        "image": "/storage/userfiles/images/thecao/the-viettel.png",
                        "imgurl": "https://tenmien.com/storage/userfiles/images/thecao/the-viettel.png",
                        "name": "Th\u1ebb Viettel",
                        "service_code": "Viettel",
                        "short_description": "the viettel",
                        "slug": "the-viettel"
                      },
                      {
                        "cardvalue": [
                          {
                            "id": 19,
                            "service_code": "Vina",
                            "value": 10000
                          },
                          {
                            "id": 20,
                            "service_code": "Vina",
                            "value": 20000
                          },
                          {
                            "id": 26,
                            "service_code": "Vina",
                            "value": 30000
                          },
                          {
                            "id": 27,
                            "service_code": "Vina",
                            "value": 50000
                          },
                          {
                            "id": 28,
                            "service_code": "Vina",
                            "value": 100000
                          },
                          {
                            "id": 29,
                            "service_code": "Vina",
                            "value": 200000
                          },
                          {
                            "id": 30,
                            "service_code": "Vina",
                            "value": 300000
                          },
                          {
                            "id": 31,
                            "service_code": "Vina",
                            "value": 500000
                          }
                        ],
                        "description": null,
                        "image": "/storage/userfiles/images/thecao/the-vinaphone.jpeg",
                        "imgurl": "https://tenmien.com/storage/userfiles/images/thecao/the-vinaphone.jpeg",
                        "name": "Th\u1ebb Vinaphone",
                        "service_code": "Vina",
                        "short_description": null,
                        "slug": "the-vinaphone"
                      },
                      {
                        "cardvalue": [
                          {
                            "id": 41,
                            "service_code": "Mobi",
                            "value": 10000
                          },
                          {
                            "id": 42,
                            "service_code": "Mobi",
                            "value": 20000
                          },
                          {
                            "id": 43,
                            "service_code": "Mobi",
                            "value": 30000
                          },
                          {
                            "id": 44,
                            "service_code": "Mobi",
                            "value": 50000
                          },
                          {
                            "id": 45,
                            "service_code": "Mobi",
                            "value": 100000
                          },
                          {
                            "id": 46,
                            "service_code": "Mobi",
                            "value": 200000
                          },
                          {
                            "id": 47,
                            "service_code": "Mobi",
                            "value": 300000
                          },
                          {
                            "id": 48,
                            "service_code": "Mobi",
                            "value": 500000
                          }
                        ],
                        "description": null,
                        "image": "/storage/userfiles/images/thecao/the-mobifone.jpeg",
                        "imgurl": "https://tenmien.com/storage/userfiles/images/thecao/the-mobifone.jpeg",
                        "name": "Th\u1ebb Mobifone",
                        "service_code": "Mobi",
                        "short_description": null,
                        "slug": "the-mobifone"
                      },
                      {
                        "cardvalue": [
                          {
                            "id": 49,
                            "service_code": "Vnmobile",
                            "value": 10000
                          },
                          {
                            "id": 50,
                            "service_code": "Vnmobile",
                            "value": 20000
                          },
                          {
                            "id": 52,
                            "service_code": "Vnmobile",
                            "value": 50000
                          },
                          {
                            "id": 53,
                            "service_code": "Vnmobile",
                            "value": 100000
                          },
                          {
                            "id": 54,
                            "service_code": "Vnmobile",
                            "value": 200000
                          },
                          {
                            "id": 55,
                            "service_code": "Vnmobile",
                            "value": 300000
                          },
                          {
                            "id": 56,
                            "service_code": "Vnmobile",
                            "value": 500000
                          }
                        ],
                        "description": null,
                        "image": "/storage/userfiles/images/thecao/the-vietnamobile.jpeg",
                        "imgurl": "https://tenmien.com/storage/userfiles/images/thecao/the-vietnamobile.jpeg",
                        "name": "Th\u1ebb Vietnamobile",
                        "service_code": "Vnmobile",
                        "short_description": null,
                        "slug": "the-vietnamobile"
                      },
                      {
                        "cardvalue": [
                          {
                            "id": 66,
                            "service_code": "Garena",
                            "value": 20000
                          },
                          {
                            "id": 68,
                            "service_code": "Garena",
                            "value": 50000
                          },
                          {
                            "id": 69,
                            "service_code": "Garena",
                            "value": 100000
                          },
                          {
                            "id": 70,
                            "service_code": "Garena",
                            "value": 200000
                          },
                          {
                            "id": 72,
                            "service_code": "Garena",
                            "value": 500000
                          }
                        ],
                        "description": null,
                        "image": "/storage/userfiles/images/thecao/the-garena.png",
                        "imgurl": "https://tenmien.com/storage/userfiles/images/thecao/the-garena.png",
                        "name": "Th\u1ebb Garena",
                        "service_code": "Garena",
                        "short_description": null,
                        "slug": "the-garena"
                      },
                      {
                        "cardvalue": [
                          {
                            "id": 76,
                            "service_code": "Appota",
                            "value": 50000
                          },
                          {
                            "id": 77,
                            "service_code": "Appota",
                            "value": 100000
                          },
                          {
                            "id": 78,
                            "service_code": "Appota",
                            "value": 200000
                          },
                          {
                            "id": 79,
                            "service_code": "Appota",
                            "value": 300000
                          },
                          {
                            "id": 80,
                            "service_code": "Appota",
                            "value": 500000
                          },
                          {
                            "id": 81,
                            "service_code": "Appota",
                            "value": 1000000
                          },
                          {
                            "id": 82,
                            "service_code": "Appota",
                            "value": 2000000
                          },
                          {
                            "id": 83,
                            "service_code": "Appota",
                            "value": 3000000
                          },
                          {
                            "id": 84,
                            "service_code": "Appota",
                            "value": 5000000
                          }
                        ],
                        "description": null,
                        "image": "/storage/userfiles/images/thecao/the-appota.png",
                        "imgurl": "https://tenmien.com/storage/userfiles/images/thecao/the-appota.png",
                        "name": "Th\u1ebb Appota",
                        "service_code": "Appota",
                        "short_description": null,
                        "slug": "the-appota"
                      },
                      {
                        "cardvalue": [
                          {
                            "id": 125,
                            "service_code": "Zing",
                            "value": 10000
                          },
                          {
                            "id": 126,
                            "service_code": "Zing",
                            "value": 20000
                          },
                          {
                            "id": 128,
                            "service_code": "Zing",
                            "value": 50000
                          },
                          {
                            "id": 129,
                            "service_code": "Zing",
                            "value": 100000
                          },
                          {
                            "id": 130,
                            "service_code": "Zing",
                            "value": 200000
                          },
                          {
                            "id": 132,
                            "service_code": "Zing",
                            "value": 500000
                          },
                          {
                            "id": 133,
                            "service_code": "Zing",
                            "value": 1000000
                          }
                        ],
                        "description": null,
                        "image": "/storage/userfiles/images/thecao/the-zing.png",
                        "imgurl": "https://tenmien.com/storage/userfiles/images/thecao/the-zing.png",
                        "name": "Th\u1ebb Zing",
                        "service_code": "Zing",
                        "short_description": null,
                        "slug": "the-zing"
                      },
                      {
                        "cardvalue": [
                          {
                            "id": 85,
                            "service_code": "Vcoin",
                            "value": 10000
                          },
                          {
                            "id": 86,
                            "service_code": "Vcoin",
                            "value": 20000
                          },
                          {
                            "id": 87,
                            "service_code": "Vcoin",
                            "value": 30000
                          },
                          {
                            "id": 88,
                            "service_code": "Vcoin",
                            "value": 50000
                          },
                          {
                            "id": 89,
                            "service_code": "Vcoin",
                            "value": 100000
                          },
                          {
                            "id": 90,
                            "service_code": "Vcoin",
                            "value": 200000
                          },
                          {
                            "id": 91,
                            "service_code": "Vcoin",
                            "value": 300000
                          },
                          {
                            "id": 92,
                            "service_code": "Vcoin",
                            "value": 500000
                          },
                          {
                            "id": 93,
                            "service_code": "Vcoin",
                            "value": 1000000
                          },
                          {
                            "id": 94,
                            "service_code": "Vcoin",
                            "value": 2000000
                          },
                          {
                            "id": 95,
                            "service_code": "Vcoin",
                            "value": 3000000
                          },
                          {
                            "id": 96,
                            "service_code": "Vcoin",
                            "value": 5000000
                          }
                        ],
                        "description": null,
                        "image": "/storage/userfiles/images/thecao/the-vcoin.png",
                        "imgurl": "https://tenmien.com/storage/userfiles/images/thecao/the-vcoin.png",
                        "name": "Th\u1ebb Vcoin",
                        "service_code": "Vcoin",
                        "short_description": null,
                        "slug": "the-vcoin"
                      },
                      {
                        "cardvalue": [
                          {
                            "id": 97,
                            "service_code": "Gate",
                            "value": 10000
                          },
                          {
                            "id": 98,
                            "service_code": "Gate",
                            "value": 20000
                          },
                          {
                            "id": 100,
                            "service_code": "Gate",
                            "value": 50000
                          },
                          {
                            "id": 101,
                            "service_code": "Gate",
                            "value": 100000
                          },
                          {
                            "id": 102,
                            "service_code": "Gate",
                            "value": 200000
                          },
                          {
                            "id": 104,
                            "service_code": "Gate",
                            "value": 500000
                          }
                        ],
                        "description": null,
                        "image": "/storage/userfiles/images/thecao/the-gate.png",
                        "imgurl": "https://tenmien.com/storage/userfiles/images/thecao/the-gate.png",
                        "name": "Th\u1ebb Gate",
                        "service_code": "Gate",
                        "short_description": null,
                        "slug": "the-gate"
                      },
                      {
                        "cardvalue": [
                          {
                            "id": 198,
                            "service_code": "Carot",
[...]
