{
  "host": "ucf.lamay.systems",
  "basePath": "/contact-manager/api",
  "schemes": [
    "https",
    "http"
  ],
  "swagger": "2.0",
  "info": {
    "description": "This is the API documentation for Team 18's COP 4331 Contact Manager Small Project",
    "version": "1.0.0",
    "title": "COP4331 - Team18 Contact Manager",
    "email": "Aashish.Yadavally@ucf.edu",
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "contact": {
      "name": "Developer",
      "email": "st736640@ucf.edu"
    },
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/team18-2eb/team18_contacts/1.0.0"
  },
  "tags": [
    {
      "name": "contacts",
      "description": "CRUD Operations for managing user contacts"
    }
  ],
  "paths": {
    "/contacts/search.php": {
      "post": {
        "tags": [
          "contacts"
        ],
        "summary": "Gets user contacts based on criteria",
        "operationId": "doSearch",
        "description": "Searches for user contacts with server-side pagination",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "examples": {
              "Response Example": {
                "query": "ok",
                "contacts": [
                  {
                    "id": 501,
                    "first_name": "John",
                    "last_name": "Doe",
                    "email": "johndoe@example.com",
                    "personal_phone": "1234567890",
                    "work_phone": "1234567890"
                  }
                ],
                "total_contact_count": 999
              }
            },
            "schema": {
              "type": "object",
              "properties": {
                "query": {
                  "type": "string",
                  "x-stoplight": {
                    "id": "8rku6iq0iiw2v"
                  },
                  "example": "ok"
                },
                "contacts": {
                  "type": "array",
                  "x-stoplight": {
                    "id": "k4yx8uoy7w3ax"
                  },
                  "items": {
                    "x-stoplight": {
                      "id": "6onwzr1jalnpl"
                    },
                    "type": "object",
                    "minProperties": 6,
                    "maxProperties": 6,
                    "properties": {
                      "id": {
                        "type": "integer",
                        "x-stoplight": {
                          "id": "i5ppfqmqy0dde"
                        },
                        "example": 500
                      },
                      "first_name": {
                        "type": "string",
                        "x-stoplight": {
                          "id": "xkjvkmnf9jdxe"
                        }
                      },
                      "last_name": {
                        "type": "string",
                        "x-stoplight": {
                          "id": "okso3xg8ouhwm"
                        }
                      },
                      "email": {
                        "type": "string",
                        "x-stoplight": {
                          "id": "1cgurlcweue3s"
                        }
                      },
                      "personal_phone": {
                        "type": "string",
                        "x-stoplight": {
                          "id": "dbb1brtias5s4"
                        }
                      },
                      "work_phone": {
                        "type": "string",
                        "x-stoplight": {
                          "id": "ecrdquphnv8y7"
                        }
                      }
                    }
                  }
                },
                "total_contact_count": {
                  "type": "integer",
                  "x-stoplight": {
                    "id": "uzpmoc9z243il"
                  },
                  "example": "999",
                  "default": 0
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "401": {
            "description": "Invalid token",
            "headers": {},
            "schema": {
              "type": "object",
              "minProperties": 1,
              "properties": {
                "error": {
                  "type": "string",
                  "x-stoplight": {
                    "id": "gc0ye1m6aitkc"
                  },
                  "example": "Invalid token provided"
                }
              }
            }
          },
          "404": {
            "description": "URL Not Found"
          },
          "500": {
            "description": "Database or Server Error"
          }
        },
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "type": "object",
              "required": [
                "search_query",
                "pagination"
              ],
              "properties": {
                "search_query": {
                  "type": "string",
                  "x-stoplight": {
                    "id": "616beafuichm8"
                  }
                },
                "pagination": {
                  "type": "integer",
                  "x-stoplight": {
                    "id": "fla0yb017s7kx"
                  }
                }
              }
            },
            "x-examples": {
              "Example 1": {
                "search_query": "John Doe",
                "pagination": 1
              }
            },
            "description": ""
          }
        ],
        "security": [
          {},
          {
            "apiKey_1": []
          }
        ]
      }
    }
  },
  "securityDefinitions": {
    "apiKey_1": {
      "name": "Cookie",
      "type": "apiKey",
      "in": "header"
    }
  },
  "produces": [],
  "consumes": []
}