{
  "openapi": "3.0.2",
  "info": {
    "title": "Shotl MAAS",
    "description": "<p>Shotl MaaS API permits integrating demand-responsive transport services provided by Shotl with a third party platform offering multi-modal mobility, as a MaaS operator or a journey planner.</p> <p>Mirroring the functions of the Shotl App for passengers available in iOS and Android markets, it permits to estimate times and book rides within any of the areas where Shotl is currently offering transportation.",
    "termsOfService": "https://shotl.com/terms-and-conditions</p>",
    "contact": {
      "name": "IT Team",
      "email": "it-support@shotl.com"
    },
    "license": {
      "name": "Propietary software",
      "url": ""
    },
    "version": "1.0.0",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/Shotl-transportation/maas/1.0.0"
  },
  "servers": [
    {
      "url": "https://maas.shotl.com/v1",
      "description": "Live"
    },
    {
      "url": "https://sandbox.maas.shotl.com/v1",
      "description": "Sandbox"
    }
  ],
  "tags": [
    {
      "name": "Health",
      "description": "Health"
    },
    {
      "name": "Authentication",
      "description": "Authentication"
    },
    {
      "name": "User",
      "description": "All related to users"
    },
    {
      "name": "Ride",
      "description": "All related to rides"
    },
    {
      "name": "System",
      "description": "Endpoints machine to machine"
    }
  ],
  "paths": {
    "/health": {
      "get": {
        "summary": "Endpoint health check",
        "operationId": "healthCheck",
        "tags": [
          "Health"
        ],
        "responses": {
          "200": {
            "description": "health status",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "middleware": {
                      "type": "object",
                      "properties": {
                        "pid": {
                          "type": "integer",
                          "format": "int32"
                        },
                        "service": {
                          "type": "string"
                        },
                        "status": {
                          "type": "string"
                        },
                        "up_time": {
                          "type": "integer",
                          "format": "int32"
                        }
                      }
                    },
                    "rides": {
                      "type": "object",
                      "properties": {
                        "amqp": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "cache": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "persistence": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "pid": {
                          "type": "integer",
                          "format": "int32"
                        },
                        "service": {
                          "type": "string"
                        },
                        "services": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "up_time": {
                          "type": "integer",
                          "format": "int32"
                        }
                      }
                    },
                    "users": {
                      "type": "object",
                      "properties": {
                        "amqp": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "cache": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "db": {
                                "type": "string"
                              },
                              "message": {
                                "type": "string"
                              },
                              "status": {
                                "type": "string"
                              }
                            }
                          }
                        },
                        "persistence": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "db": {
                                "type": "string"
                              },
                              "message": {
                                "type": "string"
                              },
                              "status": {
                                "type": "string"
                              }
                            }
                          }
                        },
                        "pid": {
                          "type": "integer",
                          "format": "int32"
                        },
                        "service": {
                          "type": "string"
                        },
                        "services": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "up_time": {
                          "type": "integer",
                          "format": "int32"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/token": {
      "post": {
        "security": [
          {
            "basic": []
          }
        ],
        "tags": [
          "Authentication"
        ],
        "operationId": "generateToken",
        "summary": "Generate a new access token",
        "description": "All endpoints are authorized by the standard jwt. It follows the recommendations from RFC 7519: https://tools.ietf.org/html/rfc7519",
        "responses": {
          "200": {
            "description": "Access token generated succesfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "access_token",
                    "expires_in"
                  ],
                  "properties": {
                    "access_token": {
                      "description": "access token",
                      "type": "string",
                      "example": "eyJhbGciOiJIUzI1NiIsImtpZCI6InNcdTIifQ.eyJhdWQiOiJodHRwOi8vYXBpLmV4YW1wbGUuY29tIiwiZXhwIjoxNzM1Njg5NjAwLCJpf1MiOiJodHRwczovL2tyYWtlbmQuaW8iLCJqdGkiOiJtbmIyM3Zjf1J0NzU2eXVcd21uYnZjeDk4ZXJ0eXVcd3AiLCJyb2xlcyI6WyJyb2xlX2EiLCJyb2xlX2IiXSwif1ViIjoiMTIzNDU2Nzg5MHF3ZXJ0eXVcdyJ9.htgbhantGcv6zrN1i43Rl58q1sokh3lzuFgzfenI0Rk"
                    },
                    "expires_in": {
                      "description": "expiration time left in seconds",
                      "type": "number",
                      "example": 3600
                    },
                    "token_type": {
                      "description": "Token type",
                      "type": "string",
                      "example": "Bearer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/availability": {
      "get": {
        "security": [
          {
            "JWT": []
          }
        ],
        "tags": [
          "Ride"
        ],
        "operationId": "getAvailability",
        "summary": "Service availability",
        "description": "It allows to know if there is any active service for the given location",
        "parameters": [
          {
            "in": "query",
            "name": "latitude",
            "required": true,
            "schema": {
              "description": "Latitude",
              "type": "number",
              "format": "double",
              "example": 42.11
            }
          },
          {
            "in": "query",
            "name": "longitude",
            "required": true,
            "schema": {
              "description": "Longitude",
              "type": "number",
              "format": "double",
              "example": 2.1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Register success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "description": "'true' if the service is available, 'false' otherwise."
                }
              }
            }
          }
        }
      }
    },
    "/users/{id}": {
      "get": {
        "security": [
          {
            "JWT": []
          }
        ],
        "tags": [
          "User"
        ],
        "operationId": "getUser",
        "summary": "User detail.",
        "description": "Get the details of a user",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "description": "User id",
              "type": "string",
              "format": "uuid"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "User detail",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "put": {
        "security": [
          {
            "JWT": []
          }
        ],
        "tags": [
          "User"
        ],
        "operationId": "putUser",
        "summary": "Create or update a user.",
        "description": "This user will be related with interactions like rides. This is required to use other endpoints that are related to passengers.",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "description": "User id",
              "type": "string",
              "format": "uuid"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "full_name",
                  "country_code"
                ],
                "properties": {
                  "full_name": {
                    "type": "string",
                    "example": "John Doe"
                  },
                  "birth_date": {
                    "type": "string",
                    "example": "1980-01-12"
                  },
                  "email": {
                    "type": "string",
                    "format": "email"
                  },
                  "phone": {
                    "type": "string",
                    "example": "+34 654 332 112"
                  },
                  "country_code": {
                    "type": "string",
                    "example": "es",
                    "description": "the country code related to the phone. It's required in case you fill the phone field (Alpha\u20112 code format)"
                  },
                  "full_address": {
                    "type": "string",
                    "example": "st 123, 4-2, Mount Paozu"
                  },
                  "cant_walk": {
                    "type": "boolean",
                    "example": true
                  },
                  "type_of_assistance": {
                    "type": "string",
                    "example": "Need personal assistance from the driver."
                  },
                  "wheelchair": {
                    "type": "boolean",
                    "example": true
                  },
                  "wheelchair_type": {
                    "type": "string",
                    "enum": [
                      "WALKING_FRAME",
                      "ROLLATOR",
                      "MANUAL_WHEELCHAIR",
                      "FOLDING_WHEELCHAIR",
                      "ELETRIC_WHEELCHAIR",
                      "SCOOTER"
                    ]
                  },
                  "privacy_policy_accepted": {
                    "type": "boolean",
                    "example": true
                  },
                  "terms_conditions_accepted": {
                    "type": "boolean",
                    "example": true
                  },
                  "area_id": {
                    "type": "string",
                    "example": "569d3313-2238-42c3-bb8d-d72bfd8b975e"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "User created"
          },
          "200": {
            "description": "User updated"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/rides": {
      "post": {
        "security": [
          {
            "JWT": []
          }
        ],
        "tags": [
          "Ride"
        ],
        "operationId": "createRide",
        "summary": "Creates a new pending ride (draft).",
        "description": "When you want to schedule a new ride, you need to create a draft in order to accept the conditions of pickup and drop-off. It's not definitive, but it guarantees the specified availability. Petitions for more than 15 days are not alowed.",
        "requestBody": {
          "description": "Ride request",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "type",
                  "user_id",
                  "desired_pickup_location",
                  "desired_dropoff_location",
                  "passengers"
                ],
                "properties": {
                  "user_id": {
                    "description": "Related user id",
                    "type": "string",
                    "format": "uuid"
                  },
                  "type": {
                    "type": "string",
                    "enum": [
                      "RIDE_NOW",
                      "SCHEDULE_RIDE"
                    ]
                  },
                  "passenger_fare_type": {
                    "description": "Fare types and number of passenger that are involved in. The sum has to match the number of passengers. Otherwise the request will be rejected.",
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/Fare"
                    }
                  },
                  "desired_pickup_location": {
                    "description": "Location where the user wants to be picked up",
                    "allOf": [
                      {
                        "$ref": "#/components/schemas/GeoLocation"
                      }
                    ]
                  },
                  "desired_dropoff_location": {
                    "description": "Location where the user wants to be taken",
                    "allOf": [
                      {
                        "$ref": "#/components/schemas/GeoLocation"
                      }
                    ]
                  },
                  "passengers": {
                    "description": "Information about passengers count. It could be regular or wheelchair.",
                    "type": "object",
                    "properties": {
                      "regular": {
                        "type": "number"
                      },
                      "wheelchair": {
                        "type": "number"
                      }
                    }
                  },
                  "desired_pickup_time": {
                    "description": "Time when the user wants to be picked up. Only if type is schedule_ride, otherwise will be ignored. Must be within the next 15 natural days considering the day when the petition is made (petition_time) as day 1.",
                    "type": "number",
                    "format": "long",
                    "example": 1584356105
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ride created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ride"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "get": {
        "security": [
          {
            "JWT": []
          }
        ],
        "tags": [
          "Ride"
        ],
        "operationId": "getRides",
        "summary": "All related rides with a user",
        "description": "All rides of a user. Can be filtered by ride status.",
        "parameters": [
          {
            "in": "query",
            "name": "user_id",
            "description": "Related user id",
            "schema": {
              "$ref": "#/components/schemas/PassengerId"
            },
            "required": false
          },
          {
            "name": "area_id",
            "in": "query",
            "required": false,
            "description": "Area id",
            "schema": {
              "$ref": "#/components/schemas/AreaId"
            }
          },
          {
            "in": "query",
            "name": "status",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/RideStatus"
              }
            }
          },
          {
            "in": "query",
            "name": "offset",
            "required": false,
            "schema": {
              "type": "number",
              "format": "integer",
              "example": 0
            }
          },
          {
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "type": "number",
              "format": "integer",
              "example": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of rides",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RideReport"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/rides/{id}": {
      "get": {
        "security": [
          {
            "JWT": []
          }
        ],
        "tags": [
          "Ride"
        ],
        "operationId": "getRide",
        "summary": "Detail of a ride",
        "description": "The detail of a ride. Please note that a unconfirmed ride (draft) may be removed from our system if it hasn't been confirmed after a time (time specified by configuration)",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ride's detail",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RideReport"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "put": {
        "deprecated": true,
        "security": [
          {
            "JWT": []
          }
        ],
        "tags": [
          "Ride"
        ],
        "operationId": "putRide",
        "summary": "Create or update a ride for a specific area",
        "description": "The creation of rides through this endpoint is limited to final status. Otherwise, you can use the /rides endpoint.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Ride id",
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "264a6fb5-a7e1-4169-a80e-7531ed12bcb1"
            }
          }
        ],
        "requestBody": {
          "description": "Ride request",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "user_id",
                  "status",
                  "area_id",
                  "vehicle_id",
                  "pickup_stop_id",
                  "dropoff_stop_id",
                  "petition_etime",
                  "user_expected_pickup_time",
                  "user_expected_dropoff_time",
                  "passengers"
                ],
                "properties": {
                  "type": {
                    "type": "string",
                    "enum": [
                      "RIDE_NOW",
                      "SCHEDULE_RIDE"
                    ]
                  },
                  "status": {
                    "$ref": "#/components/schemas/RideFinishedStatus"
                  },
                  "user_id": {
                    "type": "string",
                    "description": "Related passenger user id",
                    "example": "264a6fb5-a7e1-4169-a80e-7531ed12bcb1"
                  },
                  "area_id": {
                    "type": "string",
                    "description": "Related area id",
                    "example": "264a6fb5-a7e1-4169-a80e-7531ed12bcb1"
                  },
                  "vehicle_id": {
                    "type": "string",
                    "description": "Related passenger user id",
                    "example": "264a6fb5-a7e1-4169-a80e-7531ed12bcb1"
                  },
                  "pickup_stop_id": {
                    "description": "Scheduled location where was picked up the passenger",
                    "type": "string",
                    "example": "264a6fb5-a7e1-4169-a80e-7531ed12bcb1"
                  },
                  "dropoff_stop_id": {
                    "description": "Stop where was taken the passenger",
                    "type": "string",
                    "example": "264a6fb5-a7e1-4169-a80e-7531ed12bcb1"
                  },
                  "petition_time": {
                    "type": "number",
                    "description": "When the user did the petition",
                    "example": 1584368422
                  },
                  "user_expected_pickup_time": {
                    "type": "number",
                    "description": "When the user expected to pick up. Unix timestamp",
                    "example": 1584368422
                  },
                  "user_expected_dropoff_time": {
                    "type": "number",
                    "description": "When the user expected to dropoff. Unix timestamp",
                    "example": 1584368422
                  },
                  "effective_pickup_time": {
                    "type": "number",
                    "description": "When the user was picked up. Unix timestamp. If it's empty and the status is FINISHED, it will take the value from the user_expected_pickup_time",
                    "example": 1584368422
                  },
                  "effective_dropoff_time": {
                    "type": "number",
                    "description": "When the user was taken to its destiny. Unix timestamp. If it's empty and the status is FINISHED, it will take the value from the user_expected_dropoff_time",
                    "example": 1584368422
                  },
                  "confirmation_time": {
                    "type": "number",
                    "description": "When the user confirmated the ride",
                    "example": 1584368422
                  },
                  "cancellation_time": {
                    "type": "number",
                    "description": "When the user cancelled the ride, if did",
                    "example": 1584368422
                  },
                  "noshow_time": {
                    "type": "number",
                    "description": "When the user cancelled the ride, if did",
                    "example": 1584368422
                  },
                  "passengers": {
                    "description": "Information about passengers count. It could be regular or wheelchair.",
                    "type": "object",
                    "properties": {
                      "regular": {
                        "type": "number",
                        "example": 1
                      },
                      "wheelchair": {
                        "type": "number",
                        "example": 0
                      }
                    }
                  },
                  "payment": {
                    "type": "object",
                    "description": "Payment status",
                    "properties": {
                      "paid": {
                        "type": "boolean",
                        "example": true
                      },
                      "driver_message": {
                        "type": "string",
                        "example": "2A 1C"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Ride created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RideReport"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/rides/{id}/confirm": {
      "post": {
        "security": [
          {
            "JWT": []
          }
        ],
        "tags": [
          "Ride"
        ],
        "operationId": "confirmRide",
        "summary": "Confirms a ride.",
        "description": "From the moment a trip is confirmed, it will be available to be included in a route.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Ride confirmed"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/Failed"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/rides/{id}/payment": {
      "put": {
        "security": [
          {
            "JWT": []
          }
        ],
        "tags": [
          "Ride"
        ],
        "operationId": "payRide",
        "summary": "Updates the payment related with the ride.",
        "description": "You can mark a ride as paid and set a message to be sent to the driver.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Pay request",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "paid"
                ],
                "properties": {
                  "paid": {
                    "type": "boolean",
                    "example": false
                  },
                  "driver_message": {
                    "type": "string",
                    "description": "Message to be shown to the driver to indicate extra information related to payment. Maximum length is 8 characters.",
                    "example": "2A 1C"
                  },
                  "price": {
                    "type": "object",
                    "required": [
                      "amount",
                      "currency"
                    ],
                    "properties": {
                      "amount": {
                        "description": "Amount in the minor unit of the currency you are charging in",
                        "type": "number",
                        "example": 200
                      },
                      "currency": {
                        "example": "EUR"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Payment set successfully"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/rides/{id}/cancel": {
      "post": {
        "security": [
          {
            "JWT": []
          }
        ],
        "tags": [
          "Ride"
        ],
        "operationId": "cancelRide",
        "summary": "Cancels a ride",
        "description": "A ride can be cancelled at any moment if the status is scheduled, driver_launched or user_launched. Otherwise, it won't be possible.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Ride cancelled successfully"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/Failed"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/rides/{id}/vehicle": {
      "get": {
        "security": [
          {
            "JWT": []
          }
        ],
        "tags": [
          "Ride"
        ],
        "operationId": "getRideVehicle",
        "summary": "Detail of the vehicle assigned to a ride",
        "description": "Shotl algoritms may change the assigned vehicle at any moment if they considers it more efficient. It's recommended to check it periodically. On the other hand, it can be null if there is no vehicle assigned",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Vehicle's detail",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VehicleDetail"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/rides/{id}/vehicle-location": {
      "get": {
        "security": [
          {
            "JWT": []
          }
        ],
        "tags": [
          "Ride"
        ],
        "operationId": "getRideVehicleLocation",
        "summary": "Last location reported from the vehicle",
        "description": "Location is reported if there is a vehicle assigned to the given ride. It there is no vehicle the response will be null.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Last location",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeoLocation"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/rides/{id}/predicted-times": {
      "get": {
        "security": [
          {
            "JWT": []
          }
        ],
        "tags": [
          "Ride"
        ],
        "operationId": "getRidePredictedTimes",
        "summary": "Pickup and dropoff predicted times",
        "description": "Predicted times may differ from desired and scheduled times depending on traffic conditions or any other reason. It is recommended to let the user know this information for a better experience.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Predicted times",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "predicted_pickup_time",
                    "predicted_dropoff_time"
                  ],
                  "properties": {
                    "predicted_pickup_time": {
                      "type": "number",
                      "example": 1584368422
                    },
                    "predicted_dropoff_time": {
                      "type": "number",
                      "example": 1584368422
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/rides/{id}/status": {
      "get": {
        "security": [
          {
            "JWT": []
          }
        ],
        "tags": [
          "Ride"
        ],
        "operationId": "getRideStatus",
        "summary": "Ride status",
        "description": "Status of a ride",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RideStatus"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/rides/{id}/route": {
      "get": {
        "security": [
          {
            "JWT": []
          }
        ],
        "tags": [
          "Ride"
        ],
        "operationId": "getRideRoute",
        "summary": "Route related with a ride",
        "description": "This is the route since the user is picked up until it has reached its destiny. It includes all stops during the journey.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Status",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "time": {
                        "type": "number",
                        "format": "long",
                        "example": 1584448892
                      },
                      "stop": {
                        "$ref": "#/components/schemas/Place"
                      },
                      "pickup_count": {
                        "type": "number",
                        "format": "integer",
                        "example": 3
                      },
                      "dropoff_count": {
                        "type": "number",
                        "format": "integer",
                        "example": 1
                      },
                      "pickup_here": {
                        "type": "boolean",
                        "example": true
                      },
                      "dropoff_here": {
                        "type": "boolean",
                        "example": false
                      },
                      "special_event": {
                        "type": "string",
                        "example": "driver change"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/stops": {
      "get": {
        "security": [
          {
            "JWT": []
          }
        ],
        "tags": [
          "Stops"
        ],
        "operationId": "getStops",
        "summary": "List of stops (GeoJson format)",
        "description": "Available stops for the specific area",
        "parameters": [
          {
            "name": "area_id",
            "in": "query",
            "required": true,
            "description": "Area id",
            "schema": {
              "$ref": "#/components/schemas/AreaId"
            }
          },
          {
            "name": "subarea",
            "in": "query",
            "required": false,
            "description": "Subarea id",
            "schema": {
              "$ref": "#/components/schemas/SubAreaId"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "offset of page, start of a set of results",
            "schema": {
              "type": "integer",
              "example": 0
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "number of entites in page",
            "schema": {
              "type": "integer",
              "example": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of stops",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/GeoStop"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/stops/{id}": {
      "put": {
        "security": [
          {
            "JWT": []
          }
        ],
        "tags": [
          "Stops"
        ],
        "operationId": "putStop",
        "summary": "Create or update a stop",
        "description": "You can create or update a stop following the Geojson format.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Stop id",
            "schema": {
              "$ref": "#/components/schemas/StopId"
            }
          }
        ],
        "requestBody": {
          "description": "Request body",
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/GeoStopRequest"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Stop created or updated"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/areas/{id}": {
      "get": {
        "security": [
          {
            "JWT": []
          }
        ],
        "tags": [
          "Areas"
        ],
        "operationId": "getArea",
        "summary": "Get an area",
        "description": "Detail of an area",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Area id",
            "schema": {
              "type": "string",
              "example": "264a6fb5-a7e1-4169-a80e-7531ed12bcb1"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Area",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AreaDetail"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/areas/{id}/settings": {
      "get": {
        "security": [
          {
            "JWT": []
          }
        ],
        "tags": [
          "Areas"
        ],
        "operationId": "getAreaSettings",
        "summary": "Get area settings",
        "description": "You can get all area settings",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Area id",
            "schema": {
              "type": "string",
              "example": "264a6fb5-a7e1-4169-a80e-7531ed12bcb1"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "All area settings",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AreaSettingsDetail"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/legal-docs": {
      "get": {
        "tags": [
          "Docs"
        ],
        "summary": "Urls to check legal docs.",
        "operationId": "getLegalDocs",
        "parameters": [
          {
            "in": "query",
            "name": "area_id",
            "schema": {
              "$ref": "#/components/schemas/AreaId"
            },
            "required": true
          },
          {
            "in": "query",
            "name": "os",
            "schema": {
              "$ref": "#/components/schemas/Os"
            },
            "required": true
          },
          {
            "in": "query",
            "name": "lang",
            "schema": {
              "type": "string",
              "example": "en"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Legal docs urls",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegalDocs"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/LegalBadRequestError"
                    }
                  ]
                },
                "examples": {
                  "BadRequestErr": {
                    "$ref": "#/components/responses/LegalBadRequest"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/LegalNotFoundError"
                    }
                  ]
                },
                "examples": {
                  "ResourceNotFoundErr": {
                    "$ref": "#/components/responses/LegalNotFound"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/legal-docs/{type}": {
      "get": {
        "tags": [
          "Docs"
        ],
        "summary": "Legal, privacy and other docs",
        "description": "It returns different docs like legal, privacy and others.",
        "operationId": "getLegalDoc",
        "parameters": [
          {
            "in": "path",
            "name": "type",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "imprint",
                "terms",
                "privacy",
                "acknowledgments",
                "legal"
              ]
            }
          },
          {
            "in": "query",
            "name": "lang",
            "required": true,
            "schema": {
              "type": "string",
              "example": "en"
            }
          },
          {
            "in": "query",
            "name": "os",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Os"
            }
          },
          {
            "in": "query",
            "name": "area_id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/AreaId"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "HTML page with the docs",
            "content": {
              "text/html": {
                "schema": {
                  "description": "Html page with the docs"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/LegalBadRequestError"
                    }
                  ]
                },
                "examples": {
                  "BadRequestErr": {
                    "$ref": "#/components/responses/LegalBadRequest"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/LegalNotFoundError"
                    }
                  ]
                },
                "examples": {
                  "ResourceNotFoundErr": {
                    "$ref": "#/components/responses/LegalNotFound"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/vehicles/{id}": {
      "put": {
        "security": [
          {
            "JWT": []
          }
        ],
        "tags": [
          "Vehicles"
        ],
        "operationId": "putVehicle",
        "summary": "Create or update a vehicle",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "vehicle id",
            "schema": {
              "type": "string",
              "example": "264a6fb5-a7e1-4169-a80e-7531ed12bcb1"
            }
          }
        ],
        "requestBody": {
          "description": "Request body",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VehicleRequest"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Vehicle created or updated"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/vehicles": {
      "get": {
        "security": [
          {
            "JWT": []
          }
        ],
        "tags": [
          "Vehicles"
        ],
        "operationId": "getVehicles",
        "summary": "List of vehicles",
        "description": "Available vehicles for the specific area",
        "parameters": [
          {
            "name": "area_id",
            "in": "query",
            "required": true,
            "description": "Area id",
            "schema": {
              "type": "string",
              "example": "264a6fb5-a7e1-4169-a80e-7531ed12bcb1"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "example": 0
            },
            "description": "pagination offset (default: 0)"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "example": 100
            },
            "description": "pagination limit (default: 25)"
          }
        ],
        "responses": {
          "200": {
            "description": "List of vehicles",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Vehicle"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/vehicles/distances/metrics": {
      "get": {
        "security": [
          {
            "JWT": []
          }
        ],
        "tags": [
          "Vehicles"
        ],
        "summary": "Get hourly distance metrics for vehicles",
        "description": "Returns hourly distance information for specified vehicles in a given area and date. If no vehicles are specified, returns data for all vehicles.",
        "parameters": [
          {
            "name": "area_id",
            "in": "query",
            "required": true,
            "description": "ID of the area to get metrics for",
            "schema": {
              "type": "string",
              "example": "area-123"
            }
          },
          {
            "name": "local_date",
            "in": "query",
            "required": true,
            "description": "Date to get metrics for in YYYY-MM-DD format",
            "schema": {
              "type": "string",
              "format": "date",
              "example": "2023-09-15"
            }
          },
          {
            "name": "vehicles",
            "in": "query",
            "required": false,
            "description": "List of vehicle IDs to filter by. If not provided, returns data for all vehicles.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "example": [
                "vehicle-1",
                "vehicle-2"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved distance metrics",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "vehicle_id": {
                        "type": "string",
                        "example": "vehicle-1"
                      },
                      "ranges": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "init": {
                              "type": "string",
                              "format": "date-time",
                              "example": "2023-09-15T14:00:00Z"
                            },
                            "end": {
                              "type": "string",
                              "format": "date-time",
                              "example": "2023-09-15T15:00:00Z"
                            },
                            "distance": {
                              "type": "number",
                              "format": "float",
                              "description": "Distance in kilometers",
                              "example": 12.5
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/users": {
      "get": {
        "security": [
          {
            "JWT": []
          }
        ],
        "tags": [
          "User"
        ],
        "operationId": "getUsers",
        "summary": "List of users",
        "description": "List of users",
        "parameters": [
          {
            "name": "area_id",
            "in": "query",
            "required": true,
            "description": "Area id",
            "schema": {
              "type": "string",
              "example": "264a6fb5-a7e1-4169-a80e-7531ed12bcb1"
            }
          },
          {
            "name": "email",
            "in": "query",
            "required": false,
            "description": "Filter by email",
            "schema": {
              "type": "string",
              "format": "email",
              "example": "email@shotl.com"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "example": 0
            },
            "description": "pagination offset (default: 0)"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "example": 100
            },
            "description": "pagination limit (default: 25)"
          }
        ],
        "responses": {
          "200": {
            "description": "User list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/User"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/service-hours": {
      "get": {
        "security": [
          {
            "JWT": []
          }
        ],
        "tags": [
          "Service hours"
        ],
        "operationId": "getServiceHours",
        "summary": "List of service hours",
        "description": "List of service hours",
        "parameters": [
          {
            "name": "area_id",
            "in": "query",
            "required": true,
            "description": "Area id",
            "schema": {
              "type": "string",
              "example": "264a6fb5-a7e1-4169-a80e-7531ed12bcb1"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Service hours",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceHoursDetail"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/webhooks": {
      "get": {
        "security": [
          {
            "JWT": []
          }
        ],
        "tags": [
          "System"
        ],
        "operationId": "getWebHooks",
        "summary": "List of webhooks",
        "description": "Webhooks configured to receive events from shotl systems",
        "responses": {
          "200": {
            "description": "List of webhooks",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebHooks"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "patch": {
        "security": [
          {
            "JWT": []
          }
        ],
        "tags": [
          "System"
        ],
        "operationId": "patchWebHooks",
        "summary": "Webhooks configuration",
        "description": "It sets the Webhooks where shotl system will send the events on real time",
        "requestBody": {
          "description": "Ride request",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "driver_is_here": {
                    "type": "string",
                    "nullable": true,
                    "example": "https://api.example.com/webhooks/driver-is-here"
                  },
                  "passenger_no_show": {
                    "type": "string",
                    "nullable": true,
                    "example": "https://api.example.com/webhooks/passenger-no-show"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Webhooks updated"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "JWT": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      },
      "basic": {
        "type": "http",
        "scheme": "basic"
      }
    },
    "schemas": {
      "AreaId": {
        "type": "string",
        "example": "42645368-9e9c-40af-add3-7542fe5a70d9"
      },
      "StopId": {
        "type": "string",
        "example": "42645368-9e9c-40af-add3-7542fe5a70d9"
      },
      "SubAreaId": {
        "type": "string",
        "example": "sa-126a5368-0e1d-1daf-cad2-4542fe5a21ca"
      },
      "PassengerId": {
        "description": "Passenger who books a service",
        "type": "string",
        "example": "42645368-9e9c-40af-add3-7542fe5a70d9"
      },
      "RideId": {
        "description": "Ride (service) id",
        "type": "string",
        "example": "42645368-9e9c-40af-add3-7542fe5a70d9"
      },
      "Os": {
        "type": "string",
        "enum": [
          "android",
          "ios"
        ]
      },
      "Error": {
        "type": "object",
        "required": [
          "error"
        ],
        "properties": {
          "error": {
            "type": "object",
            "required": [
              "message",
              "code"
            ],
            "properties": {
              "message": {
                "type": "string",
                "example": "Error message"
              },
              "code": {
                "type": "string",
                "example": "X000000"
              }
            }
          }
        }
      },
      "LegalBadRequestError": {
        "type": "object",
        "required": [
          "error"
        ],
        "properties": {
          "error": {
            "type": "object",
            "required": [
              "message",
              "code"
            ],
            "properties": {
              "message": {
                "type": "string",
                "example": "Error validating legal document request query parameters content"
              },
              "code": {
                "type": "string",
                "example": "202"
              },
              "tag": {
                "type": "string",
                "example": "ERR_VAL_LEG_DOC_QUERY_PARAM_CONT"
              }
            }
          }
        }
      },
      "LegalNotFoundError": {
        "type": "object",
        "required": [
          "error"
        ],
        "properties": {
          "error": {
            "type": "object",
            "required": [
              "message",
              "code"
            ],
            "properties": {
              "message": {
                "type": "string",
                "example": "Legal document not founde"
              },
              "code": {
                "type": "string",
                "example": "204"
              },
              "tag": {
                "type": "string",
                "example": "LEG_DOC_NOT_FOUND"
              }
            }
          }
        }
      },
      "Ride": {
        "type": "object",
        "required": [
          "id",
          "user_id",
          "code",
          "status",
          "desired_pickup_location",
          "desired_dropoff_location",
          "scheduled_pickup_location",
          "scheduled_dropoff_location",
          "petition_time"
        ],
        "properties": {
          "id": {
            "$ref": "#/components/schemas/RideId"
          },
          "user_id": {
            "$ref": "#/components/schemas/PassengerId"
          },
          "code": {
            "description": "Ride code to identify the passenger when you don't want to share the real name",
            "type": "string",
            "example": "123456"
          },
          "status": {
            "example": "DRAFT",
            "allOf": [
              {
                "$ref": "#/components/schemas/RideStatus"
              },
              {
                "$ref": "#/components/schemas/DraftStatus"
              }
            ]
          },
          "desired_pickup_location": {
            "description": "Location where the user wants to be picked up",
            "allOf": [
              {
                "$ref": "#/components/schemas/GeoLocation"
              }
            ]
          },
          "desired_dropoff_location": {
            "description": "Location where the user wants to be taken",
            "allOf": [
              {
                "$ref": "#/components/schemas/GeoLocation"
              }
            ]
          },
          "scheduled_pickup_place": {
            "description": "Scheduled location where pick up the user",
            "allOf": [
              {
                "$ref": "#/components/schemas/Place"
              }
            ]
          },
          "scheduled_dropoff_place": {
            "description": "Scheduled location where to take the user",
            "allOf": [
              {
                "$ref": "#/components/schemas/Place"
              }
            ]
          },
          "user_expected_pickup_time": {
            "description": "Scheduled time to pickup up the user. Unix timestamp",
            "type": "number",
            "example": 1584368422
          },
          "user_expected_dropoff_time": {
            "description": "Scheduled time to take the user to its destiny. Unix timestamp",
            "type": "number",
            "example": 1584368422
          },
          "effective_pickup_time": {
            "description": "Effective final pickup time when the user was picked up. Unix timestamp",
            "type": "number",
            "example": 1584368422
          },
          "effective_dropoff_time": {
            "description": "Effective final dropoff time when the user was taken to its destiny. Unix timestamp",
            "type": "number",
            "example": 1584368422
          },
          "petition_time": {
            "description": "When it was created",
            "type": "number",
            "example": 1584368422
          },
          "passenger_fare_type": {
            "description": "types of fare and number of passenger that are involved in",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Fare"
            }
          },
          "payment": {
            "type": "object",
            "description": "Payment status",
            "properties": {
              "paid": {
                "type": "boolean",
                "example": true
              },
              "driver_message": {
                "type": "string",
                "example": "2A 1C"
              },
              "price": {
                "type": "object",
                "required": [
                  "amount",
                  "currency"
                ],
                "properties": {
                  "amount": {
                    "description": "Amount in the minor unit of the currency you are charging in",
                    "type": "number",
                    "example": 200
                  },
                  "currency": {
                    "example": "EUR"
                  }
                }
              }
            }
          }
        }
      },
      "RideReport": {
        "type": "object",
        "required": [
          "id",
          "user_id",
          "code",
          "status",
          "desired_pickup_location",
          "desired_dropoff_location",
          "scheduled_pickup_location",
          "scheduled_dropoff_location",
          "user_expected_pickup_time",
          "user_expected_dropoff_time",
          "petition_time"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "user_id": {
            "description": "Related user id",
            "type": "string",
            "format": "uuid"
          },
          "code": {
            "description": "Ride code to identify the passenger when you don't want to share the real name",
            "type": "string",
            "example": "123456"
          },
          "status": {
            "example": "FINISHED",
            "allOf": [
              {
                "$ref": "#/components/schemas/RideStatus"
              },
              {
                "$ref": "#/components/schemas/DraftStatus"
              }
            ]
          },
          "desired_pickup_location": {
            "description": "Location where the user wants to be picked up",
            "allOf": [
              {
                "$ref": "#/components/schemas/GeoLocation"
              }
            ]
          },
          "desired_dropoff_location": {
            "description": "Location where the user wants to be taken",
            "allOf": [
              {
                "$ref": "#/components/schemas/GeoLocation"
              }
            ]
          },
          "scheduled_pickup_place": {
            "description": "Scheduled location where pick up the user",
            "allOf": [
              {
                "$ref": "#/components/schemas/Place"
              }
            ]
          },
          "scheduled_dropoff_place": {
            "description": "Scheduled location where to take the user",
            "allOf": [
              {
                "$ref": "#/components/schemas/Place"
              }
            ]
          },
          "user_expected_pickup_time": {
            "description": "Scheduled time to pickup up the user. Unix timestamp",
            "type": "number",
            "example": 1584368422
          },
          "user_expected_dropoff_time": {
            "description": "Scheduled time to take the user to its destiny. Unix timestamp",
            "type": "number",
            "example": 1584368422
          },
          "effective_pickup_time": {
            "description": "Effective final pickup time when the user was picked up. Unix timestamp",
            "type": "number",
            "example": 1584368422
          },
          "effective_dropoff_time": {
            "description": "Effective final dropoff time when the user was taken to its destiny. Unix timestamp",
            "type": "number",
            "example": 1584368422
          },
          "petition_time": {
            "description": "When it was created",
            "type": "number",
            "example": 1584368422
          },
          "passengers": {
            "description": "Information about passengers count. It could be regular or wheelchair.",
            "type": "object",
            "properties": {
              "regular": {
                "type": "number",
                "example": 1
              },
              "wheelchair": {
                "type": "number",
                "example": 0
              }
            }
          },
          "payment": {
            "type": "object",
            "description": "Payment status",
            "properties": {
              "paid": {
                "type": "boolean",
                "example": true
              },
              "driver_message": {
                "type": "string",
                "example": "2A 1C"
              },
              "price": {
                "type": "integer",
                "description": "Amount due to pay or paid for the Ride. Last two digits are decimals (30.00 in the example)",
                "example": 3000
              },
              "fare_type": {
                "type": "string",
                "enum": [
                  "flat",
                  "zone",
                  "passenger",
                  "zone_and_passenger"
                ],
                "description": "Fare type"
              },
              "breakdown": {
                "type": "object",
                "properties": {
                  "origin_zone": {
                    "type": "string"
                  },
                  "origin_zone_name": {
                    "type": "string"
                  },
                  "destination_zone": {
                    "type": "string"
                  },
                  "destionation_zone_name": {
                    "type": "string"
                  },
                  "breakdown_items": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "passenger_fare_type": {
                          "type": "string"
                        },
                        "passenger_count": {
                          "type": "number",
                          "format": "integer"
                        },
                        "price_amount": {
                          "type": "number",
                          "format": "integer"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "Place": {
        "type": "object",
        "required": [
          "name",
          "location"
        ],
        "properties": {
          "name": {
            "type": "string",
            "example": "Jesus Serra i Santamans 2"
          },
          "location": {
            "$ref": "#/components/schemas/GeoLocation"
          }
        }
      },
      "GeoLocation": {
        "type": "object",
        "required": [
          "type",
          "latitude",
          "longitude"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "point"
            ]
          },
          "latitude": {
            "type": "number",
            "format": "double",
            "example": 41.4907739
          },
          "longitude": {
            "type": "number",
            "format": "double",
            "example": 2.0734611
          }
        }
      },
      "DraftStatus": {
        "type": "string",
        "enum": [
          "DRAFT"
        ]
      },
      "RideStatus": {
        "type": "string",
        "enum": [
          "SCHEDULED",
          "WAITING_VEHICLE",
          "VEHICLE_LAUNCHED",
          "PASSENGER_LAUNCHED",
          "ON_BOARD",
          "NO_SHOW",
          "FINISHED",
          "CANCELLED_BY_PASSENGER",
          "CANCELLED_BY_INCIDENCE",
          "CANCELLED_BY_SYSTEM",
          "EXPIRED",
          "REJECTED"
        ]
      },
      "RideFinishedStatus": {
        "type": "string",
        "enum": [
          "NO_SHOW",
          "FINISHED",
          "CANCELLED_BY_PASSENGER",
          "CANCELLED_BY_SYSTEM",
          "CANCELLED_BY_INCIDENCE",
          "EXPIRED"
        ]
      },
      "VehicleRequest": {
        "allOf": [
          {
            "type": "object",
            "required": [
              "area_id",
              "active",
              "email",
              "password",
              "username",
              "name",
              "phone",
              "plate_number",
              "regular_capacity",
              "wheelchair_capacity",
              "country_code",
              "initial_base"
            ],
            "properties": {
              "name": {
                "type": "string",
                "example": "Shuttle A400"
              },
              "plate_number": {
                "type": "string",
                "example": "4332-LTD"
              },
              "area_id": {
                "type": "string",
                "example": "e8083d9d-151b-48b8-821a-846db5ff1ffe"
              },
              "active": {
                "type": "boolean"
              },
              "email": {
                "type": "string",
                "format": "email",
                "example": "example@example.com"
              },
              "password": {
                "type": "string",
                "example": "xxxx"
              },
              "username": {
                "type": "string",
                "example": "driver-login-username"
              },
              "phone": {
                "type": "string",
                "example": "93455332211"
              },
              "regular_capacity": {
                "type": "number",
                "example": 1
              },
              "wheelchair_capacity": {
                "type": "number",
                "example": 0
              },
              "country_code": {
                "type": "string",
                "example": "it"
              },
              "initial_base": {
                "type": "string",
                "example": "e8083d9d-151b-48b8-821a-846db5ff1ffe"
              },
              "final_base": {
                "type": "string",
                "example": "e8083d9d-151b-48b8-821a-846db5ff1ffe"
              }
            }
          }
        ]
      },
      "VehicleDetail": {
        "type": "object",
        "required": [
          "plat_number",
          "name"
        ],
        "properties": {
          "name": {
            "type": "string",
            "nullable": false,
            "example": "Shuttle A400"
          },
          "plat_number": {
            "type": "string",
            "nullable": false,
            "example": "4332-LTD"
          }
        }
      },
      "Vehicle": {
        "allOf": [
          {
            "type": "object",
            "required": [
              "id"
            ],
            "properties": {
              "id": {
                "type": "string",
                "example": "e8083d9d-151b-48b8-821a-846db5ff1ffe"
              }
            }
          },
          {
            "$ref": "#/components/schemas/VehicleRequest"
          }
        ]
      },
      "WebHooks": {
        "type": "object",
        "required": [
          "driver_is_here",
          "passenger_no_show"
        ],
        "properties": {
          "driver_is_here": {
            "type": "string",
            "nullable": true,
            "example": "https://api.example.com/webhooks/driver-is-here"
          },
          "passenger_no_show": {
            "type": "string",
            "nullable": true,
            "example": "https://api.example.com/webhooks/passenger-no-show"
          }
        }
      },
      "User": {
        "type": "object",
        "required": [
          "id",
          "full_name"
        ],
        "properties": {
          "id": {
            "type": "string",
            "example": "e8083d9d-151b-48b8-821a-846db5ff1ffe"
          },
          "full_name": {
            "type": "string",
            "example": "John Doe"
          },
          "birth_date": {
            "type": "string",
            "example": "1980-01-12"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "phone": {
            "type": "string",
            "example": "+34 654 332 112"
          },
          "full_address": {
            "type": "string",
            "example": "st 123, 4-2, Mount Paozu"
          },
          "cant_walk": {
            "type": "boolean",
            "example": true
          },
          "type_of_assistance": {
            "type": "string",
            "example": "Need personal assistance from the driver."
          },
          "wheelchair": {
            "type": "boolean",
            "example": true
          },
          "wheelchair_type": {
            "type": "string",
            "enum": [
              "WALKING_FRAME",
              "ROLLATOR",
              "MANUAL_WHEELCHAIR",
              "FOLDING_WHEELCHAIR",
              "ELETRIC_WHEELCHAIR",
              "SCOOTER"
            ]
          },
          "privacy_policy_accepted": {
            "type": "boolean",
            "example": true
          },
          "terms_conditions_accepted": {
            "type": "boolean",
            "example": true
          }
        }
      },
      "GeoStopRequest": {
        "required": [
          "type",
          "geometry",
          "properties"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "Feature"
            ]
          },
          "geometry": {
            "type": "object",
            "required": [
              "type",
              "coordinates"
            ],
            "properties": {
              "type": {
                "type": "string",
                "example": "Point"
              },
              "coordinates": {
                "$ref": "#/components/schemas/Coordinates"
              }
            }
          },
          "properties": {
            "type": "object",
            "required": [
              "area_id",
              "subarea_id",
              "name",
              "active"
            ],
            "properties": {
              "area_id": {
                "$ref": "#/components/schemas/StopId"
              },
              "subarea_id": {
                "$ref": "#/components/schemas/SubAreaId"
              },
              "name": {
                "type": "string",
                "example": "St. 23"
              },
              "active": {
                "type": "boolean",
                "example": true
              },
              "stop_type": {
                "type": "string",
                "example": "stop",
                "enum": [
                  "stop",
                  "d2d_regular",
                  "d2d_cant_walk"
                ]
              }
            }
          }
        }
      },
      "GeoStop": {
        "required": [
          "type",
          "geometry",
          "properties"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "Feature"
            ]
          },
          "geometry": {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "example": "Point"
              },
              "coordinates": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Coordinates"
                }
              }
            }
          },
          "properties": {
            "type": "object",
            "properties": {
              "id": {
                "$ref": "#/components/schemas/StopId"
              },
              "area_id": {
                "$ref": "#/components/schemas/AreaId"
              },
              "subarea_id": {
                "$ref": "#/components/schemas/SubAreaId"
              },
              "name": {
                "type": "string",
                "example": "St. 23"
              }
            }
          }
        }
      },
      "Coordinates": {
        "description": "Array of longitude, latitude",
        "type": "array",
        "items": {
          "type": "number",
          "format": "double"
        },
        "example": [
          6.817176,
          47.481977
        ]
      },
      "Null": {
        "type": "object",
        "nullable": true
      },
      "Fare": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "example": "7814e7f5-f888-47de-8035-6ded536d9bfd"
          },
          "count": {
            "type": "number",
            "example": 1
          }
        }
      },
      "AreaDetail": {
        "description": "Area in geojson format",
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "example": "Feature"
          },
          "geometry": {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "example": "Polygon"
              },
              "coordinates": {
                "type": "array",
                "items": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Coordinates"
                  }
                }
              }
            }
          },
          "properties": {
            "type": "object",
            "properties": {
              "id": {
                "$ref": "#/components/schemas/AreaId"
              },
              "name": {
                "type": "string",
                "example": "Can Sant Joan - Volpelleres"
              },
              "show_stops": {
                "type": "boolean"
              },
              "center": {
                "type": "array",
                "example": [
                  2.0612239837646484,
                  41.4873791897518
                ],
                "items": {
                  "type": "number",
                  "format": "double"
                }
              }
            }
          }
        }
      },
      "AreaSettingsDetail": {
        "type": "object",
        "properties": {
          "area_id": {
            "type": "string",
            "example": "e8083d9d-151b-48b8-821a-846db5ff1ffe"
          },
          "timezone": {
            "type": "string",
            "example": "Europe/Madrid"
          },
          "register": {
            "type": "object",
            "required": [
              "enabled",
              "invitation_code"
            ],
            "properties": {
              "enabled": {
                "type": "boolean"
              },
              "invitation_code": {
                "type": "boolean"
              }
            }
          },
          "contact_info": {
            "type": "object",
            "required": [
              "area_name",
              "contact_times",
              "email",
              "telephone",
              "external_information_url"
            ],
            "properties": {
              "area_name": {
                "type": "string",
                "example": "Can Sant Joan - Volpelleres"
              },
              "contact_times": {
                "type": "string",
                "example": "8:00-17:00"
              },
              "email": {
                "type": "string",
                "example": "hello@shotl.com"
              },
              "telephone": {
                "type": "string",
                "example": "93455332211"
              },
              "external_information_url": {
                "type": "string",
                "example": "https://shotl.com"
              }
            }
          },
          "payments": {
            "type": "object",
            "required": [
              "account_id",
              "enabled",
              "in_vehicle"
            ],
            "properties": {
              "account_id": {
                "type": "string",
                "example": "acct_1032D82eZvKYlo2C"
              },
              "enabled": {
                "type": "boolean"
              },
              "in_vehicle": {
                "type": "boolean"
              }
            }
          },
          "max_passengers_on_app": {
            "type": "object",
            "required": [
              "regular",
              "wheelchair"
            ],
            "properties": {
              "regular": {
                "type": "number",
                "example": 1
              },
              "wheelchair": {
                "type": "number",
                "example": 0
              }
            }
          },
          "ride": {
            "type": "object",
            "required": [
              "ride_now_available",
              "schedule_ride_available",
              "wheelchair_available",
              "scheduled_ride_maximum_advance_days",
              "scheduled_ride_offset_next_range"
            ],
            "properties": {
              "ride_now_available": {
                "type": "boolean",
                "example": true
              },
              "schedule_ride_available": {
                "type": "boolean",
                "example": true
              },
              "wheelchair_available": {
                "type": "boolean",
                "example": true
              },
              "scheduled_ride_maximum_advance_days": {
                "type": "number",
                "format": "integer",
                "example": 15
              },
              "scheduled_ride_offset_next_range": {
                "type": "number",
                "format": "integer",
                "example": 10
              },
              "confirmation_time": {
                "type": "object",
                "properties": {
                  "ride_now": {
                    "type": "number",
                    "format": "integer",
                    "description": "time in seconds",
                    "example": 30
                  },
                  "schedule_ride": {
                    "type": "number",
                    "format": "integer",
                    "description": "time in seconds",
                    "example": 30
                  }
                }
              }
            }
          }
        }
      },
      "LegalDocs": {
        "type": "object",
        "required": [
          "imprint",
          "terms",
          "privacy",
          "acknowledgments",
          "legal"
        ],
        "properties": {
          "imprint": {
            "type": "string",
            "example": "https://test.shotl.com/docs/terms?area_id=68df2e5b-b60e-4533-a804-b3b98c29832f&os=ios&lang=en"
          },
          "terms": {
            "type": "string",
            "example": "https://test.shotl.com/docs/terms?area_id=68df2e5b-b60e-4533-a804-b3b98c29832f&os=ios&lang=en"
          },
          "privacy": {
            "type": "string",
            "example": "https://test.shotl.com/docs/terms?area_id=68df2e5b-b60e-4533-a804-b3b98c29832f&os=ios&lang=en"
          },
          "acknowledgments": {
            "type": "string",
            "example": "https://test.shotl.com/docs/terms?area_id=68df2e5b-b60e-4533-a804-b3b98c29832f&os=ios&lang=en"
          },
          "legal": {
            "type": "string",
            "example": "https://test.shotl.com/docs/terms?area_id=68df2e5b-b60e-4533-a804-b3b98c29832f&os=ios&lang=en"
          }
        }
      },
      "ServiceHoursDetail": {
        "type": "object",
        "required": [
          "general_periods",
          "exceptional_periods"
        ],
        "properties": {
          "general_periods": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GeneralPeriodsDetail"
            }
          },
          "exceptional_periods": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ExceptionalPeriodsDetail"
            }
          }
        }
      },
      "SecondsOfDay": {
        "description": "Seconds of the day, from 0 to 86399 seconds",
        "type": "integer",
        "example": 46800
      },
      "GeneralPeriodsDetail": {
        "type": "object",
        "required": [
          "days_of_week",
          "is_default",
          "vehicles",
          "time_windows"
        ],
        "properties": {
          "days_of_week": {
            "type": "object",
            "properties": {
              "0": {
                "type": "boolean"
              },
              "1": {
                "type": "boolean"
              },
              "2": {
                "type": "boolean"
              },
              "3": {
                "type": "boolean"
              },
              "4": {
                "type": "boolean"
              },
              "5": {
                "type": "boolean"
              },
              "6": {
                "type": "boolean"
              }
            }
          },
          "is_default": {
            "type": "boolean"
          },
          "vehicles": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                }
              }
            }
          },
          "time_windows": {
            "type": "array",
            "items": {
              "properties": {
                "id": {
                  "type": "string",
                  "example": "fc287a02-f3ec-4a94-8242-ccef01fe634a"
                },
                "time_range": {
                  "type": "object",
                  "properties": {
                    "init": {
                      "$ref": "#/components/schemas/SecondsOfDay"
                    },
                    "end": {
                      "$ref": "#/components/schemas/SecondsOfDay"
                    }
                  }
                },
                "ride_now": {
                  "type": "boolean"
                },
                "schedule_ride": {
                  "type": "boolean"
                }
              }
            }
          }
        }
      },
      "ExceptionalPeriodsDetail": {
        "type": "object",
        "required": [
          "days",
          "is_default",
          "name",
          "provide_service",
          "time_windows",
          "vehicles"
        ],
        "properties": {
          "days": {
            "type": "array",
            "items": {
              "type": "object",
              "required": [
                "day",
                "month",
                "year"
              ],
              "properties": {
                "day": {
                  "type": "number",
                  "example": 25
                },
                "month": {
                  "type": "number",
                  "example": 12
                },
                "year": {
                  "type": "number",
                  "example": 2022
                }
              }
            }
          },
          "name": {
            "type": "string",
            "example": "Christmas Holiday's"
          },
          "is_default": {
            "type": "boolean"
          },
          "provide_service": {
            "type": "boolean"
          },
          "vehicles": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                }
              }
            }
          },
          "time_windows": {
            "type": "array",
            "items": {
              "properties": {
                "id": {
                  "type": "string",
                  "example": "fc287a02-f3ec-4a94-8242-ccef01fe634a"
                },
                "time_range": {
                  "type": "object",
                  "properties": {
                    "init": {
                      "$ref": "#/components/schemas/SecondsOfDay"
                    },
                    "end": {
                      "$ref": "#/components/schemas/SecondsOfDay"
                    }
                  }
                },
                "ride_now": {
                  "type": "boolean"
                },
                "schedule_ride": {
                  "type": "boolean"
                }
              }
            }
          }
        }
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Bad request",
        "content": {
          "applicaion/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "NotFound": {
        "description": "Resource not found",
        "content": {
          "applicaion/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "LegalNotFound": {
        "description": "Resource not found",
        "content": {
          "applicaion/json": {
            "schema": {
              "$ref": "#/components/schemas/LegalNotFoundError"
            }
          }
        }
      },
      "LegalBadRequest": {
        "description": "Bad request",
        "content": {
          "applicaion/json": {
            "schema": {
              "$ref": "#/components/schemas/LegalBadRequestError"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Unauthorized",
        "content": {
          "applicaion/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Forbidden": {
        "description": "Forbidden",
        "content": {
          "applicaion/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Failed": {
        "description": "Request failed. The parameters were valid but the request failed",
        "content": {
          "applicaion/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Locked": {
        "description": "Resource locked",
        "content": {
          "applicaion/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      }
    }
  }
}