{
  "swagger": "2.0",
  "info": {
    "version": "2.1.14",
    "title": "OM CDD API",
    "description": "API integration interface to OM CDD services.",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/CHANLEMEISTER_1/om-cdd-api/2.1.14"
  },
  "host": "please.configure.me:8888",
  "schemes": [
    "http"
  ],
  "paths": {
    "/v1/documentation/upload/{WorkflowProcessId}/data/{DocumentId}": {
      "post": {
        "summary": "Path to upload verified documentation to.",
        "consumes": [
          "multipart/form-data"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "WorkflowProcessId",
            "required": true,
            "type": "string",
            "minimum": 1,
            "description": "The XOB process ID."
          },
          {
            "in": "path",
            "name": "DocumentId",
            "required": true,
            "type": "string",
            "minimum": 1,
            "description": "The unique ID corresponding to the document you are uploading."
          },
          {
            "in": "formData",
            "name": "Document",
            "type": "file",
            "description": "The document to upload."
          },
          {
            "in": "formData",
            "name": "DocumentTypeId",
            "type": "string",
            "required": true,
            "description": "Unique ID of the document type."
          },
          {
            "in": "formData",
            "name": "DocumentEndDate",
            "type": "string",
            "required": true,
            "description": "Expiry date of the document"
          },
          {
            "in": "formData",
            "name": "VerificationCategory",
            "type": "string",
            "required": true,
            "description": "Type of document"
          },
          {
            "in": "formData",
            "name": "DocumentName",
            "type": "string",
            "required": false,
            "description": "Human readable name of the document."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/OMCDDDocumentUploadResponse"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/OMCDDDocumentUploadResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/OMCDDErrorResponse"
            },
            "examples": {
              "application/json": {
                "errorCode": 40,
                "errorDescription": "Unauthorized caller."
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/OMCDDErrorResponse"
            },
            "examples": {
              "application/json": {
                "errorCode": 50,
                "errorDescription": "Internal server error occurred."
              }
            }
          }
        }
      }
    },
    "/v1/documentation/{DocumentId}": {
      "get": {
        "summary": "Fetches document status.",
        "tags": [
          "NewBusiness"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "DocumentId",
            "required": true,
            "type": "string",
            "minimum": 1,
            "description": "The XOB document ID."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/OMCDDDocumentDataResponse"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/OMCDDDocumentDataResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/OMCDDErrorResponse"
            },
            "examples": {
              "application/json": {
                "errorCode": 40,
                "errorDescription": "Unauthorized caller."
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/OMCDDErrorResponse"
            },
            "examples": {
              "application/json": {
                "errorCode": 50,
                "errorDescription": "Internal server error occurred."
              }
            }
          }
        }
      }
    },
    "/v1/ping": {
      "get": {
        "tags": [
          "HealthPing"
        ],
        "operationId": "Ping",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "X-Gravitee-Api-Key",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "Message of the health status.",
                  "example": "The service is up and running!"
                }
              }
            }
          }
        }
      }
    },
    "/v1/newbusiness": {
      "get": {
        "tags": [
          "NewBusiness"
        ],
        "operationId": "NewBusinessTransactionResult",
        "description": "This operation allows a consumer to fetch a more verbose state of the process, and will give an indication of whether the new business onboarding resulted in a \"Go\", \"No go\", or a \"Wait\" if the process is still running. If there are certain validation errors where the consumer is required to update a workflows data, this information will be made available in this response.",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "type": "string"
          },
          {
            "name": "AmlRoute",
            "in": "header",
            "type": "string"
          },
          {
            "name": "X-Gravitee-Api-Key",
            "in": "header",
            "type": "string"
          },
          {
            "name": "SystemDateTime",
            "in": "header",
            "type": "string"
          },
          {
            "name": "CorrelationId",
            "in": "query",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/OMCDDGetDataResponse"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/OMCDDErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/OMCDDErrorResponse"
            }
          }
        }
      },
      "post": {
        "tags": [
          "NewBusiness"
        ],
        "operationId": "NewBusinessTransaction",
        "description": "This operation can be used to initiate a new business onboarding workflow with XOB Actimize, or LIS. The middleware will handle the processing with the XOB Actimize API and provide the consumer with asynchronous notifications of where in the process the workflow is. The consumer can use these notifications to determine whether or not to fetch more information about the current state of the process through the GET operation.",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "Request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Request"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "type": "string"
          },
          {
            "name": "X-Gravitee-Api-Key",
            "in": "header",
            "type": "string"
          },
          {
            "name": "AmlRoute",
            "in": "header",
            "type": "string",
            "required": true
          },
          {
            "name": "SystemDateTime",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/OMCDDSyncResponse"
            }
          },
          "202": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/OMCDDSyncResponse"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/OMCDDSyncResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/OMCDDErrorResponse"
            },
            "examples": {
              "application/json": {
                "errorCode": 40,
                "errorDescription": "Unauthorized caller."
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/OMCDDErrorResponse"
            },
            "examples": {
              "application/json": {
                "errorCode": 50,
                "errorDescription": "Internal server error occurred."
              }
            }
          }
        }
      }
    }
  },
  "definitions": {
    "OMCDDDocumentDataResponse": {
      "type": "object",
      "description": "Represents a response from OMCDD system to Consumer system on documentation data upload status.properties",
      "properties": {
        "Version": {
          "type": "string",
          "description": "Version of the schema used in sending the response object."
        },
        "Timestamp": {
          "type": "string"
        },
        "DocumentationUploadStatus": {
          "$ref": "#/definitions/DocumentationUploadStatus"
        },
        "ErrorDetails": {
          "type": "string"
        }
      }
    },
    "DocumentationUploadStatus": {
      "type": "object",
      "properties": {
        "ValidationId": {
          "type": "string",
          "description": "The validation result this request is linked to."
        },
        "DocumentName": {
          "type": "string",
          "description": "The human readable name of the document."
        },
        "DocumentTypeId": {
          "type": "string",
          "description": "Unique ID of the document type."
        },
        "Status": {
          "type": "string",
          "description": "Unique ID of the document type."
        }
      }
    },
    "OMCDDDocumentUploadResponse": {
      "type": "object",
      "description": "Represents a response from OMCDD system to Consumer system on documentation upload.",
      "properties": {
        "Version": {
          "type": "string",
          "description": "Version of the schema used in sending the response object."
        },
        "Status": {
          "$ref": "#/definitions/OMCDDStatusType"
        },
        "Timestamp": {
          "type": "string"
        },
        "DocumentIdentifier": {
          "type": "string"
        },
        "ErrorDetails": {
          "$ref": "#/definitions/OMCDDErrorDetails"
        }
      }
    },
    "OMCDDGetDataResponse": {
      "type": "object",
      "description": "Represents a sync response from OM CDD system to the Consumer system that returns the data from XOB using the workflowProcessId associated with the given correlationId.",
      "required": [
        "Version",
        "CorrelationId",
        "Timestamp",
        "WorkflowData"
      ],
      "properties": {
        "Version": {
          "type": "string",
          "description": "Version of the Schema used in sending the response object."
        },
        "CorrelationId": {
          "type": "string",
          "description": "The correlation ID related to the workflow process.",
          "example": "aml-srcsystem-4f8e4a43-fb2b-f011-b501-e40d3640c729"
        },
        "BusinessTransactionId": {
          "type": "string",
          "description": "The business transaction ID.",
          "example": "4f8e4a43-fb2b-f011-b501-e40d3640c729"
        },
        "WorkflowData": {
          "$ref": "#/definitions/OMCDDDataResponse",
          "description": "The XOB data associated with the given correlationId."
        },
        "TransactionStatus": {
          "type": "string",
          "enum": [
            "ACCEPTED",
            "REJECTED",
            "WAIT"
          ]
        },
        "Timestamp": {
          "type": "string",
          "example": "1985-09-25T17:45:30.005"
        }
      }
    },
    "OMCDDSyncResponse": {
      "type": "object",
      "description": "Represents a sync response from OM CDD system to the Consumer system on whether the request has been accepted successfully.",
      "required": [
        "Version",
        "CorrelationId",
        "Status",
        "Timestamp"
      ],
      "properties": {
        "AmlRoute": {
          "$ref": "#/definitions/AmlRoute",
          "description": "The route AML sent the request along."
        },
        "Version": {
          "type": "string",
          "description": "Version of the Schema used in sending the response object."
        },
        "CorrelationId": {
          "type": "string",
          "description": "The correlation ID related to the workflow process."
        },
        "BusinessTransactionId": {
          "type": "string",
          "description": "The business transaction ID.",
          "example": "4f8e4a43-fb2b-f011-b501-e40d3640c729"
        },
        "Status": {
          "description": "Describes whether the request is accepted or rejected by the middleware and by XOB. This would signal that the request has passed prevalidation.",
          "$ref": "#/definitions/OMCDDStatusType"
        },
        "Timestamp": {
          "type": "string"
        },
        "ErrorDetails": {
          "$ref": "#/definitions/OMCDDErrorDetails"
        },
        "NotificationContent": {
          "description": "If the state represents a final or active process state.",
          "$ref": "#/definitions/WorkflowProcessState"
        },
        "DocumentationRequests": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/DocumentationRequest"
          }
        }
      }
    },
    "OMCDDStatusType": {
      "type": "string",
      "description": "Describes whether the request is accepted or rejected by the middleware and by XOB. This would signal that the request has passed prevalidation.",
      "enum": [
        "ACCEPTED",
        "ACCEPTED_PARTIAL",
        "ALREADY_IN_PROGRESS",
        "REJECTED_BY_OMCDD",
        "REJECTED_BY_XOB",
        "REJECTED_BY_LIS",
        "COMPLETED"
      ]
    },
    "OMCDDErrorDetails": {
      "type": "object",
      "required": [
        "ErrorCode"
      ],
      "properties": {
        "ErrorCode": {
          "type": "string",
          "description": "The error code assocaited with the type of error.",
          "enum": [
            "VALIDATION_ERROR",
            "MISSING_FIELD",
            "INVALID_FORMAT",
            "DUPLICATE_CORRELATION_ID",
            "UNAUTHORIZED",
            "INTERNAL_ERROR"
          ]
        },
        "Details": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "Field": {
                "type": "string",
                "example": "Parties.Persons[0].FirstName"
              },
              "Description": {
                "type": "string",
                "example": "This should be a string"
              }
            }
          }
        }
      }
    },
    "WorkflowProcessState": {
      "type": "object",
      "properties": {
        "ProcessStarted": {
          "type": "boolean"
        },
        "ProcessCompleted": {
          "type": "boolean",
          "example": false
        },
        "ValidationResults": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ValidationResult"
          }
        },
        "ProcessState": {
          "type": "object",
          "description": "The state of the workflow as received from XOB",
          "properties": {
            "Id": {
              "description": "Unique identifier for the state",
              "$ref": "#/definitions/ProcessStateId"
            },
            "State": {
              "type": "object",
              "$ref": "#/definitions/OMCDDProcessState"
            }
          }
        }
      }
    },
    "OMCDDDataResponse": {
      "type": "object",
      "properties": {
        "IsCompleted": {
          "type": "boolean",
          "description": "The state of the entire process according to XOB"
        },
        "ValidationResults": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ValidationResult"
          }
        },
        "ProcessCompleted": {
          "type": "boolean"
        },
        "ProcessStarted": {
          "type": "boolean"
        },
        "CurrentProcessStates": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/CurrentProcessState"
          }
        },
        "PartyResults": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/PartyResult"
          }
        },
        "DocumentationRequests": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/DocumentationRequest"
          }
        },
        "Parties": {
          "$ref": "#/definitions/Parties"
        }
      }
    },
    "DocumentationRequest": {
      "type": "object",
      "properties": {
        "ValidationId": {
          "type": "string",
          "description": "The validation result this request is linked to."
        },
        "DocumentName": {
          "type": "string",
          "description": "The human readable name of the document."
        },
        "DocumentTypeId": {
          "type": "string",
          "description": "Unique ID of the document type."
        },
        "DocumentUploadUrl": {
          "type": "string",
          "description": "The URL to upload your file to."
        }
      }
    },
    "PartyResult": {
      "type": "object",
      "properties": {
        "PartyIdentifier": {
          "type": "string"
        },
        "PartyTransactionStatus": {
          "type": "string",
          "enum": [
            "ACCEPTED",
            "REJECTED",
            "WAIT"
          ]
        }
      }
    },
    "CurrentProcessState": {
      "type": "object",
      "properties": {
        "Id": {
          "$ref": "#/definitions/ProcessStateId",
          "description": "Unique id for the state"
        },
        "DisplayName": {
          "type": "string",
          "description": "User readable name for the state"
        },
        "StateType": {
          "$ref": "#/definitions/OMCDDProcessState"
        }
      }
    },
    "ValidationResult": {
      "type": "object",
      "properties": {
        "Id": {
          "type": "string",
          "description": "Unique identifier for the validation rule"
        },
        "DisplayName": {
          "type": "string",
          "description": "User readable name for the validation rule"
        },
        "Reason": {
          "type": "string",
          "description": "Explanation of the validation failure"
        },
        "Properties": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The fields that are invalid."
        },
        "Outcome": {
          "type": "string",
          "enum": [
            "INVALID"
          ]
        },
        "PartyIdentifier": {
          "type": "string"
        },
        "PartyType": {
          "type": "string"
        }
      }
    },
    "OMCDDProcessState": {
      "type": "string",
      "description": "The state of the process according to XOB",
      "enum": [
        "INITIAL",
        "INTERMEDIATE",
        "FINAL"
      ],
      "example": "INTERMEDIATE"
    },
    "OMCDDErrorResponse": {
      "type": "object",
      "properties": {
        "ErrorCode": {
          "type": "integer",
          "description": "The code correlating to the error",
          "example": 22
        },
        "ErrorDescription": {
          "type": "string",
          "description": "The description of the error that occurred.",
          "example": "Invalid authorization"
        }
      }
    },
    "Request": {
      "type": "object",
      "properties": {
        "HandleRetries": {
          "type": "boolean",
          "example": false,
          "description": "Sets the flag telling us to retry on network errors or if we should just return the error back to the caller."
        },
        "Amlroute": {
          "$ref": "#/definitions/AmlRoute"
        },
        "SourceSystem": {
          "$ref": "#/definitions/SourceSystem"
        },
        "EventType": {
          "$ref": "#/definitions/EventType",
          "example": "New Business"
        },
        "BusinessTransactionId": {
          "type": "string"
        },
        "CorrelationId": {
          "type": "string"
        },
        "Parties": {
          "$ref": "#/definitions/Parties"
        }
      }
    },
    "Parties": {
      "type": "object",
      "properties": {
        "Persons": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Person"
          }
        },
        "Entities": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Entity"
          }
        }
      }
    },
    "Person": {
      "type": "object",
      "properties": {
        "PersonContractingParty": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/PersonContractingParty"
          }
        },
        "Contract": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Contract"
          }
        },
        "PayerParty": {
          "$ref": "#/definitions/PayerParty"
        },
        "BeneficiaryParty": {
          "$ref": "#/definitions/BeneficiaryParty"
        }
      }
    },
    "Entity": {
      "type": "object",
      "properties": {
        "EntityContractingParty": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/EntityContractingParty"
          }
        },
        "Contract": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Contract"
          }
        },
        "PayerParty": {
          "$ref": "#/definitions/PayerParty"
        },
        "BeneficiaryParty": {
          "$ref": "#/definitions/BeneficiaryParty"
        },
        "LumpsumInjection": {
          "$ref": "#/definitions/LumpsumInjection"
        }
      }
    },
    "PartyRef": {
      "type": "object",
      "properties": {
        "PartyIdentifier": {
          "type": "string"
        },
        "ContractRole": {
          "type": "string",
          "enum": [
            "ANNUITANT",
            "PAYER",
            "BENEFICIARY",
            "CESSIONARY",
            "OWNER",
            "PAYEE"
          ],
          "example": "OWNER"
        },
        "PercentageOwnership": {
          "type": "number",
          "description": "The percentage of the contract that the party is responsible for.",
          "example": 80.0
        }
      }
    },
    "PersonContractingParty": {
      "type": "object",
      "properties": {
        "ContractRole": {
          "$ref": "#/definitions/ContractRole"
        },
        "ContractRoleStartDate": {
          "type": "string"
        },
        "ContractRoleEndDate": {
          "type": "string"
        },
        "PartyIdentifier": {
          "type": "string"
        },
        "PartyType": {
          "type": "string"
        },
        "Actimize_RiskSegmentCode": {
          "type": "string"
        },
        "Title": {
          "type": "string"
        },
        "FirstName": {
          "type": "string"
        },
        "LastName": {
          "type": "string"
        },
        "Initials": {
          "type": "string"
        },
        "Gender": {
          "$ref": "#/definitions/Gender"
        },
        "DateOfBirth": {
          "type": "string"
        },
        "DateOfDeath": {
          "type": "string"
        },
        "Nationality": {
          "type": "string"
        },
        "NationalityStartDate": {
          "type": "string"
        },
        "CountryOfBirth": {
          "type": "string"
        },
        "SourceOfIncome": {
          "$ref": "#/definitions/SourceOfIncome"
        },
        "SecondarySourceOfIncome": {
          "type": "string"
        },
        "SourceOfWealth": {
          "$ref": "#/definitions/SourceOfWealth"
        },
        "SourceOfFunds": {
          "$ref": "#/definitions/SourceOfFunds"
        },
        "ReasonForInvesting": {
          "$ref": "#/definitions/ReasonForInvesting"
        },
        "ReasonForInvestingIfOtherDescription": {
          "type": "string"
        },
        "ReasonForPaying": {
          "type": "string"
        },
        "PercentageOwnership": {
          "type": "string"
        },
        "Industry": {
          "$ref": "#/definitions/Industry"
        },
        "EmploymentPositionPIP": {
          "$ref": "#/definitions/EmploymentPositionPIP"
        },
        "Occupation": {
          "type": "string"
        },
        "EmploymentStatus": {
          "$ref": "#/definitions/EmploymentStatus"
        },
        "PersonalEmail": {
          "type": "string"
        },
        "BusinessEmail": {
          "type": "string"
        },
        "PreviousNames": {
          "$ref": "#/definitions/PreviousNames"
        },
        "ForeignKeyInformation": {
          "$ref": "#/definitions/ForeignKeyInformation"
        },
        "Taxation": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Taxation"
          }
        },
        "MobileTelephone": {
          "$ref": "#/definitions/MobileTelephone"
        },
        "ResidentialTelephone": {
          "$ref": "#/definitions/ResidentialTelephone"
        },
        "BusinessTelephone": {
          "$ref": "#/definitions/BusinessTelephone"
        },
        "PostalAddress": {
          "$ref": "#/definitions/PostalAddress"
        },
        "ResidentialAddress": {
          "$ref": "#/definitions/ResidentialAddress"
        },
        "PhysicalAddress": {
          "$ref": "#/definitions/ResidentialAddress"
        },
        "Documentation": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Documentation"
          }
        },
        "AssociatedParties": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/AssociatedParty"
          }
        },
        "NationalIdInformation": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/NationalIdInformation"
          }
        },
        "TransactionVerificationStatus": {
          "$ref": "#/definitions/TransactionVerificationStatus"
        },
        "SelfDeclarationPip": {
          "type": "boolean"
        },
        "IndustryOrNatureOfBusiness": {
          "type": "string"
        },
        "MaritalStatus": {
          "type": "string"
        },
        "MarriedInCommProp": {
          "type": "string"
        },
        "MaritalContract": {
          "type": "string"
        },
        "CommunicationLanguage": {
          "type": "string"
        },
        "EmploymentPosition": {
          "type": "string"
        }
      }
    },
    "Contract": {
      "type": "object",
      "properties": {
        "Territory": {
          "type": "string"
        },
        "DeliveryChannel": {
          "$ref": "#/definitions/DeliveryChannel"
        },
        "StartDate": {
          "type": "string"
        },
        "EndDate": {
          "type": "string"
        },
        "IssueDate": {
          "type": "string"
        },
        "IssuingSystem": {
          "$ref": "#/definitions/IssuingSystem"
        },
        "PremiumAmount": {
          "type": "string"
        },
        "LumpsumInvestmentDate": {
          "type": "string"
        },
        "AnnualLumpsumInvestment": {
          "type": "string"
        },
        "CurrentValue": {
          "type": "string"
        },
        "CurrentValueDate": {
          "type": "string"
        },
        "BusinessUnit": {
          "$ref": "#/definitions/BusinessUnit"
        },
        "SalesCode": {
          "type": "string"
        },
        "SellingImedCode": {
          "type": "string"
        },
        "SellingImedSystem": {
          "type": "string"
        },
        "ProductCode": {
          "type": "string"
        },
        "SequenceNumber": {
          "type": "string"
        },
        "SourceSystemWorkId": {
          "type": "string"
        },
        "WorkId": {
          "type": "string"
        },
        "License": {
          "$ref": "#/definitions/License"
        },
        "Segment": {
          "$ref": "#/definitions/Segment"
        },
        "AMLProductCategory": {
          "type": "string"
        },
        "AMLProductValueAnnual": {
          "type": "string"
        },
        "ProductCurrencyValue": {
          "type": "string"
        },
        "SourceOfFunds": {
          "$ref": "#/definitions/SourceOfFunds"
        },
        "PolicyStatus": {
          "$ref": "#/definitions/PolicyStatus"
        },
        "StatusReason": {
          "type": "string"
        },
        "PremiumFrequency": {
          "$ref": "#/definitions/PremiumFrequency"
        },
        "AnnualPremiumIncrease": {
          "type": "string"
        },
        "AnnualPremiumIncreasePercent": {
          "type": "string"
        },
        "AnnualPremiumIncreaseMonth": {
          "$ref": "#/definitions/AnnualPremiumIncreaseMonth"
        },
        "ProductName": {
          "type": "string"
        },
        "AccountableInstitution": {
          "$ref": "#/definitions/AccountableInstitution"
        },
        "WithholdingAgent": {
          "$ref": "#/definitions/WithholdingAgent"
        },
        "SelfCertificationReason": {
          "$ref": "#/definitions/SelfCertificationReason"
        },
        "SelfCertificationDate": {
          "type": "string"
        },
        "RefNumber": {
          "$ref": "#/definitions/RefNumber"
        },
        "LumpsumInjection": {
          "$ref": "#/definitions/LumpsumInjection"
        },
        "ContractEvent": {
          "$ref": "#/definitions/ContractEvent"
        },
        "ContractAssociations": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/PartyRef"
          }
        }
      }
    },
    "PayerParty": {
      "type": "object",
      "properties": {
        "TypePerson": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/TypePerson"
          }
        },
        "TypeEntity": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/TypeEntity"
          }
        }
      }
    },
    "BeneficiaryParty": {
      "type": "object",
      "properties": {
        "TypePerson": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/TypePerson"
          }
        },
        "TypeEntity": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/TypeEntity"
          }
        }
      }
    },
    "EntityContractingParty": {
      "type": "object",
      "properties": {
        "ContractRole": {
          "$ref": "#/definitions/ContractRole"
        },
        "ContractRoleStartDate": {
          "type": "string"
        },
        "ContractRoleEndDate": {
          "type": "string"
        },
        "PartyIdentifier": {
          "type": "string"
        },
        "PartyType": {
          "type": "string"
        },
        "Actimize_RiskSegmentCode": {
          "type": "string"
        },
        "EntityName": {
          "type": "string"
        },
        "NatureOfEntity": {
          "$ref": "#/definitions/NatureOfEntity"
        },
        "NatureOfEntityCountry": {
          "type": "string"
        },
        "RegistrationNumber": {
          "type": "string"
        },
        "RegistrationDate": {
          "type": "string"
        },
        "RegistrationCountry": {
          "type": "string"
        },
        "RegisteredName": {
          "type": "string"
        },
        "TradingName": {
          "type": "string"
        },
        "CharitableOrganisation": {
          "type": "string"
        },
        "VatNumber": {
          "type": "string"
        },
        "CompanyNameInRegistrationCountry": {
          "type": "string"
        },
        "CountryOfIncorporation": {
          "type": "string"
        },
        "AMLProductValueAnnual": {
          "type": "string"
        },
        "FatcaCrsClassification": {
          "$ref": "#/definitions/FatcaCrsClassification"
        },
        "NonFinancialEntityFatca": {
          "type": "string"
        },
        "NonFinancialEntityCrs": {
          "$ref": "#/definitions/NonFinancialEntityCrs"
        },
        "FinancialInstitutionClassification": {
          "$ref": "#/definitions/FinancialInstitutionClassification"
        },
        "FinancialInstitutionCrsClassification": {
          "type": "string"
        },
        "FinancialInstitutionFatcaClassification": {
          "type": "string"
        },
        "IndustryOrNatureOfBusiness": {
          "type": "string"
        },
        "SourceOfIncome": {
          "$ref": "#/definitions/SourceOfIncome"
        },
        "SourceOfFunds": {
          "$ref": "#/definitions/SourceOfFunds"
        },
        "SourceOfFundsOtherDescription": {
          "type": "string"
        },
        "SourceOfWealth": {
          "$ref": "#/definitions/SourceOfWealth"
        },
        "ReasonForInvesting": {
          "$ref": "#/definitions/ReasonForInvesting"
        },
        "ReasonForInvestingIfOtherDescription": {
          "type": "string"
        },
        "ReasonForPaying": {
          "type": "string"
        },
        "PercentageOwnership": {
          "type": "string"
        },
        "OwnGIIN": {
          "type": "string"
        },
        "GIINSponsorName": {
          "type": "string"
        },
        "SponsorGIIN": {
          "type": "string"
        },
        "PersonalEmail": {
          "type": "string"
        },
        "BusinessEmail": {
          "type": "string"
        },
        "ForeignKeyInformation": {
          "$ref": "#/definitions/ForeignKeyInformation"
        },
        "MobileTelephone": {
          "$ref": "#/definitions/MobileTelephone"
        },
        "BusinessTelephone": {
          "$ref": "#/definitions/BusinessTelephone"
        },
        "Taxation": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Taxation"
          }
        },
        "PostalAddress": {
          "$ref": "#/definitions/PostalAddress"
        },
        "RegisteredAddress": {
          "$ref": "#/definitions/RegisteredAddress"
        },
        "TradingAddress": {
          "$ref": "#/definitions/TradingAddress"
        },
        "PhysicalAddress": {
          "$ref": "#/definitions/RegisteredAddress"
        },
        "TransactionVerificationStatus": {
          "$ref": "#/definitions/TransactionVerificationStatus"
        },
        "Documentation": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Documentation"
          }
        },
        "AssociatedParties": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/AssociatedParty"
          }
        },
        "SelfDeclarationPip": {
          "type": "boolean"
        },
        "NatureOfIndustryOrBusiness": {
          "type": "string"
        },
        "CommunicationLanguage": {
          "type": "string"
        }
      }
    },
    "LumpsumInjection": {
      "type": "object",
      "properties": {
        "Total": {
          "type": "string"
        }
      }
    },
    "PreviousNames": {
      "type": "object",
      "properties": {
        "FirstName": {
          "type": "string"
        },
        "LastName": {
          "type": "string"
        }
      }
    },
    "ForeignKeyInformation": {
      "type": "object",
      "properties": {
        "ForeignKeySourceSystem": {
          "type": "string"
        },
        "ForeignKey": {
          "type": "string"
        }
      }
    },
    "Taxation": {
      "type": "object",
      "properties": {
        "TaxNumber": {
          "type": "string"
        },
        "TaxResident": {
          "type": "boolean"
        },
        "TaxResidencyType": {
          "type": "string"
        },
        "CountryOfTaxNumber": {
          "type": "string"
        },
        "TaxNumberStartDate": {
          "type": "string"
        },
        "TaxNumberEndDate": {
          "type": "string"
        },
        "NonProvisionReason": {
          "$ref": "#/definitions/NonProvisionReason"
        },
        "NonProvisionReasonDetail": {
          "type": "string"
        },
        "CountryofTaxResidency": {
          "type": "string"
        },
        "TaxResidencyStartDate": {
          "type": "string"
        },
        "TaxResidencyEndDate": {
          "type": "string"
        },
        "SelfCertificationReason": {
          "$ref": "#/definitions/SelfCertificationReason"
        },
        "DateSigned": {
          "type": "string"
        },
        "SelfCertificationDate": {
          "type": "string"
        },
        "AccountableInstitution": {
          "$ref": "#/definitions/AccountableInstitution"
        },
        "CountryofTaxResidencyStartDate": {
          "type": "string"
        },
        "IWT": {
          "$ref": "#/definitions/IWT"
        },
        "DWT": {
          "$ref": "#/definitions/DWT"
        }
      }
    },
    "MobileTelephone": {
      "type": "object",
      "properties": {
        "Country": {
          "type": "string"
        },
        "DialingCode": {
          "type": "string"
        },
        "PhoneNumber": {
          "type": "string"
        }
      }
    },
    "ResidentialTelephone": {
      "type": "object",
      "properties": {
        "Country": {
          "type": "string"
        },
        "DialingCode": {
          "type": "string"
        },
        "PhoneNumber": {
          "type": "string"
        }
      }
    },
    "BusinessTelephone": {
      "type": "object",
      "properties": {
        "Country": {
          "type": "string"
        },
        "DialingCode": {
          "type": "string"
        },
        "PhoneNumber": {
          "type": "string"
        }
      }
    },
    "PostalAddress": {
      "type": "object",
      "properties": {
        "Line1": {
          "type": "string"
        },
        "Line2": {
          "type": "string"
        },
        "Line3": {
          "type": "string"
        },
        "Line4": {
          "type": "string"
        },
        "PostalCode": {
          "type": "string"
        },
        "City": {
          "type": "string"
        },
        "Country": {
          "type": "string"
        },
        "CareOfAddress": {
          "$ref": "#/definitions/CareOfAddress"
        },
        "CareOfName": {
          "type": "string"
        }
      }
    },
    "ResidentialAddress": {
      "type": "object",
      "properties": {
        "Line1": {
          "type": "string"
        },
        "Line2": {
          "type": "string"
        },
        "Line3": {
          "type": "string"
        },
        "Line4": {
          "type": "string"
        },
        "PostalCode": {
          "type": "string"
        },
        "City": {
          "type": "string"
        },
        "Country": {
          "type": "string"
        },
        "CareOfAddress": {
          "$ref": "#/definitions/CareOfAddress"
        },
        "CareOfName": {
          "type": "string"
        }
      }
    },
    "Documentation": {
      "type": "object",
      "properties": {
        "VerificationCategory": {
          "$ref": "#/definitions/VerificationCategory"
        },
        "DocumentEndDate": {
          "type": "string"
        },
        "AccountableInstitution": {
          "$ref": "#/definitions/AccountableInstitution"
        },
        "WithholdingAgent": {
          "$ref": "#/definitions/WithholdingAgent"
        },
        "DocumentName": {
          "type": "string"
        },
        "VerificationDocument": {
          "$ref": "#/definitions/VerificationDocument"
        },
        "DocumentNames": {
          "type": "string"
        },
        "DocumentURL": {
          "type": "string"
        }
      }
    },
    "AssociatedParty": {
      "type": "object",
      "properties": {
        "PartyIdentifier": {
          "type": "string"
        },
        "PartyType": {
          "type": "string"
        },
        "AssociatedRole": {
          "$ref": "#/definitions/AssociatedRole"
        },
        "AssociatedStartDate": {
          "type": "string"
        },
        "AssociatedEndDate": {
          "type": "string"
        },
        "Title": {
          "type": "string"
        },
        "FirstName": {
          "type": "string"
        },
        "LastName": {
          "type": "string"
        },
        "Initials": {
          "type": "string"
        },
        "Gender": {
          "$ref": "#/definitions/Gender"
        },
        "DateOfBirth": {
          "type": "string"
        },
        "DateOfDeath": {
          "type": "string"
        },
        "Nationality": {
          "type": "string"
        },
        "NationalityStartDate": {
          "type": "string"
        },
        "CountryOfBirth": {
          "type": "string"
        },
        "SourceOfIncome1": {
          "type": "string"
        },
        "EmploymentPositionPIP": {
          "$ref": "#/definitions/EmploymentPositionPIP"
        },
        "PersonalEmail": {
          "type": "string"
        },
        "BusinessEmail": {
          "type": "string"
        },
        "ForeignKeyInformation": {
          "$ref": "#/definitions/ForeignKeyInformation"
        },
        "NationalIdInformation": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/NationalIdInformation"
          }
        },
        "MobileTelephone": {
          "$ref": "#/definitions/MobileTelephone"
        },
        "ResidentialTelephone": {
          "$ref": "#/definitions/ResidentialTelephone"
        },
        "BusinessTelephone": {
          "$ref": "#/definitions/BusinessTelephone"
        },
        "PostalAddress": {
          "$ref": "#/definitions/PostalAddress"
        },
        "ResidentialAddress": {
          "$ref": "#/definitions/ResidentialAddress"
        },
        "PhysicalAddress": {
          "$ref": "#/definitions/ResidentialAddress"
        },
        "ContractParty": {
          "$ref": "#/definitions/ContractParty"
        },
        "Documentation": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Documentation"
          }
        },
        "TransactionVerificationStatus": {
          "$ref": "#/definitions/TransactionVerificationStatus"
        }
      }
    },
    "NationalIdInformation": {
      "type": "object",
      "properties": {
        "IdentificationNumber": {
          "type": "string"
        },
        "IdentificationType": {
          "$ref": "#/definitions/IdentificationType"
        },
        "CountryOfIssue": {
          "type": "string"
        },
        "VisaPermitType": {
          "type": "string"
        },
        "ReasonForNoVisaOrPermitNR": {
          "type": "string"
        },
        "IssueDate": {
          "type": "string"
        },
        "ExpiryDate": {
          "type": "string"
        }
      }
    },
    "RefNumber": {
      "type": "object",
      "properties": {
        "ProposalNumber": {
          "type": "string"
        },
        "PolicyNumber": {
          "type": "string"
        }
      }
    },
    "ContractEvent": {
      "type": "object",
      "properties": {
        "Event": {
          "type": "string"
        }
      }
    },
    "TypePerson": {
      "type": "object",
      "properties": {
        "ContractingParty": {
          "type": "string"
        },
        "Associatedparty": {
          "type": "string"
        },
        "ContractRole": {
          "$ref": "#/definitions/ContractRole"
        },
        "PartyIdentifier": {
          "type": "string"
        },
        "PartyType": {
          "type": "string"
        },
        "Title": {
          "type": "string"
        },
        "FirstName": {
          "type": "string"
        },
        "LastName": {
          "type": "string"
        },
        "Initials": {
          "type": "string"
        },
        "Gender": {
          "$ref": "#/definitions/Gender"
        },
        "DateOfBirth": {
          "type": "string"
        },
        "DateOfDeath": {
          "type": "string"
        },
        "NatureOfIndividual": {
          "type": "string"
        },
        "CommunicationLanguage": {
          "type": "string"
        },
        "MaritalStatus": {
          "type": "string"
        },
        "MaritalContract": {
          "type": "string"
        },
        "MaritalStatusDate": {
          "type": "string"
        },
        "Nationality": {
          "type": "string"
        },
        "NationalityStartDate": {
          "type": "string"
        },
        "CountryOfBirth": {
          "type": "string"
        },
        "ContractRoleStartDate": {
          "type": "string"
        },
        "ContractRoleEndDate": {
          "type": "string"
        },
        "PayerSourceOfFunds": {
          "$ref": "#/definitions/SourceOfFunds"
        },
        "PayerSourceOfFundsOtherDescription": {
          "type": "string"
        },
        "PayerRelationshiptoCP": {
          "type": "string"
        },
        "PayerRelationshipWithCPOrOwner": {
          "$ref": "#/definitions/PayerRelationshipWithCPOrOwner"
        },
        "PayerRelationshipWithCPOrOwnerIfOtherDescription": {
          "type": "string"
        },
        "PayerReasonForPayingOnBehalfOfOwner": {
          "type": "string"
        },
        "RelationshiptoCPCode": {
          "$ref": "#/definitions/RelationshiptoCPCode"
        },
        "PaymentReason": {
          "type": "string"
        },
        "ReasonForInvesting": {
          "$ref": "#/definitions/ReasonForInvesting"
        },
        "ReasonForInvestingIfOtherDescription": {
          "type": "string"
        },
        "ReasonForPaying": {
          "type": "string"
        },
        "PercentageOwnership": {
          "type": "string"
        },
        "SourceOfIncome": {
          "$ref": "#/definitions/SourceOfIncome"
        },
        "SourceOfWealth": {
          "$ref": "#/definitions/SourceOfWealth"
        },
        "SourceOfFunds": {
          "$ref": "#/definitions/SourceOfFunds"
        },
        "SourceOfIncomeOtherDescription": {
          "type": "string"
        },
        "SecondarySourceOfIncome": {
          "type": "string"
        },
        "Industry": {
          "$ref": "#/definitions/Industry"
        },
        "EmploymentPositionPIP": {
          "$ref": "#/definitions/EmploymentPositionPIP"
        },
        "Occupation": {
          "type": "string"
        },
        "EmploymentStatus": {
          "$ref": "#/definitions/EmploymentStatus"
        },
        "PersonalEmail": {
          "type": "string"
        },
        "BusinessEmail": {
          "type": "string"
        },
        "Taxation": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Taxation"
          }
        },
        "PreviousNames": {
          "$ref": "#/definitions/PreviousNames"
        },
        "ForeignKeyInformation": {
          "$ref": "#/definitions/ForeignKeyInformation"
        },
        "NationalIdInformation": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/NationalIdInformation"
          }
        },
        "MobileTelephone": {
          "$ref": "#/definitions/MobileTelephone"
        },
        "ResidentialTelephone": {
          "$ref": "#/definitions/ResidentialTelephone"
        },
        "BusinessTelephone": {
          "$ref": "#/definitions/BusinessTelephone"
        },
        "PostalAddress": {
          "$ref": "#/definitions/PostalAddress"
        },
        "ResidentialAddress": {
          "$ref": "#/definitions/ResidentialAddress"
        },
        "PhysicalAddress": {
          "$ref": "#/definitions/ResidentialAddress"
        },
        "ContractRoleReferenceTo": {
          "$ref": "#/definitions/ContractRoleReferenceTo"
        },
        "Documentation": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Documentation"
          }
        },
        "AssociatedParties": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/AssociatedParty"
          }
        },
        "TransactionVerificationStatus": {
          "$ref": "#/definitions/TransactionVerificationStatus"
        },
        "IndustryOrNatureOfBusiness": {
          "type": "string"
        },
        "EmploymentPosition": {
          "type": "string"
        }
      }
    },
    "TypeEntity": {
      "type": "object",
      "properties": {
        "ContractingParty": {
          "type": "string"
        },
        "Associatedparty": {
          "type": "string"
        },
        "ContractRole": {
          "$ref": "#/definitions/ContractRole"
        },
        "PartyIdentifier": {
          "type": "string"
        },
        "PartyType": {
          "type": "string"
        },
        "EntityName": {
          "type": "string"
        },
        "NatureOfEntity": {
          "$ref": "#/definitions/NatureOfEntity"
        },
        "NatureOfEntityCountry": {
          "type": "string"
        },
        "RegistrationNumber": {
          "type": "string"
        },
        "RegistrationDate": {
          "type": "string"
        },
        "RegistrationCountry": {
          "type": "string"
        },
        "RegisteredName": {
          "type": "string"
        },
        "TradingName": {
          "type": "string"
        },
        "CharitableOrganisation": {
          "type": "string"
        },
        "VatNumber": {
          "type": "string"
        },
        "CompanyForm": {
          "type": "string"
        },
        "CompanyNameInRegistrationCountry": {
          "type": "string"
        },
        "CountryOfIncorporation": {
          "type": "string"
        },
        "ContractRoleStartDate": {
          "type": "string"
        },
        "ContractRoleEndDate": {
          "type": "string"
        },
        "PayerSourceOfFunds": {
          "$ref": "#/definitions/SourceOfFunds"
        },
        "PayerSourceOfFundsOtherDescription": {
          "type": "string"
        },
        "PayerRelationshiptoCP": {
          "type": "string"
        },
        "PayerRelationshipWithCPOrOwner": {
          "$ref": "#/definitions/PayerRelationshipWithCPOrOwner"
        },
        "PayerRelationshipWithCPOrOwnerIfOtherDescription": {
          "type": "string"
        },
        "PayerReasonForPayingOnBehalfOfOwner": {
          "type": "string"
        },
        "RelationshiptoCPCode": {
          "$ref": "#/definitions/RelationshiptoCPCode"
        },
        "PaymentReason": {
          "type": "string"
        },
        "ReasonForInvesting": {
          "$ref": "#/definitions/ReasonForInvesting"
        },
        "ReasonForInvestingIfOtherDescription": {
          "type": "string"
        },
        "ReasonForPaying": {
          "type": "string"
        },
        "PercentageOwnership": {
          "type": "string"
        },
        "AMLProductValueAnnual": {
          "type": "string"
        },
        "FatcaCrsClassification": {
          "$ref": "#/definitions/FatcaCrsClassification"
        },
        "NonFinancialEntityFatca": {
          "type": "string"
        },
        "NonFinancialEntityCrs": {
          "$ref": "#/definitions/NonFinancialEntityCrs"
        },
        "FinancialInstitutionFatcaClassification": {
          "type": "string"
        },
        "FinancialInstitutionCrsClassification": {
          "type": "string"
        },
        "FinancialInstitutionClassification": {
          "$ref": "#/definitions/FinancialInstitutionClassification"
        },
        "IndustryOrNatureOfBusiness": {
          "type": "string"
        },
        "SourceOfIncome": {
          "$ref": "#/definitions/SourceOfIncome"
        },
        "SourceOfWealth": {
          "$ref": "#/definitions/SourceOfWealth"
        },
        "SourceOfFunds": {
          "$ref": "#/definitions/SourceOfFunds"
        },
        "OwnGIIN": {
          "type": "string"
        },
        "GIINSponsorName": {
          "type": "string"
        },
        "SponsorGIIN": {
          "type": "string"
        },
        "PersonalEmail": {
          "type": "string"
        },
        "BusinessEmail": {
          "type": "string"
        },
        "ForeignKeyInformation": {
          "$ref": "#/definitions/ForeignKeyInformation"
        },
        "MobileTelephone": {
          "$ref": "#/definitions/MobileTelephone"
        },
        "BusinessTelephone": {
          "$ref": "#/definitions/BusinessTelephone"
        },
        "Taxation": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Taxation"
          }
        },
        "PostalAddress": {
          "$ref": "#/definitions/PostalAddress"
        },
        "RegisteredAddress": {
          "$ref": "#/definitions/RegisteredAddress"
        },
        "TradingAddress": {
          "$ref": "#/definitions/TradingAddress"
        },
        "PhysicalAddress": {
          "$ref": "#/definitions/RegisteredAddress"
        },
        "Documentation": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Documentation"
          }
        },
        "AssociatedParties": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/AssociatedParty"
          }
        },
        "ContractRoleReferenceTo": {
          "$ref": "#/definitions/ContractRoleReferenceTo"
        },
        "TransactionVerificationStatus": {
          "$ref": "#/definitions/TransactionVerificationStatus"
        }
      }
    },
    "RegisteredAddress": {
      "type": "object",
      "properties": {
        "Line1": {
          "type": "string"
        },
        "Line2": {
          "type": "string"
        },
        "Line3": {
          "type": "string"
        },
        "Line4": {
          "type": "string"
        },
        "PostalCode": {
          "type": "string"
        },
        "City": {
          "type": "string"
        },
        "Country": {
          "type": "string"
        },
        "CareOfAddress": {
          "$ref": "#/definitions/CareOfAddress"
        },
        "CareOfName": {
          "type": "string"
        }
      }
    },
    "TradingAddress": {
      "type": "object",
      "properties": {
        "Line1": {
          "type": "string"
        },
        "Line2": {
          "type": "string"
        },
        "Line3": {
          "type": "string"
        },
        "Line4": {
          "type": "string"
        },
        "PostalCode": {
          "type": "string"
        },
        "City": {
          "type": "string"
        },
        "Country": {
          "type": "string"
        },
        "CareOfAddress": {
          "$ref": "#/definitions/CareOfAddress"
        },
        "CareOfName": {
          "type": "string"
        }
      }
    },
    "IWT": {
      "type": "object",
      "properties": {
        "IwtCertificateType": {
          "type": "string"
        },
        "IwtWithholdingAgent": {
          "type": "string"
        },
        "IwtTaxResidencyCountry": {
          "type": "string"
        },
        "IwtCertificateDateSigned": {
          "type": "string"
        },
        "IwtExemptionCode": {
          "type": "string"
        },
        "IwtExemptionCodeStartDate": {
          "type": "string"
        },
        "IwtExemptionCodeEndDate": {
          "type": "string"
        },
        "IwtDtaPercentage": {
          "type": "string"
        },
        "IwtDtaPercentageStartDate": {
          "type": "string"
        },
        "IwtDtaPercentageEndDate": {
          "type": "string"
        }
      }
    },
    "DWT": {
      "type": "object",
      "properties": {
        "DwtCertificateType": {
          "type": "string"
        },
        "DwtWithholdingAgent": {
          "type": "string"
        },
        "DwtTaxResidencyCountry": {
          "type": "string"
        },
        "DwtCertificationDateSigned": {
          "type": "string"
        },
        "DwtExemptionCode": {
          "type": "string"
        },
        "DwtExemptionCodeStartDate": {
          "type": "string"
        },
        "DwtExemptionCodeEndDate": {
          "type": "string"
        },
        "DwtDtaPercentage": {
          "type": "string"
        },
        "DwtDtaPercentageStartDate": {
          "type": "string"
        },
        "DwtDtaPercentageEndDate": {
          "type": "string"
        }
      }
    },
    "ContractParty": {
      "type": "object",
      "properties": {
        "Event": {
          "type": "string"
        },
        "NationalIdInformation": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/NationalIdInformation"
          }
        },
        "EntityInformation": {
          "$ref": "#/definitions/EntityInformation"
        },
        "ForeignKeyInformation": {
          "$ref": "#/definitions/ForeignKeyInformation"
        },
        "TransactionVerificationStatus": {
          "$ref": "#/definitions/TransactionVerificationStatus"
        }
      }
    },
    "ContractRoleReferenceTo": {
      "type": "object",
      "properties": {
        "Event": {
          "$ref": "#/definitions/ContractRoleEventType"
        },
        "NationalIdInformation": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/NationalIdInformation"
          }
        },
        "ForeignKeyInformation": {
          "$ref": "#/definitions/ForeignKeyInformation"
        },
        "ContractInformation": {
          "$ref": "#/definitions/ContractInformation"
        },
        "EntityInformation": {
          "$ref": "#/definitions/EntityInformation"
        }
      }
    },
    "EntityInformation": {
      "type": "object",
      "properties": {
        "CompanyForm": {
          "type": "string"
        },
        "RegistrationNumber": {
          "type": "string"
        },
        "CountryOfIncorporation": {
          "type": "string"
        },
        "EntityName": {
          "type": "string"
        }
      }
    },
    "ContractInformation": {
      "type": "object",
      "properties": {
        "RefNumber": {
          "$ref": "#/definitions/RefNumber"
        },
        "ProductCode": {
          "type": "string"
        },
        "SequenceNumber": {
          "type": "string"
        }
      }
    },
    "TransactionVerificationStatus": {
      "type": "string",
      "enum": [
        "VERIFIED",
        "NOT_YET_VERIFIED"
      ]
    },
    "AccountableInstitution": {
      "type": "string",
      "enum": [
        "ACSIS Licence Group (Pty) Ltd  - FSP",
        "Adviceworx (Pty) Ltd - FSP",
        "Old Mutual Alternative Risk Transfer Limited  - LTI",
        "Old Mutual Alternative Solutions Limited",
        "Old Mutual Alternative Solutions Limited  - LTI",
        "Old Mutual Finance Namibia",
        "Old Mutual Finance South Africa",
        "Old Mutual Investment Administrators Pty (Ltd)",
        "Old Mutual Investment Services (Pty) Limited (OMIS) - FSP",
        "Old Mutual Life Assurance Company (Namibia) Limited",
        "Old Mutual Life Assurance Company (South Africa) Limited",
        "Old Mutual Life Assurance Company (South Africa) Limited  - FSP",
        "Old Mutual Life Assurance Company (South Africa) Limited  - LTI",
        "Old Mutual Property (Pty) Ltd",
        "Old Mutual Property (Pty) Ltd - OMP",
        "Old Mutual Short Term Insurance Company",
        "Old Mutual Unit Trust Managers (RF) (Pty) Ltd (OMUT) - CIS",
        "Old Mutual Unit Trusts Namibia",
        "Old Mutual Wealth Namibia",
        "Old Mutual Wealth Trust Company (Pty) Ltd",
        "Old Mutual Wealth Trust Company (Pty) Ltd - FSP",
        "Strategic Investment Services Management Company (RF) Pty Ltd - CIS"
      ]
    },
    "AnnualPremiumIncreaseMonth": {
      "type": "string",
      "enum": [
        "January",
        "February",
        "March",
        "April",
        "May",
        "June",
        "July",
        "August",
        "September",
        "October",
        "November",
        "December"
      ]
    },
    "AssociatedRole": {
      "type": "string",
      "enum": [
        "ADD",
        "TERMINATE",
        "UPDATE",
        "AUTHORISED PERSON",
        "BENEFICIAL OWNER",
        "BENEFICIARY",
        "CHAIRPERSON",
        "CONTROLLING PARTY",
        "DIRECTOR",
        "DONOR",
        "EXECUTIVE MANAGER",
        "EXECUTIVE PARTNER",
        "EXECUTOR",
        "FOUNDER",
        "LEGAL GUARDIAN",
        "MANAGER",
        "MANDATED OFFICIAL",
        "MEMBER",
        "MINISTER",
        "NATURAL GUARDIAN",
        "PARTNER",
        "POWER OF ATTORNEY",
        "PRINCIPAL OFFICER",
        "PROTECTOR",
        "PURCHASER",
        "SETTLOR",
        "SHAREHOLDER",
        "TRUSTEE"
      ]
    },
    "BusinessUnit": {
      "type": "string",
      "enum": [
        "Mass Foundation Cluster",
        "Old Mutual International",
        "Unit Trust",
        "Wealth",
        "Personal Finance",
        "MFAGNFRNZA",
        "MFDIRECTZA",
        "MFADVICENA",
        "MFADVICEZA",
        "MFBRKDISTNA",
        "MFBRKDISTZA",
        "PFAGNFRNZA",
        "PFDIRECTZA",
        "PFADVICENA",
        "PFADVICEZA",
        "BRKDISTNA",
        "BRKDISTZA",
        "iWyze",
        "OMCCRM",
        "OMF NAM",
        "OMF ZAF",
        "PFDIGITZA",
        "PFOFCSTZA",
        "PFOFCSTNA",
        "PFOMAS",
        "PFOMAZ",
        "Corporate"
      ]
    },
    "CareOfAddress": {
      "type": "string",
      "enum": [
        "No",
        "Yes"
      ]
    },
    "ContractRoleEvent": {
      "type": "string",
      "enum": [
        "ADD",
        "BULK_OWNERSHIP_CHANGE",
        "PAYOUT",
        "TERMINATE",
        "UPDATE"
      ]
    },
    "ContractRole": {
      "type": "string",
      "enum": [
        "ANNUITANT",
        "PAYER",
        "BENEFICIARY",
        "CESSIONARY",
        "OWNER",
        "PAYEE"
      ]
    },
    "DeliveryChannel": {
      "type": "string",
      "enum": [
        "Face-to-Face",
        "Non Face-to-Face"
      ]
    },
    "DWTExemptionCode": {
      "type": "string",
      "enum": [
        "A - A company which is a SA resident",
        "B - The government a provincial administrator of a municipality",
        "C - A public benefit organisation approved by the commissioner in terms of section 30(3) (could be local or foreign but must be approved);",
        "D - A trust contemplated in section 37a (i.e. Rehabilitation Trust);",
        "E - An institution board or body contemplated in section 10(1)(ca) (ex. Water Board Tribal Authority etc);",
        "F - A fund contemplated in section 10(1)(d)(i) or (ii) (i.e. Pension/Provident/RA/Benefit Fund);",
        "G - A person contemplated in section 10(1)(t) (ex. CSIR SANRAL ARMSCOR Development Bank of SA etc);",
        "I - A small business funding entity as contemplated in section 10(1)(cQ)",
        "J - A person that is not a resident and the dividend is a dividend contemplated in paragraph (b) of the definition of \u2018dividend\u2019 in section 64D (i.e. Non-resident company listed on the JSE).",
        "L - Any person insofar as the dividend constitutes income of that person",
        "N - Fidelity and indemnity funds contemplated in section 10(1)(d)(iii) \u2013 i.e. Only the two not the other entities mentioned",
        "None",
        "X - Other \u2013 Not available for selection currently (placeholder for future legislation)",
        "Y - Double taxation agreements (Refer Annexure 6 \u2013applicable only where DTA is 0%)",
        "Z - Other international agreements"
      ]
    },
    "EmploymentPositionPIP": {
      "type": "string",
      "enum": [
        "Chairperson of the audit committee",
        "Chairperson of the board of directors",
        "Chief financial officer",
        "Executive officer"
      ]
    },
    "EmploymentStatus": {
      "type": "string",
      "enum": [
        "Employed",
        "Pension",
        "Self-Employed",
        "Unemployed"
      ]
    },
    "FatcaCrsClassification": {
      "type": "string",
      "enum": [
        "Financial Institution",
        "Non-financial entity"
      ]
    },
    "FinancialInstitutionClassification": {
      "type": "string",
      "enum": [
        "Deemed Compliant Foreign institution",
        "Exempt Beneficial Owner (EBO)",
        "Financial Institution that is located in a jurisdiction that does not have an IGA with the US",
        "Reporting Financial Institution"
      ]
    },
    "Gender": {
      "type": "string",
      "enum": [
        "Female",
        "Male"
      ]
    },
    "IdentificationType": {
      "type": "string",
      "enum": [
        "ID",
        "PASSPORT",
        "REFUGEE ID",
        "VISA/PERMIT"
      ]
    },
    "Industry": {
      "type": "string",
      "enum": [
        "Administrative and Support Service",
        "Adult Entertainment",
        "Agriculture Forestry and Fishing",
        "Animals & Conservation",
        "Arms Manufacturers and Dealers",
        "Art Dealer",
        "Art Dealer of high value goods",
        "Arts Entertainment and Recreation",
        "Atomic/ Nuclear power generation",
        "Construction and Infrastructure",
        "Cryptocurrency assets",
        "Education Healthcare and Social work",
        "Financial and Insurance",
        "Gambling Industry (Casino slot machines betting)",
        "Hospitality",
        "Imports/Exports: Agriculture/Forestry and Fishing",
        "Imports/Exports: High cash generating provide details below",
        "Imports/Exports: High value goods provide details below",
        "Information Communication and Technology",
        "Manufacturing",
        "Manufacturing (Import/Export)",
        "Manufacturing (Non-Import/Export)",
        "Mining / Extraction of precious metals and minerals: Extractive industries",
        "Mining / Extraction of precious metals and minerals: High value goods",
        "Mining / Extraction of precious metals and minerals: Imports/Exports",
        "Motor trade / dealership",
        "Motor trade / dealership: High cash value",
        "Motor trade / dealership: Imports/Exports",
        "None",
        "Non-Profit Organisation NGO etc.",
        "Professional Services",
        "Public Sector: Defence and Safety",
        "Public Sector: Procurement Infrastructure and Administration",
        "Real Estate and Property",
        "Real Estate: Development Sales and/or Letting",
        "Real Estate: Development Sales and/or Letting - High cash generating",
        "Red light / Adult Entertainment Industry",
        "Regulated/Registered charities/Non-Profit Organisation/NGO: High cash generating",
        "Regulated/Registered charities/NPO/NGO",
        "Science and Laboratories",
        "Transporting Storage and Logistics (excluding imports/exports)",
        "Unregulated/Unregistered charities/Non-Profit Organisation/NGO: High cash generating",
        "Unregulated/Unregistered charities/NPO/NGO",
        "Utilities",
        "Virtual Asset Service Providers",
        "Wholesale and Retail trade",
        "Wholesale and Retail trade: High cash generating",
        "Wholesale and Retail trade: High value goods",
        "Import/Exports: Other"
      ]
    },
    "IssuingSystem": {
      "type": "string",
      "enum": [
        "BANCS",
        "BANCS3",
        "BANCSCB",
        "COMPASS",
        "CONVENTIONAL",
        "FLEXCUBE",
        "FLEXI",
        "IMS",
        "OMCCRM",
        "OMEGA1",
        "OMEGA2",
        "OMEGA3",
        "oneFM",
        "PCS",
        "PENCARE",
        "PIPP",
        "RPS",
        "Summit",
        "Vantage",
        "ZEUS",
        "iWyze",
        "SYMMETRY"
      ]
    },
    "IWTExemptionCode": {
      "type": "string",
      "enum": [
        "F - S. 50D (3) (a) \u2013 Foreign (natural) person physically present in SA for more than 183 days in aggregate during the twelve months prior to payment",
        "G - S. 50d (3)(b) \u2013 Debt claim connected with a permanent establishment in the Republic (and the foreign person is registered as a taxpayer in SA)",
        "H - Exempt / Not taxable in terms of a Double Taxation Agreement (Refer Annexure 7 \u2013applicable only where DTA is 0%)",
        "I - Exempt / Not taxable in terms of another international agreement",
        "X - Other \u2013 Not available for selection currently (placeholder for future legislation)"
      ]
    },
    "License": {
      "type": "string",
      "enum": [
        "LIFE",
        "CIS",
        "LISP",
        "NCRCP",
        "MLA",
        "OMWTC"
      ]
    },
    "NatureOfEntity": {
      "type": "string",
      "enum": [
        "Close corporation",
        "Government/Provincial Administration/Municipality or Government/Provincial Administration/Municipality owned company",
        "Investment Club/Stokvel",
        "Listed company",
        "Other entity types (club association informal body burial society church school)",
        "Other funds",
        "Partnership",
        "Private Company",
        "Retirement fund",
        "Special Trust",
        "Trust",
        "Unlisted Public Company",
        "Natural Person",
        "Non Profit Organisation(NPO)",
        "Non Government Organisation(NGO)"
      ]
    },
    "NonFinancialEntityCrs": {
      "type": "string",
      "enum": [
        "Active NFE (ANFE)",
        "Active NFE (ANFEG)",
        "Active NFE (ANFEL)",
        "Passive NFE (PNFENF)",
        "Active NFFE (ANFFE)",
        "Passive NFFE (PNFE/PHFE)",
        "Specified US person (SPR)",
        "US person that is not a Specified US person (USP)"
      ]
    },
    "NonProvisionReason": {
      "type": "string",
      "enum": [
        "Reason A: My country does not issue TINs/FEs to its tax residents",
        "Reason B: I am not required to register for a TIN/FE with my tax authority as my income is less than that required for mandatory registration.",
        "Reason B: I am unable to obtain a TIN/FE (please specify reason)",
        "Reason B: Registration with my tax authority is not mandatory and I have not registered.",
        "Reason C: My tax authority does not require me to provide a TIN/FE"
      ]
    },
    "PayerRelationshipWithCPOrOwner": {
      "type": "string",
      "enum": [
        "Authorised Person",
        "Donor",
        "Employer/Employee",
        "Family",
        "Friend",
        "Partner",
        "Spouse",
        "Beneficiary of a Trust",
        "Founder",
        "Manager",
        "Member",
        "Beneficial Owner",
        "Protector",
        "Settlor",
        "Trustee",
        "Individual"
      ]
    },
    "PolicyStatus": {
      "type": "string",
      "enum": [
        "Active",
        "Inactive"
      ]
    },
    "PremiumFrequency": {
      "type": "string",
      "enum": [
        "Annually",
        "Biannually",
        "Monthly",
        "Quarterly",
        "Single"
      ]
    },
    "ProductCurrency": {
      "type": "string",
      "enum": [
        "NAD",
        "ZAR"
      ]
    },
    "ReasonForInvesting": {
      "type": "string",
      "enum": [
        "Education",
        "Health",
        "Other",
        "Retirement",
        "Saving",
        "Funeral",
        "Car / home insurance",
        "Investment",
        "Employee Benefits",
        "LifeCover",
        "Loan"
      ]
    },
    "RelationshiptoCPCode": {
      "type": "string",
      "enum": [
        "Authorised Person",
        "Donor",
        "Employer/Employee",
        "Family",
        "Friend",
        "Partner",
        "Spouse",
        "Beneficiary of a Trust",
        "Founder",
        "Manager",
        "Member",
        "Beneficial Owner",
        "Protector",
        "Settlor",
        "Trustee",
        "Individual"
      ]
    },
    "Segment": {
      "type": "string",
      "enum": [
        "MASS FOUNDATION",
        "PERSONAL FINANCE",
        "CORPORATE",
        "WEALTH",
        "iWyze",
        "Old Mutual Finance"
      ]
    },
    "SelfCertificationReason": {
      "type": "string",
      "enum": [
        "Back book search",
        "Change in circumstance",
        "Change in ownership",
        "Change in portfolio value",
        "Due Diligence",
        "Failed verification",
        "New Account"
      ]
    },
    "SourceOfFunds": {
      "type": "string",
      "enum": [
        "Annuity Payment",
        "Bonus/Profit Share",
        "Commission",
        "Company/entity profits",
        "Compensation payment/Arbitration award",
        "Contributions",
        "Director's remuneration",
        "Disability Grants",
        "Donation/Gift",
        "Gratuities/Tips",
        "Income protection payment",
        "Independent contractor/Labour broker",
        "Inheritance",
        "Investments",
        "Loan",
        "Maintenance Support",
        "Maturing investment/Policy claim",
        "Monthly Pension",
        "Pension Payout",
        "Provident/Preservation Provident fund",
        "Restraint of trade payment",
        "Salary",
        "Sale of asset",
        "Savings",
        "Scholarship/Bursary",
        "Self-Employed/Own Business",
        "Third party funds",
        "Third party payer",
        "Winnings - Lottery Gambling"
      ]
    },
    "SourceOfIncome": {
      "type": "string",
      "enum": [
        "Annuity Payment",
        "Commission",
        "Company/entity profits",
        "Contributions",
        "Director's remuneration",
        "Disability Grants",
        "Donation/Gift",
        "Gratuities/Tips",
        "Income protection payment",
        "Independent contractor/Labour broker",
        "Inheritance",
        "Investments",
        "Loan",
        "Maintenance Support",
        "Monthly Pension",
        "Salary",
        "Scholarship/Bursary",
        "Self-Employed/Own Business",
        "Third party funds",
        "Third Party (Spouse/Partner/Family Member)",
        "Winnings - Lottery Gambling"
      ]
    },
    "SourceOfWealth": {
      "type": "string",
      "enum": [
        "Company/entity profits",
        "Inheritance",
        "Investments",
        "Pension Payout",
        "Provident/Preservation Provident fund",
        "Savings",
        "Donations"
      ]
    },
    "SourceSystem": {
      "type": "string",
      "enum": [
        "BANCS",
        "BANCS3",
        "BIZAGI",
        "BIZAGI_DEV",
        "BIZAGI_DIT",
        "BIZAGI_ST",
        "BIZAGI_UAT3",
        "BIZAGI_PP",
        "BIZAGI_NFR",
        "BIZAGI_QA",
        "BPM",
        "BPM_DEV",
        "COMPASS",
        "CONVENTIONAL",
        "Craft",
        "DHA",
        "FLEXCUBE",
        "FLEXI",
        "GCS",
        "IBC",
        "INDIGO",
        "OMEGA2",
        "OMEGA3",
        "oneFM",
        "PCS",
        "PENCARE",
        "RPS",
        "Summit NAM",
        "Summit ZAF",
        "SYMMETRY",
        "VANTAGE",
        "vantageenb",
        "vantageexf",
        "vantageomk",
        "iWyze",
        "OMCCRM",
        "TEST"
      ]
    },
    "StockExchange": {
      "type": "string",
      "enum": [
        "Australian Securities Exchange",
        "Bombay Stock Exchange",
        "Cambodia Securities Exchange",
        "Deutsche Borse",
        "Hong Kong Stock exchange",
        "Irish Stock Exchange",
        "JSE",
        "Korea Exchange",
        "London Stock Exchange",
        "Nasdaq",
        "National Stock Exchange",
        "New York Stock Exchange",
        "Nyse",
        "Saudi exchange",
        "Shanghai Stock Exchange",
        "Shenzhen Stock Exchange",
        "Six Swiss exchange",
        "Taiwan Stock Exchange",
        "Tokyo  Stock Exchange",
        "Toronto Stock Exchange",
        "B3",
        "BME Spanish Exchanges",
        "Euronext",
        "Japan Exchange Group",
        "Nasdaq Nordic",
        "National Stock Exchange of India",
        "TMX Group"
      ]
    },
    "TaxResidency": {
      "type": "string",
      "enum": [
        "NAM Tax Resident",
        "Other Tax Resident",
        "SA Tax Resident",
        "US Tax Resident"
      ]
    },
    "VerificationCategory": {
      "type": "string",
      "enum": [
        "Address",
        "Application Form",
        "Bank Details",
        "CIPC",
        "Claim Request",
        "Contact",
        "Death Certificate",
        "Declaration for Entity Information",
        "Disinvestment form",
        "Entity Declaration",
        "Forms",
        "ID - Memorandum of Partnership",
        "Identification",
        "Income",
        "Nationality",
        "Relationship",
        "Resolution",
        "Secondary evidence",
        "Selling Form",
        "Taxation",
        "TRUST DEED"
      ]
    },
    "VerificationDocument": {
      "type": "string",
      "enum": [
        "3rd Party Payout form",
        "Affidavit",
        "Affidavit - Deceased Donor/Founder",
        "Affidavit - Old Mutual Third Party Affidavit",
        "Amended Founding Statement - Namibia (CC2)",
        "AML CRM / Senior Manager signoff document",
        "Annexure 5 - Namibia",
        "Application Form",
        "Authority letter",
        "Bank/Building Society/Credit Card Statement",
        "Birth Certificate",
        "Body corporate/Share block association correspondence",
        "Certificate of registered address (CM22)",
        "Certificate of incorporation (CM1)",
        "Change of Name of the company/CC - Namibia (CM9)",
        "CIPC Verification",
        "Claim Request",
        "Collective Schemes Act member's statement",
        "Court order",
        "Credit bureau",
        "Death Certificate",
        "Declaration for DWT Exemption",
        "Declaration for DWT Reduced Rate",
        "Declaration for IWT Exemption",
        "Declaration for IWT Reduced Rate",
        "Declaration of Entity Form",
        "De-registration certificate",
        "Electoral register",
        "Electronic verification",
        "Entity Registration Certificate",
        "FICA Addendum",
        "FICA Broker Declaration",
        "FICA Third Party Declaration",
        "Founding document",
        "Founding document - club society association and other informal bodies",
        "Founding document - Trusts",
        "Founding statement - Close Corporations (CK1)",
        "Founding statement - Close Corporations: Amended (CK2)",
        "Founding statement - Close Corporations: Amended in respect of accounting officer and addresses (CK2A)",
        "Founding Statement - Namibia (CC1)",
        "Guardianship Certificate",
        "Guardianship letter / Certificate",
        "Identity document - Temporary",
        "Identity document /smart card",
        "Legislative document",
        "Letter of Authority",
        "Letter of Curatorship",
        "Letter of employment",
        "Letter of Guardianship",
        "Letter of Parental Consent",
        "LISP Statement/Valuation",
        "Long-term insurance document",
        "Memorandum of Association - Namibia (CM2)",
        "Memorandum of Incorporation - Namibia (CM44)",
        "Mortgage statement",
        "Municipal rates and taxes invoice",
        "Notice of Change of Directors - Namibia (CM29)",
        "Notice of Incorporation - Form CoR141",
        "Official Letter",
        "Official Letter - Department of Home Affairs confirming deceased details (or equivalent body with regard to other countries)",
        "Official Letter - Independent auditor/accountant",
        "Official Letter - Municipality",
        "Official Letter - Official letter from a Tribal chief Tribal leader or Local authority",
        "Official Letter - Registered Bank",
        "Official Letter - South African Government Ministry/Department",
        "Official Letter - Tribal chief",
        "Partnership Agreement",
        "Passport",
        "Power of attorney",
        "Related Party form",
        "Rent/Lease agreement",
        "Residence verification - Foreign",
        "Residence verification - Staff/agent",
        "Resolution",
        "Retirement village correspondence",
        "Risk Rating Outcome",
        "Salary advice",
        "SARS documentation",
        "Screening outcome",
        "Secondary evidence",
        "Self Certification document",
        "Short-term insurance document",
        "Source of income",
        "Tax Residency Declaration Form",
        "Telephone directory",
        "Telephone/Cellular Phone Account",
        "Television licence/Retail Account",
        "Third Party Pay-Out Instruction Form",
        "Trust Deed",
        "Trust deed - Master of the High Court",
        "Unabridged Birth Certificate",
        "Utility bill",
        "Vehicle licence",
        "W-8 FATCA form",
        "W-9 FATCA form"
      ]
    },
    "WithholdingAgent": {
      "type": "string",
      "enum": [
        "BoE Link Nominees (RF) (Pty) Ltd",
        "Old Mutual Investment Services Nominees (RF) (Pty) Ltd (Shared between Wealth and Personal Finance)",
        "Old Mutual Unit Trust Managers (Rf) (Pty) Ltd",
        "Old Mutual Wealth Trust Company withholding tax agent  (insert name and details of non OM agent)",
        "Strategic Investment Service Management Co Ltd"
      ]
    },
    "EventType": {
      "type": "string",
      "enum": [
        "Associated Party",
        "ContractRoles Party",
        "Contracts",
        "New Business",
        "Remediation",
        "Screen Party",
        "Update Party"
      ]
    },
    "AssociatedEventType": {
      "type": "string",
      "enum": [
        "Change Associated Party"
      ]
    },
    "ContractEventType": {
      "type": "string",
      "enum": [
        "Contract End",
        "Contract Inform",
        "LSI",
        "Update Contract",
        "VPI"
      ]
    },
    "ContractRoleEventType": {
      "type": "string",
      "enum": [
        "Change Beneficiary",
        "Change Payee",
        "Change Premium Payer",
        "MoneyOut3rdParty",
        "MoneyOutBeneficiary",
        "Ownership Change",
        "Security Cession",
        "Update Role"
      ]
    },
    "ProcessStateId": {
      "type": "string",
      "enum": [
        "ABANDON_APPROVE",
        "ABANDONED",
        "Approval",
        "Approval Check",
        "Completed",
        "Customer Outreach",
        "Due Diligence",
        "Escalation",
        "Peer Review",
        "Primary Approval",
        "Profile Sourcing",
        "Screening Result Processing",
        "SRAssessment",
        "Waiver Review",
        "RejectedByOmcdd",
        "RejectedByLis",
        "RetryingActimizeDueToTimeout",
        "FailedRetryAfterBackoff",
        "Lis Process Started",
        "Lis Process Complete",
        "Lis Process Partial",
        "Lis Called Asynchronously"
      ]
    },
    "AmlRoute": {
      "type": "string",
      "enum": [
        "LIS",
        "ACT"
      ]
    }
  }
}