{
  "swagger": "2.0",
  "info": {
    "description": "This is the API documentation for COP 4331 Small Project",
    "version": "1.0.0",
    "title": "Small Project (Team 4)",
    "contact": {
      "email": "team4@cop4331.com"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/ucf-022/SmallProjectSwagger2/1.0.0"
  },
  "paths": {
    "/searchContactsAPI.php": {
      "post": {
        "tags": [
          "Contacts"
        ],
        "summary": "Searches a contact",
        "operationId": "SearchContact",
        "description": "Returns a list of contacts matching the search criteria",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "SearchItem",
            "description": "Search",
            "schema": {
              "$ref": "#/definitions/Search"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK. Returns a list of contacts. Blank \"error\" string indicates successful search.",
            "schema": {
              "$ref": "#/definitions/SearchResponse"
            }
          },
          "400": {
            "description": "Bad Request. Occurs if User ID is missing or invalid.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "Search": {
      "type": "object",
      "required": [
        "userId"
      ],
      "properties": {
        "userId": {
          "type": "integer",
          "example": 1
        },
        "search": {
          "type": "string",
          "example": "Jo"
        }
      }
    },
    "SearchResponse": {
      "type": "object",
      "properties": {
        "contacts": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ContactResult"
          }
        },
        "error": {
          "type": "string",
          "example": ""
        }
      }
    },
    "ErrorResponse": {
      "type": "object",
      "properties": {
        "error": {
          "type": "string",
          "example": "User ID required"
        }
      }
    },
    "ContactResult": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "example": 1
        },
        "firstName": {
          "type": "string",
          "example": "John"
        },
        "lastName": {
          "type": "string",
          "example": "Carter"
        },
        "phone": {
          "type": "string",
          "example": "407-555-0101"
        },
        "email": {
          "type": "string",
          "example": "john.carter@email.com"
        },
        "dateCreated": {
          "type": "string",
          "example": "2026-02-19 11:15:00"
        }
      }
    }
  },
  "host": "msilvacop4331.site",
  "basePath": "/smallproj/API",
  "schemes": [
    "http"
  ]
}