{
  "openapi": "3.0.3",
  "info": {
    "title": "ntfy API",
    "version": "2.0.0",
    "description": "ntfy (pronounced 'notify') is a simple HTTP-based pub-sub notification service. It allows sending push notifications to phones and desktops via PUT/POST requests. Topics are created on the fly and require no sign-up.",
    "x-jentic-source-url": "https://docs.ntfy.sh/",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://ntfy.sh",
      "description": "Public ntfy server"
    }
  ],
  "tags": [
    {
      "name": "Publish",
      "description": "Send notifications to topics"
    },
    {
      "name": "Subscribe",
      "description": "Subscribe to notification topics"
    },
    {
      "name": "Account",
      "description": "User account management"
    },
    {
      "name": "Server",
      "description": "Server health and info"
    }
  ],
  "paths": {
    "/{topic}": {
      "post": {
        "operationId": "publishMessage",
        "summary": "Publish a message to a topic",
        "description": "Send a notification message to a topic. The message body becomes the notification content. Various headers control the notification behavior.",
        "tags": [
          "Publish"
        ],
        "parameters": [
          {
            "name": "topic",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Topic name to publish to"
          },
          {
            "name": "X-Title",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Notification title (aliases: Title, ti, t)"
          },
          {
            "name": "X-Priority",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "min",
                "low",
                "default",
                "high",
                "max",
                "urgent"
              ]
            },
            "description": "Message priority (1=min, 5=max)"
          },
          {
            "name": "X-Tags",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated tags/emojis (aliases: Tags, tag, ta)"
          },
          {
            "name": "X-Click",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uri"
            },
            "description": "URL to open on notification click"
          },
          {
            "name": "X-Icon",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uri"
            },
            "description": "URL of notification icon (JPEG/PNG)"
          },
          {
            "name": "X-Actions",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Action buttons definition string"
          },
          {
            "name": "X-Attach",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uri"
            },
            "description": "URL of file to attach"
          },
          {
            "name": "X-Email",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "format": "email"
            },
            "description": "Email address to forward notification to"
          },
          {
            "name": "X-Delay",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Delay delivery (e.g., '30min', '2h', 'tomorrow 10am')"
          },
          {
            "name": "X-Markdown",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "yes",
                "no",
                "true",
                "false",
                "1",
                "0"
              ]
            },
            "description": "Enable Markdown formatting in the message body"
          },
          {
            "name": "X-Cache",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "yes",
                "no"
              ]
            },
            "description": "Control message caching"
          },
          {
            "name": "X-Firebase",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "yes",
                "no"
              ]
            },
            "description": "Control Firebase forwarding"
          },
          {
            "name": "X-Call",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Phone number for voice call notification"
          }
        ],
        "requestBody": {
          "description": "Message body (plain text or markdown)",
          "content": {
            "text/plain": {
              "schema": {
                "type": "string"
              }
            },
            "text/markdown": {
              "schema": {
                "type": "string"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublishRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Message published successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Message"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "413": {
            "description": "Request entity too large"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        }
      },
      "put": {
        "operationId": "publishMessagePut",
        "summary": "Publish a message via PUT (with file attachment)",
        "description": "Send a notification with a file attachment. The request body is the file content. Use the Filename header to set the attachment filename.",
        "tags": [
          "Publish"
        ],
        "parameters": [
          {
            "name": "topic",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Topic name to publish to"
          },
          {
            "name": "X-Filename",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filename for the attachment (aliases: Filename, File, f)"
          },
          {
            "name": "X-Title",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Notification title"
          },
          {
            "name": "X-Message",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Notification message (since body is the file)"
          },
          {
            "name": "X-Priority",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Message priority"
          },
          {
            "name": "X-Tags",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated tags"
          }
        ],
        "requestBody": {
          "description": "File content to attach",
          "content": {
            "application/octet-stream": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Message with attachment published",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Message"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "413": {
            "description": "Attachment too large"
          }
        }
      }
    },
    "/": {
      "post": {
        "operationId": "publishMessageJson",
        "summary": "Publish a message via JSON body",
        "description": "Send a notification using a JSON body that includes the topic and all message parameters.",
        "tags": [
          "Publish"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublishRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Message published successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Message"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/{topic}/json": {
      "get": {
        "operationId": "subscribeJson",
        "summary": "Subscribe to topic (JSON stream)",
        "description": "Subscribe to a topic and receive notifications as a newline-delimited JSON stream. The connection is kept alive and new messages are streamed as they arrive.",
        "tags": [
          "Subscribe"
        ],
        "parameters": [
          {
            "name": "topic",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Topic name to subscribe to"
          },
          {
            "name": "since",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Return messages since timestamp, duration, or message ID (e.g., '10m', '2023-01-01T00:00:00Z', 'p1234')"
          },
          {
            "name": "poll",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [
                1
              ]
            },
            "description": "Set to 1 to return cached messages and close connection"
          },
          {
            "name": "scheduled",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [
                1
              ]
            },
            "description": "Set to 1 to include scheduled/delayed messages"
          },
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter expression for messages"
          }
        ],
        "responses": {
          "200": {
            "description": "Newline-delimited JSON stream of messages",
            "content": {
              "application/x-ndjson": {
                "schema": {
                  "$ref": "#/components/schemas/Message"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/{topic}/sse": {
      "get": {
        "operationId": "subscribeSse",
        "summary": "Subscribe to topic (SSE stream)",
        "description": "Subscribe to a topic and receive notifications as Server-Sent Events (SSE). Compatible with the EventSource browser API.",
        "tags": [
          "Subscribe"
        ],
        "parameters": [
          {
            "name": "topic",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Topic name to subscribe to"
          },
          {
            "name": "since",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Return messages since timestamp, duration, or message ID"
          },
          {
            "name": "poll",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [
                1
              ]
            },
            "description": "Set to 1 to return cached messages and close connection"
          },
          {
            "name": "scheduled",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [
                1
              ]
            },
            "description": "Include scheduled/delayed messages"
          }
        ],
        "responses": {
          "200": {
            "description": "Server-Sent Events stream",
            "content": {
              "text/event-stream": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/{topic}/raw": {
      "get": {
        "operationId": "subscribeRaw",
        "summary": "Subscribe to topic (raw stream)",
        "description": "Subscribe to a topic and receive notifications as raw text, one per line.",
        "tags": [
          "Subscribe"
        ],
        "parameters": [
          {
            "name": "topic",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Topic name to subscribe to"
          },
          {
            "name": "since",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Return messages since timestamp, duration, or message ID"
          },
          {
            "name": "poll",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [
                1
              ]
            },
            "description": "Set to 1 to return cached messages and close connection"
          }
        ],
        "responses": {
          "200": {
            "description": "Raw text stream of messages",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/{topic}/ws": {
      "get": {
        "operationId": "subscribeWebsocket",
        "summary": "Subscribe to topic (WebSocket)",
        "description": "Subscribe to a topic via WebSocket. Receives JSON-encoded messages.",
        "tags": [
          "Subscribe"
        ],
        "parameters": [
          {
            "name": "topic",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Topic name to subscribe to"
          },
          {
            "name": "since",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Return messages since timestamp or duration"
          }
        ],
        "responses": {
          "101": {
            "description": "Switching protocols to WebSocket"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/account": {
      "get": {
        "operationId": "getAccount",
        "summary": "Get account information",
        "description": "Returns information about the authenticated user's account, including username, role, and usage statistics.",
        "tags": [
          "Account"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Account information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteAccount",
        "summary": "Delete account",
        "description": "Permanently deletes the authenticated user's account.",
        "tags": [
          "Account"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Account deleted"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/account/token": {
      "post": {
        "operationId": "createToken",
        "summary": "Create access token",
        "description": "Creates a new access token for the authenticated user.",
        "tags": [
          "Account"
        ],
        "security": [
          {
            "BasicAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateTokenRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Token created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Token"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    },
    "/v1/account/token/{token}": {
      "patch": {
        "operationId": "updateToken",
        "summary": "Update access token",
        "description": "Updates properties of an existing access token.",
        "tags": [
          "Account"
        ],
        "parameters": [
          {
            "name": "token",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Token value to update"
          }
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateTokenRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Token updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Token"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "400": {
            "description": "Bad request"
          }
        }
      },
      "delete": {
        "operationId": "deleteToken",
        "summary": "Delete access token",
        "description": "Deletes an existing access token.",
        "tags": [
          "Account"
        ],
        "parameters": [
          {
            "name": "token",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Token value to delete"
          }
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Token deleted"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/account/password": {
      "post": {
        "operationId": "changePassword",
        "summary": "Change account password",
        "description": "Changes the authenticated user's password.",
        "tags": [
          "Account"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChangePasswordRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Password changed"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/account/subscription": {
      "post": {
        "operationId": "addSubscription",
        "summary": "Add a subscription",
        "description": "Adds a subscription to the user's account for server-side storage of subscriptions.",
        "tags": [
          "Account"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Subscription"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Subscription added"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/account/subscription/{topic}": {
      "delete": {
        "operationId": "deleteSubscription",
        "summary": "Delete a subscription",
        "description": "Removes a subscription from the user's account.",
        "tags": [
          "Account"
        ],
        "parameters": [
          {
            "name": "topic",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Topic to unsubscribe from"
          }
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Subscription deleted"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/account/reservation": {
      "post": {
        "operationId": "addReservation",
        "summary": "Reserve a topic",
        "description": "Reserves a topic for exclusive use by the authenticated user (paid feature).",
        "tags": [
          "Account"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Reservation"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Reservation created"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden - insufficient tier"
          }
        }
      }
    },
    "/v1/account/reservation/{topic}": {
      "delete": {
        "operationId": "deleteReservation",
        "summary": "Delete a topic reservation",
        "description": "Removes a topic reservation.",
        "tags": [
          "Account"
        ],
        "parameters": [
          {
            "name": "topic",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Topic to unreserve"
          }
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Reservation deleted"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/auth/signup": {
      "post": {
        "operationId": "signup",
        "summary": "Create a new user account",
        "description": "Registers a new user account on the ntfy server.",
        "tags": [
          "Account"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SignupRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Account created successfully"
          },
          "400": {
            "description": "Bad request"
          },
          "409": {
            "description": "Username already taken"
          }
        }
      }
    },
    "/v1/stats": {
      "get": {
        "operationId": "getStats",
        "summary": "Get server statistics",
        "description": "Returns server statistics including number of messages and topics.",
        "tags": [
          "Server"
        ],
        "responses": {
          "200": {
            "description": "Server statistics",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Stats"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    },
    "/v1/health": {
      "get": {
        "operationId": "healthCheck",
        "summary": "Health check",
        "description": "Returns server health status. Returns 200 if the server is healthy.",
        "tags": [
          "Server"
        ],
        "responses": {
          "200": {
            "description": "Server is healthy",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HealthResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server is unhealthy"
          }
        }
      }
    },
    "/v1/info": {
      "get": {
        "operationId": "getServerInfo",
        "summary": "Get server information",
        "description": "Returns server configuration and capabilities.",
        "tags": [
          "Server"
        ],
        "responses": {
          "200": {
            "description": "Server information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServerInfo"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "PublishRequest": {
        "type": "object",
        "properties": {
          "topic": {
            "type": "string",
            "description": "Topic to publish to"
          },
          "message": {
            "type": "string",
            "description": "Notification message body"
          },
          "title": {
            "type": "string",
            "description": "Notification title"
          },
          "priority": {
            "type": "integer",
            "minimum": 1,
            "maximum": 5,
            "description": "Message priority (1-5)"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "List of tags/emojis"
          },
          "click": {
            "type": "string",
            "format": "uri",
            "description": "URL to open on click"
          },
          "icon": {
            "type": "string",
            "format": "uri",
            "description": "Notification icon URL"
          },
          "attach": {
            "type": "string",
            "format": "uri",
            "description": "Attachment URL"
          },
          "filename": {
            "type": "string",
            "description": "Attachment filename"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Email to forward to"
          },
          "delay": {
            "type": "string",
            "description": "Delay delivery"
          },
          "actions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Action"
            },
            "description": "Action buttons"
          },
          "markdown": {
            "type": "boolean",
            "description": "Enable Markdown formatting"
          },
          "call": {
            "type": "string",
            "description": "Phone number for voice call"
          }
        },
        "required": [
          "topic"
        ]
      },
      "Message": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Message ID"
          },
          "time": {
            "type": "integer",
            "description": "Unix timestamp of message"
          },
          "expires": {
            "type": "integer",
            "description": "Unix timestamp when message expires"
          },
          "event": {
            "type": "string",
            "enum": [
              "open",
              "keepalive",
              "message",
              "poll_request"
            ],
            "description": "Event type"
          },
          "topic": {
            "type": "string",
            "description": "Topic name"
          },
          "message": {
            "type": "string",
            "description": "Message body"
          },
          "title": {
            "type": "string",
            "description": "Message title"
          },
          "priority": {
            "type": "integer",
            "description": "Priority level (1-5)"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Tags"
          },
          "click": {
            "type": "string",
            "description": "Click URL"
          },
          "icon": {
            "type": "string",
            "description": "Icon URL"
          },
          "actions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Action"
            }
          },
          "attachment": {
            "$ref": "#/components/schemas/Attachment"
          }
        }
      },
      "Action": {
        "type": "object",
        "properties": {
          "action": {
            "type": "string",
            "enum": [
              "view",
              "http",
              "broadcast"
            ],
            "description": "Action type"
          },
          "label": {
            "type": "string",
            "description": "Button label"
          },
          "url": {
            "type": "string",
            "description": "URL for view/http actions"
          },
          "method": {
            "type": "string",
            "description": "HTTP method for http actions"
          },
          "headers": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "Headers for http actions"
          },
          "body": {
            "type": "string",
            "description": "Body for http actions"
          },
          "clear": {
            "type": "boolean",
            "description": "Clear notification after action"
          },
          "intent": {
            "type": "string",
            "description": "Android intent for broadcast actions"
          },
          "extras": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "Extra data for broadcast actions"
          }
        },
        "required": [
          "action",
          "label"
        ]
      },
      "Attachment": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Filename"
          },
          "type": {
            "type": "string",
            "description": "MIME type"
          },
          "size": {
            "type": "integer",
            "description": "File size in bytes"
          },
          "expires": {
            "type": "integer",
            "description": "Unix timestamp when attachment expires"
          },
          "url": {
            "type": "string",
            "format": "uri",
            "description": "Download URL"
          }
        }
      },
      "Account": {
        "type": "object",
        "properties": {
          "username": {
            "type": "string"
          },
          "role": {
            "type": "string",
            "enum": [
              "anonymous",
              "user",
              "admin"
            ]
          },
          "sync_topic": {
            "type": "string"
          },
          "language": {
            "type": "string"
          },
          "notification": {
            "type": "object"
          },
          "subscriptions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Subscription"
            }
          },
          "reservations": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Reservation"
            }
          },
          "tokens": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Token"
            }
          },
          "tier": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string"
              },
              "name": {
                "type": "string"
              }
            }
          },
          "limits": {
            "type": "object"
          },
          "stats": {
            "type": "object"
          }
        }
      },
      "Token": {
        "type": "object",
        "properties": {
          "token": {
            "type": "string"
          },
          "label": {
            "type": "string"
          },
          "last_access": {
            "type": "integer"
          },
          "last_origin": {
            "type": "string"
          },
          "expires": {
            "type": "integer"
          }
        }
      },
      "CreateTokenRequest": {
        "type": "object",
        "properties": {
          "label": {
            "type": "string",
            "description": "Token label"
          },
          "expires": {
            "type": "integer",
            "description": "Unix timestamp when token expires"
          }
        }
      },
      "UpdateTokenRequest": {
        "type": "object",
        "properties": {
          "label": {
            "type": "string"
          },
          "expires": {
            "type": "integer"
          }
        }
      },
      "ChangePasswordRequest": {
        "type": "object",
        "properties": {
          "password": {
            "type": "string",
            "description": "New password"
          }
        },
        "required": [
          "password"
        ]
      },
      "Subscription": {
        "type": "object",
        "properties": {
          "base_url": {
            "type": "string"
          },
          "topic": {
            "type": "string"
          }
        }
      },
      "Reservation": {
        "type": "object",
        "properties": {
          "topic": {
            "type": "string"
          },
          "everyone": {
            "type": "string",
            "enum": [
              "deny-all",
              "read-only",
              "write-only",
              "read-write"
            ]
          }
        }
      },
      "SignupRequest": {
        "type": "object",
        "properties": {
          "username": {
            "type": "string"
          },
          "password": {
            "type": "string"
          }
        },
        "required": [
          "username",
          "password"
        ]
      },
      "Stats": {
        "type": "object",
        "properties": {
          "messages": {
            "type": "integer",
            "description": "Total messages sent"
          },
          "messages_rate": {
            "type": "number",
            "description": "Messages per second"
          }
        }
      },
      "HealthResponse": {
        "type": "object",
        "properties": {
          "healthy": {
            "type": "boolean"
          }
        }
      },
      "ServerInfo": {
        "type": "object",
        "properties": {
          "base_url": {
            "type": "string"
          },
          "enable_login": {
            "type": "boolean"
          },
          "enable_signup": {
            "type": "boolean"
          },
          "enable_payments": {
            "type": "boolean"
          },
          "enable_reservations": {
            "type": "boolean"
          },
          "visitor_attachment_bytes_limit": {
            "type": "integer"
          },
          "visitor_request_limit_burst": {
            "type": "integer"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "description": "Error code"
          },
          "http": {
            "type": "integer",
            "description": "HTTP status code"
          },
          "error": {
            "type": "string",
            "description": "Error message"
          },
          "link": {
            "type": "string",
            "description": "Link to documentation"
          }
        }
      }
    },
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Bearer token authentication. Use access tokens from /v1/account/token."
      },
      "BasicAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "Basic authentication with username and password."
      }
    }
  },
  "security": [
    {
      "BearerAuth": []
    },
    {
      "BasicAuth": []
    }
  ]
}
