{
  "openapi": "3.0.0",
  "info": {
    "version": "3.0.0",
    "title": "Ascend Prescreen of One Offer Service",
    "description": "Service to identify offer details for given inquiry data",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/experia22/ascend-prescreen-of-one-offer-service/3.0.0"
  },
  "servers": [
    {
      "description": "Prod Server",
      "url": "https://us-api.experian.com/consumerservices"
    },
    {
      "description": "UAT Server",
      "url": "https://uat-us-api.experian.com/consumerservices"
    }
  ],
  "paths": {
    "/prescreen-of-one/v3/offers": {
      "post": {
        "description": "This endpoint is used to get Offer Details from Ascend Prescreen Offer Service API. Offer is made available if client is authorized for this",
        "parameters": [
          {
            "name": "x-company-id",
            "in": "header",
            "required": true,
            "description": "Client Company ID",
            "schema": {
              "type": "string",
              "example": 123456
            }
          },
          {
            "name": "x-subscriber-code",
            "in": "header",
            "required": true,
            "description": "Subscriber code",
            "schema": {
              "type": "string",
              "example": 1234567
            }
          },
          {
            "name": "clientReferenceId",
            "in": "header",
            "required": false,
            "description": "Echo back of the reference Id , if provided on API request",
            "schema": {
              "type": "string",
              "example": "123456abc789"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "description": "Bearer Token",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Cookie",
            "in": "header",
            "required": false,
            "description": "Cookie",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "consumers": {
                    "type": "array",
                    "items": {
                      "properties": {
                        "applicant": {
                          "$ref": "#/components/schemas/applicantData"
                        },
                        "phone": {
                          "$ref": "#/components/schemas/phonesData"
                        },
                        "currentAddress": {
                          "$ref": "#/components/schemas/addressData"
                        },
                        "previousAddress": {
                          "$ref": "#/components/schemas/addressData"
                        }
                      }
                    }
                  },
                  "customAttributes": {
                    "$ref": "#/components/schemas/customAttributesData"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/successfulOfferResponse"
                    },
                    {
                      "$ref": "#/components/schemas/successfulOfferResponse"
                    },
                    {
                      "$ref": "#/components/schemas/nonResponse"
                    },
                    {
                      "$ref": "#/components/schemas/suppressionResponse"
                    }
                  ]
                },
                "examples": {
                  "000 - Successful FTO Offer Response": {
                    "summary": "Successful FTO Offer response example",
                    "$ref": "#/components/examples/successfulFTOOfferResponseExample"
                  },
                  "001 - Successful RO Offer Response": {
                    "summary": "Successful RO Offer response example",
                    "$ref": "#/components/examples/successfulROOfferResponseExample"
                  },
                  "002 - Non Response": {
                    "summary": "Non response example",
                    "$ref": "#/components/examples/nonResponseExample"
                  },
                  "003 - Suppression Response": {
                    "summary": "Suppression response example",
                    "$ref": "#/components/examples/suppressionResponseExample"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Client Exception due to invalid request data. Below are error codes and description. <br> 999  - malformed Input(Invalid Json) <br> 1001 - field FirstName missing in  Request <br> 1002 - field LastName missing in Request <br> 1003 - field AddressLine1 missing in Request <br> 1004 - field Address State missing in Request <br> 1005 - field Address city missing in Request <br> 1006 - field Address ZipCode missing in Request <br> 1007 - Format of the Field email is wrong <br> 1008 - Format of the Field phone number is wrong <br> 1009 - RequestId  Header is missing <br> 1010 - CompanyID Header is missing <br> 1011 - SubscriberCode Header is missing <br> 1012 - PurposeType Header is missing <br> 1013 - Format of the Field dob is wrong <br> 1014 - ZipCode in the current address is not valid <br> 1015 - line1 in the Current address cannot be more than 32 chars <br> 1016 - city in the Current address cannot be more than 32 chars <br> 1017 - state in the Current address cannot be more than 2 chars <br> 1018 - ssn is not valid <br> 1019 - SubCode is Invalid <br> 1020 - CompanyID is Invalid <br> 1028 - OfferType is missing in Request <br> 1029 - OfferType is Invalid <br>",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            },
            "headers": {
              "experianTransactionId": {
                "schema": {
                  "type": "string",
                  "description": "Unique ID generated by Experian for this API request"
                }
              },
              "clientReferenceId": {
                "schema": {
                  "type": "string",
                  "description": "Echo back of the reference Id , if provided on API request header"
                }
              }
            }
          },
          "403": {
            "description": "Unauthorized request",
            "headers": {
              "experianTransactionId": {
                "schema": {
                  "type": "string",
                  "description": "Unique ID generated by Experian for this API request"
                }
              },
              "clientReferenceId": {
                "schema": {
                  "type": "string",
                  "description": "Echo back of the reference Id , if provided on API request header"
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Server Related Error"
          },
          "504": {
            "description": "Retry Error"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "offer_req": {
        "type": "object",
        "required": [
          "consumers",
          "customAttributes"
        ],
        "properties": {
          "consumers": {
            "$ref": "#/components/schemas/consumersData"
          },
          "customAttributes": {
            "$ref": "#/components/schemas/customAttributesData"
          }
        }
      },
      "consumersData": {
        "type": "array",
        "description": "Array of consumer data",
        "items": {
          "$ref": "#/components/schemas/consumerData"
        }
      },
      "consumerData": {
        "type": "object",
        "required": [
          "applicant",
          "currentAddress"
        ],
        "properties": {
          "applicant": {
            "$ref": "#/components/schemas/applicantData"
          },
          "phone": {
            "$ref": "#/components/schemas/phonesData"
          },
          "currentAddress": {
            "$ref": "#/components/schemas/addressData"
          },
          "previousAddress": {
            "$ref": "#/components/schemas/addressData"
          }
        }
      },
      "applicantData": {
        "type": "object",
        "required": [
          "firstName",
          "lastName"
        ],
        "properties": {
          "firstName": {
            "type": "string",
            "description": "first name of consumer",
            "maxLength": 32,
            "example": "Damien"
          },
          "lastName": {
            "type": "string",
            "description": "last name of consumer",
            "maxLength": 32,
            "example": "Lee"
          },
          "middleName": {
            "type": "string",
            "description": "middle name of consumer",
            "maxLength": 32,
            "example": "M"
          },
          "suffix": {
            "type": "string",
            "description": "Jr = Junior\nSr = Senior\nII = Second\nIII = Third\nIV = Fourth\nV = Fifth\nVI = Sixth\nVII = Seventh\nVIII = Eighth\nIX = Ninth\nIf no generation is available, omit.\n",
            "maxLength": 5,
            "enum": [
              "Jr",
              "Sr",
              "II",
              "III",
              "IV",
              "V",
              "VI",
              "VII",
              "VIII",
              "IX"
            ],
            "example": "Jr"
          },
          "email": {
            "type": "string",
            "description": "Email Of consumer",
            "maxLength": 30,
            "example": "test@experian.com"
          },
          "dob": {
            "type": "string",
            "description": "DOB in format YYYYMMDD",
            "minLength": 8,
            "maxLength": 8,
            "example": 20001020
          },
          "ssn": {
            "type": "string",
            "description": "SSN number Of consumer",
            "minLength": 4,
            "maxLength": 9,
            "example": 123456789
          }
        }
      },
      "customAttributesData": {
        "type": "object",
        "required": [
          "offerType"
        ],
        "properties": {
          "offerType": {
            "type": "string",
            "default": "FTO"
          },
          "cust_1": {
            "type": "string",
            "example": 1
          },
          "cust_2": {
            "type": "string",
            "example": 2
          }
        }
      },
      "phonesData": {
        "type": "array",
        "description": "array of phone numbers",
        "items": {
          "$ref": "#/components/schemas/phoneData"
        }
      },
      "phoneData": {
        "type": "object",
        "description": "phone data",
        "properties": {
          "number": {
            "type": "string",
            "example": 9121234567
          },
          "type": {
            "$ref": "#/components/schemas/phoneNumberType"
          }
        }
      },
      "phoneNumberType": {
        "type": "string",
        "minLength": 1,
        "maxLength": 1,
        "description": "Phone number types R = Residential B = Business P = Pager I = Institution F = Fax Line C = Cellular T = Pay phone Blank = Unknown",
        "example": "R"
      },
      "successfulOfferResponse": {
        "type": "object",
        "properties": {
          "offers": {
            "$ref": "#/components/schemas/offersData"
          },
          "status": {
            "$ref": "#/components/schemas/statusData"
          }
        }
      },
      "nonResponse": {
        "type": "object",
        "properties": {
          "offers": {
            "type": "array",
            "items": {
              "nullable": true
            }
          },
          "status": {
            "$ref": "#/components/schemas/statusData"
          }
        }
      },
      "suppressionResponse": {
        "type": "object",
        "properties": {
          "offers": {
            "type": "array",
            "items": {
              "nullable": true
            }
          },
          "status": {
            "$ref": "#/components/schemas/statusData"
          }
        }
      },
      "customAttributes": {
        "type": "object",
        "properties": {
          "productType": {
            "type": "string",
            "description": "product type"
          },
          "xwalkSnapshotDate": {
            "type": "string",
            "description": "xwalkSnapshotDate"
          },
          "cust_1": {
            "type": "string",
            "description": "custom attribute 1"
          },
          "cust_2": {
            "type": "string",
            "description": "custom attribute 2"
          },
          "sample_1": {
            "type": "string",
            "description": "sample attribute 1"
          },
          "sample_2": {
            "type": "string",
            "description": "sample attribute 2"
          }
        }
      },
      "offerData": {
        "type": "object",
        "description": "offer data",
        "properties": {
          "code": {
            "type": "string",
            "description": "offer code"
          },
          "description": {
            "type": "string",
            "description": "offer description"
          },
          "shortDescription": {
            "type": "string",
            "description": "short description of an offer"
          },
          "expirationDate": {
            "type": "string",
            "description": "offer expiration date (YYYY-MM-DDTHH:MM-SS:00)"
          },
          "effectiveDate": {
            "type": "string",
            "description": "offer effective date (YYYY-MM-DDTHH:MM-SS:00)"
          },
          "eligibleLoanAmount": {
            "type": "string",
            "description": "eligible offer loan amount"
          },
          "campaignId": {
            "type": "string",
            "description": "campaign id"
          },
          "APR": {
            "type": "string",
            "description": "annual percentage rate"
          },
          "annualFee": {
            "type": "string",
            "description": "annual fee"
          },
          "tradeBaseDate": {
            "type": "string",
            "description": "trade base date"
          },
          "customAttributes": {
            "$ref": "#/components/schemas/customAttributes"
          },
          "bureaus": {
            "$ref": "#/components/schemas/bureausData"
          }
        }
      },
      "bureauData": {
        "type": "object",
        "description": "bureau data",
        "properties": {
          "code": {
            "type": "string",
            "description": "bureau code"
          },
          "tradeBaseDate": {
            "type": "string",
            "description": "trade Base Date for the CRA"
          },
          "scores": {
            "type": "object",
            "description": "applicable only for experian bureau",
            "properties": {
              "score1": {
                "type": "string"
              },
              "score2": {
                "type": "string"
              },
              "score3": {
                "type": "string"
              },
              "score4": {
                "type": "string"
              },
              "score5": {
                "type": "string"
              },
              "score6": {
                "type": "string"
              },
              "score7": {
                "type": "string"
              },
              "adsScore": {
                "type": "string",
                "example": 41
              },
              "vantage_v3_experian": {
                "type": "string"
              }
            }
          },
          "fcraAttributes": {
            "type": "object",
            "description": "applicable only for experian bureau",
            "properties": {
              "xfc01": {
                "type": "string"
              },
              "xfc02": {
                "type": "string"
              },
              "xfc03": {
                "type": "string"
              },
              "xfc04": {
                "type": "string"
              },
              "xfc05": {
                "type": "string"
              },
              "xfc06": {
                "type": "string",
                "example": 41
              },
              "xfc07": {
                "type": "string"
              }
            }
          },
          "consumerInfo": {
            "type": "object",
            "properties": {
              "firstName": {
                "type": "string",
                "description": "first name of consumer"
              },
              "lastName": {
                "type": "string",
                "description": "last name of consumer"
              },
              "middleName": {
                "type": "string",
                "description": "middle name of consumer",
                "example": "M"
              },
              "dob": {
                "type": "string",
                "description": "date of birth"
              },
              "ssn": {
                "type": "string",
                "description": "social security number of consumer"
              },
              "addressMismatchIndicator": {
                "type": "string",
                "description": "address mismatch indicator"
              },
              "address": {
                "$ref": "#/components/schemas/addressResponseData"
              }
            }
          }
        }
      },
      "addressResponseData": {
        "type": "object",
        "description": "address data",
        "properties": {
          "line1": {
            "type": "string",
            "description": "address line 1",
            "example": "100, Main St"
          },
          "line2": {
            "type": "string",
            "description": "address line 2",
            "example": ""
          },
          "city": {
            "type": "string",
            "description": "city name",
            "example": "Allen"
          },
          "state": {
            "type": "string",
            "description": "state name",
            "example": "TX"
          },
          "zipCode": {
            "type": "string",
            "description": "zip code",
            "example": 12345
          }
        }
      },
      "addressData": {
        "type": "object",
        "description": "address data",
        "required": [
          "line1",
          "city",
          "state",
          "zipCode"
        ],
        "properties": {
          "line1": {
            "type": "string",
            "description": "address line 1",
            "example": "100, Main St"
          },
          "line2": {
            "type": "string",
            "description": "address line 2",
            "example": ""
          },
          "city": {
            "type": "string",
            "description": "city name",
            "example": "Allen"
          },
          "state": {
            "type": "string",
            "description": "state name",
            "example": "TX"
          },
          "zipCode": {
            "type": "string",
            "description": "zip code",
            "example": 12345
          }
        }
      },
      "offersData": {
        "type": "array",
        "description": "array of offers",
        "items": {
          "$ref": "#/components/schemas/offerData"
        }
      },
      "bureausData": {
        "type": "array",
        "description": "array of applicable bureaus",
        "items": {
          "$ref": "#/components/schemas/bureauData"
        }
      },
      "statusData": {
        "type": "object",
        "description": "status data",
        "properties": {
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "errorResponse": {
        "type": "array",
        "description": "array of error codes and messages",
        "items": {
          "$ref": "#/components/schemas/errorResponseData"
        }
      },
      "errorResponseData": {
        "type": "object",
        "description": "phone data",
        "properties": {
          "errorCode": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "examples": {
      "successfulFTOOfferResponseExample": {
        "value": {
          "offers": [
            {
              "code": "1001",
              "description": "EXP_THIN_VVY_201805_NFT",
              "shortDescription": "MFE EX THIN_PAY",
              "expirationDate": "2023-05-06T23:59-59:00",
              "effectiveDate": "2023-04-30T00:00-00:00",
              "eligibleLoanAmount": "2000",
              "campaignId": "20230407MFE",
              "APR": "",
              "annualFee": "",
              "tradeBaseDate": "EX_20230228|EQ_20230321|TU_20230401",
              "customAttributes": {
                "productType": "CREDIT CARD",
                "xwalkSnapshotDate": "20230405",
                "cust_1": "1",
                "cust_2": "2",
                "sample_1": "1",
                "sample_2": "2"
              },
              "bureaus": [
                {
                  "code": "EX",
                  "tradeBaseDate": "20230228",
                  "fcraAttributes": {
                    "xfc01": "0",
                    "xfc02": " ",
                    "xfc03": " ",
                    "xfc04": " ",
                    "xfc05": " ",
                    "xfc06": "0",
                    "xfc07": "0"
                  },
                  "scores": {
                    "score1": "345",
                    "score2": "346",
                    "score3": "347",
                    "score4": "348",
                    "score5": "349",
                    "score6": "350",
                    "score7": "846",
                    "adsScore": "344",
                    "vantage_v3_experian": "345"
                  },
                  "consumerInfo": {
                    "firstName": "FIRSTNAME",
                    "lastName": "LASTNAME",
                    "middleName": "M",
                    "dob": "19651024",
                    "ssn": "xx3456789",
                    "addressMismatchIndicator": "N",
                    "address": {
                      "line1": "44 WONDER ST APT D9",
                      "line2": "",
                      "city": "HOUSTON",
                      "state": "TX",
                      "zipCode": "97046"
                    }
                  }
                },
                {
                  "code": "EQ",
                  "tradeBaseDate": "20230221",
                  "consumerInfo": {
                    "firstName": "FIRSTNAME",
                    "lastName": "LASTNAME",
                    "middleName": "M",
                    "dob": "19651024",
                    "ssn": "xx3456789",
                    "addressMismatchIndicator": "",
                    "address": {
                      "line1": "44 WONDER ST APT D9",
                      "line2": "",
                      "city": "HOUSTON",
                      "state": "TX",
                      "zipCode": "97046"
                    }
                  }
                },
                {
                  "code": "TU",
                  "tradeBaseDate": "20230226",
                  "consumerInfo": {
                    "firstName": "FIRSTNAME",
                    "lastName": "LASTNAME",
                    "middleName": "M",
                    "dob": "19651024",
                    "ssn": "xx3456789",
                    "addressMismatchIndicator": "",
                    "address": {
                      "line1": "44 WONDER ST APT D9",
                      "line2": "",
                      "city": "HOUSTON",
                      "state": "TX",
                      "zipCode": "97046"
                    }
                  }
                }
              ]
            },
            {
              "code": "1002",
              "description": "",
              "shortDescription": "",
              "expirationDate": "2023-05-06T23:59-59:00",
              "effectiveDate": "2023-04-30T00:00-00:00",
              "eligibleLoanAmount": "",
              "campaignId": "20230407MXE",
              "APR": "",
              "annualFee": "",
              "tradeBaseDate": "EX_20230228|EQ_20230321|TU_20230401",
              "customAttributes": {
                "productType": "PERSONAL LOAN",
                "xwalkSnapshotDate": "20230405",
                "cust_1": "1",
                "cust_2": "2",
                "sample_3": "3",
                "sample_4": "4"
              },
              "bureaus": [
                {
                  "code": "EX",
                  "tradeBaseDate": "20230228",
                  "fcraAttributes": {
                    "xfc01": "0",
                    "xfc02": " ",
                    "xfc03": " ",
                    "xfc04": " ",
                    "xfc05": " ",
                    "xfc06": "0",
                    "xfc07": "0"
                  },
                  "scores": {
                    "score1": "345",
                    "score2": "346",
                    "score3": "347",
                    "score4": "348",
                    "score5": "349",
                    "score6": "350",
                    "score7": "846",
                    "adsScore": "344",
                    "vantage_v3_experian": "345"
                  },
                  "consumerInfo": {
                    "firstName": "FIRSTNAME",
                    "lastName": "LASTNAME",
                    "middleName": "M",
                    "dob": "19651024",
                    "ssn": "xx3456789",
                    "addressMismatchIndicator": "N",
                    "address": {
                      "line1": "44 WONDER ST APT D9",
                      "line2": "",
                      "city": "HOUSTON",
                      "state": "TX",
                      "zipCode": "97046"
                    }
                  }
                },
                {
                  "code": "EQ",
                  "tradeBaseDate": "20230221",
                  "consumerInfo": {
                    "firstName": "FIRSTNAME",
                    "lastName": "LASTNAME",
                    "middleName": "M",
                    "dob": "19651024",
                    "ssn": "xx3456789",
                    "addressMismatchIndicator": "",
                    "address": {
                      "line1": "44 WONDER ST APT D9",
                      "line2": "",
                      "city": "HOUSTON",
                      "state": "TX",
                      "zipCode": "97046"
                    }
                  }
                },
                {
                  "code": "TU",
                  "tradeBaseDate": "20230226",
                  "consumerInfo": {
                    "firstName": "FIRSTNAME",
                    "lastName": "LASTNAME",
                    "middleName": "M",
                    "dob": "19651024",
                    "ssn": "xx3456789",
                    "addressMismatchIndicator": "",
                    "address": {
                      "line1": "44 WONDER ST APT D9",
                      "line2": "",
                      "city": "HOUSTON",
                      "state": "TX",
                      "zipCode": "97046"
                    }
                  }
                }
              ]
            }
          ],
          "status": {
            "code": "000",
            "message": "Successful offer first time"
          }
        }
      },
      "successfulROOfferResponseExample": {
        "value": {
          "offers": [
            {
              "code": "1001",
              "description": "EXP_THIN_VVY_201805_NFT",
              "shortDescription": "MFE EX THIN_PAY",
              "expirationDate": "2023-05-06T23:59-59:00",
              "effectiveDate": "2023-04-30T00:00-00:00",
              "eligibleLoanAmount": "2000",
              "campaignId": "20230407MFE",
              "APR": "",
              "annualFee": "",
              "tradeBaseDate": "EX_20230228|EQ_20230321|TU_20230401",
              "customAttributes": {
                "productType": "CREDIT CARD",
                "xwalkSnapshotDate": "20230405",
                "cust_1": "1",
                "cust_2": "2",
                "sample_1": "1",
                "sample_2": "2"
              },
              "bureaus": [
                {
                  "code": "EX",
                  "tradeBaseDate": "20230228",
                  "fcraAttributes": {
                    "xfc01": "0",
                    "xfc02": " ",
                    "xfc03": " ",
                    "xfc04": " ",
                    "xfc05": " ",
                    "xfc06": "0",
                    "xfc07": "0"
                  },
                  "scores": {
                    "score1": "345",
                    "score2": "346",
                    "score3": "347",
                    "score4": "348",
                    "score5": "349",
                    "score6": "350",
                    "score7": "846",
                    "adsScore": "344",
                    "vantage_v3_experian": "345"
                  },
                  "consumerInfo": {
                    "firstName": "FIRSTNAME",
                    "lastName": "LASTNAME",
                    "middleName": "M",
                    "dob": "19651024",
                    "ssn": "xx3456789",
                    "addressMismatchIndicator": "N",
                    "address": {
                      "line1": "44 WONDER ST APT D9",
                      "line2": "",
                      "city": "HOUSTON",
                      "state": "TX",
                      "zipCode": "97046"
                    }
                  }
                },
                {
                  "code": "EQ",
                  "tradeBaseDate": "20230221",
                  "consumerInfo": {
                    "firstName": "FIRSTNAME",
                    "lastName": "LASTNAME",
                    "middleName": "M",
                    "dob": "19651024",
                    "ssn": "xx3456789",
                    "addressMismatchIndicator": "",
                    "address": {
                      "line1": "44 WONDER ST APT D9",
                      "line2": "",
                      "city": "HOUSTON",
                      "state": "TX",
                      "zipCode": "97046"
                    }
                  }
                },
                {
                  "code": "TU",
                  "tradeBaseDate": "20230226",
                  "consumerInfo": {
                    "firstName": "FIRSTNAME",
                    "lastName": "LASTNAME",
                    "middleName": "M",
                    "dob": "19651024",
                    "ssn": "xx3456789",
                    "addressMismatchIndicator": "",
                    "address": {
                      "line1": "44 WONDER ST APT D9",
                      "line2": "",
                      "city": "HOUSTON",
                      "state": "TX",
                      "zipCode": "97046"
                    }
                  }
                }
              ]
            },
            {
              "code": "1002",
              "description": "",
              "shortDescription": "",
              "expirationDate": "2023-05-06T23:59-59:00",
              "effectiveDate": "2023-04-30T00:00-00:00",
              "eligibleLoanAmount": "",
              "campaignId": "20230407MXE",
              "APR": "",
              "annualFee": "",
              "tradeBaseDate": "EX_20230228|EQ_20230321|TU_20230401",
              "customAttributes": {
                "productType": "PERSONAL LOAN",
                "xwalkSnapshotDate": "20230405",
                "cust_1": "1",
                "cust_2": "2",
                "sample_3": "3",
                "sample_4": "4"
              },
              "bureaus": [
                {
                  "code": "EX",
                  "tradeBaseDate": "20230228",
                  "fcraAttributes": {
                    "xfc01": "0",
                    "xfc02": " ",
                    "xfc03": " ",
                    "xfc04": " ",
                    "xfc05": " ",
                    "xfc06": "0",
                    "xfc07": "0"
                  },
                  "scores": {
                    "score1": "345",
                    "score2": "346",
                    "score3": "347",
                    "score4": "348",
                    "score5": "349",
                    "score6": "350",
                    "score7": "846",
                    "adsScore": "344",
                    "vantage_v3_experian": "345"
                  },
                  "consumerInfo": {
                    "firstName": "FIRSTNAME",
                    "lastName": "LASTNAME",
                    "middleName": "M",
                    "dob": "19651024",
                    "ssn": "xx3456789",
                    "addressMismatchIndicator": "N",
                    "address": {
                      "line1": "44 WONDER ST APT D9",
                      "line2": "",
                      "city": "HOUSTON",
                      "state": "TX",
                      "zipCode": "97046"
                    }
                  }
                },
                {
                  "code": "EQ",
                  "tradeBaseDate": "20230221",
                  "consumerInfo": {
                    "firstName": "FIRSTNAME",
                    "lastName": "LASTNAME",
                    "middleName": "M",
                    "dob": "19651024",
                    "ssn": "xx3456789",
                    "addressMismatchIndicator": "",
                    "address": {
                      "line1": "44 WONDER ST APT D9",
                      "line2": "",
                      "city": "HOUSTON",
                      "state": "TX",
                      "zipCode": "97046"
                    }
                  }
                },
                {
                  "code": "TU",
                  "tradeBaseDate": "20230226",
                  "consumerInfo": {
                    "firstName": "FIRSTNAME",
                    "lastName": "LASTNAME",
                    "middleName": "M",
                    "dob": "19651024",
                    "ssn": "xx3456789",
                    "addressMismatchIndicator": "",
                    "address": {
                      "line1": "44 WONDER ST APT D9",
                      "line2": "",
                      "city": "HOUSTON",
                      "state": "TX",
                      "zipCode": "97046"
                    }
                  }
                }
              ]
            }
          ],
          "status": {
            "code": "001",
            "message": "Successful representment offer"
          }
        }
      },
      "nonResponseExample": {
        "value": {
          "offers": null,
          "status": {
            "code": "002",
            "message": "Non response"
          }
        }
      },
      "suppressionResponseExample": {
        "value": {
          "offers": null,
          "status": {
            "code": "003",
            "message": "Client Suppression"
          }
        }
      }
    }
  }
}