{
  "openapi": "3.0.0",
  "info": {
    "version": "1.0.0",
    "title": "ZooTicket Payments API",
    "description": "API \u0434\u043b\u044f \u043e\u0431\u0440\u0430\u0431\u043e\u0442\u043a\u0438 \u043e\u043d\u043b\u0430\u0439\u043d-\u043e\u043f\u043b\u0430\u0442\u044b \u0431\u0438\u043b\u0435\u0442\u043e\u0432 \u0432 \u0441\u0438\u0441\u0442\u0435\u043c\u0435 ZooTicket: \u0441\u043e\u0437\u0434\u0430\u043d\u0438\u0435 \u043f\u043b\u0430\u0442\u0435\u0436\u0435\u0439, \u043f\u0440\u043e\u0432\u0435\u0440\u043a\u0430 \u0441\u0442\u0430\u0442\u0443\u0441\u0430, \u043f\u043e\u043b\u0443\u0447\u0435\u043d\u0438\u0435 \u0443\u0432\u0435\u0434\u043e\u043c\u043b\u0435\u043d\u0438\u0439 \u0438 \u0432\u043e\u0437\u0432\u0440\u0430\u0442\u044b.\n",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/fff-cc4/ZooTicket/1.0.0"
  },
  "servers": [
    {
      "url": "https://api.zooticket.com",
      "description": "\u041e\u0441\u043d\u043e\u0432\u043d\u043e\u0439 \u0441\u0435\u0440\u0432\u0435\u0440 API"
    },
    {
      "url": "https://virtserver.swaggerhub.com/fff-cc4/ZooTicket/1.0.0",
      "description": "SwaggerHub Auto Mock Server"
    }
  ],
  "paths": {
    "/payments/create": {
      "post": {
        "summary": "\u0421\u043e\u0437\u0434\u0430\u043d\u0438\u0435 \u043f\u043b\u0430\u0442\u0435\u0436\u0430",
        "description": "\u0421\u043e\u0437\u0434\u0430\u0435\u0442 \u043d\u043e\u0432\u044b\u0439 \u043f\u043b\u0430\u0442\u0435\u0436 \u0438 \u0432\u043e\u0437\u0432\u0440\u0430\u0449\u0430\u0435\u0442 \u0441\u0441\u044b\u043b\u043a\u0443 \u0438\u043b\u0438 \u0442\u043e\u043a\u0435\u043d \u0434\u043b\u044f \u043e\u043f\u043b\u0430\u0442\u044b.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePaymentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "\u041f\u043b\u0430\u0442\u0451\u0436 \u0443\u0441\u043f\u0435\u0448\u043d\u043e \u0441\u043e\u0437\u0434\u0430\u043d",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreatePaymentResponse"
                }
              }
            }
          }
        }
      }
    },
    "/payments/{payment_id}/status": {
      "get": {
        "summary": "\u041f\u043e\u043b\u0443\u0447\u0435\u043d\u0438\u0435 \u0441\u0442\u0430\u0442\u0443\u0441\u0430 \u043f\u043b\u0430\u0442\u0435\u0436\u0430",
        "description": "\u0412\u043e\u0437\u0432\u0440\u0430\u0449\u0430\u0435\u0442 \u0442\u0435\u043a\u0443\u0449\u0438\u0439 \u0441\u0442\u0430\u0442\u0443\u0441 \u043f\u043b\u0430\u0442\u0435\u0436\u0430.",
        "parameters": [
          {
            "name": "payment_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "\u0421\u0442\u0430\u0442\u0443\u0441 \u043f\u043b\u0430\u0442\u0435\u0436\u0430",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentStatusResponse"
                }
              }
            }
          }
        }
      }
    },
    "/payments/webhook": {
      "post": {
        "summary": "Webhook \u043e\u0442 \u043f\u043b\u0430\u0442\u0451\u0436\u043d\u043e\u0439 \u0441\u0438\u0441\u0442\u0435\u043c\u044b",
        "description": "\u041f\u043b\u0430\u0442\u0451\u0436\u043d\u0430\u044f \u0441\u0438\u0441\u0442\u0435\u043c\u0430 \u043e\u0442\u043f\u0440\u0430\u0432\u043b\u044f\u0435\u0442 \u0443\u0432\u0435\u0434\u043e\u043c\u043b\u0435\u043d\u0438\u0435 \u043e \u0440\u0435\u0437\u0443\u043b\u044c\u0442\u0430\u0442\u0435 \u043f\u043b\u0430\u0442\u0435\u0436\u0430. ZooTicket \u043f\u0440\u043e\u0432\u0435\u0440\u044f\u0435\u0442 \u043f\u043e\u0434\u043f\u0438\u0441\u044c \u0438 \u043e\u0431\u043d\u043e\u0432\u043b\u044f\u0435\u0442 \u0441\u0442\u0430\u0442\u0443\u0441 \u0437\u0430\u043a\u0430\u0437\u0430.\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebhookNotification"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "\u0423\u0432\u0435\u0434\u043e\u043c\u043b\u0435\u043d\u0438\u0435 \u0443\u0441\u043f\u0435\u0448\u043d\u043e \u043e\u0431\u0440\u0430\u0431\u043e\u0442\u0430\u043d\u043e"
          }
        }
      }
    },
    "/payments/refund": {
      "post": {
        "summary": "\u0412\u043e\u0437\u0432\u0440\u0430\u0442 \u0441\u0440\u0435\u0434\u0441\u0442\u0432",
        "description": "\u0421\u043e\u0437\u0434\u0430\u0451\u0442 \u0437\u0430\u043f\u0440\u043e\u0441 \u043d\u0430 \u0432\u043e\u0437\u0432\u0440\u0430\u0442 \u043f\u043b\u0430\u0442\u0435\u0436\u0430.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RefundRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "\u0412\u043e\u0437\u0432\u0440\u0430\u0442 \u0441\u043e\u0437\u0434\u0430\u043d",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RefundResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "CreatePaymentRequest": {
        "type": "object",
        "required": [
          "order_id",
          "amount",
          "currency"
        ],
        "properties": {
          "order_id": {
            "type": "string"
          },
          "amount": {
            "type": "number"
          },
          "currency": {
            "type": "string",
            "example": "RUB"
          },
          "description": {
            "type": "string"
          }
        }
      },
      "CreatePaymentResponse": {
        "type": "object",
        "properties": {
          "payment_id": {
            "type": "string"
          },
          "payment_url": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "example": "pending"
          }
        }
      },
      "PaymentStatusResponse": {
        "type": "object",
        "properties": {
          "payment_id": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "example": "success"
          },
          "amount": {
            "type": "number"
          }
        }
      },
      "WebhookNotification": {
        "type": "object",
        "required": [
          "payment_id",
          "order_id",
          "status",
          "signature"
        ],
        "properties": {
          "payment_id": {
            "type": "string"
          },
          "order_id": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "success",
              "failed",
              "pending"
            ]
          },
          "signature": {
            "type": "string"
          }
        }
      },
      "RefundRequest": {
        "type": "object",
        "required": [
          "payment_id",
          "amount"
        ],
        "properties": {
          "payment_id": {
            "type": "string"
          },
          "amount": {
            "type": "number"
          },
          "reason": {
            "type": "string"
          }
        }
      },
      "RefundResponse": {
        "type": "object",
        "properties": {
          "refund_id": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "example": "processing"
          }
        }
      }
    }
  }
}