{
  "openapi": "3.0.0",
  "info": {
    "description": "\r\n<div style='line-height: 30px;'>\r\n    <strong>Welcome to the Big Red Cloud API</strong><br/>\r\n    This API enables programmatic access to Big Red Cloud data.<br/>\r\n    We have used Swagger to auto generate the API documentation on this page, and it also enables direct interaction with the API in this page. <br/>\r\n    To get started, you will require an API Key - check out our guide at <a target='_blank' href='https://www.bigredcloud.com/support/generating-api-key-guide/'>https://www.bigredcloud.com/support/generating-api-key-guide/</a> for information on how to get one. <br/>\r\n    Use the  'Enter API Key' button below to enter your API key and start interacting with your Big Red Cloud data right on this page. <br/>\r\n    The API key will be stored in your browsers local storage for convenience, but you will be able to delete it at any time if you wish. <br/>\r\n    For additional information on the API, check out our support article at <a target='_blank' href='https://www.bigredcloud.com/support/api/'>https://www.bigredcloud.com/support/api/</a><br/>\r\n</div>",
    "title": "Big Red Cloud API",
    "version": "v1",
    "x-jentic-source-url": "https://raw.githubusercontent.com/jentic/jentic-public-apis/refs/heads/main/apis/openapi/bigredcloud.com/main/v1/openapi.json",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://app.bigredcloud.com/api"
    }
  ],
  "paths": {
    "/v1/accounts": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "Count": 3,
                      "Items": [
                        {
                          "accountGroup": "Sales",
                          "accountType": "Profit and Loss",
                          "code": "000",
                          "description": "SALES",
                          "id": 355
                        },
                        {
                          "accountGroup": "Sales",
                          "accountType": "Profit and Loss",
                          "code": 8,
                          "description": "SALES STOCK",
                          "id": 428
                        },
                        {
                          "accountGroup": "Other Income",
                          "accountType": "Profit and Loss",
                          "code": "050",
                          "description": "DISCOUNT RECEIVED",
                          "id": 349
                        }
                      ],
                      "NextPageLink": ""
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/PageResult_AccountDto_"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "Accounts"
        ],
        "operationId": "Accounts_Get",
        "summary": "Returns a list of company's Accounts. Supports OData querying protocol.\r\nFiltering is forbidden.\r\nOrdering is allowed by \"id\" and \"code\" fields.",
        "description": "Returns a list of company's Accounts. Supports OData querying protocol.\r\nFiltering is forbidden.\r\nOrdering is allowed by \"id\" and \"code\" fields."
      }
    },
    "/v1/analysisCategories": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "Count": 3,
                      "Items": [
                        {
                          "accountCode": "000",
                          "accountId": 355,
                          "categoryTypeId": 19,
                          "description": "AnCat1",
                          "id": 1,
                          "orderIndex": 1
                        },
                        {
                          "accountCode": "000",
                          "accountId": 355,
                          "categoryTypeId": 19,
                          "description": "AnCat2",
                          "id": 2,
                          "orderIndex": 2
                        },
                        {
                          "accountCode": "000",
                          "accountId": 355,
                          "categoryTypeId": 19,
                          "description": "AnCat3",
                          "id": 3,
                          "orderIndex": 3
                        }
                      ],
                      "NextPageLink": ""
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/PageResult_AnalysisCategoryDto_"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "AnalysisCategories"
        ],
        "operationId": "AnalysisCategories_Get",
        "summary": "Returns a list of company's Analysis Categories. Supports OData querying protocol.\r\nFiltering is allowed by \"categoryTypeId\" field.\r\nOrdering is allowed by \"id\" and \"orderIndex\" fields.",
        "description": "Returns a list of company's Analysis Categories. Supports OData querying protocol.\r\nFiltering is allowed by \"categoryTypeId\" field.\r\nOrdering is allowed by \"id\" and \"orderIndex\" fields."
      }
    },
    "/v1/bankAccounts": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "Count": 1,
                      "Items": [
                        {
                          "acCode": "B1",
                          "accountName": "",
                          "accountNumber": "83700896",
                          "address": [
                            "Address Line 1",
                            "Address Line 2"
                          ],
                          "bankFeedSource": 0,
                          "businessIdentifierCodes": "AIBKIE2D",
                          "categoryId": 41704,
                          "creditorScheme": "XXXX",
                          "details": "Bank_111111111111111111",
                          "id": 1,
                          "internationalBankAccountNumber": "IE67 BOFI 9027 0925 7277 59",
                          "isDefaultBank": false,
                          "lastChq": "000005",
                          "nominalAcCode": "B101",
                          "oBalance": 0,
                          "sortCode": "900284",
                          "timestamp": "QUFBQUFBQUFDcXc9"
                        }
                      ],
                      "NextPageLink": ""
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/PageResult_BankAccountQueryDto_"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "BankAccounts"
        ],
        "operationId": "BankAccounts_Get",
        "summary": "Returns a list of company's Bank Account. Supports OData querying protocol.\r\nFiltering is forbidden.\r\nOrdering is allowed by \"id\" and \"acCode\" fields.",
        "description": "Returns a list of company's Bank Account. Supports OData querying protocol.\r\nFiltering is forbidden.\r\nOrdering is allowed by \"id\" and \"acCode\" fields."
      },
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "BankAccounts"
        ],
        "operationId": "BankAccounts_Post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BankAccountDto"
              }
            }
          },
          "description": "Information of Bank Account to create.",
          "required": true
        },
        "summary": "Creates a new Bank Account.",
        "description": "Creates a new Bank Account."
      }
    },
    "/v1/bankAccounts/batch": {
      "put": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "BankAccounts"
        ],
        "operationId": "BankAccounts_ProcessBatch",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "items": {
                  "$ref": "#/components/schemas/BatchItem_BankAccountDto_"
                },
                "type": "array"
              }
            }
          },
          "description": "Batch of Bank Accounts to process.",
          "required": true
        },
        "summary": "Processes a batch of Bank Accounts.",
        "description": "Processes a batch of Bank Accounts."
      }
    },
    "/v1/bankAccounts/{id}": {
      "delete": {
        "parameters": [
          {
            "description": "Id of Bank Account to remove.",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          },
          {
            "description": "Timestamp of Bank Account to remove. Should be encoded in Base64.",
            "in": "query",
            "name": "timestamp",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "BankAccounts"
        ],
        "operationId": "BankAccounts_Delete",
        "summary": "Removes an existing Bank Account.",
        "description": "Removes an existing Bank Account."
      },
      "get": {
        "parameters": [
          {
            "description": "Id of Bank Account to return.",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "acCode": "B1",
                      "accountName": "",
                      "accountNumber": "83700896",
                      "address": [
                        "Address Line 1",
                        "Address Line 2"
                      ],
                      "bankFeedSource": 0,
                      "businessIdentifierCodes": "AIBKIE2D",
                      "categoryId": 41704,
                      "creditorScheme": "XXXX",
                      "details": "Bank_1",
                      "id": 1,
                      "internationalBankAccountNumber": "IE67 BOFI 9027 0925 7277 59",
                      "isDefaultBank": false,
                      "lastChq": "000005",
                      "nominalAcCode": "B101",
                      "oBalance": 0,
                      "sortCode": "900284",
                      "timestamp": "QUFBQUFBQUFDcXc9"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/BankAccountDto"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "BankAccounts"
        ],
        "operationId": "BankAccounts_Get",
        "summary": "Returns information about a single Bank Account.",
        "description": "Returns information about a single Bank Account."
      },
      "put": {
        "parameters": [
          {
            "description": "Id of Bank Account to update.",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "BankAccounts"
        ],
        "operationId": "BankAccounts_Put",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BankAccountDto"
              }
            }
          },
          "description": "Information of Bank Account to update.",
          "required": true
        },
        "summary": "Updates an existing Bank Account.",
        "description": "Updates an existing Bank Account."
      }
    },
    "/v1/bookTranTypes": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "Count": 5,
                      "Items": [
                        {
                          "code": "",
                          "description": "Cash Receipt",
                          "id": 1
                        },
                        {
                          "code": "",
                          "description": "Cash Payment",
                          "id": 2
                        },
                        {
                          "code": "",
                          "description": "Cheques Entry",
                          "id": 3
                        },
                        {
                          "code": "",
                          "description": "Purchases Book Entry",
                          "id": 4
                        },
                        {
                          "code": "",
                          "description": "Sales Entry",
                          "id": 5
                        }
                      ],
                      "NextPageLink": ""
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/PageResult_BookTranTypeDto_"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "BookTranTypes"
        ],
        "operationId": "BookTranTypes_Get",
        "summary": "Returns a list of global Book Transactions' Types. Supports OData querying protocol.\r\nFiltering is forbidden.\r\nOrdering is allowed by \"id\" field.",
        "description": "Returns a list of global Book Transactions' Types. Supports OData querying protocol.\r\nFiltering is forbidden.\r\nOrdering is allowed by \"id\" field."
      }
    },
    "/v1/cashPayments": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "Count": 1,
                      "Items": [
                        {
                          "acCode": null,
                          "acEntries": [
                            {
                              "accountCode": "CP01",
                              "analysisCategoryId": 10433,
                              "description": "Cash Pay 01",
                              "id": 62741,
                              "value": 200
                            }
                          ],
                          "bankAccountCode": "BAK2",
                          "bankAccountId": 11111,
                          "bookTranTypeId": 2,
                          "customFields": [],
                          "detailCollection": [
                            "test"
                          ],
                          "discount": 0,
                          "entryDate": "2017-07-01T00:00:00",
                          "id": 12345,
                          "ledger": 100,
                          "lodgement": 0,
                          "note": "Supplier 1",
                          "plaidTransactionId": null,
                          "procDate": "2017-07-26T00:00:00",
                          "supplierId": 70599,
                          "timestamp": "hZGrJ31w3Qg=",
                          "total": 100
                        }
                      ],
                      "NextPageLink": ""
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/PageResult_CashPaymentQueryDto_"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "CashPayments"
        ],
        "operationId": "CashPayments_Get",
        "summary": "Returns a list of company's Cash Payments. Supports OData querying protocol.\r\nFiltering is allowed by \"entryDate\" field.\r\nOrdering is allowed by \"id\" field.",
        "description": "Returns a list of company's Cash Payments. Supports OData querying protocol.\r\nFiltering is allowed by \"entryDate\" field.\r\nOrdering is allowed by \"id\" field."
      },
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "CashPayments"
        ],
        "operationId": "CashPayments_Post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CashPaymentDto"
              }
            }
          },
          "description": "Information of Cash Receipt to create.",
          "required": true
        },
        "summary": "Creates a new Cash Payment.",
        "description": "Creates a new Cash Payment."
      }
    },
    "/v1/cashPayments/batch": {
      "put": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "CashPayments"
        ],
        "operationId": "CashPayments_ProcessBatch",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "items": {
                  "$ref": "#/components/schemas/BatchItem_CashPaymentDto_"
                },
                "type": "array"
              }
            }
          },
          "description": "Batch of Cash Receipts to process.",
          "required": true
        },
        "summary": "Processes a batch of Cash Payments.",
        "description": "Processes a batch of Cash Payments."
      }
    },
    "/v1/cashPayments/{id}": {
      "delete": {
        "parameters": [
          {
            "description": "Id of Cash Receipt to remove.",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          },
          {
            "description": "Timestamp of Cash Receipt to remove. Should be encoded in Base64.",
            "in": "query",
            "name": "timestamp",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "CashPayments"
        ],
        "operationId": "CashPayments_Delete",
        "summary": "Removes an existing Cash Payment.",
        "description": "Removes an existing Cash Payment."
      },
      "get": {
        "parameters": [
          {
            "description": "Id of Cash Receipt to return.",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "acCode": null,
                      "acEntries": [
                        {
                          "accountCode": "CP01",
                          "analysisCategoryId": 10433,
                          "description": "Cash Pay 01",
                          "id": 62741,
                          "value": 200
                        }
                      ],
                      "bankAccountCode": "BAK2",
                      "bankAccountId": 11111,
                      "bookTranTypeId": 2,
                      "customFields": [],
                      "detailCollection": [
                        "test"
                      ],
                      "discount": 0,
                      "entryDate": "2017-07-01T00:00:00",
                      "id": 12345,
                      "ledger": 100,
                      "lodgement": 0,
                      "note": "Supplier 1",
                      "plaidTransactionId": null,
                      "procDate": "2017-07-26T00:00:00",
                      "supplierId": 70599,
                      "timestamp": "hZGrJ31w3Qg=",
                      "total": 100
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/CashPaymentDto"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "CashPayments"
        ],
        "operationId": "CashPayments_Get",
        "summary": "Returns information about a single Cash Payment.",
        "description": "Returns information about a single Cash Payment."
      },
      "put": {
        "parameters": [
          {
            "description": "Id of Cash Receipt to update.",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "CashPayments"
        ],
        "operationId": "CashPayments_Put",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CashPaymentDto"
              }
            }
          },
          "description": "Information of Cash Receipt to update.",
          "required": true
        },
        "summary": "Updates an existing Cash Payment.",
        "description": "Updates an existing Cash Payment."
      }
    },
    "/v1/cashReceipts": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "Count": 1,
                      "Items": [
                        {
                          "acCode": null,
                          "acEntries": [
                            {
                              "accountCode": "000",
                              "analysisCategoryId": 1,
                              "description": "AnCat1",
                              "id": 1,
                              "value": 30
                            }
                          ],
                          "bookTranTypeId": 1,
                          "customFields": [
                            {
                              "description": "acudf_1",
                              "id": 1,
                              "userDefinedFieldId": 1,
                              "value": "acudfv_1"
                            }
                          ],
                          "customerId": null,
                          "detailCollection": [
                            "det_1",
                            "det_2",
                            "det_3"
                          ],
                          "discount": 0,
                          "entryDate": "2011-01-01T00:00:00",
                          "id": 1,
                          "ledger": 0,
                          "note": "note1",
                          "plaidTransactionId": null,
                          "procDate": "2011-01-05T00:00:00",
                          "timestamp": "n/OtJ31w3Qg=",
                          "total": 50,
                          "unallocated": 0,
                          "vatEntries": [
                            {
                              "amount": 50,
                              "id": 1,
                              "percentage": 15,
                              "vatRateId": 1
                            }
                          ],
                          "vatTypeId": null
                        }
                      ],
                      "NextPageLink": ""
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/PageResult_CashReceiptQueryDto_"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "CashReceipts"
        ],
        "operationId": "CashReceipts_Get",
        "summary": "Returns a list of company's Cash Receipts. Supports OData querying protocol.\r\nFiltering is allowed by \"entryDate\" field.\r\nOrdering is allowed by \"id\" field.",
        "description": "Returns a list of company's Cash Receipts. Supports OData querying protocol.\r\nFiltering is allowed by \"entryDate\" field.\r\nOrdering is allowed by \"id\" field."
      },
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "CashReceipts"
        ],
        "operationId": "CashReceipts_Post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CashReceiptDto"
              }
            }
          },
          "description": "Information of Cash Receipt to create.",
          "required": true
        },
        "summary": "Creates a new Cash Receipt.",
        "description": "Creates a new Cash Receipt."
      }
    },
    "/v1/cashReceipts/batch": {
      "put": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "CashReceipts"
        ],
        "operationId": "CashReceipts_ProcessBatch",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "items": {
                  "$ref": "#/components/schemas/BatchItem_CashReceiptDto_"
                },
                "type": "array"
              }
            }
          },
          "description": "Batch of Cash Receipts to process.",
          "required": true
        },
        "summary": "Processes a batch of Cash Receipts.",
        "description": "Processes a batch of Cash Receipts."
      }
    },
    "/v1/cashReceipts/{id}": {
      "delete": {
        "parameters": [
          {
            "description": "Id of Cash Receipt to remove.",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          },
          {
            "description": "Timestamp of Cash Receipt to remove. Should be encoded in Base64.",
            "in": "query",
            "name": "timestamp",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "CashReceipts"
        ],
        "operationId": "CashReceipts_Delete",
        "summary": "Removes an existing Cash Receipt.",
        "description": "Removes an existing Cash Receipt."
      },
      "get": {
        "parameters": [
          {
            "description": "Id of Cash Receipt to return.",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "acCode": null,
                      "acEntries": [
                        {
                          "accountCode": "000",
                          "analysisCategoryId": 1,
                          "description": "AnCat1",
                          "id": 1,
                          "value": 30
                        }
                      ],
                      "bookTranTypeId": 1,
                      "customFields": [
                        {
                          "description": "acudf_1",
                          "id": 1,
                          "userDefinedFieldId": 1,
                          "value": "acudfv_1"
                        }
                      ],
                      "customerId": null,
                      "detailCollection": [
                        "det_1",
                        "det_2",
                        "det_3"
                      ],
                      "discount": 0,
                      "entryDate": "2011-01-01T00:00:00",
                      "id": 1,
                      "ledger": 0,
                      "note": "note1",
                      "plaidTransactionId": null,
                      "procDate": "2011-01-05T00:00:00",
                      "timestamp": "n/OtJ31w3Qg=",
                      "total": 50,
                      "unallocated": 0,
                      "vatEntries": [
                        {
                          "amount": 50,
                          "id": 1,
                          "percentage": 15,
                          "vatRateId": 1
                        }
                      ],
                      "vatTypeId": null
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/CashReceiptDto"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "CashReceipts"
        ],
        "operationId": "CashReceipts_Get",
        "summary": "Returns information about a single Cash Receipt.",
        "description": "Returns information about a single Cash Receipt."
      },
      "put": {
        "parameters": [
          {
            "description": "Id of Cash Receipt to update.",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "CashReceipts"
        ],
        "operationId": "CashReceipts_Put",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CashReceiptDto"
              }
            }
          },
          "description": "Information of Cash Receipt to update.",
          "required": true
        },
        "summary": "Updates an existing Cash Receipt.",
        "description": "Updates an existing Cash Receipt."
      }
    },
    "/v1/categoryTypes": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "Count": 1,
                      "Items": [
                        {
                          "description": "Cash Receipts",
                          "id": 17
                        }
                      ],
                      "NextPageLink": ""
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/PageResult_CategoryTypeDto_"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "CategoryTypes"
        ],
        "operationId": "CategoryTypes_Get",
        "summary": "Returns a list of company's Category Types. Supports OData querying protocol.\r\nFiltering is forbidden.\r\nOrdering is allowed by \"id\" field.",
        "description": "Returns a list of company's Category Types. Supports OData querying protocol.\r\nFiltering is forbidden.\r\nOrdering is allowed by \"id\" field."
      }
    },
    "/v1/companySettings": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "enableVOCRReporting": true,
                      "id": 20164,
                      "useAllocations": true,
                      "value": "",
                      "vocrSettingValue": false
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/PageResult_CompanySettingDto_"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "CompanySettings"
        ],
        "operationId": "CompanySettings_Get",
        "summary": "Returns a list of company settings. Supports OData querying protocol.\r\nFiltering is forbidden.",
        "description": "Returns a list of company settings. Supports OData querying protocol.\r\nFiltering is forbidden."
      }
    },
    "/v1/companySetupConfig": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanySetupConfigViewModel"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "CompanySetupConfig"
        ],
        "operationId": "CompanySetupConfig_Get",
        "summary": "Returns the company configuration settings.",
        "description": "Returns the company configuration settings."
      }
    },
    "/v1/companySetupConfig/getCompanyLogo": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "CompanySetupConfig"
        ],
        "operationId": "CompanySetupConfig_GetCompanyLogo",
        "summary": "Returns the company logo.",
        "description": "Returns the company logo."
      }
    },
    "/v1/companySetupConfig/getCompanyOptions": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyOptionDto"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "CompanySetupConfig"
        ],
        "operationId": "CompanySetupConfig_GetCompanyOptions",
        "summary": "Returns the company option setting.",
        "description": "Returns the company option setting."
      }
    },
    "/v1/companySetupConfig/getFinancialYear": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FinancialYearDto"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "CompanySetupConfig"
        ],
        "operationId": "CompanySetupConfig_GetFinancialYear",
        "summary": "Returns the financial year.",
        "description": "Returns the financial year."
      }
    },
    "/v1/customers": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "Count": 1,
                      "Items": [
                        {
                          "accountName": "",
                          "accountNumber": "12345678",
                          "additionalEmails": [
                            "email2@example.com",
                            "email2@example.com"
                          ],
                          "address": [
                            "Address Line 1",
                            "Address Line 2"
                          ],
                          "authCode": "VATEXCODE222",
                          "bank": {
                            "branch": "Bank",
                            "id": 1,
                            "name": "bank Name",
                            "sortCode": "B01"
                          },
                          "businessIdentifierCode": "AIBI02",
                          "code": "12345678",
                          "contact": "John Smith",
                          "delivery": [
                            "Delivery 1",
                            "Delivery 2"
                          ],
                          "eFTReference": "Reference",
                          "email": "customer@email.com",
                          "fax": "1234567890",
                          "id": 10589,
                          "internationalBankAccountNumber": "1233432532",
                          "mobile": "1234567890",
                          "name": "Customer Name 1",
                          "ourCode": "OURCODE111",
                          "ownerTypeId": 1,
                          "phone": "1234596970",
                          "salesRepId": 1,
                          "timestamp": "n/OtJ31w3Qg=",
                          "vatAnalysisTypeId": 1,
                          "vatReg": "VATCODE0001",
                          "vatType": 2
                        }
                      ],
                      "NextPageLink": ""
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/PageResult_CustomerQueryDto_"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "Customers"
        ],
        "operationId": "Customers_Get",
        "summary": "Returns a list of company's Customers. Supports OData querying protocol.\r\nFiltering is forbidden.\r\nOrdering is allowed by \"id\" and \"code\" fields.",
        "description": "Returns a list of company's Customers. Supports OData querying protocol.\r\nFiltering is forbidden.\r\nOrdering is allowed by \"id\" and \"code\" fields."
      },
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "Customers"
        ],
        "operationId": "Customers_Post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerDto"
              }
            }
          },
          "description": "Information of Customer to create.",
          "required": true
        },
        "summary": "Creates a new Customer.",
        "description": "Creates a new Customer."
      }
    },
    "/v1/customers/GetWithoutDormant": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "Count": 1,
                      "Items": [
                        {
                          "accountName": "",
                          "accountNumber": "12345678",
                          "additionalEmails": [
                            "email2@example.com",
                            "email2@example.com"
                          ],
                          "address": [
                            "Address Line 1",
                            "Address Line 2"
                          ],
                          "authCode": "VATEXCODE222",
                          "bank": {
                            "branch": "Bank",
                            "id": 1,
                            "name": "bank Name",
                            "sortCode": "B01"
                          },
                          "businessIdentifierCode": "AIBI02",
                          "code": "12345678",
                          "contact": "John Smith",
                          "delivery": [
                            "Delivery 1",
                            "Delivery 2"
                          ],
                          "eFTReference": "Reference",
                          "email": "customer@email.com",
                          "fax": "1234567890",
                          "id": 10589,
                          "internationalBankAccountNumber": "1233432532",
                          "mobile": "1234567890",
                          "name": "Customer Name 1",
                          "ourCode": "OURCODE111",
                          "ownerTypeId": 1,
                          "phone": "1234596970",
                          "salesRepId": 1,
                          "timestamp": "AFawJ31w3Qg=",
                          "vatAnalysisTypeId": 1,
                          "vatReg": "VATCODE0001",
                          "vatType": 2
                        }
                      ],
                      "NextPageLink": ""
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/PageResult_CustomerQueryDto_"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "Customers"
        ],
        "operationId": "Customers_GetWithoutDormant",
        "summary": "Returns a list of company's Customers without dormant records. Supports OData querying protocol.\r\nFiltering is forbidden.\r\nOrdering is allowed by \"id\" and \"code\" fields.",
        "description": "Returns a list of company's Customers without dormant records. Supports OData querying protocol.\r\nFiltering is forbidden.\r\nOrdering is allowed by \"id\" and \"code\" fields."
      }
    },
    "/v1/customers/batch": {
      "put": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "Customers"
        ],
        "operationId": "Customers_ProcessBatch",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "items": {
                  "$ref": "#/components/schemas/BatchItem_CustomerDto_"
                },
                "type": "array"
              }
            }
          },
          "description": "Batch of Customers to process.",
          "required": true
        },
        "summary": "Processes a batch of Customers.",
        "description": "Processes a batch of Customers."
      }
    },
    "/v1/customers/{id}": {
      "delete": {
        "parameters": [
          {
            "description": "Id of Customer to remove.",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          },
          {
            "description": "Timestamp of Customer to remove. Should be encoded in Base64.",
            "in": "query",
            "name": "timestamp",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "Customers"
        ],
        "operationId": "Customers_Delete",
        "summary": "Removes an existing Customer.",
        "description": "Removes an existing Customer."
      },
      "get": {
        "parameters": [
          {
            "description": "Id of Customer to return.",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          },
          {
            "description": "If \"true\" then Customer's ledger balance will be calculated; otherwise balance will be returned as 0.",
            "in": "query",
            "name": "needBalance",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerDto"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "Customers"
        ],
        "operationId": "Customers_Get",
        "summary": "Returns information about a single Customer. You may specify that Customer's ledger balance should be calculated.",
        "description": "Returns information about a single Customer. You may specify that Customer's ledger balance should be calculated."
      },
      "put": {
        "parameters": [
          {
            "description": "Id of Customer to update.",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "Customers"
        ],
        "operationId": "Customers_Put",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerDto"
              }
            }
          },
          "description": "Information of Customer to update.",
          "required": true
        },
        "summary": "Updates an existing Customer.",
        "description": "Updates an existing Customer."
      }
    },
    "/v1/customers/{itemId}/accountTrans": {
      "get": {
        "parameters": [
          {
            "description": "Id of Customer to return account transaction.",
            "in": "path",
            "name": "itemId",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": [
                      {
                        "bookTranId": 0,
                        "bookTranTypeId": 0,
                        "bookTransactionReference": "O/Bal",
                        "bookTypeDesc": "Opening Balance",
                        "credit": 0,
                        "debit": 30,
                        "id": 2,
                        "procDate": "2012-12-31T00:00:00"
                      },
                      {
                        "bookTranId": 0,
                        "bookTranTypeId": 0,
                        "bookTransactionReference": "0000001",
                        "bookTypeDesc": "Bank Payment",
                        "credit": 0,
                        "debit": 10,
                        "id": 9,
                        "procDate": "2012-12-31T00:00:00"
                      }
                    ]
                  }
                },
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/AccountTranDto"
                  },
                  "type": "array"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "Customers"
        ],
        "operationId": "Customers_GetAccountTrans",
        "summary": "Returns a list of Customer's account transactions.",
        "description": "Returns a list of Customer's account transactions."
      }
    },
    "/v1/customers/{itemId}/openingBalance": {
      "get": {
        "parameters": [
          {
            "description": "Id of Customer to return opening balances.",
            "in": "path",
            "name": "itemId",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "currentMonth": 10,
                      "oneMonthOld": 20,
                      "threeMonthsOld": 40,
                      "twoMonthsOld": 30
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/OwnerOpeningBalanceInPeriodsDto"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "Customers"
        ],
        "operationId": "Customers_GetOpeningBalance",
        "summary": "Returns a Customer's opening balances, calculated for the next periods: current month, one month old, two months old, three and more months old.",
        "description": "Returns a Customer's opening balances, calculated for the next periods: current month, one month old, two months old, three and more months old."
      }
    },
    "/v1/customers/{itemId}/openingBalanceList": {
      "get": {
        "parameters": [
          {
            "description": "Id of Customer to return opening balances transaction.",
            "in": "path",
            "name": "itemId",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": [
                      {
                        "entryDate": "2011-01-01T00:00:00",
                        "id": 1,
                        "procDate": "2011-02-01T00:00:00",
                        "reference": "O/Bal",
                        "timestamp": "AFawJ31w3Qg=",
                        "total": 10,
                        "totalVAT": 1.3,
                        "unpaid": 0,
                        "vatEntries": [
                          {
                            "amount": 8.7,
                            "vatRateId": 1
                          }
                        ]
                      },
                      {
                        "entryDate": "2011-01-01T00:00:00",
                        "id": 2,
                        "procDate": "2011-02-01T00:00:00",
                        "reference": "O/Bal",
                        "timestamp": "AFawJ31w3Qg=",
                        "total": 20,
                        "totalVAT": 3.33,
                        "unpaid": 0,
                        "vatEntries": [
                          {
                            "amount": 16.77,
                            "vatRateId": 2
                          }
                        ]
                      }
                    ]
                  }
                },
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/OwnerOpeningBalanceDto"
                  },
                  "type": "array"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "Customers"
        ],
        "operationId": "Customers_GetOpeningBalanceList",
        "summary": "Returns a list of Customer's opening balance transactions.",
        "description": "Returns a list of Customer's opening balance transactions."
      }
    },
    "/v1/customers/{itemId}/quotes": {
      "get": {
        "parameters": [
          {
            "description": "Id of Customer to return quotes.",
            "in": "path",
            "name": "itemId",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/QuoteDto"
                  },
                  "type": "array"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "Customers"
        ],
        "operationId": "Customers_GetQuotes",
        "summary": "Returns a list of Customer's quotes.",
        "description": "Returns a list of Customer's quotes."
      }
    },
    "/v1/email/sendEmailStatement": {
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "Email"
        ],
        "operationId": "Email_SendEmailStatement",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmailStatementDto"
              }
            }
          },
          "required": true
        },
        "summary": "Sends a Statement email.\r\nIf \"toAddress\" is not empty then email will be sent to this address. Otherwise email will be sent to Statement Customer's address.",
        "description": "Sends a Statement email.\r\nIf \"toAddress\" is not empty then email will be sent to this address. Otherwise email will be sent to Statement Customer's address."
      }
    },
    "/v1/email/sendQuote": {
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "Email"
        ],
        "operationId": "Email_SendQuote",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmailQuoteDto"
              }
            }
          },
          "required": true
        },
        "summary": "Sends a Quote email.\r\nIf \"toAddress\" is not empty then email will be sent to this address. Otherwise email will be sent to Statement Customer's address.",
        "description": "Sends a Quote email.\r\nIf \"toAddress\" is not empty then email will be sent to this address. Otherwise email will be sent to Statement Customer's address."
      }
    },
    "/v1/email/sendSalesInvoice": {
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "Email"
        ],
        "operationId": "Email_SendSalesInvoice",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SalesInvoiceEmailInfoDto"
              }
            }
          },
          "required": true
        },
        "summary": "Sends a Sales Invoice email.\r\nIf \"toAddress\" is not empty then email will be sent to this address. Otherwise email will be sent to Sales Invoice Customer's address.",
        "description": "Sends a Sales Invoice email.\r\nIf \"toAddress\" is not empty then email will be sent to this address. Otherwise email will be sent to Sales Invoice Customer's address."
      }
    },
    "/v1/nominalAccounts": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": [
                      {
                        "accountGroupId": 13,
                        "balance": 0,
                        "code": "000",
                        "companyId": 0,
                        "description": "SALES",
                        "group": "Sales",
                        "id": 1,
                        "month1": 0,
                        "month10": 0,
                        "month11": 0,
                        "month12": 0,
                        "month2": 0,
                        "month3": 0,
                        "month4": 0,
                        "month5": 0,
                        "month6": 0,
                        "month7": 0,
                        "month8": 0,
                        "month9": 0,
                        "oBalance": 0,
                        "timeStamp": "QUFBQUFBQUFDcXc9",
                        "type": "Profit and Loss"
                      }
                    ]
                  }
                },
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/NominalAccountDto"
                  },
                  "type": "array"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "NominalAccounts"
        ],
        "operationId": "NominalAccounts_Get",
        "summary": "Returns a list of company's Nominal Accounts. Supports OData querying protocol.\r\nFiltering is forbidden.\r\nOrdering is allowed by \"id\" and \"code\" fields.",
        "description": "Returns a list of company's Nominal Accounts. Supports OData querying protocol.\r\nFiltering is forbidden.\r\nOrdering is allowed by \"id\" and \"code\" fields."
      }
    },
    "/v1/nominalAccounts/ledger": {
      "get": {
        "parameters": [
          {
            "description": "(yyyy-MM-dd) First day of month and belong to current financial year",
            "in": "query",
            "name": "startDate",
            "required": true,
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "description": "(yyyy-MM-dd) Last day of month and belong to current financial year",
            "in": "query",
            "name": "endDate",
            "required": true,
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": [
                      {
                        "code": "050",
                        "description": "DISCOUNT RECEIVED",
                        "id": 0,
                        "openingBalance": 0,
                        "totalBalance": 0,
                        "totalCredit": 0,
                        "totalDebit": 0,
                        "transactions": [
                          {
                            "balance": 0,
                            "bookTypeCode": "BPB",
                            "credit": 0,
                            "debit": 0,
                            "details": "",
                            "entryDate": "2023-01-01T00:00:00",
                            "id": 1,
                            "procDate": "2023-01-01T00:00:00",
                            "reference": "EFT"
                          },
                          {
                            "balance": 0,
                            "bookTypeCode": "BPB",
                            "credit": 0,
                            "debit": 0,
                            "details": "",
                            "entryDate": "2023-01-01T00:00:00",
                            "id": 2,
                            "procDate": "2023-01-02T00:00:00",
                            "reference": "DD"
                          }
                        ]
                      },
                      {
                        "code": "137",
                        "description": "SUNDRY PURCHASES",
                        "id": 0,
                        "openingBalance": 0,
                        "totalBalance": 0,
                        "totalCredit": 0,
                        "totalDebit": 0,
                        "transactions": [
                          {
                            "balance": 0,
                            "bookTypeCode": "SB",
                            "credit": 0,
                            "debit": 0,
                            "details": "",
                            "entryDate": "2023-01-01T00:00:00",
                            "id": 10,
                            "procDate": "2023-01-01T00:00:00",
                            "reference": "000001"
                          },
                          {
                            "balance": 0,
                            "bookTypeCode": "CBR",
                            "credit": 0,
                            "debit": 0,
                            "details": "",
                            "entryDate": "2023-01-01T00:00:00",
                            "id": 11,
                            "procDate": "2023-01-02T00:00:00",
                            "reference": "000002"
                          }
                        ]
                      }
                    ]
                  }
                },
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/NominalLedgerDto"
                  },
                  "type": "array"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "NominalAccounts"
        ],
        "operationId": "NominalAccounts_GetLedgerListing",
        "summary": "Returns information about Nominal Ledger from all Nominal accounts.",
        "description": "Returns information about Nominal Ledger from all Nominal accounts."
      }
    },
    "/v1/nominalAccounts/ledger/{ids}": {
      "get": {
        "parameters": [
          {
            "description": "Ids of Nominal Accounts, can contain up to 100 semicolon delimited ids.",
            "in": "path",
            "name": "ids",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "(yyyy-MM-dd) First day of month and belong to current financial year",
            "in": "query",
            "name": "startDate",
            "required": true,
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "description": "(yyyy-MM-dd) Last day of month and belong to current financial year",
            "in": "query",
            "name": "endDate",
            "required": true,
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": [
                      {
                        "code": "050",
                        "description": "DISCOUNT RECEIVED",
                        "id": 0,
                        "openingBalance": 0,
                        "totalBalance": 0,
                        "totalCredit": 0,
                        "totalDebit": 0,
                        "transactions": [
                          {
                            "balance": 0,
                            "bookTypeCode": "BPB",
                            "credit": 0,
                            "debit": 0,
                            "details": "",
                            "entryDate": "2023-01-01T00:00:00",
                            "id": 1,
                            "procDate": "2023-01-01T00:00:00",
                            "reference": "EFT"
                          },
                          {
                            "balance": 0,
                            "bookTypeCode": "BPB",
                            "credit": 0,
                            "debit": 0,
                            "details": "",
                            "entryDate": "2023-01-01T00:00:00",
                            "id": 2,
                            "procDate": "2023-01-02T00:00:00",
                            "reference": "DD"
                          }
                        ]
                      },
                      {
                        "code": "137",
                        "description": "SUNDRY PURCHASES",
                        "id": 0,
                        "openingBalance": 0,
                        "totalBalance": 0,
                        "totalCredit": 0,
                        "totalDebit": 0,
                        "transactions": [
                          {
                            "balance": 0,
                            "bookTypeCode": "SB",
                            "credit": 0,
                            "debit": 0,
                            "details": "",
                            "entryDate": "2023-01-01T00:00:00",
                            "id": 10,
                            "procDate": "2023-01-01T00:00:00",
                            "reference": "000001"
                          },
                          {
                            "balance": 0,
                            "bookTypeCode": "CBR",
                            "credit": 0,
                            "debit": 0,
                            "details": "",
                            "entryDate": "2023-01-01T00:00:00",
                            "id": 11,
                            "procDate": "2023-01-02T00:00:00",
                            "reference": "000002"
                          }
                        ]
                      }
                    ]
                  }
                },
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/NominalLedgerDto"
                  },
                  "type": "array"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "NominalAccounts"
        ],
        "operationId": "NominalAccounts_GetLedgerListing",
        "summary": "Returns information about Nominal Ledger from specific Nominal Accounts.",
        "description": "Returns information about Nominal Ledger from specific Nominal Accounts."
      }
    },
    "/v1/nominalAccounts/{id}": {
      "get": {
        "parameters": [
          {
            "description": "Id of Nominal Account to return.",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "accountGroupId": 13,
                      "balance": 0,
                      "code": "000",
                      "companyId": 0,
                      "description": "SALES",
                      "group": "Sales",
                      "id": 1,
                      "month1": 0,
                      "month10": 0,
                      "month11": 0,
                      "month12": 0,
                      "month2": 0,
                      "month3": 0,
                      "month4": 0,
                      "month5": 0,
                      "month6": 0,
                      "month7": 0,
                      "month8": 0,
                      "month9": 0,
                      "oBalance": 0,
                      "timeStamp": "QUFBQUFBQUFDcXc9",
                      "type": "Profit and Loss"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/NominalAccountDto"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "NominalAccounts"
        ],
        "operationId": "NominalAccounts_Get",
        "summary": "Returns information about a single Nominal Account.",
        "description": "Returns information about a single Nominal Account."
      }
    },
    "/v1/ownerTypeGroups": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "Count": 2,
                      "Items": [
                        {
                          "description": "Customer",
                          "id": 1
                        },
                        {
                          "description": "Supplier",
                          "id": 2
                        }
                      ],
                      "NextPageLink": ""
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/PageResult_OwnerTypeGroupDto_"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "OwnerTypeGroups"
        ],
        "operationId": "OwnerTypeGroups_Get",
        "summary": "Returns a list of global Owner Type Groups. Supports OData querying protocol.\r\nFiltering is forbidden.\r\nOrdering is allowed by \"id\" field.",
        "description": "Returns a list of global Owner Type Groups. Supports OData querying protocol.\r\nFiltering is forbidden.\r\nOrdering is allowed by \"id\" field."
      }
    },
    "/v1/ownerTypes": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "Count": 3,
                      "Items": [
                        {
                          "description": "Prospect",
                          "id": 1,
                          "recordTypeGroupId": 1
                        },
                        {
                          "description": "Customer",
                          "id": 2,
                          "recordTypeGroupId": 1
                        },
                        {
                          "description": "Supplier",
                          "id": 3,
                          "recordTypeGroupId": 2
                        }
                      ],
                      "NextPageLink": ""
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/PageResult_OwnerTypeDto_"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "OwnerTypes"
        ],
        "operationId": "OwnerTypes_Get",
        "summary": "Returns a list of global Owner Types. Supports OData querying protocol.\r\nFiltering is forbidden.\r\nOrdering is allowed by \"id\" field.",
        "description": "Returns a list of global Owner Types. Supports OData querying protocol.\r\nFiltering is forbidden.\r\nOrdering is allowed by \"id\" field."
      }
    },
    "/v1/payments": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "Count": 1,
                      "Items": [
                        {
                          "acCode": "C1",
                          "acEntries": [],
                          "bankAccountCode": "B1",
                          "bankAccountId": 1,
                          "bookTranTypeId": 3,
                          "customFields": [
                            {
                              "description": "F1",
                              "id": 1,
                              "userDefinedFieldId": 1,
                              "value": "f1"
                            },
                            {
                              "description": "F2",
                              "id": 2,
                              "userDefinedFieldId": 2,
                              "value": "f2"
                            }
                          ],
                          "detailCollection": [
                            "d1",
                            "d2"
                          ],
                          "discount": 2,
                          "entryDate": "2011-07-01T00:00:00",
                          "id": 2,
                          "note": "123",
                          "plaidTransactionId": null,
                          "procDate": "2011-08-08T00:00:00",
                          "reference": "000002",
                          "supplierId": 2,
                          "timestamp": "AFawJ31w3Qg=",
                          "total": 155,
                          "transferBankCode": "",
                          "transferBankId": 1,
                          "unallocated": 155
                        }
                      ],
                      "NextPageLink": ""
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/PageResult_PaymentQueryDto_"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "Payments"
        ],
        "operationId": "Payments_Get",
        "summary": "Returns a list of company's Payments. Supports OData querying protocol.\r\nFiltering is allowed by \"entryDate\" field.\r\nOrdering is allowed by \"id\" field.",
        "description": "Returns a list of company's Payments. Supports OData querying protocol.\r\nFiltering is allowed by \"entryDate\" field.\r\nOrdering is allowed by \"id\" field."
      },
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "Payments"
        ],
        "operationId": "Payments_Post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PaymentDto"
              }
            }
          },
          "description": "Information of Payment to create.",
          "required": true
        },
        "summary": "Creates a new Payment.",
        "description": "Creates a new Payment."
      }
    },
    "/v1/payments/batch": {
      "put": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "Payments"
        ],
        "operationId": "Payments_ProcessBatch",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "items": {
                  "$ref": "#/components/schemas/BatchItem_PaymentDto_"
                },
                "type": "array"
              }
            }
          },
          "description": "Batch of Payments to process.",
          "required": true
        },
        "summary": "Processes a batch of Payments.",
        "description": "Processes a batch of Payments."
      }
    },
    "/v1/payments/{id}": {
      "delete": {
        "parameters": [
          {
            "description": "Id of Payment to remove.",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          },
          {
            "description": "Timestamp of Payment to remove. Should be encoded in Base64.",
            "in": "query",
            "name": "timestamp",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "Payments"
        ],
        "operationId": "Payments_Delete",
        "summary": "Removes an existing Payment.",
        "description": "Removes an existing Payment."
      },
      "get": {
        "parameters": [
          {
            "description": "Id of Payment to return.",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "acCode": "C1",
                      "acEntries": [],
                      "bankAccountCode": "B1",
                      "bankAccountId": 1,
                      "bookTranTypeId": 3,
                      "customFields": [
                        {
                          "description": "F1",
                          "id": 1,
                          "userDefinedFieldId": 1,
                          "value": "f1"
                        },
                        {
                          "description": "F2",
                          "id": 2,
                          "userDefinedFieldId": 2,
                          "value": "f2"
                        }
                      ],
                      "detailCollection": [
                        "d1",
                        "d2"
                      ],
                      "discount": 2,
                      "entryDate": "2011-07-01T00:00:00",
                      "id": 2,
                      "note": "123",
                      "plaidTransactionId": null,
                      "procDate": "2011-08-08T00:00:00",
                      "reference": "000002",
                      "supplierId": 2,
                      "timestamp": "AFawJ31w3Qg=",
                      "total": 155,
                      "transferBankCode": "",
                      "transferBankId": 1,
                      "unallocated": 155
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/PaymentDto"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "Payments"
        ],
        "operationId": "Payments_Get",
        "summary": "Returns information about a single Payments.",
        "description": "Returns information about a single Payments."
      },
      "put": {
        "parameters": [
          {
            "description": "Id of Payment to update.",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "Payments"
        ],
        "operationId": "Payments_Put",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PaymentDto"
              }
            }
          },
          "description": "Information of Payment to update.",
          "required": true
        },
        "summary": "Updates an existing Payment.",
        "description": "Updates an existing Payment."
      }
    },
    "/v1/productTypes": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "Count": 3,
                      "Items": [
                        {
                          "description": "Prospect",
                          "id": 1,
                          "recordTypeGroupId": 1
                        },
                        {
                          "description": "Customer",
                          "id": 2,
                          "recordTypeGroupId": 1
                        },
                        {
                          "description": "Supplier",
                          "id": 3,
                          "recordTypeGroupId": 2
                        }
                      ],
                      "NextPageLink": ""
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/PageResult_OwnerTypeDto_"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "ProductTypes"
        ],
        "operationId": "ProductTypes_Get",
        "summary": "Returns a list of global Product Types. Supports OData querying protocol.\r\nFiltering is forbidden.\r\nOrdering is allowed by \"id\" field.",
        "description": "Returns a list of global Product Types. Supports OData querying protocol.\r\nFiltering is forbidden.\r\nOrdering is allowed by \"id\" field."
      }
    },
    "/v1/products": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "Count": 1,
                      "Items": [
                        {
                          "details": [
                            "det1",
                            "det2",
                            "det3"
                          ],
                          "grossUnitPrice": false,
                          "hasDefaultVatRate": false,
                          "id": 9,
                          "productTypeId": 0,
                          "stockCode": "PRO1",
                          "timestamp": "b7iyJ31w3Qg=",
                          "unitPrice": 100,
                          "vatAnalysisTypeId": 1,
                          "vatRateId": null
                        }
                      ],
                      "NextPageLink": ""
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/PageResult_ProductDto_"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "Products"
        ],
        "operationId": "Products_Get",
        "summary": "Returns a list of company's Products. Supports OData querying protocol.\r\nFiltering is forbidden.\r\nOrdering is allowed by \"id\" and \"stockCode\" fields.",
        "description": "Returns a list of company's Products. Supports OData querying protocol.\r\nFiltering is forbidden.\r\nOrdering is allowed by \"id\" and \"stockCode\" fields."
      },
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "Products"
        ],
        "operationId": "Products_Post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProductDto"
              }
            }
          },
          "description": "Information of Product to create.",
          "required": true
        },
        "summary": "Creates a new Product.",
        "description": "Creates a new Product."
      }
    },
    "/v1/products/GetWithoutDormant": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "Count": 1,
                      "Items": [
                        {
                          "details": [
                            "det1",
                            "det2",
                            "det3"
                          ],
                          "grossUnitPrice": false,
                          "hasDefaultVatRate": false,
                          "id": 9,
                          "productTypeId": 0,
                          "stockCode": "PRO1",
                          "timestamp": "b7iyJ31w3Qg=",
                          "unitPrice": 100,
                          "vatAnalysisTypeId": 1,
                          "vatRateId": null
                        }
                      ],
                      "NextPageLink": ""
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/PageResult_ProductDto_"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "Products"
        ],
        "operationId": "Products_GetWithoutDormant",
        "summary": "Returns a list of company's Products without dormant records. Supports OData querying protocol.\r\nFiltering is forbidden.\r\nOrdering is allowed by \"id\" and \"stockCode\" fields.",
        "description": "Returns a list of company's Products without dormant records. Supports OData querying protocol.\r\nFiltering is forbidden.\r\nOrdering is allowed by \"id\" and \"stockCode\" fields."
      }
    },
    "/v1/products/batch": {
      "put": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "Products"
        ],
        "operationId": "Products_ProcessBatch",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "items": {
                  "$ref": "#/components/schemas/BatchItem_ProductDto_"
                },
                "type": "array"
              }
            }
          },
          "description": "Batch of Products to process.",
          "required": true
        },
        "summary": "Processes a batch of Products.",
        "description": "Processes a batch of Products."
      }
    },
    "/v1/products/{id}": {
      "delete": {
        "parameters": [
          {
            "description": "Id of Product to remove.",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          },
          {
            "description": "Timestamp of Product to remove. Should be encoded in Base64.",
            "in": "query",
            "name": "timestamp",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "Products"
        ],
        "operationId": "Products_Delete",
        "summary": "Removes an existing Product.",
        "description": "Removes an existing Product."
      },
      "get": {
        "parameters": [
          {
            "description": "Id of Product to return.",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "details": [
                        "det1",
                        "det2",
                        "det3"
                      ],
                      "grossUnitPrice": false,
                      "hasDefaultVatRate": false,
                      "id": 9,
                      "productTypeId": 0,
                      "stockCode": "PRO1",
                      "timestamp": "b7iyJ31w3Qg=",
                      "unitPrice": 100,
                      "vatAnalysisTypeId": 1,
                      "vatRateId": null
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ProductDto"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "Products"
        ],
        "operationId": "Products_Get",
        "summary": "Returns information about a single Product.",
        "description": "Returns information about a single Product."
      },
      "put": {
        "parameters": [
          {
            "description": "Id of Product to update.",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "Products"
        ],
        "operationId": "Products_Put",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProductDto"
              }
            }
          },
          "description": "Information of Product to update.",
          "required": true
        },
        "summary": "Updates an existing Product.",
        "description": "Updates an existing Product."
      }
    },
    "/v1/purchases": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": {
                      "Count": 1,
                      "Items": [
                        {
                          "acCode": "SUP3",
                          "acEntries": [
                            {
                              "accountCode": "PU03",
                              "analysisCategoryId": 10441,
                              "description": "PUR 3",
                              "id": 12518,
                              "value": 90.91
                            }
                          ],
                          "bookTranTypeId": 4,
                          "customFields": [],
                          "detailCollection": [],
                          "entryDate": "2016-06-01T00:00:00",
                          "id": 13380,
                          "isDiscrepancyAccepted": null,
                          "netGoods": 0,
                          "netServices": 0,
                          "note": "Supplier 3",
                          "postponedAccounting": false,
                          "procDate": "2016-06-24T00:00:00",
                          "reference": "000001",
                          "supplierId": 10173,
                          "timestamp": "b7iyJ31w3Qg=",
                          "total": 100,
                          "totalNet": 90.91,
                          "totalVAT": 9.09,
                          "unallocated": 100,
                          "unpaid": 100,
                          "vatEntries": [
                            {
                              "amount": 90.91,
                              "id": 12267,
                              "percentage": 10,
                              "vatRateId": 10317
                            }
                          ],
                          "vatTypeId": 1
                        }
                      ],
                      "NextPageLink": ""
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/PageResult_PurchaseQueryDto_"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "Purchases"
        ],
        "operationId": "Purchases_Get",
        "summary": "Returns a list of company's Purchases. Supports OData querying protocol.\r\nFiltering is allowed by \"entryDate\" field.\r\nOrdering is allowed by \"id\" field.",
        "description": "Returns a list of company's Purchases. Supports OData querying protocol.\r\nFiltering is allowed by \"entryDate\" field.\r\nOrdering is allowed by \"id\" field."
      },
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "Purchases"
        ],
        "operationId": "Purchases_Post",
        "requestBody": {
          "$ref": "#/components/requestBodies/PurchaseDto"
        },
        "summary": "Creates a new Purchase.",
        "description": "Creates a new Purchase."
      }
    },
    "/v1/purchases/batch": {
      "put": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "Purchases"
        ],
        "operationId": "Purchases_ProcessBatch",
        "requestBody": {
          "content": {
            "application/json": {
[...]
