{
  "openapi": "3.0.0",
  "x-stoplight": {
    "id": "awy8tranbezg9"
  },
  "info": {
    "title": "product_offer_management",
    "version": "1.0",
    "description": "OCP services",
    "contact": {
      "email": "ocp-design@stc.com.sa"
    },
    "x-logo": {
      "url": "images/stc_logo2.png",
      "backgroundColor": "#FFFFFF",
      "altText": "stc logo"
    },
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/vChannels/product_offer_management/1.0"
  },
  "servers": [
    {
      "url": "http://omnitest.stc.com.sa:3300/stcesb/stcrs2",
      "description": "Testing"
    },
    {
      "description": "Production",
      "url": "http://ocp.stc.com.sa:3300/stcesb/stcrs2"
    }
  ],
  "paths": {
    "/private/phoneNumbers/{phoneNumber}/mobileProductsDowngrade/{productId}": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "phoneNumber",
          "in": "path",
          "required": true
        },
        {
          "schema": {
            "type": "string"
          },
          "name": "productId",
          "in": "path",
          "required": true
        }
      ],
      "post": {
        "summary": "Downgrade Service Activation",
        "operationId": "postDowngradeProduct",
        "description": "Downgrade Service Activation",
        "deprecated": false,
        "tags": [
          "Private"
        ],
        "responses": {
          "204": {
            "$ref": "#/components/responses/204"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "502": {
            "$ref": "#/components/responses/502"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/Accept-Language"
          },
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/User-Agent"
          },
          {
            "$ref": "#/components/parameters/Date"
          },
          {
            "$ref": "#/components/parameters/x-stcws-user"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          },
          "description": "No Content in response. "
        }
      }
    }
  },
  "components": {
    "schemas": {},
    "securitySchemes": {},
    "parameters": {
      "Accept-Language": {
        "name": "Accept-Language",
        "in": "header",
        "required": true,
        "schema": {
          "type": "string",
          "enum": [
            "en",
            "ar"
          ],
          "example": "ar"
        },
        "description": "user interface language"
      },
      "Authorization": {
        "name": "Authorization",
        "in": "header",
        "schema": {
          "type": "string",
          "example": "STCWS sdfUser:xuJzliYBJe5YRkkSsk0G5DHrwso="
        },
        "description": "The channel authentication  STCWS Channel_Username:Signature",
        "required": true
      },
      "User-Agent": {
        "name": "User-Agent",
        "in": "header",
        "required": true,
        "schema": {
          "type": "string"
        },
        "description": "User Agent to be given in the following format Channel;Platform;AppVer;Device"
      },
      "Date": {
        "name": "Date",
        "in": "header",
        "required": true,
        "schema": {
          "type": "string",
          "example": "EEE, dd MMM yyyy HH:mm:ss GMT"
        },
        "description": "This is the date for a request submitted from an application (The date/time must be in GMT timezone)"
      },
      "x-stcws-user": {
        "name": "x-stcws-user",
        "in": "header",
        "required": true,
        "schema": {
          "type": "string"
        },
        "description": "user credentials or token (required for private services)"
      },
      "x-pin": {
        "name": "x-pin",
        "in": "header",
        "schema": {
          "type": "string"
        },
        "description": "the OTP sent to user, this should be used for protected services "
      },
      "x-phoneNumber": {
        "name": "x-phoneNumber",
        "in": "header",
        "required": false,
        "schema": {
          "type": "string"
        },
        "description": "the phone number that received OTP  (for public services)"
      },
      "x-api-version": {
        "name": "x-api-version",
        "in": "header",
        "required": false,
        "schema": {
          "type": "string"
        },
        "description": "API version number"
      },
      "x-hurl": {
        "name": "x-hurl",
        "in": "header",
        "required": false,
        "schema": {
          "type": "string"
        },
        "description": "URI hash"
      }
    },
    "responses": {
      "204": {
        "description": "Processed",
        "headers": {
          "X-OCP-Transaction-ID": {
            "schema": {
              "type": "string"
            },
            "description": "OCP Transaction Id"
          }
        }
      },
      "400": {
        "description": "Bad Request",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "errors": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "code": {
                        "type": "string"
                      },
                      "message": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "headers": {
          "X-OCP-Transaction-ID": {
            "schema": {
              "type": "string"
            },
            "description": "OCP Transaction Id"
          }
        }
      },
      "401": {
        "description": "Unauthorized",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "errors": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "code": {
                        "type": "string"
                      },
                      "message": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "headers": {
          "X-OCP-Transaction-ID": {
            "schema": {
              "type": "string"
            },
            "description": "OCP Transaction Id"
          }
        }
      },
      "502": {
        "description": "Technical Error",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "errors": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "code": {
                        "type": "string"
                      },
                      "message": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "headers": {
          "X-OCP-Transaction-ID": {
            "schema": {
              "type": "string"
            },
            "description": "OCP Transaction Id"
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Public",
      "x-displayName": "Public Services"
    },
    {
      "name": "Private",
      "x-displayName": "Private Services"
    }
  ],
  "x-tagGroups": [
    {
      "name": "Private Services Group",
      "tags": [
        "Private"
      ]
    },
    {
      "name": "Public Services Group",
      "tags": [
        "Public"
      ]
    }
  ]
}