{
  "swagger": "2.0",
  "info": {
    "description": "This is the API for External Integration Users to access the underlying Care Orchestrator services.",
    "version": "1.0.0",
    "title": "IntegrationGateway",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/ALBANFAVRE/PhilipsApi/1.0.0"
  },
  "host": "integration.careorchestrator.com",
  "basePath": "/",
  "tags": [
    {
      "name": "careTeamPhysicians",
      "description": "Care Team Physicians Api Controller"
    },
    {
      "name": "clinicians",
      "description": "Clinicians Api Controller"
    },
    {
      "name": "compliantPatients",
      "description": "Compliant Patients Api Controller"
    },
    {
      "name": "documents",
      "description": "Documents Api Controller"
    },
    {
      "name": "emrOrder",
      "description": "Emr Order Api Controller"
    },
    {
      "name": "equipment",
      "description": "Equipment Api Controller"
    },
    {
      "name": "externalServices",
      "description": "External Services Api Controller"
    },
    {
      "name": "location",
      "description": "Location Api Controller"
    },
    {
      "name": "maskSuggestions",
      "description": "Mask Suggestions Api Controller"
    },
    {
      "name": "orgs",
      "description": "Orgs Api Controller"
    },
    {
      "name": "patientSearch",
      "description": "Patient Search Api Controller"
    },
    {
      "name": "patients",
      "description": "Patients Api Controller"
    },
    {
      "name": "physicians",
      "description": "Physicians Api Controller"
    },
    {
      "name": "prescriptions",
      "description": "Prescriptions Api Controller"
    },
    {
      "name": "reminderGroups",
      "description": "Reminder Groups Api Controller"
    },
    {
      "name": "reports",
      "description": "Reports Api Controller"
    },
    {
      "name": "tasks",
      "description": "Tasks Api Controller"
    },
    {
      "name": "therapyData",
      "description": "Therapy Api Controller"
    },
    {
      "name": "ventTherapyData",
      "description": "Vent Therapy Api Controller"
    }
  ],
  "paths": {
    "/clinicians/{orgId}": {
      "get": {
        "tags": [
          "clinicians"
        ],
        "summary": "Get clinicians for the given Organization",
        "operationId": "getCliniciansUsingGET",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "PageNumber",
            "in": "query",
            "description": "Specifies the page number for the clinicians being requested. The default and minimum page number is 1. When more than one page of clinicians is required, this request can be repeated with the page number.",
            "required": false,
            "type": "integer",
            "default": 1,
            "format": "int32",
            "allowEmptyValue": false
          },
          {
            "name": "PageSize",
            "in": "query",
            "description": "Specifies the number of records to show per page.  The default and maximum length for a page is 500, while the minimum is 1.",
            "required": false,
            "type": "integer",
            "default": 500,
            "format": "int32",
            "allowEmptyValue": false
          },
          {
            "name": "orgId",
            "in": "path",
            "description": "This is the orgID for which the user is attempting to get the list of clinicians in that org, a UUID.",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Clinician"
              }
            }
          },
          "400": {
            "description": "Bad Request - (didn't pass validation)",
            "schema": {
              "$ref": "#/definitions/ValidationErrorResponse"
            }
          },
          "401": {
            "description": "Not Authorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Unexpected Error"
          }
        },
        "deprecated": false
      }
    },
    "/compliantPatients/{orgId}/{startDate}/{endDate}": {
      "get": {
        "tags": [
          "compliantPatients"
        ],
        "summary": "Get a list of compliant patients in the org",
        "operationId": "getCompliantPatients",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "endDate",
            "in": "path",
            "description": "Last day of the date range for the patients being requested. The format: yyyy-MM-dd.",
            "required": true,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "orgId",
            "in": "path",
            "description": "orgId to retrieve compliant patients.",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "startDate",
            "in": "path",
            "description": "First day of the date range for the patients being requested. The format: yyyy-MM-dd.",
            "required": true,
            "type": "string",
            "format": "date-time"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/CompliantPatient"
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Not Authorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Entity Not Found"
          },
          "500": {
            "description": "Unexpected Error"
          }
        },
        "deprecated": false
      }
    },
    "/documents/{patientId}": {
      "get": {
        "tags": [
          "documents"
        ],
        "summary": "getDocuments",
        "operationId": "getDocumentsUsingGET",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "PageNumber",
            "in": "query",
            "description": "Specifies the page number for the documents being requested. The default and minimum page number is 1. When more than one page of documents is required, this request can be repeated with the page number.",
            "required": false,
            "type": "integer",
            "default": 1,
            "format": "int32",
            "allowEmptyValue": false
          },
          {
            "name": "PageSize",
            "in": "query",
            "description": "Specifies number of records to show per page.  The default and maximum length for a page is 500, while the minimum length is 1.",
            "required": false,
            "type": "integer",
            "default": 500,
            "format": "int32",
            "allowEmptyValue": false
          },
          {
            "name": "patientId",
            "in": "path",
            "description": "This is the patientId to retrieve the documents.",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Document"
              }
            }
          },
          "400": {
            "description": "Bad Request - (didn't pass validation)",
            "schema": {
              "$ref": "#/definitions/ValidationErrorResponse"
            }
          },
          "401": {
            "description": "Not Authorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Entity Not Found"
          },
          "500": {
            "description": "Unexpected Error"
          }
        },
        "deprecated": false
      },
      "post": {
        "tags": [
          "documents"
        ],
        "summary": "Insert a new document for a patient",
        "operationId": "insertDocumentUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Details of the document to be added",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DocumentUpload"
            }
          },
          {
            "name": "patientId",
            "in": "path",
            "description": "This is the patientId which the document is being attached",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "201": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Document"
            }
          },
          "400": {
            "description": "Bad Request - Invalid Document (didn't pass validation)",
            "schema": {
              "$ref": "#/definitions/ValidationErrorResponse"
            }
          },
          "401": {
            "description": "Not Authorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Entity Not Found"
          },
          "500": {
            "description": "Unexpected Error"
          }
        },
        "deprecated": false
      }
    },
    "/documents/{patientId}/{documentId}": {
      "get": {
        "tags": [
          "documents"
        ],
        "summary": "getDocument",
        "operationId": "getDocumentUsingGET",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "documentId",
            "in": "path",
            "description": "this is the documentid to retrieve.",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "patientId",
            "in": "path",
            "description": "This is the patientId to retrieve the document.",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "string",
              "format": "byte"
            }
          },
          "400": {
            "description": "Bad Request - (didn't pass validation)",
            "schema": {
              "$ref": "#/definitions/ValidationErrorResponse"
            }
          },
          "401": {
            "description": "Not Authorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Entity Not Found"
          },
          "500": {
            "description": "Unexpected Error"
          }
        },
        "deprecated": false
      }
    },
    "/documents/{patientId}/{documentId}/status": {
      "get": {
        "tags": [
          "documents"
        ],
        "summary": "getDocumentStatus",
        "operationId": "getDocumentStatusUsingGET",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "documentId",
            "in": "path",
            "description": "this is the documentid to retrieve.",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "patientId",
            "in": "path",
            "description": "This is the patientId to retrieve the documents.",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "string",
              "enum": [
                "Uploaded",
                "ScannerStart",
                "Downloaded",
                "Complete",
                "Infected",
                "Error",
                "Deleted"
              ]
            }
          },
          "400": {
            "description": "Bad Request - (didn't pass validation)",
            "schema": {
              "$ref": "#/definitions/ValidationErrorResponse"
            }
          },
          "401": {
            "description": "Not Authorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Entity Not Found"
          },
          "500": {
            "description": "Unexpected Error"
          }
        },
        "deprecated": false
      }
    },
    "/equipment/accessories/{orgId}": {
      "get": {
        "tags": [
          "equipment"
        ],
        "summary": "getOrganizationAccessories",
        "description": "Retrieve the accessories available to an organization",
        "operationId": "getOrganizationAccessories",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "accessoryType",
            "in": "query",
            "description": "This will limit the accessories to return, only retrieving the accessories of the accessory type",
            "required": false,
            "type": "string",
            "allowEmptyValue": false,
            "enum": [
              "Cushion",
              "Filter",
              "HeadgearFrame",
              "Humidifier",
              "Mask",
              "OtherAccessoryType",
              "Tubing",
              "VentilationCircuit"
            ]
          },
          {
            "name": "orgId",
            "in": "path",
            "description": "orgid to retrieve available accessories.",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/OrgAccessory"
              }
            }
          },
          "400": {
            "description": "Bad Request - (didn't pass validation)",
            "schema": {
              "$ref": "#/definitions/ValidationErrorResponse"
            }
          },
          "401": {
            "description": "Not Authorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Entity Not Found"
          },
          "500": {
            "description": "Unexpected Error"
          }
        },
        "deprecated": false
      }
    },
    "/equipment/{patientId}": {
      "get": {
        "tags": [
          "equipment"
        ],
        "summary": "getEquipment",
        "description": "Retrieve a list of assigned equipment to a patient",
        "operationId": "getEquipmentUsingGET",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "patientId",
            "in": "path",
            "description": "patientId to retrieve list of equipment.",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Equipment"
              }
            }
          },
          "400": {
            "description": "Bad Request - (didn't pass validation)",
            "schema": {
              "$ref": "#/definitions/ValidationErrorResponse"
            }
          },
          "401": {
            "description": "Not Authorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Entity Not Found"
          },
          "500": {
            "description": "Unexpected Error"
          }
        },
        "deprecated": false
      },
      "post": {
        "tags": [
          "equipment"
        ],
        "summary": "Add a new equipment to the patient in Care Orchestrator System",
        "description": "Assign a device to a patient",
        "operationId": "insertEquipmentUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Details of the equipment to be added",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EquipmentUpsert"
            }
          },
          {
            "name": "patientId",
            "in": "path",
            "description": "patientId to assign equipment",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "201": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Equipment"
            }
          },
          "400": {
            "description": "Bad Request - Invalid Equipment (didn't pass validation)",
            "schema": {
              "$ref": "#/definitions/ValidationErrorResponse"
            }
          },
          "401": {
            "description": "Not Authorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Unexpected Error"
          }
        },
        "deprecated": false
      }
    },
    "/equipment/{patientId}/accessories": {
      "get": {
        "tags": [
          "equipment"
        ],
        "summary": "Returns the patient's accessories (masks and humidifiers) given the patientId",
        "operationId": "getPatientAccessories",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "patientId",
            "in": "path",
            "description": "The patient Id number in the Care Orchestrator application, a UUID",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Accessory"
              }
            }
          },
          "401": {
            "description": "Not Authorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Entity Not Found"
          },
          "500": {
            "description": "Unexpected Error"
          }
        },
        "deprecated": false
      },
      "post": {
        "tags": [
          "equipment"
        ],
        "summary": "Inserts the accessory on a patient",
        "operationId": "insertPatientAccessory",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "accessory",
            "description": "Details of the equipment to be added",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AccessoryUpsert"
            }
          },
          {
            "name": "patientId",
            "in": "path",
            "description": "The patient Id number in the Care Orchestrator application, a UUID",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "201": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Accessory"
              }
            }
          },
          "401": {
            "description": "Not Authorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Entity Not Found"
          },
          "500": {
            "description": "Unexpected Error"
          }
        },
        "deprecated": false
      }
    },
    "/equipment/{patientId}/accessories/{patientAccessoryId}": {
      "put": {
        "tags": [
          "equipment"
        ],
        "summary": "Updates the accessory on a patient",
        "operationId": "updatePatientAccessory",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "accessory",
            "description": "Details of the equipment to be added",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AccessoryUpsert"
            }
          },
          {
            "name": "patientAccessoryId",
            "in": "path",
            "description": "patientAccessoryId to update.",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "patientId",
            "in": "path",
            "description": "The patient Id number in the Care Orchestrator application, a UUID",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Accessory"
              }
            }
          },
          "401": {
            "description": "Not Authorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Entity Not Found"
          },
          "500": {
            "description": "Unexpected Error"
          }
        },
        "deprecated": false
      },
      "delete": {
        "tags": [
          "equipment"
        ],
        "summary": "deleteAccessory",
        "description": "Unassign accessory from patient",
        "operationId": "deleteAccessory",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "patientAccessoryId",
            "in": "path",
            "description": "patientAccessoryId to delete.",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "patientId",
            "in": "path",
            "description": "patientId to unassign accessory.",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request - (didn't pass validation)",
            "schema": {
              "$ref": "#/definitions/ValidationErrorResponse"
            }
          },
          "401": {
            "description": "Not Authorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Entity Not Found"
          },
          "500": {
            "description": "Unexpected Error"
          }
        },
        "deprecated": false
      }
    },
    "/equipment/{patientId}/{equipmentId}": {
      "delete": {
        "tags": [
          "equipment"
        ],
        "summary": "deleteEquipment",
        "description": "Unassign a given device from a patient.",
        "operationId": "deleteEquipmentUsingDELETE",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "equipmentId",
            "in": "path",
            "description": "equipmentId to delete.",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "patientId",
            "in": "path",
            "description": "patientId to delete equipment.",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request - (didn't pass validation)",
            "schema": {
              "$ref": "#/definitions/ValidationErrorResponse"
            }
          },
          "401": {
            "description": "Not Authorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Entity Not Found"
          },
          "500": {
            "description": "Unexpected Error"
          }
        },
        "deprecated": false
      }
    },
    "/extendedSearch": {
      "post": {
        "tags": [
          "patientSearch"
        ],
        "summary": "extendedSearch",
        "description": "search and returns list of patients from another organization given the patient search criteria",
        "operationId": "extendedSearch",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "extendedSearchCriteria",
            "description": "Extended search criteria of patients to be retrieved",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ExtendedSearchCriteria"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/PatientExtendedSearchResult"
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Not Authorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Entity Not Found"
          },
          "500": {
            "description": "Unexpected Error"
          }
        },
        "deprecated": false
      }
    },
    "/externalServices/{patientId}": {
      "get": {
        "tags": [
          "externalServices"
        ],
        "summary": "Gets list of ExternalServices on Patient",
        "description": "This performs a get externalServices on patient.",
        "operationId": "getExternalServicesUsingGET",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "patientId",
            "in": "path",
            "description": "Id of the patient to be updated",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid Patient (didn't pass validation)",
            "schema": {
              "$ref": "#/definitions/ValidationErrorResponse"
            }
          },
          "401": {
            "description": "Not Authorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Entity Not Found"
          },
          "500": {
            "description": "Unexpected Error"
          }
        },
        "deprecated": false
      },
      "put": {
        "tags": [
          "externalServices"
        ],
        "summary": "Updates a patient with external Services",
        "description": "This performs update of externalServices on patient. It is recommended to perform a GET first because any services that were on the patient will be removed if not on this update call.",
        "operationId": "updateExternalServicesUsingPUT",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "externalServices",
            "description": "externalServices to be updated on patient",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "patientId",
            "in": "path",
            "description": "patientId to retrieve external services of patient.",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request - Invalid Patient (didn't pass validation)",
            "schema": {
              "$ref": "#/definitions/ValidationErrorResponse"
            }
          },
          "401": {
            "description": "Not Authorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Entity Not Found"
          },
          "500": {
            "description": "Unexpected Error"
          }
        },
        "deprecated": false
      }
    },
    "/location/search/{orgId}/{searchValue}": {
      "get": {
        "tags": [
          "location"
        ],
        "summary": "Search locations",
        "description": "Searches for locations to add to a patient's locations list.",
        "operationId": "searchLocationsUsingGET",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "PageNumber",
            "in": "query",
            "description": "Specifies the page number for the locations being requested. The default and minimum page number is 1. When more than one page of locations is required, this request can be repeated with the page number.",
            "required": false,
            "type": "integer",
            "default": 1,
            "format": "int32",
            "allowEmptyValue": false
          },
          {
            "name": "PageSize",
            "in": "query",
            "description": "Specifies the number of records to show per page.  The default and maximum length for a page is 50, while the minimum is 1.",
            "required": false,
            "type": "integer",
            "default": 50,
            "format": "int32",
            "allowEmptyValue": false
          },
          {
            "name": "orgId",
            "in": "path",
            "description": "The same orgId that will be used on the patient create/update",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "patientId",
            "in": "query",
            "description": "The patientId used for create/update.",
            "required": false,
            "type": "string",
            "format": "uuid",
            "allowEmptyValue": false
          },
          {
            "name": "searchValue",
            "in": "path",
            "description": "the location search value",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Location"
              }
            }
          },
          "400": {
            "description": "Bad Request - (didn't pass validation)",
            "schema": {
              "$ref": "#/definitions/ValidationErrorResponse"
            }
          },
          "401": {
            "description": "Not Authorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Entity Not Found"
          },
          "500": {
            "description": "Unexpected Error"
          }
        },
        "deprecated": false
      }
    },
    "/masksuggestions/{patientId}": {
      "get": {
        "tags": [
          "maskSuggestions"
        ],
        "summary": "getMaskSuggestions",
        "description": "Get a list of Mask Suggestions for a patient.",
        "operationId": "getMaskSuggestions",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "patientId",
            "in": "path",
            "description": "id of the patient to get mask suggestions",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/MaskSuggestions"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Not Authorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Entity Not Found"
          },
          "500": {
            "description": "Unexpected Error"
          }
        },
        "deprecated": false
      }
    },
    "/masksuggestions/{patientId}/assign": {
      "post": {
        "tags": [
          "maskSuggestions"
        ],
        "summary": "createAccessoriesFromMaskSuggestion",
        "description": "Create accessories from the list of Mask Suggestions for a patient.",
        "operationId": "createAccessoriesFromMaskSuggestion",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "maskSuggestion",
            "description": "mask suggestion for a patient",
            "required": true,
            "schema": {
              "$ref": "#/definitions/MaskSuggestion"
            }
          },
          {
            "name": "patientId",
            "in": "path",
            "description": "id of the patient to create accessories",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Not Authorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Unexpected Error"
          }
        },
        "deprecated": false
      }
    },
    "/orgs": {
      "get": {
        "tags": [
          "orgs"
        ],
        "summary": "Get organizations for the Care Orchestrator System",
        "operationId": "getOrgs",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "PageNumber",
            "in": "query",
            "description": "Specifies the page number for the orgs being requested. The default and minimum page number is 1.When more than one page of orgs is required, this request can be repeated with the page number.",
            "required": false,
            "type": "integer",
            "default": 1,
            "format": "int32",
            "allowEmptyValue": false
          },
          {
            "name": "PageSize",
            "in": "query",
            "description": "Specifies the number of records to show per page.  The default and maximum length for a page is 500, while the minimum is 1.",
            "required": false,
            "type": "integer",
            "default": 500,
            "format": "int32",
            "allowEmptyValue": false
          },
          {
            "name": "active",
            "in": "query",
            "description": "Active orgs returned when active is not included in query string or when active is true. All orgs including active and inactive returned when active is false",
            "required": false,
            "type": "boolean",
            "allowEmptyValue": false
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Organization"
              }
            }
          },
          "400": {
            "description": "Bad Request (didn't pass validation)"
          },
          "401": {
            "description": "Unauthorized - Integrator has invalid credentials."
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "deprecated": false
      }
    },
    "/orgs/custompatientfields": {
      "post": {
        "tags": [
          "orgs"
        ],
        "summary": "Saves the custom patient fields for a given OrgId",
        "description": "Saves the custom patient fields for a given org.",
        "operationId": "saveCustomPatientFields",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "customFields",
            "description": "Custom Fields to be added",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CustomFields"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CustomFields"
            }
          },
          "400": {
            "description": "Bad Request - (didn't pass validation)",
            "schema": {
              "$ref": "#/definitions/ValidationErrorResponse"
            }
          },
          "401": {
            "description": "Not Authorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Unexpected Error"
          }
        },
        "deprecated": false
      },
      "put": {
        "tags": [
          "orgs"
        ],
        "summary": "Updates the custom patient fields for a given OrgId",
        "description": "Updates the custom patient fields for a given org.",
        "operationId": "updateCustomPatientFields",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "customFields",
            "description": "Custom Fields to be updated",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CustomFields"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CustomFields"
            }
          },
          "400": {
            "description": "Bad Request - (didn't pass validation)",
            "schema": {
              "$ref": "#/definitions/ValidationErrorResponse"
            }
          },
          "401": {
            "description": "Not Authorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Entity Not Found"
          },
          "500": {
            "description": "Unexpected Error"
          }
        },
        "deprecated": false
      }
    },
    "/orgs/reminderGroups": {
      "get": {
        "tags": [
          "reminderGroups"
        ],
        "summary": "Get reminder groups for organization",
        "description": "This performs retrieval of reminder groups for a users organization",
        "operationId": "getReminderGroupsByOrg",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ReminderGroup"
              }
            }
          },
          "400": {
            "description": "Bad Request - requested with incorrect data-type",
            "schema": {
              "$ref": "#/definitions/ValidationErrorResponse"
            }
          },
          "401": {
            "description": "Not Authorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Entity Not Found"
          },
          "500": {
            "description": "Unexpected Error"
          }
        },
        "deprecated": false
      }
    },
    "/orgs/{orgId}/complianceRules": {
      "get": {
        "tags": [
          "orgs"
        ],
        "summary": "Gets Compliance Rules set for a given OrgId",
        "description": "Gets Compliance Rules set for a given OrgId",
        "operationId": "getComplianceRules",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "orgId",
            "in": "path",
            "description": "orgId",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ComplianceRules"
              }
            }
          },
          "400": {
            "description": "Bad Request - (didn't pass validation)",
            "schema": {
              "$ref": "#/definitions/ValidationErrorResponse"
            }
          },
          "401": {
            "description": "Not Authorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Entity Not Found"
          },
          "500": {
            "description": "Unexpected Error"
          }
        },
        "deprecated": false
      }
    },
    "/orgs/{orgId}/custompatientfields": {
      "get": {
        "tags": [
          "orgs"
        ],
        "summary": "Gets custom patient fields for a given OrgId",
        "description": "Gets custom patient fields for a given org.",
        "operationId": "getCustomPatientFields",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "orgId",
            "in": "path",
            "description": "Organization Id",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/CustomFields"
              }
            }
          },
          "400": {
            "description": "Bad Request - (didn't pass validation)",
            "schema": {
              "$ref": "#/definitions/ValidationErrorResponse"
            }
          },
          "401": {
            "description": "Not Authorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Entity Not Found"
          },
          "500": {
            "description": "Unexpected Error"
          }
        },
        "deprecated": false
      }
    },
    "/orgs/{orgId}/payers": {
      "get": {
        "tags": [
          "orgs"
        ],
        "summary": "Get payers for the given Organization",
        "operationId": "getPayers",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "PageNumber",
            "in": "query",
            "description": "Specifies the page number for the payers being requested. The default and minimum page number is 1. When more than one page of payers is required, this request can be repeated with the page number.",
            "required": false,
            "type": "integer",
            "default": 1,
            "format": "int32",
            "allowEmptyValue": false
          },
          {
            "name": "PageSize",
            "in": "query",
            "description": "Specifies number of records to show per page.  The default and maximum length for a page is 500, while the minimum length is 1.",
            "required": false,
            "type": "integer",
            "default": 500,
            "format": "int32",
            "allowEmptyValue": false
          },
          {
            "name": "orgId",
            "in": "path",
            "description": "This is the orgId for which the user is attempting to get the list of payers in that organization",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Payer"
              }
            }
          },
          "400": {
            "description": "Bad Request - (didn't pass validation)",
            "schema": {
              "$ref": "#/definitions/ValidationErrorResponse"
            }
          },
          "401": {
            "description": "Not Authorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Entity Not Found"
          },
          "500": {
            "description": "Unexpected Error"
          }
        },
        "deprecated": false
      }
    },
    "/orgs/{orgId}/payers/{payerId}": {
      "get": {
        "tags": [
          "orgs"
        ],
        "summary": "Get payer by PayerId in an organization",
        "operationId": "getPayer",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "orgId",
            "in": "path",
            "description": "The orgId to retrieve a payer in that organization",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "payerId",
            "in": "path",
            "description": "The Id of the payer in an organization",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Payer"
            }
          },
          "400": {
            "description": "Bad Request - (didn't pass validation)",
            "schema": {
              "$ref": "#/definitions/ValidationErrorResponse"
            }
          },
          "401": {
            "description": "Not Authorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Entity Not Found"
          },
          "500": {
            "description": "Unexpected Error"
          }
        },
        "deprecated": false
      }
    },
    "/patient/{patientId}/emrOrder": {
      "get": {
        "tags": [
          "emrOrder"
        ],
        "summary": "getPatientEmrOrder",
        "description": "get patient's order and/or visit numbers",
        "operationId": "getPatientEmrOrder",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "patientId",
            "in": "path",
            "description": "patient id",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/EMROrder"
            }
          },
          "400": {
            "description": "Bad Request - when patientId doesnt exist, or requested with incorrect data-type",
            "schema": {
              "$ref": "#/definitions/ValidationErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Entity Not Found"
          },
          "500": {
            "description": "Unexpected Error"
          }
        },
        "deprecated": false
      },
      "post": {
        "tags": [
          "emrOrder"
        ],
        "summary": "savePatientEmrOrder",
        "description": "add patient's order and/or visit number",
        "operationId": "savePatientEmrOrder",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "emrOrder",
            "description": "emrOrder",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EMROrder"
            }
          },
          {
            "name": "patientId",
            "in": "path",
            "description": "patient id",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Bad Request - when patientId doesnt exist, or requested with incorrect data-type",
            "schema": {
              "$ref": "#/definitions/ValidationErrorResponse"
            }
          },
          "401": {
            "description": "Not Authorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Entity Not Found"
          },
          "409": {
            "description": "Conflict Occurred"
          },
          "500": {
            "description": "Unexpected Error"
          }
        },
        "deprecated": false
      }
    },
    "/patientSearch": {
      "get": {
        "tags": [
          "patientSearch"
        ],
        "summary": "searchPatients",
        "description": "For the patient transfer, extended search has to be performed first by invoking this api with extended search criteria",
        "operationId": "searchPatientsUsingGET",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "DateOfBirth",
            "in": "query",
            "description": "Date of birth for the patient being located, which uses the date format yyyy-MM-dd.",
            "required": false,
            "type": "string",
            "format": "date-time",
            "allowEmptyValue": false
          },
          {
            "name": "DeviceSerialNumber",
            "in": "query",
            "description": "Serial number for the device that has been assigned to the patient being located.",
            "required": false,
            "type": "string",
            "allowEmptyValue": false
          },
          {
            "name": "ExternalId",
            "in": "query",
            "description": "ExternalId for the patient being located, which has a maximum length of 40 characters.",
            "required": false,
            "type": "string",
            "allowEmptyValue": false
          },
          {
            "name": "FirstName",
            "in": "query",
            "description": "First name of the patient being located",
            "required": false,
            "type": "string",
            "allowEmptyValue": false
          },
          {
            "name": "IncludeActiveOnly",
            "in": "query",
            "description": "will return only active patients when true or not passed in, returns all if false",
            "required": false,
            "type": "boolean",
            "allowEmptyValue": false
          },
          {
            "name": "LastName",
            "in": "query",
            "description": "Last name of the patient being located",
            "required": false,
            "type": "string",
            "allowEmptyValue": false
          },
          {
            "name": "PatientId",
            "in": "query",
            "description": "Patient Id of the patient being located, a UUID.",
            "required": false,
            "type": "string",
            "format": "uuid",
            "allowEmptyValue": false
          },
          {
            "name": "PatientReference",
            "in": "query",
            "description": "Patient Reference that has been assigned to the patient being located.",
            "required": false,
            "type": "string",
            "allowEmptyValue": false
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/PatientSearchResult"
            }
          },
          "400": {
            "description": "Bad Request - (didn't pass validation)",
            "schema": {
              "$ref": "#/definitions/ValidationErrorResponse"
            }
          },
          "401": {
            "description": "Not Authorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Unexpected Error"
          }
        },
        "deprecated": false
      }
    },
    "/patientTransfer": {
      "put": {
        "tags": [
          "patients"
        ],
        "summary": "patientTransfer",
        "description": "After performing the patient extended search, with the patientId (from extended search response) and targetOrgId this performs patient transfer to targetOrg. For successful transfer, this api always has to be invoked after extended search.",
        "operationId": "patientTransfer",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "patientTransfer",
            "description": "Patient transfer with patientId and targetOrgId",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PatientTransfer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Not Authorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Entity Not Found"
          },
          "500": {
            "description": "Unexpected Error"
          }
        },
        "deprecated": false
      }
    },
    "/patients": {
      "post": {
        "tags": [
          "patients"
        ],
        "summary": "Add a new patient to the Care Orchestrator System",
        "operationId": "insertPatientUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Details of the patient to be added",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PatientUpsert"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Patient"
            }
          },
          "400": {
            "description": "Bad Request - Invalid Patient (didn't pass validation)",
            "schema": {
              "$ref": "#/definitions/ValidationErrorResponse"
            }
          },
          "401": {
            "description": "Not Authorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Unexpected Error"
          }
        },
        "deprecated": false
      }
    },
    "/patients/{patientId}": {
      "get": {
        "tags": [
          "patients"
        ],
        "summary": "Finds and returns patient given the patient's Id",
        "operationId": "getPatientUsingGET",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "patientId",
            "in": "path",
            "description": "The patient Id number in the Care Orchestrator app, a UUID",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Patient"
            }
          },
          "401": {
            "description": "Not Authorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Unexpected Error"
          }
        },
        "deprecated": false
      },
      "put": {
        "tags": [
          "patients"
        ],
        "summary": "Updates a patient in the Care Orchestrator System",
        "operationId": "updatePatientUsingPUT",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Details of the patient to be updated",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PatientUpsert"
            }
          },
          {
            "name": "patientId",
            "in": "path",
            "description": "Id of the patient to be updated",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Patient"
            }
          },
          "400": {
            "description": "Bad Request - Invalid Patient (didn't pass validation)",
            "schema": {
              "$ref": "#/definitions/ValidationErrorResponse"
            }
          },
          "401": {
            "description": "Not Authorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Patient Not Found"
          },
          "500": {
            "description": "Unexpected Error"
          }
        },
        "deprecated": false
      }
    },
    "/patients/{patientId}/activities": {
      "get": {
        "tags": [
          "patients"
        ],
        "summary": "gets the list of patient activities",
        "description": "This retrieves activities for a give patientId",
        "operationId": "getPatientActivities",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "PageNumber",
            "in": "query",
            "description": "Specifies the page number for the activities being requested. The default and minimum page number is 1. When more than one page of activities is required, this request can be repeated with the page number.",
            "required": false,
            "type": "integer",
            "default": 1,
            "format": "int32",
            "allowEmptyValue": false
          },
          {
            "name": "PageSize",
            "in": "query",
            "description": "Specifies the number of records to show per page.  The default is 50 and maximum length for a page is 500, while the minimum is 1.",
            "required": false,
            "type": "integer",
            "default": 50,
            "format": "int32",
            "allowEmptyValue": false
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "end date for daterange to retrieve activities. The format is yyyy-MM-dd",
            "required": false,
            "type": "string",
            "format": "date-time",
            "allowEmptyValue": false
          },
          {
            "name": "patientId",
            "in": "path",
            "description": "Id of the patient",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "startDate",
            "in": "query",
            "description": "start date for daterange to retrieve activities. The format is yyyy-MM-dd",
            "required": false,
            "type": "string",
            "format": "date-time",
            "allowEmptyValue": false
          },
          {
            "name": "type",
            "in": "query",
            "description": "The activity type is a list of the string values of the enum, ActivityType",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi",
            "allowEmptyValue": false
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/PatientActivity"
              }
            }
          },
          "400": {
            "description": "Bad Request - when patientId doesnt exist, or requested with incorrect data-type",
            "schema": {
              "$ref": "#/definitions/ValidationErrorResponse"
            }
          },
          "401": {
            "description": "Not Authorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Entity Not Found"
          },
          "500": {
            "description": "Unexpected Error"
          }
        },
        "deprecated": false
      }
    },
    "/patients/{patientId}/activity-notes": {
      "post": {
        "tags": [
          "patients"
        ],
        "summary": "saves activity notes for given patientId",
        "description": "This performs insertion of patient activity notes on a given patientId",
        "operationId": "savePatientActivityNotes",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Details of the patient activity notes",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "patientId",
            "in": "path",
            "description": "Id of the patient",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "201": {
            "description": "Success",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          "400": {
            "description": "Bad Request - when patientId doesn't exist, or requested with incorrect data-type",
            "schema": {
              "$ref": "#/definitions/ValidationErrorResponse"
            }
          },
          "401": {
            "description": "Not Authorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Entity Not Found"
          },
          "500": {
            "description": "Unexpected Error"
          }
        },
        "deprecated": false
      }
    },
    "/patients/{patientId}/complianceRules": {
      "get": {
        "tags": [
          "patients"
        ],
        "summary": "Get compliance rules for a patient",
        "description": "This performs retrieval of compliance rule for a given patientId",
        "operationId": "getComplianceRuleForPatient",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "patientId",
            "in": "path",
            "description": "patient identifier",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/PatientComplianceRule"
            }
          },
          "400": {
            "description": "Bad Request - (didn't pass validation)",
            "schema": {
              "$ref": "#/definitions/ValidationErrorResponse"
            }
          },
          "401": {
            "description": "Not Authorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Entity Not Found"
          },
          "500": {
            "description": "Unexpected Error"
          }
        },
        "deprecated": false
      },
      "put": {
        "tags": [
          "patients"
        ],
        "summary": "Insert or Update compliance rule on to a patient",
        "description": "This performs insert/update of compliance rule for given patientId",
        "operationId": "upsertComplianceRulesByPatientId",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "complianceRuleUpsert",
            "description": "Compliance RuleId to be upserted on to a patient",
            "required": false,
            "schema": {
              "$ref": "#/definitions/ComplianceRuleUpsert"
            }
          },
          {
            "name": "patientId",
            "in": "path",
            "description": "patient id",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request - when patientId doesn't exist, or requested with incorrect data-type",
            "schema": {
              "$ref": "#/definitions/ValidationErrorResponse"
            }
          },
          "401": {
            "description": "Not Authorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Entity Not Found"
          },
          "500": {
            "description": "Unexpected Error"
          }
        },
        "deprecated": false
      }
    },
    "/patients/{patientId}/custom-fields": {
      "get": {
        "tags": [
          "patients"
        ],
        "summary": "returns list of patient custom fields for a patient",
        "description": "This performs retrieval of custom fields on a given patientId",
        "operationId": "getPatientCustomFields",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "patientId",
            "in": "path",
            "description": "patient identifier to be retrieved",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/PatientCustomFields"
              }
            }
          },
          "400": {
            "description": "Bad Request - (didn't pass validation)",
            "schema": {
              "$ref": "#/definitions/ValidationErrorResponse"
            }
          },
          "401": {
            "description": "Not Authorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Entity Not Found"
          },
          "500": {
            "description": "Unexpected Error"
          }
        },
        "deprecated": false
      },
      "put": {
        "tags": [
          "patients"
        ],
        "summary": "saves or updates custom fields on a patient",
        "description": " Saves or updates custom fields on a patient which exists on patient's org",
        "operationId": "upsertPatientCustomFields",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "patientCustomFields",
            "description": "details of customFields to be saved or updated",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/PatientCustomFields"
              }
            }
          },
          {
            "name": "patientId",
            "in": "path",
            "description": "patient identifier",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request - (didn't pass validation)",
            "schema": {
              "$ref": "#/definitions/ValidationErrorResponse"
            }
          },
          "401": {
            "description": "Not Authorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Entity Not Found"
          },
          "500": {
            "description": "Unexpected Error"
          }
        },
        "deprecated": false
      }
    },
    "/patients/{patientId}/reminderGroups": {
      "get": {
        "tags": [
          "reminderGroups"
        ],
        "summary": "Get reminder groups assigned to the patient",
        "description": "This performs retrieval of reminder groups for a given patientId",
        "operationId": "getReminderGroupsByPatient",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "patientId",
            "in": "path",
            "description": "patient id",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ReminderGroup"
              }
            }
          },
          "400": {
            "description": "Bad Request - when patientId doesn't exist, or requested with incorrect data-type",
            "schema": {
              "$ref": "#/definitions/ValidationErrorResponse"
            }
          },
          "401": {
            "description": "Not Authorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Entity Not Found"
          },
          "500": {
            "description": "Unexpected Error"
          }
        },
        "deprecated": false
      },
      "post": {
        "tags": [
          "reminderGroups"
        ],
        "summary": "Saves a list of reminder groups for a given patient",
        "description": "This saves a list of reminder groups for a given patient",
        "operationId": "savePatientReminderGroups",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "patientId",
            "in": "path",
            "description": "Id of the patient",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "body",
            "name": "reminderGroupIds",
            "description": "Reminder groups to be added",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "format": "uuid"
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request - when patientId doesnt exist, or requested with incorrect data-type",
            "schema": {
              "$ref": "#/definitions/ValidationErrorResponse"
            }
          },
          "401": {
            "description": "Not Authorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Entity Not Found"
          },
          "500": {
            "description": "Unexpected Error"
          }
        },
        "deprecated": false
      }
    },
    "/patients/{patientId}/reminderGroups/{reminderGroupId}": {
      "delete": {
        "tags": [
          "reminderGroups"
        ],
        "summary": "deletes a given set of reminder groups for a patient",
        "description": "This performs the deletion of reminder groups for a patient",
        "operationId": "deletePatientReminderGroups",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "patientId",
            "in": "path",
            "description": "Id of the patient",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "reminderGroupId",
            "in": "path",
            "description": "Reminder group to be deleted",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request - when patientId doesnt exist, or requested with incorrect data-type",
            "schema": {
              "$ref": "#/definitions/ValidationErrorResponse"
            }
          },
          "401": {
            "description": "Not Authorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Entity Not Found"
          },
          "500": {
            "description": "Unexpected Error"
          }
        },
        "deprecated": false
      }
    },
    "/patients/{patientId}/tasks": {
      "post": {
        "tags": [
          "tasks"
        ],
        "summary": "saves task on a patient with given patientId",
        "description": "This performs insertion of task on a given patientId",
        "operationId": "saveTask",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Details of the Task to be added",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TaskUpsert"
            }
          },
          {
            "name": "patientId",
            "in": "path",
            "description": "Id of the patient",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "201": {
            "description": "Success",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          "400": {
            "description": "Bad Request - when patientId doesnt exist, or requested with incorrect data-type",
            "schema": {
              "$ref": "#/definitions/ValidationErrorResponse"
            }
          },
          "401": {
            "description": "Not Authorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Entity Not Found"
          },
          "500": {
            "description": "Unexpected Error"
          }
        },
        "deprecated": false
      }
    },
    "/patients/{patientId}/tasks/{startDate}/{endDate}": {
      "get": {
        "tags": [
          "tasks"
        ],
        "summary": "retrieve tasks for patientId in given date range",
        "description": "This performs retrieval of tasks on a given patientId in given date range",
        "operationId": "getTasksInGivenDateRange",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "endDate",
            "in": "path",
            "description": "end date for daterange to retrieve task. The format is yyyy-MM-dd",
            "required": true,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "patientId",
            "in": "path",
            "description": "Id of the patient",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "startDate",
            "in": "path",
            "description": "start date for daterange to retrieve task. The format is yyyy-MM-dd",
            "required": true,
            "type": "string",
            "format": "date-time"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Task"
              }
            }
          },
          "400": {
            "description": "Bad Request - when patientId doesnt exist, or requested with incorrect data-type",
            "schema": {
              "$ref": "#/definitions/ValidationErrorResponse"
            }
          },
          "401": {
            "description": "Not Authorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Entity Not Found"
          },
          "500": {
            "description": "Unexpected Error"
          }
        },
        "deprecated": false
      }
    },
    "/patients/{patientId}/tasks/{taskId}": {
      "put": {
        "tags": [
          "tasks"
        ],
        "summary": "updates task with given taskId associated with given patientId",
        "description": "This updates the task associated to given patientId",
        "operationId": "updateTask",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "patientId",
            "in": "path",
            "description": "Id of the patient",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "taskId",
            "in": "path",
            "description": "Id of the task",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "body",
            "name": "taskUpdateRequest",
            "description": "details for updating the task",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TaskUpdateRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request - when patientId/taskId doesnt exist, or requested with incorrect data-type",
            "schema": {
              "$ref": "#/definitions/ValidationErrorResponse"
            }
          },
          "401": {
            "description": "Not Authorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Entity Not Found"
          },
          "500": {
            "description": "Unexpected Error"
          }
        },
        "deprecated": false
      },
      "delete": {
        "tags": [
          "tasks"
        ],
        "summary": "dismisses task with given taskId associated with given patientId",
        "description": "This performs dismissal of task associated to given patientId",
        "operationId": "dismissTask",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "patientId",
            "in": "path",
            "description": "Id of the patient",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "taskId",
            "in": "path",
            "description": "Id of the task",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request - when patientId/taskId doesnt exist, or requested with incorrect data-type",
            "schema": {
              "$ref": "#/definitions/ValidationErrorResponse"
            }
          },
          "401": {
            "description": "Not Authorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Entity Not Found"
          },
          "500": {
            "description": "Unexpected Error"
          }
        },
        "deprecated": false
      }
    },
    "/patients/{patientId}/tasks/{taskId}/notes": {
      "get": {
        "tags": [
          "tasks"
        ],
        "summary": "retrieves notes on the task for given taskId",
        "description": "This performs retrieval of notes on task for given taskId",
        "operationId": "getTaskNotes",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "patientId",
            "in": "path",
            "description": "Id of the patient with the associated task",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "taskId",
            "in": "path",
            "description": "Id of the task required to retrieve its notes data",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/TaskNoteContract"
              }
            }
          },
          "400": {
            "description": "Bad Request - when patientId/taskId is in incorrect data-type",
            "schema": {
              "$ref": "#/definitions/ValidationErrorResponse"
            }
          },
          "401": {
            "description": "Not Authorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Entity Not Found"
          },
          "500": {
            "description": "Unexpected Error"
          }
        },
        "deprecated": false
      },
      "post": {
        "tags": [
          "tasks"
        ],
        "summary": "saves notes on the task for given taskId",
        "description": "This performs insertion of notes on task for given taskId, which belongs to patient with given patientId",
        "operationId": "saveTaskNotes",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "comments",
            "description": "comments for saving notes on task",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "patientId",
            "in": "path",
            "description": "Id of the patient with the associated task",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "taskId",
            "in": "path",
            "description": "Id of the task to which notes need to be added",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "201": {
            "description": "Success",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          "400": {
            "description": "Bad Request - when patientId doesnt exist, taskId/patientId are in incorrect data-type or comments data not provided (didn't pass validation)",
            "schema": {
              "$ref": "#/definitions/ValidationErrorResponse"
            }
          },
          "401": {
            "description": "Not Authorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Entity Not Found"
          },
          "500": {
            "description": "Unexpected Error"
          }
        },
        "deprecated": false
      }
    },
    "/patients/{patientId}/tasks/{taskId}/notes/sleepcoach": {
      "post": {
        "tags": [
          "tasks"
        ],
        "summary": "saves notes on the task for sleepcoach for given taskId",
        "description": "This performs insertion of notes on task for sleepcoach given taskId, which belongs to patient with given patientId",
        "operationId": "saveTaskNotesForSleepCoach",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "task note details for saving notes on task for sleepcoach",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TaskNoteUpsert"
            }
          },
          {
            "name": "patientId",
            "in": "path",
            "description": "Id of the patient with the associated task",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "taskId",
            "in": "path",
            "description": "Id of the task to which notes need to be added",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "201": {
            "description": "Success",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          "400": {
            "description": "Bad Request - when patientId doesnt exist, taskId/patientId are in incorrect data-type or comments data not provided (didn't pass validation)",
            "schema": {
              "$ref": "#/definitions/ValidationErrorResponse"
            }
          },
          "401": {
            "description": "Not Authorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Entity Not Found"
          },
          "500": {
            "description": "Unexpected Error"
          }
        },
        "deprecated": false
      }
    },
    "/patients/{startDate}/{endDate}": {
      "get": {
        "tags": [
          "patients"
        ],
        "summary": "Get list of patients created based on the startDate/endDate supplied in the path.",
        "operationId": "getPatientList",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "PageNumber",
            "in": "query",
            "description": "The page number starts at 1",
            "required": false,
            "type": "integer",
            "default": 1,
            "format": "int32",
            "allowEmptyValue": false
          },
          {
            "name": "PageSize",
            "in": "query",
            "description": "the page size",
            "required": false,
            "type": "integer",
            "default": 100,
            "format": "int32",
            "allowEmptyValue": false
          },
          {
            "name": "endDate",
            "in": "path",
            "description": "endDate for the range, format is yyyy-MM-dd",
            "required": true,
            "type": "string",
            "format": "date"
          },
          {
            "name": "orgId",
            "in": "query",
            "description": "This is an optional parameter; the orgId used to retrieve patients",
            "required": false,
            "type": "string",
            "format": "uuid",
            "allowEmptyValue": false
          },
          {
            "name": "startDate",
            "in": "path",
            "description": "startDate for the range, format is yyyy-MM-dd",
            "required": true,
            "type": "string",
            "format": "date"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/PatientListContract"
              }
            }
          },
          "400": {
            "description": "Bad Request - (didn't pass validation)",
            "schema": {
              "$ref": "#/definitions/ValidationErrorResponse"
            }
          },
          "401": {
            "description": "Not Authorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Entity Not Found"
          },
          "500": {
            "description": "Unexpected Error"
          }
        },
        "deprecated": false
      }
    },
    "/physicians/{orgId}": {
      "get": {
        "tags": [
          "physicians"
        ],
        "summary": "Get physicians for the given Organization",
        "operationId": "getPhysiciansUsingGET",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "PageNumber",
            "in": "query",
            "description": "Specifies the page number for the physicians being requested. The default and minimum page number is 1. When more than one page of physicians is required, this request can be repeated with the page number.",
            "required": false,
            "type": "integer",
            "default": 1,
            "format": "int32",
            "allowEmptyValue": false
          },
          {
            "name": "PageSize",
            "in": "query",
            "description": "Specifies number of records to show per page.  The default and maximum length for a page is 500, while the minimum length is 1.",
            "required": false,
            "type": "integer",
            "default": 500,
            "format": "int32",
            "allowEmptyValue": false
          },
          {
            "name": "orgId",
            "in": "path",
            "description": "This is the orgID for which the user is attempting to get the list of physicians in that org, a UUID",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Physician"
              }
            }
          },
          "400": {
            "description": "Bad Request - (didn't pass validation)",
            "schema": {
              "$ref": "#/definitions/ValidationErrorResponse"
            }
          },
          "401": {
            "description": "Not Authorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Unexpected Error"
          }
        },
        "deprecated": false
      }
    },
    "/physicians/{orgId}/careTeam/{careTeamType}": {
      "get": {
        "tags": [
          "careTeamPhysicians"
        ],
        "summary": "Get care team physicians for the given Organization and CareTeamType",
        "operationId": "getCareTeamPhysicians",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "FirstName",
            "in": "query",
            "description": "Specifies the First Name of the care team physician to get the list of care team physicians",
            "required": false,
            "type": "string",
            "allowEmptyValue": false
          },
          {
            "name": "LastName",
            "in": "query",
            "description": "Specifies the Last Name of the care team physician to get the list of care team physicians",
            "required": false,
            "type": "string",
            "allowEmptyValue": false
          },
          {
            "name": "NPI",
            "in": "query",
            "description": "Specifies the NPI number of care team physician to get the list of care team physicians. If provided, FirstName and LastName will be ignored during search of external careteam physicians",
            "required": false,
            "type": "string",
            "allowEmptyValue": false
          },
          {
            "name": "PageNumber",
            "in": "query",
            "description": "Specifies the page number for the care team physicians being requested. The default and minimum page number is 1.",
            "required": false,
            "type": "integer",
            "default": 1,
            "format": "int32",
            "allowEmptyValue": false
          },
          {
            "name": "PageSize",
            "in": "query",
            "description": "Specifies number of care team physicians to be returned in a response. The default value is 50, while the maximum length is 250 and minimum length is 1.",
            "required": false,
            "type": "integer",
            "default": 50,
            "format": "int32",
            "allowEmptyValue": false
          },
          {
            "name": "careTeamType",
            "in": "path",
            "description": "Specifies the type (internal or external) of careTeam to get the list of care team physicians",
            "required": true,
            "type": "string"
          },
          {
            "name": "orgId",
            "in": "path",
            "description": "Specifies the orgID for which the user is attempting to get the list of care team physicians, a UUID",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/CareTeamPhysician"
              }
            }
          },
          "400": {
            "description": "Bad Request - (didn't pass validation)",
            "schema": {
              "$ref": "#/definitions/ValidationErrorResponse"
            }
          },
          "401": {
            "description": "Not Authorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Entity Not Found"
          },
          "500": {
            "description": "Unexpected Error"
          }
        },
        "deprecated": false
      }
    },
    "/prescriptions/patients/{patientId}/devices/{serialNumber}": {
      "get": {
        "tags": [
          "prescriptions"
        ],
        "summary": "get patient prescription by device serial number",
        "operationId": "getPatientPrescription",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "patientId",
            "in": "path",
            "description": "patientId",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "serialNumber",
            "in": "path",
            "description": "device serial number (can be a sleep or vent device)",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PatientPrescriptionContract"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Not Authorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Entity Not Found"
          },
          "500": {
            "description": "Unexpected Error"
          }
        },
        "deprecated": false
      }
    },
    "/reports/{patientId}/detail/{startDate}/{endDate}": {
      "get": {
        "tags": [
          "reports"
        ],
        "summary": "getDetailReportData",
        "description": "Retrieve detail report data of patient",
        "operationId": "getDetailReportDataUsingGET",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "endDate",
[...]
