{
  "openapi": "3.0.0",
  "info": {
    "title": "JobTalk API",
    "version": "1.0.0",
    "description": "A comprehensive job talk campaign platform API with authentication, campaign management, and payment integration.",
    "contact": {
      "name": "JobTalk Support",
      "email": "support@jobtalk.com"
    },
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/jobtalk-98d/jobtalk-api/1.0.0"
  },
  "servers": [
    {
      "url": "https://jobtalk.ai/api",
      "description": "Development server"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      },
      "cookieAuth": {
        "type": "apiKey",
        "in": "cookie",
        "name": "token"
      }
    },
    "schemas": {
      "User": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "example": 1
          },
          "email": {
            "type": "string",
            "format": "email",
            "example": "user@example.com"
          },
          "firstName": {
            "type": "string",
            "example": "John"
          },
          "lastName": {
            "type": "string",
            "example": "Doe"
          },
          "company": {
            "type": "string",
            "example": "Acme Corp"
          },
          "phone": {
            "type": "string",
            "example": "+1234567890"
          },
          "role": {
            "type": "string",
            "enum": [
              "ADMIN",
              "USER"
            ],
            "example": "ADMIN"
          },
          "emailVerified": {
            "type": "boolean",
            "example": true
          }
        }
      },
      "Campaign": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "example": 1
          },
          "name": {
            "type": "string",
            "example": "Senior Developer Campaign"
          },
          "jobTitle": {
            "type": "string",
            "example": "Senior Full Stack Developer"
          },
          "description": {
            "type": "string",
            "example": "Looking for experienced developers"
          },
          "clientDescription": {
            "type": "string",
            "example": "Tech startup in fintech"
          },
          "skills": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "example": [
              "JavaScript",
              "React",
              "Node.js"
            ]
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "paused",
              "completed"
            ],
            "example": "active"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Candidate": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "example": 1
          },
          "firstName": {
            "type": "string",
            "example": "Jane"
          },
          "lastName": {
            "type": "string",
            "example": "Smith"
          },
          "email": {
            "type": "string",
            "format": "email",
            "example": "jane.smith@example.com"
          },
          "phone": {
            "type": "string",
            "example": "+1234567890"
          },
          "skills": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "example": [
              "Python",
              "Django",
              "PostgreSQL"
            ]
          },
          "experience": {
            "type": "string",
            "example": "3 years"
          },
          "location": {
            "type": "string",
            "example": "San Francisco, CA"
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "contacted",
              "interested",
              "not-interested"
            ],
            "example": "active"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Call": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "example": 1
          },
          "campaignId": {
            "type": "integer",
            "example": 1
          },
          "candidateId": {
            "type": "integer",
            "example": 1
          },
          "phoneNumber": {
            "type": "string",
            "example": "+1234567890"
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "initiated",
              "ringing",
              "answered",
              "completed",
              "failed"
            ],
            "example": "completed"
          },
          "duration": {
            "type": "integer",
            "example": 180,
            "description": "Duration in seconds"
          },
          "recordingUrl": {
            "type": "string",
            "example": "https://example.com/recording.mp3"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Email": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "example": 1
          },
          "to": {
            "type": "string",
            "format": "email",
            "example": "recipient@example.com"
          },
          "subject": {
            "type": "string",
            "example": "Job Opportunity"
          },
          "content": {
            "type": "string",
            "example": "We have an exciting opportunity..."
          },
          "status": {
            "type": "string",
            "enum": [
              "draft",
              "sent",
              "delivered",
              "failed"
            ],
            "example": "delivered"
          },
          "campaignId": {
            "type": "integer",
            "example": 1
          },
          "sentAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "SMS": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "example": 1
          },
          "to": {
            "type": "string",
            "example": "+1234567890"
          },
          "message": {
            "type": "string",
            "example": "Hello! We have an exciting job opportunity for you."
          },
          "status": {
            "type": "string",
            "enum": [
              "sent",
              "delivered",
              "failed",
              "pending"
            ],
            "example": "delivered"
          },
          "campaignId": {
            "type": "integer",
            "example": 1
          },
          "candidateId": {
            "type": "integer",
            "example": 1
          },
          "sentAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Template": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "example": 1
          },
          "name": {
            "type": "string",
            "example": "Senior Developer Template"
          },
          "type": {
            "type": "string",
            "enum": [
              "email",
              "sms",
              "call"
            ],
            "example": "email"
          },
          "content": {
            "type": "string",
            "example": "Template content with {{variables}}"
          },
          "variables": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "example": [
              "firstName",
              "jobTitle",
              "company"
            ]
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Interview": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "example": 1
          },
          "candidateId": {
            "type": "integer",
            "example": 1
          },
          "campaignId": {
            "type": "integer",
            "example": 1
          },
          "scheduledAt": {
            "type": "string",
            "format": "date-time"
          },
          "type": {
            "type": "string",
            "enum": [
              "phone",
              "video",
              "in-person"
            ],
            "example": "video"
          },
          "duration": {
            "type": "integer",
            "example": 60,
            "description": "Duration in minutes"
          },
          "status": {
            "type": "string",
            "enum": [
              "scheduled",
              "completed",
              "cancelled",
              "no-show"
            ],
            "example": "scheduled"
          },
          "notes": {
            "type": "string",
            "example": "Technical interview notes"
          },
          "questions": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "ContactMessage": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "example": 1
          },
          "name": {
            "type": "string",
            "example": "John Doe"
          },
          "email": {
            "type": "string",
            "format": "email",
            "example": "john.doe@example.com"
          },
          "phone": {
            "type": "string",
            "example": "+1234567890"
          },
          "subject": {
            "type": "string",
            "example": "Inquiry about services"
          },
          "message": {
            "type": "string",
            "example": "I would like to know more..."
          },
          "company": {
            "type": "string",
            "example": "Acme Corp"
          },
          "status": {
            "type": "string",
            "enum": [
              "new",
              "read",
              "responded"
            ],
            "example": "new"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": false
          },
          "message": {
            "type": "string",
            "example": "Error message"
          },
          "statusCode": {
            "type": "integer",
            "example": 400
          }
        }
      },
      "Success": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "message": {
            "type": "string",
            "example": "Operation successful"
          },
          "data": {
            "type": "object"
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Authentication",
      "description": "User authentication and profile management"
    },
    {
      "name": "Password Reset",
      "description": "Password reset functionality"
    },
    {
      "name": "Email Verification",
      "description": "Email verification processes"
    },
    {
      "name": "Social Authentication",
      "description": "OAuth authentication with Google and LinkedIn"
    },
    {
      "name": "User Management",
      "description": "Admin user management operations"
    },
    {
      "name": "User Invitations",
      "description": "User invitation system"
    },
    {
      "name": "Campaigns",
      "description": "Campaign management operations"
    },
    {
      "name": "Candidates",
      "description": "Candidate management operations"
    },
    {
      "name": "Calls",
      "description": "Call management and telephony operations"
    },
    {
      "name": "Emails",
      "description": "Email management and sending"
    },
    {
      "name": "Email Validation",
      "description": "Email address validation services"
    },
    {
      "name": "SMS",
      "description": "SMS messaging operations"
    },
    {
      "name": "Templates",
      "description": "Template management for emails, SMS, and calls"
    },
    {
      "name": "Interviews",
      "description": "Interview scheduling and management"
    },
    {
      "name": "Dashboard",
      "description": "Analytics and dashboard data"
    },
    {
      "name": "Subscriptions",
      "description": "Subscription management"
    },
    {
      "name": "Payments",
      "description": "Payment processing and billing"
    },
    {
      "name": "Webhooks",
      "description": "Webhook endpoints for external integrations"
    },
    {
      "name": "Contact Us",
      "description": "Contact form and message management"
    },
    {
      "name": "Campaign Specific Candidate Data",
      "description": "Campaign-specific candidate data management"
    },
    {
      "name": "Campaign Templates",
      "description": "Reusable campaign template management"
    },
    {
      "name": "Email Notifications",
      "description": "Email notification system management"
    },
    {
      "name": "Email SMS Templates",
      "description": "Email and SMS template management with AI generation"
    },
    {
      "name": "Phone Validation",
      "description": "Phone number validation services"
    },
    {
      "name": "Settings",
      "description": "Application settings management with Redis caching"
    },
    {
      "name": "Transactions",
      "description": "Payment transactions, credits, and billing management"
    },
    {
      "name": "Transcripts",
      "description": "Call transcript email services"
    },
    {
      "name": "WebRTC Screening",
      "description": "WebRTC-based candidate screening and interviews"
    },
    {
      "name": "OTP",
      "description": "One-time password services for phone verification"
    },
    {
      "name": "Demo Calls",
      "description": "Demo campaign call initiation"
    }
  ],
  "paths": {
    "/api/auth/signup": {
      "post": {
        "summary": "Register a new user",
        "tags": [
          "Authentication"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email",
                  "password",
                  "firstName",
                  "lastName"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email",
                    "example": "user@example.com"
                  },
                  "password": {
                    "type": "string",
                    "minLength": 8,
                    "example": "SecurePass123!"
                  },
                  "firstName": {
                    "type": "string",
                    "example": "John"
                  },
                  "lastName": {
                    "type": "string",
                    "example": "Doe"
                  },
                  "company": {
                    "type": "string",
                    "example": "Acme Corp"
                  },
                  "phone": {
                    "type": "string",
                    "example": 1234567890
                  },
                  "role": {
                    "type": "string",
                    "enum": [
                      "ADMIN",
                      "USER"
                    ],
                    "example": "ADMIN"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "User registration initiated, verification email sent",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Please check your email to verify your account"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "email": {
                          "type": "string",
                          "example": "user@example.com"
                        },
                        "status": {
                          "type": "string",
                          "example": "verification_email_sent"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/auth/login": {
      "post": {
        "summary": "Login user",
        "tags": [
          "Authentication"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email",
                  "password"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email",
                    "example": "user@example.com"
                  },
                  "password": {
                    "type": "string",
                    "example": "SecurePass123!"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Login successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "user": {
                          "$ref": "#/components/schemas/User"
                        },
                        "token": {
                          "type": "string",
                          "example": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Email not verified",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "User not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/auth/logout": {
      "post": {
        "summary": "Logout user",
        "tags": [
          "Authentication"
        ],
        "responses": {
          "200": {
            "description": "Logout successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Logout successful"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/auth/create-user": {
      "post": {
        "summary": "Create user directly (without email verification)",
        "tags": [
          "Authentication"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "firstName",
                  "lastName",
                  "email",
                  "password"
                ],
                "properties": {
                  "firstName": {
                    "type": "string",
                    "example": "John"
                  },
                  "lastName": {
                    "type": "string",
                    "example": "Doe"
                  },
                  "email": {
                    "type": "string",
                    "format": "email",
                    "example": "user@example.com"
                  },
                  "password": {
                    "type": "string",
                    "example": "SecurePass123!"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "User created and logged in successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Welcome to JobTalk!"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "user": {
                          "$ref": "#/components/schemas/User"
                        },
                        "token": {
                          "type": "string",
                          "example": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "User already exists or validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/auth/profile": {
      "get": {
        "summary": "Get user profile",
        "tags": [
          "Authentication"
        ],
        "security": [
          {
            "bearerAuth": []
          },
          {
            "cookieAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "User profile retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "$ref": "#/components/schemas/User"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "User not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "Update user profile",
        "tags": [
          "Authentication"
        ],
        "security": [
          {
            "bearerAuth": []
          },
          {
            "cookieAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email",
                    "example": "user@example.com"
                  },
                  "firstName": {
                    "type": "string",
                    "example": "John"
                  },
                  "lastName": {
                    "type": "string",
                    "example": "Doe"
                  },
                  "company": {
                    "type": "string",
                    "example": "Acme Corp"
                  },
                  "phone": {
                    "type": "string",
                    "example": 1234567890
                  },
                  "password": {
                    "type": "string",
                    "description": "Optional - only include if changing password",
                    "example": "NewSecurePass123!"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Profile updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "$ref": "#/components/schemas/User"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/auth/forgot-password": {
      "post": {
        "summary": "Initiate password reset process",
        "tags": [
          "Password Reset"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email",
                    "example": "user@example.com"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Password reset email sent (if account exists)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "If an account with this email exists, you will receive a password reset link"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Email is required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/auth/validate-reset-token/{token}": {
      "get": {
        "summary": "Validate password reset token",
        "tags": [
          "Password Reset"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "token",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Password reset token",
            "example": "abc123def456ghi789"
          }
        ],
        "responses": {
          "200": {
            "description": "Reset token is valid",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Reset token is valid"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "email": {
                          "type": "string",
                          "example": "user@example.com"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid or expired reset token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/auth/reset-password": {
      "post": {
        "summary": "Reset password with valid token",
        "tags": [
          "Password Reset"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "token",
                  "newPassword"
                ],
                "properties": {
                  "token": {
                    "type": "string",
                    "example": "abc123def456ghi789"
                  },
                  "newPassword": {
                    "type": "string",
                    "minLength": 8,
                    "example": "NewSecurePass123!"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Password reset successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Password has been reset successfully"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid token or password validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/auth/change-password": {
      "put": {
        "summary": "Change user password",
        "tags": [
          "Authentication"
        ],
        "security": [
          {
            "bearerAuth": []
          },
          {
            "cookieAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "data"
                ],
                "properties": {
                  "data": {
                    "type": "object",
                    "required": [
                      "currentPassword",
                      "newPassword"
                    ],
                    "properties": {
                      "currentPassword": {
                        "type": "string",
                        "example": "CurrentPass123!"
                      },
                      "newPassword": {
                        "type": "string",
                        "minLength": 8,
                        "example": "NewSecurePass123!"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Password changed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Password update successfully"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid current password or validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/auth/verify-email/{token}": {
      "get": {
        "summary": "Verify email address with token",
        "tags": [
          "Email Verification"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "token",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Email verification token",
            "example": "abc123def456ghi789"
          }
        ],
        "responses": {
          "200": {
            "description": "Email verified successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Email verified successfully! Welcome to JobTalk!"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "user": {
                          "$ref": "#/components/schemas/User"
                        },
                        "token": {
                          "type": "string",
                          "example": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid or expired verification token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/auth/validate-verification-token/{token}": {
      "get": {
        "summary": "Validate email verification token",
        "tags": [
          "Email Verification"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "token",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Email verification token",
            "example": "abc123def456ghi789"
          }
        ],
        "responses": {
          "200": {
            "description": "Verification token is valid",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Verification token is valid"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "email": {
                          "type": "string",
                          "example": "user@example.com"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid or expired verification token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/auth/resend-verification": {
      "post": {
        "summary": "Resend email verification",
        "tags": [
          "Email Verification"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email",
                    "example": "user@example.com"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Verification email sent (if applicable)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Verification email has been resent. Please check your inbox."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Email is required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/auth/google": {
      "get": {
        "summary": "Initiate Google OAuth authentication",
        "tags": [
          "Social Authentication"
        ],
        "description": "Redirects to Google OAuth consent screen",
        "responses": {
          "302": {
            "description": "Redirect to Google OAuth"
          }
        }
      }
    },
    "/api/auth/google/callback": {
      "get": {
        "summary": "Google OAuth callback",
        "tags": [
          "Social Authentication"
        ],
        "description": "Handles Google OAuth callback and redirects to frontend",
        "parameters": [
          {
            "in": "query",
            "name": "code",
            "schema": {
              "type": "string"
            },
            "description": "Authorization code from Google"
          },
          {
            "in": "query",
            "name": "error",
            "schema": {
              "type": "string"
            },
            "description": "Error code if authentication failed"
          },
          {
            "in": "query",
            "name": "error_description",
            "schema": {
              "type": "string"
            },
            "description": "Error description if authentication failed"
          }
        ],
        "responses": {
          "302": {
            "description": "Redirect to frontend with success or error"
          }
        }
      }
    },
    "/api/auth/linkedin": {
      "get": {
        "summary": "Initiate LinkedIn OAuth authentication",
        "tags": [
          "Social Authentication"
        ],
        "description": "Redirects to LinkedIn OAuth consent screen",
        "responses": {
          "302": {
            "description": "Redirect to LinkedIn OAuth"
          }
        }
      }
    },
    "/api/auth/linkedin/callback": {
      "get": {
        "summary": "LinkedIn OAuth callback",
        "tags": [
          "Social Authentication"
        ],
        "description": "Handles LinkedIn OAuth callback and redirects to frontend",
        "parameters": [
          {
            "in": "query",
            "name": "code",
            "schema": {
              "type": "string"
            },
            "description": "Authorization code from LinkedIn"
          },
          {
            "in": "query",
            "name": "error",
            "schema": {
              "type": "string"
            },
            "description": "Error code if authentication failed"
          },
          {
            "in": "query",
            "name": "error_description",
            "schema": {
              "type": "string"
            },
            "description": "Error description if authentication failed"
          },
          {
            "in": "query",
            "name": "debug",
            "schema": {
              "type": "string"
            },
            "description": "Set to 'true' for JSON response instead of redirect"
          }
        ],
        "responses": {
          "200": {
            "description": "JSON response when debug=true",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    },
                    "provider": {
                      "type": "string",
                      "example": "linkedin"
                    }
                  }
                }
              }
            }
          },
          "302": {
            "description": "Redirect to frontend with success or error"
          }
        }
      }
    },
    "/api/auth/test-error": {
      "get": {
        "summary": "Test OAuth error handling",
        "tags": [
          "Social Authentication"
        ],
        "description": "Test endpoint for OAuth error scenarios",
        "parameters": [
          {
            "in": "query",
            "name": "provider",
            "schema": {
              "type": "string",
              "default": "google"
            },
            "description": "OAuth provider name"
          },
          {
            "in": "query",
            "name": "error",
            "schema": {
              "type": "string",
              "default": "access_denied"
            },
            "description": "Error type"
          },
          {
            "in": "query",
            "name": "error_description",
            "schema": {
              "type": "string",
              "default": "User denied access"
            },
            "description": "Error description"
          }
        ],
        "responses": {
          "302": {
            "description": "Redirect to frontend error page"
          }
        }
      }
    },
    "/api/call/test-campaign/{id}": {
      "post": {
        "summary": "Test an existing campaign call",
        "tags": [
          "Calls"
        ],
        "security": [
          {
            "bearerAuth": []
          },
          {
            "cookieAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Campaign ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "phoneNumber": {
                    "type": "string",
                    "example": 1234567890
                  },
                  "candidateId": {
                    "type": "integer",
                    "example": 1
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Test call initiated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Success"
                }
              }
            }
          }
        }
      }
    },
    "/api/call/test-campaign-form": {
      "post": {
        "summary": "Test campaign call with form data",
        "tags": [
          "Calls"
        ],
        "security": [
          {
            "bearerAuth": []
          },
          {
            "cookieAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "phoneNumber",
                  "jobTitle",
                  "description"
                ],
                "properties": {
                  "phoneNumber": {
                    "type": "string",
                    "example": 1234567890
                  },
                  "jobTitle": {
                    "type": "string",
                    "example": "Senior Developer"
                  },
                  "description": {
                    "type": "string",
                    "example": "Job description"
                  },
                  "clientDescription": {
                    "type": "string",
                    "example": "Client description"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Test call initiated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Success"
                }
              }
            }
          }
        }
      }
    },
    "/api/call/create": {
      "post": {
        "summary": "Create a new call",
        "tags": [
          "Calls"
        ],
        "security": [
          {
            "bearerAuth": []
          },
          {
            "cookieAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "campaignId",
                  "candidateId",
                  "phoneNumber"
                ],
                "properties": {
                  "campaignId": {
                    "type": "integer",
                    "example": 1
                  },
                  "candidateId": {
                    "type": "integer",
                    "example": 1
                  },
                  "phoneNumber": {
                    "type": "string",
                    "example": 1234567890
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Call created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Success"
                }
              }
            }
          }
        }
      }
    },
    "/api/call": {
      "get": {
        "summary": "Get all calls",
        "tags": [
          "Calls"
        ],
        "security": [
          {
            "bearerAuth": []
          },
          {
            "cookieAuth": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer",
              "default": 1
            },
            "description": "Page number"
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer",
              "default": 10
            },
            "description": "Items per page"
          },
          {
            "in": "query",
            "name": "campaignId",
            "schema": {
              "type": "integer"
            },
            "description": "Filter by campaign ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Calls retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/call/transfer-recording": {
      "get": {
        "summary": "Transfer all recordings",
        "tags": [
          "Calls"
        ],
        "responses": {
          "200": {
            "description": "Recordings transfer initiated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Success"
                }
              }
            }
          }
        }
      }
    },
    "/api/call/playaudio/{id}": {
      "get": {
        "summary": "Play audio recording",
        "tags": [
          "Calls"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Call ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Audio stream",
            "content": {
              "audio/mpeg": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        }
      }
    },
    "/api/call/{id}": {
      "get": {
        "summary": "Get call by ID",
        "tags": [
          "Calls"
        ],
        "security": [
          {
            "bearerAuth": []
          },
          {
            "cookieAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Call ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Call retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Success"
                }
              }
            }
          },
          "404": {
            "description": "Call not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "Update call",
        "tags": [
          "Calls"
        ],
        "security": [
          {
            "bearerAuth": []
          },
          {
            "cookieAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Call ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "status": {
                    "type": "string",
                    "enum": [
                      "pending",
                      "completed",
                      "failed"
                    ]
                  },
                  "notes": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Call updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Success"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete call",
        "tags": [
          "Calls"
        ],
        "security": [
          {
            "bearerAuth": []
          },
          {
            "cookieAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Call ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Call deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Success"
                }
              }
            }
          }
        }
      }
    },
    "/api/call-testing/otp/send-otp": {
      "post": {
        "summary": "Send OTP to phone number",
        "description": "Sends a one-time password (OTP) to the provided phone number for verification",
        "tags": [
          "OTP"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "phoneNumber"
                ],
                "properties": {
                  "phoneNumber": {
                    "type": "string",
                    "description": "Phone number to send OTP to (with or without + prefix)",
                    "example": "+1234567890"
                  },
                  "campaignType": {
                    "type": "string",
                    "description": "Type of campaign for the OTP",
                    "default": "default",
                    "example": "demo"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OTP sent successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "OTP sent successfully"
                    },
                    "phoneNumber": {
                      "type": "string",
                      "example": "+1234567890"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Phone number is required"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/api/call-testing/otp/verify-otp": {
      "post": {
        "summary": "Verify OTP",
        "description": "Verifies the OTP provided by the user against the phone number",
        "tags": [
          "OTP"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "otp",
                  "phoneNumber"
                ],
                "properties": {
                  "otp": {
                    "type": "string",
                    "description": "6-digit OTP code",
                    "pattern": "^[0-9]{6}$",
                    "example": "123456"
                  },
                  "phoneNumber": {
                    "type": "string",
                    "description": "Phone number that received the OTP",
                    "example": "+1234567890"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OTP verified successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "OTP verified successfully"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "otpVerified": {
                          "type": "boolean",
                          "example": true
                        },
                        "phoneNumber": {
                          "type": "string",
                          "example": "+1234567890"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid OTP or missing fields"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/api/call-testing/calls/call-to-demo-campaign": {
      "post": {
        "summary": "Initiate demo campaign call",
        "description": "Initiates a call to a demo campaign with candidate information",
        "tags": [
          "Demo Calls"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "firstName",
                  "lastName",
                  "phoneNumber"
                ],
                "properties": {
                  "firstName": {
                    "type": "string",
                    "description": "Candidate's first name",
                    "example": "John"
                  },
                  "lastName": {
                    "type": "string",
                    "description": "Candidate's last name",
                    "example": "Doe"
                  },
                  "phoneNumber": {
                    "type": "string",
                    "description": "Candidate's phone number",
                    "example": "+1234567890"
                  },
                  "email": {
                    "type": "string",
                    "format": "email",
                    "description": "Candidate's email address",
                    "example": "john.doe@example.com"
                  },
                  "campaignType": {
                    "type": "string",
                    "description": "Type of campaign",
                    "default": "default",
                    "enum": [
                      "fulltime-onsite",
                      "fulltime-remote",
                      "contract-onsite",
                      "contract-remote",
                      "default"
                    ],
                    "example": "fulltime-onsite"
                  },
                  "language": {
                    "type": "string",
                    "description": "Preferred language for the call",
                    "default": "english",
                    "example": "english"
                  },
                  "gender": {
                    "type": "string",
                    "description": "AI voice gender preference",
                    "default": "female",
                    "enum": [
                      "male",
                      "female"
                    ],
                    "example": "female"
                  },
                  "accent": {
                    "type": "string",
                    "description": "AI voice accent preference",
                    "default": "american",
                    "example": "american"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Call initiated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Call initiated successfully"
                    },
                    "phoneNumber": {
                      "type": "string",
                      "example": "+1234567890"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Missing required fields"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/api/call-testing/webrtc/connect": {
      "get": {
        "summary": "Connect to WebRTC (GET)",
        "description": "WebRTC proxy endpoint for connecting to the WebRTC server via GET request",
        "tags": [
          "WebRTC"
        ],
        "parameters": [
          {
            "name": "jobType",
            "in": "query",
            "description": "Type of job for the WebRTC session",
            "schema": {
              "type": "string",
              "default": "default",
              "enum": [
                "fulltime-onsite",
                "fulltime-remote",
                "contract-onsite",
                "contract-remote",
                "default"
              ]
            },
            "example": "fulltime-onsite"
          },
          {
            "name": "firstName",
            "in": "query",
            "description": "Candidate's first name",
            "schema": {
              "type": "string"
            },
            "example": "John"
          },
          {
            "name": "lastName",
            "in": "query",
            "description": "Candidate's last name",
            "schema": {
              "type": "string"
            },
            "example": "Doe"
          },
          {
            "name": "phone",
            "in": "query",
            "description": "Candidate's phone number",
            "schema": {
              "type": "string"
            },
            "example": "+1234567890"
          },
          {
            "name": "email",
            "in": "query",
            "description": "Candidate's email address",
            "schema": {
              "type": "string",
              "format": "email"
            },
            "example": "john.doe@example.com"
          }
        ],
        "responses": {
          "200": {
            "description": "WebRTC connection successful"
          },
          "500": {
            "description": "WebRTC proxy request failed"
          }
        }
      },
      "post": {
        "summary": "Connect to WebRTC (POST)",
        "description": "WebRTC proxy endpoint for connecting to the WebRTC server via POST request",
        "tags": [
          "WebRTC"
        ],
        "parameters": [
          {
            "name": "jobType",
            "in": "query",
            "description": "Type of job for the WebRTC session",
            "schema": {
              "type": "string",
              "default": "default"
            }
          },
          {
            "name": "firstName",
            "in": "query",
            "description": "Candidate's first name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lastName",
            "in": "query",
            "description": "Candidate's last name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "phone",
            "in": "query",
            "description": "Candidate's phone number",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "email",
            "in": "query",
            "description": "Candidate's email address",
            "schema": {
              "type": "string",
              "format": "email"
            }
          }
        ],
        "requestBody": {
          "description": "WebRTC connection payload",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Dynamic payload based on job type and WebRTC requirements"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "WebRTC connection successful"
          },
          "500": {
            "description": "WebRTC proxy request failed"
          }
        }
      },
      "options": {
        "summary": "WebRTC CORS preflight",
        "description": "Handles CORS preflight requests for WebRTC endpoint",
        "tags": [
          "WebRTC"
        ],
        "responses": {
          "200": {
            "description": "CORS preflight successful"
          }
        }
      }
    },
    "/api/campaign-specific-candidate-data/create": {
      "post": {
        "summary": "Create campaign-specific candidate data",
        "description": "Creates a new record linking a candidate to a campaign with specific data",
        "tags": [
          "Campaign Specific Candidate Data"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "candidateId",
                  "campaignId"
                ],
                "properties": {
                  "candidateId": {
                    "type": "integer",
                    "description": "ID of the candidate",
                    "example": 1
                  },
                  "campaignId": {
                    "type": "integer",
                    "description": "ID of the campaign",
                    "example": 1
                  },
                  "responseScore": {
                    "type": "number",
                    "description": "Response score for the candidate",
                    "example": 85.5
                  },
                  "status": {
                    "type": "string",
                    "enum": [
                      "PENDING",
                      "CONTACTED",
                      "INTERVIEWED",
                      "HIRED",
                      "REJECTED"
                    ],
                    "description": "Status of the candidate for this campaign",
                    "example": "PENDING"
                  },
                  "summary": {
                    "type": "string",
                    "description": "Summary or notes about the candidate for this campaign",
                    "example": "Strong technical background, good communication skills"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Campaign-specific candidate data created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer"
                    },
                    "candidateId": {
                      "type": "integer"
                    },
                    "campaignId": {
                      "type": "integer"
                    },
                    "responseScore": {
                      "type": "number"
                    },
                    "status": {
                      "type": "string"
                    },
                    "summary": {
                      "type": "string"
                    },
                    "createdAt": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "updatedAt": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "candidate": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer"
                        },
                        "firstName": {
                          "type": "string"
                        },
                        "lastName": {
                          "type": "string"
                        },
                        "email": {
                          "type": "string"
                        },
                        "phone": {
                          "type": "string"
                        }
                      }
                    },
                    "campaign": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer"
                        },
                        "name": {
                          "type": "string"
                        },
                        "jobTitle": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - missing required fields or record already exists"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Candidate or campaign not found"
          }
        }
      }
    },
    "/api/campaign-specific-candidate-data": {
      "get": {
        "summary": "Get campaign-specific candidate data with filters",
        "description": "Retrieves campaign-specific candidate data with optional filtering and pagination",
        "tags": [
          "Campaign Specific Candidate Data"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "candidateId",
            "in": "query",
            "description": "Filter by candidate ID",
            "schema": {
              "type": "integer"
            },
            "example": 1
          },
          {
            "name": "campaignId",
            "in": "query",
            "description": "Filter by campaign ID",
            "schema": {
              "type": "integer"
            },
            "example": 1
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filter by status",
            "schema": {
              "type": "string",
              "enum": [
                "PENDING",
                "CONTACTED",
                "INTERVIEWED",
                "HIRED",
                "REJECTED"
              ]
            },
            "example": "PENDING"
          },
          {
            "name": "startDate",
            "in": "query",
            "description": "Filter records created after this date",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "example": "2024-01-01"
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "Filter records created before this date",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "example": "2024-12-31"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number for pagination",
            "schema": {
              "type": "integer",
              "default": 1
            },
            "example": 1
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of records per page",
            "schema": {
              "type": "integer",
              "default": 12
            },
            "example": 10
          }
        ],
        "responses": {
          "200": {
            "description": "Campaign-specific candidate data retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer"
                          },
                          "candidateId": {
                            "type": "integer"
                          },
                          "campaignId": {
                            "type": "integer"
                          },
                          "responseScore": {
                            "type": "number"
                          },
                          "status": {
                            "type": "string"
                          },
                          "summary": {
                            "type": "string"
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "candidate": {
                            "type": "object"
                          },
                          "campaign": {
                            "type": "object"
                          }
                        }
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "total": {
                          "type": "integer"
                        },
                        "page": {
                          "type": "integer"
                        },
                        "limit": {
                          "type": "integer"
                        },
                        "totalPages": {
                          "type": "integer"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/campaign-specific-candidate-data/{id}": {
      "get": {
        "summary": "Get campaign-specific candidate data by ID",
        "description": "Retrieves a specific campaign-candidate record by its ID",
        "tags": [
          "Campaign Specific Candidate Data"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID of the campaign-specific candidate data record",
            "schema": {
              "type": "integer"
            },
            "example": 1
          }
        ],
        "responses": {
          "200": {
            "description": "Campaign-specific candidate data retrieved successfully"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Record not found"
          }
        }
      },
      "put": {
        "summary": "Update campaign-specific candidate data",
        "description": "Updates an existing campaign-specific candidate data record",
        "tags": [
          "Campaign Specific Candidate Data"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID of the record to update",
            "schema": {
              "type": "integer"
            },
            "example": 1
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "candidateId": {
                    "type": "integer",
                    "description": "ID of the candidate",
                    "example": 1
                  },
                  "campaignId": {
                    "type": "integer",
                    "description": "ID of the campaign",
                    "example": 1
                  },
                  "responseScore": {
                    "type": "number",
                    "description": "Response score for the candidate",
                    "example": 90
                  },
                  "status": {
                    "type": "string",
                    "enum": [
                      "PENDING",
                      "CONTACTED",
                      "INTERVIEWED",
                      "HIRED",
                      "REJECTED"
                    ],
                    "description": "Status of the candidate for this campaign",
                    "example": "INTERVIEWED"
                  },
                  "summary": {
                    "type": "string",
                    "description": "Summary or notes about the candidate for this campaign",
                    "example": "Updated after interview - excellent candidate"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Campaign-specific candidate data updated successfully"
          },
          "400": {
            "description": "Bad request - missing required fields"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Record not found"
          }
        }
      },
      "delete": {
        "summary": "Delete campaign-specific candidate data",
        "description": "Deletes a campaign-specific candidate data record",
        "tags": [
          "Campaign Specific Candidate Data"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID of the record to delete",
            "schema": {
              "type": "integer"
            },
            "example": 1
          }
        ],
        "responses": {
          "204": {
            "description": "Campaign-specific candidate data deleted successfully"
          },
          "400": {
            "description": "Record ID is required"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Record not found"
          }
        }
      }
    },
    "/api/campaign-specific-candidate-data/candidate/{candidateId}/campaign/{campaignId}": {
      "get": {
        "summary": "Get campaign-specific candidate data by candidate and campaign IDs",
        "description": "Retrieves campaign-specific data for a specific candidate-campaign pair",
        "tags": [
          "Campaign Specific Candidate Data"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "candidateId",
            "in": "path",
            "required": true,
            "description": "ID of the candidate",
            "schema": {
              "type": "integer"
            },
            "example": 1
          },
          {
            "name": "campaignId",
            "in": "path",
            "required": true,
            "description": "ID of the campaign",
            "schema": {
              "type": "integer"
            },
            "example": 1
          }
        ],
        "responses": {
          "200": {
            "description": "Campaign-specific candidate data retrieved successfully"
          },
          "400": {
            "description": "Candidate ID and Campaign ID are required"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Record not found"
          }
        }
      }
    },
    "/api/campaign/create": {
      "post": {
        "summary": "Create a new campaign",
        "tags": [
          "Campaigns"
        ],
        "security": [
          {
            "bearerAuth": []
          },
          {
            "cookieAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name",
                  "jobTitle"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "example": "Senior Developer Campaign"
                  },
                  "jobTitle": {
                    "type": "string",
                    "example": "Senior Full Stack Developer"
                  },
                  "description": {
                    "type": "string",
                    "example": "Looking for experienced developers"
                  },
                  "clientDescription": {
                    "type": "string",
                    "example": "Tech startup in fintech"
                  },
                  "skills": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "example": [
                      "JavaScript",
                      "React",
                      "Node.js"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Campaign created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Success"
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/campaign/my-campaigns": {
      "get": {
        "summary": "Get user's campaigns",
        "tags": [
          "Campaigns"
        ],
        "security": [
          {
            "bearerAuth": []
          },
          {
            "cookieAuth": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer",
              "default": 1
            },
            "description": "Page number"
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer",
              "default": 10
            },
            "description": "Items per page"
          }
        ],
        "responses": {
          "200": {
            "description": "Campaigns retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/campaign/check-name-exists": {
      "get": {
        "summary": "Check if campaign name exists",
        "tags": [
          "Campaigns"
        ],
        "security": [
          {
            "bearerAuth": []
          },
          {
            "cookieAuth": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "name",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Campaign name to check"
          }
        ],
        "responses": {
          "200": {
            "description": "Name availability status",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "exists": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/campaign/{id}": {
      "get": {
        "summary": "Get campaign by ID",
        "tags": [
          "Campaigns"
        ],
        "security": [
          {
            "bearerAuth": []
          },
          {
            "cookieAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Campaign ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Campaign retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Success"
                }
              }
            }
          },
          "404": {
            "description": "Campaign not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "Update campaign",
        "tags": [
          "Campaigns"
        ],
        "security": [
          {
            "bearerAuth": []
          },
          {
            "cookieAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Campaign ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "jobTitle": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "clientDescription": {
                    "type": "string"
                  },
                  "skills": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Campaign updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Success"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete campaign",
        "tags": [
          "Campaigns"
        ],
        "security": [
          {
            "bearerAuth": []
          },
          {
            "cookieAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Campaign ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Campaign deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Success"
                }
              }
            }
          }
        }
      }
    },
    "/api/campaign/{id}/candidates": {
      "get": {
        "summary": "Get campaign candidates",
        "tags": [
          "Campaigns"
        ],
        "security": [
          {
            "bearerAuth": []
          },
          {
            "cookieAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Campaign ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Candidates retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/campaign/{id}/interested-candidates": {
      "get": {
        "summary": "Get interested candidates for campaign",
        "tags": [
          "Campaigns"
        ],
        "security": [
          {
            "bearerAuth": []
          },
          {
            "cookieAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Campaign ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Interested candidates retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Success"
                }
              }
            }
          }
        }
      }
    },
    "/api/campaign/{id}/details": {
      "get": {
        "summary": "Get campaign details with candidates",
        "tags": [
          "Campaigns"
        ],
        "security": [
          {
            "bearerAuth": []
          },
          {
            "cookieAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Campaign ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Campaign details retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Success"
                }
              }
            }
          }
        }
      }
    },
    "/api/campaign/{id}/add-candidates": {
      "post": {
        "summary": "Add candidates to campaign",
        "tags": [
          "Campaigns"
        ],
        "security": [
          {
            "bearerAuth": []
          },
          {
            "cookieAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Campaign ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "candidateIds"
                ],
                "properties": {
                  "candidateIds": {
                    "type": "array",
                    "items": {
                      "type": "integer"
                    },
                    "example": [
                      1,
                      2,
                      3
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Candidates added successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Success"
                }
              }
            }
          }
        }
      }
    },
    "/api/campaign/generate-description": {
      "post": {
        "summary": "Generate job description using AI",
        "tags": [
          "Campaigns"
        ],
        "security": [
          {
            "bearerAuth": []
          },
          {
            "cookieAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "jobTitle"
                ],
                "properties": {
                  "jobTitle": {
                    "type": "string",
                    "example": "Senior Full Stack Developer"
                  },
                  "skills": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "example": [
                      "JavaScript",
                      "React",
                      "Node.js"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Job description generated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "description": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/campaign/generate-client-description": {
      "post": {
        "summary": "Generate client description using AI",
        "tags": [
          "Campaigns"
        ],
        "security": [
          {
            "bearerAuth": []
          },
          {
            "cookieAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "company"
                ],
                "properties": {
                  "company": {
                    "type": "string",
                    "example": "Tech Startup Inc"
                  },
                  "industry": {
                    "type": "string",
                    "example": "Fintech"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Client description generated successfully",
[...]
