{
  "openapi": "3.0.3",
  "info": {
    "title": "Browser Use Cloud API",
    "description": "Browser Use Cloud API for running AI-powered browser automation tasks. Create and manage tasks that automate web interactions using AI agents.",
    "version": "v1",
    "x-jentic-source-url": "https://docs.browser-use.com/",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://api.browser-use.com/api",
      "description": "Production"
    }
  ],
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Tasks",
      "description": "Create and manage browser automation tasks."
    },
    {
      "name": "Sessions",
      "description": "Manage browser sessions for task execution."
    }
  ],
  "paths": {
    "/v1/run-task": {
      "post": {
        "tags": [
          "Tasks"
        ],
        "summary": "Run a task",
        "description": "Creates and runs a new browser automation task with the specified instructions.",
        "operationId": "runTask",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RunTaskRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/task/{taskId}": {
      "get": {
        "tags": [
          "Tasks"
        ],
        "summary": "Get task details",
        "description": "Retrieves the current status and details of a task.",
        "operationId": "getTask",
        "parameters": [
          {
            "name": "taskId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The task ID returned by run-task."
          }
        ],
        "responses": {
          "200": {
            "description": "Task details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskDetailResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Task not found"
          }
        }
      }
    },
    "/v1/stop-task": {
      "post": {
        "tags": [
          "Tasks"
        ],
        "summary": "Stop a task",
        "description": "Stops a running task.",
        "operationId": "stopTask",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "task_id": {
                    "type": "string",
                    "description": "The task ID to stop."
                  }
                },
                "required": [
                  "task_id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task stopped.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Task not found"
          }
        }
      }
    },
    "/v1/pause-task": {
      "post": {
        "tags": [
          "Tasks"
        ],
        "summary": "Pause a task",
        "description": "Pauses a running task.",
        "operationId": "pauseTask",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "task_id": {
                    "type": "string",
                    "description": "The task ID to pause."
                  }
                },
                "required": [
                  "task_id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task paused.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Task not found"
          }
        }
      }
    },
    "/v1/resume-task": {
      "post": {
        "tags": [
          "Tasks"
        ],
        "summary": "Resume a task",
        "description": "Resumes a paused task.",
        "operationId": "resumeTask",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "task_id": {
                    "type": "string",
                    "description": "The task ID to resume."
                  }
                },
                "required": [
                  "task_id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task resumed.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Task not found"
          }
        }
      }
    },
    "/v1/tasks": {
      "get": {
        "tags": [
          "Tasks"
        ],
        "summary": "List tasks",
        "description": "Returns a list of tasks.",
        "operationId": "listTasks",
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "pending",
                "running",
                "paused",
                "finished",
                "failed",
                "stopped"
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 10
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of tasks.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "tasks": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/TaskDetailResponse"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "RunTaskRequest": {
        "type": "object",
        "description": "Request to create and run a browser automation task.",
        "properties": {
          "task": {
            "type": "string",
            "description": "The task instructions in natural language."
          },
          "save_browser_data": {
            "type": "boolean",
            "description": "Whether to save browser data (cookies, localStorage) for future reuse."
          },
          "browser_data_id": {
            "type": "string",
            "description": "ID of previously saved browser data to restore."
          },
          "structured_output_json": {
            "type": "object",
            "description": "JSON schema for structured output extraction.",
            "additionalProperties": true
          },
          "allowed_domains": {
            "type": "array",
            "description": "List of domains the agent is allowed to visit.",
            "items": {
              "type": "string"
            }
          }
        },
        "required": [
          "task"
        ]
      },
      "TaskResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The unique task ID."
          },
          "status": {
            "type": "string",
            "description": "Current task status."
          },
          "live_url": {
            "type": "string",
            "description": "URL to view the live task execution."
          }
        }
      },
      "TaskDetailResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The unique task ID."
          },
          "status": {
            "type": "string",
            "description": "Current task status.",
            "enum": [
              "pending",
              "running",
              "paused",
              "finished",
              "failed",
              "stopped"
            ]
          },
          "output": {
            "type": "string",
            "description": "The task output/result when finished."
          },
          "structured_output": {
            "type": "object",
            "description": "Structured output if schema was provided.",
            "additionalProperties": true
          },
          "steps": {
            "type": "array",
            "description": "Steps executed by the agent.",
            "items": {
              "$ref": "#/components/schemas/TaskStep"
            }
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "finished_at": {
            "type": "string",
            "format": "date-time"
          },
          "live_url": {
            "type": "string",
            "description": "URL to view the live task execution."
          },
          "browser_data_id": {
            "type": "string",
            "description": "Saved browser data ID, if save_browser_data was true."
          }
        }
      },
      "TaskStep": {
        "type": "object",
        "properties": {
          "step_number": {
            "type": "integer"
          },
          "description": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "screenshot_url": {
            "type": "string"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "API key passed as a Bearer token in the Authorization header."
      }
    }
  }
}
