{
  "openapi": "3.0.0",
  "info": {
    "version": "v2",
    "title": "Motimate Public API",
    "description": "<h2>Rate limiting</h2>\n<p>Requests are limited to 1200 requests per fixed 10-minute window. If you exceed this limit, you will receive a <code>429 Too Many Requests</code> response.<br>\nCurrent rate limit status is available in <code>RateLimit</code> header. Example: <code>RateLimit: limit=1200, remaining=956, reset=543</code>.\nSee <a href=\"https://datatracker.ietf.org/doc/draft-ietf-httpapi-ratelimit-headers/\">IETF draft</a> for more details.\n</p>\n<h2>Pagination</h2>\n<p>\nMax results per page is 50. Use <code>page</code> and <code>per_page</code> query parameters to fetch additional results.\nExample: <code>/users?page=3&per_page=30</code>.\n</p>\n",
    "contact": {
      "email": "support@motimateapp.com",
      "name": "Motimate",
      "url": "https://www.motimateapp.com"
    },
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/Motimate/PublicAPIv20/v2"
  },
  "servers": [
    {
      "url": "https://motimateapp.com/public_api",
      "description": "Public API"
    }
  ],
  "security": [
    {
      "BearerAuth": [
        "read",
        "write"
      ]
    }
  ],
  "tags": [
    {
      "name": "Assignments",
      "description": "Assignments"
    },
    {
      "name": "Badges",
      "description": "Badges"
    },
    {
      "name": "Categories",
      "description": "Categories"
    },
    {
      "name": "Feedbacks",
      "description": "Feedbacks"
    },
    {
      "name": "Files",
      "description": "Files"
    },
    {
      "name": "Folders",
      "description": "Folders"
    },
    {
      "name": "GroupMemberships",
      "description": "GroupMemberships"
    },
    {
      "name": "Groups",
      "description": "Groups"
    },
    {
      "name": "LearningPaths",
      "description": "LearningPaths"
    },
    {
      "name": "LearningReviews",
      "description": "LearningReviews"
    },
    {
      "name": "Me",
      "description": "Me"
    },
    {
      "name": "MotiChapterCompletions",
      "description": "MotiChapterCompletions"
    },
    {
      "name": "MotiEditors",
      "description": "MotiEditors"
    },
    {
      "name": "MotiProgresses",
      "description": "MotiProgresses"
    },
    {
      "name": "Motis",
      "description": "Motis"
    },
    {
      "name": "MyOrganization",
      "description": "MyOrganization"
    },
    {
      "name": "Packages",
      "description": "Packages"
    },
    {
      "name": "Playlists",
      "description": "Playlists"
    },
    {
      "name": "Positions",
      "description": "Positions"
    },
    {
      "name": "Posts",
      "description": "Posts"
    },
    {
      "name": "ReportRequests",
      "description": "ReportRequests"
    },
    {
      "name": "ReportTemplates",
      "description": "ReportTemplates"
    },
    {
      "name": "Tokens",
      "description": "Tokens"
    },
    {
      "name": "UserAvatars",
      "description": "UserAvatars"
    },
    {
      "name": "UserInvitations",
      "description": "UserInvitations"
    },
    {
      "name": "UserPositions",
      "description": "UserPositions"
    },
    {
      "name": "Users",
      "description": "Users"
    }
  ],
  "paths": {
    "/files": {
      "get": {
        "description": "Fetches Files.",
        "operationId": "fetchFiles",
        "tags": [
          "Files"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "in": "query",
            "name": "filter[created_at_lteq]",
            "description": "<p>Allowed operators:</p>\n<ul> <li>lteq</li><li>lt</li><li>gteq</li><li>gt</li> </ul>\n<p>Value has to be in ISO 8601 format. Values are compared with milliseconds precision. See the list of casting examples below.</p>\n<pre>\n  2023-01-01T03:01:01.00144+01:00 => 2023-01-01 02:01:01.001\n  2023-01-01T03:01:01.00199+01:00 => 2023-01-01 02:01:01.002\n  2023-01-01T03:01:01Z            => 2023-01-01 02:01:01.000\n</pre>\n<p>Example: <pre>?filter[created_at_lteq]=2026-03-23T10:17:38Z</pre></p>\n",
            "examples": {
              "lteq": {
                "value": "2022-02-03T10:02:34Z",
                "summary": "Returns resources where created_at is less or equal than 2022-02-03 10:02:34 UTC."
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Files",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "properties": {
                          "id": {
                            "format": "uuid",
                            "type": "string"
                          },
                          "file_name": {
                            "type": "string"
                          },
                          "file_type": {
                            "enum": [
                              "document",
                              "image",
                              "video"
                            ],
                            "type": "string"
                          },
                          "url": {
                            "description": "Download URL to a file stored on AWS S3. Expires after 1 minute.",
                            "type": "string"
                          },
                          "content_length": {
                            "description": "File size in bytes.",
                            "type": "integer",
                            "example": 1572864.0
                          },
                          "created_at": {
                            "format": "date-time",
                            "type": "string",
                            "description": "Datetime of resource creation in ISO 8601 format. Never changes."
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "description": "Returns metadata that can be used to upload a file to the server and then attach it to a\nResource, e.g. as an User Avatar or a Post Attachment.\n<br/>\nAn actual file has to be uploaded to the returned `upload_url`. cURL example:\n```\ncurl -X PUT -H \"Content-Type: image/png\" -T \"image.png\" {upload_url}\n```\nSuccessfully uploaded file can be then attached to a Resource (e.g. User or Post) using the returned `id`. See\nUserAvatars and Posts documentation for more details.\n\nNotes:\n1. `upload_url` is valid for 5 minutes.\n1. An uploaded file is removed from the server after 24 hours. It has to be attached to a Resource before that.\n",
        "operationId": "createFile",
        "tags": [
          "Files"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "file_name",
                  "file_type",
                  "content_length"
                ],
                "type": "object",
                "properties": {
                  "file_name": {
                    "type": "string"
                  },
                  "file_type": {
                    "enum": [
                      "document",
                      "image",
                      "video"
                    ],
                    "type": "string"
                  },
                  "content_length": {
                    "description": "File size in bytes.",
                    "type": "integer",
                    "example": 1572864.0
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "$ref": "#/components/responses/FileResponse"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        }
      }
    },
    "/files/{file_id}": {
      "get": {
        "description": "Fetches a File.",
        "operationId": "fetchFile",
        "tags": [
          "Files"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "file_id",
            "description": "File",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/FileResponse"
          },
          "404": {
            "$ref": "#/components/responses/RecordNotFoundError"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        }
      },
      "delete": {
        "description": "Deletes a File.",
        "operationId": "deleteFile",
        "tags": [
          "Files"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "file_id",
            "description": "File",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "$ref": "#/components/responses/NoContentResponse"
          },
          "404": {
            "$ref": "#/components/responses/RecordNotFoundError"
          }
        }
      }
    },
    "/groups": {
      "get": {
        "description": "Fetches Groups.<br>Access to Group with `level_1` is restricted, as this Group represents your whole organization\nand is managed by Motimate. Its ID can be fetched with `GET /my_organization` (`default_group_id` value),\nbut it cannot be modified or destroyed via API.\n",
        "operationId": "fetchGroups",
        "tags": [
          "Groups"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "filter[id]",
            "required": false,
            "description": "<p>Filter resources by <code>id</code>.</p><p>Multiple values separated by a comma are supported.</p>\n<p>Example: <pre>?filter[id]=71492,646806,903560</pre></p>\n",
            "examples": {
              "separated_by_comma": {
                "value": "71492,646806,903560",
                "summary": "Return resources with id equal to one of the provided values separated by a comma"
              },
              "71492_0": {
                "value": "71492",
                "summary": "Return resources with id equal to \"71492\""
              }
            }
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "filter[external_id]",
            "required": false,
            "description": "<p>Filter resources by <code>external_id</code>.</p><p>Multiple values separated by a comma are supported.</p>\n<p>Example: <pre>?filter[external_id]=6a9382e1fc,5ef2f9ed7f,3a597c1122</pre></p>\n",
            "examples": {
              "separated_by_comma": {
                "value": "6a9382e1fc,5ef2f9ed7f,3a597c1122",
                "summary": "Return resources with external_id equal to one of the provided values separated by a comma"
              },
              "6a9382e1fc_0": {
                "value": "6a9382e1fc",
                "summary": "Return resources with external_id equal to \"6a9382e1fc\""
              }
            }
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "filter[assignment_id]",
            "required": false,
            "description": "Filters resources by their Assignments <code>id</code>.\nThis resource can have many Assignments associated with it.\n",
            "examples": {
              "71492_0": {
                "value": "71492",
                "summary": "Return resources which have associated Assignment with id equal to \"71492\""
              },
              "646806_1": {
                "value": "646806",
                "summary": "Return resources which have associated Assignment with id equal to \"646806\""
              },
              "903560_2": {
                "value": "903560",
                "summary": "Return resources which have associated Assignment with id equal to \"903560\""
              }
            }
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "filter[imported]",
            "required": false,
            "description": "<p>Filter resources by <code>imported</code>.</p><p>Possible values for <code>filter[imported]</code> are: <ul><li>0</li><li>1</li></ul></p>\n<p>Example: <pre>?filter[imported]=0</pre></p>\n",
            "examples": {
              "false": {
                "value": "0",
                "summary": "Return resources where imported is false"
              },
              "true": {
                "value": "1",
                "summary": "Return resources where imported is true"
              }
            }
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "search[name]",
            "description": "<p>Filter resources by <code>name</code> using full-text search.</p>\n<p>Examples: <pre>?search[name]=store\n?search[name]=stor\n</pre></p>\n",
            "required": false,
            "examples": {
              "store": {
                "value": "store",
                "summary": "Return resources with name equal or similar to \"store\""
              },
              "stor": {
                "value": "stor",
                "summary": "Return resources with name equal or similar to \"stor\""
              },
              "custom": {
                "value": "custom",
                "summary": "Return resources with name equal or similar to \"custom\""
              }
            }
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "filter[level]",
            "required": false,
            "description": "<p>Filter resources by <code>level</code>.</p><p>Possible values for <code>filter[level]</code> are: <ul><li>level_0</li><li>level_1</li><li>level_2</li><li>level_3</li><li>level_4</li></ul></p>\n<p>Examples: <pre>?filter[level]=level_0\n?filter[level]=level_1\n</pre></p>\n",
            "examples": {
              "level_0_0": {
                "value": "level_0",
                "summary": "Return resources with level equal to \"level_0\""
              },
              "level_1_1": {
                "value": "level_1",
                "summary": "Return resources with level equal to \"level_1\""
              },
              "level_2_2": {
                "value": "level_2",
                "summary": "Return resources with level equal to \"level_2\""
              },
              "level_3_3": {
                "value": "level_3",
                "summary": "Return resources with level equal to \"level_3\""
              },
              "level_4_4": {
                "value": "level_4",
                "summary": "Return resources with level equal to \"level_4\""
              }
            }
          },
          {
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "in": "query",
            "name": "filter[created_at_lteq]",
            "description": "<p>Allowed operators:</p>\n<ul> <li>lteq</li><li>lt</li><li>gteq</li><li>gt</li> </ul>\n<p>Value has to be in ISO 8601 format. Values are compared with milliseconds precision. See the list of casting examples below.</p>\n<pre>\n  2023-01-01T03:01:01.00144+01:00 => 2023-01-01 02:01:01.001\n  2023-01-01T03:01:01.00199+01:00 => 2023-01-01 02:01:01.002\n  2023-01-01T03:01:01Z            => 2023-01-01 02:01:01.000\n</pre>\n<p>Example: <pre>?filter[created_at_lteq]=2026-03-23T10:17:38Z</pre></p>\n",
            "examples": {
              "lteq": {
                "value": "2022-02-03T10:02:34Z",
                "summary": "Returns resources where created_at is less or equal than 2022-02-03 10:02:34 UTC."
              }
            }
          },
          {
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "in": "query",
            "name": "filter[updated_at_lteq]",
            "description": "<p>Allowed operators:</p>\n<ul> <li>lteq</li><li>lt</li><li>gteq</li><li>gt</li> </ul>\n<p>Value has to be in ISO 8601 format. Values are compared with milliseconds precision. See the list of casting examples below.</p>\n<pre>\n  2023-01-01T03:01:01.00144+01:00 => 2023-01-01 02:01:01.001\n  2023-01-01T03:01:01.00199+01:00 => 2023-01-01 02:01:01.002\n  2023-01-01T03:01:01Z            => 2023-01-01 02:01:01.000\n</pre>\n<p>Example: <pre>?filter[updated_at_lteq]=2026-03-23T10:17:38Z</pre></p>\n",
            "examples": {
              "lteq": {
                "value": "2022-02-03T10:02:34Z",
                "summary": "Returns resources where updated_at is less or equal than 2022-02-03 10:02:34 UTC."
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Groups",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "properties": {
                          "id": {
                            "type": "integer"
                          },
                          "external_id": {
                            "type": "string",
                            "description": "Must be unique. Usually a resource identifier in an external (client's) database."
                          },
                          "brand": {
                            "description": "This value is managed by Motimate and cannot be changed with API.",
                            "type": "string"
                          },
                          "kind": {
                            "description": "<p>Human readable name for the attribute called <code>level</code>. The default mapping is displayed below. Mapping is customizable.</p>\n<pre>\n  custom => level_0\n  organization => level_1\n  country => level_2\n  region => level_3\n  store => level_4\n</pre>\n",
                            "enum": [
                              "country",
                              "custom",
                              "organization",
                              "region",
                              "store"
                            ],
                            "type": "string"
                          },
                          "level": {
                            "enum": [
                              "level_0",
                              "level_1",
                              "level_2",
                              "level_3",
                              "level_4"
                            ],
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "parent_id": {
                            "type": "integer"
                          },
                          "excluded_from_scoreboard": {
                            "type": "boolean"
                          },
                          "imported": {
                            "type": "boolean"
                          },
                          "parent_external_id": {
                            "type": "integer"
                          },
                          "created_at": {
                            "format": "date-time",
                            "type": "string",
                            "description": "Datetime of resource creation in ISO 8601 format. Never changes."
                          },
                          "updated_at": {
                            "format": "date-time",
                            "type": "string",
                            "description": "Datetime of the last resource update in ISO 8601 format."
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "description": "Creates a new Group.",
        "operationId": "createGroup",
        "tags": [
          "Groups"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "external_id": {
                    "type": "string",
                    "description": "Must be unique. Usually a resource identifier in an external (client's) database."
                  },
                  "name": {
                    "type": "string"
                  },
                  "excluded_from_scoreboard": {
                    "type": "boolean"
                  },
                  "imported": {
                    "type": "boolean"
                  },
                  "parent_id": {
                    "description": "Both <code>parent_id</code> and <code>parent_external_id</code> can be used to identify a Group.\nPassing both parameters will result in an error.\n",
                    "type": "integer"
                  },
                  "parent_external_id": {
                    "description": "Both <code>parent_id</code> and <code>parent_external_id</code> can be used to identify a Group.\nPassing both parameters will result in an error.\n",
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "$ref": "#/components/responses/GroupResponse"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        }
      }
    },
    "/groups/{group_id}": {
      "delete": {
        "description": "Deletes a Group <b>and its children</b>.<br>Access to Group with `level_1` is restricted, as this Group represents your whole organization\nand is managed by Motimate. Its ID can be fetched with `GET /my_organization` (`default_group_id` value),\nbut it cannot be modified or destroyed via API.\n",
        "operationId": "deleteGroupAndItsChildren",
        "tags": [
          "Groups"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "group_id",
            "description": "Group",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/HardDeleteParam"
          },
          {
            "$ref": "#/components/parameters/IdentifierTypeParam"
          }
        ],
        "responses": {
          "204": {
            "$ref": "#/components/responses/NoContentResponse"
          },
          "404": {
            "$ref": "#/components/responses/RecordNotFoundError"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        }
      },
      "get": {
        "description": "Fetches a Group.<br>Access to Group with `level_1` is restricted, as this Group represents your whole organization\nand is managed by Motimate. Its ID can be fetched with `GET /my_organization` (`default_group_id` value),\nbut it cannot be modified or destroyed via API.\n",
        "operationId": "fetchGroup",
        "tags": [
          "Groups"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "group_id",
            "description": "Group",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/IdentifierTypeParam"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GroupResponse"
          },
          "404": {
            "$ref": "#/components/responses/RecordNotFoundError"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        }
      },
      "patch": {
        "description": "Updates a Group.<br>Access to Group with `level_1` is restricted, as this Group represents your whole organization\nand is managed by Motimate. Its ID can be fetched with `GET /my_organization` (`default_group_id` value),\nbut it cannot be modified or destroyed via API.\n",
        "operationId": "updateGroup",
        "tags": [
          "Groups"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "group_id",
            "description": "Group",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/IdentifierTypeParam"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "external_id": {
                    "type": "string",
                    "description": "Must be unique. Usually a resource identifier in an external (client's) database."
                  },
                  "name": {
                    "type": "string"
                  },
                  "excluded_from_scoreboard": {
                    "type": "boolean"
                  },
                  "imported": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/GroupResponse"
          },
          "404": {
            "$ref": "#/components/responses/RecordNotFoundError"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        }
      }
    },
    "/groups/{group_id}/parent": {
      "patch": {
        "description": "Updates a Group's Parent.",
        "operationId": "updateParentGroup",
        "tags": [
          "Groups"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "group_id",
            "description": "Group",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/IdentifierTypeParam"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "parent_id": {
                    "description": "Both <code>parent_id</code> and <code>parent_external_id</code> can be used to identify a Group.\nPassing both parameters will result in an error.\n",
                    "type": "integer"
                  },
                  "parent_external_id": {
                    "description": "Both <code>parent_id</code> and <code>parent_external_id</code> can be used to identify a Group.\nPassing both parameters will result in an error.\n",
                    "type": "integer"
                  },
                  "update_tree_structure": {
                    "description": "Must be `true` if the new Parent `level` is different than the previous Parent `level`.<br/>\nIf set to `true`, the Group's `level` and Group's descendants `level` will be updated based on the new Parent `level`.\nFor example, if the Group is `level_3` and the new Parent is `level_1`, the Group will be updated to `level_2`,\nthe Group's children to `level_3`, and so on.\n",
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "$ref": "#/components/responses/AcceptedResponse"
          },
          "404": {
            "$ref": "#/components/responses/RecordNotFoundError"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        }
      }
    },
    "/me": {
      "get": {
        "description": "Deprecated. Use <code>/my_organization</code> instead.",
        "operationId": "DEPRECATED-fetchCurrentOrganization",
        "tags": [
          "Me"
        ],
        "responses": {
          "200": {
            "description": "Current organization",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "required": [
                        "organization"
                      ],
                      "properties": {
                        "organization": {
                          "required": [
                            "id",
                            "identifier_name",
                            "name"
                          ],
                          "properties": {
                            "id": {
                              "type": "integer"
                            },
                            "identifier_name": {
                              "type": "string"
                            },
                            "name": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/motis": {
      "get": {
        "description": "Fetches Motis.",
        "operationId": "fetchMotis",
        "tags": [
          "Motis"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "filter[id]",
            "required": false,
            "description": "<p>Filter resources by <code>id</code>.</p><p>Multiple values separated by a comma are supported.</p>\n<p>Example: <pre>?filter[id]=71492,646806,903560</pre></p>\n",
            "examples": {
              "separated_by_comma": {
                "value": "71492,646806,903560",
                "summary": "Return resources with id equal to one of the provided values separated by a comma"
              },
              "71492_0": {
                "value": "71492",
                "summary": "Return resources with id equal to \"71492\""
              }
            }
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "filter[external_id]",
            "required": false,
            "description": "<p>Filter resources by <code>external_id</code>.</p><p>Multiple values separated by a comma are supported.</p>\n<p>Example: <pre>?filter[external_id]=6a9382e1fc,5ef2f9ed7f,3a597c1122</pre></p>\n",
            "examples": {
              "separated_by_comma": {
                "value": "6a9382e1fc,5ef2f9ed7f,3a597c1122",
                "summary": "Return resources with external_id equal to one of the provided values separated by a comma"
              },
              "6a9382e1fc_0": {
                "value": "6a9382e1fc",
                "summary": "Return resources with external_id equal to \"6a9382e1fc\""
              }
            }
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "filter[folder_id]",
            "required": false,
            "description": "Filters resources by their Folder <code>id</code>.\nThis resource has one Folder associated with it.\n",
            "examples": {
              "71492_0": {
                "value": "71492",
                "summary": "Return resources which have associated Folder with id equal to \"71492\""
              },
              "646806_1": {
                "value": "646806",
                "summary": "Return resources which have associated Folder with id equal to \"646806\""
              },
              "903560_2": {
                "value": "903560",
                "summary": "Return resources which have associated Folder with id equal to \"903560\""
              }
            }
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "filter[category_id]",
            "required": false,
            "description": "Filters resources by their Categories <code>id</code>.\nThis resource can have many Categories associated with it.\n",
            "examples": {
              "71492_0": {
                "value": "71492",
                "summary": "Return resources which have associated Category with id equal to \"71492\""
              },
              "646806_1": {
                "value": "646806",
                "summary": "Return resources which have associated Category with id equal to \"646806\""
              },
              "903560_2": {
                "value": "903560",
                "summary": "Return resources which have associated Category with id equal to \"903560\""
              }
            }
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "filter[package_id]",
            "required": false,
            "description": "Filters resources by their Packages <code>id</code>.\nThis resource can have many Packages associated with it.\n",
            "examples": {
              "71492_0": {
                "value": "71492",
                "summary": "Return resources which have associated Package with id equal to \"71492\""
              },
              "646806_1": {
                "value": "646806",
                "summary": "Return resources which have associated Package with id equal to \"646806\""
              },
              "903560_2": {
                "value": "903560",
                "summary": "Return resources which have associated Package with id equal to \"903560\""
              }
            }
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "filter[category_external_id]",
            "required": false,
            "description": "Filters resources by their Categories <code>external_id</code>.\nThis resource can have many Categories associated with it.\n",
            "examples": {
              "6a9382e1fc_0": {
                "value": "6a9382e1fc",
                "summary": "Return resources which have associated Category with external_id equal to \"6a9382e1fc\""
              },
              "5ef2f9ed7f_1": {
                "value": "5ef2f9ed7f",
                "summary": "Return resources which have associated Category with external_id equal to \"5ef2f9ed7f\""
              },
              "3a597c1122_2": {
                "value": "3a597c1122",
                "summary": "Return resources which have associated Category with external_id equal to \"3a597c1122\""
              }
            }
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "filter[package_external_id]",
            "required": false,
            "description": "Filters resources by their Packages <code>external_id</code>.\nThis resource can have many Packages associated with it.\n",
            "examples": {
              "6a9382e1fc_0": {
                "value": "6a9382e1fc",
                "summary": "Return resources which have associated Package with external_id equal to \"6a9382e1fc\""
              },
              "5ef2f9ed7f_1": {
                "value": "5ef2f9ed7f",
                "summary": "Return resources which have associated Package with external_id equal to \"5ef2f9ed7f\""
              },
              "3a597c1122_2": {
                "value": "3a597c1122",
                "summary": "Return resources which have associated Package with external_id equal to \"3a597c1122\""
              }
            }
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "filter[has_diploma]",
            "required": false,
            "description": "<p>Filter resources by <code>has_diploma</code>.</p><p>Possible values for <code>filter[has_diploma]</code> are: <ul><li>0</li><li>1</li></ul></p>\n<p>Example: <pre>?filter[has_diploma]=0</pre></p>\n",
            "examples": {
              "false": {
                "value": "0",
                "summary": "Return resources where has_diploma is false"
              },
              "true": {
                "value": "1",
                "summary": "Return resources where has_diploma is true"
              }
            }
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "include",
            "required": false,
            "description": "<p>Include fields in a response which are by default excluded. Multiple values separated by a comma are supported. Fields excluded by default:</p>\n<ul><li>assigned_to_all</li></ul>\n<p>Examples: <pre>?include=assigned_to_all</pre></p>\n",
            "examples": {
              "include": {
                "value": "assigned_to_all",
                "summary": "Include those fields in the response: assigned_to_all"
              }
            }
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "filter[assigned_to_all]",
            "required": false,
            "description": "<p>Filter resources by <code>assigned_to_all</code>.</p><p>Possible values for <code>filter[assigned_to_all]</code> are: <ul><li>0</li><li>1</li></ul></p>\n<p>Example: <pre>?filter[assigned_to_all]=0</pre></p>\n",
            "examples": {
              "false": {
                "value": "0",
                "summary": "Return resources where assigned_to_all is false"
              },
              "true": {
                "value": "1",
                "summary": "Return resources where assigned_to_all is true"
              }
            }
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "filter[publish_status]",
            "required": false,
            "description": "<p>Filter resources by <code>publish_status</code>.</p><p>Possible values for <code>filter[publish_status]</code> are: <ul><li>not_published</li><li>scheduled</li><li>published</li><li>expired</li></ul></p>\n<p>Examples: <pre>?filter[publish_status]=not_published\n?filter[publish_status]=scheduled\n</pre></p>\n",
            "examples": {
              "not_published_0": {
                "value": "not_published",
                "summary": "Return resources with publish_status equal to \"not_published\""
              },
              "scheduled_1": {
                "value": "scheduled",
                "summary": "Return resources with publish_status equal to \"scheduled\""
              },
              "published_2": {
                "value": "published",
                "summary": "Return resources with publish_status equal to \"published\""
              },
              "expired_3": {
                "value": "expired",
                "summary": "Return resources with publish_status equal to \"expired\""
              }
            }
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "filter[default_language]",
            "required": false,
            "description": "<p>Filter resources by <code>default_language</code>.</p>",
            "examples": {
              "es_0": {
                "value": "es",
                "summary": "Return resources with default_language equal to \"es\""
              },
              "nb_1": {
                "value": "nb",
                "summary": "Return resources with default_language equal to \"nb\""
              },
              "en_2": {
                "value": "en",
                "summary": "Return resources with default_language equal to \"en\""
              },
              "pl_3": {
                "value": "pl",
                "summary": "Return resources with default_language equal to \"pl\""
              }
            }
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "filter[tags]",
            "required": false,
            "description": "<p>Filter resources by <code>tags</code>.</p><p>Multiple values separated by a comma are supported.</p>\n<p>Example: <pre>?filter[tags]=tag number one,2nd tag,tag3</pre></p>\n",
            "examples": {
              "multiple_tags": {
                "value": "tag number one,2nd tag,tag3",
                "summary": "return resources which are tagged with one of the tags below"
              }
            }
          },
          {
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "in": "query",
            "name": "filter[created_at_lteq]",
            "description": "<p>Allowed operators:</p>\n<ul> <li>lteq</li><li>lt</li><li>gteq</li><li>gt</li> </ul>\n<p>Value has to be in ISO 8601 format. Values are compared with milliseconds precision. See the list of casting examples below.</p>\n<pre>\n  2023-01-01T03:01:01.00144+01:00 => 2023-01-01 02:01:01.001\n  2023-01-01T03:01:01.00199+01:00 => 2023-01-01 02:01:01.002\n  2023-01-01T03:01:01Z            => 2023-01-01 02:01:01.000\n</pre>\n<p>Example: <pre>?filter[created_at_lteq]=2026-03-23T10:17:38Z</pre></p>\n",
            "examples": {
              "lteq": {
                "value": "2022-02-03T10:02:34Z",
                "summary": "Returns resources where created_at is less or equal than 2022-02-03 10:02:34 UTC."
              }
            }
          },
          {
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "in": "query",
            "name": "filter[updated_at_lteq]",
            "description": "<p>Allowed operators:</p>\n<ul> <li>lteq</li><li>lt</li><li>gteq</li><li>gt</li> </ul>\n<p>Value has to be in ISO 8601 format. Values are compared with milliseconds precision. See the list of casting examples below.</p>\n<pre>\n  2023-01-01T03:01:01.00144+01:00 => 2023-01-01 02:01:01.001\n  2023-01-01T03:01:01.00199+01:00 => 2023-01-01 02:01:01.002\n  2023-01-01T03:01:01Z            => 2023-01-01 02:01:01.000\n</pre>\n<p>Example: <pre>?filter[updated_at_lteq]=2026-03-23T10:17:38Z</pre></p>\n",
            "examples": {
              "lteq": {
                "value": "2022-02-03T10:02:34Z",
                "summary": "Returns resources where updated_at is less or equal than 2022-02-03 10:02:34 UTC."
              }
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/MotisResponse"
          }
        }
      },
      "post": {
        "description": "Creates a Moti.",
        "operationId": "createMoti",
        "tags": [
          "Motis"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "badge_id",
                  "color",
                  "title",
                  "default_language"
                ],
                "properties": {
                  "badge_id": {
                    "type": "integer"
                  },
                  "external_id": {
                    "type": "string",
                    "description": "Must be unique. Usually a resource identifier in an external (client's) database."
                  },
                  "default_language": {
                    "enum": [
                      "cs",
                      "da",
                      "de",
                      "en",
                      "es",
                      "fi",
                      "fr",
                      "hr",
                      "hu",
                      "it",
                      "lt",
                      "lv",
                      "nb",
                      "nl",
                      "nn",
                      "pl",
                      "pt",
                      "ro",
                      "ru",
                      "se",
                      "sq",
                      "sr",
                      "sv",
                      "tr"
                    ],
                    "example": "es",
                    "type": "string"
                  },
                  "color": {
                    "example": "#FFAACC",
                    "type": "string"
                  },
                  "title": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "locked_order": {
                    "type": "boolean"
                  },
                  "folder_id": {
                    "type": "integer"
                  },
                  "approver_id": {
                    "type": "integer",
                    "description": "ID of the User that approved this Moti (changed it's `status` to `approved`)."
                  },
                  "approver_external_id": {
                    "type": "integer",
                    "description": "Alternative to using :approver_id."
                  },
                  "tags": {
                    "type": "array",
                    "example": [
                      "first tag",
                      "second tag"
                    ],
                    "items": {
                      "type": "string"
                    }
                  },
                  "category_ids": {
                    "type": "array",
                    "example": [
                      "921ffc13-d46c-40f7-acdd-c30de448315f",
                      "dca60152-9d32-4e80-87d6-8584208f04bd"
                    ],
                    "items": {
                      "type": "string"
                    }
                  },
                  "category_external_ids": {
                    "type": "array",
                    "example": [
                      "921ffc13-d46c-40f7-acdd-c30de448315f",
                      "dca60152-9d32-4e80-87d6-8584208f04bd"
                    ],
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/MotiResponse"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        }
      }
    },
    "/motis/{moti_id}": {
      "patch": {
        "description": "Updates a Moti.",
        "operationId": "updateMoti",
        "tags": [
          "Motis"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "moti_id",
            "description": "Moti",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/IdentifierTypeParam"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "external_id": {
                    "type": "string",
                    "description": "Must be unique. Usually a resource identifier in an external (client's) database."
                  },
                  "title": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "locked_order": {
                    "type": "boolean"
                  },
                  "folder_id": {
                    "type": "integer"
                  },
                  "approver_id": {
                    "type": "integer",
                    "description": "ID of the User that approved this Moti (changed it's `status` to `approved`)."
                  },
                  "approver_external_id": {
                    "type": "integer",
                    "description": "Alternative to using :approver_id."
                  },
                  "tags": {
                    "type": "array",
                    "example": [
                      "first tag",
                      "second tag"
                    ],
                    "items": {
                      "type": "string"
                    }
                  },
                  "category_ids": {
                    "type": "array",
                    "example": [
                      "921ffc13-d46c-40f7-acdd-c30de448315f",
                      "dca60152-9d32-4e80-87d6-8584208f04bd"
                    ],
                    "items": {
                      "type": "string"
                    }
                  },
                  "category_external_ids": {
                    "type": "array",
                    "example": [
                      "921ffc13-d46c-40f7-acdd-c30de448315f",
                      "dca60152-9d32-4e80-87d6-8584208f04bd"
                    ],
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/MotiResponse"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        }
      },
      "delete": {
        "description": "Deletes a Moti.",
        "operationId": "deleteMoti",
        "tags": [
          "Motis"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "moti_id",
            "description": "Moti",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/IdentifierTypeParam"
          }
        ],
        "responses": {
          "204": {
            "$ref": "#/components/responses/NoContentResponse"
          },
          "404": {
            "$ref": "#/components/responses/RecordNotFoundError"
          }
        }
      }
    },
    "/moti_editors": {
      "get": {
        "description": "Fetches Editors, i.e. relationships between Motis and Users which shows which User can edit which Moti.",
        "operationId": "fetchMotiEditors",
        "tags": [
          "MotiEditors"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "filter[moti_id]",
            "required": false,
            "description": "<p>Filter resources by <code>moti_id</code>.</p><p>Multiple values separated by a comma are supported.</p>\n<p>Example: <pre>?filter[moti_id]=71492,646806,903560</pre></p>\n",
            "examples": {
              "separated_by_comma": {
                "value": "71492,646806,903560",
                "summary": "Return resources with moti_id equal to one of the provided values separated by a comma"
              },
              "71492_0": {
                "value": "71492",
                "summary": "Return resources with moti_id equal to \"71492\""
              }
            }
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "filter[moti_external_id]",
            "required": false,
            "description": "<p>Filter resources by <code>moti_external_id</code>.</p><p>Multiple values separated by a comma are supported.</p>\n<p>Example: <pre>?filter[moti_external_id]=6a9382e1fc,5ef2f9ed7f,3a597c1122</pre></p>\n",
            "examples": {
              "separated_by_comma": {
                "value": "6a9382e1fc,5ef2f9ed7f,3a597c1122",
                "summary": "Return resources with moti_external_id equal to one of the provided values separated by a comma"
              },
              "6a9382e1fc_0": {
                "value": "6a9382e1fc",
                "summary": "Return resources with moti_external_id equal to \"6a9382e1fc\""
              }
            }
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "filter[user_id]",
            "required": false,
            "description": "Filters resources by their User <code>id</code>.\nThis resource has one User associated with it.\n",
            "examples": {
              "71492_0": {
                "value": "71492",
                "summary": "Return resources which have associated User with id equal to \"71492\""
              },
              "646806_1": {
                "value": "646806",
                "summary": "Return resources which have associated User with id equal to \"646806\""
              },
              "903560_2": {
                "value": "903560",
                "summary": "Return resources which have associated User with id equal to \"903560\""
              }
            }
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "filter[user_external_id]",
            "required": false,
            "description": "Filters resources by their User <code>external_id</code>.\nThis resource has one User associated with it.\n",
            "examples": {
              "6a9382e1fc_0": {
                "value": "6a9382e1fc",
                "summary": "Return resources which have associated User with external_id equal to \"6a9382e1fc\""
              },
              "5ef2f9ed7f_1": {
                "value": "5ef2f9ed7f",
                "summary": "Return resources which have associated User with external_id equal to \"5ef2f9ed7f\""
              },
              "3a597c1122_2": {
                "value": "3a597c1122",
                "summary": "Return resources which have associated User with external_id equal to \"3a597c1122\""
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Relationships between Motis and Users",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "required": [
                        "user",
                        "moti"
                      ],
                      "items": {
                        "properties": {
                          "moti": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "integer"
                              },
                              "external_id": {
                                "type": "string",
                                "description": "Must be unique. Usually a resource identifier in an external (client's) database."
                              }
                            }
                          },
                          "user": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "integer"
                              },
                              "external_id": {
                                "type": "string",
                                "description": "Must be unique. Usually a resource identifier in an external (client's) database."
                              },
                              "first_name": {
                                "type": "string"
                              },
                              "last_name": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/moti_editors/{moti_editor_id}": {
      "delete": {
        "description": "Deletes a MotiEditor.",
        "operationId": "deleteMotiEditor",
        "tags": [
          "MotiEditors"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "moti_editor_id",
            "description": "Moti editor",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "$ref": "#/components/responses/NoContentResponse"
          },
          "404": {
            "$ref": "#/components/responses/RecordNotFoundError"
          }
        }
      }
    },
    "/my_organization": {
      "get": {
        "description": "Fetches authenticated organization.",
        "operationId": "fetchCurrentOrganization",
        "tags": [
          "MyOrganization"
        ],
        "responses": {
          "200": {
            "description": "Your Organization",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "required": [
                        "organization"
                      ],
                      "properties": {
                        "id": {
                          "type": "integer"
                        },
                        "default_group_id": {
                          "type": "integer"
                        },
                        "default_position_id": {
                          "type": "integer"
                        },
                        "automatic_invitations": {
                          "type": "boolean"
                        },
                        "background_color": {
                          "type": "string"
                        },
                        "feedback_email": {
                          "type": "string"
                        },
                        "identifier_name": {
                          "type": "string"
                        },
                        "logo_background_color": {
                          "type": "string"
                        },
                        "main_color": {
                          "type": "string"
                        },
                        "main_feature_color": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        },
                        "secondary_color": {
                          "type": "string"
                        },
                        "secondary_feature_color": {
                          "type": "string"
                        },
                        "created_at": {
                          "format": "date-time",
                          "type": "string",
                          "description": "Datetime of resource creation in ISO 8601 format. Never changes."
                        },
                        "updated_at": {
                          "format": "date-time",
                          "type": "string",
                          "description": "Datetime of the last resource update in ISO 8601 format."
                        },
                        "aliases": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "required": [
                              "id",
                              "identifier_name",
                              "name"
                            ],
                            "properties": {
                              "id": {
                                "type": "integer"
                              },
                              "background_color": {
                                "type": "string"
                              },
                              "identifier_name": {
                                "type": "string"
                              },
                              "logo_background_color": {
                                "type": "string"
                              },
                              "main_color": {
                                "type": "string"
                              },
                              "main_feature_color": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "secondary_color": {
                                "type": "string"
                              },
                              "secondary_feature_color": {
                                "type": "string"
                              },
                              "created_at": {
                                "format": "date-time",
                                "type": "string",
                                "description": "Datetime of resource creation in ISO 8601 format. Never changes."
                              },
                              "updated_at": {
                                "format": "date-time",
                                "type": "string",
                                "description": "Datetime of the last resource update in ISO 8601 format."
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/positions": {
      "get": {
        "description": "Fetches Positions.",
        "operationId": "fetchPositions",
        "tags": [
          "Positions"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "filter[id]",
            "required": false,
            "description": "<p>Filter resources by <code>id</code>.</p><p>Multiple values separated by a comma are supported.</p>\n<p>Example: <pre>?filter[id]=71492,646806,903560</pre></p>\n",
            "examples": {
              "separated_by_comma": {
                "value": "71492,646806,903560",
                "summary": "Return resources with id equal to one of the provided values separated by a comma"
              },
              "71492_0": {
                "value": "71492",
                "summary": "Return resources with id equal to \"71492\""
              }
            }
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "filter[external_id]",
            "required": false,
            "description": "<p>Filter resources by <code>external_id</code>.</p><p>Multiple values separated by a comma are supported.</p>\n<p>Example: <pre>?filter[external_id]=6a9382e1fc,5ef2f9ed7f,3a597c1122</pre></p>\n",
            "examples": {
              "separated_by_comma": {
                "value": "6a9382e1fc,5ef2f9ed7f,3a597c1122",
                "summary": "Return resources with external_id equal to one of the provided values separated by a comma"
              },
              "6a9382e1fc_0": {
                "value": "6a9382e1fc",
                "summary": "Return resources with external_id equal to \"6a9382e1fc\""
              }
            }
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "filter[assignment_id]",
            "required": false,
            "description": "Filters resources by their Assignments <code>id</code>.\nThis resource can have many Assignments associated with it.\n",
            "examples": {
              "71492_0": {
                "value": "71492",
                "summary": "Return resources which have associated Assignment with id equal to \"71492\""
              },
              "646806_1": {
                "value": "646806",
                "summary": "Return resources which have associated Assignment with id equal to \"646806\""
              },
              "903560_2": {
                "value": "903560",
                "summary": "Return resources which have associated Assignment with id equal to \"903560\""
              }
            }
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "search[name]",
            "description": "<p>Filter resources by <code>name</code> using full-text search.</p>\n<p>Examples: <pre>?search[name]=manager\n?search[name]=manag\n</pre></p>\n",
            "required": false,
            "examples": {
              "manager": {
                "value": "manager",
                "summary": "Return resources with name equal or similar to \"manager\""
              },
              "manag": {
                "value": "manag",
                "summary": "Return resources with name equal or similar to \"manag\""
              }
            }
          },
          {
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "in": "query",
            "name": "filter[created_at_lteq]",
            "description": "<p>Allowed operators:</p>\n<ul> <li>lteq</li><li>lt</li><li>gteq</li><li>gt</li> </ul>\n<p>Value has to be in ISO 8601 format. Values are compared with milliseconds precision. See the list of casting examples below.</p>\n<pre>\n  2023-01-01T03:01:01.00144+01:00 => 2023-01-01 02:01:01.001\n  2023-01-01T03:01:01.00199+01:00 => 2023-01-01 02:01:01.002\n  2023-01-01T03:01:01Z            => 2023-01-01 02:01:01.000\n</pre>\n<p>Example: <pre>?filter[created_at_lteq]=2026-03-23T10:17:38Z</pre></p>\n",
            "examples": {
              "lteq": {
                "value": "2022-02-03T10:02:34Z",
                "summary": "Returns resources where created_at is less or equal than 2022-02-03 10:02:34 UTC."
              }
            }
          },
          {
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "in": "query",
            "name": "filter[updated_at_lteq]",
            "description": "<p>Allowed operators:</p>\n<ul> <li>lteq</li><li>lt</li><li>gteq</li><li>gt</li> </ul>\n<p>Value has to be in ISO 8601 format. Values are compared with milliseconds precision. See the list of casting examples below.</p>\n<pre>\n  2023-01-01T03:01:01.00144+01:00 => 2023-01-01 02:01:01.001\n  2023-01-01T03:01:01.00199+01:00 => 2023-01-01 02:01:01.002\n  2023-01-01T03:01:01Z            => 2023-01-01 02:01:01.000\n</pre>\n<p>Example: <pre>?filter[updated_at_lteq]=2026-03-23T10:17:38Z</pre></p>\n",
            "examples": {
              "lteq": {
                "value": "2022-02-03T10:02:34Z",
                "summary": "Returns resources where updated_at is less or equal than 2022-02-03 10:02:34 UTC."
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Positions",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "properties": {
                          "id": {
                            "type": "integer"
                          },
                          "external_id": {
                            "type": "string",
                            "description": "Must be unique. Usually a resource identifier in an external (client's) database."
                          },
                          "import_id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "created_at": {
                            "format": "date-time",
                            "type": "string",
                            "description": "Datetime of resource creation in ISO 8601 format. Never changes."
                          },
                          "updated_at": {
                            "format": "date-time",
                            "type": "string",
                            "description": "Datetime of the last resource update in ISO 8601 format."
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "description": "Creates a new Position.",
        "operationId": "createPosition",
        "tags": [
          "Positions"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "external_id": {
                    "type": "string",
                    "description": "Must be unique. Usually a resource identifier in an external (client's) database."
                  },
                  "import_id": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "$ref": "#/components/responses/PositionResponse"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        }
      }
    },
    "/positions/{position_id}": {
      "delete": {
        "description": "Deletes a Position.",
        "operationId": "deletePosition",
        "tags": [
          "Positions"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "position_id",
            "description": "Position",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/HardDeleteParam"
          },
          {
            "$ref": "#/components/parameters/IdentifierTypeParam"
          }
        ],
        "responses": {
          "204": {
            "$ref": "#/components/responses/NoContentResponse"
          },
          "404": {
            "$ref": "#/components/responses/RecordNotFoundError"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        }
      },
      "get": {
        "description": "Fetches a Position.",
        "operationId": "fetchPosition",
        "tags": [
          "Positions"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "position_id",
            "description": "Position",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/IdentifierTypeParam"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/PositionResponse"
          },
          "404": {
            "$ref": "#/components/responses/RecordNotFoundError"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        }
      },
      "patch": {
        "description": "Updates a Position.",
        "operationId": "updatePosition",
        "tags": [
          "Positions"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "position_id",
            "description": "Position",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/IdentifierTypeParam"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "external_id": {
                    "type": "string",
                    "description": "Must be unique. Usually a resource identifier in an external (client's) database."
                  },
                  "import_id": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "$ref": "#/components/responses/PositionResponse"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        }
      }
    },
    "/posts": {
      "get": {
        "description": "Fetches Posts.",
        "operationId": "fetchPosts",
        "tags": [
          "Posts"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "include",
            "required": false,
            "description": "<p>Include fields in a response which are by default excluded. Multiple values separated by a comma are supported. Fields excluded by default:</p>\n<ul><li>comments_likes_count</li></ul>\n<p>Examples: <pre>?include=comments_likes_count</pre></p>\n",
            "examples": {
              "include": {
                "value": "comments_likes_count",
                "summary": "Include those fields in the response: comments_likes_count"
              }
            }
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "filter[id]",
            "required": false,
            "description": "<p>Filter resources by <code>id</code>.</p><p>Multiple values separated by a comma are supported.</p>\n<p>Example: <pre>?filter[id]=71492,646806,903560</pre></p>\n",
            "examples": {
              "separated_by_comma": {
                "value": "71492,646806,903560",
                "summary": "Return resources with id equal to one of the provided values separated by a comma"
              },
              "71492_0": {
                "value": "71492",
                "summary": "Return resources with id equal to \"71492\""
              }
            }
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "filter[group_id]",
            "required": false,
            "description": "Filters resources by their Group <code>id</code>.\nThis resource has one Group associated with it.\n",
            "examples": {
              "71492_0": {
                "value": "71492",
                "summary": "Return resources which have associated Group with id equal to \"71492\""
              },
              "646806_1": {
                "value": "646806",
                "summary": "Return resources which have associated Group with id equal to \"646806\""
              },
              "903560_2": {
                "value": "903560",
                "summary": "Return resources which have associated Group with id equal to \"903560\""
              }
            }
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "filter[group_external_id]",
            "required": false,
            "description": "Filters resources by their Group <code>external_id</code>.\nThis resource has one Group associated with it.\n",
            "examples": {
              "6a9382e1fc_0": {
                "value": "6a9382e1fc",
                "summary": "Return resources which have associated Group with external_id equal to \"6a9382e1fc\""
              },
              "5ef2f9ed7f_1": {
                "value": "5ef2f9ed7f",
                "summary": "Return resources which have associated Group with external_id equal to \"5ef2f9ed7f\""
              },
              "3a597c1122_2": {
                "value": "3a597c1122",
                "summary": "Return resources which have associated Group with external_id equal to \"3a597c1122\""
              }
            }
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "filter[user_id]",
            "required": false,
            "description": "Filters resources by their User <code>id</code>.\nThis resource has one User associated with it.\n",
            "examples": {
              "71492_0": {
                "value": "71492",
                "summary": "Return resources which have associated User with id equal to \"71492\""
              },
              "646806_1": {
                "value": "646806",
                "summary": "Return resources which have associated User with id equal to \"646806\""
              },
              "903560_2": {
                "value": "903560",
                "summary": "Return resources which have associated User with id equal to \"903560\""
              }
            }
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "filter[user_external_id]",
            "required": false,
            "description": "Filters resources by their User <code>external_id</code>.\nThis resource has one User associated with it.\n",
            "examples": {
              "6a9382e1fc_0": {
                "value": "6a9382e1fc",
                "summary": "Return resources which have associated User with external_id equal to \"6a9382e1fc\""
              },
              "5ef2f9ed7f_1": {
                "value": "5ef2f9ed7f",
                "summary": "Return resources which have associated User with external_id equal to \"5ef2f9ed7f\""
              },
              "3a597c1122_2": {
                "value": "3a597c1122",
                "summary": "Return resources which have associated User with external_id equal to \"3a597c1122\""
              }
            }
          },
          {
            "schema": {
              "type": "string",
              "format": "integer"
            },
            "in": "query",
            "name": "filter[comments_count_lteq]",
            "required": false,
            "description": "<p>\nFilter resources by <code>comments_count</code>.\nFor example, you can find resources with <code>comments_count</code> greater than 1.</p>\n<code>comments_count</code> is <code>integer</code>, i.e. an integer number.\n<p><code>comments_count</code> represents the total number of comments that a Post have received..</p>\n<p>Allowed operators:</p>\n<ul> <li>lteq</li><li>lt</li><li>gteq</li><li>gt</li> </ul>\n<p>Examples:\n<pre>?filter[comments_count_lt]=1    # less than 1</pre>\n<pre>?filter[comments_count_lteq]=3  # less than or equal to 3</pre>\n<pre>?filter[comments_count_gt]=6    # greater than 6</pre>\n<pre>?filter[comments_count_gteq]=20  # greater than or equal to 20</pre>\n</p>\n",
            "examples": {
              "lteq_1": {
                "value": "1",
                "summary": "Returns resources where comments_count is less or equal than 1."
              },
              "lteq_2": {
                "value": "3",
                "summary": "Returns resources where comments_count is less or equal than 3."
              }
            }
          },
          {
            "schema": {
              "type": "string",
              "format": "integer"
            },
            "in": "query",
            "name": "filter[likes_count_lteq]",
            "required": false,
            "description": "<p>\nFilter resources by <code>likes_count</code>.\nFor example, you can find resources with <code>likes_count</code> greater than 1.</p>\n<code>likes_count</code> is <code>integer</code>, i.e. an integer number.\n<p><code>likes_count</code> represents the total number of likes that a Post have received..</p>\n<p>Allowed operators:</p>\n<ul> <li>lteq</li><li>lt</li><li>gteq</li><li>gt</li> </ul>\n<p>Examples:\n<pre>?filter[likes_count_lt]=1    # less than 1</pre>\n<pre>?filter[likes_count_lteq]=3  # less than or equal to 3</pre>\n<pre>?filter[likes_count_gt]=6    # greater than 6</pre>\n<pre>?filter[likes_count_gteq]=20  # greater than or equal to 20</pre>\n</p>\n",
            "examples": {
              "lteq_1": {
                "value": "1",
                "summary": "Returns resources where likes_count is less or equal than 1."
              },
              "lteq_2": {
                "value": "3",
                "summary": "Returns resources where likes_count is less or equal than 3."
              }
            }
          },
          {
            "schema": {
              "type": "string",
              "format": "integer"
            },
            "in": "query",
            "name": "filter[comments_likes_count_lteq]",
            "required": false,
            "description": "<p>\nFilter resources by <code>comments_likes_count</code>.\nFor example, you can find resources with <code>comments_likes_count</code> greater than 1.</p>\n<code>comments_likes_count</code> is <code>integer</code>, i.e. an integer number.\n<p><code>comments_likes_count</code> represents the total number of likes that a Post's comments have received..</p>\n<p>Allowed operators:</p>\n<ul> <li>lteq</li><li>lt</li><li>gteq</li><li>gt</li> </ul>\n<p>Examples:\n<pre>?filter[comments_likes_count_lt]=1    # less than 1</pre>\n<pre>?filter[comments_likes_count_lteq]=3  # less than or equal to 3</pre>\n<pre>?filter[comments_likes_count_gt]=6    # greater than 6</pre>\n<pre>?filter[comments_likes_count_gteq]=20  # greater than or equal to 20</pre>\n</p>\n",
            "examples": {
              "lteq_1": {
                "value": "1",
                "summary": "Returns resources where comments_likes_count is less or equal than 1."
              },
              "lteq_2": {
                "value": "3",
                "summary": "Returns resources where comments_likes_count is less or equal than 3."
              }
            }
          },
          {
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "in": "query",
            "name": "filter[created_at_lteq]",
            "description": "<p>Allowed operators:</p>\n<ul> <li>lteq</li><li>lt</li><li>gteq</li><li>gt</li> </ul>\n<p>Value has to be in ISO 8601 format. Values are compared with milliseconds precision. See the list of casting examples below.</p>\n<pre>\n  2023-01-01T03:01:01.00144+01:00 => 2023-01-01 02:01:01.001\n  2023-01-01T03:01:01.00199+01:00 => 2023-01-01 02:01:01.002\n  2023-01-01T03:01:01Z            => 2023-01-01 02:01:01.000\n</pre>\n<p>Example: <pre>?filter[created_at_lteq]=2026-03-23T10:17:38Z</pre></p>\n",
            "examples": {
              "lteq": {
                "value": "2022-02-03T10:02:34Z",
                "summary": "Returns resources where created_at is less or equal than 2022-02-03 10:02:34 UTC."
              }
            }
          },
          {
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "in": "query",
            "name": "filter[updated_at_lteq]",
            "description": "<p>Allowed operators:</p>\n<ul> <li>lteq</li><li>lt</li><li>gteq</li><li>gt</li> </ul>\n<p>Value has to be in ISO 8601 format. Values are compared with milliseconds precision. See the list of casting examples below.</p>\n<pre>\n  2023-01-01T03:01:01.00144+01:00 => 2023-01-01 02:01:01.001\n  2023-01-01T03:01:01.00199+01:00 => 2023-01-01 02:01:01.002\n  2023-01-01T03:01:01Z            => 2023-01-01 02:01:01.000\n</pre>\n<p>Example: <pre>?filter[updated_at_lteq]=2026-03-23T10:17:38Z</pre></p>\n",
            "examples": {
              "lteq": {
                "value": "2022-02-03T10:02:34Z",
                "summary": "Returns resources where updated_at is less or equal than 2022-02-03 10:02:34 UTC."
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Posts",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "properties": {
                          "id": {
                            "type": "integer"
                          },
                          "group_id": {
                            "type": "integer"
                          },
                          "group_external_id": {
                            "type": "string",
                            "description": "Must be unique. Usually a resource identifier in an external (client's) database."
                          },
                          "user_id": {
                            "type": "integer"
                          },
                          "user_external_id": {
                            "type": "string",
                            "description": "Must be unique. Usually a resource identifier in an external (client's) database."
                          },
                          "text": {
                            "description": "The raw (not formatted) content of the Post.",
                            "type": "string"
                          },
                          "comments_count": {
                            "description": "The total number of comments that a Post have received.",
                            "type": "integer"
                          },
                          "likes_count": {
                            "description": "The total number of likes that a Post have received.",
                            "type": "integer"
                          },
                          "comments_likes_count": {
                            "description": "The total number of likes that a Post's comments have received. This attribute is <b>not included</b> in a response unless it's listed with `include` param.",
                            "type": "integer"
                          },
                          "attachments": {
                            "description": "See `POST /files` and `POST /posts` for details on how to create an attachment for a Post.\n\nPosts can have 3 types of attachments.\n- `document`. The download URL expires in 60 min. Mostly used for documents (e.g. PDFs) which contain a sensitive data.\n- `image` and `video`. The download URL is publicly accessible.\n- `gif`. There are two download URLs, URL with an actual GIF and an URL with a snapshot (a single image). Both are publicly accessible.\n",
                            "example": [
                              {
                                "id": 100,
                                "type": "document",
                                "data": {
                                  "url": "https://example.com/document.pdf"
                                }
                              },
                              {
                                "id": 200,
                                "type": "gif",
                                "data": {
                                  "snapshot_url": "https://example.com/gif-snapshot.png",
                                  "url": "https://example.com/full-gif.gif"
                                }
                              },
                              {
                                "id": 300,
                                "type": "image",
                                "data": {
                                  "url": "https://example.com/image.png"
                                }
                              }
                            ],
                            "type": "array",
                            "items": {
                              "type": "object",
                              "required": [
                                "id",
                                "type",
                                "data"
                              ],
                              "properties": {
                                "id": {
                                  "type": "integer"
                                },
                                "type": {
                                  "enum": [
                                    "document",
                                    "gif",
                                    "image",
                                    "video"
                                  ],
                                  "type": "string"
                                },
                                "data": {
                                  "type": "object",
                                  "properties": {
                                    "snapshot_url": {
                                      "description": "Present only if `type` is `gif`.",
                                      "type": "string"
                                    },
                                    "url": {
                                      "type": "string"
                                    }
                                  }
                                }
                              }
                            }
                          },
                          "created_at": {
                            "format": "date-time",
                            "type": "string",
                            "description": "Datetime of resource creation in ISO 8601 format. Never changes."
                          },
                          "updated_at": {
                            "format": "date-time",
                            "type": "string",
                            "description": "Datetime of the last resource update in ISO 8601 format."
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "description": "Creates a new Post.",
        "operationId": "createPost",
        "tags": [
          "Posts"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "text",
                  "group_id",
                  "group_external_id",
                  "user_id",
                  "user_external_id"
                ],
                "type": "object",
                "properties": {
                  "text": {
                    "type": "string"
                  },
                  "group_id": {
                    "type": "integer",
                    "description": "Both <code>group_id</code> and <code>group_external_id</code> can be used to identify a Group.\nPassing both parameters will result in an error.\n"
                  },
                  "group_external_id": {
                    "type": "string",
                    "description": "Both <code>group_id</code> and <code>group_external_id</code> can be used to identify a Group.\nPassing both parameters will result in an error.\n"
                  },
                  "user_id": {
                    "type": "integer",
                    "description": "Both <code>user_id</code> and <code>user_external_id</code> can be used to identify a User.\nPassing both parameters will result in an error.\n"
                  },
                  "user_external_id": {
                    "type": "string",
                    "description": "Both <code>user_id</code> and <code>user_external_id</code> can be used to identify a User.\nPassing both parameters will result in an error.\n"
                  },
                  "file_ids": {
                    "type": "array",
                    "description": "See `POST /files` for details on how to upload a file.",
                    "items": {
                      "format": "uuid",
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "$ref": "#/components/responses/AcceptedResponse"
          },
          "404": {
            "$ref": "#/components/responses/RecordNotFoundError"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        }
      }
    },
    "/posts/{post_id}": {
      "patch": {
        "description": "Updates a Post.",
        "operationId": "updatePost",
        "tags": [
          "Posts"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "post_id",
            "description": "Post",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "text": {
                    "description": "The raw (not formatted) content of the Post.\nBe aware that this will **override existing formatted text** (if there was any).\nFormatted text can be only created with Studio.\n",
                    "type": "string"
                  },
                  "group_id": {
                    "type": "integer",
                    "description": "Both <code>group_id</code> and <code>group_external_id</code> can be used to identify a Group.\nPassing both parameters will result in an error.\n"
                  },
                  "group_external_id": {
                    "type": "string",
                    "description": "Both <code>group_id</code> and <code>group_external_id</code> can be used to identify a Group.\nPassing both parameters will result in an error.\n"
                  },
                  "user_id": {
                    "type": "integer",
                    "description": "Both <code>user_id</code> and <code>user_external_id</code> can be used to identify a User.\nPassing both parameters will result in an error.\n"
                  },
                  "user_external_id": {
                    "type": "string",
                    "description": "Both <code>user_id</code> and <code>user_external_id</code> can be used to identify a User.\nPassing both parameters will result in an error.\n"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/PostResponse"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        }
      },
      "delete": {
        "description": "Deletes a Post.",
        "operationId": "deletePost",
        "tags": [
          "Posts"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "post_id",
            "description": "Post",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/IdentifierTypeParam"
          }
        ],
        "responses": {
          "204": {
            "$ref": "#/components/responses/NoContentResponse"
          },
          "404": {
            "$ref": "#/components/responses/RecordNotFoundError"
          }
        }
      }
    },
    "/insights/learnings/report_requests/{id}": {
      "get": {
        "description": "Fetches request details for given request ID.",
        "operationId": "fetchReportRequestResponse",
        "tags": [
          "ReportRequests"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "Id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/ReportRequestResponse"
          },
          "404": {
            "$ref": "#/components/responses/RecordNotFoundError"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        }
      }
    },
    "/insights/learnings/report_requests": {
      "post": {
        "description": "Creates a request to generate a report (reports are generated asynchronously).",
        "operationId": "generateReport",
        "tags": [
          "ReportRequests"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "template_id"
                ],
                "type": "object",
                "properties": {
                  "template_id": {
                    "format": "uuid",
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "$ref": "#/components/responses/ReportRequestResponse"
          },
          "404": {
            "$ref": "#/components/responses/RecordNotFoundError"
          },
[...]
