{
  "openapi": "3.0.0",
  "info": {
    "title": "One Money Mail Mobile API",
    "description": "HTTP API (REST-like) for One Money Mail mobile devices. API is based on JSON API standard (http://jsonapi.org/).\n## Convention in this docs worth explanation ### 'data' null vs 404 error\n__This is related to paths with GET.__ In case request for resource that does not exists, but resource id was passed  for example /customers/123, there will be response with key 'data' set to null.\nIn case the primary part of resource URL is wrong, for example /custmerz/123, instead /customers/123, there will 404 (not found) error.\n## Getting started To access this API, public/private key pair is needed. Please use POST /devices/authKeys to acquire it.\nFor this request (\"/devices/authKeys\") only \"Date\" or \"X-Date\" http header is required.\nDate must be in format 'D, d M Y H:i:s T', in GMT timezone for example ```Sun, 06 Nov 1994 08:49:37 GMT```\n## API request signing Every HTTP request to API must be signed.\n[HTTP signatures algorithm](https://tools.ietf.org/html/draft-cavage-http-signatures-03)\nimplementation of PHP package [99designs/http-signatures-php](https://github.com/99designs/http-signatures-php) on API side is used for request signing and verifying. The following headers are needed for sign every HTTP request (except the one for key pair acquire): ### X-Request X-Request is SHA1 hash computed from concatenation HTTP method (lower case), ' ', path, ' ', request body. Path is URI part without query.\n#### Example 1 We have POST request for the following URL: ``` /v1/devices/authKeys?foo=bar ``` with body: ```\n  {\n    \"data\": {\n      \"type\": \"devices\",\n      \"attributes\": {\n        \"deviceId\": \"5c5be929-43ea-4d7d-836f-901f7a7f6d34\"\n      }\n    }\n  }\n```\nso SHA1 will be computed this way, where \".\" is used for string concatenation: ```\n  SHA1 (\n    'post' .\n    ' ' .\n    '/v1/devices/authKeys',\n    ' ' .\n    '{\n      \"data\": {\n        \"type\": \"devices\",\n        \"attributes\": {\n          \"deviceId\": \"5c5be929-43ea-4d7d-836f-901f7a7f6d34\"\n        }\n      }\n    }'\n  )\n```\n#### Example 2 We have GET request for the following URL: ``` /v1/currencies ``` so SHA1 will be computed this way: ```\n  SHA1 (\n    'get' .\n    ' ' .\n    '/v1/currencies' .\n    ' ' .\n    ''\n  )\n```\n### Date or X-Date Date must be in format 'D, d M Y H:i:s T', in GMT timezone. For example: ```Sun, 06 Nov 1994 08:49:37 GMT```\n### Signature This header is mandatory. The value of this header is HTTP signatures algorithm output. Contents of this signature are the following elements imploded with \",\": * `keyId=\u201d%s\u201d`, where %s is public key; * `algorithm=\u201d%s\u201d`, where %s is the name of signing algorithm - hmac-sha256 at the moment * `headers=\u201d%s\u201d`, where %s, is the list of http headers names (lowercase) required for sign (x-request, date or x-date) imploded with \u201e \u201e * `signature=\u201d%s\u201d`, where %s is \u201eSignature\u201d string encoded with base64 algorithm. \"Signature\" is \"SigningString\" encoded with signing algorithm (hmac-sha256)using private key.\n\"SigningString\" is string imploded with new line character (\\n) of strings with the following template \"%s: %s\", where first \"%s\" is http header name (lowercase) required for signing (x-request, date or x-date) and second \"%s\" is http header value. Example of full \"Signature\" header value:\n```\n  keyId=\"raph\",algorithm=\"hmac-sha256\",headers=\"x-request date\",signature=\"02x/Q8hZCW07EEukX8s5FogFZ/Q2ggnAayEw9YqRI9I=\"\n```\n### Authorization Value of \"Signature\" http header prefixed with \"Signature \", for example\n```\n  Signature keyId=\"raph\",algorithm=\"hmac-sha256\",headers=\"x-request date\",signature=\"02x/Q8hZCW07EEukX8s5FogFZ/Q2ggnAayEw9YqRI9I=\"\n```\n## Request authorisation - OAuth2 [Password Grant] [Refresh Token Grant] For requests where customer \"session\" is required, request should be signed (\"Signature\" header still remains - these are totally independent) with \"Authorization\" OAuth2 header, for example: ```\n  Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsImp0aSI6IjFkZjU5ZjQ5NzA2NjA0ZTUzN2I2NzRiM2JiZjdkNWRkNDUwMmFkZmZmNTI0MTY0M2Q3MzAzZDQ3MzlmMmM4YjlkN2EwZTQ2YWI3MDliMWY4In0.eyJhdWQiOiJtb2JpbGVfYXBpIiwianRpIjoiMWRmNTlmNDk3MDY2MDRlNTM3YjY3NGIzYmJmN2Q1ZGQ0NTAyYWRmZmY1MjQxNjQzZDczMDNkNDczOWYyYzhiOWQ3YTBlNDZhYjcwOWIxZjgiLCJpYXQiOjE0OTY3NDkwNDcsIm5iZiI6MTQ5Njc0OTA0NywiZXhwIjoxNDk2NzQ5OTQ3LCJzdWIiOiIyOTI4NjEiLCJzY29wZXMiOlsibW9iaWxlX2FwaSJdfQ.r2l-8nH2jin81HwtL-nZautTjupOphJV2qMWmlH-NEHRtMst9AAV5SjbvyAa0os-HBcrFYNHZ-bg498WswcqJmo3wQEo--NqdOHMDvqpBY_Gd2jE8sWZrgwVFoG5zBDhTO55cIsJH85MEHQnp_WDre-7OHaFKOYeICnbjlpdy0DLr2WSiLOxc3va56TDeqW2fDFcXaroN6uetWW2TlwxAaEVBmKplocqH7v_PAb-AQ2UGTD_TnyR3Rpre6zlvlyfldqwaz3mPrw485YfBhb9RLlVH-SSg0k2S8rBQ8cQWomYdrdAv1fhh-1fay6aKPFt4fQZn5azui5gzKT433WOkg\n```\n### OAuth2 - tokens acquire To acquire OAuth2 tokens please proceed to: ``` /customers/login ```\nTo refresh session token using refresh token, please proceed to: ``` /customers/refreshToken ```\n## Request authorisation for machine2machine - OAuth2 [Client Credentials Grant]\nFor all requests from external application should be signed (\u201cSignature\u201d header still remains - these are totally independent) with \u201cAuthorization\u201d OAuth2 header. Endpoint accesses with this grant is limited, is only use for machine to machine connections\nHeader example: ```\n  Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsImp0aSI6IjFkZjU5ZjQ5NzA2NjA0ZTUzN2I2NzRiM2JiZjdkNWRkNDUwMmFkZmZmNTI0MTY0M2Q3MzAzZDQ3MzlmMmM4YjlkN2EwZTQ2YWI3MDliMWY4In0.eyJhdWQiOiJtb2JpbGVfYXBpIiwianRpIjoiMWRmNTlmNDk3MDY2MDRlNTM3YjY3NGIzYmJmN2Q1ZGQ0NTAyYWRmZmY1MjQxNjQzZDczMDNkNDczOWYyYzhiOWQ3YTBlNDZhYjcwOWIxZjgiLCJpYXQiOjE0OTY3NDkwNDcsIm5iZiI6MTQ5Njc0OTA0NywiZXhwIjoxNDk2NzQ5OTQ3LCJzdWIiOiIyOTI4NjEiLCJzY29wZXMiOlsibW9iaWxlX2FwaSJdfQ.r2l-8nH2jin81HwtL-nZautTjupOphJV2qMWmlH-NEHRtMst9AAV5SjbvyAa0os-HBcrFYNHZ-bg498WswcqJmo3wQEo--NqdOHMDvqpBY_Gd2jE8sWZrgwVFoG5zBDhTO55cIsJH85MEHQnp_WDre-7OHaFKOYeICnbjlpdy0DLr2WSiLOxc3va56TDeqW2fDFcXaroN6uetWW2TlwxAaEVBmKplocqH7v_PAb-AQ2UGTD_TnyR3Rpre6zlvlyfldqwaz3mPrw485YfBhb9RLlVH-SSg0k2S8rBQ8cQWomYdrdAv1fhh-1fay6aKPFt4fQZn5azui5gzKT433WOkg\n```\n### OAuth2 - tokens acquire To acquire OAuth2 tokens please proceed to:\n``` /customers/login ```\n",
    "version": "1.1.0",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/1mm4/one-money-mail-mobile-api/1.1.0"
  },
  "servers": [
    {
      "url": "https://api.1mm.eu/v1"
    },
    {
      "url": "http://api-stable.1mmdev.pl/v1"
    },
    {
      "url": "http://api-test1.1mmdev.pl/v1"
    },
    {
      "url": "http://api-test2.1mmdev.pl/v1"
    }
  ],
  "paths": {
    "/addresses/{postCode}": {
      "get": {
        "summary": "Get address autocomplete data.",
        "description": "Get suggestions for addresses autocomplete - based on post code.",
        "security": [
          {
            "XRequestAuth": []
          },
          {
            "DateAuth": []
          },
          {
            "SignatureAuth": []
          },
          {
            "AuthorizationAuth": []
          }
        ],
        "tags": [
          "Addresses"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/acceptLanguage"
          },
          {
            "name": "postCode",
            "description": "Post code.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "UK postal code",
              "maxLength": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved address suggestions data.",
            "headers": {
              "Content-Type: application/vnd.api+json": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "description": "Resource type.",
                          "default": "addresses"
                        },
                        "attributes": {
                          "type": "object",
                          "required": [
                            "buildings",
                            "common"
                          ],
                          "properties": {
                            "buildings": {
                              "description": "Potential buildings list.",
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "building": {
                                    "type": "string",
                                    "description": "Building name."
                                  },
                                  "number": {
                                    "type": "string",
                                    "description": "Building number."
                                  }
                                }
                              }
                            },
                            "common": {
                              "type": "object",
                              "description": "Common address data (street name, city)",
                              "required": [
                                "city",
                                "street",
                                "postcode"
                              ],
                              "properties": {
                                "city": {
                                  "type": "string"
                                },
                                "street": {
                                  "type": "string"
                                },
                                "postcode": {
                                  "type": "string"
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Potential reasons\n  * Wrong *X-Public-Key* header\n  * Too many usages of this method from IP\n"
          },
          "403": {
            "$ref": "#/components/responses/403Common"
          },
          "404": {
            "$ref": "#/components/responses/404Common"
          },
          "406": {
            "$ref": "#/components/responses/406Common"
          },
          "409": {
            "$ref": "#/components/responses/409Common"
          },
          "410": {
            "$ref": "#/components/responses/410Common"
          },
          "415": {
            "$ref": "#/components/responses/415Common"
          },
          "default": {
            "$ref": "#/components/responses/400Default"
          }
        }
      }
    },
    "/admin/customers": {
      "get": {
        "summary": "Get customer's id by phone number or email",
        "description": "Get customer's id by phone number or email\n",
        "security": [
          {
            "XRequestAuth": []
          },
          {
            "DateAuth": []
          },
          {
            "SignatureAuth": []
          },
          {
            "AuthorizationAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/acceptLanguage"
          },
          {
            "name": "filter[email]",
            "in": "query",
            "description": "Filter by email. For example /admin/customers?filter[email]=mail@1mm.eu. One of filter is required (phone or email)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[phone]",
            "in": "query",
            "description": "Filter by phone. For example /admin/customers?filter[phone]=1222. One of filter is required (phone or email)",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "tags": [
          "Admin"
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved customer's id.",
            "headers": {
              "Content-Type: application/vnd.api+json": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "required": [
                        "type",
                        "id",
                        "attributes"
                      ],
                      "properties": {
                        "type": {
                          "type": "string",
                          "description": "Resource type",
                          "default": "customers"
                        },
                        "id": {
                          "type": "integer",
                          "description": "Customer ID."
                        },
                        "attributes": {
                          "$ref": "#/components/schemas/Customer"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401SessionNonExisting"
          },
          "403": {
            "$ref": "#/components/responses/403Common"
          },
          "404": {
            "$ref": "#/components/responses/404Common"
          },
          "default": {
            "$ref": "#/components/responses/400Default"
          }
        }
      }
    },
    "/admin/{customerId}/authStatus": {
      "patch": {
        "summary": "Change customer's status",
        "description": "Change customer's status",
        "security": [
          {
            "XRequestAuth": []
          },
          {
            "DateAuth": []
          },
          {
            "SignatureAuth": []
          },
          {
            "AuthorizationAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/acceptLanguage"
          },
          {
            "$ref": "#/components/parameters/customerId"
          }
        ],
        "requestBody": {
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "type": "object",
                "required": [
                  "data"
                ],
                "properties": {
                  "data": {
                    "type": "object",
                    "required": [
                      "type",
                      "attributes"
                    ],
                    "properties": {
                      "type": {
                        "type": "string",
                        "default": "status"
                      },
                      "attributes": {
                        "type": "object",
                        "required": [
                          "status"
                        ],
                        "properties": {
                          "status": {
                            "type": "string",
                            "description": "0 - blocked, 1 - inactive, 2 - active, 3 - ex inactive, 4 - pwd reset",
                            "enum": [
                              0,
                              1,
                              2,
                              3,
                              4
                            ]
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Admin"
        ],
        "responses": {
          "204": {
            "description": "Status changed"
          },
          "401": {
            "$ref": "#/components/responses/401Common"
          },
          "403": {
            "$ref": "#/components/responses/403Common"
          },
          "404": {
            "$ref": "#/components/responses/404Common"
          },
          "422": {
            "$ref": "#/components/responses/422Validation"
          },
          "default": {
            "$ref": "#/components/responses/400Default"
          }
        }
      },
      "get": {
        "summary": "Get customer's auth status",
        "description": "Get customer's auth status\n",
        "security": [
          {
            "XRequestAuth": []
          },
          {
            "DateAuth": []
          },
          {
            "SignatureAuth": []
          },
          {
            "AuthorizationAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/acceptLanguage"
          },
          {
            "$ref": "#/components/parameters/customerId"
          }
        ],
        "tags": [
          "Admin"
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved auth status.",
            "headers": {
              "Content-Type: application/vnd.api+json": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "required": [
                        "type",
                        "attributes"
                      ],
                      "properties": {
                        "type": {
                          "type": "string",
                          "description": "Resource type",
                          "default": "admin"
                        },
                        "attributes": {
                          "type": "object",
                          "required": [
                            "status"
                          ],
                          "properties": {
                            "status": {
                              "type": "string",
                              "description": "0 - blocked, 1 - inactive, 2 - active, 3 - ex inactive, 4 - pwd reset",
                              "enum": [
                                0,
                                1,
                                2,
                                3,
                                4
                              ]
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401SessionNonExisting"
          },
          "403": {
            "$ref": "#/components/responses/403Common"
          },
          "404": {
            "$ref": "#/components/responses/404Common"
          },
          "default": {
            "$ref": "#/components/responses/400Default"
          }
        }
      }
    },
    "/admin/{customerId}/customer": {
      "get": {
        "summary": "Get personal data by customer's id",
        "description": "Get personal data by customer's id\n",
        "security": [
          {
            "XRequestAuth": []
          },
          {
            "DateAuth": []
          },
          {
            "SignatureAuth": []
          },
          {
            "AuthorizationAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/acceptLanguage"
          },
          {
            "$ref": "#/components/parameters/customerId"
          }
        ],
        "tags": [
          "Admin"
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved personal data.",
            "headers": {
              "Content-Type: application/vnd.api+json": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "required": [
                        "type",
                        "id",
                        "attributes"
                      ],
                      "properties": {
                        "type": {
                          "type": "string",
                          "description": "Resource type",
                          "default": "customers"
                        },
                        "id": {
                          "type": "integer",
                          "description": "Customer ID."
                        },
                        "attributes": {
                          "$ref": "#/components/schemas/Customer"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401SessionNonExisting"
          },
          "403": {
            "$ref": "#/components/responses/403Common"
          },
          "404": {
            "$ref": "#/components/responses/404Common"
          },
          "default": {
            "$ref": "#/components/responses/400Default"
          }
        }
      }
    },
    "/admin/{customerId}/phone": {
      "get": {
        "summary": "Get phone mobile by customer id",
        "description": "Get phone mobile by customer id\n",
        "security": [
          {
            "XRequestAuth": []
          },
          {
            "DateAuth": []
          },
          {
            "SignatureAuth": []
          },
          {
            "AuthorizationAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/acceptLanguage"
          },
          {
            "$ref": "#/components/parameters/customerId"
          }
        ],
        "tags": [
          "Admin"
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved phone mobile.",
            "headers": {
              "Content-Type: application/vnd.api+json": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "required": [
                        "type",
                        "attributes"
                      ],
                      "properties": {
                        "type": {
                          "type": "string",
                          "description": "Resource type",
                          "default": "admin"
                        },
                        "attributes": {
                          "type": "object",
                          "required": [
                            "phone"
                          ],
                          "properties": {
                            "phone": {
                              "type": "string",
                              "description": "Feature status."
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401SessionNonExisting"
          },
          "403": {
            "$ref": "#/components/responses/403Common"
          },
          "404": {
            "$ref": "#/components/responses/404Common"
          },
          "default": {
            "$ref": "#/components/responses/400Default"
          }
        }
      }
    },
    "/agents": {
      "get": {
        "summary": "Get list of agents",
        "description": "List of agents. Supports `filter` and `sort` by `post_code`, `city_name`, `street`, `displaying_name`",
        "security": [
          {
            "XRequestAuth": []
          },
          {
            "DateAuth": []
          },
          {
            "SignatureAuth": []
          },
          {
            "AuthorizationAuth": []
          }
        ],
        "tags": [
          "Agents"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/acceptLanguage"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Number of result. Start is 1. For example `/agents?page=1`. Use with limit.",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Size of result. Min is 1. For example `/agents?limit=1`. Use with page.",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "filter[post_code]",
            "in": "query",
            "description": "Filter by postcode. For example `/agents?filter[post_code]=1222`.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[city_name]",
            "in": "query",
            "description": "Filter by locations of city. For example `/agents?filter[city_name]=Lon&options[city_name]=like`.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[street]",
            "in": "query",
            "description": "Filter by street. For example `/agents?filter[street]=RestRoad`.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[displaying_name]",
            "in": "query",
            "description": "Filter by name of merchant agent. For example `/agents?filter[displaying_name]=1MM`.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort by agent fields. For example `/agents?sort=name&direction=desc`.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "direction",
            "in": "query",
            "description": "sorting direction DESC and ASC",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "DESC",
                "ASC"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved agent data.",
            "headers": {
              "Content-Type: application/vnd.api+json": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Agent"
                      }
                    },
                    "links": {
                      "type": "object",
                      "properties": {
                        "self": {
                          "type": "string",
                          "description": "Self link. For example /agents?page=1&limit=1."
                        },
                        "first": {
                          "type": "string",
                          "description": "First link. For example /agents?page=1&limit=1."
                        },
                        "prev": {
                          "type": "string",
                          "description": "Previous link. For example /agents?page=1&limit=1."
                        },
                        "next": {
                          "type": "string",
                          "description": "Next link. For example /agents?page=2&limit=1."
                        },
                        "last": {
                          "type": "string",
                          "description": "Last link. For example /agents?page=12&limit=1."
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/403Common"
          },
          "404": {
            "$ref": "#/components/responses/404Common"
          },
          "406": {
            "$ref": "#/components/responses/406Common"
          },
          "409": {
            "$ref": "#/components/responses/409Common"
          },
          "410": {
            "$ref": "#/components/responses/410Common"
          },
          "415": {
            "$ref": "#/components/responses/415Common"
          },
          "default": {
            "$ref": "#/components/responses/400Default"
          }
        }
      }
    },
    "/aml/complaint/create": {
      "post": {
        "summary": "Send complaint to customer service. Does not require authentication.",
        "description": "Send complaint to customer service as an email via MESSAGE_COMPLAINT_CREATED_INTERNAL event. Supports any system.",
        "security": [
          {
            "XRequestAuth": []
          },
          {
            "DateAuth": []
          },
          {
            "SignatureAuth": []
          },
          {
            "AuthorizationAuth": []
          }
        ],
        "tags": [
          "Aml"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/acceptLanguage"
          }
        ],
        "requestBody": {
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "type": "object",
                "required": [
                  "data"
                ],
                "properties": {
                  "data": {
                    "type": "object",
                    "required": [
                      "type",
                      "attributes"
                    ],
                    "properties": {
                      "type": {
                        "type": "string",
                        "default": "complaints",
                        "description": "Resource type."
                      },
                      "attributes": {
                        "type": "object",
                        "required": [
                          "fullName",
                          "prefixPhoneMobile",
                          "phoneMobile",
                          "message",
                          "clientId"
                        ],
                        "properties": {
                          "fullName": {
                            "description": "Customer first name.",
                            "type": "string",
                            "minLength": 2,
                            "maxLength": 32,
                            "format": "/^[ a-zA-Z\u0105\u017c\u015b\u017a\u0107\u0119\u0142\u00f3\u0144\u0104\u017b\u015a\u0179\u0106\u0118\u0141\u00d3\u0143\\-]*$/"
                          },
                          "email": {
                            "type": "string",
                            "format": "john@example.com",
                            "description": "Customer email. Optional."
                          },
                          "prefixPhoneMobile": {
                            "type": "string",
                            "format": "numeric",
                            "description": "Phone number country prefix."
                          },
                          "phoneMobile": {
                            "type": "string",
                            "maxLength": 10,
                            "format": "numeric",
                            "description": "Phone number."
                          },
                          "message": {
                            "type": "string",
                            "description": "Message to customer service."
                          },
                          "customerOrTransactionId": {
                            "type": "string",
                            "description": "Customer or transaction id the complaint refers to. Optional."
                          },
                          "clientId": {
                            "type": "string",
                            "description": "Client Type.",
                            "enum": [
                              "ppi3",
                              "mobile_api",
                              "funcik",
                              "minutka"
                            ]
                          },
                          "captchaResponse": {
                            "type": "string",
                            "description": "For Google Captcha is g-recaptcha-response"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Successfully sent complaint to customer service."
          },
          "422": {
            "$ref": "#/components/responses/422Validation"
          },
          "default": {
            "$ref": "#/components/responses/400Default"
          }
        }
      }
    },
    "/aml/fieldValue": {
      "get": {
        "summary": "Get list of field value.",
        "description": "Get list of field value.",
        "security": [
          {
            "XRequestAuth": []
          },
          {
            "DateAuth": []
          },
          {
            "SignatureAuth": []
          },
          {
            "AuthorizationAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/acceptLanguage"
          },
          {
            "name": "filter[systemAmlFieldTypeId]",
            "in": "query",
            "description": "Display fields depending of type. For example systemAmlFieldTypeId=1 return only Nationality field",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [
                1,
                2,
                3,
                4,
                5,
                6,
                7
              ]
            }
          }
        ],
        "tags": [
          "Aml"
        ],
        "responses": {
          "200": {
            "description": "Aml fields list successfully retrieved.",
            "headers": {
              "Content-Type: application/vnd.api+json": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "required": [
                        "type",
                        "attributes"
                      ],
                      "properties": {
                        "type": {
                          "type": "string",
                          "default": "aml_field_value",
                          "description": "Resource type"
                        },
                        "attributes": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "integer"
                              },
                              "systemAmlFieldTypeId": {
                                "type": "integer"
                              },
                              "name": {
                                "type": "string"
                              },
                              "namePl": {
                                "type": "string"
                              },
                              "nameEn": {
                                "type": "string"
                              },
                              "riskScore": {
                                "type": "number"
                              },
                              "active": {
                                "type": "boolean"
                              },
                              "systemAmlFieldType": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "integer"
                                  },
                                  "name": {
                                    "type": "string"
                                  },
                                  "namePl": {
                                    "type": "string"
                                  },
                                  "nameEn": {
                                    "type": "string"
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401Common"
          },
          "403": {
            "$ref": "#/components/responses/403Common"
          },
          "406": {
            "$ref": "#/components/responses/406Common"
          },
          "409": {
            "$ref": "#/components/responses/409Common"
          },
          "410": {
            "$ref": "#/components/responses/410Common"
          },
          "415": {
            "$ref": "#/components/responses/415Common"
          },
          "default": {
            "$ref": "#/components/responses/400Default"
          }
        }
      }
    },
    "/aml/pepsSanctions/beneficiaries/{beneficiaryId}": {
      "get": {
        "summary": "Get peps and sanction data for beneficiary",
        "description": "Get peps and sanction data for beneficiary\n",
        "security": [
          {
            "XRequestAuth": []
          },
          {
            "DateAuth": []
          },
          {
            "SignatureAuth": []
          },
          {
            "AuthorizationAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/acceptLanguage"
          },
          {
            "name": "beneficiaryId",
            "description": "Beneficiary id.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "tags": [
          "Aml"
        ],
        "responses": {
          "200": {
            "description": "Successfully get response of peps.",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/PepsAndSanctions"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401SessionNonExisting"
          },
          "403": {
            "$ref": "#/components/responses/403Common"
          },
          "404": {
            "$ref": "#/components/responses/404Common"
          },
          "default": {
            "$ref": "#/components/responses/400Default"
          }
        }
      }
    },
    "/aml/pepsSanctions/customers/{customerId}": {
      "get": {
        "summary": "Get peps and sanction data for customer",
        "description": "Get peps and sanction data for customer\n",
        "security": [
          {
            "XRequestAuth": []
          },
          {
            "DateAuth": []
          },
          {
            "SignatureAuth": []
          },
          {
            "AuthorizationAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/acceptLanguage"
          },
          {
            "$ref": "#/components/parameters/customerId"
          }
        ],
        "tags": [
          "Aml"
        ],
        "responses": {
          "200": {
            "description": "Successfully get response of peps.",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/PepsAndSanctions"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401SessionNonExisting"
          },
          "403": {
            "$ref": "#/components/responses/403Common"
          },
          "404": {
            "$ref": "#/components/responses/404Common"
          },
          "default": {
            "$ref": "#/components/responses/400Default"
          }
        }
      }
    },
    "/aml/transaction/validatedata": {
      "post": {
        "summary": "Validate transaction data",
        "description": "Validate transaction data (for now check blik santander)",
        "security": [
          {
            "XRequestAuth": []
          },
          {
            "DateAuth": []
          },
          {
            "SignatureAuth": []
          },
          {
            "AuthorizationAuth": []
          }
        ],
        "tags": [
          "Santander",
          "Blik"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/acceptLanguage"
          }
        ],
        "requestBody": {
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "type": "object",
                "required": [
                  "data"
                ],
                "properties": {
                  "data": {
                    "type": "object",
                    "required": [
                      "type",
                      "attributes"
                    ],
                    "properties": {
                      "type": {
                        "type": "string",
                        "default": "santander",
                        "description": "Resource type"
                      },
                      "attributes": {
                        "type": "object",
                        "required": [
                          "transactionValue",
                          "beneficiaryId",
                          "productId"
                        ],
                        "properties": {
                          "beneficiaryId": {
                            "type": "integer",
                            "description": "ID of beneficiary."
                          },
                          "productId": {
                            "type": "integer",
                            "description": "ID of transfer type."
                          },
                          "transactionValue": {
                            "type": "number",
                            "format": "float",
                            "description": "Amount of payment.",
                            "minimum": 1
                          },
                          "pin": {
                            "type": "string",
                            "description": "4 digits pin."
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Successfully saved new transaction."
          },
          "403": {
            "$ref": "#/components/responses/403Common"
          },
          "404": {
            "$ref": "#/components/responses/404Common"
          },
          "422": {
            "$ref": "#/components/responses/422Validation"
          },
          "default": {
            "$ref": "#/components/responses/400Default"
          }
        }
      }
    },
    "/aml/transaction/{trxId}/checker": {
      "post": {
        "summary": "Save transaction survey result.",
        "description": "Save transaction survey result.",
        "security": [
          {
            "XRequestAuth": []
          },
          {
            "DateAuth": []
          },
          {
            "SignatureAuth": []
          },
          {
            "AuthorizationAuth": []
          }
        ],
        "tags": [
          "Aml"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/acceptLanguage"
          },
          {
            "name": "trxId",
            "in": "path",
            "required": true,
            "description": "Transaction id",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "type": "object",
                "required": [
                  "data"
                ],
                "properties": {
                  "data": {
                    "type": "object",
                    "required": [
                      "type",
                      "attributes"
                    ],
                    "properties": {
                      "type": {
                        "type": "string",
                        "default": "transactionChecker"
                      },
                      "attributes": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully checked transaction.",
            "headers": {
              "Content-Type: application/vnd.api+json": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "required": [
                        "type",
                        "attributes"
                      ],
                      "properties": {
                        "type": {
                          "type": "string",
                          "default": "transactionChecker"
                        },
                        "attributes": {
                          "type": "object",
                          "properties": {
                            "blocked": {
                              "type": "boolean"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/403Common"
          },
          "404": {
            "$ref": "#/components/responses/404Common"
          },
          "406": {
            "$ref": "#/components/responses/406Common"
          },
          "409": {
            "$ref": "#/components/responses/409Common"
          },
          "410": {
            "$ref": "#/components/responses/410Common"
          },
          "415": {
            "$ref": "#/components/responses/415Common"
          },
          "422": {
            "$ref": "#/components/responses/422Validation"
          },
          "default": {
            "$ref": "#/components/responses/400Default"
          }
        }
      }
    },
    "/contacts/bokRequest/customer/{customerId}": {
      "post": {
        "summary": "Send message to customer service as customer.",
        "description": "Send message to customer service as customer.",
        "security": [
          {
            "XRequestAuth": []
          },
          {
            "DateAuth": []
          },
          {
            "SignatureAuth": []
          },
          {
            "AuthorizationAuth": []
          }
        ],
        "tags": [
          "Contact"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/acceptLanguage"
          },
          {
            "$ref": "#/components/parameters/customerId"
          }
        ],
        "requestBody": {
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "type": "object",
                "required": [
                  "data"
                ],
                "properties": {
                  "data": {
                    "type": "object",
                    "required": [
                      "type"
                    ],
                    "properties": {
                      "type": {
                        "type": "string",
                        "default": "contact",
                        "description": "Resource type."
                      },
                      "attributes": {
                        "type": "object",
                        "required": [
                          "clientType",
                          "description"
                        ],
                        "properties": {
                          "description": {
                            "type": "string",
                            "description": "Message to customer service."
                          },
                          "clientType": {
                            "type": "string",
                            "description": "Client Type.",
                            "enum": [
                              "ppi3",
                              "mobile_api",
                              "funcik",
                              "minutka"
                            ]
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Successfully sent message to customer service."
          },
          "403": {
            "$ref": "#/components/responses/403Common"
          },
          "404": {
            "$ref": "#/components/responses/404Common"
          },
          "406": {
            "$ref": "#/components/responses/406Common"
          },
          "409": {
            "$ref": "#/components/responses/409Common"
          },
          "410": {
            "$ref": "#/components/responses/410Common"
          },
          "415": {
            "$ref": "#/components/responses/415Common"
          },
          "422": {
            "$ref": "#/components/responses/422Validation"
          },
          "503": {
            "$ref": "#/components/responses/503Common"
          },
          "default": {
            "$ref": "#/components/responses/400Default"
          }
        }
      }
    },
    "/contacts/bokRequest": {
      "post": {
        "summary": "Send message to customer service.",
        "description": "Send message to customer service.",
        "security": [
          {
            "XRequestAuth": []
          },
          {
            "DateAuth": []
          },
          {
            "SignatureAuth": []
          },
          {
            "AuthorizationAuth": []
          }
        ],
        "tags": [
          "Contact"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/acceptLanguage"
          }
        ],
        "requestBody": {
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "type": "object",
                "required": [
                  "data"
                ],
                "properties": {
                  "data": {
                    "type": "object",
                    "required": [
                      "type"
                    ],
                    "properties": {
                      "type": {
                        "type": "string",
                        "default": "contact",
                        "description": "Resource type."
                      },
                      "attributes": {
                        "type": "object",
                        "required": [
                          "firstname",
                          "lastname",
                          "email",
                          "prefixPhoneMobile",
                          "phoneMobile",
                          "description",
                          "clientType"
                        ],
                        "properties": {
                          "firstname": {
                            "description": "Customer first name.",
                            "type": "string",
                            "minLength": 2,
                            "maxLength": 32,
                            "format": "/^[ a-zA-Z\u0105\u017c\u015b\u017a\u0107\u0119\u0142\u00f3\u0144\u0104\u017b\u015a\u0179\u0106\u0118\u0141\u00d3\u0143\\-]*$/"
                          },
                          "lastname": {
                            "description": "Customer last name.",
                            "type": "string",
                            "minLength": 2,
                            "maxLength": 32,
                            "format": "/^[ a-zA-Z\u0105\u017c\u015b\u017a\u0107\u0119\u0142\u00f3\u0144\u0104\u017b\u015a\u0179\u0106\u0118\u0141\u00d3\u0143\\-]*$/"
                          },
                          "email": {
                            "type": "string",
                            "format": "john@example.com",
                            "description": "Customer email."
                          },
                          "prefixPhoneMobile": {
                            "type": "string",
                            "format": "numeric",
                            "description": "Phone number country prefix."
                          },
                          "phoneMobile": {
                            "type": "string",
                            "maxLength": 10,
                            "format": "numeric",
                            "description": "Phone number."
                          },
                          "description": {
                            "type": "string",
                            "description": "Message to customer service."
                          },
                          "clientType": {
                            "type": "string",
                            "description": "Client Type.",
                            "enum": [
                              "ppi3",
                              "mobile_api",
                              "funcik",
                              "minutka"
                            ]
                          },
                          "captchaResponse": {
                            "type": "string",
                            "description": "For Google Captcha is g-recaptcha-response"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Successfully sent message to customer service."
          },
          "403": {
            "$ref": "#/components/responses/403Common"
          },
          "404": {
            "$ref": "#/components/responses/404Common"
          },
          "406": {
            "$ref": "#/components/responses/406Common"
          },
          "409": {
            "$ref": "#/components/responses/409Common"
          },
          "410": {
            "$ref": "#/components/responses/410Common"
          },
          "415": {
            "$ref": "#/components/responses/415Common"
          },
          "422": {
            "$ref": "#/components/responses/422Validation"
          },
          "503": {
            "$ref": "#/components/responses/503Common"
          },
          "default": {
            "$ref": "#/components/responses/400Default"
          }
        }
      }
    },
    "/contacts/callMeBack/customer/{customerId}": {
      "post": {
        "summary": "Send call me back request to customer service as customer.",
        "description": "Send call me back request to customer service as customer.",
        "security": [
          {
            "XRequestAuth": []
          },
          {
            "DateAuth": []
          },
          {
            "SignatureAuth": []
          },
          {
            "AuthorizationAuth": []
          }
        ],
        "tags": [
          "Contact"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/acceptLanguage"
          },
          {
            "$ref": "#/components/parameters/customerId"
          }
        ],
        "requestBody": {
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "type": "object",
                "required": [
                  "data"
                ],
                "properties": {
                  "data": {
                    "type": "object",
                    "required": [
                      "type"
                    ],
                    "properties": {
                      "type": {
                        "type": "string",
                        "default": "contact",
                        "description": "Resource type."
                      },
                      "attributes": {
                        "type": "object",
                        "required": [
                          "clientType"
                        ],
                        "properties": {
                          "clientType": {
                            "type": "string",
                            "description": "Client Type.",
                            "enum": [
                              "ppi3",
                              "mobile_api",
                              "funcik",
                              "minutka"
                            ]
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Successfully sent call me back request to customer service."
          },
          "403": {
            "$ref": "#/components/responses/403Common"
          },
          "404": {
            "$ref": "#/components/responses/404Common"
          },
          "406": {
            "$ref": "#/components/responses/406Common"
          },
          "409": {
            "$ref": "#/components/responses/409Common"
          },
          "410": {
            "$ref": "#/components/responses/410Common"
          },
          "415": {
            "$ref": "#/components/responses/415Common"
          },
          "422": {
            "$ref": "#/components/responses/422Validation"
          },
          "503": {
            "$ref": "#/components/responses/503Common"
          },
          "default": {
            "$ref": "#/components/responses/400Default"
          }
        }
      }
    },
    "/contacts/callMeBack": {
      "post": {
        "summary": "Send call me back request to customer service.",
        "description": "Send call me back request to customer service.",
        "security": [
          {
            "XRequestAuth": []
          },
          {
            "DateAuth": []
          },
          {
            "SignatureAuth": []
          },
          {
            "AuthorizationAuth": []
          }
        ],
        "tags": [
          "Contact"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/acceptLanguage"
          }
        ],
        "requestBody": {
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "type": "object",
                "required": [
                  "data"
                ],
                "properties": {
                  "data": {
                    "type": "object",
                    "required": [
                      "type"
                    ],
                    "properties": {
                      "type": {
                        "type": "string",
                        "default": "contact",
                        "description": "Resource type."
                      },
                      "attributes": {
                        "type": "object",
                        "required": [
                          "prefixPhoneMobile",
                          "phoneMobile",
                          "clientType"
                        ],
                        "properties": {
                          "prefixPhoneMobile": {
                            "type": "string",
                            "format": "numeric",
                            "description": "Phone number country prefix."
                          },
                          "phoneMobile": {
                            "type": "string",
                            "maxLength": 10,
                            "format": "numeric",
                            "description": "Phone number."
                          },
                          "clientType": {
                            "type": "string",
                            "description": "Client Type.",
                            "enum": [
                              "ppi3",
                              "mobile_api",
                              "funcik",
                              "minutka"
                            ]
                          },
                          "captchaResponse": {
                            "type": "string",
                            "description": "For Google Captcha is g-recaptcha-response"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Successfully sent call me back request to customer service."
          },
          "403": {
            "$ref": "#/components/responses/403Common"
          },
          "404": {
            "$ref": "#/components/responses/404Common"
          },
          "406": {
            "$ref": "#/components/responses/406Common"
          },
          "409": {
            "$ref": "#/components/responses/409Common"
          },
          "410": {
            "$ref": "#/components/responses/410Common"
          },
          "415": {
            "$ref": "#/components/responses/415Common"
          },
          "422": {
            "$ref": "#/components/responses/422Validation"
          },
          "503": {
            "$ref": "#/components/responses/503Common"
          },
          "default": {
            "$ref": "#/components/responses/400Default"
          }
        }
      }
    },
    "/countries/": {
      "get": {
        "summary": "Get list of all countries",
        "description": "Retrieves the list of countries.",
        "security": [
          {
            "XRequestAuth": []
          },
          {
            "DateAuth": []
          },
          {
            "SignatureAuth": []
          },
          {
            "AuthorizationAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/acceptLanguage"
          },
          {
            "name": "filter[type]",
            "in": "query",
            "description": "Display countries depending of type. For example ?type=ppi3 return only ppi3 countries",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "mobile_api",
                "ppi3",
                "cpanel",
                "ppi",
                "trx",
                "minutka",
                "funcik",
                "b2b",
                "ewallet",
                "ewallet_user"
              ]
            }
          }
        ],
        "tags": [
          "Countries"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "headers": {
              "Content-Type: application/vnd.api+json": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Country"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401Common"
          },
          "403": {
            "$ref": "#/components/responses/403Common"
          },
          "406": {
            "$ref": "#/components/responses/406Common"
          },
          "409": {
            "$ref": "#/components/responses/409Common"
          },
          "410": {
            "$ref": "#/components/responses/410Common"
          },
          "415": {
            "$ref": "#/components/responses/415Common"
          },
          "default": {
            "$ref": "#/components/responses/400Default"
          }
        }
      }
    },
    "/currencies/{in}": {
      "get": {
        "summary": "Get list of currencies in use.",
        "description": "The list includes input and output currencies with their ids.",
        "security": [
          {
            "XRequestAuth": []
          },
          {
            "DateAuth": []
          },
          {
            "SignatureAuth": []
          },
          {
            "AuthorizationAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/acceptLanguage"
          },
          {
            "name": "in",
            "description": "Currency 'in' or 'out'",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "default": "in",
              "enum": [
                "in",
                "out"
              ]
            }
          }
        ],
        "tags": [
          "Currencies"
        ],
        "responses": {
          "200": {
            "description": "Currencies list successfully retrieved.",
            "headers": {
              "Content-Type: application/vnd.api+json": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "required": [
                        "type",
                        "id",
                        "attributes"
                      ],
                      "properties": {
                        "type": {
                          "type": "string",
                          "default": "currencies",
                          "description": "Resource type"
                        },
                        "attributes": {
                          "type": "object",
                          "required": [
                            "id",
                            "name"
                          ],
                          "properties": {
                            "id": {
                              "type": "integer",
                              "description": "Id"
                            },
                            "name": {
                              "type": "string",
                              "minLength": 3,
                              "maxLength": 3,
                              "description": "Currency code of ISO 4217 standard."
                            },
                            "description": {
                              "type": "string",
                              "maxLength": 255,
                              "description": "Currency description"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401Common"
          },
          "403": {
            "$ref": "#/components/responses/403Common"
          },
          "406": {
            "$ref": "#/components/responses/406Common"
          },
          "409": {
            "$ref": "#/components/responses/409Common"
          },
          "410": {
            "$ref": "#/components/responses/410Common"
          },
          "415": {
            "$ref": "#/components/responses/415Common"
          },
          "default": {
            "$ref": "#/components/responses/400Default"
          }
        }
      }
    },
    "/customer/{customerId}/referrals/transaction/{transactionId}": {
      "get": {
        "summary": "Get RFA details for transaction",
        "description": "Get RFA details (money, status) for transaction\n",
        "security": [
          {
            "XRequestAuth": []
          },
          {
            "DateAuth": []
          },
          {
            "SignatureAuth": []
          },
          {
            "AuthorizationAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/acceptLanguage"
          },
          {
            "$ref": "#/components/parameters/customerId"
          },
          {
            "name": "transactionId",
            "description": "Transaction id.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "tags": [
          "Referral system",
          "Transactions"
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved transaction's details.",
            "headers": {
              "Content-Type: application/vnd.api+json": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "required": [
                        "type",
                        "attributes"
                      ],
                      "properties": {
                        "type": {
                          "type": "string",
                          "description": "Resource type",
                          "default": "referralSystem"
                        },
                        "attributes": {
                          "type": "object",
                          "required": [
                            "money",
                            "status"
                          ],
                          "properties": {
                            "money": {
                              "type": "string",
                              "format": "money",
                              "description": "Money used from RFA - for example \"1.00 GBP\""
                            },
                            "status": {
                              "type": "string",
                              "description": "RFA money's usage status.",
                              "enum": [
                                "lock_for_withdrawal",
                                "release_pending",
                                "abort_pending"
                              ]
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401SessionNonExisting"
          },
          "403": {
            "$ref": "#/components/responses/403Common"
          },
          "404": {
            "$ref": "#/components/responses/404Common"
          },
          "406": {
            "$ref": "#/components/responses/406Common"
          },
          "409": {
            "$ref": "#/components/responses/409Common"
          },
          "410": {
            "$ref": "#/components/responses/410Common"
          },
          "415": {
            "$ref": "#/components/responses/415Common"
          },
          "default": {
            "$ref": "#/components/responses/400Default"
          }
        }
      }
    },
    "/customer_company_info_sources": {
      "get": {
        "summary": "Get list of available customer sources",
        "description": "List of customer sources.",
        "security": [
          {
            "XRequestAuth": []
          },
          {
            "DateAuth": []
          },
          {
            "SignatureAuth": []
          },
          {
            "AuthorizationAuth": []
          }
        ],
        "tags": [
          "Surveys"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/acceptLanguage"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Number of result. Start is 1. For example /customer_company_info_sources?page=1.",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Size of result. Min is 1. For example /customer_company_info_sources?limit=1.",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort by customer_company_info_sources fields (name, namePl). For example /customer_company_info_sources?sort=name&direction=desc.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "direction",
            "in": "query",
            "description": "sorting direction DESC and ASC",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "DESC",
                "ASC"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved customer source data.",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/CustomerCompanyInfoSourceAttributes"
                      }
                    },
                    "links": {
                      "type": "object",
                      "properties": {
                        "self": {
                          "type": "string",
                          "description": "Self link. For example /customer_company_info_sources?page=1&limit=1."
                        },
                        "first": {
                          "type": "string",
                          "description": "First link. For example /customer_company_info_sources?page=1&limit=1."
                        },
                        "prev": {
                          "type": "string",
                          "description": "Previous link. For example /customer_company_info_sources?page=1&limit=1."
                        },
                        "next": {
                          "type": "string",
                          "description": "Next link. For example /customer_company_info_sources?page=2&limit=1."
                        },
                        "last": {
                          "type": "string",
                          "description": "Last link. For example /customer_company_info_sources?page=12&limit=1."
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/403Common"
          },
          "404": {
            "$ref": "#/components/responses/404Common"
          },
          "406": {
            "$ref": "#/components/responses/406Common"
          },
          "409": {
            "$ref": "#/components/responses/409Common"
          },
          "410": {
            "$ref": "#/components/responses/410Common"
          },
          "415": {
            "$ref": "#/components/responses/415Common"
          },
          "default": {
            "$ref": "#/components/responses/400Default"
          }
        }
      }
    },
    "/customers/accountActivation": {
      "post": {
        "summary": "Customer account activation",
        "description": "Method to activate an account. Should be used after user registration with token from email.",
        "tags": [
          "Customer account",
          "Registration"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/acceptLanguage"
          }
        ],
        "requestBody": {
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "type": "object",
                "required": [
                  "data"
                ],
                "properties": {
                  "data": {
                    "type": "object",
                    "required": [
                      "type",
                      "attributes"
                    ],
                    "properties": {
                      "type": {
                        "type": "string",
                        "default": "customers",
                        "description": "Resource type"
                      },
                      "attributes": {
                        "type": "object",
                        "required": [
                          "token",
                          "password",
                          "passwordRepeat"
                        ],
                        "properties": {
                          "token": {
                            "type": "string",
                            "description": "token."
                          },
                          "password": {
                            "type": "string",
                            "format": "password",
                            "minLength": 6,
                            "maxLength": 15,
                            "pattern": "^.*(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9]).*$",
                            "description": "New password of customer."
                          },
                          "passwordRepeat": {
                            "type": "string",
                            "format": "password",
                            "minLength": 6,
                            "maxLength": 15,
                            "pattern": "^.*(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9]).*$",
                            "description": "Repeated new password of customer."
                          },
                          "customerSourceId": {
                            "type": "number",
                            "minimum": 1,
                            "description": "Id of customer source. Can be received from /surveys/customerSources endpoint"
                          },
                          "customerSourceDescription": {
                            "type": "string",
                            "description": "Description of customer source. For info like newspaper name."
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Successfully saved new password."
          },
          "403": {
            "$ref": "#/components/responses/403Common"
          },
          "404": {
            "$ref": "#/components/responses/404Common"
          },
          "406": {
            "$ref": "#/components/responses/406Common"
          },
          "409": {
            "$ref": "#/components/responses/409Common"
          },
          "415": {
            "$ref": "#/components/responses/415Common"
          },
          "422": {
            "$ref": "#/components/responses/422Validation"
          },
          "default": {
            "$ref": "#/components/responses/400Default"
          }
        }
      }
    },
    "/customers/login": {
      "post": {
        "summary": "Proceed with customer and merchant user log in.",
        "description": "Allows customer login by e-mail and password and get OAuth2 tokens. For \"system to system\" authentication secret key is being used.",
        "security": [
          {
            "XRequestAuth": []
          },
          {
            "DateAuth": []
          },
          {
            "SignatureAuth": []
          }
        ],
        "tags": [
          "Customer login"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/acceptLanguage"
          }
        ],
        "requestBody": {
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "type": "object",
                "required": [
                  "grant_type",
                  "client_id",
                  "username",
                  "password",
                  "scope",
                  "client_secret"
                ],
                "properties": {
                  "grant_type": {
                    "type": "string",
                    "description": "OAuth2 grant type",
                    "default": "password"
                  },
                  "client_id": {
                    "type": "string",
                    "description": "OAuth2 client id",
                    "default": "mobile_api"
                  },
                  "username": {
                    "type": "string",
                    "description": "Email address of customer.",
                    "format": "john@example.com"
                  },
                  "password": {
                    "type": "string",
                    "description": "Customer password. Required at least one digit and one upper case.",
                    "format": "regexp",
                    "minLength": 6,
                    "maxLength": 15
                  },
                  "scope": {
                    "type": "string",
                    "description": "OAuth2 scope",
                    "default": "mobile_api"
                  },
                  "client_secret": {
                    "type": "string",
                    "description": "OAuth2 secret used only for system to system authentication (neither email nor password required)."
                  },
                  "captcha_response": {
                    "type": "string",
                    "description": "For Google Captcha is g-recaptcha-response"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Login success and OAuth2 tokens acquired.",
            "headers": {
              "Content-Type: application/vnd.api+json": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "token_type",
                    "expires_in",
                    "access_token",
                    "refresh_token",
                    "customer_id"
                  ],
                  "properties": {
                    "token_type": {
                      "type": "string",
                      "default": "Bearer"
                    },
                    "expires_in": {
                      "type": "integer",
                      "description": "OAuth2 access token TTL"
                    },
                    "access_token": {
                      "type": "string",
                      "description": "OAuth2 access token"
                    },
                    "refresh_token": {
                      "type": "string",
                      "description": "OAuth2 refresh token"
                    },
                    "customer_id": {
                      "type": "integer",
                      "description": "Customer id"
                    },
                    "ewallet": {
                      "type": "integer",
                      "description": "Ewallet's status"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Potential reasons\n  * Request authorization (signing) error\n  * Wrong email and/or password\n  * Wrong other OAuth2 parameters\n",
            "headers": {
              "Content-Type: application/vnd.api+json": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "406": {
            "$ref": "#/components/responses/406Common"
          },
          "415": {
            "$ref": "#/components/responses/415Common"
          },
          "422": {
            "$ref": "#/components/responses/422Validation"
          },
          "429": {
            "$ref": "#/components/responses/429TooManyRequests"
          },
          "default": {
            "$ref": "#/components/responses/400Default"
          }
        }
      }
    },
    "/customers/password": {
      "post": {
        "summary": "Initiate password reset process.",
        "description": "Allows initiate reset password process for standard email/password login procedure. E-mail with activation link is sent.",
        "security": [
          {
            "XRequestAuth": []
          },
          {
            "DateAuth": []
          },
          {
            "SignatureAuth": []
          },
          {
            "AuthorizationAuth": []
          }
        ],
        "tags": [
          "Customer login"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/acceptLanguage"
          }
        ],
        "requestBody": {
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "type": "object",
                "required": [
                  "data"
                ],
                "properties": {
                  "data": {
                    "type": "object",
                    "required": [
                      "type",
                      "attributes"
                    ],
                    "properties": {
                      "type": {
                        "type": "string",
                        "default": "customers",
                        "description": "Resource type."
                      },
                      "attributes": {
                        "type": "object",
                        "required": [
                          "dateOfBirth",
                          "email"
                        ],
                        "properties": {
                          "dateOfBirth": {
                            "type": "string",
                            "maximum": 10,
                            "description": "Date of birth.",
                            "format": "date (YYYY-mm-dd)"
                          },
                          "email": {
                            "type": "string",
                            "description": "Address email of customer. Required if authentication go by email, password pair.",
                            "format": "john@example.com"
                          },
                          "clientId": {
                            "type": "string",
                            "description": "Optional OAuth client Id",
                            "default": "mobile_api",
                            "enum": [
                              "mobile_api",
                              "ppi3",
                              "cpanel",
                              "ppi",
                              "trx",
                              "minutka",
                              "funcik",
                              "b2b",
                              "ewallet",
                              "ewallet_user"
                            ]
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Password reset successfully initiated. E-mail with reset link has been sent."
          },
          "401": {
            "$ref": "#/components/responses/401Common"
          },
          "403": {
            "description": "Potential reasons\n* Unsupported request\n* Too many attempts from this IP, try again later\n",
            "headers": {
              "Content-Type: application/vnd.api+json": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Potential reasons\n* Customer account not found\n* Resource (url) not found\n",
            "headers": {
              "Content-Type: application/vnd.api+json": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "406": {
            "$ref": "#/components/responses/406Common"
          },
          "409": {
            "$ref": "#/components/responses/409Common"
          },
          "415": {
            "$ref": "#/components/responses/415Common"
          },
          "422": {
            "$ref": "#/components/responses/422Validation"
          },
          "default": {
            "$ref": "#/components/responses/400Default"
          }
        }
      }
    },
    "/customers/refreshToken": {
      "post": {
        "summary": "Refresh OAuth2 session token.",
        "description": "Allows customer refresh session token using her refresh token.",
        "security": [
          {
            "XRequestAuth": []
          },
          {
            "DateAuth": []
          },
          {
            "SignatureAuth": []
          }
        ],
        "tags": [
          "Customer login"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/acceptLanguage"
          }
        ],
        "requestBody": {
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "type": "object",
                "required": [
                  "grant_type",
                  "client_id",
                  "refresh_token"
                ],
                "properties": {
                  "grant_type": {
                    "type": "string",
                    "description": "OAuth2 grant type",
                    "default": "refresh_token"
                  },
                  "client_id": {
                    "type": "string",
                    "description": "OAuth2 client id",
                    "default": "mobile_api"
                  },
                  "refresh_token": {
                    "type": "string",
                    "description": "OAuth2 refresh token."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200OAuth2"
          },
          "401": {
            "description": "Potential reasons\n  * Request authorization (signing) error\n  * Wrong email and/or password\n  * Wrong other OAuth2 parameters\n",
            "headers": {
              "Content-Type: application/vnd.api+json": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "406": {
            "$ref": "#/components/responses/406Common"
          },
          "415": {
            "$ref": "#/components/responses/415Common"
          },
          "422": {
            "$ref": "#/components/responses/422Validation"
          },
          "default": {
            "$ref": "#/components/responses/400Default"
          }
        }
      }
    },
    "/customers/registrationStepFinancialValidation": {
      "post": {
        "summary": "Financial validation registration step",
        "description": "If all data is correct you can proceed to step 3 - showed in location. Step is not necessary",
        "security": [
          {
            "XRequestAuth": []
          },
          {
            "DateAuth": []
          },
          {
            "SignatureAuth": []
          },
          {
            "AuthorizationAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/acceptLanguage"
          }
        ],
        "requestBody": {
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "type": "object",
                "required": [
                  "data"
                ],
                "properties": {
                  "data": {
                    "type": "object",
                    "required": [
                      "type",
                      "attributes"
                    ],
                    "properties": {
                      "type": {
                        "type": "string",
                        "default": "customers",
                        "description": "Resource type"
                      },
                      "attributes": {
                        "type": "object",
                        "required": [
                          "customerDetail",
                          "customerFinancial"
                        ],
                        "properties": {
                          "customerDetail": {
                            "$ref": "#/components/schemas/CustomerDetail"
                          },
                          "customerAddress": {
                            "$ref": "#/components/schemas/CustomerAddressPhoneResponse"
                          },
                          "customerFinancial": {
                            "$ref": "#/components/schemas/CustomerFinancialResponse"
                          },
                          "captchaResponse": {
                            "type": "string",
                            "description": "For Google Captcha is g-recaptcha-response"
                          },
                          "clientId": {
                            "type": "string",
                            "description": "OAuth client Id",
                            "default": "mobile_api",
                            "enum": [
                              "mobile_api",
                              "ppi3",
                              "cpanel",
                              "ppi",
                              "trx",
                              "minutka",
                              "funcik",
                              "b2b",
                              "ewallet",
                              "ewallet_user"
[...]
