{
  "openapi": "3.0.3",
  "info": {
    "title": "Flickr API",
    "version": "1.0.0",
    "description": "The Flickr API provides access to Flickr's photo sharing platform. Search and retrieve photos, manage albums, interact with people, and more.",
    "x-jentic-source-url": "https://www.flickr.com/services/api/",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://api.flickr.com/services/rest",
      "description": "Flickr REST API"
    }
  ],
  "security": [
    {
      "apiKeyQuery": []
    }
  ],
  "paths": {
    "/": {
      "get": {
        "operationId": "callMethod",
        "tags": [
          "API"
        ],
        "summary": "Call any Flickr API method",
        "description": "All Flickr API methods are accessed via this single endpoint. Pass the 'method' parameter to specify which method to call.",
        "parameters": [
          {
            "name": "method",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The Flickr API method to call (e.g., flickr.photos.search)"
          },
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Your Flickr API key"
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "json",
              "enum": [
                "json",
                "xml"
              ]
            },
            "description": "Response format"
          },
          {
            "name": "nojsoncallback",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1,
              "enum": [
                0,
                1
              ]
            },
            "description": "If 1, don't wrap JSON in a callback function"
          }
        ],
        "responses": {
          "200": {
            "description": "API response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/?method=flickr.photos.search": {
      "get": {
        "operationId": "searchPhotos",
        "tags": [
          "Photos"
        ],
        "summary": "Search for photos",
        "description": "Return a list of photos matching some criteria. Only photos visible to the calling user will be returned.",
        "parameters": [
          {
            "name": "method",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "flickr.photos.search"
              ]
            }
          },
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "json"
            }
          },
          {
            "name": "nojsoncallback",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "user_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "The NSID of the user whose photos to search."
          },
          {
            "name": "tags",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Comma-delimited list of tags."
          },
          {
            "name": "tag_mode",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "any",
                "all"
              ]
            },
            "description": "Combine tags with OR or AND"
          },
          {
            "name": "text",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Free text search"
          },
          {
            "name": "min_upload_date",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "max_upload_date",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "min_taken_date",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "max_taken_date",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "license",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "License IDs (comma-separated)"
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Sort order: date-posted-asc, date-posted-desc, etc."
          },
          {
            "name": "privacy_filter",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [
                1,
                2,
                3,
                4,
                5
              ]
            }
          },
          {
            "name": "bbox",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Bounding box: min_lon,min_lat,max_lon,max_lat"
          },
          {
            "name": "accuracy",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 16
            }
          },
          {
            "name": "safe_search",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [
                1,
                2,
                3
              ]
            }
          },
          {
            "name": "content_types",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "extras",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Extra info: description, license, date_upload, etc."
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 100,
              "maximum": 500
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Search results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PhotoSearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/?method=flickr.photos.getInfo": {
      "get": {
        "operationId": "getPhotoInfo",
        "tags": [
          "Photos"
        ],
        "summary": "Get photo info",
        "description": "Get information about a photo.",
        "parameters": [
          {
            "name": "method",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "flickr.photos.getInfo"
              ]
            }
          },
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "json"
            }
          },
          {
            "name": "nojsoncallback",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "photo_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ID of the photo"
          },
          {
            "name": "secret",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Photo info",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PhotoInfoResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/?method=flickr.photos.getRecent": {
      "get": {
        "operationId": "getRecentPhotos",
        "tags": [
          "Photos"
        ],
        "summary": "Get recent photos",
        "parameters": [
          {
            "name": "method",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "flickr.photos.getRecent"
              ]
            }
          },
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "json"
            }
          },
          {
            "name": "nojsoncallback",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "extras",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 500
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Recent photos",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PhotoSearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get recent photos"
      }
    },
    "/?method=flickr.people.getInfo": {
      "get": {
        "operationId": "getUserInfo",
        "tags": [
          "People"
        ],
        "summary": "Get user info",
        "parameters": [
          {
            "name": "method",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "flickr.people.getInfo"
              ]
            }
          },
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "json"
            }
          },
          {
            "name": "nojsoncallback",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "user_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User info",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserInfoResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get user info"
      }
    },
    "/?method=flickr.photosets.getList": {
      "get": {
        "operationId": "getPhotosets",
        "tags": [
          "Photosets"
        ],
        "summary": "Get list of photosets (albums)",
        "parameters": [
          {
            "name": "method",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "flickr.photosets.getList"
              ]
            }
          },
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "json"
            }
          },
          {
            "name": "nojsoncallback",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "user_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of photosets",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PhotosetListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get list of photosets (albums)"
      }
    },
    "/?method=flickr.photos.licenses.getInfo": {
      "get": {
        "operationId": "getLicenses",
        "tags": [
          "Photos"
        ],
        "summary": "Fetch a list of available photo licenses for Flickr",
        "parameters": [
          {
            "name": "method",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "flickr.photos.licenses.getInfo"
              ]
            }
          },
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "json"
            }
          },
          {
            "name": "nojsoncallback",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of licenses",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Fetch a list of available photo licenses for Flickr"
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKeyQuery": {
        "type": "apiKey",
        "in": "query",
        "name": "api_key",
        "description": "Flickr API key"
      },
      "oauth1": {
        "type": "oauth2",
        "description": "OAuth 1.0a for authenticated API requests",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://www.flickr.com/services/oauth/authorize",
            "tokenUrl": "https://www.flickr.com/services/oauth/access_token",
            "scopes": {
              "read": "Read access to all photos",
              "write": "Write access to create and update photos",
              "delete": "Delete access"
            }
          }
        }
      }
    },
    "schemas": {
      "ApiResponse": {
        "type": "object",
        "properties": {
          "stat": {
            "type": "string",
            "enum": [
              "ok",
              "fail"
            ]
          }
        }
      },
      "PhotoSearchResponse": {
        "type": "object",
        "properties": {
          "photos": {
            "type": "object",
            "properties": {
              "page": {
                "type": "integer"
              },
              "pages": {
                "type": "integer"
              },
              "perpage": {
                "type": "integer"
              },
              "total": {
                "type": "string"
              },
              "photo": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Photo"
                }
              }
            }
          },
          "stat": {
            "type": "string"
          }
        }
      },
      "Photo": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "owner": {
            "type": "string"
          },
          "secret": {
            "type": "string"
          },
          "server": {
            "type": "string"
          },
          "farm": {
            "type": "integer"
          },
          "title": {
            "type": "string"
          },
          "ispublic": {
            "type": "integer"
          },
          "isfriend": {
            "type": "integer"
          },
          "isfamily": {
            "type": "integer"
          }
        }
      },
      "PhotoInfoResponse": {
        "type": "object",
        "properties": {
          "photo": {
            "$ref": "#/components/schemas/PhotoInfo"
          },
          "stat": {
            "type": "string"
          }
        }
      },
      "PhotoInfo": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "secret": {
            "type": "string"
          },
          "server": {
            "type": "string"
          },
          "farm": {
            "type": "integer"
          },
          "dateuploaded": {
            "type": "string"
          },
          "isfavorite": {
            "type": "integer"
          },
          "license": {
            "type": "string"
          },
          "safety_level": {
            "type": "string"
          },
          "rotation": {
            "type": "integer"
          },
          "owner": {
            "$ref": "#/components/schemas/PhotoOwner"
          },
          "title": {
            "$ref": "#/components/schemas/ContentField"
          },
          "description": {
            "$ref": "#/components/schemas/ContentField"
          },
          "visibility": {
            "$ref": "#/components/schemas/Visibility"
          },
          "dates": {
            "$ref": "#/components/schemas/PhotoDates"
          },
          "views": {
            "type": "string"
          },
          "editability": {
            "$ref": "#/components/schemas/Editability"
          },
          "tags": {
            "type": "object"
          },
          "urls": {
            "type": "object"
          }
        }
      },
      "PhotoOwner": {
        "type": "object",
        "properties": {
          "nsid": {
            "type": "string"
          },
          "username": {
            "type": "string"
          },
          "realname": {
            "type": "string"
          },
          "location": {
            "type": "string"
          }
        }
      },
      "ContentField": {
        "type": "object",
        "properties": {
          "_content": {
            "type": "string"
          }
        }
      },
      "Visibility": {
        "type": "object",
        "properties": {
          "ispublic": {
            "type": "integer"
          },
          "isfriend": {
            "type": "integer"
          },
          "isfamily": {
            "type": "integer"
          }
        }
      },
      "PhotoDates": {
        "type": "object",
        "properties": {
          "posted": {
            "type": "string"
          },
          "taken": {
            "type": "string"
          },
          "takengranularity": {
            "type": "string"
          },
          "lastupdate": {
            "type": "string"
          }
        }
      },
      "Editability": {
        "type": "object",
        "properties": {
          "cancomment": {
            "type": "integer"
          },
          "canaddmeta": {
            "type": "integer"
          }
        }
      },
      "UserInfoResponse": {
        "type": "object",
        "properties": {
          "person": {
            "$ref": "#/components/schemas/FlickrUser"
          },
          "stat": {
            "type": "string"
          }
        }
      },
      "FlickrUser": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "nsid": {
            "type": "string"
          },
          "ispro": {
            "type": "integer"
          },
          "is_deleted": {
            "type": "integer"
          },
          "username": {
            "$ref": "#/components/schemas/ContentField"
          },
          "realname": {
            "$ref": "#/components/schemas/ContentField"
          },
          "location": {
            "$ref": "#/components/schemas/ContentField"
          },
          "description": {
            "$ref": "#/components/schemas/ContentField"
          },
          "photosurl": {
            "$ref": "#/components/schemas/ContentField"
          },
          "profileurl": {
            "$ref": "#/components/schemas/ContentField"
          },
          "photos": {
            "$ref": "#/components/schemas/UserPhotos"
          }
        }
      },
      "UserPhotos": {
        "type": "object",
        "properties": {
          "firstdate": {
            "$ref": "#/components/schemas/ContentField"
          },
          "count": {
            "$ref": "#/components/schemas/ContentField"
          }
        }
      },
      "PhotosetListResponse": {
        "type": "object",
        "properties": {
          "photosets": {
            "type": "object",
            "properties": {
              "page": {
                "type": "integer"
              },
              "pages": {
                "type": "integer"
              },
              "perpage": {
                "type": "integer"
              },
              "total": {
                "type": "integer"
              },
              "photoset": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Photoset"
                }
              }
            }
          },
          "stat": {
            "type": "string"
          }
        }
      },
      "Photoset": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "primary": {
            "type": "string"
          },
          "secret": {
            "type": "string"
          },
          "server": {
            "type": "string"
          },
          "farm": {
            "type": "integer"
          },
          "photos": {
            "type": "integer"
          },
          "videos": {
            "type": "integer"
          },
          "title": {
            "$ref": "#/components/schemas/ContentField"
          },
          "description": {
            "$ref": "#/components/schemas/ContentField"
          },
          "can_comment": {
            "type": "integer"
          },
          "count_views": {
            "type": "string"
          },
          "count_comments": {
            "type": "string"
          },
          "date_create": {
            "type": "string"
          },
          "date_update": {
            "type": "string"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "stat": {
            "type": "string",
            "example": "fail"
          },
          "code": {
            "type": "integer"
          },
          "message": {
            "type": "string"
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "API"
    },
    {
      "name": "People"
    },
    {
      "name": "Photos"
    },
    {
      "name": "Photosets"
    }
  ]
}
