{
  "openapi": "3.1.0",
  "info": {
    "version": "1.0.0",
    "title": "Transfer Interface",
    "description": "Multi-file boilerplate for OpenAPI Specification.",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/CapitalMarket/TransferInterface/1.0.0"
  },
  "servers": [
    {
      "url": "https://api.mof.gov.il/v1"
    }
  ],
  "tags": [
    {
      "name": "Ministry Of Finance"
    }
  ],
  "paths": {
    "/v1/powerOfAttorneyInstructions": {
      "post": {
        "summary": "powerOfAttorneyInstructions",
        "operationId": "powerOfAttorneyInstructions",
        "description": "Annex A (Post-Acceptance)",
        "tags": [
          "\u05de\u05de\u05e9\u05e7 \u05e0\u05d9\u05d5\u05d3"
        ],
        "requestBody": {
          "description": "3003 request body",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/3003"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Accepted - Request has been accepted for processing (Async)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/6000"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400-BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/401-Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/403-Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/404-NotFound"
          },
          "422": {
            "$ref": "#/components/responses/422-UnprocessableEntity"
          },
          "500": {
            "$ref": "#/components/responses/500-InternalServerError"
          },
          "default": {
            "$ref": "#/components/responses/UnexpectedError"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/X-Request-ID"
          },
          {
            "$ref": "#/components/parameters/PSU-ID"
          },
          {
            "$ref": "#/components/parameters/Digest"
          },
          {
            "$ref": "#/components/parameters/Signature"
          },
          {
            "$ref": "#/components/parameters/PSU-IP-Address"
          },
          {
            "$ref": "#/components/parameters/PSU-User-Agent"
          },
          {
            "$ref": "#/components/parameters/Date"
          },
          {
            "$ref": "#/components/parameters/TPP-Signature-Certificate"
          },
          {
            "$ref": "#/components/parameters/Idempotency-Key"
          }
        ]
      }
    },
    "/v1/powerOfAttorneyConfirmation": {
      "post": {
        "summary": "powerOfAttorneyConfirmation",
        "operationId": "powerOfAttorneyConfirmation",
        "description": "Annex D (Positive Response)",
        "tags": [
          "\u05de\u05de\u05e9\u05e7 \u05e0\u05d9\u05d5\u05d3"
        ],
        "requestBody": {
          "description": "3004 request body",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/3004"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created/Accepted response - Operation accepted and processed (internal code 6001)",
            "headers": {
              "x-next": {
                "description": "A link to the next page of responses",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/6001"
                }
              }
            }
          },
          "202": {
            "description": "Accepted - Request has been accepted for processing (Async)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/6000"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400-BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/401-Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/403-Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/404-NotFound"
          },
          "422": {
            "$ref": "#/components/responses/422-UnprocessableEntity"
          },
          "500": {
            "$ref": "#/components/responses/500-InternalServerError"
          },
          "default": {
            "$ref": "#/components/responses/UnexpectedError"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/X-Request-ID"
          },
          {
            "$ref": "#/components/parameters/PSU-ID"
          },
          {
            "$ref": "#/components/parameters/Digest"
          },
          {
            "$ref": "#/components/parameters/Signature"
          },
          {
            "$ref": "#/components/parameters/PSU-IP-Address"
          },
          {
            "$ref": "#/components/parameters/PSU-User-Agent"
          },
          {
            "$ref": "#/components/parameters/Date"
          },
          {
            "$ref": "#/components/parameters/TPP-Signature-Certificate"
          },
          {
            "$ref": "#/components/parameters/Idempotency-Key"
          }
        ]
      }
    },
    "/v1/yieldDifferencesPayment": {
      "post": {
        "summary": "yieldDifferencesPayment",
        "operationId": "yieldDifferencesPayment",
        "description": "Annex J - Payment of Yield Differences and Arrears Interest",
        "tags": [
          "\u05de\u05de\u05e9\u05e7 \u05e0\u05d9\u05d5\u05d3"
        ],
        "requestBody": {
          "description": "3005 request body",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/3005"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Accepted - Request has been accepted for processing (Async)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/6000"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400-BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/401-Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/403-Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/404-NotFound"
          },
          "422": {
            "$ref": "#/components/responses/422-UnprocessableEntity"
          },
          "500": {
            "$ref": "#/components/responses/500-InternalServerError"
          },
          "default": {
            "$ref": "#/components/responses/UnexpectedError"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/X-Request-ID"
          },
          {
            "$ref": "#/components/parameters/PSU-ID"
          },
          {
            "$ref": "#/components/parameters/Digest"
          },
          {
            "$ref": "#/components/parameters/Signature"
          },
          {
            "$ref": "#/components/parameters/PSU-IP-Address"
          },
          {
            "$ref": "#/components/parameters/PSU-User-Agent"
          },
          {
            "$ref": "#/components/parameters/Date"
          },
          {
            "$ref": "#/components/parameters/TPP-Signature-Certificate"
          },
          {
            "$ref": "#/components/parameters/Idempotency-Key"
          }
        ]
      }
    }
  },
  "components": {
    "parameters": {
      "limit": {
        "name": "limit",
        "in": "query",
        "description": "How many items to return at one time (max 100)",
        "required": false,
        "schema": {
          "type": "integer",
          "format": "int32"
        }
      },
      "X-Request-ID": {
        "name": "X-Request-ID",
        "in": "header",
        "description": "Unique ID for the request (UUID)",
        "required": true,
        "schema": {
          "type": "string",
          "format": "uuid"
        }
      },
      "PSU-ID": {
        "name": "PSU-ID",
        "in": "header",
        "description": "Client ID of the PSU at the ASPSP",
        "schema": {
          "type": "string"
        }
      },
      "Digest": {
        "name": "Digest",
        "in": "header",
        "description": "Digest of the body",
        "schema": {
          "type": "string"
        }
      },
      "Signature": {
        "name": "Signature",
        "in": "header",
        "description": "Digital Signature",
        "schema": {
          "type": "string"
        }
      },
      "PSU-IP-Address": {
        "name": "PSU-IP-Address",
        "in": "header",
        "description": "IP Address of the PSU",
        "schema": {
          "type": "string"
        }
      },
      "PSU-User-Agent": {
        "name": "PSU-User-Agent",
        "in": "header",
        "description": "User Agent of the PSU",
        "schema": {
          "type": "string"
        }
      },
      "Date": {
        "name": "Date",
        "in": "header",
        "description": "Date of the request",
        "schema": {
          "type": "string",
          "format": "date-time"
        }
      },
      "TPP-Signature-Certificate": {
        "name": "TPP-Signature-Certificate",
        "in": "header",
        "description": "Available certificate for the signature",
        "schema": {
          "type": "string"
        }
      },
      "Idempotency-Key": {
        "name": "Idempotency-Key",
        "in": "header",
        "description": "Key for idempotency",
        "schema": {
          "type": "string"
        }
      }
    },
    "schemas": {
      "3003": {
        "type": "object",
        "properties": {
          "operationCode": {
            "title": "operationCode",
            "enum": [
              3003
            ],
            "type": "integer"
          },
          "interfaceHeader": {
            "type": "object",
            "properties": {
              "sendEntity": {
                "$ref": "#/components/schemas/BasicClientDetails"
              },
              "receptionEntity": {
                "$ref": "#/components/schemas/BasicEmployeeDetails"
              }
            },
            "required": [
              "basicClientDetails",
              "basicEmployeeDetails"
            ]
          },
          "entityFactor": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "licenseeDetails": {
                  "$ref": "#/components/schemas/intermediateEntity"
                },
                "basicClientDetails": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "basicClientDetails": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "entityType": {
                              "type": "integer",
                              "enum": [
                                4,
                                5,
                                6
                              ]
                            },
                            "idType": {
                              "type": "integer",
                              "enum": [
                                1,
                                2,
                                3,
                                4,
                                5,
                                6,
                                7,
                                8,
                                9,
                                10,
                                13,
                                14,
                                15
                              ]
                            },
                            "idNumber": {
                              "type": "string",
                              "maxLength": 16
                            },
                            "entityName": {
                              "type": "string",
                              "maxLength": 50
                            },
                            "firstName": {
                              "type": "string",
                              "maxLength": 50
                            },
                            "lastName": {
                              "type": "string",
                              "maxLength": 50
                            },
                            "countryCode": {
                              "type": "string",
                              "maxLength": 3
                            },
                            "clearingHouseNumber": {
                              "type": "string",
                              "maxLength": 36,
                              "pattern": "^[0-9A-F]{8}-[0-9A-F]{4}-[0-9A-F]{4}-[0-9A-F]{4}-[0-9A-F]{12}$"
                            },
                            "uniqueRecord": {
                              "type": "string",
                              "maxLength": 36
                            }
                          },
                          "required": [
                            "entityType",
                            "idType",
                            "idNumber",
                            "uniqueRecord"
                          ],
                          "oneOf": [
                            {
                              "properties": {
                                "entityType": {
                                  "enum": [
                                    5,
                                    6
                                  ]
                                }
                              },
                              "required": [
                                "entityName"
                              ]
                            },
                            {
                              "properties": {
                                "entityType": {
                                  "enum": [
                                    4
                                  ]
                                }
                              },
                              "required": [
                                "firstName",
                                "lastName"
                              ]
                            }
                          ]
                        }
                      }
                    }
                  }
                }
              },
              "required": [
                "licenseeDetails"
              ]
            }
          },
          "operations": {
            "type": "object",
            "properties": {
              "basicEmployeeDeatils": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/BasicEmployeeDetails"
                }
              },
              "institutionalBodyDetails": {
                "$ref": "#/components/schemas/InstitutionalBodyDetails20"
              },
              "fundTypeAndDetails": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/FundTypeAndDetails21And22"
                }
              },
              "personalDefinition": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/PersonalDefinition93"
                }
              },
              "transactionPart": {
                "$ref": "#/components/schemas/TransactionPart94"
              },
              "transactionPartPersonalDefinition": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/TransactionPartPersonalDefinition95"
                }
              },
              "coverargesInsuranceExtras": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/CoverargesInsuranceExtras97"
                }
              },
              "accountOrPolicyExclusions": {
                "$ref": "#/components/schemas/AccountOrPolicyExclusions98"
              },
              "transferringMemberStatements": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/TransferringMemberStatements96"
                }
              },
              "closingRecord": {
                "$ref": "#/components/schemas/ClosingRecord"
              }
            }
          }
        }
      },
      "3004": {
        "type": "object",
        "properties": {
          "operationCode": {
            "title": "operationCode",
            "enum": [
              3004
            ],
            "type": "integer"
          },
          "interfaceHeader": {
            "type": "object",
            "properties": {
              "sendEntity": {
                "$ref": "#/components/schemas/BasicClientDetails"
              },
              "receptionEntity": {
                "$ref": "#/components/schemas/BasicEmployeeDetails"
              }
            },
            "required": [
              "basicClientDetails",
              "basicEmployeeDetails"
            ]
          },
          "entityFactor": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "licenseeDetails": {
                  "$ref": "#/components/schemas/intermediateEntity"
                }
              },
              "required": [
                "licenseeDetails"
              ]
            }
          },
          "operations": {
            "type": "object",
            "properties": {
              "basicEmployeeDeatils": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/BasicEmployeeDetails"
                }
              },
              "institutionalBodyDetails": {
                "$ref": "#/components/schemas/InstitutionalBodyDetails20"
              },
              "basicClientDetails": {
                "items": {
                  "$ref": "#/components/schemas/BasicClientDetails"
                }
              },
              "transferstep": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/TransferStep101"
                }
              },
              "DeterminingDate": {
                "$ref": "#/components/schemas/DeterminingDate99"
              },
              "documentsAndSigners": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/DocumentsAndSigners40And41"
                }
              },
              "closingRecord": {
                "$ref": "#/components/schemas/ClosingRecord"
              }
            }
          }
        }
      },
      "3005": {
        "type": "object",
        "properties": {
          "operationCode": {
            "title": "operationCode",
            "enum": [
              3005
            ],
            "type": "integer"
          },
          "interfaceHeader": {
            "type": "object",
            "properties": {
              "sendEntity": {
                "$ref": "#/components/schemas/BasicClientDetails"
              },
              "receptionEntity": {
                "$ref": "#/components/schemas/BasicEmployeeDetails"
              }
            },
            "required": [
              "basicClientDetails",
              "basicEmployeeDetails"
            ]
          },
          "entityFactor": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "licenseeDetails": {
                  "$ref": "#/components/schemas/intermediateEntity"
                },
                "basicClientDetails": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "basicClientDetails": {
                        "$ref": "#/components/schemas/BasicClientDetails"
                      }
                    }
                  }
                }
              },
              "required": [
                "licenseeDetails"
              ]
            }
          },
          "operations": {
            "type": "object",
            "properties": {
              "basicEmployeeDeatils": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/BasicEmployeeDetails"
                }
              },
              "institutionalBodyDetails": {
                "$ref": "#/components/schemas/InstitutionalBodyDetails20"
              },
              "clientFundStatus": {
                "type": "array",
                "items": {
                  "type": "array",
                  "description": " \u05d1\u05dc\u05d5\u05e7 \u05dc\u05de\u05d9\u05dc\u05d5\u05d9 \u05d7\u05d5\u05d1\u05d4 \u05d1- 3003 ",
                  "items": {
                    "type": "object",
                    "properties": {
                      "clientfundStatus": {
                        "type": "integer",
                        "enum": [
                          1,
                          2,
                          3,
                          4,
                          5,
                          6,
                          7,
                          8
                        ]
                      },
                      "clientTransferStatus": {
                        "type": "integer",
                        "enum": [
                          1,
                          2
                        ]
                      }
                    },
                    "required": [
                      "clientfundStatus",
                      "clientTransferStatus"
                    ]
                  }
                }
              },
              "transferStep": {
                "$ref": "#/components/schemas/TransferStep101"
              },
              "arrearsInterest": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/ArrearsInterest103"
                }
              },
              "closingRecord": {
                "$ref": "#/components/schemas/ClosingRecord"
              }
            }
          }
        }
      },
      "6000": {
        "type": "object",
        "properties": {
          "internalCode": {
            "type": "integer",
            "enum": [
              6000
            ]
          },
          "status": {
            "type": "string",
            "examples": [
              "success"
            ]
          },
          "message": {
            "type": "string",
            "examples": [
              "Operation completed successfully"
            ]
          },
          "data": {
            "type": "object",
            "properties": {
              "operationCode": {
                "type": "integer",
                "examples": [
                  3004
                ]
              },
              "interfaceHeader": {
                "type": "object",
                "properties": {
                  "sendEntity": {
                    "$ref": "#/components/schemas/BasicClientDetails"
                  },
                  "receptionEntity": {
                    "$ref": "#/components/schemas/BasicEmployeeDetails"
                  }
                }
              },
              "entityFactor": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "licenseeDetails": {
                      "$ref": "#/components/schemas/intermediateEntity"
                    },
                    "basicClientDetails": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "basicClientDetails": {
                            "$ref": "#/components/schemas/BasicClientDetails"
                          }
                        }
                      }
                    }
                  }
                }
              },
              "institutionalBodyDetails": {
                "$ref": "#/components/schemas/InstitutionalBodyDetails20"
              },
              "transferStep": {
                "$ref": "#/components/schemas/TransferStep101"
              },
              "claintStatusInATransferAccount": {
                "$ref": "#/components/schemas/ClaintStatusInATransferAccount102"
              },
              "transferRejactDetailInRecordLavel": {
                "$ref": "#/components/schemas/TransferRejactDetailInRecordLavel114"
              },
              "detailsOfTransferredFund": {
                "$ref": "#/components/schemas/DetailsOfTransferredFund100"
              },
              "debtsAndPaymentArrearsDelay": {
                "$ref": "#/components/schemas/DebtsAndPaymentArrearsDelay112"
              },
              "documentsAndSigners": {
                "items": {
                  "$ref": "#/components/schemas/DocumentsAndSigners40And41"
                }
              },
              "closingRecord": {
                "$ref": "#/components/schemas/ClosingRecord"
              }
            }
          }
        },
        "required": [
          "internalCode",
          "status",
          "data"
        ]
      },
      "6001": {
        "type": "object",
        "properties": {
          "internalCode": {
            "type": "integer",
            "enum": [
              6001
            ]
          },
          "status": {
            "type": "string",
            "examples": [
              "success"
            ]
          },
          "message": {
            "type": "string",
            "examples": [
              "Operation completed successfully"
            ]
          },
          "data": {
            "type": "object",
            "properties": {
              "operationCode": {
                "type": "integer",
                "examples": [
                  3004
                ]
              },
              "interfaceHeader": {
                "type": "object",
                "properties": {
                  "sendEntity": {
                    "$ref": "#/components/schemas/BasicClientDetails"
                  },
                  "receptionEntity": {
                    "$ref": "#/components/schemas/BasicEmployeeDetails"
                  }
                }
              },
              "entityFactor": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "licenseeDetails": {
                      "$ref": "#/components/schemas/intermediateEntity"
                    },
                    "basicClientDetails": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "basicClientDetails": {
                            "$ref": "#/components/schemas/BasicClientDetails"
                          }
                        }
                      }
                    }
                  }
                }
              },
              "institutionalBodyDetails": {
                "$ref": "#/components/schemas/InstitutionalBodyDetails20"
              },
              "fundTypeAndDetails": {
                "items": {
                  "$ref": "#/components/schemas/FundTypeAndDetails21And22"
                }
              },
              "accountOrPolicyDetails": {
                "items": {
                  "$ref": "#/components/schemas/AccountOrPolicyDetails23"
                }
              },
              "transactionPart": {
                "$ref": "#/components/schemas/TransactionPart94"
              },
              "arrearsInterest": {
                "$ref": "#/components/schemas/ArrearsInterest103"
              },
              "insuranceCoverageDetails": {
                "$ref": "#/components/schemas/InsuranceCoverageDetails104"
              },
              "insurancefundConverargesInsuranceExtras": {
                "items": {
                  "$ref": "#/components/schemas/InsurancefundConverargesInsuranceExtras105"
                }
              },
              "insurancefundConverargesInsuranceExclusions": {
                "$ref": "#/components/schemas/InsurancefundConverargesInsuranceExclusions106"
              },
              "qualificationPeriodInsuranceTracks": {
                "items": {
                  "$ref": "#/components/schemas/QualificationPeriodInsuranceTracks107"
                }
              },
              "qualificationPeriodSalaryDetermines": {
                "items": {
                  "$ref": "#/components/schemas/QualificationPeriodSalaryDetermines108"
                }
              },
              "severancePayBalanceDetails": {
                "$ref": "#/components/schemas/SeverancePayBalanceDetails76"
              },
              "severancePayBalanceDetailsUnderPayerAndTaxLayer": {
                "items": {
                  "$ref": "#/components/schemas/SeverancePayBalanceDetailsUnderPayerAndTaxLayer77"
                }
              },
              "transactionBasicDetails": {
                "items": {
                  "$ref": "#/components/schemas/TransactionBasicDetails70"
                }
              },
              "transactionWithdraw": {
                "items": {
                  "$ref": "#/components/schemas/TransactionWithdraw72"
                }
              },
              "balancesByTaxLayer": {
                "items": {
                  "$ref": "#/components/schemas/BalancesByTaxLayer111"
                }
              },
              "taxExemptBalances": {
                "items": {
                  "$ref": "#/components/schemas/TaxExemptBalances110"
                }
              },
              "documentsAndSigners": {
                "items": {
                  "$ref": "#/components/schemas/DocumentsAndSigners40And41"
                }
              },
              "closingRecord": {
                "$ref": "#/components/schemas/ClosingRecord"
              }
            }
          }
        },
        "required": [
          "internalCode",
          "status",
          "data"
        ]
      },
      "AccountOrPolicyDetails23": {
        "type": "array",
        "items": {
          "type": "object",
          "properties": {
            "accountOrPolicyNumber": {
              "type": "string",
              "maxLength": 15
            },
            "policyType": {
              "type": "integer",
              "enum": [
                1,
                2,
                3,
                4,
                5,
                6
              ]
            },
            "policyName": {
              "type": "string",
              "maxLength": 50
            },
            "accountStatus": {
              "type": "integer",
              "enum": [
                1,
                2,
                3,
                4
              ]
            },
            "clientTransferStatus": {
              "type": "integer",
              "enum": [
                1,
                2
              ]
            },
            "accountActivity": {
              "type": "integer",
              "enum": [
                1,
                2
              ]
            }
          },
          "required": [
            "accountOrPolicyNumber",
            "policyType",
            "policyName",
            "accountStatus",
            "accountActivity"
          ]
        }
      },
      "AccountOrPolicyExclusions98": {
        "type": "object",
        "description": " \u05d1\u05dc\u05d5\u05e7 \u05dc\u05de\u05d9\u05dc\u05d5\u05d9 \u05d7\u05d5\u05d1\u05d4 \u05d1- 3003 ",
        "properties": {
          "exclusionType": {
            "type": "integer",
            "enum": [
              1,
              2,
              3
            ]
          },
          "exclusionDetails": {
            "type": "string",
            "maxLength": 500
          }
        },
        "required": [
          "exclusionType",
          "exclusionDetails"
        ]
      },
      "ArrearsInterest103": {
        "type": "object",
        "properties": {
          "LatePaymentInterestSum": {
            "type": "number",
            "minimum": 0.01,
            "maximum": 9999999999.99,
            "multipleOf": 0.01
          },
          "LatePaymentInterestPeriod": {
            "type": "string",
            "maxLength": 4
          }
        },
        "required": [
          "LatePaymentInterestSum",
          "LatePaymentInterestPeriod"
        ]
      },
      "BalancesByTaxLayer111": {
        "type": "array",
        "items": {
          "type": "object",
          "properties": {
            "CodeOfPeriodTaxRate": {
              "type": "integer",
              "enum": [
                1,
                2,
                3,
                4,
                5,
                6,
                7,
                8,
                9,
                10,
                11,
                12,
                13,
                14,
                15
              ]
            },
            "AccountComponentType": {
              "type": "integer",
              "enum": [
                1,
                2,
                3,
                4,
                5,
                7,
                8,
                12,
                13,
                14,
                15,
                16,
                17
              ]
            },
            "ComponentTypeOfTaxPeriod": {
              "type": "integer",
              "enum": [
                1,
                2,
                3
              ]
            },
            "NominalFundAmounOfTaxPeriod": {
              "type": "number",
              "minimum": 0.01,
              "maximum": 9999999999.99,
              "multipleOf": 0.01
            },
            "NominalProfitAmountOfTaxPeriod": {
              "type": "number",
              "minimum": 0.01,
              "maximum": 9999999999.99,
              "multipleOf": 0.01
            },
            "RealProfitAmountOfTaxPeriod": {
              "type": "number",
              "minimum": 0.01,
              "maximum": 9999999999.99,
              "multipleOf": 0.01
            }
          },
          "required": [
            "CodeOfPeriodTaxRate",
            "AccountComponentType",
            "ComponentTypeOfTaxPeriod",
            "NominalFundAmounOfTaxPeriod",
            "NominalProfitAmountOfTaxPeriod",
            "RealProfitAmountOfTaxPeriod"
          ]
        }
      },
      "BankAccountdetailTitle25": {
        "type": "object",
        "properties": {
          "bankNumber": {
            "type": "string",
            "pattern": "^[0-9]{3}$"
          },
          "branchNumber": {
            "type": "string",
            "pattern": "^[0-9]{3}$"
          },
          "accountNumber": {
            "type": "string",
            "pattern": "^[0-9]{1,20}$"
          },
          "accountType": {
            "type": "string",
            "pattern": "^[0-9]{3}$"
          }
        },
        "required": [
          "bankNumber",
          "branchNumber",
          "accountNumber"
        ]
      },
      "BasicClientDetails": {
        "type": "array",
        "items": {
          "type": "object",
          "properties": {
            "entityType": {
              "type": "integer",
              "enum": [
                4,
                5,
                6
              ]
            },
            "idType": {
              "type": "integer",
              "enum": [
                1,
                2,
                3,
                4,
                5,
                6,
                7,
                8,
                9,
                10,
                13,
                14,
                15
              ]
            },
            "idNumber": {
              "type": "string",
              "maxLength": 16
            },
            "entityName": {
              "type": "string",
              "maxLength": 50
            },
            "firstName": {
              "type": "string",
              "maxLength": 50
            },
            "lastName": {
              "type": "string",
              "maxLength": 50
            },
            "countryCode": {
              "type": "string",
              "maxLength": 3
            },
            "clearingHouseNumber": {
              "type": "string",
              "maxLength": 36,
              "pattern": "^[0-9A-F]{8}-[0-9A-F]{4}-[0-9A-F]{4}-[0-9A-F]{4}-[0-9A-F]{12}$"
            },
            "uniqueRecord": {
              "type": "string",
              "maxLength": 36
            }
          },
          "required": [
            "entityType",
            "idType",
            "idNumber",
            "uniqueRecord"
          ],
          "oneOf": [
            {
              "properties": {
                "entityType": {
                  "enum": [
                    5,
                    6
                  ]
                }
              },
              "required": [
                "entityName"
              ]
            },
            {
              "properties": {
                "entityType": {
                  "enum": [
                    4
                  ]
                }
              },
              "required": [
                "firstName",
                "lastName"
              ]
            }
          ]
        }
      },
      "BasicEmployeeDetails": {
        "type": "array",
        "items": {
          "type": "object",
          "properties": {
            "entityType": {
              "type": "integer",
              "enum": [
                7
              ]
            },
            "idType": {
              "type": "integer",
              "enum": [
                3,
                4
              ]
            },
            "idNumber": {
              "type": "string",
              "maxLength": 16,
              "pattern": "^[a-zA-Z0-9!@#$%^&*()_+=-]+$"
            },
            "firstName": {
              "type": "string",
              "maxLength": 50,
              "pattern": "^[a-zA-Z0-9!@#$%^&*()_+=-]+$"
            },
            "lastName": {
              "type": "string",
              "maxLength": 50,
              "pattern": "^[a-zA-Z0-9!@#$%^&*()_+=-]+$"
            }
          },
          "required": [
            "entityType",
            "idType",
            "idNumber",
            "firstName",
            "lastName"
          ]
        }
      },
      "ClaintStatusInATransferAccount102": {
        "type": "object",
        "properties": {
          "DateJoiningmember": {
            "type": "string",
            "format": "date",
            "pattern": "^\\d{4}-\\d{2}-\\d{2}$",
            "examples": [
              "2024-01-30"
            ]
          },
          "FirstInsuranceCoverageDate": {
            "type": "string",
            "format": "date",
            "pattern": "^\\d{4}-\\d{2}-\\d{2}$",
            "examples": [
              "2024-01-30"
            ]
          },
          "AccountRemarkAboutSeperationCouple": {
            "type": "integer",
            "enum": [
              1,
              2
            ]
          },
          "clientfundStatus": {
            "type": "integer",
            "enum": [
              1,
              2
            ]
          },
          "FirstseniorityDateFund": {
            "type": "string",
            "format": "date",
            "pattern": "^\\d{4}-\\d{2}-\\d{2}$",
            "examples": [
              "2024-01-30"
            ]
          },
          "LasttseniorityDateFund": {
            "type": "string",
            "format": "date",
            "pattern": "^\\d{4}-\\d{2}-\\d{2}$",
            "examples": [
              "2024-01-30"
            ]
          },
          "Accountnumberatthe receivingfund": {
            "type": "string",
            "maxLength": 20
          },
          "BalanceTransferred": {
            "type": "number",
            "minimum": 0.01,
            "maximum": 9999999999.99,
            "multipleOf": 0.01
          },
          "ReasonForPartial Transfer": {
            "type": "integer",
            "enum": [
              1,
              2,
              3,
              4,
              5
            ],
            "description": "\u05e2\u05e8\u05db\u05d9\u05dd \u05de\u05d5\u05d2\u05d3\u05e8\u05d9\u05dd \u05d1\u05dc\u05d1\u05d3: 1 = \u05d1\u05e7\u05e9\u05ea \u05d4\u05e2\u05de\u05d9\u05ea, 2 = \u05e2\u05d9\u05e7\u05d5\u05dc \u05d1\u05e7\u05d5\u05e4\u05d4 \u05d4\u05de\u05e2\u05d1\u05d9\u05e8\u05d4, 3 = \u05e9\u05e2\u05d1\u05d5\u05d3 \u05d1\u05e7\u05d5\u05e4\u05d4 \u05d4\u05de\u05e2\u05d1\u05d9\u05e8\u05d4, 4 = \u05e4\u05e8\u05e2\u05d5\u05df \u05d7\u05d5\u05d1 \u05de\u05e2\u05e1\u05d9\u05e7, 5 = \u05d0\u05d7\u05e8."
          },
          "SeveralMonthsFunds WereDepositedIn ReceivingFund": {
            "type": "number",
            "minimum": 0.01,
            "maximum": 9999999999.99,
            "multipleOf": 0.01
          },
          "ManagementFees DeductedFromThe Deposit": {
            "type": "number",
            "minimum": 0.01,
            "maximum": 99999.99,
            "multipleOf": 0.01
          }
        },
        "required": [
          "DateJoiningmember",
          "AccountRemarkAboutSeperationCouple",
          "clientfundStatus",
          "BalanceTransferred"
        ]
      },
      "ClosingRecord": {
        "type": "object",
        "properties": {
          "AmountOfConsumerEntityInFile": {
            "type": "integer",
            "minimum": 0,
            "maximum": 99999,
            "description": "\u05de\u05e1\u05e4\u05e8 \u05d9\u05e9\u05d5\u05d9\u05d5\u05ea \u05dc\u05e7\u05d5\u05d7 \u05d1\u05e7\u05d5\u05d1\u05e5"
          },
          "RecordsAmount": {
            "type": "integer",
            "minimum": 0,
            "maximum": 999999,
            "description": "\u05de\u05e1\u05e4\u05e8 \u05e8\u05e9\u05d5\u05de\u05d5\u05ea"
          },
          "DepositsAmountInFile": {
            "type": "number",
            "minimum": 0,
            "maximum": 9999999999999.99,
            "multipleOf": 0.01,
            "description": "\u05e1\u05da \u05d4\u05db\u05dc \u05d4\u05d4\u05e4\u05e7\u05d3\u05d5\u05ea \u05d1\u05e7\u05d5\u05d1\u05e5 (\u05e4\u05d5\u05e8\u05de\u05d8 15,2)"
          },
          "BalanceAmountForTransfer": {
            "type": "number",
            "minimum": 0,
            "maximum": 9999999999999.99,
            "multipleOf": 0.01,
            "description": "\u05e1\u05da \u05d4\u05db\u05dc \u05d9\u05ea\u05e8\u05d5\u05ea \u05dc\u05e0\u05d9\u05d5\u05d3"
          }
        },
        "required": [
          "AmountOfConsumerEntityInFile",
          "RecordsAmount",
          "DepositsAmountInFile",
          "BalanceAmountForTransfer"
        ]
      },
      "CommunicatingEntity": {
        "type": "object",
        "properties": {
          "entityType": {
            "type": "integer",
            "enum": [
              1,
              2,
              3,
              4,
              5,
              6,
              7,
              8,
              9,
              10,
              11,
              12,
              13,
              14
            ]
          },
          "idType": {
            "type": "integer",
            "enum": [
              1,
              2,
              3,
              4,
              5,
              6,
              7,
              8,
              9,
              10,
              11,
              12,
              13,
              14,
              15
            ]
          },
          "idNumber": {
            "type": "string",
            "maxLength": 16
          },
          "entityName": {
            "type": "string",
            "maxLength": 50
          },
          "contactFirstName": {
            "type": "string",
            "maxLength": 50
          },
          "contactLastName": {
            "type": "string",
            "maxLength": 50
          },
          "contactMobileNumber": {
            "type": "string",
            "pattern": "^[0-9]+$",
            "maxLength": 10
          },
          "contactLandline": {
            "type": "string",
            "pattern": "^[0-9]+$",
            "maxLength": 9
          },
          "contactEmail": {
            "type": "string",
            "format": "email",
            "maxLength": 50
          },
          "internalInstitutionalId": {
            "type": "string",
            "maxLength": 16
          }
        },
        "required": [
          "entity",
          "entityType",
          "idType",
          "idNumber",
          "entityName",
          "contactFirstName",
          "contactLastName",
          "contactLandline",
          "contactEmail"
        ]
      },
      "CoverargesInsuranceExtras97": {
        "type": "array",
        "items": {
          "type": "object",
          "properties": {
            "additionType": {
              "type": "integer",
              "enum": [
                1,
                2,
                3
              ]
            },
            "additionRate": {
              "type": "number",
              "minimum": 0.01,
              "maximum": 100,
              "multipleOf": 0.01
            },
            "additionAmount": {
              "type": "number",
              "minimum": 0.01,
              "maximum": 999999999.99,
              "multipleOf": 0.01
            },
            "additionTypeCode": {
              "type": "integer",
              "enum": [
                1,
                2,
                3
              ]
            },
            "insuranceCostIncreaseFinishDate": {
              "type": "string",
              "format": "date",
              "pattern": "^\\d{4}-\\d{2}-\\d{2}$",
              "examples": [
                "2024-01-30"
              ]
            },
            "insurancePremiumsAdditionalCostReason": {
              "type": "string",
              "maxLength": 500
            }
          },
          "required": [
            "additionType",
            "additionTypeCode",
            "insuranceCostIncreaseFinishDate",
            "insurancePremiumsAdditionalCostReason"
          ],
          "oneOf": [
            {
              "properties": {
                "additionType": {
                  "enum": [
                    1
                  ]
                }
              },
              "required": [
                "additionRate"
              ]
            },
            {
              "properties": {
                "additionType": {
                  "enum": [
                    2,
                    3
                  ]
                }
              },
              "required": [
                "additionAmount"
              ]
            }
          ]
        }
      },
      "DebtsAndPaymentArrearsDelay112": {
        "type": "object",
        "properties": {
          "LateperiodStart": {
            "type": "string",
            "format": "date",
            "pattern": "^\\d{4}-\\d{2}-\\d{2}$",
            "examples": [
              "2024-01-30"
            ]
          },
          "LatePeriodEnding": {
            "type": "string",
            "format": "date",
            "pattern": "^\\d{4}-\\d{2}-\\d{2}$",
            "examples": [
              "2024-01-30"
            ]
          },
          "WeightedGrossYield": {
            "type": "number",
            "minimum": -999.99,
            "maximum": 999.99
          },
          "EstimatedBalanceReceivesFund": {
            "type": "number",
            "minimum": 0.01,
            "maximum": 9999999999.99,
            "multipleOf": 0.01
          },
          "EstimatedBalanceTransfersFund": {
            "type": "number",
            "minimum": 0.01,
            "maximum": 9999999999.99,
            "multipleOf": 0.01
          }
        }
      },
      "DetailsOfTransferredFund100": {
        "type": "object",
        "properties": {
          "reportType": {
            "type": "integer",
            "enum": [
              1,
              2,
              3,
              4,
              5,
              6
            ],
            "description": "\u05e2\u05e8\u05db\u05d9\u05dd \u05de\u05d5\u05d2\u05d3\u05e8\u05d9\u05dd \u05d1\u05dc\u05d1\u05d3: 1 = \u05d3\u05d9\u05d5\u05d5\u05d7 \u05e8\u05d2\u05d9\u05dc, 2 = \u05d3\u05d9\u05d5\u05d5\u05d7 \u05de\u05ea\u05d5\u05e7\u05df \u05d1\u05e8\u05de\u05ea \u05e2\u05de\u05d9\u05ea (\u05e1\u05d3\u05d9\u05df) \u05dc\u05dc\u05d0 \u05d4\u05e4\u05e7\u05d3\u05d4 \u05e0\u05d5\u05e1\u05e4\u05ea, 3 = \u05d3\u05d9\u05d5\u05d5\u05d7 \u05ea\u05d9\u05e7\u05d5\u05df \u05d4\u05e4\u05e7\u05d3\u05d4 + \u05e1\u05d3\u05d9\u05df (\u05e1\u05d3\u05d9\u05df \u05de\u05d7\u05dc\u05d9\u05e3 \u05e1\u05d3\u05d9\u05df \u05e7\u05d5\u05d3\u05dd), 4 = \u05ea\u05d9\u05e7\u05d5\u05df \u05d3\u05d9\u05d5\u05d5\u05d7 \u05d4\u05e4\u05e7\u05d3\u05d4 (\u05dc\u05dc\u05d0 \u05e1\u05d3\u05d9\u05e0\u05d9\u05dd, \u05d1\u05dc\u05d5\u05e7 \u05d4\u05e4\u05e7\u05d3\u05d4 \u05de\u05d7\u05dc\u05d9\u05e3 \u05d1\u05d0\u05d5\u05e4\u05df \u05de\u05dc\u05d0 \u05d1\u05dc\u05d5\u05e7 \u05e7\u05d5\u05d3\u05dd), 5 = \u05d3\u05d9\u05d5\u05d5\u05d7 \u05e2\u05dc \u05d4\u05e4\u05e7\u05d3\u05d4 \u05e0\u05d5\u05e1\u05e4\u05ea \u05dc\u05dc\u05d0 \u05ea\u05d9\u05e7\u05d5\u05df \u05d3\u05d9\u05d5\u05d5\u05d7 \u05db\u05d5\u05dc\u05dc \u05e1\u05d3\u05d9\u05df, 6 = \u05d3\u05d9\u05d5\u05d5\u05d7 \u05e2\u05dc \u05d4\u05e4\u05e7\u05d3\u05d4 \u05e0\u05d5\u05e1\u05e4\u05ea \u05dc\u05dc\u05d0 \u05ea\u05d9\u05e7\u05d5\u05df \u05d3\u05d9\u05d5\u05d5\u05d7 \u05dc\u05d0 \u05db\u05d5\u05dc\u05dc \u05e1\u05d3\u05d9\u05df."
          },
          "transferDirection": {
            "type": "integer",
            "enum": [
              1,
              2
            ],
            "description": "\u05e2\u05e8\u05db\u05d9\u05dd \u05de\u05d5\u05d2\u05d3\u05e8\u05d9\u05dd \u05d1\u05dc\u05d1\u05d3: 1 = \u05e7\u05d5\u05e4\u05d4 \u05de\u05e2\u05d1\u05d9\u05e8\u05d4 \u05de\u05e4\u05e7\u05d9\u05d3\u05d4 \u05dc\u05e7\u05d5\u05e4\u05d4 \u05de\u05e7\u05d1\u05dc\u05ea, 2 = \u05e7\u05d5\u05e4\u05d4 \u05de\u05e7\u05d1\u05dc\u05ea \u05de\u05e4\u05e7\u05d9\u05d3\u05d4 \u05dc\u05e7\u05d5\u05e4\u05d4 \u05de\u05e2\u05d1\u05d9\u05e8\u05d4."
          },
          "paymentMethodForTransfer": {
            "type": "integer",
            "enum": [
              1,
              2,
              3
            ],
            "description": "\u05e2\u05e8\u05db\u05d9\u05dd \u05de\u05d5\u05d2\u05d3\u05e8\u05d9\u05dd \u05d1\u05dc\u05d1\u05d3: 1 = \u05d4\u05e2\u05d1\u05e8\u05d4 \u05d1\u05e0\u05e7\u05d0\u05d9\u05ea, 2 = \u05e1\u05dc\u05d9\u05e7\u05d4 \u05d1\u05d0\u05de\u05e6\u05e2\u05d5\u05ea \u05de\u05e1\u05dc\u05e7\u05d4 \u05e4\u05e0\u05e1\u05d9\u05d5\u05e0\u05d9\u05ea, 3 = \u05e1\u05dc\u05d9\u05e7\u05d4 \u05d1\u05d0\u05de\u05e6\u05e2\u05d5\u05ea \u05de\u05e1\"\u05d1."
          },
          "Totaltransferamount": {
            "type": "number",
            "minimum": 0,
            "maximum": 9999999999.99,
            "multipleOf": 0.01
          },
          "Amountofaccumulatedbalances": {
            "type": "number",
            "minimum": 0,
            "maximum": 9999999999.99,
            "multipleOf": 0.01
          },
          "Totalamountofarrears": {
            "type": "number",
            "minimum": 0,
            "maximum": 9999999999.99,
            "multipleOf": 0.01
          },
          "valuedatefortransfer": {
            "type": "string",
            "format": "date",
            "description": "\u05ea\u05d0\u05e8\u05d9\u05da \u05d7\u05d5\u05e7\u05d9 YYYY-MM-DD. \u05d7\u05d5\u05d1\u05d4 \u05db\u05d0\u05e9\u05e8 \u05d4\u05e2\u05e8\u05da \u05d1\u05e9\u05d3\u05d4 \u05e1\u05da \u05d4\u05e4\u05e7\u05d3\u05d4 \u05dc\u05e7\u05d5\u05e4\u05d4 \u05d2\u05d3\u05d5\u05dc \u05de-0.",
            "pattern": "^\\d{4}-\\d{2}-\\d{2}$",
            "examples": [
              "2024-01-30"
            ]
          },
          "InternalIDnumberfortransferringfunds": {
            "type": "string",
            "format": "uuid"
          },
          "previousinternalIDnumberfortransferringfunds": {
            "type": "string",
            "format": "uuid"
          },
          "Referencenumberfortransferringfunds": {
            "type": "string",
            "maxLength": 50,
            "description": "\u05de\u05e1\u05e4\u05e8 \u05d0\u05d9\u05e9\u05d5\u05e8 \u05e2\u05dc \u05d1\u05d9\u05e6\u05d5\u05e2 \u05d4\u05e2\u05d1\u05e8\u05ea \u05d4\u05ea\u05e9\u05dc\u05d5\u05dd \u05d0\u05d5 \u05d4\u05e2\u05e8\u05da 000 \u05d1\u05de\u05e7\u05e8\u05d4 \u05e9\u05dc \u05e1\u05dc\u05d9\u05e7\u05d4 \u05d1\u05d0\u05de\u05e6\u05e2\u05d5\u05ea \u05de\u05e1\u05dc\u05e7\u05d4 \u05e4\u05e0\u05e1\u05d9\u05d5\u05e0\u05d9\u05ea."
          },
          "Totalpreviousdeposittransferred": {
            "type": "number",
            "minimum": 0,
            "description": "\u05e0\u05d5\u05de\u05e8\u05d9 >= 0. \u05d4\u05e1\u05db\u05d5\u05dd \u05d4\u05db\u05d5\u05dc\u05dc \u05e9\u05d4\u05d5\u05e4\u05e7\u05d3 \u05dc\u05d7\u05e9\u05d1\u05d5\u05df \u05d4\u05d1\u05e0\u05e7 \u05e9\u05dc \u05d4\u05d2\u05d5\u05e3 \u05d4\u05de\u05d5\u05e1\u05d3\u05d9 \u05d1\u05d4\u05e4\u05e7\u05d3\u05d5\u05ea \u05e7\u05d5\u05d3\u05de\u05d5\u05ea."
          },
          "Previousreferencenumberfortransferringfunds": {
            "type": "string",
            "maxLength": 50,
            "description": "\u05e9\u05d3\u05d4 \u05d7\u05d5\u05d1\u05d4 \u05db\u05db\u05dc \u05e9\u05d4\u05d5\u05e2\u05d1\u05e8\u05d5 \u05e2\u05e8\u05db\u05d9\u05dd 3 \u05d5-4 \u05d1\u05e9\u05d3\u05d4 '\u05e1\u05d5\u05d2 \u05e4\u05e2\u05d5\u05dc\u05d4'."
          }
        },
        "required": [
          "reportType",
          "transferDirection",
          "paymentMethodForTransfer",
          "Totaltransferamount",
          "Amountofaccumulatedbalances",
          "Totalamountofarrears",
          "Referencenumberfortransferringfunds"
        ]
      },
      "DeterminingDate99": {
        "type": "object",
        "properties": {
          "determiningDate": {
            "type": "string",
            "format": "date",
            "pattern": "^\\d{4}-\\d{2}-\\d{2}$",
            "examples": [
              "2024-01-30"
            ]
          }
        },
        "required": [
          "determiningDate"
        ]
      },
      "DocumentsAndSigners40And41": {
        "type": "array",
        "items": {
          "type": "object",
          "properties": {
            "filename": {
              "type": "string",
              "maxLength": 100
            },
            "content": {
              "type": "string",
              "maxLength": 65000
            },
            "docType": {
              "type": "integer",
              "enum": [
                1,
                2,
                3,
                4,
                5,
                6,
                7,
                8,
                9,
                10,
                11,
                12,
                13,
                14,
                15,
                16,
                17,
                18,
                19,
                20,
                21,
                22,
                23,
                24,
                25,
                26,
                27,
                28,
                29,
                30,
                31,
                32,
                33,
                34,
                35,
                36,
                37,
                38,
                39,
                40,
                41,
                42
              ]
            },
            "hasGraphicalSignature": {
              "type": "integer",
              "enum": [
                1,
                2
              ]
            },
            "signers": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "signedDate": {
                    "type": "string",
                    "format": "date",
                    "pattern": "^\\d{4}-\\d{2}-\\d{2}$",
                    "examples": [
                      "2024-01-30"
                    ]
                  },
                  "signingEntity": {
                    "type": "integer",
                    "enum": [
                      1,
                      2,
                      3,
                      4,
                      5,
                      6
                    ]
                  },
                  "isDigitallySigned": {
                    "type": "integer",
                    "enum": [
                      1,
                      2
                    ]
                  }
                },
                "required": [
                  "signedDate",
                  "signingEntity",
                  "isDigitallySigned"
                ]
              }
            }
          },
          "required": [
            "filename",
            "content",
            "docType",
            "hasGraphicalSignature",
            "signers"
          ]
        }
      },
      "Error": {
        "type": "object",
        "description": "Standard error format according to RFC 7807",
        "properties": {
          "type": {
            "type": "string",
            "format": "uri",
            "description": "A URI reference that identifies the problem type."
          },
          "title": {
            "type": "string",
            "description": "A short, human-readable summary of the problem type."
          },
          "status": {
            "type": "integer",
            "format": "int32",
            "description": "The HTTP status code generated by the origin server for this occurrence of the problem."
          },
          "detail": {
            "type": "string",
            "description": "A human-readable explanation specific to this occurrence of the problem."
          },
          "instance": {
            "type": "string",
            "format": "uri",
            "description": "A URI reference that identifies the specific occurrence of the problem."
          },
          "tppMessages": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "category": {
                  "type": "string",
                  "enum": [
                    "ERROR",
                    "WARNING"
                  ]
                },
                "code": {
                  "type": "string"
                },
                "path": {
                  "type": "string"
                },
                "text": {
                  "type": "string"
                }
              }
            },
            "description": "List of messages (Berlin Group extension)"
          }
        },
        "required": [
          "type",
          "title",
          "status"
        ]
      },
      "FundTypeAndDetails21And22": {
        "type": "array",
        "items": {
          "type": "object",
          "properties": {
            "fundType": {
              "type": "integer",
              "enum": [
                1,
                2,
                3,
                4,
                5,
                6,
                7,
                8,
                9,
                10,
                13,
                14,
                15,
                16
              ]
            },
            "fundDetails": {
              "type": "object",
              "properties": {
                "fundDataType": {
                  "type": "integer",
                  "enum": [
                    1,
                    2,
                    3,
                    4,
                    5,
                    6
                  ]
                },
                "fundCode": {
                  "type": "integer"
                },
                "fundName": {
                  "type": "string",
                  "maxLength": 50
                },
                "pensionType": {
                  "type": "integer",
                  "enum": [
                    1,
                    2,
                    3
                  ]
                },
                "deducationFileNumber": {
                  "type": "string",
                  "maxLength": 9
                },
                "taxFundNumber": {
                  "type": "string",
                  "maxLength": 4
                }
              },
              "required": [
                "fundDataType",
                "fundCode",
                "fundName",
                "deducationFileNumber",
                "taxFundNumber"
              ]
            }
          },
          "required": [
            "fundType",
            "fundDetails"
          ],
          "oneOf": [
            {
              "properties": {
                "fundType": {
                  "enum": [
                    2,
                    13
                  ]
                },
                "fundDetails": {
                  "required": [
                    "pensionType"
                  ]
                }
              }
            },
            {
              "properties": {
                "fundType": {
                  "not": {
                    "enum": [
                      2,
                      13
                    ]
                  }
                }
              }
            }
          ]
        }
      },
      "InstitutionalBodyDetails20": {
        "type": "object",
        "properties": {
          "entityType": {
            "type": "integer",
            "enum": [
              1
            ]
          },
          "idType": {
            "type": "integer",
            "enum": [
              1,
              2,
              5,
              6,
              7,
              8,
              9,
              10,
              11,
              12,
              13,
              14,
              15
            ]
          },
          "idNumber": {
            "type": "string",
            "maxLength": 16
          },
          "entityName": {
            "type": "string",
            "maxLength": 50
          },
          "deductionFileNumber": {
            "type": "string",
            "maxLength": 9
          }
        },
        "required": [
          "entityType",
          "idType",
          "idNumber",
          "entityName",
          "deductionFileNumber"
        ]
      },
      "InsuranceCoverageDetails104": {
        "type": "object",
        "properties": {
          "NumberOfFollowingInsuranceMonthsForThelastDeathRiskInTheFund": {
            "type": "integer",
            "minimum": 0,
            "description": "\u05e0\u05d5\u05de\u05e8\u05d9 >= 0."
          },
          "NumberOfFollowingInsuranceMonthsForThelastDisabilityRisksInTheFund": {
            "type": "integer",
            "minimum": 0,
            "description": "\u05e0\u05d5\u05de\u05e8\u05d9 >= 0."
          },
          "TheInsuranceAmountInTransferFund": {
            "type": "integer",
            "minimum": 0,
            "description": "\u05e0\u05d5\u05de\u05e8\u05d9 >= 0."
          },
          "PaymentOfDisabilityAllowance": {
            "type": "number",
            "minimum": 0.01,
            "maximum": 9999999999.99,
            "multipleOf": 0.01
          },
          "PaymentOfRelativeAllowance": {
            "type": "number",
            "minimum": 0.01,
            "maximum": 9999999999.99,
            "multipleOf": 0.01
          },
          "TransferFoundCodeinvestmentRoute": {
            "type": "string",
            "maxLength": 30,
            "description": "\u05dc\u05e4\u05d9 \u05e7\u05d9\u05d3\u05d5\u05d3 \u05d0\u05d7\u05d9\u05d3. \u05d4\u05e7\u05d9\u05d3\u05d5\u05d3 \u05d9\u05d5\u05e6\u05d2 \u05d1\u05de\u05dc\u05d5\u05d0 \u05e2\u05e8\u05db\u05d9\u05d5, \u05db\u05dc\u05d5\u05de\u05e8, \u05d9\u05d5\u05e2\u05d1\u05e8\u05d5 30 \u05e1\u05e4\u05e8\u05d5\u05ea. \u05e2\u05e8\u05db\u05d9\u05dd \u05d1\u05e7\u05d9\u05d3\u05d5\u05d3 \u05e9\u05d0\u05d9\u05e0\u05dd \u05e8\u05dc\u05d1\u05e0\u05d8\u05d9\u05d9\u05dd \u05dc\u05e9\u05d3\u05d4 \u05d6\u05d4 \u05d9\u05d5\u05e6\u05d2\u05d5 \u05e2\u05dc \u05d9\u05d3\u05d9 \u05d0\u05e4\u05e1\u05d9\u05dd. \u05d4\u05e9\u05d3\u05d4 \u05e8\u05dc\u05d1\u05e0\u05d8\u05d9 \u05e8\u05e7 \u05d1\u05d4\u05e2\u05d1\u05e8\u05d4 \u05de\u05e7\u05e8\u05df \u05e4\u05e0\u05e1\u05d9\u05d4."
          },
          "AgeOfInsuranceEndInCaseOfLossOfWorkingCapacityAtTransferDate": {
            "type": "integer",
            "minimum": 0,
            "description": "\u05e0\u05d5\u05de\u05e8\u05d9 >= 0. \u05d1\u05e9\u05d3\u05d4 \u05d6\u05d4 \u05d9\u05e9 \u05dc\u05d3\u05d5\u05d5\u05d7 \u05d0\u05ea \u05d4\u05d2\u05d9\u05dc \u05d1\u05d5 \u05d9\u05e1\u05ea\u05d9\u05d9\u05dd \u05d4\u05d1\u05d9\u05d8\u05d5\u05d7 \u05dc\u05d0\u05d5\u05d1\u05d3\u05df \u05db\u05d5\u05e9\u05e8 \u05e2\u05d1\u05d5\u05d3\u05d4 \u05e9\u05dc \u05d4\u05e2\u05de\u05d9\u05ea. \u05db\u05db\u05dc \u05e9\u05d1\u05e7\u05d5\u05e4\u05d4 \u05d4\u05de\u05e2\u05d1\u05d9\u05e8\u05d4 \u05dc\u05e2\u05de\u05d9\u05ea \u05d0\u05d9\u05df \u05db\u05d9\u05e1\u05d5\u05d9 \u05d1\u05d9\u05d8\u05d5\u05d7\u05d9 \u05dc\u05d0\u05d5\u05d1\u05d3\u05df \u05db\u05d5\u05e9\u05e8 \u05e2\u05d1\u05d5\u05d3\u05d4 \u05d9\u05e9 \u05dc\u05d4\u05e2\u05d1\u05d9\u05e8 \u05d1\u05e9\u05d3\u05d4 \u05d6\u05d4 \u05d0\u05ea \u05d4\u05e2\u05e8\u05da 0."
          },
          "AgeOfInsuranceEndInCaseOfDeathAtTransferDate": {
            "type": "integer",
            "minimum": 0,
            "description": "\u05e0\u05d5\u05de\u05e8\u05d9 >= 0. \u05d1\u05e9\u05d3\u05d4 \u05d6\u05d4 \u05d9\u05e9 \u05dc\u05d3\u05d5\u05d5\u05d7 \u05d0\u05ea \u05d4\u05d2\u05d9\u05dc \u05d1\u05d5 \u05d9\u05e1\u05ea\u05d9\u05d9\u05dd \u05d4\u05d1\u05d9\u05d8\u05d5\u05d7 \u05dc\u05de\u05e7\u05e8\u05d4 \u05de\u05d5\u05d5\u05ea \u05e9\u05dc \u05d4\u05e2\u05de\u05d9\u05ea. \u05db\u05db\u05dc \u05e9\u05d1\u05e7\u05d5\u05e4\u05d4 \u05d4\u05de\u05e2\u05d1\u05d9\u05e8\u05d4 \u05dc\u05e2\u05de\u05d9\u05ea \u05d0\u05d9\u05df \u05db\u05d9\u05e1\u05d5\u05d9 \u05d1\u05d9\u05d8\u05d5\u05d7\u05d9 \u05dc\u05de\u05e7\u05e8\u05d4 \u05de\u05d5\u05d5\u05ea \u05d9\u05e9 \u05dc\u05d4\u05e2\u05d1\u05d9\u05e8 \u05d1\u05e9\u05d3\u05d4 \u05d6\u05d4 \u05d0\u05ea \u05d4\u05e2\u05e8\u05da 0."
          }
        },
        "required": [
          "NumberOfFollowingInsuranceMonthsForThelastDeathRiskInTheFund",
          "NumberOfFollowingInsuranceMonthsForThelastDisabilityRisksInTheFund",
          "TheInsuranceAmountInTransferFund",
          "PaymentOfDisabilityAllowance",
          "PaymentOfRelativeAllowance",
          "AgeOfInsuranceEndInCaseOfLossOfWorkingCapacityAtTransferDate",
          "AgeOfInsuranceEndInCaseOfDeathAtTransferDate"
        ]
      },
      "InsurancefundConverargesInsuranceExclusions106": {
        "type": "object",
        "properties": {
          "ExclusionType": {
            "type": "integer",
            "enum": [
              1,
              2,
              3
            ]
          },
          "ExclusionReasonDetails": {
            "type": "string",
            "maxLength": 500
          }
        },
        "required": [
          "ExclusionType",
          "ExclusionReasonDetails"
        ]
      },
      "InsurancefundConverargesInsuranceExtras105": {
        "type": "array",
        "items": {
          "type": "object",
          "properties": {
            "AdditionType": {
              "type": "integer",
              "enum": [
                1,
                2,
                3
              ],
              "description": "\u05e2\u05e8\u05db\u05d9\u05dd \u05de\u05d5\u05d2\u05d3\u05e8\u05d9\u05dd \u05d1\u05dc\u05d1\u05d3: 1 = \u05ea\u05d5\u05e1\u05e4\u05ea \u05d1\u05d0\u05d7\u05d5\u05d6\u05d9\u05dd (1/100), 2 = \u05ea\u05d5\u05e1\u05e4\u05ea \u05d1\u05e4\u05e8\u05d5\u05de\u05d9\u05dc (1/1000), 3 = \u05ea\u05d5\u05e1\u05e4\u05ea \u05d1\u05e1\u05db\u05d5\u05dd. \u05d0\u05dd \u05e0\u05d9\u05ea\u05d4 \u05ea\u05d5\u05e1\u05e4\u05ea \u05dc\u05e4\u05e8\u05de\u05d9\u05d4 \u05d1\u05e9\u05dc \u05d7\u05d9\u05ea\u05d5\u05dd \u05d9\u05e9 \u05dc\u05e6\u05d9\u05d9\u05df \u05d0\u05ea \u05e1\u05d5\u05d2 \u05d4\u05ea\u05d5\u05e1\u05e4\u05ea \u05dc\u05ea\u05e2\u05e8\u05d9\u05e3 \u05d4\u05db\u05d9\u05e1\u05d5\u05d9 \u05db\u05e4\u05d9 \u05e9\u05d0\u05d5\u05e9\u05e8."
            },
            "AdditionRate": {
              "type": "number",
              "minimum": 0.01,
              "maximum": 99999.99,
              "multipleOf": 0.01
            },
            "AdditionAmount": {
              "type": "number",
              "minimum": 0.01,
              "maximum": 999999999.99,
              "multipleOf": 0.01
            },
            "AdditionTypeCode": {
              "type": "integer",
              "enum": [
                1,
                2,
                3
              ],
              "description": "\u05e2\u05e8\u05db\u05d9\u05dd \u05de\u05d5\u05d2\u05d3\u05e8\u05d9\u05dd \u05d1\u05dc\u05d1\u05d3: 1 = \u05e8\u05e4\u05d5\u05d0\u05d9, 2 = \u05de\u05e7\u05e6\u05d5\u05e2\u05d9, 3 = \u05ea\u05d7\u05d1\u05d9\u05d1."
            },
            "InsuranceCostIncreaseFinishDate": {
              "type": "string",
              "format": "date",
              "description": "\u05db\u05db\u05dc \u05e9\u05e0\u05d9\u05e7\u05e0\u05ea\u05d4 \u05ea\u05d5\u05e1\u05e4\u05ea \u05de\u05d5\u05d2\u05d1\u05dc\u05ea \u05d1\u05d6\u05de\u05df \u05d9\u05e9 \u05dc\u05e6\u05d9\u05d9\u05df \u05d0\u05ea \u05ea\u05d0\u05e8\u05d9\u05da \u05d4\u05e1\u05d9\u05d5\u05dd. \u05ea\u05d0\u05e8\u05d9\u05da \u05d7\u05d5\u05e7\u05d9. YYYY-MM-DD.",
              "pattern": "^\\d{4}-\\d{2}-\\d{2}$",
              "examples": [
                "2024-01-30"
              ]
            },
            "InsurancePremiumsAdditionalCostReason": {
              "type": "string",
              "maxLength": 500,
              "description": "\u05e1\u05d9\u05d1\u05d4 \u05dc\u05ea\u05d5\u05e1\u05e4\u05ea \u05e2\u05dc\u05d5\u05ea \u05d4\u05e4\u05e8\u05de\u05d9\u05d4."
            }
          },
          "required": [
            "AdditionType",
            "AdditionTypeCode",
            "InsuranceCostIncreaseFinishDate",
            "InsurancePremiumsAdditionalCostReason"
          ]
        }
      },
      "intermediateEntity": {
        "type": "object",
        "properties": {
          "entityType": {
            "type": "number",
            "enum": [
              1,
              2,
              3,
              4,
              5,
              6,
              7,
              8,
              9,
              10,
              11,
              12,
              13,
              14
            ]
          },
          "idType": {
            "type": "number",
            "enum": [
              1,
              2,
              3,
              4,
              5,
              6,
              7,
              8,
              9,
              10,
              11,
              12,
              13,
              14,
              15
            ]
          },
          "idNumber": {
            "type": "string",
            "maxLength": 16
          },
          "entityName": {
            "type": "string",
            "maxLength": 16
          },
          "contactFirstName": {
            "type": "string",
            "maxLength": 50
          },
          "contactLastName": {
            "type": "string",
            "maxLength": 50
          },
          "contactLandline": {
            "type": "string",
            "maxLength": 9
          },
          "contactMobileNumber": {
            "type": "string",
            "maxLength": 10
          },
          "contactEmail": {
            "type": "string",
            "maxLength": 50
          },
          "internalInstitutionalId": {
            "type": "string",
            "maxLength": 16
          },
          "licenseeDetails": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "entityType": {
                  "type": "number",
                  "enum": [
                    1,
                    2,
                    3,
                    4,
                    5,
                    6,
                    7,
                    8,
                    9,
                    10,
                    11,
                    12,
                    13,
                    14
                  ]
                },
                "idType": {
                  "type": "number",
                  "enum": [
                    1,
                    2,
                    3,
                    4,
                    5,
                    6,
                    7,
                    8,
                    9,
                    10,
                    11,
                    12,
                    13,
                    14,
                    15
                  ]
                },
                "idNumber": {
                  "type": "string",
                  "maxLength": 16
                },
                "licenseeType": {
                  "type": "integer",
                  "enum": [
                    1,
                    2,
                    3,
                    4
                  ]
                },
                "licenseHolderId": {
                  "type": "string",
                  "maxLength": 8
                },
                "firstName": {
                  "type": "string",
                  "maxLength": 50
                },
                "lastName": {
                  "type": "string",
                  "maxLength": 50
                },
                "mobileNumber": {
                  "type": "string",
                  "maxLength": 10
                },
                "landline": {
                  "type": "string",
                  "maxLength": 9
                },
                "email": {
                  "type": "string",
                  "format": "email",
                  "maxLength": 50
                },
                "internalEntityId": {
                  "type": "string",
                  "maxLength": 50
                },
                "corporationName": {
                  "type": "string",
                  "maxLength": 200
                },
                "corporationEmail": {
                  "type": "string",
                  "format": "email",
                  "maxLength": 50
                },
                "corporationPhone": {
                  "type": "string",
                  "maxLength": 9
                },
                "corporationIdNumber": {
                  "type": "string",
                  "maxLength": 50
                }
              },
              "required": [
                "entityType",
                "idType",
                "idNumber",
                "licenseeType",
                "licenseHolderId",
                "firstName",
                "lastName",
                "mobileNumber",
                "landline",
                "email",
                "corporationName",
                "corporationEmail",
                "corporationPhone",
                "corporationIdNumber"
              ]
            }
          }
        },
        "required": [
          "entityType",
          "idType",
          "idNumber",
          "entityName",
          "contactFirstName",
          "contactLastName",
          "contactLandline",
          "contactEmail",
          "licenseeDetails"
        ]
      },
      "PersonalDefinition93": {
        "type": "array",
        "description": " \u05d1\u05dc\u05d5\u05e7 \u05dc\u05de\u05d9\u05dc\u05d5\u05d9 \u05d7\u05d5\u05d1\u05d4 \u05d1- 3003 ",
        "items": {
          "type": "object",
          "properties": {
            "transactionDefinition": {
              "type": "integer",
              "enum": [
                1,
                2
              ]
            }
          },
          "required": [
            "transactionDefinition"
          ]
        }
      },
      "QualificationPeriodInsuranceTracks107": {
        "type": "array",
        "items": {
          "type": "object",
          "properties": {
            "UpdateInsuranceType": {
              "type": "integer",
              "enum": [
                1,
                2,
                3,
                4,
                5,
                6,
                7,
                8,
                9,
                10,
                11,
                12,
                13,
                14,
                15
              ],
              "description": "\u05e1\u05d5\u05d2 \u05e2\u05d3\u05db\u05d5\u05df \u05d1\u05d9\u05d8\u05d5\u05d7"
            },
            "InsuranceOrphanCoverageRate": {
              "type": "number",
              "format": "decimal",
              "minimum": 0,
              "maximum": 999.99,
              "description": "\u05e9\u05d9\u05e2\u05d5\u05e8 \u05db\u05d9\u05e1\u05d5\u05d9 \u05d9\u05ea\u05d5\u05de\u05d9\u05dd"
            },
            "InsuranceWidowCoverageRate": {
              "type": "number",
              "format": "decimal",
              "minimum": 0,
              "maximum": 999.99,
              "description": "\u05e9\u05d9\u05e2\u05d5\u05e8 \u05db\u05d9\u05e1\u05d5\u05d9 \u05d0\u05dc\u05de\u05e0\u05d5\u05ea"
            },
            "InsuranceIncapacityCoverageRate": {
              "type": "number",
              "format": "decimal",
              "minimum": 0,
              "maximum": 999.99,
              "description": "\u05e9\u05d9\u05e2\u05d5\u05e8 \u05db\u05d9\u05e1\u05d5\u05d9 \u05e0\u05db\u05d5\u05ea"
            },
            "InsuranceIncapacitySonCoverageRate": {
              "type": "number",
              "format": "decimal",
              "minimum": 0,
              "maximum": 999.99,
              "description": "\u05e9\u05d9\u05e2\u05d5\u05e8 \u05db\u05d9\u05e1\u05d5\u05d9 \u05e0\u05db\u05d5\u05ea \u05dc\u05d1\u05df"
            },
            "EndCoverageInsuranceEnd": {
              "type": "integer",
              "description": "\u05e1\u05d9\u05d5\u05dd \u05db\u05d9\u05e1\u05d5\u05d9 \u05d1\u05d9\u05d8\u05d5\u05d7"
            },
            "UpdateDate": {
              "type": "string",
              "format": "date",
              "description": "\u05ea\u05d0\u05e8\u05d9\u05da \u05e2\u05d3\u05db\u05d5\u05df",
              "pattern": "^\\d{4}-\\d{2}-\\d{2}$",
              "examples": [
                "2024-01-30"
              ]
            },
            "InsuranceRoutName": {
              "type": "string",
              "maxLength": 500,
              "description": "\u05e9\u05dd \u05de\u05e1\u05dc\u05d5\u05dc \u05d1\u05d9\u05d8\u05d5\u05d7"
            },
            "DisabilityAllowanceChangeType": {
              "type": "integer",
              "enum": [
                1,
                2,
                3,
                4,
                5,
                6,
                7
              ],
              "description": "\u05e1\u05d5\u05d2 \u05e9\u05d9\u05e0\u05d5\u05d9 \u05e7\u05e6\u05d1\u05ea \u05e0\u05db\u05d5\u05ea"
            }
          },
          "required": [
            "UpdateInsuranceType",
            "InsuranceOrphanCoverageRate",
            "InsuranceWidowCoverageRate",
            "InsuranceIncapacityCoverageRate",
            "EndCoverageInsuranceEnd",
            "UpdateDate"
          ]
        }
      },
      "QualificationPeriodSalaryDetermines108": {
        "type": "array",
        "items": {
          "type": "object",
          "properties": {
            "SalaryAmountForInsuranceCoverage": {
              "type": "number",
              "minimum": 0,
              "maximum": 99999999.99,
              "multipleOf": 0.01
            },
            "MounthOfSalarAmountForInsuranceCoverage": {
              "type": "string",
              "format": "date",
              "pattern": "^\\d{4}-\\d{2}-\\d{2}$",
              "examples": [
                "2024-01-30"
              ]
            }
          },
          "required": [
            "SalaryAmountForInsuranceCoverage",
            "MounthOfSalarAmountForInsuranceCoverage"
          ]
        }
      },
      "requestheader": {
        "type": "object",
        "properties": {
          "interfaceType": {
            "type": "integer",
            "enum": [
              1
            ]
          },
          "primaryVersionNumber": {
            "type": "number"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "pattern": "^\\d{4}-\\d{2}-\\d{2}T\\d{2}:\\d{2}:\\d{2}(\\.\\d{3})?Z?$",
            "examples": [
              "2024-01-30T15:00:00Z"
            ]
          },
          "envName": {
            "type": "string",
            "enum": [
              "1",
              "2"
            ]
          },
          "requestGuid": {
            "type": "string",
            "maxLength": 36
          },
          "communicatingEntities": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CommunicatingEntity"
            }
          }
        },
        "required": [
          "interfaceType",
          "primaryVersionNumber",
          "createdAt",
          "envName",
          "requestGuid",
          "communicatingEntities"
        ]
      },
      "SeverancePayAccountingDetails109": {
        "type": "array",
        "items": {
          "type": "object",
          "properties": {
            "accountingAmount": {
              "type": "number",
              "minimum": 0.01,
              "maximum": 9999999999.99,
              "multipleOf": 0.01
            },
            "accountingDate": {
              "type": "string",
              "format": "date",
              "pattern": "^\\d{4}-\\d{2}-\\d{2}$",
              "examples": [
                "2024-01-30"
              ]
            },
            "amountForWhichTaxIsDeducted": {
              "type": "number",
              "minimum": 0.01,
              "maximum": 9999999999.99,
              "multipleOf": 0.01
            },
            "exemptionAmount": {
              "type": "number",
              "minimum": 0.01,
              "maximum": 9999999999.99,
              "multipleOf": 0.01
            },
            "deductedAmount": {
              "type": "number",
              "minimum": 0.01,
              "maximum": 9999999999.99,
              "multipleOf": 0.01
            }
          },
          "required": [
            "accountingAmount",
            "accountingDate",
            "amountForWhichTaxIsDeducted",
            "exemptionAmount",
            "deductedAmount"
          ]
        }
      },
      "SeverancePayBalanceDetails76": {
        "type": "array",
        "items": {
          "type": "object",
          "properties": {
            "accountComponentType": {
              "type": "integer",
              "enum": [
                1,
                10,
                15,
                16
              ]
            },
            "accumulationBalanceAmount": {
              "type": "number",
              "minimum": 0,
              "maximum": 99999999.99,
              "multipleOf": 0.01
            },
            "estimatedBalanceAmountDate": {
              "type": "string",
              "format": "date",
              "pattern": "^\\d{4}-\\d{2}-\\d{2}$",
              "examples": [
                "2024-01-30"
              ]
            },
            "severancePayAmountUntilEntryDateArticle14": {
              "type": "number",
              "minimum": 0,
              "maximum": 999999.99,
              "multipleOf": 0.01
            },
            "severanceAmountActuallyORForRedemptionForEmployer": {
              "type": "number",
              "minimum": 0,
              "maximum": 999999.99,
              "multipleOf": 0.01
            },
            "pensionFromBalanceSeveranceForRedemptionForTax": {
              "type": "number",
              "minimum": 0,
              "maximum": 999999.99,
              "multipleOf": 0.01
            },
            "pensionFromBalanceSeveranceRedemptionForEmployer": {
              "type": "number",
              "minimum": 0,
              "maximum": 999999.99,
              "multipleOf": 0.01
            },
            "conversionToPansionDate": {
              "type": "string",
              "format": "date",
              "pattern": "^\\d{4}-\\d{2}-\\d{2}$",
              "examples": [
                "2024-01-30"
              ]
            },
            "previousEmployerLastDepositDate": {
              "type": "string",
              "format": "date",
              "pattern": "^\\d{4}-\\d{2}-\\d{2}$",
              "examples": [
                "2024-01-30"
              ]
            },
            "previousEmployerSeveranceBalance": {
              "type": "number",
              "minimum": 0,
              "maximum": 99999.99,
              "multipleOf": 0.01
            },
            "sumOfpensionFromBalanceSeverance": {
              "type": "number",
              "minimum": 0,
              "maximum": 999999.99,
              "multipleOf": 0.01
            }
          },
          "required": [
            "accountComponentType",
            "accumulationBalanceAmount",
            "estimatedBalanceAmountDate"
          ]
        }
      },
      "SeverancePayBalanceDetailsUnderPayerAndTaxLayer77": {
        "type": "array",
        "items": {
          "type": "object",
          "properties": {
            "payerTypeCode": {
              "type": "integer",
              "enum": [
                3,
                4,
                5,
                6
              ]
            },
            "severanceStatusTypeCode": {
              "type": "integer",
              "enum": [
                1,
                2,
                3,
                4,
                5,
                6,
                7,
                8,
                9,
                10,
                11,
                12,
                13,
                14
              ]
            },
            "paymentTypeCode": {
              "type": "integer",
              "enum": [
                20,
                22,
                30
              ]
            },
            "severanceAmountForStatusTypeCode": {
              "type": "number",
              "minimum": 0,
              "maximum": 99999999.99,
              "multipleOf": 0.01
            }
          },
          "required": [
            "payerTypeCode",
            "severanceStatusTypeCode",
            "paymentTypeCode",
            "severanceAmountForStatusTypeCode"
          ]
        }
      },
      "SeverancePayPeriodOfEmploymentAndStatus75": {
        "type": "object",
        "properties": {
          "startWorkDate": {
            "type": "string",
            "format": "date",
            "pattern": "^\\d{4}-\\d{2}-\\d{2}$",
            "examples": [
              "2024-01-30"
            ]
          },
          "endWorkDate": {
            "type": "string",
            "format": "date",
            "pattern": "^\\d{4}-\\d{2}-\\d{2}$",
            "examples": [
              "2024-01-30"
            ]
          },
          "salaryMonthWithFirstEmployerDeposit": {
            "type": "string",
            "format": "date",
            "pattern": "^\\d{4}-\\d{2}-\\d{2}$",
            "examples": [
              "2024-01-30"
            ]
          },
          "salaryMonthWithLastEmployerDeposit": {
            "type": "string",
            "format": "date",
            "pattern": "^\\d{4}-\\d{2}-\\d{2}$",
            "examples": [
              "2024-01-30"
            ]
          },
          "currentSeverancePayStatusForAccounting": {
            "type": "integer",
            "enum": [
              1,
              2,
              3,
              4,
              5
            ]
          },
          "severanceStatusEffectiveDate": {
            "type": "string",
            "format": "date",
            "pattern": "^\\d{4}-\\d{2}-\\d{2}$",
            "examples": [
              "2024-01-30"
            ]
          },
          "article14StartDateVariation": {
            "type": "integer",
            "enum": [
              1,
              2
            ]
          }
        },
        "required": [
          "salaryMonthWithFirstEmployerDeposit",
          "salaryMonthWithLastEmployerDeposit",
          "currentSeverancePayStatusForAccounting"
        ]
      },
      "SeverancePayTotalForEmployer78": {
        "type": "object",
        "properties": {
          "numberOfEmployeesForWhomInformationWasTransferred": {
            "type": "integer"
          },
          "compensationAmountWithoutArticle14ToEmployer": {
            "type": "number",
            "minimum": 0,
            "maximum": 9999999999.99,
            "multipleOf": 0.01
          }
        },
        "required": [
          "numberOfEmployeesForWhomInformationWasTransferred",
          "compensationAmountWithoutArticle14ToEmployer"
        ]
      },
      "TaxExemptBalances110": {
        "type": "array",
        "items": {
          "type": "object",
          "properties": {
            "exemptPaymentType": {
              "type": "integer",
              "enum": [
                1,
                2,
                3,
                4
              ],
              "description": "\u05e2\u05e8\u05db\u05d9\u05dd \u05de\u05d5\u05d2\u05d3\u05e8\u05d9\u05dd \u05d1\u05dc\u05d1\u05d3: 1 = \u05ea\u05d2\u05de\u05d5\u05dc\u05d9\u05dd, 2 = \u05e4\u05d9\u05e6\u05d5\u05d9\u05d9\u05dd, 3 = \u05db\u05e1\u05e4\u05d9\u05dd \u05e9\u05d4\u05d5\u05e2\u05d1\u05e8\u05d5 \u05dc\u05d7\u05e9\u05d1\u05d5\u05df \u05d7\u05d3\u05e9 \u05db\u05d0\u05de\u05d5\u05e8 \u05d1\u05e1\u05e2\u05d9\u05e3 23(\u05d0)(2\u05d0) \u05d0\u05d5 (2\u05d1) \u05dc\u05d7\u05d5\u05e7 \u05d4\u05e4\u05d9\u05e7\u05d5\u05d7 \u05e2\u05dc \u05e7\u05d5\u05e4\u05d5\u05ea \u05d4\u05d2\u05de\u05dc, 4 = \u05db\u05e1\u05e4\u05d9 \u05e4\u05d9\u05e6\u05d5\u05d9\u05d9\u05dd \u05e9\u05d4\u05d5\u05e9\u05d0\u05e8\u05d5 \u05d1\u05e7\u05d5\u05e4\u05d4 \u05d0\u05d9\u05e9\u05d9\u05ea \u05dc\u05e4\u05d9\u05e6\u05d5\u05d9\u05d9\u05dd \u05db\u05e4\u05d9\u05e6\u05d5\u05d9\u05d9\u05dd \u05e0\u05d6\u05d9\u05dc\u05d9\u05dd \u05dc\u05e4\u05e0\u05d9 2008 (\u05db\u05e1\u05e4\u05d9 \u05e4\u05d9\u05e6\u05d5\u05d9\u05d9\u05dd \u05d0\u05e9\u05e8 \u05d1\u05d5\u05e6\u05e2\u05d4 \u05d1\u05d2\u05d9\u05e0\u05dd \u05d4\u05ea\u05d7\u05e9\u05d1\u05e0\u05d5\u05ea \u05d5\u05d4\u05d5\u05e9\u05d0\u05e8\u05d5 \u05d1\u05e7\u05d5\u05e4\u05d4 \u05dc\u05ea\u05d2\u05de\u05d5\u05dc\u05d9\u05dd)"
            },
            "exemptPaymentDate": {
              "type": "string",
              "format": "date",
              "description": "\u05ea\u05d0\u05e8\u05d9\u05da \u05d7\u05d5\u05e7\u05d9 YYYY-MM-DD.",
              "pattern": "^\\d{4}-\\d{2}-\\d{2}$",
              "examples": [
                "2024-01-30"
              ]
            },
            "exemptpaymentsFund": {
              "type": "number",
              "minimum": 0.01,
              "maximum": 9999999999.99,
              "multipleOf": 0.01
            },
            "exemptpaymentsFundCpi": {
              "type": "number",
              "minimum": 0.01,
              "maximum": 9999999999.99,
              "multipleOf": 0.01
            },
            "exemptpaymentsFundCpiwithprofits": {
              "type": "number",
              "minimum": 0.01,
              "maximum": 9999999999.99,
              "multipleOf": 0.01
            }
          },
          "required": [
            "exemptPaymentType",
            "exemptpaymentsFund",
            "exemptpaymentsFundCpiwithprofits"
          ]
        }
      },
      "TransactionBasicDetails70": {
        "type": "object",
        "properties": {
          "transactionType": {
            "type": "integer",
            "enum": [
              1,
              2,
              3,
              4,
              5,
              6,
              7,
              8,
              9,
              10
            ]
          },
          "depositeStatus": {
            "type": "integer",
            "enum": [
              1,
              2,
              3
            ]
          },
          "salaryMonth": {
            "type": "integer",
            "minimum": 1,
            "maximum": 12,
            "description": "Month (1-12)"
          },
          "taxYear": {
            "type": "integer",
            "minimum": 1948,
            "maximum": 9999
          },
          "transcationRevaluationDate": {
            "type": "string",
            "format": "date",
            "pattern": "^\\d{4}-\\d{2}-\\d{2}$",
            "examples": [
              "2024-01-30"
            ]
          },
          "transactionAmount": {
            "type": "number",
            "minimum": 0.01,
            "maximum": 999999999.99,
            "multipleOf": 0.01
          },
          "depositeType": {
            "type": "integer",
            "enum": [
              1,
              2,
              3,
              4,
              5,
              6,
              7,
              8,
              9
            ]
          },
          "depositeName": {
            "type": "string",
            "maxLength": 50
          },
          "idType": {
            "type": "integer",
            "enum": [
              1,
              2,
              3,
              4,
              5,
              6,
              7,
              8,
              9,
              10,
              11,
              12,
              13,
              14,
              15
            ]
          },
          "idNumber": {
            "type": "string",
            "maxLength": 16
          },
          "transactionIdNumber": {
            "type": "string",
            "maxLength": 14
          },
          "chargedManagmentfeeFromDeposite": {
            "type": "number",
            "minimum": 0,
            "maximum": 999999.99,
            "multipleOf": 0.01
          },
          "chargedInsuranceFeeFromDeposite": {
            "type": "number",
            "minimum": 0,
            "maximum": 999999.99,
            "multipleOf": 0.01
          },
          "netNominalDepositAmountForCouponType": {
            "type": "number",
            "minimum": 0,
            "maximum": 9999999.99,
            "multipleOf": 0.01
          },
          "accountComponentType": {
            "type": "integer",
            "enum": [
              1,
              2,
              3,
              4,
              5,
              7,
              8,
              12,
              13,
              14,
              15,
              16,
              17
            ]
          }
        },
        "required": [
          "transactionType",
          "depositeStatus",
          "taxYear",
          "transcationRevaluationDate",
          "accountComponentType",
          "transactionAmount",
          "depositeType",
          "depositeName",
          "idType",
          "idNumber",
          "transactionIdNumber",
          "chargedManagmentfeeFromDeposite",
          "chargedInsuranceFeeFromDeposite",
          "netNominalDepositAmountForCouponType"
        ],
        "oneOf": [
          {
            "properties": {
              "transactionType": {
                "enum": [
                  1,
                  3
                ]
              }
            },
            "required": [
              "salaryMonth"
            ]
          },
          {
            "properties": {
              "transactionType": {
                "enum": [
                  2,
                  4,
                  5,
                  6,
                  7,
                  8,
                  9,
                  10
                ]
              }
            }
          }
        ]
      },
      "TransactionDetailsExtended71": {
        "type": "array",
        "items": {
          "type": "object",
          "properties": {
            "cumulativeNetYield": {
              "type": "number",
              "minimum": 0,
              "maximum": 9999.99,
              "multipleOf": 0.01
            },
            "realTranscationAmount": {
              "type": "number",
              "minimum": 0,
              "maximum": 9999999.99,
              "multipleOf": 0.01
            },
            "AccountComponentType": {
              "type": "integer",
              "enum": [
                1,
                2,
                3,
                4,
                5,
                7,
                8,
                12,
                13,
                14,
                15,
                16,
                17
              ]
            },
            "depositeClassification": {
              "type": "integer",
              "enum": [
                1,
                2
              ]
            }
          },
          "required": [
            "cumulativeNetYield",
            "realTranscationAmount",
            "AccountComponentType",
            "depositeClassification"
          ]
        }
      },
      "TransactionPart94": {
        "type": "object",
        "properties": {
          "transferAmount": {
            "type": "number",
            "minimum": 0,
            "description": "\u05e1\u05db\u05d5\u05dd \u05dc\u05e0\u05d9\u05d5\u05d3- \u05e1\u05db\u05d5\u05dd \u05d7\u05dc\u05e7\u05d9 (94) Transaction - part"
          },
          "trasferRate": {
            "type": "number",
            "minimum": 0.01,
            "maximum": 99.99,
            "description": "\u05e0\u05d5\u05de\u05e8\u05d9 >= 0. \u05e9\u05d9\u05e2\u05d5\u05e8 \u05d7\u05d5\u05e7\u05d9. \u05d4\u05e9\u05d9\u05e2\u05d5\u05e8 \u05d9\u05d5\u05e6\u05d2 \u05db\u05de\u05e1\u05e4\u05e8 \u05d1\u05d9\u05df 0.01 \u05dc-99.99. \u05d0\u05d9\u05df \u05dc\u05d4\u05e2\u05d1\u05d9\u05e8 \u05e1\u05d9\u05de\u05e0\u05d9\u05dd."
          },
          "trasferRateAmout": {
            "type": "number",
            "minimum": 0,
            "maximum": 999999999.99,
            "multipleOf": 0.01
          }
        }
      },
      "TransactionPartPersonalDefinition95": {
[...]
