{
  "openapi": "3.0.3",
  "info": {
    "title": "Autodesk Platform Services (APS) API",
    "version": "2.0.0",
    "description": "Autodesk Platform Services (formerly Forge) provides cloud-based APIs for 3D design and engineering. Access Data Management, Model Derivative, Viewer, Authentication, and BIM 360 APIs.",
    "x-jentic-source-url": "https://aps.autodesk.com/developer/documentation",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://developer.api.autodesk.com",
      "description": "Autodesk Platform Services API"
    }
  ],
  "security": [
    {
      "OAuth2": []
    }
  ],
  "tags": [
    {
      "name": "Authentication",
      "description": "OAuth2 authentication"
    },
    {
      "name": "Data Management",
      "description": "Hubs, projects, folders, items, and versions"
    },
    {
      "name": "Model Derivative",
      "description": "Model translation and derivative extraction"
    },
    {
      "name": "OSS",
      "description": "Object Storage Service - bucket and object management"
    }
  ],
  "paths": {
    "/authentication/v2/token": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Get access token",
        "description": "Obtain a two-legged OAuth2 access token using client credentials.",
        "operationId": "getToken",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "client_id",
                  "client_secret",
                  "grant_type",
                  "scope"
                ],
                "properties": {
                  "client_id": {
                    "type": "string"
                  },
                  "client_secret": {
                    "type": "string"
                  },
                  "grant_type": {
                    "type": "string",
                    "enum": [
                      "client_credentials"
                    ]
                  },
                  "scope": {
                    "type": "string",
                    "description": "Space-delimited scope strings (e.g. 'data:read data:write')"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Token response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid credentials"
          }
        }
      }
    },
    "/project/v1/hubs": {
      "get": {
        "tags": [
          "Data Management"
        ],
        "summary": "Get hubs",
        "operationId": "getHubs",
        "description": "Return a collection of accessible hubs for the current user.",
        "responses": {
          "200": {
            "description": "Hubs",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HubsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/project/v1/hubs/{hub_id}/projects": {
      "get": {
        "tags": [
          "Data Management"
        ],
        "summary": "Get hub projects",
        "operationId": "getHubProjects",
        "parameters": [
          {
            "name": "hub_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Projects",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectsResponse"
                }
              }
            }
          }
        },
        "description": "Get hub projects"
      }
    },
    "/project/v1/hubs/{hub_id}/projects/{project_id}": {
      "get": {
        "tags": [
          "Data Management"
        ],
        "summary": "Get project",
        "operationId": "getProject",
        "parameters": [
          {
            "name": "hub_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Project details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "Get project"
      }
    },
    "/data/v1/projects/{project_id}/folders/{folder_id}/contents": {
      "get": {
        "tags": [
          "Data Management"
        ],
        "summary": "Get folder contents",
        "operationId": "getFolderContents",
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "folder_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Folder contents",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "Get folder contents"
      }
    },
    "/data/v1/projects/{project_id}/items/{item_id}": {
      "get": {
        "tags": [
          "Data Management"
        ],
        "summary": "Get item",
        "operationId": "getItem",
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "item_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Item details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "Get item"
      }
    },
    "/modelderivative/v2/designdata/job": {
      "post": {
        "tags": [
          "Model Derivative"
        ],
        "summary": "Submit translation job",
        "operationId": "submitTranslationJob",
        "description": "Submit a job to translate a source design file into derivatives (SVF, SVF2, OBJ, etc.).",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TranslationJobRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Job submitted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TranslationJobResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    },
    "/modelderivative/v2/designdata/{urn}/manifest": {
      "get": {
        "tags": [
          "Model Derivative"
        ],
        "summary": "Get manifest",
        "operationId": "getManifest",
        "description": "Get the translation manifest for a source design (shows available derivatives and status).",
        "parameters": [
          {
            "name": "urn",
            "in": "path",
            "required": true,
            "description": "Base64-encoded source design URN.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Manifest",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/oss/v2/buckets": {
      "get": {
        "tags": [
          "OSS"
        ],
        "summary": "Get buckets",
        "operationId": "getBuckets",
        "description": "List buckets owned by the application.",
        "parameters": [
          {
            "name": "region",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Buckets list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "OSS"
        ],
        "summary": "Create bucket",
        "operationId": "createBucket",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BucketCreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Bucket created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "Create bucket"
      }
    },
    "/oss/v2/buckets/{bucketKey}/objects/{objectKey}": {
      "put": {
        "tags": [
          "OSS"
        ],
        "summary": "Upload object",
        "operationId": "uploadObject",
        "description": "Upload a file to the specified bucket.",
        "parameters": [
          {
            "name": "bucketKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "objectKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Length",
            "in": "header",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/octet-stream": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Object uploaded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "OSS"
        ],
        "summary": "Get object details",
        "operationId": "getObjectDetails",
        "parameters": [
          {
            "name": "bucketKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "objectKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Object details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "Get object details"
      }
    }
  },
  "components": {
    "securitySchemes": {
      "OAuth2": {
        "type": "oauth2",
        "flows": {
          "clientCredentials": {
            "tokenUrl": "https://developer.api.autodesk.com/authentication/v2/token",
            "scopes": {
              "data:read": "Read data",
              "data:write": "Write data",
              "data:create": "Create data",
              "bucket:read": "Read buckets",
              "bucket:create": "Create buckets",
              "viewables:read": "Read viewables"
            }
          }
        }
      }
    },
    "schemas": {
      "TokenResponse": {
        "type": "object",
        "properties": {
          "access_token": {
            "type": "string"
          },
          "token_type": {
            "type": "string"
          },
          "expires_in": {
            "type": "integer"
          }
        }
      },
      "HubsResponse": {
        "type": "object",
        "properties": {
          "jsonapi": {
            "type": "object"
          },
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string"
                },
                "id": {
                  "type": "string"
                },
                "attributes": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string"
                    },
                    "region": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "ProjectsResponse": {
        "type": "object",
        "properties": {
          "jsonapi": {
            "type": "object"
          },
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string"
                },
                "id": {
                  "type": "string"
                },
                "attributes": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "TranslationJobRequest": {
        "type": "object",
        "required": [
          "input",
          "output"
        ],
        "properties": {
          "input": {
            "type": "object",
            "required": [
              "urn"
            ],
            "properties": {
              "urn": {
                "type": "string",
                "description": "Base64-encoded URN of the source design"
              },
              "compressedUrn": {
                "type": "boolean"
              },
              "rootFilename": {
                "type": "string"
              }
            }
          },
          "output": {
            "type": "object",
            "required": [
              "formats"
            ],
            "properties": {
              "formats": {
                "type": "array",
                "items": {
                  "type": "object",
                  "required": [
                    "type"
                  ],
                  "properties": {
                    "type": {
                      "type": "string",
                      "enum": [
                        "svf",
                        "svf2",
                        "obj",
                        "stl",
                        "step",
                        "iges",
                        "dwg",
                        "fbx"
                      ]
                    },
                    "views": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                }
              },
              "destination": {
                "type": "object",
                "properties": {
                  "region": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      },
      "TranslationJobResponse": {
        "type": "object",
        "properties": {
          "result": {
            "type": "string"
          },
          "urn": {
            "type": "string"
          },
          "acceptedJobs": {
            "type": "object"
          }
        }
      },
      "BucketCreate": {
        "type": "object",
        "required": [
          "bucketKey",
          "policyKey"
        ],
        "properties": {
          "bucketKey": {
            "type": "string"
          },
          "policyKey": {
            "type": "string",
            "enum": [
              "transient",
              "temporary",
              "persistent"
            ]
          }
        }
      }
    }
  }
}
