{
  "openapi": "3.0.4",
  "info": {
    "title": "Ski Equipment Store API",
    "description": "API for a ski equipment website including pricing, brands, and purchase options.",
    "version": "1.0.0",
    "contact": {
      "email": "support@skiequipmentstore.com"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "https://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/rcplan/Ski-Store-API-2/1.0.0"
  },
  "servers": [
    {
      "url": "https://api.skiequipmentstore.com/v1"
    }
  ],
  "tags": [
    {
      "name": "skis",
      "description": "Operations related to skis"
    },
    {
      "name": "poles",
      "description": "Operations related to ski poles"
    },
    {
      "name": "gloves",
      "description": "Operations related to gloves"
    },
    {
      "name": "hats",
      "description": "Operations related to hats"
    },
    {
      "name": "jackets",
      "description": "Operations related to jackets"
    },
    {
      "name": "brands",
      "description": "Information about brands"
    },
    {
      "name": "purchase",
      "description": "Purchase and order operations"
    }
  ],
  "paths": {
    "/skis": {
      "get": {
        "tags": [
          "skis"
        ],
        "summary": "List all skis",
        "description": "Retrieve a list of all skis with pricing and brand information.",
        "responses": {
          "200": {
            "description": "A list of skis",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Ski"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "skis"
        ],
        "summary": "Add a new ski product",
        "description": "Add a new ski to the store inventory.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Ski"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Ski added successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ski"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input"
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/poles": {
      "get": {
        "tags": [
          "poles"
        ],
        "summary": "List all ski poles",
        "description": "Retrieve a list of all ski poles with pricing and brand information.",
        "responses": {
          "200": {
            "description": "A list of ski poles",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Pole"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "poles"
        ],
        "summary": "Add a new ski pole product",
        "description": "Add a new ski pole to the store inventory.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Pole"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Ski pole added successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Pole"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input"
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/gloves": {
      "get": {
        "tags": [
          "gloves"
        ],
        "summary": "List all gloves",
        "description": "Retrieve a list of all gloves with pricing and brand information.",
        "responses": {
          "200": {
            "description": "A list of gloves",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Glove"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "gloves"
        ],
        "summary": "Add a new glove product",
        "description": "Add a new glove to the store inventory.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Glove"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Glove added successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Glove"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input"
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/hats": {
      "get": {
        "tags": [
          "hats"
        ],
        "summary": "List all hats",
        "description": "Retrieve a list of all hats with pricing and brand information.",
        "responses": {
          "200": {
            "description": "A list of hats",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Hat"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "hats"
        ],
        "summary": "Add a new hat product",
        "description": "Add a new hat to the store inventory.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Hat"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Hat added successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Hat"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input"
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/jackets": {
      "get": {
        "tags": [
          "jackets"
        ],
        "summary": "List all jackets",
        "description": "Retrieve a list of all jackets with pricing and brand information.",
        "responses": {
          "200": {
            "description": "A list of jackets",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Jacket"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "jackets"
        ],
        "summary": "Add a new jacket product",
        "description": "Add a new jacket to the store inventory.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Jacket"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Jacket added successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Jacket"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input"
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/brands": {
      "get": {
        "tags": [
          "brands"
        ],
        "summary": "List all brands",
        "description": "Retrieve a list of all brands available in the store.",
        "responses": {
          "200": {
            "description": "A list of brands",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Brand"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/purchase": {
      "post": {
        "tags": [
          "purchase"
        ],
        "summary": "Purchase ski equipment",
        "description": "Place an order to purchase ski equipment items.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PurchaseOrder"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Purchase order created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PurchaseOrderResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid order details"
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Ski": {
        "type": "object",
        "required": [
          "id",
          "name",
          "brand",
          "price"
        ],
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64",
            "example": 101
          },
          "name": {
            "type": "string",
            "example": "All-Mountain Ski 170cm"
          },
          "brand": {
            "$ref": "#/components/schemas/Brand"
          },
          "price": {
            "type": "number",
            "format": "float",
            "example": 499.99
          },
          "description": {
            "type": "string",
            "example": "Versatile ski suitable for all mountain conditions."
          }
        }
      },
      "Pole": {
        "type": "object",
        "required": [
          "id",
          "name",
          "brand",
          "price"
        ],
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64",
            "example": 201
          },
          "name": {
            "type": "string",
            "example": "Carbon Fiber Ski Pole"
          },
          "brand": {
            "$ref": "#/components/schemas/Brand"
          },
          "price": {
            "type": "number",
            "format": "float",
            "example": 89.99
          },
          "length": {
            "type": "integer",
            "description": "Length in centimeters",
            "example": 130
          }
        }
      },
      "Glove": {
        "type": "object",
        "required": [
          "id",
          "name",
          "brand",
          "price"
        ],
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64",
            "example": 301
          },
          "name": {
            "type": "string",
            "example": "Waterproof Ski Gloves"
          },
          "brand": {
            "$ref": "#/components/schemas/Brand"
          },
          "price": {
            "type": "number",
            "format": "float",
            "example": 59.99
          },
          "size": {
            "type": "string",
            "example": "M"
          }
        }
      },
      "Hat": {
        "type": "object",
        "required": [
          "id",
          "name",
          "brand",
          "price"
        ],
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64",
            "example": 401
          },
          "name": {
            "type": "string",
            "example": "Thermal Ski Hat"
          },
          "brand": {
            "$ref": "#/components/schemas/Brand"
          },
          "price": {
            "type": "number",
            "format": "float",
            "example": 29.99
          },
          "color": {
            "type": "string",
            "example": "Red"
          }
        }
      },
      "Jacket": {
        "type": "object",
        "required": [
          "id",
          "name",
          "brand",
          "price"
        ],
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64",
            "example": 501
          },
          "name": {
            "type": "string",
            "example": "Insulated Ski Jacket"
          },
          "brand": {
            "$ref": "#/components/schemas/Brand"
          },
          "price": {
            "type": "number",
            "format": "float",
            "example": 199.99
          },
          "size": {
            "type": "string",
            "example": "L"
          },
          "waterproof": {
            "type": "boolean",
            "example": true
          }
        }
      },
      "Brand": {
        "type": "object",
        "required": [
          "id",
          "name"
        ],
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64",
            "example": 1
          },
          "name": {
            "type": "string",
            "example": "SnowMaster"
          },
          "country": {
            "type": "string",
            "example": "USA"
          }
        }
      },
      "PurchaseOrder": {
        "type": "object",
        "required": [
          "items",
          "customerName",
          "customerEmail"
        ],
        "properties": {
          "items": {
            "type": "array",
            "description": "List of items to purchase",
            "items": {
              "type": "object",
              "required": [
                "productId",
                "quantity",
                "productType"
              ],
              "properties": {
                "productId": {
                  "type": "integer",
                  "format": "int64",
                  "example": 101
                },
                "productType": {
                  "type": "string",
                  "description": "Type of product (ski, pole, glove, hat, jacket)",
                  "enum": [
                    "ski",
                    "pole",
                    "glove",
                    "hat",
                    "jacket"
                  ]
                },
                "quantity": {
                  "type": "integer",
                  "example": 1
                }
              }
            }
          },
          "customerName": {
            "type": "string",
            "example": "Jane Doe"
          },
          "customerEmail": {
            "type": "string",
            "format": "email",
            "example": "jane.doe@example.com"
          },
          "shippingAddress": {
            "type": "string",
            "example": "123 Mountain Rd, Ski Town, CO"
          },
          "paymentMethod": {
            "type": "string",
            "enum": [
              "credit_card",
              "paypal",
              "bank_transfer"
            ],
            "example": "credit_card"
          }
        }
      },
      "PurchaseOrderResponse": {
        "type": "object",
        "properties": {
          "orderId": {
            "type": "integer",
            "format": "int64",
            "example": 1001
          },
          "status": {
            "type": "string",
            "example": "confirmed"
          },
          "estimatedDelivery": {
            "type": "string",
            "format": "date",
            "example": "2024-12-15"
          },
          "totalAmount": {
            "type": "number",
            "format": "float",
            "example": 789.97
          }
        }
      },
      "Error": {
        "type": "object",
        "required": [
          "code",
          "message"
        ],
        "properties": {
          "code": {
            "type": "string",
            "example": "400"
          },
          "message": {
            "type": "string",
            "example": "Invalid request parameters"
          }
        }
      }
    }
  }
}