{
  "openapi": "3.1.0",
  "info": {
    "title": "Model Target Web API",
    "version": "latest",
    "license": {
      "name": "PTC Commercial",
      "url": "https://www.ptc.com/en/products/vuforia/vuforia-engine/pricing"
    },
    "description": "This page contains the documentation on how to use the Vuforia Model Target Web API.\n",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://vws.vuforia.com",
      "description": "Production environment"
    }
  ],
  "tags": [
    {
      "name": "Advanced Datasets",
      "description": "Create and manage advanced Model Target Datasets"
    },
    {
      "name": "Datasets",
      "description": "Create and manage standard Model Target Datasets"
    }
  ],
  "paths": {
    "/modeltargets/advancedDatasets": {
      "post": {
        "summary": "Create an advanced Model Target dataset",
        "description": "Start the creation of an advanced Model Target dataset.\n\nAdvanced datasets can have one or more `models` each with one or more `views`.\n",
        "operationId": "postModelTargetAdvancedDataset",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DatasetCreateRequestAdvanced"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "foo": {
                    "summary": "Returned result containing the Model Target dataset uuid.",
                    "value": {
                      "uuid": "0b12466eee5d49409a440927006ff5d8"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ModelTargetCreateResponse"
                }
              }
            },
            "description": "Model Target dataset creation initiated succesfully."
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "examples": {
                  "one": {
                    "summary": "Name contains bad characters",
                    "value": {
                      "error": {
                        "code": "BAD_REQUEST",
                        "message": "name of modeltarget must only contain '0-9A-Za-z _-' and have a length between 1 and 127 characters."
                      }
                    }
                  },
                  "two": {
                    "summary": "Model names are not unique",
                    "value": {
                      "error": {
                        "message": "names of models must be unique within a Target.",
                        "code": "BAD_REQUEST"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated request. The \"Authorization\" header is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardErrorResponse"
                },
                "examples": {
                  "one": {
                    "summary": "Authentication failed.",
                    "value": {
                      "error": {
                        "code": "401",
                        "message": "no Bearer token",
                        "target": "jwt"
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "content": {
              "application/json": {
                "examples": {
                  "one": {
                    "summary": "Exceeded number of allowed concurrent trainings",
                    "value": {
                      "error": {
                        "code": "CONCURRENT_TRAININGS_EXCEEDED",
                        "message": "Concurrent trainings exceeded for user."
                      }
                    }
                  }
                }
              }
            },
            "description": "Unprocessable entity"
          }
        },
        "security": [
          {
            "oAuth2ClientCredentials": [
              "modeltargets.advancedmodeltarget.all"
            ]
          }
        ],
        "tags": [
          "Advanced Datasets"
        ]
      }
    },
    "/modeltargets/advancedDatasets/{uuid}": {
      "delete": {
        "summary": "Delete the dataset",
        "description": "If creation is in progress, the operation is canceled and the dataset and its associated data is deleted.",
        "operationId": "deleteModelTargetAdvancedDataset",
        "parameters": [
          {
            "in": "path",
            "name": "uuid",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The Model Target dataset was deleted successfully."
          },
          "401": {
            "description": "Unauthenticated request. The \"Authorization\" header is missing or invalid.",
            "content": {
              "application/json": {
                "examples": {
                  "one": {
                    "summary": "Authentication failed.",
                    "value": {
                      "error": {
                        "code": "401",
                        "message": "no Bearer token",
                        "target": "jwt"
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "User does not have access to dataset.",
            "content": {
              "application/json": {
                "examples": {
                  "one": {
                    "summary": "Forbidden.",
                    "value": {
                      "error": {
                        "message": "Unauthorized access to database [uuid]",
                        "code": "FORBIDDEN",
                        "target": "userId:1234"
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "The dataset was not found.",
            "content": {
              "application/json": {
                "examples": {
                  "one": {
                    "summary": "Dataset was not found",
                    "value": {
                      "error": "Could not find a dataset with uuid [uuid]",
                      "code": "NOT_FOUND",
                      "target": "userId:1234"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "oAuth2ClientCredentials": [
              "modeltargets.advancedmodeltarget.all"
            ]
          }
        ],
        "tags": [
          "Advanced Datasets"
        ]
      }
    },
    "/modeltargets/advancedDatasets/{uuid}/dataset": {
      "get": {
        "operationId": "getModelTargetAdvancedDataset",
        "parameters": [
          {
            "in": "path",
            "name": "uuid",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/zip": {}
            },
            "description": "The dataset could be downloaded."
          },
          "401": {
            "description": "Unauthenticated request. The \"Authorization\" header is missing or invalid.",
            "content": {
              "application/json": {
                "examples": {
                  "one": {
                    "summary": "Authentication failed.",
                    "value": {
                      "error": {
                        "code": "401",
                        "message": "no Bearer token",
                        "target": "jwt"
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "User does not have access to dataset.",
            "content": {
              "application/json": {
                "examples": {
                  "one": {
                    "summary": "Forbidden.",
                    "value": {
                      "error": {
                        "message": "Unauthorized access to database [uuid]",
                        "code": "FORBIDDEN",
                        "target": "userId:1234"
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "The dataset was not found.",
            "content": {
              "application/json": {
                "examples": {
                  "one": {
                    "summary": "Dataset was not found",
                    "value": {
                      "error": "Could not find a dataset with uuid [uuid]",
                      "code": "NOT_FOUND",
                      "target": "userId:1234"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "content": {
              "application/json": {
                "examples": {
                  "one": {
                    "summary": "The dataset is not ready to be downloaded",
                    "value": "{\"result_code\": \"UNSUPPORTED_STATE\"}"
                  }
                }
              }
            },
            "description": "Unprocessable entity"
          }
        },
        "security": [
          {
            "oAuth2ClientCredentials": [
              "modeltargets.advancedmodeltarget.all"
            ]
          }
        ],
        "summary": "Download the Model Target dataset.",
        "tags": [
          "Advanced Datasets"
        ],
        "description": "Download the Model Target dataset."
      }
    },
    "/modeltargets/advancedDatasets/{uuid}/status": {
      "get": {
        "summary": "Get the dataset creation status.",
        "description": "The status of the training can be \"done\", \"processing\" or \"failed\".\nMore details regarding the possible errors can be seen on the left hand\nside in the \"Examples\" dropdown.\n\nThe `\"innerError / error_conditions \"` field is deprecated.\n",
        "operationId": "getModelTargetAdvancedDatasetStatus",
        "parameters": [
          {
            "in": "path",
            "name": "uuid",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "trainingStatus": {
                    "summary": "Dataset successfully created",
                    "value": {
                      "status": "done",
                      "uuid": "0b12466eee5d49409a440927006ff5d8",
                      "createdAt": "2023-11-22T13:30:35.578Z"
                    }
                  },
                  "InvalidModelviews": {
                    "summary": "Some modelviews are broken.",
                    "value": {
                      "uuid": "37ce313cba1544849ba0498880b489f2",
                      "status": "failed",
                      "createdAt": "2023-11-22T13:30:35.578Z",
                      "error": {
                        "code": "ERROR",
                        "message": "Training Failed",
                        "details": [
                          {
                            "code": "INVALID_MODELVIEWS",
                            "message": "Some modelviews are broken. Following targets are affected: VSYPump[10-GudgenPin].upright, VSYPump[9-Piston].upright.",
                            "innerError": {
                              "targets": [
                                {
                                  "model": "VSYPump",
                                  "state": "10-GudgenPin",
                                  "view": "upright"
                                },
                                {
                                  "model": "VSYPump",
                                  "state": "9-Piston",
                                  "view": "upright"
                                }
                              ]
                            }
                          }
                        ]
                      }
                    }
                  },
                  "TooManyEmptyViews": {
                    "summary": "The view definitions contain too many camera positions from which the object is not visible.",
                    "value": {
                      "uuid": "37ce313cba1544849ba0498880b489f2",
                      "status": "failed",
                      "createdAt": "2023-11-22T13:30:35.578Z",
                      "error": {
                        "code": "ERROR",
                        "message": "Training Failed",
                        "details": [
                          {
                            "code": "INVALID_MODELVIEWS",
                            "message": "The view definitions contain too many camera positions from which the object is not visible. Following targets are affected: VSYPump[10-GudgenPin].upright, VSYPump[9-Piston].upright.",
                            "innerError": {
                              "targets": [
                                {
                                  "model": "VSYPump",
                                  "state": "10-GudgenPin",
                                  "view": "upright"
                                },
                                {
                                  "model": "VSYPump",
                                  "state": "9-Piston",
                                  "view": "upright"
                                }
                              ],
                              "code": "TOO_MANY_EMPTY_VIEWS"
                            }
                          }
                        ]
                      }
                    }
                  },
                  "InternalError": {
                    "summary": "An internal error occurred.",
                    "value": {
                      "uuid": "37ce313cba1544849ba0498880b489f2",
                      "status": "failed",
                      "createdAt": "2023-11-22T13:30:35.578Z",
                      "error": {
                        "code": "ERROR",
                        "message": "Training Failed",
                        "details": [
                          {
                            "code": "INTERNAL_ERROR",
                            "message": "An internal error occurred."
                          }
                        ]
                      }
                    }
                  },
                  "ProblematicModelviews": {
                    "summary": "A problem was detected with some models or view definition, which may lead to failed processing or lower recognition performance.",
                    "value": {
                      "uuid": "37ce313cba1544849ba0498880b489f2",
                      "status": "done",
                      "createdAt": "2023-11-22T13:30:35.578Z",
                      "warning": {
                        "code": "WARNING",
                        "message": "Training returned warnings",
                        "details": [
                          {
                            "code": "PROBLEMATIC_MODELVIEWS",
                            "message": "A problem was detected with some models or view definition, which may lead to failed processing or lower recognition performance. Following targets are affected: VSYPump[10-GudgenPin].upright, VSYPump[9-Piston].upright.",
                            "innerError": {
                              "targets": [
                                {
                                  "model": "VSYPump",
                                  "state": "10-GudgenPin",
                                  "view": "upright"
                                },
                                {
                                  "model": "VSYPump",
                                  "state": "9-Piston",
                                  "view": "upright"
                                }
                              ]
                            }
                          }
                        ]
                      }
                    }
                  },
                  "SymmetriesOrAmbiguities": {
                    "summary": "Some models or views might have rotational or translational symmetries.",
                    "value": {
                      "uuid": "37ce313cba1544849ba0498880b489f2",
                      "status": "done",
                      "createdAt": "2023-11-22T13:30:35.578Z",
                      "warning": {
                        "code": "WARNING",
                        "message": "Training returned warnings",
                        "details": [
                          {
                            "code": "LOW_RECOGNITION_QUALITY",
                            "message": "Some models or views might have rotational or translational symmetries. Following targets are affected: VSYPump[10-GudgenPin], VSYPump[9-Piston].",
                            "innerError": {
                              "targets": [
                                {
                                  "model": "VSYPump",
                                  "state": "10-GudgenPin"
                                },
                                {
                                  "model": "VSYPump",
                                  "state": "9-Piston"
                                }
                              ],
                              "code": "SYMMETRIES_OR_AMBIGUITIES"
                            }
                          }
                        ]
                      }
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/DatasetStatusResponse"
                }
              }
            },
            "description": "OK"
          },
          "401": {
            "description": "Unauthenticated request. The \"Authorization\" header is missing or invalid.",
            "content": {
              "application/json": {
                "examples": {
                  "one": {
                    "summary": "Authentication failed.",
                    "value": {
                      "error": {
                        "code": "401",
                        "message": "no Bearer token",
                        "target": "jwt"
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "User does not have access to dataset.",
            "content": {
              "application/json": {
                "examples": {
                  "one": {
                    "summary": "Forbidden.",
                    "value": {
                      "error": {
                        "message": "Unauthorized access to database [uuid]",
                        "code": "FORBIDDEN",
                        "target": "userId:1234"
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "The dataset was not found.",
            "content": {
              "application/json": {
                "examples": {
                  "one": {
                    "summary": "Dataset was not found",
                    "value": {
                      "error": {
                        "message": "Could not find a dataset with uuid [uuid]",
                        "code": "NOT_FOUND",
                        "target": "userId:1234"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "oAuth2ClientCredentials": [
              "modeltargets.advancedmodeltarget.all"
            ]
          }
        ],
        "tags": [
          "Advanced Datasets"
        ]
      }
    },
    "/modeltargets/datasets": {
      "post": {
        "summary": "Create a standard Model Target dataset.",
        "description": "Start the creation of a standard Model Target dataset.\n\nA standard Model Target must have exactly one `models` with one or more `views`.\n\nThe `views` only need to specify the `guideViewPosition`, not the `targetExtent` or the `recognitionRanges`.\n",
        "operationId": "postModelTargetDataset",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DatasetCreateRequestStandard"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Model Target dataset creation initiated succesfully.",
            "content": {
              "application/json": {
                "examples": {
                  "foo": {
                    "summary": "Returned result containing Model Target uuid.",
                    "value": {
                      "uuid": "0b12466eee5d49409a440927006ff5d8"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ModelTargetCreateResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "examples": {
                  "one": {
                    "summary": "Name contains bad characters",
                    "value": {
                      "error": {
                        "message": "name must only contain alpha numeric characters, - and _",
                        "code": "BAD_REQUEST"
                      }
                    }
                  },
                  "two": {
                    "summary": "Model names are not unique",
                    "value": {
                      "error": {
                        "message": "names of models must be unique within a Target.",
                        "code": "BAD_REQUEST"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated request. The \"Authorization\" header is missing or invalid.",
            "content": {
              "application/json": {
                "examples": {
                  "one": {
                    "summary": "Authentication failed.",
                    "value": {
                      "error": {
                        "code": "401",
                        "message": "no Bearer token",
                        "target": "jwt"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "oAuth2ClientCredentials": [
              "modeltargets.standardmodeltarget.all"
            ]
          }
        ],
        "tags": [
          "Datasets"
        ]
      }
    },
    "/modeltargets/datasets/{uuid}": {
      "delete": {
        "summary": "Delete the dataset",
        "description": "If creation is in progress, the operation is canceled and the dataset and its associated data is deleted.",
        "operationId": "deleteModelTargetDataset",
        "parameters": [
          {
            "in": "path",
            "name": "uuid",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The Model Target dataset was deleted successfully."
          },
          "401": {
            "description": "Unauthenticated request. The \"Authorization\" header is missing or invalid.",
            "content": {
              "application/json": {
                "examples": {
                  "one": {
                    "summary": "Authentication failed.",
                    "value": {
                      "error": {
                        "code": "401",
                        "message": "no Bearer token",
                        "target": "jwt"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "oAuth2ClientCredentials": [
              "modeltargets.standardmodeltarget.all"
            ]
          }
        ],
        "tags": [
          "Datasets"
        ]
      }
    },
    "/modeltargets/datasets/{uuid}/dataset": {
      "get": {
        "operationId": "getModelTargetDataset",
        "parameters": [
          {
            "in": "path",
            "name": "uuid",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/zip": {}
            },
            "description": "the dataset could be downloaded."
          },
          "401": {
            "description": "Unauthenticated request. The \"Authorization\" header is missing or invalid.",
            "content": {
              "application/json": {
                "examples": {
                  "one": {
                    "summary": "Authentication failed.",
                    "value": {
                      "error": {
                        "code": "401",
                        "message": "no Bearer token",
                        "target": "jwt"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "oAuth2ClientCredentials": [
              "modeltargets.standardmodeltarget.all"
            ]
          }
        ],
        "summary": "Download the Model Target dataset.",
        "tags": [
          "Datasets"
        ],
        "description": "Download the Model Target dataset."
      }
    },
    "/modeltargets/datasets/{uuid}/status": {
      "get": {
        "summary": "Get the dataset creation status.",
        "description": "Status can be \"done\", \"processing\" or \"failed\".",
        "operationId": "getModelTargetDatasetStatus",
        "parameters": [
          {
            "in": "path",
            "name": "uuid",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "trainingStatus": {
                    "summary": "Dataset successfully created",
                    "value": {
                      "status": "done",
                      "uuid": "0b12466eee5d49409a440927006ff5d8",
                      "createdAt": "2023-11-22T13:30:35.578Z"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/DatasetStatusResponse"
                }
              }
            },
            "description": "OK"
          },
          "401": {
            "description": "Unauthenticated request. The \"Authorization\" header is missing or invalid.",
            "content": {
              "application/json": {
                "examples": {
                  "one": {
                    "summary": "Authentication failed.",
                    "value": {
                      "error": {
                        "code": "401",
                        "message": "no Bearer token",
                        "target": "jwt"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "oAuth2ClientCredentials": [
              "modeltargets.standardmodeltarget.all"
            ]
          }
        ],
        "tags": [
          "Datasets"
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "oAuth2ClientCredentials": {
        "type": "oauth2",
        "description": "All APIs require an 'Authorization: Bearer TOKEN' header\nthat can be obtained via an OAuth2 password or client_credentials grant.\nPlease refer to the documentation at https://library.vuforia.com/web-api/vuforia-web-api-authentication\n",
        "flows": {
          "clientCredentials": {
            "tokenUrl": "{{baseUrl}}/oauth2/token",
            "scopes": {
              "modeltargets.all": "Allow all operations on standard and advanced Model Targets",
              "modeltargets.standardmodeltarget.all": "Allow all operations on standard Model Targets",
              "modeltargets.advancedmodeltarget.all": "Allow all operations on advanced Model Targets"
            }
          }
        }
      }
    },
    "schemas": {
      "CadDataBlob": {
        "type": "string",
        "description": "cadDataBlob can be a base64 encoded string of:\n * a zipped GLTF model (must contain one .gltf file at the root of the archive and can contain other binary files)\n * a GLB model\n * a CAD model of the type specified in `cadDataFormat`\n\nOne and only one of `cadDataBlob` or `cadDataUrl` can be set per `model`.\n"
      },
      "CadDataUrl": {
        "type": "string",
        "description": "A URL specifying where the CAD model should be downloaded from.  Only https urls are allowed.\n\nOne and only one of `cadDataBlob` or `cadDataUrl` can be set per `model`.\n"
      },
      "CadDataFormat": {
        "type": "string",
        "enum": [
          "ZIP",
          "GLB",
          "DAE",
          "FBX",
          "IGES",
          "OBJ",
          "PVZ",
          "STL",
          "VRML"
        ],
        "description": "The CAD file format.\nCan be omitted if the model is provided as a GLB or zipped glTF\n"
      },
      "Name": {
        "type": "string",
        "pattern": "^[a-zA-Z0-9 _-]+$",
        "minLength": 1,
        "maxLength": 127
      },
      "MotionHint": {
        "type": "string",
        "description": "Deprecated since `targetSdk == 10.9`, please use `optimizeTrackingFor` instead.\n\nThe motion hint can be used to improve tracking for static vs. moving\n(adaptive or dynamic) objects.\n",
        "enum": [
          "static",
          "adaptive",
          "dynamic"
        ],
        "default": "static",
        "deprecated": true
      },
      "Simplify": {
        "type": "string",
        "enum": [
          "auto",
          "never",
          "always"
        ],
        "description": "Control simplification of the CAD model geometry.\nAt the moment simplification is limited to requests containing only 1 CAD model.\n",
        "default": "auto"
      },
      "TrackingMode": {
        "type": "string",
        "description": "Deprecated since `targetSdk == 10.9`. Please use `optimizeTrackingFor` instead.\n\nCan be used to improve tracking on specific object types.\n",
        "enum": [
          "default",
          "car",
          "scan"
        ],
        "default": "default",
        "deprecated": true
      },
      "RealisticAppearance": {
        "type": "string",
        "description": "Training will make use of the CAD model's textures.\nOnly available when `targetSdk >= 10.9`.\n",
        "enum": [
          "true",
          "false",
          "auto"
        ],
        "default": "auto"
      },
      "OptimizeTrackingFor": {
        "type": "string",
        "description": "Only available when `targetSdk >= 10.9`.\n",
        "enum": [
          "default",
          "low_feature_objects",
          "ar_controller"
        ],
        "default": "default"
      },
      "AutomaticColoring": {
        "type": "string",
        "description": "Control automatic coloring of the CAD model.\n",
        "enum": [
          "always",
          "never",
          "auto"
        ],
        "default": "never"
      },
      "UpVector": {
        "description": "If the model has a \"natural\" up vector, meaning that the object is always expected to be upright (a factory machine, a table-top object, a car, etc.)\nit is strongly recommended to specify an upVector and tracking will greatly improve.\n\nFor advanced datasets, the up vector is mandatory when using the `DOME` or `OBSERVATION` recognition range preset or when `userVolume` or `partReference` is defined.\n",
        "items": {
          "format": "double",
          "type": "number"
        },
        "type": "array",
        "minItems": 3,
        "maxItems": 3
      },
      "UniformScale": {
        "type": "number",
        "format": "double",
        "description": "The Vuforia Engine SDK requires models in real life scale and the input model units is assumed to be meters.\n\nIf necessary to adjust the 3D model to its real life scale, each model object in the request body can specify a uniformScale parameter that is a scale factor used to preprocess the 3D model.\n",
        "default": 1
      },
      "StateBasedConfigurationJsonString": {
        "type": "string",
        "description": "Provide a string representation of the State Configuration JSON to define available states for a model.\n\nIf present, a State-Based Model Target dataset will be created.\n",
        "default": "None"
      },
      "CadModelStandard": {
        "properties": {
          "name": {
            "$ref": "#/components/schemas/Name",
            "description": "The model name.  Must be unique within the dataset.",
            "uniqueItems": true
          },
          "cadDataBlob": {
            "$ref": "#/components/schemas/CadDataBlob"
          },
          "cadDataUrl": {
            "$ref": "#/components/schemas/CadDataUrl"
          },
          "cadDataFormat": {
            "$ref": "#/components/schemas/CadDataFormat"
          },
          "views": {
            "items": {
              "$ref": "#/components/schemas/ViewStandard"
            },
            "type": "array",
            "minItems": 1,
            "description": "Views define how the 3D models can be recognized and tracked.\n\nEach model can have one or more views.  Views in standard datasets must be defined with a `guideViewPosition`.\n\nThe maximum number of views per model in standard datasets is 20000.\n"
          },
          "motionHint": {
            "$ref": "#/components/schemas/MotionHint"
          },
          "simplificationParameters": {
            "$ref": "#/components/schemas/SimplificationParameters"
          },
          "simplify": {
            "$ref": "#/components/schemas/Simplify"
          },
          "trackingMode": {
            "$ref": "#/components/schemas/TrackingMode"
          },
          "optimizeTrackingFor": {
            "$ref": "#/components/schemas/OptimizeTrackingFor"
          },
          "automaticColoring": {
            "$ref": "#/components/schemas/AutomaticColoring"
          },
          "upVector": {
            "$ref": "#/components/schemas/UpVector"
          },
          "uniformScale": {
            "$ref": "#/components/schemas/UniformScale"
          },
          "stateBasedConfigurationJsonString": {
            "$ref": "#/components/schemas/StateBasedConfigurationJsonString"
          }
        },
        "required": [
          "name",
          "views"
        ]
      },
      "CadModelAdvanced": {
        "properties": {
          "name": {
            "$ref": "#/components/schemas/Name",
            "description": "The model name.  Must be unique within the dataset.",
            "uniqueItems": true
          },
          "cadDataBlob": {
            "$ref": "#/components/schemas/CadDataBlob"
          },
          "cadDataUrl": {
            "$ref": "#/components/schemas/CadDataUrl"
          },
          "cadDataFormat": {
            "$ref": "#/components/schemas/CadDataFormat"
          },
          "views": {
            "items": {
              "$ref": "#/components/schemas/ViewAdvanced"
            },
            "type": "array",
            "minItems": 1,
            "description": "Views define how the 3D models can be recognized and tracked.\nEach model can have one or more views.\n\nViews in an advanced dataset can be specified using one of the following set of parameters:\n- `recognitionRanges` plus `targetExtent` or `targetExtentPreset`\n- `recognitionRangesPreset` plus `targetExtent` or `targetExtentPreset`\n- `userVolume` plus `targetExtent` or `targetExtentPreset`\n- `partReference`\n- `guideViewPosition`\n\nThe maximum number of views per model in advanced datasets is 300.\n"
          },
          "motionHint": {
            "$ref": "#/components/schemas/MotionHint"
          },
          "simplificationParameters": {
            "$ref": "#/components/schemas/SimplificationParameters"
          },
          "simplify": {
            "$ref": "#/components/schemas/Simplify"
          },
          "trackingMode": {
            "$ref": "#/components/schemas/TrackingMode"
          },
          "optimizeTrackingFor": {
            "$ref": "#/components/schemas/OptimizeTrackingFor"
          },
          "automaticColoring": {
            "$ref": "#/components/schemas/AutomaticColoring"
          },
          "upVector": {
            "$ref": "#/components/schemas/UpVector"
          },
          "uniformScale": {
            "$ref": "#/components/schemas/UniformScale"
          },
          "realisticAppearance": {
            "$ref": "#/components/schemas/RealisticAppearance"
          },
          "stateBasedConfigurationJsonString": {
            "$ref": "#/components/schemas/StateBasedConfigurationJsonString"
          }
        },
        "required": [
          "name",
          "views"
        ]
      },
      "RecognitionRanges": {
        "description": "The ranges of viewing angles from which the object is observed.\n\nOnly one of `recognitionRanges`, `recognitionRangesPreset`, `userVolume` or `partReference` can be provided.\n",
        "properties": {
          "azimRange": {
            "items": {
              "format": "double",
              "type": "number"
            },
            "type": "array",
            "minItems": 2,
            "maxItems": 2
          },
          "distRange": {
            "items": {
              "format": "double",
              "type": "number"
            },
            "type": "array",
            "minItems": 2,
            "maxItems": 2
          },
          "elevRange": {
            "items": {
              "format": "double",
              "type": "number"
            },
            "type": "array",
            "minItems": 2,
            "maxItems": 2
          },
          "rollRange": {
            "items": {
              "format": "double",
              "type": "number"
            },
            "type": "array",
            "minItems": 2,
            "maxItems": 2
          },
          "rotation": {
            "items": {
              "format": "double",
              "type": "number"
            },
            "type": "array",
            "minItems": 4,
            "maxItems": 4
          }
        },
        "required": [
          "rotation",
          "azimRange",
          "elevRange",
          "rollRange"
        ]
      },
      "DatasetCreateRequestAdvanced": {
        "properties": {
          "name": {
            "$ref": "#/components/schemas/Name",
            "description": "Dataset name"
          },
          "models": {
            "description": "An advanced Model Target dataset can be used to recognize and track one or more models, each from one or more views.\n\nA maximum of 20 models and 300 views per model is allowed.\n",
            "items": {
              "$ref": "#/components/schemas/CadModelAdvanced"
            },
            "type": "array",
            "minItems": 1,
            "maxItems": 20
          },
          "targetSdk": {
            "type": "string",
            "description": "The minimum Vuforia Engine SDK version (in \"X.Y\" format, such as \"11.0\") that will be used to load the generated dataset.\n\nThe mimimum targetSdk version for Advanced Model Targets is \"10.7\".\n"
          },
          "preserveCadModel": {
            "type": "boolean",
            "description": "Allow PTC Vuforia to preserve the CAD Models and associated data for troubleshooting purposes.",
            "default": false
          },
          "realisticAppearance": {
            "type": "boolean",
            "description": "Deprecated since `targetSdk == 10.9`. For `targetSdk >= 10.9` the `realisticAppearance` flag that is defined at `CadModel` level must be used.\n\nTraining will make use of the CAD model's textures.\n\n`realisticAppearance` cannot be `true` when `automaticColoring` is enabled.\n",
            "deprecated": true
          }
        },
        "required": [
          "name",
          "models",
          "targetSdk"
        ]
      },
      "DatasetCreateRequestStandard": {
        "properties": {
          "name": {
            "$ref": "#/components/schemas/Name",
            "description": "Dataset name"
          },
          "models": {
            "description": "A standard Model Target dataset can be used to recognize and track one model from one or more views.\n\nThe model array must contain exactly one model.\n",
            "items": {
              "$ref": "#/components/schemas/CadModelStandard"
            },
            "type": "array",
            "minItems": 1,
            "maxItems": 1
          },
          "targetSdk": {
            "type": "string",
            "description": "The minimum Vuforia Engine SDK version (in \"X.Y\" format, such as \"10.3\") that will be used to load the generated dataset.\n\nThe mimimum targetSdk version for Standard Model Targets is \"10.7\".\n"
          },
          "preserveCadModel": {
            "type": "boolean",
            "description": "Allow PTC Vuforia to preserve the CAD models and associated data for troubleshooting purposes.",
            "default": false
          }
        },
        "required": [
          "name",
          "models",
          "targetSdk"
        ]
      },
      "DatasetStatusResponse": {
        "properties": {
          "error": {
            "$ref": "#/components/schemas/Error"
          },
          "eta": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "createdAt": {
            "type": "string"
          },
          "completedAt": {
            "type": "string"
          },
          "uuid": {
            "type": "string"
          },
          "warning": {
            "$ref": "#/components/schemas/Error"
          }
        },
        "required": [
          "uuid",
          "status",
          "createdAt"
        ]
      },
      "UserVolume": {
        "description": "This specifies the volume where the user resp. the AR camera is expected to be during the experience.\n\nOnly one of `recognitionRanges`, `recognitionRangesPreset`, `userVolume` or `partReference` can be provided.\n\nThe `upVector` needs to be defined when using the `userVolume` parametrisation.\n",
        "properties": {
          "volume": {
            "$ref": "#/components/schemas/TargetExtentOrUserVolume"
          },
          "minDistanceFromTarget": {
            "type": "number",
            "format": "double",
            "description": "How far from the target extent the user must be at least.\n"
          },
          "representativePosition": {
            "items": {
              "format": "double",
              "type": "number"
            },
            "type": "array",
            "description": "Representative camera position from which the object is observed. The target will be trained on the set of all camera positions that are reachable when starting at the representative position.\n",
            "minItems": 3,
            "maxItems": 3
          }
        },
        "required": [
          "volume",
          "userInsideTargetExtent"
        ]
      },
      "PartReference": {
        "description": "Define a view by selecting a specific part of the 3D model.\nAll views from which this part is visible will be valid viewpoints for detection.\n\nThere are three different ways to select parts and the `partReference` field is an object that can contain one and only one of the following part selectors:\n - `partName`: matches the name of a part (aka node) in the model.  Requires the part name to be unique.  Example: `\"0000020319, FUEL SYSTEM, A.2 (Design)\"`\n - `partIdPath`: matches the path of extras.id leading to the part (typically used for PVZ input).  Example: `\"/0/1/2/3\"`\n - `occurrenceId`: matches the PTC_NODE_ASSEMBLY_NAME glTF extension.  Example: `\"3XVs96VDtUK9fBPxA\"`\n\nNotes:\n - The `targetExtent` or `targetExtentPreset` must not be specified when using part references.\n - When using part refernces, simplification must be disabled by seeting the `simplify` parameter to \"never\".\n - Only one of `recognitionRanges`, `recognitionRangesPreset`, `userVolume` or `partReference` can be provided.\n",
        "properties": {
          "partName": {
            "type": "string"
          },
          "partIdPath": {
            "type": "string"
          },
          "occurrenceId": {
            "type": "string"
          }
        },
        "required": []
      },
      "ViewStandard": {
        "properties": {
          "name": {
            "$ref": "#/components/schemas/Name",
            "description": "The view name.  Must be unique within the model.",
            "uniqueItems": true
          },
          "guideViewPosition": {
            "$ref": "#/components/schemas/GuideViewPosition"
          }
        },
        "required": [
          "name",
          "guideViewPosition"
        ]
      },
      "ViewAdvanced": {
        "properties": {
          "name": {
            "$ref": "#/components/schemas/Name",
            "description": "The view name.  Must be unique within the model.",
            "uniqueItems": true
          },
          "guideViewPosition": {
            "$ref": "#/components/schemas/GuideViewPosition"
          },
          "recognitionRanges": {
            "$ref": "#/components/schemas/RecognitionRanges"
          },
          "recognitionRangesPreset": {
            "type": "string",
            "enum": [
              "DOME",
              "FULL_360",
              "OBSERVATION"
            ],
            "description": "The `upVector` must be defined when using the `DOME` or `OBSERVATION` preset.\n\nOnly one of `recognitionRanges`, `recognitionRangesPreset`, `userVolume` or `partReference` can be provided.\n"
          },
          "userVolume": {
            "$ref": "#/components/schemas/UserVolume"
          },
          "partReference": {
            "$ref": "#/components/schemas/PartReference"
          },
          "targetExtent": {
            "$ref": "#/components/schemas/TargetExtentOrUserVolume"
          },
          "targetExtentPreset": {
            "type": "string",
            "enum": [
              "FULL_MODEL"
            ],
            "description": "One and only one of `targetExtent` and `targetExtentPreset` must be provided.\n"
          },
          "states": {
            "$ref": "#/components/schemas/States"
          }
        },
        "required": [
          "name"
        ]
      },
      "Error": {
        "properties": {
          "code": {
            "type": "string"
          },
          "details": {
            "items": {
              "$ref": "#/components/schemas/Error"
            },
            "type": "array"
          },
          "innerError": {
            "type": "object"
          },
          "message": {
            "type": "string"
          },
          "target": {
            "type": "string"
          }
        },
        "required": [
          "code",
          "message"
        ]
      },
      "StandardErrorResponse": {
        "properties": {
          "error": {
            "$ref": "#/components/schemas/Error"
          }
        }
      },
      "GuideViewPosition": {
        "description": "The guideViewPosition is a six-degree-of-freedom pose, describing the location\nand orientation of a virtual camera in the coordinate system of the model.\nThis camera view must point towards the object to be detected from a perspective\nthat the user of the app shall approach the model from.\n\nThe transformation matrix 'T * R' represents the \"camera matrix\"\n(equal to the \"inverse view matrix\") in OpenGL terms.\n\nFor standard MT, the guideViewPosition must be defined.\n\nFor advanced MT, if none of `recognitionRanges`, `recognitionRangesPreset`, `userVolume` or `partReference` is specified, then the `guideViewPosition` is mandatory and is used to automatically calculate the viewing ranges and target volume.\n",
        "properties": {
          "rotation": {
            "description": "Define a 3D rotation quaternion `[qx, qy, qz, qw]`",
            "items": {
              "format": "double",
              "type": "number"
            },
            "type": "array",
            "minItems": 4,
            "maxItems": 4
          },
          "translation": {
            "description": "Define a 3D translational offset in scene units `[tx, ty, tz]`",
            "items": {
              "format": "double",
              "type": "number"
            },
            "type": "array",
            "minItems": 3,
            "maxItems": 3
          }
        },
        "required": [
          "translation",
          "rotation"
        ]
      },
      "ModelTargetCreateResponse": {
        "properties": {
          "uuid": {
            "type": "string"
          },
          "warning": {
            "$ref": "#/components/schemas/Error"
          }
        },
        "required": [
          "uuid"
        ]
      },
      "SimplificationParameters": {
        "properties": {
          "polygonCount": {
            "type": "integer",
            "format": "int32",
            "default": 400000,
            "minimum": 0
          }
        },
        "required": [
          "polygonCount"
        ]
      },
      "TargetExtentOrUserVolume": {
        "properties": {
          "rotation": {
            "description": "Define a 3D rotation quaternion `[qx, qy, qz, qw]`",
            "items": {
              "format": "double",
              "type": "number"
            },
            "type": "array",
            "minItems": 4,
            "maxItems": 4
          },
          "scale": {
            "description": "Define a 3D scale `[sx, sy, sz]`",
            "items": {
              "format": "double",
              "type": "number"
            },
            "type": "array",
            "minItems": 3,
            "maxItems": 3
          },
          "translation": {
            "description": "Define a 3D translational offset in scene units `[tx, ty, tz]`",
            "items": {
              "format": "double",
              "type": "number"
            },
            "type": "array",
            "minItems": 3,
            "maxItems": 3
          }
        },
        "required": [
          "translation",
          "rotation",
          "scale"
        ]
      },
      "States": {
        "description": "Array of state names defining which states are visible from the view. Must be a subset of the all states defined in the stateBasedConfigurationJson.\n\nWhen omitted the view is assumed to be visible from all states.\n",
        "items": {
          "type": "string"
        },
        "type": "array",
        "uniqueItems": true,
        "minItems": 1
      }
    }
  }
}
