{
  "openapi": "3.0.3",
  "info": {
    "title": "Billplz API",
    "version": "4.0.0",
    "description": "Billplz is a Malaysian payment platform. The API allows you to create collections, bills, manage payment methods, and handle transactions. Supports both v3 and v4 endpoints. Amounts are in the smallest currency unit (cents).",
    "x-jentic-source-url": "https://www.billplz.com/api",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://www.billplz.com/api",
      "description": "Production"
    },
    {
      "url": "https://www.billplz-sandbox.com/api",
      "description": "Sandbox"
    }
  ],
  "security": [
    {
      "basicAuth": []
    }
  ],
  "tags": [
    {
      "name": "Collections V3",
      "description": "Manage collections (v3)"
    },
    {
      "name": "Collections V4",
      "description": "Manage collections with split payments (v4)"
    },
    {
      "name": "Open Collections V3",
      "description": "Payment form collections (v3)"
    },
    {
      "name": "Open Collections V4",
      "description": "Payment form collections (v4)"
    },
    {
      "name": "Bills",
      "description": "Create, get, and delete bills"
    },
    {
      "name": "Transactions",
      "description": "Bill transaction history"
    },
    {
      "name": "Payment Methods",
      "description": "Manage collection payment methods"
    },
    {
      "name": "Banks",
      "description": "FPX bank codes and payment gateways"
    }
  ],
  "paths": {
    "/v3/collections": {
      "post": {
        "operationId": "createCollectionV3",
        "summary": "Create a Collection",
        "tags": [
          "Collections V3"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/CreateCollectionV3Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Collection created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CollectionV3"
                }
              }
            }
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized."
          }
        },
        "description": "Create a Collection"
      },
      "get": {
        "operationId": "listCollectionsV3",
        "summary": "Get Collection Index",
        "tags": [
          "Collections V3"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            },
            "description": "Page number. Up to 15 collections per page."
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "active",
                "inactive"
              ]
            },
            "description": "Filter by status."
          }
        ],
        "responses": {
          "200": {
            "description": "List of collections.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CollectionListV3"
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Unauthorized."
          }
        },
        "description": "Get Collection Index"
      }
    },
    "/v3/collections/{collectionId}": {
      "get": {
        "operationId": "getCollectionV3",
        "summary": "Get a Collection",
        "tags": [
          "Collections V3"
        ],
        "parameters": [
          {
            "name": "collectionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Collection details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CollectionV3WithStatus"
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Unauthorized."
          }
        },
        "description": "Get a Collection"
      }
    },
    "/v3/collections/{collectionId}/deactivate": {
      "post": {
        "operationId": "deactivateCollection",
        "summary": "Deactivate a Collection",
        "tags": [
          "Collections V3"
        ],
        "parameters": [
          {
            "name": "collectionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Collection deactivated.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Unauthorized."
          }
        },
        "description": "Deactivate a Collection"
      }
    },
    "/v3/collections/{collectionId}/activate": {
      "post": {
        "operationId": "activateCollection",
        "summary": "Activate a Collection",
        "tags": [
          "Collections V3"
        ],
        "parameters": [
          {
            "name": "collectionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Collection activated.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Unauthorized."
          }
        },
        "description": "Activate a Collection"
      }
    },
    "/v3/open_collections": {
      "post": {
        "operationId": "createOpenCollectionV3",
        "summary": "Create an Open Collection",
        "tags": [
          "Open Collections V3"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/CreateOpenCollectionV3Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Open collection created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenCollectionV3"
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Unauthorized."
          }
        },
        "description": "Create an Open Collection"
      },
      "get": {
        "operationId": "listOpenCollectionsV3",
        "summary": "Get Open Collection Index",
        "tags": [
          "Open Collections V3"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "active",
                "inactive"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of open collections.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenCollectionListV3"
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Unauthorized."
          }
        },
        "description": "Get Open Collection Index"
      }
    },
    "/v3/open_collections/{collectionId}": {
      "get": {
        "operationId": "getOpenCollectionV3",
        "summary": "Get an Open Collection",
        "tags": [
          "Open Collections V3"
        ],
        "parameters": [
          {
            "name": "collectionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Open collection details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenCollectionV3WithStatus"
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Unauthorized."
          }
        },
        "description": "Get an Open Collection"
      }
    },
    "/v3/bills": {
      "post": {
        "operationId": "createBill",
        "summary": "Create a Bill",
        "description": "Create a bill within a collection. The bill's collection will be set to active automatically.",
        "tags": [
          "Bills"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/CreateBillRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Bill created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Bill"
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Unauthorized."
          }
        }
      }
    },
    "/v3/bills/{billId}": {
      "get": {
        "operationId": "getBill",
        "summary": "Get a Bill",
        "tags": [
          "Bills"
        ],
        "parameters": [
          {
            "name": "billId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Bill details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Bill"
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Unauthorized."
          }
        },
        "description": "Get a Bill"
      },
      "delete": {
        "operationId": "deleteBill",
        "summary": "Delete a Bill",
        "description": "Only due bills can be deleted. Paid bills cannot be deleted.",
        "tags": [
          "Bills"
        ],
        "parameters": [
          {
            "name": "billId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Bill deleted.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Unauthorized."
          }
        }
      }
    },
    "/v3/bills/{billId}/transactions": {
      "get": {
        "operationId": "listTransactions",
        "summary": "Get Transaction Index",
        "tags": [
          "Transactions"
        ],
        "parameters": [
          {
            "name": "billId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "pending",
                "completed",
                "failed"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Transaction list.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionList"
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Unauthorized."
          }
        },
        "description": "Get Transaction Index"
      }
    },
    "/v3/collections/{collectionId}/payment_methods": {
      "get": {
        "operationId": "listPaymentMethods",
        "summary": "Get Payment Method Index",
        "tags": [
          "Payment Methods"
        ],
        "parameters": [
          {
            "name": "collectionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Payment methods list.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentMethodList"
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Unauthorized."
          }
        },
        "description": "Get Payment Method Index"
      },
      "put": {
        "operationId": "updatePaymentMethods",
        "summary": "Update Payment Methods",
        "description": "Pass payment method codes to enable them. Omitted codes will be disabled.",
        "tags": [
          "Payment Methods"
        ],
        "parameters": [
          {
            "name": "collectionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/UpdatePaymentMethodsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Payment methods updated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentMethodList"
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Unauthorized."
          }
        }
      }
    },
    "/v3/fpx_banks": {
      "get": {
        "operationId": "listFpxBanks",
        "summary": "Get FPX Banks",
        "description": "Get list of bank codes for online banking. For complete payment gateway bank codes, use the v4 payment gateways endpoint.",
        "tags": [
          "Banks"
        ],
        "responses": {
          "200": {
            "description": "FPX bank list.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FpxBankList"
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Unauthorized."
          }
        }
      }
    },
    "/v4/collections": {
      "post": {
        "operationId": "createCollectionV4",
        "summary": "Create a Collection (V4)",
        "description": "Create collection with support for up to 2 split rule recipients.",
        "tags": [
          "Collections V4"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/CreateCollectionV4Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Collection created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CollectionV4"
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Unauthorized."
          }
        }
      },
      "get": {
        "operationId": "listCollectionsV4",
        "summary": "Get Collection Index (V4)",
        "tags": [
          "Collections V4"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "active",
                "inactive"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of collections.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CollectionListV4"
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Unauthorized."
          }
        },
        "description": "Get Collection Index (V4)"
      }
    },
    "/v4/collections/{collectionId}": {
      "get": {
        "operationId": "getCollectionV4",
        "summary": "Get a Collection (V4)",
        "tags": [
          "Collections V4"
        ],
        "parameters": [
          {
            "name": "collectionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Collection details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CollectionV4WithStatus"
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Unauthorized."
          }
        },
        "description": "Get a Collection (V4)"
      }
    },
    "/v4/open_collections": {
      "post": {
        "operationId": "createOpenCollectionV4",
        "summary": "Create an Open Collection (V4)",
        "tags": [
          "Open Collections V4"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/CreateOpenCollectionV4Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Open collection created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenCollectionV4"
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Unauthorized."
          }
        },
        "description": "Create an Open Collection (V4)"
      }
    }
  },
  "components": {
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "HTTP Basic Auth. Use your API Secret Key as the username with an empty password."
      }
    },
    "schemas": {
      "CreateCollectionV3Request": {
        "type": "object",
        "required": [
          "title"
        ],
        "properties": {
          "title": {
            "type": "string",
            "description": "Collection title displayed on bill template."
          },
          "split_payment[email]": {
            "type": "string",
            "description": "Split rule recipient's email (must be verified)."
          },
          "split_payment[fixed_cut]": {
            "type": "integer",
            "description": "Fixed cut in smallest currency unit (cents)."
          },
          "split_payment[variable_cut]": {
            "type": "integer",
            "description": "Percentage cut in positive integer."
          },
          "split_payment[split_header]": {
            "type": "boolean",
            "description": "Show split recipient infographic on templates."
          }
        }
      },
      "CollectionV3": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "logo": {
            "$ref": "#/components/schemas/Logo"
          },
          "split_payment": {
            "$ref": "#/components/schemas/SplitPaymentV3"
          }
        }
      },
      "CollectionV3WithStatus": {
        "allOf": [
          {
            "$ref": "#/components/schemas/CollectionV3"
          },
          {
            "type": "object",
            "properties": {
              "status": {
                "type": "string",
                "enum": [
                  "active",
                  "inactive"
                ]
              }
            }
          }
        ]
      },
      "CollectionListV3": {
        "type": "object",
        "properties": {
          "collections": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CollectionV3WithStatus"
            }
          },
          "page": {
            "type": "integer"
          }
        }
      },
      "CreateOpenCollectionV3Request": {
        "type": "object",
        "required": [
          "title",
          "description"
        ],
        "properties": {
          "title": {
            "type": "string",
            "maxLength": 50
          },
          "description": {
            "type": "string",
            "maxLength": 200
          },
          "amount": {
            "type": "integer",
            "description": "Amount in cents. Required if fixed_amount is true."
          },
          "fixed_amount": {
            "type": "boolean",
            "default": true
          },
          "fixed_quantity": {
            "type": "boolean",
            "default": true
          },
          "payment_button": {
            "type": "string",
            "enum": [
              "buy",
              "pay"
            ],
            "default": "pay"
          },
          "reference_1_label": {
            "type": "string",
            "maxLength": 20
          },
          "reference_2_label": {
            "type": "string",
            "maxLength": 20
          },
          "email_link": {
            "type": "string",
            "format": "uri"
          },
          "tax": {
            "type": "integer",
            "description": "Tax rate in positive integer."
          },
          "split_payment[email]": {
            "type": "string"
          },
          "split_payment[fixed_cut]": {
            "type": "integer"
          },
          "split_payment[variable_cut]": {
            "type": "integer"
          },
          "split_payment[split_header]": {
            "type": "boolean"
          }
        }
      },
      "OpenCollectionV3": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "reference_1_label": {
            "type": "string",
            "nullable": true
          },
          "reference_2_label": {
            "type": "string",
            "nullable": true
          },
          "email_link": {
            "type": "string",
            "nullable": true
          },
          "amount": {
            "type": "integer",
            "nullable": true
          },
          "fixed_amount": {
            "type": "boolean"
          },
          "tax": {
            "type": "integer",
            "nullable": true
          },
          "fixed_quantity": {
            "type": "boolean"
          },
          "payment_button": {
            "type": "string"
          },
          "photo": {
            "$ref": "#/components/schemas/Photo"
          },
          "split_payment": {
            "$ref": "#/components/schemas/SplitPaymentV3"
          },
          "url": {
            "type": "string",
            "format": "uri"
          }
        }
      },
      "OpenCollectionV3WithStatus": {
        "allOf": [
          {
            "$ref": "#/components/schemas/OpenCollectionV3"
          },
          {
            "type": "object",
            "properties": {
              "status": {
                "type": "string",
                "enum": [
                  "active",
                  "inactive"
                ]
              }
            }
          }
        ]
      },
      "OpenCollectionListV3": {
        "type": "object",
        "properties": {
          "open_collections": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OpenCollectionV3WithStatus"
            }
          },
          "page": {
            "type": "integer"
          }
        }
      },
      "CreateBillRequest": {
        "type": "object",
        "required": [
          "collection_id",
          "name",
          "amount",
          "callback_url",
          "description"
        ],
        "properties": {
          "collection_id": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Required if mobile is not present."
          },
          "mobile": {
            "type": "string",
            "description": "With country code, e.g. +60122345678. Required if email is not present."
          },
          "name": {
            "type": "string",
            "maxLength": 255,
            "description": "Recipient name."
          },
          "amount": {
            "type": "integer",
            "description": "Amount in smallest currency unit (cents)."
          },
          "callback_url": {
            "type": "string",
            "format": "uri",
            "description": "Webhook URL called after payment completion."
          },
          "description": {
            "type": "string",
            "maxLength": 200
          },
          "due_at": {
            "type": "string",
            "format": "date",
            "description": "Due date (YYYY-MM-DD). Default is today."
          },
          "redirect_url": {
            "type": "string",
            "format": "uri"
          },
          "deliver": {
            "type": "boolean",
            "default": false,
            "description": "Send email/SMS delivery."
          },
          "reference_1_label": {
            "type": "string",
            "maxLength": 20
          },
          "reference_1": {
            "type": "string",
            "maxLength": 120
          },
          "reference_2_label": {
            "type": "string",
            "maxLength": 20
          },
          "reference_2": {
            "type": "string",
            "maxLength": 120
          }
        }
      },
      "Bill": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "collection_id": {
            "type": "string"
          },
          "paid": {
            "type": "boolean"
          },
          "state": {
            "type": "string",
            "enum": [
              "due",
              "paid",
              "deleted"
            ]
          },
          "amount": {
            "type": "integer"
          },
          "paid_amount": {
            "type": "integer"
          },
          "due_at": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "nullable": true
          },
          "mobile": {
            "type": "string",
            "nullable": true
          },
          "name": {
            "type": "string"
          },
          "url": {
            "type": "string",
            "format": "uri"
          },
          "reference_1_label": {
            "type": "string",
            "nullable": true
          },
          "reference_1": {
            "type": "string",
            "nullable": true
          },
          "reference_2_label": {
            "type": "string",
            "nullable": true
          },
          "reference_2": {
            "type": "string",
            "nullable": true
          },
          "redirect_url": {
            "type": "string",
            "nullable": true
          },
          "callback_url": {
            "type": "string"
          },
          "description": {
            "type": "string"
          }
        }
      },
      "TransactionList": {
        "type": "object",
        "properties": {
          "bill_id": {
            "type": "string"
          },
          "transactions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Transaction"
            }
          },
          "page": {
            "type": "integer"
          }
        }
      },
      "Transaction": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "completed",
              "failed"
            ]
          },
          "completed_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "payment_channel": {
            "type": "string",
            "description": "Payment channel code (e.g. FPX, BOOST, TOUCHNGO)."
          }
        }
      },
      "PaymentMethodList": {
        "type": "object",
        "properties": {
          "payment_methods": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PaymentMethod"
            }
          }
        }
      },
      "PaymentMethod": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "Unique payment method code."
          },
          "name": {
            "type": "string"
          },
          "active": {
            "type": "boolean"
          }
        }
      },
      "UpdatePaymentMethodsRequest": {
        "type": "object",
        "properties": {
          "payment_methods": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "string"
                }
              }
            },
            "description": "Array of payment method codes to enable."
          }
        }
      },
      "FpxBankList": {
        "type": "object",
        "properties": {
          "banks": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FpxBank"
            }
          }
        }
      },
      "FpxBank": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Bank code for reference_1."
          },
          "active": {
            "type": "boolean",
            "description": "Bank availability."
          }
        }
      },
      "CreateCollectionV4Request": {
        "type": "object",
        "required": [
          "title"
        ],
        "properties": {
          "title": {
            "type": "string"
          },
          "split_header": {
            "type": "boolean"
          },
          "split_payments": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SplitPaymentV4Input"
            }
          }
        }
      },
      "SplitPaymentV4Input": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string"
          },
          "fixed_cut": {
            "type": "integer"
          },
          "variable_cut": {
            "type": "integer"
          },
          "stack_order": {
            "type": "integer",
            "description": "Sequence starting from 0."
          }
        }
      },
      "CollectionV4": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "logo": {
            "$ref": "#/components/schemas/Logo"
          },
          "split_header": {
            "type": "boolean"
          },
          "split_payments": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SplitPaymentV4"
            }
          }
        }
      },
      "CollectionV4WithStatus": {
        "allOf": [
          {
            "$ref": "#/components/schemas/CollectionV4"
          },
          {
            "type": "object",
            "properties": {
              "status": {
                "type": "string",
                "enum": [
                  "active",
                  "inactive"
                ]
              }
            }
          }
        ]
      },
      "CollectionListV4": {
        "type": "object",
        "properties": {
          "collections": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CollectionV4WithStatus"
            }
          },
          "page": {
            "type": "integer"
          }
        }
      },
      "CreateOpenCollectionV4Request": {
        "type": "object",
        "required": [
          "title",
          "description"
        ],
        "properties": {
          "title": {
            "type": "string",
            "maxLength": 50
          },
          "description": {
            "type": "string",
            "maxLength": 200
          },
          "amount": {
            "type": "integer"
          },
          "fixed_amount": {
            "type": "boolean",
            "default": true
          },
          "fixed_quantity": {
            "type": "boolean",
            "default": true
          },
          "payment_button": {
            "type": "string",
            "enum": [
              "buy",
              "pay"
            ],
            "default": "pay"
          },
          "reference_1_label": {
            "type": "string",
            "maxLength": 20
          },
          "reference_2_label": {
            "type": "string",
            "maxLength": 20
          },
          "email_link": {
            "type": "string",
            "format": "uri"
          },
          "tax": {
            "type": "integer"
          },
          "split_header": {
            "type": "boolean"
          },
          "split_payments": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SplitPaymentV4Input"
            }
          },
          "redirect_uri": {
            "type": "string",
            "format": "uri"
          }
        }
      },
      "OpenCollectionV4": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "reference_1_label": {
            "type": "string",
            "nullable": true
          },
          "reference_2_label": {
            "type": "string",
            "nullable": true
          },
          "email_link": {
            "type": "string",
            "nullable": true
          },
          "amount": {
            "type": "integer",
            "nullable": true
          },
          "fixed_amount": {
            "type": "boolean"
          },
          "tax": {
            "type": "integer",
            "nullable": true
          },
          "fixed_quantity": {
            "type": "boolean"
          },
          "payment_button": {
            "type": "string"
          },
          "photo": {
            "$ref": "#/components/schemas/Photo"
          },
          "split_header": {
            "type": "boolean"
          },
          "split_payments": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SplitPaymentV4"
            }
          },
          "url": {
            "type": "string",
            "format": "uri"
          },
          "redirect_uri": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "Logo": {
        "type": "object",
        "properties": {
          "thumb_url": {
            "type": "string",
            "nullable": true
          },
          "avatar_url": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "Photo": {
        "type": "object",
        "properties": {
          "retina_url": {
            "type": "string",
            "nullable": true
          },
          "avatar_url": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "SplitPaymentV3": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "nullable": true
          },
          "fixed_cut": {
            "type": "integer",
            "nullable": true
          },
          "variable_cut": {
            "type": "integer",
            "nullable": true
          },
          "split_header": {
            "type": "boolean"
          }
        }
      },
      "SplitPaymentV4": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string"
          },
          "fixed_cut": {
            "type": "integer",
            "nullable": true
          },
          "variable_cut": {
            "type": "integer",
            "nullable": true
          },
          "stack_order": {
            "type": "integer"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "type": {
                "type": "string"
              },
              "message": {
                "type": "string"
              }
            }
          }
        }
      }
    }
  }
}
