{
  "openapi": "3.0.3",
  "info": {
    "title": "BuiltWith API",
    "version": "1.0.0",
    "description": "BuiltWith technology lookup API. Query domain technology profiles, get lists of sites using specific technologies, and access technology trends data.",
    "x-jentic-source-url": "https://api.builtwith.com/",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://api.builtwith.com",
      "description": "BuiltWith API Server"
    }
  ],
  "tags": [
    {
      "name": "Domain",
      "description": "Domain technology lookup"
    },
    {
      "name": "Free",
      "description": "Free tier lookups"
    },
    {
      "name": "Lists",
      "description": "Technology site lists"
    },
    {
      "name": "Trends",
      "description": "Technology trend data"
    },
    {
      "name": "Keywords",
      "description": "Keyword data"
    },
    {
      "name": "Company to URL",
      "description": "Company name to URL lookup"
    }
  ],
  "paths": {
    "/v21/api.json": {
      "get": {
        "tags": [
          "Domain"
        ],
        "summary": "Domain technology lookup",
        "description": "Returns a detailed technology profile for the specified domain.",
        "operationId": "domainLookup",
        "parameters": [
          {
            "name": "KEY",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Your BuiltWith API key"
          },
          {
            "name": "LOOKUP",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Domain to look up (e.g., example.com)"
          },
          {
            "name": "NOMETA",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "yes",
                "no"
              ]
            },
            "description": "Exclude meta data"
          },
          {
            "name": "NOLIVE",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "yes",
                "no"
              ]
            },
            "description": "Exclude live data"
          },
          {
            "name": "NOATTR",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "yes",
                "no"
              ]
            },
            "description": "Exclude attribute data"
          },
          {
            "name": "HIDETEXT",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "yes",
                "no"
              ]
            },
            "description": "Hide description text"
          },
          {
            "name": "HIDEDL",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "yes",
                "no"
              ]
            },
            "description": "Hide detail links"
          }
        ],
        "responses": {
          "200": {
            "description": "Technology profile",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DomainResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed"
          }
        }
      }
    },
    "/free1/api.json": {
      "get": {
        "tags": [
          "Free"
        ],
        "summary": "Free domain lookup",
        "description": "Free tier domain lookup with limited results.",
        "operationId": "freeDomainLookup",
        "parameters": [
          {
            "name": "KEY",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Your free API key"
          },
          {
            "name": "LOOKUP",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Domain to look up"
          }
        ],
        "responses": {
          "200": {
            "description": "Free technology profile",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DomainResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed"
          }
        }
      }
    },
    "/dlv1/api.json": {
      "get": {
        "tags": [
          "Lists"
        ],
        "summary": "Get technology site list",
        "description": "Returns a list of websites using a specific technology.",
        "operationId": "getSiteList",
        "parameters": [
          {
            "name": "KEY",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "TECH",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Technology name"
          },
          {
            "name": "OFFSET",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            },
            "description": "Pagination offset"
          }
        ],
        "responses": {
          "200": {
            "description": "List of sites",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SiteListResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed"
          }
        }
      }
    },
    "/tv1/api.json": {
      "get": {
        "tags": [
          "Trends"
        ],
        "summary": "Get technology trends",
        "description": "Returns trend data for a technology over time.",
        "operationId": "getTechTrends",
        "parameters": [
          {
            "name": "KEY",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "TECH",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Technology name"
          }
        ],
        "responses": {
          "200": {
            "description": "Trend data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrendResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed"
          }
        }
      }
    },
    "/kw1/api.json": {
      "get": {
        "tags": [
          "Keywords"
        ],
        "summary": "Get keyword data",
        "description": "Returns keyword and meta data for a domain.",
        "operationId": "getKeywordData",
        "parameters": [
          {
            "name": "KEY",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "LOOKUP",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Domain to look up"
          }
        ],
        "responses": {
          "200": {
            "description": "Keyword data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KeywordResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed"
          }
        }
      }
    },
    "/ctu1/api.json": {
      "get": {
        "tags": [
          "Company to URL"
        ],
        "summary": "Company to URL lookup",
        "description": "Looks up a company name and returns the associated URL.",
        "operationId": "companyToUrl",
        "parameters": [
          {
            "name": "KEY",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "COMPANY",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Company name to look up"
          }
        ],
        "responses": {
          "200": {
            "description": "Company URL result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          }
        },
        "required": [
          "error"
        ]
      },
      "DomainResult": {
        "type": "object",
        "properties": {
          "Results": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "Result": {
                  "type": "object",
                  "properties": {
                    "Paths": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "FirstIndexed": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "LastIndexed": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "Domain": {
                            "type": "string"
                          },
                          "Url": {
                            "type": "string"
                          },
                          "SubDomain": {
                            "type": "string"
                          },
                          "Technologies": {
                            "type": "array",
                            "items": {
                              "$ref": "#/components/schemas/Technology"
                            }
                          }
                        }
                      }
                    },
                    "IsDB": {
                      "type": "integer"
                    },
                    "Spend": {
                      "type": "integer"
                    }
                  }
                },
                "Lookup": {
                  "type": "string"
                }
              }
            }
          },
          "Errors": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "Message": {
                  "type": "string"
                },
                "Lookup": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "Technology": {
        "type": "object",
        "properties": {
          "Name": {
            "type": "string"
          },
          "Description": {
            "type": "string"
          },
          "Link": {
            "type": "string"
          },
          "Tag": {
            "type": "string"
          },
          "FirstDetected": {
            "type": "integer"
          },
          "LastDetected": {
            "type": "integer"
          },
          "IsPremium": {
            "type": "string"
          },
          "Categories": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "SiteListResult": {
        "type": "object",
        "properties": {
          "Identifiers": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "Domain": {
                  "type": "string"
                },
                "Url": {
                  "type": "string"
                }
              }
            }
          },
          "NextOffset": {
            "type": "integer"
          },
          "ResultCode": {
            "type": "integer"
          }
        }
      },
      "TrendResult": {
        "type": "object",
        "properties": {
          "Dates": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "D": {
                  "type": "string"
                },
                "S": {
                  "type": "integer"
                }
              }
            }
          }
        }
      },
      "KeywordResult": {
        "type": "object",
        "properties": {
          "Keywords": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "Meta": {
            "type": "object"
          }
        }
      },
      "CompanyResult": {
        "type": "object",
        "properties": {
          "Matches": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "Company": {
                  "type": "string"
                },
                "Domain": {
                  "type": "string"
                },
                "Url": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    }
  }
}
