{
  "openapi": "3.0.0",
  "info": {
    "description": "Documentation of the EAN-Search.org API, see [https://www.ean-search.org/ean-database-api.html](https://www.ean-search.org/ean-database-api.html).\nPlease consult the PDF manual in your account for more details.",
    "title": "EAN-Search.org API",
    "version": "1.51.0",
    "x-jentic-source-url": "https://raw.githubusercontent.com/jentic/jentic-public-apis/refs/heads/main/apis/openapi/ean-search.org/main/1.51.0/openapi.json",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://api.ean-search.org/"
    }
  ],
  "paths": {
    "/barcode-image": {
      "get": {
        "parameters": [
          {
            "description": "API operation",
            "in": "query",
            "name": "op",
            "required": true,
            "schema": {
              "enum": [
                "barcode-image"
              ],
              "type": "string"
            }
          },
          {
            "description": "EAN code to search for",
            "in": "query",
            "name": "ean",
            "required": true,
            "schema": {
              "format": "unsigned64",
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "width",
            "schema": {
              "default": 102,
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "height",
            "schema": {
              "default": 50,
              "type": "integer"
            }
          },
          {
            "description": "output format",
            "in": "query",
            "name": "format",
            "schema": {
              "enum": [
                "json",
                "xml"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Barcode"
                  },
                  "type": "array"
                }
              },
              "application/xml": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Barcode"
                  },
                  "type": "array"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "description": "Invalid operation requested"
          },
          "401": {
            "description": "Invalid access token"
          },
          "402": {
            "description": "Request limit reached"
          },
          "405": {
            "description": "Must use HTTP GET to access the API"
          },
          "429": {
            "description": "Too many requests (eg. rate limit exeeded)"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "operationId": "barcode-image",
        "summary": "Generate a PNG barcode image",
        "description": "Generate a PNG barcode image",
        "tags": [
          "barcode-image"
        ]
      }
    },
    "/barcode-lookup": {
      "get": {
        "parameters": [
          {
            "description": "API operation",
            "in": "query",
            "name": "op",
            "required": true,
            "schema": {
              "enum": [
                "barcode-lookup"
              ],
              "type": "string"
            }
          },
          {
            "description": "EAN code to search for",
            "in": "query",
            "name": "ean",
            "required": true,
            "schema": {
              "format": "unsigned64",
              "type": "integer"
            }
          },
          {
            "description": "preferred language for the product name",
            "in": "query",
            "name": "language",
            "schema": {
              "default": 1,
              "type": "integer"
            }
          },
          {
            "description": "output format",
            "in": "query",
            "name": "format",
            "schema": {
              "enum": [
                "json",
                "xml"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Product"
                  },
                  "type": "array"
                }
              },
              "application/xml": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Product"
                  },
                  "type": "array"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "description": "Invalid operation requested"
          },
          "401": {
            "description": "Invalid access token"
          },
          "402": {
            "description": "Request limit reached"
          },
          "405": {
            "description": "Must use HTTP GET to access the API"
          },
          "429": {
            "description": "Too many requests (eg. rate limit exeeded)"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "Search by EAN code",
        "operationId": "barcode-lookup",
        "summary": "Look up an EAN",
        "tags": [
          "barcode-lookup"
        ]
      }
    },
    "/barcode-prefix-search": {
      "get": {
        "parameters": [
          {
            "description": "API operation",
            "in": "query",
            "name": "op",
            "required": true,
            "schema": {
              "enum": [
                "barcode-prefix-search"
              ],
              "type": "string"
            }
          },
          {
            "description": "barcode prefix to search for, at least 4 digits",
            "in": "query",
            "name": "prefix",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "preferred language for the product name",
            "in": "query",
            "name": "language",
            "schema": {
              "default": 1,
              "type": "integer"
            }
          },
          {
            "description": "result page",
            "in": "query",
            "name": "page",
            "schema": {
              "default": 0,
              "type": "integer"
            }
          },
          {
            "description": "output format",
            "in": "query",
            "name": "format",
            "schema": {
              "enum": [
                "json",
                "xml"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Product"
                  },
                  "type": "array"
                }
              },
              "application/xml": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Product"
                  },
                  "type": "array"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "description": "Invalid operation requested"
          },
          "401": {
            "description": "Invalid access token"
          },
          "402": {
            "description": "Request limit reached"
          },
          "405": {
            "description": "Must use HTTP GET to access the API"
          },
          "429": {
            "description": "Too many requests (eg. rate limit exeeded)"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "operationId": "barcode-prefix-search",
        "summary": "Query the database for all barcodes with the same beginning",
        "description": "Query the database for all barcodes with the same beginning",
        "tags": [
          "barcode-prefix-search"
        ]
      }
    },
    "/category-search": {
      "get": {
        "parameters": [
          {
            "description": "API operation",
            "in": "query",
            "name": "op",
            "required": true,
            "schema": {
              "enum": [
                "category-search"
              ],
              "type": "string"
            }
          },
          {
            "description": "category number",
            "in": "query",
            "name": "category",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "name or keyords to search for",
            "in": "query",
            "name": "name",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "preferred language for the product name (default any language)",
            "in": "query",
            "name": "language",
            "schema": {
              "default": 99,
              "type": "integer"
            }
          },
          {
            "description": "result page",
            "in": "query",
            "name": "page",
            "schema": {
              "default": 0,
              "type": "integer"
            }
          },
          {
            "description": "output format",
            "in": "query",
            "name": "format",
            "schema": {
              "enum": [
                "json",
                "xml"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Product"
                  },
                  "type": "array"
                }
              },
              "application/xml": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Product"
                  },
                  "type": "array"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "description": "Invalid operation requested"
          },
          "401": {
            "description": "Invalid access token"
          },
          "402": {
            "description": "Request limit reached"
          },
          "405": {
            "description": "Must use HTTP GET to access the API"
          },
          "429": {
            "description": "Too many requests (eg. rate limit exeeded)"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "operationId": "category-search",
        "summary": "Search for products form a certain category",
        "description": "Search for products form a certain category",
        "tags": [
          "category-search"
        ]
      }
    },
    "/issuing-country": {
      "get": {
        "parameters": [
          {
            "description": "API operation",
            "in": "query",
            "name": "op",
            "required": true,
            "schema": {
              "enum": [
                "issuing-country"
              ],
              "type": "string"
            }
          },
          {
            "description": "EAN code to search for",
            "in": "query",
            "name": "ean",
            "required": true,
            "schema": {
              "format": "unsigned64",
              "type": "integer"
            }
          },
          {
            "description": "output format",
            "in": "query",
            "name": "format",
            "schema": {
              "enum": [
                "json",
                "xml"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/IssuingCountry"
                  },
                  "type": "array"
                }
              },
              "application/xml": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/IssuingCountry"
                  },
                  "type": "array"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "description": "Invalid operation requested"
          },
          "401": {
            "description": "Invalid access token"
          },
          "402": {
            "description": "Request limit reached"
          },
          "405": {
            "description": "Must use HTTP GET to access the API"
          },
          "429": {
            "description": "Too many requests (eg. rate limit exeeded)"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "Search for a issuing country of a barcode. In contrast to barcode-lookup, this will always give a result, even if we don't know the product name.",
        "operationId": "issuing-country",
        "summary": "Search for a issuing country of a barcode",
        "tags": [
          "issuing-country"
        ]
      }
    },
    "/product-search": {
      "get": {
        "parameters": [
          {
            "description": "API operation",
            "in": "query",
            "name": "op",
            "required": true,
            "schema": {
              "enum": [
                "product-search"
              ],
              "type": "string"
            }
          },
          {
            "description": "name or keyords to search for",
            "in": "query",
            "name": "name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "preferred language for the product name (default any language)",
            "in": "query",
            "name": "language",
            "schema": {
              "default": 1,
              "type": "integer"
            }
          },
          {
            "description": "result page",
            "in": "query",
            "name": "page",
            "schema": {
              "default": 0,
              "type": "integer"
            }
          },
          {
            "description": "output format",
            "in": "query",
            "name": "format",
            "schema": {
              "enum": [
                "json",
                "xml"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Product"
                  },
                  "type": "array"
                }
              },
              "application/xml": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Product"
                  },
                  "type": "array"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "description": "Invalid operation requested"
          },
          "401": {
            "description": "Invalid access token"
          },
          "402": {
            "description": "Request limit reached"
          },
          "405": {
            "description": "Must use HTTP GET to access the API"
          },
          "429": {
            "description": "Too many requests (eg. rate limit exeeded)"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "operationId": "product-search",
        "summary": "Search by product name",
        "description": "Search by product name",
        "tags": [
          "product-search"
        ]
      }
    },
    "/similar-product-search": {
      "get": {
        "parameters": [
          {
            "description": "API operation",
            "in": "query",
            "name": "op",
            "required": true,
            "schema": {
              "enum": [
                "similar-product-search"
              ],
              "type": "string"
            }
          },
          {
            "description": "name or keyords to search for",
            "in": "query",
            "name": "name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "preferred language for the product name (default any language)",
            "in": "query",
            "name": "language",
            "schema": {
              "default": 1,
              "type": "integer"
            }
          },
          {
            "description": "result page",
            "in": "query",
            "name": "page",
            "schema": {
              "default": 0,
              "type": "integer"
            }
          },
          {
            "description": "output format",
            "in": "query",
            "name": "format",
            "schema": {
              "enum": [
                "json",
                "xml"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Product"
                  },
                  "type": "array"
                }
              },
              "application/xml": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Product"
                  },
                  "type": "array"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "description": "Invalid operation requested"
          },
          "401": {
            "description": "Invalid access token"
          },
          "402": {
            "description": "Request limit reached"
          },
          "405": {
            "description": "Must use HTTP GET to access the API"
          },
          "429": {
            "description": "Too many requests (eg. rate limit exeeded)"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "operationId": "similar-product-search",
        "summary": "Find products with similar names",
        "description": "Find products with similar names",
        "tags": [
          "similar-product-search"
        ]
      }
    },
    "/verify-checksum": {
      "get": {
        "parameters": [
          {
            "description": "API operation",
            "in": "query",
            "name": "op",
            "required": true,
            "schema": {
              "enum": [
                "verify-checksum"
              ],
              "type": "string"
            }
          },
          {
            "description": "EAN code to search for",
            "in": "query",
            "name": "ean",
            "required": true,
            "schema": {
              "format": "unsigned64",
              "type": "integer"
            }
          },
          {
            "description": "output format",
            "in": "query",
            "name": "format",
            "schema": {
              "enum": [
                "json",
                "xml"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/VerifyChecksum"
                  },
                  "type": "array"
                }
              },
              "application/xml": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/VerifyChecksum"
                  },
                  "type": "array"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "description": "Invalid operation requested"
          },
          "401": {
            "description": "Invalid access token"
          },
          "402": {
            "description": "Request limit reached"
          },
          "405": {
            "description": "Must use HTTP GET to access the API"
          },
          "429": {
            "description": "Too many requests (eg. rate limit exeeded)"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "operationId": "verify-checksum",
        "summary": "Verify the checksum of an EAN code",
        "description": "Verify the checksum of an EAN code",
        "tags": [
          "verify-checksum"
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "Barcode": {
        "properties": {
          "barcode": {
            "description": "base64 encoded PNG image",
            "type": "string"
          },
          "ean": {
            "type": "string"
          }
        },
        "required": [
          "ean",
          "barcode"
        ],
        "type": "object",
        "xml": {
          "name": "product"
        }
      },
      "IssuingCountry": {
        "properties": {
          "ean": {
            "type": "string"
          },
          "issuingCountry": {
            "format": "ISO 3166 Alpha-2",
            "type": "string"
          }
        },
        "required": [
          "ean",
          "issuingCountry"
        ],
        "type": "object",
        "xml": {
          "name": "product"
        }
      },
      "Product": {
        "properties": {
          "categoryId": {
            "type": "string"
          },
          "categoryName": {
            "type": "string"
          },
          "ean": {
            "type": "string"
          },
          "issuingCountry": {
            "format": "ISO 3166 Alpha-2",
            "type": "string"
          },
          "name": {
            "type": "string"
          }
        },
        "required": [
          "ean",
          "name",
          "issuingCountry"
        ],
        "type": "object",
        "xml": {
          "name": "product"
        }
      },
      "VerifyChecksum": {
        "properties": {
          "ean": {
            "type": "string"
          },
          "valid": {
            "enum": [
              "0",
              "1"
            ],
            "type": "string"
          }
        },
        "required": [
          "ean",
          "valid"
        ],
        "type": "object",
        "xml": {
          "name": "product"
        }
      }
    },
    "securitySchemes": {
      "ApiKeyAuth": {
        "in": "query",
        "name": "token",
        "type": "apiKey"
      }
    }
  },
  "tags": [
    {
      "name": "barcode-image"
    },
    {
      "name": "barcode-lookup"
    },
    {
      "name": "barcode-prefix-search"
    },
    {
      "name": "category-search"
    },
    {
      "name": "issuing-country"
    },
    {
      "name": "product-search"
    },
    {
      "name": "similar-product-search"
    },
    {
      "name": "verify-checksum"
    }
  ]
}
