{
  "openapi": "3.0.3",
  "info": {
    "title": "GO1 API",
    "description": "GO1 API for learning management, user authentication, enrollments, and content delivery. Supports OAuth 2.0 with multiple grant types.",
    "version": "1.0.0",
    "x-jentic-source-url": "https://go1developer.readme.io",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://auth.go1.com",
      "description": "Authentication server"
    },
    {
      "url": "https://api.go1.com",
      "description": "Main API server"
    }
  ],
  "security": [
    {
      "oauth2": []
    }
  ],
  "paths": {
    "/oauth/authorize": {
      "get": {
        "summary": "Start OAuth2 Authorization",
        "description": "Initiates the OAuth2 authorization flow",
        "operationId": "oauthAuthorize",
        "tags": [
          "OAuth"
        ],
        "security": [],
        "parameters": [
          {
            "name": "client_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "response_type",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "code",
                "token"
              ]
            }
          },
          {
            "name": "redirect_uri",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uri"
            }
          },
          {
            "name": "scope",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "state",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "302": {
            "description": "Redirect to authorization page"
          },
          "400": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        }
      }
    },
    "/oauth/token": {
      "post": {
        "summary": "Get Access Token",
        "description": "Retrieves access tokens using various grant types",
        "operationId": "oauthToken",
        "tags": [
          "OAuth"
        ],
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "grant_type"
                ],
                "properties": {
                  "grant_type": {
                    "type": "string",
                    "enum": [
                      "authorization_code",
                      "refresh_token",
                      "client_credentials",
                      "go1_jwt",
                      "password"
                    ]
                  },
                  "code": {
                    "type": "string"
                  },
                  "redirect_uri": {
                    "type": "string"
                  },
                  "client_id": {
                    "type": "string"
                  },
                  "client_secret": {
                    "type": "string"
                  },
                  "refresh_token": {
                    "type": "string"
                  },
                  "username": {
                    "type": "string"
                  },
                  "password": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Token response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "access_token": {
                      "type": "string"
                    },
                    "token_type": {
                      "type": "string",
                      "example": "Bearer"
                    },
                    "expires_in": {
                      "type": "integer"
                    },
                    "refresh_token": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        }
      }
    },
    "/oauth/validate": {
      "get": {
        "summary": "Validate Access Token",
        "description": "Validates the status of an access token",
        "operationId": "oauthValidate",
        "tags": [
          "OAuth"
        ],
        "parameters": [
          {
            "name": "access_token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Token is valid",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "valid": {
                      "type": "boolean"
                    },
                    "user_id": {
                      "type": "string"
                    },
                    "client_id": {
                      "type": "string"
                    },
                    "expires_at": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        }
      }
    },
    "/oauth/revoke": {
      "post": {
        "summary": "Revoke Access Token",
        "description": "Revokes a user's access token",
        "operationId": "oauthRevoke",
        "tags": [
          "OAuth"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "token"
                ],
                "properties": {
                  "token": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Token revoked successfully"
          },
          "400": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        }
      }
    },
    "/oauth/public-key": {
      "get": {
        "summary": "Get Public Key",
        "description": "Retrieves RSA public key for offline token validation",
        "operationId": "oauthPublicKey",
        "tags": [
          "OAuth"
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "Public key",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/client": {
      "get": {
        "summary": "List OAuth Clients",
        "description": "Retrieves a list of OAuth clients",
        "operationId": "listClients",
        "tags": [
          "OAuth Clients"
        ],
        "responses": {
          "200": {
            "description": "List of OAuth clients",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/OAuthClient"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create OAuth Client",
        "description": "Creates a new OAuth client",
        "operationId": "createClient",
        "tags": [
          "OAuth Clients"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OAuthClientInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "OAuth client created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OAuthClient"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        }
      }
    },
    "/client/{clientId}": {
      "put": {
        "summary": "Update OAuth Client",
        "description": "Updates an existing OAuth client",
        "operationId": "updateClient",
        "tags": [
          "OAuth Clients"
        ],
        "parameters": [
          {
            "name": "clientId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OAuthClientInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OAuth client updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OAuthClient"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        }
      },
      "delete": {
        "summary": "Delete OAuth Client",
        "description": "Deletes an OAuth client",
        "operationId": "deleteClient",
        "tags": [
          "OAuth Clients"
        ],
        "parameters": [
          {
            "name": "clientId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "OAuth client deleted"
          },
          "404": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        }
      }
    },
    "/client/{clientId}/regenerate-secret": {
      "post": {
        "summary": "Regenerate Client Secret",
        "description": "Changes the client secret for an OAuth client",
        "operationId": "regenerateClientSecret",
        "tags": [
          "OAuth Clients"
        ],
        "parameters": [
          {
            "name": "clientId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "New client secret",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "client_secret": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        }
      }
    },
    "/users": {
      "get": {
        "summary": "List Users",
        "description": "Retrieves a list of users",
        "operationId": "listUsers",
        "tags": [
          "Users"
        ],
        "servers": [
          {
            "url": "https://api.go1.com"
          }
        ],
        "responses": {
          "200": {
            "description": "List of users",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/User"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create User",
        "description": "Creates a new user",
        "operationId": "createUser",
        "tags": [
          "Users"
        ],
        "servers": [
          {
            "url": "https://api.go1.com"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "User created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        }
      }
    },
    "/users/{user_id}": {
      "patch": {
        "summary": "Update User",
        "description": "Updates a user",
        "operationId": "updateUser",
        "tags": [
          "Users"
        ],
        "servers": [
          {
            "url": "https://api.go1.com"
          }
        ],
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "User updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        }
      }
    },
    "/enrollments": {
      "get": {
        "summary": "List Enrollments",
        "description": "Retrieves a list of enrollments",
        "operationId": "listEnrollments",
        "tags": [
          "Enrollments"
        ],
        "servers": [
          {
            "url": "https://api.go1.com"
          }
        ],
        "responses": {
          "200": {
            "description": "List of enrollments",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Enrollment"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create Enrollment",
        "description": "Creates a new enrollment",
        "operationId": "createEnrollment",
        "tags": [
          "Enrollments"
        ],
        "servers": [
          {
            "url": "https://api.go1.com"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EnrollmentInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Enrollment created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Enrollment"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        }
      }
    },
    "/enrollments/{enrollment_id}": {
      "patch": {
        "summary": "Update Enrollment",
        "description": "Updates an enrollment",
        "operationId": "updateEnrollment",
        "tags": [
          "Enrollments"
        ],
        "servers": [
          {
            "url": "https://api.go1.com"
          }
        ],
        "parameters": [
          {
            "name": "enrollment_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EnrollmentInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Enrollment updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Enrollment"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        }
      }
    },
    "/learning-objects": {
      "get": {
        "summary": "List Learning Objects",
        "description": "Retrieves a list of learning objects (courses, modules, etc.)",
        "operationId": "listLearningObjects",
        "tags": [
          "Learning Objects"
        ],
        "servers": [
          {
            "url": "https://api.go1.com"
          }
        ],
        "responses": {
          "200": {
            "description": "List of learning objects",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/LearningObject"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/learning-objects/{lo_id}": {
      "get": {
        "summary": "Get Learning Object",
        "description": "Retrieves a specific learning object by ID",
        "operationId": "getLearningObject",
        "tags": [
          "Learning Objects"
        ],
        "servers": [
          {
            "url": "https://api.go1.com"
          }
        ],
        "parameters": [
          {
            "name": "lo_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Learning object details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LearningObject"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        }
      }
    },
    "/webhooks": {
      "get": {
        "summary": "List Webhooks",
        "description": "Retrieves a list of configured webhooks",
        "operationId": "listWebhooks",
        "tags": [
          "Webhooks"
        ],
        "servers": [
          {
            "url": "https://api.go1.com"
          }
        ],
        "responses": {
          "200": {
            "description": "List of webhooks",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Webhook"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create Webhook",
        "description": "Creates a new webhook",
        "operationId": "createWebhook",
        "tags": [
          "Webhooks"
        ],
        "servers": [
          {
            "url": "https://api.go1.com"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebhookInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Webhook created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Webhook"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "oauth2": {
        "type": "oauth2",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://auth.go1.com/oauth/authorize",
            "tokenUrl": "https://auth.go1.com/oauth/token",
            "scopes": {}
          },
          "clientCredentials": {
            "tokenUrl": "https://auth.go1.com/oauth/token",
            "scopes": {}
          }
        }
      }
    },
    "schemas": {
      "OAuthClient": {
        "type": "object",
        "properties": {
          "client_id": {
            "type": "string"
          },
          "client_secret": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "redirect_uris": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "OAuthClientInput": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "redirect_uris": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "User": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "first_name": {
            "type": "string"
          },
          "last_name": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "UserInput": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "format": "email"
          },
          "first_name": {
            "type": "string"
          },
          "last_name": {
            "type": "string"
          }
        }
      },
      "Enrollment": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "user_id": {
            "type": "string"
          },
          "learning_object_id": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "progress": {
            "type": "integer"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "EnrollmentInput": {
        "type": "object",
        "required": [
          "user_id",
          "learning_object_id"
        ],
        "properties": {
          "user_id": {
            "type": "string"
          },
          "learning_object_id": {
            "type": "string"
          },
          "status": {
            "type": "string"
          }
        }
      },
      "LearningObject": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "duration": {
            "type": "integer"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Webhook": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "url": {
            "type": "string",
            "format": "uri"
          },
          "events": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "active": {
            "type": "boolean"
          }
        }
      },
      "WebhookInput": {
        "type": "object",
        "required": [
          "url",
          "events"
        ],
        "properties": {
          "url": {
            "type": "string",
            "format": "uri"
          },
          "events": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "error_description": {
            "type": "string"
          }
        }
      }
    },
    "responses": {
      "ErrorResponse": {
        "description": "Error response",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Enrollments"
    },
    {
      "name": "Learning Objects"
    },
    {
      "name": "OAuth"
    },
    {
      "name": "OAuth Clients"
    },
    {
      "name": "Users"
    },
    {
      "name": "Webhooks"
    }
  ]
}
