{
  "openapi": "3.0.1",
  "info": {
    "title": "Tofler",
    "description": "Tofler API",
    "contact": {
      "name": "Parijat Garg",
      "email": "parijat@tofler.in"
    },
    "version": "2.0",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/parijat/tofler/2.0"
  },
  "servers": [
    {
      "url": "https://www.tofler.in/api/v2"
    }
  ],
  "paths": {
    "/news": {
      "get": {
        "tags": [
          "news"
        ],
        "summary": "Default List of news",
        "description": "All latest news. In case a category is not supplied, a mixed feed is returned. If specified, only news items from that category is provided.",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "category",
            "in": "query",
            "description": "category id to filter the news on",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "start",
            "in": "query",
            "description": "pagination start point",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "News response",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/News"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {}
          }
        },
        "operationId": "get_news"
      }
    },
    "/news/categories": {
      "get": {
        "tags": [
          "categories"
        ],
        "summary": "List of supported news categories",
        "description": "List of supported news categories",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "News response",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Category"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {}
          }
        },
        "operationId": "get_news_categories"
      }
    },
    "/app_update": {
      "get": {
        "tags": [
          "App"
        ],
        "summary": "Returns the update status for the app",
        "description": "App uses this API to test if it is running the latest version of the app. If not, an update prompt is shown to the user asking to update the app. If the update is a breaking change, prompt can not be dismissed by the user.",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "version",
            "in": "query",
            "description": "version of the running app",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "update response",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "0",
                        "1",
                        "2"
                      ]
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {}
          }
        },
        "operationId": "get_app_update"
      }
    },
    "/register_gcm": {
      "get": {
        "tags": [
          "GCM"
        ],
        "summary": "Registers the gcm token for push",
        "description": "Registers the gcm token for push",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "*/*": {
              "schema": {
                "type": "object",
                "properties": {
                  "reg_id": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "update response",
            "content": {}
          },
          "default": {
            "description": "Unexpected error",
            "content": {}
          }
        },
        "operationId": "get_register_gcm"
      }
    }
  },
  "components": {
    "schemas": {
      "Category": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32"
          },
          "name": {
            "type": "string"
          }
        }
      },
      "News": {
        "required": [
          "image_url",
          "link",
          "title"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64"
          },
          "category": {
            "type": "integer",
            "format": "int32"
          },
          "title": {
            "type": "string"
          },
          "image_url": {
            "type": "string"
          },
          "link": {
            "type": "string"
          }
        }
      }
    }
  },
  "x-original-swagger-version": "2.0",
  "tags": [
    {
      "name": "App"
    },
    {
      "name": "GCM"
    },
    {
      "name": "categories"
    },
    {
      "name": "news"
    }
  ]
}
