{
  "openapi": "3.0.3",
  "info": {
    "title": "Apple Maps Server API",
    "description": "The Apple Maps Server API provides server-side geocoding, reverse geocoding, search, search autocomplete, directions, ETAs, and place lookup capabilities. Authenticate using a JWT (JSON Web Token) generated from a Maps identifier and private key. Rate limited to 25,000 calls per day per team (shared with MapKit JS).",
    "version": "1.2",
    "contact": {
      "name": "Apple Developer",
      "url": "https://developer.apple.com/documentation/applemapsserverapi"
    }
  },
  "servers": [
    {
      "url": "https://maps-api.apple.com",
      "description": "Apple Maps Server API"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/token": {
      "get": {
        "operationId": "getToken",
        "summary": "Generate a Maps access token",
        "description": "Returns a JWT maps access token used to call the Apple Maps Server API. Requires an authorization header with a Maps auth token (JWT signed with your private key).",
        "tags": [
          "Token"
        ],
        "responses": {
          "200": {
            "description": "Successfully generated a maps access token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Maps token is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests - Daily quota exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/geocode": {
      "get": {
        "operationId": "geocode",
        "summary": "Geocode an address",
        "description": "Returns the latitude and longitude of the address you specify.",
        "tags": [
          "Geocoding"
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "description": "The address to geocode. For example, q=1 Apple Park, Cupertino, CA.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limitToCountries",
            "in": "query",
            "required": false,
            "description": "A comma-separated list of two-letter ISO 3166-1 country codes to limit results to.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lang",
            "in": "query",
            "required": false,
            "description": "The language the server should use when returning the response, specified using a BCP 47 language code. Default is en-US.",
            "schema": {
              "type": "string",
              "default": "en-US"
            }
          },
          {
            "name": "searchLocation",
            "in": "query",
            "required": false,
            "description": "A location defined as a hint, specified as a comma-separated string containing latitude and longitude. For example, searchLocation=37.78,-122.42.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "searchRegion",
            "in": "query",
            "required": false,
            "description": "A region defined as a hint, specified as a comma-separated string: north-latitude,east-longitude,south-latitude,west-longitude.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userLocation",
            "in": "query",
            "required": false,
            "description": "The location of the user, specified as a comma-separated string containing latitude and longitude.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "An array of Place objects matching the geocoded address.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlaceResults"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid query parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid Maps access token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests - Daily quota exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/reverseGeocode": {
      "get": {
        "operationId": "reverseGeocode",
        "summary": "Reverse geocode a location",
        "description": "Returns an array of addresses present at the coordinates you provide.",
        "tags": [
          "Geocoding"
        ],
        "parameters": [
          {
            "name": "loc",
            "in": "query",
            "required": true,
            "description": "The coordinate to reverse geocode as a comma-separated string containing latitude and longitude. For example, loc=37.3316851,-122.0300674.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lang",
            "in": "query",
            "required": false,
            "description": "The language the server should use when returning the response, specified using a BCP 47 language code. Default is en-US.",
            "schema": {
              "type": "string",
              "default": "en-US"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "An array of Place objects at the specified coordinates.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlaceResults"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/search": {
      "get": {
        "operationId": "search",
        "summary": "Search for places that match specific criteria",
        "description": "Find places by name or specific search criteria.",
        "tags": [
          "Search"
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "description": "The place to search for. For example, q=eiffel tower.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "excludePoiCategories",
            "in": "query",
            "required": false,
            "description": "A comma-separated list of POI categories to exclude from the results.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "includePoiCategories",
            "in": "query",
            "required": false,
            "description": "A comma-separated list of POI categories to include in the results.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limitToCountries",
            "in": "query",
            "required": false,
            "description": "A comma-separated list of two-letter ISO 3166-1 country codes.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "resultTypeFilter",
            "in": "query",
            "required": false,
            "description": "A comma-separated list of result types to include. For example, resultTypeFilter=Poi.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lang",
            "in": "query",
            "required": false,
            "description": "The language the server should use when returning the response, specified using a BCP 47 language code. Default is en-US.",
            "schema": {
              "type": "string",
              "default": "en-US"
            }
          },
          {
            "name": "searchLocation",
            "in": "query",
            "required": false,
            "description": "A location defined as a hint, specified as a comma-separated string containing latitude and longitude.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "searchRegion",
            "in": "query",
            "required": false,
            "description": "A region defined as a hint, specified as a comma-separated string: north-latitude,east-longitude,south-latitude,west-longitude.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userLocation",
            "in": "query",
            "required": false,
            "description": "The location of the user, specified as a comma-separated string containing latitude and longitude.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "searchRegionPriority",
            "in": "query",
            "required": false,
            "description": "A value that indicates the importance of the search region. Allowed values: default, required.",
            "schema": {
              "type": "string",
              "enum": [
                "default",
                "required"
              ]
            }
          },
          {
            "name": "enablePagination",
            "in": "query",
            "required": false,
            "description": "When true, the response includes pagination information. Default is false.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "pageToken",
            "in": "query",
            "required": false,
            "description": "A page token for paginated results.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "includeAddressCategories",
            "in": "query",
            "required": false,
            "description": "A comma-separated list of address categories to include. Requires address in resultTypeFilter.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "excludeAddressCategories",
            "in": "query",
            "required": false,
            "description": "A comma-separated list of address categories to exclude. Requires address in resultTypeFilter.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Search results matching the query.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/searchAutocomplete": {
      "get": {
        "operationId": "searchAutocomplete",
        "summary": "Search autocomplete",
        "description": "Find results that you can use to autocomplete a place search.",
        "tags": [
          "Search"
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "description": "The query to autocomplete. For example, q=eiffel.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "excludePoiCategories",
            "in": "query",
            "required": false,
            "description": "A comma-separated list of POI categories to exclude from the results.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "includePoiCategories",
            "in": "query",
            "required": false,
            "description": "A comma-separated list of POI categories to include in the results.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limitToCountries",
            "in": "query",
            "required": false,
            "description": "A comma-separated list of two-letter ISO 3166-1 country codes.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "resultTypeFilter",
            "in": "query",
            "required": false,
            "description": "A comma-separated list of result types to include.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lang",
            "in": "query",
            "required": false,
            "description": "The language the server should use when returning the response. Default is en-US.",
            "schema": {
              "type": "string",
              "default": "en-US"
            }
          },
          {
            "name": "searchLocation",
            "in": "query",
            "required": false,
            "description": "A location defined as a hint, specified as a comma-separated string containing latitude and longitude.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "searchRegion",
            "in": "query",
            "required": false,
            "description": "A region defined as a hint, specified as a comma-separated string: north-latitude,east-longitude,south-latitude,west-longitude.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userLocation",
            "in": "query",
            "required": false,
            "description": "The location of the user, specified as a comma-separated string containing latitude and longitude.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "searchRegionPriority",
            "in": "query",
            "required": false,
            "description": "A value that indicates the importance of the search region. Allowed values: default, required.",
            "schema": {
              "type": "string",
              "enum": [
                "default",
                "required"
              ]
            }
          },
          {
            "name": "includeAddressCategories",
            "in": "query",
            "required": false,
            "description": "A comma-separated list of address categories to include.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "excludeAddressCategories",
            "in": "query",
            "required": false,
            "description": "A comma-separated list of address categories to exclude.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Autocomplete search results.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchAutocompleteResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/place/{id}": {
      "get": {
        "operationId": "getPlace",
        "summary": "Get a place by ID",
        "description": "Obtain a Place object for a given Place ID.",
        "tags": [
          "Places"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "A Place ID.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lang",
            "in": "query",
            "required": false,
            "description": "The language the server should use when returning the response. Default is en-US.",
            "schema": {
              "type": "string",
              "default": "en-US"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A Place result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Place"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/place": {
      "get": {
        "operationId": "getPlaces",
        "summary": "Get places by multiple IDs",
        "description": "Obtain a set of Place objects for a given set of Place IDs.",
        "tags": [
          "Places"
        ],
        "parameters": [
          {
            "name": "ids",
            "in": "query",
            "required": true,
            "description": "A comma-separated list of Place IDs.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lang",
            "in": "query",
            "required": false,
            "description": "The language the server should use when returning the response. Default is en-US.",
            "schema": {
              "type": "string",
              "default": "en-US"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A list of Place results.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlacesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/place/alternateIds": {
      "get": {
        "operationId": "getAlternateIds",
        "summary": "Get alternate Place IDs",
        "description": "Get a list of alternate Place IDs given one or more Place IDs.",
        "tags": [
          "Places"
        ],
        "parameters": [
          {
            "name": "ids",
            "in": "query",
            "required": true,
            "description": "A comma-separated list of Place IDs.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A list of alternate Place IDs.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AlternateIdsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/directions": {
      "get": {
        "operationId": "getDirections",
        "summary": "Get directions between locations",
        "description": "Find directions and estimated travel time between locations.",
        "tags": [
          "Directions"
        ],
        "parameters": [
          {
            "name": "origin",
            "in": "query",
            "required": true,
            "description": "The starting location as an address or comma-separated latitude,longitude coordinates.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "destination",
            "in": "query",
            "required": true,
            "description": "The destination as an address or comma-separated latitude,longitude coordinates.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "arrivalDate",
            "in": "query",
            "required": false,
            "description": "The intended arrival date in ISO 8601 UTC format. Cannot be used with departureDate.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "departureDate",
            "in": "query",
            "required": false,
            "description": "The departure date in ISO 8601 UTC format. Defaults to current time if neither date is specified.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "avoid",
            "in": "query",
            "required": false,
            "description": "A comma-separated list of features to avoid. For example, avoid=Tolls.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "transportType",
            "in": "query",
            "required": false,
            "description": "The mode of transport. Default is Automobile.",
            "schema": {
              "type": "string",
              "enum": [
                "Automobile",
                "Walking",
                "Cycling"
              ],
              "default": "Automobile"
            }
          },
          {
            "name": "requestsAlternateRoutes",
            "in": "query",
            "required": false,
            "description": "When true, the server returns additional routes when available. Default is false.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "lang",
            "in": "query",
            "required": false,
            "description": "The language the server should use when returning the response. Default is en-US.",
            "schema": {
              "type": "string",
              "default": "en-US"
            }
          },
          {
            "name": "searchLocation",
            "in": "query",
            "required": false,
            "description": "A location defined as a hint for origin/destination search, specified as latitude,longitude.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "searchRegion",
            "in": "query",
            "required": false,
            "description": "A region defined as a hint, specified as north-latitude,east-longitude,south-latitude,west-longitude.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userLocation",
            "in": "query",
            "required": false,
            "description": "The location of the user, specified as latitude,longitude.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Directions with routes, steps, and waypoints.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DirectionsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/etas": {
      "get": {
        "operationId": "getEtas",
        "summary": "Get estimated arrival times and distances",
        "description": "Determine the estimated arrival times and distances to one or more destinations.",
        "tags": [
          "Directions"
        ],
        "parameters": [
          {
            "name": "origin",
            "in": "query",
            "required": true,
            "description": "The starting point as comma-separated latitude,longitude.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "destinations",
            "in": "query",
            "required": true,
            "description": "One to ten destination coordinates separated by a pipe (|). For example, 37.325,-121.946|37.441,-122.172.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "transportType",
            "in": "query",
            "required": false,
            "description": "The mode of transport. Default is Automobile.",
            "schema": {
              "type": "string",
              "enum": [
                "Automobile",
                "Transit",
                "Walking",
                "Cycling"
              ],
              "default": "Automobile"
            }
          },
          {
            "name": "departureDate",
            "in": "query",
            "required": false,
            "description": "The departure date in ISO 8601 UTC format. Defaults to current time.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "arrivalDate",
            "in": "query",
            "required": false,
            "description": "The intended arrival date in ISO 8601 UTC format.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Estimated arrival times and distances to each destination.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EtaResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "A Maps access token obtained from the /v1/token endpoint. The initial auth token is a JWT signed with your Maps private key."
      }
    },
    "schemas": {
      "TokenResponse": {
        "type": "object",
        "properties": {
          "accessToken": {
            "type": "string",
            "description": "A JWT maps access token for calling the API."
          },
          "expiresInSeconds": {
            "type": "integer",
            "description": "Time in seconds until the token expires."
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "description": "A human-readable error message."
          },
          "details": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Additional details about the error."
          }
        }
      },
      "Location": {
        "type": "object",
        "properties": {
          "latitude": {
            "type": "number",
            "format": "double",
            "description": "The latitude of the location."
          },
          "longitude": {
            "type": "number",
            "format": "double",
            "description": "The longitude of the location."
          }
        }
      },
      "MapRegion": {
        "type": "object",
        "properties": {
          "southLatitude": {
            "type": "number",
            "format": "double"
          },
          "westLongitude": {
            "type": "number",
            "format": "double"
          },
          "northLatitude": {
            "type": "number",
            "format": "double"
          },
          "eastLongitude": {
            "type": "number",
            "format": "double"
          }
        }
      },
      "StructuredAddress": {
        "type": "object",
        "properties": {
          "administrativeArea": {
            "type": "string",
            "description": "The state or province of the place."
          },
          "administrativeAreaCode": {
            "type": "string",
            "description": "The short code for the state or area."
          },
          "subAdministrativeArea": {
            "type": "string",
            "description": "The county or sub-administrative area."
          },
          "locality": {
            "type": "string",
            "description": "The city or town."
          },
          "subLocality": {
            "type": "string",
            "description": "The neighborhood or sub-locality."
          },
          "postCode": {
            "type": "string",
            "description": "The postal or ZIP code."
          },
          "thoroughfare": {
            "type": "string",
            "description": "The street name."
          },
          "subThoroughfare": {
            "type": "string",
            "description": "The street number."
          },
          "fullThoroughfare": {
            "type": "string",
            "description": "The full street address."
          },
          "areasOfInterest": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Areas of interest associated with the place."
          },
          "dependentLocalities": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Dependent localities for the place."
          }
        }
      },
      "Place": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "An opaque string that identifies a place."
          },
          "name": {
            "type": "string",
            "description": "The name of the place."
          },
          "coordinate": {
            "$ref": "#/components/schemas/Location"
          },
          "displayMapRegion": {
            "$ref": "#/components/schemas/MapRegion"
          },
          "formattedAddressLines": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "The address formatted for display."
          },
          "structuredAddress": {
            "$ref": "#/components/schemas/StructuredAddress"
          },
          "country": {
            "type": "string",
            "description": "The country or region of the place."
          },
          "countryCode": {
            "type": "string",
            "description": "The two-letter country code."
          },
          "alternateIds": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "A list of alternate Place IDs."
          }
        }
      },
      "PlaceResults": {
        "type": "object",
        "properties": {
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Place"
            },
            "description": "An array of Place objects."
          }
        }
      },
      "SearchResponse": {
        "type": "object",
        "properties": {
          "displayMapRegion": {
            "$ref": "#/components/schemas/MapRegion"
          },
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Place"
            },
            "description": "An array of Place objects matching the search."
          }
        }
      },
      "SearchAutocompleteResult": {
        "type": "object",
        "properties": {
          "completionUrl": {
            "type": "string",
            "description": "A relative URL to complete the search."
          },
          "displayLines": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Display lines for the autocomplete result."
          },
          "location": {
            "type": "object",
            "properties": {
              "lat": {
                "type": "number",
                "format": "double"
              },
              "lng": {
                "type": "number",
                "format": "double"
              }
            }
          },
          "structuredAddress": {
            "$ref": "#/components/schemas/StructuredAddress"
          }
        }
      },
      "SearchAutocompleteResponse": {
        "type": "object",
        "properties": {
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SearchAutocompleteResult"
            },
            "description": "An array of autocomplete results."
          }
        }
      },
      "PlacesResponse": {
        "type": "object",
        "properties": {
          "places": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Place"
            },
            "description": "An array of Place objects."
          },
          "errors": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "message": {
                  "type": "string"
                }
              }
            },
            "description": "Errors for Place IDs that could not be resolved."
          }
        }
      },
      "AlternateIdsResponse": {
        "type": "object",
        "properties": {
          "alternateIds": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "The original Place ID."
                },
                "alternateIds": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "Alternate identifiers for the place."
                }
              }
            }
          },
          "errors": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "message": {
                  "type": "string"
                }
              }
            },
            "description": "Errors for Place IDs that could not be resolved."
          }
        }
      },
      "DirectionsResponse": {
        "type": "object",
        "properties": {
          "origin": {
            "$ref": "#/components/schemas/Place"
          },
          "destination": {
            "$ref": "#/components/schemas/Place"
          },
          "routes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Route"
            },
            "description": "An array of route objects."
          },
          "steps": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Step"
            },
            "description": "An array of step objects."
          },
          "stepPaths": {
            "type": "array",
            "items": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/Location"
              }
            },
            "description": "An array of arrays of Location coordinates forming step paths."
          }
        }
      },
      "Route": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "The name of the route."
          },
          "distanceMeters": {
            "type": "number",
            "description": "The route distance in meters."
          },
          "durationSeconds": {
            "type": "number",
            "description": "The estimated travel time in seconds."
          },
          "transportType": {
            "type": "string",
            "description": "The transport type for the route."
          },
          "stepIndexes": {
            "type": "array",
            "items": {
              "type": "integer"
            },
            "description": "Indexes into the steps array for this route."
          },
          "hasTolls": {
            "type": "boolean",
            "description": "Whether the route has tolls."
          }
        }
      },
      "Step": {
        "type": "object",
        "properties": {
          "stepPathIndex": {
            "type": "integer",
            "description": "Index into the stepPaths array."
          },
          "distanceMeters": {
            "type": "number",
            "description": "The step distance in meters."
          },
          "durationSeconds": {
            "type": "number",
            "description": "The estimated time for the step in seconds."
          },
          "instructions": {
            "type": "string",
            "description": "Human-readable instructions for the step."
          }
        }
      },
      "Eta": {
        "type": "object",
        "properties": {
          "destination": {
            "$ref": "#/components/schemas/Location"
          },
          "transportType": {
            "type": "string",
            "description": "The transport type used for the ETA calculation."
          },
          "distanceMeters": {
            "type": "number",
            "description": "The distance to the destination in meters."
          },
          "expectedTravelTimeSeconds": {
            "type": "number",
            "description": "The expected travel time in seconds, including traffic conditions."
          },
          "staticTravelTimeSeconds": {
            "type": "number",
            "description": "The base travel time in seconds without traffic."
          }
        }
      },
      "EtaResponse": {
        "type": "object",
        "properties": {
          "etas": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Eta"
            },
            "description": "An array of ETA objects for each destination."
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Directions"
    },
    {
      "name": "Geocoding"
    },
    {
      "name": "Places"
    },
    {
      "name": "Search"
    },
    {
      "name": "Token"
    }
  ]
}
