{
  "openapi": "3.0.3",
  "info": {
    "title": "ExchangeRate-API",
    "version": "6.0",
    "description": "ExchangeRate-API provides free and paid exchange rate data for currency conversion. The API supports standard rate lookups, pair conversions, enriched data with country/flag info, and historical rates.",
    "x-jentic-source-url": "https://www.exchangerate-api.com/docs/overview",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://v6.exchangerate-api.com/v6"
    }
  ],
  "paths": {
    "/{apiKey}/latest/{baseCode}": {
      "get": {
        "operationId": "getLatestRates",
        "summary": "Get latest exchange rates",
        "description": "Returns latest exchange rates for a base currency against all supported currencies.",
        "tags": [
          "Exchange Rates"
        ],
        "parameters": [
          {
            "name": "apiKey",
            "in": "path",
            "description": "Your API key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "baseCode",
            "in": "path",
            "description": "Base currency code (e.g., USD, EUR)",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with latest rates",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardRatesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/{apiKey}/pair/{baseCode}/{targetCode}": {
      "get": {
        "operationId": "getPairConversion",
        "summary": "Get pair conversion rate",
        "description": "Returns the exchange rate between two specific currencies.",
        "tags": [
          "Conversion"
        ],
        "parameters": [
          {
            "name": "apiKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "baseCode",
            "in": "path",
            "description": "Base currency code",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "targetCode",
            "in": "path",
            "description": "Target currency code",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful pair conversion response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PairConversionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/{apiKey}/pair/{baseCode}/{targetCode}/{amount}": {
      "get": {
        "operationId": "getPairConversionWithAmount",
        "summary": "Get pair conversion with amount",
        "description": "Returns the conversion result for a specific amount between two currencies.",
        "tags": [
          "Conversion"
        ],
        "parameters": [
          {
            "name": "apiKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "baseCode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "targetCode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "amount",
            "in": "path",
            "description": "Amount to convert",
            "required": true,
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful conversion response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PairConversionAmountResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/{apiKey}/enriched/{baseCode}/{targetCode}": {
      "get": {
        "operationId": "getEnrichedData",
        "summary": "Get enriched conversion data",
        "description": "Returns exchange rate plus additional data like country flag and currency symbol.",
        "tags": [
          "Enriched Data"
        ],
        "parameters": [
          {
            "name": "apiKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "baseCode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "targetCode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful enriched response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EnrichedResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/{apiKey}/history/{baseCode}/{year}/{month}/{day}": {
      "get": {
        "operationId": "getHistoricalRates",
        "summary": "Get historical exchange rates",
        "description": "Returns exchange rates for a specific historical date.",
        "tags": [
          "Historical"
        ],
        "parameters": [
          {
            "name": "apiKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "baseCode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "year",
            "in": "path",
            "description": "Year (e.g., 2023)",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "month",
            "in": "path",
            "description": "Month (1-12)",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "day",
            "in": "path",
            "description": "Day (1-31)",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful historical rates response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardRatesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/{apiKey}/codes": {
      "get": {
        "operationId": "getSupportedCodes",
        "summary": "Get supported currency codes",
        "description": "Returns a list of all supported currency codes.",
        "tags": [
          "Currencies"
        ],
        "parameters": [
          {
            "name": "apiKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with currency codes",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SupportedCodesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "StandardRatesResponse": {
        "type": "object",
        "properties": {
          "result": {
            "type": "string",
            "enum": [
              "success",
              "error"
            ]
          },
          "documentation": {
            "type": "string"
          },
          "terms_of_use": {
            "type": "string"
          },
          "time_last_update_unix": {
            "type": "integer"
          },
          "time_last_update_utc": {
            "type": "string"
          },
          "time_next_update_unix": {
            "type": "integer"
          },
          "time_next_update_utc": {
            "type": "string"
          },
          "base_code": {
            "type": "string"
          },
          "conversion_rates": {
            "type": "object",
            "additionalProperties": {
              "type": "number"
            }
          }
        }
      },
      "PairConversionResponse": {
        "type": "object",
        "properties": {
          "result": {
            "type": "string"
          },
          "documentation": {
            "type": "string"
          },
          "terms_of_use": {
            "type": "string"
          },
          "time_last_update_unix": {
            "type": "integer"
          },
          "time_last_update_utc": {
            "type": "string"
          },
          "time_next_update_unix": {
            "type": "integer"
          },
          "time_next_update_utc": {
            "type": "string"
          },
          "base_code": {
            "type": "string"
          },
          "target_code": {
            "type": "string"
          },
          "conversion_rate": {
            "type": "number"
          }
        }
      },
      "PairConversionAmountResponse": {
        "type": "object",
        "properties": {
          "result": {
            "type": "string"
          },
          "base_code": {
            "type": "string"
          },
          "target_code": {
            "type": "string"
          },
          "conversion_rate": {
            "type": "number"
          },
          "conversion_result": {
            "type": "number"
          }
        }
      },
      "EnrichedResponse": {
        "type": "object",
        "properties": {
          "result": {
            "type": "string"
          },
          "base_code": {
            "type": "string"
          },
          "target_code": {
            "type": "string"
          },
          "conversion_rate": {
            "type": "number"
          },
          "target_data": {
            "type": "object",
            "properties": {
              "locale": {
                "type": "string"
              },
              "flag_url": {
                "type": "string"
              },
              "currency_name_short": {
                "type": "string"
              },
              "currency_name_long": {
                "type": "string"
              },
              "currency_symbol": {
                "type": "string"
              }
            }
          }
        }
      },
      "SupportedCodesResponse": {
        "type": "object",
        "properties": {
          "result": {
            "type": "string"
          },
          "supported_codes": {
            "type": "array",
            "items": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "Array of [code, name] pairs"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "result": {
            "type": "string",
            "enum": [
              "error"
            ]
          },
          "error-type": {
            "type": "string",
            "description": "Error type identifier"
          }
        }
      }
    },
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "name": "apiKey",
        "in": "path",
        "description": "API key passed as part of the URL path"
      }
    }
  },
  "security": [
    {
      "apiKey": []
    }
  ],
  "tags": [
    {
      "name": "Conversion"
    },
    {
      "name": "Currencies"
    },
    {
      "name": "Enriched Data"
    },
    {
      "name": "Exchange Rates"
    },
    {
      "name": "Historical"
    }
  ]
}
