{
  "openapi": "3.0.3",
  "info": {
    "title": "Hunter API",
    "version": "v2",
    "description": "Hunter.io API allows you to find and verify professional email addresses. It provides domain search, email finder, email verification, and account management capabilities.",
    "x-jentic-source-url": "https://hunter.io/api-documentation/v2",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://api.hunter.io/v2"
    }
  ],
  "paths": {
    "/domain-search": {
      "get": {
        "operationId": "domainSearch",
        "summary": "Domain search",
        "description": "Returns all the email addresses found for a given domain or company name, with sources and confidence scores.",
        "tags": [
          "Search"
        ],
        "parameters": [
          {
            "name": "domain",
            "in": "query",
            "description": "Domain to search for email addresses",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "company",
            "in": "query",
            "description": "Company name to search for",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results to return",
            "schema": {
              "type": "integer",
              "default": 10
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Number of results to skip",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "Filter by email type",
            "schema": {
              "type": "string",
              "enum": [
                "personal",
                "generic"
              ]
            }
          },
          {
            "name": "seniority",
            "in": "query",
            "description": "Filter by seniority level",
            "schema": {
              "type": "string",
              "enum": [
                "junior",
                "senior",
                "executive"
              ]
            }
          },
          {
            "name": "department",
            "in": "query",
            "description": "Filter by department",
            "schema": {
              "type": "string",
              "enum": [
                "executive",
                "it",
                "finance",
                "management",
                "sales",
                "legal",
                "support",
                "hr",
                "marketing",
                "communication",
                "education",
                "design",
                "health",
                "operations"
              ]
            }
          },
          {
            "name": "required_field",
            "in": "query",
            "description": "Return only results that have a specific field",
            "schema": {
              "type": "string",
              "enum": [
                "full_name",
                "position",
                "phone_number"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DomainSearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/email-finder": {
      "get": {
        "operationId": "emailFinder",
        "summary": "Email finder",
        "description": "Generates or retrieves the most likely email address from a domain name, a first name and a last name.",
        "tags": [
          "Search"
        ],
        "parameters": [
          {
            "name": "domain",
            "in": "query",
            "description": "Domain name to find email for",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "first_name",
            "in": "query",
            "description": "First name of the person",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "last_name",
            "in": "query",
            "description": "Last name of the person",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "full_name",
            "in": "query",
            "description": "Full name of the person (alternative to first_name + last_name)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmailFinderResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/email-verifier": {
      "get": {
        "operationId": "emailVerifier",
        "summary": "Email verification",
        "description": "Verifies the deliverability of an email address.",
        "tags": [
          "Verification"
        ],
        "parameters": [
          {
            "name": "email",
            "in": "query",
            "required": true,
            "description": "Email address to verify",
            "schema": {
              "type": "string",
              "format": "email"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmailVerifierResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/email-count": {
      "get": {
        "operationId": "emailCount",
        "summary": "Email count",
        "description": "Returns the number of email addresses found for a domain. This is a free endpoint that doesn't require authentication.",
        "tags": [
          "Search"
        ],
        "parameters": [
          {
            "name": "domain",
            "in": "query",
            "required": true,
            "description": "Domain to count emails for",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmailCountResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/account": {
      "get": {
        "operationId": "getAccount",
        "summary": "Get account information",
        "description": "Returns details about your Hunter account, including plan, usage, and team info.",
        "tags": [
          "Account"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/leads": {
      "get": {
        "operationId": "listLeads",
        "summary": "List leads",
        "description": "Returns all saved leads in your account.",
        "tags": [
          "Leads"
        ],
        "parameters": [
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "lead_list_id",
            "in": "query",
            "description": "Filter leads by list ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LeadListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createLead",
        "summary": "Create a lead",
        "description": "Creates a new lead.",
        "tags": [
          "Leads"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LeadCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Lead created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LeadResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/leads/{id}": {
      "get": {
        "operationId": "getLead",
        "summary": "Get a lead",
        "description": "Returns details for a specific lead.",
        "tags": [
          "Leads"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LeadResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "updateLead",
        "summary": "Update a lead",
        "description": "Updates an existing lead.",
        "tags": [
          "Leads"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LeadCreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Lead updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LeadResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteLead",
        "summary": "Delete a lead",
        "description": "Deletes a specific lead.",
        "tags": [
          "Leads"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Lead deleted"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/leads_lists": {
      "get": {
        "operationId": "listLeadLists",
        "summary": "List lead lists",
        "description": "Returns all lead lists in your account.",
        "tags": [
          "Lead Lists"
        ],
        "parameters": [
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LeadListListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createLeadList",
        "summary": "Create a lead list",
        "description": "Creates a new lead list.",
        "tags": [
          "Lead Lists"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Name of the lead list"
                  }
                },
                "required": [
                  "name"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Lead list created"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/leads_lists/{id}": {
      "get": {
        "operationId": "getLeadList",
        "summary": "Get a lead list",
        "tags": [
          "Lead Lists"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get a lead list"
      },
      "put": {
        "operationId": "updateLeadList",
        "summary": "Update a lead list",
        "tags": [
          "Lead Lists"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Lead list updated"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Update a lead list"
      },
      "delete": {
        "operationId": "deleteLeadList",
        "summary": "Delete a lead list",
        "tags": [
          "Lead Lists"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Lead list deleted"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Delete a lead list"
      }
    }
  },
  "components": {
    "schemas": {
      "DomainSearchResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "domain": {
                "type": "string"
              },
              "disposable": {
                "type": "boolean"
              },
              "webmail": {
                "type": "boolean"
              },
              "accept_all": {
                "type": "boolean"
              },
              "pattern": {
                "type": "string"
              },
              "organization": {
                "type": "string"
              },
              "emails": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/EmailResult"
                }
              }
            }
          },
          "meta": {
            "$ref": "#/components/schemas/Meta"
          }
        }
      },
      "EmailResult": {
        "type": "object",
        "properties": {
          "value": {
            "type": "string",
            "format": "email"
          },
          "type": {
            "type": "string",
            "enum": [
              "personal",
              "generic"
            ]
          },
          "confidence": {
            "type": "integer"
          },
          "first_name": {
            "type": "string"
          },
          "last_name": {
            "type": "string"
          },
          "position": {
            "type": "string"
          },
          "seniority": {
            "type": "string"
          },
          "department": {
            "type": "string"
          },
          "linkedin": {
            "type": "string"
          },
          "twitter": {
            "type": "string"
          },
          "phone_number": {
            "type": "string"
          },
          "sources": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "domain": {
                  "type": "string"
                },
                "uri": {
                  "type": "string"
                },
                "extracted_on": {
                  "type": "string",
                  "format": "date"
                },
                "last_seen_on": {
                  "type": "string",
                  "format": "date"
                },
                "still_on_page": {
                  "type": "boolean"
                }
              }
            }
          }
        }
      },
      "EmailFinderResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "first_name": {
                "type": "string"
              },
              "last_name": {
                "type": "string"
              },
              "email": {
                "type": "string",
                "format": "email"
              },
              "score": {
                "type": "integer"
              },
              "domain": {
                "type": "string"
              },
              "accept_all": {
                "type": "boolean"
              },
              "position": {
                "type": "string"
              },
              "company": {
                "type": "string"
              },
              "sources": {
                "type": "array",
                "items": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "EmailVerifierResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "email": {
                "type": "string",
                "format": "email"
              },
              "result": {
                "type": "string",
                "enum": [
                  "deliverable",
                  "undeliverable",
                  "risky",
                  "unknown"
                ]
              },
              "score": {
                "type": "integer"
              },
              "regexp": {
                "type": "boolean"
              },
              "gibberish": {
                "type": "boolean"
              },
              "disposable": {
                "type": "boolean"
              },
              "webmail": {
                "type": "boolean"
              },
              "mx_records": {
                "type": "boolean"
              },
              "smtp_server": {
                "type": "boolean"
              },
              "smtp_check": {
                "type": "boolean"
              },
              "accept_all": {
                "type": "boolean"
              },
              "block": {
                "type": "boolean"
              },
              "sources": {
                "type": "array",
                "items": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "EmailCountResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "total": {
                "type": "integer"
              },
              "personal_emails": {
                "type": "integer"
              },
              "generic_emails": {
                "type": "integer"
              },
              "department": {
                "type": "object"
              }
            }
          }
        }
      },
      "AccountResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "email": {
                "type": "string",
                "format": "email"
              },
              "first_name": {
                "type": "string"
              },
              "last_name": {
                "type": "string"
              },
              "plan_name": {
                "type": "string"
              },
              "plan_level": {
                "type": "integer"
              },
              "reset_date": {
                "type": "string",
                "format": "date"
              },
              "calls": {
                "type": "object",
                "properties": {
                  "used": {
                    "type": "integer"
                  },
                  "available": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        }
      },
      "LeadResponse": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/Lead"
          }
        }
      },
      "LeadListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "leads": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Lead"
                }
              }
            }
          },
          "meta": {
            "$ref": "#/components/schemas/Meta"
          }
        }
      },
      "Lead": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "first_name": {
            "type": "string"
          },
          "last_name": {
            "type": "string"
          },
          "position": {
            "type": "string"
          },
          "company": {
            "type": "string"
          },
          "company_industry": {
            "type": "string"
          },
          "company_size": {
            "type": "string"
          },
          "confidence_score": {
            "type": "integer"
          },
          "website": {
            "type": "string"
          },
          "linkedin_url": {
            "type": "string"
          },
          "phone_number": {
            "type": "string"
          },
          "twitter": {
            "type": "string"
          },
          "notes": {
            "type": "string"
          },
          "source": {
            "type": "string"
          },
          "sending_status": {
            "type": "string"
          },
          "lead_list_id": {
            "type": "integer"
          }
        }
      },
      "LeadCreate": {
        "type": "object",
        "required": [
          "email"
        ],
        "properties": {
          "email": {
            "type": "string",
            "format": "email"
          },
          "first_name": {
            "type": "string"
          },
          "last_name": {
            "type": "string"
          },
          "position": {
            "type": "string"
          },
          "company": {
            "type": "string"
          },
          "phone_number": {
            "type": "string"
          },
          "twitter": {
            "type": "string"
          },
          "linkedin_url": {
            "type": "string"
          },
          "notes": {
            "type": "string"
          },
          "lead_list_id": {
            "type": "integer"
          }
        }
      },
      "LeadListListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "leads_lists": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer"
                    },
                    "name": {
                      "type": "string"
                    },
                    "leads_count": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "meta": {
            "$ref": "#/components/schemas/Meta"
          }
        }
      },
      "Meta": {
        "type": "object",
        "properties": {
          "results": {
            "type": "integer"
          },
          "limit": {
            "type": "integer"
          },
          "offset": {
            "type": "integer"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "errors": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "code": {
                  "type": "integer"
                },
                "details": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "securitySchemes": {
      "apiKeyQuery": {
        "type": "apiKey",
        "name": "api_key",
        "in": "query",
        "description": "Hunter.io API key passed as query parameter"
      }
    }
  },
  "security": [
    {
      "apiKeyQuery": []
    }
  ],
  "tags": [
    {
      "name": "Account"
    },
    {
      "name": "Lead Lists"
    },
    {
      "name": "Leads"
    },
    {
      "name": "Search"
    },
    {
      "name": "Verification"
    }
  ]
}
