{
  "openapi": "3.0.3",
  "info": {
    "title": "Buildkite REST API",
    "version": "3.0.0",
    "description": "Buildkite REST API v3. Manage organizations, pipelines, builds, jobs, agents, artifacts, and more for your CI/CD workflows.",
    "x-jentic-source-url": "https://buildkite.com/docs/apis/rest-api",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://api.buildkite.com/v2",
      "description": "Buildkite API Server"
    }
  ],
  "security": [
    {
      "bearerToken": []
    }
  ],
  "tags": [
    {
      "name": "Organizations",
      "description": "Organization management"
    },
    {
      "name": "Pipelines",
      "description": "Pipeline management"
    },
    {
      "name": "Builds",
      "description": "Build management"
    },
    {
      "name": "Jobs",
      "description": "Job management"
    },
    {
      "name": "Agents",
      "description": "Agent management"
    },
    {
      "name": "Artifacts",
      "description": "Artifact management"
    },
    {
      "name": "Annotations",
      "description": "Build annotations"
    },
    {
      "name": "User",
      "description": "Current user"
    },
    {
      "name": "Emojis",
      "description": "Custom emojis"
    }
  ],
  "paths": {
    "/organizations": {
      "get": {
        "tags": [
          "Organizations"
        ],
        "summary": "List organizations",
        "description": "Returns a list of organizations the current user is a member of.",
        "operationId": "listOrganizations",
        "responses": {
          "200": {
            "description": "List of organizations",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Organization"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed"
          }
        }
      }
    },
    "/organizations/{org}": {
      "get": {
        "tags": [
          "Organizations"
        ],
        "summary": "Get an organization",
        "operationId": "getOrganization",
        "parameters": [
          {
            "name": "org",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Organization slug"
          }
        ],
        "responses": {
          "200": {
            "description": "Organization details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Organization"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Get an organization"
      }
    },
    "/organizations/{org}/pipelines": {
      "get": {
        "tags": [
          "Pipelines"
        ],
        "summary": "List pipelines",
        "operationId": "listPipelines",
        "parameters": [
          {
            "name": "org",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Organization slug"
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 30,
              "maximum": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of pipelines",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Pipeline"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed"
          }
        },
        "description": "List pipelines"
      },
      "post": {
        "tags": [
          "Pipelines"
        ],
        "summary": "Create a pipeline",
        "operationId": "createPipeline",
        "parameters": [
          {
            "name": "org",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Organization slug"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PipelineCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created pipeline",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Pipeline"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed"
          }
        },
        "description": "Create a pipeline"
      }
    },
    "/organizations/{org}/pipelines/{pipeline}": {
      "get": {
        "tags": [
          "Pipelines"
        ],
        "summary": "Get a pipeline",
        "operationId": "getPipeline",
        "parameters": [
          {
            "name": "org",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Organization slug"
          },
          {
            "name": "pipeline",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Pipeline slug"
          }
        ],
        "responses": {
          "200": {
            "description": "Pipeline details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Pipeline"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Get a pipeline"
      },
      "patch": {
        "tags": [
          "Pipelines"
        ],
        "summary": "Update a pipeline",
        "operationId": "updatePipeline",
        "parameters": [
          {
            "name": "org",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Organization slug"
          },
          {
            "name": "pipeline",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Pipeline slug"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PipelineUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated pipeline",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Pipeline"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed"
          }
        },
        "description": "Update a pipeline"
      },
      "delete": {
        "tags": [
          "Pipelines"
        ],
        "summary": "Delete a pipeline",
        "operationId": "deletePipeline",
        "parameters": [
          {
            "name": "org",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Organization slug"
          },
          {
            "name": "pipeline",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Pipeline slug"
          }
        ],
        "responses": {
          "204": {
            "description": "Pipeline deleted"
          },
          "401": {
            "description": "Authentication failed"
          }
        },
        "description": "Delete a pipeline"
      }
    },
    "/organizations/{org}/pipelines/{pipeline}/builds": {
      "get": {
        "tags": [
          "Builds"
        ],
        "summary": "List builds for a pipeline",
        "operationId": "listPipelineBuilds",
        "parameters": [
          {
            "name": "org",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Organization slug"
          },
          {
            "name": "pipeline",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Pipeline slug"
          },
          {
            "name": "state",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "running",
                "scheduled",
                "passed",
                "failed",
                "blocked",
                "canceled",
                "canceling",
                "skipped",
                "not_run",
                "finished"
              ]
            }
          },
          {
            "name": "branch",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "commit",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "created_from",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "created_to",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "finished_from",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 30,
              "maximum": 100
            }
          },
          {
            "name": "include_retried_jobs",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "meta_data",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by meta-data key=value"
          }
        ],
        "responses": {
          "200": {
            "description": "List of builds",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Build"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed"
          }
        },
        "description": "List builds for a pipeline"
      },
      "post": {
        "tags": [
          "Builds"
        ],
        "summary": "Create a build",
        "operationId": "createBuild",
        "parameters": [
          {
            "name": "org",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Organization slug"
          },
          {
            "name": "pipeline",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Pipeline slug"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BuildCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created build",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Build"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed"
          }
        },
        "description": "Create a build"
      }
    },
    "/organizations/{org}/pipelines/{pipeline}/builds/{number}": {
      "get": {
        "tags": [
          "Builds"
        ],
        "summary": "Get a build",
        "operationId": "getBuild",
        "parameters": [
          {
            "name": "org",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Organization slug"
          },
          {
            "name": "pipeline",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Pipeline slug"
          },
          {
            "name": "number",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Build number"
          }
        ],
        "responses": {
          "200": {
            "description": "Build details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Build"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Get a build"
      }
    },
    "/organizations/{org}/pipelines/{pipeline}/builds/{number}/cancel": {
      "put": {
        "tags": [
          "Builds"
        ],
        "summary": "Cancel a build",
        "operationId": "cancelBuild",
        "parameters": [
          {
            "name": "org",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Organization slug"
          },
          {
            "name": "pipeline",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Pipeline slug"
          },
          {
            "name": "number",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Build number"
          }
        ],
        "responses": {
          "200": {
            "description": "Build cancelled",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Build"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Cancel a build"
      }
    },
    "/organizations/{org}/pipelines/{pipeline}/builds/{number}/rebuild": {
      "put": {
        "tags": [
          "Builds"
        ],
        "summary": "Rebuild a build",
        "operationId": "rebuildBuild",
        "parameters": [
          {
            "name": "org",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Organization slug"
          },
          {
            "name": "pipeline",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Pipeline slug"
          },
          {
            "name": "number",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Build number"
          }
        ],
        "responses": {
          "200": {
            "description": "Rebuild triggered",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Build"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Rebuild a build"
      }
    },
    "/builds": {
      "get": {
        "tags": [
          "Builds"
        ],
        "summary": "List all builds",
        "description": "Returns a list of all builds across all the user's organizations and pipelines.",
        "operationId": "listAllBuilds",
        "parameters": [
          {
            "name": "state",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "branch",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 30,
              "maximum": 100
            }
          },
          {
            "name": "created_from",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "created_to",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of builds",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Build"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed"
          }
        }
      }
    },
    "/organizations/{org}/builds": {
      "get": {
        "tags": [
          "Builds"
        ],
        "summary": "List builds for an organization",
        "operationId": "listOrganizationBuilds",
        "parameters": [
          {
            "name": "org",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Organization slug"
          },
          {
            "name": "state",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "branch",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 30,
              "maximum": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of builds",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Build"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed"
          }
        },
        "description": "List builds for an organization"
      }
    },
    "/organizations/{org}/pipelines/{pipeline}/builds/{number}/jobs/{job_id}/log": {
      "get": {
        "tags": [
          "Jobs"
        ],
        "summary": "Get a job's log output",
        "operationId": "getJobLog",
        "parameters": [
          {
            "name": "org",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Organization slug"
          },
          {
            "name": "pipeline",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Pipeline slug"
          },
          {
            "name": "number",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Build number"
          },
          {
            "name": "job_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Job log",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobLog"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Get a job's log output"
      }
    },
    "/organizations/{org}/pipelines/{pipeline}/builds/{number}/jobs/{job_id}/retry": {
      "put": {
        "tags": [
          "Jobs"
        ],
        "summary": "Retry a job",
        "operationId": "retryJob",
        "parameters": [
          {
            "name": "org",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Organization slug"
          },
          {
            "name": "pipeline",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Pipeline slug"
          },
          {
            "name": "number",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Build number"
          },
          {
            "name": "job_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Job retried",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Job"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Retry a job"
      }
    },
    "/organizations/{org}/pipelines/{pipeline}/builds/{number}/jobs/{job_id}/unblock": {
      "put": {
        "tags": [
          "Jobs"
        ],
        "summary": "Unblock a job",
        "operationId": "unblockJob",
        "parameters": [
          {
            "name": "org",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Organization slug"
          },
          {
            "name": "pipeline",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Pipeline slug"
          },
          {
            "name": "number",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Build number"
          },
          {
            "name": "job_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "fields": {
                    "type": "object",
                    "description": "Block step fields"
                  },
                  "unblocker": {
                    "type": "string",
                    "description": "User ID of unblocker"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Job unblocked",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Job"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Unblock a job"
      }
    },
    "/organizations/{org}/agents": {
      "get": {
        "tags": [
          "Agents"
        ],
        "summary": "List agents",
        "operationId": "listAgents",
        "parameters": [
          {
            "name": "org",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Organization slug"
          },
          {
            "name": "name",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "hostname",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "version",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 30,
              "maximum": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of agents",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Agent"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed"
          }
        },
        "description": "List agents"
      }
    },
    "/organizations/{org}/agents/{agent_id}": {
      "get": {
        "tags": [
          "Agents"
        ],
        "summary": "Get an agent",
        "operationId": "getAgent",
        "parameters": [
          {
            "name": "org",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Organization slug"
          },
          {
            "name": "agent_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Agent details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Agent"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Get an agent"
      }
    },
    "/organizations/{org}/agents/{agent_id}/stop": {
      "put": {
        "tags": [
          "Agents"
        ],
        "summary": "Stop an agent",
        "operationId": "stopAgent",
        "parameters": [
          {
            "name": "org",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Organization slug"
          },
          {
            "name": "agent_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "force": {
                    "type": "boolean",
                    "description": "Force stop the agent"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Agent stopped"
          },
          "401": {
            "description": "Authentication failed"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Stop an agent"
      }
    },
    "/organizations/{org}/pipelines/{pipeline}/builds/{number}/artifacts": {
      "get": {
        "tags": [
          "Artifacts"
        ],
        "summary": "List artifacts for a build",
        "operationId": "listBuildArtifacts",
        "parameters": [
          {
            "name": "org",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Organization slug"
          },
          {
            "name": "pipeline",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Pipeline slug"
          },
          {
            "name": "number",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Build number"
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 30,
              "maximum": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of artifacts",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Artifact"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed"
          }
        },
        "description": "List artifacts for a build"
      }
    },
    "/organizations/{org}/pipelines/{pipeline}/builds/{number}/jobs/{job_id}/artifacts": {
      "get": {
        "tags": [
          "Artifacts"
        ],
        "summary": "List artifacts for a job",
        "operationId": "listJobArtifacts",
        "parameters": [
          {
            "name": "org",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Organization slug"
          },
          {
            "name": "pipeline",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Pipeline slug"
          },
          {
            "name": "number",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Build number"
          },
          {
            "name": "job_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 30,
              "maximum": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of artifacts",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Artifact"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed"
          }
        },
        "description": "List artifacts for a job"
      }
    },
    "/organizations/{org}/pipelines/{pipeline}/builds/{number}/artifacts/{artifact_id}/download": {
      "get": {
        "tags": [
          "Artifacts"
        ],
        "summary": "Download an artifact",
        "operationId": "downloadArtifact",
        "parameters": [
          {
            "name": "org",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Organization slug"
          },
          {
            "name": "pipeline",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Pipeline slug"
          },
          {
            "name": "number",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Build number"
          },
          {
            "name": "artifact_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "302": {
            "description": "Redirect to artifact download URL"
          },
          "401": {
            "description": "Authentication failed"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Download an artifact"
      }
    },
    "/organizations/{org}/pipelines/{pipeline}/builds/{number}/annotations": {
      "get": {
        "tags": [
          "Annotations"
        ],
        "summary": "List annotations for a build",
        "operationId": "listBuildAnnotations",
        "parameters": [
          {
            "name": "org",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Organization slug"
          },
          {
            "name": "pipeline",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Pipeline slug"
          },
          {
            "name": "number",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Build number"
          }
        ],
        "responses": {
          "200": {
            "description": "List of annotations",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Annotation"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed"
          }
        },
        "description": "List annotations for a build"
      }
    },
    "/user": {
      "get": {
        "tags": [
          "User"
        ],
        "summary": "Get current user",
        "operationId": "getCurrentUser",
        "responses": {
          "200": {
            "description": "Current user",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed"
          }
        },
        "description": "Get current user"
      }
    },
    "/organizations/{org}/emojis": {
      "get": {
        "tags": [
          "Emojis"
        ],
        "summary": "List emojis",
        "operationId": "listEmojis",
        "parameters": [
          {
            "name": "org",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Organization slug"
          }
        ],
        "responses": {
          "200": {
            "description": "List of emojis",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Emoji"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed"
          }
        },
        "description": "List emojis"
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerToken": {
        "type": "http",
        "scheme": "bearer",
        "description": "Buildkite API access token"
      }
    },
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          }
        },
        "required": [
          "message"
        ]
      },
      "Organization": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "url": {
            "type": "string"
          },
          "web_url": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "slug": {
            "type": "string"
          },
          "pipelines_url": {
            "type": "string"
          },
          "agents_url": {
            "type": "string"
          },
          "emojis_url": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Pipeline": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "url": {
            "type": "string"
          },
          "web_url": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "slug": {
            "type": "string"
          },
          "repository": {
            "type": "string"
          },
          "builds_url": {
            "type": "string"
          },
          "badge_url": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "default_branch": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "branch_configuration": {
            "type": "string",
            "nullable": true
          },
          "skip_queued_branch_builds": {
            "type": "boolean"
          },
          "cancel_running_branch_builds": {
            "type": "boolean"
          },
          "provider": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "settings": {
                "type": "object"
              }
            }
          },
          "steps": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Step"
            }
          }
        }
      },
      "PipelineCreate": {
        "type": "object",
        "required": [
          "name",
          "repository"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "repository": {
            "type": "string"
          },
          "steps": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Step"
            }
          },
          "default_branch": {
            "type": "string",
            "default": "main"
          },
          "description": {
            "type": "string"
          },
          "branch_configuration": {
            "type": "string"
          },
          "skip_queued_branch_builds": {
            "type": "boolean",
            "default": false
          },
          "cancel_running_branch_builds": {
            "type": "boolean",
            "default": false
          },
          "provider_settings": {
            "type": "object"
          }
        }
      },
      "PipelineUpdate": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "repository": {
            "type": "string"
          },
          "steps": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Step"
            }
          },
          "default_branch": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "branch_configuration": {
            "type": "string"
          },
          "skip_queued_branch_builds": {
            "type": "boolean"
          },
          "cancel_running_branch_builds": {
            "type": "boolean"
          }
        }
      },
      "Step": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "script",
              "waiter",
              "manual",
              "trigger"
            ]
          },
          "name": {
            "type": "string"
          },
          "command": {
            "type": "string"
          },
          "artifact_paths": {
            "type": "string"
          },
          "branch_configuration": {
            "type": "string"
          },
          "env": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "timeout_in_minutes": {
            "type": "integer"
          },
          "agent_query_rules": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "Build": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "url": {
            "type": "string"
          },
          "web_url": {
            "type": "string"
          },
          "number": {
            "type": "integer"
          },
          "state": {
            "type": "string",
            "enum": [
              "running",
              "scheduled",
              "passed",
              "failed",
              "blocked",
              "canceled",
              "canceling",
              "skipped",
              "not_run",
              "finished"
            ]
          },
          "blocked": {
            "type": "boolean"
          },
          "message": {
            "type": "string"
          },
          "commit": {
            "type": "string"
          },
          "branch": {
            "type": "string"
          },
          "tag": {
            "type": "string",
            "nullable": true
          },
          "source": {
            "type": "string"
          },
          "author": {
            "type": "object",
            "properties": {
              "username": {
                "type": "string"
              },
              "name": {
                "type": "string"
              },
              "email": {
                "type": "string"
              }
            }
          },
          "env": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "scheduled_at": {
            "type": "string",
            "format": "date-time"
          },
          "started_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "finished_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "meta_data": {
            "type": "object"
          },
          "pipeline": {
            "$ref": "#/components/schemas/Pipeline"
          },
          "jobs": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Job"
            }
          }
        }
      },
      "BuildCreate": {
        "type": "object",
        "required": [
          "commit"
        ],
        "properties": {
          "commit": {
            "type": "string",
            "description": "Commit SHA, or HEAD"
          },
          "branch": {
            "type": "string",
            "default": "main"
          },
          "message": {
            "type": "string"
          },
          "author": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string"
              },
              "email": {
                "type": "string"
              }
            }
          },
          "env": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "meta_data": {
            "type": "object"
          },
          "ignore_pipeline_branch_filters": {
            "type": "boolean",
            "default": false
          },
          "clean_checkout": {
            "type": "boolean",
            "default": false
          }
        }
      },
      "Job": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "state": {
            "type": "string"
          },
          "command": {
            "type": "string"
          },
          "web_url": {
            "type": "string"
          },
          "log_url": {
            "type": "string"
          },
          "artifacts_url": {
            "type": "string"
          },
          "exit_status": {
            "type": "integer",
            "nullable": true
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "started_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "finished_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "agent": {
            "$ref": "#/components/schemas/Agent"
          }
        }
      },
      "JobLog": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string"
          },
          "content": {
            "type": "string"
          },
          "size": {
            "type": "integer"
          },
          "header_times": {
            "type": "array",
            "items": {
              "type": "integer"
            }
          }
        }
      },
      "Agent": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "url": {
            "type": "string"
          },
          "web_url": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "connection_state": {
            "type": "string"
          },
          "hostname": {
            "type": "string"
          },
          "ip_address": {
            "type": "string"
          },
          "user_agent": {
            "type": "string"
          },
          "version": {
            "type": "string"
          },
          "meta_data": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "last_job_finished_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        }
      },
      "Artifact": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "job_id": {
            "type": "string"
          },
          "url": {
            "type": "string"
          },
          "download_url": {
            "type": "string"
          },
          "state": {
            "type": "string"
          },
          "path": {
            "type": "string"
          },
          "dirname": {
            "type": "string"
          },
          "filename": {
            "type": "string"
          },
          "mime_type": {
            "type": "string"
          },
          "file_size": {
            "type": "integer"
          },
          "sha1sum": {
            "type": "string"
          }
        }
      },
      "Annotation": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "context": {
            "type": "string"
          },
          "style": {
            "type": "string",
            "enum": [
              "success",
              "info",
              "warning",
              "error"
            ]
          },
          "body_html": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "User": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "avatar_url": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Emoji": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "url": {
            "type": "string"
          }
        }
      }
    }
  }
}
