{
  "openapi": "3.0.3",
  "info": {
    "title": "Public API for e-tobacco DEV",
    "version": "1.0.0",
    "contact": {},
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/ILYSIUK/public-api-for-e-tobacco-dev/1.0.0"
  },
  "servers": [
    {
      "url": "https://external-service-api-mkcons-dev2-main.apps.krrt-dev3.ncr.gov.ua"
    },
    {
      "url": "https://platform-keycloak.apps.krrt-dev3.ncr.gov.ua"
    }
  ],
  "paths": {
    "/api/gateway/data-factory/{name}": {
      "get": {
        "tags": [
          "dictionaries"
        ],
        "summary": "dict-application-statuses",
        "description": "dict-application-statuses",
        "operationId": "dictApplicationStatuses",
        "requestBody": {
          "content": {
            "application/json": {
              "examples": {
                "dict-application-statuses": {
                  "value": ""
                },
                "dict-application-types": {
                  "value": ""
                },
                "dict-countries": {
                  "value": ""
                },
                "dict-ingredient-cas": {
                  "value": ""
                },
                "dict-ingredient-cas-chem": {
                  "value": ""
                },
                "dict-ingredient-cas-trade": {
                  "value": ""
                },
                "dict-ingredient-cats": {
                  "value": ""
                },
                "dict-ingredient-funcs": {
                  "value": ""
                },
                "dict-ingredient-reasons": {
                  "value": ""
                },
                "dict-licenses": {
                  "value": ""
                },
                "dict-limit-levels": {
                  "value": ""
                },
                "dict-manufacturers": {
                  "value": ""
                },
                "dict-packaging-types": {
                  "value": ""
                },
                "dict-product-statuses": {
                  "value": ""
                },
                "dict-product-types": {
                  "value": ""
                },
                "dict-product-types-resources": {
                  "value": ""
                },
                "dict-related-person-statuses": {
                  "value": ""
                },
                "dict-report-statuses": {
                  "value": ""
                },
                "dict-roles": {
                  "value": ""
                },
                "dict-subject-permissions": {
                  "value": ""
                },
                "dict-subject-statuses": {
                  "value": ""
                },
                "dict-tobacco-ingredient-inclusion-reasons": {
                  "value": ""
                },
                "dict-tobacco-leaf-harvesting-methods": {
                  "value": ""
                },
                "dict-tobacco-leaf-types": {
                  "value": ""
                },
                "dict-tobacco-part-suppliers": {
                  "value": ""
                },
                "dict-tobacco-part-types": {
                  "value": ""
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "parameters": [
        {
          "name": "name",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "example": "tobacco-info-public"
          }
        }
      ]
    },
    "/auth/realms/mkcons-dev2-external-system/protocol/openid-connect/token": {
      "post": {
        "summary": "to get token",
        "description": "to get token",
        "operationId": "toGetToken",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "client_id": {
                    "type": "string",
                    "example": "public"
                  },
                  "client_secret": {
                    "type": "string",
                    "example": "swxm2adszcl7vauqf9vvc32xj52gswa67yib"
                  },
                  "grant_type": {
                    "type": "string",
                    "example": "client_credentials"
                  }
                }
              },
              "examples": {
                "to get token": {
                  "value": {
                    "client_id": "public",
                    "client_secret": "swxm2adszcl7vauqf9vvc32xj52gswa67yib",
                    "grant_type": "client_credentials"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  },
  "tags": [
    {
      "name": "dictionaries"
    }
  ]
}