{
  "openapi": "3.0.3",
  "info": {
    "title": "Stack Exchange API",
    "version": "2.3",
    "description": "The Stack Exchange API v2.3 provides programmatic access to all Stack Exchange network sites (Stack Overflow, Server Fault, Super User, etc.). Supports reading questions, answers, users, tags, search, and write operations with OAuth authentication.",
    "x-jentic-source-url": "https://api.stackexchange.com/docs",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://api.stackexchange.com/2.3"
    }
  ],
  "paths": {
    "/questions": {
      "get": {
        "operationId": "getQuestions",
        "summary": "Get all questions",
        "description": "Gets all questions on the site.",
        "tags": [
          "Questions"
        ],
        "parameters": [
          {
            "name": "site",
            "in": "query",
            "description": "Site domain or short name (e.g., stackoverflow)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "pagesize",
            "in": "query",
            "description": "Results per page (max 100)",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 30,
              "maximum": 100
            }
          },
          {
            "name": "filter",
            "in": "query",
            "description": "Custom filter ID",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "key",
            "in": "query",
            "description": "Application key for higher request quotas",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "order",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "desc"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "min",
            "in": "query",
            "description": "Minimum value for sort range",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "max",
            "in": "query",
            "description": "Maximum value for sort range",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fromdate",
            "in": "query",
            "description": "Unix epoch timestamp lower bound",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "todate",
            "in": "query",
            "description": "Unix epoch timestamp upper bound",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "tagged",
            "in": "query",
            "description": "Semicolon-delimited list of tags",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Questions list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WrapperResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/questions/{ids}": {
      "get": {
        "operationId": "getQuestionsByIds",
        "summary": "Get questions by IDs",
        "tags": [
          "Questions"
        ],
        "parameters": [
          {
            "name": "ids",
            "in": "path",
            "required": true,
            "description": "Semicolon-delimited list of question IDs",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "site",
            "in": "query",
            "description": "Site domain or short name (e.g., stackoverflow)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "pagesize",
            "in": "query",
            "description": "Results per page (max 100)",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 30,
              "maximum": 100
            }
          },
          {
            "name": "filter",
            "in": "query",
            "description": "Custom filter ID",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "key",
            "in": "query",
            "description": "Application key for higher request quotas",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "order",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "desc"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "min",
            "in": "query",
            "description": "Minimum value for sort range",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "max",
            "in": "query",
            "description": "Maximum value for sort range",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fromdate",
            "in": "query",
            "description": "Unix epoch timestamp lower bound",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "todate",
            "in": "query",
            "description": "Unix epoch timestamp upper bound",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Questions by IDs",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WrapperResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get questions by IDs"
      }
    },
    "/questions/{ids}/answers": {
      "get": {
        "operationId": "getAnswersForQuestions",
        "summary": "Get answers for questions",
        "tags": [
          "Questions"
        ],
        "parameters": [
          {
            "name": "ids",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "site",
            "in": "query",
            "description": "Site domain or short name (e.g., stackoverflow)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "pagesize",
            "in": "query",
            "description": "Results per page (max 100)",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 30,
              "maximum": 100
            }
          },
          {
            "name": "filter",
            "in": "query",
            "description": "Custom filter ID",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "key",
            "in": "query",
            "description": "Application key for higher request quotas",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "order",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "desc"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "min",
            "in": "query",
            "description": "Minimum value for sort range",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "max",
            "in": "query",
            "description": "Maximum value for sort range",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fromdate",
            "in": "query",
            "description": "Unix epoch timestamp lower bound",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "todate",
            "in": "query",
            "description": "Unix epoch timestamp upper bound",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Answers for questions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WrapperResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get answers for questions"
      }
    },
    "/questions/{ids}/comments": {
      "get": {
        "operationId": "getCommentsOnQuestions",
        "summary": "Get comments on questions",
        "tags": [
          "Questions"
        ],
        "parameters": [
          {
            "name": "ids",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "site",
            "in": "query",
            "description": "Site domain or short name (e.g., stackoverflow)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "pagesize",
            "in": "query",
            "description": "Results per page (max 100)",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 30,
              "maximum": 100
            }
          },
          {
            "name": "filter",
            "in": "query",
            "description": "Custom filter ID",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "key",
            "in": "query",
            "description": "Application key for higher request quotas",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "order",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "desc"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "min",
            "in": "query",
            "description": "Minimum value for sort range",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "max",
            "in": "query",
            "description": "Maximum value for sort range",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fromdate",
            "in": "query",
            "description": "Unix epoch timestamp lower bound",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "todate",
            "in": "query",
            "description": "Unix epoch timestamp upper bound",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Comments on questions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WrapperResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get comments on questions"
      }
    },
    "/questions/unanswered": {
      "get": {
        "operationId": "getUnansweredQuestions",
        "summary": "Get unanswered questions",
        "tags": [
          "Questions"
        ],
        "parameters": [
          {
            "name": "site",
            "in": "query",
            "description": "Site domain or short name (e.g., stackoverflow)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "pagesize",
            "in": "query",
            "description": "Results per page (max 100)",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 30,
              "maximum": 100
            }
          },
          {
            "name": "filter",
            "in": "query",
            "description": "Custom filter ID",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "key",
            "in": "query",
            "description": "Application key for higher request quotas",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "order",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "desc"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "min",
            "in": "query",
            "description": "Minimum value for sort range",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "max",
            "in": "query",
            "description": "Maximum value for sort range",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fromdate",
            "in": "query",
            "description": "Unix epoch timestamp lower bound",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "todate",
            "in": "query",
            "description": "Unix epoch timestamp upper bound",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "tagged",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Unanswered questions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WrapperResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get unanswered questions"
      }
    },
    "/questions/no-answers": {
      "get": {
        "operationId": "getQuestionsWithNoAnswers",
        "summary": "Get questions with no answers",
        "tags": [
          "Questions"
        ],
        "parameters": [
          {
            "name": "site",
            "in": "query",
            "description": "Site domain or short name (e.g., stackoverflow)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "pagesize",
            "in": "query",
            "description": "Results per page (max 100)",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 30,
              "maximum": 100
            }
          },
          {
            "name": "filter",
            "in": "query",
            "description": "Custom filter ID",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "key",
            "in": "query",
            "description": "Application key for higher request quotas",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "order",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "desc"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "min",
            "in": "query",
            "description": "Minimum value for sort range",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "max",
            "in": "query",
            "description": "Maximum value for sort range",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fromdate",
            "in": "query",
            "description": "Unix epoch timestamp lower bound",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "todate",
            "in": "query",
            "description": "Unix epoch timestamp upper bound",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "tagged",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Questions with no answers",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WrapperResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get questions with no answers"
      }
    },
    "/questions/featured": {
      "get": {
        "operationId": "getFeaturedQuestions",
        "summary": "Get questions with active bounties",
        "tags": [
          "Questions"
        ],
        "parameters": [
          {
            "name": "site",
            "in": "query",
            "description": "Site domain or short name (e.g., stackoverflow)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "pagesize",
            "in": "query",
            "description": "Results per page (max 100)",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 30,
              "maximum": 100
            }
          },
          {
            "name": "filter",
            "in": "query",
            "description": "Custom filter ID",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "key",
            "in": "query",
            "description": "Application key for higher request quotas",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "order",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "desc"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "min",
            "in": "query",
            "description": "Minimum value for sort range",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "max",
            "in": "query",
            "description": "Maximum value for sort range",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fromdate",
            "in": "query",
            "description": "Unix epoch timestamp lower bound",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "todate",
            "in": "query",
            "description": "Unix epoch timestamp upper bound",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "tagged",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Featured questions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WrapperResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get questions with active bounties"
      }
    },
    "/answers": {
      "get": {
        "operationId": "getAnswers",
        "summary": "Get all answers",
        "tags": [
          "Answers"
        ],
        "parameters": [
          {
            "name": "site",
            "in": "query",
            "description": "Site domain or short name (e.g., stackoverflow)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "pagesize",
            "in": "query",
            "description": "Results per page (max 100)",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 30,
              "maximum": 100
            }
          },
          {
            "name": "filter",
            "in": "query",
            "description": "Custom filter ID",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "key",
            "in": "query",
            "description": "Application key for higher request quotas",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "order",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "desc"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "min",
            "in": "query",
            "description": "Minimum value for sort range",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "max",
            "in": "query",
            "description": "Maximum value for sort range",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fromdate",
            "in": "query",
            "description": "Unix epoch timestamp lower bound",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "todate",
            "in": "query",
            "description": "Unix epoch timestamp upper bound",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Answers list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WrapperResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get all answers"
      }
    },
    "/answers/{ids}": {
      "get": {
        "operationId": "getAnswersByIds",
        "summary": "Get answers by IDs",
        "tags": [
          "Answers"
        ],
        "parameters": [
          {
            "name": "ids",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "site",
            "in": "query",
            "description": "Site domain or short name (e.g., stackoverflow)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "pagesize",
            "in": "query",
            "description": "Results per page (max 100)",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 30,
              "maximum": 100
            }
          },
          {
            "name": "filter",
            "in": "query",
            "description": "Custom filter ID",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "key",
            "in": "query",
            "description": "Application key for higher request quotas",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "order",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "desc"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "min",
            "in": "query",
            "description": "Minimum value for sort range",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "max",
            "in": "query",
            "description": "Maximum value for sort range",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fromdate",
            "in": "query",
            "description": "Unix epoch timestamp lower bound",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "todate",
            "in": "query",
            "description": "Unix epoch timestamp upper bound",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Answers by IDs",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WrapperResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get answers by IDs"
      }
    },
    "/answers/{ids}/comments": {
      "get": {
        "operationId": "getCommentsOnAnswers",
        "summary": "Get comments on answers",
        "tags": [
          "Answers"
        ],
        "parameters": [
          {
            "name": "ids",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "site",
            "in": "query",
            "description": "Site domain or short name (e.g., stackoverflow)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "pagesize",
            "in": "query",
            "description": "Results per page (max 100)",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 30,
              "maximum": 100
            }
          },
          {
            "name": "filter",
            "in": "query",
            "description": "Custom filter ID",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "key",
            "in": "query",
            "description": "Application key for higher request quotas",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "order",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "desc"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "min",
            "in": "query",
            "description": "Minimum value for sort range",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "max",
            "in": "query",
            "description": "Maximum value for sort range",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fromdate",
            "in": "query",
            "description": "Unix epoch timestamp lower bound",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "todate",
            "in": "query",
            "description": "Unix epoch timestamp upper bound",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Comments on answers",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WrapperResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get comments on answers"
      }
    },
    "/comments": {
      "get": {
        "operationId": "getComments",
        "summary": "Get all comments",
        "tags": [
          "Comments"
        ],
        "parameters": [
          {
            "name": "site",
            "in": "query",
            "description": "Site domain or short name (e.g., stackoverflow)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "pagesize",
            "in": "query",
            "description": "Results per page (max 100)",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 30,
              "maximum": 100
            }
          },
          {
            "name": "filter",
            "in": "query",
            "description": "Custom filter ID",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "key",
            "in": "query",
            "description": "Application key for higher request quotas",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "order",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "desc"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "min",
            "in": "query",
            "description": "Minimum value for sort range",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "max",
            "in": "query",
            "description": "Maximum value for sort range",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fromdate",
            "in": "query",
            "description": "Unix epoch timestamp lower bound",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "todate",
            "in": "query",
            "description": "Unix epoch timestamp upper bound",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Comments list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WrapperResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get all comments"
      }
    },
    "/comments/{ids}": {
      "get": {
        "operationId": "getCommentsByIds",
        "summary": "Get comments by IDs",
        "tags": [
          "Comments"
        ],
        "parameters": [
          {
            "name": "ids",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "site",
            "in": "query",
            "description": "Site domain or short name (e.g., stackoverflow)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "pagesize",
            "in": "query",
            "description": "Results per page (max 100)",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 30,
              "maximum": 100
            }
          },
          {
            "name": "filter",
            "in": "query",
            "description": "Custom filter ID",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "key",
            "in": "query",
            "description": "Application key for higher request quotas",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "order",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "desc"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "min",
            "in": "query",
            "description": "Minimum value for sort range",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "max",
            "in": "query",
            "description": "Maximum value for sort range",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fromdate",
            "in": "query",
            "description": "Unix epoch timestamp lower bound",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "todate",
            "in": "query",
            "description": "Unix epoch timestamp upper bound",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Comments by IDs",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WrapperResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get comments by IDs"
      }
    },
    "/users": {
      "get": {
        "operationId": "getUsers",
        "summary": "Get all users",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "name": "site",
            "in": "query",
            "description": "Site domain or short name (e.g., stackoverflow)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "pagesize",
            "in": "query",
            "description": "Results per page (max 100)",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 30,
              "maximum": 100
            }
          },
          {
            "name": "filter",
            "in": "query",
            "description": "Custom filter ID",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "key",
            "in": "query",
            "description": "Application key for higher request quotas",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "order",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "desc"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "min",
            "in": "query",
            "description": "Minimum value for sort range",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "max",
            "in": "query",
            "description": "Maximum value for sort range",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fromdate",
            "in": "query",
            "description": "Unix epoch timestamp lower bound",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "todate",
            "in": "query",
            "description": "Unix epoch timestamp upper bound",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "inname",
            "in": "query",
            "description": "Filter users by display name substring",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Users list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WrapperResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get all users"
      }
    },
    "/users/{ids}": {
      "get": {
        "operationId": "getUsersByIds",
        "summary": "Get users by IDs",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "name": "ids",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "site",
            "in": "query",
            "description": "Site domain or short name (e.g., stackoverflow)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "pagesize",
            "in": "query",
            "description": "Results per page (max 100)",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 30,
              "maximum": 100
            }
          },
          {
            "name": "filter",
            "in": "query",
            "description": "Custom filter ID",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "key",
            "in": "query",
            "description": "Application key for higher request quotas",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "order",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "desc"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "min",
            "in": "query",
            "description": "Minimum value for sort range",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "max",
            "in": "query",
            "description": "Maximum value for sort range",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fromdate",
            "in": "query",
            "description": "Unix epoch timestamp lower bound",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "todate",
            "in": "query",
            "description": "Unix epoch timestamp upper bound",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Users by IDs",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WrapperResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get users by IDs"
      }
    },
    "/users/{ids}/answers": {
      "get": {
        "operationId": "getUserAnswers",
        "summary": "Get answers posted by users",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "name": "ids",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "site",
            "in": "query",
            "description": "Site domain or short name (e.g., stackoverflow)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "pagesize",
            "in": "query",
            "description": "Results per page (max 100)",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 30,
              "maximum": 100
            }
          },
          {
            "name": "filter",
            "in": "query",
            "description": "Custom filter ID",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "key",
            "in": "query",
            "description": "Application key for higher request quotas",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "order",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "desc"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "min",
            "in": "query",
            "description": "Minimum value for sort range",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "max",
            "in": "query",
            "description": "Maximum value for sort range",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fromdate",
            "in": "query",
            "description": "Unix epoch timestamp lower bound",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "todate",
            "in": "query",
            "description": "Unix epoch timestamp upper bound",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User answers",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WrapperResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get answers posted by users"
      }
    },
    "/users/{ids}/questions": {
      "get": {
        "operationId": "getUserQuestions",
        "summary": "Get questions asked by users",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "name": "ids",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "site",
            "in": "query",
            "description": "Site domain or short name (e.g., stackoverflow)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "pagesize",
            "in": "query",
            "description": "Results per page (max 100)",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 30,
              "maximum": 100
            }
          },
          {
            "name": "filter",
            "in": "query",
            "description": "Custom filter ID",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "key",
            "in": "query",
            "description": "Application key for higher request quotas",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "order",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "desc"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "min",
            "in": "query",
            "description": "Minimum value for sort range",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "max",
            "in": "query",
            "description": "Maximum value for sort range",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fromdate",
            "in": "query",
            "description": "Unix epoch timestamp lower bound",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "todate",
            "in": "query",
            "description": "Unix epoch timestamp upper bound",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User questions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WrapperResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get questions asked by users"
      }
    },
    "/users/{ids}/reputation": {
      "get": {
        "operationId": "getUserReputation",
        "summary": "Get reputation changes for users",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "name": "ids",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "site",
            "in": "query",
            "description": "Site domain or short name (e.g., stackoverflow)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "pagesize",
            "in": "query",
            "description": "Results per page (max 100)",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 30,
              "maximum": 100
            }
          },
          {
            "name": "filter",
            "in": "query",
            "description": "Custom filter ID",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "key",
            "in": "query",
            "description": "Application key for higher request quotas",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User reputation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WrapperResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get reputation changes for users"
      }
    },
    "/users/{ids}/badges": {
      "get": {
        "operationId": "getUserBadges",
        "summary": "Get badges earned by users",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "name": "ids",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "site",
            "in": "query",
            "description": "Site domain or short name (e.g., stackoverflow)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "pagesize",
            "in": "query",
            "description": "Results per page (max 100)",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 30,
              "maximum": 100
            }
          },
          {
            "name": "filter",
            "in": "query",
            "description": "Custom filter ID",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "key",
            "in": "query",
            "description": "Application key for higher request quotas",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "order",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "desc"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "min",
            "in": "query",
            "description": "Minimum value for sort range",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "max",
            "in": "query",
            "description": "Maximum value for sort range",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fromdate",
            "in": "query",
            "description": "Unix epoch timestamp lower bound",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "todate",
            "in": "query",
            "description": "Unix epoch timestamp upper bound",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User badges",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WrapperResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get badges earned by users"
      }
    },
    "/users/{ids}/tags": {
      "get": {
        "operationId": "getUserTags",
        "summary": "Get tags active for users",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "name": "ids",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "site",
            "in": "query",
            "description": "Site domain or short name (e.g., stackoverflow)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "pagesize",
            "in": "query",
            "description": "Results per page (max 100)",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 30,
              "maximum": 100
            }
          },
          {
            "name": "filter",
            "in": "query",
            "description": "Custom filter ID",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "key",
            "in": "query",
            "description": "Application key for higher request quotas",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "order",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "desc"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "min",
            "in": "query",
            "description": "Minimum value for sort range",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "max",
            "in": "query",
            "description": "Maximum value for sort range",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fromdate",
            "in": "query",
            "description": "Unix epoch timestamp lower bound",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "todate",
            "in": "query",
            "description": "Unix epoch timestamp upper bound",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User tags",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WrapperResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get tags active for users"
      }
    },
    "/me": {
      "get": {
        "operationId": "getMe",
        "summary": "Get authenticated user",
        "description": "Returns the user associated with the provided access_token.",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "name": "site",
            "in": "query",
            "description": "Site domain or short name (e.g., stackoverflow)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "pagesize",
            "in": "query",
            "description": "Results per page (max 100)",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 30,
              "maximum": 100
            }
          },
          {
            "name": "filter",
            "in": "query",
            "description": "Custom filter ID",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "key",
            "in": "query",
            "description": "Application key for higher request quotas",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "access_token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Authenticated user",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WrapperResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/tags": {
      "get": {
        "operationId": "getTags",
        "summary": "Get all tags",
        "tags": [
          "Tags"
        ],
        "parameters": [
          {
            "name": "site",
            "in": "query",
            "description": "Site domain or short name (e.g., stackoverflow)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "pagesize",
            "in": "query",
            "description": "Results per page (max 100)",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 30,
              "maximum": 100
            }
          },
          {
            "name": "filter",
            "in": "query",
            "description": "Custom filter ID",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "key",
            "in": "query",
            "description": "Application key for higher request quotas",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "order",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "desc"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "min",
            "in": "query",
            "description": "Minimum value for sort range",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "max",
            "in": "query",
            "description": "Maximum value for sort range",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fromdate",
            "in": "query",
            "description": "Unix epoch timestamp lower bound",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "todate",
            "in": "query",
            "description": "Unix epoch timestamp upper bound",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "inname",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Tags list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WrapperResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get all tags"
      }
    },
    "/tags/{tags}/faq": {
      "get": {
        "operationId": "getTagFaq",
        "summary": "Get FAQ for tags",
        "tags": [
          "Tags"
        ],
        "parameters": [
          {
            "name": "tags",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "site",
            "in": "query",
            "description": "Site domain or short name (e.g., stackoverflow)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "pagesize",
            "in": "query",
            "description": "Results per page (max 100)",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 30,
              "maximum": 100
            }
          },
          {
            "name": "filter",
            "in": "query",
            "description": "Custom filter ID",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "key",
            "in": "query",
            "description": "Application key for higher request quotas",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Tag FAQ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WrapperResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get FAQ for tags"
      }
    },
    "/tags/{tags}/related": {
      "get": {
        "operationId": "getRelatedTags",
        "summary": "Get related tags",
        "tags": [
          "Tags"
        ],
        "parameters": [
          {
            "name": "tags",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "site",
            "in": "query",
            "description": "Site domain or short name (e.g., stackoverflow)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "pagesize",
            "in": "query",
            "description": "Results per page (max 100)",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 30,
              "maximum": 100
            }
          },
          {
            "name": "filter",
            "in": "query",
            "description": "Custom filter ID",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "key",
            "in": "query",
            "description": "Application key for higher request quotas",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Related tags",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WrapperResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get related tags"
      }
    },
    "/tags/{tags}/synonyms": {
      "get": {
        "operationId": "getTagSynonyms",
        "summary": "Get tag synonyms",
        "tags": [
          "Tags"
        ],
        "parameters": [
          {
            "name": "tags",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "site",
            "in": "query",
            "description": "Site domain or short name (e.g., stackoverflow)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "pagesize",
            "in": "query",
            "description": "Results per page (max 100)",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 30,
              "maximum": 100
            }
          },
          {
            "name": "filter",
            "in": "query",
            "description": "Custom filter ID",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "key",
            "in": "query",
            "description": "Application key for higher request quotas",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "order",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "desc"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "min",
            "in": "query",
            "description": "Minimum value for sort range",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "max",
            "in": "query",
            "description": "Maximum value for sort range",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fromdate",
            "in": "query",
            "description": "Unix epoch timestamp lower bound",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "todate",
            "in": "query",
            "description": "Unix epoch timestamp upper bound",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Tag synonyms",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WrapperResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get tag synonyms"
      }
    },
    "/badges": {
      "get": {
        "operationId": "getBadges",
        "summary": "Get all badges",
        "tags": [
          "Badges"
        ],
        "parameters": [
          {
            "name": "site",
            "in": "query",
            "description": "Site domain or short name (e.g., stackoverflow)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "pagesize",
            "in": "query",
            "description": "Results per page (max 100)",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 30,
              "maximum": 100
            }
          },
          {
            "name": "filter",
            "in": "query",
            "description": "Custom filter ID",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "key",
            "in": "query",
            "description": "Application key for higher request quotas",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "order",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "desc"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "min",
            "in": "query",
            "description": "Minimum value for sort range",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "max",
            "in": "query",
            "description": "Maximum value for sort range",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fromdate",
            "in": "query",
            "description": "Unix epoch timestamp lower bound",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "todate",
            "in": "query",
            "description": "Unix epoch timestamp upper bound",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "inname",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Badges list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WrapperResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get all badges"
      }
    },
    "/badges/{ids}": {
      "get": {
        "operationId": "getBadgesByIds",
        "summary": "Get badges by IDs",
        "tags": [
          "Badges"
        ],
        "parameters": [
          {
            "name": "ids",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "site",
            "in": "query",
            "description": "Site domain or short name (e.g., stackoverflow)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "pagesize",
            "in": "query",
            "description": "Results per page (max 100)",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 30,
              "maximum": 100
            }
          },
          {
            "name": "filter",
            "in": "query",
            "description": "Custom filter ID",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "key",
            "in": "query",
            "description": "Application key for higher request quotas",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "order",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "desc"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "min",
            "in": "query",
            "description": "Minimum value for sort range",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "max",
            "in": "query",
            "description": "Maximum value for sort range",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fromdate",
            "in": "query",
            "description": "Unix epoch timestamp lower bound",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "todate",
            "in": "query",
            "description": "Unix epoch timestamp upper bound",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Badges by IDs",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WrapperResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get badges by IDs"
      }
    },
[...]
