{
  "openapi": "3.0.3",
  "info": {
    "title": "UGRC API",
    "version": "2.0.0",
    "description": "Utah Geospatial Resource Center (UGRC) API provides access to Utah geospatial data from the State Geographic Information Database (SGID). Features geocoding (addresses to coordinates), reverse geocoding, route/milepost lookup, spatial searching across 300+ data layers, and metadata inspection.",
    "x-jentic-source-url": "https://api.mapserv.utah.gov",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://api.mapserv.utah.gov/api/v1"
    }
  ],
  "paths": {
    "/geocode/{street}/{zone}": {
      "get": {
        "operationId": "geocodeAddress",
        "summary": "Geocode a Utah address",
        "description": "Get geographic coordinates for a Utah street address and zone (city or ZIP code).",
        "tags": [
          "Geocoding"
        ],
        "parameters": [
          {
            "name": "street",
            "in": "path",
            "required": true,
            "description": "Street address (e.g., 326 east south temple st)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "zone",
            "in": "path",
            "required": true,
            "description": "City name or ZIP code (e.g., Salt Lake City or 84111)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "spatialReference",
            "in": "query",
            "description": "Output spatial reference WKID",
            "schema": {
              "type": "integer",
              "default": 26912
            }
          },
          {
            "name": "acceptScore",
            "in": "query",
            "description": "Minimum match score (0-100)",
            "schema": {
              "type": "integer",
              "default": 70
            }
          },
          {
            "name": "locators",
            "in": "query",
            "description": "Geocoding locator to use",
            "schema": {
              "type": "string",
              "enum": [
                "all",
                "addressPoints",
                "roadCenterlines"
              ]
            }
          },
          {
            "name": "suggest",
            "in": "query",
            "description": "Number of suggestions to return",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "poBox",
            "in": "query",
            "description": "Enable PO Box geocoding",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "scoreDifference",
            "in": "query",
            "description": "Difference threshold between address point and road centerline match scores",
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Geocoding result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeocodeResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "No match found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/geocode/milepost/{route}/{milepost}": {
      "get": {
        "operationId": "geocodeMilepost",
        "summary": "Geocode a route and milepost",
        "description": "Get geographic coordinates for a Utah highway route and milepost.",
        "tags": [
          "Geocoding"
        ],
        "parameters": [
          {
            "name": "route",
            "in": "path",
            "required": true,
            "description": "Route name (e.g., 15)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "milepost",
            "in": "path",
            "required": true,
            "description": "Milepost number",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "spatialReference",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 26912
            }
          },
          {
            "name": "side",
            "in": "query",
            "description": "Side of the road",
            "schema": {
              "type": "string",
              "enum": [
                "increasing",
                "decreasing"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Milepost location",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeocodeResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/geocode/reverse/{x}/{y}": {
      "get": {
        "operationId": "reverseGeocode",
        "summary": "Reverse geocode coordinates",
        "description": "Get the street address for a given coordinate.",
        "tags": [
          "Geocoding"
        ],
        "parameters": [
          {
            "name": "x",
            "in": "path",
            "required": true,
            "description": "X coordinate (easting or longitude)",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "y",
            "in": "path",
            "required": true,
            "description": "Y coordinate (northing or latitude)",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "spatialReference",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 26912
            }
          },
          {
            "name": "distance",
            "in": "query",
            "description": "Search radius in meters",
            "schema": {
              "type": "number",
              "default": 5
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Reverse geocode result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReverseGeocodeResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/geocode/reverseMilepost/{x}/{y}": {
      "get": {
        "operationId": "reverseMilepost",
        "summary": "Reverse geocode to route and milepost",
        "description": "Get the route and milepost for a given coordinate.",
        "tags": [
          "Geocoding"
        ],
        "parameters": [
          {
            "name": "x",
            "in": "path",
            "required": true,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "y",
            "in": "path",
            "required": true,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "spatialReference",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 26912
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Reverse milepost result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReverseMilepostResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/search/{tableName}/{returnValues}": {
      "get": {
        "operationId": "searchSGID",
        "summary": "Search SGID spatial data",
        "description": "Query attributes from SGID data layers using SQL-like predicates or spatial geometry.",
        "tags": [
          "Search"
        ],
        "parameters": [
          {
            "name": "tableName",
            "in": "path",
            "required": true,
            "description": "SGID table name (e.g., boundaries.counties)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "returnValues",
            "in": "path",
            "required": true,
            "description": "Comma-separated list of attributes to return",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "predicate",
            "in": "query",
            "description": "SQL-like where clause (e.g., name='Utah')",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "geometry",
            "in": "query",
            "description": "Point geometry for spatial queries (format: point:[x,y])",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "spatialReference",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 26912
            }
          },
          {
            "name": "buffer",
            "in": "query",
            "description": "Buffer distance in spatial reference units",
            "schema": {
              "type": "number",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Search results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/info/list/{category}": {
      "get": {
        "operationId": "listTables",
        "summary": "List SGID table names",
        "description": "Get a list of table names from a specific SGID data category.",
        "tags": [
          "Meta"
        ],
        "parameters": [
          {
            "name": "category",
            "in": "path",
            "required": true,
            "description": "Data category (e.g., boundaries, transportation, health)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Table names",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InfoResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/info/fieldnames/{tableName}": {
      "get": {
        "operationId": "listFieldNames",
        "summary": "List attribute names for a table",
        "description": "Get a list of attribute (field) names for a specific SGID table.",
        "tags": [
          "Meta"
        ],
        "parameters": [
          {
            "name": "tableName",
            "in": "path",
            "required": true,
            "description": "SGID table name",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Field names",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InfoResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "GeocodeResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "integer"
          },
          "message": {
            "type": "string"
          },
          "result": {
            "type": "object",
            "properties": {
              "location": {
                "type": "object",
                "properties": {
                  "x": {
                    "type": "number"
                  },
                  "y": {
                    "type": "number"
                  }
                }
              },
              "score": {
                "type": "number"
              },
              "locator": {
                "type": "string"
              },
              "matchAddress": {
                "type": "string"
              },
              "inputAddress": {
                "type": "string"
              },
              "addressGrid": {
                "type": "string"
              }
            }
          }
        }
      },
      "ReverseGeocodeResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "integer"
          },
          "message": {
            "type": "string"
          },
          "result": {
            "type": "object",
            "properties": {
              "address": {
                "type": "object",
                "properties": {
                  "street": {
                    "type": "string"
                  },
                  "zone": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      },
      "ReverseMilepostResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "integer"
          },
          "message": {
            "type": "string"
          },
          "result": {
            "type": "object",
            "properties": {
              "route": {
                "type": "string"
              },
              "milepost": {
                "type": "number"
              },
              "side": {
                "type": "string"
              }
            }
          }
        }
      },
      "SearchResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "integer"
          },
          "message": {
            "type": "string"
          },
          "result": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "attributes": {
                  "type": "object",
                  "additionalProperties": true
                },
                "geometry": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "InfoResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "integer"
          },
          "message": {
            "type": "string"
          },
          "result": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "integer"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "apiKeyAuth": {
        "type": "apiKey",
        "in": "query",
        "name": "apiKey",
        "description": "UGRC API key (obtain from developer.mapserv.utah.gov)"
      }
    }
  },
  "security": [
    {
      "apiKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "Geocoding"
    },
    {
      "name": "Meta"
    },
    {
      "name": "Search"
    }
  ]
}
