{
  "openapi": "3.0.1",
  "info": {
    "title": "Wirecenter Assigned Planners API",
    "description": "Wirecenter Assigned Planners API<p>This API provides a mechanism to direct external teams (and systems) to the correct internal Lumen Edge planner for a given wire center CLLI code. It maintains mapping between wire center CLLI code to primary planner?s email address. Only the managers will have admin access to update this relationship.</p>",
    "version": "1.0.0",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/CenturyLink_APIs/brain-wirecenter-assignment/1.0.0"
  },
  "servers": [
    {
      "url": "https://brain.lumen.com/wirecenter-assignment"
    },
    {
      "url": "https://api-devint1.gcp.dev.intranet/Application/v1/BRAIN/wirecenterAssignmentService",
      "description": "ApigeeX dev1 url"
    },
    {
      "url": "https://api-test1.gcp.qa.test.intranet/Application/v1/BRAIN/wirecenterAssignmentService",
      "description": "ApigeeX test1 url"
    },
    {
      "url": "https://api-prod.gcp.corp.intranet/Application/v1/BRAIN/wirecenterAssignmentService",
      "description": "ApigeeX prod url"
    }
  ],
  "tags": [
    {
      "name": "wirecenter-assigned-planners",
      "description": "the Wirecenter Assigned Planners API"
    }
  ],
  "paths": {
    "/v1/assigned-planners/{wcaIds}": {
      "get": {
        "tags": [
          "wirecenter-assigned-planners"
        ],
        "summary": "Get wirecenter assigned planners",
        "description": "Get wirecenter assigned planners",
        "operationId": "getWirecenters",
        "parameters": [
          {
            "name": "wcaIds",
            "in": "path",
            "description": "Wirecenter Assignment Ids",
            "required": true,
            "schema": {
              "maxItems": 2147483647,
              "minItems": 1,
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int64"
              }
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Invalid request"
          },
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/WirecenterAssignment"
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "wirecenter-assigned-planners"
        ],
        "summary": "Update wirecenter assigned planners",
        "description": "Update wirecenter assigned planners",
        "operationId": "updateWirecenters",
        "parameters": [
          {
            "name": "wcaIds",
            "in": "path",
            "description": "Wirecenter Assignment Ids",
            "required": true,
            "schema": {
              "maxItems": 2147483647,
              "minItems": 1,
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int64"
              }
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "description": "Update wirecenter assigned planners",
                "items": {
                  "$ref": "#/components/schemas/WirecenterAssignment"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "400": {
            "description": "Invalid request"
          },
          "200": {
            "description": "Updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SaveResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "wirecenter-assigned-planners"
        ],
        "summary": "Delete wirecenter assigned planners",
        "description": "Delete wirecenter assigned planners",
        "operationId": "deleteWirecenterAssignments",
        "parameters": [
          {
            "name": "wcaIds",
            "in": "path",
            "description": "Wirecenter Assignment Ids",
            "required": true,
            "schema": {
              "maxItems": 2147483647,
              "minItems": 1,
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int64"
              }
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Invalid request"
          },
          "200": {
            "description": "Updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/assigned-planners": {
      "get": {
        "tags": [
          "wirecenter-assigned-planners"
        ],
        "summary": "Get all wirecenter assigned planners",
        "description": "Get all wirecenter assigned planners",
        "operationId": "getAllWirecenterAssignments",
        "parameters": [
          {
            "name": "format",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "csv",
                "excel"
              ]
            },
            "example": "JSON or CSV or EXCEL"
          }
        ],
        "responses": {
          "400": {
            "description": "Invalid request"
          },
          "200": {
            "description": "successful operation",
            "content": {
              "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet": {}
            }
          }
        }
      },
      "post": {
        "tags": [
          "wirecenter-assigned-planners"
        ],
        "summary": "Save wirecenter assigned planners",
        "description": "Save wirecenter assigned planners",
        "operationId": "saveWirecenterAssignments",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "description": "Create a new wirecenter assigned planners",
                "items": {
                  "$ref": "#/components/schemas/WirecenterAssignment"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "400": {
            "description": "Invalid request"
          },
          "200": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SaveResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/assigned-planners/load": {
      "post": {
        "tags": [
          "wirecenter-assigned-planners"
        ],
        "summary": "Load wirecenter assigned planners",
        "description": "Load wirecenter assigned planners",
        "operationId": "loadWirecenters",
        "parameters": [
          {
            "name": "mode",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "Append",
                "Replace"
              ]
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "description": "Excel file with extension .xlsx",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "400": {
            "description": "Invalid request"
          },
          "200": {
            "description": "Uploaded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoadResponse"
                }
              }
            }
          }
        }
      }
    },
    "/version": {
      "get": {
        "tags": [
          "info"
        ],
        "summary": "Get version details of this API",
        "description": "Get version details of this API",
        "operationId": "getVersion",
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VersionResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/assigned-planners/statistics/{types}": {
      "get": {
        "tags": [
          "wirecenter-assigned-planners"
        ],
        "summary": "Get wirecenter assigned planners statistics /assigned-planners/statistics/Day,Week",
        "description": "Get wirecenter assigned planners statistics",
        "operationId": "getWirecenterStatistics",
        "parameters": [
          {
            "name": "types",
            "in": "path",
            "description": "Types",
            "required": true,
            "schema": {
              "maxItems": 2147483647,
              "minItems": 1,
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "All",
                  "Day",
                  "Week",
                  "Month",
                  "Year"
                ]
              }
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Invalid request"
          },
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Statistics"
                }
              }
            }
          }
        }
      }
    },
    "/v1/assigned-planners/search": {
      "get": {
        "tags": [
          "wirecenter-assigned-planners"
        ],
        "summary": "Search wirecenter assigned planners",
        "description": "Search wirecenter assigned planners based on the filtering parameters (at least 1 required)",
        "operationId": "searchWirecenters",
        "parameters": [
          {
            "name": "maxCount",
            "in": "query",
            "description": "Max limit of search results to be returned",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 10
          },
          {
            "name": "wcClli",
            "in": "query",
            "description": "CLLI of the Wirecenter - use % to match like",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "P%25"
          },
          {
            "name": "wcName",
            "in": "query",
            "description": "Name of the Wirecenter - use % to match like",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "%25City"
          },
          {
            "name": "priCuid",
            "in": "query",
            "description": "CUID of the Primary Planner - use % to match like",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "AD15329"
          },
          {
            "name": "secCuid",
            "in": "query",
            "description": "CUID of the Secondary Planner - use % to match like",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "AD15329"
          }
        ],
        "responses": {
          "400": {
            "description": "Invalid request"
          },
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "errorMessage": {
            "type": "string"
          }
        }
      },
      "FailedItem": {
        "type": "object",
        "properties": {
          "errorMessage": {
            "type": "string"
          },
          "wirecenter": {
            "$ref": "#/components/schemas/WirecenterAssignment"
          }
        }
      },
      "SaveResponse": {
        "type": "object",
        "properties": {
          "successItems": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/WirecenterAssignment"
            }
          },
          "failedItems": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FailedItem"
            }
          }
        }
      },
      "WirecenterAssignment": {
        "required": [
          "managerEmail",
          "managerName",
          "managerPipefyId",
          "primaryPlannerCuid",
          "primaryPlannerEmail",
          "primaryPlannerName",
          "primaryPlannerPipefyId",
          "secondaryPlannerEmail",
          "secondaryPlannerName",
          "secondaryPlannerPipefyId",
          "wcClli"
        ],
        "type": "object",
        "properties": {
          "createdBy": {
            "type": "string",
            "description": "Created-by in the format of username@system",
            "example": "admin-01@admin"
          },
          "createTimestamp": {
            "type": "string",
            "description": "Create timestamp",
            "format": "date-time"
          },
          "updatedBy": {
            "type": "string",
            "description": "Updated-by in the format of username@system",
            "example": "admin-02@admin"
          },
          "updateTimestamp": {
            "type": "string",
            "description": "Last update timestamp",
            "format": "date-time"
          },
          "wcaId": {
            "type": "integer",
            "description": "Unique ID of this Wirecenter Assignment",
            "format": "int64",
            "example": 1234
          },
          "region": {
            "type": "string",
            "description": "Region of the Wirecenter location - possible values are N, S, Z",
            "example": "S"
          },
          "stateCode": {
            "type": "string",
            "description": "State code of the Wirecenter location - 2 character state code",
            "example": "CO"
          },
          "wcClli": {
            "type": "string",
            "description": "CLLI code identifying the the Wirecenter",
            "example": "MNSSCOXC"
          },
          "wcName": {
            "type": "string",
            "description": "Name of the Wirecenter",
            "example": "Manassa"
          },
          "wcAddress": {
            "type": "string",
            "description": "Address of the Wirecenter location",
            "example": "405 MAIN ST, MANASSA, CO 81151"
          },
          "wcCounty": {
            "type": "string",
            "description": "County name of the Wirecenter location",
            "example": "Conejos"
          },
          "mtnCo": {
            "type": "string",
            "description": "MTN Code of the Wirecenter",
            "example": "MNSSCO"
          },
          "niTeam": {
            "type": "string",
            "description": "NI Team associated with this Wirecenter",
            "example": "LWMT01"
          },
          "primaryPlannerCuid": {
            "type": "string",
            "description": "Primary planner CUID assigned to this Wirecenter",
            "example": "AB13716"
          },
          "primaryPlannerName": {
            "type": "string",
            "description": "Primary planner name",
            "example": "John Doe"
          },
          "primaryPlannerEmail": {
            "type": "string",
            "description": "Primary planner email address",
            "example": "john.doe@lumen.com"
          },
          "primaryPlannerPipefyId": {
            "type": "string",
            "description": "Primary planner Pipefy ID",
            "example": "AB13716"
          },
          "secondaryPlannerCuid": {
            "type": "string",
            "description": "Secondary planner CUID assigned to this Wirecenter",
            "example": "TBD"
          },
          "secondaryPlannerName": {
            "type": "string",
            "description": "Secondary planner name",
            "example": "John Doe"
          },
          "secondaryPlannerEmail": {
            "type": "string",
            "description": "Secondary planner email address",
            "example": "john.doe@lumen.com"
          },
          "secondaryPlannerPipefyId": {
            "type": "string",
            "description": "Secondary planner Pipefy ID",
            "example": "AB13716"
          },
          "managerCuid": {
            "type": "string",
            "description": "Manager CUID",
            "example": "AB13716"
          },
          "managerName": {
            "type": "string",
            "description": "Manager name",
            "example": "John Doe"
          },
          "managerEmail": {
            "type": "string",
            "description": "Manager email address",
            "example": "john.doe@lumen.com"
          },
          "managerPipefyId": {
            "type": "string",
            "description": "Manager Pipefy ID",
            "example": "AB13716"
          },
          "routeTo": {
            "type": "string",
            "description": "Route this assignment to PRIMARY or SECONDARY",
            "example": "PRIMARY"
          },
          "routeToStartDate": {
            "type": "string",
            "format": "date",
            "description": "Route start date",
            "example": "2024-04-05"
          },
          "routeToEndDate": {
            "type": "string",
            "format": "date",
            "description": "Route end date",
            "example": "2024-04-15"
          }
        },
        "description": "Wirecenter Assignment"
      },
      "LoadResponse": {
        "type": "object",
        "properties": {
          "file": {
            "type": "string"
          },
          "mode": {
            "type": "string"
          },
          "totalCount": {
            "type": "integer",
            "format": "int64"
          },
          "addedCount": {
            "type": "integer",
            "format": "int64"
          },
          "updatedCount": {
            "type": "integer",
            "format": "int64"
          },
          "failedCount": {
            "type": "integer",
            "format": "int64"
          },
          "failedItems": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FailedItem"
            }
          }
        }
      },
      "VersionResponse": {
        "type": "object",
        "properties": {
          "version": {
            "type": "string",
            "description": "Version of the deployed API",
            "example": "1.0.5"
          },
          "buildTimestamp": {
            "type": "string",
            "description": "Build timestamp of the deployed API",
            "example": "2024-01-07T02:25:48+0000"
          },
          "buildId": {
            "type": "string",
            "description": "Build ID of the deployed API",
            "example": "79511d7d-a83a-48e5-9623-42c7a9166b7d"
          },
          "githubRepo": {
            "type": "string",
            "description": "GitHub repository for this API",
            "example": "CenturyLink/brain-deployment"
          }
        }
      },
      "Statistics": {
        "type": "object",
        "properties": {
          "counts": {
            "$ref": "#/components/schemas/StatisticsCounts"
          }
        }
      },
      "StatisticsCount": {
        "type": "object",
        "properties": {
          "date": {
            "type": "string",
            "format": "date"
          },
          "added": {
            "type": "integer",
            "format": "int64"
          },
          "updated": {
            "type": "integer",
            "format": "int64"
          },
          "deleted": {
            "type": "integer",
            "format": "int64"
          }
        }
      },
      "StatisticsCounts": {
        "type": "object",
        "properties": {
          "total": {
            "type": "integer",
            "format": "int64"
          },
          "today": {
            "$ref": "#/components/schemas/StatisticsCount"
          },
          "yesterday": {
            "$ref": "#/components/schemas/StatisticsCount"
          },
          "currentWeek": {
            "$ref": "#/components/schemas/StatisticsCount"
          },
          "lastWeek": {
            "$ref": "#/components/schemas/StatisticsCount"
          },
          "last7days": {
            "$ref": "#/components/schemas/StatisticsCount"
          },
          "currentMonth": {
            "$ref": "#/components/schemas/StatisticsCount"
          },
          "lastMonth": {
            "$ref": "#/components/schemas/StatisticsCount"
          },
          "currentYear": {
            "$ref": "#/components/schemas/StatisticsCount"
          },
          "lastYear": {
            "$ref": "#/components/schemas/StatisticsCount"
          }
        }
      },
      "SearchResponse": {
        "type": "object",
        "properties": {
          "totalCount": {
            "type": "integer",
            "description": "Total number of Wirecenter Assignments found",
            "format": "int64",
            "example": 10
          },
          "foundAssignedPlanners": {
            "type": "array",
            "description": "List of Wirecenter Assignments found - it may be truncated based on the SearchRequest maxCount",
            "items": {
              "$ref": "#/components/schemas/WirecenterAssignment"
            }
          }
        }
      },
      "DeleteResponse": {
        "type": "object",
        "properties": {
          "deletedWcaIds": {
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int64"
            }
          },
          "failedItems": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FailedDeleteItem"
            }
          }
        }
      },
      "FailedDeleteItem": {
        "type": "object",
        "properties": {
          "errorMessage": {
            "type": "string"
          },
          "wcaId": {
            "type": "integer",
            "format": "int64"
          }
        }
      }
    }
  }
}