{
  "openapi": "3.0.0",
  "info": {
    "title": "ReClique Core API",
    "description": "ReClique Core API",
    "version": "1.0",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/ERIK_6/reclique-core-api/1.0"
  },
  "servers": [
    {
      "url": "https://api.partners.daxko.com/api/v1"
    }
  ],
  "tags": [
    {
      "name": "Branches",
      "description": "Branches API retrieves branches data in the context of the association."
    },
    {
      "name": "Check-ins",
      "description": "Checkins API retrieves check-in data in the context of the association."
    },
    {
      "name": "Classes",
      "description": "Classes API allows developers to retrieve and manage group-exercises classes for an association."
    },
    {
      "name": "Members",
      "description": "Members API retrieves member data in the context of the association."
    },
    {
      "name": "Notes",
      "description": "Notes API allows developers to retrieve and add notes in the context of an association's specific entity."
    },
    {
      "name": "Programs",
      "description": "Programs API allows developers to find and manage programs and sessions happening in an association."
    },
    {
      "name": "Prospects",
      "description": "Prospects API allows developers to manage prospects for an association."
    },
    {
      "name": "Units",
      "description": "Units API retrieves unit data in the context of the association."
    },
    {
      "name": "Users",
      "description": "User API retrieves users data in the context of the association."
    },
    {
      "name": "Me",
      "description": "Me API retrieves information about the currently logged in user."
    },
    {
      "name": "Reports",
      "description": "Reports API allows users to get the items as defined by any of the canned reports in Core."
    },
    {
      "name": "Fundraising",
      "description": "The Fundraising API retrieves information for a fundraising campaign or list of campaigns."
    },
    {
      "name": "Finance",
      "description": "Finance API retrieves information for a finance campaign or list of campaigns."
    },
    {
      "name": "Waivers",
      "description": "Waivers API retrieves information for a waiver."
    }
  ],
  "paths": {
    "/branches": {
      "get": {
        "operationId": "get-branches",
        "tags": [
          "Branches"
        ],
        "summary": "List branches",
        "description": "Retrieves all the branches associated with a specific association.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Details about a specific branch.",
                  "properties": {
                    "request_uri": {
                      "type": "string",
                      "description": "URI of the request.",
                      "example": "/api/v1/branches/"
                    },
                    "branches": {
                      "type": "array",
                      "description": "Collection of all branches for the association.",
                      "items": {
                        "type": "object",
                        "description": "Details about all the branches in an association.",
                        "properties": {
                          "BranchId": {
                            "description": "ID of the branch.",
                            "type": "string",
                            "example": "11"
                          },
                          "NationalBranchId": {
                            "type": "string",
                            "description": "ID of the branch as set by Y-USA.",
                            "example": "142A"
                          },
                          "Name": {
                            "description": "Name of the branch.",
                            "type": "string",
                            "example": "Downtown Branch"
                          },
                          "ShortName": {
                            "description": "Branch's short name.",
                            "type": "string",
                            "example": "Downtown."
                          },
                          "LongName": {
                            "description": "Branch's full name.",
                            "type": "string",
                            "example": "Maycomb YMCA Downtown Branch."
                          },
                          "GLMod": {
                            "description": "ID of the branch for GL purposes.",
                            "type": "string",
                            "example": "02"
                          },
                          "Lat": {
                            "description": "Latitudinal coordinates of the branch.",
                            "type": "string",
                            "example": "33.483294"
                          },
                          "Lon": {
                            "description": "Longitudinal coordinates of the branch.",
                            "type": "string",
                            "example": "-82.079595"
                          },
                          "Street": {
                            "type": "string",
                            "description": "Street address of the branch.",
                            "example": "123 Main St."
                          },
                          "City": {
                            "type": "string",
                            "description": "City in which the branch is located.",
                            "example": "Maycomb"
                          },
                          "State": {
                            "type": "string",
                            "description": "State or province in which the branch is located.",
                            "example": "GA"
                          },
                          "Zip": {
                            "type": "string",
                            "description": "Branch's Zip code or postal code.",
                            "example": "36223"
                          },
                          "Telephone": {
                            "type": "string",
                            "description": "Branch's phone number.",
                            "example": "+15555555555"
                          },
                          "ContactEmail": {
                            "type": "string",
                            "description": "Branch's email address.",
                            "example": "+15555555555"
                          },
                          "Link": {
                            "type": "string",
                            "description": "URL for the branch's website.",
                            "example": "https://example.com/branches/11"
                          },
                          "Hours": {
                            "type": "string",
                            "description": "Hours of operation for the branch.",
                            "example": "BRANCH HOURS\r\nMon-Thu: 5:00am-11:00pm\r\nFri 5:00am-10:00pm\r\nSat: 7:00am-6:00pm\r\nSun: 1:00pm-6:00pm\r\n\r\nNURSERY HOURS\r\nMon-Fri: 8:30am-1:00pm\r\nMon-Fri: 4:00pm-8:00pm\r\nSat: 8:30am-1:00pm\r\nSun: Closed\r\n\r\nCLUBHOUSE HOURS\r\nMon-Fri: 4:00pm-8:00pm\r\nSat: 8:30am-1:00pm\r\nSun: Closed\r\n\r\nINDOOR POOL\r\nMon-Fri: 5:00 am-9:00 pm\r\nSat: 7:00 am-5:30 pm\r\nSun: 1:00-5:30 pm\r\n\r\nOUTDOOR POOL/WATER PARK\r\nClosed for the season."
                          },
                          "Timezone": {
                            "type": "string",
                            "description": "Timezone for the branch, as specified by the IANA Time Zone Database (tz).",
                            "example": "America/Chicago"
                          },
                          "HideToMembers": {
                            "type": "string",
                            "description": "Whether the branch is visible to members. `\"0\"` means members should be able to see the branch, whereas `\"1\"` means it would be hidden from them.",
                            "example": "0"
                          }
                        }
                      }
                    },
                    "status": {
                      "type": "string",
                      "description": "Status of the request.",
                      "example": "success"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/branches/{branchId}/membership-types": {
      "get": {
        "operationId": "get-branch-membership-types",
        "tags": [
          "Branches"
        ],
        "summary": "Get branch membership types",
        "description": "Retrieves a list of all membership types associated with a specific branch.",
        "parameters": [
          {
            "name": "branchId",
            "in": "path",
            "required": true,
            "example": 1242,
            "description": "ID of the branch",
            "schema": {
              "type": "number",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Collection of membership types.",
                  "properties": {
                    "types": {
                      "type": "array",
                      "description": "List of all available membership types.",
                      "items": {
                        "type": "object",
                        "description": "Details about a specific membership types.",
                        "properties": {
                          "Name": {
                            "description": "Name of the membership type.",
                            "type": "string",
                            "example": "Metro Individual"
                          },
                          "Description": {
                            "description": "Details about the membership type.",
                            "type": "string",
                            "example": "For the discerning individual with a cosmopolitan flair."
                          },
                          "SignupPrice": {
                            "description": "Price, in the association's local currency, to sign up for the specific membership.",
                            "type": "number",
                            "example": 74.99
                          },
                          "RecurringPrice": {
                            "description": "Price, in the association's local currency, that will be debited from the member's account per membership term.",
                            "type": "number",
                            "example": 49.99
                          },
                          "BranchAvailability": {
                            "type": "object",
                            "description": "Collection of key-value pairs representing all the branches where the membership type is valid. The key will represent the ID of the branch, while the value will represent the name of the branch.",
                            "example": {
                              "33": "Downtown Branch",
                              "77": "Mountaintop Branch"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/classes": {
      "get": {
        "operationId": "list-classes",
        "tags": [
          "Classes"
        ],
        "summary": "Get classes",
        "description": "List all the classes available at an association based on the provided criteria.",
        "parameters": [
          {
            "name": "startDate",
            "in": "query",
            "required": true,
            "example": "2022-01-01",
            "description": "Start date by which to filter results, in YYYY-MM-DD format.",
            "schema": {
              "type": "string",
              "format": "datetime"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "required": true,
            "example": "2022-01-07",
            "description": "End date by which to filter results, in YYYY-MM-DD format.",
            "schema": {
              "type": "string",
              "format": "datetime"
            }
          },
          {
            "name": "branchId",
            "in": "query",
            "required": false,
            "example": 13,
            "description": "ID of the branch by which to filter results.",
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json-patch+json": {
                "schema": {
                  "type": "object",
                  "description": "Details about the class offering.",
                  "properties": {
                    "ID": {
                      "type": "number",
                      "description": "ID of the class.",
                      "example": 33
                    },
                    "BranchID": {
                      "type": "number",
                      "description": "ID of the branch in which the class takes place.",
                      "example": 11
                    },
                    "Branch": {
                      "type": "string",
                      "description": "Name of the branch in which the class takes place.",
                      "example": "Downtown"
                    },
                    "ClassCategory": {
                      "type": "string",
                      "description": "Category to which the class belongs.",
                      "example": "Underwater Basket Weaving"
                    },
                    "Description": {
                      "type": "string",
                      "description": "Details about the class.",
                      "example": "Come join us at the intersection of aquatic creativity and endurance HIIT breathing."
                    },
                    "Label": {
                      "type": "string",
                      "description": "Label associated with the class.",
                      "example": "Pool"
                    },
                    "StartDate": {
                      "type": "string",
                      "format": "datetime",
                      "example": "2022-01-01",
                      "description": "First day the class is offered."
                    },
                    "EndDate": {
                      "type": "string",
                      "format": "datetime",
                      "example": "2022-12-07",
                      "description": "Last day the class is offered."
                    },
                    "Recurring": {
                      "type": "string",
                      "example": "Weekly",
                      "description": "How often the class takes place."
                    },
                    "TimeOfDay": {
                      "type": "string",
                      "example": "10:00:00",
                      "description": "Time at which the even starts, in 24-hour hh:mm:ss format."
                    },
                    "Duration": {
                      "type": "number",
                      "example": 45,
                      "description": "How long the class lasts, in minutes."
                    },
                    "Timezone": {
                      "type": "string",
                      "example": "America/New_York",
                      "description": "Timezone in which the class takes place, as specified by the IANA Time Zone Database (tz)."
                    },
                    "Space": {
                      "type": "string",
                      "example": "Aquatics Center",
                      "description": "Location in which the class takes place."
                    },
                    "Instructor": {
                      "type": "string",
                      "example": "John Smith",
                      "description": "Name of the instructor teaching the class."
                    },
                    "AllDay": {
                      "type": "number",
                      "example": 0,
                      "description": "Whether the class is an-day class."
                    },
                    "Created": {
                      "type": "string",
                      "format": "datetime",
                      "example": "2021-04-23 10:58:01",
                      "description": "Whether the class was created, in YYYY-MM-DD hh:mm:ss format."
                    },
                    "Modified": {
                      "type": "string",
                      "format": "datetime",
                      "example": "2022-05-12 09:12:55",
                      "description": "Whether the class was last updated, in YYYY-MM-DD hh:mm:ss format."
                    },
                    "Level": {
                      "type": "string",
                      "example": "Intermediate",
                      "description": "Skill or proficiency level required for the class offering"
                    },
                    "Days": {
                      "type": "array",
                      "description": "Days of the week the class is taking place, in ISO-8601 format (with 1 being Monday and so forth).",
                      "example": [
                        1,
                        3,
                        5
                      ],
                      "items": {
                        "type": "number",
                        "description": "ISO-8601 day-of-week number (Monday corresponding to 1 and so forth)",
                        "example": 1
                      }
                    },
                    "RequiresRegistration": {
                      "type": "number",
                      "example": 1,
                      "description": "Whether the class requires registration before attending."
                    },
                    "Intensity": {
                      "type": "number",
                      "example": 5,
                      "description": "Level of intensity for the class."
                    },
                    "CategoryExceptions": {
                      "type": "array",
                      "description": "Collection of dates when the category may be different from the original category.",
                      "items": {
                        "type": "string",
                        "format": "date",
                        "description": "Date when the category may be different from the original category, in MM/DD/YYYY format.",
                        "example": "01/22/2021"
                      }
                    },
                    "InstanceExceptions": {
                      "type": "array",
                      "description": "Collection of dates when the event may be different.",
                      "items": {
                        "type": "string",
                        "format": "date",
                        "description": "Date when the event may be different, in MM/DD/YYYY format.",
                        "example": "04/01/2020"
                      }
                    }
                  }
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/paths/~1classes/get/responses/200/content/application~1json-patch%2Bjson/schema"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/paths/~1classes/get/responses/200/content/application~1json-patch%2Bjson/schema"
                }
              },
              "application/*+json": {
                "schema": {
                  "$ref": "#/paths/~1classes/get/responses/200/content/application~1json-patch%2Bjson/schema"
                }
              }
            }
          }
        }
      }
    },
    "/groupex/search": {
      "get": {
        "operationId": "list-classes-by-date",
        "tags": [
          "Classes"
        ],
        "summary": "List by date",
        "description": "Retrieves a list of classes happening on a specific date",
        "parameters": [
          {
            "name": "date",
            "in": "query",
            "description": "Restricts results that occur across all the locations for the particular date. The format for the date should be YYYY-MM-DD. Note:- This endpoint only delivers one date per request.",
            "example": "2023-10-21",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "locations",
            "in": "query",
            "description": "Restricts results that occur for the given list of location IDs as configured in Club Automation.",
            "example": "1,2,3",
            "explode": true,
            "schema": {
              "type": "array[integer]"
            }
          },
          {
            "name": "startTimeBegin",
            "in": "query",
            "description": "Restricts the results based on the start times of group activities. The format is HH:MM (24 hours format).",
            "example": "05:00",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "category",
            "in": "query",
            "description": "Restricts results that occur for the given list of category IDs for the given department.",
            "example": "3,6,9",
            "schema": {
              "type": "array[integer]"
            }
          },
          {
            "name": "classes",
            "in": "query",
            "description": "Restricts results that occur for the given list of group exercise class IDs.",
            "example": "3456,86500",
            "explode": true,
            "schema": {
              "type": "array[integer]"
            }
          },
          {
            "name": "instructor",
            "in": "query",
            "description": "Restricts results that occur for the given list of instructor IDs.",
            "example": "35750,35751",
            "schema": {
              "type": "array[integer]"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "request_uri": {
                      "type": "string",
                      "description": "URI of the request.",
                      "example": "/api/v1/groupex/search?date=2022-10-17"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "description": "Details about each class offering.",
                        "properties": {
                          "date": {
                            "description": "Date of the group-exercise class as displayed here: 2022-10-21",
                            "type": "string",
                            "format": "date",
                            "example": "2022-10-21"
                          },
                          "classId": {
                            "description": "ID of the group exercise class.",
                            "example": 8105,
                            "type": "integer"
                          },
                          "className": {
                            "description": "Name of the group-exercise class",
                            "type": "string",
                            "example": "Defense Against Dark Arts"
                          },
                          "startTime": {
                            "description": "Start time of the group-exercise class, in 'HH:MM:SS' format (e.g., '07:00:00' or '15:30:00').",
                            "type": "string",
                            "example": "05:30:00"
                          },
                          "endTime": {
                            "description": "End time of the group-exercise class, in 'HH:MM:SS' format (e.g., '07:00:00' or '15:30:00').",
                            "type": "string",
                            "example": "06:30:00"
                          },
                          "description": {
                            "description": "Description of the class, additional information used for marketing.",
                            "type": "string",
                            "example": "In this class students, learn how to magically defend themselves against Dark Creatures, the Dark Arts, and other dark charms."
                          },
                          "maxAvailableSpots": {
                            "description": "Total number of participants allowed to register to the instance. If no cap is set it will return 0.",
                            "type": "integer",
                            "example": 40
                          },
                          "department": {
                            "description": "Name of the department conducting the group-exercise class.",
                            "type": "string",
                            "example": "Groupex"
                          },
                          "locationName": {
                            "description": "Club/association where the group-exercise class is conducted.",
                            "type": "string",
                            "example": "Hogwarts"
                          },
                          "resource": {
                            "description": "Resource/room used to conduct the group-exercise class. If it varies week by week, the returned string will be \"Multiple.\"",
                            "type": "string",
                            "example": "Group Exercise Studio"
                          },
                          "instructors": {
                            "description": "instructors",
                            "type": "array",
                            "example": [
                              {
                                "id": 9,
                                "name": "John"
                              }
                            ]
                          },
                          "classStatus": {
                            "description": "Status of the class. Only `ACTIVE` classes are returned by this endpoint",
                            "type": "string",
                            "example": "ACTIVE"
                          },
                          "category": {
                            "description": "ID of the category for the department conducting the group-exercise class.",
                            "type": "array",
                            "example": 9,
                            "items": {
                              "type": "integer"
                            }
                          },
                          "level": {
                            "description": "An arbitrary value representing the level of group-exercise class (e.g., \u2018Beginner\u2019 or \u2018Advanced\u2019).",
                            "type": "string",
                            "enum": [
                              "EMPTY",
                              "Varies",
                              "Basic",
                              "Intermediate",
                              "Advanced"
                            ],
                            "example": "Intermediate"
                          },
                          "currentlyRegistered": {
                            "description": "Number of currently registered participants.",
                            "type": "integer|null",
                            "example": 25
                          },
                          "currentAvailableSpots": {
                            "description": "Number of spots remaining open for registration in class. If the class has an unlimited number of spots available will be *999*",
                            "type": "integer",
                            "example": 999
                          },
                          "RequiresRegistration": {
                            "description": "Whether participants/members can attend the class without registering.",
                            "type": "boolean",
                            "example": false
                          },
                          "Intensity": {
                            "description": "0-5 value of the intensitiy of the class. 0 is interpreted as N/A",
                            "type": "integer",
                            "example": 3
                          },
                          "BranchID": {
                            "description": "ID of the branch/club",
                            "type": "integer",
                            "example": 25
                          },
                          "RegistrationLink": {
                            "description": "Link to register to the class if the class requires registration",
                            "type": "string | null",
                            "example": "https://metropolis.recliquecore.com/programs/register/c/8105/date/2023-01-17"
                          },
                          "waitlist": {
                            "description": "Status of the waitlist for the class.",
                            "type": "string",
                            "example": "Unavailable"
                          }
                        }
                      }
                    },
                    "status": {
                      "type": "string",
                      "description": "Status of the request.",
                      "enum": [
                        "success",
                        "error"
                      ],
                      "example": "success"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/groupex/{classId}/class-date/{date}": {
      "get": {
        "operationId": "get-class-info-by-date",
        "tags": [
          "Classes"
        ],
        "summary": "Get class info",
        "description": "Retrieves the class information for a specific ID and date",
        "parameters": [
          {
            "name": "date",
            "in": "path",
            "description": "Specifies the date of the particular class instance. Preferred format is YYYY-MM-DD but it will take string like 'today' or 'tomorrow'.",
            "example": "2023-10-21",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "classId",
            "in": "path",
            "description": "ID of the class.",
            "example": 57,
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "request_uri": {
                      "type": "string",
                      "description": "URI of the request.",
                      "example": "/api/v1/groupex/41/class-date/today"
                    },
                    "data": {
                      "$ref": "#/paths/~1groupex~1search/get/responses/200/content/application~1json/schema/properties/data/items"
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "success",
                        "error"
                      ],
                      "example": "success"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/programs/registration": {
      "post": {
        "operationId": "program-registration-add",
        "tags": [
          "Programs"
        ],
        "summary": "Add registration",
        "description": "Adds a program or class registration. Currently, only registering to programs and classes that are free, have no rate plans and no waivers is supported.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "type": {
                    "example": "session",
                    "description": "Type of registrations",
                    "type": "string",
                    "enum": [
                      "session",
                      "class"
                    ]
                  },
                  "id": {
                    "description": "Session or Class ID registering to. Supports CSVs when `type=session`",
                    "example": 45,
                    "type": "integer"
                  },
                  "memberId": {
                    "description": "ID of the member being registered to the program/class",
                    "example": 14017935,
                    "type": "integer"
                  },
                  "date": {
                    "description": "Only required if the type is Class",
                    "example": "2023-01-19",
                    "type": "string"
                  },
                  "branchId": {
                    "description": "ID of the branch the registration is being made at",
                    "example": 423,
                    "type": "integer"
                  },
                  "sim": {
                    "description": "If set to 1, simulates the registration without actually entering into the DB to check registration can happen.",
                    "example": 0,
                    "type": "integer",
                    "enum": [
                      0,
                      1
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful JSON of the response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "request_uri": {
                      "description": "URI of the request",
                      "example": "/api/v1/programs/registration",
                      "type": "string"
                    },
                    "SessionID": {
                      "description": "SessionID if type class was passed",
                      "example": 5008486,
                      "type": "integer"
                    },
                    "inserted": {
                      "description": "Number of items inserted",
                      "type": "integer",
                      "example": 1
                    },
                    "inserted_ids": {
                      "description": "IDs of the registrations inserted",
                      "type": "arrya",
                      "example": [
                        123
                      ]
                    },
                    "error": {
                      "description": "Number of items that could not be inserted",
                      "type": "integer",
                      "example": 0
                    }
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "program-get-registrations",
        "tags": [
          "Programs"
        ],
        "summary": "Registration",
        "description": "Return all recent registrations. By default it pulls all registrations that happened in the last 24 hrs.",
        "parameters": [
          {
            "name": "programId",
            "in": "query",
            "description": "Program_ids of program separated by comma",
            "example": "1,2,3",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "divisionId",
            "in": "query",
            "description": "Division_ids of program separated by comma",
            "example": "1,2,3",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sessionId",
            "in": "query",
            "description": "Session_ids of program separated by comma",
            "example": "1,2,3",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful JSON of the response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "request_uri": {
                      "description": "URI of the request",
                      "example": "/api/v1/programs/registrations/",
                      "type": "string"
                    },
                    "registrations": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "RegistrationID": {
                            "type": "integer",
                            "example": 1
                          },
                          "RegisteredDate": {
                            "type": "string",
                            "example": "2024-09-03 16:23:39"
                          },
                          "ParticipantMemberID": {
                            "type": "integer",
                            "example": 4
                          },
                          "ParticipantLastName": {
                            "type": "string",
                            "example": "Test"
                          },
                          "ParticipantFirstName": {
                            "type": "string",
                            "example": "Test"
                          },
                          "ParticipantImage": {
                            "type": "string",
                            "example": ""
                          },
                          "RegBy": {
                            "type": "string",
                            "example": "Staff"
                          },
                          "ProgramRegistrationBranchID": {
                            "type": "integer",
                            "example": 14
                          },
                          "ProgramRegistrationBranch": {
                            "type": "string",
                            "example": "Greater Valley"
                          },
                          "IsRemoved": {
                            "type": "string",
                            "example": "No"
                          },
                          "ProgramID": {
                            "type": "integer",
                            "example": 1
                          },
                          "Program": {
                            "type": "string",
                            "example": "Always Open Soccer"
                          },
                          "DivisionID": {
                            "type": "integer",
                            "example": 1
                          },
                          "Division": {
                            "type": "string",
                            "example": "All Ages"
                          },
                          "ProgramImage": {
                            "type": "string",
                            "example": ""
                          },
                          "MinSessionStart": {
                            "type": "string",
                            "example": "2024-04-01"
                          },
                          "MaxSessionEnd": {
                            "type": "string",
                            "example": "2030-04-30"
                          },
                          "ProgramCategory": {
                            "type": "string",
                            "example": "Sports"
                          },
                          "HasHealthNeeds": {
                            "type": "integer",
                            "example": 0
                          }
                        }
                      }
                    },
                    "status": {
                      "description": "Status of the request",
                      "example": "success",
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/programs/registration/{registrationId}": {
      "delete": {
        "operationId": "program-registration-delete",
        "tags": [
          "Programs"
        ],
        "summary": "Remove registration",
        "description": "Removes a program or class registration. This endpoint requires at least **level 1 roster removal** permissions.",
        "parameters": [
          {
            "name": "registrationId",
            "in": "path",
            "description": "Registration ID to be removed",
            "example": 181422,
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "memberId",
            "in": "query",
            "description": "Member ID for which the registration is being removed",
            "example": 14017935,
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful JSON of the response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "request_uri": {
                      "description": "URI of the request",
                      "type": "integer",
                      "example": "/api/v1/programs/registration/181421?MemberID=14017935"
                    },
                    "deleted": {
                      "description": "1 when the registration is deleted successfully",
                      "type": "integer",
                      "example": 1
                    },
                    "status": {
                      "description": "Status of the request",
                      "type": "string",
                      "example": "success"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/programs/registration/by_member/{memberId}": {
      "get": {
        "operationId": "program-registration-list-by-member",
        "tags": [
          "Programs"
        ],
        "summary": "List by member registrations",
        "description": "Lists all the program registrations for the requested member. Requires **Get Programs** permissions.",
        "parameters": [
          {
            "name": "memberId",
            "description": "Member ID to get registrations for.",
            "in": "path",
            "example": 181422,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "registrationId",
            "description": "Registration ID to get details for.",
            "in": "query",
            "example": 181422,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "createdDate",
            "in": "query",
            "example": "2023-01-20 14:57:22",
            "description": "Date the registration was added.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of registrations a member is registered to",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "request_uri": {
                      "description": "URI of the request",
                      "example": "/api/v1/programs/registration/by_member/14017935",
                      "type": "string"
                    },
                    "status": {
                      "description": "Status of the request",
                      "type": "string",
                      "example": "success"
                    },
                    "registrations": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "RegistrationID": {
                            "type": "integer",
                            "description": "ID of the registration tying a member to a session.",
                            "example": 181422
                          },
                          "Created": {
                            "type": "number",
                            "description": "Date the registration was added.",
                            "example": "2023-01-20 14:57:22"
                          },
                          "SessionID": {
                            "type": "number",
                            "description": "ID of the program/class session the registration is for.",
                            "example": 5008486
                          },
                          "BranchID": {
                            "type": "number",
                            "description": "ID of the branch the registration is for.",
                            "example": 44
                          },
                          "RegisteredByUserID": {
                            "type": "number",
                            "description": "ID of the user who added the registration. It may be a member, staff or API user.",
                            "example": 567
                          },
                          "Removed": {
                            "type": "number",
                            "description": "Whether the registration has been canceled or removed.",
                            "example": 1
                          },
                          "TotalAmount": {
                            "type": "number",
                            "description": "Total amount of the registration, including paid, unpaid, and discounted amounts.",
                            "example": 15
                          },
                          "PaidAmount": {
                            "type": "number",
                            "description": "Amount that has been paid by the member.",
                            "example": 5
                          },
                          "UnpaidAmount": {
                            "type": "number",
                            "description": "Amount that is still due and the member is responsible for.",
                            "example": 10
                          },
                          "StartDate": {
                            "type": "string",
                            "description": "Start date of the session registered to.",
                            "example": "2023-01-18"
                          },
                          "EndDate": {
                            "type": "string",
                            "description": "End date of the session registered to.",
                            "example": "2023-01-18"
                          },
                          "Program": {
                            "type": "string",
                            "description": "Name of the program.",
                            "example": "Total Body Toning"
                          },
                          "Division": {
                            "type": "string",
                            "description": "Name of the program division.",
                            "example": "Downtown | Josh Smith"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/programs/attendance": {
      "get": {
        "operationId": "program-get-attendance",
        "tags": [
          "Programs"
        ],
        "summary": "Attendance",
        "description": "Adds attendance to a program or class registration. Currently, only registering to programs and classes that are free, have no rate plans and no waivers is supported.",
        "parameters": [
          {
            "name": "programId",
            "in": "query",
            "description": "ID of the program to register for",
            "example": "22511676",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful JSON of the response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "request_uri": {
                      "description": "URI of the request",
                      "example": "/api/v1/programs/registration",
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "Divisions": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "ID": {
                                "type": "integer",
                                "example": 1
                              },
                              "Name": {
                                "type": "string",
                                "example": "All Ages"
                              },
                              "Attendance": {
                                "type": "object",
                                "properties": {
                                  "date": {
                                    "type": "string",
                                    "example": "2024-09-05"
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "status": {
                      "description": "Status of the request",
                      "example": "success",
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/programs/list": {
      "get": {
        "operationId": "program-get-list",
        "tags": [
          "Programs"
        ],
        "summary": "List",
        "description": "Return a list of programs with sessions during the control date.",
        "parameters": [
          {
            "name": "controlDate",
            "in": "query",
            "description": "Control date to filter the programs",
            "example": "2024-09-05",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful JSON of the response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "request_uri": {
                      "description": "URI of the request",
                      "example": "/api/v1/programs/list/",
                      "type": "string"
                    },
                    "programs": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "ID": {
                            "type": "integer",
                            "example": 22511555
                          },
                          "Name": {
                            "type": "string",
                            "example": "motocross"
                          },
                          "Active": {
                            "type": "integer",
                            "example": 1
                          }
                        }
                      }
                    },
                    "status": {
                      "description": "Status of the request",
                      "example": "success",
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/programs/sessions": {
      "get": {
        "operationId": "program-get-sessions",
        "tags": [
          "Programs"
        ],
        "summary": "Sessions",
        "description": "Return a list of programs with sessions during the control date..",
        "parameters": [
          {
            "name": "controlDate",
            "in": "query",
            "description": "Control date to filter the programs",
            "example": "2024-09-05",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "programId",
            "in": "query",
            "description": "Comma separated program Ids to filter the sessions",
            "example": "22,51,1687",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful JSON of the response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "request_uri": {
                      "description": "URI of the request",
                      "example": "/api/v1/programs/sessions/",
                      "type": "string"
                    },
                    "sessions": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "ID": {
                            "type": "integer",
                            "example": 22511555
                          },
                          "ProgramID": {
                            "type": "integer",
                            "example": 22511555
                          },
                          "Name": {
                            "type": "string",
                            "example": "motocross"
                          },
                          "DivisionID": {
                            "type": "integer",
                            "example": 2171429
                          },
                          "Division": {
                            "type": "string",
                            "example": "PW"
                          },
                          "SessionID": {
                            "type": "integer",
                            "example": 5008384
                          },
                          "StartDate": {
                            "type": "string",
                            "example": "2021-04-02"
                          },
                          "EndDate": {
                            "type": "string",
                            "example": "2022-04-02"
                          },
                          "Label": {
                            "type": "string",
                            "example": "race"
                          },
                          "Days": {
                            "type": "string",
                            "example": 5
                          },
                          "TimeOfDay": {
                            "type": "string",
                            "example": 7
                          },
                          "Duration": {
                            "type": "string",
                            "example": 10
                          },
                          "EndTime": {
                            "type": "string",
                            "example": 12
                          },
                          "Branches": {
                            "type": "array",
                            "items": {
                              "type": "integer"
                            },
                            "example": [
                              22,
                              79,
                              24,
                              26,
                              28,
                              30,
                              32,
                              34,
                              36,
                              15,
                              38,
                              40,
                              44,
                              11
                            ]
                          }
                        }
                      }
                    },
                    "status": {
                      "description": "Status of the request",
                      "example": "success",
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/programs/divisions": {
      "get": {
        "operationId": "program-get-divisions",
        "tags": [
          "Programs"
        ],
        "summary": "Divisions",
        "description": "Returns a list of active divisions.",
        "responses": {
          "200": {
            "description": "Successful JSON of the response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "request_uri": {
                      "description": "URI of the request",
                      "example": "/api/v1/programs/divisions/",
                      "type": "string"
                    },
                    "status": {
                      "description": "Status of the request",
                      "type": "string",
                      "example": "success"
                    },
                    "programs": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "DivisionID": {
                            "type": "integer",
                            "example": 2172216
                          },
                          "ProgramName": {
                            "type": "string",
                            "example": "Starfleet Academy"
                          },
                          "DivisionName": {
                            "type": "string",
                            "example": "Intro to Warp Drive"
                          },
                          "MinAge": {
                            "type": "integer",
                            "example": null
                          },
                          "MaxAge": {
                            "type": "integer",
                            "example": null
                          },
                          "MinBirthday": {
                            "type": "string",
                            "example": null
                          },
                          "MaxBirthday": {
                            "type": "string",
                            "example": null
                          },
                          "Categories": {
                            "type": "string",
                            "example": "Youth"
                          },
                          "Branches": {
                            "type": "object",
                            "properties": {
                              "15": {
                                "type": "string",
                                "example": {
                                  "15": "Downtown Augusta",
                                  "22": "Aiken County",
                                  "24": "Barnwell County"
                                }
                              }
                            }
                          },
                          "Start": {
                            "type": "string",
                            "example": "2021-10-25"
                          },
                          "End": {
                            "type": "string",
                            "example": "2022-10-28"
                          },
                          "Prices": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "ID": {
                                  "type": "integer",
                                  "example": 6703
                                },
                                "DivisionID": {
                                  "type": "integer",
                                  "example": 2172216
                                },
                                "Online": {
                                  "type": "integer",
                                  "example": 1
                                },
                                "Label": {
                                  "type": "string",
                                  "example": ""
                                },
                                "RegistrationOpen": {
                                  "type": "string",
                                  "example": "2021-08-24 00:00:00"
                                },
                                "RegistrationClose": {
                                  "type": "string",
                                  "example": "2022-08-25 23:59:00"
                                },
                                "MembCategoryID": {
                                  "type": "integer",
                                  "example": 4
                                },
                                "MembCategoryName": {
                                  "type": "string",
                                  "example": "Non-Member"
                                },
                                "Price": {
                                  "type": "integer",
                                  "example": 20
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/programs/roster/{sessionId}": {
      "get": {
        "operationId": "program-get-roster",
        "tags": [
          "Programs"
        ],
        "summary": "Roster",
        "description": "Returns all participants registered to the SessionID requested.",
        "parameters": [
          {
            "name": "sessionId",
            "description": "Session ID to get roster for.",
            "in": "path",
            "example": 181422,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful JSON of the response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "request_uri": {
                      "description": "URI of the request",
                      "example": "/api/v1/programs/roster/5008384/",
                      "type": "string"
                    },
                    "roster": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "RegistrationID": {
                            "type": "integer",
                            "example": 180186
                          },
                          "RegisteredDate": {
                            "type": "string",
                            "example": "2021-09-20 07:58:00"
                          },
                          "ParticipantMemberID": {
                            "type": "integer",
                            "example": 14017905
                          },
                          "ParticipantLastName": {
                            "type": "string",
                            "example": "John"
                          },
                          "ParticipantFirstName": {
                            "type": "string",
                            "example": "Smith"
                          },
                          "RegBy": {
                            "type": "string",
                            "example": "Member"
                          },
                          "ProgramRegistrationBranchID": {
                            "type": "integer",
                            "example": 22
                          },
                          "ProgramRegistrationBranch": {
                            "type": "string",
                            "example": "Aiken County"
                          },
                          "IsRemoved": {
                            "type": "string",
                            "example": "No"
                          },
                          "HasHealthNeeds": {
                            "type": "integer",
                            "example": 0
                          },
                          "AdditionalInformation": {
                            "type": "object",
                            "properties": {
                              "Rate": {
                                "type": "string",
                                "example": "Part Time - 2 Day, Tu, Th"
                              },
                              "RateNameClean": {
                                "type": "string",
                                "example": "Part Time - 2 Day"
                              },
                              "RateID": {
                                "type": "integer",
                                "example": 1636497346540
                              },
                              "SelectedDays": {
                                "type": "array",
                                "items": {
                                  "type": "integer",
                                  "example": [
                                    1,
                                    2
                                  ]
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "status": {
                      "description": "Status of the request",
                      "example": "success",
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/members/{id}": {
      "get": {
        "operationId": "get-member-by-id",
        "tags": [
          "Members"
        ],
        "summary": "Get",
        "description": "Retrieves information about a specific member.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "example": 7928374234,
            "description": "Member ID or barcode.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "barcode",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Lookup a member by their barcode.",
            "example": 55555
          },
          {
            "name": "unitId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Lookup a member by their UnitID.",
            "example": 77777
          },
          {
            "name": "include",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "MembershipType",
                  "Info",
                  "Unit",
                  "UnitMembers",
                  "MemberMetas"
                ]
              }
            },
            "description": "An array of entities to include in the response. Supported values:\n  - **MembershipType**: Include Membership Type\n  - **Info**: Member's extended information\n  - **Unit**: Include Unit Information\n  - **UnitMembers**: Include other unit members\n  - **MemberMetas**: Must be used directly before the `MetaKeys` key to return a member's custom association field value(s).\n",
            "example": "MemberMetas&include=Info"
          },
          {
            "name": "metaKeys",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "A comma-separated list of MetaKeys to filter the metadata.",
            "example": "key1,key2,key3"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "request_uri": {
                      "type": "string",
                      "description": "URI of the request.",
                      "example": "/api/v1/members/14017898/"
                    },
                    "member": {
                      "type": "array",
                      "description": "Details about the retrieved members.",
                      "items": {
                        "type": "object",
                        "properties": {
                          "Id": {
                            "type": "number",
                            "description": "ID of the member.",
                            "example": 10815552
                          },
                          "Created": {
                            "type": "string",
                            "format": "datetime",
                            "description": "When the member was created in the system, in YYYY-MM-DD hh:mm:ss format.",
                            "example": "2021-07-09 08:15:08"
                          },
                          "FirstName": {
                            "type": "string",
                            "description": "Member's first name.",
                            "example": "Atticus"
                          },
                          "MiddleName": {
                            "type": "string",
                            "description": "Member's middle name.",
                            "example": "L"
                          },
                          "LastName": {
                            "type": "string",
                            "description": "Member's last name",
                            "example": "Finch"
                          },
                          "Birthdate": {
                            "type": "string",
                            "format": "date",
                            "description": "Member's date of birth, in MM/DD/YY format.",
                            "example": "30/11/20"
                          },
                          "Gender": {
                            "type": "string",
                            "description": "Member's gender.",
                            "example": "Male"
                          },
                          "Barcode": {
                            "type": "string",
                            "description": "Barcode of the member.",
                            "example": "ASJBB-124124"
                          },
                          "ImageUri": {
                            "type": "string",
                            "description": "URL of the member's photo.",
                            "example": "https://s3.amazonaws.com/csra/member-imgs/d/2/10815552-xp4OhX.jpg"
                          },
                          "UnitID": {
                            "type": "number",
                            "description": "ID of the unit the member belongs to.",
                            "example": 1543534
                          },
                          "SortOrder": {
                            "type": "number",
                            "description": "Sort order for the result.",
                            "example": 0
                          },
                          "Status": {
                            "type": "string",
                            "description": "Member's membership status.",
                            "example": "Active"
                          },
                          "DenyAccess": {
                            "type": "number",
                            "description": "Whether the member should be denied access to the association's facilities.",
                            "example": 0
                          },
                          "Deceased": {
                            "type": "number",
                            "description": "Whether the member is deceased.",
                            "example": 0
                          },
                          "IsPrimary": {
                            "type": "number",
                            "description": "Whether the member is the primary member in the unit.",
                            "example": 1
                          },
                          "Age": {
                            "type": "number",
                            "description": "Member's age.",
                            "example": 74
                          },
                          "IsUnitActive": {
                            "type": "number",
                            "description": "Whether the unit the member belongs to is active.",
                            "example": 1
                          },
                          "HomeBranchId": {
                            "type": "number",
                            "description": "ID of the member's home branch.",
                            "example": 79
                          },
                          "ToMemberID": {
                            "type": "string",
                            "description": "ID of the associated member.",
                            "example": "A123-1231"
                          },
                          "IsGuest": {
                            "type": "number",
                            "description": "Whether the member is guest or not.",
                            "example": 0
                          },
                          "EnabledWithinUnit": {
                            "type": "number",
                            "description": "Whether the member is enabled in the unit he or she belongs to.",
                            "example": 1
                          }
                        }
                      }
                    },
                    "status": {
                      "type": "boolean",
                      "description": "Status of the request.",
                      "example": "success"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/members/findPerson": {
      "post": {
        "operationId": "find-person",
        "tags": [
          "Members"
        ],
        "summary": "Find person",
        "description": "Retrieves member information based on the specified first name, last name, birthdate, and phone number.",
        "parameters": [
          {
            "name": "firstName",
            "in": "query",
            "required": true,
            "description": "First name of the person to find.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lastName",
            "in": "query",
            "required": true,
            "description": "Last name of the person to find.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "email",
            "in": "query",
            "required": false,
            "description": "Email address of the person. If not provided, the search will not filter by email.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "birthDate",
            "in": "query",
            "required": true,
            "description": "Birthdate of the person in MM/DD/YYYY format.",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "phone",
            "in": "query",
            "required": true,
            "description": "Phone number of the person in a standard format (e.g., 706-513-5555).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "request_uri": {
                      "type": "string",
                      "example": "/api/v1/members/find_person/?FirstName=John&LastName=Smith&Email=&Birthdate=10/21/1985&Phone=706-513-5555"
                    },
                    "person": {
                      "type": "object",
                      "properties": {
                        "ID": {
                          "type": "integer",
                          "example": 6
                        },
                        "ImageURI": {
                          "type": "string",
                          "format": "uri",
                          "example": "https://core.localhost/core/imgs/default_user_img.jpg"
                        }
                      }
                    },
                    "new": {
                      "type": "boolean",
                      "example": true
                    },
                    "status": {
                      "type": "string",
                      "example": "success"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/members/search": {
      "get": {
        "operationId": "member-search",
        "tags": [
          "Members"
        ],
        "summary": "Search",
        "description": "Searches for members based on the provided filters. A maximum of 20 members will be returned.",
        "parameters": [
          {
            "name": "term",
            "in": "query",
            "required": true,
            "description": "Criteria to search by. Supported lookups include partial matches on `FirstName LastName`, `LastName,FirstName`, `nickname`, `MemberID`, `Barcode`, `email``, partial phone number, date of birth or year of birth.",
            "schema": {
              "type": "string"
            },
            "example": "Finch,Atticus"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "request_uri": {
                      "type": "string",
                      "description": "URI of the request.",
                      "example": "/api/v1/members/search/?term=John+Smith"
                    },
                    "EvaluatedAt": {
                      "type": "array",
                      "description": "Collection of terms by which the results were searched.",
                      "items": {
                        "type": "object",
                        "properties": {
                          "l": {
                            "type": "string",
                            "description": "Key by which the result was filtered.",
                            "example": "First Name"
                          },
                          "v": {
                            "type": "string",
                            "description": "Value by which the result was filtered.",
                            "example": "Atticus"
                          }
                        }
                      }
                    },
                    "Members": {
                      "type": "array",
                      "description": "Collection of all results found.",
                      "items": {
                        "type": "object",
                        "properties": {
                          "Id": {
                            "type": "number",
                            "description": "ID of the member.",
                            "example": 10815552
                          },
                          "FirstName": {
                            "type": "string",
                            "description": "Member's first name.",
                            "example": "Atticus"
                          },
                          "LastName": {
                            "type": "string",
                            "description": "Member's last name",
                            "example": "Finch"
                          },
                          "ImageUri": {
                            "type": "string",
                            "description": "URL of the member's photo.",
                            "example": "https://s3.amazonaws.com/reclique-core-csra/member-imgs/d/2/10815552-xp4OhX.jpg"
                          },
                          "HomeBranch": {
                            "type": "string",
                            "description": "Member's home branch.",
                            "example": "Downtown Maycomb Branch"
                          },
                          "Age": {
                            "type": "number",
                            "description": "Member's age.",
                            "example": 74
                          },
                          "FullyActive": {
                            "type": "number",
                            "description": "Member's active status.",
                            "example": 2
                          },
                          "DOB": {
                            "type": "string",
                            "format": "date",
                            "description": "Member's date of birth, in MM/DD/YY format.",
                            "example": "30/11/20"
                          },
                          "DiscountName": {
                            "type": "string",
                            "description": "Discount associated with the member's membership.",
                            "example": "Attorney Discount"
                          },
                          "Status": {
                            "type": "string",
                            "description": "Member's membership status."
                          },
                          "UnitID": {
                            "type": "number",
                            "description": "ID of the unit the member belongs to.",
                            "example": 1543534
                          },
                          "MembershipType": {
                            "type": "string",
                            "description": "Member's membership type.",
                            "example": "Family Plan"
                          }
                        }
                      }
                    },
                    "status": {
                      "type": "string",
                      "description": "Status of the request.",
                      "example": "success"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/members/new": {
      "get": {
        "operationId": "member-new",
        "tags": [
          "Members"
        ],
        "summary": "New",
        "description": "Retrieves recently added members.",
        "parameters": [
          {
            "name": "includeEnabled",
            "in": "query",
            "description": "To include newly enabled members along with newly created members. Default is `true`.",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "request_uri": {
                      "type": "string",
                      "description": "URI of the request.",
                      "example": "/api/v1/members/new/?includeEnabled=true"
                    },
                    "members": {
                      "type": "array",
                      "description": "Details about the retrieved members.",
                      "items": {
                        "type": "object",
                        "properties": {
                          "ID": {
                            "type": "number",
                            "description": "ID of the member.",
                            "example": 5
                          },
                          "Created": {
                            "type": "string",
                            "format": "datetime",
                            "description": "When the member was created in the system, in YYYY-MM-DD hh:mm:ss format.",
                            "example": "2024-09-03 14:37:10"
                          },
                          "Modified": {
                            "type": "string",
                            "format": "datetime",
                            "description": "When the member was last modified in the system.",
                            "example": "2024-10-03 14:37:10"
                          },
                          "Active": {
                            "type": "number",
                            "description": "Indicates whether the member is active (1) or not (0).",
                            "example": 1
                          },
                          "FirstName": {
                            "type": "string",
                            "description": "Member's first name.",
                            "example": "John"
                          },
                          "MiddleName": {
                            "type": "string",
                            "description": "Member's middle name. Can be an empty string.",
                            "example": ""
                          },
                          "LastName": {
                            "type": "string",
                            "description": "Member's last name.",
                            "example": "Doe"
                          },
                          "Birthdate": {
                            "type": "string",
                            "format": "date",
                            "description": "Member's date of birth, in YYYY-MM-DD format.",
                            "example": "1989-04-12"
                          },
                          "Gender": {
                            "type": "string",
                            "description": "Member's gender.",
                            "example": "Male"
                          },
                          "Barcode": {
                            "type": "string",
                            "description": "Barcode of the member.",
                            "example": "barcode-1234"
                          },
                          "ImageURI": {
                            "type": "string",
                            "description": "URL of the member's photo.",
                            "example": "https://s3.amazonaws.com/csra/member-imgs/d/2/10815552-xp4OhX.jpg"
                          },
                          "UnitID": {
                            "type": "number",
                            "description": "ID of the unit the member belongs to.",
                            "example": 5
                          },
                          "SortOrder": {
                            "type": "number",
                            "description": "Sort order for the result.",
                            "example": 0
                          },
                          "DenyAccess": {
                            "type": "number",
                            "description": "Whether the member should be denied access to the association's facilities (1) or not (0).",
                            "example": 0
                          },
                          "Deceased": {
                            "type": "number",
                            "description": "Whether the member is deceased (1) or not (0).",
                            "example": 0
                          },
                          "HomeBranchID": {
                            "type": "number",
                            "description": "ID of the member's home branch.",
                            "example": 14
                          }
                        }
                      }
                    },
                    "status": {
                      "type": "string",
                      "description": "Status of the request.",
                      "example": "success"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/members/updated": {
      "get": {
        "operationId": "member-updated",
        "tags": [
          "Members"
        ],
        "summary": "Updated",
        "description": "Retrieves recently updated members (within the last 24hrs).",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "request_uri": {
                      "type": "string",
                      "description": "URI of the request.",
                      "example": "/api/v1/members/updated/"
                    },
                    "updated_members": {
                      "type": "array",
                      "description": "Details about the updated members.",
                      "items": {
                        "type": "object",
                        "properties": {
                          "ID": {
                            "type": "number",
                            "description": "ID of the member.",
                            "example": 4
                          },
                          "MID": {
                            "type": "number",
                            "description": "Membership ID of the member.",
                            "example": 4
                          },
                          "LID": {
                            "type": "number",
                            "description": "LID of the member.",
                            "example": 596
                          },
                          "LogDate": {
                            "type": "string",
                            "format": "datetime",
                            "description": "Date and time when the log entry was created, in YYYY-MM-DD hh:mm:ss format.",
                            "example": "2024-09-03 14:41:43"
                          },
                          "LogType": {
                            "type": "string",
                            "description": "Type of log entry.",
                            "example": "unit"
                          },
                          "LogChangeType": {
                            "type": "string",
                            "description": "Type of change made.",
                            "example": "updated"
                          },
                          "Created": {
                            "type": "string",
                            "format": "datetime",
                            "description": "When the member was created in the system, in YYYY-MM-DD hh:mm:ss format.",
                            "example": "2024-08-29 14:26:46"
                          },
                          "UnitID": {
                            "type": "number",
                            "description": "ID of the unit the member belongs to.",
                            "example": 4
                          },
                          "Barcode": {
                            "type": "string",
                            "description": "Barcode of the member.",
                            "example": "barcode-1234"
                          },
                          "FirstName": {
                            "type": "string",
                            "description": "Member's first name.",
                            "example": "Test"
                          },
                          "LastName": {
                            "type": "string",
                            "description": "Member's last name.",
                            "example": "Test"
                          },
                          "Gender": {
                            "type": "string",
                            "description": "Member's gender.",
                            "example": "Male"
                          },
                          "MemberActive": {
                            "type": "number",
                            "description": "Indicates whether the member is active (1) or not (0).",
                            "example": 1
                          },
                          "IsPrimary": {
                            "type": "number",
                            "description": "Whether the member is the primary member in the unit.",
                            "example": 1
                          },
                          "IsGuest": {
                            "type": "number",
                            "description": "Whether the member is a guest (1) or not (0).",
                            "example": 0
                          },
                          "Status": {
                            "type": "string",
                            "description": "Member's membership status.",
                            "example": "Active"
                          },
                          "UnitActive": {
                            "type": "number",
                            "description": "Whether the unit the member belongs to is active (1) or not (0).",
                            "example": 1
                          },
                          "MembershipType": {
                            "type": "string",
                            "description": "Type of membership for the member.",
                            "example": "Adult"
                          },
                          "HomeBranchID": {
                            "type": "number",
                            "description": "ID of the member's home branch.",
                            "example": 14
                          },
                          "Birthdate": {
                            "type": "string",
                            "format": "date",
                            "description": "Member's date of birth, in YYYY-MM-DD format.",
                            "example": "2000-02-02"
                          },
                          "PrimaryPhone": {
                            "type": "string",
                            "description": "Member's primary phone number.",
                            "example": "555-555-5555"
                          },
                          "AltPhone": {
                            "type": "string",
                            "description": "Member's alternate phone number.",
                            "example": "666-888-999"
                          },
                          "Email": {
                            "type": "string",
                            "description": "Member's email address.",
                            "example": "test@test.com"
                          },
                          "HomeAddress": {
                            "type": "string",
                            "description": "Member's home address.",
                            "example": "test"
                          },
                          "HomeAddressLine2": {
                            "type": "string",
                            "description": "Additional line for home address.",
                            "example": "test"
                          },
                          "HomeCity": {
                            "type": "string",
                            "description": "City of the member's home address.",
                            "example": "test"
                          },
                          "HomeState": {
                            "type": "string",
                            "description": "State of the member's home address.",
                            "example": "GA"
                          },
                          "HomeZip": {
[...]
