{
  "openapi": "3.0.3",
  "info": {
    "title": "Seller Campaigns API",
    "version": "1",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/ppas-enreach/SellerCampaignsAPI/1",
    "contact": {
      "name": "API Support"
    },
    "description": "Seller Campaigns API - OpenAPI Specification"
  },
  "servers": [
    {
      "url": "http://api.adform.com/v1/seller/campaigns"
    }
  ],
  "paths": {
    "/": {
      "get": {
        "tags": [
          "Campaigns"
        ],
        "summary": "Gets `Campaign` objects.",
        "description": "Get campaigns with paging, sorting and filtering",
        "operationId": "Campaigns_Get",
        "parameters": [
          {
            "name": "Ticket",
            "in": "header",
            "description": "Adform authorization ticket.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "The name of property and order to sort the collection, e.g. 'sort=name+asc'. \nIf empty value the collection will be sorted by id\n",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The number of campaigns to skip. Default is 0",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The number of campaigns to extract. Default is 100",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Status of campaigns to extract",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Campaign"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Campaign"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Some request parameters have incorrect format.",
            "content": {}
          },
          "401": {
            "description": "Invalid or missing Ticket header value.",
            "content": {}
          },
          "403": {
            "description": "Forbidden.",
            "content": {}
          }
        },
        "deprecated": false
      },
      "post": {
        "tags": [
          "Campaigns"
        ],
        "summary": "Create new campaign object",
        "description": "The server generates id of new campaign automatically, so any value\nprovided for id property with campaign object parameter is ignored\n",
        "operationId": "Campaigns_Post",
        "parameters": [
          {
            "name": "Ticket",
            "in": "header",
            "description": "Adform authorization ticket",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Campaign object",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Campaign"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Campaign"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "New campaign was created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Campaign"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Campaign"
                }
              }
            }
          },
          "400": {
            "description": "Specified campaign object has incorrect format.",
            "content": {}
          },
          "401": {
            "description": "Invalid or missing Ticket header value.",
            "content": {}
          },
          "403": {
            "description": "Forbidden.",
            "content": {}
          }
        },
        "deprecated": false,
        "x-codegen-request-body-name": "campaign"
      }
    },
    "/{id}": {
      "get": {
        "tags": [
          "Campaigns"
        ],
        "summary": "Gets `Campaign` object.",
        "description": "Get campaign object by id",
        "operationId": "Campaigns_GetById",
        "parameters": [
          {
            "name": "Ticket",
            "in": "header",
            "description": "Adform authorization ticket",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "ID of the campaign",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Campaign"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Campaign"
                }
              }
            }
          },
          "400": {
            "description": "Some request parameters have incorrect format.",
            "content": {}
          },
          "401": {
            "description": "Invalid or missing Ticket header value.",
            "content": {}
          },
          "403": {
            "description": "Forbidden.",
            "content": {}
          },
          "404": {
            "description": "Requested campaign was not found",
            "content": {}
          }
        },
        "deprecated": false
      },
      "put": {
        "tags": [
          "Campaigns"
        ],
        "summary": "Update `Campaign` object",
        "description": "Update campaign object by id.",
        "operationId": "Campaigns_Put",
        "parameters": [
          {
            "name": "Ticket",
            "in": "header",
            "description": "Adform authorization ticket",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "ID of the campaign",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "description": "Campaign object with updated properties, it should have id property set\nto a value of an existing campaign identifier\n",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Campaign"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Campaign"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Campaign"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Campaign"
                }
              }
            }
          },
          "400": {
            "description": "Specified campaign object has incorrect format.",
            "content": {}
          },
          "401": {
            "description": "Invalid or missing Ticket header value.",
            "content": {}
          },
          "403": {
            "description": "Forbidden.",
            "content": {}
          },
          "404": {
            "description": "Specified campaign was not found",
            "content": {}
          }
        },
        "deprecated": false,
        "x-codegen-request-body-name": "campaign"
      },
      "delete": {
        "tags": [
          "Campaigns"
        ],
        "summary": "Deletes `Campaign` object",
        "description": "Delete campaign object by id.",
        "operationId": "Campaigns_Delete",
        "parameters": [
          {
            "name": "Ticket",
            "in": "header",
            "description": "Adform authorization ticket",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "ID of the campaign",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {}
          },
          "401": {
            "description": "Invalid or missing Ticket header value.",
            "content": {}
          },
          "403": {
            "description": "Forbidden.",
            "content": {}
          },
          "404": {
            "description": "Specified campaign was not found.",
            "content": {}
          }
        },
        "deprecated": false
      }
    }
  },
  "components": {
    "schemas": {
      "Campaign": {
        "required": [
          "advertiserId",
          "dateFrom",
          "dateTo",
          "goalType",
          "name",
          "status"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32"
          },
          "name": {
            "type": "string"
          },
          "dateFrom": {
            "type": "string",
            "format": "date-time"
          },
          "dateTo": {
            "type": "string",
            "format": "date-time"
          },
          "advertiserId": {
            "type": "integer",
            "format": "int32"
          },
          "goalType": {
            "$ref": "#/components/schemas/CampaignGoalType"
          },
          "revenueValue": {
            "type": "number",
            "format": "double"
          },
          "impressionsValue": {
            "type": "integer",
            "format": "int32"
          },
          "viewableImpressionsValue": {
            "type": "integer",
            "format": "int32"
          },
          "clicksValue": {
            "type": "integer",
            "format": "int32"
          },
          "frequencyCapping": {
            "$ref": "#/components/schemas/FrequencyCaping"
          },
          "status": {
            "$ref": "#/components/schemas/CampaignStatus"
          }
        },
        "example": {
          "id": 0,
          "name": "Test Campaign",
          "dateFrom": "3392-01-12T21:31:54.531Z",
          "dateTo": "3392-01-12T21:31:54.531Z",
          "advertiserId": 0,
          "goalType": "Impressions",
          "impressionsValue": 100,
          "status": "Active",
          "frequencyCapping": {
            "frequencyCappingType": "PerDay",
            "impressionsCount": 10,
            "perIntervalCount": 1,
            "serveToUnknownUsers": true
          }
        }
      },
      "CampaignStatus": {
        "type": "string",
        "example": "Active",
        "enum": [
          "Active",
          "Paused"
        ]
      },
      "CampaignGoalType": {
        "type": "string",
        "description": "Campaign's goal type.",
        "example": "Revenue",
        "enum": [
          "Revenue",
          "Impressions",
          "Unlimited",
          "ViewableImpressions",
          "Clicks"
        ]
      },
      "FrequencyCaping": {
        "required": [
          "frequencyCappingType",
          "impressionsCount",
          "perIntervalCount"
        ],
        "type": "object",
        "properties": {
          "frequencyCappingType": {
            "$ref": "#/components/schemas/FrequencyCappingType"
          },
          "impressionsCount": {
            "type": "integer",
            "format": "int32"
          },
          "perIntervalCount": {
            "type": "integer",
            "format": "int32"
          },
          "serveToUnknownUsers": {
            "type": "boolean"
          }
        },
        "example": {
          "frequencyCappingType": "PerDay",
          "impressionsCount": 10,
          "perIntervalCount": 1,
          "serveToUnknownUsers": true
        }
      },
      "FrequencyCappingType": {
        "type": "string",
        "example": "PerMinute",
        "enum": [
          "PerLifetime",
          "PerDay",
          "PerHour",
          "PerMinute"
        ]
      }
    }
  },
  "x-original-swagger-version": "2.0",
  "tags": [
    {
      "name": "Campaigns"
    }
  ]
}
