{
  "openapi": "3.0.3",
  "info": {
    "title": "Masada Markets",
    "version": "2.0.0",
    "contact": {
      "email": "hello@kenmoredesign.com"
    },
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/MAKSYM_2/masada-markets/2.0.0"
  },
  "servers": [
    {
      "url": "https://cabinet.masadamarkets.com/api-2",
      "description": "Masada Markets"
    }
  ],
  "tags": [
    {
      "name": "Public",
      "description": "Public methods"
    }
  ],
  "paths": {
    "/open-demo-account": {
      "post": {
        "tags": [
          "Public"
        ],
        "summary": "Open Demo Account",
        "description": "Endpoint to open a new demo account",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/opendemoaccount_body"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Account successfully created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200"
                }
              }
            }
          },
          "422": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_422"
                }
              }
            }
          }
        }
      }
    },
    "/open-live-account": {
      "post": {
        "tags": [
          "Public"
        ],
        "summary": "Open Live Account",
        "description": "Endpoint to open a new live account",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/openliveaccount_body"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Account successfully created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200"
                }
              }
            }
          },
          "422": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_422"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "opendemoaccount_body": {
        "type": "object",
        "properties": {
          "birthDate": {
            "type": "string",
            "format": "date",
            "example": "1983-01-01"
          },
          "state": {
            "type": "string",
            "example": "state"
          },
          "city": {
            "type": "string",
            "example": "city"
          },
          "address": {
            "type": "string",
            "example": "address"
          },
          "zip": {
            "type": "string",
            "example": 123
          },
          "tradingAccountTypeId": {
            "type": "string",
            "format": "uuid",
            "example": "e7dc5df0-8554-11ee-bb40-7f0b25329f61"
          },
          "leverage": {
            "type": "integer",
            "example": 1
          },
          "firstName": {
            "type": "string",
            "example": "ft"
          },
          "lastName": {
            "type": "string",
            "example": "test"
          },
          "nationality": {
            "type": "string",
            "example": "UA"
          },
          "email": {
            "type": "string",
            "format": "email",
            "example": "demoAccTEST@gmail.com"
          },
          "password": {
            "type": "string",
            "example": "Qwerty123###"
          },
          "language": {
            "type": "string",
            "example": "en"
          },
          "country": {
            "type": "string",
            "example": "CA"
          },
          "phone": {
            "type": "string",
            "example": 380504442211
          },
          "experience": {
            "type": "string",
            "example": "1 year"
          },
          "netWorth": {
            "type": "string",
            "example": "100-250,000"
          },
          "incomeSource": {
            "type": "string",
            "example": "Own Business"
          },
          "sumsubId": {
            "type": "string",
            "example": "65f36315b9c8915b461d340d"
          },
          "publicPosition": {
            "type": "string",
            "example": "No",
            "enum": [
              "Yes",
              "No"
            ]
          },
          "governmentPosition": {
            "type": "string",
            "example": "No",
            "enum": [
              "Yes",
              "No"
            ]
          },
          "shareHousehold": {
            "type": "string",
            "example": "No",
            "enum": [
              "Yes",
              "No"
            ]
          }
        }
      },
      "openliveaccount_body": {
        "type": "object",
        "properties": {
          "birthDate": {
            "type": "string",
            "format": "date",
            "example": "1983-01-01"
          },
          "state": {
            "type": "string",
            "example": "state"
          },
          "city": {
            "type": "string",
            "example": "city"
          },
          "address": {
            "type": "string",
            "example": "address"
          },
          "zip": {
            "type": "string",
            "example": 123
          },
          "tradingAccountTypeId": {
            "type": "string",
            "format": "uuid",
            "example": "e7dc5df0-8554-11ee-bb40-7f0b25329f61"
          },
          "leverage": {
            "type": "integer",
            "example": 1
          },
          "firstName": {
            "type": "string",
            "example": "ft"
          },
          "lastName": {
            "type": "string",
            "example": "test"
          },
          "nationality": {
            "type": "string",
            "example": "UA"
          },
          "email": {
            "type": "string",
            "format": "email",
            "example": "liveAccTEST@gmail.com"
          },
          "password": {
            "type": "string",
            "example": "Qwerty123###"
          },
          "language": {
            "type": "string",
            "example": "en"
          },
          "country": {
            "type": "string",
            "example": "CA"
          },
          "phone": {
            "type": "string",
            "example": 380504442211
          },
          "experience": {
            "type": "string",
            "example": "1 year"
          },
          "netWorth": {
            "type": "string",
            "example": "100-250,000"
          },
          "incomeSource": {
            "type": "string",
            "example": "Own Business"
          },
          "sumsubId": {
            "type": "string",
            "example": "65f36315b9c8915b461d340d"
          },
          "publicPosition": {
            "type": "string",
            "example": "No",
            "enum": [
              "Yes",
              "No"
            ]
          },
          "governmentPosition": {
            "type": "string",
            "example": "No",
            "enum": [
              "Yes",
              "No"
            ]
          },
          "shareHousehold": {
            "type": "string",
            "example": "No",
            "enum": [
              "Yes",
              "No"
            ]
          }
        }
      },
      "inline_response_200": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          }
        }
      },
      "inline_response_422": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": false
          },
          "httpStatus": {
            "type": "integer",
            "example": 422
          },
          "errorCode": {
            "type": "string",
            "example": "bad_request"
          },
          "errorMessage": {
            "type": "string",
            "example": "Bad Request"
          },
          "additionalData": {
            "$ref": "#/components/schemas/inline_response_422_additionalData"
          }
        }
      },
      "inline_response_422_additionalData": {
        "type": "object",
        "properties": {
          "wrongFields": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/inline_response_422_additionalData_wrongFields"
            }
          }
        }
      },
      "inline_response_422_additionalData_wrongFields": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "errorCode": {
            "type": "string"
          },
          "errorMessage": {
            "type": "string"
          }
        }
      }
    }
  }
}