{
  "openapi": "3.1.0",
  "info": {
    "title": "Apple Music API",
    "version": "1.0.0",
    "description": "The Apple Music API lets you access information about media in the Apple Music Catalog and a user's personal iCloud Music Library. Use this REST API to retrieve information about albums, songs, artists, playlists, music videos, Apple Music stations, ratings, charts, recommendations, and the user's most recently played content.",
    "contact": {
      "name": "Apple Developer",
      "url": "https://developer.apple.com/documentation/applemusicapi"
    },
    "x-apisguru-categories": [
      "media"
    ],
    "x-logo": {
      "url": "https://developer.apple.com/assets/elements/icons/apple-music-api/apple-music-api-128x128.png"
    }
  },
  "servers": [
    {
      "url": "https://api.music.apple.com/v1"
    }
  ],
  "security": [
    {
      "developerToken": []
    }
  ],
  "components": {
    "securitySchemes": {
      "developerToken": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "A developer token generated from a MusicKit private key."
      },
      "musicUserToken": {
        "type": "apiKey",
        "in": "header",
        "name": "Music-User-Token",
        "description": "A music user token for authenticated requests to a user's library."
      }
    },
    "schemas": {
      "Resource": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "href": {
            "type": "string"
          },
          "attributes": {
            "type": "object"
          },
          "relationships": {
            "type": "object"
          },
          "meta": {
            "type": "object"
          }
        }
      },
      "ResponseRoot": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Resource"
            }
          },
          "next": {
            "type": "string"
          },
          "errors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "detail": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "code": {
            "type": "string"
          },
          "source": {
            "type": "object"
          }
        }
      },
      "Song": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "songs"
            ]
          },
          "attributes": {
            "type": "object",
            "properties": {
              "albumName": {
                "type": "string"
              },
              "artistName": {
                "type": "string"
              },
              "artwork": {
                "type": "object",
                "properties": {
                  "width": {
                    "type": "integer"
                  },
                  "height": {
                    "type": "integer"
                  },
                  "url": {
                    "type": "string"
                  }
                }
              },
              "composerName": {
                "type": "string"
              },
              "discNumber": {
                "type": "integer"
              },
              "durationInMillis": {
                "type": "integer"
              },
              "genreNames": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "hasLyrics": {
                "type": "boolean"
              },
              "isrc": {
                "type": "string"
              },
              "name": {
                "type": "string"
              },
              "previews": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "url": {
                      "type": "string"
                    }
                  }
                }
              },
              "releaseDate": {
                "type": "string",
                "format": "date"
              },
              "trackNumber": {
                "type": "integer"
              },
              "url": {
                "type": "string"
              }
            }
          }
        }
      },
      "Album": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "albums"
            ]
          },
          "attributes": {
            "type": "object",
            "properties": {
              "artistName": {
                "type": "string"
              },
              "artwork": {
                "type": "object",
                "properties": {
                  "width": {
                    "type": "integer"
                  },
                  "height": {
                    "type": "integer"
                  },
                  "url": {
                    "type": "string"
                  }
                }
              },
              "contentRating": {
                "type": "string"
              },
              "copyright": {
                "type": "string"
              },
              "editorialNotes": {
                "type": "object",
                "properties": {
                  "standard": {
                    "type": "string"
                  },
                  "short": {
                    "type": "string"
                  }
                }
              },
              "genreNames": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "isComplete": {
                "type": "boolean"
              },
              "isSingle": {
                "type": "boolean"
              },
              "name": {
                "type": "string"
              },
              "recordLabel": {
                "type": "string"
              },
              "releaseDate": {
                "type": "string",
                "format": "date"
              },
              "trackCount": {
                "type": "integer"
              },
              "url": {
                "type": "string"
              }
            }
          }
        }
      },
      "Artist": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "artists"
            ]
          },
          "attributes": {
            "type": "object",
            "properties": {
              "genreNames": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "name": {
                "type": "string"
              },
              "url": {
                "type": "string"
              }
            }
          }
        }
      },
      "Playlist": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "playlists"
            ]
          },
          "attributes": {
            "type": "object",
            "properties": {
              "curatorName": {
                "type": "string"
              },
              "description": {
                "type": "object",
                "properties": {
                  "standard": {
                    "type": "string"
                  },
                  "short": {
                    "type": "string"
                  }
                }
              },
              "isChart": {
                "type": "boolean"
              },
              "lastModifiedDate": {
                "type": "string",
                "format": "date-time"
              },
              "name": {
                "type": "string"
              },
              "playlistType": {
                "type": "string",
                "enum": [
                  "editorial",
                  "external",
                  "personal-mix",
                  "replay",
                  "user-shared"
                ]
              },
              "url": {
                "type": "string"
              }
            }
          }
        }
      },
      "SearchResults": {
        "type": "object",
        "properties": {
          "results": {
            "type": "object",
            "properties": {
              "songs": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/Song"
                    }
                  },
                  "href": {
                    "type": "string"
                  },
                  "next": {
                    "type": "string"
                  }
                }
              },
              "albums": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/Album"
                    }
                  },
                  "href": {
                    "type": "string"
                  },
                  "next": {
                    "type": "string"
                  }
                }
              },
              "artists": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/Artist"
                    }
                  },
                  "href": {
                    "type": "string"
                  },
                  "next": {
                    "type": "string"
                  }
                }
              },
              "playlists": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/Playlist"
                    }
                  },
                  "href": {
                    "type": "string"
                  },
                  "next": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      },
      "Chart": {
        "type": "object",
        "properties": {
          "chart": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "href": {
            "type": "string"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Resource"
            }
          }
        }
      }
    },
    "parameters": {
      "storefront": {
        "name": "storefront",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        },
        "description": "An iTunes Store territory, specified by an ISO 3166 alpha-2 country code."
      },
      "limit": {
        "name": "limit",
        "in": "query",
        "schema": {
          "type": "integer",
          "default": 25
        },
        "description": "The number of objects or number of objects in the specified relationship returned."
      },
      "offset": {
        "name": "offset",
        "in": "query",
        "schema": {
          "type": "string"
        },
        "description": "The next page or group of objects to fetch."
      }
    }
  },
  "paths": {
    "/catalog/{storefront}/search": {
      "get": {
        "operationId": "searchCatalog",
        "summary": "Search the Apple Music Catalog",
        "description": "Search the catalog by using a query.",
        "tags": [
          "Catalog"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/storefront"
          },
          {
            "name": "term",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The entered text for the search."
          },
          {
            "name": "types",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "The list of the types of resources to include in the results. Possible values: activities, albums, apple-curators, artists, curators, music-videos, playlists, record-labels, songs, stations"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "name": "storefront",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Search results.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResults"
                }
              }
            }
          }
        }
      }
    },
    "/catalog/{storefront}/songs/{id}": {
      "get": {
        "operationId": "getCatalogSong",
        "summary": "Get a Catalog Song",
        "description": "Fetch a song by using its identifier.",
        "tags": [
          "Songs"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/storefront"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The unique identifier for the song."
          },
          {
            "name": "storefront",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The song.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseRoot"
                }
              }
            }
          }
        }
      }
    },
    "/catalog/{storefront}/songs": {
      "get": {
        "operationId": "getMultipleCatalogSongs",
        "summary": "Get Multiple Catalog Songs",
        "description": "Fetch one or more songs by using their identifiers.",
        "tags": [
          "Songs"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/storefront"
          },
          {
            "name": "ids",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The unique identifiers for the songs, separated by commas."
          },
          {
            "name": "storefront",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The songs.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseRoot"
                }
              }
            }
          }
        }
      }
    },
    "/catalog/{storefront}/albums/{id}": {
      "get": {
        "operationId": "getCatalogAlbum",
        "summary": "Get a Catalog Album",
        "description": "Fetch an album by using its identifier.",
        "tags": [
          "Albums"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/storefront"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The unique identifier for the album."
          },
          {
            "name": "storefront",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The album.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseRoot"
                }
              }
            }
          }
        }
      }
    },
    "/catalog/{storefront}/albums": {
      "get": {
        "operationId": "getMultipleCatalogAlbums",
        "summary": "Get Multiple Catalog Albums",
        "tags": [
          "Albums"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/storefront"
          },
          {
            "name": "ids",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "storefront",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The albums.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseRoot"
                }
              }
            }
          }
        },
        "description": "Get Multiple Catalog Albums"
      }
    },
    "/catalog/{storefront}/artists/{id}": {
      "get": {
        "operationId": "getCatalogArtist",
        "summary": "Get a Catalog Artist",
        "tags": [
          "Artists"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/storefront"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "storefront",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The artist.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseRoot"
                }
              }
            }
          }
        },
        "description": "Get a Catalog Artist"
      }
    },
    "/catalog/{storefront}/artists": {
      "get": {
        "operationId": "getMultipleCatalogArtists",
        "summary": "Get Multiple Catalog Artists",
        "tags": [
          "Artists"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/storefront"
          },
          {
            "name": "ids",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "storefront",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The artists.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseRoot"
                }
              }
            }
          }
        },
        "description": "Get Multiple Catalog Artists"
      }
    },
    "/catalog/{storefront}/playlists/{id}": {
      "get": {
        "operationId": "getCatalogPlaylist",
        "summary": "Get a Catalog Playlist",
        "tags": [
          "Playlists"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/storefront"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "storefront",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The playlist.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseRoot"
                }
              }
            }
          }
        },
        "description": "Get a Catalog Playlist"
      }
    },
    "/catalog/{storefront}/music-videos/{id}": {
      "get": {
        "operationId": "getCatalogMusicVideo",
        "summary": "Get a Catalog Music Video",
        "tags": [
          "Music Videos"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/storefront"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "storefront",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The music video.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseRoot"
                }
              }
            }
          }
        },
        "description": "Get a Catalog Music Video"
      }
    },
    "/catalog/{storefront}/charts": {
      "get": {
        "operationId": "getCatalogCharts",
        "summary": "Get Catalog Charts",
        "description": "Fetch one or more charts from the Apple Music Catalog.",
        "tags": [
          "Charts"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/storefront"
          },
          {
            "name": "types",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "A list of the types of charts to fetch. Possible values: songs, albums, music-videos, playlists"
          },
          {
            "name": "genre",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "The genre of the charts."
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "name": "storefront",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The charts.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/catalog/{storefront}/genres/{id}": {
      "get": {
        "operationId": "getCatalogGenre",
        "summary": "Get a Catalog Genre",
        "tags": [
          "Genres"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/storefront"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "storefront",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The genre.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseRoot"
                }
              }
            }
          }
        },
        "description": "Get a Catalog Genre"
      }
    },
    "/catalog/{storefront}/genres": {
      "get": {
        "operationId": "getCatalogGenres",
        "summary": "Get All Catalog Genres",
        "tags": [
          "Genres"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/storefront"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "name": "storefront",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The genres.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseRoot"
                }
              }
            }
          }
        },
        "description": "Get All Catalog Genres"
      }
    },
    "/catalog/{storefront}/stations/{id}": {
      "get": {
        "operationId": "getCatalogStation",
        "summary": "Get a Catalog Station",
        "tags": [
          "Stations"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/storefront"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "storefront",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The station.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseRoot"
                }
              }
            }
          }
        },
        "description": "Get a Catalog Station"
      }
    },
    "/storefronts/{id}": {
      "get": {
        "operationId": "getStorefront",
        "summary": "Get a Storefront",
        "tags": [
          "Storefronts"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The storefront.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseRoot"
                }
              }
            }
          }
        },
        "description": "Get a Storefront"
      }
    },
    "/storefronts": {
      "get": {
        "operationId": "getAllStorefronts",
        "summary": "Get All Storefronts",
        "tags": [
          "Storefronts"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "description": "The storefronts.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseRoot"
                }
              }
            }
          }
        },
        "description": "Get All Storefronts"
      }
    },
    "/me/library/songs": {
      "get": {
        "operationId": "getLibrarySongs",
        "summary": "Get All Library Songs",
        "tags": [
          "Library"
        ],
        "security": [
          {
            "developerToken": [],
            "musicUserToken": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "description": "The library songs.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseRoot"
                }
              }
            }
          }
        },
        "description": "Get All Library Songs"
      }
    },
    "/me/library/albums": {
      "get": {
        "operationId": "getLibraryAlbums",
        "summary": "Get All Library Albums",
        "tags": [
          "Library"
        ],
        "security": [
          {
            "developerToken": [],
            "musicUserToken": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "description": "The library albums.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseRoot"
                }
              }
            }
          }
        },
        "description": "Get All Library Albums"
      }
    },
    "/me/library/artists": {
      "get": {
        "operationId": "getLibraryArtists",
        "summary": "Get All Library Artists",
        "tags": [
          "Library"
        ],
        "security": [
          {
            "developerToken": [],
            "musicUserToken": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "description": "The library artists.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseRoot"
                }
              }
            }
          }
        },
        "description": "Get All Library Artists"
      }
    },
    "/me/library/playlists": {
      "get": {
        "operationId": "getLibraryPlaylists",
        "summary": "Get All Library Playlists",
        "tags": [
          "Library"
        ],
        "security": [
          {
            "developerToken": [],
            "musicUserToken": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "description": "The library playlists.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseRoot"
                }
              }
            }
          }
        },
        "description": "Get All Library Playlists"
      },
      "post": {
        "operationId": "createLibraryPlaylist",
        "summary": "Create a Library Playlist",
        "tags": [
          "Library"
        ],
        "security": [
          {
            "developerToken": [],
            "musicUserToken": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "attributes": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string"
                      },
                      "description": {
                        "type": "string"
                      }
                    },
                    "required": [
                      "name"
                    ]
                  },
                  "relationships": {
                    "type": "object",
                    "properties": {
                      "tracks": {
                        "type": "object",
                        "properties": {
                          "data": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "string"
                                },
                                "type": {
                                  "type": "string"
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The created playlist.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseRoot"
                }
              }
            }
          }
        },
        "description": "Create a Library Playlist"
      }
    },
    "/me/library/search": {
      "get": {
        "operationId": "searchLibrary",
        "summary": "Search the Library",
        "tags": [
          "Library"
        ],
        "security": [
          {
            "developerToken": [],
            "musicUserToken": []
          }
        ],
        "parameters": [
          {
            "name": "term",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "types",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "description": "The search results.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResults"
                }
              }
            }
          }
        },
        "description": "Search the Library"
      }
    },
    "/me/recent/played": {
      "get": {
        "operationId": "getRecentlyPlayed",
        "summary": "Get Recently Played Resources",
        "tags": [
          "Library"
        ],
        "security": [
          {
            "developerToken": [],
            "musicUserToken": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "description": "The recently played resources.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseRoot"
                }
              }
            }
          }
        },
        "description": "Get Recently Played Resources"
      }
    },
    "/me/recommendations": {
      "get": {
        "operationId": "getRecommendations",
        "summary": "Get Default Recommendations",
        "tags": [
          "Recommendations"
        ],
        "security": [
          {
            "developerToken": [],
            "musicUserToken": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "description": "The recommendations.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseRoot"
                }
              }
            }
          }
        },
        "description": "Get Default Recommendations"
      }
    }
  },
  "tags": [
    {
      "name": "Catalog",
      "description": "Search and browse the Apple Music Catalog."
    },
    {
      "name": "Songs",
      "description": "Songs in the Apple Music Catalog."
    },
    {
      "name": "Albums",
      "description": "Albums in the Apple Music Catalog."
    },
    {
      "name": "Artists",
      "description": "Artists in the Apple Music Catalog."
    },
    {
      "name": "Playlists",
      "description": "Playlists in the Apple Music Catalog."
    },
    {
      "name": "Music Videos",
      "description": "Music videos in the Apple Music Catalog."
    },
    {
      "name": "Charts",
      "description": "Charts from the Apple Music Catalog."
    },
    {
      "name": "Genres",
      "description": "Genres in the Apple Music Catalog."
    },
    {
      "name": "Stations",
      "description": "Stations in the Apple Music Catalog."
    },
    {
      "name": "Storefronts",
      "description": "Apple Music storefronts."
    },
    {
      "name": "Library",
      "description": "A user's iCloud Music Library."
    },
    {
      "name": "Recommendations",
      "description": "Personalized recommendations."
    }
  ]
}
