{
  "openapi": "3.0.0",
  "info": {
    "title": "QuitSmoking Authentication API",
    "description": "API for user authentication and password management",
    "version": "1.0.0",
    "contact": {
      "name": "Frontend Team",
      "email": "frontend@example.com"
    },
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/other-a29-596/quitsmoking-authentication-api/1.0.0"
  },
  "servers": [
    {
      "url": "https://api.quitsmoking.com/v1",
      "description": "Production server"
    },
    {
      "url": "http://localhost:3000",
      "description": "Development server"
    }
  ],
  "paths": {
    "/api/login": {
      "post": {
        "summary": "User Login",
        "description": "Authenticate user and return role",
        "operationId": "loginUser",
        "tags": [
          "Authentication"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email",
                  "password"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email",
                    "example": "sarah@example.com",
                    "description": "User email address"
                  },
                  "password": {
                    "type": "string",
                    "format": "password",
                    "example": "********",
                    "description": "User password"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful login",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "object",
                      "properties": {
                        "role": {
                          "type": "string",
                          "enum": [
                            "admin",
                            "user"
                          ],
                          "example": "admin",
                          "description": "User role - admin or regular user"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "example": "Invalid email or password",
                          "description": "Error description"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/password/request-code": {
      "post": {
        "summary": "Request Password Reset Code",
        "description": "Request a password reset code via email",
        "operationId": "requestPasswordReset",
        "tags": [
          "Password Reset"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email",
                    "example": "sarah@example.com",
                    "description": "Email address to send reset code to"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Reset code sent successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "object",
                      "example": {},
                      "description": "Empty success object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Error sending reset code",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "example": "Email not found",
                          "description": "Error description"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/password/verify-code": {
      "post": {
        "summary": "Verify Password Reset Code",
        "description": "Verify the 4-digit password reset code",
        "operationId": "verifyResetCode",
        "tags": [
          "Password Reset"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email",
                  "code"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email",
                    "example": "sarah@example.com",
                    "description": "User email"
                  },
                  "code": {
                    "type": "string",
                    "pattern": "^[0-9]{4}$",
                    "example": "1234",
                    "description": "4-digit verification code",
                    "minLength": 4,
                    "maxLength": 4
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Code verified successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "object",
                      "example": {},
                      "description": "Empty success object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid or expired code",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "example": "Invalid or expired code",
                          "description": "Error description"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/register": {
      "post": {
        "summary": "User Registration",
        "description": "Register a new user account",
        "operationId": "registerUser",
        "tags": [
          "Authentication"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "username",
                  "email",
                  "password"
                ],
                "properties": {
                  "username": {
                    "type": "string",
                    "example": "sarah_ahmed",
                    "description": "Desired username",
                    "minLength": 3,
                    "maxLength": 50
                  },
                  "email": {
                    "type": "string",
                    "format": "email",
                    "example": "sarah@example.com",
                    "description": "User email address"
                  },
                  "password": {
                    "type": "string",
                    "format": "password",
                    "example": "********",
                    "description": "User password (min 6 characters)",
                    "minLength": 6
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "User created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "object",
                      "example": {},
                      "description": "Empty success object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Registration failed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "example": "Email already exists",
                          "description": "Error description"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Authentication",
      "description": "User authentication operations"
    },
    {
      "name": "Password Reset",
      "description": "Password reset operations"
    }
  ]
}