{
  "openapi": "3.0.0",
  "info": {
    "version": "1.0.0",
    "title": "Billing",
    "description": "Billing API",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://api-billing.extensiv.com"
    }
  ],
  "tags": [
    {
      "name": "apporganizations",
      "description": "App Organizations"
    },
    {
      "name": "users",
      "description": "Org User Roles"
    },
    {
      "name": "charges",
      "description": "Charges"
    },
    {
      "name": "customers",
      "description": "Customers"
    },
    {
      "name": "customerAssignments",
      "description": "Customer Assignments"
    },
    {
      "name": "invoices",
      "description": "Invoices"
    },
    {
      "name": "markupMinimumRates",
      "description": "Markup Minimum Rates"
    },
    {
      "name": "packageMaterialRates",
      "description": "Package Material Rates"
    },
    {
      "name": "pendingcharges",
      "description": "Pending Charges"
    },
    {
      "name": "pdmrates",
      "description": "Predefined Manual Rates"
    },
    {
      "name": "rates",
      "description": "Rates"
    },
    {
      "name": "rategrids",
      "description": "Rates Grid"
    },
    {
      "name": "ratesheets",
      "description": "Rate Sheets"
    }
  ],
  "components": {
    "schemas": {
      "IInvoiceNumberSettings": {
        "type": "object",
        "required": [
          "settingsFieldType",
          "invoiceNumberContent"
        ],
        "properties": {
          "settingsFieldType": {
            "type": "string",
            "enum": [
              "prefix",
              "suffix",
              "none"
            ]
          },
          "settingsField": {
            "type": "string",
            "enum": [
              "customerName",
              "custom"
            ]
          },
          "customField": {
            "type": "string"
          },
          "invoiceNumberContent": {
            "type": "string",
            "enum": [
              "sequentialNumber",
              "transactionID"
            ]
          },
          "nextInvoiceNumber": {
            "type": "number"
          }
        }
      },
      "IContactInfo": {
        "type": "object",
        "required": [
          "firstName",
          "lastName",
          "email",
          "phone"
        ],
        "properties": {
          "firstName": {
            "type": "string"
          },
          "lastName": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "phone": {
            "type": "string"
          },
          "position": {
            "type": "string"
          }
        }
      },
      "IBillingAddress": {
        "type": "object",
        "required": [
          "address1",
          "city",
          "state",
          "zip",
          "country",
          "companyName"
        ],
        "properties": {
          "address1": {
            "type": "string"
          },
          "address2": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "state": {
            "type": "string"
          },
          "zip": {
            "type": "string"
          },
          "country": {
            "type": "string"
          },
          "region": {
            "type": "string"
          },
          "latitude": {
            "type": "number"
          },
          "longitude": {
            "type": "number"
          },
          "companyName": {
            "type": "string"
          }
        }
      },
      "IConvenienceFeesSettings": {
        "type": "object",
        "required": [
          "CCFeeEnabled",
          "ACHFeeEnabled"
        ],
        "properties": {
          "CCFeeEnabled": {
            "type": "boolean"
          },
          "CCFee": {
            "type": "number"
          },
          "ACHFeeEnabled": {
            "type": "boolean"
          },
          "ACHFee": {
            "type": "number"
          },
          "ACHMaximumFee": {
            "type": "number"
          }
        }
      },
      "INotificationEvent": {
        "type": "object",
        "required": [
          "eventName"
        ],
        "properties": {
          "eventName": {
            "type": "string",
            "enum": [
              "invoicePublished",
              "invoiceDue",
              "invoicePaid"
            ]
          },
          "days": {
            "type": "number"
          }
        }
      },
      "EmailNotification": {
        "type": "object",
        "required": [
          "enabled",
          "addresses"
        ],
        "properties": {
          "enabled": {
            "type": "boolean"
          },
          "addresses": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "SmsNotification": {
        "type": "object",
        "required": [
          "enabled",
          "phoneNumbers"
        ],
        "properties": {
          "enabled": {
            "type": "boolean"
          },
          "phoneNumbers": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "InAppNotification": {
        "type": "object",
        "required": [
          "enabled",
          "userIds"
        ],
        "properties": {
          "enabled": {
            "type": "boolean"
          },
          "userIds": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "NotificationMethods": {
        "type": "object",
        "required": [
          "email",
          "sms",
          "inApp"
        ],
        "properties": {
          "email": {
            "$ref": "#/components/schemas/EmailNotification"
          },
          "sms": {
            "$ref": "#/components/schemas/SmsNotification"
          },
          "inApp": {
            "$ref": "#/components/schemas/InAppNotification"
          }
        }
      },
      "INotificationConfiguration": {
        "type": "object",
        "required": [
          "event",
          "methods"
        ],
        "properties": {
          "event": {
            "$ref": "#/components/schemas/INotificationEvent"
          },
          "methods": {
            "$ref": "#/components/schemas/NotificationMethods"
          }
        }
      },
      "INotificationSettings": {
        "type": "object",
        "required": [
          "sendersName",
          "notificationConfigurations"
        ],
        "properties": {
          "sendersName": {
            "type": "string"
          },
          "notificationConfigurations": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/INotificationConfiguration"
            }
          }
        }
      },
      "IAppBillingOrganization": {
        "type": "object",
        "properties": {
          "payrixMerchantId": {
            "type": "string"
          },
          "payrixApiKey": {
            "type": "string"
          },
          "payrixProducts": {
            "type": "object",
            "properties": {
              "additionalProperties": {
                "type": "string"
              }
            }
          },
          "payrixLoginId": {
            "type": "string"
          },
          "invoiceNumberSettings": {
            "$ref": "#/components/schemas/IInvoiceNumberSettings"
          },
          "class": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "payrixMerchantStatus": {
            "type": "string",
            "enum": [
              "created",
              "boarding",
              "boarded",
              "denied",
              "failed",
              "held"
            ]
          },
          "contact": {
            "$ref": "#/components/schemas/IContactInfo"
          },
          "address": {
            "$ref": "#/components/schemas/IBillingAddress"
          },
          "logo": {
            "type": "string"
          },
          "lastRequestedWmsEventId": {
            "type": "number"
          },
          "lastFetchTimestamp": {
            "type": "number"
          },
          "convenienceFeesSettings": {
            "$ref": "#/components/schemas/IConvenienceFeesSettings"
          },
          "notificationSettings": {
            "$ref": "#/components/schemas/INotificationSettings"
          },
          "canCustomerDownloadInvoiceDetails": {
            "type": "boolean",
            "default": true
          },
          "stripeConnectedAccountId": {
            "type": "string"
          },
          "stripeConnectedAccountStatus": {
            "type": "string",
            "enum": [
              "created",
              "boarded",
              "failed"
            ]
          }
        }
      },
      "GenericError": {
        "type": "object",
        "required": [
          "name",
          "message",
          "stack"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "stack": {
            "type": "string"
          },
          "code": {
            "type": "string"
          }
        }
      },
      "EventError": {
        "description": "Error thrown by function ValidateEvent on class EventValidator",
        "type": "object",
        "required": [
          "errorCode"
        ],
        "properties": {
          "errorCode": {
            "type": "number",
            "description": "The number of the EvErrorCode"
          },
          "paramName": {
            "type": "string",
            "description": "The parameter that triggered the error throw"
          },
          "paramType": {
            "type": "string",
            "description": "The type of the parameter"
          }
        }
      },
      "QueryParameterError": {
        "description": "Error thrown by function ValidatePathParameter on class EventValidator",
        "type": "object",
        "required": [
          "names",
          "errorCode"
        ],
        "properties": {
          "names": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Array containing the string names of the parameters that triggered the error throw"
          },
          "errorCode": {
            "type": "number",
            "description": "The number of the QpErrorCode"
          }
        }
      },
      "OperationError": {
        "description": "Error thrown when an invalid operation is performed",
        "type": "object",
        "required": [
          "errorCode"
        ],
        "properties": {
          "errorCode": {
            "type": "number",
            "description": "The number of the OperationErrorCode"
          },
          "paramName": {
            "type": "string",
            "description": "The name of the parameter that triggered the error throw"
          }
        }
      },
      "ModelValidationError": {
        "description": "Error thrown when an invalid value is submited to a Model",
        "type": "object",
        "properties": {}
      },
      "MismatchedContextOrgError": {
        "description": "Error thrown by a handler when request org and context org are mismatched",
        "type": "object",
        "required": [
          "contextOrgKey",
          "orgKey"
        ],
        "properties": {
          "contextOrgKey": {
            "type": "string",
            "description": "The string key of the context Org",
            "format": "uuid"
          },
          "orgKey": {
            "type": "string",
            "description": "The string key of the request Org",
            "format": "uuid"
          }
        }
      },
      "ValidationIssue": {
        "type": "object",
        "required": [
          "path",
          "modelType",
          "errorCode",
          "value"
        ],
        "properties": {
          "path": {
            "type": "string",
            "description": "The JSON path of the incorrect parameter"
          },
          "modelType": {
            "type": "string",
            "description": "The Model of the schema"
          },
          "errorCode": {
            "type": "number",
            "enum": [
              "invalidValue",
              "requiredValue",
              "invalidType",
              "notAllowed",
              "unknownIssueType",
              0,
              1,
              2,
              3,
              4
            ],
            "description": "The number of the ValidationErrorCode"
          },
          "fieldName": {
            "type": "string",
            "description": "The name of the field that triggered the error throw"
          },
          "value": {
            "description": "The value of the field that triggered the error throw"
          },
          "issueType": {
            "description": "The issueType returned by Joi"
          }
        }
      },
      "ValidationError": {
        "description": "Error thrown by a Validator when the body data is incorrectly structured",
        "type": "object",
        "required": [
          "validationIssues"
        ],
        "properties": {
          "validationIssues": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ValidationIssue"
            },
            "description": "Array containing all ValidationIssue instances identified by the schema"
          }
        }
      },
      "RecordOutOfDateError": {
        "description": "Error thrown by an Accessor when a record is out of date",
        "type": "object",
        "properties": {}
      },
      "TooManyResultsError": {
        "description": "Error thrown when the number of records retrieved from the database exceeds the maximum number of Records per query",
        "type": "object",
        "required": [
          "actualRecordsNum",
          "threasholdNum"
        ],
        "properties": {
          "actualRecordsNum": {
            "type": "number",
            "description": "The actual number of records retrieved from the database"
          },
          "threasholdNum": {
            "type": "number",
            "description": "The threshold number of records that was exceeded"
          }
        }
      },
      "PermissionError": {
        "description": "Error thrown by function ValidatePermissions on class EventValidator",
        "type": "object",
        "properties": {}
      },
      "AppAccessError": {
        "description": "Error thrown by function ValidateAppAccess on class EventValidator",
        "type": "object",
        "required": [
          "app"
        ],
        "properties": {
          "app": {
            "type": "string",
            "description": "The string of the App flag"
          }
        }
      },
      "IProductAccess": {
        "type": "object",
        "properties": {
          "can3pl": {
            "type": "boolean",
            "description": "Can this Org access 3pl Warehouse Manager?"
          },
          "canOrderManager": {
            "type": "boolean",
            "description": "Can this Org access Order Manager Web?"
          },
          "canWarehouseManagerClassicAdmin": {
            "type": "boolean",
            "description": "Can this Org access Warehouse Manager Classic Admin?"
          },
          "canWarehouseManagerUnlimitedAdmin": {
            "type": "boolean",
            "description": "Can this Org access Warehouse Manager Unlimitedd Admin?"
          },
          "canWarehouseManagerCustomerPortal": {
            "type": "boolean",
            "description": "Can this Org access Warehouse Manager Customer Portal?"
          },
          "canWarehouseManagerIntegrations": {
            "type": "boolean",
            "description": "Can this Org access Warehouse Manager Integrations?"
          },
          "canWarehouseManagerMobile": {
            "type": "boolean",
            "description": "Can this Org access Warehouse Manager Mobile?"
          },
          "canWarehouseManagerAccountManager": {
            "type": "boolean",
            "description": "Can this Org access Warehouse Manager Account Manager?"
          },
          "canIntegrationManager": {
            "type": "boolean",
            "description": "Can this Org access Integration Manager?"
          },
          "canBilling": {
            "type": "boolean",
            "description": "Can this Org access Billing?"
          },
          "canNetworkManager": {
            "type": "boolean",
            "description": "Can this Org access Network Manager?"
          },
          "canSignUp": {
            "type": "boolean",
            "description": "Can this Org access 3pl Warehouse Manager Sign Up?"
          },
          "canManagementConsole": {
            "type": "boolean",
            "description": "Can this Org access Management Console?"
          },
          "canAdmin": {
            "type": "boolean",
            "description": "Can this Org access Admin?"
          },
          "canFM": {
            "type": "boolean",
            "description": "Can this Org access Fulfilment?"
          },
          "canSmartScan": {
            "type": "boolean",
            "description": "Can this Org access SmartScan?"
          },
          "canAccountingIntegration": {
            "type": "boolean",
            "description": "Can this Org access Accounting Integration?"
          },
          "canBusinessAnalytics": {
            "type": "boolean",
            "description": "Can this Org access Business Analytics?"
          }
        }
      },
      "IOrgUserSecurity": {
        "type": "object",
        "required": [
          "mfaEnabled"
        ],
        "properties": {
          "mfaEnabled": {
            "type": "boolean"
          }
        }
      },
      "IExternalUser": {
        "type": "object",
        "required": [
          "customerIds",
          "loginUserName"
        ],
        "properties": {
          "userId": {
            "type": "string"
          },
          "roleIds": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "legacyRoleIds": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "facilityIds": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "customerIds": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "loginUserName": {
            "type": "string"
          }
        }
      },
      "IUser": {
        "type": "object",
        "required": [
          "orgKey",
          "userId",
          "defaultAppName",
          "id",
          "email"
        ],
        "properties": {
          "orgKey": {
            "type": "string",
            "format": "uuid"
          },
          "userId": {
            "type": "string",
            "format": "uuid"
          },
          "warehouseManagerUserId": {
            "type": "integer"
          },
          "tplUserId": {
            "type": "string"
          },
          "integrationManagerUserId": {
            "type": "string"
          },
          "orderManagerUserId": {
            "type": "string"
          },
          "defaultAppName": {
            "type": "string",
            "enum": [
              "Hub",
              "Billing",
              "3PLWarehouseManager",
              "OrderManager",
              "NetworkManager",
              "IntegrationManager",
              "WarehouseManagerClassicAdmin",
              "WarehouseManagerUnlimitedAdmin",
              "WarehouseManagerCustomerPortal",
              "WarehouseManagerIntegrations",
              "WarehouseManagerMobile",
              "WarehouseManagerAccountManager",
              "Signup",
              "ManagementConsole",
              "Admin",
              "FulfillmentMarketplace",
              "SmartScan",
              "AccountingIntegration",
              "BusinessAnalytics"
            ],
            "description": "What App the user will be redirected to when they log in"
          },
          "jobTitle": {
            "type": "string"
          },
          "role": {
            "type": "string",
            "format": "uuid",
            "description": "ID of the user's role"
          },
          "productAccess": {
            "$ref": "#/components/schemas/IProductAccess"
          },
          "security": {
            "$ref": "#/components/schemas/IOrgUserSecurity"
          },
          "externalUsers": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/IExternalUser"
            }
          },
          "isC2": {
            "type": "boolean"
          },
          "lastLoginTimestamp": {
            "type": "number"
          },
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "firstName": {
            "type": "string"
          },
          "lastName": {
            "type": "string"
          },
          "defaultOrgKey": {
            "type": "string",
            "format": "uuid",
            "description": "Organization selected when the user logs in"
          },
          "status": {
            "type": "string",
            "enum": [
              "UNCONFIRMED",
              "CONFIRMED",
              "ARCHIVED",
              "COMPROMISED",
              "UNKNOWN",
              "RESET_REQUIRED",
              "FORCE_CHANGE_PASSWORD"
            ]
          },
          "isSuperUser": {
            "type": "boolean"
          },
          "image": {
            "type": "string",
            "format": "uri"
          }
        }
      },
      "ISearchBillingUsersRequest": {
        "type": "object",
        "required": [
          "targetUsers"
        ],
        "properties": {
          "targetUsers": {
            "type": "string",
            "enum": [
              "ALL",
              "C1",
              "C2"
            ]
          },
          "customerIds": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "IChargeDetail": {
        "type": "object",
        "properties": {
          "inboundReferenceNumber": {
            "type": "string"
          },
          "outboundReferenceNumber": {
            "type": "string"
          },
          "trackingNumber": {
            "type": "string"
          },
          "sku": {
            "type": "string"
          },
          "weight": {
            "type": "number"
          },
          "bolNumber": {
            "type": "string"
          },
          "poNumber": {
            "type": "string"
          },
          "lotNumber": {
            "type": "string"
          },
          "serialNumber": {
            "type": "string"
          },
          "muLabel": {
            "type": "string"
          },
          "storageUoM": {
            "type": "string"
          },
          "inventoryUoM": {
            "type": "string"
          },
          "trailerNumber": {
            "type": "string"
          },
          "locationName": {
            "type": "string"
          },
          "itemClassification": {
            "type": "string"
          },
          "itemDescription": {
            "type": "string"
          },
          "unitDescription": {
            "type": "string"
          }
        }
      },
      "IAdjustmentRecord": {
        "type": "object",
        "required": [
          "timestamp",
          "email",
          "change",
          "note"
        ],
        "properties": {
          "timestamp": {
            "type": "number"
          },
          "email": {
            "type": "string"
          },
          "change": {
            "type": "string"
          },
          "note": {
            "type": "string"
          }
        }
      },
      "ICharge": {
        "type": "object",
        "required": [
          "id",
          "orgKey",
          "customerId",
          "customerName",
          "transactionType",
          "category",
          "chargeType",
          "qty",
          "chargePerUnit",
          "total",
          "status",
          "created",
          "confirmDate",
          "chargeDetail",
          "chargeAdjustments",
          "chargeEdits",
          "isPending"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "orgKey": {
            "type": "string",
            "format": "uuid"
          },
          "customerId": {
            "type": "string"
          },
          "customerName": {
            "type": "string"
          },
          "rateId": {
            "type": "string",
            "format": "uuid"
          },
          "eventId": {
            "type": "string",
            "format": "uuid"
          },
          "invoiceId": {
            "type": "string"
          },
          "invoiceNumber": {
            "type": "string"
          },
          "warehouseId": {
            "type": "number"
          },
          "warehouseName": {
            "type": "string"
          },
          "class": {
            "type": "string"
          },
          "transactionId": {
            "type": "number"
          },
          "glAccount": {
            "type": "string"
          },
          "transactionType": {
            "type": "string"
          },
          "category": {
            "type": "string"
          },
          "chargeType": {
            "type": "string"
          },
          "chargeLabel": {
            "type": "string"
          },
          "memo": {
            "type": "string"
          },
          "countingUnit": {
            "type": "string"
          },
          "countingMethod": {
            "type": "string"
          },
          "qty": {
            "type": "number"
          },
          "chargePerUnit": {
            "type": "number"
          },
          "total": {
            "type": "number"
          },
          "status": {
            "type": "string"
          },
          "created": {
            "type": "number"
          },
          "confirmDate": {
            "type": "number"
          },
          "chargeDetail": {
            "$ref": "#/components/schemas/IChargeDetail"
          },
          "chargeAdjustments": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IAdjustmentRecord"
            }
          },
          "chargeEdits": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IAdjustmentRecord"
            }
          },
          "isPending": {
            "type": "boolean"
          },
          "predefinedManualRateId": {
            "type": "string",
            "format": "uuid"
          },
          "transactionCreated": {
            "type": "number"
          },
          "noMarkedUpChargePerUnit": {
            "type": "number"
          }
        }
      },
      "IChargeFilter": {
        "type": "object",
        "properties": {
          "warehouseIds": {
            "type": "array",
            "items": {
              "type": "number"
            }
          },
          "transactionType": {
            "type": "string"
          },
          "creationDate": {
            "type": "object",
            "properties": {
              "from": {
                "type": "number"
              },
              "to": {
                "type": "number"
              }
            }
          },
          "confirmDate": {
            "type": "object",
            "properties": {
              "from": {
                "type": "number"
              },
              "to": {
                "type": "number"
              }
            }
          },
          "statuses": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "invoiceNumber": {
            "type": "string"
          },
          "eventId": {
            "type": "string"
          },
          "transactionId": {
            "type": "number"
          },
          "customerName": {
            "type": "string"
          },
          "customerId": {
            "type": "string"
          },
          "category": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "chargeIds": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "IPaginatedChargeFilter": {
        "type": "object",
        "properties": {
          "filter": {
            "$ref": "#/components/schemas/IChargeFilter"
          },
          "pageSize": {
            "type": "number"
          },
          "pageNumber": {
            "type": "number"
          },
          "sort": {
            "type": "object",
            "properties": {
              "field": {
                "type": "string"
              },
              "order": {
                "type": "string"
              }
            }
          },
          "searchAfter": {
            "type": "array",
            "items": {
              "oneOf": [
                {
                  "type": "number"
                },
                {
                  "type": "string"
                }
              ]
            }
          }
        }
      },
      "OpenSearchResult-ICharge": {
        "type": "object",
        "required": [
          "count",
          "items"
        ],
        "properties": {
          "count": {
            "type": "number",
            "description": "Total results"
          },
          "searchAfter": {
            "type": "array",
            "items": {
              "oneOf": [
                {
                  "type": "number"
                },
                {
                  "type": "string"
                }
              ]
            }
          },
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ICharge"
            }
          }
        }
      },
      "IUpdateCharge": {
        "type": "object",
        "required": [
          "note",
          "charge"
        ],
        "properties": {
          "note": {
            "type": "string"
          },
          "charge": {
            "$ref": "#/components/schemas/ICharge"
          }
        }
      },
      "IBatchEditCharges": {
        "type": "object",
        "required": [
          "chargeIds"
        ],
        "properties": {
          "chargeIds": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid"
            }
          },
          "transactionType": {
            "type": "string"
          },
          "category": {
            "type": "string"
          },
          "transactionId": {
            "type": "number"
          },
          "trackingNumber": {
            "type": "string"
          },
          "glAccount": {
            "type": "string"
          },
          "status": {
            "type": "string"
          }
        }
      },
      "IBatchEditChargesStatus": {
        "type": "object",
        "required": [
          "filter",
          "status"
        ],
        "properties": {
          "filter": {
            "$ref": "#/components/schemas/IChargeFilter"
          },
          "status": {
            "type": "string"
          }
        }
      },
      "IErrorSummary": {
        "type": "object",
        "required": [
          "code",
          "count"
        ],
        "properties": {
          "code": {
            "type": "number",
            "enum": [
              "unknown",
              "alreadyInvoicedCharge",
              "chargeDoesNotExist",
              "missingParam",
              0,
              1,
              2,
              3
            ]
          },
          "count": {
            "type": "number"
          },
          "paramName": {
            "type": "string"
          }
        }
      },
      "BatchOperationSummary": {
        "type": "object",
        "required": [
          "totalOperations",
          "successfulOperations",
          "errors"
        ],
        "properties": {
          "totalOperations": {
            "type": "number"
          },
          "successfulOperations": {
            "type": "number"
          },
          "errors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IErrorSummary"
            }
          }
        }
      },
      "IInvoiceCreate": {
        "type": "object",
        "required": [
          "ids",
          "invoiceOption",
          "ignoreChargeStatus"
        ],
        "properties": {
          "ids": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "invoiceOption": {
            "type": "string",
            "enum": [
              "all",
              "transaction",
              "transactionType",
              "category",
              "warehouse"
            ]
          },
          "ignoreChargeStatus": {
            "type": "boolean"
          }
        }
      },
      "IInvoiceCreateFromFilter": {
        "type": "object",
        "required": [
          "filter",
          "invoiceOption"
        ],
        "properties": {
          "filter": {
            "$ref": "#/components/schemas/IChargeFilter"
          },
          "invoiceOption": {
            "type": "string",
            "enum": [
              "all",
              "transaction",
              "transactionType",
              "category",
              "warehouse"
            ]
          },
          "ignoreChargeStatus": {
            "type": "boolean"
          }
        }
      },
      "IRecalculateChargesFilter": {
        "type": "object",
        "properties": {
          "date": {
            "type": "object",
            "properties": {
              "from": {
                "type": "number"
              },
              "to": {
                "type": "number"
              }
            }
          },
          "transactionId": {
            "type": "number"
          },
          "wmsCustomerId": {
            "type": "number"
          }
        }
      },
      "IChargeUpdateJobResponse": {
        "type": "object",
        "properties": {}
      },
      "ICustomerWarehouse": {
        "type": "object",
        "required": [
          "name",
          "id",
          "measurementStandard",
          "timezone"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "measurementStandard": {
            "type": "string"
          },
          "timezone": {
            "type": "string"
          }
        }
      },
      "ICustomerSummary": {
        "type": "object",
        "required": [
          "id",
          "orgKey",
          "customerId",
          "customerName",
          "warehouses"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "orgKey": {
            "type": "string",
            "format": "uuid"
          },
          "customerId": {
            "type": "number"
          },
          "customerName": {
            "type": "string"
          },
          "warehouses": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ICustomerWarehouse"
            }
          }
        }
      },
      "IGlAccountCategoryOverrides": {
        "type": "object",
        "required": [
          "category",
          "glAccount"
        ],
        "properties": {
          "category": {
            "type": "string"
          },
          "glAccount": {
            "type": "string"
          }
        }
      },
      "IGlAccountTransactionOverrides": {
        "type": "object",
        "required": [
          "transactionType",
          "glAccount",
          "categoryOverrides"
        ],
        "properties": {
          "transactionType": {
            "type": "string"
          },
          "glAccount": {
            "type": "string"
          },
          "categoryOverrides": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IGlAccountCategoryOverrides"
            }
          }
        }
      },
      "ICustomerGlAccountSettings": {
        "type": "object",
        "required": [
          "transactionOverrides"
        ],
        "properties": {
          "defaultGlAccount": {
            "type": "string"
          },
          "transactionOverrides": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IGlAccountTransactionOverrides"
            }
          }
        }
      },
      "ICustomerAddress": {
        "type": "object",
        "required": [
          "addr1",
          "addr2",
          "city",
          "state",
          "zip",
          "country"
        ],
        "properties": {
          "addr1": {
            "type": "string"
          },
          "addr2": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "state": {
            "type": "string"
          },
          "zip": {
            "type": "string"
          },
          "country": {
            "type": "string"
          },
          "contactName": {
            "type": "string"
          },
          "contactPhone": {
            "type": "string"
          },
          "contactEmail": {
            "type": "string",
            "format": "email"
          }
        }
      },
      "ICustomerConvenienceFeesSettings": {
        "type": "object",
        "required": [
          "CCFeeEnabled",
          "ACHFeeEnabled"
        ],
        "properties": {
          "CCFeeEnabled": {
            "type": "boolean"
          },
          "ACHFeeEnabled": {
            "type": "boolean"
          }
        }
      },
      "ISettings": {
        "type": "object",
        "required": [
          "glAccountSettings",
          "primaryAddress",
          "allowCCPayment",
          "allowACHPayment",
          "paymentTerm",
          "autoInvoice"
        ],
        "properties": {
          "glAccountSettings": {
            "$ref": "#/components/schemas/ICustomerGlAccountSettings"
          },
          "primaryAddress": {
            "$ref": "#/components/schemas/ICustomerAddress"
          },
          "secondaryAddress": {
            "$ref": "#/components/schemas/ICustomerAddress"
          },
          "payrixCustomerId": {
            "type": "string"
          },
          "invoiceNumberSettings": {
            "$ref": "#/components/schemas/IInvoiceNumberSettings"
          },
          "allowCCPayment": {
            "type": "boolean"
          },
          "allowACHPayment": {
            "type": "boolean"
          },
          "paymentTerm": {
            "type": "number"
          },
          "autoInvoice": {
            "type": "boolean"
          },
          "autoInvoiceSettings": {
            "$ref": "#/components/schemas/IInvoiceNumberSettings"
          },
          "convenienceFeesSettings": {
            "$ref": "#/components/schemas/ICustomerConvenienceFeesSettings"
          },
          "notificationSettings": {
            "$ref": "#/components/schemas/INotificationConfiguration"
          },
          "stripeCustomerId": {
            "type": "string"
          }
        }
      },
      "ICustomerSettings": {
        "type": "object",
        "required": [
          "id",
          "orgKey",
          "customerId",
          "customerName",
          "settings",
          "warehouses"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "orgKey": {
            "type": "string",
            "format": "uuid"
          },
          "customerId": {
            "type": "number"
          },
          "customerName": {
            "type": "string"
          },
          "settings": {
            "$ref": "#/components/schemas/ISettings"
          },
          "warehouses": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ICustomerWarehouse"
            }
          }
        }
      },
      "IRateReference": {
        "type": "object",
        "required": [
          "rateId",
          "rateType"
        ],
        "properties": {
          "rateId": {
            "type": "string",
            "format": "uuid"
          },
          "rateType": {
            "type": "string",
            "enum": [
              "perTransactionRate",
              "packageMaterialRate",
              "markupRate",
              "minimumRate",
              "predefinedManualRate",
              "recurringFlatRate"
            ]
          }
        }
      },
      "IAssignmentsRates": {
        "type": "object",
        "required": [
          "rates",
          "rateSheetIds"
        ],
        "properties": {
          "rates": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IRateReference"
            }
          },
          "rateSheetIds": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid"
            }
          }
        }
      },
      "IAssignments": {
        "description": "Supports additional properties with format [Property Name as string]: IAssignmentsRates",
        "type": "object",
        "required": [
          "default"
        ],
        "properties": {
          "default": {
            "$ref": "#/components/schemas/IAssignmentsRates"
          }
        }
      },
      "ICustomerAssignmentDetail": {
        "type": "object",
        "required": [
          "id",
          "orgKey",
          "customerId",
          "customerName",
          "warehouses",
          "assignments"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "orgKey": {
            "type": "string",
            "format": "uuid"
          },
          "customerId": {
            "type": "number"
          },
          "customerName": {
            "type": "string"
          },
          "warehouses": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ICustomerWarehouse"
            }
          },
          "assignments": {
            "$ref": "#/components/schemas/IAssignments"
          }
        }
      },
      "IRegisterWarehouse": {
        "type": "object",
        "required": [
          "oc1OrgKey",
          "oc1CustomerId",
          "sc1TplGuid",
          "sc1WarehouseId",
          "name"
        ],
        "properties": {
          "oc1OrgKey": {
            "type": "string",
            "format": "uuid"
          },
          "oc1CustomerId": {
            "type": "number",
            "description": "Owning C1 3W customer Id"
          },
          "sc1TplGuid": {
            "type": "string",
            "format": "uuid"
          },
          "sc1WarehouseId": {
            "type": "number",
            "description": "Servicing C1 3W warehouse Id"
          },
          "name": {
            "type": "string"
          }
        }
      },
      "IRateSummary": {
        "type": "object",
        "required": [
          "id",
          "name",
          "rateType",
          "description",
          "transactionType"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "rateType": {
            "type": "string",
            "enum": [
              "perTransactionRate",
              "packageMaterialRate",
              "markupRate",
              "minimumRate",
              "predefinedManualRate",
              "recurringFlatRate"
            ]
          },
          "description": {
            "type": "string"
          },
          "transactionType": {
            "type": "string"
          },
          "customerId": {
            "type": "string"
          },
          "chargeLabel": {
            "type": "string"
          },
          "class": {
            "type": "string"
          }
        }
      },
      "IRateSheetSummary": {
        "type": "object",
        "required": [
          "id",
          "name",
          "description",
          "rateSummaries"
        ],
        "properties": {
          "id": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid"
            }
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "rateSummaries": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IRateSummary"
            }
          }
        }
      },
      "ICustomerRatesSummary": {
        "type": "object",
        "required": [
          "rateSheetSummaries",
          "rateSummaries"
        ],
        "properties": {
          "rateSheetSummaries": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IRateSheetSummary"
            }
          },
          "rateSummaries": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IRateSummary"
            }
          }
        }
      },
      "ICustomer": {
        "type": "object",
        "required": [
          "id",
          "orgKey",
          "customerId",
          "customerName",
          "warehouses",
          "settings",
          "tplGuid",
          "lastUpdateDate",
          "deactivated"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "orgKey": {
            "type": "string",
            "format": "uuid"
          },
          "customerId": {
            "type": "number"
          },
          "customerName": {
            "type": "string"
          },
          "warehouses": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ICustomerWarehouse"
            }
          },
          "settings": {
            "$ref": "#/components/schemas/ISettings"
          },
          "tplGuid": {
            "type": "string"
          },
          "lastUpdateDate": {
            "type": "number"
          },
          "deactivated": {
            "type": "boolean"
          }
        }
      },
      "IWallet": {
        "type": "object",
        "required": [
          "id",
          "orgKey",
          "customerId",
          "isC2",
          "addedBy",
          "paymentType",
          "paymentInfo",
          "paymentToken",
          "paymentTokenId",
          "paymentProvider"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "orgKey": {
            "type": "string",
            "format": "uuid"
          },
          "customerId": {
            "type": "string"
          },
          "isC2": {
            "type": "number"
          },
          "addedBy": {
            "type": "string",
            "format": "email"
          },
          "sharedWith": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "email"
            }
          },
          "nickname": {
            "type": "string"
          },
          "expirationDate": {
            "type": "string"
          },
          "paymentType": {
            "type": "string",
            "enum": [
              "ACH",
              "CC",
              "ACH Refund",
              "Chargeback",
              "Offline"
            ]
          },
          "paymentInfo": {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "Visa",
                  "MasterCard",
                  "Amex",
                  "Bank Account",
                  "Diners",
                  "Discover"
                ]
              },
              "last4": {
                "type": "string"
              },
              "firstName": {
                "type": "string"
              },
              "lastName": {
                "type": "string"
              },
              "zip": {
                "type": "string"
              }
            }
          },
          "paymentToken": {
            "type": "string"
          },
          "paymentTokenId": {
            "type": "string"
          },
          "paymentTransactionId": {
            "type": "string"
          },
          "paymentProvider": {
            "type": "string",
            "enum": [
              "payrix",
              "stripe",
              "quickbooks_online",
              "quickbooks_desktop",
              "billing_app"
            ]
          }
        }
      },
      "ICustomerOverride": {
        "type": "object",
        "required": [
          "isOverridden",
          "name",
          "id",
          "rateSheets",
          "rates"
        ],
        "properties": {
          "isOverridden": {
            "type": "boolean"
          },
          "name": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "rateSheets": {
            "type": "number"
          },
          "rates": {
            "type": "number"
          }
        }
      },
      "ICustomerAssignmentSummary": {
        "type": "object",
        "required": [
          "id",
          "customerId",
          "customerName",
          "rateSheets",
          "rates",
          "overrides"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "customerId": {
            "type": "number"
          },
          "customerName": {
            "type": "string"
          },
          "rateSheets": {
            "type": "number"
          },
          "rates": {
            "type": "number"
          },
          "overrides": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ICustomerOverride"
            }
          }
        }
      },
      "IInvoicePaymentDetail": {
        "type": "object",
        "required": [
          "paymentProvider",
          "paymentType",
          "appliedToInvoiceAmount"
        ],
        "properties": {
          "paymentProvider": {
            "type": "string",
            "enum": [
              "payrix",
              "stripe",
              "quickbooks_online",
              "quickbooks_desktop",
              "billing_app"
            ]
          },
          "paymentType": {
            "type": "string",
            "enum": [
              "ACH",
              "CC",
              "ACH Refund",
              "Chargeback",
              "Offline"
            ]
          },
          "appliedToInvoiceAmount": {
            "type": "number"
          },
          "convenienceFeeAmount": {
            "type": "number"
          },
          "totalPaid": {
            "type": "number"
          },
          "paymentProviderFeeAmount": {
            "type": "number"
          },
          "transactionId": {
            "type": "string"
          },
          "last4": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "Visa",
              "MasterCard",
              "Amex",
              "Bank Account",
              "Diners",
              "Discover"
            ]
          },
          "paidBy": {
            "type": "string"
          }
        }
      },
      "IAttachmentFile": {
        "type": "object",
        "properties": {}
      },
      "IInvoice": {
        "type": "object",
        "required": [
          "id",
          "orgKey",
          "customerId",
          "customerName",
          "number",
          "total",
          "chargeCount",
          "createdDate",
          "dueDate",
          "status"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "orgKey": {
            "type": "string",
            "format": "uuid"
          },
          "customerId": {
            "type": "string",
            "format": "uuid"
          },
          "customerName": {
            "type": "string"
          },
          "number": {
            "type": "string"
          },
          "total": {
            "type": "number"
          },
          "openBalance": {
            "type": "number"
          },
          "chargeCount": {
            "type": "number"
          },
          "createdDate": {
            "type": "number"
          },
          "unpublishDate": {
            "type": "number"
          },
          "invoiceDate": {
            "type": "number"
          },
          "dueDate": {
            "type": "number"
          },
          "paidDate": {
            "type": "number"
          },
          "status": {
            "type": "string",
            "enum": [
              "unpublished",
              "published"
            ]
          },
          "pdfStatus": {
            "type": "string",
            "enum": [
              "done",
              "inProgress",
              "failed"
            ]
          },
          "lastPdfTimestamp": {
            "type": "number"
          },
          "updatedAt": {
            "type": "number"
          },
          "reportingDate": {
            "type": "number"
          },
          "summary": {
            "type": "object"
          },
          "paymentStatus": {
            "type": "string",
            "enum": [
              "full",
              "partial",
              "open"
            ]
          },
          "paymentDetails": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IInvoicePaymentDetail"
            }
          },
          "attachments": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IAttachmentFile"
            }
          }
        }
      },
      "IPublishInvoices": {
        "type": "object",
        "required": [
          "invoiceIds"
        ],
        "properties": {
          "invoiceIds": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid"
            }
          }
        }
      },
      "IUnpublishInvoices": {
        "type": "object",
        "required": [
          "invoiceIds"
        ],
        "properties": {
          "invoiceIds": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid"
            }
          }
        }
      },
      "IDeleteInvoices": {
        "type": "object",
        "required": [
          "invoiceIds"
        ],
        "properties": {
          "invoiceIds": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid"
            }
          }
        }
      },
      "IInvoiceFilter": {
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string"
          },
          "customerIds": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid"
            }
          },
          "customerName": {
            "type": "string"
          },
          "invoiceNumber": {
            "type": "string"
          },
          "creationDate": {
            "type": "object",
            "properties": {
              "from": {
                "type": "number"
              },
              "to": {
                "type": "number"
              }
            }
          },
          "invoiceDate": {
            "type": "object",
            "properties": {
              "from": {
                "type": "number"
              },
              "to": {
                "type": "number"
              }
            }
          },
          "dueDate": {
            "type": "object",
            "properties": {
              "from": {
                "type": "number"
              },
              "to": {
                "type": "number"
              }
            }
          },
          "amount": {
            "type": "object",
            "properties": {
              "from": {
                "type": "number"
              },
              "to": {
                "type": "number"
              }
            }
          },
          "invoiceStatuses": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "unpublished",
                "published"
              ]
            }
          },
          "billingStatuses": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "open",
                "paid",
                "overdue"
              ]
            }
          },
          "invoiceIds": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid"
            }
          }
        }
      },
      "IPaginatedInvoiceFilter": {
        "type": "object",
        "properties": {
          "filter": {
            "$ref": "#/components/schemas/IInvoiceFilter"
          },
          "pageSize": {
            "type": "number"
          },
          "pageNumber": {
            "type": "number"
          },
          "sort": {
            "type": "object",
            "properties": {
              "field": {
                "type": "string",
                "enum": [
                  "customerName",
                  "invoiceNumber",
                  "createdDate",
                  "invoiceDate",
                  "dueDate",
                  "paidDate",
                  "total"
                ]
              },
              "order": {
                "type": "string"
              }
            }
          }
        }
      },
      "OpenSearchResult-IInvoice": {
        "type": "object",
        "required": [
          "count",
          "items"
        ],
        "properties": {
          "count": {
            "type": "number",
            "description": "Total results"
          },
          "searchAfter": {
            "type": "array",
            "items": {
              "oneOf": [
                {
                  "type": "number"
                },
                {
                  "type": "string"
                }
              ]
            }
          },
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IInvoice"
            }
          }
        }
      },
      "IPayInvoicesStripeTransaction": {
        "type": "object",
        "required": [
          "transactionId",
          "totalPaid",
          "paymentType",
          "paymentProvider"
        ],
        "properties": {
          "transactionId": {
            "type": "string"
          },
          "totalPaid": {
            "type": "number"
          },
          "paymentType": {
            "type": "string",
            "enum": [
              "ACH",
              "CC",
              "ACH Refund",
              "Chargeback",
              "Offline"
            ]
          },
          "paymentProvider": {
            "type": "string"
          }
        }
      },
      "IPayInvoicesPayrixTransaction": {
        "type": "object",
        "required": [
          "transactionId",
          "totalPaid",
          "paymentType",
          "last4",
          "paymentProvider"
        ],
        "properties": {
          "transactionId": {
            "type": "string"
          },
          "totalPaid": {
            "type": "number"
          },
          "paymentType": {
            "type": "string",
            "enum": [
              "ACH",
              "CC",
              "ACH Refund",
              "Chargeback",
              "Offline"
            ]
          },
          "last4": {
            "type": "string"
          },
          "paymentProvider": {
            "type": "string",
            "enum": [
              "payrix",
              "stripe",
              "quickbooks_online",
              "quickbooks_desktop",
              "billing_app"
            ]
          }
        }
      },
      "IPayInvoices": {
        "type": "object",
        "required": [
          "invoiceIds"
        ],
        "properties": {
          "invoiceIds": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid"
            }
          },
          "walletId": {
            "type": "string",
            "format": "uuid"
          },
          "transaction": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/IPayInvoicesStripeTransaction"
              },
              {
                "$ref": "#/components/schemas/IPayInvoicesPayrixTransaction"
              }
            ]
          }
        }
      },
      "IUpdateInvoiceCharges": {
        "type": "object",
        "required": [
          "chargeIds",
          "ignoreChargeStatus"
        ],
        "properties": {
          "chargeIds": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid"
            }
          },
          "ignoreChargeStatus": {
            "type": "boolean"
          }
        }
      },
      "IAddChargesToInvoiceFromFilter": {
        "type": "object",
        "required": [
          "filter",
          "ignoreChargeStatus"
        ],
        "properties": {
          "filter": {
            "$ref": "#/components/schemas/IChargeFilter"
          },
          "ignoreChargeStatus": {
            "type": "boolean"
          }
        }
      },
      "IPDFData": {
        "type": "object",
        "required": [
          "invoice",
          "customer",
          "orgData",
          "invoiceSummary"
        ],
        "properties": {
          "invoice": {
            "type": "object"
          },
          "customer": {
            "type": "object"
          },
          "orgData": {
            "type": "object"
          },
          "invoiceSummary": {
            "type": "object"
          },
          "invoiceDetail": {
            "type": "object"
          }
        }
      },
      "IEventOperator": {
        "type": "object",
        "required": [
          "opType",
          "conditionalField",
          "jsonpath"
        ],
        "properties": {
          "opType": {
            "type": "string",
            "enum": [
              "logic",
              "event",
              "value"
            ]
          },
          "conditionalField": {
            "type": "string",
            "enum": [
              "asnsentdate",
              "earliestshipdatetime",
              "createdate",
              "confirmdate",
              "endofdayrequestdate",
              "itemclassification",
              "countryoforigin",
              "hazardousmaterial",
              "moveableunit",
              "hazardousmaterialflag",
              "capacitytype",
              "createsource",
              "retailerid",
              "shipservice",
              "warehouse",
              "totalprimaryqty",
              "totalsecondaryqty",
              "primaryqty",
              "secondaryqty",
              "discountamount",
              "subtotal",
              "tax",
              "weightlb",
              "weightkg",
              "totalmus",
              "carrier",
              "lotnumber",
              "qualifier",
              "shiptocompany",
              "shiptostate",
              "shiptocountry",
              "class",
              "expectedarrivaldate",
              "mutype",
              "primaryuntis",
              "secondaryunits",
              "supplier",
              "landedcost",
              "numberofpalletized",
              "totalvolume",
              "totalweight",
              "volume",
              "numberofpackagedunits",
              "qty",
              "totalqty",
              "baseqty",
              "transactionentrytype",
              "referencenumber",
              "sku",
              "fulfillmenttime",
              "ponumber",
              "assemblysku"
            ]
          },
          "jsonpath": {
            "type": "string"
          }
        }
      },
      "IDateContext": {
        "type": "object",
        "required": [
          "type"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "datetime",
              "dayofmonth",
              "dayofweek",
              "timeofday"
            ]
          }
        }
      },
      "ICarrierContext": {
        "type": "object",
        "required": [
          "type"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "select",
              "input",
              "combined"
            ]
          }
        }
      },
      "IValueOperator": {
        "type": "object",
        "required": [
          "opType",
          "value"
        ],
        "properties": {
          "opType": {
            "type": "string",
            "enum": [
              "logic",
              "event",
              "value"
            ]
          },
          "dataType": {
            "type": "string",
            "enum": [
              "string",
              "number",
              "boolean",
              "tuple"
            ]
          },
          "displayType": {
            "type": "string",
            "enum": [
              "string",
              "number",
              "boolean",
              "datetime",
              "list<strings>",
              "list<numbers>",
              "carrier"
            ]
          },
          "value": {
            "type": "string"
          },
          "context": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/IDateContext"
              },
              {
                "$ref": "#/components/schemas/ICarrierContext"
              }
            ]
          }
        }
      },
      "ILogicOperator": {
        "type": "object",
        "required": [
          "opType",
          "operation",
          "operands"
        ],
        "properties": {
          "opType": {
            "type": "string",
            "enum": [
              "logic",
              "event",
              "value"
            ]
          },
          "operation": {
            "type": "string",
            "enum": [
              "noop",
              "equal",
              "notequal",
              "greaterthan",
              "greaterthanorequal",
              "lessthan",
              "lessthanorequal",
              "between",
              "beginswith",
              "endswith",
              "contains",
              "doesnotcontain",
              "not",
              "and",
              "or",
              "xor"
            ]
          },
          "operands": {
            "type": "array",
            "items": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/IEventOperator"
                },
                {
                  "$ref": "#/components/schemas/IValueOperator"
                },
                {
                  "$ref": "#/components/schemas/ILogicOperator"
                }
              ]
            }
          }
        }
      },
      "IMarkupMinimumCondition": {
        "type": "object",
        "required": [
          "condition",
          "markupMinimumDefinition"
        ],
        "properties": {
          "condition": {
            "$ref": "#/components/schemas/ILogicOperator"
          },
          "markupMinimumDefinition": {
            "type": "object"
          }
        }
      },
      "IMarkupMinimumRateDetail": {
        "type": "object",
        "required": [
          "conditions"
        ],
        "properties": {
          "conditions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IMarkupMinimumCondition"
            }
          }
        }
      },
      "IAssignedCustomerReference": {
        "type": "object",
        "required": [
          "name",
          "id"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "id": {
            "type": "string"
          }
        }
      },
      "IAssignedRateSheetReference": {
        "type": "object",
        "required": [
          "name",
          "id"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "id": {
            "type": "string"
          }
        }
      },
      "IMarkupMinimumRate": {
        "type": "object",
        "required": [
          "id",
          "orgKey",
          "name",
          "description",
          "transactionType",
          "category",
          "rateType",
          "detail"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "orgKey": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "chargeLabel": {
            "type": "string"
          },
          "class": {
            "type": "string"
          },
          "transactionType": {
            "type": "string"
          },
          "category": {
            "type": "string"
          },
          "rateType": {
            "type": "string",
            "enum": [
              "markupRate",
              "minimumRate"
            ]
          },
          "detail": {
            "$ref": "#/components/schemas/IMarkupMinimumRateDetail"
          },
          "glAccount": {
            "type": "string"
          },
          "customerId": {
            "type": "string"
          },
          "assignedCustomers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IAssignedCustomerReference"
            }
          },
          "assignedRateSheets": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IAssignedRateSheetReference"
            }
          }
        }
      },
      "ICustomizeRateRequest": {
        "type": "object",
        "required": [
          "rateId",
          "customerId",
          "name",
          "description",
          "chargeLabel"
        ],
        "properties": {
          "rateId": {
            "type": "string",
            "format": "uuid"
          },
          "customerId": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "chargeLabel": {
            "type": "string"
          }
        }
      },
      "IDuplicateRateRequest": {
        "type": "object",
        "required": [
          "name",
          "description",
          "chargeLabel"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "chargeLabel": {
            "type": "string"
          }
        }
      },
      "IPackageMaterialRate": {
        "type": "object",
        "required": [
          "id",
          "orgKey",
          "name",
          "description",
          "transactionType",
          "category",
          "rateType"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "orgKey": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "chargeLabel": {
            "type": "string"
          },
          "class": {
            "type": "string"
          },
          "transactionType": {
            "type": "string",
            "enum": [
              "Shipping"
            ]
          },
          "category": {
            "type": "string"
          },
          "rateType": {
            "type": "string",
            "enum": [
              "packageMaterialRate"
            ]
          },
          "glAccount": {
            "type": "string"
          },
          "customerId": {
            "type": "string"
          },
          "assignedCustomers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IAssignedCustomerReference"
            }
          },
          "assignedRateSheets": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IAssignedRateSheetReference"
            }
          }
        }
      },
      "IPendingChargeDetail": {
        "type": "object",
        "properties": {
          "inboundReferenceNumber": {
            "type": "string"
          },
          "outboundReferenceNumber": {
            "type": "string"
          },
          "trackingNumber": {
            "type": "string"
          },
          "sku": {
            "type": "string"
          },
          "weight": {
            "type": "number"
          },
          "bolNumber": {
            "type": "string"
          },
          "poNumber": {
            "type": "string"
          },
          "lotNumber": {
            "type": "string"
          },
          "serialNumber": {
            "type": "string"
          },
          "muLabel": {
            "type": "string"
          },
          "storageUoM": {
            "type": "string"
          },
          "inventoryUoM": {
            "type": "string"
          },
          "trailerNumber": {
            "type": "string"
          },
          "locationName": {
            "type": "string"
          },
          "itemClassification": {
            "type": "string"
          }
        }
      },
      "IPendingCharge": {
        "type": "object",
        "required": [
          "id",
          "orgKey",
          "customerId",
          "customerName",
          "transactionType",
          "category",
          "chargeType",
          "chargePerUnit",
          "status",
          "created",
          "confirmDate",
          "chargeDetail",
          "chargeAdjustments",
          "chargeEdits"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "orgKey": {
            "type": "string",
            "format": "uuid"
          },
          "customerId": {
            "type": "string"
          },
          "customerName": {
            "type": "string"
          },
          "warehouseId": {
            "type": "number"
          },
          "warehouseName": {
            "type": "string"
          },
          "class": {
            "type": "string"
          },
          "transactionId": {
            "type": "number"
          },
          "glAccount": {
            "type": "string"
          },
          "transactionType": {
            "type": "string"
          },
          "category": {
            "type": "string"
          },
          "chargeType": {
            "type": "string"
          },
          "chargeLabel": {
            "type": "string"
          },
          "memo": {
            "type": "string"
          },
          "countingUnit": {
            "type": "string"
          },
          "qty": {
            "type": "number"
          },
          "chargePerUnit": {
            "type": "number"
          },
          "total": {
            "type": "number"
          },
          "status": {
            "type": "string"
          },
          "created": {
            "type": "number"
          },
          "confirmDate": {
            "type": "number"
          },
          "chargeDetail": {
            "$ref": "#/components/schemas/IPendingChargeDetail"
          },
          "chargeAdjustments": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IAdjustmentRecord"
            }
          },
          "chargeEdits": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IAdjustmentRecord"
            }
          },
          "predefinedChargeId": {
            "type": "string",
            "format": "uuid"
          },
          "predefinedManualRateId": {
            "type": "string",
            "format": "uuid"
          },
          "deleteAt": {
            "type": "number"
          }
        }
      },
      "IUpdatePendingCharge": {
        "type": "object",
        "required": [
          "note",
          "charge"
        ],
        "properties": {
          "note": {
            "type": "string"
          },
          "charge": {
            "$ref": "#/components/schemas/IPendingCharge"
          }
        }
      },
      "IPredefinedManualRateDetail": {
        "type": "object",
        "required": [
          "required",
          "chargePerUnit"
        ],
        "properties": {
          "required": {
            "type": "boolean"
          },
          "chargePerUnit": {
            "type": "number"
          }
        }
      },
      "IPredefinedManualRate": {
        "type": "object",
        "required": [
          "id",
          "orgKey",
          "name",
          "description",
          "transactionType",
          "category",
          "rateType",
          "detail"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "orgKey": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "chargeLabel": {
            "type": "string"
          },
          "class": {
            "type": "string"
          },
          "transactionType": {
            "type": "string"
          },
          "category": {
            "type": "string"
          },
          "rateType": {
            "type": "string",
            "enum": [
              "predefinedManualRate"
            ]
          },
          "detail": {
            "$ref": "#/components/schemas/IPredefinedManualRateDetail"
          },
          "glAccount": {
            "type": "string"
          },
          "customerId": {
            "type": "string"
          },
          "assignedCustomers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IAssignedCustomerReference"
            }
          },
          "assignedRateSheets": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IAssignedRateSheetReference"
            }
          }
        }
      },
      "IChargeMethod": {
        "type": "object",
        "required": [
          "chargeType",
          "countingUnit",
          "calculatedBy"
        ],
        "properties": {
          "chargeType": {
            "type": "string",
            "enum": [
              "flat"
            ]
          },
          "countingUnit": {
            "type": "string",
            "enum": [
              "actualtotal",
              "baseqty",
              "controltotal",
              "hundredweight",
              "itemclass",
              "lineitems",
              "location",
              "lot",
              "mu",
              "moveableunits",
              "number",
              "numberofpackagedunits",
              "numberofpalletized",
              "numunits1",
              "numunits2",
              "packagingunits",
              "primaryunits",
              "qty",
              "secondaryunits",
              "shortton",
              "sku",
              "totalmus",
              "totalpackages",
              "totalqty",
              "totalvolume",
              "totalweight",
              "transaction",
              "unique",
              "uniquemulabels",
              "volume",
              "totalkits"
            ]
          },
          "calculatedBy": {
            "type": "string",
            "enum": [
              "count",
              "countlessotheruoms",
              "hundredweight",
              "shortton",
              "volume",
              "weight",
              "areasqft",
              "areasqm"
            ]
          },
          "roundUp": {
            "type": "boolean"
          }
        }
      },
      "IUomChargeMethod": {
        "type": "object",
        "properties": {
          "primaryUnitsChargeAmount": {
            "type": "number"
          },
          "secondaryUnitsChargeAmount": {
            "type": "number"
          },
          "packagingUnitsChargeAmount": {
            "type": "number"
          },
          "movableUnitsChargeAmount": {
            "type": "number"
          }
        }
      },
      "IChargeTier": {
        "type": "object",
        "required": [
          "operator",
          "from",
          "chargeAmount"
        ],
        "properties": {
          "operator": {
            "type": "string",
            "enum": [
              "noop",
              "between",
              "lessthanorequal",
              "greaterthan"
            ]
          },
          "from": {
            "type": "number"
          },
          "to": {
            "type": "number"
          },
          "chargeAmount": {
            "type": "number"
          }
        }
      },
      "IChargeTiers": {
        "type": "object",
        "required": [
          "type",
          "tiers"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "graduated",
              "absolute"
            ]
          },
          "resetBy": {
            "type": "string",
            "enum": [
              "location",
              "lot",
              "sku",
              "itemclassification"
            ]
          },
          "tiers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IChargeTier"
            }
          },
          "chargeMinimumAmount": {
            "type": "number"
          }
        }
      },
      "ICondition": {
        "type": "object",
        "required": [
          "condition"
        ],
        "properties": {
          "condition": {
            "$ref": "#/components/schemas/ILogicOperator"
          },
          "chargeMethod": {
            "$ref": "#/components/schemas/IChargeMethod"
          },
          "uomChargeMethod": {
            "$ref": "#/components/schemas/IUomChargeMethod"
          },
          "chargeTiers": {
            "$ref": "#/components/schemas/IChargeTiers"
          }
        }
      },
      "IGroupingAndMinimums": {
        "type": "object",
        "required": [
          "applyMinimumToGroup"
        ],
        "properties": {
          "groupChargesBy": {
            "type": "string",
            "enum": [
              "location",
              "lot",
              "sku",
              "itemclassification"
            ]
          },
          "minimumChargeAmount": {
            "type": "number"
          },
          "applyMinimumToGroup": {
            "type": "boolean"
          }
        }
      },
      "IRateDetail": {
        "type": "object",
        "required": [
          "conditions",
          "groupingAndMins"
        ],
        "properties": {
          "conditions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ICondition"
            }
          },
          "groupingAndMins": {
            "$ref": "#/components/schemas/IGroupingAndMinimums"
          }
        }
      },
      "IPerTransactionRate": {
        "type": "object",
        "required": [
          "id",
          "orgKey",
          "name",
          "description",
          "transactionType",
          "category",
          "rateType",
          "detail"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "orgKey": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "chargeLabel": {
            "type": "string"
          },
          "class": {
            "type": "string"
          },
          "transactionType": {
            "type": "string"
          },
          "category": {
            "type": "string"
          },
          "rateType": {
            "type": "string",
            "enum": [
              "perTransactionRate"
            ]
          },
          "detail": {
            "$ref": "#/components/schemas/IRateDetail"
          },
          "isUomCountRate": {
            "type": "boolean"
          },
          "glAccount": {
            "type": "string"
          },
          "customerId": {
            "type": "string"
          },
          "assignedCustomers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IAssignedCustomerReference"
            }
          },
          "assignedRateSheets": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IAssignedRateSheetReference"
            }
          }
        }
      },
      "IRateSearch": {
        "type": "object",
        "required": [
          "customerId",
          "warehouseId"
        ],
        "properties": {
          "customerId": {
            "type": "string"
          },
          "warehouseId": {
            "type": "string"
          },
          "transactionType": {
            "type": "string",
            "enum": [
              "Shipping",
              "Receiving",
              "Adjustments",
              "Assemblies",
              "Returns"
            ]
          },
          "rateType": {
            "type": "string",
            "enum": [
              "perTransactionRate",
              "packageMaterialRate",
              "markupRate",
              "minimumRate",
              "predefinedManualRate",
              "recurringFlatRate"
            ]
          }
        }
      },
      "IRateGrid": {
        "type": "object",
        "required": [
          "id",
          "orgKey",
          "name",
          "description",
          "transactionType",
          "category",
          "rateType"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "orgKey": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "chargeLabel": {
            "type": "string"
          },
          "class": {
            "type": "string"
          },
          "transactionType": {
            "type": "string"
          },
          "category": {
            "type": "string"
          },
          "rateType": {
            "type": "string",
            "enum": [
              "perTransactionRate",
              "packageMaterialRate",
              "markupRate",
              "minimumRate",
              "predefinedManualRate",
              "recurringFlatRate"
            ]
          },
          "amount": {
            "type": "number"
          },
          "isTiered": {
            "type": "boolean"
          },
          "hasMultipleConditions": {
            "type": "boolean"
          },
          "min": {
            "type": "number"
          },
          "customerId": {
            "type": "string"
          },
          "assignedCustomers": {
            "$ref": "#/components/schemas/IAssignedCustomerReference"
          },
          "assignedRateSheets": {
            "$ref": "#/components/schemas/IAssignedRateSheetReference"
          },
          "isUomCountRate": {
            "type": "boolean"
          }
        }
      },
      "IRateSheet": {
        "type": "object",
        "required": [
          "id",
          "orgKey",
          "name",
          "description",
          "rates"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "orgKey": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "rates": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IRateReference"
            }
          },
          "assignedCustomers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IAssignedCustomerReference"
            }
          }
        }
      },
      "IRateSheetDetail": {
        "type": "object",
        "required": [
          "id",
          "orgKey",
          "name",
          "description",
          "assignedCustomers",
          "rateCount",
          "shipping",
          "receiving",
          "returns",
          "adjustments",
          "assemblies"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "orgKey": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "assignedCustomers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IAssignedCustomerReference"
            }
          },
          "rateCount": {
            "type": "number"
          },
          "shipping": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IRateSummary"
            }
          },
          "receiving": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IRateSummary"
            }
          },
          "returns": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IRateSummary"
            }
          },
          "adjustments": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IRateSummary"
            }
          },
          "assemblies": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IRateSummary"
            }
          }
        }
      },
      "IDuplicateRateSheet": {
        "type": "object",
        "required": [
          "rateSheetId"
        ],
        "properties": {
          "rateSheetId": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "cognitoJwtAuthorizer": {
        "description": "cognitoJwtAuthorizer",
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  },
  "paths": {
    "/apporganizations/": {
      "post": {
        "summary": "createAppOrg",
        "security": [
          {
            "cognitoJwtAuthorizer": []
          }
        ],
        "responses": {
          "201": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/IAppBillingOrganization"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "oneOf": [
                        {
                          "$ref": "#/components/schemas/GenericError"
                        },
                        {
                          "$ref": "#/components/schemas/EventError"
                        },
                        {
                          "$ref": "#/components/schemas/QueryParameterError"
                        },
                        {
                          "$ref": "#/components/schemas/OperationError"
                        },
                        {
                          "$ref": "#/components/schemas/ModelValidationError"
                        },
                        {
                          "$ref": "#/components/schemas/MismatchedContextOrgError"
                        },
                        {
                          "$ref": "#/components/schemas/ValidationError"
                        },
                        {
                          "$ref": "#/components/schemas/RecordOutOfDateError"
                        },
                        {
                          "$ref": "#/components/schemas/TooManyResultsError"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "oneOf": [
                        {
                          "$ref": "#/components/schemas/PermissionError"
                        },
                        {
                          "$ref": "#/components/schemas/AppAccessError"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/GenericError"
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Creates a AppOrganization",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IAppBillingOrganization"
              }
            }
          }
        },
        "tags": [
          "apporganizations"
        ],
        "operationId": "post_apporganizations"
      }
    },
    "/apporganizations/current": {
      "get": {
        "summary": "getAppOrg",
        "security": [
          {
            "cognitoJwtAuthorizer": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/IAppBillingOrganization"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "oneOf": [
                        {
                          "$ref": "#/components/schemas/GenericError"
                        },
                        {
                          "$ref": "#/components/schemas/EventError"
                        },
                        {
                          "$ref": "#/components/schemas/QueryParameterError"
                        },
                        {
                          "$ref": "#/components/schemas/OperationError"
                        },
                        {
                          "$ref": "#/components/schemas/ModelValidationError"
                        },
                        {
                          "$ref": "#/components/schemas/MismatchedContextOrgError"
                        },
                        {
                          "$ref": "#/components/schemas/ValidationError"
                        },
                        {
                          "$ref": "#/components/schemas/RecordOutOfDateError"
                        },
                        {
                          "$ref": "#/components/schemas/TooManyResultsError"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "oneOf": [
                        {
                          "$ref": "#/components/schemas/PermissionError"
                        },
                        {
                          "$ref": "#/components/schemas/AppAccessError"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
[...]
