{
  "openapi": "3.0.3",
  "info": {
    "title": "Path of Exile API",
    "version": "1.0.0",
    "description": "Official Path of Exile API providing access to account, character, league, ladder, stash, and trade data.",
    "x-jentic-source-url": "https://www.pathofexile.com/developer/docs",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://api.pathofexile.com"
    }
  ],
  "paths": {
    "/league": {
      "get": {
        "operationId": "listLeagues",
        "summary": "List leagues",
        "tags": [
          "Leagues"
        ],
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "main",
                "event",
                "season"
              ]
            }
          },
          {
            "name": "realm",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "pc",
                "xbox",
                "sony"
              ]
            }
          },
          {
            "name": "season",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "compact",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [
                0,
                1
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 50
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LeaguesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "List leagues"
      }
    },
    "/league/{id}": {
      "get": {
        "operationId": "getLeague",
        "summary": "Get a specific league",
        "tags": [
          "Leagues"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "realm",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "pc",
                "xbox",
                "sony"
              ]
            }
          },
          {
            "name": "ladder",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [
                0,
                1
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/League"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get a specific league"
      }
    },
    "/league/{id}/ladder": {
      "get": {
        "operationId": "getLeagueLadder",
        "summary": "Get league ladder",
        "tags": [
          "Ladders"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "realm",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "pc",
                "xbox",
                "sony"
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 200
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "league",
                "labyrinth",
                "pvp"
              ]
            }
          },
          {
            "name": "track",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "account_name",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "difficulty",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LadderResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get league ladder"
      }
    },
    "/pvp-match": {
      "get": {
        "operationId": "listPvpMatches",
        "summary": "List PvP matches",
        "tags": [
          "PvP"
        ],
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "season",
                "league"
              ]
            }
          },
          {
            "name": "season",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "realm",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "pc",
                "xbox",
                "sony"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PvpMatchesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "List PvP matches"
      }
    },
    "/pvp-match/{id}": {
      "get": {
        "operationId": "getPvpMatch",
        "summary": "Get PvP match details",
        "tags": [
          "PvP"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "realm",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "pc",
                "xbox",
                "sony"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PvpMatch"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get PvP match details"
      }
    },
    "/pvp-match/{id}/ladder": {
      "get": {
        "operationId": "getPvpMatchLadder",
        "summary": "Get PvP match ladder",
        "tags": [
          "PvP"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "realm",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "pc",
                "xbox",
                "sony"
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 200
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LadderResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get PvP match ladder"
      }
    },
    "/account/stashes/{league}": {
      "get": {
        "operationId": "getAccountStashes",
        "summary": "Get account stashes",
        "tags": [
          "Stashes"
        ],
        "parameters": [
          {
            "name": "league",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "realm",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "pc",
                "xbox",
                "sony"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StashResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get account stashes"
      }
    },
    "/account/stashes/{league}/{stash_id}": {
      "get": {
        "operationId": "getStashContents",
        "summary": "Get stash contents",
        "tags": [
          "Stashes"
        ],
        "parameters": [
          {
            "name": "league",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "stash_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "realm",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "pc",
                "xbox",
                "sony"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Stash"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get stash contents"
      }
    },
    "/character": {
      "get": {
        "operationId": "listCharacters",
        "summary": "List characters",
        "tags": [
          "Characters"
        ],
        "parameters": [
          {
            "name": "realm",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "pc",
                "xbox",
                "sony"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CharactersResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "List characters"
      }
    },
    "/character/{name}": {
      "get": {
        "operationId": "getCharacter",
        "summary": "Get character details",
        "tags": [
          "Characters"
        ],
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "realm",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "pc",
                "xbox",
                "sony"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Character"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get character details"
      }
    },
    "/profile": {
      "get": {
        "operationId": "getProfile",
        "summary": "Get account profile",
        "tags": [
          "Account"
        ],
        "parameters": [
          {
            "name": "realm",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "pc",
                "xbox",
                "sony"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Profile"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get account profile"
      }
    },
    "/public-stash-tabs": {
      "get": {
        "operationId": "getPublicStashTabs",
        "summary": "Get public stash tabs",
        "description": "Returns a river of public stash tab changes for trade indexing",
        "tags": [
          "Public Stash Tabs"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Next change ID for pagination"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicStashTabsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/trade/data/stats": {
      "get": {
        "operationId": "getTradeStats",
        "summary": "Get trade statistics",
        "tags": [
          "Trade"
        ],
        "parameters": [
          {
            "name": "realm",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "pc",
                "xbox",
                "sony"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TradeStatsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get trade statistics"
      }
    },
    "/trade/data/static": {
      "get": {
        "operationId": "getTradeStaticData",
        "summary": "Get trade static data",
        "tags": [
          "Trade"
        ],
        "parameters": [
          {
            "name": "realm",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "pc",
                "xbox",
                "sony"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TradeStaticResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get trade static data"
      }
    },
    "/trade/data/items": {
      "get": {
        "operationId": "getTradeItems",
        "summary": "Get tradeable item categories",
        "tags": [
          "Trade"
        ],
        "parameters": [
          {
            "name": "realm",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "pc",
                "xbox",
                "sony"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TradeItemsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get tradeable item categories"
      }
    },
    "/trade/search/{league}": {
      "post": {
        "operationId": "searchTrade",
        "summary": "Search for trade listings",
        "tags": [
          "Trade"
        ],
        "parameters": [
          {
            "name": "league",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TradeSearchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TradeSearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Search for trade listings"
      }
    },
    "/trade/fetch/{ids}": {
      "get": {
        "operationId": "fetchTradeListings",
        "summary": "Fetch trade listings by IDs",
        "tags": [
          "Trade"
        ],
        "parameters": [
          {
            "name": "ids",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated listing IDs (max 20)"
          },
          {
            "name": "query",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Query ID from search"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TradeFetchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Fetch trade listings by IDs"
      }
    }
  },
  "components": {
    "schemas": {
      "League": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "realm": {
            "type": "string"
          },
          "url": {
            "type": "string"
          },
          "startAt": {
            "type": "string",
            "format": "date-time"
          },
          "endAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "description": {
            "type": "string"
          },
          "rules": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                },
                "description": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "LeaguesResponse": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/League"
        }
      },
      "LadderEntry": {
        "type": "object",
        "properties": {
          "rank": {
            "type": "integer"
          },
          "dead": {
            "type": "boolean"
          },
          "online": {
            "type": "boolean"
          },
          "character": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "name": {
                "type": "string"
              },
              "level": {
                "type": "integer"
              },
              "class": {
                "type": "string"
              },
              "experience": {
                "type": "integer"
              }
            }
          },
          "account": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string"
              },
              "realm": {
                "type": "string"
              }
            }
          }
        }
      },
      "LadderResponse": {
        "type": "object",
        "properties": {
          "total": {
            "type": "integer"
          },
          "cached_since": {
            "type": "string"
          },
          "entries": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/LadderEntry"
            }
          }
        }
      },
      "PvpMatch": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "realm": {
            "type": "string"
          },
          "startAt": {
            "type": "string"
          },
          "endAt": {
            "type": "string"
          },
          "url": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "style": {
            "type": "string"
          },
          "registerAt": {
            "type": "string"
          }
        }
      },
      "PvpMatchesResponse": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/PvpMatch"
        }
      },
      "StashResponse": {
        "type": "object",
        "properties": {
          "stashes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Stash"
            }
          }
        }
      },
      "Stash": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "index": {
            "type": "integer"
          },
          "children": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "items": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "Character": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "realm": {
            "type": "string"
          },
          "class": {
            "type": "string"
          },
          "league": {
            "type": "string"
          },
          "level": {
            "type": "integer"
          },
          "experience": {
            "type": "integer"
          }
        }
      },
      "CharactersResponse": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/Character"
        }
      },
      "Profile": {
        "type": "object",
        "properties": {
          "uuid": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "realm": {
            "type": "string"
          },
          "guild": {
            "type": "object",
            "nullable": true
          },
          "twitch": {
            "type": "object",
            "nullable": true
          }
        }
      },
      "PublicStashTabsResponse": {
        "type": "object",
        "properties": {
          "next_change_id": {
            "type": "string"
          },
          "stashes": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "TradeStatsResponse": {
        "type": "object",
        "properties": {
          "result": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "TradeStaticResponse": {
        "type": "object",
        "properties": {
          "result": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "TradeItemsResponse": {
        "type": "object",
        "properties": {
          "result": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "TradeSearchRequest": {
        "type": "object",
        "properties": {
          "query": {
            "type": "object"
          },
          "sort": {
            "type": "object"
          }
        }
      },
      "TradeSearchResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "total": {
            "type": "integer"
          },
          "result": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "TradeFetchResponse": {
        "type": "object",
        "properties": {
          "result": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string"
              },
              "message": {
                "type": "string"
              }
            }
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "OAuth2 Bearer token"
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Account"
    },
    {
      "name": "Characters"
    },
    {
      "name": "Ladders"
    },
    {
      "name": "Leagues"
    },
    {
      "name": "Public Stash Tabs"
    },
    {
      "name": "PvP"
    },
    {
      "name": "Stashes"
    },
    {
      "name": "Trade"
    }
  ]
}
