{
  "swagger": "2.0",
  "info": {
    "description": "This is the API documentation for the Personal Contact Manager application",
    "version": "1.0.0",
    "title": "Personal Contact Manager API",
    "contact": {
      "email": "TarunKN@ucf.edu"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/ucfstudent-440/COP4331/1.0.0"
  },
  "host": "locallyhosted.software",
  "basePath": "/api",
  "schemes": [
    "https"
  ],
  "paths": {
    "/login.php": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Logs in to Contact Manager",
        "operationId": "doLogin",
        "description": "Authenticates user and returns JWT token",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "loginCredentials",
            "description": "User login credentials",
            "schema": {
              "$ref": "#/definitions/Login"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Login successful",
            "schema": {
              "$ref": "#/definitions/AuthResponse"
            }
          },
          "401": {
            "description": "Invalid credentials"
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    },
    "/register.php": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Register new user",
        "operationId": "registerUser",
        "description": "Creates a new user account and returns JWT token",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "registrationInfo",
            "description": "New user information",
            "schema": {
              "$ref": "#/definitions/Registration"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "User created successfully",
            "schema": {
              "$ref": "#/definitions/AuthResponse"
            }
          },
          "400": {
            "description": "Missing required fields"
          },
          "409": {
            "description": "Username already taken"
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    }
  },
  "definitions": {
    "Login": {
      "type": "object",
      "required": [
        "username",
        "password"
      ],
      "properties": {
        "username": {
          "type": "string",
          "example": "john_doe1"
        },
        "password": {
          "type": "string",
          "example": "password123"
        }
      }
    },
    "Registration": {
      "type": "object",
      "required": [
        "firstName",
        "lastName",
        "username",
        "password"
      ],
      "properties": {
        "firstName": {
          "type": "string",
          "example": "John"
        },
        "lastName": {
          "type": "string",
          "example": "Doe"
        },
        "username": {
          "type": "string",
          "example": "john_doe1"
        },
        "password": {
          "type": "string",
          "example": "password123"
        }
      }
    },
    "AuthResponse": {
      "type": "object",
      "properties": {
        "success": {
          "type": "boolean",
          "example": true
        },
        "token": {
          "type": "string",
          "example": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
        },
        "user": {
          "type": "object",
          "properties": {
            "id": {
              "type": "integer",
              "example": 1
            },
            "firstName": {
              "type": "string",
              "example": "John"
            },
            "lastName": {
              "type": "string",
              "example": "Doe"
            },
            "username": {
              "type": "string",
              "example": "john_doe1"
            }
          }
        }
      }
    }
  }
}