{
  "openapi": "3.0.3",
  "info": {
    "title": "Ekraam API",
    "description": "REST API for the Ekraam platform.\n\nCovers recruitment jobs & applicants, CRM leads, volunteer profiles,\nand helpdesk tickets.\n\n### Authentication\nAll endpoints require a valid Odoo API key passed via:\n- `Authorization: Bearer bb964cb944d53290f28cc7a02872aa910e69ec15`\n- `X-API-Key: <key>`\n\n### JSON-RPC Endpoints\nEndpoints marked **(JSON-RPC)** use Odoo's `type='json'` convention.\nWrap request payloads inside a `params` object:\n```json\n{\n  \"jsonrpc\": \"2.0\",\n  \"params\": { ... }\n}\n```\n",
    "version": "1.0.0",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/expert-499/ekraam-api/1.0.0"
  },
  "servers": [
    {
      "url": "https://ekraam25.preprod.exp-sa.com",
      "description": "Local Development"
    }
  ],
  "security": [
    {
      "BearerAuth": []
    },
    {
      "ApiKeyHeader": []
    }
  ],
  "tags": [
    {
      "name": "Jobs",
      "description": "Recruitment job listings"
    },
    {
      "name": "Applicants",
      "description": "Job applicant details"
    },
    {
      "name": "CRM",
      "description": "CRM lead management"
    },
    {
      "name": "Volunteers",
      "description": "Volunteer profile management"
    },
    {
      "name": "Tickets",
      "description": "Helpdesk ticket creation"
    }
  ],
  "paths": {
    "/api/jobs": {
      "get": {
        "tags": [
          "Jobs"
        ],
        "operationId": "listJobs",
        "summary": "List all open recruitment jobs",
        "description": "Returns all jobs where `state = 'recruit'`.\nEach item includes the job title, descriptions, requirements, and skills.\n",
        "responses": {
          "200": {
            "description": "Jobs retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success"
                      ]
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/JobSummary"
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "data": [
                    {
                      "job_id": 5,
                      "job_title": "Software Engineer",
                      "create_date": "2026-02-10 09:30:00",
                      "short_description": "Join our backend team",
                      "application_requirements": "<p>Bachelor's degree in CS</p>",
                      "skills_and_experience": "<p>3+ years Python experience</p>",
                      "description": "Full-time position in Riyadh office",
                      "state": "recruit"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/jobs/{job_id}": {
      "get": {
        "tags": [
          "Jobs"
        ],
        "operationId": "getJobDetail",
        "summary": "Get a single job's details",
        "description": "Returns detailed information for one recruitment job including its department.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/JobId"
          }
        ],
        "responses": {
          "200": {
            "description": "Job found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success"
                      ]
                    },
                    "data": {
                      "$ref": "#/components/schemas/JobDetail"
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "data": {
                    "job_id": 5,
                    "job_title": "Software Engineer",
                    "create_date": "2026-02-10 09:30:00",
                    "department": "IT Department",
                    "short_description": "Join our backend team",
                    "application_requirements": "<p>Bachelor's degree in CS</p>",
                    "skills_and_experience": "<p>3+ years Python experience</p>",
                    "state": "recruit"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "description": "Job not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "status": "error",
                  "message": "Job not found"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/applicant/{applicant_id}": {
      "get": {
        "tags": [
          "Applicants"
        ],
        "operationId": "getApplicantDetail",
        "summary": "Get an applicant's details",
        "description": "Returns full details for a single job applicant including\nstage, priority, and associated job information.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/ApplicantId"
          }
        ],
        "responses": {
          "200": {
            "description": "Applicant found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success"
                      ]
                    },
                    "data": {
                      "$ref": "#/components/schemas/Applicant"
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "data": {
                    "applicant_id": 12,
                    "name": "Ahmed Al-Farsi - Software Engineer",
                    "partner_name": "Ahmed Al-Farsi",
                    "email_from": "ahmed@example.com",
                    "partner_phone": "+966501234567",
                    "applicant_summary": "Experienced backend developer",
                    "job_id": 5,
                    "job_name": "Software Engineer",
                    "department": "IT Department",
                    "stage_id": 1,
                    "stage_name": "Initial Qualification",
                    "kanban_state": "normal",
                    "priority": "1",
                    "active": true,
                    "create_date": "2026-03-01 14:22:00",
                    "write_date": "2026-03-05 10:15:00"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "description": "Applicant not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "status": "error",
                  "message": "Applicant not found"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/jobs/apply/json": {
      "post": {
        "tags": [
          "Jobs"
        ],
        "operationId": "applyJobJson",
        "summary": "Submit a job application (JSON-RPC)",
        "description": "Creates a new `hr.applicant` record linked to the given job.\n\n**Required fields:** `full_name`, `email`, `job_id`.\n\nAn optional base64-encoded resume can be attached.\n\n**(JSON-RPC)** \u2014 wrap payload inside `params`.\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JobApplicationRequest"
              },
              "example": {
                "jsonrpc": "2.0",
                "params": {
                  "full_name": "Ahmed Al-Farsi",
                  "email": "ahmed@example.com",
                  "phone": "+966501234567",
                  "job_id": 5,
                  "applicant_summary": "Experienced backend developer",
                  "resume": "JVBERi0xLjQK...",
                  "resume_filename": "ahmed_cv.pdf"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Application submitted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobApplicationResponse"
                },
                "examples": {
                  "success": {
                    "summary": "Successful application",
                    "value": {
                      "jsonrpc": "2.0",
                      "id": null,
                      "result": {
                        "status": "success",
                        "applicant_id": 12,
                        "message": "Application submitted successfully"
                      }
                    }
                  },
                  "missing_fields": {
                    "summary": "Missing required fields",
                    "value": {
                      "jsonrpc": "2.0",
                      "id": null,
                      "result": {
                        "status": "error",
                        "message": "Missing required fields: full_name, email"
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/crm/lead/create": {
      "post": {
        "tags": [
          "CRM"
        ],
        "operationId": "createCrmLead",
        "summary": "Create a CRM lead (JSON-RPC)",
        "description": "Creates a new `crm.lead` record.\n\n**Required field:** `name`.\n\nOptional `partner_type` must be one of: `financial`, `my_service`, `in_kind`.\n\n**(JSON-RPC)** \u2014 wrap payload inside `params`.\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CrmLeadCreateRequest"
              },
              "example": {
                "jsonrpc": "2.0",
                "params": {
                  "name": "Partnership Inquiry",
                  "contact_name": "Sara Ali",
                  "phone": "+966509876543",
                  "email": "sara@example.com",
                  "partner_type": "financial"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Lead created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CrmLeadCreateResponse"
                },
                "examples": {
                  "success": {
                    "summary": "Lead created successfully",
                    "value": {
                      "jsonrpc": "2.0",
                      "id": null,
                      "result": {
                        "status": "success",
                        "lead_id": 33
                      }
                    }
                  },
                  "missing_name": {
                    "summary": "Missing required field",
                    "value": {
                      "jsonrpc": "2.0",
                      "id": null,
                      "result": {
                        "status": "error",
                        "message": "Missing required field: name"
                      }
                    }
                  },
                  "invalid_type": {
                    "summary": "Invalid partner type",
                    "value": {
                      "jsonrpc": "2.0",
                      "id": null,
                      "result": {
                        "status": "error",
                        "message": "Invalid partner_type value"
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/crm/leads": {
      "get": {
        "tags": [
          "CRM"
        ],
        "operationId": "listCrmLeads",
        "summary": "List CRM leads",
        "description": "Returns up to 20 CRM leads.\n\n**Note:** The response is a raw JSON array (not wrapped in a `status`/`data` envelope).\n",
        "responses": {
          "200": {
            "description": "Leads retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CrmLead"
                  }
                },
                "example": [
                  {
                    "id": 33,
                    "name": "Partnership Inquiry",
                    "contact_name": "Sara Ali",
                    "phone": "+966509876543",
                    "email": "sara@example.com",
                    "partner_type": "financial"
                  },
                  {
                    "id": 34,
                    "name": "Service Request",
                    "contact_name": "Omar Khaled",
                    "phone": "+966551112233",
                    "email": "omar@example.com",
                    "partner_type": ""
                  }
                ]
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/crm/lead/{lead_id}": {
      "get": {
        "tags": [
          "CRM"
        ],
        "operationId": "getCrmLead",
        "summary": "Get a single CRM lead",
        "description": "Returns details for one CRM lead.\n\n**Note:** The response is a flat JSON object (not wrapped in a `status`/`data` envelope).\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/LeadId"
          }
        ],
        "responses": {
          "200": {
            "description": "Lead found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CrmLead"
                },
                "example": {
                  "id": 33,
                  "name": "Partnership Inquiry",
                  "contact_name": "Sara Ali",
                  "phone": "+966509876543",
                  "email": "sara@example.com",
                  "partner_type": "financial"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "description": "Lead not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "status": "error",
                  "message": "Lead not found"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/volunteer/profile": {
      "post": {
        "tags": [
          "Volunteers"
        ],
        "operationId": "createVolunteerProfile",
        "summary": "Create a volunteer profile (JSON-RPC)",
        "description": "Creates a new `volunteer.profile` record.\n\n**Required fields:** `name`, `email`.\n\nReturns an error with the existing `volunteer_id` if a profile\nwith the same name, email, or phone already exists.\n\n**(JSON-RPC)** \u2014 wrap payload inside `params`.\n",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VolunteerProfileCreateRequest"
              },
              "example": {
                "jsonrpc": "2.0",
                "params": {
                  "name": "Ahmed Al-Farsi",
                  "email": "ahmed@example.com",
                  "phone": "+966501234567",
                  "education_level": "bachelor",
                  "profession": "Engineer",
                  "region": "Riyadh"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Profile created or duplicate found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VolunteerProfileCreateResponse"
                },
                "examples": {
                  "created": {
                    "summary": "New profile created",
                    "value": {
                      "jsonrpc": "2.0",
                      "id": null,
                      "result": {
                        "status": "success",
                        "volunteer_id": 42,
                        "message": "Volunteer profile created successfully"
                      }
                    }
                  },
                  "duplicate": {
                    "summary": "Duplicate found",
                    "value": {
                      "jsonrpc": "2.0",
                      "id": null,
                      "result": {
                        "status": "error",
                        "volunteer_id": 7,
                        "message": "Volunteer already exists with same name, email, or phone"
                      }
                    }
                  },
                  "missing": {
                    "summary": "Missing required fields",
                    "value": {
                      "jsonrpc": "2.0",
                      "id": null,
                      "result": {
                        "status": "error",
                        "message": "Missing required fields: name, email"
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/volunteer/profiles": {
      "get": {
        "tags": [
          "Volunteers"
        ],
        "operationId": "listVolunteerProfiles",
        "summary": "List all volunteer profiles",
        "description": "Returns all registered volunteer profiles.",
        "responses": {
          "200": {
            "description": "Profiles retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success"
                      ]
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/VolunteerProfile"
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "data": [
                    {
                      "id": 1,
                      "name": "Ahmed Al-Farsi",
                      "email": "ahmed@example.com",
                      "phone": "+966501234567",
                      "education_level": "bachelor",
                      "profession": "Engineer",
                      "region": "Riyadh"
                    },
                    {
                      "id": 2,
                      "name": "Sara Ali",
                      "email": "sara@example.com",
                      "phone": "+966509876543",
                      "education_level": "master",
                      "profession": "Teacher",
                      "region": "Jeddah"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/volunteer/profile/{volunteer_id}": {
      "get": {
        "tags": [
          "Volunteers"
        ],
        "operationId": "getVolunteerProfile",
        "summary": "Get a single volunteer profile",
        "description": "Returns a volunteer profile by its ID.",
        "parameters": [
          {
            "$ref": "#/components/parameters/VolunteerId"
          }
        ],
        "responses": {
          "200": {
            "description": "Profile found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success"
                      ]
                    },
                    "data": {
                      "$ref": "#/components/schemas/VolunteerProfile"
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "data": {
                    "id": 1,
                    "name": "Ahmed Al-Farsi",
                    "email": "ahmed@example.com",
                    "phone": "+966501234567",
                    "education_level": "bachelor",
                    "profession": "Engineer",
                    "region": "Riyadh"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "description": "Profile not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "status": "error",
                  "message": "Volunteer profile not found"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/tickets": {
      "post": {
        "tags": [
          "Tickets"
        ],
        "operationId": "createTicket",
        "summary": "Create a helpdesk ticket (JSON-RPC)",
        "description": "Creates a new `odex25_helpdesk.ticket` record.\n\n**Required field:** `name`.\n\nOptional `category_id` and `service_id` are validated against\n`service.category` and `helpdesk.service` respectively.\n\n**(JSON-RPC)** \u2014 wrap payload inside `params`.\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TicketCreateRequest"
              },
              "example": {
                "jsonrpc": "2.0",
                "params": {
                  "name": "Cannot access volunteer portal",
                  "partner_name": "Ahmed Al-Farsi",
                  "partner_email": "ahmed@example.com",
                  "phone_no": 501234567,
                  "category_id": 2,
                  "service_id": 5,
                  "description": "Getting a 403 error when trying to log in to the volunteer portal."
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ticket created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TicketCreateResponse"
                },
                "examples": {
                  "success": {
                    "summary": "Ticket created",
                    "value": {
                      "jsonrpc": "2.0",
                      "id": null,
                      "result": {
                        "status": "success",
                        "ticket_id": 88,
                        "partner_id": 15
                      }
                    }
                  },
                  "missing_name": {
                    "summary": "Missing required field",
                    "value": {
                      "jsonrpc": "2.0",
                      "id": null,
                      "result": {
                        "status": "error",
                        "message": "Missing required fields: name"
                      }
                    }
                  },
                  "bad_category": {
                    "summary": "Invalid category",
                    "value": {
                      "jsonrpc": "2.0",
                      "id": null,
                      "result": {
                        "status": "error",
                        "message": "Category with id 999 not found"
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "API-Key",
        "description": "Pass the Odoo API key: `Authorization: Bearer <key>`"
      },
      "ApiKeyHeader": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key",
        "description": "Alternatively: `X-API-Key: <key>`"
      }
    },
    "parameters": {
      "JobId": {
        "name": "job_id",
        "in": "path",
        "required": true,
        "description": "Unique ID of the recruitment job (`hr.job`)",
        "schema": {
          "type": "integer",
          "example": 5
        }
      },
      "ApplicantId": {
        "name": "applicant_id",
        "in": "path",
        "required": true,
        "description": "Unique ID of the applicant (`hr.applicant`)",
        "schema": {
          "type": "integer",
          "example": 12
        }
      },
      "LeadId": {
        "name": "lead_id",
        "in": "path",
        "required": true,
        "description": "Unique ID of the CRM lead (`crm.lead`)",
        "schema": {
          "type": "integer",
          "example": 33
        }
      },
      "VolunteerId": {
        "name": "volunteer_id",
        "in": "path",
        "required": true,
        "description": "Unique ID of the volunteer profile (`volunteer.profile`)",
        "schema": {
          "type": "integer",
          "example": 1
        }
      }
    },
    "schemas": {
      "JobSummary": {
        "type": "object",
        "description": "A recruitment job listing (list view)",
        "properties": {
          "job_id": {
            "type": "integer",
            "example": 5
          },
          "job_title": {
            "type": "string",
            "example": "Software Engineer"
          },
          "create_date": {
            "type": "string",
            "description": "Record creation timestamp",
            "example": "2026-02-10 09:30:00"
          },
          "short_description": {
            "type": "string",
            "example": "Join our backend team"
          },
          "application_requirements": {
            "type": "string",
            "description": "HTML content",
            "example": "<p>Bachelor's degree in CS</p>"
          },
          "skills_and_experience": {
            "type": "string",
            "description": "HTML content",
            "example": "<p>3+ years Python experience</p>"
          },
          "description": {
            "type": "string",
            "example": "Full-time position in Riyadh office"
          },
          "state": {
            "type": "string",
            "enum": [
              "recruit",
              "open"
            ],
            "example": "recruit"
          }
        }
      },
      "JobDetail": {
        "type": "object",
        "description": "A recruitment job (detail view)",
        "properties": {
          "job_id": {
            "type": "integer",
            "example": 5
          },
          "job_title": {
            "type": "string",
            "example": "Software Engineer"
          },
          "create_date": {
            "type": "string",
            "example": "2026-02-10 09:30:00"
          },
          "department": {
            "type": "string",
            "description": "Department name (empty string if none)",
            "example": "IT Department"
          },
          "short_description": {
            "type": "string",
            "example": "Join our backend team"
          },
          "application_requirements": {
            "type": "string",
            "description": "HTML content",
            "example": "<p>Bachelor's degree in CS</p>"
          },
          "skills_and_experience": {
            "type": "string",
            "description": "HTML content",
            "example": "<p>3+ years Python experience</p>"
          },
          "state": {
            "type": "string",
            "enum": [
              "recruit",
              "open"
            ],
            "example": "recruit"
          }
        }
      },
      "Applicant": {
        "type": "object",
        "description": "A job applicant (`hr.applicant`)",
        "properties": {
          "applicant_id": {
            "type": "integer",
            "example": 12
          },
          "name": {
            "type": "string",
            "description": "Auto-generated: 'Full Name - Job Title'",
            "example": "Ahmed Al-Farsi - Software Engineer"
          },
          "partner_name": {
            "type": "string",
            "description": "Applicant's full name",
            "example": "Ahmed Al-Farsi"
          },
          "email_from": {
            "type": "string",
            "format": "email",
            "example": "ahmed@example.com"
          },
          "partner_phone": {
            "type": "string",
            "example": "+966501234567"
          },
          "applicant_summary": {
            "type": "string",
            "description": "Free-text summary provided by the applicant",
            "example": "Experienced backend developer"
          },
          "job_id": {
            "type": "integer",
            "description": "Related job ID (false if none)",
            "example": 5
          },
          "job_name": {
            "type": "string",
            "example": "Software Engineer"
          },
          "department": {
            "type": "string",
            "example": "IT Department"
          },
          "stage_id": {
            "type": "integer",
            "description": "Recruitment stage ID (false if none)",
            "example": 1
          },
          "stage_name": {
            "type": "string",
            "example": "Initial Qualification"
          },
          "kanban_state": {
            "type": "string",
            "enum": [
              "normal",
              "done",
              "blocked"
            ],
            "example": "normal"
          },
          "priority": {
            "type": "string",
            "description": "Priority level: 0 = Normal, 1 = Good, 2 = Very Good, 3 = Excellent",
            "enum": [
              "0",
              "1",
              "2",
              "3"
            ],
            "example": "1"
          },
          "active": {
            "type": "boolean",
            "example": true
          },
          "create_date": {
            "type": "string",
            "example": "2026-03-01 14:22:00"
          },
          "write_date": {
            "type": "string",
            "example": "2026-03-05 10:15:00"
          }
        }
      },
      "JobApplicationRequest": {
        "type": "object",
        "description": "JSON-RPC wrapper for job application",
        "properties": {
          "jsonrpc": {
            "type": "string",
            "enum": [
              "2.0"
            ],
            "example": "2.0"
          },
          "params": {
            "type": "object",
            "required": [
              "full_name",
              "email",
              "job_id"
            ],
            "properties": {
              "full_name": {
                "type": "string",
                "description": "Applicant's full name",
                "example": "Ahmed Al-Farsi"
              },
              "email": {
                "type": "string",
                "format": "email",
                "example": "ahmed@example.com"
              },
              "phone": {
                "type": "string",
                "example": "+966501234567"
              },
              "job_id": {
                "type": "integer",
                "description": "ID of the job to apply for",
                "example": 5
              },
              "applicant_summary": {
                "type": "string",
                "example": "Experienced backend developer"
              },
              "resume": {
                "type": "string",
                "format": "byte",
                "description": "Base64-encoded resume file",
                "example": "JVBERi0xLjQK..."
              },
              "resume_filename": {
                "type": "string",
                "description": "Original filename of the resume",
                "example": "ahmed_cv.pdf"
              }
            }
          }
        }
      },
      "JobApplicationResponse": {
        "type": "object",
        "properties": {
          "jsonrpc": {
            "type": "string",
            "example": "2.0"
          },
          "id": {
            "type": "integer",
            "nullable": true,
            "example": null
          },
          "result": {
            "type": "object",
            "properties": {
              "status": {
                "type": "string",
                "enum": [
                  "success",
                  "error"
                ]
              },
              "applicant_id": {
                "type": "integer",
                "description": "Created applicant record ID (on success)",
                "example": 12
              },
              "message": {
                "type": "string",
                "example": "Application submitted successfully"
              }
            }
          }
        }
      },
      "CrmLead": {
        "type": "object",
        "description": "A CRM lead (`crm.lead`)",
        "properties": {
          "id": {
            "type": "integer",
            "example": 33
          },
          "name": {
            "type": "string",
            "example": "Partnership Inquiry"
          },
          "contact_name": {
            "type": "string",
            "example": "Sara Ali"
          },
          "phone": {
            "type": "string",
            "example": "+966509876543"
          },
          "email": {
            "type": "string",
            "format": "email",
            "example": "sara@example.com"
          },
          "partner_type": {
            "type": "string",
            "description": "Partnership type (empty string if not set)",
            "enum": [
              "financial",
              "my_service",
              "in_kind",
              ""
            ],
            "example": "financial"
          }
        }
      },
      "CrmLeadCreateRequest": {
        "type": "object",
        "description": "JSON-RPC wrapper for CRM lead creation",
        "properties": {
          "jsonrpc": {
            "type": "string",
            "enum": [
              "2.0"
            ],
            "example": "2.0"
          },
          "params": {
            "type": "object",
            "required": [
              "name"
            ],
            "properties": {
              "name": {
                "type": "string",
                "description": "Lead title / subject",
                "example": "Partnership Inquiry"
              },
              "contact_name": {
                "type": "string",
                "example": "Sara Ali"
              },
              "phone": {
                "type": "string",
                "example": "+966509876543"
              },
              "email": {
                "type": "string",
                "format": "email",
                "example": "sara@example.com"
              },
              "partner_type": {
                "type": "string",
                "description": "Partnership classification",
                "enum": [
                  "financial",
                  "my_service",
                  "in_kind"
                ],
                "example": "financial"
              }
            }
          }
        }
      },
      "CrmLeadCreateResponse": {
        "type": "object",
        "properties": {
          "jsonrpc": {
            "type": "string",
            "example": "2.0"
          },
          "id": {
            "type": "integer",
            "nullable": true,
            "example": null
          },
          "result": {
            "type": "object",
            "properties": {
              "status": {
                "type": "string",
                "enum": [
                  "success",
                  "error"
                ]
              },
              "lead_id": {
                "type": "integer",
                "description": "Created lead ID (on success)",
                "example": 33
              },
              "message": {
                "type": "string",
                "description": "Error message (on failure only)"
              }
            }
          }
        }
      },
      "VolunteerProfile": {
        "type": "object",
        "description": "A volunteer profile (`volunteer.profile`)",
        "properties": {
          "id": {
            "type": "integer",
            "example": 1
          },
          "name": {
            "type": "string",
            "example": "Ahmed Al-Farsi"
          },
          "email": {
            "type": "string",
            "format": "email",
            "example": "ahmed@example.com"
          },
          "phone": {
            "type": "string",
            "example": "+966501234567"
          },
          "education_level": {
            "type": "string",
            "description": "Empty string if not set",
            "enum": [
              "secondary",
              "diploma",
              "bachelor",
              "master",
              "phd",
              "other",
              ""
            ],
            "example": "bachelor"
          },
          "profession": {
            "type": "string",
            "example": "Engineer"
          },
          "region": {
            "type": "string",
            "example": "Riyadh"
          }
        }
      },
      "VolunteerProfileCreateRequest": {
        "type": "object",
        "description": "JSON-RPC wrapper for volunteer profile creation",
        "properties": {
          "jsonrpc": {
            "type": "string",
            "enum": [
              "2.0"
            ],
            "example": "2.0"
          },
          "params": {
            "type": "object",
            "required": [
              "name",
              "email"
            ],
            "properties": {
              "name": {
                "type": "string",
                "description": "Full name (must be unique)",
                "example": "Ahmed Al-Farsi"
              },
              "email": {
                "type": "string",
                "format": "email",
                "description": "Email (must be unique)",
                "example": "ahmed@example.com"
              },
              "phone": {
                "type": "string",
                "example": "+966501234567"
              },
              "education_level": {
                "type": "string",
                "enum": [
                  "secondary",
                  "diploma",
                  "bachelor",
                  "master",
                  "phd",
                  "other"
                ],
                "example": "bachelor"
              },
              "profession": {
                "type": "string",
                "example": "Engineer"
              },
              "region": {
                "type": "string",
                "example": "Riyadh"
              }
            }
          }
        }
      },
      "VolunteerProfileCreateResponse": {
        "type": "object",
        "properties": {
          "jsonrpc": {
            "type": "string",
            "example": "2.0"
          },
          "id": {
            "type": "integer",
            "nullable": true,
            "example": null
          },
          "result": {
            "type": "object",
            "properties": {
              "status": {
                "type": "string",
                "enum": [
                  "success",
                  "error"
                ]
              },
              "volunteer_id": {
                "type": "integer",
                "description": "Created or existing volunteer ID",
                "example": 42
              },
              "message": {
                "type": "string",
                "example": "Volunteer profile created successfully"
              }
            }
          }
        }
      },
      "TicketCreateRequest": {
        "type": "object",
        "description": "JSON-RPC wrapper for ticket creation",
        "properties": {
          "jsonrpc": {
            "type": "string",
            "enum": [
              "2.0"
            ],
            "example": "2.0"
          },
          "params": {
            "type": "object",
            "required": [
              "name"
            ],
            "properties": {
              "name": {
                "type": "string",
                "description": "Ticket subject",
                "example": "Cannot access volunteer portal"
              },
              "partner_name": {
                "type": "string",
                "description": "Contact person name",
                "example": "Ahmed Al-Farsi"
              },
              "partner_email": {
                "type": "string",
                "format": "email",
                "example": "ahmed@example.com"
              },
              "phone_no": {
                "type": "integer",
                "description": "Phone number (integer)",
                "example": 501234567
              },
              "category_id": {
                "type": "integer",
                "description": "Service category ID (`service.category`)",
                "example": 2
              },
              "service_id": {
                "type": "integer",
                "description": "Helpdesk service ID (`helpdesk.service`)",
                "example": 5
              },
              "description": {
                "type": "string",
                "description": "Detailed issue description",
                "example": "Getting a 403 error when trying to log in to the volunteer portal."
              }
            }
          }
        }
      },
      "TicketCreateResponse": {
        "type": "object",
        "properties": {
          "jsonrpc": {
            "type": "string",
            "example": "2.0"
          },
          "id": {
            "type": "integer",
            "nullable": true,
            "example": null
          },
          "result": {
            "type": "object",
            "properties": {
              "status": {
                "type": "string",
                "enum": [
                  "success",
                  "error"
                ]
              },
              "ticket_id": {
                "type": "integer",
                "description": "Created ticket ID (on success)",
                "example": 88
              },
              "partner_id": {
                "type": "integer",
                "description": "Auto-created or linked partner ID (false if none)",
                "example": 15
              },
              "message": {
                "type": "string",
                "description": "Error message (on failure only)"
              }
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "error"
            ],
            "example": "error"
          },
          "message": {
            "type": "string",
            "example": "An error occurred"
          }
        }
      }
    },
    "responses": {
      "Unauthorized": {
        "description": "Missing or invalid API key",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "example": {
              "status": "error",
              "message": "Invalid or missing API key"
            }
          }
        }
      },
      "InternalError": {
        "description": "Unexpected server error",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "example": {
              "status": "error",
              "message": "Internal server error"
            }
          }
        }
      }
    }
  }
}