{
  "openapi": "3.0.3",
  "info": {
    "title": "Launchpad API",
    "version": "devel",
    "description": "Launchpad is Canonical's platform for software collaboration. The REST API provides access to bugs, projects, people, teams, branches, blueprints, PPAs, and more. The API follows HATEOAS principles with hyperlinked resources.",
    "x-jentic-source-url": "https://api.launchpad.net/",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://api.launchpad.net/devel"
    }
  ],
  "paths": {
    "/bugs": {
      "get": {
        "operationId": "searchBugs",
        "summary": "Search for bugs",
        "tags": [
          "Bugs"
        ],
        "parameters": [
          {
            "name": "ws.op",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "searchTasks"
              ]
            }
          },
          {
            "name": "search_text",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "New",
                "Incomplete",
                "Opinion",
                "Invalid",
                "Won't Fix",
                "Expired",
                "Confirmed",
                "Triaged",
                "In Progress",
                "Fix Committed",
                "Fix Released"
              ]
            }
          },
          {
            "name": "importance",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "Unknown",
                "Undecided",
                "Critical",
                "High",
                "Medium",
                "Low",
                "Wishlist"
              ]
            }
          },
          {
            "name": "ws.start",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "ws.size",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 75,
              "maximum": 300
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Collection"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Search for bugs"
      }
    },
    "/bugs/{bug_id}": {
      "get": {
        "operationId": "getBug",
        "summary": "Get a bug by ID",
        "tags": [
          "Bugs"
        ],
        "parameters": [
          {
            "name": "bug_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Bug"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get a bug by ID"
      },
      "patch": {
        "operationId": "updateBug",
        "summary": "Update a bug",
        "tags": [
          "Bugs"
        ],
        "parameters": [
          {
            "name": "bug_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "tags": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Bug"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Update a bug"
      }
    },
    "/bugs/{bug_id}/messages": {
      "get": {
        "operationId": "listBugMessages",
        "summary": "List messages (comments) on a bug",
        "tags": [
          "Bugs"
        ],
        "parameters": [
          {
            "name": "bug_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "ws.start",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "ws.size",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 75
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Collection"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "List messages (comments) on a bug"
      }
    },
    "/bugs/{bug_id}/bug_tasks": {
      "get": {
        "operationId": "listBugTasks",
        "summary": "List tasks for a bug",
        "tags": [
          "Bugs"
        ],
        "parameters": [
          {
            "name": "bug_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Collection"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "List tasks for a bug"
      }
    },
    "/bugs/{bug_id}/attachments": {
      "get": {
        "operationId": "listBugAttachments",
        "summary": "List attachments on a bug",
        "tags": [
          "Bugs"
        ],
        "parameters": [
          {
            "name": "bug_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Collection"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "List attachments on a bug"
      }
    },
    "/{project_name}": {
      "get": {
        "operationId": "getProject",
        "summary": "Get a project",
        "tags": [
          "Projects"
        ],
        "parameters": [
          {
            "name": "project_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Project"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get a project"
      },
      "patch": {
        "operationId": "updateProject",
        "summary": "Update a project",
        "tags": [
          "Projects"
        ],
        "parameters": [
          {
            "name": "project_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "display_name": {
                    "type": "string"
                  },
                  "summary": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Project"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Update a project"
      }
    },
    "/projects": {
      "get": {
        "operationId": "searchProjects",
        "summary": "Search for projects",
        "tags": [
          "Projects"
        ],
        "parameters": [
          {
            "name": "ws.op",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "search"
              ]
            }
          },
          {
            "name": "text",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ws.start",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "ws.size",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 75
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Collection"
                }
              }
            }
          }
        },
        "description": "Search for projects"
      }
    },
    "/~{person_name}": {
      "get": {
        "operationId": "getPerson",
        "summary": "Get a person or team",
        "tags": [
          "People"
        ],
        "parameters": [
          {
            "name": "person_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Person"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get a person or team"
      }
    },
    "/people": {
      "get": {
        "operationId": "searchPeople",
        "summary": "Search for people",
        "tags": [
          "People"
        ],
        "parameters": [
          {
            "name": "ws.op",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "find"
              ]
            }
          },
          {
            "name": "text",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ws.start",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "ws.size",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 75
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Collection"
                }
              }
            }
          }
        },
        "description": "Search for people"
      }
    },
    "/~{person_name}/ppas": {
      "get": {
        "operationId": "listPPAs",
        "summary": "List PPAs for a person or team",
        "tags": [
          "PPAs"
        ],
        "parameters": [
          {
            "name": "person_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Collection"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "List PPAs for a person or team"
      }
    },
    "/~{person_name}/+archive/{ppa_name}": {
      "get": {
        "operationId": "getPPA",
        "summary": "Get a PPA (Personal Package Archive)",
        "tags": [
          "PPAs"
        ],
        "parameters": [
          {
            "name": "person_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ppa_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PPA"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get a PPA (Personal Package Archive)"
      }
    },
    "/distributions": {
      "get": {
        "operationId": "listDistributions",
        "summary": "List distributions (e.g., Ubuntu)",
        "tags": [
          "Distributions"
        ],
        "parameters": [
          {
            "name": "ws.start",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "ws.size",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 75
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Collection"
                }
              }
            }
          }
        },
        "description": "List distributions (e.g., Ubuntu)"
      }
    },
    "/{distribution_name}": {
      "get": {
        "operationId": "getDistribution",
        "summary": "Get a distribution",
        "tags": [
          "Distributions"
        ],
        "parameters": [
          {
            "name": "distribution_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get a distribution"
      }
    },
    "/{project_name}/+source/{source_name}": {
      "get": {
        "operationId": "getSourcePackage",
        "summary": "Get a source package",
        "tags": [
          "Packages"
        ],
        "parameters": [
          {
            "name": "project_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "source_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get a source package"
      }
    }
  },
  "components": {
    "schemas": {
      "Collection": {
        "type": "object",
        "properties": {
          "total_size": {
            "type": "integer"
          },
          "start": {
            "type": "integer"
          },
          "next_collection_link": {
            "type": "string"
          },
          "prev_collection_link": {
            "type": "string"
          },
          "entries": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "Bug": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "date_created": {
            "type": "string",
            "format": "date-time"
          },
          "date_last_updated": {
            "type": "string",
            "format": "date-time"
          },
          "date_last_message": {
            "type": "string",
            "format": "date-time"
          },
          "owner_link": {
            "type": "string"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "heat": {
            "type": "integer"
          },
          "information_type": {
            "type": "string"
          },
          "private": {
            "type": "boolean"
          },
          "security_related": {
            "type": "boolean"
          },
          "number_of_duplicates": {
            "type": "integer"
          },
          "users_affected_count": {
            "type": "integer"
          },
          "web_link": {
            "type": "string"
          },
          "self_link": {
            "type": "string"
          },
          "bug_tasks_collection_link": {
            "type": "string"
          },
          "messages_collection_link": {
            "type": "string"
          },
          "attachments_collection_link": {
            "type": "string"
          }
        }
      },
      "Project": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "display_name": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "summary": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "date_created": {
            "type": "string",
            "format": "date-time"
          },
          "owner_link": {
            "type": "string"
          },
          "web_link": {
            "type": "string"
          },
          "self_link": {
            "type": "string"
          },
          "homepage_url": {
            "type": "string"
          },
          "programming_language": {
            "type": "string"
          },
          "source_package_name": {
            "type": "string"
          },
          "development_focus_link": {
            "type": "string"
          }
        }
      },
      "Person": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "display_name": {
            "type": "string"
          },
          "is_team": {
            "type": "boolean"
          },
          "date_created": {
            "type": "string",
            "format": "date-time"
          },
          "web_link": {
            "type": "string"
          },
          "self_link": {
            "type": "string"
          },
          "karma": {
            "type": "integer"
          },
          "time_zone": {
            "type": "string"
          },
          "preferred_email_address_link": {
            "type": "string"
          }
        }
      },
      "PPA": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "displayname": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "owner_link": {
            "type": "string"
          },
          "web_link": {
            "type": "string"
          },
          "self_link": {
            "type": "string"
          },
          "private": {
            "type": "boolean"
          },
          "require_virtualized": {
            "type": "boolean"
          },
          "suppress_subscription_notifications": {
            "type": "boolean"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "oauth": {
        "type": "oauth2",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://launchpad.net/+authorize-token",
            "tokenUrl": "https://launchpad.net/+access-token",
            "scopes": {
              "READ_PUBLIC": "Read public data",
              "WRITE_PUBLIC": "Write public data",
              "READ_PRIVATE": "Read private data",
              "WRITE_PRIVATE": "Write private data"
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "oauth": [
        "READ_PUBLIC"
      ]
    }
  ],
  "tags": [
    {
      "name": "Bugs"
    },
    {
      "name": "Distributions"
    },
    {
      "name": "PPAs"
    },
    {
      "name": "Packages"
    },
    {
      "name": "People"
    },
    {
      "name": "Projects"
    }
  ]
}
