{
  "openapi": "3.0.3",
  "info": {
    "title": "RMV HAFAS API",
    "version": "1.0.0",
    "description": "RMV (Rhein-Main-Verkehrsverbund) public transport API for the Hessen region in Germany. HAFAS-based API providing departure boards, trip planning, location search, and stop information.",
    "x-jentic-source-url": "https://opendata.rmv.de/site/start.html",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://www.rmv.de/hapi"
    }
  ],
  "paths": {
    "/departureBoard": {
      "get": {
        "operationId": "getDepartureBoard",
        "summary": "Get departure board",
        "description": "Returns upcoming departures from a stop.",
        "tags": [
          "Departures"
        ],
        "parameters": [
          {
            "name": "accessId",
            "in": "query",
            "required": true,
            "description": "API access key",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "Stop/station ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "date",
            "in": "query",
            "description": "Date (YYYY-MM-DD)",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "time",
            "in": "query",
            "description": "Time (HH:MM)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "duration",
            "in": "query",
            "description": "Duration in minutes to look ahead",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 60
            }
          },
          {
            "name": "maxJourneys",
            "in": "query",
            "description": "Maximum number of departures",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "products",
            "in": "query",
            "description": "Bitmask for transport products",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "Response format",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "xml"
              ],
              "default": "json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Departure board",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DepartureBoardResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/arrivalBoard": {
      "get": {
        "operationId": "getArrivalBoard",
        "summary": "Get arrival board",
        "description": "Returns upcoming arrivals at a stop.",
        "tags": [
          "Arrivals"
        ],
        "parameters": [
          {
            "name": "accessId",
            "in": "query",
            "required": true,
            "description": "API access key",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "Stop/station ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "date",
            "in": "query",
            "description": "Date (YYYY-MM-DD)",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "time",
            "in": "query",
            "description": "Time (HH:MM)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "duration",
            "in": "query",
            "description": "Duration in minutes",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 60
            }
          },
          {
            "name": "maxJourneys",
            "in": "query",
            "description": "Maximum arrivals",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "Response format",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "xml"
              ],
              "default": "json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Arrival board",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArrivalBoardResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/location.name": {
      "get": {
        "operationId": "searchLocation",
        "summary": "Search locations by name",
        "description": "Search for stops, addresses, and POIs by name.",
        "tags": [
          "Location"
        ],
        "parameters": [
          {
            "name": "accessId",
            "in": "query",
            "required": true,
            "description": "API access key",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "input",
            "in": "query",
            "required": true,
            "description": "Search string",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "Location type filter",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "S",
                "A",
                "P",
                "ALL"
              ]
            }
          },
          {
            "name": "maxNo",
            "in": "query",
            "description": "Maximum number of results",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 10
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "Response format",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "xml"
              ],
              "default": "json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Location search results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LocationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/location.nearbystops": {
      "get": {
        "operationId": "getNearbyStops",
        "summary": "Get nearby stops",
        "description": "Find stops near a given coordinate.",
        "tags": [
          "Location"
        ],
        "parameters": [
          {
            "name": "accessId",
            "in": "query",
            "required": true,
            "description": "API access key",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "originCoordLat",
            "in": "query",
            "required": true,
            "description": "Latitude",
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "originCoordLong",
            "in": "query",
            "required": true,
            "description": "Longitude",
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "maxNo",
            "in": "query",
            "description": "Maximum results",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 10
            }
          },
          {
            "name": "maxDist",
            "in": "query",
            "description": "Maximum distance in meters",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1000
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "Response format",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "xml"
              ],
              "default": "json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Nearby stops",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LocationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/trip": {
      "get": {
        "operationId": "planTrip",
        "summary": "Plan a trip",
        "description": "Calculate a route between two locations.",
        "tags": [
          "Trip"
        ],
        "parameters": [
          {
            "name": "accessId",
            "in": "query",
            "required": true,
            "description": "API access key",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "originId",
            "in": "query",
            "description": "Origin stop ID",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "originCoordLat",
            "in": "query",
            "description": "Origin latitude",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "originCoordLong",
            "in": "query",
            "description": "Origin longitude",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "destId",
            "in": "query",
            "description": "Destination stop ID",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "destCoordLat",
            "in": "query",
            "description": "Destination latitude",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "destCoordLong",
            "in": "query",
            "description": "Destination longitude",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "date",
            "in": "query",
            "description": "Travel date",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "time",
            "in": "query",
            "description": "Travel time (HH:MM)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "searchForArrival",
            "in": "query",
            "description": "If 1, time is arrival time",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [
                0,
                1
              ]
            }
          },
          {
            "name": "numF",
            "in": "query",
            "description": "Number of trips to return",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 5
            }
          },
          {
            "name": "products",
            "in": "query",
            "description": "Transport product bitmask",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "Response format",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "xml"
              ],
              "default": "json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Trip results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TripResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "DepartureBoardResponse": {
        "type": "object",
        "properties": {
          "Departure": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DepartureArrival"
            }
          }
        }
      },
      "ArrivalBoardResponse": {
        "type": "object",
        "properties": {
          "Arrival": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DepartureArrival"
            }
          }
        }
      },
      "DepartureArrival": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Line name"
          },
          "type": {
            "type": "string",
            "description": "Transport type"
          },
          "stop": {
            "type": "string",
            "description": "Stop name"
          },
          "stopid": {
            "type": "string",
            "description": "Stop ID"
          },
          "stopExtId": {
            "type": "string",
            "description": "External stop ID"
          },
          "time": {
            "type": "string",
            "description": "Scheduled time"
          },
          "date": {
            "type": "string",
            "description": "Scheduled date"
          },
          "rtTime": {
            "type": "string",
            "description": "Realtime time"
          },
          "rtDate": {
            "type": "string",
            "description": "Realtime date"
          },
          "direction": {
            "type": "string",
            "description": "Direction/destination"
          },
          "trainNumber": {
            "type": "string"
          },
          "trainCategory": {
            "type": "string"
          }
        }
      },
      "LocationResponse": {
        "type": "object",
        "properties": {
          "stopLocationOrCoordLocation": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "StopLocation": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string"
                    },
                    "id": {
                      "type": "string"
                    },
                    "extId": {
                      "type": "string"
                    },
                    "lat": {
                      "type": "number"
                    },
                    "lon": {
                      "type": "number"
                    },
                    "weight": {
                      "type": "integer"
                    },
                    "products": {
                      "type": "integer"
                    }
                  }
                },
                "CoordLocation": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string"
                    },
                    "lat": {
                      "type": "number"
                    },
                    "lon": {
                      "type": "number"
                    },
                    "type": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "TripResponse": {
        "type": "object",
        "properties": {
          "Trip": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "LegList": {
                  "type": "object",
                  "properties": {
                    "Leg": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "Origin": {
                            "type": "object",
                            "properties": {
                              "name": {
                                "type": "string"
                              },
                              "id": {
                                "type": "string"
                              },
                              "time": {
                                "type": "string"
                              },
                              "date": {
                                "type": "string"
                              }
                            }
                          },
                          "Destination": {
                            "type": "object",
                            "properties": {
                              "name": {
                                "type": "string"
                              },
                              "id": {
                                "type": "string"
                              },
                              "time": {
                                "type": "string"
                              },
                              "date": {
                                "type": "string"
                              }
                            }
                          },
                          "name": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          },
                          "direction": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "errorCode": {
            "type": "string"
          },
          "errorText": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "accessId": {
        "type": "apiKey",
        "in": "query",
        "name": "accessId",
        "description": "API access key from RMV open data portal"
      }
    }
  },
  "security": [
    {
      "accessId": []
    }
  ],
  "tags": [
    {
      "name": "Arrivals"
    },
    {
      "name": "Departures"
    },
    {
      "name": "Location"
    },
    {
      "name": "Trip"
    }
  ]
}
