{
  "openapi": "3.0.0",
  "externalDocs": {
    "description": "Documentation",
    "url": "https://docs.saltedge.com/v6"
  },
  "info": {
    "version": "6.0.0",
    "title": "Salt Edge Account Information and Payment Initiation API",
    "description": "API Reference for v6",
    "contact": {
      "name": "Support Team",
      "email": "support@saltedge.com",
      "url": "https://www.saltedge.com/pages/contact"
    },
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/MADALINAUNGUREANU_1/salt-edge-account-information-and-payment-initiation-api/6.0.0"
  },
  "servers": [
    {
      "url": "https://www.saltedge.com/api/v6"
    }
  ],
  "security": [
    {
      "app_id": [],
      "secret": []
    }
  ],
  "paths": {
    "/accounts": {
      "get": {
        "summary": "List of accounts",
        "description": "You can see the list of accounts of a connection.",
        "tags": [
          "Accounts"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountsResponse"
                },
                "example": {
                  "data": [
                    {
                      "id": "1111111111111111111",
                      "connection_id": "1111111111111111111",
                      "name": "Simple account 1 MasterCard",
                      "nature": "card",
                      "balance": 2007.9,
                      "currency_code": "EUR",
                      "extra": {
                        "iban": "DE5555555555555555555555",
                        "swift": "ABCDEFGH",
                        "status": "active",
                        "card_type": "master_card",
                        "sort_code": "65-43-21",
                        "holder_name": "John DOE",
                        "account_name": "123456",
                        "current_date": "2021-09-14",
                        "current_time": "18:04:00",
                        "account_number": "123456",
                        "transactions_count": {
                          "posted": 4,
                          "pending": 0
                        },
                        "last_posted_transaction_id": "7777777777777777777"
                      },
                      "created_at": "2021-09-14T18:04:48Z",
                      "updated_at": "2021-09-14T18:04:48Z"
                    },
                    {
                      "id": "2222222222222222222",
                      "connection_id": "1111111111111111111",
                      "name": "Simple account 2",
                      "nature": "account",
                      "balance": 2012.14,
                      "currency_code": "USD",
                      "extra": {
                        "iban": "DE77777777777777",
                        "cards": [
                          "1234....5678",
                          "*8765"
                        ],
                        "swift": "ABCDEFGJ",
                        "status": "active",
                        "sort_code": "65-43-22",
                        "holder_name": "John Doe",
                        "account_name": "123457",
                        "current_date": "2021-09-14",
                        "current_time": "18:04:00",
                        "account_number": "123457",
                        "transactions_count": {
                          "posted": 5,
                          "pending": 0
                        },
                        "last_posted_transaction_id": "444444444444444"
                      },
                      "created_at": "2021-09-14T18:04:48Z",
                      "updated_at": "2021-09-14T18:04:48Z"
                    }
                  ],
                  "meta": {
                    "next_id": "3333333333333333333",
                    "next_page": "/api/v6/accounts?connection_id=1111111111111111111&from_id=3333333333333333333"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Some parameters or the entire JSON request are in the wrong format",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "The User with the provided `customer_id` does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "in": "query",
            "name": "connection_id",
            "required": false,
            "schema": {
              "type": "string",
              "format": "integer",
              "description": "The `id` of the Connection. Mandatory if `customer_id` is not provided."
            }
          },
          {
            "in": "query",
            "name": "customer_id",
            "required": false,
            "schema": {
              "type": "string",
              "format": "integer",
              "description": "A unique `id` of the User assigned by Salt Edge. Mandatory if `connection_id` is not provided."
            }
          },
          {
            "in": "query",
            "name": "from_id",
            "required": false,
            "schema": {
              "type": "string",
              "format": "integer",
              "description": "The `id` of the Account the list starts with"
            }
          },
          {
            "in": "query",
            "name": "per_page",
            "required": false,
            "schema": {
              "type": "integer",
              "description": "The nr. of Accounts to be listed per page"
            }
          }
        ]
      }
    },
    "/connections": {
      "get": {
        "summary": "List of connections",
        "description": "Returns all the connections accessible to your application for a certain customer.\nThe connections are sorted in ascending order of their `id`, so the newest connections will come last.\nWe recommend you fetch the whole list of connections to check whether any of the properties have changed.\n",
        "tags": [
          "Connections"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectionsResponse"
                },
                "example": {
                  "data": [
                    {
                      "id": "1111111111111111111",
                      "customer_id": "1111111111111111111",
                      "customer_identifier": "example_identifier",
                      "provider_code": "fake_oauth_client_xf",
                      "provider_name": "Fake OAuth Bank with Client Keys",
                      "country_code": "XF",
                      "status": "active",
                      "categorization": "none",
                      "categorization_vendor": null,
                      "automatic_refresh": true,
                      "next_refresh_possible_at": "2024-02-19T06:26:03Z",
                      "created_at": "2024-01-03T14:39:58Z",
                      "updated_at": "2024-02-19T06:11:03Z",
                      "last_consent_id": "1111111111111111111",
                      "last_attempt": {
                        "id": "1111111111111111111",
                        "consent_id": "1111111111111111111",
                        "api_version": "6",
                        "api_mode": "service",
                        "automatic_fetch": true,
                        "categorize": false,
                        "custom_fields": {},
                        "automatic_refresh": true,
                        "exclude_accounts": [],
                        "fetch_from_date": "2024-02-17",
                        "fetch_to_date": "2024-02-19",
                        "fetch_scopes": [
                          "accounts",
                          "balance",
                          "transactions"
                        ],
                        "finished": true,
                        "finished_recent": true,
                        "include_natures": null,
                        "interactive": false,
                        "locale": "ro",
                        "partial": false,
                        "show_consent_confirmation": true,
                        "store_credentials": true,
                        "user_present": false,
                        "user_agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10.15; rv:121.0) Gecko/20100101 Firefox/121.0",
                        "device_type": "desktop",
                        "remote_ip": "10.9.9.9",
                        "customer_last_logged_at": null,
                        "created_at": "2024-02-19T06:10:13Z",
                        "updated_at": "2024-02-19T06:11:03Z",
                        "success_at": "2024-02-19T06:11:03Z",
                        "fail_at": null,
                        "fail_error_class": null,
                        "fail_message": null,
                        "last_stage": {
                          "id": "1111111111111111111",
                          "name": "finish",
                          "created_at": "2024-02-19T06:11:03Z",
                          "updated_at": "2024-02-19T06:11:03Z"
                        }
                      }
                    },
                    {
                      "id": "2222222222222222222",
                      "customer_id": "1111111111111111111",
                      "customer_identifier": "example_identifier",
                      "provider_code": "fake_oauth_client_xf",
                      "provider_name": "Fake OAuth Bank with Client Keys",
                      "country_code": "XF",
                      "status": "active",
                      "categorization": "personal",
                      "categorization_vendor": "saltedge",
                      "automatic_refresh": false,
                      "next_refresh_possible_at": "2024-01-15T14:10:28Z",
                      "created_at": "2024-01-03T14:58:19Z",
                      "updated_at": "2024-01-15T13:55:28Z",
                      "last_consent_id": "1111111111111111112",
                      "last_attempt": {
                        "id": "1111111111111111112",
                        "consent_id": "1111111111111111112",
                        "api_version": "6",
                        "api_mode": "service",
                        "automatic_fetch": true,
                        "categorize": true,
                        "custom_fields": {},
                        "automatic_refresh": false,
                        "exclude_accounts": [],
                        "fetch_from_date": "2023-11-16",
                        "fetch_to_date": "2024-01-15",
                        "fetch_scopes": [
                          "accounts",
                          "balance",
                          "holder_info",
                          "transactions"
                        ],
                        "finished": true,
                        "finished_recent": true,
                        "include_natures": null,
                        "interactive": false,
                        "locale": "ro",
                        "partial": false,
                        "show_consent_confirmation": true,
                        "store_credentials": true,
                        "user_present": true,
                        "user_agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10.15; rv:120.0) Gecko/20100101 Firefox/120.0",
                        "device_type": "desktop",
                        "remote_ip": "10.9.9.9",
                        "customer_last_logged_at": null,
                        "created_at": "2024-01-15T13:55:11Z",
                        "updated_at": "2024-01-15T13:55:28Z",
                        "success_at": "2024-01-15T13:55:28Z",
                        "fail_at": null,
                        "fail_error_class": null,
                        "fail_message": null,
                        "last_stage": {
                          "id": "1111111111111111112",
                          "name": "finish",
                          "created_at": "2024-01-15T13:55:28Z",
                          "updated_at": "2024-01-15T13:55:28Z"
                        }
                      }
                    }
                  ],
                  "meta": {
                    "next_id": "3333333333333333333",
                    "next_page": "/api/v6/connections?customer_id=1111111111111111111&from_id=3333333333333333333"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Some parameters or the entire JSON request are in the wrong format",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "The User with the provided `customer_id` does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "in": "query",
            "name": "customer_id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "integer",
              "description": "A unique `id` of the User assigned by Salt Edge"
            }
          },
          {
            "in": "query",
            "name": "from_id",
            "required": false,
            "schema": {
              "type": "string",
              "format": "integer",
              "description": "The `id` of the Connection the list starts with"
            }
          },
          {
            "in": "query",
            "name": "per_page",
            "required": false,
            "schema": {
              "type": "integer",
              "description": "The nr. of Connections to be listed [per page](/#pagination)"
            }
          }
        ]
      }
    },
    "/connections/connect": {
      "post": {
        "summary": "Create a connection",
        "description": "When not using [Salt Edge Connect](#salt_edge_connect), your app will have to pass\nthe user's values of Provider's [fields](#providers-fields) within the payload.\n\nThe credentials object should be modeled after the Provider's fields.\n",
        "tags": [
          "Connections"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectionConnectResponse"
                },
                "example": {
                  "data": {
                    "expires_at": "2024-02-19T17:07:59Z",
                    "connect_url": "https://www.saltedge.com/connect?token=78abc19673b5978ec2bed15bc7b395e5f4775ccfbc78ecf45cc41e64a9ac51d46",
                    "customer_id": "1111111111111111111111"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Some parameters or the entire JSON request are in the wrong format",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "The Client does not possess a key for the selected Provider",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "406": {
            "description": "Issues related to the certificates and/ or app ID have been detected",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateConnectionRequestBody"
              }
            }
          }
        }
      }
    },
    "/connections/{connection_id}/reconnect": {
      "post": {
        "summary": "Reconnect a connection",
        "description": "In order to [reconnect](#connections-reconnect) a connection, your app needs to send the credentials object, connection's `id`, [consent object](#consents-object) and/or [attempt object](#attempts-object). This means that the consent confirmation should be handled on the client's side, and the 'access terms' the customer agreed on should be passed.\n",
        "tags": [
          "Connections"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectionReconnectResponse"
                },
                "example": {
                  "data": {
                    "expires_at": "2024-02-19T17:07:59Z",
                    "connect_url": "https://www.saltedge.com/connect?token=78abc19673b5978ec2bed15bc7b395e5f4775ccfbc78ecf45cc41e64a9ac51d46",
                    "customer_id": "1111111111111111111111"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Some parameters or the entire JSON request are in the wrong format",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "The Client does not possess a key for the selected Provider",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "406": {
            "description": "Issues related to the certificates and/ or app ID have been detected",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "409": {
            "description": "The Connection is already being processed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "in": "path",
            "name": "connection_id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "integer",
              "description": "The `id` of the Connection"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReconnectConnectionRequestBody"
              }
            }
          }
        }
      }
    },
    "/connections/{connection_id}/refresh": {
      "post": {
        "summary": "Refresh a connection",
        "description": "Allows you to trigger a refetch of the data associated with a specific connection.\nNote that you can refresh a connection only if it has an active [consent](#consents).\nIf the response is successful, it will contain the `next_refresh_possible_at` value, and you can expect the [usual callbacks](#callbacks) of the fetching workflow.\n",
        "tags": [
          "Connections"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectionRefreshResponse"
                },
                "example": {
                  "data": {
                    "expires_at": "2024-02-19T17:07:59Z",
                    "connect_url": "https://www.saltedge.com/connect?token=78abc19673b5978ec2bed15bc7b395e5f4775ccfbc78ecf45cc41e64a9ac51d46",
                    "customer_id": "1111111111111111111111"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Some parameters or the entire JSON request are in the wrong format",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "The Client does not possess a key for the selected Provider",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "406": {
            "description": "Issues related to the certificates and/ or app ID have been detected",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "409": {
            "description": "The Connection is already being processed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "in": "path",
            "name": "connection_id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "integer",
              "description": "The `id` of the Connection"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RefreshConnectionRequestBody"
              }
            }
          }
        }
      }
    },
    "/connections/{connection_id}/background_refresh": {
      "post": {
        "summary": "Refresh a connection in background",
        "description": "Allows you to trigger a refetch of the data associated with a specific connection without widget.\nNote that you can refresh a connection only if it has an active [consent](#consents).\nIf the response is successful, it will contain the `next_refresh_possible_at` value, and you can expect the [usual callbacks](#callbacks) of the fetching workflow.\n",
        "tags": [
          "Connections"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectionResponse"
                },
                "example": {
                  "data": {
                    "id": "1111111111111111111",
                    "customer_id": "1191191191191191191",
                    "customer_identifier": "example_identifier",
                    "provider_code": "fake_oauth_client_xf",
                    "provider_name": "Fake OAuth Bank with Client Keys",
                    "country_code": "XF",
                    "status": "inactive",
                    "categorization": "personal",
                    "automatic_refresh": true,
                    "next_refresh_possible_at": null,
                    "created_at": "2024-03-25T13:20:53Z",
                    "updated_at": "2024-03-25T13:29:09Z",
                    "last_consent_id": "1241241241241241241",
                    "last_attempt": {
                      "id": "1221122112211221122",
                      "consent_id": "1241241241241241241",
                      "api_version": "6",
                      "api_mode": "service",
                      "automatic_fetch": false,
                      "categorize": true,
                      "custom_fields": {
                        "id2": "value",
                        "id3": "value",
                        "id4": "value"
                      },
                      "automatic_refresh": true,
                      "exclude_accounts": [],
                      "fetch_from_date": "2024-01-25",
                      "fetch_to_date": "2024-01-25",
                      "fetch_scopes": [
                        "accounts",
                        "holder_info",
                        "transactions"
                      ],
                      "finished": false,
                      "finished_recent": false,
                      "include_natures": [
                        "account"
                      ],
                      "interactive": false,
                      "locale": "en",
                      "partial": false,
                      "show_consent_confirmation": false,
                      "store_credentials": true,
                      "user_present": false,
                      "user_agent": null,
                      "device_type": "desktop",
                      "remote_ip": "127.0.0.1",
                      "customer_last_logged_at": null,
                      "created_at": "2024-03-25T13:29:09Z",
                      "updated_at": "2024-03-25T13:29:09Z",
                      "success_at": null,
                      "fail_at": null,
                      "fail_error_class": null,
                      "fail_message": null,
                      "last_stage": {
                        "id": "1212121212121212121",
                        "name": "initialize",
                        "created_at": "2024-03-25T13:29:09Z",
                        "updated_at": "2024-03-25T13:29:09Z"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Some parameters or the entire JSON request are in the wrong format",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "The requested `connection_id` does not match any existing Connections",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "406": {
            "description": "Issues related to the certificates and/ or app ID have been detected",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "409": {
            "description": "The Connection is already being processed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "in": "path",
            "name": "connection_id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BackgroundRefreshConnectionRequestBody"
              }
            }
          }
        }
      }
    },
    "/connections/{connection_id}": {
      "delete": {
        "summary": "Remove a connection",
        "description": "Removes a connection from our system and revokes the consent.\nAll the associated accounts and transactions to that connection will be destroyed as well.\nSalt Edge will send a [destroy](#destroy) callback to your web application. Make sure to specify the `Destroy URL` in your client Account by accessing [callbacks page](https://www.saltedge.com/clients/callbacks/edit).\n",
        "tags": [
          "Connections"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RemovedConnectionResponse"
                },
                "example": {
                  "data": {
                    "id": "11111111111111",
                    "removed": true
                  }
                }
              }
            }
          },
          "400": {
            "description": "Some parameters or the entire JSON request are in the wrong format",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "The requested `connection_id` does not match any existing Connections",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "in": "path",
            "name": "connection_id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "integer",
              "description": "The `id` of the Connection"
            }
          }
        ]
      },
      "get": {
        "summary": "Show a connection",
        "description": "Returns a single connection object",
        "tags": [
          "Connections"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectionResponse"
                },
                "example": {
                  "data": {
                    "id": "11111111111111",
                    "customer_id": "11111111111111",
                    "customer_identifier": "example_identifier",
                    "provider_code": "fake_oauth_client_xf",
                    "provider_name": "Fake OAuth Bank with Client Keys",
                    "country_code": "XF",
                    "status": "active",
                    "categorization": "personal",
                    "categorization_vendor": "saltedge",
                    "automatic_refresh": false,
                    "next_refresh_possible_at": "2024-01-15T14:10:28Z",
                    "created_at": "2024-01-03T14:58:19Z",
                    "updated_at": "2024-01-15T13:55:28Z",
                    "last_consent_id": "11111111111111",
                    "last_attempt": {
                      "id": "11111111111111",
                      "consent_id": "11111111111111",
                      "api_version": "6",
                      "api_mode": "service",
                      "automatic_fetch": true,
                      "categorize": true,
                      "custom_fields": {},
                      "automatic_refresh": false,
                      "exclude_accounts": [],
                      "fetch_from_date": "2023-11-16",
                      "fetch_to_date": "2024-01-15",
                      "fetch_scopes": [
                        "accounts",
                        "balance",
                        "holder_info",
                        "transactions"
                      ],
                      "finished": true,
                      "finished_recent": true,
                      "include_natures": null,
                      "interactive": false,
                      "locale": "ro",
                      "partial": false,
                      "show_consent_confirmation": true,
                      "store_credentials": true,
                      "user_present": true,
                      "user_agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10.15; rv:120.0) Gecko/20100101 Firefox/120.0",
                      "device_type": "desktop",
                      "remote_ip": "10.9.9.9",
                      "customer_last_logged_at": null,
                      "created_at": "2024-01-15T13:55:11Z",
                      "updated_at": "2024-01-15T13:55:28Z",
                      "success_at": "2024-01-15T13:55:28Z",
                      "fail_at": null,
                      "fail_error_class": null,
                      "fail_message": null,
                      "last_stage": {
                        "id": "11111111111111",
                        "name": "finish",
                        "created_at": "2024-01-15T13:55:28Z",
                        "updated_at": "2024-01-15T13:55:28Z"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Some parameters or the entire JSON request are in the wrong format",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "The requested `connection_id` does not match any existing Connections",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "in": "path",
            "name": "connection_id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "integer",
              "description": "The `id` of the Connection"
            }
          },
          {
            "in": "query",
            "name": "include_holder_info",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Whether the Connection holder's information should be displayed"
            }
          }
        ]
      },
      "put": {
        "summary": "Update connection",
        "description": "An update of the `status`, `store_credentials`, `automatic_refresh`, or `categorization` associated with a specific Connection can be triggered.\n",
        "tags": [
          "Connections"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectionResponse"
                },
                "example": {
                  "data": {
                    "id": "11111111111111",
                    "customer_id": "11111111111111",
                    "customer_identifier": "example_identifier",
                    "provider_code": "fake_oauth_client_xf",
                    "provider_name": "Fake OAuth Bank with Client Keys",
                    "country_code": "XF",
                    "status": "inactive",
                    "categorization": "business",
                    "categorization_vendor": "saltedge",
                    "automatic_refresh": true,
                    "next_refresh_possible_at": "2024-01-15T14:10:28Z",
                    "created_at": "2024-01-03T14:58:19Z",
                    "updated_at": "2024-01-15T13:55:28Z",
                    "last_consent_id": "11111111111111",
                    "last_attempt": {
                      "id": "11111111111111",
                      "consent_id": "11111111111111",
                      "api_version": "6",
                      "api_mode": "service",
                      "automatic_fetch": true,
                      "categorize": true,
                      "custom_fields": {},
                      "automatic_refresh": false,
                      "exclude_accounts": [],
                      "fetch_from_date": "2023-11-16",
                      "fetch_to_date": "2024-01-15",
                      "fetch_scopes": [
                        "accounts",
                        "balance",
                        "holder_info",
                        "transactions"
                      ],
                      "finished": true,
                      "finished_recent": true,
                      "include_natures": null,
                      "interactive": false,
                      "locale": "ro",
                      "partial": false,
                      "show_consent_confirmation": true,
                      "store_credentials": true,
                      "user_present": true,
                      "user_agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10.15; rv:120.0) Gecko/20100101 Firefox/120.0",
                      "device_type": "desktop",
                      "remote_ip": "10.9.9.9",
                      "customer_last_logged_at": null,
                      "created_at": "2024-01-15T13:55:11Z",
                      "updated_at": "2024-01-15T13:55:28Z",
                      "success_at": "2024-01-15T13:55:28Z",
                      "fail_at": null,
                      "fail_error_class": null,
                      "fail_message": null,
                      "last_stage": {
                        "id": "11111111111111",
                        "name": "finish",
                        "created_at": "2024-01-15T13:55:28Z",
                        "updated_at": "2024-01-15T13:55:28Z"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Some parameters or the entire JSON request are in the wrong format",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "The requested `connection_id` does not match any existing Connections",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "in": "path",
            "name": "connection_id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "integer",
              "description": "The `id` of the Connection"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateConnectionRequestBody"
              }
            }
          }
        }
      }
    },
    "/consents": {
      "get": {
        "summary": "List of consents",
        "description": "Returns all the consents accessible to your application for a certain customer or a connection.",
        "tags": [
          "Consents"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConsentsResponse"
                },
                "example": {
                  "data": [
                    {
                      "id": "1111111111111111111",
                      "connection_id": "1111111111111111111",
                      "customer_id": "2222222222222222222",
                      "status": "active",
                      "scopes": [
                        "accounts",
                        "transactions"
                      ],
                      "period_days": null,
                      "expires_at": null,
                      "from_date": "2021-06-14",
                      "to_date": null,
                      "collected_by": "saltedge",
                      "revoked_at": null,
                      "revoke_reason": null,
                      "created_at": "2021-09-14T18:04:37Z",
                      "updated_at": "2021-09-14T18:04:37Z"
                    },
                    {
                      "id": "2222222222222222222",
                      "connection_id": "1111111111111111111",
                      "customer_id": "222222222222222222",
                      "status": "active",
                      "scopes": [
                        "accounts",
                        "transactions"
                      ],
                      "period_days": null,
                      "expires_at": null,
                      "from_date": "2021-06-14",
                      "to_date": null,
                      "collected_by": "saltedge",
                      "revoked_at": null,
                      "revoke_reason": null,
                      "created_at": "2021-09-14T18:04:37Z",
                      "updated_at": "2021-09-14T18:04:37Z"
                    }
                  ],
                  "meta": {
                    "next_id": "3333333333333333333",
                    "next_page": "/api/v6/consents?connection_id=1111111111111111111&from_id=3333333333333333333"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Some parameters or the entire JSON request are in the wrong format",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "The User with the provided `customer_id` does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "in": "query",
            "name": "connection_id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "integer",
              "description": "The `id` of the Connection to which the consent belongs"
            }
          },
          {
            "in": "query",
            "name": "customer_id",
            "required": false,
            "schema": {
              "type": "string",
              "format": "integer",
              "description": "A unique `id` of the User assigned by Salt Edge to which the consent belongs"
            }
          },
          {
            "in": "query",
            "name": "from_id",
            "required": false,
            "schema": {
              "type": "string",
              "format": "integer",
              "description": "The `id` of the consent the list starts with"
            }
          },
          {
            "in": "query",
            "name": "per_page",
            "required": false,
            "schema": {
              "type": "integer",
              "description": "The nr. of consents to be listed per page"
            }
          }
        ]
      }
    },
    "/consents/{consent_id}": {
      "get": {
        "summary": "Show consent",
        "description": "Returns the [consent object](#ais-consents-attributes).",
        "tags": [
          "Consents"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConsentResponse"
                },
                "example": {
                  "data": {
                    "id": "111111111111111111",
                    "connection_id": "2222222222222222222",
                    "customer_id": "3333333333333333",
                    "status": "active",
                    "scopes": [
                      "accounts",
                      "transactions"
                    ],
                    "period_days": null,
                    "expires_at": null,
                    "from_date": "2021-06-14",
                    "to_date": null,
                    "collected_by": "saltedge",
                    "revoked_at": null,
                    "revoke_reason": null,
                    "created_at": "2021-09-14T18:04:37Z",
                    "updated_at": "2021-09-14T18:04:37Z"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Some parameters or the entire JSON request are in the wrong format",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "The User with the provided `customer_id` does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "in": "path",
            "name": "consent_id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "integer",
              "description": "The `id` of the consent"
            }
          },
          {
            "in": "query",
            "name": "connection_id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "integer",
              "description": "The `id` of the Connection to which the consent belongs"
            }
          },
          {
            "in": "query",
            "name": "customer_id",
            "required": false,
            "schema": {
              "type": "string",
              "format": "integer",
              "description": "A unique `id` of the User assigned by Salt Edge to which the consent belongs"
            }
          }
        ]
      }
    },
    "/consents/{consent_id}/revoke": {
      "put": {
        "summary": "Revoke consent",
        "description": "Allows you to revoke a consent for a connection or a customer.",
        "tags": [
          "Consents"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConsentResponse"
                },
                "example": {
                  "data": {
                    "id": "111111111111111111",
                    "connection_id": "2222222222222222222",
                    "customer_id": "3333333333333333",
                    "status": "revoked",
                    "scopes": [
                      "accounts",
                      "transactions"
                    ],
                    "period_days": 90,
                    "expires_at": "2024-09-12T13:13:21Z",
                    "from_date": "2024-04-14",
                    "to_date": null,
                    "collected_by": "client",
                    "revoked_at": "2024-06-25T13:20:03Z",
                    "revoke_reason": "client",
                    "created_at": "2024-06-14T13:13:21Z",
                    "updated_at": "2024-06-25T13:20:03Z"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Some parameters or the entire JSON request are in the wrong format",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "The User with the provided `customer_id` does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "in": "path",
            "name": "consent_id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "integer",
              "description": "The `id` of the consent"
            }
          },
          {
            "in": "query",
            "name": "connection_id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "integer",
              "description": "The `id` of the Connection to which the consent belongs"
            }
          },
          {
            "in": "query",
            "name": "customer_id",
            "required": false,
            "schema": {
              "type": "string",
              "format": "integer",
              "description": "A unique `id` of the User assigned by Salt Edge to which the consent belongs"
            }
          }
        ]
      }
    },
    "/countries": {
      "get": {
        "summary": "List of countries",
        "description": "Returns a list of countries supported by Payment Initiation API.",
        "tags": [
          "Countries"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CountriesResponse"
                },
                "example": {
                  "data": [
                    {
                      "name": "United Arab Emirates",
                      "code": "AE",
                      "refresh_start_time": 22
                    },
                    {
                      "name": "Armenia",
                      "code": "AM",
                      "refresh_start_time": 22
                    },
                    {
                      "name": "Argentina",
                      "code": "AR",
                      "refresh_start_time": 5
                    },
                    {
                      "name": "Austria",
                      "code": "AT",
                      "refresh_start_time": 1
                    },
                    {
                      "name": "Australia",
                      "code": "AU",
                      "refresh_start_time": 16
                    },
                    {
                      "name": "Azerbaijan",
                      "code": "AZ",
                      "refresh_start_time": 22
                    },
                    {
                      "name": "Bosnia and Herzegovina",
                      "code": "BA",
                      "refresh_start_time": 1
                    },
                    {
                      "name": "Barbados",
                      "code": "BB",
                      "refresh_start_time": 6
                    },
                    {
                      "name": "Bangladesh",
                      "code": "BD",
                      "refresh_start_time": 20
                    },
                    {
                      "name": "Belgium",
                      "code": "BE",
                      "refresh_start_time": 1
                    }
                  ],
                  "meta": {
                    "next_id": null,
                    "next_page": null
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "in": "query",
            "name": "include_sandboxes",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": true,
              "enum": [
                true,
                false
              ],
              "description": "Whether to display Sandboxes and Fake Providers or not.<br />\n`true` (for Clients in Pending & Test status); `false` (for Live Clients)\n"
            }
          }
        ]
      }
    },
    "/customers": {
      "post": {
        "summary": "Creates a customer.",
        "description": "Creates a customer, returning the customer object.",
        "tags": [
          "Customers"
        ],
        "responses": {
          "201": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/CreatedClientCustomerResponse"
                    },
                    {
                      "$ref": "#/components/schemas/CreatedPartnerCustomerResponse"
                    }
                  ]
                },
                "examples": {
                  "clients_create_response": {
                    "value": {
                      "data": {
                        "email": "email@email.com",
                        "customer_id": "111111111111111111",
                        "identifier": "example_identifier",
                        "blocked_at": null,
                        "created_at": "2023-02-08T14:06:41Z",
                        "updated_at": "2023-02-08T14:06:41Z"
                      }
                    }
                  },
                  "partners_create_response": {
                    "value": {
                      "data": {
                        "email": "example@email.com",
                        "customer_id": "111111111111111111",
                        "identifier": "example_identifier",
                        "blocked_at": null,
                        "created_at": "2023-02-08T14:06:41Z",
                        "updated_at": "2023-02-08T14:06:41Z"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Some parameters or the entire JSON request are in the wrong format",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "409": {
            "description": "The User being attempted to be created already exists",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/ClientCustomerRequestBody"
                  },
                  {
                    "$ref": "#/components/schemas/PartnerCustomerRequestBody"
                  }
                ]
              },
              "examples": {
                "clients_body_parameters": {
                  "value": {
                    "data": {
                      "identifier": "example_identifier"
                    }
                  }
                },
                "partners_body_parameters": {
                  "value": {
                    "data": {
                      "email": "email@email.com",
                      "kyc": {
                        "citizenship_code": "GB",
                        "date_of_birth": "2001-01-01",
                        "full_name": "John Doe",
                        "gender": "male",
                        "legal_name": "Example Company Name",
                        "place_of_birth": "London",
                        "registered_office_code": "GB",
                        "registered_office_address": "London, Independence str, block 5",
                        "registration_number": "12345",
                        "residence_address": "London, Independence str, block 5",
                        "type_of_account": "own"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "All customers.",
        "description": "List all of your app's customers.\nThis route is available only for web applications, not mobile ones.\n",
        "tags": [
          "Customers"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomersResponse"
                },
                "example": {
                  "data": [
                    {
                      "customer_id": "1111111111111111111",
                      "identifier": "email@email.com",
                      "categorization_type": null,
                      "blocked_at": null,
                      "created_at": "2021-09-14T15:14:34Z",
                      "updated_at": "2021-09-14T15:14:34Z"
                    },
                    {
                      "customer_id": "2222222222222222222",
                      "identifier": "some_identifier",
                      "categorization_type": null,
                      "blocked_at": null,
                      "created_at": "2021-09-14T18:04:11Z",
                      "updated_at": "2021-09-14T18:04:11Z"
                    }
                  ],
                  "meta": {
                    "next_id": "3333333333333333333",
                    "next_page": "/api/v6/customers?from_id=3333333333333333333"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "in": "query",
            "name": "from_id",
            "required": false,
            "schema": {
              "type": "string",
              "format": "integer",
              "description": "The `id` of the Customer the list starts with"
            }
          },
          {
            "in": "query",
            "name": "per_page",
            "required": false,
            "schema": {
              "type": "integer",
              "description": "The nr. of Customers to be listed per page"
            }
          }
        ]
      }
    },
    "/customers/{customer_id}": {
      "get": {
        "summary": "Show customer",
        "description": "Returns the customer object.",
        "tags": [
          "Customers"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerResponse"
                },
                "example": {
                  "data": {
                    "customer_id": "111111111111111111",
                    "identifier": "email@email.com",
                    "blocked_at": null,
                    "created_at": "2023-02-08T14:06:41Z",
                    "updated_at": "2023-02-08T14:06:41Z"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Some parameters or the entire JSON request are in the wrong format",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "The User with the provided `customer_id` does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "in": "path",
            "name": "customer_id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "integer",
              "description": "A unique `id` of the User assigned by Salt Edge"
            }
          }
        ]
      },
      "delete": {
        "summary": "Remove a customer",
        "description": "Deletes a customer, returning the customer object.\nRevokes all consents for this customer.\nThis route is available only for web applications.\n",
        "tags": [
          "Customers"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RemovedCustomerResponse"
                },
                "example": {
                  "data": {
                    "customer_id": "111111111111111111",
                    "deleted": true
                  }
                }
              }
            }
          },
          "404": {
            "description": "The User with the provided `customer_id` does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "406": {
            "description": "The User was locked manually in the Dashboard and may be unlocked",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "in": "path",
            "name": "customer_id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "integer",
              "description": "The `id` of the Customer"
            }
          }
        ]
      }
    },
    "/providers/{provider_code}": {
      "get": {
        "summary": "Show a Provider",
        "description": "Allows you to inspect a single Provider in order to give\nyour users a proper interface to input their credentials.\nThe response will have an array of `required_fields` and `interactive_fields`,\nwhich are explained in more detail in [the create section](#connections-create) of this reference.\n",
        "tags": [
          "Providers"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProviderResponse"
                },
                "example": {
                  "data": {
                    "id": "3099",
                    "code": "fake_oauth_client_xf",
                    "country_code": "XF",
                    "bic_codes": [],
                    "dynamic_registration_code": null,
                    "identification_codes": [],
                    "group_code": "fake",
                    "group_name": "Fake",
                    "hub": null,
                    "name": "Fake OAuth Bank with Client Keys",
                    "status": "active",
                    "mode": "oauth",
                    "regulated": true,
                    "logo_url": "https://d1uuj3mi6rzwpm.cloudfront.net/logos/providers/xf/placeholder_global.svg",
                    "home_url": "https://example.com",
                    "login_url": "https://example.com",
                    "timezone": "UTC",
                    "supported_iframe_embedding": true,
                    "optional_interactivity": true,
                    "customer_notified_on_sign_in": false,
                    "created_at": "2018-04-12T14:30:29Z",
                    "updated_at": "2024-03-06T07:47:56Z"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Some parameters or the entire JSON request are in the wrong format",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "A Provider with such a `provider_code` could not be found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "in": "path",
            "name": "provider_code",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The code assigned by Salt Edge for a particular Provider includes the country code for easier differentiation. I.e.: all Spanish providers' codes end with `_es`.\n"
            }
          },
          {
            "in": "query",
            "name": "include_ais_fields",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Includes the Provider’s AIS fields.</br> If `true`, the following fields are available: `automatic_fetch`, `custom_pendings_period`, `holder_info`, `instruction_for_connections`, `interactive_for_connections`, `max_consent_days`, `max_fetch_interval`, `fetch_policies`, `max_interactive_delay`, `refresh_timeout`, `supported_account_extra_fields`, `supported_account_natures`, `supported_account_types`, `supported_fetch_scopes`, `supported_transaction_extra_fields`"
            }
          },
          {
            "in": "query",
            "name": "include_pis_fields",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Includes supported and required Payment fields.</br> If `true`, the following fields are available: `payment_templates`, `instruction_for_payments`, `interactive_for_payments`, `required_payment_fields`, `supported_payment_fields`, `no_funds_rejection_supported`"
            }
          },
          {
            "in": "query",
            "name": "include_credentials_fields",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Includes supported and required credentials fields.</br> If `true`, the following fields are available: `credentials_fields`, `interactive_fields`"
            }
          },
          {
            "in": "query",
            "name": "include_bulk_payment_attributes",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Includes supported and required bulk payment attributes.</br> If `true`, the following fields are available: `bulk_payment_templates`, `bulk_required_creditors_attributes`, `bulk_required_shared_payment_attributes`, `unknown_status_payments_lifetime`, `bulk_supported_shared_payment_attributes`."
            }
          }
        ]
      }
    },
    "/providers": {
      "get": {
        "summary": "List of providers",
        "description": "Returns all the providers we operate with.\nIf a Provider becomes `disabled`, it is not included in the list.\n",
        "tags": [
          "Providers"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProvidersResponse"
                },
                "example": {
                  "data": [
                    {
                      "id": "247",
                      "code": "hbci_25451345_de",
                      "country_code": "DE",
                      "bic_codes": [
                        "NOLADE21PMT"
                      ],
                      "dynamic_registration_code": null,
                      "identification_codes": [
                        "25451345"
                      ],
                      "group_code": "sparkasse",
                      "group_name": "Sparkasse",
                      "hub": null,
                      "name": "Stadtsparkasse Bad Pyrmont HBCI",
                      "status": "active",
                      "mode": "api",
                      "regulated": false,
                      "logo_url": "https://d1uuj3mi6rzwpm.cloudfront.net/logos/providers/de/stadtsparkasse_oberhausen_de.svg",
                      "home_url": "http://www.ssk-bad-pyrmont.de",
                      "login_url": "http://www.ssk-bad-pyrmont.de",
                      "timezone": "Europe/Berlin",
                      "supported_iframe_embedding": true,
                      "optional_interactivity": true,
                      "customer_notified_on_sign_in": false,
                      "created_at": "2014-08-21T09:07:38Z",
                      "updated_at": "2023-06-29T10:41:25Z"
                    },
                    {
                      "id": "248",
                      "code": "hbci_25462680_de",
                      "country_code": "DE",
                      "bic_codes": [
                        "GENODEF1COP"
                      ],
                      "dynamic_registration_code": null,
                      "identification_codes": [
                        "25462680"
                      ],
                      "group_code": "volksbank_raiffeisen",
                      "group_name": "Volksbanken Raiffeisenbanken",
                      "hub": null,
                      "name": "Volksbank am Ith Coppenbrügge HBCI",
                      "status": "active",
                      "mode": "api",
                      "regulated": false,
                      "logo_url": "https://d1uuj3mi6rzwpm.cloudfront.net/logos/providers/de/frankfurter_volksbank_de.svg",
                      "home_url": "http://www.vb-iw.de",
                      "login_url": "http://www.vb-iw.de",
                      "timezone": "Europe/Berlin",
                      "supported_iframe_embedding": true,
                      "optional_interactivity": true,
                      "customer_notified_on_sign_in": false,
                      "created_at": "2014-08-21T09:07:38Z",
                      "updated_at": "2023-06-29T10:41:25Z"
                    }
                  ],
                  "meta": {
                    "next_id": "249",
                    "next_page": "/api/v6/providers?from_id=249"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Some parameters or the entire JSON request are in the wrong format",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "in": "query",
            "name": "include_sandboxes",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": true,
              "description": "Whether to display Sandboxes and Fake Providers or not.<br />\n`true` (for Clients in Pending & Test status); `false` (for Live Clients).\n"
            }
          },
          {
            "in": "query",
            "name": "country_code",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Filters the Providers by country"
            }
          },
          {
            "in": "query",
            "name": "include_ais_fields",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Includes the Provider’s AIS fields.</br> If `true`, the following fields are available: `automatic_fetch`, `custom_pendings_period`, `holder_info`, `instruction_for_connections`, `interactive_for_connections`, `max_consent_days`, `max_fetch_interval`, `fetch_policies`, `max_interactive_delay`, `refresh_timeout`, `supported_account_extra_fields`, `supported_account_natures`, `supported_account_types`, `supported_fetch_scopes`, `supported_transaction_extra_fields`"
            }
          },
          {
            "in": "query",
            "name": "include_pis_fields",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Includes supported and required Payment fields.</br> If `true`, the following fields are available: `payment_templates`, `instruction_for_payments`, `interactive_for_payments`, `required_payment_fields`, `supported_payment_fields`, `no_funds_rejection_supported`"
            }
          },
          {
            "in": "query",
            "name": "include_credentials_fields",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Includes supported and required credentials fields.</br> If `true`, the following fields are available: `credentials_fields`, `interactive_fields`"
            }
          },
          {
            "in": "query",
            "name": "include_bulk_payment_attributes",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Includes supported and required bulk payment attributes.</br> If `true`, the following fields are available: `bulk_payment_templates`, `bulk_required_creditors_attributes`, `bulk_required_shared_payment_attributes`, `unknown_status_payments_lifetime`, `bulk_supported_shared_payment_attributes`."
            }
          },
          {
            "in": "query",
            "name": "exclude_inactive",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Excludes inactive Providers from the list"
            }
          },
          {
            "in": "query",
            "name": "key_owner",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Filters Providers by key owner"
            }
          },
          {
            "in": "query",
            "name": "mode",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Filters Providers by mode"
            }
          },
          {
            "in": "query",
            "name": "from_id",
            "required": false,
            "schema": {
              "type": "string",
              "format": "integer",
              "description": "The `id` of the Provider which the list starts with"
            }
          },
          {
            "in": "query",
            "name": "per_page",
            "required": false,
            "schema": {
              "type": "integer",
              "description": "The nr. of Providers to be listed [per page](/#pagination)"
            }
          }
        ]
      }
    },
    "/rates": {
      "get": {
        "summary": "List of rates",
        "description": "You can get the list of all the currency rates that we support.\nYou will receive the currency rates starting March 21, 2014.\nIf any older date is requested, you will still receive the rates starting March 21, 2014.\n",
        "tags": [
          "Rates"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RatesResponse"
                },
                "example": {
                  "data": [
                    {
                      "currency_code": "AED",
                      "rate": 0.2722652206,
                      "fail": false
                    },
                    {
                      "currency_code": "AFN",
                      "rate": 0.0135567167,
                      "fail": false
                    }
                  ],
                  "meta": {
                    "issued_on": "2025-01-01"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Some parameters or the entire JSON request are in the wrong format",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "in": "query",
            "name": "date",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date",
              "description": "The currency rate for a specific date is returned<br />\nPossible values: any date in the `YYYY-MM-DD` format<br />\nDefault value: current date\n"
            }
          }
        ]
      }
    },
    "/transactions": {
      "get": {
        "summary": "List of transactions",
        "description": "You can see the list of non-duplicated transactions of an Account.",
        "tags": [
          "Transactions"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionsResponse"
                },
                "example": {
                  "data": [
                    {
                      "id": "1111111111111111111",
                      "account_id": "2222222222222222222",
                      "duplicated": false,
                      "mode": "normal",
                      "status": "posted",
                      "made_on": "2024-01-03",
                      "amount": 100,
                      "currency_code": "EUR",
                      "description": "Sample EUR for transaction on 2024-01-03",
                      "category": "uncategorized",
                      "extra": {
                        "payee": "Sample payee",
                        "payer": "Sample payer",
                        "payee_information": "Sample payee information",
                        "payer_information": "Sample payer information",
                        "account_balance_snapshot": 1000,
                        "categorization_confidence": null
                      },
                      "created_at": "2024-01-03T14:40:14Z",
                      "updated_at": "2024-01-03T14:40:14Z"
                    },
                    {
                      "id": "2222222222222222222",
                      "account_id": "2222222222222222222",
                      "duplicated": false,
                      "mode": "normal",
                      "status": "posted",
                      "made_on": "2024-01-03",
                      "amount": 100,
                      "currency_code": "EUR",
                      "description": "Sample EUR for transaction on 2024-01-03",
                      "category": "uncategorized",
                      "extra": {
                        "payee": "Sample payee",
                        "payer": "Sample payer",
                        "payee_information": "Sample payee information",
                        "payer_information": "Sample payer information",
                        "account_balance_snapshot": 1000,
                        "categorization_confidence": null
                      },
                      "created_at": "2024-01-03T14:40:14Z",
                      "updated_at": "2024-01-03T14:40:14Z"
                    }
                  ],
                  "meta": {
                    "next_id": "3333333333333333333",
                    "next_page": "/api/v6/transactions/?connection_id=1111111111111111111&account_id=2222222222222222222&from_id=3333333333333333333"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Some parameters or the entire JSON request are in the wrong format",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "The requested `connection_id` does not match any existing Connections",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "in": "query",
            "name": "connection_id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "integer",
              "description": "The `id` of the Connection"
            }
          },
          {
            "in": "query",
            "name": "account_id",
            "required": false,
            "schema": {
              "type": "string",
              "format": "integer",
              "description": "The `id` of the Account to which transactions belong"
            }
          },
          {
            "in": "query",
            "name": "pending",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Filters transactions by pending status.<br />\nPossible values: `true`, `false`.<br />\nReturns a list of `posted` transactions if `pending`: `false` or parameter not sent.<br />\nReturns a list of `pending` transactions if `pending`: `true`.<br />\nA pending transaction is an action initiated on an Account that has been authorized but not yet fully processed or confirmed by the Provider.\n"
            }
          },
          {
            "in": "query",
            "name": "duplicated",
            "required": false,
            "schema": {
              "type": "boolean",
              "enum": [
                true,
                false
              ],
              "description": "Filters transactions by duplicated value"
            }
          },
          {
            "in": "query",
            "name": "from_id",
            "required": false,
            "schema": {
              "type": "string",
              "format": "integer",
              "description": "The `id` of the transaction the list starts with"
            }
          },
          {
            "in": "query",
            "name": "per_page",
            "required": false,
            "schema": {
              "type": "integer",
              "description": "The nr. of transactions to be listed per page"
            }
          }
        ]
      },
      "put": {
        "summary": "",
        "description": "",
        "tags": [
          "Transactions"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateTransactionsResponse"
                },
                "example": {
                  "data": {
                    "duplicated": true,
                    "transaction_ids": [
                      "1111111111111111",
                      "2222222222222222",
                      "3333333333333333"
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "Some parameters or the entire JSON request are in the wrong format",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "The requested `connection_id` does not match any existing Connections",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateTransactionsRequestBody"
              }
            }
          }
        }
      }
    },
    "/bulk_payment_templates": {
      "get": {
        "summary": "List of Bulk Payment Templates",
        "description": "",
        "tags": [
          "Bulk Payment Templates"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BulkPaymentTemplatesResponse"
                },
                "example": {
                  "data": [
                    {
                      "identifier": "SEPA",
                      "description": "SEPA Payment",
                      "creditors_attributes": [
                        {
                          "name": "creditor_name",
                          "english_name": "Creditor Name",
                          "localized_name": "Creditor Name",
                          "nature": "text",
                          "optional": false,
                          "extra": {
                            "validation_regexp": ""
                          },
                          "options": null
                        },
                        {
                          "name": "amount",
                          "english_name": "Amount",
                          "localized_name": "Amount",
                          "nature": "number",
                          "optional": false,
                          "extra": {
                            "validation_regexp": "^[-+]?[0-9]*\\.?[0-9]+$"
                          },
                          "options": null
                        },
                        {
                          "name": "creditor_iban",
                          "english_name": "Creditor IBAN",
                          "localized_name": "Creditor IBAN",
                          "nature": "text",
                          "optional": false,
                          "extra": {
                            "validation_regexp": "^[a-zA-Z]{2}[0-9]{2}[a-zA-Z0-9]{4}[A-Z0-9]{7}([a-zA-Z0-9]?){0,16}$"
                          },
                          "options": null
                        }
                      ],
                      "shared_payment_attributes": [
                        {
                          "name": "debtor_name",
                          "english_name": "Debtor Name",
                          "localized_name": "Debtor Name",
                          "nature": "text",
                          "optional": true,
                          "extra": {
                            "validation_regexp": ""
                          },
                          "options": null
                        },
                        {
                          "name": "debtor_iban",
                          "english_name": "Debtor IBAN",
                          "localized_name": "Debtor IBAN",
                          "nature": "text",
                          "optional": true,
                          "extra": {
                            "validation_regexp": "^[a-zA-Z]{2}[0-9]{2}[a-zA-Z0-9]{4}[A-Z0-9]{7}([a-zA-Z0-9]?){0,16}$"
                          },
                          "options": null
                        }
                      ]
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Some parameters or the entire JSON request are in the wrong format",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "The User with the provided `customer_id` does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "406": {
            "description": "The User was locked manually in the Dashboard and may be unlocked",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/bulk_payment_templates/{template_identifier}": {
      "get": {
        "summary": "Show a bulk payment template",
        "description": "Returns a comprehensive bulk payment template object",
        "tags": [
          "Bulk Payment Templates"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentTemplateResponse"
                },
                "example": {
                  "data": {
                    "identifier": "SEPA",
                    "description": "SEPA Payment",
                    "creditors_attributes": [
                      {
                        "name": "creditor_name",
                        "english_name": "Creditor Name",
                        "localized_name": "Creditor Name",
                        "nature": "text",
                        "optional": false,
                        "extra": {
                          "validation_regexp": ""
                        },
                        "options": null
                      },
                      {
                        "name": "amount",
                        "english_name": "Amount",
                        "localized_name": "Amount",
                        "nature": "number",
                        "optional": false,
                        "extra": {
                          "validation_regexp": "^[-+]?[0-9]*\\.?[0-9]+$"
                        },
                        "options": null
                      },
                      {
                        "name": "creditor_iban",
                        "english_name": "Creditor IBAN",
                        "localized_name": "Creditor IBAN",
                        "nature": "text",
                        "optional": false,
                        "extra": {
                          "validation_regexp": "^[a-zA-Z]{2}[0-9]{2}[a-zA-Z0-9]{4}[A-Z0-9]{7}([a-zA-Z0-9]?){0,16}$"
                        },
                        "options": null
                      }
                    ],
                    "shared_payment_attributes": [
                      {
                        "name": "debtor_name",
                        "english_name": "Debtor Name",
                        "localized_name": "Debtor Name",
                        "nature": "text",
                        "optional": true,
                        "extra": {
                          "validation_regexp": ""
                        },
                        "options": null
                      },
                      {
                        "name": "debtor_iban",
                        "english_name": "Debtor IBAN",
                        "localized_name": "Debtor IBAN",
                        "nature": "text",
                        "optional": true,
                        "extra": {
                          "validation_regexp": "^[a-zA-Z]{2}[0-9]{2}[a-zA-Z0-9]{4}[A-Z0-9]{7}([a-zA-Z0-9]?){0,16}$"
                        },
                        "options": null
                      }
                    ]
                  }
                }
              }
            }
          },
          "404": {
            "description": "The Bulk Payment template does not match any existing bulk payment templates",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "in": "path",
            "name": "template_identifier",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Possible values: SEPA\n"
            }
          }
        ]
      }
    },
    "/bulk_payments/create": {
      "post": {
        "summary": "Create a bulkpayment",
        "description": "",
        "tags": [
          "Bulk Payments"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BulkPaymentCreateResponse"
                },
                "example": {
                  "data": {
                    "expires_at": "2025-04-18T13:47:40Z",
                    "bulk_payment_url": "https://www.saltedge.com/bulk_payments/connect?token=4911fc74ba9810cda8afc977b94c71c700f687d6f536ef257cf065ee9ce24481",
                    "customer_id": "4444444444444444444",
                    "bulk_payment_id": "11111111111111111111"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Some parameters or the entire JSON request are in the wrong format",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "A Provider with such a `provider_code` could not be found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "406": {
            "description": "The selected Payment template is not supported by the chosen Provider",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePaymentRequestBody"
              }
            }
          }
        }
      }
    },
    "/bulk_payments": {
      "get": {
        "summary": "List of bulk payments",
        "description": "",
        "tags": [
          "Bulk Payments"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BulkPaymentsResponse"
                },
                "example": {
                  "data": [
                    {
                      "id": "1111111111111111111",
                      "customer_id": "4444444444444444444",
                      "provider_code": "fake_oauth_client_xf",
                      "provider_name": "Fake OAuth Bank with Client Keys",
                      "created_at": "2024-02-19T20:43:54Z",
                      "updated_at": "2024-02-19T20:43:57Z",
                      "refresh_interval": 1800,
                      "refresh_timeout": 172800,
                      "status": "settled",
                      "raw_provider_status": "ACTC",
                      "template_identifier": "SEPA",
                      "payment_attributes": {
                        "creditors_attributes": [
                          {
                            "creditor_iban": "SOME_IBAN12345",
                            "amount": 9.99,
                            "currency_code": "EUR"
                          },
                          {
                            "creditor_iban": "SOME_IBAN54321",
                            "amount": 1.99,
                            "currency_code": "EUR"
                          }
                        ],
                        "shared_payment_attributes": {
                          "debtor_iban": "SOMEOTHERIBAN23456",
                          "description": "some description about the bulk payment"
                        }
                      },
                      "last_attempt": {
                        "id": "999999999999999999",
                        "custom_fields": {}
                      }
                    }
                  ],
                  "meta": {
                    "next_id": "2222222222222222222",
                    "next_page": "/api/v6/payments?customer_id=1111111111111111111&from_id=2222222222222222222"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Some parameters or the entire JSON request are in the wrong format",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "The User with the provided `customer_id` does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "406": {
            "description": "The User was locked manually in the Dashboard and may be unlocked",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "in": "query",
            "name": "customer_id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "integer",
              "description": "A unique `id` of the User assigned by Salt Edge"
            }
          },
          {
            "in": "query",
[...]
