{
  "openapi": "3.0.3",
  "info": {
    "title": "CodeREADr API",
    "version": "1.0.0",
    "description": "CodeREADr's API allows developers to programmatically configure their CodeREADr account, manage services, users, devices, databases, scans, questions, uploads, scan properties, and generate barcodes. The API uses a single endpoint with form-encoded POST requests, where the 'section' and 'action' parameters determine the operation. Responses are returned as XML. Sections include: services, users, devices, databases, scans, questions, uploads, scan_properties, and barcode.",
    "x-jentic-source-url": "https://raw.githubusercontent.com/codereadr/api/master/1.0/README.md",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://api.codereadr.com",
      "description": "CodeREADr API server"
    },
    {
      "url": "https://barcode.codereadr.com",
      "description": "CodeREADr Barcode Generator API server"
    }
  ],
  "tags": [
    {
      "name": "Services",
      "description": "Manage scanning services (section=services)"
    },
    {
      "name": "Users",
      "description": "Manage user accounts (section=users)"
    },
    {
      "name": "Databases",
      "description": "Manage barcode databases (section=databases)"
    },
    {
      "name": "Scans",
      "description": "Retrieve and manage scan data (section=scans)"
    },
    {
      "name": "Devices",
      "description": "Manage scanning devices (section=devices)"
    }
  ],
  "paths": {
    "/api/": {
      "post": {
        "operationId": "executeApiAction",
        "summary": "Execute an API action",
        "description": "All CodeREADr API operations use this single endpoint. The 'section' parameter determines the resource type and 'action' determines the operation. Supported sections: services (retrieve/create/update/delete), users (retrieve/create/update/delete/validate), devices (retrieve/update), databases (create/retrieve/update/delete/clear/showvalues/upload/addvalue/editvalue/deletevalue/upsertvalue/upsertmultivalue), scans (retrieve/delete), questions (retrieve/create/delete), uploads (retrieve), scan_properties (create/retrieve/update/delete), barcode (generate).",
        "tags": [
          "Services",
          "Users",
          "Databases",
          "Scans",
          "Devices"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/ApiRequest"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/XmlApiRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "XML response with status and requested information. Status 1 indicates success.",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/XmlResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - missing or invalid parameters",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid API key",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "query",
        "name": "api_key",
        "description": "CodeREADr API key. For security, it is strongly recommended to pass this via POST body rather than URL query parameters. GET requests are disabled by default."
      }
    },
    "schemas": {
      "ApiRequest": {
        "type": "object",
        "required": [
          "section",
          "action",
          "api_key"
        ],
        "properties": {
          "section": {
            "type": "string",
            "enum": [
              "services",
              "users",
              "devices",
              "databases",
              "scans",
              "questions",
              "uploads",
              "scan_properties",
              "barcode"
            ],
            "description": "The section of your account you wish to configure"
          },
          "action": {
            "type": "string",
            "enum": [
              "retrieve",
              "create",
              "update",
              "delete",
              "clear",
              "showvalues",
              "upload",
              "addvalue",
              "editvalue",
              "deletevalue",
              "upsertvalue",
              "upsertmultivalue",
              "validate",
              "generate"
            ],
            "description": "The action you wish to perform on that section"
          },
          "api_key": {
            "type": "string",
            "description": "Your unique API key"
          },
          "service_id": {
            "type": "string",
            "description": "Service ID(s). Single integer, comma-separated list, or 'all'."
          },
          "service_name": {
            "type": "string",
            "description": "Name for a new or existing service"
          },
          "validation_method": {
            "type": "string",
            "enum": [
              "record",
              "ondevicerecord",
              "database",
              "ondevicedatabase",
              "postback",
              "webview"
            ],
            "description": "Service type for creating a service"
          },
          "database_id": {
            "type": "string",
            "description": "Database ID for database operations"
          },
          "database_name": {
            "type": "string",
            "description": "Name for database creation or renaming"
          },
          "user_id": {
            "type": "string",
            "description": "User ID(s). Single integer, comma-separated list, or 'all'."
          },
          "username": {
            "type": "string",
            "description": "Username for user operations"
          },
          "password": {
            "type": "string",
            "description": "Password for user creation or validation"
          },
          "device_id": {
            "type": "string",
            "description": "Device ID(s) for device operations"
          },
          "scan_id": {
            "type": "string",
            "description": "Scan ID(s) for scan operations"
          },
          "keyword": {
            "type": "string",
            "description": "Keyword for scan search queries"
          },
          "start_date": {
            "type": "string",
            "format": "date",
            "description": "Filter scans after this date (YYYY-MM-DD)"
          },
          "end_date": {
            "type": "string",
            "format": "date",
            "description": "Filter scans before this date (YYYY-MM-DD)"
          },
          "limit": {
            "type": "integer",
            "description": "Maximum number of results to return. Default: 10000 for scans."
          },
          "offset": {
            "type": "integer",
            "description": "Offset for paginated results"
          },
          "value": {
            "type": "string",
            "description": "Barcode value for database value operations"
          },
          "response": {
            "type": "string",
            "description": "Response text associated with a barcode value"
          },
          "validity": {
            "type": "integer",
            "enum": [
              0,
              1
            ],
            "description": "Barcode validity: 0 for invalid, 1 for valid"
          },
          "description": {
            "type": "string",
            "description": "Service description or web content for webview services"
          },
          "postback_url": {
            "type": "string",
            "description": "Destination URL for postback services"
          },
          "case_sensitivity": {
            "type": "integer",
            "enum": [
              0,
              1
            ],
            "description": "Whether database values are case sensitive. 0=not case-sensitive (default), 1=case-sensitive."
          },
          "status": {
            "type": "string",
            "description": "Scan result type filter: 1=valid, 0=invalid, -1=no connectivity, or 'all'"
          },
          "order_by": {
            "type": "string",
            "description": "Sort order for scan results (e.g., timestamp, barcode, device_name)"
          },
          "showProperties": {
            "type": "integer",
            "enum": [
              0,
              1
            ],
            "description": "Toggle showing scan properties in returned XML. 1=show, 0=hide (default)."
          },
          "timezone": {
            "type": "string",
            "description": "Timezone for scan timestamps (e.g., America/New_York)"
          }
        }
      },
      "XmlApiRequest": {
        "type": "object",
        "description": "XML-formatted API request body",
        "properties": {
          "section": {
            "type": "string"
          },
          "action": {
            "type": "string"
          },
          "api_key": {
            "type": "string"
          }
        }
      },
      "XmlResponse": {
        "type": "object",
        "description": "Standard XML response from the CodeREADr API. Status 1 indicates success.",
        "properties": {
          "status": {
            "type": "integer",
            "description": "1 for success, 0 for failure"
          },
          "id": {
            "type": "integer",
            "description": "ID of newly created resource (when applicable)"
          },
          "count": {
            "type": "integer",
            "description": "Number of results returned (for list operations)"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "description": "Error response from the CodeREADr API",
        "properties": {
          "status": {
            "type": "integer",
            "description": "0 for failure",
            "example": 0
          },
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "integer",
                "description": "Error code"
              },
              "message": {
                "type": "string",
                "description": "Error description"
              }
            }
          }
        }
      }
    }
  }
}
