{
  "openapi": "3.0.3",
  "info": {
    "title": "Moosend API",
    "version": "v3",
    "x-jentic-source-url": "https://jsapi.apiary.io/apis/moosendapp.apib"
  },
  "servers": [
    {
      "url": "https://api.moosend.com/v3"
    }
  ],
  "paths": {
    "/lists": {
      "get": {
        "summary": "Getting all active mailing lists",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "tags": [
          "Getting mailing lists"
        ],
        "parameters": [
          {
            "name": "apikey",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "WithStatistics",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ShortBy",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "SortMethod",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/lists/{Page}/{PageSize}": {
      "get": {
        "summary": "Getting all active mailing lists with paging",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "tags": [
          "Getting mailing lists"
        ],
        "parameters": [
          {
            "name": "Page",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "PageSize",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "apikey",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ShortBy",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "SortMethod",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/lists/{MailingListID}/details": {
      "get": {
        "summary": "Getting mailing list details",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "tags": [
          "Getting mailing lists"
        ],
        "parameters": [
          {
            "name": "MailingListID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "apikey",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "WithStatistics",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/lists/create": {
      "post": {
        "summary": "Creating a mailing list",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "tags": [
          "Creating and managing mailing lists"
        ],
        "parameters": [
          {
            "name": "apikey",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/lists/{MailingListID}/update": {
      "post": {
        "summary": "Updating a mailing list",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "tags": [
          "Creating and managing mailing lists"
        ],
        "parameters": [
          {
            "name": "MailingListID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "apikey",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/lists/{MailingListID}/delete": {
      "delete": {
        "summary": "Deleting a mailing list",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "tags": [
          "Creating and managing mailing lists"
        ],
        "parameters": [
          {
            "name": "MailingListID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "apikey",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/lists/{MailingListID}/customfields/create": {
      "post": {
        "summary": "Creating a custom field",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "tags": [
          "Creating and managing mailing lists"
        ],
        "parameters": [
          {
            "name": "MailingListID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "apikey",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/lists/{MailingListID}/customfields/{CustomFieldID}/update": {
      "post": {
        "summary": "Updating a custom field",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "tags": [
          "Creating and managing mailing lists"
        ],
        "parameters": [
          {
            "name": "MailingListID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "CustomFieldID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "apikey",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/lists/{MailingListID}/customfields/{CustomFieldID}/delete": {
      "delete": {
        "summary": "Removing a custom field",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "tags": [
          "Creating and managing mailing lists"
        ],
        "parameters": [
          {
            "name": "MailingListID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "CustomFieldID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "apikey",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/lists/{MailingListID}/subscribers/{Status}": {
      "get": {
        "summary": "Getting subscribers",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "tags": [
          "Getting subscribers"
        ],
        "parameters": [
          {
            "name": "MailingListID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Status",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "apikey",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Page",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "PageSize",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/subscribers/{MailingListID}/view": {
      "get": {
        "summary": "Get subscriber by email address",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "tags": [
          "Get subscriber details"
        ],
        "parameters": [
          {
            "name": "MailingListID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "apikey",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Email",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/subscribers/{MailingListID}/find/{SubscriberID}": {
      "get": {
        "summary": "Get subscriber by id",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "tags": [
          "Get subscriber details"
        ],
        "parameters": [
          {
            "name": "MailingListID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "SubscriberID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "apikey",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/subscribers/{MailingListID}/subscribe": {
      "post": {
        "summary": "Adding subscribers",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "tags": [
          "Add or update subscribers"
        ],
        "parameters": [
          {
            "name": "MailingListID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "apikey",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/subscribers/{MailingListID}/subscribe_many": {
      "post": {
        "summary": "Adding multiple subscribers",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "tags": [
          "Add or update subscribers"
        ],
        "parameters": [
          {
            "name": "MailingListID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "apikey",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/subscribers/{MailingListID}/update/{SubscriberID}": {
      "post": {
        "summary": "Updating a subscriber",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "tags": [
          "Add or update subscribers"
        ],
        "parameters": [
          {
            "name": "MailingListID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "SubscriberID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "apikey",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/subscribers/unsubscribe": {
      "post": {
        "summary": "Unsubscribing subscribers from account",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "tags": [
          "Remove or Unsubscribe subscribers"
        ],
        "parameters": [
          {
            "name": "apikey",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/subscribers/{MailingListID}/unsubscribe": {
      "post": {
        "summary": "Unsubscribing subscribers from mailing list",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "tags": [
          "Remove or Unsubscribe subscribers"
        ],
        "parameters": [
          {
            "name": "MailingListID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "apikey",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/subscribers/{MailingListID}/{CampaignID}/unsubscribe": {
      "post": {
        "summary": "Unsubscribing subscribers from mailing list and a specified campaign",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "tags": [
          "Remove or Unsubscribe subscribers"
        ],
        "parameters": [
          {
            "name": "MailingListID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "CampaignID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "apikey",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/subscribers/{MailingListID}/remove": {
      "post": {
        "summary": "Removing a subscriber",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "tags": [
          "Remove or Unsubscribe subscribers"
        ],
        "parameters": [
          {
            "name": "MailingListID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "apikey",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/subscribers/{MailingListID}/remove_many": {
      "post": {
        "summary": "Removing multiple subscribers",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "tags": [
          "Remove or Unsubscribe subscribers"
        ],
        "parameters": [
          {
            "name": "MailingListID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "apikey",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/campaigns": {
      "get": {
        "summary": "Get All Campaigns",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "tags": [
          "Getting Campaigns"
        ],
        "parameters": [
          {
            "name": "apikey",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/campaigns/{Page}": {
      "get": {
        "summary": "Get Campaigns By Page",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "tags": [
          "Getting Campaigns"
        ],
        "parameters": [
          {
            "name": "Page",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "apikey",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/campaigns/{Page}/{PageSize}": {
      "get": {
        "summary": "Get Campaigns By Page And Pagesize",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "tags": [
          "Getting Campaigns"
        ],
        "parameters": [
          {
            "name": "Page",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "PageSize",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "apikey",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "SortBy",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "SortMethod",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/campaigns/{CampaignID}/view": {
      "get": {
        "summary": "Getting Campaign Details",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "tags": [
          "Getting Campaigns"
        ],
        "parameters": [
          {
            "name": "CampaignID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "apikey",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/senders/find_all": {
      "get": {
        "summary": "Getting All Your Senders",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "tags": [
          "Getting Senders"
        ],
        "parameters": [
          {
            "name": "apikey",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/senders/find_one": {
      "get": {
        "summary": "Getting Sender Details",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "tags": [
          "Getting Senders"
        ],
        "parameters": [
          {
            "name": "apikey",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Email",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/campaigns/{CampaignID}/clone": {
      "post": {
        "summary": "Cloning An Existing Campaign",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "tags": [
          "Creating & Managing Campaigns"
        ],
        "parameters": [
          {
            "name": "CampaignID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "apikey",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/campaigns/create": {
      "post": {
        "summary": "Creating A Draft Campaign",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "tags": [
          "Creating & Managing Campaigns"
        ],
        "parameters": [
          {
            "name": "apikey",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/campaigns/{CampaignID}/update": {
      "post": {
        "summary": "Updating A Draft Campaign",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "tags": [
          "Creating & Managing Campaigns"
        ],
        "parameters": [
          {
            "name": "CampaignID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "apikey",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/campaigns/{CampaignID}/delete": {
      "delete": {
        "summary": "Deleting A Campaign",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "tags": [
          "Creating & Managing Campaigns"
        ],
        "parameters": [
          {
            "name": "CampaignID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "apikey",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/campaigns/{CampaignID}/send_test": {
      "post": {
        "summary": "Testing a campaign",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "tags": [
          "Testing a campaign"
        ],
        "parameters": [
          {
            "name": "CampaignID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "apikey",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/campaigns/{CampaignID}/send": {
      "post": {
        "summary": "Sending a campaign",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "tags": [
          "Sending a campaign"
        ],
        "parameters": [
          {
            "name": "CampaignID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "apikey",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/campaigns/{CampaignID}/stats/{Type}": {
      "get": {
        "summary": "Get Campaign Statistics With Paging & Filtered",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "tags": [
          "Getting Campaign Statistics"
        ],
        "parameters": [
          {
            "name": "CampaignID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Type",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "apikey",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Page",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "PageSize",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "From",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "To",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/campaigns/{CampaignID}/view_summary": {
      "get": {
        "summary": "Campaign Summary",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "tags": [
          "Getting Campaign Statistics"
        ],
        "parameters": [
          {
            "name": "CampaignID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "apikey",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/campaigns/{CampaignID}/stats/countries": {
      "get": {
        "summary": "Activity By Location",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "tags": [
          "Getting Campaign Statistics"
        ],
        "parameters": [
          {
            "name": "CampaignID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "apikey",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/campaigns/{CampaignID}/stats/links": {
      "get": {
        "summary": "Link Activity",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "tags": [
          "Getting Campaign Statistics"
        ],
        "parameters": [
          {
            "name": "CampaignID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "apikey",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/campaigns/{CampaignID}/schedule": {
      "post": {
        "summary": "Scheduling A Campaign",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "tags": [
          "Sending Campaigns"
        ],
        "parameters": [
          {
            "name": "CampaignID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "apikey",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/campaigns/{CampaignID}/unschedule": {
      "post": {
        "summary": "Unscheduling a campaign",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "tags": [
          "Sending Campaigns"
        ],
        "parameters": [
          {
            "name": "CampaignID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "apikey",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/campaigns/{CampaignID}/view_ab_summary": {
      "get": {
        "summary": "A/B Test Campaign Summary",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "tags": [
          "Sending Campaigns"
        ],
        "parameters": [
          {
            "name": "CampaignID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "apikey",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/lists/{MailingListID}/segments": {
      "get": {
        "summary": "Getting segments",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "tags": [
          "Getting segments"
        ],
        "parameters": [
          {
            "name": "MailingListID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "apikey",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/lists/{MailingListID}/segments/{SegmentID}/details": {
      "get": {
        "summary": "Getting segment details",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "tags": [
          "Getting segments"
        ],
        "parameters": [
          {
            "name": "MailingListID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "SegmentID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "apikey",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/lists/{MailingListID}/segments/{SegmentID}/members": {
      "get": {
        "summary": "Getting segment subscribers",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "tags": [
          "Getting segments"
        ],
        "parameters": [
          {
            "name": "MailingListID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "SegmentID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "apikey",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/lists/{MailingListID}/segments/create": {
      "post": {
        "summary": "Creating a new segment",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "tags": [
          "Create & Update Segments"
        ],
        "parameters": [
          {
            "name": "MailingListID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "apikey",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/lists/{MailingListID}/segments/{SegmentID}/update": {
      "post": {
        "summary": "Updating a segment",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "tags": [
          "Create & Update Segments"
        ],
        "parameters": [
          {
            "name": "MailingListID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "SegmentID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "apikey",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/lists/{MailingListID}/segments/{SegmentID}/criteria/add": {
      "post": {
        "summary": "Adding criteria to segments",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "tags": [
          "Create & Update Segments"
        ],
        "parameters": [
          {
            "name": "MailingListID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "SegmentID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "apikey",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/lists/{MailingListID}/segments/{SegmentID}/criteria/{CriteriaID}/update": {
      "post": {
        "summary": "Updating segment criteria",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "tags": [
          "Create & Update Segments"
        ],
        "parameters": [
          {
            "name": "MailingListID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "SegmentID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "CriteriaID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "apikey",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/lists/{MailingListID}/segments/{SegmentID}/delete": {
      "delete": {
        "summary": "Deleting A Segment",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "tags": [
          "Create & Update Segments"
        ],
        "parameters": [
          {
            "name": "MailingListID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "SegmentID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "apikey",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    }
  }
}