{
  "openapi": "3.0.3",
  "info": {
    "title": "Aviationstack API",
    "description": "Real-time flight status and aviation data API. Provides access to global flight tracking, airport schedules, airline routes, aircraft data, and more.",
    "version": "1.0.0",
    "x-jentic-source-url": "https://aviationstack.com/documentation",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://api.aviationstack.com/v1",
      "description": "Production"
    }
  ],
  "security": [
    {
      "apiKey": []
    }
  ],
  "tags": [
    {
      "name": "Flights",
      "description": "Real-time and historical flight data"
    },
    {
      "name": "Airports",
      "description": "Airport information"
    },
    {
      "name": "Airlines",
      "description": "Airline information"
    },
    {
      "name": "Aircraft",
      "description": "Aircraft type information"
    },
    {
      "name": "Routes",
      "description": "Flight route data"
    },
    {
      "name": "Reference",
      "description": "Cities, countries and aviation reference data"
    }
  ],
  "paths": {
    "/flights": {
      "get": {
        "operationId": "getFlights",
        "summary": "Get real-time flight data",
        "description": "Returns real-time flight data for flights worldwide.",
        "tags": [
          "Flights"
        ],
        "parameters": [
          {
            "name": "access_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "API access key"
          },
          {
            "name": "flight_status",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "scheduled",
                "active",
                "landed",
                "cancelled",
                "incident",
                "diverted"
              ]
            },
            "description": "Filter by flight status"
          },
          {
            "name": "flight_date",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "Filter by flight date"
          },
          {
            "name": "dep_iata",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by departure airport IATA code"
          },
          {
            "name": "arr_iata",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by arrival airport IATA code"
          },
          {
            "name": "dep_icao",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by departure airport ICAO code"
          },
          {
            "name": "arr_icao",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by arrival airport ICAO code"
          },
          {
            "name": "airline_name",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by airline name"
          },
          {
            "name": "airline_iata",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by airline IATA code"
          },
          {
            "name": "airline_icao",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by airline ICAO code"
          },
          {
            "name": "flight_number",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by flight number"
          },
          {
            "name": "flight_iata",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by flight IATA code"
          },
          {
            "name": "flight_icao",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by flight ICAO code"
          },
          {
            "name": "min_delay_dep",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Min departure delay in minutes"
          },
          {
            "name": "min_delay_arr",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Min arrival delay in minutes"
          },
          {
            "name": "max_delay_dep",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Max departure delay in minutes"
          },
          {
            "name": "max_delay_arr",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Max arrival delay in minutes"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 100
            },
            "description": "Pagination limit"
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            },
            "description": "Pagination offset"
          }
        ],
        "responses": {
          "200": {
            "description": "Flight data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlightsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/flights/future": {
      "get": {
        "operationId": "getFutureFlights",
        "summary": "Get future flight schedules",
        "description": "Returns future flight schedule data.",
        "tags": [
          "Flights"
        ],
        "parameters": [
          {
            "name": "access_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "iata_code",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Airport IATA code"
          },
          {
            "name": "type",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "departure",
                "arrival"
              ]
            }
          },
          {
            "name": "date",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 100
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Future flight data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlightsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/airports": {
      "get": {
        "operationId": "getAirports",
        "summary": "Get airport data",
        "description": "Returns details of airports worldwide.",
        "tags": [
          "Airports"
        ],
        "parameters": [
          {
            "name": "access_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Search by airport name or city"
          },
          {
            "name": "iata_code",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "icao_code",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "country_iso2",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "city_iata_code",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 100
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Airport data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AirportsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/airlines": {
      "get": {
        "operationId": "getAirlines",
        "summary": "Get airline data",
        "description": "Returns details of airlines worldwide.",
        "tags": [
          "Airlines"
        ],
        "parameters": [
          {
            "name": "access_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "airline_name",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "iata_code",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "icao_code",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "country_iso2",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 100
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Airline data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AirlinesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/aircraft_types": {
      "get": {
        "operationId": "getAircraftTypes",
        "summary": "Get aircraft type data",
        "description": "Returns details about aircraft types.",
        "tags": [
          "Aircraft"
        ],
        "parameters": [
          {
            "name": "access_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "iata_code",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 100
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Aircraft type data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AircraftTypesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/routes": {
      "get": {
        "operationId": "getRoutes",
        "summary": "Get flight route data",
        "description": "Returns airline route information.",
        "tags": [
          "Routes"
        ],
        "parameters": [
          {
            "name": "access_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dep_iata",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "arr_iata",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dep_icao",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "arr_icao",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "airline_iata",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "airline_icao",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "flight_number",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 100
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Route data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RoutesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/cities": {
      "get": {
        "operationId": "getCities",
        "summary": "Get city data",
        "description": "Returns aviation city data.",
        "tags": [
          "Reference"
        ],
        "parameters": [
          {
            "name": "access_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "iata_code",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "country_iso2",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 100
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "City data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CitiesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/countries": {
      "get": {
        "operationId": "getCountries",
        "summary": "Get country data",
        "description": "Returns aviation country data.",
        "tags": [
          "Reference"
        ],
        "parameters": [
          {
            "name": "access_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "country_name",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "country_iso2",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 100
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Country data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CountriesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/timetable": {
      "get": {
        "operationId": "getTimetable",
        "summary": "Get airport timetable",
        "description": "Returns timetable/schedule data for a specific airport.",
        "tags": [
          "Airports"
        ],
        "parameters": [
          {
            "name": "access_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "iata_code",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Airport IATA code"
          },
          {
            "name": "type",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "departure",
                "arrival"
              ]
            },
            "description": "Filter by departure or arrival"
          },
          {
            "name": "flight_date",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "airline_iata",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "flight_status",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "scheduled",
                "active",
                "landed",
                "cancelled",
                "incident",
                "diverted"
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 100
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Timetable data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlightsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "name": "access_key",
        "in": "query"
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string"
              },
              "message": {
                "type": "string"
              },
              "context": {
                "type": "object"
              }
            }
          }
        }
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "limit": {
            "type": "integer"
          },
          "offset": {
            "type": "integer"
          },
          "count": {
            "type": "integer"
          },
          "total": {
            "type": "integer"
          }
        }
      },
      "Flight": {
        "type": "object",
        "properties": {
          "flight_date": {
            "type": "string",
            "format": "date"
          },
          "flight_status": {
            "type": "string"
          },
          "departure": {
            "$ref": "#/components/schemas/FlightEndpoint"
          },
          "arrival": {
            "$ref": "#/components/schemas/FlightEndpoint"
          },
          "airline": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string"
              },
              "iata": {
                "type": "string"
              },
              "icao": {
                "type": "string"
              }
            }
          },
          "flight": {
            "type": "object",
            "properties": {
              "number": {
                "type": "string"
              },
              "iata": {
                "type": "string"
              },
              "icao": {
                "type": "string"
              },
              "codeshared": {
                "type": "object",
                "nullable": true
              }
            }
          },
          "aircraft": {
            "type": "object",
            "nullable": true,
            "properties": {
              "registration": {
                "type": "string"
              },
              "iata": {
                "type": "string"
              },
              "icao": {
                "type": "string"
              },
              "icao24": {
                "type": "string"
              }
            }
          },
          "live": {
            "type": "object",
            "nullable": true,
            "properties": {
              "updated": {
                "type": "string",
                "format": "date-time"
              },
              "latitude": {
                "type": "number"
              },
              "longitude": {
                "type": "number"
              },
              "altitude": {
                "type": "number"
              },
              "direction": {
                "type": "number"
              },
              "speed_horizontal": {
                "type": "number"
              },
              "speed_vertical": {
                "type": "number"
              },
              "is_ground": {
                "type": "boolean"
              }
            }
          }
        }
      },
      "FlightEndpoint": {
        "type": "object",
        "properties": {
          "airport": {
            "type": "string"
          },
          "timezone": {
            "type": "string"
          },
          "iata": {
            "type": "string"
          },
          "icao": {
            "type": "string"
          },
          "terminal": {
            "type": "string",
            "nullable": true
          },
          "gate": {
            "type": "string",
            "nullable": true
          },
          "delay": {
            "type": "integer",
            "nullable": true
          },
          "scheduled": {
            "type": "string",
            "format": "date-time"
          },
          "estimated": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "actual": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "estimated_runway": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "actual_runway": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        }
      },
      "FlightsResponse": {
        "type": "object",
        "properties": {
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Flight"
            }
          }
        }
      },
      "Airport": {
        "type": "object",
        "properties": {
          "airport_name": {
            "type": "string"
          },
          "iata_code": {
            "type": "string"
          },
          "icao_code": {
            "type": "string"
          },
          "latitude": {
            "type": "number"
          },
          "longitude": {
            "type": "number"
          },
          "geoname_id": {
            "type": "string"
          },
          "timezone": {
            "type": "string"
          },
          "gmt": {
            "type": "string"
          },
          "phone_number": {
            "type": "string",
            "nullable": true
          },
          "country_name": {
            "type": "string"
          },
          "country_iso2": {
            "type": "string"
          },
          "city_iata_code": {
            "type": "string"
          }
        }
      },
      "AirportsResponse": {
        "type": "object",
        "properties": {
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Airport"
            }
          }
        }
      },
      "Airline": {
        "type": "object",
        "properties": {
          "airline_name": {
            "type": "string"
          },
          "iata_code": {
            "type": "string"
          },
          "iata_prefix_accounting": {
            "type": "string",
            "nullable": true
          },
          "icao_code": {
            "type": "string"
          },
          "callsign": {
            "type": "string",
            "nullable": true
          },
          "type": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "fleet_size": {
            "type": "integer",
            "nullable": true
          },
          "fleet_average_age": {
            "type": "number",
            "nullable": true
          },
          "date_founded": {
            "type": "string",
            "nullable": true
          },
          "hub_code": {
            "type": "string",
            "nullable": true
          },
          "country_name": {
            "type": "string"
          },
          "country_iso2": {
            "type": "string"
          }
        }
      },
      "AirlinesResponse": {
        "type": "object",
        "properties": {
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Airline"
            }
          }
        }
      },
      "AircraftType": {
        "type": "object",
        "properties": {
          "iata_code": {
            "type": "string"
          },
          "aircraft_name": {
            "type": "string"
          },
          "plane_type_id": {
            "type": "integer"
          }
        }
      },
      "AircraftTypesResponse": {
        "type": "object",
        "properties": {
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AircraftType"
            }
          }
        }
      },
      "Route": {
        "type": "object",
        "properties": {
          "departure": {
            "type": "object",
            "properties": {
              "airport": {
                "type": "string"
              },
              "iata": {
                "type": "string"
              },
              "icao": {
                "type": "string"
              },
              "terminal": {
                "type": "string",
                "nullable": true
              },
              "time": {
                "type": "string"
              }
            }
          },
          "arrival": {
            "type": "object",
            "properties": {
              "airport": {
                "type": "string"
              },
              "iata": {
                "type": "string"
              },
              "icao": {
                "type": "string"
              },
              "terminal": {
                "type": "string",
                "nullable": true
              },
              "time": {
                "type": "string"
              }
            }
          },
          "airline": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string"
              },
              "iata": {
                "type": "string"
              },
              "icao": {
                "type": "string"
              }
            }
          },
          "flight": {
            "type": "object",
            "properties": {
              "number": {
                "type": "string"
              }
            }
          }
        }
      },
      "RoutesResponse": {
        "type": "object",
        "properties": {
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Route"
            }
          }
        }
      },
      "City": {
        "type": "object",
        "properties": {
          "city_name": {
            "type": "string"
          },
          "iata_code": {
            "type": "string"
          },
          "country_iso2": {
            "type": "string"
          },
          "latitude": {
            "type": "number"
          },
          "longitude": {
            "type": "number"
          },
          "timezone": {
            "type": "string"
          },
          "gmt": {
            "type": "string"
          },
          "geoname_id": {
            "type": "string"
          }
        }
      },
      "CitiesResponse": {
        "type": "object",
        "properties": {
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/City"
            }
          }
        }
      },
      "Country": {
        "type": "object",
        "properties": {
          "country_name": {
            "type": "string"
          },
          "country_iso2": {
            "type": "string"
          },
          "country_iso3": {
            "type": "string"
          },
          "country_iso_numeric": {
            "type": "integer"
          },
          "population": {
            "type": "integer"
          },
          "capital": {
            "type": "string"
          },
          "continent": {
            "type": "string"
          },
          "currency_name": {
            "type": "string"
          },
          "currency_code": {
            "type": "string"
          },
          "fips_code": {
            "type": "string"
          },
          "phone_prefix": {
            "type": "string"
          }
        }
      },
      "CountriesResponse": {
        "type": "object",
        "properties": {
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Country"
            }
          }
        }
      }
    }
  }
}
