{
  "openapi": "3.0.3",
  "info": {
    "title": "OpenAPI 3.0",
    "description": "Provide access to API of 3xpl.com blockchain explorer",
    "contact": {},
    "version": "3.0.0-alpha"
  },
  "externalDocs": {
    "description": null,
    "url": null
  },
  "servers": [
    {
      "url": "https://sandbox-api.3xpl.com/",
      "description": "Free sandbox server just for try"
    },
    {
      "url": "https://api.3xpl.com/",
      "description": "Production server to try your API key"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "Common",
      "description": ""
    },
    {
      "name": "Blockchain",
      "description": "general stats for blockchains or info about blocks, transactions and addresses"
    },
    {
      "name": "Database Dumps"
    }
  ],
  "paths": {
    "/": {
      "get": {
        "tags": [
          "Common"
        ],
        "summary": "stats for ecosystems, blockchains, or modules",
        "description": "Examples: <ul><li>[https://sandbox-api.3xpl.com/](https://sandbox-api.3xpl.com/)</li><li>[https://sandbox-api.3xpl.com/?from=bitcoin,dogecoin](https://sandbox-api.3xpl.com/?from=bitcoin,dogecoin)</li><li>[https://sandbox-api.3xpl.com/?from=bitcoin&mode=greedy](https://sandbox-api.3xpl.com/?from=bitcoin&mode=greedy)</li><li>[https://sandbox-api.3xpl.com/?from=bitcoin-main](https://sandbox-api.3xpl.com/?from=bitcoin-main)</li><li>[https://sandbox-api.3xpl.com/?library=blockchains,rates(usd)](https://sandbox-api.3xpl.com/?library=blockchains,rates(usd))</li></ul>",
        "operationId": "getGeneralInfo",
        "parameters": [
          {
            "in": "query",
            "name": "from",
            "schema": {
              "type": "string"
            },
            "description": "ecosystem list, or blockchain list, or module list, comma-separated, or `all`, or `default` which is `all`",
            "examples": {
              "": {
                "value": null
              },
              "bitcoin,dogecoin": {
                "value": "bitcoin,dogecoin"
              },
              "bitcoin": {
                "value": "bitcoin"
              },
              "bitcoin-main": {
                "value": "bitcoin-main"
              }
            },
            "required": false
          },
          {
            "in": "query",
            "name": "mode",
            "schema": {
              "type": "string"
            },
            "description": "`greedy`, `non-greedy`, or `default` which is `non-greedy`; if `?from=` is provided with a list which is ambiguous in terms whether it's a blockchain or an ecosystem list, `greedy` will switch processing to ecosystems, while `non-greedy` will treat the list as a blockchain list",
            "examples": {
              "greedy": {
                "value": "greedy"
              },
              "non-greedy": {
                "value": "non-greedy"
              },
              "default": {
                "value": "default"
              }
            },
            "required": false
          },
          {
            "in": "query",
            "name": "library",
            "schema": {
              "type": "string"
            },
            "description": "library data, comma-separated list of (`blockchains`, `modules`, `rates({:list})`)",
            "examples": {
              "blockchains,modules": {
                "value": "blockchains,modules"
              },
              "blockchains,rates(usd)": {
                "value": "blockchains,rates(usd)"
              }
            },
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "successful fetch",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "bitcoin": {
                          "$ref": "#/components/schemas/GeneralInfo"
                        }
                      }
                    },
                    "context": {
                      "$ref": "#/components/schemas/Context"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/search": {
      "get": {
        "tags": [
          "Common"
        ],
        "summary": "search in all blockchains (blocks, transactions, addresses)",
        "description": "Examples: <ul><li>[https://sandbox-api.3xpl.com/search?q=123456](https://sandbox-api.3xpl.com/search?q=123456)</li><li>[https://sandbox-api.3xpl.com/search?q=4a5e1e4baab89f3a32518a88c31bc87f618f76673e2cc77ab2127b7afdeda33b](https://sandbox-api.3xpl.com/search?q=4a5e1e4baab89f3a32518a88c31bc87f618f76673e2cc77ab2127b7afdeda33b)</li><li>[https://sandbox-api.3xpl.com/search?q=the-void](https://sandbox-api.3xpl.com/search?q=the-void)</li><li>[https://sandbox-api.3xpl.com/search?q=123456&from=bitcoin](https://sandbox-api.3xpl.com/search?q=123456&from=bitcoin)</li><li>[https://sandbox-api.3xpl.com/search?q=123456&in=transaction](https://sandbox-api.3xpl.com/search?q=123456&in=transaction)</li><li>[https://sandbox-api.3xpl.com/search?q=not-found](https://sandbox-api.3xpl.com/search?q=not-found)</li></ul>",
        "operationId": "search",
        "parameters": [
          {
            "in": "query",
            "name": "q",
            "schema": {
              "type": "string"
            },
            "description": "search string",
            "required": true,
            "examples": {
              "f944966c5bd306cd9187e426ae5f82c050ab707a0c1b1c88ab32e3aa62b74ceb": {
                "value": "f944966c5bd306cd9187e426ae5f82c050ab707a0c1b1c88ab32e3aa62b74ceb"
              },
              "123456": {
                "value": "123456"
              }
            }
          },
          {
            "in": "query",
            "name": "from",
            "schema": {
              "type": "string"
            },
            "description": "blockchain list, comma-separated, or `all`, or `default` which is `all`",
            "required": false,
            "examples": {
              "all": {
                "value": "all"
              },
              "bitcoin": {
                "value": "bitcoin"
              }
            }
          },
          {
            "in": "query",
            "name": "in",
            "schema": {
              "type": "string"
            },
            "description": "entity list of (`block`, `transaction`, `address`), comma-separated, or `all`, or `default` which is `all`",
            "examples": {
              "all": {
                "value": "all"
              },
              "default": {
                "value": "default"
              },
              "transaction": {
                "value": "transaction"
              },
              "transaction,address": {
                "value": "transaction,address"
              }
            },
            "required": false
          },
          {
            "in": "query",
            "name": "mixins",
            "schema": {
              "type": "string"
            },
            "description": "mixin data, comma-separated list of (`stats`)",
            "required": false,
            "examples": {
              "stats": {
                "value": "stats"
              }
            }
          },
          {
            "in": "query",
            "name": "library",
            "schema": {
              "type": "string"
            },
            "description": "library data, comma-separated list of (`blockchains`)",
            "required": false,
            "examples": {
              "blockchains": {
                "value": "blockchains"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful fetch",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "results": {
                          "type": "object",
                          "properties": {
                            "bitcoin": {
                              "type": "object",
                              "nullable": true,
                              "properties": {
                                "blocks": {
                                  "type": "boolean",
                                  "nullable": true,
                                  "example": true
                                },
                                "transactions": {
                                  "type": "boolean",
                                  "nullable": true,
                                  "example": true
                                },
                                "addresses": {
                                  "type": "boolean",
                                  "nullable": true,
                                  "example": true
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "context": {
                      "$ref": "#/components/schemas/Context"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/{blockchain}/blocks": {
      "get": {
        "tags": [
          "Blockchain"
        ],
        "summary": "paginated block list",
        "description": "Examples: <ul><li>[https://sandbox-api.3xpl.com/bitcoin/blocks?data=blocks&from=all&limit=default&page=-0](https://sandbox-api.3xpl.com/bitcoin/blocks?data=blocks&from=all&limit=default&page=-0)</li><li>[https://sandbox-api.3xpl.com/bitcoin/blocks?data=blocks&from=bitcoin-main&limit=10&page=10](https://sandbox-api.3xpl.com/bitcoin/blocks?data=blocks&from=bitcoin-main&limit=10&page=10)</li></ul>",
        "operationId": "getBlocksInfo",
        "parameters": [
          {
            "in": "path",
            "name": "blockchain",
            "schema": {
              "type": "string"
            },
            "description": "blockchain to fetch blocks from",
            "required": true,
            "examples": {
              "bitcoin": {
                "value": "bitcoin"
              },
              "ethereum": {
                "value": "ethereum"
              },
              "litecoin": {
                "value": "litecoin"
              }
            }
          },
          {
            "in": "query",
            "name": "data",
            "schema": {
              "type": "string"
            },
            "description": "data bits, comma-separated list of (`blocks`), at least `blocks` is required",
            "required": true,
            "examples": {
              "blocks": {
                "value": "blocks"
              }
            }
          },
          {
            "in": "query",
            "name": "from",
            "schema": {
              "type": "string"
            },
            "description": "module list, comma-separated, or `all`, or `default` which is the first module",
            "required": false,
            "examples": {
              "all": {
                "value": "all"
              },
              "default": {
                "value": "default"
              },
              "bitcoin-main": {
                "value": "bitcoin-main"
              },
              "bitcoin-main,bitcoin-omni": {
                "value": "bitcoin-main,bitcoin-omni"
              }
            }
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "string",
              "enum": [
                "default",
                "1",
                "10",
                "100",
                "1000"
              ]
            },
            "description": "`1`, `10`, `100`, `1000`, or `default` which is `10`",
            "required": false
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "string"
            },
            "description": "paginates blocks; `-0`, `0`, `ℕ`, or `default` which is `-0`",
            "required": false,
            "examples": {
              "-0": {
                "value": "-0"
              },
              "0": {
                "value": "0"
              },
              "5": {
                "value": "5"
              },
              "-2": {
                "value": "-2"
              }
            }
          },
          {
            "in": "query",
            "name": "library",
            "schema": {
              "type": "string"
            },
            "description": "library data, comma-separated list of (`blockchains`, `modules`)",
            "required": false,
            "examples": {
              "blockchains": {
                "value": "blockchains"
              },
              "modules": {
                "value": "modules"
              },
              "blockchains,modules": {
                "value": "blockchains,modules"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful fetch",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "blocks": {
                          "type": "object",
                          "properties": {
                            "100": {
                              "$ref": "#/components/schemas/BlockInfo"
                            },
                            "101": {
                              "$ref": "#/components/schemas/BlockInfo"
                            }
                          }
                        }
                      }
                    },
                    "context": {
                      "$ref": "#/components/schemas/Context"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/{blockchain}/block/{block}": {
      "get": {
        "tags": [
          "Blockchain"
        ],
        "summary": "block data, {:block} can be set to `-1` to display mempool information",
        "description": "Examples: <ul><li>[https://sandbox-api.3xpl.com/bitcoin/block/500000?data=block,events&from=all&limit=default](https://sandbox-api.3xpl.com/bitcoin/block/500000?data=block,events&from=all&limit=default)</li><li>[https://sandbox-api.3xpl.com/bitcoin/block/500000?data=block,events&from=bitcoin-omni&limit=default&page=41](https://sandbox-api.3xpl.com/bitcoin/block/500000?data=block,events&from=bitcoin-omni&limit=default&page=41)</li><li>[https://sandbox-api.3xpl.com/bitcoin/block/-1?data=events&from=bitcoin-main&limit=default&page=-10](https://sandbox-api.3xpl.com/bitcoin/block/-1?data=events&from=bitcoin-main&limit=default&page=-10)</li></ul>",
        "operationId": "getBlockInfo",
        "parameters": [
          {
            "in": "path",
            "name": "blockchain",
            "schema": {
              "type": "string"
            },
            "description": "blockchain to fetch block from",
            "required": true,
            "examples": {
              "bitcoin": {
                "value": "bitcoin"
              },
              "ethereum": {
                "value": "ethereum"
              },
              "litecoin": {
                "value": "litecoin"
              }
            }
          },
          {
            "in": "path",
            "name": "block",
            "schema": {
              "type": "integer"
            },
            "description": "can be set to `-1` to display mempool information",
            "required": true,
            "examples": {
              "500000": {
                "value": "500000"
              },
              "774877": {
                "value": "774877"
              },
              "774878": {
                "value": "774878"
              }
            }
          },
          {
            "in": "query",
            "name": "data",
            "schema": {
              "type": "string"
            },
            "description": "data bits, comma-separated list of (`block`, `events`), at least one is required",
            "required": true,
            "examples": {
              "block": {
                "value": "block"
              },
              "events": {
                "value": "events"
              }
            }
          },
          {
            "in": "query",
            "name": "from",
            "schema": {
              "type": "string"
            },
            "description": "module list, comma-separated, or `all`, or `default` which is the first module; exactly one module must be specified when paginating past the default page",
            "required": false,
            "examples": {
              "all": {
                "value": "all"
              },
              "default": {
                "value": "default"
              },
              "bitcoin-omni": {
                "value": "bitcoin-omni"
              }
            }
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "string",
              "enum": [
                "default",
                "1",
                "10",
                "100",
                "1000"
              ]
            },
            "description": "`1`, `10`, `100`, `1000`, or `default` which is `10`",
            "required": false
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "string"
            },
            "description": "paginates events; for blocks: `0`, `ℕ`, or `default` which is `0` (no offset limit); for mempool: `-0`, `-ℕ`, or `default` which is `-0` (max offset is 100k)",
            "required": false,
            "examples": {
              "-0": {
                "value": "-0"
              },
              "0": {
                "value": "0"
              },
              "5": {
                "value": "5"
              },
              "-2": {
                "value": "-2"
              }
            }
          },
          {
            "in": "query",
            "name": "mixins",
            "schema": {
              "type": "string"
            },
            "description": "mixin data, comma-separated list of (`stats`)",
            "required": false,
            "examples": {
              "stats": {
                "value": "stats"
              }
            }
          },
          {
            "in": "query",
            "name": "library",
            "schema": {
              "type": "string"
            },
            "description": "library data, comma-separated list of (`blockchains`, `modules`, `currencies`, `rates({:list})`)",
            "required": false,
            "examples": {
              "blockchains": {
                "value": "blockchains"
              },
              "modules,currencies": {
                "value": "modules,currencies"
              },
              "modules,currencies,rates(usd)": {
                "value": "modules,currencies,rates(usd)"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful fetch",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "block": {
                          "$ref": "#/components/schemas/Block"
                        },
                        "events": {
                          "type": "object",
                          "properties": {
                            "bitcoin-main": {
                              "type": "array",
                              "items": {
                                "allOf": [
                                  {
                                    "$ref": "#/components/schemas/BlockModuleEvent"
                                  }
                                ]
                              }
                            }
                          }
                        }
                      }
                    },
                    "context": {
                      "$ref": "#/components/schemas/Context"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/{blockchain}/transaction/{transaction}": {
      "get": {
        "tags": [
          "Blockchain"
        ],
        "summary": "transaction data",
        "description": "Examples: <ul><li>[https://sandbox-api.3xpl.com/bitcoin/transaction/4a5e1e4baab89f3a32518a88c31bc87f618f76673e2cc77ab2127b7afdeda33b?data=transaction,events&from=all&limit=default](https://sandbox-api.3xpl.com/bitcoin/transaction/4a5e1e4baab89f3a32518a88c31bc87f618f76673e2cc77ab2127b7afdeda33b?data=transaction,events&from=all&limit=default)</li><li>[https://sandbox-api.3xpl.com/bitcoin/transaction/54188b15313ec245fef98a9875340e4cf4b2a6f48f1ab515dfdf4eda51db3ced?data=events&from=bitcoin-omni](https://sandbox-api.3xpl.com/bitcoin/transaction/54188b15313ec245fef98a9875340e4cf4b2a6f48f1ab515dfdf4eda51db3ced?data=events&from=bitcoin-omni)</li></ul>",
        "operationId": "getTransactionInfo",
        "parameters": [
          {
            "in": "path",
            "name": "blockchain",
            "schema": {
              "type": "string"
            },
            "description": "blockchain to fetch transaction from",
            "required": true,
            "examples": {
              "bitcoin": {
                "value": "bitcoin"
              },
              "ethereum": {
                "value": "ethereum"
              },
              "litecoin": {
                "value": "litecoin"
              }
            }
          },
          {
            "in": "path",
            "name": "transaction",
            "schema": {
              "type": "string"
            },
            "description": "transaction hash",
            "required": true,
            "examples": {
              "4a5e1e4baab89f3a32518a88c31bc87f618f76673e2cc77ab2127b7afdeda33b": {
                "value": "4a5e1e4baab89f3a32518a88c31bc87f618f76673e2cc77ab2127b7afdeda33b"
              },
              "54188b15313ec245fef98a9875340e4cf4b2a6f48f1ab515dfdf4eda51db3ced": {
                "value": "54188b15313ec245fef98a9875340e4cf4b2a6f48f1ab515dfdf4eda51db3ced"
              }
            }
          },
          {
            "in": "query",
            "name": "data",
            "schema": {
              "type": "string"
            },
            "description": "data bits, comma-separated list of (`transaction`, `events`), at least one is required",
            "required": true,
            "examples": {
              "transaction": {
                "value": "transaction"
              },
              "events": {
                "value": "events"
              }
            }
          },
          {
            "in": "query",
            "name": "from",
            "schema": {
              "type": "string"
            },
            "description": "module list, comma-separated, or `all`, or `default` which is the first module; exactly one module must be specified when paginating past the default page; if module does not support transaction ids it is discarded",
            "required": false,
            "examples": {
              "all": {
                "value": "all"
              },
              "default": {
                "value": "default"
              },
              "bitcoin-main": {
                "value": "bitcoin-omni"
              },
              "bitcoin-main,bitcoin-omni": {
                "value": "bitcoin-main,bitcoin-omni"
              }
            }
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "string",
              "enum": [
                "default",
                "1",
                "10",
                "100",
                "1000"
              ]
            },
            "description": "`1`, `10`, `100`, `1000`, or `default` which is `10`",
            "required": false
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "string"
            },
            "description": "paginates events; `0`, `ℕ`, or `default` which is `0` (no offset limit)",
            "required": false,
            "examples": {
              "default": {
                "value": "default"
              },
              "0": {
                "value": "0"
              },
              "5": {
                "value": "5"
              }
            }
          },
          {
            "in": "query",
            "name": "mixins",
            "schema": {
              "type": "string"
            },
            "description": "mixin data, comma-separated list of (`stats`, `blocks`)",
            "required": false,
            "examples": {
              "stats": {
                "value": "stats"
              },
              "stats,blocks": {
                "value": "stats,blocks"
              }
            }
          },
          {
            "in": "query",
            "name": "library",
            "schema": {
              "type": "string"
            },
            "description": "library data, comma-separated list of (`blockchains`, `modules`, `currencies`, `rates({:list})`)",
            "required": false,
            "examples": {
              "blockchains": {
                "value": "blockchains"
              },
              "modules,currencies": {
                "value": "modules,currencies"
              },
              "modules,currencies,rates(usd)": {
                "value": "modules,currencies,rates(usd)"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful fetch",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "transaction": {
                          "$ref": "#/components/schemas/Transaction"
                        },
                        "events": {
                          "type": "object",
                          "properties": {
                            "bitcoin-main": {
                              "type": "array",
                              "items": {
                                "allOf": [
                                  {
                                    "$ref": "#/components/schemas/TransactionModuleEvent"
                                  }
                                ]
                              }
                            }
                          }
                        }
                      }
                    },
                    "context": {
                      "$ref": "#/components/schemas/Context"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/{blockchain}/address/{address}": {
      "get": {
        "tags": [
          "Blockchain"
        ],
        "summary": "address data",
        "description": "Examples: <ul><li>[https://sandbox-api.3xpl.com/bitcoin/address/the-void?data=address,balances,events,mempool&from=all](https://sandbox-api.3xpl.com/bitcoin/address/the-void?data=address,balances,events,mempool&from=all)</li><li>[https://sandbox-api.3xpl.com/bitcoin/address/the-void?data=address,balances&from=bitcoin-omni&page=100](https://sandbox-api.3xpl.com/bitcoin/address/the-void?data=address,balances&from=bitcoin-omni&page=100)</li><li>[https://sandbox-api.3xpl.com/bitcoin/address/the-void?data=events&from=bitcoin-main&page=-10](https://sandbox-api.3xpl.com/bitcoin/address/the-void?data=events&from=bitcoin-main&page=-10)</li><li>[https://sandbox-api.3xpl.com/bitcoin/address/the-void?data=events&from=bitcoin-main&page=10](https://sandbox-api.3xpl.com/bitcoin/address/the-void?data=events&from=bitcoin-main&page=10)</li><li>[https://sandbox-api.3xpl.com/bitcoin/address/the-void?data=events&from=bitcoin-main&page=0&segment=2022-01-01](https://sandbox-api.3xpl.com/bitcoin/address/the-void?data=events&from=bitcoin-main&page=0&segment=2022-01-01)</li></ul>",
        "operationId": "getAddressInfo",
        "parameters": [
          {
            "in": "path",
            "name": "blockchain",
            "schema": {
              "type": "string"
            },
            "description": "blockchain to fetch address from",
            "required": true,
            "examples": {
              "bitcoin": {
                "value": "bitcoin"
              },
              "ethereum": {
                "value": "ethereum"
              },
              "litecoin": {
                "value": "litecoin"
              }
            }
          },
          {
            "in": "path",
            "name": "address",
            "schema": {
              "type": "string"
            },
            "description": "address hash",
            "required": true,
            "examples": {
              "the-void": {
                "value": "the-void"
              },
              "17MWdxfjPYP2PYhdy885QtihfbW181r1rn": {
                "value": "17MWdxfjPYP2PYhdy885QtihfbW181r1rn"
              },
              "bc1qtrxc0use4hlm7fl0j6t37z7qlwl5eppj8lywz6": {
                "value": "bc1qtrxc0use4hlm7fl0j6t37z7qlwl5eppj8lywz6"
              },
              "0x04e666348e8f04a4a6916c40fc818e3aab9bfca6": {
                "value": "0x04e666348e8f04a4a6916c40fc818e3aab9bfca6"
              }
            }
          },
          {
            "in": "query",
            "name": "data",
            "schema": {
              "type": "string"
            },
            "description": "data bits, comma-separated list of (`address`, `balances`, `events`, `mempool`), at least one is required",
            "required": true,
            "examples": {
              "address,events": {
                "value": "address,events"
              },
              "address,balances,events": {
                "value": "address,balances,events"
              },
              "mempool": {
                "value": "mempool"
              }
            }
          },
          {
            "in": "query",
            "name": "from",
            "schema": {
              "type": "string"
            },
            "description": "module list, comma-separated, or `all`, or `default` which is the first module; exactly one module must be specified when paginating past the default page",
            "required": false,
            "examples": {
              "bitcoin-main": {
                "value": "bitcoin-main"
              },
              "all": {
                "value": "all"
              },
              "default": {
                "value": "default"
              },
              "bitcoin-omni": {
                "value": "bitcoin-omni"
              },
              "ethereum-main": {
                "value": "ethereum-main"
              }
            }
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "string",
              "enum": [
                "default",
                "1",
                "10",
                "100",
                "1000"
              ]
            },
            "description": "`1`, `10`, `100`, `1000`, or `default` which is `10`",
            "required": false
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "string"
            },
            "description": "if paginating balances: `0`, `ℕ`, or `default` which is `0` (no offset limit); if paginating events or mempool: `0`, `ℕ`, `-0`, `-ℕ`, or `default` which is `-0` (max offset is 100k records); when paginating, `?from=` must contain exactly one of (`balances`, `events`, `mempool`) and may additionaly contain `address`",
            "required": false,
            "examples": {
              "default": {
                "value": "default"
              },
              "2": {
                "value": "2"
              },
              "-5": {
                "value": "-5"
              }
            }
          },
          {
            "in": "query",
            "name": "segment",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "date in `YYYY-MM-DD` format; shows events only for this date; when specified, `events` must be present in `?data=`, `mempool` must not be present in `?data=`; drops max offset constraint on `?page=`; exactly one module must be specified in `?from=` even for the default page",
            "required": false,
            "examples": {
              "2022-01-01": {
                "value": "2022-01-01"
              }
            }
          },
          {
            "in": "query",
            "name": "mixins",
            "schema": {
              "type": "string"
            },
            "description": "mixin data, comma-separated list of (`stats`)",
            "required": false,
            "examples": {
              "stats": {
                "value": "stats"
              }
            }
          },
          {
            "in": "query",
            "name": "library",
            "schema": {
              "type": "string"
            },
            "description": "library data, comma-separated list of (`blockchains`, `modules`, `currencies`, `rates({:list})`)",
            "required": false,
            "examples": {
              "blockchains,modules": {
                "value": "blockchains,modules"
              },
              "blockchains,modules,rates(usd)": {
                "value": "blockchains,modules,rates(usd)"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful fetch",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "address": {
                          "$ref": "#/components/schemas/AddressGeneralInfo"
                        },
                        "balances": {
                          "$ref": "#/components/schemas/AddressBalancesInfo"
                        },
                        "events": {
                          "type": "object",
                          "properties": {
                            "bitcoin-main": {
                              "type": "array",
                              "items": {
                                "allOf": [
                                  {
                                    "$ref": "#/components/schemas/AddressModuleEvent"
                                  }
                                ]
                              }
                            }
                          }
                        }
                      }
                    },
                    "context": {
                      "$ref": "#/components/schemas/Context"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/dumps": {
      "get": {
        "tags": [
          "Database Dumps"
        ],
        "summary": "database dump list",
        "description": "Examples: <ul><li>[https://sandbox-api.3xpl.com/dumps?from=all&mode=latest](https://sandbox-api.3xpl.com/dumps?from=all&mode=latest)</li><li>[https://sandbox-api.3xpl.com/dumps?from=bitcoin-main,dogecoin-main&mode=latest](https://sandbox-api.3xpl.com/dumps?from=bitcoin-main,dogecoin-main&mode=latest)</li><li>[https://sandbox-api.3xpl.com/dumps?from=bitcoin-main&mode=all](https://sandbox-api.3xpl.com/dumps?from=bitcoin-main&mode=all)</li><li>[https://sandbox-api.3xpl.com/dumps?from=all&mode=stats&library=modules](https://sandbox-api.3xpl.com/dumps?from=all&mode=stats&library=modules)</li></ul>",
        "operationId": "getDumps",
        "parameters": [
          {
            "in": "query",
            "name": "from",
            "schema": {
              "type": "string"
            },
            "description": "module list, comma-separated, or `all`",
            "required": false,
            "examples": {
              "bitcoin-main": {
                "value": "bitcoin-main"
              },
              "all": {
                "value": "all"
              }
            }
          },
          {
            "in": "query",
            "name": "mode",
            "schema": {
              "type": "string"
            },
            "description": "`all` for the full list, `latest` for the latest dump only, `stats` for the summary; `all` can't be used if `?from=` is `all` or lists more than one module",
            "required": false,
            "examples": {
              "latest": {
                "value": "latest"
              },
              "all": {
                "value": "all"
              },
              "stats": {
                "value": "stats"
              }
            }
          },
          {
            "in": "query",
            "name": "library",
            "schema": {
              "type": "string"
            },
            "description": "library data, comma-separated list of (`modules`)",
            "required": false,
            "examples": {
              "": {
                "value": null
              },
              "modules": {
                "value": "modules"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful fetch",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "dumps": {
                          "$ref": "#/components/schemas/DumpGeneralInfo"
                        }
                      }
                    },
                    "context": {
                      "$ref": "#/components/schemas/Context"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "responses": {
      "200": {
        "description": "OK"
      },
      "400": {
        "description": "Bad request. User ID must be an integer and larger than 0."
      },
      "401": {
        "description": "Authorization information is missing or invalid."
      },
      "404": {
        "description": "Data was not found."
      },
      "5XX": {
        "description": "Unexpected error."
      }
    },
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "Xpl-Token"
      }
    },
    "schemas": {
      "Context": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer"
          },
          "api": {
            "type": "object",
            "properties": {
              "version": {
                "type": "string"
              },
              "notice": {
                "type": "string"
              }
            }
          },
          "time": {
            "type": "string"
          },
          "limit": {
            "type": "integer"
          }
        }
      },
      "GeneralInfo": {
        "type": "object",
        "format": "map",
        "properties": {
          "best_block": {
            "type": "integer",
            "example": 750125
          },
          "best_block_hash": {
            "type": "string",
            "example": "000000000000000000071379424b347e6e6b53cfa7e0d2bf47162d56e866b5b"
          },
          "best_block_time": {
            "type": "string",
            "format": "timestamp",
            "example": "2022-08-19T16:04:44.000000Z"
          },
          "events_24h": {
            "type": "object",
            "description": "map where key is blockchain's module as string and value is number of events for past 24h as integer",
            "properties": {
              "bitcoin": {
                "type": "integer",
                "example": 123456
              },
              "bitcoin-omni": {
                "type": "integer",
                "example": 123
              }
            }
          },
          "mempool_events": {
            "type": "object",
            "description": "map where key is blockchain's module as string and value is number of events in mempool as integer",
            "properties": {
              "bitcoin": {
                "type": "integer",
                "example": 123456
              },
              "bitcoin-omni": {
                "type": "integer",
                "example": 123
              }
            }
          }
        }
      },
      "BlockInfo": {
        "type": "object",
        "description": "general info about block",
        "properties": {
          "hash": {
            "type": "string",
            "description": "block hash",
            "example": "000000000000000000060656816430fd67e24e57beda35099de361e20bb983d3"
          },
          "time": {
            "type": "string",
            "format": "timestamp",
            "description": "timestamp of block mining",
            "example": "2022-08-19T15:43:19.000000Z"
          },
          "events": {
            "type": "object",
            "properties": {
              "bitcoin-main": {
                "type": "integer",
                "example": 123456
              },
              "bitcoin-omni": {
                "type": "integer",
                "example": 123
              }
            }
          }
        }
      },
      "TransactionInfo": {
        "type": "object",
        "description": "general info about transaction",
        "properties": {
          "block": {
            "type": "integer",
            "description": "block where this transaction is included in",
            "example": 123456
          },
          "transaction": {
            "type": "string",
            "description": "transaction hash",
            "example": "000000000000000000060656816430fd67e24e57beda35099de361e20bb983d3"
          },
          "time": {
            "type": "string",
            "format": "timestamp",
            "description": "timestamp of transaction appearance",
            "example": "2022-08-19T15:43:19.000000Z"
          },
          "events": {
            "type": "object",
            "properties": {
              "bitcoin-main": {
                "type": "integer",
                "example": 123456
              },
              "bitcoin-omni": {
                "type": "integer",
                "example": 123
              }
            }
          }
        }
      },
      "AddressGeneralInfo": {
        "type": "object",
        "description": "general info about address",
        "properties": {
          "address": {
            "type": "string",
            "description": "address hash",
            "example": "000000000000000000060656816430fd67e24e57beda35099de361e20bb983d3"
          },
          "balances": {
            "type": "object",
            "properties": {
              "bitcoin-main": {
                "type": "integer",
                "example": 123
              },
              "bitcoin-omni": {
                "type": "integer",
                "example": 0
              }
            }
          },
          "events": {
            "type": "object",
            "properties": {
              "bitcoin-main": {
                "type": "integer",
                "example": 123456
              },
              "bitcoin-omni": {
                "type": "integer",
                "example": 123
              }
            }
          }
        }
      },
      "DumpGeneralInfo": {
        "type": "array",
        "description": "modules array",
        "items": {
          "anyOf": [
            {
              "$ref": "#/components/schemas/DateDumpObjectStats"
            },
            {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/DateDumpObjectAll"
              }
            }
          ]
        }
      },
      "DateDumpObjectAll": {
        "type": "object",
        "description": "Data dump for one date",
        "properties": {
          "module_version": {
            "type": "integer",
            "example": 1
          },
          "blocks": {
            "type": "integer",
            "example": 145
          },
          "events": {
            "type": "integer",
            "example": 2234268
          },
          "uncompressed_size": {
            "type": "integer",
            "example": 394257081
          },
          "compressed_size": {
            "type": "integer",
            "example": 63184112
          },
          "compression_algo": {
            "type": "string",
            "example": "zstd"
          },
          "compression_level": {
            "type": "integer",
            "example": 22
          },
          "link": {
            "type": "string",
            "example": "https://3xpl.com/dumps/download/gz/bitcoin/bitcoin-main/3xplor3r_bitcoin_bitcoin-main_events_20230202.tsv.zst"
          },
          "checksum": {
            "type": "string",
            "example": "4cbd53c6afbe608b69c9b22eefd74757abca0b16f5fbbd7e5fc3aa9bddfaa756"
          },
          "checksum_algo": {
            "type": "string",
            "example": "sha256sum"
          },
          "checksum_link": {
            "type": "string",
            "example": "https://3xpl.com/dumps/download/gz/bitcoin/bitcoin-main/3xplor3r_bitcoin_bitcoin-main_events_20230202.tsv.zst.sha256sum"
          },
          "olap": {
            "type": "boolean",
            "example": true
          }
        }
      },
      "DateDumpObjectStats": {
        "type": "object",
        "description": "Data statistisc for one module",
        "properties": {
          "blocks": {
            "type": "integer",
            "example": 774795
          },
          "events": {
            "type": "integer",
            "example": 5170410227
          },
          "uncompressed_size": {
            "type": "integer",
            "example": 893731590945
          },
          "compressed_size": {
            "type": "integer",
            "example": 137262738462
          }
        }
      },
      "AddressBalancesInfo": {
        "type": "object",
        "description": "balances info about address",
        "properties": {
          "bitcoin-main": {
            "type": "object",
            "properties": {
              "bitcoin": {
                "type": "object",
                "properties": {
                  "balance": {
                    "type": "string",
                    "example": "-1912608354497096"
                  },
                  "events": {
                    "type": "integer",
                    "example": 752026486
                  }
                }
              }
            }
          }
        }
      },
      "CommonEventInfo": {
        "type": "object",
        "format": "map",
        "description": "common fields for module event",
        "properties": {
          "sort_key": {
            "type": "integer",
            "description": "sorted key of this event in database",
            "example": 0
          },
          "currency": {
            "type": "string",
            "description": "currency of this event",
            "example": "bitcoin"
          },
          "currency_type": {
            "description": "ticker of this event's currency",
            "type": "string",
            "example": "FT"
          },
          "effect": {
            "type": "string",
            "description": "effect of this event",
            "example": "-1589351625"
          },
          "failed": {
            "type": "boolean",
            "description": "is this event failed",
            "example": false
          },
          "extra": {
            "type": "string",
            "nullable": true,
            "description": "extra data",
            "example": null
          },
          "extra_indexed": {
            "type": "string",
            "nullable": true,
            "description": "indexed extra data",
            "example": null
          }
        }
      },
      "BlockModuleEvent": {
        "type": "object",
        "format": "map",
        "description": "description of event for module in block",
        "allOf": [
          {
            "type": "object",
            "properties": {
              "transaction": {
                "type": "string",
                "description": "hash of transaction included in this block",
                "example": "2157b554dcfda405233906e461ee593875ae4b1b97615872db6a25130ecc1dd6"
              },
              "address": {
                "type": "string",
                "description": "hash of sender or recipient (depends on {effect} sign)",
                "example": "the-void"
              }
            }
          },
          {
            "$ref": "#/components/schemas/CommonEventInfo"
          }
        ]
      },
      "TransactionModuleEvent": {
        "type": "object",
        "format": "map",
        "description": "description of event for module in transaction",
        "allOf": [
          {
            "type": "object",
            "properties": {
              "address": {
                "type": "string",
                "description": "hash of sender or recipient (depends on {effect} sign)",
                "example": "2157b554dcfda405233906e461ee593875ae4b1b97615872db6a25130ecc1dd6"
              }
            }
          },
          {
            "$ref": "#/components/schemas/CommonEventInfo"
          }
        ]
      },
      "AddressModuleEvent": {
        "type": "object",
        "format": "map",
        "description": "description of event for module in address",
        "allOf": [
          {
            "type": "object",
            "properties": {
              "block": {
                "type": "integer",
                "description": "number of block where this event's transactions is included",
                "example": 123456
              },
              "transaction": {
                "type": "string",
                "description": "transaction hash of this event",
                "example": "2157b554dcfda405233906e461ee593875ae4b1b97615872db6a25130ecc1dd6"
              },
              "time": {
                "type": "string",
                "format": "date",
                "description": "time of this event",
                "example": "2022-08-19T20:10:31.000000Z"
              }
            }
          },
          {
            "$ref": "#/components/schemas/CommonEventInfo"
          }
        ]
      },
      "Block": {
        "type": "object",
        "format": "map",
        "allOf": [
          {
            "$ref": "#/components/schemas/BlockInfo"
          }
        ]
      },
      "Transaction": {
        "type": "object",
        "format": "map",
        "allOf": [
          {
            "$ref": "#/components/schemas/TransactionInfo"
          }
        ]
      },
      "Address": {
        "type": "object",
        "format": "map",
        "allOf": [
          {
            "$ref": "#/components/schemas/AddressGeneralInfo"
          },
          {
            "$ref": "#/components/schemas/AddressBalancesInfo"
          }
        ]
      },
      "SearchResult": {
        "type": "object",
        "format": "map",
        "properties": {
          "results": {
            "type": "object",
            "additionalProperties": {
              "type": "object",
              "properties": {
                "block": {
                  "type": "boolean"
                },
                "transaction": {
                  "type": "boolean"
                },
                "address": {
                  "type": "boolean"
                }
              }
            }
          }
        }
      }
    }
  }
}
