{
  "openapi": "3.0.3",
  "info": {
    "title": "CryptoCompare API",
    "version": "1.0.0",
    "description": "CryptoCompare API (used by Chainlink oracle network) provides cryptocurrency price data, historical OHLCV data, social stats, mining data, and news. The min-api server provides lightweight price endpoints.",
    "x-jentic-source-url": "https://min-api.cryptocompare.com/documentation",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://min-api.cryptocompare.com"
    }
  ],
  "paths": {
    "/data/price": {
      "get": {
        "operationId": "getSinglePrice",
        "summary": "Single Symbol Price",
        "description": "Get the current price of a cryptocurrency in one or more target currencies.",
        "tags": [
          "Price"
        ],
        "parameters": [
          {
            "name": "fsym",
            "in": "query",
            "required": true,
            "description": "From symbol (e.g., BTC).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tsyms",
            "in": "query",
            "required": true,
            "description": "Comma-separated target symbols (e.g., USD,EUR,GBP).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "e",
            "in": "query",
            "required": false,
            "description": "Exchange name (default: CCCAGG).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tryConversion",
            "in": "query",
            "required": false,
            "description": "Try conversion through intermediate currency.",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "relaxedValidation",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PriceResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/data/pricemulti": {
      "get": {
        "operationId": "getMultiPrice",
        "summary": "Multiple Symbols Price",
        "description": "Get current prices for multiple cryptocurrency symbols.",
        "tags": [
          "Price"
        ],
        "parameters": [
          {
            "name": "fsyms",
            "in": "query",
            "required": true,
            "description": "Comma-separated from symbols.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tsyms",
            "in": "query",
            "required": true,
            "description": "Comma-separated target symbols.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "e",
            "in": "query",
            "required": false,
            "description": "Exchange name.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tryConversion",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PriceMultiResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/data/pricemultifull": {
      "get": {
        "operationId": "getMultiPriceFull",
        "summary": "Multiple Symbols Full Data",
        "description": "Get full price data (including market cap, volume, change %) for multiple symbols.",
        "tags": [
          "Price"
        ],
        "parameters": [
          {
            "name": "fsyms",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tsyms",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "e",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tryConversion",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenerateAvgResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/data/generateAvg": {
      "get": {
        "operationId": "generateAvg",
        "summary": "Generate Custom Average",
        "description": "Generate a custom average price for a symbol pair using specific exchanges.",
        "tags": [
          "Price"
        ],
        "parameters": [
          {
            "name": "fsym",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tsym",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "e",
            "in": "query",
            "required": true,
            "description": "Comma-separated exchange names.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenerateAvgResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/data/v2/histoday": {
      "get": {
        "operationId": "getHistoDay",
        "summary": "Historical Daily OHLCV",
        "description": "Get daily historical OHLCV data.",
        "tags": [
          "Historical"
        ],
        "parameters": [
          {
            "name": "fsym",
            "in": "query",
            "required": true,
            "description": "From symbol.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tsym",
            "in": "query",
            "required": true,
            "description": "To symbol.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "e",
            "in": "query",
            "required": false,
            "description": "Exchange name.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Number of data points (max 2000).",
            "schema": {
              "type": "integer",
              "default": 30,
              "maximum": 2000
            }
          },
          {
            "name": "toTs",
            "in": "query",
            "required": false,
            "description": "Unix timestamp to get data before.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "aggregate",
            "in": "query",
            "required": false,
            "description": "Aggregation period (1-30).",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "tryConversion",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HistoricalResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/data/v2/histohour": {
      "get": {
        "operationId": "getHistoHour",
        "summary": "Historical Hourly OHLCV",
        "description": "Get hourly historical OHLCV data.",
        "tags": [
          "Historical"
        ],
        "parameters": [
          {
            "name": "fsym",
            "in": "query",
            "required": true,
            "description": "From symbol.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tsym",
            "in": "query",
            "required": true,
            "description": "To symbol.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "e",
            "in": "query",
            "required": false,
            "description": "Exchange name.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Number of data points (max 2000).",
            "schema": {
              "type": "integer",
              "default": 30,
              "maximum": 2000
            }
          },
          {
            "name": "toTs",
            "in": "query",
            "required": false,
            "description": "Unix timestamp to get data before.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "aggregate",
            "in": "query",
            "required": false,
            "description": "Aggregation period (1-30).",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "tryConversion",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HistoricalResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/data/v2/histominute": {
      "get": {
        "operationId": "getHistoMinute",
        "summary": "Historical Minute OHLCV",
        "description": "Get minute-level historical OHLCV data.",
        "tags": [
          "Historical"
        ],
        "parameters": [
          {
            "name": "fsym",
            "in": "query",
            "required": true,
            "description": "From symbol.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tsym",
            "in": "query",
            "required": true,
            "description": "To symbol.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "e",
            "in": "query",
            "required": false,
            "description": "Exchange name.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Number of data points (max 2000).",
            "schema": {
              "type": "integer",
              "default": 30,
              "maximum": 2000
            }
          },
          {
            "name": "toTs",
            "in": "query",
            "required": false,
            "description": "Unix timestamp to get data before.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "aggregate",
            "in": "query",
            "required": false,
            "description": "Aggregation period (1-30).",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "tryConversion",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HistoricalResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/data/top/totalvolfull": {
      "get": {
        "operationId": "getTopByVolume",
        "summary": "Top by Volume",
        "description": "Get top coins by total volume across all markets.",
        "tags": [
          "Top Lists"
        ],
        "parameters": [
          {
            "name": "tsym",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 10
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TopListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/data/top/mktcapfull": {
      "get": {
        "operationId": "getTopByMarketCap",
        "summary": "Top by Market Cap",
        "description": "Get top coins by market capitalization.",
        "tags": [
          "Top Lists"
        ],
        "parameters": [
          {
            "name": "tsym",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 10
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TopListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/data/top/exchanges/full": {
      "get": {
        "operationId": "getTopExchanges",
        "summary": "Top Exchanges by Volume",
        "description": "Get top exchanges for a currency pair by volume.",
        "tags": [
          "Top Lists"
        ],
        "parameters": [
          {
            "name": "fsym",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tsym",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 5
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TopListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/data/top/pairs": {
      "get": {
        "operationId": "getTopPairs",
        "summary": "Top Trading Pairs",
        "description": "Get top trading pairs by volume for a coin.",
        "tags": [
          "Top Lists"
        ],
        "parameters": [
          {
            "name": "fsym",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 5
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TopListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/data/all/coinlist": {
      "get": {
        "operationId": "getCoinList",
        "summary": "All Coins List",
        "description": "Get the full list of all coins available on the platform.",
        "tags": [
          "General"
        ],
        "parameters": [
          {
            "name": "summary",
            "in": "query",
            "required": false,
            "description": "Return summary version.",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CoinListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/data/all/exchanges": {
      "get": {
        "operationId": "getExchangeList",
        "summary": "All Exchanges List",
        "description": "Get the full list of exchanges with their trading pairs.",
        "tags": [
          "General"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CoinListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/data/v2/news/": {
      "get": {
        "operationId": "getNews",
        "summary": "Latest News",
        "description": "Get latest crypto news articles.",
        "tags": [
          "News"
        ],
        "parameters": [
          {
            "name": "lang",
            "in": "query",
            "required": false,
            "description": "Language (EN, PT, etc).",
            "schema": {
              "type": "string",
              "default": "EN"
            }
          },
          {
            "name": "categories",
            "in": "query",
            "required": false,
            "description": "Comma-separated category names.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "excludeCategories",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lTs",
            "in": "query",
            "required": false,
            "description": "Unix timestamp to get news before.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "sortOrder",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "latest",
                "popular"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NewsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/data/news/feeds": {
      "get": {
        "operationId": "getNewsFeeds",
        "summary": "News Feeds",
        "description": "Get available news feed providers.",
        "tags": [
          "News"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NewsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/data/news/categories": {
      "get": {
        "operationId": "getNewsCategories",
        "summary": "News Categories",
        "description": "Get available news categories.",
        "tags": [
          "News"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NewsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/data/social/coin/latest": {
      "get": {
        "operationId": "getSocialStats",
        "summary": "Latest Social Stats",
        "description": "Get latest social stats for a coin (Reddit, Twitter, Facebook, code repos).",
        "tags": [
          "Social"
        ],
        "parameters": [
          {
            "name": "coinId",
            "in": "query",
            "required": true,
            "description": "CryptoCompare coin ID.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TopListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/data/social/coin/histo/day": {
      "get": {
        "operationId": "getSocialStatsHistory",
        "summary": "Historical Social Stats (Daily)",
        "description": "Get daily historical social stats for a coin.",
        "tags": [
          "Social"
        ],
        "parameters": [
          {
            "name": "coinId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "toTs",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HistoricalResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "Response": {
            "type": "string",
            "enum": [
              "Error"
            ]
          },
          "Message": {
            "type": "string"
          },
          "Type": {
            "type": "integer"
          },
          "HasWarning": {
            "type": "boolean"
          }
        }
      },
      "PriceResponse": {
        "type": "object",
        "additionalProperties": {
          "type": "number"
        },
        "description": "Map of target symbol to price. E.g., {\"USD\": 50000}"
      },
      "PriceMultiResponse": {
        "type": "object",
        "additionalProperties": {
          "type": "object",
          "additionalProperties": {
            "type": "number"
          }
        }
      },
      "GenerateAvgResponse": {
        "type": "object",
        "properties": {
          "RAW": {
            "type": "object"
          },
          "DISPLAY": {
            "type": "object"
          }
        }
      },
      "HistoricalResponse": {
        "type": "object",
        "properties": {
          "Response": {
            "type": "string"
          },
          "Message": {
            "type": "string"
          },
          "HasWarning": {
            "type": "boolean"
          },
          "Type": {
            "type": "integer"
          },
          "RateLimit": {
            "type": "object"
          },
          "Data": {
            "type": "object",
            "properties": {
              "Aggregated": {
                "type": "boolean"
              },
              "TimeFrom": {
                "type": "integer"
              },
              "TimeTo": {
                "type": "integer"
              },
              "Data": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "time": {
                      "type": "integer"
                    },
                    "high": {
                      "type": "number"
                    },
                    "low": {
                      "type": "number"
                    },
                    "open": {
                      "type": "number"
                    },
                    "close": {
                      "type": "number"
                    },
                    "volumefrom": {
                      "type": "number"
                    },
                    "volumeto": {
                      "type": "number"
                    },
                    "conversionType": {
                      "type": "string"
                    },
                    "conversionSymbol": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "TopListResponse": {
        "type": "object",
        "properties": {
          "Message": {
            "type": "string"
          },
          "Type": {
            "type": "integer"
          },
          "Data": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "CoinListResponse": {
        "type": "object",
        "properties": {
          "Response": {
            "type": "string"
          },
          "Data": {
            "type": "object",
            "additionalProperties": {
              "type": "object"
            }
          }
        }
      },
      "NewsResponse": {
        "type": "object",
        "properties": {
          "Type": {
            "type": "integer"
          },
          "Message": {
            "type": "string"
          },
          "Data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "guid": {
                  "type": "string"
                },
                "published_on": {
                  "type": "integer"
                },
                "imageurl": {
                  "type": "string"
                },
                "title": {
                  "type": "string"
                },
                "url": {
                  "type": "string"
                },
                "source": {
                  "type": "string"
                },
                "body": {
                  "type": "string"
                },
                "tags": {
                  "type": "string"
                },
                "categories": {
                  "type": "string"
                },
                "lang": {
                  "type": "string"
                },
                "source_info": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "securitySchemes": {
      "apiKeyHeader": {
        "type": "apiKey",
        "in": "header",
        "name": "authorization"
      },
      "apiKeyQuery": {
        "type": "apiKey",
        "in": "query",
        "name": "api_key"
      }
    }
  },
  "security": [
    {
      "apiKeyHeader": []
    },
    {
      "apiKeyQuery": []
    }
  ],
  "tags": [
    {
      "name": "General"
    },
    {
      "name": "Historical"
    },
    {
      "name": "News"
    },
    {
      "name": "Price"
    },
    {
      "name": "Social"
    },
    {
      "name": "Top Lists"
    }
  ]
}
