{
  "openapi": "3.0.3",
  "info": {
    "title": "Zenodo API",
    "version": "1.0.0",
    "description": "Zenodo REST API for managing research outputs. Zenodo is a general-purpose open-access repository hosted at CERN. Supports depositing, searching, and downloading research data, publications, software, and other research outputs.",
    "x-jentic-source-url": "https://developers.zenodo.org/",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://zenodo.org/api"
    }
  ],
  "paths": {
    "/records": {
      "get": {
        "operationId": "searchRecords",
        "summary": "Search published records",
        "description": "Search for published records with Elasticsearch query syntax. Supports pagination, sorting, and filtering by type.",
        "tags": [
          "Records"
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "Search query using Elasticsearch syntax",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "Filter by record type",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "publication",
                "poster",
                "presentation",
                "dataset",
                "image",
                "video",
                "software",
                "lesson",
                "physicalobject",
                "other"
              ]
            }
          },
          {
            "name": "subtype",
            "in": "query",
            "description": "Filter by record subtype",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filter by access status",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "open",
                "embargoed",
                "restricted",
                "closed"
              ]
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort order",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "bestmatch",
                "mostrecent",
                "-mostrecent",
                "mostviewed"
              ]
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1,
              "minimum": 1
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "Number of results per page",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 10,
              "minimum": 1,
              "maximum": 1000
            }
          },
          {
            "name": "all_versions",
            "in": "query",
            "description": "Show all versions of records",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "communities",
            "in": "query",
            "description": "Filter by community identifier",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Search results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RecordSearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    },
    "/records/{id}": {
      "get": {
        "operationId": "getRecord",
        "summary": "Get a record",
        "description": "Retrieve a single published record by its ID.",
        "tags": [
          "Records"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Record details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Record"
                }
              }
            }
          },
          "404": {
            "description": "Record not found"
          },
          "410": {
            "description": "Record deleted"
          }
        }
      }
    },
    "/records/{id}/files": {
      "get": {
        "operationId": "listRecordFiles",
        "summary": "List record files",
        "description": "List all files associated with a published record.",
        "tags": [
          "Records"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of files",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FileList"
                }
              }
            }
          },
          "404": {
            "description": "Record not found"
          }
        }
      }
    },
    "/records/{id}/files/{filename}": {
      "get": {
        "operationId": "downloadRecordFile",
        "summary": "Download a record file",
        "description": "Download a specific file from a published record.",
        "tags": [
          "Records"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "filename",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "File content",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "404": {
            "description": "File not found"
          }
        }
      }
    },
    "/deposit/depositions": {
      "get": {
        "operationId": "listDepositions",
        "summary": "List user depositions",
        "description": "List all depositions for the authenticated user.",
        "tags": [
          "Deposit"
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "Search query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filter by deposition status",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "draft",
                "published"
              ]
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of depositions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Deposition"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "createDeposition",
        "summary": "Create a deposition",
        "description": "Create a new deposition (draft) for uploading files and metadata.",
        "tags": [
          "Deposit"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DepositionInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created deposition",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Deposition"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/deposit/depositions/{id}/actions/publish": {
      "post": {
        "operationId": "publishDeposition",
        "summary": "Publish a deposition",
        "description": "Publish a deposition making it publicly accessible and issuing a DOI.",
        "tags": [
          "Deposit"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Published deposition",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Deposition"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - validation errors"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Deposition not found"
          }
        }
      }
    },
    "/communities": {
      "get": {
        "operationId": "listCommunities",
        "summary": "List communities",
        "description": "List available Zenodo communities.",
        "tags": [
          "Communities"
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "Search query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of communities",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/licenses": {
      "get": {
        "operationId": "listLicenses",
        "summary": "List available licenses",
        "description": "Returns a list of available licenses for depositions.",
        "tags": [
          "Metadata"
        ],
        "responses": {
          "200": {
            "description": "List of licenses",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "RecordSearchResponse": {
        "type": "object",
        "properties": {
          "hits": {
            "type": "object",
            "properties": {
              "hits": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Record"
                }
              },
              "total": {
                "type": "integer"
              }
            }
          },
          "links": {
            "type": "object"
          },
          "aggregations": {
            "type": "object"
          }
        }
      },
      "Record": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "conceptrecid": {
            "type": "string"
          },
          "doi": {
            "type": "string"
          },
          "conceptdoi": {
            "type": "string"
          },
          "metadata": {
            "$ref": "#/components/schemas/RecordMetadata"
          },
          "title": {
            "type": "string"
          },
          "links": {
            "type": "object"
          },
          "created": {
            "type": "string",
            "format": "date-time"
          },
          "updated": {
            "type": "string",
            "format": "date-time"
          },
          "revision": {
            "type": "integer"
          },
          "files": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RecordFile"
            }
          },
          "stats": {
            "type": "object"
          }
        }
      },
      "RecordMetadata": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "creators": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                },
                "affiliation": {
                  "type": "string"
                },
                "orcid": {
                  "type": "string"
                }
              }
            }
          },
          "resource_type": {
            "type": "object",
            "properties": {
              "type": {
                "type": "string"
              },
              "subtype": {
                "type": "string"
              },
              "title": {
                "type": "string"
              }
            }
          },
          "publication_date": {
            "type": "string"
          },
          "access_right": {
            "type": "string"
          },
          "license": {
            "type": "object"
          },
          "keywords": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "doi": {
            "type": "string"
          },
          "version": {
            "type": "string"
          }
        }
      },
      "RecordFile": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "filename": {
            "type": "string"
          },
          "filesize": {
            "type": "integer"
          },
          "checksum": {
            "type": "string"
          },
          "links": {
            "type": "object"
          }
        }
      },
      "FileList": {
        "type": "object",
        "properties": {
          "entries": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RecordFile"
            }
          }
        }
      },
      "Deposition": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "title": {
            "type": "string"
          },
          "doi": {
            "type": "string"
          },
          "doi_url": {
            "type": "string",
            "format": "uri"
          },
          "metadata": {
            "$ref": "#/components/schemas/RecordMetadata"
          },
          "state": {
            "type": "string",
            "enum": [
              "inprogress",
              "done",
              "error"
            ]
          },
          "submitted": {
            "type": "boolean"
          },
          "created": {
            "type": "string",
            "format": "date-time"
          },
          "modified": {
            "type": "string",
            "format": "date-time"
          },
          "links": {
            "type": "object"
          },
          "files": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RecordFile"
            }
          }
        }
      },
      "DepositionInput": {
        "type": "object",
        "properties": {
          "metadata": {
            "type": "object",
            "required": [
              "title",
              "upload_type",
              "description",
              "creators"
            ],
            "properties": {
              "title": {
                "type": "string"
              },
              "upload_type": {
                "type": "string"
              },
              "publication_type": {
                "type": "string"
              },
              "description": {
                "type": "string"
              },
              "creators": {
                "type": "array",
                "items": {
                  "type": "object",
                  "required": [
                    "name"
                  ],
                  "properties": {
                    "name": {
                      "type": "string"
                    },
                    "affiliation": {
                      "type": "string"
                    },
                    "orcid": {
                      "type": "string"
                    }
                  }
                }
              },
              "access_right": {
                "type": "string",
                "enum": [
                  "open",
                  "embargoed",
                  "restricted",
                  "closed"
                ]
              },
              "license": {
                "type": "string"
              },
              "keywords": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Personal access token"
      },
      "accessToken": {
        "type": "apiKey",
        "in": "query",
        "name": "access_token"
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    },
    {
      "accessToken": []
    }
  ],
  "tags": [
    {
      "name": "Communities"
    },
    {
      "name": "Deposit"
    },
    {
      "name": "Metadata"
    },
    {
      "name": "Records"
    }
  ]
}
