{
  "openapi": "3.0.3",
  "info": {
    "title": "Facebook Marketing API",
    "version": "19.0",
    "description": "Meta (Facebook) Marketing API via the Graph API. Manage ad accounts, campaigns, ad sets, ads, audiences, insights, and more. Part of the Meta Business SDK ecosystem.",
    "x-jentic-source-url": "https://developers.facebook.com/docs/marketing-apis/",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://graph.facebook.com/v19.0"
    }
  ],
  "paths": {
    "/me/adaccounts": {
      "get": {
        "operationId": "listAdAccounts",
        "summary": "List ad accounts",
        "tags": [
          "Ad Accounts"
        ],
        "parameters": [
          {
            "name": "access_token",
            "in": "query",
            "description": "OAuth access token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Comma-separated list of fields to return",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 25
            }
          },
          {
            "name": "after",
            "in": "query",
            "description": "Pagination cursor",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdAccountListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "List ad accounts"
      }
    },
    "/act_{ad_account_id}": {
      "get": {
        "operationId": "getAdAccount",
        "summary": "Get ad account",
        "tags": [
          "Ad Accounts"
        ],
        "parameters": [
          {
            "name": "ad_account_id",
            "in": "path",
            "description": "Ad account ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "access_token",
            "in": "query",
            "description": "OAuth access token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Comma-separated list of fields to return",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdAccount"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get ad account"
      }
    },
    "/act_{ad_account_id}/campaigns": {
      "get": {
        "operationId": "listCampaigns",
        "summary": "List campaigns",
        "tags": [
          "Campaigns"
        ],
        "parameters": [
          {
            "name": "ad_account_id",
            "in": "path",
            "description": "Ad account ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "access_token",
            "in": "query",
            "description": "OAuth access token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Comma-separated list of fields to return",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 25
            }
          },
          {
            "name": "after",
            "in": "query",
            "description": "Pagination cursor",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "effective_status",
            "in": "query",
            "description": "Filter by status",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CampaignListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "List campaigns"
      },
      "post": {
        "operationId": "createCampaign",
        "summary": "Create a campaign",
        "tags": [
          "Campaigns"
        ],
        "parameters": [
          {
            "name": "ad_account_id",
            "in": "path",
            "description": "Ad account ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name",
                  "objective",
                  "status",
                  "special_ad_categories"
                ],
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "objective": {
                    "type": "string",
                    "enum": [
                      "OUTCOME_AWARENESS",
                      "OUTCOME_ENGAGEMENT",
                      "OUTCOME_LEADS",
                      "OUTCOME_SALES",
                      "OUTCOME_TRAFFIC",
                      "OUTCOME_APP_PROMOTION"
                    ]
                  },
                  "status": {
                    "type": "string",
                    "enum": [
                      "ACTIVE",
                      "PAUSED"
                    ]
                  },
                  "special_ad_categories": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "daily_budget": {
                    "type": "integer"
                  },
                  "lifetime_budget": {
                    "type": "integer"
                  },
                  "bid_strategy": {
                    "type": "string"
                  },
                  "buying_type": {
                    "type": "string"
                  },
                  "access_token": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Campaign"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Create a campaign"
      }
    },
    "/{campaign_id}": {
      "get": {
        "operationId": "getCampaign",
        "summary": "Get campaign",
        "tags": [
          "Campaigns"
        ],
        "parameters": [
          {
            "name": "campaign_id",
            "in": "path",
            "description": "Campaign ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "access_token",
            "in": "query",
            "description": "OAuth access token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Comma-separated list of fields to return",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Campaign"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get campaign"
      },
      "post": {
        "operationId": "updateCampaign",
        "summary": "Update campaign",
        "tags": [
          "Campaigns"
        ],
        "parameters": [
          {
            "name": "campaign_id",
            "in": "path",
            "description": "Campaign ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "status": {
                    "type": "string"
                  },
                  "daily_budget": {
                    "type": "integer"
                  },
                  "lifetime_budget": {
                    "type": "integer"
                  },
                  "access_token": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Campaign"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Update campaign"
      },
      "delete": {
        "operationId": "deleteCampaign",
        "summary": "Delete campaign",
        "tags": [
          "Campaigns"
        ],
        "parameters": [
          {
            "name": "campaign_id",
            "in": "path",
            "description": "Campaign ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "access_token",
            "in": "query",
            "description": "OAuth access token",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Campaign"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Delete campaign"
      }
    },
    "/act_{ad_account_id}/adsets": {
      "get": {
        "operationId": "listAdSets",
        "summary": "List ad sets",
        "tags": [
          "Ad Sets"
        ],
        "parameters": [
          {
            "name": "ad_account_id",
            "in": "path",
            "description": "Ad account ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "access_token",
            "in": "query",
            "description": "OAuth access token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Comma-separated list of fields to return",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 25
            }
          },
          {
            "name": "after",
            "in": "query",
            "description": "Pagination cursor",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdSetListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "List ad sets"
      },
      "post": {
        "operationId": "createAdSet",
        "summary": "Create an ad set",
        "tags": [
          "Ad Sets"
        ],
        "parameters": [
          {
            "name": "ad_account_id",
            "in": "path",
            "description": "Ad account ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name",
                  "campaign_id",
                  "billing_event",
                  "optimization_goal",
                  "targeting",
                  "status"
                ],
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "campaign_id": {
                    "type": "string"
                  },
                  "daily_budget": {
                    "type": "integer"
                  },
                  "billing_event": {
                    "type": "string"
                  },
                  "optimization_goal": {
                    "type": "string"
                  },
                  "targeting": {
                    "type": "object"
                  },
                  "status": {
                    "type": "string"
                  },
                  "bid_amount": {
                    "type": "integer"
                  },
                  "start_time": {
                    "type": "string"
                  },
                  "end_time": {
                    "type": "string"
                  },
                  "access_token": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdSet"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Create an ad set"
      }
    },
    "/{adset_id}": {
      "get": {
        "operationId": "getAdSet",
        "summary": "Get ad set",
        "tags": [
          "Ad Sets"
        ],
        "parameters": [
          {
            "name": "adset_id",
            "in": "path",
            "description": "Ad set ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "access_token",
            "in": "query",
            "description": "OAuth access token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Comma-separated list of fields to return",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdSet"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get ad set"
      },
      "post": {
        "operationId": "updateAdSet",
        "summary": "Update ad set",
        "tags": [
          "Ad Sets"
        ],
        "parameters": [
          {
            "name": "adset_id",
            "in": "path",
            "description": "Ad set ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "status": {
                    "type": "string"
                  },
                  "daily_budget": {
                    "type": "integer"
                  },
                  "targeting": {
                    "type": "object"
                  },
                  "access_token": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdSet"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Update ad set"
      }
    },
    "/act_{ad_account_id}/ads": {
      "get": {
        "operationId": "listAds",
        "summary": "List ads",
        "tags": [
          "Ads"
        ],
        "parameters": [
          {
            "name": "ad_account_id",
            "in": "path",
            "description": "Ad account ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "access_token",
            "in": "query",
            "description": "OAuth access token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Comma-separated list of fields to return",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 25
            }
          },
          {
            "name": "after",
            "in": "query",
            "description": "Pagination cursor",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "List ads"
      },
      "post": {
        "operationId": "createAd",
        "summary": "Create an ad",
        "tags": [
          "Ads"
        ],
        "parameters": [
          {
            "name": "ad_account_id",
            "in": "path",
            "description": "Ad account ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name",
                  "adset_id",
                  "creative",
                  "status"
                ],
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "adset_id": {
                    "type": "string"
                  },
                  "creative": {
                    "type": "object",
                    "properties": {
                      "creative_id": {
                        "type": "string"
                      }
                    }
                  },
                  "status": {
                    "type": "string"
                  },
                  "access_token": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ad"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Create an ad"
      }
    },
    "/{ad_id}": {
      "get": {
        "operationId": "getAd",
        "summary": "Get ad",
        "tags": [
          "Ads"
        ],
        "parameters": [
          {
            "name": "ad_id",
            "in": "path",
            "description": "Ad ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "access_token",
            "in": "query",
            "description": "OAuth access token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Comma-separated list of fields to return",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ad"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get ad"
      },
      "post": {
        "operationId": "updateAd",
        "summary": "Update ad",
        "tags": [
          "Ads"
        ],
        "parameters": [
          {
            "name": "ad_id",
            "in": "path",
            "description": "Ad ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "status": {
                    "type": "string"
                  },
                  "creative": {
                    "type": "object"
                  },
                  "access_token": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ad"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Update ad"
      }
    },
    "/act_{ad_account_id}/adcreatives": {
      "get": {
        "operationId": "listAdCreatives",
        "summary": "List ad creatives",
        "tags": [
          "Ad Creatives"
        ],
        "parameters": [
          {
            "name": "ad_account_id",
            "in": "path",
            "description": "Ad account ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "access_token",
            "in": "query",
            "description": "OAuth access token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Comma-separated list of fields to return",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 25
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdCreativeListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "List ad creatives"
      },
      "post": {
        "operationId": "createAdCreative",
        "summary": "Create ad creative",
        "tags": [
          "Ad Creatives"
        ],
        "parameters": [
          {
            "name": "ad_account_id",
            "in": "path",
            "description": "Ad account ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name"
                ],
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "object_story_spec": {
                    "type": "object"
                  },
                  "image_hash": {
                    "type": "string"
                  },
                  "link_url": {
                    "type": "string"
                  },
                  "call_to_action_type": {
                    "type": "string"
                  },
                  "access_token": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdCreative"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Create ad creative"
      }
    },
    "/act_{ad_account_id}/customaudiences": {
      "get": {
        "operationId": "listCustomAudiences",
        "summary": "List custom audiences",
        "tags": [
          "Audiences"
        ],
        "parameters": [
          {
            "name": "ad_account_id",
            "in": "path",
            "description": "Ad account ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "access_token",
            "in": "query",
            "description": "OAuth access token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Comma-separated list of fields to return",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 25
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomAudienceListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "List custom audiences"
      },
      "post": {
        "operationId": "createCustomAudience",
        "summary": "Create custom audience",
        "tags": [
          "Audiences"
        ],
        "parameters": [
          {
            "name": "ad_account_id",
            "in": "path",
            "description": "Ad account ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name",
                  "subtype"
                ],
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "subtype": {
                    "type": "string",
                    "enum": [
                      "CUSTOM",
                      "WEBSITE",
                      "APP",
                      "OFFLINE_CONVERSION",
                      "LOOKALIKE"
                    ]
                  },
                  "description": {
                    "type": "string"
                  },
                  "customer_file_source": {
                    "type": "string"
                  },
                  "access_token": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomAudience"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Create custom audience"
      }
    },
    "/{audience_id}/users": {
      "post": {
        "operationId": "addUsersToAudience",
        "summary": "Add users to custom audience",
        "tags": [
          "Audiences"
        ],
        "parameters": [
          {
            "name": "audience_id",
            "in": "path",
            "description": "Audience ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "payload": {
                    "type": "object",
                    "properties": {
                      "schema": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      "data": {
                        "type": "array",
                        "items": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  },
                  "access_token": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomAudience"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Add users to custom audience"
      }
    },
    "/act_{ad_account_id}/insights": {
      "get": {
        "operationId": "getAccountInsights",
        "summary": "Get ad account insights",
        "tags": [
          "Insights"
        ],
        "parameters": [
          {
            "name": "ad_account_id",
            "in": "path",
            "description": "Ad account ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "access_token",
            "in": "query",
            "description": "OAuth access token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Comma-separated list of fields to return",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "time_range",
            "in": "query",
            "description": "Time range JSON",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "time_increment",
            "in": "query",
            "description": "Time granularity (1=daily,7=weekly,monthly,all_days)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "breakdowns",
            "in": "query",
            "description": "Breakdown dimensions",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "level",
            "in": "query",
            "description": "Aggregation level",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "account",
                "campaign",
                "adset",
                "ad"
              ]
            }
          },
          {
            "name": "filtering",
            "in": "query",
            "description": "Filters JSON",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort fields",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 25
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InsightResultListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get ad account insights"
      }
    },
    "/{campaign_id}/insights": {
      "get": {
        "operationId": "getCampaignInsights",
        "summary": "Get campaign insights",
        "tags": [
          "Insights"
        ],
        "parameters": [
          {
            "name": "campaign_id",
            "in": "path",
            "description": "Campaign ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "access_token",
            "in": "query",
            "description": "OAuth access token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Comma-separated list of fields to return",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "time_range",
            "in": "query",
            "description": "Time range JSON",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "breakdowns",
            "in": "query",
            "description": "Breakdown dimensions",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 25
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InsightResultListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get campaign insights"
      }
    },
    "/{adset_id}/insights": {
      "get": {
        "operationId": "getAdSetInsights",
        "summary": "Get ad set insights",
        "tags": [
          "Insights"
        ],
        "parameters": [
          {
            "name": "adset_id",
            "in": "path",
            "description": "Ad set ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "access_token",
            "in": "query",
            "description": "OAuth access token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Comma-separated list of fields to return",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "time_range",
            "in": "query",
            "description": "Time range JSON",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 25
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InsightResultListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get ad set insights"
      }
    },
    "/{ad_id}/insights": {
      "get": {
        "operationId": "getAdInsights",
        "summary": "Get ad insights",
        "tags": [
          "Insights"
        ],
        "parameters": [
          {
            "name": "ad_id",
            "in": "path",
            "description": "Ad ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "access_token",
            "in": "query",
            "description": "OAuth access token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Comma-separated list of fields to return",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "time_range",
            "in": "query",
            "description": "Time range JSON",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 25
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InsightResultListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get ad insights"
      }
    },
    "/act_{ad_account_id}/adimages": {
      "get": {
        "operationId": "listAdImages",
        "summary": "List ad images",
        "tags": [
          "Ad Images"
        ],
        "parameters": [
          {
            "name": "ad_account_id",
            "in": "path",
            "description": "Ad account ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "access_token",
            "in": "query",
            "description": "OAuth access token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Comma-separated list of fields to return",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdImageListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "List ad images"
      },
      "post": {
        "operationId": "uploadAdImage",
        "summary": "Upload ad image",
        "tags": [
          "Ad Images"
        ],
        "parameters": [
          {
            "name": "ad_account_id",
            "in": "path",
            "description": "Ad account ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "filename": {
                    "type": "string",
                    "format": "binary"
                  },
                  "access_token": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdImage"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Upload ad image"
      }
    },
    "/act_{ad_account_id}/advideos": {
      "post": {
        "operationId": "uploadAdVideo",
        "summary": "Upload ad video",
        "tags": [
          "Ad Videos"
        ],
        "parameters": [
          {
            "name": "ad_account_id",
            "in": "path",
            "description": "Ad account ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "source": {
                    "type": "string",
                    "format": "binary"
                  },
                  "title": {
                    "type": "string"
                  },
                  "access_token": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdVideo"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Upload ad video"
      }
    },
    "/act_{ad_account_id}/adspixels": {
      "get": {
        "operationId": "listAdsPixels",
        "summary": "List ads pixels",
        "tags": [
          "Pixels"
        ],
        "parameters": [
          {
            "name": "ad_account_id",
            "in": "path",
            "description": "Ad account ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "access_token",
            "in": "query",
            "description": "OAuth access token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Comma-separated list of fields to return",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdsPixelListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "List ads pixels"
      },
      "post": {
        "operationId": "createAdsPixel",
        "summary": "Create ads pixel",
        "tags": [
          "Pixels"
        ],
        "parameters": [
          {
            "name": "ad_account_id",
            "in": "path",
            "description": "Ad account ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name"
                ],
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "access_token": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdsPixel"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Create ads pixel"
      }
    },
    "/act_{ad_account_id}/product_catalogs": {
      "get": {
        "operationId": "listProductCatalogs",
        "summary": "List product catalogs",
        "tags": [
          "Catalogs"
        ],
        "parameters": [
          {
            "name": "ad_account_id",
            "in": "path",
            "description": "Ad account ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "access_token",
            "in": "query",
            "description": "OAuth access token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Comma-separated list of fields to return",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductCatalogListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "List product catalogs"
      }
    },
    "/act_{ad_account_id}/targetingsearch": {
      "get": {
        "operationId": "searchTargeting",
        "summary": "Search targeting options",
        "tags": [
          "Targeting"
        ],
        "parameters": [
          {
            "name": "ad_account_id",
            "in": "path",
            "description": "Ad account ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "access_token",
            "in": "query",
            "description": "OAuth access token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "Search query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "Targeting type",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "adinterest",
                "adinterestsuggestion",
                "adTargetingCategory",
                "adgeolocation",
                "adlocale",
                "adcountry",
                "adregion",
                "adzipcode"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TargetingSearchListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Search targeting options"
      }
    },
    "/act_{ad_account_id}/reachestimate": {
      "get": {
        "operationId": "getReachEstimate",
        "summary": "Get reach estimate",
        "tags": [
          "Targeting"
        ],
        "parameters": [
          {
            "name": "ad_account_id",
            "in": "path",
            "description": "Ad account ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "access_token",
            "in": "query",
            "description": "OAuth access token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "targeting_spec",
            "in": "query",
            "description": "Targeting spec JSON",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReachEstimate"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get reach estimate"
      }
    },
    "/act_{ad_account_id}/adrules_library": {
      "get": {
        "operationId": "listAdRules",
        "summary": "List ad rules",
        "tags": [
          "Ad Rules"
        ],
        "parameters": [
          {
            "name": "ad_account_id",
            "in": "path",
            "description": "Ad account ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "access_token",
            "in": "query",
            "description": "OAuth access token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Comma-separated list of fields to return",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdRuleListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "List ad rules"
      },
      "post": {
        "operationId": "createAdRule",
        "summary": "Create ad rule",
        "tags": [
          "Ad Rules"
        ],
        "parameters": [
          {
            "name": "ad_account_id",
            "in": "path",
            "description": "Ad account ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name",
                  "evaluation_spec",
                  "execution_spec"
                ],
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "evaluation_spec": {
                    "type": "object"
                  },
                  "execution_spec": {
                    "type": "object"
                  },
                  "schedule_spec": {
                    "type": "object"
                  },
                  "access_token": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdRule"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Create ad rule"
      }
    },
    "/act_{ad_account_id}/adlabels": {
      "get": {
        "operationId": "listAdLabels",
        "summary": "List ad labels",
        "tags": [
          "Ad Labels"
        ],
        "parameters": [
          {
            "name": "ad_account_id",
            "in": "path",
            "description": "Ad account ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "access_token",
            "in": "query",
            "description": "OAuth access token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Comma-separated list of fields to return",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdLabelListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "List ad labels"
      },
      "post": {
        "operationId": "createAdLabel",
        "summary": "Create ad label",
        "tags": [
          "Ad Labels"
        ],
        "parameters": [
          {
            "name": "ad_account_id",
            "in": "path",
            "description": "Ad account ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name"
                ],
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "access_token": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdLabel"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Create ad label"
      }
    },
    "/act_{ad_account_id}/offline_conversion_data_sets": {
      "get": {
        "operationId": "listOfflineConversionSets",
        "summary": "List offline conversion data sets",
        "tags": [
          "Offline Conversions"
        ],
        "parameters": [
          {
            "name": "ad_account_id",
            "in": "path",
            "description": "Ad account ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "access_token",
            "in": "query",
            "description": "OAuth access token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Comma-separated list of fields to return",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OfflineConversionDataSetListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "List offline conversion data sets"
      },
      "post": {
        "operationId": "createOfflineConversionSet",
        "summary": "Create offline conversion data set",
        "tags": [
          "Offline Conversions"
        ],
        "parameters": [
          {
            "name": "ad_account_id",
            "in": "path",
            "description": "Ad account ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name"
                ],
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "access_token": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OfflineConversionDataSet"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Create offline conversion data set"
      }
    },
    "/act_{ad_account_id}/delivery_estimate": {
      "get": {
        "operationId": "getDeliveryEstimate",
        "summary": "Get delivery estimate",
        "tags": [
          "Targeting"
        ],
        "parameters": [
          {
            "name": "ad_account_id",
            "in": "path",
            "description": "Ad account ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "access_token",
            "in": "query",
            "description": "OAuth access token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "optimization_goal",
            "in": "query",
            "description": "Optimization goal",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "targeting_spec",
            "in": "query",
            "description": "Targeting spec JSON",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReachEstimate"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get delivery estimate"
      }
    }
  },
  "components": {
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "message": {
                "type": "string"
              },
              "type": {
                "type": "string"
              },
              "code": {
                "type": "integer"
              },
              "error_subcode": {
                "type": "integer"
              },
              "fbtrace_id": {
                "type": "string"
              }
            }
          }
        }
      },
      "Paging": {
        "type": "object",
        "properties": {
          "cursors": {
            "type": "object",
            "properties": {
              "before": {
                "type": "string"
              },
              "after": {
                "type": "string"
              }
            }
          },
          "next": {
            "type": "string"
          },
          "previous": {
            "type": "string"
          }
        }
      },
      "AdAccount": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "account_id": {
            "type": "string"
          },
          "account_status": {
            "type": "integer"
          },
          "currency": {
            "type": "string"
          },
          "timezone_name": {
            "type": "string"
          },
          "business": {
            "type": "object"
          },
          "amount_spent": {
            "type": "string"
          },
          "balance": {
            "type": "string"
          },
          "age": {
            "type": "number"
          },
          "created_time": {
            "type": "string"
          }
        }
      },
      "Campaign": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "objective": {
            "type": "string"
          },
          "buying_type": {
            "type": "string"
          },
          "bid_strategy": {
            "type": "string"
          },
          "budget_remaining": {
            "type": "string"
          },
          "daily_budget": {
            "type": "string"
          },
          "lifetime_budget": {
            "type": "string"
          },
          "start_time": {
            "type": "string"
          },
          "stop_time": {
            "type": "string"
          },
          "created_time": {
            "type": "string"
          },
          "updated_time": {
            "type": "string"
          },
          "effective_status": {
            "type": "string"
          },
          "special_ad_categories": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "AdSet": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "campaign_id": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "daily_budget": {
            "type": "string"
          },
          "lifetime_budget": {
            "type": "string"
          },
          "bid_amount": {
            "type": "integer"
          },
          "billing_event": {
            "type": "string"
          },
          "optimization_goal": {
            "type": "string"
          },
          "targeting": {
            "type": "object"
          },
          "start_time": {
            "type": "string"
          },
          "end_time": {
            "type": "string"
          },
          "created_time": {
            "type": "string"
          },
          "effective_status": {
            "type": "string"
          }
        }
      },
      "Ad": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "adset_id": {
            "type": "string"
          },
          "campaign_id": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "creative": {
            "type": "object"
          },
          "created_time": {
            "type": "string"
          },
          "updated_time": {
            "type": "string"
          },
          "effective_status": {
            "type": "string"
          },
          "tracking_specs": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "AdCreative": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "body": {
            "type": "string"
          },
          "image_url": {
            "type": "string"
          },
          "image_hash": {
            "type": "string"
          },
          "link_url": {
            "type": "string"
          },
          "call_to_action_type": {
            "type": "string"
          },
          "object_story_spec": {
            "type": "object"
          },
          "url_tags": {
            "type": "string"
          }
        }
      },
      "CustomAudience": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "subtype": {
            "type": "string"
          },
          "approximate_count": {
            "type": "integer"
          },
          "data_source": {
            "type": "object"
          },
          "delivery_status": {
            "type": "object"
          },
          "operation_status": {
            "type": "object"
          }
        }
      },
      "AdImage": {
        "type": "object",
        "properties": {
          "hash": {
            "type": "string"
          },
          "url": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "width": {
            "type": "integer"
          },
          "height": {
            "type": "integer"
          },
          "created_time": {
            "type": "string"
          }
        }
      },
      "AdVideo": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "source": {
            "type": "string"
          },
          "picture": {
            "type": "string"
          },
          "length": {
            "type": "number"
          },
          "created_time": {
            "type": "string"
          }
        }
      },
      "InsightResult": {
        "type": "object",
        "properties": {
          "date_start": {
            "type": "string"
          },
          "date_stop": {
            "type": "string"
          },
          "impressions": {
            "type": "string"
          },
          "clicks": {
            "type": "string"
          },
          "spend": {
            "type": "string"
          },
          "reach": {
            "type": "string"
          },
          "frequency": {
            "type": "string"
          },
          "cpc": {
            "type": "string"
          },
          "cpm": {
            "type": "string"
          },
          "ctr": {
            "type": "string"
          },
          "cpp": {
            "type": "string"
          },
          "actions": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "conversions": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "cost_per_action_type": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "AdsPixel": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "code": {
            "type": "string"
          },
          "creation_time": {
            "type": "string"
          },
          "last_fired_time": {
            "type": "string"
          },
          "is_unavailable": {
            "type": "boolean"
          }
        }
      },
      "ProductCatalog": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "product_count": {
            "type": "integer"
          },
          "vertical": {
            "type": "string"
          },
          "business": {
            "type": "object"
          }
        }
      },
      "ProductSet": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "filter": {
            "type": "string"
          },
          "product_count": {
            "type": "integer"
          }
        }
      },
      "ProductFeed": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "product_count": {
            "type": "integer"
          },
          "schedule": {
            "type": "object"
          },
          "update_schedule": {
            "type": "object"
          }
        }
      },
      "BusinessUser": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "role": {
            "type": "string"
          },
          "business": {
            "type": "object"
          }
        }
      },
      "ReachEstimate": {
        "type": "object",
        "properties": {
          "users": {
            "type": "integer"
          },
          "bid_estimations": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "TargetingSearch": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "audience_size": {
            "type": "integer"
          },
          "path": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "AdRule": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "evaluation_spec": {
            "type": "object"
          },
          "execution_spec": {
            "type": "object"
          },
          "schedule_spec": {
            "type": "object"
          }
        }
      },
      "OfflineConversionDataSet": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "event_stats": {
            "type": "string"
          },
          "is_mta_use": {
            "type": "boolean"
          }
        }
      },
      "AdLabel": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "created_time": {
            "type": "string"
          },
          "updated_time": {
            "type": "string"
          }
        }
      },
      "AdAccountListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AdAccount"
            }
          },
          "paging": {
            "$ref": "#/components/schemas/Paging"
          }
        }
      },
      "CampaignListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Campaign"
            }
          },
          "paging": {
            "$ref": "#/components/schemas/Paging"
          }
        }
      },
      "AdSetListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AdSet"
            }
          },
          "paging": {
            "$ref": "#/components/schemas/Paging"
          }
        }
      },
      "AdListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Ad"
            }
          },
          "paging": {
            "$ref": "#/components/schemas/Paging"
          }
        }
      },
      "AdCreativeListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AdCreative"
            }
          },
          "paging": {
            "$ref": "#/components/schemas/Paging"
          }
        }
      },
      "CustomAudienceListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CustomAudience"
            }
          },
          "paging": {
            "$ref": "#/components/schemas/Paging"
          }
        }
      },
      "AdImageListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AdImage"
            }
          },
          "paging": {
            "$ref": "#/components/schemas/Paging"
          }
        }
      },
      "AdVideoListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AdVideo"
            }
          },
          "paging": {
[...]
