{
  "openapi": "3.0.3",
  "info": {
    "title": "Orbii API - Rewaa",
    "version": "1.0.4",
    "description": "API for Rewaa.\n",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/orbii.ai/orbii-api-Rewaa/1.0.4"
  },
  "servers": [
    {
      "url": "https://api.rewaa.orbii.ai/"
    }
  ],
  "paths": {
    "/": {
      "get": {
        "summary": "Health/Welcome",
        "operationId": "home",
        "responses": {
          "200": {
            "description": "Welcome text",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "example": "Welcome to Orbii API - Rewaa!"
                }
              }
            }
          }
        }
      }
    },
    "/Rewaa_Baseline_Eligibility_Raw": {
      "get": {
        "summary": "Baseline Eligibility (raw)",
        "operationId": "getRewaaBaselineEligibilityRaw",
        "parameters": [
          {
            "$ref": "#/components/parameters/UserQ"
          },
          {
            "$ref": "#/components/parameters/PasswordQ"
          },
          {
            "$ref": "#/components/parameters/PageQ"
          },
          {
            "$ref": "#/components/parameters/PageSizeQ"
          },
          {
            "in": "query",
            "name": "schema_name",
            "schema": {
              "type": "string"
            },
            "description": "Optional exact filter by schema_name"
          }
        ],
        "responses": {
          "200": {
            "description": "Paged baseline eligibility results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedBaselineEligibility"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/Rewaa_Business_Stability_And_Risk_Raw": {
      "get": {
        "summary": "Business Stability & Risk (raw)",
        "operationId": "getRewaaBusinessStabilityAndRiskRaw",
        "parameters": [
          {
            "$ref": "#/components/parameters/UserQ"
          },
          {
            "$ref": "#/components/parameters/PasswordQ"
          },
          {
            "$ref": "#/components/parameters/PageQ"
          },
          {
            "$ref": "#/components/parameters/PageSizeQ"
          },
          {
            "in": "query",
            "name": "schema_name",
            "schema": {
              "type": "string"
            },
            "description": "Optional exact filter by schema_name"
          }
        ],
        "responses": {
          "200": {
            "description": "Paged business stability & risk results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedBusinessStabilityRisk"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/Rewaa_Industry_And_Seasonal_Trends_Raw": {
      "get": {
        "summary": "Industry & Seasonal Trends (raw)",
        "operationId": "getRewaaIndustryAndSeasonalTrendsRaw",
        "parameters": [
          {
            "$ref": "#/components/parameters/UserQ"
          },
          {
            "$ref": "#/components/parameters/PasswordQ"
          },
          {
            "$ref": "#/components/parameters/PageQ"
          },
          {
            "$ref": "#/components/parameters/PageSizeQ"
          },
          {
            "in": "query",
            "name": "schema_name",
            "schema": {
              "type": "string"
            },
            "description": "Optional exact filter by schema_name"
          }
        ],
        "responses": {
          "200": {
            "description": "Paged industry & seasonal trends results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedIndustrySeasonal"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/Rewaa_Payment_Processing_And_Liquidity_Raw": {
      "get": {
        "summary": "Payment Processing & Liquidity (raw)",
        "operationId": "getRewaaPaymentProcessingAndLiquidityRaw",
        "parameters": [
          {
            "$ref": "#/components/parameters/UserQ"
          },
          {
            "$ref": "#/components/parameters/PasswordQ"
          },
          {
            "$ref": "#/components/parameters/PageQ"
          },
          {
            "$ref": "#/components/parameters/PageSizeQ"
          },
          {
            "in": "query",
            "name": "schema_name",
            "schema": {
              "type": "string"
            },
            "description": "Optional exact filter by schema_name"
          }
        ],
        "responses": {
          "200": {
            "description": "Paged payment processing & liquidity results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedPaymentLiquidity"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/Rewaa_Revenue_And_Sales_Performance_Raw": {
      "get": {
        "summary": "Revenue & Sales Performance (raw)",
        "operationId": "getRewaaRevenueAndSalesPerformanceRaw",
        "parameters": [
          {
            "$ref": "#/components/parameters/UserQ"
          },
          {
            "$ref": "#/components/parameters/PasswordQ"
          },
          {
            "$ref": "#/components/parameters/PageQ"
          },
          {
            "$ref": "#/components/parameters/PageSizeQ"
          },
          {
            "in": "query",
            "name": "schema_name",
            "schema": {
              "type": "string"
            },
            "description": "Optional exact filter by schema_name"
          }
        ],
        "responses": {
          "200": {
            "description": "Paged revenue & sales performance results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedRevenueSales"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/Rewaa_KPI_Rules": {
      "get": {
        "summary": "KPI Rules",
        "operationId": "getRewaaKpiRules",
        "parameters": [
          {
            "$ref": "#/components/parameters/UserQ"
          },
          {
            "$ref": "#/components/parameters/PasswordQ"
          },
          {
            "$ref": "#/components/parameters/PageQ"
          },
          {
            "$ref": "#/components/parameters/PageSizeQ"
          },
          {
            "in": "query",
            "name": "category",
            "schema": {
              "type": "string"
            },
            "description": "Optional exact filter by Category"
          },
          {
            "in": "query",
            "name": "kpi",
            "schema": {
              "type": "string"
            },
            "description": "Optional exact filter by KPI"
          }
        ],
        "responses": {
          "200": {
            "description": "Paged KPI rules",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedKpiRules"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/Rewaa_Risk_Assessment": {
      "get": {
        "summary": "Risk Assessment data",
        "operationId": "getRewaaRiskAssessment",
        "parameters": [
          {
            "$ref": "#/components/parameters/UserQ"
          },
          {
            "$ref": "#/components/parameters/PasswordQ"
          },
          {
            "$ref": "#/components/parameters/PageQ"
          },
          {
            "$ref": "#/components/parameters/PageSizeQ"
          },
          {
            "in": "query",
            "name": "schema_name",
            "schema": {
              "type": "string"
            },
            "description": "Optional exact filter by schema_name"
          },
          {
            "in": "query",
            "name": "category",
            "schema": {
              "type": "string"
            },
            "description": "Optional exact filter by Category"
          },
          {
            "in": "query",
            "name": "kpi",
            "schema": {
              "type": "string"
            },
            "description": "Optional exact filter by KPI"
          },
          {
            "in": "query",
            "name": "rule",
            "schema": {
              "type": "string"
            },
            "description": "Optional exact filter by Rule"
          }
        ],
        "responses": {
          "200": {
            "description": "Paged risk assessment rows",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedRiskAssessment"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/Rewaa_Final_Band_Classification": {
      "get": {
        "summary": "Final Band Classification",
        "operationId": "getRewaaFinalBandClassification",
        "parameters": [
          {
            "$ref": "#/components/parameters/UserQ"
          },
          {
            "$ref": "#/components/parameters/PasswordQ"
          },
          {
            "$ref": "#/components/parameters/PageQ"
          },
          {
            "$ref": "#/components/parameters/PageSizeQ"
          },
          {
            "in": "query",
            "name": "schema_name",
            "schema": {
              "type": "string"
            },
            "description": "Optional exact filter by schema_name"
          }
        ],
        "responses": {
          "200": {
            "description": "Paged final band classification",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedFinalBand"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/Run_Assessment": {
      "post": {
        "summary": "Trigger assessment pipeline",
        "operationId": "runAssessment",
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "user",
                  "password"
                ],
                "properties": {
                  "user": {
                    "type": "string"
                  },
                  "password": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Pipeline triggered",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Assessment pipeline triggered successfully"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "500": {
            "description": "Pipeline trigger failed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "response_text": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/Rewaa_Loan_Amounts": {
      "get": {
        "summary": "Loan Amounts",
        "operationId": "getRewaaLoanAmounts",
        "parameters": [
          {
            "$ref": "#/components/parameters/UserQ"
          },
          {
            "$ref": "#/components/parameters/PasswordQ"
          },
          {
            "$ref": "#/components/parameters/PageQ"
          },
          {
            "$ref": "#/components/parameters/PageSizeQ"
          },
          {
            "in": "query",
            "name": "schema_name",
            "schema": {
              "type": "string"
            },
            "description": "Optional exact filter by schema_name"
          }
        ],
        "responses": {
          "200": {
            "description": "Paged loan amounts",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedLoanAmounts"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "post": {
        "summary": "Rebuild Loan Amounts and return a paged page",
        "operationId": "rebuildRewaaLoanAmounts",
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "user",
                  "password"
                ],
                "properties": {
                  "user": {
                    "type": "string"
                  },
                  "password": {
                    "type": "string"
                  },
                  "page": {
                    "type": "integer",
                    "minimum": 1,
                    "default": 1
                  },
                  "page_size": {
                    "type": "integer",
                    "minimum": 1,
                    "default": 1000
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Paged loan amounts after rebuild",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedLoanAmounts"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/zipped-csv-upload": {
      "post": {
        "summary": "Upload ZIP file(s) to secure storage",
        "description": "Accepts one or more `.zip` files and uploads each ZIP.\n",
        "operationId": "zippedCsvUpload",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "files"
                ],
                "properties": {
                  "files": {
                    "type": "array",
                    "description": "One or more `.zip` files to upload (each stored as-is)",
                    "items": {
                      "type": "string",
                      "format": "binary"
                    }
                  }
                }
              },
              "encoding": {
                "files": {
                  "contentType": "application/zip"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "ZIP file(s) uploaded successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "ZIP file(s) uploaded successfully."
                    },
                    "container": {
                      "type": "string",
                      "example": "rewaa"
                    },
                    "uploaded_files": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "example": [
                        "merchant_payment_transactions.zip",
                        "merchant_sales_transactions.zip"
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request (no files, invalid ZIP, wrong extension)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Server error (container creation or upload failure)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/UpdateKpiRules": {
      "post": {
        "summary": "Update a KPI rule threshold",
        "description": "Uupdates a KPI rule's threshold.\n",
        "operationId": "updateKpiRules",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "user": {
                    "type": "string",
                    "description": "Database username (optional; defaults to env `DB_USER`)"
                  },
                  "password": {
                    "type": "string",
                    "format": "password",
                    "description": "Database password (optional; defaults to env `DB_PASSWORD`)"
                  },
                  "category": {
                    "type": "string",
                    "description": "KPI category to update"
                  },
                  "rule": {
                    "type": "string",
                    "description": "Rule name within the category"
                  },
                  "new_threshold": {
                    "type": "string",
                    "description": "New threshold value (sent as string; converted by stored procedure)"
                  }
                },
                "required": [
                  "category",
                  "rule",
                  "new_threshold"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "KPI rule updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "KPI rule updated successfully"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Missing credentials or required form fields",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "missingField": {
                    "value": {
                      "error": "Missing 'category', 'rule', or 'new_threshold' in form data"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Database or server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "dbError": {
                    "value": {
                      "error": "('42000', '[Microsoft][ODBC Driver 17 for SQL Server] ...')"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "parameters": {
      "UserQ": {
        "in": "query",
        "name": "user",
        "required": true,
        "schema": {
          "type": "string"
        },
        "description": "Database username (also used to derive container for some endpoints)"
      },
      "PasswordQ": {
        "in": "query",
        "name": "password",
        "required": true,
        "schema": {
          "type": "string"
        },
        "description": "Database password"
      },
      "PageQ": {
        "in": "query",
        "name": "page",
        "required": false,
        "schema": {
          "type": "integer",
          "minimum": 1,
          "default": 1
        },
        "description": "1-based page index"
      },
      "PageSizeQ": {
        "in": "query",
        "name": "page_size",
        "required": false,
        "schema": {
          "type": "integer",
          "minimum": 1,
          "default": 1000
        },
        "description": "Page size"
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Bad request (missing/invalid parameters)",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "InternalError": {
        "description": "Unexpected server error",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          }
        },
        "example": {
          "error": "Missing 'user' or 'password' query parameters"
        }
      },
      "PageEnvelope": {
        "type": "object",
        "properties": {
          "total_records": {
            "type": "integer"
          },
          "total_pages": {
            "type": "integer"
          },
          "current_page": {
            "type": "integer"
          },
          "page_size": {
            "type": "integer"
          },
          "data": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "BaselineEligibilityRow": {
        "type": "object",
        "properties": {
          "schema_name": {
            "type": "string"
          },
          "Annual_Revenue_SAR_Last_12": {
            "type": "number",
            "format": "double"
          },
          "Business_Age_Months": {
            "type": "number",
            "format": "double"
          },
          "Largest_Daily_Revenue_Share_Percentage": {
            "type": "number",
            "format": "double"
          },
          "Worst_Monthly_Revenue_Drop_Percentage": {
            "type": "number",
            "format": "double"
          },
          "Active_Months_Last_12": {
            "type": "number",
            "format": "double"
          },
          "Inactivity_Max_Days": {
            "type": "number",
            "format": "double"
          },
          "Inactivity_Period_Count": {
            "type": "number",
            "format": "double"
          }
        }
      },
      "BusinessStabilityRiskRow": {
        "type": "object",
        "properties": {
          "schema_name": {
            "type": "string"
          },
          "Revenue_Variability_Percentage": {
            "type": "number",
            "format": "double"
          },
          "Peak_Day_Stability_Ratio": {
            "type": "number",
            "format": "double"
          },
          "Industry_Name": {
            "type": "string"
          },
          "Revenue_Industry_Comparison_Percentage": {
            "type": "number",
            "format": "double"
          },
          "Seasonal_Revenue_Risk_Percentage": {
            "type": "number",
            "format": "double"
          },
          "Branch_Count": {
            "type": "number",
            "format": "double"
          },
          "Business_Age_Years": {
            "type": "number",
            "format": "double"
          },
          "Forecasted_Growth_Percentage": {
            "type": "number",
            "format": "double"
          }
        }
      },
      "IndustrySeasonalRow": {
        "type": "object",
        "properties": {
          "schema_name": {
            "type": "string"
          },
          "Industry_Name": {
            "type": "string"
          },
          "Industry_Stability_Score": {
            "type": "number",
            "format": "double"
          },
          "Business_Avg_Monthly_Revenue_SAR": {
            "type": "number",
            "format": "double"
          },
          "Industry_Avg_Monthly_Revenue_SAR": {
            "type": "number",
            "format": "double"
          },
          "Revenue_vs_Industry_Percentage": {
            "type": "number",
            "format": "double"
          },
          "Revenue_Variability_Percentage": {
            "type": "number",
            "format": "double"
          },
          "Active_Months_Count": {
            "type": "number",
            "format": "double"
          },
          "Total_Branches": {
            "type": "number",
            "format": "double"
          },
          "Avg_Branches_in_Industry": {
            "type": "number",
            "format": "double"
          },
          "Branches_vs_Industry_Percentage": {
            "type": "number",
            "format": "double"
          },
          "Active_Months_Last_12": {
            "type": "number",
            "format": "double"
          },
          "Coverage_12M": {
            "type": "number",
            "format": "double"
          },
          "Data_Quality_12M": {
            "type": "number",
            "format": "double"
          }
        }
      },
      "PaymentLiquidityRow": {
        "type": "object",
        "properties": {
          "schema_name": {
            "type": "string"
          },
          "Total_Transactions": {
            "type": "number",
            "format": "double"
          },
          "Card_Transactions": {
            "type": "number",
            "format": "double"
          },
          "Card_Transaction_Ratio_Percentage": {
            "type": "number",
            "format": "double"
          },
          "Transfer_Transactions": {
            "type": "number",
            "format": "double"
          },
          "Transfer_Transaction_Ratio_Percentage": {
            "type": "number",
            "format": "double"
          },
          "Cash_Transactions": {
            "type": "number",
            "format": "double"
          },
          "Cash_Transaction_Ratio_Percentage": {
            "type": "number",
            "format": "double"
          },
          "CustomerDebit_Transactions": {
            "type": "number",
            "format": "double"
          },
          "CustomerDebit_Transaction_Ratio_Percentage": {
            "type": "number",
            "format": "double"
          },
          "Total_Active_Days": {
            "type": "number",
            "format": "double"
          },
          "Transactions_Per_Day": {
            "type": "number",
            "format": "double"
          }
        }
      },
      "RevenueSalesRow": {
        "type": "object",
        "properties": {
          "schema_name": {
            "type": "string"
          },
          "Total_Revenue_SAR": {
            "type": "number",
            "format": "double"
          },
          "Avg_Monthly_Quantity_Sold": {
            "type": "number",
            "format": "double"
          },
          "YoY_Growth_Percentage": {
            "type": "number",
            "format": "double"
          },
          "Revenue_Variability_Percentage": {
            "type": "number",
            "format": "double"
          },
          "Positive_Growth_Percentage": {
            "type": "number",
            "format": "double"
          },
          "Avg_Sold_Per_Day": {
            "type": "number",
            "format": "double"
          },
          "Seasonal_Spike_Percentage": {
            "type": "number",
            "format": "double"
          },
          "Monthly_Positive_Trend_Percentage": {
            "type": "number",
            "format": "double"
          },
          "Card_Transaction_Ratio_Percentage": {
            "type": "number",
            "format": "double"
          },
          "Transfer_Transaction_Ratio_Percentage": {
            "type": "number",
            "format": "double"
          },
          "Revenue_Regularity_Percentage": {
            "type": "number",
            "format": "double"
          },
          "Revenue_Stability_Percentage": {
            "type": "number",
            "format": "double"
          },
          "Daily_Sales_Stability_Percentage": {
            "type": "number",
            "format": "double"
          },
          "Unique_Payment_Methods_Count": {
            "type": "number",
            "format": "double"
          },
          "Forecasted_Sales_Growth_Percentage": {
            "type": "number",
            "format": "double"
          },
          "Active_Months_Last_12": {
            "type": "number",
            "format": "double"
          }
        }
      },
      "KpiRuleRow": {
        "type": "object",
        "properties": {
          "Category": {
            "type": "string"
          },
          "KPI": {
            "type": "string"
          },
          "Rule": {
            "type": "string"
          },
          "Weightage": {
            "type": "number",
            "format": "double"
          },
          "Threshold": {
            "type": "number",
            "format": "double"
          },
          "Operator": {
            "type": "string"
          },
          "Logic": {
            "type": "string"
          },
          "RiskLowMessage": {
            "type": "string"
          },
          "RiskHighMessage": {
            "type": "string"
          }
        }
      },
      "RiskAssessmentRow": {
        "type": "object",
        "properties": {
          "schema_name": {
            "type": "string"
          },
          "Category": {
            "type": "string"
          },
          "KPI": {
            "type": "string"
          },
          "Rule": {
            "type": "string"
          },
          "Operator": {
            "type": "string"
          },
          "Threshold": {
            "type": "number",
            "format": "double"
          },
          "Weightage": {
            "type": "number",
            "format": "double"
          },
          "Value": {
            "type": "number",
            "format": "double"
          },
          "Passed": {
            "type": "boolean"
          },
          "Assessment": {
            "type": "string"
          },
          "RiskLowMessage": {
            "type": "string"
          },
          "RiskHighMessage": {
            "type": "string"
          },
          "Score": {
            "type": "number",
            "format": "double"
          },
          "Assessed_At": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "FinalBandRow": {
        "type": "object",
        "properties": {
          "schema_name": {
            "type": "string"
          },
          "Baseline_Eligibility_Score": {
            "type": "number",
            "format": "double"
          },
          "Business_Stability_and_Risk_Score": {
            "type": "number",
            "format": "double"
          },
          "Industry_and_Seasonal_Trends_Score": {
            "type": "number",
            "format": "double"
          },
          "Payment_Processing_and_Liquidity_Score": {
            "type": "number",
            "format": "double"
          },
          "Revenue_and_Sales_Performance_Score": {
            "type": "number",
            "format": "double"
          },
          "Baseline_Eligibility_Score_Value": {
            "type": "number",
            "format": "double"
          },
          "Business_Stability_and_Risk_Score_Value": {
            "type": "number",
            "format": "double"
          },
          "Industry_and_Seasonal_Trends_Score_Value": {
            "type": "number",
            "format": "double"
          },
          "Payment_Processing_and_Liquidity_Score_Value": {
            "type": "number",
            "format": "double"
          },
          "Revenue_and_Sales_Performance_Score_Value": {
            "type": "number",
            "format": "double"
          },
          "Total_Score": {
            "type": "number",
            "format": "double"
          },
          "Band": {
            "type": "string"
          }
        }
      },
      "LoanAmountsRow": {
        "type": "object",
        "properties": {
          "schema_name": {
            "type": "string"
          },
          "Band": {
            "type": "string"
          },
          "Annual_Revenue_SAR_Last_12": {
            "type": "number",
            "format": "double"
          },
          "Max_Loan_Amount_SAR": {
            "type": "number",
            "format": "double"
          },
          "Daily_Payment_6m_SAR": {
            "type": "number",
            "format": "double"
          },
          "Daily_Payment_12m_SAR": {
            "type": "number",
            "format": "double"
          },
          "Daily_Payment_24m_SAR": {
            "type": "number",
            "format": "double"
          }
        }
      },
      "PagedBaselineEligibility": {
        "allOf": [
          {
            "$ref": "#/components/schemas/PageEnvelope"
          },
          {
            "type": "object",
            "properties": {
              "data": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/BaselineEligibilityRow"
                }
              }
            }
          }
        ]
      },
      "PagedBusinessStabilityRisk": {
        "allOf": [
          {
            "$ref": "#/components/schemas/PageEnvelope"
          },
          {
            "type": "object",
            "properties": {
              "data": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/BusinessStabilityRiskRow"
                }
              }
            }
          }
        ]
      },
      "PagedIndustrySeasonal": {
        "allOf": [
          {
            "$ref": "#/components/schemas/PageEnvelope"
          },
          {
            "type": "object",
            "properties": {
              "data": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/IndustrySeasonalRow"
                }
              }
            }
          }
        ]
      },
      "PagedPaymentLiquidity": {
        "allOf": [
          {
            "$ref": "#/components/schemas/PageEnvelope"
          },
          {
            "type": "object",
            "properties": {
              "data": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/PaymentLiquidityRow"
                }
              }
            }
          }
        ]
      },
      "PagedRevenueSales": {
        "allOf": [
          {
            "$ref": "#/components/schemas/PageEnvelope"
          },
          {
            "type": "object",
            "properties": {
              "data": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/RevenueSalesRow"
                }
              }
            }
          }
        ]
      },
      "PagedKpiRules": {
        "allOf": [
          {
            "$ref": "#/components/schemas/PageEnvelope"
          },
          {
            "type": "object",
            "properties": {
              "data": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/KpiRuleRow"
                }
              }
            }
          }
        ]
      },
      "PagedRiskAssessment": {
        "allOf": [
          {
            "$ref": "#/components/schemas/PageEnvelope"
          },
          {
            "type": "object",
            "properties": {
              "data": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/RiskAssessmentRow"
                }
              }
            }
          }
        ]
      },
      "PagedFinalBand": {
        "allOf": [
          {
            "$ref": "#/components/schemas/PageEnvelope"
          },
          {
            "type": "object",
            "properties": {
              "data": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/FinalBandRow"
                }
              }
            }
          }
        ]
      },
      "PagedLoanAmounts": {
        "allOf": [
          {
            "$ref": "#/components/schemas/PageEnvelope"
          },
          {
            "type": "object",
            "properties": {
              "data": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/LoanAmountsRow"
                }
              }
            }
          }
        ]
      }
    }
  }
}