{
  "swagger": "2.0",
  "info": {
    "description": "This is a simple API documentation for spook.bio",
    "version": "v1",
    "title": "spook.bio API",
    "contact": {
      "url": "https://shapes.lol/discord"
    },
    "termsOfService": "https://spook.bio/tos",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/spookyinc/spook.bio-API/v1"
  },
  "host": "spook.bio",
  "basePath": "/api",
  "tags": [
    {
      "name": "Information"
    }
  ],
  "schemes": [
    "https"
  ],
  "paths": {
    "/profiles": {
      "get": {
        "tags": [
          "Information"
        ],
        "summary": "Returns the profile of a user from their discord userID",
        "operationId": "Discord2Spook",
        "description": "",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "discordId",
            "description": "enter a discord userID to receive their profile info",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Profile info/data",
            "schema": {
              "type": "array",
              "items": {}
            },
            "examples": {
              "application/json": null
            }
          },
          "404": {
            "description": "Profile not found or invalid UserID",
            "schema": {
              "type": "array",
              "items": {}
            },
            "examples": {
              "application/json": {
                "error": "Profile not found"
              }
            }
          }
        }
      }
    }
  }
}