{
  "openapi": "3.0.3",
  "info": {
    "title": "GreyNoise API",
    "version": "3",
    "description": "GreyNoise Intelligence API for querying internet-wide scan and attack data. Provides IP context, noise classification, RIOT (Rule It OuT) lookups, and GNQL (GreyNoise Query Language) search.",
    "x-jentic-source-url": "https://docs.greynoise.io/reference",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://api.greynoise.io"
    }
  ],
  "tags": [
    {
      "name": "Community",
      "description": "Free Community API endpoints"
    },
    {
      "name": "IP Lookup",
      "description": "IP context and noise lookup"
    },
    {
      "name": "GNQL",
      "description": "GreyNoise Query Language search"
    },
    {
      "name": "RIOT",
      "description": "Rule It OuT - common business service detection"
    },
    {
      "name": "Metadata",
      "description": "API metadata and tag information"
    }
  ],
  "paths": {
    "/v3/community/{ip}": {
      "get": {
        "operationId": "getCommunityIP",
        "summary": "Community API - IP Lookup",
        "description": "Look up an IP address in the GreyNoise Community dataset. Returns noise status, classification, and basic context. Free tier, rate limited.",
        "tags": [
          "Community"
        ],
        "parameters": [
          {
            "name": "ip",
            "in": "path",
            "required": true,
            "description": "IP address to query",
            "schema": {
              "type": "string",
              "format": "ipv4"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "IP context",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommunityIPResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid IP",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "IP not found in dataset"
          }
        }
      }
    },
    "/v3/noise/ips/{ip}": {
      "get": {
        "operationId": "getIPContext",
        "summary": "IP Context - Full lookup",
        "description": "Get full context for an IP address including classification, tags, metadata, CVEs, and raw scan data. Enterprise tier.",
        "tags": [
          "IP Lookup"
        ],
        "parameters": [
          {
            "name": "ip",
            "in": "path",
            "required": true,
            "description": "IP address to query",
            "schema": {
              "type": "string",
              "format": "ipv4"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Full IP context",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IPContextResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "IP not observed"
          }
        }
      }
    },
    "/v3/noise/quick/{ip}": {
      "get": {
        "operationId": "getQuickIPCheck",
        "summary": "Quick IP Check",
        "description": "Quickly check if an IP is in the GreyNoise dataset. Returns minimal data for fast lookups.",
        "tags": [
          "IP Lookup"
        ],
        "parameters": [
          {
            "name": "ip",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "ipv4"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Quick check result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QuickCheckResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v3/noise/multi/quick": {
      "post": {
        "operationId": "getMultiQuickIPCheck",
        "summary": "Multi Quick IP Check",
        "description": "Check multiple IPs at once. Max 1000 IPs per request.",
        "tags": [
          "IP Lookup"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "ips"
                ],
                "properties": {
                  "ips": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "ipv4"
                    },
                    "maxItems": 1000
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Multi check results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/QuickCheckResponse"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v3/noise/multi/context": {
      "post": {
        "operationId": "getMultiIPContext",
        "summary": "Multi IP Context",
        "description": "Get full context for multiple IPs at once.",
        "tags": [
          "IP Lookup"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "ips"
                ],
                "properties": {
                  "ips": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "ipv4"
                    },
                    "maxItems": 1000
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Multi context results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/IPContextResponse"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v3/noise/gnql": {
      "get": {
        "operationId": "gnqlQuery",
        "summary": "GNQL Query",
        "description": "Search the GreyNoise dataset using GNQL (GreyNoise Query Language). Supports filtering by classification, tags, metadata, ports, protocols, and more.",
        "tags": [
          "GNQL"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "description": "GNQL query string (e.g., 'classification:malicious tags:\"Mirai\"')",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "description": "Number of results per page",
            "schema": {
              "type": "integer",
              "default": 10,
              "maximum": 10000
            }
          },
          {
            "name": "scroll",
            "in": "query",
            "required": false,
            "description": "Scroll token for pagination",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "GNQL query results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GNQLResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid GNQL syntax",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v3/noise/gnql/stats": {
      "get": {
        "operationId": "gnqlStats",
        "summary": "GNQL Stats",
        "description": "Get aggregate statistics for a GNQL query without returning individual results.",
        "tags": [
          "GNQL"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "description": "GNQL query string",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "count",
            "in": "query",
            "required": false,
            "description": "Number of top items per stat",
            "schema": {
              "type": "integer",
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "GNQL stats",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GNQLStatsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v3/riot/{ip}": {
      "get": {
        "operationId": "getRIOT",
        "summary": "RIOT - Check IP",
        "description": "Check if an IP belongs to a known benign service (e.g., Google, AWS, Microsoft). RIOT (Rule It OuT) helps reduce false positives.",
        "tags": [
          "RIOT"
        ],
        "parameters": [
          {
            "name": "ip",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "ipv4"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "RIOT result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RIOTResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v3/meta/tags": {
      "get": {
        "operationId": "listTags",
        "summary": "List all tags",
        "description": "Get all available GreyNoise tags and their descriptions.",
        "tags": [
          "Metadata"
        ],
        "responses": {
          "200": {
            "description": "Tag list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TagListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v3/meta/metadata": {
      "get": {
        "operationId": "getMetadata",
        "summary": "Get dataset metadata",
        "description": "Get metadata about the current GreyNoise dataset including counts and last updated timestamps.",
        "tags": [
          "Metadata"
        ],
        "responses": {
          "200": {
            "description": "Dataset metadata",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DatasetMetadata"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "CommunityIPResponse": {
        "type": "object",
        "properties": {
          "ip": {
            "type": "string"
          },
          "noise": {
            "type": "boolean",
            "description": "Whether the IP is observed scanning the internet"
          },
          "riot": {
            "type": "boolean",
            "description": "Whether the IP belongs to a known benign service"
          },
          "classification": {
            "type": "string",
            "enum": [
              "benign",
              "malicious",
              "unknown"
            ]
          },
          "name": {
            "type": "string"
          },
          "link": {
            "type": "string"
          },
          "last_seen": {
            "type": "string",
            "format": "date"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "IPContextResponse": {
        "type": "object",
        "properties": {
          "ip": {
            "type": "string"
          },
          "seen": {
            "type": "boolean"
          },
          "classification": {
            "type": "string",
            "enum": [
              "benign",
              "malicious",
              "unknown"
            ]
          },
          "first_seen": {
            "type": "string",
            "format": "date"
          },
          "last_seen": {
            "type": "string",
            "format": "date"
          },
          "actor": {
            "type": "string"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "cve": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "spoofable": {
            "type": "boolean"
          },
          "bot": {
            "type": "boolean"
          },
          "vpn": {
            "type": "boolean"
          },
          "vpn_service": {
            "type": "string"
          },
          "metadata": {
            "$ref": "#/components/schemas/IPMetadata"
          },
          "raw_data": {
            "$ref": "#/components/schemas/RawData"
          }
        }
      },
      "IPMetadata": {
        "type": "object",
        "properties": {
          "asn": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "country": {
            "type": "string"
          },
          "country_code": {
            "type": "string"
          },
          "organization": {
            "type": "string"
          },
          "category": {
            "type": "string"
          },
          "os": {
            "type": "string"
          },
          "rdns": {
            "type": "string"
          },
          "region": {
            "type": "string"
          },
          "tor": {
            "type": "boolean"
          }
        }
      },
      "RawData": {
        "type": "object",
        "properties": {
          "scan": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "port": {
                  "type": "integer"
                },
                "protocol": {
                  "type": "string",
                  "enum": [
                    "TCP",
                    "UDP"
                  ]
                }
              }
            }
          },
          "web": {
            "type": "object",
            "properties": {
              "paths": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "useragents": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          },
          "ja3": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "fingerprint": {
                  "type": "string"
                },
                "port": {
                  "type": "integer"
                }
              }
            }
          },
          "hassh": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "fingerprint": {
                  "type": "string"
                },
                "port": {
                  "type": "integer"
                }
              }
            }
          }
        }
      },
      "QuickCheckResponse": {
        "type": "object",
        "properties": {
          "ip": {
            "type": "string"
          },
          "noise": {
            "type": "boolean"
          },
          "riot": {
            "type": "boolean"
          },
          "code": {
            "type": "string",
            "description": "Result code (0x00-0x09)"
          }
        }
      },
      "GNQLResponse": {
        "type": "object",
        "properties": {
          "complete": {
            "type": "boolean"
          },
          "count": {
            "type": "integer"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IPContextResponse"
            }
          },
          "message": {
            "type": "string"
          },
          "query": {
            "type": "string"
          },
          "scroll": {
            "type": "string"
          }
        }
      },
      "GNQLStatsResponse": {
        "type": "object",
        "properties": {
          "query": {
            "type": "string"
          },
          "count": {
            "type": "integer"
          },
          "stats": {
            "type": "object",
            "properties": {
              "classifications": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/StatBucket"
                }
              },
              "organizations": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/StatBucket"
                }
              },
              "actors": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/StatBucket"
                }
              },
              "countries": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/StatBucket"
                }
              },
              "tags": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/StatBucket"
                }
              },
              "operating_systems": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/StatBucket"
                }
              },
              "categories": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/StatBucket"
                }
              },
              "asns": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/StatBucket"
                }
              }
            }
          }
        }
      },
      "StatBucket": {
        "type": "object",
        "properties": {
          "key": {
            "type": "string"
          },
          "count": {
            "type": "integer"
          }
        }
      },
      "RIOTResponse": {
        "type": "object",
        "properties": {
          "ip": {
            "type": "string"
          },
          "riot": {
            "type": "boolean"
          },
          "category": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "explanation": {
            "type": "string"
          },
          "last_updated": {
            "type": "string",
            "format": "date"
          },
          "reference": {
            "type": "string"
          },
          "trust_level": {
            "type": "string",
            "enum": [
              "1",
              "2"
            ]
          }
        }
      },
      "TagListResponse": {
        "type": "object",
        "properties": {
          "metadata": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "label": {
                  "type": "string"
                },
                "slug": {
                  "type": "string"
                },
                "description": {
                  "type": "string"
                },
                "category": {
                  "type": "string"
                },
                "intention": {
                  "type": "string",
                  "enum": [
                    "benign",
                    "malicious",
                    "unknown"
                  ]
                },
                "cves": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      },
      "DatasetMetadata": {
        "type": "object",
        "properties": {
          "noise_count": {
            "type": "integer"
          },
          "riot_count": {
            "type": "integer"
          },
          "last_updated": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          },
          "error": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "ApiKeyHeader": {
        "type": "apiKey",
        "in": "header",
        "name": "key",
        "description": "GreyNoise API key passed in the 'key' header"
      }
    }
  },
  "security": [
    {
      "ApiKeyHeader": []
    }
  ]
}
