{
  "openapi": "3.0.3",
  "info": {
    "title": "Forecast API",
    "version": "1.0.0",
    "description": "Spécification OpenAPI (3.0.3) basée sur le schéma JSON fourni.\nEndpoint ajouté: GET /v1/forecast\n",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/previmeteo/forecast-api/1.0.0"
  },
  "servers": [
    {
      "url": "https://api.open-meteo.com",
      "description": "Open-Meteo (exemple)"
    }
  ],
  "paths": {
    "/v1/forecast": {
      "get": {
        "summary": "Get forecast (hourly)",
        "description": "Retourne des prévisions météo. Exemple d'appel :\n`/v1/forecast?latitude=52.52&longitude=13.41&hourly=temperature_2m&timezone=Europe/Paris`\n",
        "parameters": [
          {
            "name": "latitude",
            "in": "query",
            "required": true,
            "description": "Latitude (degrés décimaux)",
            "schema": {
              "type": "number",
              "format": "double"
            },
            "example": 52.52
          },
          {
            "name": "longitude",
            "in": "query",
            "required": true,
            "description": "Longitude (degrés décimaux)",
            "schema": {
              "type": "number",
              "format": "double"
            },
            "example": 13.41
          },
          {
            "name": "hourly",
            "in": "query",
            "required": true,
            "description": "Variables horaires demandées (liste séparée par des virgules).",
            "schema": {
              "type": "string"
            },
            "example": "temperature_2m"
          },
          {
            "name": "timezone",
            "in": "query",
            "required": false,
            "description": "Timezone IANA (ex Europe/Paris). Si absent, comportement par défaut du service.",
            "schema": {
              "type": "string"
            },
            "example": "Europe/Paris"
          }
        ],
        "responses": {
          "200": {
            "description": "Réponse OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForecastResponse"
                }
              }
            }
          },
          "400": {
            "description": "Requête invalide (paramètres manquants ou invalides)"
          },
          "500": {
            "description": "Erreur serveur"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ForecastResponse": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "elevation",
          "generationtime_ms",
          "hourly",
          "hourly_units",
          "latitude",
          "longitude",
          "timezone",
          "timezone_abbreviation",
          "utc_offset_seconds"
        ],
        "properties": {
          "latitude": {
            "type": "number"
          },
          "longitude": {
            "type": "number"
          },
          "generationtime_ms": {
            "type": "number"
          },
          "utc_offset_seconds": {
            "type": "integer"
          },
          "timezone": {
            "type": "string"
          },
          "timezone_abbreviation": {
            "type": "string"
          },
          "elevation": {
            "type": "integer"
          },
          "hourly_units": {
            "$ref": "#/components/schemas/HourlyUnits"
          },
          "hourly": {
            "$ref": "#/components/schemas/Hourly"
          }
        }
      },
      "Hourly": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "temperature_2m",
          "time"
        ],
        "properties": {
          "time": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "temperature_2m": {
            "type": "array",
            "items": {
              "type": "number"
            }
          }
        }
      },
      "HourlyUnits": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "temperature_2m",
          "time"
        ],
        "properties": {
          "time": {
            "type": "string"
          },
          "temperature_2m": {
            "type": "string"
          }
        }
      }
    }
  },
  "security": []
}
