{
  "openapi": "3.0.3",
  "info": {
    "title": "Nominatim API",
    "version": "1.0.0",
    "description": "OpenStreetMap Nominatim geocoding service. Provides search (forward geocoding), reverse geocoding, address lookup by OSM ID, and status endpoints. Free to use with no authentication required.",
    "x-jentic-source-url": "https://nominatim.org/release-docs/latest/api/Overview/",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://nominatim.openstreetmap.org"
    }
  ],
  "paths": {
    "/search": {
      "get": {
        "operationId": "searchByQuery",
        "summary": "Forward geocoding search",
        "description": "Search OSM data by name or address. Returns a list of matching places with their coordinates and address details.",
        "tags": [
          "Geocoding"
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "Free-form query string to search for",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "street",
            "in": "query",
            "description": "Street name (structured query)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "city",
            "in": "query",
            "description": "City name (structured query)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "county",
            "in": "query",
            "description": "County name (structured query)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "state",
            "in": "query",
            "description": "State name (structured query)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "country",
            "in": "query",
            "description": "Country name (structured query)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "postalcode",
            "in": "query",
            "description": "Postal code (structured query)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "Output format",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "xml",
                "json",
                "jsonv2",
                "geojson",
                "geocodejson"
              ],
              "default": "jsonv2"
            }
          },
          {
            "name": "addressdetails",
            "in": "query",
            "description": "Include a breakdown of the address into elements (0 or 1)",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [
                0,
                1
              ],
              "default": 0
            }
          },
          {
            "name": "extratags",
            "in": "query",
            "description": "Include additional information if available (0 or 1)",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [
                0,
                1
              ],
              "default": 0
            }
          },
          {
            "name": "namedetails",
            "in": "query",
            "description": "Include a list of alternative names (0 or 1)",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [
                0,
                1
              ],
              "default": 0
            }
          },
          {
            "name": "accept-language",
            "in": "query",
            "description": "Preferred language for results",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "countrycodes",
            "in": "query",
            "description": "Comma-separated list of country codes to restrict results to",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of results (max 50)",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 10,
              "maximum": 50
            }
          },
          {
            "name": "viewbox",
            "in": "query",
            "description": "Preferred area to search in: x1,y1,x2,y2",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "bounded",
            "in": "query",
            "description": "Restrict results to viewbox (0 or 1)",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [
                0,
                1
              ],
              "default": 0
            }
          },
          {
            "name": "polygon_geojson",
            "in": "query",
            "description": "Include GeoJSON polygon geometry (0 or 1)",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [
                0,
                1
              ],
              "default": 0
            }
          },
          {
            "name": "polygon_kml",
            "in": "query",
            "description": "Include KML polygon geometry (0 or 1)",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [
                0,
                1
              ],
              "default": 0
            }
          },
          {
            "name": "polygon_svg",
            "in": "query",
            "description": "Include SVG polygon geometry (0 or 1)",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [
                0,
                1
              ],
              "default": 0
            }
          },
          {
            "name": "polygon_text",
            "in": "query",
            "description": "Include WKT polygon geometry (0 or 1)",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [
                0,
                1
              ],
              "default": 0
            }
          },
          {
            "name": "polygon_threshold",
            "in": "query",
            "description": "Simplification threshold for polygon output",
            "required": false,
            "schema": {
              "type": "number",
              "default": 0.0
            }
          },
          {
            "name": "email",
            "in": "query",
            "description": "Email address for heavy usage (required for bulk queries)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dedupe",
            "in": "query",
            "description": "Remove duplicate results (0 or 1)",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [
                0,
                1
              ],
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful search results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Place"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/reverse": {
      "get": {
        "operationId": "reverseGeocode",
        "summary": "Reverse geocoding",
        "description": "Generate an address from coordinates. Finds the closest suitable OSM object and returns its address information.",
        "tags": [
          "Geocoding"
        ],
        "parameters": [
          {
            "name": "lat",
            "in": "query",
            "description": "Latitude of the coordinate",
            "required": true,
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "lon",
            "in": "query",
            "description": "Longitude of the coordinate",
            "required": true,
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "Output format",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "xml",
                "json",
                "jsonv2",
                "geojson",
                "geocodejson"
              ],
              "default": "jsonv2"
            }
          },
          {
            "name": "addressdetails",
            "in": "query",
            "description": "Include address breakdown (0 or 1)",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [
                0,
                1
              ],
              "default": 1
            }
          },
          {
            "name": "extratags",
            "in": "query",
            "description": "Include additional information (0 or 1)",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [
                0,
                1
              ],
              "default": 0
            }
          },
          {
            "name": "namedetails",
            "in": "query",
            "description": "Include alternative names (0 or 1)",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [
                0,
                1
              ],
              "default": 0
            }
          },
          {
            "name": "accept-language",
            "in": "query",
            "description": "Preferred language for results",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "zoom",
            "in": "query",
            "description": "Level of detail for the address (0-18)",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 18,
              "default": 18
            }
          },
          {
            "name": "email",
            "in": "query",
            "description": "Email address for heavy usage",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful reverse geocoding result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Place"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/lookup": {
      "get": {
        "operationId": "lookupByOsmIds",
        "summary": "Address lookup by OSM IDs",
        "description": "Look up address details for OSM objects by their OSM ID.",
        "tags": [
          "Lookup"
        ],
        "parameters": [
          {
            "name": "osm_ids",
            "in": "query",
            "description": "Comma-separated list of OSM IDs, each prefixed with type (R=relation, W=way, N=node), e.g. R146656,W104393803,N240109189",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "Output format",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "xml",
                "json",
                "jsonv2",
                "geojson",
                "geocodejson"
              ],
              "default": "jsonv2"
            }
          },
          {
            "name": "addressdetails",
            "in": "query",
            "description": "Include address breakdown (0 or 1)",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [
                0,
                1
              ],
              "default": 1
            }
          },
          {
            "name": "extratags",
            "in": "query",
            "description": "Include additional info (0 or 1)",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [
                0,
                1
              ],
              "default": 0
            }
          },
          {
            "name": "namedetails",
            "in": "query",
            "description": "Include alternative names (0 or 1)",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [
                0,
                1
              ],
              "default": 0
            }
          },
          {
            "name": "accept-language",
            "in": "query",
            "description": "Preferred language for results",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "email",
            "in": "query",
            "description": "Email address for heavy usage",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful lookup results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Place"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/status": {
      "get": {
        "operationId": "getStatus",
        "summary": "Server status",
        "description": "Returns the status of the Nominatim server.",
        "tags": [
          "Status"
        ],
        "parameters": [
          {
            "name": "format",
            "in": "query",
            "description": "Output format",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "text",
                "json"
              ],
              "default": "text"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Server status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponse"
                }
              }
            }
          }
        }
      }
    },
    "/details": {
      "get": {
        "operationId": "getPlaceDetails",
        "summary": "Place details",
        "description": "Show all details about a single place saved in the Nominatim database.",
        "tags": [
          "Details"
        ],
        "parameters": [
          {
            "name": "place_id",
            "in": "query",
            "description": "Nominatim internal place ID",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "osmtype",
            "in": "query",
            "description": "OSM type: N, W, or R",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "N",
                "W",
                "R"
              ]
            }
          },
          {
            "name": "osmid",
            "in": "query",
            "description": "OSM ID",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "class",
            "in": "query",
            "description": "OSM tag class",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "addressdetails",
            "in": "query",
            "description": "Include address breakdown (0 or 1)",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [
                0,
                1
              ]
            }
          },
          {
            "name": "keywords",
            "in": "query",
            "description": "Include keyword tokens (0 or 1)",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [
                0,
                1
              ]
            }
          },
          {
            "name": "linkedplaces",
            "in": "query",
            "description": "Include linked places (0 or 1)",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [
                0,
                1
              ],
              "default": 1
            }
          },
          {
            "name": "hierarchy",
            "in": "query",
            "description": "Include full hierarchy (0 or 1)",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [
                0,
                1
              ],
              "default": 0
            }
          },
          {
            "name": "group_hierarchy",
            "in": "query",
            "description": "Group hierarchy by type (0 or 1)",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [
                0,
                1
              ],
              "default": 0
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "Output format",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "html"
              ],
              "default": "json"
            }
          },
          {
            "name": "accept-language",
            "in": "query",
            "description": "Preferred language for results",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Place details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlaceDetails"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Place": {
        "type": "object",
        "properties": {
          "place_id": {
            "type": "integer",
            "description": "Internal Nominatim place ID"
          },
          "licence": {
            "type": "string"
          },
          "osm_type": {
            "type": "string",
            "description": "OSM type (node, way, relation)"
          },
          "osm_id": {
            "type": "integer",
            "description": "OSM ID"
          },
          "lat": {
            "type": "string",
            "description": "Latitude"
          },
          "lon": {
            "type": "string",
            "description": "Longitude"
          },
          "display_name": {
            "type": "string",
            "description": "Full display name"
          },
          "class": {
            "type": "string",
            "description": "OSM class"
          },
          "type": {
            "type": "string",
            "description": "OSM type"
          },
          "importance": {
            "type": "number",
            "description": "Computed importance ranking"
          },
          "address": {
            "$ref": "#/components/schemas/Address"
          },
          "boundingbox": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Bounding box [south, north, west, east]"
          }
        }
      },
      "Address": {
        "type": "object",
        "properties": {
          "house_number": {
            "type": "string"
          },
          "road": {
            "type": "string"
          },
          "suburb": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "county": {
            "type": "string"
          },
          "state": {
            "type": "string"
          },
          "postcode": {
            "type": "string"
          },
          "country": {
            "type": "string"
          },
          "country_code": {
            "type": "string"
          }
        }
      },
      "PlaceDetails": {
        "type": "object",
        "properties": {
          "place_id": {
            "type": "integer"
          },
          "parent_place_id": {
            "type": "integer"
          },
          "osm_type": {
            "type": "string"
          },
          "osm_id": {
            "type": "integer"
          },
          "category": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "admin_level": {
            "type": "integer"
          },
          "localname": {
            "type": "string"
          },
          "names": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "addresstags": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "calculated_importance": {
            "type": "number"
          },
          "rank_address": {
            "type": "integer"
          },
          "rank_search": {
            "type": "integer"
          },
          "centroid": {
            "type": "object",
            "properties": {
              "type": {
                "type": "string"
              },
              "coordinates": {
                "type": "array",
                "items": {
                  "type": "number"
                }
              }
            }
          }
        }
      },
      "StatusResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "integer",
            "description": "0 if OK"
          },
          "message": {
            "type": "string"
          },
          "data_updated": {
            "type": "string",
            "description": "Date of last data update"
          },
          "software_version": {
            "type": "string"
          },
          "database_version": {
            "type": "string"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "integer"
              },
              "message": {
                "type": "string"
              }
            }
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Details"
    },
    {
      "name": "Geocoding"
    },
    {
      "name": "Lookup"
    },
    {
      "name": "Status"
    }
  ]
}
