{
  "swagger": "2.0",
  "info": {
    "title": "NOTAM Data v2",
    "description": "To request a compressed response from the NOTAM APIs, add the header ```Accept-Encoding: gzip``` to your request.</br></br>The service confirms that responses are compressed by including the response header ```Content-Encoding: gzip```.</br></br>Please note that the NOTAM APIs cache responses for 60 seconds.",
    "termsOfService": "https://developer.laminardata.aero/admin/account/termsofservice",
    "contact": {
      "name": "Cirium Help Desk Team",
      "email": "helpdesk@cirium.com"
    },
    "license": {
      "name": "Laminar Data End User License Agreement",
      "url": "https://developer.laminardata.aero/admin/account/termsofservice"
    },
    "version": "1.1.0",
    "x-jentic-source-url": "https://developer.laminardata.aero/swagger/spec/notam_data_v2.json"
  },
  "host": "api.laminardata.aero",
  "schemes": [
    "https"
  ],
  "basePath": "/v2",
  "produces": [
    "application/json"
  ],
  "paths": {
    "/icao-prefixes/{icao.prefix}/firs/{fir.icao}/notams": {
      "get": {
        "tags": [
          "NOTAMs by Flight Information Region"
        ],
        "summary": "NOTAMs by Flight Information Region",
        "description": "<p>Retrieves a list of all NOTAMs for a given FIR in a GeoJSON response format.</p><p>For a list of possible ICAO prefixes and FIRs refer to the Reference Data APIs <a href='https://developer.laminardata.aero/documentation/referencedata'><u>here</u></a>.",
        "parameters": [
          {
            "name": "icao.prefix",
            "in": "path",
            "description": "First letter of the ICAO designator e.g. E (Case sensitive)",
            "required": true,
            "type": "string"
          },
          {
            "name": "fir.icao",
            "in": "path",
            "description": "ICAO code of the FIR e.g. EGTT (Case sensitive)",
            "required": true,
            "type": "string"
          },
          {
            "name": "qcode",
            "in": "query",
            "description": "The Q-Code or selection code such as QOBCE to obtain obstacle related NOTAMs.<p>Adding a Q-Code parameter will return only NOTAMS with the specified Q-Code.</p><b>Q-Code rules:</b><ul><li>MUST start with a 'Q'</li><li>MUST be five characters</li><li>MUST be entered if 'TEXT_CONTAINS' is empty'</li></ul>",
            "required": false,
            "type": "string"
          },
          {
            "name": "text_contains",
            "in": "query",
            "description": "Searches the 'text' field in the NOTAM response and returns only NOTAMs with text containing the specified values.<p>Multiple phrases can be searched for, by using a comma separated listed such as GPS,OBST. In this case, it returns only NOTAMs with text containing all the words.</p><b>Text Contains rules:</b><ul><li>MUST have less than 21 characters</li><li>MUST only contain alphanumeric characters or commas</li><li>MUST be entered if 'Q-Code' is empty'</li></ul>",
            "required": false,
            "type": "string"
          },
          {
            "name": "user_key",
            "in": "query",
            "description": "User Key Authentication Parameter",
            "required": true,
            "type": "string",
            "threescale_name": "user_keys",
            "x-data-threescale-name": "user_keys"
          }
        ],
        "responses": {
          "200": {
            "description": "NOTAMs by FIR Success Response",
            "schema": {
              "$ref": "#/definitions/successResponseNotam"
            },
            "headers": {
              "content-type": {
                "type": "string",
                "description": "Indicates the response body format"
              },
              "cache-control": {
                "type": "string",
                "description": "Used to specify directives for caching mechanisms"
              }
            }
          },
          "400": {
            "description": "The request sent was not understood by the system",
            "schema": {
              "$ref": "#/definitions/badRequestFailureResponse"
            },
            "headers": {
              "content-type": {
                "type": "string",
                "description": "Indicates the response body format"
              }
            }
          },
          "403": {
            "description": "The request sent could not be authenticated by the system",
            "schema": {
              "$ref": "#/definitions/authenticationFailureResponse"
            },
            "headers": {
              "content-type": {
                "type": "string",
                "description": "Indicates the response body format"
              }
            }
          }
        }
      }
    },
    "/aerodromes/{aerodrome.icao}/notams": {
      "get": {
        "tags": [
          "NOTAMs by Aerodrome"
        ],
        "summary": "NOTAMs by Aerodrome",
        "description": "<p>Retrieves a list of all NOTAMs for a given aerodrome in a GeoJSON response format.</p>",
        "parameters": [
          {
            "name": "aerodrome.icao",
            "in": "path",
            "description": "The ICAO code for an aerodrome e.g. EGLL.<p></p><b>Aerodrome ICAO rules:</b><ul><li>MUST be letters (case sensitive)</li><li>MUST be only four characters</li></ul>",
            "required": true,
            "type": "string"
          },
          {
            "name": "qcode",
            "in": "query",
            "description": "The Q-Code or selection code such as QOBCE to obtain obstacle related NOTAMs.<p>Adding a Q-Code parameter will return only NOTAMS with the specified Q-Code.</p><b>Q-Code rules:</b><ul><li>MUST start with a 'Q'</li><li>MUST be five characters</li><li>MUST be entered if 'TEXT_CONTAINS' is empty'</li></ul>",
            "required": false,
            "type": "string"
          },
          {
            "name": "text_contains",
            "in": "query",
            "description": "<p>Searches the 'text' field in the NOTAM response and returns only NOTAMs with text containing the specified values.<p>Multiple phrases can be searched for, by using a comma separated listed such as GPS,OBST. In this case, it returns only NOTAMs with text containing all the words.</p><b>Text Contains rules:</b><ul><li>MUST have less than 21 characters</li><li>MUST only contain alphanumeric characters or commas</li><li>MUST be entered if 'Q-Code' is empty'</li></ul></p>",
            "required": false,
            "type": "string"
          },
          {
            "name": "user_key",
            "in": "query",
            "description": "User Key Authentication Parameter",
            "required": true,
            "type": "string",
            "threescale_name": "user_keys",
            "x-data-threescale-name": "user_keys"
          }
        ],
        "responses": {
          "200": {
            "description": "NOTAMs by Aerodrome Success Response",
            "schema": {
              "$ref": "#/definitions/successResponseNotam"
            },
            "headers": {
              "content-type": {
                "type": "string",
                "description": "Indicates the response body format"
              },
              "cache-control": {
                "type": "string",
                "description": "Used to specify directives for caching mechanisms"
              }
            }
          },
          "400": {
            "description": "The request sent was not understood by the system",
            "schema": {
              "$ref": "#/definitions/badRequestFailureResponse"
            },
            "headers": {
              "content-type": {
                "type": "string",
                "description": "Indicates the response body format"
              }
            }
          },
          "403": {
            "description": "The request sent could not be authenticated by the system",
            "schema": {
              "$ref": "#/definitions/authenticationFailureResponse"
            },
            "headers": {
              "content-type": {
                "type": "string",
                "description": "Indicates the response body format"
              }
            }
          }
        }
      }
    },
    "/tfrs": {
      "get": {
        "tags": [
          "Temporary Flight Restrictions"
        ],
        "summary": "Temporary Flight Restrictions",
        "description": "<p>Retrieves a list of all active Temporary Flight Restrictions(TFRs) in a GeoJSON response format.</p>",
        "parameters": [
          {
            "name": "qcode",
            "in": "query",
            "description": "The Q-Code or selection code such as QOBCE to obtain obstacle related NOTAMs.<p>Adding a Q-Code parameter will return only NOTAMS with the specified Q-Code.</p><b>Q-Code rules:</b><ul><li>MUST start with a 'Q'</li><li>MUST be five characters</li></ul>",
            "required": false,
            "type": "string"
          },
          {
            "name": "text_contains",
            "in": "query",
            "description": "<p>Searches the 'text' field in the NOTAM response and returns only NOTAMs with text containing the specified values.<p>Multiple phrases can be searched for, by using a comma separated listed such as GPS,OBST. In this case, it returns only NOTAMs with text containing all the words.</p><b>Text Contains rules:</b><ul><li>MUST have less than 21 characters</li><li>MUST only contain alphanumeric characters or commas</li></ul></p>",
            "required": false,
            "type": "string"
          },
          {
            "name": "user_key",
            "in": "query",
            "description": "User Key Authentication Parameter",
            "required": true,
            "type": "string",
            "threescale_name": "user_keys",
            "x-data-threescale-name": "user_keys"
          }
        ],
        "responses": {
          "200": {
            "description": "TFRs Success Response",
            "schema": {
              "$ref": "#/definitions/successResponseNotam"
            },
            "headers": {
              "content-type": {
                "type": "string",
                "description": "Indicates the response body format"
              },
              "cache-control": {
                "type": "string",
                "description": "Used to specify directives for caching mechanisms"
              }
            }
          },
          "400": {
            "description": "The request sent was not understood by the system",
            "schema": {
              "$ref": "#/definitions/badRequestFailureResponse"
            },
            "headers": {
              "content-type": {
                "type": "string",
                "description": "Indicates the response body format"
              }
            }
          },
          "403": {
            "description": "The request sent could not be authenticated by the system",
            "schema": {
              "$ref": "#/definitions/authenticationFailureResponse"
            },
            "headers": {
              "content-type": {
                "type": "string",
                "description": "Indicates the response body format"
              }
            }
          }
        }
      }
    },
    "/notams": {
      "get": {
        "tags": [
          "NOTAMs by Q-Code and Text"
        ],
        "summary": "NOTAMs by Q-Code and Text",
        "description": "<p>Retrieves all the NOTAMs that matches the given type, Q-Code or text phrase or both in a GeoJSON response format.</p><p><b> At least one query parameter needs to be defined for the API to return a valid response</b>.</p>",
        "parameters": [
          {
            "name": "qcode",
            "in": "query",
            "description": "The Q-Code or selection code such as QOBCE to obtain obstacle related NOTAMs.<p>Adding a Q-Code parameter will return only NOTAMS with the specified Q-Code.</p><b>Q-Code rules:</b><ul><li>MUST start with a 'Q'</li><li>MUST be five characters</li></ul>",
            "required": false,
            "type": "string"
          },
          {
            "name": "text_contains",
            "in": "query",
            "description": "Searches the 'text' field in the NOTAM response and returns only NOTAMs with text containing the specified values.<p>Multiple phrases can be searched for, by using a comma separated listed such as GPS,OBST. In this case, it returns only NOTAMs with text containing all the words.</p><b>Text Contains rules:</b><ul><li>MUST have less than 21 characters</li><li>MUST only contain alphanumeric characters or commas</li></ul>",
            "required": false,
            "type": "string"
          },
          {
            "name": "user_key",
            "in": "query",
            "description": "User Key Authentication Parameter",
            "required": true,
            "type": "string",
            "threescale_name": "user_keys",
            "x-data-threescale-name": "user_keys"
          }
        ],
        "responses": {
          "200": {
            "description": "NOTAMs Success Response",
            "schema": {
              "$ref": "#/definitions/successResponseNotam"
            },
            "headers": {
              "content-type": {
                "type": "string",
                "description": "Indicates the response body format"
              },
              "cache-control": {
                "type": "string",
                "description": "Used to specify directives for caching mechanisms"
              }
            }
          },
          "400": {
            "description": "The request sent was not understood by the system",
            "schema": {
              "$ref": "#/definitions/badRequestFailureResponse"
            },
            "headers": {
              "content-type": {
                "type": "string",
                "description": "Indicates the response body format"
              }
            }
          },
          "403": {
            "description": "The request sent could not be authenticated by the system",
            "schema": {
              "$ref": "#/definitions/authenticationFailureResponse"
            },
            "headers": {
              "content-type": {
                "type": "string",
                "description": "Indicates the response body format"
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "NOTAMs by User Defined Geometry"
        ],
        "summary": "NOTAMs by User Defined Geometry",
        "description": "<p>Returns all NOTAMs which have a geometry all or part of which falls [within 1 nautical mile] of the [axis aligned bounding box](https://en.wikipedia.org/wiki/Minimum_bounding_box) of the GeoJson geometry</p>",
        "consumes": [
          "application/geo+json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "GeoJSON geometry marking area to show NOTAMs for",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "user_key",
            "in": "query",
            "description": "User Key Authentication Parameter",
            "required": true,
            "type": "string",
            "threescale_name": "user_keys",
            "x-data-threescale-name": "user_keys"
          }
        ],
        "responses": {
          "200": {
            "description": "NOTAMs by User Defined Geometry Success Response",
            "schema": {
              "$ref": "#/definitions/successResponseNotam"
            },
            "headers": {
              "content-type": {
                "type": "string",
                "description": "Indicates the response body format"
              },
              "cache-control": {
                "type": "string",
                "description": "Used to specify directives for caching mechanisms"
              }
            }
          },
          "400": {
            "description": "The request sent was not understood by the system",
            "schema": {
              "$ref": "#/definitions/badRequestFailureResponse"
            },
            "headers": {
              "content-type": {
                "type": "string",
                "description": "Indicates the response body format"
              }
            }
          },
          "403": {
            "description": "The request sent could not be authenticated by the system",
            "schema": {
              "$ref": "#/definitions/authenticationFailureResponse"
            },
            "headers": {
              "content-type": {
                "type": "string",
                "description": "Indicates the response body format"
              }
            }
          },
          "415": {
            "description": "Invalid MediaType",
            "schema": {
              "type": "string"
            },
            "headers": {
              "content-type": {
                "type": "string",
                "description": "Indicates the response body format"
              }
            }
          }
        }
      }
    },
    "/countries/{country.code.iso}/notams": {
      "get": {
        "tags": [
          "NOTAMs by Country Code"
        ],
        "summary": "NOTAMs By Country Code",
        "description": "Retrieves a list of all NOTAMs for a given ISO 3166 country code in a GeoJSON response format.</br></br>The NOTAM ```countryCode``` property is derived from the ```location``` property if it is a valid ICAO designator, <b>not</b> from the NOTAM ```text``` or ```geometry``` properties.</br></br>Here are some country code examples to use in the request:</br>- AUS</br>- GBR</br>- LUX</br></br>As mentioned in the response section, if your application does not have the agreed access to a particular country then you will recieve an unauthorized response when requesting NOTAM information for that country.",
        "parameters": [
          {
            "name": "country.code.iso",
            "in": "path",
            "description": "The ISO 3166 code for a country code e.g. GBR.<p></p><b>Country Code ISO rules:</b><ul><li>MUST be letters (case sensitive)</li><li>MUST be only three characters</li></ul>",
            "required": true,
            "type": "string"
          },
          {
            "name": "user_key",
            "in": "query",
            "description": "User Key Authentication Parameter",
            "required": true,
            "type": "string",
            "threescale_name": "user_keys",
            "x-data-threescale-name": "user_keys"
          }
        ],
        "responses": {
          "200": {
            "description": "NOTAMs by Country Code Success Response",
            "schema": {
              "$ref": "#/definitions/successResponseNotam"
            },
            "headers": {
              "content-type": {
                "type": "string",
                "description": "Indicates the response body format"
              },
              "cache-control": {
                "type": "string",
                "description": "Used to specify directives for caching mechanisms"
              }
            }
          },
          "400": {
            "description": "The request sent was not understood by the system",
            "schema": {
              "$ref": "#/definitions/badRequestFailureResponse"
            },
            "headers": {
              "content-type": {
                "type": "string",
                "description": "Indicates the response body format"
              }
            }
          },
          "401": {
            "description": "The request sent had unauthorized country codes for supplied user_key",
            "schema": {
              "title": "Unauthorized Country Code Failure Response",
              "type": "object",
              "required": [
                "error"
              ],
              "additionalProperties": false,
              "properties": {
                "error": {
                  "title": "Unauthorized Error",
                  "description": "Contains the unauthorized failure information",
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "code": {
                      "description": "Response code",
                      "type": "number",
                      "example": 401
                    },
                    "message": {
                      "description": "Response message",
                      "type": "string",
                      "example": "Authorization Required"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "The request sent could not be authenticated by the system",
            "schema": {
              "$ref": "#/definitions/authenticationFailureResponse"
            },
            "headers": {
              "content-type": {
                "type": "string",
                "description": "Indicates the response body format"
              }
            }
          }
        }
      }
    }
  },
  "definitions": {
    "successResponseNotam": {
      "title": "NOTAMs",
      "description": "NOTAMs are provided as a collection of GeoJSON feature collection objects (RFC 7946)",
      "type": "object",
      "required": [
        "type",
        "features",
        "results"
      ],
      "additionalProperties": false,
      "properties": {
        "type": {
          "type": "string",
          "title": "The Type Schema ",
          "example": "FeatureCollection"
        },
        "features": {
          "type": "array",
          "title": "GeoJSON Features",
          "items": {
            "title": "GeoJSON Feature Properties",
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "title": "The Features Id Schema",
                "example": "116128c3-2fbd-4edc-895f-85c21ceae545"
              },
              "type": {
                "type": "string",
                "title": "The Features Type Schema ",
                "enum": [
                  "Feature"
                ]
              },
              "geometry": {
                "title": "GeoJSON Feature Geometry",
                "description": "The position of the NOTAM.",
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "title": "The Type Schema ",
                    "example": "GeometryCollection"
                  },
                  "geometries": {
                    "type": "array",
                    "items": {
                      "title": "NOTAM Geometries",
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "title": "The Type Schema ",
                          "example": "Polygon"
                        },
                        "lowerLimit": {
                          "title": "NOTAM Geometry Lower Limit",
                          "type": "object",
                          "properties": {
                            "uom": {
                              "type": "string",
                              "title": "The Uom Schema ",
                              "example": "FEET"
                            },
                            "value": {
                              "type": "number",
                              "title": "The Value Schema ",
                              "example": 5000
                            },
                            "reference": {
                              "type": "string",
                              "title": "The Reference Schema ",
                              "example": "AGL"
                            }
                          },
                          "additionalProperties": false
                        },
                        "upperLimit": {
                          "title": "NOTAM Geometry Upper Limit",
                          "type": "object",
                          "properties": {
                            "uom": {
                              "type": "string",
                              "title": "The Uom Schema ",
                              "example": "FEET"
                            },
                            "value": {
                              "type": "number",
                              "title": "The Value Schema ",
                              "example": 15000
                            },
                            "reference": {
                              "type": "string",
                              "title": "The Reference Schema ",
                              "example": "AMSL"
                            }
                          },
                          "additionalProperties": false
                        },
                        "coordinates": {
                          "title": "NOTAM Geometry Coordinates",
                          "type": "array",
                          "items": {
                            "title": "NOTAM Geometry Coordinates (lon and lat)",
                            "type": "array",
                            "items": {
                              "type": "number",
                              "title": "NOTAM Geometry Coordinate",
                              "example": [
                                122.38795471191406,
                                -38.26834487915039
                              ]
                            }
                          }
                        }
                      },
                      "additionalProperties": false
                    }
                  }
                },
                "additionalProperties": false
              },
              "properties": {
                "title": "NOTAM Properties",
                "type": "object",
                "properties": {
                  "lat": {
                    "type": "number",
                    "title": "The Lat Schema ",
                    "example": 33.96670150756836
                  },
                  "lon": {
                    "type": "number",
                    "title": "The Lon Schema ",
                    "example": -117.63330078125
                  },
                  "series": {
                    "type": "string",
                    "title": "The Series Schema",
                    "example": "A"
                  },
                  "text": {
                    "type": "string",
                    "title": "The Text Schema ",
                    "example": "OBST TOWER LGT (ASN 2011-AWP-7801-OE) 335955N1173935W (1.9NM NW CNO) 878FT (190FT AGL) OUT OF SERVICE"
                  },
                  "type": {
                    "type": "string",
                    "title": "The Type Schema ",
                    "example": "N"
                  },
                  "year": {
                    "type": "integer",
                    "title": "The Year Schema ",
                    "example": 2018
                  },
                  "scope": {
                    "type": "string",
                    "title": "The Scope Schema ",
                    "example": "E"
                  },
                  "issued": {
                    "type": "string",
                    "title": "The Issued Schema ",
                    "example": "2018-04-15T17:14:00Z"
                  },
                  "number": {
                    "type": "integer",
                    "title": "The Number Schema ",
                    "example": 34
                  },
                  "radius": {
                    "type": "integer",
                    "title": "The Radius Schema ",
                    "example": 34
                  },
                  "purpose": {
                    "type": "string",
                    "title": "The Purpose Schema ",
                    "example": "M"
                  },
                  "traffic": {
                    "type": "string",
                    "title": "The Traffic Schema ",
                    "example": "IV"
                  },
                  "location": {
                    "type": "string",
                    "title": "The ICAO location of the NOTAM",
                    "example": "KCNO"
                  },
                  "maximumFL": {
                    "type": "integer",
                    "title": "The Maximumfl Schema ",
                    "example": 999
                  },
                  "minimumFL": {
                    "type": "integer",
                    "title": "The Minimumfl Schema ",
                    "example": 0
                  },
                  "affectedFIR": {
                    "type": "string",
                    "title": "The Affectedfir Schema ",
                    "example": "EGXX"
                  },
                  "effectiveEnd": {
                    "type": "string",
                    "title": "The Effectiveend Schema ",
                    "example": "2018-04-30T17:14:00Z"
                  },
                  "effectiveEndInterpretation": {
                    "type": "string",
                    "title": "The Effectiveend Interpretation Schema ",
                    "example": "EST"
                  },
                  "countryCode": {
                    "type": "string",
                    "title": "ISO 3166-1 alpha-3 country code",
                    "example": "GBR"
                  },
                  "publisherNOF": {
                    "type": "string",
                    "title": "The Publishernof Schema ",
                    "example": "CNO"
                  },
                  "translations": {
                    "type": "array",
                    "items": {
                      "title": "NOTAM Translations",
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "title": "The Type Schema ",
                          "example": "OTHER_ICAO"
                        },
                        "language": {
                          "type": "string",
                          "title": "The Language Schema ",
                          "example": "DUTCH"
                        },
                        "formattedText": {
                          "type": "string",
                          "title": "The Formatted Text Schema ",
                          "example": "<html:div xmlns=\"http://www.aixm.aero/schema/5.1/message\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns:html=\"http://www.w3.org/1999/xhtml\">04/034 NOTAMN&lt;br/&gt;\n                                            &lt;b&gt;Q) &lt;/b&gt;ZLA/QOLAS/IV/M/E/000/878/3358N11738W005&lt;br/&gt;\n                                            &lt;b&gt;A) &lt;/b&gt;KCNO&lt;br/&gt;\n                                            &lt;b&gt;B) &lt;/b&gt;1804151714&lt;br/&gt;\n                                            &lt;b&gt;C) &lt;/b&gt;1804301714&lt;br/&gt;\n                                            &lt;b&gt;E) &lt;/b&gt;OBST TOWER 263.4 ( [190*0.3] AGL) 1.9 NW LGTS OUT OF SERVICE (ASN 2011-AWP-7801-OE)&lt;br/&gt;\n                                        </html:div>\n                                    "
                        },
                        "simpleText": {
                          "type": "string",
                          "title": "The Simple Text Schema ",
                          "example": "!CNO 04/034 CNO OBST TOWER LGT (ASN 2011-AWP-7801-OE) 335955N1173935W (1.9NM NW CNO) 878FT (190FT AGL) OUT OF SERVICE 1804151714-1804301714"
                        }
                      }
                    }
                  },
                  "schedule": {
                    "type": "string",
                    "title": "The Schedule Schema ",
                    "example": "DAILY 1400 TO 1500"
                  },
                  "schedules": {
                    "type": "array",
                    "items": {
                      "title": "NOTAM Schedules",
                      "type": "object",
                      "properties": {
                        "frequency": {
                          "type": "string",
                          "title": "The Schedule Frequency Schema ",
                          "example": "DAILY"
                        },
                        "startDate": {
                          "type": "string",
                          "title": "The Schedule start date Schema ",
                          "example": "2018-10-10"
                        },
                        "startTime": {
                          "type": "string",
                          "title": "The Schedule start time Schema ",
                          "example": "16:00:00"
                        },
                        "endDate": {
                          "type": "string",
                          "title": "The Schedule end date Schema ",
                          "example": "2018-11-10"
                        },
                        "endTime": {
                          "type": "string",
                          "title": "The Schedule end time Schema ",
                          "example": "19:30:00"
                        }
                      }
                    }
                  },
                  "qcode": {
                    "type": "string",
                    "title": "The QCode Schema ",
                    "example": "QGAAU"
                  },
                  "effectiveStart": {
                    "type": "string",
                    "title": "The Effective start Schema ",
                    "example": "2018-04-15T17:14:00Z"
                  },
                  "affectedAerodrome": {
                    "type": "string",
                    "title": "The ICAO location that is identified as an aerodromes, empty otherwise",
                    "example": "KCNO"
                  },
                  "relationship": {
                    "title": "NOTAM Relationship",
                    "type": "object",
                    "properties": {
                      "affectedFIR": {
                        "title": "NOTAM Affected FIRs",
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "title": "The Relationship Affected FIR ID Schema ",
                            "example": "EGLL"
                          }
                        },
                        "additionalProperties": false
                      },
                      "reference": {
                        "title": "NOTAM replacement or cancellation reference",
                        "type": "object",
                        "properties": {
                          "series": {
                            "type": "string",
                            "title": "The series of the referred NOTAM.",
                            "example": "A"
                          },
                          "number": {
                            "type": "integer",
                            "title": "The sequence number of the referred NOTAM.",
                            "example": 34
                          },
                          "year": {
                            "type": "integer",
                            "title": "The year of the referred NOTAM.",
                            "example": 2018
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "additionalProperties": false
                  },
                  "affectedEntities": {
                    "type": "array",
                    "items": {
                      "title": "NOTAM Affected Entities",
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "title": "The type of the entity",
                          "example": "AERODROME"
                        },
                        "closure": {
                          "type": "string",
                          "title": "The type of closure",
                          "example": "TOTAL"
                        },
                        "designators": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "title": "The designators which identifies the entities",
                            "example": [
                              "2/20"
                            ]
                          }
                        },
                        "routeDesignator": {
                          "type": "string",
                          "title": "The designator which identifies the segment",
                          "example": "T822"
                        },
                        "startPoint": {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string",
                              "title": "The type of the start Point",
                              "example": "DESIGNATED_POINT"
                            },
                            "designator": {
                              "type": "string",
                              "title": "The name of the start Point",
                              "example": "PETAP"
                            },
                            "name": {
                              "type": "string",
                              "title": "The name of NAVAID",
                              "example": "KRASNAYA GORBATKA"
                            },
                            "subType": {
                              "type": "string",
                              "title": "The sub type of the entity Point",
                              "example": "NDB"
                            },
                            "coordinates": {
                              "title": "NOTAM Geometry Coordinate",
                              "type": "array",
                              "items": {
                                "type": "number",
                                "title": "NOTAM Geometry Coordinates [lon, lat]",
                                "example": [
                                  122.387955,
                                  -38.268345
                                ]
                              }
                            }
                          }
                        },
                        "endPoint": {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string",
                              "title": "The type of the end Point",
                              "example": "DESIGNATED_POINT"
                            },
                            "designator": {
                              "type": "string",
                              "title": "The name of the end Point",
                              "example": "ALUGA"
                            },
                            "name": {
                              "type": "string",
                              "title": "The name of NAVAID",
                              "example": "KRASNAYA GORBATKA"
                            },
                            "subType": {
                              "type": "string",
                              "title": "The sub type of the entity Point",
                              "example": "NDB"
                            },
                            "coordinates": {
                              "title": "NOTAM Geometry Coordinate",
                              "type": "array",
                              "items": {
                                "type": "number",
                                "title": "NOTAM Geometry Coordinates [lon, lat]",
                                "example": [
                                  122.387955,
                                  -38.268345
                                ]
                              }
                            }
                          }
                        },
                        "lowerLevel": {
                          "type": "object",
                          "properties": {
                            "value": {
                              "type": "integer",
                              "title": "The value of the lower level",
                              "example": 65
                            },
                            "reference": {
                              "type": "string",
                              "title": "The reference of the lower level",
                              "example": "FLIGHT_LEVEL"
                            },
                            "uom": {
                              "type": "string",
                              "title": "The UOM Schema",
                              "example": "METERS"
                            }
                          }
                        },
                        "upperLevel": {
                          "type": "object",
                          "properties": {
                            "value": {
                              "type": "integer",
                              "title": "The value of the upper level",
                              "example": 200
                            },
                            "reference": {
                              "type": "string",
                              "title": "The reference of the upper level",
                              "example": "FLIGHT_LEVEL"
                            },
                            "uom": {
                              "type": "string",
                              "title": "The UOM Schema",
                              "example": "METERS"
                            }
                          }
                        }
                      }
                    }
                  },
                  "metadata": {
                    "type": "object",
                    "title": "NOTAM Property Metadata",
                    "properties": {
                      "geometrySources": {
                        "type": "array",
                        "items": {
                          "type": "string",
                          "title": "Geometry Data Source",
                          "example": [
                            "text",
                            "text_and_eaip",
                            "point_and_radius",
                            "text_and_ai",
                            "faa_dnotam_aixm"
                          ]
                        }
                      },
                      "lastUpdateTimestamp": {
                        "type": "string",
                        "title": "Time of last update to data recieved by snowflake",
                        "example": "2018-04-30T17:14:00Z"
                      }
                    },
                    "additionalProperties": false,
                    "required": [
                      "lastUpdateTimestamp"
                    ]
                  }
                },
                "additionalProperties": false
              }
            }
          },
          "additionalProperties": false
        },
        "results": {
          "$ref": "#/definitions/results"
        }
      }
    },
    "authenticationFailureResponse": {
      "title": "Authentication Failure Response",
      "type": "object",
      "description": "The response model for authentication failures",
      "required": [
        "error"
      ],
      "additionalProperties": false,
      "properties": {
        "error": {
          "title": "Authentication Error",
          "description": "Contains the authentication failure information",
          "type": "object",
          "additionalProperties": false,
          "properties": {
            "code": {
              "description": "Response code",
              "type": "number",
              "example": 403
            },
            "message": {
              "description": "Response message",
              "type": "string",
              "example": "Authentication Failed - Please check your request and credentials"
            }
          }
        }
      }
    },
    "badRequestFailureResponse": {
      "title": "Bad Request Failure Response",
      "type": "object",
      "description": "The response model for bad request failures",
      "required": [
        "error"
      ],
      "additionalProperties": false,
      "properties": {
        "error": {
          "title": "Bad Request Error",
          "description": "Contains the bad request failure information",
          "type": "object",
          "additionalProperties": false,
          "properties": {
            "code": {
              "description": "Response code",
              "type": "number",
              "example": 400
            },
            "message": {
              "description": "Response message",
              "type": "string",
              "example": "Bad Request - Please specify access_token query parameter with your API credentials"
            }
          }
        }
      }
    },
    "results": {
      "title": "Results",
      "description": "The result information of the GeoJSON feature",
      "type": "object",
      "required": [
        "publishTime",
        "status",
        "total"
      ],
      "additionalProperties": false,
      "properties": {
        "publishTime": {
          "description": "The date/time that the results were published by the system",
          "type": "string",
          "example": "2019-07-31T10:27:37.350Z"
        },
        "status": {
          "description": "The status of the response",
          "type": "string",
          "example": "ok"
        },
        "total": {
          "description": "The total number of results returned",
          "type": "number",
          "example": "100"
        }
      }
    }
  }
}