{
  "openapi": "3.0.0",
  "servers": [
    {
      "description": "DesChamps Global API",
      "url": "https://deschamps-global.kragman.com/api/"
    }
  ],
  "info": {
    "description": "Base URL: <b>https://deschamps-global.kragman.com/api</b>",
    "version": "1.0.0",
    "title": "DesChamps Global API",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/vartic/deschamps-global/1.0.0"
  },
  "tags": [
    {
      "name": "general"
    },
    {
      "name": "home"
    },
    {
      "name": "menu"
    },
    {
      "name": "catalog"
    },
    {
      "name": "admin/auth"
    },
    {
      "name": "admin/menu/category"
    },
    {
      "name": "admin/menu/subcategory"
    },
    {
      "name": "admin/menu/country"
    },
    {
      "name": "admin/menu/language"
    },
    {
      "name": "admin/catalogue"
    },
    {
      "name": "admin/general-info"
    },
    {
      "name": "admin/home"
    },
    {
      "name": "admin/product"
    },
    {
      "name": "admin/product-home"
    },
    {
      "name": "admin/seopage"
    },
    {
      "name": "admin/user"
    },
    {
      "name": "admin/quote-request"
    }
  ],
  "paths": {
    "/general": {
      "get": {
        "tags": [
          "general"
        ],
        "summary": "general informations for first request",
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "emails": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "format": "email"
                      }
                    },
                    "headOfficeEmails": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "format": "email"
                      }
                    },
                    "addresses": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "headOfficeAddresses": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "phones": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "headOfficePhones": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "schedule": {
                      "type": "string",
                      "example": "Sun 7:00am - Friday 7:00pm"
                    },
                    "socials": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "url": {
                            "type": "string",
                            "format": "uri"
                          },
                          "name": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "languages": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string"
                          },
                          "code": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "countries": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string"
                          },
                          "code": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "cataloguePdf": {
                      "type": "string",
                      "nullable": true,
                      "description": "Public URL of the catalogue PDF (null if not uploaded)",
                      "example": "https://domain.com/storage/catalogues/catalogue-67a3b2c1.pdf"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/general/country": {
      "get": {
        "tags": [
          "general"
        ],
        "summary": "get country code by ip",
        "responses": {
          "200": {
            "description": "successful operation"
          }
        }
      }
    },
    "/general/contact": {
      "post": {
        "tags": [
          "general"
        ],
        "summary": "Send email contact.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Name of the sender.",
                    "example": "John Doe",
                    "minLength": 3
                  },
                  "email": {
                    "type": "string",
                    "description": "Email address of the sender.",
                    "example": "johndoe@example.com",
                    "format": "email"
                  },
                  "phone": {
                    "type": "string",
                    "description": "Phone number of the sender.",
                    "example": "+40712345678"
                  },
                  "message": {
                    "type": "string",
                    "description": "Message content from the sender.",
                    "example": "Hello, I would like to inquire about...",
                    "minLength": 3
                  }
                },
                "required": [
                  "name",
                  "email",
                  "phone",
                  "message"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation."
          },
          "422": {
            "description": "Validatation failed."
          }
        }
      }
    },
    "/general/quote-request": {
      "post": {
        "tags": [
          "general"
        ],
        "summary": "Send quote request.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "full_name": {
                    "type": "string",
                    "description": "Full name of the requester.",
                    "example": "John Doe",
                    "minLength": 3
                  },
                  "email": {
                    "type": "string",
                    "description": "Email address of the requester.",
                    "example": "johndoe@example.com",
                    "format": "email"
                  },
                  "phone_number": {
                    "type": "string",
                    "description": "Phone number of the requester.",
                    "example": "+40712345678"
                  },
                  "message": {
                    "type": "string",
                    "description": "Message content from the requester.",
                    "example": "I would like to request a quote for...",
                    "minLength": 3
                  },
                  "product_id": {
                    "type": "integer",
                    "description": "Product ID (optional).",
                    "example": 123,
                    "nullable": true
                  }
                },
                "required": [
                  "full_name",
                  "email",
                  "phone_number",
                  "message"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation."
          },
          "422": {
            "description": "Validation failed."
          }
        }
      }
    },
    "/general/seopage": {
      "get": {
        "tags": [
          "general"
        ],
        "summary": "Get seo informations from path",
        "parameters": [
          {
            "in": "query",
            "name": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "path of page"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "404": {
            "description": "Path not found"
          }
        }
      }
    },
    "/home/slider": {
      "get": {
        "tags": [
          "home"
        ],
        "summary": "get slider images for homepage",
        "responses": {
          "200": {
            "description": "successful operation"
          }
        }
      }
    },
    "/home/products": {
      "get": {
        "tags": [
          "home"
        ],
        "summary": "Get last products for homepage",
        "responses": {
          "200": {
            "description": "successful operation"
          }
        }
      }
    },
    "/home/bestsellers": {
      "get": {
        "tags": [
          "home"
        ],
        "summary": "Product bestseller",
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        }
      }
    },
    "/menu/categories": {
      "get": {
        "tags": [
          "menu"
        ],
        "summary": "categories of the menu",
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "422": {
            "description": "Validatation failed"
          }
        }
      }
    },
    "/catalog/products": {
      "get": {
        "tags": [
          "catalog"
        ],
        "summary": "products of the catalog shop",
        "parameters": [
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            },
            "description": "page of results"
          },
          {
            "in": "query",
            "name": "slug",
            "schema": {
              "type": "string"
            },
            "description": "Slug of the category or subcategory"
          },
          {
            "in": "query",
            "name": "in_stock",
            "schema": {
              "type": "boolean"
            },
            "description": "Filter products based on stock availability"
          },
          {
            "in": "query",
            "name": "is_discount",
            "schema": {
              "type": "boolean"
            },
            "description": "Filter products based on discount exists"
          },
          {
            "in": "query",
            "name": "sort_by",
            "description": "Sort criteria for the results.",
            "schema": {
              "type": "string",
              "enum": [
                "date_asc",
                "date_desc"
              ]
            }
          },
          {
            "in": "query",
            "name": "search",
            "schema": {
              "type": "string"
            },
            "description": "Search products from title"
          },
          {
            "in": "query",
            "name": "filters",
            "schema": {
              "type": "object",
              "additionalProperties": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            },
            "description": "Object containing filter criteria. Each key represents a filter name, and the corresponding value is an array of filter values.",
            "example": {
              "filters": {
                "Putere": [
                  "30",
                  "50"
                ],
                "Viteza": [
                  "3km/h",
                  "5km/h"
                ]
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
          },
          "422": {
            "description": "validatation failed"
          }
        }
      }
    },
    "/catalog/product/{slug}": {
      "get": {
        "tags": [
          "catalog"
        ],
        "summary": "show product",
        "parameters": [
          {
            "in": "path",
            "name": "slug",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "slug of the product"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
          },
          "404": {
            "description": "product with this slug not found"
          }
        }
      }
    },
    "/catalog/product/{slug}/similar": {
      "get": {
        "tags": [
          "catalog"
        ],
        "summary": "similiar products of the product",
        "parameters": [
          {
            "in": "path",
            "name": "slug",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "slug of the product"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
          }
        }
      }
    },
    "/catalog/search": {
      "get": {
        "tags": [
          "catalog"
        ],
        "summary": "Search products on header",
        "parameters": [
          {
            "in": "query",
            "name": "text",
            "schema": {
              "type": "string"
            },
            "description": "Title of product"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation."
          }
        }
      }
    },
    "/admin/auth/login": {
      "post": {
        "tags": [
          "admin/auth"
        ],
        "summary": "login admin",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "description": "The admin's email",
                    "example": "admin@example.com"
                  },
                  "password": {
                    "type": "string",
                    "description": "The admin's password",
                    "example": "admin"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "successful operation"
          },
          "401": {
            "description": "email or password incorrect"
          },
          "422": {
            "description": "validation failed"
          }
        }
      }
    },
    "/admin/auth/user": {
      "get": {
        "tags": [
          "admin/auth"
        ],
        "summary": "get admin authenticated",
        "responses": {
          "200": {
            "description": "successful operation"
          },
          "401": {
            "description": "not logged"
          }
        }
      }
    },
    "/admin/auth/logout": {
      "post": {
        "tags": [
          "admin/auth"
        ],
        "summary": "logout admin",
        "responses": {
          "200": {
            "description": "successful operation"
          }
        }
      }
    },
    "/admin/menu/category": {
      "get": {
        "tags": [
          "admin/menu/category"
        ],
        "summary": "get list of categories",
        "responses": {
          "200": {
            "description": "successful operation"
          }
        }
      },
      "post": {
        "tags": [
          "admin/menu/category"
        ],
        "summary": "add category",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "name_en": {
                    "type": "string",
                    "description": "Name of the category (en)",
                    "example": "Hranitori",
                    "minimum": 3,
                    "maximum": 255
                  },
                  "name_ru": {
                    "type": "string",
                    "description": "Name of the category (ru)",
                    "example": "Hranitori",
                    "minimum": 3,
                    "maximum": 255
                  },
                  "icon": {
                    "type": "string",
                    "format": "binary",
                    "description": "Icon image of the category",
                    "maxLength": 1024
                  },
                  "order": {
                    "type": "number",
                    "description": "Order of item",
                    "minimum": 1
                  },
                  "seo_image": {
                    "type": "string",
                    "format": "binary",
                    "description": "SEO image"
                  },
                  "seo_title_en": {
                    "type": "string",
                    "maxLength": 255,
                    "description": "SEO title in English"
                  },
                  "seo_title_ru": {
                    "type": "string",
                    "maxLength": 255,
                    "description": "SEO title in Russian"
                  },
                  "seo_description_en": {
                    "type": "string",
                    "description": "SEO description in English"
                  },
                  "seo_description_ru": {
                    "type": "string",
                    "description": "SEO description in Russian"
                  },
                  "seo_content_en": {
                    "type": "string",
                    "description": "SEO content in English"
                  },
                  "seo_content_ru": {
                    "type": "string",
                    "description": "SEO content in Russian"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "successful operation"
          },
          "400": {
            "description": "category already exists"
          }
        }
      }
    },
    "/admin/menu/category/{category}": {
      "get": {
        "tags": [
          "admin/menu/category"
        ],
        "summary": "show category",
        "parameters": [
          {
            "in": "path",
            "name": "category",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "id category"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
          },
          "404": {
            "description": "category not found"
          }
        }
      },
      "patch": {
        "tags": [
          "admin/menu/category"
        ],
        "summary": "edit category",
        "parameters": [
          {
            "in": "path",
            "name": "category",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "id category for edit"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "name_en": {
                    "type": "string",
                    "description": "Name of the category (en)",
                    "example": "Hranitori",
                    "minimum": 3,
                    "maximum": 255
                  },
                  "name_ru": {
                    "type": "string",
                    "description": "Name of the category (ru)",
                    "example": "Hranitori",
                    "minimum": 3,
                    "maximum": 255
                  },
                  "icon": {
                    "type": "string",
                    "format": "binary",
                    "description": "Icon image of the category",
                    "maxLength": 1024
                  },
                  "order": {
                    "type": "number",
                    "description": "Order of item",
                    "minimum": 1
                  },
                  "seo_image": {
                    "type": "string",
                    "format": "binary",
                    "description": "SEO image"
                  },
                  "seo_title_en": {
                    "type": "string",
                    "maxLength": 255,
                    "description": "SEO title in English"
                  },
                  "seo_title_ru": {
                    "type": "string",
                    "maxLength": 255,
                    "description": "SEO title in Russian"
                  },
                  "seo_description_en": {
                    "type": "string",
                    "description": "SEO description in English"
                  },
                  "seo_description_ru": {
                    "type": "string",
                    "description": "SEO description in Russian"
                  },
                  "seo_content_en": {
                    "type": "string",
                    "description": "SEO content in English"
                  },
                  "seo_content_ru": {
                    "type": "string",
                    "description": "SEO content in Russian"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "successful operation"
          },
          "400": {
            "description": "category already exists"
          }
        }
      },
      "delete": {
        "tags": [
          "admin/menu/category"
        ],
        "summary": "delete category",
        "parameters": [
          {
            "in": "path",
            "name": "category",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "id category for delete"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
          }
        }
      }
    },
    "/admin/menu/subcategory": {
      "post": {
        "tags": [
          "admin/menu/subcategory"
        ],
        "summary": "add subcategory",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "category_id": {
                    "type": "integer",
                    "description": "category id for the subcategory"
                  },
                  "name_en": {
                    "type": "string",
                    "description": "Name of the subcategory (en)",
                    "example": "Hranitori",
                    "minimum": 3,
                    "maximum": 255
                  },
                  "name_ru": {
                    "type": "string",
                    "description": "Name of the subcategory (ru)",
                    "example": "Hranitori",
                    "minimum": 3,
                    "maximum": 255
                  },
                  "order": {
                    "type": "number",
                    "description": "Order of item",
                    "minimum": 1
                  },
                  "seo_image": {
                    "type": "string",
                    "format": "binary",
                    "description": "SEO image"
                  },
                  "seo_title_en": {
                    "type": "string",
                    "maxLength": 255,
                    "description": "SEO title in English"
                  },
                  "seo_title_ru": {
                    "type": "string",
                    "maxLength": 255,
                    "description": "SEO title in Russian"
                  },
                  "seo_description_en": {
                    "type": "string",
                    "description": "SEO description in English"
                  },
                  "seo_description_ru": {
                    "type": "string",
                    "description": "SEO description in Russian"
                  },
                  "seo_content_en": {
                    "type": "string",
                    "description": "SEO content in English"
                  },
                  "seo_content_ru": {
                    "type": "string",
                    "description": "SEO content in Russian"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "successful operation"
          },
          "400": {
            "description": "subcategory already exists or category does not exists"
          }
        }
      }
    },
    "/admin/menu/subcategory/{subcategory}": {
      "patch": {
        "tags": [
          "admin/menu/subcategory"
        ],
        "summary": "update subcategory",
        "parameters": [
          {
            "in": "path",
            "name": "subcategory",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "id subcategory"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "category_id": {
                    "type": "integer",
                    "description": "Category id for the category"
                  },
                  "name_en": {
                    "type": "string",
                    "description": "Name of the subcategory (en)",
                    "example": "Hranitori",
                    "minimum": 3,
                    "maximum": 255
                  },
                  "name_ru": {
                    "type": "string",
                    "description": "Name of the subcategory (ru)",
                    "example": "Hranitori",
                    "minimum": 3,
                    "maximum": 255
                  },
                  "order": {
                    "type": "number",
                    "description": "Order of item",
                    "minimum": 1
                  },
                  "seo_image": {
                    "type": "string",
                    "format": "binary",
                    "description": "SEO image"
                  },
                  "seo_title_en": {
                    "type": "string",
                    "maxLength": 255,
                    "description": "SEO title in English"
                  },
                  "seo_title_ru": {
                    "type": "string",
                    "maxLength": 255,
                    "description": "SEO title in Russian"
                  },
                  "seo_description_en": {
                    "type": "string",
                    "description": "SEO description in English"
                  },
                  "seo_description_ru": {
                    "type": "string",
                    "description": "SEO description in Russian"
                  },
                  "seo_content_en": {
                    "type": "string",
                    "description": "SEO content in English"
                  },
                  "seo_content_ru": {
                    "type": "string",
                    "description": "SEO content in Russian"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "successful operation"
          },
          "400": {
            "description": "subcategory already exists or category does not exists"
          }
        }
      },
      "delete": {
        "tags": [
          "admin/menu/subcategory"
        ],
        "summary": "delete subcategory",
        "parameters": [
          {
            "in": "path",
            "name": "subcategory",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "id subcategory for delete"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
          }
        }
      }
    },
    "/admin/menu/country": {
      "get": {
        "tags": [
          "admin/menu/country"
        ],
        "summary": "get list of countries",
        "responses": {
          "200": {
            "description": "successful operation"
          }
        }
      }
    },
    "/admin/menu/country/{menuCountry}": {
      "patch": {
        "tags": [
          "admin/menu/country"
        ],
        "summary": "update country",
        "parameters": [
          {
            "in": "path",
            "name": "menuCountry",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "id country for update"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "active": {
                    "type": "boolean",
                    "description": "Active or inactive country in menu",
                    "example": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "successful operation"
          },
          "422": {
            "description": "validatation failed"
          }
        }
      }
    },
    "/admin/menu/language": {
      "get": {
        "tags": [
          "admin/menu/language"
        ],
        "summary": "get list of languages",
        "responses": {
          "200": {
            "description": "successful operation"
          }
        }
      }
    },
    "/admin/menu/language/{menuLanguage}": {
      "patch": {
        "tags": [
          "admin/menu/language"
        ],
        "summary": "update language",
        "parameters": [
          {
            "in": "path",
            "name": "menuLanguage",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "id language for update"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "active": {
                    "type": "boolean",
                    "description": "Active or inactive language in menu",
                    "example": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "successful operation"
          },
          "422": {
            "description": "validatation failed"
          }
        }
      }
    },
    "/admin/catalogue": {
      "post": {
        "tags": [
          "admin/catalogue"
        ],
        "summary": "Upload or replace catalogue PDF",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "PDF file (max 10MB)"
                  }
                },
                "required": [
                  "file"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "file_path": {
                      "type": "string",
                      "description": "Public URL of the uploaded PDF",
                      "example": "https://domain.com/storage/catalogues/catalogue-67a3b2c1.pdf"
                    },
                    "original_name": {
                      "type": "string",
                      "description": "Original file name",
                      "example": "catalogue-2026.pdf"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation failed"
          }
        }
      },
      "delete": {
        "tags": [
          "admin/catalogue"
        ],
        "summary": "Delete catalogue PDF",
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/admin/general-info": {
      "get": {
        "tags": [
          "admin/general-info"
        ],
        "summary": "List of general informations",
        "responses": {
          "200": {
            "description": "successful operation"
          }
        }
      },
      "patch": {
        "tags": [
          "admin/general-info"
        ],
        "summary": "Update general information",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "form": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "enum": [
                            "emails",
                            "addresses",
                            "phones",
                            "schedule",
                            "socials"
                          ]
                        },
                        "data_en": {
                          "type": "string"
                        },
                        "data_ru": {
                          "type": "string"
                        },
                        "active": {
                          "type": "boolean"
                        }
                      }
                    },
                    "required": [
                      "type",
                      "data_en",
                      "data_ru",
                      "active"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "successful operation"
          },
          "400": {
            "description": "validation error"
          }
        }
      }
    },
    "/admin/home/slide": {
      "get": {
        "tags": [
          "admin/home"
        ],
        "summary": "get images from slider",
        "responses": {
          "200": {
            "description": "successful operation"
          }
        }
      },
      "post": {
        "tags": [
          "admin/home"
        ],
        "summary": "add slide in slider",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "order": {
                    "type": "integer",
                    "description": "Order image in slider",
                    "example": 1,
                    "minimum": 1
                  },
                  "link": {
                    "type": "string",
                    "format": "uri",
                    "description": "Link href for images (required url format)"
                  },
                  "file_sm": {
                    "type": "string",
                    "format": "binary",
                    "description": "Image small",
                    "maxLength": 1024
                  },
                  "file_md": {
                    "type": "string",
                    "format": "binary",
                    "description": "Image medium",
                    "maxLength": 1024
                  },
                  "file_lg": {
                    "type": "string",
                    "format": "binary",
                    "description": "Image large",
                    "maxLength": 1024
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "successful operation"
          },
          "422": {
            "description": "validation failed"
          }
        }
      }
    },
    "/admin/home/slide/{homeSlide}": {
      "patch": {
        "tags": [
          "admin/home"
        ],
        "summary": "update slide from slider",
        "parameters": [
          {
            "in": "path",
            "name": "homeSlide",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "id slide"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "order": {
                    "type": "integer",
                    "description": "Order image in slider",
                    "example": 1,
                    "minimum": 1
                  },
                  "link": {
                    "type": "string",
                    "format": "uri",
                    "description": "Link href for images (required url format)"
                  },
                  "file_sm": {
                    "type": "string",
                    "format": "binary",
                    "description": "Image small",
                    "maxLength": 1024
                  },
                  "file_md": {
                    "type": "string",
                    "format": "binary",
                    "description": "Image medium",
                    "maxLength": 1024
                  },
                  "file_lg": {
                    "type": "string",
                    "format": "binary",
                    "description": "Image large",
                    "maxLength": 1024
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "successful operation"
          },
          "422": {
            "description": "validatation failed"
          }
        }
      },
      "delete": {
        "tags": [
          "admin/home"
        ],
        "summary": "delete slide from slider",
        "parameters": [
          {
            "in": "path",
            "name": "homeSlide",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "id slide"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
          }
        }
      }
    },
    "/admin/home/bestsellers": {
      "get": {
        "tags": [
          "admin/home"
        ],
        "summary": "Get informations for product bestseller",
        "responses": {
          "200": {
            "description": "successful operation"
          }
        }
      },
      "patch": {
        "tags": [
          "admin/home"
        ],
        "summary": "Update product bestseller from home",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "link": {
                    "type": "string",
                    "description": "Link href of the bestseller"
                  },
                  "title_en": {
                    "type": "string",
                    "description": "Title of the bestseller (EN)"
                  },
                  "title_ru": {
                    "type": "string",
                    "description": "Title of the bestseller (RU)"
                  },
                  "description_en": {
                    "type": "string",
                    "description": "Description of the bestseller (EN)"
                  },
                  "description_ru": {
                    "type": "string",
                    "description": "Description of the bestseller (RU)"
                  },
                  "image": {
                    "type": "string",
                    "format": "binary",
                    "description": "Banner bestseller for PC",
                    "maxLength": 2048
                  },
                  "image_md": {
                    "type": "string",
                    "format": "binary",
                    "description": "Banner bestseller for tablet",
                    "maxLength": 2048
                  },
                  "image_sm": {
                    "type": "string",
                    "format": "binary",
                    "description": "Banner bestseller for mobile",
                    "maxLength": 2048
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "successful operation"
          },
          "422": {
            "description": "validatation failed"
          }
        }
      }
    },
    "/admin/product": {
      "get": {
        "tags": [
          "admin/product"
        ],
        "summary": "list of products",
        "parameters": [
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            },
            "description": "page of results"
          },
          {
            "in": "query",
            "name": "items_per_page",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 15
            },
            "description": "items per page"
          },
          {
            "in": "query",
            "name": "category_id",
            "schema": {
              "type": "integer"
            },
            "description": "category id"
          },
          {
            "in": "query",
            "name": "subcategory_id",
            "schema": {
              "type": "integer"
            },
            "description": "subcategory id"
          },
          {
            "in": "query",
            "name": "title",
            "schema": {
              "type": "string"
            },
            "description": "title of product"
          },
          {
            "in": "query",
            "name": "article_number",
            "schema": {
              "type": "string"
            },
            "description": "article number of product"
          },
          {
            "in": "query",
            "name": "search",
            "schema": {
              "type": "string"
            },
            "description": "search by title of product OR number of product"
          },
          {
            "in": "query",
            "name": "all",
            "schema": {
              "type": "boolean"
            },
            "description": "Display all products without pagination and filters."
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
          },
          "422": {
            "description": "validatation failed"
          }
        }
      },
      "post": {
        "tags": [
          "admin/product"
        ],
        "summary": "add product",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "category_id": {
                    "type": "integer",
                    "description": "Category Id"
                  },
                  "subcategory_id": {
                    "type": "integer",
                    "description": "Subcategory Id"
                  },
                  "article_number": {
                    "type": "integer",
                    "description": "Article number of the product",
                    "example": 1234567890,
                    "minimum": 1000000000,
                    "maximum": 9999999999
                  },
                  "slug": {
                    "type": "string",
                    "description": "Slug of the product"
                  },
                  "primary_image": {
                    "type": "string",
                    "format": "binary",
                    "description": "Main image displayed in the catalog",
                    "maxLength": 1024
                  },
                  "active": {
                    "type": "boolean",
                    "description": "Indicates if the item is visible in the catalog"
                  },
                  "stock": {
                    "type": "integer",
                    "description": "Stock quantity of the product",
                    "minimum": 0
                  },
                  "order": {
                    "type": "integer",
                    "description": "Order of the product",
                    "minimum": 1
                  },
                  "video_url": {
                    "type": "string",
                    "description": "URL linking to the product video"
                  },
                  "brand": {
                    "type": "string",
                    "description": "Brand of the product"
                  },
                  "seo_image": {
                    "type": "string",
                    "format": "binary",
                    "description": "Seo image"
                  },
                  "seo_title_en": {
                    "type": "string",
                    "description": "SEO Title of the product (EN)"
                  },
                  "seo_title_ru": {
                    "type": "string",
                    "description": "SEO Title of the product (RU)"
                  },
                  "seo_description_en": {
                    "type": "string",
                    "description": "SEO Description of the product (EN)"
                  },
                  "seo_description_ru": {
                    "type": "string",
                    "description": "SEO Description of the product (RU)"
                  },
                  "seo_content_en": {
                    "type": "string",
                    "description": "SEO content in English"
                  },
                  "seo_content_ru": {
                    "type": "string",
                    "description": "SEO content in Russian"
                  },
                  "title_en": {
                    "type": "string",
                    "description": "Title of the product (EN)"
                  },
                  "title_ru": {
                    "type": "string",
                    "description": "Title of the product (RU)"
                  },
                  "description_en": {
                    "type": "string",
                    "description": "Description of the product (EN)"
                  },
                  "description_ru": {
                    "type": "string",
                    "description": "Description of the product (RU)"
                  },
                  "main_attributes": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "name_en": {
                          "type": "string",
                          "maxLength": 255
                        },
                        "name_ru": {
                          "type": "string",
                          "maxLength": 255
                        },
                        "value_en": {
                          "type": "string"
                        },
                        "value_ru": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "secondary_attributes": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "name_en": {
                          "type": "string",
                          "maxLength": 255
                        },
                        "name_ru": {
                          "type": "string",
                          "maxLength": 255
                        },
                        "value_en": {
                          "type": "string"
                        },
                        "value_ru": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "files": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "binary"
                    },
                    "format": "binary",
                    "description": "Files for instructions",
                    "maxLength": 2048
                  },
                  "images": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "binary"
                    },
                    "format": "binary",
                    "description": "Images for instructions",
                    "maxLength": 1024
                  },
                  "colors": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "name_en": {
                          "type": "string",
                          "maxLength": 255
                        },
                        "name_ru": {
                          "type": "string",
                          "maxLength": 255
                        },
                        "hex": {
                          "type": "string",
                          "description": "HEX color code",
                          "pattern": "^#([A-Fa-f0-9]{6})$",
                          "maxLength": 7
                        },
                        "linked_product_id": {
                          "type": "integer",
                          "minimum": 1
                        }
                      }
                    }
                  },
                  "colors_label": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "title_en": {
                          "type": "string",
                          "maxLength": 255
                        },
                        "title_ru": {
                          "type": "string",
                          "maxLength": 255
                        }
                      }
                    }
                  },
                  "types": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "name_en": {
                          "type": "string",
                          "maxLength": 255
                        },
                        "name_ru": {
                          "type": "string",
                          "maxLength": 255
                        },
                        "linked_product_id": {
                          "type": "integer",
                          "minimum": 1
                        }
                      }
                    }
                  },
                  "types_label": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "title_en": {
                          "type": "string",
                          "maxLength": 255
                        },
                        "title_ru": {
                          "type": "string",
                          "maxLength": 255
                        }
                      }
                    }
                  },
                  "filters": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "product_id": {
                          "type": "integer"
                        },
                        "name_en": {
                          "type": "string",
                          "maxLength": 255
                        },
                        "name_ru": {
                          "type": "string",
                          "maxLength": 255
                        },
                        "value_en": {
                          "type": "string",
                          "maxLength": 255
                        },
                        "value_ru": {
                          "type": "string",
                          "maxLength": 255
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "successful operation"
          },
          "422": {
            "description": "validation failed"
          }
        }
      }
    },
    "/admin/product/{product}": {
      "get": {
        "tags": [
          "admin/product"
        ],
        "summary": "show product",
        "parameters": [
          {
            "in": "path",
            "name": "product",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID of the product"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "404": {
            "description": "Product with this ID not found"
          }
        }
      },
      "patch": {
        "tags": [
          "admin/product"
        ],
        "summary": "Edit product (without images & files)",
        "parameters": [
          {
            "in": "path",
            "name": "product",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID of the product"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "category_id": {
                    "type": "integer",
                    "description": "Category Id"
                  },
                  "subcategory_id": {
                    "type": "integer",
                    "description": "Subcategory Id"
                  },
                  "article_number": {
                    "type": "integer",
                    "description": "Article number of the product",
                    "example": 1234567890,
                    "minimum": 1000000000,
                    "maximum": 9999999999
                  },
                  "slug": {
                    "type": "string",
                    "description": "Slug of the product"
                  },
                  "active": {
                    "type": "boolean",
                    "description": "Indicates if the item is visible in the catalog"
                  },
                  "stock": {
                    "type": "integer",
                    "description": "Stock quantity of the product",
                    "minimum": 0
                  },
                  "video_url": {
                    "type": "string",
                    "description": "URL linking to the product video"
                  },
                  "brand": {
                    "type": "string",
                    "description": "Brand of the product"
                  },
                  "seo_title_en": {
                    "type": "string",
                    "description": "SEO Title of the product (EN)"
                  },
                  "seo_title_ru": {
                    "type": "string",
                    "description": "SEO Title of the product (RU)"
                  },
                  "seo_description_en": {
                    "type": "string",
                    "description": "SEO Description of the product (EN)"
                  },
                  "seo_description_ru": {
                    "type": "string",
                    "description": "SEO Description of the product (RU)"
                  },
                  "seo_content_en": {
                    "type": "string",
                    "description": "SEO content in English"
                  },
                  "seo_content_ru": {
                    "type": "string",
                    "description": "SEO content in Russian"
                  },
                  "title_en": {
                    "type": "string",
                    "description": "Title of the product (EN)"
                  },
                  "title_ru": {
                    "type": "string",
                    "description": "Title of the product (RU)"
                  },
                  "description_en": {
                    "type": "string",
                    "description": "Description of the product (EN)"
                  },
                  "description_ru": {
                    "type": "string",
                    "description": "Description of the product (RU)"
                  },
                  "main_attributes": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "name_en": {
                          "type": "string",
                          "maxLength": 255
                        },
                        "name_ru": {
                          "type": "string",
                          "maxLength": 255
                        },
                        "value_en": {
                          "type": "string"
                        },
                        "value_ru": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "secondary_attributes": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "name_en": {
                          "type": "string",
                          "maxLength": 255
                        },
                        "name_ru": {
                          "type": "string",
                          "maxLength": 255
                        },
                        "value_en": {
                          "type": "string"
                        },
                        "value_ru": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "colors": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "name_en": {
                          "type": "string",
                          "maxLength": 255
                        },
                        "name_ru": {
                          "type": "string",
                          "maxLength": 255
                        },
                        "hex": {
                          "type": "string",
                          "description": "HEX color code",
                          "pattern": "^#([A-Fa-f0-9]{6})$",
                          "maxLength": 7
                        },
                        "linked_product_id": {
                          "type": "integer",
                          "minimum": 1
                        }
                      }
                    }
                  },
                  "colors_label": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "title_en": {
                          "type": "string",
                          "maxLength": 255
                        },
                        "title_ru": {
                          "type": "string",
                          "maxLength": 255
                        }
                      }
                    }
                  },
                  "types": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "name_en": {
                          "type": "string",
                          "maxLength": 255
                        },
                        "name_ru": {
                          "type": "string",
                          "maxLength": 255
                        },
                        "linked_product_id": {
                          "type": "integer",
                          "minimum": 1
                        }
                      }
                    }
                  },
                  "types_label": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "title_en": {
                          "type": "string",
                          "maxLength": 255
                        },
                        "title_ru": {
                          "type": "string",
                          "maxLength": 255
                        }
                      }
                    }
                  },
                  "filters": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "product_id": {
                          "type": "integer"
                        },
                        "name_en": {
                          "type": "string",
                          "maxLength": 255
                        },
                        "name_ru": {
                          "type": "string",
                          "maxLength": 255
                        },
                        "value_en": {
                          "type": "string",
                          "maxLength": 255
                        },
                        "value_ru": {
                          "type": "string",
                          "maxLength": 255
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "successful operation"
          },
          "422": {
            "description": "validation failed"
          }
        }
      },
      "delete": {
        "tags": [
          "admin/product"
        ],
        "summary": "delete product (with translations etc)",
        "parameters": [
          {
            "in": "path",
            "name": "product",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "id product"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
          }
        }
      }
    },
    "/admin/product/{product}/primary-image": {
      "patch": {
        "tags": [
          "admin/product"
        ],
        "summary": "Update primary image of the product",
        "parameters": [
          {
            "in": "path",
            "name": "product",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID of the product"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "image": {
                    "type": "string",
                    "format": "binary",
                    "description": "Image",
                    "maxLength": 1024
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "404": {
            "description": "Product with this ID not found"
          },
          "422": {
            "description": "validation failed"
          }
        }
      }
    },
    "/admin/product/{product}/seo-image": {
      "patch": {
        "tags": [
          "admin/product"
        ],
        "summary": "Update seo image of the product",
        "parameters": [
          {
            "in": "path",
            "name": "product",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID of the product"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "image": {
                    "type": "string",
                    "format": "binary",
                    "description": "Image",
                    "maxLength": 1024
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "404": {
            "description": "Product with this ID not found"
          },
          "422": {
            "description": "validation failed"
          }
        }
      }
    },
    "/admin/product/{product}/images": {
      "post": {
        "tags": [
          "admin/product"
        ],
        "summary": "Add images to product",
        "parameters": [
          {
            "in": "path",
            "name": "product",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID of the product"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "images": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "binary"
                    },
                    "format": "binary",
                    "description": "Images for product",
                    "maxLength": 1024
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "404": {
            "description": "Product with this ID not found"
          },
          "422": {
            "description": "validation failed"
          }
        }
      }
    },
    "/admin/product/{product}/files": {
      "post": {
        "tags": [
          "admin/product"
        ],
        "summary": "Add files to product",
        "parameters": [
          {
            "in": "path",
            "name": "product",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID of the product"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "files": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "binary"
                    },
                    "format": "binary",
                    "description": "Files for product",
                    "maxLength": 1024
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "404": {
            "description": "Product with this ID not found"
          },
          "422": {
            "description": "validation failed"
          }
        }
      }
    },
    "/admin/product/{product}/images/{productImage}": {
      "delete": {
        "tags": [
          "admin/product"
        ],
        "summary": "Delete image of the product",
        "parameters": [
          {
            "in": "path",
            "name": "product",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID of the product"
          },
          {
            "in": "path",
            "name": "productImage",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Product Image ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "404": {
            "description": "Product or Product File with this ID not found"
          }
        }
      }
    },
    "/admin/product/{product}/files/{productFile}": {
      "delete": {
        "tags": [
          "admin/product"
        ],
        "summary": "Delete file of the product",
        "parameters": [
          {
            "in": "path",
            "name": "product",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID of the product"
          },
          {
            "in": "path",
            "name": "productFile",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Product File ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "404": {
            "description": "Product or Product File with this ID not found"
          }
        }
      }
    },
    "/admin/product-order": {
      "patch": {
        "tags": [
          "admin/product"
        ],
        "summary": "Update product order",
        "parameters": [
          {
            "in": "query",
            "name": "body",
            "description": "The list of products to update",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "products": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "format": "int32",
                        "minimum": 1,
                        "description": "The ID of the product"
                      },
                      "order": {
                        "type": "integer",
                        "format": "int32",
                        "minimum": 1,
                        "description": "The new order of the product"
                      }
                    }
                  },
                  "minItems": 1
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        }
      }
    },
    "/admin/product-home": {
      "get": {
        "tags": [
          "admin/product-home"
        ],
        "summary": "Get all home products",
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        }
      },
      "post": {
        "tags": [
          "admin/product-home"
        ],
        "summary": "Add home products",
        "parameters": [
          {
            "in": "query",
            "name": "body",
            "description": "The list of products to update",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "products": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "product_id": {
                        "type": "integer",
                        "format": "int32",
                        "minimum": 1,
                        "description": "ID of the product"
                      }
                    }
                  },
                  "minItems": 1
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        }
      }
    },
    "/admin/product-home/order": {
      "patch": {
        "tags": [
          "admin/product-home"
        ],
        "summary": "Update order home products",
        "parameters": [
          {
            "in": "query",
            "name": "body",
            "description": "The list of products to update",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "products": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "format": "int32",
                        "minimum": 1,
                        "description": "ID of home product (not product_id)"
                      },
                      "order": {
                        "type": "integer",
                        "format": "int32",
                        "minimum": 1,
                        "description": "The order of the product"
                      }
                    }
                  },
                  "minItems": 1
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        }
      }
    },
    "/admin/product-home/{homeProduct}": {
      "delete": {
        "tags": [
          "admin/product-home"
        ],
        "summary": "Delete product from home",
        "parameters": [
          {
            "in": "path",
            "name": "homeProduct",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID of the home product"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "404": {
            "description": "Home product with this ID not found"
          }
        }
      }
    },
    "/admin/seopage": {
      "get": {
        "tags": [
          "admin/seopage"
        ],
        "summary": "Get seo pages",
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        }
      }
    },
    "/admin/seopage/{seoPage}": {
      "patch": {
        "tags": [
          "admin/seopage"
        ],
        "summary": "Update seo page",
        "parameters": [
          {
            "in": "path",
            "name": "seoPage",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID of the seo page"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "page_title_en": {
                    "type": "string",
                    "maxLength": 255,
                    "description": "Page title in English"
                  },
                  "page_title_ru": {
                    "type": "string",
                    "maxLength": 255,
                    "description": "Page title in Russian"
                  },
                  "seo_image": {
                    "type": "string",
                    "format": "binary",
                    "description": "SEO image"
                  },
                  "seo_title_en": {
                    "type": "string",
                    "maxLength": 255,
                    "description": "SEO title in English"
                  },
                  "seo_title_ru": {
                    "type": "string",
                    "maxLength": 255,
                    "description": "SEO title in Russian"
                  },
                  "seo_description_en": {
                    "type": "string",
                    "description": "SEO description in English"
                  },
                  "seo_description_ru": {
                    "type": "string",
                    "description": "SEO description in Russian"
                  },
                  "seo_content_en": {
                    "type": "string",
                    "description": "SEO content in English"
                  },
                  "seo_content_ru": {
                    "type": "string",
                    "description": "SEO content in Russian"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "404": {
            "description": "Seo page with this ID not found"
          }
        }
      }
    },
    "/admin/user/change-passsword": {
      "patch": {
        "tags": [
          "admin/user"
        ],
        "summary": "Change password",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "password": {
                    "type": "string",
                    "description": "New password."
                  },
                  "password_confirmation": {
                    "type": "string",
                    "description": "Confirm new password."
                  }
                },
                "required": [
                  "password"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation."
          },
          "422": {
            "description": "Validatation failed."
          }
        }
      }
    },
    "/admin/quote-request": {
      "get": {
        "tags": [
          "admin/quote-request"
        ],
        "summary": "Get paginated list of quote requests with filters",
        "parameters": [
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            },
            "description": "Page number"
          },
          {
            "in": "query",
            "name": "items_per_page",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 15
            },
            "description": "Items per page"
          },
          {
            "in": "query",
            "name": "search",
            "schema": {
              "type": "string"
            },
            "description": "Search across full_name, email, phone_number, product_article_number, message"
          },
          {
            "in": "query",
            "name": "full_name",
            "schema": {
              "type": "string"
            },
            "description": "Filter by full name"
          },
          {
            "in": "query",
            "name": "email",
            "schema": {
              "type": "string"
            },
            "description": "Filter by email"
          },
          {
            "in": "query",
            "name": "phone_number",
            "schema": {
              "type": "string"
            },
            "description": "Filter by phone number"
          },
          {
            "in": "query",
            "name": "product_id",
            "schema": {
              "type": "integer"
            },
            "description": "Filter by product ID"
          },
          {
            "in": "query",
            "name": "product_article_number",
            "schema": {
              "type": "string"
            },
            "description": "Filter by product article number"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer"
                          },
                          "full_name": {
                            "type": "string"
                          },
                          "email": {
                            "type": "string"
                          },
                          "phone_number": {
                            "type": "string"
                          },
                          "message": {
                            "type": "string"
                          },
                          "product_id": {
                            "type": "integer",
                            "nullable": true
                          },
                          "product_article_number": {
                            "type": "string",
                            "nullable": true
                          },
                          "product_title": {
                            "type": "string",
                            "nullable": true
                          },
                          "created_at": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "updated_at": {
                            "type": "string",
                            "format": "date-time"
                          }
                        }
                      }
                    },
                    "total_items": {
                      "type": "integer"
                    },
                    "items_per_page": {
                      "type": "integer"
                    },
                    "current_page": {
                      "type": "integer"
                    },
                    "total_pages": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/admin/quote-request/{quoteRequest}": {
      "delete": {
        "tags": [
          "admin/quote-request"
        ],
        "summary": "Delete a quote request",
        "parameters": [
          {
            "in": "path",
            "name": "quoteRequest",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Quote request ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Quote request not found"
          }
        }
      }
    }
  }
}