{
  "openapi": "3.0.0",
  "info": {
    "description": "Postmark makes sending and receiving email\nincredibly easy.\n",
    "title": "Postmark API",
    "version": "1.0.0",
    "x-jentic-source-url": "https://raw.githubusercontent.com/jentic/jentic-public-apis/refs/heads/main/apis/openapi/postmarkapp.com/server/1.0.0/openapi.json",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://api.postmarkapp.com"
    }
  ],
  "paths": {
    "/bounces": {
      "get": {
        "parameters": [
          {
            "description": "The token associated with the Server on which this request will operate.",
            "in": "header",
            "name": "X-Postmark-Server-Token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Number of bounces to return per request. Max 500.",
            "in": "query",
            "name": "count",
            "required": true,
            "schema": {
              "maximum": 500,
              "type": "integer"
            }
          },
          {
            "description": "Number of bounces to skip.",
            "in": "query",
            "name": "offset",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "Filter by type of bounce",
            "in": "query",
            "name": "type",
            "schema": {
              "enum": [
                "HardBounce",
                "Transient",
                "Unsubscribe",
                "Subscribe",
                "AutoResponder",
                "AddressChange",
                "DnsError",
                "SpamNotification",
                "OpenRelayTest",
                "Unknown",
                "SoftBounce",
                "VirusNotification",
                "MailFrontier Matador.",
                "BadEmailAddress",
                "SpamComplaint",
                "ManuallyDeactivated",
                "Unconfirmed",
                "Blocked",
                "SMTPApiError",
                "InboundError",
                "DMARCPolicy",
                "TemplateRenderingFailed"
              ],
              "type": "string"
            }
          },
          {
            "description": "Filter by emails that were deactivated by Postmark due to the bounce. Set to true or false. If this isn't specified it will return both active and inactive.",
            "in": "query",
            "name": "inactive",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "Filter by email address",
            "in": "query",
            "name": "emailFilter",
            "schema": {
              "format": "email",
              "type": "string"
            }
          },
          {
            "description": "Filter by messageID",
            "in": "query",
            "name": "messageID",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filter by tag",
            "in": "query",
            "name": "tag",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filter messages up to the date specified. e.g. `2014-02-01`",
            "in": "query",
            "name": "todate",
            "schema": {
              "format": "date",
              "type": "string"
            }
          },
          {
            "description": "Filter messages starting from the date specified. e.g. `2014-02-01`",
            "in": "query",
            "name": "fromdate",
            "schema": {
              "format": "date",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BounceSearchResponse"
                }
              }
            },
            "description": "OK"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "tags": [
          "Bounces API"
        ],
        "operationId": "getBounces",
        "summary": "Get bounces",
        "description": "Get bounces"
      }
    },
    "/bounces/{bounceid}": {
      "get": {
        "parameters": [
          {
            "description": "The token associated with the Server on which this request will operate.",
            "in": "header",
            "name": "X-Postmark-Server-Token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The ID of the bounce to retrieve.",
            "in": "path",
            "name": "bounceid",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BounceInfoResponse"
                }
              }
            },
            "description": "OK"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "tags": [
          "Bounces API"
        ],
        "operationId": "getSingleBounce",
        "summary": "Get a single bounce",
        "description": "Get a single bounce"
      }
    },
    "/bounces/{bounceid}/activate": {
      "put": {
        "parameters": [
          {
            "description": "The token associated with the Server on which this request will operate.",
            "in": "header",
            "name": "X-Postmark-Server-Token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The ID of the Bounce to activate.",
            "in": "path",
            "name": "bounceid",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BounceActivationResponse"
                }
              }
            },
            "description": "OK"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "tags": [
          "Bounces API"
        ],
        "operationId": "activateBounce",
        "summary": "Activate a bounce",
        "description": "Activate a bounce"
      }
    },
    "/bounces/{bounceid}/dump": {
      "get": {
        "parameters": [
          {
            "description": "The token associated with the Server on which this request will operate.",
            "in": "header",
            "name": "X-Postmark-Server-Token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The ID for the bounce dump to retrieve.",
            "in": "path",
            "name": "bounceid",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BounceDumpResponse"
                }
              }
            },
            "description": "OK"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "tags": [
          "Bounces API"
        ],
        "summary": "Get bounce dump",
        "description": "Get bounce dump",
        "operationId": "get_bounces_bounceid_dump"
      }
    },
    "/deliverystats": {
      "get": {
        "parameters": [
          {
            "description": "The token associated with the Server on which this request will operate.",
            "in": "header",
            "name": "X-Postmark-Server-Token",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeliveryStatsResponse"
                }
              }
            },
            "description": "OK"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "tags": [
          "Bounces API"
        ],
        "operationId": "getDeliveryStats",
        "summary": "Get delivery stats",
        "description": "Get delivery stats"
      }
    },
    "/email": {
      "post": {
        "parameters": [
          {
            "description": "The token associated with the Server on which this request will operate.",
            "in": "header",
            "name": "X-Postmark-Server-Token",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SendEmailResponse"
                }
              }
            },
            "description": "OK"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "tags": [
          "Sending API"
        ],
        "operationId": "sendEmail",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SendEmailRequest"
              }
            }
          }
        },
        "summary": "Send a single email",
        "description": "Send a single email"
      }
    },
    "/email/batch": {
      "post": {
        "parameters": [
          {
            "description": "The token associated with the Server on which this request will operate.",
            "in": "header",
            "name": "X-Postmark-Server-Token",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SendEmailBatchResponse"
                }
              }
            },
            "description": "OK"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "tags": [
          "Sending API"
        ],
        "operationId": "sendEmailBatch",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SendEmailBatchRequest"
              }
            }
          }
        },
        "summary": "Send a batch of emails",
        "description": "Send a batch of emails"
      }
    },
    "/email/batchWithTemplates": {
      "post": {
        "parameters": [
          {
            "description": "The token associated with the Server on which this request will operate.",
            "in": "header",
            "name": "X-Postmark-Server-Token",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SendEmailBatchResponse"
                }
              }
            },
            "description": "OK"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "tags": [
          "Sending API",
          "Templates API"
        ],
        "operationId": "sendEmailBatchWithTemplates",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SendEmailTemplatedBatchRequest"
              }
            }
          },
          "required": true
        },
        "summary": "Send a batch of email using templates.",
        "description": "Send a batch of email using templates."
      }
    },
    "/email/withTemplate": {
      "post": {
        "parameters": [
          {
            "description": "The token associated with the Server on which this request will operate.",
            "in": "header",
            "name": "X-Postmark-Server-Token",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SendEmailResponse"
                }
              }
            },
            "description": "OK"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "tags": [
          "Sending API",
          "Templates API"
        ],
        "operationId": "sendEmailWithTemplate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmailWithTemplateRequest"
              }
            }
          },
          "required": true
        },
        "summary": "Send an email using a Template",
        "description": "Send an email using a Template"
      }
    },
    "/messages/inbound": {
      "get": {
        "parameters": [
          {
            "description": "The token associated with the Server on which this request will operate.",
            "in": "header",
            "name": "X-Postmark-Server-Token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Number of messages to return per request. Max 500.",
            "in": "query",
            "name": "count",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "Number of messages to skip",
            "in": "query",
            "name": "offset",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "Filter by the user who was receiving the email",
            "in": "query",
            "name": "recipient",
            "schema": {
              "format": "email",
              "type": "string"
            }
          },
          {
            "description": "Filter by the sender email address",
            "in": "query",
            "name": "fromemail",
            "schema": {
              "format": "email",
              "type": "string"
            }
          },
          {
            "description": "Filter by email subject",
            "in": "query",
            "name": "subject",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filter by mailboxhash",
            "in": "query",
            "name": "mailboxhash",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filter by tag",
            "in": "query",
            "name": "tag",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filter by status (`blocked`, `processed`, `queued`, `failed`, `scheduled`)",
            "in": "query",
            "name": "status",
            "schema": {
              "enum": [
                "blocked",
                "processed",
                "queued",
                "failed",
                "scheduled"
              ],
              "type": "string"
            }
          },
          {
            "description": "Filter messages up to the date specified. e.g. `2014-02-01`",
            "in": "query",
            "name": "todate",
            "schema": {
              "format": "date",
              "type": "string"
            }
          },
          {
            "description": "Filter messages starting from the date specified. e.g. `2014-02-01`",
            "in": "query",
            "name": "fromdate",
            "schema": {
              "format": "date",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InboundSearchResponse"
                }
              }
            },
            "description": "OK"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "tags": [
          "Messages API"
        ],
        "operationId": "searchInboundMessages",
        "summary": "Inbound message search",
        "description": "Inbound message search"
      }
    },
    "/messages/inbound/{messageid}/bypass": {
      "put": {
        "parameters": [
          {
            "description": "The token associated with the Server on which this request will operate.",
            "in": "header",
            "name": "X-Postmark-Server-Token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The ID of the message which should bypass inbound rules.",
            "in": "path",
            "name": "messageid",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardPostmarkResponse"
                }
              }
            },
            "description": "OK"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "tags": [
          "Messages API"
        ],
        "operationId": "bypassRulesForInboundMessage",
        "summary": "Bypass rules for a blocked inbound message",
        "description": "Bypass rules for a blocked inbound message"
      }
    },
    "/messages/inbound/{messageid}/details": {
      "get": {
        "parameters": [
          {
            "description": "The token associated with the Server on which this request will operate.",
            "in": "header",
            "name": "X-Postmark-Server-Token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The ID of the message for which to details will be retrieved.",
            "in": "path",
            "name": "messageid",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InboundMessageFullDetailsResponse"
                }
              }
            },
            "description": "OK"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "tags": [
          "Messages API"
        ],
        "operationId": "getInboundMessageDetails",
        "summary": "Inbound message details",
        "description": "Inbound message details"
      }
    },
    "/messages/inbound/{messageid}/retry": {
      "put": {
        "parameters": [
          {
            "description": "The token associated with the Server on which this request will operate.",
            "in": "header",
            "name": "X-Postmark-Server-Token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The ID of the inbound message on which we should retry processing.",
            "in": "path",
            "name": "messageid",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardPostmarkResponse"
                }
              }
            },
            "description": "OK"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "tags": [
          "Messages API"
        ],
        "operationId": "retryInboundMessageProcessing",
        "summary": "Retry a failed inbound message for processing",
        "description": "Retry a failed inbound message for processing"
      }
    },
    "/messages/outbound": {
      "get": {
        "parameters": [
          {
            "description": "The token associated with the Server on which this request will operate.",
            "in": "header",
            "name": "X-Postmark-Server-Token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Number of messages to return per request. Max 500.",
            "in": "query",
            "name": "count",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "Number of messages to skip",
            "in": "query",
            "name": "offset",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "Filter by the user who was receiving the email",
            "in": "query",
            "name": "recipient",
            "schema": {
              "format": "email",
              "type": "string"
            }
          },
          {
            "description": "Filter by the sender email address",
            "in": "query",
            "name": "fromemail",
            "schema": {
              "format": "email",
              "type": "string"
            }
          },
          {
            "description": "Filter by tag",
            "in": "query",
            "name": "tag",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filter by status (`queued` or `sent`)",
            "in": "query",
            "name": "status",
            "schema": {
              "enum": [
                "queued",
                "sent"
              ],
              "type": "string"
            }
          },
          {
            "description": "Filter messages up to the date specified. e.g. `2014-02-01`",
            "in": "query",
            "name": "todate",
            "schema": {
              "format": "date",
              "type": "string"
            }
          },
          {
            "description": "Filter messages starting from the date specified. e.g. `2014-02-01`",
            "in": "query",
            "name": "fromdate",
            "schema": {
              "format": "date",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OutboundSearchResponse"
                }
              }
            },
            "description": "OK"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "tags": [
          "Messages API"
        ],
        "operationId": "searchOutboundMessages",
        "summary": "Outbound message search",
        "description": "Outbound message search"
      }
    },
    "/messages/outbound/clicks": {
      "get": {
        "parameters": [
          {
            "description": "The token associated with the Server on which this request will operate.",
            "in": "header",
            "name": "X-Postmark-Server-Token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Number of message clicks to return per request. Max 500.",
            "in": "query",
            "name": "count",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "Number of messages to skip",
            "in": "query",
            "name": "offset",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "Filter by To, Cc, Bcc",
            "in": "query",
            "name": "recipient",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filter by tag",
            "in": "query",
            "name": "tag",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filter by client name, i.e. Outlook, Gmail",
            "in": "query",
            "name": "client_name",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filter by company, i.e. Microsoft, Apple, Google",
            "in": "query",
            "name": "client_company",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filter by client family, i.e. OS X, Chrome",
            "in": "query",
            "name": "client_family",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filter by full OS name and specific version, i.e. OS X 10.9 Mavericks, Windows 7",
            "in": "query",
            "name": "os_name",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filter by kind of OS used without specific version, i.e. OS X, Windows",
            "in": "query",
            "name": "os_family",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filter by company which produced the OS, i.e. Apple Computer, Inc., Microsoft Corporation",
            "in": "query",
            "name": "os_company",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filter by platform, i.e. webmail, desktop, mobile",
            "in": "query",
            "name": "platform",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filter by country messages were opened in, i.e. Denmark, Russia",
            "in": "query",
            "name": "country",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filter by full name of region messages were opened in, i.e. Moscow, New York",
            "in": "query",
            "name": "region",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filter by full name of region messages were opened in, i.e. Moscow, New York",
            "in": "query",
            "name": "city",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageClickSearchResponse"
                }
              }
            },
            "description": "OK"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "tags": [
          "Messages API"
        ],
        "operationId": "searchClicksForOutboundMessages",
        "summary": "Clicks for a all messages",
        "description": "Clicks for a all messages"
      }
    },
    "/messages/outbound/clicks/{messageid}": {
      "get": {
        "parameters": [
          {
            "description": "The token associated with the Server on which this request will operate.",
            "in": "header",
            "name": "X-Postmark-Server-Token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The ID of the Outbound Message for which click statistics should be retrieved.",
            "in": "path",
            "name": "messageid",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Number of message clicks to return per request. Max 500.",
            "in": "query",
            "name": "count",
            "required": true,
            "schema": {
              "default": 1,
              "maximum": 500,
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "description": "Number of messages to skip.",
            "in": "query",
            "name": "offset",
            "required": true,
            "schema": {
              "default": 0,
              "minimum": 0,
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageClickSearchResponse"
                }
              }
            },
            "description": "OK"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "tags": [
          "Messages API"
        ],
        "operationId": "getClicksForSingleOutboundMessage",
        "summary": "Retrieve Message Clicks",
        "description": "Retrieve Message Clicks"
      }
    },
    "/messages/outbound/opens": {
      "get": {
        "parameters": [
          {
            "description": "The token associated with the Server on which this request will operate.",
            "in": "header",
            "name": "X-Postmark-Server-Token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Number of message opens to return per request. Max 500.",
            "in": "query",
            "name": "count",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "Number of messages to skip",
            "in": "query",
            "name": "offset",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "Filter by To, Cc, Bcc",
            "in": "query",
            "name": "recipient",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filter by tag",
            "in": "query",
            "name": "tag",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filter by client name, i.e. Outlook, Gmail",
            "in": "query",
            "name": "client_name",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filter by company, i.e. Microsoft, Apple, Google",
            "in": "query",
            "name": "client_company",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filter by client family, i.e. OS X, Chrome",
            "in": "query",
            "name": "client_family",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filter by full OS name and specific version, i.e. OS X 10.9 Mavericks, Windows 7",
            "in": "query",
            "name": "os_name",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filter by kind of OS used without specific version, i.e. OS X, Windows",
            "in": "query",
            "name": "os_family",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filter by company which produced the OS, i.e. Apple Computer, Inc., Microsoft Corporation",
            "in": "query",
            "name": "os_company",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filter by platform, i.e. webmail, desktop, mobile",
            "in": "query",
            "name": "platform",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filter by country messages were opened in, i.e. Denmark, Russia",
            "in": "query",
            "name": "country",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filter by full name of region messages were opened in, i.e. Moscow, New York",
            "in": "query",
            "name": "region",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filter by full name of region messages were opened in, i.e. Moscow, New York",
            "in": "query",
            "name": "city",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageOpenSearchResponse"
                }
              }
            },
            "description": "OK"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "tags": [
          "Messages API"
        ],
        "operationId": "searchOpensForOutboundMessages",
        "summary": "Opens for all messages",
        "description": "Opens for all messages"
      }
    },
    "/messages/outbound/opens/{messageid}": {
      "get": {
        "parameters": [
          {
            "description": "The token associated with the Server on which this request will operate.",
            "in": "header",
            "name": "X-Postmark-Server-Token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The ID of the Outbound Message for which open statistics should be retrieved.",
            "in": "path",
            "name": "messageid",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Number of message opens to return per request. Max 500.",
            "in": "query",
            "name": "count",
            "required": true,
            "schema": {
              "default": 1,
              "maximum": 500,
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "description": "Number of messages to skip.",
            "in": "query",
            "name": "offset",
            "required": true,
            "schema": {
              "default": 0,
              "minimum": 0,
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageOpenSearchResponse"
                }
              }
            },
            "description": "OK"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "tags": [
          "Messages API"
        ],
        "operationId": "getOpensForSingleOutboundMessage",
        "summary": "Retrieve Message Opens",
        "description": "Retrieve Message Opens"
      }
    },
    "/messages/outbound/{messageid}/details": {
      "get": {
        "parameters": [
          {
            "description": "The token associated with the Server on which this request will operate.",
            "in": "header",
            "name": "X-Postmark-Server-Token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The ID of the message for which to retrieve details.",
            "in": "path",
            "name": "messageid",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OutboundMessageDetailsResponse"
                }
              }
            },
            "description": "OK"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "tags": [
          "Messages API"
        ],
        "operationId": "getOutboundMessageDetails",
        "summary": "Outbound message details",
        "description": "Outbound message details"
      }
    },
    "/messages/outbound/{messageid}/dump": {
      "get": {
        "parameters": [
          {
            "description": "The token associated with the Server on which this request will operate.",
            "in": "header",
            "name": "X-Postmark-Server-Token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The ID of the message for which to retrieve a dump.",
            "in": "path",
            "name": "messageid",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OutboundMessageDumpResponse"
                }
              }
            },
            "description": "OK"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "tags": [
          "Messages API"
        ],
        "operationId": "getOutboundMessageDump",
        "summary": "Outbound message dump",
        "description": "Outbound message dump"
      }
    },
    "/server": {
      "get": {
        "parameters": [
          {
            "description": "The token associated with the Server on which this request will operate.",
            "in": "header",
            "name": "X-Postmark-Server-Token",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServerConfigurationResponse"
                }
              }
            },
            "description": "OK"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "tags": [
          "Server Configuration API"
        ],
        "operationId": "getCurrentServerConfiguration",
        "summary": "Get Server Configuration",
        "description": "Get Server Configuration"
      },
      "put": {
        "parameters": [
          {
            "description": "The token associated with the Server on which this request will operate.",
            "in": "header",
            "name": "X-Postmark-Server-Token",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServerConfigurationResponse"
                }
              }
            },
            "description": "OK"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "tags": [
          "Server Configuration API"
        ],
        "operationId": "editCurrentServerConfiguration",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EditServerConfigurationRequest"
              }
            }
          },
          "description": "The settings that should be modified for the current server."
        },
        "summary": "Edit Server Configuration",
        "description": "Edit Server Configuration"
      }
    },
    "/stats/outbound": {
      "get": {
        "parameters": [
          {
            "description": "The token associated with the Server on which this request will operate.",
            "in": "header",
            "name": "X-Postmark-Server-Token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filter by tag",
            "in": "query",
            "name": "tag",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filter stats starting from the date specified. e.g. `2014-01-01`",
            "in": "query",
            "name": "fromdate",
            "schema": {
              "format": "date",
              "type": "string"
            }
          },
          {
            "description": "Filter stats up to the date specified. e.g. `2014-02-01`",
            "in": "query",
            "name": "todate",
            "schema": {
              "format": "date",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OutboundOverviewStatsResponse"
                }
              }
            },
            "description": "OK"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "tags": [
          "Stats API"
        ],
        "operationId": "getOutboundOverviewStatistics",
        "summary": "Get outbound overview",
        "description": "Get outbound overview"
      }
    },
    "/stats/outbound/bounces": {
      "get": {
        "parameters": [
          {
            "description": "The token associated with the Server on which this request will operate.",
            "in": "header",
            "name": "X-Postmark-Server-Token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filter by tag",
            "in": "query",
            "name": "tag",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filter stats starting from the date specified. e.g. `2014-01-01`",
            "in": "query",
            "name": "fromdate",
            "schema": {
              "format": "date",
              "type": "string"
            }
          },
          {
            "description": "Filter stats up to the date specified. e.g. `2014-02-01`",
            "in": "query",
            "name": "todate",
            "schema": {
              "format": "date",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "Days": {
                      "items": {
                        "properties": {
                          "Date": {
                            "type": "string"
                          },
                          "HardBounce": {
                            "type": "integer"
                          },
                          "SMTPApiError": {
                            "type": "integer"
                          },
                          "SoftBounce": {
                            "type": "integer"
                          },
                          "Transient": {
                            "type": "integer"
                          }
                        },
                        "type": "object"
                      },
                      "type": "array"
                    },
                    "HardBounce": {
                      "type": "integer"
                    },
                    "SMTPApiError": {
                      "type": "integer"
                    },
                    "SoftBounce": {
                      "type": "integer"
                    },
                    "Transient": {
                      "type": "integer"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "OK"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "tags": [
          "Stats API"
        ],
        "operationId": "getBounceCounts",
        "summary": "Get bounce counts",
        "description": "Get bounce counts"
      }
    },
    "/stats/outbound/clicks": {
      "get": {
        "parameters": [
          {
            "description": "The token associated with the Server on which this request will operate.",
            "in": "header",
            "name": "X-Postmark-Server-Token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filter by tag",
            "in": "query",
            "name": "tag",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filter stats starting from the date specified. e.g. `2014-01-01`",
            "in": "query",
            "name": "fromdate",
            "schema": {
              "format": "date",
              "type": "string"
            }
          },
          {
            "description": "Filter stats up to the date specified. e.g. `2014-02-01`",
            "in": "query",
            "name": "todate",
            "schema": {
              "format": "date",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DynamicResponse"
                }
              }
            },
            "description": "OK"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "tags": [
          "Stats API"
        ],
        "operationId": "getOutboundClickCounts",
        "summary": "Get click counts",
        "description": "Get click counts"
      }
    },
    "/stats/outbound/clicks/browserfamilies": {
      "get": {
        "parameters": [
          {
            "description": "The token associated with the Server on which this request will operate.",
            "in": "header",
            "name": "X-Postmark-Server-Token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filter by tag",
            "in": "query",
            "name": "tag",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filter stats starting from the date specified. e.g. `2014-01-01`",
            "in": "query",
            "name": "fromdate",
            "schema": {
              "format": "date",
              "type": "string"
            }
          },
          {
            "description": "Filter stats up to the date specified. e.g. `2014-02-01`",
            "in": "query",
            "name": "todate",
            "schema": {
              "format": "date",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": "OK"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "tags": [
          "Stats API"
        ],
        "operationId": "getOutboundClickCountsByBrowserFamily",
        "summary": "Get browser usage by family",
        "description": "Get browser usage by family"
      }
    },
    "/stats/outbound/clicks/location": {
      "get": {
        "parameters": [
          {
            "description": "The token associated with the Server on which this request will operate.",
            "in": "header",
            "name": "X-Postmark-Server-Token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filter by tag",
            "in": "query",
            "name": "tag",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filter stats starting from the date specified. e.g. `2014-01-01`",
            "in": "query",
            "name": "fromdate",
            "schema": {
              "format": "date",
              "type": "string"
            }
          },
          {
            "description": "Filter stats up to the date specified. e.g. `2014-02-01`",
            "in": "query",
            "name": "todate",
            "schema": {
              "format": "date",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DynamicResponse"
                }
              }
            },
            "description": "OK"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "tags": [
          "Stats API"
        ],
        "operationId": "getOutboundClickCountsByLocation",
        "summary": "Get clicks by body location",
        "description": "Get clicks by body location"
      }
    },
    "/stats/outbound/clicks/platforms": {
      "get": {
        "parameters": [
          {
            "description": "The token associated with the Server on which this request will operate.",
            "in": "header",
            "name": "X-Postmark-Server-Token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filter by tag",
            "in": "query",
            "name": "tag",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filter stats starting from the date specified. e.g. `2014-01-01`",
            "in": "query",
            "name": "fromdate",
            "schema": {
              "format": "date",
              "type": "string"
            }
          },
          {
            "description": "Filter stats up to the date specified. e.g. `2014-02-01`",
            "in": "query",
            "name": "todate",
            "schema": {
              "format": "date",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DynamicResponse"
                }
              }
            },
            "description": "OK"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "tags": [
          "Stats API"
        ],
        "operationId": "getOutboundClickCountsByPlatform",
        "summary": "Get browser plaform usage",
        "description": "Get browser plaform usage"
      }
    },
    "/stats/outbound/opens": {
      "get": {
        "parameters": [
          {
            "description": "The token associated with the Server on which this request will operate.",
            "in": "header",
            "name": "X-Postmark-Server-Token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filter by tag",
            "in": "query",
            "name": "tag",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filter stats starting from the date specified. e.g. `2014-01-01`",
            "in": "query",
            "name": "fromdate",
            "schema": {
              "format": "date",
              "type": "string"
            }
          },
          {
            "description": "Filter stats up to the date specified. e.g. `2014-02-01`",
            "in": "query",
            "name": "todate",
            "schema": {
              "format": "date",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "Days": {
                      "items": {
                        "properties": {
                          "Date": {
                            "type": "string"
                          },
                          "Opens": {
                            "type": "integer"
                          },
                          "Unique": {
                            "type": "integer"
                          }
                        },
                        "type": "object"
                      },
                      "type": "array"
                    },
                    "Opens": {
                      "type": "integer"
                    },
                    "Unique": {
                      "type": "integer"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "OK"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "tags": [
          "Stats API"
        ],
        "operationId": "getOutboundOpenCounts",
        "summary": "Get email open counts",
        "description": "Get email open counts"
      }
    },
    "/stats/outbound/opens/emailclients": {
      "get": {
        "parameters": [
          {
            "description": "The token associated with the Server on which this request will operate.",
            "in": "header",
            "name": "X-Postmark-Server-Token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filter by tag",
            "in": "query",
            "name": "tag",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filter stats starting from the date specified. e.g. `2014-01-01`",
            "in": "query",
            "name": "fromdate",
            "schema": {
              "format": "date",
              "type": "string"
            }
          },
          {
            "description": "Filter stats up to the date specified. e.g. `2014-02-01`",
            "in": "query",
            "name": "todate",
            "schema": {
              "format": "date",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "Days": {
                      "items": {
                        "$ref": "#/components/schemas/DynamicResponse"
                      },
                      "type": "array"
                    },
                    "Desktop": {
                      "type": "integer"
                    },
                    "Mobile": {
                      "type": "integer"
                    },
                    "Unknown": {
                      "type": "integer"
                    },
                    "WebMail": {
                      "type": "integer"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "OK"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "tags": [
          "Stats API"
        ],
        "operationId": "getOutboundOpenCountsByEmailClient",
        "summary": "Get email client usage",
        "description": "Get email client usage"
      }
    },
    "/stats/outbound/opens/platforms": {
      "get": {
        "parameters": [
          {
            "description": "The token associated with the Server on which this request will operate.",
            "in": "header",
            "name": "X-Postmark-Server-Token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filter by tag",
            "in": "query",
            "name": "tag",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filter stats starting from the date specified. e.g. `2014-01-01`",
            "in": "query",
            "name": "fromdate",
            "schema": {
              "format": "date",
              "type": "string"
            }
          },
          {
            "description": "Filter stats up to the date specified. e.g. `2014-02-01`",
            "in": "query",
            "name": "todate",
            "schema": {
              "format": "date",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "Days": {
                      "items": {
                        "properties": {
                          "Date": {
                            "type": "string"
                          },
                          "Desktop": {
                            "type": "integer"
                          },
                          "Mobile": {
                            "type": "integer"
                          },
                          "Unknown": {
                            "type": "integer"
                          },
                          "WebMail": {
                            "type": "integer"
                          }
                        },
                        "type": "object"
                      },
                      "type": "array"
                    },
                    "Desktop": {
                      "type": "integer"
                    },
                    "Mobile": {
                      "type": "integer"
                    },
                    "Unknown": {
                      "type": "integer"
                    },
                    "WebMail": {
                      "type": "integer"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "OK"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "tags": [
          "Stats API"
        ],
        "operationId": "getOutboundOpenCountsByPlatform",
        "summary": "Get email platform usage",
        "description": "Get email platform usage"
      }
    },
    "/stats/outbound/sends": {
      "get": {
        "parameters": [
          {
            "description": "The token associated with the Server on which this request will operate.",
            "in": "header",
            "name": "X-Postmark-Server-Token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filter by tag",
            "in": "query",
            "name": "tag",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filter stats starting from the date specified. e.g. `2014-01-01`",
            "in": "query",
            "name": "fromdate",
            "schema": {
              "format": "date",
              "type": "string"
            }
          },
          {
            "description": "Filter stats up to the date specified. e.g. `2014-02-01`",
            "in": "query",
            "name": "todate",
            "schema": {
              "format": "date",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SentCountsResponse"
                }
              }
            },
            "description": "OK"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "tags": [
          "Stats API"
        ],
        "operationId": "getSentCounts",
        "summary": "Get sent counts",
        "description": "Get sent counts"
      }
    },
    "/stats/outbound/spam": {
      "get": {
        "parameters": [
          {
            "description": "The token associated with the Server on which this request will operate.",
            "in": "header",
            "name": "X-Postmark-Server-Token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filter by tag",
            "in": "query",
            "name": "tag",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filter stats starting from the date specified. e.g. `2014-01-01`",
            "in": "query",
            "name": "fromdate",
            "schema": {
              "format": "date",
              "type": "string"
            }
          },
          {
            "description": "Filter stats up to the date specified. e.g. `2014-02-01`",
            "in": "query",
            "name": "todate",
            "schema": {
              "format": "date",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "Days": {
                      "items": {
                        "properties": {
                          "Date": {
                            "type": "string"
                          },
                          "SpamComplaint": {
                            "type": "integer"
                          }
                        },
                        "type": "object"
                      },
                      "type": "array"
                    },
                    "SpamComplaint": {
                      "type": "integer"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "OK"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "tags": [
          "Stats API"
        ],
        "operationId": "getSpamComplaints",
        "summary": "Get spam complaints",
        "description": "Get spam complaints"
      }
    },
    "/stats/outbound/tracked": {
      "get": {
        "parameters": [
          {
            "description": "The token associated with the Server on which this request will operate.",
            "in": "header",
            "name": "X-Postmark-Server-Token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filter by tag",
            "in": "query",
            "name": "tag",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filter stats starting from the date specified. e.g. `2014-01-01`",
            "in": "query",
            "name": "fromdate",
            "schema": {
              "format": "date",
              "type": "string"
            }
          },
          {
            "description": "Filter stats starting from the date specified. e.g. `2014-01-01`",
            "in": "query",
            "name": "todate",
            "schema": {
              "format": "date",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "Days": {
                      "items": {
                        "properties": {
                          "Date": {
                            "type": "string"
                          },
                          "Tracked": {
                            "type": "integer"
                          }
                        },
                        "type": "object"
                      },
                      "type": "array"
                    },
                    "Tracked": {
                      "type": "integer"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "OK"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "tags": [
          "Stats API"
        ],
        "operationId": "getTrackedEmailCounts",
        "summary": "Get tracked email counts",
        "description": "Get tracked email counts"
      }
    },
    "/templates": {
      "get": {
        "parameters": [
          {
            "description": "The token associated with the Server on which this request will operate.",
            "in": "header",
            "name": "X-Postmark-Server-Token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The number of Templates to return",
            "in": "query",
            "name": "Count",
            "required": true,
            "schema": {
              "format": "int",
              "type": "number"
            }
          },
          {
            "description": "The number of Templates to \"skip\" before returning results.",
            "in": "query",
            "name": "Offset",
            "required": true,
            "schema": {
              "format": "int",
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TemplateListingResponse"
                }
              }
            },
            "description": "OK"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "tags": [
          "Templates API"
        ],
        "operationId": "listTemplates",
        "summary": "Get the Templates associated with this Server",
        "description": "Get the Templates associated with this Server"
      },
      "post": {
        "parameters": [
          {
            "description": "The token associated with the Server on which this request will operate.",
            "in": "header",
            "name": "X-Postmark-Server-Token",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TemplateRecordResponse"
                }
              }
            },
            "description": "OK"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "tags": [
          "Templates API"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateTemplateRequest"
              }
            }
          },
          "required": true
        },
        "summary": "Create a Template",
        "description": "Create a Template",
        "operationId": "post_templates"
      }
    },
    "/templates/validate": {
      "post": {
        "parameters": [
          {
            "description": "The token associated with the Server on which this request will operate.",
            "in": "header",
            "name": "X-Postmark-Server-Token",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TemplateValidationResponse"
                }
              }
            },
            "description": "OK"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "tags": [
          "Templates API"
        ],
        "operationId": "testTemplateContent",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TemplateValidationRequest"
              }
            }
          }
        },
        "summary": "Test Template Content",
        "description": "Test Template Content"
      }
    },
    "/templates/{templateIdOrAlias}": {
      "delete": {
        "parameters": [
          {
            "description": "The token associated with the Server on which this request will operate.",
            "in": "header",
            "name": "X-Postmark-Server-Token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The 'TemplateID' or 'Alias' value for the Template you wish to delete.",
            "in": "path",
            "name": "templateIdOrAlias",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TemplateDetailResponse"
                }
              }
            },
            "description": "OK"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "tags": [
          "Templates API"
        ],
        "operationId": "deleteTemplate",
        "summary": "Delete a Template",
        "description": "Delete a Template"
      },
      "get": {
        "parameters": [
          {
            "description": "The token associated with the Server on which this request will operate.",
            "in": "header",
            "name": "X-Postmark-Server-Token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The 'TemplateID' or 'Alias' value for the Template you wish to retrieve.",
            "in": "path",
            "name": "templateIdOrAlias",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TemplateDetailResponse"
                }
              }
            },
            "description": "OK"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "tags": [
          "Templates API"
        ],
        "operationId": "getSingleTemplate",
        "summary": "Get a Template",
        "description": "Get a Template"
      },
      "put": {
        "parameters": [
          {
            "description": "The token associated with the Server on which this request will operate.",
            "in": "header",
            "name": "X-Postmark-Server-Token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The 'TemplateID' or 'Alias' value for the Template you wish to update.",
            "in": "path",
            "name": "templateIdOrAlias",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TemplateRecordResponse"
                }
              }
            },
            "description": "OK"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "tags": [
          "Templates API"
        ],
        "operationId": "updateTemplate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EditTemplateRequest"
              }
            }
          },
          "required": true
        },
        "summary": "Update a Template",
        "description": "Update a Template"
      }
    },
    "/triggers/inboundrules": {
      "get": {
        "parameters": [
          {
            "description": "The token associated with the Server on which this request will operate.",
            "in": "header",
            "name": "X-Postmark-Server-Token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Number of records to return per request.",
            "in": "query",
            "name": "count",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "Number of records to skip.",
            "in": "query",
            "name": "offset",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "InboundRules": {
                      "items": {
                        "properties": {
                          "ID": {
                            "type": "integer"
                          },
                          "Rule": {
                            "format": "email",
                            "type": "string"
                          }
                        },
                        "type": "object"
                      },
                      "type": "array"
                    },
                    "TotalCount": {
                      "type": "integer"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "OK"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "tags": [
          "Inbound Rules API"
        ],
        "operationId": "listInboundRules",
        "summary": "List inbound rule triggers",
        "description": "List inbound rule triggers"
      },
      "post": {
        "parameters": [
          {
            "description": "The token associated with the Server on which this request will operate.",
            "in": "header",
            "name": "X-Postmark-Server-Token",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "ID": {
                      "type": "integer"
                    },
                    "Rule": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "OK"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "tags": [
          "Inbound Rules API"
        ],
        "operationId": "createInboundRule",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateInboundRuleRequest"
              }
            }
          }
        },
        "summary": "Create an inbound rule trigger",
        "description": "Create an inbound rule trigger"
      }
    },
    "/triggers/inboundrules/{triggerid}": {
      "delete": {
        "parameters": [
          {
            "description": "The token associated with the Server on which this request will operate.",
            "in": "header",
            "name": "X-Postmark-Server-Token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The ID of the Inbound Rule that should be deleted.",
            "in": "path",
            "name": "triggerid",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardPostmarkResponse"
                }
              }
            },
            "description": "OK"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "tags": [
          "Inbound Rules API"
        ],
        "operationId": "deleteInboundRule",
        "summary": "Delete a single trigger",
        "description": "Delete a single trigger"
      }
    }
  },
  "components": {
    "responses": {
      "422": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/StandardPostmarkResponse"
            }
          }
        },
        "description": "An error was generated due to incorrect use of the API. See the Message associated with this response for more information."
      },
      "500": {
        "description": "Indicates an internal server error occurred."
      }
    },
    "schemas": {
      "Attachment": {
        "description": "An attachment for an email message.",
        "properties": {
          "Content": {
            "type": "string"
          },
          "ContentID": {
            "type": "string"
          },
          "ContentType": {
            "type": "string"
          },
          "Name": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "AttachmentCollection": {
        "items": {
          "$ref": "#/components/schemas/Attachment"
        },
        "type": "array"
      },
      "BounceActivationResponse": {
        "properties": {
          "Bounce": {
            "$ref": "#/components/schemas/BounceInfoResponse"
          },
          "Message": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "BounceCountElement": {
        "properties": {
          "Count": {
            "type": "integer"
          },
          "Name": {
            "type": "string"
          },
          "Type": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "BounceDumpResponse": {
        "properties": {
          "Body": {
            "description": "Raw source of bounce. If no dump is available this will return an empty string.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "BounceInfoResponse": {
        "properties": {
          "BouncedAt": {
            "format": "date-time",
            "type": "string"
          },
          "CanActivate": {
            "type": "boolean"
          },
          "Content": {
            "type": "string"
          },
          "Description": {
            "type": "string"
          },
          "Details": {
            "type": "string"
          },
          "DumpAvailable": {
            "type": "boolean"
          },
          "Email": {
            "format": "email",
            "type": "string"
          },
          "ID": {
            "type": "string"
          },
          "Inactive": {
            "type": "boolean"
          },
          "MessageID": {
            "type": "string"
          },
          "Name": {
            "type": "string"
          },
          "Subject": {
            "type": "string"
          },
          "Tag": {
            "type": "string"
          },
          "Type": {
            "type": "string"
          },
          "TypeCode": {
            "type": "integer"
          }
        },
        "type": "object"
      },
      "BounceSearchResponse": {
        "description": "",
        "properties": {
          "Bounces": {
            "items": {
              "$ref": "#/components/schemas/BounceInfoResponse"
            },
            "type": "array"
          },
          "TotalCount": {
            "type": "integer"
          }
        },
        "type": "object"
      },
      "CreateInboundRuleRequest": {
        "description": "",
        "properties": {
          "Rule": {
            "format": "email",
            "type": "string"
          }
        },
        "type": "object"
      },
      "CreateTemplateRequest": {
        "description": "The contents required for creating a new template.",
        "properties": {
          "Alias": {
            "description": "The optional string identifier for referring to this Template (numbers, letters, and '.', '-', '_' characters, starts with a letter).",
            "type": "string"
          },
          "HtmlBody": {
            "description": "The HTML template definition for this Template.",
            "type": "string"
          },
          "Name": {
            "description": "The friendly display name for the template.",
            "type": "string"
          },
          "Subject": {
            "description": "The Subject template definition for this Template.",
            "type": "string"
          },
          "TextBody": {
            "description": "The Text template definition for this Template.",
            "type": "string"
          }
        },
        "required": [
          "Name",
          "Subject"
        ],
        "type": "object"
      },
      "DeliveryStatsResponse": {
        "description": "",
        "properties": {
          "Bounces": {
            "items": {
              "$ref": "#/components/schemas/BounceCountElement"
            },
            "type": "array"
          },
          "InactiveMails": {
            "type": "integer"
          }
        },
        "type": "object"
      },
      "DynamicResponse": {
        "description": "The properties of this object will vary based request parameters."
      },
      "EditServerConfigurationRequest": {
        "properties": {
          "BounceHookUrl": {
            "type": "string"
          },
          "ClickHookUrl": {
            "description": "Webhook url allowing real-time notification when tracked links are clicked.",
            "type": "string"
          },
          "Color": {
            "enum": [
              "purple",
              "blue",
              "turqoise",
              "green",
              "red",
              "yellow",
              "grey"
            ],
            "type": "string"
          },
          "DeliveryHookUrl": {
            "type": "string"
          },
          "InboundDomain": {
            "type": "string"
          },
          "InboundHookUrl": {
            "type": "string"
          },
          "InboundSpamThreshold": {
            "type": "integer"
          },
          "Name": {
            "type": "string"
          },
          "OpenHookUrl": {
            "type": "string"
          },
          "PostFirstOpenOnly": {
            "type": "boolean"
          },
          "RawEmailEnabled": {
            "type": "boolean"
          },
          "SmtpApiActivated": {
            "type": "boolean"
          },
          "TrackLinks": {
            "enum": [
              "None",
              "HtmlAndText",
              "HtmlOnly",
              "TextOnly"
            ],
            "type": "string"
          },
          "TrackOpens": {
            "type": "boolean"
          }
        },
        "type": "object"
      },
      "EditTemplateRequest": {
        "description": "The contents required for creating a new template.",
        "properties": {
          "Alias": {
            "description": "The optional string identifier for referring to this Template (numbers, letters, and '.', '-', '_' characters, starts with a letter).",
            "type": "string"
          },
          "HtmlBody": {
            "description": "The HTML template definition for this Template.",
            "type": "string"
          },
          "Name": {
            "description": "The friendly display name for the template.",
            "type": "string"
          },
          "Subject": {
            "description": "The Subject template definition for this Template.",
            "type": "string"
          },
          "TextBody": {
            "description": "The Text template definition for this Template.",
            "type": "string"
          }
        },
        "required": [
          "TemplateId"
        ],
        "type": "object"
      },
      "EmailNameAddressPair": {
        "description": "",
        "properties": {
          "Email": {
            "type": "string"
          },
          "Name": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "EmailWithTemplateRequest": {
        "properties": {
          "Attachments": {
            "$ref": "#/components/schemas/AttachmentCollection"
          },
          "Bcc": {
            "format": "email",
            "type": "string"
          },
          "Cc": {
            "format": "email",
            "type": "string"
          },
          "From": {
            "format": "email",
            "type": "string"
          },
          "Headers": {
            "$ref": "#/components/schemas/HeaderCollection"
          },
          "InlineCss": {
            "default": true,
            "type": "boolean"
          },
          "ReplyTo": {
            "type": "string"
          },
          "Tag": {
            "type": "string"
          },
          "TemplateAlias": {
            "description": "Required if 'TemplateId' is not specified.",
            "type": "string"
          },
          "TemplateId": {
            "description": "Required if 'TemplateAlias' is not specified.",
            "type": "integer"
          },
          "TemplateModel": {
            "type": "object"
          },
          "To": {
            "format": "email",
            "type": "string"
          },
          "TrackLinks": {
            "description": "Replace links in content to enable \"click tracking\" stats. Default is 'null', which uses the server's LinkTracking setting'.",
            "enum": [
              "None",
              "HtmlAndText",
              "HtmlOnly",
              "TextOnly"
            ],
            "type": "string"
          },
          "TrackOpens": {
            "description": "Activate open tracking for this email.",
            "type": "boolean"
          }
        },
        "required": [
          "TemplateId",
          "TemplateAlias",
          "TemplateModel",
          "To",
          "From"
        ],
        "type": "object"
      },
      "ExtendedMessageClickEventInformation": {
        "description": "",
        "properties": {
          "ClickLocation": {
            "type": "string"
          },
          "Client": {
            "description": "",
            "properties": {
              "Company": {
                "type": "string"
              },
              "Family": {
                "type": "string"
              },
              "Name": {
                "type": "string"
              }
            },
            "type": "object"
          },
          "Geo": {
            "properties": {
              "City": {
                "type": "string"
              },
              "Coords": {
                "type": "string"
              },
              "Country": {
                "type": "string"
              },
              "CountryISOCode": {
                "type": "string"
              },
              "IP": {
                "type": "string"
              },
              "Region": {
                "type": "string"
              },
              "RegionISOCode": {
                "type": "string"
              },
              "Zip": {
                "type": "string"
              }
            },
            "type": "object"
          },
          "MessageID": {
            "type": "string"
          },
          "OS": {
            "properties": {
              "Company": {
                "type": "string"
              },
              "Family": {
                "type": "string"
              },
              "Name": {
                "type": "string"
              }
            },
            "type": "object"
          },
          "OriginalLink": {
            "type": "string"
          },
          "Platform": {
            "type": "string"
          },
          "ReceivedAt": {
            "format": "date-time",
            "type": "string"
          },
          "Recipient": {
            "format": "email",
            "type": "string"
          },
          "Tag": {
            "type": "string"
          },
          "UserAgent": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "ExtendedMessageOpenEventInformation": {
        "description": "",
        "properties": {
          "Client": {
            "description": "",
            "properties": {
              "Company": {
                "type": "string"
              },
              "Family": {
                "type": "string"
              },
              "Name": {
                "type": "string"
              }
            },
            "type": "object"
          },
          "FirstOpen": {
            "type": "boolean"
          },
          "Geo": {
            "properties": {
              "City": {
                "type": "string"
              },
              "Coords": {
                "type": "string"
              },
              "Country": {
                "type": "string"
              },
              "CountryISOCode": {
                "type": "string"
              },
              "IP": {
                "type": "string"
              },
              "Region": {
                "type": "string"
              },
              "RegionISOCode": {
                "type": "string"
              },
              "Zip": {
                "type": "string"
              }
            },
            "type": "object"
          },
          "MessageID": {
            "type": "string"
          },
          "OS": {
            "properties": {
              "Company": {
                "type": "string"
              },
              "Family": {
                "type": "string"
              },
              "Name": {
                "type": "string"
              }
            },
            "type": "object"
          },
          "Platform": {
            "type": "string"
          },
          "ReceivedAt": {
            "format": "date-time",
            "type": "string"
          },
          "Recipient": {
            "format": "email",
            "type": "string"
          },
          "Tag": {
            "type": "string"
          },
          "UserAgent": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "HeaderCollection": {
        "items": {
          "$ref": "#/components/schemas/MessageHeader"
        },
        "type": "array"
      },
      "InboundMessageDetail": {
        "description": "",
        "properties": {
          "Attachments": {
            "$ref": "#/components/schemas/AttachmentCollection"
          },
          "Cc": {
            "type": "string"
          },
          "CcFull": {
            "items": {
              "$ref": "#/components/schemas/EmailNameAddressPair"
            },
            "type": "array"
          },
          "Date": {
            "type": "string"
          },
          "From": {
            "type": "string"
          },
          "FromFull": {
            "description": "",
            "properties": {
              "Email": {
                "type": "string"
              },
              "Name": {
                "type": "string"
              }
            },
[...]
