{
  "swagger": "2.0",
  "info": {
    "version": "v1",
    "title": "Pharma API",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/globaldata-b3d/pharma-api/v1"
  },
  "host": "apidata.globaldata.com",
  "basePath": "/GlobalDataPharma",
  "schemes": [
    "https"
  ],
  "paths": {
    "/api/BasicDrugs/GetPipelineDrugDetails": {
      "get": {
        "tags": [
          "BasicDrugs"
        ],
        "summary": "Provides the data based on keyword search or Product ID.",
        "operationId": "BasicDrugs_GetPipelineDrugDetails",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "DisplayName",
            "in": "query",
            "description": "Enter Display Name.",
            "required": false,
            "type": "string"
          },
          {
            "name": "Keyword",
            "in": "query",
            "description": "Enter Keyword to search the Data ex: \"Humira\" or Humira.",
            "required": false,
            "type": "string"
          },
          {
            "name": "DrugID",
            "in": "query",
            "description": "Enter Drug ID.",
            "required": false,
            "type": "string"
          },
          {
            "name": "CompanyID",
            "in": "query",
            "description": "Enter Company ID.",
            "required": false,
            "type": "string"
          },
          {
            "name": "FromDate",
            "in": "query",
            "description": "Please input given FromDate ex : DD-MM-YYYY : 22-11-2020.",
            "required": false,
            "type": "string"
          },
          {
            "name": "ToDate",
            "in": "query",
            "description": "Please input given ToDate ex : DD-MM-YYYY : 22-11-2020.",
            "required": false,
            "type": "string"
          },
          {
            "name": "PageNumber",
            "in": "query",
            "description": "Enter Page Number.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "PageSize",
            "in": "query",
            "description": "Please input given PageSize.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "TokenId",
            "in": "header",
            "description": "Please input given: TokenId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/BasicPipelineDrugsDetails"
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/BasicDrugs/GetMarketedDrugDetails": {
      "get": {
        "tags": [
          "BasicDrugs"
        ],
        "summary": "Provides the data based on keyword search or Product ID.",
        "operationId": "BasicDrugs_GetMarketedDrugDetails",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "DisplayName",
            "in": "query",
            "description": "Enter Display Name.",
            "required": false,
            "type": "string"
          },
          {
            "name": "Keyword",
            "in": "query",
            "description": "Enter Keyword to search the Data ex: \"Humira\" or Humira.",
            "required": false,
            "type": "string"
          },
          {
            "name": "DrugID",
            "in": "query",
            "description": "Enter Drug ID.",
            "required": false,
            "type": "string"
          },
          {
            "name": "CompanyID",
            "in": "query",
            "description": "Enter Company ID.",
            "required": false,
            "type": "string"
          },
          {
            "name": "FromDate",
            "in": "query",
            "description": "Please input given FromDate ex : DD-MM-YYYY : 22-11-2020.",
            "required": false,
            "type": "string"
          },
          {
            "name": "ToDate",
            "in": "query",
            "description": "Please input given ToDate ex : DD-MM-YYYY : 22-11-2020.",
            "required": false,
            "type": "string"
          },
          {
            "name": "PageNumber",
            "in": "query",
            "description": "Enter Page Number.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "PageSize",
            "in": "query",
            "description": "Please input given PageSize.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "TokenId",
            "in": "header",
            "description": "Please input given: TokenId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/BasicMarketedDrugsDetails"
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/BasicDrugs/GetDrugsDailyUpdates": {
      "get": {
        "tags": [
          "BasicDrugs"
        ],
        "summary": "Provides the Daily Updates data based on from date and to date.",
        "operationId": "BasicDrugs_GetDrugsDailyUpdates",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "DisplayName",
            "in": "query",
            "description": "Enter Display Name.",
            "required": false,
            "type": "string"
          },
          {
            "name": "FromDate",
            "in": "query",
            "description": "Please input given FromDate ex : DD-MM-YYYY : 22-11-2020.",
            "required": false,
            "type": "string"
          },
          {
            "name": "ToDate",
            "in": "query",
            "description": "Please input given ToDate ex : DD-MM-YYYY : 22-11-2020.",
            "required": false,
            "type": "string"
          },
          {
            "name": "DrugID",
            "in": "query",
            "description": "Enter Drug ID.",
            "required": false,
            "type": "string"
          },
          {
            "name": "Type",
            "in": "query",
            "description": "Enter Type Ex: Pipeline or Marketed.",
            "required": false,
            "type": "string"
          },
          {
            "name": "Status",
            "in": "query",
            "description": "Enter Status Ex: Created, Updated or Deleted.",
            "required": false,
            "type": "string"
          },
          {
            "name": "PageNumber",
            "in": "query",
            "description": "Enter Page Number.",
            "required": false,
            "type": "string"
          },
          {
            "name": "TokenId",
            "in": "header",
            "description": "Please input given: TokenId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DailyUpdatesDrugs"
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/BasicDrugs/GetHistoryofEvents": {
      "get": {
        "tags": [
          "BasicDrugs"
        ],
        "summary": "Provides the data based on DrugID",
        "operationId": "BasicDrugs_GetHistoryofEvents",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "DisplayName",
            "in": "query",
            "description": "Enter Display Name.",
            "required": true,
            "type": "string"
          },
          {
            "name": "DrugID",
            "in": "query",
            "description": "Enter DrugID.",
            "required": false,
            "type": "string"
          },
          {
            "name": "FromDate",
            "in": "query",
            "description": "Please input given FromDate ex : DD-MM-YYYY : 22-11-2020.",
            "required": false,
            "type": "string"
          },
          {
            "name": "ToDate",
            "in": "query",
            "description": "Please input given ToDate ex : DD-MM-YYYY : 22-11-2020.",
            "required": false,
            "type": "string"
          },
          {
            "name": "PageNumber",
            "in": "query",
            "description": "Enter Page Number.",
            "required": false,
            "type": "string"
          },
          {
            "name": "TokenId",
            "in": "header",
            "description": "Please input given: TokenId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/HistoryofEventsList"
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/Biomarker/GetBiomarkersDetails": {
      "get": {
        "tags": [
          "Biomarker"
        ],
        "summary": "Provides the Biomarkers data based on from date and to date",
        "operationId": "Biomarker_GetBiomarkersDetails",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "DisplayName",
            "in": "query",
            "description": "Enter Display Name.",
            "required": false,
            "type": "string"
          },
          {
            "name": "Keyword",
            "in": "query",
            "description": "Enter Keyword.",
            "required": false,
            "type": "string"
          },
          {
            "name": "BiomarkerId",
            "in": "query",
            "description": "Enter BiomarkerId.",
            "required": false,
            "type": "string"
          },
          {
            "name": "ClinicalID",
            "in": "query",
            "description": "Enter Clinical Id ex: 517547,349556.",
            "required": false,
            "type": "string"
          },
          {
            "name": "BiomarkerName",
            "in": "query",
            "description": "Enter BiomarkerName ex: Diacylglycerol O-acyltransferase 2.",
            "required": false,
            "type": "string"
          },
          {
            "name": "BiomarkerIdentifier",
            "in": "query",
            "description": "Enter BiomarkerIdentifier ex: GDBM0002642.",
            "required": false,
            "type": "string"
          },
          {
            "name": "BiomarkerOfficialSymbol",
            "in": "query",
            "description": "Enter BiomarkerOfficialSymbol ex: DGAT2.",
            "required": false,
            "type": "string"
          },
          {
            "name": "SynonymsSymbols",
            "in": "query",
            "description": "Enter SynonymsSymbols ex: acyl-CoA retinol.",
            "required": false,
            "type": "string"
          },
          {
            "name": "Organism",
            "in": "query",
            "description": "Enter Organism ex: Homo sapiens.",
            "required": false,
            "type": "string"
          },
          {
            "name": "GeneID",
            "in": "query",
            "description": "Enter GeneID ex: 84649.",
            "required": false,
            "type": "string"
          },
          {
            "name": "UniProtID",
            "in": "query",
            "description": "Enter UniProtID ex: Q96PD7.",
            "required": false,
            "type": "string"
          },
          {
            "name": "EnzymeCommissionECID",
            "in": "query",
            "description": "Enter EnzymeCommissionECID ex: 2.3.1.20.",
            "required": false,
            "type": "string"
          },
          {
            "name": "Ensembl",
            "in": "query",
            "description": "Enter Ensembl ex: ENSG00000062282.",
            "required": false,
            "type": "string"
          },
          {
            "name": "HGNCID",
            "in": "query",
            "description": "Enter HGNCID ex: 16940.",
            "required": false,
            "type": "string"
          },
          {
            "name": "OMIMID",
            "in": "query",
            "description": "Enter OMIMID ex: 606983.",
            "required": false,
            "type": "string"
          },
          {
            "name": "FromDate",
            "in": "query",
            "description": "Please input given FromDate ex : DD-MM-YYYY : 22-11-2020.",
            "required": false,
            "type": "string"
          },
          {
            "name": "ToDate",
            "in": "query",
            "description": "Please input given ToDate ex : DD-MM-YYYY : 22-11-2020.",
            "required": false,
            "type": "string"
          },
          {
            "name": "PageNumber",
            "in": "query",
            "description": "Enter Page Number.",
            "required": false,
            "type": "string"
          },
          {
            "name": "PageSize",
            "in": "query",
            "description": "Please input given PageSize. PageSize must be less than or equal to 50.",
            "required": false,
            "type": "string"
          },
          {
            "name": "TokenId",
            "in": "header",
            "description": "Please input given: TokenId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Biomarkers"
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/Biomarker/GetBiomarkersDailyUpdates": {
      "get": {
        "tags": [
          "Biomarker"
        ],
        "summary": "Provides the Daily Updates data based on from date and to date",
        "operationId": "Biomarker_GetBiomarkersDailyUpdates",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "DisplayName",
            "in": "query",
            "description": "Enter Display Name.",
            "required": false,
            "type": "string"
          },
          {
            "name": "FromDate",
            "in": "query",
            "description": "Please input given FromDate ex : DD-MM-YYYY : 22-11-2020.",
            "required": false,
            "type": "string"
          },
          {
            "name": "ToDate",
            "in": "query",
            "description": "Please input given ToDate ex : DD-MM-YYYY : 22-11-2020.",
            "required": false,
            "type": "string"
          },
          {
            "name": "BiomarkerId",
            "in": "query",
            "description": "Enter BiomarkerId.",
            "required": false,
            "type": "string"
          },
          {
            "name": "Status",
            "in": "query",
            "description": "Enter Status Ex: Created, Updated or Deleted.",
            "required": false,
            "type": "string"
          },
          {
            "name": "PageNumber",
            "in": "query",
            "description": "Enter Page Number.",
            "required": false,
            "type": "string"
          },
          {
            "name": "TokenId",
            "in": "header",
            "description": "Please input given: TokenId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DailyUpdatesBiomarker"
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/BuyingSignals/GetBuyingSignalsDetails": {
      "get": {
        "tags": [
          "BuyingSignals"
        ],
        "summary": "Get the Buying Signals records based on FromDate and ToDate.",
        "operationId": "BuyingSignals_GetBuyingSignalsDetails",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "FromDate",
            "in": "query",
            "description": "Please input From Date ex: DD-MM-YYYY.",
            "required": false,
            "type": "string"
          },
          {
            "name": "ToDate",
            "in": "query",
            "description": "Please input To Date ex: DD-MM-YYYY.",
            "required": false,
            "type": "string"
          },
          {
            "name": "CompanyID",
            "in": "query",
            "description": "Please input given CompanyIDs ex : 38603,63468,31988,3456263,3745490. Accepts a maximum of 100 IDs per request",
            "required": false,
            "type": "string"
          },
          {
            "name": "CompanyName",
            "in": "query",
            "description": "Please input given CompanyName ex : \"Kakao Pay Corp\".",
            "required": false,
            "type": "string"
          },
          {
            "name": "PageNumber",
            "in": "query",
            "description": "Please input Page Number 1.",
            "required": false,
            "type": "string"
          },
          {
            "name": "PageSize",
            "in": "query",
            "description": "Please input given PageSize 1 max 100.",
            "required": false,
            "type": "string"
          },
          {
            "name": "TokenId",
            "in": "header",
            "description": "Please input given: TokenId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/LeadsListingDetails"
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/Catalyst/GetCatalystDetails": {
      "get": {
        "tags": [
          "Catalyst"
        ],
        "summary": "Provides the data based on keyword search or CatalystId",
        "operationId": "Catalyst_GetCatalystDetails",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "DisplayName",
            "in": "query",
            "description": "Enter Display Name.",
            "required": false,
            "type": "string"
          },
          {
            "name": "PageNumber",
            "in": "query",
            "description": "Enter Page Number.",
            "required": false,
            "type": "string"
          },
          {
            "name": "EventDescription",
            "in": "query",
            "description": "Enter EventDescription to search the Data ex: Phase III Trial Completion.",
            "required": false,
            "type": "string"
          },
          {
            "name": "CatalystId",
            "in": "query",
            "description": "Enter Catalyst Id.",
            "required": false,
            "type": "string"
          },
          {
            "name": "ClinicalId",
            "in": "query",
            "description": "Enter Clinical Id.",
            "required": false,
            "type": "string"
          },
          {
            "name": "CompanyId",
            "in": "query",
            "description": "Enter Company Id.",
            "required": false,
            "type": "string"
          },
          {
            "name": "CompanyName",
            "in": "query",
            "description": "Enter CompanyName ex: Pfizer.",
            "required": false,
            "type": "string"
          },
          {
            "name": "DrugID",
            "in": "query",
            "description": "Enter DrugID ex: 508712.",
            "required": false,
            "type": "string"
          },
          {
            "name": "DrugName",
            "in": "query",
            "description": "Enter DrugName ex: colesevelam.",
            "required": false,
            "type": "string"
          },
          {
            "name": "MoleculeType",
            "in": "query",
            "description": "Please input   MoleculeType ex: Small Molecule.",
            "required": false,
            "type": "string"
          },
          {
            "name": "DevelopmentStage",
            "in": "query",
            "description": "Please input   DevelopmentStage ex: Preclinical",
            "required": false,
            "type": "string"
          },
          {
            "name": "RouteofAdministration",
            "in": "query",
            "description": "Please input   RouteofAdministration ex: Oral.",
            "required": false,
            "type": "string"
          },
          {
            "name": "Geography",
            "in": "query",
            "description": "Please input   Geography ex: United States.",
            "required": false,
            "type": "string"
          },
          {
            "name": "EventType",
            "in": "query",
            "description": "Please input   EventType ex: Phase II Trial Completion",
            "required": false,
            "type": "string"
          },
          {
            "name": "EventStatus",
            "in": "query",
            "description": "Please input   EventStatus ex: Upcoming",
            "required": false,
            "type": "string"
          },
          {
            "name": "FromDate",
            "in": "query",
            "description": "Enter From Date ex:  28-11-2020.",
            "required": false,
            "type": "string"
          },
          {
            "name": "ToDate",
            "in": "query",
            "description": "Enter To Date ex: 28-11-2020.",
            "required": false,
            "type": "string"
          },
          {
            "name": "EventFromDate",
            "in": "query",
            "description": "Enter Event From Date ex: 28-11-2020.",
            "required": false,
            "type": "string"
          },
          {
            "name": "EventToDate",
            "in": "query",
            "description": "Enter Event To Date ex:  28-11-2020.",
            "required": false,
            "type": "string"
          },
          {
            "name": "TokenId",
            "in": "header",
            "description": "Please input given: TokenId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CatalystData"
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/Catalyst/GetCatalystDailyUpdates": {
      "get": {
        "tags": [
          "Catalyst"
        ],
        "summary": "Provides the Daily Updates data based on from date and to date",
        "operationId": "Catalyst_GetCatalystDailyUpdates",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "DisplayName",
            "in": "query",
            "description": "Enter Display Name.",
            "required": false,
            "type": "string"
          },
          {
            "name": "PageNumber",
            "in": "query",
            "description": "Enter Page Number.",
            "required": false,
            "type": "string"
          },
          {
            "name": "FromDate",
            "in": "query",
            "description": "Enter from date ex: 28-11-2020.",
            "required": false,
            "type": "string"
          },
          {
            "name": "CatalystId",
            "in": "query",
            "description": "Enter Catalyst Id.",
            "required": false,
            "type": "string"
          },
          {
            "name": "Status",
            "in": "query",
            "description": "Enter Status Ex: Created, Updated or Deleted.",
            "required": false,
            "type": "string"
          },
          {
            "name": "ToDate",
            "in": "query",
            "description": "Enter to date ex: 28-11-2020.",
            "required": false,
            "type": "string"
          },
          {
            "name": "EventFromDate",
            "in": "query",
            "description": "Enter from date ex: 28-11-2020.",
            "required": false,
            "type": "string"
          },
          {
            "name": "EventToDate",
            "in": "query",
            "description": "Enter to date ex: 28-11-2020.",
            "required": false,
            "type": "string"
          },
          {
            "name": "TokenId",
            "in": "header",
            "description": "Please input given: TokenId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DailyUpdatesCatalyst"
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/ClinicalTrials/GetClinicalTrialsDetails": {
      "get": {
        "tags": [
          "ClinicalTrials"
        ],
        "summary": "Provides the data based on keyword Search, Clinical ID  ,fromdate and todate",
        "operationId": "ClinicalTrials_GetClinicalTrialsDetails",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "DisplayName",
            "in": "query",
            "description": "Enter Display Name.",
            "required": false,
            "type": "string"
          },
          {
            "name": "PageNumber",
            "in": "query",
            "description": "Enter Page Number.",
            "required": false,
            "type": "string"
          },
          {
            "name": "PageSize",
            "in": "query",
            "description": "Please Enter PageSize.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "Keyword",
            "in": "query",
            "description": "Enter Keyword to search the Data ex: \"Pfizer\" or Pfizer.",
            "required": false,
            "type": "string"
          },
          {
            "name": "ClinicalID",
            "in": "query",
            "description": "Enter Clinical Id.",
            "required": false,
            "type": "string"
          },
          {
            "name": "CompanyID",
            "in": "query",
            "description": "Enter Company ID.",
            "required": false,
            "type": "string"
          },
          {
            "name": "CompanyName",
            "in": "query",
            "description": "Enter CompanyName ex: Pfizer.",
            "required": false,
            "type": "string"
          },
          {
            "name": "TrialPhase",
            "in": "query",
            "description": "Enter TrialPhase ex: Phase III.",
            "required": false,
            "type": "string"
          },
          {
            "name": "TrialStatus",
            "in": "query",
            "description": "Enter TrialStatus ex: Planned.",
            "required": false,
            "type": "string"
          },
          {
            "name": "Therapyarea",
            "in": "query",
            "description": "Enter Therapyarea ex: Central Nervous System.",
            "required": false,
            "type": "string"
          },
          {
            "name": "Indication",
            "in": "query",
            "description": "Enter Indication ex: Bipolar Disorder.",
            "required": false,
            "type": "string"
          },
          {
            "name": "DrugName",
            "in": "query",
            "description": "Enter DrugName ex: aripiprazole.",
            "required": false,
            "type": "string"
          },
          {
            "name": "DrugID",
            "in": "query",
            "description": "Enter DrugID ex: 5810",
            "required": false,
            "type": "string"
          },
          {
            "name": "Biomarker",
            "in": "query",
            "description": "Enter Biomarker ex: Shigella flexneri.",
            "required": false,
            "type": "string"
          },
          {
            "name": "FromDate",
            "in": "query",
            "description": "Enter from date ex: 28-06-2020.",
            "required": false,
            "type": "string"
          },
          {
            "name": "ToDate",
            "in": "query",
            "description": "Enter to date ex:  28-06-2020.",
            "required": false,
            "type": "string"
          },
          {
            "name": "TokenId",
            "in": "header",
            "description": "Please input given: TokenId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ClinicalTrials"
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/ClinicalTrials/GetClinicalTrialsLocationsandcontactDetails": {
      "get": {
        "tags": [
          "ClinicalTrials"
        ],
        "summary": "Provides the data based on keyword Search, Clinical ID  ,fromdate and todate",
        "operationId": "ClinicalTrials_GetClinicalTrialsLocationsandcontactDetails",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "DisplayName",
            "in": "query",
            "description": "Enter Display Name.",
            "required": true,
            "type": "string"
          },
          {
            "name": "ClinicalID",
            "in": "query",
            "description": "Enter Clinical Id.",
            "required": false,
            "type": "string"
          },
          {
            "name": "FromDate",
            "in": "query",
            "description": "Enter from date ex: 28-06-2021.",
            "required": false,
            "type": "string"
          },
          {
            "name": "ToDate",
            "in": "query",
            "description": "Enter to date ex:  28-06-2021.",
            "required": false,
            "type": "string"
          },
          {
            "name": "PageNumber",
            "in": "query",
            "description": "Enter Page Number.",
            "required": false,
            "type": "string"
          },
          {
            "name": "TokenId",
            "in": "header",
            "description": "Please input given: TokenId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ClinicalTrialsLocations"
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/ClinicalTrials/GetClinicalTrialsDailyUpdates": {
      "get": {
        "tags": [
          "ClinicalTrials"
        ],
        "summary": "Provides the Daily Updates data based on from date and to date",
        "operationId": "ClinicalTrials_GetClinicalTrialsDailyUpdates",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "DisplayName",
            "in": "query",
            "description": "Enter Display Name.",
            "required": false,
            "type": "string"
          },
          {
            "name": "FromDate",
            "in": "query",
            "description": "Enter from date ex: 28-06-2020.",
            "required": false,
            "type": "string"
          },
          {
            "name": "ToDate",
            "in": "query",
            "description": "Enter to date ex:  28-06-2020.",
            "required": false,
            "type": "string"
          },
          {
            "name": "ClinicalID",
            "in": "query",
            "description": "Enter Clinical Id.",
            "required": false,
            "type": "string"
          },
          {
            "name": "Status",
            "in": "query",
            "description": "Enter Status Ex: Created, Updated or Deleted.",
            "required": false,
            "type": "string"
          },
          {
            "name": "PageNumber",
            "in": "query",
            "description": "Enter Page Number.",
            "required": false,
            "type": "string"
          },
          {
            "name": "TokenId",
            "in": "header",
            "description": "Please input given: TokenId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DailyUpdatesTrials"
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/ClinicalTrials/GetClinicalTrialsDescriptionDetails": {
      "get": {
        "tags": [
          "ClinicalTrials"
        ],
        "summary": "Provides the data based on  Clinical ID  ,fromdate and todate",
        "operationId": "ClinicalTrials_GetClinicalTrialsDescriptionDetails",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "DisplayName",
            "in": "query",
            "description": "Enter Display Name.",
            "required": true,
            "type": "string"
          },
          {
            "name": "ClinicalID",
            "in": "query",
            "description": "Enter Clinical Id.",
            "required": false,
            "type": "string"
          },
          {
            "name": "FromDate",
            "in": "query",
            "description": "Enter from date ex: 28-06-2021.",
            "required": false,
            "type": "string"
          },
          {
            "name": "ToDate",
            "in": "query",
            "description": "Enter to date ex:  28-06-2021.",
            "required": false,
            "type": "string"
          },
          {
            "name": "PageNumber",
            "in": "query",
            "description": "Enter Page Number.",
            "required": false,
            "type": "string"
          },
          {
            "name": "TokenId",
            "in": "header",
            "description": "Please input given: TokenId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ClinicalTrialsDescriptionData"
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/ClinicalTrials/GetClinicalTrialsEnrollmentData": {
      "get": {
        "tags": [
          "ClinicalTrials"
        ],
        "summary": "Provides the data based on  Clinical ID  ,fromdate and todate",
        "operationId": "ClinicalTrials_GetClinicalTrialsEnrollmentData",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "DisplayName",
            "in": "query",
            "description": "Enter Display Name.",
            "required": true,
            "type": "string"
          },
          {
            "name": "ClinicalID",
            "in": "query",
            "description": "Enter Clinical Id.",
            "required": false,
            "type": "string"
          },
          {
            "name": "FromDate",
            "in": "query",
            "description": "Enter from date ex: 28-06-2021.",
            "required": false,
            "type": "string"
          },
          {
            "name": "ToDate",
            "in": "query",
            "description": "Enter to date ex:  28-06-2021.",
            "required": false,
            "type": "string"
          },
          {
            "name": "PageNumber",
            "in": "query",
            "description": "Enter Page Number.",
            "required": false,
            "type": "string"
          },
          {
            "name": "TokenId",
            "in": "header",
            "description": "Please input given: TokenId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ClinicalTrialsEnrollmentData"
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/ClinicalTrials/GetNewClinicalTrialsEnrollmentData": {
      "get": {
        "tags": [
          "ClinicalTrials"
        ],
        "summary": "Provides the data based on  Clinical ID  ,fromdate and todate",
        "operationId": "ClinicalTrials_GetNewClinicalTrialsEnrollmentData",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "DisplayName",
            "in": "query",
            "description": "Enter Display Name.",
            "required": true,
            "type": "string"
          },
          {
            "name": "ClinicalID",
            "in": "query",
            "description": "Enter Clinical Id.",
            "required": false,
            "type": "string"
          },
          {
            "name": "FromDate",
            "in": "query",
            "description": "Enter from date ex: 28-06-2021.",
            "required": false,
            "type": "string"
          },
          {
            "name": "ToDate",
            "in": "query",
            "description": "Enter to date ex:  28-06-2021.",
            "required": false,
            "type": "string"
          },
          {
            "name": "PageNumber",
            "in": "query",
            "description": "Enter Page Number.",
            "required": false,
            "type": "string"
          },
          {
            "name": "TokenId",
            "in": "header",
            "description": "Please input given: TokenId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CTEnrollmentData"
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/Company/GetCompanyDetails": {
      "get": {
        "tags": [
          "Company"
        ],
        "summary": "Provides the Company Details data based on from date and to date",
        "operationId": "Company_GetCompanyDetails",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "DisplayName",
            "in": "query",
            "description": "Please input given DisplayName",
            "required": false,
            "type": "string"
          },
          {
            "name": "Keyword",
            "in": "query",
            "description": "Please input given Keyword",
            "required": false,
            "type": "string"
          },
          {
            "name": "CompanyID",
            "in": "query",
            "description": "Please input given CompanyID",
            "required": false,
            "type": "string"
          },
          {
            "name": "CompanyName",
            "in": "query",
            "description": "Please input given CompanyName",
            "required": false,
            "type": "string"
          },
          {
            "name": "FromDate",
            "in": "query",
            "description": "Please input given FromDate ex: 24-11-2020 (dd-mm-yyyy).",
            "required": false,
            "type": "string"
          },
          {
            "name": "ToDate",
            "in": "query",
            "description": "Please input given ToDate ex: 24-11-2020 (dd-mm-yyyy).",
            "required": false,
            "type": "string"
          },
          {
            "name": "CompanyTicker",
            "in": "query",
            "description": "Please Enter Company Ticker.",
            "required": false,
            "type": "string"
          },
          {
            "name": "ISIN",
            "in": "query",
            "description": "Please input given ISIN ex: DK0060534915.",
            "required": false,
            "type": "string"
          },
          {
            "name": "GDCompanyID",
            "in": "query",
            "description": "Please input given GDCompanyID",
            "required": false,
            "type": "string"
          },
          {
            "name": "PageNumber",
            "in": "query",
            "description": "Please input PageNumber",
            "required": false,
            "type": "string"
          },
          {
            "name": "PageSize",
            "in": "query",
            "description": "Please input given PageSize. PageSize must be less than or equal to 100.",
            "required": false,
            "type": "string"
          },
          {
            "name": "TokenId",
            "in": "header",
            "description": "Please input given: TokenId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CompanyDetails1"
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/Company/GetCompanySubsidiariesandCompetitorsDetails": {
      "get": {
        "tags": [
          "Company"
        ],
        "summary": "Provides the Company Details data based on from date and to date",
        "operationId": "Company_GetCompanySubsidiariesandCompetitorsDetails",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "DisplayName",
            "in": "query",
            "description": "Please input given DisplayName",
            "required": false,
            "type": "string"
          },
          {
            "name": "Keyword",
            "in": "query",
            "description": "Please input given Keyword",
            "required": false,
            "type": "string"
          },
          {
            "name": "CompanyID",
            "in": "query",
            "description": "Please input given CompanyID",
            "required": false,
            "type": "string"
          },
          {
            "name": "CompanyName",
            "in": "query",
            "description": "Please input given CompanyName",
            "required": false,
            "type": "string"
          },
          {
            "name": "FromDate",
            "in": "query",
            "description": "Please input given FromDate ex: 24-11-2020 (dd-mm-yyyy).",
            "required": false,
            "type": "string"
          },
          {
            "name": "ToDate",
            "in": "query",
            "description": "Please input given ToDate ex: 24-11-2020 (dd-mm-yyyy).",
            "required": false,
            "type": "string"
          },
          {
            "name": "CompanyTicker",
            "in": "query",
            "description": "Please Enter Company Ticker.",
            "required": false,
            "type": "string"
          },
          {
            "name": "ISIN",
            "in": "query",
            "description": "Please input given ISIN ex: DK0060534915.",
            "required": false,
            "type": "string"
          },
          {
            "name": "PageNumber",
            "in": "query",
            "description": "Please input PageNumber",
            "required": false,
            "type": "string"
          },
          {
            "name": "PageSize",
            "in": "query",
            "description": "Please input given PageSize. PageSize must be less than or equal to 100.",
            "required": false,
            "type": "string"
          },
          {
            "name": "TokenId",
            "in": "header",
            "description": "Please input given: TokenId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CompanyDataDetails"
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/Company/GetParentCompanyDetails": {
      "get": {
        "tags": [
          "Company"
        ],
        "summary": "Provides the Parent Company Details data based on from date and to date",
        "operationId": "Company_GetParentCompanyDetails",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "DisplayName",
            "in": "query",
            "description": "Please input given DisplayName",
            "required": false,
            "type": "string"
          },
          {
            "name": "Keyword",
            "in": "query",
            "description": "Please input given Keyword",
            "required": false,
            "type": "string"
          },
          {
            "name": "CompanyID",
            "in": "query",
            "description": "Please input given CompanyID",
            "required": false,
            "type": "string"
          },
          {
            "name": "CompanyName",
            "in": "query",
            "description": "Please input given CompanyName",
            "required": false,
            "type": "string"
          },
          {
            "name": "FromDate",
            "in": "query",
            "description": "Please input given FromDate ex: 24-11-2020 (dd-mm-yyyy).",
            "required": false,
            "type": "string"
          },
          {
            "name": "ToDate",
            "in": "query",
            "description": "Please input given ToDate ex: 24-11-2020 (dd-mm-yyyy).",
            "required": false,
            "type": "string"
          },
          {
            "name": "CompanyTicker",
            "in": "query",
            "description": "Please Enter Company Ticker.",
            "required": false,
            "type": "string"
          },
          {
            "name": "ISIN",
            "in": "query",
            "description": "Please input given ISIN ex: DK0060534915.",
            "required": false,
            "type": "string"
          },
          {
            "name": "PageNumber",
            "in": "query",
            "description": "Please input PageNumber",
            "required": false,
            "type": "string"
          },
          {
            "name": "PageSize",
            "in": "query",
            "description": "Please input given PageSize. PageSize must be less than or equal to 100.",
            "required": false,
            "type": "string"
          },
          {
            "name": "TokenId",
            "in": "header",
            "description": "Please input given: TokenId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ParentCompanyDetails1"
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/Company/GetCompanyDailyUpdates": {
      "get": {
        "tags": [
          "Company"
        ],
        "summary": "Provides the Daily Updates data based on from date and to date",
        "operationId": "Company_GetCompanyDailyUpdates",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "DisplayName",
            "in": "query",
            "description": "Enter Display Name.",
            "required": false,
            "type": "string"
          },
          {
            "name": "Keyword",
            "in": "query",
            "description": "Please input given Keyword.",
            "required": false,
            "type": "string"
          },
          {
            "name": "CompanyId",
            "in": "query",
            "description": "Please input given CompanyId.",
            "required": false,
            "type": "string"
          },
          {
            "name": "CompanyName",
            "in": "query",
            "description": "Please input given CompanyName",
            "required": false,
            "type": "string"
          },
          {
            "name": "FromDate",
            "in": "query",
            "description": "Please input given FromDate ex: 24-11-2020 (dd-mm-yyyy).",
            "required": false,
            "type": "string"
          },
          {
            "name": "ToDate",
            "in": "query",
            "description": "Please input given ToDate ex: 24-11-2020 (dd-mm-yyyy).",
            "required": false,
            "type": "string"
          },
          {
            "name": "PageNumber",
            "in": "query",
            "description": "Enter Page Number ex : 1,2.",
            "required": false,
            "type": "string"
          },
          {
            "name": "PageSize",
            "in": "query",
            "description": "Please input given PageSize. PageSize must be less than or equal to 100.",
            "required": false,
            "type": "string"
          },
          {
            "name": "TokenId",
            "in": "header",
            "description": "Please input given: TokenId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DailyUpdatesCompanies1"
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/Company/GetDailyDeletedCompanies": {
      "get": {
        "tags": [
          "Company"
        ],
        "summary": "Provides the Daily Deleted data based on from date and to date.",
        "operationId": "Company_GetDailyDeletedCompanies",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "DisplayName",
            "in": "query",
            "description": "Enter Display Name.",
            "required": false,
            "type": "string"
          },
          {
            "name": "CompanyID",
            "in": "query",
            "description": "Please input given CompanyID",
            "required": false,
            "type": "string"
          },
          {
            "name": "FromDate",
            "in": "query",
            "description": "Please input given FromDate ex: 24-11-2020 (dd-mm-yyyy).",
            "required": false,
            "type": "string"
          },
          {
            "name": "ToDate",
            "in": "query",
            "description": "Please input given ToDate ex: 24-11-2020 (dd-mm-yyyy).",
            "required": false,
            "type": "string"
          },
          {
            "name": "PageNumber",
            "in": "query",
            "description": "Enter Page Number.",
            "required": false,
            "type": "string"
          },
          {
            "name": "TokenId",
            "in": "header",
            "description": "Please input given: TokenId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DailyDeletedCompanies"
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/Company/GetStubCompanies": {
      "get": {
        "tags": [
          "Company"
        ],
        "summary": "Provides the Stub Companies data based on from date and to date.",
        "operationId": "Company_GetStubCompanies",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "DisplayName",
            "in": "query",
            "description": "Enter Display Name.",
            "required": false,
            "type": "string"
          },
          {
            "name": "CompanyID",
            "in": "query",
            "description": "Please input given CompanyID",
            "required": false,
            "type": "string"
          },
          {
            "name": "CompanyName",
            "in": "query",
            "description": "Please input given CompanyName",
            "required": false,
            "type": "string"
          },
          {
            "name": "Status",
            "in": "query",
            "description": "Enter Status Ex: Created or Deleted.",
            "required": false,
            "type": "string"
          },
          {
            "name": "FromDate",
            "in": "query",
            "description": "Please input given FromDate ex: 11-10-2023 (dd-mm-yyyy).",
            "required": false,
            "type": "string"
          },
          {
            "name": "ToDate",
            "in": "query",
            "description": "Please input given ToDate ex: 12-10-2023 (dd-mm-yyyy).",
            "required": false,
            "type": "string"
          },
          {
            "name": "PageNumber",
            "in": "query",
            "description": "Enter Page Number.",
            "required": false,
            "type": "string"
          },
          {
            "name": "PageSize",
            "in": "query",
            "description": "Please input given PageSize. PageSize must be less than or equal to 1000.",
            "required": false,
            "type": "string"
          },
          {
            "name": "TokenId",
            "in": "header",
            "description": "Please input given: TokenId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/StubCompaniesData"
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/Contacts/GetContactsDetails": {
      "get": {
        "tags": [
          "Contacts"
        ],
        "summary": "Provides the data based on keyword search or ContactId",
        "operationId": "Contacts_GetContactsDetails",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "DisplayName",
            "in": "query",
            "description": "Enter Display Name.",
            "required": false,
            "type": "string"
          },
          {
            "name": "PageNumber",
            "in": "query",
            "description": "Enter Page Number.",
            "required": false,
            "type": "string"
          },
          {
            "name": "PageSize",
            "in": "query",
            "description": "Enter Page Size.",
            "required": false,
            "type": "string"
          },
          {
            "name": "FullName",
            "in": "query",
            "description": "Enter FullName to search the Data ex: \"Bing Ren\" or Bing Ren.",
            "required": false,
            "type": "string"
          },
          {
            "name": "ContactId",
            "in": "query",
            "description": "Enter Contact Id.",
            "required": false,
            "type": "string"
          },
          {
            "name": "CompanyId",
            "in": "query",
            "description": "Enter CompanyID",
            "required": false,
            "type": "string"
          },
          {
            "name": "FromDate",
            "in": "query",
            "description": "Enter from date ex: 28-06-2020.",
            "required": false,
            "type": "string"
          },
          {
            "name": "ToDate",
            "in": "query",
            "description": "Enter to date ex: 28-06-2020.",
            "required": false,
            "type": "string"
          },
          {
            "name": "TokenId",
            "in": "header",
            "description": "Please input given: TokenId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ContactsData"
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/Contacts/GetContactstDailyUpdates": {
      "get": {
        "tags": [
          "Contacts"
        ],
        "summary": "Provides the Daily Updates data based on from date and to date",
        "operationId": "Contacts_GetContactstDailyUpdates",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "DisplayName",
            "in": "query",
            "description": "Enter Display Name.",
            "required": false,
            "type": "string"
          },
          {
            "name": "PageNumber",
            "in": "query",
            "description": "Enter Page Number.",
            "required": false,
            "type": "string"
          },
          {
            "name": "CompanyId",
            "in": "query",
            "description": "Enter CompanyId",
            "required": false,
            "type": "string"
          },
          {
            "name": "ContactId",
            "in": "query",
            "description": "Enter ContactId.",
            "required": false,
            "type": "string"
          },
          {
            "name": "Status",
            "in": "query",
            "description": "Enter Status Ex: Created, Updated or Deleted.",
            "required": false,
            "type": "string"
          },
          {
            "name": "FromDate",
            "in": "query",
            "description": "Enter from date ex: 28-06-2020.",
            "required": false,
            "type": "string"
          },
          {
            "name": "ToDate",
            "in": "query",
            "description": "Enter to date ex: 28-06-2020.",
            "required": false,
            "type": "string"
          },
          {
            "name": "TokenId",
            "in": "header",
            "description": "Please input given: TokenId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DailyUpdatesContacts"
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/Deals/GetDealsDetails": {
      "get": {
        "tags": [
          "Deals"
        ],
        "summary": "Provides the data based on keyword search or Deal ID",
        "operationId": "Deals_GetDealsDetails",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "DisplayName",
            "in": "query",
            "description": "Enter Display Name.",
            "required": false,
            "type": "string"
          },
          {
            "name": "Keyword",
            "in": "query",
            "description": "Enter Keyword to search the Data ex: \"Merck\" or merck.",
            "required": false,
            "type": "string"
          },
          {
            "name": "DealID",
            "in": "query",
            "description": "Enter Deal Id ex : 1526357.",
            "required": false,
            "type": "string"
          },
          {
            "name": "CompanyID",
            "in": "query",
            "description": "Please input given CompanyID.",
            "required": false,
            "type": "string"
          },
          {
            "name": "FromDate",
            "in": "query",
            "description": "Please input given FromDate ex: 24-11-2020 (dd-mm-yyyy).",
            "required": false,
            "type": "string"
          },
          {
            "name": "ToDate",
            "in": "query",
            "description": "Please input given ToDate ex: 24-11-2020 (dd-mm-yyyy).",
            "required": false,
            "type": "string"
          },
          {
            "name": "PageNumber",
            "in": "query",
            "description": "Enter Page Number ex : 1,2.",
            "required": false,
            "type": "string"
          },
          {
            "name": "PageSize",
            "in": "query",
            "description": "Please input given PageSize. PageSize must be less than or equal to 100.",
            "required": false,
            "type": "string"
          },
          {
            "name": "TokenId",
            "in": "header",
            "description": "Please input given: TokenId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Deal"
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/Deals/GetDealsDailyUpdates": {
      "get": {
        "tags": [
          "Deals"
        ],
        "summary": "Provides the Daily Updates data based on from date and to date",
        "operationId": "Deals_GetDealsDailyUpdates",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "DisplayName",
            "in": "query",
            "description": "Enter Display Name.",
            "required": true,
            "type": "string"
          },
          {
            "name": "Keyword",
            "in": "query",
            "description": "Please input given KeyWord.",
            "required": false,
            "type": "string"
          },
          {
            "name": "DealID",
            "in": "query",
            "description": "Please input given DealID.",
            "required": false,
            "type": "string"
          },
          {
            "name": "CompanyID",
            "in": "query",
            "description": "Please input given CompanyID",
            "required": false,
            "type": "string"
          },
          {
            "name": "FromDate",
            "in": "query",
            "description": "Please input given FromDate ex: 24-11-2020 (dd-mm-yyyy).",
            "required": false,
            "type": "string"
          },
          {
            "name": "ToDate",
            "in": "query",
            "description": "Please input given ToDate ex: 24-11-2020 (dd-mm-yyyy).",
            "required": false,
            "type": "string"
          },
          {
            "name": "PageNumber",
            "in": "query",
            "description": "Enter Page Number ex : 1,2.",
            "required": false,
            "type": "string"
          },
          {
            "name": "PageSize",
            "in": "query",
            "description": "Please input given PageSize. PageSize must be less than or equal to 100.",
            "required": false,
            "type": "string"
          },
          {
            "name": "TokenId",
            "in": "header",
            "description": "Please input given: TokenId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DailyUpdatesDeals1"
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/Deals/GetDailyDeletedDeals": {
      "get": {
        "tags": [
          "Deals"
        ],
        "summary": "Provides the Daily Deleted data based on from date and to date.",
        "operationId": "Deals_GetDailyDeletedDeals",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "DisplayName",
            "in": "query",
            "description": "Enter Display Name.",
            "required": false,
            "type": "string"
          },
          {
            "name": "FromDate",
            "in": "query",
            "description": "Please input given FromDate ex: 24-11-2020 (dd-mm-yyyy).",
            "required": false,
            "type": "string"
          },
          {
            "name": "ToDate",
            "in": "query",
            "description": "Please input given ToDate ex: 24-11-2020 (dd-mm-yyyy).",
            "required": false,
            "type": "string"
          },
          {
            "name": "PageNumber",
            "in": "query",
            "description": "Enter Page Number.",
            "required": false,
            "type": "string"
          },
          {
            "name": "TokenId",
            "in": "header",
            "description": "Please input given: TokenId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DailyDeletedDeals"
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/Drugs/GetPipelineDrugDetails": {
      "get": {
        "tags": [
          "Drugs"
        ],
        "summary": "Provides the data based on keyword search or Product ID.",
        "operationId": "Drugs_GetPipelineDrugDetails",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "DisplayName",
            "in": "query",
            "description": "Enter Display Name.",
            "required": false,
            "type": "string"
          },
          {
            "name": "Keyword",
            "in": "query",
            "description": "Enter Keyword to search the Data ex: \"Humira\" or Humira.",
            "required": false,
            "type": "string"
          },
          {
            "name": "DrugID",
            "in": "query",
            "description": "Enter Drug ID.",
            "required": false,
            "type": "string"
          },
          {
            "name": "CompanyID",
            "in": "query",
            "description": "Enter Company ID.",
            "required": false,
            "type": "string"
          },
          {
            "name": "DrugName",
            "in": "query",
            "description": "Enter DrugName ex:  dutasteride.",
            "required": false,
            "type": "string"
          },
          {
            "name": "GenericName",
            "in": "query",
            "description": "Enter GenericName ex:  dutasteride.",
            "required": false,
            "type": "string"
          },
          {
            "name": "Therapyarea",
            "in": "query",
            "description": "Enter Therapyarea ex: Dermatology.",
            "required": false,
            "type": "string"
          },
          {
            "name": "Indication",
            "in": "query",
            "description": "Enter Indication ex: Androgenic Alopecia.",
            "required": false,
            "type": "string"
          },
          {
            "name": "DevelopmentStage",
            "in": "query",
            "description": "Enter DevelopmentStage ex: Phase III.",
            "required": false,
            "type": "string"
          },
          {
            "name": "MoleculeType",
            "in": "query",
            "description": "Enter MoleculeType ex: Small Molecule.",
            "required": false,
            "type": "string"
          },
          {
            "name": "CompanyName",
            "in": "query",
            "description": "Enter CompanyName ex:  Addpharma Inc.",
            "required": false,
            "type": "string"
          },
          {
            "name": "Target",
            "in": "query",
            "description": "Enter Target ex: 3 Oxo 5 Alpha Steroid 4 Dehydrogenase.",
            "required": false,
            "type": "string"
          },
          {
            "name": "FromDate",
            "in": "query",
            "description": "Please input given FromDate ex : DD-MM-YYYY : 22-11-2020.",
            "required": false,
            "type": "string"
          },
          {
            "name": "ToDate",
            "in": "query",
            "description": "Please input given ToDate ex : DD-MM-YYYY : 22-11-2020.",
            "required": false,
            "type": "string"
          },
          {
            "name": "PageNumber",
            "in": "query",
            "description": "Enter Page Number.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "PageSize",
            "in": "query",
            "description": "Please input given PageSize.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "TokenId",
            "in": "header",
            "description": "Please input given: TokenId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PipelineDrugsDetails"
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/Drugs/GetMarketedDrugDetails": {
      "get": {
        "tags": [
          "Drugs"
        ],
        "summary": "Provides the data based on keyword search or Product ID.",
        "operationId": "Drugs_GetMarketedDrugDetails",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "DisplayName",
            "in": "query",
            "description": "Enter Display Name.",
            "required": false,
            "type": "string"
          },
          {
            "name": "Keyword",
            "in": "query",
            "description": "Enter Keyword to search the Data ex: \"Humira\" or Humira.",
            "required": false,
            "type": "string"
          },
          {
            "name": "DrugID",
            "in": "query",
            "description": "Enter Drug ID.",
            "required": false,
            "type": "string"
          },
          {
            "name": "CompanyID",
            "in": "query",
            "description": "Enter Company ID.",
            "required": false,
            "type": "string"
          },
          {
            "name": "CompanyName",
            "in": "query",
            "description": "Enter CompanyName ex: YouCare.",
            "required": false,
            "type": "string"
          },
          {
            "name": "Therapyarea",
            "in": "query",
            "description": "Enter Therapyarea ex: Cardiovascular.",
            "required": false,
            "type": "string"
          },
          {
            "name": "Indication",
            "in": "query",
            "description": "Enter Indication ex: Bacterial Endocarditis.",
            "required": false,
            "type": "string"
          },
          {
            "name": "DevelopmentStage",
            "in": "query",
            "description": "Enter DevelopmentStage ex: Marketed.",
            "required": false,
            "type": "string"
          },
          {
            "name": "MoleculeType",
            "in": "query",
            "description": "Enter MoleculeType ex: Small Molecule.",
            "required": false,
            "type": "string"
          },
          {
            "name": "DrugName",
            "in": "query",
            "description": "Enter DrugName ex: cefazolin sodium.",
            "required": false,
            "type": "string"
          },
          {
            "name": "GenericName",
            "in": "query",
            "description": "Enter GenericName ex: cefazolin sodium.",
            "required": false,
            "type": "string"
          },
          {
            "name": "Target",
            "in": "query",
            "description": "Enter Target ex: Penicillin Binding.",
            "required": false,
            "type": "string"
          },
          {
            "name": "FromDate",
            "in": "query",
            "description": "Please input given FromDate ex : DD-MM-YYYY : 22-11-2020.",
            "required": false,
            "type": "string"
          },
          {
            "name": "ToDate",
            "in": "query",
            "description": "Please input given ToDate ex : DD-MM-YYYY : 22-11-2020.",
            "required": false,
            "type": "string"
          },
          {
            "name": "PageNumber",
            "in": "query",
            "description": "Enter Page Number.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "PageSize",
            "in": "query",
            "description": "Please input given PageSize.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "TokenId",
            "in": "header",
            "description": "Please input given: TokenId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MarketedDrugsDetails"
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/Drugs/GetDrugDetails": {
      "get": {
        "tags": [
          "Drugs"
        ],
        "summary": "Provides the data based on keyword search or Drug ID.",
        "operationId": "Drugs_GetDrugDetails",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "DisplayName",
            "in": "query",
            "description": "Enter Display Name.",
            "required": false,
            "type": "string"
          },
          {
            "name": "Keyword",
            "in": "query",
            "description": "Enter Keyword to search the Data ex: \"Humira\" or Humira.",
            "required": false,
            "type": "string"
          },
          {
            "name": "DrugID",
            "in": "query",
            "description": "Enter Drug ID.",
            "required": false,
            "type": "string"
          },
          {
            "name": "CompanyID",
            "in": "query",
            "description": "Enter Company ID.",
            "required": false,
            "type": "string"
          },
          {
            "name": "FromDate",
            "in": "query",
            "description": "Please input given FromDate ex : DD-MM-YYYY : 22-11-2020.",
            "required": false,
            "type": "string"
          },
          {
            "name": "ToDate",
            "in": "query",
            "description": "Please input given ToDate ex : DD-MM-YYYY : 22-11-2020.",
            "required": false,
            "type": "string"
          },
          {
            "name": "PageNumber",
            "in": "query",
            "description": "Enter Page Number.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "PageSize",
            "in": "query",
            "description": "Please input given PageSize.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "TokenId",
            "in": "header",
            "description": "Please input given: TokenId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AllDrugsDetails"
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/Drugs/GetDrugsDailyUpdates": {
      "get": {
        "tags": [
          "Drugs"
        ],
        "summary": "Provides the Daily Updates data based on from date and to date.",
        "operationId": "Drugs_GetDrugsDailyUpdates",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "DisplayName",
            "in": "query",
            "description": "Enter Display Name.",
            "required": false,
            "type": "string"
          },
          {
            "name": "FromDate",
            "in": "query",
            "description": "Please input given FromDate ex : DD-MM-YYYY : 22-11-2020.",
            "required": false,
            "type": "string"
          },
          {
            "name": "ToDate",
            "in": "query",
            "description": "Please input given ToDate ex : DD-MM-YYYY : 22-11-2020.",
            "required": false,
            "type": "string"
          },
          {
            "name": "DrugID",
            "in": "query",
            "description": "Enter Drug ID.",
            "required": false,
            "type": "string"
          },
          {
            "name": "Type",
            "in": "query",
            "description": "Enter Type Ex: Pipeline or Marketed.",
            "required": false,
            "type": "string"
          },
          {
            "name": "Status",
            "in": "query",
            "description": "Enter Status Ex: Created, Updated or Deleted.",
            "required": false,
            "type": "string"
          },
          {
            "name": "PageNumber",
            "in": "query",
            "description": "Enter Page Number.",
            "required": false,
            "type": "string"
          },
          {
            "name": "TokenId",
            "in": "header",
            "description": "Please input given: TokenId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DailyUpdatesDrugs"
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/Drugs/GetHistoryofEvents": {
      "get": {
        "tags": [
          "Drugs"
        ],
        "summary": "Provides the data based on DrugID",
        "operationId": "Drugs_GetHistoryofEvents",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "DisplayName",
            "in": "query",
            "description": "Enter Display Name.",
            "required": true,
            "type": "string"
          },
          {
            "name": "DrugID",
            "in": "query",
            "description": "Enter DrugID.",
            "required": false,
            "type": "string"
          },
          {
            "name": "FromDate",
            "in": "query",
            "description": "Please input given FromDate ex : DD-MM-YYYY : 22-11-2020.",
            "required": false,
            "type": "string"
          },
          {
            "name": "ToDate",
            "in": "query",
            "description": "Please input given ToDate ex : DD-MM-YYYY : 22-11-2020.",
            "required": false,
            "type": "string"
          },
          {
            "name": "PageNumber",
            "in": "query",
            "description": "Enter Page Number.",
            "required": false,
            "type": "string"
          },
          {
            "name": "TokenId",
            "in": "header",
            "description": "Please input given: TokenId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/HistoryofEventsList"
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/Drugs/GetDrugsDedupedDetails": {
      "get": {
        "tags": [
          "Drugs"
        ],
        "summary": "Provides the data based on DrugID",
        "operationId": "Drugs_GetDrugsDedupedDetails",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "DisplayName",
            "in": "query",
            "description": "Enter Display Name.",
            "required": true,
            "type": "string"
          },
          {
            "name": "DrugID",
            "in": "query",
            "description": "Enter DrugID.",
            "required": false,
            "type": "string"
          },
          {
            "name": "DrugName",
            "in": "query",
            "description": "Enter DrugName.",
            "required": false,
            "type": "string"
          },
          {
            "name": "FromDate",
            "in": "query",
            "description": "Please input given FromDate ex : DD-MM-YYYY : 22-11-2020.",
            "required": false,
            "type": "string"
          },
          {
            "name": "ToDate",
            "in": "query",
            "description": "Please input given ToDate ex : DD-MM-YYYY : 22-11-2020.",
            "required": false,
            "type": "string"
          },
          {
            "name": "PageNumber",
            "in": "query",
            "description": "Enter Page Number.",
            "required": false,
            "type": "string"
          },
          {
            "name": "TokenId",
            "in": "header",
            "description": "Please input given: TokenId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DrugDeduppeddetails"
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/Drugs/GetStubDrugs": {
      "get": {
        "tags": [
          "Drugs"
        ],
        "summary": "Provides the Stub Drugs data based on from date and to date.",
        "operationId": "Drugs_GetStubDrugs",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "DisplayName",
            "in": "query",
            "description": "Enter Display Name.",
            "required": false,
            "type": "string"
          },
          {
            "name": "DrugID",
            "in": "query",
            "description": "Please input given DrugID",
            "required": false,
            "type": "string"
          },
          {
            "name": "DrugName",
            "in": "query",
            "description": "Please input given DrugName",
            "required": false,
            "type": "string"
          },
          {
            "name": "Status",
            "in": "query",
            "description": "Enter Status Ex: Created or Deleted.",
            "required": false,
            "type": "string"
          },
          {
            "name": "FromDate",
            "in": "query",
            "description": "Please input given FromDate ex: 02-01-2025 (dd-mm-yyyy).",
            "required": false,
            "type": "string"
          },
          {
            "name": "ToDate",
            "in": "query",
            "description": "Please input given ToDate ex: 15-01-2025 (dd-mm-yyyy).",
            "required": false,
            "type": "string"
          },
          {
            "name": "PageNumber",
            "in": "query",
            "description": "Enter Page Number.",
            "required": false,
            "type": "string"
          },
          {
            "name": "PageSize",
            "in": "query",
            "description": "Please input given PageSize. PageSize must be less than or equal to 100.",
            "required": false,
            "type": "string"
          },
          {
            "name": "TokenId",
            "in": "header",
            "description": "Please input given: TokenId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/StubDrugsData"
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/DrugSales/GetDrugSalesDetails": {
      "get": {
        "tags": [
          "DrugSales"
        ],
        "summary": "Provides the data based on keyword search or Product ID",
        "operationId": "DrugSales_GetDrugSalesDetails",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "DisplayName",
            "in": "query",
            "description": "Enter Display Name.",
            "required": false,
            "type": "string"
          },
          {
            "name": "Keyword",
            "in": "query",
            "description": "Enter Keyword to search the Data ex: \"Pfizer\" or Pfizer.",
            "required": false,
            "type": "string"
          },
          {
            "name": "DrugID",
            "in": "query",
            "description": "Enter Drug ID.",
            "required": false,
            "type": "string"
          },
          {
            "name": "CompanyID",
            "in": "query",
            "description": "Enter Company ID.",
            "required": false,
            "type": "string"
          },
          {
            "name": "FromDate",
            "in": "query",
            "description": "Enter from date ex: 28-06-2020.",
            "required": false,
            "type": "string"
          },
          {
            "name": "ToDate",
            "in": "query",
            "description": "Enter to date ex: 28-06-2020.",
            "required": false,
            "type": "string"
          },
          {
            "name": "PageNumber",
            "in": "query",
            "description": "Enter Page Number.",
            "required": false,
            "type": "string"
          },
          {
            "name": "PageSize",
            "in": "query",
            "description": "Please Enter PageSize Minimum 1 and Maximun 50.",
            "required": false,
            "type": "string"
          },
          {
            "name": "TokenId",
            "in": "header",
            "description": "Please input given: TokenId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DrugSalesList"
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/DrugSales/GetDrugSalesDailyUpdates": {
      "get": {
        "tags": [
          "DrugSales"
        ],
        "summary": "Provides the Daily Updates data based on from date and to date",
        "operationId": "DrugSales_GetDrugSalesDailyUpdates",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "DisplayName",
            "in": "query",
            "description": "Enter Display Name.",
            "required": false,
            "type": "string"
          },
          {
            "name": "FromDate",
            "in": "query",
            "description": "Enter from date ex: 28-06-2020.",
            "required": false,
            "type": "string"
          },
          {
            "name": "ToDate",
            "in": "query",
            "description": "Enter to date ex: 28-06-2020.",
            "required": false,
            "type": "string"
          },
          {
            "name": "DrugID",
            "in": "query",
            "description": "Enter Drug ID.",
            "required": false,
            "type": "string"
          },
          {
            "name": "Status",
            "in": "query",
            "description": "Enter Status Ex: Created, Updated.",
            "required": false,
            "type": "string"
          },
          {
            "name": "PageNumber",
            "in": "query",
            "description": "Enter Page Number.",
            "required": false,
            "type": "string"
          },
          {
            "name": "TokenId",
            "in": "header",
            "description": "Please input given: TokenId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DailyUpdatesDrugSales"
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/DrugSales/GetIndicationSalesDetails": {
      "get": {
        "tags": [
          "DrugSales"
        ],
        "summary": "Provides the data based on keyword search or Product ID",
        "operationId": "DrugSales_GetIndicationSalesDetails",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "DisplayName",
            "in": "query",
            "description": "Enter Display Name.",
            "required": false,
            "type": "string"
          },
          {
            "name": "DrugName",
            "in": "query",
            "description": "Enter Keyword to search the Data ex: \"Wegovy\" or Wegovy.",
            "required": false,
            "type": "string"
          },
          {
            "name": "DrugID",
            "in": "query",
            "description": "Enter Drug ID.",
            "required": false,
            "type": "string"
          },
          {
            "name": "Indication",
            "in": "query",
            "description": "Enter Keyword to search the Data ex: \"Obesity\" or Obesity.",
            "required": false,
            "type": "string"
          },
          {
            "name": "CompanyID",
            "in": "query",
            "description": "Enter Company ID.",
            "required": false,
            "type": "string"
          },
          {
            "name": "FromDate",
            "in": "query",
            "description": "Enter from date ex: 28-06-2020.",
            "required": false,
            "type": "string"
          },
          {
            "name": "ToDate",
            "in": "query",
            "description": "Enter to date ex: 28-06-2020.",
            "required": false,
            "type": "string"
          },
          {
            "name": "PageNumber",
            "in": "query",
            "description": "Enter Page Number.",
            "required": false,
            "type": "string"
          },
          {
            "name": "PageSize",
            "in": "query",
            "description": "Please Enter PageSize Minimum 1 and Maximun 100.",
            "required": false,
            "type": "string"
          },
          {
            "name": "TokenId",
            "in": "header",
            "description": "Please input given: TokenId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DrugSalesIndicationList"
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/Epidemiology/GetEpidemiologyDetails": {
      "get": {
        "tags": [
          "Epidemiology"
        ],
        "summary": "Provides the data based on keyword search or IndicationID",
        "operationId": "Epidemiology_GetEpidemiologyDetails",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "DisplayName",
            "in": "query",
            "description": "Enter Display Name.",
            "required": false,
            "type": "string"
          },
          {
            "name": "Indication",
            "in": "query",
            "description": "Enter Indication to search the Data ex: \"Pain\" or Pain.",
            "required": false,
            "type": "string"
          },
          {
            "name": "IndicationId",
            "in": "query",
            "description": "Enter Indication Id.",
            "required": false,
            "type": "string"
          },
          {
            "name": "Country",
            "in": "query",
            "description": "Enter Country.",
            "required": false,
            "type": "string"
          },
          {
            "name": "FromDate",
            "in": "query",
            "description": "Please input given FromDate ex : DD-MM-YYYY : 22-11-2020.",
            "required": false,
            "type": "string"
          },
          {
            "name": "ToDate",
            "in": "query",
            "description": "Please input given ToDate ex : DD-MM-YYYY : 22-11-2020.",
            "required": false,
            "type": "string"
          },
          {
            "name": "PageNumber",
            "in": "query",
            "description": "Enter Page Number.",
            "required": false,
            "type": "string"
          },
          {
            "name": "PageSize",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "TokenId",
            "in": "header",
            "description": "Please input given: TokenId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/EpidemiologyList"
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/Epidemiology/GetMarketsizeDetails": {
      "get": {
        "tags": [
          "Epidemiology"
        ],
        "summary": "Provides the data based on keyword search or IndicationID",
        "operationId": "Epidemiology_GetMarketsizeDetails",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "DisplayName",
            "in": "query",
            "description": "Enter Display Name.",
            "required": true,
            "type": "string"
          },
          {
            "name": "Indication",
            "in": "query",
            "description": "Enter Indication to search the Data ex: \"Pain\" or Pain.",
            "required": false,
            "type": "string"
          },
          {
            "name": "IndicationId",
            "in": "query",
            "description": "Enter Indication Id.",
            "required": false,
            "type": "string"
          },
          {
            "name": "Country",
            "in": "query",
            "description": "Enter Country.",
            "required": false,
            "type": "string"
          },
          {
            "name": "FromDate",
            "in": "query",
            "description": "Please input given FromDate ex : DD-MM-YYYY : 22-11-2020.",
            "required": false,
            "type": "string"
          },
          {
            "name": "ToDate",
            "in": "query",
            "description": "Please input given ToDate ex : DD-MM-YYYY : 22-11-2020.",
            "required": false,
            "type": "string"
          },
          {
            "name": "PageNumber",
            "in": "query",
            "description": "Enter Page Number.",
            "required": false,
            "type": "string"
          },
          {
            "name": "PageSize",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "TokenId",
            "in": "header",
            "description": "Please input given: TokenId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MarketSizeList"
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/FDI/GetFDIProjects": {
      "get": {
        "tags": [
          "FDI"
        ],
        "summary": "Get the  FDI Projects based on From Date and To date.",
        "operationId": "FDI_GetFDIProjects",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "DisplayName",
            "in": "query",
            "description": "Please input given DisplayName",
            "required": true,
            "type": "string"
          },
          {
            "name": "FromDate",
            "in": "query",
            "description": "Please input From Date ex: 28-01-2022.",
[...]
