{
  "openapi": "3.0.0",
  "info": {
    "contact": {
      "email": "transform@apimatic.io",
      "name": "API Transformer",
      "url": "https://apimatic.io/transformer"
    },
    "description": "Transform API Descriptions from/to various formats",
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    },
    "termsOfService": "https://apimatic.io/transformer",
    "title": "APIMATIC API Transformer",
    "version": "1.0",
    "x-logo": {
      "backgroundColor": "#2a313a",
      "url": "https://apimatic.io/img/theme/Convertron.svg"
    },
    "x-jentic-source-url": "https://raw.githubusercontent.com/jentic/jentic-public-apis/refs/heads/main/apis/openapi/apimatic.io/main/1.0/openapi.json"
  },
  "servers": [
    {
      "url": "https://apimatic.io/api/transform"
    }
  ],
  "paths": {
    "/transform": {
      "post": {
        "parameters": [
          {
            "in": "query",
            "name": "format",
            "required": true,
            "schema": {
              "enum": [
                "swagger10",
                "swagger20",
                "swaggeryaml",
                "apiblueprint",
                "wadl2009",
                "raml",
                "apimatic"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              },
              "application/x-yaml": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": "The converted API specification"
          },
          "429": {
            "description": "Rate-limit exceeded"
          }
        },
        "security": [],
        "description": "Transform API Descriptions from/to various formats e.g., Swagger, API Blueprint, RAML, WADL, Google Discovery, I/O Docs.\n\n### INPUTS\n* API Blueprint\n* Swagger 1.0 - 1.2\n* Swagger 2.0 JSON\n* Swagger 2.0 YAML\n* WADL - W3C 2009\n* Google Discovery\n* RAML 0.8\n* I/O Docs - Mashery\n* HAR 1.2\n* Postman Collection 1.0 - 2.0\n* APIMATIC Format\n* Mashape\n\n### OUTPUTS\n* API Blueprint\n* Swagger 1.2\n* Swagger 2.0 JSON\n* Swagger 2.0 YAML\n* WADL - W3C 2009\n* RAML 0.8 - 1.0\n* APIMATIC Format",
        "operationId": "ConvertAPI",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "properties": {
                  "url": {
                    "type": "string"
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "summary": "Transform API Descriptions from/to various formats",
        "tags": [
          "transform"
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "api-key": {
        "in": "query",
        "name": "apikey",
        "type": "apiKey"
      },
      "basic": {
        "scheme": "basic",
        "type": "http"
      }
    }
  },
  "security": [],
  "externalDocs": {
    "description": "API Transformer Website",
    "url": "https://apimatic.io/transformer"
  },
  "tags": [
    {
      "name": "transform"
    }
  ]
}
