{
  "openapi": "3.0.3",
  "info": {
    "title": "Blynk Device HTTPS API",
    "version": "1.0.0",
    "description": "Blynk Device HTTPS API allows external applications to interact with Blynk-connected IoT devices. Use this API to read/write datastream values, check device connectivity, retrieve historical data, manage device metadata, trigger events, and upload files. Authentication is via device auth token passed as a query parameter.",
    "x-jentic-source-url": "https://docs.blynk.io/en/blynk.cloud/device-https-api",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://blynk.cloud",
      "description": "Blynk Cloud (default region)"
    },
    {
      "url": "https://fra1.blynk.cloud",
      "description": "Blynk Cloud (Frankfurt)"
    },
    {
      "url": "https://ny3.blynk.cloud",
      "description": "Blynk Cloud (New York)"
    }
  ],
  "tags": [
    {
      "name": "Datastreams",
      "description": "Read and write datastream values"
    },
    {
      "name": "Device",
      "description": "Device connectivity and info"
    },
    {
      "name": "Metadata",
      "description": "Device metadata fields"
    },
    {
      "name": "Events",
      "description": "Trigger and log device events"
    },
    {
      "name": "Properties",
      "description": "Update widget/datastream properties"
    },
    {
      "name": "Data",
      "description": "Historical data retrieval"
    },
    {
      "name": "Files",
      "description": "File upload"
    }
  ],
  "paths": {
    "/external/api/get": {
      "get": {
        "operationId": "getDatastreamValue",
        "summary": "Get datastream value",
        "description": "Returns the current value of one or more datastreams by virtual pin(s). Pass multiple pin query parameters to get multiple values at once.",
        "tags": [
          "Datastreams"
        ],
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "required": true,
            "description": "Device auth token",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "v0",
            "in": "query",
            "required": false,
            "description": "Virtual pin (e.g., v0, v1, v2). Include multiple pin parameters for multiple values.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dataStreamId",
            "in": "query",
            "required": false,
            "description": "Datastream ID (alternative to pin)",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Value successfully retrieved",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/external/api/getAll": {
      "get": {
        "operationId": "getAllDatastreamValues",
        "summary": "Get all datastream values",
        "description": "Returns stored values of all datastreams for a device.",
        "tags": [
          "Datastreams"
        ],
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "required": true,
            "description": "Device auth token",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "All datastream values",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "example": {
                    "a0": 1,
                    "d0": 1,
                    "v0": 1,
                    "v1": 1.0,
                    "v2": "string"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/external/api/update": {
      "get": {
        "operationId": "updateDatastreamValue",
        "summary": "Update datastream value",
        "description": "Updates the value of a datastream via GET request. Value is parsed based on the datastream data type and bounded by min/max settings.",
        "tags": [
          "Datastreams"
        ],
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "required": true,
            "description": "Device auth token",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pin",
            "in": "query",
            "required": false,
            "description": "Virtual pin number (should start with 'v'). Use as dynamic key, e.g., v1=100",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dataStreamId",
            "in": "query",
            "required": false,
            "description": "Datastream ID (alternative to pin)",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "value",
            "in": "query",
            "required": false,
            "description": "Value to set (used with dataStreamId). Can be repeated for multi-value datastreams like Location.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully updated"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/external/api/batch/update": {
      "get": {
        "operationId": "batchUpdateDatastreams",
        "summary": "Update multiple datastreams simultaneously",
        "description": "Update multiple datastreams of a single device with one GET request. Useful for saving data volume for cellular devices. All datapoints will have the same timestamp.",
        "tags": [
          "Datastreams"
        ],
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "required": true,
            "description": "Device auth token",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully updated"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/external/api/update/property": {
      "get": {
        "operationId": "updateProperty",
        "summary": "Update widget/datastream property",
        "description": "Updates the datastream property and all assigned widgets.",
        "tags": [
          "Properties"
        ],
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "required": true,
            "description": "Device auth token",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pin",
            "in": "query",
            "required": true,
            "description": "Virtual pin number (should start with 'v')",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "property",
            "in": "query",
            "required": true,
            "description": "Property name to update (e.g., color, label, isDisabled, min, max)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "value",
            "in": "query",
            "required": true,
            "description": "New property value",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully updated"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/external/api/isHardwareConnected": {
      "get": {
        "operationId": "isDeviceConnected",
        "summary": "Check if device is connected",
        "description": "Returns the device online status (true/false).",
        "tags": [
          "Device"
        ],
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "required": true,
            "description": "Device auth token",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns true or false",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "boolean"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/external/api/logEvent": {
      "get": {
        "operationId": "logEvent",
        "summary": "Send/log an event",
        "description": "Triggers an event by event code. The event must be configured in the device template first.",
        "tags": [
          "Events"
        ],
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "required": true,
            "description": "Device auth token",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "code",
            "in": "query",
            "required": true,
            "description": "Event code as configured in the device template",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "description",
            "in": "query",
            "required": false,
            "description": "Optional event description",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Event logged successfully"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/external/api/device/meta": {
      "get": {
        "operationId": "getDeviceMetadata",
        "summary": "Get device metadata value",
        "description": "Returns the value of a device meta field by its ID. Supports text, number, email, hotspot, device name, list, int, imei, image, iccid, and device owner email meta fields. Use 'loc.latlon' as special metaFieldId for device location.",
        "tags": [
          "Metadata"
        ],
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "required": true,
            "description": "Device auth token",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "metaFieldId",
            "in": "query",
            "required": true,
            "description": "Meta field ID or special field name like 'loc.latlon'",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Metadata value",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/external/api/device/meta/update": {
      "get": {
        "operationId": "updateDeviceMetadata",
        "summary": "Update device metadata value",
        "description": "Updates the value of a single-value device meta field. Can target by metaFieldId or metaFieldName (case sensitive, must be URL-encoded).",
        "tags": [
          "Metadata"
        ],
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "required": true,
            "description": "Device auth token",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "metaFieldId",
            "in": "query",
            "required": false,
            "description": "Meta field ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "metaFieldName",
            "in": "query",
            "required": false,
            "description": "Meta field name (case sensitive, URL-encoded)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "value",
            "in": "query",
            "required": true,
            "description": "New meta field value",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully updated"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/external/api/data/get": {
      "get": {
        "operationId": "getHistoricalData",
        "summary": "Get historical data from device",
        "description": "Retrieves historical data from a device with configurable time period, granularity, aggregation source type, timezone, and format. Returns a download link to a ZIP file containing the data.",
        "tags": [
          "Data"
        ],
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "required": true,
            "description": "Device auth token",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "period",
            "in": "query",
            "required": false,
            "description": "Time period for data retrieval",
            "schema": {
              "type": "string",
              "enum": [
                "HOUR",
                "DAY",
                "WEEK",
                "MONTH",
                "THREE_MONTHS"
              ],
              "default": "MONTH"
            }
          },
          {
            "name": "granularityType",
            "in": "query",
            "required": false,
            "description": "Data granularity (RAW_DATA not supported for THREE_MONTHS period)",
            "schema": {
              "type": "string",
              "enum": [
                "RAW_DATA",
                "MINUTE",
                "HOURLY",
                "DAILY"
              ],
              "default": "RAW_DATA"
            }
          },
          {
            "name": "sourceType",
            "in": "query",
            "required": false,
            "description": "Aggregation source type",
            "schema": {
              "type": "string",
              "enum": [
                "AVG",
                "MIN",
                "MAX",
                "SUM",
                "COUNT"
              ],
              "default": "AVG"
            }
          },
          {
            "name": "tzName",
            "in": "query",
            "required": false,
            "description": "Timezone (java.time.ZoneId format)",
            "schema": {
              "type": "string",
              "default": "UTC"
            }
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "description": "Timestamp format",
            "schema": {
              "type": "string",
              "enum": [
                "TS",
                "ISO_US",
                "ISO_SIMPLE"
              ],
              "default": "TS"
            }
          },
          {
            "name": "sendEvents",
            "in": "query",
            "required": false,
            "description": "Whether to include events in the data export",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "dataStreamId",
            "in": "query",
            "required": false,
            "description": "Datastream ID to get data for a specific pin",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "pin",
            "in": "query",
            "required": false,
            "description": "Virtual pin (alternative to dataStreamId)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Download link for historical data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataExportResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server error (e.g., wrong constant, no data)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/external/api/upload": {
      "post": {
        "operationId": "uploadFile",
        "summary": "Upload a file to device",
        "description": "Uploads a file to a device. Each device can hold up to 10 files (oldest deleted if exceeded). Max file size: 5MB. Max 1,000 uploads per device. Available for PRO, Production, and Enterprise plans only.",
        "tags": [
          "Files"
        ],
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "required": true,
            "description": "Device auth token",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "upfile": {
                    "type": "string",
                    "format": "binary",
                    "description": "File to upload (max 5MB)"
                  }
                },
                "required": [
                  "upfile"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully uploaded. Returns URL of the uploaded file.",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Invalid token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "File uploads limit reached",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "message": {
                "type": "string",
                "description": "Error message"
              }
            }
          }
        }
      },
      "DataExportResponse": {
        "type": "object",
        "properties": {
          "link": {
            "type": "string",
            "description": "URL to download the exported data ZIP file"
          }
        }
      },
      "DataQueryResponse": {
        "type": "object",
        "properties": {
          "meta": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                },
                "type": {
                  "type": "string"
                }
              }
            }
          },
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "data_stream_name": {
                  "type": "string"
                },
                "ts": {
                  "type": "string"
                },
                "value": {
                  "type": "number"
                }
              }
            }
          },
          "rows": {
            "type": "integer"
          },
          "rows_before_limit_at_least": {
            "type": "integer"
          }
        }
      }
    },
    "securitySchemes": {
      "DeviceAuthToken": {
        "type": "apiKey",
        "in": "query",
        "name": "token",
        "description": "Device auth token from Device info in Blynk console"
      }
    }
  },
  "security": [
    {
      "DeviceAuthToken": []
    }
  ]
}
