{
  "openapi": "3.0.3",
  "info": {
    "title": "Bitfinex API",
    "version": "2.0",
    "description": "Bitfinex cryptocurrency exchange REST API v2. Provides market data, trading, wallet management, and account features.",
    "x-jentic-source-url": "https://docs.bitfinex.com/docs/introduction",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://api-pub.bitfinex.com/v2"
    }
  ],
  "tags": [
    {
      "name": "Public",
      "description": "Public market data endpoints (no auth required)"
    },
    {
      "name": "Authenticated",
      "description": "Authenticated endpoints requiring API key"
    }
  ],
  "paths": {
    "/platform/status": {
      "get": {
        "operationId": "getPlatformStatus",
        "summary": "Platform status",
        "description": "Returns 1 if operative, 0 if in maintenance mode.",
        "tags": [
          "Public"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/tickers": {
      "get": {
        "operationId": "getTickers",
        "summary": "Get tickers",
        "description": "Returns ticker data for multiple trading pairs and funding currencies.",
        "tags": [
          "Public"
        ],
        "parameters": [
          {
            "name": "symbols",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated list of symbols (e.g. tBTCUSD,tETHUSD) or ALL"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "array",
                    "items": {
                      "type": "number"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/ticker/{Symbol}": {
      "get": {
        "operationId": "getTicker",
        "summary": "Get ticker for a pair",
        "description": "Returns ticker data for a single trading pair or funding currency.",
        "tags": [
          "Public"
        ],
        "parameters": [
          {
            "name": "Symbol",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Trading pair (e.g. tBTCUSD) or funding currency (e.g. fUSD)"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "number"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/tickers/hist": {
      "get": {
        "operationId": "getTickersHistory",
        "summary": "Get tickers history",
        "description": "Returns historical ticker data.",
        "tags": [
          "Public"
        ],
        "parameters": [
          {
            "name": "symbols",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated list of symbols"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 250
            },
            "description": "Number of records"
          },
          {
            "name": "start",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Millisecond start time"
          },
          {
            "name": "end",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Millisecond end time"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "array",
                    "items": {
                      "type": "number"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/trades/{Symbol}/hist": {
      "get": {
        "operationId": "getTrades",
        "summary": "Get trades",
        "description": "Returns the most recent trades for a given trading pair.",
        "tags": [
          "Public"
        ],
        "parameters": [
          {
            "name": "Symbol",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Trading pair symbol (e.g. tBTCUSD)"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 120
            },
            "description": "Number of records (max 10000)"
          },
          {
            "name": "start",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Millisecond start time"
          },
          {
            "name": "end",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Millisecond end time"
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [
                -1,
                1
              ]
            },
            "description": "Sort direction: 1 = old>new, -1 = new>old"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "array",
                    "items": {
                      "type": "number"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/book/{Symbol}/{Precision}": {
      "get": {
        "operationId": "getOrderBook",
        "summary": "Get order book",
        "description": "Returns the order book for a trading pair at specified precision.",
        "tags": [
          "Public"
        ],
        "parameters": [
          {
            "name": "Symbol",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Trading pair (e.g. tBTCUSD)"
          },
          {
            "name": "Precision",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "P0",
                "P1",
                "P2",
                "P3",
                "P4",
                "R0"
              ]
            },
            "description": "Level of price aggregation"
          },
          {
            "name": "len",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [
                1,
                25,
                100
              ]
            },
            "description": "Number of price points"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "array",
                    "items": {
                      "type": "number"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/candles/trade:{TimeFrame}:{Symbol}/{Section}": {
      "get": {
        "operationId": "getCandles",
        "summary": "Get candles",
        "description": "Returns OHLCV candle data for a trading pair.",
        "tags": [
          "Public"
        ],
        "parameters": [
          {
            "name": "TimeFrame",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "1m",
                "5m",
                "15m",
                "30m",
                "1h",
                "3h",
                "6h",
                "12h",
                "1D",
                "1W",
                "14D",
                "1M"
              ]
            },
            "description": "Candle time frame"
          },
          {
            "name": "Symbol",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Trading pair (e.g. tBTCUSD)"
          },
          {
            "name": "Section",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "last",
                "hist"
              ]
            },
            "description": "last = last candle, hist = historical candles"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 100
            },
            "description": "Number of candles (max 10000)"
          },
          {
            "name": "start",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Millisecond start time"
          },
          {
            "name": "end",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Millisecond end time"
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [
                -1,
                1
              ]
            },
            "description": "Sort direction"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "array",
                    "items": {
                      "type": "number"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/stats1/{Key}:{Size}:{Symbol}:{Side}/{Section}": {
      "get": {
        "operationId": "getStats",
        "summary": "Get stats",
        "description": "Returns various statistics about the requested entity.",
        "tags": [
          "Public"
        ],
        "parameters": [
          {
            "name": "Key",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "funding.size",
                "credits.size",
                "credits.size.sym",
                "pos.size",
                "vol.1d",
                "vol.7d",
                "vol.30d",
                "vwap"
              ]
            },
            "description": "Stat key"
          },
          {
            "name": "Size",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Size parameter"
          },
          {
            "name": "Symbol",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Symbol"
          },
          {
            "name": "Side",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Side (long/short)"
          },
          {
            "name": "Section",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "last",
                "hist"
              ]
            },
            "description": "Section"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "number"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/conf/pub:list:pair:exchange": {
      "get": {
        "operationId": "getExchangePairs",
        "summary": "Get exchange trading pairs",
        "description": "Returns the list of available exchange trading pairs.",
        "tags": [
          "Public"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/conf/pub:list:currency": {
      "get": {
        "operationId": "getCurrencies",
        "summary": "Get currencies",
        "description": "Returns the list of supported currencies.",
        "tags": [
          "Public"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/conf/pub:map:currency:sym": {
      "get": {
        "operationId": "getCurrencySymbolMap",
        "summary": "Get currency symbol map",
        "description": "Returns the mapping between currency codes and symbols.",
        "tags": [
          "Public"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "array"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/auth/r/wallets": {
      "post": {
        "operationId": "getWallets",
        "summary": "Get wallets",
        "description": "Returns wallet balances for all currencies.",
        "tags": [
          "Authenticated"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Wallet"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/auth/r/orders": {
      "post": {
        "operationId": "getActiveOrders",
        "summary": "Get active orders",
        "description": "Returns all active orders.",
        "tags": [
          "Authenticated"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Order"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/auth/r/orders/{Symbol}/hist": {
      "post": {
        "operationId": "getOrdersHistory",
        "summary": "Get orders history",
        "description": "Returns historical orders for a symbol.",
        "tags": [
          "Authenticated"
        ],
        "parameters": [
          {
            "name": "Symbol",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Trading pair symbol"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "start": {
                    "type": "integer"
                  },
                  "end": {
                    "type": "integer"
                  },
                  "limit": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Order"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/auth/r/trades/{Symbol}/hist": {
      "post": {
        "operationId": "getTradesHistory",
        "summary": "Get trades history",
        "description": "Returns historical trades for a symbol.",
        "tags": [
          "Authenticated"
        ],
        "parameters": [
          {
            "name": "Symbol",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Trading pair symbol"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "start": {
                    "type": "integer"
                  },
                  "end": {
                    "type": "integer"
                  },
                  "limit": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "array",
                    "items": {
                      "type": "number"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/auth/w/order/submit": {
      "post": {
        "operationId": "submitOrder",
        "summary": "Submit new order",
        "description": "Submits a new order.",
        "tags": [
          "Authenticated"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewOrderRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/auth/w/order/update": {
      "post": {
        "operationId": "updateOrder",
        "summary": "Update order",
        "description": "Updates an existing order.",
        "tags": [
          "Authenticated"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "id"
                ],
                "properties": {
                  "id": {
                    "type": "integer"
                  },
                  "amount": {
                    "type": "string"
                  },
                  "price": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/auth/w/order/cancel": {
      "post": {
        "operationId": "cancelOrder",
        "summary": "Cancel order",
        "description": "Cancels an existing order.",
        "tags": [
          "Authenticated"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "id"
                ],
                "properties": {
                  "id": {
                    "type": "integer",
                    "description": "Order ID to cancel"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/auth/w/order/multi": {
      "post": {
        "operationId": "submitMultipleOrders",
        "summary": "Submit multiple orders",
        "description": "Submit multiple orders at once.",
        "tags": [
          "Authenticated"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "ops": {
                    "type": "array",
                    "items": {
                      "type": "array"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/auth/r/positions": {
      "post": {
        "operationId": "getPositions",
        "summary": "Get active positions",
        "description": "Returns all active margin positions.",
        "tags": [
          "Authenticated"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Position"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/auth/r/funding/offers": {
      "post": {
        "operationId": "getFundingOffers",
        "summary": "Get funding offers",
        "description": "Returns active funding offers.",
        "tags": [
          "Authenticated"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "array",
                    "items": {
                      "type": "number"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/auth/r/info/user": {
      "post": {
        "operationId": "getUserInfo",
        "summary": "Get user info",
        "description": "Returns account user information.",
        "tags": [
          "Authenticated"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/auth/r/ledgers/hist": {
      "post": {
        "operationId": "getLedgers",
        "summary": "Get ledger entries",
        "description": "Returns ledger entries for the account.",
        "tags": [
          "Authenticated"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "start": {
                    "type": "integer"
                  },
                  "end": {
                    "type": "integer"
                  },
                  "limit": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/auth/w/transfer": {
      "post": {
        "operationId": "walletTransfer",
        "summary": "Transfer between wallets",
        "description": "Transfers funds between wallets (exchange, margin, funding).",
        "tags": [
          "Authenticated"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "from",
                  "to",
                  "currency",
                  "amount"
                ],
                "properties": {
                  "from": {
                    "type": "string",
                    "enum": [
                      "exchange",
                      "margin",
                      "funding"
                    ]
                  },
                  "to": {
                    "type": "string",
                    "enum": [
                      "exchange",
                      "margin",
                      "funding"
                    ]
                  },
                  "currency": {
                    "type": "string"
                  },
                  "amount": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/auth/w/deposit/address": {
      "post": {
        "operationId": "getDepositAddress",
        "summary": "Get deposit address",
        "description": "Returns a deposit address for a given wallet and currency.",
        "tags": [
          "Authenticated"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "wallet",
                  "method"
                ],
                "properties": {
                  "wallet": {
                    "type": "string"
                  },
                  "method": {
                    "type": "string"
                  },
                  "op_renew": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/auth/w/withdraw": {
      "post": {
        "operationId": "withdraw",
        "summary": "Withdraw",
        "description": "Request a withdrawal.",
        "tags": [
          "Authenticated"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "wallet",
                  "method",
                  "amount",
                  "address"
                ],
                "properties": {
                  "wallet": {
                    "type": "string"
                  },
                  "method": {
                    "type": "string"
                  },
                  "amount": {
                    "type": "string"
                  },
                  "address": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "bfx-apikey",
        "description": "Bitfinex API key. Requests also require bfx-nonce and bfx-signature headers."
      }
    },
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "Wallet": {
        "type": "object",
        "description": "Array: [WALLET_TYPE, CURRENCY, BALANCE, UNSETTLED_INTEREST, BALANCE_AVAILABLE]",
        "properties": {
          "walletType": {
            "type": "string"
          },
          "currency": {
            "type": "string"
          },
          "balance": {
            "type": "number"
          },
          "unsettledInterest": {
            "type": "number"
          },
          "balanceAvailable": {
            "type": "number"
          }
        }
      },
      "Order": {
        "type": "object",
        "description": "Array representation of an order",
        "properties": {
          "id": {
            "type": "integer"
          },
          "gid": {
            "type": "integer"
          },
          "cid": {
            "type": "integer"
          },
          "symbol": {
            "type": "string"
          },
          "mtsCreate": {
            "type": "integer"
          },
          "mtsUpdate": {
            "type": "integer"
          },
          "amount": {
            "type": "number"
          },
          "amountOrig": {
            "type": "number"
          },
          "type": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "price": {
            "type": "number"
          },
          "priceAvg": {
            "type": "number"
          }
        }
      },
      "Position": {
        "type": "object",
        "description": "Array representation of a position",
        "properties": {
          "symbol": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "amount": {
            "type": "number"
          },
          "basePrice": {
            "type": "number"
          },
          "marginFunding": {
            "type": "number"
          },
          "pl": {
            "type": "number"
          },
          "plPerc": {
            "type": "number"
          }
        }
      },
      "NewOrderRequest": {
        "type": "object",
        "required": [
          "type",
          "symbol",
          "amount"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "LIMIT",
              "MARKET",
              "STOP",
              "STOP LIMIT",
              "TRAILING STOP",
              "EXCHANGE MARKET",
              "EXCHANGE LIMIT",
              "EXCHANGE STOP",
              "EXCHANGE STOP LIMIT",
              "EXCHANGE TRAILING STOP",
              "FOK",
              "EXCHANGE FOK",
              "IOC",
              "EXCHANGE IOC"
            ],
            "description": "Order type"
          },
          "symbol": {
            "type": "string",
            "description": "Trading pair (e.g. tBTCUSD)"
          },
          "amount": {
            "type": "string",
            "description": "Order amount (positive=buy, negative=sell)"
          },
          "price": {
            "type": "string",
            "description": "Price (required for limit orders)"
          },
          "lev": {
            "type": "integer",
            "description": "Leverage for margin order"
          },
          "price_trailing": {
            "type": "string"
          },
          "price_aux_limit": {
            "type": "string"
          },
          "flags": {
            "type": "integer"
          },
          "gid": {
            "type": "integer"
          }
        }
      }
    }
  },
  "security": [
    {
      "apiKeyAuth": []
    }
  ]
}
