{
  "openapi": "3.0.0",
  "info": {
    "title": "Climatiq API",
    "description": "Carbon emissions calculation API providing access to emission factors and estimation endpoints for various activities including freight, travel, energy, and more.",
    "version": "1.0.0",
    "contact": {
      "name": "Climatiq",
      "url": "https://www.climatiq.io"
    }
  },
  "servers": [
    {
      "url": "https://api.climatiq.io",
      "description": "Production server"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/data/v1/search": {
      "get": {
        "summary": "Search emission factors",
        "description": "Discover available emission factors with optional filtering",
        "operationId": "searchEmissionFactors",
        "parameters": [
          {
            "name": "data_version",
            "in": "query",
            "required": true,
            "description": "Data version identifier for the request",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "query",
            "in": "query",
            "description": "Free-text search matching ids, names, descriptions",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "activity_id",
            "in": "query",
            "description": "Filter by specific activity (supports wildcard *)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "description": "Filter by unique emission factor ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "category",
            "in": "query",
            "description": "Emission factor category filter",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "scope",
            "in": "query",
            "description": "Scope filter (e.g., 1, 2, 3.1, 3)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sector",
            "in": "query",
            "description": "Sector filter",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "source",
            "in": "query",
            "description": "Data source filter",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "source_dataset",
            "in": "query",
            "description": "Dataset from a source",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "year",
            "in": "query",
            "description": "Year relevance filter",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "region",
            "in": "query",
            "description": "Geographic region (supports wildcard *)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "unit_type",
            "in": "query",
            "description": "Unit category filter",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "source_lca_activity",
            "in": "query",
            "description": "Life Cycle Assessment activity",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "calculation_method",
            "in": "query",
            "description": "Calculation method",
            "schema": {
              "type": "string",
              "enum": [
                "ar4",
                "ar5",
                "ar6"
              ]
            }
          },
          {
            "name": "allowed_data_quality_flags",
            "in": "query",
            "description": "Acceptable quality flags",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "style": "form",
            "explode": true
          },
          {
            "name": "access_type",
            "in": "query",
            "description": "Access type filter",
            "schema": {
              "type": "string",
              "enum": [
                "public",
                "private",
                "premium"
              ]
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Results page number",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "results_per_page",
            "in": "query",
            "description": "Results per page",
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 500
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "array",
                      "description": "Emission factors matching query",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "activity_id": {
                            "type": "string"
                          },
                          "access_type": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "category": {
                            "type": "string"
                          },
                          "sector": {
                            "type": "string"
                          },
                          "source": {
                            "type": "string"
                          },
                          "year": {
                            "type": "integer"
                          },
                          "region": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "unit_type": {
                            "type": "string"
                          },
                          "factor": {
                            "type": "number"
                          },
                          "factor_calculation_method": {
                            "type": "string"
                          },
                          "data_version": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "current_page": {
                      "type": "integer"
                    },
                    "last_page": {
                      "type": "integer"
                    },
                    "total_results": {
                      "type": "integer"
                    },
                    "possible_filters": {
                      "type": "object",
                      "description": "Available filter refinements"
                    },
                    "notices": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "tags": [
          "data"
        ]
      }
    },
    "/data/v1/estimate": {
      "post": {
        "summary": "Calculate emissions",
        "description": "Calculate carbon emissions for a specific activity",
        "operationId": "estimateEmissions",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "emission_factor",
                  "parameters"
                ],
                "properties": {
                  "emission_factor": {
                    "type": "object",
                    "description": "Selector object specifying the emission factor",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "Specific emission factor ID"
                      },
                      "activity_id": {
                        "type": "string",
                        "description": "Activity identifier"
                      },
                      "data_version": {
                        "type": "string",
                        "description": "Data version to use"
                      },
                      "region": {
                        "type": "string"
                      },
                      "year": {
                        "type": "integer"
                      },
                      "source": {
                        "type": "string"
                      }
                    }
                  },
                  "parameters": {
                    "type": "object",
                    "description": "Activity-specific parameters",
                    "additionalProperties": true,
                    "example": {
                      "energy": 100,
                      "energy_unit": "kWh"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful emission calculation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "co2e": {
                      "type": "number",
                      "description": "Carbon dioxide equivalent emissions"
                    },
                    "co2e_unit": {
                      "type": "string",
                      "description": "Unit of measurement (typically kg)"
                    },
                    "co2e_calculation_method": {
                      "type": "string",
                      "description": "Methodology used (ar4, ar5, or ar6)"
                    },
                    "co2e_calculation_origin": {
                      "type": "string",
                      "description": "Whether calculation came from source or climatiq"
                    },
                    "emission_factor": {
                      "type": "object",
                      "description": "The specific factor applied"
                    },
                    "constituent_gases": {
                      "type": "object",
                      "description": "Breakdown of gas components"
                    },
                    "activity_data": {
                      "type": "object",
                      "description": "The parameters multiplied by the factor"
                    },
                    "audit_trail": {
                      "type": "string",
                      "description": "Audit trail status"
                    },
                    "notices": {
                      "type": "array",
                      "description": "Informational or warning messages",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "tags": [
          "data"
        ]
      }
    },
    "/data/v1/estimate/batch": {
      "post": {
        "summary": "Batch calculate emissions",
        "description": "Calculate emissions for up to 100 activities in a single request",
        "operationId": "batchEstimateEmissions",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "maxItems": 100,
                "items": {
                  "type": "object",
                  "required": [
                    "emission_factor",
                    "parameters"
                  ],
                  "properties": {
                    "emission_factor": {
                      "type": "object",
                      "description": "Selector object specifying the emission factor"
                    },
                    "parameters": {
                      "type": "object",
                      "description": "Activity-specific parameters"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful batch calculation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "tags": [
          "data"
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Bearer token containing your Climatiq API key"
      }
    }
  },
  "tags": [
    {
      "name": "data"
    }
  ]
}
