{
  "openapi": "3.0.3",
  "info": {
    "title": "LoginTC API",
    "version": "1.0.0",
    "description": "LoginTC two-factor authentication REST API for managing domains, users, tokens, hardware tokens, sessions, and bypass codes.",
    "x-jentic-source-url": "https://www.logintc.com/docs/",
    "contact": {
      "name": "Cyphercor (LoginTC)",
      "url": "https://www.logintc.com"
    }
  },
  "servers": [
    {
      "url": "https://cloud.logintc.com/api",
      "description": "LoginTC Cloud API"
    }
  ],
  "security": [
    {
      "apiKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "Domains",
      "description": "Domain management"
    },
    {
      "name": "Users",
      "description": "User management"
    },
    {
      "name": "Tokens",
      "description": "Token management"
    },
    {
      "name": "Sessions",
      "description": "Authentication sessions"
    },
    {
      "name": "Hardware Tokens",
      "description": "Hardware token management"
    },
    {
      "name": "Bypass Codes",
      "description": "Bypass code management"
    },
    {
      "name": "Policies",
      "description": "Authentication policies"
    }
  ],
  "paths": {
    "/domains": {
      "get": {
        "tags": [
          "Domains"
        ],
        "operationId": "list-domains",
        "summary": "List domains",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "List domains"
      },
      "post": {
        "tags": [
          "Domains"
        ],
        "operationId": "create-domains",
        "summary": "Create domains",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Create domains"
      }
    },
    "/domains/{domainId}/users": {
      "get": {
        "tags": [
          "Users"
        ],
        "operationId": "list-domains-domainId-users",
        "summary": "List users",
        "parameters": [
          {
            "name": "domainId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "List users"
      },
      "post": {
        "tags": [
          "Users"
        ],
        "operationId": "create-domains-domainId-users",
        "summary": "Create users",
        "parameters": [
          {
            "name": "domainId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Create users"
      }
    },
    "/domains/{domainId}/users/{userId}": {
      "get": {
        "tags": [
          "Users"
        ],
        "operationId": "get-domains-domainId-users-userId",
        "summary": "Get user",
        "parameters": [
          {
            "name": "domainId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Get user"
      },
      "put": {
        "tags": [
          "Users"
        ],
        "operationId": "update-domains-domainId-users-userId",
        "summary": "Update user",
        "parameters": [
          {
            "name": "domainId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Update user"
      },
      "delete": {
        "tags": [
          "Users"
        ],
        "operationId": "delete-domains-domainId-users-userId",
        "summary": "Delete user",
        "parameters": [
          {
            "name": "domainId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Delete user"
      }
    },
    "/domains/{domainId}/tokens": {
      "get": {
        "tags": [
          "Tokens"
        ],
        "operationId": "list-domains-domainId-tokens",
        "summary": "List tokens",
        "parameters": [
          {
            "name": "domainId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "List tokens"
      },
      "post": {
        "tags": [
          "Tokens"
        ],
        "operationId": "create-domains-domainId-tokens",
        "summary": "Create tokens",
        "parameters": [
          {
            "name": "domainId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Create tokens"
      }
    },
    "/domains/{domainId}/tokens/{tokenId}": {
      "get": {
        "tags": [
          "Tokens"
        ],
        "operationId": "get-domains-domainId-tokens-tokenId",
        "summary": "Get token",
        "parameters": [
          {
            "name": "domainId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tokenId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Get token"
      },
      "put": {
        "tags": [
          "Tokens"
        ],
        "operationId": "update-domains-domainId-tokens-tokenId",
        "summary": "Update token",
        "parameters": [
          {
            "name": "domainId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tokenId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Update token"
      },
      "delete": {
        "tags": [
          "Tokens"
        ],
        "operationId": "delete-domains-domainId-tokens-tokenId",
        "summary": "Delete token",
        "parameters": [
          {
            "name": "domainId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tokenId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Delete token"
      }
    },
    "/domains/{domainId}/sessions": {
      "get": {
        "tags": [
          "Sessions"
        ],
        "operationId": "list-domains-domainId-sessions",
        "summary": "List sessions",
        "parameters": [
          {
            "name": "domainId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "List sessions"
      },
      "post": {
        "tags": [
          "Sessions"
        ],
        "operationId": "create-domains-domainId-sessions",
        "summary": "Create sessions",
        "parameters": [
          {
            "name": "domainId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Create sessions"
      }
    },
    "/domains/{domainId}/sessions/{sessionId}": {
      "get": {
        "tags": [
          "Sessions"
        ],
        "operationId": "get-domains-domainId-sessions-sessionId",
        "summary": "Get session",
        "parameters": [
          {
            "name": "domainId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sessionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Get session"
      }
    },
    "/domains/{domainId}/hardware-tokens": {
      "get": {
        "tags": [
          "Hardware Tokens"
        ],
        "operationId": "list-domains-domainId-hardware-tokens",
        "summary": "List hardware-tokens",
        "parameters": [
          {
            "name": "domainId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "List hardware-tokens"
      },
      "post": {
        "tags": [
          "Hardware Tokens"
        ],
        "operationId": "create-domains-domainId-hardware-tokens",
        "summary": "Create hardware-tokens",
        "parameters": [
          {
            "name": "domainId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Create hardware-tokens"
      }
    },
    "/domains/{domainId}/hardware-tokens/{tokenId}": {
      "get": {
        "tags": [
          "Hardware Tokens"
        ],
        "operationId": "get-domains-domainId-hardware-tokens-tokenId",
        "summary": "Get token",
        "parameters": [
          {
            "name": "domainId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tokenId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Get token"
      },
      "put": {
        "tags": [
          "Hardware Tokens"
        ],
        "operationId": "update-domains-domainId-hardware-tokens-tokenId",
        "summary": "Update token",
        "parameters": [
          {
            "name": "domainId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tokenId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Update token"
      },
      "delete": {
        "tags": [
          "Hardware Tokens"
        ],
        "operationId": "delete-domains-domainId-hardware-tokens-tokenId",
        "summary": "Delete token",
        "parameters": [
          {
            "name": "domainId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tokenId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Delete token"
      }
    },
    "/domains/{domainId}/bypass-codes": {
      "get": {
        "tags": [
          "Bypass Codes"
        ],
        "operationId": "list-domains-domainId-bypass-codes",
        "summary": "List bypass-codes",
        "parameters": [
          {
            "name": "domainId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "List bypass-codes"
      },
      "post": {
        "tags": [
          "Bypass Codes"
        ],
        "operationId": "create-domains-domainId-bypass-codes",
        "summary": "Create bypass-codes",
        "parameters": [
          {
            "name": "domainId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Create bypass-codes"
      }
    },
    "/domains/{domainId}/bypass-codes/{codeId}": {
      "get": {
        "tags": [
          "Bypass Codes"
        ],
        "operationId": "get-domains-domainId-bypass-codes-codeId",
        "summary": "Get code",
        "parameters": [
          {
            "name": "domainId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "codeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Get code"
      },
      "put": {
        "tags": [
          "Bypass Codes"
        ],
        "operationId": "update-domains-domainId-bypass-codes-codeId",
        "summary": "Update code",
        "parameters": [
          {
            "name": "domainId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "codeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Update code"
      },
      "delete": {
        "tags": [
          "Bypass Codes"
        ],
        "operationId": "delete-domains-domainId-bypass-codes-codeId",
        "summary": "Delete code",
        "parameters": [
          {
            "name": "domainId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "codeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Delete code"
      }
    },
    "/domains/{domainId}/policies": {
      "get": {
        "tags": [
          "Policies"
        ],
        "operationId": "list-domains-domainId-policies",
        "summary": "List policies",
        "parameters": [
          {
            "name": "domainId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "List policies"
      },
      "post": {
        "tags": [
          "Policies"
        ],
        "operationId": "create-domains-domainId-policies",
        "summary": "Create policies",
        "parameters": [
          {
            "name": "domainId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Create policies"
      }
    },
    "/domains/{domainId}/policies/{policyId}": {
      "get": {
        "tags": [
          "Policies"
        ],
        "operationId": "get-domains-domainId-policies-policyId",
        "summary": "Get policy",
        "parameters": [
          {
            "name": "domainId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "policyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Get policy"
      },
      "put": {
        "tags": [
          "Policies"
        ],
        "operationId": "update-domains-domainId-policies-policyId",
        "summary": "Update policy",
        "parameters": [
          {
            "name": "domainId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "policyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Update policy"
      },
      "delete": {
        "tags": [
          "Policies"
        ],
        "operationId": "delete-domains-domainId-policies-policyId",
        "summary": "Delete policy",
        "parameters": [
          {
            "name": "domainId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "policyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Delete policy"
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "description": "LoginTC API key"
      }
    },
    "schemas": {}
  }
}
