{
  "openapi": "3.0.3",
  "info": {
    "title": "APIFlash Screenshot API",
    "version": "1.0.0",
    "description": "APIFlash provides a website screenshot API that renders screenshots using real Chrome browsers in the cloud. Supports full page capture, element selection, custom CSS/JS injection, geolocation spoofing, and various output formats. All screenshots are generated server-side using Chromium.",
    "x-jentic-source-url": "https://apiflash.com/documentation",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://api.apiflash.com",
      "description": "APIFlash Production API"
    }
  ],
  "security": [
    {
      "accessKey": []
    }
  ],
  "tags": [
    {
      "name": "Screenshots",
      "description": "Website screenshot capture and quota management"
    }
  ],
  "paths": {
    "/v1/urltoimage": {
      "get": {
        "operationId": "captureScreenshot",
        "summary": "Capture Website Screenshot",
        "description": "Takes a screenshot of a website URL and returns it as an image or a JSON response with the image URL. Supports numerous options for controlling viewport size, format, quality, wait conditions, and more.",
        "tags": [
          "Screenshots"
        ],
        "parameters": [
          {
            "name": "access_key",
            "in": "query",
            "required": true,
            "description": "Your APIFlash access key",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "url",
            "in": "query",
            "required": true,
            "description": "The URL of the website to capture",
            "schema": {
              "type": "string",
              "format": "uri"
            }
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "description": "The image format of the captured screenshot",
            "schema": {
              "type": "string",
              "enum": [
                "jpeg",
                "png",
                "webp"
              ],
              "default": "jpeg"
            }
          },
          {
            "name": "width",
            "in": "query",
            "required": false,
            "description": "The width of the browser viewport in pixels",
            "schema": {
              "type": "integer",
              "default": 1920
            }
          },
          {
            "name": "height",
            "in": "query",
            "required": false,
            "description": "The height of the browser viewport in pixels",
            "schema": {
              "type": "integer",
              "default": 1080
            }
          },
          {
            "name": "full_page",
            "in": "query",
            "required": false,
            "description": "Whether to capture a full-page screenshot of the entire page",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "quality",
            "in": "query",
            "required": false,
            "description": "The quality of the image between 0 and 100. Only applies to jpeg and webp format",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 100,
              "default": 80
            }
          },
          {
            "name": "delay",
            "in": "query",
            "required": false,
            "description": "The delay in seconds before taking the screenshot after the page has loaded (max 10 seconds)",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 10,
              "default": 0
            }
          },
          {
            "name": "css",
            "in": "query",
            "required": false,
            "description": "A CSS string to inject in the page before capturing the screenshot",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "js",
            "in": "query",
            "required": false,
            "description": "A JavaScript string to execute in the page before capturing the screenshot",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "scroll_page",
            "in": "query",
            "required": false,
            "description": "Whether to scroll the page down before capturing the screenshot (triggers lazy-loaded images)",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "fresh",
            "in": "query",
            "required": false,
            "description": "Whether to always generate a fresh screenshot (no cache). Uses 1 extra credit when using TTL caching.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "response_type",
            "in": "query",
            "required": false,
            "description": "Response type. 'image' returns the raw image. 'json' returns a JSON response with the image URL.",
            "schema": {
              "type": "string",
              "enum": [
                "image",
                "json"
              ],
              "default": "image"
            }
          },
          {
            "name": "no_cookie_banners",
            "in": "query",
            "required": false,
            "description": "Whether to remove cookie banners from the page before capturing the screenshot",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "no_ads",
            "in": "query",
            "required": false,
            "description": "Whether to block ads on the page before capturing the screenshot",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "no_tracking",
            "in": "query",
            "required": false,
            "description": "Whether to block tracking scripts on the page",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "element",
            "in": "query",
            "required": false,
            "description": "A CSS selector of the element to capture instead of the full page",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "transparent",
            "in": "query",
            "required": false,
            "description": "Whether to make the background transparent. Only works with png format.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "wait_until",
            "in": "query",
            "required": false,
            "description": "The event to wait for before capturing the screenshot",
            "schema": {
              "type": "string",
              "enum": [
                "load",
                "domcontentloaded",
                "networkidle0",
                "networkidle2"
              ],
              "default": "load"
            }
          },
          {
            "name": "time_zone",
            "in": "query",
            "required": false,
            "description": "The timezone to emulate (e.g., America/New_York, Europe/London)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fail_on_status",
            "in": "query",
            "required": false,
            "description": "Comma-separated list of HTTP status codes that should cause the API to return an error. Use '2xx,3xx,4xx,5xx' format.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "extract_html",
            "in": "query",
            "required": false,
            "description": "Whether to extract and return the page HTML instead of a screenshot",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "extract_text",
            "in": "query",
            "required": false,
            "description": "Whether to extract and return the page text content instead of a screenshot",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "thumbnail_width",
            "in": "query",
            "required": false,
            "description": "Width of the generated thumbnail in pixels. The image will be resized to this width.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "accept_language",
            "in": "query",
            "required": false,
            "description": "Set the Accept-Language header for the request (e.g., en-US,en;q=0.5)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "user_agent",
            "in": "query",
            "required": false,
            "description": "Set a custom user agent string for the request",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "latitude",
            "in": "query",
            "required": false,
            "description": "Latitude for geolocation spoofing",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "longitude",
            "in": "query",
            "required": false,
            "description": "Longitude for geolocation spoofing",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "accuracy",
            "in": "query",
            "required": false,
            "description": "Accuracy in meters for geolocation spoofing",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "proxy",
            "in": "query",
            "required": false,
            "description": "Proxy URL to use for the request (e.g., http://user:pass@host:port)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ttl",
            "in": "query",
            "required": false,
            "description": "Time to live in seconds for caching the screenshot. Use 0 for no caching.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "wait_for",
            "in": "query",
            "required": false,
            "description": "A CSS selector of an element to wait for before capturing the screenshot",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "no_background",
            "in": "query",
            "required": false,
            "description": "Whether to hide the default white background and allow capturing with transparency",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "s3_access_key",
            "in": "query",
            "required": false,
            "description": "S3 access key ID for saving the screenshot directly to your S3 bucket",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "s3_secret_key",
            "in": "query",
            "required": false,
            "description": "S3 secret access key for saving the screenshot directly to your S3 bucket",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "s3_bucket",
            "in": "query",
            "required": false,
            "description": "S3 bucket name for saving the screenshot",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "s3_key",
            "in": "query",
            "required": false,
            "description": "S3 object key (path) for the screenshot",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "s3_endpoint",
            "in": "query",
            "required": false,
            "description": "Custom S3 endpoint URL (for S3-compatible services like DigitalOcean Spaces, Backblaze B2)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "s3_region",
            "in": "query",
            "required": false,
            "description": "S3 region for the bucket",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Screenshot captured successfully. Returns image data or JSON depending on response_type parameter.",
            "content": {
              "image/jpeg": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "image/png": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "image/webp": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScreenshotJsonResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid access key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit or quota exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/urltoimage/quota": {
      "get": {
        "operationId": "getQuota",
        "summary": "Get Remaining Quota",
        "description": "Returns the remaining screenshot quota for the current billing period.",
        "tags": [
          "Screenshots"
        ],
        "parameters": [
          {
            "name": "access_key",
            "in": "query",
            "required": true,
            "description": "Your APIFlash access key",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Quota information retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QuotaResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid access key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "accessKey": {
        "type": "apiKey",
        "in": "query",
        "name": "access_key",
        "description": "API access key passed as a query parameter"
      }
    },
    "schemas": {
      "ScreenshotJsonResponse": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string",
            "format": "uri",
            "description": "URL of the generated screenshot image"
          }
        }
      },
      "QuotaResponse": {
        "type": "object",
        "properties": {
          "limit": {
            "type": "integer",
            "description": "Total screenshot quota for the current billing period"
          },
          "remaining": {
            "type": "integer",
            "description": "Remaining screenshots in the current billing period"
          },
          "reset": {
            "type": "integer",
            "description": "Unix timestamp when the quota resets"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error_message": {
            "type": "string",
            "description": "Human-readable error message"
          }
        }
      }
    }
  }
}
