{
  "openapi": "3.0.3",
  "info": {
    "title": "Data.gov API",
    "version": "1.0.0",
    "description": "Data.gov is the U.S. government's open data gateway. The api.data.gov service provides a unified API key management layer and proxy for federal government APIs. It handles authentication, rate limiting, and analytics for participating federal APIs.",
    "x-jentic-source-url": "https://api.data.gov/",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://api.data.gov"
    }
  ],
  "paths": {
    "/api-umbrella/v1/apis": {
      "get": {
        "operationId": "listApis",
        "summary": "List Available APIs",
        "description": "Returns a list of APIs available through the data.gov gateway.",
        "tags": [
          "Discovery"
        ],
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "description": "Your data.gov API key",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 25
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of APIs",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ed/collegescorecard/v1/schools": {
      "get": {
        "operationId": "searchColleges",
        "summary": "College Scorecard - Search Schools",
        "description": "Search the Department of Education College Scorecard data for schools matching criteria.",
        "tags": [
          "Education"
        ],
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "school.name",
            "in": "query",
            "required": false,
            "description": "School name filter",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "school.state",
            "in": "query",
            "required": false,
            "description": "State FIPS code or abbreviation",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "school.city",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "school.zip",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "school.degrees_awarded.predominant",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated list of fields to return",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Field to sort by",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 100
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "School results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CollegeScorecardResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/nrel/alt-fuel-stations/v1.json": {
      "get": {
        "operationId": "listAltFuelStations",
        "summary": "NREL Alternative Fuel Stations",
        "description": "Search for alternative fuel stations (EV chargers, biodiesel, CNG, etc.) from the NREL database.",
        "tags": [
          "Energy"
        ],
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fuel_type",
            "in": "query",
            "required": false,
            "description": "Fuel type filter",
            "schema": {
              "type": "string",
              "enum": [
                "ELEC",
                "BD",
                "CNG",
                "E85",
                "HY",
                "LNG",
                "LPG"
              ]
            }
          },
          {
            "name": "state",
            "in": "query",
            "required": false,
            "description": "Two-letter state code",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "zip",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "latitude",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "longitude",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "radius",
            "in": "query",
            "required": false,
            "description": "Radius in miles",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "E",
                "P",
                "T"
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 200
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Fuel station results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FuelStationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/nrel/alt-fuel-stations/v1/{id}.json": {
      "get": {
        "operationId": "getAltFuelStation",
        "summary": "Get Alternative Fuel Station by ID",
        "description": "Get details of a specific alternative fuel station.",
        "tags": [
          "Energy"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Fuel station details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FuelStation"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/nrel/alt-fuel-stations/v1/nearest.json": {
      "get": {
        "operationId": "nearestAltFuelStations",
        "summary": "Find Nearest Alternative Fuel Stations",
        "description": "Find the nearest alternative fuel stations to a location.",
        "tags": [
          "Energy"
        ],
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "latitude",
            "in": "query",
            "required": true,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "longitude",
            "in": "query",
            "required": true,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "fuel_type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "radius",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 5
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Nearest stations",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FuelStationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/regulations/v4/documents": {
      "get": {
        "operationId": "searchRegulations",
        "summary": "Regulations.gov - Search Documents",
        "description": "Search federal regulatory documents from Regulations.gov.",
        "tags": [
          "Regulations"
        ],
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[searchTerm]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[agencyId]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[documentType]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "Notice",
                "Rule",
                "Proposed Rule",
                "Supporting & Related Material",
                "Other"
              ]
            }
          },
          {
            "name": "filter[postedDate]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "page[size]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 25,
              "maximum": 250
            }
          },
          {
            "name": "page[number]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Regulatory documents",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/regulations/v4/documents/{documentId}": {
      "get": {
        "operationId": "getRegulationDocument",
        "summary": "Regulations.gov - Get Document",
        "description": "Get details of a specific regulatory document.",
        "tags": [
          "Regulations"
        ],
        "parameters": [
          {
            "name": "documentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Document details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/regulations/v4/dockets/{docketId}": {
      "get": {
        "operationId": "getRegulationDocket",
        "summary": "Regulations.gov - Get Docket",
        "description": "Get details of a regulatory docket.",
        "tags": [
          "Regulations"
        ],
        "parameters": [
          {
            "name": "docketId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Docket details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ApiListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                },
                "frontend_host": {
                  "type": "string"
                },
                "backend_host": {
                  "type": "string"
                }
              }
            }
          },
          "meta": {
            "type": "object",
            "properties": {
              "page": {
                "type": "integer"
              },
              "per_page": {
                "type": "integer"
              },
              "total": {
                "type": "integer"
              }
            }
          }
        }
      },
      "CollegeScorecardResponse": {
        "type": "object",
        "properties": {
          "metadata": {
            "type": "object",
            "properties": {
              "total": {
                "type": "integer"
              },
              "page": {
                "type": "integer"
              },
              "per_page": {
                "type": "integer"
              }
            }
          },
          "results": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer"
                },
                "school.name": {
                  "type": "string"
                },
                "school.city": {
                  "type": "string"
                },
                "school.state": {
                  "type": "string"
                },
                "school.zip": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "FuelStationResponse": {
        "type": "object",
        "properties": {
          "station_locator_url": {
            "type": "string"
          },
          "total_results": {
            "type": "integer"
          },
          "offset": {
            "type": "integer"
          },
          "fuel_stations": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FuelStation"
            }
          }
        }
      },
      "FuelStation": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "station_name": {
            "type": "string"
          },
          "street_address": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "state": {
            "type": "string"
          },
          "zip": {
            "type": "string"
          },
          "country": {
            "type": "string"
          },
          "latitude": {
            "type": "number"
          },
          "longitude": {
            "type": "number"
          },
          "fuel_type_code": {
            "type": "string"
          },
          "station_phone": {
            "type": "string"
          },
          "status_code": {
            "type": "string"
          },
          "ev_level1_evse_num": {
            "type": "integer"
          },
          "ev_level2_evse_num": {
            "type": "integer"
          },
          "ev_dc_fast_num": {
            "type": "integer"
          },
          "ev_network": {
            "type": "string"
          },
          "ev_connector_types": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "error"
            ]
          },
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "name": "api_key",
        "in": "query",
        "description": "Data.gov API key - obtain at https://api.data.gov/signup/"
      }
    }
  },
  "security": [
    {
      "apiKey": []
    }
  ],
  "tags": [
    {
      "name": "Discovery"
    },
    {
      "name": "Education"
    },
    {
      "name": "Energy"
    },
    {
      "name": "Regulations"
    }
  ]
}
