{
  "openapi": "3.0.3",
  "info": {
    "title": "SEON Fraud API",
    "version": "1.0.0",
    "description": "SEON fraud prevention API for email, phone, IP enrichment, transaction scoring, and fraud detection",
    "x-jentic-source-url": "https://docs.seon.io/api-reference",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://api.seon.io/SeonRestService"
    }
  ],
  "paths": {
    "/fraud-api/v2.2": {
      "post": {
        "operationId": "scoreFraudTransaction",
        "summary": "Score a transaction for fraud",
        "tags": [
          "Fraud API"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FraudScoreRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FraudScoreResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Score a transaction for fraud"
      }
    },
    "/email-api/v2.2/{email}": {
      "get": {
        "operationId": "getEmailInfo",
        "summary": "Get email address enrichment data",
        "tags": [
          "Email API"
        ],
        "parameters": [
          {
            "name": "email",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmailEnrichmentResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get email address enrichment data"
      }
    },
    "/phone-api/v1.4/{phone_number}": {
      "get": {
        "operationId": "getPhoneInfo",
        "summary": "Get phone number enrichment data",
        "tags": [
          "Phone API"
        ],
        "parameters": [
          {
            "name": "phone_number",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PhoneEnrichmentResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get phone number enrichment data"
      }
    },
    "/ip-api/v1.1/{ip_address}": {
      "get": {
        "operationId": "getIpInfo",
        "summary": "Get IP address enrichment data",
        "tags": [
          "IP API"
        ],
        "parameters": [
          {
            "name": "ip_address",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IpEnrichmentResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get IP address enrichment data"
      }
    },
    "/device-fingerprint/v1/{session_id}": {
      "get": {
        "operationId": "getDeviceFingerprint",
        "summary": "Get device fingerprint data",
        "tags": [
          "Device Fingerprint"
        ],
        "parameters": [
          {
            "name": "session_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeviceFingerprintResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get device fingerprint data"
      }
    },
    "/workflow-api/v1/transactions": {
      "post": {
        "operationId": "createWorkflowTransaction",
        "summary": "Create a workflow transaction",
        "tags": [
          "Workflow API"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WorkflowTransactionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkflowTransactionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Create a workflow transaction"
      }
    },
    "/workflow-api/v1/transactions/{transaction_id}": {
      "get": {
        "operationId": "getWorkflowTransaction",
        "summary": "Get workflow transaction",
        "tags": [
          "Workflow API"
        ],
        "parameters": [
          {
            "name": "transaction_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkflowTransactionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get workflow transaction"
      },
      "patch": {
        "operationId": "updateWorkflowTransaction",
        "summary": "Update workflow transaction",
        "tags": [
          "Workflow API"
        ],
        "parameters": [
          {
            "name": "transaction_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WorkflowTransactionUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkflowTransactionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Update workflow transaction"
      }
    },
    "/tag-api/v1/transactions/{transaction_id}/tags": {
      "post": {
        "operationId": "addTransactionTag",
        "summary": "Add a tag to a transaction",
        "tags": [
          "Tag API"
        ],
        "parameters": [
          {
            "name": "transaction_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TagRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TagResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Add a tag to a transaction"
      },
      "get": {
        "operationId": "getTransactionTags",
        "summary": "Get tags for a transaction",
        "tags": [
          "Tag API"
        ],
        "parameters": [
          {
            "name": "transaction_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TagsListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get tags for a transaction"
      },
      "delete": {
        "operationId": "removeTransactionTag",
        "summary": "Remove a tag from a transaction",
        "tags": [
          "Tag API"
        ],
        "parameters": [
          {
            "name": "transaction_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TagDeleteRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tag removed"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Remove a tag from a transaction"
      }
    },
    "/label-api/v1/transactions/{transaction_id}/label": {
      "post": {
        "operationId": "setTransactionLabel",
        "summary": "Set label on a transaction",
        "tags": [
          "Label API"
        ],
        "parameters": [
          {
            "name": "transaction_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LabelRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LabelResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Set label on a transaction"
      },
      "get": {
        "operationId": "getTransactionLabel",
        "summary": "Get label for a transaction",
        "tags": [
          "Label API"
        ],
        "parameters": [
          {
            "name": "transaction_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LabelResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get label for a transaction"
      }
    },
    "/list-api/v1/lists": {
      "get": {
        "operationId": "getLists",
        "summary": "Get all lists",
        "tags": [
          "Lists API"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get all lists"
      },
      "post": {
        "operationId": "createList",
        "summary": "Create a new list",
        "tags": [
          "Lists API"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListCreateRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Create a new list"
      }
    },
    "/list-api/v1/lists/{list_id}": {
      "get": {
        "operationId": "getList",
        "summary": "Get a list",
        "tags": [
          "Lists API"
        ],
        "parameters": [
          {
            "name": "list_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get a list"
      },
      "delete": {
        "operationId": "deleteList",
        "summary": "Delete a list",
        "tags": [
          "Lists API"
        ],
        "parameters": [
          {
            "name": "list_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List deleted"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Delete a list"
      }
    },
    "/list-api/v1/lists/{list_id}/items": {
      "get": {
        "operationId": "getListItems",
        "summary": "Get items in a list",
        "tags": [
          "Lists API"
        ],
        "parameters": [
          {
            "name": "list_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "Items per page",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListItemsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get items in a list"
      },
      "post": {
        "operationId": "addListItem",
        "summary": "Add item to a list",
        "tags": [
          "Lists API"
        ],
        "parameters": [
          {
            "name": "list_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListItemRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListItemResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Add item to a list"
      }
    },
    "/list-api/v1/lists/{list_id}/items/{item_id}": {
      "delete": {
        "operationId": "deleteListItem",
        "summary": "Delete item from a list",
        "tags": [
          "Lists API"
        ],
        "parameters": [
          {
            "name": "list_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "item_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Item deleted"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Delete item from a list"
      }
    },
    "/exclude-api/v1/rules/{rule_id}/users": {
      "post": {
        "operationId": "excludeUserFromRule",
        "summary": "Exclude a user from a rule",
        "tags": [
          "Exclude API"
        ],
        "parameters": [
          {
            "name": "rule_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExcludeUserRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "User excluded"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Exclude a user from a rule"
      },
      "get": {
        "operationId": "getExcludedUsers",
        "summary": "Get excluded users for a rule",
        "tags": [
          "Exclude API"
        ],
        "parameters": [
          {
            "name": "rule_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExcludedUsersResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get excluded users for a rule"
      }
    },
    "/exclude-api/v1/rules/{rule_id}/users/{user_id}": {
      "delete": {
        "operationId": "removeExcludedUser",
        "summary": "Remove user exclusion from rule",
        "tags": [
          "Exclude API"
        ],
        "parameters": [
          {
            "name": "rule_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Exclusion removed"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Remove user exclusion from rule"
      }
    }
  },
  "components": {
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string"
              },
              "message": {
                "type": "string"
              }
            }
          }
        }
      },
      "FraudScoreRequest": {
        "type": "object",
        "properties": {
          "config": {
            "type": "object",
            "properties": {
              "ip": {
                "type": "object",
                "properties": {
                  "include": {
                    "type": "string",
                    "enum": [
                      "flags",
                      "history",
                      "id"
                    ]
                  },
                  "version": {
                    "type": "string"
                  }
                }
              },
              "email": {
                "type": "object",
                "properties": {
                  "include": {
                    "type": "string"
                  },
                  "version": {
                    "type": "string"
                  }
                }
              },
              "phone": {
                "type": "object",
                "properties": {
                  "include": {
                    "type": "string"
                  },
                  "version": {
                    "type": "string"
                  }
                }
              },
              "device_fingerprinting": {
                "type": "boolean"
              },
              "ip_api": {
                "type": "boolean"
              },
              "email_api": {
                "type": "boolean"
              },
              "phone_api": {
                "type": "boolean"
              }
            }
          },
          "ip": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "phone_number": {
            "type": "string"
          },
          "action_type": {
            "type": "string"
          },
          "transaction_id": {
            "type": "string"
          },
          "affiliate_id": {
            "type": "string"
          },
          "order_memo": {
            "type": "string"
          },
          "user_fullname": {
            "type": "string"
          },
          "user_firstname": {
            "type": "string"
          },
          "user_lastname": {
            "type": "string"
          },
          "user_dob": {
            "type": "string"
          },
          "user_created": {
            "type": "string"
          },
          "user_country": {
            "type": "string"
          },
          "user_city": {
            "type": "string"
          },
          "user_region": {
            "type": "string"
          },
          "user_zip": {
            "type": "string"
          },
          "session": {
            "type": "string"
          },
          "device_hash": {
            "type": "string"
          },
          "payment_mode": {
            "type": "string"
          },
          "card_fullname": {
            "type": "string"
          },
          "card_bin": {
            "type": "string"
          },
          "card_hash": {
            "type": "string"
          },
          "card_last": {
            "type": "string"
          },
          "card_expire": {
            "type": "string"
          },
          "transaction_type": {
            "type": "string"
          },
          "transaction_amount": {
            "type": "number"
          },
          "transaction_currency": {
            "type": "string"
          },
          "brand_id": {
            "type": "string"
          },
          "items": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "shipping_country": {
            "type": "string"
          },
          "shipping_city": {
            "type": "string"
          },
          "shipping_region": {
            "type": "string"
          },
          "shipping_zip": {
            "type": "string"
          },
          "billing_country": {
            "type": "string"
          },
          "billing_city": {
            "type": "string"
          },
          "billing_region": {
            "type": "string"
          },
          "billing_zip": {
            "type": "string"
          },
          "discount_code": {
            "type": "string"
          },
          "merchant_id": {
            "type": "string"
          },
          "details_url": {
            "type": "string"
          },
          "custom_fields": {
            "type": "object"
          }
        }
      },
      "FraudScoreResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "error": {
            "type": "object"
          },
          "data": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "state": {
                "type": "string"
              },
              "fraud_score": {
                "type": "number"
              },
              "ip_details": {
                "type": "object"
              },
              "email_details": {
                "type": "object"
              },
              "phone_details": {
                "type": "object"
              },
              "applied_rules": {
                "type": "array",
                "items": {
                  "type": "object"
                }
              },
              "device_details": {
                "type": "object"
              },
              "calculation_time": {
                "type": "number"
              }
            }
          }
        }
      },
      "EmailEnrichmentResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "type": "object",
            "properties": {
              "score": {
                "type": "number"
              },
              "email": {
                "type": "string"
              },
              "deliverable": {
                "type": "boolean"
              },
              "domain_details": {
                "type": "object"
              },
              "account_details": {
                "type": "object"
              },
              "breach_details": {
                "type": "object"
              }
            }
          }
        }
      },
      "PhoneEnrichmentResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "type": "object",
            "properties": {
              "score": {
                "type": "number"
              },
              "phone_number": {
                "type": "string"
              },
              "type": {
                "type": "string"
              },
              "carrier": {
                "type": "string"
              },
              "country": {
                "type": "string"
              }
            }
          }
        }
      },
      "IpEnrichmentResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "type": "object",
            "properties": {
              "score": {
                "type": "number"
              },
              "ip": {
                "type": "string"
              },
              "isp_name": {
                "type": "string"
              },
              "country_code": {
                "type": "string"
              },
              "state_prov": {
                "type": "string"
              },
              "city": {
                "type": "string"
              },
              "is_vpn": {
                "type": "boolean"
              },
              "is_tor": {
                "type": "boolean"
              },
              "is_proxy": {
                "type": "boolean"
              }
            }
          }
        }
      },
      "DeviceFingerprintResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "type": "object"
          }
        }
      },
      "WorkflowTransactionRequest": {
        "type": "object",
        "properties": {
          "transaction_id": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "ip": {
            "type": "string"
          },
          "phone_number": {
            "type": "string"
          },
          "action_type": {
            "type": "string"
          },
          "custom_fields": {
            "type": "object"
          }
        }
      },
      "WorkflowTransactionResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "type": "object"
          }
        }
      },
      "WorkflowTransactionUpdateRequest": {
        "type": "object",
        "properties": {
          "custom_fields": {
            "type": "object"
          }
        }
      },
      "TagRequest": {
        "type": "object",
        "properties": {
          "tag": {
            "type": "string"
          }
        }
      },
      "TagResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "type": "object"
          }
        }
      },
      "TagsListResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "TagDeleteRequest": {
        "type": "object",
        "properties": {
          "tag": {
            "type": "string"
          }
        }
      },
      "LabelRequest": {
        "type": "object",
        "properties": {
          "label": {
            "type": "string",
            "enum": [
              "FRAUD",
              "NOT_FRAUD"
            ]
          }
        }
      },
      "LabelResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "type": "object"
          }
        }
      },
      "ListsResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "ListResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "type": "object"
          }
        }
      },
      "ListCreateRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "whitelist",
              "blacklist"
            ]
          },
          "items_type": {
            "type": "string",
            "enum": [
              "email",
              "ip",
              "phone",
              "custom"
            ]
          }
        }
      },
      "ListItemsResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "meta": {
            "type": "object",
            "properties": {
              "total": {
                "type": "integer"
              },
              "page": {
                "type": "integer"
              }
            }
          }
        }
      },
      "ListItemRequest": {
        "type": "object",
        "properties": {
          "value": {
            "type": "string"
          },
          "note": {
            "type": "string"
          }
        }
      },
      "ListItemResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "type": "object"
          }
        }
      },
      "ExcludeUserRequest": {
        "type": "object",
        "properties": {
          "user_id": {
            "type": "string"
          }
        }
      },
      "ExcludedUsersResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      }
    },
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-KEY"
      }
    }
  },
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "Device Fingerprint"
    },
    {
      "name": "Email API"
    },
    {
      "name": "Exclude API"
    },
    {
      "name": "Fraud API"
    },
    {
      "name": "IP API"
    },
    {
      "name": "Label API"
    },
    {
      "name": "Lists API"
    },
    {
      "name": "Phone API"
    },
    {
      "name": "Tag API"
    },
    {
      "name": "Workflow API"
    }
  ]
}
