{
  "openapi": "3.1.0",
  "info": {
    "title": "Charitas API for Biometric Attendance Taking",
    "description": "This is the Charitas API for biometric attendance taking based on the OpenAPI 3.1 specification.",
    "contact": {
      "email": "support@bizcube.com.sg"
    },
    "version": "1.0.0",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/bizcube/CharitasBiometricAPI/1.0.0"
  },
  "servers": [
    {
      "url": "https://demo2.bizcube.com.sg/newcharitasdemo"
    }
  ],
  "paths": {
    "/Evt1.BioGetGroupEnrollment_Mobile.json": {
      "post": {
        "summary": "Pull biometric face data from server",
        "description": "Call this endpoint to get face data from server",
        "operationId": "BioGetGroupEnrollment_Mobile",
        "requestBody": {
          "description": "Retrieve face data based on the parameters given",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BioGetGroupEnrollment"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful operation request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse200"
                }
              }
            }
          },
          "403": {
            "description": "An error occurred",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse403"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error"
          }
        },
        "security": [
          {
            "api_key": [
              "E0BD7D74-CAF5-4846-A52E-2D076B17787B"
            ]
          }
        ]
      }
    },
    "/Evt1.BioSaveAttendanceData_Mobile.json": {
      "post": {
        "summary": "Save attendance data back to server",
        "description": "Call this endpoint to save attendance data back to the server",
        "operationId": "BioSaveAttendanceData_Mobile",
        "requestBody": {
          "description": "Save attendance data",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BioSaveAttendanceData"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful operation request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse200"
                }
              }
            }
          },
          "403": {
            "description": "An error occurred",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse403"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error"
          }
        },
        "security": [
          {
            "api_key": [
              "E0BD7D74-CAF5-4846-A52E-2D076B17787B"
            ]
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "BioGetGroupEnrollment": {
        "required": [
          "GroupCode",
          "GroupKey",
          "ControllerID"
        ],
        "type": "object",
        "properties": {
          "GroupCode": {
            "type": "string",
            "description": "GroupCode is either the GroupID (int) or the server-side GroupCode for the Group.",
            "maxLength": 100,
            "examples": [
              "Centre.175"
            ]
          },
          "GroupKey": {
            "type": "string",
            "description": "GroupKey is a 'key' or 'password' for the corresponding GroupCode. For verification.",
            "maxLength": 100,
            "examples": [
              "TestKey"
            ]
          },
          "ControllerID": {
            "type": "string",
            "description": "A unique ID representing this device (can be guid etc)",
            "maxLength": 100,
            "examples": [
              "Device GUID"
            ]
          },
          "RoleNames": {
            "type": "string",
            "description": "Optional value. Pipe-delimited list of applicable roles in the group. If omitted, all roles will be included.",
            "maxLength": 4000,
            "examples": [
              ""
            ]
          },
          "AdditionsAsOfDateTime": {
            "type": "string",
            "description": "Optional value. Pulls changes made on or after this provided date. If not provided, all records are returned.",
            "format": "date-time",
            "examples": [
              "",
              "2025-09-08T08:30:00Z"
            ]
          },
          "LastPersonID": {
            "type": "integer",
            "description": "Last PersonID returned in previous call. Used to call for subsequent persons in a centre."
          }
        }
      },
      "MainInfoTable": {
        "type": "object",
        "properties": {
          "Rows": {
            "type": "array",
            "items": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/MainInfo"
                }
              ]
            }
          }
        }
      },
      "MainInfo": {
        "type": "object",
        "properties": {
          "SyncDate": {
            "type": "string",
            "description": "String representation of sync date"
          }
        }
      },
      "PersonBiometricDataTable": {
        "type": "object",
        "properties": {
          "Rows": {
            "type": "array",
            "items": {
              "anyOf": [
                {
                  "$ref": "#/components/schemas/PersonBiometricData"
                }
              ]
            }
          }
        }
      },
      "PersonBiometricData": {
        "type": "object",
        "properties": {
          "PersonID": {
            "type": "integer",
            "description": "Unique PersonID in server-side system"
          },
          "DisplayName": {
            "type": "string",
            "description": "Name of the person to display"
          },
          "FaceBioData": {
            "type": "string",
            "description": "Base64 representation of the biometric image (usually jpeg or png format)"
          },
          "LastModifiedDate": {
            "type": "string",
            "description": "String representation of this record's last modified date"
          }
        }
      },
      "HasMoreRowsTable": {
        "type": "object",
        "properties": {
          "Rows": {
            "type": "array",
            "items": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/HasMoreRows"
                }
              ]
            }
          }
        }
      },
      "HasMoreRows": {
        "type": "object",
        "properties": {
          "HasMoreRows": {
            "type": "integer",
            "description": "If 1, may have more rows and you will need to call this again, passing in the last PersonID received in this current call. If 0, there are no more additional rows."
          }
        }
      },
      "BioSaveAttendanceData": {
        "required": [
          "GroupCode",
          "GroupKey",
          "ControllerID",
          "AttendanceData"
        ],
        "type": "object",
        "properties": {
          "GroupCode": {
            "type": "string",
            "description": "GroupCode is either the GroupID (int) or the server-side GroupCode for the Group.",
            "maxLength": 100,
            "examples": [
              "Centre.175"
            ]
          },
          "GroupKey": {
            "type": "string",
            "description": "GroupKey is a 'key' or 'password' for the corresponding GroupCode. For verification.",
            "maxLength": 100,
            "examples": [
              "TestKey"
            ]
          },
          "ControllerID": {
            "type": "string",
            "description": "A unique ID representing this device (can be guid etc)",
            "maxLength": 100,
            "examples": [
              "Device GUID"
            ]
          },
          "AttendanceData": {
            "type": "string",
            "description": "String consists of pipe delimited attendance data in this format - PersonID_1:EventOrJobID_1:DateTime_1|PersonID_2:EventOrJobID_2:DateTime_2|PersonID_3:EventOrJobID_3:DateTime_3|...",
            "examples": [
              "90794:EventOrJobID:2025-04-27 14:18:09|92604:EventOrJobID:2025-04-02 11:55:11"
            ]
          }
        }
      },
      "SuccessResponse200_Save": {
        "type": "object",
        "properties": {
          "d": {
            "type": "object",
            "description": "Return object",
            "properties": {
              "RetVal": {
                "type": "integer",
                "description": "-1 indicates sucessful operation",
                "examples": [
                  -1
                ]
              },
              "RetMsg": {
                "type": "string",
                "description": "Any return messages to display to the user.",
                "examples": [
                  ""
                ]
              },
              "RetData": {
                "type": "string",
                "description": "Data returned",
                "examples": [
                  ""
                ]
              }
            }
          }
        }
      },
      "SuccessResponse200": {
        "type": "object",
        "properties": {
          "d": {
            "type": "object",
            "description": "Return object",
            "properties": {
              "RetVal": {
                "type": "integer",
                "description": "-1 indicates sucessful operation",
                "examples": [
                  -1
                ]
              },
              "RetMsg": {
                "type": "string",
                "description": "Any return messages to display to the user.",
                "examples": [
                  ""
                ]
              },
              "RetData": {
                "type": "object",
                "description": "Data returned",
                "properties": {
                  "Tbls": {
                    "type": "array",
                    "items": {
                      "oneOf": [
                        {
                          "$ref": "#/components/schemas/MainInfoTable"
                        },
                        {
                          "$ref": "#/components/schemas/PersonBiometricDataTable"
                        },
                        {
                          "$ref": "#/components/schemas/HasMoreRowsTable"
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      },
      "ErrorResponse403": {
        "type": "object",
        "properties": {
          "d": {
            "type": "object",
            "description": "Return object",
            "properties": {
              "RetVal": {
                "type": "integer",
                "description": "Error number here.",
                "examples": [
                  10004
                ]
              },
              "RetMsg": {
                "type": "string",
                "description": "Error description here.",
                "examples": [
                  "Invalid query format."
                ]
              },
              "RetData": {
                "type": "string",
                "description": "Any additional error data here.",
                "examples": [
                  ""
                ]
              }
            }
          }
        }
      }
    },
    "securitySchemes": {
      "api_key": {
        "type": "apiKey",
        "name": "x-api-key",
        "in": "header"
      }
    }
  }
}