{
  "swagger": "2.0",
  "info": {
    "title": "FieldView Platform API",
    "description": "All endpoints are only accessible via https and are located at\n`api.platform.com`.\n## Limits\nIf the request threshold for a partner is exceeded, a `429` response code will be returned.  Additionally, the following header will be returned: `Retry-After` (https://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html).\n## Pagination\nPagination is performed via headers.  Any request which returns a list may be paginated.  If the results are paginated, a header will be returned: `x-next-token`\n## Response Headers\nThe following response headers will be returned on every call, successful or not: `x-http-request-id`.  If you every experience an issue with our api, and need to contact technical support, please supply the value of the `x-http-request-id` header along with an approximate time of when the request was made.\n",
    "version": "0.0.1",
    "termsOfService": "http://climate.com/platform/terms",
    "contact": {
      "name": "platform@climate.com"
    },
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/panchuri/field-view_platform_api/0.0.1"
  },
  "host": "platform.climate.com",
  "basePath": "/v1",
  "schemes": [
    "https"
  ],
  "security": [
    {
      "climateAccessCode": [
        "read:layer",
        "write:layer"
      ]
    }
  ],
  "paths": {
    "/layers": {
      "get": {
        "summary": "Available Layers",
        "description": "Gets all `Layer` objects to which the client has access.",
        "operationId": "getLayers",
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "climateAccessCode": [
              "read:layer"
            ]
          }
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "description": "OAuth2 bearer token which identifies both the user and the client.  The token must be obtained via the 'Login with Climate Field View' flow.",
            "required": true,
            "type": "string"
          },
          {
            "in": "header",
            "name": "x-next-token",
            "description": "Opaque string which allows for fetching the next batch of results.",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "bbox",
            "description": "Optional bounding box by which to filter the results. Value should be in json notation conforming to WGS84 Bounds [-180.0000, -90.0000, 180.0000, 90.0000]",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "startTime",
            "description": "Optional start time by which to filter layer results. Time should be in ISO 8601 format.",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "in": "query",
            "name": "endTime",
            "description": "Optional end time by which to filter layer results. Time should be in ISO 8601 format.",
            "required": false,
            "type": "string",
            "format": "date-time"
          }
        ],
        "tags": [
          "Layers"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Layers"
            }
          },
          "400": {
            "description": "Bad user input",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/layer/{provider}/{type}": {
      "get": {
        "summary": "Retrieve the specified layer",
        "description": "Retrieves results from the specified layer. Results may be filtered spatially by supplying a bounding box (bbox) or temporally by specifing a start time (startTime) and/or end time (endTime).  An array of results will be returned.  If no results match, either due to filtering, or because the layer is empty, an empty array will be returned.  If the specified layer does not exist, a 404 will be returned.  If more than 100 results exists, the results will be paginated, ordered by modification time.",
        "operationId": "getLayer",
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "climateAccessCode": [
              "read:layer"
            ]
          }
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "description": "OAuth2 bearer token which identifies both the user and the client.  The token must be obtained via the 'Login with Climate Field View' flow.",
            "required": true,
            "type": "string"
          },
          {
            "in": "header",
            "name": "x-next-token",
            "description": "Opaque string which allows for fetching the next batch of results.",
            "required": false,
            "type": "string"
          },
          {
            "in": "path",
            "name": "provider",
            "type": "string",
            "description": "name of the layer provider, (eg. deere, veris, climate, ...)",
            "required": true
          },
          {
            "in": "path",
            "name": "type",
            "type": "string",
            "description": "the type of the layer, (eg. soil, as-planted, ...)",
            "required": true,
            "enum": [
              "soil",
              "as_planted",
              "as_applied",
              "harvest",
              "field",
              "image"
            ]
          },
          {
            "in": "query",
            "name": "bbox",
            "description": "Optional bounding box by which to filter the results. Value should be in json notation conforming to WGS84 Bounds [-180.0000, -90.0000, 180.0000, 90.0000]",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "startTime",
            "description": "Optional start time by which to filter layer results. Time should be in ISO 8601 format.",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "in": "query",
            "name": "endTime",
            "description": "Optional end time by which to filter layer results. Time should be in ISO 8601 format.",
            "required": false,
            "type": "string",
            "format": "date-time"
          }
        ],
        "tags": [
          "Layers"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Results"
            }
          },
          "403": {
            "description": "Forbidden, the user/partner tuple is not authorized to retrieve the given layer.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found, no such layer",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      },
      "post": {
        "summary": "Upload data to the specified layer",
        "description": "Step one in uploading a data product to a layer.  The method will return a signed s3 url to which the caller may upload the data.",
        "operationId": "postLayer",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "climateAccessCode": [
              "write:layer"
            ]
          }
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "description": "OAuth2 bearer token which identifies both the user and the client.  The token must be obtained via the 'Login with Climate Field View' flow.",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "provider",
            "description": "The provider which owns the layer",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "type",
            "description": "The type of layer",
            "required": true,
            "type": "string",
            "enum": [
              "soil",
              "as_planted",
              "as_applied",
              "harvest",
              "field",
              "image"
            ]
          }
        ],
        "tags": [
          "Layers"
        ],
        "responses": {
          "200": {
            "description": "Returns a signed s3 url to which the caller can upload data."
          },
          "403": {
            "description": "Forbidden, the partner may not upload data to the given layer."
          }
        }
      }
    },
    "/layer/{provider}/{type}/{id}": {
      "put": {
        "summary": "Update or correct data for a specific result.",
        "description": "Updates the given result data.",
        "operationId": "updateResult",
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "climateAccessCode": [
              "write:layer"
            ]
          }
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "description": "OAuth2 bearer token which identifies both the user and the client.  The token must be obtained via the 'Login with Climate Field View' flow.",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "provider",
            "type": "string",
            "description": "name of the layer provider, (eg. deere, veris, climate, ...)",
            "required": true
          },
          {
            "in": "path",
            "name": "type",
            "type": "string",
            "description": "the type of the layer, (eg. soil, as-planted, ...)",
            "required": true,
            "enum": [
              "soil",
              "as_planted",
              "as_applied",
              "harvest",
              "field",
              "image"
            ]
          },
          {
            "in": "path",
            "name": "id",
            "description": "The id of the result.",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "tags": [
          "Layers"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Results"
            }
          },
          "403": {
            "description": "Forbidden, the user/partner tuple is not authorized to retrieve the given layer.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found, no such layer",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    }
  },
  "securityDefinitions": {
    "climateAccessCode": {
      "type": "oauth2",
      "scopes": {
        "read:layer": "Read data from a layer.",
        "write:layer": "Write data to a layer."
      },
      "flow": "accessCode",
      "authorizationUrl": "https://api.climate.com/oauth/authorize",
      "tokenUrl": "https://api.climate.com/oauth/token"
    }
  },
  "definitions": {
    "LayerType": {
      "description": "The type of layer, eg (soil, as-planted, as-harvested)",
      "type": "string",
      "enum": [
        "soil",
        "as_planted",
        "as_applied",
        "harvest",
        "field",
        "image"
      ]
    },
    "Layer": {
      "properties": {
        "type": {
          "$ref": "#/definitions/LayerType"
        },
        "provider": {
          "type": "string",
          "description": "The client id of the partner who created the layer, eg (climate, solum, veris)"
        },
        "format": {
          "type": "string",
          "description": "The native format of the layer.  Raster or Vector"
        }
      }
    },
    "Layers": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/Layer"
      }
    },
    "Result": {
      "properties": {
        "id": {
          "type": "string",
          "format": "uuid"
        },
        "url": {
          "type": "string",
          "description": "A signed s3 url where the data may be retrieved from"
        }
      }
    },
    "Results": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/Result"
      }
    },
    "Error": {
      "properties": {
        "message": {
          "type": "string",
          "description": "Description of the error encountered."
        }
      }
    }
  },
  "tags": [
    {
      "name": "Layers"
    }
  ]
}
