{
  "openapi": "3.0.3",
  "info": {
    "title": "Aviationstack API",
    "version": "1.0.0",
    "description": "Real-time flight tracking, historical flight data, airline routes, airports, airlines, airplanes, aircraft types, cities, countries, aviation taxes and timetable data via a RESTful JSON API.",
    "x-jentic-source-url": "https://aviationstack.com/documentation",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://api.aviationstack.com/v1"
    }
  ],
  "paths": {
    "/flights": {
      "get": {
        "operationId": "getFlights",
        "summary": "Get real-time and historical flight data",
        "description": "Track flights and retrieve flight status information in real-time. Supports historical flight lookups when flight_date parameter is provided.",
        "tags": [
          "Flights"
        ],
        "parameters": [
          {
            "name": "access_key",
            "in": "query",
            "required": true,
            "description": "Your API access key.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Limit of results per page. Max 100 (below Professional) or 1000 (Professional+). Default 100.",
            "schema": {
              "type": "integer",
              "default": 100,
              "maximum": 1000
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Pagination offset. Default 0.",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "callback",
            "in": "query",
            "required": false,
            "description": "JSONP callback function name.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "flight_status",
            "in": "query",
            "required": false,
            "description": "Filter by flight status.",
            "schema": {
              "type": "string",
              "enum": [
                "scheduled",
                "active",
                "landed",
                "cancelled",
                "incident",
                "diverted"
              ]
            }
          },
          {
            "name": "flight_date",
            "in": "query",
            "required": false,
            "description": "Filter by flight date (YYYY-MM-DD).",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "dep_iata",
            "in": "query",
            "required": false,
            "description": "Filter by departure IATA code.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "arr_iata",
            "in": "query",
            "required": false,
            "description": "Filter by arrival IATA code.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dep_icao",
            "in": "query",
            "required": false,
            "description": "Filter by departure ICAO code.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "arr_icao",
            "in": "query",
            "required": false,
            "description": "Filter by arrival ICAO code.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "airline_name",
            "in": "query",
            "required": false,
            "description": "Filter by airline name.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "airline_iata",
            "in": "query",
            "required": false,
            "description": "Filter by airline IATA code.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "airline_icao",
            "in": "query",
            "required": false,
            "description": "Filter by airline ICAO code.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "flight_number",
            "in": "query",
            "required": false,
            "description": "Filter by flight number.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "flight_iata",
            "in": "query",
            "required": false,
            "description": "Filter by flight IATA code (e.g. MU2557).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "flight_icao",
            "in": "query",
            "required": false,
            "description": "Filter by flight ICAO code (e.g. CES2557).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "min_delay_dep",
            "in": "query",
            "required": false,
            "description": "Min departure delay in minutes.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "min_delay_arr",
            "in": "query",
            "required": false,
            "description": "Min arrival delay in minutes.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "max_delay_dep",
            "in": "query",
            "required": false,
            "description": "Max departure delay in minutes.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "max_delay_arr",
            "in": "query",
            "required": false,
            "description": "Max arrival delay in minutes.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "arr_scheduled_time_arr",
            "in": "query",
            "required": false,
            "description": "Filter by arrival date (YYYY-MM-DD).",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "dep_scheduled_time_dep",
            "in": "query",
            "required": false,
            "description": "Filter by departure date (YYYY-MM-DD).",
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlightListResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Access restricted for current subscription plan",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate or usage limit reached",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/routes": {
      "get": {
        "operationId": "getRoutes",
        "summary": "Get airline routes",
        "description": "Retrieve airline route data, updated every 24 hours.",
        "tags": [
          "Routes"
        ],
        "parameters": [
          {
            "name": "access_key",
            "in": "query",
            "required": true,
            "description": "Your API access key.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Limit of results per page. Max 100 (below Professional) or 1000 (Professional+). Default 100.",
            "schema": {
              "type": "integer",
              "default": 100,
              "maximum": 1000
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Pagination offset. Default 0.",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "callback",
            "in": "query",
            "required": false,
            "description": "JSONP callback function name.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "flight_number",
            "in": "query",
            "required": false,
            "description": "Filter by flight number.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dep_iata",
            "in": "query",
            "required": false,
            "description": "Filter by departure IATA code.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "arr_iata",
            "in": "query",
            "required": false,
            "description": "Filter by arrival IATA code.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dep_icao",
            "in": "query",
            "required": false,
            "description": "Filter by departure ICAO code.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "arr_icao",
            "in": "query",
            "required": false,
            "description": "Filter by arrival ICAO code.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "airline_iata",
            "in": "query",
            "required": false,
            "description": "Filter by airline IATA code.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "airline_icao",
            "in": "query",
            "required": false,
            "description": "Filter by airline ICAO code.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RouteListResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Access restricted for current subscription plan",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate or usage limit reached",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/airports": {
      "get": {
        "operationId": "getAirports",
        "summary": "Get airports",
        "description": "Retrieve global airport data including IATA/ICAO codes, locations, and more.",
        "tags": [
          "Airports"
        ],
        "parameters": [
          {
            "name": "access_key",
            "in": "query",
            "required": true,
            "description": "Your API access key.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Limit of results per page. Max 100 (below Professional) or 1000 (Professional+). Default 100.",
            "schema": {
              "type": "integer",
              "default": 100,
              "maximum": 1000
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Pagination offset. Default 0.",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "callback",
            "in": "query",
            "required": false,
            "description": "JSONP callback function name.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "description": "Autocomplete suggestions for airports (paid plans only).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AirportListResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Access restricted for current subscription plan",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate or usage limit reached",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/airlines": {
      "get": {
        "operationId": "getAirlines",
        "summary": "Get airlines",
        "description": "Retrieve data about airlines including fleet info, IATA/ICAO codes, and status.",
        "tags": [
          "Airlines"
        ],
        "parameters": [
          {
            "name": "access_key",
            "in": "query",
            "required": true,
            "description": "Your API access key.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Limit of results per page. Max 100 (below Professional) or 1000 (Professional+). Default 100.",
            "schema": {
              "type": "integer",
              "default": 100,
              "maximum": 1000
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Pagination offset. Default 0.",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "callback",
            "in": "query",
            "required": false,
            "description": "JSONP callback function name.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "description": "Autocomplete suggestions for airlines (paid plans only).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AirlineListResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Access restricted for current subscription plan",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate or usage limit reached",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/airplanes": {
      "get": {
        "operationId": "getAirplanes",
        "summary": "Get airplanes",
        "description": "Retrieve data about airplanes including registration, model, and airline info.",
        "tags": [
          "Airplanes"
        ],
        "parameters": [
          {
            "name": "access_key",
            "in": "query",
            "required": true,
            "description": "Your API access key.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Limit of results per page. Max 100 (below Professional) or 1000 (Professional+). Default 100.",
            "schema": {
              "type": "integer",
              "default": 100,
              "maximum": 1000
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Pagination offset. Default 0.",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "callback",
            "in": "query",
            "required": false,
            "description": "JSONP callback function name.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "description": "Autocomplete suggestions for airplanes (paid plans only).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AirplaneListResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Access restricted for current subscription plan",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate or usage limit reached",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/aircraft_types": {
      "get": {
        "operationId": "getAircraftTypes",
        "summary": "Get aircraft types",
        "description": "Retrieve data about aircraft types.",
        "tags": [
          "Aircraft Types"
        ],
        "parameters": [
          {
            "name": "access_key",
            "in": "query",
            "required": true,
            "description": "Your API access key.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Limit of results per page. Max 100 (below Professional) or 1000 (Professional+). Default 100.",
            "schema": {
              "type": "integer",
              "default": 100,
              "maximum": 1000
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Pagination offset. Default 0.",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "callback",
            "in": "query",
            "required": false,
            "description": "JSONP callback function name.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "description": "Autocomplete suggestions for aircraft types (paid plans only).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AircraftTypeListResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Access restricted for current subscription plan",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate or usage limit reached",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/cities": {
      "get": {
        "operationId": "getCities",
        "summary": "Get cities",
        "description": "Retrieve data about cities with associated airports.",
        "tags": [
          "Cities"
        ],
        "parameters": [
          {
            "name": "access_key",
            "in": "query",
            "required": true,
            "description": "Your API access key.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Limit of results per page. Max 100 (below Professional) or 1000 (Professional+). Default 100.",
            "schema": {
              "type": "integer",
              "default": 100,
              "maximum": 1000
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Pagination offset. Default 0.",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "callback",
            "in": "query",
            "required": false,
            "description": "JSONP callback function name.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "description": "Autocomplete suggestions for cities (paid plans only).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CityListResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Access restricted for current subscription plan",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate or usage limit reached",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/countries": {
      "get": {
        "operationId": "getCountries",
        "summary": "Get countries",
        "description": "Retrieve data about countries.",
        "tags": [
          "Countries"
        ],
        "parameters": [
          {
            "name": "access_key",
            "in": "query",
            "required": true,
            "description": "Your API access key.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Limit of results per page. Max 100 (below Professional) or 1000 (Professional+). Default 100.",
            "schema": {
              "type": "integer",
              "default": 100,
              "maximum": 1000
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Pagination offset. Default 0.",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "callback",
            "in": "query",
            "required": false,
            "description": "JSONP callback function name.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "description": "Autocomplete suggestions for countries (paid plans only).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CountryListResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Access restricted for current subscription plan",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate or usage limit reached",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/taxes": {
      "get": {
        "operationId": "getTaxes",
        "summary": "Get aviation taxes",
        "description": "Retrieve data about aviation taxes.",
        "tags": [
          "Taxes"
        ],
        "parameters": [
          {
            "name": "access_key",
            "in": "query",
            "required": true,
            "description": "Your API access key.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Limit of results per page. Max 100 (below Professional) or 1000 (Professional+). Default 100.",
            "schema": {
              "type": "integer",
              "default": 100,
              "maximum": 1000
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Pagination offset. Default 0.",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "callback",
            "in": "query",
            "required": false,
            "description": "JSONP callback function name.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaxListResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Access restricted for current subscription plan",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate or usage limit reached",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/timetable": {
      "get": {
        "operationId": "getTimetable",
        "summary": "Get flight timetable",
        "description": "Retrieve airport timetable data for arrivals and departures.",
        "tags": [
          "Timetable"
        ],
        "parameters": [
          {
            "name": "access_key",
            "in": "query",
            "required": true,
            "description": "Your API access key.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Limit of results per page. Max 100 (below Professional) or 1000 (Professional+). Default 100.",
            "schema": {
              "type": "integer",
              "default": 100,
              "maximum": 1000
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Pagination offset. Default 0.",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "callback",
            "in": "query",
            "required": false,
            "description": "JSONP callback function name.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "iata_code",
            "in": "query",
            "required": true,
            "description": "IATA code of the airport.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "description": "Type of timetable: arrival or departure.",
            "schema": {
              "type": "string",
              "enum": [
                "arrival",
                "departure"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlightListResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Access restricted for current subscription plan",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate or usage limit reached",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/flightsFuture": {
      "get": {
        "operationId": "getFlightsFuture",
        "summary": "Get future flight schedules",
        "description": "Retrieve future flight schedule data.",
        "tags": [
          "Flights"
        ],
        "parameters": [
          {
            "name": "access_key",
            "in": "query",
            "required": true,
            "description": "Your API access key.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Limit of results per page. Max 100 (below Professional) or 1000 (Professional+). Default 100.",
            "schema": {
              "type": "integer",
              "default": 100,
              "maximum": 1000
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Pagination offset. Default 0.",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "callback",
            "in": "query",
            "required": false,
            "description": "JSONP callback function name.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "iata_code",
            "in": "query",
            "required": true,
            "description": "IATA code of the airline.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "description": "Type: arrival or departure.",
            "schema": {
              "type": "string",
              "enum": [
                "arrival",
                "departure"
              ]
            }
          },
          {
            "name": "date",
            "in": "query",
            "required": false,
            "description": "Future date (YYYY-MM-DD).",
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlightListResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Access restricted for current subscription plan",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate or usage limit reached",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string"
              },
              "message": {
                "type": "string"
              },
              "context": {
                "type": "object"
              }
            }
          }
        }
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "limit": {
            "type": "integer"
          },
          "offset": {
            "type": "integer"
          },
          "count": {
            "type": "integer"
          },
          "total": {
            "type": "integer"
          }
        }
      },
      "FlightDeparture": {
        "type": "object",
        "properties": {
          "airport": {
            "type": "string"
          },
          "timezone": {
            "type": "string"
          },
          "iata": {
            "type": "string"
          },
          "icao": {
            "type": "string"
          },
          "terminal": {
            "type": "string",
            "nullable": true
          },
          "gate": {
            "type": "string",
            "nullable": true
          },
          "delay": {
            "type": "integer",
            "nullable": true
          },
          "scheduled": {
            "type": "string",
            "format": "date-time"
          },
          "estimated": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "actual": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "estimated_runway": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "actual_runway": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        }
      },
      "FlightArrival": {
        "type": "object",
        "properties": {
          "airport": {
            "type": "string"
          },
          "timezone": {
            "type": "string"
          },
          "iata": {
            "type": "string"
          },
          "icao": {
            "type": "string"
          },
          "terminal": {
            "type": "string",
            "nullable": true
          },
          "gate": {
            "type": "string",
            "nullable": true
          },
          "baggage": {
            "type": "string",
            "nullable": true
          },
          "delay": {
            "type": "integer",
            "nullable": true
          },
          "scheduled": {
            "type": "string",
            "format": "date-time"
          },
          "estimated": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "actual": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "estimated_runway": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "actual_runway": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        }
      },
      "FlightAirline": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "iata": {
            "type": "string"
          },
          "icao": {
            "type": "string"
          }
        }
      },
      "FlightInfo": {
        "type": "object",
        "properties": {
          "number": {
            "type": "string"
          },
          "iata": {
            "type": "string"
          },
          "icao": {
            "type": "string"
          },
          "codeshared": {
            "type": "object",
            "nullable": true
          }
        }
      },
      "Aircraft": {
        "type": "object",
        "properties": {
          "registration": {
            "type": "string"
          },
          "iata": {
            "type": "string"
          },
          "icao": {
            "type": "string"
          },
          "icao24": {
            "type": "string"
          }
        }
      },
      "LiveData": {
        "type": "object",
        "properties": {
          "updated": {
            "type": "string",
            "format": "date-time"
          },
          "latitude": {
            "type": "number"
          },
          "longitude": {
            "type": "number"
          },
          "altitude": {
            "type": "number"
          },
          "direction": {
            "type": "number"
          },
          "speed_horizontal": {
            "type": "number"
          },
          "speed_vertical": {
            "type": "number"
          },
          "is_ground": {
            "type": "boolean"
          }
        }
      },
      "Flight": {
        "type": "object",
        "properties": {
          "flight_date": {
            "type": "string",
            "format": "date"
          },
          "flight_status": {
            "type": "string",
            "enum": [
              "scheduled",
              "active",
              "landed",
              "cancelled",
              "incident",
              "diverted"
            ]
          },
          "departure": {
            "$ref": "#/components/schemas/FlightDeparture"
          },
          "arrival": {
            "$ref": "#/components/schemas/FlightArrival"
          },
          "airline": {
            "$ref": "#/components/schemas/FlightAirline"
          },
          "flight": {
            "$ref": "#/components/schemas/FlightInfo"
          },
          "aircraft": {
            "$ref": "#/components/schemas/Aircraft"
          },
          "live": {
            "$ref": "#/components/schemas/LiveData"
          }
        }
      },
      "FlightListResponse": {
        "type": "object",
        "properties": {
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Flight"
            }
          }
        }
      },
      "Route": {
        "type": "object",
        "properties": {
          "departure": {
            "type": "object",
            "properties": {
              "airport": {
                "type": "string"
              },
              "timezone": {
                "type": "string"
              },
              "iata": {
                "type": "string"
              },
              "icao": {
                "type": "string"
              },
              "terminal": {
                "type": "string",
                "nullable": true
              },
              "time": {
                "type": "string"
              }
            }
          },
          "arrival": {
            "type": "object",
            "properties": {
              "airport": {
                "type": "string"
              },
              "timezone": {
                "type": "string"
              },
              "iata": {
                "type": "string"
              },
              "icao": {
                "type": "string"
              },
              "terminal": {
                "type": "string",
                "nullable": true
              },
              "time": {
                "type": "string"
              }
            }
          },
          "airline": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string"
              },
              "callsign": {
                "type": "string"
              },
              "iata": {
                "type": "string"
              },
              "icao": {
                "type": "string"
              }
            }
          },
          "flight": {
            "type": "object",
            "properties": {
              "number": {
                "type": "string"
              }
            }
          }
        }
      },
      "RouteListResponse": {
        "type": "object",
        "properties": {
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Route"
            }
          }
        }
      },
      "Airport": {
        "type": "object",
        "properties": {
          "airport_name": {
            "type": "string"
          },
          "iata_code": {
            "type": "string"
          },
          "icao_code": {
            "type": "string"
          },
          "latitude": {
            "type": "string"
          },
          "longitude": {
            "type": "string"
          },
          "geoname_id": {
            "type": "string"
          },
          "timezone": {
            "type": "string"
          },
          "gmt": {
            "type": "string"
          },
          "phone_number": {
            "type": "string",
            "nullable": true
          },
          "country_name": {
            "type": "string"
          },
          "country_iso2": {
            "type": "string"
          },
          "city_iata_code": {
            "type": "string"
          }
        }
      },
      "AirportListResponse": {
        "type": "object",
        "properties": {
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Airport"
            }
          }
        }
      },
      "Airline": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "fleet_average_age": {
            "type": "string"
          },
          "airline_id": {
            "type": "string"
          },
          "callsign": {
            "type": "string"
          },
          "hub_code": {
            "type": "string"
          },
          "iata_code": {
            "type": "string"
          },
          "icao_code": {
            "type": "string"
          },
          "country_iso2": {
            "type": "string"
          },
          "date_founded": {
            "type": "string"
          },
          "iata_prefix_accounting": {
            "type": "string"
          },
          "airline_name": {
            "type": "string"
          },
          "country_name": {
            "type": "string"
          },
          "fleet_size": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "type": {
            "type": "string"
          }
        }
      },
      "AirlineListResponse": {
        "type": "object",
        "properties": {
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Airline"
            }
          }
        }
      },
      "Airplane": {
        "type": "object",
        "properties": {
          "iata_type": {
            "type": "string"
          },
          "airplane_id": {
            "type": "string"
          },
          "airline_iata_code": {
            "type": "string"
          },
          "iata_code_long": {
            "type": "string"
          },
          "iata_code_short": {
            "type": "string"
          },
          "airline_icao_code": {
            "type": "string"
          },
          "construction_number": {
            "type": "string"
          },
          "delivery_date": {
            "type": "string"
          },
          "engines_count": {
            "type": "string"
          },
          "engines_type": {
            "type": "string"
          },
          "first_flight_date": {
            "type": "string"
          },
          "icao_code_hex": {
            "type": "string"
          },
          "line_number": {
            "type": "string"
          },
          "model_code": {
            "type": "string"
          },
          "registration_number": {
            "type": "string"
          },
          "test_registration_number": {
            "type": "string"
          },
          "plane_age": {
            "type": "string"
          },
          "plane_class": {
            "type": "string"
          },
          "model_name": {
            "type": "string"
          },
          "plane_owner": {
            "type": "string"
          },
          "plane_series": {
            "type": "string"
          },
          "plane_status": {
            "type": "string"
          },
          "production_line": {
            "type": "string"
          },
          "registration_date": {
            "type": "string"
          },
          "rollout_date": {
            "type": "string"
          }
        }
      },
      "AirplaneListResponse": {
        "type": "object",
        "properties": {
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Airplane"
            }
          }
        }
      },
      "AircraftType": {
        "type": "object",
        "properties": {
          "iata_code": {
            "type": "string"
          },
          "aircraft_name": {
            "type": "string"
          },
          "plane_type_id": {
            "type": "string"
          }
        }
      },
      "AircraftTypeListResponse": {
        "type": "object",
        "properties": {
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AircraftType"
            }
          }
        }
      },
      "City": {
        "type": "object",
        "properties": {
          "city_name": {
            "type": "string"
          },
          "iata_code": {
            "type": "string"
          },
          "country_iso2": {
            "type": "string"
          },
          "latitude": {
            "type": "string"
          },
          "longitude": {
            "type": "string"
          },
          "timezone": {
            "type": "string"
          },
          "gmt": {
            "type": "string"
          },
          "geoname_id": {
            "type": "string"
          }
        }
      },
      "CityListResponse": {
        "type": "object",
        "properties": {
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/City"
            }
          }
        }
      },
      "Country": {
        "type": "object",
        "properties": {
          "country_name": {
            "type": "string"
          },
          "country_iso2": {
            "type": "string"
          },
          "country_iso3": {
            "type": "string"
          },
          "country_iso_numeric": {
            "type": "string"
          },
          "population": {
            "type": "string"
          },
          "capital": {
            "type": "string"
          },
          "continent": {
            "type": "string"
          },
          "currency_name": {
            "type": "string"
          },
          "currency_code": {
            "type": "string"
          },
          "fips_code": {
            "type": "string"
          },
          "phone_prefix": {
            "type": "string"
          }
        }
      },
      "CountryListResponse": {
        "type": "object",
        "properties": {
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Country"
            }
          }
        }
      },
      "Tax": {
        "type": "object",
        "properties": {
          "tax_id": {
            "type": "string"
          },
          "tax_name": {
            "type": "string"
          },
          "iata_code": {
            "type": "string"
          }
        }
      },
      "TaxListResponse": {
        "type": "object",
        "properties": {
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Tax"
            }
          }
        }
      }
    },
    "securitySchemes": {
      "apiKeyQuery": {
        "type": "apiKey",
        "in": "query",
        "name": "access_key"
      }
    }
  },
  "security": [
    {
      "apiKeyQuery": []
    }
  ],
  "tags": [
    {
      "name": "Aircraft Types"
    },
    {
      "name": "Airlines"
    },
    {
      "name": "Airplanes"
    },
    {
      "name": "Airports"
    },
    {
      "name": "Cities"
    },
    {
      "name": "Countries"
    },
    {
      "name": "Flights"
    },
    {
      "name": "Routes"
    },
    {
      "name": "Taxes"
    },
    {
      "name": "Timetable"
    }
  ]
}
