{
  "openapi": "3.0.3",
  "info": {
    "title": "PokéAPI",
    "version": "2.0.0",
    "description": "RESTful Pokémon API providing comprehensive data about the Pokémon universe including Pokémon, abilities, moves, types, items, berries, locations, and more. All data is sourced from the Pokémon games.",
    "x-jentic-source-url": "https://pokeapi.co/docs/v2",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://pokeapi.co/api/v2"
    }
  ],
  "paths": {
    "/pokemon": {
      "get": {
        "operationId": "listPokemon",
        "summary": "List Pokémon",
        "description": "Returns a paginated list of Pokémon resources.",
        "tags": [
          "Pokémon"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results per page",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Offset for pagination",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of Pokémon",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResult"
                }
              }
            }
          }
        }
      }
    },
    "/pokemon/{idOrName}": {
      "get": {
        "operationId": "getPokemon",
        "summary": "Get a Pokémon",
        "description": "Returns data about a specific Pokémon by ID or name including stats, types, abilities, moves, and sprites.",
        "tags": [
          "Pokémon"
        ],
        "parameters": [
          {
            "name": "idOrName",
            "in": "path",
            "required": true,
            "description": "Pokémon ID or name (e.g., 25 or pikachu)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Pokémon data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Pokemon"
                }
              }
            }
          },
          "404": {
            "description": "Pokémon not found"
          }
        }
      }
    },
    "/pokemon-species/{idOrName}": {
      "get": {
        "operationId": "getPokemonSpecies",
        "summary": "Get Pokémon species data",
        "description": "Returns species-level data including flavor text, egg groups, evolution chain, and habitat.",
        "tags": [
          "Pokémon"
        ],
        "parameters": [
          {
            "name": "idOrName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Pokémon species data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Species not found"
          }
        }
      }
    },
    "/type/{idOrName}": {
      "get": {
        "operationId": "getType",
        "summary": "Get a type",
        "description": "Returns data about a Pokémon type including damage relations and Pokémon with this type.",
        "tags": [
          "Types"
        ],
        "parameters": [
          {
            "name": "idOrName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Type data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Type not found"
          }
        }
      }
    },
    "/ability/{idOrName}": {
      "get": {
        "operationId": "getAbility",
        "summary": "Get an ability",
        "description": "Returns data about a Pokémon ability including description and Pokémon that have it.",
        "tags": [
          "Abilities"
        ],
        "parameters": [
          {
            "name": "idOrName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ability data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Ability not found"
          }
        }
      }
    },
    "/move/{idOrName}": {
      "get": {
        "operationId": "getMove",
        "summary": "Get a move",
        "description": "Returns data about a Pokémon move including power, accuracy, type, and effect.",
        "tags": [
          "Moves"
        ],
        "parameters": [
          {
            "name": "idOrName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Move data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Move not found"
          }
        }
      }
    },
    "/item/{idOrName}": {
      "get": {
        "operationId": "getItem",
        "summary": "Get an item",
        "description": "Returns data about an item including category, effect, and sprites.",
        "tags": [
          "Items"
        ],
        "parameters": [
          {
            "name": "idOrName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Item data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Item not found"
          }
        }
      }
    },
    "/berry/{idOrName}": {
      "get": {
        "operationId": "getBerry",
        "summary": "Get a berry",
        "description": "Returns data about a berry including firmness, flavors, growth time, and natural gift attributes.",
        "tags": [
          "Berries"
        ],
        "parameters": [
          {
            "name": "idOrName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Berry data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Berry not found"
          }
        }
      }
    },
    "/evolution-chain/{id}": {
      "get": {
        "operationId": "getEvolutionChain",
        "summary": "Get an evolution chain",
        "description": "Returns the evolution chain for a species, including evolution triggers and conditions.",
        "tags": [
          "Pokémon"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Evolution chain data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Evolution chain not found"
          }
        }
      }
    },
    "/generation/{idOrName}": {
      "get": {
        "operationId": "getGeneration",
        "summary": "Get a generation",
        "description": "Returns data about a game generation.",
        "tags": [
          "Games"
        ],
        "parameters": [
          {
            "name": "idOrName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Generation data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Generation not found"
          }
        }
      }
    },
    "/nature/{idOrName}": {
      "get": {
        "operationId": "getNature",
        "summary": "Get a nature",
        "description": "Returns data about a Pokémon nature including stat modifiers.",
        "tags": [
          "Pokémon"
        ],
        "parameters": [
          {
            "name": "idOrName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Nature data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Nature not found"
          }
        }
      }
    },
    "/location/{idOrName}": {
      "get": {
        "operationId": "getLocation",
        "summary": "Get a location",
        "description": "Returns data about a location in the Pokémon world.",
        "tags": [
          "Locations"
        ],
        "parameters": [
          {
            "name": "idOrName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Location data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Location not found"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "PaginatedResult": {
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "description": "Total number of resources"
          },
          "next": {
            "type": "string",
            "format": "uri",
            "description": "URL for next page"
          },
          "previous": {
            "type": "string",
            "format": "uri",
            "description": "URL for previous page"
          },
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/NamedAPIResource"
            }
          }
        }
      },
      "NamedAPIResource": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "url": {
            "type": "string",
            "format": "uri"
          }
        }
      },
      "Pokemon": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "base_experience": {
            "type": "integer"
          },
          "height": {
            "type": "integer",
            "description": "Height in decimetres"
          },
          "weight": {
            "type": "integer",
            "description": "Weight in hectograms"
          },
          "is_default": {
            "type": "boolean"
          },
          "order": {
            "type": "integer"
          },
          "abilities": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "is_hidden": {
                  "type": "boolean"
                },
                "slot": {
                  "type": "integer"
                },
                "ability": {
                  "$ref": "#/components/schemas/NamedAPIResource"
                }
              }
            }
          },
          "forms": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/NamedAPIResource"
            }
          },
          "types": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "slot": {
                  "type": "integer"
                },
                "type": {
                  "$ref": "#/components/schemas/NamedAPIResource"
                }
              }
            }
          },
          "stats": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "base_stat": {
                  "type": "integer"
                },
                "effort": {
                  "type": "integer"
                },
                "stat": {
                  "$ref": "#/components/schemas/NamedAPIResource"
                }
              }
            }
          },
          "sprites": {
            "type": "object"
          },
          "species": {
            "$ref": "#/components/schemas/NamedAPIResource"
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Abilities"
    },
    {
      "name": "Berries"
    },
    {
      "name": "Games"
    },
    {
      "name": "Items"
    },
    {
      "name": "Locations"
    },
    {
      "name": "Moves"
    },
    {
      "name": "Pokémon"
    },
    {
      "name": "Types"
    }
  ]
}
