{
  "openapi": "3.0.1",
  "info": {
    "title": "GetPost",
    "description": "API generated by Swagger Explore",
    "version": "1.0",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/student-b96-0cf/GetPost/1.0"
  },
  "servers": [
    {
      "url": "https://springboot-mongodb.cfapps.us10-001.hana.ondemand.com"
    }
  ],
  "paths": {
    "/customer/customerMongo/addNewMongoCustomer": {
      "post": {
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              },
              "examples": {
                "example": {
                  "value": "{\r\n    \"customerNumber\": \"CUST-2011\",\r\n    \"firstName\": \"BaliRam\",\r\n    \"lastName\": \"Sahu\",\r\n    \"email\": \"BaliRam.sahu@example.com\",\r\n    \"mobileNumber\": \"589746582\",\r\n    \"accountType\": \"SAVINGS\",\r\n    \"customerStatus\": \"ACTIVE\",\r\n    \"enrollmentDate\": \"2026-01-03\",\r\n    \"kycStatus\": \"COMPLETED\",\r\n    \"isActive\": true\r\n}"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Generated by Swagger Explore"
          }
        }
      }
    },
    "/customer/customerMongo/mongoSingleCustomer/e8d215c4": {
      "get": {
        "parameters": [],
        "responses": {
          "200": {
            "description": "Generated by Swagger Explore"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {}
  }
}