{
  "openapi": "3.0.3",
  "info": {
    "title": "ShopeePay API",
    "version": "2.0",
    "description": "ShopeePay API via Shopee Open Platform provides payment processing, wallet management, and checkout integration for merchants. Supports payment creation, status queries, refunds, and merchant configuration.",
    "x-jentic-source-url": "https://open.shopee.com/",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://partner.shopeemobile.com/api/v2"
    }
  ],
  "paths": {
    "/payment/create": {
      "post": {
        "operationId": "createPayment",
        "summary": "Create payment",
        "description": "Creates a new ShopeePay payment request.",
        "tags": [
          "Payment"
        ],
        "parameters": [
          {
            "name": "partner_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "timestamp",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "sign",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PaymentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Payment created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/payment/query": {
      "post": {
        "operationId": "queryPayment",
        "summary": "Query payment status",
        "description": "Queries the status of an existing payment.",
        "tags": [
          "Payment"
        ],
        "parameters": [
          {
            "name": "partner_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "timestamp",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "sign",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "payment_id"
                ],
                "properties": {
                  "payment_id": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Payment status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/payment/cancel": {
      "post": {
        "operationId": "cancelPayment",
        "summary": "Cancel payment",
        "tags": [
          "Payment"
        ],
        "parameters": [
          {
            "name": "partner_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "timestamp",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "sign",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "payment_id"
                ],
                "properties": {
                  "payment_id": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Payment cancelled"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Cancel payment"
      }
    },
    "/payment/refund": {
      "post": {
        "operationId": "refundPayment",
        "summary": "Refund payment",
        "tags": [
          "Payment"
        ],
        "parameters": [
          {
            "name": "partner_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "timestamp",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "sign",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RefundRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Refund created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RefundResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Refund payment"
      }
    },
    "/payment/refund/query": {
      "post": {
        "operationId": "queryRefund",
        "summary": "Query refund status",
        "tags": [
          "Payment"
        ],
        "parameters": [
          {
            "name": "partner_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "timestamp",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "sign",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "refund_id"
                ],
                "properties": {
                  "refund_id": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Refund status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RefundResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Query refund status"
      }
    },
    "/wallet/balance": {
      "post": {
        "operationId": "getWalletBalance",
        "summary": "Get wallet balance",
        "tags": [
          "Wallet"
        ],
        "parameters": [
          {
            "name": "partner_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "timestamp",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "sign",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Wallet balance",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WalletBalance"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get wallet balance"
      }
    },
    "/transaction/list": {
      "post": {
        "operationId": "listTransactions",
        "summary": "List transactions",
        "tags": [
          "Transaction"
        ],
        "parameters": [
          {
            "name": "partner_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "timestamp",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "sign",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "from_date": {
                    "type": "integer",
                    "description": "Unix timestamp"
                  },
                  "to_date": {
                    "type": "integer"
                  },
                  "page": {
                    "type": "integer",
                    "default": 1
                  },
                  "page_size": {
                    "type": "integer",
                    "default": 20
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Transaction list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionListResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "List transactions"
      }
    },
    "/merchant/info": {
      "post": {
        "operationId": "getMerchantInfo",
        "summary": "Get merchant info",
        "tags": [
          "Merchant"
        ],
        "parameters": [
          {
            "name": "partner_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "timestamp",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "sign",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Merchant info",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MerchantInfo"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get merchant info"
      }
    },
    "/merchant/config/update": {
      "post": {
        "operationId": "updateMerchantConfig",
        "summary": "Update merchant configuration",
        "tags": [
          "Merchant"
        ],
        "parameters": [
          {
            "name": "partner_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "timestamp",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "sign",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "notify_url": {
                    "type": "string",
                    "format": "uri"
                  },
                  "return_url": {
                    "type": "string",
                    "format": "uri"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Config updated"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Update merchant configuration"
      }
    }
  },
  "components": {
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "request_id": {
            "type": "string"
          }
        }
      },
      "PaymentRequest": {
        "type": "object",
        "required": [
          "order_id",
          "amount",
          "currency"
        ],
        "properties": {
          "order_id": {
            "type": "string"
          },
          "amount": {
            "type": "integer",
            "description": "Amount in minor units"
          },
          "currency": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "merchant_ext_id": {
            "type": "string"
          },
          "store_ext_id": {
            "type": "string"
          },
          "return_url": {
            "type": "string",
            "format": "uri"
          },
          "notify_url": {
            "type": "string",
            "format": "uri"
          }
        }
      },
      "PaymentResponse": {
        "type": "object",
        "properties": {
          "payment_id": {
            "type": "string"
          },
          "order_id": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "CREATED",
              "PENDING",
              "COMPLETED",
              "CANCELLED",
              "FAILED",
              "REFUNDED"
            ]
          },
          "payment_url": {
            "type": "string",
            "format": "uri"
          },
          "amount": {
            "type": "integer"
          },
          "currency": {
            "type": "string"
          },
          "created_at": {
            "type": "integer",
            "description": "Unix timestamp"
          }
        }
      },
      "RefundRequest": {
        "type": "object",
        "required": [
          "payment_id",
          "refund_amount"
        ],
        "properties": {
          "payment_id": {
            "type": "string"
          },
          "refund_amount": {
            "type": "integer"
          },
          "refund_reason": {
            "type": "string"
          }
        }
      },
      "RefundResponse": {
        "type": "object",
        "properties": {
          "refund_id": {
            "type": "string"
          },
          "payment_id": {
            "type": "string"
          },
          "refund_amount": {
            "type": "integer"
          },
          "status": {
            "type": "string",
            "enum": [
              "PENDING",
              "COMPLETED",
              "FAILED"
            ]
          }
        }
      },
      "TransactionRecord": {
        "type": "object",
        "properties": {
          "transaction_id": {
            "type": "string"
          },
          "order_id": {
            "type": "string"
          },
          "transaction_type": {
            "type": "string",
            "enum": [
              "PAYMENT",
              "REFUND",
              "TRANSFER"
            ]
          },
          "amount": {
            "type": "integer"
          },
          "currency": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "created_at": {
            "type": "integer"
          }
        }
      },
      "TransactionListResponse": {
        "type": "object",
        "properties": {
          "transactions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TransactionRecord"
            }
          },
          "total_count": {
            "type": "integer"
          },
          "has_more": {
            "type": "boolean"
          }
        }
      },
      "WalletBalance": {
        "type": "object",
        "properties": {
          "available_balance": {
            "type": "integer"
          },
          "pending_balance": {
            "type": "integer"
          },
          "currency": {
            "type": "string"
          }
        }
      },
      "MerchantInfo": {
        "type": "object",
        "properties": {
          "merchant_id": {
            "type": "string"
          },
          "merchant_name": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "country": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "partnerAuth": {
        "type": "apiKey",
        "in": "query",
        "name": "sign",
        "description": "HMAC-SHA256 signature using partner key. Requests require partner_id, timestamp, and sign parameters."
      }
    }
  },
  "security": [
    {
      "partnerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Payment",
      "description": "Payment operations"
    },
    {
      "name": "Wallet",
      "description": "Wallet and balance operations"
    },
    {
      "name": "Merchant",
      "description": "Merchant configuration"
    },
    {
      "name": "Transaction",
      "description": "Transaction history and queries"
    }
  ]
}
