{
  "swagger": "2.0",
  "host": "autopilot-dev2.idc1.level3.com:3000",
  "schemes": [
    "http"
  ],
  "info": {
    "title": "IAP REST API",
    "description": "IAP RESTful API for Application Integration.",
    "version": "1.0.0",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/CenturyLink_APIs/AUTOPILOT-app-autopilot/1.0.0"
  },
  "tags": [
    {
      "name": "Autopilot",
      "description": "Custom application for Century Link."
    }
  ],
  "parameters": {
    "tokenRef": {
      "in": "query",
      "name": "token",
      "description": "Pronghorn authentication token, required if basic auth not used for request.",
      "type": "string",
      "required": false
    }
  },
  "produces": [
    "application/json"
  ],
  "paths": {
    "/Autopilot/FDResume": {
      "post": {
        "summary": "Resuming an Autopilot workflow from Flight Deck",
        "description": "Resuming an Autopilot workflow using a Flight Deck format payload",
        "tags": [
          "Autopilot"
        ],
        "parameters": [
          {
            "name": "payload",
            "in": "body",
            "description": "data from flight deck",
            "required": true,
            "schema": {
              "$ref": "#/definitions/FDPayload"
            }
          },
          {
            "$ref": "#/parameters/tokenRef"
          }
        ],
        "responses": {
          "200": {
            "description": "returned data"
          },
          "401": {
            "description": "token invalid / user not authorized"
          }
        }
      }
    }
  },
  "definitions": {
    "FDPayload": {
      "type": "object",
      "properties": {
        "data": {
          "type": "object"
        },
        "jobId": {
          "type": "string"
        },
        "taskId": {
          "type": "string"
        }
      }
    }
  }
}