{
  "swagger": "2.0",
  "info": {
    "description": "This is the API documentation for the FormaTrack MERN Application.",
    "version": "1.0.0",
    "title": "FormaTrack API",
    "contact": {
      "email": "ni787337@ucf.edu"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/ucf-4af/FormaTrack/1.0.0"
  },
  "host": "formatrack.xyz",
  "basePath": "/api",
  "schemes": [
    "https"
  ],
  "tags": [
    {
      "name": "Users",
      "description": "Authentication and user account operations"
    },
    {
      "name": "Weights",
      "description": "Weight CRUD operations for FormaTrack"
    }
  ],
  "paths": {
    "/login": {
      "post": {
        "tags": [
          "Users"
        ],
        "summary": "Logs in to the FormaTrack application",
        "operationId": "loginUser",
        "description": "Authenticates a user and returns a JWT token",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "loginItem",
            "description": "Login request",
            "schema": {
              "$ref": "#/definitions/Login"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Login successful"
          },
          "400": {
            "description": "Missing fields or bad input"
          },
          "401": {
            "description": "Invalid email or password"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/register": {
      "post": {
        "tags": [
          "Users"
        ],
        "summary": "Registers a new FormaTrack user",
        "operationId": "registerUser",
        "description": "Creates a new user account in the system",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "registerItem",
            "description": "Registration request",
            "schema": {
              "$ref": "#/definitions/Register"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "User created successfully"
          },
          "400": {
            "description": "Invalid input or email already used"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/weights": {
      "get": {
        "tags": [
          "Weights"
        ],
        "summary": "Gets all weight entries for the authenticated user",
        "operationId": "getWeights",
        "description": "Returns all weight entries belonging to the logged-in user",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "userId",
            "description": "User ID for fetching weight records",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "List of weight entries",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Weight"
              }
            }
          },
          "400": {
            "description": "Missing userId"
          },
          "500": {
            "description": "Server error"
          }
        }
      },
      "post": {
        "tags": [
          "Weights"
        ],
        "summary": "Adds a new weight entry",
        "operationId": "addWeight",
        "description": "Adds a new weight for the logged-in user",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "weightItem",
            "description": "Weight entry to add",
            "schema": {
              "$ref": "#/definitions/Weight"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Weight added successfully"
          },
          "400": {
            "description": "Invalid input"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/weights/{id}": {
      "put": {
        "tags": [
          "Weights"
        ],
        "summary": "Updates an existing weight entry",
        "operationId": "updateWeight",
        "description": "Updates weight and date fields",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string",
            "description": "Weight entry ID"
          },
          {
            "in": "body",
            "name": "weightItem",
            "description": "Updated weight data",
            "schema": {
              "$ref": "#/definitions/Weight"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Weight updated"
          },
          "400": {
            "description": "Invalid input"
          },
          "404": {
            "description": "Weight entry not found"
          },
          "500": {
            "description": "Server error"
          }
        }
      },
      "delete": {
        "tags": [
          "Weights"
        ],
        "summary": "Deletes a weight entry",
        "operationId": "deleteWeight",
        "description": "Removes a weight entry by ID",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string",
            "description": "Weight entry ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Weight deleted"
          },
          "404": {
            "description": "Weight not found"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    }
  },
  "definitions": {
    "Login": {
      "type": "object",
      "required": [
        "login",
        "password"
      ],
      "properties": {
        "login": {
          "type": "string",
          "example": "test@example.com"
        },
        "password": {
          "type": "string",
          "example": "Password123!"
        }
      }
    },
    "Register": {
      "type": "object",
      "required": [
        "firstName",
        "lastName",
        "login",
        "email",
        "password"
      ],
      "properties": {
        "firstName": {
          "type": "string",
          "example": "John"
        },
        "lastName": {
          "type": "string",
          "example": "Doe"
        },
        "login": {
          "type": "string",
          "example": "JDoe"
        },
        "email": {
          "type": "string",
          "example": "example@exp.com"
        },
        "password": {
          "type": "string",
          "example": "Password123!"
        }
      }
    },
    "Weight": {
      "type": "object",
      "required": [
        "userId",
        "weight",
        "date"
      ],
      "properties": {
        "userId": {
          "type": "string",
          "example": "675f1a3e12ab3456789cdef0"
        },
        "weight": {
          "type": "number",
          "example": 208.4
        },
        "date": {
          "type": "string",
          "example": "2025-01-20"
        }
      }
    }
  }
}