{
  "openapi": "3.0.3",
  "info": {
    "title": "Good Library API",
    "version": "2.0.0",
    "description": "\u2705 **This is a properly designed REST API for a library system.**\n\nIt follows REST best practices:\n- Resource-based URIs (`/books`, `/users`, `/loans`)\n- Correct HTTP methods (GET, POST, PUT, DELETE)\n- Clear hierarchy and relationships\n- Consistent use of JSON\n- Proper status codes and error handling\n",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/elonuniversity/good-library-api/2.0.0"
  },
  "servers": [
    {
      "url": "http://libraryapi.com/api"
    }
  ],
  "paths": {
    "/books": {
      "get": {
        "summary": "Retrieve all books",
        "responses": {
          "200": {
            "description": "List of all books",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Book"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Add a new book",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewBook"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Book created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Book"
                }
              }
            }
          }
        }
      }
    },
    "/books/{bookId}": {
      "get": {
        "summary": "Get details of a specific book",
        "parameters": [
          {
            "$ref": "#/components/parameters/BookId"
          }
        ],
        "responses": {
          "200": {
            "description": "Book details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Book"
                }
              }
            }
          },
          "404": {
            "description": "Book not found"
          }
        }
      },
      "put": {
        "summary": "Update a book\u2019s information",
        "parameters": [
          {
            "$ref": "#/components/parameters/BookId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateBook"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Book updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Book"
                }
              }
            }
          },
          "404": {
            "description": "Book not found"
          }
        }
      },
      "delete": {
        "summary": "Delete a book",
        "parameters": [
          {
            "$ref": "#/components/parameters/BookId"
          }
        ],
        "responses": {
          "204": {
            "description": "Book deleted successfully"
          },
          "404": {
            "description": "Book not found"
          }
        }
      }
    },
    "/authors/{authorId}/books": {
      "get": {
        "summary": "Get all books by a specific author",
        "parameters": [
          {
            "$ref": "#/components/parameters/AuthorId"
          }
        ],
        "responses": {
          "200": {
            "description": "List of books by this author",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Book"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/users/{userId}/loans": {
      "post": {
        "summary": "Borrow a book",
        "parameters": [
          {
            "$ref": "#/components/parameters/UserId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "bookId": {
                    "type": "string",
                    "example": "B001"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Book borrowed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Loan"
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "Get all borrowed books for a user",
        "parameters": [
          {
            "$ref": "#/components/parameters/UserId"
          }
        ],
        "responses": {
          "200": {
            "description": "List of borrowed books",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Loan"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/users/{userId}/loans/{loanId}/return": {
      "post": {
        "summary": "Return a borrowed book",
        "parameters": [
          {
            "$ref": "#/components/parameters/UserId"
          },
          {
            "$ref": "#/components/parameters/LoanId"
          }
        ],
        "responses": {
          "200": {
            "description": "Book returned successfully"
          },
          "404": {
            "description": "Loan not found"
          }
        }
      }
    }
  },
  "components": {
    "parameters": {
      "BookId": {
        "name": "bookId",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string",
          "example": "B001"
        }
      },
      "AuthorId": {
        "name": "authorId",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string",
          "example": "A123"
        }
      },
      "UserId": {
        "name": "userId",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string",
          "example": "U101"
        }
      },
      "LoanId": {
        "name": "loanId",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string",
          "example": "L789"
        }
      }
    },
    "schemas": {
      "Book": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "B001"
          },
          "title": {
            "type": "string",
            "example": "Moby Dick"
          },
          "author": {
            "type": "string",
            "example": "Herman Melville"
          },
          "available": {
            "type": "boolean",
            "example": true
          }
        }
      },
      "NewBook": {
        "type": "object",
        "required": [
          "title",
          "author"
        ],
        "properties": {
          "title": {
            "type": "string",
            "example": "Foundation"
          },
          "author": {
            "type": "string",
            "example": "Isaac Asimov"
          }
        }
      },
      "UpdateBook": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string",
            "example": "Foundation - Revised Edition"
          },
          "author": {
            "type": "string",
            "example": "I. Asimov"
          }
        }
      },
      "Loan": {
        "type": "object",
        "properties": {
          "loanId": {
            "type": "string",
            "example": "L789"
          },
          "bookId": {
            "type": "string",
            "example": "B001"
          },
          "userId": {
            "type": "string",
            "example": "U101"
          },
          "borrowedDate": {
            "type": "string",
            "format": "date",
            "example": "2025-11-10"
          },
          "dueDate": {
            "type": "string",
            "format": "date",
            "example": "2025-11-17"
          },
          "returned": {
            "type": "boolean",
            "example": false
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "example": "Book not found"
          }
        }
      }
    }
  }
}