{
  "openapi": "3.0.1",
  "info": {
    "description": "API Information",
    "title": "SimFin API",
    "version": "3.0",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://backend.simfin.com",
      "description": "Generated server url"
    }
  ],
  "paths": {
    "/api/v3/companies/changed-companies": {
      "get": {
        "description": "Returns the companies modified since a certain start date.",
        "operationId": "12",
        "parameters": [
          {
            "description": "Minimum date of change (optional)",
            "in": "query",
            "name": "start",
            "required": false,
            "schema": {
              "type": "string",
              "example": "2020-12-31"
            }
          },
          {
            "description": "Example: \"api-key ovBimDZTPrKdG9Yx58GjQf2A\"",
            "example": "api-key ovBimDZTPrKdG9Yx58GjQf2A",
            "in": "header",
            "name": "Authorization",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {}
            },
            "description": "Success"
          },
          "400": {
            "description": "Bad request"
          },
          "404": {
            "description": "API Not Found"
          }
        },
        "summary": "Changed Companies",
        "tags": [
          "Utils"
        ]
      }
    },
    "/api/v3/companies/common-shares-outstanding": {
      "get": {
        "description": "Retrieves the common shares outstanding (point in time) and applying a date filter if specified.",
        "operationId": "shares",
        "parameters": [
          {
            "description": "SimFin Id(s), comma separated",
            "explode": false,
            "in": "query",
            "name": "id",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "number",
                "example": 470
              }
            }
          },
          {
            "description": "Tickers, comma separated (Comma Separated)",
            "explode": false,
            "in": "query",
            "name": "ticker",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "example": "AAPL"
              }
            }
          },
          {
            "description": "Filter for minimum date",
            "in": "query",
            "name": "start",
            "required": false,
            "schema": {
              "type": "string",
              "example": "1999-12-31"
            }
          },
          {
            "description": "Filter for maximum date",
            "in": "query",
            "name": "end",
            "required": false,
            "schema": {
              "type": "string",
              "example": "1999-12-31"
            }
          },
          {
            "description": "Example: \"api-key ovBimDZTPrKdG9Yx58GjQf2A\"",
            "example": "api-key ovBimDZTPrKdG9Yx58GjQf2A",
            "in": "header",
            "name": "Authorization",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {}
            },
            "description": "Success"
          },
          "400": {
            "description": "Bad request"
          },
          "404": {
            "description": "API Not Found"
          }
        },
        "summary": "Common Shares Outstanding",
        "tags": [
          "Shares Outstanding"
        ]
      }
    },
    "/api/v3/companies/data-change-log": {
      "get": {
        "description": "Returns all the changes that occurred in the database, paginated.",
        "operationId": "11",
        "parameters": [
          {
            "description": "Pagination index to be returned, starts at 0",
            "in": "query",
            "name": "pageNumber",
            "required": true,
            "schema": {
              "type": "number",
              "example": 0
            }
          },
          {
            "description": "Number of entries per page to be returned (maximum 1000)",
            "in": "query",
            "name": "itemsPerPage",
            "required": true,
            "schema": {
              "maximum": 1000,
              "minimum": 1,
              "type": "number",
              "example": 10
            }
          },
          {
            "description": "Example: \"api-key ovBimDZTPrKdG9Yx58GjQf2A\"",
            "example": "api-key ovBimDZTPrKdG9Yx58GjQf2A",
            "in": "header",
            "name": "Authorization",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {}
            },
            "description": "Success"
          },
          "400": {
            "description": "Bad request"
          },
          "404": {
            "description": "API Not Found"
          }
        },
        "summary": "Changes in Database",
        "tags": [
          "Utils"
        ]
      }
    },
    "/api/v3/companies/general/compact": {
      "get": {
        "description": "Get Information for one or several companies by SimFin ID or ticker. Compact format (more efficient data transfer)",
        "operationId": "general",
        "parameters": [
          {
            "description": "SimFin Id(s), comma separated",
            "explode": false,
            "in": "query",
            "name": "id",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "number",
                "example": 470
              }
            }
          },
          {
            "description": "Tickers, comma separated",
            "explode": false,
            "in": "query",
            "name": "ticker",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "example": "AAPL"
              }
            }
          },
          {
            "description": "Example: \"api-key ovBimDZTPrKdG9Yx58GjQf2A\"",
            "example": "api-key ovBimDZTPrKdG9Yx58GjQf2A",
            "in": "header",
            "name": "Authorization",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CompanyArrayFormat"
                  }
                }
              }
            },
            "description": "Success"
          },
          "400": {
            "description": "Bad request"
          },
          "404": {
            "description": "API Not Found"
          },
          "429": {
            "description": "Rate limits exceeded, see section Rate Limits"
          }
        },
        "summary": "General Company Info (Compact)",
        "tags": [
          "General Data"
        ]
      }
    },
    "/api/v3/companies/general/verbose": {
      "get": {
        "description": "Get information for one or several companies by SimFin ID or ticker. Verbose format (array of JSON objects)",
        "operationId": "general-verbose",
        "parameters": [
          {
            "description": "SimFin Id(s), comma separated",
            "explode": false,
            "in": "query",
            "name": "id",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "number",
                "example": 470
              }
            }
          },
          {
            "description": "Tickers, comma separated",
            "explode": false,
            "in": "query",
            "name": "ticker",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "example": "AAPL"
              }
            }
          },
          {
            "description": "Example: \"api-key ovBimDZTPrKdG9Yx58GjQf2A\"",
            "example": "api-key ovBimDZTPrKdG9Yx58GjQf2A",
            "in": "header",
            "name": "Authorization",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {}
            },
            "description": "Success"
          },
          "400": {
            "description": "Bad request"
          },
          "404": {
            "description": "API Not Found"
          },
          "429": {
            "description": "Rate limits exceeded, see section Rate Limits"
          }
        },
        "summary": "General Company Info (Verbose)",
        "tags": [
          "General Data"
        ]
      }
    },
    "/api/v3/companies/list": {
      "get": {
        "description": "Get a list of all companies in the SimFin database",
        "operationId": "list",
        "parameters": [
          {
            "description": "Example: \"api-key ovBimDZTPrKdG9Yx58GjQf2A\"",
            "example": "api-key ovBimDZTPrKdG9Yx58GjQf2A",
            "in": "header",
            "name": "Authorization",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CompanyListDTO"
                  }
                }
              }
            },
            "description": "Success"
          },
          "400": {
            "description": "Bad request"
          },
          "404": {
            "description": "API Not Found"
          },
          "429": {
            "description": "Rate limits exceeded, see section Rate Limits"
          }
        },
        "summary": "List Companies",
        "tags": [
          "General Data"
        ]
      }
    },
    "/api/v3/companies/prices/compact": {
      "get": {
        "description": "Get price data, compact format (more efficient data transfer)",
        "operationId": "prices",
        "parameters": [
          {
            "description": "SimFin Id(s), comma separated",
            "explode": false,
            "in": "query",
            "name": "id",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "number",
                "example": 470
              }
            }
          },
          {
            "description": "Tickers, comma separated (Comma Separated)",
            "explode": false,
            "in": "query",
            "name": "ticker",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "example": "AAPL"
              }
            }
          },
          {
            "description": "Whether to include ratios and derived metrics also",
            "in": "query",
            "name": "ratios",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "For derived metrics, if the as-reported figures should be used or the eventually restated values",
            "in": "query",
            "name": "asreported",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "Filter for date range, starting date. E.g. setting starting date as 2012-01-01 would only retrieve prices AFTER that date.",
            "in": "query",
            "name": "start",
            "required": false,
            "schema": {
              "type": "string",
              "example": "1999-12-31"
            }
          },
          {
            "description": "Filter for date range, ending date. E.g. setting ending date as 2012-01-01 would only retrieve prices BEFORE that date.",
            "in": "query",
            "name": "end",
            "required": false,
            "schema": {
              "type": "string",
              "example": "1999-12-31"
            }
          },
          {
            "description": "Example: \"api-key ovBimDZTPrKdG9Yx58GjQf2A\"",
            "example": "api-key ovBimDZTPrKdG9Yx58GjQf2A",
            "in": "header",
            "name": "Authorization",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {}
            },
            "description": "Success"
          },
          "400": {
            "description": "Bad request"
          },
          "404": {
            "description": "API Not Found"
          },
          "429": {
            "description": "Rate limits exceeded, see section Rate Limits"
          }
        },
        "summary": "Price Data (Compact)",
        "tags": [
          "Price Data"
        ]
      }
    },
    "/api/v3/companies/prices/verbose": {
      "get": {
        "description": "Get Prices Verbose",
        "operationId": "prices-verbose",
        "parameters": [
          {
            "description": "SimFin Id(s), comma separated",
            "explode": false,
            "in": "query",
            "name": "id",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "number",
                "example": 470
              }
            }
          },
          {
            "description": "Tickers, comma separated (Comma Separated)",
            "explode": false,
            "in": "query",
            "name": "ticker",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "example": "AAPL"
              }
            }
          },
          {
            "description": "Whether to include ratios and derived metrics also",
            "in": "query",
            "name": "ratios",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "For derived metrics, if the as-reported figures should be used or the eventually restated values",
            "in": "query",
            "name": "asreported",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "Filter for date range, starting date. E.g. setting starting date as 2012-01-01 would only retrieve prices AFTER that date.",
            "in": "query",
            "name": "start",
            "required": false,
            "schema": {
              "type": "string",
              "example": "1999-12-31"
            }
          },
          {
            "description": "Filter for date range, ending date. E.g. setting ending date as 2012-01-01 would only retrieve prices BEFORE that date.",
            "in": "query",
            "name": "end",
            "required": false,
            "schema": {
              "type": "string",
              "example": "1999-12-31"
            }
          },
          {
            "description": "Example: \"api-key ovBimDZTPrKdG9Yx58GjQf2A\"",
            "example": "api-key ovBimDZTPrKdG9Yx58GjQf2A",
            "in": "header",
            "name": "Authorization",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {}
            },
            "description": "Success"
          },
          "400": {
            "description": "Bad request"
          },
          "404": {
            "description": "API Not Found"
          },
          "429": {
            "description": "Rate limits exceeded, see section Rate Limits"
          }
        },
        "summary": "Price Data (Verbose)",
        "tags": [
          "Price Data"
        ]
      }
    },
    "/api/v3/companies/statements/compact": {
      "get": {
        "description": "Get financial statements, compact format (more efficient data transfer)",
        "operationId": "statements",
        "parameters": [
          {
            "description": "SimFin Id(s), comma separated",
            "explode": false,
            "in": "query",
            "name": "id",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "number",
                "example": 470
              }
            }
          },
          {
            "description": "Tickers, comma separated",
            "explode": false,
            "in": "query",
            "name": "ticker",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "example": "AAPL"
              }
            }
          },
          {
            "description": "List of statements (comma separated), available values: pl (Profit & Loss), bs (Balance Sheet), cf (Cash Flow), derived (Derived Ratios and Indicators)",
            "explode": false,
            "in": "query",
            "name": "statements",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "PL",
                  "BS",
                  "CF",
                  "DERIVED"
                ]
              }
            }
          },
          {
            "description": "List of time periods (comma separated), available values: q1, q2, q3, q4, fy, h1, h2, nine_month. If you want to retrieve all quarterly periods for example, you would use period=q1,q2,q3,q4",
            "explode": false,
            "in": "query",
            "name": "period",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "Q1",
                  "Q2",
                  "Q3",
                  "Q4",
                  "FY",
                  "H1",
                  "H2",
                  "NINE_MONTH"
                ]
              }
            }
          },
          {
            "description": "List of financial years (comma separated). This the fiscal year of the company, not the calendar year.",
            "in": "query",
            "name": "fyear",
            "required": false,
            "schema": {
              "type": "string",
              "example": "2021,2023"
            }
          },
          {
            "description": "Filter for date range, starting date. E.g. setting starting date as 2012-01-01 would only retrieve statements with a reporting period ending AFTER 1st of January 2012 (so statements ending in December 31st 2011 would be excluded)",
            "in": "query",
            "name": "start",
            "required": false,
            "schema": {
              "type": "string",
              "example": "2012-01-01"
            }
          },
          {
            "description": "Filter for date range, ending date. E.g. setting ending date as 2012-01-01 would only retrieve statements with a reporting period ending BEFORE 1st of January 2012 (so statements ending in December 31st 2011 would be excluded)",
            "in": "query",
            "name": "end",
            "required": false,
            "schema": {
              "type": "string",
              "example": "1999-12-31"
            }
          },
          {
            "description": "Retrieves trailing twelve month periods",
            "in": "query",
            "name": "ttm",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "Retrieves the statements as-reported (not restated).",
            "in": "query",
            "name": "asreported",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "Retrieves details for all columns",
            "in": "query",
            "name": "details",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "Example: \"api-key ovBimDZTPrKdG9Yx58GjQf2A\"",
            "example": "api-key ovBimDZTPrKdG9Yx58GjQf2A",
            "in": "header",
            "name": "Authorization",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {}
            },
            "description": "Success"
          },
          "400": {
            "description": "Bad request"
          },
          "404": {
            "description": "API Not Found"
          },
          "429": {
            "description": "Rate limits exceeded, see section Rate Limits"
          }
        },
        "summary": "Financial Statements (Compact)",
        "tags": [
          "Financial Statements"
        ]
      }
    },
    "/api/v3/companies/statements/verbose": {
      "get": {
        "description": "Get financial statements, verbose format (array of JSON objects)",
        "operationId": "statements-verbose",
        "parameters": [
          {
            "description": "SimFin Id(s), comma separated",
            "explode": false,
            "in": "query",
            "name": "id",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "number",
                "example": 470
              }
            }
          },
          {
            "description": "Tickers, comma separated",
            "explode": false,
            "in": "query",
            "name": "ticker",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "example": "AAPL"
              }
            }
          },
          {
            "description": "List of statements (comma separated), available values: pl (Profit & Loss), bs (Balance Sheet), cf (Cash Flow), derived (Derived Ratios and Indicators)",
            "explode": false,
            "in": "query",
            "name": "statements",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "PL",
                  "BS",
                  "CF",
                  "DERIVED"
                ]
              }
            }
          },
          {
            "description": "List of time periods (comma separated), available values: q1, q2, q3, q4, fy, h1, h2, nine_month. If you want to retrieve all quarterly periods for example, you would use period=q1,q2,q3,q4",
            "explode": false,
            "in": "query",
            "name": "period",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "Q1",
                  "Q2",
                  "Q3",
                  "Q4",
                  "FY",
                  "H1",
                  "H2",
                  "NINE_MONTH"
                ]
              }
            }
          },
          {
            "description": "List of financial years (comma separated). This the fiscal year of the company, not the calendar year.",
            "in": "query",
            "name": "fyear",
            "required": false,
            "schema": {
              "type": "string",
              "example": "2021,2023"
            }
          },
          {
            "description": "Filter for date range, starting date. E.g. setting starting date as 2012-01-01 would only retrieve statements with a reporting period ending AFTER 1st of January 2012 (so statements ending in December 31st 2011 would be excluded)",
            "in": "query",
            "name": "start",
            "required": false,
            "schema": {
              "type": "string",
              "example": "2012-01-01"
            }
          },
          {
            "description": "Filter for date range, ending date. E.g. setting ending date as 2012-01-01 would only retrieve statements with a reporting period ending BEFORE 1st of January 2012 (so statements ending in December 31st 2011 would be excluded)",
            "in": "query",
            "name": "end",
            "required": false,
            "schema": {
              "type": "string",
              "example": "1999-12-31"
            }
          },
          {
            "description": "Retrieves trailing twelve month periods",
            "in": "query",
            "name": "ttm",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "Retrieves the statements as-reported (not restated).",
            "in": "query",
            "name": "asreported",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "Example: \"api-key ovBimDZTPrKdG9Yx58GjQf2A\"",
            "example": "api-key ovBimDZTPrKdG9Yx58GjQf2A",
            "in": "header",
            "name": "Authorization",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {}
            },
            "description": "Success"
          },
          "400": {
            "description": "Bad request"
          },
          "404": {
            "description": "API Not Found"
          },
          "429": {
            "description": "Rate limits exceeded, see section Rate Limits"
          }
        },
        "summary": "Financial Statements (Verbose)",
        "tags": [
          "Financial Statements"
        ]
      }
    },
    "/api/v3/companies/weighted-shares-outstanding": {
      "get": {
        "description": "Retrieves the weighted shares outstanding (time period, e.g. one quarter or one year).",
        "operationId": "weighted-shares",
        "parameters": [
          {
            "description": "SimFin Id(s), comma separated",
            "explode": false,
            "in": "query",
            "name": "id",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "number",
                "example": 470
              }
            }
          },
          {
            "description": "Tickers, comma separated (Comma Separated)",
            "explode": false,
            "in": "query",
            "name": "ticker",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "example": "AAPL"
              }
            }
          },
          {
            "description": "Period filter",
            "explode": false,
            "in": "query",
            "name": "period",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "Q1",
                  "Q2",
                  "Q3",
                  "Q4",
                  "FY",
                  "H1",
                  "H2",
                  "NINE_MONTH"
                ]
              }
            }
          },
          {
            "description": "Fiscal year filter",
            "in": "query",
            "name": "fyear",
            "required": false,
            "schema": {
              "type": "string",
              "example": "2021,2023"
            }
          },
          {
            "description": "Minimum date filter (end of period)",
            "in": "query",
            "name": "start",
            "required": false,
            "schema": {
              "type": "string",
              "example": "1999-12-31"
            }
          },
          {
            "description": "Maximum date filter (end of period)",
            "in": "query",
            "name": "end",
            "required": false,
            "schema": {
              "type": "string",
              "example": "1999-12-31"
            }
          },
          {
            "description": "Flag whether trailing twelve months data should be retrieved",
            "in": "query",
            "name": "ttm",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "Example: \"api-key ovBimDZTPrKdG9Yx58GjQf2A\"",
            "example": "api-key ovBimDZTPrKdG9Yx58GjQf2A",
            "in": "header",
            "name": "Authorization",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {}
            },
            "description": "Success"
          },
          "400": {
            "description": "Bad request"
          },
          "404": {
            "description": "API Not Found"
          }
        },
        "summary": "Weighted Shares Outstanding",
        "tags": [
          "Shares Outstanding"
        ]
      }
    },
    "/api/v3/filings/by-company": {
      "get": {
        "description": "Get a list of all filings from a specific company.",
        "operationId": "2",
        "parameters": [
          {
            "description": "SimFin ID, use this or ticker",
            "in": "query",
            "name": "id",
            "required": false,
            "schema": {
              "type": "number",
              "example": 111052
            }
          },
          {
            "description": "Company Ticker, use this or SimFin ID",
            "in": "query",
            "name": "ticker",
            "required": false,
            "schema": {
              "type": "string",
              "example": "AAPL"
            }
          },
          {
            "description": "Example: \"api-key ovBimDZTPrKdG9Yx58GjQf2A\"",
            "example": "api-key ovBimDZTPrKdG9Yx58GjQf2A",
            "in": "header",
            "name": "Authorization",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FuseSourceDTO"
                  }
                }
              }
            },
            "description": "Success"
          },
          "400": {
            "description": "Bad request"
          },
          "404": {
            "description": "API Not Found"
          }
        },
        "summary": "List Filings By Company",
        "tags": [
          "Filings"
        ]
      }
    },
    "/api/v3/filings/get-report/{filingType}/{filingIdentifier}": {
      "get": {
        "description": "Retrieves the filing document which is either a HTML document or a PDF, rate limited based on your account type. For free accounts 8 requests per DAY, for START subscriptions 40 requests per day, for BASIC subscriptions 400 requests per day and for PRO subscriptions 5 requests per SECOND.",
        "operationId": "3",
        "parameters": [
          {
            "description": "Type of the filing, either HTML or PDF. You get this for a specific document from the /list or /by-company endpoints, i.e. you can't 'choose' what type you want to have returned.",
            "in": "path",
            "name": "filingType",
            "required": true,
            "schema": {
              "type": "string",
              "example": "HTML"
            }
          },
          {
            "description": "The filing identifier, you get this for a specific document from the /list or /by-company endpoints. For SEC documents, this is the accession number without trailing zeros and dashes.",
            "in": "path",
            "name": "filingIdentifier",
            "required": true,
            "schema": {
              "type": "number",
              "example": 95017023005530
            }
          },
          {
            "description": "Whether to use base64 encoding for the file output",
            "in": "query",
            "name": "base64",
            "required": false,
            "schema": {
              "type": "boolean",
              "example": false,
              "default": false
            }
          },
          {
            "description": "Example: \"api-key ovBimDZTPrKdG9Yx58GjQf2A\"",
            "example": "api-key ovBimDZTPrKdG9Yx58GjQf2A",
            "in": "header",
            "name": "Authorization",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            },
            "description": "Success"
          },
          "400": {
            "description": "Bad request"
          },
          "404": {
            "description": "API Not Found"
          },
          "429": {
            "description": "Rate limits exceeded, see section Rate Limits"
          }
        },
        "summary": "Get Filing",
        "tags": [
          "Filings"
        ]
      }
    },
    "/api/v3/filings/list": {
      "get": {
        "description": "Get a list of all company filings in the SimFin database.",
        "operationId": "1",
        "parameters": [
          {
            "description": "Current page of results, starting at 0.",
            "in": "query",
            "name": "page",
            "required": false,
            "schema": {
              "type": "number",
              "example": 0
            }
          },
          {
            "description": "Number of filings per page.",
            "in": "query",
            "name": "per-page",
            "required": false,
            "schema": {
              "type": "number",
              "example": 50
            }
          },
          {
            "description": "Filter for minimum filing date, defaults to null.",
            "in": "query",
            "name": "start-date",
            "required": false,
            "schema": {
              "type": "string",
              "example": "2012-01-01"
            }
          },
          {
            "description": "Filter for maximum filing date, defaults to null.",
            "in": "query",
            "name": "end-date",
            "required": false,
            "schema": {
              "type": "string",
              "example": "2019-03-20"
            }
          },
          {
            "description": "Example: \"api-key ovBimDZTPrKdG9Yx58GjQf2A\"",
            "example": "api-key ovBimDZTPrKdG9Yx58GjQf2A",
            "in": "header",
            "name": "Authorization",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PageableDTO"
                }
              }
            },
            "description": "Success"
          },
          "400": {
            "description": "Bad request"
          },
          "404": {
            "description": "API Not Found"
          }
        },
        "summary": "List Filings",
        "tags": [
          "Filings"
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "CompanyArrayFormat": {
        "required": [
          "data"
        ],
        "type": "object",
        "properties": {
          "columns": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "data": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "CompanyListDTO": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64"
          },
          "industryName": {
            "type": "string"
          },
          "isin": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "sectorCode": {
            "type": "integer",
            "format": "int32"
          },
          "sectorName": {
            "type": "string"
          },
          "ticker": {
            "type": "string"
          }
        }
      },
      "FuseSourceDTO": {
        "required": [
          "company",
          "filingIdentifier",
          "filingType",
          "fyear",
          "sourceLink"
        ],
        "type": "object",
        "properties": {
          "company": {
            "$ref": "#/components/schemas/CompanyListDTO"
          },
          "filingDate": {
            "type": "string"
          },
          "filingIdentifier": {
            "type": "string"
          },
          "filingType": {
            "type": "string",
            "enum": [
              "PDF",
              "HTML",
              "XBRL"
            ]
          },
          "fyear": {
            "type": "integer",
            "format": "int32"
          },
          "period": {
            "type": "string",
            "enum": [
              "Q1",
              "Q2",
              "Q3",
              "Q4",
              "FY",
              "H1",
              "H2",
              "NINE_MONTH"
            ]
          },
          "sourceLink": {
            "type": "string"
          }
        }
      },
      "PageableDTO": {
        "required": [
          "contents",
          "totalItems"
        ],
        "type": "object",
        "properties": {
          "contents": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "totalItems": {
            "type": "integer",
            "format": "int64"
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  },
  "tags": [
    {
      "name": "Filings"
    },
    {
      "name": "Financial Statements"
    },
    {
      "name": "General Data"
    },
    {
      "name": "Price Data"
    },
    {
      "name": "Shares Outstanding"
    },
    {
      "name": "Utils"
    }
  ]
}
