{
  "openapi": "3.0.3",
  "info": {
    "title": "Browse AI API",
    "version": "2.0.0",
    "description": "Robot-based web scraping and monitoring API. Create robots to extract data from websites, run tasks to scrape data, schedule recurring runs, and retrieve structured results. Supports bulk runs for scraping multiple pages.",
    "x-jentic-source-url": "https://www.browse.ai/docs/api/v2",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://api.browse.ai/v2"
    }
  ],
  "paths": {
    "/robots": {
      "get": {
        "operationId": "listRobots",
        "summary": "List all robots",
        "description": "Get a list of all robots (scrapers) in your account.",
        "tags": [
          "Robots"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RobotListResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/robots/{robotId}": {
      "get": {
        "operationId": "getRobot",
        "summary": "Get robot details",
        "description": "Get detailed information about a specific robot.",
        "tags": [
          "Robots"
        ],
        "parameters": [
          {
            "name": "robotId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RobotResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/robots/{robotId}/tasks": {
      "get": {
        "operationId": "listTasks",
        "summary": "List robot tasks",
        "description": "Get a list of all tasks (runs) for a specific robot.",
        "tags": [
          "Tasks"
        ],
        "parameters": [
          {
            "name": "robotId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "successful",
                "failed",
                "running",
                "pending"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskListResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "runRobot",
        "summary": "Run a robot task",
        "description": "Trigger a new task run for a robot. Provide input parameters that the robot needs.",
        "tags": [
          "Tasks"
        ],
        "parameters": [
          {
            "name": "robotId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RunTaskRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/robots/{robotId}/tasks/{taskId}": {
      "get": {
        "operationId": "getTask",
        "summary": "Get task details",
        "description": "Get detailed information and results for a specific task run.",
        "tags": [
          "Tasks"
        ],
        "parameters": [
          {
            "name": "robotId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "taskId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/robots/{robotId}/bulk-runs": {
      "post": {
        "operationId": "createBulkRun",
        "summary": "Create a bulk run",
        "description": "Create a bulk run that executes the robot against multiple input URLs or parameter sets.",
        "tags": [
          "Bulk Runs"
        ],
        "parameters": [
          {
            "name": "robotId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BulkRunRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Bulk run created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BulkRunResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "listBulkRuns",
        "summary": "List bulk runs",
        "description": "List all bulk runs for a robot.",
        "tags": [
          "Bulk Runs"
        ],
        "parameters": [
          {
            "name": "robotId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BulkRunListResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/robots/{robotId}/bulk-runs/{bulkRunId}": {
      "get": {
        "operationId": "getBulkRun",
        "summary": "Get bulk run details",
        "tags": [
          "Bulk Runs"
        ],
        "parameters": [
          {
            "name": "robotId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "bulkRunId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BulkRunResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get bulk run details"
      }
    }
  },
  "components": {
    "schemas": {
      "Robot": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "inputParameters": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                },
                "type": {
                  "type": "string"
                },
                "required": {
                  "type": "boolean"
                }
              }
            }
          },
          "capturedFields": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                },
                "type": {
                  "type": "string"
                }
              }
            }
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "RobotListResponse": {
        "type": "object",
        "properties": {
          "statusCode": {
            "type": "integer"
          },
          "result": {
            "type": "object",
            "properties": {
              "robots": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Robot"
                }
              },
              "totalCount": {
                "type": "integer"
              },
              "page": {
                "type": "integer"
              }
            }
          }
        }
      },
      "RobotResponse": {
        "type": "object",
        "properties": {
          "statusCode": {
            "type": "integer"
          },
          "result": {
            "$ref": "#/components/schemas/Robot"
          }
        }
      },
      "Task": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "robotId": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "successful",
              "failed",
              "running",
              "pending"
            ]
          },
          "inputParameters": {
            "type": "object"
          },
          "capturedData": {
            "type": "object",
            "description": "The scraped data fields"
          },
          "capturedLists": {
            "type": "object",
            "description": "The scraped list data"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "finishedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "TaskListResponse": {
        "type": "object",
        "properties": {
          "statusCode": {
            "type": "integer"
          },
          "result": {
            "type": "object",
            "properties": {
              "tasks": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Task"
                }
              },
              "totalCount": {
                "type": "integer"
              },
              "page": {
                "type": "integer"
              }
            }
          }
        }
      },
      "TaskResponse": {
        "type": "object",
        "properties": {
          "statusCode": {
            "type": "integer"
          },
          "result": {
            "$ref": "#/components/schemas/Task"
          }
        }
      },
      "RunTaskRequest": {
        "type": "object",
        "properties": {
          "inputParameters": {
            "type": "object",
            "description": "Input parameters for the robot (e.g., URL to scrape)"
          }
        }
      },
      "BulkRunRequest": {
        "type": "object",
        "required": [
          "inputParameters"
        ],
        "properties": {
          "inputParameters": {
            "type": "array",
            "items": {
              "type": "object"
            },
            "description": "Array of input parameter sets, each triggering one run"
          }
        }
      },
      "BulkRunResponse": {
        "type": "object",
        "properties": {
          "statusCode": {
            "type": "integer"
          },
          "result": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "status": {
                "type": "string",
                "enum": [
                  "completed",
                  "running",
                  "pending",
                  "failed"
                ]
              },
              "totalTasks": {
                "type": "integer"
              },
              "completedTasks": {
                "type": "integer"
              },
              "failedTasks": {
                "type": "integer"
              }
            }
          }
        }
      },
      "BulkRunListResponse": {
        "type": "object",
        "properties": {
          "statusCode": {
            "type": "integer"
          },
          "result": {
            "type": "object",
            "properties": {
              "bulkRuns": {
                "type": "array",
                "items": {
                  "type": "object"
                }
              },
              "totalCount": {
                "type": "integer"
              }
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "statusCode": {
            "type": "integer"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Bearer API key authentication"
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Bulk Runs"
    },
    {
      "name": "Robots"
    },
    {
      "name": "Tasks"
    }
  ]
}
