{
  "openapi": "3.0.1",
  "info": {
    "title": "Image Moderation",
    "description": "Our FREE API blocks images with nudity. Build from the ground up, accurate models, best in class support, great price.",
    "termsOfService": "https://www.moderatecontent.com/documentation/terms",
    "contact": {
      "email": "info@moderatecontent.com"
    },
    "version": "1.0.0",
    "x-apisguru-categories": [
      "media"
    ],
    "x-logo": {
      "backgroundColor": "#FFFFFF",
      "url": "https://api.apis.guru/v2/cache/logo/https_www.moderatecontent.com_img_mdr8_logo-light.png"
    },
    "x-origin": [
      {
        "format": "swagger",
        "url": "https://www.moderatecontent.com/api/swagger.yaml",
        "version": "2.0"
      }
    ],
    "x-providerName": "moderatecontent.com",
    "x-jentic-source-url": "https://api.apis.guru/v2/specs/moderatecontent.com/1.0.0/swagger.json"
  },
  "externalDocs": {
    "description": "Find out more about ModerateContent.com",
    "url": "https://www.moderatecontent.com"
  },
  "servers": [
    {
      "url": "https://api.moderatecontent.com/moderate/"
    }
  ],
  "tags": [
    {
      "name": "Image Moderation",
      "description": "FREE API blocks images with nudity",
      "externalDocs": {
        "description": "Our Documentation",
        "url": "https://www.moderatecontent.com/documentation/content"
      }
    },
    {
      "name": "Inappropriate Content"
    }
  ],
  "paths": {
    "/": {
      "get": {
        "tags": [
          "Inappropriate Content"
        ],
        "summary": "Blocks images with nudity",
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {}
          }
        },
        "description": "Blocks images with nudity",
        "operationId": "get"
      }
    }
  },
  "components": {},
  "x-original-swagger-version": "2.0"
}
