{
  "openapi": "3.0.1",
  "info": {
    "title": "Oxford Dictionaries API",
    "description": "The Oxford Dictionaries API allows easy access to our world-renowned dictionary content. Use the left hand navigation to explore the features of each endpoint and view their response schemas.",
    "version": "3.0.1",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://od-api-sandbox.oxforddictionaries.com/api/v2",
      "description": "OD-API Sandbox"
    },
    {
      "url": "https://od-api.oxforddictionaries.com/api/v2",
      "description": "OD-API Live"
    }
  ],
  "paths": {
    "/entries/{source_lang}/{word_id}": {
      "get": {
        "tags": [
          "Entries"
        ],
        "summary": "Retrieve dictionary entry",
        "description": "\nUse this to retrieve definitions, [pronunciations](https://developer.oxforddictionaries.com/documentation/glossary?term=pronunciation), example sentences, [grammatical information](https://developer.oxforddictionaries.com/documentation/glossary?term=grammaticalfeatures) and [word origins](https://developer.oxforddictionaries.com/documentation/glossary?term=etymology).\n\nTIP: Entries ONLY works for dictionary headwords. You may need to use the Lemmas endpoint first to link an inflected form back to its headword (e.g., pixels --> pixel). Alternatively, you can use the Words endpoint, a feature that enables you to retrieve definitions, pronunciations, word origins, and grammatical data across headwords and inflected words with just one call to the API.\n\nUse filters to limit the [entry](https://developer.oxforddictionaries.com/documentation/glossary?term=entry) information that is returned. For example, you may only require definitions and not everything else, or just [pronunciations](https://developer.oxforddictionaries.com/documentation/glossary?term=pronunciation). The full list of filters can be retrieved from the filters Utility endpoint. You can also specify values within the filter using '='. For example 'grammaticalFeatures=singular'. Filters can also be combined.\n\nCombining different filters will build a query using 'AND' operators, while if a filter contains more than one value it will build a query using 'OR' operators. For example, a combination of filters like '?grammaticalFeatures=singular&lexicalCategory=noun,verb' will return entries which match the query ('noun' OR 'verb') AND 'singular'.\n\n<div id=\"dictionary_entries_filters\"></div>\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/sourceLangMonolingualParam"
          },
          {
            "$ref": "#/components/parameters/wordIdParam"
          },
          {
            "$ref": "#/components/parameters/fieldsParam"
          },
          {
            "$ref": "#/components/parameters/grammaticalFeaturesParam"
          },
          {
            "$ref": "#/components/parameters/lexicalCategoryParam"
          },
          {
            "$ref": "#/components/parameters/domainsParam"
          },
          {
            "$ref": "#/components/parameters/registersParam"
          },
          {
            "$ref": "#/components/parameters/strictMatchParam"
          },
          {
            "$ref": "#/components/parameters/appId"
          },
          {
            "$ref": "#/components/parameters/appKey"
          },
          {
            "name": "source_lang",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "word_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "headers": {
              "X-Request-Id": {
                "description": "A unique ID generated for the request.\nWhen reporting a problem with a specific request, include the returned X-Request-Id.\n",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EntriesResults"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/InvalidParams"
          },
          "403": {
            "$ref": "#/components/responses/MissingAuthentication"
          },
          "404": {
            "$ref": "#/components/responses/EntryNotFound"
          },
          "414": {
            "$ref": "#/components/responses/UrlTooLong"
          },
          "429": {
            "$ref": "#/components/responses/UsageLimitError"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "operationId": "get_entries_source_lang_word_id"
      }
    },
    "/lemmas/{source_lang}/{word_id}": {
      "get": {
        "tags": [
          "Lemmas"
        ],
        "summary": "Retrieve word's root form",
        "description": "\nUse this to check if a word exists in the dictionary, or what 'root' form it links to (e.g., swimming > swim). The response tells you the possible [lemmas](https://developer.oxforddictionaries.com/documentation/glossary?term=lemma) for a given [inflected](https://developer.oxforddictionaries.com/documentation/glossary?term=inflection) word. This can then be combined with other endpoints to retrieve more information.\n\nThe results can be filtered by lexicalCategories and/or grammaticalFeatures. Filters can be combined.\n\nCombining different filters will build a query using 'AND' operators, while if a filter contains more than one value it will build a query using 'OR' operators. For example, a combination of filters like '?grammaticalFeatures=singular&lexicalCategory=noun,verb' will return entries which match the query ('noun' OR 'verb') AND 'singular'.\n",
        "parameters": [
          {
            "name": "source_lang",
            "in": "path",
            "description": "Language code of the source language in a monolingual dataset.",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "en",
                "de",
                "es",
                "hi",
                "it",
                "lv",
                "pt",
                "ro",
                "ta"
              ]
            }
          },
          {
            "$ref": "#/components/parameters/wordIdParam"
          },
          {
            "$ref": "#/components/parameters/grammaticalFeaturesParam"
          },
          {
            "$ref": "#/components/parameters/lexicalCategoryParam"
          },
          {
            "$ref": "#/components/parameters/appId"
          },
          {
            "$ref": "#/components/parameters/appKey"
          },
          {
            "name": "word_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "headers": {
              "X-Request-Id": {
                "description": "A unique ID generated for the request.\nWhen reporting a problem with a specific request, include the returned X-Request-Id.\n",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LemmasResults"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/InvalidParams"
          },
          "403": {
            "$ref": "#/components/responses/MissingAuthentication"
          },
          "404": {
            "$ref": "#/components/responses/EntryNotFound"
          },
          "414": {
            "$ref": "#/components/responses/UrlTooLong"
          },
          "429": {
            "$ref": "#/components/responses/UsageLimitError"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "operationId": "get_lemmas_source_lang_word_id"
      }
    },
    "/inflections/{source_lang}/{word_id}": {
      "get": {
        "tags": [
          "Inflections"
        ],
        "summary": "Retrieves inflected forms",
        "description": "Retrieve all the [inflections](https://developer.oxforddictionaries.com/documentation/glossary?term=inflection) of a given word_id. The inflections\nare given for a lexicalEntry with a specific lexicalCategory.\n",
        "parameters": [
          {
            "name": "source_lang",
            "in": "path",
            "description": "Language code of the source language in a monolingual dataset.",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "en-gb",
                "en-us",
                "de",
                "es",
                "hi",
                "lv",
                "pt",
                "ro",
                "ta"
              ]
            }
          },
          {
            "$ref": "#/components/parameters/wordIdParam"
          },
          {
            "$ref": "#/components/parameters/strictMatchParam"
          },
          {
            "$ref": "#/components/parameters/appId"
          },
          {
            "$ref": "#/components/parameters/appKey"
          },
          {
            "name": "word_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "headers": {
              "X-Request-Id": {
                "description": "A unique ID generated for the request.\nWhen reporting a problem with a specific request, include the returned X-Request-Id.\n",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InflectionsResults"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/MissingAuthentication"
          },
          "404": {
            "$ref": "#/components/responses/EntryNotFound"
          },
          "414": {
            "$ref": "#/components/responses/UrlTooLong"
          },
          "429": {
            "$ref": "#/components/responses/UsageLimitError"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "operationId": "get_inflections_source_lang_word_id"
      }
    },
    "/search/{source_lang}": {
      "get": {
        "tags": [
          "Search"
        ],
        "summary": "Find dictionary entries",
        "description": "\nUse this to retrieve possible [headword](https://developer.oxforddictionaries.com/documentation/glossary?term=headword) matches for a given string of text. The results are calculated using headword matching, fuzzy matching, and [lemmatization](https://developer.oxforddictionaries.com/documentation/glossary?term=lemma).\n\n  <div id=\"search\"></div>\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/sourceLangMonolingualParam"
          },
          {
            "name": "q",
            "in": "query",
            "description": "Search string",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "prefix",
            "in": "query",
            "description": "Use prefix=true to return only results that start with the value of the \"q\" parameter.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Restricts number of returned results. Default and max. is 5000.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Pagination - results offset.  The sum of offset and limit must not exceed 10000.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "$ref": "#/components/parameters/appId"
          },
          {
            "$ref": "#/components/parameters/appKey"
          },
          {
            "name": "source_lang",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/SearchSuccessfulResponse"
          },
          "400": {
            "$ref": "#/components/responses/SearchInvalidParams"
          },
          "403": {
            "$ref": "#/components/responses/MissingAuthentication"
          },
          "404": {
            "$ref": "#/components/responses/SearchNotFound"
          },
          "429": {
            "$ref": "#/components/responses/UsageLimitError"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "operationId": "get_search_source_lang"
      }
    },
    "/search/thesaurus/{source_lang}": {
      "get": {
        "tags": [
          "Search"
        ],
        "summary": "Find thesaurus entries",
        "description": "\nUse this to retrieve possible [headword](https://developer.oxforddictionaries.com/documentation/glossary?term=headword) matches for a given string of text. The results are calculated using headword matching, fuzzy matching, and [lemmatization](https://developer.oxforddictionaries.com/documentation/glossary?term=lemma).\n\n  <div id=\"search\"></div>\n",
        "parameters": [
          {
            "name": "source_lang",
            "in": "path",
            "description": "Language code of the source language in a Thesaurus dataset.",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "en"
              ]
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "Search string",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "prefix",
            "in": "query",
            "description": "Use prefix=true to return only results that start with the value of the \"q\" parameter.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Restricts number of returned results. Default and max. is 5000.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Pagination - results offset.  The sum of offset and limit must not exceed 10000.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "$ref": "#/components/parameters/appId"
          },
          {
            "$ref": "#/components/parameters/appKey"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/SearchSuccessfulResponse"
          },
          "400": {
            "$ref": "#/components/responses/SearchInvalidParams"
          },
          "403": {
            "$ref": "#/components/responses/MissingAuthentication"
          },
          "404": {
            "$ref": "#/components/responses/SearchNotFound"
          },
          "429": {
            "$ref": "#/components/responses/UsageLimitError"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "operationId": "get_search_thesaurus_source_lang"
      }
    },
    "/search/translations/{source_lang}/{target_lang}": {
      "get": {
        "tags": [
          "Search"
        ],
        "summary": "Find entries with translations",
        "description": "\nUse this to find possible headwords with translations for a given word.\n\n<div id=\"search_translation\"></div>\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/sourceLangBilingualParam"
          },
          {
            "$ref": "#/components/parameters/targetLangBilingualParam"
          },
          {
            "name": "q",
            "in": "query",
            "description": "Search string",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "prefix",
            "in": "query",
            "description": "Use prefix=true to return only results that start with the value of the \"q\" parameter.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Restricts number of returned results. Default and max. is 5000.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "pagination - results offset.  The sum of offset and limit must not exceed 10000.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "$ref": "#/components/parameters/appId"
          },
          {
            "$ref": "#/components/parameters/appKey"
          },
          {
            "name": "source_lang",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "target_lang",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/SearchSuccessfulResponse"
          },
          "400": {
            "$ref": "#/components/responses/SearchInvalidParams"
          },
          "403": {
            "$ref": "#/components/responses/MissingAuthentication"
          },
          "404": {
            "$ref": "#/components/responses/SearchNotFound"
          },
          "429": {
            "$ref": "#/components/responses/UsageLimitError"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "operationId": "get_search_translations_source_lang_target_lang"
      }
    },
    "/translations/{source_lang}/{target_lang}/{word_id}": {
      "get": {
        "tags": [
          "Translations"
        ],
        "summary": "Retrieve translations",
        "description": "\nUse this to return translations for a given word. In the event that a word in the dataset does not have a direct translation, the response will be a [definition](https://developer.oxforddictionaries.com/documentation/glossary?term=entry) in the target language.\n\n  <div id=\"translation\"></div>\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/sourceLangBilingualParam"
          },
          {
            "$ref": "#/components/parameters/targetLangBilingualParam"
          },
          {
            "$ref": "#/components/parameters/wordIdParam"
          },
          {
            "$ref": "#/components/parameters/strictMatchParam"
          },
          {
            "$ref": "#/components/parameters/translationsFieldsParam"
          },
          {
            "$ref": "#/components/parameters/grammaticalFeaturesParam"
          },
          {
            "$ref": "#/components/parameters/lexicalCategoryParam"
          },
          {
            "$ref": "#/components/parameters/domainsParam"
          },
          {
            "$ref": "#/components/parameters/registersParam"
          },
          {
            "$ref": "#/components/parameters/appId"
          },
          {
            "$ref": "#/components/parameters/appKey"
          },
          {
            "name": "source_lang",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "word_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "target_lang",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "headers": {
              "X-Request-Id": {
                "description": "A unique ID generated for the request.\nWhen reporting a problem with a specific request, include the returned X-Request-Id.\n",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EntriesResults"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/MissingAuthentication"
          },
          "404": {
            "description": "no bilingual entry is found matching supplied source_lang and id\nand/or that entry has no senses with translations in the target language.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorSchema"
                }
              }
            }
          },
          "414": {
            "$ref": "#/components/responses/UrlTooLong"
          },
          "429": {
            "$ref": "#/components/responses/UsageLimitError"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "operationId": "get_translations_source_lang_target_lang_word_id"
      }
    },
    "/thesaurus/{source_lang}/{word_id}": {
      "get": {
        "tags": [
          "Thesaurus"
        ],
        "summary": "Retrieve thesaurus entries",
        "description": "Use this to retrieve words that are similar/opposite in meaning to the input word ([synonym](https://developer.oxforddictionaries.com/documentation/glossary?term=synonym)/[antonym](https://developer.oxforddictionaries.com/documentation/glossary?term=antonym)).\n\nTip: Some Entries responses contain sense-level links to a Thesaurus entry by the property \"thesaurusLink\". For instance:\n\n```@javascript\n  {\n    \"thesaurusLinks\": [\n                            {\n                                \"entry_id\": \"abide_by\",\n                                \"sense_id\": \"t_en_gb0000029.003\"\n                            }\n                        ]\n  }\n\n```\n<div id=\"synonyms\"></div>\n",
        "parameters": [
          {
            "name": "source_lang",
            "in": "path",
            "description": "Language code of the source language in a Thesaurus dataset.",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "en"
              ]
            }
          },
          {
            "$ref": "#/components/parameters/wordIdParam"
          },
          {
            "name": "fields",
            "in": "query",
            "description": "A comma-separated list of data fields to return for the matched entries.\nWhat to return - if specified, either 'synonyms', 'antonyms' or 'synonyms,antonyms'\nIt cannot be empty.\n",
            "allowEmptyValue": false,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "synonyms",
                  "antonyms"
                ]
              }
            }
          },
          {
            "$ref": "#/components/parameters/strictMatchParam"
          },
          {
            "$ref": "#/components/parameters/appId"
          },
          {
            "$ref": "#/components/parameters/appKey"
          },
          {
            "name": "word_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "headers": {
              "X-Request-Id": {
                "description": "A unique ID generated for the request.\nWhen reporting a problem with a specific request, include the returned X-Request-Id.\n",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ThesaurusResults"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/InvalidParams"
          },
          "403": {
            "$ref": "#/components/responses/MissingAuthentication"
          },
          "404": {
            "$ref": "#/components/responses/EntryNotFound"
          },
          "414": {
            "$ref": "#/components/responses/UrlTooLong"
          },
          "429": {
            "$ref": "#/components/responses/UsageLimitError"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "operationId": "get_thesaurus_source_lang_word_id"
      }
    },
    "/sentences/{source_lang}/{word_id}": {
      "get": {
        "tags": [
          "Sentences"
        ],
        "summary": "Retrieve example sentences",
        "description": "\nUse this to retrieve sentences extracted from a corpus of real-world language, including news and blog content. This is available for English and Spanish. For English, the sentences are linked to the correct [sense](https://developer.oxforddictionaries.com/documentation/glossary?term=sense) of the word in the dictionary. In Spanish, they are linked at the [headword](https://developer.oxforddictionaries.com/documentation/glossary?term=headword) level.\n  <div id=\"sentences\"></div>\n",
        "parameters": [
          {
            "name": "source_lang",
            "in": "path",
            "description": "Language code of the source language.",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "en",
                "es"
              ]
            }
          },
          {
            "$ref": "#/components/parameters/wordIdParam"
          },
          {
            "$ref": "#/components/parameters/strictMatchParam"
          },
          {
            "$ref": "#/components/parameters/appId"
          },
          {
            "$ref": "#/components/parameters/appKey"
          },
          {
            "name": "word_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "headers": {
              "X-Request-Id": {
                "description": "A unique ID generated for the request.\nWhen reporting a problem with a specific request, include the returned X-Request-Id.\n",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SentencesResults"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/MissingAuthentication"
          },
          "404": {
            "$ref": "#/components/responses/EntryNotFound"
          },
          "414": {
            "$ref": "#/components/responses/UrlTooLong"
          },
          "429": {
            "$ref": "#/components/responses/UsageLimitError"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "operationId": "get_sentences_source_lang_word_id"
      }
    },
    "/words/{source_lang}": {
      "get": {
        "tags": [
          "Words"
        ],
        "summary": "Retrieve dictionary entries of a word",
        "description": "\nUse this endpoint to retrieve definitions, examples and other information for a given dictionary word or an inflection (e.g., running > run). The response contains information about the lemmas to which the given word/inflected form is linked.\n\nThe results can be filtered by lexicalCategories, domains, registers or grammaticalFeatures. Filters can be combined.\n\nIn addition, users can use fields to project some of the properties.\n\nCombining different filters will build a query using 'AND' operators, while if a filter contains more than one value it will build a query using 'OR' operators. For example, a combination of filters like '?grammaticalFeatures=singular&lexicalCategory=noun,verb' will return entries which match the query ('noun' OR 'verb') AND 'singular'.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/sourceLangMonolingualParam"
          },
          {
            "name": "q",
            "in": "query",
            "description": "The word or inflection to retrieve. This parameter is NOT case-sensitive.",
            "required": true,
            "schema": {
              "type": "string",
              "default": "swimming"
            }
          },
          {
            "$ref": "#/components/parameters/fieldsParam"
          },
          {
            "$ref": "#/components/parameters/grammaticalFeaturesParam"
          },
          {
            "$ref": "#/components/parameters/domainsParam"
          },
          {
            "$ref": "#/components/parameters/lexicalCategoryParam"
          },
          {
            "$ref": "#/components/parameters/registersParam"
          },
          {
            "$ref": "#/components/parameters/appId"
          },
          {
            "$ref": "#/components/parameters/appKey"
          },
          {
            "name": "source_lang",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "headers": {
              "X-Request-Id": {
                "description": "A unique ID generated for the request.\nWhen reporting a problem with a specific request, include the returned X-Request-Id.\n",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EntriesResults"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/InvalidParams"
          },
          "403": {
            "$ref": "#/components/responses/MissingAuthentication"
          },
          "404": {
            "$ref": "#/components/responses/EntryNotFound"
          },
          "414": {
            "$ref": "#/components/responses/UrlTooLong"
          },
          "429": {
            "$ref": "#/components/responses/UsageLimitError"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "operationId": "get_words_source_lang"
      }
    },
    "/languages": {
      "get": {
        "tags": [
          "Utility"
        ],
        "summary": "Returns Dictionary names",
        "description": "Returns the names of monolingual and bilingual language datasets available in the API\n",
        "parameters": [
          {
            "name": "sourceLanguage",
            "in": "query",
            "description": "Source Language. If provided, output will be filtered by sourceLanguage.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "targetLanguage",
            "in": "query",
            "description": "Target Language. If provided, output will be filtered by targetLanguage.",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/appId"
          },
          {
            "$ref": "#/components/parameters/appKey"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "headers": {
              "X-Request-Id": {
                "description": "A unique ID generated for the request.\nWhen reporting a problem with a specific request, include the returned X-Request-Id.\n",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Languages"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/TranslationsBadRequest"
          },
          "403": {
            "$ref": "#/components/responses/MissingAuthentication"
          },
          "404": {
            "$ref": "#/components/responses/LanguageNotFound"
          }
        },
        "operationId": "get_languages"
      }
    },
    "/filters": {
      "get": {
        "tags": [
          "Utility"
        ],
        "summary": "Lists available filters",
        "description": "Returns a list of all the valid filters to construct API requests.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/appId"
          },
          {
            "$ref": "#/components/parameters/appKey"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "headers": {
              "X-Request-Id": {
                "description": "A unique ID generated for the request.\nWhen reporting a problem with a specific request, include the returned X-Request-Id.\n",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Filters"
                }
              }
            }
          }
        },
        "operationId": "get_filters"
      }
    },
    "/filters/{endpoint}": {
      "get": {
        "tags": [
          "Utility"
        ],
        "summary": "Lists filters by endpoint",
        "description": "Returns a list of all the valid filters by endpoint to construct API requests.\n",
        "parameters": [
          {
            "name": "endpoint",
            "in": "path",
            "description": "Name of the endpoint.",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "entries",
                "lemmas"
              ]
            }
          },
          {
            "$ref": "#/components/parameters/appId"
          },
          {
            "$ref": "#/components/parameters/appKey"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "headers": {
              "X-Request-Id": {
                "description": "A unique ID generated for the request.\nWhen reporting a problem with a specific request, include the returned X-Request-Id.\n",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Filters"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/EndpointNotFound"
          }
        },
        "operationId": "get_filters_endpoint"
      }
    },
    "/fields": {
      "get": {
        "tags": [
          "Utility"
        ],
        "summary": "Lists available fields",
        "description": "Returns a list of the available fields to construct API requests.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/appId"
          },
          {
            "$ref": "#/components/parameters/appKey"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "headers": {
              "X-Request-Id": {
                "description": "A unique ID generated for the request.\nWhen reporting a problem with a specific request, include the returned X-Request-Id.\n",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Filters"
                }
              }
            }
          }
        },
        "operationId": "get_fields"
      }
    },
    "/fields/{endpoint}": {
      "get": {
        "tags": [
          "Utility"
        ],
        "summary": "Lists fields by endpoint",
        "description": "Returns the lists of fields available to construct API requests for a given endpoint.\n",
        "parameters": [
          {
            "name": "endpoint",
            "in": "path",
            "description": "Name of the endpoint",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "entries",
                "thesaurus"
              ]
            }
          },
          {
            "$ref": "#/components/parameters/appId"
          },
          {
            "$ref": "#/components/parameters/appKey"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "headers": {
              "X-Request-Id": {
                "description": "A unique ID generated for the request.\nWhen reporting a problem with a specific request, include the returned X-Request-Id.\n",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Filters"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/EndpointNotFound"
          }
        },
        "operationId": "get_fields_endpoint"
      }
    },
    "/lexicalCategories/{source_lang}": {
      "get": {
        "tags": [
          "Utility"
        ],
        "summary": "Lists lexical categories",
        "description": "Returns a list of available [lexical categories](https://developer.oxforddictionaries.com/documentation/glossary?term=lexicalcategory) for a given language dataset.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/sourceLangMonolingualParam"
          },
          {
            "$ref": "#/components/parameters/appId"
          },
          {
            "$ref": "#/components/parameters/appKey"
          },
          {
            "name": "source_lang",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "headers": {
              "X-Request-Id": {
                "description": "A unique ID generated for the request.\nWhen reporting a problem with a specific request, include the returned X-Request-Id.\n",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UtilityLabels"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/LanguageNotFound"
          }
        },
        "operationId": "get_lexicalCategories_source_lang"
      }
    },
    "/lexicalCategories/{source_lang}/{target_lang}": {
      "get": {
        "tags": [
          "Utility"
        ],
        "summary": "Lists lexical categories (bilingual)",
        "description": "Returns a list of available [lexical categories](https://developer.oxforddictionaries.com/documentation/glossary?term=lexicalcategory) for a given bilingual dataset.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/sourceLangBilingualParam"
          },
          {
            "$ref": "#/components/parameters/targetLangBilingualParam"
          },
          {
            "$ref": "#/components/parameters/appId"
          },
          {
            "$ref": "#/components/parameters/appKey"
          },
          {
            "name": "source_lang",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "target_lang",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "headers": {
              "X-Request-Id": {
                "description": "A unique ID generated for the request.\nWhen reporting a problem with a specific request, include the returned X-Request-Id.\n",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UtilityLabels"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/LanguageNotFound"
          }
        },
        "operationId": "get_lexicalCategories_source_lang_target_lang"
      }
    },
    "/registers/{source_lang}": {
      "get": {
        "tags": [
          "Utility"
        ],
        "summary": "Lists registers",
        "description": "Returns a list of the available [registers](https://developer.oxforddictionaries.com/documentation/glossary?term=registers) for a given monolingual language dataset.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/sourceLangMonolingualParam"
          },
          {
            "$ref": "#/components/parameters/appId"
          },
          {
            "$ref": "#/components/parameters/appKey"
          },
          {
            "name": "source_lang",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "headers": {
              "X-Request-Id": {
                "description": "A unique ID generated for the request.\nWhen reporting a problem with a specific request, include the returned X-Request-Id.\n",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UtilityLabels"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/LanguageNotFound"
          }
        },
        "operationId": "get_registers_source_lang"
      }
    },
    "/registers/{source_lang}/{target_lang}": {
      "get": {
        "tags": [
          "Utility"
        ],
        "summary": "Lists registers (bilingual)",
        "description": "Returns a list of the available [registers](https://developer.oxforddictionaries.com/documentation/glossary?term=registers) for a given bilingual language dataset.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/sourceLangBilingualParam"
          },
          {
            "$ref": "#/components/parameters/targetLangBilingualParam"
          },
          {
            "$ref": "#/components/parameters/appId"
          },
          {
            "$ref": "#/components/parameters/appKey"
          },
          {
            "name": "source_lang",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "target_lang",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "headers": {
              "X-Request-Id": {
                "description": "A unique ID generated for the request.\nWhen reporting a problem with a specific request, include the returned X-Request-Id.\n",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UtilityLabels"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/TranslationsBadRequest"
          },
          "404": {
            "$ref": "#/components/responses/LanguageNotFound"
          }
        },
        "operationId": "get_registers_source_lang_target_lang"
      }
    },
    "/domains/{source_lang}": {
      "get": {
        "tags": [
          "Utility"
        ],
        "summary": "Lists domains",
        "description": "Returns a list of the available [domains](https://developer.oxforddictionaries.com/documentation/glossary?term=domain) for a given monolingual language dataset.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/sourceLangMonolingualParam"
          },
          {
            "$ref": "#/components/parameters/appId"
          },
          {
            "$ref": "#/components/parameters/appKey"
          },
          {
            "name": "source_lang",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "headers": {
              "X-Request-Id": {
                "description": "A unique ID generated for the request.\nWhen reporting a problem with a specific request, include the returned X-Request-Id.\n",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UtilityLabels"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/LanguageNotFound"
          }
        },
        "operationId": "get_domains_source_lang"
      }
    },
    "/domains/{source_lang}/{target_lang}": {
      "get": {
        "tags": [
          "Utility"
        ],
        "summary": "Lists domains (bilingual)",
        "description": "Returns a list of the available [domains](https://developer.oxforddictionaries.com/documentation/glossary?term=domain) for a given bilingual language dataset.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/sourceLangBilingualParam"
          },
          {
            "$ref": "#/components/parameters/targetLangBilingualParam"
          },
          {
            "$ref": "#/components/parameters/appId"
          },
          {
            "$ref": "#/components/parameters/appKey"
          },
          {
            "name": "source_lang",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "target_lang",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "headers": {
              "X-Request-Id": {
                "description": "A unique ID generated for the request.\nWhen reporting a problem with a specific request, include the returned X-Request-Id.\n",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UtilityLabels"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/TranslationsBadRequest"
          },
          "404": {
            "$ref": "#/components/responses/LanguageNotFound"
          }
        },
        "operationId": "get_domains_source_lang_target_lang"
      }
    },
    "/grammaticalFeatures/{source_lang}": {
      "get": {
        "tags": [
          "Utility"
        ],
        "summary": "Lists grammatical features",
        "description": "Returns a list of the available [grammatical features](https://developer.oxforddictionaries.com/documentation/glossary?term=grammaticalfeatures) for a given monolingual dataset.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/sourceLangMonolingualParam"
          },
          {
            "$ref": "#/components/parameters/appId"
          },
          {
            "$ref": "#/components/parameters/appKey"
          },
          {
            "name": "source_lang",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "headers": {
              "X-Request-Id": {
                "description": "A unique ID generated for the request.\nWhen reporting a problem with a specific request, include the returned X-Request-Id.\n",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UtilityLabels"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/LanguageNotFound"
          }
        },
        "operationId": "get_grammaticalFeatures_source_lang"
      }
    },
    "/grammaticalFeatures/{source_lang}/{target_lang}": {
      "get": {
        "tags": [
          "Utility"
        ],
        "summary": "Lists grammatical features (bilingual)",
        "description": "Returns a list of the available [grammatical features](https://developer.oxforddictionaries.com/documentation/glossary?term=grammaticalfeatures) for a given bilingual dataset.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/sourceLangBilingualParam"
          },
          {
            "$ref": "#/components/parameters/targetLangBilingualParam"
          },
          {
            "$ref": "#/components/parameters/appId"
          },
          {
            "$ref": "#/components/parameters/appKey"
          },
          {
            "name": "source_lang",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "target_lang",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "headers": {
              "X-Request-Id": {
                "description": "A unique ID generated for the request.\nWhen reporting a problem with a specific request, include the returned X-Request-Id.\n",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UtilityLabels"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/TranslationsBadRequest"
          },
          "404": {
            "$ref": "#/components/responses/LanguageNotFound"
          }
        },
        "operationId": "get_grammaticalFeatures_source_lang_target_lang"
      }
    },
    "/pronunciations/{source_lang}/{word_id}": {
      "get": {
        "tags": [
          "Pronunciations (Coming Soon)"
        ],
        "summary": "Retrieve pronunciations",
        "description": "*We are currently in the alpha stage of releasing a new Pronunciations endpoint. If you would like to take part in shaping the development of this endpoint please get in touch [here](https://developer.oxforddictionaries.com/contact-us) and a member of the OD API team will be in touch with more information.*\n\nThis endpoint retrieves and groups pronunciation based on the specified word, language, and optional [lexical category](https://developer.oxforddictionaries.com/documentation/glossary?term=lexicalcategory). It supports querying for pronunciation details such as transcription and lexical categories for strict matching of the word. The lexical category parameter allows filtering results by part of speech, providing targeted pronunciation data. This endpoint is designed to efficiently pull and aggregate pronunciation data. Results include detailed transcriptions grouped by lexical categories, offering a comprehensive view of the available pronunciations for a given word in the specified language.",
        "parameters": [
          {
            "$ref": "#/components/parameters/sourceLangPronunciationParam"
          },
          {
            "$ref": "#/components/parameters/wordIdParam"
          },
          {
            "name": "lexicalCategory",
            "in": "query",
            "description": "Selection filter: a lexical category id to match on (default: all categories).",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/appId"
          },
          {
            "$ref": "#/components/parameters/appKey"
          },
          {
            "name": "source_lang",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "word_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "headers": {
              "X-Request-Id": {
                "description": "A unique ID generated for the request.\nWhen reporting a problem with a specific request, include the returned X-Request-Id.\n",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PronunciationResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/InvalidParams"
          },
          "403": {
            "$ref": "#/components/responses/MissingAuthentication"
          },
          "404": {
            "$ref": "#/components/responses/EntryNotFound"
          },
          "414": {
            "$ref": "#/components/responses/UrlTooLong"
          },
          "429": {
            "$ref": "#/components/responses/UsageLimitError"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "operationId": "get_pronunciations_source_lang_word_id"
      }
    }
  },
  "components": {
    "schemas": {
      "PronunciationResult": {
        "title": "Pronunciation results",
        "type": "object",
        "properties": {
          "metadata": {
            "type": "object",
            "properties": {},
            "description": "Additional Information provided by OUP"
          },
          "results": {
            "minItems": 1,
            "type": "array",
            "description": "A list of pronunciations matching a given word.",
            "items": {
              "$ref": "shared.schema.json#/components/schemas/PronunciationWord"
            }
          }
        }
      },
      "EntriesResults": {
        "title": "Entries results",
        "type": "object",
        "properties": {
          "metadata": {
            "type": "object",
            "properties": {},
            "description": "Additional Information provided by OUP"
          },
          "results": {
            "minItems": 1,
            "type": "array",
            "description": "A list of entries and all the data related to them",
            "items": {
              "allOf": [
                {
                  "required": [
                    "id",
                    "language",
                    "lexicalEntries",
                    "word"
                  ],
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "The identifier of a word"
                    },
                    "language": {
                      "type": "string",
                      "description": "IANA language code"
                    },
                    "lexicalEntries": {
                      "minItems": 1,
                      "type": "array",
                      "description": "A grouping of various senses in a specific language, and a lexical category that relates to a word",
                      "items": {
                        "allOf": [
                          {
                            "required": [
                              "language",
                              "lexicalCategory",
                              "text"
                            ],
                            "type": "object",
                            "properties": {
                              "entries": {
                                "minItems": 1,
                                "type": "array",
                                "items": {
                                  "allOf": [
                                    {
                                      "type": "object",
                                      "properties": {
                                        "etymologies": {
                                          "$ref": "./shared.schema.json#/components/schemas/ArrayOfStrings"
                                        },
                                        "homographNumber": {
                                          "type": "string",
                                          "description": "Identifies the homograph grouping. The last two digits identify different entries of the same homograph. The first one/two digits identify the homograph number."
                                        },
                                        "senses": {
                                          "minItems": 1,
                                          "type": "array",
                                          "description": "Complete list of senses",
                                          "items": {
                                            "$ref": "shared.schema.json#/components/schemas/Sense"
                                          }
                                        }
                                      }
                                    },
                                    {
                                      "$ref": "shared.schema.json#/components/schemas/InflectedForm"
                                    },
                                    {
                                      "$ref": "shared.schema.json#/components/schemas/CrossReferenceMarkers"
                                    },
                                    {
                                      "$ref": "shared.schema.json#/components/schemas/CrossReferences"
                                    },
                                    {
                                      "$ref": "shared.schema.json#/components/schemas/GrammaticalFeatures"
                                    },
                                    {
                                      "$ref": "shared.schema.json#/components/schemas/Pronunciations"
                                    },
                                    {
                                      "$ref": "shared.schema.json#/components/schemas/Notes"
                                    },
                                    {
                                      "$ref": "shared.schema.json#/components/schemas/VariantForms"
                                    }
                                  ]
                                }
                              },
                              "derivatives": {
                                "$ref": "shared.schema.json#/components/schemas/ArrayOfRelatedEntries"
                              },
                              "compounds": {
                                "$ref": "shared.schema.json#/components/schemas/ArrayOfRelatedEntries"
                              },
                              "phrases": {
                                "$ref": "shared.schema.json#/components/schemas/ArrayOfRelatedEntries"
                              },
                              "phrasalVerbs": {
                                "$ref": "shared.schema.json#/components/schemas/ArrayOfRelatedEntries"
                              },
                              "derivativeOf": {
                                "$ref": "shared.schema.json#/components/schemas/ArrayOfRelatedEntries"
                              },
                              "language": {
                                "type": "string",
                                "description": "IANA language code"
                              },
                              "text": {
                                "type": "string",
                                "description": "A given written or spoken realisation of an entry."
                              },
                              "root": {
                                "type": "string",
                                "description": "Abstract root form from which this lexicalEntry is derived."
                              }
                            },
                            "description": "Description of an entry for a particular part of speech"
                          },
                          {
                            "$ref": "shared.schema.json#/components/schemas/LexicalCategory"
                          },
                          {
                            "$ref": "shared.schema.json#/components/schemas/GrammaticalFeatures"
                          },
                          {
                            "$ref": "shared.schema.json#/components/schemas/Pronunciations"
                          },
                          {
                            "$ref": "shared.schema.json#/components/schemas/Notes"
                          },
                          {
                            "$ref": "shared.schema.json#/components/schemas/VariantForms"
                          }
                        ]
                      }
                    },
                    "type": {
                      "type": "string",
                      "description": "The json object type. Could be 'headword', 'inflection' or 'phrase'"
                    },
                    "word": {
                      "type": "string",
                      "description": "(DEPRECATED) A given written or spoken realisation of an entry, lowercased."
                    }
                  },
                  "description": "Group of lexicalEntries related to a specific result for a given word ID."
                },
                {
                  "$ref": "shared.schema.json#/components/schemas/Pronunciations"
                }
              ]
            }
          }
        },
        "description": "Schema for the 'entries', 'translations' and 'words' endpoints"
      },
      "LemmasResults": {
        "title": "Lemmas results",
        "type": "object",
        "properties": {
          "metadata": {
            "type": "object",
            "properties": {},
            "description": "Additional Information provided by OUP"
          },
          "results": {
            "minItems": 1,
            "type": "array",
            "description": "A list of inflections matching a given word",
            "items": {
              "required": [
                "id",
                "language",
                "lexicalEntries",
                "word"
              ],
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "The identifier of a word"
                },
                "language": {
                  "type": "string",
                  "description": "IANA language code"
                },
                "lexicalEntries": {
                  "minItems": 1,
                  "type": "array",
                  "description": "A grouping of various senses in a specific language, and a lexical category that relates to a word",
                  "items": {
                    "allOf": [
                      {
                        "required": [
                          "inflectionOf",
                          "language",
                          "lexicalCategory",
                          "text"
                        ],
                        "type": "object",
                        "properties": {
                          "inflectionOf": {
                            "minItems": 1,
                            "type": "array",
                            "description": "A grouping of the modifications of a word to express different grammatical categories",
                            "items": {
                              "type": "object",
                              "additionalProperties": false,
                              "required": [
                                "text",
                                "id"
                              ],
                              "properties": {
                                "text": {
                                  "type": "string"
                                },
                                "id": {
                                  "description": "The identifier of the word",
                                  "type": "string"
                                }
                              }
                            }
                          },
                          "language": {
                            "type": "string",
                            "description": "IANA language code"
                          },
                          "text": {
                            "type": "string",
                            "description": "A given written or spoken realisation of an entry."
                          }
                        },
                        "description": "Description of an entry for a particular part of speech and grammatical features"
                      },
                      {
                        "$ref": "shared.schema.json#/components/schemas/LexicalCategory"
                      },
                      {
                        "$ref": "shared.schema.json#/components/schemas/GrammaticalFeatures"
                      }
                    ]
                  }
                },
                "type": {
                  "type": "string",
                  "description": "The json object type. Could be 'headword', 'inflection' or 'phrase'"
                },
                "word": {
                  "type": "string",
                  "description": "(DEPRECATED) A given written or spoken realisation of an entry, lowercased."
                }
              },
              "additionalProperties": false,
              "description": "Description of an inflected form of a word"
            }
          }
        },
        "description": "Schema for the Lemmas endpoint."
      },
      "InflectionsResults": {
        "title": "Inflections results",
        "type": "object",
        "properties": {
          "metadata": {
            "type": "object",
            "properties": {},
            "description": "Additional Information provided by OUP"
          },
          "results": {
            "minItems": 1,
            "type": "array",
            "description": "A list of headwords matching a given word",
            "items": {
              "required": [
                "id",
                "language",
                "lexicalEntries"
              ],
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "The identifier of a word"
                },
                "text": {
                  "type": "string",
                  "description": "A given written or spoken realisation of an entry."
                },
                "language": {
                  "type": "string",
                  "description": "IANA language code"
                },
                "lexicalEntries": {
                  "minItems": 1,
                  "type": "array",
                  "description": "A grouping of various senses in a specific language, and a lexical category that relates to a word",
                  "items": {
                    "allOf": [
                      {
                        "required": [
                          "language",
                          "lexicalCategory"
                        ],
                        "type": "object",
                        "properties": {
                          "language": {
                            "type": "string",
                            "description": "IANA language code"
                          }
                        },
                        "description": "Description of an entry for a particular part of speech and grammatical features"
                      },
                      {
                        "$ref": "shared.schema.json#/components/schemas/InflectedForm"
                      },
                      {
                        "$ref": "shared.schema.json#/components/schemas/LexicalCategory"
                      },
                      {
                        "$ref": "shared.schema.json#/components/schemas/GrammaticalFeatures"
                      }
                    ]
                  }
                }
              },
              "additionalProperties": false,
              "description": "Description of an inflected form of a word"
            }
          }
        },
        "description": "Schema for the inflections endpoint."
      },
      "Wordlist": {
        "title": "Search results",
        "type": "object",
        "properties": {
          "metadata": {
            "type": "object",
            "properties": {
              "total": {
                "type": "string",
                "description": "Approximate number of results that match the given query."
              }
            },
            "description": "Additional Information provided by OUP"
          },
          "results": {
            "minItems": 0,
            "type": "array",
            "description": "A list of found words",
            "items": {
              "type": "object",
              "additionalProperties": true,
              "description": "Description of found word",
              "required": [
                "id",
                "word"
              ],
              "properties": {
                "id": {
                  "description": "The identifier of a word",
                  "type": "string"
                },
                "word": {
                  "description": "(DEPRECATED) A given written or spoken realisation of an entry, lowercased.",
                  "type": "string"
                },
                "matchString": {
                  "type": "string"
                },
                "matchType": {
                  "type": "string"
                },
                "region": {
                  "description": "Name of region.",
                  "type": "string"
                }
              }
            }
          }
        },
        "description": "Schema for wordlist endpoint."
      },
      "ThesaurusResults": {
        "title": "Thesaurus results",
        "type": "object",
        "properties": {
          "metadata": {
            "type": "object",
            "properties": {},
            "description": "Additional Information provided by OUP"
          },
          "results": {
            "minItems": 1,
            "type": "array",
            "description": "A list of found synonyms or antonyms",
            "items": {
              "required": [
                "id",
                "language",
                "lexicalEntries",
                "word"
              ],
              "type": "object",
              "properties": {
                "word": {
                  "type": "string",
                  "description": "(DEPRECATED) A given written or spoken realisation of an entry, lowercased."
                },
                "id": {
                  "type": "string",
                  "description": "The identifier of a word"
                },
                "language": {
                  "type": "string",
                  "description": "IANA language code"
                },
                "lexicalEntries": {
                  "minItems": 1,
                  "type": "array",
                  "description": "A grouping of various senses in a specific language, and a lexical category that relates to a word",
                  "items": {
                    "allOf": [
                      {
                        "required": [
                          "language",
                          "lexicalCategory",
                          "text"
                        ],
                        "type": "object",
                        "properties": {
                          "entries": {
                            "minItems": 1,
                            "type": "array",
                            "items": {
                              "allOf": [
                                {
                                  "type": "object",
                                  "properties": {
                                    "homographNumber": {
                                      "type": "string",
                                      "description": "Identifies the homograph grouping. The last two digits identify different entries of the same homograph. The first one/two digits identify the homograph number."
                                    },
                                    "senses": {
                                      "minItems": 1,
                                      "type": "array",
                                      "description": "Complete list of senses",
                                      "items": {
                                        "$ref": "shared.schema.json#/components/schemas/ThesaurusSense"
                                      }
                                    }
                                  }
                                },
                                {
                                  "$ref": "shared.schema.json#/components/schemas/GrammaticalFeatures"
                                },
                                {
                                  "$ref": "shared.schema.json#/components/schemas/VariantForms"
                                }
                              ]
                            }
                          },
                          "language": {
                            "type": "string",
                            "description": "IANA language code"
                          },
                          "text": {
                            "type": "string",
                            "description": "A given written or spoken realisation of an entry."
                          }
                        },
                        "description": "Description of an entry for a particular part of speech"
                      },
                      {
                        "$ref": "shared.schema.json#/components/schemas/LexicalCategory"
                      },
                      {
                        "$ref": "shared.schema.json#/components/schemas/GrammaticalFeatures"
                      },
                      {
                        "$ref": "shared.schema.json#/components/schemas/VariantForms"
                      }
                    ]
                  }
                },
                "type": {
                  "type": "string",
                  "description": "The json object type. Could be 'headword', 'inflection' or 'phrase'"
                }
              },
              "additionalProperties": false,
              "description": "description of thesaurus information of a word"
            }
          }
        },
        "description": "Schema for thesaurus endpoint"
      },
      "SentencesResults": {
        "title": "Sentences results",
        "type": "object",
        "properties": {
          "metadata": {
            "type": "object",
            "properties": {},
            "description": "Additional Information provided by OUP"
          },
          "results": {
            "minItems": 1,
            "type": "array",
            "description": "A list of entries and all the data related to them",
            "items": {
              "required": [
                "id",
                "language",
                "lexicalEntries",
                "word"
              ],
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "The identifier of a word"
                },
                "language": {
                  "type": "string",
                  "description": "IANA language code"
                },
                "lexicalEntries": {
                  "minItems": 1,
                  "type": "array",
                  "description": "A grouping of various senses in a specific language, and a lexical category that relates to a word",
                  "items": {
                    "allOf": [
                      {
                        "required": [
                          "language",
                          "sentences",
                          "lexicalCategory",
                          "text"
                        ],
                        "type": "object",
                        "properties": {
                          "language": {
                            "type": "string",
                            "description": "IANA language code"
                          },
                          "text": {
                            "type": "string",
                            "description": "A given written or spoken realisation of an entry."
                          },
                          "sentences": {
                            "$ref": "shared.schema.json#/components/schemas/ExamplesList"
                          }
                        },
                        "description": "Description of an entry for a particular part of speech"
                      },
                      {
                        "$ref": "shared.schema.json#/components/schemas/LexicalCategory"
                      },
                      {
                        "$ref": "shared.schema.json#/components/schemas/GrammaticalFeatures"
                      }
                    ]
                  }
                },
                "type": {
                  "type": "string",
                  "description": "The json object type. Could be 'headword', 'inflection' or 'phrase'"
                },
                "word": {
                  "type": "string",
                  "description": "(DEPRECATED) A given written or spoken realisation of an entry, lowercased."
                }
              },
              "additionalProperties": false,
              "description": "Group of lexicalEntries related to a specific result in the Sentences endpoint for a given word ID."
            }
          }
        },
        "description": "Schema for the 'sentences' endpoint"
      },
      "Languages": {
        "title": "Languages results",
        "type": "object",
        "properties": {
          "metadata": {
            "type": "object",
            "properties": {},
            "description": "Additional Information provided by OUP"
          },
          "results": {
            "minItems": 1,
            "type": "array",
            "description": "A list of languages available.",
            "items": {
              "minProperties": 1,
              "type": "object",
              "additionalProperties": false,
              "properties": {
                "region": {
                  "description": "Name of region.",
                  "type": "string"
                },
                "source": {
                  "description": "Name of source dictionary.",
                  "type": "string"
                },
                "sourceLanguage": {
                  "description": "Source language of the results",
                  "properties": {
                    "id": {
                      "description": "IANA language code",
                      "type": "string"
                    },
                    "language": {
                      "type": "string",
                      "description": "Language label."
                    }
                  },
                  "type": "object"
                },
                "targetLanguage": {
                  "description": "Translation language of the results",
                  "properties": {
                    "id": {
                      "description": "IANA language code",
                      "type": "string"
                    },
                    "language": {
                      "type": "string",
                      "description": "Language label."
                    }
                  },
                  "type": "object"
                },
                "type": {
                  "description": "whether monolingual or bilingual.",
                  "type": "string",
                  "enum": [
                    "monolingual",
                    "bilingual",
                    "other"
                  ]
                }
              }
            }
          }
        },
        "description": "Schema for the languages endpoint."
      },
      "Filters": {
        "title": "Filters results",
        "type": "object",
        "properties": {
          "metadata": {
            "type": "object",
            "properties": {},
            "description": "Additional Information provided by OUP"
          },
          "results": {
            "minProperties": 1,
            "type": "object",
            "additionalProperties": false,
            "description": "A mapping of filters available per endpoints.",
            "properties": {
              "entries": {
                "$ref": "shared.schema.json#/components/schemas/ArrayOfStrings"
              },
              "lemmas": {
                "$ref": "shared.schema.json#/components/schemas/ArrayOfStrings"
              },
              "translations": {
                "$ref": "shared.schema.json#/components/schemas/ArrayOfStrings"
              },
              "sentences": {
                "$ref": "shared.schema.json#/components/schemas/ArrayOfStrings"
              },
              "thesaurus": {
                "$ref": "shared.schema.json#/components/schemas/ArrayOfStrings"
              }
            }
          }
        },
        "description": "Schema for the Filters endpoint."
      },
      "UtilityLabels": {
        "title": "Labels results",
        "type": "object",
        "properties": {
          "metadata": {
            "type": "object",
            "properties": {},
            "description": "Additional Information provided by OUP"
          },
          "results": {
            "type": "object",
            "additionalProperties": {
              "type": "object",
              "properties": {
                "en": {
                  "type": "string",
                  "description": "Label in English"
                }
              },
              "description": "the list of labels for an object. Every object can be a lexical category, or a register, or a domain."
            },
            "description": "Mapping of labels available."
          }
        },
        "description": "Schema for lexicalCategories, grammaticalFeatures, registers and domains utility endpoints."
      },
      "ErrorSchema": {
        "title": "Errors schema",
        "required": [
          "error"
        ],
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "A human-readable explanation of the problem occurrence."
          }
        },
        "description": "Schema for Errors."
      }
    },
    "responses": {
      "SearchSuccessfulResponse": {
        "description": "Successful response. The Search endpoint is able to retrieve a max of 10000 results per query.",
        "headers": {
          "X-Request-Id": {
            "description": "A unique ID generated for the request.\nWhen reporting a problem with a specific request, include the returned X-Request-Id.\n",
            "schema": {
              "type": "string"
            }
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Wordlist"
            }
          }
        }
      },
      "EntryNotFound": {
        "description": "No entry was found matching the selection parameters (In Sandbox Only: first alphabet letter or equivalent has not been used); OR\nan invalid filter was specified.\n",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorSchema"
            }
          }
        }
      },
      "EndpointNotFound": {
        "description": "Unknown endpoint.\n",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorSchema"
            }
          }
        }
      },
      "LanguageNotFound": {
        "description": "Unknown sourceLanguage and/or targetLanguage.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorSchema"
            }
          }
        }
      },
      "SearchNotFound": {
        "description": "No entry was found matching the selection parameters (In Sandbox Only: first alphabet letter or equivalent has not been used).\n",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorSchema"
            }
          }
        }
      },
      "UrlTooLong": {
        "description": "URL is too long.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorSchema"
            }
          }
        }
      },
      "TranslationsBadRequest": {
        "description": "Not valid combination of source_lang and target_lang.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorSchema"
            }
          }
        }
      },
      "InternalError": {
        "description": "Internal error. An error occurred during processing.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorSchema"
            }
          }
        }
      },
      "MissingAuthentication": {
        "description": "Authentication parameters missing.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorSchema"
            }
          }
        }
      },
      "InvalidParams": {
        "description": "Invalid value for filters such as lexicalCategory, registers, domains, etc.\nInvalid value for fields projections accepted. It is not possible to project a non-existing field.\n",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorSchema"
            }
          }
        }
      },
      "SearchInvalidParams": {
        "description": "source_lang and target_lang can not be same; no words matching source_lang and/or translations; offset and limit exceeded 10000 together.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorSchema"
            }
          }
        }
      },
      "UsageLimitError": {
        "description": "Usage limit exceeded.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorSchema"
            }
          }
        }
      }
    },
    "parameters": {
      "sourceLangPronunciationParam": {
        "name": "source_lang",
        "in": "path",
        "description": "Language code of the source language in a pronunciation dataset.",
        "required": true,
        "schema": {
          "type": "string",
          "enum": [
            "en-au",
            "en-gb",
            "en-in",
            "en-us"
          ]
        }
      },
      "sourceLangMonolingualParam": {
        "name": "source_lang",
        "in": "path",
        "description": "Language code of the source language in a monolingual dataset.",
        "required": true,
        "schema": {
          "type": "string",
          "enum": [
            "en-gb",
            "en-us",
            "de",
            "es",
            "fr",
            "gu",
            "hi",
            "lv",
            "pt",
            "ro",
            "ta",
            "zh"
          ]
        }
      },
      "sourceLangBilingualParam": {
        "name": "source_lang",
        "in": "path",
        "description": "Language code of the source language in a bilingual dataset.",
        "required": true,
        "schema": {
          "type": "string",
          "enum": [
            "en",
            "ar",
            "de",
            "el",
            "es",
            "ha",
            "hi",
            "id",
            "it",
            "mr",
            "ms",
            "pt",
            "qu",
            "ru",
            "te",
            "tt",
            "zh"
          ]
        }
      },
      "targetLangBilingualParam": {
        "name": "target_lang",
        "in": "path",
        "description": "Language code of the target language in a bilingual dataset.",
        "required": true,
        "example": "es",
        "schema": {
          "type": "string",
          "enum": [
            "en",
            "ar",
            "de",
            "el",
            "es",
            "fa",
            "ha",
            "hi",
            "id",
            "ig",
            "it",
            "ka",
            "mr",
            "ms",
            "pt",
            "qu",
            "ro",
            "ru",
            "tg",
            "tt",
            "yo",
            "zh"
          ]
        }
      },
      "wordIdParam": {
        "name": "word_id",
        "in": "path",
        "description": "The identifier for an Entry (case-sensitive).",
        "required": true,
        "schema": {
          "type": "string",
          "default": "ace"
        }
      },
      "strictMatchParam": {
        "name": "strictMatch",
        "in": "query",
        "description": "Specifies whether diacritics must match exactly. If \"false\", near-homographs for the given word_id will also be selected (e.g., *rose* matches both *rose* and *rosé*; similarly *rosé* matches both).",
        "schema": {
          "type": "boolean",
          "default": false
        }
      },
      "grammaticalFeaturesParam": {
        "name": "grammaticalFeatures",
        "in": "query",
        "description": "Selection filter: a comma-separated list of grammatical features ids to match on (default: all features).\nThe available grammatical features for a given language (or language pair) can be obtained from the /grammaticalfeatures/ endpoint.\n\nThe filter keeps all the entries in the response whose grammaticalFeatures \"id\" matches the values in the grammaticalFeatures parameter.\n```@javascript\n{\n  \"grammaticalFeatures\": [\n                          {\n                              \"id\": \"mass\",\n                              \"text\": \"Mass\",\n                              \"type\": \"Countability\"\n                          }\n                      ]\n}\n```\n",
        "schema": {
          "type": "string"
        }
      },
      "lexicalCategoryParam": {
        "name": "lexicalCategory",
        "in": "query",
        "description": "Selection filter: a comma-separated list of lexical categories ids to match on (default: all categories).\nThe available lexical categories for a given language (or language pair) can be obtained from the /lexicalcategories/ endpoint.\n\nThe filter keeps all the entries in the response whose lexicalCategory \"id\" matches the values in the lexicalCategory parameter.\n```@javascript\n{\n  \"lexicalCategory\": {\n                  \"id\": \"adjective\",\n                  \"text\": \"Adjective\"\n              }\n}\n```\n",
        "schema": {
          "type": "string"
        }
      },
      "registersParam": {
        "name": "registers",
        "in": "query",
        "description": "Selection filter: a comma-separated list of registers ids to match on (default: all registers).\nThe available registers for a given language (or language pair) can be obtained from the /registers/ endpoint.\n\nThe filter keeps all the senses and subsenses in the response whose registers \"id\" matches the values in the registers parameter.\n\nEach register object may include a qualifier field, which provides additional context about the usage of the register. For example, a register marked as \"offensive\" might include a qualifier such as \"often\" to indicate that the term is often considered offensive, but not always.\n\n```@javascript\n{\n  \"registers\": [\n    {\n      \"id\": \"informal\",\n      \"text\": \"Informal\"\n    },\n    {\n      \"id\": \"offensive\",\n      \"qualifier\": \"often\",\n      \"text\": \"Offensive\"\n    }\n  ]\n}\n```",
        "schema": {
          "type": "string"
        }
      },
      "domainsParam": {
        "name": "domains",
        "in": "query",
        "description": "Selection filter: a comma-separated list of domains ids to match on (default: all domains).\nThe available domains for a given language (or language pair) can be obtained from the /domains/ endpoint.\n\nThe filter keeps all the senses and subsenses in the response whose domains \"id\" matches the values in the domains parameter.\n\n```@javascript\n{\n  \"domains\": [\n    {\n      \"id\": \"jazz\",\n      \"text\": \"Jazz\"\n\n    }]\n}\n```\n",
        "schema": {
          "type": "string"
        }
      },
      "fieldsParam": {
        "name": "fields",
        "in": "query",
        "description": "A comma-separated list of data fields to return for the matched entries.\nValid field names are 'definitions', 'domains', 'etymologies', 'examples', 'pronunciations', 'regions', 'registers' and 'variantForms'.\n(a) If not specified, all available fields for each word_id are returned.\n(b) If specified and empty, the minimum payload for each word_id is returned.\n(c) If more field names are specified, then the minimum payload plus the specified fields for each word_id are returned.\n",
        "allowEmptyValue": false,
        "style": "form",
        "explode": false,
        "schema": {
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "definitions",
              "domains",
              "etymologies",
              "examples",
              "pronunciations",
              "regions",
              "registers",
              "variantForms"
            ]
          }
        }
      },
      "translationsFieldsParam": {
        "name": "fields",
        "in": "query",
        "description": "A comma-separated list of data fields to return for the matched entries.\nValid field names are 'definitions', 'domains', 'etymologies', 'examples', 'pronunciations', 'regions', 'registers', 'variantForms', 'translations'.\n(a) If not specified, all available fields for each word_id are returned.\n(b) If specified and empty, the minimum payload for each word_id is returned.\n(c) If more field names are specified, then the minimum payload plus the specified fields for each word_id are returned.\n",
[...]
