{
  "openapi": "3.0.0",
  "info": {
    "version": "1.0.0",
    "title": "Envio Automatico de Cargas de Urea",
    "description": "El siguiente EndPoint su funcionalidad es para recibir las cargas de urea que se realizan a los camiones de Autotransportes Pilot.",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/autotransportespilot-a51/CargaUrea/1.0.0"
  },
  "paths": {
    "/Data/Insertar": {
      "post": {
        "summary": "Data/Insertar",
        "tags": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "x-stoplight": {
                        "id": "kunj8m5633phd"
                      },
                      "example": "success"
                    },
                    "data": {
                      "type": "string",
                      "x-stoplight": {
                        "id": "suail10m1rr9b"
                      },
                      "example": "{\\\"success\\\":true,\\\"message\\\":\\\"Carga de urea insertada correctamente\\\"}"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "x-stoplight": {
                        "id": "3bpjymztnil49"
                      },
                      "example": "Token inv\u00e1lido o expirado"
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "post-Data-Insertar",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "X-Auth-Token",
            "required": true,
            "description": "Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpYXQiOjE3NzAyMjIwNTUsImV4cCI6MTc3MDIyNTY1NSwic3ViIjoxLCJlbWFpbCI6InNpc3RlbWFzQGF0cGlsb3QubXgifQ.Km-JmsSCjjkvyA1yng1ryke29eNE3sYLnkOl7w9de_k"
          }
        ],
        "description": "El token que utilizas en el Header se obtiene del endpoint AUTH.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "economico": {
                    "type": "string",
                    "x-stoplight": {
                      "id": "nfhrdyscom1d7"
                    },
                    "example": "T1101"
                  },
                  "fecha_carga": {
                    "type": "string",
                    "x-stoplight": {
                      "id": "zoa4x1wt5xdjq"
                    },
                    "example": "2026-02-04 10:12:00"
                  },
                  "carga_urea": {
                    "type": "string",
                    "x-stoplight": {
                      "id": "iaxf1edc1o9in"
                    },
                    "example": "    \"carga_urea\":\"200\","
                  },
                  "precio_urea": {
                    "type": "string",
                    "x-stoplight": {
                      "id": "kyxlwlbwmvwch"
                    },
                    "example": "12"
                  },
                  "precio_sin_iva": {
                    "type": "string",
                    "x-stoplight": {
                      "id": "pu5inea6n00pn"
                    },
                    "example": "10.34"
                  },
                  "sucursal": {
                    "type": "string",
                    "x-stoplight": {
                      "id": "96plitrsvu56j"
                    },
                    "example": "PILOTPRUBBA"
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "servers": [
    {
      "url": "https://bi.sistematpilot.com/Apis/Urea/",
      "description": ""
    }
  ]
}