{
  "openapi": "3.0.3",
  "info": {
    "title": "Robin Powered Workplace Management API",
    "description": "Robin API provides access to workplace management data including spaces (conference rooms), locations (buildings), users, events (bookings), desks, presence information, and analytics exports. Enables scheduling, space booking, desk reservations, and workplace utilization reporting.",
    "version": "1.0.0",
    "x-jentic-source-url": "https://docs.robinpowered.com/"
  },
  "servers": [
    {
      "url": "https://api.robinpowered.com/v1.0",
      "description": "Production server"
    }
  ],
  "security": [
    {
      "accessToken": []
    }
  ],
  "paths": {
    "/organizations/{organizationId}": {
      "get": {
        "operationId": "getOrganization",
        "summary": "Get organization details",
        "description": "Retrieves details for a specific organization.",
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "required": true,
            "description": "Organization identifier",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with organization data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    },
                    "data": {
                      "$ref": "#/components/schemas/Organization"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing access token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Organization not found"
          }
        }
      }
    },
    "/organizations/{organizationId}/locations": {
      "get": {
        "operationId": "getOrganizationLocations",
        "summary": "List locations for an organization",
        "description": "Returns all locations (buildings/offices) belonging to a specific organization.",
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "required": true,
            "description": "Organization identifier",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Page number for pagination",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "description": "Results per page",
            "schema": {
              "type": "integer",
              "default": 25
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with location list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Location"
                      }
                    },
                    "paging": {
                      "$ref": "#/components/schemas/Paging"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/locations/{locationId}": {
      "get": {
        "operationId": "getLocation",
        "summary": "Get location details",
        "description": "Retrieves detailed information for a specific location (building/office).",
        "parameters": [
          {
            "name": "locationId",
            "in": "path",
            "required": true,
            "description": "Location identifier",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "include",
            "in": "query",
            "required": false,
            "description": "Sub-resources to include (e.g., 'spaces')",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with location data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    },
                    "data": {
                      "$ref": "#/components/schemas/Location"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Location not found"
          }
        }
      }
    },
    "/locations/{locationId}/spaces": {
      "get": {
        "operationId": "getLocationSpaces",
        "summary": "List spaces at a location",
        "description": "Returns all spaces (conference rooms, meeting rooms) at a specific location.",
        "parameters": [
          {
            "name": "locationId",
            "in": "path",
            "required": true,
            "description": "Location identifier",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 25
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with space list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Space"
                      }
                    },
                    "paging": {
                      "$ref": "#/components/schemas/Paging"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/spaces/{spaceId}": {
      "get": {
        "operationId": "getSpace",
        "summary": "Get space details",
        "description": "Retrieves detailed information for a specific space (conference room).",
        "parameters": [
          {
            "name": "spaceId",
            "in": "path",
            "required": true,
            "description": "Space identifier",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "include",
            "in": "query",
            "required": false,
            "description": "Sub-resources to include (e.g., 'location')",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with space data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    },
                    "data": {
                      "$ref": "#/components/schemas/Space"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Space not found"
          }
        }
      }
    },
    "/spaces/{spaceId}/events": {
      "get": {
        "operationId": "getSpaceEvents",
        "summary": "List events for a space",
        "description": "Returns scheduled events (bookings) for a specific space.",
        "parameters": [
          {
            "name": "spaceId",
            "in": "path",
            "required": true,
            "description": "Space identifier",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "after",
            "in": "query",
            "required": false,
            "description": "Filter events after this ISO8601 timestamp",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "before",
            "in": "query",
            "required": false,
            "description": "Filter events before this ISO8601 timestamp",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 25
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with event list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Event"
                      }
                    },
                    "paging": {
                      "$ref": "#/components/schemas/Paging"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createSpaceEvent",
        "summary": "Create an event in a space",
        "description": "Books a new event (meeting) in a specific space.",
        "parameters": [
          {
            "name": "spaceId",
            "in": "path",
            "required": true,
            "description": "Space identifier",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EventCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Event created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    },
                    "data": {
                      "$ref": "#/components/schemas/Event"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid event data or scheduling conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/spaces/{spaceId}/presence": {
      "get": {
        "operationId": "getSpacePresence",
        "summary": "Get space presence information",
        "description": "Retrieves current presence data for a specific space showing who is currently in the room.",
        "parameters": [
          {
            "name": "spaceId",
            "in": "path",
            "required": true,
            "description": "Space identifier",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with presence data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Presence"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/users/{userId}": {
      "get": {
        "operationId": "getUser",
        "summary": "Get user details",
        "description": "Retrieves details for a specific user in the organization.",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "description": "User identifier",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with user data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    },
                    "data": {
                      "$ref": "#/components/schemas/User"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "User not found"
          }
        }
      }
    },
    "/locations/{locationId}/desks": {
      "get": {
        "operationId": "getLocationDesks",
        "summary": "List desks at a location",
        "description": "Returns all desks and their current status at a specific location.",
        "parameters": [
          {
            "name": "locationId",
            "in": "path",
            "required": true,
            "description": "Location identifier",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 25
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with desk list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Desk"
                      }
                    },
                    "paging": {
                      "$ref": "#/components/schemas/Paging"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/insights/exports/organizations/{organizationId}/spaces": {
      "post": {
        "operationId": "requestSpaceEventsExport",
        "summary": "Request space events export",
        "description": "Requests an export of all events scheduled in Robin spaces within a specified time range. Returns an export ID for polling.",
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "required": true,
            "description": "Organization identifier",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExportRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Export request accepted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    },
                    "data": {
                      "$ref": "#/components/schemas/ExportResponse"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/insights/exports/organizations/{organizationId}/desks": {
      "post": {
        "operationId": "requestDeskReservationsExport",
        "summary": "Request desk reservations export",
        "description": "Requests an export of all desk assignments and reservations within a specified timeframe.",
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "required": true,
            "description": "Organization identifier",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExportRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Export request accepted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    },
                    "data": {
                      "$ref": "#/components/schemas/ExportResponse"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/insights/exports/{exportId}": {
      "get": {
        "operationId": "getExportStatus",
        "summary": "Get export status and download",
        "description": "Polls for generated export data using the export ID. Poll at 10 second or greater intervals. Returns CSV data when ready.",
        "parameters": [
          {
            "name": "exportId",
            "in": "path",
            "required": true,
            "description": "Export identifier returned from export request",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Export ready - returns CSV data",
            "content": {
              "text/csv": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "202": {
            "description": "Export still processing"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Export not found"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "accessToken": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "description": "Access token in format: Access-Token {token}"
      }
    },
    "schemas": {
      "Meta": {
        "type": "object",
        "properties": {
          "status_code": {
            "type": "integer",
            "description": "HTTP status code"
          },
          "status": {
            "type": "string",
            "description": "Status message (e.g., OK, CREATED, ACCEPTED)"
          },
          "errors": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Array of error messages"
          }
        }
      },
      "Paging": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number"
          },
          "per_page": {
            "type": "integer",
            "description": "Results per page"
          },
          "has_next_page": {
            "type": "boolean",
            "description": "Whether more pages are available"
          }
        }
      },
      "Organization": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Organization identifier"
          },
          "name": {
            "type": "string",
            "description": "Organization name"
          },
          "slug": {
            "type": "string",
            "description": "URL-friendly identifier"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Location": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Location identifier"
          },
          "name": {
            "type": "string",
            "description": "Location name"
          },
          "description": {
            "type": "string",
            "description": "Location description"
          },
          "address": {
            "type": "string",
            "description": "Physical address"
          },
          "latitude": {
            "type": "number",
            "format": "double"
          },
          "longitude": {
            "type": "number",
            "format": "double"
          },
          "timezone": {
            "type": "string",
            "description": "Location timezone (IANA format)"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Space": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Space identifier"
          },
          "name": {
            "type": "string",
            "description": "Space name"
          },
          "description": {
            "type": "string",
            "description": "Space description"
          },
          "capacity": {
            "type": "integer",
            "description": "Maximum occupancy"
          },
          "location_id": {
            "type": "integer",
            "description": "Parent location identifier"
          },
          "floor": {
            "type": "string",
            "description": "Floor name or number"
          },
          "is_disabled": {
            "type": "boolean",
            "description": "Whether the space is currently disabled"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Event": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Event identifier"
          },
          "title": {
            "type": "string",
            "description": "Event title"
          },
          "description": {
            "type": "string",
            "description": "Event description"
          },
          "space_id": {
            "type": "integer",
            "description": "Space where event is booked"
          },
          "started_at": {
            "type": "string",
            "format": "date-time",
            "description": "Event start time"
          },
          "ended_at": {
            "type": "string",
            "format": "date-time",
            "description": "Event end time"
          },
          "is_all_day": {
            "type": "boolean",
            "description": "Whether this is an all-day event"
          },
          "creator_id": {
            "type": "integer",
            "description": "User who created the event"
          },
          "is_recurring": {
            "type": "boolean"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "EventCreate": {
        "type": "object",
        "required": ["title", "started_at", "ended_at"],
        "properties": {
          "title": {
            "type": "string",
            "description": "Event title"
          },
          "description": {
            "type": "string",
            "description": "Event description"
          },
          "started_at": {
            "type": "string",
            "format": "date-time",
            "description": "Event start time (ISO8601)"
          },
          "ended_at": {
            "type": "string",
            "format": "date-time",
            "description": "Event end time (ISO8601)"
          },
          "invitees": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "email": {
                  "type": "string",
                  "format": "email"
                }
              }
            },
            "description": "List of people to invite"
          }
        }
      },
      "Presence": {
        "type": "object",
        "properties": {
          "user_id": {
            "type": "integer",
            "description": "User identifier"
          },
          "space_id": {
            "type": "integer",
            "description": "Space identifier"
          },
          "arrived_at": {
            "type": "string",
            "format": "date-time",
            "description": "When the user arrived"
          },
          "expired_at": {
            "type": "string",
            "format": "date-time",
            "description": "When presence expires"
          }
        }
      },
      "User": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "User identifier"
          },
          "name": {
            "type": "string",
            "description": "Full name"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Email address"
          },
          "avatar": {
            "type": "string",
            "format": "uri",
            "description": "Avatar image URL"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Desk": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Desk identifier"
          },
          "name": {
            "type": "string",
            "description": "Desk name or label"
          },
          "location_id": {
            "type": "integer"
          },
          "floor": {
            "type": "string",
            "description": "Floor name or number"
          },
          "desk_group": {
            "type": "string",
            "description": "Desk group or zone"
          },
          "type": {
            "type": "string",
            "description": "Desk type (assigned, bookable, etc.)"
          },
          "is_disabled": {
            "type": "boolean"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ExportRequest": {
        "type": "object",
        "required": ["from", "to"],
        "properties": {
          "from": {
            "type": "string",
            "format": "date-time",
            "description": "Start date for export range (ISO8601 UTC)"
          },
          "to": {
            "type": "string",
            "format": "date-time",
            "description": "End date for export range (ISO8601 UTC)"
          },
          "location_ids": {
            "type": "array",
            "items": {
              "type": "integer"
            },
            "description": "Optional list of location IDs to filter by. Defaults to all locations."
          }
        }
      },
      "ExportResponse": {
        "type": "object",
        "properties": {
          "export_id": {
            "type": "string",
            "format": "uuid",
            "description": "Export identifier for polling"
          },
          "report_id": {
            "type": "string",
            "format": "uuid",
            "description": "Report identifier"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "meta": {
            "type": "object",
            "properties": {
              "status_code": {
                "type": "integer"
              },
              "status": {
                "type": "string"
              },
              "errors": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    }
  }
}