{
  "openapi": "3.0.3",
  "info": {
    "title": "XE Currency Data API",
    "version": "1.0.0",
    "description": "The XE Currency Data API (XECD) provides real-time and historical exchange rate data for virtually every world currency. It supports currency conversion, rate lookups, and historical rate queries. Requires HTTP Basic authentication with your XE account credentials.",
    "x-jentic-source-url": "https://xecdapi.xe.com/docs/v1/",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://xecdapi.xe.com/v1"
    }
  ],
  "paths": {
    "/convert_from.json": {
      "get": {
        "operationId": "convertFrom",
        "summary": "Convert From Currency",
        "description": "Convert an amount from one currency to one or more other currencies using real-time rates.",
        "tags": [
          "Conversion"
        ],
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "required": true,
            "description": "Source currency ISO 4217 code (e.g. USD)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "description": "Comma-separated target currency codes. Omit for all currencies.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "amount",
            "in": "query",
            "required": false,
            "description": "Amount to convert",
            "schema": {
              "type": "number",
              "default": 1
            }
          },
          {
            "name": "obsolete",
            "in": "query",
            "required": false,
            "description": "Include obsolete currencies",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "inverse",
            "in": "query",
            "required": false,
            "description": "Include inverse rates",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Conversion results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConversionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid currency code",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/convert_to.json": {
      "get": {
        "operationId": "convertTo",
        "summary": "Convert To Currency",
        "description": "Convert to a target currency from one or more source currencies.",
        "tags": [
          "Conversion"
        ],
        "parameters": [
          {
            "name": "to",
            "in": "query",
            "required": true,
            "description": "Target currency ISO 4217 code",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "description": "Comma-separated source currency codes",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "amount",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "default": 1
            }
          },
          {
            "name": "obsolete",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "inverse",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Conversion results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConversionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/historic_rate.json": {
      "get": {
        "operationId": "getHistoricRate",
        "summary": "Historic Rate",
        "description": "Get exchange rates for a specific historical date.",
        "tags": [
          "Historical"
        ],
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "required": true,
            "description": "Source currency code",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "description": "Comma-separated target currency codes",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "date",
            "in": "query",
            "required": true,
            "description": "Historical date (YYYY-MM-DD)",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "amount",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "default": 1
            }
          },
          {
            "name": "obsolete",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "inverse",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Historic rate results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConversionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/historic_rate_period.json": {
      "get": {
        "operationId": "getHistoricRatePeriod",
        "summary": "Historic Rate Period",
        "description": "Get exchange rates for a date range, with daily or monthly granularity.",
        "tags": [
          "Historical"
        ],
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start_timestamp",
            "in": "query",
            "required": true,
            "description": "Start date (YYYY-MM-DD)",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "end_timestamp",
            "in": "query",
            "required": true,
            "description": "End date (YYYY-MM-DD)",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "amount",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "default": 1
            }
          },
          {
            "name": "interval",
            "in": "query",
            "required": false,
            "description": "Rate interval",
            "schema": {
              "type": "string",
              "enum": [
                "daily",
                "monthly"
              ]
            }
          },
          {
            "name": "obsolete",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "inverse",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 30
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Historic rate period results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HistoricPeriodResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/account_info.json": {
      "get": {
        "operationId": "getAccountInfo",
        "summary": "Account Info",
        "description": "Get information about your XE API account, including package type and available features.",
        "tags": [
          "Account"
        ],
        "responses": {
          "200": {
            "description": "Account information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountInfo"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/currencies.json": {
      "get": {
        "operationId": "listCurrencies",
        "summary": "List Currencies",
        "description": "Get a list of all available currencies with their ISO 4217 codes and names.",
        "tags": [
          "Reference"
        ],
        "parameters": [
          {
            "name": "obsolete",
            "in": "query",
            "required": false,
            "description": "Include obsolete currencies",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Currency list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CurrencyListResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ConversionResponse": {
        "type": "object",
        "properties": {
          "terms": {
            "type": "string",
            "description": "Terms of use URL"
          },
          "privacy": {
            "type": "string",
            "description": "Privacy policy URL"
          },
          "from": {
            "type": "string",
            "description": "Source currency code"
          },
          "amount": {
            "type": "number",
            "description": "Source amount"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time",
            "description": "Rate timestamp"
          },
          "to": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "quotecurrency": {
                  "type": "string"
                },
                "mid": {
                  "type": "number"
                }
              }
            }
          }
        }
      },
      "HistoricPeriodResponse": {
        "type": "object",
        "properties": {
          "terms": {
            "type": "string"
          },
          "privacy": {
            "type": "string"
          },
          "from": {
            "type": "string"
          },
          "amount": {
            "type": "number"
          },
          "to": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "quotecurrency": {
                  "type": "string"
                },
                "mid": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "timestamp": {
                        "type": "string",
                        "format": "date-time"
                      },
                      "rate": {
                        "type": "number"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "AccountInfo": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "organization": {
            "type": "string"
          },
          "package": {
            "type": "string"
          },
          "service_start_timestamp": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "CurrencyListResponse": {
        "type": "object",
        "properties": {
          "terms": {
            "type": "string"
          },
          "privacy": {
            "type": "string"
          },
          "currencies": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "iso": {
                  "type": "string",
                  "description": "ISO 4217 code"
                },
                "currency_name": {
                  "type": "string"
                },
                "is_obsolete": {
                  "type": "boolean"
                }
              }
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer"
          },
          "message": {
            "type": "string"
          },
          "documentation_url": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "XE Account ID as username and API key as password"
      }
    }
  },
  "security": [
    {
      "basicAuth": []
    }
  ],
  "tags": [
    {
      "name": "Account"
    },
    {
      "name": "Conversion"
    },
    {
      "name": "Historical"
    },
    {
      "name": "Reference"
    }
  ]
}
