{
  "openapi": "3.0.3",
  "info": {
    "title": "SerpApi - Search Engine Results API",
    "version": "1.0.0",
    "description": "SerpApi provides real-time APIs for accessing search engine results. Scrape results from Google, Bing, Yahoo, YouTube, Walmart, eBay, and many more search engines.",
    "x-jentic-source-url": "https://serpapi.com/search-api",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://serpapi.com"
    }
  ],
  "paths": {
    "/search": {
      "get": {
        "operationId": "search",
        "summary": "Search across multiple engines",
        "description": "Perform a search across various engines (Google, Bing, Yahoo, YouTube, Walmart, eBay, etc.) by specifying the engine parameter. Returns structured JSON results.",
        "tags": [
          "Search"
        ],
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "description": "Your SerpApi private API key",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "engine",
            "in": "query",
            "required": false,
            "description": "Search engine to use (google, bing, yahoo, youtube, walmart, ebay, etc.). Defaults to google.",
            "schema": {
              "type": "string",
              "default": "google"
            }
          },
          {
            "name": "q",
            "in": "query",
            "required": true,
            "description": "Search query. Supports advanced operators like inurl:, site:, intitle:",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "location",
            "in": "query",
            "required": false,
            "description": "Geographic location to originate search from",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "gl",
            "in": "query",
            "required": false,
            "description": "Two-letter country code for Google search (e.g. us, uk, fr)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "hl",
            "in": "query",
            "required": false,
            "description": "Two-letter language code (e.g. en, es, fr)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "google_domain",
            "in": "query",
            "required": false,
            "description": "Google domain to use (e.g. google.com, google.co.uk)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "num",
            "in": "query",
            "required": false,
            "description": "Number of results to return",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "start",
            "in": "query",
            "required": false,
            "description": "Result offset for pagination",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "safe",
            "in": "query",
            "required": false,
            "description": "Safe search level (active or off)",
            "schema": {
              "type": "string",
              "enum": [
                "active",
                "off"
              ]
            }
          },
          {
            "name": "tbm",
            "in": "query",
            "required": false,
            "description": "Search type: isch (images), vid (videos), nws (news), shop (shopping), lcl (local)",
            "schema": {
              "type": "string",
              "enum": [
                "isch",
                "vid",
                "nws",
                "shop",
                "lcl"
              ]
            }
          },
          {
            "name": "tbs",
            "in": "query",
            "required": false,
            "description": "Advanced search filters (dates, patents, etc.)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "nfpr",
            "in": "query",
            "required": false,
            "description": "Exclude auto-corrected results (1=exclude, 0=include)",
            "schema": {
              "type": "integer",
              "enum": [
                0,
                1
              ]
            }
          },
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "description": "Similar/omitted results filter (1=on, 0=off)",
            "schema": {
              "type": "integer",
              "enum": [
                0,
                1
              ]
            }
          },
          {
            "name": "uule",
            "in": "query",
            "required": false,
            "description": "Google encoded location",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lat",
            "in": "query",
            "required": false,
            "description": "GPS latitude for search origin",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "lon",
            "in": "query",
            "required": false,
            "description": "GPS longitude for search origin",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "ludocid",
            "in": "query",
            "required": false,
            "description": "Google CID for a place",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "kgmid",
            "in": "query",
            "required": false,
            "description": "Google Knowledge Graph ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "device",
            "in": "query",
            "required": false,
            "description": "Device type (desktop, tablet, mobile)",
            "schema": {
              "type": "string",
              "enum": [
                "desktop",
                "tablet",
                "mobile"
              ]
            }
          },
          {
            "name": "no_cache",
            "in": "query",
            "required": false,
            "description": "Force fresh results (true/false)",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "async",
            "in": "query",
            "required": false,
            "description": "Submit search asynchronously (true/false)",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "output",
            "in": "query",
            "required": false,
            "description": "Output format (json or html)",
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "html"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Search results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized - invalid API key"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        }
      }
    },
    "/search.json": {
      "get": {
        "operationId": "searchJson",
        "summary": "Search and return JSON results",
        "description": "Same as /search but explicitly returns JSON format.",
        "tags": [
          "Search"
        ],
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "engine",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "google"
            }
          },
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "location",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "gl",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "hl",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "num",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "start",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "tbm",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "device",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "desktop",
                "tablet",
                "mobile"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Search results in JSON format",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResult"
                }
              }
            }
          }
        }
      }
    },
    "/search.html": {
      "get": {
        "operationId": "searchHtml",
        "summary": "Search and return raw HTML",
        "description": "Same as /search but returns the raw HTML from the search engine.",
        "tags": [
          "Search"
        ],
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "engine",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "google"
            }
          },
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Raw HTML from search engine",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/locations.json": {
      "get": {
        "operationId": "getLocations",
        "summary": "Get search locations",
        "description": "Get a list of supported Google search locations. Useful for getting precise location targeting.",
        "tags": [
          "Locations"
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": false,
            "description": "Search query to filter locations",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of locations to return",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of locations",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "name": {
                        "type": "string"
                      },
                      "google_id": {
                        "type": "integer"
                      },
                      "google_parent_id": {
                        "type": "integer"
                      },
                      "target_type": {
                        "type": "string"
                      },
                      "reach": {
                        "type": "integer"
                      },
                      "gps": {
                        "type": "array",
                        "items": {
                          "type": "number"
                        }
                      },
                      "canonical_name": {
                        "type": "string"
                      },
                      "country_code": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/searches/{search_id}.json": {
      "get": {
        "operationId": "getSearchArchive",
        "summary": "Retrieve archived search results",
        "description": "Retrieve previously executed search results by their search ID. Results are available for up to 31 days after completion.",
        "tags": [
          "Archive"
        ],
        "parameters": [
          {
            "name": "search_id",
            "in": "path",
            "required": true,
            "description": "The search ID from search_metadata.id",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "output",
            "in": "query",
            "required": false,
            "description": "Format: json (default) or html",
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "html"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Archived search results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResult"
                }
              }
            }
          }
        }
      }
    },
    "/account.json": {
      "get": {
        "operationId": "getAccount",
        "summary": "Get account information",
        "description": "Get account usage, plan info, remaining searches, and rate limits. Free to use, does not count toward quota.",
        "tags": [
          "Account"
        ],
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Account information",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "account_id": {
                      "type": "string"
                    },
                    "api_key": {
                      "type": "string"
                    },
                    "account_email": {
                      "type": "string"
                    },
                    "plan_id": {
                      "type": "string"
                    },
                    "plan_name": {
                      "type": "string"
                    },
                    "plan_monthly_price": {
                      "type": "number"
                    },
                    "searches_per_month": {
                      "type": "integer"
                    },
                    "plan_searches_left": {
                      "type": "integer"
                    },
                    "extra_credits": {
                      "type": "integer"
                    },
                    "total_searches_left": {
                      "type": "integer"
                    },
                    "this_month_usage": {
                      "type": "integer"
                    },
                    "last_hour_searches": {
                      "type": "integer"
                    },
                    "account_rate_limit_per_hour": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "SearchResult": {
        "type": "object",
        "properties": {
          "search_metadata": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "status": {
                "type": "string",
                "description": "Queued, Processing, Success, or error"
              },
              "json_endpoint": {
                "type": "string"
              },
              "created_at": {
                "type": "string"
              },
              "processed_at": {
                "type": "string"
              },
              "google_url": {
                "type": "string"
              },
              "raw_html_file": {
                "type": "string"
              },
              "total_time_taken": {
                "type": "number"
              }
            }
          },
          "search_parameters": {
            "type": "object",
            "properties": {
              "engine": {
                "type": "string"
              },
              "q": {
                "type": "string"
              },
              "google_domain": {
                "type": "string"
              },
              "hl": {
                "type": "string"
              },
              "gl": {
                "type": "string"
              },
              "device": {
                "type": "string"
              }
            }
          },
          "search_information": {
            "type": "object",
            "properties": {
              "total_results": {
                "type": "integer"
              },
              "time_taken_displayed": {
                "type": "number"
              },
              "query_displayed": {
                "type": "string"
              }
            }
          },
          "organic_results": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "position": {
                  "type": "integer"
                },
                "title": {
                  "type": "string"
                },
                "link": {
                  "type": "string"
                },
                "displayed_link": {
                  "type": "string"
                },
                "snippet": {
                  "type": "string"
                },
                "cached_page_link": {
                  "type": "string"
                },
                "related_pages_link": {
                  "type": "string"
                }
              }
            }
          },
          "knowledge_graph": {
            "type": "object",
            "description": "Knowledge graph results if available"
          },
          "local_results": {
            "type": "object",
            "description": "Local/map results if available"
          },
          "pagination": {
            "type": "object",
            "properties": {
              "current": {
                "type": "integer"
              },
              "next": {
                "type": "string"
              },
              "other_pages": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "query",
        "name": "api_key",
        "description": "SerpApi private API key"
      }
    }
  },
  "security": [
    {
      "apiKey": []
    }
  ],
  "tags": [
    {
      "name": "Account"
    },
    {
      "name": "Archive"
    },
    {
      "name": "Locations"
    },
    {
      "name": "Search"
    }
  ]
}
