{
  "openapi": "3.0.0",
  "info": {
    "version": "1.0.0",
    "title": "TM-Shippers: Rating API",
    "description": "Endpoints to get rates from the TMS system.<br><br> NOTE- This API is intended for shipper use only.",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/e2open/tms-rating_api/1.0.0"
  },
  "servers": [
    {
      "description": "NA Production server",
      "url": "https://na-api.tms.e2open.com/tmsapi/v1/rating"
    },
    {
      "description": "OC Production server",
      "url": "https://oc-api.tms.eu.e2open.com/tmsapi/v1/rating"
    },
    {
      "description": "NA Red Sandbox Server",
      "url": "https://red-sandbox-tms-api.e2open.com/tmsapi/v1/rating"
    },
    {
      "description": "NA Orange Sandbox Server",
      "url": "https://orange-sandbox-tms-api.e2open.com/tmsapi/v1/rating"
    },
    {
      "description": "NA Yellow Sandbox Server",
      "url": "https://yellow-sandbox-tms-api.e2open.com/tmsapi/v1/rating"
    },
    {
      "description": "OC Green Sandbox Server",
      "url": "https://green-sandbox-api.tms.eu.e2open.com/tmsapi/v1/rating"
    },
    {
      "description": "OC Blue Sandbox Server",
      "url": "https://blue-sandbox-api.tms.eu.e2open.com/tmsapi/v1/rating"
    },
    {
      "description": "OC Violet Sandbox Server",
      "url": "https://violet-sandbox-api.tms.eu.e2open.com/tmsapi/v1/rating"
    }
  ],
  "paths": {
    "/multimodal/": {
      "get": {
        "tags": [
          "Retrieve"
        ],
        "summary": "Retrieve Multi-Modal Rates",
        "parameters": [
          {
            "in": "query",
            "name": "QueryData",
            "description": "This rating API will return rates for TL, LTL, and IM. This API will also return rates for Parcel (only supported if shipper is setup for Cloud Parcel)\n\nThe following criteria is required\n#### Origin\n  - Either location reference number, or geography\n  - In order to receive parcel rates the location reference number must match the reference number the parcel location is associated to in the TMS.\n#### Destination\n  - Either location reference number, or geography\n#### Weight\n  - value, UOM will be defaulted to pounds\n",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "origin": {
                  "type": "object",
                  "properties": {
                    "location_reference_number": {
                      "type": "string"
                    },
                    "city": {
                      "type": "string"
                    },
                    "state": {
                      "type": "string"
                    },
                    "postal_code": {
                      "type": "string"
                    },
                    "country": {
                      "type": "string"
                    }
                  }
                },
                "destination": {
                  "type": "object",
                  "properties": {
                    "location_reference_number": {
                      "type": "string"
                    },
                    "city": {
                      "type": "string"
                    },
                    "state": {
                      "type": "string"
                    },
                    "postal_code": {
                      "type": "string"
                    },
                    "country": {
                      "type": "string"
                    }
                  }
                },
                "weight": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "integer",
                      "format": "int64"
                    },
                    "unit_of_measure": {
                      "type": "string",
                      "enum": [
                        "POUNDS",
                        "KILOGRAMS"
                      ]
                    }
                  },
                  "example": {
                    "value": 10000,
                    "unit_of_measure": "KILOGRAMS"
                  }
                },
                "pallets": {
                  "type": "integer",
                  "format": "int64"
                },
                "packages": {
                  "type": "integer",
                  "format": "int64"
                },
                "shipment_date": {
                  "type": "string",
                  "format": "date-time"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "For Parcel rates the carrier name will be displayed in the carrier field. The mode_id and mode_rating_id field will be \"0\". The specific parcel service will be displayed in the service field (i.e. ground, etc.)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "carrier": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string"
                        },
                        "reference": {
                          "type": "string"
                        },
                        "ACD": {
                          "type": "string"
                        }
                      }
                    },
                    "cost": {
                      "type": "object",
                      "properties": {
                        "cost": {
                          "type": "number",
                          "format": "float"
                        },
                        "currency_code": {
                          "type": "string"
                        }
                      },
                      "example": {
                        "cost": "100.00",
                        "currency_code": "EUR"
                      }
                    },
                    "reporting_cost": {
                      "type": "object",
                      "properties": {
                        "cost": {
                          "type": "number",
                          "format": "float"
                        },
                        "currency_code": {
                          "type": "string"
                        }
                      },
                      "example": {
                        "cost": "250.00",
                        "currency_code": "USD"
                      }
                    },
                    "mode": {
                      "type": "object",
                      "properties": {
                        "mode_text": {
                          "type": "string",
                          "enum": [
                            "TL",
                            "LTL",
                            "IM",
                            null
                          ],
                          "example": "TL"
                        },
                        "mode_id": {
                          "type": "integer",
                          "enum": [
                            2,
                            1,
                            9,
                            0
                          ],
                          "example": "9"
                        },
                        "mode_rating_id": {
                          "type": "integer",
                          "enum": [
                            1,
                            2,
                            3,
                            0
                          ],
                          "example": "0"
                        }
                      }
                    },
                    "service": {
                      "type": "string"
                    },
                    "equipment": {
                      "type": "string"
                    },
                    "delivery_date": {
                      "type": "string",
                      "format": "date-time"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Unexpected Error"
          }
        }
      }
    },
    "/billable/": {
      "get": {
        "tags": [
          "Retrieve"
        ],
        "summary": "Retrieve Billable Rates",
        "parameters": [
          {
            "in": "query",
            "name": "QueryData",
            "description": "#### The following criteria is required\n- Origin\n  - Either location reference number or geography\n- Destination\n  - Either location reference number or geography\n- Customer\n- Direction Category\n- Rating Date\n- Either Items or Freight Items needs to be defined\n#### Notes\n- Customer / Direction Category / Freight Class will use conversion values to determine the proper value\n- Customer must have a default billable method setup in order to get rates back\n",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "origin": {
                  "type": "object",
                  "properties": {
                    "location_reference_number": {
                      "type": "string"
                    },
                    "city": {
                      "type": "string"
                    },
                    "state": {
                      "type": "string"
                    },
                    "postal_code": {
                      "type": "string"
                    },
                    "country": {
                      "type": "string"
                    }
                  }
                },
                "destination": {
                  "type": "object",
                  "properties": {
                    "location_reference_number": {
                      "type": "string"
                    },
                    "city": {
                      "type": "string"
                    },
                    "state": {
                      "type": "string"
                    },
                    "postal_code": {
                      "type": "string"
                    },
                    "country": {
                      "type": "string"
                    }
                  }
                },
                "customer": {
                  "type": "string"
                },
                "direction_category": {
                  "type": "string"
                },
                "equipment_type": {
                  "type": "string"
                },
                "rating_date": {
                  "type": "string",
                  "format": "date-time"
                },
                "freight_items": {
                  "type": "object",
                  "properties": {
                    "freight_class": {
                      "type": "string"
                    },
                    "weight": {
                      "type": "object",
                      "properties": {
                        "value": {
                          "type": "number",
                          "format": "float"
                        },
                        "unit_of_measure": {
                          "type": "string",
                          "enum": [
                            "POUNDS",
                            "KILOGRAMS"
                          ]
                        }
                      },
                      "example": {
                        "value": "1.56",
                        "unit_of_measure": "POUNDS"
                      }
                    },
                    "volume": {
                      "type": "object",
                      "properties": {
                        "value": {
                          "type": "number",
                          "format": "float"
                        },
                        "unit_of_measure": {
                          "type": "string",
                          "enum": [
                            "CUBIC_FEET",
                            "CUBIC_METERS"
                          ]
                        }
                      },
                      "example": {
                        "value": "1.89",
                        "unit_of_measure": "CUBIC_FEET"
                      }
                    },
                    "pallets": {
                      "type": "number",
                      "format": "float",
                      "example": "2.19"
                    },
                    "pieces": {
                      "type": "integer",
                      "format": "int64"
                    }
                  }
                },
                "items": {
                  "type": "object",
                  "properties": {
                    "product_id": {
                      "type": "string"
                    },
                    "weight": {
                      "type": "object",
                      "properties": {
                        "value": {
                          "type": "number",
                          "format": "float"
                        },
                        "unit_of_measure": {
                          "type": "string",
                          "enum": [
                            "POUNDS",
                            "KILOGRAMS"
                          ]
                        }
                      },
                      "example": {
                        "value": "80.34",
                        "unit_of_measure": "KILOGRAMS"
                      }
                    },
                    "pallets": {
                      "type": "integer",
                      "format": "int64"
                    },
                    "pieces": {
                      "type": "integer",
                      "format": "int64"
                    }
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "search results matching criteria",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "equipment_types": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "enum": [
                          "ALL",
                          "VAN",
                          "REEFER",
                          "BULK",
                          "FLATBED",
                          "CONTAINER",
                          "OTHER"
                        ],
                        "example": "[VAN, REEFER, OTHER]"
                      }
                    },
                    "total_cost": {
                      "type": "object",
                      "properties": {
                        "cost": {
                          "type": "number",
                          "format": "float"
                        },
                        "currency_code": {
                          "type": "string"
                        }
                      },
                      "example": {
                        "cost": "8.09",
                        "currency_code": "GBP"
                      }
                    },
                    "reporting_cost": {
                      "type": "object",
                      "properties": {
                        "cost": {
                          "type": "number",
                          "format": "float"
                        },
                        "currency_code": {
                          "type": "string"
                        }
                      },
                      "example": {
                        "cost": "10.25",
                        "currency_code": "USD"
                      }
                    },
                    "charges": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "charge_code": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "integer",
                                "format": "int64"
                              },
                              "description": {
                                "type": "string"
                              }
                            }
                          },
                          "charge_cost": {
                            "type": "object",
                            "properties": {
                              "cost": {
                                "type": "number",
                                "format": "float"
                              },
                              "currency_code": {
                                "type": "string"
                              }
                            },
                            "example": {
                              "cost": "64.50",
                              "currency_code": "JPY"
                            }
                          },
                          "reporting_cost": {
                            "type": "object",
                            "properties": {
                              "cost": {
                                "type": "number",
                                "format": "float"
                              },
                              "currency_code": {
                                "type": "string"
                              }
                            },
                            "example": {
                              "cost": "20.15",
                              "currency_code": "USD"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid Billable Rate"
          },
          "401": {
            "description": "Invalid Credentials"
          },
          "403": {
            "description": "User Not Authorized"
          },
          "404": {
            "description": "Billable Rate Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          },
          "default": {
            "description": "Unexpected Error"
          }
        }
      }
    }
  }
}