{
  "openapi": "3.0.3",
  "info": {
    "title": "Rebrandly API",
    "description": "Best API to rebrand links",
    "version": "v1",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/rebrandly/Rebrandly/v1",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "//api.rebrandly.com:80/"
    }
  ],
  "tags": [
    {
      "name": "Branded Domains"
    },
    {
      "name": "Branded Short Links"
    },
    {
      "name": "Count"
    },
    {
      "name": "Search"
    },
    {
      "name": "Tags"
    }
  ],
  "paths": {
    "/v1/links": {
      "get": {
        "tags": [
          "Branded Short Links"
        ],
        "description": "Returns a collection of branded short links matching the filters",
        "parameters": [
          {
            "name": "orderBy",
            "in": "query",
            "description": "Sorting criteria",
            "schema": {
              "type": "string",
              "default": "createdAt",
              "enum": [
                "createdAt",
                "updatedAt",
                "title",
                "slashtag"
              ]
            }
          },
          {
            "name": "orderDir",
            "in": "query",
            "description": "Sorting direction",
            "schema": {
              "type": "string",
              "default": "desc",
              "enum": [
                "asc",
                "desc"
              ]
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "How many branded short links to skip",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "How many branded short links to load, starting from offset on",
            "schema": {
              "type": "integer",
              "default": 100
            }
          },
          {
            "name": "favourite",
            "in": "query",
            "description": "Filter branded short links depending on favourite/loved property",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filter branded short links depending on their status",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "active",
                  "deleted",
                  "trashed"
                ]
              }
            }
          },
          {
            "name": "withStats",
            "in": "query",
            "description": "Whether to include or not branded short links statistics",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "domainId",
            "in": "query",
            "description": "Filter branded short links which refer to a specific branded domain id",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A collection of branded short links",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Link"
                  }
                }
              }
            }
          }
        },
        "operationId": "get_v1_links"
      },
      "post": {
        "tags": [
          "Branded Short Links"
        ],
        "description": "Creates a new branded short link",
        "requestBody": {
          "description": "The branded short link you want to create",
          "content": {
            "*/*": {
              "schema": {
                "$ref": "#/components/schemas/Link"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "The just created branded short link",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Link"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "link",
        "operationId": "post_v1_links"
      },
      "patch": {
        "tags": [
          "Branded Short Links"
        ],
        "description": "Update a subset of branded short link properties",
        "requestBody": {
          "description": "A subset of branded short link properties you want to update",
          "content": {
            "*/*": {
              "schema": {
                "$ref": "#/components/schemas/Link"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "The updated branded short link",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Link"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "link",
        "operationId": "patch_v1_links"
      }
    },
    "/v1/links/count": {
      "get": {
        "tags": [
          "Branded Short Links",
          "Count"
        ],
        "description": "To get how many of branded short links matching filters",
        "responses": {
          "200": {
            "description": "How many branded short links matching filters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "integer"
                }
              }
            }
          }
        },
        "operationId": "get_v1_links_count"
      }
    },
    "/v1/links/{id}": {
      "get": {
        "tags": [
          "Branded Short Links"
        ],
        "description": "Returns the branded short link associated to given identifier",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier of the branded short link",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The branded short link associated to given identifier",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Link"
                }
              }
            }
          }
        },
        "operationId": "get_v1_links_id"
      },
      "delete": {
        "tags": [
          "Branded Short Links"
        ],
        "description": "Deletes a single branded short link",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Link id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The branded short link just deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Link"
                }
              }
            }
          }
        },
        "operationId": "delete_v1_links_id"
      },
      "patch": {
        "tags": [
          "Branded Short Links"
        ],
        "description": "Updates a subset of branded short link properties",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Link id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The partially (or totally) updated branded short link",
          "content": {
            "*/*": {
              "schema": {
                "$ref": "#/components/schemas/Link"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "The updated branded short link",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Link"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "link",
        "operationId": "patch_v1_links_id"
      }
    },
    "/v1/links/{id}/tags": {
      "get": {
        "tags": [
          "Branded Short Links",
          "Tags"
        ],
        "description": "Get all tags associated with the branded short link",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Link id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A collection of tags associated with the branded short link",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Tag"
                  }
                }
              }
            }
          }
        },
        "operationId": "get_v1_links_id_tags"
      },
      "post": {
        "tags": [
          "Branded Short Links",
          "Tags"
        ],
        "description": "Add a tag to the branded short link",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Link id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The tag to be added to the branded short link",
          "content": {
            "*/*": {
              "schema": {
                "$ref": "#/components/schemas/Tag"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "The updated branded short link",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Link"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "tag",
        "operationId": "post_v1_links_id_tags"
      },
      "delete": {
        "tags": [
          "Branded Short Links",
          "Tags"
        ],
        "description": "Remove a tag from the branded short link",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Link id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The tag to be added to the branded short link",
          "content": {
            "*/*": {
              "schema": {
                "$ref": "#/components/schemas/Tag"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "The branded short link just deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Link"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "tag",
        "operationId": "delete_v1_links_id_tags"
      }
    },
    "/v1/links/search": {
      "get": {
        "tags": [
          "Branded Short Links",
          "Search"
        ],
        "description": "Search in branded short links collection",
        "parameters": [
          {
            "name": "term",
            "in": "query",
            "description": "Search term to filter branded short links collection",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "domainId",
            "in": "query",
            "description": "Unique branded domain identifier to filter branded short links collection",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Branded short link status to filter branded short links collection",
            "schema": {
              "type": "string",
              "enum": [
                "active",
                "trashed",
                "deleted"
              ]
            }
          },
          {
            "name": "searchBy",
            "in": "query",
            "description": "Which branded short link component to lookup for search",
            "schema": {
              "type": "string",
              "enum": [
                "destination",
                "slashtag",
                "tags"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A collection of branded short links matching search criteria",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Link"
                  }
                }
              }
            }
          }
        },
        "operationId": "get_v1_links_search"
      }
    },
    "/v1/links/search/count": {
      "get": {
        "tags": [
          "Branded Short Links",
          "Search",
          "Count"
        ],
        "description": "Counts how many branded short links match search criteria",
        "parameters": [
          {
            "name": "term",
            "in": "query",
            "description": "Search term to filter branded short links collection",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "domainId",
            "in": "query",
            "description": "Unique branded domain identifier to filter branded short links collection",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Branded short link status to filter branded short links collection",
            "schema": {
              "type": "string",
              "enum": [
                "active",
                "trashed",
                "deleted"
              ]
            }
          },
          {
            "name": "searchBy",
            "in": "query",
            "description": "Which branded short link component to lookup for search",
            "schema": {
              "type": "string",
              "enum": [
                "destination",
                "slashtag",
                "tags"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "How many branded short links match search criteria",
            "content": {
              "application/json": {
                "schema": {
                  "type": "integer"
                }
              }
            }
          }
        },
        "operationId": "get_v1_links_search_count"
      }
    },
    "/v1/domains": {
      "get": {
        "tags": [
          "Branded Domains"
        ],
        "description": "Returns a collection of branded domains matching the filters",
        "parameters": [
          {
            "name": "orderBy",
            "in": "query",
            "description": "Sorting criteria",
            "schema": {
              "type": "string",
              "default": "createdAt",
              "enum": [
                "createdAt",
                "updatedAt",
                "expiresAt",
                "fullName",
                "managed",
                "type",
                "level",
                "status.dns",
                "status.subscription"
              ]
            }
          },
          {
            "name": "orderDir",
            "in": "query",
            "description": "Sorting direction",
            "schema": {
              "type": "string",
              "default": "desc",
              "enum": [
                "asc",
                "desc"
              ]
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "How many branded domains to skip",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "How many branded domains to load, starting from offset on",
            "schema": {
              "type": "integer",
              "default": 100
            }
          },
          {
            "name": "active",
            "in": "query",
            "description": "Filter branded domains depending on whether they can be used to branded short links or not",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "managed",
            "in": "query",
            "description": "Filter branded domains depending on whether they are purchased with Rebrandly or not",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "verified",
            "in": "query",
            "description": "Filter branded domains depending on whether their DNS are correctly propagated worldwide or not",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "hasParent",
            "in": "query",
            "description": "Filter branded domains depending on whether they have a parent domain or not",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "parent",
            "in": "query",
            "description": "Filter branded domains which do have a parent with given branded domain identifier",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "Filter branded domains depending on their type",
            "schema": {
              "type": "string",
              "enum": [
                "SYSTEM",
                "USER"
              ]
            }
          },
          {
            "name": "status.subscription",
            "in": "query",
            "description": "Filter branded domains depending on their subscription status",
            "schema": {
              "type": "string",
              "enum": [
                "requested",
                "activating",
                "active",
                "error",
                "revoked",
                "trashed"
              ]
            }
          },
          {
            "name": "status.dns",
            "in": "query",
            "description": "Filter branded domains depending on their DNS propagation status",
            "schema": {
              "type": "string",
              "enum": [
                "unverified",
                "verified",
                "verifying"
              ]
            }
          },
          {
            "name": "level",
            "in": "query",
            "description": "Filter branded domains depending on their domain name hierarchy level",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A collection of branded domains",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Domain"
                  }
                }
              }
            }
          }
        },
        "operationId": "get_v1_domains"
      }
    }
  },
  "components": {
    "schemas": {
      "EntityReference": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier of the external entity",
            "example": "2e68b2a6f35f4e11a9c03e9005b06558"
          },
          "ref": {
            "type": "string",
            "description": "API path to get external entity details",
            "readOnly": true,
            "example": "/v1/domains/2e68b2a6f35f4e11a9c03e9005b06557"
          }
        }
      },
      "DomainReference": {
        "allOf": [
          {
            "$ref": "#/components/schemas/EntityReference"
          },
          {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "description": "Unique identifier of the branded domain",
                "example": "2e68b2a6f35f4e11a9c03e9005b06558"
              },
              "ref": {
                "type": "string",
                "description": "API path to get external branded domain details",
                "readOnly": true,
                "example": "/v1/domains/2e68b2a6f35f4e11a9c03e9005b06557"
              }
            }
          }
        ]
      },
      "LinkIntegration": {
        "type": "object",
        "properties": {
          "statsUrl": {
            "type": "string",
            "description": "Integration website URL to get statistics about this link",
            "readOnly": true,
            "example": "https://my.clickmeter.com/Links/5623319"
          },
          "redirectUrl": {
            "type": "string",
            "description": "Next redirect step where the user is redirect first",
            "readOnly": true,
            "example": "http://rebrandly.click/8eqUF"
          },
          "name": {
            "type": "string",
            "description": "Name of the integration active on this link",
            "readOnly": true,
            "example": "clickmeter",
            "enum": [
              "clickmeter",
              "google",
              "bitly"
            ]
          }
        }
      },
      "Link": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for this branded short link",
            "readOnly": true,
            "example": "2e68b2a6f35f4e11a9c03e9005b06558"
          },
          "destination": {
            "type": "string",
            "description": "The original URL, which you want your branded short link to redirect to",
            "example": "http://unbranded.domain.com/long_and_ugly?param=even_worst"
          },
          "domain": {
            "$ref": "#/components/schemas/DomainReference"
          },
          "slashtag": {
            "type": "string",
            "description": "The slashtag/keyword part of your branded short link",
            "example": "cool"
          },
          "title": {
            "type": "string",
            "description": "Title of this branded short link",
            "example": "My own branded link"
          },
          "tags": {
            "type": "array",
            "description": "A collection of tags associated to this branded short link, to categorize it",
            "items": {
              "$ref": "#/components/schemas/Tag"
            }
          },
          "favourite": {
            "type": "boolean",
            "description": "Whether this branded short link is favourite/loved or not",
            "default": false
          },
          "shortUrl": {
            "type": "string",
            "description": "The branded short link, in the form [protocol]://[branded domain]/[keyword]",
            "readOnly": true,
            "example": "http://brand.link/cool"
          },
          "createdAt": {
            "type": "string",
            "description": "UTC creation datetime of this branded short link",
            "readOnly": true,
            "example": "2016-07-12T17:47:30.000Z"
          },
          "updatedAt": {
            "type": "string",
            "description": "UTC last update datetime of this branded short link",
            "readOnly": true,
            "example": "2016-07-12T17:47:30.000Z"
          },
          "status": {
            "type": "string",
            "description": "Whether this branded short link is active, trashed or deleted",
            "readOnly": true,
            "example": "active",
            "enum": [
              "active",
              "deleted",
              "trashed"
            ]
          },
          "integration": {
            "$ref": "#/components/schemas/LinkIntegration"
          }
        }
      },
      "DomainStatus": {
        "type": "object",
        "properties": {
          "dns": {
            "type": "string",
            "description": "Status of DNS propagation worldwide",
            "readOnly": true,
            "example": "verified",
            "enum": [
              "unverified",
              "verified",
              "verifying"
            ]
          },
          "subscription": {
            "type": "string",
            "description": "Subscription status of this branded domain",
            "readOnly": true,
            "example": "active",
            "enum": [
              "requested",
              "activating",
              "active",
              "error",
              "revoked",
              "trashed"
            ]
          }
        }
      },
      "ParentDomainReference": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier of the parent domain",
            "readOnly": true,
            "example": "2e68b2a6f35f4e11a9c03e9005b06558"
          },
          "fullName": {
            "type": "string",
            "description": "Full name of parent branded domain",
            "readOnly": true,
            "example": "brand.cool"
          },
          "managed": {
            "type": "boolean",
            "description": "Whether parent domain is purchased with Rebrandly or is an external domain",
            "readOnly": true,
            "example": false
          }
        }
      },
      "Domain": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for this branded domain",
            "readOnly": true,
            "example": "2e68b2a6f35f4e11a9c03e9005b06558"
          },
          "fullName": {
            "type": "string",
            "description": "Full name of this branded domain",
            "example": "my.brand.cool"
          },
          "topLevelDomain": {
            "type": "string",
            "description": "The top level domain part of this branded domain name",
            "example": "cool"
          },
          "level": {
            "type": "integer",
            "description": "Level in the domain names hierarchy",
            "readOnly": true,
            "example": 3
          },
          "createdAt": {
            "type": "string",
            "description": "UTC creation datetime of this branded domain",
            "readOnly": true,
            "example": "2016-07-12T17:47:30.000Z"
          },
          "updatedAt": {
            "type": "string",
            "description": "UTC last update datetime of this branded domain",
            "readOnly": true,
            "example": "2016-07-12T17:50:30.000Z"
          },
          "expiresAt": {
            "type": "string",
            "description": "UTC expiration datetime of this branded domain",
            "readOnly": true,
            "example": "2017-07-12T17:47:30.000Z"
          },
          "custom404": {
            "type": "string",
            "description": "URL where to redirect users in case of invalid branded short link with this domain",
            "example": "http://www.mycompany.com/404"
          },
          "customHomepage": {
            "type": "string",
            "description": "URL where to redirect users when they reach branded domain without keyword",
            "example": "http://www.mycompany.com"
          },
          "ownerId": {
            "type": "string",
            "description": "Unique identifier of the Rebrandly user who own this branded domain",
            "readOnly": true,
            "example": "FF68b2a6f35f4e11a9c03e9005b06464"
          },
          "type": {
            "type": "string",
            "description": "Branded domain type",
            "readOnly": true,
            "example": "USER",
            "enum": [
              "SERVICE",
              "USER"
            ]
          },
          "parent": {
            "$ref": "#/components/schemas/ParentDomainReference"
          },
          "subdomains": {
            "type": "integer",
            "description": "How many subdomains this branded domain has",
            "readOnly": true
          },
          "managed": {
            "type": "boolean",
            "description": "Whether this branded domain is purchased with Rebrandly or is an external domain",
            "readOnly": true,
            "example": false
          },
          "active": {
            "type": "boolean",
            "description": "Whether this branded domain can be used or not to create branded short links",
            "readOnly": true,
            "example": true
          },
          "autorenew": {
            "type": "boolean",
            "description": "Whether this branded domain will autorenew on expiration date or not",
            "readOnly": true,
            "example": true
          },
          "status": {
            "$ref": "#/components/schemas/DomainStatus"
          }
        }
      },
      "Tag": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier of this tag",
            "readOnly": true,
            "example": "FF68b2a6f35fG311a9c03e9005b0FFF7"
          },
          "name": {
            "type": "string",
            "description": "Unique name of this tag",
            "example": "Personal"
          },
          "color": {
            "type": "string",
            "description": "Hexadecimal representation of a color assigned to this tag",
            "example": "0000ff"
          }
        }
      },
      "ValidationError": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "Self-descriptive code for this error",
            "enum": [
              "InvalidFormat",
              "RequiredField",
              "InvalidLength",
              "InvalidMinLength",
              "InvalidMaxLength",
              "InvalidEmailAddress",
              "OutOfRange",
              "PatternMismatch",
              "MissingIndependentProperty",
              "PrefixMismatch",
              "InvalidCart",
              "InvalidCharacter",
              "MustBeLowerCase",
              "MustBeUpperCase"
            ]
          }
        }
      },
      "ValidationSummary": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Error"
          },
          {
            "type": "object",
            "properties": {
              "isValid": {
                "type": "boolean",
                "description": "Whether the request was considered valid or not",
                "readOnly": true
              },
              "errors": {
                "type": "array",
                "description": "If request was not valid, a list of validation errors",
                "items": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          }
        ]
      },
      "Error": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "Self-descriptive code for this error",
            "readOnly": true
          },
          "message": {
            "type": "string",
            "description": "Custom message for this error",
            "readOnly": true
          }
        }
      },
      "ResourceError": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Error"
          },
          {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "description": "Request identifier which is considered cause of the error",
                "readOnly": true
              },
              "source": {
                "type": "string",
                "description": "Which source the id refers to",
                "readOnly": true,
                "enum": [
                  "domain",
                  "link"
                ]
              }
            }
          }
        ]
      },
      "SearchResult": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "readOnly": true
          },
          "entity": {
            "type": "object",
            "properties": {},
            "readOnly": true
          }
        }
      }
    }
  },
  "x-original-swagger-version": "2.0"
}
