{
  "openapi": "3.0.3",
  "info": {
    "title": "Open Library API",
    "version": "1.0.0",
    "description": "Open Library is an open, editable library catalog, building towards a web page for every book ever published. The API provides access to book data, author information, search capabilities, and cover images.",
    "x-jentic-source-url": "https://openlibrary.org/developers/api",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://openlibrary.org"
    }
  ],
  "paths": {
    "/search.json": {
      "get": {
        "operationId": "searchBooks",
        "summary": "Search for books",
        "description": "Search for books by title, author, subject, or general query. Returns matching works with edition info.",
        "tags": [
          "Search"
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "General search query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "title",
            "in": "query",
            "description": "Search by title",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "author",
            "in": "query",
            "description": "Search by author",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "subject",
            "in": "query",
            "description": "Search by subject",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "isbn",
            "in": "query",
            "description": "Search by ISBN",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Results per page",
            "schema": {
              "type": "integer",
              "default": 100
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Comma-separated fields to return",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort order",
            "schema": {
              "type": "string",
              "enum": [
                "new",
                "old",
                "random",
                "key"
              ]
            }
          },
          {
            "name": "lang",
            "in": "query",
            "description": "Language filter",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/search/authors.json": {
      "get": {
        "operationId": "searchAuthors",
        "summary": "Search for authors",
        "description": "Search for authors by name.",
        "tags": [
          "Search"
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "description": "Author name to search",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthorSearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/search/subjects.json": {
      "get": {
        "operationId": "searchSubjects",
        "summary": "Search for subjects",
        "description": "Search for subjects.",
        "tags": [
          "Search"
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubjectSearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/works/{olid}.json": {
      "get": {
        "operationId": "getWork",
        "summary": "Get a work",
        "description": "Retrieve details of a specific work by its Open Library ID.",
        "tags": [
          "Books"
        ],
        "parameters": [
          {
            "name": "olid",
            "in": "path",
            "required": true,
            "description": "Open Library work ID (e.g., OL45883W)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Work"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Work not found"
          }
        }
      }
    },
    "/editions/{olid}.json": {
      "get": {
        "operationId": "getEdition",
        "summary": "Get an edition",
        "description": "Retrieve details of a specific edition by its Open Library ID.",
        "tags": [
          "Books"
        ],
        "parameters": [
          {
            "name": "olid",
            "in": "path",
            "required": true,
            "description": "Open Library edition ID (e.g., OL7353617M)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Edition"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Edition not found"
          }
        }
      }
    },
    "/isbn/{isbn}.json": {
      "get": {
        "operationId": "getBookByIsbn",
        "summary": "Get book by ISBN",
        "description": "Retrieve a book edition by its ISBN-10 or ISBN-13.",
        "tags": [
          "Books"
        ],
        "parameters": [
          {
            "name": "isbn",
            "in": "path",
            "required": true,
            "description": "ISBN-10 or ISBN-13",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response (redirects to edition)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Edition"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "ISBN not found"
          }
        }
      }
    },
    "/api/books": {
      "get": {
        "operationId": "getBooksByBibkeys",
        "summary": "Books API (by bibkeys)",
        "description": "Get book data using bibliographic keys (ISBN, LCCN, OCLC, OLID). Returns data in specified format.",
        "tags": [
          "Books"
        ],
        "parameters": [
          {
            "name": "bibkeys",
            "in": "query",
            "required": true,
            "description": "Comma-separated list of bibliographic keys (e.g., ISBN:0451526538)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "Response format",
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "javascript"
              ],
              "default": "json"
            }
          },
          {
            "name": "callback",
            "in": "query",
            "description": "JSONP callback function name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "jscmd",
            "in": "query",
            "description": "What data to return",
            "schema": {
              "type": "string",
              "enum": [
                "viewapi",
                "data",
                "details"
              ],
              "default": "viewapi"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/authors/{olid}.json": {
      "get": {
        "operationId": "getAuthor",
        "summary": "Get an author",
        "description": "Retrieve details of a specific author by their Open Library ID.",
        "tags": [
          "Authors"
        ],
        "parameters": [
          {
            "name": "olid",
            "in": "path",
            "required": true,
            "description": "Open Library author ID (e.g., OL23919A)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Author"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Author not found"
          }
        }
      }
    },
    "/authors/{olid}/works.json": {
      "get": {
        "operationId": "getAuthorWorks",
        "summary": "Get works by author",
        "description": "Get all works by a specific author.",
        "tags": [
          "Authors"
        ],
        "parameters": [
          {
            "name": "olid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 50
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthorWorksResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/subjects/{subject}.json": {
      "get": {
        "operationId": "getSubject",
        "summary": "Get works by subject",
        "description": "Returns works filed under a given subject.",
        "tags": [
          "Subjects"
        ],
        "parameters": [
          {
            "name": "subject",
            "in": "path",
            "required": true,
            "description": "Subject name (use underscores for spaces)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "details",
            "in": "query",
            "description": "Include extra details",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 12
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubjectResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/recentchanges.json": {
      "get": {
        "operationId": "getRecentChanges",
        "summary": "Get recent changes",
        "description": "Returns recent changes/edits made to the Open Library.",
        "tags": [
          "Changes"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 100
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RecentChange"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "SearchResponse": {
        "type": "object",
        "properties": {
          "numFound": {
            "type": "integer"
          },
          "start": {
            "type": "integer"
          },
          "numFoundExact": {
            "type": "boolean"
          },
          "docs": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SearchDoc"
            }
          }
        }
      },
      "SearchDoc": {
        "type": "object",
        "properties": {
          "key": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "author_name": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "author_key": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "first_publish_year": {
            "type": "integer"
          },
          "isbn": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "subject": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "publisher": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "language": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "edition_count": {
            "type": "integer"
          },
          "cover_i": {
            "type": "integer"
          },
          "number_of_pages_median": {
            "type": "integer"
          },
          "ratings_average": {
            "type": "number"
          }
        }
      },
      "AuthorSearchResponse": {
        "type": "object",
        "properties": {
          "numFound": {
            "type": "integer"
          },
          "start": {
            "type": "integer"
          },
          "docs": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "key": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                },
                "birth_date": {
                  "type": "string"
                },
                "top_work": {
                  "type": "string"
                },
                "work_count": {
                  "type": "integer"
                }
              }
            }
          }
        }
      },
      "SubjectSearchResponse": {
        "type": "object",
        "properties": {
          "numFound": {
            "type": "integer"
          },
          "docs": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "key": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                },
                "subject_type": {
                  "type": "string"
                },
                "work_count": {
                  "type": "integer"
                }
              }
            }
          }
        }
      },
      "Work": {
        "type": "object",
        "properties": {
          "key": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "authors": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "author": {
                  "type": "object",
                  "properties": {
                    "key": {
                      "type": "string"
                    }
                  }
                },
                "type": {
                  "type": "object"
                }
              }
            }
          },
          "covers": {
            "type": "array",
            "items": {
              "type": "integer"
            }
          },
          "subjects": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "subject_places": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "subject_times": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "created": {
            "type": "object"
          },
          "last_modified": {
            "type": "object"
          }
        }
      },
      "Edition": {
        "type": "object",
        "properties": {
          "key": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "publishers": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "publish_date": {
            "type": "string"
          },
          "isbn_10": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "isbn_13": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "covers": {
            "type": "array",
            "items": {
              "type": "integer"
            }
          },
          "number_of_pages": {
            "type": "integer"
          },
          "works": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "key": {
                  "type": "string"
                }
              }
            }
          },
          "authors": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "key": {
                  "type": "string"
                }
              }
            }
          },
          "languages": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "key": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "Author": {
        "type": "object",
        "properties": {
          "key": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "personal_name": {
            "type": "string"
          },
          "birth_date": {
            "type": "string"
          },
          "death_date": {
            "type": "string"
          },
          "bio": {
            "type": "string"
          },
          "alternate_names": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "photos": {
            "type": "array",
            "items": {
              "type": "integer"
            }
          },
          "links": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "AuthorWorksResponse": {
        "type": "object",
        "properties": {
          "size": {
            "type": "integer"
          },
          "entries": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Work"
            }
          },
          "links": {
            "type": "object"
          }
        }
      },
      "SubjectResponse": {
        "type": "object",
        "properties": {
          "key": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "subject_type": {
            "type": "string"
          },
          "work_count": {
            "type": "integer"
          },
          "works": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SearchDoc"
            }
          }
        }
      },
      "RecentChange": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "kind": {
            "type": "string"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          },
          "comment": {
            "type": "string"
          },
          "changes": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "author": {
            "type": "object"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Authors"
    },
    {
      "name": "Books"
    },
    {
      "name": "Changes"
    },
    {
      "name": "Search"
    },
    {
      "name": "Subjects"
    }
  ]
}
