{
  "openapi": "3.0.3",
  "info": {
    "title": "Storyblok Content Delivery API",
    "version": "2.0.0",
    "description": "Storyblok Content Delivery API v2. Read-only API for accessing content from your Storyblok space. Delivers stories, datasources, links, tags, and content types.",
    "x-jentic-source-url": "https://www.storyblok.com/docs/api/content-delivery/v2",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://api.storyblok.com/v2/cdn"
    },
    {
      "url": "https://api-us.storyblok.com/v2/cdn",
      "description": "US region"
    }
  ],
  "tags": [
    {
      "name": "Stories",
      "description": "Content stories"
    },
    {
      "name": "Datasources",
      "description": "Datasource management"
    },
    {
      "name": "Links",
      "description": "Content links/tree"
    },
    {
      "name": "Tags",
      "description": "Story tags"
    },
    {
      "name": "Spaces",
      "description": "Space information"
    }
  ],
  "paths": {
    "/stories": {
      "get": {
        "operationId": "listStories",
        "summary": "List stories",
        "description": "Returns a list of stories matching the filter criteria.",
        "tags": [
          "Stories"
        ],
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Access token"
          },
          {
            "name": "starts_with",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by full slug prefix"
          },
          {
            "name": "by_uuids",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated UUIDs"
          },
          {
            "name": "by_slugs",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated full slugs"
          },
          {
            "name": "excluding_slugs",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fallback_lang",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Fallback language code"
          },
          {
            "name": "language",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Language code"
          },
          {
            "name": "with_tag",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by tag"
          },
          {
            "name": "is_startpage",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "description": "Filter by start page"
          },
          {
            "name": "sort_by",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Sort field:order (e.g. created_at:desc)"
          },
          {
            "name": "search_term",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Full text search"
          },
          {
            "name": "filter_query",
            "in": "query",
            "required": false,
            "schema": {
              "type": "object"
            },
            "description": "Filter query object"
          },
          {
            "name": "excluding_ids",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "by_uuids_ordered",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 25,
              "maximum": 100
            }
          },
          {
            "name": "cv",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Cache version"
          },
          {
            "name": "version",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "draft",
                "published"
              ]
            },
            "description": "Content version"
          },
          {
            "name": "resolve_links",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "url",
                "story",
                "link"
              ]
            }
          },
          {
            "name": "resolve_relations",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated component.field pairs"
          },
          {
            "name": "content_type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by content type/component"
          },
          {
            "name": "level",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Folder level depth"
          }
        ],
        "responses": {
          "200": {
            "description": "Story list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StoryListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/stories/{story_path}": {
      "get": {
        "operationId": "getStory",
        "summary": "Get a story",
        "description": "Returns a single story by its full slug path.",
        "tags": [
          "Stories"
        ],
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "story_path",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Full slug path of the story"
          },
          {
            "name": "version",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "draft",
                "published"
              ]
            }
          },
          {
            "name": "resolve_links",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "url",
                "story",
                "link"
              ]
            }
          },
          {
            "name": "resolve_relations",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cv",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "language",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fallback_lang",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Story details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StoryResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/datasources": {
      "get": {
        "operationId": "listDatasources",
        "summary": "List datasources",
        "tags": [
          "Datasources"
        ],
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 25
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Datasource list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DatasourceListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "List datasources"
      }
    },
    "/datasource_entries": {
      "get": {
        "operationId": "listDatasourceEntries",
        "summary": "List datasource entries",
        "tags": [
          "Datasources"
        ],
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "datasource",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Datasource slug"
          },
          {
            "name": "dimension",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Dimension for localized entries"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 25
            }
          },
          {
            "name": "cv",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Datasource entries",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DatasourceEntryListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "List datasource entries"
      }
    },
    "/links": {
      "get": {
        "operationId": "listLinks",
        "summary": "List content links",
        "description": "Returns all links/navigation tree for the space.",
        "tags": [
          "Links"
        ],
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "starts_with",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "version",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "draft",
                "published"
              ]
            }
          },
          {
            "name": "cv",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "paginated",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Links",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LinksResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/links/{linkId}": {
      "get": {
        "operationId": "getLink",
        "summary": "Get a link",
        "tags": [
          "Links"
        ],
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "linkId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Link details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "link": {
                      "$ref": "#/components/schemas/Link"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get a link"
      }
    },
    "/tags": {
      "get": {
        "operationId": "listTags",
        "summary": "List tags",
        "description": "Returns all tags used in your space stories.",
        "tags": [
          "Tags"
        ],
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "starts_with",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Tag list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TagListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/spaces/me": {
      "get": {
        "operationId": "getCurrentSpace",
        "summary": "Get current space",
        "description": "Returns information about the space associated with the provided token.",
        "tags": [
          "Spaces"
        ],
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Space info",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SpaceResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Story": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "uuid": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "slug": {
            "type": "string"
          },
          "full_slug": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "published_at": {
            "type": "string",
            "format": "date-time"
          },
          "first_published_at": {
            "type": "string",
            "format": "date-time"
          },
          "content": {
            "type": "object",
            "description": "Story content (component fields)"
          },
          "position": {
            "type": "integer"
          },
          "is_startpage": {
            "type": "boolean"
          },
          "parent_id": {
            "type": "integer",
            "nullable": true
          },
          "group_id": {
            "type": "string"
          },
          "tag_list": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "lang": {
            "type": "string"
          },
          "alternates": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "sort_by_date": {
            "type": "string",
            "nullable": true
          },
          "meta_data": {
            "type": "object"
          }
        }
      },
      "StoryListResponse": {
        "type": "object",
        "properties": {
          "stories": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Story"
            }
          },
          "cv": {
            "type": "integer"
          },
          "rels": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "links": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "StoryResponse": {
        "type": "object",
        "properties": {
          "story": {
            "$ref": "#/components/schemas/Story"
          },
          "cv": {
            "type": "integer"
          },
          "rels": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "links": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "Datasource": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "slug": {
            "type": "string"
          },
          "dimensions": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer"
                },
                "name": {
                  "type": "string"
                },
                "entry_value": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "DatasourceListResponse": {
        "type": "object",
        "properties": {
          "datasources": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Datasource"
            }
          }
        }
      },
      "DatasourceEntry": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "value": {
            "type": "string"
          },
          "dimension_value": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "DatasourceEntryListResponse": {
        "type": "object",
        "properties": {
          "datasource_entries": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DatasourceEntry"
            }
          }
        }
      },
      "Link": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "uuid": {
            "type": "string"
          },
          "slug": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "is_folder": {
            "type": "boolean"
          },
          "parent_id": {
            "type": "integer",
            "nullable": true
          },
          "published": {
            "type": "boolean"
          },
          "position": {
            "type": "integer"
          },
          "is_startpage": {
            "type": "boolean"
          },
          "real_path": {
            "type": "string"
          }
        }
      },
      "LinksResponse": {
        "type": "object",
        "properties": {
          "links": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/Link"
            }
          }
        }
      },
      "Tag": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "taggings_count": {
            "type": "integer"
          }
        }
      },
      "TagListResponse": {
        "type": "object",
        "properties": {
          "tags": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Tag"
            }
          }
        }
      },
      "SpaceResponse": {
        "type": "object",
        "properties": {
          "space": {
            "type": "object",
            "properties": {
              "id": {
                "type": "integer"
              },
              "name": {
                "type": "string"
              },
              "domain": {
                "type": "string"
              },
              "version": {
                "type": "integer"
              },
              "language_codes": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "apiToken": {
        "type": "apiKey",
        "name": "token",
        "in": "query",
        "description": "Storyblok access token (preview or public)"
      }
    }
  },
  "security": [
    {
      "apiToken": []
    }
  ]
}
