{
  "openapi": "3.0.3",
  "info": {
    "title": "Maileroo API",
    "version": "1.0.0",
    "description": "Maileroo is an email sending and contact management API. Send transactional emails using basic or template-based methods, manage contacts in lists, and verify email addresses.",
    "x-jentic-source-url": "https://maileroo.com/docs/api",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://smtp.maileroo.com",
      "description": "Email Sending API"
    },
    {
      "url": "https://manage.maileroo.app",
      "description": "Contact Management API"
    }
  ],
  "paths": {
    "/send": {
      "post": {
        "operationId": "sendBasicEmail",
        "summary": "Send a basic email",
        "description": "Send a transactional email with custom HTML or plain text content, with optional attachments and inline images.",
        "tags": [
          "Email Sending"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/BasicEmailRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Email sent successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmailResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/send-template": {
      "post": {
        "operationId": "sendTemplateEmail",
        "summary": "Send a template-based email",
        "description": "Send a transactional email using a pre-defined template with dynamic data substitution.",
        "tags": [
          "Email Sending"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/TemplateEmailRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Email sent successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmailResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/contact/{list_id}": {
      "put": {
        "operationId": "createContact",
        "summary": "Create a contact in a list",
        "description": "Add a new contact to the specified mailing list.",
        "tags": [
          "Contacts"
        ],
        "parameters": [
          {
            "name": "list_id",
            "in": "path",
            "required": true,
            "description": "Mailing list ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContactRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Contact created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/contact/{list_id}/{email}": {
      "get": {
        "operationId": "getContact",
        "summary": "Get a contact",
        "description": "Retrieve contact details by email address from a specific list.",
        "tags": [
          "Contacts"
        ],
        "parameters": [
          {
            "name": "list_id",
            "in": "path",
            "required": true,
            "description": "Mailing list ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "email",
            "in": "path",
            "required": true,
            "description": "Contact email address",
            "schema": {
              "type": "string",
              "format": "email"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Contact details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactResponse"
                }
              }
            }
          },
          "404": {
            "description": "Contact not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "updateContact",
        "summary": "Update a contact",
        "description": "Update contact details by email address in a specific list.",
        "tags": [
          "Contacts"
        ],
        "parameters": [
          {
            "name": "list_id",
            "in": "path",
            "required": true,
            "description": "Mailing list ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "email",
            "in": "path",
            "required": true,
            "description": "Contact email address",
            "schema": {
              "type": "string",
              "format": "email"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContactRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Contact updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteContact",
        "summary": "Delete a contact",
        "description": "Remove a contact by email address from a specific list.",
        "tags": [
          "Contacts"
        ],
        "parameters": [
          {
            "name": "list_id",
            "in": "path",
            "required": true,
            "description": "Mailing list ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "email",
            "in": "path",
            "required": true,
            "description": "Contact email address",
            "schema": {
              "type": "string",
              "format": "email"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Contact deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "404": {
            "description": "Contact not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/contacts/{list_id}": {
      "get": {
        "operationId": "listContacts",
        "summary": "List contacts in a mailing list",
        "description": "Retrieve a paginated list of contacts from the specified mailing list, with optional search query.",
        "tags": [
          "Contacts"
        ],
        "parameters": [
          {
            "name": "list_id",
            "in": "path",
            "required": true,
            "description": "Mailing list ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "query",
            "in": "query",
            "required": false,
            "description": "Search query to filter contacts",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Page number for pagination",
            "schema": {
              "type": "integer",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of contacts",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactListResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/verify": {
      "post": {
        "operationId": "verifyEmail",
        "summary": "Verify an email address",
        "description": "Verify whether an email address is valid, deliverable, and not a known disposable or catch-all address.",
        "tags": [
          "Email Verification"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email_address": {
                    "type": "string",
                    "format": "email",
                    "description": "Email address to verify"
                  }
                },
                "required": [
                  "email_address"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Verification result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VerificationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "BasicEmailRequest": {
        "type": "object",
        "properties": {
          "from": {
            "type": "string",
            "description": "Sender name and email, e.g. 'Name <email@example.com>'"
          },
          "to": {
            "type": "string",
            "description": "Recipient name and email, comma-separated for multiple"
          },
          "cc": {
            "type": "string",
            "description": "CC recipients"
          },
          "bcc": {
            "type": "string",
            "description": "BCC recipients"
          },
          "reply_to": {
            "type": "string",
            "description": "Reply-to address"
          },
          "subject": {
            "type": "string",
            "description": "Email subject line"
          },
          "html": {
            "type": "string",
            "description": "HTML content of the email"
          },
          "plain": {
            "type": "string",
            "description": "Plain text content of the email"
          },
          "tracking": {
            "type": "string",
            "enum": [
              "yes",
              "no"
            ],
            "description": "Enable or disable tracking",
            "default": "yes"
          },
          "reference_id": {
            "type": "string",
            "description": "Custom reference ID for tracking"
          },
          "tags": {
            "type": "string",
            "description": "JSON array of tag strings"
          }
        },
        "required": [
          "from",
          "to",
          "subject"
        ]
      },
      "TemplateEmailRequest": {
        "type": "object",
        "properties": {
          "from": {
            "type": "string",
            "description": "Sender name and email"
          },
          "to": {
            "type": "string",
            "description": "Recipient name and email"
          },
          "cc": {
            "type": "string",
            "description": "CC recipients"
          },
          "bcc": {
            "type": "string",
            "description": "BCC recipients"
          },
          "reply_to": {
            "type": "string",
            "description": "Reply-to address"
          },
          "template_id": {
            "type": "string",
            "description": "Template ID to use"
          },
          "template_data": {
            "type": "string",
            "description": "JSON object of template variables"
          },
          "tracking": {
            "type": "string",
            "enum": [
              "yes",
              "no"
            ],
            "default": "yes"
          },
          "reference_id": {
            "type": "string"
          },
          "tags": {
            "type": "string"
          }
        },
        "required": [
          "from",
          "to",
          "template_id"
        ]
      },
      "EmailResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "message": {
            "type": "string"
          },
          "data": {
            "type": "object",
            "properties": {
              "message_id": {
                "type": "string"
              },
              "reference_id": {
                "type": "string"
              }
            }
          }
        }
      },
      "ContactRequest": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "format": "email"
          },
          "name": {
            "type": "string"
          },
          "first_name": {
            "type": "string"
          },
          "last_name": {
            "type": "string"
          }
        },
        "additionalProperties": true
      },
      "ContactResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "contact": {
            "type": "object",
            "additionalProperties": true
          }
        }
      },
      "ContactListResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          }
        }
      },
      "VerificationResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "type": "object",
            "properties": {
              "email": {
                "type": "string"
              },
              "status": {
                "type": "string",
                "description": "Verification status"
              },
              "is_disposable": {
                "type": "boolean"
              },
              "is_free": {
                "type": "boolean"
              },
              "is_catch_all": {
                "type": "boolean"
              },
              "mx_found": {
                "type": "boolean"
              },
              "smtp_check": {
                "type": "boolean"
              }
            }
          }
        }
      },
      "SuccessResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "enum": [
              false
            ]
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key",
        "description": "Maileroo API key"
      }
    }
  },
  "security": [
    {
      "apiKey": []
    }
  ],
  "tags": [
    {
      "name": "Contacts"
    },
    {
      "name": "Email Sending"
    },
    {
      "name": "Email Verification"
    }
  ]
}
