{
  "openapi": "3.0.3",
  "info": {
    "title": "Mendeley API",
    "version": "1.0",
    "description": "Mendeley is a reference manager and academic social network. The API provides access to documents, annotations, catalog search, folders, groups, files, profiles, and datasets.",
    "x-jentic-source-url": "https://dev.mendeley.com/methods/",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://api.mendeley.com"
    }
  ],
  "paths": {
    "/annotations": {
      "get": {
        "operationId": "listAnnotations",
        "summary": "List annotations",
        "description": "Retrieve all your annotations, optionally filtered by group or document.",
        "tags": [
          "Annotations"
        ],
        "parameters": [
          {
            "name": "group_id",
            "in": "query",
            "description": "Filter by group UUID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "document_id",
            "in": "query",
            "description": "Filter by document UUID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "modified_since",
            "in": "query",
            "description": "Return only annotations modified since this ISO 8601 timestamp",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "deleted_since",
            "in": "query",
            "description": "Return only annotations deleted since this ISO 8601 timestamp",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Max items per page (default 20, max 500)",
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "marker",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Annotation"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "createAnnotation",
        "summary": "Create an annotation",
        "tags": [
          "Annotations"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AnnotationCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Annotation created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Annotation"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Create an annotation"
      }
    },
    "/annotations/{id}": {
      "patch": {
        "operationId": "updateAnnotation",
        "summary": "Update an annotation",
        "tags": [
          "Annotations"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AnnotationCreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Annotation updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Annotation"
                }
              }
            }
          }
        },
        "description": "Update an annotation"
      },
      "delete": {
        "operationId": "deleteAnnotation",
        "summary": "Delete an annotation",
        "tags": [
          "Annotations"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Annotation deleted"
          }
        },
        "description": "Delete an annotation"
      }
    },
    "/catalog": {
      "get": {
        "operationId": "getCatalogByIdentifier",
        "summary": "Search catalog by identifier",
        "description": "Retrieve catalog documents by identifier (DOI, ISBN, ISSN, PMID, etc.).",
        "tags": [
          "Catalog"
        ],
        "parameters": [
          {
            "name": "doi",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "isbn",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "issn",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pmid",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "arxiv",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "scopus",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filehash",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "view",
            "in": "query",
            "description": "Additional fields to include",
            "schema": {
              "type": "string",
              "enum": [
                "bib",
                "client",
                "stats",
                "all"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CatalogDocument"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/catalog/{id}": {
      "get": {
        "operationId": "getCatalogDocument",
        "summary": "Get a catalog document by ID",
        "tags": [
          "Catalog"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Catalog document UUID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "view",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "bib",
                "client",
                "stats",
                "all"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CatalogDocument"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Get a catalog document by ID"
      }
    },
    "/search/catalog": {
      "get": {
        "operationId": "searchCatalog",
        "summary": "Search catalog",
        "description": "Search the Mendeley catalog by query or specific fields.",
        "tags": [
          "Catalog"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "description": "General search query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "title",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "author",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "source",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "abstract",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "min_year",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "max_year",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "open_access",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "view",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "bib",
                "client",
                "stats",
                "all"
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CatalogDocument"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/documents": {
      "get": {
        "operationId": "listDocuments",
        "summary": "List library documents",
        "description": "Retrieve all documents in your library.",
        "tags": [
          "Documents"
        ],
        "parameters": [
          {
            "name": "view",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "bib",
                "client",
                "tags",
                "patent",
                "all"
              ]
            }
          },
          {
            "name": "group_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "modified_since",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "deleted_since",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "order",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Document"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "createDocument",
        "summary": "Create a document",
        "tags": [
          "Documents"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DocumentCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Document created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Document"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Create a document"
      }
    },
    "/documents/{id}": {
      "get": {
        "operationId": "getDocument",
        "summary": "Get a document",
        "tags": [
          "Documents"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "view",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "bib",
                "client",
                "tags",
                "patent",
                "all"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Document"
                }
              }
            }
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Get a document"
      },
      "patch": {
        "operationId": "updateDocument",
        "summary": "Update a document",
        "tags": [
          "Documents"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DocumentCreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Document updated"
          }
        },
        "description": "Update a document"
      },
      "delete": {
        "operationId": "deleteDocument",
        "summary": "Delete a document",
        "tags": [
          "Documents"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Document deleted"
          }
        },
        "description": "Delete a document"
      }
    },
    "/profiles/me": {
      "get": {
        "operationId": "getMyProfile",
        "summary": "Get my profile",
        "description": "Returns the profile of the currently authenticated user.",
        "tags": [
          "Profiles"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Profile"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/profiles/{id}": {
      "get": {
        "operationId": "getProfile",
        "summary": "Get a profile",
        "tags": [
          "Profiles"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Profile"
                }
              }
            }
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Get a profile"
      }
    },
    "/folders": {
      "get": {
        "operationId": "listFolders",
        "summary": "List folders",
        "tags": [
          "Folders"
        ],
        "parameters": [
          {
            "name": "group_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Folder"
                  }
                }
              }
            }
          }
        },
        "description": "List folders"
      },
      "post": {
        "operationId": "createFolder",
        "summary": "Create a folder",
        "tags": [
          "Folders"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name"
                ],
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "parent_id": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Folder created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Folder"
                }
              }
            }
          }
        },
        "description": "Create a folder"
      }
    },
    "/academic_statuses": {
      "get": {
        "operationId": "listAcademicStatuses",
        "summary": "List academic statuses",
        "tags": [
          "Reference Data"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "description": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "description": "List academic statuses"
      }
    }
  },
  "components": {
    "schemas": {
      "Annotation": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "created": {
            "type": "string",
            "format": "date-time"
          },
          "last_modified": {
            "type": "string",
            "format": "date-time"
          },
          "color": {
            "type": "object",
            "properties": {
              "r": {
                "type": "integer"
              },
              "g": {
                "type": "integer"
              },
              "b": {
                "type": "integer"
              }
            }
          },
          "text": {
            "type": "string"
          },
          "positions": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "top_left": {
                  "type": "object",
                  "properties": {
                    "x": {
                      "type": "number"
                    },
                    "y": {
                      "type": "number"
                    }
                  }
                },
                "bottom_right": {
                  "type": "object",
                  "properties": {
                    "x": {
                      "type": "number"
                    },
                    "y": {
                      "type": "number"
                    }
                  }
                },
                "page": {
                  "type": "integer"
                }
              }
            }
          },
          "privacy_level": {
            "type": "string",
            "enum": [
              "public",
              "group",
              "private"
            ]
          },
          "document_id": {
            "type": "string",
            "format": "uuid"
          },
          "profile_id": {
            "type": "string",
            "format": "uuid"
          },
          "filehash": {
            "type": "string"
          }
        }
      },
      "AnnotationCreate": {
        "type": "object",
        "properties": {
          "color": {
            "type": "object",
            "properties": {
              "r": {
                "type": "integer"
              },
              "g": {
                "type": "integer"
              },
              "b": {
                "type": "integer"
              }
            }
          },
          "text": {
            "type": "string"
          },
          "positions": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "privacy_level": {
            "type": "string",
            "enum": [
              "public",
              "group",
              "private"
            ]
          },
          "document_id": {
            "type": "string"
          },
          "filehash": {
            "type": "string"
          }
        }
      },
      "CatalogDocument": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "title": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "journal",
              "book",
              "generic",
              "book_section",
              "conference_proceedings",
              "working_paper",
              "report",
              "web_page",
              "thesis",
              "magazine_article",
              "statute",
              "patent",
              "newspaper_article",
              "computer_program",
              "hearing",
              "television_broadcast",
              "encyclopedia_article",
              "case",
              "film",
              "bill"
            ]
          },
          "abstract": {
            "type": "string"
          },
          "source": {
            "type": "string"
          },
          "year": {
            "type": "integer"
          },
          "authors": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "first_name": {
                  "type": "string"
                },
                "last_name": {
                  "type": "string"
                }
              }
            }
          },
          "identifiers": {
            "type": "object"
          },
          "keywords": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "link": {
            "type": "string"
          },
          "reader_count": {
            "type": "integer"
          },
          "reader_count_by_academic_status": {
            "type": "object"
          },
          "reader_count_by_discipline": {
            "type": "object"
          },
          "reader_count_by_country": {
            "type": "object"
          },
          "group_count": {
            "type": "integer"
          }
        }
      },
      "Document": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "title": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "abstract": {
            "type": "string"
          },
          "source": {
            "type": "string"
          },
          "year": {
            "type": "integer"
          },
          "authors": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "first_name": {
                  "type": "string"
                },
                "last_name": {
                  "type": "string"
                }
              }
            }
          },
          "identifiers": {
            "type": "object"
          },
          "created": {
            "type": "string",
            "format": "date-time"
          },
          "last_modified": {
            "type": "string",
            "format": "date-time"
          },
          "profile_id": {
            "type": "string"
          },
          "group_id": {
            "type": "string"
          },
          "read": {
            "type": "boolean"
          },
          "starred": {
            "type": "boolean"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "DocumentCreate": {
        "type": "object",
        "required": [
          "title",
          "type"
        ],
        "properties": {
          "title": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "abstract": {
            "type": "string"
          },
          "source": {
            "type": "string"
          },
          "year": {
            "type": "integer"
          },
          "authors": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "first_name": {
                  "type": "string"
                },
                "last_name": {
                  "type": "string"
                }
              }
            }
          },
          "identifiers": {
            "type": "object"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "Profile": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "first_name": {
            "type": "string"
          },
          "last_name": {
            "type": "string"
          },
          "display_name": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "link": {
            "type": "string"
          },
          "academic_status": {
            "type": "string"
          },
          "institution": {
            "type": "string"
          },
          "institution_details": {
            "type": "object"
          },
          "discipline": {
            "type": "object"
          },
          "photo": {
            "type": "object"
          },
          "verified": {
            "type": "boolean"
          },
          "created": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Folder": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "parent_id": {
            "type": "string",
            "format": "uuid"
          },
          "group_id": {
            "type": "string",
            "format": "uuid"
          },
          "created": {
            "type": "string",
            "format": "date-time"
          },
          "modified": {
            "type": "string",
            "format": "date-time"
          }
        }
      }
    },
    "securitySchemes": {
      "oauth2": {
        "type": "oauth2",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://api.mendeley.com/oauth/authorize",
            "tokenUrl": "https://api.mendeley.com/oauth/token",
            "scopes": {
              "all": "Full access to the Mendeley API"
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "oauth2": [
        "all"
      ]
    }
  ],
  "tags": [
    {
      "name": "Annotations"
    },
    {
      "name": "Catalog"
    },
    {
      "name": "Documents"
    },
    {
      "name": "Folders"
    },
    {
      "name": "Profiles"
    },
    {
      "name": "Reference Data"
    }
  ]
}
