{
  "openapi": "3.0.3",
  "info": {
    "title": "Browse AI API",
    "description": "Browse AI REST API v2 for managing web scraping robots and their tasks. Create, run, and retrieve data from automated web scraping robots.",
    "version": "v2",
    "x-jentic-source-url": "https://www.browse.ai/",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://api.browse.ai/v2",
      "description": "Production"
    }
  ],
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Robots",
      "description": "Manage web scraping robots."
    },
    {
      "name": "Tasks",
      "description": "Manage and run robot tasks (scraping runs)."
    }
  ],
  "paths": {
    "/robots": {
      "get": {
        "tags": [
          "Robots"
        ],
        "summary": "List all robots",
        "description": "Returns a list of all robots in your account.",
        "operationId": "listRobots",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of robots.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "statusCode": {
                      "type": "integer"
                    },
                    "result": {
                      "type": "object",
                      "properties": {
                        "robots": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Robot"
                          }
                        },
                        "totalCount": {
                          "type": "integer"
                        },
                        "page": {
                          "type": "integer"
                        },
                        "pageSize": {
                          "type": "integer"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/robots/{robotId}": {
      "get": {
        "tags": [
          "Robots"
        ],
        "summary": "Get a robot",
        "description": "Returns details of a specific robot.",
        "operationId": "getRobot",
        "parameters": [
          {
            "name": "robotId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The unique robot ID."
          }
        ],
        "responses": {
          "200": {
            "description": "Robot details.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "statusCode": {
                      "type": "integer"
                    },
                    "result": {
                      "$ref": "#/components/schemas/Robot"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Robot not found"
          }
        }
      }
    },
    "/robots/{robotId}/tasks": {
      "get": {
        "tags": [
          "Tasks"
        ],
        "summary": "List tasks for a robot",
        "description": "Returns a list of tasks (scraping runs) for a specific robot.",
        "operationId": "listTasks",
        "parameters": [
          {
            "name": "robotId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "description": "Filter tasks by status.",
            "schema": {
              "type": "string",
              "enum": [
                "successful",
                "failed",
                "running",
                "pending"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of tasks.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "statusCode": {
                      "type": "integer"
                    },
                    "result": {
                      "type": "object",
                      "properties": {
                        "robotTasks": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Task"
                          }
                        },
                        "totalCount": {
                          "type": "integer"
                        },
                        "page": {
                          "type": "integer"
                        },
                        "pageSize": {
                          "type": "integer"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Robot not found"
          }
        }
      },
      "post": {
        "tags": [
          "Tasks"
        ],
        "summary": "Run a robot task",
        "description": "Creates and runs a new task for the specified robot.",
        "operationId": "runTask",
        "parameters": [
          {
            "name": "robotId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RunTaskRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task created.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "statusCode": {
                      "type": "integer"
                    },
                    "result": {
                      "$ref": "#/components/schemas/Task"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Robot not found"
          }
        }
      }
    },
    "/robots/{robotId}/tasks/{taskId}": {
      "get": {
        "tags": [
          "Tasks"
        ],
        "summary": "Get a task",
        "description": "Returns details of a specific task including extracted data.",
        "operationId": "getTask",
        "parameters": [
          {
            "name": "robotId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "taskId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Task details.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "statusCode": {
                      "type": "integer"
                    },
                    "result": {
                      "$ref": "#/components/schemas/Task"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Task not found"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Robot": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string",
            "description": "Name of the robot."
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "inputParameters": {
            "type": "array",
            "description": "Input parameters the robot accepts.",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                },
                "label": {
                  "type": "string"
                },
                "type": {
                  "type": "string",
                  "description": "Data type of the parameter (url, text, etc.)."
                }
              }
            }
          },
          "outputSchema": {
            "type": "object",
            "description": "Schema of the data the robot extracts.",
            "additionalProperties": true
          }
        }
      },
      "Task": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "robotId": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "successful",
              "failed",
              "running",
              "pending"
            ]
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "finishedAt": {
            "type": "string",
            "format": "date-time"
          },
          "inputParameters": {
            "type": "object",
            "description": "Input parameters used for this task.",
            "additionalProperties": true
          },
          "capturedLists": {
            "type": "object",
            "description": "Extracted list data.",
            "additionalProperties": {
              "type": "array",
              "items": {
                "type": "object",
                "additionalProperties": true
              }
            }
          },
          "capturedTexts": {
            "type": "object",
            "description": "Extracted text data.",
            "additionalProperties": {
              "type": "string"
            }
          },
          "capturedScreenshots": {
            "type": "object",
            "description": "Captured screenshots.",
            "additionalProperties": {
              "type": "string"
            }
          }
        }
      },
      "RunTaskRequest": {
        "type": "object",
        "properties": {
          "inputParameters": {
            "type": "object",
            "description": "Input parameters for the robot, such as the URL to scrape.",
            "additionalProperties": true
          }
        },
        "required": [
          "inputParameters"
        ]
      }
    },
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "API key passed as a Bearer token in the Authorization header."
      }
    }
  }
}
