{
  "openapi": "3.0.3",
  "info": {
    "title": "Comet REST API",
    "version": "2.0",
    "description": "Comet ML REST API for experiment tracking, model registry, project management, and ML workflow automation. Provides comprehensive read and write endpoints for managing ML experiments, metrics, parameters, assets, registry models, artifacts, panels, dashboards, webhooks, and service accounts.",
    "x-jentic-source-url": "https://www.comet.com/docs/v2/api-and-sdk/rest-api/",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://www.comet.com"
    }
  ],
  "paths": {
    "/api/rest/v2/workspaces": {
      "get": {
        "operationId": "getUserWorkspaces",
        "summary": "Get user workspaces",
        "description": "Get a user's workspaces.",
        "tags": [
          "Workspaces"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkspaceListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/rest/v2/projects": {
      "get": {
        "operationId": "getProjects",
        "summary": "Get projects",
        "description": "Get a workspace's projects.",
        "tags": [
          "Projects"
        ],
        "parameters": [
          {
            "name": "workspaceName",
            "in": "query",
            "description": "Workspace name",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/rest/v2/projects/page": {
      "get": {
        "operationId": "getProjectsByQuery",
        "summary": "Get projects by query",
        "description": "Get a page of projects by query.",
        "tags": [
          "Projects"
        ],
        "parameters": [
          {
            "name": "workspaceName",
            "in": "query",
            "description": "Workspace name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Offset",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "count",
            "in": "query",
            "description": "Count",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort field",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "order",
            "in": "query",
            "description": "Sort order",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "owner",
            "in": "query",
            "description": "Owner filter",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "public",
            "in": "query",
            "description": "Public filter",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "Search term",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectPageResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/rest/v2/project": {
      "get": {
        "operationId": "getProject",
        "summary": "Get project",
        "description": "Get details on a project.",
        "tags": [
          "Projects"
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "query",
            "description": "Project ID",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "projectName",
            "in": "query",
            "description": "Project name",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "workspaceName",
            "in": "query",
            "description": "Workspace name",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Project"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/rest/v2/project/column-names": {
      "get": {
        "operationId": "getProjectColumns",
        "summary": "Get project columns",
        "description": "Get a project's columns that can be queried.",
        "tags": [
          "Projects"
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "query",
            "description": "Project ID",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "projectName",
            "in": "query",
            "description": "Project name",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "workspaceName",
            "in": "query",
            "description": "Workspace name",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "archived",
            "in": "query",
            "description": "Include archived",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ColumnListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/rest/v2/project/notes": {
      "get": {
        "operationId": "getProjectNotes",
        "summary": "Get project notes",
        "description": "Get a project's notes.",
        "tags": [
          "Projects"
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "query",
            "description": "Project ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/rest/v2/project/get-project-share-links": {
      "get": {
        "operationId": "getProjectShareLinks",
        "summary": "Get project share links",
        "description": "Get a project's share links.",
        "tags": [
          "Projects"
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "query",
            "description": "Project ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ShareLinksResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/rest/v2/experiments": {
      "get": {
        "operationId": "getExperiments",
        "summary": "Get experiments",
        "description": "Get a project's experiments.",
        "tags": [
          "Experiments"
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "query",
            "description": "Project ID",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "projectName",
            "in": "query",
            "description": "Project name",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "workspaceName",
            "in": "query",
            "description": "Workspace name",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "archived",
            "in": "query",
            "description": "Include archived",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExperimentListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/rest/v2/experiment/metadata": {
      "get": {
        "operationId": "getExperimentMetadata",
        "summary": "Get experiment metadata",
        "description": "Get an experiment's metadata.",
        "tags": [
          "Experiments"
        ],
        "parameters": [
          {
            "name": "experimentKey",
            "in": "query",
            "description": "Experiment key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExperimentMetadata"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/rest/v2/experiment/git/metadata": {
      "get": {
        "operationId": "getExperimentGitMetadata",
        "summary": "Get experiment git metadata",
        "description": "Get the git metadata of an experiment.",
        "tags": [
          "Experiments"
        ],
        "parameters": [
          {
            "name": "experimentKey",
            "in": "query",
            "description": "Experiment key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GitMetadata"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/rest/v2/experiment/git/patch": {
      "get": {
        "operationId": "getExperimentGitPatch",
        "summary": "Get experiment git patch",
        "description": "Get the git patch of an experiment.",
        "tags": [
          "Experiments"
        ],
        "parameters": [
          {
            "name": "experimentKey",
            "in": "query",
            "description": "Experiment key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SimpleResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/rest/v2/experiment/html": {
      "get": {
        "operationId": "getExperimentHtml",
        "summary": "Get experiment HTML",
        "description": "Get an experiment's HTML.",
        "tags": [
          "Experiments"
        ],
        "parameters": [
          {
            "name": "experimentKey",
            "in": "query",
            "description": "Experiment key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HtmlResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/rest/v2/experiment/code": {
      "get": {
        "operationId": "getExperimentCode",
        "summary": "Get experiment code",
        "description": "Get an experiment's source code.",
        "tags": [
          "Experiments"
        ],
        "parameters": [
          {
            "name": "experimentKey",
            "in": "query",
            "description": "Experiment key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CodeResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/rest/v2/experiment/output": {
      "get": {
        "operationId": "getExperimentOutput",
        "summary": "Get experiment output",
        "description": "Get an experiment's stdout and stderr.",
        "tags": [
          "Experiments"
        ],
        "parameters": [
          {
            "name": "experimentKey",
            "in": "query",
            "description": "Experiment key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OutputResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/rest/v2/experiment/graph": {
      "get": {
        "operationId": "getExperimentGraph",
        "summary": "Get experiment graph",
        "description": "Get an experiment's model graph.",
        "tags": [
          "Experiments"
        ],
        "parameters": [
          {
            "name": "experimentKey",
            "in": "query",
            "description": "Experiment key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/rest/v2/experiment/cloud-details": {
      "get": {
        "operationId": "getExperimentCloudDetails",
        "summary": "Get experiment cloud details",
        "description": "Get an experiment's cloud details.",
        "tags": [
          "Experiments"
        ],
        "parameters": [
          {
            "name": "experimentKey",
            "in": "query",
            "description": "Experiment key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloudDetailsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/rest/v2/experiment/metrics/get-metric": {
      "get": {
        "operationId": "getAllMetricsForName",
        "summary": "Get all metrics for name",
        "description": "Get all metric values for a metric name.",
        "tags": [
          "Metrics"
        ],
        "parameters": [
          {
            "name": "experimentKey",
            "in": "query",
            "description": "Experiment key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "metricName",
            "in": "query",
            "description": "Metric name",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MetricValueListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/rest/v2/experiment/metrics/summary": {
      "get": {
        "operationId": "getMetricsSummary",
        "summary": "Get metrics summary",
        "description": "Get an experiment's metrics summary.",
        "tags": [
          "Metrics"
        ],
        "parameters": [
          {
            "name": "experimentKey",
            "in": "query",
            "description": "Experiment key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MetricsSummaryResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/rest/v2/experiment/parameters": {
      "get": {
        "operationId": "getParameters",
        "summary": "Get parameters",
        "description": "Get an experiment's parameters summary.",
        "tags": [
          "Experiments"
        ],
        "parameters": [
          {
            "name": "experimentKey",
            "in": "query",
            "description": "Experiment key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ParametersSummaryResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/rest/v2/experiment/log-other": {
      "get": {
        "operationId": "getOthers",
        "summary": "Get others",
        "description": "Get an experiment's others summary.",
        "tags": [
          "Experiments"
        ],
        "parameters": [
          {
            "name": "experimentKey",
            "in": "query",
            "description": "Experiment key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ParametersSummaryResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/rest/v2/experiment/tags": {
      "get": {
        "operationId": "getExperimentTags",
        "summary": "Get experiment tags",
        "description": "Get an experiment's tags.",
        "tags": [
          "Experiments"
        ],
        "parameters": [
          {
            "name": "experimentKey",
            "in": "query",
            "description": "Experiment key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TagsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/rest/v2/experiment/system-details": {
      "get": {
        "operationId": "getSystemDetails",
        "summary": "Get system details",
        "description": "Get an experiment's system details.",
        "tags": [
          "Experiments"
        ],
        "parameters": [
          {
            "name": "experimentKey",
            "in": "query",
            "description": "Experiment key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SystemDetailsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/rest/v2/experiment/asset/list": {
      "get": {
        "operationId": "getAssetList",
        "summary": "Get asset list",
        "description": "Get an experiment's asset list.",
        "tags": [
          "Assets"
        ],
        "parameters": [
          {
            "name": "experimentKey",
            "in": "query",
            "description": "Experiment key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "Asset type filter (all, unknown, audio, video, image, etc.)",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssetListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/rest/v2/experiment/asset/details": {
      "get": {
        "operationId": "getAssetDetails",
        "summary": "Get asset details",
        "description": "Get the asset details for a single asset.",
        "tags": [
          "Assets"
        ],
        "parameters": [
          {
            "name": "experimentKey",
            "in": "query",
            "description": "Experiment key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "assetId",
            "in": "query",
            "description": "Asset ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Asset"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/rest/v2/experiment/asset/get-asset": {
      "get": {
        "operationId": "getAsset",
        "summary": "Get asset",
        "description": "Get an asset's binary content.",
        "tags": [
          "Assets"
        ],
        "parameters": [
          {
            "name": "experimentKey",
            "in": "query",
            "description": "Experiment key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "assetId",
            "in": "query",
            "description": "Asset ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SimpleResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/rest/v2/experiment/model": {
      "get": {
        "operationId": "getExperimentModelList",
        "summary": "Get experiment model list",
        "description": "Get the list of models created by a given experiment.",
        "tags": [
          "Models"
        ],
        "parameters": [
          {
            "name": "experimentKey",
            "in": "query",
            "description": "Experiment key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExperimentModelListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/rest/v2/experiment/model/asset/list": {
      "get": {
        "operationId": "getExperimentModelAssetList",
        "summary": "Get experiment model asset list",
        "description": "Get the list of assets for a particular experiment model.",
        "tags": [
          "Models"
        ],
        "parameters": [
          {
            "name": "experimentKey",
            "in": "query",
            "description": "Experiment key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "modelName",
            "in": "query",
            "description": "Model name",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssetListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/rest/v2/experiment/model/download": {
      "get": {
        "operationId": "downloadExperimentModel",
        "summary": "Download experiment model",
        "description": "Download a zip file of an experiment model.",
        "tags": [
          "Models"
        ],
        "parameters": [
          {
            "name": "experimentKey",
            "in": "query",
            "description": "Experiment key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "modelName",
            "in": "query",
            "description": "Model name",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SimpleResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/rest/v2/registry-model": {
      "get": {
        "operationId": "getRegistryModels",
        "summary": "Get registry models",
        "description": "Get a workspace's registry models.",
        "tags": [
          "Registry Models"
        ],
        "parameters": [
          {
            "name": "workspaceName",
            "in": "query",
            "description": "Workspace name",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RegistryModelListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/rest/v2/registry-model/count": {
      "get": {
        "operationId": "getRegistryModelCount",
        "summary": "Get registry model count",
        "description": "Get a count of a workspace's registry models.",
        "tags": [
          "Registry Models"
        ],
        "parameters": [
          {
            "name": "workspaceName",
            "in": "query",
            "description": "Workspace name",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RegistryModelCountResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/rest/v2/registry-model/details": {
      "get": {
        "operationId": "getRegistryModelDetails",
        "summary": "Get registry model details",
        "description": "Get a registry model's details.",
        "tags": [
          "Registry Models"
        ],
        "parameters": [
          {
            "name": "workspaceName",
            "in": "query",
            "description": "Workspace name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "modelName",
            "in": "query",
            "description": "Model name",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RegistryModelDetails"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/rest/v2/registry-model/latest_version": {
      "get": {
        "operationId": "getLatestRegistryModelVersion",
        "summary": "Get latest registry model version",
        "description": "Get the latest version for a registry model.",
        "tags": [
          "Registry Models"
        ],
        "parameters": [
          {
            "name": "workspaceName",
            "in": "query",
            "description": "Workspace name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "modelName",
            "in": "query",
            "description": "Model name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "stage",
            "in": "query",
            "description": "Stage filter",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "versionMajor",
            "in": "query",
            "description": "Major version filter",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "versionMinor",
            "in": "query",
            "description": "Minor version filter",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RegistryModelDetails"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/rest/v2/registry-model/notes": {
      "get": {
        "operationId": "getRegistryModelNotes",
        "summary": "Get registry model notes",
        "description": "Get a registry model's notes.",
        "tags": [
          "Registry Models"
        ],
        "parameters": [
          {
            "name": "workspaceName",
            "in": "query",
            "description": "Workspace name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "modelName",
            "in": "query",
            "description": "Model name",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/rest/v2/registry-model/item/download": {
      "get": {
        "operationId": "downloadRegistryModelVersion",
        "summary": "Download registry model version",
        "description": "Download a zip file of a registry model version.",
        "tags": [
          "Registry Models"
        ],
        "parameters": [
          {
            "name": "workspaceName",
            "in": "query",
            "description": "Workspace name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "modelName",
            "in": "query",
            "description": "Model name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "version",
            "in": "query",
            "description": "Version",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SimpleResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/rest/v2/get/artifacts": {
      "get": {
        "operationId": "getArtifactLineage",
        "summary": "Get artifact lineage",
        "description": "Get an experiment's artifact lineage.",
        "tags": [
          "Artifacts"
        ],
        "parameters": [
          {
            "name": "experimentKey",
            "in": "query",
            "description": "Experiment key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter",
            "in": "query",
            "description": "Direction filter (all, input, output)",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArtifactLineageResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/rest/v2/artifacts/version/download": {
      "get": {
        "operationId": "downloadArtifact",
        "summary": "Download artifact",
        "description": "Download an artifact.",
        "tags": [
          "Artifacts"
        ],
        "parameters": [
          {
            "name": "workspace",
            "in": "query",
            "description": "Workspace",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "project",
            "in": "query",
            "description": "Project",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "artifactName",
            "in": "query",
            "description": "Artifact name",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "artifactId",
            "in": "query",
            "description": "Artifact ID",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "versionId",
            "in": "query",
            "description": "Version ID",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "version",
            "in": "query",
            "description": "Version",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "alias",
            "in": "query",
            "description": "Alias",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "versionOrAlias",
            "in": "query",
            "description": "Version or alias",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "experimentKey",
            "in": "query",
            "description": "Experiment key",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SimpleResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/rest/v2/project/query": {
      "post": {
        "operationId": "applyProjectQuery",
        "summary": "Apply project query",
        "description": "Apply a query to a project.",
        "tags": [
          "Projects"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProjectQueryRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectQueryResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/rest/v2/experiments/multi-metric-chart": {
      "post": {
        "operationId": "getMultiMetricChart",
        "summary": "Get multi metric chart",
        "description": "Get multi-metric chart data.",
        "tags": [
          "Metrics"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MultiMetricChartRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MultiMetricChartResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/rest/v2/code-panel/get-all": {
      "get": {
        "operationId": "getPanels",
        "summary": "Get panels in workspace",
        "description": "Get a list of metadata for all panels in workspace.",
        "tags": [
          "Panels"
        ],
        "parameters": [
          {
            "name": "workspace",
            "in": "query",
            "description": "Workspace name",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PanelListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/rest/v2/code-panel/download": {
      "get": {
        "operationId": "getPanelJson",
        "summary": "Get panel JSON",
        "description": "Get the Panel JSON.",
        "tags": [
          "Panels"
        ],
        "parameters": [
          {
            "name": "templateId",
            "in": "query",
            "description": "Template ID",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "instanceId",
            "in": "query",
            "description": "Instance ID",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PanelDetailsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/rest/v2/template/{templateId}/download": {
      "get": {
        "operationId": "downloadPanelZip",
        "summary": "Download panel as zipfile",
        "description": "Download the contents of a Panel as zipfile.",
        "tags": [
          "Panels"
        ],
        "parameters": [
          {
            "name": "templateId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Template ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SimpleResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/rest/v2/dashboard-template/get-all": {
      "get": {
        "operationId": "getDashboardTemplates",
        "summary": "Get dashboard template list",
        "description": "Get a list of dashboard template JSON objects.",
        "tags": [
          "Dashboards"
        ],
        "parameters": [
          {
            "name": "workspace",
            "in": "query",
            "description": "Workspace name",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DashboardTemplateListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/rest/v2/dashboard-template/download": {
      "get": {
        "operationId": "downloadDashboard",
        "summary": "Download dashboard",
        "description": "Download a dashboard template.",
        "tags": [
          "Dashboards"
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "query",
            "description": "Project ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "templateId",
            "in": "query",
            "description": "Template ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DashboardTemplateResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/rest/v2/get-best-experiment": {
      "get": {
        "operationId": "getBestExperiment",
        "summary": "Get optimizer's best experiment",
        "description": "Get an optimizer's best experiment so far.",
        "tags": [
          "Optimizer"
        ],
        "parameters": [
          {
            "name": "optimizationId",
            "in": "query",
            "description": "Optimization ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "metricName",
            "in": "query",
            "description": "Metric name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "goal",
            "in": "query",
            "description": "Goal (MIN or MAX)",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BestExperimentResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/rest/v2/webhooks/config": {
      "get": {
        "operationId": "getWebhookConfig",
        "summary": "Get webhook configuration",
        "description": "Get the configuration for a webhook.",
        "tags": [
          "Webhooks"
        ],
        "parameters": [
          {
            "name": "workspaceName",
            "in": "query",
            "description": "Workspace name",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "modelName",
            "in": "query",
            "description": "Model name",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookConfigResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "updateWebhookConfig",
        "summary": "Update webhook configuration",
        "description": "Update webhook configuration.",
        "tags": [
          "Webhooks"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebhookConfigUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SimpleResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "overrideWebhookConfig",
        "summary": "Override webhook configuration",
        "description": "Override webhook configuration.",
        "tags": [
          "Webhooks"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebhookConfigUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SimpleResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/rest/v2/viz-instance/store/get": {
      "get": {
        "operationId": "getStore",
        "summary": "Get store",
        "description": "Get an entire store.",
        "tags": [
          "Visualization"
        ],
        "parameters": [
          {
            "name": "instanceId",
            "in": "query",
            "description": "Instance ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "projectId",
            "in": "query",
            "description": "Project ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StoreResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/rest/v2/account-details": {
      "get": {
        "operationId": "getAccountDetails",
        "summary": "Get account details",
        "description": "Get account details from authenticated user's apiKey.",
        "tags": [
          "Account"
        ],
        "parameters": [
          {
            "name": "userName",
            "in": "query",
            "description": "User name",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "defaultWorkspaceName",
            "in": "query",
            "description": "Default workspace name",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountDetailsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/rest/v2/organization/{organizationId}/secrets": {
      "get": {
        "operationId": "getOrgSecrets",
        "summary": "Get organization secrets",
        "description": "Returns a list of all organization's secret names.",
        "tags": [
          "Organization"
        ],
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Organization ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrgSecretsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/rest/v2/service-account/{accountName}": {
      "get": {
        "operationId": "getServiceAccountDetails",
        "summary": "Get service account details",
        "description": "Returns service account details.",
        "tags": [
          "Service Accounts"
        ],
        "parameters": [
          {
            "name": "accountName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Service account name"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceAccountResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/rest/v2/write/workspace/new": {
      "post": {
        "operationId": "createWorkspace",
        "summary": "Create workspace",
        "description": "Create a new workspace.",
        "tags": [
          "Workspaces"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateWorkspaceRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateWorkspaceResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/rest/v2/write/experiment/create": {
      "post": {
        "operationId": "createExperiment",
        "summary": "Create experiment",
        "description": "Create an experiment.",
        "tags": [
          "Experiments"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateExperimentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateExperimentResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/rest/v2/write/experiment/stop": {
      "get": {
        "operationId": "stopExperiment",
        "summary": "Stop experiment",
        "description": "Stop an experiment.",
        "tags": [
          "Experiments"
        ],
        "parameters": [
          {
            "name": "experimentKey",
            "in": "query",
            "description": "Experiment key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SimpleResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/rest/v2/write/experiment/archive": {
      "get": {
        "operationId": "archiveExperiment",
        "summary": "Archive experiment",
        "description": "Archive an experiment.",
        "tags": [
          "Experiments"
        ],
        "parameters": [
          {
            "name": "experimentKey",
            "in": "query",
            "description": "Experiment key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SimpleResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/rest/v2/write/experiment/delete": {
      "get": {
        "operationId": "deleteExperiment",
        "summary": "Delete experiment",
        "description": "Delete an experiment.",
        "tags": [
          "Experiments"
        ],
        "parameters": [
          {
            "name": "experimentKey",
            "in": "query",
            "description": "Experiment key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SimpleResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/rest/v2/write/experiment/restore": {
      "get": {
        "operationId": "restoreExperiment",
        "summary": "Restore experiment",
        "description": "Restore an experiment.",
        "tags": [
          "Experiments"
        ],
        "parameters": [
          {
            "name": "experimentKey",
            "in": "query",
            "description": "Experiment key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SimpleResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/rest/v2/write/experiment/move": {
      "post": {
        "operationId": "moveExperiment",
        "summary": "Move experiment",
        "description": "Move or symlink an experiment to another project.",
        "tags": [
          "Experiments"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MoveExperimentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SimpleResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/rest/v2/write/project/symlink": {
      "get": {
        "operationId": "addSymlink",
        "summary": "Add symlink to experiment",
        "description": "Add a symlink to an experiment.",
        "tags": [
          "Experiments"
        ],
        "parameters": [
          {
            "name": "experimentKey",
            "in": "query",
            "description": "Experiment key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "projectName",
            "in": "query",
            "description": "Project name",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SimpleResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/rest/v2/write/experiment/set-status": {
      "get": {
        "operationId": "setExperimentStatus",
        "summary": "Send keep-alive signal",
        "description": "Send an experiment's keep-alive signal.",
        "tags": [
          "Experiments"
        ],
        "parameters": [
          {
            "name": "experimentKey",
            "in": "query",
            "description": "Experiment key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SimpleResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/rest/v2/write/experiment/set-start-end-time": {
      "post": {
        "operationId": "setExperimentStartEndTime",
        "summary": "Set experiment start/end time",
        "description": "Set an experiment's start and end time.",
        "tags": [
          "Experiments"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SetStartEndTimeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SimpleResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/rest/v2/write/experiment/log-other": {
      "post": {
        "operationId": "logOther",
        "summary": "Log other",
        "description": "Log a key/value other data.",
        "tags": [
          "Experiment Logging"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LogOtherRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SimpleResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/rest/v2/write/experiment/parameter": {
      "post": {
        "operationId": "logParameter",
        "summary": "Log parameter",
        "description": "Log a parameter name and value.",
        "tags": [
          "Experiment Logging"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LogParameterRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SimpleResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/rest/v2/write/experiment/metric": {
      "post": {
        "operationId": "logMetric",
        "summary": "Log metric",
        "description": "Log a metric name and value.",
        "tags": [
          "Experiment Logging"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LogMetricRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
[...]
