{
  "openapi": "3.0.3",
  "info": {
    "title": "Bugcrowd API",
    "version": "2025-04-23",
    "description": "Bugcrowd bug bounty platform API. JSON:API compliant REST API for managing programs, submissions, targets, organizations, and webhooks.",
    "x-jentic-source-url": "https://docs.bugcrowd.com/api/getting-started/",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://api.bugcrowd.com"
    }
  ],
  "paths": {
    "/programs": {
      "get": {
        "operationId": "listPrograms",
        "summary": "List programs",
        "description": "Returns a paginated list of programs accessible to the authenticated user.",
        "tags": [
          "Programs"
        ],
        "parameters": [
          {
            "name": "fields[program]",
            "in": "query",
            "description": "Sparse fieldset for program attributes",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include",
            "in": "query",
            "description": "Related resources to include (e.g., current_brief, organization)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[organization_id]",
            "in": "query",
            "description": "Filter by organization UUID(s)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort criteria",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page[limit]",
            "in": "query",
            "description": "Number of records per page (max 100)",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 25,
              "maximum": 100
            }
          },
          {
            "name": "page[offset]",
            "in": "query",
            "description": "Number of records to skip",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of programs",
            "content": {
              "application/vnd.bugcrowd+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProgramListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/vnd.bugcrowd+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/vnd.bugcrowd+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/programs/{program_id}": {
      "get": {
        "operationId": "getProgram",
        "summary": "Get a program",
        "description": "Returns details for a specific program.",
        "tags": [
          "Programs"
        ],
        "parameters": [
          {
            "name": "program_id",
            "in": "path",
            "required": true,
            "description": "Program UUID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "fields[program]",
            "in": "query",
            "description": "Sparse fieldset",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include",
            "in": "query",
            "description": "Related resources to include",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Program details",
            "content": {
              "application/vnd.bugcrowd+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProgramResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/vnd.bugcrowd+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/vnd.bugcrowd+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/vnd.bugcrowd+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/submissions": {
      "get": {
        "operationId": "listSubmissions",
        "summary": "List submissions",
        "description": "Returns a paginated list of submissions.",
        "tags": [
          "Submissions"
        ],
        "parameters": [
          {
            "name": "fields[submission]",
            "in": "query",
            "description": "Sparse fieldset for submission attributes",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include",
            "in": "query",
            "description": "Related resources to include (e.g., program, target)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[program_id]",
            "in": "query",
            "description": "Filter by program UUID",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[assignee]",
            "in": "query",
            "description": "Filter by assignee (email, 'me', or 'none')",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[blocked_by]",
            "in": "query",
            "description": "Filter by blocker status",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[duplicate]",
            "in": "query",
            "description": "Filter duplicates",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "filter[severity]",
            "in": "query",
            "description": "Filter by severity",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[state]",
            "in": "query",
            "description": "Filter by state",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[submitted]",
            "in": "query",
            "description": "Filter by submission date range (e.g., from.2021-01-01,to.2021-12-31)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort criteria (e.g., severity-asc,submitted-desc)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page[limit]",
            "in": "query",
            "description": "Page size (max 100)",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 25,
              "maximum": 100
            }
          },
          {
            "name": "page[offset]",
            "in": "query",
            "description": "Offset",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of submissions",
            "content": {
              "application/vnd.bugcrowd+json": {
                "schema": {
                  "$ref": "#/components/schemas/SubmissionListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/vnd.bugcrowd+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/vnd.bugcrowd+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/submissions/{submission_id}": {
      "get": {
        "operationId": "getSubmission",
        "summary": "Get a submission",
        "description": "Returns details for a specific submission.",
        "tags": [
          "Submissions"
        ],
        "parameters": [
          {
            "name": "submission_id",
            "in": "path",
            "required": true,
            "description": "Submission UUID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "fields[submission]",
            "in": "query",
            "description": "Sparse fieldset",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include",
            "in": "query",
            "description": "Related resources",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Submission details",
            "content": {
              "application/vnd.bugcrowd+json": {
                "schema": {
                  "$ref": "#/components/schemas/SubmissionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/vnd.bugcrowd+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/vnd.bugcrowd+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "updateSubmission",
        "summary": "Update a submission",
        "description": "Updates the state or attributes of a submission.",
        "tags": [
          "Submissions"
        ],
        "parameters": [
          {
            "name": "submission_id",
            "in": "path",
            "required": true,
            "description": "Submission UUID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/vnd.bugcrowd+json": {
              "schema": {
                "$ref": "#/components/schemas/SubmissionUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated submission",
            "content": {
              "application/vnd.bugcrowd+json": {
                "schema": {
                  "$ref": "#/components/schemas/SubmissionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/vnd.bugcrowd+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/vnd.bugcrowd+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/targets": {
      "get": {
        "operationId": "listTargets",
        "summary": "List targets",
        "description": "Returns a paginated list of targets.",
        "tags": [
          "Targets"
        ],
        "parameters": [
          {
            "name": "fields[target]",
            "in": "query",
            "description": "Sparse fieldset",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[target_group_id]",
            "in": "query",
            "description": "Filter by target group UUID",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page[limit]",
            "in": "query",
            "description": "Page size",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 25,
              "maximum": 100
            }
          },
          {
            "name": "page[offset]",
            "in": "query",
            "description": "Offset",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of targets",
            "content": {
              "application/vnd.bugcrowd+json": {
                "schema": {
                  "$ref": "#/components/schemas/TargetListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/vnd.bugcrowd+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/vnd.bugcrowd+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/organizations": {
      "get": {
        "operationId": "listOrganizations",
        "summary": "List organizations",
        "description": "Returns organizations accessible to the authenticated user.",
        "tags": [
          "Organizations"
        ],
        "parameters": [
          {
            "name": "fields[organization]",
            "in": "query",
            "description": "Sparse fieldset",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page[limit]",
            "in": "query",
            "description": "Page size",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 25,
              "maximum": 100
            }
          },
          {
            "name": "page[offset]",
            "in": "query",
            "description": "Offset",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of organizations",
            "content": {
              "application/vnd.bugcrowd+json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonApiListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/vnd.bugcrowd+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/vnd.bugcrowd+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "JsonApiResource": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string"
          },
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "attributes": {
            "type": "object"
          },
          "relationships": {
            "type": "object"
          }
        }
      },
      "ProgramListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/JsonApiResource"
            }
          },
          "links": {
            "$ref": "#/components/schemas/PaginationLinks"
          },
          "included": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/JsonApiResource"
            }
          }
        }
      },
      "ProgramResponse": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/JsonApiResource"
          },
          "included": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/JsonApiResource"
            }
          }
        }
      },
      "SubmissionListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/JsonApiResource"
            }
          },
          "links": {
            "$ref": "#/components/schemas/PaginationLinks"
          },
          "included": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/JsonApiResource"
            }
          }
        }
      },
      "SubmissionResponse": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/JsonApiResource"
          },
          "included": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/JsonApiResource"
            }
          }
        }
      },
      "SubmissionUpdateRequest": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "submission"
                ]
              },
              "attributes": {
                "type": "object",
                "properties": {
                  "state": {
                    "type": "string",
                    "enum": [
                      "unresolved",
                      "resolved",
                      "not_applicable",
                      "not_reproducible",
                      "triaged",
                      "out_of_scope"
                    ]
                  }
                }
              }
            }
          }
        }
      },
      "TargetListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/JsonApiResource"
            }
          },
          "links": {
            "$ref": "#/components/schemas/PaginationLinks"
          }
        }
      },
      "JsonApiListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/JsonApiResource"
            }
          },
          "links": {
            "$ref": "#/components/schemas/PaginationLinks"
          }
        }
      },
      "PaginationLinks": {
        "type": "object",
        "properties": {
          "self": {
            "type": "string"
          },
          "next": {
            "type": "string"
          },
          "previous": {
            "type": "string"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "errors": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string"
                },
                "title": {
                  "type": "string"
                },
                "detail": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "securitySchemes": {
      "tokenAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "Token-based auth: username:password from API token"
      }
    }
  },
  "security": [
    {
      "tokenAuth": []
    }
  ],
  "tags": [
    {
      "name": "Organizations"
    },
    {
      "name": "Programs"
    },
    {
      "name": "Submissions"
    },
    {
      "name": "Targets"
    }
  ]
}
