{
  "openapi": "3.0.3",
  "info": {
    "title": "Radar API",
    "version": "1.0.0",
    "description": "Radar is a location infrastructure platform providing geofencing, geocoding, routing, and location tracking. The API enables location-based experiences including geofence management, forward/reverse geocoding, distance/route calculations, user tracking, and trip management.",
    "x-jentic-source-url": "https://radar.com/documentation/api",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://api.radar.io/v1",
      "description": "Radar API v1"
    }
  ],
  "paths": {
    "/geocode/forward": {
      "get": {
        "operationId": "geocodeForward",
        "summary": "Forward geocode",
        "description": "Geocodes an address, converting to latitude and longitude.",
        "tags": [
          "Geocoding"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "description": "Address or place name to geocode",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "layers",
            "in": "query",
            "description": "Comma-separated list of layers to search",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "country",
            "in": "query",
            "description": "Country filter (ISO 3166-1 alpha-2)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Geocode results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeocodeResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/geocode/reverse": {
      "get": {
        "operationId": "geocodeReverse",
        "summary": "Reverse geocode",
        "description": "Converts coordinates to addresses.",
        "tags": [
          "Geocoding"
        ],
        "parameters": [
          {
            "name": "coordinates",
            "in": "query",
            "required": true,
            "description": "Latitude,longitude",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "layers",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Reverse geocode results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeocodeResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/geocode/ip": {
      "get": {
        "operationId": "geocodeIp",
        "summary": "IP geocode",
        "description": "Converts an IP address to a location.",
        "tags": [
          "Geocoding"
        ],
        "parameters": [
          {
            "name": "ip",
            "in": "query",
            "description": "IP address to geocode (uses request IP if omitted)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "IP geocode result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IpGeocodeResponse"
                }
              }
            }
          }
        }
      }
    },
    "/search/autocomplete": {
      "get": {
        "operationId": "searchAutocomplete",
        "summary": "Autocomplete search",
        "description": "Returns autocomplete suggestions for a partial address or place name.",
        "tags": [
          "Search"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "near",
            "in": "query",
            "description": "Latitude,longitude for biasing results",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "layers",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 10
            }
          },
          {
            "name": "country",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Search results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResponse"
                }
              }
            }
          }
        }
      }
    },
    "/search/places": {
      "get": {
        "operationId": "searchPlaces",
        "summary": "Search nearby places",
        "tags": [
          "Search"
        ],
        "parameters": [
          {
            "name": "near",
            "in": "query",
            "required": true,
            "description": "Latitude,longitude",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "radius",
            "in": "query",
            "description": "Search radius in meters",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "chains",
            "in": "query",
            "description": "Filter by chain slugs",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "categories",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Nearby places",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResponse"
                }
              }
            }
          }
        },
        "description": "Search nearby places"
      }
    },
    "/route/distance": {
      "get": {
        "operationId": "getRouteDistance",
        "summary": "Calculate distance",
        "description": "Calculates the travel distance and duration between an origin and destination.",
        "tags": [
          "Routing"
        ],
        "parameters": [
          {
            "name": "origin",
            "in": "query",
            "required": true,
            "description": "Origin latitude,longitude",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "destination",
            "in": "query",
            "required": true,
            "description": "Destination latitude,longitude",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "modes",
            "in": "query",
            "description": "Travel modes (foot,bike,car,truck,transit)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "units",
            "in": "query",
            "description": "Distance units",
            "schema": {
              "type": "string",
              "enum": [
                "imperial",
                "metric"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Distance result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DistanceResponse"
                }
              }
            }
          }
        }
      }
    },
    "/route/matrix": {
      "get": {
        "operationId": "getRouteMatrix",
        "summary": "Calculate distance matrix",
        "description": "Calculates the travel distances and durations between multiple origins and destinations.",
        "tags": [
          "Routing"
        ],
        "parameters": [
          {
            "name": "origins",
            "in": "query",
            "required": true,
            "description": "Pipe-separated origins (lat,lng|lat,lng)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "destinations",
            "in": "query",
            "required": true,
            "description": "Pipe-separated destinations",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "mode",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "foot",
                "bike",
                "car",
                "truck",
                "transit"
              ]
            }
          },
          {
            "name": "units",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "imperial",
                "metric"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Distance matrix",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MatrixResponse"
                }
              }
            }
          }
        }
      }
    },
    "/geofences": {
      "get": {
        "operationId": "listGeofences",
        "summary": "List geofences",
        "tags": [
          "Geofences"
        ],
        "parameters": [
          {
            "name": "tag",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 100
            }
          },
          {
            "name": "createdBefore",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "createdAfter",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Geofence list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeofenceListResponse"
                }
              }
            }
          }
        },
        "description": "List geofences"
      },
      "post": {
        "operationId": "upsertGeofence",
        "summary": "Create or update a geofence",
        "tags": [
          "Geofences"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GeofenceRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Geofence created/updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeofenceResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          }
        },
        "description": "Create or update a geofence"
      }
    },
    "/geofences/{tag}/{externalId}": {
      "get": {
        "operationId": "getGeofence",
        "summary": "Get a geofence",
        "tags": [
          "Geofences"
        ],
        "parameters": [
          {
            "name": "tag",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "externalId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Geofence details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeofenceResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Get a geofence"
      },
      "delete": {
        "operationId": "deleteGeofence",
        "summary": "Delete a geofence",
        "tags": [
          "Geofences"
        ],
        "parameters": [
          {
            "name": "tag",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "externalId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Geofence deleted"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Delete a geofence"
      }
    },
    "/track": {
      "post": {
        "operationId": "trackUser",
        "summary": "Track a user",
        "description": "Tracks a user's location and generates events (geofence entry/exit, place visit, etc.).",
        "tags": [
          "Track"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TrackRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Track response with events",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrackResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    },
    "/users/{userId}": {
      "get": {
        "operationId": "getUser",
        "summary": "Get a user",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RadarUser"
                }
              }
            }
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Get a user"
      },
      "delete": {
        "operationId": "deleteUser",
        "summary": "Delete a user",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User deleted"
          },
          "404": {
            "description": "Not found"
          }
        },
        "description": "Delete a user"
      }
    },
    "/events": {
      "get": {
        "operationId": "listEvents",
        "summary": "List events",
        "tags": [
          "Events"
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "deviceId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "createdBefore",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "createdAfter",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Event list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventListResponse"
                }
              }
            }
          }
        },
        "description": "List events"
      }
    },
    "/trips": {
      "get": {
        "operationId": "listTrips",
        "summary": "List trips",
        "tags": [
          "Trips"
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "started",
                "approaching",
                "arrived",
                "expired",
                "completed"
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Trip list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TripListResponse"
                }
              }
            }
          }
        },
        "description": "List trips"
      }
    }
  },
  "components": {
    "schemas": {
      "GeocodeResponse": {
        "type": "object",
        "properties": {
          "meta": {
            "$ref": "#/components/schemas/Meta"
          },
          "addresses": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Address"
            }
          }
        }
      },
      "IpGeocodeResponse": {
        "type": "object",
        "properties": {
          "meta": {
            "$ref": "#/components/schemas/Meta"
          },
          "address": {
            "$ref": "#/components/schemas/Address"
          },
          "ip": {
            "type": "string"
          },
          "proxy": {
            "type": "boolean"
          }
        }
      },
      "SearchResponse": {
        "type": "object",
        "properties": {
          "meta": {
            "$ref": "#/components/schemas/Meta"
          },
          "addresses": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Address"
            }
          },
          "places": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Place"
            }
          }
        }
      },
      "DistanceResponse": {
        "type": "object",
        "properties": {
          "meta": {
            "$ref": "#/components/schemas/Meta"
          },
          "routes": {
            "type": "object",
            "description": "Routes keyed by travel mode"
          }
        }
      },
      "MatrixResponse": {
        "type": "object",
        "properties": {
          "meta": {
            "$ref": "#/components/schemas/Meta"
          },
          "matrix": {
            "type": "array",
            "items": {
              "type": "array",
              "items": {
                "type": "object"
              }
            }
          }
        }
      },
      "GeofenceListResponse": {
        "type": "object",
        "properties": {
          "meta": {
            "$ref": "#/components/schemas/Meta"
          },
          "geofences": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Geofence"
            }
          }
        }
      },
      "GeofenceResponse": {
        "type": "object",
        "properties": {
          "meta": {
            "$ref": "#/components/schemas/Meta"
          },
          "geofence": {
            "$ref": "#/components/schemas/Geofence"
          }
        }
      },
      "GeofenceRequest": {
        "type": "object",
        "properties": {
          "description": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "circle",
              "polygon",
              "isochrone"
            ]
          },
          "tag": {
            "type": "string"
          },
          "externalId": {
            "type": "string"
          },
          "coordinates": {
            "type": "array",
            "items": {
              "type": "number"
            },
            "description": "[longitude, latitude]"
          },
          "radius": {
            "type": "integer",
            "description": "Radius in meters for circle geofences"
          },
          "metadata": {
            "type": "object"
          },
          "enabled": {
            "type": "boolean",
            "default": true
          }
        },
        "required": [
          "type",
          "tag",
          "externalId"
        ]
      },
      "Geofence": {
        "type": "object",
        "properties": {
          "_id": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "tag": {
            "type": "string"
          },
          "externalId": {
            "type": "string"
          },
          "geometryCenter": {
            "type": "object",
            "properties": {
              "coordinates": {
                "type": "array",
                "items": {
                  "type": "number"
                }
              }
            }
          },
          "geometryRadius": {
            "type": "number"
          },
          "metadata": {
            "type": "object"
          },
          "enabled": {
            "type": "boolean"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "TrackRequest": {
        "type": "object",
        "properties": {
          "userId": {
            "type": "string"
          },
          "deviceId": {
            "type": "string"
          },
          "latitude": {
            "type": "number"
          },
          "longitude": {
            "type": "number"
          },
          "accuracy": {
            "type": "number"
          },
          "foreground": {
            "type": "boolean"
          },
          "stopped": {
            "type": "boolean"
          },
          "metadata": {
            "type": "object"
          }
        },
        "required": [
          "latitude",
          "longitude"
        ]
      },
      "TrackResponse": {
        "type": "object",
        "properties": {
          "meta": {
            "$ref": "#/components/schemas/Meta"
          },
          "events": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Event"
            }
          },
          "user": {
            "$ref": "#/components/schemas/RadarUser"
          }
        }
      },
      "RadarUser": {
        "type": "object",
        "properties": {
          "_id": {
            "type": "string"
          },
          "userId": {
            "type": "string"
          },
          "deviceId": {
            "type": "string"
          },
          "location": {
            "type": "object"
          },
          "geofences": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Geofence"
            }
          },
          "metadata": {
            "type": "object"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Event": {
        "type": "object",
        "properties": {
          "_id": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "confidence": {
            "type": "integer"
          },
          "location": {
            "type": "object"
          },
          "geofence": {
            "$ref": "#/components/schemas/Geofence"
          },
          "place": {
            "$ref": "#/components/schemas/Place"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "EventListResponse": {
        "type": "object",
        "properties": {
          "meta": {
            "$ref": "#/components/schemas/Meta"
          },
          "events": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Event"
            }
          }
        }
      },
      "TripListResponse": {
        "type": "object",
        "properties": {
          "meta": {
            "$ref": "#/components/schemas/Meta"
          },
          "trips": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "Address": {
        "type": "object",
        "properties": {
          "latitude": {
            "type": "number"
          },
          "longitude": {
            "type": "number"
          },
          "geometry": {
            "type": "object"
          },
          "addressLabel": {
            "type": "string"
          },
          "formattedAddress": {
            "type": "string"
          },
          "country": {
            "type": "string"
          },
          "countryCode": {
            "type": "string"
          },
          "countryFlag": {
            "type": "string"
          },
          "state": {
            "type": "string"
          },
          "stateCode": {
            "type": "string"
          },
          "postalCode": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "borough": {
            "type": "string"
          },
          "county": {
            "type": "string"
          },
          "neighborhood": {
            "type": "string"
          },
          "street": {
            "type": "string"
          },
          "number": {
            "type": "string"
          },
          "layer": {
            "type": "string"
          },
          "confidence": {
            "type": "string"
          }
        }
      },
      "Place": {
        "type": "object",
        "properties": {
          "_id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "categories": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "chain": {
            "type": "object",
            "properties": {
              "slug": {
                "type": "string"
              },
              "name": {
                "type": "string"
              }
            }
          },
          "location": {
            "type": "object"
          }
        }
      },
      "Meta": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer"
          }
        }
      }
    },
    "securitySchemes": {
      "SecretKey": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "description": "Secret API key (server-side only)"
      },
      "PublishableKey": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "description": "Publishable API key (client-side)"
      }
    }
  },
  "security": [
    {
      "SecretKey": []
    }
  ],
  "tags": [
    {
      "name": "Events"
    },
    {
      "name": "Geocoding"
    },
    {
      "name": "Geofences"
    },
    {
      "name": "Routing"
    },
    {
      "name": "Search"
    },
    {
      "name": "Track"
    },
    {
      "name": "Trips"
    },
    {
      "name": "Users"
    }
  ]
}
